[2018-08-07 09:38] vikasrohit commented on #2296
@rmjmccormick Spam projects I am referring to are test projects created by us (prod dev) or any topcoder user which is marked as spam/demo by operations team. We get many spam projects daily in our system.
and when it comes to deleted them from backend, that is tricky because we have to deleted many entities associated with a project when a project is deleted. We can allow only `administrators` or

[2018-08-07 10:05] maxceem commented on #2291
@vikasrohit if we keep loader only for the updated milestone we have same drawbacks as the 2nd option with a silent update. The thing is, that if we don't block the UI for milestones which are being updated user can start interacting with them. And when the timeline update is finished we redraw updated milestones which will lead to the loss of the changes made by a user while the request was proce

[2018-08-07 10:44] maxceem commented on #2291
@vikasrohit done

[2018-08-07 10:47] maxceem commented on #2304
@vikasrohit done

[2018-08-07 11:49] RishiRajSahu opened #2307 "Create a 'generic-type' milestone which could be used for adding adhoc milestone as per required."
We have below concepts associated with milestone as of now -
1.**Milestone Type** - phase-specification, community-work etc..
2.**Milestone Name** - A milestone of particular type could have any name as required, for example - `phase-specification` type of milestone can have name `Gather-requirements` in one product while in other product it could be named as `Specifications` simply.

Having above

[2018-08-07 12:35] vikasrohit commented on #2286
@maxceem when do you expect this one to be in fix branch?

[2018-08-07 12:37] vikasrohit commented on #2287
Fixed that in backend.

[2018-08-07 12:40] maxceem commented on #2286
@vikasrohit tomorrow till the EOD if that is ok.

[2018-08-07 13:15] maxceem commented on #2248
Done.
For tests:
Example of a project with timelines http://local.topcoder-dev.com:3000/projects/6375/plan
Example of a project without timelines http://local.topcoder-dev.com:3000/projects/6375/plan

[2018-08-07 13:19] maxceem opened #2308 "Support projects which has phases but doesn't have timelines"
There are some projects which have phases but doesn't have timelines. See for example https://connect.topcoder-dev.com/projects/6375/plan

To support them properly:
1. Remove timeline tab:

    ![image](https://user-images.githubusercontent.com/146016/43778125-71c11830-9a87-11e8-8cb0-5f4acd0d79c5.png)

2. Fix error in browser console:
[code]

[2018-08-07 14:53] vic-topcoder opened #2309 "Display legacy products as phases on project plan to managers only"
We must support legacy products when upgrading projects into a new system. The goal is to allow information transferred into the new project, but rebuild the project plan with only the new phases that support timeline template.

The solution is to display the legacy products as manager/copilot read-only phase where in the Timeline tab we'll display a message (@acshields we'll need your help on lan

[2018-08-07 14:56] vic-topcoder commented on #2309
Let's figure out if we need to display the legacy product as delivered to the customer when we upgrade projects - that's a question for Joey and team. @acshields can you please clarify the requirements there? Thanks

[2018-08-07 15:03] vic-topcoder commented on #2296
I think in the past the decision was made to not delete spam projects, but hide them from the interface. Those are the "draft" projects and in general with the upcoming updates to project creation the friction to create a project would increase and this would limit the number of spam. I agree we do not want to start deleting projects form the database. We're not at the point where we have to start

[2018-08-07 18:16] acshields opened #2310 "*High Priority* Formatting in Messaging (CSS Issue)"
### Expected behavior
Text in messaging should fit within the parameters of the white messaging box (post card), and have scrolling behavior.

![image](https://user-images.githubusercontent.com/41118149/43794406-fd57940a-9a32-11e8-947a-577ecbf771f8.png)

### Actual behavior
Currently text in messaging is spilling over the parameters of the post card and is not scrolling.

<img width="954" alt="scr

[2018-08-07 18:20] vic-topcoder opened #2311 "[$60] System spell check is not working with post composer"
### Expected behavior
When typing a message in the post composer, the system should be able to highlight the misspelled words. This feature is working in the basic draft.js. It is really important to enable spell check as it prevents typos when our managers/copilots message customers.

Side question: is there a plugin for Draftjs that allows for Grammerly integration, or third-party spelling and g

[2018-08-07 18:23] vic-topcoder opened #2312 "Add RUX final design acceptance milestone"
For RUX final design selection we have to allow selection of 8 final designs, so I'll add the design based on the regular 3 winner selection.

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-300

[2018-08-08 01:43] maxceem opened #2313 "Fix calculating total phases duration and dates"
~~Currently, total phases duration and dates look like not calculated properly.~~ (**Update** it calculates properly, I've forgotten that it doesn't take into account draft phases. Though the below thing still has to be taken into account.)

It also has to take into account that some phases duration and dates are calculated based on timeline if has. And if a phase doesn't have a timeline, then bas

[2018-08-08 01:45] maxceem commented on #2286
Done.
For testing:
Example of a project with timelines http://local.topcoder-dev.com:3000/projects/6375/plan
Example of a project without timelines http://local.topcoder-dev.com:3000/projects/6375/plan

[2018-08-08 03:41] maxceem commented on #2308
Done.

3. Previously timelines were loaded by `ProductTimelinesContainer` which was mounted inside the timeline tab. But now we need to know if we have to show the tab in advance because we have to decide to show it or not. So I've moved loading timelines to the dashboard action. So now timelines are being loaded for the whole page together with the rest of the stuff.
As we actually need timelines

[2018-08-08 05:25] RishiRajSahu commented on #2272
@maxceem yeah it needs to be handled in more mobile friendly way, @vic-topcoder inputs ?

[2018-08-08 05:26] maxceem commented on #2273
@vikasrohit  @RishiRajSahu could please have a look on this items 1, 3 and 4.
Items 2 and 5 looks like a clear bugs for me with only one correct solution, so you may skip them.

[2018-08-08 05:33] RishiRajSahu commented on #2273
it seems we don't have designs for
1.Long header text
3.Links with title
4.Long text of deliverable link

as per me

1. we put proper spacing between and around the header text, assuming if its longer than two lines show elipses
3.showing them on next line seems the correct way to me
4.it could be wrapped

still needs @vic-topcoder inputs on this before starting dev work.

[2018-08-08 05:57] vikasrohit commented on #2308
Thanks @maxceem. Yes, this should be intended behaviour and in fact I was under impression we got it handled already. Anyway, it is good to get it fixed before release.
On your last point, I understand that we need to load the timelines data on dashboard to be able to update the UI portions based on that. I just want to make sure that, as we are not showing the timeline data by default on page loa

[2018-08-08 06:08] maxceem commented on #2308
@vikasrohit after this update timeline data IS included in project loading indicator. Means loading timelines prolongs the whole project loading time after this fix.

I implemented it this way for now as we also need timeline data to calculate phases durations and start/end date.
If we make loading timelines silent then by default phases will show dates and duration based on their internal data. A

[2018-08-08 06:08] vikasrohit commented on #2296
Yes, down the road they would definitely have significant impact on performance considering that very high percentage of our total projects are spam projects.

[2018-08-08 06:18] maxceem opened #2315 "Remove unwanted calls to get phase products"
Remove unwanted call to get phase products, as now phase can return products on passing `fields`.

For now to get a project with phases and products we make multiples calls:
- get list of phases (1 call)
- for each phase get list of products (`phases.length` calls)

Now API supports `fields` query param when requesting the list of phases `/v4/projects/6976/phases?fields=status,......,products` whi

[2018-08-08 06:37] maxceem opened #2317 "Handling all errors for timeline-milestone api calls"
For now, if some error is happening during timeline-milestones server requests, they are not displayed.

[2018-08-08 06:44] vikasrohit commented on #2304
Thanks @maxceem. Do you think the changes to the SelectDropdown can affect other places where it is used right now or the changes are backward compatible?

[2018-08-08 06:49] maxceem commented on #2304
It's being used only in two more places, I've checked them and didn't find any new issues caused by my changes. By logic, it also doesn't have to break anything aka backward compatible.

[2018-08-08 06:50] vikasrohit commented on #2304
👍

[2018-08-08 06:55] vikasrohit commented on #2310
Patched on production.

[2018-08-08 06:55] #2310 closed

[2018-08-08 06:57] vikasrohit commented on #2308
Yup, makes sense. Lets stick to the way you implemented right now. But we need to find out way to improve the dashboard load performance.

[2018-08-08 06:58] RishiRajSahu opened #2319 "Updating phase start date when when marking it as active"
By default the `startDate` of the phase is set as the creation Date or, if adding explicitly, one day more than the latest `endDate` of all existing milestones.

When we mark phase as active the timeline's first milestone's startDate gets updated with the current Date but the phase startDate doesn't obeys this. So when marking phase as active the `startDate` of phase should also be updated with cu

[2018-08-08 06:59] vikasrohit opened #2320 "[$50] Reduce number of calls to fetch the auth token"
### Expected behavior
Ideally we should send only one call to the identity api to get refreshed token

### Actual behavior
it is making more than one call, when user refreshes the page

### Screenshot/screencast
<img width="1246" alt="screen shot 2018-08-06 at 2 52 18 pm" src="https://user-images.githubusercontent.com/2417632/43821389-a75aae64-9b06-11e8-983e-2355746ae133.png">

--

#### Environmen

[2018-08-08 07:00] vikasrohit commented on #2320
@maxceem do you have idea about how to fix this situation? It is not on priority, but we can take care of it in next release.

[2018-08-08 07:00] RishiRajSahu opened #2321 "Adding ability of requesting extension for each milestone"
We should allow each milestone to request for extension.

fyi @vikasrohit

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-306

[2018-08-08 07:04] maxceem commented on #2302
6. When create a new **Visual Design** project on the wizard page http://local.topcoder-dev.com:3000/new-project/visual_design_prod there are three warnings:
[code]

[2018-08-08 07:07] vikasrohit commented on #2290
@gondzo fixed and patched on production. Please let us know if it is still not working.

[2018-08-08 07:07] #2290 closed

[2018-08-08 07:07] vikasrohit commented on #2290
Just as reference of the duplicate #2310

[2018-08-08 07:09] vikasrohit commented on #2319
fyi @acshields @vic-topcoder @rmjmccormick

[2018-08-08 07:11] maxceem commented on #2317
Done.

Also added notifications for some success operations:
- Milestone is completed.
- Milestone is extended.
- Final fixes are submitted.

[2018-08-08 07:15] vikasrohit commented on #2280
@vic-topcoder closing the issue, please create a new issue if you think it is still not matching the designs.

[2018-08-08 07:15] #2280 closed

[2018-08-08 07:15] vikasrohit commented on #2278
Closing. @vic-topcoder please create new issue if you think it needs more changes.

[2018-08-08 07:15] #2278 closed

[2018-08-08 07:17] vikasrohit commented on #2315
👍

[2018-08-08 08:53] vikasrohit commented on #2276
Working fine now. Closing.

[2018-08-08 08:53] #2276 closed

[2018-08-08 09:00] vikasrohit opened #2323 "Two milestones are active at the same time when phase is made active twice"
### Expected behavior
It should not activate and update the start date of the first milestone when there is already an active milestone for the timeline.

### Actual behavior
It activates and updates the start date of the first milestone even if there is already active milestone.

### Steps to reproduce the problem
- Add a new phase to a project
- Mark phase `In Progress`
- Notice the timeline bei

[2018-08-08 09:02] vikasrohit commented on #2304
Working fine. Closing.

[2018-08-08 09:02] #2304 closed

[2018-08-08 09:03] vikasrohit commented on #2248
@maxceem what we really intended here is to have the option for `Delivered` status but make it disabled and show tooltip just like we are doing for `duration` field. Is that possible?

[2018-08-08 09:27] vikasrohit commented on #2288
@maxceem Can we fix this as well? I am seeing this for 411x731 resolution which I think chrome is using for Pixel 2 device.

[2018-08-08 09:30] maxceem commented on #2288
@vikasrohit I've forgotten to list that one under https://github.com/appirio-tech/connect-app/issues/2273

Will fix it here.

[2018-08-08 09:31] vikasrohit commented on #2288
👍

[2018-08-08 09:32] #2288 closed

[2018-08-08 09:36] maxceem commented on #2293
Done.

It required us to move description to each of milestone type component which looks like repeating the same code. But I think very soon we will show description not only depend on the status but also depend on many other conditions specific to milestone type. So this change will be a good base for that.

[2018-08-08 09:55] maxceem commented on #2248
@vikasrohit done via https://github.com/appirio-tech/connect-app/commit/258d4786634f3a0f5e542f6ad73feddb84f140b5

[2018-08-08 09:58] vikasrohit opened #2324 "Read progress and duration fields in phase edit form from milestones"
When there is a timeline associated with phase, we need to show the `duration` and `progress` fields  by calculating the values from milestones, disable the fields (`duration` is already disabled) and show the tooltip saying that these fields are controlled via milestones( `duration` already have the required tooltip).

fyi @maxceem

Continued from https://github.com/appirio-tech/connect-app/issue

[2018-08-08 09:59] vikasrohit commented on #2286
@maxceem closing this one and created new issue #2324 for pending work.

[2018-08-08 09:59] #2286 closed

[2018-08-08 10:04] vikasrohit commented on #2317
Working fine, Closing.

[2018-08-08 10:04] #2317 closed

[2018-08-08 10:45] vikasrohit commented on #2291
@maxceem seems to work fine mostly, however, I think we might need to scroll back to the original position because now if I am marking a milestone as complete which is in the last of the timeline, it scrolls me back to the top of the timeline once the milestone is updated and timeline is refreshed.

[2018-08-08 10:48] vikasrohit commented on #2248
Awesome. Thanks.

[2018-08-08 10:50] vikasrohit commented on #2288
I think that is okay for the time being. Only thing is that could we reduce the screen limit more to hide that? I mean instead of 992px, can we hide it somewhere around 768px?

[2018-08-08 10:55] vikasrohit opened #2325 "Scroll back to the updated milestone after updating milestone"
we might need to scroll back to the original position because now if I am marking a milestone as complete which is in the last of the timeline, it scrolls me back to the top of the timeline once the milestone is updated and timeline is refreshed.

continued from https://github.com/appirio-tech/connect-app/issues/2291#issuecomment-411364715

[2018-08-08 10:55] vikasrohit commented on #2291
Closing the issue as its work is done. Created separate issue #2325 for scrolling back to the milestone.

[2018-08-08 10:55] #2291 closed

[2018-08-08 10:57] vikasrohit commented on #2268
Closing as all issues from this bucket are resolved. Please feel to create new issues if any issue is found related to them.

[2018-08-08 10:57] #2268 closed

[2018-08-08 10:58] maxceem commented on #2288
768 I think too late in some situations. This is the 800px and we have to hide I think:

![image](https://user-images.githubusercontent.com/146016/43833254-c1995f10-9b3c-11e8-9276-f41267d0da2e.png)

`992px` is one of the predefined breakpoints. but I can just hide it at a custom breakpoint, let say at 840px, see

![image](https://user-images.githubusercontent.com/146016/43833317-ef86fcd4-9b3c-11e8

[2018-08-08 11:08] vikasrohit commented on #2312
@vic-topcoder IMO, we should consider this for next release as we might some changes in code to support the dynamic count for final design selection if we do properly, or we have to make redundant component of final designs to support 8 winner selection.

[2018-08-08 11:09] vikasrohit commented on #2312
I have moved it to the 2.4.5 milestone, please feel free to move it back if it is really urgent to get done in this release.

[2018-08-08 11:17] vikasrohit commented on #2288
Understood. However, I think ideally, we should not have situation where we have to hide this element in desktop views (where we are showing the left panel) i.e. > 768px. In mobile view it would already remove the left panel so we would get more space to show the element, but we have to hide it in mobile view after certain width. On the desktop views (where we are showing the left panel), we might

[2018-08-08 11:26] RishiRajSahu commented on #2307
Done and pushed to dev.

[2018-08-08 11:26] #2307 closed

[2018-08-08 11:28] maxceem commented on #2273
6. Adjust **add design** link and fake text with the circle for small screens as described in the next comment https://github.com/appirio-tech/connect-app/issues/2288#issuecomment-411371798

[2018-08-08 11:28] vikasrohit commented on #2309
@vic-topcoder @acshields There are couple of things here:
1. There is no option for upgrading an existing project (with project plan but no timelines) to a project with plan and timelines both. We have a migration path for a project without plan to project with project plan. So, I don't think we would have this case for project upgrades.
2. However, we can have this scenario when an existing proje

[2018-08-08 11:31] vikasrohit commented on #2242
@deepakanbarasan1 I am closing it for now, to reduce the number of open issues, as it seems to work fine for me. Please feel free to reopen it if it does not work.

[2018-08-08 11:31] #2242 closed

[2018-08-08 11:56] deepakanbarasan1 commented on #2242
@vikasrohit  and @RishiRajSahu  Looks good in Mobile and WebUI

**Web UI :**
![quick link query usage of unnecessary empty space in ui _web ui](https://user-images.githubusercontent.com/30447858/43835574-13f7cb28-9b30-11e8-96f7-63e119e0590c.PNG)

**Mobile UI :**
![quick link query usage of unnecessary empty space in ui _mobile ui](https://user-images.githubusercontent.com/30447858/43835598-266bb19

[2018-08-08 14:01] vikasrohit commented on #2323
It turns out that backend changes are not required as we are making call on front end to update the status of the first milestone.

[2018-08-08 15:33] deepakanbarasan1 opened #2326 "Spinner stepUp and stepDown button not available in mobile UI to edit basic detail (duration) of the milestone"
**Expected behavior :**
Describe : Spinner stepUp and stepDown button should available in mobile UI to edit basic detail (duration) of the milestone.

**Actual behavior**
Describe: Spinner stepUp and stepDown button not available in mobile UI to edit basic detail (duration) of the milestone.

**Description :**

Spinner stepUp and stepDown button not available in mobile UI to edit basic detail (dur

[2018-08-08 15:35] deepakanbarasan1 commented on #2326
@RishiRajSahu  Please check

[2018-08-08 15:47] deepakanbarasan1 opened #2327 "Start-End date summary on phase card, not reflect the duration as per milestones in the timeline : Mobile UI"
**Expected behavior :**
Describe : Start-End date summary on phase card, should reflect the duration as per milestones in the timeline : Mobile UI

**Actual behavior**
Describe: Start-End date summary on phase card, not reflect the duration as per milestones in the timeline : Mobile UI

**Test Feature :** Start-End date summary on phase card, should reflect the duration as per milestones in the ti

[2018-08-08 15:48] deepakanbarasan1 commented on #2327
@RishiRajSahu  Please check

[2018-08-08 18:02] deepakanbarasan1 opened #2328 "Milestones : Link title can be same name"
**Expected behavior :**
Describe : Milestones  Link title name should not be same

**Actual behavior**
Describe: Milestones link title accepting same name

Test Feature : Wiring  component for checkpoint-review (Adding more link)

**Description :**

Milestones  Link title name should not be same. It's actual behavior for this field ??

**Project Name :** Test project for V 2.4.4 Web UI Phase timel

[2018-08-08 18:03] deepakanbarasan1 commented on #2328
@RishiRajSahu Please check

[2018-08-08 18:57] deepakanbarasan1 opened #2329 "Checkpoint-review : Design Link should not appears out of the Design link field"
**Expected behavior :**
Describe : Checkpoint-review : Design Link should  appears in the Design link field.

**Actual behavior**
Describe: Checkpoint-review : Design Link should not appears out of the Design link field.

Test Feature : Wiring  component for checkpoint-review

**Description :**
Checkpoint-review : Design Link should not appears out of the Design link field.

Project Name : Test pr

[2018-08-08 18:58] deepakanbarasan1 commented on #2329
@RishiRajSahu  Please check

[2018-08-08 19:07] deepakanbarasan1 commented on #2329
Wiring  component for checkpoint-review : Mobile View
Fields not aligned properly
Screen shot :
![checkpoint review design link should not appears out of the design link field_button not aligned properly](https://user-images.githubusercontent.com/30447858/43858717-5b31dfec-9b6c-11e8-9044-4dcf4337d913.PNG)

[2018-08-08 19:18] deepakanbarasan1 opened #2330 "Checkpoint-review : Selected designs should have blue background"
**Expected behavior :**
Describe : Selected designs should have blue background

**Actual behavior**
Describe: Selected designs should not have blue background

Test Feature :  Wiring  component for checkpoint-review

**Description :**

**Checkpoint-review :** Selected designs should have blue background. It's actual behavior for this field ??

Project Name : Test project for V 2.4.4 Web UI Phase

[2018-08-08 19:18] deepakanbarasan1 commented on #2330
@RishiRajSahu  Please check

[2018-08-08 20:09] kbowerma opened #2331 "Release Notes in repo and App"
I would love to see   "Whats new" icon in the app header that opens a view of the parsed the contents of the release notes markdown file from the repo itself or local file.

Along that same line, I would also love to see "Open a Bug"  that launches a form or simply links to the repo's new issue url

I get good developer vibes when I see these two things

[2018-08-09 04:45] maxceem opened #2332 "Phase card cuts dropdown and tooltips"
![image](https://user-images.githubusercontent.com/146016/43878415-96635c16-9bd1-11e8-8f2a-7a348e5e1d26.png)

There was another issue https://github.com/appirio-tech/connect-app/issues/2278 which has two ways to be solved:
1. A quick one, using `overflow: hidden`.
2. A complicated one, adjusting all the inner blocks corners for various situations.

As I didn't find any issues that time I chose the

[2018-08-09 04:54] vic-topcoder opened #2333 "Final milestone types for 2.4.4"
We had a review with @acshields. We should have the basic milestone types as follow:

1. **Timeline start** (optional specification link).
2. **Report milestone** (can be extended)
  A. Development (display progress bar to customer, copilot edits details)
  B. Design (display progress bar to customer & add designs links for review)
3. **Review milestone**
  A. Design checkpoint (customer selects 5

[2018-08-09 05:05] vic-topcoder commented on #2328
I think this is ok to not implement name check, but that's good thinking on having multiple names. Right now the system automatically adds increments when adding links of the same type.

[2018-08-09 05:40] vikasrohit commented on #2328
I don't think it something critical for this release, moving to the next release.

[2018-08-09 05:45] vikasrohit commented on #2242
Thanks @deepakanbarasan1 for verification.

[2018-08-09 05:48] vikasrohit commented on #2330
Thanks @deepakanbarasan1

[Here](https://marvelapp.com/8a94680/screen/41372918) is the design that we have to refer to fix the issue.

[2018-08-09 05:51] vikasrohit commented on #2329
@vic-topcoder How would like to design this case? Ellipsis the link text?

[2018-08-09 05:53] vikasrohit commented on #2329
@maxceem for now, could you please ellipsis the link text so that it does not go out of the bounds?

[2018-08-09 05:55] vikasrohit commented on #2327
@deepakanbarasan1 we don't have that for mobile view by design https://marvelapp.com/8a94680/screen/41372923. Please feel free to reopen the issue if you were concerned about something else.

[2018-08-09 05:55] #2327 closed

[2018-08-09 06:08] maxceem commented on #2330
Done. Also fixed the same issue for final-designs milestone when choosing winners.

[2018-08-09 06:24] vikasrohit commented on #2269
Its working fine. Closing. We do have another issue with jumping screen which is captured here #2325

[2018-08-09 06:24] #2269 closed

[2018-08-09 06:25] RishiRajSahu commented on #2300
Done and merged to dev.

[2018-08-09 06:25] #2300 closed

[2018-08-09 06:27] maxceem commented on #2329
Done.

Wide Desktop

![image](https://user-images.githubusercontent.com/146016/43881723-bcd9cc78-9bdf-11e8-94c0-c162b46a7d17.png)

Narrow Destop

![image](https://user-images.githubusercontent.com/146016/43881747-cf532890-9bdf-11e8-920c-311be1171c17.png)

Mobile 375px

![image](https://user-images.githubusercontent.com/146016/43881781-e8ea61c4-9bdf-11e8-8e02-f0618464433d.png)

[2018-08-09 06:34] RishiRajSahu commented on #2330
@deepakanbarasan1 are you verifying the issues which are already open. Please check the existing issues before opening a new one.

[2018-08-09 06:53] RishiRajSahu commented on #2323
done and merged to dev.

[2018-08-09 06:53] #2323 closed

[2018-08-09 07:17] RishiRajSahu commented on #2326
@deepakanbarasan1 browsers have different way of rendering depending upon the devices, Please verify the mobile related issues on actual device also. If you open this on actual device and try to edit the duration field the numeric keypad appears on screen. This is something we don't control.

Feel free to open any other device related issues after verifying them on actual mobile device.

[2018-08-09 07:17] #2326 closed

[2018-08-09 08:08] maxceem commented on #2315
It's done, but there is some issue server-side which prevents of doing it the best way https://github.com/topcoder-platform/tc-project-service/issues/160

For now, I'm making a request without encoding `field` param, like this:
[code]

When server issue is fixed, this [line](https://github.com/appirio-tech/connect-app/commit/02831ad6740da5134de440a0eb9365b3a2918c33#diff-4aca581cc63538723f149e62025

[2018-08-09 08:47] vikasrohit commented on #2248
@maxceem it is not showing tooltip for me on disabled `delivered` status item.

[2018-08-09 08:49] vikasrohit commented on #2293
@maxceem I am still seeing the issue after merging the PR.

<img width="387" alt="screen shot 2018-08-09 at 2 18 22 pm" src="https://user-images.githubusercontent.com/2417632/43888366-2531d712-9bdf-11e8-9614-c2ce462a59b2.png">

[2018-08-09 08:50] maxceem commented on #2248
@vikasrohit oh, I've missed that requirement, I'll add a tooltip in shortly.

[2018-08-09 08:52] maxceem commented on #2293
@vikasrohit could you please share with me which user do you use, and what project id it is?

[2018-08-09 08:54] vikasrohit commented on #2269
@maxceem it seems the modal we are showing when user is tapping on a particular phase card, is not scrollable. Can you please check that?

[2018-08-09 08:55] RishiRajSahu commented on #2319
Seems to be working fine in dev.

[2018-08-09 08:55] #2319 closed

[2018-08-09 08:55] vikasrohit commented on #2325
Its much better now. We might need more UX related changes later on though.

[2018-08-09 08:55] #2325 closed

[2018-08-09 09:04] vikasrohit commented on #2324
Works fine except a transient error when after adding a new phase somehow it is not able to load the timeline immediately which makes the `duration` field editable. `progress` field is still disabled, so it seems both fields are reading the same thing from different places. It works as expected after refreshing the page.

@maxceem @RishiRajSahu fyi, it is happening occasionally, I think after we m

[2018-08-09 09:04] vikasrohit commented on #2324
Closing this issue as its required changes are working fine. @RishiRajSahu is going to create separate issue for the above mentioned use case.

[2018-08-09 09:04] #2324 closed

[2018-08-09 09:08] vikasrohit commented on #2332
Working fine now. Closing.

[2018-08-09 09:08] #2332 closed

[2018-08-09 09:09] vikasrohit commented on #2329
@deepakanbarasan1 Could you please verify this now? It should be fixed in dev.

[2018-08-09 09:10] vikasrohit commented on #2330
@deepakanbarasan1 Could you please verify it? We have got this fixed in dev.

[2018-08-09 09:12] vikasrohit commented on #2248
Cool. Thanks. If you can add little `info` type icon (provided you find one in our already committed icons) on all such fields where we are showing such tooltip?

[2018-08-09 09:43] maxceem commented on #2293
@vikasrohit could you please share with me which user do you use?

[2018-08-09 09:57] maxceem commented on #2293
Fixed

[2018-08-09 10:25] maxceem commented on #2269
@vikasrohit I'm not sure if this is the issue you saw.

When phase is smaller than the mobile screen, currently we can see underneath the popup and there is no scroll as there is nothing to scroll:

![image](https://user-images.githubusercontent.com/146016/43893019-2ed6c7a2-9c00-11e8-9218-efc016566678.png)

I've fixed it, so phase covers the whole screen even if there is not enough content, now it

[2018-08-09 10:51] maxceem commented on #2248
@vikasrohit `ToolTip` component doesn't work inside `Dropdown` component, probably it will require some time to debug and fix inside `appirio-tech-react-components`, do you think we can handle it as a separate issue?

Also about adding `info` icon. Currently, disabled values are shown using disabled `input` elements, so we cannot straight add `info` sign next to the value. Will need to replace the

[2018-08-09 14:25] vic-topcoder commented on #2329
The URL is see important than the name of the Link. The URL is secondary and helps to identify the location for multiple marvel prototypes. I would hide the URL to leave space for the title. Title should be  link and clickable.

Check the iPhone screen where the URL is not visible
![iphone 8 copy 2](https://user-images.githubusercontent.com/8484061/43905128-3b705c7c-9ba5-11e8-99fa-972bd55f90d8.png

[2018-08-09 14:58] deepakanbarasan1 commented on #2330
@vikasrohit  Looks good
![checkpoint-review selected designs should have blue background_](https://user-images.githubusercontent.com/30447858/43907286-bbcbdb7c-9c12-11e8-9a60-fa2c386ea249.PNG)

[2018-08-09 14:58] #2330 closed

[2018-08-09 18:51] ajefts opened #2335 "Backward compatibility - Add support to migrate old projects to new data model"
Aha! Link: https://topcoder.aha.io/features/TCCONNECT-207

Is there 2 way sync?  This is added to the git description.

[2018-08-09 18:51] ajefts opened #2336 "New API endpoint would be developed to upgrade old projects into new data structure"
Aha! Link: https://topcoder.aha.io/requirements/TCCONNECT-207-1

[2018-08-09 18:51] ajefts opened #2337 "Provide the same ability from the UI for managers"
Aha! Link: https://topcoder.aha.io/requirements/TCCONNECT-207-2

[2018-08-09 18:55] ajefts commented on #2335
Testing adding a comment to the git issue.

[2018-08-10 01:45] maxceem commented on #2329
@vic-topcoder @vikasrohit Updated with priority to the title and made title a link.

Wide Desktop

![image](https://user-images.githubusercontent.com/146016/43934308-5bb2d974-9c81-11e8-8a0c-7274524c1d43.png)

Narrow Desktop

![image](https://user-images.githubusercontent.com/146016/43934323-6ce95eac-9c81-11e8-97a0-81ef1bccc102.png)

Wide mobile 640-768

![image](https://user-images.githubuserconte

[2018-08-10 02:30] maxceem opened #2338 "Add `info` icon to tooltips for disabled phase fields"
## Task

There are disabled fields at phase form, like `duration` and `progress` with a help tooltip.

![image](https://user-images.githubusercontent.com/146016/43935266-c13d39de-9c85-11e8-9381-4f9ffc5bae71.png)

We have to add a help `icon` indicating there is a tooltip with help.

![image](https://user-images.githubusercontent.com/146016/43935305-e06e4028-9c85-11e8-8b91-1a28e35a2c9b.png)

## Not

[2018-08-10 05:14] maxceem opened #2339 "[$75] Add tooltip to the disabled `Delivered` item in the phase status"
## Task

Add tooltip to the disabled `Delivered` item in the phase status select, same like disabled duration has:

![image](https://user-images.githubusercontent.com/146016/43939835-0c514ffa-9c9f-11e8-8473-404ef31df7e9.png)

## Note

It appeared that `ToolTip` component doesn't work inside `Dropdown` component, probably it has to be fixed inside `appirio-tech-react-components` first.

@vikasrohit

[2018-08-10 05:16] maxceem commented on #2248
@vikasrohit I've created two separate issues, as both items are non-trivial and may need some discussion:
https://github.com/appirio-tech/connect-app/issues/2338
https://github.com/appirio-tech/connect-app/issues/2339

[2018-08-10 06:03] RishiRajSahu commented on #2298
@maxceem as discussed offline -
**if phase has timeline -**  and user choose `In Progress` we have to show alert with warning, as soon as phase is active we disable status select and show tooltip when user hovers it, that status is controlled by timeline. Same like we show tooltip for duration and progress.

[2018-08-10 06:54] vikasrohit commented on #2315
@maxceem I have added decoding logic for fields, so now you have to update the code back to what it ideally should be. 😬 Let me know if still not behaving as expected.

[2018-08-10 06:55] vikasrohit commented on #2329
Thanks @vic-topcoder for the input.

@maxceem it looks great now. Thanks for proactively fixing this as per updated requirements. 👍

[2018-08-10 06:59] vikasrohit commented on #2248
Agreed. Will take care both of them in next release. Please don't start working on them until we start working for next release. :)

[2018-08-10 06:59] #2248 closed

[2018-08-10 07:12] maxceem commented on #2315
@vikasrohit it works! So now fields param is encoded.

[2018-08-10 09:01] vikasrohit commented on #2293
Working fine now. Closing.

[2018-08-10 09:01] #2293 closed

[2018-08-10 09:04] vikasrohit commented on #2338
I think 3 is better. But I would wait for @vic-topcoder to suggest the best way.

From technical point of view, I think we should add tooltip feature to form components in react-components repo. We should show tooltip if tooltip content is provided and should give option to place it at two places, one is after label (which option 2 in above image) and another would be after value (option 3).

Anyw

[2018-08-10 09:04] vikasrohit commented on #2329
@deepakanbarasan1 could you please verify this now? it is deployed to the dev.

[2018-08-10 10:16] vikasrohit commented on #2269
Yep, it seems to be working on the actual device, I think it was not working in chrome when enabled responsive mode.

[2018-08-10 12:35] deepakanbarasan1 opened #2341 "Development Iteration 3 and 4 Milestones there is no timeline tab"
**Expected behavior :**
Describe : Development Iteration 3 and 4 Milestones should have timeline tab

**Actual behavior**
Describe: Development Iteration 3 and 4 Milestones there is no timeline tab

Test Feature :  For each phase, there should be a timeline tab which should show the templated timeline for the phase as configured in product templates

**Description :**
Development Iteration 3 and 4

[2018-08-10 12:35] deepakanbarasan1 commented on #2341
@RishiRajSahu  Please check

[2018-08-10 15:46] deepakanbarasan1 opened #2342 "Delivery Links are not appear under Delivery Milestone in Mobile UI"
**Expected behavior :**
Describe : Delivery Links should appear under Delivery Milestone after adding a link in Mobile UI

**Actual behavior**
Describe: Delivery Links are not appear under Delivery Milestone in Mobile UI fter adding a link.

Test Feature :  Wiring component for design delivery

**Description :**

Delivery Links are not appear under Delivery Milestone in Mobile UI fter adding a lin

[2018-08-10 15:46] deepakanbarasan1 commented on #2342
@RishiRajSahu  Please check

[2018-08-10 16:02] kbowerma opened #2343 "[$40] remove unwanted comma from number format in id column"
remove unwanted comma from number format in id column

![image](https://user-images.githubusercontent.com/1180747/43968462-c3807f6a-9c8c-11e8-8077-6fb4dcf8d7d8.png)

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-322

[2018-08-10 16:29] kbowerma opened #2344 "Last Update column in project list view is not pulling the right value."
### Expected behavior
The last update column in the project list view should not pull from the create date of the newest card.   It should pull from the latest comment on any card.  This is extemely import becuase a manager or co-pilot would want to use this list view to see is they have anything to read or respond to.   Right now this column value give dis-information.

### Actual behavior
The ne

[2018-08-10 17:42] vic-topcoder commented on #2329
@maxceem that looks fabulous!

[2018-08-10 17:45] vic-topcoder commented on #2338
Option 4 is the best - it does provide help target, but not associate the explanation with the days themselves. On 3 I assume the user would understand the question mark to explain why there are exactly 17 days, not what controls the duration.

Let's go with option 4. I'll attach some design guidelines for helper icon - this was always a tertiary option/feature and it never had the chance to leave

[2018-08-11 01:13] maxceem opened #2345 "Copy `details.content` from completed milestone to the next milestone `details.prevMilestoneContent`"
When we mark a milestone as completed we should copy `details.content` from completed milestone to the `details.prevMilestoneContent` of the next milestone.

[2018-08-11 01:41] maxceem commented on #2345
Done in two ways:
- first I did requests to update current milestone and next milestone in parallel, but there is an issue at backend when updating milestones in parallel https://github.com/topcoder-platform/tc-project-service/issues/162
- so with the second commit, I've made requests sequential: first, compete the current milestone, after, update next milestone

[2018-08-11 01:46] maxceem opened #2346 "Update `checkpoint-review` milestone type to use links list from `prevMilestoneContent`"
Currently, `checkpoint-review` milestone gets the list of links from manager first, and after it lets the customer to select best links.

After we introduced https://github.com/appirio-tech/connect-app/issues/2345 we can create a list of links in the previous milestone and in `checkpoint-review` milestone, only select links.

[2018-08-11 01:51] maxceem commented on #2346
Done.

Currently, I still support the old style of `checkpoint-review`.

There are two components:
- `<MilestoneTypeCheckpointReview>`  - old style component which lets manager add links
- `<MilestoneTypeCheckpointReviewOnly>` - new style component which gets links list from `details.prevMilestoneContent`

Both of them have milestone type `checkpoint-review`. The proper component is being chosen i

[2018-08-11 02:25] maxceem commented on #2298
@RishiRajSahu replaced browser confirmation dialog with the modal popup with styles predefined in the connect-app

![image](https://user-images.githubusercontent.com/146016/43987250-93718c14-9d50-11e8-820c-9d18277311d1.png)

[2018-08-11 09:40] vikasrohit commented on #2346
Thanks @maxceem. I am going to merge this in dev and validate it on dev. And if it works as expected, we need to extend this behaviour to final-designs as well.

[2018-08-12 04:34] RishiRajSahu opened #2348 "Adding Support for new milestone type 'add-links'"
New milestone type `add-links` needs to be added just to provide ability of adding marvel design links for design related products

[2018-08-12 04:37] RishiRajSahu commented on #2348
done with https://github.com/appirio-tech/connect-app/commit/17bd8d299ac718dd56cb0a76bad90b0a98f89cea

[2018-08-12 19:41] RishiRajSahu commented on #2346
@vikasrohit done for final-designs as well with https://github.com/appirio-tech/connect-app/commit/d2b26ca7faedc904cf9e6536487f318743f06757

[2018-08-13 05:45] #2348 closed

[2018-08-13 05:52] RishiRajSahu opened #2349 "Changing rendering logic for final-fix and delivery milestone"
### Expected behavior

### Actual behavior
When submitting the final-fixes the the final fix milestone get's completed immediately with fixes listed under it, and delivery milestone shows the progress and ability to add link for downloadable zip

fyi @vikasrohit

<span data-href="#aha_task_list_start" data-version="v2" data-aha="Do not remove this tag. Used for Aha! syncing."/>

- [x] After submit

[2018-08-13 05:53] RishiRajSahu commented on #2346
closing as changes are in dev.

[2018-08-13 05:53] #2346 closed

[2018-08-13 05:54] RishiRajSahu commented on #2345
closing as changes are in dev and working fine.

[2018-08-13 05:54] #2345 closed

[2018-08-13 10:12] maxceem opened #2350 "Show inline message instead of popup when we try to active phase"
If during editing milestone user selected `In Progress` status. On click of `update phase` hide the existing buttons, show an inline modal with two buttons `Ok` and `Cancel` - inline modal should warn the user about the action and show these two new buttons, on click of `Ok` it makes an api call to update, on cancel bring back the previous button and restore the dropdown.

Inline modal texts:
titl

[2018-08-13 12:23] maxceem opened #2352 "After adding a new phase, don't call loading timeline again as we get it during creation process"
We don't have to make this dispatch https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/project.js#L287
As this line already returns timeline https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/project.js#L321

same action `CREATE_PROJECT_STAGE` could be caught in two reducers

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-329

[2018-08-13 14:15] kbowerma opened #2354 "Project show empty without refresh"
### Expected behavior
Click on the project and it shows the discussion but it shows empty.

### Actual behavior
It shows empty

### Steps to reproduce the problem
  1.  You must filter by my projects (unfiltered will not exhibit this issue)
  1. Display connect project in list view
  2.  click on one project

### Screenshot/screencast
Attach or link a resource.

List view

![image](https://user-im

[2018-08-13 14:35] kbowerma commented on #2354
I cant figure out how to replicate this but, sometimes I am getting the body (disucssion) from another project until I refresh then it goes to the correct challenge.    I will try to figure out how to replicate it.  @acshields

[2018-08-13 15:03] kbowerma commented on #2354
Here is an example of two projects and one is caching the values from another project.

![image](https://user-images.githubusercontent.com/1180747/44040021-0fd3a8ce-9ee0-11e8-8f3f-dc29d4d9f4f5.png)

[2018-08-13 15:04] kbowerma commented on #2354
Now I refresh both windows and they are the same;

![image](https://user-images.githubusercontent.com/1180747/44040169-4705075c-9ee0-11e8-86f6-53f47fcc92ac.png)

[2018-08-13 15:25] kbowerma opened #2355 "Discussion on project is sometimes displaying other project discussion seeming from browser cache."
### Expected behavior
Every time you open another window with a project discussion view you should always see the proper thread on that discussion.

### Actual behavior
Sometimes,   I dont know when or why yet,   I see a discussion from another project that I either had previously open or have in another window.  I captured this in #2354 .

### Steps to reproduce the problem
I dont know the steps

[2018-08-13 16:43] acshields commented on #2354
Hi @kbowerma - We will take a look at this ASAP.

[2018-08-13 18:36] kbowerma opened #2356 "Duplicate notifications emails messages and no discussions added."
@acshields,  @mtwomey, @dmessing

### Expected behavior
When a user adds a discussion thread they should get a response of the post and a single notfication messages.

### Actual behavior
customer created a discussion response and I got  14 emails but the message never posted all with separate message ids here are the first three:
https://connect.topcoder.com/projects/6626#comment-82825
https://co

[2018-08-13 19:21] kbowerma commented on #2356
Now this project wont load:   https://connect.topcoder.com/projects/6626

[2018-08-13 22:08] vic-topcoder opened #2357 "Add the file attachments to the scope section for all projects."
### Expected behavior
Customers and managers alike should be able to add files to the scope section of each project. Each file added should be visible in the files list on the dashboard sidebar.

I know that we are concerned about the anonymous people adding files during project creation; this would change in one of the next releases (only authenticated users would be able to create projects); and

[2018-08-13 22:13] vic-topcoder opened #2358 "[$100] Allow adding files to project through the dashboard sidebar."
### Expected behavior
We have the new file listing on the sidebar. It would be nice to add the functionality for our users to add files to the list directly (not going to other tabs and pages). It should function the same way as adding a new link to the links menu.

Current is on the left, proposed is on the right.
![screen shot 2018-08-13 at 3 12 30 pm](https://user-images.githubusercontent.com/8

[2018-08-14 04:38] RishiRajSahu commented on #2350
working fine on dev. closing.

[2018-08-14 04:38] #2350 closed

[2018-08-14 04:46] mtwomey commented on #2356
@vikasrohit Yeah, if you look at this - it's like the same thing posted over and over in what appears to be a single comment (somehow). Any thoughts on what went haywire here?

[2018-08-14 06:07] #2352 closed

[2018-08-14 06:10] RishiRajSahu commented on #2349
fixed with https://github.com/appirio-tech/connect-app/commit/d9686aaba6d158c96ffb42560aac2cb90260cd73

[2018-08-14 06:10] #2349 closed

[2018-08-14 06:11] RishiRajSahu commented on #2298
Extended fix for this one is covered in https://github.com/appirio-tech/connect-app/issues/2350

[2018-08-14 06:11] #2298 closed

[2018-08-14 06:15] RishiRajSahu commented on #2270
working fine. closing.

[2018-08-14 06:15] #2270 closed

[2018-08-14 06:42] vikasrohit commented on #2358
Marking it for 2.4.5. Would analyze it later and see even if possible with the next release.

[2018-08-14 07:02] RishiRajSahu opened #2359 "Final designs - on winner selection UI is breaking"
On Final designs milestone, winner selections UI is breaking if the title is long.

<img width="882" alt="screen shot 2018-08-14 at 11 50 34 am" src="https://user-images.githubusercontent.com/11248478/44076491-fff195cc-9fbd-11e8-8973-1afec181aa40.png">

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-337

[2018-08-14 07:04] vikasrohit commented on #2354
I have looked into it and it seems to be a intermittent issue when somehow api is responding slow and it shows the messages of the project, user last visited. We can definitely fix the even that temporary issue by removing the messages from state as soon as user has navigated to the project listing page. But that might take some time to fix and verify.
So, I would suggest, due to the fact that it

[2018-08-14 07:10] vikasrohit commented on #2354
Also, @kbowerma it would be really helpful if you can share the console logs when you see the empty messages on dashboard because for me it is kind of alway loading messages (yes, it sometimes temporarily showing cached messages from other projects), even if I am going to project details from `My Projects` filter.

[2018-08-14 07:18] vikasrohit commented on #2357
Will try to incorporate this after the release, as it mostly changes in templates which have to do via API. We were waiting for #2161  and #2162 to be decided so that we don't have to make the repetitive efforts of updating all templates. However, I think those two are going to take more time, so I would rather do that double efforts to close this issue.

Also, now we have the ability to hide the

[2018-08-14 08:02] maxceem commented on #2359
For big and narrow screens I've fixed it:

![image](https://user-images.githubusercontent.com/146016/44079245-1faafd8c-9fdb-11e8-9f7a-a99777edbc45.png)

But I'm not sure how to render it for mobile devices. Looks like we have to choose whether display name or text `Purchase for $100`:

![image](https://user-images.githubusercontent.com/146016/44079144-e8b851da-9fda-11e8-8d52-5b7e7fd3dd52.png)

[2018-08-14 10:34] maxceem commented on #2359
Fixed for mobile devices.

Edit mode:

![image](https://user-images.githubusercontent.com/146016/44086830-71cd550a-9ff0-11e8-8e0e-db21ac4dc134.png)

View mode:

![image](https://user-images.githubusercontent.com/146016/44086844-85072326-9ff0-11e8-9b88-c3f4fecc3988.png)

[2018-08-14 10:58] RishiRajSahu commented on #2359
In view mode we don't show the text.

[2018-08-14 11:02] maxceem commented on #2359
Done, in view mode

![image](https://user-images.githubusercontent.com/146016/44088113-8a0fc964-9ff4-11e8-80a0-ffe9005ee7b8.png)

[2018-08-14 12:57] kbowerma commented on #2354
here @vikasrohit
[code]

[2018-08-14 13:15] vic-topcoder commented on #2357
yes, scope and specification are really going to take a while before completed, so let's try to incorporate the files into Scope. Given the fact we're hiding specification tab for customers, they'll have no way to upload files after the release, so I think we should address it as a quick follow up mini-release just for the file upload.

[2018-08-14 14:07] deepakanbarasan1 commented on #2329
Looks good

[2018-08-14 14:07] #2329 closed

[2018-08-14 15:12] kbowerma commented on #2356
@mtwomey
The project will load now but we have the message repeated 14 times.   Is there anyway someone can go into the back end and edit so the message is only their once

[2018-08-15 02:31] maxceem opened #2361 "Two types of `checkpoint-review` and `final-designs` milestones"
## Overview

Currently, we have two different implementations for milestones types `checkpoint-review` and `final-designs`.

- The old style is when we add links inside the milestone, it looks like this:

    ![image](https://user-images.githubusercontent.com/146016/44128286-c197b844-a074-11e8-9c96-b0c487b34413.png)

- The new style, when we add links in special `add-links` milestones which goes b

[2018-08-15 02:43] maxceem opened #2362 "When we add links and `GET_NOTIFICATIONS_PENDING` action happens, it refreshes form"
When we click add links and open form to add link in any of the milestones with such functionality.

![image](https://user-images.githubusercontent.com/146016/44128874-f180de2a-a077-11e8-92fb-8e76477cc29f.png)

If during links adding action `GET_NOTIFICATIONS_PENDING` happens, it closes adding link form, see video http://take.ms/GgqLd

cc @RishiRajSahu

[2018-08-15 04:13] maxceem commented on #2302
7. Create a new **Visual Design** project. There will be one phase. Complete all the milestones adding **final fixes**. When we click complete at **final fixes** milestone there will be in console:
[code]

[2018-08-15 04:18] maxceem opened #2363 "Warning: You are about to manually change the start/end date"
There is a situation where I get this warning without changing dates:

![image](https://user-images.githubusercontent.com/146016/44131345-ec096c5c-a084-11e8-98c0-70eecba967c2.png)

## How to reproduce

1. Create a new **Visual Design** project
2. Add a new product **Design Iteration (long)**
3. Open edit form for **Design Iteration (long)** and change status to **In Progress**
4. The warning will

[2018-08-15 04:27] maxceem commented on #2363
@RishiRajSahu Hmm, actually I cannot reproduce this again, probably it was some particular situation connected with dates in the previous phase. But I didn't change date manually.

[2018-08-15 04:36] RishiRajSahu commented on #2361
@vikasrohit can we update timeline for `visual-design` product to have `add-links` milestone before `checkpoint-review` and `final designs` ? if this is yes then we don't have to provide any backward support for old milestones as everything is in dev only.

if answer to above is No from vikas, then @maxceem  we also need to remove the additional new milestones created for both checkpoint and final

[2018-08-15 06:21] maxceem opened #2364 "Complete/Delivery milestone is not marked as completed after clicking complete"
## How to reproduce

1. Create a new **Visual Design** project
2. Complete all the milestones of the phase without requesting final fixes
3. End up with such situation:

    ![image](https://user-images.githubusercontent.com/146016/44134212-4c8e7ae8-a096-11e8-91f2-bb484219d248.png)

[2018-08-15 06:25] maxceem commented on #2363
Can reproduce it again:
1. Create a new **Visual Design** project
2. Completed all the milestones of the phase
3. Add new phase **Design Iteration (short)**
4. Try to change status to `In Progress` of the phase

    ![image](https://user-images.githubusercontent.com/146016/44134316-f48e78ba-a096-11e8-885f-f5bc7219dfee.png)

5. Looks like a new phase has been created with `startDate` before the fin

[2018-08-15 06:28] maxceem commented on #2364
Same for **Design Iteration (short)** product:

![image](https://user-images.githubusercontent.com/146016/44134420-7331e616-a097-11e8-86f2-f073680e92d7.png)

[2018-08-15 06:30] vikasrohit opened #2365 "Menu popup for a post is not completely visible"
<img width="788" alt="screen shot 2018-08-15 at 11 59 21 am" src="https://user-images.githubusercontent.com/2417632/44134477-c924c31e-a082-11e8-80b1-356df139dc19.png">

@maxceem Can you please get it resolved quickly (EOD today)?

[2018-08-15 06:32] maxceem commented on #2365
@vikasrohit yes, will fix it asap

[2018-08-15 06:34] vikasrohit opened #2366 "Root post should not have delete post option"
@maxceem please hide(ideally it should be disabled with appropriate tooltip, but as tooltip in side a dropdown is not working right now, opting for hide option) the delete button for first/root post of the thread. Right now it is hiding the button only when there is only single post in the thread.

<img width="789" alt="screen shot 2018-08-15 at 12 01 38 pm" src="https://user-images.githubusercont

[2018-08-15 06:36] vikasrohit commented on #2363
@maxceem @RishiRajSahu I think we are good for now. Warning is just an indication to the user about a possible overlap. It is not preventing them to update the phase, so we can take care of it later.

[2018-08-15 06:40] vikasrohit commented on #2329
Thanks @deepakanbarasan1

[2018-08-15 06:42] vikasrohit commented on #2362
@maxceem the same thing is happening when you just hover over any milestone's title. Could you please get it fixed in both cases?

[2018-08-15 06:48] maxceem commented on #2365
Fixed by PR https://github.com/appirio-tech/connect-app/pull/2367, keeping in mind this one https://github.com/appirio-tech/connect-app/issues/2310

See video http://take.ms/mDdYn

[2018-08-15 06:53] vikasrohit commented on #2361
@maxceem @RishiRajSahu We are definitely okay with not supporting data which are only in dev. However, still I would like `checkpoint-review` and `final-designs` to be robust enough to be plugged and play in any mode (with or without `add-links` before them). And the solution for that is to use some kind of namespace(e.g. `type` of the milestone) when we are saving the current milestone's data in

[2018-08-15 06:54] vikasrohit commented on #2364
@RishiRajSahu Haven't you fixed this yesterday evening?

[2018-08-15 07:08] vikasrohit commented on #2365
Thanks @maxceem for keeping #2310 in mind, otherwise it could have created a regression of a high priority issue.

[2018-08-15 07:15] vikasrohit commented on #2302
Good capture this one again @maxceem I noticed that yesterday but again due to enormous amount of moving things, didn't get time to log it.

I have also noticed that it is firing `PHASE_DIRTY_UNDO` multiple times (exactly equal to the number of phases in the project) when we mark a milestone complete. And that is getting fired from `componentWillUnmount` method of `EditStageFrom.jsx`. So, I think

[2018-08-15 07:16] vikasrohit commented on #2357
We don't need a release for that @vic-topcoder. We would do that most probably with this release as all this is matter of correct data entry and as we have to update almost all templates in this release, we would try to incorporate this as well. If not, we would do that immediately after successful release.

[2018-08-15 07:33] vikasrohit commented on #2356
@kbowerma Deleted the duplicate thread from 6626 project, however, I didn't find a project where there are 14 duplicate messages. Can you please help in locating that project?

[2018-08-15 07:34] maxceem commented on #2366
Done, so Delete post is not shown for root post.

I can make it look like disabled instead, but when user will click it, the dropdown will be closed anyway even it look disabled. I cannot prevent closing in current implementation as it uses `<DropdownItem>` component from `appirio-tech-react-components` which doesn't let us prevent closing `<Dropdown>` when we click it.
Also, styling of the disabl

[2018-08-15 07:39] maxceem commented on #2362
@vikasrohit thanks for the catch! It will help a lot to fix it for both cases.

[2018-08-15 08:11] maxceem opened #2369 "Error when product doesn't have timeline"
When we open project http://local.topcoder-dev.com:3000/projects/6966 with products which don't have timelines, we get an error in console and script running stops:

[code]

We had a similar issue before, but this one is a new one, due to recent changes.

[2018-08-15 08:37] maxceem commented on #2362
Done with PR https://github.com/appirio-tech/connect-app/pull/2370

[2018-08-15 08:59] vikasrohit commented on #2354
Thanks @kbowerma for the log details. I think we got it fixed in this release via https://github.com/appirio-tech/connect-app/issues/2123. We are still trying to cross validate the fix.

[2018-08-15 09:10] maxceem commented on #2369
Done via PR https://github.com/appirio-tech/connect-app/pull/2371

[2018-08-15 09:13] vikasrohit commented on #2369
Yep, these kind of issues are inevitable with this much amount lift in the features/functionality. Thanks @maxceem for capturing and fixing it quickly.

[2018-08-15 09:16] vikasrohit commented on #2366
That is perfect for now. We won't make it look disabled as of now because we can't show tooltip for that disabled item at present.

[2018-08-15 09:25] maxceem commented on #2362
@vikasrohit yes, the issue was very common for anything which triggers milestone render.

[2018-08-15 09:31] maxceem opened #2372 "[$50] Directly opened `/notifications` page is empty"
If we open the page with notifications directly by the URL it will show nothing.

Reproducible at DEV and PROD:
https://connect.topcoder.com/notifications
https://connect.topcoder-dev.com/notifications

![image](https://user-images.githubusercontent.com/146016/44141892-0db069f6-a0b1-11e8-87fc-f3c10c49d52d.png)

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-345

[2018-08-15 10:27] maxceem commented on #2364
Fixed with PR https://github.com/appirio-tech/connect-app/pull/2373

@RishiRajSahu FYI fixing this issue also fixed two issues you've texted me:
1. phase not getting marked as delivered on completing final-fixes milestone
2. on accept in delivery milestone it should mark itself and phase as delivered

[2018-08-15 10:33] maxceem opened #2374 "Progress bar at the sidebar is not dynamically updating on changes in timeline/milestones"
Same issue https://github.com/appirio-tech/connect-app/issues/2189 is happening now when timelines/milestones are updated and it has to update progressbar, but progressbar is not updated on the sidebar.

@RishiRajSahu it's not a regression, just because the left sidebar uses `shouldComponentUpdate` method which prevents from updates. As now we added timelines/milestones which has to affect progres

[2018-08-15 10:43] vikasrohit commented on #2362
Cool. Its working fine for me now. Thanks.

[2018-08-15 10:43] #2362 closed

[2018-08-15 10:48] vikasrohit commented on #2366
Working fine now. Thanks.

[2018-08-15 10:48] #2366 closed

[2018-08-15 10:50] vikasrohit commented on #2365
Working fine. Thanks.

[2018-08-15 10:50] #2365 closed

[2018-08-15 10:51] maxceem commented on #2374
Done via PR https://github.com/appirio-tech/connect-app/pull/2375

[2018-08-15 10:52] vikasrohit commented on #2366
@maxceem in dev I am seeing strange behaviour for 'Delete Thread' option though. I think that is not caused by this commit, and it is rather happening because of missing data in member service in dev env. If you can devote 5 minutes to debug that, that would be great.

[2018-08-15 10:52] vikasrohit commented on #2369
Working fine. Thanks.

[2018-08-15 10:52] #2369 closed

[2018-08-15 10:54] maxceem commented on #2366
@vikasrohit I've tried to delete a thread at it did work well for me. Could you provide any details about the strange behavior you experience?

[2018-08-15 11:02] vikasrohit commented on #2374
Thanks @maxceem.

[2018-08-15 11:10] vikasrohit commented on #2364
Working fine. Thanks.

[2018-08-15 11:10] #2364 closed

[2018-08-15 11:15] maxceem commented on #2361
The main issue fixed with PR https://github.com/appirio-tech/connect-app/pull/2376

@RishiRajSahu fyi I didn't implemented this part yet, will do that tomorrow

[2018-08-15 11:16] maxceem commented on #2361
@vikasrohit I fixed it simmilra way as you proposed, but instaed of `details.prevMilestoneContent.milestoneType` I've added `details.prevMilestoneType` so we keep `prevMilestoneContent===content` of the prvious milestone.

[2018-08-15 11:16] vikasrohit commented on #2374
Working fine. Thanks.

[2018-08-15 11:16] #2374 closed

[2018-08-15 11:26] vikasrohit commented on #2361
Okay, makes sense.

Also, what is Rishi is trying to say is that we should not have two separate components for rendering the review only mode of these two components. We can have single component for each mode. Essentially the check we applying [here](https://github.com/appirio-tech/connect-app/pull/2376/files#diff-71972aa00d9b3813291a5cdf8f78b4faR301) could go into the specific milestone and mil

[2018-08-15 11:27] vikasrohit commented on #2361
@maxceem do you have a project to validate this issue? I think now we don't have `visual-design` product which has this kind of timeline.

[2018-08-15 11:32] maxceem commented on #2361
@vikasrohit when we create **Visual Design** project from the scratch we get `visual-design` product be default so this will be the `old` case. After we can a new phase it will be the `new` case.

[2018-08-15 11:33] maxceem commented on #2361
Yeah, I've got the idea of Rishi. Agree that we can handle it as a separate issue.

[2018-08-15 11:35] vikasrohit commented on #2361
Oh yes, I missed that. :)

[2018-08-15 11:39] vikasrohit commented on #2361
Tested and verified. Closing.

[2018-08-15 11:39] #2361 closed

[2018-08-15 11:40] vikasrohit commented on #2366
I would update the thread once see it again.

[2018-08-15 13:18] kbowerma commented on #2356
@mtwomey, @vikasrohit   I caught one mid-flight right now.   I clicked post and nothing happens.    Your instinct is to click post again.   Even if you try to reload you get a warning
![image](https://user-images.githubusercontent.com/1180747/44150011-a5c97014-a063-11e8-821a-816eb4862f6a.png)

here is the error message:
[code]

[2018-08-15 13:20] kbowerma commented on #2356
@vikasrohit look at 6626 . dont you see the repeating message?    I have 14 emails that all say
[code]

[2018-08-15 16:11] kbowerma commented on #2344
@dmessing , @acshields ,  @ajefts

I want to reiterate how important this one is.  Below is screenshot of my current workflow and one of my customers (only 6 not 8 ).   I want to look at one view and determine what needs my attention but the last update column is not accurate.   So I open each one of these ones by one and look at it and respond.  Before I  get to the bottom of the list which takes

[2018-08-15 17:26] vic-topcoder commented on #2357
thanks @vikasrohit

[2018-08-15 21:29] vic-topcoder opened #2377 "Update phase status based on deliver; phase can't transition to Delivered"
### Expected behavior
When the delivery milestone is completed on a phase, the phase status should transition to Delivered. Right now it stays at Active / 100%.

https://connect.topcoder-dev.com/projects/6966/plan
![screen shot 2018-08-15 at 2 28 26 pm](https://user-images.githubusercontent.com/8484061/44174317-a398b500-a097-11e8-83b7-3995d243bb7c.png)
![screen shot 2018-08-15 at 2 28 40 pm](https

[2018-08-15 21:33] vic-topcoder commented on #2359
For mobile we can get rid of the marvel icon to save space

[2018-08-15 21:42] vic-topcoder opened #2378 "[50] Code should be preformatted in post cards."
### Expected behavior
When people paste code, it should be preformatted block (no line merging). The code should be readable as a code, and the box should scroll horizontally to accommodate long lines of text.

Ideally we can have a better code support (syntax highlight, and line numbers).
![image-1](https://user-images.githubusercontent.com/8484061/44174930-7baa5100-a099-11e8-8890-276b4d3033d2.pn

[2018-08-16 05:32] vikasrohit commented on #2377
@vic-topcoder it has been fixed yesterday https://github.com/appirio-tech/connect-app/issues/2364#issuecomment-413157447. Please try again with latest and greatest in dev. Also, the website development product might be outdated, please try it on new catalog i.e. iteration based products.

[2018-08-16 16:19] vic-topcoder opened #2391 "[$80] Filter by search term/ref code is not persistent on the search bar"
When manager filters the project list (search term, or click on ref code), and then opens a project, clicking on the back link doesn't persist the filter on the search bar, but the view is filtered. You have to manually enter a value to have the clear the view.

I've selected `TMUS` as ref code, and this is the view. Screenshot when I clicked back from a project.
![screen shot 2018-08-16 at 9 16 5

[2018-08-16 17:17] vic-topcoder opened #2392 "Add Chameleon guides for major features on Connect"
We should be able to add Chameleon user guides to all new features:

- Notifications
- Notification settings
- Post fullscreen
- Phase
- Timeline
- Phase post for context

[2018-08-17 05:50] vikasrohit commented on #2356
@kbowerma Got it. I was looking for duplicate threads, it was rather duplicate posts. I managed to delete them.
Also, as we have pushed the release to production and it supposed to fix the issue of posting messages, could you please let us know if things are working fine now at your end. Ideally, it should not show post button enabled till message is posted and should reflect the posted message im

[2018-08-17 06:01] #2359 closed

[2018-08-17 06:02] RishiRajSahu commented on #2342
@deepakanbarasan1 please verify and close if working fine.

[2018-08-17 06:03] RishiRajSahu commented on #2341
@deepakanbarasan1 please verify and close if working fine.

[2018-08-17 06:04] RishiRajSahu commented on #2162
moving this to 2.4.5

[2018-08-17 06:05] RishiRajSahu commented on #2161
moving this to 2.4.5

[2018-08-17 06:06] RishiRajSahu commented on #2335
moving this to 2.4.5

[2018-08-17 06:27] RishiRajSahu commented on #2315
Done and pushed.

[2018-08-17 06:27] #2315 closed

[2018-08-17 06:28] #2313 closed

[2018-08-17 09:35] vikasrohit commented on #2357
Added file attachment section for all visible project templates on production. Let me know if you are not seeing it for any specific one.

[2018-08-17 09:35] #2357 closed

[2018-08-17 09:35] vikasrohit commented on #2106
Added file attachment section for all visible project templates on production. Let me know if you are not seeing it for any specific one.

[2018-08-17 09:35] #2106 closed

[2018-08-17 09:45] vikasrohit commented on #2335
It has been developed already and we have already upgraded first project successfully.

[2018-08-17 09:45] #2335 closed

[2018-08-17 10:17] vikasrohit commented on #2341
These were temporary errors during the development. Closing them out as they are working fine now on production.

[2018-08-17 10:17] #2341 closed

[2018-08-17 10:26] vikasrohit commented on #2121
@vic-topcoder moving this out of 2.4.5. Let me know if we have the final requirements here.

[2018-08-17 10:28] vikasrohit commented on #2179
I think we should handle it with #2121

[2018-08-17 10:29] vikasrohit commented on #2312
@vic-topcoder Do we have the designs ready?

[2018-08-17 10:42] vikasrohit commented on #2333
Sorry @vic-topcoder, we missed to implement these final minor requirements in the 2.4.4 release. We can keep them in 2.4.5. We have already implemented all milestones as per our `Milestone Requirements` excel.

[2018-08-17 10:45] vikasrohit commented on #2333
@vic-topcoder that is description the phase which we can make editable if you would like, otherwise we can just remove it as you said above.

[2018-08-17 10:52] vikasrohit commented on #2309
@vic-topcoder do we have designs for indicating the legacy phases?

[2018-08-17 10:53] vikasrohit commented on #2303
It is fixed and deployed to the production with 2.4.4

[2018-08-17 10:53] #2303 closed

[2018-08-17 10:55] vikasrohit commented on #2273
@maxceem do we have any thing pending this issue now?

[2018-08-17 10:58] vikasrohit commented on #2271
I think this is shipped with 2.4.4. Please feel free to reopen it if we are still missing something.

[2018-08-17 10:58] #2271 closed

[2018-08-17 11:08] vikasrohit commented on #2343
@vic-topcoder let us know if we have any specific reason to keep the comma.

[2018-08-17 11:10] vikasrohit commented on #2296
@vic-topcoder @acshields Do we have requirements finalised?

[2018-08-17 11:11] vikasrohit commented on #2279
@vic-topcoder your input needed

[2018-08-17 11:14] vikasrohit commented on #2363
Closing the issue for now as it does not harm the usability. We can take this up later when we have reports about this causing confusion or issues to the users.

[2018-08-17 11:14] #2363 closed

[2018-08-17 11:54] vikasrohit opened #2394 "Project are created in v2 format for logged out project flow"
### Expected behavior
It should create project in v3 format i.e. there should be `Project Plan` tab enabled for the project.

### Actual behavior
The `Project Plan` tab is missing when project is created using logged out flow

--

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (client, copilot or manager): Customer
- Account used: N/A

[2018-08-17 11:55] vikasrohit commented on #2394
fyi @acshields @vic-topcoder @RishiRajSahu

[2018-08-17 11:55] #2394 closed

[2018-08-20 05:46] vikasrohit opened #2395 "[$50] Website project icon is incorrect"
<img width="207" alt="screen shot 2018-08-20 at 11 10 48 am" src="https://user-images.githubusercontent.com/2417632/44322209-d52fc880-a469-11e8-8812-2a6d46bf91d4.png">

It should be the icon which we are showing on new project catalog

<img width="226" alt="screen shot 2018-08-20 at 11 15 22 am" src="https://user-images.githubusercontent.com/2417632/44322315-669f3a80-a46a-11e8-9e91-8543752188ab.pn

[2018-08-20 07:18] vikasrohit opened #2396 "Refactor the way we are storing project template id while creating project"
This is a refactoring task to get rid of accessing `details.products[0]` to store the id of the template selected for a new project. It is also [storing](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/create/components/ProjectWizard.jsx#L253) wrong value (project template key instead of product id) in this field which is causing projects created via logged out flow to fail to lo

[2018-08-20 22:31] vic-topcoder opened #2398 "Impossible to add phases to older project"
### Expected behavior
I should be able to add the latest phases (iterations) to any project that already has a project plan.

### Actual behavior
On an old project with phases, opening the menu would display the correct phases, but clicking on any of them does nothing (the phase is not added to the project).

### Steps to reproduce the problem
- Open https://connect.topcoder-dev.com/projects/6966/

[2018-08-20 22:33] vic-topcoder opened #2399 "[$50] Rename the button on phase catalog"
The button on the phase cards should read "Add phase to project", right now it says "Select product".
![screen shot 2018-08-20 at 3 32 25 pm](https://user-images.githubusercontent.com/8484061/44370279-62851400-a48e-11e8-84e9-f87f822f2ee1.png)

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-373

[2018-08-20 22:38] vic-topcoder opened #2400 "Timeline content updates"
Let's work on updating the timeline a bit further. We talked about

### Implemented:
![screen shot 2018-08-20 at 3 36 25 pm](https://user-images.githubusercontent.com/8484061/44370370-d2939a00-a48e-11e8-8a82-608f1def60bc.png)

### Expected:
![screen shot 2018-08-20 at 3 37 21 pm](https://user-images.githubusercontent.com/8484061/44370400-f3f48600-a48e-11e8-89c0-cee6bcc5f8e4.png)

<span data-href="

[2018-08-20 22:45] vic-topcoder opened #2401 "Add notification visual cues to project plan cards"
### Expected behavior
It is not immediately obvious if there are new items (post, timeline change) for the user since last time they visited the system. This is why we designed a visual cues (red dots) to point their attention towards the items that have changed.

- Collapsed card - the red dot is at displayed at the right top corner to indicate this card has new content:
![screen shot 2018-08-20

[2018-08-21 06:27] vikasrohit commented on #2398
@vic-topcoder @acshields Fixed and deployed to both dev and production.

[2018-08-21 06:27] #2398 closed

[2018-08-21 06:28] vikasrohit commented on #2398
For the records posting the investigation results:
There are two cases when it is failing. For the project you mentioned in the ticket, it is failing because the incorrect data in database, we didn’t have milestone templates for all products when those phases were added in the project which in turn causes the empty milestones and failing to calculate the start date of the next phase.
Second use ca

[2018-08-21 14:25] maxceem commented on #2312
@vikasrohit will be there some specific designs? Some description of how it suppose to work also ould help if we already have elements for milestone implemented.

[2018-08-21 14:25] gondzo commented on #2378
The scope here is to only update styling for the code block card, we'll add syntax highlighting in a separate ticket if needed

[2018-08-21 14:28] maxceem commented on #2320
@vikasrohit I don't have ideas from the top of my head as I've never got in touch with authorization in the connect-app. So as it has minor priority, probably I'll try to dig it the last after the rest of tasks in this milestone.

[2018-08-21 14:33] maxceem commented on #2279
@vikasrohit  I can pick up this one, as soon as we agree on how we unify the button.

[2018-08-21 14:40] maxceem commented on #2338
@vikasrohit Should I just follow 4th case advised by @vic-topcoder or any new design will be provided?

[2018-08-21 14:41] maxceem commented on #2045
@vikasrohit I think I can pick up this one as soon as there details regarding colors are provided.

[2018-08-21 14:44] maxceem commented on #2396
@vikasrohit I'll take a look at changes and test it to make sure we are sage here.

[2018-08-21 14:44] maxceem commented on #2273
@vikasrohit I'll test it out.

[2018-08-21 14:59] MonicaMuranyi commented on #2378
I would like to assign this issue to myself but I don't have the permissions to do so.

[2018-08-21 15:46] sumitdaga commented on #2372
@gondzo
what should be the base branch for this issue?
dev or cf11

[2018-08-21 16:14] narekcat commented on #2306
@gondzo I can't access Aha! Link. Can you give me access or send invitation email ?

[2018-08-21 16:16] simranb86 commented on #2305
@gondzo Please assign me this - i don't see i have rights to assign myself.

[2018-08-21 16:39] MonicaMuranyi commented on #2378
Do I need an account to https://secure.aha.io in order to work on this issue?

[2018-08-21 16:43] gondzo commented on #2378
No, there is no other info in the aha! ticket. Scope is just to update styling for the code block to keep the preformated text, and scroll the box horizontally if the width is larger than container

[2018-08-21 18:29] narekcat commented on #2306
I have worked on this issue today, but it's late and I need to have a rest. I'll finish this issue tomorrow.

[2018-08-21 18:49] simranb86 commented on #2305
@gondzo getting below issues (not sure if README.md is updated and the code base is run as it is). Kindly confirm

found 141 vulnerabilities (31 low, 87 moderate, 20 high, 3 critical) in 14092 scanned packages
  run `npm audit fix` to fix 109 of them.
  26 vulnerabilities require semver-major dependency updates.
  6 vulnerabilities require manual review. See the full report for details.

[2018-08-21 18:52] simranb86 commented on #2305
Also there is huge list of peer dependencies in the current code base.

Build failed with error code: 1
npm WARN draft-js-link-plugin@1.2.2 requires a peer of draft-js@0.10.1 but none is installed. You must install peer dependencies yourself.
npm WARN draft-js-link-plugin@1.2.2 requires a peer of react@15.5.0 but none is installed. You must install peer dependencies yourself.
npm WARN draft-js-lin

[2018-08-22 03:49] maxceem commented on #2396
@vikasrohit I've checked everything that could be affected by the changes and everything works well for me.

There is just only one enhancement comment: https://github.com/appirio-tech/connect-app/pull/2397#pullrequestreview-148314378

And one small issue:

- Icons in the project list are not rendered properly for new projects

    ![icons](https://user-images.githubusercontent.com/146016/44441720

[2018-08-22 04:00] maxceem commented on #2273
@vikasrohit almost all issues are fixed, only one statys, and I've added a few not critical:

1. Still stays, let me know if you'd like me to fix it as Rishi suggested or in another way.

7. Delivery milestone is shown with a big space:

    ![image](https://user-images.githubusercontent.com/146016/44441998-28d51a00-a602-11e8-9217-04c5723d363d.png)

    See project http://local.topcoder-dev.com:30

[2018-08-22 04:28] maxceem opened #2409 "Estimations during project creation"
During initial project creation, there were estimations shown for Visual Design project type. During moving to projectTemplates that block was temporarily hidden, as there was no place to get those estimations from the server and we were going away from hardcoding them in JSON file.

Though after we moved to projectTemplates we still didn't reimplement estimations.

See https://github.com/appirio-

[2018-08-22 05:08] vikasrohit commented on #2409
Thanks @maxceem for capturing this, however, I think we are going do estimate thing later once our catalog stablizes in terms of the phases used for a particular type of project. Once we have stable catalog and prices per phase, we can introduce the estimates again at the time of project creation.

fyi @vic-topcoder @acshields, I think we need to park it for the time being.

[2018-08-22 05:29] vikasrohit commented on #2306
@narekcat there is no need to access the aha because that does not have any additional details.

[2018-08-22 05:35] vikasrohit commented on #2396
Closing the issue as changes are deployed to the dev env and seems to work fine.

[2018-08-22 05:35] #2396 closed

[2018-08-22 05:41] vikasrohit commented on #2395
@amitpatra You need to get project template by fetching the `templateId` from project instead of looking for it at `details.products[0]`. We have pushed a latest [commit](https://github.com/appirio-tech/connect-app/commit/cb78bf9afe89d2914a0b8174f6ffa15396f808be) in dev branch which is going to be merged in the cf11 branch as well. You can take a look at [this](https://github.com/appirio-tech/conn

[2018-08-22 05:46] vikasrohit commented on #2338
@maxceem I think we need capability of having tooltip like option 3 as well because in this case, we are showing tooltip only when the field is disabled and its value is controlled by timeline, so essentially we are showing tooltip to let user know from where the value is coming, we are not describing the the duration field itself where we need option 4.And last thing, for option 4 we don't need c

[2018-08-22 05:50] vikasrohit commented on #2338
To be more specific about the scope @maxceem I think following needs to be closed in this scope:
1. Update react-components repo to support tooltips(with configuration for placement of the tooltip) in formsy components (wherever possible)
2. Use the capability developed in 1 to show tooltip for `duration` field OR
3. if we still have strong argument in favour option 4 for this particular use case,

[2018-08-22 05:51] vikasrohit commented on #2320
Makes sense.

[2018-08-22 05:51] maxceem commented on #2338
@vikasrohit correct, for option 4 we don't need to updated react-components.

[2018-08-22 05:56] vikasrohit commented on #2312
Essentially, we need to update our `final-designs` milestone to support a configurable number of final design selection which is right now hard code to `5`. I think we need to update the milestone templates to support metadata to support this type of configuration because we don't have any field right now to store this configuration per milestone template.

[2018-08-22 05:58] vikasrohit commented on #2139
Yes @gondzo. Every product template now has a `category` associated, right now every product in the dev env has `generic` as category value. I would update couple of them to reflect the correct categories so that changes for this issue can be tested.

[2018-08-22 06:00] maxceem commented on #2312
Do you think adding some property for such configuration in `details` would work?

So far we have:
[code]

So we can add something like `details.meta` or `details.config`.

[2018-08-22 06:02] vikasrohit commented on #2244
@deepakanbarasan1 @vic-topcoder @acshields Please suggest.

[2018-08-22 06:05] vikasrohit commented on #2312
I don't think that would work because for each product we have a list of milestone templates where we have to put that information so that when actual milestones are instantiated from those milestone templates, they have the correct behaviour in place.

[2018-08-22 06:11] maxceem commented on #2312
Yeah, I've missed that `milestoneTemplates` don't have `details` property. So if I get it right, first some new property has to be added to both `milestoneTemplates` and `milestones`.

[2018-08-22 06:28] maxceem commented on #2275
As I understood from the discussion only two cases from the first comment has to be implemented https://github.com/appirio-tech/connect-app/issues/2275#issue-347486852

Done via https://github.com/appirio-tech/connect-app/commit/fa31fe0904e105333566bbf10aef9cd81f03d82a

Note, to avoid any unwanted affects during:
- **Switching phase status to Planned**
    I only switch projects to `reviewed` stat

[2018-08-22 06:46] vikasrohit commented on #2275
Perfect.

Lets keep the project in `in_review` state as originally suggested by @vic-topcoder until we get confirmation about changing it to `reviewed`.

[2018-08-22 06:49] amitpatra commented on #2395
Hi, it appears that `item` doesn't have a `templateId` key. So how can we fetch the `templateId`?

[2018-08-22 06:54] maxceem commented on #2275
Done.

Note, that technically now we swtich project to `in_review` status while phase is swtiched to `reviewed` status.

[2018-08-22 08:54] vikasrohit commented on #2273
Thanks @maxceem which one of these is from the issues mentioned in the original list?

And could you please start closing these pending items as well as per priority we have? Let me know if you have any question for these pending items.

[2018-08-22 08:57] vikasrohit commented on #2400
They do already @vic-topcoder. That is where those are copied from, to the actual milestones as well. Its only by design, we were not showing the text until phase i.e. timeline is active. Let us know if we are sure to show the planned text even for non active phases.

[2018-08-22 09:11] maxceem commented on #2273
The 1st item is from the original list.

Ok, I'll close as per the list.

- Regarding 3 and 4 I'm thinking to put buttons in two lines and space between them
- Regarding 5 I think to make radio buttons in one column

Let me know if you'd like it to be done other way.

[2018-08-22 09:45] vikasrohit opened #2410 "Enforce minimum design selection at checkpoint review milestone"
### Expected behavior
It should not enable the `complete review` button until the required number (right now it is 5) of designs are selected. Only exception is when the available number of options is lower than the required number e.g. if there are only 3 design options to select from, it should enable the `complete review` button only when all 3 are selected.

### Actual behavior
It enables the

[2018-08-22 09:47] KevinLeigh commented on #2311
PR created here -> https://github.com/appirio-tech/connect-app/pull/2411/

[2018-08-22 10:15] vikasrohit opened #2412 "Remove specification milestone duration (timeline starts)"
Remove specification milestone duration (timeline starts). When we have a timeline start most of the time we don't want to set a timeline for the customer to complete a specification. The goal is to flip the switch once the specification is ready and the copilot can start the challenges on the platform. We already made the specification document optional, so let's remove further constraints from t

[2018-08-22 10:26] vikasrohit opened #2413 "Remove delivery milestone duration (timeline ends)"
Remove delivery milestone duration (timeline ends). Once the work is done we do a deliver as a single point in time, and the customer has no further option to extend/expand request for fixes. The delivery literally marks the end of the phase and provides a link (or links) to the customer to download their artifacts/deliverables.

Continued from #2301

Aha! Link: https://topcoder.aha.io/features/TC

[2018-08-22 10:31] vikasrohit commented on #2413
@vic-topcoder @acshields I didn't understand this requirement.  Our delivery milestone is dynamic i.e. it renders itself immediately after `final-designs`, in a design phase, with option to either accept the designs or request for final fixes. Only after user chose one of these option, we know where to move in the timeline. If user choses to request fixes, we move backward and enable the `final-fi

[2018-08-22 10:37] vikasrohit opened #2414 "Better separation of review work and review milestones"
Review state of the milestone is really separate thing. Each review has 2 days to be completed. For the sake of simplicity we combined the work and the review into a single milestone. Once we complete the work, the review time starts. Right now this is not clear from the button label.

Continued from #2301

[2018-08-22 10:39] vikasrohit commented on #2414
@vic-topcoder @acshields it didn't made things easy, rather it actually made things complicated in terms of implementation and understanding of the milestone. We started with complicated way and I think we ended up with simpler version where we separated out the work and review as two separate milestones. We already have this two separate milestone based timelines on production, please let us know

[2018-08-22 10:41] vikasrohit opened #2415 "Remove messages for adding a phase to a project plan"
Remove messages for adding a phase to a project plan. This is done by managers and makes no sense as I can see what I've just added. The customer can't see a phase when it is in draft state (as added) and it makes no sense to dispatch this message.

![screen shot 2018-08-06 at 2 51 25 pm](https://user-images.githubusercontent.com/8484061/43744296-44883d98-998e-11e8-8895-9bc5e7bb623b.png)

Continue

[2018-08-22 10:41] maxceem opened #2416 "Error when making phase 'in progress'"
Sometimes when I switch phase to `in progress` status, I get error in browsers console:
[code]

Error in the next line:

![image](https://user-images.githubusercontent.com/146016/44459016-a6b51780-a63a-11e8-8358-d924ed2871f0.png)

The error happens during attempt to mark the first milestone as `active`. After that we end up when phase is already `in progress` but there is no active milestone.

![i

[2018-08-22 10:45] vikasrohit commented on #2415
@vic-topcoder @acshields I think it is always good give an acknowledge of what user has done especially when user is not able to immediately locate the changes made by his last action e.g. in our case if the phase list to too long (as it is in the attached screenshot), it is very difficult for me to see if my phase is successfully added or not. And anyway, we are always showing such messages on al

[2018-08-22 10:47] vikasrohit opened #2417 "Remove the "submit for review" button from project scope"
Remove the "submit for review" button as our project scope has the exact same data from project creation. This makes no sense at the moment. We're going towards a state where all the project scope data would be submitted at one step and once project is completed it would be ready for review (generate project plan)

Continued from #2301

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-383

[2018-08-22 10:54] vikasrohit commented on #2417
@vic-topcoder @acshields Agree that right now we don't have any thing different in project after project creation and that is because we haven't identified the scope and product questions yet via #2161 and #2162. If we have that separation, we would have some questions (in fact we do have some questions in phase specs but that is hidden right now for customers) which would be visible only after pr

[2018-08-22 11:27] vikasrohit opened #2418 "[60$] Hide 0$ as cost/estimate"
Hide $0 as cost/estimate from the customer. Our customers should only see data that is relevant.

Continued from #2301

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-384

[2018-08-22 11:44] vikasrohit commented on #2418
@vic-topcoder @acshields This portion (Price/cost/estimate) of the phase card is still not clear. We just hardcoded few things there. We need a better logic there to show the price. In the original designs in marvel, it used to show 2 different types of pricing statuses `Quoted`, `Fully Paid` and `$xxx remaining`. I think right now it shows `Quoted` in every situation except when the phase is acti

[2018-08-22 11:45] vikasrohit opened #2419 "[$20] Do not display project status bar twice on the Project Scope tab"
Do not display project status bar twice on the Project Scope tab. This makes no sense (Hide one of the two progress bars). @acshields I'm leaving you to pick which one of the progress bars should stay. I would probably hide the big progress bar as the jump from the sidebar to the main space would be too much).

Continued from #2301

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-385

[2018-08-22 11:46] vikasrohit commented on #2419
@acshields let us know which one we want to keep or hide.

[2018-08-22 11:47] vikasrohit opened #2420 "Hide project status from customer"
Hide project status from customer. We build the new progress bar at the moment and it would be sufficient for communication. The project status should be visible for managers and copilots. Also - let's make sure we tackle the logic of switching project status based on the dependent phase status.

Continued from #2301

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-386

[2018-08-22 11:49] vikasrohit commented on #2420
@vic-topcoder @acshields I didn't get this requirement. Does it meant to get rid of the project status from the left panel in project details and status in project card in list/grid view? If yes, I am not sure how that would help customers or any user. IMO, status is critical thing to know about no matter who the user is.

[2018-08-22 11:50] vikasrohit opened #2421 "Rename `Channels` and `Posts` to `Discussions`"
Rename `Channels` and `Posts` to `Discussions` to keep things consistent.
![screen shot 2018-08-06 at 3 45 06 pm](https://user-images.githubusercontent.com/8484061/43744660-d77037d6-998f-11e8-8c07-15fddd4f5231.png)

Continued from #2301

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-387

[2018-08-22 11:53] vikasrohit commented on #2421
@vic-topcoder @acshields we already have the label `Discussions` for a tab which is visible to only very very very old projects and I have seen active projects (e.g. https://connect.topcoder.com/projects/1288) with that tab enabled. If you think this change does  not cause confusions to those project members, we are good with the requirements here.

[2018-08-22 11:59] narekcat commented on #2306
@gondzo @vikasrohit  I can get project's topic by it's id, but I can't get project's post or topic by post id and in messages api there aren't any endpoint for getting project's topic or post by post id. Are there any endpoint for getting that data by post id ?
I examine discussions and found out that if we go /projects/:projectId/discussions/:discussionId, it doesn't shows discussion, it says "In

[2018-08-22 12:08] vikasrohit opened #2422 "[$80] Maintain the phase card height when updating milestone/timeline"
### Expected behavior
It should not change the height of the card when showing loading icon while doing updates to milestones/timelines

### Actual behavior
It reduces the height when loading icon comes into picture and then increases the height back to original when it goes away.

### Steps to reproduce the problem
- Update a milestone
- Observe the loading icon and phase card

### Screenshot/scr

[2018-08-22 12:09] vikasrohit commented on #2422
@gondzo  fyi

[2018-08-22 13:01] narekcat commented on #2306
@gondzo @vikasrohit Can project's phase has more then one topics ? If it can't that I can redirect to /projects/:projectId/plan/phases/:phaseId/topics when user goes to /projects/:projectId/topics/:topics and /projects/:projectId/plan/phases/:phaseId/posts/postId when user goes to /projects/:projectId/posts/:postId

[2018-08-22 13:33] gondzo commented on #2306
Phase will always have just one topic.
When user goes to /discussions/topicId this should be the logic to get the relevant topic
call messages_api/topics/topicId and check the tag field in the response:
- 'PRIMARY' - load /projects/:referenceId#feed-{:topicId}
- 'MESSAGES' - load /projects/:referenceId/discussions/:topicId
- 'phase#:phaseId' - load /projects/:referenceId/plan, expand the correct p

[2018-08-22 13:35] narekcat commented on #2306
@gondzo Ok, thank you very much.

[2018-08-22 15:19] KevinLeigh commented on #2328
If this cannot be completed, please can this issue be assigned to me?

[2018-08-22 15:26] Gauravseta commented on #2328
@kevinleigh i will complete within few hrs. near to done..

[2018-08-22 15:38] KevinLeigh commented on #2328
@Gauravseta Thank you for the update, good luck.

[2018-08-22 17:26] vic-topcoder commented on #2338
info icon
[round-e-help.svg.zip](https://github.com/appirio-tech/connect-app/files/2311395/round-e-help.svg.zip)

[2018-08-22 17:30] vic-topcoder commented on #2279
Arrow and close are different patterns. They should not be mixed.

- Arrow is for iOS going back

- Cross - should be on the top right side, I'd prefer if we use only 1 SVG and manipulate the fill with CSS

Good catch @maxceem

[2018-08-22 17:31] vic-topcoder commented on #2400
Let's show the planned state during draft stage please - it makes no sense to hide the text as the managers would edit the timeline and adjust it while in draft mode/inactive.
@acshields FYI

[2018-08-22 17:42] vic-topcoder commented on #2275
@acshields FYI

- A project with `in review` state communicates to the customer that we're working on it; no copilots are added yet. This is the preliminary stage to define scope and size, and proceed further (close the sale)
- A project with `reviewed` state means a copilot is now going to self-assign themselves (sale is closed), work specification will be determined
- A project with `active` sta

[2018-08-22 19:43] Gauravseta commented on #2328
@gondzo PR raised. #2423

[2018-08-22 20:38] PrakashDurlabhji commented on #2343
@gondzo MR done.
please check

[2018-08-22 21:46] rashmi73 commented on #2391
@gondzo working on it actively.

[2018-08-23 01:26] maxceem commented on #2321
Do we need the ability to extend Delivery milestone?

![image](https://user-images.githubusercontent.com/146016/44499483-a0648100-a6b6-11e8-863a-0b4bead4c096.png)

[2018-08-23 01:32] maxceem commented on #2321
@vikasrohit Done for each milestone except Delivery one as we probably don't need it there. Please let me know if we also need an extension for the delivery milestone.

[2018-08-23 01:36] maxceem commented on #2401
@vikasrohit I've checked again, any notifications don't come on DEV for now.

[2018-08-23 01:43] maxceem commented on #2279
As I understand for cases 1 and 2 we keep cross but put it on the right side.
And case 3 stays as it is.

[2018-08-23 02:26] vic-topcoder commented on #2412
I'll defer the decision to @acshields; I'm fine if the specification milestone has a duration.

[2018-08-23 02:28] vic-topcoder commented on #2413
The delivery milestone should not have a duration as it will expand the phase duration? Or we have a standard 1-3 days for code delivery? I'm not sure if delivery blocks any of the phases that follow.

Deferring to @acshields

[2018-08-23 02:29] vic-topcoder commented on #2409
Yes - this would be something we'll tackle in the project scope update work. Good catch @maxceem.

[2018-08-23 02:30] vic-topcoder commented on #2410
I think we should disable "submit for review" for customers as the specification is hidden on the phase cards. @acshields please chime in

[2018-08-23 02:32] vic-topcoder commented on #2414
The current implementation with 2 separate milestones (design work - copilot; design review - customer) works better for our customers. I'm not sure what this issue addresses? Current implementation is good.

[2018-08-23 02:33] vic-topcoder commented on #2415
The visual message when a new phase was added is useless as it doesn't provide additional value; it detracts the user.

[2018-08-23 02:35] vic-topcoder commented on #2417
@acshields - "IBM Chatbot" and "Azure Marketplace" projects - would they need a "submit for review" process? I'm in favor of merging project creation and scope capture.

[2018-08-23 02:37] vic-topcoder commented on #2418
The change request is to add a case where to render the price to the end user. Similar to how we hide the phase while it is in `draft` mode, we should hide the price if the dollar value is == 0; this way the customer doesn't see a 0 cost (free!). Does this make sense?

[2018-08-23 02:39] vic-topcoder commented on #2420
Deferring to @acshields:

My logic is that there are way too many status changes currently and the customer doesn't need to focus on PROJECT status, rather see when the phases are ready to be worked on, and monitor their progress. This, combined with the progress bar on the right side makes it easier for a customer to understand what's going on.

![image](https://user-images.githubusercontent.com/

[2018-08-23 02:40] vic-topcoder commented on #2421
This is in a sense update of the feature we had :) Those projects ideally would be upgraded to the new system.

[2018-08-23 02:42] vic-topcoder commented on #2273
I've added the specifications for RUX #2312

[2018-08-23 02:44] vic-topcoder commented on #2321
@acshields  FYI

I think we do not need extension for delivery

[2018-08-23 02:45] vic-topcoder commented on #2279
Yes.

[2018-08-23 02:46] vic-topcoder commented on #2244
Just leave it as is, i guess. I haven't heard of any issues with file uploading from customers. @acshields

[2018-08-23 02:48] maxceem commented on #2416
This happened every time when we create a new Visual Design project and mark the only phase default phase as `in progress`.

Fixed via https://github.com/appirio-tech/connect-app/commit/e51ef016fdfb29769b9c8d394e8bcd3ec92b8726

[2018-08-23 04:14] maxceem commented on #2302
10. When open one project http://local.topcoder-dev.com:3000/projects/7239 then **without reloading page** navigate to project list and after to another project http://local.topcoder-dev.com:3000/projects/7238 (by clicking it in th project list), warning two times:
[code]

[2018-08-23 05:09] vikasrohit commented on #2401
@maxceem I fixed the notifications in dev. Please let me know if you are still facing the same issue.

[2018-08-23 05:15] maxceem commented on #2302
This is done. I don't see any warning which are shown in red now.

1. fixed
2. cannot reproduce (it was a valid warning and looks like the cause was fixed)
3. cannot reproduce
4. fixed by [PR 291](https://github.com/appirio-tech/react-components/pull/291) to `react-components`
5. cannot reproduce (was fixed)
6. fixed
7. cannot reproduce (looks like fixed by other changes)
8. cannot reproduce (rega

[2018-08-23 05:25] vikasrohit commented on #2321
Agreed with both @maxceem and @vic-topcoder. However, the purpose of this ticket is to add that capability to every milestone component (or rather in the common Milestone component) so that we can enable disable that as per requirements.
@maxceem as we discussed that we are going to have `metadata` on `milestoneTemplates` which would give us the capability of adding more configuration options for

[2018-08-23 05:27] vikasrohit commented on #2321
@maxceem I think we are okay for now, we would take care of moving it to a common place which is controllable via config, later after we are done with ability of `metadata` and started using it in at least one other use case.

[2018-08-23 05:30] vikasrohit commented on #2416
Good observation @maxceem. I can understand that update timeline call does not return milestones in response, which seems to the issue here, however I am still wondering why it was not happening for other type of projects/phases.

[2018-08-23 05:32] maxceem commented on #2321
@vikasrohit so far all the logic for extension moved to one HOC, but we still has to insert variables in each milestone type into the places where we want to show `extension requests dialog`, `extension confirmation dialog` and a `button to show extension request` as places can be different depend on milestone type structure.

Also we have to control the blue line and dots which goes along these d

[2018-08-23 05:43] vikasrohit commented on #2400
Okay.

@gondzo there are two things to be done in the scope of this issue:

- [ ] Remove the welcome paragraph with title (Welcome to…phase)
- [ ] In draft state of phase, show text of the milestones and enable the edit options for milestones as well.

Please feel free to create separate issues if you think it would be better.

[2018-08-23 05:52] vikasrohit commented on #2312
@maxceem Can you please start on this now? I know we need the backend support for `metadata` field in milestone templates, however, can you assume that to be there for now in the response and write code accordingly. If there is no metadata or no config in that for number of final designs, assume it to be the default `5`.

[2018-08-23 05:52] maxceem commented on #2416
@vikasrohit The reason is that after updating phase we update timeline only in case when phase start date is changed or phase is activated https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/project.js#L421

[2018-08-23 05:54] vikasrohit commented on #2273
@maxceem I am okay with your assumptions to fix the issues. Only thing to keep in mind is that primary button should be in the first line when wrapping the buttons in two lines.

[2018-08-23 05:54] vikasrohit commented on #2273
Thanks @vic-topcoder for the designs.

[2018-08-23 05:58] vikasrohit commented on #2421
Agreed @vic-topcoder. However, as per my understanding after reading the mangers (for those legacy projects) views, these projects are not going away very soon. Also, `Discussions` tab is a legacy thing that is there, which we have hidden for all new projects but they would remain there for older ones to keep there records. So, if we are okay with renaming `Channels` to `Discussions` even for such

[2018-08-23 05:58] maxceem commented on #2312
Ok I'll expect that we have `metadata` property in milestone `details`:
[code]

[2018-08-23 06:01] vikasrohit commented on #2418
Yes, that do. But the question is that do we have any logic in mind for showing the text (`Quoted`, `Fully Paid`) for the price/cost/estimate? I am assuming that as we don't have any payment logic to the phases, we can safely assume that it would always be `Quoted` until the first cent is spent.

[2018-08-23 06:33] vikasrohit commented on #2312
Makes sense, with minor change `winnerQuantity` => `requiredWinnersCount` or something similary

[2018-08-23 06:35] vikasrohit commented on #2416
Yup, Agreed, but it still does not answer that why it was happening only for a specific type of project or phase.

[2018-08-23 06:36] vikasrohit commented on #2321
Agreed on all points. 👍

[2018-08-23 06:43] maxceem commented on #2416
I didn't check for other project types, but I believe it has to happen for
all types. I've mentioned the type of project in the issue just to be sure
that the issue can be reproduced with my instructions.

On Thu, Aug 23, 2018, 14:35 vikasrohit <notifications@github.com> wrote:

[2018-08-23 06:45] vikasrohit commented on #2416
👍

[2018-08-23 07:27] vikasrohit commented on #2302
Not able to see any console error after quick testing around the project plan flows. Closing. Good work @maxceem

[2018-08-23 07:27] #2302 closed

[2018-08-23 07:29] vikasrohit commented on #2416
Working fine. Closing.

[2018-08-23 07:29] #2416 closed

[2018-08-23 07:37] vikasrohit commented on #2321
@maxceem it seems it is not refreshing the status of approved extension for `community-work` milestone. It shows correct values after refreshing the page and if user clicks the `Approve Extension` button again after first click (because of the issue), it keeps the dates of the next milestone unmoved.

[2018-08-23 07:55] maxceem commented on #2321
@vikasrohit I went through all the milestones, it did happen to me once for `phase-specfication` but I couldn't reproduce the second time for any milestone including `phase-specfication`, `community-work` and `final-designs`.

So far I suspect that server returns not-updated timeline after we update milestone like in this issue https://github.com/topcoder-platform/tc-project-service/issues/159 but

[2018-08-23 08:05] maxceem commented on #2321
I've cought it.

The requests are called one by one:
![image](https://user-images.githubusercontent.com/146016/44512713-07e9f300-a6ee-11e8-9201-54325947aee6.png)

- `PATCH https://api.topcoder-dev.com/v4/timelines/986/milestones/4526` with data
[code]

   Returns correct updated response
[code]

- `GET ttps://api.topcoder-dev.com/v4/timelines?filter=reference%3Dproduct%26referenceId%3D2061`
    re

[2018-08-23 08:37] vikasrohit commented on #2321
Ohk, understood. I am thinking of keeping a reference to the timeline in phase/product so that we don't have to look for it by LIST operation and rather we should always GET it by id. That should resolve the issue as it always fetches data from database which always up to date.

[2018-08-23 09:08] vikasrohit commented on #2275
Working fine in dev. Closing.

[2018-08-23 09:08] #2275 closed

[2018-08-23 09:11] vikasrohit commented on #2321
@maxceem for this particular case, I think we can always call [get timeline by id](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/productsTimelines.js#L79) instead of loading timeline by reference and referenceId, right? We always know the timeline and product id in this action. So, I guess you can use that to fix the situation here.

[2018-08-23 09:16] vikasrohit opened #2427 "New phase is added in between instead of at last"
### Expected behavior
As per current requirements it should always add the new phase in the last of project plan.

### Actual behavior
However for projects where there are certain phases which are moved fast or slow than their expected schedule (i.e. when there is a difference in `actualStartDate` and `startDate` of milestones), it tends to add the new phase in between the list of phases.

### Ste

[2018-08-23 09:47] gondzo commented on #2178
We have the PR ready in project service https://github.com/topcoder-platform/tc-project-service/pull/110/files

[2018-08-23 09:54] maxceem commented on #2321
@vikasrohit good solution. Done it for extension and also for milestone updates, as when we update milestone duration, we also have to update the whole timeline.

[2018-08-23 09:55] vikasrohit commented on #2321
👍

[2018-08-23 10:04] maxceem opened #2428 "Remove hardcoded json files of project templates as they are stored in DB now"
We moved from the project templates stored in JSON files to storing project/product templates in the DB. Connect-app currently supposes to use only data from the server.

So we can check they are not referred anywhere and remove:
- `src/config/projectQuestions/*.js`
- `src/config/projectSpecification/typeToSpecification.json`
- `src/config/projectWizard/index.js` - this may contain functions in us

[2018-08-23 10:32] vikasrohit commented on #2428
Thanks for capturing this, but I would like to keep them for some time so that they can be reference quickly when we have to map some legacy projects on production.

[2018-08-23 14:58] vic-topcoder commented on #2418
For the time being we do not have any info from SFDC if/how much is paid on a project. We do have the "amount paid" in the phase manually managed, so I think we're good for the moment

[2018-08-23 15:03] vic-topcoder commented on #2410
Yeah, poor wording. Ignore my previous comment. The button should not be enabled until the customer selects the required number of designs (review, final designs).

[2018-08-23 15:13] narekcat commented on #2306
@gondzo Can you give me exact endpoint for getting post by it's id ? Like in case of topic is "/topics/${topicId}/read/db". I tried "/posts/${postId}", but it returns status code 404.

[2018-08-23 17:38] mtwomey commented on #2355
@gondzo Do you think we could perhaps task someone from the community to research possible causes of this (and recommend a solution)? (cc: @vikasrohit)

[2018-08-23 17:42] mtwomey commented on #2356
@kbowerma On this one, our expectation is that it's been fixed with the last release. Was this a one-time occurrence on your end, or have you seen it in the past week? @vikasrohit Can you please clarify a bit more what in the latest release we believe has fixed it?

[2018-08-23 17:46] mtwomey commented on #2354
@vikasrohit `We are still trying to cross validate the fix.` Were we able to validate this?

[2018-08-23 19:28] gondzo commented on #2355
sure @mtwomey. I suspect this is also caused by slow connection or slow api response, but we can just clean the previous data before loading the new project.

[2018-08-23 20:00] simranb86 commented on #2305
@gondzo with fresh setup also i get same issues, looks like setup guide needs clear steps or some guidance on above issues, hence opening for others.

[2018-08-24 00:59] maxceem commented on #2312
@vikasrohit
1. Can a customer buy additional designs for $100 in RUX same like in design competitions?
    ![image](https://user-images.githubusercontent.com/146016/44559305-bdaf5300-a77b-11e8-822f-fb03fc2c79e8.png)

2. Should we show all 8 places if there is less than 8 submissions? Or if there only 5 submissions we show only 5 places?
    ![image](https://user-images.githubusercontent.com/146016

[2018-08-24 01:06] maxceem opened #2429 "Merge two milestones implementations:`checkpoint-review` and `final-designs` into one"
From here https://github.com/appirio-tech/connect-app/issues/2361#issuecomment-413091916

Agree on this, already few changes had to dpulicate into two components.

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-393

[2018-08-24 01:45] maxceem opened #2430 "In add-links milestone, link value is not cleared when adding the next link"
In add-links milestone when adding links, link value is not cleared when adding the next link https://monosnap.com/file/BhZHXUtmnBYPpzqtuHPElbNGvwi7WE

## How to reproduce
1. In the add-links milestone add one link.
2. When adding the second link value will be empty as expected.
3. But when adding the third link or more, link value will be already filled with the previous value.

**Update**
Also,

[2018-08-24 05:34] vikasrohit commented on #2430
@maxceem It turned out a feature for me when I was trying test things in dev because it makes it fast. 😬 However, I am thinking can it be actually a feature for copilots and managers as well? e.g. when they are adding design links which only differs in their ids i.e. the base urls remains same e.g. `http://marvelapp.com/8a94680/`

fyi @acshields @vic-topcoder

[2018-08-24 05:41] vikasrohit commented on #2429
@maxceem Its not about merging `checkpoint-review` and `final-designs` into one, I they have different purposes and behaviour. Though, we can use same component for them as well by using hoc(s) for rendering the design selection portion in the milestone. I think while this would also be a good refactoring, however, the point we raised in https://github.com/appirio-tech/connect-app/issues/2361#issu

[2018-08-24 05:43] vikasrohit commented on #2429
@maxceem Apologies, I think I misread your description. Saw the changes after posting the comment 😬, seems like you have done exactly what I described above. Thanks.

[2018-08-24 05:44] maxceem commented on #2429
@vikasrohit yeah, I just was not clear in this issue description...

[2018-08-24 05:46] vikasrohit commented on #2312
1. Yes, I am thinking of keeping the purchase cost to be configurable just like we are configuring number of winners so that we can have different cost per design for RUX.

2. I think we should show only those much places as we have the number of submissions.

[2018-08-24 05:49] vikasrohit commented on #2354
@mtwomey @kbowerma No we are not able to reproduce it again, but we are positive that the fix we have released in 2.4.4 should have fixed the error. However, we are still working on #2355.

[2018-08-24 05:51] vikasrohit commented on #2356
@mtwomey we are positive that it is fixed with https://github.com/appirio-tech/connect-app/issues/2123 and it is deployed to the production.

[2018-08-24 05:53] vikasrohit commented on #2355
Yes, that is the solution, however, we need to validate that it clearing the state data does not cause any other issue, hopefully it should not but I think we got some issue in past when clearing the state on listing page.

[2018-08-24 05:54] maxceem commented on #2312
Ok, so I'm adding `additionalDesignCost` to `metadata`.

[2018-08-24 05:58] vikasrohit commented on #2306
It should be `/v5/topics/{topicId}/posts/{postId}/read/db`.

[2018-08-24 06:01] vikasrohit commented on #2312
👍

[2018-08-24 06:16] narekcat commented on #2306
@vikasrohit Ok, but then it can't jump to post having only postId, in case of connect.topcoder.com/posts/postId.

[2018-08-24 06:34] vikasrohit commented on #2306
I don't think we need to handle `connect.topcoder.com/posts/postId`. For every notification (which is the originator for the user to navigate to the specific topic or post) we should have both `topicId` and `postId` so we should be able to navigate to a particular post by constructing url with both params and I think we are already doing something similar to load the specific topic or post on dash

[2018-08-24 06:43] mtwomey commented on #2356
Awesome, thanks @vikasrohit @kbowerma See above, I'm going to close this one out. Please keep us in the loop if you notice anything funny related to this.

[2018-08-24 06:43] #2356 closed

[2018-08-24 06:44] mtwomey commented on #2355
Ok @gondzo @vikasrohit should we just task this one out to someone to test and validate?

[2018-08-24 06:47] vikasrohit commented on #2355
We can take this internally or I can get it done via ongoing private tasks.

[2018-08-24 06:49] narekcat commented on #2306
@vikasrohit For this issue we need new functionality to jump to topic from `/topics/topicId` or jump to post from `/topics/topicId/posts/postId`. Am I right ?
If you copy past `/projects/7210#feed-27775` or `/projects/7210#comment-80286` in browser address line, you will not see topic or feed. It working only when all content is loaded and you clicking on post date.
And gonzo said https://github.c

[2018-08-24 08:33] maxceem commented on #2312
Done.

Editing demo: https://monosnap.com/file/MEEYlajCMXqMhXEStuIKamkzGOglgL
View demo: https://monosnap.com/file/682ExMgSSrickK19e70lzjwNhDVaCk

[2018-08-24 08:50] vikasrohit commented on #2312
Great @maxceem . One minor suggestion, can we try left or center aligning the rank placeholders (in mobile view when they are wrapped in the next row)? I think left align would look better for devices having non standard resolutions.

fyi @vic-topcoder @acshields please check the demo videos shared by @maxceem and let us know your feedback.

[2018-08-24 09:11] vikasrohit commented on #2178
Thanks @gondzo. I have merged the PR, I think it has safe changes, it would only generate web notifications for now and for email notifications we already handling via https://github.com/topcoder-platform/tc-notifications/issues/59.

[2018-08-24 09:48] maxceem commented on #2273
6. How to deal with long button names which don't fit mobile screen. Note, I suppose the minimal supported resolution is 320px.

     - `Add specification document link`
        ![image](https://user-images.githubusercontent.com/146016/44575652-06d4c680-a7bf-11e8-8b69-39a3c922cdf5.png)
     - `Complete review (158h remaining)`
        ![image](https://user-images.githubusercontent.com/146016/44577

[2018-08-24 09:50] maxceem commented on #2273
Everything except 6 is done

1. Looks like this
     ![image](https://user-images.githubusercontent.com/146016/44574777-eefc4300-a7bc-11e8-827f-88f474ae04a3.png)

5 Extension labels are aligned like this https://monosnap.com/file/KB7Aabd2S3ZrZ0PfeXZhkbqocehhKC

7 Fixed `Please select all 5 designs to ...` warning.
     ![image](https://user-images.githubusercontent.com/146016/44577103-cd05bf00-a7c

[2018-08-24 09:58] maxceem commented on #2312
Aligned left

![image](https://user-images.githubusercontent.com/146016/44578850-3982bd00-a7c7-11e8-8165-24ff1238fa6b.png)

[2018-08-24 12:31] narekcat commented on #2306
@gondzo @vikasrohit I have fixed this issue. If user goes to `/topics/:topicId` then it will redirect to `/projects/:projectId/plan/phases/:phaseId/topics`, opens Project Plan tab, opens project phase in the middle of screen, opens topics tab and loads posts. Same will happen when user goes to `/topics/:topicId/posts/:postId`, but it loads all posts and shows post with postId in the middle of scre

[2018-08-24 16:14] KevinLeigh commented on #2358
@ThomasKranitsas @gondzo Hey Guys, is this still be worked on? If not can it be assigned to me please ?

[2018-08-24 16:37] mtwomey commented on #2355
Ok - let's use a private task for it. (@gondzo @vikasrohit

[2018-08-24 17:33] nahidshahin commented on #2358
@gondzo @ThomasKranitsas can you assign the issue to me, please?

[2018-08-24 22:57] gondzo commented on #2177
This can be implemented after #2306 is merged

[2018-08-24 23:06] gondzo commented on #1985
@vikasrohit yes, it would dismiss notifications for all phases with the above approach. Would it make sense to add some kind of 'event emitter' logic to components that display the target for a notification? For example we can have Feed container emit "message seen" event for each displayed message, files list component would emit "file seen" event for all seen files. Then we would have some main

[2018-08-24 23:06] gondzo commented on #2342
I think this one is working fine

[2018-08-25 04:45] gets0ul commented on #2422
https://www.screencast.com/t/Oqs9IayL

Please check if this is correct as expected. Thanks

[2018-08-25 05:42] amitpatra commented on #2395
Made a fresh pull request. Please review. Thank you.

[2018-08-25 05:50] maxceem opened #2435 "Hot reloading often doesn't work"
So far hot reloading often fails to reload only updated components and usually updates the whole app. Which increases development time especially when doing a lot of small changes like fixing SCSS styles.

In particular, if there are some components which are controlled by the state, their state is lost after hot reloading. So we have to repeat some clicks just to come back to the previous place.

[2018-08-25 06:07] maxceem commented on #2435
I've fixed in the branch https://github.com/appirio-tech/connect-app/tree/feature/improve-hot-realoding

Measurements after the fix:
- Updating component controlled by state ~6 sec, demo https://monosnap.com/file/xIHoriwiaeoOk6xufVLI2zPLnaHVpx
- Updating component controlled by redux ~6 sec, demo https://monosnap.com/file/bYHHxmz6CvRz2Gi4GYFX49FcDkoGrv
- Updating SCSS style ~6 sec, demo https://mo

[2018-08-25 08:02] maxceem commented on #2435
I've merged the branch https://github.com/appirio-tech/connect-app/tree/feature/improve-hot-realoding to my current working branch https://github.com/appirio-tech/connect-app/tree/feature/v2-4-5-part2

As it speeds up developing and also to verify that there are no side effects in this update during working on other issues.

[2018-08-25 09:46] maxceem commented on #2401
Done for posts.

[2018-08-25 09:55] maxceem commented on #2401
Reverted commit in a common branch and created a separate branch for this issue https://github.com/appirio-tech/connect-app/tree/issue-2401

[2018-08-25 10:08] maxceem commented on #1985
@vikasrohit @gondzo FYI
For implementing [Add notification visual cues to project plan cards](https://github.com/appirio-tech/connect-app/issues/2401) we have to mark post notifications as read, when user opens the tab with posts for a particular phase.

So far I've implemented some helper component to dismiss notifications for some mounted i. e. visible component: https://github.com/appirio-tech/

[2018-08-25 14:26] sumitdaga commented on #2391
@gondzo
let me know if i can take this ?

[2018-08-25 14:28] Gauravseta commented on #2391
@gondzo even m waiting for same

[2018-08-25 14:29] Gauravseta commented on #2391
@gondzo please assign it to me or is it like whoever takes it when marked open?

[2018-08-25 14:48] Gauravseta commented on #2391
@sumitdaga how can u take while it is not marked open for pickup? @gondzo is it valid?

[2018-08-25 14:57] Gauravseta commented on #2305
@gondzo it shud look properly now.
#2436

[2018-08-26 06:33] vikasrohit commented on #2422
Thanks @gets0ul for demo video. It seems their is still some jump when loading icon is rendered. Please see the second time you updated the milestone in your demo, it shifted the screen up by some pixels.

Also, can you please add demo with marking a milestone complete? That is the most frequent use case we want to take care.

[2018-08-26 06:34] vikasrohit commented on #2342
Okay, @deepakanbarasan1 can you please verify it again and close the issue if not happening now?

[2018-08-26 06:44] simranb86 commented on #2305
@gondzo @Gauravseta Did you get above issues like me while setting env? If yes, could you suggest the fix for the same. It would help me get env in place for future tickets.

[2018-08-26 06:48] gets0ul commented on #2422
Thanks for the feedback @vikasrohit.
I'll add the demo on milestone marking.

[2018-08-26 08:34] gondzo commented on #2305
@simranb86 no, I didn't get such errors. Can you post the full build log and node/npm versions. build log should be similar to https://circleci.com/gh/appirio-tech/connect-app/2135?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-08-26 08:37] gondzo commented on #2391
@Gauravseta - it should have been marked as open for pickup long time ago, sumitdaga asked to work on it first so it should go to him first.
self assigning issues to yourself when they aren't open for pickup won't be accepted anymore.

[2018-08-26 08:46] gondzo commented on #1985
The only issue I see here is that we have to pass notifications down to every component that can display notifications related content.

I don't have a better solution either, so we can go with this approach @vikasrohit ?

[2018-08-26 09:04] Gauravseta commented on #2391
@gondzo i guess u misunderstood. because issue was not taken by me ever. it was with rashmi73 , and sumit daga commented and even i commented. then i was waiting for it to be made open for pickup from rashmi73 and sumitdaga took it directly assigning to himself. hence i commented that how can he take it while it is not made open for pickup..because even i was waiting for this issue. even i could h

[2018-08-26 09:12] gets0ul commented on #2422
Marking milestone as completed:
https://www.screencast.com/t/Rm4Rbggn7W
https://www.screencast.com/t/1eQum8So

Please check. Thanks.

[2018-08-26 11:48] sumitdaga commented on #2391
@gondzo
i think the best solution here would be if the SearchBar from [here](https://github.com/appirio-tech/react-components/blob/master/components/SearchBar/SearchBar.jsx) can accept an initial term
As of now it looks for its value from the query string which is not set when we go back from the project detail page

are we allowed to make changes to appirio tect react components?

[2018-08-26 12:02] sumitdaga commented on #2391
@gondzo
meanwhile i have raised a PR with another solution which i think has no other side effects

[2018-08-27 04:53] nahidshahin commented on #2139
@gondzo [PR](https://github.com/appirio-tech/connect-app/pull/2441) issued

[2018-08-27 05:57] vikasrohit commented on #2422
Thanks @gets0ul for the updated video. It seems good to me except that there is still a bit of scroll after loading icon goes away. Please notice the scroll on the right side, ideally it should not jump at all. I think we applied a fix in past to scroll to the current phase card after update, so I think that fix might be causing this. Can you please check and remove that logic and see if that stop

[2018-08-27 05:59] vikasrohit commented on #2305
@simranb86 Do you have latest node running on your machine? I am using v8.5.0, so try that if you can.

[2018-08-27 06:37] vikasrohit commented on #2435
Okay, No issues @maxceem. Btw good capture again.

Btw when we are at developer issues, we also need to fix the source map to be available on dev and prod builds both. It makes life easy when we are debugging things on production. @maxceem do you think we could have any potential performance issue if we enable source map on production?

[2018-08-27 06:50] maxceem commented on #2435
@vikasrohit

Regarding source maps on production, I'll research a little to be sure. So far only one performance drawback I can think about is whether source maps are downloaded by browser by default or no. Other than that I don't think there could be any performance issues.

[2018-08-27 07:00] gets0ul commented on #2422
Without scrolling. PR is updated.

https://www.screencast.com/t/zwlLZIt43P

[2018-08-27 07:11] vikasrohit commented on #2435
Okay, Thanks @maxceem. These changes are really helpful and it is good to document issue and the fixes via videos as well. Thanks again.

[2018-08-27 10:59] vikasrohit commented on #2306
It only works for the dashboard topics/posts. I have tested this recently and it is working as expected. purpose of this issue is to apply the same logic for phase topics now.

Seems like you are now on correct track. One thing that I want to improve is the original URL which we are using load the specific phase topics/post because `/projects/:projectId/plan/phases/:phaseId/topics` and `/projects/

[2018-08-27 15:19] narekcat commented on #2306
@vikasrohit Ok, I understand. Thank you.

[2018-08-28 05:52] vikasrohit opened #2445 "List the phase topic in the left panel"
fyi @RishiRajSahu

[2018-08-28 06:34] vikasrohit opened #2446 "Color change for date of the completed milestone"
When a milestone is in any state but completed, the date on the left should be colored with $tc-gray-30 to illustrate a planned date state. Once the milestone is completed, the date would be final (day of competition) and should use $tc-black as color.

Continued from #2333

[2018-08-28 06:35] vikasrohit commented on #2333
Closing as required changes are done and #2446 is created the minor thing remaining.

[2018-08-28 06:35] #2333 closed

[2018-08-28 06:48] maxceem commented on #2338
I've put a wrong comment for this commit https://github.com/appirio-tech/connect-app/pull/2447/commits/7fe567afdb58c7a0b2cd410b623b93e3396b12d0 it's has to be for this issue, not 2339.

This fix depends on the [PR 292](https://github.com/appirio-tech/react-components/pull/292) to react-components.

[2018-08-28 07:11] maxceem commented on #2445
As we don’t define the topics in the phases. Does it mean that we have to who phase names as topic names in the left panel?

[2018-08-28 07:18] vikasrohit opened #2448 "Phase form is not showing updated values"
### Expected behavior
It should maintain the update values in the form after the update

### Actual behavior
It is showing old value after successful update.

### Steps to reproduce the problem
- Update any active phase's Spent money and/or Price fields
- Click on the Edit icon again
- Notice that value in form is the one before the update, please try closing the form again and reopen it again if

[2018-08-28 07:28] RishiRajSahu commented on #2445
@maxceem we can use topic `title` which is already by default same as phase name.

[2018-08-28 07:30] vikasrohit commented on #2185
@maxceem Moving it one more release further.

[2018-08-28 07:31] RishiRajSahu commented on #2194
This issue seems to be fixed in the recent release and is no more occurring.

[2018-08-28 07:31] #2194 closed

[2018-08-28 07:32] vikasrohit commented on #1702
@vic-topcoder @gondzo moving it to back log instead of keeping it in every release.

[2018-08-28 07:32] vikasrohit commented on #2320
Moving one release further.

[2018-08-28 07:33] vikasrohit commented on #2339
Moved to next release.

[2018-08-28 07:37] vikasrohit commented on #2279
Moved to next release.

[2018-08-28 08:33] vikasrohit commented on #2161
Moving to backlog for the time being. @vic-topcoder @acshields please feel free to move it 2.4.6 milestone if you want to keep in active milestones to not forget about it. :)

[2018-08-28 08:33] vikasrohit commented on #2162
Moving to backlog for the time being. @vic-topcoder @acshields please feel free to move it 2.4.6 milestone if you want to keep in active milestones to not forget about it. :)

[2018-08-28 08:37] vikasrohit opened #2449 "Phase progress bus event is triggered without progress change"
Bus event `notifications.connect.project.phase.update.progress` should only be raised when there is a change in the progress of a phase, however, currently it is raised even when user is updating `spentBudget` or `budget` fields.

[2018-08-28 08:41] vikasrohit opened #2450 "Phase progress is updated when `spentBudget` or `budget` fields are updated"
Ideally it should not update the phase/project progress when updating the other fields. It is happening for a project which has at least active phase and is not update on the day of testing. When updating `spentBudget` or `budget` fields (or may any other allowed field update in the phase edit form), it updates the progress of the phase. Most of the time it actually reduced the progress.

fyi @Ris

[2018-08-28 09:09] vikasrohit commented on #2344
Sorry to delayed response, however, this feature is not a quick fix and right now it is behaving as per design because we never included the messaging updates in project update calculation. That actually requires coordination between two separate modules(databases) i.e. project data is in single database while messages for that project are using a separate service (database) so we can not read the

[2018-08-28 09:12] vikasrohit commented on #2342
Marking as won't fix as it seems to be working fine. @deepakanbarasan1 please feel free to reopen it if you see this again.

[2018-08-28 09:12] #2342 closed

[2018-08-28 09:16] vikasrohit commented on #2309
Moving out of Community fix milestone as requirements are not yet clear.

[2018-08-28 09:28] vikasrohit commented on #1985
That is something I am looking for. Can we use Redux actions to trigger such events? That might be a scalable and easy solution.

@maxceem you approach of using `NotificationReader` is also amazing and I think it would work great for most of the cases, however, as @gondzo raised the concern of passing the notifications to the very deep in component hierarchy, I am thinking that might cause few mor

[2018-08-28 09:32] vikasrohit commented on #1985
Moving this issue out of community fix for now as it does not seem to have full specs for community to work on.

[2018-08-28 09:33] RishiRajSahu commented on #2421
fixed with https://github.com/appirio-tech/connect-app/commit/81103631b04dd3c6cfc0d812ecb1e56b5713421c

[2018-08-28 09:33] #2421 closed

[2018-08-28 09:50] RishiRajSahu commented on #2446
Done with https://github.com/appirio-tech/connect-app/commit/781f0877599ae22a86837be10515de15f86b300c

[2018-08-28 09:50] #2446 closed

[2018-08-28 09:54] maxceem commented on #1985
@gondzo @vikasrohit

**event-emitter**

This definitely sounds like a scalable and robust solution. Though I don't see any clear way of how to actually implement it. From the top of my head Redux actions also do not directly reflect the situations when we have to mark notifications as read.

**NotificationReader**

Regarding passing notifications down from the store and re-renders issues. We can `

[2018-08-28 10:36] vikasrohit commented on #1985
When a related component is mounted or receives new props, it can dispatch that redux action e.g. in `PhaseFeedHoc` we can dispatch redux action to mark all posts that are going to be rendered by the component as read.
Also, I am thinking how about combine both approaches, i.e. insert a `NotificationReader` as we are doing right now, however, instead of passing it the notifications, pass it the re

[2018-08-28 11:05] RishiRajSahu commented on #2321
working fine on dev. closing.

[2018-08-28 11:05] #2321 closed

[2018-08-28 11:07] RishiRajSahu commented on #2220
working fine on dev.

[2018-08-28 11:07] #2220 closed

[2018-08-28 12:01] maxceem opened #2451 "Cannot load uploaded file at the DEV env"
This issue on the DEV environment.

If I upload file to some project specification https://connect.topcoder-dev.com/projects/7247/attachments/1238
and after try to load it, I get error
[code]

This issue happens to me on for local deployment and for https://connect.topcoder-dev.com.

Is it a know issue and uploading files doesn't work on DEV? Or this can fixed for DEV?

Aha! Link: https://topcoder

[2018-08-28 12:09] maxceem opened #2452 "Document reusable components"
@vikasrohit propsed to documenting all [such things](https://github.com/appirio-tech/connect-app/issues/1985#issuecomment-415958543) in a central place in our repo, may be a separate docs folder which contains all such guidelines, assumptions and components etc.
It is not at all urgent stuff, but we can keep doing that forever to improve our documentation.

I’ve also already saw a couple of places

[2018-08-28 12:13] maxceem commented on #2355
I couldn't reproduce it. But I had a relative issue recently when I fixed console warnings in commit af7f7594ad9b6f9c205030a3af187e48642076e6.

We already have `clearLoadedProject` which is being called in a few situations. This action clears the loaded project included relative posts. So I start calling it when container for `/projects/<ID>` route is unmounted. The action by itself already works

[2018-08-28 12:56] gondzo commented on #2451
In dev files aren't actually uploaded to aws, only a link is generated. Do we need to enable uploads to test something?

[2018-08-28 13:08] maxceem commented on #2451
I wanted to test one small thing but managed to verify it by code. So currently there is no need for testing files uploading.

[2018-08-28 13:12] maxceem commented on #2452
Probably, we can also make a list of know limitations of DEV env like here https://github.com/appirio-tech/connect-app/issues/2451.

[2018-08-28 13:14] vikasrohit commented on #2451
Yes, unless it is not verifiable via code, we can keep it disabled. However, I would like to get this behaviour controlled via an env variable so that we can deploy the build as per requirements.

[2018-08-28 13:14] vikasrohit commented on #2452
yes, those are also good candidates to doc.

[2018-08-28 13:56] #2418 closed

[2018-08-28 13:56] #2399 closed

[2018-08-28 13:56] #2378 closed

[2018-08-28 13:56] #2372 closed

[2018-08-28 13:57] #2343 closed

[2018-08-28 15:00] vic-topcoder commented on #2344
By design (UX) the messages should be included in the updates on posts, files, changes in specification, project phase/milestone. Also projects with updates since the last time should be outlined with a blue bar on the left.
![screen shot 2018-08-28 at 7 58 48 am](https://user-images.githubusercontent.com/8484061/44731583-5b669300-aa98-11e8-923b-be9ed6e87183.png)

[2018-08-28 15:57] acshields commented on #2412
I am a fan of keeping things simple - Let's keep the specification milestone with a duration. If there is a duration that is used today, then let's keep that in place.  If not, make the default duration 2 days.

[2018-08-28 16:01] acshields commented on #2413
Hi @vikasrohit - I think your explanation above makes sense.  Let's leave the delivery milestone as-is with a default duration of 1 day.

[2018-08-28 16:06] acshields commented on #2415
I have heard feedback from Kyle that he sometimes has difficulty identifying whether a new phase has been successfully added. @vic-topcoder - I understand your point about the message, but I am wondering if there is another way to show a new phase has been added (i.e. shaded box, different text color, etc.) that would indicate a new phase has been added & is unedited? What are your thoughts on tha

[2018-08-28 16:13] acshields commented on #2417
@vic-topcoder - I am a fan of that as well.  However, in order to avoid rework on this issue, let's put it on-hold.  I feel like the question over scope vs. product questions will get discussed in the product summit we are having in two weeks.

[2018-08-28 16:28] vic-topcoder commented on #2417
I'm cool with that!

[2018-08-28 16:40] vic-topcoder commented on #2415
The interface lacks transitions, which doesn't help to identify when a new item has been added or removed. At the current state the only thing we can do is to create an outline. Ideally I would love to start polishing such experiences and have the time to implement them correctly, with the user being able to see the change from initial state to complete state.

The message doesn't actually identif

[2018-08-28 16:51] acshields commented on #2419
Per our conversation this morning, hide the larger progress bar and display the progress bar that is in the sidebar.

[2018-08-28 16:54] acshields commented on #2420
Let's keep this as-is for the time being - Per our conversation this morning, it seems like we need to have some additional conversations to uncover the value of this field.

[2018-08-28 17:40] narekcat commented on #2306
@vikasrohit @gondzo I have finished issue. You can use `projects/:projectId/plan#feed-<feedId>` and `projects/:projectId/plan#comment-<commentId>`, without feedId, for loading specific topic and post for a phase.

[2018-08-28 19:13] acshields commented on #2309
@vic-topcoder @vikasrohit - Is this still where you are looking for follow-up from me? "Let's figure out if we need to display the legacy product as delivered to the customer when we upgrade projects - that's a question for Joey and team. @acshields can you please clarify the requirements there?"

[2018-08-28 19:18] acshields commented on #2273
For Pt. 6, I would do the following: Shorten "add specification document link" to "add specification." Shorten "complete review 158h remaining" to "complete review Xh." For the long phase titles, shorten them from "Design Iteration (short) phase" to "Design Phase (S)"

[2018-08-28 20:26] vic-topcoder commented on #2420
@acshields test one

[2018-08-28 23:10] #2311 closed

[2018-08-28 23:14] gondzo commented on #2422
@gets0ul prize updated as the effort required was somewhat bigger than I expected

[2018-08-28 23:14] #2422 closed

[2018-08-28 23:27] #2395 closed

[2018-08-28 23:32] #2391 closed

[2018-08-28 23:58] #2139 closed

[2018-08-29 01:14] gondzo commented on #2306
@vikasrohit once minor issues are fixed, we'll have the two above routes for accessing the messages via direct link.
What is left is updating /discussions route to redirect properly. Can we do that in the next release?

[2018-08-29 03:30] maxceem commented on #2445
Done.

[2018-08-29 03:36] maxceem commented on #2354
I couldn't reproduce it, but I believe the fix for https://github.com/appirio-tech/connect-app/issues/2355 has to also fix this one. As there was some place in logic which could bring such a casual issue.

[2018-08-29 04:01] maxceem opened #2453 "Warning: Unknown prop 'data-color' and 'data-cap' in svg"
There are several warning started showing up on the project list and project plan pages.

First, I was thinking that some new SVG files were added and has to cleared from not supported properties. But it appears that these warnings are shown for old files and there are a lot of old SVG files with such unsupported properties.

So looks like these warnings are caused by some packages recently update

[2018-08-29 05:28] vikasrohit commented on #2306
Yes, no problem. Please create a separate issue to track that. Do you remember from where we are generating the `/discussions` link now?

[2018-08-29 05:29] RishiRajSahu commented on #2450
@vikasrohit I think that was due to duration and other fields which should be disabled for timeline enabled phase were enabled somehow due to dependent repo changes not deployed on dev. I tried it on dev and its working fine. Also tested for older project which doesn't have timeline.

[2018-08-29 05:37] maxceem commented on #2448
Can reproduce it, fixing it...

[2018-08-29 05:56] vikasrohit commented on #2420
Moving to backlog for time being

[2018-08-29 06:01] maxceem commented on #2448
Fixed by unmounting `EditStageForm` instead of hiding by CSS which updates form by values from the store properly. In case we see similar issues in other places, we can also consider fixing `TCFormFields.TextInput` which feels like doesn't properly support defining default values by props.

[2018-08-29 06:06] vikasrohit commented on #2275
@vic-topcoder @acshields as discussed changed logic to move project to `reviewed` state instead of `in_review` when any phase is marked as planned first time.

[2018-08-29 06:20] maxceem opened #2454 "[$50] Edit phase Form for smaller screen sizes"
Currently, Edit phase form is not perfectly displayed on the desktop having fields not properly aligned in some situations, like status on the screen below:

![image](https://user-images.githubusercontent.com/146016/44769147-3b1cfe00-ab96-11e8-90fc-78c3570e387f.png)

And when we shrink the window the form doesn't adapt properly

Screen width 768px:

![image](https://user-images.githubusercontent.c

[2018-08-29 06:35] vikasrohit commented on #2448
Okay. @maxceem Can you please create issue in react-components repo for fixing the TextInput?

[2018-08-29 06:46] vikasrohit commented on #2427
Moving to next release as it is not reproducible right now.

[2018-08-29 06:47] vikasrohit commented on #2401
@maxceem Could you please create a separate issue for handling the cues for timelines tab? We would close this issue for now and will take care of the timelines tab in next release.

[2018-08-29 06:49] maxceem commented on #2448
@vikasrohit Done https://github.com/appirio-tech/react-components/issues/294. Though we can probably leave it until we come across with this issue in some other place. As TCFormFields.TextInput` is used in many places, so updating its behavior may bring some other issues if some component relies on the current behavior.

[2018-08-29 06:55] maxceem opened #2455 "Add notification visual cues to phase timeline tab"
This is the second part of this issue https://github.com/appirio-tech/connect-app/issues/2401

Add the red dot to highlight that `Timeline` has some updates.
When we open such tab we have to mark the related notifications as read and hide the red dot as we already saw the updated content.

![image](https://user-images.githubusercontent.com/146016/44770657-4c1c3e00-ab9b-11e8-8c2a-315b6ad67685.png)

[2018-08-29 06:55] maxceem commented on #2401
@vikasrohit Created a new issue https://github.com/appirio-tech/connect-app/issues/2455

[2018-08-29 07:07] vikasrohit commented on #2309
Yes, @acshields there are still unclear requirements here. To summarize the queries again:

1. Do we really want to make the phases with legacy products as read only? If we do that, all existing projects (which are using phases) would get blocked and copilots might get confused and irritated. They have to copy their existing conversations in the phase to new phase and so on. So, IMO, we should not

[2018-08-29 07:11] maxceem commented on #2273
Thank you @acshields

All the items in this task are fixed.

[2018-08-29 07:12] vikasrohit commented on #2417
Moving it to backlog

[2018-08-29 07:14] vikasrohit commented on #2448
Thanks. Yes, makes sense.

[2018-08-29 07:16] vikasrohit commented on #2413
Thanks @acshields . Closing the issue.

[2018-08-29 07:16] #2413 closed

[2018-08-29 07:18] vikasrohit commented on #2412
Yes, it has duration of 2 days and that is completely configurable via data entry without any code change.

[2018-08-29 07:18] vikasrohit commented on #2412
Closing

[2018-08-29 07:18] #2412 closed

[2018-08-29 07:30] vikasrohit commented on #2344
Just for reference, we have this feature request since very long via https://github.com/appirio-tech/connect-app/issues/1415. And as I said, it need significant efforts to get it working which might affect other priority work (new reg flow). fyi @vic-topcoder @acshields

[2018-08-29 08:58] vikasrohit commented on #2178
@gondzo Could you please get the changes required in `connect-app` to show the web notifications for all these new events? I think we might need to have a way to navigate to the specific phase from the notifications i.e. a new way to goto specific area of the application [here](https://github.com/appirio-tech/connect-app/blob/781f0877599ae22a86837be10515de15f86b300c/src/routes/notifications/consta

[2018-08-29 08:59] vikasrohit commented on #2178
Moving it to next release as it does not seem that we can complete this today.

[2018-08-29 09:37] maxceem commented on #2273
@RishiRajSahu Put edit icon to the space between title and progress:

![screen shot 2018-08-29 at 17 33 44](https://user-images.githubusercontent.com/146016/44779317-c48df980-abb1-11e8-82af-e56f94a20c12.png)

[2018-08-29 09:38] vikasrohit commented on #2415
@acshields @vic-topcoder First of all I am still not convinced of getting rid of only phase added alert message because it does not make sense to me to introduce alert system in first place and then not using it considering it distracting the user. We introduce the alert system in https://github.com/appirio-tech/connect-app/issues/52 and updated its style from toaster to bottom left in 2.4.3 relea

[2018-08-29 09:46] RishiRajSahu commented on #2400
Done with https://github.com/appirio-tech/connect-app/commit/0f7b0340fab7679b7ddba6a0c1fef637ad850186.

[2018-08-29 09:46] #2400 closed

[2018-08-29 09:55] vikasrohit commented on #2401
Thanks @maxceem. Closing this one as it seems to work fine with only catch that the cue appears bit late after the page load, but I think we can handle that separately and when reported by end users if they found that not fruitful.

[2018-08-29 09:55] #2401 closed

[2018-08-29 10:29] gondzo commented on #2306
I don't think we're using /discussions link anywhere, it was in discourse emails only afaik. It will be useful to link to posts in email templates though

[2018-08-29 10:30] RishiRajSahu commented on #2448
working fine on dev.

[2018-08-29 10:30] #2448 closed

[2018-08-29 10:38] RishiRajSahu commented on #2273
@maxceem Everything working fine except the final design selection UI.

[2018-08-29 10:49] RishiRajSahu commented on #2338
Working fine on dev.

[2018-08-29 10:49] #2338 closed

[2018-08-29 10:53] vikasrohit commented on #2312
Moved to 2.4.6 as backend changes are not yet merged into dev because of other changes are also going with the change.

[2018-08-29 11:09] vikasrohit commented on #2306
Ohk. I think we are already using the same `#` based deep links to the messages in email templates.

[2018-08-29 16:14] kbowerma opened #2457 "Can't update phase dates when phase is active."
### Expected behavior
I tried to update the date of an active phase and the edit view show my updates by the save does not seem to have taken effect.

### Actual behavior
Date on the phase view, the light grey text is not updated.

### Steps to reproduce the problem
Try to update the phase to the actual dates 2nd time.    I want to change the start date from 8/21 to 8/15
![image](https://user-imag

[2018-08-29 16:58] simranb86 commented on #2305
@vikasrohit thanks - that did the trick.

[2018-08-29 16:59] simranb86 commented on #2305
@gondzo is this open for pickup again as i see you removed "Ready for Review" ?

[2018-08-29 17:00] Gauravseta commented on #2305
@simranb86 no it is not..as i am updating PR.

[2018-08-29 17:09] vic-topcoder commented on #2275
Correct! Thanks for catching that @vikasrohit

[2018-08-30 04:35] maxceem commented on #2457
There are a few things which lead to such behavior:
- as we have timeline and milestone, the dates for the phase are controlled by milestones
- when we mark phase `In progress` so it becomes active, the first milestone also becomes active.
   When milestone becomes active we save the `actualStartDate` of the milestone and show it for the milestone and phase start date. As currently we show the **a

[2018-08-30 05:08] RishiRajSahu commented on #2273
<img width="390" alt="screen shot 2018-08-30 at 10 31 09 am" src="https://user-images.githubusercontent.com/11248478/44830574-ea61df80-ac3f-11e8-8893-5ae565493e1f.png">

@maxceem, Yeah going as per designs only,
- blue line is not required as per designs for mobile
- Centre the review button

I think that completes it.

[2018-08-30 05:28] maxceem commented on #2273
@RishiRajSahu  Centered.

![image](https://user-images.githubusercontent.com/146016/44831167-e346cb80-ac57-11e8-99fe-08cff06145e1.png)

[2018-08-30 05:47] maxceem commented on #2273
@RishiRajSahu restricting phase titles to two lines on mobile devices by adding ellipsis:

![image](https://user-images.githubusercontent.com/146016/44831904-1c346f80-ac5b-11e8-96d1-d5fc16c772ea.png)

Let me know if you'd like it to be pushed directly to `dev`.

[2018-08-30 05:49] RishiRajSahu commented on #2273
LGTM, if you have created a feature branch then raise the PR.

[2018-08-30 06:02] RishiRajSahu commented on #2273
pushed to dev. working fine.

[2018-08-30 06:02] #2273 closed

[2018-08-30 06:19] RishiRajSahu commented on #2457
@acshields @vic-topcoder  We need to disable editing the startDate of active phase as it could lead to mismatch in date related data of already completed milestones of the phase

[2018-08-30 09:54] maxceem commented on #2344
Probably, as a quick workaround we can use notifications for this:
- we can highlight with blue line the projects which have some updates
- also, we can replace **last updated** date with the last notification date and even the name of the one who triggered notification
- the only limitation I see in this approach, is that we cannot sort projects using such **last updated** date, as projects come

[2018-08-30 10:30] maxceem commented on #2180
@RishiRajSahu  As I understand for 1 and 2 we need to get backend updated, as we don't have yet the properties to mark topics as private or favorite.

[2018-08-30 11:42] vikasrohit commented on #2344
Yes, we can do that.

But as you said, using it for sorting won't work which is required to improve the UX which is the actual problem because of incorrect last updated date.

[2018-08-30 13:55] vikasrohit commented on #2355
@kbowerma Can you please try this now? It should be fixed as we have released a fix for the issue. We applied a potential fix but we would like to get it confirmed from your end. Although, it should load updated scrips, you may need to burst the browser's local cache (by hitting refresh multiple times quickly or through `Disable Cache` in Network tools) to take the latest.

fyi @mtwomey @acshields

[2018-08-30 13:55] vikasrohit commented on #2354
@kbowerma Could you please verify this one also at your end?

[2018-08-30 14:28] vic-topcoder commented on #2457
@kbowerma - why would you need to modify a date once a phase has started? What is your goal here?

@RishiRajSahu @acshields - Agreed, once a phase is active, we can't change the beginning time as it is a historic record of work started, and we don't want to modify such records. On the other hand, if the phase is switched on by mistake, we have no way to recover from error. It would be nice to thin

[2018-08-30 15:30] kbowerma commented on #2457
@vic-topcoder it is quite common to get the green light to start and then have to wait on some sort of approval.

I thought I might have to move it back to draft to change the dates but I could not get that to work either.

[2018-08-30 19:41] vic-tian opened #2460 "Edit message (sample feature)"
Feature ideas can be named however you'd like. We recommend focusing on the broad capability you'd like to make available to the user. This can help your team avoid making assumptions about the best solution before you've finished researching the need you'll be looking to address.

Each field below maps to a data column you can add to your Features/Releases boards to help with prioritization and p

[2018-08-30 19:41] vic-topcoder commented on #2460
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1226227

[2018-08-31 05:33] RishiRajSahu commented on #2457
@vic-topcoder

we already have that in place

<img width="770" alt="screen shot 2018-08-31 at 10 55 02 am" src="https://user-images.githubusercontent.com/11248478/44894237-79d4c480-ad0c-11e8-98c0-82afdb6f6ebb.png">

@kbowerma regarding -

If after reaching any milestone(even if its the first milestone just after activating a phase) one has to wait for some sort of pre-work, one can always request

[2018-08-31 08:46] RishiRajSahu opened #2463 "Error updating active phases on Dashboard page"
When editing the active phase and updating it on dashboard page, it's giving an error.

[2018-08-31 08:48] RishiRajSahu commented on #2463
Done with https://github.com/appirio-tech/connect-app/commit/622db3c56e6da785d629e0594c1119916b6771e1

[2018-08-31 08:48] #2463 closed

[2018-08-31 09:08] maxceem commented on #1690
I think we can continue on this now as there are no other big changes currently. There is a sequence of dependent tasks which has to be done before we can actually finish this one.

- before we start using package `topcoder-react-ui-kit` it could make sense to update `topcoder-react-utils` first
- to update `topcoder-react-utils` and include `topcoder-react-ui-kit` we have to upgrade to React `16.

[2018-08-31 09:44] #2305 closed

[2018-08-31 09:47] narekcat commented on #2306
@gondzo @vikasrohit Are there any work to do with this issue ?

[2018-08-31 09:48] gondzo opened #2464 "Show topic by id"
Update RedirectToProject component to show the exact topic (by topic id) in one of these screens
dashboard - already works as expected
discussions tab (for old projects) - already working
project plan (route projects/:projectId/plan#feed-<feedId>)

related changes are in #2306

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-429

[2018-08-31 09:49] gondzo commented on #2306
@narekcat no, it's all done, we'll handle the remaining task in #2464

[2018-08-31 09:49] #2306 closed

[2018-08-31 09:51] narekcat commented on #2306
@gondzo Ok, thank you.

[2018-08-31 19:56] acshields opened #2465 "Discussions not displaying on Dashboard sidebar"
### Expected behavior
I expect to see the same summary list of discussions shown in the left sidebar of the Dashboard and Project Plan.

### Actual behavior
The sidebar in the Project Plan are showing discussions.  However, the sidebar in the Dashboard are not showing the same list of discussions.

![screen shot 2018-08-31 at 12 55 49 pm](https://user-images.githubusercontent.com/41118149/44933234

[2018-09-01 05:58] vikasrohit commented on #2465
That is a technical limitation @acshields. Our left panel `Discussions` links are expected to scroll to the particular discussion on the dashboard and if we show the discussion about project plan (i.e. discussions specific to the phases) on the dashboard, we won't be able to do that and use would feel stuck there. And if instead open the project plan tab on click of phase discussion from the dashb

[2018-09-03 05:35] vikasrohit commented on #2355
Closing the issue to close the milestone.

@kbowerma please feel free to reopen it if you still see the issue.

[2018-09-03 05:35] #2355 closed

[2018-09-03 05:36] vikasrohit commented on #2354
Closing to close the milestone. @kbowerma Please feel free to reopen it if you still see the issue.

[2018-09-03 05:36] #2354 closed

[2018-09-03 07:31] RishiRajSahu commented on #2178
@maxceem All the web notifications for Project-Plan are getting generated correctly, Now we need two tasks here
1.Making them rendered on UI as notifications
2.Adding Navigation capability for Project-Plan notifications

[2018-09-03 12:11] gondzo commented on #2328
removing from milestone, will fix this internally

[2018-09-03 12:12] gondzo commented on #2358
removing from milestone, will fix this internally
@KevinLeigh I'll still add $80 payment as most of the work is actually done here.

[2018-09-03 13:16] narekcat commented on #2306
@gondzo @vikasrohit Sorry, but you forget to accepts this issue, and I don't see any payment for this issue in my profile.

[2018-09-03 13:17] gondzo commented on #2306
Payment has been processed - it takes a few hours for it to show up in your account

[2018-09-03 13:18] narekcat commented on #2306
@gondzo Ok, sorry, thank you very much.

[2018-09-03 15:04] RishiRajSahu commented on #2344
@vic-topcoder regarding -

@vic-topcoder could you confirm in the below list of events to update the projects listing view, some events are already handled in current implementation for example changes on scope page. Also if I missed any operation please add it to the list

1. Project Updates - Updates on scope page
2. File Updates
3. Links Updates
4. Member Updates
5. Phase Updates(startDate, dur

[2018-09-03 17:09] KevinLeigh commented on #2358
Thank you @gondzo, much appreciated.

[2018-09-04 02:26] maxceem commented on #2201
Could you please mention what is desired style for this link?
1. normal style
2. hover style

Currently, during editing the link color is `#5e93c5` which is not on our [palette](https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss). And on hover the color becomes `#7eadda` which is not on out palette too. And there is no underline.

I cannot grab the color from t

[2018-09-04 03:53] maxceem commented on #2185
There are few things to keep in mind:
- We don't wanna use `shouldComponentUpdate` for fixing this as it would be hard to support it in the future. Re-renders has to be fixed in a natural way. Most likely by refactoring `FeedContainer.js` to take care about only one topic rather then the list of topics as done now. As a reference we can use `PhaseFeedHOC.jsx` which implements feeds for pahses (may

[2018-09-04 03:57] maxceem commented on #2419
Just to confirm. If I understood it correctly it's about removing the progress bar from **Project Plan** tab, not **Project Scope**.

![progress](https://user-images.githubusercontent.com/146016/45009251-a143ce00-b039-11e8-97f0-69c0f3b1e89a.png)

[2018-09-04 04:02] maxceem commented on #2279
@vic-topcoder

Is your intention just to reuse the same SVG file? Or you'd like to make both crosses the same size? If so, which size would you prefer to use?

[2018-09-04 04:15] maxceem opened #2466 "[$30] Complete milestone for customer shouldn't have blue line"
### How to reproduce:
- Create project with type **App**
- Complete all milestones except of the milestone with title **Complete**
- View project with customer user and he will see:
   **Actual behaviour**:
   ![image](https://user-images.githubusercontent.com/146016/45009611-b7eb2480-b03b-11e8-934f-bd6654616637.png)
   There shouldn't bee blue line along description of this milestone.

    **Expe

[2018-09-04 05:30] maxceem opened #2467 "Newly added phase doesn't take into account the updated endDates of a phase if milestone is extended"
### Expected behavior
A new phase has to be added after the latest end date of phases in the project.

### Actual behavior
A new phase ignores end data of the phases which time was previously extended.

### Steps to reproduce the problem
- Create **App** type project http://local.topcoder-dev.com:3000/new-project/app

    ![image](https://user-images.githubusercontent.com/146016/45011542-a1e26180-

[2018-09-04 05:33] maxceem commented on #2427
I've tried to reproduce it several ways playing with activating phases, changing start date and extending, but couldn't.

I've noticed a few things though:

1. When we activate the added phase or existent phase, it goes up to the activated phases. Though not always:

      ![image](https://user-images.githubusercontent.com/146016/45010654-34cccd00-b041-11e8-879f-cb6a34fe72fa.png)

      see http:/

[2018-09-04 06:00] maxceem commented on #2178
@vikasrohit @RishiRajSahu

In [this sheet](https://docs.google.com/spreadsheets/d/15u4cwCg5BwgyJkVsd-wp_T2pUnDrqW2bEZuwAn3qArA/edit#gid=0) we don't have texts for the next notifications:
- Phase progress changed (`project.phase.update.progress`)
- Phase payment changed (`project.phase.update.payment`)

Also, in the sheet we have text for the next notifications:
- Milestone is completed
- Milestone

[2018-09-04 06:18] vikasrohit commented on #2419
@maxceem I don't think we show progress bar on `Scope` tab. We are only showing this extra progress bar on `Plan` tab, so we just need to get rid of that.

[2018-09-04 06:26] vikasrohit commented on #2201
@maxceem I think we need to use https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_buttons.scss#L13 or https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_buttons.scss#L164. Former one requires setting of color for the links in non hover mode as well because somehow that is missing in `tc-ui` as of now. Essentially, I think, link should be rendered as we

[2018-09-04 06:49] vikasrohit opened #2468 "Settings for project plan events in notification settings page"
This is a task in continuation with #2178 where we are now raising new set of events and to let the user control them via settings, we need to add the settings.

fyi @gondzo @RishiRajSahu

[2018-09-04 07:02] vikasrohit commented on #2178
@maxceem we are working on adding more texts for new events.

Also, milestone events are now working in dev env. We did that last week only.

Just fyi, me and @gondzo are working on getting these new events and their notifications in connect. It is separate scope of work than what we are planning for https://github.com/appirio-tech/connect-app/issues/2344, though these both have an overlapping of

[2018-09-04 11:05] vikasrohit commented on #2178
@gondzo I have added the configuration for showing the notifications for these new events in `connect-app` along with changes for #2468 in branch `feature/plan-timeline-events-settings`.

[2018-09-04 15:27] acshields commented on #2344
@RishiRajSahu - the list above looks good.

[2018-09-04 15:28] acshields commented on #2465
I am okay with the page shift from dashboard to project plan. @vikasrohit

[2018-09-04 15:30] acshields commented on #2415
@vikasrohit - For now, let us keep the phase added alert in place.

[2018-09-04 20:29] acshields opened #2469 "Default phase templates for 'Ask an Expert'"
@vikasrohit: There is a new special product offering with Azure that is getting initiated called 'Ask an Expert.'  The project intake form for this offering has already been created (https://connect.topcoder.com/new-project/azure).

The default (and only) phase template that should be displayed is Development (3 Milestones).

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-440

[2018-09-05 05:54] vikasrohit commented on #2465
Okay.

@RishiRajSahu We can take this in CF.

[2018-09-05 05:56] vikasrohit commented on #2415
Okay, Closing the issue for now. Please feel free to reopen or create new one later when required.

[2018-09-05 05:56] #2415 closed

[2018-09-05 06:00] vikasrohit commented on #2469
@acshields Yes, I created that template last week. It is hidden on catalog right now and only accessible via deep links which you shared above.

Right now it has the only phase `Development Iteration (1 report)`. So, if I understand it correctly, I need to change that to `Development Iteration (3 reports)`, correct?

And where do I need to put `Ask an Expert` thing?

[2018-09-05 07:32] RishiRajSahu opened #2470 "[$50] Remove additional call to create product when adding phase"
When adding a new phase to project we make backend calls for both phase and product creation, with [this](https://github.com/topcoder-platform/tc-project-service/issues/163) new change in backend we can now remove the additional call to create product.

[2018-09-05 08:56] RishiRajSahu opened #2471 "[$50] Adding field `details.metadata.waitingForCustomer` when marking the milestone for ready for review"
Need to add additional metadata field when making request to backend for marking the milestone ready for review so that we can notify customer about the action from backend.

related backend change - https://github.com/topcoder-platform/tc-project-service/issues/169

[2018-09-05 09:21] RishiRajSahu opened #2472 "[$60] Replace multiple template/types/categories calls with single call to get all data"
For getting all the templates/types/categories data we call multiple public endpoints -

- `/v4/projects/metadata/projectTemplates`
- `/v4/projects/metadata/productTemplates`
- `/v4/projects/metadata/projectTypes`
- `/v4/projects/metadata/productCategories`

As now we have support in our backend to replace all these calls with single call

- `GET /v4/projects/metadata`

Ref - https://github.com/to

[2018-09-05 11:13] maxceem commented on #2465
This task heavily depends on https://github.com/appirio-tech/connect-app/issues/2464. After that issue is done we can easily handle this one. I'm marking this as blocked until then.

[2018-09-05 11:48] vikasrohit commented on #2465
@maxceem I don't think we are dependent on #2464 for this as the simple hyperlink `https://connect.topcoder-dev.com/projects/7248/plan#phase-2097` in `LinkMenu` component with custom `onClick` method, which we are already doing on project plan tab, would work as is. All we need to do is the render the phase topics list on the dashboard left panel as well.
Let me know if I am missing something here

[2018-09-05 12:06] maxceem commented on #2465
@vikasrohit if understand correctly this has to work like this in total:
Add links for the phase topics to the dashboard sidebar as requested above. These links should lead to `projects/:projectId/plan#feed-${feed.id}`. When we click them, the project plan tab has to become active, browser window has to be scrolled to the phase related to the topic and Discussions tab of the phase has to be opened

[2018-09-05 12:26] vikasrohit commented on #2465
And yes, we need to show the same list of topics in the left panel of both dashboard and plan tabs.

[2018-09-05 21:44] acshields commented on #2469
Hi @vikasrohit - Actually, what you put as the default phase should be fine.

I am not sure about your question on where to put the "Ask an Expert" thing? Because this is a special offering it will be accessed by customers through this pathway: Azure Marketplace/Topcoder Offerings - Customer selects "ask an expert" offering - customer should be linked into Connect's Ask an Expert offering via the

[2018-09-06 05:17] vikasrohit commented on #2469
@acshields Okay.

IMO, `Ask an Expert` can not be a offering name unless we have it listed under a category e.g. at Azure Marketplace it is listed under Topcoder Offerings. So, if we want to list it as `Ask an Expert` on Connect, we need to have a category (say `Azure`) on the first screen just like we have for QA, Design and Software Development. And then under that category we can list `Ask an E

[2018-09-06 05:32] maxceem commented on #2471
@RishiRajSahu As I understand the full list of situations when we are waiting for customer action and probably have to add `details.metadata.waitingForCustomer` field is:
1. Non-customer user requests extension
2. `checkpoint-review` or `final-designs` milestone type is activated  we are waiting for customer to choose designs (milestone status becomes `active` and links are already provided i. e.

[2018-09-06 05:55] RishiRajSahu commented on #2471
@maxceem  Agree for 1 to 4, regarding point 5, yes we should do that as well.

[2018-09-06 06:37] vikasrohit commented on #2464
@gondzo do we really need this now? I mean as we are not using the URL `discussions/{topicd}` anywhere now (we used to use this in discourse), we might not need to handle that URL. I think we never shared that URL with any other external system or person, so we should be safe to discard that URL. Let me know if you think there might still be some application or person using that URL.

On the other

[2018-09-06 07:29] RishiRajSahu commented on #2272
@vic-topcoder please provide your input.

[2018-09-06 10:17] maxceem commented on #2472
As we do it, probably it also makes sense to adjust the Redux Store structure.

Currently, Redux Store looks like this:
[code]

It can be refactored to:
[code]
So all templates will be loaded together on the occasions when before we loaded only some templates.

As now we will have all tempalates the values which were previously saved in `projectState.projectTemlate` and `projectState.productTempla

[2018-09-06 12:04] RishiRajSahu commented on #2472
@maxceem So,  there are two part for this task
1.Retrieving the templates data using single call instead of multiple calls
2.Using the templates data from store - this might be require some more changes and even changes to redux-store to use it efficiently and remove redundancy

[2018-09-06 14:16] acshields commented on #2469
@vikasrohit - Gotcha! Azure, as a category, will have several offerings associated with it:
FREE - Ask the Azure Expert
Azure Technical Ideation Research
Sharepoint Starter Pack
Azure Data Insights & Visualization
Azure Computer Vision PoC
Azure Blockchain Smart Contract PoC
Azure QA Test Cycles

However, the business is not ready to launch the additional offerings.  For setting up the Azure categ

[2018-09-06 16:17] maxceem opened #2474 "Do not make additional calls for project/product templates on project page"
After this [issue](https://github.com/appirio-tech/connect-app/issues/2472) is completed we can remove some additional calls for project and product templates on the project page and reuse already loaded data in the Redux Store.

Current Redux Store
[code]
What we can do:
1. Currently, project page loads one project template assosiated with it to `projectState.projectTemplate`making separate API c

[2018-09-06 16:18] maxceem commented on #2472
As discussed with @RishiRajSahu we will split this task into two parts. In this issue we will do only the next part:
- We have to replace all actions which currently populate `projectState.allProductTemplates`, `templates.projectTemplates` or `templates.projectCategories` with one action which makes one API call and populates them all together. I. e. we replace actions which loads the full lists o

[2018-09-06 17:03] acshields opened #2475 "Set-up Hot Jar tracking code in Connect"
@vikasrohit - To monitor current registration form performance vs. the performance of the new registration form, I would like to leverage Hot Jar.  In order to do this a tracking code needs to be installed on every page in Connect (I am asking for every page because I would like to leverage Hot Jar for other reporting within Connect as well so it would be good to accomplish this at one time).

**H

[2018-09-06 22:34] acshields commented on #2469
@vikasrohit - Per our Slack conversation.  Got the final copy from the biz on the Ask the Expert.  See image/recap below.

![screen shot 2018-09-06 at 3 23 56 pm](https://user-images.githubusercontent.com/41118149/45188575-c4ad7b00-b1e9-11e8-8204-abd857885559.png)

Change Recap:
**1) Title Text:** Azure Ask the Expert
**2) Sub Title Text:** There is a lot you can do with Microsoft Azure and our ex

[2018-09-07 05:20] vikasrohit commented on #2178
@vic-topcoder  @acshields should we consider updates in the Price field of phase for `Phase payment changed` notification? or would it be fine just to capture the changes in `Paid To Date` field for this notification?

[2018-09-07 05:51] vikasrohit commented on #2469
Done. We do not need **3** because we already have support for automatically fill/assume the ref code via URL e.g. `https://connect.topcoder.com/new-project/azure?refCode=AZUREX` will cause all projects created using this URL would have the correct ref code. (When refCode is present in the URL, we don't present user with option to edit that so that we are sure that the project is created using the

[2018-09-07 06:51] RishiRajSahu commented on #2467
@maxceem able to reproduce it, so our current logic before adding a new phase calculate the latest endDate of existing phase, instead it should calculate the latest end date for a phase calculated wrt to durations of milestones.

[2018-09-07 07:32] RishiRajSahu opened #2476 "[$20] Post mention should not be link"
@mention should not lead to the profile page; let's remove the profile link - we don't want customers to go to the community profile page at this time.

continued from https://github.com/appirio-tech/connect-app/issues/2301

[2018-09-07 08:45] RishiRajSahu opened #2477 "Handling phase discussions tab for drafted phases"
Do not make a welcome post to the phase discussion (Posts tab) before the phase is active.

![screen shot 2018-09-07 at 2 11 00 pm](https://user-images.githubusercontent.com/11248478/45208327-ed944580-b2a7-11e8-83fb-8960b0a0ba7d.png)

continued from https://github.com/appirio-tech/connect-app/issues/2301

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-450

[2018-09-07 08:48] RishiRajSahu commented on #2477
@vic-topcoder how should we handle UI in that case as per me there are two options -
1.Keeping Discussions disabled with tool-tip saying 'Discussions will be available once phase is acitvated' OR 'Activate phase to enable discussions`
2.Hide Discussions tab for Drafted phase.

[2018-09-07 09:01] RishiRajSahu opened #2478 "Showing default expanded view with timeline of active phase(s) for customer"
Make sure the customer can see the currently active phase card. By design we wanted to expand the currently active card to display the timeline when the customer loads the dashboard and project plan (save a click to the customer).

continued from https://github.com/appirio-tech/connect-app/issues/2301

[2018-09-07 09:03] RishiRajSahu commented on #2478
@vic-topcoder there could be more than one phase active at a time so do we need to show expanded view for all the active phases with timeline tab ? it will make phase accommodate most of the UI.

[2018-09-07 09:13] RishiRajSahu opened #2479 "Changing welcome post for newly created project until scope page doesn't have additional fields to submit"
Make sure the welcome post for a new project actually makes sense. The current scope section doesn't have additional data to submit, and we don't want our customers to reach out to support via email.

continued from https://github.com/appirio-tech/connect-app/issues/2301

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-452

[2018-09-07 09:14] RishiRajSahu commented on #2479
@acshields @vic-topcoder We only have files as the additional field to be submitted on scope page, so should we update the post content accordingly ?

[2018-09-07 09:28] RishiRajSahu opened #2480 "[$35] Align user avatar in the post composer correctly"
User avatar in the post composer (footer) is not aligned with the avatar from the actual post.

https://github.com/appirio-tech/connect-app/issues/2301

[2018-09-07 09:37] RishiRajSahu commented on #2301
@vic-topcoder not reproducible

[2018-09-07 09:39] RishiRajSahu opened #2481 "[$30] Remove extension request for under review milestones"
Extension can't be requested during design review. Please remove the button while we're in review.

![screen shot 2018-09-07 at 3 08 31 pm](https://user-images.githubusercontent.com/11248478/45211455-f4bf5180-b2af-11e8-83f2-94b8ee5d68aa.png)

Please check all milestones which could be in review state to be consistent.

https://github.com/appirio-tech/connect-app/issues/2301

Aha! Link: https://top

[2018-09-07 09:55] RishiRajSahu opened #2482 "[$20] Align design links correctly for design related milestones"
Design links URL should be aligned to the right and 30px from the widest text element design link name. Right now the checkpoint and final design links URL are not uniform (they should).

![screen shot 2018-09-07 at 3 23 44 pm](https://user-images.githubusercontent.com/11248478/45212245-09044e00-b2b2-11e8-8a2b-8150545d4e5f.png)

Continued from - https://github.com/appirio-tech/connect-app/issues/2

[2018-09-07 10:54] maxceem commented on #2480
@RishiRajSahu There is one more thing. When user doesn't have and image avatar defined. It's not displayed next to composer at all, see for example as `pshah_manager`:

![image](https://user-images.githubusercontent.com/146016/45215152-28f63a80-b2cf-11e8-9801-7f1fa2a40fc8.png)

I don't remember what was the reason to remove avatar in such case. But probably it's not desired, and we have to put it

[2018-09-07 10:59] maxceem opened #2483 "[$20] Redirect to current project after creating a new project"
Currently, if we open some [project](http://local.topcoder-dev.com:3000/projects/7271) and after click "+" icon to create a new project, the URL will be like this:
[code]

After succesfull project creation we will be redirecting back to the project which was previously opened instead of the project we've just created.

It feels for me like not desired behaviour, but I'm not sure.

[2018-09-07 11:05] RishiRajSahu opened #2484 "[$40] Correcting final fixes `Add` button styling"
This is in continuation of https://github.com/appirio-tech/connect-app/issues/2301 list-

![screen shot 2018-09-07 at 4 34 56 pm](https://user-images.githubusercontent.com/11248478/45215731-fc84f300-b2bb-11e8-8a47-3dbbd68c2709.png)

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-457

[2018-09-07 11:06] RishiRajSahu commented on #2484
@vic-topcoder could you please provide exact details ?

[2018-09-07 11:17] maxceem commented on #2481
Ok, so there are two milestone types for design review `final-designs`, shown on the screenshot above and `checkpoint-review` which looks like this:

![image](https://user-images.githubusercontent.com/146016/45216135-25b07e00-b2d2-11e8-8661-73e781c1e846.png)

Note, that only user with manager privilages like `phase_manager` can see this button for the extension.

[2018-09-07 11:26] maxceem commented on #2481
@RishiRajSahu FYI, just to be clear, customer doesn't have button for extension at all.

[2018-09-07 11:33] RishiRajSahu commented on #2358
@gondzo can we create a new issue for whatever is left in this issue so that we can include that in upcoming CF ? could we merge the partial changes to dev or we need complete changes to push it.

[2018-09-07 11:45] maxceem commented on #2272
So as I understand we show it similar way as a topic on mobile screens. I mean the header and close button.

And the rest of the form we keep the same, just make it wide for the full screen keeping standard paddings on the sides.

![image](https://user-images.githubusercontent.com/146016/45217344-52ff2b00-b2d6-11e8-8848-b06f179b810b.png)

[2018-09-08 06:28] gurmeetb commented on #2480
@maxceem Is this open for pickup ?

[2018-09-08 06:34] maxceem commented on #2480
@gurmeetb not yet, but will be open soon after the relative challenge run.

[2018-09-08 06:39] Gauravseta commented on #2482
@maxceem any tentative date/time when challenge will start? also how can simran assign it to itself while it is not open for pickup? can you please see into it @gondzo

[2018-09-08 06:43] maxceem commented on #2482
@Gauravseta it has to start in several hours, but there is one blocker to be resolved first.

@simranb86 please, don't pick up issues yet, as it's not marked as `OPEN FOR PICK UP` yet.

But I've learned the lesson. Will remove prices until the challenge is started.

[2018-09-08 06:48] Gauravseta commented on #2482
@maxceem there are very few people like simran . else it is never an issue to mark the prices it title. can you please unassign simran if possible? as someoneelse or myself should get equal chance of grabbing this issue. thanks

[2018-09-08 06:52] maxceem commented on #2482
@Gauravseta sure

@simranb86 I have to unassign you from the issue so far to keep it fair for all the participants. Please, grab only the issues marked as `OPEN FOR PICK UP`. I'll let you know as soon challenge started and issues are ready for pick up. I'm still happy that you are interested to participate :-)

[2018-09-08 06:57] gurmeetb commented on #2480
Thanks @maxceem for quick response.

[2018-09-08 14:17] maxceem commented on #2480
@gurmeetb just want to let you know that challenge is planned to be started on Monday. The Bug Bash process will be slightly changed.

[2018-09-08 14:18] maxceem commented on #2482
@Gauravseta, @simranb86  just want to let you know that challenge is planned to be started on Monday. The Bug Bash process will be slightly changed.

[2018-09-08 22:10] simranb86 commented on #2482
@maxceem Thanks for the update. I picked up because i was enrolled in bug bash already and saw the new tickets come up with pricing on them. Next time i will look for `OPEN FOR PICKUP` tag too.

Will register for new one when it opens. Thanks

[2018-09-10 02:07] maxceem commented on #2482
@Gauravseta, @simranb86 The challenge is on.
**Important!** There is a change in the Bug Bash process, please read the new rules in the challenge spec carefully, before starting work on issue https://www.topcoder.com/challenges/30070926/?type=develop&noncache=true
Thank you!

[2018-09-10 02:08] maxceem commented on #2480
@gurmeetb  The challenge is on.
Important! There is a change in the Bug Bash process, please read the new rules in the challenge spec carefully, before starting work on issue https://www.topcoder.com/challenges/30070926/?type=develop&noncache=true
Thank you!

[2018-09-10 02:10] iversonLv commented on #2482
Please assign this to me

[2018-09-10 02:12] arun1595 commented on #2480
@maxceem I would like to tackle this issue.

[2018-09-10 02:13] arun1595 commented on #2472
@maxceem I would like to tackle this issue.

[2018-09-10 02:31] iversonLv commented on #2482
Could I know what password/username to login?

Thanks.

[2018-09-10 02:34] maxceem commented on #2482
`pshah_manager`/`topcoder123`

[2018-09-10 03:01] jomadoye commented on #2419
Please assign this to me, I am working on this

[2018-09-10 03:03] simranb86 commented on #2470
Please assign me this.

[2018-09-10 03:07] gurmeetb commented on #2480
@maxceem Can I work on this now ?

[2018-09-10 03:18] sumitdaga commented on #2185
please assign this to me if it is open for pick up!

[2018-09-10 03:26] PrakashDurlabhji commented on #2466
@maxceem can you please assign it to me thanks

[2018-09-10 03:27] maxceem commented on #2470
@simranb86 you may use this user `pshah_manager`/`topcoder123`

[2018-09-10 03:30] rashmi73 commented on #2471
I would like to work on it @maxceem

[2018-09-10 03:31] jomadoye commented on #2419
@maxceem I am done fixing this issue, but I do not have access to push my branch.please give me access
<img width="728" alt="screen shot 2018-09-09 at 11 30 41 pm" src="https://user-images.githubusercontent.com/26272732/45275041-6d790600-b488-11e8-9ba3-1be14902bd2a.png">

[2018-09-10 03:32] jomadoye commented on #2339
I am working on this, please assign me @maxceem

[2018-09-10 03:35] maxceem commented on #2419
@jomadoye Please, don't push directly to this repository. Instead fork this repo, do changes in your fork and after create a PR to this repo. You may refer to this doc for help https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2018-09-10 03:36] Gauravseta commented on #2339
@maxceem on how many issues will jomaday work? multiple allowed?

[2018-09-10 03:37] khushimehta03 commented on #2201
@maxceem I am working on this issue, please assign it to me , thanks

[2018-09-10 03:39] jomadoye commented on #2339
@Gauravseta I am done working on my last issues, I just need to raise PR from my fork as maxceem has informed me, I think that is a new rule, I am already working on this. thanks.

[2018-09-10 03:41] prasadadarkar30 commented on #2279
@maxceem  I am working on this can u assign me.

[2018-09-10 03:44] simranb86 commented on #2470
Thanks - Could you also guide how do i reach this page where we add phases ? I don't see any projects so tried to Create new project which would not work - just shows rotating circle forever...

[2018-09-10 03:45] iversonLv commented on #2482
It’s done and ready for review

[2018-09-10 03:47] nahidshahin commented on #2320
@maxceem I want to work on this issue, can you please assign it to me?

[2018-09-10 03:47] jomadoye commented on #2339
PR has been raise @maxceem, Please assign this ticket to me, thanks.

[2018-09-10 03:52] maxceem commented on #2339
@jomadoye okay, here we kind of on the edge of rules but as jomadoye already finished another issue and even tried to push just was confused that this time doesn't have rights to do that and raised a question about providing his work. I think it would be fair enough this time to let him work on this one. I know it's a little bit harder with new rules to follow the things for me also.

@jomadoye th

[2018-09-10 03:56] jomadoye commented on #2339
I have accepted the invitation to this repo, thanks. @maxceem

[2018-09-10 03:59] Gauravseta commented on #2279
@maxceem will i get to work on this if prasad fails to complete it? thanks.i have started working on it and see if prasad fails then i will raise PR immediately in case.

[2018-09-10 04:06] maxceem commented on #2279
@Gauravseta hmm. Ok if you already done it then it would be yours in case prasadadarkar30 doesn't provide the solution. But please, don't do like this to other issues as it not really per Bag Bush rules. Trying to keep the process fair to everyone as much as possible. Thanks.

[2018-09-10 04:12] maxceem commented on #2470
You can create a new project, or use this one I've just created http://local.topcoder-dev.com:3000/projects/7274/plan

Go to the `Plan` tab. At the bottom, there will be `Add New Phase` button.

![image](https://user-images.githubusercontent.com/146016/45276052-bebddf80-b4f2-11e8-8f28-a738f509435a.png)

[2018-09-10 04:16] jomadoye commented on #2339
@maxceem I just noticed the `Delivered` is not disabled
<img width="785" alt="screen shot 2018-09-10 at 12 15 02 am" src="https://user-images.githubusercontent.com/26272732/45276174-a4521a80-b48e-11e8-827e-ced17f9e23ec.png">
Is there a specific user I should login with?

[2018-09-10 04:28] maxceem commented on #2279
@Gauravseta ok, I've got you. Let me discuss it with the team first before I confirm this to you, as it doesn't directly fit the current Bug Bash rules we have. I'll update on this today.

[2018-09-10 04:30] jomadoye commented on #2339
@maxceem login with copilot and visit https://connect.topcoder-dev.com/projects/6605 the `delivered` should be enabled

[2018-09-10 04:33] maxceem commented on #2339
@jomadoye ok, got it. This option will be disabled for all new projects which have a timeline with milestones. As old projects don't have it this option is enabled for them. Please, create a new project with any user, it has to be disabled there.

[2018-09-10 05:02] jomadoye commented on #2339
@maxceem What message do you want me to display on the tooltip, also I noticed this statement `same like disabled duration has` where can I see the disabled duration, thanks.

[2018-09-10 05:08] simranb86 commented on #2470
@maxceem not sure but i always see blank screen for Projects

![noprojectsshown](https://user-images.githubusercontent.com/40840038/45277479-a5fafd00-b4e5-11e8-965d-9a48ced4b042.jpg)

[2018-09-10 05:10] maxceem commented on #2339
@jomadoye You may use the next text for tooltip: `Phase delivery status is controlled by the statuses of individual milestones`
Regarding durtation, check the screenshot in the issue description there is `DURATION (DAYS)    17` with a tooltip shown.

[2018-09-10 05:10] vikasrohit commented on #2477
@vic-topcoder @acshields  I am not sure if this requirement. I think, copilots and managers need to discuss things before activating a phase, so where would they these discussions if implement this requirement?

[2018-09-10 05:11] vikasrohit commented on #2477
@RishiRajSahu @maxceem  Please hold on this, until we get confirmation.

[2018-09-10 05:11] maxceem commented on #2470
@simranb86 could you share what errors do you have on the `Console` tab? As it works well for me with the same user.

[2018-09-10 05:15] vikasrohit commented on #2479
@vic-topcoder @acshields customer has still go to `Scope` section and click on the `Submit for Review` button to let their projects in review by topcoder. So, IMO, the message still makes sense to me as customer.
And there might be a day where have extra questions in scope section of projects, and we might forget on that day to update the message back to reflect the same. So, IMO, it is better to

[2018-09-10 05:28] vikasrohit commented on #2339
@maxceem Slight modification to the text `Once activated, phase delivery is controlled by the milestones.`
Also, just want to make sure that this option is disabled only when there is a timeline associated with a phase i.e. it should NOT disable the `Delivered` status option when there is no timeline associated with the phase, this is for backward compatibility.

[2018-09-10 05:28] jomadoye commented on #2339
@maxceem does this work
<img width="872" alt="screen shot 2018-09-10 at 1 26 22 am" src="https://user-images.githubusercontent.com/26272732/45277942-b6d15180-b498-11e8-852a-e48ed0e60a01.png">.
The tooltip is on the drop down not the `disabled` option.

[2018-09-10 05:32] vikasrohit commented on #2483
@maxceem I think we have this logged somewhere in github, but none the less it seems that it is not desired behaviour now. So, you can get it fixed in the bug bash.

[2018-09-10 05:32] maxceem commented on #2339
@jomadoye No, the idea here is to explain to a user why he cannot choose the `Delivery` option. So it only has to appear when we put the mouse cursor on the disabled `Delivery` option.

[2018-09-10 05:50] maxceem commented on #2471
@rashmi73 just in case, you don't have to wait to be assigned to the issues and can already work on it as described in the new Bag Bush rules. Thanks.

[2018-09-10 05:51] maxceem commented on #2466
@PrakashDurlabhji  just in case, you don't have to wait to be assigned to the issues and can already work on it as described in the new Bag Bush rules. Thanks.

[2018-09-10 05:53] maxceem commented on #2470
@simranb86 Ok I think I've got it. Try to access your local deploying using address http://local.topcoder-dev.com:3000 instead of http://localhost:3000. To do so you have to add into your `/etc/hosts` the line `127.0.0.1 local.topcoder-dev.com`.

[2018-09-10 06:08] vikasrohit commented on #2471
@maxceem @rashmi73 Just to be clear, we haven't updated the generic rules for bug bash, it is just this particular challenge is using the slightly modified version of our standard bug bash in topcoder product development.

[2018-09-10 06:13] vikasrohit commented on #2468
@gondzo I have added the settings for new project plan related events.

I am wondering now, should we keep those settings by default disabled or enabled? It seems that our settings system in `tc-notifications` considers missing settings as enabled, right? Let me know what changes we need if we want to keep the emails for new events off by default.

fyi @vic-topcoder @acshields

[2018-09-10 09:10] RishiRajSahu opened #2488 "[$40] Consider Planned phases for calculating Project progress"
Current implementation of calculation project progress doesn't consider planned phases its only considering `Active` and `delivered`. It should consider planned phases as well. Please find the screen shot for existing behaviour.

![screen shot 2018-09-10 at 2 31 37 pm](https://user-images.githubusercontent.com/11248478/45287702-8e803c00-b506-11e8-94be-c0cea4b01d8d.png)

**Current Behaviour -**

Pr

[2018-09-10 09:11] RishiRajSahu commented on #2488
fyi @maxceem

[2018-09-10 09:17] RishiRajSahu opened #2489 "Don't show two alerts on phase card when activating a phase"
Hide the the Delete phase warning when marking the phase `In Progress` .

![screen shot 2018-09-07 at 3 01 01 pm](https://user-images.githubusercontent.com/11248478/45288472-642f7e00-b508-11e8-995d-73d4ba647ae9.png)

[2018-09-10 09:46] gondzo commented on #2468
correct, all notifications are enabled by default. We don't have an option to have them disabled by default, that is something we would have to add to tc-notifications if it's really needed.

[2018-09-10 09:51] amitpatra commented on #2489
I would like to work on it

[2018-09-10 09:52] iversonLv commented on #2488
@maxceem I would like to work on it

[2018-09-10 09:55] akmarif commented on #2483
@maxceem could you please assign it to me?

[2018-09-10 10:00] maxceem commented on #2279
@Gauravseta As promised I'm back with the answer for you. We've discussed the possibility of "booking" issues like this. There would be many edge case situations which could lead to confusions and participants disappointment if we let to do like this. We cannot let participants to book issues. So in case any issue is not finished and is opened for pick up again, anyone who comments the first **aft

[2018-09-10 10:07] maxceem commented on #2483
@akmarif you can already work without waiting for the assignment. But to let me assign it to you please, accept an invitation you have to get from GitHub.

[2018-09-10 10:33] RishiRajSahu opened #2490 "Correctly handle selected design link's background colour"
When an additional design is selected, removing one of the first 3 placements keeps the selected state (blue) of the previously "additional" element

![screen shot 2018-09-10 at 3 59 50 pm](https://user-images.githubusercontent.com/11248478/45292369-a2319f80-b512-11e8-905f-a93ed0283fe7.png)

Steps to reproduce
1. Select top 3 designs
2. Select an additional design
3. Unselect any one from the top

[2018-09-10 10:34] RishiRajSahu commented on #2490
fyi @maxceem

[2018-09-10 10:38] maxceem commented on #2484
@vic-topcoder @vikasrohit @RishiRajSahu

In FireFox it looks even slightly worse, and same for remove "-" button.

![image](https://user-images.githubusercontent.com/146016/45291745-9ef3df00-b525-11e8-9ac2-197b32306087.png)

There are three ways to solve it:
1.  Just adjust styles to match desgin as close as possible including:
    - make sure the buttons are circle (not oval)
    - make sure ther

[2018-09-10 10:40] sumitdaga commented on #2185
@maxceem
ok so, so far from my analysis so far what i think may be a good idea is to not propagate "newTitle" all the way down from FeedContainer to RichTextEditor as the RichTextEditor is anyway maintaining its own title state ...this i think will avoid all re-renderings happening due to props change when only the title is being edited and not yet saved?

does it make sense?
may to have to dig a

[2018-09-10 10:44] iversonLv commented on #2488
It’s done and ready for review

[2018-09-10 10:54] maxceem commented on #2185
@sumitdaga Yeah, I was considering before the way you proposed `not propagate "newTitle"` but it would break the work of the prompt which has to be shown when we are trying to leave the page where we started editing some post:
[code]
The reason for this is that we have to compare edited post with the initial post to determine if the user edited it. If we don't propagate `newTitle` we wouldn't know

[2018-09-10 11:09] sumitdaga commented on #2185
@maxceem
i understand the concern for showing

       <Prompt
          when={!!onLeaveMessage}
          message={onLeaveMessage}
        />

i was thinking of storing newTitle in the `state` of FeedContainer but not passing it down, so that it can be compared, but i guess it will cause a similar issue if have to call `mapFeed` again

i hope i will be given more time to fix this issue

[2018-09-10 11:33] RishiRajSahu opened #2492 "[$40] Allow editing link for final deliverable"
Links are not editable once the delivery is completed, but they should be. What would happen if a copilot moves things after they've completed adding links, and there's an error? Keep the option to edit/remove links for manager/copilots/admins at all times.

continued from https://github.com/appirio-tech/connect-app/issues/2301

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-461