[2020-08-20 08:29] RishiRajSahu commented on #4079
Done and pushed to prod.

[2020-08-20 08:31] RishiRajSahu commented on #4073
Done and pushed to prod.

[2020-08-20 08:35] RishiRajSahu commented on #4074
Pushed to prod.

[2020-08-20 08:37] RishiRajSahu commented on #4078
Pushed to prod.

[2020-08-20 08:43] RishiRajSahu commented on #4070
Notified member service team about the issue.

[2020-08-20 11:09] RishiRajSahu commented on #4054
@acshields done and pushed to dev.
fyi @vikasrohit

[2020-08-20 13:35] acshields opened #4095 "Updates to Design/Dev Intake Form (Apps Form)"
**Updates to this form:** https://connect.topcoder.com/new-project/app

### Update 1
Update “Briefly describe your goals” to read:
Question: “What are the main business objectives you are trying to achieve?”

### Update 2
**_Conditional Dependencies:_**
User has selected:
- “Design”
- “Development & QA”
- “Design AND Development & QA”
- “Design AND Development & QA AND Deployment”
- On the “Where

[2020-08-21 14:56] acshields opened #4096 "Typed Unsent Message Deletes If Another User Posts Before Sending"
Bug Description: If a user posts a message as another user is writing a message in a discussion thread, the message that the user is writing is deleted as the discussion thread refreshes.

Solution: The unsent typed message should be saved as a draft while the discussion thread refreshes.

<img width="671" alt="Screen Shot 2020-08-21 at 9 54 34 AM" src="https://user-images.githubusercontent.com/41

[2020-08-25 08:14] RishiRajSahu commented on #4051
@acshields The analytics.js version has been updated to latest on prod. https://github.com/appirio-tech/connect-app/pull/4097

[2020-08-27 15:40] acshields commented on #4058
@vikasrohit @RishiRajSahu - proceeding with just the ID and the field name [Billing Account] is workable for now :)

[2020-08-27 17:01] acshields commented on #4072
@RishiRajSahu - On both the internal and customer versions of the TaaS intake form, please update to include a question at the end that reads:

Field Name: "Hiring Manager"
Sub-Text to Field Name: "Indicate who will be the Hiring Manager for this talent."
Answer Format: [Free Text Field]

[2020-08-27 17:30] acshields opened #4100 "Differentiate Customer Project Email Invitations by SSO vs. Non-SSO"
### Updates

- If a client is part of a company that has SSO enabled with Topcoder, when a project invitation email is sent only the SSO sign-in option should be displayed (and not the standard username/password option).

- If a client is part of a company that does not have SSO enabled with Topcoder, when a project invitation email is sent only the standard username/password option should be disp

[2020-08-27 17:35] acshields opened #4101 "Remove "Project Role" Selection from Topcoder Team Invitations"
### Updates - Desired Workflow

1. User clicks "Manage" next to Topcoder Team
2. User enters one or more user handles
3. User clicks "Invite Users"

### Updates - Removed Step
Moving forward, the selection of invited user's 'project user role' should no longer be included as a step in the Topcoder Team invitation process.

[2020-08-27 19:42] acshields opened #4102 "Copilot Invitations to Projects"
### Update 1
In Topcoder invitations, exclude copilot handles from being returned as a match to the responsive character entry.

### Update 2
Underneath "Client" and before "Topcoder" in the team section of a project's left sidebar, add a section labeled "Copilot"

### Update 3
In the "Copilot" section, include a button that says "Request Copilot"
1. This button will be hyperlinked to this Google

[2020-08-27 21:06] acshields opened #4103 "Segment Profile Information by User Role"
### Current State
All Projects App users have the same required profile information, regardless of their user role.

### Future State
Projects App users have different required profile information depending on their user role.

### Update 1 - Client Total Profile
_Required Account Information (*Captured during account registration)_
- First Name
- Last Name
- Account Email
- Account Username
- Acc

[2020-08-27 21:15] acshields opened #4104 "Evolve Progressive Profile Completion Dynamic Behavior"
### Current State
When a user is prompted to complete their profile they are shown their full profile, which includes already completed information.

### Desired State
When a user is prompted to complete their profile they should only be shown the incomplete required fields.

[2020-08-27 21:25] acshields opened #4105 "New Progressive Profile Completion Scenario: Opens a Project"
### Scenario
A user has been invited to a project. If they have incomplete required profile information, the following should occur:
1. The user opens a project
2. Once inside the project, the user sees a pop-up window with the following included:
- Header Confirmation Message: "Welcome to [Project Name]"
- Sub-Header Profile Prompt: "Complete your profile now."
- Body: [Display Incomplete Require

[2020-08-27 21:31] acshields opened #4106 "New Progressive Profile Completion Scenario: First Time in Projects App"
### Scenario
The user has logged into Projects App (connect.topcoder.com) for the first time ever. When this happens, the following should occur:
1. The user has logged into connect.topcoder.com for the first time in that user account's history.
2. The user sees a pop-up window appear, with the following included:
- Header Confirmation Message: "Welcome to Topcoder!"
- Sub-Header Profile Prompt: "

[2020-08-28 07:01] RishiRajSahu commented on #4070
[code]

Debugged this on member service logs, found that ES is not able to parse the brackets, have notified member-service team about the same.

[2020-08-28 10:51] #4078 closed

[2020-08-28 11:57] #4074 closed

[2020-08-28 12:01] #4073 closed

[2020-08-28 12:08] lakshmiathreya commented on #4054
1. Work Manager navigation is seen for TaaS projects :
<img width="1480" alt="Screenshot 2020-08-28 at 5 37 16 PM" src="https://user-images.githubusercontent.com/51733042/91559168-317d2b00-e955-11ea-8c64-da6d96c32781.png">

[2020-08-28 12:20] lakshmiathreya commented on #4054
2. Work manager navigation is seen for Non-TC Copilot - this is as expected:
![screencapture-connect-topcoder-dev-projects-16604-2020-08-28-17_59_38](https://user-images.githubusercontent.com/51733042/91560110-e532ea80-e956-11ea-84d3-d1fba79376fb.png)

[2020-08-28 12:22] lakshmiathreya commented on #4054
3. Navigation not seen for non TC user - this is as expected:
<img width="1659" alt="Screenshot 2020-08-28 at 5 47 46 PM" src="https://user-images.githubusercontent.com/51733042/91560246-1f9c8780-e957-11ea-9064-95ce22c42027.png">

[2020-08-28 13:49] lakshmiathreya commented on #4054
Topcoder member is not able to see the Work Manager navigation - @RishiRajSahu @acshields - pls clarify visibility for all TC roles:
<img width="1661" alt="Screenshot 2020-08-28 at 7 17 23 PM" src="https://user-images.githubusercontent.com/51733042/91568613-292bec80-e963-11ea-8164-2830acf8d305.png">

[2020-08-28 16:14] acshields opened #4107 "Client Progressive Registration: Update Business Email Question/Answer Functionality"
### Update - Workflow

- A client user is prompted to complete progressive profile completion if they have incomplete required profile information.
- The client user's account email should be displayed, in addition to any other incomplete required profile information.
- The client user should be asked: "Is this your business email address?" and the answer will be a Yes/No buttons.
- If the client

[2020-08-31 13:32] lakshmiathreya commented on #4080
1. Screen 2 has Ref Code - is this expected?

[2020-08-31 13:45] lakshmiathreya commented on #4080
2. What is the expected result for a Copilot who is an employee?

[2020-08-31 13:46] lakshmiathreya commented on #4080
3. How is the validation done to verify TC employee - is it just the email domain name ?

[2020-08-31 13:51] lakshmiathreya commented on #4080
Copilot who has a topcoder domain in the email:
<img width="1473" alt="Screenshot 2020-08-31 at 7 20 03 PM" src="https://user-images.githubusercontent.com/51733042/91727260-0d248700-ebbf-11ea-9d17-f0e2b13d088e.png">
<img width="1443" alt="Screenshot 2020-08-31 at 7 20 15 PM" src="https://user-images.githubusercontent.com/51733042/91727271-1150a480-ebbf-11ea-832b-57e455c92444.png">

[2020-08-31 16:17] acshields commented on #4080
@lakshmiathreya and @RishiRajSahu -

1. REF code is not needed for the internal Topcoder project.
2. Not sure if I completely understand question 2, but here is my thoughts on questions 2/3: If a user has a Topcoder user role in the platform (Manager, Account Executive, Admin, etc.), then they should see this intake form. I suppose this would apply to someone who has the Topcoder user role + Copil

[2020-08-31 16:20] acshields commented on #4054
@lakshmiathreya and @RishiRajSahu - Clarifying for above:

- Client users should not see Work Manager link (or Direct/SFDC as well)
- Copilot users should see Work Manager link (and Direct/SFDC as well)
- All Topcoder users (Admins, Managers, Account Executive, etc.) should see Work Manager link (and Direct/SFDc as well)

[2020-08-31 17:43] lakshmiathreya commented on #4080
@acshields the requirement stated above says "Topcoder Employee User" ... could you clarify pls ... Currently all Roles above are being shown/not shown the Internal Topcoder Projects Form as expected - regardless of whether the User is a Topcoder employee or not.
<img width="1297" alt="Screenshot 2020-08-31 at 11 08 34 PM" src="https://user-images.githubusercontent.com/51733042/91749707-89c75d80-e

[2020-09-01 05:39] RishiRajSahu commented on #4079
@lakshmiathreya please review here https://connect.topcoder.com/new-project/qa-accessibility-testing

[2020-09-01 05:45] RishiRajSahu commented on #4080
@lakshmiathreya @acshields I have removed the ref-code field.

@lakshmiathreya regarding visibility of this form, we it is limited users based on the roles, so as mentioned in the issue description people with mentioned roles will be able to see the intake option irrespective of their email-id domain. Also, copilot and general users with just `Topcoder user` role aren't able to see this option.

[2020-09-01 06:49] #4079 closed

[2020-09-01 07:08] RishiRajSahu commented on #4051
@jswheeler The analytics script of segment has been updated to latest version and patched to prod.
Regarding the `Additionally` part you have mentioned in the issue could you please clarify more ? I think this should be handled at centrally somehow, as consent manager window/popup needs to contains some text which suppose to be uniform across apps.

[code]

fyi @mtwomey

[2020-09-01 10:22] lakshmiathreya commented on #4072
@RishiRajSahu Hiring Manager Field is not included ...
<img width="1276" alt="Screenshot 2020-09-01 at 1 53 02 PM" src="https://user-images.githubusercontent.com/51733042/91838434-208d2c00-ec6b-11ea-996b-7569ff1d99d0.png">

[2020-09-01 10:41] lakshmiathreya commented on #4072
Internal Roles working:- 1. Copilot manager  2. Administrator 3. Connect Account manager
Internal Roles not working:- 1. Connect Admin - pls see final Screen screenshot for Connect Admin:

<img width="1400" alt="Screenshot 2020-09-01 at 4 04 00 PM" src="https://user-images.githubusercontent.com/51733042/91839518-d016ce00-ec6c-11ea-81f4-66c61b097ba3.png">

External Roles working:- 1. Copilot 2. Cus

[2020-09-01 11:50] RishiRajSahu commented on #4072
Hiring manager question added.

[2020-09-01 11:58] RishiRajSahu commented on #4054
@acshields yep the rules are applied as per you mentioned only, @lakshmiathreya regarding disabling for TaaS will fix it.

[2020-09-01 12:31] RishiRajSahu commented on #4070
@acshields I think we can close this issue in our bucket as this is a global issue from member service side to be fixed.

[2020-09-01 12:59] RishiRajSahu commented on #4058
![Screenshot 2020-09-01 at 6 28 52 PM](https://user-images.githubusercontent.com/11248478/91854212-03fbee80-ec81-11ea-803e-f0ed7b32d1bb.png)
@acshields please confirm if this looks good to you.

[2020-09-01 15:07] acshields opened #4109 "Profile Timezone Enhancement"
**Enhancement:** Retrieve user's timezone from the https// request and prefill into profile.

### Update - Workflow
- When user logs into Projects App, retrieve their timezone from the https request and prefill this data onto their profile.
Here is a reference article: https://stackoverflow.com/questions/22479407/how-to-get-clients-time-zone-in-java-from-httpservletrequest#:~:text=there%20are%202%

[2020-09-01 16:57] acshields commented on #4058
@RishiRajSahu - that looks good to me for the time being!

[2020-09-01 22:24] dmessing commented on #4103
@acshields does Business Email change their log in information or their main email?

[2020-09-01 22:25] dmessing commented on #4103
I think Country might be a required account field we have to capture for some legal reasons, but maybe we can look at that

[2020-09-01 22:25] dmessing commented on #4103
Is account registration different than member account registration?

[2020-09-02 06:26] lakshmiathreya commented on #4054
<img width="1389" alt="Screenshot 2020-09-02 at 11 53 45 AM" src="https://user-images.githubusercontent.com/51733042/91939357-4ff77380-ed13-11ea-8861-dfc5da398483.png">

[2020-09-02 11:27] RishiRajSahu commented on #4058
In dev we don't have billingaccount added to the projects, so I have manually attached one to a single project for testing

https://connect.topcoder-dev.com/projects/16605

[2020-09-02 11:47] RishiRajSahu commented on #4093
@acshields The places where the account specific pages get triggered -
1. Log in - Home page when user is logged-out and clicks 'Log in' button
2. Register - Home page when user is logged out and clicks 'Start a project' button
3. Reset Password  - on profile page, when user clicks 'Forgot password'

Above three could be replaced and released in tomorrow's release, another place where we need to u

[2020-09-02 13:30] lakshmiathreya commented on #4080
-- REF code removed for the Internal Projects form
-- All above roles verified as per specification

[2020-09-02 13:37] lakshmiathreya commented on #4072
Presales role - pls clarify - does this version of the form apply https://docs.google.com/document/d/1OGTLjFwQPPJQiYZJN6uFqogEhrZKPSG8WLzRSWXDuHQ/edit?usp=sharing

[2020-09-02 13:38] lakshmiathreya commented on #4072
For Presales Role this is seen:
<img width="1571" alt="Screenshot 2020-09-02 at 7 07 41 PM" src="https://user-images.githubusercontent.com/51733042/91990651-9cf93b00-ed4f-11ea-8ba1-63ef07b66244.png">

[2020-09-02 13:58] lakshmiathreya commented on #4072
-- Internal Roles using this form - as expected. https://docs.google.com/document/d/1OGTLjFwQPPJQiYZJN6uFqogEhrZKPSG8WLzRSWXDuHQ/edit?usp=sharing are 1. Connect Account Manager 2. Connect Admin 3. Admin 4. Connect Copilot Manager 5. Connect Manager
-- Internal Roles using the Customer/Copilot form  - 1. Account Executive 2. BDR 3. Presales 4. Program Manager 5. Project Manager 6. Solutions Archite

[2020-09-02 14:38] RishiRajSahu commented on #4072
@lakshmiathreya the difference between **Customer/Copilot Version** and **Topcoder version** is just the section `Opportunity Details` rest of the questions are same for both  versions.

Topcoder Version should be visible to -
[code]

**Customer/Copilot Version** should be visible to -
[code]

[2020-09-02 14:50] RishiRajSahu commented on #4093
Earlier instead of step **e**, user was redirected to project page with a pop-up asking to join/decline. Doesn't look much breaking UX to me still needs your heads-up

[2020-09-02 15:24] lakshmiathreya commented on #4072
Verified all above roles - working as expected.

[2020-09-02 15:36] acshields commented on #4093
@RishiRajSahu - Thank you for letting me know. I think the new workflow with step "e" is fine :) to reconfirm, all of these changes will be a part of tomorrow's release?

[2020-09-02 16:04] lakshmiathreya commented on #4093
1. New User Registration, Login, Logout and Password change working fine. Registration email format is TBD.
2. For SSO user - there is an issue in Dev redirecting to Wipro. Same issue when tried with Accounts App dev.
3. Country field responsive test doesnt work well with country names that are substrings of other country names - again this is an Accounts App issue.

[2020-09-02 16:57] RishiRajSahu commented on #4093
Updated the template in dev https://github.com/topcoder-platform/tc-notifications/commit/c6c6a2003f6091f424f6c00d0989e49ce2c7bdac

[2020-09-03 08:13] #4091 closed

[2020-09-03 08:55] #4058 closed

[2020-09-03 10:32] lakshmiathreya commented on #4054
WM Navigation link working fine for Admin and the currently Roles implemented: Manager, Project Manager, Program Manager, Solution Architect, Copilot.
@acshields - pls clarify - if this is the expected list or should we add all other Internal TC roles?

[2020-09-03 10:49] #4080 closed

[2020-09-03 10:50] lakshmiathreya commented on #4093
@acshields @RishiRajSahu would like to go over the new Reg flow during our call before I close this Issue.

[2020-09-03 16:02] lakshmiathreya commented on #4093
Move to TC registration form is verified. This has led to User experience change for the Connect User as opposed to the earlier flow - that is - inability to redirect to the Project page upon completion of Registration.

This would be logged as a new Issue and fixed via changes to Accounts App to support return urls. Therefore closing this one.

[2020-09-03 16:02] #4093 closed

[2020-09-03 18:24] acshields commented on #4095
@RishiRajSahu - Rash requested one additional question to be included in this form, which is now reflected in Update 9.

[2020-09-04 05:14] RishiRajSahu opened #4112 "Login/Registration pages needs to be adapted for Connect"
With new Login/Registration flow for Connect, we have few updates needs to be done which arise due to the below use case -

1. Connect home page - user clicks on Login and then switches to registration from there, the regSource is lost in URL which means user will be redirected to community app upon successful activation
2. Connect home page - user clicks for Registration and then switches for log

[2020-09-04 05:34] RishiRajSahu opened #4113 "Add all manager roles for visibility of navigation links"
Currently only limited set of managers are able to view the navigation links(direct, sfdc, WM). Need to add all manager roles to be able to see these links.

fyi @lakshmiathreya

[2020-09-04 05:34] RishiRajSahu commented on #4054
created followup issue https://github.com/appirio-tech/connect-app/issues/new

[2020-09-04 05:34] #4054 closed

[2020-09-08 06:38] RishiRajSahu commented on #4101
@acshields as per our last discussion If we want to remove selecting different roles while inviting a project, below is the best we could do to achieve this objective -
1. We have notion of Topcoder and Project Roles Currently
2. Whenever a user is invited in Topcoder Team, and if that user posses any of the Topcoder manager role, including `Connect Manager` the user would be assigned as Manager (

[2020-09-08 06:52] RishiRajSahu commented on #4102
@acshields
Update 1 -
1.  I had followed up with member service team and they don't support role filter on the suggest endpoint actually the don't store any role info with them right. Also, having such an endpoint with role level filter could be potential security flaw as we are giving an option to fetch user based on roles. Fyi @mtwomey
2. what if we leave it as its, I mean, as we are anyway upda

[2020-09-08 07:02] vikasrohit commented on #4107
@RishiRajSahu @acshields before we implement this, we need to analyze the notification emails feature as well because once we have the separate business email, we need to send notifications (generated from Connect) to that email only. As of now it picks the login email for all sort of communication.
Also, we need to be aware of email verification process as well as we don't want users to enter inv

[2020-09-08 07:08] vikasrohit commented on #4106
@RishiRajSahu @acshields should we show the popup on project open instead of login of user? I mean, when user opens any project link which he/she has access to and we don't see the required information filled in his/her profile, we can show that modal.

[2020-09-08 11:40] maxceem commented on #4109
At which place should we prefill user timezone?

If we prefill user timezone on the regular user profile page https://connect.topcoder-dev.com/settings/profile it might bring confusion, as visually user would see that timezone is already selected on the profile, so user wouldn't click "Save" button, and it would not be saved. And other people would not see user timezone

![image](https://user-imag

[2020-09-08 11:42] maxceem commented on #4107
Do I understand this correctly, that we should only implement this task taking into account comment from Vikas https://github.com/appirio-tech/connect-app/issues/4107#issuecomment-688662696? Looks like there is some backend job has to be done first, before we can implement this, right?

[2020-09-08 11:47] maxceem commented on #4105
Do I understand this correctly, that this should happen once per project? So each time user joins another project user would receive such a popup (as long as the user has an incomplete profile).
- If the user opens the project the second time, no popup is shown even the profile is incomplete.

[2020-09-08 12:08] maxceem commented on #4103
1. Do I understand it correctly, that **Topcoder Employee** are the users who have one of the next roles?

    - Connect Manager
    - Connect Admin
    - administrator
    - Connect Account Manager
    - Business Development Representative
    - Presales
    - Account Executive
    - Program Manager
    - Solution Architect
    - Project Manager

2. As we are removing `Country` and adding `Compan

[2020-09-08 12:28] maxceem commented on #4100
1. If I invite already existent Topcoder user to a project than such a user receives the next email

   ![image](https://user-images.githubusercontent.com/146016/92475554-42942a80-f1e6-11ea-99cb-1b804d76aa68.png)

   It is the same for SSO/non-SSO and there are is just **Join Project** button which suits both kind of users.

   If I click this button being logged-out I would get to the standard Lo

[2020-09-08 12:34] maxceem commented on #4087
As this issue might very browser/environment specific, is it possible to get more details about this issue:
1. Where such an italic text could be found? The exact place in the Connect App.
2. What is the browser name and version?
3. What is the operating system name and version?

[2020-09-08 12:38] maxceem commented on #4085
@RishiRajSahu this issue looks clear, but I'm not sure how to trigger Chameleon survey. Could you help me to understand on how to call it?

- Regarding the UI for these elements, as there are no designs provided I might create UI by reusing and adapting some existent elements.

[2020-09-08 15:07] RishiRajSahu commented on #4105
@maxceem yes, its should be asked for every new project invite only, and once user has filled/opted-out for a certain project it should not be asked when user open the projects later.

[2020-09-08 15:17] RishiRajSahu commented on #4106
Yep @vikasrohit agree, having progressive flow triggered for first time login is a not a easier check to put directly by connect ? that's how will we decide in Connect itself that this is the first time login and wrt UX also putting a progressive trigger on Dashboard page doesn't seem good to me as if user opts out every time it will be visible again on every login? Let's discuss this with @acshie

[2020-09-08 15:19] RishiRajSahu commented on #4087
@acshields could you please provide the source of the issue ? i.e. who reported this ? or If you yourself encountered this could you please provide the info on above thread ?

[2020-09-08 15:23] RishiRajSahu commented on #4100
@maxceem it shouldn't be the SSO option for a unregistered user as per my understanding the logic currently for sending SSO/non-SSO invite depends upon the refcode - `topgear` and few others. I guess the invite you have got is for some project whose refcode is either Topgear or RND ? I will check exact dev refcodes again for you to test but you can try topgear for sure.
Also, the logic lies in the

[2020-09-08 15:26] maxceem commented on #4106
Right

[2020-09-08 15:26] acshields commented on #4087
Hi @RishiRajSahu - ketzjs09 reported this issue. Please follow up with him - I didn't get the browser version/OS from him.

[2020-09-08 15:29] acshields commented on #4085
@maxceem - You don't need to worry about enabling Chameleon. We already have the script installed and Chameleon is the 3rd-party tool. All I need is a clickable button that I can anchor the Chameleon survey too, so when a user clicks on this part of the screen it will trigger the Chameleon survey I set up to open.

[2020-09-08 15:29] maxceem commented on #4100
Right @RishiRajSahu I use a project with `topcoder` ref code https://connect.topcoder-dev.com/projects/8406.

Right, logic depends on the project ref code. And we can invite a user who is not registered on Topcoder to such a project.

If my findings in this comment https://github.com/appirio-tech/connect-app/issues/4100#issuecomment-688833628 are not related to the current issue, could you please,

[2020-09-08 19:14] maxceem commented on #4105
Ok, so every time user opens any project, the user would see this popup, as long as the profile is incomplete.

[2020-09-09 04:46] RishiRajSahu commented on #4109
@maxceem yep all the 3 places are correct, and on profile page user should see the saved one or empty(if not filled yet).

[2020-09-09 07:34] maxceem commented on #4109
Thanks, @RishiRajSahu. Btw do we still have to support a separate registration form for Connect https://accounts.topcoder.com/connect/registration. It looks like if we open Connect app https://connect.topcoder.com/ and click a link to register in login form, we would see a standard Topcoder register form

![image](https://user-images.githubusercontent.com/146016/92568578-0b765580-f288-11ea-9878-3d

[2020-09-09 09:53] RishiRajSahu commented on #4095
@acshields
Updates 1-3 are done.
Updates 4-8, I need to know where these questions should be placed ? I mean before/after which existing questions ?
Update 9 - "What do you need?" is a checkbox type question, so currently as soon as we select any checkbox(es) the other dependent question pop-up on the form, so this new question about outcome, do we want to show it after the dependent questions or

[2020-09-09 09:57] RishiRajSahu commented on #4107
@maxceem Yep, I mentioned same to the @acshields when the issue was added, she will get back to us with updates. Until then we can keep it on hold.

@acshields do we have updates around this ?

[2020-09-09 10:00] RishiRajSahu commented on #4106
@acshields I think we can close this issue as its already been taken care by #4105 and project-submission already.

[2020-09-09 10:04] RishiRajSahu commented on #4103
1. Yes, you are correct
2. Yes we would have to keep it consistent for clients everywhere, But I guess we should first check whether traits support adding a new field company URL or not ? could you try that via postman ?

[2020-09-09 10:04] RishiRajSahu commented on #4087
@acshields @maxceem I have also dropped a note to ketjs09 regarding same waiting for this reply.

[2020-09-09 10:16] RishiRajSahu commented on #4101
@acshields Just for everyone to be on same page I am putting our discussion yesterday here again as final requirements -
1. From now we are going to have single project level manager role
2. Only managers will be invited from Topcoder Team
3. Remove the role switching option from the UI
4. Remove the dropdown of roles when inviting manager
5. We have to check Roles/Visiblity table of ours to verif

[2020-09-09 10:21] RishiRajSahu commented on #4102
@acshields as per latest discussion
Update - 1
Not required, as not feasible currently

Update - 2
Clear

**Update 3 -**
Clear, but does this means the `Request mechanism we have in place right now is no longer required ? should we remove the logic from the frontend and backend for the same or let it be there ?

Maybe instead of Google-Form we can update UI in case of Request mechanism, so there i

[2020-09-09 10:23] maxceem commented on #4103
@RishiRajSahu good catch. The trait doesn't support the company URL, see https://github.com/appirio-tech/ap-member-microservice/blob/dev/service/src/main/java/com/appirio/service/member/api/MemberProfileConnectInfo.java.

[2020-09-09 10:28] maxceem commented on #4100
@RishiRajSahu as per my understanding the only thing to change here is the logging form which is open when we user clicks **Join Project** button in the email:

![image](https://user-images.githubusercontent.com/146016/92475554-42942a80-f1e6-11ea-99cb-1b804d76aa68.png)

For non-SSO projects we should show forward user to the normal login form

![image](https://user-images.githubusercontent.com/146

[2020-09-09 11:50] RishiRajSahu opened #4114 "Sanitize the content of Topic/Message to avoid XSS"
Santize the content of message's topic and body to avoid possible XSS

Fyi @vikasrohit @acshields

[2020-09-09 11:52] RishiRajSahu opened #4115 "Sanitize the content of Topic/Message to avoid XSS"
Sanitize the content of message's topic and body to avoid possible XSS

Fyi @vikasrohit @acshields

[2020-09-09 13:10] ketzjs09 commented on #4087
Using Windows 10, Chrome.

The weird g is visible when I try to write something in italics in Connect messages in our conversations with the client.

[2020-09-09 13:31] acshields commented on #4095
@RishiRajSahu - Thank you for the update!

Questions 4-8 can be placed in their current sequence above, after the new questions 1-3 and all current questions in this screenshot have been asked:
<img width="470" alt="Screen Shot 2020-09-09 at 8 22 57 AM" src="https://user-images.githubusercontent.com/41118149/92604329-05777900-f276-11ea-8c07-bc9000564757.png">

For Question 9, this can be displayed

[2020-09-09 13:43] acshields commented on #4102
@RishiRajSahu - Thank you for recapping and I will provide the follow-ups/required updates here.

**Update 1** - Agreed, we will not pursue this at this time.

**Update 2** - Noted that this is clear. Please proceed with creating the "Copilot" section in the left sidebar.

**Update 3** - Let's proceed with the guidance I provided above (I am reposting here). Although we may be able to manage the r

[2020-09-09 14:18] acshields commented on #4109
@RishiRajSahu and @maxceem - following up on our meeting call yesterday with clarifying notes.

When a user is first prompted for progressive profile completion, the app should fetch their current timezone from their browser.
The user can either leave the timezone as-is, or they can manually update the timezone from a dropdown list if the timezone that was returned was not accurate or is not their

[2020-09-09 14:23] acshields commented on #4105
@maxceem - Yes. Essentially, what we discussed in a meeting yesterday was:

- Any time a user opens a project AND they have incomplete required profile information, they should see the pop-up to complete their profile information.
- The user can choose to opt-out of providing their profile information at this time, if desired. However, if they choose to opt-out, the next time they open any project

[2020-09-09 14:24] maxceem commented on #4115
## Overview

The **message topic** is safe.

The **message text** indeed allows rendering any arbitrary HTML, for example here is a red rectangular outside of the message, using `position: fixed`:

![image](https://user-images.githubusercontent.com/146016/92609913-c40bbb80-f2bf-11ea-84a7-1ca49ff7c172.png)

This issue happens only during **viewing** the message. Editing is safe, as during editing a

[2020-09-09 14:25] acshields commented on #4106
@RishiRajSahu @maxceem - Yes, we can close this issue as we will not be proceeding with it after our discussion yesterday. I will proceed with closing the issue.

[2020-09-09 14:25] #4106 closed

[2020-09-09 14:35] acshields commented on #4101
@RishiRajSahu - thank you!

[2020-09-09 14:59] maxceem commented on #4115
@vikasrohit @RishiRajSahu created a hotfix base on the Quick solution described [above](https://github.com/appirio-tech/connect-app/issues/4115#issuecomment-689597620):
- only the next tags are allowed `'blockquote', 'p', 'a', 'ul', 'ol', 'li', 'b', 'i', 'strong', 'em', 'strike', 'abbr', 'code', 'br', 'pre'`
- all other tags would be displayed as text without attributes:

   ![image](https://user-

[2020-09-09 16:27] vikasrohit commented on #4115
@maxceem @RishiRajSahu I think we should put sanitizing in tc-message-service as well. What do you suggest?

[2020-09-09 17:07] maxceem commented on #4115
@vikasrohit I would suggest sanitizing client-side only.

IMHO message service should allow storing any text message. Somebody might discuss attacks and include examples of XSS code like `<img src=x onerror=alert("xss") />` so in some context such text would be absolutely legit.

The only thing all such code suppose to be rendered as text, and not to be rendered as real HTML.

The problem we have

[2020-09-10 05:28] RishiRajSahu commented on #4115
@vikasrohit are we concerned here about someone directly accessing message-service endpoints with XSS contents ?

[2020-09-11 00:43] acshields opened #4118 "Looker Embedded User: Only Provision when Project Status = Active or Completed"
### Project Report Dashboard
- A user should only be provisioned as an embedded Looker user if the project is in "Active" or "Complete" status.
- If the project is not in this status and a user clicks onto the project report dashboard, they should not be provisioned as an embedded user for Looker.

### User Report Dashboard (All Projects Dashboard)
- A user should only be provisioned as an embedde

[2020-09-11 00:48] acshields opened #4119 "Looker Embedded User: Script to Clear Embedded Users at End of Day"
- Create a script that will clear all Looker embedded users at the end of each day for both the project reporting dashboard and the user-level reporting dashboard (all projects dashboard)
- Project reporting dashboard: The next time a previously provisioned user accesses the project reporting dashboard after having their embedded user cleared, they should be reprovisioned for that day.
- User-leve

[2020-09-11 00:49] acshields opened #4120 "Looker Embedded User: Provision by User Role"
Evaluate if we can provision a user to view both the project reporting dashboard and the user-level reporting dashboard (all projects dashboard), based upon their user role (options: Client, Copilot, Project Manager/Manager/Admin) vs. their specific account information.

[2020-09-11 10:12] maxceem commented on #4101
@RishiRajSahu

1. Should we keep all the specific project roles, or should we completely remove them? This would require us to update project data in the DB and reindex all the projects.

    - `Solution Architect`
    - `Account Executive`
    - `Account Manager`
    - `Project Manager`
    - `Program Manager`

2. (If 1. is NO) Currently, we are showing specific project roles as `Solution Archite

[2020-09-11 10:51] maxceem commented on #4087
Fixed via PR https://github.com/appirio-tech/connect-app/pull/4121

![image](https://user-images.githubusercontent.com/146016/92914968-c8a5b080-f434-11ea-8fa4-bf359e197237.png)

1. Generated new files in `woff` format, as old files had been generated a long time ago and the tool which has been used has some issues which cause the font rendering issues.

2. Additionally added files in `woff2` forma

[2020-09-11 17:22] mtwomey commented on #4119
This should be an AWS JS lambda.

[2020-09-11 17:23] mtwomey commented on #4119
@vikasrohit need final confirmation that deleting users has no adverse impact and that they will simply be recreated.

[2020-09-12 05:07] vikasrohit commented on #4119
@mtwomey @acshields Confirmed. I just checked one of my customer account on production. I followed this script:
1. Viewed reports with my customer account
2. Verified that embed user exists in looker
3. I removed that embed user from the looker
4. Reloaded the reports in Connect for the same user in the same browser session
5. I can still see the reports
6. Now looker again has the embed user but

[2020-09-14 10:34] maxceem commented on #4085
@acshields @RishiRajSahu should we add some icon for the **Provide Application Feedback** link? I didn't find any suitable one so I use the same as for **How Topcoder Works**.

So far it looks like this.

### Project List Sidebar

![image](https://user-images.githubusercontent.com/146016/93072536-339bf500-f68a-11ea-92ac-1ba800babf64.png)

### Project Details Sidebar

![image](https://user-images.g

[2020-09-14 10:36] maxceem commented on #4085
@RishiRajSahu done via https://github.com/appirio-tech/connect-app/pull/4122

[2020-09-14 10:50] maxceem commented on #4069
@RishiRajSahu done via https://github.com/appirio-tech/connect-app/pull/4123

[2020-09-15 13:08] maxceem commented on #4101
5. There are some notifications which are sent to the specific manager roles:

   - When project is created, `Account Managers` and `Business Development Representatives` get notifications
   - When project is ready for review, `Account Managers` and `Business Development Representatives` get notifications

6. On the other hand, `account_executive` Project Role doesn't get any notifications at the

[2020-09-15 22:37] acshields commented on #4095
@RishiRajSahu - I will post my screen recording in Slack, but as I tested out the version of this form in dev I ran into some issues. I am not sure what was triggering the issued I faced (might be several factors), but hopefully the video will help.

@lakshmiathreya - as a preface, this form (Apps intake, or the design/dev form) could benefit from a QA tester's support (if codejam or deepak have c

[2020-09-16 07:42] RishiRajSahu commented on #4101
@maxceem
1. Let's keep our frontend code backward compatible instead of doing DB updates i.e. if any of such older roles found we have  treat them as new common project-manager role.
2. We don't have to show separate roles now on, in-fact we don't have to show any role as the dialog itself defines the roles of the members present under it.
3. Yep unless they have some different permissions/notific

[2020-09-16 07:49] RishiRajSahu commented on #4100
@acshields we only have ref-codes as SSO differentiator for now, as per your requirement I don't think we have any info with us which tells about the user's company SSO enable/disable status.
Also, I don't think there isn't any service which could provide us with such info, another way could be to have mapping of the domains hardcoded in our apps which defines the SSO status for a company and base

[2020-09-16 08:16] maxceem commented on #4086
@acshields I've tried to upload a `pdf` document in production and it worked for me. Maybe someone can try to do the same in the project provided by the user, to check if it's a project-specific issue or no.

Is it possible to know the **name** of the `pdf` file the user tried to upload and the **size** of that file?

[2020-09-16 08:29] maxceem commented on #4101
@RishiRajSahu to sum up, I guess the logic here would be the next:
- we keep all the **Project** and **Topcoder** roles as they are internally, but never show these roles to the users
- when we invite a user manager, the manager is invited using they DEFAULT role as per matrix:

    ![image](https://user-images.githubusercontent.com/146016/93311742-0d539200-f80f-11ea-9016-c44c29a5fbf7.png)

- this

[2020-09-16 10:44] RishiRajSahu commented on #4101
@maxceem a user could have more than one Topcoder roles attached that's why I mentioned that when any user is invited via Team Manager dialog, that user should atleast have Connect Manager(other Manager roles may or may not be present).

| Task           | Could be Assigned Project Manager   |
|----------------|---------------|
|'Connect Manager'|&check;|
|'Connect Account Manager'|_|
|'Connect Ad

[2020-09-16 10:53] maxceem commented on #4101
Thanks for the table @RishiRajSahu it helps.

From this table, it follows that if some user has the only a role like `Project Manager` or `Connect Account Manager` then such a user cannot join the project as Manager to the Topcoder Team. Though, previously such users could join a project to the Topcoder Team with a specific Project Role like `project_manager` or `account_manager`.

2 questions rai

[2020-09-16 11:35] RishiRajSahu commented on #4101
@maxceem , yes Connect Manager role is must now, any other Role(s) could be there or not doesn't matter.
9. updated the table
10. Existing members should be shown under Manager Team only with any role label, should that be an issue ? I guess existing members could be rendered as it is, its only the new member invited who are going to affect , that's what I mean't by backward compatible earlier. Pl

[2020-09-17 08:11] maxceem commented on #4101
@RishiRajSahu this is done via PR https://github.com/appirio-tech/connect-app/pull/4128. It's merged to the September branch and ready for testing.

[2020-09-18 06:51] vikasrohit commented on #4120
@acshields as discussed on Slack, it is difficult and not fruitful as there is always one embedded user per topcoder user no matter how many projects he is involved in. If we assume that it is possible to have embedded user per role per project, it would cause more embedded users than when we create separate embed user per user because we would have more projects than users (provided we would have

[2020-09-21 16:08] acshields commented on #4103
@RishiRajSahu - Just following up on your Slack message regarding "Country." Noted that this will be kept as a required profile attribute for all users in the background. To reconfirm, "Country" would be captured during account registration, and then in Projects App's progressive profile completion, this field should already be captured and should not trigger a prompt to complete.

[2020-09-21 16:12] acshields commented on #4103
@dmessing - Account registration happens before progressive profile completion. During account registration, a new user identifies whether they are registering as a client or a community member (if client is selected, the Business Client user role gets applied. They then complete the account registration form (First/Last Name, Country, Email Address, Username, Password) - the account registration

[2020-09-21 18:01] acshields opened #4129 "New Intake Form: Beacon"
### Context
A new project solution intake form needs to be created for Data Science.

### Catalog: Pathway, Copy Content, Visibility
**Display Pathway:** + New Project > + Solution > Data Science Section
**Title:** Beacon
**Catalog Description:** Get your problem unstuck, de-risked, and solved to exacting standards with this wayfinding solution. First, we bring your early-stage, thorny problems an

[2020-09-22 01:05] acshields opened #4130 "Update TaaS Intake Form: Backend Calls - Goal Due Date: 12/5"
- Required Skills and Preferred Skills reference data needs updating to use EMSI standard.
- Once TaaS intake form is submitted, the "Bookings API" (name TBD) should be called and a record for each requested role, along with the associated skills, should be created.

### Tasks here (this list is managed by @maxceem)
- [x] create jobs on TaaS project creation
- [x] update skill dropdowns to list sk

[2020-09-22 01:07] acshields commented on #4130
@RishiRajSahu - This is the issue I gave you a heads up on a couple weeks ago, regarding some future updates that will be needed for the TaaS intake form. As you prepare for this feature, I would recommend chatting with Will Price and Nagendra (he will be owning TaaS App from the engineering standpoint) to learn more about the "Bookings API" they are currently planning, as well as any other questi

[2020-09-22 07:44] maxceem commented on #4103
@RishiRajSahu

As mentioned by **acshields**

So the `Country` would be required, but because it suppose to be captured by the initial user registration, it wouldn't be asked during progressive registration in Connect.
But currently when I register a new user, I enter `Country` but it is not populated in `basic_info`. So it would be asked during progressive registration again. Probably it's an iss

[2020-09-22 07:52] RishiRajSahu commented on #4103
@maxceem yeah seems to be an issue with member service and I guess this is already reported to them `https://github.com/topcoder-platform/community-app/issues/4707`

but just wanted to confirm Once country is updated on Connect profile, we are keeping country consistent/same in both `basic_info` and `connect` traits ?

[2020-09-22 14:17] maxceem commented on #4103
@RishiRajSahu no, we don't keep it in sync in Connect. In Connect we only update `country` in `connect_info`, but not in `basic_info`:

![image](https://user-images.githubusercontent.com/146016/93894442-66339680-fcf7-11ea-90d4-615afd069838.png)

[2020-09-22 14:19] maxceem commented on #4103
@RishiRajSahu fyi, I've made `country` required in the user profile so in case it's missing in user data we ask user for it, otherwise we cannot save data to the server. See commit 74222c6067d519a4745e8fc0d3f0c2665479e6f8.

[2020-09-23 00:41] lakshmiathreya commented on #4069
Search term seems to be disabling loading of Reports tab.
<img width="1472" alt="Screenshot 2020-09-23 at 6 08 45 AM" src="https://user-images.githubusercontent.com/51733042/93951330-a16baf00-fd63-11ea-9eed-2a3e4f6ab8b3.png">
<img width="1680" alt="Screenshot 2020-09-23 at 6 10 28 AM" src="https://user-images.githubusercontent.com/51733042/93951339-a6306300-fd63-11ea-8292-942f8a0482e5.png">

[2020-09-23 08:08] maxceem commented on #4069
@lakshmiathreya could you please test the issues which are now `Ready for QA` on **TEST01** environment https://connect-test01.topcoder-dev.com/ not on the regular **DEV** environment https://connect.topcoder-dev.com/

[2020-09-23 08:20] lakshmiathreya commented on #4085
All 4 Updates verified for multiple User roles.
![Uploading Screenshot 2020-09-23 at 1.50.22 PM.png…]()

[2020-09-23 09:00] lakshmiathreya commented on #4102
'Connect Project Link' field length needs to be fixed :-
<img width="957" alt="Screenshot 2020-09-23 at 2 24 57 PM" src="https://user-images.githubusercontent.com/51733042/93990640-fed61f00-fda8-11ea-8f44-d31c735febcd.png">

[2020-09-23 10:14] lakshmiathreya commented on #4102
1.Update 1 - not applicable.
2.Update 2 - Copilot section verified.
3.Update 3 - Copilot Request form verified - pls fix field length as noted above.
4. Update 4 - Copilot invitation verified. Copilot section visibility verified for Copilot, Customer and TC Roles.

[2020-09-23 11:32] RishiRajSahu commented on #4102
@lakshmiathreya this google form is created by tony/glen I guess and in used since long by them we have just provided the link of that on Connect. Please ignore the form features when QA-ing this git issue.
Also, you can convey about this length thing to Ariel/Tony.

[2020-09-23 12:14] lakshmiathreya commented on #4101
Observations - pls clarify:
1. All roles except 'Manager' are now functionally redundant.
2. Existing Manager team members are being shown without role label.
3. Join Project dropdown shows all Previous roles - this seems redundant:
<img width="1338" alt="Screenshot 2020-09-23 at 5 41 55 PM" src="https://user-images.githubusercontent.com/51733042/94010874-2686b080-fdc4-11ea-9fc7-760d1ec21d4b.png">

[2020-09-23 12:18] lakshmiathreya commented on #4101
<img width="1635" alt="Screenshot 2020-09-23 at 5 48 05 PM" src="https://user-images.githubusercontent.com/51733042/94011434-f855a080-fdc4-11ea-866c-a4d1046a68c2.png">

[2020-09-23 13:13] lakshmiathreya commented on #4101
5. After Project Roles removal - Only Admin, Connect Admin and Connect Mgr have higher privileges such as Project edit privileges which is the same as current Prod.

[2020-09-23 14:36] lakshmiathreya commented on #4109
Timezone is not being picked automatically:
<img width="1667" alt="Screenshot 2020-09-23 at 8 05 30 PM" src="https://user-images.githubusercontent.com/51733042/94027202-37d9b800-fdd8-11ea-97b7-77fcfa9ea953.png">

[2020-09-24 01:02] lakshmiathreya commented on #4096
Unable to verify this since Message notifications are failing:
<img width="1680" alt="Screenshot 2020-09-24 at 6 30 59 AM" src="https://user-images.githubusercontent.com/51733042/94089069-bf064a80-fe2f-11ea-9ae4-3ada5c92f42f.png">

[2020-09-24 01:19] lakshmiathreya commented on #4105
Verified that:
-- Everytime the User attempts to open a Project - they are prompted to complete their profile.
-- They are given an option to opt out.
-- However, when they open it next, they are prompted to complete profile again.
-- Once the profile is complete, they are not prompted when they open the project next.

[2020-09-24 01:22] lakshmiathreya commented on #4104
-- Verified that only the incomplete required fields are shown when the user is prompted to complete profile.

[2020-09-24 01:58] lakshmiathreya commented on #4115
- Verified that tags other than the list above are rendered as plain text.
- Verifying the entire sanitizing is beyond the scope of this Issue testing.
- Verified that old messages are rendered correctly in Prod.

[2020-09-24 05:03] sandhiyakavi commented on #4087
Verified in Dev Env. Issue still exists.

![image](https://user-images.githubusercontent.com/55895538/94102949-42df2780-fe6e-11ea-881f-d908804108db.png)

OS: Windows 10
Chrome version: Version 85.0.4183.121

cc: @lakshmiathreya

[2020-09-24 05:07] RishiRajSahu commented on #4118
@vikasrohit @acshields should be simply hide the reports tab if the above conditions were met ?

[2020-09-24 07:31] RishiRajSahu commented on #4113
@lakshmiathreya with new single manager role these links should be visible to all managers.

[2020-09-24 07:34] maxceem commented on #4109
@lakshmiathreya as per the discussion above timezone has to be only autodetected during **progressive profile** which is shown if profile is incomplete:
- when a user tries to open any project
- when a user tries to create a new project

On the user profile page, we don't use autodetection for timezone even if it's empty.

[2020-09-24 07:38] maxceem commented on #4087
@sandhiyakavi please use `TEST01` environment https://connect-test01.topcoder-dev.com/ to test the current `Ready for QA` issues not `DEV` environment https://connect.topcoder-dev.com/.

[2020-09-24 07:48] sandhiyakavi commented on #4087
Verified.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/94116186-ab85ce80-fe85-11ea-9025-5e34a2645fa8.png)

cc: @lakshmiathreya

[2020-09-24 08:55] lakshmiathreya commented on #4109
These are the forms that are presented for Progressive profile completion:
<img width="1220" alt="Screenshot 2020-09-24 at 2 20 25 PM" src="https://user-images.githubusercontent.com/51733042/94123654-b33b7800-fe71-11ea-9f55-f12d367f1177.png">
<img width="1034" alt="Screenshot 2020-09-24 at 2 23 42 PM" src="https://user-images.githubusercontent.com/51733042/94123676-b8002c00-fe71-11ea-9298-c3555667

[2020-09-24 08:56] lakshmiathreya commented on #4109
- Timezone is not captured
- I included the screenshot of the Profile earlier to indicate that after Profile completion - Timezone is still not filled in.

[2020-09-24 08:57] lakshmiathreya commented on #4109
The above scenario is for user opening a project.

[2020-09-24 09:52] maxceem commented on #4109
@lakshmiathreya as per https://github.com/appirio-tech/connect-app/issues/4104 we only show `required` and incomplete fields in this form now. For the customers users `Timezone` is not required.

Could you please, try this with some user who has special Topcoder roles, so the `Timezone` field would be required and shown.

[2020-09-24 10:04] maxceem commented on #4096
@lakshmiathreya could you please try one more time with another project, maybe there is some corrupted data in that project. The error you've got is not connected with the changes in this issue.

For example, it works well for me in this project connect-test01.topcoder-dev.com/projects/9093, see video https://monosnap.com/file/Wn8TmMsD1YfHIJlKBki4XXVOFiVksK

[2020-09-24 10:53] maxceem commented on #4109
@lakshmiathreya you may use this `Account Executive` user for testing: `pshahaccex` (with out standard password). For this user timezone is reuired so it is shown and prefilled:

![image](https://user-images.githubusercontent.com/146016/94136254-576ef000-fe6d-11ea-9e94-ec4841d13e4b.png)

[2020-09-24 11:11] maxceem commented on #4101
Good, catch! Role selection is removed now, please check.

Manager only has this button **after** joining the project. Only admins can manage users without joining a project.

Actually, currenlty, users might edit projects even without joining. So users with roles like `Account Executive` or `Business Development Representative` can editr projects without joining.

[2020-09-24 12:01] lakshmiathreya commented on #4109
@maxceem pls clarify - the #1 requirement above - adding Timezone during registration is no longer a requirement?

[2020-09-24 12:05] lakshmiathreya commented on #4101
@maxceem Since we no longer are able to add roles like Account Executive or Business Development Representative  - how can such Roles edit projects - with or without joining - regardless of that - these roles dont exist now right.

[2020-09-24 12:15] maxceem commented on #4109
@lakshmiathreya right, as was clarified by Ariel:

![image](https://user-images.githubusercontent.com/146016/94143395-6e670f80-fe78-11ea-897e-e537ea2b945b.png)

- So we only have to prefill timezone during progressive profile completion
- We should NOT prefill it on the User Profile Page https://connect-test01.topcoder-dev.com/settings/profile
- And during initial user registration we don't ask fo

[2020-09-24 12:21] maxceem commented on #4101
As per requirements for `Copilot` section https://github.com/appirio-tech/connect-app/issues/4102 `Only TC Copilot Assignment Managers and Admins should see this "Manage" button`. So regural managers shouldn't see `Manager` button for copilots.

These roles still exist. We don't remove them, but so far we just don't let them join the projects. Regarding the fact that they still can edit projects,

[2020-09-24 13:15] maxceem commented on #4103
@RishiRajSahu this is done via https://github.com/appirio-tech/connect-app/pull/4131

Now User Profile has different set of fields depend on user roles.

**NOTE** As **Country** is required by the Member Service so it's added to all user profiles as required field.

#### Client Total Profile

![image](https://user-images.githubusercontent.com/146016/94147375-e08e2300-fe7d-11ea-833b-ea3086926914.pn

[2020-09-24 13:16] maxceem commented on #4103
@lakshmiathreya this is ready for QA now.

[2020-09-24 13:20] lakshmiathreya commented on #4096
Verified with another project - Messages are retained when another User posts in parallel ...
<img width="1453" alt="Screenshot 2020-09-24 at 6 49 52 PM" src="https://user-images.githubusercontent.com/51733042/94150503-d88ead00-fe96-11ea-8963-f9535ebc9281.png">

[2020-09-24 13:27] lakshmiathreya commented on #4101
4. Who is a "TC Copilot Assignment Manager"? I assumed this would be Connect Manager since we dont have any other Manager role now.

5. So Account Executive and BDR can edit all Projects in Connect now?

[2020-09-24 13:32] lakshmiathreya commented on #4101
--- Verified this.

[2020-09-24 13:43] lakshmiathreya commented on #4109
Verified with Roles where Timezone is mandatory.
<img width="1658" alt="Screenshot 2020-09-24 at 7 12 22 PM" src="https://user-images.githubusercontent.com/51733042/94153148-0c1f0680-fe9a-11ea-9895-f429020b9b16.png">

[2020-09-24 14:41] maxceem commented on #4101
@lakshmiathreya

We have a special Topcoder Role **Connect Copilot Manager** who has the ability to manage copilots. Such users should see `Manage` button to manage copilots without joining the project.

Right. It was like this before, we didn't change anything here.

[2020-09-24 16:49] lakshmiathreya commented on #4101
Verified - Connect Copilot Manager is able to see the Manage button - without having to join the Project. Connect Manager does not see the Manage button. Clarified this is as expected by @acshields
<img width="1631" alt="Screenshot 2020-09-24 at 10 16 53 PM" src="https://user-images.githubusercontent.com/51733042/94175185-f28ab880-feb3-11ea-9b98-def49b345d9d.png">

[2020-09-25 07:14] RishiRajSahu commented on #4095
@acshields Pushed to prod.

[2020-09-25 07:14] #4095 closed

[2020-09-25 07:15] #4115 closed

[2020-09-25 07:50] RishiRajSahu commented on #4107
@acshields @mtwomey @vikasrohit
Meeting Notes -
- We discussed that having another email for a user is beyond the scope of requirement, as it will unnecessarily create confusions for user to treat which email is primary source of login/email-notifications.
- We discussed on exploiting the event we send to salesforce during registration, and based on the payload data's email field maybe we can put

[2020-09-25 09:00] sandhiyakavi opened #4133 "Console error on all pages of Connect app [Auth0]"
Description:
Getting fav icon console error on all page of the Connect app https://connect-auth0.topcoder-dev.com/

Screenshot:

![image (4)](https://user-images.githubusercontent.com/55895538/94247852-ab0a3800-ff58-11ea-841c-61993215cdf1.png)

It doesn't happen in dev Env https://connect.topcoder-dev.com/

![image (5)](https://user-images.githubusercontent.com/55895538/94247981-d2f99b80-ff58-11ea

[2020-09-25 09:35] lakshmiathreya commented on #4133
cc @RishiRajSahu

[2020-09-25 09:55] lakshmiathreya commented on #3959
This is fixed due to the Project Role change. All managers joining the Project are required to have an additional Connect Manager Role.
<img width="1647" alt="Screenshot 2020-09-25 at 3 17 43 PM" src="https://user-images.githubusercontent.com/51733042/94253062-62e01b00-ff42-11ea-949f-1eb2cffeae75.png">

[2020-09-25 09:55] lakshmiathreya commented on #3959
The above screenshot shows Direct and Salesforce links for Account manager - handle - lakshmiaconacmg.

[2020-09-25 10:04] lakshmiathreya commented on #4109
@maxceem timezone is mandatory for Account Manager - however, it did not get pre populated when the user Opened a Project.
<img width="1452" alt="Screenshot 2020-09-25 at 2 21 20 PM" src="https://user-images.githubusercontent.com/51733042/94254526-87d58d80-ff44-11ea-9eac-08491e29f321.png">

[2020-09-25 10:46] lakshmiathreya commented on #4113
yes @RishiRajSahu since all members of Manager team have to be assigned an additional Connect Manager role - visibility of navigation links is available for all members.

[2020-09-25 10:51] lakshmiathreya commented on #4113
https://github.com/appirio-tech/connect-app/issues/4101

[2020-09-25 11:35] RishiRajSahu commented on #4109
@lakshmiathreya timezone is mandatory for all Topcoder roles , ref https://github.com/appirio-tech/connect-app/issues/4103 . It must be empty because user hasn't filled it during progressive trigger

[2020-09-25 12:48] lakshmiathreya commented on #4109
yes @RishiRajSahu - I intentionally didnt fill it in order to test automation timezone filling which didnt happen during progressive registration. Hence I got a doubt reg this field being mandatory. Will use #4103 as reference and verify both these Issues.

[2020-09-28 04:25] lakshmiathreya commented on #4103
Segmented Profile Information shows correct fields for each User role type:
<img width="1433" alt="Screenshot Progressive profile Ac mgr + Con mgr create Project" src="https://user-images.githubusercontent.com/51733042/94390517-88eb0280-0170-11eb-9916-c3cae7e6bdec.png">
<img width="1429" alt="Screenshot Progressive profile Ac mgr + Con mgr open Project" src="https://user-images.githubusercontent.c

[2020-09-28 08:25] RishiRajSahu opened #4135 "Remove need of user being required to be Connect Manager"
- As Connect Manager user role has higher privileges we would need to remove the requirement of this role, and user with any valid Topcoder user role could be invited to project as manager with project level manager role.

- We would need to filter permissions also on backend, i.e. allow only Connect Manager user role to have `read:all_projects` permissions.

FYI - @acshields @vikasrohit

[2020-09-29 07:03] maxceem commented on #4109
@RishiRajSahu
This issue is a very particular. This happens because `Calcutta` was renamed to `Kolkata` in 2001. Browsers still detect this timezone as `Asia/Calcutta` while in our timezone list we only allow `Asia/Kolkata`.
As a result during progressive registration value `Asia/Calcutta` saved to the server, but as we don't allow this value to be shown in frontend, it is shown as unselected:

![

[2020-09-29 07:14] RishiRajSahu commented on #4109
@maxceem
yes, leave the ignore the autodetected timezone if its not in the list.

[2020-09-29 07:20] maxceem commented on #4103
@lakshmiathreya

- `Timezone` is not populated due to the specific issue with `Asia/Kalkata` timezone, see comment https://github.com/appirio-tech/connect-app/issues/4109#issuecomment-700494557 for details.
- `Country` is not populated due to the issue in Member Service which asks country during registration but doesn't populate `basic_info` trait.

[2020-09-29 07:33] maxceem commented on #4109
@RishiRajSahu fixed via 496e69189c9d70d6bd13449495c08c8aa95518cf

Now for `Kolkata` timezone it not prefilled at all as browser cannot detect it properly, so user would be required to enter it:

![image](https://user-images.githubusercontent.com/146016/94526746-a9818e00-023e-11eb-8e50-dda0f324a337.png)

If the timezone is on the list, then it's autodetected and prefilled:

![image](https://user-im

[2020-09-29 07:46] lakshmiathreya commented on #4109
yes @maxceem - as suggested by Rishi I changed to New York and it is auto detecting correctly now.
<img width="1623" alt="Screenshot 2020-09-29 at 3 43 45 AM" src="https://user-images.githubusercontent.com/51733042/94528355-42e07e00-0206-11eb-9a0c-166b4c523397.png">

[2020-09-29 07:49] lakshmiathreya commented on #4103
@maxceem - Country missing - could you log an in Issue with Member Service and update it here?

[2020-09-29 08:38] maxceem commented on #4103
@lakshmiathreya @RishiRajSahu logged-in an issue for the **Member Service** https://github.com/appirio-tech/ap-member-microservice/issues/302.
Also, a possibly related issue at the Community App: https://github.com/topcoder-platform/community-app/issues/4707

[2020-09-29 10:26] RishiRajSahu opened #4137 "Connect home page not opening on mobile browser"
Below are the details for Safari browser
![Screenshot 2020-09-29 at 3 53 11 PM](https://user-images.githubusercontent.com/11248478/94546991-46a6eb80-026c-11eb-84b7-cb9148c2267f.png)
![Screenshot 2020-09-29 at 3 52 53 PM](https://user-images.githubusercontent.com/11248478/94547005-4b6b9f80-026c-11eb-818e-5fe9b47473cc.png)

[2020-09-29 10:44] RishiRajSahu commented on #4137
fyi @maxceem

[2020-09-29 11:05] maxceem commented on #4137
@RishiRajSahu fixed as a hotfix:
- DEV https://github.com/appirio-tech/connect-app/pull/4138
- PROD https://github.com/appirio-tech/connect-app/pull/4139

[2020-09-29 12:04] sandhiyakavi commented on #4087
Verified on Prod Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/94555931-41ab6180-0297-11eb-9df9-6a4f4e923e8a.png)

cc: @lakshmiathreya

[2020-09-29 12:05] lakshmiathreya commented on #4113
Verified on Prod: Manager Roles have visibility once they are additionally set with Connect manager role.
<img width="1639" alt="Screenshot 2020-09-29 at 5 34 45 PM" src="https://user-images.githubusercontent.com/51733042/94556032-1cf4c100-027a-11eb-9afd-18263b2edbdd.png">

[2020-09-29 12:37] lakshmiathreya commented on #4102
Verified in Prod: Copilot Section, Copilot Request form, Copilot invitation, Copilot Manage button visibility only for Copilot manager and Admin roles.

[2020-09-29 12:38] #4102 closed

[2020-09-29 12:38] #4113 closed

[2020-09-29 12:39] #4087 closed

[2020-09-29 12:39] lakshmiathreya commented on #3959
Fixed as part of #4101

[2020-09-29 12:39] #3959 closed

[2020-09-29 12:43] lakshmiathreya commented on #4085
Verified all 4 updates in Prod.

[2020-09-29 12:48] lakshmiathreya commented on #4069
Verified Reports tab with search term present in Prod.

[2020-09-29 12:48] #4069 closed

[2020-09-29 13:28] lakshmiathreya commented on #4096
Messages interleaved between users in parallel verified in Prod.
<img width="1294" alt="Screenshot 2020-09-29 at 6 55 38 PM" src="https://user-images.githubusercontent.com/51733042/94564478-a52c9380-0285-11eb-965a-bf849de04991.png">

[2020-09-29 13:28] #4096 closed

[2020-09-29 14:03] lakshmiathreya commented on #4101
Verified in Prod:
-- All manager Roles can be added only with the addition of Connect manager role.
-- Copilot Manager and Admin can see Copilot team manage button without joining the Project.
-- All Role labels are removed from Manager team display
-- Manager team members now have Project Edit privileges due to the addition of Connect manager role.

[2020-09-29 14:03] #4101 closed

[2020-09-29 14:45] lakshmiathreya commented on #4109
Timezone being auto detected and set correctly during progressive profile completion - verified on Prod.

[2020-09-29 14:45] #4109 closed

[2020-09-29 14:47] lakshmiathreya commented on #4105
Verified the above on Prod.

[2020-09-29 14:47] #4105 closed

[2020-09-29 14:49] lakshmiathreya commented on #4104
-- Verified on Prod - only incomplete required fields are shown to the user during progressive profile completion.

[2020-09-29 14:49] #4104 closed

[2020-09-29 15:48] lakshmiathreya commented on #4103
Verified Segmentation of Profiles based on Roles on Prod:
<img width="1307" alt="Screenshot 2020-09-29 at 11 41 33 AM" src="https://user-images.githubusercontent.com/51733042/94581922-a8a22980-0249-11eb-9fec-78c5ab3f8515.png">
<img width="1263" alt="Screenshot 2020-09-29 at 11 43 52 AM" src="https://user-images.githubusercontent.com/51733042/94581947-afc93780-0249-11eb-9869-b0aecc8cc35b.png">
<img

[2020-09-29 15:50] #4103 closed

[2020-09-29 17:56] acshields opened #4140 "Hide Work Manager Hyperlink in Prod for All Users"
@RishiRajSahu - please hide the "Work Manager" (hyperlink in project left sidebar) for all users in Production for now, until we are able to release Work Manager.

[2020-09-29 17:59] acshields commented on #4085
@RishiRajSahu - Per my Slack message, I just discovered that Chameleon is not going to be able to support the required survey experience.

In order to support the goal of collecting App Feedback from users, I have now created a Google Form (https://forms.gle/zL2GsdLACB5KyTT18) that I would like hyperlinked to this "App Feedback" button. Please update this button functionality so that once clicked,

[2020-09-29 19:20] gondzo opened #4141 "Can't update profile"
### Expected behavior
Should be able to update the profile

### Actual behavior
Can't update the profile - 'Invalid country' error message appears

### Steps to reproduce the problem
Open any project - update profile popup appears. Enter all the data and click save. Problematic field is the country name `Bosnia and Hercegovina` - some tc services use the name `Bosnia and Hercegowina` (with w inste

[2020-09-30 05:49] #4137 closed

[2020-09-30 11:16] lakshmiathreya commented on #4140
Verified in Prod:
<img width="1666" alt="Screenshot 2020-09-30 at 4 42 17 PM" src="https://user-images.githubusercontent.com/51733042/94678655-758c9280-033c-11eb-8ccc-f784cbdf4bc8.png">
<img width="1679" alt="Screenshot 2020-09-30 at 4 43 48 PM" src="https://user-images.githubusercontent.com/51733042/94678670-7ae9dd00-033c-11eb-87bf-9f0780db42d6.png">
<img width="1663" alt="Screenshot 2020-09-30 a

[2020-09-30 11:24] lakshmiathreya commented on #4085
Verified on Prod the Google For for App Feedback:

<img width="1680" alt="Screenshot 2020-09-30 at 4 51 55 PM" src="https://user-images.githubusercontent.com/51733042/94679379-9dc8c100-033d-11eb-832d-3f227f6b4fee.png">
<img width="1680" alt="Screenshot 2020-09-30 at 4 52 30 PM" src="https://user-images.githubusercontent.com/51733042/94679396-a3bea200-033d-11eb-86fe-253fba60232e.png">

[2020-09-30 11:30] sandhiyakavi opened #4144 "auth0: Not able to open the Project detail page directly through url"
Description:
 1. Without logging in ,Go to the project detail page.(https://connect-auth0.topcoder-dev.com/projects/8655)
2. Enter credentials in the Login pop up and click login button.
3. The main Dashboard page is displayed instead of the particular project detail page.
4. Again try to access the project detail page.

Expected result:
1. If the user entered the project detail url (https://conne

[2020-09-30 11:30] sandhiyakavi commented on #4144
cc: @sachin-maheshwari @lakshmiathreya

[2020-10-02 17:28] ajefts opened #4145 "BDR role should always see Salesforce Lead link"
### Expected behavior
If a user is viewing a project in connect and they have the "Business Develop Representative" role, they should always see the "Salesforce Lead" link in the sidebar without needing to join the project.

![image](https://user-images.githubusercontent.com/3812270/94951993-37fe4580-04b3-11eb-9776-3cb3bec09b4e.png)

[2020-10-02 17:29] ajefts commented on #4145
fyi @acshields

[2020-10-05 10:17] maxceem commented on #4145
@RishiRajSahu according to this task https://github.com/appirio-tech/connect-app/issues/4135 only `Connect Manager` users could see projects without joining.

Does it mean that in order for `Business Develop Representative` to see the project with "Salesforce Lead" such a user should have both roles `Connect Manager` and `Business Develop Representative`?

[2020-10-05 10:46] maxceem commented on #4135
@RishiRajSahu got some questions during code reviewing:

1. Currently, all the users with **Topcoder Roles** `Connect Account Manager` and `Business Development Representative` would get notifications about new projects created and projects move to `reviewed` status even if such users are NOT members of the project.

   After this task is done, such users would lose permission to view the projects

[2020-10-05 12:36] gondzo commented on #4141
aparently the country name in member service is `Bosnia & Herzegowina` - I changed it manually and don't get this popup anymore - hope it doesn't cause any further issues with connect

[2020-10-05 16:28] jswheeler commented on #4051
@RishiRajSahu yes, this is being configure per app. It's not a requirement to have all the implementation be in sync. If this is completed, please close this issue. cc: @acshields

[2020-10-06 10:24] #4085 closed

[2020-10-06 10:29] RishiRajSahu commented on #4135
@maxceem yep they should have `Connect Manager` roles to see the project/all-projects.

[2020-10-06 21:09] acshields opened #4146 "Project Status Automation: Moving to 'Active'"
If a project is not in "Active" status and a challenge/task is activated for that project, the project's status should automatically be moved to "Active" status.

Implementing this feature will require the use of the scheduling service.

[2020-10-06 21:23] acshields opened #4147 "Project Status: Active to Complete Inquiry Notification"
### Schedule 1

If a project is in "Active" status and the conditions below are met, then send a notification to the Topcoder Employee(s) and Copilot(s) on the project asking if the project should be moved to "Complete"

**_Conditions_**
1. There has been no "Active" challenges or tasks for the project for 14 days
2. There are no challenges or tasks scheduled to start

**_Email Notification_**
**E

[2020-10-07 10:45] vikasrohit commented on #4146
@acshields I am not sure if we really want this feature as it might end up in circular dependency. I mean, we should make it strict to make the project active first to activate the challenge rather than automating project status based on certain events. I am not big fan of such automations because they create confusions who/when project status changed and second, we would want some kind of check b

[2020-10-08 17:01] wdprice commented on #4130
The APIs are still in development, but I can at least outline the top level items.

- Skills selection list must populate with values pulled from api.topcoder.com/v5/skills. A skill provider id will need to specified - we will provide this at the time of implementation

- Create project as you do today on v5/projects, with a Type= TaaS. (I'm sure the actual field is different, we can hammer that o

[2020-10-08 20:07] acshields opened #4149 "Zurich User: +New Project Redirect"
Topcoder "Manager" is unable to remove a user from the "Client" section of a project.

Recreating the Scenario Details:
The project: https://connect.topcoder.com/projects/25430
The user being removed from the client section: rupalikalate (has a Project Manager role)
The user trying to do the removal: TheFirstMo (has a Manager role)

Note: I (Ariel Shields - acshields) was able to remove rupalikala

[2020-10-08 23:09] acshields opened #4150 "New Intake: Predictive Analytics & Forecasting"
Google Doc: https://docs.google.com/document/d/1kHjHdfdq4dszllR7XEoq5UZMMAmOUnY5jWK_MQrOVy8/edit#

[2020-10-09 15:16] acshields opened #4151 "New Intake: Algorithms & Optimization"
Google Doc: https://docs.google.com/document/d/1c97qPV8jLYXcH7EDYekce9brf6Z3kiZ2gzyeO7T7tzA/edit#

[2020-10-12 10:30] vikasrohit commented on #4149
To me it seems you are trying to remove an invite which was sent to the target user. There is possibility of getting such error when the user has accepted/denied the invite, and you are still on the same page and try to remove the invite now, it would fail because now invite does not exists. Other than that, I don't see any issue that should be preventing `TheFirstMo` from removing the target user

[2020-10-12 10:38] RishiRajSahu commented on #4149
@acshields unable to reproduce, also https://htmlpreview.github.io/?https://github.com/topcoder-platform/tc-project-service/blob/develop/docs/permissions.html#DELETE_PROJECT_INVITE_NOT_OWN_NON_CUSTOMER

- I invited a new test user which project manager role to test project
- With another test manager user I joined that test project
- Tried removing the invite and was able to do so successfully

ot

[2020-10-12 19:16] acshields opened #4153 "Intake Update: Design/Dev Form"
### Update 1
Update the sequence of questions so that they are asked in this order:
1.  What do you need? [Answers: Design/Dev/Deploy]
_If any combination is chosen that includes Design or Development, then ask:_
2.  What outcome do you expect? [Answers: Proof of Concept, Minimum Viable Product, Production-Ready]
3.  Describe this application's ideal workflow. [Answer: Free Text Field]
_*Note, aft

[2020-10-13 08:02] #4140 closed

[2020-10-13 19:01] acshields opened #4154 "Client Profile: New Required Field - "Acknowledge Topcoder Terms""
### Update 1
Add a new required field to the client user profile, which requires them to accept or decline Topcoder's client terms. When the client's response to this required field is captured, the data should also be date-stamped.

### Update 2
This new required field should be presented as follows to the client user:
**Field Label:** Topcoder Terms
_Note: "Topcoder Terms" should be displayed as

[2020-10-13 19:14] acshields commented on #4149
@RishiRajSahu - Yes, I can confirm that Will was the first person to try removing Rupali. I also tried and received an error message as well.

I can try again with a dummy project to see if I can recreate the issue and will share a screen recording/etc.

[2020-10-19 10:04] sachin-maheshwari commented on #4133
@sandhiyakavi as discussed, this is due to new side-testing env. Please verify on https://connect.topcoder-dev.com and close this issue.

[2020-10-19 10:08] sachin-maheshwari commented on #4144
@sandhiyakavi this is also side-testing env specific issue. Please verify on our regular env i.e https://connect.topcoder-dev.com and close this.

[2020-10-19 10:10] sandhiyakavi commented on #4133
Verified. Error is not displayed.

![image](https://user-images.githubusercontent.com/55895538/96431607-b8a49c00-123e-11eb-90aa-b7c7e0b8e069.png)

[2020-10-19 10:10] #4133 closed

[2020-10-19 10:17] sandhiyakavi commented on #4144
Verified. Working as expected.

[Connect_projectdetails.zip](https://github.com/appirio-tech/connect-app/files/5401054/Connect_projectdetails.zip)

[2020-10-19 10:17] #4144 closed

[2020-10-19 10:22] RishiRajSahu commented on #4149
@lakshmiathreya this is the issue I was not able to reproduce.

[2020-10-20 12:44] maxceem commented on #4135
Done via https://github.com/topcoder-platform/tc-project-service/pull/586.

This can be deployed without any changes in the client-side and should work well.

[2020-10-20 14:40] acshields opened #4156 "All Intake Form Update: Update Topcoder Employee Objective Flag [Submitting Client Request] Behavior"
### Update 1
Projects App should consume "client account name" (i.e. company name) data from SFDC.

### Update 2
Update the Topcoder Employee objective flag response for [Submitting Client Request] on all intake forms to follow this workflow:

1. Topcoder Employee sees "Why are you submitting this request?" question
2. Topcoder Employee selects "Submitting Client Request"
3. Topcoder Employee is a

[2020-10-21 07:36] codejamtc opened #4157 "Title is displayed as 'Welcome to undefined'"
![image](https://user-images.githubusercontent.com/42398485/96687898-24514b00-139e-11eb-95b2-af0c8a484f16.png)

### Steps to reproduce the problem

- Login as Normal Account
- Go to a Project - https://connect.topcoder-dev.com/projects/16653
- Click 'Manage Invitations' from the Customer team
- Add `codejamdev1` > Send Invitations
- Click `Decline` from the email
- Click `Join Project` from the em

[2020-10-21 09:49] codejamtc opened #4158 "Error when user access the 'Profile Information'"
![image](https://user-images.githubusercontent.com/42398485/96703699-caa64c00-13b0-11eb-9840-dd10409c6c9a.png)

### Steps to reproduce the problem

- Login as Manager
- Go to a Project listing
- Click 'My Profile' > Profile Information

### Actual behavior
- Error when user access the 'Profile Information'

### Expected behavior
- Should not display an error; user should be able to edit or view pr

[2020-10-21 10:07] #4158 closed

[2020-10-21 10:14] codejamtc opened #4159 "'ANALYTICS & DATA SCIENCE' button is partially hidden"
![image](https://user-images.githubusercontent.com/42398485/96706490-4786f500-13b4-11eb-852c-d983e06ce2f9.png)

### Steps to reproduce the problem

- Login as Manager
- Go to a Project listing and Click +
- Check 'ANALYTICS & DATA SCIENCE'

### Actual behavior
- 'ANALYTICS & DATA SCIENCE' button is partially hidden

### Expected behavior
- Should display properly

#### Environment
**- OS:** HP 15-

[2020-10-21 10:19] codejamtc opened #4160 "Error while creating an 'ANALYTICS & DATA SCIENCE' project"
![image](https://user-images.githubusercontent.com/42398485/96706785-a8aec880-13b4-11eb-952b-1bf4176f6b1e.png)

### Steps to reproduce the problem

- Login as Manager
- Go to a Project listing and Click +
- Select 'ANALYTICS & DATA SCIENCE'
- Enter the name as 'ANALYTICS & DATA SCIENCE' and then fill all the mandatory data
- Click create

[code]

### Actual behavior
- Error while creating an 'ANAL

[2020-10-21 19:56] acshields opened #4161 "Milestone: User Roles Interacting with Reporting Milestone"
### Topcoder Employees & Copilots: During Initial Reporting Milestone Set-up
**During milestone set-up, the Topcoder Employee or Copilot can provide this information:**
- [Optional]: Create a new title for the milestone, which will display on the phase timeline in place of the "Reporting Milestone" text.
- [Required]: Enter a due date for the milestone.
_Note: The "Reporting Milestone" will not ha

[2020-10-22 09:14] lakshmiathreya opened #4162 "Member v5 upgrade: Accounts & Security Errors"
-- Login to https://connect-test01.topcoder-dev.com/
-- Click on Accounts & Security Tab:

<img width="1153" alt="Screenshot 2020-10-22 at 1 45 21 PM" src="https://user-images.githubusercontent.com/51733042/96850823-e83ce980-1474-11eb-8f53-265bfceb1d45.png">

[2020-10-22 09:17] lakshmiathreya opened #4163 "Member V5 Upgrade: Unable to save Profile picture"
-- Login to https://connect-test01.topcoder-dev.com/
-- Upload new Profile Picture and click Save
<img width="1139" alt="Screenshot 2020-10-22 at 2 46 24 PM" src="https://user-images.githubusercontent.com/51733042/96851195-639e9b00-1475-11eb-85ab-ce6b893b3547.png">

-- Load Profile again - the picture is missing:
<img width="1648" alt="Screenshot 2020-10-22 at 1 48 17 PM" src="https://user-images.

[2020-10-22 10:27] lakshmiathreya commented on #4162
cc @gondzo @urwithat

[2020-10-22 10:27] lakshmiathreya commented on #4163
cc @gondzo @urwithat

[2020-10-22 10:44] lakshmiathreya commented on #4163
cc @RishiRajSahu

[2020-10-22 10:45] lakshmiathreya commented on #4162
cc @RishiRajSahu

[2020-10-22 14:43] acshields opened #4164 "Project Plan: Image Display Prior to Plan Set-Up"
### Design:

### Client Display
Prior to any phases being set-up, these users should see the following on the project's dashboard tab:
Screen X: Icon Image
- The header text on the icon should read: "Your Project Plan Is Being Built"
- The sub-header text on the icon should read: "Here you will see your delivery timeline and milestones"

_Note: The client does not see the [Build Project Plan] or [

[2020-10-22 15:19] acshields opened #4165 "Project Plan: List-View Screen Layout"
### Summary Notes
This screen is only visible to Topcoder Employees and Copilots.
This screen will be used by Topcoder Employees and Copilots for the set-up and editing of phases.

### Screen Display
**Design:**
When a Topcoder Employee or Copilot accesses a project, on the dashboard tab they should see the page arranged as follows:

**Project Plan Header (Top of Screen)**
In the project plan head

[2020-10-22 16:07] RishiRajSahu commented on #4154
The change would require new attribute being added to connect_traits in member-service.

[2020-10-22 20:29] acshields opened #4166 "Project Plan: Calendar-View Presentation & Interactions"
### Summary
- The calendar view will be visible to all Projects App users (Topcoder Employees, Copilots, Clients), but there will be differences in views.
- The calendar view is how Clients will see the project plan.
- The calendar view is how all users will interact with milestones during delivery.

### Design

### Topcoder & Copilot Calendar View Screen Layout
**Calendar View Screen Header (Top

[2020-10-22 20:39] acshields opened #4167 "Project Plan: Calendar View Active Phase Upcoming Milestone Highlight"
In the calendar-view of project plan, all users should see the following information on all active phases while they are "closed":
- The name of the next upcoming milestone, which would be clickable to open the interaction view for that milestone.
- The date of the next upcoming milestone
- The countdown of days to the next upcoming milestone, which should update automatically daily.

_Note: A "Cl

[2020-10-22 20:48] acshields opened #4168 "Project Plan: Download Plan Capability"
When a user clicks the [Download Plan] button at the top of the calendar-view in project plan, the data should download as a PDF.

The downloaded data should include this phase data for all planned, active, and completed phases (draft phases are excluded):
- Phase Name
- Phase Type
- Phase Milestones
-Milestone Title
-Milestone Date(s)

[2020-10-23 09:28] maxceem commented on #2841
@RishiRajSahu This is done via PR https://github.com/appirio-tech/connect-app/pull/4169

## QA Guidelines

1. As many small changes are made across the whole app, it would be good to perform a smoke test of the whole app.
2. Some major test cases I've listed in this document https://docs.google.com/document/d/1ptXsnSLYJIdzVy7Z8TGirTyq3c5U6TFRcK3SVYtyT_0/edit?usp=sharing.
3. Additionally it would b

[2020-10-23 10:18] RishiRajSahu commented on #4160
@codejamtc this was intake form under development and this must be happening on dev env.
I don't know how it fall as part of testing for you ?

[2020-10-23 10:18] #4160 closed

[2020-10-23 11:53] RiteshTC commented on #4129
@acshields
This form has been created and is available in dev for review.
<img width="1198" alt="Beacon" src="https://user-images.githubusercontent.com/5771673/97000538-7936c200-1554-11eb-8de2-129dde3c21a9.png">

[2020-10-23 15:42] acshields opened #4170 "Project Status: Automatically Cancel Demo/Test/Other Projects After 1 Week"
Use the scheduler service to automatically cancel demo/test/other projects after 1 week.

Condition rules:
Any project created with the objective flag response of [demo/test/other] should be automatically canceled after 1 week.
When canceled, these projects should be given the cancellation code of [Test].

[2020-10-26 04:56] codejamtc opened #4171 "Login page is not loading"
![image](https://user-images.githubusercontent.com/42398485/97135214-b4640b80-1775-11eb-806a-7bb6f873ac69.png)

### Steps to reproduce the problem

- Open the URL https://accounts-auth0.topcoder.com/?retUrl=https://connect.topcoder.com
- Observe

### Actual behavior
- Login page is not loading

### Expected behavior
- Should display an error

#### Environment
**- OS:** HP 15-dw1xxx 15.6 inch; Wind

[2020-10-26 05:20] sachin-maheshwari commented on #4171
@codejamtc can you please check if connect-app is working on IE (with current flow) ?

[2020-10-26 06:09] sachin-maheshwari commented on #4171
@codejamtc please move it tc-auth-lib, not related to connect-app.

[2020-10-26 08:28] codejamtc commented on #4171
@sachin-maheshwari Sure

[2020-10-26 08:29] #4171 closed

[2020-10-26 11:36] vikasrohit opened #4172 "QA for RabbitMQ removal from projects api"
We recently removed the RabbitMQ as event bus from projects api which was using it for some use cases and we haven't touched it at the time of v5 migration to prevent too much changes and regressions. We have now implemented the same under the issue https://github.com/topcoder-platform/tc-project-service/issues/584. Purpose of this issue is to do some regression testing around the potential applic

[2020-10-26 11:36] vikasrohit commented on #4172
@maxceem can you please add some guideline for QA?

[2020-10-26 12:02] vikasrohit commented on #4170
I would suggest Salesforce to do this. I mean leads are being tracked in Salesforce and whenever project is cancelled in Salesforce, we can delete the project in Connect as well.

[2020-10-26 12:02] maxceem commented on #4172
### QA Guidelines

- In general, everything should work as before in the Connect App, as we did internal refactoring which should not change any functionality. Below I would describe tests cases in the areas where we did the most changes in the code.
- The **Last Updated Date** ([screenshot](https://monosnap.com/file/T5rJwV2GsqH2hkeM4RBQ3PTEVhY3P3)) should get updated when we:
   - update project

[2020-10-28 04:19] lakshmiathreya opened #4173 "Reload of certain pages results in error"
Reload of the same page works in Prod but is broken in Staging:
<img width="1163" alt="Screenshot 2020-10-28 at 9 34 38 AM" src="https://user-images.githubusercontent.com/51733042/97390384-b7d8cd80-1902-11eb-85b5-e18be4f3ce42.png">
<img width="1146" alt="Screenshot 2020-10-28 at 9 34 46 AM" src="https://user-images.githubusercontent.com/51733042/97390389-bdceae80-1902-11eb-943d-7835da08c14c.png">

[2020-10-28 04:20] lakshmiathreya commented on #4173
cc @drasticdpk @SathyaJayabal @RishiRajSahu @nkumar-topcoder

[2020-10-28 04:37] sachin-maheshwari commented on #4173
@lakshmiathreya That is not related to connect app, please try to understand. That is related to infra. I think you should close this issue. As this is temporary staging env, filing issue on that, doesn't make sense to me.

[2020-10-28 06:27] lakshmiathreya commented on #4173
@sachin-maheshwari we would like to make sure this wont happen on Prod - pls let us know who can fix this Infra issue.

[2020-10-29 10:33] codejamtc opened #4176 "After decline invitation via email, still the user is listed under the team member list"
![image](https://user-images.githubusercontent.com/42398485/97557056-47b07180-1a00-11eb-925d-424ff4e060d6.png)

### Steps to reproduce the problem

- Login as Manager
- Go inside a project and invite `TCConAccountMgr` as a team member
- Login as `TCConAccountMgr`
- Open the email and decline the invite
- After the process is done check the team member list (Still display on the list and invite tag

[2020-10-29 10:37] #4176 closed

[2020-10-29 14:24] RishiRajSahu commented on #4151
@acshields here is the link to review https://connect.topcoder-dev.com/new-project/algorithms_and_optimization

[2020-10-29 14:25] RishiRajSahu commented on #4150
https://connect.topcoder-dev.com/new-project/predictive_analytics_forecasting, @acshields this is ready for review

[2020-10-30 08:22] maxceem commented on #4154
Once the client selected "Accept" or "Decline" can he open profile settings and change his decision?

[2020-10-30 15:34] #4173 closed

[2020-10-30 15:49] lakshmiathreya opened #4177 "Password Change should not be allowed within the App for Social and SSO Users"
Password Change should not be allowed within the App for Social and SSO Users.
<img width="1324" alt="Screenshot 2020-10-30 at 9 00 45 PM" src="https://user-images.githubusercontent.com/51733042/97726533-5167d100-1af5-11eb-8e55-d012cd8e48c6.png">

[2020-10-30 15:59] lakshmiathreya commented on #4145
@RishiRajSahu @acshields - whats the resolution for this?

[2020-11-02 07:14] lakshmiathreya commented on #4163
@urwithat @gondzo @RishiRajSahu - pls note: <img width="1680" alt="Screenshot 2020-11-02 at 12 42 11 PM" src="https://user-images.githubusercontent.com/51733042/97839898-150cbe80-1d09-11eb-9dd6-b4ed155b785d.png">

[2020-11-02 11:28] RishiRajSahu commented on #4112
@lakshmiathreya with new auth0 changes, Let's verify this one also.

[2020-11-02 11:35] RishiRajSahu commented on #4177
@mtwomey do we store such info i.e. whether the signup path for user is SSO/Social ? does it comes as part of jwt or the response sent by auth0 when logging in ?

[2020-11-02 13:38] lakshmiathreya commented on #4135
@RishiRajSahu - is Connect Mgr role mandatory for Project Mgr role addition?
<img width="1153" alt="Screenshot 2020-11-02 at 7 03 26 PM" src="https://user-images.githubusercontent.com/51733042/97874223-b06c5680-1d3e-11eb-8012-398cc08b48fe.png">
<img width="1218" alt="Screenshot 2020-11-02 at 7 03 40 PM" src="https://user-images.githubusercontent.com/51733042/97874231-b5c9a100-1d3e-11eb-948f-c1de65

[2020-11-02 13:40] lakshmiathreya commented on #4177
@RishiRajSahu - this is how Comm app Account settings appear for an SSO user:
<img width="1180" alt="Screenshot 2020-11-02 at 5 10 09 PM" src="https://user-images.githubusercontent.com/51733042/97874397-f1fd0180-1d3e-11eb-8f2f-eb630123cd42.png">

[2020-11-02 13:53] lakshmiathreya commented on #4135
Addition worked after Connect Mgr role was added:
<img width="1680" alt="Screenshot 2020-11-02 at 7 22 12 PM" src="https://user-images.githubusercontent.com/51733042/97875712-d2ff6f00-1d40-11eb-9be8-2ebf54bcad47.png">
<img width="1680" alt="Screenshot 2020-11-02 at 7 22 19 PM" src="https://user-images.githubusercontent.com/51733042/97875767-e6123f00-1d40-11eb-8070-20197348c729.png">

[2020-11-02 14:11] maxceem commented on #4135
@lakshmiathreya we **should** be able to invite any kind of manager user without `Connect Manager` role to the Topcoder Team. It doesn't work yet, because the fix for this issue is not deployed yet.

@RishiRajSahu FYI, the fix for this issue is not yet merged to `dev` https://github.com/topcoder-platform/tc-project-service/pull/586/files

[2020-11-02 14:52] RishiRajSahu commented on #4135
@maxceem yep, I didn't merged intentionally but seems wrong feature branch is deployed by me. Deploying the correct feature now.
@lakshmiathreya should be in deployed in couple of minutes.

[2020-11-02 15:11] RishiRajSahu commented on #4154
@maxceem its once acceptable and readonly henceforth.

[2020-11-02 15:32] wdprice commented on #4130
@RishiRajSahu @acshields - FYI, our TAAS APIs should be deployed to topcoder-dev tomorrow. Once deployed this ticket should be able to be worked on.

cc: @nkumar-topcoder

[2020-11-03 07:53] maxceem commented on #4154
@RishiRajSahu then the task looks clear. As soon we have a place in [connect-traits](https://github.com/appirio-tech/ap-member-microservice/blob/dev/service/src/main/java/com/appirio/service/member/api/MemberProfileConnectInfo.java) to save the value, we can do this.

[2020-11-03 17:30] lakshmiathreya commented on #4135
-- Verified that all TC Roles can now be invited without need for addition of Connect Manager role to them.
-- This leads to Copilot Manager role becoming redundant - will log that as a new issue.

[2020-11-03 18:12] lakshmiathreya commented on #4112
-- Verified that new User registration and activation via Login and Start Project routes redirect successfully to Connect Home page.
-- Also, verified the new User is set with default Business role.

@RishiRajSahu - on the Connect home page - both the 'Login' and 'Start Project' buttons have the same url: https://accounts-auth0.topcoder-dev.com/?regSource=tcBusiness&retUrl=https://connect-test01.t

[2020-11-04 06:37] lakshmiathreya commented on #4172
Verified The Last Updated Dates for:
-- update project specification
-- add/update/remove attachment (enough to test with either link or file)
-- add/remove a member
-- add/update/remove phase
-- create/update thread
-- create/update post
Verified CoderBot post for new phase addition
Verified Phase Status changing to 'Delivered'
Smoke test completed

[2020-11-04 06:54] vikasrohit commented on #4172
Thanks for the confirmation @lakshmiathreya

[2020-11-04 07:06] RishiRajSahu commented on #4112
@lakshmiathreya earlier we had different pages for both signup and login with different url, and we had signup page link on login page and login page link on signup page, so regSource was getting lost when switching between pages via those link.
with new dialog, we have common url for both signup/login and then dialog has tabs to switch between these options and url remains intact so as per me we

[2020-11-04 07:27] nkumar-topcoder commented on #4130
@RishiRajSahu  @acshields  Dev deployment of **taasapp** completed.
The Dev integration For taasapp is completed. You can verify for JOB creation. Few pointers.

1. Endpoint : http://api.topcoder-dev.com/v5/taasapi/jobs
2. Swagger & Postman collection : https://github.com/topcoder-platform/taas-apis/tree/dev/docs
3. Roles: bookingmanager and u-bahn (pshah_manager user already has this.  for other

[2020-11-04 08:01] lakshmiathreya commented on #2841
@RishiRajSahu @maxceem @gondzo :
1. Dashboard view is same for Customer and others:
Admin:
<img width="1659" alt="Project Dashboard Admn view" src="https://user-images.githubusercontent.com/51733042/98084521-eece5680-1ea1-11eb-8742-0bfb3d3ec013.png">
Customer:
<img width="1667" alt="Project Dashboard Customer view" src="https://user-images.githubusercontent.com/51733042/98084533-f42ba100-1ea1-11eb

[2020-11-04 08:01] lakshmiathreya commented on #2841
For Customer users - Dashboard needs all Phases expanded according to the requirement.

[2020-11-04 08:07] lakshmiathreya commented on #2841
2. Connect Manager is able to view Direct and Salesforce links for All Projects now. Is this intended? In Prod - Connect Manager is not able to view these links.
Test01 - User is tcconmanager:-
<img width="1645" alt="Screenshot 2020-11-04 at 1 33 14 PM" src="https://user-images.githubusercontent.com/51733042/98084839-7320d980-1ea2-11eb-8cbc-44b211f4eb0e.png">
Prod - User is lakshmiaconmgr:-
<img w

[2020-11-04 08:16] maxceem commented on #2841
2. > Connect Manager is able to view Direct and Salesforce links for All Projects now. Is this intended? In Prod - Connect Manager is not able to view these links.

    @lakshmiathreya the easier way to check what is correct bevaiour is to compare DEV and TEST environments with the same user:
    - https://connect.topcoder-dev.com/projects/16530 - this how it worked before changes in this ticket

[2020-11-04 08:17] lakshmiathreya opened #4178 "Copilot Manager unable to Add Copilot to Project Team - Test Env"
<img width="1680" alt="Copilot Addition by Copilot Manager" src="https://user-images.githubusercontent.com/51733042/98086061-3950d280-1ea4-11eb-8a94-dcaf21c6af0c.png">

[2020-11-04 08:50] maxceem commented on #2841
1. > Dashboard view is same for Customer and others:

  That was indeed an issue. Fixed now:

   ![image](https://user-images.githubusercontent.com/146016/98089532-85434d80-1e8b-11eb-92a3-cce0f04cd529.png)

[2020-11-04 08:55] maxceem commented on #4178
Can confirm this issue, will fix it.

[2020-11-04 13:02] RishiRajSahu commented on #4130
Thanks @nkumar-topcoder for the info, will let you know about queries if arises

[2020-11-04 13:23] lakshmiathreya commented on #2841
@maxceem @acshields @RishiRajSahu pls confirm that Connect Manager is expected to see Direct and Salesforce links for all Projects.

[2020-11-04 15:43] lakshmiathreya commented on #4178
User - TCConCopilotMgr:
<img width="1680" alt="Screenshot 2020-11-04 at 9 11 19 PM" src="https://user-images.githubusercontent.com/51733042/98132530-85bb0300-1ee2-11eb-8232-730ed3717ac9.png">

[2020-11-05 08:56] lakshmiathreya opened #4179 "Copilot Manager doesnt receive Private post messages"
The notification is seen yet the message is not: user lakshmiacopmgr
<img width="1680" alt="Copilot mgr not seeing Priv Notification" src="https://user-images.githubusercontent.com/51733042/98219036-83a08500-1f72-11eb-9da3-b6a09bf525eb.png">

Here is the same message as seen by Connect Manager: user TCConManager
<img width="1680" alt="Screenshot 2020-11-05 at 2 24 50 PM" src="https://user-images.g

[2020-11-05 14:33] acshields opened #4180 "New Intake Form: Backend Development"
### Update 1
Display this new intake form in the catalog following this pathway and using these descriptions...
**Pathway:**
- [+New Project]
- [Solutions]
- New Top-Level Option: [Backend Development]

**Copy:**
Solution Sub-Catalog Menu: "Backend Development"
Section Name: "Backend Development"
Section Description: "Create a database, craft an API solution, or get help on another backend develop

[2020-11-06 07:05] lakshmiathreya opened #4181 "TC Managers unable to Add/Edit Phases"
<img width="1680" alt="Screenshot 2020-11-05 at 9 36 46 PM" src="https://user-images.githubusercontent.com/51733042/98336187-78aa2b00-202c-11eb-9b25-da6f6cae452a.png">
<img width="1680" alt="Screenshot 2020-11-05 at 9 44 02 PM" src="https://user-images.githubusercontent.com/51733042/98336216-82cc2980-202c-11eb-997a-029dd7a5db25.png">

[2020-11-06 07:05] lakshmiathreya commented on #4181
cc @RishiRajSahu

[2020-11-06 07:38] maxceem commented on #4181
@lakshmiathreya it works for me. Could you please try with another project or re-login?

[2020-11-06 07:45] maxceem commented on #4179
@lakshmiathreya I cannot reproduce this issue. Could you please try one more time in case recent changes fixed it?

![image](https://user-images.githubusercontent.com/146016/98339288-25c47980-2014-11eb-9b5a-7995eadbe3b9.png)

[2020-11-06 07:57] maxceem opened #4182 "Users with Topcoder manager roles except of Connect Manager should not see projects by links"
### Expected behavior
Copilot Manager and other managers should not see projects by link without having Connect Manager role (when not a member).

### Actual behavior
Copilot Manager and other Topcoder managers can see project by link even without having Connect Manager role (when not a member).

### Steps to reproduce the problem
- Using user without `Connect Manger` role, but with some other Top

[2020-11-06 08:58] maxceem commented on #4182
This is fixed now by https://github.com/topcoder-platform/tc-project-service/commit/4f7dab193b52a85cc1e5719a671716e2d9841fdf:

![image](https://user-images.githubusercontent.com/146016/98346562-cddf4000-201e-11eb-8e6b-1660fdd95b3f.png)

[2020-11-06 08:58] maxceem commented on #4182
@lakshmiathreya this is ready for review.

[2020-11-06 10:35] maxceem commented on #4181
Can reproduce with this project. This issue happens with all managers who joined any project some time ago with non `manager` role, like `account_manager`.

Fixed by https://github.com/topcoder-platform/tc-project-service/commit/c316c789fb4e4b253d33b15b070473b05ca35754

[2020-11-06 10:57] maxceem commented on #2841
@lakshmiathreya as per me, they should see it.

But it's better if @acshields or @RishiRajSahu confirm this.

[2020-11-06 11:05] lakshmiathreya commented on #4181
'account_manager' is a manager role too right - pls clarify @maxceem

[2020-11-06 11:14] maxceem commented on #4181
Yes, before we have several roles for manages in projects:
- `manager`
- `account_manager`
- `account_executive`
- `project_manager`
- `solution_architect`
- `program_manager`

After this task https://github.com/appirio-tech/connect-app/issues/4101 we don't allow to choose role anymore, so all new managers always join projects with `manager` role.

But in old projects users may already be members

[2020-11-06 12:19] lakshmiathreya commented on #4181
@maxceem we dont have any role called "manager" ... i havent added that to my matrix :- https://docs.google.com/spreadsheets/d/1KTlFFsBaGtEJw6wtpELqpYyqORjWmahE_mK34m8WxWM/edit#gid=0

[2020-11-06 12:19] lakshmiathreya commented on #2841
@acshields - would like you to review this https://docs.google.com/spreadsheets/d/1KTlFFsBaGtEJw6wtpELqpYyqORjWmahE_mK34m8WxWM/edit#gid=0 before I mark this Pass!

[2020-11-06 12:43] maxceem commented on #4181
@lakshmiathreya the thing is that we 2 kind of roles:

- **Topcoder Roles** - these are roles which any user have in Topcoder, you can edit them when you use Admin App:
    - `Connect Admin`
    - `administrator`
    - `Connect Manager`
    - `Connect Account Manager`
    - `Connect Copilot Manager`
    - `Business Development Representative`
    - `Presales`
    - `Account Executive`
    - `Progr

[2020-11-06 13:37] RishiRajSahu commented on #4130
@wdprice @nkumar-topcoder
I been through the swagger as well as requirements mentioned by @acshields  and support provided by your backend apis - So these are the things required -
1. Updated skills api endpoint, currently we are using v3 it needs to be replaced with V5
2. The job object is mapping to each kind of resource option we provide in the form i.e. QA, Frontend, Backend etc. so a respecti

[2020-11-06 15:46] lakshmiathreya commented on #4181
thanks for the clarifications @maxceem. The spreadsheet I shared shows the test results of the latest version of Connect. This format is easier for testers to refer and ensure all combinations have been tested.

[2020-11-06 16:48] lakshmiathreya commented on #4182
Verified that non Project Management team members (Copilot Manager and other TC Managers) are unable to see Projects via direct link. Only exceptions are Admin, Connect Admin and Connect Manager.

[2020-11-09 03:55] lakshmiathreya commented on #4157
![Uploading Screenshot 2020-11-09 at 9.22.20 AM.png…]()

[2020-11-09 03:55] lakshmiathreya commented on #4157
Happening at first login after new registration ... @maxceem need to fix this pls ...

[2020-11-09 08:26] maxceem commented on #4157
This is fixed by https://github.com/appirio-tech/connect-app/commit/9c832e74b68f8468cf3facf921058564461cf8c3.

Solution: don't show profile incomplete dialog if the user cannot load the project.

[2020-11-09 14:59] RishiRajSahu commented on #4157
from Slack -

fyi @maxceem

[2020-11-09 15:52] acshields commented on #4081
@RishiRajSahu can you publish these FAQ pages to PROD, please?

[2020-11-09 16:33] acshields opened #4183 "Removing Copilot from Project"
Update existing logic so that these users can remove a Copilot from a project, at any time:

- Admin
- Connect Admin
- Connect Manager
- Copilot Manager
- All Other TC Roles

[2020-11-10 05:33] lakshmiathreya commented on #4183
cc @maxceem

[2020-11-10 06:04] lakshmiathreya opened #4184 "Internal Project Intake form error"
<img width="1680" alt="Screenshot 2020-11-10 at 11 21 44 AM" src="https://user-images.githubusercontent.com/51733042/98634054-a6eb7b80-2348-11eb-9e32-46b894b65995.png">

[2020-11-10 06:20] lakshmiathreya commented on #3246
@RishiRajSahu pls review and mark as Pass.

[2020-11-10 06:20] lakshmiathreya commented on #2842
@RishiRajSahu pls review and mark as Pass.

[2020-11-10 06:50] maxceem commented on #3458
QA guidelines:
- Set `New York` timezone on your computer
- Set some project member to use `New York` timezone
- Check that Connect shows correct `local time` for this user in the member list
- Now change time on your PC to any time between April and October (summer time)
- Check that Connect shows correct `local time` for this users again

[2020-11-10 07:48] RishiRajSahu commented on #4184
@lakshmiathreya should be fixed, compare with prod to test.

[2020-11-10 08:05] maxceem commented on #4183
I would recommend including it in the next release, as it would also require updating of the code of Project Service and it cannot be fixed just by changing permission config. Just to make sure that we have enough time for proper testing.

[2020-11-10 08:07] RishiRajSahu commented on #4183
@maxceem yep its for November release so we have enough time.

[2020-11-10 11:34] maxceem commented on #4184
@RishiRajSahu this is done via 2 PRs:
- React Components https://github.com/appirio-tech/react-components/pull/360 - should be merged first
- Connect App https://github.com/appirio-tech/connect-app/pull/4185

[2020-11-10 11:35] maxceem commented on #4154
@RishiRajSahu this is done via 2 PRs:
- React Components https://github.com/appirio-tech/react-components/pull/360 - should be merged first
- Connect App https://github.com/appirio-tech/connect-app/pull/4185

[2020-11-10 11:41] maxceem commented on #4154
### @QA quidelines

1. Using customer user, when we open any project, we have to see Incomplete Profile where we can accept/reject terms. **Accept** terms and click save. This incomplete dialog shouldn't be shown anymore on project loading.
   - After accepting, if we go to the user profile page, we should see that terms are marked as `accepted`.
2. The same like above, but this time we should `re

[2020-11-10 13:17] RishiRajSahu commented on #2841
@lakshmiathreya looks good to me and connect manager is expected to see those links. Another update from sheet `only admins and copilot manager can invite copilots.`

[2020-11-10 13:18] RishiRajSahu commented on #4145
@lakshmiathreya the BDR should have connect manager role, if he wants to see the project's data without joining.

[2020-11-10 13:39] #4184 closed

[2020-11-10 15:42] maxceem commented on #4154
This is ready for testing in TEST01 environment https://connect-test01.topcoder-dev.com/settings/profile.

[2020-11-10 17:10] lakshmiathreya commented on #4154
Verified 1., 2., 3. In item 4 above - @maxceem I believe you mean non customer user _should not_ see Topcoder Terms field? It is not seen currently for such users.

[2020-11-10 17:12] lakshmiathreya commented on #4154
Regarding the terms link - has this requirement changed? This link is not seen on the Profile page. @maxceem please clarify.

[2020-11-10 17:28] lakshmiathreya commented on #4154
'Topcoder Terms' is hyperlinked to the Terms page. Clicking that opens a new tab as expected.

[2020-11-10 20:24] maxceem commented on #4154
right, @lakshmiathreya I meant `should NOT see`.

[2020-11-11 10:27] RishiRajSahu commented on #4153
@acshields update1,2 are done. Update 3, its already appearing as expected could you verify once again ?

[2020-11-11 15:40] lakshmiathreya opened #4187 "Unable to add Phases to Project"
### Expected behavior
TC managers should be able to Add and Edit Project Phases.

### Actual behavior
The Addition and Edits appear to work but are not persisted.

Tried with brand new and old projects with multiple TC manager roles.

[2020-11-11 15:42] lakshmiathreya commented on #4187
cc @mtwomey @acshields

[2020-11-11 15:43] maxceem commented on #4187
We have to deploy an updated version of ES Processor to PROD https://github.com/topcoder-platform/project-processor-es/pull/51. Otherwise, phases are not added/updated in ES in PROD.

[2020-11-11 15:49] lakshmiathreya commented on #4187
@maxceem would you be deploying the updated ES processor now?

[2020-11-11 15:51] maxceem commented on #4187
@lakshmiathreya I don't have permissions to deploy on PROD. So we need the help of Vikas or Rishi.

[2020-11-11 15:53] lakshmiathreya commented on #4187
cc @vikasrohit can you help?

[2020-11-11 16:03] lakshmiathreya commented on #4187
cc @rootelement

[2020-11-11 16:07] rootelement commented on #4187
Merged, deploying.

[2020-11-11 16:18] lakshmiathreya commented on #4187
Phase addition working now in Prod. Thanks @maxceem and @jcori!

[2020-11-12 15:25] #4187 closed

[2020-11-12 15:27] RishiRajSahu commented on #2841
Closing this as verified on prod. cc @lakshmiathreya

[2020-11-12 15:27] #2841 closed

[2020-11-12 15:27] #4135 closed

[2020-11-12 15:27] #4150 closed

[2020-11-12 15:27] #4151 closed

[2020-11-12 15:27] #4129 closed

[2020-11-12 15:27] #4112 closed

[2020-11-12 15:27] #4172 closed

[2020-11-12 15:28] #4178 closed

[2020-11-12 15:28] #4179 closed

[2020-11-12 15:28] #4181 closed

[2020-11-12 15:29] #4182 closed

[2020-11-12 15:37] RishiRajSahu commented on #4156
@acshields I'm not sure how we are gonna get the client names list, do we have to depend upon some other service call for the same ?
rest seems doable.

[2020-11-12 15:38] RishiRajSahu commented on #4164
@acshields seems we just need to remove the text message we currently show and put an new image which we will be getting via design.

[2020-11-12 15:45] RishiRajSahu commented on #4183
@acshields additional info for above work
- show confirmation message before delete
- send notification to copilot about their removal ?

[2020-11-12 15:49] RishiRajSahu commented on #4159
that was transient issue of dev.

[2020-11-12 15:49] #4159 closed

[2020-11-12 15:49] #4157 closed

[2020-11-12 15:50] #3458 closed

[2020-11-12 15:50] RishiRajSahu commented on #4119
@vikasrohit @mtwomey can we close this ?

[2020-11-12 15:52] maxceem commented on #2842
The schemas are created and technically this task can be marked as done.
Though our intention was to use these schemas to validate project templates in metadata editors:
![image](https://user-images.githubusercontent.com/146016/98962815-ae10b600-250f-11eb-88f2-fc18f7d64c13.png)

Just would like to raise this up so we don't lose our efforts in creating these schemas. Are we still interested in impl

[2020-11-12 15:57] maxceem commented on #3246
This is done. When we creating new records we show `- Select -` instead of some random value:

![image](https://user-images.githubusercontent.com/146016/98963460-5161cb00-2510-11eb-86b4-dbaddee71cbb.png)

Also, if some existent record doesn't have a value, dropdowns also are showing `- Select -` instead of showing some random value when there is not actual value:

![image](https://user-images.gith

[2020-11-12 16:01] RishiRajSahu commented on #3246
Closing as working as expected.

[2020-11-12 16:01] #3246 closed

[2020-11-12 18:17] acshields commented on #4183
Also notes to updated behavior on the "remove" capability:

For any Topcoder Employee user who has visibility to a project, if a Copilot is on the project then:
- They should see the "Manage" button
- When clicked, they should see the pop-up window with the joined Copilot(s) names and should see a clickable "Remove" button next to their name.
- All users except the TC Copilot Managers should not s

[2020-11-12 18:26] RishiRajSahu commented on #4183
@acshields just for implementation clarity,
We have to hide the invited members from all users except TC Copilot managers.
TC Copilot managers would see both the invited/joined members.

[2020-11-13 13:39] vikasrohit commented on #4119
I think yes.

[2020-11-13 16:36] acshields opened #4188 "All Intake Forms: Update Topcoder Employee Objective Flag Response"
### Update 1
Projects App should consume "project opportunity name"  data from SFDC.

### Update 2
Update the Topcoder Employee objective flag response for [Submitting Client Request] on all intake forms to follow this workflow:
1. Topcoder Employee is asked "Why are you submitting this request?", and answers "Submitting Client Request."
2. Topcoder Employee is asked "Is this a new or existing cli

[2020-11-13 16:38] acshields commented on #4188
@RishiRajSahu - this was the other objective flag story using SFDC data that I mentioned yesterday on the call. When you talk with Sumit about fetching client account name data from SFDC, keep the opportunity name in mind too, because it's basically the same type of data/workflow we need.

[2020-11-16 09:52] RishiRajSahu commented on #4092
@lakshmiathreya @vikasrohit I think we can close this one, with new auth0 changes are in place.

[2020-11-16 10:20] RishiRajSahu commented on #4145
As per our last discussion, as @acshields mentioned we need to show direct/salesforce link to all TC users.

[2020-11-16 10:46] nkumar-topcoder commented on #4130
@RishiRajSahu

1) V5/User, v5/skills etc
—————
Swagger: https://github.com/topcoder-platform/u-bahn-api/blob/master/docs/swagger.yaml
Example:
http://api.topcoder-dev.com/v5/users?handle=<handle>
http://api.topcoder-dev.com/v5/skill-search/skills?organizationId=0d2320f9-be61-4ba4-973e-edc3bb682a69&keyword=selenium
2) Very well thought out analysis, can we have call with other stakeholder to discus

[2020-11-17 08:54] nkumar-topcoder commented on #4130
@RishiRajSahu
Regarding 2nd point for separate processor for Job creation, my view is
a) we are creating intake app for taas-app.
b) And, once intake form is complete -  posting taas end point
both are specific to taas requirement. Hence, only for posting to taas endpoint having a separate processor i believe is overhead in terms of publishing and consuming.

I understand your point on dependency

[2020-11-17 09:00] RishiRajSahu commented on #4130
@nkumar-topcoder If intake for TaaS is always going to be via new taas-app ? or Connect will also keep providing the option to create a TaaS intake ? If we are completely getting away from Connect for TaaS intakes then yes we don't need another processor and all the logic could reside in new taas-app.

[2020-11-17 10:15] nkumar-topcoder commented on #4130
@RishiRajSahu need to check from business view
cc : @wdprice

[2020-11-17 10:26] vikasrohit commented on #2842
Thanks @maxceem for the update. I think yes, we are still interesting in validating the templates while editing. However, I am not sure when we will have approvals for that. Can you please log a separate issue to track those efforts.

[2020-11-17 10:57] lakshmiathreya commented on #4154
Terms field not visible in Prod.
![Uploading Screenshot 2020-11-17 at 11.43.10 AM.png…]()

[2020-11-17 11:08] lakshmiathreya opened #4191 "Unregistered User - Invite email - Registration url redirects to old Accounts Registration page"
- Invite an unregistered user to a Project via their email.
- Login to the unregistered account.
- Click on the Register button in the invite email.
- It redirects to the Old Account app page.
<img width="1680" alt="Screenshot 2020-11-17 at 12 26 37 PM" src="https://user-images.githubusercontent.com/51733042/99382879-281bb300-28f3-11eb-9e21-a1eeff2a2eea.png">

- Should redirect to the Auth0 Regist

[2020-11-17 11:33] maxceem opened #4192 "[Metadata] Validate Project Templates during editing"
Follow up from https://github.com/appirio-tech/connect-app/issues/2842

Currently, we have project templates JSON which have been evolved for some time.
- We have some old properties which we don't use anymore.
- We have some new properties which partially duplicate old properties but have some additional features.
- It's not easy to remember which properties we have.

We've created JSON schemas f

[2020-11-17 11:33] maxceem commented on #2842
Create a follow-up issue https://github.com/appirio-tech/connect-app/issues/4192.

So this issue can be closed.

[2020-11-17 12:03] maxceem commented on #4154
Also, there is some issue with CSS on PROD, for some reason, it's not updated for me, so styles got slightly broken on PROD:
![image](https://user-images.githubusercontent.com/146016/99388037-a0777980-28dd-11eb-8330-cb1dd5156565.png)

[2020-11-17 14:48] #2842 closed

[2020-11-17 15:22] acshields opened #4193 "Bug: Email Input Not Accepting Value"
Try to reproduce -

In the Projects App feedback form, a client (unknown who the user was) reported that they were unable to complete their profile set-up because their email address was not accepting any inputs. Try to reproduce this - again, what should be happening is:

The user gets the prompt to complete any incomplete required profile information
The email should not be displayed, as we alre

[2020-11-17 15:50] acshields opened #4194 "[$45] All Intake Forms: Update the "Submitted Screen""
<img width="1380" alt="Screen Shot 2020-11-17 at 9 23 46 AM" src="https://user-images.githubusercontent.com/41118149/99409646-34821a80-28b7-11eb-95e1-84721c10bc93.png">

On all intake forms, please update the "Submitted" screen with these changes:
- Header: "Congratulations!"

- Sub-Header: "Your project has been created"

- Body Text Changes:
-Center the text on the screen
-Increase the font size

[2020-11-17 16:27] acshields opened #4195 "TaaS Project Redirect"
Until the new micro front-end architecture is fully implemented, created TaaS projects will display in the Projects App (connect.topcoder.com) all projects dashboard list. Users will need to be redirected from here to the TaaS App version of the project.

### Updates
When a TaaS (type = TaaS, "Engage Talent" intake form) project is created, the user should see the following in the Projects App (co

[2020-11-17 19:11] acshields commented on #4153
@RishiRajSahu - for pt. 3, confirming that Update 3 is performing as expected in my test. I only did one test - it may have been that Rash answered got questions in a different order, and then saw the sequence of design/dev add-ons out of alignment. However, for now I think it's fine based on my best. Please push the other changes to prod when you have the opportunity.

[2020-11-17 19:16] acshields opened #4196 "New DS Intakes Mapping to FAQs Lists"
@RishiRajSahu - I know I have to provide you with the FAQ mapping for the three new DS intake forms. However, I can't track down the link to the Contentful repo where the FAQ lists are housed. Can you share it here? Then I will review & tell you the mapping.

[2020-11-18 08:07] nkumar-topcoder commented on #4130
@RishiRajSahu
Post discussion it has been decided to post for job from intake form.
thanks @vikasrohit @wdprice

[2020-11-18 17:56] acshields commented on #4156
@RishiRajSahu - I think you will need to talk to Sumit on this. I know that the data is available in SFDC, but what I don't know is how we can it from there.

[2020-11-19 13:27] maxceem opened #4199 "Infinite loop cause by Auth when run locally"
At the moment when I try to set up Connect App locally, I get infinite loop of errors caused by Auth library, see demo video https://monosnap.com/file/p6YodFZESEy7HIvpyziBHNU6fQNaZo

This caused by this error https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-do-i-get-auth0-spa-js-must-run-on-a-secure-origin.

![image](https://user-images.githubusercontent.com/146016/99672124-ad31d400-2a

[2020-11-19 13:51] maxceem commented on #4199
This is a general issue with the TC Auth library so I've logged an issue there https://github.com/topcoder-platform/tc-auth-lib/issues/98

[2020-11-20 13:02] maxceem commented on #4145
This is already implemented this way:
- all members of the **Topcoder Team** can see these links
- `Connect Manager` and admins can see these links without joining the project
- copilots also can see these links
- customers **cannot** see these links

@RishiRajSahu please, let me know if the current behavior is desired or there are any changes to make?

[2020-11-20 13:05] acshields commented on #4145
@maxceem - when you are saying "Topcoder Team," are you meaning the user roles like:
-Account Executive
-Account Representative/Business Development Representative (can't remember the title)
-Program Manager
-Project Manager
...etc.

Essentially, all of our users should see this link except for Clients.

[2020-11-20 13:14] maxceem commented on #4145
yes, @acshields I mean the roles you've mention above. Anyone who can be a part of Topcoder Team:

![image](https://user-images.githubusercontent.com/146016/99803970-f1d47280-2b42-11eb-9afa-6e5e94bc65fb.png)

This is exactly as it's done now.

[2020-11-20 13:15] acshields commented on #4145
@maxceem - awesome, then that should be good.

[2020-11-23 08:25] maxceem commented on #4183
### QA Guidelines

Here are the main tests cases:
1. `Copilot Manager` should be able to invite copilots without joining a project (to see a project such user should also have `Connect Manager` role)
2. `Copilot Manager` should be able to remove copilots **invite** without joining a project
3. `Copilot Manager` should be able to remove copilot **member** without joining a project
4. Any member of

[2020-11-23 11:38] maxceem commented on #4057
1. During creating a new phase, the user can choose a phase Type. How this would affect the phase behavior? Should it create some predefined list of milestones for such a new phase as we do now?

   ![image](https://user-images.githubusercontent.com/146016/99957804-f3937580-2d90-11eb-914a-e2211cfe0147.png)

[2020-11-23 11:54] maxceem commented on #4083
@acshields

1. For all the milestones, should we show 2 buttons **Mark as Completed** and **Request Extension** as we do now?

    ![image](https://user-images.githubusercontent.com/146016/99958259-bb406700-2d91-11eb-96c6-88f5a6389ee2.png)

2. **Reporting Milestone**. When Topcoder Employee or Copilot enters **Delivery Update** should the milestone be ended immediately? Or we can enter deliver upd

[2020-11-23 20:30] acshields commented on #4083
Hi @maxceem - thank you for asking & clarifying.

### Question 1
No, the actions required (and buttons) will be different by milestone type.
- **Reporting Milestone:** This milestone will be used simply as a way to convey an update to the client by the delivery team. It is up to the client whether they choose to read it. This milestone also has no "duration," it is just a point of time on the cale

[2020-11-23 20:42] acshields commented on #4057
@maxceem - I just updated the requirements listed above - Actually, in the latest designs, I have removed "Type" selection altogether because, in this evolution that we are planning for the project plan, the "type" didn't serve anything more than just serve as a label on the phase for a quick visual reference.

And as a note, although you didn't directly ask about it: One of the biggest changes we

[2020-11-24 08:01] maxceem commented on #4057
Thanks, @acshields for sharing the big perspective it helps to understand the requirements.

You've mentioned the design, do we have a design for this functionality of adding generic phases?

[2020-11-24 08:13] maxceem commented on #4083
I mean the next situation:
- generally saying copilots are the ones who is sharing deliverables with Clients and Topcoder Employees
- so let's say a copilot added deliverables in the **Final Deliverable** milestone
- at this moment we should send a notification to the clients that the deliverable was provided, so the client may review  and accept it or request fixes
- the question is, should Topco

[2020-11-24 08:21] maxceem commented on #4083
@vikasrohit @RishiRajSahu what do you think about this?

From the first view, it looks like we can achieve it with moderate efforts by updating Project Service:
- update `ProjectAttachment` model to support `reference` and `referenceId`
- all existent records would have `reference=project` and `referenceId=<project.id>`
- to support uploading submissions we would use `reference=milestone` and `ref

[2020-11-24 17:57] acshields commented on #4057
@maxceem - I do have designs for desktop and mobile. Rishi & Vikas have seen them - currently, there are a few final fixes being made to the designs, but they should be ready to go by the end of this week. As soon as I have them, I will share them over so you can visualize the changes we are looking to make.

[2020-11-24 18:18] acshields opened #4202 "API Updates for Project Resources"
Comments from 11/24 discussion:

- Resource API should be updated to look for Copilot's joining the Connect Project
- Add a Copilot role check to V5 API

@mtwomey @vikasrohit - I probably didn't capture this one correctly, so please leave comments below.

[2020-11-26 13:46] vikasrohit commented on #4202
@acshields @mtwomey these both items does not belong to projects app and I think they belong to https://github.com/topcoder-platform/resources-api and https://github.com/topcoder-platform/legacy-challenge-resource-processor. And I think we don't even need the first one i.e. `Resource API should be updated to look for Copilot's joining the Connect Project` because as @rootelement told we can not de

[2020-11-26 14:03] vikasrohit commented on #4202
@acshields @rootelement just realized that we even don't need to migrate to v5 resource api because we can not. Resource api works on challenge i.e. it adds resources to the challenge not to the project. v5 project api is already taking care of syncing back resources to legacy via the legacy-project-processor. So, we are just circling back to projects api itself. Nothing is to be done here.

[2020-11-27 05:53] chaitanya71998 commented on #3575
make your fill using ids unique, in the svg component, so that react will render each svg component

[2020-11-30 16:01] acshields commented on #4202
So should this one be closed @vikasrohit ?

[2020-12-01 04:40] RishiRajSahu commented on #4130
@nkumar-topcoder I think in this scenario it would be best to consume the event once the project is created, could you guys give heads-up on this so that I can launch the challenge for taas-processor ?

fyi @mtwomey

[2020-12-01 08:20] RishiRajSahu commented on #4130
@nkumar-topcoder regarding the below point

currently in Connect any registered user can access TaaS intake form and create a project, but with conditions of roles, what is supposed to do for users with client role(just Topcoder User role), do we have to ignore the job creation for them ?

[2020-12-01 09:10] lakshmiathreya commented on #4191
On Prod, the Register link redirects to Dev Registration page.

<img width="1680" alt="Screenshot 2020-12-01 at 2 36 43 PM" src="https://user-images.githubusercontent.com/51733042/100719783-17833680-33e3-11eb-96b3-e0d54d4b219f.png">
<img width="1680" alt="Screenshot 2020-12-01 at 2 35 29 PM" src="https://user-images.githubusercontent.com/51733042/100719766-13efaf80-33e3-11eb-9385-a525e8657a27.png"

[2020-12-01 09:18] maxceem commented on #4130
I'd like to confirm how we match data we have in UI with API requests we send to TaaS API.
1. Should we put `resourceType` as a free text from Connect UI like **"Front End Developer"** or is there any predefined list of job types?
2. In UI we define the job `duration` but in API we have `startDate` and `endDate`. Should we save job with `startDate` as date of form submission, and `endDate = startD

[2020-12-01 09:23] lakshmiathreya commented on #4154
Terms verified on Prod.
![Uploading Screenshot 2020-12-01 at 2.52.41 PM.png…]()

[2020-12-01 10:15] RishiRajSahu commented on #4191
@lakshmiathreya should be fixed now.

[2020-12-01 10:22] nkumar-topcoder commented on #4130
@maxceem
1) ResourceType should be free text, currently there is no Job Type predefined.
2) Yes
3) Yes
4)Always keep Rate as weekly (https://github.com/topcoder-platform/taas-apis/blob/dev/docs/swagger.yaml)
5) Ideally yes.

For 2 and 5, i would reconfirm from business point of view @wdprice.

[2020-12-01 10:30] RishiRajSahu commented on #4130
@nkumar-topcoder so, should we ignore TaaS projects created by clients to be considered for job creation ?
and
where can we get the guid for Topcoder org ?

[2020-12-01 10:49] RishiRajSahu commented on #4130
@nkumar-topcoder could you please provide substitute of this https://api.topcoder-dev.com/v3/tags/?domain=SKILLS&status=APPROVED in v5/skills
basically we need all the skills we provide along with their category because that's how we are doing right now

v3 skills data

[code]

v5 skills data
[code]

also, skills endpoints needs to be accesible by every registered Topcoder user, as any Topcoder co

[2020-12-01 11:02] lakshmiathreya commented on #4191
Verified on Prod - redirect to Prod Auth and Connect working fine.

[2020-12-01 11:06] lakshmiathreya commented on #4154
In Progressive Registration, Terms field is not fully visible.
<img width="1680" alt="Screenshot 2020-12-01 at 4 26 53 PM" src="https://user-images.githubusercontent.com/51733042/100732803-45707700-33f3-11eb-8400-256182920d23.png">

[2020-12-01 14:57] nkumar-topcoder commented on #4130
@maxceem @RishiRajSahu
Please note down the change for taas v5/Job creation. There has been change in req. now  all member can create Job creation (topcoder user role)Hence, earlier communication that only bookingmanager role should create a job is **not** valid.

The current dev  v5/job is still validates for bookingmanager role, i will inform once we apply the fix.

cc: @wdprice

[2020-12-01 15:04] maxceem commented on #4130
Thanks, @nkumar-topcoder.

Please, also have a look at the Rishi's comment above https://github.com/appirio-tech/connect-app/issues/4130#issuecomment-736400173.

Regular users cannot retrieve the list of skills from V5 `http://api.topcoder-dev.com/v5/skills` only admins can retrieve all the skills.

[2020-12-01 15:13] nkumar-topcoder commented on #4130
@maxceem @RishiRajSahu can you pls try with **u-bahn** role.

[2020-12-01 15:28] #4191 closed

[2020-12-01 20:36] maxceem commented on #4057
@acshields I've checked the design you've shared with me.

The main question I've got: For already existent phases/milestones would we keep the current UI as it is? Or would you like to update already existent phases/milestones too, so they have a new design?

![image](https://user-images.githubusercontent.com/146016/100793793-5934d100-3425-11eb-8e25-8b3d3be74034.png)

[2020-12-01 20:47] maxceem commented on #4130
Yes, @nkumar-topcoder users with "u-bahn" role can retrieve the skills list. Though at the moment TaaS Intake form is available for ALL users (link https://connect.topcoder-dev.com/new-project/talent-as-a-service).

So I'm no sure if there additional business requirements that we should hide this form for regular customer users, and only show it for special users with `u-bahn` role?

[2020-12-01 21:24] acshields opened #4203 "Project Plan: Phase Status Logic"
### Summary
We are amending how phase status logic works. The user performing set-up will no longer be required to indicate the overall status of a phase in a dropdown menu, and instead the status (once published) will be dynamically maintained by using the date data provided.

### A Published Phase's Status Logic Rules
Once a phase has been published by the user performing set-up, the following c

[2020-12-01 21:32] #4167 closed

[2020-12-01 23:50] acshields commented on #4057
@maxceem - I am not entirely sure what's possible for backward UI compatibility with existing project plans. My perspective is: if we can make it backward compatible and it doesn't add work, then that's great. If it's going to add more effort, than I don't think it's that important.

@RishiRajSahu - what are your thoughts?

[2020-12-02 06:53] maxceem commented on #4130
@RishiRajSahu one more question here.
At the moment clients can add any arbitrary skills they want.

![image](https://user-images.githubusercontent.com/146016/100838736-a774bf00-347b-11eb-9511-5ed4d4977ed4.png)

But Job API only allows the ids of the skills that are already in the DB. Should we disable the ability to add arbitrary skills? Or should we still allow entering any skills, but only send

[2020-12-02 09:09] RishiRajSahu commented on #4130
@maxceem As per me, let's allow arbitrary skills as well, and yes we will post only the DB skills to job API.

[2020-12-02 09:47] nkumar-topcoder commented on #4130
@RishiRajSahu Arbitrary skills are allowed but it won't be saved or posted any where right ?
The reason is we validate for valid skills while posting else job creation won't happen.
cc : @maxceem

[2020-12-02 09:59] maxceem commented on #4130
@nkumar-topcoder @RishiRajSahu

Regarding creating TaaS Jobs client-side. IMHO it has a few disadvantages:
- We would have to make several API requests per job which would slow down the project creation process for the customer user.
- But more importantly, there would be no guaranty that all jobs would be successfully created:
   - Some requests may fail because of user poor connection
   - User

[2020-12-02 10:09] nkumar-topcoder commented on #4130
@maxceem One of the downside of using processor (that was discussed earlier) is how to we track failure job posting. project and taas are different app, but At consumer side how do we know jobs created or not.
cc @RishiRajSahu @vikasrohit

[2020-12-02 10:21] maxceem commented on #4130
@nkumar-topcoder yes, that's not a perfect solution. To check errors we would have to look into the `project-api-consumers` log on AWS.

But if we send requests client-side I guess the situation might be not much better.
Let's say customer sends a form for creating a new project with `10` jobs. The project has been successfully created and we are sending `10` job creation API requests. `9` request

[2020-12-02 10:32] maxceem commented on #4130
Another wild idea @nkumar-topcoder @RishiRajSahu

After creating jobs in Jobs API we can update the Project data and populate project details with ids of created jobs:

![image](https://user-images.githubusercontent.com/146016/100861134-13feb680-349a-11eb-86aa-4dafeb446ce7.png)

This way we can:
- Inside Connect App show some indicator if related Job was created or no
- We can add a button to manu

[2020-12-02 10:46] nkumar-topcoder commented on #4130
@maxceem

- regarding associating jobId with projectiD it's a good thought, but all stakeholder should agree on that.
- regarding using project consumer, This too was discussed and better to display error in frontend and display msg to reach out for support. That way user/customer is aware that Job creation has failed, but project creation might  have happened. Testing for all scenario is only way

[2020-12-02 10:55] maxceem commented on #4130
@RishiRajSahu one more thing to confirm.

As V5 skills don't have categories I guess we have to always show all the skills for all the job types. The only question, should we leave the logic for categories in place, if categories would be potentially added to the V5 skills?  Or should we remove the logic for the categories to not leave redundant code?

[2020-12-02 12:46] RishiRajSahu commented on #4130
@maxceem let's keep the categories logic in place with a comment-note.
So, we are all clear about the requirements now -
1. Jobs api support creation via all user now
2. Skills api role relaxation is in progress, for time being we will share cred of dev user with booking-manager role, @nkumar-topcoder can provide that user

regarding adding jobId to project data as it would be another attribute to

[2020-12-02 13:48] nkumar-topcoder commented on #4130
@RishiRajSahu @maxceem

both v5/skills and v5/job posting now support topcoder member (topcoder user roles). Pls verify.

cc @wdprice

[2020-12-03 11:06] nkumar-topcoder commented on #4130
@RishiRajSahu @maxceem

workload field is included at v5/job api. pls refer to the latest-swagger-doc. Details shared in slack

[2020-12-03 11:21] RishiRajSahu commented on #4196
@acshields I have DM'ed you the url.

[2020-12-03 11:23] lakshmiathreya commented on #4154
Will log a different P4 for scrolling issues in rare cases. Verified that Terms field is visible and is updated correctly.

[2020-12-03 11:24] #4154 closed

[2020-12-03 11:46] RishiRajSahu commented on #4153
@acshields this has been pushed to prod.

[2020-12-03 11:50] vikasrohit commented on #4202
Yes. Just wanted to hear from @rootelement if I missed something here.

[2020-12-03 12:35] RishiRajSahu commented on #4057
@acsheilds doing backward compatible is bigger work, let's keep old projects as it is @maxceem.

[2020-12-03 12:37] RishiRajSahu commented on #4057
@maxceem @vikasrohit I think its time to move to V4 from V3, what say ?

[2020-12-03 12:40] vikasrohit commented on #4057
@RishiRajSahu keeping the old projects as is without being backward compatible, would require redundant code on front end because we have to keep multiple components for the timeline UI, one for old one and one for new ones. And that is not going to be good from maintenance perspective.

You mean project version? If yes, I guess that depends on if we want to keep the old timelines to render in old

[2020-12-03 14:33] wdprice commented on #4195
@acshields - suggest moving the button from the dashboard/list page to the project view page (maybe in place of milestones?)

Reasoning is that project access controls are currently handled in Connect, and if we want to add/remove users we need to be able to get to that screen still.

[2020-12-03 14:51] RishiRajSahu commented on #4057
@vikasrohit Yep agree, but making backward compatible is more time consuming and I doubt the timeline we have at hand. I had a plan of doing it in next increment once we are done with new project plan UI though.

[2020-12-03 15:43] acshields commented on #4057
@vikasrohit @RishiRajSahu - let's settle on the move forward direction for this today in our call. Personally, I am in favor of going with Rishi's proposal of splitting the effort into two parts: New UI/capabilities notes 1st, backwards compatibility 2nd. However, I still think it's worthy of discussion/consensus.

[2020-12-03 15:47] acshields commented on #4195
@wdprice @RishiRajSahu - Agreed on this approach.

### revised requirements
1. Hide project plan on TaaS projects
2. On the dashboard tab of a project, where project plan would have been displayed, show a large button that reads: "Go to your Talent Team"

@wdprice - I am also thinking of other things within the project that we can hide/update, so as not to confuse the experience. My proposals:
- H

[2020-12-03 15:51] maxceem commented on #4057
Just a wild idea:
1. Implement new requirements using the old UI. This should keep backward compatibility as we don't remove old milestone types, and just add functionality for adding a few milestone types and generic phrases. This also would give us the outcome the faster way.
2. After that we could see what we've got and decide on how to move on to the new design from here.

[2020-12-03 15:57] RishiRajSahu commented on #4057
@maxceem that's the plan.

[2020-12-03 16:00] acshields commented on #4153
@RishiRajSahu - awesome. Noted!

[2020-12-03 16:00] #4153 closed

[2020-12-03 16:17] acshields commented on #4196
@RishiRajSahu - thank you.

For the Beacon, Prediction, and Algorithm intakes/project types, I have created 3 new FAQLists titled Beacon, Prediction, Algorithm, respectively. I haven't published the lists yet - can you do that once the mapping is in place?

[2020-12-03 16:46] maxceem commented on #4195
Done as per https://github.com/appirio-tech/connect-app/issues/4195#issuecomment-738091407 in branch `feature/taas-jobs` now deployed to DEV env.

Example project link https://connect.topcoder-dev.com/projects/16716

Let me know if you would like to have any design improvements:

![image](https://user-images.githubusercontent.com/146016/101060236-dd0eca80-3597-11eb-85a1-94d3ccbe51a8.png)

[2020-12-03 16:52] RishiRajSahu commented on #4195
@maxceem that's great, I have tried quick changes as well for the same
<img width="1439" alt="Screenshot 2020-12-03 at 10 20 20 PM" src="https://user-images.githubusercontent.com/11248478/101060868-e018b380-35b5-11eb-9dd1-919771e7ed6b.png">

Still @acshields confirmation is required.

[2020-12-03 17:54] acshields commented on #4195
Looks good - only change I could request: Can we make the button/text larger to take up more of the screen space (so there is less weird empty space?)

[2020-12-03 19:02] maxceem commented on #4195
What about this? See live demo https://connect.topcoder-dev.com/projects/16716

![image](https://user-images.githubusercontent.com/146016/101073334-f586e100-35a7-11eb-871a-3bee4b9c6bf1.png)

[2020-12-03 20:06] acshields commented on #4195
Works for me, thanks @maxceem

[2020-12-04 23:41] jswheeler commented on #4051
@RishiRajSahu if this is deployed, please close this issue. cc: @acshields

[2020-12-05 11:41] maxceem commented on #4083
@acshields we've checked the current designs and there is no UI for file uploading so far, so for now we would only allow providing submissions as links as per design https://marvelapp.com/prototype/b8ja33g/screen/74683346

[2020-12-05 20:12] acshields commented on #4083
Yes, the file links can just be pasted into the fields. that's fine.

[2020-12-06 10:53] maxceem commented on #4057
@acshields There are a few moments to clarify. I know the current design is not final, but I would use it just for reference.

1. As I understand, when we are creating a phase, there would be one milestone by default `Reporting` and we should be able to choose another type for this milestone. As per design, we don't see it:

    ![image](https://user-images.githubusercontent.com/146016/101277884-3

[2020-12-06 12:56] maxceem commented on #4057
@RishiRajSahu @acshields

5. Previously we manually controlled if the phase is "planned" or "active" (in progress) by changing the status. But in the new UI we have only one button "Publish". Do I understand it correctly, that now we show phase as "active" or "planned" only based on the current date. If phase today is between "start date" and "end date" we show phase as active, otherwise we show i

[2020-12-06 13:00] maxceem commented on #4057
Here is my suggestions on how to use the current design for showing the new workflow:

### Edit existent phase

![image](https://user-images.githubusercontent.com/146016/101280755-88f02a00-37d3-11eb-8b58-089202bea259.png)

### Edit existent milestone

![image](https://user-images.githubusercontent.com/146016/101280774-a6bd8f00-37d3-11eb-9112-76da05ed3fba.png)

### Create generic phase with milesto

[2020-12-06 13:01] maxceem commented on #4057
Challenge specification draft is till in progress and would be clarified based on the answers to the questions above

# Topcoder Connect - Redirect to TaaS App

*Welcome to the Topcoder challenge. You may implement this task and submit your solution until the deadline. Reviewers would score it and 2 people with higher scores (not less than minimal) would get the prizes. Learn "[How to compete](htt

[2020-12-07 09:15] RishiRajSahu commented on #4057
1. Let's make reporting as the default milestone, with startDate same as phase startDate by default.
2. Let's not update dates of milestones based on phase, but I think its users responsibility to take care of that
3. Reporting milestone should be the first one, and its type shouldn't be changeable
4. **we show phase as "active" or "planned" only based on the current date.** - _Yes_
I think once t

[2020-12-07 13:28] RishiRajSahu commented on #4083
@acshields thanks for confirming on that. @maxceem so we are good to get this in progress too.

[2020-12-07 13:33] RishiRajSahu commented on #4051
@jswheeler Its done, the script was updated and deployed long back via this https://github.com/appirio-tech/connect-app/pull/4097/files , If nothing to add more, feel free to close the issue.

[2020-12-08 12:30] RishiRajSahu opened #4205 "TaaS Intake Form - Remove optional skills question"
With new TaaS-api integration to our TaaS intake form, we don't need optional skills as the api doesn't support it for the first release.
Create a new intake form with optional skills question removed.

fyi @acshields

[2020-12-08 13:06] maxceem commented on #4130
### Task: skills dropdowns should load all the pages from Skills API (and don't' make duplicate calls for each skills dropdown instance)

1. Load all skills
   - We've updated the SkillsQuestion select to load skills from the Skills API V5 https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/SkillsQuestion/SkillsQuestionBase.jsx#L55
   - But Skills API only returns m

[2020-12-09 14:41] acshields opened #4206 "[$170] Summarized TaaS Intake Form Changes"
@RishiRajSahu - the TaaS team and will have requested these updates be made to the TaaS intake form. Please review - if you have questions, clarify with Will directly :)

https://docs.google.com/presentation/d/1jQFX-eAMjGn5D6uCp18OKmivW9FfYXd8vjTTWOxEUg4/edit#slide=id.p

[2020-12-10 11:04] maxceem opened #4207 "Show explicit error instead of infinite loading when Project Template is not found"
Follow up from https://github.com/topcoder-platform/tc-project-service/issues/582#issuecomment-703654821

At the moment when I open a project which has `templateId` which points to the `ProjectTemplate` which is not found I see an infinite loading page because Project Template is not found, and we don't know how to display the project (https://connect.topcoder-dev.com/projects/6450):

![image](htt

[2020-12-10 11:10] RishiRajSahu commented on #4207
https://github.com/topcoder-platform/tc-project-service/blob/develop/src/routes/projects/update.js#L210 we would have to handle it based on what backend returns in such cases.

[2020-12-10 11:16] maxceem commented on #4207
@RishiRajSahu would this work?

![image](https://user-images.githubusercontent.com/146016/101765434-f8269080-3ae9-11eb-857b-5accb9dd6665.png)

[2020-12-10 11:26] maxceem commented on #4207
Done via https://github.com/appirio-tech/connect-app/pull/4208

[2020-12-10 14:24] RishiRajSahu commented on #4083
@acshields

- For "Reporting Milestone" no button - OK
- For "Deliverable Review Milestone" show "Review Complete" - this button might also change the status
- For "Final Deliverable Review Milestone" show "Accept Deliverables" and "Request Fixes" which also can change the status

Another Scenario -
Imagine that today is 10 Dec

- We have a milestone "Deliverable Review Milestone" which ends on 15

[2020-12-10 15:33] acshields commented on #4083
@RishiRajSahu - thanks for asking these questions. I will share my thoughts now, but let's discuss it on the call too.

- **Question:** For the Deliverable Review & Final Deliverable review milestones, what "status" are we referring to? The phase "status," or the milestone status?
- **Scenario Feedback:** The way I am looking at the Deliverable Review & Final Deliverable Review Milestones (which h

[2020-12-10 16:27] RishiRajSahu commented on #4083
@acshields :) those were actually @maxceem  questions which came out as we were finalising the specs for challenge,I think what you suggested makes things easier also

fyii @maxceem

[2020-12-10 16:48] maxceem commented on #4083
@acshields, @RishiRajSahu thank you for clarifications.

A couple of more concerns:

1. When we complete some milestone do we activate the next milestone as we do now?
    If we don't update the start date of the next milestone then, when we activate the next milestone it could look active, though the start date would be in the future

    ![image](https://user-images.githubusercontent.com/146016/

[2020-12-10 20:27] maxceem opened #4209 "[$200] Empty message breaks showing all the messages"
This error happened on PROD for the client project.

Create a post with the next body:
[code]

Load the Messages page with such a message. You would see no message and error in the console:

![image](https://user-images.githubusercontent.com/146016/101825148-e9fe6180-3b35-11eb-9bc9-b2906469aeff.png)

For local testing you may add the next code inside the file https://github.com/appirio-tech/connec

[2020-12-10 21:41] maxceem opened #4210 "[$40] Copilot cannot leave project"
### Expected behavior

There should be a way to leave the project for a copilot.

### Actual behavior

Copilot doesn't have a button to leave the project once joined as a copilot.

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/146016/101833171-3e5b0e80-3b41-11eb-9f4a-b263cc1b7d13.png)

[2020-12-11 09:37] maxceem commented on #4083
Challenge draft

# Topcoder Connect - New Milestone Types

*Welcome to the Topcoder challenge. You may implement this task and submit your solution until the deadline. Reviewers would score it and 2 people with higher scores (not less than minimal) would get the prizes. Learn "[How to compete](https://www.topcoder.com/community/development/how-to-compete)" and read the task below.*

⚠️ **IMPORTANT

[2020-12-11 13:26] maxceem commented on #4083
Challenge for this issue is launched https://www.topcoder.com/challenges/eb107e10-19e0-40d5-a1a4-ada8ae2fc25a:-
- Due date `18 Dec`
- It doesn't include updating milestone "showing" logic to keep the score clear. Updating "showing" logic would be handled as a private task after the challenge is complete.

#### Update milestones "showing" logic

At the moment, we are showing milestones as **planned

[2020-12-11 13:29] maxceem commented on #4057
Challenge for this issue is launched 2 days ago https://www.topcoder.com/challenges/d57c6f7c-2e17-4021-8d5e-5f6c2cc7c97f?tab=details
- Due date `16 Dec`
- The challenge doesn't include adding milestones to already existent phases to keep the score clear and avoid possible merge conflicts with the [parallel challenge](https://www.topcoder.com/challenges/eb107e10-19e0-40d5-a1a4-ada8ae2fc25a). It wou

[2020-12-14 09:07] maxceem opened #4212 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-12-14 09:08] #4212 closed

[2020-12-14 09:11] maxceem opened #4213 "[$50] Skills drop-downs should load all the pages from Skills API once for all component instances"
1. Load all skills
   - We've updated the SkillsQuestion select to load skills from the Skills API V5 https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/SkillsQuestion/SkillsQuestionBase.jsx#L55
   - But Skills API only returns maximum 100 records per page.
   - So we have to retrieve all the pages one by one to get all the skills, something like this https://githu

[2020-12-14 09:11] maxceem commented on #4213
Contest https://www.topcoder.com/challenges/30157782 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-14 09:11] maxceem commented on #4213
Contest https://www.topcoder.com/challenges/30157782 has been updated - it has been assigned to vignesh14thnov.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-14 09:43] maxceem commented on #4213
PR has been provided and merged to the feature branch https://github.com/appirio-tech/connect-app/pull/4211

[2020-12-14 09:43] #4213 closed

[2020-12-14 09:44] maxceem commented on #4213
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157782<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-14 09:46] maxceem commented on #4130
All is done as per this task description.

[2020-12-14 17:32] acshields opened #4214 "Project: Billing Account Management"
We need to improve the billing account workflow, to remove the necessity of managing billing accounts in Direct for the project and its challenges/tasks.

**Proposed Solution:**
- Inside the project (Connect), the user views a field labeled Billing Account
- Underneath this field, the user views a dropdown menu with these options:
-If a billing account is already associated with the project in SFD

[2020-12-14 17:33] acshields commented on #4214
@RishiRajSahu @mtwomey @vikasrohit - Please review my proposed updates to the billing account workflow in projects, and let's be prepared to talk this through this week.

[2020-12-14 23:44] mtwomey commented on #4214
There is a couple of additional pieces of data that may be relevant:

1. We _do not_ need to support more than one billing account related to a single project (e.g. all challenges in the project will use the one billing account). I think this is in line with what you said above.
2. It's unclear to me if we need to pass back selected billing account information to SFDC? When challenges close and ar

[2020-12-15 01:44] acshields commented on #4214
@mtwomey - thanks for reviewing. Yeah, I didn't know how to describe "make sure the billing account for the project gets to applied to that project's challenges/tasks" in a technical term, but glad you got where I was going!

[2020-12-15 11:30] RishiRajSahu commented on #4180
Fyi @acshields https://connect.topcoder-dev.com/metadata/projectTemplates/257

[2020-12-15 12:10] RishiRajSahu commented on #4214
@acshields @mtwomey mind jumping me here before @vikasrohit , first of all we would have to add support to call SF endpoints in order to retrieve billing accounts for a project as we no more directly call SF after we put event mechanism in place, having stated that, below are the next points from my side -
1. There could be more than one billing account eligible to be attached to project
2. Curren

[2020-12-15 15:50] acshields commented on #4180
@RishiRajSahu - I am not able to access the link (I think it's an issue with the metadata). Can you share a version I can access?
![Uploading Screen Shot 2020-12-15 at 9.49.53 AM.png…]()

[2020-12-15 16:29] RishiRajSahu commented on #4180
@acshields updated the link above

[2020-12-15 18:58] acshields commented on #4180
**Update**
<img width="660" alt="Screen Shot 2020-12-15 at 12 55 22 PM" src="https://user-images.githubusercontent.com/41118149/102259531-d6a41b00-3ed4-11eb-9d61-35342b132e3c.png">
Update this question so that "APIs" are displayed like written here.

After this quick change is made, the form can be pushed to prod. As a reminder, refer to the original req post above for Catalog presentation & copy.

[2020-12-16 10:57] vikasrohit commented on #3827
@maxceem not an urgent thing, just landed on this issue while going through unread mails. When you get chance, can you verify if prod seems to be working fine now? If yes, can we close this issue or do we need some changes?

[2020-12-16 11:59] maxceem commented on #3827
@vikasrohit as a copilot I don't have permission to invite Customer users anymore on PROD.

[2020-12-16 14:12] vikasrohit commented on #3827
oh, @RishiRajSahu can you verify it?

[2020-12-17 08:38] RishiRajSahu commented on #4180
@acshields the changes are made as suggested and also pushed it to prod, but haven't made it visible as just wanted to know which FAQ list I should attach to it ?

[2020-12-17 08:57] RishiRajSahu commented on #4196
Done.

[2020-12-17 11:17] vikasrohit commented on #4214
Thanks @mtwomey and @RishiRajSahu for your inputs. I agree for most of the things. My observations are as follows:

- @mtwomey you are right about `The selected billing account associated with the project should be published as an event that Work Manager can consume`, we don't need any event for this. Work Manager can read the billing account details from wherever we store it. Right now it is read

[2020-12-17 12:16] RishiRajSahu commented on #4081
This is done.

[2020-12-17 23:12] acshields commented on #4180
@RishiRajSahu - I just created a new FAQList called "Backend Dev" that can be linked to this project type! Good catch, thank you for reminding me of that.

[2020-12-18 08:02] RishiRajSahu commented on #4180
@acshields done and pushed to prod, though would you like to provide the description for highlighted area. for now I have just put a placeholder.
![Screenshot 2020-12-18 at 1 29 52 PM](https://user-images.githubusercontent.com/11248478/102589779-7fe94c00-4135-11eb-8c50-6b5cade40a0e.png)

[2020-12-18 16:39] acshields commented on #4180
@RishiRajSahu - Please put "Backend Development, Databases, and APIs"

[2020-12-21 07:38] RishiRajSahu opened #4220 "Re-enable the "Work Manager" link button inside of Connect"
We need to re-enable the "Work Manager" link button inside of Connect, to help give users a more streamlined workflow experience from the project. I know we previously had the link there and hide it, so I just think we need to unhide it.

@acshields

[2020-12-21 07:39] RishiRajSahu commented on #4220
Done via https://github.com/appirio-tech/connect-app/pull/4217

[2020-12-21 07:39] #4220 closed

[2020-12-21 07:53] RishiRajSahu commented on #4180
Done.

[2020-12-21 07:53] #4180 closed

[2020-12-21 13:44] maxceem opened #4222 "Project Plan: Phase Set-Up & Editing + Milestone Types"
This issue is to combine all the work which has to be done by 2 issues:
- Project Plan: Phase Set-Up & Editing https://github.com/appirio-tech/connect-app/issues/4057
- Project Plan: Milestone Types https://github.com/appirio-tech/connect-app/issues/4083

As we combine all the work done in both these tickets, here we could track all the issues during QA.

This was implemented by 2 challenges:
- ht

[2020-12-21 13:53] maxceem commented on #4222
Known issues:
1. When we create a new phase and click "Publish" the first milestone should be activated immediately, but it doesn't get get activated.
2. When I activate the existent phase, sometimes it activates not the first milestone https://monosnap.com/file/hjFyxnaMqYyrc3nq5vipTnOnXXhdUU

[2020-12-22 12:35] maxceem commented on #4145
Resolution:
- Not fix needed here
- user should have role Connect Manager role to see a project without joining according to https://github.com/appirio-tech/connect-app/issues/4135
   - so BDR role is not enough to see a project without joining
- role `Connect Manager` is already enough to see saleseforce link
  - so at the end, BDR role doesn't add more privileges. If we need a user to see salase

[2020-12-22 13:05] drasticdpk commented on #4183
@maxceem ,
For point 1, I want to verify with **Copilot Manager** Role (topcoderconnect+copilotmanager@gmail.com), how can I check this user has  Connect Manager Role or not ?
If not, how can I add the new Role ?

[2020-12-22 13:13] maxceem commented on #4183
To check user role you may use https://jwt.io/
- Copy token from Dev Tools https://monosnap.com/file/MZSpX287ckmRrjirsGAgYLw3dWctKR.
- Paste it to https://jwt.io/ https://monosnap.com/file/ZwX5ecBfpc3efNfsOhy63zL1zEwFGA

You may use `pshah_manager` user for testing. It has `Connect Manager` role.

You can ask Lakshmi, me or Rishi.

[2020-12-22 13:29] lakshmiathreya commented on #4183
topcoderconnect+copilotmanager@gmail.com doesn't have Connect Manager role.

On Tue, Dec 22, 2020 at 6:44 PM maxceem <notifications@github.com> wrote:

[2020-12-22 15:34] drasticdpk commented on #4183
Thank you @maxceem @lakshmiathreya .
sure for now I will use **pshah_manager** for testing purpose.

[2020-12-22 16:25] lakshmiathreya commented on #4183
pshah_manager is Connect Manager and Copilot ... not sure if this is a good user for testing ...

[2020-12-22 19:44] acshields commented on #4214
Recapping next steps coming from this morning's conversation:

**Clarification 1**
It has been reconfirmed through many layers of the company by both Matt and Ariel that although today in Direct we support the option for having multiple billing accounts on a project, we do not need to with Projects App/Work Manager flow in the future. Moreover, the working idea of having a 1:1 relationship between

[2020-12-23 09:20] drasticdpk commented on #4057
1. Label of button  **[Add New Phase]**  instead of  **[Add Phase]**
2. Getting Error while publishing the drafted phase.

**Reference**
Project : https://connect.topcoder-dev.com/projects/16820
User : **TCConnCopilot**

![image](https://user-images.githubusercontent.com/25297859/102980357-9295c380-452f-11eb-8b98-82f27602bb4f.png)
![image](https://user-images.githubusercontent.com/25297859/1029806

[2020-12-23 09:32] maxceem commented on #4057
Thanks @drasticdpk we would check this issue. Note, this only would happen if the project is not activated yet.

To continue testing with copilot user, please, activate the challenge using `Connect Manager`. After that, you should be able to publish the draft phase succesfully.

[2020-12-23 11:00] maxceem opened #4225 "Copilot permission for Project Status"
At the moment copilot can edit project status.

![image](https://user-images.githubusercontent.com/146016/102988689-fbc00b80-451c-11eb-986e-d897dc362ebf.png)

Visually it looks like copilot can update project to any status, but in reality if copilot tries to change project to "active" it would fail, see https://github.com/appirio-tech/connect-app/issues/4057#issuecomment-750031790

- I suggest rev

[2020-12-23 11:13] drasticdpk commented on #4057
Thank you @maxceem.

[2020-12-23 11:30] drasticdpk commented on #4083
**Verification**

 milestone type:  "Reporting"

![image](https://user-images.githubusercontent.com/25297859/102991956-67689f80-4542-11eb-9d2f-d86f470271a5.png)

![image](https://user-images.githubusercontent.com/25297859/102991833-1f497d00-4542-11eb-97b4-20df960e03c3.png)

[2020-12-23 12:10] maxceem commented on #4225
Additional note.
At the moment we have functionality - when we publish any phase and project is not yet active, we change project status to active. Copilots can publish phases, but copilots cannot activate project which leads to this issue https://github.com/appirio-tech/connect-app/issues/4057#issuecomment-750031790

To fix this issue, when we publish phase by copilot we no longer activate the pr

[2020-12-23 12:21] maxceem commented on #4057
@drasticdpk fyi this issue https://github.com/appirio-tech/connect-app/issues/4057#issuecomment-750031790 is fixed now.

If copilot publish phase, and project is not active yet, project stays not activated. I've logged in separate issue to track it https://github.com/appirio-tech/connect-app/issues/4225

[2020-12-23 12:27] maxceem commented on #4083
@RishiRajSahu at the moment for new milestone types we are still showing planned/active/completed text.
For now we add milestones with dummy texts:

![image](https://user-images.githubusercontent.com/146016/102995887-a985e700-452a-11eb-9529-9f8930306036.png)

We also, allow editing these texts for backward compatibility:
![image](https://user-images.githubusercontent.com/146016/102995931-c3272e80-

[2020-12-23 13:45] RishiRajSahu commented on #4083
@acshields we would like your input on above, in new designs I don't see these texts used though.

[2020-12-23 13:57] drasticdpk commented on #4083
@maxceem ,

-  I could not find submission, feedback link on  **Deliverable Review**  please help me on that ?

![image](https://user-images.githubusercontent.com/25297859/103001790-c5eb4900-4555-11eb-8ac6-56608c7f5c6e.png)

There is some mismatch on **Deliverable Review** , start date and end date please confirm.

**Reference**
Project : https://connect.topcoder-dev.com/projects/16820
User : TCCo

[2020-12-23 14:40] maxceem commented on #4083
@drasticdpk could you please, clarify what is the mismatch?

By the way, did you create this milestone just now, or you created it some time ago? Because we have validation so we should not be able to choose start date after end date:

![image](https://user-images.githubusercontent.com/146016/103008241-7e58c300-453d-11eb-971d-0769e10cac24.png)

But in your video start date somehow after the end da

[2020-12-23 15:05] drasticdpk commented on #4145
@maxceem ,

For BDR (After Joining the project)

![image](https://user-images.githubusercontent.com/25297859/103010433-778f7780-4560-11eb-9b4e-2ec1faef838e.png)

For  **Connect Manger**  Role

![image](https://user-images.githubusercontent.com/25297859/103009753-5bd7a180-455f-11eb-9ddc-3695bcf5d00b.png)

![image](https://user-images.githubusercontent.com/25297859/103009949-9e00e300-455f-11eb-8cb4-

[2020-12-23 15:13] acshields commented on #4083
@maxceem @RishiRajSahu - Let's keep the different state texts for now. Use this default language:

**Reporting Milestone**
Default Text: The delivery team will provide an update on your progress.

**Deliverable Review**
Planned Default Text: The delivery team plans to share in-progress deliverables on this date for your review.
Active Default Text: Your review and feedback on in-progress deliverab

[2020-12-23 15:22] drasticdpk commented on #4222
1. Unable to add attachment > Reporting > Specification

![image](https://user-images.githubusercontent.com/25297859/103011351-dd303380-4561-11eb-98a6-1498a8f62008.png)

2. Completed text is missing

![image](https://user-images.githubusercontent.com/25297859/103011890-ce964c00-4562-11eb-9d01-4241f1a55519.png)

Project : https://connect.topcoder-dev.com/projects/16820
Phase : **4222 phase1**

[2020-12-24 07:46] RishiRajSahu commented on #4225
@maxceem from the code it looks we are now using centralized method of permissions unable to find any specific change in the code https://github.com/appirio-tech/connect-app/commit/b05991fbcc31642b190810fc1fc2e3d8f902a7af which fix the issue, So what will be the behaviour now,

1. Copilot can publish the phase but project will not be activated , or
2. Copilot can publish the phase but project will

[2020-12-24 07:50] drasticdpk commented on #4083
@maxceem ,
I just created all milestone.

[2020-12-24 07:54] maxceem commented on #4225
@RishiRajSahu after the fix behavior is like:
1. Copilot can publish the phase but project will not be activated

[2020-12-24 08:09] RishiRajSahu commented on #4225
@maxceem for now it looks good, but let's keep this open I will discuss with @acshields

[2020-12-24 08:19] maxceem commented on #4083
Thanks, @drasticdpk. This is now fixed by 871099c1835b57e2db855d7368cc592a5b6de5e1. Could you please, check this now.

[2020-12-24 08:52] drasticdpk commented on #4183
**Verification**
1. **Customer**
![image](https://user-images.githubusercontent.com/25297859/103073956-b0772d00-45f0-11eb-9d53-6de6bf949cfb.png)

2. **Admin**
Can remove:

![image](https://user-images.githubusercontent.com/25297859/103074216-4448f900-45f1-11eb-8e65-ec624f2f10a6.png)

Copilot got the notification.
![image](https://user-images.githubusercontent.com/25297859/103074367-8c681b80-45f1-1

[2020-12-24 08:54] maxceem commented on #4083
Thank you @acshields for texts for the milestones. There is one more milestone type **Final Fixes**. When customer already provided feedback and copilot prepares the final-final deliverables:

![image](https://user-images.githubusercontent.com/146016/103076355-39349f80-45d6-11eb-8878-d283288dc1dc.png)

Would you like too use different text for this milestone?

[2020-12-24 09:01] maxceem commented on #4222
There is one more issue on the Project Service:
- Actual Start Date is not set for the first milestone when we publish phase during creating https://github.com/topcoder-platform/tc-project-service/issues/604

[2020-12-24 09:09] drasticdpk commented on #4183
@maxceem still **Copilot Managers** able to see "search handle/invite copilot", please confirm.
**Reference** :
https://monosnap.com/file/TWZJkVAytj8JoMr0UbixN3WR9rIzW7

[2020-12-24 09:18] maxceem commented on #4183
@drasticdpk that's exactly what is needed, just other words ;-)

Sum up:
- **Copilot Managers** and admins **should** see "search handle/invite copilot"
- other users should **not** sse "search handle/invite copilot"

[2020-12-24 09:44] drasticdpk commented on #4183
Ok noted @maxceem

[2020-12-24 10:09] maxceem commented on #4222
@drasticdpk

There would be no file uploading. Please, create a new phase, we no more add this field.

We implemented this text as per https://github.com/appirio-tech/connect-app/issues/4083#issuecomment-750343875

Could you please, check now.

[2020-12-24 10:16] RishiRajSahu commented on #4203
@lakshmiathreya @drasticdpk this must also valid, as this is covered via new phase/milestone logic. Let me know if anything as per the description doesn't holds.

[2020-12-24 10:21] maxceem commented on #4203
@RishiRajSahu this is not implemented yet.

[2020-12-24 10:23] maxceem commented on #4222
This is fixed client side by 673f7ed1e23ddbe89978ec3ae64457afc3f2caaf

[2020-12-24 10:28] drasticdpk commented on #4222
**Verified**.

![image](https://user-images.githubusercontent.com/25297859/103082696-d5749b80-4602-11eb-9ae2-d93466e6b9fd.png)

[2020-12-24 11:35] maxceem commented on #4203
@RishiRajSahu Done via ccf55e95dc7cbbaea0a89c7fe9daa07463374e19

![image](https://user-images.githubusercontent.com/146016/103086105-58d6c280-45ec-11eb-9cfd-d35f04bac24e.png)

Have one concern. If the last milestone date is passed, but the milestone itself is not completed. How should we show phase in such a case:

![image](https://user-images.githubusercontent.com/146016/103086179-976c7d00-45ec-1

[2020-12-24 11:36] maxceem commented on #4203
2. The second question. Now instead of "Active" status we are showing progress indicator. Should we change this somehow?

![image](https://user-images.githubusercontent.com/146016/103086319-fe8a3180-45ec-11eb-9972-193baec2536b.png)

[2020-12-24 11:53] lakshmiathreya commented on #4083
Date Issue is now fixed ... Verifying the other items ...

[2020-12-24 12:01] maxceem commented on #3568
Case with underscore https://github.com/appirio-tech/connect-app/issues/3568#issuecomment-665669128
Fixed by 894ce6abfab64a33398cb69ba2a00d32ba2d9fa4

[2020-12-24 12:16] maxceem commented on #4203
After discussion with Rishi on Slack, showing "Active" label under the progress indicator for active phases as we don't have an icon:

![image](https://user-images.githubusercontent.com/146016/103088163-9cccc600-45f2-11eb-8f87-51fff908d78f.png)

[2020-12-24 12:18] RishiRajSahu commented on #4203
@maxceem Few scenarios to mention -
1. Last date of phase is passed but still there are uncompleted milestone(s).
2. Last date of last milestone is passed i.e. its completed but phase's end-date still not passed.

If we are leaving the phases and milestones to be fully managed by user that should be user's responsibility to manage dates

Let's add active text below the progress indicator

[2020-12-24 12:20] maxceem commented on #4203
@RishiRajSahu does it mean that we should leave it as it is?

![image](https://user-images.githubusercontent.com/146016/103088331-2aa8b100-45f3-11eb-93b1-e2a30aadc4f2.png)

[2020-12-24 12:45] RishiRajSahu commented on #4203
@acshields should we let it upto user to correctly manage dates ? or could you suggest some other logic for phase completion ?
Currently phase dates are managed as below on UI

[2020-12-24 19:04] acshields commented on #4225
@maxceem @RishiRajSahu -

Trying to catch up on this one. If I am understanding things right, then:
1. I thought we had removed the requirement for at least one phase to be "published" (planned/active in our old model) before the project can be moved to "Active" status. If it's still in place, then we should remove this requirement so that a project can be moved to "Active" status at any time.
2.

[2020-12-24 19:07] acshields commented on #4083
@maxceem - the language used for the final fixes milestone shown above is fine. Thanks!

[2020-12-24 19:12] acshields commented on #4203
@RishiRajSahu - Please follow-up to let me know where I may be off-base here, but here are my thoughts:
I want the user to manage the dates (re: our previous conversations on not trying to over-complicate the logic).
However, I wonder whether we can have these two automations in place for the overall status:
1) On the start date (first milestone start date), the phase moves to "Active"
2) On the e

[2020-12-25 04:28] lakshmiathreya commented on #4203
cc @drasticdpk
@RishiRajSahu @maxceem - Acc to Phase Status logic rules - this phase should be in Planned actually - it moved to Planned just momentarily and moved to Active after that... Also, start date of Phase doesnt match actual Start date of First Milestone ...
<img width="1680" alt="Screenshot 2020-12-25 at 9 52 28 AM" src="https://user-images.githubusercontent.com/51733042/103119031-8e84b5

[2020-12-25 04:36] lakshmiathreya commented on #4203
Moving Status to Completed only based on Date - despite incomplete Milestones - need to review - not sure if that's the right logic ...
<img width="1680" alt="Screenshot 2020-12-25 at 10 04 42 AM" src="https://user-images.githubusercontent.com/51733042/103119299-d48e4900-4698-11eb-852b-91f6b241402b.png">

[2020-12-25 09:38] drasticdpk commented on #4203
Agreed with @lakshmiathreya .
@maxceem  can you please us to sum up the requirement, will test accordingly.
Today default milestone also not created for for planned phase.
![image](https://user-images.githubusercontent.com/25297859/103130493-02898280-46c5-11eb-9284-deadb3d872e5.png)
@maxceem  -ve testing and exploratory testing result will share on different issue is it fine. ? cc @lakshmiathreya

[2020-12-25 10:07] maxceem commented on #4203
At the moment to show phase dates we use dates from milestones and we ignoring dates in the phase:

![image](https://user-images.githubusercontent.com/146016/103131370-28a12980-46a9-11eb-8114-edd76dd65f4d.png)

![image](https://user-images.githubusercontent.com/146016/103131402-4b334280-46a9-11eb-9071-fc361fde8203.png)

This is the logic we previously had with old milestones and we just keep it fo

[2020-12-25 10:10] maxceem commented on #4203
@drasticdpk good catch, this is a known issue that happens from time to time and we are trying to track it. This is listed here https://github.com/appirio-tech/connect-app/issues/4222#issuecomment-748984627 - issue 4.

When you have this issue please report the **projectId** and **phase** where you've got it. Also, please, note the time when you had it, so we would track it server logs.

[2020-12-25 12:43] drasticdpk commented on #4203
@maxceem ,
Here is my finding

**Reference**  : https://monosnap.com/file/hF2KVLNC1X5TI87XjiCl0GAw9KMs4y
So, if you put future date for phase but not reporting milestone, we are having this issue.
Possible solution > to overcome this issue, Can we make a system, where phase start date <= Reporting Milestone  start date ?
Note : I noticed page is not autoloading while creating planned phase. See vi

[2020-12-26 06:28] RishiRajSahu commented on #4203
@maxceem regarding this https://github.com/appirio-tech/connect-app/issues/4203#issuecomment-750856925 got confirmation from @acshields
```Let's let the user handle it. If something was missed, they can still edit the date and the phase will just revert from "Complete" to "Active" until the new end date arrives.```

[2020-12-26 10:28] maxceem commented on #4203
So as I understand user is responsible for controlling it, and we don't have to fix it in UI. If such situation happens, it's responsibility of the user to update the last milestone date, so the phase is shown as "Acitve" instead of "Completed".

@RishiRajSahu @acshields could you also, please, review this https://github.com/appirio-tech/connect-app/issues/4203#issuecomment-751225492. As it's rela

[2020-12-26 11:27] RishiRajSahu commented on #4203
@maxceem mentioning this
```when creating the phase the start date for the first milestone i.e. the default reporting milestone is same as the start date of the phase created ```
and as user has full control over managing dates now, let's go with option 2.

[2020-12-26 12:05] maxceem commented on #4203
Thank you, @drasticdpk. It's fixed now, you may try again.

[2020-12-26 12:10] maxceem commented on #4203
when creating the phase the start date for the first milestone i.e. the default reporting milestone is same as the start date of the phase created

If we prefer giving full control over managing dates to the user, then on the second though I think there is option 3:
- Keep it as it is: we are showing dates based on milestones as we do now. And user can update phase dates to keep it in sync with mi

[2020-12-28 05:37] lakshmiathreya commented on #4203
Accepting that current implementation is as expected based @acshields inputs on Slack. Allowing User to control Phase status via dates.

[2020-12-28 06:29] RishiRajSahu commented on #4225
@acshields
1. You are right we removed that dependency on phase, but we do have a feature that if project is not active and if any phase is marked active/publish the project will automatically move to active.
2. @maxceem we have to update according to this.

[2020-12-28 06:30] RishiRajSahu commented on #4225
@maxceem as per latest update we would need point 2 from here https://github.com/appirio-tech/connect-app/issues/4225#issuecomment-750792437

[2020-12-28 09:07] drasticdpk commented on #4083
@maxceem  There is console error at Review complete!

**Reference** :

Project : https://connect.topcoder-dev.com/projects/16831

User Use.
**Copilot :** TCConnCopilot
**Customer :** TopConnCustomer

Video : https://monosnap.com/file/CCDwo0pLm4lTsBhN6inkXKmO5T9Z38

![image](https://user-images.githubusercontent.com/25297859/103201336-c8fc8580-4917-11eb-9e0d-d957cfbee22e.png)

[2020-12-28 09:12] drasticdpk commented on #4083
**Suggestion**
What if fixation was not done at first request, Customer can make re-request, right ?
 https://snipboard.io/RaHyrO.jpg

[2020-12-28 10:30] maxceem commented on #4225
1. Is done via 754d851a0383f701ee5192e086c7f7123709b705 in Connect App and via https://github.com/topcoder-platform/tc-project-service/commit/819d4479f0defedd05198a5f78a63b70ce5424d2 in Project Service

   - **QA**: if Copilot publish phase, in non-active project, then project should activated automatically.

2. Is done via 02b67c894041ac251e0a2e6ec6bd24c9158f1b4d in Connect App

    - **QA** Copi

[2020-12-28 12:19] maxceem commented on #4083
This is fixed via e26fe83639ee8704d5d3ae103f4b7b65814759c5 and read for QA.

Details:
- We had the next logic: when any user completes the last milestone, we automatically change the current phase status to `completed`. But customers cannot change phase status in API so the error happened. As per new requirements we would track phase status using current time instead of the actual status see https

[2020-12-28 13:31] RishiRajSahu opened #4227 "Should we provide link/submission type to be chosen by user"
As per designs here https://marvelapp.com/prototype/beidbdi/screen/75340090 submissions do not support any icon for the type of link shared, for now we are also not going to show any icons for the submissions in new project-plan.
Creating this issue just to keep track of this info and any change required in future.

fyi @acshields @maxceem

[2020-12-28 13:40] drasticdpk commented on #4083
Verified.
https://monosnap.com/file/Qk9Ik11VdXQTtyfFDXNhqI4lbOeoRY

[2020-12-28 13:42] RishiRajSahu opened #4228 "Phases and Product-templates"
Currently the phases are heavily dependent on product we link it with, for example -
- for example, timelines inside phases reference to the products no to the phases itself https://github.com/appirio-tech/connect-app/blob/feature/generic-phases-with-new-milestone-types/src/projects/actions/productsTimelines.js#L125 and https://github.com/appirio-tech/connect-app/blob/feature/generic-phases-with-n

[2020-12-28 14:08] drasticdpk commented on #4225
**Verified**

https://monosnap.com/file/njyvL1tmbydDE6vU1HMvllcLyGryr8

[2020-12-29 09:24] drasticdpk opened #4230 "Let's Make Active project as default listing tab"
As user, I want to see active list of project rather than All ( And very few chance to see completed/Cancelled/Paused project ). So let's move All tab to end section.
cc @acshields

**Reference :**

![image](https://user-images.githubusercontent.com/25297859/103273401-535fea80-49e7-11eb-84de-fd384edfacdc.png)

[2020-12-29 10:34] drasticdpk opened #4231 "Description Update for Build Your Project Plan"
**Reference**

![image](https://user-images.githubusercontent.com/25297859/103277606-89a26780-49f1-11eb-9002-c557d8208c67.png)

@maxceem, is it configurable form DB ?

[2020-12-29 10:36] maxceem commented on #4231
No, this is hardcoded inside the code.

[2020-12-29 12:21] drasticdpk opened #4234 "[$35] User can update same Project Status"
User can update same Project Status ( eg Active to Active )

**Reference**
https://monosnap.com/file/8FJS03n4OEFbVNZdl54gslmi5njyfe

 At Project listing page too.
![image](https://user-images.githubusercontent.com/25297859/103283318-5a472700-4a00-11eb-9845-987f67784014.png)

[2020-12-29 12:29] drasticdpk opened #4235 "Year should be display if the date is next year."
Create the phase for next year and observe the Year.
**Reference**

![image](https://user-images.githubusercontent.com/25297859/103283746-79928400-4a01-11eb-97b6-ed29c1c87e03.png)

[2020-12-29 12:49] drasticdpk opened #4236 "[$45] If we change status on the project listing then customer topcoder users disappear"
**Reference**
![image](https://user-images.githubusercontent.com/25297859/103284847-7ea50280-4a04-11eb-91b0-c9aef9257a49.png)

[2020-12-29 15:01] acshields commented on #4230
Hi @drasticdpk - I agree with you whole-heartedly. I have a new design for the "all projects" view in Projects App (Connect), which is focused on doing the following:
1. Having a non-archived (projects in in-review, reviewed, active, and on-hold status) and archived (completed, and canceled status)  switching mechanism for the projects table, which quickly cuts out the clutter.
2. The table will b

[2020-12-29 15:12] acshields commented on #4235
@drasticdpk - this is a good observation, and will be solved with new designs we are planning. For now, we won't fix the current UI/functionality.

[2020-12-29 15:13] acshields commented on #4234
@drasticdpk - good catch. we will get this resolved.

[2020-12-29 15:15] acshields commented on #4231
@drasticdpk - this will be resolved with the new project plan UI. For now, we will not fix this until we can implement the new designs.

[2020-12-29 15:25] acshields commented on #4210
@maxceem - good catch. I have new designs for project team management, which also includes this capability, but I don't know when the new design implementation will get prioritized.

@maxceem @RishiRajSahu - Is implementing the capability for Copilots to remove themselves from a project something that we can get done (released) prior to 1/15 in your opinion? (I am tagging this to January for now,

[2020-12-29 15:28] acshields commented on #4209
@maxceem @RishiRajSahu - is this a fix we can get done before 1/15? Right now, I am tagging this to January, but depending on your response I may deprioritize.

[2020-12-29 15:31] acshields commented on #4141
@maxceem @RishiRajSahu - can this be resolved before 1/15?

[2020-12-29 15:35] acshields commented on #4206
@RishiRajSahu - do you think these changes can be accomplished before 1/15? If not, I will deprioritize from January for now (re: our new "project proposal" process that is kicking off in Prod/Dev at the start of the new year).

[2020-12-29 15:40] acshields commented on #4199
@maxceem - I see your note above. Is there anything for us to fix inside of Projects App at this time? Wondering if I should tag it to January if there A) is something we need to do and B) we can get it done before 1/15.

CC @RishiRajSahu

[2020-12-29 15:41] acshields commented on #4192
@maxceem @RishiRajSahu - is this something we can accomplish before 1/15?

[2020-12-29 17:05] #4081 closed

[2020-12-29 17:05] #4196 closed

[2020-12-29 17:05] #3568 closed

[2020-12-29 17:05] #4145 closed

[2020-12-29 17:05] #4225 closed

[2020-12-29 17:06] #4183 closed

[2020-12-29 17:06] #4203 closed

[2020-12-29 17:06] #4057 closed

[2020-12-29 17:06] #4083 closed

[2020-12-29 17:09] RishiRajSahu commented on #4205
@acshields moving it to Jan as this will go with TaaS app release.

[2020-12-29 17:15] acshields opened #4237 "[$20] Hide Spec Tab on Project Plan"
Hide the spec tab on project plan phases for all users.

[2020-12-30 02:40] drasticdpk commented on #4230
HI @acshields , thank you for the information. Yes please share me re-design, As enduser I can explore it and give the feedback for anything.

[2020-12-30 08:54] maxceem commented on #4237
@acshields should we hide this tab for all phases including old ones? I'm not sure if users previously actively used that tab or no.

[2020-12-30 08:56] maxceem commented on #4192
I think no @acshields. This task still requires some research for implementation. Anyway, this is only to improve Metadata editing experience for admins, it doesn't block any functionality.

[2020-12-30 08:58] maxceem commented on #4199
@acshields I forgot to close this issue in Connect App, it was solved in the Auth lib https://github.com/topcoder-platform/tc-auth-lib/issues/98. So I'm closing this one.

[2020-12-30 08:58] #4199 closed

[2020-12-30 08:59] maxceem commented on #4209
@acshields Yes, I would prefer to fix it as soon as possible to avoid breaking messages for customers.

[2020-12-30 09:02] maxceem commented on #4210
@acshields thank you for sharing details of a new process.

I think this should be quite fast to fix, as we already have all the UI, and we just have to show it to copilots so they could remove themself.

[2020-12-30 16:12] acshields commented on #4230
@drasticdpk - here is the desktop design. The Copilot view of this starts on Screen 8!
https://marvelapp.com/prototype/2714e8ag/screen/75533886

[2020-12-30 17:11] acshields commented on #4237
@maxceem - I am not aware of the spec tab being a heavily used feature, but I don't want to mess up anyone's work if they were using it. Is it possible to only hide the spec tab on the new phases? If we do that, what are the downsides from a functional end?

[2020-12-30 17:12] acshields commented on #4192
Thanks for the feedback @maxceem - I will remove from our January backlog and we can look at this at a later point.

[2020-12-30 17:13] acshields commented on #4199
Awesome - thanks, @maxceem!

[2020-12-30 17:14] acshields commented on #4209
I am good with that. Let's get this in motion ASAP. As a reminder, this will need to be done before or by 1/15 :)

[2020-12-30 17:15] acshields commented on #4210
@maxceem - awesome. Let's get this one in motion then! As a reminder, it will need to be done by 1/15 :)

[2020-12-30 17:17] maxceem commented on #4237
@acshields I think we can hide it only for new phases created the new way we've just implemented. I don't see any downsides of such approaches.

@RishiRajSahu do you think it would be ok to hide spec tabs only for the new phases using the ProductTemplateId which we configure?

[2021-01-04 08:34] maxceem commented on #4141
@gondzo I've tried to set the country `Bosnia and Hercegovina` (with `v`) in Connect UI and it works good for me:

![image](https://user-images.githubusercontent.com/146016/103515518-8981ec00-4e77-11eb-834b-87ddadc5c20b.png)

As I understand the issue happened to you was like this:
- Some TC service set country to `Bosnia & Herzegowina` (with `w`) for you.
- When you tried to update other profile

[2021-01-04 08:51] maxceem commented on #4210
Sum up:
1. Use `pshah_copilot` user for testing. Note, that we already have all the UI and dialogs implemented. We only have to check permissions and show them for copilots.

2. For copilot add "view" link for Copilot Team, the same like for other teams:
    - To detect if we have to show "view" link for Copilot you may add a new permission like `PERMISSIONS.VIEW_COPILOTS` which would be the same

[2021-01-04 08:54] maxceem commented on #4205
@RishiRajSahu as we have another task with much more wast changes https://github.com/appirio-tech/connect-app/issues/4206, should we close the current ticket and only implement what is described in another task?

[2021-01-04 09:00] maxceem commented on #4237
Sum up:

1. We have to hide `Specification` tab only for new phase.
2. All the new phase's products have been created using ProductTemplate with id `PHASE_PRODUCT_TEMPLATE_ID`
3. So we can hide `Specification` tab for phases only if the `phase.product[0].templateId === PHASE_PRODUCT_TEMPLATE_ID`

     ![image](https://user-images.githubusercontent.com/146016/103518127-dd8ecf80-4e7b-11eb-92f1-cf8c1

[2021-01-04 09:06] maxceem commented on #4206
@RishiRajSahu if I understand it correctly, from the code point of view we have to create a new component for entering Jobs instead of Talents as per the description of these 2 screens and the rest can be done by editing Project Template in Metadata:

     ![image](https://user-images.githubusercontent.com/146016/103518549-a371fd80-4e7c-11eb-9962-2e9245e3f35c.png)

     ![image](https://user-image

[2021-01-04 09:10] maxceem commented on #4206
@RishiRajSahu one question I have: should we remove the existing big field for **Job Description**, as we are adding another **Job Description** field on the first line?

[2021-01-04 09:38] drasticdpk commented on #4222
Prod Verified.

![image](https://user-images.githubusercontent.com/25297859/103521368-bac2e200-4ea0-11eb-87dc-50e6acc30a89.png)

[2021-01-04 09:38] #4222 closed

[2021-01-04 10:11] drasticdpk commented on #4225
**Verified on Prod Env.**

![image](https://user-images.githubusercontent.com/25297859/103524298-6bcb7b80-4ea5-11eb-8d8a-a40b3d620e48.png)

[2021-01-04 10:16] drasticdpk commented on #4203
**Prod verification**

![image](https://user-images.githubusercontent.com/25297859/103524705-1e9bd980-4ea6-11eb-8819-3307be401742.png)

[2021-01-04 10:19] drasticdpk commented on #4145
**Prod Verification**
I am testing this scenario with copilot acc too.
![image](https://user-images.githubusercontent.com/25297859/103524929-7df9e980-4ea6-11eb-97bd-0c9c48d668bf.png)

[2021-01-04 10:46] drasticdpk commented on #4083
Prod Reference

![image](https://user-images.githubusercontent.com/25297859/103527302-3d03d400-4eaa-11eb-953e-525f35d43ab1.png)

[2021-01-04 10:50] drasticdpk commented on #4057
Prod verified.

![image](https://user-images.githubusercontent.com/25297859/103527664-cddaaf80-4eaa-11eb-955a-dcb157b6c36e.png)

[2021-01-04 10:53] drasticdpk commented on #3568
Prod verified.

![image](https://user-images.githubusercontent.com/25297859/103527934-345fcd80-4eab-11eb-85d5-e1514e753795.png)

[2021-01-04 11:03] RishiRajSahu commented on #4205
@maxceem agree #4206 is bigger piece but that doesn't contain requirement of removing optional skills, so Let this ticket open. I will add the optional-skills removal there also.

[2021-01-04 11:04] RishiRajSahu commented on #4206
@maxceem yes let's remove it and also remove optional skills field too.

@acshields we are removing the redundant job-description field from the component.

[2021-01-04 13:03] maxceem commented on #4206
@RishiRajSahu do we have any ProjectTemplate which you would like to use on DEV for this?

I think we would name a new component for the jobs as `job-picker` (`JobPickerQuestion`) instead of `talent-picker`/`talent-picker-2` (`TalentPickerQuestion`/`TalentPickerQuestionV2`).

[2021-01-04 13:04] maxceem commented on #4194
Contest https://www.topcoder.com/challenges/30161150 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 13:05] maxceem commented on #4237
Contest https://www.topcoder.com/challenges/30161151 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 13:05] maxceem commented on #4236
Contest https://www.topcoder.com/challenges/30161152 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 13:05] maxceem commented on #4234
Contest https://www.topcoder.com/challenges/30161153 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 13:05] maxceem commented on #4210
Contest https://www.topcoder.com/challenges/30161154 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 13:06] maxceem commented on #4209
Contest https://www.topcoder.com/challenges/30161155 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 13:08] RishiRajSahu commented on #4206
@maxceem feel free to duplicate the one we are using in dev for taas.

[2021-01-04 13:34] yoution commented on #4236
@maxceem please assign to me

[2021-01-04 13:44] nqviet commented on #4237
@maxceem please assign this issue to me

[2021-01-04 13:45] maxceem commented on #4237
Contest https://www.topcoder.com/challenges/30161151 has been updated - it has been assigned to nqv2018.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 13:46] maxceem commented on #4236
Contest https://www.topcoder.com/challenges/30161152 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 15:19] yoution commented on #4234
@maxceem please assign to me

[2021-01-04 15:34] yoution commented on #4234
![image](https://user-images.githubusercontent.com/3863914/103551398-3fcfea80-4ee5-11eb-9b78-eb5e162507ff.png)
should also add the tooltip? what 's the  content in the tooltip?

[2021-01-04 15:37] yoution commented on #4194
@maxceem please assign to me

[2021-01-04 15:50] yoution commented on #4236
@maxceem please review

[2021-01-04 16:15] yoution commented on #4194
![image](https://user-images.githubusercontent.com/3863914/103555371-1dd96680-4eeb-11eb-9fdf-e318efaac399.png)
@maxceem  how about the ui?

[2021-01-04 16:58] nqviet commented on #4237
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/4239 is ready for review

[2021-01-04 17:09] nqviet commented on #4210
@bug-bash-helper assign

[2021-01-04 17:11] nqviet commented on #4210
@maxceem please assign this issue to me

[2021-01-04 21:28] maxceem commented on #4210
Contest https://www.topcoder.com/challenges/30161154 has been updated - it has been assigned to nqv2018.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 21:29] maxceem commented on #4194
Contest https://www.topcoder.com/challenges/30161150 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 21:30] maxceem commented on #4194
@yoution can we try making the first line inside buttons 2 times bigger. Otherwise looks to me.

[2021-01-04 21:31] maxceem commented on #4234
Contest https://www.topcoder.com/challenges/30161153 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 21:33] maxceem commented on #4234
@yoution no, the option should look the same as now. Just make the cursor as default instead of a hand. And when we click it, nothing should happen.

[2021-01-04 23:05] Gauravseta commented on #4209
@maxceem please assign to me

[2021-01-05 00:13] yoution commented on #4194
@maxceem please review

[2021-01-05 01:03] yoution commented on #4234
@maxceem please review

[2021-01-05 04:33] nqviet commented on #4210
@maxceem PR https://github.com/appirio-tech/connect-app/pull/4243 is ready

[2021-01-05 06:07] Gauravseta commented on #4209
@bug-bash-helper please assign to me

[2021-01-05 09:51] maxceem commented on #4209
Sorry @Gauravseta this issue is open only for a few members as a private task. It is not opened for the public this time.

[2021-01-05 10:13] vikasrohit commented on #4214
I guess it is rather doing wrong thing first and then correcting it later. I mean we are already having 1:1 relationship in v5 projects so if we go backwards to support multiple ones, it would be more difficult to reach the ultimate goal in future.

If we are now sure that we need 1:1 mapping between project and BA, solution is pretty simple. Just update the challenge api to read BA information fr

[2021-01-05 11:30] maxceem commented on #4206
Sum up:
- At the moment we have a form for selecting talents https://connect.topcoder-dev.com/new-project/talent-as-a-service which looks like this when we are selecting talents:

   ![image](https://user-images.githubusercontent.com/146016/103640449-b5c16980-4f58-11eb-8b74-c39f8c5137f4.png)

   - This question for selecting talents has type [talent-picker-v2](https://github.com/appirio-tech/conne

[2021-01-05 11:32] maxceem commented on #4206
Contest https://www.topcoder.com/challenges/30161295 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 11:32] maxceem commented on #4206
@yoution @nqviet this is open for pick up.

[2021-01-05 11:51] yoution commented on #4206
@maxceem  please assign to me

[2021-01-05 11:53] maxceem commented on #4206
Contest https://www.topcoder.com/challenges/30161295 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 11:55] maxceem commented on #4206
@yoution assigned.

One important thing, we have to use another branch for this issue: `feature/taas-jobs-2`.

If you have any questions, please, let me know.

[2021-01-05 12:25] RishiRajSahu commented on #4206
@acshields regarding this https://github.com/appirio-tech/connect-app/issues/4206#issuecomment-753911001, Could you please confirm that we need description field for jobs ? Its not clear in the slides whether -
1. We need to have a name field with default value of project name and could be updated with description of job by user ? or
2. Name field and description fields are separate fields, and na

[2021-01-05 12:26] maxceem commented on #4237
@RishiRajSahu I've noticed one detail:

![image](https://user-images.githubusercontent.com/146016/103646047-ae528e00-4f61-11eb-99ab-8e629c83afbf.png)

Actually, we should not create phases automatically on project creation as such phases has milestones type we don't want to use anymore. So we need to make sure that all enabled template doesn't have phase configured.

[2021-01-05 12:35] RishiRajSahu opened #4244 "Disable Auto-phase creation for all project-types"
There are some project types for eg. TaaS which. have predefined set of phases to be created on project creation, with the latest release of ability to add generic phase and customisable milestones it would be good to have that auto phase creation disabled

fyi @acshields @vikasrohit @maxceem

[2021-01-05 12:35] RishiRajSahu commented on #4237
@maxceem I had this point when we released last week but it got missed due to multiple things, thanks for reminding. Logged an issue to track the same https://github.com/appirio-tech/connect-app/issues/4244