[2018-07-03 04:51] RishiRajSahu commented on #2122
@vikasrohit its a bug and new captured yet.

[2018-07-03 04:54] RishiRajSahu commented on #2113
@vic-topcoder could you reply  on that ?
@maxceem yeah #3 is correct this is how channel expands as per designs for mobile. is there any thing to be taken care of wrt design ?

[2018-07-03 05:02] maxceem commented on #2113
Looks like for mobile we will have the same way of writing posts as for desktop. Currently, for mobile we write posts using full-screen editor

![image](https://user-images.githubusercontent.com/146016/42199469-369b1cb0-7ec1-11e8-9bb1-7967a3de5769.png)

[2018-07-03 05:06] RishiRajSahu commented on #2113
yeah so there are two things,
1.One is the expanded view of topic on mobile and
2.Posting new topic or post on mobile.

for 1, we have design and for 2, we will keep it same way as current.

[2018-07-03 05:29] vikasrohit commented on #2109
That is something different and we can't say it inconsistency from the production because they are representing different things and as per plan we have changed it to the current state of project templates instead of category and sub category.
We can group the project templates again based on their category, but as I said, that would again introduce a 3 step wizard instead of 2 step wizard which w

[2018-07-03 05:37] vikasrohit commented on #2117
@vic-topcoder Just to be on the same page, we discussed that the progress number shown in the right side of the overall progress bar is simple arithmetic average of individual phases' progress. Each phases' progress is calculated based on custom progress or time based progress in order. So, technically the numbers should not differ. However, if a user calculates the progress by dividing the days e

[2018-07-03 05:37] vikasrohit commented on #2123
Thanks a lot @maxceem for catching this.

[2018-07-03 05:40] vikasrohit commented on #2116
Agreed @vic-topcoder. I think that case we have to ask marketing team to remove the chat option for all urls except /projects/new-wizard.
@rmjmccormick we might need your help there to ask marketing team about this.

[2018-07-03 05:49] maxceem commented on #2113
regarding 2. we create new posts the current way in fullscren, but we reply to post in a new way as on the new design, correct?

<img width="424" alt="reply-on-mobile" src="https://user-images.githubusercontent.com/146016/42200857-c190c4b8-7ec7-11e8-8704-26368a8f45ac.png">

[2018-07-03 07:06] RishiRajSahu commented on #2104
fixed with 410345f1b8d813fea203184b3376a45a7d849867

[2018-07-03 07:14] RishiRajSahu commented on #2113
@maxceem let's keep the same view for reply as well, could we do that because we don't have designs for posting a replying yet

[2018-07-03 08:43] maxceem commented on #2113
@RishiRajSahu yes, we can use current way of posting reply.

4. Another question here, currently posts and comments on mobile devices have the next design:

![image](https://user-images.githubusercontent.com/146016/42208824-c272c38c-7edf-11e8-8453-0c8b67015612.png)

While in provided design posts and comments looks similar to current desktop design:

![image](https://user-images.githubusercontent.

[2018-07-03 09:37] rmjmccormick commented on #2109
@vikasrohit Summary sounds good. We can discuss in some more depth on the call later if necessary.

[2018-07-03 09:47] rmjmccormick commented on #2117
@vikasrohit Let's stick with arithmetic average please.

[2018-07-03 09:55] rmjmccormick commented on #2116
@vikasrohit I have raised this with Marketing. Will keep you posted.

[2018-07-03 09:59] maxceem commented on #2113
5. For the fullscreen mode. Do I get it right that:
    - thread topic (header) has to be fixed at the top
    - comment editor (footer) has to be fixed at the bottom
    - comments should be scrolling in between
    - comment dates have to "sitck" to the header when scrolling simmilar to Slack

     <img width="1051" alt="fullscreen-behavior" src="https://user-images.githubusercontent.com/146016/

[2018-07-03 10:02] RishiRajSahu commented on #2113
@maxceem
4.yes we need to update mobile design as well, but create a separate issue for that under 2.4.4 milestone
5.yes you got it right, similar to the slack

[2018-07-03 10:14] maxceem commented on #2113
@RishiRajSahu thanks

5. Small clarification. Unlike Slack we have toolbars with button under the comment input field, which appears when we place cursor inside an input field.

    ![image](https://user-images.githubusercontent.com/146016/42213906-a0c87cd8-7eec-11e8-8070-f7ed9ffcaa35.png)

    So in our case, the footer will expand up when we place cursor and comments will move up a little bit at

[2018-07-03 10:17] maxceem opened #2125 "Update post/comments design for mobile devices"
Designs https://marvelapp.com/8a94680/screen/43925278/handoff

[2018-07-03 10:17] vikasrohit commented on #2117
Okay, Thanks @rmjmccormick for the confirmation.

[2018-07-03 10:19] maxceem commented on #2113
4. I've created an issue for mobile comments https://github.com/appirio-tech/connect-app/issues/2125
    I'll update mobile design first before contiuning this issue, because I excpect that doing it another order will cause unnecessary work.

[2018-07-03 10:53] vikasrohit commented on #1928
We can close this one as after getting rid of discourse, we are not sending emails for all messages that were posted before user's joining the project.

[2018-07-03 10:53] #1928 closed

[2018-07-03 11:08] vikasrohit commented on #2011
@gondzo Some changes are needed in the backend to enable the posts from coder bot, I would take care of that or may get it resolved via tasks. Purpose of this issue is to show those message again on the front end. The question is that how can we determine which coder bot message to show because the currently front end is simply hiding all the system user's messages to reduce the noise. I don't thi

[2018-07-03 12:01] RishiRajSahu commented on #2117
@vikasrohit i think here only thing to be taken care of is to correct the logic in case of single phase and validating again in case of multiple phases as per

I am picking this up.

[2018-07-03 12:08] vikasrohit commented on #2062
@gondzo I believe you have already taken care of this issue in one of the private tasks, right? I am excluding this from the cf09, please feel free to add it back if you think we still have some work pending for that.

[2018-07-03 12:12] vikasrohit commented on #1985
@maxceem Do you think this issue is same as https://github.com/appirio-tech/connect-app/issues/2123

[2018-07-03 12:14] vikasrohit commented on #2038
@rmjmccormick Can you please validate the behaviour once? I think it makes the logic complicated if we want not to show the error message when user is entering the value first time and show the error message when user is updating existing value. Please see my [comment](https://github.com/appirio-tech/connect-app/issues/2038#issuecomment-397181500) above.

[2018-07-03 12:16] vikasrohit commented on #1954
@rmjmccormick Could you please suggest a copy for following situation?

[2018-07-03 12:18] vikasrohit commented on #1479
@gondzo removing this from cf09 as we are already working on this in private task.

[2018-07-03 12:21] vikasrohit commented on #1388
@gondzo we need to handle this only if this does not require too much refactoring, otherwise we can close it as `won't fix`.

[2018-07-03 12:25] vikasrohit opened #2126 "Project listing page is rendered in project creation process"
### Expected behavior
Project listing page should not be visible

### Actual behavior
Project listing page is visible for some time before redirecting to the newly created project.

### Steps to reproduce the problem
- Create a new project
- Observe the page after hitting the `Continue` button the creation form

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (client, copilot or

[2018-07-03 12:36] rmjmccormick commented on #2038
@vikasrohit I'm guided by @vic-topcoder here as UX specialist, so I'm minded to follow his lead here. However, I agree we shouldn't complicate the logic needlessly. How about displaying the error message upon validation when an obvious keystroke error is made (e.g. ww. or wwww. at the start of the URL or lack of .xxx, .xx or .xx.xx at the end of the URL)  -how straightforward would that be?

If th

[2018-07-03 12:49] rmjmccormick commented on #1954
@vikasrohit how about the below?

No results found based on current search criteria. Please modify your search criteria and/or search across all projects by selecting the "All Projects" filter.

[2018-07-03 15:54] vic-topcoder commented on #2113
@maxceem - let's use this for fullscreen icon:

[ui-fullscreen.svg.zip](https://github.com/appirio-tech/connect-app/files/2160097/ui-fullscreen.svg.zip)
![screen shot 2018-07-03 at 8 50 42 am](https://user-images.githubusercontent.com/8484061/42230577-32f26348-7e9e-11e8-8ab1-9e24293bc6fd.png)

Correct. The goal is to allow the users to use the formatting tab instead of figuring out Markdown format

[2018-07-03 16:14] vic-topcoder opened #2127 "Add Project Type as field in Salesforce"
Can we add the Project Type as an additional field in Salesforce on the Lead and sync that from Connect when created? We need to drive some workflow off of this specific field. This will be needed for operations and marketing.

@vikasrohit please work with Sumit on what we need to do in order to help with that integration.

[2018-07-03 16:17] vic-topcoder commented on #2124
Great!

[2018-07-03 16:17] #2124 closed

[2018-07-03 16:44] vic-topcoder commented on #2125
good catch, updated!

[2018-07-03 16:51] vic-topcoder commented on #2112
Actually, it is the other way around. Thread was created on Jul 3 and has 2 posts in total. The date in the middle (May 14) is the first post date.  It is similar to how Slack groups messages by day. If you keep scrolling messages, the date behaves like a sticky header for the entire view of the messages posted during this date. If we keep posting, the messages from Today would eventually go under

[2018-07-03 16:52] vic-topcoder commented on #2106
@rmjmccormick let's discuss this. Adding files to a newly created project is very important. I would assume it is technically possible to store the files under a temporary project, and in line with the changes to project creation flow (register and login before completing project creation) this would be viable.

[2018-07-03 17:00] vic-topcoder commented on #2038
This behavior of triggering a validation error while the user is still typing is called "premature inline validation"

from https://baymard.com/blog/inline-form-validation and around the web.

![screen shot 2018-07-03 at 9 57 50 am](https://user-images.githubusercontent.com/8484061/42234016-f0769d22-7ea7-11e8-9557-e51855ddfb25.png)

and so on.

[2018-07-03 18:14] vic-topcoder commented on #2113
Please consider also this screen for editing/deleting interaction: https://marvelapp.com/8a94680/screen/45153771

This is a comparison before-after to see how different elements actually https://marvelapp.com/8a94680/screen/45153777

[2018-07-03 22:32] vic-topcoder opened #2128 "[$50] When there are more posts hidden on a card from the same day, the "load earlier posts" button should be under the time stamp"
### Expected behavior
The time stamp should always be on top if there's more content, even if the button "load earlier posts" is present. The time stamp on the top determines when the last event happened. If the hidden posts were before the current day, the time stamp should indicate the last day of the messages we can load. The "load earlier posts" button should never be above the timestamp.

###

[2018-07-03 22:36] vic-topcoder opened #2129 "Transactional emails come with a title "no-reply", but should say Topcoder"
### Expected behavior
When we receive an email from Topcoder, the transactional email should be from a trusted provider - Topcoder, Topcoder newsletter, Topcoder Project, etc.

Expected to see something like this:
![screen shot 2018-07-03 at 3 35 37 pm](https://user-images.githubusercontent.com/8484061/42247703-ce08f828-7ed6-11e8-9dcb-1633df7ce5dd.png)
![screen shot 2018-07-03 at 3 35 26 pm](https

[2018-07-03 22:43] vic-topcoder commented on #2109
Let's recreate the project catalog experience from Production to Development, it should not affect the deeper structure of a project with the new project plan section. @vikasrohit can you please communicate with @maxceem to explain what needs to be completed?

The Connect project catalog is organized through a JSON configuration object, currently retrieved via the new API. We have to manually sync

[2018-07-04 00:31] maxceem commented on #2109
So as per my understanding, we have to reimplement the project creation wizard same as it was before to become 3 steps:
1. On the first step, we show the list of categories, which can be retrieved using new API for `project_categories`.

2. Note, that DB has only `categoryId` and `categorName`:

   ![image](https://user-images.githubusercontent.com/146016/42250432-783e596e-7f63-11e8-8227-82e1621d1

[2018-07-04 01:17] maxceem opened #2130 "Long project name breaks markup on mobile devices"
When we open a project page with the long name, the primary toolbar gets broken on mobile resolutions and horizontal scroll appears:

![image](https://user-images.githubusercontent.com/146016/42251574-b6d5bfee-7f6a-11e8-8360-02955981900a.png)

For example, see the project https://connect.topcoder-dev.com/projects/2871

[2018-07-04 01:38] maxceem commented on #2112
4. Let me ask the question another way:
    I understand that that dates at the middle work kind of like sticky dates at the slack:

    <img width="671" alt="stick-date" src="https://user-images.githubusercontent.com/146016/42252012-249921c2-7f6d-11e8-9714-420288364bfa.png">

    The question is what date should be displayed under the topic title:
    - thread creation date
    - latest comment d

[2018-07-04 03:37] maxceem opened #2131 "Mobile post editor screen doesn't cover the whole screen"
There is a visual issue with the mobile post editor. It has to cover the whole screen without scrollbars, but it has space under and vertical scrolling:

![image](https://user-images.githubusercontent.com/146016/42255364-ead80faa-7f7d-11e8-8855-f307d9f26017.png)

How to reproduce:
1. Open project dashboard https://connect.topcoder-dev.com/projects/6415 in mobile resolution

2. Click create a new p

[2018-07-04 05:21] maxceem commented on #2130
Fixed via https://github.com/appirio-tech/connect-app/issues/2130

[2018-07-04 05:44] vikasrohit commented on #2109
Perfect understanding @maxceem

1. Correct. Only the table name is now `project_types` and we already have REST endpoints for that e.g. `GET /v4/projectTypes` to fetch all available project types.

2. Yes, we need to add more attributes to the project types now. I think we need to add `question` attributes as well along with `icon` and `info`. I would do those changes in next couple of hour and yo

[2018-07-04 05:50] vikasrohit commented on #2129
just fyi @vic-topcoder, the first mail in the
![screen shot 2018-07-02 at 9 46 31 am](https://user-images.githubusercontent.com/8484061/42247651-95b0df18-7ed6-11e8-9659-e79be33a4209.png)
 is not sent from connect, it is sent by Marvel. 😬

And our emails are from trusted provider. Most of the time user validates the provider by looking the mail headers
<img width="411" alt="screen shot 2018-07-04 a

[2018-07-04 05:56] vikasrohit commented on #2038
Being developer, seems like I am able to understand the criticality of the issue. So, @gondzo please go ahead to get it implemented as per requirements.

[2018-07-04 06:02] vikasrohit commented on #2106
Yes, it is technically possible. However, we always evaluate the efforts required against the value of the feature. If it requires significant efforts for a feature that might not be used frequently or might be dropped after couple of releases, I would just waste the efforts.
In this particular case, if we allow file uploads for non logged in users, there are chances that people would start adding

[2018-07-04 06:03] vikasrohit commented on #1954
👍
@gondzo please open it for pickup if we haven't handled this in our private tasks.

[2018-07-04 07:30] vikasrohit opened #2132 "Need backend support for new fields in project types"
As per https://github.com/appirio-tech/connect-app/issues/2109#issuecomment-402328735, we have to add new fields in `project_type` entity.

[2018-07-04 07:45] maxceem commented on #2109
4. I've noticed that by code, categories/projectTypes can be also `hidden`/`disabled`.
    In JSON there is a category which is `hidden`:

     <img width="688" alt="category-hidden" src="https://user-images.githubusercontent.com/146016/42263559-fb3524fa-7fa0-11e8-9ad0-03fe841648db.png">

      And in the old code there is a lines for categories items:
[code]

    Will it be supported by server?

[2018-07-04 08:51] maxceem commented on #2119
1. There is a section to submit files during project creation. File uploading currently is not supported during project creation. Should this be supported, or files uploading is one of the sections which will be hidden?

   ![image](https://user-images.githubusercontent.com/146016/42266994-728da50a-7faa-11e8-8049-33fc703ef4bb.png)

[2018-07-04 09:11] maxceem commented on #2109
5. **Important**. pojectTypes will also need to have `aliases: ['all-analytics']` property. We need it to build SEO friendly links for selected projectTypes.

     Current JSON

     <img width="711" alt="project-type-aliases" src="https://user-images.githubusercontent.com/146016/42267951-eecb2fb4-7fac-11e8-8d5e-2f5a2f0ddadd.png">

    How it's being used in URL when we choose `Software Developmen

[2018-07-04 09:35] vikasrohit commented on #2132
Changes are in dev.

[2018-07-04 09:35] #2132 closed

[2018-07-04 09:35] vikasrohit commented on #2109
@maxceem changes are in dev. You can access the updated project types now.

[2018-07-04 09:36] vikasrohit commented on #2109
4. Yes, we need it, but I missed that in backend updates. Will do it in some time.
5. It is supported by backend now.

[2018-07-04 09:40] RishiRajSahu opened #2133 "Change content of Phase first post"
### Expected behavior

### Actual behavior

ref - #2107

[2018-07-04 09:43] RishiRajSahu commented on #2107
FYI @rmjmccormick  @vic-topcoder

Project plan tab / progress bar - **Not Found this one**
New phase window - **Done and pushed to dev**
Scope tab / sidebar - **Done and pushed to dev**
Post card / edit menu - **Done and pushed to dev**
Post card title / edit menu - **Done and pushed to dev**
Post card / edit post menu - **Done and pushed to dev**
Post card / edit post menu - **Done and pushed to

[2018-07-04 10:00] rmjmccormick commented on #2107
@RishiRajSahu Looking good - appreciate it

Re first item, see below - replace "Budget" with "Price (US$)" in edit Phase interface as per attached screenshot

![image](https://user-images.githubusercontent.com/39598852/42270672-bc52bc58-7f81-11e8-8b22-4e0da7f8574a.png)

[2018-07-04 10:03] vikasrohit commented on #2132
Added support for `disabled` and `hidden` fields as well.

[2018-07-04 10:12] vikasrohit commented on #2119
@maxceem For the this release we are not going to release the file upload in creation wizard. And we can simply disable the attachments field to be rendered on creation wizard but still show on scope tab.

[2018-07-04 10:15] vikasrohit commented on #2133
@RishiRajSahu please keep this string as constant so that we can change it from the central place.

[2018-07-04 10:23] vikasrohit commented on #2109
4. Done. It is supporting `disabled` and `hidden` fields now.

[2018-07-04 10:35] maxceem commented on #2109
6. Project template for `Website` has `aliases: ["all-websites"]`:

   ![image](https://user-images.githubusercontent.com/146016/42272432-a362e89e-7fb8-11e8-8135-6555b658e678.png)

   But it has to be `aliases: ['website', 'website_development']`:

   ![image](https://user-images.githubusercontent.com/146016/42272530-f12a2600-7fb8-11e8-8909-b8ac7d2d0b1a.png)

[2018-07-04 11:22] vikasrohit commented on #2109
Ohk. Fixed.

[2018-07-04 12:47] maxceem commented on #2109
7. Recently adding a New Phase was implemented which uses some parts of the wizard.
   Should it be updated or just keep working as now? So when we add a phase we choose a productTemplate directly wihtout dividin templates in categories?

[2018-07-04 13:11] maxceem commented on #2109
Done in [wizard-with-types](https://github.com/appirio-tech/connect-app/tree/feature/wizard-with-types) branch.

7. Adding new phases keept as it is.

[2018-07-04 13:57] rmjmccormick commented on #2133
@RishiRajSahu @vikasrohit  I've edited the text in the original message, as I wanted to change a word or two. Thanks.

[2018-07-04 17:19] gondzo commented on #1690
@maxceem @RishiRajSahu
can we start using topcoder-react-ui-kit and topcoder-react-utils with the new UI for project phases?

[2018-07-04 17:22] gondzo commented on #1908
this is no longer an issue with the updated UI

[2018-07-04 17:22] #1908 closed

[2018-07-04 17:28] gondzo commented on #1914
not an issue anymore. closing

[2018-07-04 17:28] #1914 closed

[2018-07-04 17:32] gondzo commented on #1738
we're not showing any messages when updating project status. closing.

[2018-07-04 17:32] #1738 closed

[2018-07-04 17:38] gondzo commented on #1388
ok, closing - it would require a lot of refactoring for the scope screen

[2018-07-04 17:38] #1388 closed

[2018-07-04 17:47] gondzo commented on #1702
this should be fixed in member service https://github.com/appirio-tech/ap-member-microservice/issues/150

[2018-07-04 17:48] gondzo commented on #1931
we don't have those cards anymore. closing

[2018-07-04 17:48] #1931 closed

[2018-07-04 17:50] gondzo commented on #1954
We should just show the suggestion message if there are no search results (we did fix the search api, but still, if there are no results for a specific phase, this suggestion would be helpful)
`No results found based on current search criteria. Please modify your search criteria and/or search across all projects by selecting the "All Projects" filter.`

[2018-07-04 17:53] gondzo commented on #1932
@vikasrohit do you have an example for the project that is missing from the list?

[2018-07-04 17:54] gondzo commented on #1945
this is no longer an issue. closing

[2018-07-04 17:54] #1945 closed

[2018-07-04 17:59] gondzo commented on #1946
this is no longer an issue. reviewed projects can be seen by the copilots.

should we show a different message to a copilot if the project is already taken and moved to active state? @vikasrohit

[2018-07-04 18:02] gondzo commented on #1953
@RishiRajSahu @vikasrohit I'm not able to create visual design projects in dev anymore.
POST https://api.topcoder-dev.com/v4/projects/ returns a 422

[2018-07-04 18:06] gondzo commented on #1971
this is working properly - we have only project type filter, so it can display only 1 or 0. This indicator is valid for hidden filters only, not project status and keyword search

[2018-07-04 18:06] #1971 closed

[2018-07-04 18:06] gondzo commented on #1973
@vic-topcoder should we implement this?

[2018-07-04 18:11] gondzo commented on #2105
see the guide for z indexes > https://github.com/appirio-tech/connect-app/wiki/Community-Work-Read-Me-First!

[2018-07-04 18:13] gondzo commented on #2126
it's not fixed yet. also, if the project isn't created (api error), we close the project wizard and move to project listing page - should we fix this as well?

[2018-07-04 19:12] Gauravseta commented on #2026
@gondzo can you please tell how to assign this issue to myself? github is not having same UI as before. please help thanks

[2018-07-04 19:34] PrakashDurlabhji commented on #1917
assign ourself not wrking? @gondzo  not able to click it

[2018-07-04 19:45] Gauravseta commented on #2026
@gondzo read the rules ,  i am confused .
Is the approach same as in other bug bashes?
e.g Fork the repo and work on my forked repo then raise PR on main repo once finished?
OR
Create branch on main repo itself and no need to fork because circleCI tests are to be passed ?

thanks

[2018-07-04 19:46] gondzo commented on #2026
fork&submit a PR - that will execute circleCI tests as well

[2018-07-04 19:51] sumitdaga commented on #2105
@gondzo
there is a console warning and a error when the dashboard page loads ...can you see this too?
at least for this project http://local.topcoder-dev.com:3000/projects/6446

[2018-07-04 20:39] Gauravseta commented on #2026
@gondzo PR has been raised
#2134

[2018-07-04 20:47] simranb86 commented on #2038
I cannot assign this to me - can someone assign it to me ? I will start work on this

[2018-07-04 22:36] mshaaban0 commented on #2128
@vic-topcoder Can you please share the credentials used to reproduce the issue?

[2018-07-04 22:56] gondzo commented on #2128
you can use pshah_manager/topcoder123 and post messages on a project to reproduce the issue

[2018-07-04 23:22] maxceem commented on #1690
@gondzo We already use topcoder-react-utils for webpack and Babel configs. But we use pretty old version of this package. It would be good if can find time to update it so we can use other stuff, for example https://github.com/appirio-tech/connect-app/issues/2120

Regarding topcoder-react-ui-kit, would you like to use something in particular from this package?

[2018-07-05 01:20] amitpatra commented on #1350
Please assign me. As I don't have repo access at this moment, so cant assign myself. Thanks.

[2018-07-05 02:07] jankyzhang commented on #1954
I am working on this - please assign when provided access.

[2018-07-05 03:36] mfikria commented on #1958
I am working on it

[2018-07-05 04:38] maxceem commented on #2112
10. As I understand when we click on the channel link at the sidebar, the page has to scroll to the particular channel, correct?

11. There is also a fullscreen mode with the channels at the sidebar. It feels like in fullscreen mode, clicking the channel has to show that channel in the fullscreen mode. And also currently viewing channel has to be highlighted with the gray color, correct?

      ![

[2018-07-05 05:38] vikasrohit commented on #1932
I just verified it on production. I think we can close it now as it seems to be working now. I think it got fixed after we recreated the index for projects on production.

[2018-07-05 05:38] #1932 closed

[2018-07-05 05:55] RishiRajSahu commented on #1953
@gondzo fixed it. you can create now.

[2018-07-05 05:59] vikasrohit commented on #2126
@gondzo is it moving to listing page or the page from where user started the project creation wizard? I think we are okay if we taking user back to the page from where user started the project creation. @rmjmccormick could you please suggest a better way to handle the error use case?

[2018-07-05 06:02] maxceem opened #2138 "Feed components are being re-rendered every few seconds and during scrolling"
1. I've noticed that at the project dashboard page all Feed components are being re-rendered every few seconds.

![image](https://user-images.githubusercontent.com/146016/42304685-31767d66-805a-11e8-997b-218c32b8c8a9.png)

To reproduce:
- see project http://local.topcoder-dev.com:3000/projects/2871 on the local machine
- and add `console.log('feed render')` at the `render` method https://github.co

[2018-07-05 06:32] vikasrohit commented on #2109
Yes, that is okay. We have to support categories for product templates in backend to categorize the product templates. We would take care of it as separate task.

[2018-07-05 06:32] RishiRajSahu commented on #2109
@rmjmccormick @vic-topcoder changes are pushed to dev. Verify on your side and feel free to close the issue.

[2018-07-05 06:37] vikasrohit opened #2139 "[100$] Support categories for product templates"
As of now we are not supporting categories for the product templates. To achieve following UI for product catalog, we need to support the categories for the product templates.

<img width="908" alt="screen shot 2018-07-05 at 12 06 15 pm" src="https://user-images.githubusercontent.com/2417632/42306229-de98c3a0-804b-11e8-8963-960fa26826bb.png">

@rmjmccormick @vic-topcoder Should we use exact same c

[2018-07-05 06:38] #2127 closed

[2018-07-05 06:43] asadath1395 commented on #1663
@birdofpreyru Currently in connect app, there are two kinds of photoURL, one is getting from www.topcoder.com and the other getting from https://topcoder-dev-media.s3.amazonaws.com. So when i use this `${cdnBaseUrl}/avatar/${encodeUriComponent(photoURL)}?size=${size}` with amazonaws URL, i can get the resized image but when i use www.topcoder.com as photoURL, i am getting an error saying "request

[2018-07-05 08:46] rmjmccormick commented on #1946
@vikasrohit @gondzo to clarify, do you mean (a) a different notification to "Project is available for pickup" on the notification page or (b) a pop-up message informing the co-pilot the project has been taken if/once they click on "Project is available for pickup" notification?

[2018-07-05 09:00] rmjmccormick commented on #2109
@RishiRajSahu Thanks. However, we appear to be missing some the QA projects? Clicking on QA takes me straight to the Real Word Testing specs page.

![image](https://user-images.githubusercontent.com/39598852/42313083-2984a726-8042-11e8-8d5a-f245656c299b.png)
![image](https://user-images.githubusercontent.com/39598852/42313126-455e8656-8042-11e8-80ff-4105d9dcec71.png)

Expected flow (as in Prod)

!

[2018-07-05 09:15] RishiRajSahu commented on #2109
@rmjmccormick yeah that's known because we haven't added templates for all QA projects yet other than real world testing we have yet to add them.  I will add them in some time and let you know.

[2018-07-05 09:38] rmjmccormick commented on #2139
@vikasrohit @vic-topcoder To be clear, based on version in prod, current project template categories are App, Website, Chatbot, Design, Software Development and QA. Product (do you mean phase?) template categories should presumably follow the designations in the new Workbook, namely Design, Development, Quality Assurance and Data Science.

[2018-07-05 09:58] asadath1395 commented on #1663
@birdofpreyru It works in prod cdnUrl environment, but fails in dev cdnUrl

[2018-07-05 10:01] birdofpreyru commented on #1663
@asadath1395 well, the avatar you refer to exists only in prod environment

[2018-07-05 10:42] vikasrohit commented on #1946
(b). I think right now we show 403 for such cases which is not clear for the copilots.

[2018-07-05 10:45] vikasrohit commented on #1954
@jankyzhang thanks for the PR. Could you please also make the `All Projects` text in the message, a hyperlink clicking on which would select the `All Projects` tab.

[2018-07-05 10:55] PrakashDurlabhji commented on #1917
@vikasrohit @gondzo
MR raised.

#2142
Any more issues i can work on? any more open for pickup?

[2018-07-05 10:57] vikasrohit commented on #2139
Essentially yes as right now we are supporting single product per phase. However, our backend supports multiple products per phase but that is a topic for a different day.
From the possible values of categories of products, I think we need to keep two separate list of categories, one for project templates and another for product templates.

[2018-07-05 10:57] jankyzhang commented on #1954
@vikasrohit ,
Thanks for the reply .
I fix it right now .

[2018-07-05 11:06] andela-jomadoye commented on #2126
I can do this, I'll work on it.

[2018-07-05 11:58] zjuasmn commented on #1958
@vic-topcoder Cannot reproduce issue. It works on latest dev branch
![image](https://user-images.githubusercontent.com/4462778/42322074-a4685bc2-808d-11e8-9392-86e194b768c4.png)

[2018-07-05 13:06] RishiRajSahu commented on #2103
@rmjmccormick @vic-topcoder fixed with 1378060e5f91e44fe8efc313a3db71c3f946c536. Pushed to dev.

[2018-07-05 13:19] amitpatra commented on #1350
@andela-jomadoye You should not pickup issue and work on them when some with no access to repo has already commented in issue about assigning the issue to them. I believe that it is against the rule as specified in the thread(https://apps.topcoder.com/forums/?module=Thread&threadID=920569&start=0). Thanks.

[2018-07-05 15:17] andela-jomadoye commented on #1994
@mhikeo @gondzo @vic-topcoder @maxceem
Please what is the password for the suser1 User?

[2018-07-05 15:18] jankyzhang commented on #1954
@zjuasmn Please add the "Ready for Review" label.
I cant assign myself.
Thanks

[2018-07-05 16:01] andela-jomadoye commented on #1350
@amitpatra Apologies, I saw `OpenForPickup` on the ticket and started working on it then raise PR. I did not see your comment. I have already raised R for this one.
I am working on issue 1994 do you want to work on that, I can un-assign myself and assign you to that. Is that okay?

[2018-07-05 16:21] simranb86 commented on #2038
@zjuasmn I have been getting 404, tried 3 times setting up whole project but same error always when following README file. Can you confirm README is up-to-date and not missing something?

[2018-07-05 16:28] vic-topcoder commented on #2139
Project templates categories ≠ phase categories.

- **Project templates** are purely a project plan structure and can be organized in categories by the desired outcome.
- **Phases** are containers of work and we're not worried about products at that level.
- **Products** in essence are standardized challenge formats, and they are different from Phases. Products are used for delivery - we will have

[2018-07-05 17:23] amitpatra commented on #2038
I am picking up this issue, if possible please assign me. I don't have repo access. Thanks.

[2018-07-05 17:24] amitpatra commented on #1350
@andela-jomadoye No problem :) BTW I have picked up another issue :).

[2018-07-05 18:10] #2116 closed

[2018-07-05 18:51] vic-topcoder commented on #2138
I think you're very correct. The components are not constructed to be optimal, and we can update the architecture. If we upgrade to latest React there are a lot more optimizations we can do. In terms of html code rendered we could potentially remove some of the wrappers we introduce everywhere with the use of [Fragments](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html).

In

[2018-07-05 18:56] vic-topcoder commented on #2129
+ @rmjmccormick

I think we can extend the Coder the bot persona and send messages from him, probably a `coderbot@topcoder.com` so we can also register a Gravatar and make sure we have a better representation in certain email clients. We could also keep the reply-to different from the original sender. This would satisfy the requirement I think.

[2018-07-05 19:32] vikaskyadav commented on #2105
You can increase the z-index to some greater value

[2018-07-05 19:34] vic-topcoder commented on #2125
I would like to update the header on all platforms to display the post count and creation date on the same line. If the post title is too big than we should fold the title in more lines.
![screen shot 2018-07-05 at 12 30 09 pm](https://user-images.githubusercontent.com/8484061/42343852-477d1594-804f-11e8-81ab-49c649ecac4f.png).
Also - for the time being, let's remove the `#` in front of the thread

[2018-07-05 19:41] vic-topcoder commented on #2112
Correct - thread creation date.

Correct

Correct! The fullscreen mode behaves as a dedicated chat interface. Clicking on the channel on the left would reload the appropriate thread on the right, and scroll to the beginning of the new messages, or the end of the conversation (if no new messages are available) - Slack-like.

[2018-07-05 19:46] vic-topcoder commented on #1973
Ah, this one isn't confirmed yet. Let's postpone for the time being.

[2018-07-05 19:48] vic-topcoder commented on #1958
If you block the notification server, or disable the data, the notifications menu isn't rendered. This is dependency that causes the interface to shift when the notification service is back online, as then suddenly the notification icon is rendered on the top bar. The ticket tries to deal with that rendering issue.

[2018-07-05 19:55] vic-topcoder commented on #1946
In that case I would show a message in the lines of "This project is not yet reviewed. Once it is available for pickup you will be able to view and join it." instead of throwing 403.

[2018-07-05 21:11] Gauravseta commented on #1790
@gondzo near to complete it. PR soon

[2018-07-05 22:57] gondzo commented on #1946
@vikasrohit Should we update project service to return an error message based on project status?

[2018-07-05 22:58] gondzo commented on #1994
I've posted test user accounts in challenge forum

[2018-07-06 01:04] vic-topcoder opened #2146 "Validate old projects can still function with the latest changes in DEV"
### Expected behavior
Old projects should load correctly the dashboard, discussion and specification tabs. We ran into issues with loading old projects today (https://connect.topcoder-dev.com/projects/136/specification and https://connect.topcoder-dev.com/projects/136/discussions). We should make sure we do match such projects.

As a side note - is there a way for us to check if there are still Ac

[2018-07-06 02:06] vic-topcoder commented on #2125
Initially I wanted to have Edit and Delete as icons on hover, but if you ignore those and replace the icons with the menu, it should look like this. The order would be:

- Meta data
- Menu / or icons
- Fullscreen (when available)

![screen shot 2018-07-05 at 7 03 20 pm](https://user-images.githubusercontent.com/8484061/42356236-40dbfa3e-8086-11e8-9087-1f577ace80a1.png)

[2018-07-06 02:07] vic-topcoder opened #2147 "Project progress logic extension"
Let's address several cases for the project progress bar in order to upgrade the user experience and alleviate customer anxieties.

- [x] Do not show progress bar when there are no active or planned phases. This means we show progress only where there is a progress to show.
![screen shot 2018-07-05 at 6 50 57 pm](https://user-images.githubusercontent.com/8484061/42355907-6bd68922-8084-11e8-948e-63

[2018-07-06 02:27] vic-topcoder opened #2148 "When editing timing on phases, the logic doesn't work in certain cases"
### Expected:
- When I select a specific time with an offset after the previous phase, the system would acknowledge the time offset.

- Each phase should begin on its own day. We use days as the smallest granular units of time to communicate with the customer. It is rare to deliver at the end of the day and start work on the next phase.

Design specification (https://marvelapp.com/8a94680/screen/4

[2018-07-06 02:29] vic-topcoder commented on #2148
### Minor:
When you have a date range in the same month, can we omit the second month repetition?

Instead of `Jul 9–Jul 18` I would expect `Jul 9–18`

@rmjmccormick do you think this is ok in terms of language / formatting?

[2018-07-06 02:31] vic-topcoder opened #2149 "When adding a new phase, there is a gap between top bar and side bar"
### Expected behavior
The interface shouldn't jump and shift around

### Actual behavior
![screen shot 2018-07-05 at 7 29 40 pm](https://user-images.githubusercontent.com/8484061/42356891-eef4609a-8089-11e8-8313-0c10c7a25554.png)

[2018-07-06 02:33] vic-topcoder opened #2150 "Display the full project name if there is enough space on the top bar"
Due to the interface changes we have more space on the top bar. Let's use it to our full advantage. Right now projects with longer name don't quite fit as the name space is too constrained.

- [ ] Expand the container for the project name to fit on the entire top bar.

![screen shot 2018-07-05 at 7 32 01 pm](https://user-images.githubusercontent.com/8484061/42356964-3dab561c-808a-11e8-8988-ae5aaa6

[2018-07-06 02:34] vic-topcoder opened #2151 "[$60] Creating a new project doesn't load the dashboard of the new project"
### Expected behavior
When I create a new project on Connect from within another project, I should be navigated to the project dashboard.

### Actual behavior
After project creation closes, I am redirected to my starting page

[2018-07-06 02:37] vic-topcoder opened #2152 "Opening project creation briefly displays the login window"
I can't reproduce it at the moment, but this morning before I created https://connect.topcoder-dev.com/projects/6545 I briefly was flashed the login window while loading the new project wizard. I saw the same on Rory's screen. @vikasrohit what would cause such a flash to your best knowledge?

[2018-07-06 02:39] vic-topcoder opened #2153 "Hovering on tab should make the text $tc-black"
### Expected behavior
When I hove on the primary tabs, the text of the tab should transition to $tc-black (the same as active tab) without the underline. Only active tab would have the underline

### Actual behavior
Hover state is the same as default state

[2018-07-06 02:43] vic-topcoder opened #2154 "[$25] Disable user select for tabs"
### Expected behavior
Should not be able to select the text from the tabs

### Actual behavior
![screen shot 2018-07-05 at 7 40 29 pm](https://user-images.githubusercontent.com/8484061/42357162-60c39f46-808b-11e8-8444-1138af65baa4.png)

- user avatar
![screen shot 2018-07-05 at 7 41 36 pm](https://user-images.githubusercontent.com/8484061/42357195-86bcb746-808b-11e8-9569-f7fc17cf6039.png)

- tabs

[2018-07-06 04:13] andela-jomadoye commented on #2038
@sandipanghos  You should not pickup issue and work on them when some with no access to repo(@amitpatra ) has already commented in issue about assigning the issue to them. I believe that it is against the rule as specified in the thread(https://apps.topcoder.com/forums/?module=Thread&threadID=920569&start=0). Thanks.

[2018-07-06 04:29] maxceem commented on #2138
3. Also, I've noticed that typing is very slow when there are several topic threads. I've checked that every time we type a symbol all the threads are rerendered. In the next video, I quickly type the same latter with the same interval but letters appear in batches rather one by one http://take.ms/wA1u2

4. Also sticky dates, which I'm currently implementing for fullscreen mode looks like heavily

[2018-07-06 05:11] vikasrohit commented on #2138
@maxceem Agreed, we have to fix the re-rendering of all threads. And I would not like to go with React upgrade as now because we are already doing the heavy lifting in current and upcoming releases. We need a dedicate release of at least 3 weeks for doing the upgrade.

@vic-topcoder  I think it is not a problem of architecture, it is just matter of things being slowly complicated from the day we s

[2018-07-06 05:12] vic-topcoder commented on #2138
Also a good read about performance https://medium.com/airbnb-engineering/recent-web-performance-fixes-on-airbnb-listing-pages-6cd8d93df6f4 - they highlight several ways/techniques to improve/reduce trashing and re-rendering. I think we didn't use pure components (haven't seen any declarations during my hunting for CSS, might be wrong), which might increase things. Also - moving to a latest release

[2018-07-06 05:17] vic-topcoder opened #2156 "Files from the side menu can't be opened"
Clicking a link to a file at the new sidebar "Recent files" menu doesn't load the file, but displays XML formatted error. Might be the file service/API?

[2018-07-06 05:21] vikasrohit commented on #2152
I think it is because of the same reason as of #2126

[2018-07-06 05:31] vikasrohit commented on #2151
@gondzo can we take care of this in cf09? If not please feel free to remove it from that milestone.

[2018-07-06 05:51] vikasrohit commented on #2126
@gondzo I know we haven't merged the PR for this issue yet, but we have started seeing login page instead of project listing page now when user clicks on a project from the listing page.

[2018-07-06 06:03] #2104 closed

[2018-07-06 06:03] #2103 closed

[2018-07-06 06:38] vikasrohit commented on #2011
@gondzo @rmjmccormick backend changes are done for the issue. Now we need to think over how to hide specific system messages.

[2018-07-06 07:10] RishiRajSahu opened #2158 "Toggle text area placeholder for New post thread expanded & collapsed."
The required behaviour is for `Title` Textarea, it should show different placeholder in collapsed and expanded state

### Expected behaviour
Text area placeholder for New post thread collapsed - Start a new discussion
Text area placeholder for New post thread expanded - Add your discussion title

### Current behaviour
Text area placeholder for New post thread collapsed - Start a new discussion
Tex

[2018-07-06 07:12] RishiRajSahu commented on #2107
All is done.
created separate issue for -
New post thread expanded / title placeholder - #2158
Phase first post - This needs to be done in backend so created separate issue #2133

[2018-07-06 07:12] #2107 closed

[2018-07-06 07:22] vikasrohit commented on #2146
@vic-topcoder we have validated that old project are still working after these changes. The project you mentioned is too old to be backward compatible. We were using different categories and types at that. It used to use a generic work type of projects.
I would prefer not to put efforts in supporting too old projects with new format. It is very very difficult to keep compatibility with 10-20 old r

[2018-07-06 09:02] rmjmccormick commented on #2148
@vic-topcoder Yes, this is OK.

[2018-07-06 09:11] maxceem commented on #2138
So far as I see, these issues can be fixed by refactoring `FeedContainer`.

I've fixed re-renders when the page is scrolled by commit https://github.com/appirio-tech/connect-app/commit/048e08934e3f72d19ed365da5df83806a5bd133a. It's enough for me to continue with the main task of sticky dates.

There is still re-rendering when we type comments/topics which makes typing very slow see for example thi

[2018-07-06 09:21] rmjmccormick commented on #2109
@RishiRajSahu Thanks

[2018-07-06 09:57] gondzo commented on #1953
@RishiRajSahu I'm not sure how to get the 'Submit for review' button on any project type. For example https://connect.topcoder-dev.com/projects/6551/scope - all items are filled in scope and phase spec tab. Same thing for app project type https://connect.topcoder-dev.com/projects/6552

[2018-07-06 10:04] RishiRajSahu commented on #1953
@gondzo only owner and customer can submit for review, https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/ProjectSpecSidebar.jsx#L118

[2018-07-06 10:14] gondzo commented on #1953
ok, this is no longer an issue. closing

[2018-07-06 10:14] #1953 closed

[2018-07-06 16:11] vic-topcoder commented on #2146
For the demo purposes next week, can we clean up the environment a bit and have a better representative data? How hard it is to port some of the existing projects into Dev? There are a lot of things we miss - long conversations, and specifications - for testing purposes.

[2018-07-06 16:46] vic-topcoder opened #2160 "Some hidden projects can't be loaded on Dev"
### Expected behavior
Hidden project creation forms are not loading on DEV:
- https://connect.topcoder.com/new-project/enterprise-web
- https://connect.topcoder.com/new-project/enterprise-mobile
- https://connect.topcoder.com/new-project/topgear-dev
- https://connect.topcoder.com/new-project/caas-intake
- https://connect.topcoder.com/new-project/computer-vision
- https://connect.topcoder.com/new-p

[2018-07-06 16:47] vic-topcoder commented on #2160
The production catalog is at https://github.com/appirio-tech/connect-app/blob/master/src/config/projectWizard/index.js - that's where I referenced all the aliases to test, but it is time consuming and I didn't go through all the lines. Let's make sure we test all the URLs for the projects please.

[2018-07-06 16:50] vic-topcoder commented on #2156
Why is that? How can we test that the files actually work? Is it possible to do upload files for training purposes? @rmjmccormick FYI

[2018-07-06 16:53] #2026 closed

[2018-07-06 16:55] #1954 closed

[2018-07-06 16:55] vic-topcoder commented on #2109
Just listed the missing hidden projects in #2160 - seems you guys are working on bringing them back to DEV.

[2018-07-06 17:05] RishiRajSahu commented on #2117
Fixed the bug in progress bar logic for single phase and pushed to dev.

[2018-07-07 00:49] vic-topcoder opened #2161 "Specification for project phases updates"
We have to update the project phase specification to match the product specifications, and remove the project-level details.

Let's work with Joey/Kyle/Trevor to close the specification requirements end of next week if possible.

[2018-07-07 00:54] vic-topcoder opened #2162 "Project scope unification and questions updates"
With specifications out of the way, we must collect all the project relevant information to bring sales on platform. Let's review and finalize what the project scope questions would be included.

As I see it, we have to update the general questions in line with the document from Morgan, but most of those questions are obsolete as they are very work-specific. We need to collect information:

- Vali

[2018-07-07 00:57] vic-topcoder opened #2163 "Project status flows update"
With the introduction of project plan we might need to verify if project status makes sense or needs updates. One point to take into account - projects that are completed can't be extended, and reversing the status would cause issues.

[2018-07-07 01:02] vic-topcoder opened #2164 "Update project cards to contain more useful information for the customer"
Update the project cards to display important information on the dashboard view - reuse progress bar component, display number of new messages, new files, etc.

[2018-07-08 10:41] #1957 closed

[2018-07-08 21:09] #2105 closed

[2018-07-08 21:12] #1917 closed

[2018-07-09 01:47] #2128 closed

[2018-07-09 01:52] #1958 closed

[2018-07-09 05:00] #2109 closed

[2018-07-09 05:20] vikasrohit commented on #2160
Yes, @vic-topcoder we are aware that production catalog and that is what we are trying replicate. As you it is time consuming, we tried to put all major non hidden and non disabled items first in dev. It is only about data entry which we made for production for June 28 release. There are still few project templates remaining on production, but again most of them are disabled. I don't think we need

[2018-07-09 05:32] RishiRajSahu commented on #2112
We need backend changes for that I will discuss this with @vikasrohit and will update you

I think private topics are for managers/copilots so we can handle it on UI itself please refer issue
description for more details

[2018-07-09 05:33] vikasrohit commented on #2148
@rmjmccormick I didn't understand the need here. I think we all agreed upon not putting/forcing any validation around dates for the phases because that would incur more complexity than feature. We have to be very clear in terms of what exact behaviour we need for the phases, it is very difficult to tweak the model every other week.

[2018-07-09 05:34] vikasrohit commented on #2138
Thanks a lot @maxceem for the render fix. Yes, we would like to get it fixed for 2.4.4 milestone.

[2018-07-09 05:38] maxceem commented on #2112
description for more details

I mean, I don't see any property like `isPrivate` in the data which comes from sever for topics. So we know at frontend that particular topic has to be displayed with the `lock` icon.

[2018-07-09 05:38] vikasrohit commented on #2162
Thanks @vic-topcoder. It is very critical for the production release.

[2018-07-09 05:38] vikasrohit commented on #2161
Thanks @vic-topcoder, it is very critical for the production release.

[2018-07-09 05:41] RishiRajSahu commented on #2112
@maxceem okay got it, we have to have some field on the topic response data to identify first whether the topic is private or not.

[2018-07-09 05:43] RishiRajSahu opened #2166 "Which phases(wrt status) to be included in calculating project progress ?"
Should we include planned phases in project progress or should include just the active phases?
if we are using planned phases as well for duration and if planned phase start and enddates are passed,
it will included as 100% progress for that phase

if we go for using active phases only, then it doesn't make sense to show 1 day of duration for draft and planned phases for which duration is not set,

[2018-07-09 06:41] vikasrohit commented on #2156
We  did that to avoid piling up the S3 storage
I think we enable it again for some time period, but I would not like to leave it open permanently.

[2018-07-09 07:20] RishiRajSahu commented on #2112
@maxceem let's keep the below three points out of scope of this task, we will need proper planning and scoping of these three tasks. We will pick this in next release

1.Identifying private topics on UI  - we don't even have UI yet to mark topic as private
2.Identifying starred topics on UI
3.Showing count for unread messages for channels

[2018-07-09 07:20] vikasrohit opened #2167 "Do not show progress bar when there are no active or planned phases"
Do not show progress bar when there are no active or planned phases. This means we show progress only where there is a progress to show.

fyi @RishiRajSahu

[2018-07-09 07:21] vikasrohit opened #2168 "When no payment has been reported on a phase, do not display "Spend $0""
When no payment has been reported on a phase, do not display "Spend $0". Only show the spending after it is being recorded on the phase.

fyi @RishiRajSahu

[2018-07-09 07:21] vikasrohit commented on #2147
#2167

#2168

#2122

#2166

I am not sure how to achieve this. It would require capturing the user's response on the alert message and store it in database to be able to show different behaviour after first load and I am not certain how much it makes sense to pollute the data model with unrelated data for enabling fancy UI tweaks. How would the application should behave when there are multiple cus

[2018-07-09 08:44] rmjmccormick commented on #2166
@RishiRajSahu @vikasrohit thanks Gents. I'm not sure I follow the reasoning in your second paragraph above - why would this not make sense and/or contradict the logic? 1 day of duration as default is just a placeholder - in itself it is meaningless and could just as well be zero or 10 or any other number. The important point is that once a project is toggled from draft to active, the duration fiel

[2018-07-09 08:58] rmjmccormick commented on #2148
@vikasrohit Each phase is listed back-to-back with the precedent and subsequent phase, on a timeline. At the moment, the moment one phase ends, the next phase begins on the same day. Where E is the end date of one phase and S is the start date of the next phase immediately following it in time -->
S = E+1 /= S=E
Make sense?

[2018-07-09 09:39] RishiRajSahu commented on #2166
![screen shot 2018-07-09 at 2 59 27 pm](https://user-images.githubusercontent.com/11248478/42442996-e553a39a-8389-11e8-9a09-e1b83be2fdb0.png)

http://local.topcoder-dev.com:3000/projects/6566/plan

@rmjmccormick
to keep it simple using the screen-shot, does the above behaviour looks correct to you ? my question is should we also exclude `Planned` phases from calculations ?

[2018-07-09 09:42] vikasrohit commented on #2148
I don't think we ever implemented this logic. As I said, we never forced any validations on phases, so user should be able change to each phase timeline independently.

[2018-07-09 09:52] RishiRajSahu commented on #2168
Done and pushed to dev.

[2018-07-09 09:52] #2168 closed

[2018-07-09 09:59] rmjmccormick commented on #2166
@RishiRajSahu the issue with this example is the fact that the "Planned" state of the project was not toggle to "Active" in time - as in, on July 6 App should have automatically toggled to Active, which would have made all the other elements you highlight sync up.
Can we discuss please? This is not a good example to use imho.

[2018-07-09 10:11] RishiRajSahu commented on #2166
@rmjmccormick yes we don't have any logic in place for handling the automatic toggling of phase from planned to active once the startDate of a phase is arrived.

Suppose the planned phase startDate is not yet arrived in such cases if including planned phase is correct ?

[2018-07-09 10:12] #2117 closed

[2018-07-09 10:14] vikasrohit commented on #2166
There is no such feature yet in our application @rmjmccormick. If need that we have to implement a very minimal lifecycle management engine just like we do for challenges and that has to be taken care separately after giving more thoughts on future possibilities around that.

[2018-07-09 10:40] rmjmccormick commented on #2166
@vikasrohit @RishiRajSahu this should be the direction of travel, as ultimately Connect should be as self-serve as possible, including for co-pilots. We can discuss tomorrow to plan for future inclusion.

[2018-07-09 10:59] vikasrohit commented on #2160
Added all the mentioned project templates in dev as well.

[2018-07-09 11:00] #2160 closed

[2018-07-09 11:44] #1663 closed

[2018-07-09 12:22] #1350 closed

[2018-07-09 12:27] RishiRajSahu opened #2171 "Long project description causing screen freeze on mobile - Hot Fix"
For the project-6362 which has very long description is causing the dashboard UI to be freeze while rendering.

[2018-07-09 12:30] RishiRajSahu commented on #2171
hot-fixed with https://github.com/appirio-tech/connect-app/pull/2169

[2018-07-09 12:30] #2171 closed

[2018-07-09 12:58] #1994 closed

[2018-07-09 13:16] gondzo commented on #1946
Related tc-project service issue https://github.com/topcoder-platform/tc-project-service/issues/105

Once that is completed, we'll be able to update the frontend to show the error message

[2018-07-09 13:29] #1993 closed

[2018-07-09 13:38] rmjmccormick commented on #2166
@RishiRajSahu Yes, in this instance, I would want the duration of the planned phase included in the total number of days and on the project status timeline.

[2018-07-09 13:48] #2126 closed

[2018-07-09 13:48] gondzo commented on #2126
@vikasrohit let me know if you still see the login page when opening project details

[2018-07-09 17:39] vic-topcoder commented on #2160
Leaving disabled projects out is fine. Let's make sure we support the hidden projects though

[2018-07-09 17:45] #2151 closed

[2018-07-09 17:46] vic-topcoder commented on #2148
It is not working like this at the moment. There is no way to set different time and save it, as upon saving the time is reset to the end of the previous phase or earlier.

[2018-07-09 17:47] gondzo commented on #1690
I guess we can start using themed buttons from ui-kit as a start and then extend it with more common component.

Leaving this one out of CF9 for now.
FYI @vikasrohit @RishiRajSahu

[2018-07-09 18:02] gondzo opened #2174 "Infinite loop on notification settings screen"
When loading notifications settings screen, the page keeps loading forever and in the backgraound it is making many calls to https://api.topcoder-dev.com/v5/notifications/list?read=false&limit=1000

[2018-07-09 18:02] gondzo commented on #2174
Tested with pshah_manager

[2018-07-09 18:15] gondzo opened #2175 "Routing notifications"
With the new project plan screens our old routing for notifications doesn't work properly. All topic/post notifications lead to project dashboard, but the topic could be in one of the project plan screens, not the dashboard.

We don't send phaseId when generating events for notifications so it is a bit hard to keep track where exactly a notification should lead to. Any ideas @vikasrohit @maxceem @

[2018-07-09 18:22] vic-topcoder commented on #2148
[date shifting in connect.mov.zip](https://github.com/appirio-tech/connect-app/files/2177526/date.shifting.in.connect.mov.zip)
Please review the screen recording to see how the phase date shifts when editing other details to fall on the last day of the previous milestone.

[2018-07-09 19:37] vic-topcoder opened #2176 "New posts do not trigger dashboard/page reload"
### Expected behavior
When a new post is created the system should auto-reload the screen, or display a suggestion to reload the page (if scrolled down).

### Actual behavior
This functionality was implemented before, not with the new post cards it is broken.

[2018-07-09 19:40] vic-topcoder opened #2177 "[$100] New post notification doesn't update the interface to the appropriate post"
### Expected behavior
When I click on a new post notification, the system would (re)load the page to show the post, and scroll to the post into view.

### Actual behavior
The interface doesn't load the appropriate post.

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-465

[2018-07-09 19:42] Gauravseta commented on #2177
@vic-topcoder can i take this? or is it not for open for pickup hence not a part of bug bash?

[2018-07-09 19:48] #2174 closed

[2018-07-09 19:59] vic-topcoder opened #2178 "Trigger notifications for changes on project plan"
### Expected behavior
Activities and changes of project plan should trigger notifications to drive users' attention and guide them back to the UI.

- Project plan is ready (when we first publish a phase in Planned mode from draft)
- Project phase changes
  - Phase status change to Active (your phase is now active)
  - Phase status change to Delivered (we've closed the phase)
  - Phase progress cha

[2018-07-09 20:46] gondzo commented on #2177
It's not part of the bug bash @Gauravseta

[2018-07-09 20:51] #2038 closed

[2018-07-09 20:56] #1790 closed

[2018-07-09 21:03] gondzo commented on #1985
We should implement this in a generic way so it's easy to extend when we add notifications for different target pages in the future (ex #2178).
IMO a good approach would be to listen for route changes in react-router and dismiss notifications that match current route. Any better ideas @vikasrohit ?

[2018-07-10 04:45] vikasrohit opened #2179 "Deprecate usage of `Owner` term for primary customers"
As per discussion in https://marvelapp.com/8a94680#41500618/comments/5cd24035-84dc-44c8-b1a5-d8c83f636a34, we have to remove the usage of `Owner` term from the team management and anywhere we are using the `Owner` capacity.

fyi @vic-topcoder @rmjmccormick @RishiRajSahu

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-424

[2018-07-10 04:55] RishiRajSahu opened #2180 "[$225] Topics/Posts UI Updates"
1.Identifying private topics on UI - we don't even have UI yet to mark topic as private
2.Identifying starred topics on UI
3.Showing count for unread messages for channels

Ref - https://github.com/appirio-tech/connect-app/issues/2112

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-420

[2018-07-10 04:57] RishiRajSahu commented on #2167
Done and pushed to dev.

[2018-07-10 04:57] #2167 closed

[2018-07-10 05:10] RishiRajSahu commented on #2166
Thanks @rmjmccormick that's helpful, also i have summarised my understanding here

**Project Status Section -**

- Duration text On left (Days X of Y)-

Actual duration(X) to be calculated wrt active and completed phases
Total duration(Y) to be calculated wrt planned, active and completed phases

- Progress text on right

Progress % to be calculated with arithmetic average of active and completed

[2018-07-10 05:29] vikasrohit commented on #1690
Okay

[2018-07-10 05:33] maxceem commented on #2113
Here I haven't implemented transition like was mentioned https://tympanus.net/Development/AnimatedGridLayout/.

There are some differences in between the provided website and our site implementation:
- when they show fullscreen they use block level scroll, while we use browser level scroll even in fullscreen mode which in my opinion is a much better approach. Though it brings some tricky moments t

[2018-07-10 05:41] vikasrohit commented on #2148
Okay, I think that is happening because of timezone on the machine. It seems to work fine our timezone but seems like it fails when machine is in PST or any timezone which is behind UTC.
We are on it.

[2018-07-10 05:52] vikasrohit commented on #2126
Thanks @gondzo. It seems to be working on dev now. 👍

[2018-07-10 05:55] vikasrohit commented on #2171
Thanks @RishiRajSahu and @maxceem for acting quickly on it.

[2018-07-10 07:10] Gauravseta commented on #2026
@gondzo I couldnt submit txt file on the challenge page. Though 20$ are being reflected on my payments page. but it shows status "accuring" . Can you please help me submit the file? shall i mail it? First time i saw "accuring" ever. thanks

[2018-07-10 07:15] gondzo commented on #2026
No need to submit anything. Payment is already processed. Accuring status might be related to your payment method (minimum amount for payment?)

[2018-07-10 07:19] Gauravseta commented on #2026
@gondzo thanks. i will check what does it exactly mean and wait till next month for release of money.

[2018-07-10 07:39] vikasrohit commented on #2148
@vic-topcoder @rmjmccormick We have tried to fix the situation here after reproducing the issue on local by changing the timezone to PST. Let us know if you are still facing the same behaviour.
Also, implemented the behaviour for omitting the repetition of the month part.

[2018-07-10 07:56] RishiRajSahu commented on #2113
@maxceem that's fine for now as we have other priority tasks, but to keep track of this you can add it as a new issue to https://github.com/appirio-tech/connect-app/milestone/56

[2018-07-10 09:04] vikasrohit commented on #2108
First two items are done. For the third item we have to identify the catalog first and should handle it separately.

[2018-07-10 09:05] rmjmccormick commented on #2038
@gondzo quick question - has this been tested? I have entered a manifestly incorrect URL and it has not triggered any error message at all? What steps need to be reproduced to trigger an error?

![image](https://user-images.githubusercontent.com/39598852/42500139-c91120a2-8430-11e8-811e-b6ed162d68dd.png)

![image](https://user-images.githubusercontent.com/39598852/42500309-313cda4a-8431-11e8-8e53-

[2018-07-10 09:16] rmjmccormick commented on #2166
@RishiRajSahu Yes, that's correct. Last point - it's important that each of these calculations is responsive to changes in the underlying phase statuses (i.e. if a planned phase is moved back to draft (unlikely) or deleted (more likely), the total duration calculations should update automatically)

[2018-07-10 09:19] gondzo commented on #2038
@rmjmccormick we just validate if the form or url is correct not if it exists or is reachable. It's done by a regex only - https://github.com/appirio-tech/react-components/blob/252c8b5552e52e4116a1cc2b6ef2a508f17a752c/components/Formsy/index.js#L14

To get the error message when adding a link, enter `ttt` into the address field and focus away from the field
![image](https://user-images.githubuserc

[2018-07-10 09:34] vikasrohit commented on #2178
@vic-topcoder @rmjmccormick  @gondzo  I think we should also handle the email notifications for these new events at the same time. https://github.com/topcoder-platform/tc-notifications/issues/51

[2018-07-10 09:35] vikasrohit commented on #2175
@gondzo we have phase id inside the tag field of the topic e.g. a topic for phase id 123 would have tag `phase#123`. Could we use that property to locate the exact topic/post on the project plan page?

[2018-07-10 09:35] rmjmccormick commented on #2038
@gondzo Understood, However, why is no error flagged when I input ww.marvelapp.comm as in this example both form and URL are incorrect - i.e. ww instead of www and .comm instead of .com.
The likelihood of someone typing in ttt is very remote; on the other hand, the likelihood of mis-keying the www. prefix or the relevant gTLD is high

[2018-07-10 09:43] vikasrohit commented on #1946
Thanks @gondzo for creating the issue, however, when I tried to implement that in the project service, I found that I have to change in core library's permission module or refactor the way we are handling the permissions in the service. So, I think it would be better if we can validate the project's status on the frontend when there is 403 in calling project api and show message accordingly.

[2018-07-10 09:48] gondzo commented on #2038
`ww.marvelapp.comm` has the correct form (ww could be a subdomain of marvelapp.comm), www prefix isn't required in the urls, comm could be a real comain so we can't throw validation error.
We could implement hints (`did you mean to type xx.yy`), but we can't throw validation errors for entering valid urls. Not sure if we should implement that though, it's nice to have it, but it's not very importa

[2018-07-10 09:50] vikasrohit commented on #2038
Agreed with @gondzo. @rmjmccormick we relaxed the URL validation long ago https://github.com/appirio-tech/connect-app/issues/626 because users are using it store different types of links which are not typically following the common URL patterns.

[2018-07-10 09:52] gondzo commented on #1946
With 403 only, we don't know if project is not in review yet or is already taken by a different copilot

In the backend we'd have to change the error message in the permissions for project.view https://github.com/topcoder-platform/tc-project-service/blob/dev/src/permissions/project.view.js , not in the controller/service. Should be fairly easy?

[2018-07-10 11:02] vikasrohit opened #2182 "Admin is not able to add team member without joining the project"
I noticed that after changes for 2.4.3 an admin is not able to add team members without joining the project which is an existing feature on production.

fyi @rmjmccormick @RishiRajSahu @vic-topcoder I am fixing it, please let me know if it was intentionally removed.

[2018-07-10 11:18] vikasrohit commented on #1946
Oh, got it. Front end does not know the status of the project without calling the API.

@gondzo, Can you please get it implemented it in project service?

[2018-07-10 11:56] gondzo commented on #2175
Yup, we can use that, we just have to update message service to send tags to the bus and update tc-notifications to parse tags into phaseId.

[2018-07-10 11:57] vikasrohit commented on #1946
I think that would be a good question for @rmjmccormick  and @vic-topcoder

[2018-07-10 12:06] vikasrohit commented on #2175
Okay. Let me know if we can get that done via task, if not I can do those changes tomorrow.

[2018-07-10 12:12] vikasrohit commented on #1985
Yep, handling it in a generic way would be good, however, I am not sure what exactly that would be. How are we dismissing the notifications right now?

I am not sure if all notifications would have separate routes i.e. there might be multiple notifications sharing the same route, so it would be difficult to determine which notification has to be dismissed.

[2018-07-10 13:44] gondzo commented on #1946
@vikasrohit done, backend will return one of three error messages for copilot:
`Copilot: Project is already claimed by another copilot`
`Copilot: Project is not yet available to copilots`
`Copilot: Project has already started`

all of them are prefixed with `Copilot:`. Can you update the UI to show those error messages for copilots?

[2018-07-10 14:41] gondzo commented on #2175
will be done via task, along with #2178

[2018-07-10 15:06] RishiRajSahu commented on #2166
@rmjmccormick thanks for confirming !, and yes agree to what you mentioned regarding responsiveness of data shown wrt to any changes in phases I had that in mind too.

[2018-07-11 02:01] vic-topcoder commented on #2178
Agreed - anytime I mention Notification, we should trigger all channels (in-app, email, and future {push, desktop, browser tab counter, etc.})

[2018-07-11 02:05] maxceem commented on #2158
I'm sure I got where can I find `Add your discussion title`, did you mean `Add your first post`?

Collapsed New post thread:

![image](https://user-images.githubusercontent.com/146016/42546697-0e73341c-84f1-11e8-8792-c899502587dc.png)

Expanded New post thread:

![image](https://user-images.githubusercontent.com/146016/42546722-2b4a7c4e-84f1-11e8-9681-e323caf5bd66.png)

![image](https://user-image

[2018-07-11 02:07] vic-topcoder opened #2183 "Delivered phases should be on top of all phases, and update the delivery date as the final date."
Right now when we change the status of a phase to Delivered, we don't change the delivery date, and it should stay on top of all active/planned phases.

The "Delivered" state really represent when we close the work and is used to recognize revenue. It should update the end date to the date of selecting the status and thus move to the top of the active planned phases (Why do we have planned phases

[2018-07-11 02:13] vic-topcoder opened #2184 "[$50] Specification of a delivered phase should be read-only"
We don't want customers to be able to change the specification after the phase is started (active and delivered) - this would reduce the value of our records and any potential disputes that might arise.

[2018-07-11 04:30] maxceem commented on #2176
Fixed by https://github.com/appirio-tech/connect-app/commit/125f0bc3309ab5bce93937ec1a3501a62a4ee362

Note, that if a user is not a member of the project, this feature won't work for him. As this feature is based on notifications and non-memeber doesn't get notifications. This is how it has been implemented since the begininng.

[2018-07-11 05:10] maxceem opened #2185 "Feed components are being re-rendered on typing"
This issue is created as a part of this one https://github.com/appirio-tech/connect-app/issues/2138

Typing is very slow when there are several topic threads. Every time we type a symbol all the threads are rerendered. In the next video, I quickly type the same latter with the same interval but letters appear in batches rather one by one http://take.ms/wA1u2

See for example this project https://c

[2018-07-11 05:11] maxceem commented on #2138
Separate issues created to fix typing issue https://github.com/appirio-tech/connect-app/issues/2185

This one is done.

[2018-07-11 06:47] vikasrohit commented on #2176
Good to point out that @maxceem so that all are on the same page. Thanks.

[2018-07-11 07:38] maxceem commented on #2119
Please, let me know which way we'd like to use here:
- just hide file uploading during creation but show on the spec
- implement a common feature (flag in project templates) which will hide any question during creation but still shows on the spec. This is way will require us to change data (not model) on the server.

[2018-07-11 07:38] vikasrohit commented on #2183
As I said previously, we are not forcing any thing to the user. So, its their will how they want to organize the phases. If they have marked a phase completed but haven't marked a phase previous to it, it is their responsibility to update the dates, of the previous phase, to be ahead of the completed one.

What we can do is to update the end date of the phase if it is closed earlier than scheduled

[2018-07-11 08:56] vikasrohit opened #2187 "[$40] Update end date of a phase when a phase is marked as delivered"
Continuing from #2183, only thing in the scope of this issue is to update the end date when user is marking a phase completed.

fyi @rmjmccormick @RishiRajSahu

[2018-07-11 09:16] rmjmccormick commented on #2183
@vikasrohit Thanks. As you said, at this stage, we are giving the user full flexibility and responsibility. @vic-topcoder 's point about showing delivered phases at the top of the list of phases (above any other active or planned phases) is a good one though, can this be done?

[2018-07-11 10:06] maxceem commented on #2110
Done via https://github.com/appirio-tech/connect-app/commit/729247f072eb06ee19afbb244766f0d90e38b049

![image](https://user-images.githubusercontent.com/146016/42564998-d491cae4-8534-11e8-9e53-e5f57cb6cfc1.png)

See the demo video http://take.ms/SPljk

**NOTE** I think we can just reload phases instead.

[2018-07-11 10:17] vikasrohit commented on #2148
Closing the issue @rmjmccormick. We can take care of timezone issue separately for better tracking.

[2018-07-11 10:17] #2148 closed

[2018-07-11 10:17] vikasrohit commented on #2129
Closing as deployed into dev.

[2018-07-11 10:17] #2129 closed

[2018-07-11 10:19] vikasrohit commented on #2119
Second approach is the way to go.

[2018-07-11 10:29] maxceem commented on #2119
I propose to add a property `hiddenOnCreation` for such questions.

For example for App project template:

<img width="620" alt="hidden-on-creation" src="https://user-images.githubusercontent.com/146016/42566172-4cae4bda-8538-11e8-8aef-badea7d2db4b.png">

Could somebody add this property for some project template for testing?

[2018-07-11 10:29] vikasrohit commented on #2068
@rmjmccormick closing the issue as we don't have any simple way to enable the images in posts. We should take care of it some next releases.

[2018-07-11 10:30] #2068 closed

[2018-07-11 11:31] vikasrohit commented on #1946
Cool. We can move this issue to CF 10 where I am trying to group all pending tasks for the upcoming release.

[2018-07-11 11:36] vikasrohit commented on #1985
But wouldn't it dismiss notifications for all phases when there are posts in multiple phases and user clicks on one of the notifications.

[2018-07-11 11:40] vikasrohit commented on #2183
Yes, it can be done @rmjmccormick but it would introduce a custom sorting logic after sorting from server which I like to avoid to keep things simple. I think these type of use cases would be rare if users are using the platform correctly. I like to avoid such cases because they tend to increase possibility of bugs around that feature.
However, its your final call, we can make those changes.

[2018-07-11 11:43] vikasrohit commented on #2175
@gondzo can we close this separately from #2178? It would allow us to keep #2178 from out of scope of current release.

[2018-07-11 12:08] rmjmccormick commented on #2068
@vikasrohit this is listed in Aha, yes.

[2018-07-11 12:12] rmjmccormick commented on #1946
@gondzo @vikasrohit This came up yesterday on a demo on Monday with the business. It's a good point and we need to consider further. For the time being, I'd leave as it please.

[2018-07-11 12:16] vikasrohit commented on #1946
Yes, we have that mind while brainstorming for the project plan. We thought of having separate teams per phases but left it out of scope because it needs more brainstorming.

[2018-07-11 18:33] vic-topcoder commented on #2183
Ideally we should record the "Delivery date" as a separate field so for our intended purposes we have a planned start date, actual start date, planned delivery date, actual delivery date, and we store those so we can analyze them later. Also - we should record any extensions to the project phase as to know why and what happened.

On another note, Tony requested that we keep a history log of all ti

[2018-07-12 05:30] vikasrohit commented on #2183
@vic-topcoder Yes, we thought of keeping a separate "Delivery date", however, when we did brainstorming for milestones, we found that we can utilize the actual end date (which are keeping as a separate field in each milestone as completion date) to determine when the phase was actually delivered. Does that serve your purpose?
For audit thing, we have that in mind since when we migrated our message

[2018-07-12 05:50] RishiRajSahu commented on #2158
Done.

[2018-07-12 05:50] #2158 closed

[2018-07-12 07:12] vikasrohit opened #2188 "[$100] New component for tiled checkbox group is needed"
We need a new component in react-components repo for enabling users to select multiple options from the available options. UI should be similar to the existing tiled-radio-group component.

fyi @gondzo

[2018-07-12 08:50] vikasrohit commented on #2110
Okay. Thanks @vic-topcoder for the explanation, we would take care of transition in upcoming release. Do you want me to track that in github or is it something you already have tracked in aha?

[2018-07-12 09:39] maxceem opened #2189 "Progress bar at the sidebar is not dynamically updating on changes"
This can be reproduced in [dashboard-improvements](https://github.com/appirio-tech/connect-app/tree/feature/dashboard-improvements) branch where the progress bar is shown in the sidebar.

For example this project http://local.topcoder-dev.com:3000/projects/6436/plan

If we edit some phases we will see the effect on the big progress bar, but progress bar at the sidebar won't be updated until we rel

[2018-07-12 12:12] deepakanbarasan1 opened #2190 "Select a product button not visible in Mobile UI"
**Expected behavior :
Describe :**

Adding a phase should ask user to select a product for the phase.

**Actual behavior :
Describe:**

Select a product button not visible, when user adding a new phase in Mobile UI

**Screen Shot for reference :**

![select a product button not visible in mobileui](https://user-images.githubusercontent.com/30447858/42632473-eb71655a-85fa-11e8-8a7a-0fd38b72fddb.PNG

[2018-07-12 12:13] deepakanbarasan1 commented on #2190
@RishiRajSahu  Please fix the above issue.

[2018-07-12 14:09] vic-topcoder commented on #2110
Yeah, let's add this as a new issue for the future. Thanks!

[2018-07-13 02:49] maxceem commented on #2189
I've fixed the 2nd item in the `dev` branch as it's a general issue, I've created [PR](https://github.com/appirio-tech/connect-app/pull/2191)

After the PR is merged to the `dev` branch. I can merge `dev` branch into `feature/dashboard-improvements` and fix the first item of this issue.

[2018-07-13 03:07] maxceem commented on #2119
Done via https://github.com/appirio-tech/connect-app/commit/5e0bfab21bd6e7ffa6208ce000f28c1c489a70a2

[2018-07-13 09:08] rmjmccormick opened #2192 "Specification tab info not saving in Development integration & Front end dev phases"
When I add and save data to the specification tab in a Development integration or front end dev phase, the specification tab resets itself to default view (the specs data disappears) when I toggle to another tab and then return into specification.

Tested with Pat Monahan account

[2018-07-13 09:10] architectt1 commented on #2178
@gondzo @vic-topcoder

Should this be triggered for both `create` and `update` actions for a given phase? I'm not sure if *publish* refers to `create` or to `update` as well. Also, I'm assuming that, if a phase already exists with the Planned mode for the project in question, then we shouldn't send this notification. Is that correct?

Regarding the files added, there's a `project_attachments` tabl

[2018-07-13 09:19] gfzabarino commented on #2178
@gondzo @vic-topcoder I also noticed that in the project's API, an authorized user can create phases in any state. For all the phase transitions' notifications, these should be about `update` and not `create` actions, right?

[2018-07-13 09:20] architectt1 commented on #2178
@gondzo @vic-topcoder I also noticed that in the project's API, an authorized user can create phases in any state. For all the phase transitions' notifications, these should be about update and not create actions, right?

[2018-07-13 09:59] RishiRajSahu commented on #2192
Found the issue, it was due to absence of `"hidden": true` flag for scope questions under product templates. Iterated over other products as well to check for the same issue, found two more products `Backend-Dev` and `other-design` apart from `Development integration` and `front end dev` product.

Fixed all of them.

[2018-07-13 10:03] rmjmccormick commented on #2192
Good job @RishiRajSahu Appreciate it!

[2018-07-13 10:06] #2192 closed

[2018-07-13 12:13] architectt1 commented on #2178
Could you please add the following topics to Kafka (@gondzo that would be the instance you passed me access credentials about)?

[code]

For files, we already have the `notifications.connect.project.fileUploaded` event being sent, but again, that's related to the project as a whole, and not to a particular phase. @gondzo if you can, please double check this event is already added to Kafka or not,

[2018-07-13 12:43] rmjmccormick opened #2193 "Edit post functionality on Project dashboard"
When editing a post in Project dashboard, the button I click on to validate the edits in the post should read "Update post" NOT "Update title". See below screenshot.

![image](https://user-images.githubusercontent.com/39598852/42692139-e594f466-86aa-11e8-9936-b75446524fe0.png)

[2018-07-13 12:51] rmjmccormick opened #2194 "Phase posting functionality for Development Integration product"
Posting functionality in a development integration phase seems to have been disabled?

![image](https://user-images.githubusercontent.com/39598852/42692488-2d619f00-86ac-11e8-8a70-fbc72f39d91b.png)

[2018-07-13 18:44] vic-topcoder commented on #2190
The button should be visible only on a hover in the card (white with drop shadow)

[2018-07-14 04:15] architectt1 commented on #2178
@gondzo @vic-topcoder I was able to install a local Kafka instance, so I'm able to test locally. I need the following information from you, as I don't have a deep insight of the business logic of the system: for each Kafka event, please let me know which roles from the ones below need to get notified:

### projectRoles

* `owner`
* `copilot`
* `manager`
* `member`

### topcoderRoles

* `Connect Co

[2018-07-14 05:57] architectt1 commented on #2178
I can confirm attachments added to projects are generating a notification record to all project's members with notification type `notifications.connect.project.fileUploaded`.

[2018-07-16 06:52] RishiRajSahu commented on #2193
@rmjmccormick fixed this issue with https://github.com/appirio-tech/connect-app/commit/6c5ecd10788bf576ba0af57bc4b4e0d2c24cac2d. Please verify and feel free to close.

[2018-07-16 07:06] vikasrohit opened #2195 "Reload only the update phases section"
### Expected behavior
It should reload only the phases section instead of providing the the Reload button to reload the complete page when user has edited the start date or duration of a phase in a way which changes the order of the phases. It should have TBD transition.

### Actual behavior
Right now we are showing a button to reload the complete page when phase is updated for start date or durat

[2018-07-16 07:06] vikasrohit commented on #2195
Designs for the transition are needed to proceed further.

[2018-07-16 08:32] rmjmccormick commented on #2193
Looks good @RishiRajSahu

[2018-07-16 08:32] #2193 closed

[2018-07-16 11:37] vikasrohit commented on #2178
@gondzo Please keep the changes for this issue in a separate feature branch because it is not scheduled for upcoming release.

@vic-topcoder Should we say that Project Plan is ready when only one phase in the plan is set to planned mode? May be we should send this event when all phases in the project plan are marked as planned?
Also, if we raise both `Phase progress changed` and `Project progress

[2018-07-16 11:55] RishiRajSahu opened #2196 "Rendering milestone(s) only if required to be part of timeline"
There are milestones associated with timeline which needs to rendered in specific scenarios otherwise not.
For eg.` final-fixes` milestone will be required only if in the delivery milestone user asks for final fixes else not. we need to take care of rendering of such milestones and having `hidden:true` flag in their templates

Backend changes needed are tracked here - https://github.com/topcoder-p

[2018-07-16 14:51] rmjmccormick commented on #2194
@RishiRajSahu OK - understood. It's not a great UX for those customers this might affect though - how long would it take to correct in the backend? Thanks.

[2018-07-17 02:23] maxceem commented on #2189
Fixed item 1 via https://github.com/appirio-tech/connect-app/commit/5b2ce9bff45023e4f7301a76112dca8f8d15f348

So it's done.

[2018-07-17 09:07] vikasrohit commented on #2194
@rmjmccormick I know it is not a good UX for customers, but I don't think it should be occurring every other time a phase is added to the project. To me it seems like it is happening occasionally and all I am saying is that we can handle this just like we are handling issues in creating direct projects where we are asking users to log a ticket in the support.
We are still trying to find out the ro

[2018-07-17 09:19] vikasrohit commented on #2121
@gondzo please keep the changes for this issue in a separate feature branch so that we can merge it as per our release plan.

[2018-07-17 10:01] rmjmccormick commented on #2194
@RishiRajSahu Thanks for clarifying! That's fine.

[2018-07-17 12:31] vikasrohit commented on #2187
@rmjmccormick Do we need this feature after reading [comment](https://github.com/appirio-tech/connect-app/issues/2183#issuecomment-404394049)?

[2018-07-17 12:40] rmjmccormick commented on #2187
@vikasrohit Yes, this should work. To test my understanding, with the new milestones, if a project ends "on time" (i.e. neither earlier nor later than planned) actual end date = completion date?

[2018-07-17 12:47] rmjmccormick commented on #2187
![image](https://user-images.githubusercontent.com/39598852/42818096-46df99ce-89d0-11e8-964d-2ad8fd183dce.png)

@vikasrohit - we are looking to remedy this type of situation essentially (instances in which projects are delivered before their planned end date...)

[2018-07-17 22:33] vic-topcoder commented on #2121
Let's add the requirements for team management and how we plan on splitting/organizing teams. Delay this until we have the requirements completed.

[2018-07-18 18:28] gondzo opened #2201 "[$35] Post contents - link & mention styling"
- [x] Links styling is broken in the latest connect, it's displayed as a black text and no underline
![image](https://user-images.githubusercontent.com/3051646/42900409-1f18894c-8ac9-11e8-9f06-5df233024d72.png)
- [x] @mention - (should be bold)

continued from https://github.com/appirio-tech/connect-app/issues/2301

[2018-07-18 20:16] gondzo commented on #2011
OK, we will just disable checks for system messages when fetching posts/topics from message api

[2018-07-18 20:17] gondzo commented on #1946
The task here is to show a custom error message from the api in case the error message starts with "Copilot:"

[2018-07-18 20:20] gondzo commented on #2183
Updating end date is handled in #2187 - should we close this one @vikasrohit

[2018-07-18 20:20] gondzo commented on #2188
The component should be added to https://github.com/appirio-tech/react-components/tree/feature/connectv2/components

[2018-07-18 21:09] asadath1395 commented on #2066
@gondzo Can you point me to any project which has that kind of phases, not able to find one

[2018-07-19 01:21] andela-jomadoye commented on #2184
The approach I used to solve this was to disable the `Save changes` button on the project specification page whenever the project is active or completed. hence the user cannot make any changes by saving his/her updates.

[2018-07-19 02:06] jankyzhang commented on #2011
I am working on this - please assign when provided access.

[2018-07-19 02:13] andela-jomadoye commented on #2187
Just to clarify @gondzo.

When the user delivers a project phase, you want to update the EndDate of the phase in the redux store with the current time the phase was delivered?

[2018-07-19 02:50] andela-jomadoye commented on #1946
@gondzo Do you have any mockup or idea of how the `Custom Error message` should be displayed?

[2018-07-19 05:17] vikasrohit opened #2204 "Attachments/File Upload for phase specification question is not working"
<img width="707" alt="screen shot 2018-07-19 at 10 42 46 am" src="https://user-images.githubusercontent.com/2417632/42922914-82a5649a-8b40-11e8-9974-c9090eabfa23.png">

fyi @rmjmccormick @RishiRajSahu

[2018-07-19 05:39] vikasrohit commented on #2184
We should disable the complete form when the phase status is `completed`.

[2018-07-19 05:49] vikasrohit commented on #2201
Thanks @gondzo  for reporting the issue.

@RishiRajSahu I think it is because of the same cause which prevented the other styles to be broken in dev. Does that fix resides in our 2.4.4 PR?

fyi @rmjmccormick

[2018-07-19 05:54] vikasrohit commented on #2188
It would be great if we can reuse some of the code from the `tiled-radio-group` component to allows us changing only in one place for updating the styles of both tiled radio and tiled checkbox components. May be just have one component and control the multi selection with a prop? @gondzo what do you think?

[2018-07-19 06:21] billsedison commented on #2201
The link style is also incorrect if I manually add a link to a text.
![image](https://user-images.githubusercontent.com/5657467/42924902-c9b71b12-8b5e-11e8-80fd-70f6eed6ee53.png)

The link style is correct in the edit mode, but incorrect in the display mode.

Edit mode
![image](https://user-images.githubusercontent.com/5657467/42924945-f1c82fd8-8b5e-11e8-9018-0354c10cc8a5.png)

Display mode
![imag

[2018-07-19 09:13] jankyzhang commented on #2011
Please add the "Ready for Review" label
I cant assign myself.
Thanks

[2018-07-19 09:30] jankyzhang commented on #2011
![printscreen](https://user-images.githubusercontent.com/2173685/42934321-6a6b56d0-8b79-11e8-947e-41b8f784270b.png)

[2018-07-19 10:46] sumitdaga commented on #2187
@rmjmccormick  @gondzo
what if a phase is in planned stage and is marked as delivered?

[2018-07-19 11:14] rmjmccormick commented on #2187
@sumitdaga the user journey you describe should never happen. The correct journey is planned --> in progress --> delivered.
Given the flexibility in the UI, it is technically possible for co-pilots to go directly from planned --> delivered but they should not be doing this.

[2018-07-19 12:14] vikasrohit opened #2213 "[$40] Attachments uploaded in phase specification tab are not immediately reflected in the left panel"
### Expected behavior
The left panel's Files section should render the link to the newly uploaded file immediately.

### Actual behavior
It does not reflect the link of the file immediately, rather it requires a full page refresh to see the changes.

### Steps to reproduce the problem
- Upload file in phase's specification tab.
- Observe the Files section in the left panel, it does not gets the li

[2018-07-19 12:14] vikasrohit commented on #2213
fyi @rmjmccormick @RishiRajSahu

[2018-07-19 12:17] vikasrohit commented on #2204
Fixed and deployed to the production.
Current fix handles the situation only on the front end and is actually a workaround but can serve as a solution short term. In fact it can serve as long term solution, if we don’t find any side effect of it. If we see any issue with the approach I have used to fix the issue, we may have to implement more generic solution at the backend side.

[2018-07-19 12:17] #2204 closed

[2018-07-19 12:21] vikasrohit commented on #2213
@gondzo could this be included in CF 10?

[2018-07-19 12:32] enodi commented on #2213
I am working on this.

[2018-07-19 20:40] meggamind commented on #2066
want to work on this issue, but not able to change label or assign myself

[2018-07-20 05:48] meggamind commented on #2066
@gondzo Is there is a zeppelin access, will be helpful and easier to get the height and widths

[2018-07-20 05:50] meggamind commented on #2066
@gondzo the only thing to implement is timeline, right? The language is a bit confusing, sorry

[2018-07-20 06:09] meggamind commented on #2066
or do we have to just fix the opening of the link in new page and tab?

[2018-07-20 08:58] maxceem opened #2215 "Connect logo is not aligned on "Add a New Phase" popup"
When creating a new phase on the project plan page, logo is not aligned with the close button.

![image](https://user-images.githubusercontent.com/146016/42993397-d68b7ace-8c3d-11e8-81ce-9507898890af.png)

[2018-07-20 09:04] vikasrohit commented on #2066
1. No need to add timeline tab, it is a new feature in development.
2. I guess no need to change the behaviour on desktop. @RishiRajSahu @rmjmccormick could you please confirm that?
3. On mobile, tapping (anywhere except the Edit icon) on a particular phase, should load the phase with tabs (as shown in https://marvelapp.com/8a94680/screen/41372923 for portrait view and https://marvelapp.com/8a9468

[2018-07-20 09:26] rmjmccormick commented on #2066
@meggamind No change to behaviour on desktop required.

[2018-07-20 10:00] gondzo commented on #2011
@jankyzhang you need to accept the invite (sent via email) to get access to the repo

[2018-07-20 10:01] gondzo commented on #1946
It can be similar to the 404 screen but include the error message text

[2018-07-20 10:02] gondzo commented on #2188
Agreed, it's easier to modify the tiled-radio-group than create a new component from scratch

[2018-07-20 10:03] gondzo commented on #2188
Default properties should be added so the component stays as is if no new properties are passed by the caller (we don't want to modify all code that already uses tiled-radio-group)

[2018-07-20 11:51] gondzo opened #2216 "First post in a topic"
At the moment we allow users to delete all posts in a topic so we can end up with an empty topic, but our UI breaks with no posts. I think we should just disable deleting the first post - user should delete the topic instead. Alternative is to disable deleting a post if it's the only one in the topic (this might lead to having different topic author and first post author).
What do you think @vic-t

[2018-07-20 11:52] gondzo opened #2217 "[$60] Delete topic option"
### Expected behavior
There should be a delete topic option on the dashboard

### Actual behavior
There is only edit topic title in the dashboard stream

![image](https://user-images.githubusercontent.com/3051646/43001070-325c25ac-8c24-11e8-833e-53123e0add1a.png)

[2018-07-20 11:59] vikasrohit commented on #2217
@gondzo I have moved this to CF 10.

[2018-07-20 12:05] rmjmccormick commented on #2216
@gondzo Agreed. We should be prompting the user to delete the topic rather than the post if there intention is essentially to remove both.

[2018-07-20 12:10] enodi commented on #2213
@gondzo and @vikasrohit I am unable to reproduce this error, the link is displayed without reloading this page. Please check again.

[2018-07-20 15:07] jankyzhang commented on #2011
@gondzo ,thanks.
I just find it.

[2018-07-20 15:24] andela-jomadoye commented on #2217
@gondzo  @vikasrohit For this ticket do you also need the functionality of the delete topic to be implemented? or you just want a delete topic option to be displayed.

[2018-07-20 15:56] gondzo commented on #2217
Implement the full feature

[2018-07-20 19:13] vic-topcoder commented on #2216
If a topic is empty, we might display a message "No posts in this topic yet" but I'd love to think we never have a topic without posts. Agreed with @rmjmccormick - let's check if they want to delete the only post and substitute the "delete post" with "delete topic" on the post edit menu - shouldn't be that hard of a change.

[2018-07-20 20:30] gondzo commented on #2066
We already use a library - react-responsive

[2018-07-21 00:34] maxceem opened #2220 "Cannot see "submit" button when creating a post on a mobile device"
On the mobile devices when we add post we don’t see the Submit button initially, we have to scroll to it see screencast http://take.ms/RZewv. This comes from the fact that browser counts the height ignoring top and bottom panels which can be dynamically hidden during scrolling.

I’ve already raised it before https://github.com/appirio-tech/connect-app/issues/2131, but that time I got a response th

[2018-07-21 04:29] vikasrohit commented on #2216
It should not be hard, however, the question is should we consider the first post of the topic or the only post of the topic as non deletable?

Not UX expert but as a user of the product, instead of changing the button in the edit menu, I think prompting user with reason of deleting topic, would be better as it won't confuse user that for some posts they are seeing 'Delete Post' button and for one

[2018-07-21 08:17] mhikeo commented on #2086
Unable to replicate issue. Working as expected.

[2018-07-21 16:48] jomadoye commented on #2187
Hi @Gauravseta Are you still working on this?

[2018-07-21 19:20] Gauravseta commented on #2187
@jomadaye yes

[2018-07-21 19:56] jomadoye commented on #2188
@amitpatra are you still working on this :-)?

[2018-07-21 23:55] meggamind commented on #2066
Still working on it. Will get done soon.

[2018-07-22 07:15] RishiRajSahu commented on #2112
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:16] RishiRajSahu commented on #2113
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:16] #2113 closed

[2018-07-22 07:16] RishiRajSahu commented on #2115
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:16] #2115 closed

[2018-07-22 07:16] RishiRajSahu commented on #2119
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:16] #2119 closed

[2018-07-22 07:16] RishiRajSahu commented on #2123
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:16] #2123 closed

[2018-07-22 07:17] RishiRajSahu commented on #2130
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:17] #2130 closed

[2018-07-22 07:18] RishiRajSahu commented on #2138
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:18] #2138 closed

[2018-07-22 07:19] RishiRajSahu commented on #2176
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:19] #2176 closed

[2018-07-22 07:19] RishiRajSahu commented on #2189
Closing as pushed to dev . fyi @vikasrohit @rmjmccormick

[2018-07-22 07:19] #2189 closed

[2018-07-23 07:54] rmjmccormick commented on #2133
@RishiRajSahu this change is not yet showing up in dev...?

[2018-07-23 07:56] maxceem commented on #2112
@rmjmccormick Done via https://github.com/appirio-tech/connect-app/commit/dbd2f3e826e0289ad61be54346ad6e2c708c9227. You may apply [PR#2222](https://github.com/appirio-tech/connect-app/compare/issue-2112-fix?expand=1)

The result looks like this
![image](https://user-images.githubusercontent.com/146016/43064186-cf260f9c-8e90-11e8-9cb4-5239b6cb106a.png)

[2018-07-23 09:10] RishiRajSahu commented on #2133
@rmjmccormick currently feature/timeline-milestone branch of project-service is deployed on `dev env` not the dev branch. Anyway this change was already pushed to prod you can verify it here https://connect.topcoder.com/projects/6485/plan.

[2018-07-23 09:35] RishiRajSahu commented on #2112
@rmjmccormick pushed to dev. please verify and feel free to close.

[2018-07-23 09:46] RishiRajSahu commented on #2125
merged to dev.

[2018-07-23 09:46] #2125 closed

[2018-07-23 09:49] #2131 closed

[2018-07-23 09:50] RishiRajSahu commented on #2114
merged to dev.

[2018-07-23 09:50] #2114 closed

[2018-07-23 09:54] rmjmccormick commented on #2133
@RishiRajSahu Good stuff! Thank you.

[2018-07-23 09:59] rmjmccormick commented on #2112
Looks good. Thank you all.

[2018-07-23 09:59] #2112 closed

[2018-07-23 12:21] RishiRajSahu commented on #2166
@rmjmccormick fixed and pushed to dev with https://github.com/appirio-tech/connect-app/commit/7af60b119ac9402e5c3b6062d080a3e0c5121fe6. All mentioned in above 3 points is taken care.

[2018-07-23 12:21] #2166 closed

[2018-07-23 12:36] deepakanbarasan1 opened #2223 "Unable to edit Post title"
**Expected behavior :**
Describe : Post title should be editable by Manager/ Customer/ Copilot.

**Actual behavior
Describe.**

Post title unable to edit. intermittently issue

**Screenshot/screencast
Attach or link a resource.
![unable to update post title](https://user-images.githubusercontent.com/30447858/43076832-1d8f2134-8ea3-11e8-9ab5-0f54f7937b2d.PNG)
**

[2018-07-23 13:46] deepakanbarasan1 commented on #2223
@RishiRajSahu  Looks good.. Thanks!
![able to update the title](https://user-images.githubusercontent.com/30447858/43080212-d6a10238-8eac-11e8-9129-f58b9ae60b09.PNG)

[2018-07-23 13:46] #2223 closed

[2018-07-23 14:26] deepakanbarasan1 opened #2224 "Post title appears out of the post title field"
**Expected behavior :**
Describe : Post title should not appears out of the post title field.

**Actual behavior**
Describe.
Post title appearing out of the pos
![validate the post title field maximum characters appears out of the post field](https://user-images.githubusercontent.com/30447858/43082765-73bd27c2-8eb2-11e8-8a2b-904d54d849c9.PNG)
t title field

Screenshot/screencast
Attach or link a r

[2018-07-23 16:41] meggamind commented on #2066
@rmjmccormick @vikasrohit @gondzo
let me know if this is acceptable or any changes need to be made
https://github.com/appirio-tech/connect-app/pull/2225

[2018-07-23 16:43] gondzo commented on #2188
This is now open for pickup

[2018-07-23 16:43] gondzo commented on #2213
this is now open for pickup

[2018-07-23 16:44] gondzo commented on #2187
@Gauravseta any progress on this task?

[2018-07-24 08:37] RishiRajSahu commented on #2224
@DeepakAnbarasa : Few things to be noted -
1.The string you put for title is long string without **_spaces_**, if title has spaces between the words it won't appear out of the post UI.(anyway longest word of english could be accommodated with in the title and it won't appear out)
2.Special characters are allowed in topic title -  as it sometimes needed for example `!` is needed in welcome posts(wo

[2018-07-24 08:52] RishiRajSahu commented on #2224
Able to create topic with special char mentioned in Description, Yes user can enter special chars, may be it was due to some network issue.
![screen shot 2018-07-24 at 2 20 24 pm](https://user-images.githubusercontent.com/11248478/43127338-e48c164e-8f4c-11e8-8b76-9a949d0db67b.png)

[2018-07-24 09:44] rmjmccormick commented on #2224
@deepakanbarasan1 @RishiRajSahu I am comfortable with the UI as is. The likelihood of a user wishing to enter a single uninterrupted line of characters as a title is very remote, so I see no need to limit the title length. Thanks both.

[2018-07-24 09:44] #2224 closed

[2018-07-24 10:11] vikasrohit commented on #2086
@mhikeo we are still the issue in dev environment. Could you please attach a video where it is working for you?

[2018-07-24 10:35] vikasrohit opened #2226 "[$90] Calculate progress of phases based on number of completed milestones"
We should now calculate the progress of a phase which active and has milestones, by calculating the duration of completed milestones against total duration of milestones.

fyi @RishiRajSahu @rmjmccormick

[2018-07-24 11:34] RishiRajSahu opened #2227 "[$80] Remove individual calls for creating milestones for a timeline"
Right now we are calling milestone's POST call multiple times to create milestones for a timeline. Now we have backend supported with implicit creation of milestone when calling POST for milestone with `templatedId` param passed, so this single call will create timeline and all the associated milestone using value of `templatedId`

[2018-07-24 11:37] RishiRajSahu opened #2228 "Update values for default texts of existing milestone templates - Website and VD"
The milestones templates currently present in backend needs to be updated with text provided [here](https://docs.google.com/spreadsheets/d/1SXZjX5TlbfFa7IuifOseCKqvqkytxeXUEH3A1rL0CCw/edit#gid=0)

[2018-07-24 11:48] RishiRajSahu opened #2229 "Rendering Timeline's Milestones when startDate of phase is NULL"
Below two scenarios to be considered while rendering timeline and milestones.

1. When startDate is Null -
      Don't consider the date values present in timeline and milestone objects instead use system current date same as phase to render them

2. When startDate of phase is updated  -
      Update the startDate of timeline and milestone as well, and render considering the date values persisted

[2018-07-24 11:49] RishiRajSahu opened #2230 "[$60] Don't include hours when persisting date fields for timeline and milestones"
Right now, when a POST call for timeline and milestone is made the hours are also getting persisted along with date, need to remove hours from the timestamp getting persisted.

[2018-07-24 12:42] Gauravseta commented on #2187
@gondzo yes working on it.will post minor doubts in few hrs.

[2018-07-24 12:42] gondzo opened #2231 "Milestone extension workflow and messages"
Current milestone extension workflow is the same for all milestone types (Request extension/approve extension) and messages always refer to "low number of submissions". We should have custom messages for extending submission phases vs review extension. Alternative is to disable Request Extension button when we're waiting on client review

![image](https://user-images.githubusercontent.com/3051646/

[2018-07-24 12:59] gondzo opened #2232 "[$20] Add link button text"
Add link button text should be `Add link` instead of `Adding link`

![image](https://user-images.githubusercontent.com/3051646/43139471-14137966-8f52-11e8-838d-3a6f2cd55245.png)

[2018-07-24 13:13] gondzo opened #2233 "Delivery milestone - manager and copilot views"
Managers and copilots don't have any useful info in the delivery milesone
![image](https://user-images.githubusercontent.com/3051646/43140338-0f79e640-8f54-11e8-8895-da9b21ace5ac.png)

@RishiRajSahu should we just display some custom message here for managers and copilots?

[2018-07-24 16:43] vic-topcoder opened #2234 "Project plan progress reporting - logic updates"
So, we did start fixing the project plan progress bar. The logic is not yet finalized as I see it, because we show progress bar even if no phase actually had started work. It makes no sense to show progress for an activity that hasn't started yet.

![screen shot 2018-07-24 at 9 37 55 am](https://user-images.githubusercontent.com/8484061/43153228-8b5a5f62-8f25-11e8-846a-e3c459174d93.png)

Can we ex

[2018-07-24 18:07] vic-topcoder commented on #2233
Managers are supposed to upload the final deliverable into the milestone to complete it

[2018-07-25 06:36] vikasrohit opened #2235 "[$80] Show the confirmation modal before accepting the final deliverables"
as per designs we need to show the modal
<img width="596" alt="screen shot 2018-07-25 at 11 49 36 am" src="https://user-images.githubusercontent.com/2417632/43183275-28afa8ee-9002-11e8-8a0c-308043d2ffb1.png">
before recording the response of the customer for accepting the designs.
It needed to be asked for both design delivery and code delivery but with different texts.

For design flow see https:

[2018-07-25 06:39] vikasrohit commented on #2066
@gondzo should we mark it as ready for review?

[2018-07-25 06:39] vikasrohit commented on #2121
Removing from CF 10.

[2018-07-25 06:42] vikasrohit commented on #2188
Just a health check, are things good with this task? Any questions or clarifications needed?

[2018-07-25 06:45] meggamind commented on #2066
I think the build fail, i'll update the lint error. Also would it better to just make a new container for the route /phase/:phaseId?

[2018-07-25 06:45] vikasrohit commented on #2234
Can we simplify the logic by hiding the progress bar for customer whenever the progress is 0? Does that misses any edge case?

fyi @rmjmccormick @acshields

[2018-07-25 06:51] meggamind commented on #2188
@vikasrohit  I'm just setting up to use the reac-components library locally.
Any page that I can direct to in the connect app to look at current check box?

[2018-07-25 06:54] vikasrohit commented on #2228
@vic-topcoder @rmjmccormick @acshields just to make all on same page, the sheet linked in the issue description, describes the texts for milestones based on new product catalog which works on `iteration` based products while right now our catalog on production does not have that. We have all different sorts of products i.e. website, app, chatbot etc. So, the scope of this issue is not to incorpora

[2018-07-25 07:30] vikasrohit commented on #2188
Currently we are using standard checkbox component which you can see in Specification tab of `Website Development` phase under `Development Specification` section of project https://connect.topcoder-dev.com/projects/6583/plan. Similarly you can see the current tiled radio group in action in the same project's same phase but in `Design Specification` section.

[2018-07-25 07:59] meggamind commented on #2188
Oh sorry I meant tiled radio. Thanks

[2018-07-25 09:02] RishiRajSahu commented on #2228
@vikasrohit exactly !

[2018-07-25 09:38] rmjmccormick commented on #2231
@vikasrohit Agree. Rather than a new button, couldn't we consider a toggle button instead for `Mark for Review`? It would be less invasive than a new `Recall Review` button

@gondzo In your milestone extension requested language above, please amend (third line) "...extend the milestone **with** 24h" to "...extend the milestone **by** 24h"

[2018-07-25 09:43] vikasrohit commented on #2231
Toggle button makes an impression that it is very common to make it toggle i.e. manager might take it very casual which ideally should not be because it changes the customer's view every time a manger toggles it. So, IMO, we should have new button in place of `Mark for Review` button as soon as milestone is marked for review. Essentially, customer would see it as just change of the text of the but

[2018-07-25 09:53] rmjmccormick commented on #2231
@vikasrohit As you describe it makes sense. We'll need to think it through a bit more though. Let's set up another issue for this as you originally suggested.

[2018-07-25 09:57] vikasrohit opened #2236 "Need of recall button for review milestones"
We might need a new button, Recall Review in that case which would enable manager to recall the customer review option in case they had clicked on the Mark for Review button accidentally.
Continuing from https://github.com/appirio-tech/connect-app/issues/2231#issuecomment-407693144
fyi @rmjmccormick @acshields @RishiRajSahu

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-463

[2018-07-25 11:53] meggamind commented on #2188
@vikasrohit  I'm supposed to use 'feature/connectv2' branch right? I'm not able to compile react-components library. npm run dev or npm build dev.

ERROR in Cannot find module 'coffeescript'
 @ ./example.js 13:0-35

ERROR in Cannot find module 'coffeescript'
 @ ./components/Router/Router.jsx 13:13-35

ERROR in Cannot find module 'coffeescript'
 @ ./components/Router/Router.jsx 105:27-79

ERROR in

[2018-07-25 12:04] gondzo commented on #2231
OK, closing this one

[2018-07-25 12:04] #2231 closed

[2018-07-25 12:09] gondzo commented on #2233
OK, let's show the same interface for managers as customers here.
Same thing for copilots @vikasrohit ?

[2018-07-25 12:48] rashmi73 commented on #2235
@gondzo i wish to work on it. please assign it to me.because i am not able to assign it.I have started working on this.

[2018-07-25 13:18] gondzo commented on #2235
@rashmi73 You have to accept the invitation in your email first

[2018-07-25 14:06] narekcat commented on #2227
@gondzo @RishiRajSahu I start connect-app locally by running `npm start`, but when I try to create new app, it return HTTP error 500. In development console it says HTTP error 404 when requests to this URL  https://api.topcoder-dev.com/v4/projects/6704/phases by method GET. Are there any known issues with development back end ?

[2018-07-25 14:11] gondzo commented on #2227
Which account are you testing with?
available accounts are posted in the challenge forums

[2018-07-25 14:13] narekcat commented on #2227
@gondzo Ok, I have started to work on this issue before you posted available accounts in the form and create my own (username: testcat, email: test-cat@mail.ru). But ok no problem I'll try with accounts posted in the forum. Thank you.

[2018-07-25 15:03] narekcat commented on #2227
@gondzo @RishiRajSahu The description is ambiguous, I can't understand. How many endpoints we have in back end now ? One for creating timeline and one for creating milestones ? Or only one endpoint for creating timeline and all milestones together ?

[2018-07-25 15:47] narekcat commented on #2227
@gondzo @RishiRajSahu The description is ambiguous, I can't understand. How many endpoints we have in back end now ? One for creating timeline and one for creating milestones ? Or only one endpoint for creating timeline and all milestones together ? And if endpoint is only one, which one is /timelines or /milestones ?

[2018-07-25 16:31] amitpatra commented on #2228
I am picking up this issue. I have sent a request to let me access the provided google docs document.

[2018-07-25 16:38] gondzo commented on #2228
@amitpatra document attached here
[Product milestones - connect.xlsx](https://github.com/appirio-tech/connect-app/files/2228730/Product.milestones.-.connect.xlsx)

[2018-07-25 16:47] amitpatra commented on #2228
@gondzo Thanks :)

[2018-07-25 16:47] gondzo commented on #2227
@narekcat create timeline endpoint will accept templateId parameter and will create all the necessary milestones from the templates in the backend. You just need to pass the templateId (productTemplateId) and and remove calls to create individual milestones.
Here is the relevant backend change - https://github.com/topcoder-platform/tc-project-service/commit/827b2252947eb2e3a18f5732ebc09dc7d3187963

[2018-07-25 16:55] narekcat commented on #2227
@gondzo Yes I already understand it from repository https://github.com/topcoder-platform/tc-project-service/tree/feature/timeline-milestone, but there are some issue, because I did as you say, but milestones didn't created.

[2018-07-25 17:01] gondzo commented on #2227
Can you post api call details here (url, body) so we can investigate further

[2018-07-25 17:06] narekcat commented on #2227
@gondzo Api call details are:
Request URL: https://api.topcoder-dev.com/v4/timelines
Request Method: POST
Status Code: 201
Remote Address: 34.231.208.179:443
Referrer Policy: no-referrer-when-downgrade

Request payload:
`{"param":{"name":"Welcome to the App phase","description":"This is the first stage in our project. We’re going to show you the detailed plan in your timeline, with all the milesto

[2018-07-25 17:18] gondzo commented on #2227
Product id 5 doesn't have any milestones defined. You can check defined milestones by calling
https://api.topcoder-dev.com/v4/productTemplates/5/milestones

productId=1 or productId=15 have some templates (website or visual design)

[2018-07-25 17:24] narekcat commented on #2227
Yes, really it returns milestones for productId=1:
`{"id":"16041685-195c-4af5-a54f-c6417485915f","version":"v4","result":{"success":true,"status":201,"content":{"createdAt":"2018-07-25T17:19:45.000Z","updatedAt":"2018-07-25T17:19:45.000Z","id":83,"name":"Welcome to the Website Development phase","description":"This is the first stage in our project. We’re going to show you the detailed plan in you

[2018-07-25 17:44] narekcat commented on #2227
@gondzo I think I find what is the problem. In getting all milestoneTemplates, it sorts templates by order column(https://github.com/topcoder-platform/tc-project-service/blob/feature/timeline-milestone/src/routes/milestoneTemplates/list.js#L43), but when I call /timelines with templateId param, it just find all milestoneTemplates without sording(https://github.com/topcoder-platform/tc-project-serv

[2018-07-25 18:07] gondzo commented on #2227
I'm not sure if that's the only cause.
Anyhow, can you create a PR with the changes for connect-app, and we can debug project service in a separate issue

FYI @vikasrohit

[2018-07-25 18:13] KevinLeigh commented on #2230
Hey there, where are timeline and milestones POST request being called?

[2018-07-25 18:14] gondzo commented on #2230
All api calls are detailed here - https://github.com/appirio-tech/connect-app/tree/feature/timeline-milestone/src/api

[2018-07-25 18:18] narekcat commented on #2227
Ok, I agree with you. The problem is with back end, because for timeline created in old flow shows, but for timeline created in new flow doesn't show. In both cases create response says ok and returns correct data.

[2018-07-25 18:24] KevinLeigh commented on #2230
@gondzo Thank you for the update, will I have to create PR from `feature/timeline-milestone` ?

[2018-07-25 18:55] gondzo commented on #2230
Yes

On Wed, Jul 25, 2018, 20:24 KevinLeigh <notifications@github.com> wrote:

[2018-07-25 19:15] KevinLeigh commented on #2230
@gondzo Thank you for the update, I have created PR addressing this issue.

[2018-07-25 20:15] KevinLeigh commented on #2229
@gondzo Hey there, I take it the changes for this issue will be off of `feature/timeline-milestone` ?

[2018-07-25 20:20] gondzo commented on #2229
Yes, all issues in this challenge are based on that branch

[2018-07-25 20:52] Gauravseta commented on #2187
@gondzo kindly check the PR.

#2239

[2018-07-26 05:07] RishiRajSahu commented on #2227
@narekcat Right now we have milestone templates for Website and Visual-Designs only So use these projects only for now to continue dev work for timeline-milestones. @gondzo could you add milestone templates for more projects and keep note of that maybe in code documents on the challenge.

[2018-07-26 05:11] RishiRajSahu commented on #2228
@amitpatra wait before starting on this issue.

[2018-07-26 05:13] RishiRajSahu commented on #2229
@KevinLeigh keeping this issue on hold for now, will update you sooner.

[2018-07-26 06:02] narekcat commented on #2227
@RishiRajSahu I use Website for timeline-milestones, but there are issue with back end, if I'm right.

[2018-07-26 06:46] RishiRajSahu commented on #2227
@narekcat what issue is it causing if you are getting milestone templates without sorting ? anyway as per the scope of this issue your PR looks good, you can address my comment and I will merge the PR and close this issue. Also, for the backend issue which you want to address, could be taken care in new ticket here - https://github.com/topcoder-platform/tc-project-service/issues , feel free to cre

[2018-07-26 06:49] RishiRajSahu opened #2240 "Text of the milestone should be displayed as per status of milestone"
Right now we are showing the 'Dummy text' always for a milestones, we need to render the text of milestone as per the status of milestone.

[2018-07-26 07:05] narekcat commented on #2227
@RishiRajSahu Ok, thank you, I'll examine back end again.

[2018-07-26 07:23] RishiRajSahu commented on #2227
@narekcat you can address my comments on PR.

[2018-07-26 07:35] narekcat commented on #2227
@RishiRajSahu Oh, sorry, I have put all your comments on PR.

[2018-07-26 08:22] mahestro opened #2241 "[Feature Request] Would be nice to have a download all link for attachements in the specification page"
As the title: http://take.ms/DNABp

[2018-07-26 09:03] KevinLeigh commented on #2229
@RishiRajSahu Sure all good, thank you for the update.

[2018-07-26 10:18] meggamind commented on #2066
@gondzo @vikasrohit Any review update on this?

[2018-07-26 10:36] meggamind commented on #2188
@vikasrohit Any idea how am i supposed to use the react component locally?

[2018-07-26 10:56] vikasrohit commented on #2188
You can follow the instructions mentioned in the README to start the example app on your local. It should have many of the components listed there. If tiled radio is missing, you can add that to the example app by adding the new component examples in ExampleNavContainer component.

[2018-07-26 10:59] meggamind commented on #2240
@RishiRajSahu Is this what is expected? [https://ibb.co/mzNag8](url)

[2018-07-26 11:39] RishiRajSahu commented on #2240
@meggamind I am updating text in milestone-templates with actual data, will give you heads up once its done.

[2018-07-26 13:35] deepakanbarasan1 opened #2242 "Quick Link : Query : Usage of unnecessary empty space in UI"
Expected behavior :
Describe : Quick links should be displayed in the same line, Until unless there is no empty in same line.

Actual behavior
Describe.

Quick links are appearing in multiple lines.

Description :

If project have more Channels links, as per current UI users has to scroll more. If it is in single line scroll will be reduced.

Screen Shot  :
![channels section which provides quick

[2018-07-26 13:38] deepakanbarasan1 commented on #2242
@vic-topcoder  Please check

[2018-07-26 15:46] deepakanbarasan1 opened #2244 "Add file : Mobile UI : Multiple windows pop-ups"
**Expected behavior :**
**Describe :** User should upload/ Add file, Connect app application should not allow user to do any operation(Until unless file upload successfully) in Mobile UI.

**Actual behavior :**
**Describe :** Connect app application allowing the user to do any operation without upload/ Add files in Mobile UI.

**Description :**
When user upload/ Add file, Connect app application s

[2018-07-26 15:47] deepakanbarasan1 commented on #2244
@RishiRajSahu  Please check!!

[2018-07-26 17:10] Gauravseta commented on #2188
@gondzo can i try with this? if @meggamind dont wish to

[2018-07-26 17:21] meggamind commented on #2188
@Gauravseta I'm still working on this.

[2018-07-26 18:59] PrakashDurlabhji commented on #2213
@gondzo it is working now.checked many times.it is working as expected. Checked in project plan tab in phase's specification.i shud have taken some other issue as no open for pickup left and it is already working hence lost prize.

[2018-07-26 20:06] rashmi73 commented on #2235
@gondzo @vikasrohit can you please tell exactly on which click dialog is to be shown? I am bit confused. also currently where similar modal is shown?

[2018-07-26 20:13] vic-topcoder commented on #2242
The text should use the entire space available - 100% of the parent container.

[2018-07-26 20:51] gondzo commented on #2235
When the customer clicks on the 'Complete Review' button. That should be handled in the MilestoneTypeFinalDesigns component - there are examples of confirmation dialog in that same component (DotDialog)

[2018-07-27 05:06] RishiRajSahu commented on #2226
@mhikeo you can create new website or VD kind of project.

[2018-07-27 07:11] RishiRajSahu commented on #2234
@vic-topcoder fixed this and pushed to dev. Showing progress bar only if there is at-least one active phase for a project otherwise not.

[2018-07-27 07:54] RishiRajSahu commented on #2240
Working fine on dev. closing.

[2018-07-27 07:54] #2240 closed

[2018-07-27 07:55] RishiRajSahu commented on #2228
Its done for website and VD. Closing the issue.

[2018-07-27 07:55] #2228 closed

[2018-07-27 10:17] gondzo commented on #2213
ok, looks like it is indeed working.
I'll split the prize for @PrakashDurlabhji and @enodi that hekped debugging this one.

[2018-07-27 10:46] jomadoye commented on #2232
@Manoj85 No need to raise empty PR.
@gondzo You should clear your cache, this typo does not exist on the master branch. This issue is unable to reproduce.

[2018-07-27 10:54] #2184 closed

[2018-07-27 10:55] #2122 closed

[2018-07-27 10:55] jomadoye commented on #2232
@Manoj85 I see you raise empty PR, if you cannot fix this issue please assign me as I have some spare time now, and would want to work on it, thanks
cc @gondzo

[2018-07-27 12:11] #2213 closed

[2018-07-27 12:15] PrakashDurlabhji commented on #2213
@gondzo thanks

[2018-07-27 12:18] #1946 closed

[2018-07-27 12:53] #2086 closed

[2018-07-27 13:01] #2230 closed

[2018-07-27 13:05] #2232 closed

[2018-07-27 13:09] #2227 closed

[2018-07-27 13:13] gondzo commented on #2188
@meggamind any progress on this one?

[2018-07-27 13:21] #2011 closed

[2018-07-27 14:17] #2187 closed

[2018-07-27 14:22] #2217 closed

[2018-07-27 14:49] #2066 closed

[2018-07-27 14:58] gondzo commented on #2226
@mhikeo are you still working on this?

[2018-07-27 15:01] gondzo opened #2245 "[$250] Milestone and phase dates"
- [x] When creating new phase, start date should be set as last phase end date +1 day, or current date if there are no phases
- [x] remove the options to set start/end date for a milestone, only duration can be set (update the UI and the api call)
- [x] if a phase has a timeline, disable changing the end date and add a tooltip over the end date saying `Phase end date is controlled by duration of i

[2018-07-27 15:02] gondzo commented on #2245
@Gauravseta can you take this one?

[2018-07-27 15:02] Gauravseta commented on #2245
@gondzo sure

[2018-07-27 15:03] mhikeo commented on #2226
@gondzo Yes. I will be pushing in 2 hours.

[2018-07-27 15:07] gondzo opened #2246 "[$50] Milestone contents are out of bounds"
### Expected behavior
Milestone contents should be within the parent container

### Actual behavior
Milestone content overflows the parent container if the text is long

![image](https://user-images.githubusercontent.com/3051646/43328888-6c5efe8c-91bf-11e8-86a3-34586cd033ee.png)

Test the UI for all cases, after fixing the issue for both Website and Visual Design projects

[2018-07-27 15:13] KevinLeigh commented on #2229
@RishiRajSahu Hey there, any update on the above issue?

[2018-07-27 16:00] RishiRajSahu commented on #2229
@KevinLeigh closing this ticket as we have changed the functionality at backend to always have startDate set, so this case won't arise anymore to handle null startDate.
fyi @vikasrohit

[2018-07-27 16:00] #2229 closed

[2018-07-27 16:03] RishiRajSahu commented on #2245
@Gauravseta @gondzo added one more item to the list.

[2018-07-27 16:05] KevinLeigh commented on #2229
@RishiRajSahu Thank you for the update, much appreciated

[2018-07-27 16:06] KevinLeigh commented on #2229
Its better that way :)

[2018-07-27 16:07] RishiRajSahu commented on #2229
@KevinLeigh there will be more issues related to timeline-milestones feature, so keep an eye. :)

[2018-07-27 18:14] jomadoye commented on #2188
I am available to work on this :-)

[2018-07-27 18:58] meggamind commented on #2188
@gondzo Adding example in the react-components, give me 3 hours

[2018-07-27 19:01] vic-topcoder commented on #2236
While a milestone is send for customer review we can't ask for extension. Those two should be mutually exclusive.

Here's the thought process:
1. The milestone becomes active;
  - Customer sees a progress bar
  - Copilot sees "Complete milestone" button to be able to close the milestone early (if supported by the milestone), "Add designs" if the milestone is design review or final designs, and "Re

[2018-07-27 19:11] vic-topcoder commented on #2233
Yes - in this case we have to show a message to the copilot that the customer is presented with a choice.

**Customer view**:
![screen shot 2018-07-27 at 12 03 08 pm](https://user-images.githubusercontent.com/8484061/43341816-79cbc1ec-9195-11e8-9c30-8c9c12055f45.png)

**Copilot view**:
![screen shot 2018-07-27 at 12 05 34 pm](https://user-images.githubusercontent.com/8484061/43341830-8181bea0-9195

[2018-07-27 22:47] #2062 closed

[2018-07-27 22:49] #1479 closed

[2018-07-28 00:38] meggamind commented on #2188
@gondzo  I don't have permission for react-components project. Can you grant me access I want to make the PR

https://github.com/appirio-tech/react-components/tree/feature/connectv2/components

[2018-07-28 04:51] vikasrohit commented on #2188
Permission added. You can fork and create PR now.

[2018-07-28 04:54] vikasrohit commented on #2246
Good catch @gondzo

[2018-07-28 04:54] vikasrohit commented on #2234
Okay. I think @RishiRajSahu made changes as per your suggestion.

[2018-07-28 04:58] vikasrohit commented on #2245
@Gauravseta @gondzo @RishiRajSahu I think we don't need the second item in the list. Rather we need to hide option of updating phase duration when there is a timeline associated with a phase and show the duration field only when there is no timeline received for the phase's product. This is to be backward compatible with project/phases which were created without timeline.

And better, instead of h

[2018-07-28 07:39] meggamind commented on #2188
@gondzo @vikasrohit

https://github.com/appirio-tech/react-components/pull/289

[2018-07-28 08:00] meggamind commented on #2066
@gondzo A bit curious, this was part of https://www.topcoder.com/challenges/30068015/?type=develop, which is closed and I didn't not submit anything. Can I still get paid for this? Do I need to do anything?

[2018-07-28 14:53] PrakashDurlabhji commented on #2246
@gondzo @RishiRajSahu can you please check why loader keeps on loading ? is there any issue at backend or front end?

while visitng any project.
e.g. http://localhost:3000/projects/6731

took latest from "feature/timeline-milestone".
please guide asap

[2018-07-28 23:39] gondzo commented on #2246
fixed @PrakashDurlabhji , api was returning an error message

[2018-07-29 05:14] rashmi73 commented on #2235
@gondzo i am working on it..was not able to connect to backend hence development stopped.

[2018-07-29 05:31] Gauravseta commented on #2245
@gondzo i hope its given to me as m working on it.

[2018-07-29 06:09] vikasrohit commented on #2245
@gondzo Did quite understand it. Agree, that it throws error when we try to set milestone's start/end dates out of bound of timeline's (effectively phase's) start/end dates, but where do we need to set it out of bounds?

I think the last item in the list is already handled now in backend via https://github.com/topcoder-platform/tc-project-service/issues/126. Is this what you are looking for @gondz

[2018-07-29 08:42] PrakashDurlabhji commented on #2246
@gondzo everything has been implemented by me..waiting for your approval.

[2018-07-29 10:43] #2226 closed

[2018-07-29 10:45] gondzo commented on #2246
first option seems the best. if the url cant fit in the first line, it should move to the second line.

[2018-07-29 10:48] gondzo commented on #2245
@Gauravseta yes, it's still assigned to you

[2018-07-29 11:00] gondzo commented on #2245
@vikasrohit see the bellow screenshot. Manager wants to set first milestone dates outside of bounds of the phase. If we disable updating phase dates, then the api has to allow for such change

![image](https://user-images.githubusercontent.com/3051646/43365485-f02dd1f6-932d-11e8-921d-4a87ff495ea0.png)

That's the case when timeline dates are updated, but we're talking about phase dates.

IMO we ha

[2018-07-29 12:40] vikasrohit commented on #2245
That is correct. But as we are gradually moving from project plan without timeline to project plan with timeline, we have multiple dates. What we are trying to do here is to abstract the timeline details behind phase dates. I mean when user is setting the phase's start/end date, we should update the timeline's dates as well.

Yes. But I don't want to make milestone to be coupled with phase/product

[2018-07-29 13:17] gondzo commented on #2245
@Gauravseta we need to change the requirements for the second and third task. I'll update the prize here for these changes.
I've updated the first post with the new requirements. The changes are:
- remove the options to set start/end date for a milestone, only duration can be set (update the UI and the api call)
- if a phase has a timeline, disable changing the end date and add a tooltip over the

[2018-07-29 13:19] gondzo commented on #2245
@Gauravseta let me know if you're still ok with working on this task

[2018-07-29 13:35] Gauravseta commented on #2245
@gondzo yes m ok working on it and have already started.

[2018-07-29 19:21] meggamind commented on #2235
@gondzo @rashmi73  Confused, should I work on this or no?

[2018-07-29 19:53] rashmi73 commented on #2235
@meggamind as it was open for pickup and u assigned urself so it goes to you for 24hrs.I am working simulatenously too as i already started,if u fail then atleast i can raise PR.

[2018-07-29 21:41] meggamind commented on #2235
ok I'll start working on it

[2018-07-30 00:09] meggamind commented on #2235
@gondzo  I changed a couple of flags to show the button and I could see the confirmation dialog. So I'm guessing if the issue exist might be because of the wrong phase or something. Can you please make a project which has that button and does not show the confirmation dialog?

<img width="777" alt="screen shot 2018-07-29 at 5 09 02 pm" src="https://user-images.githubusercontent.com/10702944/433721

[2018-07-30 05:08] vikasrohit commented on #2245
@Gauravseta Can we simply set startDate of the new phase, being added, as `endDate + 1` of the last phase (by ascending order of startDate). Our backend should already be returning the phases in the desired order.

[2018-07-30 05:32] vikasrohit opened #2248 "Should we hide the ability of setting delivered status for a phase which has timeline"
Once we have a phase controlled via milestones, should we allow user to mark the status of phase as delivered or should we let milestones control that? IMO, later is better option and we should disable the option in the status dropdown for phase.

fyi @rmjmccormick @acshields @RishiRajSahu

[2018-07-30 05:41] RishiRajSahu opened #2249 "[$50] Updating phase to be delivered on completion of last milestone"
We need to make PATCH call for marking phase as delivered when the last milestone is marked as complete. Also, `Delivered` option from the dropdown of phase status is to be removed.

[2018-07-30 06:33] RishiRajSahu commented on #2246
@PrakashDurlabhji yeah agree with @gondzo suggested, if its done on your side please create a PR.

[2018-07-30 06:45] PrakashDurlabhji commented on #2246
@RishiRajSahu yes its done.will raise PR within half hr

[2018-07-30 06:57] vikasrohit commented on #2235
@meggamind Please see the original issue description. The modal you are sharing is not the one we are concerned. The modal we want to add, comes in Delivery milestone when customer is about to accept the deliverables. To reach to that point you can create any design project and follow its milestones till end and you would see the place where there is button `Complete review` for customers, we need

[2018-07-30 07:02] vikasrohit commented on #2235
@meggamind @gondzo we need to wrap the tasks in next 12-18 hours. Let me know if it is still possible for this task, otherwise we might have to remove it from bug bash.

[2018-07-30 07:33] Gauravseta commented on #2245
@vikasrohit please keep this in bug bash .i will complete it within 2 hrs.its near to done.

[2018-07-30 07:49] PrakashDurlabhji commented on #2246
@RishiRajSahu @gondzo PR has been raised.
#2250

[2018-07-30 08:52] meggamind commented on #2235
@vikasrohit  I reach this screen and then how do I move from one milestone to another to see those buttons?

<img width="805" alt="screen shot 2018-07-30 at 1 52 09 am" src="https://user-images.githubusercontent.com/10702944/43387401-30b5d60c-939b-11e8-922a-252bf1b008ff.png">

[2018-07-30 09:21] meggamind commented on #2235
@vikasrohit Sorry but I'm again confused. @gondzo in the above messages said that the fix is needed in MilestoneTypeFinalDesigns component, but from what I understand from your comment and the title is that the fix is needed in MilestoneTypeDelivery component. The last milestone as shown in the image above. Is that correct? if so so the fix is to add the complete review button (which does not exis

[2018-07-30 09:37] vikasrohit commented on #2235
My bad @meggamind @gondzo is correct here. It needs changes in `MilestoneTypeFinalDesigns` component.

[2018-07-30 09:38] vikasrohit commented on #2235
Also, there is some bug right now in the API which is causing the milestones not in active state. Let us know your test project id, we can make them active from backend.

[2018-07-30 09:52] PrakashDurlabhji commented on #2246
@gondzo @RishiRajSahu @vikasrohit  again backend not giving data? did anyone changed backend?

[2018-07-30 10:02] vikasrohit commented on #2246
@PrakashDurlabhji it might be because we are continuously working on the backend fixes as well. Please let me know if you it is blocking any Work In Progress for you. Also, please let me know which endpoint is not giving results.

[2018-07-30 10:07] meggamind commented on #2235
the bug might have something to do with milestone status always being as reviewed
Project ID - 6744

[2018-07-30 10:20] meggamind commented on #2235
@vikasrohit So does this look good ?
<img width="858" alt="screen shot 2018-07-30 at 3 17 54 am" src="https://user-images.githubusercontent.com/10702944/43392111-7ddd01d8-93a7-11e8-8a4a-f759e427f63b.png">

[2018-07-30 10:21] vikasrohit commented on #2235
Yes, it is because of that. We are making changes to complete that functionality. Your project now should have active milestone.

[2018-07-30 10:24] vikasrohit commented on #2235
@meggamind the modal you shown is for `checkpoint-review`, we need different text and colors for `design-review` milestone.
https://user-images.githubusercontent.com/2417632/43183275-28afa8ee-9002-11e8-8a0c-308043d2ffb1.png

[2018-07-30 11:06] RishiRajSahu opened #2251 "Don't show edit icon for completed milestones"
- [x] User should not be allowed to edit the completed milestones.
- [x] Customers should never be allowed to edit milestones.

<img width="945" alt="screen shot 2018-07-30 at 4 35 02 pm" src="https://user-images.githubusercontent.com/11248478/43393947-908accba-9416-11e8-81c7-3916263f6cbe.png">

[2018-07-30 11:18] RishiRajSahu commented on #2246
@PrakashDurlabhji URL which you put on next line should be aligned properly with the title.

<img width="802" alt="screen shot 2018-07-30 at 4 36 46 pm" src="https://user-images.githubusercontent.com/11248478/43394366-21b2e320-9418-11e8-924f-c93f2744e07c.png">

[2018-07-30 11:49] gondzo commented on #2235
@meggamind all projects should have the first milestone activated now. all you need to do is set the phase to 'In Progress'

[2018-07-30 11:53] PrakashDurlabhji commented on #2246
@RishiRajSahu @gondzo unable to see milestones under timeline tab. spinner keeps on loading. backend proper?

[2018-07-30 12:04] PrakashDurlabhji commented on #2246
I guess
action : LOAD_PRODUCT_TIMELINE_WITH_MILESTONES_SUCCESS

doesnt have payload object present because no response is being received from backend hence spinner loading.

@gondzo @vikasrohit @RishiRajSahu can you please look into it on priority so i can proceed. thanks

[2018-07-30 12:08] Gauravseta commented on #2245
@gondzo @vikasrohit unable to load milestones in project plan tab. console says "Cannot read property 'milestones' of undefined". Its after taking latest code. is it any backend error?

[2018-07-30 12:16] gondzo commented on #2245
any specific project. they load fine for me at http://local.topcoder-dev.com:3000/projects/6746/plan

[2018-07-30 12:17] gondzo commented on #2246
@PrakashDurlabhji any specific project? they load fine for me at http://local.topcoder-dev.com:3000/projects/6746/plan

please post api endpoint and response details if you have any doubts about the api

[2018-07-30 12:18] RishiRajSahu commented on #2246
@PrakashDurlabhji create a new project its working fine, I just created VD project successfully.

[2018-07-30 12:19] Gauravseta commented on #2245
@gondzo  above url working well

can you please check this : http://localhost:3000/projects/6583/plan.

thanks

[2018-07-30 12:21] PrakashDurlabhji commented on #2246
@gondzo @RishiRajSahu i will try the url u gaveme.
and update PR

[2018-07-30 12:35] gondzo commented on #2245
@Gauravseta it's a data issue, there are no timelines under that phase, just use a new project

[2018-07-30 12:43] meggamind commented on #2235
https://github.com/appirio-tech/connect-app/pull/2252

[2018-07-30 14:11] PrakashDurlabhji commented on #2251
@gondzo @vikasrohit any amount for this? thanks

[2018-07-30 14:11] PrakashDurlabhji commented on #2251
@gondzo @vikasrohit any amount for this? thanks

[2018-07-30 14:13] PrakashDurlabhji commented on #2246
@RishiRajSahu @gondzo PR updated.

[2018-07-30 16:00] gondzo commented on #2251
@PrakashDurlabhji prize info added. please add the PR in the next 12h

[2018-07-30 16:10] gondzo commented on #2245
@Gauravseta let me know if there is anything not clear about the remaining two tasks, we need to close this one asap

[2018-07-30 16:35] Gauravseta commented on #2245
@gondzo near to complete second task and third task is minor. till now all is clear in my mind and working on number field for second task.

[2018-07-30 17:54] jomadoye commented on #2249
@RishiRajSahu Can I start work on this?

[2018-07-30 17:57] Gauravseta commented on #2245
@gondzo task 2 completed. screenshot of it.
![milestoneedit](https://user-images.githubusercontent.com/16337895/43414288-f998d132-944f-11e8-9c9f-0358a4df08c1.png)

[2018-07-30 18:26] Gauravseta commented on #2245
@gondzo i noticed just now.
task 3 is contradictiing
1. in description, it is to disable the enddate but in picture it shows disable duration, whereas description says add tooltip "Phase end date is controlled by duration of individual milestones".

2. so i guess you meant to say that "Phase duration is controlled by duration of individual milestones ".

I am implementing like that assuming u mean

[2018-07-30 18:34] gondzo commented on #2249
@jomadoye yes, I've added the prize details.
It should be really simple - just call the updatePhase action if updateProductMilestone action is successful with last milestone being updated to the complete status

[2018-07-30 18:35] gondzo commented on #2245
you're right, it should be phase duration

[2018-07-30 18:37] Gauravseta commented on #2245
@gondzo raising PR within 5mins for this issue with all 3 tasks done.

[2018-07-30 18:48] Gauravseta commented on #2245
@gondzo tooltip in black background okay?

[2018-07-30 18:53] gondzo commented on #2245
just use the default tooltip styling, ex https://github.com/appirio-tech/connect-app/blob/ad9d85e2252aa3d32203b128107fd274cd88fe44/src/components/FileList/FileListItem.jsx#L106

[2018-07-30 19:15] Gauravseta commented on #2245
@gondzo tooltip screenshot
![phasetooltip](https://user-images.githubusercontent.com/16337895/43418281-075e2140-945b-11e8-85db-f7ff53e37de3.png)

[2018-07-30 19:25] gondzo commented on #2245
Thanks. Tooltip looks great. Can you take a look at field alignment, first, second and third row don't look ok in the screenshot

[2018-07-30 20:14] Gauravseta commented on #2245
@gondzo genuinelly speaking having low end laptop its really lagging to open inspect tools of google chrome. whatever alignment misplaced due to disabling has been resolved. also tried best to align it than how it was. i hope you will consider it as not complete dealignment was due to me , to the best of my knowledge. thanks

[2018-07-30 20:16] Gauravseta commented on #2245
@gondzo i can say its at much better stage than before. PR has been updated.

[2018-07-31 01:46] jomadoye commented on #2249
@gondzo Please I am still not very clear on this ticket. any extra clarification/details would be helpful.

[2018-07-31 02:56] vic-topcoder commented on #2248
The idea is to use the Timeline milestones flow to deliver/close the milestone. I'd prefer we do not allow switching the progress outside of the regular flow, this is confusing, as the goal is to use the milestones (progress and deliver).

The same logic applies for the phase "active" status - as soon as the first work milestone is switched as active, the phase should go into 'Active" status from

[2018-07-31 02:57] vic-topcoder commented on #2234
Great, thanks guys!

[2018-07-31 05:06] RishiRajSahu commented on #2246
Fixed via https://github.com/appirio-tech/connect-app/pull/2250.

[2018-07-31 05:06] #2246 closed

[2018-07-31 05:28] meggamind commented on #2235
@vikasrohit @gondzo PR is up for this let me know if any change is needed

[2018-07-31 05:28] meggamind commented on #2188
@vikasrohit @gondzo PR is up for this please let me know if any change is needed

[2018-07-31 06:38] RishiRajSahu commented on #2245
@Gauravseta could you verify the first point once again on your side ? i added website development as a new phase but the timeline is not honouring the startDate logic.

![screen shot 2018-07-31 at 12 05 18 pm](https://user-images.githubusercontent.com/11248478/43441987-35095ef2-94ba-11e8-9d7d-d0b86d2aba9b.png)

[2018-07-31 06:42] RishiRajSahu opened #2254 "Updating timeline's startDate on updating startDate of Phase"
When phase startDate is updated, the timeline's startDate should also be updated.

[2018-07-31 07:12] RishiRajSahu commented on #2251
Fixed with https://github.com/appirio-tech/connect-app/commit/74592e9a05ab241d403e66eee9b769c8f3291ed1

[2018-07-31 07:26] #2251 closed

[2018-07-31 07:51] Gauravseta commented on #2245
@RishiRajSahu i will look into it immediatslly.
But i feel surely there is an mismatch in data when responsr recieved.
because while sending request for new phase. what i do is :
i sort phases in ascending order of startdate, then i pick phase which is last in sorted order, then i take endDate of that last phase ,and make it as startDate of new phase and add 17 days for endDate of new phase.
So u

[2018-07-31 07:55] Gauravseta commented on #2249
@gondzo shall i work on it?

[2018-07-31 08:51] RishiRajSahu commented on #2245
@Gauravseta along with phase `startDate`, timeline's `startDate` should also updated i.e. phase `startDate` and timeline `startDate` should be same.
You can check this method `createTimelineAndMilestoneForProduct` to update the timelines `startDate` to be set as phase `startDate`. Also you can avoid setting `endDate` for the timeline in this method even the call for milestone templates `getMilesto

[2018-07-31 08:59] Gauravseta commented on #2245
@RishiRajSahu i will look into it immediately and update u on the same but kindly consider it for closing as task requirements are already met and i do wish that it gets completed in this bug bash itself.

[2018-07-31 09:04] RishiRajSahu commented on #2245
@Gauravseta Thanks! yeah update me once the PR has these changes, I will close the task, this was the final piece missing.

[2018-07-31 09:31] vikasrohit opened #2255 "Copilots should be able to see phases even if they are unplanned"
Right now, copilot is also seeing the system message which we are showing to the customers when all phases in the project plan are in unplanned state.

fyi @rmjmccormick @acshields @RishiRajSahu

[2018-07-31 09:34] vikasrohit opened #2256 "Customer can see the `Add specification document link` button for specification milestone"
fyi @RishiRajSahu

[2018-07-31 10:54] jomadoye commented on #2249
@Gauravseta I have un-assigned myself.

[2018-07-31 11:18] vikasrohit commented on #2244
@deepakanbarasan1 it seems like we can live with this issue for now. We would pick it in some later release when we have scope to include more issues. For now, keeping it 2.4.5.

[2018-07-31 12:48] narekcat commented on #2254
@RishiRajSahu I have found out answer of my question from back end [repository ](https://github.com/topcoder-platform), update timeline actually did that. Excuse for troubling.

[2018-07-31 13:17] Gauravseta commented on #2245
@RishiRajSahu as u said all has been met in latest update.I hope this issue will be closed and paid out before bug bash ends as all requirements are met of this ticket. thanks

[2018-07-31 17:28] vic-topcoder opened #2258 "NaN visible and pushing sidebar on project plan section"
![screen shot 2018-07-31 at 10 27 09 am](https://user-images.githubusercontent.com/8484061/43476054-68ac1de8-94ac-11e8-9687-e150d441590a.png)

[2018-07-31 17:33] vic-topcoder opened #2259 "Remove App and Website from phase catalog"
We have to remove App and Website as products from the phase list. They are in reality project templates that encompass several products.

[2018-07-31 17:39] vic-topcoder opened #2260 "Better organization of phase catalog page"
### Expected behavior
Let's try to better organize/sort the available phases (products) on the "Add a phase" page

Follow https://marvelapp.com/8a94680/screen/46279602

![product catalog](https://user-images.githubusercontent.com/8484061/43476660-f8e26e2a-94ad-11e8-9e48-9ecc22d94c3a.png)

[2018-07-31 20:43] Gauravseta commented on #2249
@gondzo working on it. near to complete it.

[2018-07-31 20:53] vic-topcoder commented on #2255
The Copilots should be able to edit the phase properties as well. This is important as they have to be able to manipulate the phase in order to report progress or update status (duration, cost) for the customer.

[2018-08-01 05:57] vikasrohit commented on #2245
@Gauravseta we are still evaluating. We have to evaluate that the changes are not causing any regressions along with meeting the current requirements.
Be assured, we will close bug and payments would be processed as per process.

[2018-08-01 06:13] vikasrohit commented on #2260
we already have this in plan @vic-topcoder https://github.com/appirio-tech/connect-app/issues/2139

[2018-08-01 06:13] #2260 closed

[2018-08-01 06:14] RishiRajSahu commented on #2245
@Gauravseta could you check this line of code https://github.com/appirio-tech/connect-app/blob/feature/timeline-milestone/src/projects/actions/project.js#L240 ,I can add the phase successfully to existing projects but I am not able to create a new project ?

Review phase is still ON.

[2018-08-01 06:38] RishiRajSahu commented on #2245
Fixed with https://github.com/appirio-tech/connect-app/commit/37e4ab46ba8f01ae1c9335de68c71b93e2db355a, evaluating other changes, will close ASAP.

[2018-08-01 06:39] vikasrohit commented on #2255
@vic-topcoder it was false alert. I added a copilot as customer which caused this issue. It requires the user to be added to the team with copilot role.

No fix needed, it is working fine.

[2018-08-01 08:11] rmjmccormick commented on #2233
@vic-topcoder
Just correcting a small typo:

"The customer has yet to respond to the final deliverable acceptance. Please communicate with them if there’s a problem and they need help to make the final decision. Once they respond you’ll see a link to upload the final deliverables here."

[2018-08-01 08:15] rmjmccormick commented on #2248
@vikasrohit @vic-topcoder Agree with both of you.

[2018-08-01 08:28] vikasrohit commented on #2248
Just fyi for

Right now there is no option to activate a milestone in our UI. So, rather, when phase is marked as active (in progress), we mark the first milestone active.

[2018-08-01 08:36] Gauravseta commented on #2249
@gondzo  I hope it is considered in bug bash itself?

[2018-08-01 08:38] RishiRajSahu commented on #2249
@Gauravseta as per your previous update, if it's completed ? if yes, create a PR for it.

[2018-08-01 08:54] NikitaJain-TC opened #2261 "Leads in salesforce getting created from ask.topgear@wipro.com."
### Expected behavior.
These are not exactly leads but pieces of projects which are using connect and as a result of which leads are created in sfdc and hubspot.

### Actual behavior
Hundreds of leads created in SFDC.

### Steps to reproduce the problem
- Create a project in connect from ask.topgear@wipro.com.
- A lead gets created in SFDC which should not

### Screenshot/screencast
Attach or link

[2018-08-01 09:31] #2254 closed

[2018-08-01 11:57] Gauravseta commented on #2245
@RishiRajSahu thanks.

[2018-08-01 12:17] #2245 closed

[2018-08-01 16:42] mtwomey opened #2263 "Ariel test issue"
This is an *issue* **bold**

1. one
1. two
1. three

[2018-08-01 16:48] #2263 closed

[2018-08-01 16:50] vic-topcoder commented on #2248
That is good. Our first milestone is always closing the work specification - this is the work preparatory state that Kyle calls "requirements gathering" and said it usually lasts ~2d. The preparatory milestone doesn't really affect the work execution so if it takes a long time for the customer to reply back we don't want to be counting days of delay as progress. That is the intended design to not

[2018-08-01 20:29] vic-topcoder commented on #2255
Just checked with DaraK, and in fact she can't edit the phase properties. She is a Copilot on the project.

![connect phase](https://user-images.githubusercontent.com/8484061/43547008-df4bcb28-958e-11e8-941a-b7f8e1669143.png)

[2018-08-02 09:15] RishiRajSahu opened #2266 "Final-fix milestone's UI is breaking"
After submitting final-fixes the UI is breaking and not rendering as expected.

![screen shot 2018-08-02 at 2 40 08 pm](https://user-images.githubusercontent.com/11248478/43574740-9360f4d4-9662-11e8-8b80-e5ae0f0cb003.png)

[2018-08-02 09:19] #2234 closed

[2018-08-02 09:28] RishiRajSahu opened #2267 "Change text for delivery milestone's dialog's content (button, title and description)"
Same text is shown for both website and VD project's delivery milestone's dialog's content (button, title and description)

![screen shot 2018-08-02 at 2 54 07 pm](https://user-images.githubusercontent.com/11248478/43575343-3eaf6112-9664-11e8-9791-8387121b9951.png)

[2018-08-02 09:41] RishiRajSahu commented on #2267
@vic-topcoder other than planned, active, completed text we are showing `dialogue boxes` for various actions pending on user for eg - `Design Acceptance` . We might need definition of such dialogue boxes for different kind of products as well.

[2018-08-02 10:31] vikasrohit commented on #2255
@vic-topcoder I tried with my copilot account on production and it seems to work fine as expected for me. I need some time to debug it more.

[2018-08-02 10:34] RishiRajSahu commented on #2266
this was happening because UI was honouring `startDate` to sort Milestone instead of `order`, fixed on UI side with this change - https://github.com/appirio-tech/connect-app/commit/2099c0885c08f46cef8f633d0a8a716f73566b5b . Still need backend changes to set correct `startDate` for final-fix milestone.

fyi @vikasrohit

[2018-08-02 10:34] #2266 closed

[2018-08-02 10:38] PrakashDurlabhji commented on #2256
@gondzo @vikasrohit wont there be any more open for pickup issues?

[2018-08-02 11:05] gondzo commented on #2256
not at this time @PrakashDurlabhji

[2018-08-02 11:16] vikasrohit commented on #2258
Fixed and deployed to dev.

[2018-08-02 11:16] #2258 closed

[2018-08-02 12:31] vikasrohit commented on #2248
Didn't quite get it. Our milestones starts as soon as phase is made active and it would start  counting the milestones for the progress calculation.

If this is added as milestone to the phase/product, it would be used for calculating the progress as soon as phase is made active. Any thing that is done before making the phase active, is not being counted for progress.

[2018-08-02 12:31] vikasrohit commented on #2233
Done and deployed to dev.

[2018-08-02 12:31] #2233 closed

[2018-08-02 13:03] vic-topcoder commented on #2255
thanks!

[2018-08-02 13:09] vic-topcoder commented on #2267
Yes - that's a good capture - we'll have to ask @acshields and @rmjmccormick for content on those elements - their English is much better than mine. Let's capture those acceptance messages in the milestone document and list all the instances and content.

[2018-08-02 13:31] #2188 closed

[2018-08-02 13:48] vic-topcoder opened #2268 "Timeline fixes (bucket of smaller things)"
There are several small issues we have to fix on the timeline interface:

- [x] Enable phase timeline description to be edited or change the explanation to be more user friendly @rmjmccormick @acshields

- [x] Hide "Specification" tab on timeline for the time being. Based on our feedback from customers the forms we currently have do not really help to collect the information we need and we wanted

[2018-08-02 14:14] rmjmccormick commented on #2267
@vic-topcoder @acshields Adding the language for the dialogue boxes to the milestone document.

[2018-08-02 16:01] gondzo commented on #2249
Done and deployed to dev

[2018-08-02 16:01] #2249 closed

[2018-08-02 16:13] gondzo commented on #2235
@vikasrohit IMO what's left here is to customize the message in delivery milestone. Should we introduce a new milestone type `delivery-dev` and customize the message based on type? We don't need to add a new milestone component to do that.

[2018-08-02 16:16] gondzo commented on #2235
oh, I didn't notice this is already discussed in 2267. Closing this one

[2018-08-02 16:16] #2235 closed

[2018-08-02 16:16] gondzo commented on #2267
@RishiRajSahu @vikasrohit
Should we introduce a new milestone type `delivery-dev` and customize the message based on type? We don't need to add a new milestone component to do that.

[2018-08-02 17:07] rmjmccormick commented on #2261
@acshields Let's speak about this before we do anything please.

[2018-08-02 17:09] acshields commented on #2261
Sounds good @rmjmccormick

[2018-08-02 18:37] Gauravseta commented on #2249
@gondzo apology for delaying it and not even completing , any more issues? i am genuinely interested and wud deliver on time as m in need of money and good knowledge.

[2018-08-02 19:05] Gauravseta commented on #2245
@gondzo payments are  not reflected yet in my profile whereas it has been marked PAID. can you please check?

[2018-08-02 19:05] Gauravseta commented on #2187
@gondzo payments are  not reflected yet in my profile whereas it has been marked PAID. can you please check?

[2018-08-02 19:08] Gauravseta commented on #2245
@gondzo sorry .its being reflected now. thanks

[2018-08-02 19:08] Gauravseta commented on #2187
@gondzo sorry .its being reflected now. thanks

[2018-08-02 23:03] vic-topcoder opened #2269 "Editing phase and timeline interface is jumping/disappearing"
When I'm editing a phase properties, or milestone properties, the interface jumps around, I lose visibility of the other milestones (on a project with many milestones), and tab focus is lost. The interface is very unstable to work with.

Used https://connect.topcoder-dev.com/projects/6899/plan with Pat Monahan
![screen shot 2018-08-02 at 4 03 09 pm](https://user-images.githubusercontent.com/848406

[2018-08-02 23:06] vic-topcoder opened #2270 "Expanding the phase window from dashboard on desktop computer leads to project plan (Shouldn't)"
On desktop browser, expanding the project phase (active) should stay on the dashboard. Right now it leads to the project plan section (changes tabs) and it is confusing (I didn't click on a tab, but to expand the accordion. Why is it happening?).

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-251

[2018-08-02 23:09] vic-topcoder opened #2271 "Complete the generic phase templates requirements"
Let's complete the generic dev iteration templates and verify with Kyle that those are ok to start with. https://docs.google.com/spreadsheets/d/1SXZjX5TlbfFa7IuifOseCKqvqkytxeXUEH3A1rL0CCw/edit#gid=782784012

We have to have a start, report, and delivery milestones.

For design - we have 1 template and will allow the copilots to modify the duration. We have to verify with Trevor if checkpoint will

[2018-08-03 06:35] vikasrohit commented on #2270
@gondzo I think it appeared after we fixed the issue with new page opening for phase click. We need to stop routing to new route when the phase card is clicked on the dashboard.

[2018-08-03 06:45] vikasrohit commented on #2269
@gondzo I think is again happening because of dedicate route for the phase details. I think we should not route user to that route when it is on desktop.

[2018-08-03 06:51] maxceem commented on #2196
This is done by the next commit https://github.com/appirio-tech/connect-app/commit/923a32fc7f7f9a0c8db2cf08c60ea2e190bbe125#diff-39dc6ecd00afee3bae091cb2f2181199R72 and already in the `dev` branch.

[2018-08-03 06:57] #2196 closed

[2018-08-03 08:58] maxceem commented on #2268
I think these [two lines](https://github.com/appirio-tech/connect-app/blob/dev/src/api/timelines.js#L42-L43) are causing this. They were added due to the backend [issue](https://github.com/topcoder-platform/tc-project-service/issues/117) which looks resolved now, so we can remove these two lines.

[2018-08-03 09:03] maxceem commented on #2268
This has the same cause by routing same like these two issues https://github.com/appirio-tech/connect-app/issues/2270 and https://github.com/appirio-tech/connect-app/issues/2269

[2018-08-03 09:05] maxceem commented on #2268
Do you have an example when interface is not updated other than Milestone dates?

[2018-08-03 09:53] maxceem opened #2272 "[$50] Edit milestone on mobile devices"
Currently editing milestone on mobile devices is done in a halfway:

1. We cannot see edit button as there is no hover effect on mobile to show it. Though we can still click on the title which will cause hover to work and show an edit button. It feels like it has to be done some more mobile-friendly way or disabled completely.

   ![image](https://user-images.githubusercontent.com/146016/43636923-

[2018-08-03 10:44] maxceem opened #2273 "Milestone on mobile devices"
Milestones on mobile devices have several visual issues. See project for testing https://connect.topcoder-dev.com/projects/6706

1. The header looks like sticks to the edges and has too big space between lines

   ![image](https://user-images.githubusercontent.com/146016/43638542-df6e742a-974b-11e8-8938-fbfd1814cc3e.png)

2. The blue line is not straight across all milestones:

    <img width="389

[2018-08-03 12:05] vikasrohit commented on #2268
@vic-topcoder It is separate set of efforts to make the description editable. However, we can update the copy as required.

Fixed by @gondzo

I didn't get it @vic-topcoder I don't see a place where we are showing the days left for a phase.

@vic-topcoder we have the logic in place, I am not sure how that edge case is happening. Can you please let us know the project or use case where that happened

[2018-08-03 12:18] RishiRajSahu opened #2274 "Updating phase duration as the sum of each milestones durations"
Right now, the phase has some default value for duration associated with it. We have to update the duration fo phase, which created during project creation or when adding it explicitly, with the value of sum of all milestones duration present in the timeline associated with the phase.

[2018-08-03 12:20] maxceem commented on #2268
@vikasrohit yes, will handle them start tomorrow morning.

[2018-08-03 12:22] RishiRajSahu commented on #2274
won't be fixing this, as discussed with @vikasrohit

[2018-08-03 12:22] #2274 closed

[2018-08-03 17:56] vic-topcoder commented on #2268
All is tested on DEV

It is filed as another issue: #2269. In general the interface is very jumpy and doesn't feel stable.

We had a discussion yesterday and the plan for the existing phases catalog on Connect is to introduce a generic dev iteration template with preset 3,4 or 5 steps. Being a generic development iteration template it would be really valuable to allow managers/copilots to edit the

[2018-08-03 18:01] vic-topcoder opened #2275 "Automatically change project status based on project plan activity"
Right now we introduce multiple levels of status changes that are all manual. This increases the project managers work and we can do some simple automations in order to prevent errors.

- **Switching phase status to Planned**
It makes sense to switch the project status to "in review" when we have a project stage that is planned - the customer can now see and contact the project managers and discus

[2018-08-03 18:06] vic-topcoder commented on #2255
Yes, it's working now. Thanks!

Just for consistency - what are the privileges that are needed to allow copilots to edit milestones? I was able to add her as a Copilot to the project (which means she has a `copilot` rights). Do we have to verify all our copilots have the rights necessary before we release the milestone interface to the public?

@acshields FYI

[2018-08-04 02:26] maxceem opened #2276 "Hide "Specification" tab on timeline for the time being"
Hide "Specification" tab on timeline for the time being. Based on our feedback from customers the forms we currently have do not really help to collect the information we need and we wanted to lighten up the UX for the end customer.

Comes from https://github.com/appirio-tech/connect-app/issues/2268

[2018-08-04 02:32] maxceem opened #2277 "Make the "Add specification document" optional"
Make the "Add specification document" for the first phase optional. This means the Copilot/Manager can mark the phase complete without attaching a document

Comes from https://github.com/appirio-tech/connect-app/issues/2268

[2018-08-04 03:00] maxceem commented on #2256
As we are not showing `Add specification document link` to the customer, do we show anything else expect of milestone description? Maybe progress bar so the customer is aware of how long it may take?

<img width="785" alt="screen shot 2018-08-04 at 10 58 25 am" src="https://user-images.githubusercontent.com/146016/43671910-9361f694-97d5-11e8-98f0-07f29d72998c.png">

[2018-08-04 03:04] maxceem opened #2278 "Phase card should be with rounded corners"
Phase card should be with rounded corners. Right now that is missing. Let's verify that the components are developed against the design specification https://marvelapp.com/8a94680 (QA)

Comes from https://github.com/appirio-tech/connect-app/issues/2268

[2018-08-04 03:25] maxceem opened #2279 "[$30] Unify close button for mobile fullscreen popups"
I've noticed that we have several full-screen popups on mobile devices with the various ways of closing them. Probably iwe can unify it in some way.

1. Create a new post: cross on the left

   ![image](https://user-images.githubusercontent.com/146016/43672067-a5fcf170-97d8-11e8-9391-93f336e17815.png)

2. Post view: cross on the right

    ![image](https://user-images.githubusercontent.com/146016/

[2018-08-04 03:30] maxceem opened #2280 "Delivery milestone background color and button do not match"
Delivery interaction background color and button do not match - follow the design specification

![image](https://user-images.githubusercontent.com/146016/43672122-cf6aff9c-97d9-11e8-99ba-0a1695f65ea0.png)

Design https://marvelapp.com/8a94680/screen/41372952

Comes from https://github.com/appirio-tech/connect-app/issues/2268

[2018-08-04 03:31] maxceem commented on #2280
I see that the background doesn't match the design, but the buttons look same like in design for me. Please let me know if I miss something.

[2018-08-04 03:40] maxceem opened #2281 "Replace color values by SCSS predefined color variables"
There are a lot of places in Timeline and Milestone components SCSS files where colors are being used directly by their values. They have to be replaced with the [SCSS variables](https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss) instead.

[2018-08-04 03:47] maxceem opened #2282 "MilestonePostMessage component shouldn't get backgroundColor as a color value"
[MilestonePostMessage component](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/timeline/MilestonePostMessage/MilestonePostMessage.jsx#L91) currently has `backgroundColor` property which has to be defined as a color value.

![image](https://user-images.githubusercontent.com/146016/43672214-08a17708-97dc-11e8-87cd-c92ba7c7ddef.png)

This property has to be repla

[2018-08-04 04:25] rmjmccormick commented on #2275
@vic-topcoder just to confirm you are referring to the project-level statuses on the left sidebar? As in, in both your example cases, when a given phase is planned or in progress, this should automatically trigger a change to the project-level status as appropriate?
If so, I wholeheartedly agree.
I'd also add one final use case - when all project phases are marked as "delivered", and there are no

[2018-08-04 04:58] maxceem opened #2283 "Once a milestone is completed, remove the hover color as it is not editable anymore"
Once a milestone is completed, remove the hover color as it is not editable anymore

Comes from https://github.com/appirio-tech/connect-app/issues/2268

[2018-08-04 05:03] maxceem opened #2284 "Milestone link type should support GitHub"
Link type should support GitHub; we have only Marvel at this point.

Comes from https://github.com/appirio-tech/connect-app/issues/2268

[2018-08-04 05:25] maxceem opened #2285 "Final fixes should be able to be send with only one final fix entered"
Final fixes - the Submit request button doesn't work with only 1 final fix request. It should be enabled once we have a text in the first input.

[2018-08-04 06:48] maxceem opened #2286 "Fix phase time calculation of the phase"
Fix phase time calculation of the phase - right now the logic is still broken and we do not update the days left/elapsed.

I was talking about this duration of days calculated. It should point to how many days the phase would take to be completed. By the way, when there is a single day, it should say 1 day instead of 1 days. Once we complete all the milestones the duration would change if we deliv

[2018-08-04 06:58] maxceem commented on #2286
There are two ways to accomplish this one.

1. We can just calculate days based on the length of all the milestones inside. And ignore the duration which is defined inside phase.
    This way it's done now for progress. Progress bar shows 76% based on the accomplished milestones while the percentage inside phase is set to `0`.
    <img width="588" alt="progress" src="https://user-images.githubuser

[2018-08-04 07:02] maxceem opened #2287 "Completing a milestone should update the date"
Completing a milestone should update the time calculated and record the completion date. Right now it doesn't update the date on the left side.

Comes from https://github.com/appirio-tech/connect-app/issues/2268

[2018-08-04 07:12] maxceem commented on #2287
There is an issue on the backend which is still valid for `endDate` https://github.com/topcoder-platform/tc-project-service/issues/117

Meanwhile, there is a thing to clarify.
What is the difference between `endDate` and `completionDate`? When we complete the milestone, should we update them both or only `completionDate`? and keep the `endDate` just as it was planned?
If we update them both, than

[2018-08-04 08:44] maxceem commented on #2287
2. There is kind of issue with how startDate/endDate are currently calculated.
    Let's say today is `August 4`.

    <img width="567" alt="plan1" src="https://user-images.githubusercontent.com/146016/43674296-6813dd66-9804-11e8-963c-50161b7f45fa.png">

    I click `Mark as completed` so the milestone will be completed today on `August 4` and next milestone starts the next day `August 5`

    <im

[2018-08-04 09:46] maxceem opened #2288 "Milestones with progress get visually broken on small screens"
When there is a progress bar inside milestone it makes timeline look broken on small screens

![image](https://user-images.githubusercontent.com/146016/43674960-28819c92-980e-11e8-9546-0a3deca8a79f.png)

[2018-08-04 09:55] maxceem opened #2289 "Milestone extension doesn't work as backend doesn't let update endDate"
Currently, milestone extension doesn't work due to backend doesn't let update `endDate` see https://github.com/topcoder-platform/tc-project-service/issues/117

Will be that issue fixed for backend? Or it's not an issue and we have to update `duration` instead of `endDate` when a user requests milestone extension?

[2018-08-04 14:29] gondzo opened #2290 "Post styling with code block"
### Expected behavior
Post should be contained within the main body, with scrollbar if necessary

### Actual behavior

![image](https://user-images.githubusercontent.com/3051646/43677524-89f06180-9803-11e8-9656-424f9a80283d.png)

[2018-08-06 02:57] RishiRajSahu commented on #2289
@maxceem, as per my understanding we first send the patch request for existing milestone for which we want to extend with `duration` as param, then During approve, we are making another patch for next milestone with `startDate` param. As per latest changes in backend when

[2018-08-06 02:59] RishiRajSahu commented on #2289
@maxceem, as per my understanding we first send the patch request for existing milestone which we want to extend with `duration` as param, then During approve, we are making another patch for next milestone with `startDate` param. As per latest changes in backend when you pass duration to be updated for a particular milestone all the next milestone's cascaded updates will be done implicitly.

we a

[2018-08-06 03:29] RishiRajSahu commented on #2287
@maxceem
Your understanding is correct, `endDate` is calculated as per planned, while `completionDate` is actual completion date

Also, validation error from server is fare as you said, if it would have been 5 Aug and then we have tried marking it as completed it would be successful, but here as today is still 4 Aug which is less than start date so its giving error. To handle this, @vikasrohit sho

[2018-08-06 04:53] vikasrohit commented on #2255
@vic-topcoder we have a known issue with respect to the addition of a new team member for a project where we can not determine the role of the user being added because we never allow seeing roles of any user by any user (except system administrators not to be confused with any connect specific role), so we can not apply validation when you are adding a non copilot as copilot to the team. However,

[2018-08-06 05:01] vikasrohit commented on #2256
I don't think a progress bar would make sense here. @rmjmccormick @acshields Let me know if you think otherwise.
@maxceem we will create separate issue for handling this if required.

[2018-08-06 05:11] vikasrohit commented on #2280
@vic-topcoder I can not see difference in buttons, need your designer eyes.

[2018-08-06 05:11] vikasrohit commented on #2279
Good catch @maxceem. @vic-topcoder Let us know where do you want to put the close button.

[2018-08-06 05:27] vikasrohit commented on #2185
@maxceem are you working on it? If you haven't started it yet, please wait on this until we close the 2.4.4 milestone.

[2018-08-06 05:31] vikasrohit commented on #2106
@vic-topcoder @rmjmccormick @acshields I think we should have a separate discussion on supporting the attachments for project creation wizard, original issue is to support attachments in scope section of the project which we can achieve by updating the templates. However, to avoid redundant efforts, we are waiting for #2162 and #2161 to be closed as soon as possible so that we can update the templ

[2018-08-06 05:34] vikasrohit commented on #2220
@maxceem do you think you have a quick fix for the issue? If yes, I would keep it in 2.4.4, otherwise will move this issue to the next milestone.

[2018-08-06 05:36] vikasrohit commented on #2110
Closing as separate issue is capture for tracking the smooth transition effect on automatic reload.

[2018-08-06 05:36] #2110 closed

[2018-08-06 05:36] vikasrohit commented on #2045
@vic-topcoder Let us know if we have the all required details for the task.

[2018-08-06 05:38] vikasrohit commented on #2215
Thanks @maxceem for reporting this. Would like to provide a quick fix for this or we can move this to the next milestone.

[2018-08-06 05:49] vikasrohit commented on #2242
@gondzo I think this hasn't been done yet, handling via tasks.

[2018-08-06 05:57] vikasrohit commented on #2289
@RishiRajSahu I don't think you will be able to do that as we are not allowing the updates in `startDate` and `endDate`.

I think to achieve the use case, we have to just update the milestone's `details` json with flag indicating that extension is requested, and on approve, just patch the milestone with updated `duration` field only.

[2018-08-06 07:07] maxceem opened #2291 "When server updates milestones cascading, UI has to be updated for changed milestones"
There are several cases when we update one milestone, and its UI is updated correctly.
But at the same time server updates cascading other milestones, but UI is not updated automatically.

The cases:
1. We complete milestone so the next milestone dates are moved.
2. We extend milestone.
3. We change the duration of milestone manually.

Comes from https://github.com/appirio-tech/connect-app/issues/

[2018-08-06 07:07] maxceem commented on #2289
Done by updating `duration` of the current milestone only. Other milestones are updated cascading by the server.

There is another issue, that the dates of following milestones are not updated in the UI after server implicitly updates them. I create a separate issue to handle this one and other similar cases https://github.com/appirio-tech/connect-app/issues/2291

[2018-08-06 07:45] maxceem commented on #2220
@vikasrohit probably this would require some research. It has to deal with some mobile browsers peculiarities.

[2018-08-06 07:48] maxceem commented on #2185
@vikasrohit it's on my list, but I'm not working on it as this one is quite heavy, will most likely require to refactor the Feed and/or FeedContainer components.

[2018-08-06 07:57] maxceem opened #2292 "Update phase, timeline and milestone sequentially instead of parallel"
There is some limitation of the backend which doesn't let us update phase, timeline and milestone in parallel see https://github.com/topcoder-platform/tc-project-service/issues/118#issuecomment-410433410

So we have to update them sequentially instead, see https://github.com/topcoder-platform/tc-project-service/issues/118#issuecomment-410611581

[2018-08-06 08:04] maxceem opened #2293 "Hide blue line where milestone only has a description"
In case there is only description and nothing else in the milestone, the blue line has to be hidden.

![](https://user-images.githubusercontent.com/146016/43671910-9361f694-97d5-11e8-98f0-07f29d72998c.png)

[2018-08-06 08:04] maxceem commented on #2256
After this fix, there is a new case which didn't happen before where we don't have anything inside milestone expect of the description.

In this case, the blue line looks like has to be completely hidden. This will require some refactoring of the milestone components, will do it here https://github.com/appirio-tech/connect-app/issues/2293

![](https://user-images.githubusercontent.com/146016/43671

[2018-08-06 08:59] vikasrohit commented on #2287
@maxceem for now, please don't send the `completionDate` along with `status` field when you are marking the milestone as complete. This would set the today as `completionDate` for the milestone without firing the validation. However, that would lead to slightly inconsistent data in database where `startDate` would be greater than the `completionDate`. To fix that, we are thinking of introducing a

[2018-08-06 09:46] vikasrohit commented on #2293
Good catch @maxceem

[2018-08-06 09:47] vikasrohit commented on #2185
Okay, makes sense. Already moved it to 2.4.5.

[2018-08-06 09:48] vikasrohit commented on #2220
Got it. Moving to next release.

[2018-08-06 09:50] vikasrohit commented on #2291
@RishiRajSahu are we not handling this by calling the `GET /v4/timelines` endpoint again after such updates?

[2018-08-06 09:54] vikasrohit commented on #2292
@maxceem just to be sure, we only need to make timeline and milestone call sequential, we can still do phase and timeline calls in parallel.

[2018-08-06 09:59] vikasrohit commented on #2268
@maxceem are you done with the changes for removing the route for phases?

[2018-08-06 10:01] maxceem commented on #2268
@vikasrohit no, I was waiting for confirmation that I can do that.
Also, could reference any reasons why it was added? Probably if I remove it, we have to fix some other issue, which was fixed by adding such routing.

[2018-08-06 10:06] vikasrohit commented on #2268
Okay, #2066 was the reason to have that route. It should only be activated for mobile views, not for the desktops.

[2018-08-06 10:06] gondzo commented on #2268
It was added for mobile - phase details are shown in a separate page. On desktop the route will just expand the phase details. IMO we should just remove the redirect on clicking the phase header on dashboard

[2018-08-06 10:10] vikasrohit commented on #2268
Also, could you create issue and start for

Vic has added more details for it in his comments. So, just need to ensure that we are showing the phase start-end date range, in the phase card header, as per the actual duration of the phase i.e. when a phase has  timeline and in turn milestones, we should write that date range as start date of the first milestone to completion date of the last milesto

[2018-08-06 10:12] maxceem commented on #2268
@vikasrohit @gondzo Is that ok, if I completely remove routing for phases and open the page on mobile fullscreen without routing?
This way it's now done for posts when we make them fullscreen. We open posts on mobile fullscreen without routing.

@gondzo

As I understand by current logic we are supposed to change route when we expand (open fullscreen) on mobile. As we still can expand (open fullscr

[2018-08-06 10:15] gondzo commented on #2268
Sure, removing the route is fine too

[2018-08-06 10:17] maxceem commented on #2268
@vikasrohit

Done https://github.com/appirio-tech/connect-app/issues/2286

I'll add your comment there and ask some additional question there.

[2018-08-06 10:30] vikasrohit commented on #2286
@maxceem 1 is better way for us because we don't want keep syncing one more field between phase and timeline/milestone and we are using the pristine state of `progress` field as indicator of user not setting it explicitly, so we can use user set value of the progress to override all other calculated values.

One additional thing  I would to get done is that disable the progress field as well for E

[2018-08-06 10:41] maxceem commented on #2270
This is fixed by PR https://github.com/appirio-tech/connect-app/pull/2294

[2018-08-06 10:41] maxceem commented on #2269
This is fixed by PR https://github.com/appirio-tech/connect-app/pull/2294

[2018-08-06 10:44] vikasrohit commented on #2267
@gondzo I think that is better and logical approach.

@maxceem do you think you can get it done by tomorrow EOD?

[2018-08-06 10:51] vikasrohit commented on #2267
Also, I think we should now rename the `delivery` type to `delivery-design` to avoid confusion in future.

[2018-08-06 10:52] maxceem commented on #2267
@vikasrohit I'll try to do it now. Will create a new milestone and rename existent one myself if you didn't do it yet.

[2018-08-06 10:57] vikasrohit commented on #2267
Done in database level. Now it would break if you don't adapt the UI for delivery-dev milestone type. 😬

[2018-08-06 11:10] #2255 closed

[2018-08-06 11:34] vikasrohit commented on #2275
I think we should mark the project as `reviewed` instead of `in_review` because `in_review` is the status which is set when customer clicks on `Submit for Review` button and we use this status to post a message to the slack channel where our managers can look for new projects. However, if we set project's status to `reviewed` it would post message to the copilots channel in the slack which would t

[2018-08-06 11:43] maxceem commented on #2267
Done with PR https://github.com/appirio-tech/connect-app/pull/2295

Also, renamed `delivery` type to `delivery-design` in the DB.

I've added a fallback for already existent milestones with `delivery` type so projects which are created for testing still works. After a while, we may remove the fallback and do not support `delivery` milestones.

[2018-08-06 11:50] vikasrohit opened #2296 "Should we give admins or managers the ability to delete the project"
@rmjmccormick @acshields @vic-topcoder we don't have this capability yet in the application, do you want to have this in place to remove the spam projects?

[2018-08-06 12:02] vikasrohit commented on #2267
Thanks @maxceem I think in future, we need to keep these texts in details json (we need to add new field in milestone template model) so that we can keep them more dynamic and allow managers/admins to update.

[2018-08-06 12:13] vikasrohit commented on #2267
@rmjmccormick I think we are still missing the copy for the delivery milestone in the [doc](https://docs.google.com/spreadsheets/d/1SXZjX5TlbfFa7IuifOseCKqvqkytxeXUEH3A1rL0CCw/).

[2018-08-06 12:17] maxceem commented on #2287
@vikasrohit I did update only `status` without `completionDate` when we mark milestone as complete. And it did work as excpected.

The only thing we end up with non-logical timeline dates.

1. The first milestone has to start on `14 August`
2. I mark the phase as `In Progress` which makes the first milestone active even though the start date is `14 August`
3. I mark the first milestone as complete

[2018-08-06 12:33] maxceem commented on #2287
You are right, so there is no issue in the situatian I showed before. The start date was really 14 September in that phase, so first milestone started 14 September. When I marked it as completed it updated all the follwoing dates according to today date as excpected. So everything were correct.

[2018-08-06 12:35] rmjmccormick commented on #2256
@maxceem @vikasrohit @acshields A progress bar is a good suggestion; however, on balance, this could result in over-saturation in terms of usage of space within the milestone components and lead to sub-optimal UX for the customer. Thus, not needed. Thanks for the suggestion though @maxceem .

[2018-08-06 12:40] rmjmccormick commented on #2275
@vikasrohit Good point, as we saw last week through that email exchange with Joey Poarch! Though, we should be urging managers to close out projects and starting an entirely new project where the delay between the original project closing and the new "additional" piece of work exceeds 3 months. Keeping projects open has implications for revenue recognition (we can only recognise fully on project c

[2018-08-06 12:43] rmjmccormick commented on #2296
@vikasrohit @acshields @vic-topcoder Define spam projects please? Do you mean "test" projects set up in prod? If so, we should identify these and delete through the back-end. I'd be very wary of granting full delete powers to a wider audience. We can discuss the merits tomorrow though.

[2018-08-06 13:03] rmjmccormick commented on #2267
@vikasrohit Updates made (in red) into [https://docs.google.com/spreadsheets/d/1SXZjX5TlbfFa7IuifOseCKqvqkytxeXUEH3A1rL0CCw/edit]

[2018-08-06 16:06] vikasrohit commented on #2276
@maxceem we need to hide the Specification tab only for customers, not for managers and copilots. Could you please fix that?

[2018-08-06 16:09] vikasrohit commented on #2277
@maxceem it seems to work fine, however, `community-work` and `community-review` has `Add Link` optional as well. Just wanted to make sure that it is not the side effect of this change?

[2018-08-06 16:11] vikasrohit commented on #2278
Seems good to me. @vic-topcoder your designer eyes please.

[2018-08-06 16:12] vikasrohit commented on #2280
@vic-topcoder changes are deployed to dev. Please let us know if it is still missing some design specs.

[2018-08-06 16:12] vikasrohit commented on #2283
Working fine. Closing.

[2018-08-06 16:12] #2283 closed

[2018-08-06 16:15] vikasrohit commented on #2284
Working fine. Closing.

[2018-08-06 16:15] #2284 closed

[2018-08-06 16:19] vikasrohit opened #2298 "Need to think how would we handle reactivating an active phase"
How milestones should behave when one reactivate a phase e.g. first change the status of the in progress phase to the `draft` and then `in progress` again. Right now it rebuilds the milestones from scratch and looses all data in the milestones previously set. IMO, that should be the way it should, however, we can either show a alert message about this or just don't allow moving back to any other s

[2018-08-06 16:26] vikasrohit commented on #2289
Working fine after refreshing the page. As said above, need #2291 to be fixed to reflect the changes immediately.

[2018-08-06 16:26] #2289 closed

[2018-08-06 16:27] vikasrohit commented on #2291
@maxceem what is your investigation about this issue? How much time it would take to fix this?

[2018-08-06 16:27] vikasrohit commented on #2215
Working fine. Closing.

[2018-08-06 16:27] #2215 closed

[2018-08-06 16:29] vikasrohit commented on #2242
@deepakanbarasan1 changes are deployed to the dev env. Please let us know if does not work for you.

[2018-08-06 16:33] vikasrohit commented on #2287
@maxceem how can we verify the changes made for this issue? I am trying to verify the changes in dev env.

[2018-08-06 17:34] rmjmccormick opened #2299 "Error in QA Performance Testing description on Connect"
In the description of QA Performance Testing product on Connect Add a Project landing page, please replace "effiency" with "efficiency" (missing first c)

![image](https://user-images.githubusercontent.com/39598852/43731695-f05a8bba-99cc-11e8-95c1-85248d898cef.png)

[2018-08-06 22:23] vic-topcoder opened #2300 "Show phase specification tab to managers and copilots"
Let's keep the specification tab still visible for managers and copilots. There is valuable information that can be used during project upgrade process.

Right now we hide the specification tab for everybody (after the fix), but it should be only hidden from customers really.

@acshields FYI

[2018-08-06 23:05] vic-topcoder opened #2301 "Timeline additional issues"
Ok, here are several issues that I'm going to capture in a list. @acshields @vikasrohit @RishiRajSahu please break them between releases and importance.

Current implementation
![screen shot 2018-08-06 at 10 08 04 am](https://user-images.githubusercontent.com/8484061/43744247-02d25d66-998e-11e8-89e7-b35d8e7e996a.png)

Designed
![screen shot 2018-08-06 at 10 08 12 am](https://user-images.githubuser

[2018-08-07 01:32] maxceem commented on #2277
@vikasrohit No, these two milestones had optional link initially by design as discussed with Rishi.

[2018-08-07 01:34] maxceem commented on #2291
@vikasrohit I'm going to fix this one till the EOD

[2018-08-07 01:44] maxceem commented on #2287
@vikasrohit Ok, I think here I didn't solve the issue listed here about updating UI, and instead refactored code to match current backend behavior regarding marking a milestone as complete. The actual issue with updating UI is listed as a separate common issue here https://github.com/appirio-tech/connect-app/issues/2291.

[2018-08-07 02:46] maxceem commented on #2276
Done by https://github.com/appirio-tech/connect-app/commit/9f98dce3a543835f5d7dfe4c7f33535d16218258

[2018-08-07 03:02] maxceem commented on #2300
Done by https://github.com/appirio-tech/connect-app/commit/9f98dce3a543835f5d7dfe4c7f33535d16218258

[2018-08-07 03:27] maxceem opened #2302 "Warnings in developer console"
There are several warnings in browser console. Not something critical, but probably can find some time to clean them up.

1. Page http://local.topcoder-dev.com:3000/projects
[code]

2. Page http://local.topcoder-dev.com:3000/projects/6706/plan
    This warning actually because of not correct development backend data. Probably it should just stay as it's higlights the valid issue.
[code]

3. Page h

[2018-08-07 04:43] maxceem commented on #2291
One more case:
4. When we update startDate and status of the phase. Frontend also updates timeline dates and change the status of the first milestone to active. Timeline dates are updated in UI, but first milestone doesn't because active in UI until we reload the page.

[2018-08-07 04:48] maxceem commented on #2292
This issue on the backend is no more reproducible, probably has been fixed https://github.com/topcoder-platform/tc-project-service/issues/118#issuecomment-410908746

I'm marking this issue as **invalid** for now.

[2018-08-07 05:14] maxceem opened #2303 "Remove workaround for retrieving timeline"
Previously there was an issue on the backend https://github.com/topcoder-platform/tc-project-service/issues/116 which causes us to use a workaround and make one more additional API request https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/productsTimelines.js#L38.

As the backend issue is now fixed, we can remove this workaround.

Aha! Link: https://topcoder.aha.io/features

[2018-08-07 06:06] vikasrohit commented on #2302
Included in next milestone.

[2018-08-07 06:10] maxceem opened #2304 "When update only status of phase, it's not updating in UI"
When editing phase and update only the `status` UI is not updated until page reload.

To reproduce:
1. Open any project with phases https://connect.topcoder-dev.com/projects/6967/plan
2. Click **edit** phase and change only the Status

     <img width="761" alt="only-status-phase" src="https://user-images.githubusercontent.com/146016/43756598-fda1dc26-9a47-11e8-9619-898baf99c7ae.png">

3. Click **

[2018-08-07 06:11] vikasrohit commented on #2291
is it ready for review @maxceem ?

[2018-08-07 06:38] vikasrohit commented on #2277
Okay.

[2018-08-07 06:38] #2277 closed

[2018-08-07 06:41] #2256 closed

[2018-08-07 06:42] vikasrohit commented on #2287
Okay. Nothing to verify there then, closing the issue.

[2018-08-07 06:42] #2287 closed

[2018-08-07 06:45] vikasrohit commented on #2304
I saw this yesterday when testing something else on dev env. Thanks @maxceem for filing it. Is it possible to get it done EOD today?

[2018-08-07 06:52] maxceem commented on #2303
There appears to be another issue in the backed, so we have to keep the workaround for now https://github.com/topcoder-platform/tc-project-service/issues/159

[2018-08-07 06:55] maxceem commented on #2291
No, only one item is done so far. Was doing the relative issue first, continue with this one now. I'll let you know when this is ready.

[2018-08-07 06:57] vikasrohit commented on #2299
Patched on production.

[2018-08-07 06:57] #2299 closed

[2018-08-07 06:57] maxceem commented on #2304
I think yes, will put it on the short list.

[2018-08-07 07:01] vikasrohit opened #2305 "[$60] Radio slider UI is disturbed on production"
<img width="1280" alt="screen shot 2018-08-07 at 12 27 34 pm" src="https://user-images.githubusercontent.com/2417632/43759698-acc4f2b6-9a3d-11e8-9c72-7c3b0317c776.png">

fyi @RishiRajSahu @gondzo

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-292

[2018-08-07 07:04] vikasrohit commented on #2292
Closing

[2018-08-07 07:04] #2292 closed

[2018-08-07 07:06] vikasrohit commented on #2267
Thanks @rmjmccormick, @RishiRajSahu fyi

[2018-08-07 07:06] #2267 closed

[2018-08-07 07:25] vikasrohit commented on #2275
I don't think we have time to close this out before Aug 09. Targeting it for next release.

[2018-08-07 07:54] maxceem commented on #2291
@vikasrohit I've done with the fixes for all cases of this issue. So it's ready for review.

But there appear to be some user experience issue after the fixes.
See the video when we update milestone duration http://take.ms/N3cV8

The process is like this:
1. We update milestone duration, so milestone is being updated and we show loader only for the milestone.
2. As soon as the milestone is updated

[2018-08-07 08:01] gondzo opened #2306 "[$150] Jump to post"
We need a way to jump to specific topic or post based only on topic or post ID. This would require fetching the data backwards - fetch post and the topic from the api, figure out the reference codes and load the correct project and correct tab (plan or dashboard) with the referenced post displayed correctly (phase posts expanded and loaded to correct date/time).
IMO this would best be achieved wit

[2018-08-07 08:19] maxceem commented on #2302
5. Project plan page http://local.topcoder-dev.com:3000/projects/6967/plan
[code]

[2018-08-07 08:54] vikasrohit commented on #2306
@gondzo we have this functionality built in, please refer [this](https://github.com/appirio-tech/connect-app/blob/dev/src/routes.jsx#L136). I think what we need is to update the logic to handle the phase topics and add an anchor tag to the new Post card.

[2018-08-07 09:00] gondzo commented on #2306
Yup, we need to update RedirectToProject with new routes for phase topics (we don't have deep links for phases - it should switch to plan tab, expand the phase and load posts tab) and some logic to load the exact post in the topic if we want to link to exact postId

[2018-08-07 09:14] vikasrohit commented on #2306
Agreed. Marking this issue for next release as we can not get it done for this release.

[2018-08-07 09:33] vikasrohit commented on #2291
Got it @maxceem. I think the last option in your suggestions list is best from the options.
I have one more option which we might try. Can we show the loader only for the milestone and keep it loading (if we dispatch a chained promise for the two actions i.e. single chained promise of patching milestone and fetching loading timeline again) until we get the new timeline back. It would not silently