[2017-08-01 23:33] fnisen commented on #1061
Validation has been wired to be sticky, which is incorrect. Go here: https://accounts.topcoder-dev.com/connect/registration, try an existing email address (e.g., filipp@appirio.com), and then start to erase it, one character at a time. Do you see how it throws a validation error, but then quickly goes away? That's the kind of UX we need.

[2017-08-01 23:58] #1060 closed

[2017-08-02 00:00] fnisen commented on #1053
@gondzo I don't have IE 11. Can you please just verify that the "X" button is removed, as Vikas suggested? That's been our standard fix for this.

[2017-08-02 00:02] fnisen commented on #1049
Looks correct now. I believe @vikasrohit fixed this along with other copy changes on the form.

[2017-08-02 00:02] #1049 closed

[2017-08-02 00:03] fnisen commented on #1046
Also fixed by @vikasrohit with some copy changes on that page.

[2017-08-02 00:03] #1046 closed

[2017-08-02 00:05] fnisen commented on #1042
@gondzo this is not styled correctly. Can you please pass to Didi if needed?

[2017-08-02 00:06] fnisen commented on #1040
@gondzo can you please verify that we're using the same validation rules as on the Registration form?

[2017-08-02 00:29] vic-topcoder commented on #1042
The error message doesn't follow the UI Kit system as well. The message should be under the field to which it applies, and the filed should partake the appropriate style.

[2017-08-02 00:31] vic-topcoder commented on #1001
the background doesn't match the latest design as well.

[2017-08-02 00:57] fnisen commented on #1038
Styling is off. Please follow the spec here: https://drive.google.com/open?id=0B1LbmKnex41feUhoanRsdG10Qkk. Noticing two issues in particular:
1. The project name shifts from being center-aligned to being left-aligned as it gets longer
2. There is too much blank vertical space between the title and description.

[2017-08-02 00:59] fnisen commented on #1033
Copy should read: "Please provide a name for your project" (not "to your project")

[2017-08-02 01:03] fnisen commented on #1024
Working correctly, thanks.

[2017-08-02 01:03] #1024 closed

[2017-08-02 01:08] fnisen commented on #1022
Functionally it's correct, but I'm seeing some consistently weird behavior for validation on all the fields. They will turn blue when a line of text is deleted and then turn red when I click out. I think they should be consistently red. @vic-topcoder?

![screen shot 2017-08-01 at 6 07 03 pm](https://user-images.githubusercontent.com/12552247/28853297-6e0c63d8-76e4-11e7-8729-013e61aebb32.png)

[2017-08-02 01:10] fnisen commented on #1021
I'm still seeing a reload. I don't think we're caching the icons.

[2017-08-02 01:13] fnisen commented on #1016
Working correctly now, thanks.

[2017-08-02 01:13] #1016 closed

[2017-08-02 01:22] fnisen commented on #1017
@macs054 @gondzo should have commented earlier, but I disagree with the original bug. Yes, the list is overly long, but in the current implementation, I can't find certain countries. For example, try typing "Republic" into the country form. Nothing comes up now. Yet there are dozens of countries that start with "Republic of..." Same happens with countries with compound names. If I type in "Tobago,

[2017-08-02 01:25] fnisen commented on #1015
Hmm... component is now bumping the Register button. @vic-topcoder what's the right way to handle this?

![screen shot 2017-08-01 at 6 25 24 pm](https://user-images.githubusercontent.com/12552247/28853646-da521b58-76e6-11e7-9301-bfeeb125e14e.png)

[2017-08-02 01:33] fnisen commented on #1013
Guys, please follow the behavior here: https://accounts.topcoder.com/member.

1. The Log in button should not activate if at least one field is empty
2. Both parts of the form should not be cleared when a validation error is returned, so that the user can easily fix their mistake (if they've made a one character typo, for example). (I saw an example of the password form being cleared).
3. The vali

[2017-08-02 01:36] fnisen commented on #1009
Should have commented on this sooner, but I don't think clearing is good UX, as mentioned here: https://github.com/appirio-tech/connect-app/issues/1013. If a user has a long password and makes a typo, it should be easy for them to fix their mistake.

@sdgun please let me know if you have a good counterargument; otherwise I'd like to revert this change. (Will still give credit for the original bug,

[2017-08-02 01:41] fnisen commented on #1002
Working correctly, thanks.

[2017-08-02 01:41] #1002 closed

[2017-08-02 01:44] fnisen commented on #976
Looks like the original bug has been fixed, but the right approach would be to disable the Log in button, as @rushikesh90 mentioned. I've already asked for that fix here https://github.com/appirio-tech/connect-app/issues/1013

[2017-08-02 01:44] #976 closed

[2017-08-02 01:46] fnisen commented on #992
Working correctly. Thanks!

[2017-08-02 01:46] #992 closed

[2017-08-02 01:48] fnisen commented on #977
@vic-topcoder what's the right UX here? The spinners are "on top" now, but that doesn't look much better to me.

[2017-08-02 01:50] fnisen commented on #978
Thanks all.

[2017-08-02 01:50] #978 closed

[2017-08-02 01:57] fnisen commented on #980
That's not much friendlier. 🤓  Can you please change it to: "We weren't able to register you because of a system error. Please try again or contact suppor@topcoder.com." Also, the error styling is incorrect.

[2017-08-02 01:59] fnisen commented on #981
Working well, thanks.

[2017-08-02 01:59] #981 closed

[2017-08-02 02:00] fnisen commented on #983
This one is fixed technically, but getting some logo inconsistencies now. Have asked Didi to address here: https://github.com/appirio-tech/connect-app/issues/1003

[2017-08-02 02:00] #983 closed

[2017-08-02 02:03] fnisen commented on #953
Looking good!

[2017-08-02 02:03] #953 closed

[2017-08-02 02:07] fnisen commented on #950
Yes, thanks for checking.

[2017-08-02 02:07] #950 closed

[2017-08-02 02:10] fnisen commented on #960
@vikasrohit, yeah that was not looking good:

![screen shot 2017-08-01 at 9 33 08 am](https://user-images.githubusercontent.com/12552247/28854593-eaf47b1c-76ec-11e7-8b6f-db1afb3841cf.png)

![screen shot 2017-08-01 at 9 34 35 am](https://user-images.githubusercontent.com/12552247/28854598-f9e0340e-76ec-11e7-928c-e3c2d1c323cb.png)

Also, headline here is the wrong size:

![screen shot 2017-08-01 at

[2017-08-02 04:46] chq-matteo commented on #980
@fnisen What is the correct styling

[2017-08-02 04:51] sdgun commented on #1009
@fnisen better to clear the password field if the password is completely or partially wrong when triggering the login button

1. User won't need to clear the invalid password, because there is no clear button for the password field
2. Most of the websites do clear the password field if it is wrong. I think it is a feature if we convert the text field into password field
2. If password partially wr

[2017-08-02 05:09] chq-matteo commented on #1013
@fnisen we have an error for inactive users who have to contact support. Should that be non sticky too?

[2017-08-02 05:16] vikasrohit commented on #1088
@fnisen Done the requested changes. However, just to clarify, the message is not second level heading actually. font size is same, however, color for second level headline is bit different. We have removed the second level headline from most of the screens except /reset-password screen.

[2017-08-02 05:23] chq-matteo commented on #1017
@fnisen tag me when you decide if keep this or roll back
Screenshot of the pitfall (they don't start with what the user would expect)
![2017-08-02](https://user-images.githubusercontent.com/6654800/28858782-566d0a06-7753-11e7-80ef-c3935ff7cb4d.png)

[2017-08-02 05:23] vikasrohit commented on #1087
Done. Fixed other typo as well it was rendering 'Loggin you in...' instead of 'Logging you in...'. 😬

[2017-08-02 05:27] vikasrohit commented on #1086
Done.

[2017-08-02 05:55] chq-matteo commented on #1013
@fnisen actually here https://accounts.topcoder.com/member validation is sticky

[2017-08-02 05:57] chq-matteo commented on #1013
So point 3 maybe is out of scope for this issue

[2017-08-02 06:20] vikasrohit commented on #1061
@fnisen @gondzo @chq-matteo Actually it was kind of intentional to make the email field non editable while we are checking and updating email address so that user do not update the email in the text box or click on the update button again, in between.
I am not sure what would be the ideal behaviour here. If we want to keep the form as is while doing the actual update, we should show loading icon o

[2017-08-02 06:24] chq-matteo commented on #1061
@vikasrohit I've found a solution for the email input, but the password one requires a non trivial amount of work

[2017-08-02 06:35] vikasrohit opened #1091 "Sync email field validations with register page"
Continuing the email validations cleanup from https://github.com/appirio-tech/connect-app/issues/1040#issuecomment-319530724

fyi @fnisen @gondzo

[2017-08-02 06:37] vikasrohit commented on #1091
Done.

[2017-08-02 06:39] vikasrohit commented on #1040
@fnisen @gondzo I have cleaned up the email validations as per #1091. FYI, now it would validate the email availability even before user clicks on update button. So, the button would be disabled until user has entered a valid available email. Lets discuss in #1091 if this is not desired behaviour.

[2017-08-02 06:43] chq-matteo commented on #1047
@fnisen I've already made the pull request yesterday https://github.com/appirio-tech/accounts-app/issues/145

[2017-08-02 06:46] chq-matteo commented on #1070
@gondzo A couple of the issue that were assigned to me had their specs changes am I supposed to update my fixes?

[2017-08-02 06:46] vikasrohit commented on #960
@fnisen I think instead the login page's heading is having wrong size as per new styles. In this new design we are using h3 for form heading and h2 for page heading. All pages are following that, except login page where form heading is h2 and that is the reason it is looking bigger. Please let me know how we want to fix it. @vic-topcoder

[2017-08-02 06:47] vikasrohit commented on #960
@fnisen What we want to put as page headings now as two liners are not looking good?

[2017-08-02 06:50] vikasrohit commented on #980
@chq-matteo Just update the css class of the element where we are rendering these generic errors i.e. instead of `p.error` just use `.error-block`.

[2017-08-02 06:50] chq-matteo commented on #980
ok

[2017-08-02 06:53] chq-matteo commented on #980
Pull request updated @vikasrohit @fnisen

[2017-08-02 07:15] vikasrohit commented on #1022
@fnisen It should be fixable quickly as we are explicitly overriding border styles for error elements when they have focus. @vic-topcoder If we always want to show error styles even if it is focused, please let me know.
On the other hand, accounts-app forms are not showing error state for the elements themselves even if they are NOT focused. So, we need to fix [that](https://github.com/appirio-tec

[2017-08-02 07:18] vikasrohit commented on #980
@chq-matteo can you please update the PR once more? Actually, we need to render it as div instead of paragraph element to get proper styles. Just remove the `p`.

[2017-08-02 07:22] chq-matteo commented on #980
@vikasrohit done

[2017-08-02 07:24] vikasrohit commented on #980
Thanks. @gondzo please verify and merge the PR.

[2017-08-02 12:31] vikasrohit commented on #925
@fnisen Can you please try once again? I have tried to sync with design.

[2017-08-02 16:13] fnisen commented on #925
Beautiful, thanks.

[2017-08-02 16:13] #925 closed

[2017-08-02 16:15] fnisen commented on #980
Thanks @chq-matteo and @vikasrohit.

[2017-08-02 16:22] fnisen commented on #1047
Thanks @chq-matteo. I noticed that--was just confirming.

[2017-08-02 16:30] fnisen commented on #1040
Thanks a lot @vikasrohit! Yup, that's the behavior I would want.

[2017-08-02 16:30] #1040 closed

[2017-08-02 16:36] fnisen commented on #1091
@vikasrohit the format validation works well. It's fast and the button activates/deactivates correctly. However, I'm seeing an issue with the email validation itself. There is a check on whether the email address is being reused, but it's delayed, so I can click the PIN button before the verification comes back. I'm able to get into a state like the screenshot below. "Currently we can't update you

[2017-08-02 17:53] fnisen commented on #1061
@vikasrohit @chq-matteo looks like Vikas is already addressing the issue here https://github.com/appirio-tech/connect-app/issues/1091. I've commented there about a possible approach.

[2017-08-02 17:53] #1061 closed

[2017-08-02 17:59] gondzo commented on #1021
We're actually not caching any static resources (images, fonts, css). We should discuss what should be cached and how long. Maybe just enable caching for all items in src/assets for 24hrs ?
@fnisen @vikasrohit what do you think ?

[2017-08-02 18:00] gondzo commented on #1070
no, your tasks are marked as accepted and you don't need to do anything further.

[2017-08-02 18:11] gondzo commented on #751
this isn't an issue anymore as we changed the component for defining screens. Also, you can't save the changes unless all screens pass validation. closing!

[2017-08-02 18:11] #751 closed

[2017-08-02 18:16] gondzo commented on #1053
The X icon is removed in IE11

[2017-08-02 18:17] gondzo commented on #1042
@sirakovaDimitrina can you add the appropriate styling ?

[2017-08-02 18:23] sirakovaDimitrina commented on #990
@vic-topcoder The text in the button is not in vertical center.

[2017-08-02 18:31] #1070 closed

[2017-08-02 18:31] #1071 closed

[2017-08-02 18:31] #1072 closed

[2017-08-02 18:31] #1073 closed

[2017-08-02 18:34] gondzo commented on #1090
I can take this one and handle it after this release. It would be a good idea to add these checks in the challenge reviews.

[2017-08-02 18:40] gondzo commented on #1047
changes are reverted. closing the issue!

[2017-08-02 18:40] #1047 closed

[2017-08-02 18:42] vic-topcoder commented on #1090
That works for me! It is important to verify all our components are not causing unnecessary renders. Thanks!

[2017-08-02 18:43] #974 closed

[2017-08-02 18:49] gondzo commented on #980
Changes are merged and styling looks correct.

[2017-08-02 18:52] vic-topcoder commented on #1015
Auto-suggest should provide you with a space big enough to find the data. The drop-down can have a scroller to accommodate additional results. We should use a consistent component for all cases that behaves the same; in our case that is [React Select](http://jedwatson.github.io/react-select/).

What is the component used in that case? It seems like some sort of wrong HTML/CSS rules to me.

[2017-08-02 18:56] vic-topcoder commented on #977
Ideally we should provide a "loading/busy" state for the field that is being processed at the time. A global spinner does not make sense. I'd rather see it removed entirely. While loading the field should change state to indicate the process. We can design a quick "loading/busy" state with @sirakovaDimitrina, but I'll keep this as P2 and do it after release. For the time being - let's hide the spi

[2017-08-02 19:03] vic-topcoder commented on #960
We are mistaking page heading for status message...which would cause such a design disaster :D.

If we're building an intricate user-friendly messages, let's not use the title for them.

Right now the title is asking for a thing to do on the page, and the explanation of what happened is somewhere underneath.

![screen shot](https://user-images.githubusercontent.com/8484061/28889889-4b5e2650-777a-1

[2017-08-02 19:07] #1005 closed

[2017-08-02 19:17] sirakovaDimitrina commented on #987
@fnisen I can not reproduce this issue. The footer is missing.

[2017-08-02 19:26] #1029 closed

[2017-08-02 19:34] sirakovaDimitrina commented on #1032
@fnisen Different browsers have different between letter spaces.

[2017-08-02 19:53] #989 closed

[2017-08-02 19:59] #1050 closed

[2017-08-02 20:09] #1062 closed

[2017-08-02 20:14] #1063 closed

[2017-08-02 20:21] sirakovaDimitrina commented on #1064
In order to get space between the two paragraphs in the right section like in the left section you need to separate the text in separate paragraphs. The text now is in one box and this is why there is no space between the paragraphs.
![screen shot 2017-08-02 at 11 16 49 pm](https://user-images.githubusercontent.com/10530059/28893196-36792a46-77d9-11e7-8d26-d5a70a4b72e3.png)
See attached file

[2017-08-02 20:42] vic-topcoder opened #1092 "create project in logged out state: not matching design"
Logged out project creation screens are not following the design. Must fix - background, spacing, footers, logo (and serving as a back button).

Current:
![i525 pimgpsh_fullsize_distr](https://user-images.githubusercontent.com/8484061/28893974-31418844-7788-11e7-9675-4ef4f4d89d75.png)
![i524 pimgpsh_fullsize_distr](https://user-images.githubusercontent.com/8484061/28893975-31501a58-7788-11e7-9d60-

[2017-08-02 20:44] fnisen opened #1093 "Spec: allow multiple target devices to be selected"
### Actual behavior

<img width="625" alt="screenshot 1" src="https://user-images.githubusercontent.com/12552247/28894126-b38f56d2-7788-11e7-95b3-759210e5b847.png">

[2017-08-02 21:59] fnisen commented on #1032
@sirakovaDimitrina @vic-topcoder I think the underlying issue may be how fonts are being served, as Vic mentioned here: https://github.com/appirio-tech/connect-app/issues/501

[2017-08-02 22:04] fnisen commented on #987
@sirakovaDimitrina steps to reproduce:
1. Go to connect.topcoder-dev.com; click "Start a project"
2. Select Wireframe
3. Enter about a dozen lines in the "Description" field and look at the project outline unit (on the right-hand side). Now scroll down. You will see it bumps into the footer.

[2017-08-02 22:07] fnisen opened #1094 "Design new loading/busy state"
Following up on this comment: https://github.com/appirio-tech/connect-app/issues/977#issuecomment-319765362

[2017-08-02 22:07] fnisen commented on #977
OK, creating new issue to track that: https://github.com/appirio-tech/connect-app/issues/1094 Closing this one.

[2017-08-02 22:07] #977 closed

[2017-08-02 22:08] fnisen commented on #1015
@gondzo can you please update the component?

[2017-08-02 22:14] fnisen commented on #980
Seeing some kind of merge issue now:

![screen shot 2017-08-02 at 3 11 54 pm](https://user-images.githubusercontent.com/12552247/28897375-4c90ebaa-7795-11e7-9cd2-634fe520fa8e.png)

https://accounts.topcoder-dev.com/!#/connect/registration

[2017-08-02 22:16] fnisen commented on #1090
I'll keep it as a P1 b/c it's important, but it's not part of the "Logged out project creation" project, so we don't need it for the release.

[2017-08-02 22:18] fnisen commented on #1053
Thank you!

[2017-08-02 22:19] #1053 closed

[2017-08-02 22:22] fnisen commented on #1021
@vikasrohit I think this is related to the Cloudfront/S3 issue you found. I'll let you resolve this. I'm in favor of caching static resources, but am not sure about the best way to do it with our setup.

[2017-08-02 22:30] fnisen commented on #1013
@chq-matteo fair enough. Let's count #3 as out of scope and just fix #1 and #2.
@gondzo please chime in whether you want further fixes now or to handle this later.

[2017-08-02 22:31] #1086 closed

[2017-08-02 22:32] fnisen commented on #1087
Perfect, thanks.

[2017-08-02 22:32] #1087 closed

[2017-08-02 22:50] fnisen commented on #1017
@chq-matteo Yeah, I see the issue, but at least they can find the country. Can we use this component instead: http://jedwatson.github.io/react-select/

cc @gondzo

[2017-08-02 22:57] gondzo commented on #1015
that's for react, accounts app is in angular.
what is exactly wrong with the styling of the dropdown ?

![image](https://user-images.githubusercontent.com/3051646/28898521-b0c38b9a-77e6-11e7-8f71-eef22cae6002.png)

[2017-08-02 23:03] vic-topcoder commented on #1015
The drop-down is not displayed over the components, but pushes them - it is displayed as inline/block instead of absolutely positioned element (that covers other elements).

[2017-08-02 23:04] vic-topcoder commented on #1015
or just looks like it, but the drop-down ending at the Register button is super wired - I'd extend the dro down to use more of the usable space

[2017-08-02 23:10] gondzo commented on #1015
nothing gets pushed down. it has a max-height of 300px. Change to 350 to cover the register button as well ?
![image](https://user-images.githubusercontent.com/3051646/28898892-7ae0d918-77e8-11e7-9e75-e9d70b8cb258.png)

[2017-08-02 23:10] vic-topcoder commented on #1015
Yeah, that looks better. Thank you.

[2017-08-02 23:15] fnisen commented on #1009
@sdgun good points, thanks for taking the time.

@vikasrohit how does this work behind the scenes? Do we store the password locally in order to show it after failed validation? Is this a security risk?

[2017-08-02 23:31] fnisen commented on #980
OK, styling looks good, thanks.

@vikasrohit what are the error messages we show? I was able to get a weird one "Failed to fetch" by turning off my connection during the API call.

[2017-08-03 01:31] fnisen commented on #960
@vic-topcoder let's discuss tomorrow in detail. The issue is that we can't easily modify the form each time to convey a new message (@vikasrohit correct me if I'm wrong). We're relying on the page heading to be a flexible message. Vikas, let me know if you have any other ideas.

[2017-08-03 05:04] vikasrohit commented on #1094
@fnisen @vic-topcoder

I guess, we are never showing loading icon for a change in a particular field. We show loading icon whenever, user is hitting the submit button of the form or if we are doing some processing on the page load and don't want users to perform any action in between. So, I think having a global spinner does make sense here.
Yes, the spinner right now is different because they are

[2017-08-03 05:24] vikasrohit commented on #1091
- Make the email check virtually instantaneous, if that's possible

Not possible because its an network call to validate the email availability. I can remove the this validation. In that case user would come to know about email being reused only after hitting the button.

[2017-08-03 05:27] vikasrohit commented on #1015
Just for information, we already have a [issue](https://github.com/appirio-tech/connect-app/issues/137) for replacing the dropdown component, with react-select, in connect app.

[2017-08-03 06:04] vikasrohit commented on #960
@fnisen May be I have not understood properly, however, if you are concerned about showing status messages like we are showing on reset password form, in green color, I think it is not quite difficult here to achieve. If we have events to show statuses, we can show status messages.

[2017-08-03 06:09] vikasrohit commented on #1021
Yes, I think it should be mostly resolved with caching resolution. Even with current implementation, I can see icons loading again very quickly once loaded. I think we can close this issue safely.

[2017-08-03 06:10] vikasrohit commented on #980
This seems to a message from the fetch library, I guess, we might need to show a generic error message instead, if possible.

[2017-08-03 06:17] vikasrohit commented on #1009
@fnisen we are not storing password locally. Its in the angular's internal model which is rendering the values. And as we are not doing any direct form post, instead we are posting via ajax request, I don't think it would cause form post when hitting back button. Even reloading the same page again does not cause any form submission. I guess its only matter of clearing angular's model after such AP

[2017-08-03 06:29] vikasrohit commented on #1091
Done

[2017-08-03 06:32] vikasrohit commented on #965
@fnisen are you still seeing the issue?

[2017-08-03 09:44] vikasrohit commented on #889
@vic-topcoder @fnisen Can you please verify if anything pending for this?

[2017-08-03 16:54] fnisen commented on #963
Seeing this again. Will ask Matt.

[2017-08-03 17:40] fnisen commented on #965
@vikasrohit I could reproduce this in Chrome with my current cache, but not in Safari, when I started with a "clean" cache. Let me do some more testing later. For now, I'll downgrade to a P2.

[2017-08-03 18:51] fnisen commented on #1091
Yup, that works, thanks. @vic-topcoder this is another place where we'd need an inline loader b/c it's not clear right now that a check is happening.

[2017-08-03 18:51] #1091 closed

[2017-08-03 18:52] fnisen commented on #1039
Fixed. New template is active in Dev and email flow is working correctly.

[2017-08-03 18:52] #1039 closed

[2017-08-03 18:56] fnisen commented on #1042
Here's the latest (incorrect) style I'm seeing:

![screen shot 2017-08-03 at 10 09 16 am](https://user-images.githubusercontent.com/12552247/28938365-b9ed24fe-7842-11e7-9c83-35c56df132c8.png)

[2017-08-03 19:06] fnisen opened #1095 "Typo in "verify email address" page"
Notice the double semicolon below:

![screen shot 2017-08-03 at 9 51 08 am](https://user-images.githubusercontent.com/12552247/28938814-0bb1aa0c-7844-11e7-8f03-214f11563aca.png)

Couldn't find the code to fix this myself.

[2017-08-03 19:06] fnisen commented on #980
OK, do you want to work on this later?

[2017-08-03 19:45] fnisen commented on #1009
Thanks @vikasrohit. Can you please update so that we don't clear the password form? Discussed the UX with Vic, and he agrees.

[2017-08-03 19:48] fnisen commented on #1021
Agreed.

[2017-08-03 19:48] #1021 closed

[2017-08-03 19:52] fnisen opened #1096 "Copy updates on various Connect pages"
@vikasrohit it looks like you skipped the first three sections of my sheet. Can you please make the following changes:

1. http://connect.topcoder-dev.com/
Headline change: “Topcoder Connect: the easiest way to go from idea to app”
First line: same as now
Second line: “Connect guides you through the entire crowdsourcing process, from entering requirements to receiving final deliverables, and it fa

[2017-08-03 19:55] fnisen commented on #960
@vikasrohit discussed this with Vic. We need to change the flow to convey progress and have clearer messaging and we'll design this later. For now, can you please put those two-line page titles into a notification toaster instead?

[2017-08-03 19:58] fnisen commented on #1015
Thanks all.

[2017-08-03 19:58] #1015 closed

[2017-08-03 20:36] fnisen commented on #1088
Got it, thanks.

[2017-08-03 20:36] #1088 closed

[2017-08-03 20:40] fnisen opened #1097 "Set new password page: button should not activate until validation has been passed"
![screen shot 2017-08-03 at 1 38 45 pm](https://user-images.githubusercontent.com/12552247/28942708-35f84354-7851-11e7-8cb8-6387dcd03dfb.png)

[2017-08-03 20:46] fnisen commented on #1059
Can you work on this or does it need to be done by Sudo or Kohata-san?

[2017-08-03 20:47] fnisen commented on #1066
@vikasrohit would this go to you or Sudo?

[2017-08-03 20:53] fnisen commented on #1037
@vikasrohit don't think we ever resolved this issue. I tested just now. If I come to create a new project (without having anything previously saved in local storage) and change types, my info is being wiped. Can you please fix this?

[2017-08-03 21:09] fnisen opened #1098 "Design for chatbot project"
We're going to be adding the IBM chatbot project shortly and need to:
1. Modify the project menu
2. Create an icon

In fact, we can add two project types: Cognitive Chatbot (described here: https://www.topcoder.com/what-can-you-do/cognitive-solutions/) and an IBM-branded chatbot. We can maybe use the same icon, but with an IBM logo.

Thanks!

[2017-08-03 21:46] #918 closed

[2017-08-03 22:02] fnisen commented on #893
So right now, it looks like we usually post two Coderbot messages (below). One confirming project creation and then one confirming submission. Because the project is being created and submitted at once, let's combine these into one. Here is the new copy:

Headline: "Your project is being reviewed. Provide additional info if you have it."
Message: "Hello, Coder here! Thanks for submitting your proj

[2017-08-03 22:59] sirakovaDimitrina commented on #1042
@fnisen I can not the rename 'Email or password is required', to 'Email is required'.

[2017-08-03 23:02] sirakovaDimitrina commented on #1043
@fnisen This page can not be found

[2017-08-03 23:06] sirakovaDimitrina commented on #1044
@fnisen This issue is for old registration form

[2017-08-03 23:07] sirakovaDimitrina commented on #1045
@fnisen This issue is for old registration form

[2017-08-04 05:21] vikasrohit commented on #1043
I think bug reporter pasted screenshots of two different URLs which looks same. However, I think the issue might still be there for /sso-login/ page as well.

[2017-08-04 05:27] vikasrohit commented on #1037
Okay, I have to compare every field of project templates for copying old values to new project type. Still, I will check if there is any quick and easy solution for this.

[2017-08-04 05:30] vikasrohit commented on #1066
@fnisen I think it would be Sudo. However,  I think we are sending the same PIN to new email address as well.

[2017-08-04 05:31] vikasrohit commented on #1059
For API level changes, we need Sudo or Kohata-san.

[2017-08-04 05:34] vikasrohit commented on #960
@fnisen @vic-topcoder Toaster is not integrated yet with accounts app. So, we have to show the messages as green boxes which we are showing on reset password page, after successful reset of password, to show the status of the flow.

[2017-08-04 07:16] macs054 commented on #1043
Hi, I'm the one who reported the bug. It seems that the SSO button was totally removed from the login screen. But you can still access it here: https://accounts.topcoder-dev.com/sso-login/

[2017-08-04 07:58] vikasrohit commented on #1096
Seems like I forgot to merge the branch where I made the changes. 😬  Now merged, it should be done unless there is a difference between doc shared in #960 vs the copy pasted here.

[2017-08-04 13:37] vikasrohit commented on #893
Changes are in dev.

[2017-08-04 16:00] vikasrohit commented on #1042
@sirakovaDimitrina I have changed the copy and fixed the styles as well.

@fnisen @vic-topcoder Email validations (required and a valid email) would be rendered against the field as per our style, however, whenever we get error from server it is shown at common place which is top of the form because we do not know which field has caused the server error or it might not be related to any field at a

[2017-08-04 16:05] fnisen commented on #1044
@sirakovaDimitrina you're right, we've deprecated that page. I'll close this.

[2017-08-04 16:05] #1044 closed

[2017-08-04 16:06] fnisen commented on #1045
@sirakovaDimitrina yes, same issue as for 1044. I'll close this. Thanks.

[2017-08-04 16:06] #1045 closed

[2017-08-04 16:15] vikasrohit commented on #1095
Done. Changes should be in dev.

[2017-08-04 16:16] vikasrohit commented on #1009
Done. Changes should be in dev.

[2017-08-04 16:18] vikasrohit commented on #1097
Done. Changes should be in dev.

[2017-08-04 16:24] vikasrohit commented on #889
bump up 😬

[2017-08-07 05:34] fnisen commented on #1066
Turns out the behavior is according to the service design, so will close this one.

[2017-08-07 05:34] #1066 closed

[2017-08-07 11:09] gondzo commented on #1017
@fnisen rolled back the country search feature

[2017-08-07 11:09] gondzo commented on #1013
@fnisen login button is disabled if either of the fields is empty

[2017-08-07 21:19] sirakovaDimitrina commented on #1032
@fnisen All the fonts are loading correctly.
![img_04082017_013132_0](https://user-images.githubusercontent.com/10530059/29046226-29c51c8e-7bcf-11e7-8aff-3c4d4a5dccd3.png)

[2017-08-08 02:35] fnisen commented on #1032
OK, thanks @sirakovaDimitrina. So you don't see any problems? Then we can close this ticket.

[2017-08-08 02:40] fnisen commented on #1013
Thanks @gondzo; it's working well.

[2017-08-08 02:40] #1013 closed

[2017-08-08 02:40] fnisen commented on #1017
Thank you.

[2017-08-08 02:40] #1017 closed

[2017-08-08 02:45] fnisen commented on #1097
Perfect, thank you.

[2017-08-08 02:45] #1097 closed

[2017-08-08 02:46] fnisen commented on #1009
Nice, thank you.

[2017-08-08 02:46] #1009 closed

[2017-08-08 02:46] #1095 closed

[2017-08-08 02:49] fnisen commented on #1042
@vikasrohit what's an example of a common error that would not be against the field? Seems like the only issues are around the email address itself--that it can't be found in our system.

[2017-08-08 02:56] fnisen commented on #1096
@vikasrohit yes, the copy was the same and I'm seeing it now. A few follow ups please:
1. The "Topcoder Connecs: the easiset..." headline is not center-aligned
2. The "Start a project button" and "Learn more about Connect" link are out of alignment with the image on the left. Can you please raise them a little bit, so that the link is bottom-aligned with the image?
3. Take off the "." on the Infor

[2017-08-08 02:57] fnisen commented on #1043
@vikasrohit please let @sirakovaDimitrina know if you want this fixed on the member side. We don't need it for Connect right now. Otherwise I'll close.

[2017-08-08 03:00] fnisen commented on #960
@vikasrohit would you want to put the green box at the top, where the current headlines are? Is that even possible? Let's do that if it's easy. Please do it in Dev first and let's check it out.

If not, how long would it take to implement the toaster? Just wondering if we should do that as a stopgap or just work on the new design.

[2017-08-08 03:07] fnisen commented on #1003
@sirakovaDimitrina I'm not seeing this in Dev.
![screen shot 2017-08-07 at 8 06 34 pm](https://user-images.githubusercontent.com/12552247/29054600-f460b6e8-7bab-11e7-92da-c895169fbb40.png)

Also, it looks like you added the color logo to the other pages. We need the black-and-white one please, from Vic's design.

[2017-08-08 03:15] fnisen commented on #893
Working well, thank you!

[2017-08-08 03:15] #893 closed

[2017-08-08 03:16] fnisen commented on #1092
Not seeing the new logo (black) logo in Dev.

[2017-08-08 04:07] vikasrohit commented on #1096
Done. Should in dev.

[2017-08-08 04:20] vikasrohit commented on #1043
If it is a quick fix, @sirakovaDimitrina can you please fix and close it? Otherwise, I think we can close it for now.

[2017-08-08 04:22] vikasrohit commented on #1042
The common example is any server error, e.g. if API is down or there is any runtime error at API for the current input.

[2017-08-08 05:19] vic-topcoder commented on #889
The style seems ok, but there are still problems with the sticky state of the side bar!

![screen shot 5](https://user-images.githubusercontent.com/8484061/29057333-7944a916-7bbe-11e7-9a50-7201bec47ed4.png)
![screen shot 6](https://user-images.githubusercontent.com/8484061/29057334-7954314c-7bbe-11e7-80d5-c1b0c6ed281c.png)

[2017-08-08 05:22] vic-topcoder commented on #889
@vikasrohit - Can we fix the sticky at some point? The position isn't right and once the side bar is updated through the main form, the element isn't sticky anymore.

[2017-08-08 10:55] vikasrohit commented on #889
@gondzo Can we have it addressed with community?

[2017-08-08 10:57] gondzo commented on #889
yes, we'll probably have a round of fixes for the messaging updates so we can handle this one as well.

[2017-08-08 11:01] vikasrohit commented on #963
@fnisen @mtwomey One possible workaround is to wait until we get at least one topic for a newly created project and if we are not able to do so in a certain time (may be 5 seconds), we can show some message to user which can ask them to refresh the page in some time to check the latest happening on their project.

[2017-08-08 11:03] vikasrohit commented on #889
cool, you can label it for your reference.

[2017-08-08 15:47] fnisen commented on #889
@gondzo assigning to you for follow up

[2017-08-08 15:58] fnisen commented on #963
Discussed briefly with Matt today. He's been thinking about it and will take a look when he has a chance.

[2017-08-08 16:04] fnisen commented on #1042
Hmm... what happens on the other forms, such as Registration, when there is a server error? Does the message show up in a different place (i.e., not next to the form field)?

[2017-08-08 16:58] fnisen opened #1102 "Process/add ref code from deep link"
Can you please add functionality for automatically adding the ref code from the deep link? For example, https://connect.topcoder.com/new-project/wireframes?refcode=Wipro would open a Wireframes project with "Wipro" as the ref code already filled in?

[2017-08-09 10:43] vikasrohit opened #1104 ""Create a new project" action should consider the product from the URL"
### Expected behavior
It should directly load the project details page for the specified product in URL.

### Actual behavior
It loads Product selection screen instead.

### Steps to reproduce the problem
- Open http://connect.topcoder-dev.com/new-project/wireframes.
- Enter few details e.g. name, ref code. Filling one should be enough.
- Now refresh the page.
- Click on "Create a new project" pro

[2017-08-09 10:44] vikasrohit commented on #1104
@fnisen should we load the wireframes details page or update the URL instead to not have 'wireframes'?

[2017-08-09 10:51] vikasrohit commented on #1102
Done. Changes are in dev. Please let me know if any further changes required for the same.

[2017-08-09 10:52] vikasrohit commented on #1037
While working for #1102, found that it can be fixed as well. 😬
Changes are in dev. Please let me know if any further changes required for the same.

[2017-08-09 10:57] vikasrohit opened #1105 "Sticky side bar leaves stickiness"
Continued discussion from https://github.com/appirio-tech/connect-app/issues/889#issuecomment-320852803
The position isn't right and once the side bar is updated through the main form, the element isn't sticky anymore.

![screen shot 5](https://user-images.githubusercontent.com/8484061/29057333-7944a916-7bbe-11e7-9a50-7201bec47ed4.png)
![screen shot 6](https://user-images.githubusercontent.com/848

[2017-08-09 10:58] vikasrohit commented on #889
Created separate issue #1105 for better tracking. This issue was only for styling of the component and it seems that is already fixed.

[2017-08-09 10:58] #889 closed

[2017-08-09 19:07] fnisen commented on #1102
@vikasrohit looks good. By the way, if you don't think that URL structure is appropriate, please feel free to change. I just made something up quickly.

Also, can you limit the ref code to 7 characters? I know we allow more on the back-end, but that's been the front-end limit. If someone enters a longer one, we can just cut it off.

[2017-08-09 19:10] fnisen commented on #1037
@vikasrohit it's working, but why not copy other fields as well, such as Goals and Users, if they overlap?

[2017-08-09 19:19] fnisen commented on #1104
@vikasrohit in this scenario, if they have the URL as http://connect.topcoder-dev.com/new-project/wireframes and they reload, I think we have to take them back to that page, not to the "You started a project with us recently" page. I think we just reload that page with their existing info, in case they reload accidentally, so nothing is lost.

This issue is related to what we were discussing here:

[2017-08-09 19:25] fnisen commented on #1102
One more thing, after you fix this, can you please deploy it to prod (along with any other fixes we'll have). It's urgent for Tony for his Topgear work.

[2017-08-09 21:32] fnisen opened #1106 "Add IBM chatbot as a project type"
Can you please add "IBM chatbot" as a project, but make it accessible only as a deep link for now (/ibmchatbot), rather than adding it to the project catalog.

Here is the spec: https://docs.google.com/a/appirio.com/document/d/1Qp-vljS7vvt3jldsj_4ZVyYZP6NGBp1s5TFinB1zCSg/edit?usp=sharing.

Please put in dev and we'll iterate from there with the chatbot team (Patrick, Clinton, Mess, etc.). Thank yo

[2017-08-09 21:37] fnisen opened #1107 "Spec form fields are not expandable plus styling issue"
As a Manager, if I go to view a project of which I'm not a member, I cannot expand the spec form fields. For example, below, I can't grab the corner of the Description field and drag it down.

It is also an incorrect grey color, which Didi has fixed here: https://github.com/appirio-tech/tc-ui/commit/1e4dcb6e9e04896da15d40a690871bc0e761adb5. Can you please deploy that?

<img width="1280" alt="scree

[2017-08-09 22:01] fnisen commented on #1096
Looks good, thank you.

[2017-08-09 22:01] #1096 closed

[2017-08-09 22:02] fnisen commented on #1042
@vikasrohit ☝️

[2017-08-10 02:46] vikasrohit commented on #1037
For copying other fields, I have to make sure that field exists in both templates. Its possible, let me try today and if it does not work or create any issue, we can handle it later as enhancement to currently implemented one.

[2017-08-10 03:41] vikasrohit commented on #1104
@fnisen I guess we can not differentiate between user explicitly(or accidentally) reloading the page and reopening the tab/browser with this URL. So, IMO, I am afraid if we can avoid the "You started a project with us recently" page in such cases. If we do, it would not be loaded even when user is coming back to new project (may be by clicking the same marketing deep link after closing the tab/bro

[2017-08-10 03:46] vikasrohit commented on #1035
@fnisen Tried to resolve this. Please check the solution in dev and if it works for you. Currently I have added adhoc, due to technical restrictions, solution for updating the URLs on wizard step changes, however, ideally I would like it to be done at component (Wizard or ProjectWizard) level.

[2017-08-10 04:01] vikasrohit commented on #1102
Done. However, I think @fnisen we should give kind of warn message (just below the project name and ref code components) to the user) to alert them it has been truncated. I could have included that change, however, we don't have style guide for warning messages, I guess. Please correct me if I am wrong.

[2017-08-10 05:38] vikasrohit commented on #1106
@fnisen I don't think we have ability to create dynamic and linked questions right now. By dynamic/linked I mean that selecting some value in one question show/hides another. Can we convert such questions to simple required textbox field? That way we can have it compulsory to answer and if they have some values for selecting a particular value in first question, they answer it in it. e.g. instead

[2017-08-10 06:07] vikasrohit commented on #1107
@fnisen I am able to expand the textarea even if it is disabled. Is it specific to any particular browser or OS?

[2017-08-10 11:43] vikasrohit opened #1110 "Unsaved content warning not appearing for logged in 'New Project' flow"
When user open the New project modal by using the 'New project' button from the topbar after logging in and closes the modal or refreshes the page after reaching the project details page, it does not show the Unsaved content warning which we show when the same flow is done using /new-project URL.

fyi, @fnisen

[2017-08-10 11:52] vikasrohit commented on #1106
Deployed changes with non finished changes. As I described, it needs fix for the dynamic questions.  Right now I have shown only yes/no options for them.

[2017-08-10 13:38] fnisen commented on #1107
@vikasrohit are you trying it on a project of which you aren't a member? It works if you're part of the project and on some sections, such as Notes, but not otherwise. I'm on Mac OS 10.12/Chrome 59.

[2017-08-10 13:57] fnisen commented on #1035
@vikasrohit nope, not working for me in dev.

[2017-08-10 13:59] fnisen commented on #1107
Also, can you please deploy Didi's style change, as mentioned above?

[2017-08-10 15:14] vic-topcoder commented on #1102
the best approach for limited inputs is to display the limiter:

![screen shot 5](https://user-images.githubusercontent.com/8484061/29177589-ebb0dd8a-7da3-11e7-82ab-28ee2051fe48.png)

[2017-08-10 15:36] fnisen commented on #1102
@vic-topcoder the entry would happen in the URL, so the rate limiter is not that applicable. Let's discuss by phone.

[2017-08-10 15:44] vikasrohit commented on #1107
Yes, I tried on a project where I am not member. I am mostly certain about that because it was showing that dark grey background.

[2017-08-10 15:47] vikasrohit commented on #1107
I have asked Didi about those changes. It seems to me like we need more modification for disabled text boxes.
However, in any case it should be visible as soon as we deploy build for connect. So, it should be there right away as well.

[2017-08-10 17:28] vikasrohit commented on #1035
I guess it was the build cache issue. Please check now.

[2017-08-10 18:46] fnisen commented on #1035
Yes, it's working now. One issue I'm seeing: the URLs don't change when you're logged into Connect. Would you want to implement that, as well, so the experience is consistent?

[2017-08-10 18:48] fnisen commented on #1107
OK, waiting for Matt to fix the Manager permissions issue before I can test.

[2017-08-10 18:51] fnisen commented on #1102
@vikasrohit discussed this with Vic.

- The truncation warning shouldn't be an issue b/c the URL would only be created/passed by our team and likely followed from some button or link on a marketing page; regular customers should not be creating/editing the URL
- However, if we do get someone coming to Connect with a prefilled ref code, let's turn off the ref code field on the project creation scre

[2017-08-10 19:11] fnisen commented on #1106
@vikasrohit I've changed the questions to not be dynamic, as you said: https://docs.google.com/a/appirio.com/document/d/1Qp-vljS7vvt3jldsj_4ZVyYZP6NGBp1s5TFinB1zCSg/edit?usp=sharing, along with some copy updates.

Also, please remove the chatbot project from the project creation menu. We don't have a contract signed with IBM right now, and I don't want it to accidentally become public if we deploy

[2017-08-11 03:07] vikasrohit commented on #1035
Yes, it is not implement for logged in use case. However, it does not work when one clicks on 'New Project' button which is rendering it as modal, if someone somehow is using /new-project link to create project in logged in mode, it would work. But I don't think that any logged in user would create project using /new-project link.

[2017-08-11 03:47] vikasrohit opened #1111 "analytics error on connect"
Following error is appearing since last few releases for connect. May be it is breaking the analytics for the application.

<img width="1280" alt="screen shot 2017-08-11 at 9 15 53 am" src="https://user-images.githubusercontent.com/2417632/29200792-dd7feb8e-7e75-11e7-8d84-78bad2a1b18e.png">

fyi @fnisen @mtwomey

[2017-08-11 03:54] vikasrohit commented on #1107
@fnisen I am actually confused because the original screenshot shows that fields are indeed expandable. And Didi's changes in fact disabling the expandability of disabled text areas. Further, though, we may not be rendering text boxes (HTML input[type=text])we need to apply the same changes to text boxes as well, I think right they are only being applied to text areas (HTML textarea).

[2017-08-11 04:05] fnisen commented on #1107
@vikasrohit the text boxes do show that they're expendable (with the corner indicator), but they don't work when you actually try to expand. I don't know why Didi would have changed them to not be expandable. You can chat with her on Slack if she's online later or feel free to fix things directly, if you know what to do.

In the end, we need two things: text boxes that are readable and expandable.

[2017-08-11 04:06] fnisen commented on #1111
Any idea what is throwing this error? I don't recognize that library.

[2017-08-11 04:07] fnisen commented on #1110
Can you please give more detail on this one?

[2017-08-11 04:08] fnisen commented on #1035
Yeah, don't think they would do that. Can you implement it to work in the logged-in use case, also?

[2017-08-11 04:38] vikasrohit commented on #1106
Done copy changes as well as hidden the Chatbot option from the `Select you project type` page.

[2017-08-11 05:15] vikasrohit commented on #1107
@fnisen I have tried to make disabled textboxes readable with personal likes. Please let me know if we still want to tweak it. For resizable thing, I can resize the textboxes on both Safari and Chrome after removing the Didi's changes. Please see https://screencast.com/t/roCgczujV

[2017-08-11 05:19] vikasrohit commented on #1042
Yes, @fnisen. Even on registration page, if there is a server error it would be rendered at common place which just above the first form field.

[2017-08-11 05:29] vikasrohit commented on #1035
I think I can do that, however, the point is that it is a modal and changing URL in modal does not make much sense. Further, when user closes the modal, using the close button or ESC button, it would keep the URL in the last wizard state. Though, I can workaround that as well by handling the close event callback, does it really make sense to update URLs in a modal?

The above text is just for a he

[2017-08-11 05:35] vikasrohit commented on #1102
Okay. I can put adhoc check for disabling the refcode when it loaded from query string. However, I think it may not be needed because user can not update the refcode to have invalid value. It has to be below 7 characters while entering in the text box. Only case where it makes sense is that if we don't want user to alter the refcode in case it is coming from URL, which I think is the use case you

[2017-08-11 12:48] vikasrohit commented on #1102
Done. Please check in dev now.

[2017-08-14 07:45] vikasrohit commented on #1022
@vic-topcoder @fnisen  bump up

[2017-08-14 07:50] vikasrohit commented on #951
I think we can close this one @fnisen as we are now showing the message on Login page if somehow the application is not able to automatically login the user after password reset. The message is not shown as toaster though, it is a generic green box above the form. I think we are already tracking the toaster thing somewhere in github, if not we can create issue for that.

[2017-08-14 12:10] vikasrohit opened #1114 "Save incomplete project even if there is no change in form"
As of now, it saves the incomplete project only when there is a change in project details form. This is not creating any significant problem right now, however, when combined with #1037 it can cause problems. e.g. if user changes to a product template which does not contain goal or users field, changes  for #1037 would not copy them from previous product information. However, the local storage sti

[2017-08-14 12:11] vikasrohit commented on #1037
Done. Copied goal and users fields as well. I am validating that if these fields exists in the template of the updated project/product type. I have put this validation to ensure that we don't get spurious fields when we have a template which does not have these fields.

[2017-08-14 12:24] vikasrohit commented on #1003
@fnisen @vic-topcoder are we good on this? I think we need black and white logo while it is color one which in place right now.

[2017-08-14 13:00] fnisen commented on #1003
@vikasrohit no, I don't see any fixes in dev still.

[2017-08-14 13:11] fnisen commented on #1037
@vikasrohit copying is working. I'm seeing two issues though:
- I now get the browser warning about unsaved changes when I want to change project type; we don't need this if the form is not being erased (e.g., user can still click back and see what they've entered)
- Notes section is not being copied

[2017-08-14 13:18] vikasrohit commented on #1037
1. They are still loosing the changes @fnisen. what about the fields that are not common? e.g. Number of screens in AVD product.
2. Notes is not copied yet. I can add that to the list.

[2017-08-14 13:18] fnisen commented on #951
Agree. Couldn't find an existing issue for the toaster, so created one here: https://github.com/appirio-tech/accounts-app/issues/155

[2017-08-14 13:18] #951 closed

[2017-08-14 13:22] vikasrohit commented on #1003
Fixes are there. But they are not doing what we need. It is in fact hiding the Welcome Back! header. I have to fix the styles. @vic-topcoder Can you please share the latest design for this page?

[2017-08-14 13:27] fnisen commented on #1037
1. Fair point. It feels like we get the user into an error state, even though this is the expected experience. Seems like we need an app message, not a browser warning. Let me talk to Vic about this one
2. Thanks, please add

[2017-08-14 13:43] fnisen commented on #1003
@vikasrohit logo and designs are here: https://drive.google.com/drive/u/0/folders/0B1LbmKnex41feUhoanRsdG10Qkk, although I don't see the specific design for that page. Please comment back if you need it.

[2017-08-14 13:50] fnisen commented on #1102
@vikasrohit something broke. Not seeing the refcode param work at all right now. The correct template loads, but refcode field is there and empty (and can be filled out).

[2017-08-14 13:54] fnisen commented on #1035
OK, let me discuss with Vic about how to approach this.

[2017-08-14 13:57] fnisen commented on #1042
@vikasrohit OK, I see. Then please follow your recommendation and style the common error similar to what we show against each field.

[2017-08-14 14:00] vikasrohit commented on #1003
<img width="898" alt="screen shot 2017-08-14 at 7 24 00 pm" src="https://user-images.githubusercontent.com/2417632/29274733-6b272efe-8126-11e7-8291-28ae4475b285.png">

This is what I have right now in my dev. Let me know if that does not looks as per design. Please note I have used my own designing skills 😬 , so please feel free to suggest changes or let me know the design specs.

[2017-08-14 14:04] vikasrohit commented on #1102
@fnisen  Just checked http://connect.topcoder-dev.com/new-project/visual_design_prod?refCode=wipro and it seems to be working for me.

[2017-08-14 14:07] fnisen commented on #1003
@vikasrohit OK will bug Vic. It looks fine, but a few small things are off. Thanks for trying.

[2017-08-14 14:15] fnisen commented on #1102
@vikasrohit my bad. I forgot about the camelCase. OK, it is indeed working. However, can you turn off the ref code field entirely? As you said, otherwise we have a usability issue with it being visible, but not editable. I think in the case of it being passed as a param, the user doesn't need to know about the code, similar to a utm code.

[2017-08-14 14:20] vikasrohit commented on #1102
Yes, I can remove it as well. I guess, it is acceptable to hide, though just from my thinking, how would user know that it is using correct one? I mean if accidentally user modified the ref code in the URL, it would use that wrong code.

[2017-08-14 14:25] fnisen commented on #1102
Well, this is what we're trying to address: keep the user from modifying the code by not exposing it. Of course the user could modify the URL, but that's unlikely. Most users are not paying much attention to the details of the URL and, unless they're pretty technical, wouldn't know that the code was being passed and so wouldn't think to modify it.

The code is supposed to be controlled by our team

[2017-08-14 14:30] vikasrohit commented on #1102
So should we remove the ref code from being displayed in project edit?

[2017-08-14 14:51] fnisen commented on #1102
If the user came to us from a deep link with a ref code param, we probably created the link for the user and don't want them editing it. If they didn't come from a deep link, they should be able to enter it and edit it.

Could we make it visible/editable in cases where they entered it and not visible/editable in deep-link param cases? Or does this introduce a new state you have to track?

The othe

[2017-08-14 21:33] sirakovaDimitrina commented on #1092
@vikasrohit Can you take care of the logo.

[2017-08-15 10:27] vikasrohit commented on #960
@fnisen @vic-topcoder Please find screenshots below with green boxes at the top for showing the messages instead of using page headlines.

<img width="1023" alt="screen shot 2017-08-15 at 3 55 48 pm" src="https://user-images.githubusercontent.com/2417632/29312333-7813c21a-81d2-11e7-80f3-ac377f1683f9.png">
<img width="1035" alt="screen shot 2017-08-15 at 3 56 47 pm" src="https://user-images.githubu

[2017-08-15 10:51] vikasrohit commented on #1107
@fnisen Did you get chance to look into it?

[2017-08-16 04:04] fnisen commented on #1107
@vikasrohit I checked with Vic and the grey is not quite correct, but it's good enough for now. I think Didi might check in with you, but in case she doesn't, I'm comfortable pushing this out as it is and updating later.

[2017-08-16 04:06] fnisen commented on #960
@vikasrohit this is looking good to me! Vic is out for a few days, so let's go with this and tweak later if needed. One note: "log in" is two words when it's used as a verb (on the first screenshot).

[2017-08-16 04:07] fnisen commented on #1092
@sirakovaDimitrina please don't close; I close the issues when I test.

[2017-08-16 07:42] vikasrohit commented on #960
Okay. Done. I have merged changes into dev branch, but haven't deployed yet to production. Please let me know if we need to deploy it. I think this is the only change we have right now for production.

[2017-08-16 07:44] vikasrohit commented on #1107
Okay. I think there was some confusion for the requirements here. Didi's changes removed background color completely from disabled text boxes which made them more difficult to identify and expand. Therefore, I added a lighter gray background to the disabled boxes. @sirakovaDimitrina  @vic-topcoder Please feel free to make changes as required.

[2017-08-16 10:25] vikasrohit commented on #1042
Changes should be in dev now.

[2017-08-16 10:27] vikasrohit commented on #1030
@fnisen @gondzo  I think we can close this. These buttons are intentionally made different than standard buttons.

[2017-08-16 10:29] vikasrohit commented on #1037
Done. Changes are in dev.

[2017-08-16 11:20] vikasrohit commented on #1033
@fnisen Updated the copy. changes should be in dev now.

[2017-08-16 12:21] vikasrohit commented on #980
@fnisen I have handled the 'Failed to fetch' error as well to show the generic error message. In fact I have tried to to capture all errors which are not checked errors (i.e. errors that are not explicitly set by our backend APIs) to show that generic error. Let me know if you still see any specific runtime error.

[2017-08-17 09:21] vikasrohit opened #1125 "Do not show section number when there is only one section"
If the product template has only one section, no need to render section number in left side panel.

<img width="351" alt="screen shot 2017-08-17 at 2 50 24 pm" src="https://user-images.githubusercontent.com/2417632/29405417-7773e5ee-835b-11e7-8f92-5da436ef4520.png">

[2017-08-17 09:31] vikasrohit commented on #1125
Fixed.

<img width="353" alt="screen shot 2017-08-17 at 3 00 58 pm" src="https://user-images.githubusercontent.com/2417632/29405903-fc165768-835c-11e7-96b8-13dfd0b9c1c4.png">

fyi @fnisen

[2017-08-17 09:47] vikasrohit commented on #1111
@fnisen I tried to debug it today and found that it is something related to drift integration of segment. Did we do something related to drift in segment? I am not able to find any instance of drift in code, though.

[2017-08-17 10:39] vikasrohit opened #1127 "Checkbox group type questions not removing unselected items"
While creating a new project, unselecting a checkbox from a checkbox group does not work as expected. It should remove the unchecked item, however, it is still persisting it.

Steps:
1. Go to http://connect.topcoder-dev.com/new-project/watson_chatbot
2. Select all values in 'Capabilities' question
3. Refresh the page, choose to 'Continue where I left off'  and notice that all values are still ther

[2017-08-18 11:15] vikasrohit commented on #1127
Fixed. Deployed to dev.

[2017-08-18 11:17] vikasrohit commented on #1125
Fixed. Changes are in dev.

[2017-08-21 18:19] fnisen commented on #1125
Working, thank you.

[2017-08-21 18:19] #1125 closed

[2017-08-21 18:24] fnisen opened #1131 "Chatbot: spec page not showing validation errors"
### Steps to reproduce the problem
- Create a chatbot project while logged out
- When prompted, log in
- Got to spec and delete information from text sections (e.g., Description or other questions); notice that validation is triggered, but no error message is shown
- Other project types don't trigger validations like this. Did you mean to add something new for the Chatbot project?
- Related issue:

[2017-08-21 18:26] fnisen opened #1132 "Chatbot: spec page file upload is not showing files after upload"
### Steps to reproduce the problem
- Create chatbot project while logged out
- When prompted, log in
- Upload files, either directly or using Filestack dialog
- Notice checkmark in Files section (in Specifications component in upper left); however, files are not shown in Upload section
- Reload page; files are now visible in Upload section

[2017-08-21 18:34] fnisen opened #1133 "Chatbot: "Save changes" button is enabled, but not working when validation is triggered"
### Steps to reproduce the problem
- Go to created Chatbot project and edit spec to delete info in some text sections
- Notice validation is triggered
- Try "Saved changes" button; it does not work, but is enabled

In other project types, we keep the Save Changes button enabled and allow it to work (without validation being triggered) when text sections have been cleared

![screen shot 2017-08-21

[2017-08-21 18:36] fnisen opened #1134 "Update copyright year on spec footer"
Can you please make the year dynamic?

![screen shot 2017-08-21 at 11 18 48 am](https://user-images.githubusercontent.com/12552247/29533051-e3fe2ba0-8664-11e7-9cdc-0ea37061d4b5.png)

[2017-08-21 18:39] fnisen commented on #1127
Working correctly.

[2017-08-21 18:39] #1127 closed

[2017-08-21 19:00] fnisen opened #1135 "Chatbot: copy changes on spec"
1. Remove "(Change to text box)"

2. Add period at the end of the "Are you planning question"

![2017-08-21_1114](https://user-images.githubusercontent.com/12552247/29533741-23679b66-8668-11e7-9e2d-affa9e9d582c.png)

[2017-08-22 00:53] fnisen commented on #1111
@vikasrohit Drift is installed on our marketing pages (on WordPress), but not in Connect itself. You can see an example here: https://www.topcoder.com/about-topcoder/connect/ (it's the chat widget in the lower right-hand corner). Joey said that Sumit's team helped with the installation. Can you please check with Sumit regarding what was done?

We don't have a dedicated support person, but you can

[2017-08-22 05:48] vikasrohit commented on #1134
Done. Should be in dev by EOD.

[2017-08-22 05:48] vikasrohit commented on #1135
Done. Should be in dev by EOD.

[2017-08-22 05:57] vikasrohit commented on #1131
@fnisen Yes, this and #1133 are happening because of the same reason. In other product templates we don't make these text fields required when editing the project. They might be required when creating project, but not when editing. So, they don't trigger any validation error when you edit them. However, with chatbot template, I we added the `required:true` even for edit templates as well.
So, poss

[2017-08-22 07:02] vikasrohit commented on #1133
@fnisen As I mentioned in #1131, there two possible fixes for this. I am assuming the first one which is

to be consistent with other product templates. I have also fixed the generic bug which was there and causing the enabled button even with validation errors. So, we should be good now.

[2017-08-22 07:05] vikasrohit commented on #1131
@fnisen Fixed #1133 assuming first option to be consistent. Please let me know the validation errors which we should show for project creation form though.

[2017-08-22 07:41] vikasrohit commented on #1132
@fnisen Tried to reproduce the error, but unable to do so. I have tried both ways, I mean first by uploading files for existing project and second by creating a project in logged out flow and then going to Specification tab to upload files. It worked both times. I think, it must be taking some time to render the uploaded file and as we are not showing and progress icon, it might confuse user that

[2017-08-22 07:46] vikasrohit commented on #1111
@fnisen I talked with the team here, they are just supporting the Drift operations, they didn't integrated this though. May be its about the script which we use in our pages. We might need to update it in Connect to be in sync with its server side. I would try that.

[2017-08-22 09:26] vikasrohit commented on #1001
@fnisen I think we can close it as we are already dealing with logo issues in #1003

[2017-08-22 16:57] fnisen commented on #1001
Fair point, closing.

[2017-08-22 16:57] #1001 closed

[2017-08-22 16:58] fnisen commented on #1003
@vikasrohit for this one, I'm not seeing your changes in Dev. Can you push them please? This is how the page looks currently:

![screen shot 2017-08-22 at 9 58 17 am](https://user-images.githubusercontent.com/12552247/29577484-750e0546-8720-11e7-8c99-7b1ee27834b8.png)

[2017-08-22 17:59] fnisen commented on #1132
@vikasrohit thanks for trying. I'm not able to reproduce myself either now, so maybe it was an API blip. Closing.

[2017-08-22 17:59] #1132 closed

[2017-08-22 18:06] fnisen commented on #1131
@vikasrohit thanks--I agree with the approach. For the copy, I noticed you were using this on other forms:

![screen shot 2017-08-22 at 11 03 30 am](https://user-images.githubusercontent.com/12552247/29580066-8e9f71a8-8729-11e7-9ca9-633122bedcd9.png)

I like how specific the copy is (one note: let's say "please provide a description"), but I'm thinking that this won't be scalable as we keep adding

[2017-08-22 18:11] fnisen commented on #1133
@vikasrohit it's working, but confirmation is saying "Project submitted," rather than "Project saved."

![screen shot 2017-08-22 at 11 09 21 am](https://user-images.githubusercontent.com/12552247/29580352-9c3cb0c2-872a-11e7-8a30-27e3717242da.png)

[2017-08-22 18:30] fnisen commented on #1135
Perfect, thanks.

[2017-08-22 18:30] #1135 closed

[2017-08-22 18:33] fnisen commented on #1134
@vikasrohit working fine. I'm sorry for the double work, but to make it consistent with the Login/Reg pages, can you please use this format:

![screen shot 2017-08-22 at 11 33 04 am](https://user-images.githubusercontent.com/12552247/29581302-aefdaa1a-872d-11e7-8f0a-73564828d51b.png)

Thank you!

[2017-08-22 19:01] fnisen commented on #980
@vikasrohit this is working well, thanks. However, the styling of the text looks a little off to me. It seems to be too compressed (the two lines are too close together). I can't find an example of Vic's design of a two-line error, but can you please check if this matches our normal paragraph spacing?

![screen shot 2017-08-22 at 11 59 10 am](https://user-images.githubusercontent.com/12552247/2958

[2017-08-22 23:17] vic-topcoder commented on #1098
We can close this now...

[2017-08-22 23:17] #1098 closed

[2017-08-22 23:29] vic-topcoder commented on #1107
I'm thinking through this and the obvious solution is to use the enabled form styles on the specification as it is really important to be able to read through the page easily. The only change we should do is to remove the "save changes" button at the bottom if you are a manager that can't edit the spec, instead of disabling the field and visually turning it dark gray. The goal of the page in terms

[2017-08-23 00:45] fnisen commented on #1111
OK, sounds good. Will you give that a try? I checked with Joey again and he said quesks (James Marquez) was likely the copilot who did the work. You can also try checking with him (he's part of our Slack). I think he did Segment integration for the marketing pages originally.

[2017-08-23 05:16] vikasrohit commented on #1134
Okay. Done. But we do have another variant of footer component which has full version of copyright.
<img width="302" alt="screen shot 2017-08-23 at 10 45 13 am" src="https://user-images.githubusercontent.com/2417632/29599880-392c1538-87f0-11e7-88a1-b18b1cbd4e53.png">

[2017-08-23 05:20] vikasrohit commented on #1003
I don't remember adding two different versions of the page. Only thing that was different for logged in and logged out users, was the presence of close button when logged in. I am not sure when this change went through. My style changes are still not merged into dev yet.

[2017-08-23 05:49] vikasrohit commented on #1003
@fnisen I have synced both logged in and logged out views. Only differences are the presence of close button and missing white(actually it is very light gray) background in logged in view. The reason of missing background in logged in view is the modal overlay which using the same color as of that box which has that light gray background logged out view. So, it is not differentiable in logged in v

[2017-08-23 06:17] vikasrohit commented on #1003
Changes should be in dev now.

[2017-08-23 06:48] vikasrohit commented on #980
@fnisen We are not explicitly setting or reducing the line spacing for error block. And when we are comparing it with the line spacing in spec question, they are different HTML elements and have different spacings. Spec question is rendered using h5 while error block is rendered using normal div. They are different in terms of typography as well. So, it makes sense to have different spacing in the

[2017-08-23 07:17] vikasrohit commented on #1133
Fixed. I guess now we would never have 'Project Submitted' message as it is already submitted when created the project and when we create a project we show different toaster which says `Project {project_name} created`.

[2017-08-23 07:30] vikasrohit commented on #1131
@fnisen Developer inside me says use a generic copy so that we don't need to update it for every new question or new template. However, I guess for users it would better to have specific copy. We have the feature in product template rendering that allows you to specify custom validation error for every required question without altering the core code. e.g. https://github.com/appirio-tech/connect-a

[2017-08-23 19:11] fnisen commented on #1131
@vikasrohit OK, I see. Let's go with the simpler approach. I think the main thing for the user is to draw their attention. We already tell them what to do as part of the question, so we don't need to repeat. "Please complete this section" would be sufficient. Plus, I want to be sensitive to making the code less manageable.

[2017-08-23 19:17] fnisen commented on #1133
@vikasrohit it's working. One issue I'm noticing though:

- Clearing info from the "Description" field throws a validation error; this doesn't occur when clearing other text fields.

[2017-08-23 19:25] fnisen commented on #980
@vikasrohit that looks better, thank you.

[2017-08-23 19:25] #980 closed

[2017-08-23 21:32] vic-topcoder opened #1140 "Code highlight style fixes"
@gondzo please update the style for the code block to match the rendering:
![screen shot](https://user-images.githubusercontent.com/8484061/29639403-7dbed806-880f-11e7-9c4d-a7aca9323bd8.png)

I used:
![screen shot 1](https://user-images.githubusercontent.com/8484061/29639406-8263fe5e-880f-11e7-8d80-9f12470f9cc8.png)

We need to add Roboto Mono regular font, and provide support for Mac and Windows

[2017-08-24 00:24] fnisen commented on #1102
@vikasrohit I'm still seeing the ref code on the spec form when I use a deep link. For example: https://connect.topcoder-dev.com/new-project/wireframes?refCode=Wipro.

![screen shot 2017-08-23 at 5 23 36 pm](https://user-images.githubusercontent.com/12552247/29644012-db7f97d8-8827-11e7-934c-6f6dae120ced.png)

[2017-08-24 00:30] fnisen commented on #1033
Working well. Closing.

[2017-08-24 00:30] #1033 closed

[2017-08-24 00:34] fnisen commented on #1042
@vikasrohit styling is correct now, thanks. Can you please make one more update? Can you please use our generic copy for all the catch-all messages, similar as you did for Registration? Right now I'm seeing "Failed to fetch."

![screen shot 2017-08-23 at 5 32 57 pm](https://user-images.githubusercontent.com/12552247/29644218-40b5f2ae-8829-11e7-9984-60848044dca1.png)

[2017-08-24 00:39] vic-topcoder commented on #1037
On competitors when you change project type you lose all data but project name (Crew). I still think we should have a 100% compatible (required) information when creating project, and secondary (context-specific). When we move towards a unified project structure these wouldn't have to change at all. For the time being persisting name and description would suffice. We should have description for ch

[2017-08-24 01:12] vic-topcoder commented on #960
Let's style it a little bit - it is too ugly right now.

![screen shot 2](https://user-images.githubusercontent.com/8484061/29644857-95f2a712-882e-11e7-9767-c9ca3a0b5047.png)
![screen shot](https://user-images.githubusercontent.com/8484061/29644858-99e1dadc-882e-11e7-961e-c5fedd06929f.png)

[2017-08-24 01:13] fnisen commented on #1037
@vikasrohit the information copying is working well. Can you please turn off the unsaved information warnings though? I get one when I first click "Change project type" and then again when I click on a different project type from the project menu. Discussed this UX with Vic.

[2017-08-24 05:12] vikasrohit commented on #1102
I guess we discussed that it is okay to have it there in non editable form because user would see it(in non editable mode) anyway when they would go to edit the project.

[2017-08-24 05:32] vikasrohit commented on #1133
Description is still required in edit mode as well. Do you want it to be optional when editing?

[2017-08-24 06:21] vikasrohit opened #1141 "required validation on checkbox-group is causing errors in loading application"
<img width="387" alt="screen shot 2017-08-24 at 11 50 35 am" src="https://user-images.githubusercontent.com/2417632/29652310-83900314-88c2-11e7-8fc4-309f0e369e61.png">

fyi @fnisen

[2017-08-24 06:22] vikasrohit commented on #1141
Fixed

[2017-08-24 06:22] #1141 closed

[2017-08-24 06:30] vikasrohit commented on #1131
Okay. Done.

[2017-08-24 07:18] vikasrohit commented on #1042
@fnisen Updated the common error message for forgot password, reset password and pin verification page as well. However, I haven't update the login page though because it would require some more changes to render the common error and I don't want to take a risk to breaking things as of now.

[2017-08-24 07:36] vikasrohit commented on #960
Okay. Done.

[2017-08-24 07:53] vikasrohit commented on #1037
@fnisen I tried today to get rid of that unsaved content warning, however, it seems bit tricky here because actually there is a content that has changed when user has entered the information for the first time. One solution is to not make project state dirty in such cases, but we don't know if user is going to click on 'Change project type' next. So, we have to make project state dirty whenever us

[2017-08-24 09:20] vikasrohit commented on #1038
Should we move it back to TODO or are we good with this?

[2017-08-24 09:23] vikasrohit commented on #1111
@fnisen I tried the latest script block from segment, however, it still didn't work. I have raised an support issue(no link or email generated for the raised issue) with segment and their github(https://github.com/segmentio/analytics.js/issues/553) repo as well. But I am still to hear from them.

[2017-08-24 19:13] fnisen commented on #1111
Thank you very much @vikasrohit.

[2017-08-24 19:15] fnisen commented on #1038
@vikasrohit still not done, so I'll shift to To-Do

[2017-08-24 19:22] fnisen commented on #1037
@vikasrohit--I agree with your last point. I don't think we need the unsaved content warning b/c the content is indeed being saved. We may technically lose some elements that are not universal (such as device type), but I don't think a user would have expectations that they would be saved. I think we can get rid of the warnings for both the case of changing project type and closing the browser tab

[2017-08-24 19:25] fnisen commented on #960
@vikasrohit not seeing it in Dev. Still get the full bar, like so:

![screen shot 2017-08-24 at 12 25 08 pm](https://user-images.githubusercontent.com/12552247/29684565-4dd4de7a-88c7-11e7-88b0-bd914f224e77.png)

[2017-08-24 19:33] fnisen commented on #1042
Well done, thanks! One copy tweak: "We weren't able to send **a** reset link..."

[2017-08-24 19:38] fnisen commented on #1131
@vikasrohit something is wrong with the capabilities section. It gets stuck in a validation error when I create project while logged out:

![screen shot 2017-08-24 at 12 35 18 pm](https://user-images.githubusercontent.com/12552247/29684984-cd553824-88c8-11e7-8305-69d6479dc8db.png)

Also, while you're at it, can you please delete this question entirely (Pat didn't think it was relevant from the bus

[2017-08-24 20:41] fnisen commented on #1141
Thank you.

[2017-08-24 20:43] fnisen commented on #1133
Perfect, thanks.

[2017-08-24 20:43] #1133 closed

[2017-08-24 20:47] fnisen commented on #1102
Right, I think that's what I was asking about above: "Could we make it visible/editable in cases where they entered it and not visible/editable in deep-link param cases? Or does this introduce a new state you have to track?" I agree with you about keeping it consistent. I would still rather hide if it's not difficult. Thanks.

[2017-08-24 20:50] fnisen commented on #1003
Thank you--looks good.

[2017-08-24 20:50] #1003 closed

[2017-08-24 20:52] fnisen opened #1143 "Update logos to be monochrome (consistent with other pages)"
Using color logos on these pages:

![screen shot 2017-08-24 at 1 49 54 pm](https://user-images.githubusercontent.com/12552247/29688114-6c6ba7e0-88d3-11e7-8d28-55afdaf02db0.png)

![screen shot 2017-08-24 at 1 50 03 pm](https://user-images.githubusercontent.com/12552247/29688117-6f6a4898-88d3-11e7-802f-055807d8d38e.png)

[2017-08-24 20:55] fnisen commented on #1134
Fair point. You can change that one too to be consistent. The "(c) Topcoder 2017" should be good to use everywhere. Thank you.

[2017-08-24 20:56] fnisen commented on #1107
@vikasrohit ☝️

[2017-08-24 20:57] fnisen commented on #1030
Yes, agree.

[2017-08-24 20:57] #1030 closed

[2017-08-24 21:25] fnisen opened #1144 "User's name is missing on team panel (Project 870)"
Username: maxprize; admin tool is showing that he registered with a first and last name, but on Connect he comes up as "null null"

![screen shot 2017-08-24 at 2 22 45 pm](https://user-images.githubusercontent.com/12552247/29689378-db866e9a-88d7-11e7-83a1-c0f63de10c67.png)

fyi @talesforce

[2017-08-25 05:16] vikasrohit commented on #1102
Okay. It should not be difficult. Would do it.

[2017-08-25 05:22] vikasrohit commented on #1107
I think Didi has already implemented the changes, I can't see any grey background there.

[2017-08-25 07:17] vikasrohit commented on #960
Oh, I guess I forget to merge the branch. It would be in dev today.

[2017-08-25 07:18] vikasrohit commented on #1131
It was build issue, it was using cached dependencies.  Should be fixed now.

[2017-08-25 07:48] vikasrohit commented on #1037
Yep, Agree. We need to set right expectations of our connect managers, if they have seen the unsaved content warning in past for any project.

[2017-08-25 08:22] vikasrohit commented on #1037
Done. Changes should be in dev by EOD.

[2017-08-26 05:00] vikasrohit commented on #1042
should be done in dev now.

[2017-08-26 05:07] vikasrohit commented on #1110
@fnisen as per our discussion in https://github.com/appirio-tech/connect-app/issues/1037#issuecomment-324561554 we have removed the unsaved content warning from /new-project flow (it doesn't matter if user is logged in or logged out). Now I am wondering how we should handle it when user is logged in and wants to create project from 'New Project' button, I think we are not saving incomplete project

[2017-08-28 06:58] vikasrohit commented on #1134
Okay, Should be there in dev by EOD.

[2017-08-28 09:03] vikasrohit commented on #1143
Done. Changes should be in dev by EOD. @fnisen I have also updated few styles of wizard steps to make them consistent. Specifically, I tried to position the logo on same height so that user don't notice any change in logo position when moving between steps. However, the incomplete project confirmation page, has different styling (white background at padding of 20px), hence it requires the logo to

[2017-08-28 09:39] vikasrohit commented on #961
Fixed. Should be in dev by EOD.

[2017-08-28 09:42] vikasrohit opened #1149 "Show password button is misplaced on member side reset password page"
<img width="1280" alt="screen shot 2017-08-28 at 2 38 49 pm" src="https://user-images.githubusercontent.com/2417632/29768258-33b79a3e-8c03-11e7-801f-5963695fa8f8.png">

[2017-08-28 09:45] vikasrohit commented on #1149
Closing as it belongs to accounts app.

[2017-08-28 09:45] #1149 closed

[2017-08-28 11:44] vikasrohit commented on #1090
Hey @vic-topcoder Thanks for the suggesting the tools and potential problems. I agree that there are few things that can be improved. I have even tried installing 'why-did-you-update` and in fact after installing that plugin, it made the whole application significantly slow and that is expected upto some extent for any performance tool.

I don't think the mentioned issues or similar to them, are c

[2017-08-28 11:55] vikasrohit commented on #1144
@fnisen I tried to debug it and found that it could be handled like we are handling null values in feeds/messages i.e. showing 'Connect user' in such cases. However, the problem in this case is that the api is returning null values as string which we the code would not be able to identify because it has an non null value 'null'. One solution is to compare the strings to not to be 'null', 'undefine

[2017-08-28 16:47] vic-topcoder commented on #1090
More reading on the topic - how to avoid re-renders on components:
https://medium.freecodecamp.org/why-arrow-functions-and-bind-in-reacts-render-are-problematic-f1c08b060e36 and https://medium.freecodecamp.org/react-pattern-extract-child-components-to-avoid-binding-e3ad8310725e

I checked some of our code and there are examples when we do use super complex structure to create a component, so no ab

[2017-08-29 01:43] fnisen commented on #1144
Thanks @vikasrohit. Yes, can you please look into this more deeply? I'm seeing the user's name in the admin tool, so it exists in Informix. Maybe the issue is with the ES cluster.

[2017-08-29 01:45] vic-topcoder commented on #1022
Good catch guys. Error fields should be always reflecting the error in all states. A focused field that has an error should have red outline. Only when the validation passes we should have a normal blue (active) outline. Applies to all instances.

[2017-08-29 02:00] fnisen commented on #961
@vikasrohit as I said here https://github.com/appirio-tech/accounts-app/issues/164#issuecomment-325311877, something is going wrong with the reset links in Dev.

[2017-08-29 07:26] vikasrohit commented on #1022
Fixed. @fnisen @vic-topcoder Please let me know if you still see such issues. If they exists, can we please create a separate issue for that so that we can better track it.

[2017-08-29 09:34] vikasrohit commented on #1144
@fnisen @talesforce I looked into the ES cluster and found that it has 'null' values (as string) for the firstName and lastName fields. I have updated the record in the ES cluster to fix the issue. Please let me know if issue is still there or anything similar to this is happening for the same user.

[2017-08-29 10:04] vikasrohit commented on #1092
Logos are updated.

[2017-08-30 10:54] vikasrohit commented on #1090
@vic-topcoder Agree that we can avoid renders at many places but there are places where we can't. Further react renders are not heavy. And the major benefit of using React is that unless any thing in DOM has changed, it won't update DOM. So even if we call render multiple times, it won't update the DOM if there is no change in the DOM. Please refer https://stackoverflow.com/a/35641329/365172
Accep

[2017-08-30 16:07] fnisen commented on #1092
Beautiful!

[2017-08-30 16:07] #1092 closed

[2017-08-30 16:08] fnisen commented on #1144
@vikasrohit yup, it's working correctly now. Well done!

[2017-08-30 16:08] #1144 closed

[2017-08-30 16:17] fnisen commented on #1022
@vikasrohit it's working correctly now, but I'm seeing a weird side-effect. When I delete the text in a field and the validation error comes up, the title of the question below will flicker on and off. It doesn't seem like it should be rerendered each time like this.

[2017-08-30 16:32] fnisen commented on #1143
@vikasrohit thank you--the positioning is spot on.

However, now that the logos are there, I've noticed the one on the accounts app is not as sharp as the one on the project creation flow. Have a look:

Project creation:
<img width="90" alt="screen shot 2017-08-30 at 9 29 40 am" src="https://user-images.githubusercontent.com/12552247/29883706-f2505482-8d65-11e7-927c-cc01a5a7d7a7.png">

Accounts ap

[2017-08-30 23:28] vic-topcoder commented on #1090
As long as we know and monitor performance, and we don't create unnecessary redraws (as I mentioned before - we redraw the complete page when loading the list of projects, or apply any filters to the list, or search, and such things...), I'm good.

In reality there are several big components that need to be refactored (I guess) and that would speed up things, but we need an analysis on what are th

[2017-08-31 00:10] vic-topcoder opened #1154 "Leaving a project (manager) not working"
### Expected behavior
Log in as manager → leave a project that you joined → You left the project

### Actual behavior
Leaving a project doesn't work (after refresh or anything)

Screen recording: https://www.dropbox.com/s/hd31vgougo8vm5v/leave%20project%20bug.mov?dl=0

[2017-08-31 04:50] vikasrohit commented on #1143
It is very difficult to escape from your eyes. Its a png in accounts app. 😬 I didn't find svg at that time  so used the available one. I would fix it today. BTW, we have a lot of changes pending to push to prod for account app. Connect changes were published to production with Matt's push for fixing thread permissions issue.

[2017-08-31 05:34] vikasrohit commented on #1022
@fnisen Can you please share a video of the effect? I am seeing okay except that it moves down to accommodate the validation error.

[2017-08-31 05:41] vikasrohit commented on #1143
Done. Changes should be in dev by EOD.

[2017-08-31 06:36] vikasrohit commented on #1154
@vic-topcoder Can you please share the console logs, if possible? I am able to successfully leave a project in dev. It must be some edge case.

[2017-08-31 07:43] vikasrohit commented on #1090
Sorry, @vic-topcoder , if it seems like I am presenting counter statements, however, I am trying to present a rationale behind things why they are like the way they are and what are the problems in optimizing them. :)

**TL;DR** I full agree that we need to start doing optimizations as and when we see the opportunity. Below I am just trying to understand the exact pain point of examples you shared

[2017-08-31 14:16] vikasrohit commented on #1090
I have pushed few changes into feature/performance-tuning branch for optimizing the renders of project details form related components. It requires specific branch from react-components repo, which I am struggling now to add to shrinkwrap. Once that is done, you should be able to notice changes. Even without that specific branch of react-components, it contains more optimization changes that shoul

[2017-09-01 19:08] vic-topcoder commented on #1090
@vikasrohit - I am not saying we should fix everything that can be fixed, as there is a need for cost/benefit analysis here, as you explained above. I 100% agree we should optimize only things that make sense. What I think is the problem is our architectural approach to React and instead of breaking things into smaller components and handling them, we have a massive parent controller that pushes c

[2017-09-01 19:10] vic-topcoder commented on #1154
I checked the project a day later, and I was removed. Not sure what exactly happened. If you want to trace exactly what was the event stack, can you do that from the back-end? Right now I'm out of the project I had problems leaving. This might have something to do with the project being too big and having a lot of Discuss threads that I was authorized to view after joining the project. Not sure ho

[2017-09-02 02:32] vikasrohit commented on #1154
Ohk. It might be issue in reaching to api server. It might have taken time to get connected to the API. Its is difficult to trace it from backend. If you face such issue in future, please take screenshot of console tab for me. It would be great if you can check the network tab as well at that time. 😬

[2017-09-04 08:15] vikasrohit commented on #1090
@vic-topcoder Deployed those performance tuning changes to connect-test01.topcoder-dev.com.

[2017-09-05 22:11] fnisen commented on #940
@gondzo I'm still seeing the issue from before: "Cancel" looks correct in terms of proportion, but dims when moused over, instead of activating. It's clickable, but should be going from dim to active, not vice versa.

[2017-09-05 22:23] fnisen commented on #938
Looking good, thank you.

[2017-09-05 22:23] #938 closed

[2017-09-05 22:27] fnisen commented on #947
Working correctly now, thanks.

[2017-09-05 22:27] #947 closed

[2017-09-05 22:37] fnisen commented on #1140
Background color is incorrect (see below); inspector shows we're using "#ddd." Can you please match to Vic's specs above?

<img width="736" alt="screen shot 2017-09-05 at 3 34 39 pm" src="https://user-images.githubusercontent.com/12552247/30086479-0f5cb6a8-9250-11e7-8e48-35bce3ee77dc.png">

[2017-09-06 16:54] fnisen commented on #970
Looks correct now.

[2017-09-06 16:54] #970 closed

[2017-09-06 17:03] fnisen opened #1159 "Editing icon for new posts is different than one for comments"
For the first post, we use a dropdown, whereas for the comment, we use the pencil. Both should be using the pencil:

![screen shot 2017-09-06 at 9 53 37 am](https://user-images.githubusercontent.com/12552247/30124276-83fe061c-92e9-11e7-8b44-c8a2b05ec34e.png)

[2017-09-06 18:07] fnisen opened #1160 "Turn off option to delete post with comments"
Once a post has follow up comments, such as the one below, we don't allow the user to delete it (the app correctly returns an error and shows a warning message). However, if this action is not allowed, we should just completely remove it from the dropdown.

![screen shot 2017-09-06 at 9 53 37 am](https://user-images.githubusercontent.com/12552247/30127186-3173cbd4-92f3-11e7-9c20-b3fea3f001e8.png)

[2017-09-06 22:41] fnisen opened #1162 "Image upload not functioning as intended"
### Actual behavior:
User has to add an image URL in order add an image
![screen shot 2017-09-06 at 11 07 52 am](https://user-images.githubusercontent.com/12552247/30137724-842b9c32-9319-11e7-9020-697cedcff20d.png)

### Expected behavior:
User should be able to drag and drop or upload an image file (similar behavior to GitHub)

@gondzo is it possible to change this fairly easily? If not, let's tur

[2017-09-06 22:55] fnisen commented on #971
@gondzo one update here please: "Edited" does not show up until the page is reloaded. Can you please make it appear immediately after the user has edited the post?

[2017-09-06 22:58] fnisen commented on #945
Looks good to me. @vic-topcoder please chime in it's still not correct.

[2017-09-06 22:58] #945 closed

[2017-09-06 23:36] fnisen commented on #1143
I expect you to maintain this level of vigilance when I'm gone. 😀

Sweet, they match now! The positioning is slightly different, but I'll let that go. : )

Yes, please push accounts app to prod; if you see any merges that didn't come from us, please check with the relevant folks as needed.

[2017-09-07 00:15] fnisen commented on #1022
@vikasrohit yes, here you are: https://www.screencast.com/t/pw3hoKcguD. Please watch the "Who are the users of your application?" line for the flicker.

[2017-09-07 00:20] fnisen commented on #1134
Looking good, thank you!

[2017-09-07 00:20] #1134 closed

[2017-09-07 00:26] fnisen commented on #1110
@vikasrohit yes, I see. Good point. In this case, let's show the warning b/c the project is not being saved in local storage, same as we had been doing if you closed the tab before saving changes on the Specifications page.

[2017-09-07 00:28] fnisen commented on #1042
Looks good, thank you!

[2017-09-07 00:28] #1042 closed

[2017-09-07 00:32] fnisen commented on #1037
Working well--thank you.

[2017-09-07 00:32] #1037 closed

[2017-09-07 00:34] fnisen commented on #1131
@vikasrohit it's working now---thanks. One more thing, please, as I mentioned above: can you please delete this question: "Are you an existing Watson Virtual Assistant customer?"

[2017-09-07 00:35] fnisen commented on #960
Working now, thanks.

[2017-09-07 00:35] #960 closed

[2017-09-07 00:39] fnisen commented on #1107
Looks like it--thanks for checking.

[2017-09-07 00:39] #1107 closed

[2017-09-07 00:44] fnisen commented on #1102
@vikasrohit it's working correctly initially, but then is still visible in the spec. I'm using this user account to test: christina_uw/topcoder123!

![screen shot 2017-09-06 at 5 43 03 pm](https://user-images.githubusercontent.com/12552247/30140664-0b7ed7e2-932b-11e7-893e-93e7234eedc0.png)

![screen shot 2017-09-06 at 5 43 58 pm](https://user-images.githubusercontent.com/12552247/30140665-0e7d44ec

[2017-09-07 00:48] fnisen commented on #1104
@vikasrohit sorry, I'm a little confused here. How do you want to proceed with this one?

[2017-09-07 00:50] fnisen commented on #1114
@vikasrohit yes please, can you explain this one again, in light of the fixes we made for #1037

[2017-09-07 04:44] vikasrohit commented on #1102
@fnisen I didn't change the spec page because managers might need the ref code to view. I can try hiding it for non managers though.

[2017-09-07 05:04] vikasrohit commented on #1131
Oh Missed that. Should be in dev by EOD.

[2017-09-07 06:24] vikasrohit commented on #1090
Just for reference, I am pasting few relevant links about formsy-react components being rendered on every other component change:

https://github.com/christianalfoni/formsy-react/issues/350
https://github.com/christianalfoni/formsy-react/issues/154
https://github.com/christianalfoni/formsy-react/issues/134

[2017-09-07 06:30] vikasrohit commented on #1114
@fnisen Its more of how it is implemented in code. In short, if you change product type by clicking `Change project type` button on project details page and the new project type you select, does not have a field that previous one has, and the user clicks 'Continue' button, it would persist the project with new project type but still have the values from old project type.
Now I am realizing that we

[2017-09-07 06:43] gondzo commented on #1162
@fnisen you can drag and drop an image directly to the post editor

On Thu, Sep 7, 2017 at 12:41 AM, Filipp Nisenzoun <notifications@github.com>
wrote:

[2017-09-08 00:29] fnisen commented on #1131
Hmm... not seeing it yet. Maybe it got overwritten by the messaging updates deploy. OK, I can wait until messaging updates is pushed out.

[2017-09-08 00:31] fnisen commented on #1114
OK, thanks. Please go ahead.

[2017-09-08 02:23] gondzo commented on #943
@fnisen @vic-topcoder I'm not sure how to implement this one reliably, there are too many cases to cover (new post, edit post, new comment, edit comment, and all that in dashboard and then again in discussions tab). There are too many edge cases and would probably introduce new bugs.
@vikasrohit any ideas ?

[2017-09-08 03:55] vikasrohit opened #1164 "ProjectWizard steps have misaligned title in modal mode"
<img width="1280" alt="screen shot 2017-09-08 at 9 25 03 am" src="https://user-images.githubusercontent.com/2417632/30195554-a2a17b0a-9477-11e7-9cdc-c983fb4fccde.png">

fyi @fnisen

[2017-09-08 03:56] vikasrohit commented on #1164
It seems style change to fix style of new project wizard steps, caused this. Will take care of it.

[2017-09-08 06:03] vikasrohit commented on #943
I haven't seen any application yet which prevents user from editing multiple form fields in the same page. It is only when user leaves the page, we should show the unsaved content alert because in essence we are not removing the changes made in the first post editor when user is editing the second one. So, IMO, showing alert is not a good way to achieve this and in fact user might get irritated if

[2017-09-08 09:25] vikasrohit commented on #1110
@fnisen I have implemented the functionality, however, I would like to get it tested before merging into dev. And right now test01 env is being used for penetration testing, so I am not sure how can I deploy it for your testing without merging into dev.

[2017-09-08 11:28] vikasrohit commented on #1164
Fixed.

[2017-09-08 11:30] vikasrohit commented on #1114
Fixed.

[2017-09-08 11:34] vikasrohit opened #1165 "[$60] Fonts are not loading correctly"
It seems fonts are again failing to load on production and dev environments.

<img width="1265" alt="screen shot 2017-09-08 at 5 02 33 pm" src="https://user-images.githubusercontent.com/2417632/30209858-a3d73588-94b7-11e7-96a7-418da9668dcc.png">
@mtwomey Do you have any idea about this? Can it be because of our new deployment tool i.e. circleci?

fyi, @fnisen @vic-topcoder

[2017-09-08 18:59] fnisen commented on #943
Yeah, I'm with @vikasrohit on this one. Facebook is lenient about this, and I assume they've tested the News Feed to death.

Theoretically it's a good idea to focus the user with a modal, but then we'd need to constrain them to posting there before going anywhere else, which seems overly strict. It doesn't seem like users would often end up in an error state of writing something and forgetting to

[2017-09-08 18:59] #943 closed

[2017-09-08 19:09] fnisen commented on #1114
@vikasrohit can you please test this one b/c it requires checking the API? I've you've tested already, please close.

[2017-09-08 19:12] fnisen commented on #1110
Sure. Do you want to wait until test01 is clear and then use it?

[2017-09-11 06:00] vikasrohit commented on #1110
I am inclining towards deploying it to dev because test01 is going to be freed at least 2 weeks later. We have to just make sure that we don't deploy the dev changes to production, until we find this change stable. More or less it is stable, I just want to make sure of edge cases.

[2017-09-11 07:38] vikasrohit commented on #1114
Checked on dev (with issue being fixed) comparing against production (where it is not fixed yet). It seems to work fine as I was expecting.

[2017-09-11 09:33] vikasrohit commented on #1110
Deploying to dev. Please let me know if you face any blocker.

[2017-09-11 23:54] vic-topcoder opened #1169 "2nd step menu for project creation new styles"
[sub-menu-cards.zip](https://github.com/appirio-tech/connect-app/files/1294340/sub-menu-cards.zip)

@vikasrohit let's get the new styles for the 2-step menu for project creation implemented. Attached is the html+css package from @sirakovaDimitrina. A prototype of the expected experience is here: https://invis.io/DZD1VC6PE#/248795103_main_Project_Menu

For the prototype, the elements on the 2nd row

[2017-09-12 00:53] vic-topcoder opened #1170 "Two tiered menus"
Intuitive menus w/o cheesecake factory look and feel

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-1

[2017-09-12 00:55] vic-topcoder commented on #1169
Recreated in Aha! and closing - tracked in #1170

[2017-09-12 00:55] #1169 closed

[2017-09-12 00:57] vic-topcoder commented on #1170
@vikasrohit let's get the new styles for the 2-step menu for project creation implemented. Attached is the html+css package from @sirakovaDimitrina. A prototype of the expected experience is here: https://invis.io/DZD1VC6PE#/248795103_main_Project_Menu

For the prototype, the elements on the 2nd row open with a menu, while the elements on top are direct links to project specification. Let me know

[2017-09-12 01:46] fnisen commented on #1140
@gondzo block is correct when posted, but still incorrect when composing.

[2017-09-12 01:47] fnisen commented on #971
Now working--thanks!

[2017-09-12 01:47] #971 closed

[2017-09-12 01:49] fnisen commented on #1162
@gondzo can you please turn off image upload entirely for now? I'm worried the migration will be too much of a hassle once we move off Discourse in a few months. We can turn it on again once we have the new system ready.

[2017-09-12 01:50] fnisen commented on #1162
Sorry about the extra work.

[2017-09-12 01:56] fnisen commented on #1160
Working, thanks.

[2017-09-12 01:56] #1160 closed

[2017-09-12 01:56] fnisen commented on #1159
Now fixed--thanks.

[2017-09-12 01:56] #1159 closed

[2017-09-12 04:56] vikasrohit commented on #1170
@vic-topcoder is it possible to track it in github only? or may be you can track it in aha for your stuff, but for development I would like to stick with github unless there is a very good reason to switch to aha. 😬

[2017-09-12 05:07] vikasrohit commented on #1170
@fnisen  @vic-topcoder  Are we okay to render Chatbot now in the project category list?
Is the project category and product types are final ones as depicted in the designs or they need to be altered?

[2017-09-12 22:29] vic-topcoder opened #1171 "Fix the menu"
Restyle and introduce the old 2-tire menus that handle different categories. InVision prototype: https://invis.io/DZD1VC6PE

Created from Aha! https://topcoder.aha.io/requirements/TCCONNECT-1-1

[2017-09-12 22:51] vic-topcoder commented on #1170
Let me confirm the menu structure and I'll update you. Right now where we have a sub-menu the button label should be "Select project" vs. "Create project" on the 1st level cards (that open the project creation).

[2017-09-13 00:47] fnisen commented on #940
Looking good.

[2017-09-13 00:47] #940 closed

[2017-09-13 00:47] fnisen commented on #1140
Now correct--thanks!

[2017-09-13 00:47] #1140 closed

[2017-09-13 00:48] fnisen commented on #1162
Verified that it's off--thank you.

[2017-09-13 00:48] #1162 closed

[2017-09-13 01:04] fnisen commented on #1110
@vikasrohit one of the edge cases is the "Back" action. In that case we don't seem to be wiping the data; I can select another project and the data is still there. However, once I click "Back," if I start another project and then close it, I don't get the warning. Maybe just show the warning and wipe the data on "Back," as well, to be consistent?

[2017-09-13 01:06] fnisen commented on #1164
Yes, looks much better.

[2017-09-13 01:06] #1164 closed

[2017-09-13 01:07] fnisen commented on #1131
OK, now looks right--thank you.

[2017-09-13 01:07] #1131 closed

[2017-09-13 01:08] #1143 closed

[2017-09-13 07:42] vikasrohit commented on #1111
@fnisen @ajefts found root cause. It is because of Google Tag Manager integration, which is calling drift methods without verifying if drift is actually available for the application.

![screen shot 2017-09-13 at 13 03 18](https://user-images.githubusercontent.com/2417632/30365346-0f3bcb4c-9885-11e7-8f75-9f7a729aeca4.png)

Need to update that code to have a check of existence on `window.drift` bef

[2017-09-13 14:24] dmessing commented on #1170
testing 1 two three

[2017-09-13 17:10] #1171 closed

[2017-09-13 23:33] fnisen commented on #1111
Nice work!

[2017-09-14 02:36] fnisen commented on #1102
@vic-topcoder looping you in so you can check whether the experience for hiding the ref code is like you imagined.

[2017-09-14 20:45] vic-topcoder commented on #1170
Discussed with Joey; project structure as follow:

Main page: 4 projects on first row:

Visual Design

- App
- Website
- Chat bot

Categories - 2nd row:

- Design
- Development
- QA

Categories:

Design

- Wireframes
- Visual design
- Other

Development:

- Front-end prototype
- Front-end development
- Integration/API
- Development iteration/sprint (figure out name with Adam)

QA:
- no change

[2017-09-15 06:35] vikasrohit commented on #1104
@vic-topcoder I think two tier menus, is good opportunity to handle this issue. I am thinking if we should directly show the project details form when user is coming back to the new project flow for the same project category and product i.e. if user has accessed /new-project/visual_design/wireframes previously and closed the tab and opens the same marketing link  (/new-project/visual_design/wirefr

[2017-09-18 06:44] vikasrohit commented on #1170
It seems we have only 3 on first row and 3 on second row.

We don't have project questions templates for Front-end development, Integration/API and Development iteration/sprint. So we have to either come up with new question templates or use the default one which we use for generic software development (which itself is not listed in the new layout)

[2017-09-18 07:03] vikasrohit commented on #1170
We need copies for descriptions of these categories and sub categories.

[2017-09-18 07:10] vikasrohit commented on #1170
@vic-topcoder Do we need to update the deep link URL? I mean right now it is /new-project/<product> e.g. /new-project/wireframes or /new-project/visual_design_prod. However, after we introduce project category in before actual product (sub category), ideal URL would be /new-project/<project_category>/<product> e.g. /new-project/visual_design/wireframes or /new-project/visual_design/visual_design_p

[2017-09-18 10:18] vikasrohit commented on #1170
@vic-topcoder  @dmessing  I have deployed the current WIP to dev environment for testing purposes.

[2017-09-18 20:21] vic-topcoder opened #1173 "Extend project specification with important data"
We want to collect budget and expected deadline - this helps to qualify projects

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-23

[2017-09-18 20:21] vic-topcoder opened #1174 "Bring back "Submit for review" button on Specification page"
This was the default feature  -> ask Vikas how to roll back. We need to figure out where the code is.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-22

[2017-09-18 20:21] vic-topcoder opened #1175 "Create projects as Draft"
Set the newly created project status flag to "Draft".

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-21

[2017-09-18 20:22] vic-topcoder commented on #1173
Test one two three

[2017-09-18 20:31] vic-topcoder opened #1176 "Test issue under a milestone"
### Expected behavior
Describe.

### Actual behavior
Describe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account used:

[2017-09-19 05:56] vic-topcoder opened #1177 "Notification bundling"
Create the rules and hierarchy for notifications to avoid cognitive overload of the user;

Based on the events we should drive to provide just enough notifications to help the user navigate during a project.

Importance and frequency are to be considered.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-12

[2017-09-19 05:56] vic-topcoder opened #1178 "Notification content templates"
We must define new email templates for notifications that are user friendlier. Allow to modify notifications frequency or go to notifications center on Connect.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-11

[2017-09-19 05:56] vic-topcoder opened #1179 "Push notifications"
Create integration with the browser to send push notifications to the desktop. Would be used in a mobile app context as well

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-8

[2017-09-19 05:56] vic-topcoder opened #1180 "Extend notification types"
Allow the system to generate more notifications beyond post and activity; defining custom notifications for different user roles: Admins can get notifications of new projects being reviewed or picked up by copilots, etc.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-7

[2017-09-19 06:38] vic-topcoder commented on #1170
Latest design: https://projects.invisionapp.com/share/U3DJPB4DR#/screens/254024918
Latest styles:
[sub-menu-cards 2.zip](https://github.com/appirio-tech/connect-app/files/1313259/sub-menu-cards.2.zip)

The new projects should use the generic project forms

- [ ] Fix the background color to $tc-gray-neutral-light
- [ ] Vic to deliver the final icons
- [ ]  Vic to figure out the final project types

[2017-09-19 07:37] vikasrohit opened #1181 "Fix the salesforce lead link for the new org"
It is right now pointing to old salesforce org. It should point to topcoder salesforce org instead of appirio org.

[2017-09-19 07:41] vikasrohit commented on #562
We can close this as we have already handled the salesforce integration via https://github.com/appirio-tech/tc-connect2sf.
@vic-topcoder Fixing lead link issue via #1181

[2017-09-19 07:41] #562 closed

[2017-09-19 09:47] vikasrohit commented on #1170
@vic-topcoder for changing the background color we have to change it for all pages as it is right now using browser's default body color.

[2017-09-19 15:58] #1176 closed

[2017-09-20 07:03] vikasrohit commented on #1170
@vic-topcoder the issue with setting background color is that it has to be set on root element (for us it is `div.main-wrapper`) of the DOM and we can't select (via css selector) parent element through child element. i.e. we can do `div.main-wrapper > .ProjectWizard` to apply specific class to .ProjectWizard but can't do vice versa. Only solution is to grab the route in our root component (`Layout

[2017-09-20 17:27] vic-topcoder commented on #1104
@vikasrohit let's not introduce the category as a part of the URL, this will create confusion in the future as categories can change, and projects in them also. It is much easier if the url is always following the `<url>new-project/{project_short_name}`

[2017-09-20 17:31] vic-topcoder commented on #9
@vikasrohit - did we implement all the icon sizes from the attached .zip file? If yes, please close the issue

[2017-09-20 18:05] #913 closed

[2017-09-20 18:05] #914 closed

[2017-09-20 18:56] #965 closed

[2017-09-20 18:57] #1154 closed

[2017-09-20 18:58] #1094 closed

[2017-09-20 19:02] vic-topcoder commented on #1059
The whole point of this lock is to make sure no brute-force attacks can happen. @mtwomey something to think about

[2017-09-20 19:05] vic-topcoder commented on #986
@mtwomey - let's verify this one

[2017-09-20 19:07] vic-topcoder commented on #868
@mtwomey Let's verify this one

[2017-09-20 19:08] #858 closed

[2017-09-20 19:09] #857 closed

[2017-09-20 19:11] #827 closed

[2017-09-20 19:12] #624 closed

[2017-09-20 19:18] vic-topcoder commented on #551
@mtwomey - keep this for discussion/history. This is a reported bug we want to fix - user roles & permissions

[2017-09-20 19:18] #551 closed

[2017-09-20 19:19] #84 closed

[2017-09-20 22:50] #720 closed

[2017-09-20 22:50] #722 closed

[2017-09-20 22:50] #723 closed

[2017-09-20 22:50] #724 closed

[2017-09-20 22:50] #725 closed

[2017-09-20 22:50] #728 closed

[2017-09-20 22:50] #733 closed

[2017-09-20 22:50] #745 closed

[2017-09-20 22:50] #752 closed

[2017-09-20 22:50] #767 closed

[2017-09-20 22:50] #769 closed

[2017-09-20 22:50] #774 closed

[2017-09-20 22:50] #780 closed

[2017-09-20 22:50] #781 closed

[2017-09-20 22:50] #785 closed

[2017-09-20 22:50] #788 closed

[2017-09-20 22:50] #789 closed

[2017-09-20 22:50] #799 closed

[2017-09-20 22:50] #802 closed

[2017-09-20 22:50] #843 closed

[2017-09-20 22:50] #849 closed

[2017-09-20 22:50] #856 closed

[2017-09-20 22:50] #869 closed

[2017-09-20 22:50] #874 closed

[2017-09-20 22:50] #880 closed

[2017-09-20 22:50] #371 closed

[2017-09-20 22:50] #402 closed

[2017-09-20 22:50] #405 closed

[2017-09-20 22:50] #441 closed

[2017-09-20 22:50] #501 closed

[2017-09-20 22:50] #563 closed

[2017-09-20 22:50] #574 closed

[2017-09-20 22:50] #611 closed

[2017-09-20 22:50] #614 closed

[2017-09-20 22:50] #615 closed

[2017-09-20 22:50] #616 closed

[2017-09-20 22:50] #644 closed

[2017-09-20 22:50] #679 closed

[2017-09-20 22:50] #682 closed

[2017-09-20 22:50] #685 closed

[2017-09-20 22:50] #710 closed

[2017-09-20 22:50] #711 closed

[2017-09-20 22:50] #713 closed

[2017-09-20 22:50] #714 closed

[2017-09-20 22:50] #716 closed

[2017-09-20 22:50] #718 closed

[2017-09-20 22:50] #719 closed

[2017-09-21 04:46] vikasrohit commented on #1035
@vic-topcoder  In that case we have to get rid of modal view for new project in logged in use case. In modal mode, it is very difficult to achieve the changing URL as I mentioned above. Please let me know if you can think of a good way to achieve the same behaviour in modal mode.

[2017-09-21 04:47] vikasrohit commented on #1104
@vic-topcoder Okay. Then we won't be able to track people who are leaving the project flow on project category selection screen.

[2017-09-21 06:30] vikasrohit commented on #9
@vic-topcoder I have just used one image from the archive.

[2017-09-21 10:07] vikasrohit opened #1183 "Unwanted "unsaved content alert" when user creates project after logging in"
If user tries to create project after logging in, `unsaved content alert` is shown when user clicks on 'Continue' button. This alert should only be shown when user is moving away from the application not when they are moved because of project creation.

fyi @vic-topcoder @mtwomey @dmessing I have fixed this a hotfix, but not deployed to production yet. I think it should be updated as hotfix, but i

[2017-09-21 10:10] vikasrohit commented on #1183
https://github.com/appirio-tech/connect-app/tree/hotfix/unnecessary-unsaved-content-alert

[2017-09-21 16:56] vic-topcoder opened #1184 "New menu bugs"
There are several bugs on the menu as is on the dev server.

- [x] Back button isn't working always, once on a project specification page, the back button stops working; #1189
- [x] Back button hover style isn't working 100% - needs to be fixed to trigger the arrow switch as soon as the pointer hovers over the circle or the text label (arrow should be handled as part of the circle) #1190
- [x] Car

[2017-09-21 17:22] vic-topcoder commented on #1183
Great - @mtwomey please advise for best course of action.

[2017-09-21 17:56] vic-topcoder opened #1185 "project menu icons - update"
Let's replace the icons on the project menu with the latest and grates from the package. I've renamed them to follow a strict(er) naming convention. All icons begin with the `product-` prefix and go on to add the category - design, dev, qa - so we can keep an eye for them and make sense in source code. For category of work the name patter ins `product-cat-` and category-specific name "dev, design,

[2017-09-21 18:01] vic-topcoder opened #1186 "Crowd Testing Detailed Specification"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-3

[2017-09-21 18:01] vic-topcoder opened #1187 "Crowd Testing Basic Intake Form"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-2

[2017-09-21 18:10] vic-topcoder opened #1188 "test one two"
Created from Aha! https://topcoder.aha.io/requirements/TCCONNECT-21-1

[2017-09-21 18:15] #1188 closed

[2017-09-21 20:33] vic-topcoder commented on #1104
As per our last conversation: product categories can have their unique URL to allow tracking. `~/new-project/{project-category}` and we'll keep all product URLs as `~/new-project/{project_short_name}`. This allows each page to have a URL and fluidity in moving products between categories, which would preserve the URL for deep links (we share with external services and pages).

[2017-09-21 20:33] vic-topcoder commented on #1093
captured in Aha!

[2017-09-21 20:33] #1093 closed

[2017-09-21 20:34] vic-topcoder commented on #1090
@mtwomey maybe this is bigger part of tech debt. Capture in Aha! and close if you see fit.

[2017-09-21 20:48] vic-topcoder commented on #1035
Maybe what @birdofpreyru is doing in the communyt-app could be used: https://github.com/topcoder-platform/community-app/blob/develop/docs/how-to-deep-link.md

@birdofpreyru please advise on URL manipulation/routing

Also - next.js showed some techniques about clean URLs: https://learnnextjs.com/basics/clean-urls-with-route-masking

Example of better/dynamic/context-aware URL - Dribble. Depending o

[2017-09-21 20:49] vic-topcoder commented on #9
OK. Closing this issue.

[2017-09-21 20:49] #9 closed

[2017-09-21 22:52] birdofpreyru commented on #1035
@fnisen @vikasrohit @vic-topcoder

Hello everybody, here I am and I'll be glad to help :)

Just briefly reading through this thread, I am not completely sure what is your exact use case; but in community-app I've played around and come up with a nice way to handle something similar in a consistent way, which Vic has referenced above: https://github.com/topcoder-platform/community-app/blob/develop/

[2017-09-22 05:59] vikasrohit commented on #1090
Just for information, I have fixed few of the things here:

- Stopped re-render of other form fields when one of the fields in the form is updated
- Loaded SVG images as inline svg object
- Optimized ProjectWizard, TopbarContainer components to no re-render for every render of its parent

[2017-09-22 07:23] vikasrohit opened #1189 "ProjectWizard back button is not working"
Carried forward from #1184

Back button isn't working always, once on a project specification page, the back button stops working

[2017-09-22 07:24] vikasrohit commented on #1189
Fixed in dev.

[2017-09-22 07:24] vikasrohit commented on #1185
Fixed icons in dev.

[2017-09-22 07:31] vikasrohit opened #1190 "ProjectWizard Back button hover style"
Carried forward from #1184
Back button hover style isn't working 100% - needs to be fixed to trigger the arrow switch as soon as the pointer hovers over the circle or the text label (arrow should be handled as part of the circle)

[2017-09-22 07:31] vikasrohit commented on #1190
Fixed.

[2017-09-22 07:34] vikasrohit opened #1191 "Button text on category cards should read "View all" (hover on Design in the InVision prototype)"
Carried forward from #1184
Button text on category cards should read "View all" (hover on Design in the InVision prototype)

[2017-09-22 07:34] vikasrohit commented on #1184
@vic-topcoder It is difficult to manage these as list items. It would be better manageable if they are different issues in github because I used to commit against each github issue which lets us revert a particular issue in case of any troubles with that fix. I have created separate issues and updated the issue description with those issues.

Can you please let me know what specifically is not as

[2017-09-22 07:43] vikasrohit commented on #1191
@vic-topcoder Should we keep `Select Project` for project categories which has only one product i.e. App, Website and Chatbot?

[2017-09-22 09:41] vikasrohit commented on #1191
Fixed in dev.

[2017-09-22 09:47] vikasrohit commented on #1104
It should be up there in dev.

[2017-09-23 14:08] gondzo opened #1192 "[$20] Code block styling"
Using code blocks with large content will break page layout. We should probably force wrap on the <pre> tags in the posts, or add scrolling?
![image](https://user-images.githubusercontent.com/3051646/30773825-20bd5b6e-a079-11e7-962f-7a18c2e7df5e.png)

@vic-topcoder any ideas ?

[2017-09-23 14:11] gondzo opened #1193 "Can't edit my own post"
I can't edit/delete my own post on dashboard. The post has no comments.
Sample URL is https://connect.topcoder.com/projects/4151#feed-15874
Can't reproduce this on other projects in prod or dev.

[2017-09-25 04:55] vikasrohit commented on #1192
Sorry to jump in @gondzo @vic-topcoder However, I do remember that we added horizontal scroll long time back to resolve this issue #619. I think it was done for comments only, may be we need to apply the same for post as well.

[2017-09-25 06:14] vikasrohit commented on #1035
@vic-topcoder @birdofpreyru Thanks for your inputs here, however, I think these links are not relevant here except the the dribbble behaviour. Yes, we want the dribbble behaviour here, however, to achieve that we have to write a code which handles that neatly and it is not a quick solution and I am anticipating few issues around that once deployed.
So, my suggestion is to analyze the requirement.

[2017-09-25 09:00] vikasrohit commented on #1173
@vic-topcoder I think we are already fetching budget and expected duration of the project via direct api. Is this something else?

[2017-09-25 09:11] vikasrohit commented on #1185
@sirakovaDimitrina You can take over it to fix the second item in the checklist.

[2017-09-25 09:23] vikasrohit opened #1194 "Backend support to have new project types supported."
Right it only allows `app_dev, generic, visual_prototype, visual_design` as project types i.e. project categories. With new two tier menu we are exposing 4 new project categories which are:

1. app
2. website
3. chatbot
4. quality_assurance

Earlier, these products for these categories were available under `app_dev` project category.

fyi, @vic-topcoder @mtwomey

I think I can make these changes,

[2017-09-25 09:28] vikasrohit commented on #1183
Deploying to production, Please let me know if things are not working after this. We can revert it.

[2017-09-25 10:28] birdofpreyru commented on #1035
@vikasrohit I am not sure, what exactly you don't like in my solution referenced above? It works quite good in Community App.

[2017-09-25 16:32] vic-topcoder commented on #1192
Add horizontal overflow for code blocks.

[2017-09-25 16:34] vic-topcoder commented on #1090
Can we get this merged into Dev? I did see better page performance when I tested.

[2017-09-25 16:45] vic-topcoder commented on #1184
@vikasrohit please feel free to create a new issue for each of the issues. It would take me too much time to organize GitHub and manage it the way Filipp did.

[2017-09-25 16:49] vic-topcoder commented on #1184
Re: style seems ok to me currently

[2017-09-25 17:24] #1190 closed

[2017-09-25 17:24] #1189 closed

[2017-09-25 17:25] vic-topcoder commented on #1191
Yes, that is great.

[2017-09-25 17:25] #1191 closed

[2017-09-25 17:56] vic-topcoder opened #1195 "Visual fixes on menu"
Let's fix the header space issues on all pages of the new project creation:

- [ ] Header is touching the top of the page (should be 50px)
- [ ] Header should have 50px space bellow to separate from content
- [ ] Use calculations to push the footer at the bottom of the viewport, but if the window is too small, it should be 30px under the content
- [ ] Add transitions on cancel/back buttons (they'r

[2017-09-25 18:11] #1185 closed

[2017-09-25 18:41] mtwomey commented on #1183
@vikasrohit Sounds good with this plan. Kindle close once confirmed.

[2017-09-25 18:44] mtwomey commented on #1165
It's unclear to me if this is still indeed not functioning as desired or where the fix is (Victor suggests the fix is in webpack).

[2017-09-25 18:47] mtwomey commented on #1111
This appears to be fixed. I'm going to close for now. Please re-open if it reoccurs  @vikasrohit

[2017-09-25 18:47] #1111 closed

[2017-09-25 18:49] mtwomey commented on #1110
@vikasrohit Let's go ahead and deploy please. Don't worry about the penn-testing. Kindly advise if you have and concerns.

[2017-09-25 18:51] mtwomey commented on #1106
@vikasrohit I'm closing, kindly advise (or reopen) if you want it open.

[2017-09-25 18:51] #1106 closed

[2017-09-25 18:53] mtwomey commented on #1105
Closing, @vikasrohit Please advise if you disagree.

[2017-09-25 18:53] #1105 closed

[2017-09-25 18:54] mtwomey commented on #1105
Note - there still appears to be a small issue where when the form is first opened, it's not sticky. We'll address this in a new issue if needed.

[2017-09-25 18:58] mtwomey commented on #1104
Awesome, thanks, @vikasrohit. Victor confirms this is as desired in dev. Kindly deploy to prod.

[2017-09-25 19:03] mtwomey commented on #1102
@vikasrohit Chatting w/Victor - he's confirmed we don't want the ref-code to show, even for managers.

[2017-09-25 19:06] vic-topcoder commented on #1102
This is what I see on Dev right now -  ref code still visible; let's hide it:
![screen shot 1](https://user-images.githubusercontent.com/8484061/30826067-f6287f38-a1e9-11e7-995a-53c9b503cb77.png)

[2017-09-25 19:09] #1043 closed

[2017-09-25 19:10] #1038 closed

[2017-09-25 19:12] #1032 closed

[2017-09-25 19:13] #1031 closed

[2017-09-25 19:16] #1022 closed

[2017-09-25 19:17] #1020 closed

[2017-09-25 19:18] #1006 closed

[2017-09-25 19:18] #998 closed

[2017-09-25 19:18] #995 closed

[2017-09-25 19:24] #988 closed

[2017-09-25 19:26] mtwomey commented on #1165
![screen shot 2017-09-25 at 2 24 27 pm](https://user-images.githubusercontent.com/7715262/30826835-91cbb6ae-a1fd-11e7-95e9-672fc9e66426.png)

[2017-09-25 19:27] mtwomey commented on #1165
Also - this may have to do with the circleCI deploy.

[2017-09-25 19:30] #987 closed

[2017-09-25 19:32] mtwomey commented on #986
@vikasrohit Yes - there was a problem when filepicker keys were added to the appirio-webpack npm. Environment keys now need to be in place for any application that uses it. So in short, I adde these environment keys to the CirleCI deploy for Connect.

[2017-09-25 19:32] #986 closed

[2017-09-25 19:34] #984 closed

[2017-09-25 19:35] #979 closed

[2017-09-25 19:36] #975 closed

[2017-09-25 19:39] #961 closed

[2017-09-25 19:41] mtwomey commented on #946
Additional comment - it's the blue "a month ago" in the image above.

[2017-09-25 19:41] mtwomey commented on #936
Please advise if this is actually needed (ability to build on windows). Reopen if so.

[2017-09-25 19:41] #936 closed

[2017-09-25 19:44] mtwomey commented on #881
@ajefts Can you weigh in on this one when you hava a sec please?

[2017-09-25 19:47] #868 closed

[2017-09-25 19:47] vic-topcoder commented on #832
@vikasrohit @gondzo - let's review if this is still valid and if so, break down to action items for community to fix
@mtwomey FYI

[2017-09-25 19:48] vic-topcoder commented on #137
@gondzo let's break this into action plan for community fixes please.

[2017-09-25 19:54] vic-topcoder opened #1196 "[$250] Upgrade Webpack to v3 (latest)"
We need to match the Webpack and stack to community-app as we currently use Webpack 1. There are great features like tree-shaking and ES6 native support, plus multiple optimizations.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-36

[2017-09-26 04:59] vikasrohit commented on #1111
Yes, it was fixed last week.

[2017-09-26 05:12] vikasrohit commented on #1035
@birdofpreyru It is not that I didn't like the solution. In fact that solution is really good. It is just that our use case is different. we are more concerned about handling that for modal views.

[2017-09-26 05:14] vikasrohit commented on #1090
@vic-topcoder these are merged with the two tier changes. So, they would be there on production when we merged two tier changes to master.

[2017-09-26 05:18] vikasrohit commented on #1104
@mtwomey Okay. These changes would go to production only after full changes for two tier menu are tested in dev.

[2017-09-26 05:23] vikasrohit commented on #1102
@vic-topcoder Please change `refcode` to `refCode`. The issue raised here is to hide ref code from the Edit project (specification tab) as well.

[2017-09-26 05:24] vikasrohit commented on #1165
I think it started to happen after circeCI migration, not sure though.

[2017-09-26 06:58] vikasrohit commented on #1184
@vic-topcoder We can always track in terms of milestones for an abstract view, however, from the development perspective it is easy to have separate issue for different portions of the application because we may want to cherry pick or revert particular change done by an issue. Yes, in case the changes are very trivial, we can keep them under same issue as check list.

[2017-09-26 08:11] vikasrohit commented on #1102
@mtwomey It is deployed. Only thing remaining is to hide refCode in Project Edit screen (specification tab). Right now it should be visible there for both managers and non managers. I can hide it for both, however, I don't think we should hide it for managers though. They won't have any way, in project details pages, to see the refCode for a project. They can still see ref code on project listing

[2017-09-26 08:35] vikasrohit opened #1197 "Update the project type tags for new project types"
<img width="391" alt="screen shot 2017-09-26 at 2 02 39 pm" src="https://user-images.githubusercontent.com/2417632/30850552-79a5f8b6-a2c3-11e7-8714-a05adc9b5737.png">
Notice missing colored tags for website and app project types.

@vic-topcoder We need possibly new colors and copy for project type tags for the new project types. Right now we have following map for project types to colors:
<pre>
co

[2017-09-26 18:34] vic-topcoder opened #1198 "Mobility Testing product on Connect"
Support for Mobility Testing on Connect

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-57

[2017-09-26 18:38] vic-topcoder opened #1199 "Fix the menu"
Restyle and introduce the old 2-tire menus that handle different categories. InVision prototype: https://invis.io/DZD1VC6PE

Created from Aha! https://topcoder.aha.io/requirements/TCCONNECT-1-1

[2017-09-27 20:00] vic-topcoder opened #1200 "Final project catalogue structure and copy edits"
Hey @vikasrohit - we have the final version of the project catalogue. For the milestone release we want to start with only 1 QA product, so instead of the category card we want the QA card.

- [x] Change QA category card with Crowd Testing (https://connect.topcoder-dev.com/new-project/crowd_testing) - we have the content and icon to put as first-level
- [x] Update development category final cards

[2017-09-28 07:22] vikasrohit commented on #1200
Done. However, I have few notes here:

1. It is not straightforward to interchange product category with product itself as we are now doing with QA category. It is not something hardcoded which we just copy from one place and paste at another. It has well defined hierarchy of product category and product. We have already added complexity by having few cards on project category to directly behave a

[2017-09-28 07:28] vikasrohit commented on #1200
Changes should be in dev.

[2017-09-28 07:32] vikasrohit commented on #1194
Considering absence of comments here to be a green signal for going ahead with it. Merging into dev.

[2017-09-28 07:35] vikasrohit commented on #1184
Closing

[2017-09-28 07:35] #1184 closed

[2017-09-28 07:36] vikasrohit commented on #1199
Not sure why it is created again. Seems bug in aha which is causing duplicate github issues.

[2017-09-28 08:59] vikasrohit commented on #1194
@vic-topcoder @mtwomey Verified on dev by creating project of each new type. Closing.

[2017-09-28 08:59] #1194 closed

[2017-09-28 18:37] vic-topcoder commented on #1200
@vikasrohit thanks for the heads up!

[2017-09-28 18:44] vic-topcoder commented on #1199
good catch

[2017-09-28 18:44] #1199 closed

[2017-09-28 18:46] vic-topcoder commented on #1197
That's a minor issue and we'll probably switch the type tags in the upcoming project structure refactoring. the color coding issue would persist, you are correct, if we use tags. I'll close this issue and put an update request in Aha!. Thanks!

[2017-09-28 18:46] #1197 closed

[2017-09-28 18:50] gondzo commented on #1193
This will be resolved with #1192, edit post toggle is available, but it was off the screen due to styling of code block.

[2017-09-28 18:50] #1193 closed

[2017-09-29 00:12] gondzo commented on #1181
I think this one would be too complex to set up and verify to be a community task. @vikasrohit can you take this one, or get write some pointers for the expected changes. Do we only need to change salesforceLead.orgId in tc-project-service configuration ?

[2017-09-29 00:14] gondzo commented on #1165
can we use test01 environment for testing the fix for this one ?
@vikasrohit @mtwomey

[2017-09-29 00:38] gondzo commented on #1059
So the goal here is to add a limit for the number of wrong PINs ( 10 by default). When the limit is reached an error message will be displayed along with a back-off timer (countdown). When the timer expires, user can enter the PIN again.
@mtwomey Does this approach make sense ?
Also, we don't have a way to get to the pin verification page directly, so if the user closes the page before entering a

[2017-09-29 04:55] vikasrohit commented on #1165
@gondzo we are using test01 for internal testing and it is kind of freezed environment. We should not use it until further update.

[2017-09-29 04:55] vikasrohit commented on #1181
Sorry @gondzo. Missed to update the status here. It is fixed now. Waiting to go to production.

[2017-09-29 05:44] #1186 closed

[2017-09-29 05:44] #1187 closed

[2017-09-29 05:44] #1200 closed

[2017-09-29 05:47] vic-topcoder opened #1205 "Back button does not work on wizard pages"
Clicking back button should reload the page

[2017-09-29 05:50] vic-topcoder opened #1206 "Main page/product select logo to be a link"
The logo on main page and category page should be a link to connect home page.

In the logged in state logo should behave as escape/close.

[2017-09-29 06:48] vic-topcoder opened #1207 "Project dashboard doesn't display the new project type"
We must say what the project template is on the dashboard. Please add the missing title and reuse the project icon/description as the other projects.

![screen shot 1](https://user-images.githubusercontent.com/8484061/31004005-573d9adc-a4a7-11e7-8db2-f98cda39f7ae.png)

Expected
![screen shot 2](https://user-images.githubusercontent.com/8484061/31004053-8dd78b34-a4a7-11e7-8b61-a8948a13f3b8.png)

[2017-09-29 06:50] vic-topcoder opened #1208 "Real World Testing project missing tag on list view"
On the project list we should show the project type as "Real World Testing". Currently the type tag is missing.

![screen shot 3](https://user-images.githubusercontent.com/8484061/31004112-c5e1d5ca-a4a7-11e7-96a3-b2ed36aee738.png)

[2017-09-29 08:16] vic-topcoder opened #1209 "Real World Testing project name isn't editable"
Can't edit the project name - probably the same issue with not displaying project type/name on dashboard?
![screen shot 5](https://user-images.githubusercontent.com/8484061/31006971-bd231f0a-a4b3-11e7-9f20-adc82b3423d0.png)

[2017-09-29 10:13] vikasrohit commented on #1209
@vic-topcoder Project Name is not an editable field once project has moved past 'draft' status.

However, I have fixed the issue with saving of testing project after any other field update. It was because of wrong template fields. Just for information, we should keep all dynamic fields, i.e. fields which are specific to the project type, should be kept under `details` json. Please check the update

[2017-09-29 10:35] vikasrohit commented on #1207
Should be fixed in dev now.

[2017-09-29 11:31] vikasrohit commented on #1208
I have already raised this few days back. #1197 and you closed it saying it is a minor issue. 😬

Now, assuming that we have to show actual project type when rendering the tags in the list view. In past it used to be a mapping from project type to the text which we want to show because we used different text than project's type here it is:

<pre>
'generic': 'Work Project',
  'visual_design': 'Desig

[2017-09-29 12:09] vikasrohit commented on #1205
I did check the issue @vic-topcoder It is not a quick fix. Basically we have to determine wizard step from URL to get it done.

[2017-09-29 12:42] vikasrohit commented on #1206
@vic-topcoder I think it was actually a bug due to which it was showing topcoder logo in new project wizard modal for logged in user. I think we decided earlier to not have logo for logged in user in modal. Hence, I have fixed that bug as part of this fix.
Please let me know if you still we need the topcoder logo in project wizard modal. Please note logo was visible only for the first step of the

[2017-09-29 12:47] vikasrohit commented on #1059
Yes, that is inherent in the flow and limited by API and security risks.

[2017-09-29 13:33] gondzo commented on #1196
Majority of changes should be made to https://github.com/appirio-tech/webpack-config repository (feature/connectv2 branch), as well as webpack.config.js in connect-app repo.

[2017-09-29 18:45] vic-topcoder opened #1212 "Filter project types in admin view"
Fix all the missing project types listed in the admin view filter

![screen shot 1](https://user-images.githubusercontent.com/8484061/31104397-9ada89ca-a791-11e7-8868-865927bbcdc8.png)

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-70

[2017-09-30 04:50] vikasrohit commented on #1206
Closing

[2017-09-30 04:50] #1206 closed

[2017-09-30 04:50] vikasrohit commented on #1209
Closing

[2017-09-30 04:50] #1209 closed

[2017-09-30 04:50] vikasrohit commented on #1208
Closing

[2017-09-30 04:50] #1208 closed

[2017-09-30 04:50] vikasrohit commented on #1207
Closing

[2017-09-30 04:50] #1207 closed

[2017-09-30 04:57] #1170 closed

[2017-09-30 14:09] mockmew commented on #946
can I assign this?

[2017-09-30 15:09] mkesselaers commented on #1026
Can I work on this one, please?

[2017-09-30 15:13] mhikeo commented on #1196
@vic-topcoder @gondzo Can I request for access on the following?
* community-app
* https://topcoder.aha.io/features/TCCONNECT-36

[2017-09-30 15:31] gondzo commented on #1196
What do you need community-app for ?
There is nothing in aha.io that isn't in this thread

[2017-09-30 15:33] mhikeo commented on #1196
I thought we need to match how it is being done in community-app. Anyways, I'll proceed with the task. Thanks.

[2017-09-30 17:26] HammadSiddiqui commented on #1192
Can you give instructions to replicate this scenario?

[2017-09-30 17:29] gondzo commented on #1192
In the project dashboard create a new post with a code block that has a
single long line (larger than page width)

On Sep 30, 2017 19:26, "Hammad Siddiqui" <notifications@github.com> wrote:

[2017-09-30 17:48] HammadSiddiqui commented on #1192
@gondzo
While trying to create a new post, I am getting an error "Failed to create topic in Discourse: Unable to create discourse user"

[2017-09-30 23:18] gondzo commented on #1196
This is the community app repo > https://github.com/appirio-tech/topcoder-app

[2017-10-01 04:51] vikasrohit commented on #1196
@gondzo community app which @vic-topcoder mentioned is https://github.com/topcoder-platform/community-app

[2017-10-02 06:47] vic-topcoder commented on #1074
All issues fixed or non-relative anymore

[2017-10-02 06:47] #1074 closed

[2017-10-02 07:59] gondzo commented on #1059
@all Prize increased

[2017-10-02 10:43] mkesselaers commented on #990
@vic-topcoder , this one needs to be closed, isn't it?
As far as I can see, it was already resolved with https://github.com/appirio-tech/connect-app/issues/1074

[2017-10-02 12:01] HammadSiddiqui commented on #1059
I think this issue should have been a part of the accounts.topcoder repo

[2017-10-02 12:03] mkesselaers commented on #1059
I already submitted a PR against the accounts repo for this issue.
https://github.com/appirio-tech/accounts-app/pull/171

[2017-10-02 12:09] gondzo commented on #1059
@mkesselaers this looks good, but the backoff timer feature is missing.

[2017-10-02 12:11] mkesselaers commented on #1059
@gondzo, OK, will prepare the change. I had based myself on the Expected Results from the initial ticket, instead of reading everything.

[2017-10-02 12:12] gondzo commented on #1059
Thanks

On Mon, Oct 2, 2017 at 2:11 PM, mkesselaers <notifications@github.com>
wrote:

[2017-10-02 13:02] gondzo commented on #1165
Looks good. It's fixed and deployed in test02

[2017-10-02 20:00] mkesselaers commented on #1059
PR has been updated.

[2017-10-02 22:48] gondzo commented on #1196
@all prize increased and this is now available for pickup.

[2017-10-02 22:51] gondzo commented on #990
@mkesselaers No, the difference is still present. Check the behavior in chrome vs firefox and IE

[2017-10-02 23:07] mkesselaers commented on #990
@tosha5252, If you are unable to solve it in the 12 hours, please assign it to me. (night is calling 😃 )

[2017-10-03 00:04] vic-topcoder opened #1217 "Project card view"
Display the project details as a card with status update for better user experience

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-4

[2017-10-03 00:07] vic-topcoder commented on #1196
@birdofpreyru - please advise if there's anything we can do to help align the system. I know we're already discussing it, would be nice to lay out what's needed in here for community
@mtwomey FYI

[2017-10-03 00:09] gondzo commented on #1196
just following the webpack migration guide should be enough > https://webpack.js.org/guides/migrating/

[2017-10-03 00:13] birdofpreyru commented on #1196
Well, just mechanical update to Wepback 3 can be done following the migration guide. Also, I'd say, break dependency on https://github.com/appirio-tech/webpack-config and do a local webpack config, properly split for dev / prod builds configurations.

But then, what we actually put into the config is related to other staff we discuss about styles, etc.

[2017-10-03 00:14] birdofpreyru commented on #1196
Here is how Webpack is currently configured in Community App:
https://github.com/topcoder-platform/community-app/tree/develop/config/webpack

[2017-10-03 00:16] birdofpreyru commented on #1196
Here is how Webpack is currently configured in Community App:
https://github.com/topcoder-platform/community-app/tree/develop/config/webpack

Most of its content is actually about making all stuff like CSS Modules, Hot Module Reloading in dev, inline svg, etc. to work together.

[2017-10-03 00:33] maxceem commented on #1196
I'm quite familiar with community app webpack config, just want to clarify what we need for connect-app.
1. @gondzo said that changes have to be made to https://github.com/appirio-tech/webpack-config repository, though if understood correctly @birdofpreyru proposed to break dependency on that repo and move config to the connect-app, which way is preferred?

2. Should we just update config followin

[2017-10-03 00:39] birdofpreyru commented on #1196
I'd say:
- Break dependency;
- Use community-app config as the reference how it should be structured. Probably, don't yet introduce the things that are not used in connect-app, but  keep it as easy as possible to add them in future. Also, ensure that the version you compose now does not break the present version of connect-app.
But, wait for confirmation from @vic-topcoder and @gondzo

[2017-10-03 02:45] maxceem commented on #1196
3. As I understand we have to use JS instead of CoffeeScript for Webpack config, correct?

[2017-10-03 05:31] vikasrohit commented on #1102
Closing the issue as it has been open for very long time and the original requirements are fulfilled. @vic-topcoder @mtwomey we can open a new issue for handling hiding/showing ref code in project edit mode.

[2017-10-03 05:31] #1102 closed

[2017-10-03 06:04] vikasrohit opened #1218 "Proper fix for hiding any project category"
As of now we have to do it via css. We have the support for hiding or disabling the product already, however, we need to extend the support for the project category as well.

[2017-10-03 06:04] vikasrohit commented on #1218
fyi @vic-topcoder

[2017-10-03 06:31] vikasrohit commented on #1218
Done. Should be available in dev now.

[2017-10-03 06:34] vikasrohit commented on #1173
bump up @vic-topcoder  Do we need anything different from what we are showing for budget and duration?

[2017-10-03 06:42] vikasrohit commented on #1218
Verified in dev.

[2017-10-03 06:42] #1218 closed

[2017-10-03 10:14] mkesselaers commented on #990
@gondzo , Can I pick it up? It has been 19 hours now

[2017-10-03 10:17] vikasrohit opened #1220 "Deep links are not working after latest release"
Deep links like https://connect.topcoder.com/new-project/wireframes or https://connect.topcoder.com/new-project/visual_design are not working as expected. It is always rendering the project category selection page instead.

fyi @vic-topcoder @mtwomey

[2017-10-03 10:48] vikasrohit commented on #1220
@vic-topcoder  @mtwomey  Fixed and deployed to the production considering the criticality of the issue. Please let me know if you seen any issues.

[2017-10-03 10:49] #1220 closed

[2017-10-03 11:35] vikasrohit opened #1221 "Project ref code and name text box are not vertically aligned"
After recent release, these two text box are failing to align vertically.

<img width="1016" alt="screen shot 2017-10-03 at 5 03 09 pm" src="https://user-images.githubusercontent.com/2417632/31123313-05defc44-a85d-11e7-8fd3-34fcdd41c4a9.png">

fyi @vic-topcoder

[2017-10-03 11:44] vikasrohit commented on #1205
@vic-topcoder I have somehow managed to get the behaviour. However, it still needs more testing. I am expecting some edge cases here which I am not certain of before hand. It would be great, if you can play around with it in dev and see if it matches with your expectations. I am deploying the feature temporarily into dev env.

[2017-10-03 13:02] maxceem commented on #1196
12 hours have passed, though I've done the majority of changes.
I use approach advised by @birdofpreyru, so I removed dependency from https://github.com/appirio-tech/webpack-config and moved config to the connect-app project.
Unfortunately my timezone is exactly 12 hours opposite to NY, so I couldn't wait for confirmation.

Currently just working on the minor issues
- favicon
- hot reloading

Goin

[2017-10-03 13:04] gondzo commented on #1196
Thanks for the update. IMO this is a good approach, with appirio-tech/webpack-config we are using a custom branch for connect anyway so there is no reason to keep the dependency.

[2017-10-03 13:05] gondzo commented on #1196
3. Yes, JS for the webpack config is fine.

[2017-10-03 16:19] gondzo commented on #990
yes, it's available for pickup again

[2017-10-03 16:20] gondzo commented on #1026
this one is available for pickup

[2017-10-03 18:07] maxceem commented on #1196
I've fixed everything and was ready to make a pull request when realized that I removed npm-shrinkwrap.json and cannot easily create it because of peer dependencies conflicts.

Can I keep this task, and resolve conflicts, create npm-shrinkwrap.json and submit PR tomorrow morning?
Thank you.

[2017-10-03 18:26] gondzo commented on #1196
Yes, that's fine

On Oct 3, 2017 20:07, "maxceem" <notifications@github.com> wrote:

[2017-10-03 18:50] vic-topcoder commented on #1181
@vikasrohit Did we deploy this one? Please close if it is in production - I thought it is part of the release

[2017-10-03 18:51] vic-topcoder commented on #1104
@vikasrohit what's the latest status of this one?

[2017-10-03 18:52] vic-topcoder commented on #1110
@vikasrohit is this released? please update the status

[2017-10-03 18:53] vic-topcoder commented on #1221
The HTML of the control is very awkward. We need to refactor the react control template to allow for regular styling.

[2017-10-03 18:54] vic-topcoder commented on #1221
@sirakovaDimitrina please advise on what the HTML control for the input should look like so we can have a straight-forward styling. Right now there are negative margins and other artifacts that affect rendering.

[2017-10-03 19:03] mkesselaers commented on #990
Due to time constraints, I will not be able to work on this ticket for now

[2017-10-03 22:09] vic-topcoder opened #1222 "Chatbot project creation specification updates"
Clone it from the Watson chatbot, with the following changes:

- Remove "Watson" from the header (page title becomes "Let's setup your Chatbot project"
- Remove "Do you have an existing IBM Bluemix account?" question

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-74

[2017-10-03 22:09] vic-topcoder opened #1223 "Generic chatbot project URL"
The new Chatbot project creation URL should be `https://connect.topcoder.com/new-project/chatbot`

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-73

[2017-10-03 22:09] vic-topcoder opened #1224 "Chatbot project card on main menu"
The chatbot needs to copy the existing IBM Chatbot card with new content.

Title: "Chatbot"

Text: "Build, train and test a custom conversation for your chat bot"

Use the existing chatbot icon from the Watson chat bot card.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-72

[2017-10-03 22:09] vic-topcoder opened #1225 "Create new generic project type on Connect"
We must have the new project type on the Project services - generic chatbot - "Chatbot"

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-71

[2017-10-03 22:26] vic-topcoder commented on #1173
We want new fields on project creation/specification to pass to SFDC. The existing fields from Direct are not useful for managers working on Connect + SFDC. I'll have to provide updated design, for the time being I think we have to add those as two text input fields above notes in project creation for all projects.

[2017-10-04 05:22] maxceem commented on #1196
I'm a little bit confused about NPM version and `npm-shrinkwrap.json` file.
Which NPM versions we have to use to work on this project and in particular create `npm-shrinkwrap.json` file?
Project readme requires us to use npm v3, though `npm-shrinkwrap.json` already contains unresolved issues in opinion of npm v3 so I think `npm-shrinkwrap.json` couldn't be created using v3.

I see in `npm-shrinkwr

[2017-10-04 05:35] vikasrohit commented on #1196
@maxceem Try with node v8.5.0 and npm v5.3.0, it should work.

[2017-10-04 05:51] vikasrohit commented on #1104
@vic-topcoder I have already pointed to the actual issue reported in this issue. Here it is again, https://github.com/appirio-tech/connect-app/issues/1104#issuecomment-329694958

In simple words, please try creating a project using link http//connect.topcoder-dev.com/new-project/wireframes, just enter the name of the project, refresh the page or reopen the link, now you would see the incomplete pr

[2017-10-04 06:26] #1110 closed

[2017-10-04 06:28] #1181 closed

[2017-10-04 07:23] gondzo commented on #1196
Also, general workflow to update shrinkwrap would be
- npm install with old npm-shrinkwrap (with --no-optional to skip fsevents)
- update package.json, remove npm-shrinkwrap
- npm install with new package json
the new npm-shrinkwrap will have just the minimal diff

[2017-10-04 07:25] vikasrohit commented on #1223
@vic-topcoder we already have `chatbot` project category support in our previous release for two tier menu. `chatbot` is a generic category for all chatbot products that we might support in future. Watson chatbot `watson_chatbot` is one of those products. And now we have a new generic chatbot product so it could be given an unique id something like `generic_chatbot`, so the URL would be `https://c

[2017-10-04 07:35] vikasrohit commented on #1225
@vic-topcoder we already have `chatbot` project category support in our previous release for two tier menu. `chatbot` is a generic category for all chatbot products that we might support in future. Watson chatbot `watson_chatbot` is one of those products. And now we have a new generic chatbot product so it could be given an unique id something like `generic_chatbot`.

[2017-10-04 07:42] vikasrohit commented on #1224
Done.

[2017-10-04 07:43] vikasrohit commented on #1222
Done. You can play with changes in dev.

[2017-10-04 23:02] vic-topcoder opened #1227 "Google Analytics ID + Click ID integration for marketing"
We need to add the collection of information for Marketing with the full integration of Google analytics ID + Click ID for Greg's team

We need to capture the Google Analytics Click ID (GCLID) and Google Analytics Client ID (GACID) on form submissions. These come from two cookies: `_gacid` and `_gclid`. Google assigns a GACID to everyone on the internet, so we should always be able to capture that

[2017-10-05 02:47] vic-topcoder opened #1229 "Remove chatbot project category screen on back button"
On clicking back button from generic chatbot project there's a new category view for chatbots. We don't want to have a category for chatbots, and thus this screen should not exist.

![screen shot 1](https://user-images.githubusercontent.com/8484061/31208939-de85fce8-a93c-11e7-8f24-426064a735cd.png)

Expected: Clicking on back button should show the main project list page
![screen shot 2](https://u

[2017-10-05 02:49] vic-topcoder opened #1230 "Fix typo: "chat bot" should always be spelled "chatbot""
On the main project card text uses "chat bot" in description; it should be always spelled "chatbot"; please review and fix.

[2017-10-05 02:53] vic-topcoder commented on #1223
Ok, thanks, I'll review with marketing for SEO. We can change the category URL to not take important text, right?

[2017-10-05 02:53] vic-topcoder commented on #1225
Connected to #1223. I'll update you on this tomorrow.

[2017-10-05 03:25] mtwomey commented on #1035
@vic-topcoder Can I get a recap on what tool or analytic we're using and how it's misbehaving currently (with the URL not-rewriting), so that we can be sure that we make changes that ultimately meet that goal? (or if I'm mis-understanding the business goal, please advise)

[2017-10-05 05:07] vikasrohit commented on #1230
Okay, Just followed the exact copy from #1224 😬
Fixed. should be there in dev by EOD.

[2017-10-05 05:22] vikasrohit commented on #1223
Didn't understand. We can not change category URL now for any of the project because we are using id of the project category to fetch the correct category.

[2017-10-05 05:34] vikasrohit commented on #1229
Thanks for catching it. Fixed it now.

[2017-10-05 05:53] vikasrohit commented on #1035
@mtwomey Sorry to jump in when you are asking @vic-topcoder 😬

However, IMO, if the problem is only the analytics, we can do custom analytics here by explicitly calling segment events on every step change of the wizard. My only concern is that we should not change URL when wizard step changes in modal view of project creation wizard, unless it provides a very useful use case to the customers.

[2017-10-05 06:04] vikasrohit commented on #1205
@vic-topcoder Did you get chance to play with it?

[2017-10-05 06:09] vikasrohit commented on #1173
Okay. Please let me know when we want to add the new fields. I think we just need to add these two fields to project questions templates for each project type and rest the framework would take care of it. I am afraid that we would be able to customize the look and feel of these two new fields.

[2017-10-05 07:44] vikasrohit commented on #1212
Changes done in feature branch. Waiting for the current milestone of 'chatbot' to be delivered first before getting this one merged into dev.

[2017-10-05 15:28] kevinkid commented on #990
I might work on it if i solve #1026 on time . Sorry for picking it up @mkesselaers

[2017-10-05 16:38] vic-topcoder commented on #1223
Ok, for Chatbot projects category I want the URL to be `/new-project/all-chatbots` and the generic chatbot to be `new-project/chatbot`, Watson chatbot should be the same URL. The URL should be free to be modified from the ID as this is SEO-focused. Please make it as the above

[2017-10-05 16:41] #1222 closed

[2017-10-05 16:41] #1224 closed

[2017-10-05 16:41] #1225 closed

[2017-10-05 16:41] #1229 closed

[2017-10-05 16:41] #1230 closed

[2017-10-05 16:42] vic-topcoder commented on #1212
Can we roll it with Chatbot release please?

[2017-10-05 16:43] vic-topcoder commented on #1205
yeah. The back button of the wizard works. We have to fix the browser back/forward buttons next. Opening a new issue

[2017-10-05 16:46] vic-topcoder opened #1233 "Project Wizard breaks browser navigation - back and forward"
The users should be able to navigate between the wizard pages using just the browser back and forward buttons. Any time we see a new page, it should behave with the browser default history - we must fix this. It is very very important as everybody uses back and forward buttons on browsers!

[2017-10-05 16:57] mtwomey commented on #1035
@vic-topcoder This is why I'm asking. I just want to make sure we're all on the same page as to what we're actually pursuing and why. So that we can re-confirm we're actually solving _the_ problem (or solving _a_ problem). @vic-topcoder

[2017-10-05 20:03] vic-topcoder commented on #1035
The wizard is presented as a full page. Navigation between wizard screens are new pages. They should all have unique URL in logged in or logged out state. This should allow the use of browser history, browser back and forward buttons, and sharing the copy-share the URL.

For analytics, I think we use Segment, but I'm not sure. I have to actually do a deeper dive of how we instrumented Connect and

[2017-10-05 20:59] kevinkid commented on #1026
Still working on this one , might need help running it on windows . Am getting ReactHotAPI is not a function .

[2017-10-05 21:33] vic-topcoder commented on #1227
Hey guys, let's figure out what is the scope of this data capture and how we can send this to SFDC.

[2017-10-05 22:06] mtwomey commented on #1035
@vikasrohit @vic-topcoder  - please see below and ask any clarifying questions. We'd like to understand your recommended solution for this so we can move forward quickly.

OK - Victor and I on the phone right now and flushing our the desired user behavior. This is the agreed goal we're trying to meet on this request / issue:

**User Story**

As a logged in user I want to be able to copy the links

[2017-10-05 22:27] mtwomey opened #1234 "Functions of the "Connect Logo", "Back", "Esc" buttons in logged in and logged out states"
## Solve along with #1035 ##

Note the below requirements refer to using the project creation screens:

* While the user is logged in
* While the user is logged out
* When the user has arrived at the project creation page (or sub-page) through the use of a direct (or deep) link

_Connect Logo Button_
The Connect Logo button in the upper left should appear during the first project creation view (se

[2017-10-05 22:29] mtwomey commented on #1035
Note @vikasrohit - we'd like to complete #1234 prior to continuing on this one.

[2017-10-05 22:47] #1195 closed

[2017-10-05 22:48] #1177 closed

[2017-10-05 22:48] #1178 closed

[2017-10-05 22:48] #1179 closed

[2017-10-05 22:48] #1180 closed

[2017-10-06 07:49] vikasrohit commented on #1223
I don't think it is possible. In any case we have to include an id in the seo url. e.g. stackoverflow adds question id before making it seo friendly like this https://stackoverflow.com/questions/820493/can-an-seo-friendly-url-contain-a-unique-id

How can two different products have same URL?

I am afraid it is possible now because we already have a category for chatbots and its id is `chatbot` so

[2017-10-06 07:50] vikasrohit commented on #1233
How it is different from #1205

[2017-10-06 08:00] kevinkid commented on #1026
Yeah i cant finish this on time .

[2017-10-06 09:12] gondzo commented on #946
Looks good. Thanks.

[2017-10-06 09:13] #946 closed

[2017-10-06 09:14] gondzo commented on #994
Looks good. Thanks.

[2017-10-06 09:47] mish24 commented on #1026
I want to work on this, not for the competition, just to get started with the project

[2017-10-06 10:24] kevinkid commented on #1026
Please give it a try and give updates on your progress @mish24

[2017-10-06 10:59] mish24 commented on #1026
It's weird. Both the pages are showing the same gray background with no circle.

[2017-10-06 15:28] vic-topcoder commented on #1223
My bad - Watson URL is the same should read "the Watson URL shouldn't change".

We have a new URL for categories, and ideally we should use the same naming pattern. I would suggest we use `/all-categorytype` -  so design project category page will have URL as `~/all-designs`, chatbots: `~/all-chatbots`, development `~/all-development` to make it consistent. This would allow us to have a singular n

[2017-10-06 16:00] vic-topcoder commented on #1233
The browser navigation buttons are different from the wizard back button.

Wizard back button:
<img width="89" alt="screen shot 2017-10-06 at 8 54 44 am" src="https://user-images.githubusercontent.com/8484061/31286763-0c4e0fde-aa74-11e7-96a5-f26abcdf2be1.png">
Browser navigation buttons:
<img width="416" alt="screen shot 2017-10-06 at 8 54 50 am" src="https://user-images.githubusercontent.com/8484

[2017-10-06 16:40] gondzo commented on #1064
Changes merged.

[2017-10-06 16:40] #1064 closed

[2017-10-06 16:41] #1165 closed

[2017-10-06 16:41] gondzo commented on #1192
Looks good

[2017-10-06 16:42] #1192 closed

[2017-10-06 16:59] gondzo commented on #1059
Looks good. Thanks.

[2017-10-06 16:59] #1059 closed

[2017-10-06 19:17] vic-topcoder opened #1235 "Deep link doesn't open proper page if a project was not completed and user clicks "Create New Project""
When a user has canceled a project creation and they go to a specific deep link (https://connect.topcoder.com/new-project/watson_chatbot) the system shows the correct "Unfinished screen"

![screen shot 5](https://user-images.githubusercontent.com/8484061/31294364-7923449c-aa8f-11e7-9af0-4801c24dee92.png)

Upon clicking on "Create a new project" the system ignores the deep link and redirects to the

[2017-10-07 00:33] vic-topcoder opened #1236 "Steps needed to push Dev to Release"
We changed the generic "chatbot" project category to "all-chatbots", and "generic_chatbot" project type to "chatbot"; "watson_chatbot" remains the same.

In order to update the Elastic Search (ES) cache for the changes on the existing chatbot projects, we had to recreate the whole cache. @mtwomey wrote a tool to do so.

For the push to production, we have to:

1. Deploy the project service;
2. Upd

[2017-10-07 00:36] vic-topcoder commented on #1223
We did the modification to the project ID and category ID, so the things are as desired right now. I would strongly suggest to name any collection as plurals, to better represent it. That's why I renamed `chatbot` to `all-chatbots`. If we refactor other categories they would become `all-designs` and `all-software` (software is non-countable). The changes are in Dev and we figured out what is neede

[2017-10-07 00:36] #1223 closed

[2017-10-07 09:27] gondzo commented on #1026
Right, this might have been fixed by #1170

[2017-10-07 09:27] #1026 closed

[2017-10-08 09:58] gondzo commented on #990
looks good.

[2017-10-08 09:58] #990 closed

[2017-10-09 04:03] #1183 closed

[2017-10-09 04:11] vikasrohit commented on #1233
@vic-topcoder I think we created #1205 for handling the browser back button only. Anyway, I have already implemented that behaviour in the [feature branch](https://github.com/appirio-tech/connect-app/tree/feature/back-forward-button-project-wizard) and got it deployed to dev environment for a particular day. I want to make sure it does not break anything else, hence, would like some one else to pl

[2017-10-09 04:25] vikasrohit commented on #1236
I got better idea @vic-topcoder @mtwomey. I am never in favour of direct updating database (updating ES is okay as it it not a source of truth and can be updated to facilitate new use cases). And as far as tool for updating index in ES for project is concerned, I think we already have one here https://github.com/topcoder-platform/tc-project-service/tree/dev/migrations.

[2017-10-09 04:50] vikasrohit commented on #1236
@vic-topcoder @mtwomey if you still think the database update worth it, I think we can use https://github.com/parthshah/aws-es-cli to update  records selectively instead of rebuilding whole index. I have done one member index update in past using this utility.

[2017-10-09 05:11] vikasrohit commented on #1235
@vic-topcoder @mtwomey more or less this is something I am talking about in #1104. May be my description was not straightforward. Now I will augment this issue with more details.

What does the cancel mean?

If we consider, user closing the tab/browser as cancel intent (for my previous question), then I am not able to understand the existence of 'Incomplete Project' screen at all. If we alway load

[2017-10-09 05:12] vikasrohit commented on #1212
Merged changes into dev for releasing it in current release.

[2017-10-09 09:40] vikasrohit opened #1240 "SEO friendly URLs for deep links (without database and ES update)"
This issue is to track development for providing SEO friendly URLs for deep links, without updating database and ES cluster unlike #1236 .

This would allow us to provide aliases for each project category and each product under each category. These aliases would be used to construct the wizard step URLs and can be used  (along with existing deep links which uses product ids) in deep links.

[2017-10-09 09:41] vikasrohit commented on #1236
@vic-topcoder as per slack discussion I am doing changes to allows us achieving SEO friendly URLs without updating database here #1240

[2017-10-09 14:25] vikasrohit commented on #1233
@vic-topcoder @mtwomey I have got it merged into dev. Would it be okay to release this with https://github.com/appirio-tech/connect-app/milestone/15 release? If not, I have to revert it back.

[2017-10-09 17:26] vic-topcoder commented on #1104
Yes, if the user opens the same link/reloads the page, we should skip the "incomplete project" page and just reload the last state of the same page. If the user loads another deep link before submitting the page, we should show the incomplete project screen. In that case clicking on the "create a new project" should redirect to the correct form from the last deep link instead of the project main s

[2017-10-09 17:28] vic-topcoder commented on #1235
Cancel means the customer has opened a project creation form, entered some details, but didn't use the "continue" button.

This is true

That is not the behavior that we anticipate. The particular case here is when the new project creation form is triggered through a deep link. Most of the time the project creation would start from a  "Create project" button (main page).

It is a storage of the fo

[2017-10-09 17:32] vic-topcoder commented on #1233
Works good to me - navigates between the pages ok. Only exception is the missing "incomplete project" page that doesn't show. I'll add another issue to close this one.

[2017-10-09 17:40] #1212 closed

[2017-10-09 19:50] #1236 closed

[2017-10-09 19:51] #1240 closed

[2017-10-10 07:05] vikasrohit commented on #1235
@vic-topcoder I have updated your comment to do some formatting. 😬

[2017-10-10 21:17] vic-topcoder opened #1243 "Connect Admin role"
Create a new high level Connect Admin role that can do everything in the system faster and doesn't go through typical user flows

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-13

[2017-10-10 21:17] vic-topcoder opened #1244 "Admin view of projects"
Reuse the grid view of projects to allow for admin functions - add/modify organizations, set project status. We can either allow this view on the current project view, or switch to a new page URL, reusing the same components (the question is why an admin should navigate to 2 pages).

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-17

[2017-10-10 21:17] vic-topcoder opened #1245 "Admin can set status without joining the project"
Admins should have edit permissions enabled at all times for all projects. The system should not generate notifications unless we specifically establish so (An admin just canceled your project, and admin edited somebody's post - we should keep admin activity inconspicuous).

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-18

[2017-10-10 21:17] vic-topcoder opened #1246 "Expand customers' profiles to contain organization and phone number"
Managers want to collect organization/business and phone numbers for new customers; this information should be copied to SFDC.

To research:

- Do we keep all profiles synced in 1 place?
- Do we change SFDC customer data?
- How do we keep the data in sync between Connect and SFDC?

From Clinton -  Sales needs this data to customer profile in order to operate nomrally:

Name, Company, Email, Phone,

[2017-10-10 21:17] vic-topcoder opened #1247 "Send project owner's user @handle to SFDC project lead object"
when a lead is created in SFDC from connect, we want to set the lead's handle in SFDC linking to its profile page to be able to open profile page quickly.

Nikita: I will create a field on SFDC ..on lead object..with the API name handle

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-76

[2017-10-10 21:17] vic-topcoder opened #1248 "Qualify projects flag"
There's a need to mark a project as qualified from SFDC (Salesforce), and it depends on project budget and expected timeline, amongst other things. The request is to allow a project to be qualified from Salesforce and this flag is transitioned to the Connect project. It should also be established in Connect - a way to modify the flag. The flag is binary (Yes/No).

Created from Aha! https://topcode

[2017-10-10 21:17] vic-topcoder opened #1249 "Design API for Bus API Server"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-67

[2017-10-10 21:17] vic-topcoder opened #1250 "Design API for Notifications Server"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-66

[2017-10-10 21:17] vic-topcoder opened #1251 "Notification content templates"
We must define new email templates for notifications that are user friendlier. Allow to modify notifications frequency or go to notifications center on Connect.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-60

[2017-10-10 21:17] vic-topcoder opened #1252 "Extend notification types"
Allow the system to generate more notifications beyond post and activity; defining custom notifications for different user roles: Admins can get notifications of new projects being reviewed or picked up by copilots, etc.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-58

[2017-10-10 21:18] vic-topcoder opened #1253 "Add organization to project"
Extend project data with a new record - organizations. Each project should have a default organization. Organizations can be set by admins in admin view, we have to discuss if a customer creates project how we do identify what organization they create the project from.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-14

[2017-10-10 21:18] vic-topcoder opened #1254 "Ability to set organization to project"
Connect admins can set set organization of the project in the list view

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-16

[2017-10-10 21:18] vic-topcoder opened #1255 "Set project status without joining project (Admins + Managers)"
Version 1 - allow admins to quickly set project status without joining project; limit the amount of emails sent during admin actions, set project organization as flag;

Created from Aha! https://topcoder.aha.io/features/AVD-23

[2017-10-10 21:23] #1205 closed

[2017-10-10 21:23] #1221 closed

[2017-10-10 21:23] #1233 closed

[2017-10-10 21:55] mtwomey commented on #1227
@vikasrohit Do you understand how the current Salesforce integration w/Connect works and is this enough information to proceed? If not, we may need to loop back with Greg and Harshit

[2017-10-10 21:59] mtwomey commented on #1175
@vikasrohit I understand this is basically a review to the previous behavior. Please confirm if you have enough info to proceed.

[2017-10-10 23:34] vic-topcoder opened #1257 "Figure out which organizations are going to be on Connect for v0.1"
What is the list of organizations for all projects on Connect?

Support Topcoder, Wipro, Internal product development, Demo projects, Wipro groups

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-77

[2017-10-10 23:34] vic-topcoder opened #1258 "Notification bundling"
Create the rules and hierarchy for notifications to avoid cognitive overload of the user;

Based on the events we should drive to provide just enough notifications to help the user navigate during a project.

Importance and frequency are to be considered.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-62

[2017-10-10 23:34] vic-topcoder opened #1259 "Push notifications"
Create integration with the browser to send push notifications to the desktop. Would be used in a mobile app context as well

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-64

[2017-10-11 02:45] kevinkid commented on #1259
Please assign me this issue

[2017-10-11 04:59] vikasrohit commented on #1259
@kevinkid Thanks for your interest. However, only things marked with `community-task` label are usually available for community to pick up and that too only when there is some challenge is in progress for those tasks.

[2017-10-11 05:09] vikasrohit commented on #1175
Yes, I have required information.

[2017-10-11 05:59] kevinkid commented on #1259
Got it !

[2017-10-11 13:46] vikasrohit commented on #1234
@vic-topcoder @mtwomey I have updated the code so that now it would not use modal for project creation for a logged in user. So, it would be similar to the non logged in view. It solves #1035 as now without modal, URL changes would work fine.
However, I still need to fix few things around non logged in view though. Today I got stuck with a complicated issue in handling incomplete project screen an

[2017-10-11 13:47] vikasrohit commented on #1235
Should be fixed and changes available in dev env.

[2017-10-11 13:48] vikasrohit commented on #1104
Should be fixed and change in dev env.

[2017-10-11 13:48] vikasrohit commented on #1035
Should be fixed and changes are in dev.

[2017-10-11 16:32] vikasrohit commented on #1227
@vic-topcoder @mtwomey I know about salesforce integration pretty well, however, I am not sure about the actual requirement around Google Analytics. I am under impression that all analytics work is handled via segment (which in turn talks with Google analytics) and it is handled via Parallel Path guys. I will talk with Harshit for getting more information on this.

[2017-10-11 21:04] vic-topcoder commented on #1227
Thanks @vikasrohit. Greg mentioned Harshit knows what the issue is.

[2017-10-12 07:23] vikasrohit commented on #1234
@vic-topcoder Did you get chance to play with it? Please let me know if you found any issue with it. I would be doing more testing today on dev.

[2017-10-12 10:16] harshitmehta123 commented on #1227
For instapages we captured the value of the cookies, put them in hidden fields and sent it to salesforce via instapge inbuilt integrations.

[2017-10-12 12:35] vikasrohit opened #1263 "Blank screen shown momentarily while project is being created"
There is an intermediate empty screen shown when user clicks on 'Continue' button on the project details form.
<img width="1280" alt="screen shot 2017-10-12 at 6 04 03 pm" src="https://user-images.githubusercontent.com/2417632/31496138-c726cca8-af77-11e7-8606-3d2c569af536.png">

fyi @vic-topcoder please assign it to appropriate milestone.

[2017-10-12 20:38] vic-topcoder commented on #1227
@harshitmehta123 do you know what is needed as data from Connect? What do we need to capture and send? Can you discuss with @vikasrohit and resolve please? Thanks!

[2017-10-12 20:39] vic-topcoder commented on #1173
Let's add it for the release. Have to confirm if we can send the data to SFDC.

[2017-10-13 04:26] vikasrohit commented on #1227
@vic-topcoder Discussed things with Harshit. I think I know the details.

[2017-10-13 05:51] vic-topcoder commented on #1227
Please proceed with it after the "Real World Testing" release

[2017-10-13 10:46] vikasrohit commented on #1263
Fixed the screen so that it now shows the loading spinner to give some feedback to user that something is happening.

[2017-10-13 10:59] vikasrohit commented on #1114
While doing the changes for https://github.com/appirio-tech/connect-app/issues/1104, I have to revert changes made for this issue. Reopening it to analyze further.

[2017-10-13 11:07] vikasrohit commented on #1235
Verified on production. Seems to work fine to me.

[2017-10-13 11:07] vikasrohit commented on #1035
Verified on production. Seems to work fine to me.

[2017-10-13 11:08] vikasrohit commented on #1234
Verified on production. Seems to work fine to me.

[2017-10-13 11:17] vikasrohit commented on #1104
Verified on production. Seems to work fine for me.

[2017-10-13 12:40] gondzo opened #1266 "Update react-router to v4"
Target version is react-router v4.2.0
Related issue #1196

[2017-10-14 04:00] vic-topcoder commented on #1245
Design spec is here: https://drive.google.com/drive/folders/0B1LbmKnex41fcDc0eVFPcldLckU?usp=sharing

[2017-10-14 04:00] vic-topcoder commented on #1244
Design here: https://drive.google.com/drive/folders/0B1LbmKnex41fcDc0eVFPcldLckU?usp=sharing

[2017-10-14 04:01] vic-topcoder commented on #1217
Design here: https://drive.google.com/drive/folders/0B1LbmKnex41fcDc0eVFPcldLckU?usp=sharing

[2017-10-14 04:02] vic-topcoder opened #1267 "Navigation small updates"
It would be nice to update the Connect navigation to be a bit more user-friendly.

Design is here: https://drive.google.com/drive/folders/0B1LbmKnex41fcDc0eVFPcldLckU?usp=sharing

[2017-10-14 04:03] vic-topcoder opened #1268 "Project sidebar visual updates"
It's nice to reuse the same component from the user project view cards in the project dashboard. Beyond that, the links should be fixed to look like real links.

Design is here: https://drive.google.com/drive/folders/0B1LbmKnex41fcDc0eVFPcldLckU?usp=sharing

[2017-10-14 05:19] #1035 closed

[2017-10-14 05:19] #1104 closed

[2017-10-14 05:19] #1234 closed

[2017-10-14 05:19] #1235 closed

[2017-10-14 05:19] #1263 closed

[2017-10-14 06:28] vic-topcoder commented on #1258
Design: https://drive.google.com/drive/folders/0B1LbmKnex41fVUpBQzBVdkpLOGs?usp=sharing

[2017-10-14 06:28] vic-topcoder commented on #1251
Design: https://drive.google.com/drive/folders/0B1LbmKnex41fVUpBQzBVdkpLOGs?usp=sharing

[2017-10-16 12:13] vikasrohit commented on #1175
Changes are deployed to dev env for review.

[2017-10-16 12:14] vikasrohit commented on #1174
Changes are in dev env for review.

[2017-10-17 06:19] vikasrohit commented on #1173
@vic-topcoder I think we need to decide on type of the those fields as well. I mean if we make them a textbox that would not serve the general purpose and people might fill it with bad data and further we won't be able to use this data in reporting. On the other hand we also need to allow users to fill some kind of flag value for the case they don't have any estimation on their budget or timelines

[2017-10-17 13:47] jpoarch commented on #1173
Great timing -- we discussed this last week and here's what we would like to have as mandatory fields to _submit_ a project:

**Do You Have Budget?**
Three options: a. I have no idea, that's why I'm here, b. I have a rough window in mind, c. I have an established budget to the penny

**Project Budget**
I would prefer to give them the ability to put in a budget vs. a range, but I could be convinced

[2017-10-17 14:11] vikasrohit commented on #1173
Thanks @jpoarch for the update.

No issue with that if we are asking about having a budget in separate question. However, the current system does not support linked questions i.e. question which changes options or hide/show itself based on another response to other question by user. So, if we are okay with two questions per item (e.g. budget) which are not dynamic, we can implement these set of qu

[2017-10-17 17:36] jpoarch commented on #1173
I'm ok with that if we have the same answer for two -- because the other options for each are different. Getting started vs. having the project complete are two different things.

[2017-10-18 03:34] vikasrohit commented on #1173
Okay @jpoarch Are you okay with two unlinked questions for budget? Meaning changing option in `Do you have budget?` question would not affect the next questions `Project Budget`.

[2017-10-18 04:29] vikasrohit commented on #1247
Picking this one in current release as we are adding two fields to SFDC integration in current release under #1270

[2017-10-18 05:38] vikasrohit opened #1271 "Misaligned error area for Project name field."
Seems like it happened after changes for #1221

<img width="777" alt="screen shot 2017-10-18 at 11 05 23 am" src="https://user-images.githubusercontent.com/2417632/31884566-26c22680-b80b-11e7-83d6-b02346fc452e.png">

fyi @vic-topcoder

[2017-10-18 13:33] jpoarch commented on #1173
Yes - two unlinked questions will be fine.

[2017-10-18 14:22] vikasrohit commented on #1173
Cool. Would it be okay for you @jpoarch to have it released next week? There are two releases colliding this week, one is for mobility testing product being added to the catalogue and another is where this issue is allocated. I would like to have some testing before adding these new fields to all project templates.

[2017-10-18 14:26] jpoarch commented on #1173
Next week would be great. Does this mean we will go back to draft projects as well and have a "submit your project" along with these? We would like these to be required to submit, but not to create a draft.

[2017-10-18 14:54] vikasrohit commented on #1173
Thanks, that would take some load off from me this week. 👍

We are bringing back draft project along with 'Submit for Review' button, this week only. We would be doing production release tomorrow for this.

I think technically we can do that. However, I think basic idea for new project wizard to ask for the mandatory fields only. So, if these two fields are not mandatory, we can skip showing them

[2017-10-18 15:06] vikasrohit commented on #1173
@vic-topcoder @mtwomey Moved to next week's release.

[2017-10-19 06:21] #1175 closed

[2017-10-19 06:22] vikasrohit commented on #1198
@wdprice Its done. Mobility testing is available on production.

[2017-10-19 06:22] #1198 closed

[2017-10-19 10:41] #1227 closed

[2017-10-19 10:41] #1247 closed

[2017-10-19 22:26] gondzo opened #1276 "[$50] Error in console when navigating to /login"
RedirectComponent doesn't return anything thus when navigate /login there is error in console:
`Error: RedirectComponent(...): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

[2017-10-19 22:27] gondzo opened #1277 "[$50] Console errors when viewing project specifications"
When opening project specifications there are warning in browser console:
```Warning: Failed prop type: Invalid prop `value` of type `string` supplied to `SpecFeatureQuestion`, expected an array.```

```Warning: Failed prop type: Invalid prop `addedFeatures` of type `string` supplied to `FlattenedFeatureList`, expected `array`.```

```Warning: Failed prop type: The prop `children` is marked as req

[2017-10-23 10:32] vikasrohit opened #1278 "Unnecessary box shadow around Screen section for design projects"
<img width="793" alt="screen shot 2017-10-18 at 7 53 47 pm" src="https://user-images.githubusercontent.com/2417632/31884642-761f8fec-b80b-11e7-9d90-e83639c550c0.png">
fyi @vic-topcoder

[2017-10-23 14:18] vic-topcoder commented on #1276
@mtwomey @vikasrohit FYI

[2017-10-23 14:19] vic-topcoder commented on #1277
@vikasrohit @mtwomey FYI

[2017-10-23 15:03] vic-topcoder opened #1279 "Project cards icons are spaced wrong"
### Expected behavior
Icons should be 32px x 32px block 30px from top  and heading 20px underneath.
<img width="826" alt="screen shot 2017-10-23 at 10 59 56 am" src="https://user-images.githubusercontent.com/8484061/31896417-b62b17fc-b7e1-11e7-9031-bc2681cc2950.png">
<img width="427" alt="screen shot 2017-10-23 at 11 00 06 am" src="https://user-images.githubusercontent.com/8484061/31896422-b8f0ffb

[2017-10-23 23:19] gondzo commented on #1266
This is now complete and merged to test02 branch. Are we OK for merging to dev? @vikasrohit @mtwomey

[2017-10-24 06:28] vikasrohit commented on #1266
If routing is working fine there, I guess we can merge.

@mtwomey I am okay with it as we don't have any major release coming up which can conflict with this change.

[2017-10-24 12:22] vikasrohit commented on #1173
@jpoarch If you get chance, can you please have a look at https://connect.topcoder-dev.com/projects/1905/specification? I have added the new questions for website projects and temporarily deployed it to dev.
If you have any suggestion to improve the intake for these new questions, please let me know.

[2017-10-24 14:39] sachin-maheshwari opened #1280 "Spelling mistake on 'Specification' page"
### Expected behavior
'timing'

### Actual behavior
'timeing '

### Steps to reproduce the problem
https://connect.topcoder.com/projects/{projectid}/specification

### Screenshot/screencast
![connect_specification](https://user-images.githubusercontent.com/6467888/31949279-972d8a7c-b8f6-11e7-9a0e-d32391bf355d.png)

--

#### Environment
- OS: Any
- Browser (w/version): All
- User role (client, copi

[2017-10-24 16:34] vikasrohit opened #1281 "[$150] Messages are not chronologically sorted"
When a new member joins the team for the project, it seems it disturbs the order of messages.

Steps to reproduce:

- Login and open any project
- Add 3-4 messages on the dashboard
- now update few messages (including code bot ones) by posting comments against them, but please make sure you don't update them in there creation order i.e. add comments to messages out of their creation time order.
-

[2017-10-24 19:12] jpoarch commented on #1173
How do I access that page? Gives me login, but my account doesn't work in Dev.

On Tue, Oct 24, 2017 8:22 AM, vikasrohit notifications@github.com  wrote:
@jpoarch  If you get chance, can you please have a look at
https://connect.topcoder-dev.com/projects/1905/specification? I have added the
new questions for website projects and temporarily deployed it to dev.
If you have any suggestion to improve

[2017-10-25 04:58] vikasrohit commented on #1173
@jpoarch I will ping the password on slack DM. Please try this link in private browsing so that cookies does not mess with your production account login

[2017-10-25 07:27] vikasrohit commented on #1268
@vic-topcoder Didn't get where we are to use cards view in side bar? Only changes I can see in the proposed design are:

1. % completeness of the project (I am not sure how would we determine it)
2. Hyperlink styles

[2017-10-26 07:12] vikasrohit commented on #1173
Did you get chance to look into it @jpoarch ?

[2017-10-26 07:13] vikasrohit commented on #1267
@vic-topcoder There is a `+` icon just before the user dropdown in the navigation bar. I am not able to understand what it is for.

[2017-10-30 02:57] gondzo commented on #1266
Yes, router push is the major difference. Instead of router.push, we are using history.push . Also we are using react-router-dom instead of react-router module.

[2017-10-30 07:45] vikasrohit commented on #1173
@jpoarch are we good to replicate the same for other project types?

[2017-10-30 15:25] vic-topcoder commented on #1281
Can we get an estimate how much work a fix for this would be? If it is a quick fix - we might do this, but if it is too expensive/customizing Discourse too much, we might drop it. @mtwomey FYI

[2017-10-30 15:28] vic-topcoder commented on #1267
![transition-updates-dashboard-update](https://user-images.githubusercontent.com/8484061/32179273-3b4d1a2e-bd4c-11e7-9d78-aee1f1fa6f9e.png)

[2017-10-30 15:35] vic-topcoder commented on #1173
@vikasrohit @jpoarch great work on the feature. I would recommend we use radio buttons instead of drop-down. The drop-down (select) is the worst UX for a form, so we should avoid it at all cost. Also - coming up with a smaller range would be better - we have a bit too many options for a customer to pick from. Ideally it'll be a range between 3 and 5 options to pick from (going with 3 would be the

[2017-10-30 17:14] vic-topcoder commented on #1174
I don't see it in dev right now. Is the button back in latest dev? @vikasrohit

[2017-10-30 20:25] #1174 closed

[2017-10-31 05:07] vikasrohit commented on #1267
But we didn't have the new project button on project details page earlier, so it is new feature, right? And should we show this button to customers as well or this should be there only for power users.

[2017-10-31 18:43] gondzo commented on #1249
this one is now complete
http://www.topcoder.com/challenge-details/30059830/?type=develop
Can we create a new repo to push the code to ? @mtwomey @vic-topcoder

[2017-10-31 18:44] gondzo commented on #1250
Challenge spec > http://www.topcoder.com/challenge-details/30060206/?type=develop&noncache=true

[2017-10-31 18:44] gondzo commented on #1252
this will be supported by the new Notifications server

[2017-10-31 19:38] vic-topcoder commented on #1267
Show it for power users currently. Thanks!

[2017-10-31 22:36] vic-topcoder opened #1283 "Change Watson Chatbot project title"
The project title for IBM Watson projects should change from
"Let's setup your Watson Chatbot project"
to
"Chatbot powered by IBM Watson®"

There are no other changes to the form or description. URL stays the same. Can we get this changes and deployed to production for tomorrow, Nov 1st, 9am PST?

@mtwomey FYI

[2017-10-31 22:41] mtwomey commented on #1255
@vic-topcoder Shouldn't this issue be under the other milestone?

[2017-11-01 06:57] vikasrohit commented on #1283
@vic-topcoder That title is a generic title which just replaces the project type in the placeholder i.e. it is a string template like `Let's setup your %project_type_brief% project`. If we have to update this for a particular project type, we have to support it for all project types and use the current template as default for all project types where we don't have specific title.

[2017-11-01 09:44] vikasrohit commented on #1283
Done as I described above. Will deploy it to production by EOD.

[2017-11-01 10:11] vikasrohit commented on #1173
@vic-topcoder The problem with radio buttons is that they are wrapping into two lines which is not looking good.

<img width="782" alt="screen shot 2017-11-01 at 3 40 28 pm" src="https://user-images.githubusercontent.com/2417632/32270241-113facda-bf1b-11e7-84bb-5ab44d0f41e2.png">

[2017-11-01 12:44] #1266 closed

[2017-11-01 16:53] vic-topcoder commented on #1283
Looks great, awesome job, @vikasrohit

[2017-11-01 16:53] #1283 closed

[2017-11-02 03:10] gondzo commented on #1251
@vic-topcoder in Profile and Settings screen, where does clicking the X icon lead to ?

[2017-11-02 03:42] gondzo commented on #1251
also, about the logo, we have the color logo, greyscale with 'CONNECT' text and in this design it is greyscale without any text. Should we change any of those ?

[2017-11-02 08:55] vikasrohit commented on #1268
@sachin-maheshwari one thing which I got clarified while working on other updates of project listing, we do have % completeness for a project which is active and we do have a component (`ProgressBar`) for that as well. However, that component is showing horizontal bar based progress.
I have to modify that component to support circular progress bars as well, so you can use `ProgressBar` in https://

[2017-11-02 14:33] gondzo commented on #1251
There are some entities in notification texts: https://monosnap.com/file/E5EGLb4VvRsTE8p3pGDnWnnanQCml4
Are they supposed to be links or just bold text? @vic-topcoder
If it's just bold, does the entire notification body link to the specific item (project, message, etc)?

[2017-11-02 16:10] #1271 closed

[2017-11-02 16:14] gondzo commented on #1280
Change is merged to dev.

[2017-11-02 16:14] gondzo commented on #1279
Change is merged to dev.

[2017-11-02 16:14] gondzo commented on #1278
Change is merged to dev.

[2017-11-02 16:14] gondzo commented on #1196
Change is merged to dev.

[2017-11-02 17:29] vikasrohit commented on #1268
@sachin-maheshwari These are 3 different issue. And scope of this issue is only to handle the sidebar in the project dashboard. The designs shared by Vic are for all other tasks as well. Card view is being handled by separate [issue](https://github.com/appirio-tech/connect-app/issues/1217) and changes for grid view are handled by another.

[2017-11-03 00:24] #1280 closed

[2017-11-03 00:24] #1279 closed

[2017-11-03 00:24] #1278 closed

[2017-11-03 00:24] #1196 closed

[2017-11-03 07:12] vikasrohit commented on #1267
@vic-topcoder I have tried yesterday and today to get this new button on project details, however, I am facing a technical issue with it. It is because the way we have to manage the state of the container of the ProjectWizard. I am not saying that it is not possible at all, but it needs workaround to get it done. I might not have good product manager skills, however, ideally we should not have a l

[2017-11-03 07:20] vikasrohit commented on #1173
@vic-topcoder do we have updates on this one?

[2017-11-03 07:30] vikasrohit commented on #1267
Just for logging, following is the trail and fix for the problem faced because of new project button on details page.

In the CreateContainer we are validating `project.id` prop in the next prop to determine if a new project has been created by the wizard. This logic was causing redirecting back to details page when user clicks on the new project button from the details page because it thinks that

[2017-11-03 18:14] kbowerma opened #1288 "Status update cards should have owners."
### Expected behavior
When  user decides to cancel the project a card is created but it does not say who changed the status.

### Actual behavior
The card should include the user who changed the status.

### Steps to reproduce the problem
cancel a project

### Screenshot/screencast
![image](https://user-images.githubusercontent.com/1180747/32389487-c1e90f94-c098-11e7-9e94-5480de0b5101.png)

--

##

[2017-11-03 18:18] kbowerma opened #1289 "File list should include the created date and owner"
### Expected behavior
The specifications files need to have the timestamp they were created and who created them.

### Actual behavior
The file listing does not have any timestamps or owner,   I can see it in the payload but it does not display in the view.   This should be a super easy fix and is very important to have.  If the customer says I just uploaded a new file you cant figure out what one

[2017-11-03 19:30] dmessing opened #1290 "Incomplete project is dropping ref code"
### Expected behavior
If I have a ref code and I get directed to connect it should carry it through when I get to the new project page.  This should work with the incomplete work as well.

### Actual behavior
Visting the page doesn't work

### Steps to reproduce the problem
- Start a project in connect
- Don't submit the project,  navigate off of the page
- Navigate back to this URL: https://conne

[2017-11-03 19:49] vic-topcoder commented on #1268
@sachin-maheshwari - the changes on this issue are for the project dashboard page:
![transition-updates-dashboard-update](https://user-images.githubusercontent.com/8484061/32392939-dfff0d7a-c094-11e7-83b5-43c0d83c2700.png)

The header of the left column needs to be updated to use the component from the card view on project list (customers).

![transition-updates-home---customer](https://user-image

[2017-11-03 19:51] vic-topcoder commented on #1267
Ok, sounds good. Let's have a solution that would allow us to create projects from different pages. Thanks!

[2017-11-03 22:32] vic-topcoder commented on #1289
@gondzo - let's find how easy it is to add the "last updated" timestamp underneath the file size. Request design support from DaraK if you need help with the design/styles.

The goal is to show to the user when was the file last uploaded, if we overwrite files.

Secondary question: Can we also retrieve the user who uploaded the document? Can we also display that as a tooltip on hover over the upda

[2017-11-05 16:29] gondzo commented on #1251
@vic-topcoder for each notification, there is a checkmark and a blue left border. What does the border represent ? clicking the checkmark will just mark it as read ?

[2017-11-06 21:16] gondzo commented on #881
This one should be solved with recent updates to the challenge pages. they don't contain any opengraph tags so the links are not expanded at all. Related issue in the new challenge pages https://github.com/topcoder-platform/community-app/issues/566

@mtwomey @vic-topcoder are we OK to close this one ?

[2017-11-06 21:24] gondzo commented on #1289
I think both are possible.
One more thing to consider regarding files is linking to them. The links expire after 10 minutes so they can't be shared at all - can't post the link in connect topic, can't add a link in the sidebar, can't share it via email. Can we explore any other strategies for accessing uploaded files? I know they are hosted on aws which makes it a bit more difficult...
@vic-topcod

[2017-11-07 03:13] vic-topcoder commented on #1173
Let's use a smaller range for the users (up to 4 options) and reuse the slider control. This makes it easier to read through.

![screen shot 8](https://user-images.githubusercontent.com/8484061/32475324-06f00b44-c326-11e7-8824-750e87977180.png)

If we need to refactor/restyle the control, let's use the community for that. Live spec is here: https://drive.google.com/drive/folders/1z52tVcNRlXYeaOAog

[2017-11-07 09:04] sachin-maheshwari commented on #1268
PR - https://github.com/appirio-tech/connect-app/pull/1292

[2017-11-07 10:28] vikasrohit commented on #1173
I guess you are referring to the slider we used for Project Creation popup last year. If yes, that component was hard coded to 3 options because of inability to generate the background image dynamically based on number of options.
I think that component is not used anywhere now and we can create a new component from scratch instead. Using community would take more time because we have to complete

[2017-11-07 12:34] vikasrohit commented on #1173
@vic-topcoder I think I got it. I found a good library for rendering the slider and added our customizations to it to make it look like designs. I think I would be able to get it done by tomorrow EOD.

[2017-11-07 13:25] sachin-maheshwari commented on #1268
@vic-topcoder, project delete icon I didn't find in new design. Are we deprecating it ? or should be come on mouseover (as per current UI of 'Links') for particular 'state' and 'role' (i.e. draft and owner - same as per current logic).

[2017-11-07 19:39] vic-topcoder commented on #1289
I think we should explore, but let's do that in another issue. @gondzo - what would be the ETA on this issue alone?

[2017-11-07 22:21] vic-topcoder commented on #1173
Awesome :) 👍

[2017-11-07 22:52] mtwomey commented on #1255
@gondzo See Staus dropdown below. It should be available for admins, even if they haven't joined the project.
![screen shot 2017-11-07 at 4 51 25 pm](https://user-images.githubusercontent.com/7715262/32522188-f375e1ea-c3db-11e7-904a-aae8d92abf4b.png)

[2017-11-07 22:57] vic-topcoder commented on #1289
Ideally the update date should be underneath the size label - right aligned.
![screen shot 16](https://user-images.githubusercontent.com/8484061/32522406-06f08410-c3cc-11e7-9cd9-4ff9fa50ec72.png)

[2017-11-07 23:05] mtwomey commented on #1267
@vikasrohit Can you advise if we still think this is doable by the end of the week? We're trying to wrap up Project Listing Updates milestone this week (sorry to pressure, just like your thoughts).