[2020-03-02 06:09] drasticdpk commented on #3472
QA Verified in Production.
![image](https://user-images.githubusercontent.com/25297859/75649898-9264c880-5c7c-11ea-9941-f322ea433a9f.png)

[2020-03-02 06:10] #3472 closed

[2020-03-02 06:32] vikasrohit commented on #3491
@maxceem I think we are good with current implementation. One enhancement we can do is to add tooltip which can show the full date time. I am assuming that this logic of hiding the current year is not explicit in our code but is handled by the underlying library, right?

[2020-03-02 06:34] vikasrohit commented on #3491
@drasticdpk Thanks for the suggestion about missing current year, however, I think the original requirement of the issue does not mention that. So, please feel free to create an enhancement ticket referring this issue and close this one.

[2020-03-02 06:35] maxceem commented on #3491
@vikasrohit it is explicit https://github.com/appirio-tech/connect-app/blob/dev/src/projects/list/components/Projects/ProjectsGridView.jsx#L155.

[2020-03-02 06:52] drasticdpk commented on #3494
Still got the same issue in Production, the registered information is not being reflected in Profile page.
![image](https://user-images.githubusercontent.com/25297859/75651711-5718c880-5c81-11ea-9328-18d7b2d1a40f.png).

[2020-03-02 07:15] vikasrohit commented on #3722
Yes, leave the `hashEmail` for now to avoid any security concern. Further, I think we can remove requirement of `hashEmail` even for the create invite endpoint by passing a unique random id in the payload for each invite object and preserve it on server side, return it in server response as well and finally on front end use this id again to identify which invites got success and which failed. Is i

[2020-03-02 07:26] vikasrohit opened #3736 "Use v5 groups api"
Currently we are using v3 groups api which might not be supported in near future, we should migrate to v5 api instead.

[2020-03-02 07:28] vikasrohit commented on #3513
Closing the issue for cleanup. Please feel free to create separate regression issues.

[2020-03-02 07:28] #3513 closed

[2020-03-02 07:29] vikasrohit commented on #3435
@maxceem please try to include this one in next bug bash.

[2020-03-02 07:34] vikasrohit commented on #3440
@drasticdpk couple of notes:
- Original requirements are met for the issue and special case you found is not part of the requirements and is still debatable how to handle that. Please feel free to create a separate issue for that as enhancement.
- As the issue passed in dev env and the same use case was not reported during dev testing, we should close this one and handle any new concern found in s

[2020-03-02 07:34] #3440 closed

[2020-03-02 07:34] vikasrohit commented on #3407
Closing the issue for cleanup. Please feel free to create separate regression issues.

[2020-03-02 07:34] #3407 closed

[2020-03-02 07:35] vikasrohit commented on #3375
Closing the issue for cleanup. Please feel free to create separate regression issues.

[2020-03-02 07:35] #3375 closed

[2020-03-02 07:35] vikasrohit commented on #3459
Closing the issue for cleanup. Please feel free to create separate regression issues.

[2020-03-02 07:35] #3459 closed

[2020-03-02 07:35] vikasrohit commented on #3486
Closing the issue for cleanup. Please feel free to create separate regression issues.

[2020-03-02 07:35] #3486 closed

[2020-03-02 07:58] drasticdpk commented on #3491
Agreed with @maxceem to not showing the year for current year.  So closing the issue.
@vikasrohit  you want add tooltip to show the full date for above scenario ? I think no need to add that functionality when we are hiding year for current year.

[2020-03-02 07:58] #3491 closed

[2020-03-02 08:09] maxceem commented on #3722
@vikasrohit yeah, this is possible though it feels for me quite the same as if we return `hashEmail` only for create invite endpoint.

On the second though, what if we avoid using any of `hashEmail` and `nonce` for create invite endpoint and just return `email` in the create invite endpoint as it is? The user who invited a user by `email` does already knows the email. This way we wouldn't introduc

[2020-03-02 08:41] maxceem commented on #3624
This should be fixed for all the pages:
- https://connect.topcoder-dev.com/settings/profile
- https://connect.topcoder-dev.com/settings/notifications
- https://connect.topcoder-dev.com/settings/account

[2020-03-02 08:48] drasticdpk commented on #3322
Verified on pord env.

[2020-03-02 08:48] #3322 closed

[2020-03-02 09:08] maxceem commented on #3736
@vikasrohit this is done via 43bd7811d0ee80eb4d29c926043f9ea9991e401d and pushed to DEV.

One observation: in the Groups API V5 the group id which we use is called `oldId` and we use it to call the Project Service for getting orgConfigs:

![image](https://user-images.githubusercontent.com/146016/75661396-2dbf6300-5ca8-11ea-9656-ae669e4ac6c6.png)

Is `oldId` deprecated and can be eventually removed

[2020-03-02 09:10] maxceem opened #3737 "Update Project Type icons"
New icons [connect-catalog-icons.zip](https://github.com/appirio-tech/connect-app/files/4274447/connect-catalog-icons.zip)

[2020-03-02 09:13] vikasrohit commented on #3736
Thanks for the super fast action on the issue @maxceem.

Yes, `oldId` is going to be deprecated and it is used only for old data that has been migrated to v5 api. The way we can handle this is, read from `oldId` first and if it is not provided, we can read `id` OR can we just read both and pass both ids to the `orgConfig` endpoint?

[2020-03-02 09:14] vikasrohit commented on #3423
Closing. Please feel free to create new issues for any regression.

[2020-03-02 09:14] #3423 closed

[2020-03-02 09:15] #3497 closed

[2020-03-02 09:15] vikasrohit commented on #3575
Closing. Please feel free to create new issues for any regression.

[2020-03-02 09:15] #3575 closed

[2020-03-02 09:16] #3701 closed

[2020-03-02 09:23] vikasrohit commented on #3508
Closing. Please feel free to create new issues for any regression.

[2020-03-02 09:23] #3508 closed

[2020-03-02 09:24] vikasrohit commented on #3496
@maxceem can we close this one or something remaining from the original requirements?

[2020-03-02 09:25] vikasrohit commented on #3465
Closing. Please feel free to create new issues for any regression.

[2020-03-02 09:25] #3465 closed

[2020-03-02 09:28] vikasrohit commented on #3466
Closing. Please feel free to create new issues for any regression.

[2020-03-02 09:28] #3466 closed

[2020-03-02 09:35] maxceem commented on #3736
Done via 97cd7d72c1e2e77215e2d0245b8c998a6b246c5d - send both new `id` and `oldId` for requesting `orgConfig`.

Pushed to DEV and ready for testing.

Testing guidelines:
1. Request for `groups` should use V5 URL `https://api.topcoder-dev.com/v5/groups` instead of V3 URL `https://api.topcoder-dev.com/v3/groups`
2. The request which goes after, for `orgConfig` should send both types of ids from Grou

[2020-03-02 09:40] maxceem commented on #3496
@vikasrohit there are some issues in the current implementation. So let's keep it open and finish work in this issue, as indeed there are some broken situations.

[2020-03-02 09:40] maxceem commented on #3496
I've moved it to `2.8`.

[2020-03-02 09:47] maxceem commented on #3698
This is done via c0908dbebb1e913babd8942728ea0ec4f62bf5da and pushed to DEV.

Ready for testing.

[2020-03-02 10:06] maxceem commented on #3427
Sum up:
- user with **Project Role** `account_manager` should be able to remove members from Topcoder Team
- this issue has to be fixed in Project Service repo https://github.com/topcoder-platform/tc-project-service branch `dev`
- user for testing is `topcoderconnect+AccountManager@gmail.com`

[2020-03-02 10:24] maxceem commented on #3424
@vikasrohit at the moment in most places in the code `isCustomer` is defined as a user who doesn't have any powerful roles like `ROLE_CONNECT_COPILOT, ROLE_CONNECT_MANAGER, ROLE_ADMINISTRATOR, ROLE_CONNECT_ADMIN`, see https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/TeamManagementContainer.jsx#L232

So I guess this should be a wider task, to update all the `power

[2020-03-02 10:24] vikasrohit commented on #3466
@drasticdpk please create separate issue for your findings.

[2020-03-02 10:25] vikasrohit commented on #3454
Closing. Please feel free to create new issues for any regression.

[2020-03-02 10:25] #3454 closed

[2020-03-02 10:28] vikasrohit commented on #3492
Yes, right now search bar does not appear for customers. It has been like this since very long, please feel free to create separate issues for the enhancements.
Further, please create separate issue for your new finding of server error in case of `/` being entered in the search box.
Closing the issue for cleanup.

[2020-03-02 10:28] #3492 closed

[2020-03-02 11:17] drasticdpk opened #3738 "[Chrome] - Search bar is not available for Customer login unlike Manager/Copilot login."
### Expected behavior
The customer login should be able to access search functionality in search bar.

### Actual behavior
Search bar is missing in the customer login.

### Steps to reproduce the problem
- Login as a Customer.
- go to the dashboard
- Observe the Search Bar.
- Login as a Manager/Copilot
-Go to the Dashboard
-Observe the Search bar
Compare the dashboard of both the logins.

### Scre

[2020-03-02 11:27] vikasrohit opened #3739 "New flag for hiding the project estimator"
As of now with `hidePrice` flag we are hiding only price in estimator component, we need another flag for hiding the complete estimator component. Right now we are hiding it by renaming the type of the `estimation` component because it shows the component if and only if it finds a component of type `estimation`.

[2020-03-02 11:29] vikasrohit commented on #3739
@maxceem fyi

[2020-03-02 11:31] RishiRajSahu commented on #3702
@nithyaasworld @drasticdpk this works fine now, could you please close this by validating you side as well ?

[2020-03-02 11:37] vikasrohit commented on #3298
@maxceem I am not sure why my comment, which I posted (or at least tried 😉  ) is not reflecting here. But I think we should close this issue as it is very old issue and create a separate issue for tracking the pending item and following mock up might work:
<img width="716" alt="Screen Shot 2020-02-28 at 12 01 10 PM" src="https://user-images.githubusercontent.com/2417632/75673111-2b5d0900-5ca8-11ea

[2020-03-02 11:38] vikasrohit commented on #3298
@lakshmiathreya the original feature (new roles) was delivered long back in Oct 2019, so I think keeping this issue open for what it misses from the requirements, would give wrong statistics. We can create a new issue (saying as regression of this issue) and then include it in next release.

@nithyaasworld can you please create one (or may be more if the other issue you mentioned in your comment a

[2020-03-02 11:38] drasticdpk opened #3740 "[$50] [Project Service] Search option is not giving the right search result."
### Expected behavior
The search option should give the  actual search result when the user search for anything. .

### Actual behavior
It is showing "D’oh! Something went wrong" error message even though the same name exist in the project list..

### Steps to reproduce the problem
- Login as topcoderconnect+manager@gmail.com.
- See the project being listed in the dashboard.
- Apply the search for

[2020-03-02 11:38] vikasrohit commented on #3298
Closing the issue.

[2020-03-02 11:38] #3298 closed

[2020-03-02 11:44] vikasrohit commented on #3455
Closing. Please feel free to create new issues for any regression.

[2020-03-02 11:44] #3455 closed

[2020-03-02 11:47] vikasrohit commented on #3703
There is no potential fix as of now for us to handle this. This is mostly because of network.

[2020-03-02 11:56] vikasrohit commented on #3456
@drasticdpk the issue reported by @nithyaasworld is different than what is the original requirements. The extra slash issue is something different which we need to support as new feature. The WYSIWYG editor does not support all of the markdown, so we would keep on finding such cases where WYSIWYG editor does not render the markdown correctly.

[2020-03-02 11:56] drasticdpk opened #3741 "The updated time is taking the user machine time rather than Server time."
### Expected behavior
Once the modification is made, the system should show the actual time of Server time.

### Actual behavior
The time shown is taken from the user system/machine time .

### Steps to reproduce the problem
- Login in as Manager.
- Go to the Assets Library .
- Go to the Link button.
- Update the information by Editing.
- Save the changes.
- Observe the time being reflected for th

[2020-03-02 11:57] vikasrohit commented on #3456
Please log a separate issue for the `extra slash` issue.

[2020-03-02 11:59] RishiRajSahu commented on #3692
@nithyaasworld @drasticdpk

This should be fine, user might choose different template but might need same data for those fields and expected by the user to change (only required).

Description field should not be visible anymore as the recent templates have been updated.

could you guys please verify it again and close it ?

[2020-03-02 12:01] RishiRajSahu commented on #3494
@drasticdpk could you please test again should be working fine now ?

[2020-03-02 12:04] lakshmiathreya commented on #3736
@drasticdpk

[2020-03-02 12:14] lakshmiathreya commented on #3732
@drasticdpk

[2020-03-02 13:11] maxceem commented on #3741
For files, it should already work. For links, it would be fixed as a part of https://github.com/appirio-tech/connect-app/issues/3463.

But let's keep this issue and validate after https://github.com/appirio-tech/connect-app/issues/3463 is done.

[2020-03-02 16:50] drasticdpk commented on #3732
Verified on Dev Server
User Role : Admin
![image](https://user-images.githubusercontent.com/25297859/75697620-76414580-5cd5-11ea-971e-fdadbf46ba6b.png)

User Role : Copilot Manager ( other than Admin)
![image](https://user-images.githubusercontent.com/25297859/75697964-f49de780-5cd5-11ea-943d-106dd504207e.png)

[2020-03-03 03:26] drasticdpk commented on #3493
Verified on Dev env:
![image](https://user-images.githubusercontent.com/25297859/75740095-dfa17280-5d2e-11ea-800e-c7871020dc0e.png)

[2020-03-03 04:34] drasticdpk commented on #3412
Same issue exist on dev env :
![image](https://user-images.githubusercontent.com/25297859/75743226-5f800a80-5d38-11ea-824a-b203a4b3a591.png)

[2020-03-03 05:03] maxceem commented on #3412
Can reproduce this issue.

@vikasrohit it happens when we invite by email already an existent user. As we no longer return email to non-admin users if we know user handle. To fix this issue in the current code we have to return the email during the creation of invite which would disappear after the page reloading.
Let me know if such a fix would be ok.

Soon, we can fix it some other way as per ht

[2020-03-03 05:47] vikasrohit opened #3743 "[$100] Extra / characters after message update"
Carried forward from https://github.com/appirio-tech/connect-app/issues/3456#issuecomment-586017601

when "Bold, italic, underline, unordered" items are wrapped inside a code, it produces extra slashes on every save. Video:
[extra slash.zip](https://github.com/appirio-tech/connect-app/files/4201882/extra.slash.zip)

[2020-03-03 05:47] vikasrohit commented on #3743
@maxceem potential candidate for CF.

[2020-03-03 05:52] vikasrohit commented on #3412
@maxceem I thought we have fix for this in the today's patch release, isn't it the case?

[2020-03-03 05:55] maxceem commented on #3412
No. Initially this issue was due to masking emails. After we disabled masking it stopped being an issue. But later we stopped returning emails in create endpoint and this issue became valid again caused by a new reason.

In the latest patch we fixed other issues with email, but I wasn't aware that this issue is valid.

[2020-03-03 06:10] vikasrohit opened #3744 "500 error when / is in the search string"
Carried from https://github.com/appirio-tech/connect-app/issues/3492#issuecomment-592548953

If we have Forward Slash( / ) character in our search parameter it show's 500 error.
![image](https://user-images.githubusercontent.com/25297859/75557769-c23b8280-5a68-11ea-9b94-0c5dd82304eb.png)

[2020-03-03 06:11] vikasrohit commented on #3492
@lakshmiathreya @drasticdpk I have remove the fail label and passed one as the original requirement is passed and created separate issue #3744 for the new finding.

[2020-03-03 06:14] vikasrohit commented on #3738
Added feature to product board for product manager's considration.

[2020-03-03 06:17] vikasrohit commented on #3456
Closing as created separate [issue](#3743 ) for new findings.

[2020-03-03 06:17] #3456 closed

[2020-03-03 06:20] vikasrohit commented on #3494
Closing. Please feel free to create new issue for any new findings or reopen if the issue still persists.

[2020-03-03 06:20] #3494 closed

[2020-03-03 06:31] vikasrohit commented on #3493
Deployed to production.

[2020-03-03 06:33] vikasrohit commented on #3412
@lakshmiathreya @drasticdpk moved to next release as there was some confusion about the fix. There are multiple fixes around emails.

[2020-03-03 06:41] vikasrohit commented on #3717
We are still working on it. Moved to next release.

[2020-03-03 08:53] vikasrohit opened #3745 "Show session expiration modal on 401/403 errors in looker heartbeat call"
Currently we have a session timer which triggers some time (2 minutes right now) before the session expiration and shows the modal to the user to refresh the reports. However, we are seeing many incidents where looker is throwing 401/403 some how e.g. first GET request of that embed URL is cancelled (network is slow or any other error in the page prevented that call to complete) which makes the UR

[2020-03-03 08:53] vikasrohit commented on #3745
fyi @maxceem

[2020-03-03 09:23] vikasrohit commented on #3732
This has been deployed to production. and there is one change in original requirements: admins means administrator users which does not include `Connect Admin` role. Please contact @lakshmiathreya for credentials.

[2020-03-03 09:31] vikasrohit commented on #3604
@lakshmiathreya can you please raise this in our team call or better could you please create feature in product board so that we can discuss it with product manager.

[2020-03-03 10:02] vikasrohit commented on #3730
@maxceem CF candidate

[2020-03-03 10:09] vikasrohit commented on #3554
Do you have screenshot of that message @lakshmiathreya? I don't think this behavior is driven by the specific browser on specific device. We don't have any such functionality implemented. It might the device which is giving user some hint that user has previously selected that partially highlighted checkbox.
I did found another issue where it showed me empty red box on deselecting checkbox. Actual

[2020-03-03 10:11] vikasrohit commented on #3630
@maxceem CF candidate

[2020-03-03 10:47] vikasrohit commented on #3557
@maxceem CF candidate, we can add new validations (e.g. positiveNumber, nonNegativeNumber etc) to react-components and then use them in templates.

[2020-03-03 11:16] vikasrohit commented on #3740
Closing the duplicate issue #3744,  which I created previously.

[2020-03-03 11:16] vikasrohit commented on #3744
Duplicate of #3740

[2020-03-03 11:17] #3744 closed

[2020-03-03 11:18] vikasrohit commented on #3568
@maxceem candidate for CF

[2020-03-03 11:19] vikasrohit commented on #3702
@RishiRajSahu closing the issue for now. Please reopen the issue if the issue still persists.

[2020-03-03 11:19] #3702 closed

[2020-03-03 11:36] vikasrohit commented on #3424
Okay. I guess event after the changes in front end, we might need to add the role in member api to allow calling suggest endpoint for `Account Manager` role.

[2020-03-03 11:47] vikasrohit commented on #3722
users who invite other users by email can see invites with full email so it would be always clear for users whom they already invited
but users cannot see emails in invites they didn't invite (email for other invites would be masked)

I think we discussed this earlier somewhere. The only negative of this approach is that we have to be sure that we don't leak the any other information in any case f

[2020-03-03 11:50] vikasrohit commented on #3651
we haven't done anything to fix the issue.

@maxceem if it is easily possible to fix it for IE11, we can take it in next CF and if it is tricky, we can skip fixing it if it is not an issue with Microsoft Edge.

[2020-03-03 11:51] vikasrohit commented on #3726
Created feature in product board to discuss the requirements.

[2020-03-03 12:11] vikasrohit commented on #2841
Great efforts @maxceem, apologies for responding late on this. I liked the idea, one query though:

https://github.com/appirio-tech/connect-app/blob/feature/permissions/src/config/permissions.js#L124-L333 is the place from where we will read all permissions in future i.e. we currently can not assume as source of truth even if we are reading this config for some places because we are not using it a

[2020-03-03 13:10] drasticdpk commented on #3493
Scenario 1 > Passed
I have updated message/comment from customer account and observe email from copilot account.

[Verificatoin_-Customer_Copilot.mp4.zip](https://github.com/appirio-tech/connect-app/files/4281390/Verificatoin_-Customer_Copilot.mp4.zip)

Scenario 2 > Failed
I have updated the message/comments from Co-pilot acc  and expect the mail at customer'e email address.
Could not get the emai

[2020-03-03 13:39] maxceem commented on #2841
I guess we can convert the whole Connect App using one code challenge. The cruitial moment would be to validate that **after** permissions refactoring the code works the same as before. For this purpose, we can include the requiremnt to the challenge, to provide validation guide for each permission added, something like this: https://docs.google.com/document/d/1XZpUstQcIXnegAGtthSIqNTGiHbskwPKp9lw

[2020-03-04 04:29] maxceem commented on #3392
We no longer want to implement client-side validation as per discussion here https://github.com/appirio-tech/connect-app/issues/3722#issuecomment-592441748

[2020-03-04 05:22] #3392 closed

[2020-03-04 05:34] vikasrohit commented on #3493
@drasticdpk if you are not receiving the emails for specific customer, please note it is not an issue which we are addressing here and we have to look at that incident separately and there are few possible reasons for not receiving emails:
1. Email settings are turned off for specific user
2. The comment is on a `admin only` topic
3. from your example project's team, I can see you don't have the u

[2020-03-04 05:37] maxceem commented on #3412
Done via https://github.com/topcoder-platform/tc-project-service/commit/33bdb8a1463ec82171540f7c6f6465de99c7ebbe.

NOTE: now users who invited some users by "email" CAN see "email" in such cases. But if user invited another user by "handle" - still CANNOT see "email" unless a user has administrator privileges. This is as per discussion here https://github.com/appirio-tech/connect-app/issues/3722#i

[2020-03-04 05:42] drasticdpk commented on #3494
Verified on prod env, it is working as expected.
![image](https://user-images.githubusercontent.com/25297859/75848702-0339eb00-5e0b-11ea-99cd-b56ea64a11bf.png)

[2020-03-04 06:32] drasticdpk commented on #3412
Verified on Dev
1. with TC handle :
![image](https://user-images.githubusercontent.com/25297859/75851424-bb6a9200-5e11-11ea-9fe7-f0e10506ca7a.png)

2. with Email
![image](https://user-images.githubusercontent.com/25297859/75851537-0e444980-5e12-11ea-9902-c37c6b117c18.png)

[2020-03-04 06:34] maxceem commented on #3727
A new requirement from Vikas:

[2020-03-04 09:53] drasticdpk commented on #3493
Thank you @vikasrohit. ( Initially email setting was off so email is not getting.)
Verified on prod :
https://recordit.co/O0nRUYyhv2

[2020-03-04 09:53] #3493 closed

[2020-03-04 09:55] vikasrohit commented on #3732
Closing. It seems to work fine for me.

[2020-03-04 09:55] #3732 closed

[2020-03-04 10:14] maxceem opened #3747 "Let users restrict access to links, same like we do for files"
We have the ability to choose who can access files when we upload them:

![image](https://user-images.githubusercontent.com/146016/75868905-bcb4b280-5e43-11ea-8eba-fb4bcd76e519.png)

Recently we've added support to restrict access to links server-side, same like we do for files, as per https://github.com/appirio-tech/connect-app/issues/3463.

So now the question is, should we allow users to choose

[2020-03-04 10:14] maxceem commented on #3747
cc @vikasrohit

[2020-03-04 10:43] maxceem commented on #3512
What kind of input for filtering by tags you like:
- simple input where we enter any arbitrary text, and after we are searching for attachments which have at least one tag with the substring we entered
- smart input field where we can enter tags like this:
   ![image](https://user-images.githubusercontent.com/146016/75871587-c17b6580-5e47-11ea-9981-4d146955a7da.png)

   - as we load all the attach

[2020-03-04 11:29] vikasrohit commented on #3512
I would like to go with simple text box for now because auto completing tags is not possible to support in near future, after we go for paged data in assets tab.

[2020-03-04 13:03] drasticdpk commented on #3703
With reference to @vikasrohit 's comment above I am closing this issue. Let us know for anything. cc @lakshmiathreya

[2020-03-04 13:03] #3703 closed

[2020-03-05 07:21] maxceem opened #3748 "Show files and links from phases in Assets Library"
### Expected behavior
Files and links from messages inside phases are shown in Assets Library

### Actual behavior
Files and links from messages inside phases are NOT shown in Assets Library

### Steps to reproduce the problem
- Create a phase.
- Add a message on the **Discussions** tab of the phase with a link and attachment.
- Change status of the phase to **Planned** or **In Progress**
- Got th

[2020-03-05 07:25] maxceem commented on #3748
This is fixed via 69cebb39fd111e29091318c9abadffd574b3e25a together with the related issues:
- Show files and links from phases in Assets Library
- Hide a button to remove files and links from phases in Assets Library
- Fix showing folder "Created By" for files when it created by CoderBot

This has been deployed to DEV and ready for testing.

[2020-03-09 03:51] maxceem commented on #3740
Sum up:
- This issue most likely has to be fixed in Project Service repo https://github.com/topcoder-platform/tc-project-service branch `cf21`

[2020-03-09 04:03] maxceem opened #3749 "[$75] Focus filter input when we open it"
Follow up from https://github.com/appirio-tech/connect-app/issues/3730

When we show the filter in the table on the [project listing page](https://connect.topcoder-dev.com/projects?sort=lastActivityAt%20desc):
![image](https://user-images.githubusercontent.com/146016/76181948-ea13ae80-61fd-11ea-88d1-b42211ac175e.png)

or at the [Assets Library page](https://connect.topcoder-dev.com/projects/8600/a

[2020-03-09 04:08] maxceem opened #3750 "[$30] User should not be able to apply/changes filter in edit mode"
Follow-up from https://github.com/appirio-tech/connect-app/issues/3730

On the Assets Library page we can apply filters to the files and links, see page https://connect.topcoder-dev.com/projects/8600/assets

- When we don't have any filter and start editing, we should not be able to apply filter.
- When we apply filter and start editing, we should not be able to change the filter.

![image](https:

[2020-03-09 04:18] maxceem commented on #3730
For issues 1 and 2 I've created separate tickets:
- Cursor should Focus on Search box so user can type text. -> https://github.com/appirio-tech/connect-app/issues/3749
- User should not able to apply filter in File Edit Mode -> https://github.com/appirio-tech/connect-app/issues/3750

@vikasrohit regarding the rest of the issue I have some questions.

So far we are using the standard browser date f

[2020-03-09 04:23] maxceem commented on #3630
Sum up:
- While fixing this issue on small screens, the fix shouldn't break it on the big screens.

[2020-03-09 04:41] maxceem commented on #3557
Sum up:
- This issue has to be implemented in repo https://github.com/appirio-tech/react-components, branch `feature/connectv2-dev`
- Add 2 new validation rules to the Formsy here https://github.com/appirio-tech/react-components/blob/feature/connectv2-dev/components/Formsy/index.js, see [documentation](https://github.com/christianalfoni/formsy-react/blob/master/API.md#formsyaddvalidationrulename-r

[2020-03-09 04:44] maxceem commented on #3568
Sum up:
- Long strings should be wrapped to the next lines without cut.

[2020-03-09 05:32] maxceem commented on #3424
@vikasrohit we have the next Topcoder roles https://github.com/appirio-tech/connect-app/blob/feature/bulk-milestone-updates/src/config/constants.js#L645-L657

Should all of them be able to get suggestions? So only customer users (without any roles except `Topcoder User` role) wouldn't get suggestions.

I guess we should sync this with Member Service.

[2020-03-09 05:35] maxceem commented on #3739
@vikasrohit should we only hide on the Dashboard page if flag `hideEstimation` is set to `true`?

![image](https://user-images.githubusercontent.com/146016/76185672-dfabe180-620a-11ea-88e6-e75e39b35560.png)

Or should we also hide it during the project creation process?

[2020-03-09 05:46] maxceem commented on #3666
@vikasrohit do I understand it correctly when we click "Talent as a Service" category
![image](https://user-images.githubusercontent.com/146016/76186031-0b7b9700-620c-11ea-883c-1b8719fe64bd.png)

we should see a list of templates to choose, same as when we click "Solution", but there would be only one template to choose. Right?

[2020-03-09 05:50] maxceem commented on #3745
@vikasrohit if I understand it correctly, this has to be fixed by 48fb21e4e15f8561e820dc289f36306bddb64675. Let me know if you still experience this issue.

[2020-03-09 06:01] vikasrohit commented on #3745
@maxceem this is slightly different than what you fixed in that commit. I hoping for handling the error event when looker's internal health check (`/hearbeat`) fails with 401 0r 403. If can handle that event, we can show the modal in that case as well without waiting for timer to reach.

[2020-03-09 06:02] vikasrohit commented on #3739
I guess, hiding from every where would be better because in that case we won't have to remove or alter the estimation component in the template and we can hide the component while still keeping its configuration in the template.

[2020-03-09 06:17] vikasrohit commented on #3666
Yes, that was the feature I guess we added very long time back. I discussed with product managers while discussing new UI of the catalog and we ended up in removing that logic now and instead start showing the wizard steps as usual we are showing in case where number of templates for a category is greater than 1.
@maxceem do you think if keep this configuration in template itself, would that make

[2020-03-09 06:37] vikasrohit commented on #3730
3. What do you think in terms of efforts for the common date component? I think even after custom component, we would still be using the HTML date picker, only difference would be that we would be applying some validations on the top of it, right?

4. I don't think we can have a good solution for this and at the same time the issue does not seem to be troubling the use cases as user can hide the f

[2020-03-09 06:53] maxceem commented on #3666
If we don't have plans to use such an option in the near future, I'm inclined towards removing this option rather than having a flag to keep less logic which is not in active use.

[2020-03-09 06:54] maxceem commented on #3739
Ok. @vikasrohit do we have any template on DEV which you would like to use this feature for? So I would add this flag there and we would use it for testing?

[2020-03-09 07:01] vikasrohit commented on #3666
I can not estimate any thing about its usage, but if that is not tricky to implement go with it, other wise remove the logic for now. One more reason to keep that functionality with flag is that if we remove it today, and then some other day in future we have to include it again, bringing that logic back might be more tricky at that time.

[2020-03-09 07:07] maxceem commented on #3730
Looks like we have a "date" input only in 2 places:
- Phase edit form

   ![image](https://user-images.githubusercontent.com/146016/76190062-1a1b7b80-6217-11ea-86fd-9a0bb57f31e2.png)

- Assets filtering

   ![image](https://user-images.githubusercontent.com/146016/76190090-28699780-6217-11ea-92b0-5bd0c44d654f.png)

So the task shouldn't be hard: basically we have to find some custom date picker wh

[2020-03-09 07:11] maxceem commented on #3666
Ok. Would you like this to be determined by the **Project Template** or **Category**?
- **Project Template** - we set flag to the project template, so in case such project template is the only one in a category, then we automatically open template form when choosing a category
- **Category** -  we set flag to the category, so in case such a category has a single template, the template should be ch

[2020-03-09 07:44] vikasrohit commented on #3666
I think having it on `Category` makes more sense to me.

[2020-03-09 08:04] vikasrohit commented on #3739
`talent-as-a-service` category should be using this feature

[2020-03-09 08:08] vikasrohit commented on #3730
I am good with the plugin community app is using. However, I am also okay if we don't use any plugin and just rely on basic HTML min/max attributes with small script for dynamically setting these attributes in our wrapper date component.
Crux is that, we don't need to be too fancy for this and all we need is some basic validation on dates. Community app option is looking good to me.

[2020-03-09 08:15] vikasrohit commented on #3424
Yes, ideally. However, we can not do any change in member service for this. If the way we are using member service right now to suggest the endpoint does not allow some of the topcoder roles, we have to analyze the situation or if we are using m2m calls (which I think is not the case) to suggest endpoint via project api, we can add the new roles to our endpoint.

[2020-03-10 04:15] maxceem opened #3751 "Test"
test

[2020-03-10 04:15] maxceem commented on #3751
@bug-bash-helper assign

[2020-03-10 04:16] maxceem commented on #3751
@bug-bash-helper assign

[2020-03-10 04:16] maxceem commented on #3751
@bug-bash-helper https://github.com/appirio-tech/connect-app/issues/3751 is ready for review

[2020-03-10 04:17] #3751 closed

[2020-03-10 04:30] iversonLv commented on #3568
@maxceem Can I take this?
Thanks.

[2020-03-10 04:30] iversonLv commented on #3568
@bug-bash-helper assign

[2020-03-10 04:37] maxceem opened #3752 "[$50] Do not allow selecting "from" date after "to" date"
Follow-up from https://github.com/appirio-tech/connect-app/issues/3730

On the Assets Library page we can apply filters to the files and links, see page https://connect.topcoder-dev.com/projects/8600/assets

We can filter by "Date" by choosing "from" date and "to" date. Currently, we can enter any arbitrary dates. Instead of this, we should not allow choosing "from" date after "to" and "to" date b

[2020-03-10 04:41] maxceem commented on #3730
For the first 3 issues, separate tickets have been created:
- Cursor should Focus on Search box so user can type text. -> https://github.com/appirio-tech/connect-app/issues/3749
- User should not able to apply filter in File Edit Mode -> https://github.com/appirio-tech/connect-app/issues/3750
- User should not able to input from date which is greater that To date . -> https://github.com/appirio-te

[2020-03-10 04:41] #3730 closed

[2020-03-10 04:43] sumitdaga commented on #3733
@bug-bash-helper assign

[2020-03-10 04:45] tcchhabra commented on #3752
Please assign me this

[2020-03-10 04:46] maxceem commented on #3752
@tcchhabra please check the Bug Bash rules here https://www.topcoder.com/challenges/30118814?tab=details. We use a bot to assign issues.

[2020-03-10 04:47] tcchhabra commented on #3752
@bug-bash-helper

[2020-03-10 04:49] tcchhabra commented on #3752
thanks, looks like bot isn't awake 😉

[2020-03-10 04:49] tcchhabra commented on #3752
@bug-bash-helper assign

[2020-03-10 05:07] nqviet commented on #3750
@bug-bash-helper assign

[2020-03-10 05:19] maxceem commented on #3745
@vikasrohit do I understand that your plan is like this?
- in Project Service raise an event to Kafka
- in TC Notification Service process the Kafka event and create a notification
- in Connect App, we are checking for notifications every minute, so as soon as we've got a notification that Looker internally failed we are showing the modal

[2020-03-10 05:25] romitgit commented on #3749
@bug-bash-helper assign

[2020-03-10 05:29] sumitdaga commented on #3733
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3753 is ready for review

[2020-03-10 05:31] sanju-singh commented on #3743
@bug-bash-helper assign

[2020-03-10 05:38] sumitdaga commented on #3704
@bug-bash-helper assign

[2020-03-10 05:42] Giri-Suman commented on #3634
@bug-bash-helper assign

[2020-03-10 05:45] tcchhabra commented on #3752
@maxceem can you help clarify a bit on requirement
- we should not allow choosing "from" date after "to" and "to" date before "from".
- We should allow settings "from" the same as "to"
- We should allow settings only one of the fields "from" or "to" as we do now

This looks confusing, since we allow them to choose either, can you help clarify this once ?

[2020-03-10 05:48] maxceem commented on #3752
@tcchhabra the requirements look correct for me. Could you, please specify what is confusing?

I will try say them other words:
- we should be able to select only "from" or "to" date, so we don't require to enter 2 dates, one is enough for filtering
- if we enter 2 dates, then "from" and "to" can be equal, but "form" cannot be after "to"

[2020-03-10 05:54] tcchhabra commented on #3752
Thanks - got confused with either one and then both values. Now clear.

[2020-03-10 05:55] tcchhabra commented on #3752
@maxceem one more question - I am not able to push PR branch. can you help ?

[code]

[2020-03-10 05:56] maxceem commented on #3752
@tcchhabra that's right, to create a pull request you have to fork our repository and after create a pull request for your fork. You may check this guide on how to do it https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-03-10 06:03] tcchhabra commented on #3752
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3754 is ready for review

[2020-03-10 06:04] tcchhabra commented on #3740
@bug-bash-helper assign

[2020-03-10 06:07] narekcat commented on #3723
@bug-bash-helper assign

[2020-03-10 06:08] maxceem opened #3755 "[$45] [Project Service] Fix searching projects by handle"
The current issue is used to track a task in another repository during the Bug Bash challenge.

https://github.com/topcoder-platform/tc-project-service/issues/499

All the comments to assign, unassign and ready for review should be done here in the current issue in Connect App.

[2020-03-10 06:15] gets0ul commented on #3427
@bug-bash-helper assign

[2020-03-10 06:31] sanju-singh commented on #3743
What is the expected output for this?
Should it produce only one slash irrespective of edits, or no slash at all?
Should the special characters for bold, italic, underscore be shown inside code block in preview mode as shown now just after creating?

[2020-03-10 06:38] rashmi73 commented on #3624
@bug-bash-helper assign

[2020-03-10 06:43] PrakashDurlabhji commented on #3557
@bug-bash-helper assign

[2020-03-10 06:45] maxceem commented on #3743
no slash at all

Can we always show it with styles like this?

   ![image](https://user-images.githubusercontent.com/146016/76286642-a7c19e80-62dd-11ea-93b8-504d6ab2810c.png)

[2020-03-10 06:46] Gauravseta commented on #3435
@bug-bash-helper assign

[2020-03-10 06:51] tcchhabra commented on #3740
@bug-bash-helper unassign

[2020-03-10 06:52] tcchhabra commented on #3630
@bug-bash-helper assign

[2020-03-10 07:01] tcchhabra commented on #3630
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3756 is ready for review

[2020-03-10 07:02] tcchhabra commented on #3673
@bug-bash-helper assign

[2020-03-10 07:19] tcchhabra commented on #3673
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3758 is ready for review

[2020-03-10 07:20] tcchhabra commented on #3740
@bug-bash-helper assign

[2020-03-10 07:22] nqviet commented on #3750
@bug-bash-helper PR https://github.com/appirio-tech/connect-app/pull/3757 is ready for review

[2020-03-10 07:27] nqviet commented on #3651
@bug-bash-helper assign

[2020-03-10 07:36] gets0ul commented on #3427
@bug-bash-helper https://github.com/topcoder-platform/tc-project-service/pull/500 is ready for review

[2020-03-10 07:36] gets0ul commented on #3755
@bug-bash-helper assign

[2020-03-10 07:45] maxceem commented on #3496
After more detailed testing it looks like there is only one real issue left: searching by the handle is currently case-sensitive https://github.com/topcoder-platform/tc-project-service/issues/499

All other issues were caused by indexing failure, like:

@vikasrohit it looks like at least on DEV environment when we are adding new member to the project the request to member service fails somehow, so

[2020-03-10 08:50] sanju-singh commented on #3743
Markdown doesn't support styling inside code-block, only language specific styling can be done, that's why even in edit mode inside code-block we are disabling the styling icons, what best we can do is to remove those styling on save and show these text as simple text without special character, after all those styling character inside code-block doesn't help the user, and user also won't be intere

[2020-03-10 09:10] gets0ul commented on #3755
@bug-bash-helper https://github.com/topcoder-platform/tc-project-service/pull/501 is ready for review

[2020-03-10 09:32] maxceem commented on #3743
So the message would look like this after saving, right?

![image](https://user-images.githubusercontent.com/146016/76298836-0c3c2800-62f5-11ea-9be3-fc0616a7743e.png)

That's ok, let's go this way.

[2020-03-10 09:40] sanju-singh commented on #3743
that is also possible, I was saying, let's drop those special character as well, so it will display as

Bold, italic, underline, unordered items are wrapped inside a code

no **, __ or ++.

[2020-03-10 09:44] maxceem commented on #3743
I'm afraid if we just drop them, then if someone enters code which would contain them, we would loose it. So I think it's better to keep them.

[2020-03-10 09:47] sanju-singh commented on #3743
No, we are adding that in the code(those special character), to construct the content with markdown syntax, from the editor we get the style, i.e whether its a bold, italic or underscore. So, for code that will come as content not style, and will work without a problem.

[2020-03-10 09:55] iversonLv commented on #3568
Fixed image:
Which do you want?
This is break-all, so the long word will break at last
![image](https://user-images.githubusercontent.com/4952611/76300712-2b888480-62f8-11ea-9a86-10a8ffb64ab2.png)

This is break-word, so the long word will first break into 2nd line as there is no enough place for it to stay at 1st line, also, it will still break at last, notice it breaks into 3rd line as well
![im

[2020-03-10 09:56] iversonLv commented on #3568
@maxceem

[2020-03-10 09:58] maxceem commented on #3743
Ok, if we still can enter text **bold**, _itcalic_, +underline+ inside **code** bock, then yes, we can remove adding **, __ or ++ when we make the text bold, italic or underline using editor buttons.

[2020-03-10 10:02] maxceem commented on #3568
@iversonLv first one with `break-all`

[2020-03-10 10:03] maxceem commented on #3568
Sorry, @iversonLv let's use the second one better with `break-word`.

[2020-03-10 10:08] iversonLv commented on #3568
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3759 is ready for review

[2020-03-10 10:19] sanju-singh commented on #3743
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3760 is ready for review

[2020-03-10 14:31] rashmi73 commented on #3624
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3761 is ready for review

[2020-03-10 16:40] narekcat commented on #3723
@bug-bash-helper  https://github.com/topcoder-platform/project-processor-es/pull/28  is ready for review

[2020-03-10 16:43] nqviet commented on #3651
@bug-bash-helper PR (https://github.com/appirio-tech/connect-app/pull/3757/commits/36db96f8d9cd24166b09714c99d93f373594ac9f) is ready for review

[2020-03-10 17:04] Giri-Suman commented on #3634
@bug-bash-helper unassign

[2020-03-10 17:05] Giri-Suman commented on #3634
@bug-bash-helper assign

[2020-03-10 17:07] Giri-Suman commented on #3634
@bug-bash-helper

[2020-03-10 17:08] maxceem commented on #3634
@Giri-Suman I've fixed the issue and opened it for pick up.

[2020-03-10 17:11] gets0ul commented on #3634
@Giri-Suman @maxceem Is this open? Thanks

[2020-03-10 17:11] rashmi73 commented on #3634
@bug-bash-helper assign

[2020-03-10 17:12] rashmi73 commented on #3634
@gets0ul and I commented at same time

[2020-03-10 20:24] rashmi73 commented on #3634
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3762 is ready for review

[2020-03-10 20:46] Gauravseta commented on #3435
@bug-bash-helper unassign

[2020-03-10 20:46] rashmi73 commented on #3435
@bug-bash-helper assign

[2020-03-10 20:54] rashmi73 commented on #3435
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3763 is ready for review

[2020-03-10 22:16] sumitdaga commented on #3704
@bug-bash-helper unassign

[2020-03-10 23:21] Gauravseta commented on #3704
@bug-bash-helper assign

[2020-03-11 02:02] tcchhabra commented on #3740
@bug-bash-helper setting up project service repo so need some more time, maybe next 5-6 hrs more.

[2020-03-11 02:11] PrakashDurlabhji commented on #3557
@bug-bash-helper I went through code and just need few hours , but do you addvalidation rule on formsy.form will do? because we use TextInput which is another field and not inside formsy.form so adding a validationrule on formsy.form will help?
@maxceem

[2020-03-11 03:42] maxceem commented on #3749
As no pull request has been provided for 12 hours, this issue is now open for pickup.

[2020-03-11 03:46] maxceem commented on #3557
I think it should do because in this place we add other validation rules which we use.

This TextInput should be already inside formsy.form because we use Formsy form functionality during project creation.

[2020-03-11 03:57] sanju-singh commented on #3749
@bug-bash-helper assign

[2020-03-11 04:31] maxceem commented on #3739
Sum up:
- when we render **project creation form**, URL example https://connect.topcoder-dev.com/new-project/talent-as-a-service we might show Estimation component

  ![image](https://user-images.githubusercontent.com/146016/76382510-edd93980-6393-11ea-9d20-07b7af795f93.png)

   The same component after would be rendered inside the **project dashboard page**, URL example http://local.topcoder-dev.

[2020-03-11 04:49] maxceem commented on #3739
@vikasrohit this is done and pushed to DEV, see demo video https://monosnap.com/file/QVv7xTjHV2HsAvleHA54ZHyaF6GNlv

Added flag `hideEstimation`.

For the demo, I've slightly updated the `talent-as-a-service` Project Template:
![image](https://user-images.githubusercontent.com/146016/76383295-59240b00-6396-11ea-9f89-350ecce36b9b.png)

![image](https://user-images.githubusercontent.com/146016/76383

[2020-03-11 05:00] maxceem commented on #3666
Sum up:
- Currently, if category has only one Project Template inside, like "Talent as a Service", when we choose such a category we don't show the list of Project Templates, but directly open form from the single Project Template. Check this on the next page https://connect.topcoder-dev.com/new-project by selecting "Talent as a Service". While if on the same page you click "Solutions" you would s

[2020-03-11 05:00] maxceem commented on #3666
This issue is now open for pickup.

[2020-03-11 05:01] vikasrohit commented on #3739
Thanks @maxceem I think I wrongly suggested the `talent-as-a-service` category for this issue, I read your question asking sample template in context of #3666. For this issue, I think we have App and QA forms which needs the flag `hideEstimation`.

[2020-03-11 05:05] maxceem commented on #3739
Ah, ok. Would like me to apply this flag to some other template and remove the changes I did to `talent-as-a-service`?

[2020-03-11 05:08] rashmi73 commented on #3666
@bug-bash-helper assign

[2020-03-11 05:21] maxceem commented on #3485
This task has two parts:
1. find the place where we encode the subject of email and stop encoding it
2. stop encoding projects data, this is a big task, so we would handle it a separate task https://github.com/topcoder-platform/tc-project-service/issues/502. Probably we cannot do this part fast.

As a part of the current issue we have to do only the first part. This would at least fix this issue f

[2020-03-11 06:11] maxceem opened #3764 "[$50] [Project Processor ES] Throw error if no invite has been removed when it should"
The current issue is used to track a task in another repository during the Bug Bash challenge.

https://github.com/topcoder-platform/project-processor-es/issues/29

All the comments to assign, unassign and ready for review should be done here in the current issue in Connect App.

[2020-03-11 06:12] maxceem commented on #3764
This issue has to be fixed in another repository https://github.com/topcoder-platform/project-processor-es branch **develop**.

[2020-03-11 06:12] maxceem commented on #3764
This issue is now open for pickup.

[2020-03-11 06:13] narekcat commented on #3764
@bug-bash-helper assign

[2020-03-11 06:21] tcchhabra commented on #3740
@maxceem few more mins, testing the fix, sorry it took time to setup project service.

[2020-03-11 06:31] maxceem commented on #3733
@sumitdaga small improvement required https://github.com/appirio-tech/connect-app/pull/3753#pullrequestreview-372501628

[2020-03-11 07:06] maxceem commented on #3752
@tcchhabra here is the review of the PR, please have a look https://github.com/appirio-tech/connect-app/pull/3754#pullrequestreview-372513997

[2020-03-11 07:13] maxceem commented on #3630
@tcchhabra there is some feedback for the fix, please have a look https://github.com/appirio-tech/connect-app/pull/3756#pullrequestreview-372516548

[2020-03-11 07:19] tcchhabra commented on #3630
@maxceem the requirement clearly said `Environment: iPhone 5s | iOS 12.2` so I didn't test other resolutions. Just made sure it is not broken for browser, I guess the video shared is broken before my fix too.

[2020-03-11 07:21] tcchhabra commented on #3752
ah I misunderstood not allow means, if user selects to, we should allow them to select from. Will fix it now.

[2020-03-11 07:23] maxceem commented on #3630
@tcchhabra Ah, sorry for the confusion. The `Environment: iPhone 5s | iOS 12.2` is where the issue has been found to make sure we can reproduce it.

Though we have to fix the issue in general. It can be reproduced on various mobile resolutions, not only on iPhone 5s.

[2020-03-11 07:31] tcchhabra commented on #3752
@bug-bash-helper #3754 is ready for review

[2020-03-11 07:39] tcchhabra commented on #3630
@bug-bash-helper #3756 is ready for review

[2020-03-11 07:43] vikasrohit opened #3765 "Messages tab does not load when an author is inactive"
### Expected behavior
Should load page properly with `Connect User` as placeholder data for inactive user

### Actual behavior
As of now, it fails to load the page if a user, who has made some post, is inactive

[2020-03-11 08:01] maxceem commented on #3765
Fixed via 836d92a4a5c57c9f7aa43addad7ea26bb8d368ac

![image](https://user-images.githubusercontent.com/146016/76394779-fc821980-63b0-11ea-834d-b64367e796e4.png)

Hotfixes are created:
- DEV https://github.com/appirio-tech/connect-app/pull/3766
- PROD https://github.com/appirio-tech/connect-app/pull/3767

[2020-03-11 08:42] sanju-singh commented on #3749
what do you mean by 'except "Data" fields.' which fields exactly. This has to be done for grid filter only, right?

[2020-03-11 08:47] tcchhabra commented on #3740
@bug-bash-helper https://github.com/topcoder-platform/tc-project-service/pull/503 fixing lint issue finally

[2020-03-11 08:52] #3765 closed

[2020-03-11 09:04] maxceem commented on #3749
I mean that we should not focus "Date" fields on the Assets Library page:
![image](https://user-images.githubusercontent.com/146016/76399881-5e934c80-63ba-11ea-8a95-c663656bfec3.png)

But we should focus fields in other filters:

![image](https://user-images.githubusercontent.com/146016/76399915-6c48d200-63ba-11ea-99df-63494d4fd32f.png)

[2020-03-11 09:14] tcchhabra commented on #3740
@bug-bash-helper topcoder-platform/tc-project-service#503 is ready for review

[2020-03-11 09:23] maxceem opened #3768 "Exclude users for which Member Service cannot return details and try again"
When we are loading topics with posts, we are also loading user details so we can show user avatars, full name, handle and so on for topics and posts:

![image](https://user-images.githubusercontent.com/146016/76400655-9c44a500-63bb-11ea-8d8e-de8485a1f692.png)

We do it here https://github.com/appirio-tech/connect-app/blob/hotfix/show-topics-without-user-details/src/projects/actions/projectTopics.

[2020-03-11 09:25] maxceem commented on #3768
@vikasrohit I've tried to request data for some non-existent users with userId `1` or `123`. The member service doesn't return data for them, but it doesn't fail. Do you have any example userId for which Member Service would fail?

[2020-03-11 09:49] vikasrohit commented on #3768
I can do that for some user, do you have a user which we can use for this purpose?

[2020-03-11 10:10] maxceem commented on #3768
Let's do this to one of my users `maxceem12` with userId `40159058`.

[2020-03-11 10:19] vikasrohit commented on #3768
Ok, please create a post in sample project using this user before I deactivate this user.

[2020-03-11 10:27] vikasrohit commented on #3745
No, @maxceem I think I was not clear from starting and I think because you are not able to see any report, you are not seeing the hearbeat calls that looker is making behind the scenes.
When looker actually renders a report, it keeps sending heartbeat api calls to its server to check how much session time is left. And this call returns with 401/403 when due to any reason the session is expired at

[2020-03-11 10:34] maxceem commented on #3745
Do I understand it correctly, that this `heartbeat` request is triggered using some code inside the `iframe`? So all this logic happens inside `iframe`?

If so I guess there is no common solution, as we cannot access the `iframe` on another domain as per browsers security policies, unless we can implement some logic inside `iframe` to talk to the "host".

Or maybe there is some kind of API of Look

[2020-03-11 10:41] narekcat commented on #3764
@bug-bash-helper https://github.com/topcoder-platform/project-processor-es/pull/28 is ready for review

[2020-03-11 11:05] maxceem opened #3769 "Find out why Project Template with id 3 is not found on DEV"
We have a project on DEV https://connect.topcoder-dev.com/projects/7442

It uses template with id `3`, and it cannot be found.

As per Vikas testing, it looks like if we remove the metadata index, then it works well from the DB. But if we index all the metadata, the Project Template is not returned from ES.

We should find out why.

[2020-03-11 11:06] maxceem commented on #3768
Created in this project https://connect.topcoder-dev.com/projects/8912

[2020-03-11 11:07] drasticdpk opened #3770 "[$25] Profile Icon doesn’t display the default image in Avatar."
### Expected behavior
The Avatar should display default image. .

### Actual behavior
The blank icon is being displayed in the Avatar.

### Steps to reproduce the problem
1.	Login as any user which doesn’t have the Display Picture uploaded yet.
2.	Go to My Profile section>> Personal Information>>Avatar

### Screenshot/screen-cast
Attach or link a resource.
![No default Image](https://user-images.g

[2020-03-11 11:07] vikasrohit commented on #3745
Yes.

Understood. I was thinking of some event handler on iframe itself like we have onload, if we have onerror, we can put some logic there. But if it is not, it is not, we can not do anything.

[2020-03-11 11:14] sanju-singh commented on #3749
@bug-bash-helperhttps://github.com/appirio-tech/connect-app/pull/3771 is ready for review

[2020-03-11 11:14] sanju-singh commented on #3749
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3771 is ready for review

[2020-03-11 11:15] maxceem commented on #3745
I guess to check it out we would need to have a demo on the DEV. So we can play with a real example and see if there is any way to find out about this error in iframe from the "host".

[2020-03-11 11:16] drasticdpk opened #3772 "User is able to upload the large size Profile image."
### Expected behavior
The  user should not be allowed to upload the large  size image of more than 2 MB like we have in Community app. .

### Actual behavior
The user is being able to upload more than 50 MB size pictures. .

### Steps to reproduce the problem
1.	Login as any user .
2.	Go to My Profile section>> Personal Information>>Avatar
3.	Upload the large size picture.

### Screenshot/screenca

[2020-03-11 11:17] vikasrohit commented on #3768
Done. User is inactive now and we should see the error in _search api call now.

[2020-03-11 11:19] drasticdpk opened #3773 "[$35] Some of the buttons doesn’t get highlighted on mouse hovering."
### Expected behavior
The button should get highlighted when the mouse gets hover on it. .

### Actual behavior
The button is not getting focused while hovering the mouse.

Note : Please implement this feature across all the buttons.

### Steps to reproduce the problem
1.	Login as Copilot user.
2.	Go to the dashboard.
3.	Go to Top Right header “+New Project” .
4.	Hover the mouse over “+New Project

[2020-03-11 11:27] maxceem commented on #3768
Looks like there would be a tricky moment. We request several users by their `userId` like this:
https://api.topcoder-dev.com/v3/members/_search/?fields=userId%2Chandle%2CphotoURL%2CfirstName%2ClastName%2Cdetails%2Cemail&query=userId%3A40152856%20OR%20userId%3A40159058&limit=2

and when it fails for some user it returns error with `handle` instead of `userId`:

![image](https://user-images.githubu

[2020-03-11 11:47] vikasrohit commented on #3745
Okay, lets leave it for now, I will setup something in dev for reports after publicly releasing the reports feature. we can take it afterwards.

[2020-03-11 12:00] drasticdpk opened #3774 "[$10] Toggle button is not working for Copilot and customer users."
### Expected behavior
The toggle button should function accordingly while clicking on an off.

### Actual behavior
There is no difference in the project list even after clicking the My Projects toggle button.
Suggestion: If this doesn’t imply for Copilot/Customer or other roles then we don’t need to have this feature for them.

### Steps to reproduce the problem
1.	Login as Copilot/customer user.

[2020-03-11 12:02] sumitdaga commented on #3733
@maxceem  fixed!

[2020-03-11 12:02] drasticdpk opened #3775 "[$15] User is able to click on the tabs that are already selected."
### Expected behavior
User should not be able to select the same tab that is being focused already..

### Actual behavior
User can select the same tabs even it’s being selected already..

### Steps to reproduce the problem
1.	Login as any user.
2.	Go to the Main Page.
3.	Click on Active tab of the Project Grid view.
4.	Again click on the same tab “Active tab”.
5.	Observe the server request

### Sc

[2020-03-11 12:03] sumitdaga commented on #3733
@bug-bash-helper #3753 is ready for review

[2020-03-11 12:06] drasticdpk opened #3776 "User is able to add/edit/delete the information for the completed Projects ."
### Expected behavior
User should not be able to add/delete/edit the information/message for the already completed projects.
Note : This will lead to the conflicting situation later.
.

### Actual behavior
User is able to change/edit/add the information like Messages/Assets in the completed projects..

### Steps to reproduce the problem
1.	Login as any user.
2.	Go to the Main Page >> header tabs.

[2020-03-11 12:11] drasticdpk opened #3777 "The Footer section of Login page is showing the old year as @Topcoder2018."
### Expected behavior
The footer should display @Topcode2020. .

### Actual behavior
: The footer is displaying as @Topcoder2018..

### Steps to reproduce the problem
1.	Go to the Login page.
2.	Check the footer.

### Screenshot/screencast
Attach or link a resource.

![footer](https://user-images.githubusercontent.com/25297859/76415488-61de0680-63c1-11ea-93f9-85754a85b391.png)

![footer1](https://

[2020-03-11 12:15] drasticdpk opened #3778 "My Profile name is written in small letter."
From the Left Navigation Menu>>Click on My Profile.
Problem :  My Profile is written as My profile.
Suggestion: It should read like My Profile
Benefit: It gives consistency in the header format.

### Screenshot/screencast
Attach or link a resource.
![UX-My profile](https://user-images.githubusercontent.com/25297859/76415836-0d875680-63c2-11ea-8781-20ddb3420edd.png)

--

#### Environment
- OS: Wind

[2020-03-11 12:17] drasticdpk opened #3779 "2. My Profile : Inconsistency in the Menu and the detail page."
Left Navigation Menu>> My Profile >> Profile Information
Problem :  Menu title and the detail section header is not sync for Profile Information.
Suggestion: Even the detail page should have the same Title as Profile Information.
Benefit: It gives the clarity to the user as what information to be included.

### Screenshot/screencast
Attach or link a resource.

--
![inconsistency in profile](https:

[2020-03-11 12:20] drasticdpk opened #3780 "My Profile : User is not able to delete the profile picture."
Left Navigation Menu>> My Profile >> Profile Information>>Avatar
Problem :  User is not able to remove/delete the display picture once it’s been uploaded.
Suggestion: We can add delete/remove functionality if the user wish to delete the picture.
Benefit: User will have option to not keep their picture.

### Screenshot/screencast
Attach or link a resource.
![delete](https://user-images.githubuserco

[2020-03-11 14:09] vikasrohit commented on #3774
Good catch @drasticdpk . I will add this to feature planning board so that we can get product manager's feedback.

[2020-03-11 14:43] lakshmiathreya commented on #3765
@drasticdpk

[2020-03-11 14:44] lakshmiathreya commented on #3765
Verified and closed by Vikas/Maxceem

[2020-03-11 19:38] mtwomey opened #3781 "PII of Users Disclosure using "/members/invite/" endpoint"
Details in here: https://appirio.atlassian.net/browse/VULN-1601

We need to discuss this @vikasrohit with Ariel as well. I think disabling this ability will have impacts on Connect functionality. We probably will need to disable it though. CC: @jswheeler

[2020-03-11 22:16] PrakashDurlabhji commented on #3557
@bug-bash-helper https://github.com/appirio-tech/react-components/pull/350 is ready for review

[2020-03-11 22:44] rashmi73 commented on #3666
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3782 is ready for review

[2020-03-11 22:46] Gauravseta commented on #3704
@bug-bash-helper unassign

[2020-03-11 22:47] rashmi73 commented on #3704
@bug-bash-helper assign

[2020-03-12 02:38] maxceem commented on #3750
@nqviet please create a separate pull request for this issue. Don't combine fixes for several issues into one pull request. Here is feedback for this issue https://github.com/appirio-tech/connect-app/pull/3757#pullrequestreview-373243786

[2020-03-12 02:39] maxceem commented on #3651
@nqviet please create a separate pull request for this issue. Don't combine fixes for several issues into one pull request. Here is feedback for this issue https://github.com/appirio-tech/connect-app/pull/3757#pullrequestreview-373243786

[2020-03-12 03:39] maxceem commented on #3630
@tcchhabra fix works good now for this page, but it breaks close button on other pages, see https://github.com/appirio-tech/connect-app/pull/3756#pullrequestreview-373259998

[2020-03-12 04:02] maxceem commented on #3743
@sanju-singh there is some situation when escape character is still added, see https://github.com/appirio-tech/connect-app/pull/3760#pullrequestreview-373265672

[2020-03-12 04:28] maxceem commented on #3634
@rashmi73 the fix works good, but looks like there is now redundant code, can we remove it? https://github.com/appirio-tech/connect-app/pull/3762#pullrequestreview-373271601

[2020-03-12 04:55] maxceem commented on #3749
@sanju-singh there is a couple of issues in the current implementation, please have a look https://github.com/appirio-tech/connect-app/pull/3771#pullrequestreview-373278165

[2020-03-12 05:00] maxceem commented on #3666
@rashmi73 provided fix causes some error, please have a look https://github.com/appirio-tech/connect-app/pull/3782#pullrequestreview-373279326

[2020-03-12 05:24] maxceem commented on #3557
@PrakashDurlabhji the provided fix doesn't work for me. I can still enter negative values during project creating using http://local.topcoder-dev.com:3000/new-project/talent-as-a-service

![image](https://user-images.githubusercontent.com/146016/76489948-c605d680-6464-11ea-90e2-47482c5ad99a.png)

[2020-03-12 05:35] #3727 closed

[2020-03-12 05:36] #3717 closed

[2020-03-12 05:53] maxceem commented on #3750
Thanks for creating a separate PR for this issue @nqviet. Please have a look on the feedback https://github.com/appirio-tech/connect-app/pull/3783#pullrequestreview-373293379

[2020-03-12 06:03] tcchhabra commented on #3630
@bug-bash-helper #3756 is ready for review

[2020-03-12 06:11] vikasrohit commented on #3779
@drasticdpk I don't think it is inconsistency, `Personal Information` is sub section of the `Profile Information`, I guess.

[2020-03-12 06:13] vikasrohit commented on #3777
@drasticdpk this issue should be logged in https://github.com/appirio-tech/accounts-app.

[2020-03-12 06:20] drasticdpk commented on #3777
@vikasrohit Ok noted.
Reference :
http://updateyourfooter.com/

[2020-03-12 09:29] drasticdpk commented on #3752
Verified on Dev Env :
![image](https://user-images.githubusercontent.com/25297859/76507003-281a0800-6474-11ea-97a2-8269efb4df2c.png)

[2020-03-12 09:43] drasticdpk commented on #3568
Verified on Dev Env :
![image](https://user-images.githubusercontent.com/25297859/76508231-29e4cb00-6476-11ea-9d77-b92a3e1c21ee.png)

[2020-03-12 10:20] drasticdpk commented on #3736
Verified as above guidelines :
1.
![image](https://user-images.githubusercontent.com/25297859/76510528-dffde400-6479-11ea-946f-443b42939eed.png)

2.
![image](https://user-images.githubusercontent.com/25297859/76510228-5d752480-6479-11ea-85b3-89d14c65e2db.png)

But there is no any response data on **https://api.topcoder-dev.com/v5/projects/metadata/orgConfig?orgId=20000010,20000013,20000015,2000027

[2020-03-12 10:22] maxceem commented on #3736
That's correct. Response can be empty (in most cases it's empty). The issue was that if we don't have group IDs we shouldn't call this endpoint at all.

[2020-03-12 10:29] rashmi73 commented on #3634
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3762 is ready for review

[2020-03-12 10:34] drasticdpk commented on #3698
Verified on Dev env :
![image](https://user-images.githubusercontent.com/25297859/76512557-fd807d00-647c-11ea-8be8-3883c4a6a88f.png)

Reference Issue :
https://github.com/appirio-tech/connect-app/issues/3736

[2020-03-12 10:36] drasticdpk commented on #3736
Ok got it @maxceem . For better understanding  i have linked both issue each other.
https://github.com/appirio-tech/connect-app/issues/3698

[2020-03-12 10:38] rashmi73 commented on #3666
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3782 is ready for review

[2020-03-12 11:00] drasticdpk commented on #3673
Verified on Dev Env
![image](https://user-images.githubusercontent.com/25297859/76514968-e2177100-6480-11ea-980c-147bee8f3094.png)

[2020-03-12 11:49] drasticdpk commented on #3748
1. Verified  : Show files and links from phases in Assets Library
![image](https://user-images.githubusercontent.com/25297859/76517853-2ce7b780-6486-11ea-81e5-e87b1626acb6.png)
2. Verified : Hide a button to remove files and links from phases in Assets Library
![image](https://user-images.githubusercontent.com/25297859/76518135-ae3f4a00-6486-11ea-8ffc-036c15a81f38.png)
3. Need to confirm : Fix sho

[2020-03-12 11:56] maxceem commented on #3748
In parent grid, created by is showing as CoderBot but if you go inside it, there is showing user name instead of coderBot , please confirm. cc @maxceem

@drasticdpk The thing is the "folder" comes from the "topic" which was created for a phase by a `CoderBot` **automatically**.
While files inside phase any person can create.
So the "topic" which is equal to "folder" for phase would be always creat

[2020-03-12 12:59] sanju-singh commented on #3743
@bug-bash-helper #3760 is ready for review

[2020-03-12 13:00] sanju-singh commented on #3749
@bug-bash-helper #3771 is ready for review

[2020-03-12 18:18] satkanhub commented on #3737
All the project icons to be updated, as mentioned in the zip file.

![image](https://user-images.githubusercontent.com/51492004/76554450-37aa4880-6496-11ea-8c16-2eae7df2a0bd.png)

[2020-03-12 19:22] satkanhub commented on #3749
Video for reference
[3749.zip](https://github.com/appirio-tech/connect-app/files/4326048/3749.zip)

[2020-03-12 19:52] satkanhub commented on #3750
Video for reference
[3750.zip](https://github.com/appirio-tech/connect-app/files/4326219/3750.zip)

[2020-03-12 20:05] satkanhub commented on #3752
Working as expected, verification video for reference.

[3752.zip](https://github.com/appirio-tech/connect-app/files/4326292/3752.zip)

[2020-03-12 20:08] nqviet commented on #3750
It seems the patch has not been applied yet. (my side: https://take.ms/pKHB5)

[2020-03-12 20:29] satkanhub commented on #3743
Issue still exists. Video for your reference.
[3743.zip](https://github.com/appirio-tech/connect-app/files/4326407/3743.zip)

[2020-03-12 20:40] sanju-singh commented on #3743
@satkanhub , I think you haven't taken my changes provided in the pull request. I am able to see it working in two different machines and all the browsers.

[2020-03-12 20:42] sanju-singh commented on #3749
@satkanhub , I think you are checking on the wrong branch, you are supposed to take the changes provided in the pull request, merge it locally and then test.

[2020-03-12 21:30] satkanhub commented on #3673
Working as expected. Video for reference.

[3673.zip](https://github.com/appirio-tech/connect-app/files/4326639/3673.zip)

[2020-03-12 21:43] satkanhub commented on #3568
Working as expected. Video for reference

[3568.zip](https://github.com/appirio-tech/connect-app/files/4326747/3568.zip)

[2020-03-13 02:28] maxceem commented on #3750
this ticket is not ready for testing by QA team

[2020-03-13 02:34] maxceem commented on #3704
@rashmi73 as no pull request has been provided during 12 hours, you are now assigned and this issue is open for pickup.

[2020-03-13 02:37] maxceem commented on #3557
@PrakashDurlabhji let me know if you would like to complete this issue. But we have limited time. If you cannot complete it during the next 24 hours, I would have to unassign you.

[2020-03-13 05:43] maxceem commented on #3740
@tcchhabra the proposed solution has some issues, please have a look https://github.com/topcoder-platform/tc-project-service/pull/503#pullrequestreview-374060990

[2020-03-13 05:45] vikasrohit commented on #3748
Showing `CoderBot` is okay as we are already showing it for the various automated system messages.

[2020-03-13 05:52] vikasrohit commented on #3776
We are aware of this fact and we didn't do anything in this direction yet as we don't have concrete requirements and flows which are needed in case we start preventing changes in completed projects.

Moving to backlog for now.

[2020-03-13 05:54] vikasrohit commented on #3774
Got confirmation from product manager, we are good with removing the switch for customers and copilots for now. Not urgent, so we can keep it in release 2.9.

[2020-03-13 06:47] vikasrohit commented on #3781
@mtwomey we have already taken care of this as hotfix about a month back. This should not be an issue now.

[2020-03-13 07:44] gets0ul commented on #3704
@bug-bash-helper assign

[2020-03-13 08:12] maxceem commented on #3630
@tcchhabra the new update doesn't fix the issue and moves title instead of the button, and also still causes some other pages to update, please see feedback https://github.com/appirio-tech/connect-app/pull/3756#pullrequestreview-374110980

[2020-03-13 09:58] maxceem opened #3795 "Avoid double request of report "iframe""
When we open the "Reports" tab, the URL for the report is requested from the Project Service and after that we use that URL as `src` in `iframe` to load it.

In some reason, the request to load `iframe` is duplicated (1st canceled and 2nd works). Sometimes it causes the loading to fail:

![image](https://user-images.githubusercontent.com/146016/76610637-2cb5ed80-6554-11ea-9dc8-3996b5676fe1.png)

W

[2020-03-13 10:27] maxceem commented on #3743
Sorry @sanju-singh found an issue in the latest implementation so I had to revert the pull request https://github.com/appirio-tech/connect-app/pull/3796. Please, create a new one.

Everything works good if we enter text using buttons to style the text:

![image](https://user-images.githubusercontent.com/146016/76612445-4dcc0d80-6557-11ea-8d10-20fcc4ffbbb7.png)

Then after saving it would look like

[2020-03-13 10:30] maxceem commented on #3743
Also, there were lint issues in the PR:

![image](https://user-images.githubusercontent.com/146016/76613238-ba93d780-6558-11ea-9e22-f456e5a59126.png)

[2020-03-13 11:06] maxceem commented on #3666
@rashmi73 please, check feedback https://github.com/appirio-tech/connect-app/pull/3782#pullrequestreview-374215120

[2020-03-13 11:08] rashmi73 commented on #3666
@bug-bash-helper #3782 is ready for review

[2020-03-13 11:12] maxceem commented on #3749
@sanju-singh please, have a look on feedback https://github.com/appirio-tech/connect-app/pull/3771#pullrequestreview-374218685

[2020-03-13 11:29] gets0ul commented on #3704
@maxceem Are you able to reproduce this consistently? It seems that the current code already did the steps above before making request.

[2020-03-13 12:20] sanju-singh commented on #3749
Sorry, I missed that somehow.
@bug-bash-helperhttps://github.com//pull/3771 is ready for review

[2020-03-13 12:21] sanju-singh commented on #3749
@bug-bash-helper https://github.com//pull/3771 is ready for review

[2020-03-13 12:22] sanju-singh commented on #3749
@bug-bash-helper #3771 is ready for review

[2020-03-13 16:36] sanju-singh commented on #3743
@maxceem , I also reverted my changes and checked the given scenario, looks like it was not working earlier too, i.e styling through character ex: \*\*bold\*\* (this is not converting to **bold**) earlier too.
could you confirm that?

[2020-03-13 18:03] PrakashDurlabhji commented on #3557
@maxceem will it be ok to show a error below that only positive numbers are allowed? because not allowing negative value seems to be tough

[2020-03-13 18:13] gets0ul commented on #3704
@bug-bash-helper unassign

[2020-03-14 01:38] maxceem commented on #3557
@PrakashDurlabhji no, we need both kinds of validations.

[2020-03-14 01:40] maxceem commented on #3743
Ah, you are right @sanju-singh. Sorry, I was sure we support it. Everything works great then, thanks!

[2020-03-14 02:11] maxceem commented on #3740
@tcchhabra any update to this issue?

[2020-03-14 02:21] maxceem commented on #3704
I reproduced several times before logging-in, but now I cannot reproduce it anymore.

Now looking at the network tab I see that there is indeed logic to renew the token, but it looks like after starting requesting token it still tries to load notifications several times and somehow break requesting token or something like that. Strange actually. I'm excluding this issue from Bug Bash until I can r

[2020-03-14 02:29] maxceem commented on #3630
@tcchhabra prize raised to $50 as the fix would request some CSS class restructure.

[2020-03-14 05:11] tcchhabra commented on #3740
still with ES search (it was late at night here yesterday so couldn't wind up), tests are too huge and take a long time to run, anyway I can only run specific test blocks only to speed up process...

[2020-03-14 06:33] tcchhabra commented on #3740
@bug-bash-helper topcoder-platform/tc-project-service#503 is ready for review

[2020-03-14 14:45] maxceem commented on #3651
@nqviet the waves still look broken for me in IE11 https://github.com/appirio-tech/connect-app/pull/3789#pullrequestreview-374731458

[2020-03-14 15:02] maxceem commented on #3651
Works good after restarting the app:

![image](https://user-images.githubusercontent.com/146016/76684568-e93cab80-6647-11ea-97e7-fcc9ea1695f6.png)

[2020-03-14 22:21] satkanhub commented on #3435
Notification count next to Dashboard is not aligned. I could see the issue in IE11 and Chrome.

IE11
![image](https://user-images.githubusercontent.com/51492004/76691337-2ace5600-664a-11ea-8cb9-d85b308dd98f.png)

Chrome
![image](https://user-images.githubusercontent.com/51492004/76691363-708b1e80-664a-11ea-921b-71897d1670fb.png)

[2020-03-14 22:34] satkanhub commented on #3624
Working as expected. QA Passed.

[3624.zip](https://github.com/appirio-tech/connect-app/files/4333414/3624.zip)

@drasticdpk @lakshmiathreya Please update the status, seems I do not have access.

[2020-03-14 22:53] satkanhub commented on #3733
PASSED
![image](https://user-images.githubusercontent.com/51492004/76691705-0d02f000-664e-11ea-968f-d15fdbb033e3.png)

PASSED
![image](https://user-images.githubusercontent.com/51492004/76691716-518e8b80-664e-11ea-9355-5f7b93fc68f4.png)

FAILED
![image](https://user-images.githubusercontent.com/51492004/76691722-6a973c80-664e-11ea-8aa5-0f4e7f63536d.png)

PASSED
![image](https://user-images.githubu

[2020-03-15 04:48] tcchhabra commented on #3630
@bug-bash-helper #3756 is ready for review

[2020-03-15 04:49] tcchhabra commented on #3630
@maxceem fixed with minimal changes. It works fine on my side, testing for iPhone 5/X/iPad/Laptop for both welcome back and new project screens. Await your feedback 🤞

[2020-03-15 04:51] tcchhabra commented on #3557
@maxceem I can give this a try once if @PrakashDurlabhji cannot do it.

[2020-03-15 12:36] maxceem commented on #3557
@PrakashDurlabhji as there is no update this issue is now unassigned.

@tcchhabra no, this issue is now excluded from this Bug Bash.

[2020-03-16 02:29] maxceem commented on #3733
This is indeed not applied on DEV. Will update today.

[2020-03-16 02:32] maxceem commented on #3435
@satkanhub this is indeed a regression issue.

[2020-03-16 03:06] maxceem commented on #3435
regression issue is fixed

[2020-03-16 06:46] drasticdpk commented on #3435
@maxceem  above issue has been verified on IE browser.
![image](https://user-images.githubusercontent.com/25297859/76728895-fd83c400-677f-11ea-9efc-c86bada90733.png)

But we can see there are other discrepancy between IE and Chrome browser in application.
If the browser compatibility testing is in our scope, we can create separate issue for that. (if yes please mention the browser name which we ha

[2020-03-16 06:51] maxceem commented on #3435
@drasticdpk in this issue we only fixed 2 cases mentioned in the issue description. It didn't include fixing any possible inconsistencies in IE11

For any new issues in IE11, please feel free to create new issues.

[2020-03-16 06:53] drasticdpk commented on #3748
As per above clarification, working as expected i.e it is passed.

[2020-03-16 07:35] drasticdpk commented on #3427
Issue verified, here is the reference

[3427_verification.mp4.zip](https://github.com/appirio-tech/connect-app/files/4336770/3427_verification.mp4.zip)

[2020-03-16 07:42] drasticdpk commented on #3749
Verified, here is the reference.
[3749_verification.mp4.zip](https://github.com/appirio-tech/connect-app/files/4336805/3749_verification.mp4.zip)

[2020-03-16 08:56] drasticdpk commented on #3740
Verified on Dev Env
![image](https://user-images.githubusercontent.com/25297859/76739260-1302e900-6794-11ea-9a29-3df5fce1065a.png)
![image](https://user-images.githubusercontent.com/25297859/76739337-2910a980-6794-11ea-850f-ffaff4cfbdec.png)

[2020-03-16 09:06] maxceem opened #3801 "Invite member email is cut"
Invite non-topcoder user by email, see that it's cut in the Customer Team dialog

![image](https://user-images.githubusercontent.com/146016/76740204-7a2a9880-67a8-11ea-943a-092870fc9aed.png)

[2020-03-16 09:32] drasticdpk commented on #3743
Verified on dev env.
[3743_Verification.mp4.zip](https://github.com/appirio-tech/connect-app/files/4337317/3743_Verification.mp4.zip)

[2020-03-16 11:16] vikasrohit commented on #3485
@maxceem are you working on it yourself?

[2020-03-16 11:26] drasticdpk commented on #3666
Verified on dev env by setting **autoProceedToSingleProjectTemplate** true and false on https://connect.topcoder-dev.com/metadata/projectTypes/talent-as-a-service
[3666_verification.mp4.zip](https://github.com/appirio-tech/connect-app/files/4337851/3666_verification.mp4.zip)

[2020-03-16 11:36] drasticdpk commented on #3630
Verified on Dev Env:
![image](https://user-images.githubusercontent.com/25297859/76754520-63854100-67aa-11ea-9e37-d8db222687ab.png)
[3630_verificatoin.mp4.zip](https://github.com/appirio-tech/connect-app/files/4337918/3630_verificatoin.mp4.zip)

[2020-03-16 11:39] maxceem commented on #3485
I have to either find a way to formulate it properly for the community or fix myself.

[2020-03-16 11:53] drasticdpk commented on #3651
Verified on Dev Env
![image](https://user-images.githubusercontent.com/25297859/76755963-ec9d7780-67ac-11ea-8998-6d7aa023b6ba.png)

[2020-03-16 12:10] drasticdpk commented on #3634
Still having same issue. User can add same skills( two times)  by typing space and tab key on already selected skills.
Here is the reference.

![image](https://user-images.githubusercontent.com/25297859/76756813-8d406700-67ae-11ea-8592-a142e24d12ab.png)

[3634_Verification.mp4.zip](https://github.com/appirio-tech/connect-app/files/4338059/3634_Verification.mp4.zip)

[2020-03-16 12:16] drasticdpk commented on #3739
@maxceem @vikasrohit can you please guide us which template has to choose to meet the above scenario. cc @lakshmiathreya

[2020-03-16 19:59] mtwomey opened #3802 "Can start TAAS project when full-time resource hours are set to zero"
### Expected behavior
Can start TAAS project

### Actual behavior
Cannot start a new TAAS project if Fulltime Resource Hours is set to zero

### Steps to reproduce the problem

### Screenshot/screencast
Attach or link a resource.
![image](https://user-images.githubusercontent.com/7715262/76795235-b654fd80-6796-11ea-8f1b-307f2dd00eaf.png)

--

#### Environment
- OS:
- Browser (w/version):
- User ro

[2020-03-16 20:52] satkanhub commented on #3733
Working as expected.

[3733 New.zip](https://github.com/appirio-tech/connect-app/files/4340321/3733.New.zip)

[2020-03-17 04:45] maxceem commented on #3750
@nqviet, please let me know your Topcoder handle to process the payment for the issues you have solved.

Thanks.

[2020-03-17 04:49] nqviet commented on #3750
@maxceem my TC handle is nqv2018

[2020-03-17 04:54] vikasrohit commented on #3802
Related issue https://github.com/appirio-tech/connect-app/issues/3557

[2020-03-17 08:20] vikasrohit opened #3803 "Join Project dialog is shown even after successful acceptance of invite"
### Expected behavior
After successful acceptance of member invite, it should let user to load the project.

### Actual behavior
It is showing the Join Project dialog when user tries to load the project and even if user tries to accept it again, it throws error `invite not found for project id 123, email vik***@**.com and userId 4xxxxxx5`

### Steps to reproduce the problem
- Invite a customer use

[2020-03-17 08:21] vikasrohit commented on #3803
@mtwomey fyi

[2020-03-17 09:16] maxceem commented on #3803
We cannot reproduce it locally or on DEV, though having some ideas on how this could happen we've created a hotfix for `project-processor-es`:
- DEV https://github.com/topcoder-platform/project-processor-es/pull/34 - already merged to DEV
- PROD https://github.com/topcoder-platform/project-processor-es/pull/33

[2020-03-18 03:41] maxceem commented on #3739
@drasticdpk please, use template https://connect.topcoder-dev.com/new-project/talent-as-a-service for now. I've enabled the estimation section there. So for testing you may create a projects now with estimation section enabled, and observe, that estimation sections present during creating and on the dashboard page.

After, that change the `hideEstimation` to `true` https://monosnap.com/file/OX74jx

[2020-03-18 06:56] drasticdpk commented on #3739
Reference Project : https://connect.topcoder-dev.com/projects/8921
Template : https://connect.topcoder-dev.com/metadata/projectTemplates/225
[3739_verification.mp4.zip](https://github.com/appirio-tech/connect-app/files/4347441/3739_verification.mp4.zip)

[2020-03-18 15:53] vikasrohit commented on #3802
@mtwomey fixed the issue, now you should be able to enter 0 to any of the resource hours fields.

[2020-03-18 15:53] #3802 closed

[2020-03-18 16:33] lakshmiathreya commented on #3802
@vikasrohit the Issue is fixed in Prod today - a hotfix ? Wondering how it'd be part of the 2.8 milestone?

[2020-03-18 16:33] lakshmiathreya commented on #3802
@drasticdpk - fyi

[2020-03-19 03:53] maxceem commented on #3557
@vikasrohit  there is one tricky moment regarding validating positive/negative values. We use `input type="number"` for this field and it, surprise :tada:, returns an empty string when we enter a non-numeric value. So we cannot validate the value in this field when it’s a wrong number.

![image](https://user-images.githubusercontent.com/146016/77029675-500aed80-69d7-11ea-8112-62961bd59c2c.png)

Se

[2020-03-19 04:07] maxceem commented on #3505
Done via dd43758ae318d1a9bbd2e933119408126637c0a4 in Connect App and https://github.com/topcoder-platform/tc-notifications/commit/98ebc428bc463e6625fa8e3d11c1094fecf2a01e in TC Notification repo.

[2020-03-19 07:17] maxceem commented on #3737
Done via a138e75c304e5bf5bd558288bbfd9be596bc3cbb

Icons are also updated on DEV environment for all visible project templates to match the requirements.

[2020-03-19 07:18] maxceem commented on #3737
After release, the icons should be also updated on PROD for Project Template and Project Types, fyi @vikasrohit.

[2020-03-19 07:26] vikasrohit commented on #3737
@maxceem do we need to update the icons name in templates? I was assuming that we kept the icons name same as they are currently.

[2020-03-19 07:31] maxceem commented on #3737
Ah, yes, I've updated the names in templates, so new icon names do not collide with old names which we still use on for the phases.

![image](https://user-images.githubusercontent.com/146016/77042408-958ae300-69f6-11ea-91e5-42b4627eacac.png)

Is that ok? Or is it too hard, and we should revert them back and use old names for icons so we don't have to update project templates on PROD?

[2020-03-19 07:41] maxceem opened #3804 "Don't show firstname, lastname and email for any users"
In general: we should stop requesting and showing first name and last name of users client-side and show the handle instead everywhere.
- don’t request firstName and lastName in all endpoints client-side from the _search endpoint
- show handle instead of full name everywhere Client-side
- don’t request firstName and lastName in all endpoints server-side from the _search endpoint so we never return

[2020-03-19 07:49] vikasrohit commented on #3557
@maxceem I found `checkValidity()` method  or `validity` field on the number input which gives correct result for validation of the value inside it. Can we use that? May be we can use `valueAsNumber` field (it returns NaN when we enter `-123-123-23` in the field) in combination with regular value field to determine the validation state?

[2020-03-19 08:49] maxceem commented on #3804
Hotfixes have been deployed to DEV:
- client-side: don’t request firstName and lastName in all endpoints client-side from the _search endpoint
- server-side: don't return `firstName`, `lastName` and `email` to non-admin users

@vikasrohit this is ready for testing on DEV.

PRs for PROD:
- clinet-side: https://github.com/appirio-tech/connect-app/pull/3805
- server-side: https://github.com/topcoder-

[2020-03-19 11:12] lakshmiathreya commented on #3804
@drasticdpk

[2020-03-19 11:54] #3804 closed

[2020-03-19 12:11] maxceem commented on #3557
That's an interesting finding @vikasrohit. There is also a [validity](https://developer.mozilla.org/en-US/docs/Web/API/HTMLObjectElement/validity) property which can give us more details on what exactly is invalid:
[code]

Though, it looks like we cannot use this via Formsy.

In the standard Formzy API we can only add validator which relies on the value and other form values https://github.com/chr

[2020-03-19 14:20] vikasrohit commented on #3557
Lets go with `type=text`.

[2020-03-20 12:51] maxceem commented on #3557
@vikasrohit The next fix has been done for this issue:
- I've updated https://connect.topcoder-dev.com/new-project/talent-as-a-service Project Template so now it uses `type="textinput"` instead of `type="number"`, because validations don't work for numbers
- in `react-components` implemented validators `isPositiveNumber` and `isNonNegativeNumber`
- so now we can apply them to any field
- but it ap

[2020-03-23 10:34] maxceem commented on #3722
@vikasrohit this is implemented in the branch `feature/restful-invites`. Though I've noticed one disadvantage during testing the implementation:

![image](https://user-images.githubusercontent.com/146016/77307787-f5d99780-6d0a-11ea-87f3-363fa64a5f7a.png)

Do you think we should anything about it?

[2020-03-23 14:40] codejamtc commented on #3737
@maxceem I can't see the changes on `dev` https://connect.topcoder-dev.com/new-project/scoped-solutions. [https://github.com/appirio-tech/connect-app/issues/3737#issuecomment-601025026]

Old blue icons are displayed. The new icons are light green provided https://github.com/appirio-tech/connect-app/files/4274447/connect-catalog-icons.zip

https://www.screencast.com/t/9upnNwL7o9N

[2020-03-23 15:24] codejamtc commented on #3723
@maxceem I can't see the changes on `dev`

https://www.screencast.com/t/Wwr1QaWj

Created a new project using `topcoderconnect+Customer@gmail.com`

`firstName` = `Topcoder Edit`
`lastName` = `Connect Test`
`handle` = `TopConnCustomer`
`email` = `topcoderconnect+Customer@gmail.com`

Logged in as `Manager` and perform the search via the above parameters to the search

https://www.screencast.com/t/Ww

[2020-03-23 16:11] maxceem commented on #3737
@codejamtc we only updated icons for each Project Type, but not the background color. We use a blue background because we currently use the **blue** theme for Connect App, and we didn't switch to a new **green** color scheme which is used in the new design. So in all the places where new design uses green color we replace it with our current blue color.

These icons weren't updated, we use old ico

[2020-03-23 16:19] codejamtc commented on #3737
@maxceem I will check the icons again and update

[2020-03-23 16:33] codejamtc commented on #3737
@maxceem Other than `02_buy_capacity.svg` and `10_salesforce_implementation.svg`, all the other icons are updated

[2020-03-23 16:36] maxceem commented on #3737
We don't have such Project Templates on DEV at the moment. So there is no place where to update them.

[2020-03-23 16:39] codejamtc commented on #3737
@maxceem Do we have `add-phase` icon design assets to compare. I have compared the icons with the screenshot you have provided but there are more. (Since I am new to this project, I don't have any idea about the old icons) Sorry about that.

[2020-03-23 16:45] maxceem commented on #3737
That's ok, no worries. We don't have the design for the `add-phase` screen as it was done long time ago. We have an older version of the Connect App here https://connect-test01.topcoder-dev.com/projects/8944/add-phase. So you may check that icons now didn't change in comparison with the older version.

[2020-03-23 16:52] maxceem commented on #3723
@vikasrohit could you please help me here.

I can see, that when I create a project on DEV, the first/lastname and email are not populated for the user who created the project.
But locally it works for me.

Could you please, check the logs of `project-processor-es` during project creating, there should be some of these logs records: https://github.com/topcoder-platform/project-processor-es/blob/de

[2020-03-23 17:47] codejamtc commented on #3737
@maxceem Thanks
`add-phase` screen icons and text + all the other icons - verified (Currently I don't have permission to change the labels)

I don't know if @bug-bash-helper QA Pass In Dev will work

[2020-03-23 18:18] codejamtc commented on #3750
URL: https://connect.topcoder-dev.com/projects/8942/assets
User:  `topcoderconnect+Manager@gmail.com`

https://www.screencast.com/t/PwypEuoepo79

- When we don't have any filter and start editing, we should be able to apply filter. **Not Fixed** - _User can't apply a filter when we are in edit mode_
- When we apply filter and start editing, we should not be able to change the filter. **- Fixed**
-

[2020-03-24 05:08] maxceem commented on #3737
@codejamtc I've invited you to the repository. Please, check your email for the invite and accept it to get permissions for changing labels.

[2020-03-24 05:11] maxceem commented on #3750
@codejamtc sorry, there is a typo in the description, it should be "When we don't have any filter and start editing, we should **not** be able to apply filter." so the first requirement looks also fixed.

[2020-03-24 05:14] codejamtc commented on #3750
@maxceem Thanks for the clarification

- When we don't have any filter and start editing, we should be able to apply filter. **Fixed**
- When we apply filter and start editing, we should not be able to change the filter. **- Fixed**
- We should not be able to click column filters when are editing a file or link. **- Fixed**

[2020-03-24 05:22] maxceem opened #3809 "Use updated RESTful invite API"
We updated invite related API on the Project Service as per https://github.com/topcoder-platform/tc-project-service/issues/437 via PR https://github.com/topcoder-platform/tc-project-service/pull/517.

Now we have to update the client-side to use this updated API. It has been done via challenge http://www.topcoder.com/challenge-details/30118162/?type=develop and concluded in the next PR https://git

[2020-03-24 11:52] codejamtc commented on #3388
Project: https://connect.topcoder-dev.com/projects/8943

https://www.screencast.com/t/IBd8mQBCoIC

topcoderconnect+Manager=Invited users `test@gmail.com`, `test2@gmail.com`, `test3@gmail.com`, `test4@gmail.com`

AccountManager = Email masked
CopilotManager = Email masked
Customer = Email masked
BDR = Email masked
Copilot = {Currently there is an error while approving Copilot, I will test this role

[2020-03-24 11:55] narekcat commented on #3723
Hello @maxceem .  Must I add fix this issue or there will be new bug bush for that ?

[2020-03-24 13:13] codejamtc commented on #3412
Project: https://connect.topcoder-dev.com/projects/8943/
User: `topcoderconnect+Customer`

https://www.screencast.com/t/GBDnn47G

[2020-03-24 13:20] codejamtc commented on #3413
Project: https://connect.topcoder-dev.com/projects/8943/
User: `topcoderconnect+Customer`

https://www.screencast.com/t/TnIoJiAVId

[2020-03-24 14:13] codejamtc commented on #3722
Project: https://connect.topcoder-dev.com/projects/8943/
Users:

Invitations sent via ``
Manager ``
A user without administrative privileges ``

https://www.screencast.com/t/NSwbciWej

- [ ] - If a user has been invited by `handle` we only show `handle` for such invitations, but we don't show `email` (except of Topcoder Admins) - {Fixed}
- [ ] - If a user has been invited by `email` we only show `

[2020-03-24 14:43] maxceem commented on #3722
@codejamtc only user with `administrator` role can see email without masking, you may use `topcoderconnect+Admin@gmail.com` user. Users with `Connect Admin` role like `topcoderconnect+AccountManager` still can see email only with a mask.

[2020-03-24 14:51] maxceem commented on #3723
Hi @narekcat. No need to add a fix, thanks. It works locally for me, not sure why it doesn't work when deployed to the DEV environemnt, we would debug it first.

[2020-03-24 15:02] narekcat commented on #3723
Ok @maxceem .

[2020-03-24 16:24] maxceem commented on #3388
@codejamtc

fixed

I'm not sure what kind of issue is there. Could you please, elaborate. Note, that the user WHO creates invite also can see email normally.

[2020-03-24 16:29] codejamtc commented on #3722
@maxceem This is what I can see when I logged in as `topcoderconnect+Admin@gmail.com`

https://connect.topcoder-dev.com/projects/8943

![image](https://user-images.githubusercontent.com/42398485/77451464-b53d5500-6dc2-11ea-93d7-f3b1846fce4a.png)

[2020-03-24 16:47] codejamtc commented on #3801
Project: https://connect.topcoder-dev.com/projects/8943/
User: `topcoderconnect+Customer@gmail.com` (This user created the project `8943`)

https://www.screencast.com/t/g3KgLTk0XTT

[2020-03-24 17:52] codejamtc commented on #3809
- Create invite and remove invites to the Customer Team by email and handle - **{Fixed}**

**Project:** https://connect.topcoder-dev.com/projects/8943
**User:** `topcoderconnect+Manager@gmail.com`
**Other users tested:** `topcoderconnect+Customer@gmail.com`,

https://www.screencast.com/t/FJIGqoltWb

- Create invite and remove invites to the Topcoder Team by handle - **{Can invite to the Topcoder t

[2020-03-25 12:27] lakshmiathreya commented on #3722
As seen by Admin user on Dev:
<img width="1633" alt="Screenshot 2020-03-25 at 5 54 29 PM" src="https://user-images.githubusercontent.com/51733042/77536238-0da74c00-6ec2-11ea-84eb-b39718de96b0.png">

[2020-03-25 15:22] lakshmiathreya commented on #3557
@codejamtc have you reviewed this Issue?

[2020-03-25 15:24] codejamtc commented on #3557
@lakshmiathreya No, Only checked `Invites Regfactoring` labeled issues with status `Aha!:Ready for QA`. I will check it now

[2020-03-25 15:30] maxceem commented on #3557
@lakshmiathreya @codejamtc Please, don't test it yet. I'm waiting for confirmation from @vikasrohit that the current implementation method is good to go before applying this fix.

[2020-03-25 15:31] codejamtc commented on #3557
@maxceem Sure

[2020-03-25 15:31] lakshmiathreya commented on #3557
thanks for update @codejamtc - yes i did notice @maxceem hasnt moved it to Ready for QA yet. But this is related to a Prod Issue hotfix so i was curious.
<img width="1469" alt="Screenshot 2020-03-25 at 8 58 14 PM" src="https://user-images.githubusercontent.com/51733042/77554222-cfb72180-6edb-11ea-8177-6ccf152d93fe.png">

[2020-03-25 16:17] codejamtc commented on #3809
When I accept/decline the invitation via email or Project Dashboard, I am getting 404 page after accepting/declining the invitation

https://www.screencast.com/t/UeZTIy5Mj1gK

4:02 - 4:03 - Accept using Dashboard
3.:06 - 3:09 - Decline using Email
6:10 - 6:23 - Accept using Email

[2020-03-26 04:51] vikasrohit commented on #3505
Just to double sure, we haven't observed any issue with notification emails after this change @maxceem, right?

[2020-03-26 04:53] vikasrohit commented on #3505
Some days earlier, Lakshmi tried to send me invite to a project in dev, but I didn't receive email notifications for such attempts. I assume that was because of some other issue with invite process which you mentioned on Slack.
Can you just try to invite me to a project in dev, using my email?

[2020-03-26 05:32] maxceem commented on #3505
Me and **codejam** during invite testing received email invites several times successfully.

I Invited you to this project https://connect.topcoder-dev.com/projects/8944

[2020-03-26 05:40] codejamtc commented on #3505
@maxceem I think it's broken, I just send an invitation to my email but didn't receive an email invitation

[2020-03-26 05:46] maxceem commented on #3505
I've got your invite @codejamtc:

![image](https://user-images.githubusercontent.com/146016/77614530-3c630800-6f3e-11ea-9aec-9279e46b2104.png)

[2020-03-26 08:44] maxceem commented on #3505
@codejamtc did you have a chance to try to get an email invitation for your account one more time?

[2020-03-26 10:17] vikasrohit commented on #3505
I received the notification for invite @maxceem, I think we are good. We can close it now.

[2020-03-26 10:17] #3505 closed

[2020-03-26 13:55] vikasrohit commented on #3723
@maxceem it seems it is failing to fetch details with member api:

[code]

Did we merge the fix, where it was not passing `userId:` in query param, we made to project-processor-es on production?

[2020-03-26 14:08] maxceem commented on #3723
@vikasrohit that fix was for Project Service, project-processor-es already uses correct request https://github.com/topcoder-platform/project-processor-es/blob/feature/link-attachments/src/common/helper.js#L155

[2020-03-26 14:09] maxceem commented on #3723
@vikasrohit is there any error details in the next log `Error during populating member ...`?

[2020-03-26 15:16] acshields opened #3812 "All Projects Dashboard Bug - Not Scrolling"
### Expected behavior
A user should be able to scroll down in the all projects dashboard to see older projects.

### Actual behavior
User cannot scroll and see projects load.

### Steps to reproduce the problem
Scroll down on the all projects dashboard.
Projects will not load.

### Screenshot/screencast
![image (17)](https://user-images.githubusercontent.com/41118149/77663174-c4e7a580-6f4a-11ea-92

[2020-03-26 16:51] vikasrohit commented on #3812
I think I saw this as well yesterday, I thought it was because of network bandwidth. But if you are also seeing it consistently, it might be an issue. @maxceem let me know if you are also seeing the same.

[2020-03-26 16:59] maxceem commented on #3812
@vikasrohit I don't have enough projects for scrolling on PROD. On DEV I don't have such an issue.

[2020-03-27 07:14] vigneshTheDev commented on #3634
@maxceem, This issue is fixed. Please review: https://github.com/appirio-tech/connect-app/pull/3813/files

[2020-03-27 08:00] vikasrohit commented on #3812
It is still happening for me on production @maxceem and you are right, it is not happening on dev for me.

[2020-03-27 08:17] vikasrohit commented on #3812
I observed that it is not making request to fetch the projects for the third page i.e. after hitting Load more project it loads the projects but then it is not triggering the further load on page scroll. One more difference I am observing is that on production it is failing (403) to load member's details after second page load which might be causing the missed request for the third page. On dev, m

[2020-03-29 05:49] codejamtc opened #3814 "Getting an error while trying to attach a file to the "Assets Library""
### Expected behavior
User should be able to attach a file to the library without an issue.

### Actual behavior
Getting an error while trying to attach a file to the "Assets Library"

### Steps to reproduce the problem
- Login as Manager
- Click on a project from the project listing page
- Click "Assets Library"
- Click Files > Add New > Browse a file > Upload
- Click 'All project members'

**Bro

[2020-03-30 06:03] vikasrohit commented on #3814
@maxceem I think this issue is happening because of we renamed the `filePath` to `path` in attachments model which in turn we are passing to file api to retrieve the signed download url which is throwing 400 because of renamed `filePath` to `path` as it is expecting `filePath` not `path`.

[2020-03-30 07:09] vikasrohit commented on #3557
@lakshmiathreya production issue was fixed without code change. I updated the form to accept 0 as input for the hours fields and the issue we used to track that was https://github.com/appirio-tech/connect-app/issues/3802

[2020-03-30 10:17] maxceem commented on #3814
@codejamtc this is fixed and ready for testing on DEV.

[2020-03-30 10:22] maxceem commented on #3463
This was internal refactoring of the API for links. To verify this task we have to check that all the operations with links work goo:
- create link
- view link
- update link
- delete link

This can be tested on any project **Assets Library** page, for example, https://connect.topcoder-dev.com/projects/8600/assets.

[2020-03-30 10:29] vikasrohit commented on #3723
@maxceem it should now be fixed. I think there were some env variables missing for the project processor es. I just added them and rebuilt the processor.

[2020-03-30 11:53] maxceem commented on #3723
@codejamtc this should work good now. Could you please test it again.

[2020-03-30 12:01] vikasrohit commented on #3557
@maxceem I am not sure how it was working before but I do remember we have the validation of 160 characters on description fields via setting `"validations": "isRequired,minLength:160",` on the description question and it used to work.

[2020-03-30 12:04] maxceem commented on #3557
@vikasrohit it was enabled, only for one type of fields https://github.com/appirio-tech/connect-app/pull/3806/files#diff-bcfd7970e8edc78f9946daa468a139a5L241-L243. Though now, the proposed fix enables it to all the fields types to avoid confusion in the future.

[2020-03-30 12:08] vikasrohit commented on #3557
Ohk. I think we are good with it then, I don't remember using the `validations` field on any question where it can have side effect now. Only case was for description field which itself is not used anymore now. I guess, it is safe to merge it.

[2020-03-30 12:36] maxceem commented on #3557
@codejamtc This is ready for testing on DEV.

- Use the next link for creating project https://connect.topcoder-dev.com/new-project/talent-as-a-service
- There are 2 fields where we added validation:

   ![image](https://user-images.githubusercontent.com/146016/77912691-a90e3780-729b-11ea-8633-63a739ecd33e.png)

   - Field **Full-Time** should be a positive number (not required, so can be also ski

[2020-03-30 12:37] maxceem commented on #3557
@vikasrohit to apply these rules in any template:
- user field type `textinput` NOT `numberinput`
- add validation rule:
  - `"validations": "isPositiveNumber"`
  - `"validations": "isNonNegativeNumber"`
- add the error text:
[code]
   or
[code]

![image](https://user-images.githubusercontent.com/146016/77913131-6862ee00-729c-11ea-911d-d66517508673.png)

[2020-03-30 13:04] codejamtc commented on #3557
@maxceem https://www.screencast.com/t/lO4KerCF

[2020-03-30 13:17] maxceem commented on #3634
@codejamtc This is fixed for tabs now and ready for testing.

[2020-03-30 13:29] codejamtc commented on #3723
@maxceem I can't see the changes on `dev`

Created a new project using `topcoderconnect+Customer@gmail.com`
https://connect.topcoder-dev.com/projects/9044

`firstName` = `TC Customer First`
`lastName` = `TC Customer Last`

- Sometimes I can see the search list displays projects that `topcoderconnect+Customer@gmail.com` is not part of (eg: https://connect.topcoder-dev.com/projects/8600)

`handle` =

[2020-03-30 13:33] codejamtc commented on #3814
https://www.screencast.com/t/YJn9yPi6Lc

[2020-03-30 13:53] maxceem opened #3816 "[$50] Skills - don't allow to create a new entry when there is existent value"
### Expected behavior
Don't show the second option for creating a new skill, when there is already an existent option on the list.

### Actual behavior
Can see duplicate option to create a new skill, when there is already existent one.

### Steps to reproduce the problem
- Use the link https://connect.topcoder-dev.com/new-project/talent-as-a-service for creating a new project
- In the question **W

[2020-03-30 14:11] codejamtc commented on #3462
https://www.screencast.com/t/SH0rLUqjcTHq

[2020-03-30 14:53] codejamtc commented on #3512
https://www.screencast.com/t/LfNTRRdu2GRK

[2020-03-30 15:17] maxceem commented on #3462
This is now fixed. `(optional)` is added during file or link creation and edition.

I cannot find a place where it was confirmed by Vikas, but this was changed to reuse the **Name** column because we don't have enough space to add a new column.

We can add tags using `edit` functionality for files and links.

cc @codejamtc

[2020-03-30 15:43] codejamtc commented on #3462
![image](https://user-images.githubusercontent.com/42398485/77932577-591b7a80-7273-11ea-9a7e-0dc831d87294.png)

[2020-03-30 15:48] maxceem commented on #3812
@vikasrohit thanks for the details, they helped a lot. I think I've managed to reproduce it locally, by forcing member service to fail.

Created hotfixes:
- PROD https://github.com/appirio-tech/connect-app/pull/3817
- DEV https://github.com/appirio-tech/connect-app/pull/3818

[2020-03-30 16:08] codejamtc commented on #3463
https://www.screencast.com/t/iFFNtliz6

- Create link  **{Working}**
- View link  **{Working}**
- Update link  **{Working}**
- Delete link  **{Working}**

Tested using: https://connect.topcoder-dev.com/projects/9046/assets

[2020-03-30 16:35] codejamtc commented on #3634
https://www.screencast.com/t/1SXBN7rI5M

[2020-03-30 16:41] codejamtc commented on #3741
Checked for Links and Files
https://www.screencast.com/t/W5NTjSj3BzZ

[2020-03-31 07:03] maxceem commented on #3723
When we search using the search field:

![image](https://user-images.githubusercontent.com/146016/77996379-2edec100-7336-11ea-8d9c-c62b66a5e4d2.png) the search is performed not only by users but also by project `name`, `description`, `type` and `ref code`. That's why some other projects can be found, not only by members.

Should be working now, could you, please, try again.

[2020-03-31 07:04] maxceem commented on #3496
This should be working now on DEV and can be tested.

[2020-03-31 08:59] vikasrohit commented on #3812
Great!!. I have merged the dev version, but a bit confused if we should make a hotfix or a regular release because a regular release is already planned most probably for Thursday.

[2020-03-31 09:06] maxceem commented on #3812
I guess we can make a hotfix to validate that the fix is correct, as the only way to do it for 100% is on PROD. Locally I artificially trigger the error which could be slightly different from PROD situation.

[2020-03-31 09:11] vikasrohit commented on #3812
Deploying as hotfix.

[2020-03-31 10:01] vikasrohit commented on #3812
Seems to work fine on production now. Thanks @maxceem

[2020-03-31 10:09] vikasrohit commented on #3812
@acshields it is fixed and deployed to production.

[2020-03-31 10:09] #3812 closed

[2020-03-31 10:25] vikasrohit opened #3819 "Wrong country calling code for Canada"
### Expected behavior
It should apply `+1` as calling country code

### Actual behavior
It is applying `+238` as calling country code

### Steps to reproduce the problem
- On profile settings page, try to set country to Canada for business phone field
- Observe it adds `+238` instead of `+1`
- It makes the phone validation to fail and no number makes the validation happy

### Screenshot/screencast

[2020-03-31 10:28] maxceem commented on #3819
The issue in our old module https://github.com/appirio-tech/ng-iso-constants.

Several countries have incorrect 2-letter codes like Canada, maybe more https://github.com/appirio-tech/ng-iso-constants/blob/dev/src/ng-iso-constants/services/iso-3166.js#L51-L55, see correct ones https://www.iban.com/country-codes.

The is already issues listed for that repo https://github.com/appirio-tech/ng-iso-cons

[2020-03-31 11:17] codejamtc commented on #3723
https://www.screencast.com/t/lONsy6ttxC0I

[2020-03-31 11:36] codejamtc commented on #3496
https://www.screencast.com/t/kkKTUBaUZ

[2020-03-31 11:45] maxceem commented on #3819
This is done via 2 PRs to `ng-iso-constants`:
- DEV https://github.com/appirio-tech/ng-iso-constants/pull/11
- PROD https://github.com/appirio-tech/ng-iso-constants/pull/12

See demo of the fix:

![countries-demo](https://user-images.githubusercontent.com/146016/78020534-4fb90d80-735a-11ea-8e51-08909263c63d.gif)

2 PRs to `react-components`:
- DEV https://github.com/appirio-tech/react-components/p

[2020-03-31 11:45] maxceem commented on #3819
2 more PRs would be created for `accounts-app` after we publish an updated version of npm package https://www.npmjs.com/package/appirio-tech-ng-iso-constants.

[2020-03-31 12:11] maxceem commented on #3819
2 PRs to `accounts-app`:
- DEV https://github.com/appirio-tech/accounts-app/pull/336
- PROD https://github.com/appirio-tech/accounts-app/pull/337

How to apply fix:
1. Merge PR to `accounts-app` it should fix the country code on the Registration page. We should make sure that during deploying the cache is cleared and new version of `ng-iso-constants` is downloaded. But as we updated `package.json`

[2020-04-01 06:52] maxceem opened #3822 "Switching country for the same phone code"
We have a registration form https://accounts.topcoder-dev.com/connect/registration (open in incognito mode) where we can enter a business phone with country code.

![image](https://user-images.githubusercontent.com/146016/78107556-62851e00-73fe-11ea-96c5-433ef0309e04.png)

- Enter some USA phone number like "+1 91 99999999" you would see the country code is detected as the USA.

- Now enter a Cana

[2020-04-01 06:55] maxceem commented on #3822
Fix has been implemented via F2F challenge https://www.topcoder.com/challenges/30121485.

Hotfix created for `react-components` repo:
- DEV https://github.com/appirio-tech/react-components/pull/355
- PROD https://github.com/appirio-tech/react-components/pull/356

[2020-04-01 07:59] maxceem opened #3823 "Choose country code for phone using dropdown is broken"
### Expected behavior
We should be able to change the country and code by the dropdown next to the phone field.

### Actual behavior
When we click any country in the dropdown code and country is not changed.

### Steps to reproduce the problem

![image](https://user-images.githubusercontent.com/146016/78112904-9153c200-7407-11ea-8d05-2346e9f60444.png)

- Open user profile settings page https://con

[2020-04-01 08:20] maxceem commented on #3823
The interesting thing, that this functionality works on the registration form page https://accounts.topcoder-dev.com/connect/registration. So the preferred way to fix it if possible is to move this logic to the [PhoneIntput](https://github.com/appirio-tech/react-components/blob/7795f6f1758dab4cf2cded76a62504fa619bf1d0/components/Formsy/PhoneInput.jsx) component, so it would work automatically in a

[2020-04-01 10:12] coderhacker commented on #3634
Verified on dev working as expected.

[2020-04-01 10:20] coderhacker commented on #3750
Verified on dev working as expected.

[2020-04-01 11:01] maxceem commented on #3803
@vikasrohit I guess this issue is not a part of 2.8 milestone so I've removed it from this issue. Should we just close it or pass through QA somehow?

[2020-04-01 11:09] vikasrohit commented on #3803
I would like to keep it open for some time because right now we have applied a workaround and have not identified root cause yet.

[2020-04-01 11:25] maxceem commented on #3823
This has been fixed via https://github.com/appirio-tech/connect-app/pull/3824 and https://github.com/appirio-tech/react-components/pull/357.

We had to make sure that `react-components` uses `libphonenumber-js` version `1.4.6`  instead of the newer version `1.7.48` by updating rule in `package.json` from `^1.4.6` to `1.4.6`.

[2020-04-01 12:38] maxceem commented on #3809
@codejamtc this should be now fixed on DEV.

Please, kindly test all the cases:
- [ ] Accept using Dashboard
- [ ] Decline using Dashboard
- [ ] Accept using Email
- [ ] Decline using Email
- [ ] Click Accept link using Email after the invite is already accepted (should just open the page and remove `?invitation=accept` from the URL)
- [ ] Click Decline link using Email after the invite is already

[2020-04-01 13:14] codejamtc commented on #3809
@maxceem Still the testing is in progress

1. Add a team member using `handle` {Accpet/Decline using Connect Dashboard, Project Dashboard, Email}

- When I accept the invite from the email it will automatically load the project dashboard but won't how the invited member on the `Teams` section?

https://www.screencast.com/t/nqr4HKt73 [7:13]

2. Add a team member using `email`  {Accpet/Decline using

[2020-04-01 13:17] maxceem commented on #3809
Checking...

[2020-04-01 13:24] maxceem commented on #3809
@codejamtc I cannot reproduce this issue. Could you, please try to reproduce it 3 times and let me know how many times it would happen for you out of 3 attempts.

[2020-04-01 13:28] codejamtc commented on #3809
@maxceem Ok
Please check Point 2

[2020-04-01 13:36] codejamtc commented on #3809
It's working, I have updated the ticket

[2020-04-01 13:44] coderhacker commented on #3557
Verified on dev working as expected.

[2020-04-01 13:46] coderhacker commented on #3814
Verified on dev working as expected.

[2020-04-01 14:03] coderhacker commented on #3512
Verified on dev working as expected.

[2020-04-01 14:04] maxceem commented on #3809
@vikasrohit this issue was reproduced once but neither I nor **codejamtc** can reproduce it again. I suspect that the issue happened due to a delay in indexing newly created member in ES. Currently, we are waiting 5 additional seconds. So it looks like sometimes, but rarely, this could be not enough. FYI

[2020-04-01 14:09] coderhacker commented on #3462
Verified on dev working as expected.

[2020-04-01 14:12] coderhacker commented on #3624
https://connect.topcoder-dev.com/settings/profile
https://connect.topcoder-dev.com/settings/notifications
https://connect.topcoder-dev.com/settings/account

All the above three links working as expected.

[2020-04-01 14:36] codejamtc commented on #3809
@maxceem Still the testing is in progress

1. Add a team member using `handle` {Accpet/Decline using Connect Dashboard, Project Dashboard, Email}

https://www.screencast.com/t/nqr4HKt73

- [x] When I accept the invite from the email it will automatically load the project dashboard but won't how the invited member on the `Teams` section [7:13]?

- Verified above again, working- https://www.screenca

[2020-04-01 14:59] coderhacker commented on #3463
Verified on dev working as expected.

[2020-04-01 15:29] maxceem commented on #3809
This should be fixed now, please check again.

[2020-04-01 15:31] maxceem opened #3825 "[$40] Can see the project in the list after leaving it"
Follow up from https://github.com/appirio-tech/connect-app/issues/3809#issuecomment-607287584

@vikasrohit this issue is due to the delay in reindexing the project when we leave the project and navigate to the project listing page fast.

Is it ok to keep it like this, or should we add an artificial delay when we are leaving the project?

[2020-04-01 15:32] maxceem commented on #3809
@codejamtc Regarding

This issue is not connected with the current changes and it existed before, so I created a separate issue https://github.com/appirio-tech/connect-app/issues/3825

[2020-04-01 15:32] lakshmiathreya commented on #3823
The drop down for Country code for phone seems to be working on Dev now - however, the scroll bar is not visible - so picking Country in Business Phone continues to work only via the Country field even now ... pls clarify if this is a must do for 2.8 release ...

[2020-04-01 15:33] lakshmiathreya commented on #3823
@codejamtc @coderhacker

[2020-04-01 15:36] codejamtc commented on #3823
@maxceem @lakshmiathreya I am validating this one now, still not finished yet. I have seen a bunch of issues.

Ref: https://countrycode.org/

**NOTE: Two scrollbars displayed**

![image](https://user-images.githubusercontent.com/42398485/78156567-95caab80-7404-11ea-8ded-66689972a217.png)

1. When you select `Aland Islands` the code is displayed as `FIN`
https://laendercode.net/en/2-letter-code/ax

[2020-04-01 15:36] maxceem commented on #3823
@lakshmiathreya could you please specify the issue with scrollbar, as I can see and use the scrollbar:

![country-scroll](https://user-images.githubusercontent.com/146016/78156579-a6504580-7447-11ea-886f-e058db2c9c42.gif)

[2020-04-01 16:13] codejamtc commented on #3823
Ref: https://countrycode.org/

- Can't select `Antarctica`
- Can't select `Bouvet Island`
- Can't select `Heard Island and McDonald Islands`
- Can't select `Pitcairn`
- Can't select `South Georgia and the South Sandwich island`

@vikasrohit @maxceem @lakshmiathreya There are few issues in the list, like Selecting some countries will select `US` from the list NOT the original country, Some country

[2020-04-01 16:15] coderhacker commented on #3740
Pass this case '/'

![image](https://user-images.githubusercontent.com/62358241/78160556-c42aa400-7461-11ea-8ae6-5d6204fc4422.png)

Fail This Case 'ABC/D'
![image](https://user-images.githubusercontent.com/62358241/78160838-2683a480-7462-11ea-9e70-1460669eb33e.png)

[2020-04-01 16:18] coderhacker commented on #3740
@lakshmiathreya @codejamtc

[2020-04-01 16:27] coderhacker commented on #3413
Verified on dev working as expected.

[2020-04-01 16:52] coderhacker commented on #3427
Verified on dev working as expected.

[2020-04-01 16:56] coderhacker commented on #3733
Verified on dev working as expected.

[2020-04-01 16:57] codejamtc commented on #3809
https://github.com/appirio-tech/connect-app/issues/3809#issuecomment-607318668 - Verified

https://www.screencast.com/t/x3bXKfic8x

[2020-04-01 16:58] coderhacker commented on #3435
Verified on dev working as expected.

[2020-04-01 17:24] codejamtc commented on #3755
@maxceem

⚠️ If an exact match is not expected this ticket is `Fixed`, but if we are expecting the exact match of the handle then this is `Fail` (eg: `vikasrohit` will return `vikasrohit` and `vikasrohit5` + `maxceem-dev` will return `maxceem-dev` and `maxceem`

https://www.screencast.com/t/rJrq6QNR0OAc

[2020-04-01 17:39] codejamtc commented on #3819
After investigating the above threads I can see the `country` tag changes to `CAN` when we select it but

1. After selecting the country `Canada`, `USA` is displayed on the list.
2. In Dropdown current selection `Canada` is not selected on the dropdown in Gray

https://www.screencast.com/t/13YlNidFLGh

[2020-04-01 18:23] codejamtc commented on #3822
Fixed: https://www.screencast.com/t/MVhKFUJvLH

[2020-04-01 18:27] codejamtc commented on #3801
Re-verified
![image](https://user-images.githubusercontent.com/42398485/78172930-848d9900-741c-11ea-993b-5fc1e523b145.png)

[2020-04-01 19:13] codejamtc commented on #3740
@coderhacker I think `ABC/D` returns partial matches here

8166 - Has `abc` in the project title
7845 - Has `abc` in the project title
7633- Has `abc` in the ref code
7431- Has `abc` in the project title
7403 - Has `abc` in the ref code

![image](https://user-images.githubusercontent.com/62358241/78160838-2683a480-7462-11ea-9e70-1460669eb33e.png)

[2020-04-01 23:35] codejamtc opened #3826 "Can't delete or access the emails on the top row in "INVITE MORE PEOPLE" textbox"
### Expected behavior
User should be able to scroll the content up/down. If not the textbox height should auto increase

### Actual behavior
Can't delete or access the emails on the top row in "INVITE MORE PEOPLE" textbox

### Steps to reproduce the problem
- Login as Manager
- Click on a project from the project listing page
- Click "Dashboard"
- On "Customer team" > Click 'Manage Incitations'
-

[2020-04-02 00:07] codejamtc opened #3827 "Duplicate email added to the invitee list"
### Expected behavior
User should not be able to add the same email again and again

### Actual behavior
When user add an email and then add the same email with space will remove that email from the textbox, but when user click on 'Send Invite' duplicate email shown on the list

### Steps to reproduce the problem
- Login as Manager
- Click on a project from the project listing page
- Click "Dashbo

[2020-04-02 02:32] codejamtc opened #3828 "Even though the message displayed as "b: User with such handle does not exist", it is added to the invitee list"
### Expected behavior
If there is validation, the user should not be added to the list

### Actual behavior
Even though the message displayed as "b: User with such handle does not exist", it is added to the invitee list

### Steps to reproduce the problem
- Login as Manager
- Click on a project from the project listing page
- Click "Dashboard"
- On "Customer team" > Click 'Manage Invitations'
- En

[2020-04-02 02:37] codejamtc opened #3829 "A different error displayed when the user tries to invite to `a`"
### Expected behavior
Should display like "a: User with such handle does not exist"

### Actual behavior
A different error displayed when the user tries to invite to `a`

### Steps to reproduce the problem
- Login as Manager
- Click on a project from the project listing page
- Click "Dashboard"
- On "Customer team" > Click 'Manage Invitations'
- Enter 'b' and click on the suggestion
- Click 'Send

[2020-04-02 05:18] vikasrohit commented on #3755
Yes, that is accepted @codejamtc. We don't have much strict requirements around it, as long as user is able to search the intended projects, we should be good. However, if you see in some practical cases, it might create a problem for users, we can log it as enhancement for upcoming releases.

[2020-04-02 05:21] vikasrohit commented on #3819
@codejamtc I think the issue you are seeing is already logged as separate issue #3823 which seems to be there before any fix we applied. So, we are taking it as separate fix.

[2020-04-02 05:27] vikasrohit commented on #3827
@maxceem just wanted to know if it is happening because of email masking.

[2020-04-02 05:54] vikasrohit commented on #3825
I think it is okay for now as user would see 404 after clicking such projects. Or if we can make that artificial delay similar to Join event, when user clicks on Decline in the same popup, that would also work.

[2020-04-02 06:27] maxceem commented on #3819
@codejamtc This is not an issue, though I understand that it looks confusing. The logic here is the next one:
- Canada and USA have the same phone code `+1`
- When there is already a phone number and we change the country code from India to USA, the code is changed to `+1`
- But this code also belongs to Canada. So the script now check the full phone number and understands that this phone number b

[2020-04-02 06:37] maxceem opened #3831 "Fix some broken countries in phone code dropdown"
Follow up from issue https://github.com/appirio-tech/connect-app/issues/3823

There are few issues in the list, like Selecting some countries will select `US` from the list NOT the original country, Some country codes are incorrect, Some numbers are incorrect. I think we need to refine the list completely.

https://www.screencast.com/t/5wOgFtTPIZMa

- Can't select `Antarctica`
- Can't select `Bouv

[2020-04-02 06:40] maxceem opened #3832 "[$35] Double scrolling in phone code dropdown"
Follow up from https://github.com/appirio-tech/connect-app/issues/3823#issuecomment-607322697

Two scrollbars displayed One is scrollable and the other one is disabled and not in use

![image](https://user-images.githubusercontent.com/146016/78217995-bad32300-74c5-11ea-82b2-f081d7c3dd01.png)

### Expected behavior

- There should not be the second scrollbar and shouldn't be any space on the right

[2020-04-02 06:40] maxceem commented on #3832
@codejamtc in which browser do you see 2 scrollbars?

[2020-04-02 07:01] maxceem commented on #3823
@codejamtc current issue was about fixing selecting countries in general, as it was completely broken and we couldn't select any countries.

I suggest marking this issue are pass and I've created separate issues to cover the bug you've found:
- double scrollbar https://github.com/appirio-tech/connect-app/issues/3832
- cannot choose some particular countries and wrong codes https://github.com/appir

[2020-04-02 08:12] maxceem commented on #3827
@vikasrohit I don't think so. It looks like an existent issue that happens due to several edge cases.

[2020-04-02 08:13] coderhacker commented on #3634
Verified on prod and working as expected.
[3634_prod.zip](https://github.com/appirio-tech/connect-app/files/4419645/3634_prod.zip)

[2020-04-02 08:14] maxceem commented on #3827
This happens the next way:
- client side works incorrectly when we press space, it visually removes email, but it keeps it in the value, which is later is sent to the serveer
- server side we check that we don't create invites for already invited users or members. But we don't check the case when in a single request we are creating several invites for the same user

[2020-04-02 08:47] coderhacker commented on #3750
Verified on prod, working as expected.
[3750_prod.zip](https://github.com/appirio-tech/connect-app/files/4419796/3750_prod.zip)

[2020-04-02 08:50] vikasrohit commented on #3827
Do we create two separate invites in case single request contains same email twice?

[2020-04-02 09:26] coderhacker commented on #3413
https://connect.topcoder.com/projects/14058/
CustomerUser/appirio123

[3413-Prod.zip](https://github.com/appirio-tech/connect-app/files/4420048/3413-Prod.zip)

Verified on prod, working as expected.

[2020-04-02 09:30] maxceem commented on #3827
yes

[2020-04-02 09:44] coderhacker commented on #3512
https://connect.topcoder.com/projects/14177/assets
CustomerUser/appirio123

[3512-prod.zip](https://github.com/appirio-tech/connect-app/files/4420157/3512-prod.zip)
Verified on prod, working as expected.

[2020-04-02 09:50] coderhacker commented on #3462
https://connect.topcoder.com/projects/14177/assets
CustomerUser/appirio123
Verified on prod, working as expected.

[3462-prod.zip](https://github.com/appirio-tech/connect-app/files/4420186/3462-prod.zip)

[2020-04-02 09:53] codejamtc commented on #3832
@maxceem Chrome 80.0.3987.149

[2020-04-02 09:56] coderhacker commented on #3698
https://connect.topcoder.com/projects?sort=lastActivityAt%20desc
CustomerUser/appirio123
Verified on prod, working as expected.

![image](https://user-images.githubusercontent.com/62358241/78235438-45cc1180-74f6-11ea-9d7e-2317e1cc9f0d.png)

[2020-04-02 10:04] codejamtc commented on #3673
![image](https://user-images.githubusercontent.com/42398485/78236257-58ffc280-749f-11ea-9371-4f2b8e12e51d.png)

[2020-04-02 10:05] codejamtc commented on #3823
@maxceem As all the issues are moved into another ticket, I will mart this one as `Pass`

[2020-04-02 10:06] codejamtc commented on #3755
@vikasrohit Noted, Thanks

[2020-04-02 10:25] lakshmiathreya commented on #3427
Tested with lakshmiaAcMgr user on Prod - unable to remove member :
<img width="1260" alt="Screenshot 2020-04-02 at 3 43 34 PM" src="https://user-images.githubusercontent.com/51733042/78238510-4bc3f180-74fa-11ea-91b1-52d94b8ec691.png">

[2020-04-02 10:27] coderhacker commented on #3624
https://connect.topcoder.com/settings/profile
https://connect.topcoder.com/settings/notifications
https://connect.topcoder.com/settings/account
CustomerUser/appirio123
Verified on prod, working as expected.
[3624-prod.zip](https://github.com/appirio-tech/connect-app/files/4420363/3624-prod.zip)

[2020-04-02 10:50] lakshmiathreya commented on #3740
Verified in Prod.
<img width="1676" alt="Screenshot 2020-04-02 at 4 19 33 PM" src="https://user-images.githubusercontent.com/51733042/78241369-e07c1e80-74fd-11ea-9a8a-331926a6fbcb.png">

[2020-04-02 10:53] maxceem opened #3833 "Progressive Registration"
This is a new big feature as per design https://marvelapp.com/e0gjig7/screen/67320435

![image](https://user-images.githubusercontent.com/146016/78241669-735e8e00-74e9-11ea-8466-193e5a2bcb4e.png)

[2020-04-02 10:54] coderhacker commented on #3463
https://connect.topcoder.com/projects?sort=lastActivityAt%20desc
CustomerUser/appirio123
Verified on prod with the above user, working as expected

[3463-prod-1.zip](https://github.com/appirio-tech/connect-app/files/4420517/3463-prod-1.zip)

[2020-04-02 10:57] maxceem commented on #3833
@vikasrohit the design for this form introduces the 3rd variation of the design for this form. We already have a **registration form**:

![image](https://user-images.githubusercontent.com/146016/78241809-ac96fe00-74e9-11ea-8052-4d5b3a494703.png)

and **Profile Information Form**:

![image](https://user-images.githubusercontent.com/146016/78241881-c59faf00-74e9-11ea-9286-a7881e085e31.png)

I sugges

[2020-04-02 11:04] codejamtc opened #3834 "Invite test@test.com using emial will create multiple invites"
### Expected behavior
Should not create multiple requests

### Actual behavior
Invite test@test.com using email will create multiple invites

### Steps to reproduce the problem
- Login as Customer
- Click on a project from the project listing page
- Click "Dashboard"
- On "Customer team" > Click 'Manage Invitations'
- Enter 'test@test.com'
- Click 'Send Invite'

### Screenshot/screencast

https://

[2020-04-02 11:09] coderhacker commented on #3736
https://connect.topcoder.com/projects?sort=lastActivityAt%20desc
CustomerUser/appirio123
Verified on prod, working as expected.

![78235438-45cc1180-74f6-11ea-9d7e-2317e1cc9f0d](https://user-images.githubusercontent.com/62358241/78242884-6ef19f80-7500-11ea-863b-1e77f2e6e45d.png)

[2020-04-02 11:18] codejamtc opened #3835 "[$10] "You're about to edit an attachment" section overlap with the header while scrolling"
### Expected behavior
Should not overlap

### Actual behavior
"You're about to edit an attachment" section overlap with the header while scrolling

### Steps to reproduce the problem
- Login as Customer
- Click on a project from the project listing page
- Click "Assets Library" > Files
- Click 'Add New' and browse a file
- Click on the sub-menu on the file row > Edit
- Scroll the screen up

### Sc

[2020-04-02 11:23] coderhacker commented on #3435
https://connect.topcoder.com/projects?sort=lastActivityAt%20desc
CustomerUser/appirio123

The view is not matched with the chrome browser. this is not fixed on production

![image](https://user-images.githubusercontent.com/62358241/78243947-55515780-7502-11ea-9fa3-320302919bae.png)

[2020-04-02 11:31] maxceem commented on #3435
@coderhacker in this issue we only fixed 2 issues illustrated in the description https://github.com/appirio-tech/connect-app/issues/3435#issue-538170495. Let's track other issues in a new issue.

[2020-04-02 11:37] coderhacker commented on #3737
![image](https://user-images.githubusercontent.com/62358241/78244884-17edc980-7504-11ea-8bcf-26542f763c52.png)
![image](https://user-images.githubusercontent.com/62358241/78244921-289e3f80-7504-11ea-8a8b-d57171b023b7.png)

[2020-04-02 12:09] vikasrohit commented on #3833
I am okay with it for now as I don't see much difference in new design as well. However, please do keep the required vs optional fields requirements as is i.e. use the requirement doc as primary source for making fields required or optional (based on roles).

[2020-04-02 12:30] codejamtc commented on #3630
![image](https://user-images.githubusercontent.com/42398485/78249369-d6cdc900-74b3-11ea-872d-8ea4b1a7fa5c.png)
![image](https://user-images.githubusercontent.com/42398485/78249386-dfbe9a80-74b3-11ea-9939-1bb2379cee38.png)

[2020-04-02 12:41] coderhacker commented on #3496
This is working fine with customer user on prod needs to verify with manager credential. @codejamtc @lakshmiathreya

[3496-prod.zip](https://github.com/appirio-tech/connect-app/files/4421090/3496-prod.zip)

[2020-04-02 12:57] coderhacker commented on #3388
I have tested this with customer credentials but not working on prod, so it failed for customer users. need to verify for other users as well. (Admin, connect manager, manager, account manager) @codejamtc @lakshmiathreya

[3388-prod-fail.zip](https://github.com/appirio-tech/connect-app/files/4421159/3388-prod-fail.zip)

[2020-04-02 13:03] maxceem commented on #3388
@coderhacker user who created invite still can see email without masking, because user who created invite by email already knows the email.

To verify this, please invite a user by email by one customer user, and after open the same project by another customer user, the email address should be displayed masked.

[2020-04-02 13:05] maxceem commented on #3739
@vikasrohit do we use this flag anywhere on production for QA team to verify it?

[2020-04-02 13:09] maxceem commented on #3835
@codejamtc moved this issue to the next release, as `2.8` is already released.

[2020-04-02 13:09] maxceem commented on #3834
@codejamtc moved this issue to the next release, as `2.8` is already released.

[2020-04-02 13:20] codejamtc commented on #3557
https://www.screencast.com/t/sKLI3pRcZ

[2020-04-02 13:27] codejamtc commented on #3568
https://monosnap.com/file/9JpJ6Cx0986iu9h7gLRVqLot1mYVc5

[2020-04-02 13:33] coderhacker commented on #3388
@maxceem thanks for the clarification.  yes,
[3388-prod-pass.zip](https://github.com/appirio-tech/connect-app/files/4421369/3388-prod-pass.zip)
 this working fine with the customer on prod.

[2020-04-02 13:44] codejamtc commented on #3651
Verified in `Prod`: ❌ Fail - The Topcoder icon alignment issues
**User:** CustomerUser

![image](https://user-images.githubusercontent.com/42398485/78255325-c53cef00-74bc-11ea-8f9a-a300df454328.png)

![image](https://user-images.githubusercontent.com/42398485/78255678-4300fa80-74bd-11ea-88b5-367101de8930.png)
![image](https://user-images.githubusercontent.com/42398485/78255694-485e4500-74bd-11ea-8

[2020-04-02 13:49] maxceem commented on #3651
@codejamtc do you mean Topcoder logo icon on the left?

![image](https://user-images.githubusercontent.com/146016/78256887-cc3a2080-7501-11ea-93c6-3afd2bc7bd76.png)

If so, this wasn't in the scope of this issue. In this issue, we only fixed position of the icons inside blue shapes, as per description https://github.com/appirio-tech/connect-app/issues/3651#issue-557433257.

Please, feel free to cr

[2020-04-02 14:03] coderhacker commented on #3741
https://connect.topcoder.com/projects/14178/assets
CustomerUser/appirio123
Verified on prod, working as expected.

[3741-prod.zip](https://github.com/appirio-tech/connect-app/files/4421521/3741-prod.zip)

[2020-04-02 14:17] coderhacker commented on #3733
https://connect.topcoder.com/projects/14178/
CustomerUser/appirio123
Verified on prod, working as expected.

![image](https://user-images.githubusercontent.com/62358241/78259788-c1d85080-751a-11ea-83ed-8886d195c3e0.png)

[2020-04-02 14:18] codejamtc commented on #3749
Verified in `Prod`: 🆗 Pass
**User:** CustomerUser

https://monosnap.com/file/lrVLkjzrVTMS5Z4VMmdB6v4i7n2no9

[2020-04-02 14:28] codejamtc commented on #3752
Verified in `Prod`: 🆗 Pass - When user type the date instead of selecting it (Selecting is blocked) it will show a validation (Red Border with a tooltip)
**User:** CustomerUser

https://monosnap.com/file/r9tyOmhLwROgpcl0hRxnKpvxb6xO1A
https://monosnap.com/file/RTsHV076wdEFu5kic6CAcmukKzp9Aq

- We should not allow choosing "from" date after "to" and "to" date before "from".
- We should allow settin

[2020-04-02 14:30] codejamtc commented on #3801
Verified in `Prod`: 🆗 Pass
**User:** CustomerUser

![image](https://user-images.githubusercontent.com/42398485/78261191-890d8c80-74c4-11ea-8824-e90bae784f14.png)

[2020-04-02 14:33] codejamtc commented on #3814
Verified in `Prod`: 🆗 Pass
**User:** CustomerUser

https://monosnap.com/file/tTN3S7rIsjXFRFqd1mQIeACiNbxZcP

[2020-04-02 14:35] coderhacker commented on #3743
https://connect.topcoder.com/projects/14178/messages/48053
CustomerUser/appirio123
Verified on prod, working as expected.

[3743-prod.zip](https://github.com/appirio-tech/connect-app/files/4421675/3743-prod.zip)

[2020-04-02 14:42] coderhacker commented on #3412
https://connect.topcoder.com/projects/14178
CustomerUser/appirio123
Verified on prod, working as expected.

[3412-prod.zip](https://github.com/appirio-tech/connect-app/files/4421704/3412-prod.zip)

[2020-04-02 14:42] codejamtc commented on #3651
@maxceem Sure

[2020-04-02 14:44] codejamtc commented on #3823
Verified in `Prod`: 🆗 Pass. Only checked the dropdown item selection, there are still issues related this this area (in Dev also) https://github.com/appirio-tech/connect-app/issues/3831, https://github.com/appirio-tech/connect-app/issues/3832, https://github.com/appirio-tech/connect-app/issues/3823#issuecomment-607344925
**User:** CustomerUser

https://monosnap.com/file/5Loqeh8xsgWQ4GWxnaiI6npQlH1

[2020-04-02 14:45] lakshmiathreya commented on #3427
'Remove' verified on Prod - working after the Ac Mgr user joined the project. Thanks for clarification @vikasrohit. Setting status to QA Pass in Prod.

[2020-04-02 15:02] codejamtc commented on #3723
@lakshmiathreya This is not an admin account limitation, In the `Customer` account there are fewer test data to test this one.

[2020-04-02 15:06] codejamtc commented on #3755
@lakshmiathreya This is not an admin account limitation, In the `Customer` account there are fewer test data to test this one.

[2020-04-02 15:10] codejamtc commented on #3809
@lakshmiathreya Invite to Topcoder Team requires Admin privileges

[2020-04-02 15:11] codejamtc commented on #3748
@lakshmiathreya Need admin privileges to add documents/Links to the phases (Can't create a user using `Customer` account.

[2020-04-02 15:13] codejamtc commented on #3737
@lakshmiathreya ☝️

[2020-04-02 15:13] codejamtc commented on #3496
@lakshmiathreya ☝️

[2020-04-02 15:22] codejamtc opened #3836 "Topcoder icon alignment issue in the project creation page in IE"
### Expected behavior
Should not overlap

### Actual behavior
Topcoder icon alignment issue in the project creation page in IE

### Steps to reproduce the problem
- Login as Customer
- Click 'New Project'
- Click "View Solution" from Solution
- Click 'Select' from 'Design, Development & Deployment'
- Check the Logo

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/4239

[2020-04-02 15:29] codejamtc opened #3837 "'Date' column header; Date time picker has a dropdown icon and spinner icon"
### Expected behavior
Should have only one

### Actual behavior
'Date' column header; Date time picker has a dropdown icon and spinner icon

### Steps to reproduce the problem
- Login as Customer
- Click on a project that have permission
- Click "Assets Library"
- Click 'Date' column header and hover over the date time picker

### Screenshot/screencast

![image](https://user-images.githubuserconte

[2020-04-02 15:38] codejamtc commented on #3819
@maxceem Got it

[2020-04-02 16:00] codejamtc commented on #3666
@maxceem I need help to test this one too. Can't see  `autoProceedToSingleProjectTemplate`  https://connect.topcoder.com/metadata/projectTemplates/70

[2020-04-02 19:25] codejamtc opened #3838 "Blank avatar and blank tooltip displayed if the Shared with 'User' is removed/left from the project"
### Expected behavior
Should display the user name

### Actual behavior
Blank avatar and blank tooltip displayed if the Shared with 'User' is removed/left from the project

### Steps to reproduce the problem
- Login as Customer
- Click on a project that has permission
- Click "Assets Library"
- Upload a file and select 'Member X' from the 'OR ONLY SPECIFIC PEOPLE' section > Click 'Share with selec

[2020-04-02 19:45] codejamtc opened #3839 "User can't download the file attached"
### Expected behavior
Should be able to download the file.

### Actual behavior
After changing the file name, the user can't download the file

### Steps to reproduce the problem
- Login as Customer
- Click on a project that has permission
- Click "Assets Library"
- Upload a file (Word.doc) and select 'Member X' from the 'OR ONLY SPECIFIC PEOPLE' section > Click 'Share with selected members
- Clic

[2020-04-02 19:57] codejamtc opened #3840 "Rename the file after upload will sometimes remove the file type icon"
### Expected behavior
Better to remove the file extension from the title section so that user won't accidentally remove it while renaming

### Actual behavior
Rename the file after upload will sometimes remove the file type icon

### Steps to reproduce the problem
- Login as Customer
- Click on a project that has permission
- Click "Assets Library"
- Upload a file (Word.doc) and select 'Member X'

[2020-04-02 20:14] codejamtc commented on #3748
Verified in `Prod`: 🆗 Pass
**User:** CustomerUser
https://monosnap.com/file/zXnC2uaChsStgj8D6t19J1nISrAwBk

[2020-04-02 20:25] codejamtc opened #3841 "[$45] User needs to refresh the page to see the updated link count"
### Expected behavior
It should automatically update link file count when the user closes the message thread

### Actual behavior
User needs to refresh the page to see the updated link count

### Steps to reproduce the problem
- Login as Customer
- Click on a project that has permission
- Click "Messages"
- Click on a message thread that has 1 file and 1 link
- Click Edit Post > Add a file and ins

[2020-04-02 21:25] lakshmiathreya commented on #3748
Asset inside the Phase is visible only to Copilot and not Project members though it indicates Shared with all Members. Pls clarify @vikasrohit @maxceem <img width="1680" alt="Monosnap 2020-04-03 02-44-16" src="https://user-images.githubusercontent.com/51733042/78301225-6926a900-7556-11ea-9792-81344df21b3b.png">

[2020-04-02 21:29] lakshmiathreya commented on #3748
Copilot view: <img width="1680" alt="Monosnap 2020-04-03 02-56-42" src="https://user-images.githubusercontent.com/51733042/78301681-13063580-7557-11ea-9055-3f075c37d8e1.png">

[2020-04-02 21:29] lakshmiathreya commented on #3748
@codejamtc could you post the Customer User view for this Project?

[2020-04-02 21:34] codejamtc commented on #3748
@maxceem @lakshmiathreya https://www.screencast.com/t/x5tRcRLbrgr

[2020-04-02 22:12] codejamtc opened #3842 "[$15] UI issue when we invite a member with a long email"
### Expected behavior
The email should be trimmed

### Actual behavior
UI issue when we invite a member with a long email

### Steps to reproduce the problem
- Login as Customer
- Click on a project that has permission
- Click "Manage Incitations"
- Enter 'pablodiegojosfranciscodepaulajuannepomuceno@gmail.com' > Send Invite

### Screenshot/screencast

![image](https://user-images.githubusercontent

[2020-04-02 22:17] codejamtc opened #3843 "[$10] Customer and Topcoder dropdown filter overlap with the user avatar's on the table"
### Expected behavior
Should open the filter above the user avatar

### Actual behavior
Customer and Topcoder dropdown filter overlap with the user avatar's on the table

### Steps to reproduce the problem
- Login as Customer
- Switch to List view
- Click on Customer and Topcoder dropdown

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/42398485/78305101-bfb7c700-7505

[2020-04-02 22:40] lakshmiathreya commented on #3748
Seems like Project Member can only see the Phase and Assets if Phase is moved from Draft to Planned. @codejamtc pls add Customer screenshot and set to Prod QA Pass now. cc @maxceem @vikasrohit
<img width="1598" alt="Screenshot 2020-04-03 at 4 10 15 AM" src="https://user-images.githubusercontent.com/51733042/78306475-143c6000-7561-11ea-9b0e-3fdd232fe634.png">

[2020-04-02 22:41] codejamtc commented on #3748
![image](https://user-images.githubusercontent.com/42398485/78306540-3efaca00-7509-11ea-8206-c4efe4e77563.png)

[2020-04-02 23:36] lakshmiathreya commented on #3496
Verified Search and display of customer/TC team handles via Admin, Copilot, Copilot Manager, Account Manager and Connect Manager roles.

[2020-04-03 00:04] lakshmiathreya commented on #3723
@codejamtc this seems similar to your observation in Dev. Pls move to Prod QA Pass if so. <img width="1656" alt="Screenshot 2020-04-03 at 5 31 22 AM" src="https://user-images.githubusercontent.com/51733042/78310848-b746a700-756c-11ea-8585-e6e21ad185ac.png">
<img width="1680" alt="Screenshot 2020-04-03 at 5 31 56 AM" src="https://user-images.githubusercontent.com/51733042/78310851-bca3f180-756c-11e

[2020-04-03 00:09] lakshmiathreya commented on #3755
@codejamtc pls move this to Prod QA Pass based on my Prod update in #3723 - the same results are valid here too right?

[2020-04-03 00:20] lakshmiathreya commented on #3737
@codejamtc The same Project Type icons are seen in Prod - must be evident from the Customer User login too... pls let me know what specifically you'd like me to verify on Prod via Manager/Admin user for this Issue.

[2020-04-03 00:36] lakshmiathreya commented on #3463
Verified on Prod - Links can be created/viewed/edited/searched by User and Admin - not other Manager users. @coderhacker what other scenario would you like verified in Prod via Admin/Manager users?

[2020-04-03 01:20] coderhacker commented on #3463
@lakshmiathreya just verify with Admin. I have verified with user . I can see you have verified and pass in prod

[2020-04-03 01:20] lakshmiathreya commented on #3722
As described above - Verified the same scenarios on Prod with Copilot, Admin, Copilot manager, Connect Manager and Account Manager roles:
1. If a user has been invited by handle we only show handle for such invitations, but we don't show email (except of Topcoder Admins)
2. If a user has been invited by email we only show email for such invitations, but we don't show handle (except of Topcoder Adm

[2020-04-03 01:44] lakshmiathreya commented on #3809
On Prod for TC team - Verified Invites by handle (handle only for TC members invites), Accept and Decline via Email, Project Dashboard and Connect Dashboard for all Manager and Copilot roles.

Verified Removal via Connect Dashboard. Admin is unable to remove in some cases. Will log a different Issue for that.

[2020-04-03 05:58] vikasrohit commented on #3840
@codejamtc I think it is happening because you have removed the extension while renaming the file.

[2020-04-03 06:14] maxceem commented on #3666
We should set to the project type https://connect.topcoder-dev.com/metadata/projectTypes/talent-as-a-service

At the moment it's not set, so when we click "Talent as s Service" the list with one template is opened instead of directly opening template. We don't have any example where we currently set it.

[2020-04-03 06:22] vikasrohit commented on #3557
Thanks for catching it @codejamtc. I need to update the template on the production to reflect the changes.  I updated it now, please check it again.

[2020-04-03 06:27] vikasrohit commented on #3666
@codejamtc it is working fine on production, I have doubled checked it.

[2020-04-03 08:10] maxceem commented on #3839
This is fixed as a hotfix in Project Service:
- DEV https://github.com/topcoder-platform/tc-project-service/pull/526 (already merged to DEV)
- PROD https://github.com/topcoder-platform/tc-project-service/pull/527

[2020-04-03 09:24] maxceem commented on #3839
@codejamtc thank you for catching it! We already fixed this issue on DEV and PROD, could you please verify?

[2020-04-03 10:07] #3388 closed

[2020-04-03 10:07] #3412 closed

[2020-04-03 10:07] #3413 closed

[2020-04-03 10:07] #3427 closed

[2020-04-03 10:07] #3462 closed

[2020-04-03 10:07] #3463 closed

[2020-04-03 10:07] #3496 closed

[2020-04-03 10:07] #3512 closed

[2020-04-03 10:07] #3624 closed

[2020-04-03 10:07] #3630 closed

[2020-04-03 10:07] #3634 closed

[2020-04-03 10:07] #3651 closed

[2020-04-03 10:07] #3666 closed

[2020-04-03 10:07] #3673 closed

[2020-04-03 10:07] #3698 closed

[2020-04-03 10:07] #3722 closed

[2020-04-03 10:07] #3723 closed

[2020-04-03 10:07] #3733 closed

[2020-04-03 10:07] #3736 closed

[2020-04-03 10:07] #3737 closed

[2020-04-03 10:07] #3740 closed

[2020-04-03 10:07] #3741 closed

[2020-04-03 10:07] #3743 closed

[2020-04-03 10:07] #3748 closed

[2020-04-03 10:08] #3750 closed

[2020-04-03 10:08] #3752 closed

[2020-04-03 10:08] #3755 closed

[2020-04-03 10:08] #3801 closed

[2020-04-03 10:08] #3809 closed

[2020-04-03 10:08] #3823 closed

[2020-04-03 10:08] #3764 closed

[2020-04-03 10:10] vikasrohit commented on #3557
@codejamtc @lakshmiathreya I have verified this on production and marking it as closed. Please feel free to add final QA comments.

[2020-04-03 10:10] #3557 closed

[2020-04-03 12:16] vikasrohit commented on #3739
@maxceem @drasticdpk @lakshmiathreya I have verified it on production and it is working fine. I have applied this flag to an old hidden template (app-old).

[2020-04-03 12:16] #3739 closed

[2020-04-03 12:16] vikasrohit commented on #3468
@maxceem I think we did not work on this, right?

[2020-04-03 12:18] maxceem commented on #3468
Didn't work.

[2020-04-03 12:24] vikasrohit commented on #3738
It has been postponed as it does not seems to be a frequently used component for customers as of now and we are going to redesign the dashboard soon, so it might be better to take care at that time.

[2020-04-03 12:26] #3749 closed

[2020-04-03 12:26] vikasrohit commented on #3726
Moving to backlog as notifications are also going to be revamped with Action Items.

[2020-04-03 12:28] vikasrohit commented on #3435
@coderhacker Please add your final QA comments here. I am marking it as passed for now as the reason of failure seems to be a new finding.

[2020-04-03 12:28] #3435 closed

[2020-04-03 12:29] #3819 closed

[2020-04-03 12:29] #3822 closed

[2020-04-03 12:29] #3839 closed

[2020-04-03 13:34] codejamtc commented on #3839
@maxceem File download is working

[2020-04-03 13:41] codejamtc commented on #3557
@maxceem @vikasrohit Working in `Prod`

[2020-04-03 13:44] codejamtc commented on #3840
@vikasrohit Yes, but people may not pay attention to the extension while renaming. Only a suggestion

[2020-04-05 04:17] vikasrohit commented on #3840
Agreed. But I think it is same behaviour in Mac OS as well. Only possible enhancement can be to alert user when he/she is changing the extension which I think is good but not a priority thing for us as we are not building File system. But We can keep it as enhancement request for future work.

[2020-04-06 06:23] codejamtc opened #3848 "User can't download the file attached"
### Expected behavior
Should be able to download the file.

### Actual behavior
After changing the file name, the user can't download the file

### Steps to reproduce the problem
- Login as Customer
- Click on a project that has permission
- Click "Assets Library"
- Upload a file (Word.doc) and select 'Member X' from the 'OR ONLY SPECIFIC PEOPLE' section > Click 'Share with selected members
- Clic

[2020-04-06 14:04] codejamtc opened #3849 "UI issue when the user opens the "Add New File" upload popup when there is an edit file model active"
### Expected behavior
Should not appear the model below the edit form and then move up. Sometimes the screen flickers, Some items are displayed above the overlay initially, check File Asset menu

### Actual behavior
UI issue when the user opens the "Add New File" upload popup when there is an edit file model active

### Steps to reproduce the problem
- Login as Manager
- Click on a project that ha

[2020-04-06 14:48] vikasrohit commented on #3849
What is the expected behaviour in this case @codejamtc @lakshmiathreya ? Consider the case where user has some unsaved changes in the edit form.

[2020-04-06 15:18] codejamtc commented on #3849
@vikasrohit I think when the file upload opens; it should open above the edit window. Now it is opening behind the edit form and then moved back to the top cc @lakshmiathreya

If a user added a new file it will be added to the list but that process should not close the edit window (thay way it is easy)

If we try to close the edit window when user click on `Add new`, then we need to display a mess

[2020-04-06 15:57] codejamtc opened #3850 "Skill dropdown is partially hidden"
### Expected behavior
Should Open the skill dropdown upward so that user can see more option when expanded

### Actual behavior
Skill dropdown is partially hidden. But if there is a validation then you can see the full dropdown controller

### Steps to reproduce the problem
- Login as Manager
- Click 'Create New Project' > Talent as a Service (TaaS)
- Go to 'What skills are important for your team

[2020-04-06 15:57] codejamtc opened #3851 "C# tag displayed twice"
### Expected behavior
Should display only one time

### Actual behavior
C# tag displayed twice

### Steps to reproduce the problem
- Login as Manager
- Click 'Create New Project' > Talent as a Service (TaaS)
- Go to 'What skills are important for your team to have?*'
- Type `c#` and add to the list
- Type `C#` and add to the list

### Screenshot/screencast

https://www.screencast.com/t/qDQRG18qHSi

[2020-04-06 19:46] codejamtc opened #3852 ""What are common success indicators?" popup content UI issue"
### Expected behavior
"In Topcoder’s history, data visualization project success has often been based on the following attributes:" text should align properly

### Actual behavior
"What are common success indicators?" popup content UI issue

### Steps to reproduce the problem
- Login as Manager
- Click 'Create New Project' > Data Visualization
- Go to 'What will qualify this data visualization pro

[2020-04-06 20:49] codejamtc opened #3853 "After applying the filter from the table column headers; it won't take effect when switching the tabs (Active, In Reiew etc...)"
### Expected behavior
Either filter should be reset, if not that filter should apply to the currently selected tab

### Actual behavior
After applying the filter from the table column headers; it won't take effect when switching the tabs (Active, In Reiew etc...)

### Steps to reproduce the problem
- Login as Manager
- Click All Projects > And apply 'TopConnCustomer' to Customer filter
- Switch th

[2020-04-07 03:23] codejamtc opened #3854 "Assets Library > Files folder icon and text is not aligned properly"
### Expected behavior
Should display the icon and text in-line

### Actual behavior
Assets Library > Files folder icon and text is not aligned properly

### Steps to reproduce the problem
- Login as Manager
- Click on a project > Assets Library {https://connect.topcoder-dev.com/projects/9057/assets}
- Select files and check the folders

### Screenshot/screencast

![image](https://user-images.githu

[2020-04-07 03:37] codejamtc opened #3855 "Assets Library > Links: Can enter invalid URLs"
### Expected behavior
Should validate the correct URL regex format

### Actual behavior
Assets Library > Links: Can enter invalid URLs

### Steps to reproduce the problem
- Login as Manager
- Click on a project > Assets Library {https://connect.topcoder-dev.com/projects/9057/assets}
- Select Links > Add New
- Enter Name=ABC; URL=www.google.asdasd.sadsad.sadasd..www.google.lk
- Click Add Link (Use

[2020-04-07 06:01] vikasrohit commented on #3855
I don't think we need this kind of validation. It neither blocks any one to use the functionality nor it causes any errors. It is upto the user what he/she wants to share. We have few standard URL validations in place, but we don't want to make it unnecessary strict which may cause some issue with valid URLs as well.
Still keeping this in backlog, if we need it some day.

[2020-04-07 06:07] vikasrohit commented on #3854
@codejamtc @maxceem  we don't space to render it in single line, however, we may use ellipsis for such fixed texts `Only Topcoder Members` and show the full text in tooltip

[2020-04-07 06:53] vikasrohit commented on #3853
@maxceem I didn't understand this issue, did you get what exactly is the problem?

[2020-04-07 06:54] vikasrohit commented on #3851
@maxceem I saw somewhere we fixed such issue with duplicate tags. Is this different?

[2020-04-07 06:59] vikasrohit commented on #3850
@codejamtc what was the screen resolution? It is coming nicely for my resolution on Mac/Chrome.

@maxceem it seems to be an issue with specific resolution only and I know it would be difficult/tricky to intelligently render the dropdown on top instead of bottom, so I would like to take this one in our plate only fi that rendering on top does not cause any other rendering issue.

[2020-04-07 08:02] maxceem opened #3856 "Permissions regression testing"
#### Make regression testing after internal work is done but functionality should work as before

We've made the first step to improve how we handle the permissions internally as per https://github.com/appirio-tech/connect-app/issues/2841 via https://github.com/appirio-tech/connect-app/pull/3847.

The code to handle permissions has been updated for a couple of places, though functionality shouldn'

[2020-04-07 08:13] maxceem commented on #3851
Look like the fix we have doesn't take into account lowe/uppercase, i. e. it treats tags with different letter case as different tags.

[2020-04-07 13:03] maxceem commented on #3853
Here is how I understand this issue:

- we open `All projects` tab and filter projects by `Customer`

   ![image](https://user-images.githubusercontent.com/146016/78672238-0f710680-78e9-11ea-9790-aad8d4b67e27.png)

- after that, we choose another tab, for example, projects `Cancelled`

   ![image](https://user-images.githubusercontent.com/146016/78672129-e486b280-78e8-11ea-83a0-145f0a0f2430.png)

[2020-04-07 13:35] maxceem commented on #3831
I've checked these countries, and looks like the issue, is that they are not supported by the library we use https://www.npmjs.com/package/libphonenumber-js see metadata https://gitlab.com/catamphetamine/libphonenumber-js/-/blob/master/PhoneNumberMetadata.xml.

As we cannot edit the lib, I guess we can probably remove these items from the country list as these looks like some edge cases and in mos

[2020-04-07 14:09] codejamtc commented on #3856
I am going to test this one cc @maxceem

[2020-04-07 14:10] codejamtc commented on #3853
@maxceem You are correct

[2020-04-07 14:13] codejamtc commented on #3850
@vikasrohit 1366x768

[2020-04-07 14:16] codejamtc commented on #3854
@vikasrohit In meant (This is a trivial one)

![image](https://user-images.githubusercontent.com/42398485/78679854-5b538980-78b0-11ea-8ebe-75cbb6d508b4.png)

[2020-04-07 14:31] codejamtc opened #3858 "[$40] Sometimes when the user doesn't have permission to edit file/links; app shows the Remove/Edit options."
### Expected behavior
Should remove those two options if that user doesn't have permission to edit/delete

### Actual behavior
Sometimes when the user doesn't have permission to edit file/links; app shows the Remove/Edit options. Instead, it will show an error message. So to be consistent with the other locations should remove the options

### Steps to reproduce the problem
- Login as Manager
- Cl

[2020-04-07 18:00] codejamtc commented on #3856
Ref: https://docs.google.com/document/d/1XZpUstQcIXnegAGtthSIqNTGiHbskwPKp9lw-D6qhQY/edit#

1. "Connect Admin" or "administrator" user can see "Manage" button for Topcoder Team, and inside Topcoder Team dialog can see "Remove" button and invite new members WITHOUT JOINING the project (see Join Button is visible): 🆗
**User:** `topcoderconnect+Admin@gmail.com` (He is not part of Project `9057`)
**UR

[2020-04-08 08:57] drasticdpk opened #3860 "Typo on Email Template and Metadata"
### Expected behavior
- In email template it should be technical and crowdsourcing instead of techincal, crowdsorcing respectively.
- In Metadata, it should be quality, Accessibility instead of quallity, Accessibilty on respective page.

### Actual behavior
There is some typo on email Template.
techincal Line no  491 as given file.
crowdsorcing Line no  960 as given file
There is typo in new proje

[2020-04-08 08:59] drasticdpk commented on #3860
Note : Meta data issue only can verify on prod mode.

[2020-04-09 06:28] vikasrohit commented on #3854
okay. You think, vertically middle alignment is better than top one, right? We can do that as well. @maxceem lets keep it 2.9.

[2020-04-09 07:39] vikasrohit commented on #3852
Data is updated on both dev and production.

[2020-04-09 07:39] maxceem commented on #3854
I would suggest to vertically align icons with the first line only. As now icons are slightly more down than the middle of the first line.

[2020-04-09 08:01] #3852 closed

[2020-04-09 08:02] vikasrohit opened #3862 "Enable user level reporting on project listing page"
Just like project level reports, we should be able to see the reports link for user level reports.

[2020-04-09 08:57] vikasrohit commented on #3854
oh, I think they aligned even right now in that term. It looks bit off because of some icons does not occupy the full square grid.

[2020-04-09 13:02] codejamtc commented on #3852
@vikasrohit Yes
![image](https://user-images.githubusercontent.com/42398485/78897899-8537b800-7a38-11ea-85f9-c5172cf5fa90.png)

[2020-04-09 14:01] codejamtc opened #3864 "Won't reflect the changes made to the project when the user goes into the Project dashboard"
### Expected behavior
Should reflect the changes when the user goes into the Project dashboard

### Actual behavior
Won't reflect the changes made to the project when the user goes into the Project dashboard

### Steps to reproduce the problem
- Login as Manager
- Open a Project from the Dashboard
- Go to Scope tab > Change the name and Description of the project > Save Project
- Click Back
- Chec

[2020-04-09 14:08] drasticdpk commented on #3862
verified on prod mode :
![image](https://user-images.githubusercontent.com/25297859/78903455-ded0ce80-7a9a-11ea-9507-f3dd45dac79d.png)
Note: When clicking on no. of users, it gives `No Drill Available`. Please confirm if it is not our expected behavior. cc @vikasrohit
![image](https://user-images.githubusercontent.com/25297859/78903674-37a06700-7a9b-11ea-80cc-8aabde3a5a9d.png)
.

[2020-04-09 14:44] codejamtc opened #3865 "Invalid entries displayed when user tries to filter a two word Ref code"
### Expected behavior
Should display only matching ref codes, in this case, should only display the codes with "ref c" + any. Not the codes start with "c"

### Actual behavior
Invalid entries displayed when a user tries to filter a two-word Ref code

### Steps to reproduce the problem
- Login as Manager
- Click on the 'Ref Code" filter
- Enter "Ref C" and check the listing

### Screenshot/screenca

[2020-04-09 15:51] codejamtc opened #3866 "+1 overlap with the project status icon on the project listing page"
### Expected behavior
Should display the +1 without overlapping with the Staus dropdown

### Actual behavior
+1 overlap with the project status icon on the project listing page

### Steps to reproduce the problem
- Login as Manager
- Turn ON 'My Projects' toggle
- Check the project names "Dec 28 test project" and "Test max join by admin"

### Screenshot/screencast

![image](https://user-images.git

[2020-04-09 16:07] codejamtc opened #3867 "500 server error while searching a project name with special characters"
### Expected behavior
Should not display a server error

### Actual behavior
500 server error while searching a project name with special characters

[code]

### Steps to reproduce the problem

- Login as Manager
- Create a project with the name="Ticket-3809{codejam} Edited"  if not available
- Go to Project listing page > Filter with the project name column="Ticket-3809{codejam} Edited" (Paste th

[2020-04-09 16:56] codejamtc opened #3868 "[$25] Clicking on the 'Read more' link will redirect the page to an incorrect one."
### Expected behavior
Should redirect the page to `https://connect.topcoder-dev.com/projects/8699/scope`

### Actual behavior
Clicking on the 'Read more' link will redirect the page to an incorrect one. The current link is pointed to `https://connect.topcoder-dev.com/projects/8699/specification` but I can't see any sub-page with the `/specification`.

### Steps to reproduce the problem

- Login as

[2020-04-09 17:11] codejamtc opened #3869 "`What kind of application would like to test` dropdown is too close to the label"
### Expected behavior
Should have space between the controllers

### Actual behavior
`What kind of application would like to test` dropdown is too close to the label

### Steps to reproduce the problem

- Login as Manager
- Turn ON the 'My Projects' toggle
- Tap on a project and open it {https://connect.topcoder-dev.com/projects/8699}
- Tap Scope: https://connect.topcoder-dev.com/projects/8699/sco

[2020-04-09 18:02] codejamtc opened #3870 "Creating a Solution > QA > Regression Testing will add a `Dev Iteration` phase to the project"
### Expected behavior
Should not add any phase or better to add a QA Iteration

### Actual behavior
Creating a Solution > QA > Regression Testing will add a `Dev Iteration` phase to the project

### Steps to reproduce the problem

- Login as Manager
- Click `+ New Project` > Solution > QA > Regression Testing
- Create a `Regression Testing` project and open it {https://connect.topcoder-dev.com/pro

[2020-04-09 18:18] codejamtc opened #3871 "'Price' option displayed above the project phases"
### Expected behavior
'Price' option should be removed. That option is no relevance to there

### Actual behavior
'Price' option displayed above the project phases

### Steps to reproduce the problem

- Login as Manager
- From the Project listing page turn ON "My Projects"
- Select a project from the list {https://connect.topcoder-dev.com/projects/9057}
- Check above the phases

### Screenshot/scr

[2020-04-09 18:28] codejamtc opened #3872 "'Ref Code' won't have a char limit and a long Ref code will overflow the Ref code tooltip"
### Expected behavior
Should have a character limit for the `Ref Code`/ or should fix the tooltip for long `Ref Code`

### Actual behavior
'Ref Code' won't have a char limit and a long `Ref Code` will overflow the Ref code tooltip

### Steps to reproduce the problem

- Login as Manager
- From the Project listing page turn ON "My Projects"
- Select a project from the list {https://connect.topcoder-

[2020-04-09 18:35] codejamtc opened #3873 "No gap between the question and answer blocks in "Do you have technology stack preferences?""
### Expected behavior
Should have proper gaps between the controllers

### Actual behavior
No gap between the question and answer blocks in "Do you have technology stack preferences?"

### Steps to reproduce the problem

- Login as Manager
- From the Project listing page turn ON "My Projects"
- Select a project from the list - Design, Development & Deployment {https://connect.topcoder-dev.com/proj

[2020-04-10 00:33] codejamtc opened #3874 "UI issue if the user tooltip opens downwards"
### Expected behavior
Should not display the border of the arrow inside the tooltip

### Actual behavior
UI issue if the user tooltip opens downwards

### Steps to reproduce the problem

- Login as Manager
- From the Project listing page turn ON "My Projects"
- Select a project from the list {https://connect.topcoder-dev.com/projects/8627}
- Scroll the page and hover over the 'mynewcustomer' user

[2020-04-10 01:30] codejamtc opened #3875 "Duplicate "Wireframe" phases displayed on the "Add A New Phase""
### Expected behavior
Should remove one from the list

### Actual behavior
Duplicate "Wireframe" phases displayed on the "Add A New Phase"

### Steps to reproduce the problem

- Login as Manager
- From the Project listing page turn ON "My Projects"
- Select a project from the list {https://connect.topcoder-dev.com/projects/8627}
- Select "Dashboard > Add New Phase
- Check the list

### Screenshot/

[2020-04-10 01:32] codejamtc commented on #3837
In all the Phases as well:

![image](https://user-images.githubusercontent.com/42398485/78954292-47bb4500-7aa1-11ea-922a-26f9c247fee4.png)

[2020-04-10 02:01] codejamtc opened #3876 ""You have unsaved changes. Are you sure you want to leave?" message displays when the user edits something and click on the Dashboard tab (But nothing happens)"
### Expected behavior
Should not display that message if the user clicks on the currently active tab/ or if needed when user click on the "OK" from the messages the current changes should be reset

### Actual behavior
"You have unsaved changes. Are you sure you want to leave?" message displays when the user edits something and click on the Dashboard tab (But nothing happens)

**The same thing happ

[2020-04-10 02:08] codejamtc opened #3877 ""You have unsaved changes. Are you sure you want to leave?" message is not displayed when the user switches the tabs from 'Assets Library' while editing"
### Expected behavior
Should prompt the dialog box "You have unsaved changes. Are you sure you want to leave?" when the user switches the tab while there are unsaved data on the current tab. To be consistent with the other tabs this message should be displayed

### Actual behavior
"You have unsaved changes. Are you sure you want to leave?" message is not displayed when the user switches the tabs f

[2020-04-10 02:14] codejamtc opened #3878 ""Warning: You are about to manually change the start/end date of this phase.." message is displayed even though the user is not editing the Start and End dates"
### Expected behavior
Should not display that message if the user is not editing the start and end dates

### Actual behavior
"Warning: You are about to manually change the start/end date of this phase.." message is displayed even though the user is not editing the Start and End dates

### Steps to reproduce the problem

- Login as Manager
- From the Project listing page turn ON "My Projects"
- Se

[2020-04-10 02:40] codejamtc opened #3879 "(...) Sub-menu overlaps with the content"
### Expected behavior
Should not overlap with the content because it is barely visible

### Actual behavior
(...) Sub-menu overlaps with the content

### Steps to reproduce the problem

- Login as Manager
- From the Project listing page turn ON "My Projects"
- Select a project from the list {https://connect.topcoder-dev.com/projects/9046/}
- Select 'Dashboard' and tap on a phase
- Go to the 'Discu

[2020-04-10 03:07] codejamtc commented on #3576
@maxceem @vikasrohit I can still reproduce this issue

![image](https://user-images.githubusercontent.com/42398485/78958680-72f86100-7aae-11ea-9c32-8e25787fb2dc.png)

[2020-04-10 03:53] codejamtc opened #3880 "While drag and drop file to the "Specification" and upload; the progress bar overlap with the popup dialog box and a blue box appeared"
### Expected behavior
Should not overlap the progress bar with the popup. The 0 of 1 should display as 1 of 1. After fully uploaded the blue box should reset

### Actual behavior
While drag and drop file to the "Specification" and upload; the progress bar overlap with the popup dialog box and a blue box appeared. The blue box is a progress indicator but it is there after the file is 100% uploaded.

[2020-04-10 03:59] vikasrohit commented on #3875
This is a data issue in dev and it is expected to be there as we need many testing templates in there. Closing it.

[2020-04-10 03:59] #3875 closed

[2020-04-10 04:15] coderhacker opened #3881 "Button Show Hide color not working properly on login screen"
### Expected behavior
The button color should be working based on the show and hide toggle .

### Actual behavior
The show and hide button color is not synced with password

### Steps to reproduce the problem
1. Launch https://connect.topcoder-dev.com
2. Enter the User name and Password
3. The show and hide button color is not synced with password

Please see the attached video to replicate the is

[2020-04-10 06:55] maxceem opened #3882 "[$40] Don't let choose "Observer" role"
Lets prevent users from selecting Observer role for new team members or changing from existing roles to Observer. And just show the Observer roles for the members who are already in that role.

![image](https://user-images.githubusercontent.com/146016/78970043-19754e00-7b11-11ea-8afa-af8ff10e2b0c.png)

![image](https://user-images.githubusercontent.com/146016/78970166-5b05f900-7b11-11ea-8b04-4aad4

[2020-04-10 08:35] maxceem commented on #3856
@codejamtc cases 3 and 7 should be fixed now, could you please check them again.

Regarding issue 6 for copilots, as it's not directly connected with permissions, but an issue with the control element we use, could you please create a separate issue for this.

[2020-04-10 12:29] vikasrohit commented on #3862
That should be okay @drasticdpk . But still, we would try to disable the links.

[2020-04-10 12:30] #3862 closed

[2020-04-10 12:36] vikasrohit commented on #3850
Ok. Thanks @codejamtc. I just realized that we are going to change the TaaS form drastically and we are developing a new component for asking the skills, which should not have this problem. Moving it to backlog for now.

[2020-04-10 12:37] vikasrohit commented on #3866
Moving to backlog, considering the fact that project listing is also going to be revamped soon.

[2020-04-10 12:40] vikasrohit commented on #3869
@codejamtc this project was created from a template which is no longer in use. Essentially, we don't use dropdown unless there is no other option, for project template forms. Closing the issue.

[2020-04-10 12:40] #3869 closed

[2020-04-10 12:42] codejamtc opened #3883 "Even though the two fields are displayed as disabled users can still change the country code by dropdown."
### Expected behavior
Have to disable it even though we can't save it

### Actual behavior
Even though the two fields are displayed as disabled users can still change the country code by dropdown.

### Steps to reproduce the problem

- Login as Copilot
- Profile > My Profile
- Click on the Business Phone country code dropdown

### Screenshot/screencast

![image](https://user-images.githubuserconte

[2020-04-10 12:46] codejamtc commented on #3856
7 - {Fixed} 🆗
![image](https://user-images.githubusercontent.com/42398485/78991665-16716200-7aff-11ea-944a-ee6cc4f7279c.png)

3 - {Fixed} 🆗
![image](https://user-images.githubusercontent.com/42398485/78991766-51739580-7aff-11ea-8bf5-42365052ca9b.png)

[2020-04-10 12:47] vikasrohit commented on #3868
@codejamtc both links are valid. Old (I don't defined parameter to say old, but it about more than year) projects which has specifications tab while we changed after that to be Scope. So, there is internal redirection happening for that. However, for consistency, it should have same link at both `read more` links, one at Card View and another in projects details page.
@maxceem can you please confi

[2020-04-10 12:54] codejamtc commented on #3868
@vikasrohit Agree, redirection is happening but to the wrong place right.

https://connect.topcoder-dev.com/projects/9074/specification >> https://connect.topcoder-dev.com/projects/9074 NOT to the https://connect.topcoder-dev.com/projects/9074/scope

[2020-04-10 13:08] maxceem commented on #3868
There appear to be 2 issues:
1. Link is wrong, it should lead to `/scope` for this project, it's fixed via 309ef038d16f83c690f92ec6b907befd99cf5bc7

2. When we click the `read more` link on the card there is double link:
     - the whole card is link to the project Dashboard page
     - `read more` is link to the project Spec/Specification page

    So when we click `read more` link, we first open

[2020-04-10 13:22] maxceem commented on #3856
@codejamtc did this pass QA on TEST, or you are still testing something?

[2020-04-10 13:23] codejamtc commented on #3856
@maxceem I am checking others also to check whether anything is broken :)

[2020-04-10 13:26] codejamtc commented on #3868
@maxceem

1. I check the fix, When I click `read more` I can see the URL as https://connect-test01.topcoder-dev.com/projects/9074/specification
2. But when I click on it the page redirects to `Dashboard`, not to `Scope`
Is my understanding correct?

https://monosnap.com/file/WufreGo4WK3wvLXx9lDdoAU7lCtq6Y

[2020-04-10 13:29] maxceem commented on #3868
@codejamtc please, use DEV env for testing of this issue https://connect.topcoder-dev.com/projects. The TEST env is only for testing Permission Regression issue.

[2020-04-10 13:29] maxceem commented on #3868
Is my understanding correct?

Yes, this issue is not fixed yet, it's part 2 of this issue.

[2020-04-10 13:31] codejamtc commented on #3868
@maxceem Sorry wrong URL in the comment, I will fix it

[2020-04-10 13:36] codejamtc commented on #3856
@maxceem Pass 🆗

[2020-04-10 13:57] maxceem commented on #3856
Thank you @codejamtc for comprehensive testing, it helped to find a critical issue.

[2020-04-10 22:53] codejamtc opened #3884 "[$25] Long Ref Code goes out of the left panel"
### Expected behavior
Should trim the long ref codes as in other browsers

### Actual behavior
Long Ref Code goes out of the left panel

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list { https://connect.topcoder-dev.com/projects/9074 }
- Check the 'Ref Code'

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/42398485/79028016-1c45

[2020-04-11 23:56] codejamtc opened #3885 "Missing start date validation in the phase is displayed mentioning about End date as well"
### Expected behavior
Should be displayed only about start date

VALIDATION ERROR: "STARTDATE" MUST BE A NUMBER OF MILLISECONDS OR VALID DATE STRING

### Actual behavior
Missing start date validation in the phase is displayed mentioning about End date as well

VALIDATION ERROR: "STARTDATE" MUST BE A NUMBER OF MILLISECONDS OR VALID DATE STRING,"ENDDATE" MUST BE A NUMBER OF MILLISECONDS OR VALID DAT

[2020-04-12 00:02] codejamtc opened #3886 "Timeline tab is displayed for some phases (First to Finish) but no data on it"
### Expected behavior
If Timeline tab is not relevant for a specific phase, it should be removed from the phase

### Actual behavior
Timeline tab is displayed for some phases (First to Finish) but no data on it

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9077}
- Go to 'Dashboard' > Edit a phase (First to Finish

[2020-04-12 00:12] codejamtc opened #3887 "'Paid to date (US$)' displays the spinner even though it is disabled"
### Expected behavior
Should hide the spinner. Check with the other browsers (Chrome and Edge)

### Actual behavior
'Paid to date (US$)' displays the spinner even though it is disabled

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9074}
- Go to 'Dashboard' > Edit a phase (QA Iteration)
- Check the 'Paid to date (

[2020-04-12 00:28] codejamtc opened #3888 "User can't update only the description of an attachment in the Specification tab"
### Expected behavior
If the application is restricting editing details of others, it should display a validation messages or it should remove the edit button from the attachment

### Actual behavior
User can't update details of an attachment in the Specification tab, if the file is not belongs to currently logged in user

### Steps to reproduce the problem

- Login as Manager
- Select a project f

[2020-04-12 00:36] codejamtc opened #3889 "Even though we restrict the files to specific users on the Topcoder Team, they can access the files"
### Expected behavior
Should apply the restriction to that specific user

### Actual behavior
Even though we restrict the files to specific users on the Topcoder Team, they can access the files

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9074}
- Go to 'Dashboard' > Expand a phase (QA Iteration)
- Go to 'Specifi

[2020-04-12 00:42] codejamtc opened #3890 "No point of having a "Save Changes" button in QA Iteration > Specification tab"
### Expected behavior
Should remove the "Save Changes" button from QA Iteration

### Actual behavior
No point of having a "Save Changes" button in QA Iteration > Specification tab

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9074}
- Go to 'Dashboard' > Expand a phase (QA Iteration)
- Go to 'Specification' tab
-

[2020-04-12 01:43] codejamtc opened #3891 "[$15] 'Close' icon is not properly displayed (Rendered)"
### Expected behavior
Should display the close button

### Actual behavior
'Close' icon is not properly displayed (Rendered)

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list { https://connect.topcoder-dev.com/projects/9074 }
- Go to 'Dashboard' > Expand a phase (First to Finish)
- Go to 'Specification' tab
- Expand the 'Description' or 'What type of question

[2020-04-13 05:53] vikasrohit commented on #3887
@codejamtc marking it as won't fix because the phase cards are going to be revamped soon and the concerned field is already deprecated and not in use.

[2020-04-13 05:53] #3887 closed

[2020-04-13 08:49] vikasrohit commented on #3878
Thanks @codejamtc for reporting and moving it to 2.10. However, I am marking it as won't fix because we are going to revamp the work management feature and the current UI of phases and its logic might not be there after that.

[2020-04-13 08:49] #3878 closed

[2020-04-13 09:08] vikasrohit commented on #3884
Moving to 2.10

[2020-04-13 10:37] vikasrohit commented on #3890
Thanks @codejamtc however, I think it is okay to have that button because this form keeps on changing frequently and there can be another form element in the form which needs the Save button and I think adding a logic to handle this specific case would make logic bit complicated with not much benefits.

[2020-04-13 10:37] #3890 closed

[2020-04-13 10:51] vikasrohit commented on #3889
@codejamtc I didn't understand the issue completely. It seems the files were shared with `TCConnCopilot` and you used that same account to download the file which means it is working fine. Let me know if I misunderstood the issue.

[2020-04-13 11:37] vikasrohit commented on #3886
@codejamtc it is bad data in dev which appears to be there because of experiments we do in dev env.

[2020-04-13 11:37] #3886 closed

[2020-04-13 11:46] vikasrohit commented on #3868
@maxceem you meant, *should NOT let*, right?

As the part 1 is already fixed in current code, I would like to get the part 2 wrapped as well.

[2020-04-13 11:50] vikasrohit commented on #3872
Related issue https://github.com/appirio-tech/connect-app/issues/3884. @codejamtc I am assuming that https://github.com/appirio-tech/connect-app/issues/3884 is happening only on Firefox, right?

[2020-04-13 11:59] codejamtc commented on #3872
@vikasrohit Yes

[2020-04-13 12:03] vikasrohit commented on #3881
Moving to Backlog as we are going to get rid of Connect specific registration page in this or its next release.

[2020-04-13 12:03] #3881 closed

[2020-04-13 12:07] codejamtc commented on #3889
@vikasrohit 0:21 The Manager restrict the CSV file for `TCConnCopilot` and 0:29 when we logged in as `TCConnCopilot` user can see that CSV file

[2020-04-13 16:07] maxceem commented on #3485
One extra encoding is fixed as per https://github.com/sendgrid/sendgrid-nodejs/issues/741 by replacing configuration of the teplate at sendgrid side from `{{subject}}` to `{{{subject}}}`.

One more extra encoding left as per https://github.com/topcoder-platform/tc-project-service/issues/502. This is a big task to do.

[2020-04-14 04:20] vikasrohit commented on #3889
I think you get it wrong. `Restrict Access To` means only the listed users are allowed to access the file, no one else. And if we don't have any thing listed there, it would be shared with all project members.

[2020-04-14 04:23] codejamtc commented on #3889
@vikasrohit Thanks for the clarification. Looking at your comment https://github.com/appirio-tech/connect-app/issues/3889#issuecomment-613217775 I think this is working properly, But I will re-check and close if it is working properly

[2020-04-14 04:36] vikasrohit commented on #3870
@codejamtc it is again data issue in dev env. However, I have fixed the data as well in dev for this particular issue. Let me know if you still see the issue.

[2020-04-14 04:42] codejamtc commented on #3870
@vikasrohit Just checked I can still see the `Dev Iteration`
https://connect.topcoder-dev.com/projects/9089

[2020-04-14 04:52] vikasrohit commented on #3870
Try now.

[2020-04-14 04:55] codejamtc commented on #3889
@vikasrohit There is something wrong here.

https://connect.topcoder-dev.com/projects/9074

I have logged in as `Manager` and for the phase `QA Iteration F` I have added few files. After that I gave;

CSVFile_119kb (1).csv = RESTRICT ACCESS TO `TCConAccountMgr`

Then I have logged in as `TCConAccountMgr` and check the `QA Iteration F` phase. I can't see the Specification tab

https://monosnap.com/

[2020-04-14 04:56] codejamtc commented on #3870
@vikasrohit Working

[2020-04-14 07:45] #3870 closed

[2020-04-14 08:13] vikasrohit commented on #3856
Thanks @codejamtc for the regression testing.

[2020-04-14 08:23] vikasrohit commented on #3860
Metadata is fixed on production. Email typo would be reflected on production after 2.9 release.

[2020-04-14 08:30] vikasrohit commented on #3853
Okay, understood @maxceem. I think for we can go with 1) option because if we want to keep the filters, we have to have some way to let user know that currently they are viewing filtered view which is not the case right now. We can do something similar to the Asset Library filtering. What do you suggest?

[2020-04-14 08:57] vikasrohit commented on #3851
Okay, @maxceem  do you think it would cause any trouble with making it case insesitive?

[2020-04-14 09:10] maxceem commented on #3851
@vikasrohit no, it should be good to make it case-insensitive.

[2020-04-14 09:19] vikasrohit commented on #3851
ok, keeping it for 2.10 milestone.

[2020-04-14 09:22] vikasrohit commented on #3849
I don't think that is a problem as it rendering it self finally on top of the edit form. I think it is its animation effect that is causing that view. Anyway, it renders itself in correct position, so I think we are good with that.
Please log a separate issue for the behavioral part that we discussed. I mean how it is behaving right now when user adds a file when edit form is already open. We can

[2020-04-14 09:22] #3849 closed

[2020-04-14 09:23] vikasrohit commented on #3871
@codejamtc `Price` label was for the price that we used to show in each phase card if user has entered some value to the `Price` field, however, I think we stopped showing that price soon after its implementation, so I have hidden the label for now.

[2020-04-14 09:37] vikasrohit commented on #3485
@maxceem we can close this issue now, right? I mean we have separate [ticket](https://github.com/topcoder-platform/tc-project-service/issues/502) for the second part of the issue.

[2020-04-14 09:59] maxceem commented on #3485
Yes @vikasrohit we can close it now. The only question, should we create a copy of the [ticket in Project Service](https://github.com/topcoder-platform/tc-project-service/issues/502) inside Connect App repo so we keep it mind? Because when we have tickets in Project Service we keep them like in backlog and pay less attention.

So it depends on the priority.

[2020-04-14 10:09] vikasrohit commented on #3485
In that case, lets keep this issue as is.

[2020-04-15 06:43] coderhacker opened #3898 "+New Project : Text-aligment is not consistent"
### Expected behavior
Text alignment should be consistent for below item:

a. Where to Share Style & Branding Guidelines.
b. Where to Share Font Preferences
c. Where to Share Color/Theme Preferences

### Actual behavior
ext alignment in-consistent for below item:

a. Where to Share Style & Branding Guidelines.
b. Where to Share Font Preferences
c. Where to Share Color/Theme Preferences

### Steps

[2020-04-15 06:56] vikasrohit commented on #3898
I don't think it is possible to align them without increasing the space between word i.e. without justified alignment of text.

[2020-04-15 07:18] maxceem commented on #3774
Sum up:
- add a new permission `SEE_MY_PROJECTS_FILTER` as per https://github.com/appirio-tech/connect-app/blob/dev/docs/permissions-guide/permissions-guide.md

[2020-04-15 07:52] lakshmiathreya opened #3899 "Intermittent error of API timeout"
### Expected behavior
App should be loading perfectly without timeout error.

### Actual behavior
Reported by Copilot - timeout issue.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account used:

[2020-04-15 08:03] maxceem commented on #3772
At the moment we are showing all the user avatars using Cloudfront and we resize them to the small size which we need.

In general, I would suggest not limiting the uploading photo size, as it's easier to resize a photo using some server-side script then to force customers to do it manually.

Do we have some server-side limitations for photos sizes or any other downsides of allowing users to uploa

[2020-04-15 08:07] maxceem commented on #3899
This issue was previously logged here https://github.com/appirio-tech/connect-app/issues/3703 but we didn't find any solution.

Now it's solved by https://github.com/appirio-tech/connect-app/pull/3897

[2020-04-15 08:08] maxceem commented on #3703
This issue is solved now by removing timeout when making requests from Connect App by https://github.com/appirio-tech/connect-app/pull/3897

[2020-04-15 08:21] drasticdpk commented on #3899
with reference to above discussion , I am closing this issue.
I have verified on 3G Fast/Slow network too and it is working as expected.
![image](https://user-images.githubusercontent.com/25297859/79315061-44e9a580-7f22-11ea-9357-f42f95e4c48e.png)

[2020-04-15 08:21] #3899 closed

[2020-04-15 08:23] maxceem commented on #3775
Sum up:
- cursor should be `default` instead of `pointer` for already selected tab
- when we click already selected tab the request should not be sent to the server
- this should be also fixed for mobile view

    ![image](https://user-images.githubusercontent.com/146016/79315340-6e4b0700-7f0b-11ea-979f-c3f74a1d1024.png)

[2020-04-15 08:27] maxceem commented on #3770
Sum up:
- user for testing `maxceem13` (password on the forum), or create a new user using https://accounts.topcoder-dev.com/connect/registration

[2020-04-15 08:39] maxceem commented on #3825
Sum up:
- when user clicks **Leave Project** button

   ![image](https://user-images.githubusercontent.com/146016/79316209-b3bc0400-7f0c-11ea-9bd5-f837cfafb332.png)

   - we should add artificial delay [ES_REINDEX_DELAY](https://github.com/appirio-tech/connect-app/blob/dev/src/config/constants.js#L889) **BEFORE** sending the actual request to the server to give time for the project to be reindexed

[2020-04-15 08:43] coderhacker commented on #3898
Just I have done some CSS trick on the browser and seems to look fine with the previous one.
![image](https://user-images.githubusercontent.com/62358241/79317246-1cae7680-7f23-11ea-8483-c7c92d0f84dc.png)

[2020-04-15 08:44] maxceem commented on #3832
Sum up:
This issue might need to fixed in two repositories:
- this repo
- [https://github.com/appirio-tech/react-components](react-components) repo branch `feature/connectv2-dev`

[2020-04-15 08:57] maxceem commented on #3576
Sum up:
- use user `pshah_manger`
- got to project https://connect.topcoder-dev.com/projects/9093 and click `Add phase` - observer that buttons are cut
- fix this issue carefully, and make sure the fix doesn't break other places, for example:
  - Create new project pages https://connect.topcoder-dev.com/new-project/
- check that mobile size is not broken

[2020-04-15 09:02] coderhacker opened #3900 "Common Issue : All text boxes is not flexiable to use, this should have scroll bar after maximum value entered"
### Expected behavior
text boxes should be flexible to use. There should be scroll bar after the maximum value entered

### Actual behavior
text boxes are not user friendly, It's increasing height which not looks good uses point of view

### Steps to reproduce the problem
Step 1-  go to connect.topcoder-dev.com.
Step 2- . and login with the user topcoderconnect+AccountManager/appirio123
Step 3. go

[2020-04-15 09:03] maxceem commented on #3868
Sum up:
- implement the second fix as per https://github.com/appirio-tech/connect-app/issues/3868#issuecomment-612020855
- If you login with `pshah_manager` user and filter by `Paused` status, there would be projects with `scope` and `specification` links for testing, see URL https://connect.topcoder-dev.com/projects?sort=lastActivityAt%20desc&status=paused

    ![image](https://user-images.github

[2020-04-15 10:47] maxceem commented on #3424
Sum up:

There are 2 parts in this issue:
1. Find out which users can get suggestions from the Member Service suggestion endpoint
2. Update connect app code so that we show suggestions for users with all the roles, who can see them.

### 1. Find out which users can get suggestions.

Complete this table be following the guide below the table.

| Topcoder Role (User handle) | Token Roles | Can get ✅

[2020-04-15 10:49] maxceem commented on #3596
Needs some research, moving to the next milestone.

[2020-04-15 10:50] maxceem commented on #3485
Needs some big job done for Project Service, moving to the next milestone.

[2020-04-15 10:53] maxceem commented on #3795
@vikasrohit I cannot reproduce this issue on production anymore. Could you please, also give it a try.

[2020-04-15 11:14] coderhacker opened #3901 "UI breaking in firefox after project creation"
### Expected behavior
reference UI should be the same as Chrome.
### Actual behavior
UI breaking in firefox after project creation

### Steps to reproduce the problem
Step 1- Go to url https://connect.topcoder-dev.com/projects/9095/.
Step 2- login with user : topcoderconnect+CopilotManager/appirio123
Step 3- Please refer attached screenshot.

### Screenshot/screencast
![image](https://user-images.

[2020-04-15 11:23] maxceem commented on #3468
### How to reproduce:
- login with `pshah_manager` and request to invite `pshah_copilot` as `copilot` to the Topoder Team to a project https://connect.topcoder-dev.com/projects/9093

    ![image](https://user-images.githubusercontent.com/146016/79329861-3353ce00-7f21-11ea-9cb5-253be9bb6980.png)

- now login in another browser with `pshahcopmanag`, and open Topcoder Team dialog

   ![image](https:/

[2020-04-15 12:48] maxceem commented on #3778
Done via 42d25b4bed6c2129a95fa9de4bb74753858b6d4e

[2020-04-15 13:01] maxceem commented on #3816
As a part of this issue, please, also fix this one https://github.com/appirio-tech/connect-app/issues/3851

[2020-04-15 13:02] maxceem commented on #3851
This should be fixed as a part of https://github.com/appirio-tech/connect-app/issues/3816