[2020-04-15 13:04] vikasrohit commented on #3795
I am not seeing the report failures even though if it is making two calls. I haven't verified that if it is making two calls or not.
Lets keep it open till next release.

[2020-04-15 13:09] maxceem commented on #3848
I think this issue is a duplicate of https://github.com/appirio-tech/connect-app/issues/3839 as I cannot reproduce it.

@codejamtc could you, please, check if you can reproduce it or we can close it as a duplicate.

[2020-04-15 13:20] maxceem commented on #3854
Fixed via 1d5e2ec1015e632f26ceeca12d98cc9a7eb8a7cb

I've fixed alignment with the first line, so it looks like this (see project https://connect.topcoder-dev.com/projects/8600/assets for demo):

![image](https://user-images.githubusercontent.com/146016/79341637-c9ddba80-7f34-11ea-822a-313d92961b14.png)

![image](https://user-images.githubusercontent.com/146016/79341754-f1348780-7f34-11ea-98ff-41d2

[2020-04-15 13:23] codejamtc commented on #3778
![image](https://user-images.githubusercontent.com/42398485/79342172-6c287e80-7ef2-11ea-95f7-6bd06c37c39b.png)

[2020-04-15 13:40] codejamtc commented on #3854
https://monosnap.com/file/YF8CGewQPffNDnR8F7LVoqWZFxGCgZ

[2020-04-15 13:50] codejamtc commented on #3860
![image](https://user-images.githubusercontent.com/42398485/79344712-cb3bc280-7ef5-11ea-8b15-336dea5ecd28.png)
![image](https://user-images.githubusercontent.com/42398485/79344886-02aa6f00-7ef6-11ea-9bfd-7350e3b16a0f.png)

**Need to check the template issue**

[2020-04-15 14:07] codejamtc commented on #3848
https://monosnap.com/file/NFVeD0bvkvpSnxuTA6cfEetjeIlhid

[2020-04-15 14:08] maxceem commented on #3773
Sum up:
- we have a default **hover** style for buttons, for example, see **Save settings** button on https://connect.topcoder-dev.com/settings/profile:

   ![hover](https://user-images.githubusercontent.com/146016/79345848-52128e80-7f3a-11ea-8e56-d58081eaa3cf.gif)

- in other places, where we show the standard button we have to **reuse** our global styles as we do for **Save settings** button. Al

[2020-04-15 14:09] maxceem commented on #3848
Closing it as a duplicate of https://github.com/appirio-tech/connect-app/issues/3839.

[2020-04-15 14:09] #3848 closed

[2020-04-15 14:15] maxceem commented on #3773
@drasticdpk I found 3 places with missing hover styles. Please, let me know if you find any other places.

Note: blue links don't have a hover class since long time ago, I don't know why.

[2020-04-15 14:19] codejamtc opened #3902 "New tab opening when user is going to download a file from Assets Library"
### Expected behavior
Should not open a new tab

### Actual behavior
New tab opening when user is going to download a file from Assets Library

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9090}
- Go to Assets Library > Files
- Download a file

### Screenshot/screencast

https://monosnap.com/file/lLauJUbk4aWckQUp

[2020-04-15 15:25] maxceem opened #3903 "Improve performance of create project form"
The performance of the form for creating new projects is quite poor.

We have a component to enter skills [SkillsQuestion](https://github.com/appirio-tech/connect-app/blob/bdbb8910cab2ad2638661d61f780f729f6102578/src/projects/detail/components/SkillsQuestion/SkillsQuestion.jsx). This component is shown as a part of the project creation form, see [URL](https://connect.topcoder-dev.com/new-project/t

[2020-04-15 15:28] maxceem commented on #3903
It was fixed via F2F https://www.topcoder.com/challenges/30122011/?type=develop with afterward task for refactoring.

The speed of one form action is around 50ms now.

Here is the pull request https://github.com/appirio-tech/connect-app/pull/3894.

A few more code improvements could be done as per comment https://github.com/appirio-tech/connect-app/pull/3895#pullrequestreview-393844954

[2020-04-15 16:10] vikasrohit commented on #3772
@maxceem I don't think we have any limit on file upload size limit. But it might make sense to put some kind of file upload size limit e.g. 10 MB might be good for profile pic. We can pick this value from configuration to enable easy change in future.
But I think the profile pic is uploaded via member api which we don't control at present. So, I guess we have to move it to backlog for now.

[2020-04-15 16:30] maxceem opened #3904 "Test issue"
### Expected behavior
Describe.

### Actual behavior
Describe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account used:

[2020-04-15 16:31] maxceem commented on #3904
@bug-bash-helper assign

[2020-04-15 16:31] maxceem commented on #3904
@bug-bash-helper assign

[2020-04-15 16:31] #3904 closed

[2020-04-15 16:51] maxceem commented on #3772
We can validate the size of the picture client-side if you like https://stackoverflow.com/questions/27309921/how-to-validate-the-image-size-before-uploading.

[2020-04-15 16:58] drasticdpk commented on #3773
@maxceem I think you have listed all button which is not hovering properly. I strongly recommend for dev team to reuse global styles so we will not miss the standard  as mentioned above.

[2020-04-15 17:10] iversonLv commented on #3770
@bug-bash-helper assign

[2020-04-15 17:15] sumitdaga commented on #3825
@bug-bash-helper assign

[2020-04-15 17:20] narekcat commented on #3816
@bug-bash-helper assign

[2020-04-15 17:21] Giri-Suman commented on #3832
@bug-bash-helper

[2020-04-15 17:21] Giri-Suman commented on #3832
@bug-bash-helper assign

[2020-04-15 17:39] Vips19 commented on #3773
@bug-bash-helper assign

[2020-04-15 18:03] abdullatku commented on #3882
@bug-bash-helper assign

[2020-04-15 18:04] iversonLv commented on #3770
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3906 is ready for review

[2020-04-15 18:04] iversonLv commented on #3775
@bug-bash-helper assign

[2020-04-15 18:15] iversonLv commented on #3775
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3907 is ready for review

[2020-04-15 18:17] iversonLv commented on #3774
@bug-bash-helper assign

[2020-04-15 18:41] Giri-Suman commented on #3832
@bug-bash-helper #3908  is ready for review

[2020-04-15 18:42] Giri-Suman commented on #3832
@bug-bash-helper <#3908> is ready for review

[2020-04-15 18:43] sjbr commented on #3576
@bug-bash-helper assign

[2020-04-15 18:48] PrakashDurlabhji commented on #3868
@bug-bash-helper assign it to me

[2020-04-15 19:07] Giri-Suman commented on #3424
@bug-bash-helper assign

[2020-04-15 19:07] sumitdaga commented on #3825
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3909 is ready for review

[2020-04-15 19:08] sumitdaga commented on #3468
@bug-bash-helper assign

[2020-04-15 19:58] sumitdaga commented on #3468
@maxceem why not send `invites` and `members` data as response of `PATCH invites` api ?
that way there will be no need to call the next two apis ?

[2020-04-15 20:00] iversonLv commented on #3774
@bug-bash-helper unassign

[2020-04-15 20:04] maxceem commented on #3468
@sumitdaga the reason for this that this would be too custom logic on the server side, while we are trying to keep API general and not tailored specially for Connect App. In particular our API follow REST principles and returning member in invite endpoint doesn't fit well these principles.

So that's why we have to do find some way client side.

Note, that we have to send only one additional reque

[2020-04-15 20:07] ijxsid commented on #3774
@bug-bash-helper assign

[2020-04-15 20:11] rashmi73 commented on #3774
@bug-bash-helper assign

[2020-04-15 20:11] rashmi73 commented on #3774
@maxceem I would like to work on it

[2020-04-15 20:32] Vips19 commented on #3773
@bug-bash-helper #3910 is ready for review

[2020-04-15 20:48] simranb86 commented on #3774
@bug-bash-helper assign

[2020-04-15 20:49] ijxsid commented on #3774
@bug-bash-helper unassign

[2020-04-15 20:50] simranb86 commented on #3774
@bug-bash-helper assign

[2020-04-15 20:50] simranb86 commented on #3774
@maxceem FYI ☝️

[2020-04-15 20:52] rashmi73 commented on #3774
@maxceem I commented first after ijxsid unassigned himself, so kindly assign this to me. you can verify above i commented

[2020-04-15 20:55] abdullatku commented on #3882
@bug-bash-helper #3911 is ready for review

[2020-04-15 20:57] rashmi73 commented on #3774
@maxceem here is screenshot for verification
and I have completed this issue already

<img width="922" alt="connect1" src="https://user-images.githubusercontent.com/41687423/79387696-c0cb0880-7f89-11ea-9b53-8a47e451709c.PNG">

[2020-04-15 21:01] simranb86 commented on #3774
LOL - It may be none of us, Bug Bash you need to track when ticket becomes Open for Pickup I guess. So when you commented, it was not Open for pickup. So stay around and keep looking for that tag, else it goes to person who requests Bug bash bot - could be neither of us get it. Always play fair.

[2020-04-15 21:22] rashmi73 commented on #3774
@simranb86 I commented after ijxsid unassigned himself, it was not luckily, i saw he unassigned himself, just he did not comment "bug-bash-helper unassign" that is how bot works, and i understood that he forgot to follow the procedure and directly unassigned himself.

[2020-04-15 21:28] rashmi73 commented on #3774
@maxceem waitign for your comment

[2020-04-15 21:39] sumitdaga commented on #3468
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3912 is ready for review

[2020-04-15 23:32] sjbr commented on #3576
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3913 is ready for review

[2020-04-16 00:01] PrakashDurlabhji commented on #3868
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3914 is ready for review

[2020-04-16 04:31] coderhacker opened #3915 "Add A New Phase: Header Breaking in Firefox"
### Expected behavior
The header should be properly visible in all browsers.
### Actual behavior
The header is breaking for Add a New Phase.

### Steps to reproduce the problem
Step 1- go to URL https://connect.topcoder-dev.com.
Step 2- Login with user : topcoderconnect+CopilotManager/appirio123.
Step 2- And go to https://connect.topcoder-dev.com/projects/9095/ and click **Add New Phase** button.

[2020-04-16 05:18] abdullatku commented on #3816
since 12 hours is already past, can i take this

[2020-04-16 05:53] Giri-Suman commented on #3424
@bug-bash-helper unassign

[2020-04-16 05:54] Giri-Suman commented on #3424
@bug-bash-helper assign

[2020-04-16 06:37] maxceem commented on #3774
This issue is now open for pickup.

[2020-04-16 06:37] maxceem commented on #3774
@rashmi73 @simranb86 as per our Bug Bash rules to keep it fair for everyone, only issues which are marked as `Open for Pickup` could be picked up. At the moment we don't accept manual assigning by commenting.

[2020-04-16 06:38] maxceem commented on #3816
@narekcat as PR has not been raised for 12 hours, you are now unassigned from this issue.

This issue is now open for pickup.

[2020-04-16 06:39] maxceem commented on #3424
This issue is now open for pickup.

[2020-04-16 06:39] maxceem commented on #3915
@coderhacker this looks like a duplicate of https://github.com/appirio-tech/connect-app/issues/3915

[2020-04-16 06:43] abdullatku commented on #3816
@bug-bash-helper assign

[2020-04-16 06:47] romitgithub commented on #3424
PLease assign

[2020-04-16 06:48] romitgithub commented on #3424
@bug_bash_helper assign

[2020-04-16 06:48] simranb86 commented on #3774
@bug-bash-helper assign

[2020-04-16 06:48] romitgithub commented on #3424
@bug-bash-helper assign

[2020-04-16 06:59] maxceem commented on #3853
@vikasrohit agree. With the current design we can only go with option 1).

Maybe we can ask designers to come up with a good solution:
- I think we cannot use directly the same approach as in Asses Library, as there is no good place for it. If we add such a text and button, it feels like it would be too much:

    ![image](https://user-images.githubusercontent.com/146016/79424296-99476080-7fc8-11e

[2020-04-16 07:01] coderhacker commented on #3915
@maxceem could you please share another id for verifying. I am unable to find out. after verify I will close this issue.

[2020-04-16 07:01] maxceem commented on #3843
The same time it works good in a similar place on the Assets Library page https://connect.topcoder-dev.com/projects/8600/assets

![image](https://user-images.githubusercontent.com/146016/79424673-30acb380-7fc9-11ea-925c-7560d746247d.png)

We have to make sure, that while fixing this issue we don't break something else.

[2020-04-16 07:02] maxceem commented on #3843
This issue is now open for pickup.

[2020-04-16 07:04] maxceem commented on #3915
Ah, sorry @coderhacker. I've fixed the comment above, here is the issue https://github.com/appirio-tech/connect-app/issues/3576

[2020-04-16 07:08] Giri-Suman commented on #3843
@bug-bash-helper assign

[2020-04-16 07:10] coderhacker commented on #3915
@maxceem I have seen #3576, but observed that this is raised for only Chrome, could you please tag this issue #3915 for cross-browser fixing. Once #3576 will fix, I will verify and will close #3915.
Please suggest.

[2020-04-16 07:13] maxceem commented on #3842
In the tooltip we have to make sure, that:
- **email** or **username** is cut, so the `Invite` level is visible (currently it's not):

   invite by **username**:

   ![image](https://user-images.githubusercontent.com/146016/79425161-f4c61e00-7fc9-11ea-8d89-6c597f88084a.png)

   invite by **email**:

   ![image](https://user-images.githubusercontent.com/146016/79425752-d6aced80-7fca-11ea-9be9-5d7b9

[2020-04-16 07:17] maxceem commented on #3842
This issue is open for pickup.

[2020-04-16 07:18] nahidshahin commented on #3842
@bug-bash-helper assign

[2020-04-16 07:19] maxceem commented on #3915
sure, how to do it? I'm not sure what you mean.

[2020-04-16 07:21] maxceem commented on #3485
@vikasrohit when I get email invitation on DEV, I still get double encoding of the subject:

![image](https://user-images.githubusercontent.com/146016/79426575-00b2df80-7fcc-11ea-8b83-0dc88d1f6bbb.png)

Should this fix https://github.com/appirio-tech/connect-app/issues/3485#issuecomment-612965140 be applied in several places for different emails?

[2020-04-16 07:25] maxceem commented on #3841
This issue is open for pickup.

[2020-04-16 07:25] vikasrohit commented on #3485
@maxceem I didn't updated the subject in dev template, just did that. Let me know if it fixes.

[2020-04-16 07:26] coderhacker commented on #3915
@maxceem: I would suggest leave this issue #3915 in open status. Once #3576 will fix. I will verify all browsers for #3576 and will close #3915 accordingly. I hope this fine for you.

[2020-04-16 07:26] maxceem commented on #3485
Ah, yes, fixed now:

![image](https://user-images.githubusercontent.com/146016/79427097-c7c73a80-7fcc-11ea-9568-1eca3b6a1a7e.png)

Only one extra encoding left.

[2020-04-16 07:28] maxceem commented on #3915
Yep, sounds good!

[2020-04-16 07:32] maxceem commented on #3835
Sum up:
- the same should be fixed when editing links

   ![image](https://user-images.githubusercontent.com/146016/79427546-8a16e180-7fcd-11ea-94af-81060c5c1757.png)

- good project for demo https://connect.topcoder-dev.com/projects/8600/assets

[2020-04-16 07:32] maxceem commented on #3835
This issue is open for pickup.

[2020-04-16 07:37] Vips19 commented on #3835
@bug-bash-helper assign

[2020-04-16 07:40] sumitdaga commented on #3841
@bug-bash-helper assign

[2020-04-16 07:42] maxceem commented on #3829
This is an interesting catch. It looks like an issue in Project Service.
When we invite user with handle `b`, Project Service found user with handle `B` (uppercase) and created invite for it, but also returned the error that cannot invite user with handle `b`(lowercase).

@vikasrohit are user handles at Topocder case-sensitive or case-insensitive? In other words, should we invite a user with handl

[2020-04-16 07:58] maxceem commented on #3858
Sum up:
- Only users WHO created link can edit/delete them. So we only have to show `...` menu if the current user created such a link, we already do this for files.
- Additionally to the user WHO created file or link, administrators can edit files and links. So please, fix it for both files and links, so administrators also can see the menu to edit/delete files and link.
   - add a new permission

[2020-04-16 07:59] Vips19 commented on #3835
@bug-bash-helper #3916  is ready for review

[2020-04-16 07:59] simranb86 commented on #3774
@maxceem I see a field isCustomer but nothing to different copilot and manager, are they like PowerUsers ?

[2020-04-16 07:59] maxceem commented on #3858
This issue is open for pickup.

[2020-04-16 08:02] maxceem commented on #3774
@simranb86 please, don't use `isCustomer` and powerUsers variables anymore. Instead:
- add a new permission `SEE_MY_PROJECTS_FILTER` as per https://github.com/appirio-tech/connect-app/blob/dev/docs/permissions-guide/permissions-guide.md
- and after use it to show or no show `My Projects` filter

So this permission rules would let to see `My Project` filter only to the users who have one of the nex

[2020-04-16 08:09] rashmi73 commented on #3858
@bug-bash-helper assign

[2020-04-16 08:13] romitgithub commented on #3424
@maxceem how to edit this table?

[2020-04-16 08:26] maxceem commented on #3424
@romitgithub I've added the table to your comment above.

[2020-04-16 08:29] vikasrohit commented on #3772
Lets leave it for now and keep it in backlog.

[2020-04-16 08:33] vikasrohit commented on #3853
@maxceem we do have some designs changes for project listing page coming soon but that might be couple of release away. So, for now I guess, we can go with clearing the text in filter column when user switches the status filter. One thing I want to know is what happens right now when user comes to the original status filter where the column filter was applied, does it retain the data filtered ther

[2020-04-16 08:43] simranb86 commented on #3774
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3917 is ready for review

[2020-04-16 08:43] simranb86 commented on #3774
done.

[2020-04-16 08:50] maxceem commented on #3853
No, it doesn't.

[2020-04-16 08:51] vikasrohit commented on #3829
@maxceem handles are case insensitive. `vikasrohit` or `VIKASrohit` should be same. It might not allow login using a variation of the casing in handle, but we should treat the handle case insenstive.

[2020-04-16 08:52] maxceem commented on #3853
Sum up:
- when we choose another tab:

   ![image](https://user-images.githubusercontent.com/146016/79435637-95bbd580-7fd8-11ea-9f33-ab8c1be85d23.png)

   we should clear all filters we have in the table columns, as we don't respect them anyway:

   ![image](https://user-images.githubusercontent.com/146016/79435728-af5d1d00-7fd8-11ea-8072-1cec95ac4c1f.png)

[2020-04-16 08:53] maxceem commented on #3853
This issue is open for pickup.

[2020-04-16 08:57] simranb86 commented on #3853
@bug-bash-helper assign

[2020-04-16 08:58] nahidshahin commented on #3842
@bug-bash-helper #3918 is ready for review

[2020-04-16 09:03] maxceem commented on #3829
@codejamtc I can reproduce the issue when inviting user `b`. But I cannot reproduce the issue when inviting user `a`. I can successfully invite user `a`. See demo video https://monosnap.com/file/holPWoZqRlG9i9pPTVVOTTtJXmj9Rz.

Do you have any idea what steps should I make to reproduce it?

[2020-04-16 09:04] sumitdaga commented on #3841
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3919 is ready for review

[2020-04-16 09:11] maxceem commented on #3884
Sum up:
- I also can reproduce this issue in Internet Explorer 11 on Windows 10:

   ![image](https://user-images.githubusercontent.com/146016/79437537-f9df9900-7fda-11ea-930c-e46f6f566580.png)

- This issue should be fixed for all browsers, in particular for Firefox and IE 11

- additionally to this, we have to fix the tooltip which is shown when hover the REF code:

   ![image](https://user-imag

[2020-04-16 09:12] maxceem commented on #3884
This issue is open for pickup.

[2020-04-16 09:14] sumitdaga commented on #3884
@bug-bash-helper assign

[2020-04-16 09:14] Vips19 commented on #3884
@bug-bash-helper assign

[2020-04-16 09:14] Vips19 commented on #3884
@bug-bash-helper assign

[2020-04-16 09:17] maxceem commented on #3891
Sum up:
- I can reproduce the same issue on macOS in Chrome and Firefox, probably other browsers too. We have to fix it in all modern browsers: Firstfox, Chrome, Safari, Edge, Opera and Internet Explorer 11.
- the interesting thing that I cannot reproduce it in another project like https://connect.topcoder-dev.com/projects/9093/scope, but can reproduce in the project mentioned in this issue https:

[2020-04-16 09:18] maxceem commented on #3891
This issue is open for pickup.

[2020-04-16 09:18] Vips19 commented on #3891
@bug-bash-helper assign

[2020-04-16 09:32] sumitdaga commented on #3884
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3920 is ready for review

[2020-04-16 09:34] sumitdaga commented on #3884
@maxceem  i could see another related issue (not browser specific)
the tooltip is also not fully visible if its long ...its because a fixed with of 200px is given to the tooltip inner content ...probably it is fine since a ref code will not practically not be any longer than that

![Selection_424](https://user-images.githubusercontent.com/7769148/79440236-6070b100-7ff3-11ea-8aa0-2d2b76cbb163.jpg)

[2020-04-16 09:37] maxceem commented on #3884
@sumitdaga most likely no. But we want to fix it, so just incase the REF code inside tooltip is longer than that, it should be wrapped to the next line.

As fixing this is a part of this issue, I've changed the status of the issue to `Feedback` as I guess this part is not fixed.

[2020-04-16 09:41] maxceem commented on #3901
@coderhacker it looks like a duplicate of https://github.com/appirio-tech/connect-app/issues/3884

[2020-04-16 09:44] sumitdaga commented on #3884
@maxceem  sure, i have pushed a fix!

[2020-04-16 09:47] coderhacker commented on #3901
Closing as per above comments

[2020-04-16 09:47] #3901 closed

[2020-04-16 09:47] maxceem commented on #3884
@sumitdaga just comment again
[code]

[2020-04-16 09:50] sumitdaga commented on #3884
@bug-bash-helper #3920 is ready for review

[2020-04-16 09:50] maxceem commented on #3872
This issue would be fixed as a part of https://github.com/appirio-tech/connect-app/issues/3872

[2020-04-16 11:38] lakshmiathreya commented on #3862
@vikasrohit can we move this Issue to 2.8 milestone?

[2020-04-16 11:44] lakshmiathreya commented on #3862
cc @drasticdpk

[2020-04-16 12:04] codejamtc commented on #3829
@maxceem I can't reproduce it either but I will investigate more If I find something I will post here

[2020-04-16 13:58] Vips19 commented on #3891
@bug-bash-helper #3922  is ready for review

[2020-04-16 15:13] abdullatku commented on #3816
@bug-bash-helper #3923 is ready for review

[2020-04-16 16:45] romitgithub commented on #3424
@bug-bash-helper https://github.com/appirio-tech/connect-app/issues/3424 is ready for review

[2020-04-16 18:18] Giri-Suman commented on #3843
@bug-bash-helper #3925 is ready for review

[2020-04-16 18:59] simranb86 commented on #3853
@bug-bash-helper taking some time to understand the flow of code, give me like 5-6 hrs more to create PR.

[2020-04-16 22:52] rashmi73 commented on #3858
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3926 is ready for review

[2020-04-16 23:32] abdullatku commented on #3853
@maxceem can I take this?

[2020-04-17 00:29] simranb86 commented on #3853
@abdullatku still working on it, I will open in next 4 hrs if not done.

[2020-04-17 05:45] nahidshahin commented on #3853
@maxceem I it's more than 21hrs, can you open it for pickup please?

[2020-04-17 06:06] simranb86 commented on #3853
@bug-bash-helper need an hour more

[2020-04-17 06:20] simranb86 commented on #3853
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3927 is ready for review

[2020-04-17 07:07] vikasrohit commented on #3862
We can, but didn't understand the rationale behind that. If you are trying to avoid the confusion of release vs milestone mismatch, only solution I can see is to have dummy or empty releases when certain issue is fixed in another repo and we don't have to make a release of the reporting repo.

[2020-04-17 08:20] simranb86 commented on #3853
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3928 is ready for review

[2020-04-17 12:14] maxceem opened #3929 "Support invite unregistered users by email case-insensetive"
When we invite unregistered user by email like `test@topcoder.com`, and after user is registering with email using uppercase, like `TEST@TOPCODER.COM`.

If user tries to open the project he was invited to, he would get error 404:

![image](https://user-images.githubusercontent.com/146016/79568105-f244f080-80bd-11ea-8f19-33d0a89e8c0a.png)

Expected behavior, is use can see the invitation dialog:

!

[2020-04-17 12:45] maxceem commented on #3929
This issue is fixed by:
- commit in Project Service https://github.com/topcoder-platform/tc-project-service/commit/f0fe7bf61a386e84ba106097cbc27ba0872ab7bb
- and in Connect App commit 6a6bf0107da9b6adbf49b8bce9aad9d894ac4c5e

[2020-04-17 13:24] maxceem commented on #3929
Test guidelines:
- to test the fix properly we have to test that user whos just registered with uppercase email can click `Cancel` and `Join project` buttons successfully. So for testing 2 new users would have to be registered with uppercase email.

[2020-04-18 01:41] codejamtc commented on #3929
@maxceem https://monosnap.com/file/836sIsFAIPgFh7OZXAaaYQk5bNQpL3

[2020-04-18 05:21] maxceem opened #3932 "Customer cannot remove another customer from the team"
When I use a customer use who is not `isPrimary` I still can see buttons to remove other Customer Team members:

![image](https://user-images.githubusercontent.com/146016/79628774-b7d66480-814c-11ea-9b78-674a3075f96f.png)`

But if I try to remove any of them, I would get an error from Project Service:

![image](https://user-images.githubusercontent.com/146016/79628789-db99aa80-814c-11ea-9132-7ae82

[2020-04-18 05:42] maxceem commented on #3773
@Vips19 there are some issues with the solution, please, have a look at the review https://github.com/appirio-tech/connect-app/pull/3910#pullrequestreview-395884217

[2020-04-18 08:46] maxceem commented on #3468
@sumitdaga here is the review, please have a look https://github.com/appirio-tech/connect-app/pull/3912#pullrequestreview-395895322

[2020-04-18 09:09] maxceem commented on #3868
@PrakashDurlabhji here is the review, please, have a look https://github.com/appirio-tech/connect-app/pull/3914#pullrequestreview-395896879

[2020-04-18 09:20] maxceem commented on #3774
@simranb86 here is the review, please have a look https://github.com/appirio-tech/connect-app/pull/3917#pullrequestreview-395897677

[2020-04-18 10:11] sumitdaga commented on #3468
@bug-bash-helper #3912 is ready for review

[2020-04-18 10:50] Vips19 commented on #3773
@bug-bash-helper #3910 is ready for review

[2020-04-18 12:04] maxceem commented on #3468
@sumitdaga reviewed https://github.com/appirio-tech/connect-app/pull/3912#pullrequestreview-395907898

[2020-04-18 12:29] maxceem commented on #3773
@Vips19 reviewed https://github.com/appirio-tech/connect-app/pull/3910#pullrequestreview-395908596.

[2020-04-18 13:05] sumitdaga commented on #3468
@bug-bash-helper #3912 is ready for review

[2020-04-18 13:34] Vips19 commented on #3773
@maxceem can i raise a new branch with the necessary changes only

[2020-04-18 13:36] maxceem commented on #3773
@Vips19 yes, can.

[2020-04-18 13:48] maxceem commented on #3468
@sumitdaga reviewed https://github.com/appirio-tech/connect-app/pull/3912#pullrequestreview-395915406

[2020-04-18 13:58] maxceem commented on #3841
@sumitdaga review is done https://github.com/appirio-tech/connect-app/pull/3919#pullrequestreview-395916075

[2020-04-18 14:10] maxceem commented on #3884
@sumitdaga review is ready https://github.com/appirio-tech/connect-app/pull/3920#pullrequestreview-395917046

[2020-04-18 14:26] maxceem commented on #3891
@Vips19 the review is ready, please, have a look https://github.com/appirio-tech/connect-app/pull/3922#pullrequestreview-395918387.

[2020-04-18 14:57] sumitdaga commented on #3468
@bug-bash-helper #3912 is ready for review

[2020-04-18 15:05] Vips19 commented on #3773
@bug-bash-helper #3933  is ready for review

[2020-04-18 15:18] PrakashDurlabhji commented on #3868
@maxceem found a solution which is simpler

[2020-04-18 15:54] PrakashDurlabhji commented on #3868
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3934 is ready for review

[2020-04-18 16:04] sumitdaga commented on #3841
@bug-bash-helper #3919 is ready for review

[2020-04-18 17:04] sumitdaga commented on #3884
@bug-bash-helper #3920 is ready for review

[2020-04-18 17:04] Vips19 commented on #3891
@bug-bash-helper #3922 is ready for review

[2020-04-18 17:06] sumitdaga commented on #3884
@maxceem
if possible please add some $$s to this issue ...after a lot of trial, i have been able to find a solution that works in all browsers (hopefully) ...IE 11 is especially notorious!

[2020-04-18 18:48] simranb86 commented on #3774
@bug-bash-helper #3917 is ready for review

[2020-04-19 06:34] maxceem commented on #3816
@abdullatku the review is ready, please have look https://github.com/appirio-tech/connect-app/pull/3923#pullrequestreview-395982360

[2020-04-19 06:51] maxceem commented on #3424
@romitgithub the review is ready, please have a look https://github.com/appirio-tech/connect-app/pull/3924#pullrequestreview-395983496

[2020-04-19 07:22] romitgithub commented on #3424
@maxceem Done with changes and pushed the code. Please check.

Also, wanted to ask if the prize money could be increased for this because this one involved a manual task of updating the table as well.

[2020-04-19 07:54] maxceem commented on #3843
@Giri-Suman the review is ready, please have a look https://github.com/appirio-tech/connect-app/pull/3925#pullrequestreview-395988272

[2020-04-19 08:04] maxceem commented on #3858
@rashmi73 the review is ready, please have a look https://github.com/appirio-tech/connect-app/pull/3926#pullrequestreview-395988992

[2020-04-19 08:11] maxceem commented on #3853
@simranb86 the review is ready, please have a look https://github.com/appirio-tech/connect-app/pull/3928#pullrequestreview-395989584

[2020-04-19 08:26] maxceem commented on #3773
@Vips19 the review is ready, please have a look https://github.com/appirio-tech/connect-app/pull/3933#pullrequestreview-395990222

[2020-04-19 08:41] maxceem commented on #3868
@PrakashDurlabhji the review is ready, please have a look https://github.com/appirio-tech/connect-app/pull/3934#pullrequestreview-395991805

[2020-04-19 09:11] Vips19 commented on #3773
@bug-bash-helper #3933 is ready for review

[2020-04-19 09:18] maxceem commented on #3468
### Test guidelines

To fully verify this fix and possible regressions issues we have to test 4 cases:
1. Request invite for `pshah_copilot` to Toprocer Team by `pshah_manager` and **decline** request by `pshahcopmanag`.
2. Request invite for `pshah_copilot` to Toprocer Team by `pshah_manager` and **accept** request by `pshahcopmanag`.
3. Invite `pshah_copilot` to Customer Team, then log in by `ps

[2020-04-19 09:29] maxceem commented on #3841
### Test guidelines

We have to test 2 cases:
1. Edit message adding new link as per this issue https://github.com/appirio-tech/connect-app/issues/3841#issue-592902684
2. Add a new message to the topic with a link, see https://github.com/appirio-tech/connect-app/pull/3919#pullrequestreview-395916075

[2020-04-19 09:34] maxceem commented on #3841
Thanks for finding and fixing a new case @sumitdaga https://github.com/appirio-tech/connect-app/pull/3919#issuecomment-615895428.

The prize for the issue is increased to $45.

[2020-04-19 09:53] maxceem commented on #3884
@sumitdaga the new review is ready https://github.com/appirio-tech/connect-app/pull/3920#pullrequestreview-395997165

Sorry, but for this issue, I think I cannot justify the prize increasing. I understand that fixing cross-browser issues might be tricky. Though it was explicitly mentioned in the issue that it has to be fixed in IE11. The intention here is that the one who is familiar with the cros

[2020-04-19 10:38] romitgithub commented on #3424
@bug-bash-helper This issue is ready for review

[2020-04-19 10:49] maxceem commented on #3424
Sorry, I think I cannot increase the prize money in this case as the task to manually update the table with permissions was included from the beginning and the prize was set including the work for filling the table.

[2020-04-19 11:11] sumitdaga commented on #3884
@bug-bash-helper #3920 is ready for review

[2020-04-19 12:01] Giri-Suman commented on #3843
@bug-bash-helper #3925 is ready for review

[2020-04-19 12:07] rashmi73 commented on #3858
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3926 is ready for review

[2020-04-19 15:01] abdullatku commented on #3853
@maxceem can I take this challenge?

[2020-04-19 15:51] maxceem commented on #3853
@abdullatku no, this issue is not open for pick up. The current participant can apply fixes.

[2020-04-19 19:53] simranb86 commented on #3853
@maxceem fixing this now, was sleeping when you provided feedback.

[2020-04-19 20:32] simranb86 commented on #3853
@bug-bash-helper #3928 is ready for review

[2020-04-20 06:02] Giri-Suman commented on #3868
@maxceem can i take it ?

[2020-04-20 06:03] maxceem commented on #3868
@Giri-Suman no, this issue is not open for pickup. The current participant sill may fix it.

[2020-04-20 06:09] maxceem commented on #3853
@simranb86 issue is not fixed, please have look at review https://github.com/appirio-tech/connect-app/pull/3928#pullrequestreview-396161935

[2020-04-20 06:12] Giri-Suman commented on #3868
@maxceem, but its more than 22 hrs.

[2020-04-20 06:12] simranb86 commented on #3853
@maxceem checking, I was testing with project name filtering mostly - let me check with all fields

[2020-04-20 06:15] maxceem commented on #3868
Yeah, it's preferably to provide a fix asap. But as review could be done at any moment, it could be the night at the participant timezone, so we give more time for fixing issues found during the review.

[2020-04-20 06:18] Giri-Suman commented on #3868
@maxceem yea got it.

[2020-04-20 06:29] maxceem commented on #3860
@codejamtc it's fixed on DEV now.

@vikasrohit I've noticed that URL for the **Accessibility Testing** Project Template also has the same typo:
![image](https://user-images.githubusercontent.com/146016/79720480-50a1e700-82e9-11ea-8b7d-c85851fc968b.png)

Would you like to get it fixed it on PROD and DEV?

[2020-04-20 06:35] maxceem commented on #3831
@vikasrohit do you think we can remove these countries from the list? https://github.com/appirio-tech/connect-app/issues/3831#issuecomment-610390732

[2020-04-20 06:42] maxceem opened #3937 "Support multiple lines when entering invited users"
### Expected behavior
The input field height should grow automatically so we can see all the entered user handles.

### Actual behavior
The height is fixed and user handles and emails are cut off.

### Steps to reproduce the problem
- Open any project where you can invite users, for example, project https://connect.topcoder-dev.com/projects/9074 via `pshah_manager`
- Open dialog to manage **Custom

[2020-04-20 06:46] maxceem commented on #3937
Fix the same issue when we are editing users who can see files:

![image](https://user-images.githubusercontent.com/146016/79721739-89db5680-82eb-11ea-8e11-5f81bc5caa62.png)

When we upload files:

![image](https://user-images.githubusercontent.com/146016/79721846-b68f6e00-82eb-11ea-8abf-95055a3132c5.png)

[2020-04-20 06:48] maxceem commented on #3937
This component already supports this feature, see how the `tags` are implemented for files and links:

![image](https://user-images.githubusercontent.com/146016/79721992-f7878280-82eb-11ea-9a97-6f3f9a39a51e.png)

[2020-04-20 08:19] vikasrohit commented on #3860
Yep, I saw that but I think changing it would require updating links to this form in marketing website which I don't want to do right now. However, I think I can add alias with correct spelling which means it would be accessible with wrong and correct both.

[2020-04-20 09:38] maxceem commented on #3868
@PrakashDurlabhji will you be able to complete this issue? If you couldn't make it for 24 hours, I would have to unassign you.

[2020-04-20 09:41] PrakashDurlabhji commented on #3868
@maxceem sorry i forgot its in my pending list, I thought its completed. just 20mins max

[2020-04-20 09:47] simranb86 commented on #3853
@bug-bash-helper unassign me - couldn't trace why it would fail for that sort filter as discussed over slack so opening this.

[2020-04-20 09:52] maxceem commented on #3853
Here is the discussion, for everyone:

**simranb86**:

https://api.topcoder-dev.com/v5/projects/?fields=id,name,description,members,invites,status,type,actualPrice,estimatedPrice,createdAt,updatedAt,createdBy,updatedBy,details,lastActivityAt,lastActivityUserId,version,templateId&sort=updatedAt%2Bdesc&perPage=20&page=1&status=completed
Passing URL
https://api.topcoder-dev.com/v5/projects/?fields=id

[2020-04-20 09:52] maxceem commented on #3853
This issue is now open for pickup.

[2020-04-20 10:09] Vips19 commented on #3853
@bug-bash-helper assign

[2020-04-20 10:12] Vips19 commented on #3853
@bug-bash-helper unassign

[2020-04-20 10:15] nahidshahin commented on #3853
@bug-bash-helper assign

[2020-04-20 10:39] PrakashDurlabhji commented on #3868
@maxceem https://github.com/appirio-tech/connect-app/issues/3868 is ready for review

[2020-04-20 10:40] PrakashDurlabhji commented on #3868
@bug-bash-helper #3868 is ready for review

[2020-04-20 11:45] maxceem commented on #3868
@PrakashDurlabhji one of the issues still not fixed https://github.com/appirio-tech/connect-app/pull/3934#pullrequestreview-396377516

[2020-04-20 13:06] codejamtc commented on #3891
https://monosnap.com/file/fOonx3sqx0fwaYBYzoOuXTXoP0T6zG

[2020-04-20 13:11] codejamtc commented on #3884
IE11
![image](https://user-images.githubusercontent.com/42398485/79755285-8097bd00-82de-11ea-8814-7d178905ee9b.png)

FF
![image](https://user-images.githubusercontent.com/42398485/79755319-8d1c1580-82de-11ea-9c6e-7efc1ec1e54f.png)

[2020-04-20 13:22] codejamtc commented on #3882
https://monosnap.com/file/Rd7I3hxAFAg9wCsSG0M3LmVyubcjCw

[2020-04-20 13:23] codejamtc commented on #3872
IE11
![image](https://user-images.githubusercontent.com/42398485/79755285-8097bd00-82de-11ea-8814-7d178905ee9b.png)

FF
![image](https://user-images.githubusercontent.com/42398485/79755319-8d1c1580-82de-11ea-9c6e-7efc1ec1e54f.png)

[2020-04-20 13:48] vikasrohit commented on #3831
@maxceem Lets hold on this. Let me ask product manager.

[2020-04-20 14:02] codejamtc commented on #3860
Metadata is fixed on production. Email typo would be reflected on production after 2.9 release. > Not fixed in Dev or Prod: ❌

**Dev:**
![image](https://user-images.githubusercontent.com/42398485/79759713-a88a1f00-82e4-11ea-8b8a-00e7838a7f26.png)

**Prod:**
![image](https://user-images.githubusercontent.com/42398485/79760354-8fce3900-82e5-11ea-88a9-a2085b38e2cd.png)

Dev Spelling issues:  🆗 Fixed

[2020-04-20 14:17] PrakashDurlabhji commented on #3868
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3934 is ready for review

[2020-04-20 14:39] vikasrohit commented on #3932
Just get rid of `isPrimary` check we have from any where. We don't have this notion any more. All customers are equal as of now.

[2020-04-20 14:50] maxceem opened #3939 "Avoid using `owner` role anywhere, i. e. don't use `isPrimary`"
As a follow-up from the Vikas comment https://github.com/appirio-tech/connect-app/issues/3932#issuecomment-616596853:

We should review all the repositories:
- https://github.com/appirio-tech/connect-app
- https://github.com/topcoder-platform/tc-project-service
- https://github.com/topcoder-platform/tc-notifications

Find all the places where we are still using this special `owner` role and update

[2020-04-20 14:51] maxceem commented on #3932
Got it. Then I think we have to remove it everywhere, so I've logged a separate issue for a general task https://github.com/appirio-tech/connect-app/issues/3939

[2020-04-20 14:55] codejamtc commented on #3858
Verified: 🆗 Only the file/link owner can edit/remove the asset + Connect Admin

**Edit:** https://monosnap.com/file/UDGyecp2d4VGEwsrwV0w8g8z7csW97
**Remove:** https://monosnap.com/file/2m4uBSCuxlPMmsuvkxZph5piwog4b8

[2020-04-20 15:47] codejamtc commented on #3816
https://monosnap.com/file/IrW7b6UxyqZ4ufz7pBoCLkNYrjhONU

[2020-04-20 15:49] codejamtc commented on #3851
https://monosnap.com/file/IrW7b6UxyqZ4ufz7pBoCLkNYrjhONU

[2020-04-20 15:56] codejamtc commented on #3843
https://monosnap.com/file/1gQoSGoOEs2eWpRwV3mvum307lGZWz

[2020-04-20 16:05] codejamtc commented on #3842
Fixed 🆗 https://monosnap.com/file/bqlWIXPlKGDzn24ogu2veH4GNxGN26

![image](https://user-images.githubusercontent.com/42398485/79773260-d5dfc880-82f6-11ea-9c84-3d3fca5ee327.png)

![image](https://user-images.githubusercontent.com/42398485/79773285-e132f400-82f6-11ea-9971-cd866c026b77.png)

[2020-04-20 16:20] codejamtc commented on #3841
https://monosnap.com/file/OrIP1NuePfrwJhKCJBrlnXkMdsQN0s

[2020-04-20 16:28] codejamtc commented on #3835
Fixed: 🆗 https://monosnap.com/file/PFDb17gxJI5EJzOKGO4dDvwJ3Bw6El

[2020-04-20 16:31] codejamtc commented on #3832
@maxceem Not fixed: ❌ https://monosnap.com/file/2ZAnyaPijTIEIyDhKBuHSzEFSUgxWh

![image](https://user-images.githubusercontent.com/42398485/79775895-84d1d380-82fa-11ea-9822-b106ff20e900.png)

[2020-04-20 16:46] maxceem commented on #3832
@codejamtc I've re-applied the fix. Could you please, check again.

[2020-04-20 16:52] codejamtc commented on #3825
@maxceem I can see an error when `Accepting` an invitation ❌
https://monosnap.com/file/dQTLWGACoobAqFk0QgkGOKnB2ZhATs

- The manager sends an invitation to `TopConnCustomer` and accepted by the `TopConnCustomer`. I can see another popup after pressing the join button for the first time, and then we press the join button again 404 error displayed

[code]

[2020-04-20 16:54] codejamtc commented on #3832
@maxceem Yes, fixed 🆗

![image](https://user-images.githubusercontent.com/42398485/79777964-a2ed0300-82fd-11ea-9356-2991dffd1bba.png)

[2020-04-20 17:03] codejamtc commented on #3775
Fixed in Desktop: 🆗 https://monosnap.com/file/hnHKgwhtRNCYGXoXsKyYq8bo6ZA146
Fixed in Mobile: 🆗https://monosnap.com/file/l2gDkNGs1s1D6z9DNPK9RFhEfo3oic

[2020-04-20 19:22] nahidshahin commented on #3853
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3940 is ready for review

[2020-04-20 19:48] maxceem commented on #3853
@nahidshahin review is ready, please, have a look https://github.com/appirio-tech/connect-app/pull/3940#pullrequestreview-396756930

[2020-04-20 23:44] codejamtc opened #3941 "Two error messages displayed for the same validation"
### Expected behavior
- Should display only one. the one displayed inside the popup is good
- But need to remove the leading ':' from the messages (eg: User with such email is already invited to this project.)

### Actual behavior
Two error messages displayed for the same validation

- : User with such email is already invited to this project.
- YOU ARE UNABLE TO INVITE MEMBERS SUCCESSFULLY.

###

[2020-04-20 23:48] codejamtc opened #3942 "Line displayed below the title if there are no active invitations"
### Expected behavior
Should hide the line if there are no invitations

### Actual behavior
Line displayed below the title if there are no active invitations

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9149}
- Go to Client Team > Manage Invitations (There should be no any current invitations)
- Check the popup

[2020-04-20 23:56] codejamtc opened #3943 "No meaningful validation message displayed for invalid email"
### Expected behavior
Should display a meaningful validation message for invalid email

### Actual behavior
No meaningful validation message displayed for invalid email

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9149}
- Go to Client Team > Manage Invitations
- Enter test@test.com"  > Send Invite and check the

[2020-04-21 00:01] codejamtc opened #3944 "A long list of invitees that are not relevant to the current operation, adds to the list"
### Expected behavior
Should not add unwanted invitees to the list

### Actual behavior
A long list of invitees that are not relevant to the current operation, adds to the list

### Steps to reproduce the problem

- Login as Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9149}
- Go to Client Team > Manage Invitations (There should be no any current invitations)

[2020-04-21 02:32] nahidshahin commented on #3853
@maxceem feedback are addressed , please check again. Thanks

[2020-04-21 05:24] coderhacker commented on #3833
@maxceem
QA testing against screen https://marvelapp.com/e0gjig7/screen/67320439:

**1.**  Back arrow missing
**2.** Header Background is not matched with the provided design.
**3.** Header text **Profile Information** is missing.
**4.** Paragraph text "You have the incomplete required profile information. Please complete your profile information before able to submit your project request." is mis

[2020-04-21 05:27] coderhacker commented on #3833
Query: we need access for below google sheet. https://docs.google.com/document/d/1MwaHn_66uz5e6_1zXBTIjd6DqywZBWKHBzZwijFZM6M/edit#heading=h.tc9z5mq8parq

[2020-04-21 05:38] maxceem commented on #3944
I think it has the same root as https://github.com/appirio-tech/connect-app/issues/3834.

[2020-04-21 05:38] maxceem commented on #3834
I think it has the same root as https://github.com/appirio-tech/connect-app/issues/3944

[2020-04-21 05:49] maxceem commented on #3833
@coderhacker we didn't have a task to update the Profile Information form. It should stay same as it is now.

Could you please, ask someone from QA team to share with you the google document with the task description.

[2020-04-21 07:07] coderhacker commented on #3773
QA Testing comment: All the above-reported issues are fixed now

Only found one place is not working. please find below details:
![3773_fail](https://user-images.githubusercontent.com/62358241/79835588-8ff53400-83cc-11ea-802e-8785a60ba8e7.gif)

[2020-04-21 07:14] coderhacker commented on #3770
QA Comment: This is fixed and working as expected. please see the below reference.

User details: taxt123412/Test@1234

![image](https://user-images.githubusercontent.com/62358241/79836246-88825a80-83cd-11ea-96ea-69c551e69600.png)

[2020-04-21 07:22] coderhacker commented on #3576
QA Comment: The issue has been fixed and working in all browsers in dev env.
https://connect.topcoder-dev.com/new-project/app_new_intake
User login: topcoderconnect+Customer/appirio123
topcoderconnect+AccountManager/appirio123
topcoderconnect+Copilot/appirio123
topcoderconnect+Manager/appirio123
topcoderconnect+CopilotManager/appirio123
topcoderconnect+bdr/appirio123
topcoderconnect+Customer/appir

[2020-04-21 07:38] maxceem commented on #3773
@coderhacker good catch. Could you please log a new issue for this case.

It wasn't included in this issue initially, and technically, we need to apply a different fix for this place.

[2020-04-21 07:47] coderhacker opened #3945 "Some of the buttons doesn’t get highlighted on mouse hovering. linked with #3773"
### Expected behavior
The button should get highlighted when the mouse gets hover on it. .

### Actual behavior
The button is not getting focused while hovering the mouse.

Note : Please implement this feature across all the buttons.

### Steps to reproduce the problem
1.	Login as Copilot user.
2.	Go to the dashboard.
3.	Go to Profile information .
4.	Hover the mouse over “Update a New Photo” butt

[2020-04-21 07:50] coderhacker commented on #3773
@maxceem I have created new issue https://github.com/appirio-tech/connect-app/issues/3945
and linked with this issue.
@lakshmiathreya @drasticdpk

[2020-04-21 07:53] drasticdpk commented on #3770
FYI @coderhacker , please don't share the user credential in Github issue. If required please list down the required steps and upload image/video for reference purpose. cc @lakshmiathreya

[2020-04-21 08:03] Vips19 commented on #3773
@maxceem #3945 can be fixed with a small fix

[2020-04-21 08:11] coderhacker commented on #3833
@maxceem: I have updated the above comments. There is some minor issue which needs to fix.

[2020-04-21 08:17] coderhacker commented on #3770
@drasticdpk : Sure, Updated my comments as per the above comments.

[2020-04-21 08:23] maxceem commented on #3853
@nahidshahin the new review is ready, please have a look https://github.com/appirio-tech/connect-app/pull/3940#pullrequestreview-397097484

[2020-04-21 08:35] maxceem commented on #3833
Thanks, @coderhacker.

We reuse our existing form design. So we keep labels on the left, not on the top as on the new design.

`Cancel` button was renamed to `Back` as we use the `Back` button on all other places. It was confirmed in the Google Document comments (unfortunately, comments are not included in the copy of the document I've shared with you, but there are not many comments).

`Sent My R

[2020-04-21 08:38] maxceem commented on #3773
@Vips19 thanks, we will handle it in the next milestone I think.

[2020-04-21 08:43] Vips19 commented on #3773
@maxceem ok sure

[2020-04-21 08:43] maxceem commented on #3825
@codejamtc great catch. I think it's a regression issue after fixing another issue. But it's not connected with this thicket. Could you please log it as a separate issue for `2.9` milestone.

[2020-04-21 08:55] vikasrohit commented on #3825
@maxceem is it the same error which I shared with you from production where customer saw error after accepting invite?

[2020-04-21 09:01] maxceem commented on #3825
@vikasrohit I think no. I guess this error appears as a regression after one of the fixed during Bug Bash as I couldn't reproduce it before, but I can reproduce it now.

[2020-04-21 09:07] vikasrohit commented on #3825
ok

[2020-04-21 09:08] drasticdpk opened #3946 "Request for Help File/Product Documentation"
Is there any plan to make help/ Product Documentation file for connect app ?

I felt that it will be very useful for user to know more about the application and it will also help them solve any problem that may arise while using the application.

As per my experience on connect app, due to lack up product knowledge, user prefer to communicate through other communication tool (eg. Slack) despite ha

[2020-04-21 09:18] vikasrohit commented on #3834
@maxceem do you think it is because of bad data in dev env? If not, I think we need to take this on priority as it might appear for some customer.

[2020-04-21 09:24] maxceem commented on #3834
@vikasrohit I moved it to the current milestone. Have to check what is the reason.

[2020-04-21 09:57] drasticdpk opened #3947 "Request for Document Viewer on ASSETS LIBRARY"
Can we add document viewer functionality on Assets Library Module ? Now user has to download the file to view/access it.
As a user most of the time I want to view/read the document and I will only download the file if there is anything need to change or share to someone. cc @lakshmiathreya

[2020-04-21 10:15] coderhacker commented on #3468
QA Comments: The issue has been verified on dev and working fine as above test guideline. please see the below reference.
[3468_dev_pass.zip](https://github.com/appirio-tech/connect-app/files/4509251/3468_dev_pass.zip)

[2020-04-21 12:39] lakshmiathreya commented on #3947
@acshields This is a usability issues. Pls review! Cc @vikasrohit

[2020-04-21 12:41] lakshmiathreya commented on #3946
@acshields - Usability Issue pls review. @vikasrohit

[2020-04-21 13:39] maxceem commented on #3833
14. is fixed now:

      ![image](https://user-images.githubusercontent.com/146016/79872424-706f0300-83ee-11ea-8e41-566da003a5a1.png)

     - note, that we are using our current standard link color and the size of the text is the same as we use on the other page https://connect.topcoder-dev.com/new-project (at the bottom).

@coderhacker could you please let me know if anything else has to be fixed

[2020-04-21 13:46] codejamtc opened #3948 "Error when Customer Accepting / Decline an invitation"
### Expected behavior
Should not display an error

### Actual behavior
Error when Customer Accepting / Decline an invitation

The manager sends an invitation to TopConnCustomer and accepted by the TopConnCustomer. I can see another popup after pressing the join button for the first time, and then we press the join button again 404 error displayed

### Steps to reproduce the problem

- Login as Man

[2020-04-21 13:47] codejamtc commented on #3825
@maxceem https://github.com/appirio-tech/connect-app/issues/3948

[2020-04-21 14:03] codejamtc commented on #3424
Fixed 🆗 https://monosnap.com/file/xgkT2GThrWhqDi888V74jUfQpCCsCi

[2020-04-21 16:50] maxceem commented on #3834
@codejamtc I cannot reproduce this issue anymore, though I can reproduce another one https://github.com/appirio-tech/connect-app/issues/3944.

Could you please let me know if you still can reproduce this issue?

[2020-04-21 16:59] codejamtc commented on #3834
@maxceem Yes, can't reproduce anymore
https://monosnap.com/file/4OUdoXgsknxzNQM0wswpGQmWowHlXr

[2020-04-21 17:02] codejamtc commented on #3834
@maxceem Can reproduce in `Prod` ❌

https://monosnap.com/file/n4tGywGUACWwHzzFtTY7eNo73ucyvo

[2020-04-21 17:03] maxceem commented on #3834
Can reproduce in PROD too:

![image](https://user-images.githubusercontent.com/146016/79892349-1f213c80-840b-11ea-82b8-c99fdcebb8f5.png)

Thank you!

[2020-04-22 03:44] nahidshahin commented on #3853
@bug-bash-helper unassign me

[2020-04-22 03:45] abdullatku commented on #3853
@bug-bash-helper assign

[2020-04-22 05:34] RishiRajSahu opened #3949 "Creating customer success message page project intake submission"
Currently we show this message for successful submission of an intake request

<img width="1044" alt="Screenshot 2020-04-22 at 11 01 36 AM" src="https://user-images.githubusercontent.com/11248478/79944283-c2646700-8488-11ea-8c64-82f7a2cbec85.png">

We would need to make this success message configurable via template i.e. we would be having custom message for each kind of intake request.

Further r

[2020-04-22 06:28] maxceem opened #3950 "Talent Picker Component"
Implement a new component for project creation form to choose talents:

![image](https://user-images.githubusercontent.com/146016/79947553-d012f000-847a-11ea-8d6e-ed9cfef963b5.png)

### Functionality

- The user needs to enter # People, Duration, and Skills for a minimum of one row for the question to be considered “answered.”
- The user does not need to complete all rows for the question to be co

[2020-04-22 06:36] lakshmiathreya commented on #3950
cc @drasticdpk

[2020-04-22 06:52] maxceem opened #3951 "Talent Picker Component - Issue: value is not updated in read-optimized mode"
### Expected behavior
The value should be updated in read-optimized mode when we change values inside the component.

### Actual behavior
The value is not updated.

### Steps to reproduce the problem
- Open this project creation form https://connect.topcoder-dev.com//new-project/talent-as-a-service-specialists
- Fill the fields of Talent Picker Component and click **Next**

   ![image](https://use

[2020-04-22 07:12] maxceem commented on #3950
This feature is ready of QA:
- Project Creation form with this component https://connect.topcoder-dev.com/new-project/talent-as-a-service-specialists
- Please, note existent issue https://github.com/appirio-tech/connect-app/issues/3951

[2020-04-22 08:08] maxceem commented on #3944
@codejamtc this is fixed now. If we try to invite such a user we would get an error:

![image](https://user-images.githubusercontent.com/146016/79956954-88e02b80-8489-11ea-9f25-d3de7edc195d.png)

- note, as this is incorrect email, we treat it as a user handle

[2020-04-22 08:10] maxceem commented on #3834
This issue is fixed, but as it can be only reproduced on PROD, we could test it only after the release.

[2020-04-22 10:59] vikasrohit commented on #3834
@maxceem though the solution looks good to me, it won't work on production because I found multiple users with that same email. So, I think your new filter would still keep them all. I think there are two steps needed to fix the situation:

1. Make only one user with that email active and make rest inactive/disabled.
2. In our api, lets ask for status field when looking up for emails and use that

[2020-04-22 11:03] maxceem commented on #3834
Oh, didn't expect that.

This sound good, will try it out.

[2020-04-22 11:04] vikasrohit commented on #3949
@maxceem I think it should be customizable via `metadata` that we store at project template level.

[2020-04-22 11:31] vikasrohit commented on #3947
I don't think we can build a rich document viewer for every type of documents. If the client machine has the relevant plugins and softwares, browser automatically renders the file e.g. in my case I can easily view the PDFs in my browser in separate tab when clicked on the PDF document in my project.
That is my view, but we can think of exploring some ready made document viewer if available, if thi

[2020-04-22 11:33] vikasrohit commented on #3948
@maxceem is this still happening?

[2020-04-22 11:35] maxceem commented on #3948
Yes, didn't cover it yet.

[2020-04-22 14:07] acshields commented on #3946
@drasticdpk - great call out! I actually have plans for FAQ sections inside of Connect and some of the content can cover the product itself.

[2020-04-22 14:08] acshields commented on #3947
@drasticdpk @vikasrohit - I think this is great feedback, but for now I am not going to prioritize exploring this feature. I think it's a great nice to have, but we have some heavier-hitting features that we need to accomplish first.

[2020-04-22 14:11] acshields commented on #3831
@maxceem @vikasrohit - thanks for the great research. we can move forward with removing these countries from the list.

[2020-04-22 14:24] maxceem commented on #3834
@vikasrohit for searching by email we are using Identity Service `https://api.topcoder-dev.com/v3/users?fields=handle,id,email&filter=email=test@test.com`.

Could you please point me on to the repository of this service, so I would check if we can filter by status, I cannot find it, not sure if I have access.

[2020-04-22 14:24] abdullatku commented on #3853
@bug-bash-helper #3952  is ready for review

[2020-04-22 14:53] maxceem commented on #3853
@abdullatku review is ready, please have a look https://github.com/appirio-tech/connect-app/pull/3952#pullrequestreview-398263734

[2020-04-22 14:55] maxceem commented on #3853
⚠️ This issue is no longer included in the Bug Bash. If <b>abdullatku</b> cannot fix it, we would re-think what to do with this issue. Please, do not pick it up if it's got unassigned.

[2020-04-22 15:17] codejamtc commented on #3944
Fixed: 🆗 https://monosnap.com/file/Z2bPUwd4JlNZm5Tux2GucTDCzITPto

[2020-04-22 16:02] coderhacker commented on #3950
QA Comments: Please see below issue against this screen  https://connect.topcoder-dev.com/new-project/talent-as-a-service-specialists
as per provided below screens
https://marvelapp.com/89h2ch3/screen/68335433
https://marvelapp.com/89h2ch3/screen/68335434
https://marvelapp.com/89h2ch3/screen/68335435
https://marvelapp.com/89h2ch3/screen/68335436
https://marvelapp.com/89h2ch3/screen/68335437
https:

[2020-04-22 16:03] coderhacker commented on #3950
@maxceem please see the above comments.

CC: @lakshmiathreya @drasticdpk

[2020-04-22 17:12] maxceem commented on #3833
We've found some issue with progressive registration when using a new empty Topcoder/Copilot account. So please, hold on with continue testing, we would fix it first.

cc @codejamtc

[2020-04-22 17:14] codejamtc commented on #3833
@maxceem I can see few issues on the form {Client Workflow}: ❌
https://monosnap.com/file/Ivl770NJ9SvMXu4fQO0tSiw0ugJHox

Reference: https://marvelapp.com/e0gjig7/screen/67320436 {Design} | https://docs.google.com/document/d/1M7IXe6Pvz4hEAsKy503_Fdbs6cLq0cYXUqxuWIBdPjI/edit# {Requirement}

1. `Company Name` is missing on the form. Existing form `My Profile > Profile Information` has the `Company Na

[2020-04-22 18:18] sumitdaga commented on #3948
@maxceem  few things here

firstly when a customer is invited to a project and they try to open the project (upon which they can see the `Cancel`  `Join Project` modal )  ...the `LOAD_PROJECT` action fails ...i guess customer does not have permission and hence the api fails which does not happen for a `copilot_manager` for ex

next in the  [project reducer](https://github.com/appirio-tech/connect-

[2020-04-23 00:49] abdullatku commented on #3853
@maxceem  new commit has been pushed. please verify.

[2020-04-23 04:25] maxceem opened #3955 "Fix using "propTypes" instead of "PropTypes" for checking types"
Reported by Vigneshkumar:

- We're using "Component.PropTypes" (with uppercase P) instead of Component.propTypes (lowercase p) in around 16 places in the whole codebase. I guess the typo was introduced in one component and has been copy-pasted multiple times.

- Using PropTypes doesn't actually detect the problems. For example, skillsCategory can be undefined in TalentPickerQuestion component. But

[2020-04-23 05:14] maxceem commented on #3950
Thanks @coderhacker screenshot with numbers help a lot to understand the issues.

Sorry for confusion you with the task description. We should only implement the component for inputting talents and use it in our existent form. Please, ignore everything what is outside in the design.

![image](https://user-images.githubusercontent.com/146016/80060212-a919f400-8536-11ea-8c9c-792ee50ada99.png)

In th

[2020-04-23 05:22] maxceem commented on #3950
@vikasrohit could you please have a look on issues 15 and 17 in https://github.com/appirio-tech/connect-app/issues/3950#issuecomment-617870873.
Should we fix it?

[2020-04-23 05:36] maxceem commented on #3950
NOTE. As per discussion with @vikasrohit on Slack we've updated the design of this component and now we are using the next view:

- no table header
- 3 lines:
  1. Role name + buttons
  2. People and duration fields
  3. Skills field

The reason for this is "skills" component which needs a lot of space. We've try out multiple approaches and come up that this design is the best we can have for now

[2020-04-23 07:45] maxceem commented on #3950
The existent issue has been fixed and ready for testing https://github.com/appirio-tech/connect-app/issues/3951

[2020-04-23 08:56] maxceem commented on #3853
Thanks, @abdullatku.

You solution is accepted, I would process the payment separately as the Bug Bash challenge is finished, and you should got it during 24 hours.

[2020-04-23 08:57] maxceem commented on #3853
After discussion with Vikas we decided not to apply this solution, but to refactor the code responsible for projects searching, filtering and loading first, to make code clear and straightforward first.

So this issue would be solved after refactoring.

[2020-04-23 09:00] maxceem opened #3956 "Refactor project search and filter code"
Follow up from https://github.com/appirio-tech/connect-app/issues/3853#issuecomment-618274815

[2020-04-23 09:23] maxceem commented on #3949
Sure @vikasrohit should we only customize this part of the message? Or any other part?

![image](https://user-images.githubusercontent.com/146016/80082524-2c4e4080-855d-11ea-9d90-ce6f885be8c1.png)

[2020-04-23 09:33] vikasrohit commented on #3949
Lets customize all three text, heading, subheading and description. All 3 would reside in same object against new key (say `successPage`) in our metadata.

[2020-04-23 11:07] vikasrohit commented on #3950
@maxceem I actually didn't understand the issues 15,17 properly and where my help is required.

[2020-04-23 11:28] maxceem commented on #3950
@vikasrohit it's very minor issue, but just in case. By default when we load page all the values are prefilled with `0`:

![image](https://user-images.githubusercontent.com/146016/80093889-fbc2d280-856d-11ea-8ced-ea2b1b353fad.png)

The same is shown in design:

![image](https://user-images.githubusercontent.com/146016/80093947-1137fc80-856e-11ea-9b7f-276c0b0f4b0e.png)

- Issue 15. Now if we remove

[2020-04-23 11:36] maxceem commented on #3949
@vikasrohit the issue appears be to not that straightforward as it look like, though we can try to accomplish it in this release anyway.

We have to decide on the approach to handle this:

1. This success page can accessed by the direct link https://connect.topcoder-dev.com/new-project/submitted/9166 - so we can access for any old project. If we want to keep supporting custom messages, then when w

[2020-04-23 12:33] coderhacker commented on #3950
@maxceem  @vikasrohit  Please see below how to reproduce issue 17. Here if focus out from the input field this is not auto-set with 0 value when clicking the next button and come back the same page. value still shows empty. Ideally, this should be an auto-set value with 0.

![issue17](https://user-images.githubusercontent.com/62358241/80099729-929e8780-858c-11ea-9ee6-b23c6d1f6f97.gif)

[2020-04-23 12:55] vikasrohit commented on #3949
I think we can go with option 2 and we even don't need to make the page not accessible. We can just show the default text (as it is right now) if don't have project passed as prop. Now coming to the second part where we are removing the project data from redux store, I am not able to recollect why we are doing that. But that gives me another thought that one of the other solution that came up in o

[2020-04-23 13:00] maxceem commented on #3949
Yep. On project details page we are loading project data into the state anyway, so we can just use it.

[2020-04-23 13:02] vikasrohit commented on #3950
Thanks @maxceem and @coderhacker for the details. I think we should not auto fill it with 0 when user has just focused out of the field because the user is still on the form and can come back to fill correct values and if start auto filling in such manner it can lead weird errors of loops of updating values. However, I do think we can fill them with default value when user has left the form step a

[2020-04-23 13:26] codejamtc commented on #3951
Fixed: 🆗 https://monosnap.com/file/iAiGdSks8l3dEZmkY95Zr81lgM0oso
Used: `Manager`  | URL: https://connect.topcoder-dev.com/new-project/talent-as-a-service-specialists

[2020-04-23 15:04] maxceem commented on #3833
Great, catch. - Fixed.✅

I was existent issue from the User Profile Settings page, but it's fixed now. ✅

Fixed ✅

Fixed ✅

Phone validation indeed works strange: ❌ will fix it

![phone-validation](https://user-images.githubusercontent.com/146016/80112225-8b29af00-8589-11ea-92a5-4b1de458d3b1.gif)

❌ will fix it

[2020-04-23 15:06] maxceem commented on #3833
![image](https://user-images.githubusercontent.com/146016/80115043-f32dc480-858c-11ea-91ef-aff0560caa6b.png)

⚠️ This is existent behaviour for most our forms, we treat multiple spaces as if value is entered. @vikasrohit should we change it and not allowed spaces as a value?

[2020-04-23 15:57] maxceem commented on #3948
This is fixed in DEV and ready for QA.

#### QA Guidelines

1. Invite customer user and accept on dashboard page
2. Invite customer user and decline on dashboard page
3. Invite manager user and accept on dashboard page
4. Invite manager user and decline on dashboard page
5. Invite customer user and accept on project listing page
6. Invite customer user and decline on project listing page

[2020-04-23 16:33] codejamtc commented on #3948
@maxceem Fixed

**Test Users used:** `TopConnCustomer`, `TCConManager` and `pshah_manager`
**URL:** https://connect.topcoder-dev.com/projects/9149

- Invite customer user and accept on dashboard page: 🆗
- Invite customer user and decline on dashboard page: 🆗
- Invite customer user and accept on project listing page: 🆗
- Invite customer user and decline on project listing page: 🆗

- Invite manager

[2020-04-23 16:43] maxceem commented on #3833
A couple clarifications, @vikasrohit.

NOTE: As I understand the main task is to support users who registers using general Topcoder Registration form https://accounts.topcoder-dev.com/member/registration. FYI it only creates `basic_info` trait with the next fields:
[code]

1. For customers users we might as "business email". As `connect_info` is not populated during initial registration, the busin

[2020-04-23 16:57] codejamtc commented on #3868
@maxceem Fixed 🆗
https://monosnap.com/file/U378E8HLb5LDtOMooEGNTQ0UUhglVz

[2020-04-23 20:57] vigneshTheDev commented on #3833
@maxceem

I see two kinds of validations for phone number input. 1. Earlier we used to rely on libphonenumber-js library (https://www.npmjs.com/package/libphonenumber-js). 2. And then according to this issue https://github.com/appirio-tech/accounts-app/issues/333#issuecomment-571023326, we've added a Regex based validation same as it's done in member service.
These two ways of validations are mixe

[2020-04-24 05:09] maxceem commented on #3833
@vigneshTheDev thanks for detailed description.

We would prefer to use the 2nd *recommended* approach: keep both validations at the same time so it would be stricter than backend.

[2020-04-24 13:31] codejamtc opened #3959 "Direct and Salesforce Links are not visible to the Account Manager after joining to the project"
### Expected behavior
Should be visible and should be able to access them without an issue

### Actual behavior
Direct and Salesforce Links are not visible to the Account Manager after joining to the project

### Steps to reproduce the problem

- Login as Account Manager
- Select a project from the list {https://connect.topcoder-dev.com/projects/9173}
- Go to Topcoder Team > Join Project > Join Pr

[2020-04-24 13:34] codejamtc opened #3960 "Account Manager can't change the project status after joining the project"
### Expected behavior
Should be able to change the project status since he is holding a manager role (Only Managers and Copilots can change the project statuses)

### Actual behavior
Account Manager can't change the project status after joining the project

@vikasrohit @acshields please confirm. Thanks

### Steps to reproduce the problem

- Login as Account Manager
- Select a project from the list

[2020-04-24 16:09] vigneshTheDev commented on #3833
Hi @maxceem, here's the pull request: https://github.com/appirio-tech/connect-app/pull/3961, please review

[2020-04-25 04:54] maxceem commented on #3833
Thank you @vigneshTheDev I'll review on Monday.

[2020-04-27 07:20] maxceem commented on #3833
@vikasrohit here is these questions left before we can pass it to QA Team https://github.com/appirio-tech/connect-app/issues/3833#issuecomment-618450070.

[2020-04-27 10:17] vikasrohit commented on #3833
@maxceem I don't think we should allow only white spaces in any field. I am not sure why it is the case with existing forms, but I never thought of having that even because of technical limitations.

[2020-04-27 10:27] vikasrohit commented on #3950
Okay, go with that. And we can use placeholder value instead as well as suggested by @coderhacker

Ok. I think we should make validations bit strict i.e. if user has altered any of the field (people, duration or skills) for any row, it should raise the validation error for other missing fields. However, if that seems bit difficult to achieve in this release, we can take it later as hotfix or regul

[2020-04-27 11:24] maxceem commented on #3950
@vikasrohit unfortunately `input type="number"` which we user there, doesn't support `placeholder` (https://stackoverflow.com/questions/4887993/html5-input-type-number-and-the-placeholder-attribute).

So we would have implement logic to set `0` on **unfocus**. Can we move this requirement to the next release along with:

I just don't want to do such updates in the last days before release unless t

[2020-04-27 11:30] maxceem opened #3962 "Don't allow users to change roles which they are now allowed"
### Expected behavior
Topcoder Team members can only switch to roles they are allowed to.

### Actual behavior
Any Topcoder Team can switch to any other role, even if member doesn't have permissions.

### Steps to reproduce the problem
- Use user with `Program Manager` Topcoder Role
- Try to Join to any project as a `Manager`. `Program Manager` couldn't join project as a `Manager` as per our requi

[2020-04-27 11:32] maxceem commented on #3962
This has been fixed in server-side by https://github.com/topcoder-platform/tc-project-service/pull/555.

Now if user tries to change to the role they are not allowed, the error message would be shown, see a demo video https://monosnap.com/file/ir4B3T1vl6Cov5rkVkYOAptAY7w23y

Now we have to fix the error message to directly indicate what is the problem as now it's to general:

https://files.slack.c

[2020-04-27 11:33] maxceem opened #3963 "Show detailed error during switching member role"
Follow up from https://github.com/appirio-tech/connect-app/issues/3962#issuecomment-619923888

Now if user tries to change to the role they are not allowed, the error message would be shown, see a demo video https://monosnap.com/file/ir4B3T1vl6Cov5rkVkYOAptAY7w23y

Now we have to fix the error message to directly indicate what is the problem as now it's to general:

![image](https://user-images.gi

[2020-04-27 11:36] vikasrohit commented on #3833
I am not sure why it should happen if we are following the same approach as we have it right now in connect profile page. I mean, I just tested that for user who was registered with member registration or in any way it doesn't have connect_info trait. I was able see the same email, first name and last name (which are the only common fields between the two traits), which are there in `basic_info` t

[2020-04-27 11:39] maxceem commented on #3833
On the **My Profile** page we don't show **Business Email** field:
![image](https://user-images.githubusercontent.com/146016/80368120-e7941380-8894-11ea-9898-306859b701c4.png)

[2020-04-27 11:48] maxceem commented on #3963
Fixed:

![image](https://user-images.githubusercontent.com/146016/80368883-1494f600-8896-11ea-9053-150c44948228.png)

Demo video: https://monosnap.com/file/RhaUw8TF7L0aqraPOX1DW8wo9QnMgl

[2020-04-27 11:52] vikasrohit commented on #3833
Lets use this in progressive form as well. I think that solve other concerns as well if update the basic_info trait as well when we are saving connect_info trait (I think we are also doing this on profile page right now).

[2020-04-27 11:53] vikasrohit commented on #3950
Okay. Lets log them separately and take care in next release (it might be a hotfix though).

[2020-04-27 11:54] maxceem commented on #3833
We already reuse this logic here. So we don't have issues with First/Last name.

The only thing I have concerns about is **Business Email**. We have it in Progressive Registration form, but we don't have it in the profile settings.

[2020-04-27 11:59] vikasrohit commented on #3833
Got it. We can do that same now for `Business Email` in progressive form as well i.e. read from `basic_info` if `connect_info` trait not available and when saving the progressive registration form, update both traits.

[2020-04-27 12:12] maxceem opened #3964 "Talent Picker Component - default value as "0""
Follow up from https://github.com/appirio-tech/connect-app/issues/3950#issuecomment-619934701

When we unfocus "people" or "duration" field and there is no value, then set "0" as a value automatically.

[2020-04-27 12:13] maxceem opened #3965 "Talent Picker Component - additional validation"
Add additional validation. If inside any row we set at least one value "people", "duration" or "skills" but we didn't fill all the fields, then we have to show validation error: "Please, fill all the fields for the positions you would like to add.". And the same time, show missing fields in red like do we on user profile https://connect.topcoder-dev.com/settings/profile

![image](https://user-imag

[2020-04-27 12:15] vikasrohit commented on #3949
Moving to next release as we don't yet have input from product manager.

[2020-04-27 12:15] maxceem commented on #3950
@vikasrohit I've created 2 separate issues https://github.com/appirio-tech/connect-app/issues/3964 and https://github.com/appirio-tech/connect-app/issues/3965.

We would try to finish them before release or shortly after the release as a hotfix.

@coderhacker if all the clarifications are good https://github.com/appirio-tech/connect-app/issues/3950#issuecomment-618182322.
Can we treat this issue a

[2020-04-27 12:44] maxceem commented on #3833
Sure. Should users be allowed just edit it? As on the accounts page we have a special workflow for changing email with a confirmation email:

![image](https://user-images.githubusercontent.com/146016/80373546-e61b1900-889d-11ea-8c5c-3d36a12c163b.png)

[2020-04-27 13:17] coderhacker commented on #3950
@maxceem **Testing is in progress.**

Known Issues: #3964 and #3965

[2020-04-27 13:43] vikasrohit commented on #3833
I think it should not be editable, if the email is already filled, because we still have the email change feature disabled in Connect.

[2020-04-27 13:58] maxceem commented on #3833
Topcoder members indeed cannot edit email in Connect. But customer user can edit email in Connect. But there is a special workflow with email confirmation.

[2020-04-27 14:04] vikasrohit commented on #3833
Lets not allow anyone to edit emails from the progressive registration form. Customers can still go to the regular Accounts and Security page to do that.

[2020-04-28 00:51] coderhacker commented on #3950
@maxceem This is QA Fail. Please find below details:

1. As per design Talent picker component should be available only one place but this appears two times,

![image](https://user-images.githubusercontent.com/62358241/80434629-e821be00-8917-11ea-83c5-5897d66be0da.png)

For reproducing this issue please see attached video
[3950_QAFAIL.zip](https://github.com/appirio-tech/connect-app/files/4542785/

[2020-04-28 05:59] maxceem commented on #3950
@coderhacker this is for testing purpose. First component is required and the second component is not required to fill. This is just to demonstrate these 2 cases.

[2020-04-28 06:21] maxceem opened #3966 "Permissions regression testing 2"
**Make regression testing after internal work is done but functionality should work as before**

We did some internal refactoring at the server side (Project Service, PR https://github.com/topcoder-platform/tc-project-service/pull/555).

The code to handle permissions has been updated in some places, though functionality shouldn't be changed, so now we have to make sure the functionality works as

[2020-04-28 06:24] maxceem commented on #3966
During the refactoring we found a couple of issues, and they have been fixed via separate issues:
- [Don't allow users to change roles which they are now allowed](https://github.com/appirio-tech/connect-app/issues/3962)
- [Show detailed error during switching member role](https://github.com/appirio-tech/connect-app/issues/3963)

[2020-04-28 06:42] coderhacker commented on #3950
@maxceem Update:  if people and duration are empty just filled only skills, the next button is active.
![image](https://user-images.githubusercontent.com/62358241/80455492-782c2b80-8949-11ea-8c6c-c4b33bf8fc62.png)

As discussed This issue would be fixed with #3965

[2020-04-28 06:44] coderhacker commented on #3965
Fix this issue as well:  if people and duration are empty just filled only skills, the next button is active.
![image](https://user-images.githubusercontent.com/62358241/80455619-baee0380-8949-11ea-9148-fb666369e81c.png)

Updated comments here #3950

[2020-04-28 07:15] coderhacker commented on #3950
@maxceem QA pass with known issues. #3964 and #3965

Please see the attached video refer for QA pass.

[3950_QA_pass.zip](https://github.com/appirio-tech/connect-app/files/4543925/3950_QA_pass.zip)

[3950_QA_pass_2.zip](https://github.com/appirio-tech/connect-app/files/4543939/3950_QA_pass_2.zip)

[2020-04-28 07:28] vikasrohit commented on #3965
The issue is about taking care of this situation as well.

[2020-04-28 08:04] vikasrohit commented on #3966
Thanks for the detailed plan for testing @maxceem

[2020-04-28 08:40] vikasrohit commented on #3825
@codejamtc as #3948 is now passed in dev, can we consider this one as unblocked and get it tested?

[2020-04-28 08:41] vikasrohit commented on #3768
Closing the issue as won't fix because member api is fixed to not throw error when one of the user is inactive in passed query string.

[2020-04-28 08:41] #3768 closed

[2020-04-28 08:54] vikasrohit commented on #3860
It was difficult and not critical to achieve but I have managed to do it in this case. It would load the URL with correct spelling while it would keep loading the incorrect spelled URL as well to support the external links.

Email would be fixed with the 2.9 release on production.

[2020-04-28 09:12] maxceem commented on #3825
Thanks @vikasrohit for noticing it. Yes, @codejamtc, could you please, test this issues now.

[2020-04-28 09:24] maxceem commented on #3833
@codejamtc this is now ready for QA.

Note: that as per https://github.com/appirio-tech/connect-app/issues/3833#issuecomment-620007826 we don't show **Business Email** for customers anymore.

[2020-04-28 09:36] vikasrohit commented on #3833
@maxceem I meant the field to be there bot not editable. Is it possible to do that now?

[2020-04-28 09:41] maxceem commented on #3833
Yes, will update.

[2020-04-28 09:52] maxceem commented on #3833
Done, and update comment https://github.com/appirio-tech/connect-app/issues/3833#issuecomment-620488193

[2020-04-28 11:13] maxceem commented on #3831
@vikasrohit on the second though, I think we have to get it in sync with list of countries at our backend.

If we remove these countries client-side but later backend returns to us some member with some the removed country, there could be an issue.

As I think this issues is not critical, I suggest postpone with removing and doing more research on the server side, so we close the question with cou

[2020-04-28 11:56] vikasrohit commented on #3831
Okay, we can delay it to next release. It is not a priority issue right now. And in fact we are going to get rid of Connect registration pages very soon after this release, I guess by mid of the May. So, we might not need to do countries changes there.

[2020-04-28 14:01] codejamtc commented on #3825
Fixed: 🆗 `Copilot` leaving from a project. Didn't check `Manager` leaving a project because the manager already has access to all the projects.
https://monosnap.com/file/jCzEQHZTGRorF3QtjLPcYQX38rhSJD

[2020-04-28 17:04] codejamtc commented on #3963
@maxceem

Checked: 🆗 `Manager` tried to change the user role to `Account Executive`, `Program Manager`, `Solution Architect` and `Project Manager` and he/she will get an error
https://monosnap.com/file/H8RHKNH6KEnfuwSdqJL66SLNbjzro6

Checked: 🆗 `Manager` tried to join into the account as `Account Executive`, `Program Manager`, `Solution Architect` and `Project Manager` and he/she will get an error

[2020-04-28 17:27] codejamtc commented on #3962
@maxceem Checked: 🆗 A User with `Program Manager` Topcoder Role tries to join to a project as `Manager` will get an error. And the same user joined to a project as `Program Manager` and tried to change the role to `Account Executive`, `Solution Architect`. `Manager` or `Project Manager` role will get an error.

He can either switch to `Connect Account Manager` role and back to `Program Manager` wi

[2020-04-28 17:44] codejamtc opened #3968 "Past talent category skill list is shown even after the user changed the talent"
### Expected behavior
Should display the skill list according to the new talent selected

### Actual behavior
Past talent category skill list is shown even after the user changed the talent

### Steps to reproduce the problem

- Login as Manager
- Go to https://connect.topcoder-dev.com/new-project/talent-as-a-service-specialists
- From the first talent dropdown select 'Design' > People=1, Months=1

[2020-04-28 19:11] codejamtc commented on #3833
@maxceem @vikasrohit

Issue 01: 🆗
Issue 02: 🆗
Issue 03: 🆗
Issue 04: 🆗
Issue 05: 🆗
Issue 06: 🆗
Issue 07: 🆗
Issue 08: 🆗 https://github.com/appirio-tech/connect-app/issues/3833#issuecomment-620007826 - Lets not allow anyone to edit emails from the progressive registration form. Customers can still go to the regular Accounts and Security page to do that.

https://monosnap.com/file/Wj7ZqdVpyoLUps2jwNZK

[2020-04-28 20:25] codejamtc commented on #3966
@maxceem

1. As a customer invite another non-existent customer via email: 🆗
2. As a customer invites another customer via handle: 🆗
3. As a Topcoder member invite existent customer via email: 🆗
4. As a Topcoder member invite customer via handle: 🆗
5. As a customer remove another customer invite: 🆗
6. As a Topcoder member remove customer invite: 🆗

https://monosnap.com/file/Z4N0Jw0TDTjRYa0AiC2qNLj

[2020-04-29 05:06] vikasrohit commented on #3963
@codejamtc Did you mean `Connect Account Manager` can't join as `manager` and `Connect Account Manager` can't join as `manager`? If that is the case, it is correct and expected behaviour.

[2020-04-29 05:19] codejamtc commented on #3963
@vikasrohit Yes, I think this ticket is `Pass`

[2020-04-29 06:14] vikasrohit commented on #3860
@codejamtc typo, in email, is fixed now on production and dev both.

[2020-04-29 06:16] codejamtc commented on #3860
@vikasrohit I will check both. Thanks

[2020-04-29 06:49] codejamtc commented on #3860
Fixed in `Dev`: 🆗
Typo in `Accessibility`: https://monosnap.com/file/npGifQsbzfW8K3KKiXBuvfGBxrPTys
Typo in `crowdsourcing` {Email}: ![image](https://user-images.githubusercontent.com/42398485/80567345-90885e80-89ba-11ea-9478-6ca3a899a6d9.png)

Fixed in `Production`: 🆗
Typo in `Accessibility`: https://monosnap.com/file/TcL6QzeESvDMM1M40T8vI6VK3vsHmY
Typo in `crowdsourcing` {Email}:

[2020-04-29 06:53] drasticdpk commented on #3835
Verified on prod.
![image](https://user-images.githubusercontent.com/25297859/80568183-4208ad80-8a16-11ea-8833-74a672b54001.png)
![image](https://user-images.githubusercontent.com/25297859/80568223-59e03180-8a16-11ea-9469-23b9d09bec11.png)

[2020-04-29 06:53] #3835 closed

[2020-04-29 06:53] codejamtc commented on #3816
No issue in `Production`: 🆗
https://monosnap.com/file/z4tTv5iPI9AHdsP4ju9f6UzjNnL2NN

[2020-04-29 06:58] codejamtc commented on #3843
QA pass in `Production`: 🆗
https://monosnap.com/file/3eVPgGBIMBjZTaNMfYEzEdxBBtu7fH

[2020-04-29 07:00] maxceem commented on #3968
@codejamtc thanks for checking on this. Though this project template https://connect.topcoder-dev.com/new-project/talent-as-a-service-specialists is solely for various testing purposes, it's not a real project template. And the questions inside don't have a special configuration to respect each other.

As far as I know in real project template the old question `What skills are important for your t

[2020-04-29 07:00] #3968 closed

[2020-04-29 07:02] drasticdpk commented on #3860
verified on prod.
![image](https://user-images.githubusercontent.com/25297859/80568954-9c563e00-8a17-11ea-803b-731a500bbb67.png)

[2020-04-29 07:02] #3860 closed

[2020-04-29 07:06] codejamtc commented on #3842
Partial QA pass in `Production`: ⚠️

![image](https://user-images.githubusercontent.com/42398485/80568903-72702d80-89bd-11ea-8210-5f97a3fb2479.png)

![image](https://user-images.githubusercontent.com/42398485/80569052-b82cf600-89bd-11ea-965b-24931b3e6404.png)

**Failed in Firefox** @maxceem @vikasrohit

![image](https://user-images.githubusercontent.com/42398485/80569096-d2ff6a80-89bd-11ea-8e01-b0

[2020-04-29 07:09] codejamtc commented on #3841
QA pass in `Production`: 🆗
https://monosnap.com/file/Q7JSv2tzoTzhnknyxerUiyl3Q4GNY6

[2020-04-29 07:12] codejamtc commented on #3832
QA pass in `Production`: 🆗 Used `Customer` account
![image](https://user-images.githubusercontent.com/42398485/80569567-d0e9db80-89be-11ea-8612-b1bb0c00b3f0.png)

@drasticdpk @lakshmiathreya Please check it on `Manager` and `Copilot` Logins

[2020-04-29 07:13] drasticdpk commented on #3854
verified on Prod
![image](https://user-images.githubusercontent.com/25297859/80569564-e7bd1c00-8a18-11ea-8efa-583259856fee.png)

[2020-04-29 07:13] #3854 closed

[2020-04-29 07:13] maxceem opened #3971 "User Profile Form Enhancements"
Suggestions of @codejamtc from https://github.com/appirio-tech/connect-app/issues/3833#issuecomment-620800678.

@vikasrohit could you please confirm or reject these

## Suggestions:

**Suggestions 01:** Better to change the label as `Job Title` rather than `Title`.

![image](https://user-images.githubusercontent.com/42398485/80524528-5fc20e00-8955-11ea-9571-e97bd1954ecf.png)

**Suggestions 02:**

[2020-04-29 07:15] #3843 closed

[2020-04-29 07:15] #3841 closed

[2020-04-29 07:17] maxceem commented on #3833
Thanks @codejamtc for always checking on other things around. Your suggestions look very reasonable so I moved them to a separate issue for the product team to decide on them https://github.com/appirio-tech/connect-app/issues/3971

There is only one suggestion which I think we shouldn't implement.

We support `Start Time` >`End Time`. This means that user works starting in the morning and works th

[2020-04-29 07:18] drasticdpk commented on #3775
prod Verified.
![image](https://user-images.githubusercontent.com/25297859/80570002-bee95680-8a19-11ea-9b86-28eae84cdb15.png)

[2020-04-29 07:18] #3775 closed

[2020-04-29 07:19] codejamtc commented on #3825
QA pass in `Production`: 🆗 Customer Leaving Project
https://monosnap.com/file/rlHSS9YdxtBx73Tm5yx8tmADEWaeaG

@drasticdpk @lakshmiathreya Please check `Manager` and `Copilot` leaving from a project. Thanks

[2020-04-29 07:21] lakshmiathreya commented on #3832
Looks fine with Manager logins on Prod.

[2020-04-29 07:26] codejamtc commented on #3833
@maxceem Agree, make sense 👍

[2020-04-29 07:28] drasticdpk commented on #3774
Prod Verified for Customer and Copilot Role.
![image](https://user-images.githubusercontent.com/25297859/80570804-281d9980-8a1b-11ea-96ba-992edc61c94f.png)

@lakshmiathreya  Please confirm from manager Role and close the issue.

[2020-04-29 07:28] #3832 closed

[2020-04-29 07:30] drasticdpk commented on #3778
Verified on prod
![image](https://user-images.githubusercontent.com/25297859/80570997-8c405d80-8a1b-11ea-9cf2-e4226a081ecb.png)

[2020-04-29 07:30] #3778 closed

[2020-04-29 07:34] coderhacker commented on #3950
Production verification failed, Please see attached video reference.

![image](https://user-images.githubusercontent.com/62358241/80571248-e8a27d80-8a19-11ea-9314-eda8e17d7fc1.png)

[3959_production_fail.zip](https://github.com/appirio-tech/connect-app/files/4550279/3959_production_fail.zip)

[2020-04-29 07:35] codejamtc commented on #3944
QA pass in `Production`: 🆗
https://monosnap.com/file/fTHs80dsgBqGAljRGpvy89W9Sb7JS5

[2020-04-29 07:35] #3944 closed

[2020-04-29 07:38] codejamtc commented on #3834
QA pass in `Production`: 🆗
https://monosnap.com/file/lAjpngsP3nsJzssfSRGPsUHBr4cXkK

[2020-04-29 07:38] #3834 closed

[2020-04-29 07:41] codejamtc commented on #3871
QA pass in `Production`: 🆗

![image](https://user-images.githubusercontent.com/42398485/80571827-dd703300-89c2-11ea-9fb4-213ed598ec3c.png)

[2020-04-29 07:41] #3871 closed

[2020-04-29 07:41] maxceem commented on #3842
@vikasrohit how to proceed if issue indeed failed in some case?
Create a new issue for the next release?
Or just keep the current issue as failed and fix it in the next release again?
Or fix it as a hotfix?

[2020-04-29 07:43] codejamtc commented on #3868
QA pass in `Production`: 🆗
https://monosnap.com/file/jQTRFZ1ZxmCDxxPGGfsXwZSVXUO6bS

[2020-04-29 07:43] #3868 closed

[2020-04-29 07:55] codejamtc commented on #3770
QA pass in `Production`: 🆗 for `Customer` account

![image](https://user-images.githubusercontent.com/42398485/80572963-c29ebe00-89c4-11ea-844c-4ad0d682cf30.png)

@drasticdpk @lakshmiathreya Please check using Manager/Copilot and Admin accounts

[2020-04-29 08:01] codejamtc commented on #3884
FF:

![image](https://user-images.githubusercontent.com/42398485/80573385-799b3980-89c5-11ea-851d-b278e85b4ee8.png)

IE11:

![image](https://user-images.githubusercontent.com/42398485/80573476-a5b6ba80-89c5-11ea-9deb-51e6c5894a9a.png)

[2020-04-29 08:04] #3884 closed

[2020-04-29 08:06] drasticdpk commented on #3929
Prod Verified with project Smoke test 2.7.1.

[2020-04-29 08:06] #3929 closed

[2020-04-29 08:08] codejamtc commented on #3872
Partially QA pass in `Production`: ❌

Tooltip Failed in Project listing page:

![image](https://user-images.githubusercontent.com/42398485/80574004-a3089500-89c6-11ea-854c-b6838f8f63ae.png)

FF:

![image](https://user-images.githubusercontent.com/42398485/80573385-799b3980-89c5-11ea-851d-b278e85b4ee8.png)

IE11:

![image](https://user-images.githubusercontent.com/42398485/80573476-a5b6ba80-89c5-11

[2020-04-29 08:12] codejamtc commented on #3851
QA pass in `Production`: 🆗

![image](https://user-images.githubusercontent.com/42398485/80574306-3641ca80-89c7-11ea-8a51-c017e846c93e.png)

[2020-04-29 08:12] #3851 closed

[2020-04-29 08:17] #3816 closed

[2020-04-29 08:19] codejamtc commented on #3951
@maxceem Customer use can't access the direct link
https://connect.topcoder.com/new-project/talent-as-a-service-specialists"

[2020-04-29 08:20] drasticdpk commented on #3773
Verified on above mentioned button on prod env.
New Project, Add New Phase, ASSETS LIBRARY, Go to Project Dashboard button.

[2020-04-29 08:20] #3773 closed

[2020-04-29 08:47] maxceem commented on #3872
Good catch @codejamtc. Can we create a separate issue for this case, as in the current issue, we only included the tooltip of the Project Details page.

[2020-04-29 09:17] drasticdpk opened #3972 "Invitation Cancel if user click other than Join Project Button"
### Expected behavior
Invitation should be cancel only if user click on cancel button.

### Actual behavior
Invitation is cancelling when user makes click other than Join Project button.

### Steps to reproduce the problem
- Invite  the user to Join the Project
- Login from the user ( which was invited )
- Click the invitation confirmation window (other than join project button.)

### Screenshot/s

[2020-04-29 09:23] drasticdpk commented on #3972
cc @maxceem

[2020-04-29 09:24] maxceem commented on #3972
@vikasrohit should we fix it as a hotfix in `2.9` or include in the next `2.10` release?

[2020-04-29 09:31] drasticdpk commented on #3891
verified on prod with Chrome/Firefox browser.

[2020-04-29 09:31] #3891 closed

[2020-04-29 09:38] drasticdpk commented on #3872
@codejamtc please create new issue for above finding and close this issue.

[2020-04-29 09:43] vikasrohit commented on #3972
I think saw this issue before this release as well, so I guess it should be okay to have it as regular release. However, lets create hotfix branch for 2.9.1 and do these changes there and if needed we would merge it master for hotfix otherwise we would just merge it to dev.

[2020-04-29 09:58] drasticdpk commented on #3576
Verified on Prod evn.

[2020-04-29 09:58] #3576 closed

[2020-04-29 10:01] maxceem commented on #3972
@vikasrohit what should happen if we click outside the dialog?
1. Nothing
2. Got back to the project listing page?

[2020-04-29 10:12] drasticdpk commented on #3770
@codejamtc @lakshmiathreya,  here I have verified from customer role.
![image](https://user-images.githubusercontent.com/25297859/80584487-763d9780-8a31-11ea-8ada-2d60fbab9c98.png)

[2020-04-29 10:21] #3770 closed

[2020-04-29 11:00] lakshmiathreya commented on #3774
Toggle button working as expected for Manager users:
<img width="1632" alt="Screenshot 2020-04-29 at 4 29 09 PM" src="https://user-images.githubusercontent.com/51733042/80588789-9a4fa780-8a36-11ea-84ae-fe585ce7d783.png">
<img width="1430" alt="Screenshot 2020-04-29 at 4 30 05 PM" src="https://user-images.githubusercontent.com/51733042/80588850-bd7a5700-8a36-11ea-93d9-ea1ec8593d1e.png">

[2020-04-29 11:20] vikasrohit commented on #3834
@maxceem did we apply any fix for this issue?

[2020-04-29 11:22] maxceem commented on #3834
Yes, but it's not enough. We have to additionally filter users by `status` and exclude not active users. It works good on DEV, but on PROD, such request hangs. So we didn't apply the full fix and waiting for the Member Service team to clarify this behaviour.

[2020-04-29 11:29] vikasrohit commented on #3834
Yep, agreed on that, however, I am concerned that when didn't apply that fix, how this is working fine now on production, I can still see multiple users with same email on production.

[2020-04-29 11:32] maxceem commented on #3834
@vikasrohit it doesn't work for me.

@codejamtc this issue failed for me in PROD

![image](https://user-images.githubusercontent.com/146016/80591345-3ae99b80-8a26-11ea-85e1-d913974aa25f.png)

[2020-04-29 11:33] vikasrohit commented on #3972
Nothing. Because I would like user to explicitly click on Cancel to decline the invite.

[2020-04-29 11:35] drasticdpk commented on #3774
@maxceem , need confirmation for Copilot manger Role. Here could not see toggle button for Copilot Manager too.

pshah_customer - shouldn't see
pshah_copilot - shouldn't see
pshah_manager - should see

![image](https://user-images.githubusercontent.com/25297859/80591647-c0c51100-8a3d-11ea-86e6-ebc3541b8e0f.png)

[2020-04-29 11:47] maxceem commented on #3774
@drasticdpk This looks like an issue, only copilots and customers shouldn't see it. Other users should see it.

[2020-04-29 11:50] lakshmiathreya commented on #3424
Verified Invite Dropdown in Prod for Account Manager account - showing suggestion list for Customer and Topcoder team invites.

[2020-04-29 11:52] #3424 closed

[2020-04-29 11:57] lakshmiathreya commented on #3774
@drasticdpk we will need to set this to QA Fail in Dev and Prod right?

[2020-04-29 12:31] drasticdpk commented on #3774
@lakshmiathreya  QA Fail in Prod/Dev

[2020-04-29 12:54] coderhacker commented on #3950
Verified with this URL on production https://connect.topcoder.com/new-project/talent-as-a-service-v1.2
for all users customer, Admin, Account, Manager, Copilot Manager, and Copilot. This is working as expected.

![image](https://user-images.githubusercontent.com/62358241/80596746-7abf7b80-8a44-11ea-96c5-0ea92c0f20b4.png)

![image](https://user-images.githubusercontent.com/62358241/80596770-8743d40

[2020-04-29 12:55] coderhacker commented on #3950
@vikasrohit @maxceem Please note: This component has 2 known issues and the new component is not live on production, once this will fix, I will close this ticket

cc @lakshmiathreya @drasticdpk

[2020-04-29 13:04] codejamtc opened #3973 "'Ref Code' won't have a char limit and a long Ref code will overflow the Ref code tooltip"
### Expected behavior
Should fix the tooltip for long `Ref Code`

### Actual behavior
Long `Ref Code` will overflow the Ref code tooltip in Project listing page

### Steps to reproduce the problem

- Login as Manager
- From the Project listing page turn ON "My Projects"
- Hover over a Ref code that is too long

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/42398485/

[2020-04-29 13:09] codejamtc commented on #3834
@maxceem Yes, I can see it now. https://monosnap.com/file/bZIrIRs5aPn44KnUWCbPfGsBRjpxc6 (But I when I test it earlier, that worked for me, maybe because the test@test.com is already there and I had to remove it to test the issue - https://monosnap.com/file/lAjpngsP3nsJzssfSRGPsUHBr4cXkK)

[2020-04-29 13:24] drasticdpk commented on #3950
@coderhacker either you can create that know issue as separate and close this, please suggest @vikasrohit @maxceem

[2020-04-29 13:26] maxceem commented on #3950
@drasticdpk we already have two separate tickets for knows issues #3964 and #3965. So I guess we might close this one.

[2020-04-29 13:36] codejamtc commented on #3951
Fixed: 🆗 https://monosnap.com/file/4acfxuquiseytkDVl2v4CMdoJomA17
Used: `Customer`  | URL: https://connect.topcoder.com/new-project/talent-as-a-service-v1.2

[2020-04-29 13:39] #3951 closed

[2020-04-29 13:47] lakshmiathreya commented on #3950
@maxceem @vikasrohit @drasticdpk might be better to close once Component is fully live in Prod?

[2020-04-29 14:01] vikasrohit commented on #3950
@lakshmiathreya Did't get the meaning of `fully live`.

[2020-04-29 14:04] codejamtc opened #3974 "QA dropdown won't populate any data when expanding it"
### Expected behavior
Should display the default skillset of a QA. Like in Dev

### Actual behavior
QA dropdown won't populate any data when expanding it

### Steps to reproduce the problem

- Login as Customer
- Go to https://connect.topcoder.com/new-project/talent-as-a-service-v1.2
- Go to 'Talents' question and expand the Skill dropdown of the QA

### Screenshot/screencast

![image](https://use

[2020-04-29 14:13] coderhacker commented on #3950
@vikasrohit when new project creating with this URL https://connect.topcoder.com/new-project/talent-as-a-service. the new component is not displayed in production.

The new component is display form this URL https://connect.topcoder.com/new-project/talent-as-a-service-v1.2

I hope you are getting my point.

[2020-04-29 14:17] vikasrohit commented on #3950
Ohk, that would be done once we have product manager approval.

[2020-04-29 16:52] lakshmiathreya commented on #3963
Prod verification for detailed messages done for Switching Roles - for Copilot, Copilot Mgr, Connect Account Manager, Connect Manager and Admin.

[2020-04-29 17:04] lakshmiathreya commented on #3966
Verified Invite and Remove scenarios in Prod with Admin, Connect Account Manager, Copilot Manager and Connect Manager.

[2020-04-29 17:32] codejamtc commented on #3858
Verified: 🆗 Only the file/link owner can edit/remove the asset
@lakshmiathreya @drasticdpk Please check using Admin account and Manager account
https://monosnap.com/file/fMJsSXcmDsZUyAovTHAtzAqEkuV0KC

[2020-04-29 17:36] lakshmiathreya commented on #3872
Verified in Safari, Firefox and Chrome on Prod for Manager and Admin accounts. Char limit and Tootip in Project Details page is working as expected.
<img width="1260" alt="Screenshot 2020-04-29 at 11 06 19 PM" src="https://user-images.githubusercontent.com/51733042/80627811-15808000-8a6e-11ea-96ae-55ad85cb587a.png">

[2020-04-29 18:12] codejamtc opened #3975 "User avatar popup won't show the email for the first time"
### Expected behavior
Should display the email on the popup

### Actual behavior
User avatar popup won't show the email for the first time

### Steps to reproduce the problem

- Login as Customer
- Go to Grid view
- In the Project listing page hover over the current user avatar (You don't see email in the first time)
- Switch the tab to 'Reports'
- Switch back to 'All Project'
- In the Project lis

[2020-04-29 18:42] lakshmiathreya commented on #3948
Verified on Prod - For Topcoder Team invites:

-- Accept, Decline, Join and Leave on Project Listing and Dashboard pages for - Connect Admin, Connect Account Manager, Manager users.

-- For Admin - verified Join and Leave on Dashboard page. For this user, Invite is not seen on Project listing Page.

- For Copilot Manager - invite to Topcoder team is not allowed for any role.

[2020-04-29 19:26] lakshmiathreya commented on #3468
-- Verified on Prod all the 4 scenarios listed above with users lakshmiaCopilot and lakshmiaCopMgr. Additionally verified Join and Decline via email notification.

-- Verified additionally that invites by Connect Admin and Admin users dont need approvals.

[2020-04-29 19:57] lakshmiathreya commented on #3858
Verified on Prod - only File/Link owner or Admin/Connect Admin has edit permission.

[2020-04-30 04:15] #3966 closed

[2020-04-30 04:17] #3963 closed

[2020-04-30 04:21] drasticdpk commented on #3950
With reference to above comment I am closing this issue.

[2020-04-30 04:21] #3950 closed

[2020-04-30 04:37] #3468 closed

[2020-04-30 04:40] drasticdpk commented on #3858
Verified for prod with copilot Role.

[2020-04-30 04:40] #3858 closed

[2020-04-30 04:47] drasticdpk commented on #3825
Verified with copilot Role.

[2020-04-30 06:39] maxceem opened #3976 "Improve skills component caching logic"
### Expected behavior
List of skills is loaded once.

### Actual behavior
List of skills is loaded multiple times, depend on how many times we show Skills component.

### Steps to reproduce the problem
- Open project creation form https://connect.topcoder-dev.com/new-project/talent-as-a-service-specialists.
- Open Network tab to see requests.
- Start filling the form until you see list talents and

[2020-04-30 06:58] maxceem commented on #3974
@vikasrohit it looks like on PROD we don't have `QA` category skills in the API.

Only skills with the next categories are returned: `[ 'DEVELOP', 'DATA_SCIENCE', 'DESIGN', null ]`.

[2020-04-30 08:26] vikasrohit commented on #3974
Yes, it is known issue. We have got this identified when we deployed the first version of the Skills picker component.

[2020-04-30 10:18] vikasrohit commented on #3975
It should not have shown the email for the non admin at all. @maxceem I think you have it fixed in patch release branch, right? If yes, I think we need to make it to production soon. I would do it tomorrow if QA passes for this.

[2020-04-30 10:24] maxceem commented on #3975
@vikasrohit That's true except of user himself. User can see his own email. So as per this issue user sees his email inconsistently.

I think it's a very minor issue.

[2020-04-30 10:26] vikasrohit commented on #3975
ohk.

[2020-04-30 10:52] coderhacker commented on #3833
Verified on production and this is working as expected.

PS: Please create a new user from this form https://accounts.topcoder.com/member/registration
and follow steps in the attached video file.

[3833_prod_pass.zip](https://github.com/appirio-tech/connect-app/files/4557783/3833_prod_pass.zip)

CC @lakshmiathreya @drasticdpk

[2020-04-30 10:55] #3833 closed

[2020-04-30 11:58] codejamtc commented on #3774
Fixed in `Dev`: 🆗

![image](https://user-images.githubusercontent.com/42398485/80707633-e8ed5800-8aaf-11ea-85d9-514fd3c6f971.png)

[2020-04-30 12:10] codejamtc commented on #3842
Fixed in `Dev`: 🆗

![image](https://user-images.githubusercontent.com/42398485/80708593-914fec00-8ab1-11ea-9314-8d7ac594bede.png)

[2020-04-30 12:24] codejamtc commented on #3964
Fixed in `Dev`: 🆗
URL: https://connect.topcoder-dev.com/new-project/talent-as-a-service-specialists

https://monosnap.com/file/SuFWWsZXm0y21tpKIdrjFScIVERuie

[2020-04-30 12:34] codejamtc commented on #3972
Fixed in `Dev`: 🆗

https://monosnap.com/file/tZf6g0P2CoCCcclyismssHN9LRLo7L

[2020-04-30 12:37] coderhacker commented on #3965
@maxceem seems this is not fixed please see below screen

![image](https://user-images.githubusercontent.com/62358241/80711046-5b405580-8b0d-11ea-9737-7f463c3e82b7.png)

![image](https://user-images.githubusercontent.com/62358241/80711067-63989080-8b0d-11ea-82ea-7897620980af.png)

@drasticdpk

[2020-04-30 12:39] maxceem commented on #3965
Thanks @coderhacker, I've missed this requirement:::

@vikasrohit should we put some maximum value?

[2020-04-30 13:01] codejamtc opened #3979 "An error displayed when a user tries to save an avatar and details"
### Expected behavior
Should not display an error

### Actual behavior
An error displayed when a user tries to save an avatar and details, "FAILED TO SAVE SETTINGS. THE FOLLOWING TRAITS DO NOT EXIST:[BASIC_INFO]"

### Steps to reproduce the problem

- Login as TCConProjectMgr
- Click My Profile > Profile Information
- Add an avatar image
- Change the First and Last name
- Click Save Settings

[cod

[2020-05-01 04:04] vikasrohit commented on #3965
Though we don't have explicit requirement of max value on this field, but lets put a max value for now to be 10000 because I don't what should be the realistic max value for it.

[2020-05-04 15:21] drasticdpk commented on #3774
Any idea how can we verify this issue for prod env with Copilot Manger Role ? Since we don't have user credential with Copilot Manager Role ? cc @lakshmiathreya @maxceem @vikasrohit

[2020-05-04 15:56] drasticdpk commented on #3842
Same issue on prod env /Firefox.
@maxceem how do we know if the issue is ready for prod testing  or not ? Can we add new label 'Ready For Prod QA', please suggest.
![image](https://user-images.githubusercontent.com/25297859/80985674-420e1080-8e4f-11ea-9773-f85cbff74fe7.png)

[2020-05-04 15:59] maxceem commented on #3842
@drasticdpk I guess we can let you know on Slack when it's ready for testing as we don't have a special label for this.

[2020-05-04 16:00] maxceem commented on #3842
@vikasrohit @lakshmiathreya should we have a special label for such situations?

[2020-05-04 22:35] codejamtc opened #3982 "Connect profile upload and retrieve is broken"
### Expected behavior
Should be able to change the connect profile image/ or should retrieve the current from the db

### Actual behavior
Connect profile upload and retrieve is broken

### Steps to reproduce the problem

- Login as Manager
- Click My Profile > Profile Information
- Add an avatar image
- Observe
- Check the previous avatar of Manager

[code]

### Screenshot/screencast

![image](htt

[2020-05-05 01:19] codejamtc commented on #3962
## Complete test on 'Roles Matrix'.

![image](https://user-images.githubusercontent.com/42398485/81026018-55fd4680-8e3e-11ea-81a4-bf35645b2aa4.png)

**Tested:** `Dev Environment`
**Users:** `TopConnCustomer`, `TCConAccountMgr`, `TCConnCopilot`, `TCConManager`, `TCConAdmin`, `pshah_manager`
**Project URL:** https://connect.topcoder-dev.com/projects/16514
**Roles Matrix Ref:** https://htmlpreview.gi

[2020-05-05 13:06] maxceem commented on #3982
@vikasrohit looks like Cloudfront domains don't work anymore on DEV and on PROD so avatars cannot be loaded now.

![image](https://user-images.githubusercontent.com/146016/81069217-43404b80-8eea-11ea-9925-b91654b23acd.png)

[2020-05-05 17:40] maxceem commented on #3962
@codejamtc Thanks, for detailed testing.

Blue box means the default Project Role when user with corresponding Topcoder Roles joins the project. For the user with `Connect Manager` Topcoder Role the default Project Role would be `manager`. User with `Connect Manager` can still join as `account_manager` if they want, but it's not the default role.

Regarding Customer and Copilots:
The thing is this

[2020-05-06 07:28] maxceem opened #3983 "Don't show attachments which are not allowed for the user"
Currently, if we limit file permissions, users who are not allowed to download files can still see them listed:

![image](https://user-images.githubusercontent.com/146016/81147845-d4afcc00-8f83-11ea-8020-5d2de573cc2e.png)

### Steps to reproduce

1. Join project with 3 users.
1. Using **user 1** create a file on the **Assets Library** page.
2. Assign permissions to see the file to **user 2** only.

[2020-05-06 08:09] vikasrohit commented on #3983
Makes sense. Lets hide the attachments which are not shared with the logged in user.

[2020-05-06 10:22] maxceem commented on #3982
This is fixed on DEV now and can be tested.

On PROD it would be fixed after we release 2.9.1 hotfix https://github.com/appirio-tech/connect-app/pull/3978

[2020-05-06 10:34] #3872 closed

[2020-05-06 10:34] #3948 closed

[2020-05-06 10:35] vikasrohit commented on #3825
@drasticdpk @codejamtc added label for prod pass and closing the issue.

[2020-05-06 10:35] #3825 closed

[2020-05-06 10:42] vikasrohit commented on #3856
@codejamtc @lakshmiathreya closing the issue for now as it seems some specific use case is pending for testing. Please feel free to reopen it if it fails for that use case.

[2020-05-06 10:42] #3856 closed

[2020-05-06 10:43] vikasrohit commented on #3903
@maxceem closing it. Let me know if anything is pending for this.

[2020-05-06 10:43] #3903 closed

[2020-05-06 10:44] vikasrohit commented on #3882
@codejamtc @lakshmiathreya closing the issue for now as it seems some specific use case is pending for testing. Please feel free to reopen it if it fails for that use case.

[2020-05-06 10:44] #3882 closed

[2020-05-06 10:46] vikasrohit commented on #3962
@maxceem do we need any development work here?
@codejamtc let us create new issues if any specific use case fails for this issue.

[2020-05-06 10:51] maxceem commented on #3962
This is done server-side. Client-side there is a space for improvement:
1. don't show roles which members cannot choose. Though technically it's not straightforward, as we don't load members Topcoder Roles to decide which Project Roles they can choose and which roles they cannot choose.

   ![image](https://user-images.githubusercontent.com/146016/81168878-80ffab80-8fa0-11ea-9d63-11bb7b2e0713.png)

[2020-05-06 11:10] drasticdpk commented on #3842
QA Fail prod prod.
![image](https://user-images.githubusercontent.com/25297859/81170404-57537e00-8fba-11ea-8ab5-55d076c26227.png)

[2020-05-06 11:13] drasticdpk commented on #3774
With reference to Dev env verification, I am closing it. Let us know if we have any way to verify on prod env.

[2020-05-06 11:13] #3774 closed

[2020-05-06 11:28] drasticdpk commented on #3972
Still having same issue : Fail on prod env.
https://monosnap.com/file/7UrKDgKRKYJ8yqL4vRpQJ90Wr8Hs2F

[2020-05-06 11:34] maxceem commented on #3842
@drasticdpk issues in milestone `2.9.1` https://github.com/appirio-tech/connect-app/milestone/92 are not yet deployed to PROD.

[2020-05-06 11:34] maxceem commented on #3972
@drasticdpk issues in milestone `2.9.1` https://github.com/appirio-tech/connect-app/milestone/92 are not yet deployed to PROD.

[2020-05-06 12:43] codejamtc commented on #3982
Fixed in `Dev`:  🆗
https://monosnap.com/file/UYCRReSG1HDZCN1eMPmVhXkm0Ybu3T

[2020-05-06 21:40] jswheeler opened #3986 "Can't upload file with long name"
### Expected behavior
Describe.
User should be able to upload a file to a message in connect.

### Actual behavior
Describe.
Adding to an existing thread, I attempted to add a pdf with the file name
"#736081 Stored XSS + Steal auth0Jwt = Account Takeover on https___apps.topcoder.com.pdf"

### Steps to reproduce the problem
- Log into connect.
- Navigate to an existing project.
- Open an existing t

[2020-05-07 03:41] vikasrohit commented on #3986
Thanks for reporting it @jswheeler. I think it is not the long name that is causing the issue, it might be the special characters in the file name or presence of multiple dots. In any case, this use case seems to be rare enough i.e. it should not be the case which most of users are facing because such filenames are bit rare and mostly are auto generated names.

[2020-05-07 03:44] vikasrohit commented on #3842
@drasticdpk @maxceem I don't think we need such label, it would just increase the work for dev team. We are already making notifications about release in Slack with the details of release which has the milestone as well, so it should be pretty straightforward to start testing for certain milestone on prod after we have notified the successful release in Slack.

[2020-05-07 03:50] lakshmiathreya commented on #3965
@vikasrohit is this in 2.9.1 list? I was able to enter 10001 as number and save the project ... perhaps we could move this to 2.10?

[2020-05-07 05:19] maxceem commented on #3965
@lakshmiathreya @coderhacker this is fixed now on DEV and ready for testing.

[2020-05-07 06:52] drasticdpk commented on #3972
Verified on prod
![image](https://user-images.githubusercontent.com/25297859/81263436-5e809780-905f-11ea-8a2f-41eeedde8c9d.png)

[2020-05-07 06:52] #3972 closed

[2020-05-07 06:56] maxceem opened #3988 "Show email of members to admin users"
Some time ago we temporary disabled showing email of members to anyone.

After making some backend fixes, we re-enabled showing email for members, but only to users with `administrator` role can see it.

### `administrator` users

- project listing page:

   ![image](https://user-images.githubusercontent.com/146016/81263514-76005600-9048-11ea-8847-d13402b36f1f.png)

- project details pages:

   ![

[2020-05-07 07:04] drasticdpk commented on #3842
Verified on prod env
![image](https://user-images.githubusercontent.com/25297859/81264381-03e83b00-9061-11ea-9ae5-07642e32a437.png)

Ok noted cc @vikasrohit

[2020-05-07 07:04] #3842 closed

[2020-05-07 07:16] vikasrohit commented on #3962
okay. Lets not start working on it yet. I think already have a role clean up planned in couple of months.

[2020-05-07 07:19] drasticdpk commented on #3988
Verified with Other Role :
**Challenge Listing page**
![image](https://user-images.githubusercontent.com/25297859/81265490-e7e59900-9062-11ea-8a52-19a2720fbe91.png)

**project details pages:**

![image](https://user-images.githubusercontent.com/25297859/81265662-34c96f80-9063-11ea-92ac-a80d1f520525.png)

[2020-05-07 07:23] lakshmiathreya commented on #3988
Admin user view:
<img width="916" alt="Screenshot 2020-05-07 at 12 53 01 PM" src="https://user-images.githubusercontent.com/51733042/81266074-c1732e00-9061-11ea-9383-45d4ab2fa832.png">

[2020-05-07 07:31] lakshmiathreya commented on #3988
Email not visible to Connect Admin:
<img width="1299" alt="Screenshot 2020-05-07 at 1 00 16 PM" src="https://user-images.githubusercontent.com/51733042/81266688-d13f4200-9062-11ea-86f6-c5c1aa55298d.png">

[2020-05-07 07:34] lakshmiathreya commented on #3842
Admin view in Prod :
<img width="1360" alt="Screenshot 2020-05-07 at 1 03 41 PM" src="https://user-images.githubusercontent.com/51733042/81266908-3e52d780-9063-11ea-8607-9f2f034b9c76.png">

[2020-05-07 07:51] lakshmiathreya commented on #3965
Max value of 10000 working as expected in Prod for People and Duration fields.

[2020-05-07 08:06] #3988 closed

[2020-05-07 08:15] drasticdpk commented on #3982
Verified on prod
![image](https://user-images.githubusercontent.com/25297859/81270674-d2746d00-906a-11ea-869c-25263580912b.png)

[2020-05-07 08:15] #3982 closed

[2020-05-07 08:33] #3965 closed

[2020-05-07 08:39] #3964 closed

[2020-05-07 08:39] drasticdpk commented on #3964
Verified on prod env.
![image](https://user-images.githubusercontent.com/25297859/81273349-790e3d00-906e-11ea-9bc2-587ac669a6e6.png)

[2020-05-07 10:48] lakshmiathreya commented on #3962
Roles permissions need to be fixed overall. Possibly in 2.10? Hence reopening the Issue and moving to 2.10.
<img width="1260" alt="Screenshot 2020-05-07 at 3 05 59 PM" src="https://user-images.githubusercontent.com/51733042/81286272-67349600-907e-11ea-86b2-51c8fe515e16.png">
<img width="1317" alt="Screenshot 2020-05-07 at 3 18 53 PM" src="https://user-images.githubusercontent.com/51733042/81286288

[2020-05-07 10:58] maxceem opened #3989 "Fix Roles Matrix"
We have a roles matrix https://htmlpreview.github.io/?https://github.com/topcoder-platform/tc-project-service/blob/develop/docs/permissions.html#roles-matrix
![image](https://user-images.githubusercontent.com/146016/81287020-b670cb80-906a-11ea-9b32-b33b6ad18dff.png)

It was reviewed by Ariel and here is her clarification:

[2020-05-07 11:07] lakshmiathreya commented on #3962
Related to #3989

[2020-05-07 11:13] maxceem commented on #3962
@lakshmiathreya in this issue we've implemented it as per the current matrix in https://github.com/appirio-tech/connect-app/issues/3962#issuecomment-623789899.

And as per testing, this works well with such requirements. The matrix now has to be updated as per clarifications from Ariel which is tracked under the new issue https://github.com/appirio-tech/connect-app/issues/3989.
If you don't mind I

[2020-05-07 11:18] lakshmiathreya commented on #3962
Working for Connect Manager - when invited with handle as per correct case. So closing this Issue since the other requirements are being tracked in #3989.
<img width="1345" alt="Screenshot 2020-05-07 at 4 45 46 PM" src="https://user-images.githubusercontent.com/51733042/81288545-774e7480-9082-11ea-8da7-445ee803349e.png">

[2020-05-07 11:18] #3962 closed

[2020-05-07 11:19] maxceem opened #3990 "Inviting users by handles should be case-insensetive"
### Steps to reproduce the problem
- Register or use an existent user with capital letters in the handle, for example `lakshmiaConMgr`
- Make sure user has `Connect Manager` role
- Invite such a user as a Manager to the Topcoder Team, but during invitation use lowercase handle, like `lakshmiaconmgr`
- Observe, that user cannot be invited

### Expected bahaviour

User should be able to be invited n

[2020-05-07 11:29] lakshmiathreya commented on #3990
Works when invited as 'lakshmiaConMgr':
<img width="1345" alt="Screenshot 2020-05-07 at 4 45 46 PM" src="https://user-images.githubusercontent.com/51733042/81289435-0c9e3880-9084-11ea-9247-8b464eecf3d5.png">

[2020-05-07 11:59] maxceem commented on #3989
@vikasrohit let me know if you like to make this change or should we keep things as they are as we are going to clean up roles soon.

[2020-05-07 12:26] vikasrohit commented on #3990
@acshields do you want to track it in product board? or just have some thoughts in agreement of it?

[2020-05-07 13:09] maxceem commented on #3983
This is done by https://github.com/topcoder-platform/tc-project-service/pull/571 and https://github.com/topcoder-platform/tc-project-service/commit/61aa6a2635c7a1c4846097404f8ba7d73d515882 in Project Service and is ready for testing on DEV.

QA guidelines:
1. user who created attachment can always see it
2. by default all other users also can see attachments
3. if we explicitly set a list of users

[2020-05-08 14:26] vikasrohit opened #3991 "Add tooltip of status icons"
<img width="1119" alt="Screen Shot 2020-05-08 at 7 51 04 PM" src="https://user-images.githubusercontent.com/2417632/81415262-d507bd00-9165-11ea-956c-92abe5d6c95b.png">

Need to add tooltip for the status icons in project listing page (both list and card view).

[2020-05-12 02:06] codejamtc opened #3992 "UI issue on the project card; if there are so many users and the invitation button is active"
### Expected behavior
Should limit the number of avatars and increase +x record

### Actual behavior
UI issue on the project card; if there are so many users and the invitation button is active

### Steps to reproduce the problem

- Login as Account Executive
- Check the Project Card

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/42398485/81630448-3e3c3a00-93cb-11ea

[2020-05-12 02:12] codejamtc commented on #3983
Fixed in `Dev`: 🆗
https://monosnap.com/file/zbbCUr36H4hMsFhbxu6Kk8PqrDJJ8a

[2020-05-12 12:38] codejamtc opened #3994 "Links section have a 'Shared with' option"
### Expected behavior
Since the link dialog box don't have 'Shared with' option to restrict the link for particular users; the column should remove from the table

### Actual behavior
Links section have a 'Shared with' option

### Steps to reproduce the problem

- Login as Manager
- Click on a project on project listing page - https://connect.topcoder-dev.com/projects/9074/assets
- Go to 'Assets L

[2020-05-12 12:41] codejamtc opened #3995 "Links list is sorted by Date 'Asc' by default (Latest at the bottom)"
### Expected behavior
Should list the latest addition at the top like in the Files section

### Actual behavior
Links list is sorted by Date 'Asc' by default (Latest at the bottom)

### Steps to reproduce the problem

- Login as Manager
- Click on a project on project listing page - https://connect.topcoder-dev.com/projects/9074/assets
- Go to 'Assets Library' > Links
- Click Add New and insert a

[2020-05-12 12:55] maxceem commented on #3994
@vikasrohit what do you think about this? Technically we can support it now, as links are now handled the same way as files using Attachment model.

[2020-05-12 12:57] maxceem commented on #3995
@vikasrohit I think this is a great suggestion. We also show newer topics/posts at the top. Should we confirm this with the product team?

[2020-05-12 15:56] codejamtc opened #3997 "Console error when the user tries to change the permission of an existing file"
### Expected behavior
Should not display an error

### Actual behavior
Console error when the user tries to change the permission of an existing file

Please note that this is not reproducible for all the files (Only for this specific file)

### Steps to reproduce the problem

- Login as Copilot
- Click on a project on project listing page - https://connect.topcoder-dev.com/projects/9074/assets
-

[2020-05-12 16:07] codejamtc opened #3998 "Invitation button overlaps with the "Project Status" button"
### Expected behavior
Should not overlap the button with the status icon

### Actual behavior

### Steps to reproduce the problem

- Login as Copilot
- Check a project with the Invitation button

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/42398485/81717904-c01a7a80-9440-11ea-89b1-6a3d248d6060.png)

#### Environment
**- OS:** HP 15-dw1xxx 15.6 inch; Window 10
**-

[2020-05-12 16:18] codejamtc opened #3999 "Cancel and Complete popup box overlap with the Invitation button"
### Expected behavior
Should not overlap the button with the popup box

### Actual behavior
Cancel and Complete popup box overlap with the Invitation button

### Steps to reproduce the problem

- Login as Copilot
- You should have a project that can change the status from the project listing page as the first project on the listing
- You should have a pending invitation on the second project on th

[2020-05-12 16:27] codejamtc opened #4000 "After 'Pause' Copilot can't move the status to In-Review/Reviewed from the project status dropdown"
### Expected behavior
- Because copilot can do the status change (In-Review/Reviewed) by going inside the project details page > Administration; In here also user should be able to do that
- When the user go back to the project listing page; the new status should reflect on the project

### Actual behavior
- After 'Pause' Copilot can't move the status to In-Review/Reviewed from the project status

[2020-05-12 16:47] codejamtc opened #4001 "Project Status dropdown move to the left when the user selects Cancelled/Completed"
### Expected behavior
- Project Status dropdown should stay at where it is when the user selects Cancelled/Completed

### Actual behavior
- Project Status dropdown move to the left when the user selects Cancelled/Completed

### Steps to reproduce the problem

- Login as Copilot
- Open the Project https://connect.topcoder-dev.com/projects/9074
- And go to 'Administration' section and change the sta

[2020-05-12 17:09] codejamtc opened #4002 "User can't change the project staus if they are in grid view"
### Expected behavior
- User should be able to change the project status in grid view also

### Actual behavior
- User can't change the project status if they are in grid view

### Steps to reproduce the problem

- Login as Copilot
- In the project listing page; check for a project that can change the project status
- Switch to Grid View
- Now check the same project and try to change the status

c

[2020-05-13 08:58] vikasrohit commented on #4002
THanks @codejamtc for reporting, however, it was as designed, Card View was never designed to allow status changes as it was mainly aimed for customers. I am marking it as won't fix for now, we can pick it later.

[2020-05-13 09:20] vikasrohit commented on #3995
Yes it is. We can go ahead with it.

[2020-05-13 09:24] vikasrohit commented on #3994
We do have it logged https://github.com/appirio-tech/connect-app/issues/3747, but for some reason the feature is on hold by product manager. I have asked for the go ahead of this, lets wait for the confirmation.

[2020-05-13 15:20] codejamtc opened #4003 "'Talent Area' question is expanded when the user press on 'Enter' key while entering invalid skills"
### Expected behavior
- Should not expand the 'Talent Area' question

### Actual behavior
- 'Talent Area' question is expanded when the user press on 'Enter' key while entering invalid skills

### Steps to reproduce the problem

- Login as Manager
- Click 'Create Project' > Choose 'TaaS'
- Go to 'What skills are important for your team to have?' question
- Make sure all the other questions are col

[2020-05-13 15:50] RishiRajSahu opened #4004 "Bring project type info on Project page"
We need to have the project type icon/Text on the project page so that it would be helpful in chameleon integration for our app. We used to have Icon earlier and its been gone with last updates/requirements.

@maxceem @vikasrohit @acshields

[2020-05-13 15:55] RishiRajSahu commented on #4004
I think we would need to have text mentioniong the type of project, as icon is just and svg which doesn't contain any info about project-type or does it ? @vikasrohit

[2020-05-13 15:57] acshields commented on #4004
Having text included would be a great addition. We can use the scope form’s title to supply the text in the project.

[2020-05-13 16:53] codejamtc opened #4005 "If the user clicks on the 'Esc' button from the project creation confirmation page. The new project is not displayed on the project listing page (User needs to refresh/ or switch tabs)"
### Expected behavior
- Should display the new pro on the project listing page

### Actual behavior
- If the user clicks on the 'Esc' button from the project creation confirmation page. The new project is not displayed on the project listing page (User needs to refresh/ or switch tabs)

### Steps to reproduce the problem

- Login as Manager
- Click 'Create Project' > Choose Any project
- Create a

[2020-05-13 19:18] codejamtc opened #4006 "'Compatibility Testing' project icon is displayed in white so it is not visible in project listing page"
### Expected behavior
- Should display the icon in blue color

### Actual behavior
- 'Compatibility Testing' project icon is displayed in white so it is not visible in project listing page

### Steps to reproduce the problem

- Login as Manager
- Click 'Create Project' > Select 'Compatibility Testing'
- Create a project
- Go to the Project listing page and check the icon

**Please note this may be

[2020-05-13 19:27] codejamtc opened #4007 "While creating a 'Compatibility Testing' project the form title shows as "Accessibilty Testing""
### Expected behavior
- Should display as 'Compatibility Testing'

### Actual behavior
- While creating a 'Compatibility Testing' project the form title shows as "Accessibilty Testing"

### Steps to reproduce the problem

- Login as Customer
- Click '+ New Project' > Select 'Compatibility Testing'
- Select 'Quality Assurance' > Press 'Select' button from 'Compatibility Testing'
- Set Why are you s

[2020-05-13 19:32] codejamtc opened #4008 "'Accessibility Testing' project title has a spelling mistake (Accessibilty Testing)"
### Expected behavior
- Should display as 'Accessibility Testing'
- Should be - https://connect.topcoder-dev.com/new-project/qa_accessibility_testing

### Actual behavior
- 'Accessibility Testing' project title has a spelling mistake (Accessibilty Testing)
- URL also has that spelling issue - https://connect.topcoder-dev.com/new-project/qa_accessibilty_testing

### Steps to reproduce the problem

[2020-05-13 19:56] codejamtc opened #4009 "'Functional Feature Testing' project title displayed as 'User Sentiment Testing'"
### Expected behavior
- Should display as 'Functional Feature Testing'

### Actual behavior
- 'Functional Feature Testing' project title displayed as 'User Sentiment Testing'

### Steps to reproduce the problem

- Login as Customer
- Click '+ New Project' > Click 'View Solutions' from the Solutions
- Select 'Quality Assurance' > Press 'Select' button from 'Functional Feature Testing'
- Set 'Why ar

[2020-05-13 20:00] codejamtc opened #4010 "'Exploratory Testing' project title displayed as 'Accessibility Testing'"
### Expected behavior
- Should display as 'Exploratory Testing'

### Actual behavior
- 'Exploratory Testing' project title displayed as 'Accessibilty Testing'

### Steps to reproduce the problem

- Login as Customer
- Click '+ New Project' > Click 'View Solutions' from the Solutions
- Select 'Quality Assurance' > Press 'Select' button from 'Exploratory Testing'
- Set 'Why are you starting this pro

[2020-05-13 21:00] codejamtc opened #4011 "User can't search projects using Project name and REF code"
### Expected behavior
- User should be able to search projects using Project name and REF code

### Actual behavior
- User can't search projects using Project name and REF code

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing page
- Enter 'TCConManager' to search and click Search and observe the result (Results are populated)
- Enter 'Accessibility Testing' to search

[2020-05-13 21:10] codejamtc opened #4012 "There is an another 'Create a new project' button at the bottom of the project list in Grid view"
### Expected behavior
- Should remove it because it is a duplicate, + New project button is on the header already

### Actual behavior
- There is an another 'Create a new project' button at the bottom of the project list in Grid view

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing page
- Go to Grid view and scroll down to the last item

cc @vikasrohit

### Screensho

[2020-05-13 21:25] codejamtc opened #4013 "Current Status can be applied again and again using the status dropdown"
### Expected behavior
- Should not be able to select the same status again and again

### Actual behavior
- Current Status can be applied again and again using the status dropdown

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing page
- Select a project with the Status=Active
- Click on the Status dropdown from the action column > Select 'Active'
- You can see a Proje

[2020-05-13 21:56] codejamtc opened #4014 "Instead of displaying the "All Projects" the page will display the data on the last tan the user is in"
### Expected behavior
- Should display all the projects

### Actual behavior
- Instead of displaying the "All Projects" the page will display the data on the last tan the user is in

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing page
- Go to the 'Paused' tab
- Click on a project and open it
- Now click on the '< All Projects'
- Check the items and check the status

[2020-05-14 02:31] codejamtc opened #4015 "Posting a message with an attachment fails"
### Expected behavior
- Should be able to post a message with an attachment

### Actual behavior
- Posting a message with an attachment fails

[code]

### Steps to reproduce the problem

- Login as Copilot
- Go to a Project - https://connect.topcoder-dev.com/projects/9074/
- Go to the 'Message' tab
- Post a message with an attachment **(Sample attachment used, with the name)**
![Health-Insurance-a

[2020-05-14 02:47] codejamtc opened #4016 "Pasting a link to the message section will identify it as 2 links"
### Expected behavior
- Should identify it as a single link

### Actual behavior
- Pasting a link to the message section will identify it as 2 links

### Steps to reproduce the problem

- Login as Copilot
- Go to a Project - https://connect.topcoder-dev.com/projects/9074/
- Go to the 'Message' tab
- Post a message with a link (Please copy-paste the link from another place; User the address bar of

[2020-05-14 03:02] codejamtc opened #4017 ""TypeError: Cannot read property 'children' of undefined" when user tries to post a message with white spaces"
### Expected behavior
- Should validate the white spaces for a message

### Actual behavior
- "TypeError: Cannot read property 'children' of undefined" when user tries to post a message with white spaces

[code]

### Steps to reproduce the problem

- Login as Copilot
- Go to a Project - https://connect.topcoder-dev.com/projects/9074/
- Go to the 'Message' tab
- Click on a message thread
- Enter sp

[2020-05-14 05:16] maxceem opened #4018 "[Bulk Milestone Updates] Regression Testing"
We did some internal refactoring how milestones with timelines work:

![image](https://user-images.githubusercontent.com/146016/81893291-05ac8400-95b6-11ea-9623-5c4e844b022a.png)

**The expected outcome is that functionality didn't change.** The only difference is that now we are making fewer server requests as mentioned in the test cases below.

To validate that milestones functionality didn't ch

[2020-05-14 06:40] maxceem commented on #4008
Fixed in DEV data.
An old URL with a typo also works for backward compatibility.

[2020-05-14 06:44] maxceem commented on #4007
@RishiRajSahu this issue in the PROD metadata which I cannot fix by myself. Could you, please, help me with this.

[2020-05-14 06:46] vikasrohit commented on #4004
@acshields I would not like to do any change specific to chameleon. I mean having a text might help in chameleon management but it might not look good in UI and specially might require consistent copy updates and fixes. I would suggest to only use icon with name of the template as tooltip, I think chameleon would be able to pick that.

[2020-05-14 07:32] vikasrohit commented on #4010
Fixed on prod.

[2020-05-14 07:46] vikasrohit commented on #4007
Fixed on production.

[2020-05-14 07:57] vikasrohit commented on #4009
Fixed on production.

[2020-05-14 08:20] vikasrohit commented on #4011
I think everything is working as expected. When you are searching `TCConManager` it would return projects which has this as text any where in the project text or if any of the project members has it as handle, first name or last name and I am seeing that projects returned are having the user with this handle as part of the team.

When you want to search `Accessibility Testing`, you are getting the

[2020-05-14 09:31] vikasrohit commented on #4012
as per design.

[2020-05-14 09:31] #4012 closed

[2020-05-14 09:46] maxceem commented on #3865
- This should be fixed in the Project Service https://github.com/topcoder-platform/tc-project-service
- When we are searching for `ref c` (or other string with any characters inside) we have to only get project with ref code which includes our query as a substring, case-insensitive.

[2020-05-14 09:50] maxceem commented on #3867
- This should be fixed in the Project Service https://github.com/topcoder-platform/tc-project-service
- The fix in Project Service should also support requirements in this issue https://github.com/topcoder-platform/tc-project-service/issues/572

[2020-05-14 11:22] maxceem commented on #3990
@vikasrohit should we fix this or wait for confirmation?

[2020-05-14 11:45] maxceem commented on #3971
@vikasrohit what do you think about these enhancements?

[2020-05-14 12:01] maxceem commented on #3960
@codejamtc `Connect Account Manager` user joins a project as `account_manager` not `manager`

![image](https://user-images.githubusercontent.com/146016/81931762-45de2780-95f3-11ea-8137-8578ec7aa1ec.png)

This is as per our current roles matrix

![image](https://user-images.githubusercontent.com/146016/81931845-64dcb980-95f3-11ea-9d08-4c7eb68f39a2.png)

Currently, such users cannot change project s

[2020-05-14 12:01] #3960 closed

[2020-05-14 12:04] maxceem commented on #3959
@vikasrohit should we fix this?

[2020-05-14 12:09] maxceem commented on #3955
Sum up:
- we have to fix it in https://github.com/appirio-tech/connect-app/ and https://github.com/appirio-tech/react-components/tree/feature/connectv2 repositories.
- make sure that no warnings are produced in browser console after the fixes
- don't remove any propTypes if the props are not actually removed
- adjust types if necessary

[2020-05-14 12:12] maxceem commented on #3945
Sum up:
- Button **Upload a new photo** should be highlighted on mouse hover using the standard style as we use for other blue buttons. For example like **New Project**:

   ![image](https://user-images.githubusercontent.com/146016/81933012-52fc1600-95f5-11ea-8424-64354264e1cc.png)

[2020-05-14 12:19] vikasrohit commented on #3959
We can do this.

[2020-05-14 12:21] vikasrohit commented on #3865
@codejamtc please see more details https://github.com/appirio-tech/connect-app/issues/4011#issuecomment-628475030

[2020-05-14 12:28] vikasrohit commented on #3971
I think only Suggestion 02 (Company name to Company Name) is something which can be done for now, rest are more or less product decisions.

[2020-05-14 12:35] codejamtc commented on #4007
![image](https://user-images.githubusercontent.com/42398485/81934983-8028d400-95b5-11ea-98e4-2c34086ad985.png)

[2020-05-14 12:39] codejamtc commented on #4008
Fixed in `Dev` - 🆗
![image](https://user-images.githubusercontent.com/42398485/81935199-deee4d80-95b5-11ea-852c-7bb037183cca.png)

In `Prod` I can see `Acceptance/Beta Testing` instead `Accessibility Testing' ❌ @maxceem @vikasrohit

![image](https://user-images.githubusercontent.com/42398485/81935232-ee6d9680-95b5-11ea-9ffb-7c823c4a3c56.png)

[2020-05-14 12:41] maxceem opened #4019 "[Inviting users] - Regression testing"
We did some internal refactoring regarding user invites. The refactoring is not big, but to make sure there are no side-effect issues, it would be good test the next important cases:
1. invite a user to the **Customer Team** user by `handle`
2. invite an existent user to the **Customer Team** user by `email`
3. invite a NON-existent user to the **Customer Team** user by `email`

[2020-05-14 12:41] codejamtc commented on #4009
![image](https://user-images.githubusercontent.com/42398485/81935518-5e7c1c80-95b6-11ea-8fa8-8fe5b1dd7b75.png)

[2020-05-14 12:52] codejamtc commented on #4011
@vikasrohit
- "Accessibility Testing" is working
- refCode:5132020 is not working for me

https://monosnap.com/file/HgPFjIT957gCSDwh1t5NpZbh2V9h4Q

[2020-05-14 12:53] codejamtc commented on #3865
@vikasrohit `refcode` is not working for me https://github.com/appirio-tech/connect-app/issues/4011#issuecomment-628613246

[2020-05-14 12:55] codejamtc commented on #4010
![image](https://user-images.githubusercontent.com/42398485/81936654-37264f00-95b8-11ea-8434-cb21581f5047.png)

[2020-05-14 13:14] codejamtc commented on #4019
- Invite a user to the Customer Team user by handle. 🆗
- Invite an existent user to the Customer Team user by email. 🆗
- Invite a NON-existent user to the Customer Team user by email. 🆗

https://monosnap.com/file/PvBLBZw8R6HJGSWEoOv6z155wgyBeC

[2020-05-14 13:28] drasticdpk commented on #4007
Verified with manager Role for prod env.

[2020-05-14 13:28] #4007 closed

[2020-05-14 13:31] codejamtc opened #4020 "When I register a new account using the invitation email; some data are not visible on the 'Profile Information' section"
### Expected behavior
- Should display all the data provided on the registration form in the 'Profile Information' section
- When you look at the above video you can see I have provided this info (`Title`, `Business Phone`, `Country code`, `Company name`, `Country` and `Local Timezone`) while registering but after registering when I access the 'Profile Information' some of the data are missing

##

[2020-05-14 13:32] drasticdpk commented on #4009
Verified with manager Role.

[2020-05-14 13:32] #4009 closed

[2020-05-14 13:33] drasticdpk commented on #4010
Verified  form manger Role.

[2020-05-14 13:33] #4010 closed

[2020-05-14 15:11] codejamtc opened #4021 "For some users we can't invite them using user handle"
### Expected behavior
- Should be able to incite via the handle

### Actual behavior
- For some users we can't invite them using user handle

[code]

### Steps to reproduce the problem

- Login as Manager
- Go to a Project - https://connect.topcoder-dev.com/projects/9074
- Click 'Manage Invitations' from Teams
- Enter `-coder-` {https://www.topcoder-dev.com/members/-coder-/} and select the handle

[2020-05-14 16:07] codejamtc opened #4022 "{Common} When user has done some changes to the project and come back to the project listing page the changes won't reflected on the page"
### Expected behavior
- Should display the changes on the project listing page immediately

### Actual behavior
- {Common} When user has done some changes to the project and come back to the project listing page the changes won't reflect on the page

### Steps to reproduce the problem

- Login as Manager
- Go to a Project - https://connect.topcoder-dev.com/projects/9074
- Go to Scope > Change the

[2020-05-14 16:17] codejamtc opened #4023 "Invalid validation message displayed when the manager tries to join to a project as an 'Observer'"
### Expected behavior
- Should change the validation message text, because the manager can't join as most of the user roles mentioned on the validation message
- "VALIDATION ERROR: "ROLE" MUST BE ONE OF [MANAGER, ACCOUNT_MANAGER]"

### Actual behavior
- Invalid validation message displayed when the manager tries to join to a project as an 'Observer'
- "VALIDATION ERROR: "ROLE" MUST BE ONE OF [CUST

[2020-05-14 16:21] codejamtc opened #4024 "If there are no current members on the Topcoder team; 'View' button is displayed and an empty popup is shown"
### Expected behavior
- Better to hide the 'View' link if there are no members on the team

### Actual behavior
- If there are no current members on the Topcoder team; 'View' button is displayed and an empty popup is shown

### Steps to reproduce the problem

- Login as Manager
- Go to a Project - https://connect.topcoder-dev.com/projects/16561
- Click 'View' from the Topcoder team

cc @vikasrohit

[2020-05-14 16:27] codejamtc opened #4025 "If there are no members on the Customer team; 'Customer team' popup will show an extra line below the title"
### Expected behavior
- Should remove the extra line below if there is no member list

### Actual behavior
- If there are no members on the Customer team; 'Customer team' popup will show an extra line below the title. This is the line that appears above the first record when we have few members on the list.

![image](https://user-images.githubusercontent.com/42398485/81959971-df96dc00-95d5-11ea-89

[2020-05-15 03:50] coderhacker commented on #4018
QA update: Regression testing is in-progress. the final result very posted very soon. Thanks

[2020-05-15 04:36] codejamtc commented on #3836
Duplicate of https://github.com/appirio-tech/connect-app/issues/3601

[2020-05-15 04:36] #3836 closed

[2020-05-15 05:48] maxceem commented on #4021
- This issue most likely has to be fixed in Project Service repo https://github.com/topcoder-platform/tc-project-service.
- We have to understand the root cause of this issue and fix this issue as a class.

[2020-05-15 05:50] maxceem commented on #4004
@vikasrohit do we have some agreement on which way to implement this?

[2020-05-15 05:58] maxceem opened #4026 ""New Project" button shouldn't become multiline"
### Expected behavior

"New Project" button stays one line and text stays inside, the button become wider automatically.

![image](https://user-images.githubusercontent.com/146016/82016544-ef6ff800-9689-11ea-9ddf-cb63da391134.png)

### Actual behavior

"New Project" button becomes multiline and text goes out of the button.

![image](https://user-images.githubusercontent.com/146016/82016503-dd8e550

[2020-05-15 06:05] maxceem commented on #3971
Suggestion 02 is done by https://github.com/appirio-tech/connect-app/commit/929c60ce42688cf655029cdb755ed3548a0e34fe

[2020-05-15 06:21] maxceem commented on #3959
- We should additionally allow seeing the salseforce and Direct link to the users with **Project Role** `account_manager`
- Instead of just adding another role to the existent code https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/ProjectInfoContainer.js#L428-L444 we have to rewrite this code using our new way of defining permissions.
   - Add a new permission `VI

[2020-05-15 06:29] maxceem commented on #3932
This is fixed via https://github.com/topcoder-platform/tc-project-service/pull/555 and can be tested.

[2020-05-15 07:29] maxceem commented on #3889
@codejamtc that's correct behavior, not all users can see the `Specification` tab of the phases.

[2020-05-15 07:31] maxceem commented on #3840
@vikasrohit should we implement this enhancement?

[2020-05-15 07:33] RishiRajSahu commented on #4004
@maxceem I have proposed to put some basic code changes and get the UI changes reviewed to know whether that should work for chameleon or not from Product team. So will try to do it today.

[2020-05-15 07:41] maxceem commented on #3828
@codejamtc I cannot reproduce this issue anymore

![image](https://user-images.githubusercontent.com/146016/82024405-69a77900-9698-11ea-91c9-28d9f5e60886.png)

Note, that we still have to make a fix there, when we invite user `b` we should successfully invite user `B` as user handle suppose to be case-insensitive. But this is tracked as a separate issue https://github.com/appirio-tech/connect-app/

[2020-05-15 08:28] maxceem commented on #4015
It looks like the issue on the server:

[code]

I think the reason is the same as https://github.com/appirio-tech/connect-app/issues/3986

[2020-05-15 08:52] vikasrohit commented on #3840
No. I don't think it as priority stuff. Moving to backlog.

[2020-05-15 09:01] coderhacker commented on #4018
QA Comments:  Regression testing has been done for this issue and this is a pass from QA., not any issues identified during regression testing, please find attached video file for the pass test case.

File Name: Regression_testing_4018_pass.mp4
file location : https://1drv.ms/v/s!ApYBYkEksnlSgbUusD1M0dD8RBcimA?e=iqWGHp

[2020-05-15 09:21] maxceem commented on #4005
Sum up:
- when we click the cross (esc) button on the project creation page we have to make sure that the project list is reloaded:

   ![image](https://user-images.githubusercontent.com/146016/82034040-4e436a80-96a6-11ea-8594-60f727b32c86.png)

- Note, that if we click (sec) on other pages during creating a new project but before creating, we should not reload the project list.

[2020-05-15 09:26] vikasrohit commented on #3990
Lets wait.

[2020-05-15 10:05] vikasrohit commented on #4011
Try with `ref: 5132020`.

[2020-05-15 10:34] maxceem opened #4027 "Update NPM package with security vulnerabilities and others"
1. Packages mentioned on https://github.com/appirio-tech/connect-app/network/alerts

   ![image](https://user-images.githubusercontent.com/146016/82040832-e09c3c00-96af-11ea-94ae-733b40e0729a.png)

2. Packages returned by `npm audit`

    ![image](https://user-images.githubusercontent.com/146016/82040864-eeea5800-96af-11ea-8350-912ccd700a9c.png)

3. Optionally, consider updating all the packages

[2020-05-15 10:41] maxceem opened #4028 "Consider fixing issues reported by LGTM"
Consider fixing issues found by LGTM - **A code analysis platform for finding zero-days and preventing critical vulnerabilities**.

See report for Connect App https://lgtm.com/projects/g/appirio-tech/connect-app/?mode=list

![image](https://user-images.githubusercontent.com/146016/82041529-fd853f00-96b0-11ea-90dd-74c4ccfedd76.png)

- Connect App has `141` alerts.
- There are 3 levels of alerts:

[2020-05-15 11:45] maxceem commented on #4003
- I can reproduce it even if I just put cursor to the skills field and start pressing `Enter`, the **Talen Area** question expands/collapses on every `Enter` press, see video https://monosnap.com/file/EmAaUM3wg856lidZwxJ50sW6eQUJpR
- Here is the link to see the form https://connect.topcoder-dev.com/new-project/talent-as-a-service
- We have to fix it in general for the `SkillsQuestion` component wh

[2020-05-15 11:53] maxceem commented on #4022
This issue includes changing status as was reported in https://github.com/appirio-tech/connect-app/issues/4000 the second part of the issue.

[2020-05-15 11:54] maxceem commented on #4000
There are 2 issues:
1. When we change status in the Project Listing, members and invites disappear and we cannot change the project status anymore.
2. If we change something on the Project Details page and after go to the Project Listing page, the changes we made on the Project Details page are not reflected on the project listing page. This is a general issue and we track it with https://github.c

[2020-05-15 12:07] maxceem commented on #4022
There are 2 possible solutions:

1. 👎if we updated anything inside the project and go the project listing we have force project list reloading.
2. 👍when we update the project we have to also update it inside project listing in the Redux store without reloading.

Let's try the second approach here.

[2020-05-15 12:21] maxceem commented on #3998
@vikasrohit I suggest moving `You're invited` dropdown to the **project** column. There are several benefits:
1. this issue is fixed and we don't have to make **Topcoder** column wider only for this dropdown which is not always there.
2. on the smaller screen sizes, we are hiding **Topcoder** column, so users cannot see this buttons at all, see video https://monosnap.com/file/HrWewEBe0oJwAqBYh0w9D

[2020-05-15 12:24] maxceem commented on #3994
Closing this issue as duplicate of https://github.com/appirio-tech/connect-app/issues/3747.

[2020-05-15 12:24] #3994 closed

[2020-05-15 12:32] maxceem commented on #3992
Limited to showing a maximum of 4 avatars, so there is a space for invitation button:

![image](https://user-images.githubusercontent.com/146016/82050559-03831c00-96c1-11ea-900e-1946bd6adacb.png)

Done by https://github.com/appirio-tech/connect-app/commit/31e4a3bda7d4e0e6ddad960a25d634544e7b30bb

Ready for review.

[2020-05-15 12:38] maxceem commented on #3991
@vikasrohit in the card view we already showing the full text of the project status, so I guess we don't need a tooltip there:

![image](https://user-images.githubusercontent.com/146016/82050992-bce1f180-96c1-11ea-9bcc-c1237006f954.png)

Sum up:
- Add tooltip with the project status only in the greed view as shown on the screenshot in the description of this issue.
- Inside the tooltip, show the s

[2020-05-15 13:00] maxceem commented on #3973
Sum up:
- Previously we fixed on the project details page https://github.com/appirio-tech/connect-app/issues/3884
- We have to show the text inside tooltip multiline as it's done the project details page

   ![image](https://user-images.githubusercontent.com/146016/82052971-362f1380-96c5-11ea-9be1-8081a81c9220.png)

[2020-05-15 13:05] maxceem commented on #3975
I can reproduce it with `TopConnCustomer` user, but cannot reproduce it with `pshah_customer` in some reason.

[2020-05-15 13:07] codejamtc commented on #3992
Fixed: 🆗

![image](https://user-images.githubusercontent.com/42398485/82053529-1e36a000-9683-11ea-82f5-a4b113a7193a.png)

[2020-05-15 13:13] maxceem opened #4029 "Fix errors in browser console"
When are loading project https://connect.topcoder-dev.com/projects/16562/ there is an error in browser console

![image](https://user-images.githubusercontent.com/146016/82053946-d6d20300-96c6-11ea-8cad-6af91f053c16.png)

Note, that you can see more details about the error when run the project locally.

- We have to find out the root cause of this error and fix it.
- We shouldn't just mask the err

[2020-05-15 13:21] codejamtc commented on #3932
Fixed. 🆗

https://monosnap.com/file/k0pt0Wbp6UTDqAdnHx8bcykQSmOFZN

[2020-05-15 13:24] codejamtc commented on #3975
@maxceem Yes, correct

[2020-05-15 13:29] codejamtc commented on #4011
@vikasrohit Tried `ref:5132020` and `ref: 5132020` still I can see other ref codes on the list ❌

https://monosnap.com/file/1E5XAGtz44qHWo2Nkaoo7jXiIoYUp1

[2020-05-15 13:33] codejamtc commented on #3828
@maxceem Yes, correct now if we enter `b`, the system will display an error and if we enter `B` system will add the user handle `B` to the list

https://monosnap.com/file/wMtvjfjamVSqVcsO5oXGZKNHpDBqg4

[2020-05-15 13:35] maxceem commented on #3828
Then I'm closing this issue. Feel free to reopen it if there is something that has to be fixed.

[2020-05-15 13:35] #3828 closed

[2020-05-15 13:36] codejamtc commented on #3889
@maxceem Noted, Thanks

[2020-05-15 13:37] maxceem commented on #3829
I think this is a duplicate of https://github.com/appirio-tech/connect-app/issues/3828 which cannot be reproduced anymore. So I'm closing this issue also.

Feel free to reopen it if there is anything to be done.

cc @codejamtc

[2020-05-15 13:37] #3829 closed

[2020-05-15 13:42] maxceem commented on #3827
We suppose to fix it on the server-side by filtering members by active when we are retrieving the handles so we don't get duplicates. But for some reason on PROD the Identity Service hangs when we are adding a filter, so we are waiting for the Identity Service on PROD to works correctly first, then we can apply the fix.

The filter works good on DEV:

[code]

returns only active user

[code]

[2020-05-15 13:47] maxceem commented on #3874
Sum up:
- this issue has to be fixed in general for all the tooltips. So maybe it should be fixed inside `appirio-tech-react-components/components/Tooltip/Tooltip` component in the https://github.com/appirio-tech/react-components/tree/feature/connectv2 library.

[2020-05-15 13:48] maxceem commented on #4022
This issue should include fixing https://github.com/appirio-tech/connect-app/issues/3864

[2020-05-15 13:48] maxceem commented on #3864
This issue is a duplicate of https://github.com/appirio-tech/connect-app/issues/4022. Though I keep it open just so we test this case also.

[2020-05-15 14:00] maxceem commented on #4029
As a part of this issue, fix another issue. We cannot open messages anymore:

- Go to https://connect.topcoder-dev.com/projects/9074/messages/

- Click any topic and it won't be loaded:

   ![image](https://user-images.githubusercontent.com/146016/82058489-801bf780-96cd-11ea-872a-3ba8dee7c680.png)

[2020-05-15 14:22] maxceem commented on #3876
Sum up:
- This issue only happens when we are clicking the same tab where we already there. If we click some other tab it works correctly. For example, if we do all the above on the **Dashboard** tab and we click the **Messages** tab, then we get the same message, and if we click **OK** we go to the **Messages**, which is correct.
- So what we have to do there, is don't do anything on the click on

[2020-05-15 14:33] maxceem commented on #4029
I think this issue happens after we create a message with spaces inside the project https://github.com/appirio-tech/connect-app/issues/4017.

So I think this issue is a duplicate of https://github.com/appirio-tech/connect-app/issues/4017.

[2020-05-15 14:34] maxceem commented on #4017
As a part of this issue fix https://github.com/appirio-tech/connect-app/issues/4029

[2020-05-15 14:51] maxceem opened #4030 "Members for Invited users"
At the server side we stopped returned members to the invited members as a side effect of the issue https://github.com/topcoder-platform/tc-project-service/issues/560.

- we wanted to stop returning member for M2M
- we implemented it
- but as now we have general rules for permission, when we stop giving member to M2M we also stop giving members to invited users, which is all correct as per our log

[2020-05-15 15:25] codejamtc opened #4031 "User avatars are not displayed in the"
### Expected behavior
- Should display the user avatars

### Actual behavior
- User avatars are not displayed in the

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Check the user avatars

### Screenshot/screencast

https://monosnap.com/file/6rP19Vh9GbBlAfHzNo2UDGZJhpS5jt

#### Environment
**- OS:** HP 15-dw1xxx 15.6 inch; Window 10
**- Browser (w/version):** IE 1

[2020-05-15 15:29] codejamtc opened #4032 "Long Ref code overlap with the other data on the table"
### Expected behavior
- Should not overlap the other content

### Actual behavior
- Long Ref code overlap with the other data on the table

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Check the ref code in the project: Design, Development & Deployment P4 {codejam} [https://connect.topcoder-dev.com/projects/9074]

### Screenshot/screencast

![2](https://user-ima

[2020-05-15 15:30] codejamtc opened #4033 "All Project, Active, In Review menus, are not displayed properly"
### Expected behavior
- Should display the menu in a single line

### Actual behavior
- All Project, Active, In Review menus, are not displayed properly

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Check the main tabular menu

### Screenshot/screencast

![3](https://user-images.githubusercontent.com/42398485/82067990-0e28bb80-9697-11ea-8095-30855c22cfb8.png)

#

[2020-05-15 15:45] codejamtc opened #4034 "Layout issue on the grid cards; There are no equal spaces from the left and right borders"
### Expected behavior
- Should display the cards properly and should have equal spaces from the left and right margins

### Actual behavior
- Layout issue on the grid cards; There are no equal spaces from the left and right borders

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Switch to Grid view and observe

### Screenshot/screencast

![4](https://user-images.g

[2020-05-15 15:57] codejamtc opened #4035 "Long projects names are not displayed on two lines and trimmed if it is too long"
### Expected behavior
- Should display in two lines and if it is too long then it should be trimmed

### Actual behavior
- Long projects names are not displayed on two lines and trimmed if it is too long

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Switch to Grid view
- Check a project card with a long name

### Screenshot/screencast

[5.txt](https://github.com

[2020-05-15 16:05] codejamtc opened #4036 "Long projects names are not displayed on multiple lines in project details page"
### Expected behavior
- Should display in multiple lines

### Actual behavior
- Long projects names are not displayed on multiple lines in project details page

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click on a project that has a long name

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/42398485/82071620-facc1f00-969b-11ea-87

[2020-05-15 16:09] codejamtc opened #4037 "`&` sign is not rendered properly on the notification window"
### Expected behavior
- Should display as `&` instead of `&amp;`

### Actual behavior
- `&` sign is not rendered properly on the notification window

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Expand the Notification window and check the project name with `&` symbol

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/42398485/8207198

[2020-05-15 16:22] codejamtc opened #4038 "Can't copy-paste the content to the column filters"
### Expected behavior
- Should be able to copy-paste the content to the filters

### Actual behavior
- Can't copy-paste the content to the column filters

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Expand a column filter and try to paste a project name copied from the listing page

### Screenshot/screencast

https://monosnap.com/file/zxspq8df8jVAynEc3JhdQQeFMU

[2020-05-15 16:40] codejamtc opened #4039 "Long name/label tooltips are not visible"
### Expected behavior
- Should be displayed when user hover over a label or field

### Actual behavior
- Long name/label tooltips are not visible

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click '+ New Project' > Solutions > Quality Assurance > Acceptance/Beta Testing > Select
- Fill mandatory data and go to the last step
- Hover over the fields

### Screensh

[2020-05-15 17:35] codejamtc opened #4040 "User can't add a message"
### Expected behavior
- User should be able to add a message

### Actual behavior
- User can't add a message

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click on a project - https://connect.topcoder-dev.com/projects/16567
- Go to 'Message'
- Click on start a new discussion and add the title and body text
- Click Post

### Screenshot/screencast

https://monosna

[2020-05-15 17:38] codejamtc opened #4041 "User can't open existing messages"
### Expected behavior
- User should be able to open a message

### Actual behavior
- User can't open existing messages

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click on a project - https://connect.topcoder-dev.com/projects/9074
- Go to 'Message'
- Click on a message

**Can't see anything on the console log**

### Screenshot/screencast

https://monosnap.com/

[2020-05-15 17:42] codejamtc opened #4042 "Can't see the default text 'mm/dd/yyyy' and date time picker"
### Expected behavior
- User should be able to open a message

### Actual behavior
- Can't see the default text 'mm/dd/yyyy' and date time picker

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click on a project - https://connect.topcoder-dev.com/projects/9074
- Go to 'Assets Library' > Files
- Click on the 'Date' column

### Screenshot/screencast

![image](https

[2020-05-15 18:21] codejamtc opened #4043 "Topcoder Team popup close button partially hides; when user gets an error message while inviting"
### Expected behavior
- User not hide the close button

### Actual behavior
- Topcoder Team popup close button partially hides; when user gets an error message while inviting

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click on a project - https://connect.topcoder-dev.com/projects/9074
- In the 'Topcoder Team' > Click Manage
- Select a User and select the role

[2020-05-15 18:38] codejamtc opened #4044 "Validation error message goes out of the window"
### Expected behavior
- Should not go out the window

### Actual behavior
- Validation error message goes out of the window

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click on a project - https://connect.topcoder-dev.com/projects/9074
- In the 'Client Team' > Click Manage Invitations
- Type some random texts and add them to the list
- Click 'Send Invite'

###

[2020-05-16 04:04] codejamtc opened #4045 ""Add A New Phase" phase cards alignment issue"
### Expected behavior
- Should align more to the left

### Actual behavior
- "Add A New Phase" phase cards alignment issue

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click on a project - https://connect.topcoder-dev.com/projects/9074
- Click 'Add New Phases'
- Check the card alignment with the titles

### Screenshot/screencast

https://monosnap.com/file/S2EV9

[2020-05-16 04:06] codejamtc opened #4046 "If user hover over a phase card with a long name; text goes out of the border"
### Expected behavior
- Should display the text in multiple lines

### Actual behavior
- If user hover over a phase card with a long name; text goes out of the border

### Steps to reproduce the problem

- Login as Manager
- Go to Project listing
- Click on a project - https://connect.topcoder-dev.com/projects/9074
- Click 'Add New Phases'
- Hover over the 'Development Iteration (3 Milestones)' in

[2020-05-17 03:44] vikasrohit commented on #4040
@codejamtc I can see all the messages in the test project you used. It might the network that is causing slow loading of the messages or may be a network failure (timeout). Can you please check and share console logs, if you are still seeing such issue.

[2020-05-17 03:50] vikasrohit commented on #3991
@maxceem I guess, we don't need to be fancy here. We can just add simple `title` attribute to show browser's own tooltip with just the status text for the icon. And that does not harm us even in the card view where there is already some details about the project status.

[2020-05-17 03:52] vikasrohit commented on #4028
That is good suggestion @maxceem but for now I am keeping it in Backlog.

[2020-05-18 06:06] maxceem commented on #3867
Together with this issue, we have to fix another one https://github.com/appirio-tech/connect-app/issues/3865

[2020-05-18 06:30] maxceem commented on #3991
Sum up:
- Show tooltip for project status in the grid view

   ![image](https://user-images.githubusercontent.com/146016/82180871-13317900-98ea-11ea-8309-a06f3e94be56.png)

- Show tooltip for project status in the card view

    ![image](https://user-images.githubusercontent.com/146016/82180912-293f3980-98ea-11ea-9b0a-f569ce64a3d4.png)

- The tooltip should show the full text of the project status

[2020-05-18 06:34] maxceem commented on #4017
@vikasrohit at the moment, when the user creates messages with only spaces it fails. Should just fix it so it doesn't fail? Or should we not allow to create messages with only space?

[2020-05-18 06:35] maxceem commented on #4040
@vikasrohit I think this issue is another variation of https://github.com/appirio-tech/connect-app/issues/4017 and https://github.com/appirio-tech/connect-app/issues/4029. In general: if we create a message with spaces only, then messages got broken.

[2020-05-18 06:39] maxceem commented on #4037
This issue has the same root as https://github.com/appirio-tech/connect-app/issues/3485 and would be fixed when we fix this in Project Service https://github.com/topcoder-platform/tc-project-service/issues/502 which not trivial to do.

[2020-05-18 08:02] vikasrohit commented on #4040
@maxceem but in this particular case, there was correct text in the messages and I am able to see them when I loaded those projects. So, it seems to be network issue to me.

[2020-05-18 08:08] vikasrohit commented on #4017
Do not allow empty messages (trimmed). Also, if the root cause for the bug right now is affecting non empty messages as well, we should fix that as well.

[2020-05-18 08:17] maxceem commented on #4017
Sum up:
- Don't allow sending messages with only spaces, tabs and/or enters (new lines). The `Post` button should be inactive until we enter somethings except of spaces, tabs or new lines. The same during editing.
- If we already have some existent messages with only spaces, tabs and/or enters (new lines), they should be displayed correctly and don't break functionality.
- Also, if the root cause

[2020-05-18 08:25] maxceem commented on #4040
Right, it's different from the issues I've mentioned above. Though I can reproduce it https://monosnap.com/file/PZpDbX63OZDxKkeJ91jpBSjJJWSHRH. I can see messages previously created, but when I create a new one, I cannot see it.

Another thing, I've joined the project as a Manager, but in IE11 it doesn't show me even if I reload the page:

![image](https://user-images.githubusercontent.com/146016/

[2020-05-26 15:53] ajefts opened #4048 "Any Status to Active"
**Requirements**

- ~When any challenge or task is launched in association with the Connect project, the project status should be moved to active.~

- Remove existing logic that requires a project plan phase to move to Planned or In Progress status before a project can be moved into Active status.

- ~For all projects in existing Connect, if there is an active challenge or task then the project sh

[2020-05-26 15:53] ajefts commented on #4048
Link to subfeature: https://tcprod.productboard.com/feature-board/planning/features/4662310

[2020-05-27 15:45] lakshmiathreya commented on #4004
![Monosnap 2020-05-27 21-12-59](https://user-images.githubusercontent.com/51733042/83042296-1f8ea200-a05f-11ea-8d15-8c2a47a2fdef.jpg)

[2020-05-28 09:39] lakshmiathreya commented on #3915
<img width="1617" alt="Screenshot 2020-05-28 at 3 08 16 PM" src="https://user-images.githubusercontent.com/51733042/83125458-2ec02f00-a0f5-11ea-81b4-5bd58b1a49af.png">

[2020-05-31 04:36] #3915 closed

[2020-05-31 04:36] #3932 closed

[2020-05-31 04:36] #3983 closed

[2020-05-31 04:36] #3992 closed

[2020-05-31 04:36] #4004 closed

[2020-05-31 04:36] #4008 closed

[2020-05-31 04:36] #4019 closed

[2020-05-31 06:56] #4018 closed

[2020-06-03 21:28] jswheeler opened #4051 "Update segment script to support user consent"
### Expected behavior
Describe.
The connect app should support the segment 4.1.0 javascript app to support user consent (below).
[code]

Additionally,
The following process should be followed to implement consent manager
https://github.com/segmentio/consent-manager#standalone-script

Specifically:

- The consent code should be included on the same page as this analytics script
- The analytics.load

[2020-06-26 11:51] jagadeeswaras opened #4052 "Not able to download the assets clicking the link"
### Expected behavior
Describe.
Clicking the url, should be able to download proper zip file

### Actual behavior
Describe.
 Click on the url, it download some junk file, which is not a proper zip file.

### Steps to reproduce the problem
- Click the url - https://connect.topcoder.com/projects/14408
- click on download link
- Check the file in downloads folder which is junk

### Screenshot/screenc

[2020-07-08 19:19] acshields opened #4053 "Remove "Access Project in Direct" Link From Connect"
Remove "Access Project in Direct" hyperlink from Connect projects for Topcoder and Copilot users.

[2020-07-08 19:26] acshields opened #4054 "V1: Navigation from Project to Work Manager"
**Desired Behavior**
Inside a Connect Project on the left sidebar above the "View Direct Project" hyperlink, display a hyperlink that is labeled "Launch Work Manager" that opens the Work Manager application when opened.

**Project-Type Exemptions**

- This feature is not needed on TaaS projects

**User Roles**

- Only Topcoder & Copilot users should see this button on all solution (managed-deliver

[2020-07-08 20:39] acshields opened #4055 "Disable Current Version of Project Plan"
**Desired Behavior**
Disable current UI/UX for project plan in Connect on all project types.

**Notes**
This feature will be replaced with a new, simplified UI/UX that utilizes challenge data to power timelines and milestones.

[2020-07-09 01:10] acshields opened #4056 "Gantt Chart UI of Created Challenges"
**Desired Behavior**
Created challenges for a Connect project should be displayed in a Gantt chart on the primary dashboard, based upon the following guidelines:

- Created challenges are grouped by track in sections

- The track name should be displayed at the top of the Gantt chart section

- The challenge type (Challenge; Task) should be displayed as a badge

- The challenge duration should be

[2020-07-09 01:31] acshields opened #4057 "Project Plan: Phase Set-Up & Editing"
### Summary Notes
- Only Topcoder Employees and Copilots has visibility to the list-view screen.
- Only Topcoder Employees and Copilots has the capability to set-up phases.
- All templated phases in the previous version of project plan should be removed once the new generic phase template and set-up capabilities are supported.

### Phase Set-Up Workflow
1. User is on the list-view screen of projec

[2020-07-16 08:14] RishiRajSahu commented on #4006
fixed and pushed to dev via https://github.com/appirio-tech/connect-app/commit/6d80d2d3d0ca31519f741dd88b0a3c7a7dcfa3a5

cc: @lakshmiathreya

[2020-07-16 13:54] RishiRajSahu commented on #4052
@lakshmiathreya it should be fixed in dev. I'm not finding ready-for-qa tag, so please check it.

[2020-07-16 20:30] acshields opened #4058 "Retrieve & Display Connect Project Billing Account from SFDC"
**Current Version:** The Connect Project's Billing Account is not displayed inside the Connect Project.

**Desired Updates:**
- Retrieve the Billing Account Name and ID associated to the Connect Project ID in Salesforce.
- Display the Billing Account Name underneath the Administration label in the left sidebar of a Connect Project, as follows:
-Field Title: Billing Account
-Pre-Populated Result: [

[2020-07-20 11:57] vikasrohit opened #4059 "Two calls on page load"
### Expected behavior
Should be calling api only once to load projects, metadata and orgConfig individually.

### Actual behavior
It is making two calls for each. For metadata it is making two options call but only one GET call.

### Steps to reproduce the problem
- load the connect dashboard page connect.topcoder.com

### Screenshot/screencast
<img width="1360" alt="Screen Shot 2020-07-20 at 5 25

[2020-07-20 11:57] vikasrohit commented on #4059
fyi @RishiRajSahu @maxceem

[2020-07-21 07:22] lakshmiathreya opened #4060 "FAQ content - Hyperlinks to be highlighted"
### Expected behavior
Hyperlinks in the FAQ content should be highlighted.

### Actual behavior
There is no highlighting.

### Steps to reproduce the problem

<img width="1680" alt="Monosnap 2020-07-21 12-44-35" src="https://user-images.githubusercontent.com/51733042/88024830-fa934880-cb50-11ea-97b5-2cafef179b4d.png">

- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### E

[2020-07-21 13:08] RishiRajSahu opened #4061 "Remove footer links from Connect which are part of Dashboard FAQs"
### Expected behavior
With integration to contentful, the footer links are now part of FAQs `HOW TOPCODER WORKS` present on the dashboard page. So to remove the redundant and non-required urls remove the footer links

### Actual behavior
Footer links are present on Connect app

### Screenshot/screencast
<img width="485" alt="Screenshot 2020-07-21 at 6 37 04 PM" src="https://user-images.githubuserc

[2020-07-21 13:08] RishiRajSahu commented on #4061
@acshields just to confirm we need to remove these five links only right ?

[2020-07-21 13:09] RishiRajSahu commented on #4061
@acshields just to confirm we need to remove these five links only, right ?

[2020-07-21 13:17] RishiRajSahu commented on #4060
<img width="805" alt="Screenshot 2020-07-21 at 5 21 46 PM" src="https://user-images.githubusercontent.com/11248478/88059448-7c4f9a00-cb82-11ea-973a-67e402b8fa1e.png">

Have to add custom formatting for `hyperlink` types node when converting document to react-component.

[2020-07-21 14:07] acshields opened #4063 "Update Design Phase Templates Winner Selections in Project Plan"
**Current Version:** In project plan's design phase users must select three winners during design review/final design review milestones.

**Update Requested:** Design process has changed, and now only two winners must be selected. Please update all design project plan templates to only mandate two winners.

[2020-07-21 19:31] acshields commented on #4061
@RishiRajSahu - yes, please remove all five of those hyperlinks as they will now be handled in the FAQ section. We can keep the Topcoder 2020 copyright in the footer.

[2020-07-22 13:45] RishiRajSahu commented on #4063
@acshields Sure will update it , Just to confirm we just need to update option to select winners-designs and there is no change in the way we select checkpoint-review designs(we have condition of selecting minimum 5 checkpoint designs), right ?

[2020-07-22 14:15] RishiRajSahu commented on #4061
Pushed to dev with https://github.com/appirio-tech/connect-app/pull/4065

[2020-07-23 09:20] lakshmiathreya commented on #4006
Icon is visible in Dev.
<img width="1512" alt="Screenshot 2020-07-23 at 2 48 20 PM" src="https://user-images.githubusercontent.com/51733042/88270731-b7bda600-ccf3-11ea-94be-9f593984e58b.png">
<img width="1389" alt="Screenshot 2020-07-23 at 2 49 02 PM" src="https://user-images.githubusercontent.com/51733042/88270736-bbe9c380-ccf3-11ea-9f35-ca2937ddcf6b.png">

[2020-07-23 09:25] lakshmiathreya commented on #4060
All hyperlinks highlighted as expected.
<img width="1632" alt="Screenshot 2020-07-23 at 2 55 09 PM" src="https://user-images.githubusercontent.com/51733042/88271284-8c878680-ccf4-11ea-9d29-dd58f897e9a3.png">

[2020-07-23 09:30] lakshmiathreya opened #4066 "All Projects Dashboard FAQ - spelling error - 'Tocoder'"
### Expected behavior
Answer to "What are Topcoder's Standard Terms?" should be:-
Review Topcoder's Standard Terms here.

### Actual behavior
Answer is :-
Review Tocoder's Standard Terms here.

### Steps to reproduce the problem
- TBD.
- TBD.
<img width="1632" alt="Screenshot 2020-07-23 at 2 55 09 PM" src="https://user-images.githubusercontent.com/51733042/88271706-3109c880-ccf5-11ea-9cd4-52068d1d

[2020-07-23 10:20] lakshmiathreya opened #4067 "All Projects Dashboard FAQ - doesnt load Content when there is search term in toolbar"
### Expected behavior
~Should load All Projects Dashboard FAQ Content for All Projects Listing queries including Keyword Search.~
The ProjectSearch Toolbar doesn't apply to FAQ page so should be removed from FAQ page.

### Actual behavior
Project Listing is displayed instead of FAQ Content.

### Steps to reproduce the problem
REF - https://drive.google.com/file/d/19Mh8DKIiXq1ERoWRv_apJN0JXOd3FXr4/

[2020-07-23 11:24] lakshmiathreya commented on #4048
Newly created Project goes to "In Review" -
<img width="1430" alt="Screenshot 2020-07-16 at 4 51 53 PM" src="https://user-images.githubusercontent.com/51733042/88281377-3111c480-cd05-11ea-9bd9-1c09a28c6311.png">

[2020-07-23 11:45] RishiRajSahu commented on #4067
@lakshmiathreya actually we don't have to have the search bar on top when loading FAQ pages as that search doesn't apply to FAQs. So have created the Custom Topbar for FAQs. Changes will in dev soon for testing.

[2020-07-23 12:13] lakshmiathreya commented on #4067
@RishiRajSahu - This isn'd about Search applying to FAQ content. When we have a listing generated by a Keyword search - you still see the FAQ tab - if you click on that - it just reloads the Project listing instead of the FAQ content.

[2020-07-23 12:34] RishiRajSahu commented on #4066
@lakshmiathreya Corrected.

[2020-07-23 12:35] lakshmiathreya commented on #4066
<img width="1450" alt="Screenshot 2020-07-23 at 6 04 55 PM" src="https://user-images.githubusercontent.com/51733042/88286888-193f3e00-cd0f-11ea-8152-dcb01b3cf564.png">

[2020-07-23 12:42] RishiRajSahu opened #4069 "Reports tab doesn't work if we have some search term present in projectSearch ToolBar"
### Expected behavior
Reports tab should always work.

### Actual behavior
If there is some keyword searched in project search tool bar, them Reports tab is not working

### Steps to reproduce the problem
- Go to project listing page and search for any keyword to filter projects.
- Click on Reports Tab in the left hand navigation.
- Reports page is not opening.

#### Environment
- OS:any
- Browser

[2020-07-23 15:14] crazyk07 opened #4070 "Unable to add handle vayl[alphacom] to Connect as copilot"
### Expected behavior
Able to add Copilot vasyl[alphacom] to a connect project as a copilot

### Actual behavior
Unable to add the handle, possibly because of brackets in member name

### Steps to reproduce the problem
1. Go to any Connect project
2. In "Topcoder" section, click on manage members
3. Add handle vasyl[alphacom]
4. Click on add user
5. Error Message

### Screenshot/screencast
Attach

[2020-07-23 15:28] lakshmiathreya commented on #4052
Zip downloaded as expected on clicking the File icon and the Asset Link. However, clicking on the download icon leads to the same Issue as seen currently:
<img width="1606" alt="Screenshot 2020-07-23 at 8 56 11 PM" src="https://user-images.githubusercontent.com/51733042/88305496-35e77000-cd27-11ea-8d55-d5f6072ac371.png">
<img width="1471" alt="Screenshot 2020-07-23 at 8 56 53 PM" src="https://user

[2020-07-23 15:32] lakshmiathreya commented on #4052
Project link: https://connect.topcoder-dev.com/projects/9074

[2020-07-24 08:34] RishiRajSahu commented on #4052
@lakshmiathreya  Actually the issue was just about link click, but good to know another issue also. Actually I logged in with admin role so wasn't seeing the download icon. but now have fixed that also.

[2020-07-24 09:29] lakshmiathreya commented on #4052
Download icon working fine.

[2020-07-27 04:55] lakshmiathreya commented on #4063
Winners updated to top 2 from top 3:-

<img width="1474" alt="Screenshot 2020-07-24 at 5 31 18 PM" src="https://user-images.githubusercontent.com/51733042/88504805-606d4d80-cff3-11ea-9c9f-f7c6bf7d180d.png">
<img width="1389" alt="Screenshot 2020-07-24 at 5 21 46 PM" src="https://user-images.githubusercontent.com/51733042/88504799-59463f80-cff3-11ea-8d17-42ffcdc9b6bd.png">
<img width="1424" alt="Sc

[2020-07-27 10:20] lakshmiathreya commented on #4048
Verified that Project Status can be moved to Active without need for a Phase to be in Progress state.
<img width="1623" alt="Screenshot 2020-07-27 at 3 49 29 PM" src="https://user-images.githubusercontent.com/51733042/88531647-cb814900-d020-11ea-98d2-255f3b1650e5.png">

[2020-07-28 16:44] acshields opened #4072 "Update TaaS Form Questions & Logic"
Desired Updates

- Display different questions depending on whether the user is a Customer/Copilot, or a Topcoder Employee.
- Update questions/answers displayed on the form

Customer/Copilot Version: https://docs.google.com/document/d/1BQ4PpZCysm0I0cdyWDChQw4-6pYWV51gVxLzeUkrP00/edit?usp=sharing
Topcoder Version: https://docs.google.com/document/d/1OGTLjFwQPPJQiYZJN6uFqogEhrZKPSG8WLzRSWXDuHQ/edit?

[2020-07-28 19:30] acshields opened #4073 "Update Data Visualization Intake Form"
On this question "Are we using existing designs or creating new ones?" update the answer options to be:

- Use existing designs
- Create new designs
- Both

<img width="523" alt="Screen Shot 2020-07-28 at 2 24 45 PM" src="https://user-images.githubusercontent.com/41118149/88712151-e2867080-d0de-11ea-9ca9-b6eaab94d639.png">

Form link: https://connect.topcoder.com/new-project/data-visualization

[2020-07-28 19:59] acshields opened #4074 "Add Tooltip to Regression Testing Intake Form Question"
Include a tooltip on this question: "Briefly describe the application we will be testing."

Tooltip Title: Helpful Guidance
Tooltip Copy: Include the list of features/functionalities in scope, links to reference documentation, browser versions, devices, and platforms, to be considered for testing.

Form link: https://connect.topcoder.com/new-project/qa-regression

[2020-07-29 06:59] RishiRajSahu commented on #4006
Done.

[2020-07-29 06:59] #4006 closed

[2020-07-29 06:59] RishiRajSahu commented on #4048
Done.

[2020-07-29 06:59] #4048 closed

[2020-07-29 06:59] RishiRajSahu commented on #4052
Done.

[2020-07-29 06:59] #4052 closed

[2020-07-29 07:00] RishiRajSahu commented on #4060
Done.

[2020-07-29 07:00] #4060 closed

[2020-07-29 07:00] RishiRajSahu commented on #4061
Done.

[2020-07-29 07:00] #4061 closed

[2020-07-29 07:00] RishiRajSahu commented on #4063
Done.

[2020-07-29 07:00] #4063 closed

[2020-07-29 07:00] RishiRajSahu commented on #4066
Done.

[2020-07-29 07:00] #4066 closed

[2020-07-29 07:01] RishiRajSahu commented on #4067
Done.

[2020-07-29 07:01] #4067 closed

[2020-07-29 09:25] RishiRajSahu opened #4075 "[PATCH] Add support for Project FAQs link in left menu to be controlled via metadata"
### Expected behavior
FAQ link should not be visible for projects which doesn't have FAQs configured in contentful

### Actual behavior
kubik projects are showing FAQ link which are not working.

fyi @lakshmiathreya @vikasrohit @acshields

[2020-07-29 13:36] lakshmiathreya commented on #3568
Title wrapping doesnt work when Project Title has no separators:
<img width="1467" alt="Screenshot 2020-07-29 at 6 46 09 PM" src="https://user-images.githubusercontent.com/51733042/88806812-8569e800-d1ce-11ea-82a5-57f6cf52957f.png">

Wrapping has been fixed as mentioned earlier and works when there is hyphen separator between words in the Title:
<img width="1471" alt="Screenshot 2020-07-29 at 6 47

[2020-07-29 14:53] acshields opened #4078 "Update Notes Question on Regression Testing Intake Form"
Form link: https://connect.topcoder.com/new-project/qa-regression

### Update 1
After the "Briefly describe the application we will be testing." question and before the "Notes" question, add another question with these details:
- Question: "After any code fixes are complete, do you want us to retest the failed cases?"
- Answer: [Yes/No Toggle Button]

### Update 2
Update the "Notes" question with

[2020-07-29 16:56] acshields opened #4079 "Updates on Accessibility Testing Intake Form"
### Update 1
Currently, when the user selects "Accessibility Testing" testing on the catalog, they are brought to the correct URL (https://connect.topcoder.com/new-project/qa-accessibility-testing) but the form's header refers to acceptance/beta testing. We need to do the following update so the labels are correct:
- Update Header to read: Accessibility Testing
<img width="1143" alt="Screen Shot 2

[2020-07-29 21:06] acshields opened #4080 "Simplified Intake Option for Internal Topcoder Projects"
### Update 1
When a Topcoder employee user clicks "+ New Project" the following should occur:
1. The top-level catalog screen should load (see image)
2. The Topcoder employee user should see a third option, which states "Internal Topcoder Project"
- This option should only be viewable to Topcoder employees
- The title should state: "Internal Topcoder Project"
- The description should state: "This

[2020-07-29 21:34] acshields opened #4081 "Replicate Project FAQs on Zurich & CS Projects"
Replicate project FAQs for TaaS, DS, QA, Design & Dev onto Zurich and CS projects.

[2020-07-30 19:03] acshields opened #4083 "Project Plan: Milestone Types"
### Summary
Projects App will support three types of milestones, which a user can choose from:
- Reporting
- Deliverable Review
- Final Deliverable Review

Additionally, there will a fourth type of milestone, "Final Fixes," which will get triggered if a user selects [Request Fixes] during the Final Deliverable Review milestone.

### Reporting Milestone Data Attributes
- **Title** [Optional Input D

[2020-08-02 16:13] acshields opened #4084 "Refactor Projects Application to Display Inside Framing Application"
Refactor projects application so that this application displays inside the Framing Application.

[2020-08-04 15:20] acshields commented on #4081
@RishiRajSahu - Update: The account executive for Zurich wants to review the FAQs with them before they are made live on production (to be clear, they do want FAQs - it's just a review to see if all the questions apply). So continue with the association of FAQLists to Zurich projects. Let's just hold on publishing the FAQs until I get final confirmation on the FAQItems content.

[2020-08-04 19:34] acshields commented on #4080
@RishiRajSahu - I have added notes above about the users who should be able to view/use this simplified intake option.

[2020-08-06 17:44] acshields commented on #4080
@RishiRajSahu - in the section "Update 1" above, you can see the header copy & description that can display in the catalog.

[2020-08-07 07:46] vikasrohit commented on #4058
@acshields I think it would be tricky to fetch the billing account name without a data model change which I would not prefer to implement just for rendering the billing account name. The reason is that we just want to keep the reference of the billing account which is the id of the billing account and we never want to store other metadata of such external entities unless critical. The other way to

[2020-08-07 18:53] acshields opened #4085 "Add "Provide Application Feedback" Capability to Projects App"
### Update 1
On the 'all projects dashboard' of connect.topcoder.com, add a button underneath the "How Topcoder Works" tab in the left sidebar.
- Label the button: "Give Application Feedback"
- This button should clickable, but it will not trigger any additional application actions. Instead, this button will serve as an anchor and trigger for a Chameleon survey where the user can provide and submi

[2020-08-08 07:56] RishiRajSahu commented on #4075
this was patched to prod.

[2020-08-08 07:56] #4075 closed

[2020-08-10 16:35] RishiRajSahu commented on #4079
@acshields @lakshmiathreya the changes are here https://connect.topcoder.com/new-project/qa-accessibility-testing-v1.1 to review.

[2020-08-10 16:37] RishiRajSahu commented on #4079
@acshields I have created a new label for tracking form update requests :) Hope we would be able to follow this method !

[2020-08-10 16:38] RishiRajSahu commented on #4080
@acshields the changes are in dev for reviewing. Also, I have put TBD where the copy changes are needed.

FYI @lakshmiathreya

[2020-08-11 12:38] RishiRajSahu commented on #4073
Done. Can be verified here https://connect.topcoder.com/new-project/data-visualization

fyi @acshields @lakshmiathreya

[2020-08-11 12:56] RishiRajSahu commented on #4078
Done, could be reviewed here https://connect.topcoder.com/new-project/qa-regression-v1.0
@acshields @lakshmiathreya

[2020-08-11 13:03] RishiRajSahu commented on #4074
Done, could be reviewed here https://connect.topcoder.com/new-project/qa-regression-v1.0
@acshields @lakshmiathreya

[2020-08-11 13:14] RishiRajSahu commented on #4081
@acshields associating the FAQList would mean publishing them, so let's wait for them to review. meanwhile ariel could you just place **FAQlist name** for corresponding zurich forms in this sheet https://docs.google.com/spreadsheets/d/1P01THFCESuy1qmJ77KExOj_QxOc9BVOyMmb9dpOyl3A/edit?ts=5f0f5007#gid=1726726308, you can get **FAQlist name** from ID-mapping tab of the sheet.

[2020-08-11 15:52] acshields commented on #4080
@RishiRajSahu - Just recapping our notes from the call.

- On the first catalog screen, update the displayed order so that "Solutions" and "Talent as a Service" are displayed next to each other at the top, with the "Internal Topcoder Project" option displayed below.
- For the Internal Topcoder Project, when the button is clicked EITHER:
-Just have the user routed directly into the form (bypassing

[2020-08-11 16:16] acshields commented on #4078
@RishiRajSahu - I reviewed this new intake form and it looks good. Please push to prod when it is workable for you/lakshmi.

[2020-08-11 16:16] acshields commented on #4074
@RishiRajSahu - I reviewed this new intake form and it looks good. Please push to prod when it is workable for you/lakshmi.

[2020-08-11 16:16] acshields commented on #4079
@RishiRajSahu - I reviewed this new intake form and it looks good. Please push to prod when it is workable for you/lakshmi.

[2020-08-11 16:18] acshields commented on #4073
@RishiRajSahu - One small change request. Can you capitalize "Both"?

<img width="661" alt="Screen Shot 2020-08-11 at 10 47 11 AM" src="https://user-images.githubusercontent.com/41118149/89922206-571fdb80-dbc4-11ea-8c38-fba4a8d70bf6.png">

Once that change is in place, this form can be pushed to prod as soon as convenient for you/lakshmi.

[2020-08-11 17:15] acshields commented on #4081
@RishiRajSahu - I have updated the spreadsheet.

[2020-08-11 20:29] acshields opened #4086 "File Sharing Issues - Cannot Upload Word Doc or PDF"
**User Reported Bug Description:** I had 2 attachments I wanted to add - a word doc and a pdf. I tried so many times to upload the pdf and not only did it not work, but it wouldn't give me an error or any indication of what was going on.
So then I uploaded the pdf to google drive, made it shareable, grabbed the link, and shared the link in connect. Then another user on the project said the link wo

[2020-08-12 15:24] acshields opened #4087 "Format of Italicized "G" in Projects App UI Bug"
Description: When font is italicized in Connect Projects app, the letter "g" looks odd.

![weird_G_in_italics](https://user-images.githubusercontent.com/41118149/90034239-fbb62200-dc85-11ea-9aef-d74294490d83.PNG)

[2020-08-17 06:38] RishiRajSahu commented on #4080
@acshields
1. Done
2.Done
3.If didn't found any svg applicable to our usecase so have created two and applied one to the dev env for you to check. the other one is -
<img width="461" alt="Screenshot 2020-08-17 at 12 07 48 PM" src="https://user-images.githubusercontent.com/11248478/90364785-52ef3480-e082-11ea-88d6-3ce06fe043ed.png">

[2020-08-17 06:51] RishiRajSahu commented on #4070
@acshields we use member-service for fetching user details via handle while creating a invite, for this user the member-serviice is not returning any data
https://api.topcoder.com/v3/members/_search/?query=MEMBER_SEARCH&handle=vayl%5Balphacom%5D&offset=0&limit=10
while for other user handles its working fine
https://api.topcoder.com/v3/members/_search/?query=MEMBER_SEARCH&handle=bruce13&offset=0&l

[2020-08-17 12:17] jswheeler opened #4090 "Lack of input sanitization on user registration"
### Expected behavior
Users input should be restricted to allowed character during the registration and account maintenance process.

### Actual behavior
Users are allowed to create fields with <script> tags enabling them to run arbitrary code on backend systems.

### Steps to reproduce the problem
Navigate to this issue in saleforce and you will see a popup message

### Screenshot/screencast
![im

[2020-08-17 14:48] RishiRajSahu opened #4091 "New Version Of TalentPicker Component"
For each track/talent type answer section in the table, update so that fields/answers include:
- Number of People: [Numeric Count]
Update field text to match as described above
Indicate that this is a required question
- **Workload**: [Full-Time/Fractional Toggle Button]
Add this **new question/answer**
Indicate that this is a required question, if the user has selected at least one person as need

[2020-08-17 14:48] RishiRajSahu commented on #4091
fyi @acshields

[2020-08-17 14:50] RishiRajSahu commented on #4091
@acshields this is done and pushed to dev https://github.com/appirio-tech/connect-app/pull/4089/files

[2020-08-17 14:51] RishiRajSahu commented on #4072
@acshields the dependent change for this done, which is about creating new version of talent-picker https://github.com/appirio-tech/connect-app/issues/4091
Also, have updated the form for `Customer/Copilot Version` which you can review here https://connect.topcoder-dev.com/new-project/talent-as-a-service-v1.4

[2020-08-18 08:25] vikasrohit opened #4092 "Redirect login/registration links to new common login/registration pages"
As of now Connect is still pointing to Connect specific login and registration pages from multiple places within the app. We are going to get rid of the specific pages for Connect as soon as we release the new version of tc-connect2sf. So, we should now point the login and registration pages to the new common login and reg pages.

**Registration Page**: https://accounts.topcoder.com/member/registr

[2020-08-18 14:14] acshields commented on #4072
@RishiRajSahu - I am having the stakeholders review the new forms.

### First Update Request (From Stakeholders)
The character limit on each job description field needs to be removed, or increased significantly. See Glenn's attached screenshot of a sample job description we receive for an idea on the character volume.
<img width="1184" alt="Screen Shot 2020-08-18 at 9 08 01 AM" src="https://user-i

[2020-08-18 22:44] acshields opened #4093 "Sunset Projects App Account Registration & Release Projects App Progressive Registration"
For tracking purposes...

1. Sunset Project App's standalone account/profile registration process.
2. Release Project App's progressive registration feature.

[2020-08-19 07:26] vikasrohit commented on #4093
Actual work for sunsetting the pages would be done in Account app, https://github.com/appirio-tech/accounts-app/issues/354

It is already enabled in Projects App. It is only the Salesforce connector that has to be released now.