[2019-08-08 07:29] maxceem commented on #3239
Yeah, we can do that for now. Though the week point of our editor is that it doesn't support mobile devices which [other copilots](https://github.com/appirio-tech/connect-app/issues/3213) and I personally would like to be able to use.

[2019-08-08 08:04] maxceem commented on #3238
21. @vikasrohit you've added at Connect project:

     Note, how it looks now:

     ![image](https://user-images.githubusercontent.com/146016/62685822-f6c8ed80-b9f5-11e9-964e-c473c009a5ec.png)

    1. Should we replace `my challenges` filter with `This project` filter? Which would filter challenges by the direct project by default?

    2. If `This project` filter is turned off, should we show `a

[2019-08-08 08:34] maxceem commented on #3239
6. I've noticed that here we are showing submission ids for on the previous:

     ![image](https://user-images.githubusercontent.com/146016/62687768-034f4500-b9fa-11e9-8985-cf89b9d29037.png)

     Should we add them? If yes, then we should add one more field when we enter designs:

     ![image](https://user-images.githubusercontent.com/146016/62687904-48737700-b9fa-11e9-9832-91bc20c6d1dc.png)

[2019-08-08 08:55] vikasrohit commented on #3239
Agreed. But we would handle that separately after this big change in the product.

[2019-08-08 08:58] vikasrohit commented on #3239
6. Yes, we can add a new field for submission id. We might need to create submission preview/download link using that submission id e.g. we can generate a download URL for submission using the Online Review url.

[2019-08-08 09:03] vikasrohit commented on #3238
I think we can skip notion of `My Challenges` now, at least for first release. We can replace `my challenges` filter with `This project only` as you suggested. If this filter is turned off, we can show all the challenges.
We can revisit this approach once we implement the full flow and get some feedback from product managers and users.

[2019-08-08 09:10] maxceem commented on #3239
7. When we support this combination of `add-links` and `review` milestones it works like this in `phases`. During `add-links` milestone copilot adds links. After that, when `review` milestone is activated, the data from `add-links` is copied to the `prevMilestoneContent` property of the `review` milestone. And after the `review` milestone uses the list of links which it has inside of `prevMileston

[2019-08-08 09:11] maxceem commented on #3239
8. For the copilots to be able to enter links during `design-work` the milestone should be active. How we would activate it?

[2019-08-08 09:21] vikasrohit commented on #3239
7. I would still want to keep the same functionality here because to me it seems a generic approach to let two milestone talk with each other.

8. I think we had a discussion earlier, where we agreed to add buttons to manually mark a milestone completed. So, it would be similar to what we have as of today, marking a milestone complete would activate next milestone. And the first milestone would be

[2019-08-08 09:32] vikasrohit commented on #3228
Working fine @vigneshTheDev. Thanks.

[2019-08-08 09:33] vikasrohit commented on #3230
Working fine. Thanks @vigneshTheDev

[2019-08-08 09:33] vikasrohit commented on #3229
Working fine. Thanks @vigneshTheDev

[2019-08-08 09:38] vikasrohit opened #3251 "Form does not update, after approving and activating a scope change request"
### Expected behavior
The form should update itself with the updated scope values after the scope change request is activated.

### Actual behavior
The forms remains as is i.e. in old state even after the activation of the scope change request. It refreshes only after page reload.

### Steps to reproduce the problem
- Go to any project which is in `reviewed` or above statuses, please ensure that t

[2019-08-08 09:39] vikasrohit commented on #3230
@vigneshTheDev I just noticed a new issue that appeared after this fix. I have logged it [here](https://github.com/appirio-tech/connect-app/issues/3251) .

[2019-08-08 11:18] vigneshTheDev commented on #3251
Hi @vikasrohit I'll look into this issue.

[2019-08-09 04:25] maxceem opened #3252 "Fix user avatar size (URL)"
In the new left sidebar and on the user profile page we are loading the full-sized user avatar directly from S3

![image](https://user-images.githubusercontent.com/146016/62753792-9e4e2a80-ba9f-11e9-802e-b8865010fee9.png)

Such images may have a very big size.

Instead, we should load avatars through the cloudfront service, as we do it for use avatar in the top toolbar:

![image](https://user-imag

[2019-08-09 10:05] maxceem commented on #3238
22. So far, server-side we define the maximum number of products per phase as `1`. That code migrated to the `workItems`. To run this challenge I've hardcoded that value to `100` for `workItems` while still keeping `1` for phase products. See [commit](https://github.com/topcoder-platform/tc-project-service/commit/66c6a07100aa99ef75c9fdc4ef6d859ead6b806e).

     Should we have some separate number

[2019-08-09 10:53] maxceem commented on #3239
9. @vikasrohit where should we upload files for design previews?

     ![image](https://user-images.githubusercontent.com/146016/62773704-6a8df780-bad5-11e9-9ac1-4ab6d8d8c7b2.png)

     We have project/product attachments. Though I'm not sure if we should use them.

     As I see, our current file uploading approach consists of 2 steps:
     - Upload file to `https://upload.fs.topcoder.com`, this

[2019-08-09 11:24] lakshmiathreya opened #3254 "TaaS: "Continue where I left off" throws up missing name error"
### Expected behavior
Should save Project details successfully via the 'Continue where I left off' option.

### Actual behavior
Throws up missing name error.

### Steps to reproduce the problem
---> Go to https://connect.topcoder-dev.com/new-project/
-- Select TaaS Project
-- Fill in Project details
-- Now go back to Connect home - click on 'New Project'
-- Click on 'Continue where I left off"
--

[2019-08-09 12:33] vikasrohit commented on #3238
I think we can let users add as many as they want.

[2019-08-09 17:57] vikasrohit commented on #3239
9. @maxceem I recently used the file attachment feature for supporting file uploads during project creation https://github.com/appirio-tech/connect-app/commit/84fc58943d10a21966b329808a23f88d916bf2f0. So, that might help you in understanding how it should work. Basically, we use FileStack to upload the file from client machine to a temporary AWS S3 storage and then we move the file from temp bucke

[2019-08-10 19:11] vigneshTheDev commented on #3251
Hi @vikasrohit, I've raised the pull request to fix this issue. Please review.

[2019-08-12 05:39] #3251 closed

[2019-08-12 05:59] vikasrohit commented on #3251
Working fine @vigneshTheDev Thanks

[2019-08-12 08:34] maxceem opened #3258 "[Connect 2.5] Workstreams - Work adding permissions"
We should determine which Project Template is for `pre-packed` and which one for `taas` project so we know if we should let customers add works or no.

The best solution here would be to reuse permissions from Project Service model `WorkManagementPermission` which suppose to control permissions for creating works for particular templates. But so far we don't have yet API endpoints implemented for

[2019-08-13 05:45] vikasrohit commented on #3258
@maxceem my intention with introduction of `WorkManagementPermission` is was exactly for this use case, without this use case being fulfilled, I think we won't have any utility of `WorkManagementPermission`.  So, I would prefer to use this model instead.
And I think we do have a direct link with the project template for the work management permissions model. I think your concern is about deciding

[2019-08-13 10:07] vikasrohit opened #3261 "Notification cue does not appear on phase card automatically after receiving a new notification"
I can see the red cue in the left panel (on Dashboard tab) however, there is not red cue on the corresponding phase card when I have new notification of a message in one of the phases. Red cue appears after page reload though.
@maxceem I think it is because the phase card is not being re-renderd on new notification which I think we did for removing the slowness in typing in comment boxes OR delay

[2019-08-14 05:34] ajefts opened #3262 "Registration Pages: *Required Indication on Screen 1"
**Objective:** Clarify the fields in the registration form and in the profile page that are required.

<p></p>

**Requirements: Add a red " * " next to each required field.**

**Registration Form Required Fields:**

- First Name

- Last Name

- Business email

- Business phone

- Title

- Company name

<p></p>

[2019-08-14 05:34] ajefts commented on #3262
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2708595

[2019-08-14 05:40] RishiRajSahu opened #3263 "Connect Registration/Profile Page Improvements"
- [x] Mark Required Fields https://github.com/appirio-tech/connect-app/issues/3262
- [x] Split First Name & Last Name into 2 Fields

- On the **registration** page for Connect, there should now be two fields for name: First Name and Last Name.
- On the **profile** page for Connect, there should now be two fields for name: First Name and Last Name.

- [x] Update Business Number in Profile Settings

[2019-08-14 05:40] RishiRajSahu commented on #3263
@vigneshTheDev are you available to take up this issue ?

[2019-08-14 07:01] maxceem opened #3264 "Refactor project left sidebar"
Recently we did the left sidebar redesign, so now all the project pages show the same sidebar. There are two things can be refactored to improve the code for related to the new sidebar:
1. As now we have the same sidebar on all the project pages, instead of reincluding sidebar on each page like Dashboard, Spec, Assets Library and so on separately. We can implement one layout componet for all the p

[2019-08-15 11:00] maxceem commented on #3214
11. @vikasrohit previously we've discussed that we should be able to `complete` any milestone manually. Where to put such a button to complete the current milestone in work?

     As per my understanding, we can put them in two places:
     1. Each Work in Workstreams list on the dashboard should have `Complete milestone` button if it doesn't have some special button like `Start review` and so on.

[2019-08-15 17:34] vikasrohit commented on #3214
I think we do need the special buttons as shown in designs for a work card (collapsed form) depending on the type of active milestone and role of the user.
We don't need the default button to mark current milestone as complete on the work card (collapsed form) itself.
For the details tab, I think we should have designs for every possible milestone type when it is active and we should show that des

[2019-08-16 01:58] maxceem commented on #3214
Got it, no default buttons, only special ones for each milestone. So far I see what to show for 3 milestone types: 'design-work`, `checkpoint-review`, `final-designs`.

We also have the next milestone types:
- `phase-specification`
- `community-work`
- `final-fix`

For each of them:
1. What special button to show?
2. What should happened after the button is pressed?

[2019-08-16 04:42] maxceem opened #3266 "Show correct error alert on operations with project"
### Expected behavior
Error alert should contain the text of correct error from the server like: `Error updating project: <error from server>`

### Actual behavior
No matter what error happens during a request to the server, the error message is always the same and not relevant: `Please add a name for your project and then try saving again.`

### Steps to reproduce the problem
- Open any project l

[2019-08-16 05:26] maxceem opened #3267 ""details.appDefinition.addons.development" shouldn't become "" (empty string)"
Somehow the value in the project details `details.appDefinition.addons.development` becomes empty string `""`, which caused the error durign indexing such project in the ElastiSearch:
[code]

As per logic, this value should never become `""`. It should be either array with object values or an empty array.

We cannot reproduce this issue.

But it looks like this situation happened when we edit the

[2019-08-16 05:41] vikasrohit commented on #3214
`phase-specification` milestone is not going to be used practically as for new work management, we have moved out the specification or requirements step out of timeline i.e. timeline won't start until user adds some requirements in the requirements tab. So, essentially it is not a milestone now but rather a prerequisite for work to start.
However, I just realized that even if directly show the UI

[2019-08-16 05:42] vikasrohit commented on #3266
I fixed few minutes back with https://github.com/appirio-tech/connect-app/commit/23f7986d6ae451c602edccfe3434a0ca11ab7f0f

[2019-08-16 05:54] maxceem commented on #3214
1. As we are not going to use it, should we remove `phase-specification` from the available Milestone type list so we cannot create it?
2. For input design and input review milestones, we have such buttons, and we show them in the special UI for entering [design work](https://monosnap.com/file/TxfevpIjxxLqqAhd93FrYaTpCWp2fx) or [reviews](https://monosnap.com/file/6i5Q780Pn9PtErS6xHzwCt05gLpE02). F

[2019-08-16 06:01] maxceem commented on #3266
So fast @vikasrohit :-) I've tested and works good. I only suggest using some default error like `Project updating failed` instead of an empty string, in case we didn't get any error from the server or we just don't have internet.

[2019-08-16 06:02] vikasrohit commented on #3214
1. I think we still have to keep it alive for backward compatibility. But we might have it `hidden` (just like project templates) instead of disabled so that it does not show up in the available types of milestones.

2. Okay, that is perfect as per available requirements.

3. I think the generic way to do that would be via `Edit Milestone` screen, where we can add a new button `Mark as complete` a

[2019-08-16 06:04] vikasrohit commented on #3266
Yep, we can add a default string as well. I assumed that our API should always send some basic error string, but I think you are right it does not harm to add the one directly in the front end as well.

[2019-08-16 15:15] vigneshTheDev commented on #3263
Hi @RishiRajSahu, is registration page part of the connect-app?

[2019-08-16 17:15] RishiRajSahu commented on #3263
@vigneshTheDev Its part of accounts app https://github.com/appirio-tech/accounts-app

[2019-08-17 03:57] vikasrohit commented on #3263
It might save some time from you investigation @vigneshTheDev, registration page is part of accounts-app (angular app) as Rishi said, however, it is using a React component which is coded in https://github.com/appirio-tech/react-components/tree/feature/connectv2/components/RegistrationScreen. Angular provides props to the component and the component has the logic of UI control and then it calls th

[2019-08-17 07:20] vigneshTheDev commented on #3263
Thanks @vikasrohit. That's helpful.

[2019-08-17 15:45] vigneshTheDev commented on #3263
Hi @RishiRajSahu, could you please clarify these:

Here, are we looking for replacing the existing control with another one that allows typing on mobile devices? Like this one: https://ibb.co/T1Rps9J?

We don't have the country list on the registration page right? we're deriving country name from the country code of business phone. Should we add the country list?

[2019-08-17 17:00] vigneshTheDev commented on #3263
I see 2 traits (basic_info & connect_info) are getting updated whenever we save the profile settings. In the backend, it looks like basic info modal directly supports 'firstName' and 'lastName' fields. But connect_info model supports only 'firstNLastName' field. Check `service/src/main/java/com/appirio/service/member/api/MemberProfileBasicInfo.java` & `service/src/main/java/com/appirio/service/mem

[2019-08-17 17:23] vigneshTheDev commented on #3263
I'm curious why we want to display the country list in descending order instead of ascending order. Just want to understand the requirement clearly. We want to display _Zimbabwe to Afghanistan_ instead of _Afghanistan to Zimbabwe_ right?

[2019-08-17 20:13] vigneshTheDev commented on #3263
Registration page has two more required fields: username & password. Should we mark them as well?

[2019-08-18 11:07] RishiRajSahu commented on #3263
@vigneshTheDev
1. Yes we want responsive suggestion on the field while typing for the country names for both web/mobile.
2. Regarding country list, I have check it once myself the ultimate goal is to make registration/profile page behave similar, still I will get back to you on that. Where does country code for phone is coming ?
3. Keep connect_info model as it is, but we should be able to render

[2019-08-18 11:26] vigneshTheDev commented on #3263
Thanks for the clarifications @RishiRajSahu

2. Country code is coming from the business phone number input. Please look at these lines:
* https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/RegistrationScreen/index.jsx#L153
* https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/RegistrationScreen/index.jsx#L66
* https://github.com/appir

[2019-08-19 08:57] maxceem commented on #3214
3. > I think the generic way to do that would be via Edit Milestone screen, where we can add a new button Mark as complete along with regular save and cancel buttons. We might have add a shortcut to this action somewhere on the timeline as well but I think we don't have enough requirements and understanding as of now for that, so we have to wait for the basic flow to work and then we can decide on

[2019-08-19 09:18] vikasrohit commented on #3214
My intent with the button in Edit Milestone screen, was to have a confirm place from a milestone can be marked as completed and it is only for power users not for customers. I don't think it is much confusing to show the button only for `active` milestones for such users. However, if you think we have all possible use cases covered by the button on the `Details` tab, I think we should be good with

[2019-08-19 10:47] RishiRajSahu commented on #3263
@vigneshTheDev so we are implicitly picking country as per phone country selected. So we can have same behaviour profile page as well, the difference would be the country filed will be populated similar to phone  country codes, ref this issue https://github.com/appirio-tech/connect-app/issues/3245 , if the country list suggest in this issue is the one used for phone number country.

Another thing,

[2019-08-19 13:37] vigneshTheDev commented on #3263
@RishiRajSahu, we may not be able to use https://github.com/appirio-tech/ng-iso-constants/blob/dev/src/ng-iso-constants/services/iso-3166.js in connect-app directly, as it's inside an angular service. Shall we use this instead: https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/ISOCountries.js? It's exactly the same as the list in ng-iso-constants/services/iso-3166.js.

About the cou

[2019-08-19 17:30] vigneshTheDev commented on #3263
Also, updating country code based on country change can be tricky, as multiple countries may share the same country code, but different area code (see: https://en.wikipedia.org/wiki/List_of_country_calling_codes#Zone_1:_North_American_Numbering_Plan). So, if we want to update business phone based on country selection, we may have to update both the country code and area code.

[2019-08-20 05:12] RishiRajSahu commented on #3263
@vigneshTheDev

- yep if this is similar https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/ISOCountries.js use this.
- It won't be redundant, as later with Connect, user might see it easier to change country via the country selection, but agree if we have to change both country and area code then it will be tricky, but I don't think we give option of selecting area code right now, i

[2019-08-20 05:24] vigneshTheDev commented on #3263
@RishiRajSahu
For the second point, yeah that's correct. Area code is not inserted automatically. So, we'll tie the country code and the country selection. Which way would you suggest? automatically updating the country code or giving a hint to the user to update?

[2019-08-20 05:58] RishiRajSahu commented on #3263
@vigneshTheDev automatically update because we always want the two to be in sync always, but do show some hint that 'one gets affected because of other' so that user knows what's happening.

[2019-08-20 06:03] vigneshTheDev commented on #3263
@RishiRajSahu Ok got it. Thanks! I'll implement the same and will raise the PR by today.

[2019-08-20 12:27] RishiRajSahu commented on #3254
@lakshmiathreya unable to reproduce it since then, could you please check it again ? also

Name field is present on the top of the form in final screen.

[2019-08-20 22:43] vigneshTheDev commented on #3263
Hi @RishiRajSahu, I've implemented the automatic update of country selection / country code  in profile settings page. I'm working on the same in registration page. will push soon

[2019-08-20 22:51] vigneshTheDev commented on #3263
@RishiRajSahu Please review profile settings. You can also review the registration screen except the country list related issues

[2019-08-21 09:16] vikasrohit opened #3273 "[$150] Show Created By for files and links list in Assets Library"
We should add `Created By` column for the files and links list in Assets Library

[2019-08-21 09:16] vikasrohit commented on #3273
fyi @maxceem

[2019-08-21 09:19] vikasrohit opened #3274 "[$40] Need red cue for new file or link uploaded for the project"
We do not have red cue shown when there is new file or link uploaded to the project. Should we add a red cue to the left side panel against the Assets Library tab whenever there is a new file/link created in the project?

[2019-08-21 09:23] maxceem commented on #3273
We can show it for all files, but at the moment we don't have information who created links for the project. We can still show who created links inside posts, as we know who created a post:

![image](https://user-images.githubusercontent.com/146016/63419698-d5292680-c437-11e9-99c6-80946ab9e05c.png)

Should we update the client-side code to store the information about who created links inside proje

[2019-08-21 09:37] vikasrohit commented on #3273
Got it. We are storing the links in a JSON field not as a primary object so we don't have the audit fields there. I think, we should start capturing the audit fields (createdBy, createdAt, updatedBy and updatedAt) inside this JSON for every link to show the details about owner of the link.
I didn't get the validation part though. How can one fake `createdBy`? Oh, I think you mean that with `PATCH`

[2019-08-21 19:37] vigneshTheDev commented on #3263
Hi @RishiRajSahu, I added the country selection as well. Now all the fixes are ready to be reviewed. Thanks!

[2019-08-22 04:21] maxceem commented on #3235
Before we show all files and links extracted from Phases on the Assets Library page.

Now we don't have phases anymore and have works instead. And works have their own Assets tab.

Should we also show files and links extracted from work on the project Assets Library page as we did for phases before?

[2019-08-22 04:34] vikasrohit commented on #3235
Yes. The project's assets library should be the place where all project related assets can be located.

[2019-08-22 04:46] maxceem commented on #3235
We can do that. Though there is one thing: to show assets from work we have to load all the workstreams and all the works inside them and all the posts for works. Plus, if we already load all the works, for the consistency it's better to also load all timelines for works (though not required).

[2019-08-22 04:49] maxceem commented on #3235
On the second though, we also to load quite many stuff for phases. So I'll try to make it, will see how it works.

[2019-08-22 04:59] vikasrohit commented on #3235
Yep, that is something I am little worried about. The dashboard load is becoming very heavy and in fact it is already very heavy which in other sense is okay as dashboard is supposed to be convey all information about the project in one place. 😬
Can we load only required data on dashboard before rendering the page and keep loading the other data after the page is loaded (making sure that the new d

[2019-08-22 05:15] maxceem commented on #3235
Generally the Dashboard page is implemented this way now. Especially with new Workstreams functionality, data is loaded when required after the main page is already loaded.

So far we don't block showing Assets Library page while phases are loading. So files/links from phases just appear after phase are loaded in background.

For now we are always loading all the phases (without blocking UI in bac

[2019-08-22 05:22] maxceem commented on #3235
**Update** I was wrong. We don't load phases and their topics on the **Assets Library** page. So we have an issue. If we directly access **Assets Library** page we don't see files and links from phases.

So we should fix this for both: phases and works.

[2019-08-22 06:47] maxceem commented on #3237
@vikasrohit from your input on Slack:

As a result of this we should:
1. remove ability to control start/end dates from milestone edti UI, and only allow to control milestones duration:

    ![image](https://user-images.githubusercontent.com/146016/63492055-3a8a1f80-c4eb-11e9-9788-373338934848.png)

2. so we only could control the Start Date of the whole milestone by editing the start date of Work

[2019-08-22 07:00] maxceem opened #3275 "[Wizard] Pre-setup form based on URL query params"
From @vikasrohit:

[2019-08-22 07:04] vikasrohit commented on #3237
Agreed for all 3 points. I haven't got confirmation on this behaviour from the product managers yet after I raised the question of the way we want to control the milestones (considering the possibility of leaving gaps or creating overlaps between milestones), but I think we should keep the bheaviour as we already have and as you defined above. We can revisit it later if product managers want it re

[2019-08-22 07:12] maxceem opened #3276 "Implement common Topcoder navigation bar in Connect"
Instead of current topbar which is different from page to page in Connect app, we should use the common Topcoder navigation bar for all Connect pages like this:

![image](https://user-images.githubusercontent.com/146016/63493945-44158680-c4ef-11e9-9ed4-185c00e02827.png)

[2019-08-22 07:19] maxceem commented on #3275
@vikasrohit

1.To prefill/autoselect answers for questions we can implement it a general way and let users to define values for questions inside URL which would prefill the form. We can think about format of the URL for such thing.

2. Regarding skipping questions. We can also define the logic, that if we prefill answers from URL, we should hide such questions if you think this would be always our

[2019-08-22 07:27] vikasrohit commented on #3235
Yep, we need to fix the direct loading of the assets route/page.

What I am worried with this approach is that assets page would show few files/links on page load and suddenly it would append few more as soon as the phases load. So, I guess, we need to show loading for the full page until we get all the data for the Assets page.

[2019-08-22 07:30] vikasrohit commented on #3235
On the idea of improving the logic (specially when we have many posts in a project) for files and links, I think files should not be a problem for us as we have a dedicated table `attachments` for that and it is easy to query a first class object separately. The only problem is the links which are not a first class object yet. Do you think we should make them first class object instead of nesting

[2019-08-22 07:34] maxceem commented on #3235
Hmm, we don't have `bookmarks` for posts. We just parse posts content to extract links.
Also, regarding files inside posts. Even though we can retrieve attachments directly, we still have know their ids which are inside posts objects.
So we still have to load all the posts to extract files and links from them.

[2019-08-22 09:15] vikasrohit commented on #3276
This nav bar is outdated @maxceem The new common nav is something like this https://tc-unified-nav.herokuapp.com/light
![Screen Shot 2019-08-22 at 1 02 55 PM](https://user-images.githubusercontent.com/2417632/63502593-83da6f00-c4eb-11e9-870e-45eb72bd76d0.png)

[2019-08-22 09:19] vikasrohit commented on #3275
Yes, exactly these are my intents as well. IMO, most of the time, we would like to hide the question which is answered in the URL but we can not deny the requirement of the just prefill such questions instead of hiding them. So, I would like to get it configurable in the template, if we want to hide a particular question when it is answered in the query param.

[2019-08-22 09:26] maxceem commented on #3276
Resources:
- https://github.com/topcoder-platform/community-nav-prototype is the prototype
- https://github.com/topcoder-platform/navigation-component should be the one where the production grade components should reside for the common nav

This common reusable component for topbar uses React uses new features from React 16.8 like hooks https://github.com/topcoder-platform/navigation-component/blo

[2019-08-22 09:42] RishiRajSahu commented on #3263
@vigneshTheDev sure will have a look today !

[2019-08-22 10:33] maxceem commented on #3237
@vikasrohit another question.

Before all the phases were initially created with timeline and milestones. So when we activate a phase, we activate the first milestone.

Now, we can create a work, activate it and only after create a milestone. So now we need a way to activate the first milestone of the work.
1. Should we let users to activate a work without milestones? - I think yes.
2. If we have

[2019-08-22 11:07] RishiRajSahu opened #3277 "Registration & Profile Page Updates - Part II"
1. Registration Page: **Update Subtitle on Screen 1**
- [x] Update the subtitle on Screen 1 of the registration workflow to read "We're excited to meet you!" instead of "First we need to know you a bit better"

2. Registration Page: **Update Text on Screen 2 (PIN Entry)**
- [x] Update message displayed on this page to read, "We've sent a 1-time PIN to your email. Check your inbox and enter the PIN

[2019-08-22 11:07] RishiRajSahu opened #3278 "Registration & Profile Page Updates - Part I"
1. Registration & Profile Pages: **Update Business Phone Entry**
- [x] Move country code dropdown from the right-side of the field to the left-side of the field (where the code would logically be placed when entering)
- [x] Label the dropdown "country code"
- [x] Update business phone entry on Profile page to match registration page

2. Registration & Profile Pages: **Remove 'Company Size'**
- [x]

[2019-08-22 16:06] vikasrohit opened #3279 "Show a question to topcoder employees before launching new project wizard"

[2019-08-23 05:24] RishiRajSahu commented on #3263
@vigneshTheDev reviewed the PRs looks good to me except a single comment to address, other than that could you tell -
1. So we don't need any changes to accounts app side, as it is using react-components ?
2. Could you point me to the logic where we have enabled the responsive country select ?

[2019-08-23 06:06] vigneshTheDev commented on #3263
@RishiRajSahu,
1. We don't need any changes in the accounts app as the registration screen component is fully contained in the react-components.
2. I replaced the earlier dropdown with the searchable select box that allows typing and selecting: https://github.com/appirio-tech/connect-app/pull/3272/files#diff-124f6a815390e29d35c0eb7c2beb7999L151-L157. Did I misunderstood the requirement? Please let

[2019-08-23 07:11] vikasrohit commented on #3237
1. I don't want to have a work being active without any milestone to be sure that we always have a timeline to show the progress i.e. I don't want to have a situation which you mentioned in the point 4. What we can do when user tries to activate a work card without a milestone, is to add two milestones, `start` and `complete` by default to the timeline and activate the `start` milestone. Now we ca

[2019-08-23 08:51] maxceem commented on #3238
@vikasrohit just would like to note, that to deploy this task to PROD there should be a ProductTemplate created for each challenge `subTrack`. I did for some on DEV for example:

![image](https://user-images.githubusercontent.com/146016/63579806-0899bb80-c5c6-11e9-889a-3dfe740d88ba.png)

They should have `key` in format `challenge-{subTrack}`.

[2019-08-23 09:14] vikasrohit commented on #3238
THanks for the reminder. I have added it to my deployment steps list.

[2019-08-24 05:23] maxceem commented on #3237
5. So far for milestones `plannedText`,`activeText`, `completedText` and `blockedText` are required at the Project Service. But we don't use them in the new UI. Should we make them optional in the Project Service or fill with some dummy data for now?

[2019-08-26 05:02] vikasrohit commented on #3237
5. Yep, please make them optional now.

[2019-08-26 05:03] vikasrohit commented on #3235
Where in the post object we are storing the attachments ids?

[2019-08-26 05:27] ajefts opened #3281 "P0: Intake 'Objective' Flag for Topcoder Users"
**Objective:** Add a data flag ("Customer Project Request" vs. "Demo/Test") for Topcoder user roles to indicate their purpose for submitting project intake. This flag will serve two purposes. First, it will aid ensuring that we have cleaner data for internal analytics purposes. Second, it will serve the routing of new projects alerts to BDRs/AEs.

<p></p>

**Requirements:**

- If a Topcoder user r

[2019-08-26 05:27] ajefts commented on #3281
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2762550

[2019-08-26 05:27] vikasrohit commented on #3279
Closing in favour of product board created issue #3281

[2019-08-26 05:27] #3279 closed

[2019-08-26 05:27] maxceem commented on #3235
Inside `attachments` array:

![image](https://user-images.githubusercontent.com/146016/63666951-94992680-c804-11e9-8416-d1b89e397570.png)

Also, inside that array we have attachment filename to show:

![image](https://user-images.githubusercontent.com/146016/63667142-3c165900-c805-11e9-8eb3-6f6d674f3180.png)

[2019-08-26 05:33] #2970 closed

[2019-08-26 05:37] vikasrohit commented on #3149
@maxceem I think I mistakenly marked this in next release, and just realized that it was release as part of 2.4.13.

[2019-08-26 05:37] #3149 closed

[2019-08-26 05:40] vikasrohit commented on #3266
Implemented the suggested changes https://github.com/appirio-tech/connect-app/commit/a54178735db9b589cab196f12b493f4041906245

[2019-08-26 05:40] #3266 closed

[2019-08-26 05:42] vikasrohit commented on #3202
Fixed with https://github.com/appirio-tech/connect-app/commit/bb52f4cdb9ab70b877095b0e94982d12dc4d1540

[2019-08-26 05:42] #3202 closed

[2019-08-26 05:51] vikasrohit commented on #3213
@gondzo I can see that it is still rendering the plain text editor instead of draft js editor for me. It works fine when trying to create new thread, however, when creating new post, it seems like the the new post modal is hidden behind the drawer and the drawer itself is having horizontal scroll.

![Screenshot_2019-08-26-11-16-28](https://user-images.githubusercontent.com/2417632/63668052-8abaf78

[2019-08-26 08:47] vikasrohit commented on #3235
Okay, Agreed that we have to pull the topics to show the attachments of the topics in the Assets library. I am bit worried about how we would handle it, as you mentioned also, when we have to implement paging for the topics. We can not always load all topics just to load the assets of those topics. I would discuss this with the team and come back to you for the future improvement, for now, we can

[2019-08-26 11:23] maxceem commented on #3275
@vikasrohit first I was thinking that we can have URLs like:
[code]

But in such format we cannot understand if we define `string` or numeric value which might be important for the form.

There are two options to go:
1. Define all the `string` values inside quotes like this `name="value"` or `name='value``. So when we don't use quotes that would mean number, like `quantity=6`.
[code]
2. Define `pr

[2019-08-26 11:41] vikasrohit commented on #3275
@maxceem can we use jwt token instead? I mean that would be very simple string and act like regular string key value pair? We can generate jwt token for the prefill json without any secret so it would open to public as we don't want to validate the token.

Another thing is that we don't need to use exact field name or option value in the prefill json. We can use simple key value pairs like `{ "qaT

[2019-08-26 13:47] maxceem commented on #3275
you mean to encode data we pass in the URL as a jwt token? so URL would look like:
[code]

Maybe I didn't get the whole idea, but it feels that such a way wouldn't be generic for all the possible cases.

For example as I understand it would only work for checkboxes and radio buttons, but not for text values, right?

Just to confirm, we already have `autoSelectCondition`. So do you mean that we jus

[2019-08-27 06:46] vikasrohit commented on #3275
Yes

I think we are good with checkboxes and radio buttons for now. Later we can similar property (may be we need to call it `autoFill` or something similar) to the textboxes as well to support similar behaviour.

Yes, exactly. This is the selling point for me to quickly support this feature.

I liked that approach as well, however, I think that would force us to always the some kind encoded strin

[2019-08-27 06:50] vikasrohit commented on #3275
In nutshell to speed up things as it is critical for marketing team's release, here is my approach:

1. lets use simply query params for now e.g. `/new-project/qa?qaType=regression-testing`
2. Add the query params data to the context of the expression evaluator when evaluating the `autoSelectCondition` (or pass it all over wherever we evaluating some expression in the template, if that is quicker

[2019-08-27 07:28] maxceem commented on #3237
Current implementation of milestones API doesn't let us create new milestones.

When we have one timeline with one milestone, `endDate` of timeline match `endDate` for the only one milestone. If we try to add the second milestone, its `endDate` would be for sure after `endDate` of timeline which would cause validation error here: https://github.com/topcoder-platform/tc-project-service/blob/dev/src

[2019-08-27 08:56] RishiRajSahu commented on #3263
@vigneshTheDev Sorry I was out since then, okay got it, actually we are using firstname and lastname from the `basic_info` trait, that's why its all good. Okay then I think we are good, I'll merge the changes to dev and will test the UI on dev.

[2019-08-27 09:04] vigneshTheDev commented on #3263
No problem :)
Thanks for the updates @RishiRajSahu!

[2019-08-27 12:11] maxceem commented on #3275
@vikasrohit I've implemented the simplest solution and deployed to dev one commit https://github.com/appirio-tech/connect-app/commit/0a390c743499e5d880c5cce8719103c50b8dd675

You can try with next URL https://connect.topcoder-dev.com/new-project/qa-form-v1?qaType=regression-testing

Notes:
1. We have to always disable other choices for radio. Otherwise user can click other options, but they wouldn

[2019-08-28 00:51] maxceem opened #3282 "Use BuildingBlocks from backend in ProjectTemplates forms"
Recently, we created `BuildingBlocks` model in the ProjectService. The main purpose is to hold `privateConfig` for calculating the price estimation items.

But also, `BuildingBlocks` model has `config` property which may contain public config which might be used in ProjectTemplates. Other words, `BuildingBlocks` model can be used to hold reusable building blocks across ProjectTemplates.

We alread

[2019-08-28 01:29] maxceem commented on #3258
As now we are controlling permissions to manage works by `WorkManagementPermission`.

Should we add some default permission if no permissions records are found? For now, if we don't set permissions for template explicitly, nobody could manage work.

So should we define some default rule which would be applied if no permissions records found? Or we would always explicitly add permissions for every

[2019-08-28 01:40] maxceem commented on #3258
For the template `219` on DEV, I've defined all the permissions. Can see them by URL https://api.topcoder-dev.com/v4/projects/metadata/workManagementPermission?filter=projectTemplateId=219 using admin user.

[2019-08-28 05:38] maxceem commented on #3246
Done in commits https://github.com/appirio-tech/connect-app/commit/1d7b3cc3a6e4d74efc5ac57e4a432d84253cd377, https://github.com/appirio-tech/connect-app/commit/d932d1d417f3942dc830f4aea420258c0c8250ea

[2019-08-28 05:39] vikasrohit commented on #3258
I think we have discussed it earlier some where @maxceem. 😬
I think it should not be difficult for us to add explicit permission for each template which supports delivery management with works instead of phases. In fact it seems to be a good feature to me to keep old way (phases) and the new way (work) separate but still supported in the same release.
Is it possible for us to detect on front end i

[2019-08-28 05:52] vikasrohit commented on #3237
I think getting rid of validation https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/milestones/create.js#L68 is going to work for us better. I don't see any negative of removing this validation. But we can keep the logic of updating the end date of the timeline https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/milestones/update.js#L301 and in fac

[2019-08-28 06:31] maxceem commented on #3237
@vikasrohit I've removed the validation during milestone creation as a quick solution in the next commit https://github.com/topcoder-platform/tc-project-service/commit/e54c7ba3d3a6e140355b421baae37d65608dcd27

But now we have to implement updating `endDate` for timelines during milestone creation, as for now we only have this functionality during milestone updating https://github.com/topcoder-plat

[2019-08-28 06:50] maxceem commented on #3258
Yep, but because of new context and new details I re-raise it to confirm.

I guess you mean if it's possible to detect that `ANY` user has permissions to use work management. `No`, it's not possible expect user is admin and can call CRUD endpoints. Other users may get only `their` permissions.

So as the result of above I guess we cannot support `phases` based on permissions.
But there is another

[2019-08-28 08:55] vikasrohit commented on #3237
Yes, we need to update the `endDate` of the timeline when creating milestone. And agreed that it does not seem critical for now to have the end date of the timeline updated because the place where it was used is the validation which we just removed.

[2019-08-28 14:22] vikasrohit commented on #3258
Yep, I made that decision based on urgency of delivery at that time but as now we have kind of pause for the release, we can rethink. Further, in the referenced comment, I said we won't create phases by default any more no matter if we have `workstreamConfig`/`phaseConfig` or not. However, here I am more concerned about having backward compatibility for the existing projects so that they still kee

[2019-08-28 17:17] vigneshTheDev commented on #3263
Hi @RishiRajSahu, pushed the code related to connect app fixes:
https://github.com/appirio-tech/react-components/pull/330
https://github.com/appirio-tech/connect-app/pull/3284

[2019-08-28 18:02] vigneshTheDev commented on #3263
Hi @RishiRajSahu, pushed another commit that fixes the registration page issues: https://github.com/appirio-tech/react-components/pull/331

[2019-08-29 05:41] vikasrohit commented on #3275
Thanks @maxceem I think that works good for now except the point you raised in 1. We want to have the flexibility of user being able to change the selection after first auto select. So, I think we have to temporary have a new condition field `queryParamSelectCondition` (give it a better name if you can find one) and evaluate that condition only when page loads for the first time. That way when we

[2019-08-29 05:58] maxceem commented on #3275
Ok @vikasrohit. I've reverted previous implementation with `autoSelectCondition`.

It would be easier to use data from URL just pre-populate values of the form, without implementing new condition. But then to defined values for checkboxes we would have to define an array in URL like:
[code]
or
[code]
Which would be probably not that SEO friendly. For radio-buttons, we still can define values like:

[2019-08-29 05:59] maxceem commented on #3275
Note, that we already have some functionality to prefill form data based on URL params for ref code: https://github.com/appirio-tech/connect-app/blob/dev/src/projects/create/components/ProjectWizard.jsx#L110-L117

[2019-08-29 06:07] vikasrohit commented on #3275
Yep, but that is hard coded access to the query param.

That would work for me for now.

[2019-08-29 08:09] maxceem commented on #3275
From Slack:

@vikasrohit Done via commit https://github.com/appirio-tech/connect-app/commit/78bc4301dc8bb02db503b3def2df0cb40dc862a7, already pushed and deployed to `dev`.

Can select single option for `radio-group` questions and multiple options for `checkbox-group` questions. Selection is appleid only once when the link first opened, so after user may change values and also reopen link with half

[2019-08-29 08:39] vikasrohit commented on #3275
Great!! it works great. However, there is one UX issue which we might get immediately after deploying. Because we are preferring the locally stored project data over query params, if a user is on marketing website and trying to open different deep links e.g. https://connect.topcoder-dev.com/new-project/qa-form-v1?qaType=end-user-acceptance-testing&workType=all and https://connect.topcoder-dev.com/

[2019-08-29 10:27] maxceem commented on #3275
Just would like to note, that data would stored on `unload` only if user typed/changed anything. If we just open one URL, don't touch anything and after open another URL, then the query params `would` take effect.

Yep. Will give it a try now.

[2019-08-29 10:31] vikasrohit commented on #3275
Yep, that was my understanding as well, however, I think as we are auto selecting answers for some questions, it is thinking it as dirty form and saving it in local storage. I tried to open those two URLs without making any change in the form, but the second URL didn't reflected in update of auto selection of the new answer.

[2019-08-29 10:33] vikasrohit commented on #3275
I think I got it. On opening the first URL, I had to enter the project name and ref code, hence it assumed that user has changed the form. 😬

[2019-08-29 10:34] maxceem commented on #3275
Yep 😬 if you open one of them, don't enter name and open another one, you would see the last one works. But anyway it's not enough for us.

[2019-08-29 16:32] RishiRajSahu opened #3288 "Typo in Welcome message for new users"
As per the image attached
<img width="762" alt="Screenshot 2019-08-29 at 3 12 06 PM" src="https://user-images.githubusercontent.com/11248478/63958893-aac71100-caa8-11e9-9989-842009abaef1.png">

[2019-08-30 04:36] maxceem commented on #3239
@vikasrohit I've just realised, that after customer enter feedback and click `Mark As Completed` the milestone is marked as completed, and there is no way in UI for copilot/PM to see the provided feedback and selected designs.

[2019-08-30 10:57] maxceem commented on #3244
1. Fix timeline loading after creating a work. Sometimes after work is created with timeline and we load the timeline, it is not yet returned by the server from ES. So we have to put timeline directly to the Redux store during creating, so after if we want to reload it, we already know its `id` and can reload timeline by `id` as we do for all other cases.
2. Check how the milestones are updated in

[2019-08-30 11:01] maxceem commented on #3237
Few notes about current implementation:
1. If we create work with `status = In Progress` or if we change status of existent work without milestones to `In Progress` we automatically create two milestones and make the first one `active`.
2. If we change status of work with milestones to `In Progress` we active the first milestone.
3. When we add a workItem, we automatically **add** milestones assoc

[2019-09-01 14:27] #3275 closed

[2019-09-03 05:23] vikasrohit commented on #3237
Thanks @maxceem for the updates.

I think day granularity is okay for now until we get more requirements.

[2019-09-03 08:36] vikasrohit opened #3289 "Use handle instead of first and last name for creating avatars in Connect"
After recent changes in `_search` api endpoint, we started to miss the `firstName` and `lastName` for the users searched by this endpoint even though the user is authenticated. We should be able to pick the user's handle instead of first and last name if they are not available. This would make the application more fault tolerant as well.

fyi @RishiRajSahu @maxceem

[2019-09-03 09:00] vikasrohit commented on #3239
I think the original design intended the individual milestones to be clickable and when we click on on of the milestone, it shows the view of that milestone in the place where we are showing the view for the currently active milestone. Still, that approach would require the copilot/manager to click on the design review milestone to see the feedback which I guess is okay for the time being as we wo

[2019-09-03 16:14] maxceem commented on #3239
So far we don't have such capability. And we allow for now only view/interact with currently active milestone. If we follow the milestone link which is now not active, we would be redirected to the work details tab.

Though I think it's not hard to change this behaviour. The only question is:
1. What to show for other types of milestones for which we don't have individual page design at the moment

[2019-09-04 05:28] vikasrohit commented on #3239
1. What are the milestones which don't yet have designs?
2. I am not sure about it, but it we can just show the planned text for such milestones?

[2019-09-04 08:49] #3262 closed

[2019-09-05 05:40] RishiRajSahu commented on #3263
Done and pushed to prod.

[2019-09-05 05:40] #3263 closed

[2019-09-05 10:37] vikasrohit commented on #3244
1. Aren't we creating timeline in a separate API call after successful creation of the work card, just like we do for phase timeline? That allows us to use the response of the `POST /v4/timelines` to use as the latest data to render the timeline.

8. I guess, we don't need show anything except `Title`, `Description`, `Status` (which might be redundant as I can see a status dropdown just below the

[2019-09-05 12:22] vikasrohit commented on #3244
My test results of the code so far we have in `features/workstreams` branch:

- Seems like timeline is created when created a work, however, it is not retrieved back with the `GET /v4/timelines` endpoint.

[2019-09-09 07:19] vikasrohit commented on #3245
Done and released with other registration related changes #3263 .

[2019-09-09 07:19] #3245 closed

[2019-09-09 07:23] vikasrohit commented on #3288
Should be fixed and deployed to production along with other registration fixes #3263

[2019-09-09 07:23] #3288 closed

[2019-09-09 09:01] ajefts opened #3294 "[$10] P3: Update Customer Invitation Management"
**Objective:** Streamline the customer invitations process so that there is one workflow option for sending and managing invitations.

<p></p>

**Requirements:**

- Remove the "Manage" button that customer users see next to their "Team"

- Update the button that reads 'Invite people' to read 'Manage Invitations'

[2019-09-09 09:01] ajefts commented on #3294
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2754162

[2019-09-09 09:33] ajefts opened #3295 "P0: Registration Pages: Modify 'Marketing opt-in' Behavior"
**Objective:** Currently, users cannot complete registration until they opt-in to receive marketing communications. Users should be able to register, whether they choose to opt-in or not.

<p></p>

**Requirements:**

- Update the message wording at the bottom of the intake form to read: "I do not want to receive marketing communications from Topcoder." Therefore, if they do not check this box, the

[2019-09-09 09:33] ajefts commented on #3295
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2748431

[2019-09-09 10:34] vikasrohit commented on #3224
Potential fix https://github.com/appirio-tech/connect-app/commit/259ccf13df574c2ae2c32a6296d65ab7e5958b07

[2019-09-10 05:55] maxceem commented on #3244
For simplicity, currently we don't use response from `create timeline` endpoint, and instead, just reload the timeline after all is done. But because of the delay with indexing timeline in ES, we would have to fix this, and use response from `create timeline` endpoint. Will take care about it.

[2019-09-10 07:22] maxceem opened #3296 "Error: An apikey is required to initialize the Filestack client"
After removing default value for `FILE_PICKER_API_KEY` in the commit https://github.com/appirio-tech/connect-app/commit/3238c4354038aea26aa65626b8c3263ec1ffe7e9 we cannot run the Connect App locally without setting the environment variable `FILE_PICKER_API_KEY_DEV` manually. There is an error in browser console, and Connect App doesn't start:

![image](https://user-images.githubusercontent.com/146

[2019-09-10 07:58] maxceem commented on #3239
- `Phase Specification`
- `Community Work`
- `Final Fixes`

Yes, we can show the planned text, though so far we don't have ability to edit it. Should we show it on the milestone edit form? If so, should we also show other texts like active text, completed text and blocked text for consistency?

[2019-09-10 09:01] maxceem commented on #3274
@vikasrohit should we implement this or wait for product team to confirm?

[2019-09-10 09:05] maxceem commented on #3273
If we we would store `createdBy` for links, should we restrict editing links only to users who has created such link as we do for files? If so, should admin still be able to edit any links no matter who created them?

[2019-09-10 09:08] maxceem commented on #3254
I've also tried to follow the proposed steps but cannot reproduce it.

[2019-09-10 09:28] vikasrohit commented on #3274
I think we can take this liberty to implement this feature, provided that we are able to generate the notification cue for both files and links and have some way to distinguish the newly added/links from others just like we do for messages.

[2019-09-10 09:28] maxceem commented on #3225
I guess you meant endpoint `_suggest` like `https://api.topcoder-dev.com/v3/members/_suggest/phash_` which we use for getting suggestions during user invitations. It returns error `403` for customers.

When I'm trying to use a privilege user (`pshah_manager`), I'm also getting error from the server on `DEV`:

- Request: `GET https://api.topcoder-dev.com/v3/members/_suggest/pshah`
- Response:

   !

[2019-09-10 10:04] maxceem commented on #3274
Sum up:
1. Show the number of unread notification regarding files and links on the `Assets Library` menu item:

   ![image](https://user-images.githubusercontent.com/146016/64604585-14a9b980-d3cb-11e9-84ac-bce06e0224bf.png)

2. Also, in the project list we are showing the total number of notifications for the project.

    ![image](https://user-images.githubusercontent.com/146016/64604650-2d19d400

[2019-09-10 10:21] RishiRajSahu commented on #3254
Closing the ticket as not reproducible.

[2019-09-10 10:21] #3254 closed

[2019-09-10 10:23] maxceem commented on #3273
Sum up:
1. Currently, when we are creating links we store them inside `project.bookmarks` JSON in the next format:

    ![image](https://user-images.githubusercontent.com/146016/64605052-fa241000-d3cb-11e9-91d1-46e9fa64286c.png)

   Additionally, we should add the next properties for each link:
   - `createdAt` - creation date in format `2019-09-05T05:52:21.240Z`
   - `createdBy` - id of the user

[2019-09-10 10:25] vikasrohit commented on #3225
Not sure about why the `suggest` is not working in dev. We have security patch for `_search` endpoint though but that was not restricting any one to call the endpoint rather it was cleaning up the fields based on the roles. Good to know that it is still functional on production though.

For the purpose of this issue, we should just disable the suggestions for the customers as they are actually not

[2019-09-10 10:28] RishiRajSahu commented on #2710
Done and pushed to prod.

[2019-09-10 10:28] #2710 closed

[2019-09-10 10:32] vikasrohit commented on #3274
Do we have tooltips on these red cues? If not, we can add tooltips which describes what the number means.

[2019-09-10 10:39] maxceem commented on #3225
Sum up:
1. When customer user is typing a user handle to invite we should not try to show suggestions as we always get error `403` see a [screenshot](https://monosnap.com/file/wa6RBpugf1aR0dMzX7rXZMSR0gSnHS). Though customers should be still able to type username fully with the option `Create "<userhandle>"` as it's done now.

   For demo you can use project http://local.topcoder-dev.com:3000/proj

[2019-09-10 10:49] maxceem opened #3297 "[$10] Show tooltips for red cues of project menu items."
Follow up issue from the comment https://github.com/appirio-tech/connect-app/issues/3274#issuecomment-529875776

We are showing red cues with counters for project menu items:

![image](https://user-images.githubusercontent.com/146016/64607603-7cfb9980-d3d1-11e9-83b4-2863f1f10240.png)

We should show tooltips with explanation on numbers for each of them:
- Dashboard: `New comments`
- Messages: `New

[2019-09-10 10:51] maxceem commented on #3274
@vikasrohit created a separate issue for showing tooltips https://github.com/appirio-tech/connect-app/issues/3297

[2019-09-10 10:52] maxceem commented on #3297
This issue should be handled after implementing red cue counter for `Assets Library` tab https://github.com/appirio-tech/connect-app/issues/3274.

[2019-09-10 12:07] vikasrohit commented on #3297
We also need to add tooltip to the red cue on the project listing page.

[2019-09-10 12:15] vikasrohit commented on #3239
Yep, we can add the fields to the milestone edit form to allow edit of the various texts. And I guess, if we are showing the text for the view of a milestone based on status, we can take care of the 3 milestones' views.

[2019-09-10 12:28] vikasrohit commented on #3296
Does error go away if we supply any random key? I was just trying to avoid exposing the key in code. May be we can have free filepicker account and add it to the code or just give that key whenever required in a challenge? We might not need to set keys always in every challenge, until the file upload is involved.

[2019-09-10 12:37] maxceem commented on #3296
The app can be started with a random value.

That would be good if we can provide at least free account if it's enough for the dev purposes.

I would prefer to set the default value if possible to prevent any delays which could be caused by not providing valid key. As I would prefer to keep the setup as easy as possible.

Should I try to create a free account using my email? Or there is any Topcod

[2019-09-10 13:18] maxceem commented on #3222
I think this may be caused by some edge-cases connected with our link editor popup as I don't see any issues with the code, so I guess the issue is somehow more global, not just local.

![image](https://user-images.githubusercontent.com/146016/64617009-4b40fd80-d3e6-11e9-9644-47c4923ff0ba.png)

I guess the only way to find the solution for these two issues is to find the steps to reproduce them. S

[2019-09-10 13:32] maxceem commented on #3216
Sum up:
- This email content is rendered using this template https://github.com/topcoder-platform/tc-notifications/blob/dev/emails/src/partials/topics_and_posts.html#L13. In particular the text which we want to update is rendered using `{{title}}` placeholder.
- `{{title}}` placeholder is defined by this line https://github.com/topcoder-platform/tc-notifications/blob/dev/connect/notificationServic

[2019-09-10 13:40] maxceem commented on #3215
Sum up:
- this issue has to be fixed for ALL instances of the select component which is used in this form, not only for this particular form

[2019-09-10 13:47] maxceem commented on #3213
Sum up:

1. Drawer should open with 100% instead of hardcoded value on the screens with width less than [$screen-md](https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss).

   - It should also start from the top of screen without space on the top.

2. When we click `Write post` we open the window to write a post. It should open on TOP of the drawer. Now it's open

[2019-09-11 06:37] maxceem commented on #3210
1. When we edit phase we use the next form which let us edit not only start date but other properties of a phase including deleting phase:

    ![image](https://user-images.githubusercontent.com/146016/64672998-b4238680-d475-11e9-8014-61c20861f7e1.png)

    - So far when phase is completed, we don't show such edit form at all. So for admins we would have to show it even after phase is completed.

[2019-09-11 06:54] maxceem commented on #3206
Sum up:
1. Use user `pshah_manager`.
2. Open project https://connect.topcoder-dev.com/projects/7442
3. In the left sidebar click `Project is active` and choose `Cancelled`
4. The confirmation dialog would be shown on the top of the left sidebar where we not always can see it. Instead of that we should show confirmation dialog under the status select dropdown. Confirmation dialog should "push" cont

[2019-09-11 07:04] maxceem commented on #3180
### Steps to reproduce
1. Use user `pshah_manager`
2. Open any object for editing, for example this Project Template https://connect.topcoder-dev.com/metadata/projectTemplates/219
3. Click **Save** button.
4. As this user doesn't have permissions to update objects the error would happen on the server as expected and it would be shown in the bottom left corner.
5. Now try to navigate to any section

[2019-09-11 07:30] vikasrohit commented on #3180
Good catch. I was trying to log this issue since the day we implemented the metadata UI, but was not able to get time to log it.

[2019-09-11 08:09] maxceem commented on #3155
Example project https://connect.topcoder-dev.com/projects/7442 where `pshah_manger` user can invite.

Click `Manage` link next to the `TEAM` title to invite by handles and emails:

![image](https://user-images.githubusercontent.com/146016/64679518-8c87ea80-d484-11e9-9617-477ba88ef590.png)

[2019-09-12 05:55] vikasrohit commented on #3281
Yes, we are thinking of something similar, however, the problem is that we don't yet have support for hide/show of a question based on user role. Can you please create a separate task for that and get it done with the bug bash or may you directly.

[2019-09-12 06:33] vikasrohit opened #3298 "New User Roles"
We need to introduce new user roles and corresponding member roles to the project team to allow better targeted notifications and features. New user roles are (with mapping to the corresponding member role in Connect team):

Business Development Representative => Account Manager _(Should be treated as current Account Manager role for all privileges in the application)_
Presales => Account Manager

[2019-09-12 06:34] vikasrohit commented on #3298
@maxceem I guess we need changes in both connect-app and project service for this, right?

[2019-09-13 07:15] vikasrohit commented on #3298
Yep, agreed about the need of migration scripts and I think I am good with that even for the near future and as of now we don't yet have any permissions in database (because we are not going to release the work management yet), so we are safe with that regard.
Coming back, I think we also need changes in the `tc-notifications` as well for modifying the notifications targets.

[2019-09-13 07:25] vikasrohit commented on #3210
Yep, Agreed. And in fact we discussed internally to clean up the complexity involved in the milestones themselves. Here is summary of our new clean model:

1. Add new fields called `plannedDate` and `actualDate`
2. Ignore existing date fields e.g. `startDate`/`actualStartDate`/`endDate`/`completionDate`
3. Ignore `duration` field as well
4. In very simple words, a timeline would be a collection of

[2019-09-13 08:58] maxceem commented on #3281
In Project Service we created reusable method to check permissions described in the issue [General permission methods](https://github.com/topcoder-platform/tc-project-service/issues/346)

We also, have a similar method client-side but it's different so I was thinking to introduce new functionality which depends on the user permissions using new general method from server-side (copy it to client si

[2019-09-13 09:16] vikasrohit commented on #3281
Okay. I think we should do it with logic we have right now without much refactoring. we would do refactoring later.

[2019-09-13 09:22] vikasrohit commented on #3210
I think parallel phases is also workable with this approach as we can add two milestones for a phase one for the start and another for the end and there can be two milestone with same date.

The backend end changes for `workstream` is already in dev, right? So, I guess, we should be okay to have this in dev as well, however, for now, lets keep the changes in separate branches for both front end an

[2019-09-13 09:31] maxceem commented on #3210
So you mean that new milestones, would be just point marks, and we would fully decide how to use them clients side. So for the challenge phases we would need 2 milestones to define one challenge phase, something like this:
[code]

So we would also need 2 milestone types for each challenge phase, one to indicate start, and another one to indicate the end.

Right, for server-side workstream is alrea

[2019-09-13 09:35] vikasrohit commented on #3210
Yes, exactly.

For the front end, please create new branch out of dev and we would resolve the conflicts or will redo the changes in a another feature branch out of `workstreams` branch.

[2019-09-13 13:09] maxceem opened #3299 "[Milestones as points] refactoring"
Follow up from comment https://github.com/appirio-tech/connect-app/issues/3210#issuecomment-531130109

From @vikasrohit :

And in fact we discussed internally to clean up the complexity involved in the milestones themselves. Here is summary of our new clean model:

1. Add new fields called `plannedDate` and `actualDate`
2. Ignore existing date fields e.g. `startDate`/`actualStartDate`/`endDate`/`c

[2019-09-13 13:10] maxceem commented on #3210
Sum up for this issue:
1. We should let admins edit phases in any status. Currently, nobody can edit phases when phases are `delivered`.

     ![image](https://user-images.githubusercontent.com/146016/64864551-07e1cb80-d640-11e9-8504-ea9976ce364e.png)

2. Admins should be able to edit `actualStartDate` and `completionDate` fields of any milestone with the next conditions:
     1. If milestone has

[2019-09-13 14:19] maxceem commented on #3281
I propose to add a new property `userPermissionCondition` which would make a node (`section`, `subSection`, `question` or `option`) to be shown only if user match the permission rule defined in  `userPermissionCondition` like this:
[code]

Questions:
1. We already have `condition` property which also hides question on the condition. Should we somehow be able to combine these two conditions? There

[2019-09-16 05:51] vikasrohit commented on #3210
Did you check if our API supports edit of these fields for the Admins? Most probably it should, but just make sure if we do. Also, I think we need to update the logic to not let non admins to update `actualStartDate` and `completionDate` from the API.

[2019-09-16 05:55] ajefts opened #3300 "P0: Intake 'Objective' Flag for Clients"
**Objective:** To better sort and delineate they purpose for why a client has created and submitted a project intake, which will help in data management and alert routing to appropriate client management stakeholders.

<p></p>

**Requirements:**

- Assume that the client has already clicked "New Project" internally inside Connect or from the website, and that the client has selected the specific s

[2019-09-16 05:55] ajefts commented on #3300
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2791709

[2019-09-16 06:00] vikasrohit commented on #3281
@maxceem I am still processing the `userPermissionCondition` question in my mind as I am having slight confusion about exposing the user roles in the templates from a security perspective. For others, here are my answers:

2. Yes
3. I think we can leave it on our current logic, which I think would show it automatically? If I am wrong here, please correct me what all we need to do to render this qu

[2019-09-16 06:19] vikasrohit commented on #3281
@maxceem separate issue https://github.com/appirio-tech/connect-app/issues/3300 for the same question rendering for customer roles.

[2019-09-16 06:32] maxceem commented on #3210
Yes. We support updating both fields. Though if we try to update `completionDate` there is an error in the code `entityToUpdate.completionDate.diff is not a function`.

Will do that as a separate issue in Project Service via Bug Bash https://github.com/topcoder-platform/tc-project-service/issues/381

[2019-09-16 06:37] maxceem commented on #3300
If we directly access the link to create a particular project type like https://connect.topcoder-dev.com/new-project/app, should we still show this question or no?

[2019-09-16 06:47] maxceem commented on #3281
On the summary page we explicitly list the indexes of sections to show. So if we keep this question on a separate section, we can decide if we want to show it or no on the summary section. The concern I have regarding showing it is that we have a title and intro text which is shown on the 2nd section, so the intake question would be shown on top of them like this https://monosnap.com/file/0BdVrDhV

[2019-09-16 06:47] vikasrohit commented on #3300
Yes, if there is not saved project for the user in local storage. Otherwise, I think we assume that this question is already answered and saved to the local storage.

[2019-09-16 06:49] vikasrohit commented on #3298
@maxceem we need to wrap this one as it is also P0 for us for the next release (tentatively 26 Sept).

[2019-09-16 06:52] maxceem commented on #3300
Our wizard logic remember where we left the form. So if we left the form without answering the question, it would still show it. If already answered and clicked **Next** then wizard wouldn't show it. So should we treat this question as regular question? We just put it to the separate section. Or you see any specific logic (apart from showing to specific users)?

[2019-09-16 06:54] vikasrohit commented on #3281
Okay. Got it. I think we are good then, we can control visibility of this new section via template itself, right? So, we can hide it if the position of the section on the summary screen looks odd to the product managers, and we can show it anytime they want it. So, I guess, no changes needed for this.

[2019-09-16 06:56] vikasrohit commented on #3300
Yes, that logic sounds what I have in my mind, so we are good with that.

No other separate logic, just a regular question in a new section.

[2019-09-16 07:03] maxceem commented on #3298
@vikasrohit got it, thanks for emphasising it.

[2019-09-16 07:11] vikasrohit commented on #3299
I would like to start for this as soon as possible @maxceem

[2019-09-16 09:33] maxceem commented on #3298
1. @vikasrohit we have the next switches of user role in Topcoder Team dialog:

    ![image](https://user-images.githubusercontent.com/146016/64947087-eb7ea280-d87c-11e9-9f90-cdda74dc81e0.png)

    They already take quite a lot of space and if add two more options `Account Executive` and `Solution Architect`. This switch would take almost the whole width of the dialog. Should we replace these swit

[2019-09-16 10:47] maxceem commented on #3298
3. @vikasrohit is it possible to get users with new roles for testing on DEV? As I don't have access to admin UI I cannot create them myself.

[2019-09-16 11:04] vikasrohit commented on #3298
1. I think we have more than two new options for roles `Program Manager`/`Account Executive`/`Solution Architect`/`Project Manager`. And to accommodate them, we can try moving the selector in the next row so that it can take full horizontal space. For mobile devices (which I don't think we support now for this UI and I don't think we need to implement it right away), we can stack these options ver

[2019-09-16 12:55] maxceem commented on #3298
1. > And to accommodate them, we can try moving the selector in the next row so that it can take full horizontal space.

    1. Yes, I think can do that way, though IMHO it's better to replace this UI component with something more compact, as we would repeat the same list of roles many times, while we are only interested in the current role of the user.

    2. Regarding mobile devices. While we d

[2019-09-16 13:17] maxceem commented on #3299
1. Should we remove `startDate`, `actualStartDate`, `endDate`, `completionDate` and `duration` from milestones? If we keep them but don't update they would become out of date as soon as we update milestones.

2. > In very simple words, a timeline would be a collection of milestones which act as simple points and does not have any duration

   If we treat milestones as points and don't have timelin

[2019-09-17 07:17] vikasrohit commented on #3298
i. Agreed. But for now, I am trying to not invest time in UI designs, if possible. Please feel free to switch to the dropdown, if you see any issue in fitting the role options in the single row.

ii. I guess vertical stacking for mobile is good even if it too high as vertical scrolling is expected in the mobile devices. This does not makes sense, if we finally use dropdown though. :)

iii. Yes, if

[2019-09-17 07:29] vikasrohit commented on #3299
1. I would like to keep them for the first release after this change so that we have a backup plan. In the next release to it, we would remove these fields if we are able to render all existing timelines correctly with new changes.

2. We don't need to know when the last milestone ends or create specific milestone type `end`. We need a new generic milestone type `reporting` which can be used for a

[2019-09-18 10:28] maxceem commented on #3281
Right.

[2019-09-18 10:28] ajefts opened #3301 "P0: Update Draft to In Review Project Status Logic"
**Overview:** Remove the additional step of users needing to move project from 'Draft' to 'In Review' to send lead data to SFDC by converting projects to be in 'Draft' status only when the intake form is incomplete and 'In Review' status immediately after intake submission/project creation and leveraging the objective flag to route leads to SFDC appropriately.

<p></p>

**Requirements**

- **Draft

[2019-09-18 10:28] ajefts commented on #3301
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1671082

[2019-09-18 10:32] maxceem commented on #3281
@vikasrohit do you have any other ideas how would like to handle it? I like to use this approach because of its universality as we've started using this approach for defining permissions everywhere.

If you strictly don't want to expose the name of permissions in templates (even though we expose them in the source code). We can create some simpler custom values for this property. We can name the f

[2019-09-18 10:48] vikasrohit commented on #3281
Exposing permissions name is not bad but exposing the exact role name might be risky (though I can not think of exact risk). And you are right, we are exposing the role names in our public source code.

Lets go ahead with your current suggested approach of using roles directly in the new permission field.

[2019-09-18 10:51] maxceem commented on #3301
As I understand, we would not have a separate API request for converting project from `Draft` to `In Review`. So for this task we should do the next things:
##### In Connect App:
- remove `Draft` option from the status dropdown if the value of `intake form objective flag` is one of "I need work done," "I am exploring my options," or "Submitting Client Request". Otherwise we keep value `Draft` in t

[2019-09-18 10:54] maxceem commented on #3301
@vikasrohit this issue is marked with `tcs_Paid` label. Is this issues already done and paid?

[2019-09-18 10:58] maxceem commented on #3295
@RishiRajSahu do you know if this issue is handled as a part of https://github.com/appirio-tech/connect-app/issues/3278 via Private Task? Or this part should be handled separately, as I see it has `P0` priority.

[2019-09-18 11:16] maxceem commented on #3296
Done via https://github.com/appirio-tech/connect-app/commit/8ddaecee10b73bd75a96551a4ceb72fe8cd432ef

Closing this issue myself, as its quite trivial.

[2019-09-18 11:16] #3296 closed

[2019-09-18 11:32] vikasrohit commented on #3301
@maxceem I think the language of the task is bit confusing and I got confused with it as well. All we need for this task is to get rid of `draft` status completely from every where i.e. no project would ever assume this status from the day we push the changes to production. By default project would be created in `in_review` status.
Second change is when the answer of the `objective` question is no

[2019-09-18 11:32] vikasrohit commented on #3301
These are carried forward from the design tasks of the same story.

[2019-09-18 11:41] maxceem commented on #3301
It looks like local setup of `tc-connect2sf` for testing could be quite complicated. As I think the change would be small, do you think we would be able to make this change and after deploy `tc-connect2sf` service to DEV for testing instead of testing locally?

[2019-09-18 11:57] vikasrohit commented on #3301
Yes, I guess that is the only possibility for us because we have very fewer changes for this repo. So, it does not make sense to educate community about this repo and invest time in setting this on local. Let me know if you think you are comfortable with the changes or I can do that as well.

[2019-09-18 11:58] ajefts opened #3302 "P3: Remove "System" Label in Left Sidebar"
**Objective:** In the left sidebar of the 'all projects' dashboard, remove the "System" label. It isn't necessary as the tabs speak to the functionality provided on their own.

<p></p>

**Requirements:**

- Remove "System" label from left sidebar in 'all projects' dashboard Connect.

[2019-09-18 11:58] ajefts commented on #3302
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2756370

[2019-09-18 12:02] vikasrohit commented on #3302
Done via https://github.com/appirio-tech/connect-app/commit/d578535968c3534a89a5be22a2a1d68f3bb37f10

[2019-09-18 12:02] #3302 closed

[2019-09-18 12:02] ajefts opened #3303 "[$35] P3: Update Links in Connect"
**Objective:** In association with the launch of the new website, several links in the 'All Projects' dashboard of Connect require updating.

<p></p>

**Requirements:**

- Remove 'Getting Started' link that appears in top-bar and add it to the links displayed in the bottom-right of the screen. Replace the link with this one and relabel the link 'Our Process': topcoder.com/solutions/how-it-works/

[2019-09-18 12:02] ajefts commented on #3303
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2749714

[2019-09-18 12:02] vikasrohit commented on #3303
@maxceem this can be included in the bug bash

[2019-09-18 12:03] ajefts opened #3304 "P2: Update Empty Plan Message to Client"
**Objective:** Update the message the client sees in their project plan when their project has just been submitted and no delivery plan has been built yet to clarify expectations for the client.

<p></p>

**Requirement:**

- Update the default empty-state message of project plan that client sees to read: "We are reviewing your request. Within the next 24 hours, Topcoder will contact you to discuss

[2019-09-18 12:03] ajefts commented on #3304
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2757160

[2019-09-18 12:08] vikasrohit commented on #3304
Done via https://github.com/appirio-tech/connect-app/commit/88945bcb5a0045f1930b173c6ec67a2d41d1ea66

[2019-09-18 12:09] #3304 closed

[2019-09-18 12:15] maxceem commented on #3301
Yes, I'll handle it after adding intake flag in https://github.com/appirio-tech/connect-app/issues/3281

[2019-09-18 12:16] ajefts opened #3305 "P3: Remove "File/Link Uploads" Scope Tab"
**Objective:** Remove the file/link upload capability currently displayed at the bottom of the Scope tab once the intake form is submitted. The objective is streamline areas where file and link sharing within the platform. As the Scope Tab will eventually be removed and scope display/interactions will move to the scope card in project plan, sharing files/links in this section of the platform are n

[2019-09-18 12:16] ajefts commented on #3305
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2756963

[2019-09-18 12:18] vikasrohit commented on #3305
@maxceem I would remove the file sub section from the forms, however, I am afraid if removing that would remove the capability of the users to upload the files to the system completely. I guess, we used to use presence of the file subsection to enable the file upload from the left panel, I am not sure if we carried that logic to the new `Assets Library` page as well. Do you have idea about it?

[2019-09-18 12:40] maxceem commented on #3305
@vikasrohit yes, we keep that logic. Now we always show the menu item, but we hide `Add new...`. button on the `Assets Library` page, ref:
- https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/AssetsInfoContainer.jsx#L575-L578
- https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/AssetsInfoContainer.jsx#L448-L455

[2019-09-18 12:42] maxceem commented on #3305
I guess if you remove it from the forms, it wouldn't be shown during project creation also. As from the issue description, it looks like we still want to keep it the intake form:

[2019-09-18 14:34] maxceem commented on #3281
@vikasrohit it's in done and deployed to DEV via two commits:
- [feat: subSection type "portal" supports "hiddenCondition" and "hiddenOnEdit"](https://github.com/appirio-tech/connect-app/commit/9629a8f0f79b3362de552fdb68c915ab05ad76f9
)
- [feat: hide nodes in the wizard based on "userPermissionCondition"](https://github.com/appirio-tech/connect-app/commit/b2022930027fa7e0e97cd1a42e0373ed0b70cdb3
)

[2019-09-19 08:28] rashmi73 commented on #3155
@maxceem please give to me thanks

[2019-09-19 08:30] maxceem commented on #3155
Sure @rashmi73

[2019-09-19 08:32] Gauravseta commented on #3210
@maxceem I want to work on this one.

[2019-09-19 08:38] maxceem commented on #3303
Yes, @vikasrohit will include it to the Bug Bash.

A couple of questions.

1. Topcoder users see toolbar with the search field without links in top bar, so nothing to do with toolbar for such users:

    ![image](https://user-images.githubusercontent.com/146016/65227532-78219e80-dad1-11e9-9e97-539d1ad72483.png)

    Customers users see top with links:

    ![image](https://user-images.githubuserco

[2019-09-19 08:39] maxceem commented on #3210
Sure @Gauravseta

[2019-09-19 08:41] PrakashDurlabhji commented on #3206
@maxceem I would like to try this one thank you

[2019-09-19 08:42] RishiRajSahu commented on #3295
@maxceem yep !

[2019-09-19 08:44] maxceem commented on #3206
Of course @PrakashDurlabhji

[2019-09-19 08:49] RishiRajSahu commented on #3294
@maxceem you can include this one in bug bash !

[2019-09-19 08:51] vikasrohit commented on #3303
1. Yes, remove the `Getting Started` from the top bar for any user who can see it as of now and move it to the bottom right as said in original description.
Also, please go ahead with removal of `My Projects` link as well as it does not make sense to have duplicate links.
2. Yes, please.

Also, please verify, for any of links, the home page of the connect i.e. page which we show at connect.topcode

[2019-09-19 08:51] maxceem commented on #3294
Sure @RishiRajSahu.

For Topcoder team we keep the `Manage` link as it is now, right?

![image](https://user-images.githubusercontent.com/146016/65228842-dbaccb80-dad3-11e9-9e1b-1be6a274c7d5.png)

[2019-09-19 08:54] maxceem commented on #3303
We also should update links in the footer when we are not logged in:

![image](https://user-images.githubusercontent.com/146016/65228992-262e4800-dad4-11e9-92f5-ec6ff47afcaf.png)

3. When we are logged out there is also link `Learn more about Connect` which leads to `https://www.topcoder-dev.com/about-topcoder/connect/`, should we update it?

[2019-09-19 08:57] vikasrohit commented on #3305
Good to know that. We need to get rid of that logic now to implement this feature. Only concern I have now is about the original reason for which we added that logic in first place and that was because we wanted to hide file upload feature for certain customers which we achieved by removing the file upload sub section from their project templates.

We don't yet have any form on the production whic

[2019-09-19 09:03] maxceem commented on #3303
4. We also have a footer on the `Notifications` page https://connect.topcoder-dev.com/notifications

     ![image](https://user-images.githubusercontent.com/146016/65229720-68a45480-dad5-11e9-9a00-6bca7f638c8d.png)

     Should we update links there, or just remove this footer?

[2019-09-19 09:06] vikasrohit commented on #3303
3. Leave that link as is for now

4. yes

[2019-09-19 09:09] suppermancool commented on #3274
@maxceem pls assign this to me, thanks

[2019-09-19 09:12] maxceem commented on #3274
Sure @suppermancool

[2019-09-19 09:33] PrakashDurlabhji commented on #3206
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3307

[2019-09-19 09:38] PrakashDurlabhji commented on #3215
@maxceem I am starting on this. thanks

[2019-09-19 09:43] suppermancool commented on #3274
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3308 .

[2019-09-19 09:48] vikasrohit commented on #3281
@maxceem does the new condition `usePermissionCondition` works only for section right now? if that can work on a question, we can add two questions in the first section, one of which is visible for customers(for #3300) and another for topcoder emplyees (for this issue).

[2019-09-19 09:50] maxceem commented on #3281
It should work for all kind of nodes, same like `condition`. I'll give it a try with the other issue https://github.com/appirio-tech/connect-app/issues/3300

[2019-09-19 09:52] vikasrohit commented on #3281
Great!! I guess then it would work. Let me know if you see any issue with it.

[2019-09-19 09:54] suppermancool commented on #3213
@maxceem pls assign this to me

[2019-09-19 09:57] maxceem commented on #3300
It looks like for this issue we have to update the current implementation of permission check method. As currently we only can check the presence of roles. But for this issues we have to check that user `doesn't` have Topcoder roles. We have such ability in the method which is implemented in Project Service.

I'll make the minimal update to the permission method which is required for this task onl

[2019-09-19 09:58] maxceem commented on #3213
Done @suppermancool

[2019-09-19 10:05] PrakashDurlabhji commented on #3215
@maxceem unable to solve it, please unassign me

[2019-09-19 10:11] PrakashDurlabhji commented on #3215
@maxceem dont unassign me it is done raising PR

[2019-09-19 10:11] PrakashDurlabhji commented on #3215
@maxceem please give it back to me it is done now

[2019-09-19 10:11] maxceem commented on #3215
Thanks for letting me know @PrakashDurlabhji.

This issue is open for pickup.

[2019-09-19 10:12] maxceem commented on #3215
Ok @PrakashDurlabhji assigned you back!

[2019-09-19 10:22] PrakashDurlabhji commented on #3215
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3309

[2019-09-19 10:39] RishiRajSahu commented on #3294
@maxceem yes as we don't have any separate invite button for Topcoder team.

[2019-09-19 10:42] PrakashDurlabhji commented on #3207
please give me thanks

[2019-09-19 10:44] maxceem commented on #3207
Sure @PrakashDurlabhji

[2019-09-19 11:04] vikasrohit commented on #3300
@maxceem can we add roles of the requesting user in the context of our expression evaluator while evaluating the `userPermissionCondition` (or may be we don't need this and can simply use already existing `condition` field) and then define the condition in the template as `userRoles hasLength 1 && userRoles contains 'Topcoder User'` for customer users and for topcoder employees + copilots we can h

[2019-09-19 12:21] ajefts opened #3310 "P3: Update Invited Unregistered 'Join Project' Workflow"
**Objective:** Remove secondary step of pop-up window with 'Join Project/Cancel' that appears after the user has already clicked 'Join Project' in 'all projects' dashboard.

<p></p>

**Requirements** - Workflow:

[Imagining that users has already completed the steps of sending invitation/receiving invitation/registering (if necessary), and that they are now in Connect on the 'all projects' dashboa

[2019-09-19 12:21] ajefts commented on #3310
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2761599

[2019-09-19 12:21] ajefts opened #3311 "[$120] P3: Update Invited Registered User Workflow"
**Objective:** Update email templates sent to registered platform users when they are invited to a project to include 'Join Project' or 'Decline' buttons, which when clicked automatically manage their acceptance or decline of invitation in the platform. This will improve the efficiency of the workflow that exists today, wherein: An invited registered user receives an invitation email, they click t

[2019-09-19 12:21] ajefts commented on #3311
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2761674

[2019-09-19 12:25] jankyzhang commented on #3273
@maxceem pls assign this to me, thanks

[2019-09-19 12:26] suppermancool commented on #3213
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3313

[2019-09-19 12:28] maxceem commented on #3273
done @jankyzhang

[2019-09-19 12:30] suppermancool commented on #3225
@maxceem pls assign this to me

[2019-09-19 12:31] maxceem commented on #3225
done @suppermancool

[2019-09-19 12:51] codeMinter commented on #3216
@maxceem please assign me this.

[2019-09-19 12:58] maxceem commented on #3216
Sure @codeMinter

[2019-09-19 13:01] suppermancool commented on #3225
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3314 .

[2019-09-19 13:03] suppermancool commented on #3212
@maxceem pls assign to me

[2019-09-19 13:32] suppermancool commented on #3212
@maxceem the Tooltip component don't show good if the text is too long for example:
https://gyazo.com/1985f1ad103b232bce93b0ac2238f5af

I think the default tooltip of browser look good in this case:
https://gyazo.com/3c4b1f5afe66bfd93589413d31786477

[2019-09-19 13:46] suppermancool commented on #3212
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3315
I'm using the default browser tooltip because the Tooltip component don't look good for long text

[2019-09-19 13:50] lakshmiathreya commented on #3277
@RishiRajSahu 'go to Dashboard' doesnt have link to All Projects Connect Dashboard.

[2019-09-19 13:51] suppermancool commented on #3211
@maxceem pls assign this to me

[2019-09-19 13:58] vigneshTheDev commented on #3277
Hi @lakshmiathreya, according to the implementation, only the word Dashboard has the link. Can you please let me know the exact issue? Is the link not visible at all or is it pointing to wrong page?

[2019-09-19 14:07] lakshmiathreya commented on #3277
@vigneshTheDev - yes only 'Dashboard' needs to have the link but it seems to have no link!

[2019-09-19 14:13] lakshmiathreya commented on #3277
@vigneshTheDev For Profile updates in Customer role,
First Name
Last Name
Business phone
Business email

are to be the allowed, non mandatory fields right?

I notice:
-- Country is also editable.
-- Title is mandatory - we are not supposed to have any mandatory fields in edit Profile right?

[2019-09-19 14:15] vigneshTheDev commented on #3277
@lakshmiathreya,

I see the changes reflecting in the commit. You'll also need to merge the latest changes in accounts app here: https://github.com/appirio-tech/accounts-app/pull/316. Please let me know if you still face the issue after merging this PR

[2019-09-19 14:18] vigneshTheDev commented on #3277
@lakshmiathreya, please hold on for a while on this requirement. We might revert it back to make all the fields mandatory. I'm waiting on @RishiRajSahu for confirmation.

[2019-09-19 15:01] lakshmiathreya commented on #3277
Sure will wait for updates reg the final version of the edit Profile reqmt ... @RishiRajSahu @vigneshTheDev

[2019-09-19 15:47] suppermancool commented on #3211
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3316

[2019-09-19 15:54] suppermancool commented on #3208
@maxceem pls assign this to me

[2019-09-19 15:55] sahil143 commented on #3294
@maxceem assign this to me

[2019-09-19 16:02] nahidshahin commented on #3212
@maxceem can I work on it please ?

[2019-09-19 16:07] nahidshahin commented on #3180
@maxceem can I try please?

[2019-09-19 16:14] suppermancool commented on #3208
@maxceem done in https://github.com/appirio-tech/react-components/pull/334 .

[2019-09-19 16:33] sahil143 commented on #3294
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3317
I have removed the `Manage` button but kept the `View` button in `Team`. If `View` button also needs to be removed, please let me know I will make the changes accordingly.

[2019-09-19 17:16] suppermancool commented on #3179
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3318 .

[2019-09-19 17:52] jankyzhang commented on #3273
@maxceem
About the value of the fields (createdBy, createdAt, updatedBy and updatedAt) :
We should make them the same as project's fields (createdBy, createdAt, updatedBy and updatedAt).
Right ?
Just like:
link.createdBy = project.createdBy

[2019-09-19 17:55] rashmi73 commented on #3155
@maxceem it is done and ready https://github.com/appirio-tech/connect-app/pull/3319

[2019-09-19 18:39] rashmi73 commented on #3209
@maxceem please give this to me thank you. I have started working on it

[2019-09-19 20:18] jankyzhang commented on #3273
@maxceem,
Please check the code.
Thanks much.

[2019-09-19 20:46] PrakashDurlabhji commented on #3207
@maxceem more time needed as projects link mentioned above is not working as per video.
I went through whole code , but permission dialog is not opening after uploading the files in project 8217 and 8216

[2019-09-19 21:14] Gauravseta commented on #3210
@maxceem working on . PR in few hours

[2019-09-20 03:31] codeMinter commented on #3216
Sorry @maxceem - started working on this, then realised the change is on other repo. Got pulled into something else then, give me few more hrs, working on this right now.

[2019-09-20 06:25] maxceem commented on #3294
Thank you for screenshots in the PR @sahil143. It looks like what we need.

[2019-09-20 06:33] maxceem commented on #3273
No. We should set them when we create or update them.
So when user creates a link we should set `createdBy` to the current user id, and `createdAt` to the current time and same for `updatedBy` and `updatedAt`.
Also, when we update particular link, we should update values for `updatedBy` and `updatedAt`.

For old links which already don't have the fields, don't show anything in the column, show jus

[2019-09-20 06:33] maxceem commented on #3207
Ok @PrakashDurlabhji, thanks for update.

[2019-09-20 06:34] maxceem commented on #3216
Ok @codeMinter

[2019-09-20 06:38] maxceem commented on #3210
ok @Gauravseta

[2019-09-20 06:42] maxceem commented on #3180
Hey @nahidshahin as per our Bug Bash rules, you don't have to wait to be assigned and can work on the issue as soon as you comment, see the rules https://www.topcoder.com/challenges/30102919.

So since your comment the issue was assigned to you. As during 12 hours since start you didn't provide a Pull Request and didn't requested the extension, I have to unassign this issue from you and open it fo

[2019-09-20 06:44] maxceem commented on #3209
@rashmi73 as there is no Pull Request during 12 hours. I have to open this issue for everyone to pick up.

This issue is now open for pick up.

[2019-09-20 06:49] rashmi73 commented on #3209
@maxceem kindly give it to me back, as I was investigating it and came to know that it requires backend access to tc-message-service.

[2019-09-20 06:50] rashmi73 commented on #3209
@maxceem can you please provide me access to https://github.com/appirio-tech/tc-message-service/

[2019-09-20 06:52] maxceem commented on #3209
I've removed it from pick up for a while. Could you please give me a hint how it requires changes in `tc-message-service`? I looks for me that it's only Connect App issue.

When we upload files we don't see them immediately, but if we reload page, we can see them.

[2019-09-20 06:54] maxceem commented on #3209
`tc-message-service` is only about messages and posts. But on the scope tab we only upload files and don't have messages or posts.

[2019-09-20 06:56] maxceem commented on #3212
@suppermancool I would prefer to use our customer tooltip as we use it across the project everywhere. What the issues with our custom tooltip?
I can see it goes under other elements on the page. Are there any other issues?

Note, usually the REF code would be one word without spaces.

[2019-09-20 07:39] gets0ul commented on #3180
Please assign me.

[2019-09-20 07:55] maxceem commented on #3180
Done @gets0ul

[2019-09-20 08:09] suppermancool commented on #3212
Done in https://github.com/appirio-tech/connect-app/pull/3315

I fixed the goes under other elements problem. If the text too long it doesn't wrap and go outside the browser width.

[2019-09-20 08:33] suppermancool commented on #3212
@maxceem avoid above comment i can fix the tooltip text long problem

[2019-09-20 08:55] suppermancool commented on #3212
@maxceem done in latest commit

[2019-09-20 10:30] gets0ul commented on #3180
@maxceem PR is done and ready for review.

[2019-09-20 11:55] jankyzhang commented on #3273
@maxceem  ,
We need to add the fields (createdBy, createdAt, updatedBy and updatedAt) at **tc-project-service**.
then show createdBy in **connect-app**.
Right ?

[2019-09-20 13:57] rashmi73 commented on #3209
@maxceem I tested thoroughly .it is working fine now

[2019-09-20 14:04] Gauravseta commented on #3210
@maxceem releasing myself as wont be able to complete it

[2019-09-20 14:04] rashmi73 commented on #3210
@maxceem please give to me

[2019-09-20 16:46] codeMinter commented on #3216
@maxceem can we open this for pickup ?

[2019-09-20 16:52] Gauravseta commented on #3216
@maxceem let me give try to this. please give me. thank you

[2019-09-20 17:58] maxceem commented on #3273
We store links as JSON object
https://user-images.githubusercontent.com/146016/63419698-d5292680-c437-11e9-99c6-80946ab9e05c.png

So we don't have to do any changes server-side for this task. When we create a link client-side, we should add to this JSON for a new link createdBy, createdAt, updatedBy and updatedAt.

And when we update link, update its updatedBy and updatedAt.

And then show created

[2019-09-20 18:01] maxceem commented on #3216
Thanks for update @codeMinter.

@Gauravseta it's on you since your comment.

[2019-09-20 18:02] maxceem commented on #3210
Thanks for update @Gauravseta

@rashmi73 it's on you since your comment.

[2019-09-20 18:03] maxceem commented on #3207
@PrakashDurlabhji any update on this issue?

[2019-09-20 18:04] maxceem commented on #3209
@rashmi73 do you mean you cannot reproduce the issue?

[2019-09-20 18:05] PrakashDurlabhji commented on #3207
@maxceem can you please provide a project where permission dialog is visible as I am not able to find such a project.

[2019-09-20 18:06] maxceem commented on #3209
Hmm, yes, looks like it works now. I also cannot reproduce this issue anymore.

[2019-09-20 18:10] maxceem commented on #3207
@PrakashDurlabhji project where we have the permission dialog https://connect.topcoder-dev.com/projects/8217

See demo video how to open it https://monosnap.com/file/OO3iU7CKCkwaGRemJYg0KEAICpayTl and use steps to reproduce from the issue [description](https://github.com/appirio-tech/connect-app/issues/3207#issue-471464721).

[2019-09-20 18:26] PrakashDurlabhji commented on #3207
@maxceem yes same has been used earlier, trying once again

[2019-09-20 18:28] maxceem commented on #3207
it works for me @PrakashDurlabhji. Let me know if you difficulties to reproduce.

[2019-09-20 20:03] rashmi73 commented on #3210
@maxceem point 1 is already completed.

I am confused regarding point 2 because currently:
1. I dont see any field such as "completion date" or " actual start date" when I edit any of milestone.
I have attached screenshot here which shows current UI when a milestone is edited(milestone is not completed).

![3217](https://user-images.githubusercontent.com/41687423/65355200-03ed1500-dc0f-11e9-96b1-6

[2019-09-20 20:14] maxceem commented on #3210
1. > though I am aware properties exist on milestone object, but it is not made visible on UI, am I correct?

    Right. We don't have these fields in UI yet. But we have them in the data from server.

2. yes, we should add these new fields for admins.

3. right

4. For admins we should show all the fields which we show now + 2 new fields.

    No, rest fields should be same like now - editable, e

[2019-09-20 20:15] PrakashDurlabhji commented on #3207
@maxceem I am still not able to see permission dialog after uploading file.

Following observations are made after watching the video :
1. I am using pshah_manager login, to see the project whereas you might be using some different login, because profile icon at top right is different in my login and different in your login.
so I doubt users are same, hence I am not able to get permission dialog

[2019-09-20 20:43] rashmi73 commented on #3210
@maxceem any such similar implementation of type date?

because <FormFieldDate is giving error as it requires hardcoded propery fields "startDate" and "endDate"

[2019-09-20 20:47] PrakashDurlabhji commented on #3207
@maxceem PR in few time. Kindly request you to  not unassign me as it would be completed by me surely.

waiting for your reply so that I can produce permission dialog at my end

[2019-09-21 01:58] jankyzhang commented on #3273
@maxceem
Thanks for the reply.
We have update the code.
However, It fail to work due the server-side Valdiations.
![screenshot-local topcoder-dev com_3000-2019 09 21-09_47_20](https://user-images.githubusercontent.com/2173685/65366428-4554e300-dc56-11e9-8c22-ba86d4ca8dac.png)

[2019-09-21 06:08] maxceem commented on #3210
@rashmi73

Yes, we have example of date field when we edit phase, see `Start Date` field code https://github.com/appirio-tech/connect-app/blob/cf19/src/projects/detail/components/PhaseCard/EditStageForm.jsx#L286

![image](https://user-images.githubusercontent.com/146016/65368874-1e46e300-dc4f-11e9-8f1c-6c6ffdca4465.png)

You can use any name for such field.

[2019-09-21 06:14] maxceem commented on #3207
@PrakashDurlabhji please, kindly check a new video where I show the process from the beginning https://monosnap.com/file/HxyM64JsLdULwkdzpBOSTDbyuOpO5I

I use project https://connect.topcoder-dev.com/projects/8217 and user `pshah_manager`.

If you still cannot reproduce it, please, create a video showing how it works for you.

[2019-09-21 06:30] maxceem commented on #3216
As there is no update more than 12 hours, this issue is now open for pick up.

[2019-09-21 06:37] Gauravseta commented on #3216
@maxceem please assign me back, i will complete it else i will release myself thank you

[2019-09-21 06:43] maxceem commented on #3216
Ok @Gauravseta I'll keep it on you for 12 hours more.

[2019-09-21 07:16] maxceem commented on #3273
@jankyzhang I've fixed it server-side. Could you please try now.

[2019-09-21 07:19] maxceem commented on #3303
This issue is now open for pick up.

[2019-09-21 07:40] manepal commented on #3303
Hi, can you please assign this issue to me?

[2019-09-21 07:47] maxceem commented on #3303
Sure @manepal. Just would like to note, that as per our Bug Bash rules https://www.topcoder.com/challenges/30102919 your comment is enough, and you don't have to wait to be assigned, and you can start working as soon as you post a comment (if nobody commented before you).

[2019-09-21 08:28] manepal commented on #3303
@maxceem , on it. Thanks!

[2019-09-21 08:53] maxceem commented on #3207
@PrakashDurlabhji I think I know why you don't see the permission dialog. Please, hold on with this task. I'll provide you additional information shortly, as soon as I get some feedback from Topcoder team.

[2019-09-21 09:02] maxceem commented on #3207
@PrakashDurlabhji please, follow the instruction which I've posted on the challenge forum https://apps.topcoder.com/forums/?module=Thread&threadID=944566&mc=1#2367853. This would make sure all the file uploading functionality works properly.

Let me know if you can see permission dialog now.

[2019-09-21 09:09] maxceem opened #3322 "Mark file & link notifications as read on Assets Library page"
Recently we implemented showing red cue for the number of new files/links added based on the number of notifications https://github.com/appirio-tech/connect-app/issues/3274.

Now we have to mark these notifications as read in some events.

So far we can manually mark notifications about new files/links on the dashboard page

![image](https://user-images.githubusercontent.com/146016/65371065-806012

[2019-09-21 10:26] maxceem commented on #3225
For the reference, we are can track the status of server-side issue with `/_suggest` endpoint which we use here in the next issue https://github.com/appirio-tech/ap-member-microservice/issues/261

[2019-09-21 12:49] jankyzhang commented on #3273
@maxceem , I just test it. It work well. :-)

[2019-09-21 13:49] rashmi73 commented on #3210
@maxceem it is ready https://github.com/appirio-tech/connect-app/pull/3323

[2019-09-21 14:18] RishiRajSahu commented on #3277
@vigneshTheDev with recent discussion with the team, we don't have to lift the required fields feature, let it be as it is, just add role wise edit privileges to profile page.

@lakshmiathreya please skip dashboard URL issue you mentioned above, actually vignesh is right that change is not in dev, will push it on monday.

[2019-09-21 14:20] RishiRajSahu commented on #3310
@maxceem if this could be added to bug bash ?

[2019-09-21 16:03] PrakashDurlabhji commented on #3215
@maxceem releasing this, it is open now

[2019-09-21 16:05] nahidshahin commented on #3215
@maxceem want to work on it, please.

[2019-09-21 16:41] PrakashDurlabhji commented on #3206
@maxceem PR updated

[2019-09-21 18:47] maxceem commented on #3215
Thanks for update @PrakashDurlabhji

@nahidshahin it's on you. Please, check the comments here about the possible implementation for this issue https://github.com/appirio-tech/connect-app/pull/3309

[2019-09-21 18:49] maxceem commented on #3303
This issue is now open for pick up.

[2019-09-21 18:51] maxceem commented on #3207
@PrakashDurlabhji please, let me know if you could reproduce this issue using my comment above https://github.com/appirio-tech/connect-app/issues/3207#issuecomment-533781756

[2019-09-21 18:53] rashmi73 commented on #3303
@maxceem pls give to me

[2019-09-21 18:55] PrakashDurlabhji commented on #3207
@maxceem yes on it

[2019-09-21 18:59] maxceem commented on #3303
Sure @rashmi73

[2019-09-21 20:55] PrakashDurlabhji commented on #3207
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3324

[2019-09-21 22:26] Gauravseta commented on #3216
@maxceem releasing it for open

[2019-09-22 06:51] rashmi73 commented on #3303
@maxceem Working actively

[2019-09-22 08:26] maxceem commented on #3297
This issue is now open for pick up.

[2019-09-22 08:27] maxceem commented on #3216
Thanks for update @Gauravseta.

This issue is now open for pick up.

[2019-09-22 08:29] PrakashDurlabhji commented on #3297
@maxceem i want to work on this

[2019-09-22 08:31] maxceem commented on #3297
Sure @PrakashDurlabhji

[2019-09-22 08:33] maxceem commented on #3215
As there is no update during more than 12 hours, this issue is now open for pick up.

[2019-09-22 08:34] maxceem commented on #3215
This issue may be harder than it looked initially, please, check the comments here about the possible implementation for this issue #3309

So the prize for this issue is raised to `$100`.

[2019-09-22 08:38] codeMinter commented on #3215
@maxceem please assign me this.

[2019-09-22 08:39] maxceem commented on #3215
Done @codeMinter

[2019-09-22 08:43] sahil143 commented on #3216
@maxceem assign this to me

[2019-09-22 08:44] maxceem commented on #3216
Sure @sahil143

[2019-09-22 09:05] maxceem commented on #3310
For testing the next project can be used http://local.topcoder-dev.com:3000/projects/8369. See [demo video](https://monosnap.com/file/cJFLHSZIX21Z8xESSYxuots1PHtFcD) on how I use user `pshah_manger` to invite user `pshah_customer` and after `pshah_customer` can see `Join project` button on the project listing page.

So as per task description above we should do the next things:
1. Add `decline` bl

[2019-09-22 09:14] maxceem commented on #3311
It looks like there are two parts in this issue to be done:
1. In the Connect App create links which users can follow to automatically accept and decline invitation. I'm thinking about creating the next links:
[code]

    So if user follows such a link we should show the loading indicator during we are sending request to the server to accept/decline the invitation.
     - If invitation is accepted

[2019-09-22 11:06] RishiRajSahu commented on #3311
@maxceem I don't think there should be any security risk by creating such URLs to accept/decline the invitation, because as per my understanding we update the PENDING invites present for that user for a particular project, so even if those params are changed manually and there is no PENDING invite present for that project/member combination then there will be an error.

[2019-09-22 11:11] RishiRajSahu commented on #3310
@maxceem all correct except -

we don't redirect user to project details page instead hide the Join/Decline button/link once the action is done.

do you think any conflicts will be there if we do #3311 / this issue together ?

[2019-09-22 11:21] maxceem commented on #3311
Right, we only updating a PENDING invitation, otherwise there would be an error.

[2019-09-22 11:26] maxceem commented on #3310
No, I was thinking that we would redirect to the project details, so the current task would be partially implemented by #3311. But as per your update above, we don't have to redirect to the project details page, thus these two issues now can be done in parallel.

One more question though:
1. If we see a project with `join`/`decline` button in the project list and we click the link to the project w

[2019-09-22 11:31] RishiRajSahu commented on #3310
@maxceem no actually we have to get rid of this dialog, but I got your point, and there are two scenarios coming to my mind now -
1. User clicks on Join/decline button on listing page
2. User directly open the project for which is invited

Behaviour 1. - Keep user on listing page, don't show dialog, simply remove/fade-away the join/decline option. Can we some progress indicator there - like small

[2019-09-22 11:47] maxceem commented on #3311
Sum up:
Implement the first part of this task, described in https://github.com/appirio-tech/connect-app/issues/3311#issuecomment-533863882

For testing the next project can be used http://local.topcoder-dev.com:3000/projects/8370 or create a new project. See [demo video](https://monosnap.com/file/cJFLHSZIX21Z8xESSYxuots1PHtFcD) on how I use user `pshah_manger` to invite user `pshah_customer`.

[2019-09-22 11:48] maxceem commented on #3311
This issue is now open for pick up.

[2019-09-22 11:58] maxceem commented on #3310
Sum up.
Implement this task as per comment https://github.com/appirio-tech/connect-app/issues/3310#issuecomment-533863271

To show success and error alerts we can use the next place https://github.com/appirio-tech/connect-app/blob/dev/src/reducers/alerts.js#L1

For loading indicator we can use the next component https://github.com/appirio-tech/connect-app/blob/dev/src/components/LoadingIndicator/L

[2019-09-22 11:59] maxceem commented on #3310
This issue is now open for pick up.

[2019-09-22 14:20] PrakashDurlabhji commented on #3297
@maxceem it is ready https://github.com/appirio-tech/connect-app/pull/3327

[2019-09-22 14:27] PrakashDurlabhji commented on #3310
@maxceem give it to me thank you

[2019-09-22 14:56] maxceem commented on #3155
@vikasrohit can you still reproduce this issue on DEV? I'm trying to reproduce the original issue but cannot now.

[2019-09-22 15:07] rashmi73 commented on #3155
@maxceem it was reproducible locally hence i raised PR for it. I hope efforts are not wasted this time

[2019-09-22 15:24] sahil143 commented on #3216
[code]

I have been trying to setup `tc-notifications` locally following these steps https://github.com/topcoder-platform/tc-notifications#local-deployment but I'm getting the above error with `npm start`. Any thoughts/ideas?

[2019-09-22 20:24] rashmi73 commented on #3303
@maxceem ready https://github.com/appirio-tech/connect-app/pull/3328

[2019-09-22 20:27] PrakashDurlabhji commented on #3310
@maxceem some more time

[2019-09-22 22:41] codeMinter commented on #3215
@maxceem not able to fix this, so opening it.

[2019-09-22 23:48] gets0ul commented on #3215
Please assign me.

[2019-09-23 04:57] romitgit commented on #3311
Please assign this to me.

[2019-09-23 05:06] RishiRajSahu commented on #3277
@lakshmiathreya the latest changes including the corrected dashboard URL have been pushed to dev.

[2019-09-23 05:09] ajefts opened #3329 "[$20]P2: Update Default Text Displayed in Customer Invites"
**Objective:** Update the descriptive text shown in the invitation field for customers to indicate that customers can only be invited via email address.

<p></p>

**Requirements:**

- Update default text to read: "Enter email address"

[2019-09-23 05:09] ajefts commented on #3329
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2807587

[2019-09-23 05:11] RishiRajSahu commented on #3329
As per discussion with Ariel have to update the text to `Enter email address(es) or user handles`

[2019-09-23 05:19] vikasrohit commented on #3322
Yes, agreed.

Another question, do we show the newly added link/file somewhat differently in the list of the files and links? I mean, red dot against such items might work.

[2019-09-23 05:25] vikasrohit commented on #3155
@maxceem I think it is still there if we use `@` symbol before the handle. I guess the invites works as expected no matter if you use `@` or not. I remember that we removed the requirement of using `@` for inviting users via handle, but may be we are just ignoring the `@` while inviting.

[2019-09-23 05:27] Marrri4ka commented on #3329
Can you assign this task to me?

[2019-09-23 05:47] RishiRajSahu commented on #3329
@Marri4Ka you can only pickup issues tagged with `CF` and `Open For Pickup` tag. Anyway this issue is going to be tagged soon to be picked up.

[2019-09-23 05:49] Marrri4ka commented on #3329
ok.i I'll wait, already made changes. Can you grant access to push to my branch?
Github: marrri4ka
Thank you!

[2019-09-23 05:50] RishiRajSahu commented on #3329
this issue is open for pickup now.

[2019-09-23 05:50] rashmi73 commented on #3329
@RishiRajSahu pls give me

[2019-09-23 07:17] maxceem commented on #3329
This issue is on you @rashmi73

@Marrri4ka it's possible to claim the issue only after it's open for pick up so the @rashmi73 who was the first one gets the issue. You may check the full Bug Bash rules here https://www.topcoder.com/challenges/30102919?tab=details.

[2019-09-23 07:26] maxceem commented on #3300
@vikasrohit this sounds like a good idea. Advantage of the approach using `condition` is that we can combine user permission conditions with other conditions. The disadvantage is that rules would more wordy if we have to define several roles.

Though I've already implemented `userPermissionCondition` using another approach described here https://github.com/appirio-tech/connect-app/issues/3281#issu

[2019-09-23 07:41] maxceem commented on #3216
I've provided more detailed steps to setup `tc-notifications` service on the forum, please have a look https://apps.topcoder.com/forums/?module=Thread&threadID=944657&mc=1#2368193.

Let me know if it helps, or there are any other difficulties.

[2019-09-23 07:43] maxceem commented on #3215
Sure, it's on you @gets0ul

[2019-09-23 07:44] maxceem commented on #3311
Sure @romitgit

[2019-09-23 07:46] maxceem commented on #3322
We don't do that so far. I'll check if we can do that technically.

[2019-09-23 08:16] maxceem commented on #3155
Thanks @vikasrohit can reproduce it.

[2019-09-23 09:21] vikasrohit commented on #3300
Lets finish it the way you have already started to not increase the timeline. We can decide on it after release, if it makes sense to move the `condition` approach.

[2019-09-23 09:22] vikasrohit commented on #3300
@maxceem are we done with the question for client? I know we are done with the question for topcoder employees.

[2019-09-23 09:23] maxceem commented on #3300
@vikasrohit will push today, mostly only testing left.

[2019-09-23 10:21] maxceem commented on #3300
@vikasrohit it's done via commit https://github.com/appirio-tech/connect-app/commit/1a2f044562b51cd78bd3cdf217ca9bd659b151b1

For testing you can use the next link which has intake question: https://connect.topcoder-dev.com/new-project/app_new_intake
You can use the next users to see the difference:
- `pshah_manager` - see question `Intake Purpose`
- `pshah_customer` - see question `Why are you cr

[2019-09-23 10:25] maxceem commented on #2841
I've updated `checkPermission` by adopting the method which we have in Project Service in the next commit https://github.com/appirio-tech/connect-app/commit/1a2f044562b51cd78bd3cdf217ca9bd659b151b1

This method now supports `allowRoles` and `denyRoles` rules, see more detailed explanation and future plans here https://github.com/topcoder-platform/tc-project-service/issues/346

Now, as the method a

[2019-09-23 10:42] vikasrohit commented on #3300
Thanks @maxceem I have slightly changed the template to have a message section on top of the first section and store the result of the client objective flag at the same place where we are storing the same for topcoder employees.

It is working great as per my expectations. Let me share it with the product managers and come back with feedback.
Any thing pending from our side?

[2019-09-23 10:44] maxceem commented on #3300
No, it's fully done as per current description.

[2019-09-23 12:20] gets0ul commented on #3215
@maxceem PRs are done and ready for review.

[2019-09-23 20:02] rashmi73 commented on #3329
@maxceem it is ready https://github.com/appirio-tech/connect-app/pull/3333

[2019-09-23 20:34] sahil143 commented on #3216
@maxceem releasing it for open.

[2019-09-23 21:02] PrakashDurlabhji commented on #3310
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3334

[2019-09-24 04:49] maxceem commented on #3311
As there is no update more than 12 hours, this issue is now open for pick up.

[2019-09-24 04:49] maxceem commented on #3216
This issue is now open for pick up.

[2019-09-24 08:10] PrakashDurlabhji commented on #3297
@maxceem PR update

[2019-09-24 08:16] lakshmiathreya commented on #3278
@vigneshTheDev @RishiRajSahu @vikasrohit pls clarify if the fix for this Issue has been completed - since I notice these to be missing during Registration Process:
1. Country code drop down continues to be on the right.
2. Company size question is still there.
3. Marketing opt-in behavior is same as earlier - the above message is not implemented.
4. Left side bar titles have also not been updated

[2019-09-24 08:25] RishiRajSahu commented on #3278
@lakshmiathreya the changes are removed from dev due to deployment of some other feature branch, let me know when you plan to test I will build the changes again on dev

[2019-09-24 10:31] suppermancool commented on #3311
@maxceem pls assign this to me

[2019-09-24 10:41] lakshmiathreya commented on #3278
Verified all requirements listed here. Except:
"Update business phone entry on Profile page to match registration page".

Pls note that this cannot be verified in Dev since Profile page comes up blank due to Member service issue. Hence there is no prepopulated Business phone entry in the Profile to match with.

[2019-09-24 10:45] gets0ul commented on #3216
Please assign me.

[2019-09-24 11:01] lakshmiathreya commented on #3277
All the requirements here have been verified. However:
-- in Dev, Profile page comes up with blank fields due to Member Service issue.
-- The list of fields to be edited in Profile edit - all fields are listed - same list of fields for all Roles.
-- There is verbiage on the PIN Entry screen which is not mentioned in the Requirements above: "Make sure you hear from us".

[2019-09-24 11:09] RishiRajSahu commented on #3278
@lakshmiathreya yeah I agree the data is not pre-populated for now just test that for the pages show same UI

[2019-09-24 11:13] RishiRajSahu commented on #3277
@lakshmiathreya
-- yeah that's known
-- aren't the remaining fields read only if user don't have privilege ?
-- It was there earlier also, and there was no mention of removing it, could you compare on dev and prod this text ?

also it would be helpful to have screenshot ?

[2019-09-24 11:34] suppermancool commented on #3311
@maxceem done in https://github.com/appirio-tech/connect-app/pull/3335

1. There is the lint error in current app, this error isn't made from my code.
2. I can't test this because i alway get 502 error when invite member: https://gyazo.com/4be73cebb64c60923f9cb59e3841ad24
3. After we implement the first part, we can update email template by adding these two links and button to accept and decline i

[2019-09-24 11:48] rashmi73 commented on #3210
@maxceem kindly verify PR now

[2019-09-24 12:47] maxceem commented on #3311
1. Thanks for letting me know. It's fixed now in `cf19`.

2. Yeah, we have to wait until Member Service is back for testing.

3.  > After we implement the first part, we can update email template by adding these two links and button to accept and decline invitations. -> I'm not sure how to do this

    No worries, this part would handled separately.

[2019-09-24 13:23] maxceem commented on #3310
@PrakashDurlabhji the PR which you provided doesn't implement any functionality which is required in this task. As we don't have much time and you still have another issue to complete which also goes too slowly I'm unassigning you from this issue so somebody else can work on it, while you work on the other issue.

[2019-09-24 13:31] rashmi73 commented on #3303
@maxceem PR update

[2019-09-24 13:32] Gauravseta commented on #3310
@maxceem please give me. I will complete it

[2019-09-24 13:42] maxceem commented on #3310
Sure @Gauravseta. But only 12 hours for this task as we don't have time. After 12 hours I will un-assign if not ready yet.

[2019-09-24 14:18] vigneshTheDev commented on #3277
@lakshmiathreya, Profile edit privileges issue is fixed now. Could you please verify?

[2019-09-24 14:42] rashmi73 commented on #3210
@maxceem PR update it should work fine now

[2019-09-24 16:38] PrakashDurlabhji commented on #3206
@maxceem code update done and working

[2019-09-24 21:04] Gauravseta commented on #3310
@maxceem releasing it as wont be able to complete it

[2019-09-24 21:05] rashmi73 commented on #3310
@maxceem pls give it to me

[2019-09-24 21:48] rashmi73 commented on #3310
@maxceem PR is ready with minor changes left out while functionality is completed almost.
https://github.com/appirio-tech/connect-app/pull/3337

Confusion:
1. **Add decline blue link under the Join project button**
any similar implementation anywhere in project, confused by the word "under" where exactly it needs to be placed? below?

2.**should show alert popup in right bottom corner You joined t

[2019-09-25 06:07] maxceem commented on #3310
Thanks for quick PR @rashmi73

1. We don't have such example. I mean it should be below. So "Join Project" button and below blue link "Decline".

2. Yes, I mean standard **black** alert popup on the left.

3. Yes, I mean standard **red** alert popup on the left.

[2019-09-25 06:44] lakshmiathreya commented on #3277
<img width="1349" alt="Screenshot 2019-09-25 at 11 49 38 AM" src="https://user-images.githubusercontent.com/51733042/65575306-21aed700-df8d-11e9-8179-d67ba4315f31.png">
<img width="1302" alt="Screenshot 2019-09-25 at 12 06 41 PM" src="https://user-images.githubusercontent.com/51733042/65575308-21aed700-df8d-11e9-8734-7df2c25c60e1.png">
<img width="1293" alt="Screenshot 2019-09-25 at 12 10 17 PM" s

[2019-09-25 08:27] RishiRajSahu commented on #3277
@lakshmiathreya
1. Ignore company list, as per discussion in our last team call that's out of scope for now
2. Save button gets enabled once we made changes otherwise its disabled for no changes
3. Yes, its editable

[2019-09-25 09:04] lakshmiathreya commented on #3277
2. Save button is disabled even after changes are made for Customer and Copilot roles.

[2019-09-25 09:38] lakshmiathreya commented on #3277
@RishiRajSahu as per our conversation this is a known issue. Let's go ahead with the release. I will close the Issue after Prod testing.

[2019-09-25 12:30] maxceem commented on #3216
As there is no update more than 12 hours, this issue is now open for pick up.

[2019-09-25 12:36] PrakashDurlabhji commented on #3216
@maxceem I wish to work on it

[2019-09-25 12:38] maxceem commented on #3216
@PrakashDurlabhji sure. As we are short on time, this should be done during 12 hours or I'll have to un-assign you.

[2019-09-25 12:46] maxceem commented on #3216
@PrakashDurlabhji please, make the fixes to the PR https://github.com/appirio-tech/connect-app/pull/3307 first, so I could merge it. Thanks.

[2019-09-25 15:09] PrakashDurlabhji commented on #3206
@maxceem PR update done

[2019-09-25 15:47] PrakashDurlabhji commented on #3216
@maxceem do i need to deploy tc-project-service too?

[2019-09-25 15:51] maxceem commented on #3216
@PrakashDurlabhji this task is in another repository https://github.com/topcoder-platform/tc-notifications

I think deploying it fully can be hard. But you still have to find some way to test it and provide a detailed guide how to do it.

Please, check this comment for details of this task https://github.com/appirio-tech/connect-app/issues/3216#issuecomment-529936721

[2019-09-25 16:09] maxceem commented on #3216
I leave up to you. For the full testing - yes, you would have to deploy locally project service to trigger events to send notifications. But it's not required if you could figure out a simpler way for testing.

It's better if you define these environment variables in the console session before starting the tc-notifications service. This is to make sure that every place in the tc-notifications retr

[2019-09-25 16:39] PrakashDurlabhji commented on #3216
**if you could figure out a simpler way for testing**

yes I know its by using this command but still doubt  on some points.

docker exec -it test-kafka /usr/bin/kafka-console-producer --broker-list localhost:9092 --topic notifications.connect.project.post.created

[2019-09-25 18:29] rashmi73 commented on #3155
@maxceem updated PR

[2019-09-25 20:44] rashmi73 commented on #3310
@maxceem Kindly check the screenshot below:

1. in projectSearch.projects[1] we have members and invites array through which we can find whether current user is member/invited or not(though it is not working perfectly, backend giving some wrong data even on decline/join project click)

2. I agree we can find whether user is invited or not from above logic, and our requirement says on clicking "dec

[2019-09-26 15:49] PrakashDurlabhji commented on #3216
@maxceem i am midway. I saw code completely and came to know that originator can be tc-project-service or tc-notifications. means i can just make tc-notifications up and running then i need to trigger that code which would send email which is desired.

Also can you please describe which kind of event is present in screenshot in issue description. like post created or post updated etc.

it would gi

[2019-09-27 08:24] RishiRajSahu commented on #3311
@romitgit @maxceem any update on this ?

[2019-09-28 09:17] maxceem commented on #3298
@vikasrohit there is a place where we send an event to the analytics with the current user role: https://github.com/appirio-tech/connect-app/blob/feature/new-roles/src/actions/loadUser.js#L58-L68

In this code we have some logic to determine what is main user role. I'm not sure how should we update this code after adding new roles because I don't know what the analytics system expects to get. Shou

[2019-09-28 09:37] maxceem commented on #3298
@vikasrohit it looks like we have to replace the UI for choosing member role with Select as even on Desktop there is not enough space.

![image](https://user-images.githubusercontent.com/146016/65814600-8e88d200-e216-11e9-8345-30b629963310.png)

[2019-09-28 10:10] maxceem commented on #3298
3. We send different type of events depend on the role of user which joins the project: https://github.com/topcoder-platform/tc-project-service/blob/feature/new-roles/src/events/busApi.js#L125-L135

    Should we send a separate new event types for new user roles? Or should we send `BUS_API_EVENT.MEMBER_JOINED_MANAGER` for new "manager" roles? Or maybe we should send default `BUS_API_EVENT.MEMBER_

[2019-09-29 06:00] maxceem commented on #3311
@RishiRajSahu I've reviewed the [PR](https://github.com/appirio-tech/connect-app/pull/3335). In general it works good, thought there is a couple of things to improve.

[2019-09-29 09:43] maxceem commented on #3310
3. > Also for one time i can achieve above requirement once, when user clicks on decline, i get sucess call back in promise and check whether it was decline then I can filter project from all projects, but that will be just once, because when I willl refresh the page then project will appear again, so I feel we need rejection array or different logic? If I am wrong can you please correct or guide

[2019-09-29 09:54] rashmi73 commented on #3310
@maxceem yes I do have other concerns

**For users who has manager or admin roles after decline invitation we just remove the buttons, because they can still see the project in the list**

I need something from backend always such as "rejected" value in status field of invites array then only I would be able to represent the flow by checking if manager and rejected then dont show buttons. in anoth

[2019-09-29 10:09] maxceem commented on #3310
@rashmi73 hmm, for me backend already sends the correct status of invitation.

1. I click `Decline` button.
2. I see that we send the next request:

    ![image](https://user-images.githubusercontent.com/146016/65830625-b003bf80-e2e3-11e9-8905-cccaa92e8e16.png)

3. And response from the server looks like this, with `refused` status:

     ![image](https://user-images.githubusercontent.com/146016/6

[2019-09-29 11:30] maxceem commented on #3216
I'm not sure about this. The code has to be explored to find out which events trigger this email.

@PrakashDurlabhji as it's already several days this issue doesn't have a solution I have to un-assign you.

This issue is no longer in Bug Bash and would be handled in another way.

[2019-09-30 02:10] RishiRajSahu commented on #3311
@maxceem are you pointing towards error page we see after waiting for few seconds on project details page ? I think that could be blocking thing..

[2019-09-30 02:15] RishiRajSahu commented on #3310
@maxceem yep project service seems to be sending the correct data, @rashmi73 can't we check `if manager and PENDING` instead of `if manager and rejected` to show/hide button ?

[2019-09-30 02:42] maxceem commented on #3311
Yes, that one. PR has been updated after my last review. I'll check it now.

[2019-09-30 04:57] RishiRajSahu commented on #3311
@maxceem Okay, let me know if it works good now !

[2019-09-30 05:11] maxceem commented on #3311
@RishiRajSahu it works good now for all the positive situation. It only fails to handle a situation when there is some error happened during server request. But the rest works great.

[2019-09-30 06:17] maxceem commented on #3273
@vikasrohit after this issue is implemented as per description I can see some improvements which we can do.

1. So far we don't show `Created By` and `Modified` for folders:

    ![image](https://user-images.githubusercontent.com/146016/65853452-2956ed00-e38c-11e9-9d61-4ce341090343.png)

    1. As these folders represent posts, we can show the `Created By` for folders as `Created By` of the corres

[2019-09-30 06:42] maxceem commented on #3301
@vikasrohit what should we do with the existent project which currently have status `draft`? Should we create a migration script to move all of them to `in_review` status? Or should we keep them as they are? In such case we should hide `draft` status in the dropdown unless it's not currently selected. And as soon, as we select another status, the `Draft` option should disappear from the dropdown.

[2019-09-30 07:22] vikasrohit commented on #3273
1.
  i. Yes we can show the `createdBy` of the post for the folders for now.
  ii. if the logic is not difficult to implement, we can show the `modified` date for the latest file/link as you said. However, I think we don't need to show `modified` and we can actually show the creation date instead.
2. Similar to 1.ii) we can show creation date instead of modification date.

[2019-09-30 07:26] maxceem commented on #3273
Thanks for clarifications @vikasrohit.

@jankyzhang would you like to make the improvement to this task as described in comments above:
1. Show `Created By` for the folders.
2. Show createdBy date in the `Modified` column for the files and links inside folders.

The prize for this issue can be increased for `$25` more for the improvement. The only thing this should be done today.

[2019-09-30 07:31] vikasrohit commented on #3298
Sorry @maxceem for the delay in response. Here are my answers:

1. We just expect the more relevant role which user has. I guess we can send the complete roles array instead of picking up one of them, however, I am not sure as of now why we chose only one for the analytics. Assuming the same patterns, I would suggest to add new roles before https://github.com/appirio-tech/connect-app/blob/feature/

[2019-09-30 07:46] maxceem commented on #3298
4. > Ideally we want the new specific role users to join as specific project role as well. So, when a Solution Architect clicks on Join button, he/she should be joined as Solution Architect to the project. For BDR and Presales, add them as Account Executive project roles when they click on the Join button.

    Just to keep it clear. The [code](https://github.com/topcoder-platform/tc-project-servi

[2019-09-30 08:29] RishiRajSahu commented on #3311
@maxceem Okay, I hope you meant some legit error, right ? and not a new error due to these changes.

[2019-09-30 08:30] RishiRajSahu commented on #3311
@maxceem Let's wait some more time for the #3310  to be concluded also.

[2019-09-30 08:53] vikasrohit commented on #3273
and use `Created at` as column header instead of `Modified`

[2019-09-30 08:55] vikasrohit commented on #3298
Ohk. I got it wrong. However, the logic seems to be same for this case as well i.e. if possible we should allow adding of users to the new roles only if they posses those user roles and still keeping the manager role to assume any role for now but the new roles won't be able to take `Manager` or any other role then what they have as user role.
If it is tricky or time consuming, we can treat them a

[2019-09-30 09:25] jankyzhang commented on #3273
@maxceem ,
Thanks. I am interesting to make the improvement.
Two questions:
1. 'Created By' for the folders according of 'feed.userid' and 'phase.createdby' . right ?
2.How to get the 'createdBy date' for the files and links from 'feeds' and 'phaseFeeds'?

[2019-09-30 10:05] maxceem commented on #3273
1. > 'Created By' for the folders according of 'feed.userid' and 'phase.createdby' . right ?

   It should be always 'feed.userid'. The reason for this is that we would have here folders from various posts, not only from phases (later).

2. yes. 'createdBy date` should come from 'feeds'.

@jankyzhang Let me know if my answers help.

[2019-09-30 10:07] maxceem commented on #3311
@RishiRajSahu Yes, not a new error. Just in case something went wrong on the server during request we should show the proper error. Usually, such error shouldn't happen it's to cover kind of an edge case.

[2019-09-30 10:10] maxceem commented on #3298
I think I would prefer to keep it as it is for now. Because updating this part would require more detailed testing and maybe writing additional unit tests to avoid any issues. So I guess it's better to keep it for the next release and test it for some time on DEV.

[2019-09-30 10:48] jankyzhang commented on #3273
@maxceem
About the 'createdBy date`, Now not the 'createdAt' field in 'feed.post' .
We should select which field  in 'feed.post' as the 'createdBy date` ?
![screenshot-local topcoder-dev com_3000-2019 09 30-17_13_39](https://user-images.githubusercontent.com/2173685/65872181-9aa99680-e3b2-11e9-90e2-7cde3f4831b6.png)

[2019-09-30 10:51] maxceem commented on #3273
@jankyzhang use the field called `date`.

[2019-09-30 11:25] jankyzhang commented on #3273
@maxceem
I just update the code.
Please check it.
Thanks.

[2019-09-30 17:24] rashmi73 commented on #3310
@maxceem @RishiRajSahu I guess you have misunderstood what I am trying to convey.

1. the screenshot u pasted above shows correct response is received for that particular http call.

2. But I am talking regarding the list which is fetched. on fetching list of projects, in "ProjectSearch.projects[1].invites[1].status"   I shall get status: "rejected"/"accepted" . but at this place
I get pending alw

[2019-10-01 02:22] maxceem commented on #3310
Thanks for detailed questions @rashmi73.

When user refreshes browser, rejected or accepted invitations should be NOT in the list. As soon as we reject or accept invitation it's not anymore returned by the server. As we don't have such rejected or accepted invitations in the list we don't show buttons anymore, which is what we need.

If you still see invitation in the list with the `pending` statu

[2019-10-01 04:44] lakshmiathreya commented on #3329
Default text now reads "Enter email address(es) or user handles". Verified on Dev.

[2019-10-01 05:50] lakshmiathreya commented on #3303
Verified links for 'About', 'Contact us', 'Privacy', 'Terms', 'Our Process' - as per requirement stated above. However, could not locate the current 'Getting Started' in Top bar in Prod - has it been removed already? Pls clarify @vikasrohit

[2019-10-01 06:30] vikasrohit commented on #3301
@maxceem I think you are working on this one yourself, right? Do you think we can apply it as hotfix immediately after the release?

[2019-10-01 06:40] maxceem commented on #3301
yes, I think we can apply a hotfix after release. Is that ok, to also hotfix https://github.com/appirio-tech/tc-connect2sf or it's better to update that service during the scheduled downtime?

[2019-10-01 08:16] maxceem opened #3345 "New user roles improvements"
In the recent issue https://github.com/appirio-tech/connect-app/issues/3298 we introduced new user roles while keeping the logic the same as it is. We just made the new roles behaves same as old roles.

Now as we've released that part we can move forward and make the code behave depend on the role more specific.

What can be done:
1. Let only invite users with the exact roles (not like any manager

[2019-10-01 09:22] maxceem opened #3347 "Invitation of users with @ doesn't work PROD"
When I'm trying to invite a user in PROD to the customer team starting from `@` it doesn't work. Though it works on DEV.

Also, if I invite the same user on PROD without `@` it also works.

The reason for this, is that when we make a call to the member service to get user id by user handle we use the handle together with `@`:
[code]

On PROD such requests returns nothing:

![image](https://user-im

[2019-10-01 09:23] maxceem commented on #3347
@vikasrohit will add the fix to the post-release path https://github.com/appirio-tech/connect-app/pull/3346

[2019-10-01 09:24] vikasrohit commented on #3347
Lets hold on this @maxceem Ideally, I think we didn't want to get users invited with `@` in prefix. I would double check with product managers if they want to enable that feature again.

[2019-10-01 09:25] vikasrohit commented on #3347
Just read your solution though, solution to remove`@` seems logical to me and does not require product manager's approval, I guess.

[2019-10-01 09:45] vikasrohit commented on #3301
we can make it as hofix but for `tc-connect2sf` we can push it as regular release as we didn't make any release for this repo this time.

[2019-10-01 10:11] maxceem commented on #3347
Fixed via https://github.com/appirio-tech/connect-app/commit/19090abdea54cb008e8d9de4b0c57f6763969354 and added to [[HOTFIX] [PROD] Post-release 2.4.15.1](https://github.com/appirio-tech/connect-app/pull/3346)

[2019-10-01 10:30] vikasrohit opened #3348 "Need support for expression evaluator in `required` field"
This is to support dynamically making a question required based on answers for other questions.

fyi @maxceem

[2019-10-01 10:39] lakshmiathreya commented on #3294
<img width="1108" alt="Screenshot 2019-10-01 at 4 07 42 PM" src="https://user-images.githubusercontent.com/51733042/65955409-adc96e80-e465-11e9-9aaa-c3b369a6da9c.png">
As per requirement 'Invite People'  needs to be changed to 'Manage invitations'. @RishiRajSahu

[2019-10-01 11:25] vikasrohit commented on #3294
@lakshmiathreya it was supposed to change the `Invite People` in the left panel on the project's dashboard, not at this place in dialog box itself. Now, as user is in `Manage Invitations` screen, it does not make sense to say `Manage Invitations` again instead of current text `Invite More People`. Let me know I miss understood the issue.

[2019-10-02 21:22] rashmi73 commented on #3310
@maxceem commented on PR

[2019-10-03 06:03] maxceem commented on #3216
This issue is done in `tc-notifications` repo via PR https://github.com/topcoder-platform/tc-notifications/pull/157

[2019-10-03 07:08] vikasrohit commented on #3345
@maxceem we can close this one right?

[2019-10-03 07:14] maxceem commented on #3345
No. These are the follow-up tasks after the `2.4.5` release. They mostly come from your comments to the PR https://github.com/topcoder-platform/tc-project-service/pull/387.

These are improvements that we can make after we added new roles in https://github.com/appirio-tech/connect-app/issues/3298.

[2019-10-03 07:17] vikasrohit commented on #3345
Ohk, I saw that one PR is referencing this issue, so assumed that these changes are done. :)

[2019-10-03 08:36] RishiRajSahu opened #3354 "User unable to see manage invitations"
~Customer~ User is unable to see manage invitations under customer `Team` for some reason even after being added to `Team` for a connect project

[2019-10-03 08:37] RishiRajSahu opened #3355 "Forward opt-in flag to the salesforce lead"
Right now we are not using the opt-in flag chosen by the customer during the registration for sending marketing communications. This flag needs to be forwarded as part of salesforce lead to be used by marketing team.

[2019-10-03 08:37] RishiRajSahu commented on #3355
fyi @vikasrohit

[2019-10-03 09:23] vikasrohit commented on #3355
@RishiRajSahu I have made changes for the same in leadInfo API https://github.com/appirio-tech/tc-connect2sf/pull/34. Let me know if it works for you in dev, we can push it to prod as well immediately after we see it working in dev.

[2019-10-03 12:32] rashmi73 commented on #3310
@maxceem online for 4 hours?

[2019-10-03 13:27] maxceem commented on #3310
@rashmi73 no, I'll be online tomorrow around 10 am GMT+8

[2019-10-03 18:13] rashmi73 commented on #3310
@maxceem working

[2019-10-04 02:22] RishiRajSahu commented on #3354
Its seen for user having the roles `Connect Admin`, `Customer` and `Connect Manager`

[2019-10-04 02:55] RishiRajSahu commented on #3278
Pushed to prod.

[2019-10-04 02:55] #3278 closed

[2019-10-04 02:55] RishiRajSahu commented on #3277
Pushed to prod.

[2019-10-04 02:55] #3277 closed

[2019-10-04 04:14] maxceem commented on #3310
@rashmi73 As there is still no solution I have to un-assign you from this issue. The desired time for solving issues in our Bug Bash is 12 hours, but this issue took too long, and unfortunately, we cannot wait any longer as this issue is already delayed for release.

This issue is no longer in Bug Bash.

[2019-10-07 02:29] RishiRajSahu commented on #3355
Accounts app changes pushed to PROD via https://github.com/appirio-tech/accounts-app/pull/320.

Verified working fine in PROD.

[2019-10-07 02:29] #3355 closed

[2019-10-07 03:45] RishiRajSahu commented on #3303
@lakshmiathreya yes its been removed as per the description of the issue, and instead 'Our Process' has been added in the right footer.
Closing the issue as working fine.

[2019-10-07 03:45] #3303 closed

[2019-10-07 03:49] RishiRajSahu commented on #3297
Merged to prod. Closing.

[2019-10-07 03:49] #3297 closed

[2019-10-07 03:52] RishiRajSahu commented on #3294
@lakshmiathreya I got it why there is a confusion, check the first screenshot it would be clear then. Is it working fine otherwise ?

[2019-10-07 03:55] RishiRajSahu commented on #3215
Working fine on prod. Closing.

[2019-10-07 03:55] #3215 closed

[2019-10-07 03:55] RishiRajSahu commented on #3213
@lakshmiathreya could you please test this issue on PROD and confirm ?

[2019-10-07 04:03] RishiRajSahu commented on #3212
Working fine on prod. Closing.

[2019-10-07 04:03] #3212 closed

[2019-10-07 04:08] RishiRajSahu commented on #3206
Closing. Pushed to prod.

[2019-10-07 04:08] #3206 closed

[2019-10-07 04:14] RishiRajSahu commented on #3147
Working fine on prod.

[2019-10-07 04:14] #3147 closed

[2019-10-07 04:15] RishiRajSahu commented on #3329
Working fine in prod.

[2019-10-07 04:15] #3329 closed

[2019-10-07 04:27] RishiRajSahu commented on #3225
Working fine and pushed to prod. @maxceem closing this.

[2019-10-07 04:27] #3225 closed

[2019-10-07 04:39] RishiRajSahu commented on #3130
Closing. Pushed to prod.

[2019-10-07 04:39] #3130 closed

[2019-10-07 07:32] maxceem commented on #3311
@RishiRajSahu we already implemented support of direct accept/decline links in Connect App and now we can update email templates.

There are two types of user login: normal and SSO:
https://github.com/topcoder-platform/tc-notifications/blob/dev/emails/src/partials/project-team.html#L114-L122

1. `Normal Login`. For the normal login we currently show one button `View project on Connect`:

    ![ima

[2019-10-07 08:02] maxceem commented on #3301
@vikasrohit would be great if could confirm the sum up, and there are couple of questions regarding changes in `tc-connect2sf`.

Sum up:

#### In Connect App
1. Remove the option `Draft` option from the project status select unless project is currently in `Draft` status:

   ![image](https://user-images.githubusercontent.com/146016/66292962-1dcd6e00-e918-11e9-9206-d3cc74bacb3f.png)

   - If the pr

[2019-10-09 02:29] RishiRajSahu commented on #3311
@maxceem ,
1. I think this flow is for registered users, so yes we would have to replace the existing button with two new buttons.
2. Currently what do we show for registered/unregistered users respectively when invited to project ?

[2019-10-09 02:37] maxceem commented on #3311
Registered users without SSO get the next email:

![image](https://user-images.githubusercontent.com/146016/66447291-8cc5d680-ea80-11e9-8ab7-0b90b4f60fa6.png)

- if there is SSO, then the button title would be "SSO Login".

Unregistered users with SSO get an email like this:

![image](https://user-images.githubusercontent.com/146016/66447246-6869fa00-ea80-11e9-9c41-a766b8b94ecd.png)

- If there is

[2019-10-09 04:42] maxceem commented on #3311
Sure @RishiRajSahu we can test it on DEV right?

Do you have an example account that supports SSO login on DEV?

[2019-10-09 06:45] vikasrohit commented on #3274
Verified on production.

[2019-10-09 06:45] #3274 closed

[2019-10-09 06:45] vikasrohit commented on #3273
Working as per requirements on production.

[2019-10-09 06:45] #3273 closed

[2019-10-09 06:46] vikasrohit commented on #3300
Working as per requirements on production.

[2019-10-09 06:46] #3300 closed

[2019-10-09 06:46] vikasrohit commented on #3224
Deployed on production, will reopen if see the issue again in Sentry.

[2019-10-09 06:46] #3224 closed

[2019-10-09 06:47] vikasrohit commented on #3179
Working as per requirements.

[2019-10-09 06:47] #3179 closed

[2019-10-09 06:47] vikasrohit commented on #3180
Working fine.

[2019-10-09 06:47] #3180 closed

[2019-10-09 06:48] vikasrohit commented on #3207
working fine.

[2019-10-09 06:48] #3207 closed

[2019-10-09 06:48] vikasrohit commented on #3208
Working fine now.

[2019-10-09 06:48] #3208 closed

[2019-10-09 06:52] vikasrohit commented on #3211
Release to production.

[2019-10-09 07:00] vikasrohit commented on #3210
Deployed to production. Have to verify the logic yet but closing the issue for now.

[2019-10-09 07:07] vikasrohit commented on #3213
Verified on production and it seems to working for me. Closing.

[2019-10-09 07:07] #3213 closed

[2019-10-09 07:08] #3211 closed

[2019-10-09 07:08] vikasrohit commented on #3281
Working as per requirements on production.

[2019-10-09 07:09] #3281 closed

[2019-10-09 07:10] vikasrohit commented on #3209
Closing for now.

[2019-10-09 07:10] #3209 closed

[2019-10-09 07:13] #3210 closed

[2019-10-09 07:15] vikasrohit commented on #3216
Deployed to production.

[2019-10-09 07:15] #3216 closed

[2019-10-10 12:31] vikasrohit commented on #3301
@maxceem Thanks for nice sum up.

**Connect App:**
1. You are right here.
2. I am not sure if I understood it correctly, but I can see it is using constant in both places.

**In Project Service**
Correct for both.

**tc-connect2sf**
1. I guess the reason of throwing the error was to `NACK` the `Unprocessable Errors` generically in the RabbitMQ message handler. So, I think till the point we are usi

[2019-10-11 03:34] ajefts opened #3359 "Local Timezone"
**Objective:** During registration and on the profile page of Connect capture user's local timezone, which will aid in level-setting availability and responsiveness for all users.

<p></p>

**Requirements:**

- For Connect registration, include a required question and answer for user to indicate their local timezone. Below describes the question and answer format:

  - Question: Local Timezone (*m

[2019-10-11 03:34] ajefts commented on #3359
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2794134

[2019-10-11 03:34] RishiRajSahu commented on #3359
@vigneshTheDev would you like to pick this up ?

[2019-10-11 05:54] vikasrohit commented on #3301
@maxceem for the `tc-connect2sf`, we don't need any change for this now. It should be handled by the Salesforce.

[2019-10-11 08:17] maxceem commented on #3301
Right, it uses constants in both places. But the current code uses constant `PROJECT_STATUS_DRAFT` for **project**, while it has to use `PHASE_STATUS_DRAFT` for **phase**. The values of these constants are same so there is no issue. But as we are going to get rid of project draft status, it's better to update this code, just to see that it doesn't depend on the **project defat status**, but on **p

[2019-10-11 08:19] RishiRajSahu commented on #3294
Working fine, closing the issue.

[2019-10-11 08:19] #3294 closed

[2019-10-11 11:41] vikasrohit commented on #3301
Ohk, Got it.

[2019-10-16 04:56] maxceem commented on #3311
@RishiRajSahu I've tested for non-SSO user. It works good if the user is logged-in.

But if user is logged out, when I come to Connect App it redirects to the login page but it loses the query param `?invitation=accpet`, so after I login, it doesn't accept/decline automatically.
[code]

So I've created a fix and pushed to DEV as a hotifx https://github.com/appirio-tech/connect-app/pull/3361

I've

[2019-10-16 05:09] maxceem commented on #3311
@RishiRajSahu I've tested both cases for non-SSO case:

1. Non-SSO Registered logged in user clicked join/decline
2. Non-SSO Registered logged out user clicked join/decline

It works good after the [PR](https://github.com/appirio-tech/connect-app/pull/3361) applied to DEV. Note, that for PROD there is a hotfix to apply https://github.com/appirio-tech/connect-app/pull/3362

How to test for SSO user

[2019-10-16 13:36] RishiRajSahu commented on #3311
@maxceem I would like @lakshmiathreya to test this in dev for SSO user.

[2019-10-18 06:18] vikasrohit opened #3364 "Form misbehaves when user changes project template by moving back via in form navigation"
I think we should reset the local storage data (both project and wizard data) when user selects a different project type from the catalog after moving back using back arrow in the wizard. OR we may show the same incomplete dialog before doing so.

Demo video of the issue: https://monosnap.com/file/d93O2fLEWwFc8jS51Ohxk1q6qleZoA (Thanks @maxceem for it)
One more demo:
![screencast 2019-12-03 11-25-

[2019-10-18 06:22] maxceem commented on #3364
Previously it was a "feature", so the common data between forms stays and shouldn't be refiled when the customer changes the project type.

I think it would be easier to reset it when we change the project type. But if you prefer to show the "incomplete dialog", please, let me know.

[2019-10-18 06:45] vikasrohit commented on #3364
yes, recalled it now. However, even though if we keep the same feature of using the common values between forms, I guess, we need to remove the wizard state because I am seeing inconsistent wizard state when I change the project type by navigating back.
I would ask the product managers for the approach to be used for clearing up the filled/stored data when user changes the project type by navigati

[2019-10-18 06:48] maxceem commented on #3364
Yes, we would have to clear the wizard state anyway.

So I'll proceed with the task after we get the response from the product team.

[2019-10-21 08:33] lakshmiathreya commented on #3311
@RishiRajSahu - verified Logged in/Logged out scenarios for Join/Decline invitation for Registered SSO user.

[2019-10-31 03:49] RishiRajSahu commented on #3359
@lakshmiathreya could you please verify this in dev.

[2019-10-31 08:46] lakshmiathreya commented on #3359
Verified in Dev. TZ field updates seem to happen successfully. However, possibly due to member service issue, the Profile fields are not visible - hence not able to completely verify this feature. -- --- Other fields including TZ appear blank post updates in User profile.
-- TZ not visible in Team view.
-- TZ not visible in Member profile view.

<img width="1436" alt="Screenshot 2019-10-31 at 2 09

[2019-10-31 09:06] RishiRajSahu commented on #3359
@lakshmiathreya okay will check for old users, please verify it by creating new user. Also community profile page is out of scope for this ticket.

[2019-11-07 05:29] RishiRajSahu commented on #3310
Pushed to prod.

[2019-11-07 05:29] #3310 closed

[2019-11-07 05:29] RishiRajSahu commented on #3295
Done as part of #3278

[2019-11-07 05:29] #3295 closed

[2019-11-08 04:14] RishiRajSahu opened #3369 "Populating all skills in the dropdown for Talent scope form"
Current format
"skills": {
                "categoriesField": "details.taasDefinition.deliverables",
                "categoriesMapping": {
                  "design": "DESIGN"
                },
                "frequent": []
              }`

it would be great to have something like -
"skills": {
                "categoriesField": "details.taasDefinition.deliverables",
                "frequent"

[2019-11-08 04:15] RishiRajSahu commented on #3369
Ref - https://github.com/appirio-tech/react-components/issues/319

[2019-11-11 03:52] lakshmiathreya commented on #3359
-- TZ capture and display in Profile is now working for Old and New users.
-- TZ not visible in Team view though - Issue pending closure until then.

[2019-11-11 05:58] maxceem commented on #3301
This issue has been implemented by two PRs:
https://github.com/appirio-tech/connect-app/pull/3372/files
https://github.com/topcoder-platform/tc-project-service/pull/408

They both have been merged to `dev` branches.

[2019-11-12 04:22] maxceem opened #3375 "[$40] Explicitly list notifications which we don't show"
## Background of the issue

We have many kinds of notifications that are created in TC Notifications service. Connect App retrieves them all and shows them as per [config](https://github.com/appirio-tech/connect-app/blob/v5-upgrade/src/routes/notifications/constants/notifications.js#L29).

In this config, we don't have rules for all notification types, as we ignore some notifications and don't wan

[2019-11-13 07:50] maxceem opened #3377 ""Join Project" button doesn't work good with Project Service V5 approach"
When testing Connect App with new Project Service V5 I came across one more tricky moment caused by ES indexing delay.

When a user is invited to join a project and after goes to the project page, see invitation dialog and clicks `Join Project` he should immediately see the project.

Though, as ES is not updated immediately when user clicks `Join Project` the project data is reloaded, but user sti

[2019-11-13 08:21] maxceem commented on #3377
From @vikasrohit:

Yeah, I absolutely agree with you and this was in mind as the way to go with all such situations. Though this particular one brings some tricky moments which I'd like to share.

When a user is **invited** to a project he CAN see the project in the list by `GET /projects`. But use DOESN'T have access to the project individually, so `GET /projects/{id}` returns `403`.

Now imagine

[2019-11-13 08:53] vikasrohit commented on #3377
Hmm, tricky indeed. For now go with `after we accept invite and get project from the server we should update its data by removing invitation from the list and add the current user to the member list manually.`  and lets start a github issue where we list all issues because of fetching the data from ES and data being not available immediately. We will have separate discussion to resolve such issues

[2019-11-13 14:21] RishiRajSahu opened #3378 "Update Registration Success Page Content"
Registration
Update Display & Language
---------------------------
Hi *name*,

Welcome to Connect! Your account was created successfully.

**What is Connect?**
Connect is Topcoder’s application where clients start new projects, oversee progress and collaborate with delivery teams.

**What do you want to do next in Connect?**

- [Join the projects](https://connect.topcoder.com) I’ve been invited to

[2019-11-13 14:30] RishiRajSahu opened #3379 "Project has been Submitted Screen - Update Language"
Update existing text to :

Congratulations!
YOUR PROJECT HAS BEEN SUBMITTED
A member of our team will be reaching out to you shortly to finalize the scope and build your project plan.

Use the link below to share your project with members of your team. You can also access all your Topcoder projects in one place from your Connect project dashboard.

[Project Link]

[ Copy Link ]     [ Go to project

[2019-11-15 05:06] maxceem commented on #3377
@vikasrohit I've done the fix for this client-side as discussed above, though there is one issue raise up.

To fix I have to manually create a `member` records for the project using `invite` record. Though invite record doesn't have all the fields we need in `member` record. While most of the fields are not critical, one is critical: `member.id`. We don't know it from the `invite`. But we need it

[2019-11-18 11:31] vikasrohit commented on #3377
Can we do a search query (from client side) to member api to get the details of such users?

[2019-11-19 03:12] maxceem commented on #3377
I would like to note, that we need the `id` of member record inside the `project` from `Project Service`, not the `id` of the member inside the `Member Service`. But if we use project members endpoint `{{api-url}}/projects/{{projectId}}/members` this endpoint also gets data from ES, so we would get the same response as when we call `{{api-url}}/projects/{{projectId}}` and there would be no new mem

[2019-11-19 05:27] vikasrohit commented on #3377
Got it @maxceem. Another idea is to recreate the member object with whatever details we have so that at least user can enter the page and let us update the member after successful load of the details page in this particular use case. I mean we can call an additional api (`{{api-url}}/projects/{{projectId}}/members`) after user has been successfully landed into the project because it would definite

[2019-11-19 05:37] maxceem commented on #3377
Sure, so I will give it a try with the first approach.

[2019-11-19 05:51] RishiRajSahu commented on #3369
Pushed as hotfix. Closing.

[2019-11-19 05:51] #3369 closed

[2019-11-19 07:32] vikasrohit opened #3382 "Allow admins to manage the Customer team as well"
As a regression issue, we found that after last release, application stopped allowing the admins to manage the customer team without joining the project. We should rectify it and allow the admins to manage both teams without joining the project.

fyi @maxceem @RishiRajSahu

[2019-11-21 02:01] RishiRajSahu commented on #3382
I think we saw this behaviour even for members as well with admin role -  https://github.com/appirio-tech/connect-app/issues/3354

[2019-11-21 12:14] vikasrohit commented on #3375
Agreed with the solution of maintaining a list of ignored notifications for now. For long term, I think Sachin has added [some filter](https://github.com/topcoder-platform/tc-notifications/blob/dev/src/services/NotificationService.js#L187) in the list endpoint of notifications api, which they are using in community app to pull only notifications for the community app. We can use that feature to co

[2019-11-25 11:33] vikasrohit opened #3383 "Use v5 projects api"
### Expected behavior
Connect should be calling v5 projects api

### Actual behavior
It is using v4 project api as of now

[2019-11-25 11:35] vikasrohit commented on #3382
@RishiRajSahu are you doing any changes for this? If not, we can assign it to @maxceem if he has bandwidth.

[2019-11-25 11:42] vikasrohit commented on #3364
@maxceem can we achieve this:

1. If user navigates to a deep link of new project for template `A` while previously he/she has incomplete project with template `B`, we should keep showing the intermediate screen for confirming if he/she wants to continue with old project or create a new project.
2. If user navigates back to the template selection page by clicking the back button in the wizard (or

[2019-11-28 08:49] maxceem commented on #3364
Just to confirm:
1. If we navigate not to the template `B` deep link but to `https://connect.topcoder-dev.com/new-project` without specifying a template deep link, then we should also show the confirmation screen right?
   - NOTE: this is how things work now, so as I understand we just have to keep this behavior.
2. Basically we need only implement this second part and keep the rest of the logic a

[2019-11-28 09:07] vikasrohit commented on #3364
Yes, you are correct on both places.

[2019-11-28 10:04] maxceem commented on #3364
Challenge for this issue is on
http://www.topcoder.com/challenge-details/30108441/?type=develop.

On Thu, Nov 28, 2019 at 5:07 PM vikasrohit <notifications@github.com> wrote:

[2019-11-28 12:01] lakshmiathreya opened #3386 "Copilot Manager 'approve' & 'decline' of Copilot Invite pops up 'Join Project' dialog"
### Expected behavior
Copilot Manager clicking on 'approve' or 'decline' should add/not add the Copilot to the team respectively.

### Actual behavior
Clicking on 'approve' and 'decline' pops up 'Join Project' dialog.

### Steps to reproduce the problem
- Invited Copilot 'lakshmiacopilot' to Project La Smoke Test on Dev Environment.
- Copilot manager 'lakshmiacopmgr' received email notification to

[2019-11-28 12:02] lakshmiathreya commented on #3386
cc @nithyaasworld

[2019-11-29 09:29] maxceem opened #3387 "Avoid calling /v3/members/_search client-side"
At present member team is doing some major fixes for the search of members and security aspects of the member endpoint. We need to start working on getting the connect front end free of _search api call and use _search on backend only via m2m just like we recently did for members and invites endpoints, see https://github.com/topcoder-platform/tc-project-service/pull/414

### Places where we call /

[2019-12-02 05:02] RishiRajSahu opened #3388 "Masking email to be shown under Team management container"
We need to mask the email of all other user, except for admin, to be shown under tooltip and Team dialog. for example - john.doe@gmail.com is to be masked as `****.doe@gmai*****`

fyi @maxceem

[2019-12-02 05:03] RishiRajSahu commented on #3388
@maxceem could we add this support in the same endpoint where we are augmenting data of user to add TZ and WH ?

[2019-12-02 06:08] maxceem commented on #3388
Sure, do you want to have it masked with asterisks, or just exclude from the output?
I have some concerns regarding returning it with asterisks, as client-side we may want to determine if the email is returned or no for some actions in the future, so not having email for non-admin user would be more clear way in such case.

[2019-12-02 10:11] maxceem commented on #3387
@vikasrohit could you please have a look at this when you have time, especially on the cases 1-3.
Actually to choose a good approach for cases 4 and 5 it's better to know how we would also handle cases 1-3, so we can achieve a better code structure here.

[2019-12-02 10:51] vikasrohit commented on #3387
@maxceem I think for 1-3, in most of the cases the user for which we are going to show the tooltip for, would be the member of the project and all (as per the roles of the logged in user) the data of that member would be easily available to be rendered in the tooltip.
Now remains the cases where concerned user is not part of the project now, e.g. the user is admin  who made a post using admin powe

[2019-12-02 11:03] maxceem commented on #3387
Ok, so basically, we would keep calling `/v3/members/_search` endpoint for cases 1-3.

Also, I would like to note, that for case 2 - **Project List** page we would load all the users' data by  `/v3/members/_search` even though they are members. As on the project listing, we are not calling a special endpoint for getting member with additional details `GET /projects/{id}/members?fields=handle,first

[2019-12-02 11:31] vikasrohit commented on #3387
Oh, I skipped that part. But I think we need to call `_search` endpoint anyway as per my thoughts. So, we should be safe in that part as well. In nutshell, we would still be calling `_search` endpoint from front end for 1-3 use cases, however, we won't request `email` from the api in such places, even though logged in user is admin because it might require adhoc code to get `email` for admins as w

[2019-12-02 11:45] maxceem commented on #3387
Got it.

Regarding `email`. There is also another issues from Rishi https://github.com/appirio-tech/connect-app/issues/3388 to show it with asterisks for Project Members / Invites.

So regarding `email` as I understand from now on:
- we show `email` only for members and invited users `only` for admins
- we don't show `email` even for admins of non-members/invited
So as a result admins would see em

[2019-12-02 12:07] vikasrohit commented on #3387
I think we can still show emails of project members to admins who are not project member yet because we are already augmenting that data in our new endpoint and we can control the visibility based on `role` of the requesting user. However, having said that, I am okay for now showing emails even for admins if they are not part of the project, if that makes our life easy.

[2019-12-02 12:23] maxceem commented on #3387
Looks like we are talking about slightly different things here.

From the above comment, I understand that when we use `_search` endpoint, i. e. for cases 1-3 we don't show `email` for admins.

While from the task of Rishi https://github.com/appirio-tech/connect-app/issues/3388 I understand that we still show `email` to admins for members and invited users - cases 4-5 - no matter if admin himself

[2019-12-02 12:30] vikasrohit commented on #3387
Correct. I am saying about only in the project details page, we can show emails to admins even if they are not part of the project but only if that does not increases our code complexity and efforts. Otherwise, I am okay with showing emails to only admins and only when they are part of the project. Lets discuss that, after the confusion for other things clears here.

The issue is more concerned ab

[2019-12-02 12:58] maxceem commented on #3387
Ah, got it.

Cases 4-5 are good. But in cases, 1-3 admins would not see `email` as per:

And regarding the next thing:

I doesn't increase the complexity. In fact, it's easier to show emails to admins no matter if admin himself is a member or no.

[2019-12-03 04:51] maxceem commented on #3364
@vikasrohit this is done and pushed to DEV and V5 branches.

[2019-12-03 05:02] maxceem commented on #3388
@RishiRajSahu I think I've got where I was confused. We have 2 situations when we are showing emails:
1. When we invite users by emails, we know the only email of invited person and we are showing it in the invitation list:

    ![image](https://user-images.githubusercontent.com/146016/70021527-fcad9480-15cb-11ea-84f6-f651214cc7ae.png)

    - Currently, in such case, we are showing this email to `

[2019-12-03 05:08] vikasrohit commented on #3387
Okay. For 1-3, I am okay with not showing emails for admins.

Great! Go ahead then.

In nutshell, no one would see emails in connect except admins. Even admins need to view project details page to see emails of the members/invitees, they can not see the emails on the project listing page. Further, related to #3388  even an existing project member won't be able to see, in clear text, the email of u

[2019-12-03 05:11] vikasrohit commented on #3364
Working perfect for me. Thanks @maxceem

[2019-12-03 05:19] vikasrohit commented on #3364
unfortunately @maxceem I am unable to reproduce the exact original issue on production, do you remember what were the steps to reproduce the issue? I can see that form state is inconsistent on production after user changes the project type by navigating back using back button, however, earlier when I reported this issue I was seeing the similar inconsistent state on change in answer to a question

[2019-12-03 05:23] maxceem commented on #3364
This could be only reproduced using 2 forms with a wizard, see demo video on PROD https://monosnap.com/file/d93O2fLEWwFc8jS51Ohxk1q6qleZoA

[2019-12-03 05:24] vikasrohit commented on #3364
Also, seeing one issue. Console logs following:

[code]

When user clicks on `Continue where I left off` after hits page refresh, after navigating back using back button and change the project type.

[2019-12-03 05:26] maxceem commented on #3364
Can reproduce this issue, checking...

[2019-12-03 05:26] vikasrohit commented on #3364
Yep, this portion is something which I am able to reproduce. However, I saw another symptom of the issue as well when I logged it here. That another symptom was the similar inconsistent state after I changed answer for an already answered question. I thought that is because of the same reason as well. However, not able to recall it now. Will try to recall the steps, if I am not able to do that, I

[2019-12-03 05:33] RishiRajSahu commented on #3388
@maxceem yep current task is not about this case as it showing for Admins only so we are safe there.

[2019-12-03 06:09] maxceem commented on #3364
Fixed and pushed to DEV and V5.
Already deployed.

[2019-12-03 06:29] vikasrohit commented on #3364
Working fine. Marking ready for QA.

[2019-12-03 07:57] maxceem commented on #3388
@RishiRajSahu should we mask only the first 4 and last 4 letters of emails as in the example you've provided? I also found the next algorithm https://stackoverflow.com/a/45944844 which masks the emails the next way:

![image](https://user-images.githubusercontent.com/146016/70031090-7c942880-15e5-11ea-8b9b-f6944850c06a.png)

[2019-12-03 08:01] maxceem commented on #3388
@RishiRajSahu I've just realized about one drawback we would have after masking emails server-side. We currently check client-side if we already invited user by email or no:

![image](https://user-images.githubusercontent.com/146016/70031398-22e02e00-15e6-11ea-99ee-67a37f45780f.png)

So this client-side validation wouldn't work anymore. We still have the server-side validation though.

[2019-12-03 08:27] vikasrohit commented on #3388
@maxceem that logic is okay, however, please create our own code instead of using that same piece to avoid copyright issues.

We are good then.

[2019-12-03 09:27] maxceem commented on #3388
Yeah, we can do that if you think we would like to keep client-side validation anyway. As it would somehow make the logic more complex.

1. We would have to populate `md5` hashes server-side on the fly, as we would get data from the ES or DB and we don't keep the `md5` there.
2. Also, update the client-side validation logic.

[2019-12-03 09:28] maxceem commented on #3388
That code is written in PHP, so I guess there is no way to copy/paste it and have to be reimplemented in JS anyway.

[2019-12-03 10:07] maxceem commented on #3388
The challenge for masking emails is on http://www.topcoder.com/challenges/30108867

The part regarding using `md5` hash for validation would be implemented separately.

[2019-12-04 09:22] lakshmiathreya commented on #3386
The Invite flow seems to be good on connect-test01 and Prod. However, in Prod the notification email is missing.

cc @nithyaasworld @RishiRajSahu @maxceem

[2019-12-04 10:26] vikasrohit commented on #3388
We can handle the client side validation later as well, I  mean it is not urgent for us to include it in our next release.

[2019-12-04 10:26] vikasrohit commented on #3386
@lakshmiathreya which notification email you are concerned about? To copilot or copilot manager?

[2019-12-04 11:21] lakshmiathreya commented on #3386
@vikasrohit it was to copilot manager. I changed the notification setting for the Copilot manager in Prod to Immediate from Daily. Now the Invite flow works fine in Prod too - include Notification for approval being sent to Copilot Manager. Thanks for pointing that out @RishiRajSahu. cc @nithyaasworld

[2019-12-04 11:21] #3386 closed

[2019-12-05 02:07] RishiRajSahu opened #3391 "During switching role under Topcoder Team dialog doesn't show any processing or success message"
### Expected behavior
During switching role the processing should be shown and success message after switched

### Actual behavior
No pointing change during role switching

### Steps to reproduce the problem
- Open any project you part of.
- Open Topcoder team dialog by clicking on manage.
- Trying switching to any eligible role.

#### Environment
- OS:All
- Browser (w/version):All
- User role (cl

[2019-12-05 02:07] RishiRajSahu commented on #3391
fyi @maxceem

[2019-12-05 03:45] RishiRajSahu commented on #3382
@vikasrohit @maxceem done via https://github.com/appirio-tech/connect-app/commit/86ee17c46a5695d2bb8e35a3a1bff0672124cf09

[2019-12-05 04:35] RishiRajSahu commented on #3354
Done via https://github.com/appirio-tech/connect-app/issues/3382

[2019-12-05 04:35] #3354 closed

[2019-12-06 06:08] maxceem opened #3392 "Implement client-side validation when invited users by email"
Recently we started masking emails of invited people for privacy reasons in the next issue https://github.com/appirio-tech/connect-app/issues/3388.

As now we don't get the full emails from the server we cannot validate client-side if we are trying to invite already invited user or no.

To make client-side validation work we have additionally populate `md5` hash sum of emails server side. So after

[2019-12-06 06:09] maxceem commented on #3388
Emails is masked good, and server-side validation works also good, while client-side validation is skipped:

![image](https://user-images.githubusercontent.com/146016/70299861-04ba3e00-1831-11ea-827e-cfb4331b15e0.png)

So this issue is ready for testing. While I've created another issue to re-implement client-side validation https://github.com/appirio-tech/connect-app/issues/3392

[2019-12-06 06:27] maxceem commented on #3391
@RishiRajSahu would you like to show a loading indicator like this, when we are changing the member role?

![image](https://user-images.githubusercontent.com/146016/70301104-69c36300-1834-11ea-943d-c05127669336.png)

Also, we should show a black alert in the bottom left corner at the end of the operation: `Project member updated` (this is a general message to follow the format of other messages we

[2019-12-09 07:46] nithyaasworld opened #3396 "Prod Environment: Not able to edit My Profile being a Copilot"
1. Go to connect.topcoder.com
2. Login as Copilot user (I logged in with my id: nithyaasworld)
3. Go to My Profile
4. Edit your name and check

Actual:
Issue1: Save Settings button is not enabled for the user to save the options
Issue2: Not able to edit Company Name and Phone Number as they are disabled.

Expected:
1. Save Settings button should get enabled if there is any change is done
2. User s

[2019-12-09 07:47] nithyaasworld commented on #3396
cc: @lakshmiathreya

[2019-12-09 07:51] maxceem commented on #3396
I guess this issue happens as initially, we didn't have these fields mandatory, so users were created without them. On the other hand, we don't let to edit them. So we end up in the situation where some users might not have them defined and still are not able to edit them, as we don't let so.

As I understand the solution should be: if these fields are not defined, then we should let to edit them.

[2019-12-09 07:52] nithyaasworld opened #3397 "While saving the Profile settings, it throws error [Invalid Country Code]"
1. Go to https://connect-test01.topcoder-dev.com/
2. Login as topcoderconnect+Customer@gmail.com pw: appirio123
3. Go to My Profile
4. Change any field and save

Actual:
Not able to save the changes. It throws an error as in the screenshot below:

![image](https://user-images.githubusercontent.com/5114190/70417278-e6e61680-1a86-11ea-9c65-2d426c40829d.png)

[2019-12-09 08:47] nithyaasworld opened #3398 "Test Environment: Security Pin is not coming to the newly registered email"
1. Go to https://connect-test01.topcoder-dev.com/
2. Click on Register
3. Fill up all fields with valid values
4. In the next screen, it asks the user to enter the Security Pin, but no security Pin was sent to the user's email

Expected:
User's email should receive the Security Pin, so user can register

![image](https://user-images.githubusercontent.com/5114190/70420861-9ffc1f00-1a8e-11ea-81a2-ab

[2019-12-09 08:51] vikasrohit commented on #3391
Looks good to me for now.

[2019-12-09 10:10] nithyaasworld commented on #3398
cc: @lakshmiathreya

[2019-12-09 10:18] nithyaasworld opened #3399 "Test Environment: v5 - Invitation link has Dev Env link, So this breaks the flow"
1. As a Copilot Manager (topcoderconnect+CopilotManager@gmail.com), create a new project
2. Invite Topcoder Admin user to the project
3. **Open the invitation mail and click Join Project button present in the email (Observe that it goes to Dev environment)**
4. Then open the dashboard of Topcoder Admin User in Test Enviornment
5. Click on the project for which invitation was sent
6. Observe that i

[2019-12-09 10:20] nithyaasworld commented on #3399
cc: @lakshmiathreya

[2019-12-09 12:10] nithyaasworld opened #3400 "Test Environment: v5 - Any user can change the project status if the project is visible to them"
**Issue Description:** Any user can change the project status if the project is visible to them

1. Login as topcoderconnect+copilot@gmail.com / appirio123 in the test environment https://connect-test01.topcoder-dev.com
2. Observe that the user has an option to mark a project as cancelled or paused or anything, though this user is not even part of that project.
3. Notice that the same option is no

[2019-12-09 12:10] nithyaasworld commented on #3400
cc: @lakshmiathreya @maxceem

[2019-12-09 13:56] nithyaasworld commented on #3398
This issue is resolved

[2019-12-09 13:56] #3398 closed

[2019-12-10 04:01] lakshmiathreya opened #3401 "Some Projects missing in Copilot's All Projects view"
### Expected behavior
All Projects view should list all Projects as per User privilege.

### Actual behavior
In v5, All Projects listing even misses some Projects that the User is a Copilot for.

### Steps to reproduce the problem
- Login as a Copilot user lakshmiacopilot to https://connect-test01.topcoder-dev.com
- View All Projects Listing - Project "LA-Test" is missing
- Load the Project with D

[2019-12-10 04:01] lakshmiathreya commented on #3401
cc @nithyaasworld

[2019-12-10 04:22] lakshmiathreya opened #3402 "Copilot unable to access their Projects"
### Expected behavior
Copilot should be able to open Projects that they are Copilots in.

### Actual behavior
Copilot unable to open their own Projects.

### Steps to reproduce the problem
- Login to https://connect-test01.topcoder-dev.com as lakshmiacopilot
- Go to https://connect-test01.topcoder-dev.com/projects/8136 - this user is Copilot for this Project.
- Note that the user is not shown as C

[2019-12-10 04:22] lakshmiathreya commented on #3402
Related Issue https://github.com/appirio-tech/connect-app/issues/3401
cc @nithyaasworld

[2019-12-10 05:05] lakshmiathreya commented on #3402
Another related scenario - for certain Projects - the failure in access issue for Copilots follows this flow: Despite being a Copilot, they are prompted Join Project dialog. On clicking Join Project, an error is thrown up indicating that there is no invite available for the User. Please review files attached - both v5 and v4 screenshots attached for the same scenario.
<img width="1481" alt="Screen

[2019-12-10 05:26] lakshmiathreya commented on #3397
@nithyaasworld this seems fixed now - pls review.

[2019-12-10 05:27] lakshmiathreya commented on #3396
Will leave this as known issue? Pls clarify @vikasrohit @maxceem @RishiRajSahu

[2019-12-10 05:45] nithyaasworld commented on #3397
@lakshmiathreya Can you please check for the account stated in the ticket description? It seems to be still there for that account.

[2019-12-10 10:06] maxceem opened #3404 "Check loading the Direct project (fix or remove the call)"
We are loading the Direct project in Connect app for some reason https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/projectDashboard.js#L35.

At the moment on DEV we getting error 400:
![image](https://user-images.githubusercontent.com/146016/70519892-a3b7a080-1b77-11ea-840c-975b779e30d8.png)

For example, see project https://connect.topcoder-dev.com/projects/7442.

We shoul

[2019-12-10 11:20] vikasrohit commented on #3396
Yep, agreed.  I think we can plan it to be fixed as regular release.

[2019-12-10 11:21] vikasrohit commented on #3396
Yes, it is known issue because of frequent requirement changes. But as suggested by @maxceem we are going to fix it with a workaround to avoid frustration for users(it should be less number of users on production who does not have such data) who has such data.

[2019-12-10 11:22] vikasrohit commented on #3402
@maxceem any idea about this?

[2019-12-10 11:24] vikasrohit commented on #3402
@lakshmiathreya project id (8548) in the screenshot is different from the what is there in the in issue description (8136).

[2019-12-10 12:27] maxceem commented on #3387
As discussed with Vikas on Slack we do have to get rid of the dependency on `userId` in search endpoint.
For the case 2: just simply call newly implemented endpoint projects/123/members for all projects rendered on the page in batches e.g. right now our page has 20 projects listed on page load, so we can send 4 batches of 5 requests to fetch the member details after everything is rendered on the p

[2019-12-10 12:44] maxceem commented on #3387
For the cases 1 and 3 i. e. for users who are not members of the project, here is the recommendation from Vikas to go:

[2019-12-10 15:44] ajefts opened #3405 "P3: Include CoderBot Messages in New Message Count Display"
**Objective:** CodeBot sends a message to a client on a project upon project creation, prompting them with next steps. To facilitate the experience of responsiveness from Topcoder during this critical period, the CoderBot message should be included in the count of new messages a user sees for their project.

<p></p>

**Requirements:**

- Include CoderBot messages in the count of new messages in a

[2019-12-10 15:44] ajefts commented on #3405
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2757140

[2019-12-10 15:44] vikasrohit commented on #3405
@maxceem can we do it quickly?

[2019-12-11 00:59] nithyaasworld opened #3406 "If there are multiple copilot join requests, accepting one request shows processing symbol for others too"
1. Login as Manager user and invite 2 Copilots into a project
2. Login as Copilot Manager and approve one of them and check

Actual:
Clicking approve for one-request, shows approval-processing symbol for both the requests.

[false processing.zip](https://github.com/appirio-tech/connect-app/files/3947871/false.processing.zip)

[2019-12-11 01:00] nithyaasworld commented on #3406
cc: @lakshmiathreya

[2019-12-11 03:23] RishiRajSahu commented on #3396
@vikasrohit agree there shouldn't be more number of such users, I even thought of this fixing manually at backend, on demand, when issue raised by customer. But let's fix it as per @maxceem suggested.

[2019-12-11 03:28] RishiRajSahu commented on #3399
@nithyaasworld it should be successful wether its dev/Test env because we have same data store so should behave same.
1. Is it still happening or was a transient issue (could be because of user not returned by member service) ?
2. If still persists could you check the same on Dev env if reproducible ?

[2019-12-11 03:44] RishiRajSahu commented on #3401
@lakshmiathreya @nithyaasworld not seeing the project on listing page even being part of it could be because of Elastic search indexing issue, try changing some data of project on scope tab (for example - description, name, ref-code etc.) which will trigger the reindexing of project and it should show up on listing page after refresh.

[2019-12-11 03:46] RishiRajSahu commented on #3379
Its done and pushed to prod. @lakshmiathreya

[2019-12-11 03:46] RishiRajSahu commented on #3378
Its done and pushed to dev. @lakshmiathreya

[2019-12-11 03:48] RishiRajSahu commented on #3400
@maxceem this seems to be a legit issue to be able to change the status without joining the project.

another thing @vikasrohit do we always wanted copilot being able to change the status of project being part of it?

[2019-12-11 03:52] RishiRajSahu commented on #3397
@lakshmiathreya seems to be working fine for me, could you recheck and close the issue if working fine ?

[2019-12-11 04:26] RishiRajSahu opened #3407 "[$175] Need to optimize UI for showing join/decline button on listing page"
We show join/decline button for the invited users on listing page, which takes lot of space on the project bar and even after accepting/decline the invite the space still stays occupied for those buttons.
We need to get some new optimized UI designs for those buttons.

<img width="1183" alt="Screen Shot 2019-12-11 at 9 48 20 AM" src="https://user-images.githubusercontent.com/11248478/70591421-1b2f

[2019-12-11 05:07] maxceem commented on #3402
@vikasrohit I think that user has been added as a copilot in the DB, so when we try to join - getting an error. But adding copilot as a member in ES failed for some reason, so when we load this project several things happen:
1. This project is not listed on All Projects listing as user is not added as a member in ES.
2. When we open project by the direct link, to check permissions we use data from

[2019-12-11 05:12] maxceem commented on #3402
I guess this issue is happened due to a similar issue when data in DB and ES is different. Issues described above might happen if in ES we still have an invite for the user, so we show it. But when we try to accept the invite we get an error as in DB, we might not have it.

Another idea for a handy tool to debugging such issues might be creating some admin endpoint which would compare data in ES a

[2019-12-11 05:25] maxceem commented on #3397
I can reproduce this issue for this particular user. The reason for this that this user already has some non-valid data in its `basic_traits`:

It has value for `homeCountryCode : "356"`. I'd like to note, that our form doesn't edit this field, so we cannot change it from our profile form. Our form change the fields which it can change and send the whole trait with updated values. So it also sends

[2019-12-11 06:04] maxceem commented on #3405
I think we can, previously we filtered creating notification from Coder bot, so I guess we should remove this filtering? https://github.com/topcoder-platform/tc-notifications/blob/dev/connect/connectNotificationServer.js#L410-L416

Though, as I understand, removing this filter would also create notifications about topics created in each phase, as we bot also creates a message there.

[2019-12-11 06:12] maxceem commented on #3399
I haven't managed to reproduce this issue as per steps provided.
@nithyaasworld could you please share the project you've created when you reproduce this issue, and which admin user did you use?

I'd like to try to click Join button as that admin to observe this issue.

[2019-12-11 06:18] maxceem commented on #3401
I agree with @RishiRajSahu that most likely this project hasn't been properly updated in ES. Though triggering updating project details in ES most likely wouldn't fix this issue. As when we update the details we still keep the current list of members and invites, thus copilot would be still not a member of the project after reindexing and still wouldn't have access to it and wouldn't be listed in

[2019-12-11 08:08] maxceem opened #3410 "Should customer be able to edit Business Phone?"
I've noticed, that Copilots cannot edit `Bussiness phone` and `Company`:

![image](https://user-images.githubusercontent.com/146016/70602753-15ebbc00-1c30-11ea-9084-3de3a6b447d2.png)

While Customers cannot edit `Company`, but can edit `Bussiness phone`:

![image](https://user-images.githubusercontent.com/146016/70602855-4af80e80-1c30-11ea-9a1d-181bfea96414.png)

Is this expected behavior? Maybe C

[2019-12-11 09:20] maxceem commented on #3396
It's fixed by PR https://github.com/appirio-tech/connect-app/pull/3409.

Ready to review in both DEV and TEST environments.

[2019-12-11 09:39] maxceem commented on #3406
It's fixed by PR #3411.

Ready to review in both DEV and TEST environments.

[2019-12-12 03:43] maxceem opened #3412 "When successfully invite user by email it's not cleared from the input"
### Expected behavior
When successfully invite a user by email it's cleared form the input.

### Actual behavior
When successfully invite a user by email it stays in the input as if we failed to invite such a user.

### Steps to reproduce the problem
- Invite any user by email (in the Customer Team), but the user should not be registered in Topcoder yet
- Observer that success alert has been shown

[2019-12-12 03:49] maxceem opened #3413 "Cannot remove invitation by email after masking emails"
### Expected behavior
Should be able to remove invitation if invited by email.

### Actual behavior
Getting error from the server that invite is not found when trying to remove it.

### Steps to reproduce the problem
- Invite any user by email (in the Customer Team)
- Now click "remove" to delete just invited user.
- Observer that invite is not removed and the server returned the error `validation

[2019-12-12 04:13] maxceem commented on #3391
It's done and already pushed to DEV and TEST end.

[2019-12-12 04:19] maxceem commented on #3377
It's already implemented the way with adding an artificial delay and showing the loader indicator.

It's ONLY in TEST env. As it's only for V5.

[2019-12-12 04:29] RishiRajSahu commented on #3412
@maxceem not reproducible, email got cleared after successful invite ?

[2019-12-12 04:32] maxceem commented on #3412
@RishiRajSahu This issue can be reproduced by any non-admin user who got masked emails, for example, `pshah_manager`. Also, probably, user shouldn't be registered in the system yet.

[2019-12-12 04:32] RishiRajSahu commented on #3412
yep just realized that and tried with my copilot user, its reproducible

[2019-12-12 04:33] RishiRajSahu commented on #3413
<img width="713" alt="Screen Shot 2019-12-12 at 10 02 25 AM" src="https://user-images.githubusercontent.com/11248478/70682995-a4ab1800-1cc6-11ea-865c-b98e459bb538.png">

@maxceem not even seeing remove option for copilot user

[2019-12-12 04:39] maxceem commented on #3413
@RishiRajSahu copilots don't have permissions to manage invitations for customers. Updated the issue details to use Manger user to testing.

[2019-12-12 04:46] RishiRajSahu commented on #3410
@maxceem we made changes to profile page as per the requirements here https://github.com/appirio-tech/connect-app/issues/3277 check 5th point.

[2019-12-12 04:49] maxceem commented on #3410
Thanks for clarification @RishiRajSahu. Closing this issue as it works as per requirements.

[2019-12-12 04:49] #3410 closed

[2019-12-12 04:58] maxceem commented on #3412
There are two ways to go for fixing this:
1. **Proper** Project Service has to return `emailChecksum` (md5 of email) that we can use for removing invited email from the input. This would require implementing it server-side.
2. **Incosistent**. Actually, when we invite users by email we can skip masking email in such case in Project Service as user who invited by email already know this email. Now

[2019-12-12 09:12] vikasrohit commented on #3402
Thanks @maxceem for the detailed input. I liked the idea of having a scheduled script which can compare recently updated project's database and ES states and will report if finds any difference.  I can deploy this as regular task or scheduled task in ECS cluster just like we have couple other schedulers (especially in tc-connect2sf).
Please feel to start working on that script asap.

[2019-12-12 09:42] vikasrohit commented on #3402
@lakshmiathreya it is fixed now, actually it didn't need any fix. We had to reindex the project in ES. I know we would have such issues on production even after full regression and fixes because that is inherent in the CQRS pattern, I guess. And I am thinking of solution for it. And as you said @maxceem we can have a scheduled utility which would inform us for such projects daily and then we would

[2019-12-12 09:45] vikasrohit commented on #3401
Similar to #3402 , reindexing fixed the issue and the same [rationale](https://github.com/appirio-tech/connect-app/issues/3402#issuecomment-564928773) applies here to fix such issues in future.

[2019-12-12 09:50] vikasrohit commented on #3399
I think we can safely ignore this issue as there are not multiple parallel environments on production. This might happen in dev because the email service is same for both v4 and v5 and it might be sending emails with `connect.topcoder-dev.com` as domain, even though the event was generated on `connect-test01.topcoder-dev.com`.

[2019-12-12 10:37] maxceem commented on #3400
It's fixed by PR https://github.com/appirio-tech/connect-app/pull/3415

Ready to review in both DEV and TEST environments.

[2019-12-12 11:15] vikasrohit commented on #3387
@maxceem I guess you can remove the `Have a question` tag now and we can start working on it. We are good to have this after our upcoming release (2.4.16/2.5).

[2019-12-12 11:18] vikasrohit commented on #3400
what is the behaviour now after this fix? From top of my head, I think we do not have any restrictions on copilots' changing the projects' statuses, however, from very long time there was some bug which was preventing copilots to update the status of the projects to some specific statuses like `Active`. We may need to discuss it with product managers.

[2019-12-12 11:22] maxceem commented on #3400
Generally, the issue was that logic on the project detail page was different form logic in project list page. The logic on the project details page was more correct IMHO so we end using it to the project listing page.

The previous logic on the project listing page has several breaches.

- When copilot is invited as `customer` but not yet a member, he could edit status as the user itself is has To

[2019-12-12 11:28] vikasrohit commented on #3405
If we remove that filter, I guess it would work fine because we are already differentiating between phase topics and regular topics while showing the notifications counts. Right?

[2019-12-12 11:30] vikasrohit commented on #3400
I have received some occasional issues from copilots in past for status updates and I have done status updates on their behalf.

[2019-12-12 11:32] maxceem commented on #3405
Regarding the counts - yes. But I guess we would still get notifications about the Bot welcome messages in each phase.

[2019-12-12 11:33] maxceem commented on #3400
As long as copilot is a member with `copilot` role, the current logic should work. If there are any issues, we could solve it for both places: project listing and project details in the same way.

[2019-12-12 11:35] vikasrohit commented on #3405
Yes, that has to happen to get the counts. May be we can add this filter in email service where we don't send notifications for coder bot actions, if emails creates noise. We have to discuss that with product managers.

[2019-12-12 11:36] vikasrohit commented on #3400
Agreed. So, we would take copilot privileges for status updates after the release. @maxceem could you please log an issue for that?

[2019-12-12 11:41] maxceem commented on #3400
@vikasrohit I'm not sure what is the issue with copilot privileges? do you mean occasional issues you've got from the coilots? https://github.com/appirio-tech/connect-app/issues/3400#issuecomment-564969036