[2017-03-14 21:51] fnisen commented on #812
Agree with @gondzo. There is actually not state when Dev or Design categories are selected. Clicking on either moves you to the next screen. Closing.

[2017-03-14 21:51] #812 closed

[2017-03-14 21:56] fnisen commented on #838
@sirakovaDimitrina can I give this one to you? As @ThomasKranitsas, the issue is that the asterisks are not at a consistent spacing from the rest of the text.

[2017-03-14 21:57] fnisen commented on #840
@sirakovaDimitrina would you be able to handle this one?

[2017-03-15 00:30] gondzo commented on #842
@fnisen this is fixed and merged to dev

[2017-03-15 00:44] gondzo commented on #839
@fnisen this is fixed and merged

[2017-03-15 00:47] fnisen commented on #844
Working in Dev.

[2017-03-15 00:47] #844 closed

[2017-03-15 00:47] fnisen commented on #670
Working in Dev.

[2017-03-15 00:47] #670 closed

[2017-03-15 00:54] fnisen opened #849 "Specification: Notes section description is not in the correct place"
### Current behavior
Description of Notes section is above the text box
![screen shot](https://cloud.githubusercontent.com/assets/12552247/23928766/ed10f334-08de-11e7-9b5e-f9f8a7b5d999.png)

### Expected behavior
Description should be below text box--the same format as for other sections

![screen shot 2017-03-14 at 5 53 28 pm](https://cloud.githubusercontent.com/assets/12552247/23928798/2d8b43b0-

[2017-03-15 00:59] fnisen commented on #842
@gondzo @ThomasKranitsas fix is working, but another issue introduced. This is the placeholder text now shown:

![screen shot 2017-03-14 at 5 57 06 pm](https://cloud.githubusercontent.com/assets/12552247/23928884/b103c492-08df-11e7-8b7c-af7b712ca2de.png)

[2017-03-15 01:04] fnisen commented on #839
@gondzo I'm getting a blank screen on that type of project.
![screen shot 2017-03-14 at 6 03 45 pm](https://cloud.githubusercontent.com/assets/12552247/23929073/a59d5c52-08e0-11e7-9718-9474ac574f86.png)

[2017-03-15 01:23] ThomasKranitsas commented on #842
@fnisen I can't reproduce it... I'm creating new projects of type(s) `wireframes` & `visual_design_prod` and works fine. Even after adding/removing some values and saving works fine

[2017-03-15 01:27] fnisen commented on #839
Changing to P0 b/c the open bug is making the that project type unusable.

[2017-03-15 01:29] #650 closed

[2017-03-15 01:30] ThomasKranitsas commented on #839
@fnisen the issue is because the `details.appDefinition.numberScreens` field is missing from the `topcoder.v1` template but is required to calculate the quick quote.
I'm not sure how we should handle this.

[2017-03-15 01:31] gondzo commented on #839
@ThomasKranitsas there should be no quick quote for this type. Just edit ProjectSpecSidebar#getProjectEstimateSection to not return VisualDesignProjectEstimateSection component

[2017-03-15 01:32] ThomasKranitsas commented on #839
@gondzo ok I'll push a commit in few minutes

[2017-03-15 01:40] fnisen commented on #700
Working in Dev.

[2017-03-15 01:55] fnisen commented on #842
@ThomasKranitsas you're right. Looks like it went away on its own. 👍

[2017-03-15 01:56] #842 closed

[2017-03-15 02:00] fnisen commented on #839
Thanks guys. Now working correctly!

[2017-03-15 02:00] #839 closed

[2017-03-15 02:02] fnisen commented on #778
All right, now working correctly. Thank you!

[2017-03-15 02:02] #778 closed

[2017-03-15 04:47] vikasrohit commented on #675
Just to close the loop, I have reported this issue as #836 and already have [PR](https://github.com/appirio-tech/connect-app/pull/837) for that. The PR is merged and issue is closed.

[2017-03-15 05:17] vikasrohit commented on #827
Yes for now the equation is valid as number of products per project is exactly one for now. When we have multiple products per project, we have to map product type to the spec template, which are doing already.

[2017-03-15 05:20] vikasrohit commented on #767
@fnisen sorry, if I have mis interpreted your comment, however, I think it is bug where the Save button is behaving differently for App Screens section and I had anticipated the reason as well and when I looked into the code reason was the same. However, fixing it was not straight forward to me because of code structure for that section. I tried yesterday to clean that up but I ended up with more

[2017-03-15 05:44] iit2009060 commented on #691
@gondzo  these are the sibling component of SpecContainer .I am not getting how we can make sibling components interact ,do you have any suggestion ?

[2017-03-15 07:04] vikasrohit commented on #751
@Colinh84  #767 is no longer valid for pickup.

[2017-03-15 07:34] vikasrohit commented on #834
Hey @Colinh84 If you haven't started on this one, can you please remove the assignment? We may need to handle it internally.

[2017-03-15 07:56] Colinh84 commented on #834
@vikasrohit No problem. I just finished the fix for #751 and hadn't got to this one yet anyhow because #751 was very difficult to track down and fix.

[2017-03-15 10:49] vikasrohit commented on #840
@vic-topcoder I think we always had focus state override all states including error states.
@fnisen I don't think it is because of #737

[2017-03-15 13:48] sirakovaDimitrina commented on #840
@fnisen Yes, I will check this issue

[2017-03-15 13:50] sirakovaDimitrina commented on #838
@fnisen  Ok i will fix this issue

[2017-03-15 14:39] vikasrohit commented on #834
PR is created however, the link of 'Submit for Review' button with incomplete/invalid state of 'App Screens' section may not seem to work because currently changes in one component of the specification form does not reflect in other components of the same page. This is the same reason which is preventing the immediate update of Quick Quote section when user updates the answer for Number of Screens

[2017-03-15 14:41] vikasrohit commented on #767
PR created and mostly it should work, except few cases where #751 has some effect on the functionality.

[2017-03-15 16:44] Colinh84 commented on #739
@gondzo This issue seems to be fixed now., can't reproduce.

[2017-03-15 20:14] #838 closed

[2017-03-15 20:20] #709 closed

[2017-03-15 20:23] vic-topcoder opened #855 "Add word breaking to dashboard & discussion posts"
Let's add `word-break: break-all` to posts on the project dashboard and discussion threads.

Current:
![screen shot](https://cloud.githubusercontent.com/assets/8484061/23969117/7ce54db8-0982-11e7-99a2-1c14aa4f7466.png)

Expected:
![screen shot 1](https://cloud.githubusercontent.com/assets/8484061/23969124/8494919a-0982-11e7-8cad-810991c63b01.png)

[2017-03-15 20:49] sirakovaDimitrina commented on #838
@fnisen This issue is fixed

[2017-03-16 01:34] fnisen commented on #838
Thank you @sirakovaDimitrina

[2017-03-16 05:01] iit2009060 commented on #691
@gondzo  it is taking lots of time , I  tried changing it but breaking other things . If I will have a working solution i will pick it up again.

[2017-03-16 05:04] vikasrohit commented on #739
Fixed it [here](https://github.com/appirio-tech/connect-app/pull/852/commits/1db43c9625dcad260f51c967aaa085880211b4f0#diff-e00449ea33ce9f6386a95ea29c2b655bR99) Basically the button 'Defined another screen' was not set as type='button' so by default it was assumed to be a submit button which makes patch call to the server immediately without user filling the information.
fyi @fnisen @gondzo

[2017-03-16 05:04] #739 closed

[2017-03-16 05:15] vikasrohit commented on #767
@fnisen can we close this?

[2017-03-16 05:15] vikasrohit commented on #834
Can we close this @fnisen ?

[2017-03-16 05:19] vikasrohit commented on #691
@iit2009060 @gondzo Can we please hold this for some time? I think I already have a solution for this as by product of fixing another issue.

[2017-03-16 07:43] vikasrohit opened #856 "App Screens section is not disabled for any non team member"
### Expected behavior
The complete section should be disabled for a member who is not in the team.
We should in fact also add a fallback to not enable the save changes button when logged in member is not in the team. This can avoid such leaks where is user is able to edit some portion of the form.

### Actual behavior
App Screens section is still enabled and user can make changes in the App Screen

[2017-03-16 07:43] vikasrohit commented on #856
fyi @fnisen @parthshah

[2017-03-16 07:51] sirakovaDimitrina commented on #855
@vic-topcoder  I can't reproduce this issue.

[2017-03-16 09:24] vikasrohit opened #857 "'Submit for Review' button should NOT be enabled until 'App Screens' section is valid"
### Expected behavior
'Submit for Review' button should not be enabled until required number of valid screens are defined in  'App Screens' section

### Actual behavior
As of now the concerned button is enabled if defined screens, if any, are filled properly. It does not validate if the number of screens defined matches what is selected in 'number of screens' question in Definition section.

### S

[2017-03-16 09:26] vikasrohit commented on #857
fyi @fnisen @vic-topcoder

[2017-03-16 11:21] vikasrohit opened #858 "'Submit for Review' button should be disabled there is validation error in 'App Screens' section"
### Expected behavior
The concerned button should be disabled (provided all details in Definition section are filled) when there exists at least one screen which is not properly filled.

### Actual behavior
The button is enabled when user adds a new empty screen

### Steps to reproduce the problem
- Create/Open a project (which has AVD or Wireframes as product type)
- Go to specification page
- Fi

[2017-03-16 11:22] vikasrohit commented on #858
fyi @fnisen @gondzo

[2017-03-17 02:47] vikasrohit commented on #691
@gondzo Can we safely remove it from Open from Pickup?

[2017-03-17 08:24] gondzo commented on #691
yes

[2017-03-17 08:30] #807 closed

[2017-03-17 08:30] #811 closed

[2017-03-17 08:30] #806 closed

[2017-03-17 08:30] #805 closed

[2017-03-17 08:31] #804 closed

[2017-03-17 08:35] gondzo commented on #802
@fnisen
1. Create a new project and select 4-8 screens option and save changes
2. Define 4 new screens (but don't save)
3. Change the selection to 1-3 screens and save
The selected option is disabled

[2017-03-17 08:35] #798 closed

[2017-03-17 08:35] #787 closed

[2017-03-17 08:36] #784 closed

[2017-03-17 08:36] #782 closed

[2017-03-17 08:36] #738 closed

[2017-03-17 08:36] #735 closed

[2017-03-17 08:36] #730 closed

[2017-03-17 08:36] #729 closed

[2017-03-17 08:36] #721 closed

[2017-03-17 08:36] #717 closed

[2017-03-17 08:37] #715 closed

[2017-03-17 08:37] #712 closed

[2017-03-17 08:37] #705 closed

[2017-03-17 08:37] gondzo commented on #785
@fnisen Can we close this ?

[2017-03-17 21:07] rsial2 opened #860 "Ownership changed email"
1. System is repeated twice. (FN: This is where Coder Bot should appear.)
2. missing an "&", so the sentence should read "Your project has a new owner & Hugo Robles..." (FN: We missed a period here. "Your project has a new owner. Hugo Robles....")
3. Project title is not being picked up. (FN: it's not being resolved in the app, nor by email).

![image](https://cloud.githubusercontent.com/assets/58

[2017-03-17 21:53] fnisen commented on #785
@gondzo yes, this is working as designed, so there's nothing to fix. However, I can see how not having the Questions section is confusing, so I'm OK counting this one.

[2017-03-17 22:02] fnisen commented on #802
Thanks @gondzo.
@vikasrohit do we need to consider implementing auto-save? Is there another "easy" approach?

[2017-03-17 22:16] fnisen commented on #691
@vikasrohit I'm not seeing this work in Dev after your update.

[2017-03-17 22:20] fnisen commented on #834
@vikasrohit yes, all the non-crossed out stuff is working correctly in Dev. Closing.

[2017-03-17 22:20] #834 closed

[2017-03-17 22:27] fnisen commented on #739
Thanks @vikasrohit!
@gondzo I've reassigned this issue to Vikas for recordkeeping.

[2017-03-17 22:28] fnisen commented on #719
@vikasrohit can you please check this out? It's happening on all browsers.

[2017-03-17 22:30] fnisen commented on #840
@sirakovaDimitrina I'm still seeing this one. Does it need to be merged?
![screen shot 2017-03-17 at 3 30 27 pm](https://cloud.githubusercontent.com/assets/12552247/24065213/adee63ae-0b26-11e7-8652-208e676f0ad3.png)

[2017-03-17 22:31] fnisen commented on #840
@sirakovaDimitrina I'm still seeing this issue. Does the fix need to be merged?

![screen shot 2017-03-17 at 3 30 27 pm](https://cloud.githubusercontent.com/assets/12552247/24065234/ccc0536e-0b26-11e7-98b8-f8d2b3129fc7.png)

[2017-03-17 23:05] fnisen commented on #709
Working in Dev.

[2017-03-18 01:21] parthshah commented on #860
1. should be resolved now.
2 & 3 can be tracked through #topcoder-platform/tc-connect-notifications/issues/70

[2017-03-18 01:21] #860 closed

[2017-03-18 03:35] vikasrohit commented on #691
Sorry @fnisen Actually build is failing for some unknown reason. As soon as build works out, changes should be in dev. @parthshah Can you please help me here?

[2017-03-18 06:10] vikasrohit commented on #857
@fnisen @vic-topcoder If we implement this, user might got confused when he has filled all required information but may be he is missing the required number of screens as per their answer in the definition section. So, IMO, it would be better if we somehow can notify user that they has to add more screens to be able to submit for review.

[2017-03-18 06:17] vikasrohit commented on #691
Now deployed into dev. Verified. It was some dependency conflicting with js uglify plugin for webpack.

[2017-03-18 15:12] rsial2 commented on #860
Thanks Parth

[2017-03-19 21:14] parthshah commented on #673
This one is getting more visibility lately, could we please prioritize this - @fnisen @gondzo @vikasrohit .
Thanks!

[2017-03-20 09:22] vikasrohit commented on #673
Fixed. Applied as hot fix to the production. It was copy paste magic. Basically we are showing the dashboard feeds and discussion messages in slightly different way. In dashboard feeds we show the first post of a topic as post and others as comments while in discussions page we are showing all posts of a topic as comment. So this issue was happening only for the edge case when the total posts for

[2017-03-20 09:35] vikasrohit commented on #610
Done. Changes should be in dev by EOD.

[2017-03-20 09:52] vikasrohit commented on #719
@fnisen I am not facing this issue on mac for any browser. It might be issue with Windows platform for all browsers. @gondzo We can put this one in a UI bucket for our coming bug bash.

[2017-03-20 11:34] sirakovaDimitrina commented on #840
@fnisen I made the changes in the MAIN input style. The styles are in the react component repo. I do not know if they are merged.

[2017-03-20 12:26] vikasrohit commented on #802
@fnisen With changes made for #858 we are able to reflect changes in one section to another section. I think we can utilize that feature now to refresh the number of screens options on the fly i.e. every time a user add/deletes a screen, the number of screens question (in fact all other questions) would re-render themselves and may update itself based on dirty project values. I have tried this on

[2017-03-20 13:25] vikasrohit commented on #840
I got it. @sirakovaDimitrina We need to do changes in [this](https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Formsy/FormFields.scss) FormFields.scss. File from Forms folder is old discarded implementation which we are not using any more.

@parthshah I am adding removal of this Forms folder in tech debt. Do you remember if we are using, by any chance, that old for

[2017-03-20 16:20] vikasrohit opened #864 "Dashboard/Discussions not loading for few projects"
### Expected behavior
Should load the pages

### Actual behavior
Loading state persists

https://connect.topcoder.com/projects/1208

[2017-03-20 20:32] sirakovaDimitrina commented on #840
@vikasrohit  Thank you for this information. I will move the changes in the new class which we use for the input in the connect-app repo.

[2017-03-21 06:41] vikasrohit commented on #857
bump up

[2017-03-21 17:41] fnisen commented on #610
Working in Dev. Thank you.

[2017-03-21 17:41] #610 closed

[2017-03-21 17:46] fnisen commented on #673
Thanks a lot Vikas.

[2017-03-21 17:46] #673 closed

[2017-03-21 18:17] fnisen commented on #691
@vikasrohit I'm seeing an edge case where this doesn't work. Please try this:
- Create AVD Concepts Projects
- Select a screen size, fill out the first section, and Save
- Click on screen size 4-8 or 9-15. Price adjusts. Click on size 1-3. Price does not adjust.
- Now make a change to the form. Price for 1-3 now adjusts.
Here is a video: https://www.screencast.com/t/xeoYR3qxXCX

[2017-03-22 07:28] #840 closed

[2017-03-22 09:18] vikasrohit commented on #691
Thanks @fnisen for verifying the issue and finding the edge case. It was really an edge case. Actually, I have put a check to optimize the performance, but it seems that is preventing the components (outside of the form) to update when user changes/reverts answer such that it matches to the saved values of that question.
It should be fixed now in dev. Please let me know if you still see the same i

[2017-03-22 17:20] fnisen opened #868 "Incorrect date on project creation"
![screen shot 2017-03-22 at 10 19 25 am](https://cloud.githubusercontent.com/assets/12552247/24211386/16e1937a-0ee9-11e7-93ac-4fd799339cb6.png)

[2017-03-23 07:37] vikasrohit commented on #682
@vic-topcoder Can you please suggest a basic design for this? Or Can I add a simple icon just next to the post title (on Discussions page) and add the permalink there? For the later, I would need your help for a permalink icon in svg format.

@fnisen I don't remember exactly what was the problem, but we don't have support to go to the specific post on the Dashboard page. We have this functionality

[2017-03-24 16:55] parthshah commented on #682
Why do we need a design change? As user's click on the discussions tab and select a different topic we should change the URL with topicId url param & potentially also commentId to reflect the selected topic + post combo?. The same can apply to Dashboard page as well.

[2017-03-27 11:21] vikasrohit commented on #719
Able to reproduce it but with different steps. It is reproducible when user opens the Discussions tab of any project and then moves to the Project listing page.
Applied a fix for this which should be in dev by EOD.

[2017-03-27 20:11] fnisen commented on #9
@vikasrohit bumping this one please. Can you triage and either finish or close?

[2017-03-27 20:18] fnisen commented on #169
Fixed as part of products release

[2017-03-27 20:18] #169 closed

[2017-03-27 20:22] fnisen opened #869 "Clicking "submit for review" on Dashboard will prompt user to save changes"
### Steps to reproduce the problem
- Create project or go to existing draft project and complete intake form
- Do not save changes
- Click "Submit for review"
- See message asking whether changes should be saved

### Expected behavior
- When user clicks "Submit for review," we should automatically save changes and take the user to the Dashboard, where they can see the confirmation message
- Upon c

[2017-03-27 20:35] fnisen commented on #402
Going to put this on hold b/c we're likely to rework this section.

[2017-03-27 20:36] fnisen commented on #371
@parthshah is this going to be addressed as part of your search upgrade? I've also seen issues with search not being able to handle special characters, such as apostrophe.

[2017-03-27 20:44] fnisen commented on #462
Working now during my testing, so going to close.

[2017-03-27 20:44] #462 closed

[2017-03-27 20:48] fnisen opened #870 "Add posts formatting to comments/replies for Dashboard and Discussions"
The composer has formatting options when starting a new post, in both Dashboard and Discussion sections:
![screen shot 2017-03-27 at 1 45 28 pm](https://cloud.githubusercontent.com/assets/12552247/24377269/ad612654-12f3-11e7-9b05-a3dc92156279.png)

But those options are missing when replying/commenting in both sections:
![screen shot 2017-03-27 at 1 45 57 pm](https://cloud.githubusercontent.com/as

[2017-03-27 20:52] fnisen commented on #345
Per discussion with Joey, going to keep this as allowed functionality for now.

[2017-03-27 20:52] #345 closed

[2017-03-28 02:54] fnisen commented on #691
@vikasrohit working in Dev. Thank you! 👍

[2017-03-28 02:54] #691 closed

[2017-03-28 05:05] vikasrohit commented on #870
@fnisen we can put this one in a bucket for bug bash challenges if we have couple more issues with discussions/messages.

[2017-03-28 05:18] vikasrohit commented on #137
@fnisen This one is good candidate for a stand alone F2F code challenge I guess. We should scope all instances of dropdown, used in the application, to be updated with react-select. It should be done in a way which does not require too many changes in the way dropdown is being used in application i.e. SelectDropdown component from react-components repo should be used for all instances and this com

[2017-03-29 09:15] vikasrohit commented on #84
I think it would be good candidate for community. @gondzo what do you think?

[2017-03-29 09:34] vikasrohit commented on #869
I can handle it however, if we are about to launch a challenge and we can group this one into some bucket, it would be good to get it resolved by community.

[2017-03-29 09:35] vikasrohit commented on #405
Should be very trivial. I can handle it.

[2017-03-29 15:40] vikasrohit commented on #9
@vic-topcoder Can we have png of the favicon? Actually, I tried to use already existing [library](https://github.com/jantimon/favicons-webpack-plugin) for generating favicon and putting that into html. However, it does not accept image in ico format.

[2017-03-29 17:56] vic-topcoder commented on #9
@vikasrohit did you try the original attached favicon-connect-01.zip at the top? It contains all the .PNG images for different platforms/devices/sizes

[2017-03-29 20:04] vic-topcoder commented on #501
https://davidwalsh.name/cdn-fonts and MIME type fixer; https://github.com/dailymuse/s3-content-type-fixer

[2017-03-29 21:00] fnisen commented on #501
@vikasrohit can this be addressed in a bug bash or do you need to fix it directly?

[2017-03-30 05:00] vikasrohit commented on #501
@fnisen I think it would take some time as some investigation is involved as well as it might require trial and error approach. So, if we have sufficient number of issues for a challenge, we add this to them. Otherwise, I can pick it after completing salesforce integration thing which I am expecting would take about a week.

[2017-03-30 05:28] vikasrohit commented on #9
@vic-topcoder Used highest resolution favicon image from that archive. `favicon-webpack-plugin` would take care of generating the icons for other devices and browsers.
Changes should be in dev by EOD.

[2017-03-31 08:57] vikasrohit opened #873 "Manager does not get manager access immediately after joining the project"
### Expected behavior
Manager should be visible as Team Member on Dashboard. Manager should be able to edit specifications of the project.

### Actual behavior
Manager is not displayed as Team Member on Dashboard. Manager is NOT able to edit the specifications of the project without refreshing the page.

### Steps to reproduce the problem
- Open a project where you are not already part of the team

[2017-03-31 08:57] vikasrohit commented on #873
fyi, @parthshah @fnisen

[2017-04-04 13:25] rsial2 opened #874 "Dashboard Discussion Threads vs. Discussions Tab"
Are there any plans to merge these two tabs into one?

[2017-04-04 13:26] rsial2 opened #875 "Ability To Delete Messages or Parts of a Thread or Edit"
Are there any plans to allow users to edit messages or delete messages?

[2017-04-05 01:45] parthshah opened #876 "Support 'Best Match' sort to support keyword search"
Related to topcoder-platform/tc-project-service#54, since keyword search is handled through Elasticsearch, sort should default to result relevancy.

[2017-04-05 11:54] vikasrohit commented on #873
@fnisen do you want this fix as hotfix on server or as a regular fix when we push next release?

[2017-04-05 12:14] vikasrohit commented on #405
Done. Changes should be in dev by EOD.

[2017-04-05 16:27] #876 closed

[2017-04-06 07:44] vikasrohit commented on #682
Thanks @parthshah for the idea for having topic id in the URL itself as URL param. However, that would work for Discussions page only because we don't have a way to select a particular feed on dashboard. Hence user won't have any way to change the URL to copy the specific feed URL.
However, I think on dashboard we can use the timestamp field to have the permalink just like github is doing for its

[2017-04-06 12:29] vikasrohit opened #880 "Features changes are not reflected in side panel without saving the changes"
### Expected behavior
Changes (e.g. removing all features from the feature picker list or adding the first feature) should update the side panel. As it is a required field, it should update the number of required fields which are filled.

### Actual behavior
It takes effect only after user save the changes using `Save Changes` button.

### Steps to reproduce the problem
- Open any project from dev

[2017-04-12 13:01] rsial2 opened #881 "Links in Discussions are not loading correctly"
See screenshot below:
![image](https://cloud.githubusercontent.com/assets/5807576/24958794/343e3a4a-1f56-11e7-8418-b16e97faa4a9.png)

[2017-04-13 14:15] vikasrohit commented on #682
bump up

[2017-04-13 14:15] vikasrohit commented on #873
bump up

[2017-04-13 23:12] fnisen commented on #873
@vikasrohit sorry for the delay. Hotfix please.

[2017-04-13 23:27] parthshah commented on #682
I prefer not to use `projects/{id}/status/{feedId}` , it's better to use anchor tag. Does this help - http://stackoverflow.com/questions/40280369/use-anchors-with-react-router?

[2017-04-17 11:03] vikasrohit commented on #873
Deployed to prod on Apr 14, 2017.

[2017-04-17 11:04] vikasrohit commented on #880
fyi, @fnisen

[2017-04-17 11:08] vikasrohit commented on #682
Okay. I will check the anchor implementation again. The only problem last time faced was the delay or inability in scrolling to the specific feed when user directly changes the feed id in the hash. May be that is browser's behaviour. One of those cases was when I change the feed id in the hash after `CMD + L` command, I guess it works well when user clicks in URL box and then changes the feed id.

[2017-04-25 10:23] vikasrohit commented on #682
@fnisen @parthshah This feature is deployed to dev for testing. Please let me know your feedback. If it seems good, I can merge changes into dev. Please note, right now I haven't worked on creating permalinks for comments of feeds/messages. I think it would require more efforts because we have to auto expand the collapsed comments in case someone has referred a comment which is not loaded on the p

[2017-05-01 08:01] vikasrohit commented on #682
@fnisen @parthshah did you guys get chance to verify the changes? Should I move the changes into dev?

[2017-05-02 09:54] vikasrohit commented on #802
Changes are in dev. Merging the [PR](https://github.com/appirio-tech/connect-app/pull/863) considering the PR waiting for so long in pending state. We can do regression testing in dev.

[2017-05-03 07:29] vikasrohit commented on #880
Changes are in dev.

[2017-05-11 07:56] vikasrohit commented on #682
bump 😬

[2017-05-23 20:28] fnisen commented on #682
@vikasrohit sorry this got lost. The current implementation seems good to me. @parthshah is it OK to deploy?

[2017-05-23 21:07] parthshah commented on #682
Yep .. should be good to deploy. Vikas .. please merge and deploy to master when you get a chance.

[2017-05-24 06:19] vikasrohit opened #884 "Create new container for new project creation flow"
This new container would host the new updated ProjectWizard component.
It would also integrate with accounts app login flow when non logged in user creates a project.

[2017-05-24 06:29] vikasrohit opened #885 "New component for hosting the App Definition form in ProjectWizard"
This component would be parallel to the existing SpecificationContainer with few changes e.g.

- [x] it may not required to be a container as data fetching stuff can be delegated to the container being created via #884
- [x] it would render only trimmed version of the App Definition form, may require to consume different portion of the projectQuestions JSON.
- [ ] it would not allow user to procee

[2017-05-24 06:31] vikasrohit opened #886 "New component for showing the options for handling incomplete projects"
This component will allow users to either continue with existing incomplete project or ignore incomplete one and create a fresh project. Should a dumb component which would delegate the actual actions to the parent component.

[2017-05-24 06:34] vikasrohit opened #887 "Update ProjectWizard component to accommodate new components in the project creation flow"
Need to update the ProjectWizard component to include components being created via #886 and #885

[2017-05-24 06:36] vikasrohit opened #888 "New component for rendering the project outline"
This is a new component which would show the summary of project being created in the project creation wizard itself.

[2017-05-25 12:39] vikasrohit commented on #682
Merged and deployed to dev. We can promote these changes to prod with next release or should I make a new specific release for this?

[2017-05-29 12:19] vikasrohit opened #889 "Style the ProjectOutline component as per specs"
This task is to style the ProjectOutline component as per specs provided by Vic.

**Note:** This component right now uses the `VisualDesignProjectEstimateSection` component for rendering the project estimates and the same component is being used by `ProjectSpecSidebar` component to render the estimates in Specification Tab of the project. So, fixing style for `VisualDesignProjectEstimateSection` f

[2017-05-29 12:22] vikasrohit opened #890 "Style incomplete project confirmation component as per specs"
The component is being created via #886

[2017-05-29 12:27] vikasrohit opened #891 "Integrate with registration flow when non topcoder user creates project"
For this task to complete, we need a way to log user in immediately after registering. Exact work is TBD.

[2017-05-29 12:29] vikasrohit opened #892 "Remove TopBar component for logged out view of the project creation flow"
With current state of flow, TopBar is still showing on logged out view of the project creation flow. It should not be there as per new specs.

[2017-05-29 12:30] vikasrohit opened #893 "CoderBot message changes"
TBD

[2017-05-29 12:32] vikasrohit opened #894 "Fix project service to get new projects (with details JSON) in ES cluster"
As of now, the project service fails to create a new project in ES cluster if the payload contains the details JSON field which is preventing the new projects to be listed on the listing page.

[2017-05-29 19:55] fnisen commented on #682
Next release is fine. Just include it in the notes please.

[2017-05-30 06:42] vikasrohit commented on #682
@fnisen  Just realized that we would be releasing the new logged out flow in next release and I think we don't have any other feature planned before that. In that case it can make sense to deploy this feature as minor release update. It would make the next release more focused to the logged out flow of the project creation.

[2017-05-30 06:45] vikasrohit opened #895 "Validation for project details form"
As of now it allows users to create the project even if all required fields are empty. This is because before the new logged out project creation flow, we used to allow saving a project without all required fields being answered. We used to prevent user from submitting such project for review until they fill the required information. However, with new flow, we are asking required fields at the tim

[2017-05-30 06:48] vikasrohit opened #896 "Fix Tab sequence for project details form in project creation flow"
As of now Tab sequence is not correct in the form. It skips the number of screens and target device questions when user hits Tab in Ref Code and directly moves the cursor/focus to the Description field.

[2017-05-30 06:50] vikasrohit opened #897 "Update ProjectWizard component to be rendered without modal"
Because previously project wizard was shown in a modal, it has some left over for modal handling. In the new flow, we are not required to show the wizard in modal, hence we can either eliminate the modal requirement from the ProjectWizard component or we can update it in such way that it allows both modal and non modal rendering.

[2017-05-30 07:03] vikasrohit opened #898 "Consolidate the two steps, for project and product type selection, to one step"
As per the new flow designs, the two steps for asking project category and product type are now merged into one step to avoid extra clicks until we have so many products that it requires categorization for better accessibility.

[2017-05-30 07:10] vikasrohit commented on #888
Component created with basic styles. It would be styled more appropriately with #889

[2017-05-30 07:10] #888 closed

[2017-05-30 07:11] vikasrohit commented on #886
Component `IncompleteProjectConfirmation` created with basic styling. More appropriate styling would be done via #890

[2017-05-30 07:11] #886 closed

[2017-05-30 07:18] vikasrohit commented on #885
Added component `ProjectBasicDetailsForm`. Validation part is being handled via #895
- Data fetching is not done by this component, hence it is not a container.
- It is consuming different export `basicSections` from the projectQuestions configs instead of updating existing projectQuestions configs. It is causing redundancy of questions in the config, but at the same time it is allowing better sep

[2017-05-30 07:18] #885 closed

[2017-05-30 07:19] vikasrohit commented on #887
Done.

[2017-05-30 07:19] #887 closed

[2017-05-30 07:20] vikasrohit commented on #884
New container component `CreateContainer` created with new updated ProjectWizard component.

[2017-05-30 07:20] #884 closed

[2017-05-30 07:23] vikasrohit commented on #873
Closing the issue to clean up the list. @fnisen Please let me know if the issue resurfaces or is not fixed.

[2017-05-30 07:23] #873 closed

[2017-05-30 07:32] vikasrohit commented on #890
@vic-topcoder Can you please check with Didi if she needs anything else to get started on this? I can make any DOM/Javascript changes required. The changes are in [feature/deep-links](https://github.com/appirio-tech/connect-app/tree/feature/deep-links) branch.

[2017-05-30 07:32] vikasrohit commented on #889
@vic-topcoder Can you please check with Didi if she needs anything else to get started on this? I can make any DOM/Javascript changes required. The changes are in [feature/deep-links](https://github.com/appirio-tech/connect-app/tree/feature/deep-links) branch.

[2017-05-31 07:15] vikasrohit opened #899 "Style component for selecting product"
As per new designs, the two steps for selecting project type and product are not merged into one. The development is being tracked via #898. Purpose of this task is to style that component to match with the design specs.

[2017-05-31 07:20] vikasrohit commented on #898
Created new components to render the consolidated view of project type selection. Styling would be handled via #899

[2017-05-31 07:20] #898 closed

[2017-05-31 11:26] vikasrohit opened #900 "Render ProjectWizard as modal for logged in user"
As of now ProjectWizard is not rendered as modal for non logged in user. We can also say that it shown as non modal when user comes from marketing sites. Purpose of this task is to render it as modal when a logged in user clicks on the 'New Project' button from the top bar.

[2017-06-01 06:03] vikasrohit commented on #895
Done. Added validation for all fields in details form. However, it does not show the validation errors for `nubmer of screens` and `target device` questions because they can not be set to empty once set.

[2017-06-01 06:03] #895 closed

[2017-06-01 06:09] vikasrohit opened #901 "Fix icons"
Here is the list of icons/images to be fixed to match with the design:

- [x] Start over button on project details step in the wizard
- [x] Wireframe product icon (Select Project Type step in the wizard)
- [x] Visual Design product icon (Select Project Type step in the wizard)
- [x] Front-end prototype product icon (Select Project Type step in the wizard)
- [x] Software Development product icon (S

[2017-06-01 06:10] vikasrohit commented on #901
@vic-topcoder can you please provide required assets?

[2017-06-01 09:56] talesforce opened #902 "Carriage Returns (Enter) does not add new lines when posting messages"
### Expected behavior
Carriage Returns (Enter) should add new lines when posting messages

### Actual behavior
Carriage Returns (Enter) does not add new lines when posting messages

### Steps to reproduce the problem
1. Respond on any thread. Press 'Enter' a few times
2. It shows new lines while in edit view
3. When it has been posted, the new lines disappear

### Screenshot/screencast

E.g. Edit

[2017-06-02 12:00] vikasrohit commented on #894
It seems ES does not allow indexing same field with two different types. Since we made number of screens and primary target questions non skippable in specification tab, it started to fail updating the project update in ES cluster because of that reason. When these were skippable questions, the value of corresponding fields was an object and since we made it compulsory field, it started to save a

[2017-06-02 12:54] vikasrohit commented on #900
Done.

[2017-06-02 12:54] #900 closed

[2017-06-02 12:54] vikasrohit commented on #897
Done.

[2017-06-02 12:54] #897 closed

[2017-06-06 10:27] vikasrohit commented on #894
After more debugging found that production is working fine because we never had, on production, the `numberScreens` and `primaryTarget` questions as optional fields in project specification form. In dev initially they were optional but before going live we updated them to be non skippable fields, hence dev contains both type of data.
Fixed the bad data on dev ES cluster by deleting the index and r

[2017-06-06 10:28] #894 closed

[2017-06-06 10:52] vikasrohit opened #903 "Updated connect registration flow in accounts app"
This task is a consolidated one for grouping all individual tasks required for this flow to be updated as per designs https://invis.io/QJBRJ4ITF

Here is rough idea of what is required under the new flow:

- [x] Update style for Connect Registration page
- [x] Add new screen for asking security PIN
- [x] Update the existing registration flow to move to the new screen created for security PIN inste

[2017-06-06 10:53] vikasrohit commented on #903
@gondzo This is the major task we need your help with. Feel free to create required tasks in accounts-app and update this one when you close one of the sub tasks.

[2017-06-07 09:15] vikasrohit commented on #901
Done. Updated all icons mentioned in the issue.

[2017-06-07 09:15] #901 closed

[2017-06-08 19:00] vic-topcoder commented on #874
The goal is to merge them into one dashboard feed. Extending the post into a dedicated page would be the go-to strategy, but we haven't reached this yet.

[2017-06-08 19:21] fnisen commented on #874
Test post

[2017-06-09 09:51] vikasrohit commented on #892
Done. Refactored the layout such that it now allows specifying separate toolbar components for each route. Earlier, it was handled via if-else blocks in the same component.

[2017-06-09 09:51] #892 closed

[2017-06-09 10:20] vikasrohit commented on #896
Done.
-- Made the TiledRadioGroup component to be tabable based on a prop value.

[2017-06-09 10:20] #896 closed

[2017-06-12 07:57] vikasrohit opened #904 "POC for accounts app integration with PIN screen"
This is to track investigation efforts for the new flow for connect user registration.

[2017-06-12 11:46] vikasrohit commented on #904
Found that we are still blocked with calling Email change API without JWT Token because without activating a user we can't get JWT token. It seems we can call activation api without any token, however, for email change we would need a valid admin JWT token.

[2017-06-13 15:32] gondzo commented on #855
This one can be reproduced only in first post body, not in the post comments
![image](https://user-images.githubusercontent.com/3051646/27090737-513a05b4-505e-11e7-8704-496349c8d003.png)

[2017-06-13 16:56] gondzo commented on #881
This one can't be fixed without changing the tc challenge page site.
URL preview relies on meta tags in html of the linked page, and since tc challenge page is angular based it has only placeholders in those tags and populates them only when it loads the challenge details from the api. The only solution here is to build server side rendering support for the topcoder challenge pages.

[2017-06-13 17:01] rsial2 commented on #881
Then we should build something server side - from a user and product perspective, it looks really really bad.

[2017-06-13 18:18] fnisen commented on #881
@ajefts please see Rash's comment above. Last time we discussed this with Parth, he didn't think much could be done before we rebuilt the challenge details pages. @gondzo is suggesting these libraries could help: https://github.com/ng-consult/ng1-server (Angular 1.3+); https://universal.angular.io/ (Angular 2)

[2017-06-13 19:28] sirakovaDimitrina opened #905 "Styling New Project"

[2017-06-13 19:47] sirakovaDimitrina opened #906 "Styling Project Type"

[2017-06-14 04:51] vikasrohit commented on #881
@gondzo just curious, if fragments can help us here.

[2017-06-23 07:10] vikasrohit opened #907 "Update styles of connect registration page"
Apply HTML/CSS of registration page while maintaining the existing functionality.

fyi, @vic-topcoder @fnisen

[2017-06-23 07:11] vikasrohit opened #908 "Update styles of connect login page"
Apply new HTML/CSS to the login page while maintaining the existing functionality.

fyi, @fnisen @vic-topcoder

[2017-06-23 07:13] vikasrohit opened #909 "[150$] - Style the security PIN verification screen"
Apply the HTML/CSS from the prototype to pin verification screen, while maintaining the existing functionality.
fyi, @vic-topcoder @fnisen

[2017-06-23 07:16] vikasrohit commented on #903
- [x] Update the existing registration flow to move to the new screen created for security PIN instead of exists registration success page

These two are done while working for #904 , styles are pending and separate issues are created for them.

[2017-06-23 07:25] vikasrohit commented on #904
Flow is working now with latest changes in identity service.

![new-reg-flow-identity](https://user-images.githubusercontent.com/2417632/27470559-2e28f100-5812-11e7-865b-b58e2297e24d.png)

Further, the POC suggests that we can resolve the problem of leaving the security PIN screen before verifying the PIN, if we can have three things:

1. Have email of the user returned in the temp JWT token
2. Ha

[2017-06-23 07:26] #904 closed

[2017-06-23 07:27] vikasrohit commented on #891
Done with investigation done under #904

[2017-06-23 07:27] #891 closed

[2017-06-23 16:24] vic-topcoder commented on #899
Duplicate of #906

[2017-06-23 16:24] #899 closed

[2017-06-26 18:39] sirakovaDimitrina commented on #890
@vikasrohit Can you please tell me how i can reach to "project confirmation component"

[2017-06-27 04:32] vikasrohit commented on #890
@sirakovaDimitrina You need to try creating a project and fill some project details on details form. Thereafter instead of clicking the Continue button, just reload the page and it should save the project in local storage which in turn ask you, on page load, about completing existing project or create new one.
Other hack to render that page is to change default step of the wizard by replacing `WZ_

[2017-06-27 07:21] vikasrohit opened #911 "Create project in 'in_review' status for new project creation flow"
As of now project is still being created in draft mode.
fyi @fnisen

[2017-06-27 11:06] vikasrohit commented on #911
@fnisen Updated project creation flow to update the project status to in_review immediately after creating the project as the current api does not allow creation of a project in a non draft status.

[2017-06-27 11:17] vikasrohit opened #912 "Wire Change project type button on project details form"
Button is not wired yet. It should take user to the product selection screen.

[2017-06-29 09:54] #911 closed

[2017-06-29 09:54] #912 closed

[2017-06-29 09:56] vikasrohit commented on #909
Done

[2017-06-29 09:56] #909 closed

[2017-06-29 09:56] vikasrohit commented on #908
Done

[2017-06-29 09:56] #908 closed

[2017-06-29 09:57] vikasrohit commented on #907
Done.

[2017-06-29 09:57] #907 closed

[2017-06-29 09:58] vikasrohit opened #913 "Mobile styles for new connect reg flow."

[2017-06-29 09:59] vikasrohit opened #914 "Project template for Infographic product"

[2017-06-29 10:00] vikasrohit commented on #903
Fixed.

[2017-06-29 10:00] #903 closed

[2017-06-29 17:36] fnisen opened #915 "Update button functionality on Connect front page"
Current page:
<img width="1239" alt="screen shot 2017-06-29 at 10 32 03 am" src="https://user-images.githubusercontent.com/12552247/27701634-595d1ab0-5cb6-11e7-83ca-c9ff532fe6af.png">

Updates:
1. Add "Login" button to top right corner. Make it white, so it's not emphasized
2. Change "Register for free" to "Start a project" and link it to project creation
3. Change "Learn about crowdsourcing" as V

[2017-06-29 17:39] fnisen opened #916 "Change presentation of "Learn about crowdsourcing""
I'd like to change how the buttons are presented, as described here: https://github.com/appirio-tech/connect-app/issues/915. Can you change how "Learn about crowdsourcing" is presented, so it's not emphasized as a button (and the main call to action becomes "Start a project").

[2017-06-29 17:40] fnisen opened #917 "Style buttons according to UI kit on Connect front page"
Styling doesn't seem correct currently (screenshot below). Can you please modify it once this issue is completed: https://github.com/appirio-tech/connect-app/issues/915

<img width="1239" alt="screen shot 2017-06-29 at 10 32 03 am" src="https://user-images.githubusercontent.com/12552247/27701967-5d50a208-5cb7-11e7-93ff-256bbe7df35c.png">

[2017-06-29 17:46] fnisen opened #918 "Change design for Single Sign On option"
Can you please review the placement of the SSO button on the registration form (below)? A user may not notice it until they've started filling out the form. Is there a better way to present it?

<img width="539" alt="screen shot 2017-06-29 at 10 44 14 am" src="https://user-images.githubusercontent.com/12552247/27702123-f015b682-5cb7-11e7-8118-51c96151b7d4.png">

[2017-06-29 17:51] fnisen opened #919 "Remove helper text on Registration form"
The form now has field labels, so helper text is not needed:

<img width="538" alt="screen shot 2017-06-29 at 10 50 28 am" src="https://user-images.githubusercontent.com/12552247/27702401-cd4927b4-5cb8-11e7-85fc-07e743d6ecb5.png">

[2017-06-29 18:07] fnisen opened #920 "Country form field and drop-down component not working correctly"
Several issues:

1. Validation message is too close to form field
2. Validation and dropdown are active at the same time
3. Drop down overlaps with form field and is too narrow (should stretch the length of the field)

<img width="472" alt="screen shot 2017-06-29 at 10 53 17 am" src="https://user-images.githubusercontent.com/12552247/27702575-5f0ce5aa-5cb9-11e7-8faf-b89fc06ce34a.png">

[2017-06-29 18:17] fnisen opened #921 "Fix username tips"
### Actual behavior
<img width="364" alt="screen shot 2017-06-29 at 11 09 22 am" src="https://user-images.githubusercontent.com/12552247/27703231-8c9c30e6-5cbb-11e7-9f11-1e03dc887c21.png">

Some changes:
1. Remove opening dashes "-" (see below for structure)
2. Remove closing semicolons ";"
3. Change copy:
"Your username will be public"
"It must be 2-15 characters long"
"It can contain numbers, le

[2017-06-29 18:25] fnisen opened #922 "Password tip component not working"
The password tip component has been hardcoded:

<img width="787" alt="screen shot 2017-06-29 at 11 17 58 am" src="https://user-images.githubusercontent.com/12552247/27703602-c128514a-5cbc-11e7-8413-07dbceab2d23.png">

It should actually serve as an active checklist:
<img width="797" alt="screen shot 2017-06-29 at 11 24 16 am" src="https://user-images.githubusercontent.com/12552247/27703877-a11b452

[2017-06-29 18:38] fnisen opened #923 "Password field not using new "show" button"
### Expected behavior (per design)

<img width="374" alt="screen shot 2017-06-29 at 11 34 05 am" src="https://user-images.githubusercontent.com/12552247/27704310-0f2f567a-5cbf-11e7-8e00-1997748a21bc.png">
<img width="341" alt="screen shot 2017-06-29 at 11 34 15 am" src="https://user-images.githubusercontent.com/12552247/27704311-10aeae38-5cbf-11e7-9ded-ff253d5de6e2.png">

[2017-06-29 18:42] fnisen opened #924 "Registration form typeface is not correct size"
Typeface seems to be 15px, but should be 13px, per spec (yes, I could tell the different without the inspector tool : ) ):

<img width="1012" alt="screen shot 2017-06-29 at 11 40 13 am" src="https://user-images.githubusercontent.com/12552247/27704573-e887b5b6-5cbf-11e7-9fab-cf7c2eb9813b.png">

[2017-06-29 18:49] fnisen opened #925 "Email tips component is missing"
### Please add the password tips component:
<img width="775" alt="screen shot 2017-06-29 at 11 22 54 am" src="https://user-images.githubusercontent.com/12552247/27704675-392e4462-5cc0-11e7-8582-8805078b6418.png">

### Change the second line:
 "We'll occassionally...." with "We'll send you messages related to your account and project activities"

### Remove this text:
<img width="457" alt="screen s

[2017-06-29 18:53] fnisen opened #926 "Restyle "Forgot Password" to match new styles"
### Current style
<img width="730" alt="screen shot 2017-06-29 at 11 51 49 am" src="https://user-images.githubusercontent.com/12552247/27705046-7549ea22-5cc1-11e7-965a-c9b7fc3f6ee4.png">

[2017-06-29 19:03] fnisen opened #927 ""Show" button missing on Login password form"
### Actual behavior
<img width="515" alt="screen shot 2017-06-29 at 12 01 19 pm" src="https://user-images.githubusercontent.com/12552247/27705470-c7695dc8-5cc2-11e7-872a-4d0179044062.png">

### Expected
<img width="297" alt="screen shot 2017-06-29 at 12 02 36 pm" src="https://user-images.githubusercontent.com/12552247/27705501-e882dffc-5cc2-11e7-964b-6b3dbcf00bc8.png">

[2017-06-29 19:12] fnisen opened #928 "Provide new validation layout and styling"
### Actual behavior
<img width="558" alt="screen shot 2017-06-29 at 12 05 10 pm" src="https://user-images.githubusercontent.com/12552247/27705670-7fa28608-5cc3-11e7-921b-582c3891beb2.png">

---
The above is the current behavior in production, but it's pretty messy. Can you please provide updated styling, perhaps similar to what the member side  uses currently:
<img width="617" alt="screen shot 201

[2017-06-29 19:15] fnisen opened #929 "Login: be specific about validation error"
### Currently on the customer side we don't tell you whether your account or password is incorrect
<img width="558" alt="screen shot 2017-06-29 at 12 05 10 pm" src="https://user-images.githubusercontent.com/12552247/27705670-7fa28608-5cc3-11e7-921b-582c3891beb2.png">

---
### But we do tell you on the member side, which is useful:
<img width="617" alt="screen shot 2017-06-29 at 12 08 41 pm" src="h

[2017-06-29 19:19] fnisen opened #930 "Login: form label should specify username or email"
### Actual behavior
<img width="515" alt="screen shot 2017-06-29 at 12 01 19 pm" src="https://user-images.githubusercontent.com/12552247/27706071-f1d8d9ce-5cc4-11e7-8f9a-1975f9df1300.png">

Two changes:
1. Upper label should say "Username or email" (Remove "Enter")
2. Lower label should say "Password" (Remove "Enter")

[2017-06-29 19:41] vic-topcoder commented on #918
I wouldn't put the SSO under the register button. The SSO is a login option, and should be on the login, not the registration page?

[2017-06-29 20:50] vic-topcoder commented on #928
We have the styles provided from Didi, we should treat the username/password as separate fields, displaying a message "there's no such combo" is bad UX.

There are 2 error states:
1. Non-existent account - we should error on account and explain that there's no account.
![login - invalid username](https://user-images.githubusercontent.com/8484061/27709708-f2a33220-5cd1-11e7-93ce-4c830fb44412.png)

[2017-06-29 20:58] vic-topcoder commented on #926
We should reuse the existing styles to rearrange the login page, really.

Help text: "We’re going to send you an email shortly with a link to reset your password. Please allow for some time or check your spam folders. If you still need help, contact support here" - @fnisen please advise on copy.

![reset password](https://user-images.githubusercontent.com/8484061/27709979-f47cfb8e-5cd2-11e7-8189-5

[2017-06-29 23:29] vic-topcoder commented on #915
Can we just replace it with a link? Blue color, regular link.

Drop the `.btn` class from the link and style it to be a regular link. Make sure the holding <div> is center-aligned.

[code]
![pasted_image_at_2017_06_29_04_27_pm](https://user-images.githubusercontent.com/8484061/27714768-f6a62bf0-5ce7-11e7-877c-4b4107feb345.png)

[2017-06-29 23:31] vic-topcoder commented on #918
We should use tabs to switch the experience from email to SSO registration/login:

Discussed with @fnisen over Slack. @fnisen please resolve accordingly

![register-sso_1](https://user-images.githubusercontent.com/8484061/27714862-685319f2-5ce8-11e7-9fcb-710f6169e541.png)
![register-sso_2](https://user-images.githubusercontent.com/8484061/27714861-684c0e0a-5ce8-11e7-928f-8d5a1865818c.png)

[2017-06-29 23:32] vic-topcoder commented on #916
Commented on the original issue; will continue updating there

[2017-06-29 23:32] #916 closed

[2017-06-30 03:26] vikasrohit commented on #918
@vic-topcoder @fnisen SSO is a registration option as well. We require each SSO user to register once to get their handle. Once user enter the SSO email and hits register, we log user in into their SSO account (which is Wipro for now) and take user back to the registration page with their profile information filled. Its just like the Social registration we have on community registration page.

@aj

[2017-06-30 04:40] fnisen commented on #918
@ajefts do we need to support SSO for Wipro right now?

[2017-06-30 04:43] fnisen opened #931 "Create URL for the "Select Your Project Page"..."
...so we can link to it from a marketing page (with a logged out user)

[2017-06-30 04:44] fnisen opened #932 "Create URL for each project spec page..."
...so we can deep link to it from a marketing page (with a logged out user)

[2017-06-30 05:11] vikasrohit commented on #928
Yes, we do have error styles. However, I kept things simple so that we don't break working things. I assumed we can refine these little things after release.

One more thing, mostly in my past experience we used to avoid telling user that there is no account with the particular email/username because if we do, we give user clear hint that user exists with that username/email. This decreases the ti

[2017-06-30 05:22] vikasrohit commented on #918
@fnisen @vic-topcoder I may not be correct from general UX point of view, however, from my personal perception, the tabs are causing me to miss the SSO option more than a separate button in the same page.
Further, as I said after we log user in into their SSO account, we redirect user back to our registration page to fill more information (handle, country etc) and to do that we have to open the 'U

[2017-06-30 05:39] vikasrohit commented on #932
@fnisen this is already supported. Sorry, I missed to update it along with my status update 😬

Wireframes - http://connect.topcoder-dev.com/new-project/product/wireframes
Visual Design - http://connect.topcoder-dev.com/new-project/product/visual_design_concepts (Right now I have used the visual design concepts template for this one, and it would behave same for new projects with Visual Design prod

[2017-06-30 05:45] vikasrohit commented on #932
One more thing, I have to handle the case where the deep link is having wrong project id (may be a typo by marketing user or some body trying to break our system). I think we should just present the product type selection screen in this case and update the URL to exclude the wrong product param altogether.

[2017-06-30 05:46] vikasrohit opened #933 "Handle wrong product id in the deep link"
Handle the case where the deep link is having wrong project id (may be a typo by marketing user or some body trying to break our system). I think we should just present the product type selection screen in this case and update the URL to exclude the wrong product param altogether.

[2017-06-30 05:47] vikasrohit commented on #931
http://connect.topcoder-dev.com/new-project/

[2017-06-30 05:57] vikasrohit commented on #929
Oh, I see. It is consistent. However, IMO, we should follow the connect approach of not letting user what exactly was wrong to prevent brute force attacks.

[2017-06-30 06:04] vikasrohit commented on #927
@fnisen @vic-topcoder Yes, I missed to use the toggle password input box here. Would fix that. However, right now it has the checkbox instead of a button to show the password. If we do that change, it would affect the community site as well as it is a common directive/component.

[2017-06-30 06:19] vikasrohit commented on #926
@vic-topcoder I guess we should have a link to Back to Login page to allow users to go back if remember the password. It happens many times with me when I recalled the password when landed on reset password page. 😬

[2017-06-30 06:57] vikasrohit opened #934 "Restyle "Reset Password" to match new styles"
This is the page which is loaded when user clicks on reset password link in his/her email.

cc: @fnisen @vic-topcoder

[2017-06-30 06:59] vikasrohit commented on #934
I have tried to style it similar to forgot password page.  Here are screen shots after restyle. Please let me know if anything else needed.

<img width="1280" alt="screen shot 2017-06-30 at 12 26 13 pm" src="https://user-images.githubusercontent.com/2417632/27724382-5ae00d8c-5d8f-11e7-9362-bca4ba044e8c.png">

<img width="1280" alt="screen shot 2017-06-30 at 12 24 34 pm" src="https://user-images.gi

[2017-06-30 10:22] vikasrohit commented on #924
Its 13px @fnisen :)

<img width="1280" alt="screen shot 2017-06-30 at 3 50 43 pm" src="https://user-images.githubusercontent.com/2417632/27731745-f4a69e74-5dab-11e7-9ecb-5a6aeea6356f.png">

line height is 30px instead of 20px, I guess.

Anyway assigning to Didi for more accurate inspection.

[2017-06-30 10:24] vikasrohit commented on #923
@fnisen It would affect community login as well. https://github.com/appirio-tech/connect-app/issues/927#issuecomment-312183201

[2017-06-30 10:46] vikasrohit commented on #919
@fnisen took liberty to update other forms as well in connect flows in accounts app.

[2017-06-30 15:44] #919 closed

[2017-06-30 15:46] fnisen commented on #923
@vikasrohit no need for extra logic. Let's just change it to show the button in both places.

[2017-06-30 15:48] fnisen commented on #927
Let's do it--one common button component. https://github.com/appirio-tech/connect-app/issues/923#issuecomment-312302962

[2017-06-30 15:49] fnisen commented on #924
All right, either way. Either the size of the entry field or the typeface is incorrect. Proportions look wrong to me.

[2017-06-30 16:02] fnisen commented on #934
@vikasrohit yes, I don't want to create extra steps for the user. Can you please keep the login redirection and just show a confirmation system message? I think that's what we had previously, at least on the member side. In fact, I tried to test this, but the Reset Password flow was not working for me: https://www.screencast.com/t/n46cZGGuy. It would seem like I was stuck on the reset screen, afte

[2017-06-30 16:15] fnisen commented on #926
@vikasrohit

1. I thought about adding username reset a while back, when we originally worked on this feature. It's not a good idea because your username is public, so anyone can reset your password. Let's stick to only email address.
2. Please just use the same copy as the member side. The two features can be identical, except for styling.
3. Right now the Login link is still in the right-hand co

[2017-06-30 16:22] fnisen commented on #929
@vikasrohit I researched this when we originally implemented Login a few years ago. This is just going to create a bad user experience. To prevent a brute force attack we need API limits. Also, our usernames are already public, and we have a member search, so anyone can use that to harvest user names if they were malicious. I'm strongly in favor of the member-side experience... unless someone can

[2017-06-30 16:25] fnisen commented on #931
That page is behind Login still. Can you please make it public?

[2017-06-30 16:35] fnisen commented on #932
@vikasrohit these links are not working for me currently. Not sure if the page is down or it's some other issue. Also, there are only 8 options currently:

1. Wireframes
2. Visual design (merging two into one; can make this the concepts one and deprecate prod option)
3. Front-end prototype (renaming prototype)
4. Software development (renaming generic dev)
5. Website
6. Infographic (new)
7. App
8.

[2017-06-30 16:44] fnisen commented on #933
Maybe we should just 404 in this case? If marketing is doing the setup, they should test the links anyway.

[2017-06-30 16:46] fnisen commented on #918
Fair point. Let's put this on hold unless we know we need SSO right now.

[2017-06-30 16:47] fnisen commented on #928
@vikasrohit yes, agree that this is not a release blocker

[2017-06-30 19:47] sirakovaDimitrina commented on #924
@fnisen, @vikasrohit The last version of the registration form which i sent to @vic-topcoder is according to specification.
![registration](https://user-images.githubusercontent.com/10530059/27751671-0c857f1c-5de6-11e7-8182-3e58bf7689b2.PNG)

[2017-06-30 19:53] sirakovaDimitrina commented on #924
@fnisen, @vikasrohit The specification which i have from @vic-topcoder, We have  four different  size of the input and button controls.
xs: height: 20px; font-size:12px;
sm: height: 30px; font-size:13px;
md: height: 40px; font-size:15px;
lg: height: 50px; font-size:20px;

[2017-06-30 23:24] fnisen commented on #924
@sirakovaDimitrina thank you for investigating. Let me check on this with Vic once he's back in a few days.

[2017-07-01 04:34] vikasrohit commented on #918
So you mean, we should remove the SSO registration and login buttons from connect flows? They are there on production right now, so we might have update stakeholders, if we want to remove.

[2017-07-01 04:41] vikasrohit commented on #923
👍

[2017-07-01 04:47] vikasrohit commented on #934
We can not show the confirmation message along with redirection because by the time browser would try to render that message, it already has been redirected to login. It does not informs the user that if password reset was successful or not.

That issue on production, seems to be because some HTTPs and HTTP conflict. It is working fine on local with new flow at least. Still, I would check.

[2017-07-01 04:56] vikasrohit commented on #932
@fnisen Yes, that is the reason I guess.

We have only one extra option from the list and that is for visual design production. And this is not available in product select screen. This exists just because I have to keep backward compatibility with old projects of this type. I can disable this option on deep links as well.

[2017-07-03 06:39] vikasrohit commented on #927
Done.

[2017-07-03 06:39] vikasrohit commented on #923
Done

[2017-07-03 06:50] vikasrohit commented on #926
Done. Please let me know we still need any further copy changes. I have copied copy from member side for the header only, the message is retained same as it contains link to support in addition.

[2017-07-03 07:13] vikasrohit commented on #934
@fnisen Got idea of redirecting user with message. However, I don't think it is working in member side though right now. It might be there before we moved the login/reg to separate app. We can add that behaviour again to member side as well. However, it would be nice if we can do that after this release, you can create an issue for that in accounts-app.

Need more help from @vic-topcoder to style

[2017-07-03 07:22] vikasrohit commented on #924
@fnisen Your eyes are not deluding you. They were correct, font was MerriWeahterSans coming from css conflicts of apprio-styles and tc-ui. Fixed now. :)

[2017-07-03 08:40] vikasrohit commented on #915
Done. Please let me know if any other change is required.
FYI, for now I haven't updated the button style for Login button, it is right now a secondary button which is gray. Logically, it seems fine to me as it is actually a secondary CTA, I guess. If it is needed to be converted to white one, that is default button theme of tc-ui, please let me know.

[2017-07-03 10:26] vikasrohit commented on #933
Done. Redirecting user now to 404.

[2017-07-03 10:56] vikasrohit commented on #932
Deployed changes again. And removed disabled visual_design_concepts, instead of visual_design_prod, from deep links as well. For visual design concepts now it would take you to 404. And visual design is essentially the old visual design production template.

[2017-07-03 12:23] vikasrohit commented on #929
Done.

[2017-07-03 12:23] vikasrohit commented on #928
Done.

[2017-07-03 16:17] fnisen commented on #918
Right, that's what I'm trying to figure out from Tony right now. I'm not sure that anyone is currently using SSO. Let me get back to you on this one.

[2017-07-03 16:22] fnisen commented on #927
@vikasrohit when I click on the button, it changes size--"Show" and "Hide" are different dimensions. Can you please make them both 50x30px?

[2017-07-03 16:26] fnisen commented on #923
Hmm... not seeing it:

<img width="1183" alt="screen shot 2017-07-03 at 9 25 07 am" src="https://user-images.githubusercontent.com/12552247/27801195-8c5829d2-5fd1-11e7-8ea6-46570cc1f635.png">

[2017-07-03 16:31] fnisen commented on #924
Perfect, thank you! 🎉

[2017-07-03 16:31] #924 closed

[2017-07-03 16:34] fnisen commented on #915
Thanks @vikasrohit. Let me run this by @vic-topcoder when he's back.

[2017-07-03 16:47] fnisen commented on #932
@vikasrohit yup, it's working for me. Why did you decide to keep design_prod and deprecated design_concepts? Just curious regarding your thinking.

[2017-07-03 16:59] fnisen commented on #929
Vikas, it's working, but the styling is inconsistent (see below). Can you please make them both according to style?

<img width="537" alt="screen shot 2017-07-03 at 9 58 06 am" src="https://user-images.githubusercontent.com/12552247/27802024-283f2a68-5fd6-11e7-9154-b1b7c0956c0d.png">

<img width="539" alt="screen shot 2017-07-03 at 9 57 56 am" src="https://user-images.githubusercontent.com/1255224

[2017-07-03 17:03] fnisen commented on #928
Closing this. Outstanding issues being tracked here https://github.com/appirio-tech/connect-app/issues/929

[2017-07-03 17:03] #928 closed

[2017-07-03 17:14] fnisen commented on #931
@vikasrohit getting a 404 on this one. Can you please wire it to the "Start a new project" button from the Connect front page?

[2017-07-03 17:38] #933 closed

[2017-07-03 17:39] #930 closed

[2017-07-04 02:56] vikasrohit commented on #929
Oh, missed that. Seems typo. Done now.

[2017-07-04 02:57] vikasrohit commented on #932
Because it says `prod` and its description (`Create development-ready designs`) is more generic than concepts one (`Visualize and test your app requirements and ideas`) 😬

[2017-07-04 05:57] vikasrohit commented on #927
Done. Have to make it 75x30 instead, because text is not fitting in with current padding values.

[2017-07-04 06:02] vikasrohit commented on #931
Button is wired from the connect home page, however, it was bug which was not allowing the URL to open. Should be fixed now.

[2017-07-04 06:30] vikasrohit commented on #923
@fnisen Button is there but style is off. Show button is looking like it is the primary CTA. This is happening because of CSS conflicts, I have to nest the new styles in a wrapper class to apply them on specific pages only. Hence those styles are not visible in member side, but the DOM changes are there which is causing troubles. For now, I have copy pasted the same styles again to member side on

[2017-07-04 07:46] vikasrohit commented on #923
One more issue found, Member Login page is using different component for password field than what we are using in registration pages. I guess, that was done to have separate validations on the password field. On registration pages we usually have the validations on password field to follow certain guidelines, however, on login page we don't.  So, if I use the same component there, it would apply t

[2017-07-04 09:21] vikasrohit commented on #922
Done.

[2017-07-04 10:23] gondzo opened #936 "Build fails on windows"
### Expected behavior
npm start should build the app properly

### Actual behavior
the build fails with error

`ERROR in ./~/redux-segment/dist/index.js
Module build failed: Error: Couldn't find preset "stage-0" relative to directory "C:\\topcoder\\connect\\connect-app\\node_modules\\redux-segment"
    at C:\topcoder\connect\connect-app\node_modules\babel-core\lib\transformation\file\options\optio

[2017-07-05 16:51] sirakovaDimitrina commented on #917
@fnisen  This task is ready.

[2017-07-05 18:10] fnisen commented on #917
Thanks @sirakovaDimitrina. @vic-topcoder can you please check and then push to Dev?

[2017-07-05 18:15] #922 closed

[2017-07-05 18:32] fnisen commented on #923
@vikasrohit the way it's working now looks good.

I don't quite understand the validation question. On Login, the password validation happens only on the server, correct? On Registration, there is validation on the front end, which is shown in the password tip component. So, I think the validation has to be differently implemented, if I'm understanding your question correctly.

Yes, please do clea

[2017-07-05 18:44] fnisen opened #937 ""Register" button not working"
Start a project, complete spec, then end up on the registration form. Complete form (no validation errors), but "Register" button is inactive:

<img width="1280" alt="screen shot 2017-07-05 at 11 37 27 am" src="https://user-images.githubusercontent.com/12552247/27879574-06f10dc0-6177-11e7-8fed-3445c0ac7d42.png">

[2017-07-05 18:44] #931 closed

[2017-07-05 18:46] fnisen commented on #927
@vic-topcoder is this OK with you?

[2017-07-05 18:50] #929 closed

[2017-07-05 21:00] fnisen commented on #932
Makes sense, thanks.

One more thing: can you please change the links to this format: http://connect.topcoder-dev.com/new-project/wireframes (drop the "/product")? No need to change the names for now. I checked with Greg, and he said we'll look at SEO later. So, we might need to do a mapping later, but it's not critical for now.

[2017-07-05 21:08] vic-topcoder opened #938 "Drop down menus with inconsistent style"
We have to style all the drop downs uniformly, and no links should be underlined.

![screen shot 3](https://user-images.githubusercontent.com/8484061/27885026-5b43e67c-618b-11e7-9eeb-d1d9e8f9deb5.png)
![screen shot 4](https://user-images.githubusercontent.com/8484061/27885027-5b58e478-618b-11e7-8113-51cc186bcc40.png)

FYI @gondzo

[2017-07-05 21:09] vic-topcoder commented on #938
We have to hunt all the CSS and use the uniform styles from tc-ui (if they exist).

[2017-07-05 21:29] fnisen commented on #927
Fine with Vic.

[2017-07-05 21:43] vic-topcoder opened #939 "Post deletion warning - fix design/UX"
When deleting a post we should use an alert (modal) instead of the current implementation. I'll attach the design in a bit.

Do not do this:
![screen shot 10](https://user-images.githubusercontent.com/8484061/27886277-3a6f0670-6190-11e7-8e4f-19d41fc2a324.png)

[2017-07-05 21:46] vic-topcoder opened #940 "Cancel button while editing post"
When in edit mode for post/comments, we need to change the "cancel" button to be a ghost link. This button style actually is missing from the UI Kit right now, I'll add it, so @sirakovaDimitrina can update the tc-ui, and @gondzo can modify the code to use the appropriate styling.

Current implementation:
![screen shot 10](https://user-images.githubusercontent.com/8484061/27886400-b3ced69e-6190-11e

[2017-07-05 21:47] vic-topcoder opened #941 "ghost button for UI Kit"
Build the missing ghost button and pass to Didi to implement

[2017-07-05 21:51] vic-topcoder opened #942 "Editing/posting with wrong background"
When editing or composing a new post, there's a wired gray background, on hover and selected state. Those should be removed.

Current:
![screen shot 12](https://user-images.githubusercontent.com/8484061/27886484-2034cc44-6191-11e7-985e-9576c716d156.png)
![screen shot 4](https://user-images.githubusercontent.com/8484061/27886517-3fbcf5e6-6191-11e7-8cc0-b0d209d6adcb.png)

Expected:
![screen shot 7](

[2017-07-05 21:53] vic-topcoder opened #943 "User shouldn't be able to focus another textarea while editing a post"
While editing a post users can click to compose a new post. This shouldn't be happening. Display an alert that there are unsaved changes if the user wants to compose a new post.

![screen shot 6](https://user-images.githubusercontent.com/8484061/27886593-a1a8e418-6191-11e7-9f06-053e48c74fb5.png)

[2017-07-05 21:58] vic-topcoder opened #944 "Unsaved edit alert copy is not correct (typo)"
There's a typo in the system alert when navigating away from unsaved post edit.
![screen shot 5](https://user-images.githubusercontent.com/8484061/27886629-d155b4fc-6191-11e7-8998-42e10e995340.png)

We should use better language:

"You haven't saved your edits. Leaving this page would discard all edits. Are you sure you want to leave?"

@fnisen please advise on the copy, please.

[2017-07-05 22:12] #927 closed

[2017-07-05 22:15] fnisen commented on #934
@vikasrohit is it possible to login the user (redirect to connect app) and then throw a toaster message in connect app confirming the change?

I don't like the extra login; worst case we can just not show the confirmation. (Confirmed this with @vic-topcoder).

[2017-07-05 22:17] fnisen commented on #925
@vikasrohit styling for email tips is different from the rest of the tips components. Can you please set uniform style for all of them? Feel free to direct to Didi if needed.

[2017-07-05 22:21] fnisen commented on #926
@vikasrohit working fine, but I'm noticing some validation issues. Will file a separate bug for that.

[2017-07-05 22:21] #926 closed

[2017-07-05 22:23] fnisen commented on #915
@vikasrohit can you please convert to white one (per Vic):

![pasted image at 2017_07_05 02_27 pm](https://user-images.githubusercontent.com/12552247/27887476-cd202b02-6195-11e7-979b-1a17046df09e.png)

[2017-07-05 22:26] fnisen commented on #920
Validation is not quite working. I can select "United States," then go back to edit it (remove "es" for example), and I don't get a validation error.

[2017-07-05 22:47] gondzo commented on #943
Does this cover only editing a post and posting a new one, and editing multiple comments and/or posts is ok, or the goal is to have exactly one active post editor at a time ?

[2017-07-06 00:23] vic-topcoder opened #945 "Edit icon is inserted as a CSS background, should be .SVG"
When adding icons to the front-end, please make sure we add them as .SVG. This allows us to modify states and properties via CSS. There's a plugin that wraps .SVG into a React container - @vikasrohit please advise on which is the correct way to add the external .SVG as react components.

![screen shot 3](https://user-images.githubusercontent.com/8484061/27890290-9ad74426-61a6-11e7-8068-747b9f3a647

[2017-07-06 00:24] vic-topcoder opened #946 "[$20] Connect post link - fix color"
After the latest update to the connect post date (permalink to posts), the link is way too visible. Please make it gray again (as per design).
![screen shot 14](https://user-images.githubusercontent.com/8484061/27890320-d1253722-61a6-11e7-84a1-7435d325d6e9.png)

[2017-07-06 00:34] vic-topcoder opened #947 "Formatting bar is adding icons as background"
We should use .SVG icons as part of the markup, not as CSS background. Please add the appropriate icons as .SVG wrapped in React so we can modify the states/properties accordingly.

The states of the icons are also wrong, please fix accordingly.

Current:
![screen shot 13](https://user-images.githubusercontent.com/8484061/27890397-3ded4976-61a7-11e7-8e99-b6890a2793c9.png)
![screen shot 3](https://

[2017-07-06 00:40] vic-topcoder opened #948 "wrong hover and misaligned components - user management"
On connect dashboard, user management section's buttons is misaligned and the hover states are not properly implemented.

Current:
![bug](https://user-images.githubusercontent.com/8484061/27890619-b3485642-61a8-11e7-899e-0dba1d4c800a.png)

Expected (per design):
![screen shot 3](https://user-images.githubusercontent.com/8484061/27890641-d4f9e03a-61a8-11e7-8280-b6e5079f3159.png)
On hover the icons

[2017-07-06 00:57] vic-topcoder commented on #943
It should be for all instances of a post composer. Right now it is kind of changing status unless you enter some value. We should fix that. Anytime we are in editing mode and there's value change, we should ask to save before being able to focus away (and leave the form in enabled state).
![screen shot 3](https://user-images.githubusercontent.com/8484061/27890983-723d6e6e-61ab-11e7-98e7-62d7427920

[2017-07-06 04:50] vikasrohit commented on #923
@fnisen Okay. My concern about validation was that if put front end validation of password (we don't show tooltip though) on login page as well. If we do that, the Login button won't be enabled until user enters a password which satisfied our password requirements. Anyway, that is not the case now, it simply enables the Login button as soon as user enter any text in the password field.

For clean

[2017-07-06 04:58] vikasrohit commented on #934
We can try that, but I would suggest we should do it after the release.

[2017-07-06 05:00] vikasrohit commented on #925
Okay. @sirakovaDimitrina can you please take care of it?

[2017-07-06 08:53] vikasrohit commented on #920
Fixed.

[2017-07-06 09:04] vikasrohit commented on #915
Done.

[2017-07-06 09:04] vikasrohit commented on #932
Done.

[2017-07-06 09:18] vikasrohit commented on #937
@fnisen it seems this is because of country field issue https://github.com/appirio-tech/connect-app/issues/920#issuecomment-313244086
Right now we are validating only country field on the front end. Register button is enabled as soon as a valid country is selected by user. For rest of the fields we show error when it comes back from the server. Do you want me to update the form such that it valida

[2017-07-06 17:51] #932 closed

[2017-07-06 17:52] #915 closed

[2017-07-06 17:54] fnisen opened #949 "Button copy is not vertically centered"
Copy is out of alignment on this button (on connect.topcoder-dev.com):

<img width="347" alt="screen shot 2017-07-06 at 10 52 26 am" src="https://user-images.githubusercontent.com/12552247/27925357-4bebe11c-6239-11e7-832d-013337a36e35.png">

[2017-07-06 17:56] fnisen commented on #920
Not working for me still. Validation goes away if I click out of the country field and into some other field.

[2017-07-06 17:57] fnisen commented on #925
@vic-topcoder FYI

[2017-07-06 18:17] fnisen opened #950 "Validate Connect Registration form on front end"
Per discussion here: https://github.com/appirio-tech/connect-app/issues/937#issuecomment-313342915

"Register" button should become active only if all validations have passed, similar to how the member registration form works. Validations should appear next to the form field, not at the top, as currently.

[2017-07-06 18:18] fnisen commented on #937
@vikasrohit yes, let's do that. Opening a new issue to track: https://github.com/appirio-tech/connect-app/issues/950

[2017-07-06 18:18] #937 closed

[2017-07-06 23:45] gondzo commented on #947
@vic-topcoder can we have the svg icons for all the tools in the formatting bar? They aren't exported at > https://drive.google.com/drive/folders/0B1LbmKnex41femttcVlPbVZobjA

[2017-07-07 00:38] vic-topcoder commented on #941
All link buttons now can be styled with `tc-btn-link`

[2017-07-07 00:38] #941 closed

[2017-07-07 00:55] vic-topcoder commented on #949
We're working on the buttons. There is some issue with browser rendering and Sketch file spec; we'll have it covered

[2017-07-07 04:04] vic-topcoder commented on #947
Here are the icons. Let me know if they work.
[icons-formatting.zip](https://github.com/appirio-tech/connect-app/files/1129951/icons-formatting.zip)

[2017-07-07 04:17] vic-topcoder commented on #939
@gondzo - please follow the design for post or comment deletion.

![delete modal warning](https://user-images.githubusercontent.com/8484061/27943000-6843992a-6290-11e7-9cca-ffbeb933f578.png)
[delete modal.zip](https://github.com/appirio-tech/connect-app/files/1129966/delete.modal.zip)

[2017-07-07 05:59] vikasrohit commented on #923
Can we close this @fnisen ?

[2017-07-07 13:11] vikasrohit commented on #950
@fnisen Tried to put all validations on front end and mimic the behaviour from the member side experience. But it is bit tricky to handle all validations especially because we have few custom async validators as well for validating username and emails. And country field validation adds more to the complexity. Still, it seems now more or less like member side experience. Please check and let me kno

[2017-07-07 13:12] vikasrohit commented on #920
@fnisen After changes for #950, it does not seem to happen for me. Please let me know if still happens to you. It might be an edge case which I am not able to reproduce.

[2017-07-07 13:14] vikasrohit commented on #921
Can we close this @fnisen ?

[2017-07-07 17:05] fnisen commented on #949
Thanks @vic-topcoder!

[2017-07-07 17:53] fnisen commented on #855
@sirakovaDimitrina @gondzo is this in Dev? I'm still seeing the problem:
<img width="775" alt="screen shot 2017-07-07 at 10 52 25 am" src="https://user-images.githubusercontent.com/12552247/27970128-7f2bdf54-6302-11e7-9139-20d77fcfc2c2.png">

[2017-07-07 21:10] sirakovaDimitrina commented on #949
@fnisen  and @vic-topcoder  The task is ready.

[2017-07-07 23:44] fnisen commented on #920
Yes, it's working for me now! Thank you.

[2017-07-07 23:44] #920 closed

[2017-07-07 23:48] fnisen commented on #949
@vic-topcoder can you push to Dev please?

[2017-07-08 19:10] fnisen commented on #950
@vikasrohit thank you, it's looking better. I found a few issues:

1. Validation styling is incorrect (too large; doesn't match with country validation)
<img width="427" alt="screen shot 2017-07-08 at 12 02 53 pm" src="https://user-images.githubusercontent.com/12552247/27988385-6a365e7a-63d5-11e7-85ad-4167f63d1ea8.png">

2. Getting "that username is not allowed" validation, but it's unclear why. W

[2017-07-08 19:18] fnisen commented on #923
@vikasrohit I agree--we shouldn't have front-end validation of password for Login (only for Registration). It's just that the server validation response for Login should be specific, saying whether the issue is username or password. The way it's working now is fine.

OK, it's up to you now to track tech debt issues and tell me when you need capacity to fix them. : )

Closing.

[2017-07-08 19:18] #923 closed

[2017-07-08 19:20] fnisen opened #951 "Password Reset: show toaster message after logging in user after reset"
Following up on the discussion here: https://github.com/appirio-tech/connect-app/issues/934#issuecomment-313241985

[2017-07-08 19:21] fnisen commented on #934
OK, sounds good. Created issue to track that: https://github.com/appirio-tech/connect-app/issues/951. For now, can you please just automatically redirect and login the user, without the toaster message?

[2017-07-08 19:28] fnisen opened #952 "PIN verification: do not mask PIN on entry screen"
There is no need for pin masking because it's one-time use:
![image](https://user-images.githubusercontent.com/12552247/27988550-d5a9da9e-63d8-11e7-990f-71774b0e04b8.png)

[2017-07-08 19:31] fnisen opened #953 "PIN entry: incorrect validation style"
@sirakovaDimitrina can you please fix format to be similar to what we use for Login and Reg please:

<img width="587" alt="screen shot 2017-07-06 at 11 37 11 am" src="https://user-images.githubusercontent.com/12552247/27988563-35824474-63d9-11e7-9cad-873c3589aa36.png">

Please let me know if this is not strictly a styling issue.

[2017-07-08 19:34] fnisen opened #954 "PIN entry: overall styling and styling of confirmation message"
Seems like we're mixing typefaces and the confirmation message does not match UI kit. @sirakovaDimitrina can you please clean this up?

<img width="607" alt="screen shot 2017-07-06 at 11 28 46 am" src="https://user-images.githubusercontent.com/12552247/27988578-b092e588-63d9-11e7-822e-16701eb52826.png">

@vic-topcoder FYI

[2017-07-08 19:36] fnisen commented on #936
@gondzo are you still seeing this? Assigning to Matt.

[2017-07-08 20:13] fnisen opened #955 "UX for change project type"
@vic-topcoder the "Change Project type" option resets your form (all previous information is wiped out). Should we:

1. Confirm with the user that they indeed want to restart (I think this is OK)
or
2. Keep info that carries over from form to form (e.g., Name, Ref code)

<img width="1196" alt="screen shot 2017-07-08 at 1 10 41 pm" src="https://user-images.githubusercontent.com/12552247/27988743-e6

[2017-07-08 20:21] fnisen opened #956 "Register button doesn't work after creating new project"
Vikas, I'm getting a weird bug. If I start a new project from scratch (logged out), fill out the spec, then fill out the registration form, the "Register" button does not work. Here is a video: https://screencast.com/t/IHmBsxl7i.

Can you please fix this one before any others b/c without I can't test the flow end-to-end?

[2017-07-08 20:23] fnisen opened #957 "New project creation: improve UX from filling out spec to registering"
Vic, creating this one as a reminder for us to discuss. Right now the UX is really choppy b/c our implementation was fairly loose.

[2017-07-10 03:52] vikasrohit commented on #954
I might be wrong, but I didn't find the success confirmation styling in prototype at that time. 😬

[2017-07-10 03:57] vikasrohit commented on #952
Done.

[2017-07-10 05:36] vikasrohit opened #958 "Auto login user after successful password reset"
Following up on the discussion here: https://github.com/appirio-tech/connect-app/issues/934#issuecomment-313241985

Separate ticket #951  to show toaster message on redirected URL after auto login.

[2017-07-10 05:39] vikasrohit commented on #958
fyi @fnisen @vic-topcoder Created separate issue for this because #934 was more concerned about the style of the form and this feature might go under shadow of styling issue.

[2017-07-10 05:39] vikasrohit commented on #934
@fnisen Created separate issue for this because this issue is more concerned about the style of the form and this feature might go under shadow of styling issue.
I guess we can safely close this now.

[2017-07-10 05:41] vikasrohit commented on #956
Done. It was happening only when country was selected using mouse operation, if user was selecting country using keyboard, it was working fine. Fixed now. Let me know if you still face the issue.

[2017-07-10 05:56] vikasrohit commented on #950
@fnisen

1. fixed the style for errors in username and email validations.
2. The actual reason of not allowing the username is returned via API in text format which might not be good for UX perspective e.g. if you enter `system` it returns `The entered username is not allowed. Please choose another one`, if you enter `admin` it returns `Please choose another username, not starting with admin.` and

[2017-07-10 06:00] vikasrohit commented on #913
@sirakovaDimitrina Can you please take care of it when you get time? I guess this is not critical for the release, though, hence moving it out of project and milestone.
fyi, @fnisen @vic-topcoder

[2017-07-10 06:04] vikasrohit opened #959 "Copy issue for incomplete project confirmation page"
@vic-topcoder @fnisen please note that we don't have the username available to show in this screen
<img width="953" alt="screen shot 2017-07-10 at 11 32 30 am" src="https://user-images.githubusercontent.com/2417632/28004650-b049bb0c-6563-11e7-8cb6-391d4356a509.png">

Should we use a generic title instead?

[2017-07-10 06:13] vikasrohit opened #960 "Update copy for new connect register flow in logged out project creation flow"
@fnisen As we discussed some time ago over call, we need to update the copy(`Your project was saved successfully`) shown on the top of the registration and pin verification pages while following the logged out project creation flow.
<img width="707" alt="screen shot 2017-07-10 at 11 40 52 am" src="https://user-images.githubusercontent.com/2417632/28004820-abbd0872-6564-11e7-9a6d-b5c1c7f92610.png">

[2017-07-10 17:45] vic-topcoder commented on #913
Do we need mobile for Connect, or this is for all instances of registration? I.e. - will be used on Topcoder as well? We haven't designed the mobile view or register as I assumed we're going to keep the current styles on Topcoder. What's the case - are we going to have 1 style for all apps, or 2 different style instances for Topcoder and Connect?

[2017-07-10 17:48] #890 closed

[2017-07-10 18:01] fnisen commented on #954
@vikasrohit yeah, not your fault. Don't think we had it at the time.

[2017-07-10 18:11] #952 closed

[2017-07-10 18:17] fnisen commented on #934
Agree, closing.

[2017-07-10 18:17] #934 closed

[2017-07-10 18:22] fnisen opened #961 "Reset Password malfunctioning in prod (on member side)"
Not related to the current release, but discovered it when testing. Reset Password flow was not working for me: https://www.screencast.com/t/n46cZGGuy. It would seem like I was stuck on the reset screen, after creating a new password... until I reloaded the Dashboard and would be logged in. Can you please look into that, as well?

[2017-07-10 18:31] sirakovaDimitrina commented on #953
@gondzo, @fnisen The styling of error messages you can find in the register-code-error.html. The style used for this class is "error-block"

[2017-07-10 18:50] vic-topcoder commented on #955
We should keep the common information the same: name, ref. code, text areas.

[2017-07-10 18:51] vic-topcoder commented on #959
Yes, let's use "Welcome back!" @fnisen - feel free to comment

[2017-07-10 19:04] fnisen commented on #956
Working now, thanks.

[2017-07-10 19:04] #956 closed

[2017-07-10 19:08] fnisen opened #963 "Delay in Coder message on Dashboard after creating new project/new user"
Vikas, I've tested the flow end-to-end and am now seeing this issue: right after I verify the PIN, I'm logged in and the project loads on the Dashboard, which is good. However, the Dashboard is blank at that point, and I have to reload the page in order to get the first Coder message. Can you please have the message appear right away? Otherwise, the user may be confused whether anything has happen

[2017-07-10 19:12] sirakovaDimitrina commented on #855
@fnisen This issue is fixed in the deep-links branch

[2017-07-10 19:15] fnisen commented on #950
@vikasrohit

On 2. understand about the reason codes--that's fine. My question was actually why those two usernames in particular "sky_" and "be" were not being allowed. We have members with those usernames: https://www.topcoder.com/members/be/, https://www.topcoder.com/members/sky_/.

On 3. can you please literally enter "filipp@be.co."? You should see it.

[2017-07-10 19:19] fnisen commented on #913
@vic-topcoder I think this is just mobile for Connect registration, which is your new design. Member/Topcoder reg is staying the same and already works on mobile. We are going to have 2 different styles (Topcoder and Connect) for now, at least for this release.

[2017-07-10 19:19] fnisen commented on #913
Adding it back to project, but not a blocker for this release (P2)

[2017-07-10 19:20] fnisen commented on #953
Thanks @sirakovaDimitrina. @vikasrohit - back to you.

[2017-07-10 19:25] fnisen commented on #959
Agree + a few minor changes:

"Welcome back!"
"You started a project with us recently." (Change to "started" and add ".")
"Do you want to continue where you left off or create a new project?" (remove ",")

Vikas, assigning back to you for the changes.

[2017-07-10 19:27] fnisen opened #965 "Clear local storage after new project successfully submitted"
As a user, after I submit a project successfully, if I go back to "connect.topcoder-dev.com" and start a new project, I'm still asked whether I want to continue where I left off.

[2017-07-10 19:30] fnisen commented on #855
Thanks @sirakovaDimitrina. This one is actually part of messaging update, not the deep-links work. @gondzo can you please move it to test01?

[2017-07-10 19:35] sirakovaDimitrina commented on #940
@fnisen, @gondzo we have style for the link buttons in the new UI kit. You can use this class ".tc-btn-link"

[2017-07-10 19:38] gondzo commented on #855
Done, should be deployed soon.
@fnisen

[2017-07-10 20:05] gondzo commented on #940
It's done already in the test01 branch

On 10 Jul 2017 9:35 p.m., "Didi" <notifications@github.com> wrote:

[2017-07-10 21:02] sirakovaDimitrina commented on #954
@fnisen  Please see the attached file with the styling for confirmation message, which you can find in the "register-verify-new-email-confirmation.html". I also made  some changes for styling buttons.
[register-1.zip](https://github.com/appirio-tech/connect-app/files/1137063/register-1.zip)

[2017-07-10 21:10] sirakovaDimitrina commented on #954
@fnisen, @vic-topcoder Please see the attached file
[register.zip](https://github.com/appirio-tech/connect-app/files/1137086/register.zip)

[2017-07-10 21:33] fnisen commented on #958
@vikasrohit is this ready for testing?

[2017-07-10 21:38] fnisen commented on #940
<img width="216" alt="screen shot 2017-07-10 at 2 37 23 pm" src="https://user-images.githubusercontent.com/12552247/28041209-61baefe6-657d-11e7-8f6b-2d879aaa1b67.png">

@gondzo the two typefaces are inconsistent size. Please make them according to style.

[2017-07-10 21:42] fnisen commented on #938
@gondzo it's not correct. Compare
<img width="129" alt="screen shot 2017-07-10 at 2 39 51 pm" src="https://user-images.githubusercontent.com/12552247/28041290-b37ea426-657d-11e7-8f48-ce16d487d9c8.png">
vs.
<img width="232" alt="screen shot 2017-07-10 at 2 39 39 pm" src="https://user-images.githubusercontent.com/12552247/28041314-cb5087ea-657d-11e7-9b25-749f5d4d3d0c.png">

The carrot is protruding

[2017-07-10 21:46] fnisen commented on #942
Background color is gone/correct, but now the composer window is misaligned. Should be left-aligned.

<img width="741" alt="screen shot 2017-07-10 at 2 44 27 pm" src="https://user-images.githubusercontent.com/12552247/28041449-4f7143b6-657e-11e7-9c54-7b6fdad06ffb.png">

[2017-07-10 21:47] fnisen commented on #902
Working well, closing.

[2017-07-10 21:47] #902 closed

[2017-07-10 21:49] fnisen commented on #870
Now working.

[2017-07-10 21:49] #870 closed

[2017-07-10 21:53] fnisen opened #967 "Edit post icon is misaligned"
<img width="733" alt="screen shot 2017-07-10 at 2 52 57 pm" src="https://user-images.githubusercontent.com/12552247/28041779-875995a2-657f-11e7-820b-4eeaca77b5e3.png">

Please raise the icon, as per design.

[2017-07-10 21:54] fnisen commented on #875
@rsial2 this functionality (both editing and deleting) will be released soon (likely this week). Thanks to @gondzo for the hard work on implementation.

[2017-07-10 21:54] #875 closed

[2017-07-10 21:59] fnisen commented on #944
@gondzo can you please change to: "You haven't posted your message. If you leave this page, your message will not be saved. Are you sure you want to leave?"

[2017-07-10 22:07] fnisen commented on #939
<img width="609" alt="screen shot 2017-07-10 at 3 06 12 pm" src="https://user-images.githubusercontent.com/12552247/28042252-5bd42ada-6581-11e7-8ad4-d8fd4ff79546.png">
@gondzo  please follow Vic's design exactly: centring tagline, rounded corners, button distance, etc.

[2017-07-11 00:10] gondzo commented on #936
yes, this is still happening. No clue about the cause yet. @fnisen

[2017-07-11 03:53] vikasrohit commented on #958
Yes

[2017-07-11 04:13] vikasrohit commented on #963
@fnisen It must be timing issue as the posting of coder bot messages is async process. I guess we have the same issue with normal project creation flow as well.
Still, I will check if there is any possibility to handle it.

[2017-07-11 04:17] vikasrohit commented on #950
For 2, **sky_** is not allowed because now _username must end with a letter or a number_ and for **be** the reason is _Length of Handle in character should be between 3 and 15_

[2017-07-11 06:05] vikasrohit commented on #954
Applied success styles to pin verification and reset password pages both.

[2017-07-11 06:13] vikasrohit commented on #965
@fnisen its working for me https://screencast.com/t/n7vDg0AKMg.  It might be some edge case, if you can identify that, it would be helpful for fixing.

[2017-07-11 06:34] vikasrohit commented on #953
Should be done now. Please let me know if it is still having issues.

[2017-07-11 06:36] vikasrohit commented on #959
Done.

[2017-07-11 06:50] vikasrohit commented on #950
For 3, @fnisen this is happening because of HTML 5 validations. Our regex validation for valid email is different than standard HTML 5 email validation. For now, we can use same error message for both our custom email validation and HTML 5 email validations. That would make sure we don't have empty error block.
Should we allow this email (filipp@be.co.) pattern?

[2017-07-11 17:37] vic-topcoder commented on #917
The button styles are dependent on the `tc-ui` repo, so the latest changes should be on dev now.

[2017-07-11 17:37] #917 closed

[2017-07-11 17:44] vic-topcoder commented on #954
Ah, that's my bad - it's a new variable for text only - I extended the palette but didn't reflect it as a variable in tc-ui. I am planing to do it today.

[2017-07-11 17:45] #949 closed

[2017-07-11 17:47] gondzo commented on #944
Done.

[2017-07-11 17:48] gondzo commented on #967
Should be good now.
![image](https://user-images.githubusercontent.com/3051646/28082146-eeb43eee-6671-11e7-9296-6ab486409d0c.png)

[2017-07-11 17:49] gondzo commented on #940
Updated font size for both.
![image](https://user-images.githubusercontent.com/3051646/28082211-1c2dd5b0-6672-11e7-9450-c4e2196e94f1.png)

[2017-07-11 17:50] gondzo commented on #942
Removed padding on the text area
![image](https://user-images.githubusercontent.com/3051646/28082252-40fd9b6e-6672-11e7-9c49-2ba9c761d102.png)

[2017-07-11 17:51] gondzo commented on #938
Updated the styles for dropdown
![image](https://user-images.githubusercontent.com/3051646/28082284-58c295ec-6672-11e7-8839-c0dba14e1fb4.png)

[2017-07-11 18:10] gondzo commented on #939
Done
![image](https://user-images.githubusercontent.com/3051646/28083184-d8d7306a-6674-11e7-9138-05ba0bcf8553.png)

[2017-07-11 23:40] vic-topcoder commented on #954
@vikasrohit please replace `$tc-green` with `$tc-green-110` — this is the new variable for green text only (optically corrected to match elements using `$tc-green`. → https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss#L75

[2017-07-12 04:22] vikasrohit commented on #954
Thanks @vic-topcoder! Done.

[2017-07-12 19:38] vic-topcoder commented on #940
@gondzo - did you use the proper classes for both buttons, or you edited the CSS? We have a new "link" button class for all sizes, just both buttons should be using the `.tc-btn-sm`.

[2017-07-12 19:46] vic-topcoder commented on #925
@fnisen can you add a screenshot what's the difference/missing component? Which instance of the registration page that is? thanks

[2017-07-12 19:47] fnisen commented on #942
Looks good.

[2017-07-12 19:47] #942 closed

[2017-07-12 19:52] #967 closed

[2017-07-12 19:59] fnisen commented on #939
Thank you.

[2017-07-12 19:59] #939 closed

[2017-07-12 20:00] fnisen opened #970 "Restyle "Deleting..." message when deleting posts"
Current implementation:
<img width="586" alt="screen shot 2017-07-12 at 12 59 05 pm" src="https://user-images.githubusercontent.com/12552247/28137397-fee18df4-6701-11e7-94d2-27d2035a205c.png">

[2017-07-12 20:08] sirakovaDimitrina commented on #925
@vikasrohit , @fnisen The tooltip is added and I removed the below text in the register.html
[register.zip](https://github.com/appirio-tech/connect-app/files/1143175/register.zip)

[2017-07-12 20:10] #855 closed

[2017-07-12 20:16] #905 closed

[2017-07-12 21:02] sirakovaDimitrina commented on #948
@vic-topcoder The task is ready. Vic please check it.

[2017-07-12 21:03] #906 closed

[2017-07-12 22:11] #944 closed

[2017-07-12 22:16] fnisen commented on #938
<img width="207" alt="screen shot 2017-07-12 at 12 48 27 pm" src="https://user-images.githubusercontent.com/12552247/28142174-8a80412c-6714-11e7-9ffb-9ed5556a6dfb.png">

@gondzo two notes please:
- You don't need the separator for this one; the separator is only used to divide logical groups "Help" and "Logout" are not related actions, so they use the separator, whereas Edit and Delete Comment are

[2017-07-12 22:21] fnisen opened #971 "Provide design for indicating that a user post has been edited (updated) after initial posting"
As suggested by Greg and Joey on the call today

[2017-07-12 23:04] fnisen commented on #925
Thanks @sirakovaDimitrina. Can you please push it to Dev?

[2017-07-12 23:05] fnisen commented on #954
@sirakovaDimitrina please don't close. I'll do that once I've tested.

[2017-07-12 23:07] fnisen commented on #936
@mtwomey can you please take look?

[2017-07-13 00:31] vic-topcoder commented on #940
The CSS should make the button size the same. The correct combo is `.tc-btn .tc-btn-link .tc-btn-sm`
![screen shot 1](https://user-images.githubusercontent.com/8484061/28145550-f481b3f4-6727-11e7-9006-38074f4b9602.png)

[2017-07-13 00:37] vic-topcoder commented on #971
Can we reuse the new post indicator that we currently have? That's the goal of the side marker - to drive the user's attention towards what's latest. When a post is edited, the new timestamp would push it to the top because we're sorting according to latest post (event) date (including edits), I assume.

Do you want to have a special "edited" badge as well? Have to research what other services use

[2017-07-13 00:51] vic-topcoder commented on #971
So, the addition of ` Posted 2h ago • Edited` on the timestamp plus the new post indicator should do the trick.

Example from Facebook:
![screen shot 3](https://user-images.githubusercontent.com/8484061/28145911-c1622082-672a-11e7-8075-495287f3bf3f.png)

I wonder how this would trigger a notification though.

[2017-07-13 00:55] vic-topcoder commented on #971
Connect version. Please note that the timestamp would represent the latest edit

![screen shot 4](https://user-images.githubusercontent.com/8484061/28145967-2d5d129c-672b-11e7-93b2-0cb13148bab8.png)

[2017-07-13 08:27] vic-topcoder commented on #970
I'd do a complete element cover and display a message centered:
![screen shot 1](https://user-images.githubusercontent.com/8484061/28157051-18aa72ec-676a-11e7-8b2d-e703d037bd09.png)
[deleting post.zip](https://github.com/appirio-tech/connect-app/files/1144488/deleting.post.zip)

[2017-07-13 08:28] vic-topcoder commented on #970
@gondzo - feel free to ask @sirakovaDimitrina for CSS styling help.

[2017-07-13 17:23] vic-topcoder commented on #948
Did add a small interaction as per design. Now it looks good to me.

[2017-07-24 10:56] vikasrohit opened #973 "SSO support in new logged out project creation flow"
As of now, if it is an SSO user we were showing the same PIN verification screen. Ideally, SSO user should be directly logged in after successful registration as they are already verified users.

[2017-07-24 10:57] vikasrohit commented on #973
fyi @fnisen @vic-topcoder @ajefts

[2017-07-24 16:58] sdgun opened #974 "[Layout] 'Create Project' button is not center aligned when hovering in the New Project page in iE11"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com
- Click 'Start a Project'
- Hover over a item and observe the button 'Create Project'

Actual Result(s)
-----------------------------------------------------------------
- 'Create Project' button is not center aligned when hovering in the New Project page in iE11

E

[2017-07-24 17:00] sdgun opened #975 "[Layout] Text description overlaps each other in the New Project page in iE11"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com
- Click 'Start a Project'
- Check the text description of the each and every item

Actual Result(s)
-----------------------------------------------------------------
- Text description overlaps each other in the New Project page in iE11

Expected Result(s)
---------

[2017-07-24 17:09] sdgun opened #976 "'Username or email' field is not highlighted when user enter without inputting anything"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login'

- Don't enter anything and click login

- Observe the validation and error message "That password is incorrect. Please check that you entered the right one."

Actual Result(s)
-----------------------------------------------------------------
- Won'

[2017-07-24 17:10] sdgun opened #977 "Loading animation is played below the text controllers"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login'

- Don't enter anything and click login

- Observe the loading animation

Actual Result(s)
-----------------------------------------------------------------
- Loading animation is played below the text controllers

Expected Result(s)
---------------

[2017-07-24 17:12] sdgun commented on #977
![4](https://user-images.githubusercontent.com/4592712/28535265-5dae7324-70c1-11e7-928f-594fc5769da8.jpg)

[2017-07-24 17:19] sdgun opened #978 "2 char username is not allowed; validation displayed"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register for free

- Enter all the required data

- Enter Qa as username

Actual Result(s)
-----------------------------------------------------------------
- 2 char username is not allowed; validation displayed

Expected Result(s)
---------------

[2017-07-24 17:19] macs054 opened #979 "Project Name field causes layout issue"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select any project type
In the Project Name field type as many characters as you can

### Expected behavior
Project Name field should have a character limit or at least a proper adjusting to maintain proper layout.

### Actual behavior
Filling the Project Name field with many characters causes layout is

[2017-07-24 17:25] sdgun opened #980 "Can't create a new account "Unexpected end of JSON input" error displayed"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register for free

- Enter all the required data

- Click Register

Actual Result(s)
-----------------------------------------------------------------
- Can't create a new account "Unexpected end of JSON input" error displayed

Expected Result(s)

[2017-07-24 17:28] macs054 opened #981 "Whitespace is accepted as input"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select any project type
Select a device target and fill out all the text field with spaces
Click Continue

### Expected behavior
Space as input should not be allowed.

### Actual behavior
No validation for input and it accepts whitespaces.

#### Environment
- OS: Windows 10 Pro
- Browser: Chrome 59.0.30

[2017-07-24 17:32] macs054 opened #982 "Connect logo in login screen is unclickable"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project.
Select any project type.
Fill all the details and press Continue.
You will be directed in a login or create account screen.
Look for the Connect logo and click on it.

### Expected behavior
Clicking on the Connect logo should direct to the main Connect page.

### Actual behavior
Connect logo is unclick

[2017-07-24 17:35] sdgun opened #983 "[Layout] topcoder logo is missing in 'Select your project type' section"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start Project'

- Check the top left corner for the logo

Actual Result(s)
-----------------------------------------------------------------
- topcoder logo is missing in 'Select your project type' section

Expected Result(s)
------------------------------

[2017-07-24 17:37] sdgun opened #984 "[Layout] 'PROJECT ESTIMATE' section text alignment issue; they are not right aligned"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Check the 'PROJECT ESTIMATE' section; 0 days and $ 0

Actual Result(s)
-----------------------------------------------------------------
- 'PROJECT ESTIMATE' section text alignment issue; they are

[2017-07-24 17:40] Kvm87 opened #985 "FEEDBACK click gives Error"
### Expected behavior
On Clicking feedback, error shouldn't be there.

### Actual behavior
On clicking feedback button, error message is being displayed.

### Steps to reproduce the problem
- Go to url https://connect.topcoder-dev.com/
- Click 'Feedback' button present at right side of window,

### Screenshot/screencast
![image](https://user-images.githubusercontent.com/20595047/28536385-11d4e3da-

[2017-07-24 17:42] fnisen opened #986 "Extend token timing for file download from spec page"
For the issue below (reported by Andy and Joey), the problem can be fixed by refreshing the page, so the problem seems to be a timing out of the security token. Can you please extend the timing on the token? (if that's indeed the issue)

We have a PDF loaded up to this specification on connect:
https://connect.topcoder.com/projects/3610/specification

When I attempt to download it from Connect (in

[2017-07-24 17:42] sdgun opened #987 "'Project Outline' section overlap with the footer"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start a Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Enter long description for 'Description' field

- Scroll down the page and check the 'Project Outline' section and footer (right side)

[2017-07-24 17:43] sdgun opened #988 "Long 'Project Name' will goes beyond the screen area in 'PROJECT OUTLINE' section"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start a Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Enter long name for 'Project Name' field (eg: Lorem ipsum dolor sit amet, eos id tamquam complectitur definitiones, accusam )

- Check t

[2017-07-24 17:44] sdgun opened #989 "[Layout] 'Change Project type' button text is half hidden"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start a Project'

- Click on 'Create Project' button from one of the items in the Dashboard ("Select your project type")

- Check the top left corner 'Change Project type' button text

Actual Result(s)
------------------------------------------------------

[2017-07-24 17:47] fnisen commented on #973
@ajefts @vikasrohit for now, can we turn off SSO in Connect and funnel all SSO users to the member flow? That way we can refine the flow in one place first and avoid creating a dependency on the new project creation launch?

[2017-07-24 17:50] Kvm87 opened #990 "[$20] Inconsistency in highlighting of 'Start A Project' button."
### Expected behavior
The highlighting pattern of 'Start a Project' should be consistent, whenever mouse pointer hovers over it.
### Actual behavior
In chrome highlighting pattern is correct,However, text in button changes color in Firefox while button stays inactive in IE.

### Steps to reproduce the problem
- Go to URL https://connect.topcoder-dev.com/
- Bring mouse pointer over a 'Start a Proje

[2017-07-24 17:54] Kvm87 opened #991 "Blank Screen on clicking 'Start a Project' button."
### Expected behavior
On clicking 'Start a Project' button, the next content screen should open.

### Actual behavior
Blank screen opens.

### Steps to reproduce the problem
- Go to url https://connect.topcoder-dev.com/.
- Click on 'Start a Project' button.

### Screenshot/screencast
Attach or link a resource.
![image](https://user-images.githubusercontent.com/20595047/28537049-3379aafa-70c7-11e7-

[2017-07-24 17:56] sdgun opened #992 "Page position retained when user goes into the next page"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start a Project'

- Scroll the page (important)

- Click on 'Create Project' button from 'Software Development' in the Dashboard ("Select your project type")

- Check the page position

Actual Result(s)
-----------------------------------------------------

[2017-07-24 17:56] macs054 opened #993 "Restored session applies to all project pages"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select any project type
Fill in any details
Close the tab. You will be asked to leave or stay, press leave.
Go to https://connect.topcoder-dev.com again
Click Start a project
Click Continue Where I left off
Click Change project type
Select any of the project type, notice it's content

### Expected behav

[2017-07-24 18:05] Kvm87 opened #994 "Excessive gap between hint water mark text and line for input field."
### Expected behavior
There should be a proper placement of hint text 'Project Name'/'REF Code' and a bottom line to input text text.Proper placement can be seen in Chrome.

### Actual behavior
Improper placement of Hint text for concerned input field with excessive gap in between.

### Steps to reproduce the problem
- Go to url https://connect.topcoder-dev.com
- Start a Project
- Chose 'Wireframe

[2017-07-24 18:08] sdgun commented on #984
Check the alignment in Google Chrome;
![7 1-chrome](https://user-images.githubusercontent.com/4592712/28537611-249d11b4-70c9-11e7-94f3-ba0c7724b093.jpg)

[2017-07-24 18:16] Kvm87 opened #995 "Description goes out of the border limits of 'Project Outline' Panel"
### Expected behavior
Any description entered on left side form, should stay within 'Project Outline' panel border after getting reflected there.

### Actual behavior
Description goes straight leaving the panel border.

### Steps to reproduce the problem
- Go to URL https://connect.topcoder-dev.com .
- Go to 'Start a Project'.
- Go for 'Wireframes'.
- Scroll down and insert very long text in descr

[2017-07-24 18:16] fnisen commented on #958
@vikasrohit after I enter an email address and hit "Reset," the app hangs for a while and then I get this:

<img width="590" alt="screen shot 2017-07-24 at 11 15 29 am" src="https://user-images.githubusercontent.com/12552247/28537981-7cd38f92-7061-11e7-927f-4345b7e94d57.png">

Console shows a 504

[2017-07-24 18:23] Kvm87 opened #996 "'Project Name' goes out of the border limits of 'Project Outline' Panel"
### Expected behavior
Any project name entered on left side form, should stay within 'Project Outline' panel border after getting reflected there..

### Actual behavior
Project name leaves the 'Project Panel' border.

### Steps to reproduce the problem
- Go to URL https://connect.topcoder-dev.com ..
- Go to 'Start a Project'..
- Go for 'Wireframes'.
- Scroll down and insert very long text in 'Proj

[2017-07-24 18:28] fnisen commented on #958
Talked to Samir about the issue above. Looks like the problem is with identity services.

[2017-07-24 18:34] macs054 opened #997 "No textbox resize function in IE and Edge"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com using IE or Edge
Click Start a project
Select any project type
See the text areas and try to resize by dragging the bottom right corner

### Expected behavior
The text area should have a resize function.

### Actual behavior
The text area does not have a resize function.

### Screenshot/screencast
IE
![ie drag](https://user-

[2017-07-24 18:37] sdgun opened #998 "'PROJECT OUTLINE' section won't stop with the left-side section when scrolling"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Login using pshah_manager/topcoder123

- Click 'Start a Project'

- Click on 'Create Project' button from 'Software Development' in the Dashboard ("Select your project type")

- Fill all the required data

- Scroll the page up and see the 'PROJECT OUTLINE' sectio

[2017-07-24 18:40] Kvm87 opened #999 "Text field overlaps processing status wheel."
### Expected behavior
Clear cut complete, processing status wheel should be seen while registration is processed.

### Actual behavior
Input text field for 'Nickname' overlaps the processing status wheel, while registration is processed..

### Steps to reproduce the problem
- Go to url https://accounts.topcoder-dev.com.
- click on 'Start a Project'.
- Go for Wireframes'.
- Complete the form and pr

[2017-07-24 18:42] sdgun commented on #977
![6](https://user-images.githubusercontent.com/4592712/28539032-e444fc26-70cd-11e7-8ab6-04f14ff822fa.jpg)

[2017-07-24 18:42] macs054 opened #1000 "Chrome and Firefox does not have a clear text button"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com using Chrome and Firefox
Click Start a project
Select any project type
In the Project Name field type anything
Do the same steps above using Edge or IE and notice the Project Name textbox then compare it to FF and Chrome

### Expected behavior
Project Name field in Chrome and FF should also have a clear text button like in E

[2017-07-24 18:47] fnisen commented on #950
@vikasrohit for 2, are those two restrictions in our identity service? I haven't heard of them before. If so, we should say that explicitly in our rules. Right now we are saying we allow usernames with 2 characters and don't have a restriction of username not ending with an underscore. Can you please tell me all of the username rules we have currently from the API, and I will modify the copy?

For

[2017-07-24 18:52] #959 closed

[2017-07-24 18:54] vic-topcoder commented on #970
Is this implemented?

[2017-07-24 18:54] macs054 opened #1001 "Connect logo has white background in restore session screen"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select any project type
Fill in on any details
Close the page
Go to https://connect.topcoder-dev.com
Click Start a project
On the restore session screen notice the Connect logo

### Expected behavior
The logo should be consistent, there should be not white background and should also be colored.

### Act

[2017-07-24 18:55] Kvm87 opened #1002 "Redundant presence of 'Project Estimates' on Project utline panel for Other Design project"
### Expected behavior
Any field which doesn't have any significance or usage in that particular page, should be removed.For 'Other Design' project option, there are no option to reflect any value for 'Project Estimate'.Hence, 'Project Estimate' should be kept hidden for 'Other Design Project'

### Actual behavior
Unnecessary presence of 'Project Estimate' details in Project Outline panel for 'Othe

[2017-07-24 18:56] fnisen opened #1003 "Fix logo styling and position on "Welcome back" page"
Logo on this page https://www.screencast.com/t/Rfbde2M0 is incorrect.

All logged-out pages should follow the format for the logo shown here: https://drive.google.com/drive/u/0/folders/0B1LbmKnex41fM0l0aWJ1WVpGZWs

Logo asset is here: https://drive.google.com/drive/u/0/folders/0B1LbmKnex41fN1VNdTctVnVORG8

[2017-07-24 19:00] Kvm87 opened #1004 "Redundant presence of 'Project Estimates' on Project outline panel for Front-End Prototype."
### Expected behavior
Any field which doesn't have any significance or usage in that particular page, should be removed.For 'Other Design' project option, there are no option to reflect any value for 'Project Estimate'.Hence, 'Project Estimate' should be kept hidden for 'Front-End Prototype Project'.

### Actual behavior
Unnecessary presence of 'Project Estimate' details in Project Outline panel f

[2017-07-24 19:05] m-prabhu opened #1005 "Long Project Name Fills entire Navigation Layout hiding Dashboard,Specification, Messages and Account Tabs"
### Expected behavior
Project Specification Page Top Navigation banner should show Project Name along with Navigation components like Dashboard, Specification,Message and Account Tabs.

### Actual behavior
Long Project Name occupies entire navigation banner and make other Navigation elements ( Dashboard, Specification,Message and Account Tabs) invisible

### Steps to reproduce the problem
- goto h

[2017-07-24 19:06] fnisen opened #1006 "Evaluate elastic beanstalk set up for messaging service"
Messaging service went down over the weekend. Were able to fix the problem by manually replacing a failed instance, which seemed to have been down for a few days.

[2017-07-24 19:08] Kvm87 opened #1007 "Redundant presence of 'Project Estimates' on Project outline panel for Website project"
### Expected behavior
Any field which doesn't have any significance or usage in that particular page, should be removed.For 'Other Design' project option, there are no option to reflect any value for 'Project Estimate'.Hence, 'Project Estimate' should be kept hidden for 'Website Project'.

### Actual behavior
Unnecessary presence of 'Project Estimate' details in Project Outline panel for 'Website

[2017-07-24 19:11] Kvm87 opened #1008 "Redundant presence of 'Project Estimates' on Project outline panel for App project"
### Expected behavior
Any field which doesn't have any significance or usage in that particular page, should be removed.For 'Other Design' project option, there are no option to reflect any value for 'Project Estimate'.Hence, 'Project Estimate' should be kept hidden for 'App Project'.

### Actual behavior
Unnecessary presence of 'Project Estimate' details in Project Outline panel for 'App Projects

[2017-07-24 19:12] sdgun opened #1009 "Password field is not clearing out when user enter invalid password"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login'

- Scroll the page (important)

- Enter username as 'pshah_manager' and password as '4234234324'

- Click Login

Actual Result(s)
-----------------------------------------------------------------
- Password field is not clearing out when user enter

[2017-07-24 19:13] m-prabhu opened #1010 "Long Project Name spill over Project Outline space"
### Expected behavior
Long Project Name spill over the Project Outline space

### Actual behavior
Project name should not spill over the Project Outline space

### Steps to reproduce the problem
-goto https://connect.topcoder-dev.com
-click start a project
-select 'software development'
-provide a long project name like 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' and

[2017-07-24 19:15] m-prabhu opened #1011 "Project Description spill over the Project Outline space"
### Expected behavior
Project Description spill over the Project Outline space

### Actual behavior
Project Description should not spill over the Project Outline space

### Steps to reproduce the problem
-goto https://connect.topcoder-dev.com
-click start a project
-select 'software development'
-provide a long project description like 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2017-07-24 19:16] Kvm87 opened #1012 "Redundant presence of 'Project Estimates' on Project outline panel for Software Development project"
### Expected behavior
Any field which doesn't have any significance or usage in that particular page, should be removed.For 'Other Design' project option, there are no option to reflect any value for 'Project Estimate'.Hence, 'Project Estimate' should be kept hidden for 'software Development Project'.

### Actual behavior
Unnecessary presence of 'Project Estimate' details in Project Outline panel

[2017-07-24 19:40] m-prabhu opened #1013 "Login Form accepts empty userid"
### Expected behavior
When user id is empty, login form should check for its availability and request the user to provide it

### Actual behavior
Login Form accepts the empty user id and don't inform the user about it. It does authentication check and report as 'password is incorrect'

### Steps to reproduce the problem
- goto https://connect.topcoder-dev.com
- click login
- leave the user field a

[2017-07-24 19:50] Kvm87 opened #1014 "'Create New Account' form allows special symbols & numbers in name"
### Expected behavior
First and Last name should only allow alphabets.Symbols should definitely be taken care of through validation.

### Actual behavior
First & Last name fiels allowing 'Symbols' and 'Numbers' to enter.

### Steps to reproduce the problem
- Go to url https://accounts.topcoder-dev.com.
- Start a project.
- Select any project.
- Fill the details and click 'Continue'.
- Try entering

[2017-07-24 19:55] sdgun opened #1015 "Country drop down is too big to handle"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register new account

- Type 's' and it will expand the country drop down

Actual Result(s)
-----------------------------------------------------------------
- Country drop down is expanding too big

Expected Result(s)
----------------------------

[2017-07-25 02:11] macs054 opened #1016 "Continue button is disabled after restoring session even when the required fields and selection are already filled up."
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select any project type
Fill up all the details until Continue button is enabled.
Close the page
Go to https://connect.topcoder-dev.com or restore closed page
Click Start a project
Click 'Continue where I left off' to restore session
Notice the Continue button

### Expected behavior
The Continue button

[2017-07-25 02:38] macs054 opened #1017 "Country field filters all result containing with the typed letter instead of country that only begins with the typed letter."
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select any project type
Fill up all the details until Continue button is enabled.
Click Continue
In the registration page type 'y' in the Country field and wait for the dropdown results
Observe the result

### Expected behavior
The result should only filter countries beginning with the typed letter (in

[2017-07-25 02:46] macs054 opened #1018 "Clear button does not close the dropdown result in IE11"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select any project type
Fill up all the details until Continue button is enabled.
Click Continue
In the registration page type 'y' in the Country field and wait for the dropdown results
Click the 'x' button to clear textbox

### Expected behavior
The dropdown result should close after clearing the text

[2017-07-25 02:58] karthikbecse opened #1019 "[IE11]Create project button not aligned properly"
### Expected behavior
Should show Create project button center

### Actual behavior
Create project button  shown on left

### Steps to reproduce the problem
- Goto https://connect.topcoder-dev.com/
- Click Start project
-  hover project types
- observe

### Screenshot/screencast

--![ffh](https://user-images.githubusercontent.com/3225433/28553772-434e9a66-7113-11e7-9933-5ebcf1fab7e5.png)

#### Env

[2017-07-25 03:08] karthikbecse opened #1020 "[Ie11][UI]Change project type button not aligned properly"
### Expected behavior
Should show the Change project type button properly

### Actual behavior
Change project type button not aligned properly

### Steps to reproduce the problem
- Goto https://connect.topcoder-dev.com/
- Click Start project
-  Click Infographic project
- Observe the page
-
### Screenshot/screencast
Attach or link a resource.

--![se](https://user-images.githubusercontent.com/3225

[2017-07-25 03:34] sdgun opened #1021 "When user get back to the 'Select your project type' section again icons are loading"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start New Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Click 'Change Project Type' and observe the icons when loading

Actual Result(s)
-----------------------------------------------------

[2017-07-25 03:53] Kvm87 opened #1022 "'Continue' button activates even if only 'Project Name' is entered - Other Design Project"
### Expected behavior
Likewise in all project types, 'continue' button should get activated only on furnishing details like 'Project Name','Description','Goal','User' etc.

### Actual behavior
For 'Other Design Project', 'Continue' button gets activated even if only 'Project Name' is filled.

### Steps to reproduce the problem
- Go to url https://connect.topcoder-dev.com
- Start a Project.
- Chose

[2017-07-25 03:58] sdgun commented on #1015
![2017-07-25_9-28-30](https://user-images.githubusercontent.com/4592712/28555170-ab15a5c4-711b-11e7-915e-d6ca20eb8d64.jpg)

[2017-07-25 04:04] sdgun opened #1023 "Must have some space in between the error and controllers"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start New Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Fill all the required fields and click 'Continue'

- When the registration page comes fill all the required details without first and

[2017-07-25 04:06] sdgun opened #1024 "Can register a new user without first and last names"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start New Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Fill all the required fields and click 'Continue'

- When the registration page comes fill all the required details without first and

[2017-07-25 04:18] sdgun opened #1025 "JS/HTML codes are allowed in the text fields"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start New Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Fill ("><script>alert("cookie: "+document.cookie)</script>) to all the required fields and click 'Continue'

- Login as Manager and cr

[2017-07-25 04:27] sdgun opened #1026 "[$20] 'Select your project type' page background color difference in IE11"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start New Project'

- Check the page background > gray; also can't see the circle in the icon

Actual Result(s)
-----------------------------------------------------------------
- 'Select your project type' page background color difference in IE11. It is g

[2017-07-25 04:34] Kvm87 opened #1027 "Project doesn't get created in mentioned case"
### Expected behavior
The newly created project should be listed on dashboard, if all project details are filled in logged-off mode but at final stage of 'Continue' with signing in as a 'Already existing user'.

### Actual behavior
The project is neither created nor listed..

### Steps to reproduce the problem
- Go to url https://connect.topcoder-dev.com/.
- Start a Project.
- Chose wireframe proj

[2017-07-25 04:41] sdgun opened #1028 "'Continue where I left off' button still displayed even user created project with those data"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start New Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Enter all the required data and click Continue

- Click Login and login as Manager

- It will redirect the page to the Project page

-

[2017-07-25 05:06] sdgun opened #1029 "'PROJECT ESTIMATE' Description padding is too large compared to the actual design"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start New Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Check the description below the 'PROJECT ESTIMATE' ("In 24 hours our project managers will contact you for more information and a deta

[2017-07-25 05:08] sdgun commented on #1028
https://www.screencast.com/t/eTngh66TX

[2017-07-25 05:14] sdgun commented on #980
https://www.screencast.com/t/yUJo4e421
https://www.screencast.com/t/Bj59m2WPDz

[2017-07-25 08:35] vikasrohit commented on #999
@gondzo Its duplicate of #977. I am not closing right now, you can do that when consolidating.

[2017-07-25 08:43] vikasrohit commented on #1028
Known issue #965

[2017-07-25 10:24] sdgun opened #1030 "'Login' and 'Register for Free' button hovering color issue"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login'

- Hover over 'Register for Free' button

- Click 'Register for Free' button

- Hover over 'Login' button

Actual Result(s)
-----------------------------------------------------------------
- When user hover over 'Login' or 'Register for Free' butto

[2017-07-25 10:30] sdgun commented on #1030
https://www.screencast.com/t/gU7GSldJd5k

[2017-07-25 13:37] vikasrohit commented on #986
@fnisen this one needs to be fixed in tc-project-service, I think. I have committed some changes for this, but now sure how to test it. I have made the expiry time configurable via elastic beanstalk env variables. It seems the default value is 15 minutes in the project service and maximum allowed value is 24 hrs.

[2017-07-25 14:48] vikasrohit commented on #950
@fnisen we need @ykohata -san's help here to get all rules that are in place for for username validations.

Our email validation regex, on front end, is quite simple which simply enforces <any_string>@<any_string>.<any_string>, so it would allow "filipp@ge.co." as well. I am not sure what exactly the regex is used for HTML 5 email field, what I found is `[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.

[2017-07-25 18:39] fnisen opened #1031 "Change Connect front page to marketing page"
@vic-topcoder what do you think about this as UX:
- Redirect connect.topcoder.com to https://www.topcoder.com/about-topcoder/connect/
- Rewire all buttons on that marketing page to deep link to the project menu, so you start a project right away in Connect

[2017-07-25 19:23] macs054 opened #1032 "Email tips texts are wrapped in IE"
### Steps to reproduce the problem
Go to https://accounts.topcoder-dev.com/connect/registration using IE
Click on the 'Your email' field
Take note of the text popup 'Email Tips' and observe its layout
Repeat the above steps using FF, Chrome or Edge
Compare the 'Email Tips' between IE and the 3 other browsers

### Expected behavior
The Email Tips texts should not move next line until the end of the

[2017-07-25 19:39] macs054 opened #1033 "Other Design's Project Name field error message is empty"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select Other Design
Type anything in the Project Name field then delete all of it
Notice the error message

### Expected behavior
There should be text in the error popup.

### Actual behavior
The error popup is empty.

### Screenshot/screencast
![empty](https://user-images.githubusercontent.com/1199534/

[2017-07-25 19:46] macs054 opened #1034 "Project Name input placeholder is not centered in FF"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com using Firefox
Click Start a project
Select any project type
Notice the placeholder text of the Project Name field
Repeat the steps above using Chrome, IE, or Edge and compare the Project Name placeholder

### Expected behavior
Project Name input placeholder should be centered

### Actual behavior
Project Name input placehold

[2017-07-25 20:31] fnisen commented on #1003
Can you please edit the logo on all logged out pages, for example: http://connect.topcoder-dev.com/new-project, http://connect.topcoder-dev.com/new-project/visual_prototype

[2017-07-25 20:33] fnisen opened #1035 "URL does not change when selecting project from "New Project" page"
Start here: http://connect.topcoder-dev.com/new-project
Click on Wireframes; URL does not change. Same happens with other project types.

[2017-07-25 20:34] macs054 opened #1036 "Other Design page does not have error messages for all the required fields"
### Steps to reproduce the problem
Go to https://connect.topcoder-dev.com
Click Start a project
Select Other Design
Type anything on the any of the textboxes then delete all of it, do this step in other project types and notice the result.

### Expected behavior
There should be error messages when you delete all of your input just like in other pages.

### Actual behavior
There are no error messag

[2017-07-25 20:46] fnisen opened #1037 "Project spec information is not saved when changing project types"
Start here: http://connect.topcoder-dev.com/new-project/ while logged out
Select any project and fill out "Project Name" and "Ref code"; change project type by clicking the button in top right and selecting a new project type.

Current behavior: all previously entered info is wiped out.
Desired behavior: any common info to the two projects, such as "Name," "Notes," etc. should be carried over from

[2017-07-25 20:50] fnisen opened #1038 "Change project outline component to match design"
@vic-topcoder what was your original thinking for the "Project outline." This is how it looks in Dev:
![screen shot 2017-07-25 at 1 48 11 pm](https://user-images.githubusercontent.com/12552247/28593072-02f67d4e-7140-11e7-8056-5d17d14514d9.png)

However, in your design, you had:
![screen shot 2017-07-25 at 1 49 19 pm](https://user-images.githubusercontent.com/12552247/28593097-14def072-7140-11e7-9b

[2017-07-25 20:58] sdgun opened #1039 "Activation link sent to the email is not working"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register

- Enter valid data and register for an account

- Go to email and click on the activation link

Actual Result(s)
-----------------------------------------------------------------
- Activation link sent to the email is not working, it wil

[2017-07-25 21:04] sdgun opened #1040 "'Update email and send a new PIN' button activated for an invalid email address"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register

- Enter valid data and register for an account

- Click Edit from the next screen to change the email address

- Enter 'dil2@qa'

- Check the 'Update email and send a new PIN' button

Actual Result(s)
------------------------------------

[2017-07-25 21:21] macs054 opened #1041 "Email verification sent to email is a link instead of a PIN"
### Steps to reproduce the problem
Go to https://accounts.topcoder-dev.com/connect/registration
Fill all the details and click Register
You will be directed on a Verify Your Email page where you have to input a security pin
Check your email for the security pin

### Expected behavior
A security pin should be included in the email sent by topcoder after registration.

### Actual behavior
A an activ

[2017-07-25 21:22] fnisen commented on #955
Created issue for Vikas: https://github.com/appirio-tech/connect-app/issues/1037

[2017-07-25 21:22] #955 closed

[2017-07-25 21:47] fnisen commented on #960
@vikasrohit I reviewed copy for the entire project creation/reg flow (except for some details on the spec pages) and summarized all edits and updates here: https://docs.google.com/a/appirio.com/document/d/1tGdqKq8uKyRiz06v6vXdwsMi5tOmWrvYL4MxtXKnU44/edit?usp=sharing. Can you please review and make the changes? Let me know if you have questions.

[2017-07-25 21:49] macs054 opened #1042 "'Email or password is required' should be 'Email is required'"
### Steps to reproduce the problem
Go to https://accounts.topcoder-dev.com/connect/registration
Click Login
Click 'Reset your password here?'
In the Email field press space
Click Reset Password

### Expected behavior
Error message should be 'Email is required'

### Actual behavior
Error message is 'Email or password is required', it should just be 'Email is required'.
### Screenshot/screencast
![r

[2017-07-25 21:50] fnisen commented on #957
Have revised flow by making copy changes, as described here: https://docs.google.com/a/appirio.com/document/d/1tGdqKq8uKyRiz06v6vXdwsMi5tOmWrvYL4MxtXKnU44/edit?usp=sharing; being addressed in this ticket: https://github.com/appirio-tech/connect-app/issues/960

[2017-07-25 21:50] #957 closed

[2017-07-25 21:59] fnisen commented on #953
@vikasrohit styling is correct; two notes please:
1. Change the error copy:
![screen shot 2017-07-25 at 2 54 18 pm](https://user-images.githubusercontent.com/12552247/28595576-45c6343a-7149-11e7-9fdf-2fa511457551.png)

Change to: "That PIN is incorrect. Please check that you entered the one you received."

2. When the PIN is entered correctly, the status copy says that you're being logged in and r

[2017-07-25 22:00] #954 closed

[2017-07-25 22:17] fnisen commented on #986
@vikasrohit I'm confused here. Is the value in production currently 15 minutes? So are you keeping it the same or extending it?

[2017-07-25 22:18] fnisen commented on #950
OK, let me check with Kohata-san on the reg ex.

For the email validation, can you please just show our error message for both validations then?

[2017-07-25 22:22] macs054 opened #1043 "SSO login form is not centered in IE"
### Steps to reproduce the problem
Go to https://accounts.topcoder-dev.com/connect/registration on IE
Click Single Sign On
Take note of the positioning of the form
Repeat the steps above using Chrome, FF, or Edge
Compare the positioning of the SSO form

### Expected behavior
The login form should be centered.

### Actual behavior
The login form is not centered like in other browsers.

### Screensh

[2017-07-25 22:34] macs054 opened #1044 "Privacy Policy's default font color is blue in SSO login page on FF"
### Steps to reproduce the problem
Go to https://accounts.topcoder-dev.com/connect/registration on FF
Click Login
Click Single Sign On
Scroll down the page until you see the page footer with the Privacy Policy link
Take note of the Privacy Policy's font color when default and hovered.
Repeat the steps above in Chrome, IE, or Edge

### Expected behavior
The Privacy Policy font color should be gray

[2017-07-25 23:04] macs054 opened #1045 "SSO page font styling is different from other browsers"
### Steps to reproduce the problem
Go to https://accounts.topcoder-dev.com/connect/registration on IE
Click Single Sign On
Observe the styling of font in the whole page
Repeat the steps above using Chrome, Edge, or Firefox

### Expected behavior
Font styling should be the same with other browsers.

### Actual behavior
See screenshot for comparison
1. Has darker color
2. Font family is different
3.

[2017-07-26 03:15] sdgun opened #1046 "'Reset Password' text have single quotes in the title"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Reset your password here?

- Enter 'dil002@qa.team' > Reset Password

- Click the link of the email

- Check the opened page title > 'Reset Password'

Actual Result(s)
-----------------------------------------------------------------
- 'Reset Pass

[2017-07-26 03:21] sdgun commented on #975
![1 1](https://user-images.githubusercontent.com/4592712/28603085-a6d3eb82-71df-11e7-853e-be2182dcd892.jpg)

[2017-07-26 03:25] sdgun commented on #976
In here only password field is highlighted, so must highlight both because user didn't enter anything an the error message must be more meaningful so that user understand the scenario correctly. > "Username and password is Required!'

[2017-07-26 03:27] ykohata commented on #950
@fnisen @vikasrohit

The rules for handles are following:

** Topcoder Rules **
- length: 3 <= length <= 15
- a handle which contains a blank is not allowed.
- a handle which contains any char except for [a-zA-Z0-9] and -_.{}[] is not allowed.
- a handle consists of only -_.{}[] is not allowed.
- a handle which starts with "admin" is not allowed.
- a handle which contains invalid words is not allo

[2017-07-26 03:32] sdgun opened #1047 "Interim blank page with logo displayed before displaying login screen"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login'

- Observe

Actual Result(s)
-----------------------------------------------------------------
- Interim blank page with logo displayed before displaying login screen

Expected Result(s)
--------------------------------------------------------------

[2017-07-26 03:39] vikasrohit commented on #986
Sorry for confusion. Yes, right now it is same as what is on production i.e. 15 minutes. I am trying to reproduce the issue on dev with this value and if we can reproduce, I would immediately update the value in beanstalk env config and retest the use case.

[2017-07-26 03:42] vikasrohit commented on #950
@fnisen by both you meant, our front end and HTML 5 validations or our front end and backend validations? We have setup for handling our front end and backend validations. But I have disabled HTML 5 validations for email.

[2017-07-26 03:48] vikasrohit commented on #1035
@fnisen that is part of the same wizard and right now our wizard component does not alter URLs because we are just hiding/showing different wizard steps based on the state of the wizard. What exactly is the use case where changing the URL would help user? And if it is really critical, I can look into it because I may have to rewrite the wizard component to support URL updates as well.

[2017-07-26 05:33] meontechno opened #1048 "Asks for entering security PIN instead of asking "click on the activation link in your email" for email verification"
### Steps to reproduce the problem

- Open URL https://connect.topcoder-dev.com

- Click on **Start a project**

- Choose website option and click on **Create project**

- Fill in all the project details and click on **Continue**

- Fill in your name, country, nickname, email, password and click on **Register**

- Now a page appears asking for security PIN that is supposed to be sent to the regist

[2017-07-26 05:46] sdgun opened #1049 "'nickname' is displayed instead 'Username' in the registration page"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register for free

- Observe 'Pick a nickname'

Actual Result(s)
-----------------------------------------------------------------
- 'nickname' is displayed instead 'Username' in the registration page

Expected Result(s)
--------------------------

[2017-07-26 05:59] vikasrohit commented on #1037
@fnisen we have every field in project spec template so whenever user changes the project type, it swaps the template and should empty every thing. However, if field names are same across two templates, browser may retain the old values. I have noticed one [issue](https://github.com/appirio-tech/connect-app/issues/993) which in facts reports otherwise of this issue.

[2017-07-26 06:05] meontechno opened #1050 "Font mismatch in the homepage"
### Steps to reproduce the problem

- Open URL https://connect.topcoder-dev.com

### Expected behavior
The text **"Learn more about crowdsourcing"** below the **start a project** button in the homepage is inheriting the font-family **Serif** which does not match with the main font-family **Roboto**

### Actual behavior
Font family of the text **"Learn more about crowdsourcing"** below the **start

[2017-07-26 06:53] meontechno opened #1051 "Project setup page when revisited shows a disabled continue button"
### Steps to reproduce the problem

- Open URL https://connect.topcoder-dev.com
- Click on **Start a project**
- Choose website option and click on **Create project**
- Fill in all the project details and click on **Continue**
- Now leave the page and return later to the home page https://connect.topcoder-dev.com
- Click on **Start a project**
- Now  click on **Continue where I left off** button
-

[2017-07-26 06:54] vikasrohit commented on #958
As dev env is fixed now, it should be working now.

[2017-07-26 06:56] sdgun opened #1052 "'Uncaught SyntaxError: Invalid or unexpected token' displayed when user click on Login"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login'

Actual Result(s)
-----------------------------------------------------------------
- 'Uncaught SyntaxError: Invalid or unexpected token' displayed in the console log and when user click on Login it won't load any content instead it will display a b

[2017-07-26 06:59] sdgun opened #1053 "Can register a new user without 'Country' field"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register for free

- Fill all the required fields

- Clear the country selection from the (x)

- Click Register button and observe

Actual Result(s)
-----------------------------------------------------------------
- Can register a new user withou

[2017-07-26 07:00] sdgun commented on #1052
https://www.screencast.com/t/c8snEMt4ne

[2017-07-26 07:06] meontechno opened #1054 "Missing login form when clicked on log in button in the homepage"
### Steps to reproduce the problem

- Open URL https://connect.topcoder-dev.com

- Click on **Log in**

- Observe the page

### Expected behavior
Login form should appear when clicked on the **log in** button in the top right corner of the homepage.

### Actual behavior
when clicked on the login button, a page with content "privacy policy" is displayed instead of showing a login form

### Screensh

[2017-07-26 07:20] sdgun opened #1055 "Register page won't load when user tries to create a project without login"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start a Project'

- Click on 'Create Project' button from 'Wireframes' in the Dashboard ("Select your project type")

- Fill all the required data

- Click 'Continue'

Actual Result(s)
-----------------------------------------------------------------
- Reg

[2017-07-26 07:22] meontechno opened #1056 "Blank page shown after clicking continue in the project setup page"
### Steps to reproduce the problem
-Open URL https://connect.topcoder-dev.com
-Click on Start a project
-Choose website option and click on Create project
-Fill in all the project details and click on Continue

### Expected behavior
Registration page should appear after clicking on **continue** button in the project setup page.

### Actual behavior
A page with content "Privacy Policy" is shown.
ch

[2017-07-26 07:34] sdgun commented on #1055
https://www.screencast.com/t/aQxnvGFA

[2017-07-26 07:43] meontechno opened #1057 "Broken Image link in the hero section after clicking on "Learn more about crowdsourcing""
### Steps to reproduce the problem
- Open URL https://connect.topcoder-dev.com
- Click on "Learn more about crowdsourcing"
- Observe the image slider in the hero section

### Expected behavior
Some sort of image

### Actual behavior
broken image link is displayed
see the screenshots below

### Screenshot/screencast
![welcome2](https://user-images.githubusercontent.com/24816337/28609692-8e1aa9ae-71

[2017-07-26 07:57] vikasrohit commented on #953
Done. Changes are in branch https://github.com/appirio-tech/accounts-app/tree/feature/copy-change-pin-verification. We can merge this once the bug hunt is over.

[2017-07-26 08:16] sdgun opened #1058 "Some icons/arrangement are different from the provided prototype"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Start a Project'

- Compare the icons with https://projects.invisionapp.com/share/QJBRJ4ITF#/screens/234311826 (Website, app, Front-end Prototype,

1. Wireframes
2. Visual Design
3. Front-end prototype
4. Software development
5. Website
6. Infographic
7. A

[2017-07-26 12:47] sirakovaDimitrina commented on #1003
@fnisen  Of course,

[2017-07-26 13:32] sdgun commented on #1053
https://www.screencast.com/t/iVIocKw9QJh

[2017-07-26 13:41] sdgun opened #1059 "[$100] Error message is not displayed if user enters wrong PIN so many times"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register for Free

- Fill all the required data and click Confirm

- Once the PIN is requesting enter wrong PINs multiple times (10-20 times)

- Observe

Actual Result(s)
-----------------------------------------------------------------
- Error me

[2017-07-26 13:49] sdgun opened #1060 "Email address cleared from 'Verify you email' page even though user click cancel from the 'Update Email' page"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register for Free

- Fill all the required data and click Confirm

- Once the PIN is requested click 'Edit'

- Remove the email address

- Click 'Cancel'

- Observe email address field

Actual Result(s)
--------------------------------------------

[2017-07-26 13:50] sdgun commented on #1060
https://www.screencast.com/t/NImn9xB7gL

[2017-07-26 13:55] sdgun opened #1061 "If user enter the same email address as the update email; page navigation issue happens"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click 'Login' > Register for Free

- Fill all the required data and click Confirm

- Once the PIN is requested click 'Edit'

- Enter the same email address (dil88888@qa.team)

- Click 'Update email and send a new PIN'

- Observe it goes to security PIN page and r

[2017-07-26 15:35] sdgun commented on #1015
https://www.screencast.com/t/ynjEeiIBBuO

[2017-07-26 17:02] vic-topcoder commented on #1038
Actually - I didn't want too much details. The whole point of the outline was to carry over a small preview of what you're building - title and description of the project, plus estimate. The repetition of details like type, size and work requested are secondary and I wouldn't show them. Furthermore, transitioning towards a fluid project structure, those properties are not important for the custome

[2017-07-26 17:10] vic-topcoder commented on #1031
In terms of content that page provides more information on what you're going to experience on Connect. Makes sense to provide a well structured portal for Connect and try to convert people through content. Our current landing page was put simply out of necessity for a logged in state. In that case landing on `connect.topcoder.com` without being logged in should do something - either redirect to th

[2017-07-26 18:32] vic-topcoder commented on #1003
The page background isn't correct, seems like somebody did create .png from .svg assets

[2017-07-26 19:12] fnisen commented on #1031
Yeah, agree... just opened this so we can track it as something to address eventually.

[2017-07-26 20:44] fnisen commented on #958
Yes, it's working. Love the "Logging you in..." dialogue. Well done! 👍

[2017-07-26 20:44] #958 closed

[2017-07-26 20:55] fnisen commented on #993
@macs054 just to clarify, why is your user expectation that all the data should be cleared? For example, if you've entered a project name and reference code, wouldn't it be helpful for those to be copied over?

[2017-07-26 20:58] fnisen commented on #1037
Regarding that issue, it seems like if the info has been stored in local storage, it will stay there. But, if it's not already in local storage, when you switch project types, it won't be put there.

What's the logic for when we do or don't save to local storage?

[2017-07-26 21:07] fnisen commented on #950
@vikasrohit OK, that's fine. The error message is working correctly now for "filipp@be.co."

[2017-07-26 21:09] fnisen commented on #950
Thanks @ykohata!

Do we allow trailing special characters though? For example, "sky_" is not currently passing validation, even though it was allowed at some point in the past.

Also, what do you mean by "invalid words"?

[2017-07-26 21:17] fnisen commented on #986
OK, I see. Can't test right now b/c file upload is down, but asking Matt to take a look and then will also follow up with Joey to better diagnose this issue. This is not a P1 for the release by the way. It's a production issue. Thank you.

[2017-07-26 21:30] fnisen commented on #970
Don't think so. @gondzo?

[2017-07-26 22:20] gondzo commented on #970
Not done yet.
I'm thinking we can do it with a round of fixes for the post editor updates

[2017-07-26 22:33] fnisen commented on #970
Yup, that's fine.

[2017-07-27 01:11] macs054 commented on #993
@fnisen I think it should only just be saved to the specific project type that you worked on, that's how I looked at it at least.

[2017-07-27 04:07] vikasrohit commented on #958
Thanks @fnisen I improvised these status dialogs because it was confusing for me, as user, what is happening now especially when internet speed is on lower side. Further, it might help support team if a user faces issue and reports with screen shot. We can identify where the problem could be because these statuses behaves like checkpoints of the whole process.

[2017-07-27 04:52] vikasrohit commented on #1037
We save to local storage when user leaves (refreshes the page, closes the tab or clicks on Continue button) the project details form. We remove it from local storage only after successful call to project creation api (for logged out user it happens after success reg/login and for logged in user we immediately call project creation api). We move to project details page only after clearing the local

[2017-07-27 06:08] vikasrohit commented on #973
As discussed over slack, @fnisen should we remove SSO option from connect flows?

[2017-07-27 06:10] vikasrohit commented on #965
@fnisen I tried again, but it is still working fine for me. I am pretty much sure there is some specific condition that has to met to reproduce this issue. Can you please help in identifying it?

[2017-07-27 06:11] vikasrohit commented on #986
Understood. But changes are in dev Filipp, so you can test it there whenever you get time.

[2017-07-27 10:35] #1019 closed

[2017-07-27 11:36] karthikbecse opened #1062 "Get in touch with us link not highlighted"
### Expected behavior
Should highlighte the link

### Actual behavior
Get in touch with us link not highlighted

### Steps to reproduce the problem
- Goto https://connect.topcoder-dev.com
- Click New Project
- Check Select your project type page
- observe Get in touch with us
### Screenshot/screencast
![topcodre](https://user-images.githubusercontent.com/3225433/28668524-dcdb64bc-72ed-11e7-99e3-0b

[2017-07-27 11:42] karthikbecse opened #1063 "Scroll bar visible by default"
### Expected behavior
hide Scroll bar

### Actual behavior
Scroll bar visible by default

### Steps to reproduce the problem
- Goto https://connect.topcoder-dev.com
- Click New Project
- Select your project type
- In new Project page observeDescription,What is the goal of your application? How will people use it?Who are the users of your application? , text box
-
### Screenshot/screencast
![uuu](h

[2017-07-27 11:49] sdgun opened #1064 "[$30] Paragraphs are not divided in the 'PROJECT OUTLINE' section for 'Description'"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Login as a valid user: pshah_manager/topcoder123

- Click + New Project

- Fill all the required data

- Enter two paragraph description to the  'Description' section

- Check the 'PROJECT OUTLINE' section

Actual Result(s)
---------------------------------------

[2017-07-27 12:13] karthikbecse opened #1065 "Project not created"
### Expected behavior
Should create new project

### Actual behavior
New project is not created

### Steps to reproduce the problem
- Goto https://connect.topcoder-dev.com
- Click New Project
- Select your project type
- Enter valid information click continue
- Register New user
- Verfy email id
- After email id verfication it redirects to success page
- Now goto dashboard
-Check new project

###

[2017-07-27 12:20] sdgun opened #1066 "Previous email address PIN code is accepted when user change the email address"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click Login > Register for free

- Fill all the required data

- Enter email as dil777@qa.team

- Now click edit and change the email as dil666@qa.team

- Now system will notify the email has changed and check the mail for the PIN

- Now copy and paste the PIN co

[2017-07-27 12:27] sdgun opened #1067 "Even though user deleted the email address from the change email page; still the account is verified"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click Login > Register for free

- Fill all the required data

- Enter email as dil444@qa.team

- Now click edit and delete the email

- Now copy and paste the PIN code and click Verify

Actual Result(s)
-----------------------------------------------------------

[2017-07-27 12:33] karthikbecse opened #1068 "redirect to project not working after registation"
### Expected behavior
Should redirect to new project
### Actual behavior
nothing happened

### Steps to reproduce the problem
- Goto https://connect.topcoder-dev.com
- Click New Project
- Select your project type
- Enter valid information click continue
- Register New user
- Verfy email id
- Wait and observe

### Screenshot/screencast

https://www.screencast.com/t/DTYPAgDz5
--

#### Environment
-

[2017-07-27 12:39] sdgun commented on #1067
https://www.screencast.com/t/1UTgmMgP6

[2017-07-27 12:47] sdgun opened #1069 "Can create projects without description/goal of your application/users"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL https://connect.topcoder-dev.com

- Click Login and login as a client

- Click + New Project

- Select 'Web site' or 'Front-end Prototype' project

- Fill 'Project Name'

- Fill all the required data with spaces

- Click 'Continue' and observe

Actual Result(s)
-------------------------------------

[2017-07-27 17:26] #999 closed

[2017-07-27 17:29] gondzo commented on #980
That was backend API error. The error message could be more friendly though.

[2017-07-27 17:32] gondzo commented on #982
@fnisen Does a link to main page make sense here (user is logged out anyway). Maybe a link to the marketing page ?

[2017-07-27 17:33] gondzo commented on #983
this is a modal window so it doesn't need standard header&footer

[2017-07-27 17:38] sdgun commented on #983
@gondzo Please check the protptype provided in the bug hunt spec here https://projects.invisionapp.com/share/QJBRJ4ITF#/screens/234311826

It displays the logo in this particular page so this must be a UI issue. Please check again

https://projects.invisionapp.com/m/share/QJBRJ4ITF#/234311826

[2017-07-27 17:39] gondzo commented on #985
@fnisen do we need feedback widget working in dev? I guess this is just a wrong api key for topcoder-dev

[2017-07-27 17:41] gondzo commented on #988
related to #979

[2017-07-27 17:45] gondzo commented on #991
I can't reproduce this

[2017-07-27 17:45] #991 closed

[2017-07-27 17:48] gondzo commented on #983
you're right. I was looking at the logged in screens.

[2017-07-27 17:54] gondzo commented on #996
duplicate of #988

[2017-07-27 17:54] #996 closed

[2017-07-27 17:57] gondzo commented on #997
this is a browser feature in chrome and firefox. IE/Edge don't support this

[2017-07-27 17:57] #997 closed

[2017-07-27 18:00] gondzo commented on #1000
this is a browser feature in IE/Edge, no need to port it to Chrome, FF

[2017-07-27 18:00] #1000 closed

[2017-07-27 18:01] Kvm87 commented on #991
I can reproduce it now as well.I can mail a video if you ask.Thanks!!!

[2017-07-27 18:01] gondzo commented on #1001
we should not be using a png image here

[2017-07-27 18:04] gondzo commented on #1002
I think this would just complicate the implementation with no actual benefit
@fnisen thoughts ?

[2017-07-27 18:07] gondzo commented on #1004
duplicate of #1002

[2017-07-27 18:07] #1004 closed

[2017-07-27 18:07] gondzo commented on #1007
duplicate of #1002

[2017-07-27 18:07] #1007 closed

[2017-07-27 18:08] gondzo commented on #1012
duplicate of #1002

[2017-07-27 18:08] #1012 closed

[2017-07-27 18:09] gondzo commented on #1010
duplicate of #988

[2017-07-27 18:09] #1010 closed

[2017-07-27 18:10] gondzo commented on #1011
duplicate of #995

[2017-07-27 18:10] #1011 closed

[2017-07-27 18:14] gondzo commented on #1018
clear button is an IE/Edge feature

[2017-07-27 18:14] #1018 closed

[2017-07-27 18:17] gondzo commented on #1022
@fnisen what are the required fields here ?

[2017-07-27 18:21] gondzo commented on #1025
inputs are escaped by react so XSS isn't an issue here

[2017-07-27 18:21] #1025 closed

[2017-07-27 18:23] gondzo commented on #1027
I can't reproduce this

[2017-07-27 18:23] #1027 closed

[2017-07-27 18:24] #1028 closed

[2017-07-27 18:26] gondzo commented on #1032
Wrapping isn't a problem.
Font looks different though.

[2017-07-27 18:29] gondzo commented on #1034
duplicate of #994

[2017-07-27 18:30] gondzo commented on #1036
duplicate of #1033

[2017-07-27 18:30] #1036 closed

[2017-07-27 18:35] gondzo commented on #1039
I don't get an enpty page, but it hangs on success page forever.
https://www.screencast.com/t/0UxNh2CULSo

[2017-07-27 18:40] gondzo commented on #1048
duplicate of #1041

[2017-07-27 18:40] #1048 closed

[2017-07-27 18:41] #1051 closed

[2017-07-27 18:43] gondzo commented on #1052
I can't reproduce it any longer.
@vikasrohit Could this have been related to the backend API issues ?

[2017-07-27 18:45] gondzo commented on #1054
duplicate of #1052

[2017-07-27 18:45] #1054 closed

[2017-07-27 18:46] gondzo commented on #1055
duplicate of #1052

[2017-07-27 18:46] #1055 closed

[2017-07-27 18:46] gondzo commented on #1056
duplicate of #1052

[2017-07-27 18:47] #1056 closed

[2017-07-27 18:47] #1057 closed

[2017-07-27 18:48] gondzo commented on #1058
@fnisen was updating the icons in scope ?

[2017-07-27 18:49] gondzo commented on #1059
@vikasrohit do we have support for this in API? did we drop this along the way ?

[2017-07-27 18:52] #1065 closed

[2017-07-27 18:56] gondzo commented on #1067
We are sending the same activation code to both addresses

[2017-07-27 18:57] #1068 closed

[2017-07-27 18:58] gondzo commented on #1069
duplicate of #981

[2017-07-27 18:59] #1069 closed

[2017-07-27 19:01] gondzo commented on #991
Please do, I've tried several times.

[2017-07-27 19:05] #1034 closed

[2017-07-27 20:56] fnisen commented on #1058
@gondzo yes, in scope, so let's give credit, but no need to fix. Looks like we changed the order and the current one is correct. The icons are slightly different, but generally correct.

[2017-07-27 20:58] fnisen commented on #1022
Good catch. "Ref code" and "Notes" are optional. Everything else is required. Our pattern has indeed been only activating the button if required fields are filled out.

[2017-07-27 21:03] fnisen commented on #1002
@gondzo not sure if you're for or against. I agree with the critique. Let's not have the estimate panel on projects that don't have fixed pricing. So currently the ones with pricing would be:
- Wireframes
- Visual design
- Front-end prototype
Everything else we're still custom scoping.

[2017-07-27 21:04] fnisen commented on #985
Yeah, don't need feedback widget in dev, which is why it's not set up.

[2017-07-27 21:07] fnisen commented on #982
Yeah, don't think so. That wasn't meant to be a clickable logo in the design. We'd like to keep the user focused on registering or logging in at that point. They can always use the back button.

[2017-07-27 21:11] fnisen commented on #993
yeah, it's a reasonable expectation, but our thinking was to err on the side of not clearing data (b/c we're not 100% sure what the user would expect and it seems worse to lose data). Let's count this, but I'm leaning toward leaving it the way it is. @gondzo what do you think?

[2017-07-27 21:15] fnisen commented on #973
@vikasrohit I'm confused about the current state of SSO implementation. If a user clicks on that option, will they go through the new SSO that's on the member side or will they still use Connect's "old" SSO? If they'll use the new SSO, we can keep it. If not, let's turn it off. I just don't want to manage two SSO experiences... it's already complicated as it is.

[2017-07-27 21:39] fnisen commented on #986
Thanks @vikasrohit. Upload bug is fixed. Just waiting for Joey to come back to understand the needed timing.

[2017-07-27 22:35] macs054 commented on #982
The logo in the registration and login screen from the design prototype is clickable so that's where I based it on.

[2017-07-28 03:13] vikasrohit commented on #986
Did Matt fix it? or how it got fixed?

[2017-07-28 03:43] vikasrohit commented on #1059
Not as of now. We might have to put this in front end for now. @fnisen what is your opinion?

[2017-07-28 03:45] vikasrohit commented on #1052
This happened to me as well. It was due to a bad build been deployed to dev. I rebuild and deployed, it vanished. It was a temporary env issue.

[2017-07-28 03:50] vikasrohit commented on #1039
Activation link would not longer be sent to connect registered users. It would only contain activation code which user has to paste into PIN verification screen. fyi @fnisen

[2017-07-28 04:27] Kvm87 commented on #991
I have replied with attachment through email.Please confirm if you get it.Thanks!

[2017-07-28 05:56] vikasrohit commented on #973
@fnisen yes, there is lot of confusion going on around SSO stuff and it is going through significant changes. I agree with your https://github.com/appirio-tech/connect-app/issues/973#issuecomment-317501050  to remove any sso option from connect flows and come back later when it is more stable.

[2017-07-28 07:30] Kvm87 commented on #1012
I am surprised that issue#1007, 1008 and 1012 have been counted as duplicate of issue#1002. Even though the nature of issues is same, a testing effort goes for each of 8 types of project to see where is it applicable and where not.I request you to kindly correct me if I am wrong.Thanks!

[2017-07-28 15:59] gondzo commented on #982
OK, closing this one. It's counted for the bug hunt.

[2017-07-28 15:59] #982 closed

[2017-07-28 16:00] #985 closed

[2017-07-28 16:04] gondzo commented on #993
I'd leave it the way it is now as well.

[2017-07-28 16:04] #993 closed

[2017-07-28 16:18] gondzo commented on #1038
@fnisen should we remove these as part of the bug bash ?

[2017-07-28 16:19] fnisen commented on #973
OK, please go ahead and remove.

[2017-07-28 16:20] #1041 closed

[2017-07-28 16:21] fnisen commented on #1038
@gondzo yes please. So, we only want the sections Vic mentioned (title, description, estimate). If there's no estimate for that project type, then we don't need to show that either.

[2017-07-28 16:23] fnisen commented on #993
Sounds good.

[2017-07-28 16:23] #1052 closed

[2017-07-28 16:23] #1058 closed

[2017-07-28 16:27] gondzo commented on #1067
will be handled by #1066

[2017-07-28 16:27] #1067 closed

[2017-07-28 16:39] fnisen commented on #1039
Yes @vikasrohit is correct. This is a known issue, and I've already asked Sudo to fix it, but let's count it for the bug hunt. Assigning it to myself for tracking.

[2017-07-28 16:43] fnisen commented on #1059
Good point. Yes, we should have a block just so someone doesn't maliciously hammer the API. @vikasrohit I think we do have something like this for Password Reset, for example, where we lock you out for some time after 10 attempts. It's probably best to do this at the API level, so I should pass it to Sudo, right? We don't need it for the release, but would be good to add soon so we don't forget.

[2017-07-28 16:44] fnisen commented on #986
Yes, Matt fixed the upload issue (we had the wrong key for Filestack in Dev). The token timing I need to figure out with Joey next week. Are there any issue you see with extending it to 24 hours?

[2017-07-28 16:56] gondzo commented on #1066
this should be fixed in backend API. change of email address should result in a new token being sent.
@fnisen

[2017-07-28 16:57] gondzo opened #1070 "[$300] Registration screens"
This is a placeholder issue for a bug bash to track related issues.

Fixing all of the following bugs is in scope
- [x] #976
- [x] #977
- [x] #978
- [x] #980
- [x] #1014
- [x] #1015
- [x] #1017
- [x] #1024
- [x] #1049
- [x] #1053

[2017-07-28 16:57] gondzo opened #1071 "[$400] New project screens"
This is a placeholder issue for a bug bash to track related issues.

Fixing all of the following bugs is in scope
- [x] #981
- [x] #983
- [x] #992
- [x] #1001
- [x] #1002
- [x] #1016
- [x] #1021
- [x] #1022
- [x] #1033
- [x] #1038

[2017-07-28 16:57] gondzo opened #1072 "[$180] Login screens"
This is a placeholder issue for a bug bash to track related issues.

Fixing all of the following bugs is in scope
- [x] #1009
- [x] #1013
- [x] #1042
- [x] #1046
- [x] #1047

[2017-07-28 16:57] gondzo opened #1073 "[$100] Pin screens"
This is a placeholder issue for a bug bash to track related issues.

Fixing all of the following bugs is in scope
- [x] #1040
- [x] #1060
- [x] #1061

[2017-07-28 16:57] gondzo opened #1074 "Styling issues"
This is a placeholder issue for a bug bash to track related issues.

Fixing all of the following bugs is in scope
- [x] #974
- [x] #975
- [x] #979
- [x] #984
- [x] #987
- [x] #988
- [x] #989
- [x] #990
- [x] #994
- [x] #998
- [x] #1003
- [x] #1005
- [x] #1020
- [x] #1023
- [x] #1026
- [x] #1029
- [x] #1030
- [x] #1032
- [x] #1042
- [x] #1043
- [x] #1044
- [x] #1045
- [x] #1050
- [x] #1062
- [x] #1

[2017-07-28 19:39] #948 closed

[2017-07-29 02:10] shizhouxing commented on #1071
Please assign this ticket to me, thank you.

[2017-07-29 03:11] vikasrohit commented on #1059
Yes, ideal place for the check is in API.

[2017-07-29 10:23] rushikesh90 commented on #1053
@gondzo I am not sure what is expected here. Can you explain?

[2017-07-29 11:17] gondzo commented on #1053
Country field ahould be validated -not empty.

On 29 Jul 2017 12:23, "rushikesh90" <notifications@github.com> wrote:

[2017-07-29 18:28] rushikesh90 commented on #976
The form is using novalidate attribute. Can I remove that?

[2017-07-29 18:53] rushikesh90 commented on #1070
@gondzo Can I get more time ? I am geting errors in deploying locally

[2017-07-29 19:39] gondzo commented on #1070
yes, that's fine.

[2017-07-29 19:41] gondzo commented on #976
No, just update validation function to highlight username and display the error message if it's invalid

[2017-07-29 20:27] chq-matteo commented on #1072
#1042 is an issue with topcoder dev api
request
[code]
response
[code]
### Workaround
We could make an adhoc check, but...

[2017-07-29 21:33] chq-matteo commented on #1072
https://github.com/appirio-tech/connect-app/issues/1009
Clear password on failed login
![password](https://user-images.githubusercontent.com/6654800/28748352-e5f096c0-74b5-11e7-8c22-21fb03f2bf15.gif)

https://github.com/appirio-tech/connect-app/issues/1013
Notice that username is wrong when empty
![virtualbox_topcoder_29_07_2017_22_11_13](https://user-images.githubusercontent.com/6654800/28748244-

[2017-07-29 21:35] chq-matteo commented on #1072
@gondzo for #1042 the issue is with the topcoder api server, we could check if the error message is 'email or password...' and change it ourself
for #1047 it seems to me that there's no interim page

[2017-07-29 21:37] chq-matteo commented on #1072
@gondzo I made a pull request on `appirio-tech:feature/copy-change-pin-verification`

[2017-07-30 04:33] rushikesh90 commented on #978
@gondzo The error is not from UI because of length smaller than 2. It is coming from API_URL which defaults to https://api.topcoder.com.
The url path is as follows:
{API_URL}/users/validateHandle?handle=#{encodeURIComponent(handle)}

Any idea where can I debug this.

[2017-07-30 04:49] rushikesh90 commented on #980
Cannot reproduce this.  Any specific way to reproduce?

[2017-07-30 05:14] vikasrohit commented on #978
@gondzo we need to update the copy of tooltip here. Please see https://github.com/appirio-tech/connect-app/issues/950#issuecomment-317936987 for more details on current validations on handle.
cc: @fnisen

[2017-07-30 05:17] vikasrohit commented on #980
I think you can reproduce it by having api endpoint which either does not exist or return specific error e.g. 504. My guess is that it is because of JSON.parse is trying to parse empty string.

[2017-07-30 08:06] gondzo commented on #1072
for #1042, just validate the field before submitting the form. We'll update the error message in backend separately

for #1047 I can still see it in dev - https://connect.topcoder-dev.com
Can you make pull requests to dev, that is the one currently deployed and up to date.

[2017-07-30 08:11] gondzo commented on #978
thanks @vikasrohit, I missed that one.
@rushikesh90 just update the tooltip to say minimal length is 3 instead of 2

[2017-07-30 08:13] gondzo commented on #980
Right, invalid endpoint will cause this issue. You should only update error handling to display a more friendly error message.

[2017-07-30 08:17] chq-matteo commented on #1072
@gondzo
1. Ok
2. I'm pretty sure it is not dev branch for the accounts-app repository (http://accounts.topcoder-dev.com)

[2017-07-30 08:32] gondzo commented on #1072
OK, I'll double check the correct branch

[2017-07-30 09:08] chq-matteo commented on #1072
fixed #1042
![virtualbox_topcoder_30_07_2017_11_07_54](https://user-images.githubusercontent.com/6654800/28752074-683f8f9e-7517-11e7-8143-1deb29cd53d3.png)

[2017-07-30 09:36] chq-matteo commented on #1072
@gondzo I looked into #1047, that 'page' is actually a view that autohides when the requested page finish loading, it is not a redirect. I think it was put there to give immediate feedback to the user. I can remove it if you want, but it does serve a purpouse I think

[2017-07-30 09:38] gondzo commented on #1072
yes, please do remove it, but pay attention not to break community login pages (/member)

[2017-07-30 09:38] rushikesh90 commented on #1053
Is the issue browser or OS specific because I cant find the X on chrome and ubuntu.

[2017-07-30 09:40] chq-matteo commented on #1072
So it will be visible only on /member pages and not /connect pages, right?

[2017-07-30 09:45] gondzo commented on #1053
It's IE11 issue.
You can just hide the clear button in IE `::-ms-clear { display: none; }` or catch the clear event and update selected country field. Either is fine.
Also, when submitting the form validate the country isn't empty

[2017-07-30 09:51] rushikesh90 commented on #1053
If country is empty , register button is disabled. Do you need any more validation?

[2017-07-30 09:56] shizhouxing commented on #1071
@gondzo The issues in this ticket are now ready for review.

[2017-07-30 10:42] gondzo commented on #1073
@andela-onnenanya any progress ?

[2017-07-30 11:18] gondzo commented on #1072
right, the community pages should not be changed.

[2017-07-30 12:26] chq-matteo commented on #1072
https://github.com/appirio-tech/accounts-app/pull/141

[2017-07-30 12:31] gondzo commented on #1053
That is fine, no extra validation is needed

[2017-07-30 12:38] andela-onnenanya commented on #1073
@gondzo Having hard time with npm install. The package installations throw errors `npm ERR! tar.unpack unzip error` and `npm ERR! tar.unpack untar error`. Have tried clearing cache but no luck.

[2017-07-30 12:45] gondzo commented on #1073
I don't have that issue, it's probably something with your environment. check https://docs.npmjs.com/getting-started/fixing-npm-permissions

If you can't fix your install issues in the next few hours, just add open for pickup label to this issue (so someone else can pick it up). After you fix your environment you can pick up another task. Thanks!

[2017-07-30 12:47] andela-onnenanya commented on #1073
Ok, I will open it for pick. Thank you.

[2017-07-30 12:49] gondzo commented on #1071
thanks. I'll review them shortly. In the meantime, you can work on other issues.

[2017-07-30 12:57] chq-matteo commented on #1073
Issue #1040 is wrong *there are* validation checks (topcoder api) for the email.
`dil2@qa` is valid because it is not syntactically wrong as email (`qa` could be a top level domain)

Synctactically incorrect email
![2017-07-30](https://user-images.githubusercontent.com/6654800/28753599-11b30ea6-7537-11e7-8dce-ab1ea71081d6.png)

Syntactically correct email
![2017-07-30 2](https://user-images.github

[2017-07-30 13:03] gondzo commented on #1073
see #950 for related email validation discussion. Lets use the same validation in the pin screens

[2017-07-30 13:32] rushikesh90 commented on #976
@gondzo I feel it will be better idea to disable login button just like register page when username or password is empty. What do you think?

[2017-07-30 13:34] gondzo commented on #976
That's fine.

On 30 Jul 2017 15:32, "rushikesh90" <notifications@github.com> wrote:

[2017-07-30 13:46] rushikesh90 commented on #978
This is already updated in latest branch

[2017-07-30 14:32] chq-matteo commented on #1073
this is also on branch [feature/copy-change-pin-verification](https://github.com/appirio-tech/accounts-app/tree/feature/copy-change-pin-verification) since on branch dev there is no script or view for pin-verification

[2017-07-30 16:09] gondzo commented on #1070
@rushikesh90 - any updates?
If you can't fix your install issues in the next few hours, just add open for pickup label to this issue (so someone else can pick it up). After you fix your environment you can pick up another task. Thanks!

[2017-07-30 16:32] rushikesh90 commented on #1070
I am able to install succesfully. Anyway if I cant solve the issues I will change the status.

[2017-07-30 17:15] gondzo commented on #1070
@all this is now open for pickup

[2017-07-30 17:41] chq-matteo commented on #1070
#976 is duplicate of #1013 or rather the other way around

[2017-07-30 19:21] chq-matteo commented on #1014
Relevant
https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/
https://softwareengineering.stackexchange.com/questions/330512/name-validation-best-practices

[2017-07-30 19:23] chq-matteo commented on #1070
@gondzo the issue with #1014 is quite tricky since topcoder is an international website

See
https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/
https://softwareengineering.stackexchange.com/questions/330512/name-validation-best-practices

[2017-07-30 19:28] gondzo commented on #1014
Agree, but I'm not sure if there are any validations for this in backend.
@fnisen any ideas ?

[2017-07-30 20:41] chq-matteo commented on #1024
I think that this is not part of the connect platform
See
https://accounts.topcoder-dev.com/member/registration

[2017-07-30 21:02] chq-matteo commented on #1024
@gondzo missing url and the steps described refer to non existant items

[2017-07-30 21:08] chq-matteo commented on #1024
There is no

- start new project
- wireframe in dashboard
- create project
- continue
- registration prompt

![virtualbox_topcoder_30_07_2017_22_52_37](https://user-images.githubusercontent.com/6654800/28757082-cc07250a-757b-11e7-83e8-779a815c49f5.png)
![virtualbox_topcoder_30_07_2017_22_52_47](https://user-images.githubusercontent.com/6654800/28757083-cc0e3dfe-757b-11e7-81d6-e9acf40cafa7.png)
![v

[2017-07-31 00:00] gondzo commented on #1024
looks like old connect UI got deployed to dev environment. I'll try to get the new one back asap.
You don't need the connect-app here. The goal is just to add validation to first&last name (non empty)

[2017-07-31 06:30] vikasrohit commented on #1053
@gondzo we have this type of issues in past as well. I think the best solution is to get rid of the X button for IE or any other browsers which have this additional behaviour for text boxes. These can be removed with browser specific css rules. We should apply the same fix every where we have such issues because of browser's X button.

[2017-07-31 08:31] chq-matteo commented on #1070
I'm quite confused which branch of https://github.com/appirio-tech/accounts-app is active at the moment?
I think it is either
https://github.com/appirio-tech/accounts-app/commits/feature/updated-connect-reg-flow/
or
https://github.com/appirio-tech/accounts-app/commits/feature/copy-change-pin-verification
because most of the issues do not apply to dev branch
@gondzo @vikasrohit

[2017-07-31 08:58] gondzo commented on #1070
feature/copy-change-pin-verification is the correct one

[2017-07-31 08:58] chq-matteo commented on #1070
My guess is `feature/updated-connect-reg-flow` because the string pick a nickname is only in that branch
[code]

[2017-07-31 09:00] chq-matteo commented on #1070
@gondzo if it is copy-change-pin-verification #1049 is already fixed

[2017-07-31 09:01] gondzo commented on #1070
OK, I'll merge both later into updated-connect-reg-flow. Thanks.

[2017-07-31 09:07] vikasrohit commented on #1070
@chq-matteo @gondzo feature/copy-change-pin-verification was created from feature/updated-connect-reg-flow. I was waiting for bug hunt to finish before merging it back to feature/updated-connect-reg-flow branch. feature/copy-change-pin-verification branch contains changes for https://github.com/appirio-tech/connect-app/issues/960. Ideally, feature/updated-connect-reg-flow should be the base of all

[2017-07-31 09:09] chq-matteo commented on #1070
I'll rewrite my fixes with feature/updated-connect-reg-flow as base then
@vikasrohit @gondzo

[2017-07-31 10:06] chq-matteo commented on #1070
https://github.com/appirio-tech/connect-app/issues/1024
only applies to old code

[2017-07-31 16:37] fnisen commented on #1014
@gondzo we don't do any name validation, except for lengths (64 characters); it's impractical to figure out an appropriate format, especially with our user base, as the articles @chq-matteo linked show (thanks for chiming in!). I wouldn't accept this as a bug unless there's justification for the type of validation we need.

[2017-07-31 18:03] fnisen commented on #953
@vikasrohit bug hunt is completed. Can you please merge and let me know when it's ready for testing?

[2017-07-31 18:07] fnisen commented on #960
@vikasrohit what's the status for this one please?

[2017-07-31 18:08] fnisen commented on #963
@vikasrohit any update on this one?

[2017-07-31 18:28] ykohata commented on #950
@fnisen
Sorry for the late reply.

We introduced the same validation of Discourse which blocks handles which end with special characters like "_".
We have a list of invalid words in a table in Informix. Handles which contain any word registered in that table are not allowed.

[2017-07-31 18:31] vic-topcoder commented on #1023
This is the old registration form, not the one we styled for Connect.

[2017-07-31 18:33] vic-topcoder commented on #1005
That's an extreme case - nobody creates a project with a single word of 300characters. I'd say out of scope for that case, but long names should scroll into the input.

[2017-07-31 18:33] fnisen commented on #1023
@gondzo let's give credit for this b/c we might have reverted to the old form temporarily during the bug hunt, but this shouldn't be an issue now.

[2017-07-31 18:33] #1023 closed

[2017-07-31 18:34] vic-topcoder commented on #998
That one might not be a CSS-related issue, but the "sticky" layout plugin. @sirakovaDimitrina please check and reassign to @gondzo if that's the case.

[2017-07-31 18:36] vic-topcoder commented on #990
@sirakovaDimitrina - check if we have all the correct gradient CSS for buttons. Not sure what would be the issue here

[2017-07-31 18:40] vic-topcoder commented on #988
Seems like styles are not loading correctly. Background gray is wrong.

[2017-07-31 18:41] fnisen commented on #893
@vikasrohit what's needed here?

[2017-07-31 18:57] fnisen opened #1085 "Copy changes for new "Log in" page"
### Current page
![screen shot 2017-07-25 at 2 47 53 pm](https://user-images.githubusercontent.com/12552247/28793081-ab3447fc-75e6-11e7-8eb7-7d93f7430227.png)

### Changes
1. Headline should be: "Log in to Topcoder"
2. Remove sub-headline ("Crowdsourcing for your winning project")
3. For the reset instructions, change to: "Forgot your password?" (link). Remove the rest.
4. Change button to: "Log i

[2017-07-31 19:28] fnisen opened #1086 "Copy changes for new "Reset password" page"
### Current page
![screen shot 2017-07-25 at 2 48 10 pm](https://user-images.githubusercontent.com/12552247/28793515-0ba73422-75e8-11e7-95b7-86c6e73c6d53.png)

### Changes:
1. Change headline to: "Reset your password"
2. Remove subheadline "It's ok, happens to all of us"
3. Change button to: "Get reset link"
4. Change help copy to: "Enter your email address, and we'll send you a link to reset your

[2017-07-31 21:33] fnisen opened #1087 "Auto-login user after password reset in Connect"
Currently, when a user sets a new password (after clicking the reset link), we show a green dialogue on the page saying "Logging you in...". However, the user is then taken back go the Login page, rather than being logged into Connect. This is where they end up:

<img width="581" alt="screen shot 2017-07-31 at 2 31 14 pm" src="https://user-images.githubusercontent.com/12552247/28799314-f05bc240-75

[2017-07-31 21:47] fnisen opened #1088 "Change "Back on Track" reset password confirmation"
@vikasrohit this page is not following the recent style changes. Who would be the one to fix this, you or Didi?

![screen shot 2017-07-26 at 1 41 59 pm](https://user-images.githubusercontent.com/12552247/28799787-cfaa5b4a-75fe-11e7-9ba6-bc84b544ad6c.png)

[2017-07-31 22:32] fnisen opened #1089 "Copy & functional changes for "Set password" page (after clicking reset link)"
<img width="1023" alt="screen shot 2017-07-31 at 12 30 57 pm" src="https://user-images.githubusercontent.com/12552247/28801121-db6b7a3a-7604-11e7-9dc8-121fd85702bf.png">

Would like a bunch of changes here:
1. Remove "Log in" button in top right corner (not needed; user is the process of resetting password)
2. Change headline to: "Set new password" (remove quotation marks)
3. Change sub-headline t

[2017-07-31 22:35] vic-topcoder opened #1090 "Poor react performance: epic"
We have a lot of bad components and we should pay big attention to creating a front-end performant app. That's the whole point we're using React after all! It is very very very very very important to optimize the code once a component is created, as it can cause huge degradation of front-end rendering and slows down the whole app.

Following the techniques outline here https://medium.freecodecamp.

[2017-07-31 22:36] vic-topcoder commented on #1090
To use "why-did-you-update" add the following in `index.jsx` right under the declarations

[code]

[2017-07-31 22:37] fnisen commented on #1035
@vikasrohit to me this would really help with tracking b/c we would know which paths the user has followed and where they are dropping off. I know tracking can be supported without the URL changes, but having the URL change seems easier than firing events/instrumenting (URLs can be tracked more basically with built in tracking in Google Analytics or Mixpanel). Please let me know if you disagree.

[2017-07-31 22:38] fnisen commented on #1090
@vikasrohit, @gondzo who wants to take this one?

[2017-07-31 23:26] gondzo commented on #1047
@chq-matteo the fix hides the banner when the app is loaded, but it was the same before this change.
@fnisen The tc logo here is just a placeholder until the actual app is rendered. Do we need to remove it at all? Maybe it's better to show something than just empty screen ?

[2017-07-31 23:50] #1014 closed

[2017-08-01 00:36] fnisen commented on #950
Thank you @ykohata!

[2017-08-01 05:14] vikasrohit commented on #1035
Agree. We might have to analyze the efforts required to handle URL for wizard steps vs adding analytics events on every wizard step change. We can keep it for first few things to do after release.

[2017-08-01 05:38] vikasrohit commented on #963
I didn't see the issue for my few tries, so I think it is timing issue of async process of posting messages. May be we need @mtwomey's help here.

[2017-08-01 06:31] vikasrohit commented on #893
What exactly we need to change in coderbot message?

[2017-08-01 06:32] vikasrohit commented on #1087
@fnisen The behaviour you are seeing is the fallback way which I have implemented when we are facing issue in automatic login. So, it means there was some error while automatically login. I would check it again.

[2017-08-01 06:53] vikasrohit commented on #1047
This was intentional change done long time back. It is not a bug.

[2017-08-01 07:09] vikasrohit commented on #953
Merged. Should be on dev now.

[2017-08-01 07:11] vikasrohit commented on #960
Changes were done with #953 but waiting for bug hunt to wrap up. I merged it today, so dev should have all these changes and few others from community.
PS: We are still using "Your project has been saved. Now please create an account or login to submit it for review." for registration page title.

[2017-08-01 07:12] vikasrohit commented on #950
Can we close this @fnisen?

[2017-08-01 07:13] vikasrohit commented on #1070
fyi only, branch feature/copy-changes-pin-verification has been merged and deleted. So, please use feature/updated-connect-reg-flow for any near future changes about connect reg flow.

[2017-08-01 07:22] vikasrohit commented on #973
Done. Removed for now.

[2017-08-01 07:31] vikasrohit commented on #1088
Didn't get it @fnisen. What exactly is not as per style? From DOM structure, it seems similar to other pages.

[2017-08-01 07:33] vikasrohit commented on #1089
@fnisen Are changes described in #1086 different than this?

[2017-08-01 07:38] vikasrohit commented on #1085
Done

[2017-08-01 07:57] vikasrohit commented on #1086
Done. Should on dev now.

[2017-08-01 08:27] chq-matteo commented on #1047
@gondzo it's quite funny, I've checked now with throttling via chrome.
You are right, what happens is that ng-hide expression gets evaluated only *after* the app.js file loads.
*But* when app.js finished loading the page we requested has finished loading as well!
So basically either we rewrite another index.jade for connect or revert my supposed fixes as they were not that useful since @vikasrohit

[2017-08-01 09:07] vikasrohit commented on #1089
Done. Should be there on dev.

[2017-08-01 09:08] shizhouxing commented on #1071
@gondzo Any feedback on this ticket? I see that two of my PRs were closed.

[2017-08-01 16:36] fnisen commented on #963
Yeah, now I'm not able to reproduce either. OK, let's assume it's fine for now. Will see if it comes back.

[2017-08-01 19:59] gondzo commented on #1071
all the fixes have been merged, and the ticket is marked as accepted.

[2017-08-01 22:51] fnisen commented on #1086
Perfect, closing.

[2017-08-01 22:56] fnisen commented on #1089
Perfect, closing.

[2017-08-01 22:56] #1089 closed

[2017-08-01 22:59] fnisen commented on #1087
@vikasrohit you're correct. It worked correctly this time. One note: "log in" in the above message should be two words. Can you please update?

[2017-08-01 23:04] fnisen commented on #1047
Agree, let's revert. It was intentional to show the logo while we redirect, as Vikas said.

[2017-08-01 23:07] fnisen commented on #1085
Looks good, thank you.

[2017-08-01 23:07] #1085 closed

[2017-08-01 23:14] fnisen commented on #1088
@vikasrohit so you're using the form component, with "Back on Track!" as the headline and the rest of the message as the second-level headline? OK, I get it.

Then, just two changes please:
1. For the headline, write it as "Back on track" (sentence case, no exclamation point)
2. Put a period at the end of the sub-headline ("contact us at support@topcoder.com.")

Thank you.

[2017-08-01 23:15] fnisen commented on #973
Thank you. Looks good.

[2017-08-01 23:15] #973 closed

[2017-08-01 23:24] fnisen commented on #1001
Logo positioning is not per design; it should be in the corner, as on this page: https://accounts.topcoder-dev.com/connect.

@gondzo just FYI: I asked @sirakovaDimitrina to fix it earlier on this issue: https://github.com/appirio-tech/connect-app/issues/1003. In general, we need logo cleanup on a few "logged out" pages, including the spec page. So, we can just fix this one as a one-off and have Di