[2018-09-10 11:35] RishiRajSahu commented on #2492
@vic-topcoder can we have some UI cue for final deliverable link to give user an intuition of editing capability ?

[2018-09-10 11:48] maxceem commented on #2185
@dmessing no problem! As you updated with the valid reason. I understand that it may take some time to come up with a good solution here, so take your time.

[2018-09-10 14:55] simranb86 commented on #2470
Sorry @maxceem same behavior - attaching new logs. I am not sure but my env never works, even during last bash i had similar issue for setup and after 2 days i had to leave the ticket open.

Any more suggestions i could try ?

[local.topcoder-dev.com-1536591111278.log](https://github.com/appirio-tech/connect-app/files/2367119/local.topcoder-dev.com-1536591111278.log)

![errorsnapshot](https://user

[2018-09-10 14:58] gurmeetb commented on #2480
Thanks

[2018-09-10 15:46] vikasrohit commented on #2475
@acshields I am not sure what extra details hotjar provides to us, but we already have many tracking and analytics enabled on connect via segment.
<img width="239" alt="screen shot 2018-09-10 at 5 30 41 pm" src="https://user-images.githubusercontent.com/2417632/45296314-4a4d6580-b51f-11e8-9738-7271fb18671a.png">

That being said, do we have accounts credentials for hotjar? I might need those to va

[2018-09-10 15:49] KevinLeigh commented on #2320
Hey there @nahidshahin, if you cannot complete this issue please assign to me. Thank you

[2018-09-10 16:33] gurmeetb commented on #2480
@maxceem I am new to this app, could you guide how do I land the page to see the issue ?

[2018-09-10 16:56] iversonLv commented on #2480
@maxceem I think I could get the ticket as per Bug bash rule: 12hr is gone and there is no PR

[2018-09-10 17:33] gurmeetb commented on #2480
It’s done and ready for review

[2018-09-10 17:35] gurmeetb commented on #2480
@iversonLv when it was assigned I was sleeping - logically I started working only 3 hrs back and there is PR moved in.

@maxceem @vikasrohit  12 hrs rule will not work. You need to take into consideration ppl from around the globe take part so we should have 24 hrs rule.

[2018-09-10 17:41] gurmeetb commented on #2466
@PrakashDurlabhji are you working on this ? If not, please flag @maxceem to release it to me.

@maxceem Kindly assign me if this gets free.

[2018-09-10 17:42] gurmeetb commented on #2471
@rashmi73  are you still working on this ? If not, please flag @maxceem to release it to me.

@maxceem Kindly assign me if this gets free.

[2018-09-10 17:44] PrakashDurlabhji commented on #2466
@gurmeetb PR raising within 20mins @maxceem actively working on it.

[2018-09-10 17:45] simranb86 commented on #2470
@maxceem finally got it working, will push PR in 2-3 hrs. Sorry for the delay.

[2018-09-10 17:46] rashmi73 commented on #2471
@gurmeetb just stop commenting everywhere.its clearly mentioned by @maxceem on some other issue that , once marked open for pickup, who ever comments after that will be given the issue. and i am working on it. near to complete it

[2018-09-10 17:51] amitpatra commented on #2489
Hi, I am working on it. Just wanna make sure that I am in the right direction. At this moment when we choose 'In Progress' as the status and click 'update phase' both the waring about activating the phase and an option to delete the phase are shown. I guess we need to hide the option to delete the phase right?

[2018-09-10 18:41] PrakashDurlabhji commented on #2466
@maxceem done Pr raised

[2018-09-10 18:46] khushimehta03 commented on #2201
@maxceem please release me ,so it is open again,as i wont be able to complete.

[2018-09-10 18:46] Gauravseta commented on #2201
@maxceem can you please assign it to me as it is open for pickup. thanks

[2018-09-10 19:18] prasadadarkar30 commented on #2279
it is too difficult releasing it , if anyone wish to then they can take it.@maxceem

[2018-09-10 19:19] PrakashDurlabhji commented on #2279
@maxceem wish to work on it .give it to me thank you.

[2018-09-10 20:09] arun1595 commented on #2472
@maxceem I've fixed this issue in #2494

Check it out when you get a chance. Thanks!

[2018-09-10 20:12] arun1595 commented on #2474
@maxceem The first part of this issue #2472 has been fixed in #2494

I would like to fix this one once #2494 has been reviewed and merged.

[2018-09-10 22:33] rashmi73 commented on #2471
@maxceem ready for review it is. Pr raised

[2018-09-11 01:10] maxceem commented on #2474
@arun1595 Yes, I'll try to review the other issue during today. So you could pick up this one. Thanks!

[2018-09-11 01:13] maxceem commented on #2279
Sure @PrakashDurlabhji it's yours.

Btw, if you accept the invitation to this repo from GitHub I could assign you to this issue. Though it's not required.

[2018-09-11 01:17] maxceem commented on #2201
Sure @Gauravseta it's yours.

I've also sent an invitation for you to this repo so I could also assign you to the issues for clearance.

[2018-09-11 01:31] maxceem commented on #2480
@gurmeetb got your PR, thanks.

Btw, you don't have to wait to be assigned to the issue to work on it. As soon as you made your comment with the intention to pick up the issue, it's yours and you can start working on it. Also, time starts from that moment and you have 12h to accomplish the issue or make a comment if need more time.

[2018-09-11 01:33] maxceem commented on #2320
@nahidshahin, please, update if you still working on this issues and the reasons for delay if any. Otherwise the I'll have to open this issue to pick up in 1 hour.

[2018-09-11 01:36] maxceem commented on #2489
@amitpatra Yes, you are right. In case we show warning about `activating the phase` the delete option has to be hidden. In all other cases where delete option is visible now it has to stay visible.

[2018-09-11 01:39] maxceem commented on #2483
@akmarif as this issue is very small and wasn't completed in 12 hours without any comment I'm opening it to pick up for everyone.

This issue is now available to pick up.

[2018-09-11 01:42] maxceem commented on #2339
@jomadoye are you still working on this issue? Please update or I'll have to open it to pick up for other participants. Thanks.

[2018-09-11 02:06] amitpatra commented on #2489
@maxceem made a pull request. Please review it. Thanks :)

[2018-09-11 02:43] maxceem commented on #2455
@RishiRajSahu
I've tried to run connect-app using branch https://github.com/appirio-tech/connect-app/tree/feature/plan-timeline-events-settings where new notifications are implemented.

But new notifications never come when I activate phases or complete milestones by manager user and check for notifications by customer user. I used this project for testing http://local.topcoder-dev.com:3000/projec

[2018-09-11 02:45] maxceem commented on #2320
Due to inactivity of the previous participant, this issue is now open for pick up.

[2018-09-11 03:55] vigneshTheDev commented on #2320
Hi, I would like to work on this. Can you please assign this to me?

[2018-09-11 03:57] vigneshTheDev commented on #2320
I started working on it.

[2018-09-11 03:57] anonymousjaggu commented on #2483
@maxceem please assign me

[2018-09-11 04:06] maxceem commented on #2320
@vigneshTheDev it yours since you've commented. To make it more clear I can assign you to this issue in the interface. To do so, please, accept the invitation to this repo which has to pop up to you email. Thanks.

[2018-09-11 04:07] maxceem commented on #2483
@anonymousjaggu it's on you since you've commented. To make it more clear I can assign you to this issue in the interface. To do so, please, accept the invitation to this repo which has to pop up to your email. Thanks.

[2018-09-11 04:47] rashmi73 commented on #2339
@maxceem can you please assign it to me as it is now 24hrs approx. 12 hr deadline is reached long back . thanks

[2018-09-11 05:14] sumitdaga commented on #2185
@maxceem  an update
i won't be able to work on this issue for about the next 24 hrs
i leave it upto you if you want to open it up for pickup or if some delay is fine

[2018-09-11 05:15] RishiRajSahu commented on #2455
@maxceem yes there could be two possibilities -
- These events weren't added to kakfa
- Notifications service is not able to listen to kafka

I have to check, will let you know soon.

[2018-09-11 05:30] maxceem commented on #2339
@rashmi73 as I've mentioned in another issue comment https://github.com/appirio-tech/connect-app/issues/2279#issuecomment-419857847 we cannot let participants claim issues before the current participant asked to unassign him or someone from team marked the issue as open for pick up.

So you'll have to claim it again after the issue is open for pick up if nobody claims it before you.
It's needed to

[2018-09-11 05:46] KevinLeigh commented on #2320
@maxceem Hey there, please see comment here -> https://github.com/appirio-tech/connect-app/issues/2320#issuecomment-419962126

[2018-09-11 05:47] vikasrohit commented on #2455
@maxceem I am able to see the phase completed/activation and milestone completed/activation web notifications for my project when I perform the action as copilot and check the notifications as customer.

[2018-09-11 05:54] KevinLeigh commented on #2185
@maxceem Please assign ticket to me

[2018-09-11 05:56] maxceem commented on #2185
@KevinLeigh it yours since you've commented. To make it more clear I can assign you to this issue in the interface. To do so, please, accept the invitation to this repo which has to pop up to your email. Thanks.

[2018-09-11 05:58] KevinLeigh commented on #2185
@maxceem Thank you, much appreciated. Will accept link as soon as I receive it.

[2018-09-11 05:59] maxceem commented on #2320
@KevinLeigh as I've mentioned in another issue comment https://github.com/appirio-tech/connect-app/issues/2279#issuecomment-419857847 we cannot let participants claim issues before the current participant asked to unassign him or someone from team marked the issue as open for pick up.

So the first who claims issue after it's become open for pick up, get it.
Thanks.

[2018-09-11 06:02] KevinLeigh commented on #2320
@maxceem Thank you for the update, I understand :)

[2018-09-11 06:05] KevinLeigh commented on #2185
@maxceem I have accepted the invitation.

[2018-09-11 06:46] KevinLeigh commented on #2185
@maxceem Hey there, is there a test account that I can use to test issue ?

[2018-09-11 06:49] maxceem commented on #2185
@KevinLeigh `pshah_manger`/`topcoder123`

[2018-09-11 06:50] KevinLeigh commented on #2185
@maxceem Thank you!

[2018-09-11 06:54] RishiRajSahu commented on #2457
@vic-topcoder @kbowerma @acshields ping !

[2018-09-11 06:56] RishiRajSahu commented on #2450
@vikasrohit can we close this ?

[2018-09-11 07:05] RishiRajSahu commented on #2337
@acshields Does this issue map to some feature in aha ? if yes, could you please add some details ?

[2018-09-11 07:06] maxceem commented on #2320
@vigneshTheDev Ok, thanks for the update. Can we still avoid calling the function to get token twice to keep it clear?

Also, if I've got it right, in case token is not expired we don't make an actual API call at all.
But what if a token is already expired, could it be that we make am API call twice?

[2018-09-11 07:12] RishiRajSahu commented on #2336
@acshields This is implemented at backend under tc-project-service. Closing.

[2018-09-11 07:12] #2336 closed

[2018-09-11 07:13] RishiRajSahu commented on #2337
Found the related issue  #2336 . Moving this to backlog.

[2018-09-11 07:16] maxceem commented on #2474
@arun1595 I've merged your PR to the `cf12` branch so you can continue working with the changes you've already made.

[2018-09-11 07:16] RishiRajSahu commented on #2328
@gondzo do you have the changes for this to be pushed to dev ?

[2018-09-11 07:27] vigneshTheDev commented on #2320
This is not recommended because this will require checking if the token is expired in many places wherever the getFreshToken is called. This includes all the future uses of the function as well. This moves the concern from a single point to multiple points.
To avoid confusion, can we log it when it's taken from the cache and when actual call is made? Please confirm if we still want to avoid the ca

[2018-09-11 07:30] RishiRajSahu commented on #2216
@vikasrohit I think changes to not allow the user to delete the first post of a topic are in place. can we close this ? or we still have to decide on `first post` or `the only post` ?

[2018-09-11 07:36] vikasrohit commented on #2216
Yes, it can be closed now.

[2018-09-11 07:36] #2216 closed

[2018-09-11 07:38] maxceem commented on #2320
@vigneshTheDev got it. Please, hold on a little bit with this issue I'll look into details you've provided.
Meanwhile, I think you can pick up other issues if you see any available and interesting for you, as looking into this may take a while, but I hope to update on this today.

[2018-09-11 07:52] maxceem commented on #2312
I've just tested this. The issue is now fully resolved as project service was already updated to provided metadata, necessary for RUX designs. I've also fixed a small decoration issue and committed directly to dev.

Fyi @RishiRajSahu

[2018-09-11 08:28] RishiRajSahu commented on #2312
Thanks for the update @maxceem

[2018-09-11 08:28] #2312 closed

[2018-09-11 08:42] RishiRajSahu commented on #2152
Not reproducible anymore. Seems to be fixed with #2126 . Closing.

[2018-09-11 08:42] #2152 closed

[2018-09-11 09:00] RishiRajSahu commented on #2147
@vic-topcoder as we have agreed on not showing progress bar when all phases are delivered here -
https://github.com/appirio-tech/connect-app/issues/2234 , I am closing this issue. Feel free to open a new issue if there are any further changes needed wrt UI when progress bar reaches 100%.

[2018-09-11 09:00] #2147 closed

[2018-09-11 09:47] RishiRajSahu commented on #2102
duplicate of https://github.com/appirio-tech/connect-app/issues/2190

[2018-09-11 09:47] #2102 closed

[2018-09-11 09:49] RishiRajSahu commented on #2190
@deepakanbarasan1 As per design, button should be visible on hover only. won't fix. closing.

[2018-09-11 09:49] #2190 closed

[2018-09-11 09:51] RishiRajSahu commented on #2111
@vic-topcoder
1. Regarding aligned of avatar in post composer its getting tracked here https://github.com/appirio-tech/connect-app/issues/2480
2. Showing user/bot initials incase image is not getting fetched

[2018-09-11 09:51] #2111 closed

[2018-09-11 10:11] suppermancool commented on #2339
@maxceem pls assign to me

[2018-09-11 10:32] maxceem commented on #2339
@suppermancool it's yours since you've commented. To make it more clear I can assign you to this issue in the interface. To do so, please, accept the invitation to this repo which has to pop up to your email. Thanks.

[2018-09-11 11:05] suppermancool commented on #2339
@maxceem i don't see any invitation, can you send me again, i just updated my github email 1 week ago, so i'm not sure . Did it affect my handle on topcoder for this challenge?

[2018-09-11 11:05] suppermancool commented on #2339
my email should be dat.nguyen.supper@gmail.com

[2018-09-11 11:10] maxceem commented on #2339
Ok. I'll check it in a while, meanwhile the issue is on you already. So you
can start working on it.

On Tue, Sep 11, 2018, 19:05 dat <notifications@github.com> wrote:

[2018-09-11 11:27] suppermancool commented on #2339
@maxceem the tooltip should show like this right?

<img width="974" alt="screen shot 2018-09-11 at 6 26 40 pm" src="https://user-images.githubusercontent.com/5815182/45357400-51907400-b5f0-11e8-9c57-c022c80e49a7.png">

[2018-09-11 11:37] suppermancool commented on #2339
@maxceem ready for review on
https://github.com/appirio-tech/connect-app/pull/2500

[2018-09-11 12:08] vikasrohit commented on #2339
@suppermancool Please use the updated copy as mentioned in https://github.com/appirio-tech/connect-app/issues/2339#issuecomment-419791184

[2018-09-11 13:44] maxceem commented on #2339
@suppermancool yes tooltip looks as expected on your screenshot. Please, just update the text as **vikasrohit** mentioned previously in https://github.com/appirio-tech/connect-app/issues/2339#issuecomment-419791184

[2018-09-11 14:14] maxceem commented on #2483
I see it's done by PR https://github.com/appirio-tech/connect-app/pull/2498

@anonymousjaggu please, better comment to the issue when you create a PR as described in the Bag Bush rules published in the challenge spec. As I didn't see any updates here, I was going to unassign you from this issue in two hours :-) This time I saw your PR in the list but could easily miss it.

[2018-09-11 14:41] maxceem commented on #2470
@simranb86 as you didn't provide the update during the last 12 hours I have to open this issue for everyone to pick up.

[2018-09-11 14:50] maxceem commented on #2470
@rashmi73 it's yours.

I've also sent an invitation for you to this repo so I could also assign you to the issues for clearance.

[2018-09-11 14:53] suppermancool commented on #2339
@maxceem @vikasrohit updated in last commit, pls check, thanks

[2018-09-11 15:46] simranb86 commented on #2470
Thanks @maxceem yes working on it.

@maxceem no issues. Sorry couldn't provide since headed to work early morning, just came back and saw the note. BTW, I thought Topcoder Bug Bash always had 24 hrs window to push PR so not sure why you are talking about 12 hours ? Did Topcoder change its Bug Bash rules ?

[2018-09-11 15:47] arun1595 commented on #2474
@maxceem Perfect, I'm on it.

[2018-09-11 15:55] acshields commented on #2337
Hi @RishiRajSahu - I think that this was just a test that Tony was doing on some configurations between Github and Aha.  It can be disregarded.

[2018-09-11 15:58] acshields commented on #2457
I would be interested to hear @kbowerma thoughts on @RishiRajSahu point above.  Does leveraging an extension work in this scenario?

[2018-09-11 16:01] maxceem commented on #2470
@simranb86 For the Bug Bash for Connect App there has been always (as long as I know) rules with the 12h window for PR see https://github.com/appirio-tech/connect-app/wiki/Bug-Bash-Rules. For this particular challenge, we've slightly modified them as participants cannot assign issues themselves, but the 12h window stays as in original Bug Bash rules for Connect App and is also mentioned in the cha

[2018-09-11 19:15] ajefts commented on #2475
@vikasrohit We can actually add hotjar via segment, BUT...we need to switch the way Connect is setup in segment first.  If you can update the segment include to the below then we can handle the rest from segment.

[code]

[2018-09-11 19:33] Gauravseta commented on #2201
<img width="575" alt="2201" src="https://user-images.githubusercontent.com/16337895/45382999-97b4fa00-b627-11e8-8fb4-c45cc887d733.png">

it has been made similar to links color on left side panel.
@maxceem raising PR for it

[2018-09-11 19:41] Gauravseta commented on #2201
@maxceem PR raised

[2018-09-11 20:34] PrakashDurlabhji commented on #2279
@maxceem Pr has been done and in 1st case cross button is taken to the right as discussed in comments above.

[2018-09-12 00:00] arun1595 commented on #2474
@maxceem I am a bit confused with the 2nd point.

Shouldn't it be `templates.productTemplates` given that we've removed `projectState.allProductTemplates` in https://github.com/appirio-tech/connect-app/pull/2494?

[2018-09-12 00:37] maxceem commented on #2474
@arun1595 Yeah, you are right it should be `templates.productTemplates` as `projectState.allProductTemplates` was moved there in the previous issue.

[2018-09-12 00:40] arun1595 commented on #2474
@maxceem Got it, thanks!

[2018-09-12 00:40] maxceem commented on #2474
@arun1595 so looks like you've already done point 3 in the previous issue PR #2494.

[2018-09-12 00:57] KevinLeigh commented on #2185
Hey @maxceem, please see PR here -> https://github.com/appirio-tech/connect-app/pull/2504, sorry it came in a bit late, only got a chance to work on it recently.

[2018-09-12 01:09] maxceem commented on #2470
@rashmi73 there are two more hours left before the end of 12 hours time for task. Please, don't forget to update with a comment if you need more time for this issue, or it would be open for pick up for everybody in 2 hours. Thanks.

[2018-09-12 01:28] maxceem commented on #2476
@RishiRajSahu in another issue there is a task to make mentions bold https://github.com/appirio-tech/connect-app/issues/2201.

After we make mentions not links in this task, should they stay bold? Other words if they are not links anymore, should they be highlighted by styles in some way or look just like a regular text?

[2018-09-12 02:43] sumitdaga commented on #2185
@KevinLeigh
refer https://github.com/appirio-tech/connect-app/issues/2185#issuecomment-418233790

@maxceem  just FYI i am free to take it if at all

[2018-09-12 03:34] maxceem commented on #2470
@rashmi73 no worries, as you've updated on this it will stays on you, you can take your time to finish the issue.

[2018-09-12 03:44] maxceem commented on #2185
@KevinLeigh please, have a look on this comment in the issue https://github.com/appirio-tech/connect-app/issues/2185#issuecomment-418233790. Provided PR doesn't meet the requirement so I've closed it.

Please, let me know if you'd like to continue working on this issue and provide the PR which takes into account the requirements in the comment mentioned above.

[2018-09-12 03:47] maxceem commented on #2185
@sumitdaga thanks. It woul be good if can continue on this just in case. But I'll have to open it for everyone if **KevinLeigh** would be not interested to finish it to follow the Bug Bash rules and keep it fair for everyone.

[2018-09-12 04:42] vikasrohit commented on #2320
Agreed.

[2018-09-12 04:49] maxceem commented on #2419
@jomadoye Please, resolve lint errors before the PR can be merged.

[2018-09-12 04:57] maxceem commented on #2320
@vigneshTheDev thank you for looking into this issue and your feedback. As research for this issue has been done but no fix implementation is required I'm thinking about providing the compensation for this issue as $50 for the research part.
Let me know if it feels fair for you or no. If you have any concerns regarding it please don't hesitate to reach back with your thoughs.

[2018-09-12 04:59] RishiRajSahu commented on #2482
@maxceem Yes as per the requirement both milestones should have consistent alignment of links. Didn't got why it will need javascript for that ?

[2018-09-12 05:04] RishiRajSahu commented on #2476
@maxceem so what we need is -
1.In #2201 it say mentions needs to be bold, which should not be changed
2.As part of this issue we want bold mentions not to contain a href of user profile.

[2018-09-12 05:08] #2337 closed

[2018-09-12 05:16] maxceem commented on #2482
@RishiRajSahu What I mean if these milestones have to be aligned between each other, see screenshot

![align](https://user-images.githubusercontent.com/146016/45403570-c2d23480-b68d-11e8-95b4-8cb315bbea9b.png)

While we can align links inside one milestone using CSS only, I think we cannot do that without JS to align links between two different milestones.

[2018-09-12 05:16] vikasrohit commented on #2475
@ajefts Does this snippet only changes the key of segment or does it change the type of the source in the segment?

[2018-09-12 05:43] maxceem commented on #2091
Note, to test it, we can mark two milestones as completed at the same time which will produce two notifications.

[2018-09-12 05:52] RishiRajSahu commented on #2149
@vic-topcoder not reproducible.

[2018-09-12 05:52] #2149 closed

[2018-09-12 06:12] RishiRajSahu commented on #2482
@maxceem so there are few things which i have noted
- They are two different components used at each places
- Possible way to solve this is by either making two components as similar as possible using styling
- Even after making them similar by using styling there will be an issue when title length is more
- We can use ellipses for long title name if length exceeds beyond the space

[2018-09-12 06:13] vikasrohit opened #2505 "Default bundling to 24 hours for all users"
To reduce the chances of email flood to the customers we are going to set frequency of emails to `daily` from immediate.

fyi @acshields @vic-topcoder

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-476

[2018-09-12 07:53] KevinLeighCrain commented on #2185
Hey All, I am still interested in tackling this issue. I apologize for the late reply, it was after 3 in the morning here and needed some rest.

[2018-09-12 08:42] RishiRajSahu opened #2506 "[$20] Draft phases should not have value other than 0 for progress field"
When the phase is in draft status for more than a day, the `progress` field gets updated with non-zero value.

Expected - Draft phases should always have value 0 for `progress` field.

![screen shot 2018-09-12 at 12 52 24 pm](https://user-images.githubusercontent.com/11248478/45413005-b81b9d80-b695-11e8-924e-d2b6e462ad7a.png)

[2018-09-12 08:43] RishiRajSahu commented on #2506
fyi @maxceem

[2018-09-12 10:13] sumitdaga commented on #2490
@maxceem
can you assign this to me?

[2018-09-12 10:16] rashmi73 commented on #2490
@maxceem can you please also comment at the same time that issue is open for pickup , not just adding label, because when u comment only then we get notified. thanks

[2018-09-12 10:17] Gauravseta commented on #2506
@maxceem assign me thanks

[2018-09-12 10:17] maxceem commented on #2490
@rashmi73 sure, thanks for letting me know.

[2018-09-12 10:19] maxceem commented on #2476
This is one is open for pick up now.

[2018-09-12 10:19] maxceem commented on #2091
This is one is open for pick up now.

[2018-09-12 10:20] PrakashDurlabhji commented on #2476
@maxceem please assign it to me

[2018-09-12 10:20] khushimehta03 commented on #2091
i wish to work on it and complete this time @maxceem

[2018-09-12 10:44] maxceem commented on #2482
@iversonLv There is a couple of edge cases left, please have a look https://github.com/appirio-tech/connect-app/pull/2486#pullrequestreview-154586156.

[2018-09-12 10:55] maxceem commented on #2480
@gurmeetb I've checked your PR, please have a look https://github.com/appirio-tech/connect-app/pull/2493#pullrequestreview-154590660

[2018-09-12 11:34] gondzo commented on #2476
@maxceem @RishiRajSahu post mention being a link is expected in notifications so we should be careful not to break that feature https://github.com/topcoder-platform/tc-notifications/blob/d2e0c71f56a3744cd11516044bd9f9beec7b92a7/connect/connectNotificationServer.js#L72

[2018-09-12 11:46] sumitdaga commented on #2490
@maxceem
its ready for review at PR #2507

[2018-09-12 11:46] maxceem commented on #2466
@PrakashDurlabhji There is an issue with the PR, I've logged it here https://github.com/appirio-tech/connect-app/pull/2495#pullrequestreview-154598957.

Also, the way of implementing it now is not desirable. Please reuse the current approach of controlling the blue line by reusing component `<DotIndicator>`.

So there is no need to edit CSS stules. The way to do it as it's already done for other p

[2018-09-12 11:57] maxceem commented on #2476
Thank you @gondzo for your comment.

@PrakashDurlabhji just to be clear on this we only have to remove links from @menitions inside posts:

![image](https://user-images.githubusercontent.com/146016/45423390-c84b7100-b6c5-11e8-9cba-db44b65b918a.png)

There is `@Parth Customer` is a links now, but shouldn't. You may find this example in the project with id `7298` on the dashboard tab.

@RishiRajSahu

[2018-09-12 12:03] vigneshTheDev commented on #2320
Thank you @maxceem, yes it's fair.

[2018-09-12 12:10] vikasrohit commented on #2476
Good catch @gondzo. Thanks for saving us from a regression. 👍

[2018-09-12 12:48] PrakashDurlabhji commented on #2476
sure will implement same.

[2018-09-12 12:53] PrakashDurlabhji commented on #2466
@maxceem will raise PR again immediately

[2018-09-12 13:48] rashmi73 commented on #2470
@maxceem working on it actively. PR within few hrs just stuck at minor thing

[2018-09-12 14:44] KevinLeigh commented on #2185
@maxceem Hey there, just pushed up changes, I am still using `shouldComponentUpdate` but a much cleaner way which is intended to scale. Let me know what you think.

[2018-09-12 17:08] nahidshahin commented on #2506
@maxceem I want to work on it, please

[2018-09-12 17:10] nahidshahin commented on #2476
@maxceem Want to work on it

[2018-09-12 17:26] maxceem commented on #2506
@nahidshahin Please, claim for issues which are open for pick up. Another participant is already working on this issue.

[2018-09-12 20:11] Gauravseta commented on #2506
@maxceem pls check PR , which is raised

[2018-09-12 21:14] rashmi73 commented on #2470
@maxceem i dont think i will be able to solve it immediately this one, so releasin it and now open for pickup

[2018-09-12 21:15] Gauravseta commented on #2470
@maxceem please give me thanks

[2018-09-13 02:30] maxceem commented on #2185
@KevinLeigh I've reviewed your PR, see https://github.com/appirio-tech/connect-app/pull/2508#pullrequestreview-154903549

It's cool to try to find an unordinary approach. But we would really like to avoid using `shouldComponentUpdate` as in the future while adding new features it would be harder to support it.  While I think it's possible to get it done faster using `shouldComponentUpdate` here we

[2018-09-13 02:42] acshields commented on #2505
Hi @vikasrohit - Great call out.  In rating this through I am in agreement with you that we need to build the capability to select notification per bundling feature prior to go-live.

[2018-09-13 02:46] maxceem commented on #2480
@gurmeetb I've checked your updated PR, please have a look https://github.com/appirio-tech/connect-app/pull/2493#pullrequestreview-154911945

[2018-09-13 05:06] vikasrohit commented on #2505
@acshields It would need time to get that capability done and I am almost certain that we can't do that in this release. So, we have to release with instant email notifications for all new events. However, there is a positive here, we send all emails in single email thread i.e. subject remains same for all emails, so essentially it would group all notification emails in single email thread, so mos

[2018-09-13 05:09] maxceem commented on #2471
@rashmi73 Good start, but only one case out 5 required is currently implemented, refer for datils https://github.com/appirio-tech/connect-app/pull/2496#pullrequestreview-154929810

If you have any questions about other cases, please feel free to ask for clarifications.

[2018-09-13 05:42] maxceem commented on #2489
@RishiRajSahu In the provided PR the placement of the Delete Warning has been slightly changed

![image](https://user-images.githubusercontent.com/146016/45469040-5bce8180-b75a-11e8-991d-423e935e9e66.png)

So it become not the full width as it was before, see https://github.com/appirio-tech/connect-app/issues/2489#issue-358536164

IMHO it's even better now after this change, as all elements are un

[2018-09-13 05:52] maxceem commented on #2482
@RishiRajSahu the issue is fixed as per requirements and PR is merged. The output looks like this fyi:

![image](https://user-images.githubusercontent.com/146016/45469460-36427780-b75c-11e8-8a3c-f438644f3ff6.png)

[2018-09-13 05:55] RishiRajSahu commented on #2489
@maxceem delete phase warning looks good to me just take care of border radius as per the design. If the Activate phase alert is also coming below this dotted line only ? can we have a screenshot of that too ?

[2018-09-13 06:03] RishiRajSahu commented on #2482
@maxceem yeah looks good !

[2018-09-13 06:38] maxceem commented on #2489
@RishiRajSahu

It comes without the dotted line. Though as for me it feels ok, as there are no `Cancel`/`Update Phase` buttons too. So there is nothing to saparate from. And this Warning is shown insdtead of `Cancel`/`Update Phase` buttons rather then next to them.

![image](https://user-images.githubusercontent.com/146016/45470839-c9ca7700-b761-11e8-8b74-f2faa40721f3.png)

Note, warning message a

[2018-09-13 06:41] RishiRajSahu commented on #2489
okay this implementation is fine for now !

[2018-09-13 07:08] maxceem commented on #2489
@amitpatra Your PR is very good, just one small thing, please have a look https://github.com/appirio-tech/connect-app/pull/2497#pullrequestreview-154951142

[2018-09-13 08:03] maxceem commented on #2483
@anonymousjaggu I've reviewed your PR, please have a look https://github.com/appirio-tech/connect-app/pull/2498#pullrequestreview-154966349

[2018-09-13 08:59] maxceem commented on #2339
@suppermancool I've reviewed the PR, please, have a look https://github.com/appirio-tech/connect-app/pull/2500#pullrequestreview-154988041

[2018-09-13 10:02] amitpatra commented on #2489
Yes will fix that issue. Thanks :)

[2018-09-13 10:33] maxceem commented on #2339
@suppermancool thanks for quick update. Merged PR.

[2018-09-13 11:08] maxceem commented on #2091
This issue is now opened for pick due to inactivity.

[2018-09-13 11:11] sumitdaga commented on #2091
Can you assign me ?

[2018-09-13 11:15] PrakashDurlabhji commented on #2476
@maxceem releasing it, docs are not proper of markdown ,trying to understand since long. wont be able to do it. open for pickup now.

[2018-09-13 11:47] suppermancool commented on #2476
@maxceem pls assign to me

[2018-09-13 11:49] RishiRajSahu commented on #2476
@suppermancool assigned to you !

[2018-09-13 11:54] sumitdaga commented on #2091
@maxceem
how to mark a milestone complete?

[2018-09-13 12:59] suppermancool commented on #2476
@RishiRajSahu @maxceem  ready for review in
https://github.com/appirio-tech/connect-app/pull/2510/files

[2018-09-13 14:12] vikasrohit commented on #2475
@ajefts just to confirm, its only about changing the segment source?

[2018-09-13 14:27] vigneshTheDev commented on #2185
Hi, as there is no activity for 12 hours, is it open for pickup? if so, I would like to work on it

[2018-09-13 15:14] maxceem commented on #2091
@sumitdaga you can use this project or create a new one http://local.topcoder-dev.com:3000/projects/7300/plan

- Go to Plan tab (if not yet)
- Open two phases which are `In Progress` state
- There would be milestones which have `Mark as completed` or `Complete Review` buttons which will complete milestones. Note some buttons require one more click to confirm the action.
- Click these two buttons o

[2018-09-13 15:29] maxceem commented on #2185
As @KevinLeigh working on it, I cannot apply the 12h rule here. Because I gave him feedback at an arbitrary time which he cannot control.

If there wouldn't be any update in 24 hours since the feedback, the issue will be opened for pick up for everyone.

@vigneshTheDev just want to mention that I cannot assign you to the issue before the current participant released issue by himself, or issue was

[2018-09-13 15:50] sumitdaga commented on #2091
@maxceem
thats for your input
ok i was able to reproduce just like the demo video you shared  (initially i think the red boxes in the screenshot shared by vic-topcoder confused me)
but i am not sure why this is an issue ...how likely is a user to complete two milestones like that so fast and more over the notification popups dis appear on their own ...
whats wrong with that ?
or may be @vic-topcod

[2018-09-13 22:02] Gauravseta commented on #2470
@maxceem to my assumption, also looking at backend changes required for this issue, comments on backend issue ticket.

To my assumption:
1. I need to remove the call to following method:
"return createPhaseProduct(project.id, phase.id, {
      name: projectTemplate.name,
      templateId: projectTemplate.id,
      type: projectTemplate.key || projectTemplate.productKey,
    })"

rather calling cre

[2018-09-13 22:14] rashmi73 commented on #2471
@maxceem going on work

[2018-09-14 01:17] maxceem commented on #2470
@Gauravseta if I understand your comment correctly - you are right.

Note, that in the title it's just description, not the method name. So we have to remove the additional call for creating a product when we are creating a phase. As we can now create a product together with phase due to a new change in the backend. And I think you've got it right.

Just to resolve possible confusion note, that me

[2018-09-14 01:29] maxceem commented on #2483
@anonymousjaggu There is a couple of small issues with the raised PR. One of them I cannot merge PR because of conflict. Please, let me know if you will be available to resolve them.

[2018-09-14 01:34] maxceem commented on #2466
Due to inactivity, this issue is now open for pick up.

Please, refer for this comment https://github.com/appirio-tech/connect-app/issues/2466#issuecomment-420618772 for the recommended approach to resolve this issue.

Also note, the blue line has to be hidden if only description is shown for the milestone. If there are other elements are going after description the blue should stay as it is.

[2018-09-14 01:44] maxceem commented on #2091
@sumitdaga you have a good concerns regarding the issue.

I cannot find any other real-world case of showing multiple notifications except errors (red notifications) which is not easy to reproduce.

So I made up that demo to be able to reproduce the behavior for testing.

As I it seems to me, there should be some parameter for the plugin which we use to show notifications to allow not more than on

[2018-09-14 01:48] suppermancool commented on #2466
@maxceem pls assign to me

[2018-09-14 01:52] maxceem commented on #2466
@suppermancool done

[2018-09-14 02:06] maxceem commented on #2201
@Gauravseta I've reviewed the PR, please have a look https://github.com/appirio-tech/connect-app/pull/2502#pullrequestreview-155332373

[2018-09-14 02:16] maxceem commented on #2279
@PrakashDurlabhji I've reviewed your PR, please have a look https://github.com/appirio-tech/connect-app/pull/2503#pullrequestreview-155333625

[2018-09-14 02:30] maxceem opened #2511 "[$50] Sidebar jumps when we mark milestone as completed"
When we mark some milestone as completed and loading indicator is being shown, the sidebar jumps, see demo video https://monosnap.com/file/V09BUP4V3RHO3nHKwdnv5TEsNSCH8G

![image](https://user-images.githubusercontent.com/146016/45526215-db1a8e80-b808-11e8-848f-4d0c4596a86a.png)

It happens not always, probably when browser window has been scrolled and we change the last phase's milestone.

Possib

[2018-09-14 02:48] suppermancool commented on #2466
@maxceem ready for review in https://github.com/appirio-tech/connect-app/pull/2512

[2018-09-14 02:55] maxceem commented on #2185
Due to inactivity, this issue is now open for pick up.

[2018-09-14 03:01] arun1595 commented on #2185
@maxceem I would like to take a stab at this issue.

[2018-09-14 03:19] maxceem commented on #2185
Sure @arun1595.

[2018-09-14 04:03] maxceem commented on #2506
@RishiRajSahu provided fix will definitely fix the issue, but I cannot reproduce it to verify.

For example, this project https://connect.topcoder-dev.com/projects/7264/plan has several Draft phases started some time ago, but progress is 0 for them without a fix yet.

I've checked several projects but couldn't find any with such issue, maybe you have any for reference?

[2018-09-14 04:35] maxceem commented on #2466
@suppermancool reviewed the PR, please, have a look https://github.com/appirio-tech/connect-app/pull/2512#pullrequestreview-155350007

[2018-09-14 04:53] suppermancool commented on #2466
@maxceem done, pls check, thanks

[2018-09-14 05:01] RishiRajSahu commented on #2506
@maxceem change the startDate of draft phase to older value and you shouldn't see any change in progress it should be 0 always.

[2018-09-14 05:01] maxceem commented on #2091
@sumitdaga as you are right, that this issue is not clean. Could you please submit your PR to this branch https://github.com/appirio-tech/connect-app/tree/issue-2091 instead of `cf12`. As we would like to keep it separate for now. Thanks.

[2018-09-14 05:18] suppermancool commented on #2476
@maxceem done in the latest commit, pls check, thanks

[2018-09-14 05:21] anonymousjaggu commented on #2483
ok will fix this

[2018-09-14 06:13] vikasrohit commented on #2511
@maxceem I think we got this fixed in CF 11. Can you please check taking latest from dev?

[2018-09-14 06:27] maxceem commented on #2511
@vikasrohit I can still reproduce it for this project https://connect.topcoder-dev.com/projects/7301/plan if I complete milestone in the last phase.

Also, I've pulled the latest div locally and can reproduce the issue too, with the mentioned project.

[2018-09-14 06:35] maxceem commented on #2483
The previous participant didn't resolve merge conflicts and asked to be unassigned.

So this issue is now open for pick up.

[2018-09-14 06:35] vikasrohit commented on #2511
Ohk. Then this might be an edge case for #2422

[2018-09-14 06:40] PrakashDurlabhji commented on #2483
@maxceem can u please assign to me?

[2018-09-14 06:46] maxceem commented on #2201
@Gauravseta FYI. There was a commit done to the `cf12` branch connected to the second part of this issue making `@mention` bold. I think the change in that commit will help you to make mentions bold, see https://github.com/appirio-tech/connect-app/blob/cf12/src/components/Feed/FeedComments.jsx#L288
So don't forget to pull the latests changes from `cf12`.

I think it should be enough to adjust this

[2018-09-14 06:49] Gauravseta commented on #2201
@maxceem sure will see immeditaly

[2018-09-14 07:32] sumitdaga commented on #2091
@maxceem
to show these alerts, this library is being used  https://github.com/juliancwirko/react-s-alert
and i think it is instantiated differently(with different config options) at different places ...so i think its important to first identify what exactly needs to be solved  ... and then solving it should be straightforward enough as the library provides many config options

[2018-09-14 08:10] PrakashDurlabhji commented on #2483
@maxceem Pr raised. please check

[2018-09-14 08:55] maxceem commented on #2091
@sumitdaga I've checked that out, actually it looks like it's configured only in one place for the whole project https://github.com/appirio-tech/connect-app/blob/dev/src/components/Layout/Layout.jsx#L26.
And in other places, we only call actions to show alerts without additional configs.
So, for now, it's ok to make the same behaviour for the whole project. We will keep it in a separate branch for

[2018-09-14 09:16] sumitdaga commented on #2091
@maxceem
ok sorry, i didn't carefully check the library
raised a PR at #2516

[2018-09-14 10:04] maxceem commented on #2091
It's done now in branch https://github.com/appirio-tech/connect-app/tree/issue-2091 for now.

[2018-09-14 14:13] PrakashDurlabhji commented on #2279
@maxceem commented at PR

[2018-09-14 15:30] acshields opened #2518 "[$40] Jumbled/Incorrect Words Appearing in Projects"
Words are becoming jumbled when creating a Connect project on a customers behalf.
<img width="1103" alt="screen shot 2018-09-14 at 11 18 07 am" src="https://user-images.githubusercontent.com/41118149/45559825-5aec2d00-b7f8-11e8-8a29-803875bffa02.png">

(https://connect.topcoder.com/projects/7060)

Aha! Link: https://topcoder.aha.io/features/TCCONNECT-480

[2018-09-14 15:38] arun1595 commented on #2185
@maxceem I didn't have a chance to spend time on this task, caught up with something else. Feel free to open it up for pickup so someone else fixes the issue.

[2018-09-14 16:10] sumitdaga commented on #2185
I will again like to take a look

[2018-09-14 20:52] Gauravseta commented on #2201
@maxceem i am able to transform it into bold for first occurrences , but not if it is repeated again in the line later. working on this as well as my other issue

[2018-09-14 21:34] Gauravseta commented on #2470
@maxceem near to complete it.

[2018-09-15 03:08] maxceem commented on #2279
@vic-topcoder This is how it looks after provided fix:

![image](https://user-images.githubusercontent.com/146016/45581787-606c7480-b8d7-11e8-80b8-30a4978339d6.png)

![image](https://user-images.githubusercontent.com/146016/45581789-6cf0cd00-b8d7-11e8-99ed-04c5912ad4ac.png)

Note. Cross sizes has also became same.

Looks good to me, so I'm merging PR, let me know if there is anything to adjust.

[2018-09-15 03:10] maxceem commented on #2185
@sumitdaga assigned it to you.

[2018-09-15 03:14] maxceem commented on #2201
@Gauravseta ah, good catch. Thanks for having a look on that. Most likely modificator `g` have to be used together with `.exec` method of regexp to find all matches. See https://stackoverflow.com/questions/6323417/how-do-i-retrieve-all-matches-for-a-regular-expression-in-javascript

[2018-09-15 03:32] nahidshahin commented on #2471
@maxceem I want to work on it please

[2018-09-15 03:37] maxceem commented on #2471
it's on you now @nahidshahin

[2018-09-15 05:14] gurmeetb commented on #2471
@maxceem i was in queue first to take over this.

[2018-09-15 05:31] gurmeetb commented on #2471
@maxceem Ah ok, thanks for pointing to the rule, wasn’t aware of that.

[2018-09-15 15:14] sumitdaga commented on #2185
@maxceem  
we can take two approaches ..
a) one is what you suggest, move some functions up the tree and create a new node
b) i think we can move some functions down the tree as well and achieve what we want , because we already have a Feed component in `src/components/Feed/Feed.jsx` which is exactly/(or quite close) to what you want FeedContainer.js to become in the first approach ...  
at least

[2018-09-15 17:00] nahidshahin commented on #2471
@maxceem add PR https://github.com/appirio-tech/connect-app/pull/2520

[2018-09-15 20:37] Gauravseta commented on #2470
@maxceem Pr raised , pls checl

[2018-09-17 01:52] maxceem commented on #2471
@nahidshahin I've made a review, please check https://github.com/appirio-tech/connect-app/pull/2520#pullrequestreview-155767835

[2018-09-17 02:18] maxceem commented on #2470
@Gauravseta I've reviewed the PR, please check https://github.com/appirio-tech/connect-app/pull/2521#pullrequestreview-155769947

[2018-09-17 04:33] nahidshahin commented on #2471
checking

[2018-09-17 05:28] vikasrohit opened #2522 "Need bundling support for email group"
### Expected behavior
User should be able to configure different bundling behaviour per event group e.g. `Post and replies` could be immediate delivery events while `Project plan` events could be bundled by 24 hours.

### Actual behavior
As of now it allows same bundling setting for all events i.e. if user chose to bundle by 24 hours, it would bundle all events by that duration.

### Steps to repr

[2018-09-17 05:28] vikasrohit commented on #2522
fyi @acshields @vic-topcoder @RishiRajSahu  @gondzo

[2018-09-17 05:30] vikasrohit commented on #2468
@gondzo just to close the thread, we are okay with enabled email notifications by default. Only thing is that we need to fix is to allow bundling settings per event group. I have created [issue](https://github.com/appirio-tech/connect-app/issues/2522) to track that.

[2018-09-17 05:30] vikasrohit commented on #2468
Closing the issue as requested feature is implemented

[2018-09-17 05:30] #2468 closed

[2018-09-17 05:35] vikasrohit commented on #2475
@acshields @ajefts I have configured the production instance of Connect to use the `Connect 2` segment source as suggested by Tony. And it started to pick the events. However, it was not getting the page events for internal route changes which are essentials for SPA and it used to work in past but I don't know when it stopped working (I guess, when last time we upgraded react and react-router, it

[2018-09-17 14:36] acshields commented on #2522
@vikasrohit - Love the design and logic outline above.  I just went into Connect to try & find how to access the Notification Settings page from a project and I couldn't locate it.  I assumed it would be under Profile/Settings.  Where is it?

[2018-09-17 15:59] sumitdaga commented on #2185
@maxceem
as we discussed on slack ( and also came on conclusion that this cannot be achieved without `shouldComponentUpdate` or making prompt global ) ...i have raised a PR along the lines of my suggestion ... PR is at #2523

note that its still work in progress and i just wanted to more or less show you how i think i will go about it .. so, for now i have applied fix only when you try to edit pos

[2018-09-17 19:27] vic-topcoder commented on #2492
@acshields - this is more of a product question - should we allow managers to modify links after delivery to customer?

I think from UX perspective you should keep the editing capability to allow for error recovery. This means keep the same editing mode - pen icon to the right of the link.

[2018-09-17 19:31] vic-topcoder commented on #2484
Let's fix the CSS styles of the buttons. I'd like to keep using the SVG icons and build a straight logical system for small circular buttons. Right now the styles break. This means going with @maxceem's suggestion for **point 2**.

The correct SVG should be already in the project assets folder, no?
[small plus and minus 16px.zip](https://github.com/appirio-tech/connect-app/files/2389971/small.plus

[2018-09-17 19:34] vic-topcoder commented on #2481
@acshields - this is a question about process. Please correct me if I'm wrong, but we don't want to add extensions to customer-specific interaction. The customer just HAS to do the selection, they can't ask for extension, as we record WHEN they did the selection. So - for selecting designs, there is no extension for any user role.

[2018-09-17 19:40] vic-topcoder commented on #2479
I'm a bit confused as of why we have to submit for review at this point. Probably let's make sure we have a unified flow for all project types, and update the welcome message text to represent that. @acshields assigned for your input on the issue.

[2018-09-17 19:41] vic-topcoder commented on #2478
I'd say yes. @acshields what do you think?

[2018-09-17 19:44] vic-topcoder commented on #2477
Discussions should always be active when the customer can see it. It makes sense to be able to compose a message and then switch the phase into Planned phase, but that's probably overdoing it.

I'd say - let's hide the discussion until a phase is in Planned or further state.

This ticket originally addressed a different issue - the automatic first post in the thread. We DON'T WANT an automatic fir

[2018-09-17 19:49] acshields commented on #2478
Yes, agreed.

[2018-09-17 19:51] acshields commented on #2479
Let's talk this over tomorrow morning, as this step is confusing me as well.  IMO, once a customer submits a new project intake form (where they answer scope questions), the project should automatically be submitted for review.  I want to make sure I am not misunderstanding the flow.

[2018-09-17 19:54] acshields commented on #2479
Also @vikasrohit, I understand your point above about potentially having additional scope questions after intake in the future.  I think the outcomes of the Connect product summit from last week (that I will share tomorrow morning) will help cover some of the strategy we hope to see in the future for this type of scenario.  In short, on this topic there are two questions: 1) Why is the project not

[2018-09-17 19:57] acshields commented on #2481
I would agree, @vic-topcoder

[2018-09-17 19:59] acshields commented on #2492
I think its fine to have the ability to modify links after delivery to the customer. Is a notification triggered to the customer regarding changed links, even after the project is complete? @vikasrohit @vic-topcoder

[2018-09-17 20:10] vic-topcoder commented on #2457
Had a quick call with Kyle, his feedback is:

There are 2 possible solutions to the problem:

A. Allow change of dates on a timeline while in Active state as well, but lock them once phase is delivered (Kyle's ask).
B. Train and explain that a project phase should be set to Active only when the customer is ready to start the work (not desired).

The question is really what is the process we want t

[2018-09-17 20:15] vic-topcoder commented on #2492
I'm not sure if we cover any timeline events with notifications. @vikasrohit ?

[2018-09-17 20:28] Gauravseta commented on #2481
@maxceem  any more open for pickup anytime soon? thanks

[2018-09-17 20:33] gondzo commented on #2522
@acshields click the notifications icon, click all notifications and then click the notifications settings button

[2018-09-17 20:36] vic-topcoder commented on #2344
Yes - the line should be there to indicate unread notifications. Only for projects I'm member of, I guess, as we do not keep track of non-member notifications per project.

All are correct; also milestone status change inside a phase (milestone is active, completed, the customer can interact with the milestone now, ready for acceptance).

[2018-09-17 20:40] acshields commented on #2457
@vikasrohit @vic-topcoder @RishiRajSahu  - How does **Option A** impact the risk to mismatch/discrepancy in date related data that Rishi brought up above?

[2018-09-18 00:19] maxceem commented on #2481
@Gauravseta We don't plan to open for pick issues soon as current Bug Bash is almost finished.

[2018-09-18 00:32] maxceem commented on #2457
@acshields
As I understood from this comment https://github.com/appirio-tech/connect-app/issues/2457#issuecomment-417362194 of **kbowerma**. The main case when managers want to change start date is if a project was formally started but in reality they wait for customer get ready.
Maybe we can modify the approach **A** and let managers change `startDate` of the phase as long as **NO** milestone is

[2018-09-18 03:36] maxceem commented on #2185
@sumitdaga I've checked it https://github.com/appirio-tech/connect-app/pull/2523#pullrequestreview-156194066

[2018-09-18 04:57] vikasrohit commented on #2477
@vic-topcoder @acshields I still not fully convinced with this feature requirement. It is very common to use the discussions in draft phase well because copilots and managers can discuss things before activating the phase for customers. If we hide the discussions in draft mode, we would encourage the copilots and managers to use other modes of communication (outside of Connect) to discuss things b

[2018-09-18 05:02] vikasrohit commented on #2492
@acshields @vic-topcoder we are incorporating timeline and milestone events in upcoming release, however, those will be limited to milestone completion, milestone activation and milestone waiting for customer input events. It requires more analysis and discussions to raise events on data modification of already completed milestones because it might trigger too many notifications to the customers a

[2018-09-18 05:04] vikasrohit commented on #2478
@RishiRajSahu unblocked this issue for next CF challenge as now we have answers for the questions.

[2018-09-18 05:17] vikasrohit commented on #2481
@vic-topcoder @acshields first thing is that we are not showing the `Request Extension` button for customers. And the reason why managers/copilots might need the extension button is that we are using the `checkpoint-review` and `final-designs` milestones in two different ways, one is where we are asking manager/copilot to add the design links to review and another where we add `add-links` mileston

[2018-09-18 05:30] vikasrohit commented on #2479
The reason we are confused here is because we haven't thought complete picture when we did changes for separating the old Specification form into Scope and Phase Specification. Even we are not yet done with #2161 and #2162 which are essentially what makes the logic of `Submit for review` button, realistic. I am not in support of hide UI elements in one release and bring it back in near future rele

[2018-09-18 05:48] vikasrohit commented on #2344
@maxceem I think the only missing piece here is `ready for acceptance` thing as `customer can interact with the milestone now` is essentially the `waitingForCustomer` event for which we already have [support](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/events/busApi.js#L456) in project service. And I am not sure about that as well. @vic-topcoder Could you please elaborate

[2018-09-18 05:58] RishiRajSahu commented on #2457
@acshields the mismatch/discrepancy I was pointing is as below -
1. Suppose today is 17th Sept and phase startDate was of 15th Sept.
2. Suppose first milestone is completed already which has startDate of 15th Sept and endDate of 16th Sept.
3. Second Milestone is in progress since the completion of first milestone.

Now, as per the requirement of kyle if user updates the startDate of phase to 17th

[2018-09-18 06:52] maxceem commented on #2344
@vikasrohit we implemented setting `waitingForCustomer` in a way which includes all the cases when we are waiting for customer reaction see https://github.com/appirio-tech/connect-app/issues/2471#issuecomment-418969657

Including the case `ready for acceptance`. Let me know if some cases are desirable.

[2018-09-18 06:56] vikasrohit commented on #2344
@maxceem Thanks for pointer. Now I understood what Vic meant by `read for acceptance`, so I think we are covered now as we have implemented the logic for sending the notification whenever `waitingForCustomer` flag is set to true.

[2018-09-18 16:43] vic-topcoder commented on #2492
I would think that if a final deliverable link is updated there's a reason for it. Not sure if we're actually changing the package (new version of deliverables - have to notify customer) or just changing the location (same package - customer doesn't need a notification). For the time being, let's not add the notification on editing the final deliverable link. Just focus on making the link editable

[2018-09-18 16:52] acshields commented on #2492
I am good with your proposal above @vic-topcoder

[2018-09-18 16:58] acshields commented on #2457
Thanks @RishiRajSahu.  Explanation above makes sense - Agreed we should lock the change in start date once first milestone is marked as complete.

[2018-09-18 17:01] vic-topcoder commented on #2479
Ok, so project submit after creation would have to be removed alongside the new project creation flow. Going forward we are requiring all users to be identified (registered) before they can complete a project. This means we must cover the cases of existing TC members creating a new project (not customers), and existing customers without business details. Given the fact we collect this information

[2018-09-18 17:06] vic-topcoder commented on #2477
Exposing managers-only discussion to customers is not great either. I think this is a deeper discussion on how we build connect to be the default communication platform.

[2018-09-18 17:15] acshields commented on #2479
@vikasrohit - Thanks for the explanation above.  That helps.  I definitely understand the desire to not overwhelm managers with spam projects.  Given @vic-topcoder's point above regarding the new registration process, do you think this will help to deter spam projects? (i.e. we can determine business customer vs. TC users).

Also, Vic raised two good points to me separately.

1. For existing custo

[2018-09-18 19:55] acshields commented on #2522
Hi @vikasrohit @vic-topcoder - Per our conversation this morning:

1. I liked the second option you showed me (where the user can select which notification types they want bundled, but they can only set one cadence for the bundles to be sent). See design above.

2. We need to add language/direct link to the notifications tab that indicates to the customer that they have the option to modify notifi

[2018-09-18 20:35] vic-topcoder commented on #2522
There are certain notifications we should make standard (always on) for the web, and there are some that might be optional. I want us to review what notifications are optional and what do they deliver to the end customer. We might want to expand the notification options for the managers and admins as well.

Certain notifications should also be updating the tab title: from `Topcoder Project` to `(4

[2018-09-19 03:08] maxceem opened #2524 "[$50] Use productCategories instead of projectTypes for product classification"
## Overview

When we add a new phase to a project we see the list of products which is divided into categories:

![image](https://user-images.githubusercontent.com/146016/45727864-1ac1eb80-bbf8-11e8-9f3f-ef7bc74536a4.png)

It suppose to use `productCategories` to devide products into these sections and show titles of the sections. But instead it uses `projectTypes` now.

![image](https://user-imag

[2018-09-19 04:46] vikasrohit commented on #2524
@maxceem  last instance of `templates.projectCategories` in above statement should be `template.projectTypes`

I didn't understand the second requirement to rename projectCategories to projectTypes. I think we need both projectTypes and productCategories.

[2018-09-19 04:58] vikasrohit commented on #2492
@RishiRajSahu unblocked the issue as requirements are clear now.

[2018-09-19 05:01] maxceem commented on #2524
@vikasrohit yeah, it all about confusion brought by the terms we are using `projectCategories` vs `projectTypes`.

Currently, in our code and Redux Store we have only `templates.projectCategories` which is now being used on the "add a new phase" popup:

![image](https://user-images.githubusercontent.com/146016/45731530-a5134b00-bc0a-11e8-801f-bb6ae3ba0754.png)

Note, it's **project***Categories* n

[2018-09-19 05:05] vikasrohit commented on #2477
Okay @vic-topcoder @acshields  Let us know what is the final direction we should go for.

[2018-09-19 05:28] RishiRajSahu commented on #2457
@maxceem we are all clear with the requirements now.

[2018-09-19 05:29] #2506 closed

[2018-09-19 05:29] maxceem commented on #2457
@RishiRajSahu yes, it's clear now.

[2018-09-19 05:30] #2488 closed

[2018-09-19 05:30] #2483 closed

[2018-09-19 05:30] #2482 closed

[2018-09-19 05:30] #2480 closed

[2018-09-19 05:30] #2476 closed

[2018-09-19 05:31] #2472 closed

[2018-09-19 05:31] #2471 closed

[2018-09-19 05:32] #2470 closed

[2018-09-19 05:32] #2466 closed

[2018-09-19 05:32] #2419 closed

[2018-09-19 05:32] #2339 closed

[2018-09-19 05:32] #2320 closed

[2018-09-19 05:32] #2279 closed

[2018-09-19 05:32] #2201 closed

[2018-09-19 05:46] vikasrohit commented on #2479
I don't think new registration process is going to reduce the  spam if remove the `Submit for review` button. Its all about having a second step to confirm the project before we post it to the slack channel for managers. Otherwise, we have to just be ready for spam projects because it is very easy to give fake details in registration form and fake answers in project intake form. It is a trade off,

[2018-09-19 05:50] vikasrohit opened #2526 "Better position for Notification settings link"
Continued from https://github.com/appirio-tech/connect-app/issues/2522#issuecomment-422529049

@vic-topcoder 's comment

There are certain notifications we should make standard (always on) for the web, and there are some that might be optional. I want us to review what notifications are optional and what do they deliver to the end customer. We might want to expand the notification options for the

[2018-09-19 05:51] vikasrohit commented on #2522
@vic-topcoder Moved the notification settings discussion to a separate issue #2526  to keep the scope of the issue lean.

[2018-09-19 06:08] vikasrohit commented on #2522
For this option here is the final UI what it look like

![notification_settings_bundling_option2](https://user-images.githubusercontent.com/2417632/45733741-7d6ab580-bbff-11e8-9bb3-970d6810af9d.png)

I collected data from production database about usage of web notifications and found that only one user (apart from @vic-topcoder 😬 ) has opted out for few web notifications. Event that user has not d

[2018-09-19 09:37] vikasrohit commented on #2505
@acshields I am able to get the bundling per notification group, working. #2522 details the requirements and solution.
Hopefully we should be able to get it in our upcoming release.

[2018-09-19 09:38] vikasrohit commented on #2484
@RishiRajSahu please remove the Blocked status if we have the requirements clear now.

[2018-09-19 09:39] vikasrohit commented on #2465
@maxceem I think we are done with the fix for this issue, right?

[2018-09-19 09:40] vikasrohit commented on #2179
Looping in @acshields

[2018-09-19 09:43] maxceem commented on #2465
@vikasrohit no, it wasn't included in the recent CF as didn't have time to clarify it for myself. I'll update on it soon, and will fix myself if it's needed asap.

[2018-09-19 09:54] vikasrohit commented on #2465
Okay. It would be great if we don't have anything pending in terms of requirements and you can close it by tomorrow morning.

[2018-09-19 11:18] maxceem commented on #2465
@vikasrohit most of things are clean and I'm currently implementing it.

Only two things: so far we don't pre-load feeds for dashboard and always reload them when we come to the dashboard. It causes two undesired behaviours:
1. on the Project Plan tab we don't have feeds loaded, so now we have to change it, and loads all the feeds to show their list on the Project Plan tab
2. we have to stop reloa

[2018-09-19 11:27] vikasrohit commented on #2465
Isn't this `projects/:projectId/plan#phase-${phaseId}-posts` url automatically taking care of this?

Didn't completely understand the issue here. You mean, there would be an extra load or there would be an error?

[2018-09-19 11:43] sumitdaga commented on #2185
PR #2523 is finally ready for review!

[2018-09-19 11:49] maxceem commented on #2465
@vikasrohit let me start from the beginning to make sure we are on the same page here.

Our goal: show list of `Discussions` (from dashboard) and `Phase Topics` together in one list on the sidebar for both tabs: `Dashboard` and `Plan`, like this:

![sidebar](https://user-images.githubusercontent.com/146016/45751276-787c2500-bc44-11e8-838b-5c2cac9315af.png)

We can easily achieve it on Dashboard ta

[2018-09-19 11:55] maxceem commented on #2465
@vikasrohit

Point 2.
Imagine if point 1 from previous comment is resolved now.
Let's say we are on the Plan tab and we want to click to the link, which leads to some topic in the `Discussion` on the Dashboard tab.

So far, evey time when we switch to Dashboard tab, `Discussions` are being re-loaded. That's why when we click on the some link on the sidebar from Plan tab it will look like this: htt

[2018-09-19 14:11] acshields commented on #2505
@vikasrohit - Awesome!

[2018-09-19 14:15] acshields commented on #2526
Hi @vic-topcoder & @vikasrohit - Thanks for the mockups, I think these look great and meet the need I identified for the user to have a more intuitive pathway for modifying their notification settings.

[2018-09-19 14:36] acshields commented on #2479
Hi @vikasrohit - Understood on your point regarding the need for review after project submission.  I am trying to think if there is anything we can build into the process to help pre-screen submissions prior to sending data to Salesforce/Hubspot that would reduce the screening workload/timeline.  Let's talk through this and Pts. 1 & 2 from above tomorrow.

[2018-09-19 15:48] vic-topcoder commented on #2526
So - let's add the link for Settings as the right-most item on the top of the drop-down menu. The structure will be `Mark all as read • Settings`. This should be extremely easy to do @vikasrohit

[2018-09-19 15:58] vic-topcoder commented on #2522
The interface is slightly confusing with the emails, as the best way is to actually allow certain emails to be bundled vs. certain emails arriving as they happen. If we want to allow granularity of email bundling we should replace the 2 switches with a simple drop-down to control both subscription to email and email frequency:

Desktop:
![screen shot 2018-09-19 at 8 56 56 am](https://user-images.g

[2018-09-19 17:23] ajefts opened #2528 "test"
This is a test

[2018-09-19 17:33] mtwomey opened #2529 "test"
This is a test

[2018-09-19 17:33] mtwomey commented on #2529
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1283536

[2018-09-19 17:39] mtwomey opened #2530 "test2"

[2018-09-19 17:39] mtwomey commented on #2530
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1283580

[2018-09-19 17:41] ajefts opened #2531 "test 3"
This is test3

[2018-09-19 17:42] ajefts commented on #2531
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1283586

[2018-09-19 17:43] ajefts opened #2532 "test4"
This is test4

[2018-09-19 17:43] ajefts commented on #2532
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1283592

[2018-09-19 17:43] #2531 closed

[2018-09-20 02:29] maxceem commented on #2465
@vikasrohit done via PR https://github.com/appirio-tech/connect-app/pull/2533

Dome video https://monosnap.com/file/Bop71SmiPM7QSDYY6DjdxZRWlTlITL

Note. The only one major change was done to existent behavior.
Before: every time we go to the Dashboard tab - feeds are reloaded.
After: when we go to the Dashboard tab - feeds are NOT reloaded.
It's done so the navigation between these two tabs is sm

[2018-09-20 02:35] maxceem opened #2534 "Enable source maps for production if possible"
Follows this one https://github.com/appirio-tech/connect-app/issues/2435

Comment from @vikasrohit:

[2018-09-20 02:35] maxceem commented on #2435
@RishiRajSahu this is already in dev branch and can be closed.

Created a follow up issue https://github.com/appirio-tech/connect-app/issues/2534

[2018-09-20 02:36] maxceem commented on #2429
@RishiRajSahu this is already in `dev` branch and can be closed.

[2018-09-20 02:57] maxceem commented on #2344
@RishiRajSahu added an option to sort projects by the latest activity via PR https://github.com/appirio-tech/connect-app/pull/2535

![image](https://user-images.githubusercontent.com/146016/45793267-e9165680-bcc3-11e8-92ee-944a4353c620.png)

[2018-09-20 06:19] vikasrohit commented on #2522
@vic-topcoder Seems like a good option to achieve granular control over cadence of email bundling. However, I have already made changes for the screen I have shared and these changes are not something only UI specific, we need to make backend aware of these as well so that it can read the correct setting and respond accordingly. To store bundling at per notification group level, we need to throw a

[2018-09-20 07:14] RishiRajSahu commented on #2429
@maxceem thanks for bringing it to attention.

[2018-09-20 07:14] #2429 closed

[2018-09-20 09:47] maxceem opened #2536 "Detect Redux Store mutations in development mode"
## Overview

There are many ways to unintentionally mutate Redux Store state. It can be done inside reducers or just inside components which is even harder to track.

### Issues of mutating Redux Store
- Mutated store leads to bugs which hard to notice and track. Store is used by many components, we can silently mutate it in one component and get issue in another component.

- In some cases workin

[2018-09-20 14:46] vic-topcoder commented on #2522
This is a UX pattern I grabbed from a different place, to not redo it with our UI Kit. This is a conversation starter and based on what Ariel and you guys say we can go forward

[2018-09-20 17:32] acshields commented on #2479
Hey there - Recapping our conversation:

1. We are going to modify the welcome language.
Coder the Bot2:17 pm
Hello, Coder here! Your project 'App design sample test project' has been created successfully. If you already have a document with your requirements, just verify it against our checklist and then upload it on the Scope section. Once you're ready, hit the "Submit for Review" button on the

[2018-09-20 20:17] acshields opened #2538 "Azure Ask the Expert REF Code"
Possible Bug: when ref code is copied from the URL into Connect, it is not copying to SalesForce.

Expected Behavior: When the customer is directed from Azure marketplace to the Ask the Expert offering in Connect, the REF code should copy directly into Connect and Salesforce.

Actual Behavior: REF code is not getting copied into Salesforce.

[2018-09-21 00:31] vic-topcoder commented on #2522
@acshields please indicate any content changes to the notification title and description, otherwise the content can be selected in Handoff state of the Marvel link.

Updated visual specification for desktop: https://marvelapp.com/3e3085h/screen/48110584

Icons .SVG pack
[notification settings icons.zip](https://github.com/appirio-tech/connect-app/files/2403487/notification.settings.icons.zip)

Pre

[2018-09-21 23:05] Gauravseta commented on #2470
@maxceem @gondzo  this is not paid yet. is it going to reflect in my account some time later?

[2018-09-21 23:05] Gauravseta commented on #2506
@maxceem @gondzo this is not paid yet. is it going to reflect in my account some time later?

[2018-09-22 02:58] maxceem commented on #2506
@Gauravseta it's in the process now, I'll update on this shortly when it has to appear on your account.

[2018-09-22 11:47] maxceem commented on #2470
@Gauravseta has to be paid now, please check.

[2018-09-22 11:48] maxceem commented on #2506
@Gauravseta has to be paid now, please check.

[2018-09-22 11:59] Gauravseta commented on #2506
@maxceem thanks.it is visible now.

[2018-09-24 10:30] maxceem commented on #2522
Have a couple of questions regarding new design:
1. Would you like to make Select dropdown as per design here? Or reuse existent design for Select dropdown?
   ![image](https://user-images.githubusercontent.com/146016/45947616-85738c80-c027-11e8-9fb2-e3bca9de3abf.png)
   ![image](https://user-images.githubusercontent.com/146016/45947625-902e2180-c027-11e8-9d00-69dd68b74452.png)

2. Switch buttons

[2018-09-24 10:54] vikasrohit commented on #2522
@maxceem both components should be reused, no need to implement new ones right now.

[2018-09-24 12:57] maxceem commented on #2344
@RishiRajSahu I've fixed the user which is displayed when we sort by activity. Now the correct user is being shown instead of updatedBy user - fyi.

[2018-09-24 17:26] gondzo opened #2540 "[$150] Country selection - select by keyboard"
- [ ] Country selection doesn't support selecting by keyboard
- [ ] Country selection dropdown should not have horizontal scroll

[2018-09-24 21:38] vic-topcoder commented on #2522
@maxceem Please follow the design for the drop-down (select) component; it is important to match with the design. Reuse the functionality of the components. The On/Off labels are secondary at this point. Thanks!

[2018-09-25 05:09] maxceem opened #2541 "Cannot find notification rule for eventType"
There is an error in console:
[code]

NOTE. Because of this error all notifications are not shown.

There are two things to fix:
1. Add rule for `notifications.connect.project.post.deleted` version `2`.
2. I think code shouldn't fail when there is no appropriate rule for notification. Probably better to log warning using `console.warn()` instead of throwing an exception in such cases.

[2018-09-25 05:15] vikasrohit commented on #2522
@vic-topcoder We don't have time for this release to use the new design and behaviour for the dropdown and when we do it, we have to do it across the board, so it is a time consuming process. Right now we are sticking with whatever look we have in our application for the dropdowns.

[2018-09-25 05:31] maxceem commented on #2541
@vikasrohit @RishiRajSahu

After looking closer into this, I'm not sure, that above I suggested the correct way to handle it.

This notification type `notifications.connect.project.post.deleted` previously wasn't added `tc-notifications`. Could you please share any details what should we do with this notification type in connect app?

[2018-09-25 05:48] vikasrohit commented on #2541
@maxceem I was doing some changes around events in `tc-notifications` and `tc-project-service`. Also, made some changes in `tc-message-service`, however, didn't explicitly made any changes for this particular event. I would check and let you know how we want to handle this.

[2018-09-25 05:58] maxceem commented on #2541
@vikasrohit

we don't have notifications for topics deleted either.

we can, but not sure if that would be desired way. For post updates we show notifications like this:
- `<strong>{{userFullName}}</strong> edited post`
- or when bundled: `{{#showMore __history__ 3}}<strong>{{fallback userFullName userHandle}}</strong>{{/showMore}} edited {{bundledCount}} posts`

Do you want it to be shown similla

[2018-09-25 06:48] maxceem opened #2543 "Profile links are linked to the DEV site on PROD site"
On the production Connect site links in user tooltips are linked to DEV site instead of PROD site.

![screenshot from 2018-09-25 09-08-50](https://user-images.githubusercontent.com/146016/45997344-d6d85600-c0d1-11e8-9501-0999daec35c6.png)

For example this can be seen in this project https://connect.topcoder.com/projects/5562 when hover users in the left sidebar.

[2018-09-25 07:11] vikasrohit commented on #2522
@maxceem Please leave the system notifications section out of scope as well.

[2018-09-25 07:32] maxceem opened #2544 "Uncaught Error: The token is invalid"
On the DEV environment, I've started getting `Uncaught Error: The token is invalid`.

This error causes the blank page to be shown without the ability to do anything:

![image](https://user-images.githubusercontent.com/146016/45996761-ece51700-c0cf-11e8-9567-59e46d34144f.png)

Here is source code where it happens:

![image](https://user-images.githubusercontent.com/146016/45996798-1140f380-c0d0-11

[2018-09-25 09:43] RishiRajSahu commented on #2344
thanks @maxceem I have made the changes to make `Last Updated` reflect the changes as per the field `lastActivityAt` .

[2018-09-25 10:07] RishiRajSahu opened #2545 "Notify user via blue bar aside the project on project listing page (grid view)"
Need to show blue bar aside the project row to notify the user about the activity in the project.

Ref - https://github.com/appirio-tech/connect-app/issues/2344

[2018-09-25 10:08] RishiRajSahu commented on #2545
fyi - @maxceem

[2018-09-25 10:11] maxceem commented on #2545
@RishiRajSahu

1. Do I understand it correctly that we show this line when user has any kind of notification related to the project?
2. When do we hide this blue line for a project?
    - a) when all notifications are seen
    - b) when all notifications are read
    - c) when a user opened project? - for this case I think we don't have a backend support.

[2018-09-25 10:33] RishiRajSahu commented on #2545
1. Yes we need to show in case there is any activity happened for the project
2. if `a` and `c` are different ? do we have support for `a`

[2018-09-25 10:56] maxceem commented on #2545
2. We have support for `a`. I'm not sure if this feature is 100% reliable but it's there. Also it's supported by the DB:
      ![image](https://user-images.githubusercontent.com/146016/46010178-5840e000-c0f4-11e8-9b48-2578ceb03fbb.png)

The difference between `a` and `c`. That `a` is marking each of notifications as `seen` in some conditions like opening notifications dropdown. While in `c` I was

[2018-09-25 14:38] RishiRajSahu commented on #2457
@acshields I understand we came on consensus earlier but as proceeded to make changes I'm still not feeling fully convinced about allowing changing the startDate once the phase is activated.
we have two different date data associated with milestone/phase `startDate` and `actualStartDate`, In **draft/planned** status phases we update both dates but once the phase is active we set the `actualStartDa

[2018-09-25 20:03] vic-topcoder opened #2546 "Admins & managers should be able to edit phase properties once the phase is active"
### Expected behavior
Admins should be able to edit properties of a phase at all times, or delete phases. There are mistakes that happen and right now there's no way to correct them once a phase is active.

Admins should be able to (for any status of a phase):
- Change status of a phase
- Delete phase

### Actual behavior
Phase is locked for all uses once it becomes active.

[2018-09-25 22:12] vic-topcoder commented on #2457
I would like to make things clear going forward with phase and timeline. I have the chance to work with project plans in production, and it makes quite a sense to do the following:

When you plan a phase start, you do not actually indicate that the work is started. Currently we call this date `phase start date`. If we keep it as intended start date, and not actually mapping this to any milestone a

[2018-09-26 06:51] #2435 closed

[2018-09-26 07:38] RishiRajSahu commented on #2545
@maxceem okay got your point, also got the understanding `seen` and `read` -
1.**Read** - If after opening notification dropdown user `checks` a single notification or `mark all as read`
2.**Seen** - On click of a notification respective page is opened

Now the question arises is,
suppose if user has more than one updates on the project and on seeing the blue line as soon as clicks project, is red

[2018-09-26 08:40] RishiRajSahu commented on #2465
Closing as working fine, verified on dev.

[2018-09-26 08:40] #2465 closed

[2018-09-26 08:42] RishiRajSahu commented on #2544
@maxceem I think there was an active development work going on in account app that time due which it might have caused this issue. if it got reproduced any time after that ?

[2018-09-26 09:01] maxceem commented on #2544
@RishiRajSahu I saw it today in another browser, but probably the page was loaded yesterday. I'll check one more day and will let you know.

[2018-09-26 11:46] vikasrohit commented on #2544
That means for some request(s), it is not refreshing token before making a call?

[2018-09-26 11:52] maxceem commented on #2544
That was a very strange issue. I think it didn't come to place for a refreshing token. As I even couldn't log out when that error happened, only clean the cookies helped.

I think that situation which happens here is not handled by a `try catch` so when this error happens, code stops.

But as Rishi said, there was some work done that time, so probably some situatations which aren't suppose to happ

[2018-09-26 11:56] maxceem commented on #2544
@RishiRajSahu I'm facing this error again right now in the browser I was actively working with.

![image](https://user-images.githubusercontent.com/146016/46078262-37e15600-c1c6-11e8-9cc4-e4f0b2466c36.png)

[2018-09-26 11:58] maxceem commented on #2544
The same time I was logged in another browser using another user, but this error didn't happen to me there. So looks like it's not caused by otter changes.

Maybe as @vikasrohit suggested, token is not refreshed in some reason or refreshing causes such error.

[2018-09-27 06:33] RishiRajSahu commented on #2526
done with https://github.com/appirio-tech/connect-app/commit/3f7c2f9ba911fd2727b4a859671596ce1361ce54. @vic-topcoder @acshields, could be verified in dev.

[2018-09-27 07:06] RishiRajSahu commented on #2454
@vic-topcoder please provide inputs on this.

[2018-09-27 07:42] deepakanbarasan1 commented on #2344
Working fine on development  environment

[2018-09-27 07:42] #2344 closed

[2018-09-27 08:57] RishiRajSahu commented on #2430
@maxceem I am also in favour of keeping it default populated with last link

[2018-09-27 09:01] RishiRajSahu opened #2553 "Delay bar should be shown for every milestone"
Whenever there is delay in milestone completion the delay bar should be shown as an alert to notify about the delay. Right now not all milestones support this feature.

[2018-09-27 09:06] maxceem commented on #2430
@RishiRajSahu ok do you think we just leave everything as it is, or make it same for all the cases:
1. Currently in `add-links` milestone link value is refreshed with empty after adding the first link. Only after adding the second one it, value keep staying there. Should we make it since first link? Or just leave it for now as it is.
2. We also may add links in *old-style* `checkpoint-review` and

[2018-09-27 09:13] RishiRajSahu opened #2554 "Newly Added phase is not correctly setting startDate when all the remaining phase are active"
![screen shot 2018-09-27 at 2 39 57 pm](https://user-images.githubusercontent.com/11248478/46135838-c48e2180-c263-11e8-9a14-49c30393fec9.png)

Newly Added phase should have startDate as 1 day more than the latest endDate of all the phases present on the project plan page irrespective of status. But right now when  all the remaining phases are active new phase is not honouring latest endDate to set

[2018-09-27 09:31] maxceem commented on #2484
To sum up:
1. We already have an SVG for ["+"](https://github.com/appirio-tech/connect-app/blob/dev/src/assets/icons/ui-16px-1_bold-add.svg) and ["-"](https://github.com/appirio-tech/connect-app/blob/dev/src/assets/icons/ui-16px-1_bold-delete.svg) signs in project.
2. We can reuse these SVGs to recreate + and - buttons in [MilestonePostEditText](https://github.com/appirio-tech/connect-app/blob/dev

[2018-09-27 09:35] maxceem commented on #2478
Just to confirm, only customers have to see active phases expanded, for other user roles, phases are collapsed as now, correct?

[2018-09-27 09:38] RishiRajSahu commented on #2478
@maxceem As the actual impacting entity due to this behaviour is customer only so Yes.

[2018-09-27 09:43] RishiRajSahu commented on #2430
if this is the case, we should either keep it since first link or not at all.

Yeah there are multiple places where we add design links, not sure if keeping the same behaviour at all places will be a good UX

@vic-topcoder @acshields thoughts ?

[2018-09-27 10:13] maxceem commented on #2272
To sum up:
1. on mobile we should always show the edit icons for milestones (not only on hover). Note, only powerful user can see it now and it shold be like that.

      ![image](https://user-images.githubusercontent.com/146016/46139333-db8f3c80-c280-11e8-94ee-d4bbce3e0038.png)

    - but don't show blue background

2. when clicking edit on mobile we should show edit form full screen, similar to

[2018-09-27 10:34] maxceem commented on #2478
@Gauravseta Yes there will be the next challenge in some time soon, but no exact date yet. Issues marked as "cf-pipeline" are under inner work. They may be included into the challenge or they could be also canceled, changed or postponed.

[2018-09-27 10:42] maxceem commented on #2553
@RishiRajSahu some milestones don't have a progress bar which shows the rest time (prgoress), for example `phase-specification`:

![image](https://user-images.githubusercontent.com/146016/46140697-61f94d80-c284-11e8-9588-36bda90714fa.png)

1. Should we show the delay bar only when such milestones without progress bar are delayed:

    ![image](https://user-images.githubusercontent.com/146016/46140

[2018-09-27 10:44] RishiRajSahu commented on #2553
@maxceem

Yes, For milestones without progress bar show it only after being delayed otherwise not.

[2018-09-27 11:27] vikasrohit commented on #2450
For now we can close it. Possibly it is fixed with #2449 and https://github.com/appirio-tech/connect-app/commit/70c9e85cb83017844d9de46cc83252bf24128938

[2018-09-27 14:42] vic-topcoder commented on #2454
We should switch to the minimal layout mode if possible: label on top of fields so we can use the maximum space available, example:
![screen shot 2018-09-27 at 7 41 56 am](https://user-images.githubusercontent.com/8484061/46153903-e3bb8d80-c228-11e8-9c5c-edb47545f075.png)

[2018-09-27 14:50] vic-topcoder commented on #2546
I imagine there are 2 cases:
- Put the execution on hold, pause the phase;
- Restart the phase.

Depending on the cases or what we decide, we can go 2 ways about the data:

- Don't change the data, just the status. On becoming active we continue with execution.
- In case of restart, drop the existing milestone status, "reset" the status of all milestone and keep only the duration and modified mile

[2018-09-27 21:55] vic-topcoder commented on #2430
Keeping the value of the link makes it error-prone; users can create a link without updating the link ID. If we're building a feature to add Marvel prototypes what would be a better approach is to remove the repetitive part of the URL, and just accept the Marvel project ID. As sharing a link is easier than copy-pasting the project ID, I would rather not repeat the URL value through adding a link,

[2018-09-27 21:57] vic-topcoder commented on #2272
I'd like that, yes, for all 3 points.

[2018-09-28 02:52] maxceem commented on #2544
What I found out so far:
- Error happens in `decodeToken` function:

    ![image](https://user-images.githubusercontent.com/146016/46185021-d5de3900-c30a-11e8-9586-f855d25b5a35.png)

- It appears that the token is set to `undefined` string in some reason. So code thinks it has a token and tries to decode it but actually it doesn't.

   ![image](https://user-images.githubusercontent.com/146016/4618

[2018-09-28 02:59] maxceem commented on #2544
I see two ways to solve it:
1. Try to find out why token can become `undefined` and fix it. But it can be hard to find out as code is deployed as a separate application and it could be hard to test it locally I guess.
2. Adjust code of `accounts-app` so in case of invalid token it treats user as `non-logged-in` and shows login form. As now, the only way to login back is to clear coockies. Solving

[2018-09-28 05:37] vikasrohit commented on #2544
@maxceem I think @gondzo is also facing the similar issues in this release. We need to find the root cause asap.

[2018-09-28 05:44] maxceem opened #2555 "[$30] When we edit milestone but didn't make any changes, "Update milestone" button has to be disabled."
### Expected behavior
When we edit a milestone but didn't make any changes, `Update milestone` button has to be disabled.

### Actual behavior
Now when we just click edit button and open edit form, we already can click `Update milestone` even without making any changes.

![image](https://user-images.githubusercontent.com/146016/46189947-ebac2800-c323-11e8-93e8-5cd8077561c2.png)

@RishiRajSahu if i

[2018-09-28 05:44] vikasrohit commented on #2546
These kind of requirements makes code more error prone because we have to add specific field specific logic. I am always in favour of keeping things simple and not to complicate things. Even in case of super important features,  I would like to find a simple way around instead of making things complicated because if that feature is super important and its implementation is complicated, it is highl

[2018-09-28 05:54] maxceem opened #2556 "Show warning about loosing changes when user want to leave the page/tab"
Currently, we show warning in many cases when a user made some changes but didn't submit them and is trying to leave the page.

![image](https://user-images.githubusercontent.com/146016/46189322-a20e0e00-c320-11e8-8d06-4637a9610956.png)

### We already show the warning when:
- User started entering a new topic on `Dashboard` tab, but didn't post it.
- User started entering a new comment to a topic

[2018-09-28 05:55] #2526 closed

[2018-09-28 06:03] maxceem commented on #2544
@vikasrohit is it possible to get information regarding which version of `accounts-app` is deployed for DEV and PROD environments?

![image](https://user-images.githubusercontent.com/146016/46190695-2fecf780-c327-11e8-8bd9-32d9c66a2889.png)

[2018-09-28 06:09] RishiRajSahu commented on #2450
@vikasrohit yeah verified it on dev with few projects. Working fine.

[2018-09-28 06:09] #2450 closed

[2018-09-28 08:50] gondzo commented on #2544
@maxceem feature/login flow is on dev now
Master is on prod

On Fri, Sep 28, 2018, 08:03 maxceem <notifications@github.com> wrote:

[2018-09-28 09:33] maxceem commented on #2553
The full list of components where we have to show a progress bar only when the milestone is delayed:
- [MilestoneTypePhaseSpecification](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/timeline/milestones/MilestoneTypePhaseSpecification/MilestoneTypePhaseSpecification.jsx)
- [MilestoneTypeCheckpointReview](https://github.com/appirio-tech/connect-app/blob/dev/src

[2018-09-28 09:56] maxceem commented on #2544
Ok, I see there were some changes done to login flow in `accounts-app` so I guess I'm leaving this issue for @gondzo as he is aware of the context of the changes.

Or let me know if you'd like me to reach to the winner of the challenge https://www.topcoder.com/challenges/30070946?tab=details who made the majority of the changes.

[2018-09-28 09:58] gondzo commented on #2544
I've reviewed the changes made there and didn't find anything that could cause this. There are no changes to connector iframe. Here is the PR to dev -> https://github.com/appirio-tech/accounts-app/pull/196

[2018-09-28 10:50] maxceem commented on #2544
I went thtough that PR and also cannot see anything which can cause such issue. Hmm...

[2018-09-28 10:54] gondzo commented on #2544
maybe identity api issue? If you manage to reproduce it again, can you check the last response from https://api.topcoder-dev.com/v3/authorizations/1

[2018-09-28 14:30] gondzo commented on #2358
fixed and merged to dev

[2018-09-29 04:19] vikasrohit opened #2559 "Copy `Submit for Review` button to the dashboard"
As follow up for #2417 we are going to copy the button at dashboard as well, to allow them quickly submit the project.
@vic-topcoder Could you please let us know a better place in the dashboard for the button?

**NOTE:** @vic-topcoder  @acshields  Implementing this would have side effect in future when we add more questions, which we don't ask on project creation form, to the project scope section

[2018-09-29 04:57] vikasrohit commented on #2358
Closing as working as per requirements.

[2018-09-29 04:57] #2358 closed

[2018-09-29 04:58] vikasrohit commented on #2358
fyi @vic-topcoder @acshields for now it using `+` icon instead as we have already got changes for that. We can do quick fix after the release for the new design where we are directly showing the file upload component in the left panel.

[2018-09-29 05:16] vikasrohit opened #2560 "[$80] Host the new email template images in Connect app instead of third party"
Right now we are using third party to host couple of images used in the new email template of connect notifications. We should move them to connect-app itself as soon as possible.

fyi @gondzo @RishiRajSahu

[2018-09-29 05:17] vikasrohit opened #2561 "Need to use different icons for different notification groups"
As of now, we are using the same icon/image, which actually depicts only text/messaging notifications, for each notification group. Ideally, we should be using specific icons for each of the notification group.

fyi @gondzo @vic-topcoder @acshields @RishiRajSahu

[2018-10-01 07:04] vikasrohit commented on #2522
Closing as required features are completed and will create new issues if any issues/enhancement needed.

[2018-10-01 07:04] #2522 closed

[2018-10-01 07:11] vikasrohit commented on #2541
@maxceem closing this issue for now so as you have handled the missing notifications already, we should create separate issues for specific missing notifications to discuss more specifically. Please feel free to create new ones as you find them.

[2018-10-01 07:11] #2541 closed

[2018-10-01 07:11] vikasrohit commented on #2505
Done.

[2018-10-01 07:11] #2505 closed

[2018-10-01 07:33] maxceem commented on #1985
@vikasrohit I'll check if there are any cases missed.

[2018-10-01 14:02] RishiRajSahu opened #2564 "Left panel on dashboard is showing updated date instead of creation date"
Left panel should show creation date aside the `created` label instead of updation date.

[2018-10-01 14:28] maxceem opened #2567 "[$40] Sometimes notification dropdown is not opened on click"
Sometimes when clicking the notification bell icon on the right top corner, notification dropdown is not open and it looks like this:

![image](https://user-images.githubusercontent.com/146016/46294511-8c227680-c5c8-11e8-86a6-6cb407136154.png)

It looks like it can happen every second time, one click opens notifications drop-down, another click doesn't open it, see demo video https://monosnap.com/

[2018-10-01 14:28] RishiRajSahu commented on #2564
fixed with https://github.com/appirio-tech/connect-app/commit/4914b977b11a8970c8c6ea7819bb5c926c1ab745

[2018-10-01 14:28] #2564 closed

[2018-10-01 14:31] RishiRajSahu commented on #2567
@maxceem yeah but that only happened for me in the case when i had inspect tool opened or closed it just after inspecting some div , otherwise wasn't able to reproduce. could you refresh the page then try reproducing it ?

[2018-10-01 14:38] maxceem commented on #2567
@RishiRajSahu yes, for this project now I can always reproduce it https://connect.topcoder.com/projects/3981

- Open project in a new tab
- Dev tools are closed
- One click on the bell opens drop-down normally
- I click aside to close it
- Another click doesn't open it, same like shown in the video

[2018-10-01 14:44] maxceem opened #2568 "[$20] Avatars in user tooltips are not loaded"
Avatars in user tooltips are not loaded, even though users have avatar defined:

![image](https://user-images.githubusercontent.com/146016/46295714-5337d100-c5cb-11e8-9bcc-d5f3f440259b.png)

In the browser console I see:

![image](https://user-images.githubusercontent.com/146016/46295737-621e8380-c5cb-11e8-9a75-a565e4ec06cb.png)

So looks like size is not defined for these avatar URLs.

fyi @Rishi

[2018-10-01 14:49] maxceem opened #2569 "Avatar of Coder the Bot is not loaded from CDN (dev and prod)"
Avatar for `Coder the Bot` is not loaded in both `dev` and `prod` environments when Coder the Bot post some messages:

![image](https://user-images.githubusercontent.com/146016/46296012-f7217c80-c5cb-11e8-8114-18b9691568a2.png)

In the browser console:

![image](https://user-images.githubusercontent.com/146016/46296039-06a0c580-c5cc-11e8-9f68-a5fe61f3dd92.png)

Request URL
[code]

Response: Error

[2018-10-01 14:56] maxceem opened #2570 "Cannot find notification rule for eventType 'notifications.connect.project.topic.deleted' version '2'"
Follow up for https://github.com/appirio-tech/connect-app/issues/2541

`tc-notifications` service now supports notification type `notifications.connect.project.topic.deleted` but so far it's ignored by `connect-app` frontend and is not shown in the web-notifications. Should we show it somehow or just keep ignoring?

fyi @vikasrohit

[2018-10-01 15:02] maxceem opened #2571 "Should we send email notifications about deleted topics?"
Now `tc-notifications` supports notifications about deleted topics `notifications.connect.project.topic.deleted`. And when some topic is being deleted we get notifications by email that topic was deleted:

![image](https://user-images.githubusercontent.com/146016/46296710-95faa880-c5cd-11e8-84d0-33adbc5dc74b.png)

There is a `View post on Connect` button which is a link to deleted topic `https://c

[2018-10-01 22:01] vic-topcoder commented on #2561
By design, we have several different icons for notifications already designed (part of the original notifications project)
![global-notifications-project---account-view---pm---n2](https://user-images.githubusercontent.com/8484061/46318133-5068bc00-c58a-11e8-8ba9-aa40abe81725.png)

We have several existing icons right now. @acshields - let's review what type of notifications we have and if we need

[2018-10-01 22:07] vic-topcoder commented on #2559
The button should be part of the "Files" module. Either strategy is ok with me - reuse current style from scope tab, but scaled down to fit the sidebar, or a button:

[2018-10-01 22:09] vic-topcoder commented on #2559
@acshields - FYI

I think to get this out of the door we can start with the simple button (use the XS size), and it would trigger current Filestack experience

[2018-10-01 22:13] gondzo opened #2572 "Product brochures"
In the new project creation wizard design we have a link to product brochures. It is removed for now as we don't yet have the actual pdfs.

![image](https://user-images.githubusercontent.com/3051646/46318747-d52df700-c5d7-11e8-86f0-fac526f1660d.png)

@vic-topcoder @acshields do we have plans for creating the brochures?

[2018-10-01 22:18] vic-topcoder opened #2573 "Add file upload to the side menu - design"
Let's add the file upload capability to the side menu - currently with a + button. These are the The button should be part of the "Files" module. Either strategy is ok with me - **reuse current style** from scope tab, but scaled down to fit the sidebar:
![screen shot 2018-10-01 at 3 04 58 pm](https://user-images.githubusercontent.com/8484061/46318551-c15ca380-c58b-11e8-898c-ddba8d2d310f.png)

 **o

[2018-10-02 23:23] vic-topcoder opened #2574 "[$50] Disable multiple actions possible while adding a link on a milestone"
### Expected behavior
While the manager is adding a link to a milestone, no other controls are visible/can be used, to reduce the possibility of an error.

### Actual behavior
All controls are available during adding a link (design checkpoint). In particular the Milestone controls "mark as completed" "request an extension" should be hidden while adding a link is active.
![screen shot 2018-10-02 at

[2018-10-03 02:04] maxceem commented on #2544
Got it.

Before `Uncaught Error: The token is invalid` there is a request failed with 401:
[code]
response:
[code]

So the whole process looks like this:
- we call `getFreshToken` https://github.com/appirio-tech/accounts-app/blob/e6b3e3aa3775c5e13683e2ccbdb768bf3a9ade37/core/auth.js#L88
- if token is expired it calls `refreshToken` https://github.com/appirio-tech/accounts-app/blob/e6b3e3aa3775c5e1

[2018-10-03 02:14] vikasrohit commented on #2544
Great!! Very good catch. I don't think those lines should be there for any
use case. It seems like it is left over of local testing by the winner of
the challenge.
@gondzo still want to make sure if really need those lines at all.

@mtwomey fyi

On Wed, Oct 3, 2018, 7:34 AM maxceem <notifications@github.com> wrote:

[2018-10-03 03:17] maxceem commented on #2455
To sum up.

The whole list of notification types when we have to add a cue to `Timelines` tab is:
- `connect.action.timeline.adjusted`
- `connect.action.timeline.milestone.transition.active`
- `connect.action.timeline.milestone.transition.completed`
- `connect.action.timeline.milestone.waiting.customer`

All of these notififications with mentioned types we will mark as read when we open `Timelines

[2018-10-03 03:31] maxceem commented on #2454
To sum up:

1. For > 1024px:

    ![align-102](https://user-images.githubusercontent.com/146016/46388491-0523ea00-c6ff-11e8-9588-3c5cc4e77a7f.png)

    - align labels and fields without using magic numbers, width for "columns" can be defined through

2.  < 1024:

     ![](https://user-images.githubusercontent.com/8484061/46153903-e3bb8d80-c228-11e8-9c5c-edb47545f075.png)

    - switch to minimal l

[2018-10-03 03:48] maxceem commented on #2177
@vikasrohit for now it doesn't work as expected in this issue.

Here is a demo where `customer` made one more comment but `manager` doesn't see it after clicking on the notification https://monosnap.com/file/PZzZ0p1vOv6QWQwUNxe194xGQGMof9

Note, before the fix for the issue https://github.com/appirio-tech/connect-app/issues/2465 I think this could work automatically but not anymore.

Before fix fo

[2018-10-03 03:52] maxceem commented on #2153
@vic-topcoder I think we should make the same behaviour for Phase tabs as it looks same and they use the same component:

![image](https://user-images.githubusercontent.com/146016/46389086-9d6f9e00-c702-11e8-9e6e-c9b07e9ee908.png)

Let me know if it's not desired in some reason.

[2018-10-03 04:53] vic-topcoder commented on #2153
Yes, all tabs should behave the same (consistency). Great observation @maxceem

[2018-10-03 05:45] RishiRajSahu commented on #2455
@maxceem yeah the list looks good, however other than above events, i found few milestones events as well -
`connect.action.timeline.milestone.added` NOT NEEDED
`connect.action.timeline.milestone.removed` NOT NEEDED
`connect.action.timeline.milestone.updated` NEEDED

out of which we can use `connect.action.timeline.milestone.updated` for showing timeline cue, as for remaining two we haven't yet pr

[2018-10-03 05:53] maxceem opened #2575 "[$150] Notifications about posts in Phases are not handled correctly"
When we make a comment in some Phase `Discussions` tab other users are getting a notification about it.

### Expected behavior
- When we click such notifications it has to
   - go to `Project Plan` tab
   - scroll to appropriate Phase
   - expand Phase
   - open`Discussions` tab
   - make sure that related comment is visible
- The notification has to be marked as `read` when we open a `Discussions

[2018-10-03 06:02] RishiRajSahu commented on #2454
@maxceem yeah looks good to do that way. thanks @vic-topcoder  !

[2018-10-03 06:02] maxceem commented on #2455
@RishiRajSahu as far as I see neither of these events are now handled by `tc-notifications` https://github.com/topcoder-platform/tc-notifications/blob/dev/connect/constants.js or `connect-app` https://github.com/appirio-tech/connect-app/blob/dev/src/routes/notifications/constants/notifications.js

`connect.action.timeline.milestone.added`
`connect.action.timeline.milestone.removed`
`connect.action

[2018-10-03 07:10] maxceem commented on #1985
@vikasrohit I think I've got some idea how we can handle it generic way based on our discussion above.

We already have:
- When we click on notification we have to redirect user to the place where he can see the subject of notification. This is based on https://github.com/appirio-tech/connect-app/blob/dev/src/routes/notifications/constants/notifications.js#L14-L20

So we can connect `NotificationR

[2018-10-03 07:16] maxceem commented on #1985
@vikasrohit in the future maybe we can continue the same convention and use this approach to target componentns very precisely. For example:
- We want to show user a particular comment in particular phase when he clicks notification about new comment in a Phase.
- For such notifications we can add addtional precise GOTO path `GOTO.PHASE_COMMENT` like `/projects/{{projectId}}/plan#phase-{{phaseId}}

[2018-10-03 08:50] maxceem commented on #2545
@RishiRajSahu yep, your right regarding `read` and `seen` work.

Regarding two approaches:

Yes, looks like this is not what we want to achieve in many places. For example, in the https://github.com/appirio-tech/connect-app/issues/1985 we want to mark notifications as read  only when user reach the subject of the notification.

I also think we should keep doing it this way. So as I understand it m

[2018-10-03 08:51] maxceem commented on #2554
I think this one has the same reason as https://github.com/appirio-tech/connect-app/issues/2477 so they have to be handled together.

[2018-10-03 08:52] maxceem commented on #2467
I think this one has the same reason as https://github.com/appirio-tech/connect-app/issues/2554 so they have to be handled together.

[2018-10-03 09:30] maxceem commented on #2544
@vikasrohit I've checked your commits for this issue https://github.com/appirio-tech/accounts-app/commit/11254bb7a0172fac4df2fc724c3c791e637e15b2

I think all the 3 lines have to be removed as the whole change which was done during work on that feature is the next:
https://github.com/appirio-tech/accounts-app/pull/196/files#diff-4b785ed24c4ee6da77c088d63be9e6fdR43
Otherwise the error will still ha

[2018-10-03 09:35] vikasrohit commented on #2544
Ohk, Thanks. I have made the changes. 👍

[2018-10-03 10:32] maxceem commented on #2544
To keep track, here is a comment from **diazz** who made the changes regarding the `loginFlow` and 3 lines:

because user don't have permission for getting user info, so the result will have status 401 but it's success
i think i can handle the error at updateUserInfo function
but it need time for debugging
you can remove the
if (json.result.success && json.result.status === 401) {
             ret

[2018-10-03 11:00] RishiRajSahu opened #2576 "[$30] Restore Coder the Bot avatar"
continued from https://github.com/appirio-tech/connect-app/issues/2301

[2018-10-03 11:02] RishiRajSahu opened #2577 "Do not allow more places to be selected within the same design."
When a place was selected (final designs), do not allow more places to be selected within the same design. To reproduce: make sure you have 5 designs, select paces from 1 to 3, select an additional design, remove first place

![screen shot 2018-10-03 at 4 31 37 pm](https://user-images.githubusercontent.com/11248478/46406637-d3744880-c729-11e8-8e6d-6d66a7f1b60c.png)

ref - https://github.com/appiri

[2018-10-03 11:02] maxceem commented on #2576
Looks same as https://github.com/appirio-tech/connect-app/issues/2569 so we can close one these.

[2018-10-03 11:09] RishiRajSahu opened #2578 "[$20] Checkboxes are not using the standard border"
![screen shot 2018-10-03 at 4 33 27 pm](https://user-images.githubusercontent.com/11248478/46406718-19c9a780-c72a-11e8-8f6c-49762e542d77.png)

continued from https://github.com/appirio-tech/connect-app/issues/2301

[2018-10-03 16:43] acshields commented on #2574
@vic-topcoder - agreed with design choice.

[2018-10-03 16:48] acshields commented on #2572
@vic-topcoder - I am connecting with Marketing on this rn and will get back soon.

[2018-10-03 19:06] vic-topcoder commented on #2301
@RishiRajSahu - the button text changes during different states. It should stay the same:
"Add link" becomes "Add a link".
![screen shot 2018-10-03 at 12 04 37 pm](https://user-images.githubusercontent.com/8484061/46433020-a3ff1500-c704-11e8-9d3b-032c60b2fd99.png)
![screen shot 2018-10-03 at 12 04 31 pm](https://user-images.githubusercontent.com/8484061/46433021-a3ff1500-c704-11e8-8ff2-d3fa1a3c4de

[2018-10-04 04:56] vikasrohit commented on #2574
@maxceem I think requirements are clear and we can include in this our next CF challenge.

[2018-10-04 05:12] maxceem commented on #2578
@vic-topcoder could you please clarify here what is the exact mismatch which has to be fixed.

I've compared implementation with marverl design https://marvelapp.com/8a94680/screen/41372918/handoff
- unselected checkboxes looks like complitely match design
- selected checkboxes has one difference: checkboxes in design doesn't have any border, so blue color continues instead of border. While in imp

[2018-10-04 05:13] RishiRajSahu commented on #2301
thanks @vic-topcoder

[2018-10-04 05:16] RishiRajSahu opened #2580 "[$20] Adding link for final fixes button text is different in states."
the button text changes during different states. It should stay the same:
"Add link" becomes "Add a link".

![complete2](https://user-images.githubusercontent.com/11248478/46454195-a9229980-c7c2-11e8-8027-16094b06775b.png)
![complete](https://user-images.githubusercontent.com/11248478/46454207-b049a780-c7c2-11e8-838a-d9b34889a2d1.png)

continued from https://github.com/appirio-tech/connect-app/iss

[2018-10-04 05:18] RishiRajSahu commented on #2301
Closing as all the action items are divided into issues and completed/tracked there.

[2018-10-04 05:18] #2301 closed

[2018-10-04 05:36] maxceem commented on #2569
@vikasrohit yes, I think it can be done via code only. Also, Rishi logged it too https://github.com/appirio-tech/connect-app/issues/2576 so I'm closing this one, as it's duplicate.

[2018-10-04 05:36] #2569 closed

[2018-10-04 05:50] RishiRajSahu commented on #2427
This seems to be fixed with the latest changes in dev, not reproducible on dev anymore. Closing.

[2018-10-04 05:50] #2427 closed

[2018-10-04 05:58] RishiRajSahu commented on #2554
working fine on dev. closing

[2018-10-04 05:58] #2554 closed

[2018-10-04 05:59] RishiRajSahu commented on #2467
working fine on dev. closing.

[2018-10-04 05:59] #2467 closed

[2018-10-04 06:08] vikasrohit commented on #2568
Related issue https://github.com/appirio-tech/connect-app/issues/2576

[2018-10-04 06:12] vikasrohit commented on #2559
Just for the sake of doing it right in first attempt, @vic-topcoder could you please share a quick mock for this? There are different possibilities in placing the button in description section itself.

[2018-10-04 06:19] vikasrohit commented on #2561
@vic-topcoder the current icons are mostly related to individual notification while when we send an email to the user, it uses icons for a group of notifications which are mostly 1:1 mapping with notification settings group (please note there are few exceptions to this though e.g. Phase changes are also listed in the project plan section of the email notification).
<img width="534" alt="screen sho

[2018-10-04 07:05] vikasrohit opened #2581 "Empty lines in notification emails"
### Expected behavior
Should handle the missing notification type in email template gracefully by not including the empty lines.

### Actual behavior
It is rendering empty line when we don't have specific notification type handled in the email template.

### Steps to reproduce the problem
- Just observe the emails for project plan related changes.

### Screenshot/screencast
<img width="600" alt="s

[2018-10-04 07:05] vikasrohit commented on #2581
fyi @gondzo

[2018-10-04 07:30] vikasrohit commented on #2571
@maxceem I think it is okay to redirect to the topic at least because user would know that a user has deleted a message from that topic. However, I would like to defer it to the product team @vic-topcoder @acshields .

[2018-10-04 09:18] maxceem commented on #2571
@vikasrohit yes, but I think this notification is about deleted **topic** not **post**. Not sure if we can show user something in this case.

[2018-10-04 10:11] vikasrohit commented on #1985
@maxceem this is something we want at present as well, but didn't implement it because of constrained timeline. 😬

However, your plan sounds promising to me. Only thing, I would like to tweak, if possible, can we emit redux actions to mark a notification read (payload containing the data like `goTo`, `projectId` etc) instead passing the actual notifications to the `NotificationReader`? That way it

[2018-10-04 10:28] maxceem commented on #1985
@vikasrohit I'm not sure if it will work for all the cases. One of the things I was thinking about, that `NotificationReader` will check new notifications and if there are any new which match the criteria, it will mark them as `read` as well. For this we have to connect `NotificationReader` to the store, so it always knows if there are any changes. Otherwise, we can only mark notifications as `rea

[2018-10-04 10:31] JayaDhaka opened #2584 "[$20] Hyperlink text should be blue instead of black in Discussion posts of a connect project"
Issue description: The links within Discussion posts on Connect projects does not show up in blue colour and looks same as other text, basically limits the viewer to avoid inferring it as a clickable link. Please check and fix.

Connect project link: https://connect.topcoder.com/projects/7222

Screenshot:
<img width="375" alt="screenshot 2018-10-03 at 10 29 15 pm" src="https://user-images.githubus

[2018-10-04 10:39] maxceem commented on #2185
There are many things appears to be tights together. And it could be that direct refactoring would be too wast and thus prone to errors.
So I guess we will try to approach it from the other side and will try to move out things one by one by smaller portions keeping the functionality.
And maybe only at last refactor `FeedContainer` to remove re-renders.

The PR was closed without merging and could

[2018-10-04 13:55] vic-topcoder commented on #2578
Checkbox border when selected - we should use $tc-dark-blue-110, not silver (screenshot below) design vs. implementation:
![screen shot 2018-10-04 at 6 52 25 am](https://user-images.githubusercontent.com/8484061/46478689-5f29bb80-c7a2-11e8-881f-ffd026197e94.png)
![screen shot 2018-10-04 at 6 53 56 am](https://user-images.githubusercontent.com/8484061/46478691-605ae880-c7a2-11e8-917e-0c92b4aea971.p

[2018-10-04 14:35] vic-topcoder commented on #2559
@acshields We have to modify the language to really guide the users, but the layout should be something like this:
![screen shot 2018-10-04 at 7 33 59 am](https://user-images.githubusercontent.com/8484061/46481291-ec234380-c7a7-11e8-8be2-097aa9bc3acc.png)

[2018-10-04 14:37] vic-topcoder commented on #2561
For project team changes - I'm not sure if we want to send notifications when people join or leave the team at this point, especially when a lot of managers join a project team from Topcoder. Customers have a hard time figuring out why there are so many managers & copilots on their project.

We'll create a new table to map icons and notifications and will update the ticket further :)

[2018-10-05 05:33] vikasrohit commented on #2559
@acshields Can we have the updated language as well please? I would like to cover both changes in single attempt.

[2018-10-05 05:40] vikasrohit commented on #2584
@maxceem this could be wrapped in upcoming CF challenge. I think we need to relax the CSS rule for making the hyperlinks blue to not compulsory have `<p>` as parent. Right now, it is showing correct color for hyperlinks for some other messages in the same project and the reason is that hyperlink is contained within a `<p>` in those message while it is not in this particular case. So, I guess relax

[2018-10-05 05:45] RishiRajSahu opened #2585 "Project Listing Page - ES results not returning member data for a project"
On Listing Page customer and managers fields are not getting populated due to not presence of members data in the Indexed Project.

WIP on backend side and tracked here - https://github.com/topcoder-platform/tc-project-service/issues/189

[2018-10-05 07:07] vikasrohit commented on #2544
@mtwomey We have already applied this patch to the production couple of days ago.

[2018-10-05 07:14] vikasrohit commented on #2177
@maxceem I guess you linked wrong demo video in the comment. However, I do understand the issue here. Can we reload the topic in the FeedContainer when we see the `#` in the URL? I mean if the URL has `#comment-2345`, can just refresh the topic of the comment? I think doing that in only `componentWillMount` would work as ideally if the user is already on the same page where the notification leads

[2018-10-05 07:31] vikasrohit commented on #2455
Yes, @maxceem we need to listen events and store in database before they can reach to connect app. And that is the tricky part, because we don't want to show these notifications in connect app.

[2018-10-05 08:29] vikasrohit commented on #2430
Considering the complicity involve in enabling the type specific link acceptance, as @vic-topcoder  suggested, I would rather go for clearing the URL when user adds a new link i.e. just simply fix the original issue.

fyi @acshields @RishiRajSahu

[2018-10-05 08:35] vikasrohit commented on #2574
@maxceem Great documentation there in Wiki.

Could we keep the blue line as is until `Add Link` is clicked and when the button is clicked, show the blue line till the `Add Link` and `Cancel` buttons. I think there would be a jump in any case because we are showing two/three new text boxes in the milestone when adding link.

[2018-10-05 10:16] maxceem commented on #2574
@vikasrohit with our current implementation of blue line it would be a little bit hacky but we can do that.

Currently, we only can put a blue point at the center of some component. As a component for adding links `LinkList` is one component together with buttons `Add Link` and `Cancel` this will currently look like this:

![blue-line-ex](https://user-images.githubusercontent.com/146016/46529300-9

[2018-10-05 10:39] maxceem commented on #2580
@vic-topcoder is there any other cases where would you like to apply the same approach:

1. `Add specification` !== `Add link`:

    ![image](https://user-images.githubusercontent.com/146016/46530322-f5a5cc00-c8cb-11e8-80b4-8e0e6f64c273.png)

    ![image](https://user-images.githubusercontent.com/146016/46530335-fdfe0700-c8cb-11e8-93ab-da4034b462d1.png)

2. `Add a desgin link` !== `Add a link`:

[2018-10-05 10:55] vikasrohit commented on #2574
Ohk, I guess I was overthinking. I would delegate it to @vic-topcoder as usual to get design decisions.

[2018-10-05 16:45] vic-topcoder commented on #2574
Please do not change the design at this point.

[2018-10-05 16:49] vic-topcoder commented on #2580
Correct - the label of the button should be consistent:

"Add specification link", "Add design link" as call to action (first instance, open interface to add link). Title of modal is the same as button label:

"Add specification link", or "Add design link"
buttons: "Cancel",  "Add link"

[2018-10-05 17:05] acshields commented on #2572
I chatted with Marketing and they would prefer if the link lead to case studies: https://www.topcoder.com/about/customer-stories/

The language should ready: "Learn more about Topcoder's impact helping our customers achieve amazing results."

[2018-10-08 04:59] vikasrohit commented on #2572
@acshields I am not sure if customer stories are good here because these links should ideally change when user change the category from the options and intent is to show a guide or brochure of that particular product and if change the link to customer stories, it would link always to the same page for every offering. In such case, these customer stories should be linked out side of offering specif

[2018-10-08 06:38] maxceem opened #2586 "PostCSS Loader warning in browser console"
Since recently, there are multiple warnings in browser console from PostCSS Loader:

[code]

![image](https://user-images.githubusercontent.com/146016/46597727-e31dd380-cb13-11e8-883e-4823aa50c219.png)

[2018-10-08 08:54] #2586 closed

[2018-10-09 02:36] maxceem commented on #2574
@vic-topcoder the main question here is where should blue line point when we hide **Mark as Completed** and **Request extension** buttons, as by default blue line points at them:

`MilestoneTypePhaseSpecification`:
![image](https://user-images.githubusercontent.com/146016/46458054-16e0bc80-c7e7-11e8-8428-d72766bc5893.png)

`MilestoneTypeProgress`:
![image](https://user-images.githubusercontent.com

[2018-10-09 04:16] maxceem opened #2587 "Dev Tools on Chrome is extremely slow when exploring style of elements"
Currently, if we open Dev Tools in Chrome and try to explore styles of some DOM element it would be extremely slow and almost unusable even when page is very simple, see demo video https://monosnap.com/file/XioCK0r1F6oxEEvLnvgW11XTC91IlC

Every move is very slow, even scrolling or resizing Dev Tools https://monosnap.com/file/NQuPz02hWPUzUnxwgYCoOfTVSRwQYP

Note, in FireFox Dev Tools work much fast

[2018-10-09 04:58] maxceem commented on #2587
It's fixed in **dev** branch now, commit https://github.com/appirio-tech/connect-app/commit/3aa75ea895ea7557852680259088251ac08161f1

After the fix Dev Tools in Chrome work just a little bit slow on a heavy page, but already normal https://monosnap.com/file/1G8STdKFCOHwLloXKnulVlQHv1m1AU

Note, reasons for this was that file `_variables.scss` imported `~tc-ui/src/styles/tc-styles` which contains s

[2018-10-09 04:58] #2587 closed

[2018-10-09 05:50] maxceem opened #2588 "Roboto font is not loaded"
## Issue description

It appears that Roboto font which is used everywhere in the connect app is not actually loaded.

![wrong-fonts](https://user-images.githubusercontent.com/146016/46647903-19675b80-cbc5-11e8-9cd9-d70c8b7ca150.png)

There is also no loaded fonts at all shown on the network tab

![image](https://user-images.githubusercontent.com/146016/46647930-3ef46500-cbc5-11e8-9248-d4d4a993f48

[2018-10-09 05:52] maxceem commented on #2588
@RishiRajSahu done via https://github.com/appirio-tech/connect-app/pull/2589

[2018-10-09 08:46] vikasrohit commented on #2177
How would we do that? And what would be the cost in terms of time?

IMO, it should not be bad experience to always, without checking if it exists or not, load the specific topic and its posts only when the container is mounted and the URL contains the anchored link.
And as I said, if user is already on the target page, componentWillMount will not be fired and it won't reload but our other system o

[2018-10-09 08:47] vikasrohit commented on #2574
@maxceem I think what @vic-topcoder is trying to say is that just keep it as per current understanding i.e. keep it till the middle of the component. In this case, because now the button section would be hidden, I think blue line would go till mid of the `Add Link` form component.

[2018-10-09 08:50] vikasrohit commented on #2559
Thanks @acshields

[2018-10-10 01:46] maxceem commented on #2588
The PR is reviewed and merged by Rishi, so I'm closing issue.

[2018-10-10 01:46] #2588 closed

[2018-10-10 01:50] maxceem opened #2591 ""TypeError: Cannot read property 'concat' of null" when loading /new-project directly"
When we navigate http://local.topcoder-dev.com:3000/new-project/ (https://connect.topcoder-dev.com/new-project) directly, there is an error in browser console:
[code]

Visually nothing is broken and keeps working.

It happens on this line https://github.com/appirio-tech/connect-app/blob/dev/src/projects/create/containers/CreateContainer.jsx#L93

We have to check what is the reason for this error:

[2018-10-10 03:56] maxceem commented on #2591
Fixed with commit https://github.com/appirio-tech/connect-app/commit/5f5135b9e3ba456f981c3e6ad198d40975966f79

[2018-10-10 03:56] #2591 closed

[2018-10-10 04:44] maxceem commented on #2453
This is fixed with this commit https://github.com/appirio-tech/connect-app/commit/8b04a784c0b087b1529c258023dd46b40771a421 (there is wrong issue number mentioned in the commit message).

The thing is, that SVG files in connect app and react-components has attributes like `data-color` and `data-cap` which are included in React components which are generated by `inline-react-svg` babel plugin. And a

[2018-10-10 04:44] #2453 closed

[2018-10-10 06:08] sumitdaga commented on #2153
@maxceem
please assign this to me!

[2018-10-10 06:10] sumitdaga commented on #2153
btw there is no cf13 branch i think as of now!

[2018-10-10 06:11] maxceem commented on #2153
@sumitdaga thanks for pointing that out, added https://github.com/appirio-tech/connect-app/tree/cf13

[2018-10-10 06:12] iversonLv commented on #2584
@maxceem can I assign this?

[2018-10-10 06:19] sumitdaga commented on #2153
@maxceem
ready for review
PR #2592

[2018-10-10 06:19] sumitdaga commented on #2150
@maxceem
please assign this to me!

[2018-10-10 06:31] zjuasmn commented on #2154
work on it.

[2018-10-10 06:49] Gauravseta commented on #2580
@maxceem pls assign to me

[2018-10-10 06:53] maxceem commented on #2524
@mhikeo it's on you since you claimed it.
To let me assign you, please, accept the invitation to this repo, which has to come to your email.
Thanks.

[2018-10-10 06:53] PrakashDurlabhji commented on #2578
@maxceem can u please assign to me thanks

[2018-10-10 06:55] maxceem commented on #2154
@zjuasmn it's on you.

To let me assign you for clearance, please, accept the invitation to this repo, which has to come to your email.
Thanks.

[2018-10-10 06:58] rashmi73 commented on #2481
@maxceem can u please assing to me thanks

[2018-10-10 06:59] prasadadarkar30 commented on #2484
@maxceem pls assign me.i wish to work on it.

[2018-10-10 07:01] khushimehta03 commented on #2272
@maxceem assign me . thanks

[2018-10-10 07:03] sumitdaga commented on #2150
@maxceem
ready for review
PR #2593

[2018-10-10 07:04] sumitdaga commented on #2511
@maxceem
please assign this to me!

[2018-10-10 07:12] sumitdaga commented on #2511
@maxceem
please unassign me!
i would like to take a dig at other issues first

[2018-10-10 07:12] sumitdaga commented on #2577
@maxceem
please assign this to me!

[2018-10-10 07:19] maxceem commented on #2150
@sumitdaga Works good except for one small issue, please have a look https://github.com/appirio-tech/connect-app/pull/2593#pullrequestreview-163212850

[2018-10-10 07:20] sumitdaga commented on #2577
@maxceem
can you please share a sample project link , if you have it, where i can test this easily?

[2018-10-10 07:29] sumitdaga commented on #2577
@maxceem
thanks!
but i can't figure what exactly the issue is ..we can't select more than 3 places ...thats fine!
what's the issue?

[2018-10-10 07:35] jankyzhang commented on #2567
@maxceem
please assign this to me!

[2018-10-10 07:37] maxceem commented on #2577
@sumitdaga when we select some place for one design, for example, `1` we shouldn't be able to press another place for the same design, like `2` or `3`:
![image](https://user-images.githubusercontent.com/146016/46720125-2f971980-cca2-11e8-88b5-bf333be52e41.png)
- `2` and `3` has to become disabled in this case.

To select `2` or `3` for this design, we have `unselect` `1` first, and after we have t

[2018-10-10 07:39] maxceem commented on #2567
@jankyzhang it's on you.

To let me assign you for clearance, please, accept the invitation to this repo, which has to come to your email.
Thanks.

[2018-10-10 07:43] sumitdaga commented on #2577
@maxceem
btw i found another issue ...after selecting a position say `1` ... `1` on other designs becomes visually inactive but still can be selected
should i fix this as part of this issue?

[2018-10-10 07:56] maxceem commented on #2577
@sumitdaga yes, please. I'm slightly increasing prize for this issue to $40 for the additional case.
Thanks.

[2018-10-10 08:09] iversonLv commented on #2584
@maxceem It’s done and ready for review
Thanks.

[2018-10-10 08:35] sumitdaga commented on #2577
@maxceem
ready for review
PR #2595
i would be happier with $45 or 50 ...
the logic to this was not straightforward

[2018-10-10 08:40] sumitdaga commented on #2478
@maxceem
this needs to happen on both dashboard and project plan tabs or only project plan tab ?

[2018-10-10 08:42] maxceem commented on #2478
@sumitdaga this needs to happen on both tabs.

[2018-10-10 08:45] Gauravseta commented on #2580
@maxceem PR done #2596

[2018-10-10 08:51] Gauravseta commented on #2511
@maxceem pls assign to me thnaks

[2018-10-10 08:55] sumitdaga commented on #2478
@maxceem
actually i think dashboard shows all phases which are active ...so all phase cards will be expanded on dashboard right?

[2018-10-10 09:02] maxceem commented on #2478
@sumitdaga correct, all phases will be opened on the dashboard tab as long as we show only active one there.

[2018-10-10 09:04] sumitdaga commented on #2478
@maxceem
whats the best way to see if the user is a `customer` in the connect app ..will save a lot of searching if you already know this!

[2018-10-10 09:12] maxceem commented on #2478
@sumitdaga you can use user `phash_customer`/`topcoder123` to see a project as a customer.

You can create a project using manager user (`pshah_manager`/`topcoder123`) so you can activate phases using manager. And after you add customer user to the team as a member, so customer get access to the project.

After you can validate that manager see phases closed, while customer see them opened. (When

[2018-10-10 09:56] sumitdaga commented on #2478
@maxceem
ready for review!  PR #2597
we could also create a new action/reducer `EXPAND_ALL_ACTIVE_PHASES` to avoid calling `EXPAND_PROJECT_PHASE` separately like i have done ..but it will take more work

[2018-10-10 10:48] gurmeetb commented on #2553
@maxceem Kindly assign me this.

[2018-10-10 11:11] gurmeetb commented on #2553
Can you share sample username/pwd which can be used ?

[2018-10-10 11:13] maxceem commented on #2553
`phash_manager`/`topcoder123`

[2018-10-10 12:15] zjuasmn commented on #2154
It’s done and ready for review https://github.com/appirio-tech/connect-app/pull/2598

[2018-10-10 12:35] PrakashDurlabhji commented on #2578
@maxceem PR raised #2599

[2018-10-10 12:37] PrakashDurlabhji commented on #2492
@maxceem please assign to me thanks

[2018-10-10 12:43] maxceem commented on #2518
It's on you, you can work on it.

[2018-10-10 14:11] gets0ul commented on #2518
How to reproduce this issue?
Any screencast?

[2018-10-10 15:18] iversonLv commented on #2454
@maxceem  It’s done and ready for review

Thanks.

[2018-10-10 16:46] amitpatra commented on #2576
I would like to pick up this.

[2018-10-10 17:30] maxceem commented on #2518
[Create a new project](http://local.topcoder-dev.com:3000/new-project) include in all the fields special characters, for example, `&`.

After the project is created go to the `Scope` tab and `&` will be replaced with `&amp;`.

See screencast https://monosnap.com/file/QTSn1Q1tFMLI4XunpVgCdWH0CuaJow

You can check the sceenshot of issue in the top comment, to get a hint which other characters are re

[2018-10-10 17:57] jankyzhang commented on #2567
@maxceem It’s done and ready for review
There are two "Pull request" for this bug.
One for appirio-tech/connect-app.
One for appirio-tech/react-components.
Thanks.

[2018-10-10 19:53] gets0ul commented on #2518
@maxceem PR is done and ready for review.
Thanks

[2018-10-10 21:07] rashmi73 commented on #2481
@ThomasKranitsas PR #2603

[2018-10-11 05:57] maxceem opened #2604 "`View post on Connect` in email notification leads to the dashboard instead of project plan"
### Expected behavior
When I get a notification about post under one of the phases on the project plan and click `View post on Connect` it has to open project on project plan tab with a certain phase opened on the `Discussion` tab to show the post.

### Actual behavior
When I get a notification about post under one the phases on the project plan and click `View post on Connect` it opens dashboard

[2018-10-11 06:06] maxceem commented on #2576
As the issue hasn't been completed during 12 hours and no comment was provided, this issue is now open for pick up.

[2018-10-11 06:08] maxceem commented on #2553
As the issue hasn't been completed during 12 hours and no comment was provided, this issue is now open for pick up.

[2018-10-11 06:09] maxceem commented on #2524
As the issue hasn't been completed during 12 hours and no comment was provided, this issue is now open for pick up.

[2018-10-11 06:10] maxceem commented on #2511
As the issue hasn't been completed during 12 hours and no comment was provided, this issue is now open for pick up.

[2018-10-11 06:10] maxceem commented on #2484
As the issue hasn't been completed during 12 hours and no comment was provided, this issue is now open for pick up.

[2018-10-11 06:11] maxceem commented on #2492
As the issue hasn't been completed during 12 hours and no comment was provided, this issue is now open for pick up.

[2018-10-11 06:12] maxceem commented on #2272
As the issue hasn't been completed during 12 hours and no comment was provided, this issue is now open for pick up.

[2018-10-11 06:31] gurmeetb commented on #2553
ah sorry @maxceem it was quite late yest so couldn’t work on it much. It’s ok i will let know when ready to pickup in few hrs, if it is still open.

[2018-10-11 06:33] sumitdaga commented on #2576
@maxceem
ohk, how i found this url was because the `GET` request with this url was showing an error in the console
may it will help!

[2018-10-11 06:36] gets0ul commented on #2492
Can I work on this?

[2018-10-11 06:37] rashmi73 commented on #2484
@maxceem pls assign this to me.

[2018-10-11 06:39] zjuasmn commented on #2511
works on it

[2018-10-11 06:40] Gauravseta commented on #2272
@maxceem pls assign this to me.i will complt this in 12hrs now.previous issue i was actively working on but it was difficult.pls giv me this

[2018-10-11 06:41] PrakashDurlabhji commented on #2492
@maxceem i am actively working on this.pls give me 1hr. i will raise PR.

[2018-10-11 06:59] vigneshTheDev commented on #2553
I would like to work on this

[2018-10-11 07:07] PrakashDurlabhji commented on #2492
@maxceem i am completed with it shall i raise PR

[2018-10-11 07:11] maxceem commented on #2576
@sumitdaga yeah, here are details https://github.com/appirio-tech/connect-app/issues/2569 . I remember that somehow image from connect-app end up in CDN, but I cannot recall the whole system right now.

[2018-10-11 07:17] maxceem commented on #2492
@PrakashDurlabhji if @gets0ul didn't really start working on this you can finish the issue.

@gets0ul please let us know if you already spent some efforts on this issue or we can leave this issue to finish for @PrakashDurlabhji?

[2018-10-11 07:31] maxceem commented on #2492
@gets0ul yes, please create PR as you followed the Bug Bash rules.

@PrakashDurlabhji sorry, but as another participant already started working on this issue I cannot give you an exception for this issue. Note, that per rules for this Bug Bash participants has to complete issues during 12 hours or provide the valid reasons for the extension.

[2018-10-11 07:43] gets0ul commented on #2492
@maxceem PR is done and ready for review.

[2018-10-11 07:51] maxceem opened #2606 "Phase header jumps when we open edit form"
1. When we click the edit button on some phase to open edit form, the phase header jumps, which feels not nice and could give an impression of glitchy behavior. Note, when we expand phase, header doesn't jump as it has to be. See screencast https://monosnap.com/file/DAKDfLDd68PTmD7WpJvsUncbtQJNJZ

2. When we open edit form phase header and edit form are separated with the wide white area

     ![i

[2018-10-11 07:55] maxceem opened #2607 "[$50] When we mark notifications as read in Notification dropdown it becomes closed"
When we mark notifications as read in Notification dropdown it becomes closed, but I think it has to stay open until we click outside of it.
See screencast https://monosnap.com/file/sknvpM0NBU0l5y02X8kYvUc1loldUD

@RishiRajSahu could you please confirm? I think we can include to the CF-13 if it's a valid issue.

[2018-10-11 08:29] maxceem commented on #2177
We can check that inside `componentWillMount` if topic is already in Redux Store - means it's loaded in the connect app. It has to be very fast as it's searching by id in array.

Maybe we can describe cases separately to make sure we have the same view on this:
1. We click a link on some `dashboard topic` on the sidebar while we are on the `project plan tab`. In this case we have to switch to the

[2018-10-11 08:47] PrakashDurlabhji commented on #2492
@maxceem i dont think PR solution is correct. just for raising the PR it has been implemented so that getsoul can take another issue and also this issue is not released from him.

[2018-10-11 09:00] maxceem commented on #2492
@PrakashDurlabhji I'll check the PR, but so far we don't have any formal rule for the cases when PR doesn't fulfill the requirements properly. If we see that there is a high rate of PR which doesn't accomplish tasks, we could make more strict rules for such cases or give warnings to particular members.

[2018-10-11 09:02] RishiRajSahu commented on #2607
@maxceem yeah agree, how are you planning to handle it ? should we erase the notification once marked as read, keeping the container open ?

[2018-10-11 09:33] maxceem commented on #2607
@RishiRajSahu hmm, good question. As we hide notifications marked as `read` it looks like we have to hide them for consistency, though it could not feel nice when one notification disappears and all the others notifications move because of that.

On the Facebook for example, notifications never disappear when we mark them as read or even hide. Maybe we need input from Victor on this?

[2018-10-11 09:38] maxceem commented on #2568
This issue is now open for pick up.

[2018-10-11 09:56] gets0ul commented on #2492
@PrakashDurlabhji
Please no need for personal remark. Just follow the rules.
You were already late for 6 hours without any reason. In fact, the rules allow you to be late, extending your time on an issue as long as reason is provided.

I waited for about 40 minutes after I submit the PR before I picked another ticket.

And about the PR, just wait for the copilot/admin to review it and give feedbac

[2018-10-11 10:29] maxceem opened #2609 "When we edit phase titles, respective topic tiles are not updated in the sidebar"
- [x] If we rename phase title, the respective topic which is associated with this phase and is listed on the sidebar is not renamed accordingly.

![phase-topics](https://user-images.githubusercontent.com/146016/46798064-6abd4980-cd83-11e8-80a9-ee1b2be64049.png)

- [x] Specifications title is also not following the consistency

![screen shot 2018-10-12 at 12 37 39 pm](https://user-images.githubuse

[2018-10-11 10:31] vikasrohit opened #2610 "Update phase topic name when phase title is changed"
### Expected behavior
Phase topic title should also be updated to be in sync with the updated phase name

### Actual behavior
Phase topic title is still the same as it was created.

### Steps to reproduce the problem
- Create a new project or add a new phase to an existing project
- Observe the name of the phase topic in the left panel
- Update the title of one of the phase
- Now observe the name

[2018-10-11 10:31] vikasrohit commented on #2610
fyi @RishiRajSahu

[2018-10-11 10:41] vikasrohit commented on #2610
Duplicate of #2609

[2018-10-11 11:51] maxceem opened #2611 "When copilot joins a project, he gets notification about it."
I joined a project as a copilot and in the notifications center I see notification about this event which looks like some another copilot jointed the project, but it was me:

![image](https://user-images.githubusercontent.com/146016/46802052-d658e400-cd8e-11e8-8c70-0fc4c3808b45.png)

I guess copilot shouldn't get this notification about himself.

What do you think @RishiRajSahu ?

[2018-10-11 11:53] RishiRajSahu opened #2612 "Remove Timeline Header and description"
### Expected behavior
![screen shot 2018-10-11 at 5 19 13 pm](https://user-images.githubusercontent.com/11248478/46802179-414bf000-cd7a-11e8-8db2-120129189925.png)

### Actual behavior
Timeline Header and description should not be displayed

[2018-10-11 11:54] maxceem commented on #2612
@RishiRajSahu So we just hide them visually, but they still stay in the model (backend), correct?

[2018-10-11 12:06] RishiRajSahu commented on #2607
Yup, @vic-topcoder could help us here definitely.

[2018-10-11 12:10] maxceem opened #2614 "[$40] Notification about project specification has wrong link"
I've got a notification about the project specification update. It has link to old `Specification` tab  https://connect.topcoder.com/projects/7306/specification in the project which only has new `Scope` tab.

So the link for this case expected to be https://connect.topcoder.com/projects/7306/scope instead.

![image](https://user-images.githubusercontent.com/146016/46802972-8af40500-cd91-11e8-9ad2-

[2018-10-11 12:11] gets0ul commented on #2524
@maxceem PR is done and ready for review.

[2018-10-11 12:15] maxceem opened #2615 "Notification about project specification update doesn't really help me"
Notification about project specification update doesn't help to understand what has changed on the `Scope` tab.

- I've got a notification about specification update.
- I went to the `Scope` tab.
- Even there is not much information and I've just read it one-two days ago, I cannot understand what has changed here.

![image](https://user-images.githubusercontent.com/146016/46803113-dd352600-cd91-11

[2018-10-11 12:28] RishiRajSahu commented on #2612
fyi @maxceem this got reverted somehow, https://github.com/appirio-tech/connect-app/issues/2400.
Hot-fixing it.

[2018-10-11 13:02] vic-topcoder commented on #2607
Ideally we can start thinking about a localized transitions/interactions instead of monolithic updates to a component. The example here would be to break the interaction into smaller steps:

1. Open the notifications drop down menu
2. Dismiss a notification
3. Receive a new notification while the drop down is active
4. Close the notifications drop down menu
- - -

Dismissing a single notification

[2018-10-11 13:06] vic-topcoder commented on #2606
I would put this issue on hold. We're currently going through the second iteration of the phase timeline and editing interface, so this is not crucial for the performance - only managers and copilots use the editing feature, rarely.

With the next iteration editing should happen outside of the header, on the card itself. We are aiming to simplify the phase interactions and focus on a singular expe

[2018-10-11 13:40] RishiRajSahu commented on #2612
Done with https://github.com/appirio-tech/connect-app/pull/2616

[2018-10-11 13:40] #2612 closed

[2018-10-11 14:42] vigneshTheDev commented on #2553
Please review: #2618

[2018-10-11 16:08] Gauravseta commented on #2272
@maxceem PR ready #2619

[2018-10-11 16:09] maxceem commented on #2272
@Gauravseta I think it could be something with your local installation or internet connection. You may try:
- remove `node_modules` folder and run `npm i` again
- [clear npm cache](https://docs.npmjs.com/troubleshooting/try-clearing-the-npm-cache)

[2018-10-11 16:13] maxceem commented on #2553
Yes, it has to be there as it has a progress bar:

![](https://github.com/appirio-tech/connect-app/wiki/Milestones/images/MilestoneTypeFinalFixes.png)

[2018-10-11 16:49] rashmi73 commented on #2484
@maxceem actively on this. saw how to solve it, using svg. also it is a css change and need to test well.so i hope i will be given enough time.
also can you please give me link to project in which i can see add button as i am not able to see "Add" button in any of project. i searched many . can u please tell project number so i can raise PR immediately. thanks

[2018-10-11 16:59] zjuasmn commented on #2511
done, please check #2621

[2018-10-12 00:10] vic-topcoder commented on #2611
you're right, @maxceem - no notification should be dispatched to the copilot. I should not get notifications for my own activity on the system at all.

[2018-10-12 01:43] maxceem opened #2622 "List of steps during project creation looks visually broken"
When we open project creation wizard https://connect.topcoder-dev.com/new-project, the list of step on the left sidebar looks visually broken.

![image](https://user-images.githubusercontent.com/146016/46842938-135ebe00-ce03-11e8-8337-a4ff0873df11.png)

@RishiRajSahu I guess we can include it to CF-13.

[2018-10-12 01:54] maxceem commented on #2484
@rashmi73
- login with user `pshah_customer`/`topcoder123`
- open project http://local.topcoder-dev.com:3000/projects/7422/plan on `Project Plan` tab
- open `Visual Design`
- at the bottom you will see the ability to add final fixes:
   ![image](https://user-images.githubusercontent.com/146016/46843238-6422e680-ce04-11e8-8f50-c8bc74f6adae.png)
- if you accidentally lose the ability to add final fi

[2018-10-12 01:59] maxceem commented on #2606
Thanks for your input on our future plan!
As we are actually not going to fix this issue, as it would be solved another way, I'm closing it to reduce the number of opened issues for easy navigation.

Please, feel free to reopen it, if there is still something we have here later.

[2018-10-12 01:59] #2606 closed

[2018-10-12 02:09] maxceem commented on #2607
So I guess we can start with this particular case of dismissing notifications. For this issue we can do the next:
- When we mark a notification as `read` drop-down should stay open
- A notification has to be removed from the list using visual effect: lowering the opacity and reduce the height to 0 so the elements below would slide up in the menu
- To implement this visual effect we can use https:/

[2018-10-12 02:23] maxceem opened #2623 "[$15] Failed to mark notifications seen"
From time to time there is error popup `Failed to mark notifications seen` when I navigate to the project dashboard.

![image](https://user-images.githubusercontent.com/146016/46844144-65561280-ce08-11e8-9501-9f4630f742cb.png)

[2018-10-12 04:55] maxceem opened #2624 "[HOT-FIX]Topics full-screen mode doesn't work"
When we click to the `full-screen` mode button for a topic on the project dashboard it doesn't open, the page just becomes blank, see a screencast https://monosnap.com/file/9IpfKBYppkGVlQIGve9C8soy8bztFV

![image](https://user-images.githubusercontent.com/146016/46848700-e8ce2e80-ce1d-11e8-8c7e-93680c0e7c3b.png)

[code]

@RishiRajSahu It's reproducable on production website.

[2018-10-12 05:13] maxceem commented on #2574
To sum up:

- We have to hide buttons like `Mark as completed`, `Complete` and `Request Extension` when we are in the process of adding some links.
   Example with `MilestoneTypePhaseSpecification`
   - All the buttons are shown intially:
      ![image](https://user-images.githubusercontent.com/146016/46848965-6a728c00-ce1f-11e8-99b9-c9aceeaffcaf.png)
    - We clicked `Add specification` button:

[2018-10-12 05:52] Gauravseta commented on #2574
@maxceem will this be open for pickup? then can u pls assign to me if possible in future?

[2018-10-12 05:55] maxceem commented on #2574
@Gauravseta yes, it's going to be open for pick up soon. But as we've previously discussed we cannot allow participants to `book` issues. So as soon as it's open for pick the one who first claims it, will get it.
Thanks.

[2018-10-12 06:02] vikasrohit commented on #2622
Yes, we should. It seems it is a regression.

[2018-10-12 06:09] RishiRajSahu commented on #2624
@maxceem could you tell me which project on production ? I tried few but didn't found.

[2018-10-12 06:10] maxceem commented on #2622
@vikasrohit I guess it's caused by the [font fix](https://github.com/appirio-tech/connect-app/issues/2588). When Robot font is applied to the text for the second option it doesn't fit one line, and markup supports only one-line text.

I guess it would be enough just slightly increase width for the text items, so the second option fits one line.

Let me know if you think we have to support miltilin

[2018-10-12 06:11] maxceem commented on #2624
@RishiRajSahu this one https://connect.topcoder.com/projects/7306

[2018-10-12 06:14] maxceem commented on #2574
This issue is now open for pick up.

[2018-10-12 06:19] vikasrohit commented on #2622
Yes, that should be good enough provided it works well in both accounts-app registration form and connect app project forms.

[2018-10-12 06:19] Gauravseta commented on #2574
@maxceem pls give to me

[2018-10-12 06:32] nahidshahin commented on #2607
@maxceem I want to work on it, please

[2018-10-12 06:36] RishiRajSahu commented on #2614
@maxceem agree it should be corrected and changes needed too should be straightforward.

[2018-10-12 06:56] RishiRajSahu commented on #2623
@maxceem as per me this appears when we try to mark already seen notifications as seen again. I tried reproducing it by opening the notifications dropdown in different browsers then trying to mark the notification as seen in each. For later it gave the same error as notification was marked as seen already.

[2018-10-12 07:10] RishiRajSahu commented on #2611
@maxceem shouldn't be the case, I have to check whether we can have role based check in our app but adding that again is a challenge because it will restrict the notification from other members with copilot role in our project to see the notification.

[2018-10-12 07:12] RishiRajSahu commented on #2611
@maxceem do we have a `userId` in the payload given by notifications service so that we can filter notifications by comparing the logged in `userId` with notification creator `userId` ?

[2018-10-12 07:19] RishiRajSahu commented on #2609
@maxceem added one more action item to the list.

[2018-10-12 07:20] RishiRajSahu commented on #2609
@vic-topcoder can we hide the title we are showing under the `Specification` tab for a phase or is it required ?

[2018-10-12 10:48] RishiRajSahu commented on #2624
Hotfixed it with https://github.com/appirio-tech/connect-app/pull/2625/files

[2018-10-12 10:48] #2624 closed

[2018-10-12 13:06] rashmi73 commented on #2484
@maxceem actively working on it. PR within few hrs

[2018-10-12 14:07] Gauravseta commented on #2574
@maxceem actively working on it.i hope i will be given some extra time as its somewhat difficult.

[2018-10-12 16:08] Gauravseta commented on #2574
@maxceem i am done with MilestoneTypePhaseSpecification functionality.
now completing remaining 3

[2018-10-12 16:55] Gauravseta commented on #2574
@maxceem PR ready #2627

[2018-10-12 17:44] vic-topcoder commented on #2609
Yeah - specification topics should not be there. We are not yet showing specifications to customers and that section will change drastically, so let's just do the minimal required changes - do not spend time polishing the current specification interface.

@acshields FYI

[2018-10-12 21:50] rashmi73 commented on #2484
@maxceem still workinh .few more hrs. internet connectivity issue at my place. hence lost many hrs

[2018-10-13 02:10] maxceem commented on #2611
@RishiRajSahu yes, we have it:

![image](https://user-images.githubusercontent.com/146016/46899997-cbf13400-cecd-11e8-9af3-74a3bf88cad5.png)

- `initiatorUserId` user which made the action (manager which added copilot)
- `userId` user which was added (copilot)

I guess we still have to show this notification to users, but change the text. As a copilot I still want to get notifications about being

[2018-10-13 02:13] maxceem commented on #2607
As the issue hasn't been completed during 12 hours and no comment was provided, this issue is now open for pick up.

[2018-10-13 02:55] maxceem commented on #2622
It's fixed via PR https://github.com/appirio-tech/react-components/pull/302 to `react-components`.

I've noticed one more thing, the difference between new project page and registration page is that Roboto font is rendered differently:
- Connect App
   ![image](https://user-images.githubusercontent.com/146016/46900326-cc3ffe00-ced2-11e8-9ec8-6b10cb3c4fb8.png)

- Accounts App
   ![image](https://us

[2018-10-13 04:08] zjuasmn commented on #2607
work on it

[2018-10-13 13:05] zjuasmn commented on #2607
done, please review #2628

[2018-10-14 01:35] maxceem commented on #2577
@sumitdaga I've reviewed the PR, the prize is increased to $50 for taking care about the additional case. Thanks.

[2018-10-14 02:03] maxceem commented on #2580
@Gauravseta I've checked the PR, please, have a loook https://github.com/appirio-tech/connect-app/pull/2596#pullrequestreview-164481811

[2018-10-14 02:18] maxceem commented on #2478
@sumitdaga I think it's ok for now as mostly we won't have too many active phases.
PR is merged, thanks.

[2018-10-14 02:34] maxceem commented on #2578
@PrakashDurlabhji PR is reviewed, please have a look https://github.com/appirio-tech/connect-app/pull/2599#pullrequestreview-164482243

[2018-10-14 03:07] maxceem commented on #2454
@iversonLv I've made a review, please have a look https://github.com/appirio-tech/connect-app/pull/2600#pullrequestreview-164482660
Thanks.

[2018-10-14 03:49] maxceem commented on #2567
@jankyzhang I've checked the PRs, please have a look https://github.com/appirio-tech/connect-app/pull/2601#pullrequestreview-164483846

[2018-10-14 04:12] maxceem commented on #2518
@gets0ul I've reviewed the PR, please have a look https://github.com/appirio-tech/connect-app/pull/2602#pullrequestreview-164484153
Thanks.

[2018-10-14 04:45] maxceem commented on #2481
@rashmi73 made PR review, please have a look https://github.com/appirio-tech/connect-app/pull/2603#pullrequestreview-164484612

[2018-10-14 04:57] maxceem commented on #2492
@gets0ul I've checked your PR, please have look https://github.com/appirio-tech/connect-app/pull/2605#pullrequestreview-164484821

[2018-10-14 08:01] maxceem commented on #2518
@RishiRajSahu fyi, it's done and has to work good for all the characters. Though the solution is to handle it in every place individually https://github.com/appirio-tech/connect-app/pull/2602/files. I don't see a better way for this so far.

[2018-10-14 09:52] rashmi73 commented on #2481
@maxceem raised a new PR #2630

[2018-10-15 05:52] maxceem commented on #2272
@Gauravseta I've review your PR, please have a look https://github.com/appirio-tech/connect-app/pull/2619#pullrequestreview-164556574

[2018-10-15 06:09] maxceem opened #2632 "New color variables in Connect App"
During the working on the challenge https://www.topcoder.com/challenges/30072639 based on the new designs https://marvelapp.com/7908ihg/screen/48326788 there were some colors found in designs which are not present in our current SCSS variables list https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss.

There are several things which we have to resolve after chall

[2018-10-15 06:28] maxceem commented on #2632
4. Come with the approach when we have a variable in `connect-app` and after add it `tc-ui`
    First way:

   Second way:

[2018-10-15 06:38] RishiRajSahu commented on #2518
@maxceem agree and looks good to me.

[2018-10-15 07:09] vikasrohit commented on #2622
@vic-topcoder your input needed for `webkit-font-smoothing: antialiased;` ☝️

[2018-10-15 08:35] jankyzhang commented on #2567
@maxceem ,
I have fixed it.
Please check.

[2018-10-15 08:38] vikasrohit commented on #1985
Yes, that is the purpose. However, I am not sure if using REDUX actions won't enable us for this. I think we can just simply dispatch a generic `MARK_NOTIFICATIONS_READ` action with all required parameters and if the the reducer of that action finds any notification in the state which fulfils the criteria (by comparing each field of the action payload to the notification params) and mark them read

[2018-10-15 08:55] vikasrohit commented on #2177
I guess, as we have the topic id in the notification, we can fetch only that specific topic by `GET /v5/topics/{topicId}` call. Do you think that can cause any further troubles?

[2018-10-15 09:04] maxceem commented on #1985
Yes, for this case we can handle it with REDUX actions only and component doesn't need to know about notifications.

Yes, I guess we can do like that, though I'm not sure if there are benefits in comparision with checking if there are new notifications or no and dispatching `MARK_NOTIFICATIONS_READ` if needed. As anyway we have to connect to store.

Not sure I've got it correctly. Do you mean crea

[2018-10-15 09:09] maxceem commented on #2177
I think it should work. We only have to make sure, we add this separately loaded topic in the same order as they are usually returned from the server.

So the last my concern is regarding the **b.** When we lick a dashboard topic on the project plan sidebar we will move to the dashboard tab and topics will be remounted. So the topic we've just clicked will be reloaded. It feels that in this case n

[2018-10-15 11:16] maxceem commented on #2607
@vic-topcoder @RishiRajSahu here is a demo of the implementation which I've also tried locally it looks really great as for me https://monosnap.com/file/kDVMQI1NIsEy4HDrbFalC7tRODb0Gx

There is only one moment which we missed to decide on. To mark notifications as `read` we are making a request to the server. So currently notification dismissed not immediately but after some time. I see there two

[2018-10-15 11:35] RishiRajSahu commented on #2607
@maxceem yeah I saw that looks good, but I have one question, Shouldn't we update the count at the bottom about older notifications as well once some notification is erased ?

Yeah, 1 looks a better approach to me as well.

Regarding notifications page, I think we can keep it as it is because then we have other use-cases as well such `mark all as read` on **notifications page** and on **notificati

[2018-10-15 12:18] RishiRajSahu commented on #2559
@vic-topcoder displaying the updated text for coder-bot message looks good but if we use the same text for right panel above the submit button it will be too verbose and doesn't give UX, how do you suggest to handle it ?

<img width="1439" alt="screen shot 2018-10-15 at 5 43 51 pm" src="https://user-images.githubusercontent.com/11248478/46950494-75891e80-d0a2-11e8-9de9-4896c6467620.png">

[2018-10-15 12:18] vikasrohit commented on #2177
I don't think we have any other option here. We have to reload the topic or it posts (depending on the event).

[2018-10-15 12:32] vikasrohit commented on #1985
I am not much as well, however, my intent is to stay away from the array of notifications in every instance of the `NotificationReader` to reduce the memory footprint of it, reduce the number of fields to manage and make it simple to detect the changes in the state.

Yes, kind of. More specifically I mean, call `HOC(Comment)` when using it, not when exporting it.

It looks good to me. However, it

[2018-10-16 01:33] maxceem commented on #2578
@PrakashDurlabhji it's been two days since your PR was reviewd and feedback provided. Please let me know if you are willing to fix issues found during review or issue will be reopened for pick up.
Thanks.

[2018-10-16 01:33] maxceem commented on #2568
@PrakashDurlabhji it's been almost two days since your PR was reviewed and feedback provided. Please let me know if you are willing to fix issues found during review or issue will be reopened for pick up.
Thanks.

[2018-10-16 03:44] vic-topcoder commented on #2622
I usually like "geometric-precision" or "antialiased" on. Either one is fine for me :) Let's use it as it makes font readability/rendering much better. Thanks!

[2018-10-16 03:46] vic-topcoder commented on #2607
Let's go with option 1 please! The user should perceive the UI as instantaneous.

Also yes - update the number of notifications when manipulating/dismissing them.

[2018-10-16 03:48] vic-topcoder commented on #2559
I would hide the project description until the customer submits the project for review. This would give them enough information on the project status and later once submitted we'll display the project description back. @acshields FYI

[2018-10-16 03:51] PrakashDurlabhji commented on #2568
@maxceem yes i am willing to fix it. apology for delay. will fix it immediately.

[2018-10-16 04:55] maxceem commented on #2622
@vikasrohit do you think we should enable `antialiased` in accounts-app or react-components (connect branch)?

[2018-10-16 05:16] vikasrohit commented on #2622
@maxceem I think we need to do this for both apps right? For `accounts-app`, we should change the style for only connect pages, not for member side pages to be minimalistic.

[2018-10-16 05:35] vikasrohit commented on #2622
I don't see any harm in doing it in `react-components` as well because as you said it is used only for connect-app and accounts-app(only connect pages). It would make it consistent.

[2018-10-16 06:32] maxceem commented on #2574
@Gauravseta I've checked the PR, works good, just a couple of minor things before I can merge it https://github.com/appirio-tech/connect-app/pull/2627#pullrequestreview-165001815

[2018-10-16 06:48] maxceem commented on #2609
@RishiRajSahu as I see when updating the title of the phase the respective topic title is not updated by the backend, so I guess we have to fix there first and after to make sure frontend handles update properly.

[2018-10-16 07:53] maxceem opened #2633 "Duplicate notification about link added to the project"
When somebody adds a links to the project I see notification about it in two different places:

![image](https://user-images.githubusercontent.com/146016/47000559-1d622300-d15b-11e8-9069-22e6b36200ea.png)

- one regular notification
- one more notification as `Coder bot` message

@RishiRajSahu just want to confirm that it's an intentional behavior.

[2018-10-16 08:44] vikasrohit commented on #2633
Yes, it is @maxceem. I guess, the `Coder Bot` message is in fact reading the regular notification to show it on the dashboard so that user don't have to open notification panel when there is a notification on the project where user is right now.

[2018-10-16 08:46] maxceem commented on #2633
@vikasrohit thanks for the clarification, so I'm closing the issue then.

[2018-10-16 08:46] #2633 closed

[2018-10-16 09:19] maxceem commented on #2484
@rashmi73 I've checked provided PR, please have a look https://github.com/appirio-tech/connect-app/pull/2629#pullrequestreview-165061310

[2018-10-16 09:53] RishiRajSahu commented on #2609
@maxceem agree, for frontend I have made the changes here https://github.com/appirio-tech/connect-app/pull/2635 .

[2018-10-16 10:56] maxceem commented on #2607
To sum up:
To make it looks smoother we have to additionally implement `hide notification without waiting for the end of server request (if it fails we can show red alert popup and show notification back)`
For consistency, we have to implement it for cases when we show animation and we don't show animation:
1. Notifications dropdown: mark one notification as read
2. Notifications dropdown: mark al

[2018-10-16 11:59] RishiRajSahu commented on #2607
@maxceem first to understand it, so your point is if we toggle `read` state of notification again in case of failure from backend it will have effect on other components as treating them as new notifications, right ? and using approach 1 we can avoid it, right ?

[2018-10-16 14:55] maxceem commented on #2607
yes, that's right, though for now I think we don't have such cases, but theoretically it's possbile to add code like this:
[code]

- Notification page
- https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/PostsRefreshPrompt/PostsRefreshPrompt.jsx
- https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/ProjectStage.jsx
- https://github.c

[2018-10-17 03:56] nahidshahin commented on #2578
@maxceem can I try to fix it if @PrakashDurlabhji doesn't?

[2018-10-17 04:08] maxceem commented on #2578
@nahidshahin as per our Bug Bash rules it's not allowed to claim issues before they are open for pick up or asked to be unassigned by the user, see https://www.topcoder.com/challenges/30072435

![image](https://user-images.githubusercontent.com/146016/47061676-1abc0800-d205-11e8-85c6-c357db32e7cc.png)

As Bug Bash submission is already finished, I think this issue will be left unresolved if partic

[2018-10-17 04:37] maxceem opened #2636 "Enable font antialiasing for connect pages in accounts-app"
Following from https://github.com/appirio-tech/connect-app/issues/2622

There is a difference between a new project page and registration page in Roboto font rendering:
- Connect App
   ![image](https://user-images.githubusercontent.com/146016/46900326-cc3ffe00-ced2-11e8-9ec8-6b10cb3c4fb8.png)

- Accounts App
   ![image](https://user-images.githubusercontent.com/146016/46900331-d82bc000-ced2-11e8-

[2018-10-17 04:38] maxceem commented on #2622
I've created a separate issue for the font `anitialised` https://github.com/appirio-tech/connect-app/issues/2636

Note, the current issue can be closed as soon as [PR](https://github.com/appirio-tech/react-components/pull/302) to `react-components` is reviewed and merged.

[2018-10-17 05:34] #2610 closed

[2018-10-17 05:35] vikasrohit commented on #2609
Backend changes are also done now, it would change the title of the phase topic when phase is updated, however, it is an async operation so it won't be visible on front end until state update or page refresh. However, considering the front changes done by @RishiRajSahu, we should be good to go.

[2018-10-17 05:37] maxceem commented on #2622
@vikasrohit I also wanted to use it, but I think we cannot. From `tc-ui` we only include this file `@import '~tc-ui/src/styles/tc-includes';` example https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/RegistrationScreen/style.scss

But `tc-includes` should NOT containt any styles only variables and mixins, otherwise these styles will be included multiple times (each

[2018-10-17 05:38] maxceem commented on #2636
@vikasrohit I also wanted to use it, but I think we cannot. From `tc-ui` we only include this file `@import '~tc-ui/src/styles/tc-includes';` example https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/RegistrationScreen/style.scss

But `tc-includes` should NOT contain any styles only variables and mixins, otherwise, these styles will be included multiple times (each

[2018-10-17 05:43] vikasrohit commented on #2636
Agreed. But we can do that change in https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/mixins/_typography.scss and whenever that file is included, it would automatically have the correct fonts. And if `accounts-app` does not import the typography, it might be missing the Roboto fonts and we need to add it there.

[2018-10-17 05:48] maxceem commented on #2636
Yes, I think we can include it there. So we will repeat `webkit-font-smoothing: antialiased` [each time](https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/mixins/_typography.scss#L12-L30) when we add mixin with Roboto font, correct?

[2018-10-17 06:02] maxceem commented on #2614
@vikasrohit @RishiRajSahu currently I don't get notification about updates on the Scope tab. But I get all other kind of notifications. Do you have any ideas from the top of your head why it could happen like that, before I start digging?

For testing I used for example this project https://connect.topcoder-dev.com/projects/7442 users customer and manager.

[2018-10-17 06:31] vikasrohit commented on #2636
Ideally, the mixins would included only once, right?

[2018-10-17 06:33] vikasrohit commented on #2614
@maxceem it could be because of couple of reasons:
1. We change the kafka topic name for project spec updates, so we might have missed to update it somewhere in our code OR
2. we are not listening for this notification at all in `tc-notifications` OR
3. we are not parsing this notification in connect app for rendering and similarly we might be missing it to render in email notifications.

[2018-10-17 06:43] maxceem commented on #2636
Not sure what you mean.

If we modify these mixins by including `
  webkit-font-smoothing: antialiased;` like this:
[code]

Then every time when we include this mixin in SCSS like this https://github.com/appirio-tech/connect-app/blob/dev/src/components/FileList/FileList.scss#L14
[code]

It will produce output CSS code like this:
[code]

As an alternative we can include a rule once per app like thi

[2018-10-17 06:48] maxceem opened #2637 "When we click notifications on Notifications page they are not marked as seen"
When we click notifications in notifications dropdown they are marked as `seen`.
But when we click notifications on Notifications page they are **not** marked as `seen`.

Also, there are related warnings in the browser console:
[code]

[2018-10-17 06:59] maxceem commented on #2637
As a solution is quite easy, I've merged the PR for this issue to `dev` and closing this issue myself.
@RishiRajSahu fyi

[2018-10-17 06:59] #2637 closed

[2018-10-17 07:06] RishiRajSahu commented on #2609
merged PR https://github.com/appirio-tech/connect-app/pull/2635 and backend changes done via https://github.com/topcoder-platform/tc-project-service/pull/191.

[2018-10-17 07:06] #2609 closed

[2018-10-17 07:19] maxceem commented on #2177
@vikasrohit ok, the last though to confirm. When we will navigate by the link `https://connect.topcoder-dev.com/projects/7442#feed-29304` from the email:
- first, all the topics will be loaded
- after a particular topic will be reloaded due to present of `#feed-29304`

Otherwise, I think we can still check if topic is already loaded and don't reload it if it's here.

[2018-10-17 07:25] maxceem opened #2639 "Notification about specification change doesn't come"
This is follow up from https://github.com/appirio-tech/connect-app/issues/2614#issuecomment-430506766

Currently, I don't get notifications about updates on the Scope tab. But I get all other kinds of notifications. It's on DEV environment.

For testing, I used, for example, this project https://connect.topcoder-dev.com/projects/7442 users `pshah_customer` and `pshah_manager`.

[2018-10-17 07:53] maxceem commented on #2614
@vikasrohit I found the mismatch but not sure with the solution:
- In `tc-project-service` we have two different events:
   - `PROJECT_PRODUCT_SPECIFICATION_MODIFIED: 'connect.action.project.product.update.spec',` - called when we modify spec of particular **phase**'s product
   - `PROJECT_SPECIFICATION_MODIFIED: 'notifications.connect.project.specificationModified'` - called when we modfigy speci

[2018-10-17 09:03] vikasrohit commented on #2636
Oh, understood. That is okay. No worries to have smoothing setting with every invocation of roboto font.

[2018-10-17 10:37] RishiRajSahu commented on #2559
@vic-topcoder thanks !
So to accomplish this we have to make below changes -
- [ ] Making changes on frontend(both desktop and mobile)
- [ ] Making changes for the coder-bot message appears for the newly created draft project

[2018-10-17 10:40] maxceem commented on #2639
@vikasrohit I found the mismatch but not sure with the solution:
- In `tc-project-service` we have two different events:
   - `PROJECT_PRODUCT_SPECIFICATION_MODIFIED: 'connect.action.project.product.update.spec',` - called when we modify spec of particular **phase**'s product
   - `PROJECT_SPECIFICATION_MODIFIED: 'notifications.connect.project.specificationModified'` - called when we modfigy speci

[2018-10-17 10:49] vikasrohit commented on #2614
@maxceem `connect.action.project.product.update.spec` is the renamed `notifications.connect.project.specificationModified`, however, I guess ideally it should have been `connect.action.project.updated.spec`. I am fixing it now in all places.

I have update `tc-notifications` and `connect-app` to render `connect.action.project.product.update.spec` appropriately as well. I am using the templates fro

[2018-10-17 12:58] maxceem commented on #2559
@RishiRajSahu I've done with `Submit for Review` button, see PR https://github.com/appirio-tech/connect-app/pull/2640

I'm not sure what should be done for the second part `Making changes for the coder-bot message appears for the newly created draft project`.

[2018-10-17 15:14] PrakashDurlabhji commented on #2578
@maxceem PR updated. it shud be as expected.working on other Pr now

[2018-10-18 04:47] maxceem commented on #2636
@vikasrohit I gave it a try with updating `antialiasing` in `tc-ui`.

It appears that not only `connect` related pages in `accounts-app` are affected by `tc-ui`. So if I update it here we end up that some text on `non-connect` pages in `accounts-app` is antialiased while another text on that pages which is not affected by `tc-ui` would be not antialiased.

Note, that for connect related pages in `

[2018-10-18 05:06] vikasrohit opened #2641 "Enable web notification settings for copilots/managers"
Need to enable copilots/managers to be able to update their web notification settings, right now it is disabled for all users. We have to keep it disabled for only customer role users.

fyi @acshields @RishiRajSahu @maxceem

[2018-10-18 05:32] vikasrohit opened #2642 "Invalid progress data in left panel"
<img width="1280" alt="screen shot 2018-10-18 at 11 00 20 am" src="https://user-images.githubusercontent.com/2417632/47133149-08090800-d2c5-11e8-998b-c996fee95a77.png">

Project: https://connect.topcoder-dev.com/projects/7210

@maxceem @RishiRajSahu it might be because of bad data during testing, however, it would be great if we can have a quick look into it by debugging this project in local env.

[2018-10-18 05:36] maxceem commented on #2642
@vikasrohit looking into it.

[2018-10-18 05:58] RishiRajSahu commented on #2642
fyi @maxceem it is actually happening because of phase are delayed, and its considering the duration so far(till today) if phase is active and gone beyond its expected endDate.
Also, I found one more issue, that is with backend, For `App Design` the correct duration is 31 while the backend is returning 33

[2018-10-18 06:14] maxceem commented on #2642
@RishiRajSahu as I see the reason is, that it takes data from `phase.duration` for completed phases instead of using milestones to calculate the actual duration of the completed phases.

By current logic actual duration is restricted by planned duration of the phase. So let's say some active phase is delayed. The actual duration for such phase will be returned as a planned duration for that phase,

[2018-10-18 06:18] RishiRajSahu commented on #2642
@maxceem Agree, looked more into it, it has been due to old data, right now backend is working fine, Tested by adding new phase to the project and its duration is coming out to be correct. So to handle it changes we need are
1. Show the message `Delayed by (109-41) days` having progress bar as red coloured

[2018-10-18 06:28] maxceem commented on #2642
@RishiRajSahu so we shouldn't restrict the maximum duration of phases by its planned endDate as it's done now, correct? When we calculate the total spent time.

[2018-10-18 06:39] maxceem commented on #2642
@RishiRajSahu I think we have to agree on a few moment regarding calculating the total duration:
1. **Planned duration**
   1. Imagine we have 2 planned phases with a gap between them:
       - Sep 1 - Sep 3 (3 days)
       - a gap
       - Sep 5 -Sep 7 (3 days)

       I expect that total project duration should be calculated since Sep 1 till Sep 7 (8 days) including the gap, rather than just sum

[2018-10-18 07:13] maxceem commented on #2481
@rashmi73 Please, let me know your Topcoder handle so I can process a payment for you for completed issues. Thanks.

[2018-10-18 08:07] RishiRajSahu commented on #2642
@maxceem Yes for all. yeah, we should include gaps for both planned/actual durations

[2018-10-18 10:16] maxceem commented on #2642
@RishiRajSahu it's fixed and PR raised https://github.com/appirio-tech/connect-app/pull/2643

If you deploy fix locally you can see the next.
#### For the project which provided as an example it's good now:
- before https://connect.topcoder-dev.com/projects/7210/plan
   ![image](https://user-images.githubusercontent.com/146016/47147807-9d29f200-d301-11e8-9923-8d3796d65e35.png)
- after http://local

[2018-10-18 10:33] vikasrohit commented on #2642
@maxceem looking good. However, how the value `58` is obtained in the last one? I think we should say `Delayed by x days` when we know that project is running late.

[2018-10-18 10:37] maxceem commented on #2642
@vikasrohit oh, I've missed the message text. Will fix it now.

`58` is calculated like in this case like this: there is an active phase which started on `Aug 22` and still active. Since `Aug 22` till today `58` days.

[2018-10-18 10:42] vikasrohit commented on #2636
Okay. However, I think if we are enabling antialiased for only roboto font, we should be good to enable it for both connect and non connect pages i.e. wherever(connect or non connect), we are using roboto font, it would look the same.

@vic-topcoder we need your opinion here. Would it make any difference to enable antialiased for roboto font every where it is used in connect and account app (both

[2018-10-18 10:42] maxceem commented on #2642
@vikasrohit fixed

For project http://local.topcoder-dev.com:3000/projects/7226/plan
![image](https://user-images.githubusercontent.com/146016/47149186-6950cb80-d305-11e8-83ea-8722ad7d0e03.png)

[2018-10-18 10:45] vikasrohit commented on #2642
Great. So, `14` is the number of days actual duration is spilling over the planned duration of the complete project, right?

[2018-10-18 10:47] maxceem commented on #2636
@vikasrohit we can do that.

Though for `connect` related pages in accounts-app, there are many places where we use Roboto font without using `tc-ui` thus antialiasing wouldn't be enabled for these places. So we will still additionally enable antialiasing for `connect` pages where `tc-ui` is not used.

I'm not sure if there are places with Roboto font on other `non-connect` pages in accounts-app,

[2018-10-18 10:48] maxceem commented on #2642
yes 14 is equal to `planned duration - actual duration`

[2018-10-18 10:59] RishiRajSahu commented on #2559
@maxceem could you add a image/video how it is looking ?

[2018-10-18 11:05] RishiRajSahu commented on #2559
Backend changes done via https://github.com/topcoder-platform/tc-connect-notifications/commit/badbd8c60d38ca5810879b8299b49ae405e9f121

[2018-10-18 11:07] maxceem commented on #2559
@RishiRajSahu
- desktop https://monosnap.com/file/Whr9hJP1xI59mxIbeYfmFESVy18cEq
- mobile https://monosnap.com/file/w3EEIXZ8bwRWMuA3Dp8gtOsgVGCzVL

[2018-10-18 11:38] maxceem commented on #2642
@RishiRajSahu added some wiki regarding project duration and progress https://github.com/appirio-tech/connect-app/wiki/Durations-and-Progress

[2018-10-18 12:38] rashmi73 commented on #2481
@maxceem  my topcoder handle: rashmi73

[2018-10-18 15:00] vic-topcoder commented on #2636
I had to rethink again what we're trying to achieve here.

 **Going forward I think we should remove the` -webkit-font-smoothing` overrides in all pages** to reduce rendering and performance degradation, and keep everything consistent. Chrome is my nemesis in terms of default font rendering (unfortunately!) and I think that was the reason for modifying the font rendering in the first place.

The `

[2018-10-18 15:12] vic-topcoder commented on #2164
moved to Product board

[2018-10-18 15:12] #2164 closed

[2018-10-18 15:14] vic-topcoder commented on #2163
moved to Productboard

[2018-10-18 15:14] #2163 closed

[2018-10-18 15:16] vic-topcoder commented on #2162
moving to productboard

[2018-10-18 15:16] #2162 closed

[2018-10-18 15:19] vic-topcoder commented on #2161
moved to productboard

[2018-10-18 15:19] #2048 closed

[2018-10-18 15:19] vic-topcoder commented on #2195
moved to productboard

[2018-10-18 15:19] #2195 closed

[2018-10-18 15:20] vic-topcoder commented on #2236
moved to productboard

[2018-10-18 15:20] #2236 closed

[2018-10-18 15:23] vic-topcoder commented on #2417
Moved to productboard

[2018-10-18 15:23] #2417 closed

[2018-10-18 15:25] vic-topcoder commented on #2420
Moved to productboard

[2018-10-18 15:25] #2420 closed

[2018-10-18 15:32] vic-topcoder commented on #2632
Those new colors are temporary at the moment; I listed them during the work on the project creation update:
https://marvelapp.com/190egf26/screen/47344589
![screen shot 2018-10-18 at 8 31 24 am](https://user-images.githubusercontent.com/8484061/47166080-392b0d80-d2b0-11e8-850b-b630ae9a1c37.png)

Yes- ideally we can add those in the TC-UI and keep using the variables

[2018-10-19 01:56] maxceem commented on #2636
Thanks, @vic-topcoder .

One more note, currently in `connect-app` we use `text-rendering: optimizeLegibility`.
Which suppose to enable kerning and optional ligatures.

Though I don't see any difference with or without it in Chrome:
- **With**:
    ![image](https://user-images.githubusercontent.com/146016/47193309-d9eafd00-d384-11e8-9de8-6a224a96dcbc.png)

    - kerning enabled
    - no ligatures

[2018-10-19 03:02] maxceem commented on #2641
@vikasrohit done via https://github.com/appirio-tech/connect-app/pull/2644

[2018-10-19 04:18] maxceem commented on #1985
@vikasrohit @RishiRajSahu let's decide when we want to dismiss notifications. Check the sheet, is my understanding is correct or you'd like to adjust something https://docs.google.com/spreadsheets/d/1olFRCgXyZy6DTBWmFCJF-MXuhxh80y5JWOKvlSpgguU/edit#gid=1005864840

@vikasrohit FYI I'm working on this issue. I guess I can incorporate all your recommendations except for HOC.

[2018-10-22 04:19] maxceem opened #2645 "Dismiss notifications without waiting for server response"
Follow up from https://github.com/appirio-tech/connect-app/issues/2607

To make it looks smoother we have to additionally implement `hide notification without waiting for the end of server request (if it fails we can show red alert popup and show notification back)`
For consistency, we have to implement it for cases when we show animation and we don't show animation:
1. Notifications dropdown: mar

[2018-10-22 05:09] vikasrohit commented on #2642
Thanks @maxceem for the documentation.

[2018-10-22 05:16] maxceem opened #2646 "Use constants for notifications events type instead of string"
Currently, we use string for notification events types in `connect-app`.
It causes some inconsistency as we are forgetting to update event types in all the places. For example:
- this event was renamed https://github.com/appirio-tech/connect-app/blob/b458c9ea245376ce7bce732e2595b996defc27f4/src/routes/notifications/helpers/notifications.js#L197
- this event was removed https://github.com/appirio-t

[2018-10-22 12:06] RishiRajSahu opened #2647 "Project progress for Card-view on listing page"
Earlier we were showing circle for showing progress for active projects on Project listing page and Dashboard sidebar. But with incorporation of progress-bar on Dashboard and Project-Plan we removed the **blue circle**  for listing page as well(when switched to card-view).

Do we want progress to be shown on project listing page when viewing in Card-view ? I'm not able to recall any discussion aro

[2018-10-22 15:56] vic-topcoder commented on #2647
That's a good call! I'll leave this as a secondary feature for the project cards in genera. The feedback is the cards are rarely useful for our customers, so I'll leave this out of the priorities for the time being. @acshields FYI

Closing and moving to Productboard as feature feedback.

[2018-10-22 15:56] #2647 closed

[2018-10-23 04:21] maxceem opened #2648 "Customer user should have milestone title highlighted on mouse hover"
### Expected behavior
There shouldn't be blue background when customer user hovers the mouse cursor over milestone title.

### Actual behavior
When we use customer user and hover mouse cursor over the milestone title we can see a blue background which is usually showed with edit button for manager user.

### Screenshot/screencast
![image](https://user-images.githubusercontent.com/146016/47335455-d

[2018-10-23 05:08] vikasrohit commented on #2648
I think it was by design @maxceem we disabled the hover of completed milestones though. @RishiRajSahu please confirm.

[2018-10-23 06:40] RishiRajSahu commented on #2559
Working fine on dev. Verified.

[2018-10-23 06:40] #2559 closed

[2018-10-23 06:42] maxceem opened #2649 "[$50] Hide dismissed notifications without waiting for server response"
Follow up from https://github.com/appirio-tech/connect-app/issues/2607#issuecomment-429810521

To make it looks smoother we have to additionally implement `hide notification without waiting for the end of server request (if it fails we can show red alert popup and show notification back)`
For consistency, we have to implement it for cases when we show animation and we don't show animation:
1. Noti

[2018-10-23 06:43] maxceem commented on #2649
@RishiRajSahu here is the answer to your question:

yes, that's right, though for now I think we don't have such cases, but theoretically it's possbile to add code like this:
[code]

- Notification page
- https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/PostsRefreshPrompt/PostsRefreshPrompt.jsx
- https://github.com/appirio-tech/connect-app/blob/dev/src/projects/d

[2018-10-23 06:50] vikasrohit commented on #2646
Yes, that is really needed to extract them as constants. @maxceem do you think you would be able to wrap this?

[2018-10-23 06:52] maxceem commented on #2646
@vikasrohit already did it.

I was thinking this issue wasn't posted to yesterday GitHub outage. Will create PR in a moment.

[2018-10-23 06:57] vikasrohit commented on #2641
Working in dev. Closing. Thanks @maxceem

[2018-10-23 06:57] #2641 closed

[2018-10-23 07:02] vikasrohit commented on #2455
@maxceem can we add a new parameter in event config in connect app, which would say if the event has to be rendered in notification panel or not. We can mark that flag as false when we want to use the particular event for some other purpose in the app.
Btw, we can use `connect.action.timeline.adjusted` for any timeline changes for now and we are listening for this event in connect app as well.
For

[2018-10-23 07:04] vikasrohit commented on #2464
Related issue https://github.com/appirio-tech/connect-app/issues/2177

[2018-10-23 07:05] maxceem commented on #2646
@vikasrohit PR submitted https://github.com/appirio-tech/connect-app/pull/2651

[2018-10-23 07:07] RishiRajSahu commented on #2648
@maxceem yeah we have it by design, and discussed earlier also in some issue about disabling hover in case of completed milestone only.

[2018-10-23 07:09] maxceem commented on #2648
Ok, thank you for clarification. So I'm closing this issue.

[2018-10-23 07:09] #2648 closed

[2018-10-23 07:20] vikasrohit commented on #2646
Awesome, Thanks @maxceem!!

[2018-10-23 07:35] maxceem commented on #2455
@vikasrohit
Yes, just let me vefiry I got you right:
- we add some flag inside `connect-app` notification configuration https://github.com/appirio-tech/connect-app/blob/dev/src/routes/notifications/constants/notifications.js
   which if present will let us keep a notification in the Redux store. But notification wouldn't be shown on notifications lists.
- I think we can name like `hidden`, example

[2018-10-23 08:52] vikasrohit commented on #2455
Got it. I think reason that it is not handled in tc-notifications right now is that now we are consuming this event in [project service](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/events/timelines/index.js#L169) itself and raising another meaningful event `PROJECT_PLAN_UPDATED` for the connect. So, that way connect app actually don't need to listen to the time adjusted ev

[2018-10-23 08:52] vikasrohit commented on #2455
Or if you think you can make the changes in `tc-notifications` please feel free to make a PR.

[2018-10-23 08:56] maxceem commented on #2455
@vikasrohit yeah, I can handle it myself. Will raise a PR soon.

[2018-10-23 08:57] RishiRajSahu commented on #2642
Fixed and pushed to dev.

[2018-10-23 08:57] #2642 closed

[2018-10-23 09:14] RishiRajSahu opened #2652 "Showing specification link to the customer"
Currently we show the specifications milestone content to customer only once its completed, Should we provide a read only access to customer for specification link so that along with manager, customer could also have a look at specifications before the milestone is completed ?

Present Behaviour -
**Copilot/Manager/Admin**

![screen shot 2018-10-23 at 2 29 25 pm](https://user-images.githubusercont

[2018-10-23 17:36] vic-topcoder commented on #2652
That's a very interesting idea :) I honestly have to think about that a bit more!

[2018-10-24 01:12] maxceem opened #2654 "Final fixes for "Topcoder Connect - Avatar and user settings" challenge"
We've got the submission for the challenge https://www.topcoder.com/challenges/30072639

Note, that we have another version of the submission from the participant via email, not the one in the system, as there some issue suppose to be fixed.

The issues reported by Rishi after testing submission from the system:

- [x] when the request fails for updating the profile page, the page fields become em

[2018-10-24 03:12] maxceem commented on #2654
- [ ] When we change something in **My Profile** and after press **Save Settings**. Data in the form for some time come to the state **before changes**, see the screencast https://monosnap.com/file/apnOUml0IaogWJDC5jCJfncAcDxtfX

[2018-10-24 03:14] maxceem commented on #2654
- [ ] During uploading of user avatar even though the button looks disabled we can press it and choose another file to upload.

[2018-10-24 04:38] maxceem commented on #2654
@RishiRajSahu Cannot reproduce using the latest submission patch provided by the winner. Check branch https://github.com/appirio-tech/connect-app/tree/feature/avatar-and-user-profile-settings or current PR https://github.com/appirio-tech/connect-app/pull/2655 for updated code.

[2018-10-24 04:45] maxceem commented on #2654
@RishiRajSahu one thing to discuss. We can update connect users' **First and last name**. But everywhere in the Connect app we are showing users name from the basic info. I guess we have to resolve it somehow.

[2018-10-24 08:28] maxceem commented on #2632
5. In the marvel design for new settings page top toolbar
    ![image](https://user-images.githubusercontent.com/146016/47417077-c0451d80-d7a9-11e8-8686-e2d63a2740ff.png)

    has a color value and text color which
     - doesn't match color of top toolbar on other pages in connect
     - use colors which are not on the list https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_

[2018-10-24 08:39] maxceem commented on #2632
6. Seconds toolbar with submenu uses colors for shadow line which are not on the list:
    ![image](https://user-images.githubusercontent.com/146016/47417773-5463b480-d7ab-11e8-956d-45fa61c2f50d.png)
    - `#C3C3C8`
    - `#DCDCE0`

[2018-10-24 08:43] maxceem commented on #2632
7. Form labels use color which is not on the list

    ![image](https://user-images.githubusercontent.com/146016/47418043-e966ad80-d7ab-11e8-922e-a6ba7e92fba3.png)
    - `#47474F`

[2018-10-24 09:15] maxceem commented on #2632
8. Yellow color which higlights submitted email change is not on the list:
     ![image](https://user-images.githubusercontent.com/146016/47420142-54b27e80-d7b0-11e8-94d0-92264908c7b4.png)
     - `#FEB900`

[2018-10-24 09:17] maxceem commented on #2632
9. Green color of success validation is not on the list:
     ![image](https://user-images.githubusercontent.com/146016/47420303-af4bda80-d7b0-11e8-8da8-c33e12862403.png)
   - `#51B200`

[2018-10-24 09:21] maxceem commented on #2632
10. Reset password black title color is not on the list:
      ![image](https://user-images.githubusercontent.com/146016/47420390-e4582d00-d7b0-11e8-934a-45476c82dee7.png)

    - `#262628`

[2018-10-24 09:22] maxceem commented on #2632
11. Username hint under the field has a gray color not on the list:
     ![image](https://user-images.githubusercontent.com/146016/47420586-5df01b00-d7b1-11e8-8238-5e55708e39ab.png)

      - `#888894`

[2018-10-24 09:34] maxceem commented on #2632
@vic-topcoder In [the new design for user settings pages](https://marvelapp.com/7908ihg/screen/48326788) there are several places where some new colors are being used which are not on [the list of our colors constants](https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss).

I've added comments above with description of such places, see options 5-11. Could you ple

[2018-10-24 22:02] vic-topcoder commented on #2632
@maxceem - I would like to move any definitions from Connect to reflect the tc-ui repo (https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss). We should not define new colors in Connect, but reuse existing color palette. This would help us change the theme in the future (when we need it).

A declaration like this redefines our gray colors:

[code]

redefines our

[2018-10-25 01:32] vic-topcoder commented on #2636
Sounds good to me! Let's remove both and let the browser manage rendering.

[2018-10-25 01:39] maxceem commented on #2636
Done via https://github.com/appirio-tech/connect-app/commit/645307f169204af3032ce8fc556c962258eb3e40

As fix is small, pushed directly to `dev`.

[2018-10-25 02:50] maxceem commented on #2632
@vic-topcoder thanks for the detailed explanation on this.

12. As I understand from your answer for the new colors which was introduced in the latest marvel design, we have to replace them with closest ones? Right? See options from 5 till 11 above. As they are not on the list of our constants for colors.

13. As I see we don't really use these colors, so we are safe to remove them from `connect-a

[2018-10-25 03:03] maxceem commented on #2649
@RishiRajSahu on the second thoughts I think we can try here with the second way `ii.`. As we currently **don't have** any place which will be broken in such case. And it feels kind of natural, and all existent code will work with such an approach without the necessity of any additional changes.

Let me know what you think. If we agree on this, I'll try to accomplish it fast so we can merge it wit

[2018-10-25 03:11] maxceem commented on #2639
It works now on `dev`. Closing it.

[2018-10-25 03:11] #2639 closed

[2018-10-25 03:16] maxceem commented on #2455
Everything looks ready for this issue. But as we will need to dismiss notifications after we open corresponding tabs to remove `cue`. It's better to handle this issue after https://github.com/appirio-tech/connect-app/issues/1985 is done.

[2018-10-25 05:40] vikasrohit commented on #2639
Good to know that. Thanks @maxceem for handling other parts of the fix.

[2018-10-25 05:50] maxceem opened #2656 "Bundling dashboard and phase posts notifications"
Currently if some user makes a two posts:
- one comment on some topic on the `dashboard` tab
- one comment on some phase on the `project plan` tab

we will bundle them together like this:

![image](https://user-images.githubusercontent.com/146016/47478095-d6f77d00-d85a-11e8-8a34-473a1fd8340b.png)

And the link will lead to the latest comment:
- so if the latest comment was in a phase - it will goe

[2018-10-25 06:03] RishiRajSahu commented on #2454
Closing merged to dev.

[2018-10-25 06:03] #2454 closed

[2018-10-25 06:03] RishiRajSahu commented on #2524
Closing merged to dev.

[2018-10-25 06:03] #2524 closed

[2018-10-25 06:03] RishiRajSahu commented on #2567
Closing merged to dev.

[2018-10-25 06:03] #2567 closed

[2018-10-25 06:04] RishiRajSahu commented on #2511
Closing merged to dev.

[2018-10-25 06:04] #2511 closed

[2018-10-25 06:04] RishiRajSahu commented on #2584
Closing merged to dev.

[2018-10-25 06:04] #2584 closed

[2018-10-25 06:04] RishiRajSahu commented on #2568
Closing merged to dev.

[2018-10-25 06:04] #2568 closed

[2018-10-25 06:04] RishiRajSahu commented on #2272
Closing merged to dev.

[2018-10-25 06:04] #2272 closed

[2018-10-25 06:05] RishiRajSahu commented on #2580
Closing merged to dev.

[2018-10-25 06:05] #2580 closed

[2018-10-25 06:05] RishiRajSahu commented on #2574
Closing merged to dev.

[2018-10-25 06:05] #2574 closed

[2018-10-25 06:05] RishiRajSahu commented on #2578
Closing merged to dev.

[2018-10-25 06:05] #2578 closed

[2018-10-25 06:06] RishiRajSahu commented on #2484
Closing merged to dev.

[2018-10-25 06:06] #2484 closed

[2018-10-25 06:06] RishiRajSahu commented on #2492
Closing merged to dev.

[2018-10-25 06:06] #2492 closed

[2018-10-25 06:06] RishiRajSahu commented on #2481
Closing merged to dev.

[2018-10-25 06:06] #2481 closed

[2018-10-25 06:08] RishiRajSahu commented on #2607
Closing merged to dev.

[2018-10-25 06:08] #2607 closed

[2018-10-25 06:17] RishiRajSahu commented on #2576
closing as merged to dev.

[2018-10-25 06:17] #2576 closed

[2018-10-25 06:18] RishiRajSahu commented on #2646
closing as merged to dev.

[2018-10-25 06:18] #2646 closed

[2018-10-25 11:11] vikasrohit commented on #2656
Good catch @maxceem I guess, we need product team's eyes here.

@acshields @vic-topcoder let us know what do you think here?

[2018-10-25 18:56] vic-topcoder commented on #2632
I went ahead and fixed the definitions of our typography scale; however in TC we are redefining the headings throughout the system; we must now replace any `$tc-heading*` to match the UI Kit definition - there's a mixed approach in Connect.

@maxceem - can you please help
- remove the internal typography scale (size) definitions
- fix the reference in code to the appropriate scale from TC UI

Than