[2016-12-08 10:14] vikasrohit commented on #566
My bad @fnisen Missed the second requirement completely. Fixed now.

[2016-12-08 10:14] #566 closed

[2016-12-08 10:51] vikasrohit commented on #360
Done now. :)

[2016-12-08 10:51] #360 closed

[2016-12-08 18:29] fnisen opened #572 "Messaging: Owner response post missing from status update"
https://connect.topcoder.com/projects/193

Valerie posted a status update to the customer, which he got by email. He responded, but the response didn't show up on the Dashboard. Please see exchange below:

---------- Forwarded message ----------
From: Imad Harb <topcoder@discoursemail.com>
Date: Mon, Dec 5, 2016 at 1:49 PM
Subject: [Topcoder Connect] [PM] Project
To: vbailey+connect@topcoder.com

[2016-12-09 00:58] fnisen commented on #360
Working well--thanks!

[2016-12-09 01:00] fnisen commented on #566
No problem. Working correctly now. 👍

[2016-12-09 01:10] fnisen opened #573 "Project listing: page navigation is missing in Dev"
<img width="1274" alt="screen shot 2016-12-08 at 5 08 07 pm" src="https://cloud.githubusercontent.com/assets/12552247/21033929/fc41df10-bd68-11e6-8f6d-6f0c77588246.png">

Not sure what happened and am worried we'll push this bug out to Prod.

[2016-12-09 01:20] fnisen opened #574 "Discussions: no footer on Discussion tab"
<img width="1273" alt="screen shot 2016-12-08 at 5 17 48 pm" src="https://cloud.githubusercontent.com/assets/12552247/21034179/7c907c16-bd6a-11e6-8394-3a0fdabf70ed.png">

Can use the same footer as on the Specification and Dashboard tabs

[2016-12-09 01:23] fnisen commented on #166
@vikasrohit yes, that was good thinking! Overall it's working well, but I'm seeing two edge cases:
1. If I'm on the Discussions tab and click the Discussions tab again, the page will reload and the post will disappear w/o warning
2. I'm on a thread with earlier messages and click "Load earlier messages," the post will also disappear without warning.

You can test on this project: http://connect.to

[2016-12-09 01:32] fnisen opened #577 "Top nav: Remove "beta" logo"
Can you please remove the beta logo/link. I think the code is here: https://github.com/appirio-tech/connect-app/blob/dev/src/components/TopBar/TopBar.jsx

[2016-12-09 06:18] vikasrohit commented on #166
I see.
1 is because route didn't change. What should be the behaviour in this case? Don't reload the page on clicking the same page's link in nav OR show the unposted content warning in this case as well?

2 I can try handling this as well. I guess, we should just simply load more messages without  changing the unposted content i.e. we don't need show the unposted content alert in this case, right

[2016-12-09 06:26] vikasrohit commented on #573
@fnisen It seems something has changed in project API. Its returning only 20 records now for pshah_manager user. @parthshah Are you aware of any such change in the API?

[2016-12-09 19:53] #577 closed

[2016-12-09 21:47] fnisen commented on #166
Yes, agree with that approach for 2.

For 1, we don't have polling or webhooks right now, correct? So, the user may be clicking on "Discussions" to reload and see new messages, in which case we should allow the click/reload and show the unposted content warning.

[2016-12-09 23:36] fnisen opened #579 "General: allow "admin" role to have same rights as "manager" role"
Currently there are 4 user roles in Connect:
1. Customer
2. Copilot
3. Manager
4. Admin (actually a system role)
Admins can see all projects, but cannot participate in projects the same way that managers can. This has led to several admin users (such as Valerie) creating different accounts that allow them to serve as managers. To simplify their workflow, can we give admins the same access right as

[2016-12-10 11:07] vikasrohit commented on #572
@fnisen I tried to debug the issue. However, not able to find the cause. One of the probable reasons is that if you are viewing dashboard of a project with joining a project, you might not see the comments. Can you try joining the project and let me know the results? Or allow me to join the project so that I can see the results. I can leave the project after debugging.

[2016-12-12 07:02] vikasrohit commented on #579
@fnisen I have made the changes to make admins behave just like managers. However, I am not able to test it out on my local as I am not aware of a user who only has the administrator role. I tried with tony's account but he has 'Connect Manager' roles as well, so I am not sure if it is working correctly or not. Do we have any such user in dev?
Further, I tried to add administrator role to my accou

[2016-12-12 12:04] vikasrohit commented on #166
@fnisen For me #1 is not happening i.e. when I am clicking on Discussions tab again, its not reloading the page at all. Are you facing this in any specific browser?

I have deployed the changes for #2 Please let me know your feedback.

[2016-12-12 12:31] vikasrohit commented on #574
Changes are in dev.

[2016-12-12 18:49] parthshah commented on #573
Good catch. This was introduced with the latest changes around project search (not in production yet). Missed this in testing community code. This should be fixed now.

[2016-12-12 18:49] #573 closed

[2016-12-12 18:52] parthshah commented on #561
@vikasrohit - can you please add a redirect route in connect-app.

[2016-12-12 21:48] fnisen commented on #574
@vikasrohit the styling is inconsistent. This is the new footer added to Discussions:
<img width="363" alt="screen shot 2016-12-12 at 1 46 05 pm" src="https://cloud.githubusercontent.com/assets/12552247/21118142/6fca946c-c071-11e6-9f1d-1ff951f24eb5.png">
This is the footer from the Dashboard and Specification:
<img width="348" alt="screen shot 2016-12-12 at 1 46 16 pm" src="https://cloud.githubuse

[2016-12-12 22:10] vic-appirio commented on #574
Also - recalculate the height of the containers to accommodate the footer height.
![screen shot 2016-12-12 at 1 59 18 pm](https://cloud.githubusercontent.com/assets/8484061/21118866/b1d05894-c074-11e6-8c16-0b0335aec4f7.png)
Expected:
![screen shot 2016-12-12 at 2 08 23 pm](https://cloud.githubusercontent.com/assets/8484061/21118874/b6cb60f0-c074-11e6-9d12-765df74f8e90.png)

[2016-12-12 22:52] parthshah commented on #579
Sure, see Authorizations DB (https://console.aws.amazon.com/rds/home?region=us-east-1#dbinstances:id=authorization1;sf=all) table role_assignment. roles table should have all the roles.

[2016-12-13 05:56] vikasrohit commented on #561
@parthshah I didn't get how to add redirect route for the home page of the same app. I mean, shouldn't it be done in nginx? It would stuck in infinite loop if I do it in connect app. Please let me know if I misunderstood things here.

[2016-12-13 06:46] vikasrohit commented on #579
Thanks @parthshah Please review the PR #582. I have tested these changes on my local with vbailey user (I have added `administrator` role to the user apart from `copilot` role which she already had) and now I am able to see all projects and able to join them as Manager.

[2016-12-13 07:14] vikasrohit commented on #574
@fnisen I am not able to see the differences in the footer styles in Chrome, however, I can notice the difference in Safari. I tried to find out that difference in Safari, but not able to find one. @vic-appirio Can you please help me here?

Thanks @vic-appirio for noticing the height issue. Now fixed.

[2016-12-13 11:02] vikasrohit commented on #568
@fnisen I can reproduce this on my local as well, though feeds from the previous projects appears for fraction of a second. I have committed some changes to fix this issue. However, I would like @parthshah to have a quick look at those changes just to avoid any silly side effect of my changes.

[2016-12-13 18:21] parthshah opened #585 "Ignore 'user-joined' type posts in Topic comments"
@vikasrohit can you make sure 'user-joined' type of posts are ignored in Topic comments.
Here's an example:
https://connect.topcoder.com/projects/222

![image](https://cloud.githubusercontent.com/assets/1987710/21153102/e360d362-c11d-11e6-90f0-9c30df476958.png)

[2016-12-14 00:47] fnisen commented on #568
Thanks @vikasrohit! @parthshah please check it out.

[2016-12-14 06:30] vikasrohit commented on #585
@parthshah We already have the check to omit all non 'post' type posts. It seems we are getting few empty 'post' type posts from the API.
<img width="1280" alt="github 585" src="https://cloud.githubusercontent.com/assets/2417632/21171853/8639f7f4-c1f4-11e6-97be-5eae97a56e33.png">

[2016-12-14 06:48] vikasrohit commented on #572
@fnisen As per our discussion over Slack, I am removing the constraint of user to be a team member of the project in order to view the comments of status updates. Further, I am assuming we need to do the same for Discussions tab as well, so removing the constraint there as well. So, now any user who has the access to the project's dashboard and discussions pages, can view posts and comments.

[2016-12-14 07:29] vikasrohit commented on #551
@sudoster @parthshah @fnisen Discussed with Kohata-san about this, and we don't think that there is any endpoint to get role of a non logged in user. So, without that I am not sure how to automatically add a Topcoder Manager as Manager in connect project.

[2016-12-14 07:36] #572 closed

[2016-12-14 07:38] vikasrohit commented on #516
I think we are still having this issue, able to see the issue for https://connect.topcoder.com/projects/222

[2016-12-14 17:35] fnisen commented on #516
@mahestro's view of the Dashboard:

![yalltours - topcoder 2016-12-14 11 am-30-45](https://cloud.githubusercontent.com/assets/12552247/21193248/7db2962c-c1e0-11e6-924b-8f2a227883b4.png)

The first few posts are out of order, even ignoring the Coderbot posts

[2016-12-14 18:20] parthshah commented on #585
That is strange. Can we ignore posts by system and body is empty. There might be system posts that we want to display in the future but they should all have some data

[2016-12-14 18:35] parthshah opened #587 "Comments Sort order within a topic is incorrect"
https://cloud.githubusercontent.com/assets/12552247/21193248/7db2962c-c1e0-11e6-924b-8f2a227883b4.png

See attached file for sample data.
[post.json.txt](https://github.com/appirio-tech/connect-app/files/652542/post.json.txt)

fyi @fnisen

[2016-12-14 18:46] parthshah commented on #516
Let me try to clarify (maybe for my own sanity :) ) - there are 2 entities here topics and comments.
Earlier discussion on this thread was about sorting topics. The last message from @fnisen is about sort order for comments within the topic. This is most likely a separate issue, so moving it here - See #587

Back to sort order of topics, lastActivityAt, I'll try making a change in the API to ignor

[2016-12-14 19:09] parthshah commented on #551
Ok, thanks for working through this @ykohata & @vikasrohit.
@fnisen if this is a high enough priority, @sudoster would you want to add such an endpoint for 'admin' users to retrieve user roles in identity service?

[2016-12-14 20:11] vic-appirio commented on #378
Not into the current scope; closing. Can find it for reference later

[2016-12-14 20:11] #378 closed

[2016-12-14 20:51] vic-appirio commented on #84
Reassigning to @mahestro  as we're working on an automated SVG Loader plugin implementation in a parallel branch. Once this is done, there will be no need for @vikasrohit to actually do anything manually.

[2016-12-14 20:52] vic-appirio commented on #504
It actually applies to the general styles. As we're not started on this project, I'm closing the issue as non-connect related.

[2016-12-14 20:52] #504 closed

[2016-12-14 22:34] ajefts commented on #562
@vikasrohit Can you ping me when you're on slack to explain the custom field issue?  I'll try to help out.

[2016-12-14 23:22] fnisen commented on #551
Yes, would like to have this working if it's not too complicated to add the endpoint.

[2016-12-14 23:27] fnisen commented on #587
This is the project referenced in the screenshot: https://connect.topcoder.com/projects/222

[2016-12-14 23:43] parthshah commented on #561
connect subdomain is directly being served through Route53 no nginx is involved today. We could technically have supply nginx support connectv2 sub-domain but I rather not add to the mess there.
I was hoping we could add a snippet in connect-app,  maybe in root routes, to check if the host is connectv2... and if so issue a permanent redirect to connect.

[2016-12-15 00:32] vic-appirio commented on #574
The reason for different font rendering is the css rule `transform: translate3d(0px, 0px, 0px);` applied to the sticky side column on the dashboard page. This causes improper rendering. The correct rendering is on the Messages page, where the `transform: translate...` is not present. This is caused by the `react-sticky` plugin which I don't like as it causes jumps instead of a simple `position: fi

[2016-12-15 00:38] fnisen commented on #574
Also, I'm not sure if you've fixed this and it's not deployed, but I'm seeing some incorrect spacing in the container in Dev (sample project: http://connect.topcoder-dev.com/projects/438/discussions)

<img width="446" alt="screen shot 2016-12-14 at 4 37 13 pm" src="https://cloud.githubusercontent.com/assets/12552247/21207209/b017b472-c21b-11e6-9c3c-aebb19d97c21.png">

<img width="798" alt="screen

[2016-12-15 00:45] fnisen commented on #568
Merged by Parth. Closing.

[2016-12-15 00:45] #568 closed

[2016-12-15 01:07] fnisen commented on #166
@vikasrohit that's weird. I can only longer reproduce #1. Oh well, forget it then. #2 is working fine, thank you.

[2016-12-15 01:22] fnisen commented on #579
Merged by Parth and working for me in Dev, so closing this one.

[2016-12-15 01:22] #579 closed

[2016-12-15 06:19] vikasrohit commented on #574
It is not deployed yet. I fixed it after Vic noticed that.

[2016-12-15 06:32] vikasrohit commented on #562
Sure @ajefts However, it seems like we are going to discard these changes, I saw comment from mess in slack about that.

[2016-12-15 06:37] vikasrohit commented on #166
Closing.

[2016-12-15 06:37] #166 closed

[2016-12-15 06:53] vikasrohit commented on #574
Thanks @vic-appirio for the help. Fixed with the easiest solution. 😬
@fnisen Can you please check the height issue of the left panel again. It seems working for me now.

[2016-12-15 07:09] vikasrohit commented on #561
Okay. Done. Although, I am not able to see any troubles right now with these changes, we might need to revert the changes, if they cause any problem after deployment on production. In case, I am not available at that time, we just need to remove the onEnter callback from the root route.

[2016-12-15 07:17] #561 closed

[2016-12-15 10:59] vikasrohit commented on #585
Done. Merged changes into dev, however, due to some strange reason, travis is not able to build the branch.

[2016-12-15 10:59] #585 closed

[2016-12-15 10:59] vikasrohit commented on #587
Done. Merged changes into dev, however, due to some strange reason, travis is not able to build the branch.

[2016-12-15 10:59] #587 closed

[2016-12-15 17:13] fnisen commented on #562
@vikasrohit sorry for the confusion. We are still going ahead with this. The current plan is:
1. Finish and release web-to-lead ASAP (it will help support the Marketing team and allow us to drive more traffic directly to Connect)
2. After we move to our own Salesforce org, do the full integration, which is what Mauricio had planned originally. No date for this yet--may be 1-3 months.
Can you pleas

[2016-12-15 17:40] fnisen commented on #574
@vikasrohit the problem is not with the height, but with the space between the content and the bottom of the container. Here is a current project in production for example:

<img width="393" alt="screen shot 2016-12-15 at 9 37 54 am" src="https://cloud.githubusercontent.com/assets/12552247/21235102/39ca85e4-c2aa-11e6-9b52-000e7058ceb2.png">

Do you see how there's plenty of space at the bottom? No

[2016-12-15 17:47] fnisen commented on #561
👍

[2016-12-16 13:24] vikasrohit commented on #574
@fnisen Can you please let me know the project for which you are facing this issue? I am still not able to see the cut off in the left panel. And, sorry, but I didn't get the second issue with the right panel.

[2016-12-16 14:23] vikasrohit commented on #562
Okay. I would start working on it again from coming Monday. It was not possible to include this in today's release.

[2016-12-21 20:54] parthshah opened #593 "Increase timeout when posting topics / comments to message service"
At times we need to first create a user in discourse and then create a topic. This at takes a long time to process. Unfortunately on FE the user sees a timeout and then when they refresh the page the post is visible. Please set the timeout to 1.5 mins to avoid such situations.
fyi - @fnisen

[2016-12-22 07:08] vikasrohit commented on #574
@fnisen Please let me know the project id and browser where you are facing the space issue.

[2016-12-22 09:10] vikasrohit commented on #372
@fnisen I have committed and merged changes for this issue into dev. Can you please check the behaviour and let me know if it is serving the purpose or need any modification.

[2016-12-22 10:20] vikasrohit commented on #372
@fnisen I have committed and merged changes for this issue into dev. Can you please check the behaviour and let me know if it is serving the purpose or need any modification.
One of the known issue/limitation is that as of now user can enter any value in the "Go to page" tooltip i.e. we don't have validations for preventing user from entering a page which does not exist. I am not sure how to preve

[2016-12-22 10:44] vikasrohit commented on #562
@fnisen @ajefts @parthshah I am able to create and access the newly created lead in my org. I have committed my changes into https://github.com/appirio-tech/tc-project-service/tree/feature/salesforce-lead branch. I tried the same changes against appirio's dev org, and it didn't throw any error as well but it didn't create the lead. Further, I don't have sufficient privileges in dev sandbox to view

[2016-12-22 11:01] vikasrohit commented on #593
@parthshah I have made the changes, not sure how to validate that axios is actually respecting the new timeout. There are few issues mentioned in web community about axios not respecting the timeout settings in some cases. Here is the PR https://github.com/appirio-tech/connect-app/pull/595

[2016-12-23 00:22] fnisen commented on #372
@vikasrohit it's working well. Yes, agree, no need for validation. However, if I enter a page that doesn't exist and get "no results," when I click back, I also get "no results" again, which is incorrect.

Also, noticed a few styling issues:
<img width="284" alt="screen shot 2016-12-22 at 4 14 02 pm" src="https://cloud.githubusercontent.com/assets/12552247/21444484/a85d26d4-c862-11e6-834d-993fe8ce

[2016-12-23 00:25] fnisen opened #596 "Status update: a comment post remains in the composer window after being posted"
<img width="744" alt="screen shot 2016-12-22 at 11 40 43 am" src="https://cloud.githubusercontent.com/assets/12552247/21444518/1fa75746-c863-11e6-9f7b-266b46a12491.png">
This is happening with status updates.

[2016-12-23 00:36] fnisen commented on #574
@vikasrohit I'm on Mac/Chrome, for this project: http://connect.topcoder-dev.com/projects/438/discussions.

For the left-hand panel, when I scroll down, the content gets cut-off:
![image](https://cloud.githubusercontent.com/assets/12552247/21444610/22aa8598-c864-11e6-8e0b-5bdb4dfd086b.png)

For the right-hand panel, when I have several posts and try to create a new one, the post button is not visi

[2016-12-23 05:37] vikasrohit commented on #574
Strange @fnisen I tried it again on Mac/Chrome. Even tried in incognito. But I am getting correct results. It seems somehow it is caching (scroll bars are not visible no your browser) the javascript on your machine. Can you please let me know exact version of chrome? Mine is Version 55.0.2883.95 (64-bit)

[2016-12-26 07:25] vikasrohit commented on #596
Thanks @fnisen for noticing this. It was a regression after fix for the #166 Fixed now, please let me know if you still face any issue related to this.

[2016-12-27 10:13] vikasrohit commented on #372
@fnisen I have made changes for the issues you pointed out above. From the styling purposes, I need access to parent folder of the specs in drive as I am not able to see the specs page properly with the link given and neither I am able to find these specs in 'Connect' drive folder.

And for the issue with "no results" page when hitting browser back button, I have found that this is an existing iss

[2016-12-27 17:56] appirio-jenkins commented on #562
@ajefts any thoughts?
- Parth

On Thu, Dec 22, 2016 at 2:44 AM vikasrohit <notifications@github.com> wrote:

[2016-12-27 18:35] fnisen commented on #574
Hey @vikasrohit. I updated my version of Chrome (I'm now running Version 55.0.2883.95 (64-bit), same as you), and I also tested in Incognito in production. I was seeing the same issue. For example, here the scroll bar would not appear at all: http://www.screencast.com/t/FQeL7vbEl7J and here it would not "bounce" at the bottom, but simply sink through: http://www.screencast.com/t/fDd5p09F.

I tried

[2016-12-27 18:46] fnisen commented on #372
@vikasrohit yes, here is the link: https://drive.google.com/open?id=0B1LbmKnex41fVVJwVzJvVFFIVE0. Thanks for creating the light theme and agree with you regarding the component approach. Can you please adjust the font on the tool tip, as well?

The back button is working correctly now. 👍

[2016-12-27 18:51] fnisen commented on #596
@vikasrohit yes, found one more. After creating a new thread and posting, there browser still thinks there is content in the composer window: http://www.screencast.com/t/KefrpwHYWgq

[2016-12-27 18:53] fnisen commented on #596
@vikasrohit yes, found one more. After creating a new thread and posting, the browser thinks there is still content in the composer window: http://www.screencast.com/t/KefrpwHYWgq. Seeing this in prod and dev (try this project: http://connect.topcoder-dev.com/projects/438/discussions).

[2016-12-28 02:31] dmessing opened #599 "Followed links -- need a better color"
### Expected behavior
Read messages on Connect, and view links I've seen before so they stand out

### Actual behavior
Once clicked, the link turns to look the same as any other text

### Steps to reproduce the problem
- Log into a project
- Click on coder's message to view the note about specifications
- Click on specification
- Reload the project message board, the specification link is plain co

[2016-12-28 06:20] #593 closed

[2016-12-28 09:55] vikasrohit commented on #596
Thanks again @fnisen for the careful observations. I don't know how I missed that, I am doing regression around the feature every time.

[2016-12-28 09:55] #596 closed

[2016-12-28 09:58] vikasrohit commented on #574
Unfortunately, I am still not able to reproduce it, even in production (project id 39), in incognito and normal windows as well.

[2016-12-28 10:20] talesforce opened #602 "Should clear the text editor content once it has been posted"
### Expected behavior
Currently, if I enter any text in 'Create a new comment' box and hit 'Post', it should clear the text box

### Actual behavior
It does not clear the text box even though the same message has already been posted. It is very confusing not to clear the text box and I ended up submitting duplicates for the same message

### Steps to reproduce the problem
Follow about

### Screens

[2016-12-28 10:26] vikasrohit commented on #372
Styled tooltip font and box shadow to match it with specs. Please let me know if it still missing some thing.

[2016-12-28 10:26] #372 closed

[2016-12-28 10:27] vikasrohit commented on #602
Should be fixed now (in dev) as fix for issue mentioned in https://github.com/appirio-tech/connect-app/issues/596#issuecomment-269366828 has been deployed in dev.

[2016-12-28 11:32] vikasrohit opened #603 "Handle missing/deleted user for feeds/comments"
### Expected behavior
Should render the project dashboard or Discussions tab, when any of them has a feed/comment for which API is somehow failing to load userId field.

### Actual behavior
It stuck in loading state and throws errors in console.

### Steps to reproduce the problem
- There is not specific step to reproduce. Only way is to remove, in API response, userId field for any feed or its co

[2016-12-28 11:34] vikasrohit commented on #603
@fnisen It is not a critical issue, however, I think it can happen if there is some issue/error in messaging API, considering the issues with user creation in discourse. Better would be handle that gracefully, so that users can at least see the page and identify the issue.

cc: @parthshah @ajefts

[2016-12-28 18:26] fnisen commented on #602
Thanks for reporting @talesforce. As Vikas mentioned, this was fixed as part of https://github.com/appirio-tech/connect-app/issues/596 and will be out in the next release.

[2016-12-28 18:26] #602 closed

[2016-12-28 18:34] fnisen commented on #603
@vikasrohit so would the approach be to capture the error response and render some kind of default message? Should we expand the handling to any kind of API failure (not just related to user creation)?

[2016-12-28 21:58] fnisen commented on #372
Beautiful, thank you.

[2016-12-28 22:00] fnisen commented on #596
Thanks @vikasrohit. No worries.

[2016-12-28 23:37] fnisen commented on #574
@vic-appirio can you please have a look at the Discussions page in Dev and tell me if you're seeing the same issues as me with the components being cut off?

[2016-12-28 23:39] fnisen commented on #562
@vikasrohit I mentioned this issue to Greg, and he recommended checking with Nikita, who may have pretty good general Salesforce knowledge. You could also try talesforce. Otherwise, Tony is back to normal schedule next week. Thanks.

[2016-12-29 00:28] #599 closed

[2016-12-29 05:26] vikasrohit commented on #562
Thanks @fnisen, however, I have already discussed this with Ritesh who is expert on salesforce. 😬 However, right now the problem is that I don't have enough privileges on Appirio dev sandbox to validate things. My fix is working fine with my own trial production org. So, action items are:

1. Someone to check what is wrong with Appirio dev sandbox or what changes I need to make it work with Appiri

[2016-12-29 05:31] vikasrohit commented on #603
I think we are already handling those kind of errors. However, the error situation I mentioned is after a post/comment is successfully created. I am not sure, why message api is not returning userId field for some comments for my project (http://connect.topcoder-dev.com/projects/273), but it seems like either the user who posted those comments is somehow deleted from the discourse or may be the me

[2016-12-29 06:12] vikasrohit opened #605 "Project Listing || Browser's back button does not take to previous page"
### Expected behavior
Project list should be shown for the previous page number results when user comes back using browser back button.

### Actual behavior
Should load correct page results after hitting browser back button.

### Steps to reproduce the problem
-- Open project listing page
-- Go to any other page of project listing
-- Hit browser back button.
-- Ideally user should be taken to prev

[2016-12-29 06:13] vikasrohit commented on #605
@fnisen fyi... created issue to have better release change logs.

[2016-12-29 06:13] vikasrohit commented on #605
Fixed with #372

[2016-12-29 06:13] #605 closed

[2016-12-30 00:29] fnisen commented on #562
@vikasrohit ah, I see. OK, well done, then. If it's an issue with the Appirio dev sandbox, can you please open a ticket with Appirio IT (Chris Bruzzi)? They should be able to get you set up. Thanks.

[2016-12-30 19:43] fnisen opened #607 "Dashboard: status updates overflowing container"
@vikasrohit can you please take a look at this project in prod: https://connect.topcoder.com/projects/76.  For me the status updates are totally overflowing their container on the Dashboard and making it impossible to browse. I'm on Mac/Chrome. Thank you.

[2017-01-02 05:44] vikasrohit commented on #607
Fixed. Deployed in Dev.

[2017-01-02 05:44] #607 closed

[2017-01-02 09:40] vikasrohit commented on #562
@fnisen I am not sure if they would give me admin access by my request. Can you or Tony raise the request for the same? or Should I created ticket for that and you guys can authorize the request there?

[2017-01-04 00:33] fnisen commented on #562
Perfect. Yes, please involve us if needed, but I think IT should be able to give you access directly.

[2017-01-04 00:46] fnisen opened #610 "In UI, handle Direct project not being set"
When a Connect project is first created, a corresponding Direct project is created, as well. However, if the call to Direct fails, the user (Manager or copilot) will not know that a Direct project doesn't exist. Parth is now handling this case on the backend. Can we please also support this in the UI by changing the copy for the Direct link on the Dashboard? When successfully created, the link say

[2017-01-04 00:47] fnisen opened #611 "Avatar issue in prod"
My avatar is frequently shifting between my image and my initials (see below).

![screen shot 2017-01-03 at 4 31 42 pm](https://cloud.githubusercontent.com/assets/12552247/21628417/36c8ac66-d1d4-11e6-8eb0-ce517bec5740.png)

[2017-01-04 06:42] vikasrohit commented on #610
@fnisen @parthshah We are already checking if direct project id exists in the API response, and if it is, then only we show the direct project link. So, I am not sure how can there be a case where direct project creation failed but we have direct project id in API response.

[2017-01-04 06:46] vikasrohit commented on #562
@fnisen I think IT guys saw some issues with providing admin privileges to my account. So, I might not get admin privileges for long enough. However, I was able to test, with the help of Ritesh, the things before they revoke my privileges. It is working fine in dev sandbox as well. It was URL of web to lead posting in sandbox. I tried with sandbox url and it worked fine for me. I think we are read

[2017-01-05 06:22] vikasrohit commented on #611
@fnisen Can you please let me know few steps to reproduce this? I tried refreshing the project 222 and 303 multiple times, but I am not able reproduce the issue.

[2017-01-10 20:17] fnisen commented on #611
@vikasrohit I don't know. My avatar has mostly disappeared recently, but don't know what could have triggered it.

[2017-01-10 22:12] parthshah commented on #562
Hey vikas, tc-project-service deploys are handled through circle-ci. Just merge your changes in dev (for Dev env) and master (for Production env) and that should trigger the build and deploy. Feel free to send me a PR.

[2017-01-10 23:25] fnisen opened #614 "Topcoder challenge links not displaying correctly on Dashboard"
Please have a look at this project Dashboard: https://connect.topcoder.com/projects/341

<img width="723" alt="screen shot 2017-01-10 at 3 24 11 pm" src="https://cloud.githubusercontent.com/assets/12552247/21829082/f7245496-d748-11e6-89fb-da2c9aa32b38.png">

[2017-01-11 05:48] vikasrohit commented on #562
Okay. I have merged my changes with latest changes in the dev. It had a few conflicts. Resolved them and tested it  again on my local. I would try again in dev after merging the [PR](https://github.com/appirio-tech/tc-project-service/pull/28).

[2017-01-11 06:58] vikasrohit commented on #614
@fnisen It seems the link from challenge details page is copied as is which contains angular expressions.
`
{{CD.challenge.challengeName}}
`
This would have work for the angular app, but we have React in connect app. So, this link won't work. We have to use absolute values i.e. for posting link to the challenge something like this would work:
`
<a href="https://www.topcoder.com/challenge-details/3

[2017-01-11 11:55] vikasrohit commented on #610
@fnisen just a bump up

[2017-01-11 11:57] vikasrohit commented on #611
Okay. But I am not able to reproduce it with your FN_Manager account. I am refreshing the page multiple times but still able to see your correct avatar for Filipp Nisenzoun user.

[2017-01-11 23:56] fnisen commented on #610
@vikasrohit OK, I think I understand. So, when there is no Direct project, you show the copy instead?

[2017-01-12 00:02] fnisen commented on #614
@vikasrohit OK. What can we do without requiring people to post the link a certain way?

[2017-01-12 05:16] vikasrohit commented on #610
Yes. When there is no direct project, I am showing "No Direct project. Please contact support." as link, which opens email client on clicking it.

[2017-01-12 05:18] vikasrohit commented on #614
I guess, we need to do nothing. Users can simply paste normal HTML. The link code I shared above, has nothing special. It is a simple HTML link.

[2017-01-18 21:56] fnisen commented on #562
@vikasrohit bumping this. Can you please finish in dev and then push to prod if it's working?

[2017-01-19 07:10] vikasrohit commented on #562
Sorry @fnisen Missed to update the issue (updated the PR instead), however, I have tested things in dev and it is working fine. For production, I don't have access to create custom fields, so I won't be able to test it there. Basically, to deploy on production following steps are needed:
1. Create custom field for Connect Project Id (api name of the field should be TC_Connect_Project_Id__c)
2. Cre

[2017-01-19 22:25] fnisen commented on #562
@dmessing FYI

[2017-01-20 03:22] fnisen commented on #562
@vikasrohit as a first step, can you try writing to Appirio IT and asking for the permissions you need?

[2017-01-20 05:41] vikasrohit commented on #562
@fnisen I have asked them for sandbox and they did provided me the access. However, later on it was revoked.

[2017-01-21 01:37] fnisen commented on #562
Is it possible for you to get it back? Can you please try? If not, we can go with plan B, but I'd like to make sure this won't work first.

[2017-01-27 05:16] vikasrohit commented on #562
@fnisen I don't think so. I can definitely start the process again to get the credentials, however, I think it would take time and nods from people above in hierarchy to get it resolved. And as we have already started working on our separate salesforce org, I think we can integrate it directly there.

[2017-02-02 22:53] parthshah commented on #603
There was a bug in the service awhile ago, it might have been related to that. I think this shoudl be fixed now. Please re-open if you have more recent use cases.

[2017-02-02 22:53] #603 closed

[2017-02-02 22:54] parthshah commented on #516
this should be resolved now. Please re-open if you think otherwise.

[2017-02-02 22:54] #516 closed

[2017-02-02 22:57] parthshah commented on #491
Being tracked here - topcoder-platform/tc-project-service#34

[2017-02-02 22:57] #491 closed

[2017-02-02 23:00] parthshah commented on #462
![image](https://cloud.githubusercontent.com/assets/1987710/22572288/3fc420ca-e958-11e6-80af-931beef21928.png)

@vikasrohit - should we run a challenge for this?

[2017-02-02 23:03] parthshah opened #615 "Auto reload project topics"
Users need to refresh the page to get the latest topics. Either reload the topics when specific actions are taken or poll for changes. We'll have to manage the use case when a user is adding a new post / comment, they should not lose focus.
fyi @fnisen , @vikasrohit

[2017-02-03 07:21] vikasrohit commented on #615
I am not sure how it would solve the case where some other user added new post/comment to the same project as in this case there is no action performed by the viewing user and he/she still has to reload the page manually. IMO, polling or opening a web socket are the only options.

[2017-02-04 20:49] mazaisantan opened #616 "TypeError: __webpack_require__(...) is not a function"
### Expected behavior

### Actual behavior
- run `npm start`,there are some problem when I build the project.The information is as follows:
`ERROR in ./~/.2.7.1@react-datetime/css/react-datetime.css
Module build failed: TypeError: __webpack_require__(...) is not a function`
### Steps to reproduce the problem
- when I run `npm start`

### Screenshot/screencast
![image](https://cloud.githubuserconte

[2017-02-08 00:41] fnisen opened #618 "Project Listings: "Open" filter not returning any results"
<img width="1280" alt="screen shot 2017-02-07 at 4 40 11 pm" src="https://cloud.githubusercontent.com/assets/12552247/22718258/3da3f55e-ed54-11e6-8683-98fefb96c41e.png">

[2017-02-08 01:03] fnisen commented on #516
Yup, haven't seen this lately. Thank you.

[2017-02-08 01:08] fnisen commented on #562
@vikasrohit wanted to check in with you on this one. Sumit and the team were apparently working on the new SFDC org for us and the sandbox should already be available. Can you please check with Sumit, Ritesh or someone on the Jaipur team to find out the status of this? Thank you.

[2017-02-08 06:17] vikasrohit commented on #562
@fnisen I just talked to Ritesh about this. We are expecting the new org to be live by end of this Q5 so we can not move the changes to production until then. Though I have already validated changes against Appirio sandbox, I can again validate the changes against the sandbox of the new Topcoder org to be sure that it won't fail on production.

[2017-02-08 06:22] vikasrohit commented on #462
@parthshah Yes, we can run a challenge for this, however, I am not sure how well our community is equipped with discourse knowledge. If have discourse skill in community, we can definitely get it fixed via community, otherwise I can look into it.

[2017-02-10 18:34] fnisen opened #619 "Dashboard: comment post overflowing container"
Happening on several projects:

https://connect.topcoder.com/projects/954
https://connect.topcoder.com/projects/975

<img width="926" alt="screenshot" src="https://cloud.githubusercontent.com/assets/12552247/22838941/31bce320-ef7c-11e6-8c59-3d03ac6a1e46.png">

Reported by Joey

[2017-02-11 06:16] vikasrohit commented on #619
@fnisen It is happening because of <pre> tag which is not letting the sentence to break. What we can do to handle this case gracefully is to put horizontal scroll bar in per such message/post. Is that acceptable?

[2017-02-13 05:58] vikasrohit commented on #618
Fixed. Added missing support for IN operator in status field's query.

[2017-02-13 05:58] #618 closed

[2017-02-13 19:04] fnisen commented on #619
@vikasrohit yes, please go ahead.

[2017-02-14 11:36] vikasrohit commented on #619
Fixed and deployed to dev.

[2017-02-14 11:36] #619 closed

[2017-02-22 03:03] vic-topcoder opened #621 "Fix/refactor dumb icon components for the new product wizard"
We should be using only .SVG images and never render .PNG from .SVG. All state changes of the SVG should be handled as CSS modifications of SVG properties (fill, stroke, etc.).

What needs to be refactored:
![screen shot 3](https://cloud.githubusercontent.com/assets/8484061/23195321/951c8184-f867-11e6-9cba-0107e7c81879.png)

We have several unnecessary components for the new project wizard:

Proje

[2017-02-23 23:54] sirakovaDimitrina opened #622 "New project - frame fixes"
- [x] New product wizard frame has an extra close button
- [x] Background is not on full screen
- [x] Inputs not to spec
- [x] Cards layout issues

[2017-02-27 21:05] #478 closed

[2017-02-27 21:09] parthshah opened #623 "Allow comments for System generated messages / status updates."
Any reason to not allow project members to comment on system generated topics / posts? Now that we have system notifications / updates on most project events such as members joining etc., it would be nice to allow users to leave a welcome message to that same thread.

[2017-02-27 21:12] parthshah opened #624 "Add create project route with pre-selected project data"
Add a route such as /project/create in connect-app that takes in optional query params that can be used to launch project creation flow and pre-populate fields with through query params. Pre-populated fields could include -
- refCode,
- utm params,
- project type,
-product type etc

[2017-02-27 21:15] parthshah commented on #615
Definitely recommend polling, over the other approach, but just wanted to give options. Right now a project has been changed from draft to submitted state or any other state, once has refresh the page to see the system notification.
fyi - @fnisen

[2017-02-27 23:41] fnisen opened #625 "Project 908: Dashboard stuck in infinite loop"
The Dashboard for this project never loads: https://connect.topcoder.com/projects/908/. Been seeing this for a few days now.

[2017-02-27 23:45] fnisen opened #626 "Dashboard link validation too restrictive"
Joey is reporting not being able to add a valid URL in the Connect links: http://topcoder.work:3500/ (note: this is a demo server run by Harry Wynn; the link is not working currently, but was live earlier)

<img width="394" alt="screen shot 2017-02-27 at 8 51 24 am" src="https://cloud.githubusercontent.com/assets/12552247/23385218/78332172-fd03-11e6-8f79-f2f1090fc2a1.png">

[2017-02-27 23:49] sirakovaDimitrina opened #627 "Project Specification page - css styling"
- [x] Header
- [x] input
- [x] checkbox select cards

[2017-02-28 00:47] vic-topcoder opened #628 "Project specification page - Add support for text area autosize"
For all text areas on the project specification page(s) we should add third-party text area resize plugin, https://github.com/andreypopp/react-textarea-autosize or something similar. The idea is to make reading the page easy without the need to resize the text area (or scroll through it) all the time.

[2017-02-28 01:05] fnisen opened #629 "Allow Managers to delete newly created projects"
Currently when a Manager creates a new project, they don't see the Delete button on the Dashboard (which a regular user would see)

[2017-02-28 04:59] vikasrohit commented on #623
From my understanding, the reason behind not allowing comments on system generated posts is that they are mostly one way in nature i.e. they convey some notification or update for the users. Another reason being a user can't interact with system user, at least until we have some AI in place. 😬
However, as you mentioned now we have more events which are posted by the system user such as members joi

[2017-02-28 05:15] vikasrohit commented on #614
Got some useful information from @gondzo It seem like it is happening because discourse is trying to parse the document of the target link to retrieve the page title and other stuff, however, somehow either angular in the target page is not loading correctly or taking more time than what discourse is timing out. Hence, it renders the partial information. May be we need to look into discourse for s

[2017-02-28 07:27] vikasrohit commented on #625
Fixed and deployed as hot fix on production. However, the problem was that userId field of few posts was null. I am not sure why it was null, but API is returning it as null so the code breaks when trying to pull in the author of the post. For now, I have fixed it by using 'Not Available' as the author name when userId of the comment is null. Please let me know if you want to use other copy for th

[2017-02-28 07:29] vikasrohit commented on #625
One more strange thing is that somehow there are comments of system user's  posts in this project. I am wondering how it is possible. There seems to be a loop hole in the code which is allowing users to comment on system user's post.

[2017-02-28 07:30] vikasrohit commented on #623
Please see https://connect.topcoder.com/projects/908. It seems we have a loop hole which allows user to comment of system user's posts.

[2017-02-28 07:48] vikasrohit commented on #629
@fnisen Right now it is explicitly restricted to the owner of the project to allow deletion of a project in the draft mode. I am adding the project managers to the whitelist of the users to delete a draft project.
Also, IMO, we should ask for the reason of project deletion as well just like we do for the project cancellation.

[2017-02-28 09:26] vikasrohit commented on #626
We are not allowing port in the URL, that is why it is giving validation error. Are we sure we want to allow non standard ports in URL? I can't think of any side effect of it right now, but I am not sure if would not open doors for any kind of hacking. I have made changes(right now allowed only reasonable range of ports i.e. ports from double digit to five digit range) and create PR for the same,

[2017-02-28 19:43] fnisen commented on #626
@parthshah @sudoster do you guys see any issue with doing this?

[2017-02-28 19:46] parthshah commented on #626
Nope that should be fine. We already have no-follow and no-referrer attributes added.

[2017-02-28 19:50] parthshah commented on #629
@vikasrohit delete action should be enabled only if the logged in user is the creator of the projector (createdBy field) and the project status is draft.

[2017-02-28 19:52] fnisen commented on #614
@parthshah back to you please.

[2017-02-28 19:52] parthshah commented on #623
Project member's can respond via email just not through Connect 🤦‍♂️

[2017-02-28 20:07] fnisen commented on #629
Guys, our original thinking for deletion was allowing someone to get rid of a project before anyone else got involved... essentially a way to play around with project creation and not have anyone else know about it. Once a manager is involved, the customer is effectively canceling the project. Submitting the project for review or talking to a manager moves the project into the funnel; it cannot be

[2017-02-28 20:16] vic-topcoder commented on #629
Agree with @fnisen : We should allow managers to have more freedom in the system; including appointing project owners/changing project owners, deleting projects, changing project status, etc. Manager in essence is our ultimate administrator, so limiting them is not good.

Is there a case when we need to delete a project after it's been reviewed? If a project is being abandoned after review, what d

[2017-02-28 20:19] fnisen commented on #629
Thanks @vic-topcoder. A manager is not exactly the same as an admin though: they're just the reviewer/admin for a project, not for the entire system.

Once a project is reviewed, it has to be canceled, not deleted. If the customer doesn't respond, we just mark that as the reason for the cancellation.

[2017-02-28 20:27] vic-topcoder commented on #623
I think we had a conversation about a month ago and we agreed to allow comments on system messages. This would be a nice way to capture request/questions/feedback from customers, as well as to greet new members, or just to piggy back and say hello when you're added to a project.

[2017-02-28 20:41] fnisen commented on #623
OK, it's settled. @vikasrohit assigning to you to implement. Please support responses via email and Connect. Thank you.

[2017-03-01 03:11] fnisen commented on #629
@vikasrohit, @vic-topcoder has convinced me that I'm trying to be too fine with the scenarios and the underlying problem is really Managers using Prod for demos. So, let's not implement this. We can get Managers to move demos to other environments or figure out how to exclude them from the demo. Sorry for the extra work.

[2017-03-01 03:11] #629 closed

[2017-03-01 03:12] fnisen commented on #626
@vikasrohit can you please deploy this one?

[2017-03-01 03:15] fnisen commented on #625
Thanks @vikasrohit. Can you please make the copy: "Connect user" (this way the error is not so obvious)?

@parthshah can you please have a look at this one? The unknown user is actually Joey: https://connect.topcoder.com/projects/908/

[2017-03-01 05:42] vikasrohit commented on #626
Okay. Should be on dev by EOD today.

[2017-03-01 05:50] vikasrohit commented on #625
Okay.

@parthshah Can we find out the log entry for request made for that particular comment (topic id 1741 and post ids 5980, 5982) ? I want to be sure that if it is front end or discourse who is missing that user Id.

[2017-03-01 06:00] vikasrohit commented on #625
@fnisen I am applying the copy change as regular fix not as hotfix, to avoid product update. Please let me know if you want to push it immediately to the production, I would create hot fix in that case.

[2017-03-01 06:49] vikasrohit commented on #623
Roger that @fnisen :)
@parthshah just to confirm, we don't need any change to support commenting on system messages via email because it is already supported. 😬

[2017-03-01 06:53] vikasrohit commented on #629
No problem. Deleting branch.

[2017-03-01 10:45] vikasrohit commented on #623
Changes should be in dev by EOD.

[2017-03-01 11:20] #625 closed

[2017-03-01 11:20] #623 closed

[2017-03-01 16:49] fnisen commented on #625
@vikasrohit thanks, this is fine--no need for the hot fix.

[2017-03-01 21:15] gondzo opened #636 "Currency formatting"
### Expected behavior
The "Quick quote" value should be comma formatted like in design -- for example "$3500" should be "$3,500".

### Actual behavior
Formatted as $3500

### Steps to reproduce the problem
Open the project specification page

--

#### Environment
- OS: all
- Browser (w/version): all
- User role (client, copilot or manager): all
- Account used: all

[2017-03-01 21:25] gondzo opened #637 "Define another screen and screens limit"
### Expected behavior
If the "Define another screen" button is disabled due to the number of screens limit, it's confusing to let the user enter values into the fields of a screen which can't be saved.

### Actual behavior
Currently the new screen can be added but not saved. this is confusing.

### Steps to reproduce the problem
Open the project specification page, select 3 as number of screens an

[2017-03-01 21:27] gondzo opened #638 "Screen number options in project specification"
### Expected behavior
The maximum number of screens in the project specification should be 10, not 7.

### Actual behavior
Maximum number of screens is 7

### Steps to reproduce the problem
Create a project and go to the project specification page

### Screenshot/screencast

![image](https://cloud.githubusercontent.com/assets/3051646/23482107/2ffb63b6-fece-11e6-953c-5a02c9af0fc9.png)

--

#### Env

[2017-03-01 21:31] gondzo opened #639 "Changing screen limit after defining some screens"
### Expected behavior
If user defined 7 screens it should not be possible to select option of 3 screens in 'No of screens'

### Actual behavior
The options for lower number of screens are enabled and can be saved

### Steps to reproduce the problem
create a project and go to the project specification page

### Screenshot/screencast
![image](https://cloud.githubusercontent.com/assets/3051646/234822

[2017-03-01 21:33] gondzo opened #640 "Mandatory fields missing *"
### Expected behavior
Red * should be displayed for mandatory fields in the new screen section.

### Actual behavior
No feedback that the field is mandatory

### Steps to reproduce the problem
Create a project and go to the project specification page

### Screenshot/screencast
https://cl.ly/2Q1u033y341c

--

#### Environment
- OS: all
- Browser (w/version):all
- User role (client, copilot or manag

[2017-03-01 21:35] gondzo opened #641 "Checkmark for selected screen number option"
### Expected behavior
Checkmark should be selected for the selected option in the No of screens section

### Actual behavior
Checkmark is not displayed

### Steps to reproduce the problem
create a project and go to the project specification page

### Screenshot/screencast
https://cl.ly/0R2T033b303q

--

#### Environment
- OS:all
- Browser (w/version):all
- User role (client, copilot or manager):al

[2017-03-02 02:25] vic-topcoder opened #642 "Style the project quick quote details in the left navigation"
The project quick quote is not up to speck in the left navigation/project specification page.

Current:
![screen shot 5](https://cloud.githubusercontent.com/assets/8484061/23490271/5d12ae80-feac-11e6-9771-112ad79eb8b9.png)

Expected:
![screen shot 6](https://cloud.githubusercontent.com/assets/8484061/23490275/62e53a12-feac-11e6-971d-ede1224eaeeb.png)

[2017-03-02 02:28] vic-topcoder opened #643 "Number of screens card should render text instead of SVG"
Fix the component to generate text instead of SVG in the component (`div` or `span`). This will allow us to style it correctly.

Current:
![screen shot 7](https://cloud.githubusercontent.com/assets/8484061/23490315/baf359f0-feac-11e6-9627-4c81eb66abb0.png)
![screen shot 8](https://cloud.githubusercontent.com/assets/8484061/23490321/c7163630-feac-11e6-9c64-5d9563680418.png)

[2017-03-02 02:31] vic-topcoder opened #644 "Unify the components used in New Project wizard and Project Specification page"
Inputs, card selector components, text areas should be reused on both sections; styled by only 1 CSS file per component. Make sure the components behave the same on all pages that (re)use them.

![specification-compoentns---specification](https://cloud.githubusercontent.com/assets/8484061/23490389/413aae50-fead-11e6-9670-a48c3293326c.png)

[2017-03-02 02:36] vic-topcoder opened #645 "Provide styling classes for the "skip question" checkbox to allow unique styling."
Project specification page - current checkbox style affects all checkboxes. Add unique classname to the checkbox to skip a question to not propagate to all elements on the page.

In Development Specification we have this style overrides:
![screen shot 11](https://cloud.githubusercontent.com/assets/8484061/23490507/ce6c2722-fead-11e6-87ab-f48c2b3f7843.png)

Expected:
![screen shot 12](https://cloud

[2017-03-02 02:39] vic-topcoder opened #646 "Disabled style for text area/input in specification page"
Let's reuse the empty state for disabled input/textarea.

![screen shot 13](https://cloud.githubusercontent.com/assets/8484061/23490589/4a7277d6-feae-11e6-9ff4-806532dcb866.png)
![screen shot 14](https://cloud.githubusercontent.com/assets/8484061/23490591/4bb0297c-feae-11e6-918a-e2690f2c6912.png)

Expected:
![screen shot 15](https://cloud.githubusercontent.com/assets/8484061/23490607/5fd654f8-feae

[2017-03-02 02:41] vic-topcoder opened #647 "Support text area classname for empty state"
For empty/filled textarea provide additional classname to be able to switch styles.

@sirakovaDimitrina please explain which classes are needed in which cases.

[2017-03-02 03:28] vic-topcoder opened #648 "Remove notes from design/development/screens sections"
On project specification (v2) we should keep notes only on the main section (App Definition).

[2017-03-02 03:33] vic-topcoder opened #649 "Visual fixes"
We have to do some small fixes on the specification layout to bring it 100% to spec.

Side by side comparison:
![screen shot 17](https://cloud.githubusercontent.com/assets/8484061/23491787/50ef026c-feb5-11e6-8e8d-cd7b2cdf332c.png)
![screen shot 18](https://cloud.githubusercontent.com/assets/8484061/23491790/52614b0a-feb5-11e6-8a75-2835d0ecee1a.png)

Section title font color must be darker;
Check s

[2017-03-02 03:35] vic-topcoder opened #650 "Specification content order/structure fixes"
Make sure the content on the page represents the structure/order as per design. @fnisen please advise if we have to modify anything.

![transition-v1-v2-spec---app-visual-design---v21](https://cloud.githubusercontent.com/assets/8484061/23491912/2b117a10-feb6-11e6-84fc-0a422b706059.png)
![transition-v1-v2-spec---general---v21](https://cloud.githubusercontent.com/assets/8484061/23491913/2b28ad02-feb

[2017-03-02 04:34] fnisen commented on #626
@vikasrohit did this make it out?

[2017-03-02 05:45] vikasrohit commented on #626
Oh! sorry missed it in the release logs. Doing it right away.

[2017-03-02 05:45] #626 closed

[2017-03-02 07:14] vikasrohit commented on #648
Just to confirm it should be done for all type of products, right? I mean this change is not limited to any specific product offering?
And how we would support backward compatibility with this change? I mean any older project which has notes specified in any section other than `App Definition` would not be visible on front end. The data would still be there in database.
cc: @fnisen

[2017-03-02 16:56] vic-topcoder commented on #648
Correct - for all product types we aim at keeping notes in the first section. I was thinking to follow what Parth said yesterday - make a new version of the spec document for all new projects. We're moving description and device selection in the specification document going forward, rather than the project creation wizard. Versioning the project specification would ensure all old instances will st

[2017-03-02 16:58] vic-topcoder commented on #641
This is a component-related issue. @gondzo can you make it a task for the winners who created the component? We need to update/use the same component from project creation inner pages on the project specification

[2017-03-02 19:07] fnisen commented on #622
Guys, I think this is already addressed above, but the new frame unnecessarily takes over the page, unlike the old one, which stood out. Can we please stick with the previous design?
<img width="1201" alt="screen shot 2017-03-02 at 11 05 47 am" src="https://cloud.githubusercontent.com/assets/12552247/23522583/60007bd6-ff38-11e6-8ead-5d42de90416d.png">

[2017-03-02 19:22] fnisen opened #651 "New project modal: links at bottom of the page need to be wired"
<img width="783" alt="screen shot 2017-03-02 at 11 15 22 am" src="https://cloud.githubusercontent.com/assets/12552247/23522931/ae3b9c4e-ff39-11e6-8af7-f0a2076dbf59.png">

- "Create an empty project" should create a "Work Project."
- "Get in touch" should link here: http://crowdsourcing.topcoder.com/piqued_by_crowdsourcing

[2017-03-02 19:28] parthshah commented on #648
That's what I was hoping we would do. Since there are breaking changes, we should be creating a new version for non-AVD projects as well, `topcoder.v2.0.0.js`. All new non-AVD projects should default to this specification once the project has been launched. All new projects **must** have spec version in the details section. Any project that doesn't have a spec version can be defaulted to `topcoder

[2017-03-02 21:23] fnisen opened #652 "After project is created, user should be taken to Dashboard, not Specification"
Let's keep this flow same as now in Connect. User is taken to Dashboard first, so they can see the welcome message and then click through to the Specification.

[2017-03-03 01:06] fnisen commented on #648
@vikasrohit talked with Parth and Vic about this. Please do set up the versioning. However, don't delete the notes sections for now. We'll review the intake with Vic and finalize in a few days, so that we only make the change once.

[2017-03-03 01:07] fnisen commented on #650
Please hold on this one. I need to review the content still.

[2017-03-03 01:09] fnisen commented on #642
@vic-topcoder can you please clarify who should be responsible for this?
Also, let's please keep "days" as we have it currently. "d" is not standard.

[2017-03-03 01:13] fnisen commented on #638
@gondzo don't worry about the exact numbers for now; we'll finalize those at the end, but please remove the skip option from this one. It cannot be skipped b/c it's tied to the price calculator.

[2017-03-03 01:17] fnisen commented on #637
Yes, good call here. The button should be disabled one screen earlier. Also, the mouseover message is not styled correctly. @vikasrohit can you please provide the component for that?

[2017-03-03 01:21] fnisen opened #653 "Remove blue font and blue hover state from components"
<img width="309" alt="screen shot 2017-03-02 at 5 19 56 pm" src="https://cloud.githubusercontent.com/assets/12552247/23534400/8f7adef4-ff6c-11e6-98ac-06a87b014830.png">
<img width="576" alt="screen shot 2017-03-02 at 5 20 17 pm" src="https://cloud.githubusercontent.com/assets/12552247/23534402/93aed872-ff6c-11e6-9fa1-d4fd89e25d67.png">

[2017-03-03 01:22] vic-topcoder commented on #646
Reassign to @gondzo if functionality is needed

[2017-03-03 01:22] vic-topcoder commented on #642
reassign to @gondzo if functionality is needed

[2017-03-03 01:24] fnisen opened #654 "Project name should be editable when project is first created"
Can you please make the project name editable at first? It should then become uneditable after the project moves to "In Review" (either by the user submitting or the status changing). The idea here is for the user to be able to adjust in case they make a typo... but for the name to not change once we're tracking it internally.

[2017-03-03 01:27] fnisen opened #655 "Support up to 7 characters in the reference code"
Currently we support 5; let's please make the limit 7 b/c we have the space and it will give users some more flexibility.

[2017-03-03 01:34] fnisen opened #656 "Rearrange component structure to moved down "skip question""
Please holder for us to finish deciding on this.

[2017-03-03 01:50] fnisen commented on #626
Thank you sir!

[2017-03-03 02:29] vic-topcoder commented on #653
Change hover state on selected element to be black.

[2017-03-03 02:30] vic-topcoder commented on #622
Closing as initial styles have been integrated. Fixes are tracked with new issues

[2017-03-03 02:30] #622 closed

[2017-03-03 02:33] vic-topcoder commented on #647
@gondzo - please reassign to @sirakovaDimitrina after the textarea supports classname changes based on status (empty/filled) for CSS fixes.

[2017-03-03 09:47] vikasrohit commented on #652
Fixed. Would be deployed on dev by EOD.

[2017-03-03 09:48] vikasrohit commented on #648
Okay, roger that.

[2017-03-03 10:00] vikasrohit commented on #637
@gondzo we have a tooltip component already available with two different themes in [react-components](https://github.com/appirio-tech/react-components/tree/feature/connectv2/components/Tooltip).

[2017-03-03 10:52] vikasrohit opened #659 "Defined v2 of fallback template"
### Expected behavior
Target device should be there in specification page for fallback template

### Actual behavior
Target device is missing for all projects except AVD design project.

### Steps to reproduce the problem
- View any prototype or development project
- Target device is missing from the specification page

--

#### Environment
- OS: All
- Browser (w/version): All
- User role (client,

[2017-03-03 10:55] vikasrohit commented on #648
Created separate issue #659 for better tracking.

[2017-03-03 11:15] vikasrohit commented on #655
Should be in dev by EOD.

[2017-03-03 11:23] vikasrohit opened #663 "Fallback spec template is not working for generic project"
### Expected behavior
Default spec should be rendered with the help of the fallback spec template

### Actual behavior
Empty page with error in console
_.*$:11 Uncaught Error: Cannot find module './undefined'._

### Steps to reproduce the problem
- Create a project with generic development project (right now termed as Ideation product under development project type)
- Go to the specification page

[2017-03-03 11:31] vikasrohit commented on #663
Fixed. Should be in dev by EOD.

[2017-03-03 11:31] #663 closed

[2017-03-03 12:08] vikasrohit commented on #654
Done. Changes should be in dev by EOD. @fnisen Please let me know if you face any issue with the changes.

[2017-03-03 12:26] vikasrohit commented on #651
Working on this.

[2017-03-03 12:31] ThomasKranitsas commented on #637
The `Define another screen` button works as submit button thus when you enter the details of the last available screen you have to click it first so the screen is saved but when you click it a new form is being rendered but it cannot be saved as the button is now disabled.

A possible solution for this is to change the button from `Define another screen` to `Save & Add new screen` and when you cli

[2017-03-03 12:39] ThomasKranitsas commented on #637
It also makes more sense to change the button from `Define another screen` to `Save & Add new screen`

[2017-03-03 13:06] ThomasKranitsas commented on #637
With the changes I suggested the app will look/work like this: http://take.ms/5xZce

[2017-03-03 14:11] ThomasKranitsas commented on #637
@cwdcwd I submitted a PR for this one. Shall I remove the `in progress` label?

[2017-03-03 15:10] ThomasKranitsas commented on #642
@gondzo what exactly do I have to fix here?

[2017-03-03 15:33] vikasrohit commented on #651
@fnisen for "Create an empty project" link do we need another screen to intake project name and description or we should force (by force I mean apply validation when user clicks on the link) user to fill the project name field in the current modal?

[2017-03-03 16:18] gondzo commented on #642
you can skip this one, it's handled by @sirakovaDimitrina

[2017-03-03 16:40] ThomasKranitsas commented on #647
@gondzo how about this one? Will I or @sirakovaDimitrina handle it?

[2017-03-03 17:52] fnisen commented on #652
Verified. Thank you!

[2017-03-03 17:52] #652 closed

[2017-03-03 17:56] fnisen commented on #655
Verified--thanks. 👍

[2017-03-03 17:56] #655 closed

[2017-03-03 18:06] fnisen opened #670 "[$30] Take user to Dashboard after project is submitted for review"
### Current behavior
After submitting a project for review (button click), user sees confirmation message (in top green bar): "Project updated" and stays on Specification. It's not clear what's happening next.

### Actual behavior
Change confirmation message to "Project submitted." After submission, redirect user to Dashboard, where they will see the explanatory message from Coder about what happe

[2017-03-03 18:08] fnisen commented on #654
Tested a bunch of scenarios and everything is working well. Thank you.

[2017-03-03 18:08] #654 closed

[2017-03-03 18:10] fnisen opened #671 "Reference code should not be editable once project is submitted for review"
Once project has been submitted for review, both name and reference code should not be editable. Name is working correctly, but reference code is still editable right now.

[2017-03-03 18:30] fnisen commented on #637
@ThomasKranitsas - hello and nice to meet you! I'm the Product Manager for this project (and for Connect). Thanks a lot in advance for your help and for all your hard work on the community side, as well.

Regarding this issue: good ideas. I'd like to simplify things a little and go with the original design, which does not match the current implementation. Here is the design:
![screen shot 2017-03-

[2017-03-03 18:34] fnisen commented on #651
@vikasrohit good point. We need a design for this. Let me get Vic's opinion here.

[2017-03-03 18:43] parthshah commented on #614
We use Prerender.io to render SPAs to SEOs etc. This works with slack as well since prerender is able to identify a slack request via it's user-agent - 'slackbot'. I haven't been able to find out what user agent Discourse uses.
For now you can append `&_escaped_fragment_=1` to the end of your URL. Note that this will render a cached version of the challenge page , which might be up to 7 days old.

[2017-03-03 18:44] ThomasKranitsas commented on #637
Hi @fnisen! Nice to meet you too!

Currently each screen is being saved once you press the `Define another screen` button thus if we disable that button once we are at the last (allowed) screen we **can't** save the last screen. That was the reason I suggested to rename the button from `Define another screen` to `Save & Add new screen`.

I understand you point that it's a bit confusing to have 2 S

[2017-03-03 19:01] fnisen commented on #637
@ThomasKranitsas summarizing what we agreed on Slack:
- "Define another screen" will be disabled after it's clicked on the second-to-last screen
- User will use "Save" to save the last screen
- "Notes" section will be removed from the "App Screens" section only (#648 is a separate issue)
Thank you!

[2017-03-03 19:03] fnisen commented on #648
All, confirming here that we will remove "Notes" from the "App Screens" section for sure, as referenced on #637 b/c it wasn't meant to be there to begin with (it's a new section). More info on "Notes" in other parts of the spec to come later.

[2017-03-03 19:17] vic-topcoder commented on #651
Good point, @vikasrohit. For the links to work, we should have the project name valid - similar to category selector cards. Let's manage the links the same way as the cards. No secondary intake form should appear. Empty project is the catch-all experience (work project).

[2017-03-03 19:20] vic-topcoder commented on #647
We need to add `.empty` when the text area has no content, and when it has it should be the other style. There's another ticket #628 for text area autoresize that @ThomasKranitsas can help with - this will make the text area render as paragraph text almost in read mode.

#646 is for fixing the text area style to be different from the inputs (to match specification)

[2017-03-03 19:41] gondzo commented on #621
This has been handled in the integration challenge. The component loading the svg icons is src/components/SVGIconImage.jsx

[2017-03-03 19:44] #621 closed

[2017-03-03 21:36] sirakovaDimitrina commented on #647
The textarea control should utilise the same functionality from the input control from “New Project” page. When the textarea is empty, it should have a CSS class name `.empty`.

[2017-03-04 01:50] fnisen commented on #651
@vikasrohit Vic and I discussed this one. Let's get rid of the "Empty project" link entirely to avoid confusion. We'll add it as a project option under one of the main menus later. Can you please make the copy: "Looking for something else? Get in touch with us." (And link the "get in touch"). Thank you.

[2017-03-04 03:56] vikasrohit commented on #637
@fnisen To me it seems confusing because if we are saving all screens (other than the last one) on clicking of "Define another screen" button, and saving last screen on clicking the "Save" button, user might miss saving the the last screen. IMO, as you said earlier, we should save all screens on click of save button.

[2017-03-04 10:51] ThomasKranitsas commented on #637
@vikasrohit I understand your confusion here...

Actually the buttons on the view do not accurately describe what's happening behind the scenes.

The `Define another screen` button give to the user the idea that it's purpose is to create a new screen but it's real purpose is to `push` the screen which has the `isNew` property to the `screens` array so that screen will be saved once you click the `

[2017-03-04 12:02] ThomasKranitsas commented on #647
I need a clarification on this..

The form fields (Textarea, TextInput etc) are from the https://github.com/appirio-tech/react-components repo while the TextInputs in the `New Project` page are from the `TextInput` component inside the https://github.com/appirio-tech/connect-app repo. Should I replace the component used in the `New Project` page with the TextInput component from the `react-compone

[2017-03-04 12:05] ThomasKranitsas commented on #644
@vic-topcoder So I should update the `New project` page to use `react-components` instead of duplicate local components, right?

[2017-03-04 18:21] gondzo opened #672 "Saving product type into project.details"
### Expected behavior
Product type (2nd step choice in the create project wizard) should be saved to details.products field. It should be an array field with only one element for now - the subtype for the current project.

Files that should be updated :
creating a project > https://github.com/appirio-tech/connect-app/blob/feature/productsv1/src/projects/create/components/ProjectWizard.jsx#L50
read

[2017-03-04 18:27] gondzo opened #673 "First post in discussions is not displayed"
### Expected behavior
All posts should be displayed in the project discussions thread

### Actual behavior
The first post is sometimes not displayed at all and there is no 'load earlier messages' button.

### Steps to reproduce the problem
Not sure, but I think it's happening only when the number of messages to be displayed is near the limit for displaying 'load earlier messages' button.

### Scre

[2017-03-05 21:57] sirakovaDimitrina commented on #647
Yes, That is right. When input and textarea has no content you should use .empty class.

[2017-03-06 06:46] vikasrohit commented on #647
@ThomasKranitsas Yes, we should always try to reuse the components from react-components repo, unless it is substantially different from what is required. In all other cases, we should try to reuse it as is or modify/enhance it such that it backward compatible and still serves the new requirements e.g. SearchBar is one of the components which is used in both members app and connect app and it has

[2017-03-06 06:48] vikasrohit commented on #644
Sorry for interrupting @vic-topcoder.

@ThomasKranitsas Yes, we should try to reuse existing components as far as possible. If you need more functionality or different appearance of the same component, please enhance the same component in backward compatible way. I have given an example of such case in your query in #674

[2017-03-06 06:52] vikasrohit commented on #637
Yes, 2 options is what I am looking for. Still, lets wait for @fnisen to weigh in.

[2017-03-06 16:51] fnisen commented on #637
@vikasrohit, @ThomasKranitsas let's go with option 2.

Vikas, you can make the call regarding the best implementation, but either way I agree that the user experience is confusing. Right now we say "Project updated" when "Define another screen" is clicked. Regardless of whether we're saving behind the scenes, we should not be establishing the expectation that anything is being saved because we nee

[2017-03-06 19:34] fnisen commented on #672
@vikasrohit can you please weigh in on this one?

[2017-03-06 19:36] fnisen commented on #673
Note: this is not a products issue, but one currently in production. Please work on this after all the products bugs.

[2017-03-06 22:51] vic-topcoder commented on #653
Still appears on Ref code

![screen shot 4](https://cloud.githubusercontent.com/assets/8484061/23633891/717e5a26-027c-11e7-9c74-0ebb3ddd1e22.png)

[2017-03-06 22:52] vic-topcoder commented on #646
We don't have the .empty class associated with empty text area/inputs.

[2017-03-06 22:53] vic-topcoder commented on #646
Verified: Disabled forms look like empty forms.

[2017-03-06 22:53] #646 closed

[2017-03-06 22:58] vic-topcoder commented on #649
Section title isn't the correct color `tc-gray-70`
![screen shot 6](https://cloud.githubusercontent.com/assets/8484061/23634077/5a89054a-027d-11e7-8271-fafd77271a16.png)

[2017-03-06 22:59] vic-topcoder commented on #645
We'll refactor, closing this issue.

[2017-03-06 22:59] #645 closed

[2017-03-06 22:59] #627 closed

[2017-03-06 23:10] vic-topcoder commented on #642
@sirakovaDimitrina: log in at your local environment with customer credentials.

Style the currency symbol according to spec.

![screen shot 7](https://cloud.githubusercontent.com/assets/8484061/23634431/06fd08de-027f-11e7-9de0-3af52c08b929.png)

[2017-03-06 23:17] vic-topcoder commented on #653
The text size is jumping between normal and active states. We should be consistent with text size at all cases.

- separate input and text area to support 2 sizes:

- input - normal  - 15/20px;
- input - large - 20/30px;
- textarea - normal - 15/25px;
- fix font-weight to be normal/400. Currently it is 300

+ add `text-rendering: geometricPrecision` in order to assure correct typography on the fie

[2017-03-06 23:19] vic-topcoder opened #674 "Selected card still has blue hover state"
### Expected behavior
Should retain normal state appearance on hover

### Actual behavior
Blue outline on hover
![screen shot 3](https://cloud.githubusercontent.com/assets/8484061/23634659/41ffdcb2-0280-11e7-9bb0-517bfeab9a6a.png)

[2017-03-06 23:27] vic-topcoder opened #675 "Restructure + restyle "skip question" component"
Due to improvements in the UX, we restructured the component.

![transition-v1-v2-skip-question-component](https://cloud.githubusercontent.com/assets/8484061/23634826/32f94388-0281-11e7-8b05-583a8a127cfd.png)

- [ ] Move checkbox at bottom of the component

- [ ] Move description underneath the text area/input

- [ ] Style according to the latest version

Live specification is here: https://drive.

[2017-03-06 23:28] vic-topcoder opened #676 "Log out not working on feature/productsv1 branch"
### Expected behavior
When clicking on Log Out from the user drop-down menu, the user should be able to log out

### Actual behavior
Nothing happens on click.

[2017-03-07 01:14] fnisen opened #677 "Wire "quick quote" feature on Specification"
Options and pricing for intake and corresponding quick quote:
**Wireframe**:
1.10 screens, 7-10 days: $5,000
2. 15 screens, 10-12 days: $7,000
**Application Visual Design** (both Concepts and Production)
1. 1-3 screens, 5-7 days: $5,000
2. 4-8 screens, 7-10 days: $7,000
3. 9-15 screens, 8-10 days: $8,500

[2017-03-07 01:54] vic-topcoder opened #678 "Landing page (not logged in) with broken layout"
### Expected behavior
The white portion of the page (body) should be evenly centered in the viewport.

### Actual behavior
Currently the container is left-aligned.

### Screenshot/screencast
![screen shot 4](https://cloud.githubusercontent.com/assets/8484061/23638336/f0d8ee44-0295-11e7-998a-43b123ec4988.png)

[2017-03-07 02:18] fnisen opened #679 "Specification-App Screen: priority drop down is not using system component"
Per Vic: Current drop-down doesn't respect edge of viewport or height available → this makes for sub-optimal user experience. Either we use the system rendered select or updated component that renders correct for the aforementioned constraints.

[2017-03-07 02:54] vic-topcoder commented on #679
Current drop-down doesn't respect edge of viewport or height available → this makes for sub-optimal user experience. Either we use the system rendered `select` or updated component that renders correct for the aforementioned constraints.

[2017-03-07 02:55] vic-topcoder commented on #679
@vikasrohit reassign as needed

[2017-03-07 03:08] fnisen commented on #650
@vikasrohit can you please restructure the initial project selection screens and the intake forms according to this document: https://docs.google.com/a/appirio.com/document/d/11d2uXJTg_zeVTviUTI1sM5BWfKLIluC56AnKbSv7wl4/edit?usp=sharing. Please let me know if it would be helpful to discuss on my Tuesday morning (I can do it at 7:30, 8am, or later).

[2017-03-07 03:18] fnisen commented on #656
Being addressed here: https://github.com/appirio-tech/connect-app/issues/675. Closing.

[2017-03-07 03:18] #656 closed

[2017-03-07 03:31] fnisen opened #680 "App screens section is not structured as per design"
Please remove the "screens" heading

### Expected behavior
<img width="811" alt="screen shot 2017-03-06 at 6 19 46 pm" src="https://cloud.githubusercontent.com/assets/12552247/23638939/86810532-0299-11e7-9620-e781f63b5ff0.png">

### Actual behavior
<img width="669" alt="screen shot 2017-03-06 at 7 29 48 pm" src="https://cloud.githubusercontent.com/assets/12552247/23640540/4f8b550a-02a3-11e7-9cec-1

[2017-03-07 03:45] vikasrohit opened #682 "Permalink for status post and discussions message"
It would be really nice to have a permalink available for each post (would be great to have it on every comment as well but right now we don't support rendering the specific comment by a direct link) which users can copy and share with team mates in case they want to refer to some previous discussions. It comes handy when discussing things on other communication channels like slack.

fyi @fnisen @

[2017-03-07 05:18] vikasrohit commented on #637
Yes, exactly @fnisen That was my intention. That Project updated message sets wrong expectation right now. So, yes, option 2 is one we should go for.

[2017-03-07 05:28] vikasrohit commented on #672
Sorry @fnisen missed to update the github, however, we (me and Samir) had discussion about this. This is valid and critical issue which is required before go for bug hunt.

[2017-03-07 06:15] vikasrohit commented on #671
Done. Should be in dev by EOD.

[2017-03-07 06:20] vikasrohit opened #685 "Use constants for project status in ProjectInfoContainer.jsx"
String literal are used instead of constants.

[2017-03-07 07:14] vikasrohit commented on #679
@vic-topcoder @fnisen This is our custom dropdown from our components repo. It even does not support the key navigation properly for the options yet as it is custom rendered. So, we have to enhance the component to support the rendering based on viewport and allow key navigation for the options. Though we can use community to do that, I think would take 2-3 days at least. So, IMO, we should go for

[2017-03-07 09:47] ThomasKranitsas commented on #637
Is validation out of scope? I mean the validation is not working correctly right now.. For example if I add 3 screens and then clear all fields of the first screen it shows the validation errors but if I click the `Save Changes` button and refresh the page the app saves the empty screen.. Is that the expected behaviour?

Will validation be handled in another ticket?

[2017-03-07 09:53] gondzo commented on #637
Let's handle it in this ticket. Saving the empty screen's shouldn't be possible.

[2017-03-07 09:55] ThomasKranitsas commented on #637
So should I just remove the empty screens before saving the project? Or disable the `Save Changes` button if there is any invalid screen?

[2017-03-07 10:10] gondzo commented on #637
Disable the Save Changes button

[2017-03-07 10:10] vikasrohit commented on #678
Fixed, changes should be in dev by EOD.

[2017-03-07 10:14] vikasrohit commented on #677
@fnisen Right now we have only AVD as real product, others just fall back to default template. So should we create separate templates for wireframe and avd (concepts) product?

[2017-03-07 10:58] vikasrohit commented on #677
Further, till now, we were estimating the price based on per page pricing and multiplying that with number of screens selected. However, from the description above, it seems it is not simple linear equation for estimating the pricing. It is kind of fixed price for the number of screens selection, right?

[2017-03-07 11:11] vikasrohit commented on #650
I will ping you @fnisen in your morning today.

[2017-03-07 11:20] vikasrohit commented on #676
We haven't change the way of login/logout in productsv1 branch. So, it should not be issue with the changes made in this branch. It is working for me. However, sometimes, it logs back me in after logout and that seems to be the case even on production for me. I am assuming that is happening because of multiple environment testing on our local machines. If that issue is consistently reproducible, w

[2017-03-07 14:28] ThomasKranitsas commented on #628
@vic-topcoder @gondzo I created a PR on the `react-components` repo but I don't have write access there to merge it so please merge it. Thanks!

[2017-03-07 14:48] vikasrohit opened #691 "Refresh Project Estimate component on change of number of screens"
### Expected behavior
Project estimate should refresh itself as soon as number of screens value is changed by user.

### Actual behavior
Right now it is refreshed only after clicking Save button

### Steps to reproduce the problem
- Change number of screens value in a project which is already in Review stage
- Notice that project estimate component changes/refreshes itself only when Save button in

[2017-03-07 14:49] vikasrohit commented on #691
@fnisen @vic-topcoder please let us know if you think differently for this use case?

[2017-03-07 14:50] vikasrohit commented on #691
@gondzo if we can't get it fixed before bug hunt, we can put it in known issue list.

[2017-03-07 15:19] ThomasKranitsas commented on #647
Currently only the `project name` & `ref code` fields in the project wizard have the `.empty` class because they use a component from the same repo.

The `TextInput` component in the `react-components` repo doesn't support the `.empty` class.

I need to add support the `.empty` class for both `TextInput` & `Textarea` components, correct?

[2017-03-07 17:07] ThomasKranitsas commented on #647
@vic-topcoder  @gondzo please check this PR in `react-components`

[2017-03-07 17:09] ThomasKranitsas commented on #647
You can modify the package.json to fetch react components from `ThomasKranitsas/react-components.git#support-empty-class` to test it in the `connect-app` repo

[2017-03-07 17:12] vic-topcoder commented on #679
Why not use React Dropdown in this case? It is syllable and fits within the need of the system - it is a select after all. More - it can be styled to fit our needs. It does fit within the viewport and supports keyboard: http://jedwatson.github.io/react-select/. Or use simple select which the system will render. We can style either with the help of Didi. This task should take no more than 1 hour

[2017-03-07 18:49] fnisen commented on #682
Yeah, I like it. Not critical for now, but would be nice.

[2017-03-07 18:51] fnisen commented on #691
@vikasrohit yes, agree. It's supposed to be a "quick quote"--meaning, you select an option and see the price right away. Related ticket: https://github.com/appirio-tech/connect-app/issues/677

[2017-03-07 19:00] fnisen commented on #677
@vikasrohit
- Yes, so we should have 5 templates I think: Wireframes, AVD - Concepts, AVD - Product (all 3 of these will be the same structure), Default Design (as we have now), Default Development (as we have now)
- Yes, it will be fixed price based on the selected range. The user has 2 options for Wireframe and 3 options for AVD (both types) and each option corresponds to a price. We won't do a

[2017-03-07 19:21] fnisen commented on #610
@vikasrohit, looks like no Direct projects are being created in Dev, so it's easy to verify.
Can you please tweak the copy to say: "No Direct project created. Please contact support."

[2017-03-07 21:50] sirakovaDimitrina commented on #675
@gondzo Restructure issue -- In order to make restructure we have to change layout on the react control, current li structure is title,  child component, description. The description have to be between the components in the design.

Style according issue -- I make new class .checkbox-item-checked which have to apply when according is checked. Please see the attache picture.
![screen shot 2017-03-0

[2017-03-07 23:50] vic-topcoder commented on #628
@ThomasKranitsas I see the code being added, but didn't see it used in the connect specification. What's the current status? (checking on feature/productsv1)

[2017-03-08 00:04] vic-topcoder commented on #649
fixed

[2017-03-08 00:04] #649 closed

[2017-03-08 00:06] vic-topcoder commented on #653
The ref code input in challenge specification still represents blue hover state.

[2017-03-08 00:07] vic-topcoder commented on #653
![screen shot 10](https://cloud.githubusercontent.com/assets/8484061/23683849/24b96c60-0350-11e7-8126-547ea401dadc.png)

Note: the `optional` label is not using the correct text color (tc-gray-50)

[2017-03-08 00:12] vic-topcoder commented on #642
@sirakovaDimitrina we should style only the `<span>$</span>` to be tc-gray, the rest of the text should be black.
![screen shot 11](https://cloud.githubusercontent.com/assets/8484061/23683956/baae2260-0350-11e7-9e03-18e622d25321.png)
![screen shot 11](https://cloud.githubusercontent.com/assets/8484061/23683963/c00b4454-0350-11e7-8024-daa00f9df673.png)

Expected:
![screen shot 13](https://cloud.git

[2017-03-08 00:17] vic-topcoder commented on #674
Screen selector card still has blue hover state when selected. I guess this is due to the new fixes in the code to render text as text, not svg.

![screen shot 14](https://cloud.githubusercontent.com/assets/8484061/23684009/fa60289a-0350-11e7-9c6e-3cc40ecb945d.png)

Expected:
![screen shot 15](https://cloud.githubusercontent.com/assets/8484061/23684119/844b557a-0351-11e7-9a61-22c7add3749e.png)

[2017-03-08 00:19] vic-topcoder opened #695 "device/screen select card should include a checkbox as per design. Missing."
Current:
![screen shot 16](https://cloud.githubusercontent.com/assets/8484061/23684155/bac7e2a8-0351-11e7-9cd4-c879df88bb97.png)

Expected:
![screen shot 17](https://cloud.githubusercontent.com/assets/8484061/23684162/c9a54cde-0351-11e7-8ba6-c35c6195e84c.png)

[2017-03-08 00:21] vic-topcoder commented on #675
@gondzo - reassign to @sirakovaDimitrina after we have the structure so she can finish the styling, please.

[2017-03-08 00:28] fnisen commented on #695
Already covered here: https://github.com/appirio-tech/connect-app/issues/641

[2017-03-08 00:28] #695 closed

[2017-03-08 01:19] gondzo commented on #628
@vic-topcoder it's merged now #690

[2017-03-08 01:36] gondzo commented on #648
@fnisen Should we close this for now ?

[2017-03-08 03:02] fnisen commented on #648
@gondzo @vikasrohit should handle this one. Vikas, have you set up versioning? If so, we can close this one.

[2017-03-08 05:59] vikasrohit commented on #679
If we use react-select, then I guess it should not take much time. However, with browser standard select, it is not that straightforward to customize it across browsers.

[2017-03-08 06:00] vikasrohit commented on #677
For limiting the screens in the app screens section, it would require us to put extra validation for minimum screens as well in this case, right? I mean if user selected 4-8 screens, we have to ask for minimum of 4 screens and maximum of 8 screens. Or is it fine to have only a maximum screens validation?

[2017-03-08 06:04] vikasrohit commented on #648
@fnisen Yes, we have versioning in place. Do we need to remove Notes from all section except the Project Information section?

[2017-03-08 09:30] vikasrohit opened #696 "[$30] Project Name should be focused immediately after rendering the project creation form"
fyi @gondzo @fnisen

[2017-03-08 12:39] vikasrohit commented on #610
Changes should be in dev by EOD.

[2017-03-08 12:39] vikasrohit commented on #691
@gondzo Can you please grab this one?

[2017-03-08 12:54] gondzo commented on #691
Sure, working on it..

[2017-03-08 15:34] fnisen commented on #677
Good point. Max validation is fine for now. Let me see how everything is working later today and follow up with another ticket if needed.

[2017-03-08 18:42] #653 closed

[2017-03-08 18:42] #642 closed

[2017-03-08 19:16] gondzo opened #700 "[$40] Screens limit"
### Expected behavior
When number of screens is selected in format a-b (like 4-8), higher number is used as limit in the app screens section

### Actual behavior
First number (a) is used as screens number limit

### Steps to reproduce the problem
create AVD project and go to specification page

#### Environment
- OS:all
- Browser (w/version):all
- User role (client, copilot or manager):all
- Accou

[2017-03-08 19:42] sdgun opened #701 "[$30] 'Design' and 'Development' buttons are enabled when user add spaces for 'Project Name'"
Description
-----------------------------------------------------------------
'Design' and 'Development' buttons are enabled when user add spaces for 'Project Name'

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com/
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Cli

[2017-03-08 19:46] sdgun opened #702 "Can create a Project without a Project Name"
Description
-----------------------------------------------------------------
Can create a Project without a Project Name

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click '+ New Project'
- Enter spaces for the 'Project Name'
- Check the 'Developm

[2017-03-08 19:48] sdgun commented on #702
![2](https://cloud.githubusercontent.com/assets/4592712/23720946/4191e7c4-0466-11e7-8db1-5c2f82b133d2.png)

[2017-03-08 19:48] sdgun commented on #701
![1](https://cloud.githubusercontent.com/assets/4592712/23720940/3f31cf1c-0466-11e7-8cde-794e00376b13.png)

[2017-03-08 19:52] sdgun opened #703 "[$50] 'Required' fields are not marked in (*) in the side menu"
Description
-----------------------------------------------------------------
'Required' fields are not  marked in (*) in the side menu

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Project [Design] - Newly C

[2017-03-08 19:52] sdgun commented on #703
![3](https://cloud.githubusercontent.com/assets/4592712/23721136/e15193a4-0466-11e7-8fb4-382f2af9f630.png)

[2017-03-08 19:55] swetaipec opened #704 "Upload file: same file should not be upload twice"
Upload file: same file should not be upload twice

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. create project
4. Open Specification
5. go to project files
6. upload same file twice

**Expected Result:**

same file should not be upload twice

**Actual Result:**
able to upload same file twice

Environment:
Windows 7,
Chrome

[2017-03-08 20:00] sdgun opened #705 "Project Estimate is not displayed in the Specification tab"
Description
-----------------------------------------------------------------
Project Estimate is not displayed in the Specification tab

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click '+ New Project'
- Create a Development Project
- Go to Speci

[2017-03-08 20:04] swetaipec opened #706 "Discussion: showing the incorrect time "0 sec "on discussion"
Discussion: showing the incorrect time "0 sec "on discussion
If user start to post or reply on post showing the correct timing

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. Create New project
4. Add Specifaction
5. go to discussion
6. Add a post
7. Reply a comment on post

**Expected Result:**

should display the correct ti

[2017-03-08 20:05] sdgun opened #707 "New Selection 'Check-mark' is not displayed when user select items in 'What font style do you prefer? (Pick one)' section"
Description
-----------------------------------------------------------------
New Selection 'Check-mark' is not displayed when user select items in 'What font style do you prefer? (Pick one)' section

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Cli

[2017-03-08 20:07] sdgun opened #708 "New Selection 'Checkmark' is not displayed when user select items in 'What icon style do you prefer? (Pick one)' section"
Description
-----------------------------------------------------------------
New Selection 'Checkmark' is not displayed when user select items in 'What icon style do you prefer? (Pick one)' section

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Clic

[2017-03-08 20:08] swetaipec opened #709 "Discussion: should have a max length validation on discussion topic"
Discussion: should have a max length validation on discussion topic otherwise in the list topic looks ugly

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. create new project
4. enter all specification
5. go to discussion topic
6. enter a long paragraph in discussion topic

**Expected Result:**
must have a max length validatio

[2017-03-08 20:09] sdgun opened #710 "Horizontal scroll bar appears in the message section in 'Discussions' tab"
Description
-----------------------------------------------------------------
Horizontal scroll bar appears in the message section in 'Discussions' tab

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on a Project
- Click 'Discussions' tab

Expec

[2017-03-08 20:10] sdgun commented on #707
![4](https://cloud.githubusercontent.com/assets/4592712/23721922/63da3cfc-0469-11e7-87dc-8d653966f7fb.png)

[2017-03-08 20:10] sdgun commented on #708
![5](https://cloud.githubusercontent.com/assets/4592712/23721919/5f70f548-0469-11e7-8840-f13dc437ff88.png)

[2017-03-08 20:11] karthikbecse opened #711 "Discussions-- text formating Options missing"
### Expected behavior
should show text formating option

### Actual behavior
Discussions  formating  Options missing

### Steps to reproduce the problem
- Login as Manager
- Create Project
- Click discussions Tab
- Add New discussions
- publish new post
-  Click new reply

- see textbox

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-09 01-40-15](https://cloud.githubuserc

[2017-03-08 20:11] sdgun commented on #710
![6](https://cloud.githubusercontent.com/assets/4592712/23721898/514ede44-0469-11e7-9f70-e1b9fdd5682d.png)

[2017-03-08 20:12] swetaipec opened #712 "message should be correct if leave discussion page without posting added topic"
message should be correct if leave discussion page without posting added topic,

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. create a new project
4. Add all specification
5. go to discussion
6. Add topic & Comment
7. leave page without posting topic

**Expected Result:**
should be displayed a correct message

**Actual Resu

[2017-03-08 20:13] sdgun opened #713 "Invalid link validation"
Description
-----------------------------------------------------------------
Invalid link validation

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on a Project (https://connect.topcoder-dev.com/projects/956)

[2017-03-08 20:13] sdgun commented on #713
![7](https://cloud.githubusercontent.com/assets/4592712/23722041/d7e91af0-0469-11e7-8f86-a92abe262005.png)

[2017-03-08 20:15] sdgun opened #714 "'Edit' Custom Features is not working"
Description
-----------------------------------------------------------------
'Edit' Custom Features is not working

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on a Project (https://connect.topcoder-dev.com/

[2017-03-08 20:15] swetaipec opened #715 "Project team member name not displayed"
**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. create project
4. go to dashboard
5. go to project team
6. Add a team member
7. make owner of the project

**Expected Result:**
name should be displayed correctly

**Actual Result:**
Project team member name not displayed,

Environment:
Windows 7,
Chrome 53

![image](https://clou

[2017-03-08 20:16] sdgun commented on #714
![8](https://cloud.githubusercontent.com/assets/4592712/23722132/3d5a6c86-046a-11e7-9d9b-80197ed3aeed.png)

[2017-03-08 20:17] sdgun opened #716 "'Delete' Custom Features is not working"
Description
-----------------------------------------------------------------
'Delete' Custom Features is not working

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on a Project (https://connect.topcoder-dev.co

[2017-03-08 20:19] sdgun opened #717 "Can create duplicate Custom Features with the same name"
Description
-----------------------------------------------------------------
Can create duplicate Custom Features with the same name

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on a Project (https://connect

[2017-03-08 20:19] sdgun commented on #716
![9](https://cloud.githubusercontent.com/assets/4592712/23722150/570605c8-046a-11e7-9677-2f7c72a51439.png)

[2017-03-08 20:20] swetaipec opened #718 "Team Member: error on removing a team member from project team"
Team Member: error on removing a team member from project team

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. Create new project
4. go to dashboard
5. go to project team
6. add a team member
7. remove a team member

**Expected Result:**
should be able to remove team member from the project team

**Actual Result:**
error on r

[2017-03-08 20:24] karthikbecse opened #719 "topcoder footer shown on filter page"
### Expected behavior
should show at bottom

### Actual behavior
footer  text shown on filter result page

### Steps to reproduce the problem
- Login As manager
- click filter button
- see result page

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-09 01-52-46](https://cloud.githubusercontent.com/assets/3225433/23722395/3164792a-046b-11e7-916b-dbf0f68b9e37.png)

--

####

[2017-03-08 20:25] sdgun opened #720 "Can remove the 'Feature name' when user is editing the record"
Description
-----------------------------------------------------------------
Can remove the 'Feature name' when user is editing the record

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on a Project  (https://

[2017-03-08 20:25] sdgun commented on #720
![11](https://cloud.githubusercontent.com/assets/4592712/23722472/79e1529a-046b-11e7-95cf-40d5e83917e6.png)

[2017-03-08 20:28] sdgun opened #721 "Duplicate custom feature created when user edit the record and save changes without changing anything"
Description
-----------------------------------------------------------------
Duplicate custom feature created when user edit the record and save changes without changing anything

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the D

[2017-03-08 20:28] sdgun commented on #721
![13](https://cloud.githubusercontent.com/assets/4592712/23722592/f1694804-046b-11e7-8db5-8ea66b88f983.png)

[2017-03-08 20:30] swetaipec opened #722 "error on adding file from dropbox"
error on adding file from dropbox

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. create new project
4. go to specification
5. go to files section
6. upload file from dropbox

**Expected Result:**
should be able to add file from dropbox

**Actual Result:**
error on adding file from dropbox

Environment:
Windows 7,
Chrome

![i

[2017-03-08 20:31] sdgun opened #723 "Selected count is displayed incorrectly"
Description
-----------------------------------------------------------------
Selected count is displayed incorrectly

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on a Project  (https://connect.topcoder-dev.c

[2017-03-08 20:31] sdgun commented on #723
![12](https://cloud.githubusercontent.com/assets/4592712/23722668/455305fe-046c-11e7-82a8-2f50d9020f06.png)

[2017-03-08 20:33] karthikbecse opened #724 "goto page validation missing"
### Expected behavior
should validate the filed

### Actual behavior
goto page validation missing

### Steps to reproduce the problem
- Login As manager
- click filter button
- see Pagination
- click ... button
- see goto page option

- enter value as "dfgdfg"

- see

### Screenshot/screencast
![screenshot-connect topcoder-dev com 2017-03-09 02-01-23](https://cloud.githubusercontent.com/assets/322

[2017-03-08 20:33] swetaipec opened #725 "error on adding file from google drive"
error on adding file from google drive

Steps to Reproduce:

1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. create new project
4. go to specification
5. go to files section
6. upload file from google drive

Expected Result:
should be able to add file from googledrive

Actual Result:
error on adding file from google drive

Environment:
Windows 7,
Chr

[2017-03-08 20:35] sdgun opened #726 "[$20] '+ New Project' button displayed in gray color after closing the popup"
Description
-----------------------------------------------------------------
'+ New Project' button displayed in gray color after closing the popup

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click '+ New Project

[2017-03-08 20:36] sdgun commented on #726
![14](https://cloud.githubusercontent.com/assets/4592712/23722851/f345767e-046c-11e7-8b2a-7bb7f592c09a.png)

[2017-03-08 20:38] swetaipec opened #727 "[$30] error if update project without project name on specification page"
error if update project without project name on specification page.

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: Manager: pat_monahan / topcoder123!
3. create project
4. go to specification
5. add all app definition field
6. Delete project name
7. save changes

**Expected Result:**
should be displayed a validation message to add project name

**Actual Result:**

[2017-03-08 20:40] sdgun opened #728 "Two Clear buttons displayed in the search field"
Description
-----------------------------------------------------------------
Two Clear buttons displayed in the search field

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on Search field
- Type a Text

Expect

[2017-03-08 20:43] sdgun commented on #728
![15](https://cloud.githubusercontent.com/assets/4592712/23723034/aa5768cc-046d-11e7-817e-98582b88d03f.png)

[2017-03-08 20:45] sdgun opened #729 "'Search' is not working properly"
Description
-----------------------------------------------------------------
'Search' is not working properly

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Enter 'abc' as the search term
- Click Search
- Now check

[2017-03-08 20:46] sdgun commented on #729
![16](https://cloud.githubusercontent.com/assets/4592712/23723194/4851a6aa-046e-11e7-911f-10d6630c2c56.png)

[2017-03-08 20:51] sdgun opened #730 "Different behaviors when user tries to upload 0 bytes files"
Description
-----------------------------------------------------------------
Different behaviors when user tries to upload 0 bytes files

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Project [Design]  (https

[2017-03-08 20:51] sdgun commented on #730
Google Chrome
![17 1- chrome](https://cloud.githubusercontent.com/assets/4592712/23723421/1e503ac8-046f-11e7-9373-30ee0fbcdf56.png)

IE11
![17 2 -ie11](https://cloud.githubusercontent.com/assets/4592712/23723422/1e843440-046f-11e7-8ef8-f25cfe71cff4.png)

[2017-03-08 20:54] sdgun opened #731 "[$40] Can enter empty spaces for 'Notes' in 'App Definition', 'Design Specification' or 'Development Specification'"
Description
-----------------------------------------------------------------
Can enter empty spaces for 'Notes' in 'App Definition', 'Design Specification' or 'Development Specification'

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
-

[2017-03-08 20:54] sdgun commented on #731
![18](https://cloud.githubusercontent.com/assets/4592712/23723507/7eacf1e0-046f-11e7-8ab5-007034ed0c7c.png)

[2017-03-08 21:00] sdgun opened #732 "[$30] Clearing the 'Project' name from the (x) button will still enable the below items and after click on a item will display the project name again"
Description
-----------------------------------------------------------------
Clearing the 'Project' name from the (x) button will still enable the below items

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click '+

[2017-03-08 21:00] sdgun commented on #732
![19](https://cloud.githubusercontent.com/assets/4592712/23723732/526602ec-0470-11e7-9604-fb6e15fa9bde.png)

[2017-03-08 21:08] swetaipec opened #733 "throwing error if make change after marking status as complete for a project,"
throwing error if make change after marking status as complete for a project,

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: cp-superstar / topcoder123!
3. create new project
4. add ALL detail
5. submit for review
6. mark reviewed the status of project
6. Manager mark the project as complete
7. make change in specification and save chages

**Expected Result:**

u

[2017-03-08 21:18] swetaipec opened #734 "if we made change only development specification, only development section "Save button" should be enable"
if we made change only development specification, only development section "Save button" should be enable.

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: cp-superstar / topcoder123!
3. create new project
4. go to specification
5. add all specification correctly
6. made change on development specification

**Expected Result:**

only particular section save button

[2017-03-08 21:24] swetaipec opened #735 "error on marking the status as cancel from the completed"
error on marking the status as cancel from the completed

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: cp-superstar / topcoder123!
3. create project
4. add all specification correctly
5. submit for review
6. login with manager pat_monahan / topcoder123!
7. mark the status active
8. change status active to completed
9. mark status completed to cancel

**Expected

[2017-03-08 21:34] sdgun opened #736 "[$30] Newly created items displayed 1 of 5, but none of the steps completed"
Description
-----------------------------------------------------------------
Newly created items displayed 1 of 5, but none of the steps completed

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Project [Desig

[2017-03-08 21:35] sdgun commented on #736
![20](https://cloud.githubusercontent.com/assets/4592712/23725107/46dd9df4-0475-11e7-9299-fa76841cf3b7.png)

[2017-03-08 21:51] sdgun opened #737 "[$30] 'Screen name' and 'What are the things the user can do on this screen?' sections are accepting spaces"
Description
-----------------------------------------------------------------
'Screen name' and 'What are the things the user can do on this screen?' sections are accepting spaces

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the D

[2017-03-08 21:55] sdgun commented on #737
![21](https://cloud.githubusercontent.com/assets/4592712/23725676/7bda9302-0477-11e7-97c6-20ffc84f5bbe.png)

[2017-03-08 22:00] swetaipec opened #738 "if click on "Read more" link of project description lands user to specification page"
if click on "Read more" link of project description lands user to specification page

**Steps to Reproduce:**
1. Open the Application
2. Login with valid credentials: cp-superstar / topcoder123!
3. create new project
4. go to specification page
5. add a long project description
6. go to dashboard page
7. click on read more link

**Expected Result:**
all description should be displayed on the dashb

[2017-03-08 22:27] sdgun opened #739 "[$30] Empty 'App Screens' saved even though user haven't save them"
Description
-----------------------------------------------------------------
Empty 'App Screens' saved even though user haven't save them

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Project [Design] (https

[2017-03-08 22:29] sdgun commented on #739
![22](https://cloud.githubusercontent.com/assets/4592712/23727123/d50b0966-047c-11e7-93c5-7ebc77a29fe0.png)

[2017-03-08 22:34] sdgun opened #740 "[$30] Layout issue in 'Duration' and 'Quick Quote' in IE11"
Description
-----------------------------------------------------------------
Layout issue in 'Duration' and 'Quick Quote' in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Project [Design] (https://conne

[2017-03-08 22:35] sdgun commented on #740
![23](https://cloud.githubusercontent.com/assets/4592712/23727321/973a132e-047d-11e7-8e26-5cd684922d7c.png)

[2017-03-09 01:35] sdgun opened #741 "New Screens: "How many screens do you need designed?" and "Which is your primary device target?" are not displayed in old Projects"
Description
-----------------------------------------------------------------
New Screens: "How many screens do you need designed?" and "Which is your primary device target?" are not displayed in old Projects

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the En

[2017-03-09 01:36] sdgun commented on #741
New Project:
![24 2](https://cloud.githubusercontent.com/assets/4592712/23732061/e9bccc4a-0496-11e7-9bd2-e2b75a0af8f7.png)
Old Project:
![24 1](https://cloud.githubusercontent.com/assets/4592712/23732060/e9bc594a-0496-11e7-803f-241cc0c72b49.png)

[2017-03-09 01:40] sdgun opened #742 "'Development Specification' section displayed in old design projects"
Description
-----------------------------------------------------------------
'Development Specification' section displayed in old design projects

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Old Project [De

[2017-03-09 01:42] sdgun commented on #742
New Project:
![25 1](https://cloud.githubusercontent.com/assets/4592712/23732188/a395bdf2-0497-11e7-8e36-f52b87b29756.png)

Old Project:
![25 2](https://cloud.githubusercontent.com/assets/4592712/23732189/a39625c6-0497-11e7-9225-575295f19094.png)

[2017-03-09 01:47] sdgun opened #743 "'Which is your primary device target' section missing in Old Prototype projects"
Description
-----------------------------------------------------------------
'Which is your primary device target' section missing in Old Prototype projects

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Old

[2017-03-09 01:48] sdgun commented on #743
![26 1](https://cloud.githubusercontent.com/assets/4592712/23732355/a082e68e-0498-11e7-886a-618bff459e63.png)
![26 2](https://cloud.githubusercontent.com/assets/4592712/23732356/a08541e0-0498-11e7-88e8-369f1642dee9.png)

[2017-03-09 02:00] sdgun opened #744 "Delete 'App Screens' won't remove the '* required' checkmark"
Description
-----------------------------------------------------------------
Delete 'App Screens' won't remove the '* required' checkmark

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Project (https://connec

[2017-03-09 02:00] sdgun commented on #744
![27](https://cloud.githubusercontent.com/assets/4592712/23732637/3be31170-049a-11e7-8099-03202097b1e2.png)

[2017-03-09 02:02] sdgun opened #745 "Multiple 'Project Updated' messages displayed"
Description
-----------------------------------------------------------------
Multiple 'Project Updated' messages displayed

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Project (https://connect.topcoder-dev.

[2017-03-09 02:03] sdgun commented on #745
![28](https://cloud.githubusercontent.com/assets/4592712/23732692/9b838bfa-049a-11e7-87e8-830532bd1d8d.png)

[2017-03-09 02:12] sdgun commented on #705
![a](https://cloud.githubusercontent.com/assets/4592712/23732905/e008ea9e-049b-11e7-8242-82d5d6b0ad14.png)
![a1](https://cloud.githubusercontent.com/assets/4592712/23732906/e008f386-049b-11e7-8b14-25afe3737012.png)

[2017-03-09 06:44] swetaipec opened #747 "Should be asked for confirmation before deleting the Screen"
### Expected behavior
Should ask before for the confirmation before deleting the screen

### Actual behavior
delet screen without asking for confirmation

### Steps to reproduce the problem
1. Open the Application
2. Login with manager : pat_monahan / topcoder123!
3. Create a new design project
4. go to Specification
5. go to App Screens
6. Add new screen
7. Delete Screen

### Screenshot/screencas

[2017-03-09 06:45] swetaipec commented on #747
![image](https://cloud.githubusercontent.com/assets/16131461/23738962/05fe3846-04c2-11e7-994c-19d9f22bb848.png)

[2017-03-09 06:59] sdgun opened #748 "After user decrease the screen count from 'How many screens do you need designed?'' still previously added 'App Screen' displayed"
Description
-----------------------------------------------------------------
After user decrease the screen count from 'How many screens do you need designed?'' still previously added 'App Screen' displayed

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Env

[2017-03-09 07:16] swetaipec opened #749 "If user select 1-3 in "How many screens do you need designed?" user should be able to add three screen"
### Expected behavior
should be able to max number of screen , in case of 1-3 screen user should be able to add 3 screen

### Actual behavior
user able to add only 1 screen

### Steps to reproduce the problem
1. Open Application
2. login with manager pat_monahan / topcoder123!
3. Create Design project
4. Go to Specification
5. Select How many screens do you need designed? as 1 to 3 screen
6. go to

[2017-03-09 07:20] vikasrohit commented on #659
Closing issue.

[2017-03-09 07:20] #659 closed

[2017-03-09 07:21] swetaipec opened #750 "no need to show "Define Another Screen" if user already added define screen"
### Expected behavior
Define another screen button should not be displayed

### Actual behavior
Button display in the disable mode

### Steps to reproduce the problem
1. Open the application
2. login with manager pat_monahan / topcoder123!
3. Create new design project
4. go to Specification
5. Select How many screens do you need designed? as "1-3 screen "
6. go to add app screen
7. Add 1 screen

#

[2017-03-09 07:22] swetaipec commented on #750
![image](https://cloud.githubusercontent.com/assets/16131461/23739927/2db8ffce-04c7-11e7-8bc7-d09b68f87e0e.png)

[2017-03-09 07:56] sdgun opened #751 "[$50] 'Screen name' and 'Answer' block validation won't display to all the sections"
Description
-----------------------------------------------------------------
'Screen name' and 'Answer' block validation won't display to all the sections

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Open a Projec

[2017-03-09 08:06] sdgun commented on #751
https://www.screencast.com/t/V1Is9bCG

[2017-03-09 10:14] vikasrohit commented on #650
@fnisen I am not able to access the doc now. Is it deleted? Also, please let me know your feedback for the changes so that we can update the spec templates as needed.

[2017-03-09 10:17] vikasrohit commented on #700
Just to be double sure, we have to support both type of values i.e. individual values or range values and put the limit on the number of screens that can be added.

[2017-03-09 10:17] vikasrohit commented on #677
PR https://github.com/appirio-tech/connect-app/pull/746 is created but waiting for bug hunt to conclude before getting it merged into dev. @gondzo  has created separate issue #700  for fixing the validation for App Screens section.

[2017-03-09 10:40] gondzo commented on #650
@vikasrohit try this link https://docs.google.com/document/d/11d2uXJTg_zeVTviUTI1sM5BWfKLIluC56AnKbSv7wl4/edit
(both are working for me)

[2017-03-09 10:48] karthikbecse opened #752 "New project pop up automaticaly closed while we move scroll bar down"
### Expected behavior
should show pop up properly

### Actual behavior
new project pop up automaticaly closed  while  we move scroll bar down

### Steps to reproduce the problem
- Login As manager
- click New Project
- Click Scroll button

### Screenshot/screencast

https://www.screencast.com/t/EAczqYwg

--

#### Environment
- OS:Windows 8.1
- Browser (w/version):FF 52.0
- User role (client, copil

[2017-03-09 10:55] karthikbecse opened #753 "REF code accepts 7 characters"
### Expected behavior
make REF  limt is 5 characters  (based on req https://www.topcoder.com/challenge-details/30056425/?type=develop&noncache=true)

### Actual behavior
it accepts 7 characters

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter value as "1234567" in REF
-

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-09 16-23-36](https://

[2017-03-09 11:01] vikasrohit commented on #650
Thanks @gondzo however, my comments are lost in that document and if I try to reply using email to those comments, they are bouncing back.

[2017-03-09 11:09] karthikbecse opened #754 "selected icon missing"
### Expected behavior
Should show  selected icon

### Actual behavior
icon missing

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
-  How many screens do you need designed?--- Select 10 Screens
- See icon missing

### Screenshot/screencast

![screenshot-marvelapp com 2017-03-09 16-36-18](ht

[2017-03-09 11:10] karthikbecse commented on #754
Note: all filed missing icon

[2017-03-09 11:22] karthikbecse opened #755 "[$30] IE 11 -- textbox disabled scroll bar shown"
### Expected behavior
should show text box properly

### Actual behavior
disbled scroll bar shown along with text box

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- See Guidelines field

### Screenshot/screencast

![2017-03-09_1646](https://cloud.githubusercontent.com/assets/3225433/2374

[2017-03-09 11:33] sdgun opened #756 "Clicking on the 'Save Changes' button in totally different section will Save details of other section too"
Description
-----------------------------------------------------------------
Clicking on the 'Save Changes' button in totally different section will Save details of other section too

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In t

[2017-03-09 11:35] karthikbecse opened #757 "unable to add another App Screens"
### Expected behavior
Should enable "add another screen " button

### Actual behavior
add screen button is diabled

### Steps to reproduce the problem
- Login As manager

- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- Click 15 Screens
- Now See App Screens Section

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-09 1

[2017-03-09 11:43] sdgun opened #758 "[$40] Can't add 'App Screens' when user selects '1' from "Other Design""
Description
-----------------------------------------------------------------
Can't add 'App Screens' when user selects '1' from "Other Design"

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Create a Project > Design

[2017-03-09 11:48] sdgun opened #759 "Changing the screen number from 'How many screens do you need designed?' won't enable the 'Save Changes' button"
Description
-----------------------------------------------------------------
Changing the screen number from 'How many screens do you need designed?' won't enable the 'Save Changes' button

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)

[2017-03-09 11:48] sdgun commented on #759
![33](https://cloud.githubusercontent.com/assets/4592712/23749078/765bd0ba-04ec-11e7-8061-d9f94a5d42d8.png)

[2017-03-09 11:49] sdgun commented on #758
![32](https://cloud.githubusercontent.com/assets/4592712/23749091/7e552f6e-04ec-11e7-9f4a-b1ba92d278b6.png)

[2017-03-09 11:50] sdgun commented on #759
'Save Changes' button won't enable when user changes the settings in any section

[2017-03-09 12:14] swetaipec opened #760 "If user select 5 screen from the "How many screens do you need designed?" , not able to add screen"
### Expected behavior
should be able to add screen on selecting 5 in How many screens do you need designed?

### Actual behavior
not able to add screen ,

### Steps to reproduce the problem
1.  Open Application
2 . login with manager   pat_monahan / topcoder123!
3. Create new Design project
4. select Other option
5. go to specification
6.  go to How many screens do you need designed?
7. select 5
8

[2017-03-09 12:21] karthikbecse opened #761 "Design Guidelines question count missing"
### Expected behavior
should show question  counts correctly

### Actual behavior
by default it is not shown

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- See Design Guidelines question count

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-09 17-49-18](https://

[2017-03-09 12:42] karthikbecse opened #762 "Screen visible area not updated properly"
### Expected behavior
should visible the dropdwon values

### Actual behavior
dropdwon values  shown on bottom of the page

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Application Visual Design - Concepts
- Goto Project Specfication
- IN App Definition :  Enter valid data
- In App Screens Click Define another Screen
- click

[2017-03-09 12:58] karthikbecse opened #763 "colors picker not working properly"
### Expected behavior
should show  colors picker  properly

### Actual behavior
 colors picker not working properly

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Development
- Click Prototype
- Goto Project Specfication
- See  What colors do you like? (Select all that apply)
- Click Add Button
- Select Color
- See

### Screenshot/screencast

[2017-03-09 13:08] karthikbecse opened #764 "Question is wrong when we click Website Development"
### Expected behavior
should show  Build responsive or regular websites options

### Actual behavior
it shows all

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Development
- Click Website Development
- Goto Project Specfication
- See  Which is your primary device target?

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017

[2017-03-09 18:23] fnisen commented on #650
@vikasrohit not sure what happened with the access. I've reshared with both of your email accounts. I replied to your questions yesterday, so please let me know if you can't see my answers, and I'll just post here.

[2017-03-09 18:26] fnisen commented on #677
Thanks @vikasrohit

[2017-03-09 18:40] #680 closed

[2017-03-09 18:48] fnisen commented on #700
@gondzo please use more descriptive titles for issues

[2017-03-09 18:54] #637 closed

[2017-03-09 18:57] fnisen commented on #641
@ThomasKranitsas, @gondzo this is not working for me. I'm testing in Firefox, on this project: https://connect.topcoder-dev.com/projects/1014/specification/.

[2017-03-09 18:58] fnisen commented on #647
@vic-topcoder can you please check this one?

[2017-03-09 19:22] fnisen commented on #674
@vic-topcoder I don't see this working in Dev. Was this fixed, but not merged yet?

[2017-03-09 19:27] fnisen commented on #639
@ThomasKranitsas, @gondzo Not working for me on this project: https://connect.topcoder-dev.com/projects/1014/specification. Have 4 screens created, but can still switch to the 1-3 option.

[2017-03-09 19:30] fnisen commented on #628
@ThomasKranitsas @gondzo not working for me, on this project: https://connect.topcoder-dev.com/projects/1014/specification in Firefox.

[2017-03-09 19:40] fnisen commented on #672
@gondzo I'm not going to test this one b/c it's not a user issue. Can you please verify yourself or ask @vikasrohit is you need another opinion. Thank you.

[2017-03-09 19:40] fnisen commented on #643
@vic-topcoder can you please verify this one?

[2017-03-09 19:47] fnisen commented on #671
Not able to check this b/c the "Submit for Review" button is currently not working in Dev.

[2017-03-09 19:57] vic-topcoder commented on #647
@gondzo do we have the fix pushed to the original `react-components` repo?

[2017-03-09 19:59] gondzo commented on #647
@vic-topcoder yes > https://github.com/appirio-tech/react-components/pull/125

[2017-03-09 19:59] vic-topcoder commented on #647
Great, thanks!

[2017-03-09 21:19] fnisen commented on #671
Working in Dev. Closing.

[2017-03-09 21:19] #671 closed

[2017-03-09 21:23] #638 closed

[2017-03-09 22:29] gondzo commented on #702
same as #701

[2017-03-09 22:29] #702 closed

[2017-03-09 22:32] gondzo commented on #704
Not really a bug, it's ok to upload multiple files with same file name

[2017-03-09 22:32] #704 closed

[2017-03-09 22:34] gondzo commented on #705
@fnisen we should display project estimate for design projects only ?

[2017-03-09 22:35] gondzo commented on #706
Not really a bug and it's out of scope for this bug hunt.

[2017-03-09 22:35] #706 closed

[2017-03-09 22:41] gondzo commented on #707
Already fixed, but wasn't in the known issues list. Counts for the bug hunt.

[2017-03-09 22:42] gondzo commented on #708
Already fixed, but wasn't in the known issues list. Counts for the bug hunt.

[2017-03-09 23:02] gondzo commented on #732
IE bug

[2017-03-09 23:08] gondzo commented on #736
Fixed already but wasn't in the known issues list

[2017-03-09 23:15] fnisen commented on #641
Checking again after deployment fixes: working fine.

[2017-03-09 23:15] #641 closed

[2017-03-09 23:16] gondzo commented on #741
This is by design. Old projects will use the same intake form template.
@fnisen For the old projects there is no way to change target device selection (it was on the create project page before, not the project specification page). Is this intended ?

[2017-03-09 23:18] gondzo commented on #742
This isn't a bug. All old projects use the same template.

[2017-03-09 23:19] fnisen commented on #639
Working after redeployment. Closing.

[2017-03-09 23:19] #639 closed

[2017-03-09 23:19] gondzo commented on #743
All old projects use the same template.

[2017-03-09 23:19] #743 closed

[2017-03-09 23:19] #742 closed

[2017-03-09 23:20] fnisen commented on #628
Also working after redeployment.

[2017-03-09 23:20] #628 closed

[2017-03-09 23:22] gondzo commented on #744
The sidebar is updated when the project is saved, ie you have to click the save project button in the section you updated.

[2017-03-09 23:22] #744 closed

[2017-03-09 23:22] fnisen commented on #640
@ThomasKranitsas this one is not working. I think the issue was that the code change was not made to all the project templates. Here is an example of a project that's not working: https://connect.topcoder-dev.com/projects/1014. Use these credentials: pat_monahan/topcoder123! in Firefox.

[2017-03-09 23:24] gondzo commented on #747
@fnisen is the delete contirmation required ?

[2017-03-09 23:26] gondzo commented on #748
the lower screen number options are disabled and can't be selected

[2017-03-09 23:26] gondzo commented on #749
duplicate of #700

[2017-03-09 23:27] gondzo commented on #750
the disabled button has a tooltip message saying why no additional screens can be added.

[2017-03-09 23:27] #750 closed

[2017-03-09 23:28] vic-topcoder commented on #643
Fixed - generates a Span

[2017-03-09 23:28] #643 closed

[2017-03-09 23:30] vic-topcoder commented on #511
I'm closing it. We're creating a new empty app specification athttps://github.com/topcoder-platform/community-app/issues/1 and all the work we did here is going to be migrated to the new repo.

[2017-03-09 23:30] #511 closed

[2017-03-09 23:31] ThomasKranitsas commented on #640
@fnisen Oh, I see.. The issue is that if for example a subSesction of type `questions` has the attribute `required: true` the questions of that subSection do NOT inherit that attribute.. Should I create a PR for this or should I fix it after the bug hunt has been completed?

[2017-03-09 23:35] #636 closed

[2017-03-09 23:36] gondzo commented on #754
duplicate of #641

[2017-03-09 23:38] gondzo commented on #756
duplicate of #734

[2017-03-09 23:38] #756 closed

[2017-03-09 23:38] fnisen commented on #649
@vic-topcoder please double-check if needed or close.

[2017-03-09 23:39] gondzo commented on #757
you need to save the screens number before adding new screens

[2017-03-09 23:39] #757 closed

[2017-03-09 23:39] fnisen commented on #627
@vic-topcoder same on this: please check if needed or close.

[2017-03-09 23:42] gondzo commented on #759
Can't reproduce.

[2017-03-09 23:42] #759 closed

[2017-03-09 23:43] gondzo commented on #760
need to save screen number section first.

[2017-03-09 23:43] #760 closed

[2017-03-09 23:44] fnisen commented on #676
Seems to be working on Dev, so will close this.

[2017-03-09 23:44] #676 closed

[2017-03-09 23:46] gondzo commented on #762
duplicate of #679

[2017-03-09 23:46] #762 closed

[2017-03-09 23:47] fnisen commented on #640
@ThomasKranitsas you can create a PR. Worst case we'll wait to merge.

[2017-03-09 23:47] vic-topcoder commented on #651
I'll add an issue for "get in touch with us" link not being blue by default as a style

[2017-03-09 23:47] gondzo commented on #763
it's not intendet do drag&drop, just click the color picker.

[2017-03-09 23:47] #763 closed

[2017-03-09 23:48] gondzo commented on #764
those are not related

[2017-03-09 23:48] #764 closed

[2017-03-09 23:48] fnisen commented on #679
@vikasrohit so what's the final call? Will you fix this?

[2017-03-09 23:49] vic-topcoder opened #766 "[$30] Get in touch link normal state missing blue color (not visible)"
### Expected behavior
The link should be blue on normal/visited so the user can interact with it. Also, entire phrase should be linked: "Get in touch with us."

### Actual behavior
Link is grayed out and users can't recognize it. The phrase is only partially linked.

### Screenshot/screencast
![screen shot](https://cloud.githubusercontent.com/assets/8484061/23775891/e4b54396-04df-11e7-9d2b-e4b19a2

[2017-03-09 23:49] gondzo commented on #672
Looks good.

[2017-03-09 23:49] #672 closed

[2017-03-09 23:50] fnisen commented on #678
Working in Dev.

[2017-03-09 23:50] #678 closed

[2017-03-09 23:50] vic-topcoder commented on #651
Captured at #766

[2017-03-09 23:51] #754 closed

[2017-03-09 23:52] #749 closed

[2017-03-09 23:52] #748 closed

[2017-03-09 23:52] fnisen commented on #651
Closing this. Needed changes captured in linked ticket.

[2017-03-09 23:52] #651 closed

[2017-03-09 23:53] vic-topcoder commented on #647
Fixed.
![screen shot 4](https://cloud.githubusercontent.com/assets/8484061/23776041/90edbf76-04e0-11e7-95b1-a1e7263019cd.png)

[2017-03-09 23:56] fnisen commented on #675
@gondzo @ThomasKranitsas this is not looking correct in Dev. See below in Dev and Vic's design at the top of the ticket.
![screen shot 2017-03-09 at 3 55 20 pm](https://cloud.githubusercontent.com/assets/12552247/23776082/e8f2cb26-04e0-11e7-9cfa-3d253730ce6d.png)

[2017-03-09 23:58] ThomasKranitsas commented on #675
@fnisen I haven't worked on this yet...

[2017-03-10 00:00] fnisen commented on #644
Any update on this one?

[2017-03-10 00:01] fnisen commented on #648
@vikasrohit no, not for now. I'll close this one.

[2017-03-10 00:01] #648 closed

[2017-03-10 00:05] ThomasKranitsas commented on #644
I'll try to update this ticket tomorrow as I was busy with some personal stuff yesterday & today...
This will require some effort as the components from the `New Project` wizard are completely different (from implementation POV) than the components from `react-components`

[2017-03-10 00:06] fnisen commented on #696
@vikasrohit can you please add a screenshot for this one?

[2017-03-10 00:12] fnisen opened #767 "Specification-App Screen: redesign button alignment for Delete screen/Define screen/Save"
![screen shot 2017-03-09 at 10 50 18 am](https://cloud.githubusercontent.com/assets/12552247/23776393/ec2338a6-04e2-11e7-8216-ce09ea8e13d9.png)

Have ended up with a cluster of buttons that's kind of confusing.

[2017-03-10 00:16] vic-topcoder opened #768 "[$20] text area auto-size issues"
### Expected behavior
The text area grows with text, but when deleting text it doesn't shrink back. Currently the `<textarea>` tag has property `rows="3"` but it should be initialized with only 1 row and allow to grow.

### Screenshot/screencast
![screen shot 6](https://cloud.githubusercontent.com/assets/8484061/23776473/71b37f9e-04e3-11e7-85e0-5c157d741725.png)
![screen shot 5](https://cloud.gith

[2017-03-10 00:23] vic-topcoder opened #769 "Missing project type icons on dashboard"
### Expected behavior
Reuse the icons from new project wizard to reflect the correct project type on the dashboard.

### Actual behavior
Currently the dashboard icon section is empty.
![screen shot 11](https://cloud.githubusercontent.com/assets/8484061/23776681/98479450-04e4-11e7-9cb0-5851e27c34b8.png)

### Screenshot/screencast
![screen shot 10](https://cloud.githubusercontent.com/assets/8484061/

[2017-03-10 00:24] vic-topcoder commented on #675
Ping me when you have this one finished, so I can reassign for styling. Thanks!

[2017-03-10 00:24] fnisen commented on #675
👍

[2017-03-10 00:25] fnisen commented on #644
OK, no worries. @vikasrohit do we need this done before launch?

[2017-03-10 01:14] vic-topcoder commented on #767
Spec here: https://drive.google.com/drive/folders/0B1LbmKnex41fRDc3Y0ZxOGRCaHc?usp=sharing
![transition-v1-v2-screen-repeater](https://cloud.githubusercontent.com/assets/8484061/23777834/ea8713ce-04eb-11e7-9f9b-aa6779c01d53.png)

**Interactions**:

Let's display a small button "Delete" on the screen header;
When there is no screen defined (not all required elements are populated), the button is di

[2017-03-10 02:15] sdgun opened #770 "[$40] Can't go to the Specification page"
Description
-----------------------------------------------------------------
Can't go to the Specification page

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on a Project (https://connect.topcoder-dev.com/pro

[2017-03-10 02:18] sdgun commented on #770
![34](https://cloud.githubusercontent.com/assets/4592712/23779325/d0437b86-0565-11e7-9bec-3b15679f75c5.png)

[2017-03-10 05:23] vikasrohit commented on #769
@vic-topcoder In current version (production), we are rendering icons based on target devices. And in the current implementation we have moved the target devices in project specs section, so I guess one has to select target device from the specs questions and hit save to reflect the correct icon in the left panel.
Or let me know if we new design for showing project type icons instead along with sh

[2017-03-10 05:26] vikasrohit commented on #696
@fnisen screen shot may not help here because it is bug in the flow. So, may be a video would help here. However, it does not need both either, one can simply click on New Project link and start typing to notice the issue. IMO, if one starts typing immediately after clicking the New Project button, it should reflect in project name field.

[2017-03-10 07:08] vikasrohit commented on #679
IMO, we should tackle it later the products release. We can fix it in minor releases after this major release.

[2017-03-10 07:12] vikasrohit commented on #767
I think it would create confusion and may set wrong expectation of users.  We should always(whether empty or filled) delete the screen from the defined screens list. And in any case we should never delete the screen from the database until user click Save Changes button.

[2017-03-10 08:04] gondzo commented on #770
This one is reproducible for a single project > https://connect.topcoder-dev.com/projects/999
new projects can be created and saved successfully
@sdgun

[2017-03-10 08:28] sdgun commented on #770
@gondzo Yes, New projects are ok (eg: https://connect.topcoder-dev.com/projects/1025)
I think this happens to all the old 'Other Design' projects. (eg: https://connect.topcoder-dev.com/projects/963/)

[2017-03-10 17:38] fnisen commented on #679
@vikasrohit yes, agree about doing it after the products release (I had marked it as P2--we don't need to finish P2s before releasing). I'll keep it assigned to you. Thanks.

[2017-03-10 18:07] fnisen commented on #770
@sdgun I can reproduce on that project, but don't see it for Design projects in general. Is it an isolated bug or were you able to find some pattern?

[2017-03-10 18:14] fnisen commented on #755
@karthikbecse @gondzo not sure I understand the issue here. Is it not clear that you're in a text box because there is no outline?

[2017-03-10 18:16] fnisen commented on #674
@gondzo can you please check what happened with this one? We may have overwritten styles b/c of our deployment issues.

[2017-03-10 18:17] fnisen commented on #753
Bug is correct, but don't need to fix b/c we changed the requirement at some point to allow 7 characters.

[2017-03-10 18:24] fnisen opened #771 "Specification styling and structure is incorrect in IE11"
Have a look at this video https://www.screencast.com/t/V1Is9bCG from this ticket: https://github.com/appirio-tech/connect-app/issues/751. The quick quote layout is incorrect (centered instead of right-aligned). The fonts in the screen option at the top are not according to style.

[2017-03-10 18:30] fnisen commented on #747
@gondzo no, not required. Can give credit for this one b/c it's a reasonable expectation, but no need to fix.

[2017-03-10 18:30] vic-topcoder commented on #767
@vikasrohit - yes, deleting form the DB should not be done until save. Regarding 1 screen confusion - I don't think it will create confusion if we have an animation/transition that removes the screen and leaves an empty element to fill. Due to the deadline and scope I'd suggest we give it a try in the simplest way possible. We want to enhance the screen definition process in the future to resemble

[2017-03-10 18:31] fnisen commented on #745
@sdgun what's your expectation as a user? Only one message even though you've clicked the button multiple times?

[2017-03-10 18:33] gondzo commented on #755
The scrollbar is not needed. Shown only in IE.

[2017-03-10 18:39] fnisen commented on #741
@gondzo yes, correct, this is as designed. Old projects should function as they did previously.

[2017-03-10 18:44] vic-topcoder commented on #647
When the specification page loads, several instances of the text area do not get the `.empty` class name. Once I go and enter text which I delete, the `.empty` classname is added and the text area is styled correctly. Reopening the issue for further fixing the initial rendering state

[2017-03-10 18:44] fnisen commented on #740
Related to this, the fonts in the screen selector are also not according to style: https://www.screencast.com/t/V1Is9bCG

[2017-03-10 18:44] fnisen commented on #771
Duplicate of https://github.com/appirio-tech/connect-app/issues/740

[2017-03-10 18:44] #771 closed

[2017-03-10 18:46] ThomasKranitsas commented on #647
@vic-topcoder I see what you mean... I know what's causing that.. I'll fix it later today

[2017-03-10 18:57] fnisen opened #773 "[$20] Specification: selected screens card should not have blue type on hover"
### Expected behavior
Numbers on card should remain black on hover; only the outline of the card should be blue.

### Actual behavior
Numbers on card are blue.

![screen shot 2017-03-10 at 10 56 08 am](https://cloud.githubusercontent.com/assets/12552247/23808873/50ffdbe2-0580-11e7-8b43-1deadcd4514b.png)

[2017-03-10 18:58] fnisen commented on #674
Nevermind. Looks like the original issue was fixed, but there is a different bug, which we can track here: https://github.com/appirio-tech/connect-app/issues/773

[2017-03-10 18:58] #674 closed

[2017-03-10 19:07] fnisen commented on #736
@gondzo has the fix been deployed already? I can't get that project to show 0 out of 5.

[2017-03-10 19:10] fnisen commented on #734
This is as designed. Save button is meant to work across sections. I can see the expectation for this bug, so I'll allow it. However, we designed for the other case: the user may think that Save works across sections, and we don't want them to unexpectedly lose unsaved changes.

[2017-03-10 19:13] fnisen commented on #732
@sdgun knows he can catch us on IE from past experience. 👍

[2017-03-10 19:14] gondzo commented on #736
I can't either. My mistake, it's not fixed

[2017-03-10 19:18] fnisen commented on #727
Change the validation message to: "Please add a name for your project and then try saving again."

[2017-03-10 19:30] fnisen commented on #705
@gondzo yes, that's correct. We can allow this if the requirements weren't clear, but only 3 design project types will get quotes: Wireframes + both AVDs.

[2017-03-10 19:33] fnisen commented on #703
This one is messy implementation. To clarify: the Design Spec and Development Spec sections are not required. There should not be any asterisks for any parts of those sections. So, the fix is that the asterisks should be removed in the body of the spec.

[2017-03-10 19:33] parthshah opened #774 "Drop Price column from Project list"
Since estimates are not being provided right now, should we drop the price column all together?

[2017-03-10 19:37] fnisen commented on #738
This is working as designed.

[2017-03-10 19:39] fnisen commented on #735
This is a known bug that's being worked on (outside the scope of this bug hunt).

[2017-03-10 19:45] fnisen commented on #730
I think this is an issue with Filestack, which will likely be addressed when we upgrade to the new version. cc @parthshah

[2017-03-10 19:46] fnisen commented on #729
That's as designed. Our thinking was that it was useful for the user to see both types of matches.

[2017-03-10 19:49] fnisen commented on #725
@gondzo can you please try reproducing this bug?

[2017-03-10 19:51] fnisen commented on #724
@gondzo I can't reproduce in Chrome, so this must be only an issue with Firefox or non-Chrome browsers.

[2017-03-10 19:55] fnisen commented on #721
We don't mind if the user wants to create two identically-named features for some reason.

[2017-03-10 19:57] fnisen commented on #720
We should turn off the Save button when the name field is blank or has spaces.

[2017-03-10 20:05] fnisen commented on #610
@vikasrohit I'm sorry for the hassle, but now the copy is stretched over two lines in the component, which looks bad. Let's get rid of the "please." New copy: "Direct project not linked. Contact support."

![screen shot 2017-03-10 at 12 01 02 pm](https://cloud.githubusercontent.com/assets/12552247/23811138/87469de0-0589-11e7-81c6-79bbc56b8f72.png)

[2017-03-10 20:06] fnisen commented on #717
Same as https://github.com/appirio-tech/connect-app/issues/721

[2017-03-10 20:08] fnisen commented on #715
This is happening because the name is masked in the Dev environment.

[2017-03-10 20:09] fnisen commented on #712
We're not able to adjust this because it's a browser message.

[2017-03-10 20:11] fnisen commented on #709
@vic-topcoder is there a specified length for this in the design?

[2017-03-10 23:58] fnisen commented on #650
@vikasrohit still seeing some issues in the App Definition section:
1. On the right side of the page, the "App Definition" section should be named after the product (e.g., not App Definition, but Wireframes); but still call it "App Definition" in the Specifications module
2. Brief description should come after target devices
3. Also, "brief description" does not need initial helper text. Right now

[2017-03-11 00:00] #707 closed

[2017-03-11 00:01] ThomasKranitsas commented on #675
@vic-topcoder I restructured the component.
Once @gondzo merge my code you can assign this to @sirakovaDimitrina so she can finish the styling.

[2017-03-11 00:01] #708 closed

[2017-03-11 00:02] #734 closed

[2017-03-11 00:03] #741 closed

[2017-03-11 00:03] #747 closed

[2017-03-11 00:05] #753 closed

[2017-03-11 00:19] fnisen commented on #767
@vikasrohit @vic-topcoder
Regarding Vic's point: to me there isn't much of a difference between the two behaviors described. The App Screens section is a requirement. The user will have to fill out at least 1 screen before submitting. So, there's really no reason for them to ever have no screens shown, even if they delete the last screen. After they delete the last screen, they would have to click

[2017-03-11 00:22] sdgun commented on #745
@fnisen Clicking on 'Define another screen' each time will display a popup message. Instead if we can save added/edited 'Define screens' using the below 'Save Changes' button (Blue button) we can get rid of this multiple messages.

[2017-03-11 00:24] fnisen commented on #751
@gondzo this looks pretty messy. What are the current rules for validation?

[2017-03-11 00:30] sdgun commented on #770
@fnisen Yes I think you are correct. I can reproduce them only in the below projects
https://connect.topcoder-dev.com/projects/999
https://connect.topcoder-dev.com/projects/963

[2017-03-11 00:31] fnisen opened #778 "[$40] Getting unnecessary unsaved changes warning (regression)"
### Expected behavior
User should not be warned against unsaved changes if project has been saved

### Actual behavior
User is warned there are unsaved changes
![screen shot 2017-03-10 at 4 30 42 pm](https://cloud.githubusercontent.com/assets/12552247/23818341/f353ff26-05ae-11e7-905f-b4a26d1362cf.png)

### Steps to reproduce the problem
- Access project https://connect.topcoder-dev.com/projects/10

[2017-03-11 00:32] fnisen commented on #767
Related issue: https://github.com/appirio-tech/connect-app/issues/751

[2017-03-11 00:37] gondzo commented on #700
Related issue #767

[2017-03-11 00:37] gondzo commented on #737
Related issue #767

[2017-03-11 00:38] gondzo commented on #739
Related issue #767

[2017-03-11 00:52] fnisen commented on #745
@sdgun thanks, good point. @gondzo I think this may already be addressed by fixes we're doing here: https://github.com/appirio-tech/connect-app/issues/767.

[2017-03-11 00:53] fnisen commented on #770
Thanks @sdgun. That will help with fixing.

[2017-03-11 01:07] fnisen opened #779 "[$40] Required fields are marked incorrectly"
### Actual behavior
![screen shot 2017-03-10 at 5 01 11 pm](https://cloud.githubusercontent.com/assets/12552247/23818750/30f1ce72-05b3-11e7-95df-43db3e8c3f99.png)

Notes and Project files are marked as required in the section, but not in the navigation (on the left side).

### Expected behavior
- Notes are never required. Please remove asterisk in main section (for all project types).
- Files beco

[2017-03-11 01:26] fnisen commented on #691
@gondzo can you please check that whatever is done here doesn't overlap with @vikasrohit's work on https://github.com/appirio-tech/connect-app/issues/691, which already has an open PR

[2017-03-11 04:19] vikasrohit commented on #691
@fnisen thanks for actively alerting Samir. However, I don't think I have any work related to this ticket in pending. So, no need to worry.

[2017-03-11 12:06] karthikbecse commented on #763
@gondzo  kindly check it again it is different from other browsers

[2017-03-11 13:14] karthikbecse opened #780 "projectSpec Sidebar is moving when we scroll down"
### Expected behavior
Shoud show Project  sidebar properly

### Actual behavior
projectSpec  Sidebar  is moving when we scroll down

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- Scroll down
- See projectSpec  Sidebar

### Screenshot/screencast

https://www.screencast.com/t/89RY91Tg

--

[2017-03-11 13:15] karthikbecse opened #781 "Layout is different [IE 11][FF 52]"
### Expected behavior
Should Show unique  layout

### Actual behavior
ie layout and firfox layout is different

### Steps to reproduce the problem
- Login As manager
- click New Project
- enter Valid info
- Goto Project Specfication
- Scroll Down see

### IE 11
- Login As manager
- click New Project
- enter Valid info
- Goto Project Specfication
- Scroll Down see

### Screenshot/screencast

![2017

[2017-03-11 13:15] karthikbecse opened #782 "REF code accepts Special characters"
### Expected behavior
Should show an error

### Actual behavior
it accepts Special characters

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter   REF  value as "@#$!#$"
- See

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-11 18-02-11](https://cloud.githubusercontent.com/assets/3225433/23823265/f87f3836-0684-11e7-9322-b6a5ac82f538.png)

--

[2017-03-11 13:16] karthikbecse opened #783 "Project Estimate missing in old projects"
### Expected behavior
Should show Project Estimate

### Actual behavior
Project Estimate missing in old projects

### Steps to reproduce the problem
- Login As manager
- click Old Project (https://connect.topcoder-dev.com/projects/105/specification)
- Goto Project Specfication
- Fill All details
- click Save changes
- see Side Menu

### Screenshot/screencast
![screenshot-connect topcoder-dev com 2

[2017-03-11 13:17] karthikbecse opened #784 "question section not highlited properly"
### Expected behavior
Shoud show Question section instead of project info

### Actual behavior
while click Question  it highlights project info section

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- In projectSpec  Sidebar

- Click Questions

-see

### Screenshot/screencast

![screenshot

[2017-03-11 13:17] karthikbecse opened #785 "Specfication body missing question heading"
### Expected behavior
should show  question  heading

### Actual behavior
There is no question heading

### Steps to reproduce the problem
- Login As manager
- click Old Project
- Goto Project Specfication
- In Specifications side Menu
- See App Definition

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-11 17-47-33](https://cloud.githubusercontent.com/assets/3225433/23823

[2017-03-11 13:18] karthikbecse opened #786 "Old projects have unwanted note section"
### Expected behavior
Shoud hide Note section in  sidebar

### Actual behavior
Old projects have  unwanted note section

### Steps to reproduce the problem
- Login As manager
- click Old Project
- Goto Project Specfication
- See  Specifications side Menu

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-11 16-58-23](https://cloud.githubusercontent.com/assets/3225433/2382311

[2017-03-11 13:18] karthikbecse opened #787 "[projectSpecSidebar] Project Info is missing"
### Expected behavior
Shoud show Project Info  in sidebar

### Actual behavior
Project Info  is missing

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- See projectSpec  Sidebar

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-11 17-31-39](https://cloud.githubuserc

[2017-03-11 13:18] karthikbecse opened #788 "Copyright text color and alignment is different from design"
### Expected behavior
should show Copyright text properly

### Actual behavior
Copyright text color and alignment is different from design

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- See Copyright  text

### Screenshot/screencast

![2017-03-11_1716](https://cloud.githubusercontent.com

[2017-03-11 13:19] karthikbecse opened #789 "[IE 11] specfication page horizontal scroll bar shown"
### Expected behavior
should hide the horizontal scroll bar

### Actual behavior
Horizontal scroll bar shown

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- See

### Screenshot/screencast

![2017-03-11_1655](https://cloud.githubusercontent.com/assets/3225433/23822900/8d60bd52-067c-11e7-9e

[2017-03-11 13:25] karthikbecse opened #790 "Project Info filled by default (No description provided)"
### Expected behavior
should show placeholder instead of value

### Actual behavior
Project Info  filled by deault  (No description provided)

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
-see Project Info

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-11 18-53-

[2017-03-11 13:32] karthikbecse opened #791 "text block bacrground color is different"
### Expected behavior
should show text block properly

### Actual behavior

text block bacrground color is changing when  we delete entered value

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click Wireframe
- Goto Project Specfication
- Answer this question "What is the goal of your application? How will people use it?"
- delete a

[2017-03-11 13:32] iit2009060 commented on #703
@gondzo  I am not able to assign issue.

[2017-03-11 13:39] karthikbecse opened #792 "old Project "Which is your primary device target?" question missing"
### Expected behavior
Shoud show  the question

### Actual behavior
 "Which is your primary device target?" question   missing

### Steps to reproduce the problem
- Login As manager
- click Old Project
- Goto Project Specfication
- See  Specifications Body

### Screenshot/screencast

![screenshot-connect topcoder-dev com 2017-03-11 19-07-34](https://cloud.githubusercontent.com/assets/3225433/23823

[2017-03-11 13:43] karthikbecse opened #793 "old Project "How many screens do you need designed?" question missing"
### Expected behavior
Shoud show  the question

### Actual behavior
 "How many screens do you need designed?" question   missing

### Steps to reproduce the problem
- Login As manager
- click Old Project
- Goto Project Specfication
- See  Specifications Body

### Screenshot/screencast

![2017-03-11_1911](https://cloud.githubusercontent.com/assets/3225433/23823723/bba25984-068e-11e7-9c9f-88b78d6256

[2017-03-11 13:57] karthikbecse opened #794 "App Screens section is missing"
### Expected behavior
Shoud show App Screens section

### Actual behavior
App Screens section is missing

### Steps to reproduce the problem
- Login As manager
- click Old Project
- Goto Project Specfication
- See  Specifications Body

### Screenshot/screencast

https://www.screencast.com/t/cgAXIRiXer

--

#### Environment
- OS:Windows 8.1
- Browser (w/version):FF 52.0
- User role (client, copilot

[2017-03-11 14:03] karthikbecse commented on #794
####Note
Design Specification shown insted of App Screens section

[2017-03-11 14:56] shubhendusaurabh commented on #773
@gondzo There is no "Ready For Review" label. Is "ready" the correct one?

[2017-03-11 15:02] iit2009060 commented on #703
@gondzo what is the environment section.How can I login it.

[2017-03-11 15:11] Colinh84 commented on #761
Working on this. Can't assign myself yet though.

[2017-03-11 15:16] gondzo commented on #773
There is now

[2017-03-11 15:23] gondzo commented on #703
@iit2009060 see the challenge forums for test credentials

[2017-03-11 16:19] iit2009060 commented on #703
https://github.com/appirio-tech/connect-app/pull/797

[2017-03-11 16:55] karthikbecse opened #798 "[IE11] delete icon shown"
### Expected behavior
Hide delete icon

### Actual behavior
delete icon shown

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Development
- Click Prototype
- Goto Project Specfication
- In App Definition -Fill all require values
- In Design Specification filed
- Click add colors upto 5
- Delete 3rd  one
- See

### Screenshot/screencast

https

[2017-03-11 16:57] ThomasKranitsas commented on #644
@fnisen @gondzo I won't be able to finish this one. Can you assign it to someone else or open it for the bug bash?

[2017-03-11 17:15] karthikbecse opened #799 "meaningless alt for icons"
### Expected behavior
Should change alt for icons

### Actual behavior
icon alt is meaningless

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Development
- Click Prototype
- Goto Project Specfication
- In App Definition -Fill all require values
- In Design Specification filed
- Move What icon style do you prefer? (Pick one)
- hover the icon

[2017-03-11 17:39] karthikbecse commented on #755
i am working

[2017-03-11 18:07] karthikbecse opened #800 "Screen text box background color is changed"
### Expected behavior
Should not change background color

### Actual behavior
 Screen text box background color is changed

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click App Visual Design - Production
- Goto Project Specfication
- In App Definition -Fill all require values
- In App Screen  section
- Add new Screen
- Add one sc

[2017-03-11 18:24] karthikbecse opened #801 "save changes button works for all section"
### Expected behavior
Should not change other section button

### Actual behavior
Both of the button disabled

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click App Visual Design - Production
- Goto Project Specfication
- In App Definition -Fill all require values
-Click Save changes

- See App Screens Save changes  button And Des

[2017-03-11 18:41] karthikbecse opened #802 "can add more screen"
### Expected behavior
Disable other screen option after  save changes

### Actual behavior
Can change No of screen

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click App Visual Design - Production
- Goto Project Specfication
- In App Definition -Fill all require values with (4-8 screens)
- Click Save changes
- Add new Screen
- Add

[2017-03-11 18:46] karthikbecse opened #804 "screen limit is not working properly"
### Expected behavior
should allow to add 4- 8 screens

### Actual behavior
only can add 4 screens after Button is disabled

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click App Visual Design - Production
- Goto Project Specfication
- In App Definition -Fill all require values with (4-8 screens)
- Click Save changes
- Add new Scr

[2017-03-11 18:52] karthikbecse opened #805 "[upload file] can rename the extension"
### Expected behavior
Should not change file extension

### Actual behavior
Can chnage file extension too

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click App Visual Design - Production
- Goto Project Specfication
- In App Definition -
- upload image file
- in list click edit
- See

### Screenshot/screencast

![screenshot-connec

[2017-03-11 18:55] karthikbecse opened #806 "[upload file] loading icon missing"
### Expected behavior
Must show loading icon

### Actual behavior
Loading icon missing when the file  uploading

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click App Visual Design - Production
- Goto Project Specfication
- In App Definition -
- Click Add files
-  choose file
-  click upload
- wait

### Screenshot/screencast

http

[2017-03-11 19:14] karthikbecse opened #807 "App Screen section is enabled for another managers"
### Expected behavior
Should  disable App Screen  section

### Actual behavior

App Screen  section is enabled for another managers

### Steps to reproduce the problem
- Login As manager
- click New Project
- Enter valid values
- Click Design
- Click App Visual Design - Production
- Goto Project Specfication
- In App Definition -Fill all require values
- In App Screen  section
- Add new Screen
- C

[2017-03-11 19:20] karthikbecse commented on #763
@gondzo  watch this video https://www.screencast.com/t/1PO5QQB2

[2017-03-11 19:59] karthikbecse commented on #786
#### Note
old design project

[2017-03-11 20:00] karthikbecse commented on #793
#### Note
old design project

[2017-03-11 20:00] karthikbecse commented on #792
#### Note
old design project

[2017-03-11 20:01] karthikbecse commented on #783
#### Note
old design project

[2017-03-11 20:50] k-tempest commented on #727
I'm working on it. Cannot remove Open for Pickup label because I'm not added to the project yet.

[2017-03-11 23:12] gondzo commented on #644
@all this one is available for pickup

[2017-03-11 23:16] gondzo commented on #783
this is working as it should. old projects will show the same info.

[2017-03-11 23:16] #783 closed

[2017-03-11 23:18] gondzo commented on #786
this is working fine. old projects will have the same views.

[2017-03-11 23:18] #786 closed

[2017-03-11 23:21] gondzo commented on #792
this is working fine. old projects will have the same view.

[2017-03-11 23:21] #792 closed

[2017-03-11 23:21] gondzo commented on #793
this is working as designed.

[2017-03-11 23:21] #793 closed

[2017-03-11 23:21] gondzo commented on #794
this is working as designed

[2017-03-11 23:21] #794 closed

[2017-03-11 23:23] gondzo commented on #801
working as designed. clicking any save button will save all sections

[2017-03-11 23:23] #801 closed

[2017-03-11 23:24] gondzo commented on #802
this is expected. you need to remove some of the screens to select lower screen count option

[2017-03-12 00:06] sdgun opened #811 "Can't add a new project in IE11"
Description
-----------------------------------------------------------------
Can't add a new project in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashboard
- Click on + Create Project
- Try to enter the name

Expected

[2017-03-12 00:07] sdgun commented on #811
![2017-03-12_5-37-23](https://cloud.githubusercontent.com/assets/4592712/23827915/fe4ec874-06e5-11e7-9bd3-2aa7aa442448.png)

[2017-03-12 00:12] sdgun commented on #811
https://www.screencast.com/t/A30vHCqmt

[2017-03-12 00:16] sdgun opened #812 "Clicking BACK button won't display the selected main stream project type (Design or Development)"
Description
-----------------------------------------------------------------
Clicking BACK button won't display the selected main stream project type (Design or Development)

Steps to Reproduce
-----------------------------------------------------------------

- Open the site: https://connect.topcoder-dev.com
- Login as a valid user - Manager (Mentioned in the Environment section)
- In the Dashbo

[2017-03-12 00:17] sdgun commented on #812
![2017-03-12_5-46-47](https://cloud.githubusercontent.com/assets/4592712/23827949/517765a0-06e7-11e7-8566-7d6fef43069b.png)

[2017-03-12 05:38] rrandom commented on #726
@gondzo, please assign this to me

[2017-03-12 06:57] iit2009060 commented on #770
https://github.com/appirio-tech/connect-app/pull/814

[2017-03-12 07:09] iit2009060 commented on #727
@gondzo  can I pick this issue, it is still labeled as Open for Pick up.

[2017-03-12 07:28] rrandom commented on #732
Please assign this to me. Thanks

[2017-03-12 07:58] gondzo commented on #727
@iit2009060 no, there is already a pull request by @k-tempest
@k-tempest please assign tihs one to yourself after ou join the project

[2017-03-12 08:05] gondzo commented on #811
@sdgun I can't reproduce the issue, IE works fine for creating the projects

[2017-03-12 08:07] gondzo commented on #812
well, by going back the user canceled their selection on the first screen, so this is how it's supposed to be IMO

[2017-03-12 08:09] rrandom commented on #732
@gondzo , The (x) clear button for <input /> is a IE feature and Chrome does not have it. Should I only disable it on IE or implement the clear button for <input /> to all browsers?

[2017-03-12 08:14] gondzo commented on #732
@rrandom disable in IE as we already have the clear input button

[2017-03-12 12:51] karthikbecse commented on #802
@gondzo  watch the screenshot closely it is disabled but it is seleted also check quick quote cost

[2017-03-12 17:46] k-tempest commented on #650
Sorry, it's too complicated for me.

[2017-03-13 04:00] vikasrohit commented on #677
Sorry @fnisen Referenced wrong PR here. Changes were already in dev for this feature. Closing the ticket.

[2017-03-13 04:00] #677 closed

[2017-03-13 04:29] vikasrohit commented on #650
@gondzo I am removing it from bug bash. I can handle it.

[2017-03-13 06:24] vikasrohit commented on #650
@fnisen How do you like to handle the generic products i.e. 'Others - Design' and 'Others - Development'?

[2017-03-13 06:47] vikasrohit commented on #650
for 3rd point, problem is that description is required field in the API so the winner of the challenge used a dummy text instead which is saved to database for every project created. We should update API to mark description field optional if we like to remove that dummy text.

cc: @parthshah

[2017-03-13 11:36] garntsev commented on #752
Excuse me, how to login as manager?
Haven't found info about test manager account in README.md.

[2017-03-13 12:12] gondzo commented on #752
see > https://apps.topcoder.com/forums//?module=Thread&threadID=899463&start=0

[2017-03-13 13:11] garntsev commented on #752
Not able to reproduce both in Windows:

- OS: Windows 10
- Browsers (w/version): Firefox 52.0 and Google Chrome Version 56.0.2924.87
- User role (client, copilot or manager): Manager
- Account used: pat_monahan

and Linux:

- OS: Linux MInt 17 (Linux home 3.16.0-38-generic #52~14.04.1-Ubuntu SMP Fri May 8 09:43:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux)
- Browsers (w/version): 51.0.1 (64-bit) and

[2017-03-13 15:38] Colinh84 commented on #740
@fnisen the layout issue is fixed in my MR, however the font issue you noted is a server-side problem. If you load https://connect.topcoder-dev.com in ANY browser, the font files are not able to load from the server and all the font request response headers are returned with:
[code]

I tested with my local deployment in IE11 and all fonts are loaded and rendered correctly.

[2017-03-13 17:25] fnisen commented on #740
Thanks a lot @Colinh84. @gondzo you can test and merge this one w/o the font fix.

@parthshah can you please have a look at our CloudFront setup, based on the note above?

[2017-03-13 17:33] fnisen commented on #650
@vikasrohit for the titles, let's call the sections "Design" and "Development" and on the left-hand panel, say "Design Definition" and "Development Definition" (or Dev Definition, if it doesn't fit)

Regarding the dummy text - we do want to require a description, but not at the time of project creation. If we end up having the dummy text there saved instead of a real description, it's not helpful.

[2017-03-13 17:35] parthshah commented on #650
Sure. I'll make the change.

On Mon, Mar 13, 2017 at 10:33 AM Filipp Nisenzoun <notifications@github.com>
wrote:

[2017-03-13 17:46] fnisen commented on #677
@vikasrohit can we change the price dynamically as soon as the option is selected? Right now it looks like you only make the API call when the user hits "Save"

[2017-03-13 18:32] fnisen commented on #644
Changing to P2 b/c this doesn't need to be done before release.

[2017-03-13 19:05] parthshah opened #826 "Add direct link to topics in discussions"
There is no way to refer to a specific post / topic on the discussions page.. eg. https://connect.topcoder.com/projects/873/discussions

We should add a way to load a specific topic https://connect.topcoder.com/projects/873/discussions?topicId= or something similar.

[2017-03-13 19:06] parthshah commented on #826
duplicates #682. Closing

[2017-03-13 19:06] #826 closed

[2017-03-13 20:39] gondzo commented on #675
@sirakovaDimitrina The component is restructured per the above.
![image](https://cloud.githubusercontent.com/assets/3051646/23874309/62bf305a-0835-11e7-8814-a91f5d85a5ac.png)
The checbox still doesn't get the  .checkbox-item-checked class when checked. I'll add that shortly

[2017-03-13 23:25] gondzo commented on #675
@sirakovaDimitrina the .checkbox-item-checked is now added

[2017-03-13 23:34] parthshah commented on #501
@vikasrohit it seems like we are *not* pushing web fonts to S3. Cloudfront/S3 doesn't complain with a 404 since to work with SPAs we handle 404s by returning index.html.Once we push fonts to S3, we'll probably have to make sure those fonts are referenced with the correct path/url.

[2017-03-13 23:35] fnisen commented on #740
Per @parthshah, the font problems are a known issue, already tracked here: https://github.com/appirio-tech/connect-app/issues/501

[2017-03-13 23:41] parthshah commented on #501
See this - https://shellmonger.com/2016/01/22/working-with-fonts-with-webpack/
@vic-topcoder what do you think of this loading style?

[2017-03-13 23:43] fnisen commented on #752
@gondzo I was able to reproduce this on Mac/Chrome earlier, but am not seeing it now. Are you finding it consistently in certain environments?

[2017-03-13 23:51] fnisen opened #827 "Change project type name in Dashboard panel"
<img width="390" alt="screen shot 2017-03-13 at 10 41 47 am" src="https://cloud.githubusercontent.com/assets/12552247/23867625/c1b1c250-07d9-11e7-9537-8bb1e0cc287d.png">

Change project name (above) to match specific project type (rather than generic Design or Dev name)

[2017-03-14 00:03] fnisen commented on #782
There are no restrictions in the UI regarding Ref code.

[2017-03-14 00:05] fnisen commented on #784
Project info is the first part of the Questions section in that current structure.

[2017-03-14 00:07] fnisen commented on #785
Known issue: https://github.com/appirio-tech/connect-app/issues/650

[2017-03-14 00:11] #766 closed

[2017-03-14 00:13] fnisen commented on #790
Known issue: https://github.com/appirio-tech/connect-app/issues/650#issuecomment-285817825

[2017-03-14 00:17] fnisen commented on #800
@vic-topcoder is this working as designed?

[2017-03-14 00:18] #773 closed

[2017-03-14 00:20] fnisen commented on #804
Known issue: https://github.com/appirio-tech/connect-app/issues/767 and bugs linked from that ticket

[2017-03-14 00:21] fnisen commented on #805
User can rename the file as desired. That doesn't effect ability to view or download.

[2017-03-14 00:39] gondzo commented on #650
fixing this will fix #736

[2017-03-14 00:40] gondzo commented on #736
The fix is working, but I'd rather not merge it as it will be handled by fixing #650
@fnisen agree ?

[2017-03-14 00:42] #727 closed

[2017-03-14 00:47] #701 closed

[2017-03-14 00:54] iit2009060 commented on #703
@gondzo I will be paid for this issue.

[2017-03-14 00:56] gondzo commented on #703
yes

[2017-03-14 00:58] #726 closed

[2017-03-14 01:09] #732 closed

[2017-03-14 01:22] gondzo commented on #779
@fnisen Notes remain required for the old projects ?

[2017-03-14 01:25] #700 closed

[2017-03-14 01:29] #696 closed

[2017-03-14 01:35] gondzo commented on #731
@fnisen do we need validation for notes (notes aren't required any more)

[2017-03-14 01:36] #737 closed

[2017-03-14 01:39] gondzo commented on #758
already fixed by earlier commits

[2017-03-14 04:38] karthikbecse commented on #782
![screenshot-www topcoder com 2017-03-14 10-06-03](https://cloud.githubusercontent.com/assets/3225433/23886094/0919067a-089e-11e7-9ab1-8f5f487bbfa4.png)
@fnisen  see the  [contest page]( https://www.topcoder.com/challenge-details/30056425/?type=develop&noncache=true)

[2017-03-14 05:15] fnisen commented on #782
@karthikbecse fair point. However, "character" is used in the general sense, meaning 5 characters of any kind. A special character is still a type of character. (The bug on the character limit has already been filed).

[2017-03-14 05:16] fnisen commented on #736
@gondzo yes, sounds good. We can merge if 650 does not address it for some reason.

[2017-03-14 05:26] karthikbecse commented on #785
@fnisen  there is no word about question heading see the bug #650 once again

![screenshot-connect topcoder-dev com 2017-03-14 10-51-39](https://cloud.githubusercontent.com/assets/3225433/23886953/c088841a-08a4-11e7-8f52-0926443079b3.png)

[2017-03-14 05:31] karthikbecse commented on #790
@gondzo  is this vald for bug hunt beacuse  referenced  bug tiltle and description is different almost check the bug timeing and comment timing 3 days ago

[2017-03-14 05:32] fnisen commented on #785
@karthikbecse please check out my comment here: https://github.com/appirio-tech/connect-app/issues/650#issuecomment-284608188. In the linked doc, I define what the sections should be.

[2017-03-14 05:35] fnisen commented on #785
Let me research your appeal a little more. I'll get back to you.

[2017-03-14 05:36] vikasrohit commented on #827
You mean specific product type?

[2017-03-14 06:21] rrandom commented on #778
Can't repreduce.

[2017-03-14 06:24] vikasrohit commented on #650
Done. @fnisen Please let me know if you think there is any more improvement we can do here in the scope of this task, otherwise we can create separate tasks for new individual bugs/improvements related to this task.

[2017-03-14 07:01] vikasrohit commented on #650
Changes are in dev.

[2017-03-14 07:05] karthikbecse commented on #802
@fnisen can you check  this bug ?

[2017-03-14 07:05] karthikbecse commented on #763
@fnisen can you check  this bug ?

[2017-03-14 07:31] iit2009060 commented on #768
@gondzo  How to make change in the  TextArea.jsx which is present in node_modules as it is included in the git ignore.

[2017-03-14 07:33] iit2009060 commented on #768
https://github.com/appirio-tech/connect-app/pull/831/

[2017-03-14 07:51] vikasrohit opened #832 "Tech Debt issues after Products MVP release"
- [x] Use TextInput component from react-component repo instead of creating another [one](https://github.com/appirio-tech/connect-app/blob/dev/src/components/TextInput/TextInput.jsx) in connect-app
~~- [ ] Get rid of form under form element for projects with App Screens section~~ (#1388)
~~- [ ] Remove [old forms](https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/F

[2017-03-14 08:46] iit2009060 commented on #768
@gondzo  On which branch I need to create request for the repo appirio-tech/react-components  .As changes to row number will be made in this repo.

[2017-03-14 09:43] gondzo commented on #768
see https://github.com/appirio-tech/connect-app/wiki/Bug-Bash-Rules
it's feature/connectv2

[2017-03-14 09:54] gondzo commented on #790
yes, it will count towards your score

[2017-03-14 09:54] #790 closed

[2017-03-14 09:57] gondzo commented on #778
visit the above link, add a new screen, save the project and click the dashboard link > the unsaved changes alert is displayed

[2017-03-14 09:57] gondzo commented on #778
@rrandom

[2017-03-14 10:03] gondzo commented on #802
@karthikbecse right, I didn't notice the disabled option is selected. Valid bug.
@fnisen I don't know what is the right approach in this case - maybe add validation for the entire project object before saving (ie, not validate at question level only, but validate questions based on answers to other questions). For example we could validate screens number answer and actual number of screens added.

[2017-03-14 10:04] gondzo commented on #763
ok, it's a bug, but still out of scope

[2017-03-14 10:04] iit2009060 commented on #768
@gondzo  Unable to push branch cut out of  feature/connect/v2
fatal: unable to access 'https://github.com/appirio-tech/react-components.git/': The requested URL returned error: 403

[2017-03-14 10:08] gondzo commented on #768
@iit2009060 have you forked the react-components repository ? if not, fork it, create a branch in your repository and create a pull request

[2017-03-14 10:08] iit2009060 commented on #768
Ok Sure.

[2017-03-14 10:13] gondzo commented on #691
@all Prize increased

[2017-03-14 10:14] iit2009060 commented on #768
@gondzo Pull request for this issue  https://github.com/appirio-tech/react-components/pull/133 .
https://github.com/appirio-tech/connect-app/pull/831.

[2017-03-14 10:16] Colinh84 commented on #751
@gondzo Need a bit of clarification here. When are these validation errors supposed to appear? Currently, they do not show up for any screen field that does not have content, and only appear when a field that has content and is saved has its content deleted.

[2017-03-14 10:30] gondzo commented on #751
@Colinh84 that's fine - we don't want all fields to have validation errors by default.

[2017-03-14 10:34] Colinh84 commented on #751
@gondzo So then the correct thing to do here is to not show any validation errors when the screens are deleted, since the remaining screens never had content in the first place?

[2017-03-14 10:35] gondzo commented on #751
correct

[2017-03-14 11:29] gondzo commented on #832
- [ ] Refactor SpecQuestions and SpecScreenQuestions to remove duplicate code.

[2017-03-14 11:33] gondzo commented on #751
@Colinh84 Can you handle #767 as well since it's related to this one and we'd get merge conflicts if we handle them separately ? Take a look at the comments too as there are a few items there too.

[2017-03-14 11:38] Colinh84 commented on #751
@gondzo I could, but it looks like that issue is already assigned to somebody else..

[2017-03-14 11:46] iit2009060 commented on #691
@gondozo Can you please describe the behaviour , Currently I added the screen in the specification tab and then refresh the page I am seeing the same project estimate(Duration)  value.Can you give example or screenshot which can help me to solve this issue faster.

[2017-03-14 11:48] gondzo commented on #767
@fnisen #1 (Bug with creating screens) is already fixed (you can add new screens as soon as you save number of screens selection). I'm creating a new issue with your points #2 and 3 above. Let's leave this one just for button placement update.

[2017-03-14 11:56] gondzo commented on #691
@iit2009060 it's not about refreshing the page. As soon as you select a different option in the number of screens section, the project estimate section should be updated (even without clicking save button). Does that help ?

[2017-03-14 11:57] gondzo commented on #691
project estimate should change without saving the project >
![image](https://cloud.githubusercontent.com/assets/3051646/23899508/adf8cb96-08b5-11e7-8688-ef06b4834889.png)
![image](https://cloud.githubusercontent.com/assets/3051646/23899517/b8d99950-08b5-11e7-8e9d-13abd434868b.png)

[2017-03-14 11:59] gondzo opened #834 "App Screens - new screens and save changes"
- [x] "Define another screen" should be "Define screen" initially, because there are no screens
- [x] The "Save" button in the App Screens section is turned off when that section is not passing validation. But, Save is still active in other sections. We should be consistent--either have all the buttons off or all of them on. (~~We should keep the "Submit for Review" button off until all sections p

[2017-03-14 12:01] gondzo commented on #751
@Colinh84 I've created a new issue with items from the comments in 767 and assigned it to you #834
You can still handle #767 when #834 is complete

[2017-03-14 12:03] Colinh84 commented on #751
@gondzo ok

[2017-03-14 12:09] vikasrohit commented on #767
Thanks @gondzo

[2017-03-14 12:12] vikasrohit commented on #614
Just to double sure, the user who is posting the link should add `&_escaped_fragment_=1` to the URL, right?

[2017-03-14 12:15] iit2009060 commented on #691
@gondozo can you give the project id where I can make changes to the screen number selection.I tried some other projects but they are not allowing me to change it and not displaying the error.

[2017-03-14 12:16] gondzo commented on #691
Just create a new project in design/application visual design

On 14 Mar 2017 13:15, "Arpit goyal" <notifications@github.com> wrote:

[2017-03-14 12:33] iit2009060 commented on #691
@gondzo  I saw some previous issue like this https://github.com/appirio-tech/connect-app/issues/727 where if description is empty it still create the error that project name is empty ,this issue does not handle the description  is empty.If you can create a new issue I can create a PR for this in half an hour.This issue require more understanding of code which i am doing it  currently.

[2017-03-14 12:37] gondzo opened #835 "[$20] Error if updating project without project description on specification page"
Updating project without project description on specification page will result in error with no info about the details. Same as #727 but for project description.

[2017-03-14 12:38] gondzo commented on #691
@created #835 and assigned to you. #691 is still a higher priority, so finish it before moving on to 835

[2017-03-14 14:42] vikasrohit commented on #835
@gondzo Fix for this issue would require fixing in API for PATCH requests which I have already requested to @parthshah. So, I guess, there is no front end change is require to fix this. Please correct me if I missed anything here.

[2017-03-14 14:51] gondzo commented on #791
same as #800

[2017-03-14 14:51] #791 closed

[2017-03-14 15:20] vikasrohit opened #836 "Remove skip question option for primary target device question"
fyi @fnisen As per our discussion, this issue is to remove the skip question option for primary target device question.
@gondzo Please let me know if the issue is duplicate or already fixed by members.

[2017-03-14 15:21] parthshah commented on #835
API changes are in dev & prod topcoder-platform/tc-project-service/issues/50

[2017-03-14 15:21] vikasrohit commented on #836
PR is created https://github.com/appirio-tech/connect-app/pull/837

[2017-03-14 16:26] fnisen commented on #827
Yes, product type == project type == project template. Had assigned it to myself so I can edit the wording later.

[2017-03-14 16:35] fnisen commented on #779
@gondzo no, Notes were never a required section for old (see below) or new projects. Don't know why it was implemented as required.

![screen shot 2017-03-14 at 9 34 01 am](https://cloud.githubusercontent.com/assets/12552247/23911274/86ccff4a-0899-11e7-93d1-e07d39eb1ea0.png)

[2017-03-14 16:38] fnisen commented on #731
@gondzo no, no validation needed b/c they're not required. Thanks for checking.

[2017-03-14 16:39] karthikbecse commented on #798
@gondzo  it is valid bug but your not counted for the contest

[2017-03-14 16:42] gondzo commented on #798
It is counted in the out of scope section, as color picker is previous functionality and isn't updated in this series of contests

[2017-03-14 16:52] fnisen commented on #802
@gondzo @karthikbecse I can see the bug in the screenshots, but can't reproduce. @karthikbecse can you please provide a video? Also, it doesn't seem like a validation issue--you're just not supposed to be able to select a disabled option.

[2017-03-14 17:05] fnisen commented on #767
@vikasrohit, @gondzo wanted to clarify something. When I make comments like this:

I'm expecting that you'll assess the current application functionality and make a recommendation as to how best to handle this. This is the reason I initially assigned this to Vikas and it means we can't simply put the issue into the bug bash. To me the bug bash is for straight-forward fixes--"this is what's wrong,

[2017-03-14 17:17] fnisen commented on #614
@parthshah @vikasrohit I'm not getting a page preview by appending; the link just looks like a normal one: https://connect.topcoder.com/projects/1256/discussions
We could ask copilots to append, but not all of them will remember, nor will our managers. So, basically we're stuck until we make the infrastructure changes.

[2017-03-14 17:59] fnisen opened #838 "Requirements asterisks (*) are misaligned in body of spec document"
![screen shot 2017-03-14 at 10 59 06 am](https://cloud.githubusercontent.com/assets/12552247/23915094/459f4f3a-08a5-11e7-867e-3337195d911f.png)

[2017-03-14 18:01] #779 closed

[2017-03-14 18:03] #770 closed

[2017-03-14 18:10] fnisen opened #839 ""Other design" product should be using old design project template"
@gondzo or @vikasrohit can you please update this with the necessary template numbers so it's easy for a member to fix (or feel free to fix directly).

[2017-03-14 18:11] #758 closed

[2017-03-14 18:12] fnisen commented on #650
@vikasrohit "Other Design" was supposed to use the current design intake (meaning the one in production right now). Currently it has screen selection and other unnecessary stuff. Opening another ticket. https://github.com/appirio-tech/connect-app/issues/839

[2017-03-14 18:13] #703 closed

[2017-03-14 18:15] #755 closed

[2017-03-14 18:15] #740 closed

[2017-03-14 18:21] #736 closed

[2017-03-14 18:22] fnisen commented on #778
@shubhendusaurabh how is it going with this issue? Will you be able to finish today?

[2017-03-14 18:35] fnisen commented on #835
I'm not seeing this issue after the API changes. Please let me know and reopen if you're able to reproduce it.

[2017-03-14 18:35] #835 closed

[2017-03-14 19:11] fnisen opened #840 "Screen description validation using incorrect blue color"
![screen shot 2017-03-14 at 12 08 10 pm](https://cloud.githubusercontent.com/assets/12552247/23918125/f39eae4c-08ae-11e7-97b7-c24e6b19a683.png)
(Result of not quite correct implementation here: https://github.com/appirio-tech/connect-app/issues/737)

[2017-03-14 19:18] fnisen commented on #807
@karthikbecse fair point, but this is working as expected. The second user won't see changes unless they refresh their page.

[2017-03-14 19:21] fnisen commented on #799
@vic-topcoder let's define what the alt-text should be

[2017-03-14 19:21] shubhendusaurabh commented on #778
sorry won't be able to finish this.

[2017-03-14 19:21] sirakovaDimitrina commented on #675
cc @fnisen  fixes #675

[2017-03-14 19:23] fnisen commented on #778
@shubhendusaurabh how much more time do you need? You can hold on to this issue still--not need to drop it.

[2017-03-14 19:31] fnisen commented on #647
@vic-topcoder moving to you for testing

[2017-03-14 19:40] #640 closed

[2017-03-14 19:43] shubhendusaurabh commented on #778
@fnisen I gave it a try, but it looked tough in my limited React knowledge.

[2017-03-14 19:46] #731 closed

[2017-03-14 19:51] sirakovaDimitrina opened #841 "Add Shadow effect"
- [x] Dashboard Left Panel
- [x] Specification Left Panel
- [x] Specification Right Panel

[2017-03-14 19:56] vic-topcoder commented on #800
This is by design. Empty text area/inputs are colored to be distinguished, while text area with content is blended with the background to support better reading experience. This is a solution until we have a better editing/viewing rendering of the specification document enabled. Not bug

[2017-03-14 19:56] #800 closed

[2017-03-14 19:57] #841 closed

[2017-03-14 20:07] fnisen commented on #675
Thanks @sirakovaDimitrina. Noticing one bug: the description is being repeated. Can you please fix?
![screen shot 2017-03-14 at 1 05 24 pm](https://cloud.githubusercontent.com/assets/12552247/23920234/174f4bd2-08b7-11e7-8dd0-5d35185e852f.png)

[2017-03-14 20:08] fnisen commented on #778
OK, thanks @shubhendusaurabh

[2017-03-14 20:09] vic-topcoder commented on #799
All Alt are description/tooltip for screen readers;

It should guide the user towards taking an action.

Should be "Select `item description`" as a tooltip

devices: Mobile Phone, Tablet, Desktop, Wearable

fonts: Serif typeface, Sans-serif typeface

icons: flat icons, thin line icons, solid line icons

[2017-03-14 20:10] vic-topcoder commented on #647
Works like a charm. The only thing we should remove is the transition of the side when growing the text area, there's an awkward scroll viewable when you press enter. That's a P3 if you ask me.

[2017-03-14 20:10] #647 closed

[2017-03-14 20:20] #768 closed

[2017-03-14 20:22] vic-topcoder commented on #840
I think those are error states in the `tc-ui` repo. Error state on focus should persist - maybe missing class?

[2017-03-14 20:25] vic-topcoder commented on #709
Not sure, but we allow 3 lines of text. The field should break, but since it was entered as a single word, there's no breaking to a new line. Look at some other elements, but we might just add `text-overflow: ellipses` to negate very long single words. In real life there rarely are "suchlongwordsthatwearejusttestingfieldshowtheybreakwith"

[2017-03-14 20:26] vic-topcoder commented on #838
Not sure what is the requirement here

[2017-03-14 20:26] fnisen opened #842 "Remove "skip question" option for Design Guidelines section"
1. Remove option to skip questions (all question are optional)
2. Remove duplicate description below skip question option

Example project: http://connect.topcoder-dev.com/projects/1077/specification

![screen shot 2017-03-14 at 1 23 16 pm](https://cloud.githubusercontent.com/assets/12552247/23920839/7c44b20a-08b9-11e7-93ce-16f2eb28f272.png)

[2017-03-14 20:27] fnisen commented on #675
@vic-topcoder, @sirakovaDimitrina seeing another issue https://github.com/appirio-tech/connect-app/issues/842. Not sure if it was already there or was introduced. If it's outside of your scope, please comment on the ticket.

[2017-03-14 20:27] vic-topcoder commented on #842
assigning to @gondzo as this is in the functional part of the document.

Also - remove duplicate description on skippable questions.

[2017-03-14 20:31] ThomasKranitsas commented on #838
@vic-topcoder notice how the `*` on the **How many screens..** question has some margin from the question while the `*` on the `Project Name` appears right after the letter `e` (no margin)...

So I guess the * should either have the same margin or should not have margin at all :)

[2017-03-14 20:32] ThomasKranitsas commented on #675
Hey @fnisen I think the `double description` was introduced by my changes..

[2017-03-14 20:50] fnisen commented on #647
@vic-topcoder OK, please file if you think that's worth fixing.

[2017-03-14 20:50] #675 closed

[2017-03-14 20:55] fnisen opened #843 "Fix copy for screen option description"
![screen shot 2017-03-14 at 1 54 27 pm](https://cloud.githubusercontent.com/assets/12552247/23921952/c7305266-08bd-11e7-97b8-83fc5b5607d0.png)

[2017-03-14 20:55] fnisen commented on #836
Tested in Dev. Closing.

[2017-03-14 20:55] #836 closed

[2017-03-14 21:00] fnisen opened #844 "Not able to submit for review despite all spec questions being filled out"
On this project http://connect.topcoder-dev.com/projects/1077/specification I have everything filled out correctly, but:
1. The Questions count is showing 4 out of 5, even though all 5 questions have been answered
2. The "Submit for Review" button is not activating

[2017-03-14 21:30] ThomasKranitsas commented on #778
@fnisen I can imagine what the issues might be here but can you confirm that this is only for the `App screens` section?

[2017-03-14 21:33] fnisen commented on #778
@ThomasKranitsas it's not isolated from what I can tell. If I make changes in the "Definition" section (top section) and then try to navigate to a new tab within Connect (e.g., Dashboard), I still get the warning

[2017-03-14 21:35] gondzo commented on #778
Yes, app screens section only. App screens field isn't updated in the form
after its submitted. You can verify that by comparing
this.refs.form.getPristineValues () and this.refs.form.getCurrentValues ()
in EditProjectsForm.jsx

On 14 Mar 2017 22:30, "Thomas Kranitsas" <notifications@github.com> wrote:

[2017-03-14 21:41] fnisen commented on #778
Thanks @gondzo!

[2017-03-14 21:41] gondzo commented on #778
@fnisen I can't reproduce it in other sections. If you change project description, then save and then click Dashboard link, there is no warning

[2017-03-14 21:44] fnisen commented on #778
@gondzo OK, I see. Just tested some more:
- it will happen if the App Screen section was edited at some point
- Even if you exit the project, come back, and edit another section, the error comes up (as long as the App Screen section was edited previously)