[2016-09-29 01:10] sdgun opened #304 "[Specification] Must optimized for the Landscape view"
### Expected behavior
-----------------------------------------------------------------
[Specification] Must optimized for the Landscape view

### Actual behavior
-----------------------------------------------------------------
Some part of the Specification page is hidden from the screen

### Steps to reproduce the problem
-----------------------------------------------------------------

- In L

[2016-09-29 01:10] sdgun opened #305 "[Project Features] Must optimized for the Landscape view"
### Expected behavior
-----------------------------------------------------------------
[Project Features] Must optimized for the Landscape view

### Actual behavior
-----------------------------------------------------------------
Some part of the Project Features page is hidden from the screen; Specially the image

### Steps to reproduce the problem
----------------------------------------------

[2016-09-29 01:28] fnisen commented on #142
@vikasrohit discussed this issue with @vic-appirio. We'll follow your recommendation and simplify: can you please remove "x" button (close) from the composer, both for status updates and messages?

[2016-09-29 01:34] sdgun opened #306 "Must not reset the "What would you like to do?" when we select a device from "Pick target device(s)""
### Expected behavior
-----------------------------------------------------------------
Must not reset the "What would you like to do?" when we select a device from "Pick target device(s)"

### Actual behavior
-----------------------------------------------------------------
Selected data in "What would you like to do?" resets when we select a device from "Pick target device(s)"

### Steps to repr

[2016-09-29 01:36] fnisen opened #307 "Messages: changes "Messages" to "Discussions""
Let's move to using the term "Discussions" instead of "Messages" to match the term currently used in the TC forums (also, messages connote private communication). Can you please change it in the all the places highlighted below?

The composer should say "New Discussion Post" and the placeholder copy should be: "Start a new discussion topic with the team."

<img width="1273" alt="2016-09-28_1831" s

[2016-09-29 01:40] sdgun opened #308 "Must validate Projects without a name"
### Expected behavior
-----------------------------------------------------------------
Must validate Projects without a name

### Actual behavior
-----------------------------------------------------------------
Can create a Project without a name

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_mo

[2016-09-29 01:50] fnisen commented on #103
Guys, I don't see the delete icon available in dev. Examples of projects where it's missing: https://connectv2.topcoder-dev.com/projects/286, https://connectv2.topcoder-dev.com/projects/300. I'm logged in as christina_uw, the owner, and should have delete rights.

[2016-09-29 01:52] fnisen commented on #165
I've assigned the issue of updating links to Luis, but feel free to claim it @vikasrohit: https://github.com/appirio-tech/connect-app/issues/164

[2016-09-29 01:54] sdgun commented on #308
![2016-09-29_7-24-24](https://cloud.githubusercontent.com/assets/4592712/18938366/cb47bff4-8615-11e6-8292-6daead3eb218.png)

[2016-09-29 01:55] fnisen commented on #170
![screen shot 2016-09-28 at 6 54 27 pm](https://cloud.githubusercontent.com/assets/12552247/18938371/08389cee-85ad-11e6-837d-aacca7cd495f.png)

Still seeing this bug in Dev.

[2016-09-29 04:36] vikasrohit commented on #170
Right now I am not counting the original post with the feed/thread. Do you like to count original post in the feed/thread as comment?

[2016-09-29 04:47] vikasrohit commented on #125
It seems completely new scope of work. So, we should not reopen the existing issue for this, rather create a new issue to track it.

Further, with this flow, I am seeing a usability issue from my point of view. It requires now few extra clicks to add a custom feature with notes. Why can't user add a custom feature with notes/description.

[2016-09-29 04:56] vikasrohit commented on #142
@fnisen Did you check the latest behaviour? Current implementation follows the facebook UX (except the gray overlay behind the composer). I have to revert all the changes I did to make it work. :(

[2016-09-29 05:41] sdgun opened #309 "Must display the 'Dashboard' icon when user click on other menus"
### Expected behavior
-----------------------------------------------------------------
Must display the 'Dashboard' icon when user click on other menus

### Actual behavior
-----------------------------------------------------------------
Won't display the 'Dashboard' icon when user click on other menus

### Steps to reproduce the problem
----------------------------------------------------------

[2016-09-29 05:46] swetaipec opened #310 "on adding blank link , validation message should displayed"
### Expected behavior
on adding blank link validation message should displayed or Add link button should be displayed

### Actual behavior\
clicking on Add link button nothing happen

### Steps to reproduce the problem
1. Open the application
2. LOgin with user name sweta.singh
3. create new project
4. go to dashboard page
5. go to add link
6. add blank link

### Screenshot/screencast
![image](htt

[2016-09-29 06:08] vikasrohit commented on #164
@mahestro @fnisen Taking this one as #165 is related to this and we might incur conflicts if two different people work on this.

[2016-09-29 06:23] onetliviunicolae opened #311 "[Dashboard / IE11] - the x close option displayed"
Expected behavior
------------------------------------------------------------

- The x close option must not be displayed.

Actual behavior
------------------------------------------------------------

- The x close option is displayed on Search field.

Steps to reproduce the problem
------------------------------------------------------------
- Login into application as manager.

- Go to Dashboa

[2016-09-29 06:33] sdgun opened #312 "Same file won't upload when user enters two different names"
### Expected behavior
-----------------------------------------------------------------
Must upload the file

### Actual behavior
-----------------------------------------------------------------
Same file won't upload when user enters two different names

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid user

[2016-09-29 06:34] sdgun commented on #312
[2016-09-29_11-21-55.txt](https://github.com/appirio-tech/connect-app/files/499916/2016-09-29_11-21-55.txt)
[ScreenshotScreencastJS Log (2).txt](https://github.com/appirio-tech/connect-app/files/499915/ScreenshotScreencastJS.Log.2.txt)

[2016-09-29 06:41] onetliviunicolae opened #313 "[Edit project] - the down border line is not displayed"
Expected behavior
------------------------------------------------------------

- The down border line must be displayed the same as others.

Actual behavior
------------------------------------------------------------

- The down border line of textarea is not displayed.

Steps to reproduce the problem

------------------------------------------------------------

- Login into application as mana

[2016-09-29 06:49] sdgun opened #314 "Arrow is not displayed with the drop down container"
### Expected behavior
-----------------------------------------------------------------
Arrow must displayed with the drop down container

### Actual behavior
-----------------------------------------------------------------
Arrow is not displayed with the drop down container

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- L

[2016-09-29 06:59] onetliviunicolae opened #315 "[Dashboard] - infinite loading when set a filter"
Expected behavior
------------------------------------------------------------

-  Do not display infinite loading.

Actual behavior
------------------------------------------------------------

- Infinite loading in displayed.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as manager.

- From Dashboard complete search field w

[2016-09-29 07:10] vikasrohit commented on #164
Changes are ready. Waiting for the Bug hunt to conclude before merging the changes in dev.

[2016-09-29 07:10] vikasrohit commented on #165
Changes are ready. Waiting for the Bug hunt to conclude before merging the changes in dev.

[2016-09-29 07:20] onetliviunicolae opened #317 "[Specification] - no option to remove the color added"
## Expected behavior
- The user must be able to delete the color.
## Actual behavior
- The user don't have the option to remove the added color.
## Steps to reproduce the problem
- Login into application as manager.
- From Dashboard page edit any existing project eg. foo1.
- Select Specification tab section.
- Go to Design Specification section.
- Press "+" button for What colors do you like? (Sel

[2016-09-29 07:26] vikasrohit commented on #307
Done copy changes(pending for merge because of bug hunt). Changed the url(/messages => /discussions) as well to reflect the same nomenclature.

[2016-09-29 07:33] vikasrohit commented on #125
Further, this new flow would invalidate the few of bugs identified in the bug hunt.

[2016-09-29 07:34] sdgun opened #319 "Search and filter section in the header must center aligned in IE11"
### Expected behavior
-----------------------------------------------------------------
Search and filter section in the header must center aligned in IE11

### Actual behavior
-----------------------------------------------------------------
Search and filter section in the header is not center aligned

### Steps to reproduce the problem
-----------------------------------------------------------

[2016-09-29 08:06] onetliviunicolae opened #320 "[Search] - when filters are hide don't take them into consideration"
## Expected behavior
- Reload results when the filter is hide.
## Actual behavior
- The filter criteria are taken into consideration even the filter options are hidden.
## Steps to reproduce the problem
- Login into application as copilot.
- Complete search field with word "Demo".
- Press enter to perform search.
- Expand Filters and select Project Type=Work Project.
- Observe "No results" message

[2016-09-29 08:23] onetliviunicolae opened #321 "[Search] - the project must be displayed as selected"
Expected behavior
------------------------------------------------------------

- The item must be displayed as selected.

Actual behavior
------------------------------------------------------------

- Selected item is not displayed as selected.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as copilot role.

- Expand Filters

[2016-09-29 08:36] sdgun opened #322 "'PROJECT NAME' and 'DESCRIPTION' Labels must display as 'Project Name' and 'Description'"
### Expected behavior
-----------------------------------------------------------------
'PROJECT NAME' and 'DESCRIPTION' Labels must display as 'Project Name' and 'Description'

### Actual behavior
-----------------------------------------------------------------
'Project Name' and 'Description'

### Steps to reproduce the problem
-----------------------------------------------------------------

[2016-09-29 08:48] swetaipec opened #323 "Sorting should not be applied on column if there is no data"
### Expected behavior
Sorting should not be applied on column if there is no data
### Actual behavior
user able to apply sorting on ID

### Steps to reproduce the problem
1. Open Application
2. Login with username sweta.singh
3. go to Project list
4. Search for Ref keyword
5. No searched data
6. click on ID Column

### Screenshot/screencast
Attach or link a resource.
![image](https://cloud.githubu

[2016-09-29 08:54] sdgun opened #324 "'Project Type' and 'Status' drop down display in one line"
### Expected behavior
-----------------------------------------------------------------
'Project Type' and 'Status' drop down display in one line

### Actual behavior
-----------------------------------------------------------------
Layout issue in FILTER in Portrait view

### Steps to reproduce the problem
-----------------------------------------------------------------

- In Portrait Mode
- Ope

[2016-09-29 09:04] sdgun opened #325 "[Tablet] Must remove the Search term from the textbox"
### Expected behavior
-----------------------------------------------------------------
[Tablet] Must remove the Search term from the textbox

### Actual behavior
-----------------------------------------------------------------
Last Search term is displayed even the user removed it from the textbox

### Steps to reproduce the problem
---------------------------------------------------------------

[2016-09-29 09:15] sdgun opened #326 "[Tablet] Profile drop down menu layout issue; Logout is displayed in two lines"
### Expected behavior
-----------------------------------------------------------------
[Tablet] Must increase the width of the drop down menu

### Actual behavior
-----------------------------------------------------------------
Profile drop down menu layout issue; Logout is displayed in two lines

### Steps to reproduce the problem
----------------------------------------------------------------

[2016-09-29 09:16] onetliviunicolae opened #327 "Allow a max number of charatcers to be set in invite code"
Expected behavior
------------------------------------------------------------

- Set  a validation message for max number set in field Invite Code eg 10 characters.

Actual behavior
------------------------------------------------------------

- Any number of characters can be set.

Steps to reproduce the problem
------------------------------------------------------------

- Login into applicati

[2016-09-29 09:27] sdgun opened #328 "Text is not displayed in the menu items in IE11"
### Expected behavior
-----------------------------------------------------------------
Must display the name of the menu items as other browsers

### Actual behavior
-----------------------------------------------------------------
Text is not displayed in the menu items in IE11

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites

[2016-09-29 09:35] swetaipec opened #329 "Project features: text Alignment issues in Social Login in IE 11"
### Expected behavior
enable/disable button should be disabled

### Actual behavior
button not displayed even page is not scorllable .

### Steps to reproduce the problem
1. Open the Application
2. Login with username
3. Create new project
4. goto Specification
5. Go to Features section
6. Add/Edit Feature
7. Click on Social Login

### Screenshot/screencast
![image](https://cloud.githubusercontent

[2016-09-29 09:36] swetaipec commented on #329
Screen Resolution : 1366*768

[2016-09-29 09:41] swetaipec opened #330 "Project Features: complete image not visible on Payment feature"
### Expected behavior
image should be displayed completly or page must be scroll-able
### Actual behavior
not able to see image

### Steps to reproduce the problem
- 1. Open the Application
2. Login with username sweta.singh
3. Create new project
4. Goto Specification
5. Goto Feature Section
6. click on Add/Edit feature
7. Redirect to Project feature
8. Go to PAyment

### Screenshot/screencast
tta

[2016-09-29 09:50] sdgun opened #331 "[Tablet] "Remove number" and "Cancel" buttons are not displayed in one line; and touching each other"
### Expected behavior
-----------------------------------------------------------------
[Tablet] "Remove number" and "Cancel" buttons must display in-line or Must have some space in-between if they are in two lines

### Actual behavior
-----------------------------------------------------------------
"Remove number" and "Cancel" buttons are not displayed in one line; and touching each other

### S

[2016-09-29 09:54] swetaipec commented on #329
same issue with Activity feed & Profiles in Social Feature

[2016-09-29 10:11] swetaipec opened #332 "Link: should have Max length validation on link title"
### Expected behavior
should have max length validation

### Actual behavior
on adding more char its showing alignment issue
### Steps to reproduce the problem
1. Open the Application
2. Login with username sweta.singh
3. Create new project
4. go to dashboard
5. Add link
6. Add n length char in  title field

### Screenshot/screencast
Attach or link a resource.
![image](https://cloud.githubusercont

[2016-09-29 10:12] sdgun opened #333 "[Tablet] Must able to click on 'Add a custom features'"
### Expected behavior
-----------------------------------------------------------------
[Tablet] Must able to click on 'Add a custom features'

### Actual behavior
-----------------------------------------------------------------
'Add a custom features' is not displayed

### Steps to reproduce the problem
-----------------------------------------------------------------

- In Portrait Mode
- Open

[2016-09-29 10:26] sdgun opened #334 "When user switch the Status error displayed"
### Expected behavior
-----------------------------------------------------------------
When user switch the Status; Must not display an error message

### Actual behavior
-----------------------------------------------------------------
When user switch the Status error displayed

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the site

[2016-09-29 10:39] sdgun opened #335 "[Tablet] 'Save Feature' button text half hidden and ON/OFF button overlap with the text"
### Expected behavior
-----------------------------------------------------------------
[Tablet] Must fix the Layout issues in 'Add a custom features'

### Actual behavior
-----------------------------------------------------------------
'Save Feature' button text half hidden and ON/OFF button overlap with the text

### Steps to reproduce the problem
-----------------------------------------------

[2016-09-29 10:54] arifnyet opened #336 "[Project details/app specification]Save button failed to work"
### Expected behavior
System should notify if the project is update

### Actual behavior
System shows error

### Steps to reproduce the problem
-Go to project specification tab
-Fill in all blanks... file upload not working(this might be the cause)
-Save

### Screenshot/screencast
Attach or link a resource.
![screenshot 18](https://cloud.githubusercontent.com/assets/8684209/18951121/eb4b2808-8675-

[2016-09-29 11:02] arifnyet opened #337 "[Project Dashboard]Add member before active phase"
### Expected behavior
Error shown when trying to add member

### Actual behavior
Project owner should be able to add member if project does not allow it... A notification should be shown why it failed

### Steps to reproduce the problem
go to project dashboard
project is in draft mode
add team member

### Screenshot/screencast
![screenshot 21](https://cloud.githubusercontent.com/assets/8684209/189

[2016-09-29 11:08] sdgun opened #338 "Long Description for 'Custom Features' must display fully"
### Expected behavior
-----------------------------------------------------------------
Long Description for 'Custom Features' must display fully

### Actual behavior
-----------------------------------------------------------------
Long Description for 'Custom Features' is not displayed fully

### Steps to reproduce the problem
-----------------------------------------------------------------

-

[2016-09-29 11:15] sdgun opened #339 "Long Feature Name for 'Custom Features' is not displayed fully"
### Expected behavior
-----------------------------------------------------------------
Long Feature Name for 'Custom Features' must display fully

### Actual behavior
-----------------------------------------------------------------
Long Feature Name for 'Custom Features' is not displayed fully

### Steps to reproduce the problem
-----------------------------------------------------------------

[2016-09-29 11:20] sdgun opened #340 "'FEATURE DESCRIPTION' field layout issue when we are editing 'Custom Features'"
### Expected behavior
-----------------------------------------------------------------
'FEATURE DESCRIPTION' field must align with the 'FEATURE NAME' in EDIT 'Custom Features'

### Actual behavior
-----------------------------------------------------------------
'FEATURE DESCRIPTION' field layout issue when we are editing 'Custom Features'

### Steps to reproduce the problem
---------------------

[2016-09-29 11:25] sdgun opened #341 "Cancel button will delete the 'Custom Features' entry"
### Expected behavior
-----------------------------------------------------------------
Cancel button must not delete the 'Custom Features' entry; because it have a seperate DELETE button to do this
- Also if the user accidentally goes into the EDIT mode he/she needs to cancel the operation by clicking the cancel button

### Actual behavior
---------------------------------------------------------

[2016-09-29 11:35] sdgun opened #342 "'Marketplace' Phone Image under 'Ecommerce' is wrong"
### Expected behavior
-----------------------------------------------------------------
'Marketplace'  Phone Image under 'Ecommerce' is wrong; Must display the title as 'Marketplace' in the mobile image

### Actual behavior
-----------------------------------------------------------------
'Marketplace'  Phone Image under 'Ecommerce' is wrong

### Steps to reproduce the problem
--------------------

[2016-09-29 11:41] sdgun opened #343 "Must cancel when user click on the cancel button"
### Expected behavior
-----------------------------------------------------------------
Must cancel when user click on the cancel button

### Actual behavior
-----------------------------------------------------------------
Can't cancel the 'Custom Features' function

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a

[2016-09-29 13:39] arifnyet opened #344 "[Project Dashboard]Co Pilot can create project"
### Expected behavior
As  per guideline copilot should not be able to create project

### Actual behavior
Co pilot is able to create project

### Steps to reproduce the problem
Login as co-pilot
Create Project

### Screenshot/screencast
![screenshot 23](https://cloud.githubusercontent.com/assets/8684209/18958373/056d7d16-8695-11e6-9dae-211652a77bdd.png)

--

#### Environment
- OS: Windows 10
- Bro

[2016-09-29 14:33] arifnyet opened #345 "[Project Dashboard]Co pilot can cancel project before active phase"
### Expected behavior

AS per guideline co pilot cannot cancel project before active phase
### Actual behavior

Co pilot can cancel project after joining any project no matter the status
### Steps to reproduce the problem

Create a project as manager
Assign owner
Set to reviewed
Join as copilot using another browser
Change project status to cancelled
### Screenshot/screencast

![screenshot 26](htt

[2016-09-29 14:40] mdesiderio commented on #122
@vikasrohit unfortunately I don't see any options to reverse the order that comes from Discourse, the only way I can think of right now is to use the same approach that I described before using the post ids to fetch posts in the reverse order.

[2016-09-29 15:00] arifnyet opened #346 "[Project Dashboard]There is no confirmation when assigning owner"
### Expected behavior
When a manager assigning owner for the first time... a confirmation is required
### Actual behavior
Owner is assigned without confirmation... this cant be undone once the owner is assigned

### Steps to reproduce the problem
Create new project as manager
Assign member

### Screenshot/screencast
![screenshot 25](https://cloud.githubusercontent.com/assets/8684209/18959272/2286e

[2016-09-29 15:26] swetaipec opened #347 "status should be sorted in status filter"
### Expected behavior
data should be in sorted format
### Actual behavior
not sorted
### Steps to reproduce the problem
1. open the Application
2. Login with copilot :cp-superstar
3. go to project list
4.  click on status filters

### Screenshot/screencast
Attach or link a resource.

--
![image](https://cloud.githubusercontent.com/assets/16131461/18960304/eaa23dd6-8686-11e6-9aac-98ec71a17c46.png)

[2016-09-29 15:48] onetliviunicolae opened #348 "[Firebug Error Message] - when select Messages tab section"
Expected behavior
------------------------------------------------------------

- The 404 Error message is displayed in console.

Actual behavior
------------------------------------------------------------

- Do not display this error message when select tab.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user role

[2016-09-29 15:54] sdgun commented on #274
index.js:152  action @ 21:22:07.243 LOAD_PROJECT_FEEDS_PENDING
usersnap2-11678-en.js:4075  prev state Object {loadUser: Object, searchTerm: Object, projectSearch: Object, projectSearchSuggestions: Object, projectState: Object…}
usersnap2-11678-en.js:4075  action Object {type: "LOAD_PROJECT_FEEDS_PENDING"}
usersnap2-11678-en.js:4075  next state Object {loadUser: Object, searchTerm: Object, projectS

[2016-09-29 15:59] sdgun opened #349 "Full button is not clickable (Member/Copilot); Only text is hyperlinked"
### Expected behavior
-----------------------------------------------------------------
Full button must be clickable (Member/Copilot)

### Actual behavior
-----------------------------------------------------------------
Full button is not clickable (Member/Copilot)

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a

[2016-09-29 16:11] onetliviunicolae opened #350 "[Add a Team Member] - the existing username is displayed as autocomplete"
Expected behavior
------------------------------------------------------------

- Display in autocomplete only user after correct text set.

Actual behavior
------------------------------------------------------------

- The existing username is displayed as autocomplete.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as manag

[2016-09-29 16:16] onetliviunicolae opened #351 "[Add a Team Member] - the existing username is displayed as autocomplete when set focus"
## Expected behavior
- Do not display the previous founded username in popup window.
## Actual behavior
- The previous username is displayed in popup window.
## Steps to reproduce the problem
- Login into application as manager role.
- Edit any existing project eg. Nicu {Project}.
- Press "+" button to add a new team member.
- Complete field with christina_uw name.
- Delete the name after autocomp

[2016-09-29 16:21] sdgun opened #352 "'ADD A TEAM MEMBER' Tool tip "Create New Link" must --> 'ADD A TEAM MEMBER'"
### Expected behavior
-----------------------------------------------------------------
'ADD A TEAM MEMBER' Tool tip "Create New Link" must --> 'ADD A TEAM MEMBER'

### Actual behavior
-----------------------------------------------------------------
'ADD A TEAM MEMBER' Tool tip is incorrect

### Steps to reproduce the problem
-----------------------------------------------------------------

- Op

[2016-09-29 16:26] sdgun opened #353 "Can click Add Link when there is a Delete confirmation validation"
### Expected behavior
-----------------------------------------------------------------
Must hide the 'Add Link' when there is a Delete confirmation validation; Like 'ADD A TEAM MEMBER'

### Actual behavior
-----------------------------------------------------------------
Can click Add Link when there is a Delete confirmation validation

### Steps to reproduce the problem
-------------------------

[2016-09-29 16:34] sdgun opened #354 "'ADD A TEAM MEMBER' is opened at the bottom of the list"
### Expected behavior

---

'ADD A TEAM MEMBER' option must open on top of the list; Then it is easy to add new members when the list is lengthy
### Actual behavior

---

'ADD A TEAM MEMBER' is opened at the bottom of the list
### Steps to reproduce the problem

---
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project name
- Click Dashboard
- Click 'ADD A T

[2016-09-29 16:37] sdgun opened #355 "Delete Confirmation popup overlay is opened center aligned to the list"
### Expected behavior
-----------------------------------------------------------------
Delete Confirmation popup overlay must open near the item that user wants to delete

### Actual behavior
-----------------------------------------------------------------
Delete Confirmation popup overlay is opened center aligned to the list

### Steps to reproduce the problem
----------------------------------

[2016-09-29 16:38] onetliviunicolae opened #356 "[Upload Files] - Error: Request failed with status code 500"
Expected behavior
------------------------------------------------------------

- The 500 code error message is displayed in console.

Actual behavior
------------------------------------------------------------

- Do not display this error message.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user role.

- Edit a

[2016-09-29 16:42] swetaipec opened #357 "selecting device as Phone , displaying text on dashboard as Iphone"
### Expected behavior
Should displayed Phone or ios, Android & Hybrid
### Actual behavior
Showing only Ios

### Steps to reproduce the problem
1. open the Application
2. Login with copilot :cp-superstar
3.  create new project
4. Pick Phone as device
5. Redirect to Dashboard
6. on dashboard dispalying only phone text
### Screenshot/screencast
Attach or link a resource.

--
![image](https://cloud.gi

[2016-09-29 16:45] onetliviunicolae opened #358 "[Specification] - Error: Expected $splice target to be an array; got undefined"
Expected behavior
------------------------------------------------------------

- Do not display this error message in console.

Actual behavior
------------------------------------------------------------

- The Expected $splice ... is displayed in console.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user role.

[2016-09-29 16:56] onetliviunicolae opened #359 "Error: performUpdateIfNecessary: Unexpected batch number (current 1345, pending 1321)"
Expected behavior
------------------------------------------------------------

- The error message is displayed in console.

Actual behavior
------------------------------------------------------------

- Do not display this error message in console.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user role.

- Edit

[2016-09-29 16:58] sdgun opened #360 "Even though user clear the username from the textbox using (x) button, Can add the user by clicking the ADD button"
### Expected behavior

---

Must validate the field before entering the user
### Actual behavior

---

Even though user clear the username from the textbox using (x) button, Can add the user by clicking the ADD button
### Steps to reproduce the problem

---
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project name
- Click Dashboard
- Click Add New team memb

[2016-09-29 17:00] sdgun commented on #343
Console Log:

FlattenedFeatureList.jsx:32Uncaught TypeError: Cannot read property 'categoryId' of undefined(anonymous function) @ FlattenedFeatureList.jsx:32u @ FlattenedFeatureList.jsx:30r.render @ ReactCompositeComponent.js:43(anonymous function) @ ReactCompositeComponent.js:793s @ ReactCompositeComponent.js:74_renderValidatedComponentWithoutOwnerOrContext @ ReactCompositeComponent.js:792_render

[2016-09-29 17:01] onetliviunicolae opened #361 "Error: Request failed with status code 404 when delete message textarea"
Expected behavior
------------------------------------------------------------

- Do not display this error message in console.

Actual behavior
------------------------------------------------------------

- The Error: Request failed with status code 404 message is displayed in console.

Steps to reproduce the problem
------------------------------------------------------------

- Login into appl

[2016-09-29 17:02] swetaipec opened #362 "on selecting Android watch & Apple watch both, on dashboard panel should displayed watch os & Android wear Or Apple & Android watch"
### Expected behavior
on selecting Android watch & Apple watch both, on dashboard panel should displayed watch os & Android wear Or Apple & Android watch
### Actual behavior
showing as ios watch & Android wear
### Steps to reproduce the problem
1. open the Application
2. Login with copilot :cp-superstar
3. select device as Android watch & Apple watch
4. go to Dashbaord panel
### Screenshot/screenc

[2016-09-29 17:11] sdgun opened #363 "Must display as -x selectedAfter deleting a Project Feature (-x selected --> - -x selected)"
### Expected behavior
-----------------------------------------------------------------
Must display as -x selected

### Actual behavior
-----------------------------------------------------------------
After deleting a Project Feature (-x selected --> - -x selected)

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a

[2016-09-29 17:14] sdgun opened #364 "All the Custom features deleted in the list; Not only the selected item"
### Expected behavior
-----------------------------------------------------------------
Must delete only the selected Custom features

### Actual behavior
-----------------------------------------------------------------
All the Custom features deleted in the list

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a va

[2016-09-29 17:18] sdgun opened #365 "[Common] 'Project Features' phone image is partially hidden from the bottom"
### Expected behavior

---

Must able to scroll the page to see the full image
### Actual behavior

---

[Common] 'Project Features' phone image is partially hidden from the bottom
### Steps to reproduce the problem

---
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project name
- Click Specification
- Click Add/Edit Features
- Click 'Help'
- Check the phone

[2016-09-29 17:20] sdgun opened #366 "[Common] 'Project Features' List have a horizontal scroll bar"
### Expected behavior
-----------------------------------------------------------------
'Project Features' List must not have a horizontal scroll bar

### Actual behavior
-----------------------------------------------------------------
[Common] 'Project Features' List have a horizontal scroll bar

### Steps to reproduce the problem
-----------------------------------------------------------------

[2016-09-29 17:28] swetaipec opened #367 "after Adding Project feature if user upload the file without making save changes , added features remove"
### Expected behavior
added features should not be removed on uploading File

### Actual behavior
Added features removed on uploading file without making save changes
### Steps to reproduce the problem
1. open the Application
2. Login with copilot :cp-superstar
3.  Create new Project
4. go to Specifications
5. Go to Feature Sections
6. Add/Edit features
7. Add Features to SPecifications
8. Upload

[2016-09-29 17:29] fnisen commented on #142
@vikasrohit yes, I checked, of course. The main difference with Facebook is that the "x" is always clickable and has an action (the grew overlay is removed)--whether you have content in the composer or not. For us, the "x" only has an action when there is no content in the composer. Also, in the Messages section, the "x" currently is never clickable--I'm not able to collapse the composer, and I th

[2016-09-29 17:34] onetliviunicolae opened #368 "Even no results sort columns available"
Expected behavior
------------------------------------------------------------

- Do not display sort option for columns.

Actual behavior
------------------------------------------------------------

- The sort option available even no results.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as mamager user role.

- Expand fil

[2016-09-29 17:35] fnisen commented on #125
@vikasrohit booking time to discuss this one with you. I think it's less complicated than it seems and will be easier to talk through.

[2016-09-29 17:38] sdgun opened #369 "Date repeated in the table in two columns (Projects, Status Date)"
### Expected behavior
-----------------------------------------------------------------
Must not repeat the data in two columns (Projects, Status Date)

### Actual behavior
-----------------------------------------------------------------
Date repeated in the table

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a v

[2016-09-29 17:38] onetliviunicolae opened #370 "[Filter] - All Statuses option must be set first in item list"
Expected behavior
------------------------------------------------------------

- The All Statuses item must be first option in item list.

- This is the general behavior for drop down list also see "Project Type", All Types item is displayed first!

Actual behavior
------------------------------------------------------------

- The All Statuses item is displayed as second option.

Steps to reprod

[2016-09-29 17:41] fnisen commented on #170
You're right, sorry, that was a dumb example. I am seeing it though after there has been been one comment, not counting the original post:

<img width="771" alt="screen shot 2016-09-29 at 10 39 37 am" src="https://cloud.githubusercontent.com/assets/12552247/18965236/3074cf8c-8631-11e6-81b7-77684584946b.png">
<img width="1194" alt="screen shot 2016-09-29 at 10 39 24 am" src="https://cloud.githubuse

[2016-09-29 17:47] onetliviunicolae opened #371 "[Search] - ignrore two or more blankspaces"
## Expected behavior
- Ignore the blank spaces in search text.
## Actual behavior
- The results are not displayed even the text is correct but contain two blank spaces.
## Steps to reproduce the problem
- Login into application as pat_monahan role.
- From Dashboard section complete search field with "Other Work  test" (two blank spaces added after Work word).
- Press enter to perform the search.
-

[2016-09-29 17:53] #336 closed

[2016-09-29 17:53] onetliviunicolae opened #372 "[Pagination] - keep fixed pagination option displaying 5 pages."
## Expected behavior
- The pagination option must be set as to display 5 pages( <- Prev 1 2 3 4 5 Next ->).
## Actual behavior
- The pagination display all pages.
## Steps to reproduce the problem
- Login into application as connect user role.
- Go to Dashboard.
- See pagination control.
## Environment

Operating System(s): Windows 7
Device(s): Laptop HT 635
Browser(s): Chrome 49.0.2623.112 m

[2016-09-29 17:59] #337 closed

[2016-09-29 17:59] onetliviunicolae opened #373 "[Search] - infinite loading displayed"
Expected behavior
------------------------------------------------------------

- Return the project available or return the invalid message.

Actual behavior
------------------------------------------------------------

- Infinite loading is displayed.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as manager role.

- Complet

[2016-09-29 18:07] arifnyet opened #374 "[Project Dashboard]Add member filtering"
### Expected behavior

The member tab should filter out managers and co-pilot and the co-pilot tab should only display  available co-pilot
### Actual behavior

No matter which tab a chosen it will list all user and add according to tab
### Steps to reproduce the problem

Go to project dashboard
Add member by typing username
 wait list to appear
### Screenshot/screencast

![screenshot 29](https://c

[2016-09-29 18:16] sdgun opened #375 "If it is a Work Project; There is a blank space in between the Project title and Status"
### Expected behavior
-----------------------------------------------------------------
If it is a Work Project; Must remove the blank space

### Actual behavior
-----------------------------------------------------------------
If it is a Work Project; There is a blank space in between the Project title and Status

### Steps to reproduce the problem
------------------------------------------------

[2016-09-29 18:19] arifnyet opened #376 "[Project Dashboard] Specification and Message Tab"
### Expected behavior
Specification and Message Tab should be hidden if a manager/co-pilot havent joined
The content of this tab should also be hidden

### Actual behavior
Specification and Message Tab is visible and clickable
The content of the tab are also visible

### Steps to reproduce the problem
Click on any project
Notice that that message and specification tab are visible and clickable

##

[2016-09-29 18:24] arifnyet opened #377 "[Project Dashboard]Status icon issue"
### Expected behavior
icon should be properly displayed

### Actual behavior
blank box icon

### Steps to reproduce the problem
go to project dashboard using firefox
click  on status drop down

### Screenshot/screencast
![screenshot 37](https://cloud.githubusercontent.com/assets/8684209/18966763/08dcdb8e-86b5-11e6-883e-4d9c5c248ce5.png)
![screenshot 38](https://cloud.githubusercontent.com/assets/8

[2016-09-29 18:39] vic-appirio opened #378 "iPad layout issues"
A collection of all layout issues spotted on iPad with Safari.
- Layout is broken
- Fonts are defaulting to system  - we should optimize
- Navigation breaks at 1024 - not looking good without labels on mobile
- Messaging doesn't work - can't post from iPad
- Post composer - doesn't support mobile device bold, italic, etc. formatting - we need further investigation on that.

![img_0001](https://clo

[2016-09-29 20:14] onetliviunicolae opened #379 "[Features] - the textarea can be resized under the section"
Expected behavior
------------------------------------------------------------

- The textarea must not be able to be resized under the section and must be kept in the section.

Actual behavior
------------------------------------------------------------

- The textarea can be resized under the image phone section.

Steps to reproduce the problem
---------------------------------------------------

[2016-09-29 20:22] onetliviunicolae opened #380 "[Features] - when set an existing name and the validation message is displayed set disable buttons"
Expected behavior
------------------------------------------------------------

- Display buttons as disable.

Actual behavior
------------------------------------------------------------

- The buttons are displayed as enable.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user role.

- In Your Projects considering

[2016-09-29 20:34] onetliviunicolae opened #381 "[Enter Your Brand Url] - the blank spaces are not ignored"
Expected behavior
------------------------------------------------------------

- The blank spaces set in field are not ignored.

Actual behavior
------------------------------------------------------------

- Ignore the blank spaces set in field.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user role.

- In Dashb

[2016-09-30 05:57] sdgun opened #382 "Must disable the 'Save Changes' button when user first access it"
### Expected behavior
-----------------------------------------------------------------
Must disable the 'Save Changes' button when user first access it

### Actual behavior
-----------------------------------------------------------------
'Save Changes' button enabled when user first access it

### Steps to reproduce the problem
-----------------------------------------------------------------

-

[2016-09-30 06:00] vikasrohit commented on #122
Oh...then I have to make two calls to get initial set of posts. 😞
Anyway, even if do that, I have another problem which inclusion of non 'post' type posts in totalPosts count. How can I determine the number of posts with type 'post'

[2016-09-30 06:28] sdgun opened #383 "Customer names won't display within the table row"
### Expected behavior
-----------------------------------------------------------------
Must display the Customer names within the table row

### Actual behavior
-----------------------------------------------------------------
Customer names won't display within the table row

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
-

[2016-09-30 06:44] vikasrohit commented on #170
Okay. Got it. It seems build is not latest on the dev. May be travis build was disabled for bug hunt.

[2016-09-30 06:47] sdgun opened #384 "Won't able to post a content with paragraphs (Have space in between the paragraphs)"
### Expected behavior
-----------------------------------------------------------------
Must able to post a content with paragraphs (Have space in between the paragraphs)

### Actual behavior
-----------------------------------------------------------------
Won't able to post a content with paragraphs (Have space in between the paragraphs)

### Steps to reproduce the problem
----------------------

[2016-09-30 07:26] onetliviunicolae opened #385 "Application is blocked when try to sort column"
Expected behavior
------------------------------------------------------------

- Display data records.

Actual behavior
------------------------------------------------------------

- The app is blocked when try to sort.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as manager.

- Search "other work" text.

- Press on Price

[2016-09-30 07:55] onetliviunicolae opened #386 "[App Design & Dev] - the selected sections are not displayed bold"
Expected behavior
------------------------------------------------------------

- Display with bold text the selected text section.

Actual behavior
------------------------------------------------------------

- The selected text section is not displayed with bold text.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as manage

[2016-09-30 07:59] onetliviunicolae commented on #386
Observation

- The text is displayed as bold if the user press on the name eg. press on Prototype an app!

[2016-09-30 08:43] sdgun commented on #190
http://www.screencast.com/t/zcNaBJoVd61z

[2016-09-30 08:49] sdgun commented on #194
http://screencast.com/t/XUfTHqx5Npgu

[2016-09-30 09:07] onetliviunicolae opened #387 "[Edit Project] - add button is not full visible"
Expected behavior
------------------------------------------------------------

- The Add button must be full visible.

Actual behavior
------------------------------------------------------------

- The Add button is not full visible.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user role.

- Edit an existing pro

[2016-09-30 10:47] onetliviunicolae opened #388 "[Project Features] - TypeError: Cannot read property 'categoryId' of undefined"
Expected behavior
------------------------------------------------------------

- The error message must not be displayed in console.

Actual behavior
------------------------------------------------------------

- The error message "Cannot read property 'categoryId' of undefined" is displayed in console.

Steps to reproduce the problem
------------------------------------------------------------

[2016-09-30 10:48] onetliviunicolae commented on #388
Observation

- The error message appear when select any else feature set some in textfield and select another proejct!

[2016-09-30 10:51] sdgun opened #389 "Won't able to add long description as the description for uploaded files"
### Expected behavior
-----------------------------------------------------------------
Must able to add long description as the description for uploaded files. Must display more meaningful validation message

### Actual behavior
-----------------------------------------------------------------
Won't able to add long description as the description for uploaded files

### Steps to reproduce the pro

[2016-09-30 10:54] onetliviunicolae opened #390 "[Project Features] - Search is not enable when is set yes"
Expected behavior
------------------------------------------------------------

- Enable the right image section when set feature as yes.

Actual behavior
------------------------------------------------------------

- The right section is not enable when is set yes.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as copilot ro

[2016-09-30 11:05] sdgun opened #391 "Specification and Message pages opens focused below section of the page"
### Expected behavior
-----------------------------------------------------------------
Specification and Message pages must open focused at top when user navigates from Dashboard

### Actual behavior
-----------------------------------------------------------------
Specification and Message pages opens focused below section of the page

### Steps to reproduce the problem
-------------------------

[2016-09-30 11:10] sdgun opened #392 "Some Formatting tools won't show in Dashboard and Message pages sometimes in IE11"
### Expected behavior
-----------------------------------------------------------------
Formatting tools must show in Dashboard and Message pages

### Actual behavior
-----------------------------------------------------------------
Some Formatting tools won't show in Dashboard and Message pages sometimes in IE11

### Steps to reproduce the problem
-------------------------------------------------

[2016-09-30 11:31] swetaipec opened #393 "Project Features: not able to turn on Email And All other feature in IE 11"
### Expected behavior
Should be able to turn on Email & All other features

### Actual behavior
not able to Enable features

### Steps to reproduce the problem
1. Open Application
2. LOgin as Manager
3. Create new project
4. Go to Specifications
5. Go to Project features Section
6. Email Login features
7. Try to Enable Features

### Screenshot/screencast
Attach or link a resource.
![image](https:/

[2016-09-30 11:31] sdgun opened #394 "[Messages] "Close" button won't work when user click on it"
### Expected behavior
-----------------------------------------------------------------
Must close the 'NEW STATUS POST' OR Must remove 'Close' button if it is not required

### Actual behavior
-----------------------------------------------------------------
"Close" button won't work when user click on it

### Steps to reproduce the problem
--------------------------------------------------------

[2016-09-30 11:47] sdgun opened #395 "When user select the "Messages" from the list; posts related to that Message won't see"
### Expected behavior
-----------------------------------------------------------------
When user select the bottom messages from "Messages" section; Related posts are displayed on top
So "Messages" list must be a scroll-able section to view the posts

### Actual behavior
-----------------------------------------------------------------
When user select the "Messages" from the list; posts related

[2016-09-30 14:03] onetliviunicolae opened #396 "[Dashboard] - Request failed with status code 500(…) error message"
Expected behavior
------------------------------------------------------------

- Do not display this error message.

Actual behavior
------------------------------------------------------------

- The 500 error message is displayed in console.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as manager.

- Open Developer Tool i

[2016-09-30 18:13] onetliviunicolae opened #397 "Logged as copilot the create custom button is not available"
Expected behavior
------------------------------------------------------------

- The button must be available to be used.

Actual behavior
------------------------------------------------------------

- The button is not available to be used.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as copilot user role.

- Press New Pr

[2016-09-30 18:20] onetliviunicolae opened #398 "No validation for invalid link set in field"
Expected behavior

 - The validation must be displayed on invalid link set in Address field.

Actual behavior

  - No validation on invalid data set in field.

Steps to reproduce the problem

 - Login into application as copilot user role.

- Edit any project.

- Press on "+" button to add a link.

- Complete title and set an invalid text in Address field (eg. test).

- Add Link.

Environment

Ope

[2016-10-01 02:57] sdgun opened #399 "Numbering is detected as bullet points"
### Expected behavior
-----------------------------------------------------------------
[Messages] Must display them as numbers

### Actual behavior
-----------------------------------------------------------------
Numbering is detected as bullet points

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (p

[2016-10-01 03:01] sdgun opened #400 "[Messages] Underline is not displayed"
### Expected behavior
-----------------------------------------------------------------
[Messages] Must display the underline

### Actual behavior
-----------------------------------------------------------------
Underline is not displayed

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
-

[2016-10-01 03:06] sdgun opened #401 "[Messages] Non of the applied formatting displayed on the content text"
### Expected behavior
-----------------------------------------------------------------
[Messages] Must display the formatting in the content text

### Actual behavior
-----------------------------------------------------------------
Non of the applied formatting displayed on the content text

### Steps to reproduce the problem
-----------------------------------------------------------------

- O

[2016-10-01 03:13] sdgun opened #402 "[Messages] Different times displayed in Messages list and Message section"
### Expected behavior

---

[Messages] Must display the same time in both locations
### Actual behavior

---

Different times displayed in Messages list and Message section
### Steps to reproduce the problem

---
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/438)
- Now in the Message (Must have 5-10 Messag

[2016-10-01 03:16] sdgun opened #403 "'Status' drop down is not fully visible in IE11"
### Expected behavior
-----------------------------------------------------------------
'Status' Drop down must be fully visible in IE11

### Actual behavior
-----------------------------------------------------------------
'Status' drop down is not fully visible in IE11

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login

[2016-10-01 11:08] sdgun opened #404 "Count is 2, but only display one link"
### Expected behavior
-----------------------------------------------------------------
Must display 2 links or the count must 1

### Actual behavior
-----------------------------------------------------------------
Count is 2, but only display one link

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (c

[2016-10-01 14:53] sdgun opened #405 "White spaces are recognized as valid input for NOTES"
### Expected behavior

---

Must validate the White spaces for NOTES
### Actual behavior

---

White spaces are recognized as valid input for NOTES
### Steps to reproduce the problem

---
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project name
- Click Specification
- Add white spaces for all the NOTES
- Click Save Changes
- Check the checklist
### Screens

[2016-10-01 15:03] sdgun opened #406 "Won't display the 'Specification' icon in the menu sometimes"
### Expected behavior
-----------------------------------------------------------------
Must display the 'Specification' icon in the menu

### Actual behavior
-----------------------------------------------------------------
Won't display the 'Specification' icon in the menu sometimes

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the

[2016-10-01 15:08] sdgun opened #407 "Two Upload sections displayed"
### Expected behavior

---

Must display only one Upload section
### Actual behavior

---

Two Upload sections displayed
### Steps to reproduce the problem

---
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project name
- Click Specification
- Upload a File using the File uploader
- Click Save Changes
- Now refresh the page
- Once the page fully loaded
- Cli

[2016-10-01 15:12] onetliviunicolae opened #408 "Allow only max 4096 characters to be set in textarea"
Expected behavior

- Allow only texts with length smaller than 4096 characters.

Actual behavior

 - Any length of text can be set in field.

Steps to reproduce the problem

- Login as connect user role.

- New Project.

- Select Prototype an app.

- Select Desktop.

- Complete Project Name.

- Set in Description textarea a text with length more than 4096 characters.

Environment
- OS: Windows 7
-

[2016-10-01 15:17] onetliviunicolae opened #409 "New Project button is displayed as disable the back to section"
Expected behavior

- Display the button as enable.

Actual behavior

- The New Project button is displayed as disable.

Steps to reproduce the problem

- Login into application as connect user role.

- New Project.

- Close the window using "x" close button from the top right.

- Observe the New Project button.

Environment
- OS: Windows 7
- Browser (w/version): IE 11.0
- User role (client, copilo

[2016-10-01 15:22] sdgun opened #410 "Line spacing of the same word in Custom Features is too big"
### Expected behavior
-----------------------------------------------------------------
Must reduce the line spacing of the same word in Custom Features

### Actual behavior
-----------------------------------------------------------------
Line spacing of the same word in Custom Features is too big

### Steps to reproduce the problem
----------------------------------------------------------------

[2016-10-01 15:24] onetliviunicolae opened #411 "Search field contain + sign for spaces when redirect"
Expected behavior

- The "+" sign must not be available in search field.

Actual behavior

- The "+" sign button is displayed in field.

Steps to reproduce the problem

- Login into application as connect user role.

- Complete search field with text "Hello nyet".

- Press enter to perform search.

- New Project.

- Complete required fields and save.

- Observe the search text set in field.

Envir

[2016-10-01 15:25] sdgun opened #412 "No max word limit for 'FEATURE NAME'"
### Expected behavior
-----------------------------------------------------------------
Need to have a max word limit for 'FEATURE NAME'

### Actual behavior
-----------------------------------------------------------------
No max word limit for 'FEATURE NAME'

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid

[2016-10-01 15:33] sdgun opened #413 ""Work project" must be --> "Work Project". 'p' must be capitalized to be consistent with the other labels"
### Expected behavior
-----------------------------------------------------------------
"Work project" must be --> "Work Project". 'p' must be capitalized to be consistent with the other labels

### Actual behavior
-----------------------------------------------------------------
"Work project"

### Steps to reproduce the problem
-----------------------------------------------------------------

-

[2016-10-01 15:40] sdgun opened #414 "No RESET button to reset the filter and Search data"
### Expected behavior
-----------------------------------------------------------------
Need to have a RESET button to reset the filter and Search data

### Actual behavior
-----------------------------------------------------------------
No RESET button to reset the filter and Search data

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open

[2016-10-01 15:58] sdgun opened #415 "Clicking on empty locations will load the project details page"
### Expected behavior
-----------------------------------------------------------------
Must load only; when user click on the project name

### Actual behavior
-----------------------------------------------------------------
Clicking on empty locations will load the project details page

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open

[2016-10-01 16:07] sdgun opened #416 "When user change the pagination; page won't focus on the first row of the table"
### Expected behavior
-----------------------------------------------------------------
When user change the pagination; page must focus on the first row of the table

### Actual behavior
-----------------------------------------------------------------
When user change the pagination; page won't focus on the first row of the table

### Steps to reproduce the problem
------------------------------

[2016-10-01 16:15] sdgun opened #417 "After Leaving the project; Still displayed in the table"
### Expected behavior
-----------------------------------------------------------------
Must remove from the table after he/she leaves from the project

### Actual behavior
-----------------------------------------------------------------
After Leaving the project; Still displayed in the table

### Steps to reproduce the problem
-----------------------------------------------------------------

-

[2016-10-01 16:21] onetliviunicolae opened #418 "Projects - ReactReconciler.js:64 Uncaught TypeError: Cannot read property 'getHostNode' of null"
Expected behavior

- Do not dislay this error message in console.

Actual behavior

- The error message is displayed in Developer Tool Console.

Steps to reproduce the problem

- Login into application as copilot role.

- Search the project name Proj 12(https://connectv2.topcoder-dev.com/projects/115).

- Edit the project.

- Go to App Definition.

- Select Projects text from the top left corner o

[2016-10-01 16:38] sdgun opened #419 "Sometimes 'Project Updated' message is display two instance"
### Expected behavior
-----------------------------------------------------------------
'Project Updated' message must display only one instance

### Actual behavior
-----------------------------------------------------------------
Sometimes 'Project Updated' message is display two instance

### Steps to reproduce the problem
-----------------------------------------------------------------

- Ope

[2016-10-01 16:40] onetliviunicolae opened #420 "[Project Files] - the delete button is available after the submit is performed"
Expected behavior

- The delete button must not be enable after a project is submitted.

Actual behavior

- The delete icon button must not be available.

Steps to reproduce the problem

- Login into application as copilot role.

- Add New Project(Prototype an app / Desktop).

- Set required data and Create Project.

- Edit previous project created.

- Go to Specification.

- Set Skip for all data

[2016-10-01 16:48] onetliviunicolae opened #421 "The colors feature is not displayed"
Expected behavior

-  The delete button must not be enable after a project is submitted.

Actual behavior

- The delete icon button must not be available.

Steps to reproduce the problem

- Login into application as copilot role.

- New Project.

- Select "Full develop an app".

- Set Pick target device(s) = Android Watch.

- Complete Project name and Description.

- Create Project.

- Select Spec

[2016-10-01 16:53] sdgun opened #422 "Some HTML tags accepted in Comments fields"
### Expected behavior
-----------------------------------------------------------------
Must restrict the HTML tags in Comments fields

### Actual behavior
-----------------------------------------------------------------
Some HTML tags accepted in Comments fields

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a va

[2016-10-01 16:57] onetliviunicolae opened #423 "[IE11 / App Definition] - features are not correct displayed in page"
Expected behavior

- The feature pages must be correct displayed.

Actual behavior

- The feature pages are not correct displayed.

Steps to reproduce the problem

- Login into application as copilot role.

- Edit an existing project as nnn.

- Select Specification.

- From Feature requirements press Add / Edit Features.

- Select Social Login / Invitation / Introduction.

- Observe as the page is

[2016-10-01 17:04] sdgun opened #424 "ON/OFF button overlap with the long 'Feature name' text"
### Expected behavior
-----------------------------------------------------------------
Must not overlap

### Actual behavior
-----------------------------------------------------------------
ON/OFF button overlap with the long 'Feature name' text

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_mon

[2016-10-01 17:07] sdgun opened #425 "Can create duplicate 'Custom Features' with the same name"
### Expected behavior
-----------------------------------------------------------------
Must validate the same 'Custom Feature Names'

### Actual behavior
-----------------------------------------------------------------
Can create duplicate 'Custom Features' with the same name

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
-

[2016-10-01 17:12] sdgun opened #426 "Layout issue in the Delete confirmation popup; when we have long 'Feature name'"
### Expected behavior
-----------------------------------------------------------------
Must display the 'Feature Name' in two lines; OR Must set max limit for the 'Feature name'

### Actual behavior
-----------------------------------------------------------------
Layout issue in the Delete confirmation popup; when we have long 'Feature name'

### Steps to reproduce the problem
------------------

[2016-10-01 17:18] onetliviunicolae opened #427 "Warning message: performUpdateIfNecessary: Unexpected batch number"
Expected behavior

 - Tags must be set ON as feature of application.

Actual behavior

 - Tags can not be set ON.

Steps to reproduce the problem

    Login into application as copilot role.

    Edit the project phone - https://connectv2.topcoder-dev.com/projects/414/specification.

    Open Developer Tool.

   Select Specification section.

   Add / Edit Features.

   Select Tags and try to set

[2016-10-01 17:20] sdgun commented on #338
In IE11 page can't scroll down to see the rest of the description

[2016-10-01 17:21] sdgun commented on #338
In Chrome; The description text is span to the right of the screen.

![2016-10-01_22-51-10](https://cloud.githubusercontent.com/assets/4592712/19015825/94f2bf56-8829-11e6-93fa-89fae0bd6bd0.png)

[2016-10-01 17:40] onetliviunicolae opened #428 "[Add/Edit Feature] - the same name of projects can be saved"
Expected behavior

- The name of added feature must be unique.

Actual behavior

- The same name of feature must not be able to be saved.

Steps to reproduce the problem

    Login into application as manager role.

    Edit any existing project.

    Press Add / Edit Feature.

   Create custom feature.

   Set the name test.

   Set On.

    Press again create custom feature.

   Set the name tes

[2016-10-01 17:41] sdgun opened #429 "Loading animation is not playing in IE11; Only BLUE circle displayed"
### Expected behavior
-----------------------------------------------------------------
Must play the loading animation; It only display a BLUE circle

### Actual behavior
-----------------------------------------------------------------
Loading animation is not playing in IE11; Only BLUE circle displayed

### Steps to reproduce the problem
---------------------------------------------------------

[2016-10-01 17:46] onetliviunicolae opened #430 "The previous name and description are set in fields"
Expected behavior

   - Do not display the name and description in fields.

Actual behavior

   - The name and description fields are completed.

Steps to reproduce the problem

    Login into application as manager role.

    Edit any existing project.

    Add / Edit Feature.

    Press Create Custom Feature button.

    Complete name and description.

    Set On.

    Press again Create Custom

[2016-10-01 17:46] sdgun opened #431 "When user EDIT a 'Custom Features'; Other feature is removed"
### Expected behavior
-----------------------------------------------------------------
Must not remove the other feature from the list

### Actual behavior
-----------------------------------------------------------------
When user EDIT a 'Custom Features'; Other feature is removed

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the si

[2016-10-01 17:52] sdgun opened #432 "Can't close the 'Define a new feature' popup from CANCEL button"
### Expected behavior
-----------------------------------------------------------------
Must able to close the 'Define a new feature' popup

### Actual behavior
-----------------------------------------------------------------
Can't close the 'Define a new feature' popup from CANCEL button

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open

[2016-10-01 18:01] sdgun opened #433 "Page goes to the 'Specification' page when we add 'New Feature' in certain scenario"
### Expected behavior
-----------------------------------------------------------------
Must in the 'Project Features' window

### Actual behavior
-----------------------------------------------------------------
Page goes to the 'Specification' page when we add 'New Feature' in certain scenario

### Steps to reproduce the problem
-----------------------------------------------------------------

[2016-10-01 18:08] onetliviunicolae opened #434 "[Search / Status] - allow to be selected multiple options"
Expected behavior

   Multiple statuses must be able to be selected because users want usually to search different multiple statuses.

Actual behavior

[code]

Steps to reproduce the problem

[code]

Environment

[code]

![statuses](https://cloud.githubusercontent.com/assets/5114907/19016151/2af52c3c-881b-11e6-9d7f-44864137d634.png)

[2016-10-01 18:12] sdgun opened #435 "Previously entered text for 'Questions and Specifications' is display"
### Expected behavior
-----------------------------------------------------------------
Previously entered text for 'Questions and Specifications' must not display when we save the settings with the 'Skip...." and then uncheck it

### Actual behavior
-----------------------------------------------------------------
Previously entered text for 'Questions and Specifications' is display

### Steps to

[2016-10-01 18:19] sdgun opened #436 "Uploading a File is required; But can save changes the project without it"
### Expected behavior
-----------------------------------------------------------------
Must validation the file upload

### Actual behavior
-----------------------------------------------------------------
Uploading a File is required; But can save changes the project without it

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites

[2016-10-01 18:23] onetliviunicolae opened #437 "Keep selected section when back"
Expected behavior

Keep selected section when back tab.

Actual behavior

The selected section is not kept.

Steps to reproduce the problem

    Login into application as manager role.

   New Project.

   Select Prototype an app section.

   Select the tab section with name Other Work.

   Select the previous tab App Design & Dev back.

Environment

    OS: Windows 7
    Browser (w/version): IE 1

[2016-10-04 10:45] vikasrohit commented on #122
@fnisen @vic-appirio  I am almost done with the changes to facilitate the required behaviour. Do we need the same changes in Discussions tab?

[2016-10-04 11:16] mahestro commented on #285
Valid.

[2016-10-04 11:19] mahestro commented on #286
Known issue #172

[2016-10-04 11:20] mahestro commented on #287
Valid.

[2016-10-04 11:20] mahestro commented on #288
Valid.

[2016-10-04 11:21] mahestro commented on #289
Known issue.

[2016-10-04 11:22] mahestro commented on #290
Not expected. Not valid.

[2016-10-04 11:28] mahestro commented on #291
Duplicate of #184.

"project name accepts spaces though it is mandantory field"

[2016-10-04 11:29] mahestro commented on #292
Duplicate of #184.

[2016-10-04 11:30] mahestro commented on #293
Duplicate of #205.

[2016-10-04 11:31] mahestro commented on #294
Valid. Should use same style and behavior as the other UI input components above.

[2016-10-04 11:32] mahestro commented on #295
Valid.

[2016-10-04 11:33] mahestro commented on #296
Valid.

[2016-10-04 11:35] mahestro commented on #297
Valid.

[2016-10-04 11:36] mahestro commented on #298
Valid. There is a 1s delay while hiding default components.

[2016-10-04 11:38] mahestro commented on #299
Duplicate of #188. You registered the previous one.

[2016-10-04 11:48] mahestro commented on #181
This is the first time it was reported. Valid granted to this user.

[2016-10-04 11:49] mahestro commented on #302
Duplicate of #181.

[2016-10-04 12:02] mahestro commented on #303
Valid.

[2016-10-04 12:02] mahestro commented on #314
Duplicate of #303.

[2016-10-04 12:04] mahestro commented on #304
iPad testing out of scope. Not valid.

[2016-10-04 12:06] mahestro commented on #305
Not valid.

[2016-10-04 12:08] mahestro commented on #306
True, IE. Valid.

[2016-10-04 12:09] mahestro commented on #308
Duplicate of #184.

[2016-10-04 12:10] mahestro commented on #309
Valid.

[2016-10-04 12:12] mahestro commented on #310
Validation issue duplicate of #219.

[2016-10-04 12:13] mahestro commented on #186
This is the first report. Granted as valid.

[2016-10-04 12:19] mahestro commented on #312
Used the attached files and can't reproduce.

http://take.ms/nesIK

[2016-10-04 12:30] mahestro commented on #313
Duplicate of #220

[2016-10-04 12:31] mahestro commented on #315
Duplicate of #182

[2016-10-04 12:31] mahestro commented on #317
Valid.

[2016-10-04 12:32] mahestro commented on #319
Known issue #135

[2016-10-04 12:33] mahestro commented on #320
Not valid. Expected behavior.

[2016-10-04 12:36] mahestro commented on #321
It shouldn't be selected. Not valid.

[2016-10-04 12:37] mahestro commented on #322
Valid.

[2016-10-04 12:39] mahestro commented on #323
On hold. UX improvement needs confirmation.

@fnisen ?

[2016-10-04 12:39] mahestro commented on #324
Not valid. iPad

[2016-10-04 12:40] mahestro commented on #325
Not valid. iPad

[2016-10-04 12:40] mahestro commented on #326
Not valid. iPad

[2016-10-04 12:41] mahestro commented on #327
Valid. It breaks projects listing page as consequence.

[2016-10-04 12:42] mahestro commented on #328
It's expected to work like that. Not valid.

[2016-10-04 12:43] mahestro commented on #329
Duplicate of #200.

[2016-10-04 12:45] mahestro commented on #330
Duplicate of #200

[2016-10-04 12:45] mahestro commented on #331
Not valid. iPad

[2016-10-04 12:46] mahestro commented on #332
Valid.

[2016-10-04 12:46] mahestro commented on #333
Not valid. iPad

[2016-10-04 12:47] mahestro commented on #334
Duplicate of #244

[2016-10-04 12:48] mahestro commented on #335
Not valid. iPad

[2016-10-04 12:48] mahestro commented on #338
Valid.

[2016-10-04 12:49] mahestro commented on #339
Valid.

[2016-10-04 12:49] mahestro commented on #340
Valid.

[2016-10-04 12:52] mahestro commented on #341
Valid.

[2016-10-04 12:52] mahestro commented on #342
Valid.

[2016-10-04 12:53] mahestro commented on #343
Valid.

[2016-10-04 12:55] mahestro commented on #344
Valid.

[2016-10-04 12:58] mahestro commented on #345
True, valid.

[2016-10-04 12:59] mahestro commented on #346
UX improvement, need approval.

@fnisen ?

[2016-10-04 12:59] mahestro commented on #347
This is intentional. Not valid.

[2016-10-04 13:00] mahestro commented on #348
Duplicate, known.

[2016-10-04 13:01] mahestro commented on #349
Known issue #109

[2016-10-04 13:03] mahestro commented on #350
Valid.

[2016-10-04 13:04] mahestro commented on #351
Valid. Related to #350

[2016-10-04 13:04] mahestro commented on #352
Valid.

[2016-10-04 13:06] mahestro commented on #353
Valid. Should fade as team management does.

[2016-10-04 13:10] mahestro commented on #354
Valid.

[2016-10-04 13:12] mahestro commented on #355
True - https://connectv2.topcoder-dev.com/projects/363

Valid.

[2016-10-04 13:23] mahestro commented on #357
Valid.

[2016-10-04 13:24] mahestro commented on #358
Valid. Strange error.

[2016-10-04 13:25] mahestro commented on #359
Valid.

[2016-10-04 13:26] mahestro commented on #356
By the moment of loading the page there are two known errors and several warnings. After replicating the steps, there are no more console errors.

Can't replicate - http://take.ms/Zja8a

[2016-10-04 13:28] mahestro commented on #360
Valid (win).

[2016-10-04 13:29] mahestro commented on #361
Known.

[2016-10-04 13:30] mahestro commented on #362
Valid.

[2016-10-04 15:28] mahestro commented on #363
Valid.

[2016-10-04 15:32] mahestro commented on #364
Valid for bugs count, but won't be fixed. It's related to #210

[2016-10-04 15:39] mahestro commented on #365
Valid.

[2016-10-04 15:39] mahestro commented on #366
Valid, IE.

[2016-10-04 15:41] mahestro commented on #367
True, valid. After loading the file it marks it as "Skip question" (checkbox on).

[2016-10-04 15:51] mahestro commented on #368
Duplicate of #323

[2016-10-04 15:52] mahestro commented on #369
Valid. UX improvement: created date vs last update date.

[2016-10-04 15:53] mahestro commented on #370
It's intentional. Sorry, not valid.

[2016-10-04 15:54] mahestro commented on #371
Valid. Can be improved.

[2016-10-04 15:54] mahestro commented on #372
Not valid. It's intentional.

[2016-10-04 15:55] mahestro commented on #373
Valid.

[2016-10-04 16:10] fnisen commented on #213
You can only submit for review once, but you can update specs after submitting for review. For example, what if you found another document you wanted to attach/upload--you should be able to do that (and can then message your copilot or manager, asking them to check the updated specs).

[2016-10-04 16:12] mahestro commented on #213
Thanks for the behavior confirmation.

Not valid for the bug count.

[2016-10-04 16:15] mahestro commented on #374
This is a desired behavior. Project roles are meant to work like that.

Not valid.

[2016-10-04 16:16] fnisen commented on #226
Yes, valid bug. In fact, messages without a title are failing for me when I try to post, with no feedback.

[2016-10-04 16:18] mahestro commented on #375
Valid. Styling improvement needed.

[2016-10-04 16:24] fnisen commented on #273
Yes, agree, not valid. It's subjective whether this functionality is leading to user confusion. In fact, users may expect the filter to be active consistently, so that they can change it in anticipation of results from an ensuing search/filter request.

[2016-10-04 16:26] fnisen commented on #323
Agree, not a bug, but a UX suggestion. Similar to https://github.com/appirio-tech/connect-app/issues/273. Don't think it's likely that a user will try to sort when there are no results and get confused.

[2016-10-04 16:38] mahestro commented on #376
Makes sense. On hold for confirmation.

[2016-10-04 16:39] mahestro commented on #377
Duplicate of #272

[2016-10-04 16:41] mahestro commented on #379
Valid.

[2016-10-04 16:42] mahestro commented on #380
Not valid. Wrong environment.

[2016-10-04 16:43] mahestro commented on #381
Not valid. Environment.

[2016-10-04 16:45] mahestro commented on #382
Valid.

[2016-10-04 16:46] mahestro commented on #383
Duplicate #181

[2016-10-04 16:55] mahestro commented on #384
Valid.

[2016-10-04 16:56] mahestro commented on #385
Duplicate of #182

[2016-10-04 17:13] mahestro commented on #386
True, good observation. Valid.

[2016-10-04 17:13] mahestro commented on #387
Valid.

[2016-10-04 17:16] mahestro commented on #388
Known from third-party integrated overlay.

[2016-10-04 17:21] mahestro commented on #389
Valid.

[2016-10-04 17:21] mahestro commented on #390
It's a fixed image, it's expected to behave like that. Not a bug.

[2016-10-04 17:22] mahestro commented on #391
Known issue, part of the same bug #148

[2016-10-04 17:23] mahestro commented on #392
True, valid.

[2016-10-04 17:32] mahestro commented on #393
Can't reproduce - http://take.ms/oZ3kz

[2016-10-04 17:50] fnisen commented on #142
@vikasrohit as discussed during our meeting, confirming that the feature is working is expected (in local). Thanks.

[2016-10-04 17:52] mahestro commented on #394
Valid.

[2016-10-04 17:53] fnisen commented on #125
@vikasrohit confirming that we agreed on the implementation during our call. Per our Slack chat, will leave it up to you to decide whether you need API changes.

[2016-10-04 17:54] mahestro commented on #395
Valid.

[2016-10-04 17:55] mahestro commented on #396
Known.

[2016-10-04 18:05] mahestro commented on #376
Not valid. It's the expected behavior.

[2016-10-04 18:07] mahestro commented on #397
Duplicate of #366.

[2016-10-04 18:08] mahestro commented on #398
Duplicate of #219

[2016-10-04 18:09] mahestro commented on #399
Valid.

[2016-10-04 18:10] mahestro commented on #400
Valid.

[2016-10-04 18:10] mahestro commented on #401
Valid.

[2016-10-04 18:11] mahestro commented on #402
Valid.

[2016-10-04 18:31] mahestro commented on #403
If it's icon related, it's duplicate of #282

If it's dropdown functionality (expanding), it does it on my end under the same environment and users http://take.ms/fJQaO

[2016-10-04 18:40] mahestro commented on #404
Valid.

[2016-10-04 18:49] mahestro commented on #405
Valid.

[2016-10-04 18:50] mahestro commented on #406
Valid.

[2016-10-04 18:53] mahestro commented on #407
Noted that. Valid.

[2016-10-04 18:54] mahestro commented on #408
Limit needed. Valid.

[2016-10-04 18:58] mahestro commented on #409
Duplicate of #240

[2016-10-04 19:00] mahestro commented on #410
Valid.

[2016-10-04 19:02] mahestro commented on #411
Valid.

[2016-10-04 19:03] mahestro commented on #412
Duplicate of #296

[2016-10-04 19:06] mahestro commented on #413
Valid.

[2016-10-04 19:07] mahestro commented on #414
It's expected. Not a bug.

[2016-10-04 19:08] mahestro commented on #415
Valid.

[2016-10-04 19:08] mahestro commented on #416
Known-related #148

[2016-10-04 19:12] mahestro commented on #243
Valid. Could be reproduced by chance.

[2016-10-04 19:12] mahestro commented on #417
Duplicate of #243

[2016-10-04 19:12] mahestro commented on #418
Known.

[2016-10-04 19:15] parthshah opened #438 "Provide a way to edit Project Name & Description"
While project name is visible on connect UI, description provided when project is first created is not displayed on Project Details view. Neither of these fields are editable from Connect UI.

[2016-10-04 19:16] mahestro commented on #419
Valid.

[2016-10-04 19:16] mahestro commented on #420
It's expected. Not a bug.

[2016-10-04 19:17] mahestro commented on #421
Duplicate of #262

[2016-10-04 19:18] mahestro commented on #422
Valid.

[2016-10-04 19:19] mahestro commented on #423
Duplicate of #200

[2016-10-04 19:20] mahestro commented on #424
Valid.

[2016-10-04 19:25] mahestro commented on #425
Duplicate of #261

[2016-10-04 19:25] mahestro commented on #426
Valid.

[2016-10-04 19:27] mahestro commented on #427
Known console behavior.

[2016-10-04 19:27] mahestro commented on #428
Duplicate of #261

[2016-10-04 19:28] mahestro commented on #429
Valid.

[2016-10-04 19:29] mahestro commented on #430
Duplicate of #205

[2016-10-04 19:31] mahestro commented on #431
Duplicate of #265

[2016-10-04 19:48] mahestro commented on #432
Valid (click checkbox - can't cancel).

[2016-10-04 19:50] mahestro commented on #433
Valid.

[2016-10-04 19:50] mahestro commented on #434
Not a bug.

[2016-10-04 19:51] mahestro commented on #435
Valid.

[2016-10-04 19:51] mahestro commented on #436
Valid.

[2016-10-04 19:52] mahestro commented on #437
Not a bug. It's expected.

[2016-10-04 20:20] parthshah commented on #436
This is working as expected.

[2016-10-04 20:21] parthshah commented on #435
Working as expected.

[2016-10-04 20:43] fnisen commented on #296
@vic-appirio can you please comment how many characters to impose?

[2016-10-04 20:45] parthshah commented on #408
No limits enforced.

[2016-10-04 21:11] parthshah commented on #369
Change copy Status update -> Last updated

[2016-10-04 21:13] parthshah commented on #323
Hide header.

[2016-10-04 21:17] parthshah commented on #362
Change Android wear -> android watch

[2016-10-04 21:22] vic-appirio commented on #283
Investigate if this is layout issue

[2016-10-04 21:23] vic-appirio commented on #280
disable user select in browsers through CSS

[2016-10-04 21:24] vic-appirio commented on #272
SVG loading issues - investigate

[2016-10-04 21:25] vic-appirio commented on #262
Investigate if it is layout issue

[2016-10-04 21:26] vic-appirio commented on #254
Small layout fixes

[2016-10-04 21:27] vic-appirio commented on #253
This could be a JS-related. Assigning to @vikasrohit

[2016-10-04 21:31] vic-appirio commented on #222
Layout issue

[2016-10-04 21:33] vic-appirio commented on #415
Not valid: by design the whole area should load the project, not only the title.

[2016-10-04 21:37] vic-appirio commented on #297
Either a CSS or JS issue. Investigate

[2016-10-04 21:37] parthshah commented on #344
This is a valid use scenario. Anyone can create a project.

[2016-10-04 21:37] vic-appirio commented on #258
disable horizontal resize of text-area.

[2016-10-04 21:38] vic-appirio commented on #193
Similar to the rest of the drop-down issues.

[2016-10-04 21:38] fnisen commented on #344
Copilot will just be the owner in this case. They won't be able to serve as the copilot.

[2016-10-04 21:46] parthshah commented on #332
Truncate the link using (...) while displaying the link & title.

[2016-10-04 21:47] parthshah commented on #327
Restrict length to 25.

[2016-10-04 21:49] fnisen commented on #322
@mahestro not a bug. As designed. All labels are ALL CAPS.

[2016-10-04 21:57] mahestro commented on #322
In "App Design & Dev" tab, those labels are not all caps. There is  inconsistency there.

[2016-10-04 21:59] parthshah commented on #296
Use elipsis (...) to truncate the title while displaying the title.

[2016-10-04 22:00] parthshah opened #439 "Add Project notifications"

[2016-10-04 22:03] parthshah commented on #287
This is working as per design. Clicking on Connect Logo does not imply resetting search filters.

[2016-10-04 22:10] fnisen commented on #279
Will provide addresses.

[2016-10-04 22:13] vic-appirio commented on #309
investigate .svg loading under Windows

[2016-10-04 22:13] mahestro commented on #287
From a UX stand-point, clicking on the product logo generates a "refreshing" expectation in the user. It would be nice to load the "home" page everytime the logo is clicked. As if you are in project dashboard, click on the logo, it takes you to "home" (project listing).

Sometimes when clicking the logo (being in dashboard) doesn't take you the listing btw. I've experienced it.

[2016-10-04 22:15] vic-appirio commented on #301
Completed, commit pending.

[2016-10-04 22:15] #301 closed

[2016-10-04 22:17] fnisen commented on #269
Will allow this.

[2016-10-04 22:20] fnisen commented on #265
Addressing as part of https://github.com/appirio-tech/connect-app/issues/125

[2016-10-04 22:21] vic-appirio commented on #222
Duplicate of #193

[2016-10-04 22:22] fnisen commented on #263
Let's get rid of the placeholder text to avoid confusion.

[2016-10-04 22:23] vic-appirio commented on #193
Investigate if it is a layout issue; if it's JS related reassign to @vikasrohit

[2016-10-04 22:25] fnisen commented on #255
Yes, let's fix this.

[2016-10-04 22:34] fnisen commented on #230
This is happening b/c of the Dev environment, in which names are masked.

[2016-10-04 22:39] fnisen commented on #221
Likely a bug in the Dev environment

[2016-10-04 22:43] fnisen commented on #217
@mahestro we can allow this one.

[2016-10-04 22:46] fnisen commented on #208
@vikasrohit I think this was already fixed locally.

[2016-10-04 23:04] fnisen commented on #174
Spelling is correct: http://www.merriam-webster.com/dictionary/lose

[2016-10-05 00:28] fnisen commented on #413
Valid to file this as a bug, but I like keeping sentence case for the labels in the listing.

[2016-10-05 00:35] fnisen commented on #394
Should already be fixed in local.

[2016-10-05 00:42] parthshah commented on #371
Vikas - assigning this to you since this is related to Search bar that you worked on.

[2016-10-05 00:44] fnisen commented on #400
Related to https://github.com/appirio-tech/connect-app/issues/401

[2016-10-05 00:44] fnisen commented on #399
Related to https://github.com/appirio-tech/connect-app/issues/401

[2016-10-05 00:49] fnisen commented on #346
@mahestro let's allow b/c most of the actions in that panel have confirmations.

[2016-10-05 00:51] fnisen commented on #432
@mahestro this is a duplicate of https://github.com/appirio-tech/connect-app/issues/432.

[2016-10-05 00:54] fnisen commented on #341
@vikasrohit I think you're fixing this as part of https://github.com/appirio-tech/connect-app/issues/125

[2016-10-05 00:55] fnisen commented on #341
@mahestro this is similar to https://github.com/appirio-tech/connect-app/issues/343

[2016-10-05 00:57] fnisen commented on #317
@vic-appirio over to you for design

[2016-10-05 01:27] fnisen commented on #279
- About: https://www.topcoder.com/about-topcoder/
- Contact: https://www.topcoder.com/about-topcoder/contact/
- Help: https://help.topcoder.com/hc/en-us
- Privacy: https://www.topcoder.com/community/how-it-works/privacy-policy/
- Terms: https://connect.topcoder.com/terms

[2016-10-05 01:46] #149 closed

[2016-10-05 01:46] #323 closed

[2016-10-05 01:46] #327 closed

[2016-10-05 01:46] #352 closed

[2016-10-05 01:46] #362 closed

[2016-10-05 01:46] #373 closed

[2016-10-05 01:46] #411 closed

[2016-10-05 01:53] parthshah commented on #306
Downgrading this since this is IE specific. Vikas I am re-assigning this to me.

[2016-10-05 02:06] parthshah commented on #285
Vikas re-assigning this to you since you worked on SearchBar

[2016-10-05 02:08] #177 closed

[2016-10-05 02:08] #182 closed

[2016-10-05 02:08] #184 closed

[2016-10-05 02:08] #243 closed

[2016-10-05 02:21] parthshah commented on #217
Fixed

[2016-10-05 02:21] #217 closed

[2016-10-05 02:24] parthshah commented on #103
@fnisen christina_uw was *not* set as an owner of either of these projects. I've updated the records. Please verify now.

[2016-10-05 02:28] parthshah commented on #143
fixed.

[2016-10-05 02:28] #143 closed

[2016-10-05 02:30] parthshah commented on #190
@fnisen price is not a sortable field right now. The underlying field varies based on project status - projected vs actual. I am going to disable the sort on this field.

[2016-10-05 02:49] parthshah commented on #369
fixed

[2016-10-05 02:49] #369 closed

[2016-10-05 06:06] vikasrohit commented on #307
Changes are in dev.

[2016-10-05 06:06] #307 closed

[2016-10-05 06:06] vikasrohit commented on #164
Changes are in dev.

[2016-10-05 06:06] #164 closed

[2016-10-05 06:07] vikasrohit commented on #165
Changes are in dev.

[2016-10-05 06:07] #165 closed

[2016-10-05 06:15] vikasrohit commented on #142
Changes are now in dev. I have cross checked the same.

[2016-10-05 06:15] #142 closed

[2016-10-05 06:16] vikasrohit commented on #102
@fnisen @parthshah Can we close this one? IMO, we need changes in API for supporting that new criteria and we can handle that later.

[2016-10-05 06:26] vikasrohit commented on #170
Changes are now in dev and I have tested both issues:

1. No comments yet, message when there is a comment (project id 303)
2. Comments count is greater than the actual comments (project id 303)

[2016-10-05 06:26] #170 closed

[2016-10-05 06:32] vikasrohit commented on #143
@parthshah I am still seeing empty right section, with customer login (christina_uw) for project id 285

[2016-10-05 06:45] vikasrohit commented on #306
@parthshah seems like you forgot to assign the issue. :)

[2016-10-05 06:52] vikasrohit commented on #173
Changes are now in dev.

[2016-10-05 06:52] #173 closed

[2016-10-05 06:53] vikasrohit commented on #204
@mahestro this one is related to #173 IMO, this should be fixed with that. Can you please do me a favour by testing in Windows environment?

[2016-10-05 06:54] vikasrohit commented on #208
Yes, it is fixed with #142

[2016-10-05 06:54] #208 closed

[2016-10-05 07:03] vikasrohit commented on #314
@vic-appirio we should remove the extra caret icon, right?

[2016-10-05 07:07] vikasrohit commented on #298
Parth has fixed this with loading indicator fix for #149

[2016-10-05 07:07] #298 closed

[2016-10-05 07:35] vikasrohit commented on #227
Seems duplicate of #204

[2016-10-05 07:41] vikasrohit commented on #122
Changes are working in dev.

[2016-10-05 07:41] #122 closed

[2016-10-05 07:42] vikasrohit commented on #394
Fixed with #142

[2016-10-05 07:42] #394 closed

[2016-10-05 07:54] vikasrohit commented on #223
Working fine for me. Is it reproducible with new project only?

[2016-10-05 09:13] vikasrohit commented on #226
@fnisen @vic-appirio How should we show the feedback (error) when either title or the content is empty?

[2016-10-05 14:29] parthshah commented on #102
We don't support "new" project aka read flag. There is considerable work required on the API to support such a feature. We should tackle this as a future enhancement if required.

[2016-10-05 14:31] parthshah opened #441 "Support "New/Updated" project flag for project listings."
Project listings should have an indicator showing the project has recent changes that the user has not yet seen.
Ref: #102

[2016-10-05 14:31] #102 closed

[2016-10-05 21:36] fnisen opened #443 "Project Listings: expand search functionality"
Expand search to include description and ref code through Elasticsearch

[2016-10-05 21:47] fnisen opened #444 "Project creation:"
### Expected behavior
Describe.

### Actual behavior
Describe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account used:

[2016-10-05 21:48] fnisen opened #445 "Project creation: "+ New Project" button is broken"
Clicking the button leads to an infinite loop (as shown in the console). New project modal never appears.

fyi @vic-appirio

[2016-10-05 22:19] fnisen opened #446 "Dashboard/Status updates: initial post being "double-posted""
![screen shot 2016-10-05 at 3 15 16 pm](https://cloud.githubusercontent.com/assets/12552247/19133749/b77dfc88-8b0e-11e6-821e-3014137bd91b.png)

User: pat_monahan; Project: 311

- Initial post is "double-posted" as both original comment and follow-up

[2016-10-06 09:48] vikasrohit commented on #125
Changes are in dev. Most of the things are working.

@parthshah for now I haven't used debounced method for change event of the formsy form. Rather I have directly associated the change handler to the on change event of the text area.

[2016-10-06 09:49] vikasrohit commented on #211
Fixed with #125

[2016-10-06 09:49] #211 closed

[2016-10-06 09:49] vikasrohit commented on #205
Fixed with #125

[2016-10-06 09:58] vikasrohit commented on #265
Fixed with #125 Added disable feature for custom features as well.

[2016-10-06 09:58] #265 closed

[2016-10-06 09:59] vikasrohit commented on #341
Last step in steps to reproduce is not needed because custom feature is not deleted because of cancel button. It got deleted as soon as feature is disabled. It is fixed with #265

[2016-10-06 09:59] #341 closed

[2016-10-06 10:05] vikasrohit commented on #343
Fixed with #125

[2016-10-06 10:05] #343 closed

[2016-10-06 10:12] vikasrohit commented on #432
Should be fixed with #125

[2016-10-06 10:12] #432 closed

[2016-10-06 10:13] vikasrohit commented on #363
Not able to reproduce after changes for #125

[2016-10-06 10:13] #363 closed

[2016-10-06 10:53] vikasrohit commented on #198
Fixed with #125

[2016-10-06 10:53] #198 closed

[2016-10-06 10:54] #205 closed

[2016-10-06 11:12] vikasrohit commented on #203
Same issue as reported in #215

[2016-10-06 21:18] fnisen opened #448 "Dashboard/Feature picker: Deselecting feature moves user out of feature view"
Something changed with the feature selector pill. Previously it would turn the feature on and off, keeping the user on the feature screen, but hiding or opening the notes. Now the user is completely taken off the feature, which is incorrect: http://screencast.com/t/iZkYRmW3nW.

This is the behavior we want to maintain: http://screencast.com/t/C8czC2sv

[2016-10-07 05:47] vikasrohit commented on #285
@vic-appirio I guess, that is what there in dev right now.

[2016-10-07 06:13] vikasrohit commented on #224
@parthshah as discussed Removed debounced method and directly put the change handler on the formsy's onChange event. However, I didn't see any benefit of keeping the change handler to formsy form in contrast to keeping it on text area. In both cases, EditProjectForm is re-rendered on every key press of in the text area.

[2016-10-07 06:51] vikasrohit commented on #204
@fnisen, @parthshah is working on messaging issues.

[2016-10-07 06:53] vikasrohit commented on #224
Fixed. Changes are in dev now.

[2016-10-07 06:53] #224 closed

[2016-10-07 06:53] vikasrohit commented on #295
Fixed. Changes are in dev now.

[2016-10-07 06:53] #295 closed

[2016-10-07 06:53] vikasrohit commented on #448
Fixed. Changes are in dev.

[2016-10-07 06:53] #448 closed

[2016-10-07 06:54] vikasrohit commented on #125
Closing the issue as new design/flow is implemented and working fine. Any issue with that flow should be reported separately.

[2016-10-07 06:54] #125 closed

[2016-10-07 07:00] vikasrohit commented on #215
Fixed with #224

[2016-10-07 07:00] #215 closed

[2016-10-07 07:34] vikasrohit commented on #445
@fnisen @vic-appirio It seems working now in dev. May be @parthshah has fixed that.

[2016-10-07 15:30] parthshah commented on #445
Fixed along with other bug fixes.

[2016-10-07 15:30] #445 closed

[2016-10-07 15:30] parthshah commented on #446
Should be fixed now.

[2016-10-07 15:30] #446 closed

[2016-10-07 15:32] parthshah commented on #188
Assigning to Vic to fix css issue.

[2016-10-07 15:35] parthshah commented on #155
@vikasrohit .. could you please tackle this with other search bar related bugs. Thanks

[2016-10-07 15:36] #313 closed

[2016-10-07 15:36] #315 closed

[2016-10-07 15:36] #329 closed

[2016-10-07 15:36] #330 closed

[2016-10-07 15:36] #334 closed

[2016-10-07 15:36] #348 closed

[2016-10-07 15:36] #349 closed

[2016-10-07 15:36] #364 closed

[2016-10-07 15:36] #368 closed

[2016-10-07 15:36] #377 closed

[2016-10-07 15:36] #383 closed

[2016-10-07 15:36] #385 closed

[2016-10-07 15:36] #391 closed

[2016-10-07 15:36] #392 closed

[2016-10-07 15:36] #397 closed

[2016-10-07 15:36] #398 closed

[2016-10-07 15:36] #409 closed

[2016-10-07 15:36] #412 closed

[2016-10-07 15:36] #416 closed

[2016-10-07 15:36] #417 closed

[2016-10-07 15:36] #421 closed

[2016-10-07 15:36] #425 closed

[2016-10-07 15:36] #428 closed

[2016-10-07 15:36] #431 closed

[2016-10-07 15:36] #210 closed

[2016-10-07 15:36] #212 closed

[2016-10-07 15:36] #222 closed

[2016-10-07 15:36] #227 closed

[2016-10-07 15:36] #232 closed

[2016-10-07 15:36] #233 closed

[2016-10-07 15:36] #234 closed

[2016-10-07 15:36] #235 closed

[2016-10-07 15:36] #237 closed

[2016-10-07 15:36] #242 closed

[2016-10-07 15:36] #251 closed

[2016-10-07 15:36] #256 closed

[2016-10-07 15:36] #260 closed

[2016-10-07 15:36] #268 closed

[2016-10-07 15:36] #273 closed

[2016-10-07 15:36] #274 closed

[2016-10-07 15:36] #278 closed

[2016-10-07 15:36] #291 closed

[2016-10-07 15:36] #292 closed

[2016-10-07 15:36] #293 closed

[2016-10-07 15:36] #299 closed

[2016-10-07 15:36] #302 closed

[2016-10-07 15:36] #308 closed

[2016-10-07 15:36] #310 closed

[2016-10-07 15:36] #311 closed

[2016-10-07 15:36] #52 closed

[2016-10-07 15:36] #179 closed

[2016-10-07 15:36] #180 closed

[2016-10-07 15:36] #194 closed

[2016-10-07 15:36] #200 closed

[2016-10-07 15:36] #201 closed

[2016-10-07 15:36] #202 closed

[2016-10-07 15:36] #207 closed

[2016-10-07 15:36] #209 closed

[2016-10-07 19:07] parthshah commented on #422
We are now supporting markdown. Closing this bug.

[2016-10-07 19:07] #422 closed

[2016-10-07 19:39] vic-appirio commented on #188
Thanks. Will investigate and try to fix.

[2016-10-07 20:03] vic-appirio commented on #438
Let's start with the project description first. Project name shouldn't be editable after creation. We need to add the project settings section as well.

![screen shot 2016-10-07 at 1 03 03 pm](https://cloud.githubusercontent.com/assets/8484061/19203850/6d0c0b78-8c8e-11e6-9530-fd9b79e2323e.png)

[2016-10-07 20:11] vic-appirio commented on #296
Let's limit the feature title to 40 characters. It doesn't make sense to have super long names anyway. That's what we have description for. Hiding the title behind ellipsis is not the best solution.

[2016-10-07 22:11] parthshah commented on #367
This will be resolved once we implement auto-save on project spec. I'm not fixing this right now.

[2016-10-07 22:22] parthshah commented on #355
I am not able to reproduce this in any other project.  I removed the rows that were impacted but after re-adding those users i am not able to reproduce.
Closing.

[2016-10-07 22:25] mahestro commented on #355
Strange. All issues that I wrote valid is because I was able to reproduce them - http://take.ms/UnzXt5

[2016-10-07 22:47] #376 closed

[2016-10-07 22:48] #413 closed

[2016-10-07 23:25] fnisen commented on #355
@parthshah I can reproduce it, too. There is some inconsistency with how new team members are added. At first they're added one after another in the list and removing works correctly. Then at some point they start being added to the top and after that removing doesn't work anymore. You need about 10 members on the project before this starts happening.

[2016-10-08 00:26] fnisen commented on #367
@parthshah this is a pretty bad bug b/c we're losing customer input. I think we need to fix before GA.

[2016-10-08 00:37] #444 closed

[2016-10-08 12:15] vikasrohit commented on #193
Fixed. Changes are in dev.

[2016-10-08 12:16] #193 closed

[2016-10-08 12:16] vikasrohit commented on #188
Changes are in dev.

[2016-10-08 12:16] #188 closed

[2016-10-08 20:08] mahestro commented on #253
@vikasrohit @fnisen  I'm testing again and I can't reproduce it now. Maybe some PR fixed it ? I tried in win IE, FF and Chrome. Not lucky as the first time.

[2016-10-08 20:15] mahestro commented on #133
Private task in progress - Sky.

Requirements: https://docs.google.com/document/d/1EJT9dpfgoroAc3TCVQgwB16z-9LOdbzlfrrv24Gcp5Q/edit

[2016-10-08 20:16] mahestro commented on #137
@vic-appirio Hey amigo, hang around this fun issue when you have a chance. Check my previous comment.

[2016-10-08 20:35] mahestro commented on #279
Also added Help link to the user dropdown - http://take.ms/Vomvm

[2016-10-08 20:45] #109 closed

[2016-10-08 20:52] #171 closed

[2016-10-08 20:52] #168 closed

[2016-10-10 09:34] vikasrohit commented on #155
Should be fixed now in dev.

[2016-10-10 09:34] #155 closed

[2016-10-10 09:36] vikasrohit commented on #172
@vic-appirio I have committed the changes and made a PR, please review it.

[2016-10-10 09:47] vikasrohit commented on #296
@vic-appirio I have put limit on input element which does not show any error/info to the user about the limit. Should we show validation error rather?

[2016-10-10 10:37] vikasrohit commented on #223
@mahestro  @fnisen Can you please let me know if this is still applicable?

[2016-10-10 10:50] mahestro commented on #223
I could reproduce it the last week but not today. I could notice was this: http://take.ms/lASDY - A strange error when you reply to an existing message thread. Something throws an error.

I think the -time issue could have been fixed by Parth, maybe?

[2016-10-10 11:09] vikasrohit commented on #223
That error is because API throws 429 error occasionally. Which I guess is limitation from discourse.

[2016-10-10 11:54] vikasrohit commented on #359
Not able to reproduce after changes for #125

[2016-10-10 11:54] #359 closed

[2016-10-10 16:52] fnisen opened #453 "Messaging: replying to a message thread throws an error"
Every five replies or so, one of them will throw an error. Some examples:
- http://take.ms/lASDY
- http://screencast.com/t/i7DWcLSyq

It's happening much more regularly than would be normal.

cc @vikasrohit, @mahestro

[2016-10-10 16:53] fnisen commented on #223
Can't reproduce the original error. I think it was fixed by Parth. Filing a bug for the one mentioned to Luis (was able to reproduce, as well): https://github.com/appirio-tech/connect-app/issues/453.

[2016-10-10 16:53] #223 closed

[2016-10-10 16:55] fnisen opened #454 "Messaging: when posting reply to a thread, user should see button feedback"
When creating a new thread, "Post" button changes to "Posting..." to confirm action is in progress. However, it does not do this when replying to a thread. Example: http://screencast.com/t/i7DWcLSyq. (The same is true when posting replies on the Dashboard).

[2016-10-10 17:00] fnisen opened #455 "Dashboard/Status updates: update posts showing an unnecessary avatar icon"
<img width="754" alt="screen shot 2016-10-10 at 9 59 28 am" src="https://cloud.githubusercontent.com/assets/12552247/19244251/46991ce4-8ed0-11e6-87b1-3d166c3fbb8a.png">

Icon highlighted above should be removed.

[2016-10-10 17:09] fnisen commented on #296
I'm good with this approach. @vic-appirio?

[2016-10-10 17:11] vic-appirio commented on #296
Having just limit is good enough for the moment. A limit pointer is much better than error message, but we can add that later. Error message is not appropriate.

[2016-10-10 17:44] parthshah commented on #196
@vikasrohit - re-assigning to you.

[2016-10-10 17:45] parthshah commented on #175
@vikasrohit please work on this one too. It might be an IE only issue. I am not able to reproduce it on chrome

[2016-10-10 18:23] parthshah commented on #453
There is a limit on the number of posts a user can make in Dev. @mdesiderio is there such a limit in Production too? If there is, we should make sure we relax the limit. But I doubt we'll have super engaged users posting 10s of messages every minute.

[2016-10-10 18:23] parthshah commented on #453
I am downgrading this bug as it's unlikely we'll see this in Prod.

[2016-10-10 18:24] fnisen commented on #453
OK, fair.

[2016-10-10 20:02] vic-appirio commented on #406
Closing

[2016-10-10 20:02] #406 closed

[2016-10-10 20:09] vic-appirio commented on #288
Missing width settings
![screen shot 2016-10-10 at 1 08 52 pm](https://cloud.githubusercontent.com/assets/8484061/19249499/be9521c4-8eea-11e6-8b6f-6e2c5a078b15.png)

[2016-10-10 20:09] vic-appirio commented on #286
Closing as duplicate

[2016-10-10 20:09] #286 closed

[2016-10-10 21:09] vic-appirio commented on #283
can't replicate; also the new top navigation fixes should allow full display of the side panel. Closing.

[2016-10-10 21:09] #283 closed

[2016-10-10 21:10] vic-appirio commented on #282
Fixed

[2016-10-10 21:10] #282 closed

[2016-10-10 21:13] vic-appirio commented on #240
Invalid. Closing
![screen shot 2016-10-10 at 2 12 18 pm](https://cloud.githubusercontent.com/assets/8484061/19251309/9289e610-8ef3-11e6-8bfd-100e00141308.png)

[2016-10-10 21:13] #240 closed

[2016-10-10 22:24] parthshah commented on #204
Should be resolved now.

[2016-10-10 22:24] #204 closed

[2016-10-10 22:25] #454 closed

[2016-10-10 22:34] parthshah commented on #277
Closing since, this is expected in Dev env. We don;t see this in prod build in prod env.

[2016-10-10 22:34] #277 closed

[2016-10-10 22:35] #271 closed

[2016-10-10 22:35] parthshah commented on #270
This is expected behavior when there are no topics for a project.

[2016-10-10 22:35] #270 closed

[2016-10-10 22:36] parthshah commented on #257
@vikasrohit assigning this to you. Could we use some sort of react svg loader to load svgs through require('') ?

[2016-10-10 22:38] parthshah commented on #267
@vikasrohit - assigning this to you. Let me know if you want to launch challenges to fix a bunch of these issues.

[2016-10-10 22:39] parthshah commented on #244
@fnisen how do you want to handle this? Where do you want to show a confirmation dialog?

[2016-10-10 22:40] #127 closed

[2016-10-11 02:44] vikasrohit commented on #296
Ok. Done

[2016-10-11 02:44] #296 closed

[2016-10-11 17:02] fnisen opened #456 "General: fix Connect favicon"
Current favicon is not according to style and looking pixilated.

[2016-10-11 17:18] #300 closed

[2016-10-11 17:18] #178 closed

[2016-10-11 17:24] fnisen commented on #244
@parthshah I'd like to follow the same style we use for project member removal: show the dialog in-line, below the status, with a message and confirmation buttons:

![screen shot 2016-10-11 at 10 23 46 am](https://cloud.githubusercontent.com/assets/12552247/19280974/d07a18e2-8f9c-11e6-8835-d3676fde47a6.png)

Do you want this quickly mocked up?

[2016-10-11 18:04] fnisen commented on #9
Guys, the current favicon is looking pixilated on my Macbook, which really jumps out when compared to other apps I have running in parallel. Can we please use higher resolution when appropriate?

[2016-10-11 18:04] #456 closed

[2016-10-11 18:18] fnisen opened #457 "Messaging: do not reset post content after failed post"
If I try to post a message and the API call fails (which happens pretty often in Dev), I see an error message, and the content in my post composer is wiped out. Can we maintain the content in this error case, so I don't have to rewrite my post?

[2016-10-11 18:26] fnisen commented on #204
Yes, working for me. Thanks.

[2016-10-12 05:56] vikasrohit commented on #196
@parthshah I didn't found any configuration parameter to do this with FileStack. This seems to be a valid behaviour because most of the times, applications (which are using FileStack) does not duplicate the uploaded file information. We are showing the uploaded files in the list above the picker, hence it is looking odd to have file name in the file picker. However, IMO, its just an extra UI eleme

[2016-10-12 07:25] vikasrohit commented on #267
@vic-appirio  @fnisen How to show the validation error?

@parthshah From the implementation point, we can not use Formsy form here because it would make nested forms(EditProjectForm and FileListItem). So, I guess, we need to handle the validation ourselves.

[2016-10-12 07:56] vikasrohit commented on #267
Should we put a character limit as well on file name? We have limit of 250 for the description and description is also a required field for updating the file information.

[2016-10-12 08:04] vikasrohit commented on #455
Changes are in dev.

[2016-10-12 08:04] #455 closed

[2016-10-12 08:09] vikasrohit commented on #175
@parthshah I have tried in the environment (Windows/Chrome) specified in issue description, but not able to reproduce. I also tried to check it for IE, however, after chrome test, I am not able to login in browserstack's browsers.

[2016-10-12 10:01] vikasrohit commented on #355
It was really interesting to solve this one. This problem was because of sorting algorithm used to sort the team members list. Before the fix we were using Array's sort function which produces unstable sort results and it also modifies the existing array after sorting. I have used lodash's sortBy method which produces stable sorting results without modifying the original array.

@parthshah I have

[2016-10-12 11:23] vikasrohit commented on #257
@parthshah I have committed the changes, please review the [PR](https://github.com/appirio-tech/connect-app/pull/460).

[2016-10-12 16:23] vic-appirio commented on #365
We need a better layout system to be able to scale the feature preview image; current system is not able to scroll or easily scale the feature preview image. Will fix after beta launch

[2016-10-12 16:28] vic-appirio commented on #338
Partially fixed; good to release for beta
![screen shot 2016-10-12 at 9 28 25 am](https://cloud.githubusercontent.com/assets/8484061/19318610/448740cc-905e-11e6-871e-4efd19f8f195.png)

[2016-10-12 16:29] vic-appirio commented on #309
Can't reproduce

[2016-10-12 16:29] #309 closed

[2016-10-12 16:29] vic-appirio commented on #272
Can't reproduce

[2016-10-12 16:29] #272 closed

[2016-10-12 16:32] vic-appirio commented on #186
Can't reproduce on 2 separate environments; closing

[2016-10-12 16:32] #186 closed

[2016-10-12 18:41] parthshah opened #462 "Posts bold formatting is not working."

[2016-10-12 18:42] parthshah opened #463 "File Upload is not working on Production"
File upload is not working on production. Investigate.

[2016-10-12 18:43] #288 closed

[2016-10-12 18:43] #297 closed

[2016-10-12 18:43] #306 closed

[2016-10-12 18:43] #321 closed

[2016-10-12 18:43] #322 closed

[2016-10-12 18:43] #324 closed

[2016-10-12 18:43] #328 closed

[2016-10-12 18:43] #338 closed

[2016-10-12 18:43] #339 closed

[2016-10-12 18:43] #340 closed

[2016-10-12 18:43] #366 closed

[2016-10-12 18:43] #386 closed

[2016-10-12 18:43] #387 closed

[2016-10-12 18:43] #410 closed

[2016-10-12 18:43] #415 closed

[2016-10-12 18:43] #423 closed

[2016-10-12 18:43] #424 closed

[2016-10-12 18:44] #135 closed

[2016-10-12 18:44] #181 closed

[2016-10-12 18:44] #262 closed

[2016-10-12 20:54] vic-appirio commented on #172
resolved

[2016-10-12 20:54] #172 closed

[2016-10-12 20:55] vic-appirio commented on #426
feature name limited to 40 chars.

[2016-10-12 20:55] #426 closed

[2016-10-12 20:55] vic-appirio commented on #314
fixed

[2016-10-12 20:55] #314 closed

[2016-10-13 10:27] vikasrohit commented on #196
@parthshah I have create PR https://github.com/appirio-tech/react-components/pull/99 for this purpose. Please let me know if you think those changes are worth for fixing this issue.

[2016-10-13 10:46] vikasrohit commented on #244
Further, should we show confirmation modal only when project status is changed to 'completed/cancelled' or it should be shown for every status change?

[2016-10-13 17:38] fnisen commented on #244
@vikasrohit I was thinking only completed or canceled b/c those statuses may remove the project from the customer view (and eventually trigger some other actions down the line). The other statuses are more easily reversible.

[2016-10-13 21:04] fnisen commented on #236
<img width="624" alt="screen shot 2016-10-13 at 2 03 16 pm" src="https://cloud.githubusercontent.com/assets/12552247/19366928/e282e020-914d-11e6-8376-d5284e1b0c8f.png">

@sirakovaDimitrina, @vic-appirio still seeing this issue.

[2016-10-13 21:25] fnisen commented on #175
Not able to reproduce either in both browsers. Might have been fixed along with something else. Closing.

[2016-10-13 21:25] #175 closed

[2016-10-13 21:37] fnisen commented on #267
@vikasrohit can you please show a validation error right below the title, in our usual style? The copy can be: "The file name cannot be blank."

Also:
- Can we make description optional?
- Let's go with 50 characters for the title limit. Good idea.

[2016-10-13 21:53] fnisen commented on #279
@mahestro good catch on the user link. Can you please make one change: open all the non-Connect links (everything except terms) in a new tab? So, new subdomain = new tab. Thank you.

[2016-10-13 23:28] fnisen commented on #253
OK, closing.

[2016-10-13 23:28] #253 closed

[2016-10-13 23:29] vic-appirio commented on #137
Not needed for the beta; I'd love to have:
- multiple select
- clear (reset);

The behavior from Multiselect example is ideal from my understanding.

![screen shot 2016-10-13 at 4 27 16 pm](https://cloud.githubusercontent.com/assets/8484061/19370682/1034d0b4-9162-11e6-9b4e-1f840a5e94f5.png)

Styled:
![screen shot 2016-10-13 at 4 29 14 pm](https://cloud.githubusercontent.com/assets/8484061/19370702

[2016-10-13 23:37] fnisen opened #465 "Team management: "member/copilot" switch not visible when there are 3+ team members"
Please see video: http://screencast.com/t/JJpw9r5lcB. Similar thing happens when I remove a member--the dialog window is cut off.

[2016-10-13 23:51] fnisen opened #466 "Team management: "member/copilot" switch fixes"
A few UX changes please:

- style the active item as primary button
- make the whole button clickable, not just the text
- remove the hover state from the selected (blue) item

![pasted image at 2016_10_13 04_47 pm](https://cloud.githubusercontent.com/assets/12552247/19371091/29861566-9165-11e6-9f5f-d94cb8e3460f.png)

cc @vic-appirio

[2016-10-13 23:51] fnisen commented on #465
Related issue, in case you want to tackle them together: https://github.com/appirio-tech/connect-app/issues/466

[2016-10-14 00:21] fnisen commented on #351
Didn't fix the related issue (350), so opening this one.

[2016-10-14 00:37] fnisen commented on #285
@vikasrohit if you manually remove value with keyboard, but don't press enter/search or click on "x" it does not persist. It does persist on Pinterest. Check it out: http://screencast.com/t/N24pHi8TA

[2016-10-14 00:42] fnisen commented on #395
@parthshah this one is not working for me.

[2016-10-14 00:50] fnisen opened #467 "Links: critical problems with view and validation"
"Add" button is obscured (similar to https://github.com/appirio-tech/connect-app/issues/465) and validation requires "http://," which is not intuitive. Can we be more permissive with URLs, similar to how "Add a Link" works on the member profile? If that's too hard, let's turn off validation for now and fix soon.

[2016-10-14 01:04] fnisen commented on #404
Still seeing this on the project cited above.

[2016-10-14 01:08] #414 closed

[2016-10-14 01:12] fnisen commented on #402
![screen shot 2016-10-13 at 6 11 31 pm](https://cloud.githubusercontent.com/assets/12552247/19372397/87dab530-9170-11e6-9d05-a1eba8b84352.png)

Still seeing this discrepancy. @parthshah, moving to you b/c you took over messaging. Please reassign if appropriate.

[2016-10-14 01:16] #418 closed

[2016-10-14 01:19] fnisen commented on #419
This is OK. Both actions are confirmed if they're done in quick succession.

[2016-10-14 01:19] #419 closed

[2016-10-14 01:20] #420 closed

[2016-10-14 01:22] fnisen opened #468 "File upload: confirm deletion"
Is it possible to add a confirmation dialog before deleting an uploaded file? This action is not reversible, so would be good to confirm.

[2016-10-14 01:24] fnisen commented on #429
@vic-appirio can you please check this out?

[2016-10-14 01:33] fnisen commented on #248
Yeah, am seeing it work correctly. Closing.

[2016-10-14 01:33] #248 closed

[2016-10-14 01:57] fnisen opened #469 "Add project "Description" to Dashboard and Specifications"
https://drive.google.com/drive/folders/0B1LbmKnex41fUUg2dWtXMHgtWms?usp=sharing

Can you please add the Description we capture during new project creation to two places:

- Dashboard: 4 lines plus "read more" link that goes to the Specification (you can ignore the other new stuff shown in the design)
- Specification: a description section at the top, which can be edited and saved (ignore the devic

[2016-10-14 02:22] fnisen opened #471 "Login & Reg buttons not wired correctly in Prod"
From logged out home page, buttons direct to Dev, not Prod. Also, users registering or logging in, should be redirected to v2, instead of regular Connect.

[2016-10-14 05:42] vikasrohit commented on #267
@fnisen description is made compulsory in API. @mdesiderio can we make it optional?

[2016-10-14 06:24] vikasrohit commented on #267
@fnisen I have changed the copy and put the max length on file name. However, I haven't remove required validation for description field because it requires changes in API. May be we can track that separately.

[2016-10-14 06:50] vikasrohit commented on #267
@parthshah did the change in his late night today. :) So, now all requirements are done for the issue.

[2016-10-14 09:21] vikasrohit commented on #244
Changes are in dev.

[2016-10-14 11:08] vikasrohit commented on #467
@fnisen I am not able to reproduce the obscured thing for Add button as well for #465. Are you testing that in mobile? I have 10+ members in team and I am able to see the member/copilot switch for #465 and similarly 'Add Link' button is always visible to me.
However, I have done the changes for relaxing the URL validation to be similar to what we have in member profile page.

[2016-10-14 11:11] vikasrohit commented on #469
@fnisen I am not sure how to achieve the 4 line text ellipsis. We can truncate the text based on number of characters but I guess it is difficult to do this based on #lines because #lines depends on screen resolution.

[2016-10-14 16:39] fnisen commented on #355
Fixed with https://github.com/appirio-tech/connect-app/pull/459

[2016-10-14 16:39] #355 closed

[2016-10-14 16:44] fnisen commented on #257
Fixed with https://github.com/appirio-tech/connect-app/pull/460

[2016-10-14 16:44] #257 closed

[2016-10-14 16:56] fnisen commented on #267
@vikasrohit I get into an error state if I delete the entire name and then try to add a new one. I'm not able to save in that case: http://screencast.com/t/NVO5RSA2qq.

Also, @parthshah, the description is still being required. I can't save without a description--there's an error message being thrown ("Whoops, there was a problem.")

[2016-10-14 17:14] fnisen commented on #244
@vikasrohit this
<img width="410" alt="screen shot 2016-10-14 at 10 00 41 am" src="https://cloud.githubusercontent.com/assets/12552247/19396046/c975fd3a-91f5-11e6-9db8-d0a925950a89.png">
is different in style from this
<img width="423" alt="screen shot 2016-10-14 at 10 01 13 am" src="https://cloud.githubusercontent.com/assets/12552247/19396045/c97594e4-91f5-11e6-85d9-2a431cb7104d.png">
and neither

[2016-10-14 17:36] fnisen commented on #395
@vic-appirio looks like we'll need layout changes to make this happen, so assigning to you. Let's discuss.

[2016-10-14 18:14] fnisen commented on #467
Thanks @vikasrohit. I'll close this and let's track the other issue via 465. I wasn't viewing it on mobile--just regular Mac/Chrome. Will try to figure out how to reproduce consistently.

[2016-10-14 18:14] #467 closed

[2016-10-14 18:24] vic-appirio commented on #469
https://github.com/ShinyChang/React-Text-Truncate probably?

[2016-10-14 18:32] fnisen commented on #469
Just for reference, a CSS approach: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/, https://css-tricks.com/line-clampin/

[2016-10-14 22:37] parthshah opened #474 "Support load more functionality for comments"

[2016-10-14 22:49] #457 closed

[2016-10-14 22:49] #474 closed

[2016-10-15 00:04] fnisen commented on #465
@vikasrohit: http://screencast.com/t/FgI3Dpckq9. This is happening to me on Mac/Chrome 53. When the dialog is at the bottom of the screen, it often gets "stuck," and I cannot scroll down further. I can get it unstuck by resizing the window.

[2016-10-15 00:06] fnisen commented on #438
Being addressed by https://github.com/appirio-tech/connect-app/issues/469

[2016-10-15 00:06] #438 closed

[2016-10-15 00:07] fnisen commented on #437
Will address this when we create the new product "menu/catalog"

[2016-10-15 00:07] #437 closed

[2016-10-15 00:07] #436 closed

[2016-10-15 00:08] #435 closed

[2016-10-15 00:09] fnisen commented on #434
Will wait to see if there are requests for this kind of functionality

[2016-10-15 00:16] fnisen commented on #433
No longer happening after changes to feature picker.

[2016-10-15 00:16] #433 closed

[2016-10-15 00:17] #430 closed

[2016-10-15 00:18] #427 closed

[2016-10-15 00:19] #408 closed

[2016-10-15 00:23] fnisen commented on #404
Not able to reproduce from scratch, so maybe this was resolved somehow already. Closing until it's reported on a new project.

[2016-10-15 00:23] #404 closed

[2016-10-15 00:24] #396 closed

[2016-10-15 00:26] #393 closed

[2016-10-15 00:26] #390 closed

[2016-10-15 00:26] #388 closed

[2016-10-15 00:28] #382 closed

[2016-10-15 00:29] #381 closed

[2016-10-15 00:29] #380 closed

[2016-10-15 00:29] #379 closed

[2016-10-15 00:32] fnisen commented on #372
This will break eventually, so we should implement the original design.

[2016-10-15 00:34] #370 closed

[2016-10-15 00:35] #361 closed

[2016-10-15 02:17] #463 closed

[2016-10-15 02:17] #471 closed

[2016-10-15 17:21] fnisen opened #475 "Dashboard: initial Coder status updates not coming through when project first created"
API returning 500. Probably same issue as https://github.com/appirio-tech/connect-app/issues/477

[2016-10-15 17:23] fnisen opened #476 "General: load copilot and manager roles into Connect"
Here are the lists:
[ConnectCopilots.xls.zip](https://github.com/appirio-tech/connect-app/files/531305/ConnectCopilots.xls.zip)

[tc-managers-1.xlsx.zip](https://github.com/appirio-tech/connect-app/files/531306/tc-managers-1.xlsx.zip)

[2016-10-15 17:30] fnisen opened #477 "Discussions: cannot post new messages; API returning 500"
http://screencast.com/t/QEpxoXPi

[2016-10-15 17:41] fnisen opened #478 "Team manager: not able to find my username to add to a project"
Logged in under one of my test accounts and then tried to add my regular account ("fnisen"), but could not find it, even though it clearly exists in prod: http://screencast.com/t/6GGddPU4V. https://www.topcoder.com/members/fnisen/

Doesn't seem like it's a problem with the recency of the index. I tried adding a member who had just registered (narendrah) and was able to find them. Could this be b/c

[2016-10-15 18:07] fnisen commented on #267
OK, description portion is now working as expected (not required), so just seeing the name issue @vikasrohit

[2016-10-17 06:08] vikasrohit commented on #196
Changes are in dev now.

[2016-10-17 06:08] #196 closed

[2016-10-17 06:48] vikasrohit commented on #267
Fixed. Changes are in dev now.

[2016-10-17 06:48] #267 closed

[2016-10-17 06:54] vikasrohit opened #481 "Use React version of SVG loader to dynamically load the SVGs as React components"
Vic's [comments](https://github.com/appirio-tech/connect-app/pull/460#issuecomment-253869628):

I think that we can save ourselves time and effort if we can just dump the appropriate .svg files and dynamically convert them to react components. After some research of different approaches out there, [svg-react-loader](https://github.com/jhamlet/svg-react-loader/blob/version-0.4.0/README.md) seems li

[2016-10-17 06:56] vikasrohit commented on #244
Done. All modal in the left panel, of the project specs page, are now in sync with the specs. Changes are in dev.

[2016-10-17 07:08] vikasrohit commented on #465
Okay, I guess, I am able to reproduce the situation, however, I am able to get over it if I try to scroll in reverse direction after it gets stuck. And it does not seem to happen frequently to me. May be we can use community for this purpose. It seems sticky behaviour of the left panel is causing this trouble.

[2016-10-17 07:20] vikasrohit commented on #466
@fnisen I have fixed the styles, however, I didn't get

I didn't find any hover state on selected switch. However there was a inner box shadow for the selected item which was not looking good to me, so I have remove that. Please let me know if you want that back.

[2016-10-17 07:25] vikasrohit commented on #351
Didn't get it @fnisen. If we are not going to fix #351 (which is labelled as won't fix), then we would not be fixing this one as well as it seems duplicate to me. Please let me know if I mis-interpreted this issue.

[2016-10-17 07:27] vikasrohit commented on #466
Changes are in dev.

[2016-10-17 13:56] parthshah commented on #476
Loaded TC Managers. @ajefts, a few accounts - you, vbailey, me & sudo are marked as admins. So I didn't add manager role to them.

I haven't added any more Connect Copilots. I am guessing the existing list using Connect V1 is still good.

[2016-10-17 13:56] #476 closed

[2016-10-17 13:56] parthshah commented on #477
This is working now.

[2016-10-17 13:56] #477 closed

[2016-10-17 13:57] parthshah commented on #475
It's working now

[2016-10-17 13:57] #475 closed

[2016-10-18 05:04] vikasrohit commented on #469
Thanks @vic-appirio and @fnisen for the link. Filipp, however, the pure css solutions still have limits e.g. putting 'read-more' text in place of ellipsis requires one more hack or may not be possible. I have used the javascript version.
Changes are in dev.

[2016-10-18 07:21] vikasrohit commented on #285
@fnisen Implemented that behaviour as well for the search bar. Changes are in dev now. Please let me know if you still see any difference.

[2016-10-18 07:46] vikasrohit commented on #357
Parth fixed it with #362

[2016-10-18 07:46] #357 closed

[2016-10-18 07:55] vikasrohit commented on #342
@vic-appirio I didn't found the appropriate asset in google drive.

[2016-10-18 12:06] vikasrohit commented on #468
@fnisen Added confirmation modal before deleting a file from the specifications page. Right now it is full page modal, please let me know if you would like to show the modal locally just like we do for the left panel confirmation dialogs in dashboard page. I have those changes ready as well....here is snapshot what it would look like after that:
<img width="645" alt="screen shot 2016-10-18 at 5 35

[2016-10-18 15:24] fnisen opened #486 "Specification: preview/download project files"
We currently don't have a way to access files after they've been uploaded.

Can we allow clicking on the file to open a preview (using OS), and then download, or if preview is too difficult, download directly?

[2016-10-18 17:47] parthshah commented on #407
I've seen this once when there are errors on the page. But I am not able to reproduce this consistently.
@vikasrohit - can you look into this when you get a chance?
@fnisen - downgrading this for now.

[2016-10-18 17:48] #367 closed

[2016-10-18 18:10] fnisen commented on #469
Thanks @vikasrohit. It's is working.

[2016-10-18 18:10] #469 closed

[2016-10-18 18:19] fnisen commented on #468
@vikasrohit thanks for checking. Can you please use the local modal? The full page modal is too much.

[2016-10-18 18:22] fnisen commented on #342
@vic-appirio same for me. Don't see a marketplace asset on Drive.

[2016-10-18 18:32] fnisen commented on #476
@parthshah sounds good regarding copilots. Already agreed with Joey that we would start with the current group.

[2016-10-19 17:01] fnisen opened #488 "Project/Status: showing "null days on https://connectv2.topcoder.com/projects/24"
<img width="392" alt="screen shot 2016-10-19 at 11 41 13 am" src="https://cloud.githubusercontent.com/assets/12552247/19528902/79a419ac-95f3-11e6-99b4-3d3ecc52bd6f.png">

Should be defaulting to "no estimate" status instead.

[2016-10-19 17:03] fnisen opened #489 "Team management: when first joining project, user shown as "UU""
<img width="452" alt="screenshot-1" src="https://cloud.githubusercontent.com/assets/12552247/19528990/c52d8110-95f3-11e6-99c2-c3f653f169fe.png">

Happened to both me and Joey on different projects, joining with Manager accounts. Refreshing the pages fixes it.

[2016-10-19 17:05] fnisen opened #490 "General: Connect links leading to blank page"
When you click a Connect link (e.g., https://connectv2.topcoder.com/projects/24) from an external tool such as Slack, you first see a blank page and need to refresh for the page to load correctly.

[2016-10-19 17:10] fnisen opened #491 "Team management: add managers to Direct project when they join via Connect"
Not sure if this was planned already or if you guys discussed. Putting it down so we don't forget.

[2016-10-19 18:22] #488 closed

[2016-10-19 19:45] fnisen commented on #486
@parthshah discovered an edge case. The file is not clickable when it's first uploaded. The user must refresh the page before they can click on it.

[2016-10-19 23:53] parthshah commented on #486
Good catch.
But one could argue that if you already have the file ... why do you need to download it 😼 .
Should be fixed with a backend fix now.

[2016-10-19 23:53] #486 closed

[2016-10-19 23:55] parthshah commented on #490
@vikasrohit I am not sure why this happening. All I could trace it back to was maybe it's stalling in some iframe connection. Could you please check?

![image](https://cloud.githubusercontent.com/assets/1987710/19541661/d88f9788-961c-11e6-8c61-1f1da9ac3063.png)

[2016-10-19 23:55] #489 closed

[2016-10-20 09:37] vikasrohit opened #492 "[Team Management] Buttons are not center aligned in assign owner modal"
<img width="357" alt="screen shot 2016-10-20 at 3 06 24 pm" src="https://cloud.githubusercontent.com/assets/2417632/19554569/d9eab85a-96d6-11e6-918f-d8a131cccc32.png">

[2016-10-21 05:52] vikasrohit commented on #346
Changes are in dev now.

[2016-10-21 05:52] #346 closed

[2016-10-21 05:53] vikasrohit commented on #492
Changes are in dev now.

[2016-10-21 15:52] parthshah commented on #490
Bumping the priority on this since multiple folks are seeing this error.

[2016-10-24 10:32] vikasrohit commented on #255
Fixed with #468

[2016-10-24 10:32] #255 closed

[2016-10-24 11:51] vikasrohit commented on #490
It seems the issue is again the same which was there with members app. My changes were overridden in this [commit](https://github.com/appirio-tech/accounts-app/commit/7dc6f01ca3d361092de9e8101a4f17c7db561d53). It seems this was done in reference to a security issue reported by Sky_. @mahestro Can you please elaborate more on that security issue and what all changes were made for that?

[2016-10-24 18:15] vic-appirio commented on #342
![ecommerce](https://cloud.githubusercontent.com/assets/8484061/19658001/2221079e-99db-11e6-9362-77fa8be2394e.png)

[2016-10-24 18:20] vic-appirio commented on #429
.SVG animations are not played under IE. We need to change the loader with .GIF

[2016-10-24 18:29] vic-appirio commented on #395
We need to support independent scrolling of the left and right sides of the screen. Navigation should be accessible independently of the message feeds.

[2016-10-24 18:34] vic-appirio commented on #317
The current implementation of the color picker and selected colors is misleading. I imagined a simpler experience that would make only singular action to have all the colors one needs.

Current behavior : User can add colors; user can select or deselect colors; user can't remove colors.

Desired outcome: User can add and remove colors. Added colors count as selected. User can't select/deselect - t

[2016-10-24 18:35] vic-appirio commented on #236
The text should never cover the clear icon; reassigning for @sirakovaDimitrina to fix

[2016-10-24 19:09] fnisen commented on #236
Thanks @vic-appirio and @sirakovaDimitrina.

[2016-10-24 19:32] fnisen commented on #317
@vic-appirio I think we went with this experience b/c it was the fastest implementation.

Of course your approach makes sense, but I don't want to do a redesign before we know whether this is a useful feature, and we haven't gotten enough data on it so far. I would just add a simple deselect ("x") to aid usability and leave it at that for now. Let's discuss in person if you disagree. Thanks.

[2016-10-24 19:33] fnisen commented on #395
@vic-appirio yes, agree. Can you please illustrate how this would work, and we'll get the work rolling?

[2016-10-24 19:35] fnisen commented on #429
@vic-appirio can Didi do this or should I assign to Vikas?

[2016-10-24 23:27] fnisen commented on #466
@vikasrohit sorry for the delay. Here is what I mean by "remove the hover state from the selected (blue) item":
- When "Copilot" is selected, as in the image above, if I hover over "Copilot" on the switch, I see the hand, meaning it is clickable. However, when I click, nothing happens (which is working as it should)
- Because "Copilot" is not "clickable," there should not be a "hand" hover state w

[2016-10-24 23:28] fnisen commented on #490
@vikasrohit @mahestro is out for a few more days, but @ajefts was involved in the fix, along with Sudo. Tony can you please tell Vikas what was done? Thank you.

[2016-10-24 23:58] fnisen commented on #486
Thanks. Working fine in Dev. True... I think it's needed not for downloading, but to check that the upload worked correctly. We see this all the time on the member side: designers especially go to download all of their files after submitting to make sure they got processed correctly. This is an extreme example, but I think users would want to double-check occasionally.

[2016-10-25 00:06] fnisen commented on #351
@vikasrohit sorry, got some confusion because of the labels. I'd like to fix this issue, which was listed on both https://github.com/appirio-tech/connect-app/issues/350 and this ticket (351). If we are fixing it here, we don't need to fix 350, which is a duplicate and marked as won't fix. I'll close it. Anyway, this is P2, so not urgent. Please work on P0's and P1's first.

[2016-10-25 00:07] fnisen commented on #350
Being fixed on https://github.com/appirio-tech/connect-app/issues/351

[2016-10-25 00:07] #350 closed

[2016-10-25 00:11] fnisen commented on #465
@vikasrohit yes, please use the community. If you need a copilot, @mahestro is out for a few days, so you can work with talesforce or pick your favorite. Or you can assign to someone if appropriate. Your pick.

[2016-10-25 08:12] vikasrohit commented on #466
@fnisen Fixed the cursor style as well. Changes should be in dev.

[2016-10-25 08:12] #466 closed

[2016-10-25 09:21] vikasrohit commented on #342
Thanks @vic-appirio Changes are in dev now.

[2016-10-25 09:21] #342 closed

[2016-10-25 10:09] vikasrohit commented on #490
@fnisen I guess, I have found the changes. It seems the commit I mentioned above is the only change set for that fix. Anyway, I think I have fixed the issue. It appeared because one of the security fix, removed safe format check which is required to ignore non interesting events. One such example is cache event which happens to be thrown after session inactivity for some time and because we are no

[2016-10-25 17:22] fnisen commented on #490
Thanks @vikasrohit! It's working for me in Dev. Well done.

[2016-10-25 17:22] #490 closed

[2016-10-25 17:29] fnisen commented on #342
Thanks @vikasrohit. Looks good. Just needed to clear cache to see it.

[2016-10-25 18:42] fnisen commented on #466
Perfect! Thanks @vikasrohit. Working well in dev.

[2016-10-25 19:02] fnisen commented on #492
<img width="385" alt="screen shot 2016-10-24 at 4 42 57 pm" src="https://cloud.githubusercontent.com/assets/12552247/19699554/a2334690-9aa8-11e6-94af-859b456d15fe.png">

@vikasrohit, there is a copy/functionality issue on the card. In the design, the new owner's name is listed. The card message is shown as: "This will make [first name last name] the new project owner." However, currently the name

[2016-10-25 19:13] fnisen commented on #285
@vikasrohit, there is one issues/edge case I'm seeing. If I manually delete the search string and click out, the string resets to the original keyword, which is correct. However, if I delete the search string and then hit "Search," nothing happens (because we don't allow blank search), but the string doesn't reset after I click out: http://screencast.com/t/Hqi2KSty0gxv. Can you please accommodate

[2016-10-25 19:32] fnisen commented on #244
@vikasrohit, sorry, still seeing a number of things not up to spec:

1. Deleting a link does not span the entire panel and doesn't have the correct button style on "Cancel":
<img width="414" alt="screen shot 2016-10-25 at 12 22 55 pm" src="https://cloud.githubusercontent.com/assets/12552247/19700977/52530d3a-9aae-11e6-8f24-ceda79d07eb0.png">

2. Deleting a link does not "grey out" the entire secti

[2016-10-25 19:42] #174 closed

[2016-10-25 19:48] fnisen commented on #356
Can't reproduce either. Closing.

[2016-10-25 19:48] #356 closed

[2016-10-25 20:35] vic-appirio commented on #317
The easiest experience is to allow the user to remove the color on hover. The entire color palette is based on adding and removing colors to it. There's no "enable/disable" colors functionality.

This is the expected behavior for removing a color:
![remove color step 1](https://cloud.githubusercontent.com/assets/8484061/19702872/5d9ef106-9ab6-11e6-80d7-fb9595e717d4.png)
![remove color step 2](http

[2016-10-25 20:46] vic-appirio commented on #395
Follow the Facebook's messages page model; pretty standard: https://youtu.be/aQeKPyBuh4A

[2016-10-25 20:50] fnisen commented on #244
There is already an open bug for #2 above: https://github.com/appirio-tech/connect-app/issues/353

[2016-10-25 20:54] fnisen commented on #395
Thanks @vic-appirio. @vikasrohit over to you.

[2016-10-25 20:58] #347 closed

[2016-10-25 20:59] #344 closed

[2016-10-25 21:01] fnisen commented on #320
@vic-appirio can you please design a visual indicator to show that the filters are on?

[2016-10-25 21:02] #319 closed

[2016-10-25 21:08] fnisen commented on #317
Thanks @vic-appirio. @vikasrohit have added you to InVision and that prototype. When you click into it, you should see an "Inspect mode" (with a Beta icon) that will give you styles and dimensions.

[2016-10-26 00:22] vic-appirio commented on #354
This is per design. @fnisen please think if we want to add everything from the top of the list. Once you add elements at the top, you'd expect the latest element to stay on top. With Links that's valid, but for team members adding at the top would load at the bottom, so that'll break the user experience.

[2016-10-26 00:40] vic-appirio commented on #320
yes. Badge with number that illustrates filters used.
![screen shot 2016-10-25 at 5 38 53 pm](https://cloud.githubusercontent.com/assets/8484061/19709286/2cf429bc-9ada-11e6-9d2c-5e12c0ea9e8d.png)

Specked here https://topcoder.invisionapp.com/share/VZ938K3YM#/200096146_Navigation_-_1366px (again - use the inspect beta to get the details)

[2016-10-26 07:47] vikasrohit commented on #492
Done. Please check the changes in dev.

[2016-10-26 07:47] #492 closed

[2016-10-26 10:45] vikasrohit commented on #395
@vic-appirio @fnisen I have done the changes for achieving the desired behaviour. However, I had to remove the sticky behaviour to not have overflow issue when page is scrolled to the bottom. And, I guess, in after scrolls bar we don't need sticky behaviour anyway. Please let me know if you think otherwise for sticky behaviour.

[2016-10-26 16:50] #220 closed

[2016-10-26 17:40] fnisen commented on #395
@vikasrohit it's looking good. Just one change please: can you exclude the top "Discussions" panel from the rest of the scroll, so that the user doesn't have to scroll all the way back to create a new thread?

@vic-appirio please chime in if you have anything else.

[2016-10-26 17:52] fnisen commented on #320
Thanks @vic-appirio. Ready for you @vikasrohit.

[2016-10-26 17:54] fnisen commented on #354
@vic-appirio I agree. I think the issue is that you have to scroll you down--we don't scroll you down to the bottom automatically. Should we just do that?

[2016-10-26 18:26] vic-topcoder opened #501 "Issue with downloading the web fonts - server might not be setup correctly."
### Expected behavior

Fonts should be served from the servers without problems.
### Actual behavior

An error appears when downloading the fonts - the files are somehow not being able to be parsed by the chrome. Such behavior doesn't appear at my local environment; according to a quick Google search the problem is either the files, or the server. The previous mention of local environment not caus

[2016-10-26 21:06] fnisen commented on #492
Thanks @vikasrohit. Looks great!

[2016-10-26 21:11] #325 closed

[2016-10-26 21:11] #326 closed

[2016-10-26 21:11] #331 closed

[2016-10-26 21:11] #333 closed

[2016-10-26 21:11] #335 closed

[2016-10-26 21:14] fnisen commented on #312
Can't reproduce either. Closing.

[2016-10-26 21:14] #312 closed

[2016-10-26 21:16] #305 closed

[2016-10-26 21:17] #304 closed

[2016-10-26 21:17] #303 closed

[2016-10-26 21:20] #290 closed

[2016-10-26 21:21] #289 closed

[2016-10-26 21:23] fnisen commented on #287
@vic-appirio what do you think about this? To me the filters should not be reset... the user may not be expecting that. We should have an explicit reset filters option later.

[2016-10-26 21:27] fnisen commented on #281
OK for now. Let's reevaluate when we introduce products.

[2016-10-26 21:27] #281 closed

[2016-10-26 21:28] #275 closed

[2016-10-26 21:29] #269 closed

[2016-10-26 21:29] #266 closed

[2016-10-26 21:30] #264 closed

[2016-10-26 21:30] #261 closed

[2016-10-26 21:32] #276 closed

[2016-10-26 21:33] fnisen commented on #258
@vic-appirio could we also have the text areas auto-expand when they're full?

[2016-10-26 21:41] fnisen commented on #252
Button is not disabled right away. You can get in a few clicks before it becomes greyed out.

[2016-10-26 21:44] #250 closed

[2016-10-26 21:52] fnisen commented on #247
@vic-appirio have gotten this feedback, as well, from one of our early users. Let's add the button as you suggest.

[2016-10-26 22:13] #246 closed

[2016-10-26 22:18] #239 closed

[2016-10-26 22:20] fnisen commented on #238
Duplicate of https://github.com/appirio-tech/connect-app/issues/241

[2016-10-26 22:22] fnisen commented on #238
Similar to https://github.com/appirio-tech/connect-app/issues/241, but not exactly the same.

[2016-10-26 22:29] #231 closed

[2016-10-26 22:29] #230 closed

[2016-10-26 22:29] #229 closed

[2016-10-26 22:30] #228 closed

[2016-10-26 22:30] #225 closed

[2016-10-26 22:30] #221 closed

[2016-10-26 22:31] #216 closed

[2016-10-26 22:33] #214 closed

[2016-10-26 22:33] #213 closed

[2016-10-26 22:33] #206 closed

[2016-10-26 22:34] #199 closed

[2016-10-26 22:34] #197 closed

[2016-10-26 22:36] #195 closed

[2016-10-26 22:36] #192 closed

[2016-10-26 22:36] #191 closed

[2016-10-26 22:38] fnisen commented on #189
Also not able to reproduce. Closing.

[2016-10-26 22:38] #189 closed

[2016-10-26 22:38] #187 closed

[2016-10-26 22:38] #183 closed

[2016-10-26 22:44] fnisen commented on #133
@vic-appirio can I close this issue?

[2016-10-26 23:31] fnisen commented on #284
I'm seeing an issue with there being no hover state when you go to turn on a feature: http://screencast.com/t/keWCTkNx

[2016-10-26 23:35] fnisen commented on #176
No hover state for "My projects": http://screencast.com/t/h5ukFowa

[2016-10-27 05:34] vikasrohit commented on #395
Thanks for noticing that @fnisen Done, Changes are in dev.

[2016-10-27 15:46] vic-appirio commented on #133
not yet. There's a small change needed. @mahestro we need some changes so that the .svg are loading correctly - right now the resources are not picked up at my local environment. Can you put another task as I have a bit more requirements:

- [ ] Fix the path resolution for resources within CSS - right now the path alias works with "require", but for resources it is not; thus we can't load the appr

[2016-10-27 15:52] vic-appirio commented on #354
I'd like to take a consistent approach for adding items through the top "+" button. From my perspective we still haven't fully implemented this component the way it could be a reusable global component;

- [ ] Adding always covers the header - title transforms into module title; "+" becomes "x", the controls are always on top of the panel

- [ ] The rest of the side panel should be unaccessible wh

[2016-10-27 16:07] vic-appirio commented on #365
Bouncing that one out to Didi: We need to fix a bit of the rendering, so that the feature preview is going to be responsive; current model isn't supporting that.

[2016-10-27 16:15] vic-appirio commented on #287
Agree with @mahestro: from a UX perspective clicking on the logo is a "reload homepage" action. Any major website employs this pattern - go search on google/facebook/apple/anywhere, and after clicking the logo you'll go to the home page, resetting the search experience.

[2016-10-27 16:18] vic-appirio commented on #284
This is another issue - hover state on all components to indicate they can be activated (switch component in particular) - we haven't updated this component. I'll create a generic issue for Didi for refactoring if you don't mind @fnisen , and close this one.

[2016-10-27 16:18] #284 closed

[2016-10-27 16:25] vic-appirio opened #504 "Form components refactor"
We should pay some attention to the form components and unify them.
- [ ] Disable user select of labels #280 #176 https://github.com/appirio-tech/connect-app/issues/284
- [ ] Consistent sizes, positions, colors,
- [ ] Use of variables & react-css-modules,
- [ ] Add all missing states of the components

[2016-10-27 16:33] vic-appirio commented on #176
Captured as an issue; closing. This is a duplicate

[2016-10-27 16:33] #176 closed

[2016-10-27 16:34] vic-appirio opened #505 "Feature picker fixes"
I'm combining all the related issues under a task list for convenience:
- [x] Add responsive layout and resizing of the feature preview image - #365
- [x] Change the "x"-mark with a button that says "Save & close" - #247
- [x] Disable user select on most of the interactive elements - #280

[2016-10-27 16:35] #247 closed

[2016-10-27 16:35] #280 closed

[2016-10-27 16:37] vic-appirio commented on #258
Auto-expand is not a CSS feature. It is controlled with JavaScript; we'll need an engineering task/new feature request.

[2016-10-27 19:04] fnisen commented on #287
@vic-appirio OK, fair point. Let's support this.

@vikasrohit could you please implement clicking on the logo to take the user to project listings, with filters reset?

[2016-10-27 19:07] fnisen commented on #354
@vic-appirio yes, it does. The one I'd like to add is focusing you right away on where you're adding the team member. You shouldn't have to scroll down to find it. Do you want to do a prototype of the expected experience?

[2016-10-27 19:14] fnisen commented on #395
@vikasrohit sorry, one more thing on this. I'm on scrolling on the left-hand panel, the scroll bar drops through, it doesn't bump, as it should when I've reached the end of the component. Here is what I mean: http://screencast.com/t/YtKshmaOD

[2016-10-27 20:12] fnisen commented on #258
OK, got it, thanks.

[2016-10-27 20:38] vic-appirio commented on #236
Fixed in react-components

[2016-10-27 20:38] #236 closed

[2016-10-28 06:26] vikasrohit commented on #395
Thanks @fnisen for noticing. Fixed and deployed in dev.

[2016-10-28 06:26] #395 closed

[2016-10-28 06:36] vikasrohit commented on #317
Done. Changes are in dev. @vic-appirio @fnisen Please let me know if I have missed anything from the specs.

[2016-10-28 06:37] vikasrohit commented on #244
Fixed. Changes are in dev. Please let me know if you still see any issues.

[2016-10-28 06:37] #244 closed

[2016-10-28 06:37] vikasrohit commented on #353
Fixed with latest changes for #244

[2016-10-28 06:37] #353 closed

[2016-10-28 07:23] vikasrohit commented on #245
Related issue #465

[2016-10-28 16:03] fnisen commented on #244
Works perfectly. Thanks @vikasrohit.

[2016-10-28 16:09] fnisen commented on #317
@vikasrohit the functionality looks good, but there's an edge case bug: if a user adds 5 colors and then deletes a color, they can't add any other colors. To correct this and simplify things, let's not impose a restriction on the number of colors. Please allow "unlimited" colors, but make sure the layout looks good (we stick with 5 per row or whatever makes sense). Thanks.

[2016-10-28 16:15] fnisen commented on #395
Looks great. Thanks @vikasrohit!

[2016-10-28 16:21] #375 closed

[2016-10-28 16:24] #429 closed

[2016-10-28 19:10] parthshah opened #509 "Redirect Discourse messages to connectv2"
When user's post a message through connect (status updates or messages/discussions) Discourse will send out emails to users notifying them of updates. Emails will contain a link to the post message. https://connectv2.topcoder-dev.com/messages/{topicId}.

We need to add a route to connect v2 to handle this URL.
- When the route is loaded, retrieve topic information from v4/messages/{topicId}
- retr

[2016-11-01 23:21] vic-appirio commented on #254
Do not limit the text with ellipsis, fix the breaking size of affordances (the red box in the screenshot) being too narrow. File size number and unit should be always 1 line (white-space: no-wrap).

[2016-11-02 07:34] vikasrohit commented on #509
@parthshah I guess, we should keep the URL as /discussions/{topicId} instead of /messages/{topicId}, to be consistent with the naming convention we are following for the messaging tab.

[2016-11-02 09:46] vikasrohit commented on #509
Done. Changes are in dev. I have made couple of improvements:

1. used 'discussions' instead of 'messages' in URL to be consistent with other messaging URL
2. Opened discussions tab when the concerned topic/feed is not a project status
3. Further, selected the particular feed in the discussion tab. However, right now, it won't scroll if the selected feed is in below the visible part of the list of

[2016-11-02 20:53] vic-appirio commented on #481
Assigning Luis to look into integrating the svg react loader

[2016-11-02 21:37] vic-appirio commented on #481
Merging it as part of the scaffolding issue task list

[2016-11-02 21:37] #481 closed

[2016-11-02 22:07] vic-topcoder opened #511 "Scaffolding project"
Let's try to finish the Scaffolding project. There are several more things that we need to add/fix to get it off the ground:

- [x] Fix the issue with .svg images referenced as CSS background (URL) not showing #133

- [ ] Use [SVG to React Loader](https://github.com/jhamlet/svg-react-loader/blob/version-0.4.0/README.md) to dynamically load the SVGs as React components #481

- [ ] Help us extend th

[2016-11-02 22:14] vic-appirio commented on #133
Merged into #511

[2016-11-02 22:14] #133 closed

[2016-11-03 05:56] vikasrohit commented on #465
Related issue #245

[2016-11-03 06:30] vikasrohit commented on #317
@fnisen I guess, it would be better to have some kind of limit always there. May be we can increase the limit to 10 or 20, but it should be there. Coming the bug you found, I have fixed it without changing anything on limits. I am committing the changes without any limit changes for now, please let me know if you still feel we should remove the limit or increase the limit.

[2016-11-03 07:03] vikasrohit commented on #509
@fnisen @ajefts  Any feedback on the #3 in my previous comment?

[2016-11-03 07:05] vikasrohit commented on #287
Changes are in dev.

[2016-11-03 07:05] #287 closed

[2016-11-03 09:43] vikasrohit commented on #320
Changes are in dev.

[2016-11-03 09:43] #320 closed

[2016-11-03 09:50] vikasrohit commented on #9
@fnisen @vic-appirio Do you guys need me to wrap this up? or is this working already?

[2016-11-03 10:37] vikasrohit commented on #238
Its issue with React v15.x, https://github.com/facebook/react/issues/6822 There is a workaround to overcome the issue, however, that would make the form slow because it requires handling onInput event instead of onChange event and onInput event is fired as soon as the value is changed in the text box. If the issue is critical, we can apply the workaround only for IE by detecting the browser.

cc:

[2016-11-03 16:44] fnisen opened #515 "Project creation: "Other work" option not visible to regular customer role"
When creating a new project, customers should see both tabs on the creation modal: "App Design & Dev" and "Other Work." Right now only App Design & Dev is shown (now both tabs are only visible to manager roles).

[2016-11-03 23:06] fnisen commented on #148
@vikasrohit yes, I can't reproduce either, although it was happening to me earlier. This must have been fixed as part of some other work. Closing. Thanks.

[2016-11-03 23:06] #148 closed

[2016-11-03 23:17] fnisen commented on #320
Thanks Vikas. Looks good.

[2016-11-03 23:19] fnisen commented on #287
Perfect, thanks.

[2016-11-03 23:34] vic-appirio commented on #9
Try with this one, regenerated to include all different sizes:

[favicon.ico.zip](https://github.com/appirio-tech/connect-app/files/570312/favicon.ico.zip)

[2016-11-03 23:36] fnisen commented on #317
@vikasrohit, OK that's fine. Let's leave it like this for now. It was working fine for me most of the time, but I was able to get into an error state on one project, although I couldn't reproduce consistently, https://connectv2.topcoder-dev.com/projects/515/specification, with the option to only add four colors.
<img width="684" alt="screen shot 2016-11-03 at 4 28 09 pm" src="https://cloud.githubu

[2016-11-04 01:17] fnisen commented on #238
@vikasrohit how about turning off the "X" in IE, as one of the other commenters suggested?

[2016-11-04 01:21] fnisen commented on #509
@vikasrohit sorry for the delay. I would want the user taken to the topic, and I'm not sure how reverting  #3 would fix that. You won't be taken to the topic at all? Could you maybe include a video of the options? Thank you.

[2016-11-04 06:04] vikasrohit commented on #285
Done. Changes would be in dev by my EOD.

[2016-11-04 07:48] vikasrohit commented on #509
Yep, you won't be taken to the topic at all. Page would open with first topic selected. On the other hand, I can start working on scrolling the left panel to the correct topic, if we can put that in a known issue.

[2016-11-04 15:57] fnisen opened #516 "Dashboard: status updates showing up in reverse chronological order"
On this project, the new updates have been pushed down and the Coder cards show up first: https://connectv2.topcoder.com/projects/48

[2016-11-04 16:40] parthshah commented on #516
@vikasrohit - can you please look into this. Hopefully it's straightforward.

[2016-11-04 18:36] fnisen opened #517 "Discourse email to topic link: scroll users to the correct topic on Discussions page"
Please see https://github.com/appirio-tech/connect-app/issues/509#issuecomment-258364188 for background.

[2016-11-04 18:36] fnisen commented on #509
@vikasrohit yeah, getting you to the correct place is important. I've created a new issue for that https://github.com/appirio-tech/connect-app/issues/517.

[2016-11-04 18:42] fnisen commented on #285
@vikasrohit it's not working (unless your changes are not yet in Dev). I can still end up in the state where the keyword filter has been applied, but the keyword itself is not shown: http://screencast.com/t/j3Q6mYJBzs2.

[2016-11-05 04:12] vikasrohit commented on #285
Yes, my bad. I was hoping that i would be able to deploy latest in dev by my EOD but was stuck in some other issues. I would update the thread again once the latest is deployed on dev.

[2016-11-05 04:12] vikasrohit commented on #509
Thanks @fnisen

[2016-11-05 04:16] vikasrohit opened #518 "Discussions URL shows empty page when user is not logged in"
### Expected behavior
User should be redirected to login page with correct return url

### Actual behavior
Shows empty page

### Steps to reproduce the problem
- Open new incognito window or logout from the application in normal window
- Now access the URL http://connectv2.topcoder-dev.com/discussions/403

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (client, copilot or manage

[2016-11-05 04:17] vikasrohit commented on #518
cc: @fnisen @parthshah @ajefts

[2016-11-05 04:17] vikasrohit commented on #509
BTW, I have found another issue #518 which I would try to fix asap.

[2016-11-05 04:17] #509 closed

[2016-11-07 06:42] #245 closed

[2016-11-07 06:43] vikasrohit commented on #238
Done. Removed the "X" for IE.

[2016-11-07 06:43] #238 closed

[2016-11-07 06:49] vikasrohit opened #520 "Dashboard || Scroll issue when adding team member (Windows)"
### Expected behavior
Should scroll normally and should not flicker

### Actual behavior
When the Add team member modal is open, if one tries to scroll up and down couple of times, it flickers a lot and gives bad UX which make user feel that scroll is not under their control

### Steps to reproduce the problem
- Go to challenge's dashboard
- Click on Add Team Member button (+ sign on top of the te

[2016-11-07 06:51] vikasrohit commented on #465
@fnisen I have got it fixed via community. Can you please once check it with your use case? Further, it seems this issue(mentioned in #245) was consistently there for Windows environment, so it would better if you can give a try on Windows environment as well. Please I have verified it on Windows/IE and Windows/Chrome environments in browserstack, but I am not sure how it would behave on real Wind

[2016-11-07 06:57] vikasrohit commented on #285
Now deployed and tested in dev environment. :)

[2016-11-07 06:57] #285 closed

[2016-11-07 07:42] vikasrohit commented on #516
@parthshah It seems by the time our system posted the coder messages, Matt has already posted his post. Here is the dump of the API response:

<pre>
`{
  "version": "v4",
  "result": {
    "success": true,
    "status": 200,
    "content": [
      {
        "id": 168,
        "date": "2016-11-04T11:32:34.505Z",
        <b>"lastActivityAt": "2016-11-06T04:58:24.913Z",</b>
        "title": "Hey ther

[2016-11-07 09:41] vikasrohit opened #522 "Discussions || Left side panel does not have scroll in Safari"
### Expected behavior
Left side panel, containing the discussion list, should have scroll

### Actual behavior
No scroll bar for discussion list

### Steps to reproduce the problem
- Login to application
- Open any project's Discussion tab

### Screenshot/screencast

<img width="1280" alt="screen shot 2016-11-07 at 3 09 54 pm" src="https://cloud.githubusercontent.com/assets/2417632/20052956/56bbf9

[2016-11-07 09:41] vikasrohit commented on #522
cc: @fnisen @ajefts @parthshah

[2016-11-07 09:41] vikasrohit commented on #518
Fixed. Changes are in dev.

[2016-11-07 09:41] #518 closed

[2016-11-07 10:26] vikasrohit commented on #317
@fnisen  Found the root cause and fixed the issue. It was happening whenever user adds the same color twice from the picker. Changes are in dev.

[2016-11-07 10:26] #317 closed

[2016-11-07 10:39] vikasrohit commented on #515
@fnisen Can you please let me know with which user account you are facing this problem? From code, I can see that it now allows all roles to created both type of projects. It was committed by Vic in [this](https://github.com/appirio-tech/connect-app/commit/b9e237f159451c72dac318c8081964bbcc990699) git commit.

[2016-11-07 12:01] vikasrohit commented on #371
@fnisen @parthshah Do we really want to remove double spaces in front end? Ideally it should the search engine which should optimize itself for this case. I guess when tokens are generated in search engine, double or more spaces should behave as single space.

[2016-11-07 12:30] vikasrohit commented on #517
Done. Changes are in dev.

[2016-11-07 12:30] #517 closed

[2016-11-07 22:12] fnisen commented on #371
Ooh, agree, seems like back end should handle it. @parthshah?

[2016-11-07 22:17] fnisen commented on #515
@vikasrohit OK, I see the issue. This works correctly in dev, but not in prod. Were Vic's changes merged to prod? It's not working correctly on any customer (non-admin, non-manager, non-copilot) prod account.

[2016-11-07 22:19] fnisen commented on #317
Perfect, thanks @vikasrohit!

[2016-11-07 22:22] fnisen commented on #516
@parthshah can you please check this out? Would like to get this one working by the GA.

[2016-11-07 22:39] fnisen commented on #465
@vikasrohit it's mostly working. I can scroll down and the switch is visible, but I'm not automatically scrolled down to enter a username. So, if the team panel is long and I click the "+" at the top, I won't know that the entry component has opened at the bottom: http://screencast.com/t/QfeJ69WkZV8q. Also, "Add a Team Member" should be left-aligned, per the design. Thank you.

[2016-11-07 22:43] fnisen commented on #285
Yes, now it's working! : )

[2016-11-07 22:55] fnisen commented on #241
Fixed as part of https://github.com/appirio-tech/connect-app/issues/238

[2016-11-07 22:55] #241 closed

[2016-11-08 00:42] parthshah commented on #516
@vikasrohit as part of email notifications through discourse fix, I've updated the code to add all the team members when the topic is created. So we *shouldn't* (with an Exception listed below) have the problem of lastActivityAt field being updated when someone is added to the topic.
Exception: If a user is added to the topic after the topic was created. This can occur in the following scenario -

[2016-11-08 01:08] parthshah commented on #491
@ajefts let me know once the APIs are in place. We can run the necessary challenges through the community to keep this in sync.

[2016-11-08 01:16] parthshah commented on #371
Ah .. i thought this was for search with just spaces, no?

[2016-11-08 03:04] fnisen commented on #371
The specific issue is when you search for a phrase, but insert extra spaces between your keywords.

[2016-11-08 04:57] vikasrohit commented on #465
Okay. Got it. But I guess that is separate issue and not in the scope of this issue. I would create separate issue to better track it.

[2016-11-08 06:37] vikasrohit opened #526 "Add Team Member || Modal is not visible after clicking on Add button"
### Expected behavior
Modal is opened at the bottom of the team members list which makes it not visible to the user if the list of the members is long enough to have its last element below the bottom of the viewport.

### Actual behavior
Modal should be visible or user should be scrolled to the end of the list automatically after clicking on the Add Team Member button. If page can be scrolled such

[2016-11-08 06:40] vikasrohit commented on #526
cc: @fnisen

[2016-11-08 06:40] vikasrohit commented on #465
Separate issue, #526, created to track it.

[2016-11-08 06:40] #465 closed

[2016-11-08 06:51] vikasrohit commented on #515
Changes seems to be there in master branch which is what should be in production. So, I am not sure how the issue is there on production. The only possible cause I can predict right now is that the users, facing the problem, don't have `Topcoder User` enabled on their account.

cc: @parthshah @ajefts

[2016-11-08 06:55] vikasrohit commented on #516
Okay. However, the exception case seems to be there frequently because most of the projects would keep having new team members as project progresses. Right?

[2016-11-08 16:51] parthshah commented on #516
Would it? Once the project has started the team shouldn't change a whole lot unless there are managers being swapped etc. In any case, adding a second sort criteria should help, right?

[2016-11-08 17:16] parthshah commented on #515
Adding @sudoster - all users should have Topcoder User role by default. @sudoster  can you confirm that Identity service adds this role when an account is created?
@fnisen do you have sample accounts that are not seeing this tab? We can verify the roles for those user accounts.

[2016-11-08 17:21] fnisen commented on #515
Yes, let's use my prod test account: beta_1/abcd1234.
<img width="1179" alt="screen shot 2016-11-08 at 9 19 44 am" src="https://cloud.githubusercontent.com/assets/12552247/20109372/9cf7c65a-a594-11e6-8449-43785dfcc152.png">

[2016-11-08 17:50] parthshah commented on #515
I manually added Topcoder User role to beta_1 user and I am able to see "Other work" tab. @sudoster should we assign this bug to you? All existing and new topcoder users should have "Topcoder User" role (role_id: 6).

[2016-11-08 21:47] fnisen opened #527 "Discussions: Discussion thread not showing all posts"
On our project discussion, https://connectv2.topcoder.com/projects/41/discussions, I was earlier seeing a state where not all the posts were showing. Here is what I saw (first message missing; notice no option to "Load Earlier Messages"):

<img width="761" alt="screen shot 2016-11-08 at 9 28 29 am" src="https://cloud.githubusercontent.com/assets/12552247/20118521/a2e9dfe2-a5b9-11e6-98f3-771032f6a1

[2016-11-08 21:51] fnisen commented on #526
Thanks @vikasrohit. Made one change to requirement: modal should not be opened at the top; that's not per design.

[2016-11-09 03:21] vikasrohit commented on #516
Yes, second search criteria should help, however, what it would be? If we are able to find a good second sort param (which ideally should be a date of latest post, with type being 'post', date for the topic), we can use it as first sort param itself. Why to use it as second sort param. 😬

[2016-11-09 06:33] vikasrohit commented on #520
Done. Changes are in dev.

[2016-11-09 06:33] #520 closed

[2016-11-09 10:06] vikasrohit commented on #351
@fnisen Done. Please let me know if the new behaviour serves the purposes.

[2016-11-09 10:50] #351 closed

[2016-11-09 14:48] ajefts commented on #491
will do @parthshah

Going to run a challenge shortly for it...

[2016-11-10 06:38] vikasrohit commented on #526
@fnisen I have updated the requirement further to have the cursor focused in the modal text box so that user doesn't need to make one more click to get started with searching members.

[2016-11-10 07:18] vikasrohit commented on #522
Done. Changes are in dev.

[2016-11-10 07:18] #522 closed

[2016-11-10 07:21] vikasrohit commented on #527
@fnisen Sorry, but I didn't understand how to reproduce the issue. Do we have defined steps to reproduce it or its intermittent?

[2016-11-10 07:56] vikasrohit commented on #252
Done. Changes are in dev.

[2016-11-10 09:41] vikasrohit commented on #249
Done. Changes are in dev.

[2016-11-10 09:41] #249 closed

[2016-11-10 21:45] fnisen commented on #351
@vikasrohit yes, tested and works well. Thanks.

[2016-11-11 19:52] fnisen commented on #252
@vikasrohit this is not working quite correctly. Here is the error behavior:
1. Make a change to the spec of any project (say in the notes)
2. Hit save; button is temporarily greyed out, but then blue again
2. Hit save again; button is now greyed out and stays grey until you make a change

[2016-11-11 19:53] fnisen commented on #527
@vikasrohit it happened to me just that one time; not sure how to reproduce it. If you don't see any errors in the code, let's not do anything for now and see if it reoccurs.

[2016-11-12 04:39] vikasrohit commented on #252
Yes, I saw that. And I cross checked that this behaviour is there well before this  change. And I tried to get rid of that, however, was not able to do so in time. Hence, I thought of closing this issue and created separate issue for tracking that. Anyway, I would try to fix this on Monday, if I am not able to close that, I would create separate issue for that.

[2016-11-14 12:30] vikasrohit commented on #527
@fnisen Actually, the code always doubtful because we have implemented the paging for posts with workarounds and hacks. And that is done because we don't have proper paging support in the API which in turn is limited by discourse's API limitations.
On the other hand while I was reviewing the submissions for a [challenge](http://www.topcoder.com/challenge-details/30055675/?type=develop&noncache=tru

[2016-11-14 17:23] fnisen commented on #527
@vikasrohit yikes. OK, what do you recommend?

@parthshah FYI

[2016-11-15 11:51] vikasrohit commented on #526
Finally, found working solution from the challenge. Merged and deployed changes into dev.

[2016-11-15 11:51] #526 closed

[2016-11-15 12:28] vikasrohit commented on #527
I have fixed the issue. IMO, it was a critical issue as it was causing wrong posts to be shown for topics. Although, I can't prove that this was the cause behind the initial error case reported in this issue, I think it might the root cause behind that.
PR is here https://github.com/appirio-tech/connect-app/pull/540

@parthshah Please let me know if I missed something here.

[2016-11-15 20:07] fnisen commented on #527
Thanks a lot @vikasrohit.

[2016-11-15 20:07] #527 closed

[2016-11-16 21:23] fnisen commented on #478
Seeing another weird instance of this issue. Added "jpoarch," but he didn't show up as a manager. Removed him and tried to add him again a few times, and now can't find him at all:

![screen shot 2016-11-16 at 1 21 05 pm](https://cloud.githubusercontent.com/assets/12552247/20366396/c53ace84-abff-11e6-9ca7-15ff97e5464c.png)

Saw something similar with Nikita. She showed up as a Manager when she cre

[2016-11-16 23:02] fnisen opened #541 "Project Details: notify user when they are leaving Specification tab without saving changes"
### Expected behavior
When there are unsaved changes (any change in the form or feature picker) and a user clicks on another tab, they should be notified that there are unsaved changes and confirm that they want to leave

### Actual behavior
User is not notified and all changes are lost

[2016-11-17 09:30] vikasrohit opened #542 "Project Specifications || Save buttons should be disabled when form is pristine"
### Expected behavior
1. Make a change to the spec of any project (say in the notes)
2. Hit save; button should be disabled (greyed out) and should remain in that state after successful update. In case of error it should turn blue again.
As obvious, buttons should be disabled on page load as well because the form is in pristine state.

### Actual behavior
1. Make a change to the spec of any projec

[2016-11-17 09:31] vikasrohit commented on #542
For background please see https://github.com/appirio-tech/connect-app/issues/252#issuecomment-260040993

[2016-11-17 09:32] vikasrohit commented on #252
@fnisen tried again, however, seems like it needs more efforts. Created separate issue https://github.com/appirio-tech/connect-app/issues/542 to track it.
Closing this one.

[2016-11-17 09:32] #252 closed

[2016-11-17 22:04] parthshah opened #543 "Change project name search to project keyword search"
Project API now supports 'keyword' filter that searches across name, description & invite code fields. Please update the front end code accordingly.
Sample API Request

```curl -X GET -H "Content-Type: application/json" -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyb2xlcyI6WyJhZG1pbmlzdHJhdG9yIl0sImlzcyI6Imh0dHBzOi8vYXBpLnRvcGNvZGVyLWRldi5jb20iLCJoYW5kbGUiOiJwc2hhaDEiLCJleHAiO

[2016-11-18 06:12] imvetri opened #544 "NPM Install error"
### Expected behavior
Describe. npm install should download all the packages for the project

### Actual behavior
Describe. npm install results in

npm ERR! fetch failed https://registry.npmjs.org/react-datetime/-/react-datetime-2.7.4.tgz

### Steps to reproduce the problem
- Git clone the project
- run npm install

### Screenshot/screencast
Attach or link a resource.
![npm_install_error](https://

[2016-11-18 07:41] vikasrohit commented on #544
Thanks for noticing it. It seems to be because of https://github.com/YouCanBookMe/react-datetime/issues/197. I tried to hardcode the version for react-datetime, however, that didn't fix it for me. We will continue to look into it.

[2016-11-18 09:27] vikasrohit commented on #544
Committed a temporary fix in dev branch. We would remove this fix when react-datetime is fixed.

[2016-11-18 09:27] #544 closed

[2016-11-18 10:19] vikasrohit commented on #543
@parthshah Done. Changes should be in dev. Just fyi, if any user has bookmarked a link with search filter, it would break i.e. user has to delete the bookmark and bookmark it again after this change.

[2016-11-18 10:19] #543 closed

[2016-11-18 10:19] vikasrohit commented on #541
Got it fixed by community. Winner: utkarshkukreti

[2016-11-18 10:19] vikasrohit commented on #542
Got it fixed by community. Winner: utkarshkukreti

[2016-11-18 10:19] #542 closed

[2016-11-18 19:26] fnisen commented on #543
Very nice you guys @parthshah and @vikasrohit! Working well. Thank you.

[2016-11-18 19:33] fnisen commented on #542
Working well. Thank you.

[2016-11-18 19:37] fnisen commented on #541
![screen shot 2016-11-18 at 11 31 02 am](https://cloud.githubusercontent.com/assets/12552247/20443709/ce4c4352-ad82-11e6-8f67-7e705da39c9a.png)

@vikasrohit can you please make one small change: the default should be "Cancel," not "OK"

[2016-11-18 23:31] fnisen opened #548 "General: All owners wiped from projects in production"
Something weird happened in Connect that I noticed just now--all owners were removed. No owners are showing up in the "customer" column on the project listing and project teams don't have anyone with the "Owner" label on the team management panel.

You'll notice that some projects do have an owner when you look at the listing. I added all of these manually.

[2016-11-18 23:46] vic-appirio commented on #365
Not completely functional. The image is not displayed correctly during resizing the image. Furthermore, the text of the feature gets squashed a bit too much - we need some minimal width there.

See attached screenshots (Safari, Chrome on Mac):

![screen shot 2016-11-18 at 3 39 18 pm](https://cloud.githubusercontent.com/assets/8484061/20450542/23f77ec0-ada6-11e6-8570-bf16327fbb27.png)
![screen shot

[2016-11-18 23:49] vic-appirio commented on #294
Fixed

[2016-11-18 23:49] #294 closed

[2016-11-18 23:49] vic-appirio commented on #258
Fixed, pending merge

[2016-11-18 23:49] #258 closed

[2016-11-18 23:49] vic-appirio commented on #254
Fixed, pending merge

[2016-11-18 23:49] #254 closed

[2016-11-18 23:52] vic-appirio opened #549 "selected input :hover state text is wrong color"
The hover state for select input & text area displays the text in gray, the color should not change from the normal state (black).

![screen shot 2016-11-18 at 3 41 00 pm](https://cloud.githubusercontent.com/assets/8484061/20450670/ee4d2e7c-ada6-11e6-89dc-dc9e836cac48.png)

[2016-11-18 23:59] vic-appirio opened #550 "Style HTML tags in post comments"
### Issue
Posting under Discussions on a project supports Markdown, which is rendered correctly as HTML tags `<em> <strong> <ul> <ol> <a>` but they are not styled when displayed on the discussion comment:

#### Code:
![screen shot 2016-11-18 at 3 53 58 pm](https://cloud.githubusercontent.com/assets/8484061/20450742/a2bcc7d2-ada7-11e6-852b-fac003912f2c.png)

#### Rendered:
![screen shot 2016-11-18

[2016-11-19 06:54] vikasrohit commented on #541
Sorry @fnisen This is default rendering of the browser. We can't override this behaviour. Even we can't guarantee that our message will be displayed. It is completely upto the browser to use the message to render the alert. e.g. Two different kind of alerts will be shown when user moves away from the page:
1. When user moves within application (our custom message is shown)
2. When user tries to cl

[2016-11-21 12:06] vikasrohit commented on #548
@fnisen I did try to debug it. However, I am not able to identify the cause. Can you please let me know any example where you remember that the project had owner earlier but not now and who was the owner at that time. It would help me in debugging the issue.

@parthshah Do you see any problem with this code?
src/projects/reducers/project.js
<pre>
`// in case this member was marked as owner unset a

[2016-11-22 19:28] fnisen opened #551 "Team management: increase Manager functionality"
I'd like to add to the Manager use cases in the team management functionality.

1. A Manager should be able to add another Manager; e.g., if a Manager adds a team member that also has a system Manager role, the newly added manager should show up with the "Manager" title. Currently, they would just show up as a regular team member (currently, they have to join themselves in order to have the Manage

[2016-11-22 19:36] fnisen opened #552 "Project listing: return user to previous spot in listing after back from project"
### Expected behavior
User is browsing listing and clicks on project. User clicks back or "Projects" in nav and is taken to the same spot where they were originally in the listing

### Actual behavior
User is taken to the top of the listing. Example: http://www.screencast.com/t/7plejM46P

[2016-11-22 20:13] fnisen commented on #548
@vikasrohit a good example is this project: https://connect.topcoder.com/projects/77. "adamf321" was the owner (I made him the owner again today). He was still on the team, but no longer had the "Owner" title.
Another example: https://connect.topcoder.com/projects/76; owner was "bluedotdental" (made him owner again today)

[2016-11-22 20:17] fnisen commented on #541
OK, got it, no problem. Thanks for the explanation @vikasrohit.

[2016-11-22 20:17] #541 closed

[2016-11-22 20:36] fnisen opened #553 "Project specification: adjust line height for file upload description"
In the process of fixing this bug https://github.com/appirio-tech/connect-app/issues/254, we changed description line height to 25px (from 20px), as shown here:
<img width="668" alt="screen shot 2016-11-22 at 12 21 31 pm" src="https://cloud.githubusercontent.com/assets/12552247/20540949/021e55be-b0b0-11e6-9efb-80e8e71156c3.png">

Can you please adjust it to be in line with style? Here is the code

[2016-11-23 03:32] fnisen opened #557 "General: restore terms of service page"
### Expected behavior
"Terms" footer link takes user to terms of service

### Actual behavior
"Terms" footer link goes to 404 page

We lost the terms of service page during the switch from v1 to v2. The original page is available here: https://github.com/appirio-tech/work-app/blob/7f568e0043a7de02209c0296478303b05cc52455/app/views/terms.jade. Can you please restore it?

[2016-11-23 03:58] vikasrohit commented on #552
@fnisen I can understand that for back button it should go back to the same spot where user clicked the project, however, I guess it should not be the case with Projects in nav link because we are clearing out all filters explicitly when user clicks on Projects from the nav link.

[2016-11-23 07:21] vikasrohit commented on #557
@fnisen I have added a new page under v2 app. I have tried to copy as is, however, we don't have Proxima Nova font now, so I have to use roboto for that. Please have a look on the new page in dev and let me know if any more update it needed.

[2016-11-23 07:35] #557 closed

[2016-11-23 11:15] vikasrohit commented on #551
@fnisen If allow managers to assign ownerships, I guess, we can(should) safely remove the confirmation alert which show when a manager adds a customer for the first time in a project. https://github.com/appirio-tech/connect-app/issues/346 implemented that confirmation modal.

[2016-11-23 11:20] vikasrohit commented on #548
@fnisen I am not yet comfortable with roles logic in connect. Right now I am working on #551, which would give me better understanding about how Team Management's roles are working. May be after that I would be able to debug the issue. Right now I am not able to reproduce the issue in dev.

[2016-11-23 12:28] vikasrohit commented on #551
@fnisen For first requirement, I need the role of the member being added to the team. I have tried almost all possible ways (getting it from members ES index, member service or user services) to get the role of the member, however, I failed to do so. Without role, there is only way to achieve the requirement which is to add a new tab in the switch i.e. Manager|Member|Copilot. However, this approac

[2016-11-23 12:41] vikasrohit commented on #552
@fnisen Investigated the possible solution. Found [react-router-scroll](https://github.com/taion/react-router-scroll) which implement browser's scroll behaviour, but it didn't work".
@parthshah do you have idea about it? How to maintain the scroll position after route change?

[2016-11-23 17:30] fnisen commented on #557
Thanks @vikasrohit. Looks good.

[2016-11-23 17:32] fnisen commented on #552
@vikasrohit that's actually not the expected UX. Clicking on Projects should not be clearing filters--they are meant to be sticky. Clicking on the Connect logo is the action that clears filters.

[2016-11-23 18:42] #365 closed

[2016-11-23 18:42] #549 closed

[2016-11-23 18:51] fnisen opened #561 "General: Redirect connectv2.topcoder.com to connect.topcoder.com"

[2016-11-23 19:50] fnisen opened #562 "Project creation: set up Salesforce web-to-lead"
@vikasrohit have an enhancement request, please. Related to this issue https://github.com/appirio-tech/connect-app/issues/112, Mauricio was working to set up a Salesforce lead to be created every time we had a new project come in (so that we could run drip campaigns). However, this worked required some changes to our instance of Salesforce, which Appirio IT is not allowing us to make. Joey has sug

[2016-11-24 03:16] vikasrohit commented on #552
My bad @fnisen I mixed the Project nav link behaviour with Connect logo. Its not reseting the filters on clicking on Projects nav link.

[2016-11-27 03:53] koukimetal opened #563 "Cannot resolve module 'react/lib/ReactMount'"
### Expected behavior
In dev branch, Some page should appear http://localhost:3000

### Actual behavior
I got white page.

### Steps to reproduce the problem
npm i
npm start

Many `Cannot resolve module 'react/lib/ReactMount'` appear

### Screenshot/screencast
Attach or link a resource.

--

I found https://github.com/mjohnston/react-native-webpack-server/issues/45
I changed version of react-hot-l

[2016-11-28 10:10] vikasrohit commented on #563
Valid issue. Thanks for reporting.

[2016-11-28 10:12] vikasrohit commented on #563
Temporary solution, until 3.x release of `react-hot-loader` is not published, is https://github.com/gaearon/react-hot-loader/issues/417#issuecomment-261548082

[2016-11-28 10:41] vikasrohit commented on #552
@fnisen Got it fixed via community. However, there is a use case which I am not sure how we want to handle. When user moves between different pages of the project list, should we maintain the scroll position? Right now it maintains the scroll position in this case as well. IMO, mostly this behaviour is not required with one exception case where a user remembers that the project, he/she is looking

[2016-11-29 01:26] fnisen commented on #552
@vikasrohit OK, have checked it out. Yes, maintaining is working well. I agree with you about the scroll position between listing pages--I would remove maintaining the position and reset it to go to the top of the page (this is behavior now if you click "Next"). I think it's more likely that a user going between pages would want to see the projects in order and so would want to be taken to the top

[2016-11-29 06:28] vikasrohit commented on #552
@fnisen I am not seeing the behaviour, you mentioned, for the "Next" button. For me it is still maintaining the scroll position. Nevertheless, I am committing changes which would resolve this for clicking on the page number as well.

[2016-11-29 07:32] vikasrohit commented on #552
Changes are in dev now.

[2016-11-29 07:32] #552 closed

[2016-11-29 07:59] vikasrohit commented on #562
@fnisen The link shared is not working. However, I have checked on web about the web to lead, and understood the basics of it. It does not seem complicated, however, it would require access to a dev org in salesforce so that I can test it out on my local.

Further, I may need some ramp up time for starting working on this because I don't have much acquaintance with Salesforce and our messaging ser

[2016-11-29 17:31] fnisen commented on #552
Working well! 👍

[2016-11-29 22:46] fnisen commented on #562
Thanks for researching this @vikasrohit. Can you please hold off from starting this work for now? Let me check with Tony about how best to handle it. If you don't have any particular experience with Salesforce or our messaging service, it may be better for us to run a challenge. Will get back to you.

[2016-11-29 22:54] fnisen commented on #279
Fixed the last part myself.

[2016-11-29 22:54] #279 closed

[2016-11-30 05:20] vikasrohit commented on #562
Okay. Even in case we get it fixed via community, I need to get understanding of the system to run the challenge and answer the queries.

[2016-12-02 23:59] fnisen commented on #562
@vikasrohit I checked with Tony. Please work on this when you're available (if you're helping with Discourse, that one is higher priority) and run challenges as you see fit.

The scenario we want to support is fairly basic:
When a user creates a new project in Connect, we create an SFDC lead with the following info: First Name, Last Name, Email (based on registration), and Project Name, Project De

[2016-12-03 15:42] appirio-jenkins commented on #562
@fnisen is this different from the connector mauricio worked on? We already
have all the code to create a lead in sales force
On Fri, Dec 2, 2016 at 3:59 PM fnisen <notifications@github.com> wrote:

[2016-12-05 06:37] vikasrohit commented on #551
@sudoster Can you help me out here?

[2016-12-05 06:46] sudo-tc commented on #551
I believe the current limitation is correct from security perspective. Non admin user should NOT be able to manage (change, create, view) OTHER user's roles.

We should not be exposing this feature bare to JavaScript, but provide necessary logic to change other user's role in the server side. The server logic should expose API that "ultimately" change other user's role, but the change should be do

[2016-12-05 07:40] vikasrohit commented on #551
Thanks @sudoster I think I can manage it in the backend.

[2016-12-05 07:43] vikasrohit commented on #562
Yes, @fnisen, you are correct. I don't remember why I mentioned message service, may be I got confused with discourse issue. I am setting up project service on my local machine. It would be helpful for me in https://github.com/appirio-tech/connect-app/issues/551 as well. I think most of my day today, will be consumed in setting up the environment, analyzing the problem and thinking the solution. M

[2016-12-05 19:25] fnisen commented on #551
Agree, we don't want to do role management as part of this feature.

@vikasrohit I would prefer the basic implementation of this if possible: when a Manager is added to the project, they're automatically added as a Manager. I don't want to get into the scenarios of having a Manager act as a Member or Copilot on the project because I think that will cause confusion. If you're not able to get the ro

[2016-12-05 19:30] fnisen commented on #562
Hey @vikasrohit, this one is a higher priority than #551. Also, you're right, Mauricio worked on the connector. However, it requires code changes to SFDC, which we're not able to make. Web-to-lead is supposed to be implementable with no code changes. Is that true?

[2016-12-05 19:35] parthshah commented on #562
`@fnisen is this different from the connector mauricio worked on? We already
have all the code to create a lead in sales force`. This was from me, posted it via email.  Let me know if you run into problems setting up tc-project-service

[2016-12-05 19:55] parthshah commented on #551
@vikasrohit  - we already have current logged in user's role accessible in FE. Can we not use that information to determine if we need to show 'Owner' role option when adding members. We don't want to change the user's TC role, just his/her project role, correct?

[2016-12-05 20:28] fnisen commented on #562
@parthshah ah, I see.

[2016-12-06 05:50] vikasrohit commented on #551
@parthshah Yes, agree we have logged in user's role but that won't be useful for adding a user as Manager for the project because in this case we need to determine the role of the user being added which we are not able to get.
@fnisen IMO, we need the role of the user being added to achieve the functionality. I think I can manage that in server side without exposing anything on front end. I can st

[2016-12-06 11:44] vikasrohit commented on #562
@fnisen @parthshah  I am able to create lead in salesforce with web to lead feature. However, we can't get the id of the lead created this way, hence can't store that for the project in db. So, I am not sure how would we create the link to the lead on the project details page. With my limited knowledge about Salesforce, I think only thing we can do is to give link to leads page with some query par

[2016-12-06 19:10] fnisen commented on #354
Fixed as part of these issues:
- https://github.com/appirio-tech/connect-app/issues/465
- https://github.com/appirio-tech/connect-app/issues/526

[2016-12-06 19:10] #354 closed

[2016-12-06 19:29] fnisen commented on #360
@vikasrohit this issue comes up in Win 7/IE 11. Can you please run a challenge to handle the browser "X" action to fully clear the form?

[2016-12-06 19:36] fnisen commented on #374
Current implementation allows for role flexibility/assignment. Members can be regular members or copilots on a project.

[2016-12-06 19:36] #374 closed

[2016-12-06 20:19] fnisen commented on #407
Not able to reproduce. Closing.

[2016-12-06 20:19] #407 closed

[2016-12-06 20:20] fnisen commented on #434
No feedback to support this. Closing for now.

[2016-12-06 20:20] #434 closed

[2016-12-06 20:22] fnisen commented on #443
Completed.

[2016-12-06 20:22] #443 closed

[2016-12-06 20:31] fnisen commented on #372
Here is the required design:
![99b22756-d1ed-44af-a14a-1d108d55373f](https://cloud.githubusercontent.com/assets/12552247/20942355/e60b29d2-bbaf-11e6-94bb-1b027af905c5.png)

https://drive.google.com/open?id=0B1LbmKnex41fTDhpM3NuWmNGU3M

[2016-12-06 20:46] fnisen commented on #453
Not able to reproduce in Prod. Closing.

[2016-12-06 20:46] #453 closed

[2016-12-06 21:43] parthshah commented on #562
Use connect project id as the custom field in Salesforce. That's how the current link is setup anyway.

[2016-12-06 22:52] fnisen commented on #462
Seems to work if I use the "strong" tag. Is this what you intended?

[2016-12-06 23:06] fnisen commented on #516
Guys, looks like we dropped this one, so bumping it. What still needs to be done?

[2016-12-06 23:08] fnisen commented on #553
Now fixed.

[2016-12-06 23:08] #553 closed

[2016-12-06 23:09] fnisen commented on #548
Going to close this for now b/c it hasn't reoccurred.

[2016-12-06 23:09] #548 closed

[2016-12-06 23:29] vic-appirio commented on #505
Fixed by Didi & Vic

[2016-12-06 23:29] #505 closed

[2016-12-06 23:29] #550 closed

[2016-12-06 23:36] fnisen opened #566 "Connect Login/Logout redirect not working correctly in Safari"
Two issues:
1. From "connect.topcoder.com," hitting Login takes user to "https://accounts.topcoder.com/member," instead of "https://accounts.topcoder.com/connect?retUrl=https:%2F%2Fconnect.topcoder.com%2F"

2. Logging out from Connect takes a user to their member Dashboard, not to "connect.topcoder.com"

Only seeing these in Safari for some reason, not Chrome or Firefox.

[2016-12-06 23:40] fnisen commented on #515
Fixed as part of this Asan task: https://app.asana.com/0/inbox/95457977915342/213496207959150/167544071523792

[2016-12-06 23:40] #515 closed

[2016-12-07 05:27] vikasrohit commented on #562
How would we map that custom field? Or it does not matter what name we give to that custom field or whatever is the id of that field?

[2016-12-07 05:31] vikasrohit commented on #360
@fnisen I guess it is the same reason which caused troubles with project creation form as well. We can simply remove the X button in IE11 which should be a quick fix.

[2016-12-07 06:54] vikasrohit commented on #562
@parthshah I have pushed my changes. Please review the changes here https://github.com/appirio-tech/tc-project-service/pull/28

[2016-12-07 07:24] vikasrohit commented on #566
Fixed. Changes are in dev.

[2016-12-07 10:55] vikasrohit commented on #166
@fnisen How do we want to handle the case where user hasn't completed the post i.e. either title or content is not filled yet but one of them has some content. This means user has something unposted but the post is yet to be completed.

[2016-12-07 23:02] fnisen commented on #360
👍  thank you.

[2016-12-07 23:06] fnisen commented on #566
@vikasrohit, part 2 of the issue is still not working: logging out from Connect takes a user to their member Dashboard, not to "connect.topcoder.com."

[2016-12-07 23:23] fnisen commented on #166
@vikasrohit good question. Let's prompt them in that case to the return to the post. The action in either case would be to take them back to the post itself, not to actually post on their behalf.

[2016-12-07 23:29] fnisen opened #568 "Dashboard: status update thread is too "sticky""
Been seeing and have gotten reports of issues with our status update components not refreshing quickly enough. A user will be on one project, on the Dashboard, go to the listing and click on another project, and see the Dashboard for the previous project. It will refresh after a delay or sometimes not at all and require a manual refresh.

@vikasrohit can you please see if you're able to reproduce?

[2016-12-08 05:17] vikasrohit commented on #360
@fnisen Haven't fixed the issue yet. 😬 Will do that today.

[2016-12-08 05:19] vikasrohit commented on #166
Okay. Just to be clear, we would show the alert even if the user has only typed one of title and content of the post.

[2016-12-08 10:00] vikasrohit commented on #166
@fnisen
-- Implemented the required behaviour with Discussions page. Took liberty to implement the same behaviour when user has unposted content and tries to change the thread from the left panel of thread list or clicks on the + to create new thread.
-- Implemented the required behaviour with Dashboard page.

Please check the behaviour in dev and let me know if you find anything not working or no

[2016-12-08 10:01] vikasrohit commented on #551
@sudoster @parthshah @fnisen Sorry, but I was not able to find any API from which I can retrieve the user's role even using the admin token from the backend. Without role, I won't be able to implement this feature.