[2021-01-05 12:38] maxceem commented on #4194
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 12:40] maxceem commented on #4194
This was fixed and looks like this now:

![image](https://user-images.githubusercontent.com/146016/103647323-cd521f80-4f63-11eb-876b-3b17dcc929a6.png)

@acshields let me know if you'd like to improve it.

[2021-01-05 12:46] sanju-singh commented on #4209
@maxceem , please assign.

[2021-01-05 12:47] maxceem commented on #4244
IMHO, I would suggest keep this functionality in code (don't disable) and just update the Project Templates as we can decide whether to create a phase or no using metadata editor.

[2021-01-05 12:47] maxceem commented on #4209
Contest https://www.topcoder.com/challenges/30161155 has been updated - it has been assigned to logicbreaker.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 12:52] maxceem commented on #4234
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 13:10] RishiRajSahu commented on #4244
@maxceem yep I meant disabling via template only :) . But you brought good point , so other than refactoring effort what else could be side-effect of removing from code, if we do it later in future sometime ?

[2021-01-05 13:17] maxceem commented on #4244
Yes. As we already have this implemented, if need to create some projects with predefined phases we can easily do that in the future.

[2021-01-05 13:53] acshields commented on #4244
@RishiRajSahu @maxceem - can this be wrapped up by 1/15?

[2021-01-05 13:54] acshields commented on #4194
@maxceem - it looks fine for now. Please release when able.

[2021-01-05 13:56] RishiRajSahu commented on #4244
@acshields yes, just wanted your confirmation on disabling it for all project intakes ?

[2021-01-05 15:16] maxceem commented on #4236
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 15:25] RishiRajSahu commented on #4206
@acshields  thanks, as a summary for @wdprice, we need a field `job_name` to be defined for jobs object. fyi @maxceem

[2021-01-05 17:06] maxceem commented on #4206
@yoution just for you to start more easily. Basically the next steps should be done:
- Copy `TalentPickerQuestionV2` to `JobsPickerQuestion`
- Use it to render question type `jobs-picker` here https://github.com/appirio-tech/connect-app/blob/feature/taas-jobs-2/src/projects/detail/components/SpecQuestions.jsx#L386
- After that in this component make the next changes:
   - show only one component i

[2021-01-06 05:28] drasticdpk commented on #4210
Verified on Dev env.
**Reference**

![image](https://user-images.githubusercontent.com/25297859/103732535-b23ce980-500f-11eb-9dfe-ba1acda57d1c.png)

![image](https://user-images.githubusercontent.com/25297859/103732716-11026300-5010-11eb-8a63-1a915ac6e447.png)

![image](https://user-images.githubusercontent.com/25297859/103732763-35f6d600-5010-11eb-82ae-01f9192a2d1f.png)

[2021-01-06 05:49] drasticdpk commented on #4234
Verified on Dev env.
From list view >  **OK**.
![image](https://user-images.githubusercontent.com/25297859/103733682-650e4700-5012-11eb-9a31-5fdce51a6038.png)

But still user can able to update same status from project details page , please fix it.
cc @yoution @maxceem

![image](https://user-images.githubusercontent.com/25297859/103733828-b1f21d80-5012-11eb-9b46-1cca66b787b5.png)

[2021-01-06 06:00] drasticdpk commented on #4236
Verified on Dev.
Status from **In- review** to **Active**
![image](https://user-images.githubusercontent.com/25297859/103734637-81ab7e80-5014-11eb-81ae-564370bfb874.png)

[2021-01-06 07:25] drasticdpk commented on #4237
Verified on dev env.

![image](https://user-images.githubusercontent.com/25297859/103741038-78c0aa00-5020-11eb-8e63-8fa7cd7c4bc0.png)

[2021-01-06 07:34] drasticdpk commented on #4207
Verified :
![image](https://user-images.githubusercontent.com/25297859/103741469-3b105100-5021-11eb-9c0f-2b1fcf89e197.png)
@maxceem  I have verified this issue based on the [discussion](https://github.com/topcoder-platform/tc-project-service/issues/582#issuecomment-703654821)  , let me know for anything.

[2021-01-06 08:45] drasticdpk commented on #4194
verified

![image](https://user-images.githubusercontent.com/25297859/103743697-b1fb1900-5024-11eb-9348-886e8f28e493.png)

[2021-01-06 10:16] sanju-singh commented on #4209
PR: https://github.com/appirio-tech/connect-app/pull/4246

[2021-01-06 11:59] maxceem commented on #4234
@yoution there is also another place on the challenge details page, could you please also take care of that?

[2021-01-06 12:12] yoution commented on #4234
@maxceem ok

[2021-01-06 20:04] maxceem commented on #4234
@drasticdpk great catch.

This is fixed and ready for QA.

[2021-01-07 04:21] drasticdpk commented on #4234
Verified on Dev
![image](https://user-images.githubusercontent.com/25297859/103850579-b3355000-50cf-11eb-8a7c-271aea7dc10f.png)

[2021-01-07 04:39] drasticdpk opened #4248 "let's auto focus at user input textbox [Common for all pages]."
### Benefit
we can reduce no. of click and user can save their time.

**Reference**
![image](https://user-images.githubusercontent.com/25297859/103851245-6c485a00-50d1-11eb-9551-2a4ac99b25ef.png)

[2021-01-07 06:12] sachin-maheshwari opened #4249 "[$40] Hide Change password/email functionality for Social Logged in user"
Please find detail here - https://github.com/topcoder-platform/tc-auth-lib/issues/29

[2021-01-07 11:30] maxceem commented on #4206
@yoution as per my testing all good with this task. The only thing we should not send `_key` to the server, we add this property only for internal usage to avoid rendering issues:

![image](https://user-images.githubusercontent.com/146016/103887818-601dc600-50ec-11eb-86a9-e4a086dbbe1a.png)

Could you please, create a new PR so we don't send this to server. Please, pull the latest changes from the

[2021-01-07 13:01] yoution commented on #4206
@maxceem please review

[2021-01-07 14:50] maxceem commented on #4206
@yoution I found one issue in the form, which is more important than sending `_key`.

When I start typing the first job title, after the first letter is typed, the field loose the focus and I cannot type anymore. I have click the job title field again, to continue typeing, see demo video https://monosnap.com/file/9GG8eHLPCkuionVQOUw6NebXD3dZ5W.

You may also test it online here https://connect-tes

[2021-01-08 03:21] yoution commented on #4206
@maxceem have pushed, please reivew, I also find a new method to store the `_key`, like so ,store in the prototype,
![image](https://user-images.githubusercontent.com/3863914/103970488-530fde00-51a3-11eb-9be3-16aae04a3eed.png),

but currently I have move the values to state, so donot need so complex

[2021-01-08 07:59] maxceem commented on #4209
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-08 08:00] maxceem commented on #4209
@sanju-singh I've mered the current fix for now. Though we still need to show the error message next to the message like this (color `$tc-orange-70`):

![image](https://user-images.githubusercontent.com/146016/103989364-45089000-5198-11eb-8718-e3c0eeafabd2.png)

Would it be possible?

[2021-01-08 08:17] maxceem commented on #4206
Thank you @yoution. I would review it in some time.

Did you have a chance to find the reason for Job Title loosing focus during typing https://github.com/appirio-tech/connect-app/issues/4206#issuecomment-756162413 ?

[2021-01-08 08:25] maxceem commented on #4194
@acshields when we submit TaaS Intake form, should we show all the same but link which goes to the TaaS App? Or would you like to update any texts for TaaS projects?

[2021-01-08 08:36] yoution commented on #4206
@maxceem when you change the title, the `_key` will regenerate a new one, the the key wil be not the same, so the component will unmount and create a new one
https://github.com/appirio-tech/connect-app/blob/feature/taas-jobs-2/src/projects/detail/components/JobsPickerQuestion/JobsPickerQuestion.jsx#L74

please try this demo
https://codesandbox.io/s/react-otp-input-demo-forked-nwuew

but I don't kn

[2021-01-08 08:39] maxceem commented on #4206
Hmm, yeah, `_key` should be generated only once per record.

[2021-01-08 08:44] yoution commented on #4206
@maxceem this demo,  https://codesandbox.io/s/mystifying-browser-5hgrs?file=/src/App.js:0-478

[2021-01-08 08:46] maxceem commented on #4206
Yeah, if `_key` got updated the focus would be lost.
So we have to make sure, that `_key` is always the same, not get updated.

[2021-01-08 08:49] yoution commented on #4206
have pushed

[2021-01-08 08:58] sanju-singh commented on #4209
yes, I am looking into it.

[2021-01-08 09:25] drasticdpk commented on #4234
Verified on Prod
![image](https://user-images.githubusercontent.com/25297859/103997654-7d719380-51c3-11eb-8677-6e2426de2687.png)

[2021-01-08 09:31] drasticdpk commented on #4237
Prod Verified.
![image](https://user-images.githubusercontent.com/25297859/103998877-739c6000-51c4-11eb-87ac-4c8f127884f5.png)

[2021-01-08 09:40] drasticdpk commented on #4210
Prod Verified.
![image](https://user-images.githubusercontent.com/25297859/103999935-ab57d780-51c5-11eb-8c8a-c8d3dbce9548.png)

[2021-01-08 09:57] drasticdpk commented on #4207
@RishiRajSahu @maxceem ,  Can you please assist me to verify this issue on prod env ?

[2021-01-08 09:59] drasticdpk commented on #4236
Verified on Prod
![image](https://user-images.githubusercontent.com/25297859/104001872-63867f80-51c8-11eb-83d5-878108a6738a.png)

[2021-01-08 10:00] maxceem commented on #4207
I don't think we know any project with broken Project Template. Actually this error shouldn't happen. It can only happen if we accidently deleted Project Template which is being used by some project. And we should not do it.

Maybe @RishiRajSahu is aware of some old project, because I have access to a limited number of project in PROD.

[2021-01-08 10:45] drasticdpk commented on #4194
Verified on Prod.
![image](https://user-images.githubusercontent.com/25297859/104005508-57e98780-51cd-11eb-8546-1412f1fb40d3.png)
![image](https://user-images.githubusercontent.com/25297859/104005996-0097e700-51ce-11eb-8550-c816707f7259.png)

[2021-01-08 14:23] RishiRajSahu commented on #4207
@drasticdpk yeah It can't be tested on project, as we never deleted any template on prod. If Dev worked fine that should be fine.

[2021-01-08 15:05] acshields commented on #4194
@maxceem that's a great catch, thank you. It should be different for TaaS for clarity's sake.

Let's update the language to be as follows:
Header: "Congratulations"
Header Sub-Text: "Your talent request has been created"

Main Body Text: "Topcoder will be contacting you soon to discuss your talent needs."

Button 1:
Button Header Text: "View Talent Request"
Button Sub-Text: "Modify your request an

[2021-01-08 15:23] drasticdpk commented on #4207
Ok noted @RishiRajSahu @maxceem

[2021-01-08 15:23] sanju-singh commented on #4209
Fixed in PR: https://github.com/appirio-tech/connect-app/pull/4253.

[2021-01-08 15:25] drasticdpk commented on #4194
@maxceem  shall I create new issue for above ?

[2021-01-08 15:27] maxceem opened #4254 "[$20] Update the "Submitted Screen" for TaaS Projects"
Follow up from https://github.com/appirio-tech/connect-app/issues/4194#issuecomment-756802537

If we created a project `type=PROJECT_TYPE_TALENT_AS_A_SERVICE` we should show different text on the project creation page. See for example, how we already use different links in source code https://github.com/appirio-tech/connect-app/blob/feature/taas-jobs-2/src/projects/create/components/ProjectSubmitt

[2021-01-08 15:27] maxceem commented on #4254
Contest https://www.topcoder.com/challenges/30161685 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-08 15:28] maxceem commented on #4194
@drasticdpk I've already created a separate issue https://github.com/appirio-tech/connect-app/issues/4254

[2021-01-08 15:30] maxceem commented on #4254
@yoution this is open for pick up.

[2021-01-09 02:11] yoution commented on #4254
@maxceem please assign to me

[2021-01-09 03:17] yoution commented on #4254
![image](https://user-images.githubusercontent.com/3863914/104081817-38556c00-526c-11eb-8e36-ec26f1619f0c.png)

how about this text? delete it?

[2021-01-09 09:13] maxceem commented on #4254
@yoution yes, remove this text.

[2021-01-09 09:13] maxceem commented on #4254
Contest https://www.topcoder.com/challenges/30161685 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-09 12:08] maxceem commented on #4254
@acshields one small clarification, should "All Projects" button lead to the list of all projects in Connect App, or to the list of all Teams in TaaS App?

![image](https://user-images.githubusercontent.com/146016/104091130-0ea83f00-5284-11eb-9bf6-f425a46d0424.png)

[2021-01-09 12:30] maxceem commented on #4206
@drasticdpk this is ready for partial testing.

- We've implemented new component for entering jobs as per the description in this comment https://github.com/appirio-tech/connect-app/issues/4206#issuecomment-754580004
- So the part inside the next component is ready for testing:

   ![image](https://user-images.githubusercontent.com/146016/104091619-2e8d3200-5287-11eb-8900-05604567a8f6.png)

[2021-01-09 14:23] maxceem opened #4257 "Show error message if we couldn't render a post during editing"
Fix a new case revealed during fixing issue https://github.com/appirio-tech/connect-app/issues/4209 which is described here https://github.com/appirio-tech/connect-app/pull/4253#issuecomment-757239110

[2021-01-09 14:27] maxceem commented on #4209
During fixing this issue, one more case was revealed and logged here https://github.com/appirio-tech/connect-app/issues/4257.

[2021-01-09 23:16] acshields commented on #4254
@maxceem - Have it lead to All Projects in Projects App (Connect).

[2021-01-10 08:54] maxceem commented on #4194
@acshields one more thing I've noticed. In this issue we've made "All Projects" button primary (blue) and "Go to Project" button secondary (white). I guess we have to make it vise-verse:
- "Go to Project" as a primary blue button on the right
- "All Projects" as a secondary white button on the left

What do you think?

![image](https://user-images.githubusercontent.com/146016/104118437-d8c19400-53

[2021-01-11 13:41] acshields commented on #4194
@maxceem - I agree with your assessment, the blue draws the attention & I think that most users would rather go directly to the project they just created vs. going to all projects at this time.

Can we switch the colors for all project intakes, including TaaS?

[2021-01-11 20:47] maxceem commented on #4194
@acshields I've switched the colors and places:

Connect Project
![image](https://user-images.githubusercontent.com/146016/104236203-cf821580-545e-11eb-9b33-b83d5cc754b1.png)

TaaS Project
![image](https://user-images.githubusercontent.com/146016/104236222-d9a41400-545e-11eb-92a8-78eb918b7e8e.png)

We can deploy it together with TaaS Release on Jan 14.

[2021-01-12 09:10] drasticdpk commented on #4206
- User should not able to put space char in text box which is mandatory fields.
![image](https://user-images.githubusercontent.com/25297859/104292863-727d7280-54e5-11eb-96a1-2faf92327a92.png)

- If there is empty job container, Next button should be disable.
![image](https://user-images.githubusercontent.com/25297859/104293270-f0da1480-54e5-11eb-9977-95f8b61dfdb2.png)

@maxceem  please suggest.

[2021-01-12 09:15] drasticdpk commented on #4205
@RishiRajSahu , please let us know I can we do QA for this.

[2021-01-12 09:23] maxceem commented on #4205
@drasticdpk this was done as a part of https://github.com/appirio-tech/connect-app/issues/4206.

![image](https://user-images.githubusercontent.com/146016/104295021-9f6f5c80-54c8-11eb-8a83-17f4a194abb9.png)

[2021-01-12 09:29] drasticdpk commented on #4209
@maxceem  I am unable to replicate the issue on Dev env, please let me if there anyway to replicate it.
![image](https://user-images.githubusercontent.com/25297859/104295618-cccc0280-54e8-11eb-9972-e9e1d4427a86.png)

[2021-01-12 09:30] maxceem opened #4258 "Cannot load old V2 projects"
At the moment old v2 projects cannot be loaded:

- see example project https://connect.topcoder-dev.com/projects/5000

![image](https://user-images.githubusercontent.com/146016/104295783-8dda8480-54c9-11eb-9bbf-61d4a6ce2dd1.png)

[2021-01-12 09:33] maxceem commented on #4209
@drasticdpk unfortunately, there is no way to replicate the issue after the issue is fixed. So the only thing which can be done, is to check that messages work in general, kind of smoke testing.

[2021-01-12 09:52] maxceem commented on #4206
good suggestions @drasticdpk

@yoution could you please, handle these issues? https://github.com/appirio-tech/connect-app/issues/4206#issuecomment-758515990

I would increase the prize for this issue for $20.

Regarding:

I can see that we already ignore the spaces in other fields like the project title so we should be able to config it for this field also:

![image](https://user-images.githubuser

[2021-01-12 10:06] drasticdpk commented on #4205
Verified.

![image](https://user-images.githubusercontent.com/25297859/104300012-094e2d00-54ee-11eb-9671-890df7efc089.png)

[2021-01-12 10:16] drasticdpk commented on #4254
verified.
![image](https://user-images.githubusercontent.com/25297859/104301099-5979bf00-54ef-11eb-9385-a36b5a958ac8.png)

[2021-01-12 10:34] yoution commented on #4206
@maxceem please review

[2021-01-12 14:08] acshields commented on #4194
@maxceem - awesome! Thank you.

[2021-01-12 14:23] acshields opened #4262 "Cannot reopen Complete project"
This project is in Complete status and needs to be reopened, but the option is not currently available: https://connect.topcoder.com/projects/658

The issue was originally reported to support in ticket #76573.

Goal: Identify root cause and solve.

[2021-01-12 14:58] acshields commented on #4206
@maxceem @RishiRajSahu - Mess saw the updated form in Dev and made one small change request: Spilt Hiring Manager Name and Hiring Manager Email into separate fields.

![Screen Shot 2021-01-12 at 9 48 15 AM](https://user-images.githubusercontent.com/41118149/104331143-5ca38980-54b4-11eb-94c1-f4a2c157bc1e.png)

Updates:
Field 1 Label: Hiring Manager Name
Field 1 Answer Format: Text Input Field

Fiel

[2021-01-12 15:38] maxceem commented on #4262
@acshields at the moment no-one can change project status once it's completed. Should Topcoder Managers, Copilots and Admins be able to change status when it's completed?

[2021-01-12 15:52] maxceem commented on #4206
@yoution the PR fixes the first issue "User should not able to put space char in text box which is mandatory fields." so I've merged it.

But there is a second part:

![image](https://user-images.githubusercontent.com/146016/104338157-df513680-54fe-11eb-986b-cc822a654240.png)

[2021-01-12 16:31] vikasrohit commented on #4258
Closing the issue as I have verified the reported projects(https://connect.topcoder.com/projects/658 and https://connect.topcoder.com/projects/24777) being loading successfully now.

[2021-01-12 16:31] #4258 closed

[2021-01-12 17:21] maxceem commented on #4195
@acshields we have some question before releasing it.

Should we apply this change only to the newly created TaaS Projects?

Or should we also apply this to all TaaS Projects which were previously created using our current TaaS form? https://connect.topcoder-dev.com/new-project/talent-as-a-service

[2021-01-12 18:50] maxceem opened #4263 "[$20] [TaaS] TaaS Intake Form should validate all the values to guarantee the Job creation in TaaS API"
During creating a TaaS project we are entering data for jobs:

![image](https://user-images.githubusercontent.com/146016/104358472-2a774380-5517-11eb-848b-b91cc04b378d.png)

Later these data is used to create Jobs in TaaS API using the next logic: https://github.com/topcoder-platform/tc-project-service/blob/develop/src/events/projects/index.js#L203-L212

If we pass some data for the Job which is n

[2021-01-12 20:08] acshields commented on #4262
@maxceem - Yes, I think that would be good.

[2021-01-12 20:10] acshields commented on #4195
@maxceem - Let me ask Will Price. I am not sure if he is planning to support previously created TaaS projects in the new TaaS App.

[2021-01-12 20:27] acshields commented on #4195
@maxceem - Just received confirmation from Will that he would want this applied for both historical TaaS projects and all new TaaS projects moving forward :)

[2021-01-13 08:49] yoution commented on #4206
@maxceem please reivew

[2021-01-13 11:01] maxceem commented on #4206
@drasticdpk both these issues https://github.com/appirio-tech/connect-app/issues/4206#issuecomment-758515990 were fixed and ready for QA via https://connect-test01.topcoder-dev.com/new-project/taas-jobs.

[2021-01-13 13:49] drasticdpk commented on #4206
Verified.
![image](https://user-images.githubusercontent.com/25297859/104460394-28c08500-55d6-11eb-8cea-5aa5ef55ee33.png)
![image](https://user-images.githubusercontent.com/25297859/104460556-57d6f680-55d6-11eb-95fd-2d0f3e227bce.png)

[2021-01-13 16:46] acshields opened #4265 "Automatically Invite SFDC Lead Owner to Project"
When a SFDC lead that has a Connect Project ID is assigned to an **Owner**, that person should automatically be joined to the associated project in Connect.

### Conditions
- SFDC lead has a Connect Project ID on it
- An Owner has been assigned to the lead
- The project does not have the objective flag: "demo/test/other"

### Workflow

1. An Owner is assigned to the lead in SFDC
2. The platform re

[2021-01-13 16:49] acshields opened #4266 "Automatic SFDC Opportunity Owner Add to Project"
When a SFDC opportunity that has a Connect Project ID is assigned to an **Owner**, that person should automatically be joined to the associated project in Connect.

### Conditions
- SFDC opportunity has a Connect Project ID on it
- An Owner has been assigned to the opportunity
- The project does not have the objective flag: "demo/test/other"

### Workflow
1. An Owner is assigned to the opportunity

[2021-01-13 18:21] #4156 closed

[2021-01-14 18:14] acshields commented on #4244
@RishiRajSahu - confirmed.

@maxceem - I know this won't make the 1/15 cut-off. One question for you: can this change be tackled purely by community effort, or will your/Rishi's direct involvement be required? I am asking because we did get approval to continue to run fixes during the next 6 weeks (when we will be doing our focused projects) if the work can be completely accomplished without direc

[2021-01-14 18:16] acshields commented on #4263
@maxceem - it doesn't seem like any work has been done on this issue. In your opinion, can this change be accomplished purely with community effort (and not direct involvement from Rishi, or heavy involvement from you)? As mentioned in the other issue, we can continue to run some fixes in the next 6 weeks if they do not require Topcoder engineering time or heavy Copilot invovlement.

[2021-01-14 18:18] acshields commented on #4262
@maxceem - I don't think work on this has started, right? Is this one where the necessary changes can be made through the community, without direct effort needed from you or Rishi?

[2021-01-14 18:24] acshields opened #4267 "New "Project Defaults" Tab & Screen in a Project"
### Update 1
- Add a new tab inside of projects that is labeled "Project Settings"
- Display this tab under the FAQs tab.

### Update 2
When clicked, the screen should show this [desktop design](https://marvelapp.com/prototype/bge9gab/screen/75960918) and [mobile](https://marvelapp.com/prototype/7hg6b9f/screen/75960686). Some notes on the design:
- There are additional screens designed here, which

[2021-01-14 18:28] acshields opened #4268 "New "Project Defaults" User Role Permissions"
### Update 1
In a project, only these user roles can view, access, and edit the Project Defaults tab:
- Copilot
- Admin
- Connect Manager
- Copilot Manager
- Project Manager
- Program Manager
- Account Manager
- BDR
- Account Executive
- Presales
- Solution Architect

[2021-01-14 18:35] acshields opened #4269 ""Project Defaults": Billing Account Display & Management"
### Update 1
Display the project's billing account as follows on the "Project Defaults" screen:
- Field Label: "Billing Account"
- Field Data: [Billing Account ID and Name populated in responsive dropdown menu]
- Field Sub-Text Label: [Hyperlinked: "Manage the billing account in Salesforce"]

### Update 2
Only these users should see the Field Sub-Text Label: [Hyperlinked: "Manage the billing accou

[2021-01-14 18:45] acshields opened #4270 ""Project Defaults": Groups Display & Management"
### Update A
Display the project's group question as follows on the "Project Defaults" screen:
- Field Label: "Intended Work Groups"
- Field Data: [Responsive Text Field]

### Update B
When the user types into the responsive text field, the returned options should only be the groups that they have access too.

[2021-01-14 18:46] acshields opened #4271 ""Project Defaults": Groups Display & Management"
### Update 1
Display the project's group question as follows on the "Project Defaults" screen:
- Field Label: "Intended Work Groups"
- Field Data: [Responsive Text Field]

### Update 2
Only these users should see the Field Sub-Text Label: [Hyperlinked: "Manage the billing account in Salesforce"]:
- Copilots
- Admin
- Connect Manager
- Copilot Manager
- Project Manager
- Program Manager
- Account M

[2021-01-14 18:54] acshields opened #4272 ""Project Defaults": Terms Display & Management"
### Update 1
Display the project's terms options as follows on the "Project Defaults" screen:
- Field Label: "Terms"
- Field Data: [Checklist], with these options:
-Topcoder Standard Terms [Hyperlinked to Topcoder NDA & Challenge Terms]
-Custom Client Terms

### Update 2
Only these users should see the Field Sub-Text Label: [Hyperlinked: "Manage the billing account in Salesforce"]:
- Copilots
- Ad

[2021-01-14 18:55] acshields opened #4273 ""Project Defaults": Terms Display & Management"
### Update A
Display the project's terms options as follows on the "Project Defaults" screen:
- Field Label: "Enforce Topcoder NDA"
- Field Data: [Yes/No Radio Buttons]
-Enforce Topcoder NDA [Hyperlinked to Topcoder NDA: https://www.topcoder.com/challenges/terms/detail/c41e90e5-4d0e-4811-bd09-38ff72674490]

### Update B
The user should be able to change selected defaults.

[2021-01-14 18:59] #4271 closed

[2021-01-14 19:00] #4272 closed

[2021-01-14 19:00] #4214 closed

[2021-01-14 19:05] acshields opened #4274 "Billing Account Functional Workflow: Testing"
Test the workflow for billing accounts between Salesforce and Projects App for these scenarios:
- A Client project (ID'd by objective flags: "I need work done now," "I am exploring my options," "Submitting client request") opportunity has an active billing account in Salesforce, and that billing account is reflected in the associated project.
- An Internal project (ID'd by objective flag: "Interna

[2021-01-14 19:08] maxceem commented on #4263
Yes, @acshields this can be done by a community member now, as I've already done some research during another task.

Sum up:
- Branch to work `feature/taas-jobs-2`
- Add the next validations:
  - title: max length `128`
  - description (no need max length, as we made it unlimited in the backend)
  - number of people max number `2147483647`
  - duration max number `2147483647`

[2021-01-14 19:08] acshields opened #4275 "Remove Billing Account ID Display in Left Sidebar"
### Update 1
Because the billing account will now be displayed on the "Project Defaults" tab, we no longer need to display this information statically in the project's left sidebar. Please remove this display.

[2021-01-14 19:08] maxceem commented on #4263
@yoution this issue is open for pick up for you.

[2021-01-14 19:13] maxceem commented on #4244
@acshields I think this cannot be done purely by a community member. This task had 2 solutions, one way would involve Rishi efforts to update Project Templates or another way would involve some control from copilot.

[2021-01-14 19:16] maxceem commented on #4262
@acshields yes, this could be done by a community member by moderate control from the copilot.

[2021-01-15 00:10] yoution commented on #4263
@maxceem please assign to me

[2021-01-15 00:59] acshields commented on #4244
@maxceem - Alright. I am going to deprioritize this one for now and save it for after 2/26 (our 6 week project cycle that kicks off next week), or until we finish the project work early (wishful thinking lol). Thanks for your input.

[2021-01-15 01:02] acshields commented on #4262
@maxceem - Alright, thanks for your input. I will leave this one prioritized for now and if we can fit this fix in sometime during the next 6 weeks, awesome.

[2021-01-15 01:02] acshields commented on #4263
@maxceem - awesome, I will leave it prioritized.

[2021-01-15 09:11] maxceem commented on #4263
Contest https://www.topcoder.com/challenges/30162506 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-15 09:11] maxceem commented on #4263
Contest https://www.topcoder.com/challenges/30162506 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-15 09:14] maxceem commented on #4263
Thank you @yoution. Works well.

Note, that I've tried to created a job with extreme values, and it created good https://platform.topcoder-dev.com/taas/myteams/16919/positions/094bf7c5-fe07-4776-a7a9-c6ab74def76b

[code]

[2021-01-19 12:13] maxceem commented on #4257
As per the suggestion in this comment, it makes sense to keep it as it is https://github.com/appirio-tech/connect-app/pull/4253#issuecomment-757328289

[2021-01-19 12:13] #4257 closed

[2021-01-19 13:06] sandhiyakavi commented on #4263
Verified.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/105038334-89523500-5aa2-11eb-8352-d672d3064572.png)
![image](https://user-images.githubusercontent.com/55895538/105038390-9a02ab00-5aa2-11eb-82ed-0556d0c9d254.png)

[2021-01-20 07:45] drasticdpk opened #4278 "What if user mistakenly make project status complete"
There should be functionality for admin to re-activate the project.

**Reference Issue :**
https://github.com/appirio-tech/connect-app/issues/4225

And still copilot can create the challenge from direct app even the project was completed from connect app.
**Reference**

https://connect.topcoder-dev.com/projects?sort=lastActivityAt%20desc&status=completed

![image](https://user-images.githubusercon

[2021-01-20 07:53] maxceem commented on #4278
@drasticdpk yep, we already have this request from Ariel https://github.com/appirio-tech/connect-app/issues/4262 it should be ready by `Feb 26`.

[2021-01-20 11:56] vikasrohit commented on #4270
@acshields we don't get Salesforce BA id when we lookup from our platform's BA API. So, we would need changes in SFDC to lookup for the BA in SFDC based on provided platform BA id.

[2021-01-20 12:01] vikasrohit commented on #4273
@acshields I don't think we need the Update 2 in this story, I don't see any relation between Terms and BA.

[2021-01-20 12:11] RishiRajSahu commented on #3426
@lakshmiathreya can we close this issue ?

[2021-01-20 12:16] RishiRajSahu commented on #3387
@maxceem I think we are now fetching member details via project-svc, so could we close this issue ?

[2021-01-20 12:17] vikasrohit commented on #4274
@acshields we (Sumit,Nikita and me) has already tested `I need work done now,` flow last week and it seems to work as expected. And IMO, the other values of Objective Flag should also behave the same as SFDC does not distinguish between these for the purpose of creating Opty and BA.

[2021-01-20 12:33] vikasrohit commented on #4269
@acshields

I am not sure why we need Update 3 because we are already showing a link to manage the BA along with the dropdown. Why would we need another link for linking to Lead or Opty now? In case, we need it where to show it? We already have that in left panel right now.

[2021-01-20 12:34] vikasrohit commented on #4269
@acshields we have to decide on how to pull the available BA for showing options because it would increase the scope if we have to alter the BA api or implement some changes in SFDC to get this work done.

[2021-01-20 13:21] lakshmiathreya commented on #3426
@RishiRajSahu yes...

[2021-01-20 13:21] #3426 closed

[2021-01-20 15:33] maxceem commented on #3387
@RishiRajSahu this is done only partially. From the quick look, we have only done cases 4-5, and cases 1-3 are still using this endpoint.

[2021-01-20 16:23] acshields commented on #4270
@vikasrohit - was this comment supposed to be in regards to the issue(s) for billing account, and not for groups? If it was for groups, I am not understanding how a BA plays a role for that.

[2021-01-20 16:24] acshields commented on #4273
@vikasrohit - correct. I was copy/pasting content and failed to delete that part. I have updated the spec.

[2021-01-20 16:31] acshields commented on #4274
@vikasrohit - you are correct that on our end, there should be no difference in the workflow between client vs. internal projects. However, my call out on the two use cases above is more to ensure that the Salesforce workflow is operating as expected.

For example:
- Client Workflow: In SFDC, Nikita has different automations in place to determine whether the request should be created as a lead vs.

[2021-01-20 16:46] acshields commented on #4269
@vikasrohit
**Feedback on Update 3**
What I am saying here is that the "Manage billing account in Salesforce" hyperlink should be smart enough to link to the project's lead, or opportunity, depending on what state it is in in Salesforce.
**Feedback on BA Workflow**
To modify the current BA API so that it can retrieve all active BAs associated with a project in SFDC, you said that changes would be

[2021-01-21 05:09] vikasrohit commented on #3387
@RishiRajSahu lets keep this issue open than, but I am moving it to Backlog for now.

[2021-01-21 05:14] vikasrohit commented on #4274
Agreed. We can make more tests for those remaining situations.

[2021-01-21 05:21] vikasrohit commented on #4270
@acshields sorry for the confusion, yes your are right my comment was in context of billing account https://github.com/appirio-tech/connect-app/issues/4269. I would comment in that issue for my intended concern.

However, I guess Update 2 is not necessary in this issue as well because groups does not have link to BAs as well.

[2021-01-21 05:28] vikasrohit commented on #4269
How would opening a lead or opty would help users to manage biling account though? lead does not have any billing account, and if we somehow know the SFDC billing account id for the platform BA, we can direct show the link to manage the BA in SFDC but that is tricky and depend on the api which we use to populate the available BAs and this what I intended https://github.com/appirio-tech/connect-app

[2021-01-21 15:40] acshields commented on #4270
@vikasrohit - updated to remove original "Update 2." Now reqs are labeled Update A and B and they should be accurate.

[2021-01-21 16:01] acshields commented on #4269
@vikasrohit - re: our conversation, we can use the Billing API to meet the need.

Here's how data should be returned from the Billing API: All billing accounts that the user has access to should be returned and displayed in the responsive dropdown menu. When a billing account is defaulted in a project, this will be part of the Project Update event that SDFC can consume. In this case, it can be con

[2021-01-21 18:00] ajefts opened #4280 "Set the status of a project member"
### Expected behavior
It would be useful to be able to set a resource as being active vs. not active.  In particular, this would be useful for copilots where we have cases where a copilot is on the project for a specific part of the timeline but not the entire project.  This would allow us to better understand which copilots are actively assigned to a give project as opposed to if they worked on i

[2021-01-21 18:00] ajefts commented on #4280
fyi, @acshields

[2021-01-21 18:42] acshields commented on #4267
@vikasrohit - I have attached the designs.

[2021-01-21 18:56] acshields commented on #4280
@ajefts - understand the thought here. One question, how would the active vs. not active be determined?
Would it be a manual indication by the Copilot, or a Topcoder Employee?
Do we look at using the scheduler service to create an automation where when the Copilot clicks into a project, they are set to active; and when they haven't clicked into the project in X days, they are set to inactive? (as

[2021-01-22 08:29] maxceem commented on #4269
@vikasrohit as discussed on Slack, we are going to use endpoint `/v3/me/billing-accounts` to get the list of billing accounts the current user has access to. Though inside response looks like we cannot match which project this account is attached to, I guess we cannot attach any arbitrary account to any arbitrary project, here is an example:
[code]

[2021-01-22 08:31] maxceem commented on #4263
Closing for payment processing will reopen after for Prod QA.

[2021-01-22 08:35] maxceem commented on #4263
Payment failed: [400]: Failed to get challenge details by Id Detail: "id" must be a valid GUID<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 08:35] maxceem commented on #4237
Challenge https://www.topcoder.com/challenges/e62229f8-5acd-4e95-9e99-836e8c4dd400 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 08:35] maxceem commented on #4237
Payment task has been updated: https://www.topcoder.com/challenges/e62229f8-5acd-4e95-9e99-836e8c4dd400
*Payments Complete*
Winner: nqv2018
Copilot: maxceem
Challenge `e62229f8-5acd-4e95-9e99-836e8c4dd400` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 08:36] #4237 closed

[2021-01-22 08:38] maxceem commented on #4236
Challenge https://www.topcoder.com/challenges/f5f3e9bd-838e-4646-9eac-cb8b09ef2f07 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 08:38] maxceem commented on #4236
Challenge https://www.topcoder.com/challenges/f5f3e9bd-838e-4646-9eac-cb8b09ef2f07 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 08:39] #4236 closed

[2021-01-22 08:39] maxceem commented on #4236
Payment task has been updated: https://www.topcoder.com/challenges/f5f3e9bd-838e-4646-9eac-cb8b09ef2f07
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `f5f3e9bd-838e-4646-9eac-cb8b09ef2f07` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 09:25] vikasrohit commented on #4269
Yes, that is okay and as per updated requirements (we got it confirmed in call yesterday with @acshields)

[2021-01-22 09:27] maxceem commented on #4234
Challenge https://www.topcoder.com/challenges/abaeefa3-13b0-4a86-80dd-73fbc905dfab has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 09:27] maxceem commented on #4234
Challenge https://www.topcoder.com/challenges/abaeefa3-13b0-4a86-80dd-73fbc905dfab has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 09:29] maxceem commented on #4234
Challenge https://www.topcoder.com/challenges/abaeefa3-13b0-4a86-80dd-73fbc905dfab yoution has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 09:57] maxceem commented on #4273
We would have to define NDA Terms ID in the config for DEV and PROD.

For DEV, we can use this one `7245bb7d-d7c9-45a0-9603-d5ff05af0977` (Appirio NDA v2.0) or you may suggest another one.

For PROD we need this to be provided.

[2021-01-22 10:04] maxceem commented on #4273
@vikasrohit we have some API issue with terms.

Projects have a property `terms: []` which accepts the array numbers, as legacy terms had number ids.
New V5 Terms have ids as uuids like "7245bb7d-d7c9-45a0-9603-d5ff05af0977".

So if I try to set V5 terms ids, Projects API would return error:
[code]

There are several things to consider:
1. We can update the validation rule and accept strings for `

[2021-01-22 10:14] maxceem commented on #4270
@vikasrohit at the moment Project object doesn't have a designated place to store assigned groups.

We have 2 ways to go:
1. Create a new field `groups` in the `project` model to store the list of Groupd ids as array of string. See how we store `terms` https://github.com/appirio-tech/connect-app/issues/4273#issuecomment-765292459.
2. Store groups in the `details` field which is JSON and we can add

[2021-01-22 10:16] maxceem commented on #4269
Got it.

@vikasrohit how to format "Manage the billing account in Salesforce" link. I see there are some special requirements but I'm not sure how to follow them.

[2021-01-22 10:17] maxceem commented on #4234
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 10:19] maxceem commented on #4234
Challenge https://www.topcoder.com/challenges/abaeefa3-13b0-4a86-80dd-73fbc905dfab has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 10:24] #4234 closed

[2021-01-22 10:24] maxceem commented on #4234
Payment task has been updated: https://www.topcoder.com/challenges/abaeefa3-13b0-4a86-80dd-73fbc905dfab
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `abaeefa3-13b0-4a86-80dd-73fbc905dfab` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 10:43] vikasrohit commented on #4273
We can copy it from https://github.com/topcoder-platform/work-manager/blob/develop/config/constants/production.js#L27

For `terms` field in Projects API, I don't think we are using that anywhere, it is a left over of initial projects api and I don't think we would have any project with any real data in that field. So, we should be safe to refactor that field now. We can do complete reindexing to c

[2021-01-22 10:52] vikasrohit commented on #4270
Yes, agreed. we should make it first class citizen of the Project object because we might need to query projects based on groups.

[2021-01-22 10:55] maxceem commented on #4270
@vikasrohit I guess I found where we previously stored groups `challengeEligibility.groups` https://github.com/topcoder-platform/tc-project-service/blob/develop/src/events/projects/index.js#L114.

Though this field also only accepted `numbers`.

Should we update the type of it and reuse it? Or add a new one, what do you think?

[2021-01-22 10:56] drasticdpk opened #4281 "[$10] About us, contact us & Privacy/Terms menu are missing on Web View."
![image](https://user-images.githubusercontent.com/25297859/105482493-89d01300-5cd0-11eb-8ef5-9f790d74621f.png)

[2021-01-22 11:45] vikasrohit commented on #4270
`challengeEligibility` is also one of the tech debt field which we are not using for any project. Even if it was set for some of the project initially, we are not reading it anywhere. So, we should be safe to introduce new field or reuse the same. However, I think having a dedicated field for groups make more sense to me. We could also think about create a new table called `project_defaults` OR `c

[2021-01-22 12:27] maxceem commented on #4209
Hi @sanju-singh

I'm sorry for the delay with the payment. I've processed it today https://www.topcoder.com/challenges/ab05670a-436e-48c5-b309-519391b36dc4?tab=details.

Thank you for the good solution!

Maksym

[2021-01-22 12:27] #4209 closed

[2021-01-22 12:27] maxceem commented on #4209
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-22 14:35] RishiRajSahu commented on #4244
@acshields Its done and updated for both Prod and Dev env.

[2021-01-22 20:01] ajefts opened #4283 "Update Request Copilot link"
Currently, the "Request Copilot" link in the left nav of projects app is pointing to a Google Form.  Please update it to use this URL instead:

https://topcoder.typeform.com/to/YJ7AL4p8#handle=xxxxx&projectid=xxxxx

The 2 params should be populated with the appropriate data:

- handle = the handle of the logged in user
- projectid = the ID of the current project where the request is being made fro

[2021-01-22 20:02] ajefts commented on #4283
@acshields This would be a huge help if we could get it in next week.

[2021-01-23 09:09] maxceem commented on #4210
Challenge https://www.topcoder.com/challenges/25a07f58-1023-4345-ab58-da2fc2126bf8 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-23 09:09] maxceem commented on #4210
Challenge https://www.topcoder.com/challenges/25a07f58-1023-4345-ab58-da2fc2126bf8 has been assigned to nqv2018.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-23 09:09] maxceem commented on #4194
Challenge https://www.topcoder.com/challenges/c3611f3a-33e7-418d-b575-bec891bf8594 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-23 09:09] maxceem commented on #4194
Challenge https://www.topcoder.com/challenges/c3611f3a-33e7-418d-b575-bec891bf8594 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-23 09:32] #4210 closed

[2021-01-23 09:32] maxceem commented on #4210
Payment task has been updated: https://www.topcoder.com/challenges/25a07f58-1023-4345-ab58-da2fc2126bf8
*Payments Complete*
Winner: nqv2018
Copilot: maxceem
Challenge `25a07f58-1023-4345-ab58-da2fc2126bf8` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-23 09:32] #4194 closed

[2021-01-23 09:32] maxceem commented on #4194
Payment task has been updated: https://www.topcoder.com/challenges/c3611f3a-33e7-418d-b575-bec891bf8594
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `c3611f3a-33e7-418d-b575-bec891bf8594` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-23 09:34] maxceem commented on #4263
Payment processed via https://www.topcoder.com/challenges/00dd37ce-ba60-446a-9b24-b3c48e329050

[2021-01-23 09:35] maxceem commented on #4254
Payment processed via https://www.topcoder.com/challenges/d46ae2e0-a682-4cdd-922f-0985c9970e4f

[2021-01-23 09:35] maxceem commented on #4206
Payment processed via https://www.topcoder.com/challenges/826a53b6-3981-496e-8c91-0b27a386fd28

[2021-01-25 08:10] maxceem commented on #4273
Sum up:
- if user enables NDA, then we should add NDA term to the terms array of the project `terms`. If use disables NDA, then we should remove NDA terms from the `terms` array if present.
- we should add a new ENV variable `DEFAULT_NDA_UUID` to https://github.com/appirio-tech/connect-app/tree/3051ef4c250bca7c42c209d648a259fae35a46a0/config/constants. For DEV and QA env the value is `e5811a7b-43d

[2021-01-25 15:49] acshields commented on #4283
@maxceem @vikasrohit - Tony has this small request for us to take on. Is this something we can get done and released this week?

[2021-01-26 00:46] acshields commented on #4262
### Updated Requirements
Copilots, Admins, and Topcoder Managers should be able to change a project status from "Complete" to another status, if necessary.

[2021-01-26 00:50] #4278 closed

[2021-01-26 00:54] acshields opened #4284 "TaaS Intake: Update "Duration" to be Weeks"
### Update 1
On the TaaS intake form, update the "Duration" input to read:

Field Label: "Duration (Weeks)"
Field Input: No changes

![image (26)](https://user-images.githubusercontent.com/41118149/105784592-b7ba8f00-5f3e-11eb-9b84-220236718e9c.png)

[2021-01-26 18:50] acshields opened #4285 "Project Plan Bug: "Actual Start Date" Overriding Subsequent Dates"
### Bug Description
**Project:** https://connect.topcoder.com/projects/26349
**Recreation Steps**
1. Create a new phase
2. Did not change the first milestone (Reporting) date(s), which were 1/26-1/29.
3. Added a second milestone (Deliverable Review) with the dates, 2/1-2/4.
4. Saved phase as draft
5. Published phase
6. End result: The first milestone's dates did not change. However, the second mil

[2021-01-27 10:20] vikasrohit commented on #4262
I know we are not targeting it during our shape up project, however, just like to raise the point that we should be looking at consequences of allowing changing project status from `Complete` or `Cancelled`. Specifically, how the things would flow to the SFDC.

[2021-01-27 12:27] vikasrohit commented on #4285
@acshields I think our timeline always assumes there would be no gap between two milestones i.e. as soon as one milestone is ended, the next one starts. Hence, it might be setting the start of second milestone to be immediately next to the first milestone's end date. Logically it does not make sense to me to have buffer spaces between two milestones durations. Timeline is a continuous  pattern of

[2021-01-28 10:49] vikasrohit commented on #4283
@acshields I have made the changes in dev and these would be included in our demo release for Projects Defaults project.

[2021-01-28 12:50] RishiRajSahu commented on #4207
Closing.

[2021-01-28 12:50] #4207 closed

[2021-01-28 13:17] drasticdpk commented on #4206
Verified on Prod
![image](https://user-images.githubusercontent.com/25297859/106143267-a4a3fb00-619a-11eb-8f40-4a401a04d9ca.png)

@maxceem however below change request has not implemented yet. Shall I create it new issue ?

Reference :
![image](https://user-images.githubusercontent.com/25297859/106143664-3449a980-619b-11eb-85cd-6c6ebda0d630.png)

[2021-01-28 13:20] drasticdpk commented on #4205
Verified on Prod Env.
![image](https://user-images.githubusercontent.com/25297859/106144076-cd78c000-619b-11eb-975e-a4b1a0dd6676.png)

[2021-01-28 13:26] drasticdpk commented on #4254
Verified on prod env :

![image](https://user-images.githubusercontent.com/25297859/106144608-88a15900-619c-11eb-8763-ad7348c4803b.png)

![image](https://user-images.githubusercontent.com/25297859/106144643-9820a200-619c-11eb-8f9c-769d0444915e.png)

[2021-01-28 14:09] drasticdpk commented on #4195
1. User is redirect to dev env instead of prod env.
Reference :
![image](https://user-images.githubusercontent.com/25297859/106148646-652cdd00-61a1-11eb-862c-0cb6d583548f.png)

2. @maxceem below changes has not implement yet , right ?

3. In my acc, i dot have pervious project with type TAAS, so I may not able to verify it. Any idea. ?
Thank you !

[2021-01-28 14:18] maxceem commented on #4195
1. User is redirect to dev env instead of prod env.

This is already fixed on PROD.

yes, for now there was not a strong requirement to make any other changes.

yeah, I'm not sure how to test it on PROD, I don't have access to old TaaS projects on PROD either.

[2021-01-28 14:36] drasticdpk commented on #4195
Verified.
![image](https://user-images.githubusercontent.com/25297859/106153193-63b1e380-61a6-11eb-919a-4d535303dc28.png)

[2021-01-28 14:37] drasticdpk commented on #4195
Ok noted @maxceem.
Based on above communication this is is verified on prod.

[2021-01-28 14:45] maxceem commented on #4273
This would need some code improvements, but functionality works good.

The fix includes fixes for issues:
- https://github.com/appirio-tech/connect-app/issues/4268
- https://github.com/appirio-tech/connect-app/issues/4267
- and current one

QA guidelines:
- Project Defaults tab would be only shown if we add `beta=true` flag to the URL like https://connect.topcoder-dev.com/projects/16839?beta=true

[2021-01-28 15:11] drasticdpk commented on #4130
Verified
![image](https://user-images.githubusercontent.com/25297859/106157687-0f5d3280-61ab-11eb-9dc2-77c803766cfd.png)
![image](https://user-images.githubusercontent.com/25297859/106157845-39165980-61ab-11eb-8d7a-689b7f71eb8f.png)

[2021-01-28 16:56] acshields commented on #4283
@ajefts - FYI :)

[2021-01-29 07:30] #4195 closed

[2021-01-29 07:30] #4130 closed

[2021-01-29 07:30] #4206 closed

[2021-01-29 07:30] maxceem commented on #4206
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-29 07:30] #4205 closed

[2021-01-29 07:30] #4254 closed

[2021-01-29 07:30] maxceem commented on #4254
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-29 18:24] acshields opened #4289 "Update TaaS Projects with Display Text"
Add this text above the TaaS App button in TaaS projects: "This project is a Talent as a Service Project. Click this button to navigate to a TaaS focused experience where you can get information specific to your TaaS team."

![image (27)](https://user-images.githubusercontent.com/41118149/106312772-0c4e5a80-621c-11eb-94e5-327a7e227340.png)

[2021-01-31 08:30] lakshmiathreya commented on #4283
Request Copilot form looks good. One suggestion - we should probably auto close the Request form tab once the Final submit happens? Currently the Tab is left open and redirects to the Connect login page. I can log a different Issue for that ... marking this as pass ...

[2021-01-31 15:44] lakshmiathreya commented on #4273
![image (1)](https://user-images.githubusercontent.com/51733042/106389316-b25eb800-6408-11eb-94ac-4c7346d30cb3.png)

[2021-01-31 17:19] lakshmiathreya commented on #4268
Verified User Role permissions for Admin, Manager, Copilot and User roles. cc @drasticdpk pls update the Role matrix accordingly for Project Defaults feature.

[2021-01-31 17:47] lakshmiathreya commented on #4267
Pls clarify @maxceem @vikasrohit - Update 1 - verified - Assuming its "Project Defaults" tab - not "Project Settings" ... Update 2 - doesnt seem to be added yet. cc @drasticdpk

[2021-02-01 04:49] drasticdpk commented on #4267
I agreed with @lakshmiathreya , it seems it is not updated yet. cc @maxceem

[2021-02-01 08:55] lakshmiathreya commented on #4267
@vikasrohit pls clarify ... cc @drasticdpk

[2021-02-01 09:38] vikasrohit commented on #4267
@lakshmiathreya @drasticdpk  I think all updates are included. The shared screen have group display management as well which we are separately tracking via https://github.com/appirio-tech/connect-app/issues/4270 and we have agreed on not following UI theme because we have to adhere to current designs. Further for the terms field (which is separately tracked via https://github.com/appirio-tech/conn

[2021-02-01 09:38] vikasrohit commented on #4267
Let me if anything else is pending here from implementation

[2021-02-01 10:52] maxceem commented on #4289
@acshields we can use UI like for Project Plan. Ariel, would you like to put some text as a title? Or we can just add text without a title.

![image](https://user-images.githubusercontent.com/146016/106449026-36a64f00-648c-11eb-8114-95e827dcb51d.png)

[2021-02-01 11:11] drasticdpk commented on #4268
Verified with beta flag.
![image](https://user-images.githubusercontent.com/25297859/106450893-e7711600-64ad-11eb-8501-64afcd4a0ee8.png)

[2021-02-01 11:29] drasticdpk commented on #4273
Verified
![image](https://user-images.githubusercontent.com/25297859/106453155-f9a08380-64b0-11eb-915b-5ed70e743f5e.png)

[2021-02-01 11:37] drasticdpk commented on #4267
![image](https://user-images.githubusercontent.com/25297859/106453715-d32f1800-64b1-11eb-9d57-bb04efd83f3b.png)
![image](https://user-images.githubusercontent.com/25297859/106453827-fb1e7b80-64b1-11eb-8c27-f94750c45f8d.png)

Note : Based on the above discussion it is verified. Can open for anything.

[2021-02-01 12:29] vikasrohit commented on #4267
There is separate issue (#4269 ) for tracking BA which haven't marked as ready for review.

[2021-02-01 13:35] maxceem commented on #4263
@sandhiyakavi this has been already pushed to PROD, should we test it before closing?

[2021-02-01 15:25] acshields commented on #4283
@lakshmiathreya - great catch for the auto-close. What is the Issue # for the one you created, so I can prioritize it accordingly?

[2021-02-01 15:28] acshields commented on #4289
@maxceem -

No title is required. However, I caught one text fix in Will's original text-body post that would be good to get updated. Please update the body text to read: "This is a Talent as a Service project. Click this button to navigate to a TaaS focused experience where you can get information specific to your TaaS team."

[2021-02-01 16:29] vikasrohit commented on #4283
@acshields @ajefts it is deployed to prod.

[2021-02-01 16:29] #4283 closed

[2021-02-02 07:24] sandhiyakavi commented on #4263
Verified in Prod. Job is getting created.

![image](https://user-images.githubusercontent.com/55895538/106565981-02f22480-6573-11eb-8faf-2b7952565ed6.png)

[2021-02-02 07:51] RishiRajSahu opened #4292 "Products array missing in random project"
Found this project in dev env https://connect.topcoder-dev.com/projects/600/specification
which doesn't have `products` array inside details json due to which specification page is not loading.

Potential fix - Patch to `details` json so that only new data(products array) is added leaving previous details json data intact.

[2021-02-03 16:22] maxceem commented on #4270
Sum up:
- We already implemented such a filed in Work Manager
  - see live demo on the page https://challenges.topcoder-dev.com/projects/16668/challenges/602bb38e-cd7a-4afd-9a9d-c645b24a12de/edit
  - demo video https://monosnap.com/file/1t1zeD5W1JKJI4JluWXVdPi1V0rTr8
  - see related code in Work Manager https://github.com/topcoder-platform/work-manager/blob/81485ee57b4f39dbd17c7d775dd659f3a77e7beb

[2021-02-04 16:37] acshields opened #4295 "Update "Est. FTE Hours Saved" Metric on All Looker Dashboards"
Update all Looker dashboards so that the Est. FTE Hours Saved Metric is calculated as follows:

[Looker Metric Name] / [20] = Est. FTE Hours Saved

[2021-02-04 17:37] maxceem commented on #4273
@vikasrohit at the moment for showing NDA field we are wrapping radio buttons inside the accordion:

![image](https://user-images.githubusercontent.com/146016/106932160-11317380-6720-11eb-8652-faf90ad696ad.png)

Would it be fine if don't do that, and just show radio buttons directly without accordion:

![image](https://user-images.githubusercontent.com/146016/106932124-04ad1b00-6720-11eb-8ae7-4418

[2021-02-04 18:35] acshields commented on #4273
@maxceem @vikasrohit - I am good with your alternate presentation suggestion, Maxceem.

[2021-02-05 09:30] vikasrohit commented on #4273
@maxceem I am good with it, my only concern is that if we want to make things consistent with our intake forms where we are using accordions to show summarized form because when reviewing or editing a form data, accordions are giving nice summary in lesser space then a full fledged form. Project Defaults/Settings also seems something where user might want to look at all of information filled in th

[2021-02-05 09:37] maxceem commented on #4273
@vikasrohit we could always add accordion to the form. Though I don't see a perfect technical solution for it now, without binding things which would be nicer to keep fully independent, but we can choose the less evil approach if we are sure that we need accordion.

Another concern I have regarding putting efforts into it is that if we eventually update Connect to a new design, I guess it would us

[2021-02-05 10:01] maxceem commented on #4273
@drasticdpk we've refactored the code of this issue and slightly updated UI, so it would good if re-test it again.

This is now ready to be tested on DEV as per https://github.com/appirio-tech/connect-app/issues/4273#issuecomment-769123525.

[2021-02-05 10:03] maxceem commented on #4270
This issue ready for testing on DEV.

QA guidelines:
- Project Defaults tab would be only shown if we add `beta=true` flag to the URL like https://connect.topcoder-dev.com/projects/16839?beta=true
- The tab with Project Defaults doesn't require this flag and can be accessed by the direct link https://connect.topcoder-dev.com/projects/16839/settings

[2021-02-08 12:58] drasticdpk commented on #4270
Verified on Dev

![image](https://user-images.githubusercontent.com/25297859/107222803-79909580-6a3d-11eb-9b99-cacc7a045cd1.png)

[2021-02-08 13:01] drasticdpk commented on #4273
Verified.
![image](https://user-images.githubusercontent.com/25297859/107223111-e60b9480-6a3d-11eb-9543-afba3e6aa42a.png)

[2021-02-11 10:40] drasticdpk commented on #4270
Verified on prod
![image](https://user-images.githubusercontent.com/25297859/107626330-bea70880-6c85-11eb-81b4-65ece3e80836.png)

[2021-02-11 10:43] drasticdpk commented on #4273
verified on prod
![image](https://user-images.githubusercontent.com/25297859/107626594-23faf980-6c86-11eb-87cf-ad399376f7da.png)
![image](https://user-images.githubusercontent.com/25297859/107626637-337a4280-6c86-11eb-974d-32c87090f45b.png)

[2021-02-11 11:48] drasticdpk commented on #4289
@vikasrohit ,
it is not fixed yet right ?
![image](https://user-images.githubusercontent.com/25297859/107632876-3463a200-6c8f-11eb-839d-da4e45f5e4b2.png)

[2021-02-11 11:51] maxceem commented on #4289
It's fixed in PR https://github.com/appirio-tech/connect-app/pull/4293 but it's not deployed anywhere yet, as there is no confirmation yet (as per Slack discussion on `connectqa` channel)

[2021-02-11 11:53] maxceem commented on #4263
@sandhiyakavi can we mark this issue as pass QA on prod and close it?

[2021-02-11 12:53] drasticdpk opened #4297 "Hide Project Default Menu/Screen for Customer Role"
**Reference**
![image](https://user-images.githubusercontent.com/25297859/107638072-33367300-6c97-11eb-9670-0eb218f74687.png)

![image](https://user-images.githubusercontent.com/25297859/107638562-d8e9e200-6c97-11eb-8d09-1528a37b3525.png)

cc @acshields

[2021-02-11 13:33] nkumar-topcoder opened #4298 "TaaS app : New req changes for description fields"
- For `TaaS Intake form` : convert (job) Description free format field to marksdown editor.
the editor should be  similar to **workmanager** `public specification`

![image](https://user-images.githubusercontent.com/33625707/107643075-b1951400-6c9b-11eb-89e4-9a760850d4ad.png)

cc : @RishiRajSahu @maxceem @wdprice @acshields

[2021-02-11 13:50] maxceem commented on #4298
On the one hand we already have a RichTextEditor which we use inside Connect App to edit messages:
![image](https://user-images.githubusercontent.com/146016/107644362-01fe7880-6c80-11eb-971f-b9a590ce22e8.png)

Though this editor has one big drawback - it doesn't work on mobile devices. So on mobile devices, we are falling back to a plain textarea field and I think this is not acceptable for the pr

[2021-02-11 21:01] acshields commented on #4297
@drasticdpk - agreed.

[2021-02-12 06:31] #4263 closed

[2021-02-12 06:31] maxceem commented on #4263
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-12 11:26] vikasrohit commented on #4297
@drasticdpk are you suggesting that https://github.com/appirio-tech/connect-app/issues/4268 is failing because the tab is visible for customers?

If yes, @maxceem I guess we need to fix it.

[2021-02-12 13:09] maxceem commented on #4269
Sum up:
- Add a select dropdown to choose a billing account.
- Options for this select should come from `GET {API_URL}/projects/{:projectId}/billingAccounts`:
   Example response:
[code]
   - when we choose the value and save, it should set value to `project.billingAccountId`
   - options should be formated like `{name} ({tcBillingAccountId})`, example `test12 (10000068)`
   - if the project has a

[2021-02-13 09:26] maxceem commented on #4297
Fixed via https://github.com/appirio-tech/connect-app/commit/2d04a30779397a22ddf4d586a1f64aa6e509214c and ready for QA in DEV:

![image](https://user-images.githubusercontent.com/146016/107846698-50ca2080-6dee-11eb-8f31-9f0c8a110a03.png)

[2021-02-16 09:37] #4268 closed

[2021-02-16 09:38] #4267 closed

[2021-02-16 09:39] #4273 closed

[2021-02-16 09:39] #4270 closed

[2021-02-16 09:45] drasticdpk commented on #4297
@maxceem , Let's  disable with direct link too for customer role

**Reference**
![image](https://user-images.githubusercontent.com/25297859/108045617-c4c52c80-706b-11eb-8d58-f8682ac86b7c.png)

[2021-02-16 11:04] maxceem commented on #4269
This is ready for QA. There are some test cases listed in the https://github.com/appirio-tech/connect-app/issues/4269#issuecomment-778185756 above.

[2021-02-16 11:11] maxceem commented on #4297
Task:
- Users who cannot see **Project Default** menu item, should not be able to access the page Project Defaults by the direct link https://connect.topcoder-dev.com/projects/17076/settings.

- If user doesn't have permissions, they should see the page with error message like we show for the metadata pages https://connect.topcoder-dev.com/metadata/projectTemplates (only admins can access this pag

[2021-02-17 11:10] maxceem commented on #4284
Done via https://github.com/appirio-tech/connect-app/commit/6139dffb3b1105512cdca9e7582f1bd0edffc7ea

Ready for QA on DEV by link https://connect.topcoder-dev.com/new-project/taas-jobs

@acshields, FYI I've changed the release date to the earlier `2/26` as the fix is trivial and it would be good to have for the TaaS App release on `2/26` as this field would be used in TaaS App since `2/26`.

cc @R

[2021-02-17 11:46] maxceem commented on #4298
Sum up:

TaaS Intake form available by link:
- DEV https://connect.topcoder-dev.com/new-project/taas-jobs
- PROD https://connect.topcoder-dev.com/new-project/talent-as-a-service

Should use Markdown editor to edit the `Description` field:

![image](https://user-images.githubusercontent.com/146016/108199579-eaaf0780-7125-11eb-8780-5df9df5ed333.png)

- Update component [JobPickerRow](https://github.

[2021-02-17 11:47] maxceem commented on #4298
@yoution would like to handle it?

[2021-02-17 12:38] yoution commented on #4298
@maxceem please assign to me

[2021-02-17 12:40] maxceem commented on #4298
Challenge https://www.topcoder.com/challenges/eb3e3d5a-7981-4fcb-a5bf-6032fa3bd484 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-17 12:40] maxceem commented on #4298
Challenge https://www.topcoder.com/challenges/eb3e3d5a-7981-4fcb-a5bf-6032fa3bd484 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-17 12:42] maxceem commented on #4298
@yoution assigned. Could you please, have a look at the reviews of the tasks in TaaS App first? This task could be done after them. Tomorrow is also fine for this.

[2021-02-17 20:58] acshields opened #4300 "[$10] Billing Accounts: Displayed Data Enhancements"
For all returned billing account options in a project, display the following details:
- Billing Account ID
- Billing Account Name
- Billing Account Expiration Date

[2021-02-18 00:57] acshields opened #4301 "[$50] Invitations: Typed Handle/Email Deletes if User Doesn't hit "Enter" Immediately"
**Current Behavior**
I type in a user's email address (or handle), but before I hit "enter" I click on the white space of the invitation pop-up window. The typed information disappears and I have to retype the information.

**Desired Behavior**
The typed information should save if the user:
- Hits "enter"
- Hits "space"
- Clicks on the pop-up window

[2021-02-18 03:54] drasticdpk commented on #4284
Verified on Dev

**Reference**

![image](https://user-images.githubusercontent.com/25297859/108303012-35378f00-71cd-11eb-9dec-8c325298e9fd.png)

[2021-02-18 06:23] drasticdpk commented on #4269
**Verification**
1. When /billingAccounts doesn't return any billing account

![image](https://user-images.githubusercontent.com/25297859/108313805-ff040a80-71e0-11eb-9c8d-786eff609b4d.png)
 2. When user has billing id but doesn't have a billing account id from the list.

![image](https://user-images.githubusercontent.com/25297859/108314373-e47e6100-71e1-11eb-9848-f2cb80415556.png)

[2021-02-18 06:27] drasticdpk commented on #4269
@maxceem ,
To meet the above test case scenario, I need test user having billing acc. Currently it is not returning any billing acc.  ( with user acc **jcori**). Please suggest.

Reference :
![image](https://user-images.githubusercontent.com/25297859/108314587-3cb56300-71e2-11eb-8421-bc36af6f4cb6.png)

[2021-02-18 07:20] vikasrohit commented on #4269
@drasticdpk try now, I have added `jcori` as resource to couple of biliing accounts.

[2021-02-18 09:33] drasticdpk commented on #4269
Ok thank you @vikasrohit. Now we can create more scenario.
Can you please help me to verify blow scenario.
Project has billing account but user does not have .

![image](https://user-images.githubusercontent.com/25297859/108336569-48ae1e80-71fc-11eb-9d4a-185309466999.png)

2. > if the project has a billing account id, but this list doesn't have this id, then add one more option: <Assigned Account>

[2021-02-18 10:55] vikasrohit commented on #4269
@drasticdpk I think both cases should show the option `<Assigned Account> (XXXXXXXX)`, right @maxceem ?

[2021-02-18 11:00] maxceem commented on #4269
Yes, it's broken now, I'm checking it...

[2021-02-18 13:12] maxceem commented on #4269
It has been fixed via d3d76eadfa412edb02fd58326b191e35b7f3bbda.

Also, showing "Loading..." during loading of the skills list.

@drasticdpk this ready for QA on DEV now.

[2021-02-18 17:47] acshields opened #4303 "Already Joined User Still Sees "You're Invited" on Project"
**Bug Conditions to Reproduce**
I invited one of my personal email test accounts (username: "arieltest") to [this project](https://connect.topcoder.com/projects/26833/).
I received the email invitation, clicked "Join Project, and went into the project.
Later, I signed back into Projects App (Connect) and when viewing the 'all projects dashboard' I saw that the "You're Invited" (Join Y/N) workflow

[2021-02-19 06:02] drasticdpk commented on #4269
**Verified**.

1. User doesn't have any billing accounts, but the project has a billing account id defined.

![image](https://user-images.githubusercontent.com/25297859/108464202-cf6c0580-72a7-11eb-9926-eb60dcd9a687.png)

2. User has some billing accounts, and the project doesn't have a billing account id from the list.

![image](https://user-images.githubusercontent.com/25297859/108463617-cf1f3a8

[2021-02-19 11:27] maxceem commented on #4275
Done via https://github.com/appirio-tech/connect-app/commit/9b2d9fdf4789ae79c49729e20acc2400bf3dc20f

@drasticdpk ready for QA.

[2021-02-19 11:48] maxceem commented on #4303
If after reloading the page this bug still persists, I guess this is an ES issue, and we have to try reindexing the project.
FYI @vikasrohit

[2021-02-19 12:02] vikasrohit commented on #4303
Yes, totally agree with @maxceem. @acshields are you sure you did a page refresh or went back to the project listing page using in app back button? If you are still seein `Invited` workflow for that same project on the listing page, let us know.

[2021-02-19 12:04] maxceem commented on #4298
@drasticdpk This is ready for QA on DEV

![image](https://user-images.githubusercontent.com/146016/108502385-65f5f200-72bb-11eb-95b0-53a8050ea82e.png)

Link for testing:
- DEV https://connect.topcoder-dev.com/new-project/taas-jobs
- PROD https://connect.topcoder-dev.com/new-project/talent-as-a-service

Example text for testing:
[code]

[2021-02-19 14:05] maxceem commented on #4298
@drasticdpk requirements are changed. Please, don't do the QA yet. We would revert it.

[2021-02-19 16:36] acshields commented on #4303
@maxceem @vikasrohit - Here's what happened:
-I received the email invitation, accepted it, and joined the project
-The next day, I opened a new browser tab logged in as "arieltest" and looked at my all projects dashboard

That's when I noticed the "invite" workflow was still displaying. Unfortunately, like a robot I just clicked "join" without thinking and didn't get a screenshot. I can try to re

[2021-02-20 08:46] maxceem commented on #4303
@vikasrohit this looks like ES issue:
- to fix it, we can reindex this project
- to debug it, we might check logs related to this project or related to the invitation or member id in the ES Processor. This way we could try find out which data inside the project caused the issue with reindexing
- the 3rd way to debug is trying to run our script we've created to compare data in ES and DB and see it'

[2021-02-20 11:55] maxceem commented on #4297
@drasticdpk This is done by https://github.com/appirio-tech/connect-app/pull/4305 and ready for QA on DEV.

[2021-02-21 12:02] maxceem commented on #4298
@drasticdpk this is ready for QA now https://connect.topcoder-dev.com/new-project/taas-jobs

The editor now is WYSIWYG, so the customer doesn't see Markdown markup and edit text only visually:

![image](https://user-images.githubusercontent.com/146016/108624407-74741300-744d-11eb-849d-c4901010d7e0.png)

[2021-02-22 06:17] vikasrohit commented on #4303
Thanks @acshields I guess, if you were able to join the project second time and now you are not seeing the Join button, it must have been temporary glitch (ES inconsistency) which got fixed when you performed the operation second time and we can close this issue. However, if you are still able to reproduce it (just try to unjoin and then join again), it might be an bug.

[2021-02-22 08:43] drasticdpk commented on #4275
Verified on dev env
![image](https://user-images.githubusercontent.com/25297859/108683768-2b3dc500-751a-11eb-86e4-78492a267eec.png)

[2021-02-22 08:54] drasticdpk commented on #4297
Verified on dev
![image](https://user-images.githubusercontent.com/25297859/108684995-b4093080-751b-11eb-8e74-41f67b745284.png)

[2021-02-22 09:35] drasticdpk commented on #4298
Verified on Dev Mode
**Reference**
![image](https://user-images.githubusercontent.com/25297859/108688710-53c8bd80-7520-11eb-86b5-49c7585c10d7.png)

@maxceem  However as end user perspective, I have some suggestion. If you are ok I can create separate issue, please suggest.

![image](https://user-images.githubusercontent.com/25297859/108689534-4cee7a80-7521-11eb-9cb7-d13734fa4f57.png)

[2021-02-22 09:44] maxceem commented on #4298
@drasticdpk Suggestions look good to me, at lest of the "order", but let's create a separate issue and get feedback from Ariel regarding increasing the width.

[2021-02-22 14:13] coderhacker opened #4308 "Observation and suggestion for description fields"
### Expected behavior
During description fields testing. I have observed a couple of suggestions. please find a below-attached screenshot with points

1.  border showing in red
2.  There is not any font color and background change option in the editor.
![image](https://user-images.githubusercontent.com/62358241/108718426-694fde80-7544-11eb-84df-8e19f0c9828d.png)
3.  There is not sub and sup option

[2021-02-22 14:23] maxceem commented on #4308
Hmm, I don't have such an issue. We can investigate this.

@coderhacker we are using an editor which lets us store the data in Markdown format. Markdown format has various limitation, which doesn't allow us to add these features to the editor.

Markdown doesn't support colors.

Markdown doesn't support sub and sup indexes.

If I click right mouse button I can see options to add/remove rows and col

[2021-02-22 20:35] acshields commented on #4303
@vikasrohit @maxceem - I was able to replicate this in a different project. Here are the steps I followed:

Invited "arieltest" (ariel.c.shields@gmail.com) to [this project.](https://connect.topcoder.com/projects/26349)
<img width="706" alt="Screen Shot 2021-02-22 at 12 28 03 PM" src="https://user-images.githubusercontent.com/41118149/108766399-f9bcfd80-7509-11eb-95c3-c4999d54d82b.png">

Accepted

[2021-02-22 20:38] acshields commented on #4298
@maxceem @drasticdpk - I am completely fine expanding the width. In fact, I am fine expanding the width on all the intake forms (I will log this as a separate issue).

[2021-02-22 20:46] maxceem commented on #4303
@acshields this is great that you could reproduce it again. Is it possible to invite me to this project by `maxceem`? So I would check it out, as I don't have access at the moment.

[2021-02-22 20:49] acshields commented on #4303
@maxceem - just invited you!

[2021-02-22 20:59] acshields opened #4309 "Typo: Design/Dev Intake Form"
<img width="681" alt="Screen Shot 2021-02-18 at 4 26 24 PM" src="https://user-images.githubusercontent.com/41118149/108769413-ce3c1200-750d-11eb-86e1-bdd0b6543f6d.png">

Remove extra "s's" at the end, to read: "Design add-ons" on the design/dev intake form.

[2021-02-22 21:03] acshields opened #4310 "[$20] Increase Body Width of All Intake Forms"
Increase the body width of all intake forms to match the updated width parameters of the [new TaaS form](https://github.com/appirio-tech/connect-app/issues/4298#issuecomment-783242097).

[2021-02-23 08:52] drasticdpk commented on #4297
Prod Verified.
![image](https://user-images.githubusercontent.com/25297859/108820674-a53a8080-75e4-11eb-80c6-2141fd413edc.png)

[2021-02-23 09:16] drasticdpk commented on #4269
**Prod Verification Reference :**
![image](https://user-images.githubusercontent.com/25297859/108821779-3c540800-75e6-11eb-9819-ab603b90fcb9.png)

![image](https://user-images.githubusercontent.com/25297859/108821905-67d6f280-75e6-11eb-9e74-314ae4fedc58.png)

@vikasrohit @maxceem
In prod mode  for user drasticdpk, the billing account "**Wipro - Zurich Testing Challenge**" is listing for all projec

[2021-02-23 09:21] drasticdpk commented on #4275
Prod verified
![image](https://user-images.githubusercontent.com/25297859/108823582-bb4a4000-75e8-11eb-9f8b-ed12961d5519.png)

[2021-02-23 11:09] lakshmiathreya commented on #4289
@maxceem can we move this out of this milestone pls?

[2021-02-23 11:11] vikasrohit commented on #4289
@lakshmiathreya I was doing exactly that right now. :)

[2021-02-23 11:35] #4275 closed

[2021-02-23 11:36] #4297 closed

[2021-02-23 11:44] vikasrohit commented on #4269
Yes, @drasticdpk I just verified that your handle is added as resource to this particular BA and it is expected to see all of the BAs that you have access to, in all projects because we haven't implemented the project level filtering of BAs for the first release. We will evaluate the usage of the feature and then based on feedback from users, we might implement project filtering for BAs.

[2021-02-23 12:27] drasticdpk commented on #4269
Ok noted @vikasrohit . Thank you!

[2021-02-23 12:27] #4269 closed

[2021-02-23 16:41] maxceem commented on #4262
@vikasrohit we can include this task into work for the next 2 weeks if you didn't find any drawbacks from SFDC point of view.

[2021-02-23 19:43] acshields commented on #4262
@maxceem - Right now, I don't think that SFDC is consuming the "Complete" status change for any purpose. @vikasrohit do you know?

I do think they are consuming the "Cancelled" status change (i.e. a project is moved to Cancelled) to disqualify a lead. However, I don't think that they have anything that listens for the change from Cancelled to a different status.

I am guessing if anything, I will

[2021-02-23 21:32] acshields opened #4315 "[$10] Update & Unhide "Manage billing account in Salesforce""
Update 1
Update hyperlink (Sumit will provide)

Update 2
Unhide hyperlink

[2021-02-24 11:12] vikasrohit commented on #4262
@acshields I don't think any one is consuming the `complete` status event, but better to check with SFDC team.

[2021-02-24 14:41] acshields opened #4316 "[$40] Unselect Billing Account Option"
If a project currently has a billing account selected on the Project Settings page, but that one and none of the other billing account options are valid, the user should be able to unselect the billing account so the field goes back to blank.

[2021-02-24 14:51] acshields opened #4317 "Unselect Default NDA Option"
A user should be able to unselect their default NDA option in project settings, instead of switching it, in the case they do not want a default for this field at all.

[2021-02-25 03:51] vikasrohit commented on #4317
@acshields I don't understand this requirement. I mean, by default the radio button is set as `No` in WM so, it does not matter if you are forcing the default from project or not when user selects `No` in Project Settings. So, I don't see need of unselecting it.

[2021-02-25 04:01] vikasrohit commented on #4316
@maxceem we can add an hyperlink similar to `Unassign task` for unassigning billing account.

[2021-02-25 05:40] vikasrohit opened #4320 "Wrong NDA UUID is saved when user selects Yes for Enforce NDA project settings"
reference issue https://github.com/topcoder-platform/work-manager/issues/1085

[2021-02-25 05:44] vikasrohit commented on #4320
fyi @lakshmiathreya @drasticdpk

[2021-02-25 06:14] #4320 closed

[2021-02-25 15:51] ajefts opened #4321 "Restrict project access based on groups"
**Feature Request:**

When we launch private challenges, especially when we have private communities such as Topgear, we need to be careful about who is allowed to be added to the project and underlying challenges.  Currently, it's possible to add a user to a project (both in Connect and Direct) that is not part of the restricted groups.

Example:

ACME Co is running a set of challenges that are r

[2021-02-25 15:51] ajefts commented on #4321
@acshields One for us to chat about...

[2021-02-25 16:49] acshields commented on #4316
@maxceem @vikasrohit - I am not sure if a hyperlink would work for what I was thinking about. Let me try to explain:
1. Imagine I did select a billing account from the dropdown list, either intentionally or by accident.
2. Then, I realize that the billing account I selected is incorrect. In addition, none of the other billing account options in the dropdown list are the one that I need.
3. In that

[2021-02-25 16:50] acshields commented on #4317
@vikasrohit - fair,  I will hold off on this one for now.

[2021-02-25 17:06] acshields commented on #4321
hey @vikasrohit - read this request from Tony and let's chat about it further.

[2021-02-26 04:27] vikasrohit commented on #4316
@acshields We are saying the same thing, only thing is that in my case I have labelled `X` as `Unassign Billing Account`. But `X` would also work.

[2021-02-26 04:34] vikasrohit commented on #4289
@acshields moved it out of `Project Defaults`, please move in to the appropriate one.

[2021-02-26 14:30] maxceem commented on #4316
Got it. So we can implement it the same way as we are going to implement a feature to un-assign a selected member in WM: https://github.com/topcoder-platform/work-manager/issues/1071#issuecomment-782003579

The library we are using for showing this select has a feature to show "cross" icon for removing the value:

![image](https://user-images.githubusercontent.com/146016/108496312-8c635f80-72b2-11

[2021-02-26 16:46] acshields commented on #4289
@vikasrohit - we should talk about how to handle these exception cases in Git (i.e. we get a request during our project cycle that does get approved, where should I put it). My concern is if I put it in the next "bug fix/quick win" round it will get missed until we are actually into that period of time, even though it's being requested for sooner.

[2021-03-01 09:48] maxceem commented on #4262
As I understand we don't include this into work until confirmed with SFDC team.

[2021-03-01 11:03] maxceem commented on #4281
@drasticdpk it was removed as per https://github.com/appirio-tech/connect-app/issues/4061

@acshields would you like these links in the mobile menu too? Or would you like to show them back?

[2021-03-01 11:05] maxceem commented on #4280
@acshields I'm not sure we've got the final requirements. Please, let me know if we already know how the business logic should work here.

[2021-03-01 11:21] maxceem commented on #4249
Sum up:
- we can handle it the same way as it's done in Community App on the page https://www.topcoder-dev.com/settings/account

   ![image](https://user-images.githubusercontent.com/146016/109490024-52ebda80-7a90-11eb-9af4-01b4ced24cf5.png)

- if a user is logged-in using SSO Service, then
   - disable email field so we cannot change it
   - show red warning message similar to Community App
   -

[2021-03-01 11:44] maxceem commented on #4285
@acshields @vikasrohit in general I agree with Vikas, that having buffers between milestones don't feet our logic quite well. Also, our current design doesn't reflect such buffers between milestones and we are only showing the start date of each milestone which also visually indicated the end of the previous milestone.

![image](https://user-images.githubusercontent.com/146016/109491992-f63def00-7

[2021-03-01 11:52] maxceem commented on #4300
Sum up:
- update format of options for billing account:

  ![image](https://user-images.githubusercontent.com/146016/109493383-166ead80-7a95-11eb-9cee-14509cfe682b.png)

  - additionally, show the `endDate` from the server response in format `23 Feb 2021`. So in total options should looks like:
     `Billing Account Name (2342545345) - 23 Feb 2021`

[2021-03-01 11:58] maxceem commented on #4303
@acshields thanks for inviting. Could you please check one more time if you can still see the invitation "Join/Decline" buttons for this project? Please, don't change anything, if you can still see the buttons, we would like to keep the project as it is to catch this error.

[2021-03-01 12:01] maxceem commented on #4309
@vikasrohit this issue has to be fixed inside the Project Template. I don't have permission for this on PROD.

[2021-03-01 12:15] maxceem commented on #4310
@acshields at the moment the width is `600px`. How much would you like to increase it? I suggest, not that much, for example until `720px`.

![image](https://user-images.githubusercontent.com/146016/109494973-4ae36900-7a97-11eb-8c84-2e557f7ff726.png)

I've noticed that designers prefer to make the forms not so wide, for example.

In TaaS App it's 640px:

![image](https://user-images.githubusercont

[2021-03-01 12:18] maxceem commented on #4188
@RishiRajSahu would you take care of this? Or should we task this out on DEV?

[2021-03-01 12:18] maxceem commented on #4315
@acshields we can include this task into the release as soon as we have a new hyperlink format.

[2021-03-01 12:20] maxceem commented on #4289
@vikasrohit I can see it implemented by Rishi but it's not yet merged https://github.com/appirio-tech/connect-app/pull/4293. I guess we want to include it into the current release, we only have to merge it and pass for QA.

[2021-03-01 13:13] maxceem commented on #4301
Sum up:
- I'm not sure if there is a solution for this task. The payment would be processed only if there is a solution provided.

[2021-03-01 13:15] maxceem commented on #4249
Challenge https://www.topcoder.com/challenges/27d1ab70-77c7-4ff5-bfdd-6cbcc7007f5c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 13:15] maxceem commented on #4300
Challenge https://www.topcoder.com/challenges/c3f58fe3-1608-441c-a44d-3fe3bb106ffb has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 13:15] maxceem commented on #4301
Challenge https://www.topcoder.com/challenges/3b86da61-87ed-4c88-8fcd-2f763e45f750 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 13:15] maxceem commented on #4316
Challenge https://www.topcoder.com/challenges/300bd9d2-1621-4259-b016-8e036e418827 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 13:30] yoution commented on #4249
@bug-bash-helper assign me

[2021-03-01 13:30] maxceem commented on #4249
Challenge https://www.topcoder.com/challenges/27d1ab70-77c7-4ff5-bfdd-6cbcc7007f5c has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 14:35] PrakashDurlabhji commented on #4316
@bug-bash-helper assign me

[2021-03-01 14:43] maxceem commented on #4316
[409]: Failed to add resource to the challenge. Detail: The Task is already assigned<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 14:49] PrakashDurlabhji commented on #4316
@maxceem dont know why is it not removing open for pickup label? I assume some issues hence m starting to work

[2021-03-01 14:50] Gauravseta commented on #4300
@bug-bash-helper assign me

[2021-03-01 14:50] maxceem commented on #4300
Challenge https://www.topcoder.com/challenges/c3f58fe3-1608-441c-a44d-3fe3bb106ffb has been assigned to gauravseta.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 15:01] maxceem commented on #4316
It's a bug in the GitHub bot, I've removed the label. Yes, you may proceed.

[2021-03-01 15:01] PrakashDurlabhji commented on #4316
@maxceem PR against which branch?

[2021-03-01 15:02] maxceem commented on #4316
`dev` branch.

[2021-03-01 15:12] acshields commented on #4281
@maxceem - I am unclear on the question. Are you asking whether these options should always show in the mobile menu (for example, while the user is inside their project and not just on all projects)?

[2021-03-01 15:16] maxceem commented on #4281
@acshields sorry for the confusion. Some time ago we removed these links from the desktop version of the Connect App, see #4061.

As I understand in the current issue @drasticdpk is asking to put them on the Destop version of the Connect App, because we have them in mobile menu.

So I guess there are 2 options:
1. We have to revert what was done in #4061 and put these links back to the Desktop ver

[2021-03-01 15:38] yoution commented on #4249
@bug-bash-helper    https://github.com/appirio-tech/connect-app/pull/4322 is ready for review

[2021-03-01 15:41] yoution commented on #4301
@bug-bash-helper assign me

[2021-03-01 15:41] maxceem commented on #4301
Challenge https://www.topcoder.com/challenges/3b86da61-87ed-4c88-8fcd-2f763e45f750 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 15:42] yoution commented on #4301
@maxceem which page can reproduce the issue?

[2021-03-01 16:03] acshields commented on #4303
@maxceem - I just logged back in with "arieltest" and do not see the "you're invited" on the project anymore. I didn't change anything this time, but I do not recall if I had done anything the last time I logged in (when I took those screenshots above).

[2021-03-01 16:19] yoution commented on #4301
@maxceem https://monosnap.com/file/0Vo9vJRgefMiibAp7PzfA7vvKQULoU
how about this approach

[2021-03-01 16:22] yoution commented on #4301
@bug-bash-helper   https://github.com/appirio-tech/connect-app/pull/4323 is ready for review

[2021-03-01 18:18] jswheeler commented on #4051
@RishiRajSahu

[2021-03-01 18:18] #4051 closed

[2021-03-01 18:25] jswheeler opened #4324 "Update segment script to support user consent"
### Expected behavior
Describe.
The connect app should support the segment 4.1.0 javascript app to support user consent (below).
[code]

Additionally,
The following process should be followed to implement consent manager
https://github.com/segmentio/consent-manager#standalone-script

Specifically:

- The consent code should be included on the same page as this analytics script
- The analytics.load

[2021-03-01 18:30] ajefts commented on #4280
@acshields At first I was just thinking we allow a manual update of status via the UI.  We'd have to think more through scenarios to automate it.

[2021-03-01 19:52] acshields commented on #4280
@ajefts - my concern is that if its manual, it won't ever be updated...

[2021-03-01 19:54] ajefts commented on #4280
valid concern, but I think it's still better to baby step into it?  We don't have good rules yet to auto update resource statuses.  We can manage the copilots when we add/remove copilots, which is being centralized via ops now.

[2021-03-01 21:26] acshields opened #4325 "Create New Project Type for Client Demos"
In order to have demo projects with reporting available, we need to create a specific demo project type.

[2021-03-01 21:28] acshields commented on #4325
Carrying this over from our Slack conversation... what details do we need to align on for the creation of this demo project type? (reminder: the goal with this project type is to enable Looker reporting in the project... i.e. we can show our internal data, and not accidentally expose any client information).

[2021-03-01 23:59] acshields commented on #4280
@ajefts - a few more follow-up questions:

1. When does Op typically add a Copilot to a project when multiple are required? All at the beginning, or at point-in-time need.
2. Will Ops design/enforce a process to have them click an "active"/"inactive" button
3. Is the ultimate goal to get this data into something like Looker, so you/Matty can have one report showing who's on what & whether they are

[2021-03-02 08:04] maxceem commented on #4300
@Gauravseta 12 hours have passed, but a Pull Request was not provided, so I have to unassign you from this task.

[2021-03-02 08:05] maxceem commented on #4300
Challenge https://www.topcoder.com/challenges/c3f58fe3-1608-441c-a44d-3fe3bb106ffb gauravseta has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 08:05] maxceem commented on #4300
@yoution this is open for pickup now.

[2021-03-02 08:06] maxceem commented on #4316
@PrakashDurlabhji 12 hours have passed, but a Pull Request was not provided, so I have to unassign you from this task.

[2021-03-02 08:07] maxceem commented on #4316
@yoution, @narekcat this is open for pickup now.

[2021-03-02 08:11] narekcat commented on #4316
@bug-bash-helper assign me

[2021-03-02 08:12] yoution commented on #4300
@bug-bash-helper assign me

[2021-03-02 08:12] maxceem commented on #4300
Challenge https://www.topcoder.com/challenges/c3f58fe3-1608-441c-a44d-3fe3bb106ffb has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 08:16] maxceem commented on #4316
[409]: Failed to add resource to the challenge. Detail: The Task is already assigned<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 08:33] yoution commented on #4300
![image](https://user-images.githubusercontent.com/3863914/109620510-ee567b80-7b74-11eb-8eaa-e4e4eb3278ce.png)

@maxceem I can not reproduce the issue, can you give me one account and projectid?

[2021-03-02 08:49] maxceem commented on #4300
@yoution looks like my demo account doesn't have them anymore, I reach out for obtaining some demo account.

[2021-03-02 09:02] yoution commented on #4300
I found the test data @maxceem

[2021-03-02 09:02] yoution commented on #4300
https://github.com/topcoder-platform/tc-project-service/blob/854f8c3576f1cbf14fda56f416ca8c12287ef8a3/src/routes/billingAccounts/list.spec.js

[2021-03-02 09:09] yoution commented on #4300
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/4326 for review

[2021-03-02 09:09] yoution commented on #4300
@bug-bash-help is ready for review is ready for review

[2021-03-02 09:10] yoution commented on #4300
@bug-bash-help https://github.com/appirio-tech/connect-app/pull/4326 is ready for review

[2021-03-02 10:02] vikasrohit commented on #4315
@maxceem here is the link format `https://topcoder.my.salesforce.com/apex/baredirect?id={tcBillingAccountId}`.

[2021-03-02 10:26] yoution commented on #4300
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/4326 is ready for review

[2021-03-02 10:50] maxceem commented on #4315
@yoution you may pick up this issue.

Sum up:
- show this link again https://github.com/appirio-tech/connect-app/blob/hotfix/taas-job-editor-improvements/src/projects/detail/components/BillingAccountField/index.js#L93-L103
- it would be visible on page like https://connect.topcoder-dev.com/projects/16952/settings
- create a new env variable `SALESFORCE_BILLING_ACCOUNT_LINK` similar to how we confi

[2021-03-02 10:51] yoution commented on #4315
@bug-bash-helper assign me

[2021-03-02 10:53] maxceem commented on #4315
Challenge https://www.topcoder.com/challenges/255f5ff2-fd50-454c-b012-aa1da45a9b7b has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 10:53] maxceem commented on #4315
Challenge https://www.topcoder.com/challenges/255f5ff2-fd50-454c-b012-aa1da45a9b7b has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 10:53] maxceem commented on #4315
@yoution assigned manually.

[2021-03-02 12:14] narekcat commented on #4316
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/4327 is ready for review

[2021-03-02 12:16] narekcat commented on #4316
Hi @maxceem . I have fixed this issue in front end side, but it requires fixes on back end side too. We need to add `allow(null)` to line https://github.com/topcoder-platform/tc-project-service/blob/develop/src/routes/projects/update.js#L44 and maybe `allowNull: true` to line https://github.com/topcoder-platform/tc-project-service/blob/develop/src/models/project.js#L10.

[2021-03-02 12:18] maxceem commented on #4316
Thank you for the details @narekcat, I would check this out.

[2021-03-02 13:13] yoution commented on #4315
@maxceem
show this link again https://github.com/appirio-tech/connect-app/blob/hotfix/taas-job-editor-improvements/src/projects/detail/components/BillingAccountField/index.js#L93-L103

change the https://github.com/appirio-tech/connect-app/blob/hotfix/taas-job-editor-improvements/src/projects/detail/components/BillingAccountField/index.js#L97 to **SALESFORCE_BILLING_ACCOUNT_LINK**?

[2021-03-02 15:30] maxceem commented on #4315
yes

yes, before we use the wrong link here, so we hide it. Now in the https://github.com/appirio-tech/connect-app/issues/4315#issuecomment-788784637 above, we've got the new URL for this link. But this URL is different from what we use before. So we have to update this URL to new one. And we have to introduce a new variable for this link `SALESFORCE_BILLING_ACCOUNT_LINK`.

[2021-03-02 15:35] yoution commented on #4315
@maxceem
but how about the url queryid，the old url used the projectid，but the new url use tcBillingAccountid？
 https://c.cs18.visual.force.com/apex/baredirect?id={tcBillingAccountId}

[2021-03-02 15:45] maxceem commented on #4315
Yes, new URL has to use `billingAccountId` form the project:

![image](https://user-images.githubusercontent.com/146016/109673747-fe735880-7b7e-11eb-915a-364b4b1871b8.png)

[2021-03-02 15:47] maxceem commented on #4315
@vikasrohit I've noticed one thing. The URL to manage billing account depends on the actual billing account assigned.
- So if the billing account is not assigned, we have to hide this link, because we don't which BA to manage
- If we change value in select we have to dynamically update this link even without form saving. because if we choose another value in the form user might expect that this li

[2021-03-02 16:29] acshields commented on #4315
@maxceem - I am not understanding the scenario :(

[2021-03-02 20:42] maxceem opened #4328 "Remove 2 options from TaaS Intake Form"
remove the following values from the Role dropdown: `QA Tester`  and `QA Engineer`

 Before:

![image](https://user-images.githubusercontent.com/146016/108870582-ec366f00-7600-11eb-9de6-8934d4954cec.png)

 After:

![image](https://user-images.githubusercontent.com/146016/108870506-d9239f00-7600-11eb-8a6c-56aba20d6b74.png)

[2021-03-02 20:42] maxceem commented on #4328
This is done as HOTFIX:
- DEV https://github.com/appirio-tech/connect-app/pull/4313
- PROD https://github.com/appirio-tech/connect-app/pull/4314

[2021-03-02 21:51] maxceem opened #4329 "When we click on the URL posted on the description; it is redirected to an invalid url"
**Testing URL:** http://connect.topcoder-dev.com/new-project/taas-jobs

When we create a job using TaaS Intake form, then when we navigate in TaaS App and click the links, it's broken. The same issue we have in TaaS App

- When we click on the URL posted on the description; it is redirected to `https://platform.topcoder-dev.com/taas/myteams/16873/positions/www.google.com` and displayed an error '"

[2021-03-02 21:53] maxceem commented on #4329
This is fixed and pushed to DEV by https://github.com/appirio-tech/connect-app/pull/4330

It's included in the PROD hotfix https://github.com/appirio-tech/connect-app/pull/4314

[2021-03-02 21:55] maxceem opened #4331 "Markdown Editor quick improvements #126"
Same like inside TaaS app we should remove some features from the editor which cause problems to us:

- Table - because cannot be converted properly to RCRM (in theory can, but somehow doesn't work)
- Tasks - because don't need and cannot be displayed in RCRM
- Indent - because of https://github.com/topcoder-platform/taas-app/issues/100#issuecomment-785131097
- Outdnet - because of https://github.

[2021-03-02 21:56] maxceem commented on #4331
This is fixed and pushed to DEV by https://github.com/appirio-tech/connect-app/pull/4330

It's included in the PROD hotfix https://github.com/appirio-tech/connect-app/pull/4314

[2021-03-03 04:28] sandhiyakavi commented on #4331
Verified in Dev. The features Table, Tasks, Indent and outdent are removed.

![image](https://user-images.githubusercontent.com/55895538/109752720-426c6900-7c24-11eb-81eb-ee14d7aea43e.png)

[2021-03-03 04:33] sandhiyakavi commented on #4328
Verified on Dev Env. The two options are removed.

![image](https://user-images.githubusercontent.com/55895538/109753159-14d3ef80-7c25-11eb-8005-196ebbe6a0d1.png)

[2021-03-03 04:44] sandhiyakavi commented on #4329
Verified on Dev Env.

Clicking the links of the Job description in Taas app are redirecting to the correct url.

https://user-images.githubusercontent.com/55895538/109753888-5add8300-7c26-11eb-8274-5d6571cea465.mp4

[2021-03-03 05:53] vikasrohit commented on #4315
Yes, I can confirm both points @maxceem. @acshields I can explain you in our next call.

[2021-03-03 09:20] sandhiyakavi commented on #4329
Verified on Prod. Working as expected.

https://user-images.githubusercontent.com/55895538/109783118-fb469e00-7c4c-11eb-9215-ec2627a32931.mp4

[2021-03-03 09:22] sandhiyakavi commented on #4331
Verified on Prod. Table, Tasks, Indent and Outdent are removed.

<img width="960" alt="prod_removed" src="https://user-images.githubusercontent.com/55895538/109783530-714b0500-7c4d-11eb-8d83-8fefb9336e68.png">

[2021-03-03 09:24] sandhiyakavi commented on #4328
Verified on Prod Env. Working as expected.

<img width="960" alt="4 options_prod" src="https://user-images.githubusercontent.com/55895538/109783673-96d80e80-7c4d-11eb-803a-c0b262f71e09.png">

[2021-03-03 13:14] #4328 closed

[2021-03-03 13:14] #4329 closed

[2021-03-03 13:14] #4331 closed

[2021-03-03 16:52] maxceem commented on #4316
[409]: Failed to add resource to the challenge. Detail: The Task is already assigned<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 19:01] acshields commented on #4310
@maxceem - lets do the 720px

[2021-03-03 19:03] acshields commented on #4281
@maxceem - let's remove them from the Mobile version :)

[2021-03-04 08:24] maxceem commented on #4300
QA guidelines:

![image](https://user-images.githubusercontent.com/146016/109933225-d8ab9800-7cd3-11eb-9d2e-377a6eea8fa9.png)

[2021-03-04 08:35] maxceem commented on #4281
@yoution could you please comment on this issue, so I could manually assign you.

the final task here is:
- remove links from the mobile menu
- the year should be updated automatically using the current date, not hardcoded

![image](https://user-images.githubusercontent.com/146016/109934354-1b21a480-7cd5-11eb-947f-dcc2c6ecbf3f.png)

[2021-03-04 08:49] maxceem commented on #4310
Sum up:

- increase the width of all the forms for creating projects https://connect.topcoder-dev.com/new-project/ to `720px`
- make sure that nothing got broken inside the forms after increasing the width
- provide a demo video showing at least 3 forms that everything works good inside them - UI is not broken:
  - https://connect.topcoder-dev.com/new-project/app_new_intake
  - https://connect.top

[2021-03-04 08:50] maxceem commented on #4310
@yoution could you please comment here so I can assign you manually.

[2021-03-04 08:57] yoution commented on #4310
@maxceem  please assign to me

[2021-03-04 08:57] yoution commented on #4281
@maxceem  please assign to me

[2021-03-04 09:39] maxceem commented on #4310
Challenge https://www.topcoder.com/challenges/c54d0323-b68b-4090-9f6a-01136938f9da has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-04 09:39] maxceem commented on #4310
Challenge https://www.topcoder.com/challenges/c54d0323-b68b-4090-9f6a-01136938f9da has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-04 09:40] maxceem commented on #4281
Challenge https://www.topcoder.com/challenges/d0402357-b4c5-4ab8-9d35-8491754fc2f2 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-04 09:40] maxceem commented on #4281
Challenge https://www.topcoder.com/challenges/d0402357-b4c5-4ab8-9d35-8491754fc2f2 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-05 03:25] coderhacker commented on #4316
@drasticdpk  @lakshmiathreya
This is passed on dev,
![image](https://user-images.githubusercontent.com/62358241/110063060-782e6080-7d90-11eb-9945-6dd253475516.png)

[2021-03-05 03:26] drasticdpk commented on #4249
**Verified with Github login**
![image](https://user-images.githubusercontent.com/25297859/110063173-baf13800-7d92-11eb-87ff-afff7f569a60.png)

[2021-03-05 03:39] coderhacker commented on #4315
@drasticdpk  @lakshmiathreya  this is passed on dev

https://user-images.githubusercontent.com/62358241/110064118-81203180-7d92-11eb-800a-7c902f99884a.mp4

[2021-03-05 03:47] drasticdpk commented on #4300
**Verified on dev env**
![image](https://user-images.githubusercontent.com/25297859/110064604-8337bf80-7d95-11eb-94c1-f05132fe37c4.png)

@maxceem , I could not get the exact scenario as mentioned above.

[2021-03-05 03:56] coderhacker commented on #4301
@drasticdpk @lakshmiathreya this is passed on dev

https://user-images.githubusercontent.com/62358241/110065286-d2312500-7d94-11eb-8c83-97bad13de3f9.mp4

[2021-03-09 11:38] maxceem commented on #4249
@drasticdpk thanks for the report. I cannot reproduce it myself. Could you please check one server request?

In the dev tools there should one request which ends `?fields=credentials` and in response there should be value `hasPasssowrd`, what value do you have there?

![image](https://user-images.githubusercontent.com/146016/110465039-98d21f80-80dc-11eb-8c71-fbc1ad7763ba.png)

[2021-03-09 18:11] acshields opened #4335 "Project Plan Template: Remove Discussions Moving Forward"
**Update**

- Remove the Discussions tab from all phases as a move-forward solution
- Historical Discussions on phases created prior to this release must remain visible

[2021-03-09 18:13] acshields opened #4336 "Project Plan Template: Hide/Disable Timeline & Milestones"
**Update**

Hide and disable the "Timeline" tab and by consequence all milestone types on a project plan phase. This means:

- Moving forward from release, the "Timeline" tab should not be shown.
- Moving forward from release, the "Add Milestone" button should not be shown.
- Moving forward from release, the vertical timeline display of milestones, corresponding milestone text, etc. should not be

[2021-03-09 18:24] acshields opened #4337 "Project Plan Template: Update Set-Up Requirements"
**Update**
These should be the only inputs when setting up a template:
Row 1 (*Required) - **"Title"**: [Text Field]
Row 2 (*Optional & New Field) - **"Description"**: [Large Text Field]
Row 3 (*Required) -
**"Start Date"**: [Date Entry]
**"End Date"**: [Date Entry]

[2021-03-09 18:30] acshields opened #4338 "Project Plan Template: Display Once Published"
**Update**
- The template UI layout should appear as a non-editable version of the set-up layout, instead of the vertical timeline as displayed currently.
- The non-editable layout (matching set-up layout) should be:
Phase "Title" (Required)
Phase "Description" (Optional): If no description is provided by the user during set-up, this field should be hidden.
Phase "Start Date" (Required)
Phase "End

[2021-03-09 18:34] acshields opened #4339 "Project Plan Template: Phase Status Logic"
### Displayed Statuses
**_During the set-up of a phase, the creator should have these two decision options:_**
**“Save Draft”**
- If the creator does not want to publish the phase for client visibility, they can click “Save Draft”
- The phase should display a “Draft” label
**“Publish”**
- If the creator wants to publish the phase for client visibility, they can click “Publish”
- The phase status t

[2021-03-10 03:05] drasticdpk commented on #4310
Verified on Dev mode.
1.
![image](https://user-images.githubusercontent.com/25297859/110569135-329cd980-817c-11eb-9025-b49401678e02.png)

2.

![image](https://user-images.githubusercontent.com/25297859/110569997-5d3b6200-817d-11eb-8b4a-eedcbc8e76f7.png)

3.

![image](https://user-images.githubusercontent.com/25297859/110570119-8bb93d00-817d-11eb-93db-c842220234b1.png)

[2021-03-10 08:50] drasticdpk commented on #4249
@maxceem ,
here is the requested data.
![image](https://user-images.githubusercontent.com/25297859/110601751-63e1cd80-81ad-11eb-99d4-295767565425.png)

**Scenario**,
Let's say I have registered new account my gmail  - email1@gmail.com. (without social login)
After that re-register with email1@gmail.com with social login.
Let me know if you want this scenario with video.

[2021-03-10 08:52] maxceem commented on #4249
@drasticdpk if you could make a video that would help a lot. As I'm not 100% sure how this happened.

[2021-03-10 09:02] maxceem commented on #4249
Anyway, this looks like the issue with Topcoder API, not with Connect App. Because Connect App check if `hasPassword === true` it means user login with password, not with a social login. The same way it's done in Community App here https://www.topcoder-dev.com/settings/account.

@drasticdpk I would suggest logging a separate issue for this somewhere. While testing this ticket with a regular user c

[2021-03-10 11:44] drasticdpk commented on #4249
Ok based on above discussion we can make this issue passed and we can create new issue for above scenario.
please suggest. cc @maxceem @vikasrohit @coderhacker

[2021-03-10 12:01] maxceem commented on #4249
I agree @drasticdpk. The above scenario looks like an edge case in the general Topcoder API logic, or maybe even it's not an issue if we should allow changing a password in such case.
So I opt for moving this discussion to a separate issue. If you could provide detailed steps or video that would also help, as I'm not entirely sure how to reproduce it.

[2021-03-10 12:32] maxceem commented on #4300
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 12:32] maxceem commented on #4316
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 12:32] maxceem commented on #4315
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 12:32] maxceem commented on #4249
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 12:32] maxceem commented on #4310
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 12:52] maxceem commented on #4316
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 13:00] maxceem commented on #4316
[409]: Failed to add resource to the challenge. Detail: The Task is already assigned<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 13:12] maxceem commented on #4316
Challenge https://www.topcoder.com/challenges/6a74dff6-a95c-49a0-b405-d60f2cd6bb88 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 13:12] maxceem commented on #4316
Challenge https://www.topcoder.com/challenges/6a74dff6-a95c-49a0-b405-d60f2cd6bb88 has been assigned to Narekvar90.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 13:12] maxceem commented on #4316
Challenge https://www.topcoder.com/challenges/ff32f1ee-5d2a-478d-83bd-3e8050ebcacb has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 13:12] maxceem commented on #4316
Challenge https://www.topcoder.com/challenges/ff32f1ee-5d2a-478d-83bd-3e8050ebcacb has been assigned to Narekvar90.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 17:01] acshields opened #4340 "Bug: Unable to Invite Copilot"
Three users (a Manager (Dan Rietz), Ritesh from Support, and myself (Ariel, Admin)) have attempted to invite the Copilot "Vasyl[alphacom]" to [this project](https://connect.topcoder.com/projects/26639) and have received a server side error message: {"message":"Request failed with status code 500"}

Dan Rietz, the user who originally reported this issue should not have the permissions to directly i

[2021-03-10 17:11] acshields opened #4341 "[$40] Update: 'Manager' Copilot Invitation Permissions"
### Update 1
If there are no Copilots on a project, users in the Manager role should:
- Only see the "Request Copilot" button.
- Not see the "Manage" button.

### Update 2
- If there is a Copilot on the project, users in the Manager role should:
- Continue to see the "Request Copilot" button.
- See the "Manage" button. When this button is clicked, the Manager user should:
-View the Copilots who ar

[2021-03-10 17:40] maxceem commented on #4340
This error is most likely due to special characters in the user name `[` and `]`.

This error happens in the Member Service during the request:
[code]

Member Service returns `Internal Server Error`.

Even if I try to encode the user handle and send request like this, Member Service still returns the same error:
[code]

So it looks like we cannot fix it from Connect App / Projects API side, and th

[2021-03-11 04:30] vikasrohit commented on #4285
@maxceem it requires more thinking around the phase and its timelines and I think we have a pitch for clearing up the phase timelines, so we can handle it at that time.
@acshields Moving it out of current bug fixes projects

[2021-03-11 04:33] vikasrohit commented on #4280
@acshields @ajefts it is a bigger scope than a bug fix cycle. I think it would require a shape up cycle (2 weeks if manual, 6 weeks if automated)

[2021-03-11 04:34] vikasrohit commented on #4262
@acshields moving it out of current bug cycle.

[2021-03-11 04:36] vikasrohit commented on #4309
Fixed on production.

[2021-03-11 04:38] vikasrohit commented on #4325
@acshields do you have mock reports ready in looker?

[2021-03-11 04:39] vikasrohit commented on #4289
@acshields we are releasing this one in today's release.

[2021-03-11 06:32] drasticdpk commented on #4281
Verified on Prod
![image](https://user-images.githubusercontent.com/25297859/110745681-bd0c3880-8263-11eb-8aac-1e73465486ee.png)

[2021-03-11 06:33] #4281 closed

[2021-03-11 06:36] drasticdpk commented on #4310
Verified on Prod

![image](https://user-images.githubusercontent.com/25297859/110745926-21c79300-8264-11eb-803e-0439ce16ad09.png)

![image](https://user-images.githubusercontent.com/25297859/110746003-3dcb3480-8264-11eb-9911-36efeceefd58.png)

[2021-03-11 06:36] #4310 closed

[2021-03-11 06:47] drasticdpk commented on #4300
Verified on Prod env.
![image](https://user-images.githubusercontent.com/25297859/110747071-e29a4180-8265-11eb-9b70-7266ec04aa46.png)

[2021-03-11 06:47] #4300 closed

[2021-03-11 06:57] drasticdpk commented on #4249
Prod verified.
![image](https://user-images.githubusercontent.com/25297859/110747996-3fe2c280-8267-11eb-8bdc-a4244ae5eb3e.png)

[2021-03-11 06:57] #4249 closed

[2021-03-11 07:11] #4289 closed

[2021-03-11 07:45] drasticdpk commented on #4315
Verified on Prod
![image](https://user-images.githubusercontent.com/25297859/110752856-eaf67a80-826d-11eb-8f47-1f68e5a29893.png)

![image](https://user-images.githubusercontent.com/25297859/110752929-ff3a7780-826d-11eb-97ec-35ef3e57e5f9.png)

[2021-03-11 07:45] #4315 closed

[2021-03-11 07:56] drasticdpk commented on #4316
Unable to remove billing acc.
**Reference**
https://monosnap.com/file/BEDAoL3Bz1F1sRHxiO4fUzkE4cAiLE

![image](https://user-images.githubusercontent.com/25297859/110754053-73294f80-826f-11eb-80ff-012421656179.png)

[2021-03-11 07:57] drasticdpk commented on #4309
@vikasrohit  can you please guide us how can we verity it
cc @lakshmiathreya

[2021-03-11 07:58] drasticdpk commented on #4301
@lakshmiathreya  we need your help  here to verify this issue. Thank you!

[2021-03-11 14:55] vikasrohit commented on #4316
@drasticdpk try now.

[2021-03-11 17:51] acshields commented on #4285
@vikasrohit - noted.

[2021-03-11 17:53] acshields commented on #4280
@ajefts - let's chat on this and decide how to craft the pitch. I will add it as a note for our status today.

[2021-03-11 17:57] acshields commented on #4325
@vikasrohit - they would be the exact same as the client one today in terms of content. The only difference is that I need the Project ID mapped to one of our internal projects, so the dashboard can be populated with data (that isn't coming from another client's project).

So, how do we move forward for this? Duplicating the dashboard should be easy, but I want to understand how to handle to proje

[2021-03-12 13:07] drasticdpk commented on #4316
Verified.
![image](https://user-images.githubusercontent.com/25297859/110944073-0f348300-8364-11eb-9aa0-5294483d303d.png)

[2021-03-12 13:07] #4316 closed

[2021-03-15 05:55] vikasrohit commented on #4325
@acshields we have to duplicate the dashboard and hard code the project id in the looker dashboard itself. We can not and should not do that from the API or front end. So, please copy the dashboard and hard code the project id in it. I am not sure if we can set the projectId at the dashboard level, if we can not do that, we have to replicate each look with hard coded project id.

[2021-03-15 11:45] vikasrohit commented on #4341
@acshields just to confirm, this is the only thing that is not implemented yet on production for Update 2, right? Every else from Update 2 is working as written.

[2021-03-15 16:09] acshields commented on #4341
@vikasrohit - yes, I believe that only 2 isn't updated. Just listed 1 in case I was wrong (it's not updated, or there is a bug) and so we can have it updated.

[2021-03-15 18:38] acshields commented on #4325
@vikasrohit - to be clear, here is my understanding:

- I need to create a new dashboard specifically for the demo project.
- I need to hardcode a Project ID from one of our internal projects (example) so that the dashboard will populate with real data, without exposing any client data.
- Step needing clarifying: are we able to map the demo project ID and the project ID containing real data togeth

[2021-03-15 18:41] acshields commented on #4340
@maxceem @vikasrohit - I saw that the short-term need of getting the Copilot added was achieved. I am moving this issue out to our next bug fix/quick win round, where we can work with the Member Services API owner to see what can be done to address the issue with special characters.

[2021-03-15 18:44] acshields commented on #4188
@vikasrohit @RishiRajSahu  -

Now that we've been given an extra week to complete bug fixes/quick wins, I wanted to check in to see if either of you (Vikas/Rishi) could take do update this week? Essentially, the dependent logic on the "Submitting Client Request" intake objective flag answer will help with routing the lead to the correct owner and account in SFDC, thereby reducing some of the confu

[2021-03-15 19:01] acshields commented on #4321
@ajefts: What do you think of this solution?

If "groups" have been defaulted at the project-level, in Project Settings, then only users who are members of those groups can be be invited.

A couple questions:
What role exemptions would we need? For example, a client or a Copilot might not be in that group. Or a Topcoder employee might not be?

[2021-03-15 19:11] #4317 closed

[2021-03-15 19:11] #4308 closed

[2021-03-15 19:11] #4274 closed

[2021-03-15 19:12] #4161 closed

[2021-03-15 19:12] #4164 closed

[2021-03-15 19:12] #4165 closed

[2021-03-15 19:12] #4166 closed

[2021-03-15 19:12] #4168 closed

[2021-03-15 19:12] #4227 closed

[2021-03-15 19:12] #4228 closed

[2021-03-15 19:13] #4141 closed

[2021-03-15 19:13] #4285 closed

[2021-03-15 19:28] acshields opened #4343 "Objective Flag: Breakout "Demo/Test/Other" Options"
On all intake forms, breakout the "demo/test/other" objective flag response for Topcoder Employee and Copilot users moving forward (and remove "other"), so that their objective flag response options are:

- Submitting client request
- Internal project
- Demo
- Test

Context: With the new Scheduler Service API, we can now have automation in-place to cancel test projects on a schedule to remove clut

[2021-03-15 19:32] acshields opened #4344 "URL: Update Projects App URL"
Update Projects App URL to be: connect.topcoder.com/projects

[2021-03-16 04:25] vikasrohit commented on #4343
@acshields changes are small in amount but it might have impact on reporting. We should notify the report owners to take care of this new option. We also need to adapt SFDC to act accordingly as well.

[2021-03-16 04:45] vikasrohit commented on #4340
@acshields we can keep this as tracking issue for our selves, but the root causes has to be fixed in member api.

[2021-03-16 04:51] vikasrohit commented on #4341
Ok, specifically I meant that first two points of the Update 2 are also present as required, only point#3 is something which need to fix.

[2021-03-16 16:15] acshields commented on #4343
@vikasrohit - Agreed on the SFDC notification. For the report owners, I know I have a dashboard set-up that will need updating, but are you aware of other dashboards? (just wondering if its a known group, like support, or person that you are thinking of)

[2021-03-16 16:16] acshields commented on #4340
@vikasrohit - yep, noted. I don't have access (or at least the URL) for the member services API repo. Do you/do you know if this issue has been logged in that API's Git repo?

[2021-03-16 16:16] acshields commented on #4341
Yep!

[2021-03-16 22:15] acshields opened #4345 "Design Challenge: Warning Pop-Up Message"
### **Context**
Due to the present inability to support multi-round (checkpoint) challenges in Work Manager, please display this warning message to users attempting to create a design challenge in Work Manager.

### **Update**
**Pre-Conditions**
- Type = Design
- Format = Challenge

**Warning Workflow**
Once the user enters the pre-conditions above, a pop-up window appears.
The pop-up message read

[2021-03-16 22:16] acshields commented on #4345
@maxceem @vikasrohit - are we able to get this pop-up message in ASAP?

[2021-03-17 04:52] lakshmiathreya commented on #4329
This issue had prompted us to release a hotfix - needed immediate resolution - hence the correct priority should have been P0.

[2021-03-17 14:58] coderhacker commented on #4309
This is passed on dev
![image](https://user-images.githubusercontent.com/62358241/111488256-180bc700-875f-11eb-97b1-1cdd7325b237.png)

[2021-03-17 15:00] coderhacker commented on #4309
![image](https://user-images.githubusercontent.com/62358241/111488796-949ea580-875f-11eb-9092-4721a6ebc1a3.png)

[2021-03-17 15:07] coderhacker commented on #4309
this is pass on prod
![image](https://user-images.githubusercontent.com/62358241/111489803-79806580-8760-11eb-994c-1b060072841f.png)

[2021-03-17 15:08] coderhacker commented on #4309
![image](https://user-images.githubusercontent.com/62358241/111490154-c9f7c300-8760-11eb-8cf8-f8b028687bdc.png)

[2021-03-17 15:10] #4309 closed

[2021-03-17 15:11] lakshmiathreya commented on #4301
Invitations don't get deleted if cursor moves away from the field without the 'Enter':
<img width="1680" alt="Screenshot 2021-03-17 at 8 34 12 PM" src="https://user-images.githubusercontent.com/51733042/111490510-180cc680-8761-11eb-9d6b-f5481ee31bc6.png">
<img width="1680" alt="Screenshot 2021-03-17 at 8 33 52 PM" src="https://user-images.githubusercontent.com/51733042/111490491-13481280-8761-11eb

[2021-03-17 19:27] acshields commented on #4345
Darn it - logged this in the wrong repo. Closing this issue & moving it to work manager.

[2021-03-17 19:27] #4345 closed

[2021-03-18 05:15] #4301 closed

[2021-03-18 09:24] vikasrohit commented on #4340
@maxceem did we log an issue with member api? I remember you did. If not, please log an issue with our observations.

[2021-03-18 09:26] vikasrohit commented on #4340
btw, @acshields here is the repo https://github.com/appirio-tech/ap-member-microservice and https://github.com/topcoder-platform/member-api. Former is v3 api and later is the v5. I think Connect is not using v5, @maxceem can confirm it.

[2021-03-18 09:27] vikasrohit commented on #4343
I am not sure if we have any single owner for that, but may be support handles few of the critical ones but I guess there are many other user specific reports.

[2021-03-18 09:52] maxceem commented on #4340
@vikasrohit I've just logged this issue to the Member Service https://github.com/appirio-tech/ap-member-microservice/issues/308

[2021-03-18 18:41] acshields commented on #4343
@vikasrohit - I'll send out an alert in slack when we take this change on.

[2021-03-29 18:58] acshields commented on #4337
Additonally note/context:
- A user should be able to view all fields on a phase (title, description, start date, end date) without having to click onto it.
- The functionality to add a milestone to a phase, change it's type, and enter multiple dates on the phase's timeline should be hidden/disabled. Ultimately, the only date information required will be one start and end date for the entire phase.

[2021-04-01 01:16] #4338 closed

[2021-04-08 11:11] vikasrohit commented on #4339
@acshields do we need to keep the automation logic where we activate the challenge as soon as we publish/activate any phase in the project plan?

[2021-04-08 11:42] vikasrohit commented on #4339
@acshields one more thing, how would we mark a phase complete now?

[2021-04-08 17:30] acshields commented on #4339
@vikasrohit

**Re: "do we need to keep the automation logic where we activate the challenge as soon as we publish/activate any phase in the project plan?"**

I am leaning towards "no" on this for two reasons, but want your input:
1. We are not going to be displaying the "active" status on the front-end, so I am not sure of what benefit this would give users.
2. If I am remembering correctly, this

[2021-04-13 07:33] SathyaJayabal opened #4346 "Editing of Phase Start date and End date is not working as expected"
1. Edit Phase
2. Update the start and end dates of the phase
Expected: Phase dates must be updated based on user input
Actual: Phase duration is always 4 days and the updated dates are not reflected.

https://user-images.githubusercontent.com/58783823/114514085-89547200-9c58-11eb-9a25-e9ac8d329a88.mov

[2021-04-13 07:38] SathyaJayabal opened #4347 "Phase description not displayed"
As per this requirement, the phase description must be displayed.
https://github.com/appirio-tech/connect-app/issues/4337#issuecomment-809631244

Actual: Phase description is not displayed
<img width="780" alt="Screenshot 2021-04-13 at 1 07 30 PM" src="https://user-images.githubusercontent.com/58783823/114514733-3af3a300-9c59-11eb-8aad-9f4003a22c07.png">

[2021-04-13 12:11] vikasrohit commented on #4346
Thanks for catching it, I am expecting such issues.

[2021-04-13 12:35] vikasrohit commented on #4346
@SathyaJayabal it is fixed and deployed to dev

[2021-04-14 06:43] SathyaJayabal commented on #4346
@vikasrohit , works fine now.

Does the total days get calculated only based on published phases?
<img width="774" alt="Screenshot 2021-04-14 at 12 12 53 PM" src="https://user-images.githubusercontent.com/58783823/114665553-d1d46400-9d1a-11eb-9861-8255146efb4c.png">

[2021-04-14 06:59] SathyaJayabal opened #4348 "Customer must not see the status of the phase"
Based on this req, the customer team must not see the published status. Since they do not see the draft status too, we could remove the status column for the customers.
https://github.com/appirio-tech/connect-app/issues/4339#issue-826435818

[code]

[2021-04-14 08:16] SathyaJayabal commented on #4339
@vikasrohit , verified the following
1. User has two options while creating a phase, "Save Draft" and "Publish"
<img width="762" alt="Screenshot 2021-04-14 at 1 38 14 PM" src="https://user-images.githubusercontent.com/58783823/114676339-d43cbb00-9d26-11eb-93b3-d0f787f9f7dc.png">

2. When user selects "Save Draft", phase is created in draft status. Phase status is displayed as "Draft"
<img width="7

[2021-04-14 08:26] SathyaJayabal commented on #4335
@vikasrohit , verified the following in dev
1. Discussions not displayed for phases in the projects using the beta flag (new solution).
<img width="788" alt="Screenshot 2021-04-14 at 1 51 09 PM" src="https://user-images.githubusercontent.com/58783823/114678727-27b00880-9d29-11eb-9a66-256a131a1995.png">

2. Historical Discussions on phases created earlier work fine. User is able to add/view posts a

[2021-04-14 09:54] SathyaJayabal commented on #4337
@vikasrohit , according to the requirement description is  optional.
`Row 2 (*Optional & New Field) - "Description": [Large Text Field]`

I am not bale to create a phase without description value. the loading indicator keeps on displaying
<img width="1440" alt="Screenshot 2021-04-14 at 3 22 47 PM" src="https://user-images.githubusercontent.com/58783823/114691414-4a481e80-9d35-11eb-93e3-c3950fea06a

[2021-04-14 10:18] SathyaJayabal commented on #4336
@vikasrohit , verified the following
"Timeline" tab is not  shown in new project cerated with beta flag
<img width="783" alt="Screenshot 2021-04-14 at 3 44 27 PM" src="https://user-images.githubusercontent.com/58783823/114694582-51246080-9d38-11eb-8b9c-069cdfae6eb1.png">

"Add Milestone" button should is not shown in create phase or edit phase screens
<img width="761" alt="Screenshot 2021-04-14 at

[2021-04-14 22:06] acshields opened #4349 "Additional "Description" Field Updates"
**Update**
Set-Up/Editing: Increase the size (height) of the "Description" field during set-up so the user providing the description knows they can enter a few sentence description and can easily edit any typos.

<img width="720" alt="Screen Shot 2021-04-14 at 3 06 34 PM" src="https://user-images.githubusercontent.com/41118149/114786490-0bb16480-9d33-11eb-9619-817e66ea10f8.png">

**Question**
Is t

[2021-04-14 22:28] acshields opened #4350 "Phase UI Layout (Non-Set-Up/Editing View)"
Here's a very poorly drawn indication of the UI layout updates:
<img width="959" alt="Screen Shot 2021-04-14 at 3 24 19 PM" src="https://user-images.githubusercontent.com/41118149/114788002-94310480-9d35-11eb-9654-f56304a0b623.png">

Update 1
Remove the word "Status" from above the project plan phases

Update 2
Only display the description field if the user added a description during phase set-up.

[2021-04-15 04:20] vikasrohit commented on #4348
@SathyaJayabal can you please add screenshot of how it is looking for the customer right now?

[2021-04-15 04:21] vikasrohit commented on #4346
Yes, @maxceem please correct me if I am wrong here.

[2021-04-15 04:22] vikasrohit commented on #4337
Ok, good catch. We need to fix it.

[2021-04-15 04:25] SathyaJayabal commented on #4348
@vikasrohit
<img width="789" alt="Screenshot 2021-04-15 at 9 54 36 AM" src="https://user-images.githubusercontent.com/58783823/114813887-a3b15b80-9dd0-11eb-968b-5a94406c18d8.png">

[2021-04-15 07:41] maxceem commented on #4346
You are right @vikasrohit. Only active and completed phases are counted there https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/projectHelper.js#L112

[2021-04-15 12:44] vikasrohit commented on #4350
We can not show editable text boxes here @acshields. We can show the disabled text boxes however I won't prefer them as well because they can confuse other forms on the same page. So, I would suggest a simple UI for showing the dates, we can show them in the same format which we are using while editing but we should not use text boxes.

[2021-04-15 12:47] vikasrohit commented on #4349
Yes, 255. This limit is at both front end and backend.

[2021-04-15 19:24] acshields commented on #4350
@vikasrohit - sorry if my poorly drawn diagram was confusing. Wasn't trying to suggest using text boxes.

Was just trying to indicate the visual layout, and the fact that I would like the dates to be more prominent/easy to read (like it is when you are setting up the phase). I will leave it in your hands - the image was just meant to be directional.

[2021-04-15 19:26] acshields commented on #4349
@vikasrohit can we also add subtext that reads: "255 character maximum" under the "Description" header?

[2021-04-15 19:45] acshields opened #4351 "Make "Private Message" Feature Available to All Users"
**Update 1**
Make "private message" feature available to all Projects App (Connect) users:
Topcoder Employees
Copilots
Clients

**Update 2**
Update "Admin Only" filter text to read "Private Messages"

**Update 3**
If not already possible, a user should be able to add multiple users to the private message thread.
Users who are not added to the thread should not see it.

**Update 4**
Ensure that all

[2021-04-15 19:52] acshields opened #4352 "Assets Library Updates"
**Update 1**
Add the capabilty to manually create folders in Assets Library, using this workflow:
User clicks "Add new"
Pop-Up Window: User uploads file or link
Pop-Up Window - Files only: User selects if the file is viewable to all project members, or only select ones.
Pop-Up Window: User has the option to select from one of these three folder options:
1) Add to existing folder (Dropdown menu of

[2021-04-15 20:14] acshields opened #4353 "Make Messages Searchable"
- Add a search bar to messages so that a user can enter keywords and threads that have messages match that character entry will be filtered
- Highlight the matching text in the thread

[2021-04-15 20:20] acshields opened #4354 "Give a "Like" Ability for Message Posts"
A user should be able to "Like" a post in a message thread.

[2021-04-16 01:54] mirzailhami commented on #4337
Frontend UI was already fit the requirement above. Need to fix at the backend side for [phase request](https://api.topcoder-dev.com/v5/projects/17250/phases).

![Screen Shot 2021-04-16 at 08 46 40](https://user-images.githubusercontent.com/8240895/114960338-066a2c00-9e91-11eb-9527-63c9e108d793.png)

[2021-04-16 06:02] sandhiyakavi opened #4355 "Screen loading continuously if Phase start date set as past date"
Description:

1. If Start Date  set as past date and Drafted. While trying to publish the same. Getting Error "Duration must be a number"

![image (1)](https://user-images.githubusercontent.com/55895538/114978200-ddaf5a00-9ec3-11eb-8f74-2afdc165644b.png)

2. While phase creation If Start Date set as past date and Click Publish. Loading for a long time with error msg in console.
3. After this not a

[2021-04-16 06:05] SathyaJayabal commented on #4355
cc @vikasrohit

[2021-04-16 07:12] vikasrohit commented on #4337
@mirzailhami we can set the description field to `null` instead of sending empty to by pass the validation. We had the description field from long time back in api but we never used to send it from front end. So, I guess we can manage it from front end only.

[2021-04-16 07:36] vikasrohit commented on #4353
This is not going to be a bug fix thing @acshields. It need its own pitch. :)

[2021-04-16 07:42] vikasrohit commented on #4351
@acshields this one is much bigger than what we see. There is no private message feature yet in app. It is admin only messages. So, just hide such messages from customers. It is easy to hide it for specific roles but if we want to enable private messaging between any two or more users, it has to be well thought through because we might end up developing a email feature while we can leverage email

[2021-04-16 08:03] vikasrohit commented on #4352
@acshields there is no feature of folder in Asset library. We are presenting grouped messages as folder e.g. all attachments of a particular phase or a message can be grouped and shown as being present under a folder (name would be phase or message title). So, we can not create folder or rename it as of now. It needs more brainstorming.

[2021-04-16 08:28] sandhiyakavi commented on #4355
@vikasrohit The same issue is happening if start date set as future date

[2021-04-17 05:47] mirzailhami commented on #4337
@vikasrohit using `null` did not work. It asked a `string`. So can we use " " `string` instead?

[2021-04-19 09:12] vikasrohit commented on #4337
For we might go with workaround, however, it does not seem right to me as we adding spaces. If it was empty string, it would have been okay. I guess we might slight changes in the API [validation](https://github.com/topcoder-platform/tc-project-service/blob/develop/src/routes/phases/update.js#L16).

[2021-04-19 09:40] vikasrohit commented on #4350
@mirzailhami I saw the changes for this issue. It seems like you update the edit form of the phase while the issue actually requires the layout to be updated for ready only view of the phase card. Also, the duration in the edit form deviates from the duration in phase card.

<img width="806" alt="Screen Shot 2021-04-19 at 3 06 30 PM" src="https://user-images.githubusercontent.com/2417632/115215270

[2021-04-19 13:54] vikasrohit commented on #4355
@mirzailhami I reviewed the changes for the fix of this issue. Though it is working after this fix, I am not sure why we need this fix because on production it is working fine without passing `duration` to the payload.

<img width="701" alt="Screen Shot 2021-04-19 at 7 22 25 PM" src="https://user-images.githubusercontent.com/2417632/115247825-c29f4d00-a144-11eb-9561-db349b5011e4.png">

[2021-04-19 14:08] mirzailhami commented on #4355
@vikasrohit you need to check dev endpoint using the same payload, it was showing error without payload.

[2021-04-19 14:10] mirzailhami commented on #4350
@vikasrohit ah ok, sorry. I will get @deandex to revert.

[2021-04-19 14:11] vikasrohit commented on #4355
that is what confusing me, there is no change between dev and prod in code.

[2021-04-19 14:18] mirzailhami commented on #4355
@vikasrohit I think it might be caused by my latest change. In edit form I use TextBox to show duration as it tied to model variable.

[2021-04-19 14:28] vikasrohit commented on #4355
oh, yes. Nice catch. Lets revert that after an hour or so ( we have demo in next hour)

[2021-04-20 03:43] SathyaJayabal commented on #4347
Verified on dev. Description field is displayed.
<img width="767" alt="Screenshot 2021-04-20 at 9 12 12 AM" src="https://user-images.githubusercontent.com/58783823/115334200-93c2be80-a1b8-11eb-84f2-d7ad3af8ecac.png">

[2021-04-20 03:48] SathyaJayabal opened #4356 "The Description filed must accept only the max number of characters allowed"
The user must not be allowed to type more than the max number of character allowed  in the description field.

<img width="1440" alt="Screenshot 2021-04-20 at 9 11 47 AM" src="https://user-images.githubusercontent.com/58783823/115334619-5e6aa080-a1b9-11eb-921b-f0ee0af1ae5c.png">

cc @vikasrohit

[2021-04-20 03:54] SathyaJayabal commented on #4356
This is tracked here
#4349

[2021-04-20 03:54] #4356 closed

[2021-04-20 03:56] SathyaJayabal commented on #4349
@mirzailhami , The size of the description box is increased. Pending fixes.

- Implement FE limitation of 255 characters. IE user should not be able to enter more than 255 characters on the text area.
<img width="1440" alt="Screenshot 2021-04-20 at 9 11 47 AM" src="https://user-images.githubusercontent.com/58783823/115335248-6c6cf100-a1ba-11eb-94e1-6aae5f3000e2.png">

- add subtext that reads: "25

[2021-04-20 04:03] SathyaJayabal commented on #4348
@mirzailhami @vikasrohit , The status label has been removed, but the phase status is still visible for the customers.
example:
https://connect.topcoder-dev.com/projects/17270

Customer user: tester1234
<img width="1440" alt="Screenshot 2021-04-20 at 9 31 38 AM" src="https://user-images.githubusercontent.com/58783823/115335717-66c3db00-a1bb-11eb-906f-2fcda2a52fa4.png">

[2021-04-20 04:06] SathyaJayabal commented on #4337
Verified, We are able to create phase without entering description

[2021-04-20 05:25] sandhiyakavi commented on #4355
Verified on Dev Env. Able to create Phases with past or future dates

![image](https://user-images.githubusercontent.com/55895538/115341830-36dcfd80-a1e4-11eb-90e4-0a6e185229de.png)

[2021-04-20 06:30] vikasrohit commented on #4355
Thanks @sandhiyakavi for testing, however, we need to reverify it once we merge the PR https://github.com/appirio-tech/connect-app/pull/4357 because we have improved the way fixed the issue. We would again mark it ready for QA once the PR is merged.

[2021-04-20 06:41] vikasrohit commented on #4337
@mirzailhami can you please log a separate issue to track the changes we need to properly fix this issue? I mean instead of passing spaces we should be fixing the API endpoint to allow empty or null values.

[2021-04-20 06:42] vikasrohit commented on #4348
@mirzailhami we need to hide actual phase status as well from customers.

[2021-04-20 07:10] mirzailhami commented on #4348
Ok, @diwosuwanto working on it.

[2021-04-20 07:27] mirzailhami opened #4358 "[$40] Phase description must allow empty or null values instead of space string"
### Expected behavior
Optionally allow phase description to be empty or null at API endpoint for phases patch request.

### Actual behavior
Does not allow phase description to be empty or null at API endpoint. Now in the FE, we use space string to allow empty description but it will need to be updated later (based on [this](https://github.com/appirio-tech/connect-app/issues/4337#issuecomment-82230

[2021-04-20 07:28] mirzailhami commented on #4337
@vikasrohit logged.

[2021-04-20 08:13] mirzailhami opened #4360 "[$20] Member item must be vertically middle aligned"
### Expected behavior
Member row item should be vertically middle aligned.

### Actual behavior
Top aligned instead of middle aligned.

### Steps to reproduce the problem
- Login into [connect](https://connect.topcoder-dev.com/projects)
- Scroll down and look into left sidebar

### Screenshot/screencast
![Screen Shot 2021-04-17 at 14 27 45](https://user-images.githubusercontent.com/8240895/1153606

[2021-04-20 10:14] vikasrohit commented on #4360
@mirzailhami thanks for logging it. We would take care of it in next cool down period.

[2021-04-20 10:15] sandhiyakavi commented on #4355
Verified on Dev Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/115379715-c0082a80-a20c-11eb-90ff-fdd0d47ac875.png)

[2021-04-20 10:23] vikasrohit commented on #4355
Thanks @sandhiyakavi for double verification.

[2021-04-20 10:31] mirzailhami commented on #4349
@diwosuwanto is working on this issue and can`t find an easy way to use maxLength attribut. @vikasrohit I think we need to update [connectv2 TextArea](https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Formsy/Textarea.jsx) component and add new attribut `maxLength={maxLength}` for [AutoresizeTextarea](https://github.com/appirio-tech/react-components/blob/97ba97c96d7

[2021-04-20 10:42] vikasrohit commented on #4349
Sounds reasonable to me. One more thing to try before adding maxLength support to the TextArea, can we increase the height of the textinput instead? I mean we can use TextInput instead of TextArea for description field because as of now it is limited to 255 characters only which is not a big number to use text area. If we can render the text input as bigger text input, we can avoid extra changes f

[2021-04-20 10:56] SathyaJayabal opened #4361 "Few Project Tabs missing for new projects"
In the simplified project, Scope, Reports and assets library are missing
<img width="1440" alt="Screenshot 2021-04-20 at 4 22 30 PM" src="https://user-images.githubusercontent.com/58783823/115384772-0a7dad00-a1f5-11eb-8614-798c17889e3c.png">
Instead we have a specification tab which loads a blank page

<img width="1437" alt="Screenshot 2021-04-20 at 4 23 34 PM" src="https://user-images.githubuserc

[2021-04-20 11:23] vikasrohit commented on #4361
@SathyaJayabal Fix deployed to dev.

[2021-04-20 11:37] vikasrohit commented on #4350
@mirzailhami I don't see the changes to actually show the start date, end date and duration in the suggested format by @acshields. I mean read only view of the phase card show the start & end dates and duration with their separate labels.

[2021-04-20 13:41] mirzailhami commented on #4350
@vikasrohit Do you mean this part? It still confuse me how should the FE looks like and where it should be shown.

[2021-04-20 14:16] mirzailhami commented on #4349
@vikasrohit  Currently we dont have AutoresizeTextarea in TextBox component, using TextBox with multiline support will need to update component too.

I already send [PR](https://github.com/appirio-tech/react-components/pull/361).

[2021-04-20 14:49] SathyaJayabal commented on #4348
I dont see the fix yet @mirzailhami , is it deployed ?

[2021-04-20 15:01] mirzailhami commented on #4348
@SathyaJayabal deployed was not successful. Could you check pls @vikasrohit.
![Screen Shot 2021-04-20 at 21 59 04](https://user-images.githubusercontent.com/8240895/115418573-c950c180-a223-11eb-825e-1b1b4055b0e9.png)

[2021-04-21 03:52] SathyaJayabal commented on #4361
@vikasrohit , the scope link is redirected to "specification" link and loads a blank page in the simplified project. Thats not the case in the existing projects.

example:
Simplified projects
https://connect.topcoder-dev.com/projects/17276/
https://connect.topcoder-dev.com/projects/17274
click on scope link

Existing Project
https://connect.topcoder-dev.com/projects/17275/scope

[2021-04-21 07:27] vikasrohit commented on #4348
@mirzailhami there is a lint error https://app.circleci.com/pipelines/github/appirio-tech/connect-app/472/workflows/019b14dc-c006-41ef-a306-bc935dd7c868/jobs/5677

[2021-04-21 08:58] SathyaJayabal commented on #4348
@mirzailhami @vikasrohit , the phase status must be removed only for the new simplified projects for the customer. Older phases should still display the phase statuses.

Example: This is an older project
https://connect.topcoder-dev.com/projects/16573/

The customer must see the phase status details
Manager View:
<img width="780" alt="Screenshot 2021-04-21 at 2 27 07 PM" src="https://user-images.g

[2021-04-21 09:48] vikasrohit commented on #4348
You are right @SathyaJayabal. @mirzailhami we need to fix it.

[2021-04-21 10:21] vikasrohit commented on #4361
Thanks @SathyaJayabal for catching it. Fixed and deployed to dev.

[2021-04-21 10:50] vikasrohit commented on #4348
@mirzailhami I am pushing a commit for it.

[2021-04-21 11:03] vikasrohit commented on #4348
@SathyaJayabal can you please retest it?

[2021-04-21 11:09] SathyaJayabal commented on #4348
@vikasrohit , i dont see it yet
<img width="788" alt="Screenshot 2021-04-21 at 4 38 53 PM" src="https://user-images.githubusercontent.com/58783823/115544353-1da97f00-a2c0-11eb-9a86-b8d81df9f305.png">

[2021-04-21 11:10] vikasrohit commented on #4350
@mirzailhami Let me try fixing it to save some time for now. @acshields what do you think if we update the phase card layout for the existing project phases as well? I mean showing the labels for start/end dates and duration in the phase card read only view?

[2021-04-21 11:11] SathyaJayabal commented on #4361
@vikasrohit , looks good now
<img width="1440" alt="Screenshot 2021-04-21 at 4 41 12 PM" src="https://user-images.githubusercontent.com/58783823/115544602-6b25ec00-a2c0-11eb-8bb8-303d81df0704.png">

[2021-04-21 11:55] vikasrohit commented on #4350
@acshields I have assumed to update the layout for the existing project phases as well because it does not alter the functionality but rather just eases the read view of the phases. Please let me know if we don't want it.

[2021-04-21 11:55] vikasrohit commented on #4350
@SathyaJayabal deployed to dev for testing.

[2021-04-21 11:56] vikasrohit commented on #4349
@mirzailhami I have merged the PR. Do we have changes ready for using the maxLength in connect app?

[2021-04-21 11:58] vikasrohit commented on #4348
ohk, which user you are using for testing?

[2021-04-21 11:59] vikasrohit commented on #4348
@SathyaJayabal can you please share the test user details on Slack?

[2021-04-21 12:16] SathyaJayabal commented on #4350
verified on dev
manager view
<img width="776" alt="Screenshot 2021-04-21 at 5 43 15 PM" src="https://user-images.githubusercontent.com/58783823/115551758-22befc00-a2c9-11eb-92e0-44169fe1796a.png">

customer view
<img width="783" alt="Screenshot 2021-04-21 at 5 43 21 PM" src="https://user-images.githubusercontent.com/58783823/115551782-2c486400-a2c9-11eb-8675-411fdee310ef.png">

Also updated for ol

[2021-04-21 12:39] vikasrohit commented on #4348
Try now @SathyaJayabal Please try different combination of phase status, project version (simple vs existing) and customer/non-customer

[2021-04-21 13:04] mirzailhami commented on #4349
@vikasrohit ok thanks. It is working now with 255 maxLength. @diwosuwanto is adding subtext below "Description" header now and will send PR soon.

[2021-04-21 13:38] SathyaJayabal commented on #4348
@vikasrohit , now the published status for manager view(simplified project) is displayed with a progress indicator, which was not there before. Other combinations are good.
<img width="770" alt="Screenshot 2021-04-21 at 7 08 05 PM" src="https://user-images.githubusercontent.com/58783823/115563213-ec877980-a2d4-11eb-894f-687864a206ef.png">

[2021-04-21 13:40] mirzailhami commented on #4349
@vikasrohit Is it ok using this here instead of below "Description" label? Just realized that label was coming from component, and we dont need to update component using this solution.

![Screen Shot 2021-04-21 at 20 35 40](https://user-images.githubusercontent.com/8240895/115563112-63c30a80-a2e1-11eb-9130-8892b350b2be.png)

[2021-04-21 14:45] mirzailhami opened #4362 "[$10] Cancel button in Add Milestone form does not work"
### Expected behavior
Should close/hide the form.

### Actual behavior
It did not close the form.

### Steps to reproduce the problem
- Click on phase card
- Click "Add Milestone" button
- Click "Cancel" button

### Screenshot/screencast
![Screen Shot 2021-04-21 at 21 39 01](https://user-images.githubusercontent.com/8240895/115572753-66762d80-a2ea-11eb-8c33-3bb9dd234c69.png)

[2021-04-22 06:06] vikasrohit commented on #4362
Thanks @mirzailhami for noticing the bug. Could you please add more details like which environment (prod vs dev) you are seeing this issue. Also, which type (manager or copilot) of user is seeing this issue?

[2021-04-22 06:07] vikasrohit commented on #4349
Yes, this one is perfect. No issues. @acshields your thoughts?

[2021-04-22 06:29] SathyaJayabal commented on #4362
@vikasrohit , I can see it both prod and dev. Click on a phase and try to add a milestone.

[2021-04-22 07:28] vikasrohit commented on #4362
That means it is not regression out of current changes.

[2021-04-22 07:46] vikasrohit commented on #4348
@SathyaJayabal fixed the progress status.

[2021-04-22 07:58] SathyaJayabal commented on #4348
@vikasrohit , now the `published` text is also missing for Manager(simplified project). Other combinations are good.
<img width="759" alt="Screenshot 2021-04-22 at 1 27 09 PM" src="https://user-images.githubusercontent.com/58783823/115677779-76cfec00-a36e-11eb-828a-b4fa10481dc2.png">

[2021-04-22 08:51] vikasrohit commented on #4348
Oh crap!! This is confusing 😕 Let fix it. Thanks for noticing these, really appreciated.

[2021-04-22 09:02] vikasrohit commented on #4350
@SathyaJayabal yes that is okay https://github.com/appirio-tech/connect-app/issues/4350#issuecomment-824002131

[2021-04-22 09:02] mirzailhami commented on #4362
@vikasrohit Both in prod & dev, testing using copilot role.

[2021-04-22 09:21] vikasrohit commented on #4348
Deployed to dev for testing.

[2021-04-22 09:28] vikasrohit commented on #4349
@SathyaJayabal this one is also ready for review. Should be last before prod release.

[2021-04-22 09:47] SathyaJayabal commented on #4349
@vikasrohit , i dont see the character limit subtext.

FE validation for 255 characters is good.
<img width="766" alt="Screenshot 2021-04-22 at 3 16 43 PM" src="https://user-images.githubusercontent.com/58783823/115693780-dda8d180-a37d-11eb-8109-7ae74773ab79.png">

[2021-04-22 09:52] SathyaJayabal commented on #4348
Manager role: simplified project
<img width="759" alt="Screenshot 2021-04-22 at 3 19 55 PM" src="https://user-images.githubusercontent.com/58783823/115694210-4728e000-a37e-11eb-92d0-2382c7c79d70.png">
Manager Role: old project
<img width="759" alt="Screenshot 2021-04-22 at 3 20 13 PM" src="https://user-images.githubusercontent.com/58783823/115694246-4f811b00-a37e-11eb-9167-6692395ea55c.png">
Custo

[2021-04-22 09:57] mirzailhami commented on #4349
@SathyaJayabal I can see it here.

![Screen Shot 2021-04-22 at 16 55 49](https://user-images.githubusercontent.com/8240895/115695165-bce77880-a38b-11eb-890e-f0d5fd4137a3.png)

[2021-04-22 10:05] SathyaJayabal commented on #4349
@mirzailhami , sorry, it should have a cache issue. I see it now.
<img width="771" alt="Screenshot 2021-04-22 at 3 34 44 PM" src="https://user-images.githubusercontent.com/58783823/115696451-5577fb80-a380-11eb-8f0a-fef197b9f096.png">
cc @vikasrohit

[2021-04-22 12:22] drasticdpk commented on #4348
Verified :
**Customer role**

![image](https://user-images.githubusercontent.com/25297859/115713107-5a937580-a395-11eb-962d-184bd75200cf.png)

**Copilot role**

![image](https://user-images.githubusercontent.com/25297859/115713255-844c9c80-a395-11eb-882b-ddcede3ff93c.png)

[2021-04-22 12:22] #4348 closed

[2021-04-22 12:24] drasticdpk commented on #4339
**1. User has two options while creating a phase, "Save Draft" and "Publish"**

![image](https://user-images.githubusercontent.com/25297859/115711435-3afb4d80-a393-11eb-9933-eaec13bede5a.png)

**2. When user selects "Save Draft", phase is created in draft status. Phase status is displayed as "Draft"**

![image](https://user-images.githubusercontent.com/25297859/115712292-50bd4280-a394-11eb-8be9-f5

[2021-04-22 12:24] #4339 closed

[2021-04-22 12:28] drasticdpk commented on #4361
Verified
![image](https://user-images.githubusercontent.com/25297859/115714012-616eb800-a396-11eb-83f7-e3b568d94864.png)

[2021-04-22 12:28] #4361 closed

[2021-04-22 12:34] drasticdpk commented on #4355
Verified.
![image](https://user-images.githubusercontent.com/25297859/115714808-3e90d380-a397-11eb-8d18-1ca48194e753.png)

[2021-04-22 12:34] #4355 closed

[2021-04-22 12:39] drasticdpk commented on #4349
verified

Reference

![image](https://user-images.githubusercontent.com/25297859/115715573-ff16b700-a397-11eb-89d7-cf8e6d7db496.png)

![image](https://user-images.githubusercontent.com/25297859/115715513-edcdaa80-a397-11eb-9330-4576cca6d8c5.png)

[2021-04-22 12:39] #4349 closed

[2021-04-22 12:41] drasticdpk commented on #4347
Verified

![image](https://user-images.githubusercontent.com/25297859/115715785-38e7bd80-a398-11eb-9165-61d6bd94e05b.png)

[2021-04-22 12:41] #4347 closed

[2021-04-22 13:33] drasticdpk commented on #4335
Verified.

**1. Remove the Discussions tab from all phases as a move-forward solution with bata=true project creation**

![image](https://user-images.githubusercontent.com/25297859/115723064-51a7a180-a39f-11eb-81f0-d8c8328a30e6.png)

**2. Historical Discussions on phases created prior to this release must remain visible** for old project

![image](https://user-images.githubusercontent.com/25297859

[2021-04-22 13:33] #4335 closed

[2021-04-22 13:42] drasticdpk commented on #4336
Verified

![image](https://user-images.githubusercontent.com/25297859/115724472-b283a980-a3a0-11eb-858e-0891e9c30082.png)

![image](https://user-images.githubusercontent.com/25297859/115723928-30938080-a3a0-11eb-8ceb-a2d5dde716b8.png)

![image](https://user-images.githubusercontent.com/25297859/115724016-4739d780-a3a0-11eb-8328-b2a5ef7517aa.png)

[2021-04-22 13:42] #4336 closed

[2021-04-22 13:43] drasticdpk commented on #4336
@SathyaJayabal , we can see full date in prod mode for phase desc please confirm,
![image](https://user-images.githubusercontent.com/25297859/115724741-f24a9100-a3a0-11eb-98cb-6d28db3b86cf.png)

[2021-04-22 13:48] drasticdpk commented on #4337
Verified.
![image](https://user-images.githubusercontent.com/25297859/115725490-9c2a1d80-a3a1-11eb-82b8-f8ef4a494f2c.png)

[2021-04-22 13:48] #4337 closed

[2021-04-22 13:50] SathyaJayabal commented on #4336
@drasticdpk , this is fine
https://github.com/appirio-tech/connect-app/issues/4350#issuecomment-824002131

[2021-04-22 13:56] drasticdpk commented on #4346
Verified.

![image](https://user-images.githubusercontent.com/25297859/115726695-ae588b80-a3a2-11eb-8aed-4cb4ef9f24b8.png)

[2021-04-22 13:56] #4346 closed

[2021-04-22 14:04] drasticdpk commented on #4350
with beta=true created project.

![image](https://user-images.githubusercontent.com/25297859/115727411-4a829280-a3a3-11eb-9671-246e6a3698e8.png)

**Older Project**

![image](https://user-images.githubusercontent.com/25297859/115727135-11e2b900-a3a3-11eb-8dca-8c62b13c7027.png)

[2021-04-22 14:04] #4350 closed

[2021-04-22 14:05] drasticdpk commented on #4350
![image](https://user-images.githubusercontent.com/25297859/115728140-f6c47900-a3a3-11eb-9ada-8621116c5013.png)

[2021-04-22 16:26] SathyaJayabal opened #4368 "Older projects with only draft phases are not loading"
Older projects with only draft phases are not loading
<img width="1440" alt="Screenshot 2021-04-22 at 4 52 25 PM" src="https://user-images.githubusercontent.com/58783823/115750166-80307700-a3b5-11eb-8ee3-72c4db9e40ec.png">

[2021-04-22 16:28] SathyaJayabal commented on #4368
fixed in prod
![image (31)](https://user-images.githubusercontent.com/58783823/115750443-ce457a80-a3b5-11eb-8b0f-7f0d9fb7c79b.png)

[2021-04-22 17:11] acshields opened #4369 "Projects API - File Attachments Pass Through"
Use Case: A client is working from their tool (in this example it's Angela/Sumit in SFDC) and wants to send an attachment to the Topcoder platform

[2021-04-23 04:41] #4368 closed

[2021-04-23 05:05] vikasrohit commented on #4369
It is already there @acshields https://github.com/topcoder-platform/tc-project-service/blob/develop/docs/swagger.yaml#L272

[2021-04-28 20:08] ajefts opened #4370 "File Upload not available in assets library"
### Expected behavior
When viewing Assets Library on a project, the option to upload files should be present.

### Actual behavior
It is not showing on https://connect.topcoder.com/projects/26407

### Screenshot/screencast
![image](https://user-images.githubusercontent.com/3812270/116465969-ee54be00-a83b-11eb-9246-5b7ed11a0252.png)

--

[2021-04-28 20:08] ajefts commented on #4370
fyi @acshields @vikasrohit Can we take a look at this one quickly?  It's blocking the experience on a customer project.  Thanks.

[2021-04-28 20:37] acshields commented on #4370
@vikasrohit - I went into this project as well and also see no "files" option when I look at it. I am unsure what could be driving this behavior...

@ajefts - A potential workaround just dawned on me... If you post a message and include the file you want to upload as an attachment, what happens? In our normal flow, what should happen is that: the message is posted w/ file attached a folder is crea

[2021-04-28 21:57] ajefts commented on #4370
@acshields that let me upload to the message, but didn't impact the asset library

[2021-04-29 05:40] vikasrohit commented on #4370
@acshields @ajefts it happens because there is no file upload feature enabled for the template used by the project. We implemented the file upload section as per original requirements when we created these templates. I have added it to the template for now, it has enabled the file section in asset library section but it  might show the file upload while creating a new project with that same templa

[2021-04-29 11:35] vikasrohit opened #4372 "Move simplified project plan feature out of beta flag"
Simplified project plan is already on production but behind beta flag. This is to move it out of beta flag.

[2021-04-29 13:05] ajefts commented on #4370
Thanks @vikasrohit

[2021-05-03 19:56] #4370 closed

[2021-05-04 12:31] vikasrohit commented on #4341
@acshields to be double sure, do we want to show the `Invite Copilot` button (in the Manage copilots popup) for the admins?

[2021-05-04 12:33] vikasrohit commented on #4292
I think we have to manage this on per project basis.

[2021-05-04 12:44] vikasrohit commented on #4343
@acshields are we good with this to proceed?

[2021-05-04 12:47] #4372 closed

[2021-05-04 12:51] vikasrohit commented on #4358
@mirzailhami we need changes in tc-project-service (some where [here](https://github.com/topcoder-platform/tc-project-service/blob/develop/src/routes/phases/update.js#L16) and in Connect app both for this. Issue assignee might have to create PRs for the both repos if required. It all depends on the solution created by the assigned, all we want is to get rid of the workaround of passing empty space

[2021-05-05 11:53] vikasrohit opened #4373 "Should not show general message about building project plan when one can not build project plan"
### Expected behavior
Should not show the general message about building project plan when there is no `Add Phase` button. In current example, the project is completed and that is the reason `Add phase` button is not visible. So, ideally we should show a message that project is completed and some other heads up to the user when project is completed.

### Actual behavior
`Add phase` button is not v

[2021-05-05 11:54] vikasrohit commented on #4373
@acshields do you have any copy that we can show instead of project plan building message?

[2021-05-05 12:36] vikasrohit opened #4374 "Filters are reseting when navigating back via Back button"
### Expected behavior
Filters should retain

### Actual behavior
Filters are defaulting back to fresh listing of projects

### Steps to reproduce the problem
- Open project listing page
- Apply some filters like `My Projects` and sort on `Oldest First`
- Click on any project
- Navigate back using back button
- observe the filters

### Screenshot/screencast
Attach or link a resource.

--

#### Envi

[2021-05-05 12:37] vikasrohit commented on #4374
@drasticdpk @SathyaJayabal I noticed this behaviour on my laptop today, I am not sure if it is happening only for specific browser or OS. Can you please try to reproduce it?

[2021-05-07 11:13] vikasrohit commented on #4341
@acshields it seems we already have whatever you listed in update 2, requirements. In other words current logic only allows admin and copilot manager to see the `Invite more copilots` section. Do you have any user which does not fall in this category and still seeing this section?

[2021-05-10 16:27] acshields commented on #4343
@vikasrohit - yep! all good.

[2021-05-16 12:23] drasticdpk commented on #4360
Reference :
![image](https://user-images.githubusercontent.com/25297859/118396964-a45c3c80-b671-11eb-8c56-c2aeef4d3738.png)

[2021-05-16 12:46] drasticdpk commented on #4362
Verified on Dev Mode
Reference :
https://monosnap.com/file/sAi07gmBEVUf8OrwFxPQ1olNxOxykI
![image](https://user-images.githubusercontent.com/25297859/118397690-fb174580-b674-11eb-8e1d-88bf4ae2470b.png)

[2021-05-16 13:06] drasticdpk commented on #4341
Still having  manage button for Manager role .

Reference  :
Project : https://connect.topcoder-dev.com/projects/17335
User : topcoderconnect+copilotmanager@gmail.com

![image](https://user-images.githubusercontent.com/25297859/118398110-e20f9400-b676-11eb-8f14-2d1d8e4396b2.png)

topcoderconnect+manager@gmail.com

![image](https://user-images.githubusercontent.com/25297859/118398274-96111f00-b677-

[2021-05-16 14:49] mirzailhami commented on #4341
@vikasrohit I re-run this build and deploy was successful, but connect.topcoder-dev.com is still not updating, am I missed something?

![image](https://user-images.githubusercontent.com/8240895/118401535-4854e080-b690-11eb-94d9-0b8ea5555d4b.png)

[2021-05-16 21:28] mirzailhami commented on #4358
@vikasrohit  No need to update tc-project-service. PR sent for this issue. The error caused by `description` without string value. Reproduce here:
[code]

It should not pass the `description` into payload if it has no value/empty/null. Verification here:
[code]

Console log: https://runkit.com/logs/mirzailhami/60a16ba3eef5c8001a9c4fd9/branches/master

[2021-05-17 04:30] vikasrohit commented on #4341
Yes, I just made the feature branch depoyable.

[2021-05-17 04:40] vikasrohit commented on #4358
Good to know that, I was expecting something like this because we had the support for `description` field in API from very long back but we did not have `description` field in UI, so if it was working there, it should work now as well.

btw, just curious, these `runkit` links, does not expose your security token to users without authentications, right?

[2021-05-17 04:45] vikasrohit commented on #4360
@drasticdpk just deployed the feature branch to dev env. Please retest now.

[2021-05-17 04:45] vikasrohit commented on #4341
@drasticdpk just deployed the feature branch to dev env. Please retest now.

[2021-05-17 04:54] mirzailhami commented on #4358
No it does not. Just a nodeJS virtual server to run Javascript on web (seems like stackblitz for TS). I saw the description was already in `optional()`, just curious why it throw error. Using this runkit would be faster to debug than running `npm i` locally in our machine.

[2021-05-17 06:13] drasticdpk commented on #4341
Verified on Dev env,
![image](https://user-images.githubusercontent.com/25297859/118439512-ddde8780-b705-11eb-86e9-e83fddc1afe5.png)
![image](https://user-images.githubusercontent.com/25297859/118440314-35c9be00-b707-11eb-9b64-a13895ac7e46.png)

[2021-05-17 06:37] vikasrohit opened #4380 "Show billing account expiration alert in project"
To prevent over billing and wrong BA charged for challenges, we need to visually show some alert to the user when they are in the Connect and the BA associated to the project is inactive.

- [x]  Display pop-up message to Topcoder Employees and Copilots when they access the project, until the expired billing account is updated
- [x] Display an “!” icon on the Project Settings tab until the expired

[2021-05-17 06:37] vikasrohit commented on #4380
fyi @ajefts

[2021-05-17 06:43] drasticdpk commented on #4360
Verified
![image](https://user-images.githubusercontent.com/25297859/118443206-5a279980-b70b-11eb-97f8-b9968e95c279.png)

[2021-05-17 06:52] drasticdpk commented on #4358
Verified on Dev env
![image](https://user-images.githubusercontent.com/25297859/118444292-a58e7780-b70c-11eb-9409-62e7c0896e4d.png)

[2021-05-18 09:17] drasticdpk commented on #4360
Verified on Prod Mode.
![image](https://user-images.githubusercontent.com/25297859/118625833-13f53780-b7ea-11eb-9fa4-1bc75dde66d0.png)

[2021-05-18 09:17] #4360 closed

[2021-05-18 09:55] drasticdpk commented on #4358
Verified on Prod env
![image](https://user-images.githubusercontent.com/25297859/118631542-50776200-b7ef-11eb-9df4-6ea44028a7d8.png)

[2021-05-18 09:55] #4358 closed

[2021-05-18 09:56] drasticdpk commented on #4362
Verified on Prod env
![image](https://user-images.githubusercontent.com/25297859/118631655-71d84e00-b7ef-11eb-8f98-afc2614f1912.png)

[2021-05-18 09:56] #4362 closed

[2021-05-18 09:57] drasticdpk commented on #4341
@lakshmiathreya ,
We need manager role to verify this issue, please assist on this.

[2021-05-18 10:39] lakshmiathreya commented on #4341
Manager role sees only Request Copilot in Prod:
<img width="1680" alt="Screenshot 2021-05-18 at 3 59 08 PM" src="https://user-images.githubusercontent.com/51733042/118636700-9681f500-b7f2-11eb-8553-29506691d3a7.png">

[2021-05-18 10:41] lakshmiathreya commented on #4341
Manager role sees Manage and Request Copilot - only give Remove option:

<img width="1680" alt="Screenshot 2021-05-18 at 4 05 44 PM" src="https://user-images.githubusercontent.com/51733042/118637596-9d5d3780-b7f3-11eb-8a00-1cbbb0631c05.png">

[2021-05-18 11:53] #4341 closed

[2021-05-18 12:05] lakshmiathreya commented on #4341
Additional screenshots: Admin Role -
<img width="1680" alt="Screenshot 2021-05-18 at 5 32 43 PM" src="https://user-images.githubusercontent.com/51733042/118647596-25950a00-b7ff-11eb-932c-8257eaba9b9e.png">
Copilot Manager Role -
<img width="1680" alt="Screenshot 2021-05-18 at 5 35 30 PM" src="https://user-images.githubusercontent.com/51733042/118647880-7a388500-b7ff-11eb-94f3-e141d4ccbda5.png">

[2021-05-25 13:38] drasticdpk opened #4383 "Integrate smoke test automation script to CircleCi"
### Expected behavior
We have written the automation script for connect app which verify basic set up test case after each deployment.

**Code :**

[connect-smoke-automation-main.zip](https://github.com/appirio-tech/connect-app/files/6539648/connect-smoke-automation-main.zip)

**Reference Report**

https://snipboard.io/1YX4DQ.jpg

 Note : Recently community App team has integrated the workflow in

[2021-05-25 13:38] drasticdpk commented on #4383
cc @lakshmiathreya @RishiRajSahu  @maxceem

[2021-05-25 14:01] RishiRajSahu opened #4384 "Content Security Policy (CSP) Missing"
Description
Enable CSP headers via your webserver configuration.

Environment
None

Recommendation
Enable CSP headers via your webserver configuration.

Atlassian Link - https://topcoder.atlassian.net/browse/VULN-1946

[2021-05-25 19:28] ajefts opened #4385 "Can't Upload Project Attachments"
### Expected behavior
Should be able to upload an asset to a project.

### Actual behavior
Getting the following error:

![image](https://user-images.githubusercontent.com/3812270/119556559-2d0f6280-bd6d-11eb-819d-1acbadab4833.png)

- 2 users have tested and get the same response on this project:  https://connect.topcoder.com/projects/28237/assets
- I've also tried it on another project with the s

[2021-05-25 19:28] ajefts commented on #4385
fyi @mtwomey

[2021-05-26 05:51] drasticdpk commented on #4385
@vikasrohit ,
I am unable to replicate the scenario , for me it is working as expected.

**Reference**
![image](https://user-images.githubusercontent.com/25297859/119608955-8384ab80-be16-11eb-99e8-0189f47af3ff.png)

[2021-05-26 09:38] vikasrohit commented on #4385
@ajefts I tried to upload the file to the same project, and it seems to work for me as well. can you please retry, may be someone from the team has fixed the S3 buckets or something.

[2021-05-28 17:59] #2538 closed

[2021-05-28 17:59] #2475 closed

[2021-05-28 18:00] #2469 closed

[2021-05-28 18:00] #2457 closed

[2021-05-28 18:01] #2460 closed

[2021-05-31 04:50] drasticdpk commented on #4383
@RishiRajSahu
here is the requested MR https://github.com/appirio-tech/connect-app/pull/4389

[2021-05-31 09:38] drasticdpk commented on #4380
@vikasrohit ,
To meet the above scenario , please provide us one project which billing account is expired.

**suggestion**
Can we alert to user before X no. of remaining date instead of after expired.

[2021-05-31 11:55] vikasrohit commented on #4380
Not in scope yet due to technical limiatations.

[2021-05-31 12:01] vikasrohit commented on #4380
You can use https://connect.topcoder-dev.com/projects/17236/, it should have a BA that is inactive.

[2021-05-31 14:20] drasticdpk commented on #4380
Verified.
https://user-images.githubusercontent.com/25297859/120204750-e330eb80-c248-11eb-8ca6-8aa6f6ffb6e8.mp4

here is regression of this requirement
- This warning message never disappear, it only should be display only expired billing acc.
![image](https://user-images.githubusercontent.com/25297859/120206589-1b392e00-c24b-11eb-8b65-8cd431c2e69b.png)

[2021-06-01 04:26] vikasrohit commented on #4380
Good observation @drasticdpk please log it as separate issue and we would discuss how to handle it in coming weeks.

[2021-06-02 13:58] RishiRajSahu commented on #4384
Most permissive CSP header for Connect app and potentially for any app

[code]

Added this for Connect, via cloudfront edge lambdas
fyi @jswheeler @mtwomey

[2021-06-03 06:56] vikasrohit commented on #4380
@drasticdpk can you please log separate follow up issue for it? We can track it separately sa we didn't have clear requirements for the case where there is no billing account.

[2021-06-03 11:25] drasticdpk opened #4391 "This warning message never disappear for billing acc."
**Reference**
![image](https://user-images.githubusercontent.com/25297859/120637387-8fafdf00-c48e-11eb-86a3-ae6885f09c89.png)

https://connect.topcoder-dev.com/projects/17236/
https://github.com/appirio-tech/connect-app/issues/4380#issuecomment-851523455

[2021-06-03 11:26] vikasrohit commented on #4391
Thanks @drasticdpk

[2021-06-08 10:39] drasticdpk opened #4392 "Fix automation script- Phase Creation"
We have some changes on Phase creation screen, so test case is getting fail, Please fix it.
Branch : connect-automation

Reference :
![image](https://user-images.githubusercontent.com/25297859/121171373-26f1a980-c876-11eb-8372-43ec5bbea2ef.png)

[2021-06-09 05:20] vikasrohit commented on #4391
@drasticdpk this is ready for testing.

[2021-06-09 07:37] nursoltan-s commented on #4392
Fixed with this PR: https://github.com/appirio-tech/connect-app/pull/4396

![Uploading screencapture-file-Users-nursoltan-s-workspace-connect-app-connect-automation-test-results-TestResult-html-2021-06-09-15_35_32.png…]()

[2021-06-09 11:35] drasticdpk commented on #4392
Verified.
![image](https://user-images.githubusercontent.com/25297859/121347416-e57cff00-c946-11eb-9714-22167c5dc03d.png)

[2021-06-09 11:35] #4392 closed

[2021-06-10 08:33] drasticdpk commented on #4380
Verified on Prod mode
![image](https://user-images.githubusercontent.com/25297859/121492623-bde56f80-c9f6-11eb-83a7-c48a6a5d516c.png)

[2021-06-10 08:33] #4380 closed

[2021-06-10 08:51] drasticdpk commented on #4391
Verified on Prod mode
![image](https://user-images.githubusercontent.com/25297859/121492922-0a30af80-c9f7-11eb-8a96-c55d301fc66f.png)
![image](https://user-images.githubusercontent.com/25297859/121495139-16b60780-c9f9-11eb-9513-5f0156ecc2b3.png)

Note: There is no other billing account loaded, so I am making pass. If anything we can re-open this issue.

[2021-06-10 08:51] #4391 closed

[2021-06-10 09:17] lakshmiathreya commented on #4392
@drasticdpk can you add milestone for this pls?

[2021-06-10 12:33] vikasrohit commented on #4391
![](https://user-images.githubusercontent.com/25297859/121495139-16b60780-c9f9-11eb-9513-5f0156ecc2b3.png)

In this image, @drasticdpk Ideally there would be NO alert icon in the left menu as well, if there is no BA is attached to a project. You might have removed the BA from the drop down to test the fix, in that case the left menu might show the alert but as soon as you save and refresh the page

[2021-06-16 10:31] sandhiyakavi opened #4397 "Taas Project creation form: Job description textbox issues"
Description:
While creating a new Taas job, the Job description textbox has the following issue

1. Styles menu is missing in Job description textbox.
2. The red colour highlight on the textbox is still present even after the description is added.

Note: This issue is in both Dev as well as Prod Env.

<img width="960" alt="job_descrip+prod" src="https://user-images.githubusercontent.com/55895538/1

[2021-06-17 11:55] drasticdpk opened #4398 "Unable to do Reset password"
Steps :
1. Go to https://connect.topcoder.com/settings/account
2. Got to forgot password > Forgot password?
3.  Click on `Reset Password ' button

**Reference**
![image](https://user-images.githubusercontent.com/25297859/122391311-95c7b480-cf92-11eb-8931-de8298bbaed9.png)

[2021-06-17 11:58] drasticdpk commented on #4383
Note: Automation script has been added on dev branch. Now closing this ticket.

[2021-06-17 11:58] #4383 closed

[2021-06-17 12:58] RishiRajSahu commented on #4384
This is done on Prod env.
fyi @jswheeler

[2021-06-17 12:58] #4384 closed

[2021-06-29 15:35] ajefts opened #4399 "[$30] Copilot Feedback Form"
New Feature:

Add a feature to allow a project user to leave feedback for the copilots on the project.

We have a typeform to handle the capture of the feedback:  https://topcoder.typeform.com/to/vgqiBXdk#copilot=xxxxx&projectid=xxxxx&submitter=xxxxx

Let's add a link/action next to each copilot so that a project user can leave individual feedback for each copilot:
![image](https://user-images.git

[2021-06-30 12:44] #4385 closed

[2021-06-30 12:50] vikasrohit commented on #4298
@maxceem can we close this?

[2021-06-30 12:51] vikasrohit commented on #4284
@maxceem can we close this?

[2021-06-30 12:53] maxceem commented on #4298
@vikasrohit yes, I've closed it.

[2021-06-30 12:53] #4298 closed

[2021-06-30 12:53] maxceem commented on #4284
@vikasrohit yes, closing it.

[2021-06-30 12:53] #4284 closed

[2021-07-06 08:32] vikasrohit commented on #4399
@yoution can you please wrap this one quickly?

[2021-07-06 08:33] yoution commented on #4399
@vikasrohit please assign to me

[2021-07-06 09:25] yoution commented on #4399
@vikasrohit please review

[2021-07-08 10:16] vikasrohit commented on #4399
@yoution it looks good. Can you please style the Feedback button to look like `Manage` button and also please change `Feed Back` to `Feedback` or better can we use the icon for feedback which is there down at the bottom for the application feedback link?

[2021-07-08 12:31] yoution commented on #4399
@vikasrohit
how about this one?
![image](https://user-images.githubusercontent.com/3863914/124921863-7240d880-e02b-11eb-9b98-19296effbead.png)

[2021-07-08 13:01] yoution commented on #4399
change to this style, please review https://github.com/appirio-tech/connect-app/pull/4404
on the other hand, there is no payment in this ticket
![image](https://user-images.githubusercontent.com/3863914/124925632-3a3b9480-e02f-11eb-8f74-fbe8a7cdf9f6.png)

[2021-07-09 05:26] vikasrohit commented on #4399
@yoution screenshot looks good, I have just merged it to feature branch. Will check on dev and come back to you.

I have also updated the prize money for it, let me know if it is not okay.

[2021-07-09 05:45] vikasrohit opened #4405 "Dead link in Connect Terms page"
The link under the privacy section of the page https://connect.topcoder.com/terms  is a dead link .

under privacy, should go here: https://www.topcoder.com/policy
​
![unnamed](https://user-images.githubusercontent.com/2417632/125029165-dfde1a80-e0a6-11eb-9d87-fde45165230a.png)
![unnamed (1)](https://user-images.githubusercontent.com/2417632/125029172-e10f4780-e0a6-11eb-8fbc-20b9646bfd54.png)

[2021-07-12 07:38] lakshmiathreya commented on #4399
-- Verified Copilot feedback form for Manager role.
-- @vikasrohit the form is visible for Copilot role as well - pls clarify regarding this.

[2021-07-12 07:47] lakshmiathreya commented on #4399
-- Team member is able to see the feedback form as well - pls clarify regarding this.

[2021-07-12 08:07] vikasrohit commented on #4399
@lakshmiathreya good catch here. We haven't thought of role based access yet. We can log it as separate issue and handle it later.

I think that is in fact the requirement, we want any project member to be able to do so, however, we just need to confirm about copilots. Most probably we won't allow copilots to give feedback for themselves. :) @ajefts what are your thoughts?

[2021-07-12 08:11] lakshmiathreya commented on #4405
Verified Privacy link in Connect Terms page.

[2021-07-12 13:38] lakshmiathreya commented on #4399
yes @vikasrohit - Team member feedback is the primary intent I guess. Just need clarification regarding form visibility for Copilot.

[2021-07-12 13:39] vikasrohit commented on #4399
Lets log a separate issue for that, we will get it fixed in next cycle.

[2021-07-12 23:12] ajefts opened #4410 "Create Milestone"
As a Connect Copilot/Manager/Admin I can add milestones to a project.

The data captured is as follows:

Must have:

- [ ] - Milestone Name
- [ ] - Description
- [ ] - Start Date (possibly calculate this based on the earliest challenge start date in the milestone.
- [ ] - End Date
- [ ] - Status - Draft, Planned, In Progress, Completed, Cancelled.

Out of scope :
- [ ] - Copilot(s) - should be a p

[2021-07-12 23:16] ajefts opened #4411 "Edit Milestone"
As a copilot/manager/admin I can edit an existing milestone. I can edit all fields.

Prototype:  https://marvelapp.com/prototype/660ha87/screen/80289302

[2021-07-12 23:17] ajefts opened #4412 "View Milestones"
As any project user I can view a list of milestones for a project.

Protoype:  https://marvelapp.com/prototype/660ha87/screen/80538280

[2021-07-12 23:18] ajefts opened #4413 "View Gantt Chart"
As any project user, I can view the Gantt chart of milestones.

Prototype:  https://marvelapp.com/prototype/660ha87/screen/80538281

[2021-07-12 23:20] ajefts opened #4414 "Set milestone of challenge - work manager"
As a Work Manager user creating/editing a challenge, I can assign the challenge to a milestone.  The list of milestones is based on the milestones of the project.

As a user, I can click "Add New Milestone", which will take me to Connect to add the milestone within the project.

Prototype:  https://marvelapp.com/prototype/660ha87/screen/80538282

[2021-07-12 23:23] ajefts opened #4415 "View Challenges In Milestone - Connect"
As a copilot/manager/admin, I can view a list of challenges that are in a milestone. I do this by expanding the milestone to see a list of challenges.  Clicking on a challenge will open that challenge in Work Manager.

The user will not have the ability to edit/create challenges from within Connect.

Example Prototype:  https://marvelapp.com/prototype/83f28df/screen/78966156

[2021-07-12 23:25] ajefts opened #4416 "View Challenges by Milestone - Work Manager"
As a user in Work Manager, I can view challenges within a project by milestone.  The user can switch between a listing view (current design) and a milestone view.  When in the milestone view, the challenges are grouped under their respective milestone.  The challenges with no milestone are grouped together at the bottom.

[2021-07-13 09:03] maxceem opened #4417 "[TaaS] Restrict the duration field on Jobs to a 4 week minimum"
Task from Will:

[2021-07-15 04:33] sandhiyakavi commented on #4417
Verified on Dev Env

![image](https://user-images.githubusercontent.com/55895538/125729229-26cb4e5b-55be-4702-9d8a-468c9ba2ed0f.png)
![image](https://user-images.githubusercontent.com/55895538/125729340-610599dc-c451-40aa-8076-93b182f65073.png)

[2021-07-15 06:03] lakshmiathreya commented on #4417
cc @coderhacker

[2021-07-15 11:49] #4405 closed

[2021-07-15 11:55] lakshmiathreya opened #4420 "Copilot Feedback form visible to all Copilots"
This is related to the requirement in:
https://github.com/appirio-tech/connect-app/issues/4399

Copilots in the Team have access to other Copilot's Feedback forms. The access should be restricts to TC Managers and Team members only.

<img width="1680" alt="Screenshot 2021-07-15 at 5 25 29 PM" src="https://user-images.githubusercontent.com/51733042/125784019-b4858223-0a70-4617-98dc-096d29f1f3e8.png

[2021-07-15 11:57] lakshmiathreya commented on #4399
The form visibility needs to be Role based. Closing the Issue - pending fix for Copilot role visibility tracked in https://github.com/appirio-tech/connect-app/issues/4420

[2021-07-15 11:57] #4399 closed

[2021-07-16 03:53] sandhiyakavi commented on #4417
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/125888983-957073c7-09a0-41e1-8b57-473fe7a5595a.png)
![image](https://user-images.githubusercontent.com/55895538/125889239-79e559b2-70bf-417d-9a4d-4d28ee907c1d.png)

[2021-07-19 05:13] #4417 closed

[2021-07-23 10:03] elkhawajah opened #4422 "New Milestone Concept"
This ticket explains the scope of initial new milestone concept development:

## Overview

Topcoder is improving the UX for communicating project plan and progress with customer, instead of using external tools like smartsheet, Topcoder wants it to be all in connect.

We are starting with adding Milestone concept, this is like saying we have "Design Phase", "Development Phase", "QA and Bug Bash Ph

[2021-07-23 12:36] drasticdpk commented on #4422
@elkhawajah , overall function is working as expected. But there is some observation.
1. When there is only one milestone, at that time it is not accessible in customer view.
**Project** : https://connect.topcoder-dev.com/projects/18116

![image](https://user-images.githubusercontent.com/25297859/126780968-48e8865e-010f-4544-bca7-d00b2c032f8e.png)

2. Let's update content of message from PHASE > M

[2021-07-23 13:15] drasticdpk commented on #4410
Note : Few findings are logged over here. https://github.com/appirio-tech/connect-app/issues/4422#issuecomment-885608108

[2021-07-23 14:06] coderhacker commented on #4422
@elkhawajah adding one more finding.  All fields are not proper aligned as per design
![image](https://user-images.githubusercontent.com/62358241/126793763-77c46673-3f49-481a-af11-f3ff62b1de71.png)

[2021-07-23 14:07] drasticdpk opened #4424 "Add New Milestone button is missing If user try to save milestone with -ve value in BUDGET field"
**Reference**

https://user-images.githubusercontent.com/25297859/126793410-d8e841ad-cbec-4aec-b5f9-307a03bae186.mp4

**Possible Solution**

![image](https://user-images.githubusercontent.com/25297859/126793908-a4f6c1ab-0fc3-42bf-bd1f-0e234d1afa8c.png)

[2021-07-25 10:17] elkhawajah commented on #4424
@drasticdpk ready for QA

[2021-07-25 10:17] elkhawajah commented on #4422
@drasticdpk ready for QA, we did fixes

[2021-07-26 04:21] drasticdpk commented on #4424
Verified on Dev
**Reference**
![image](https://user-images.githubusercontent.com/25297859/126932696-cffab719-5e8a-48e4-89ee-afc0e1b4b8bd.png)

[2021-07-26 04:42] drasticdpk commented on #4422
Verified.
1. There is some confusion will create new issue for this.
2. Ok
3. ok
4. ok
5. ok
6. ok
7.  Design alignment  > ok.

[2021-07-26 05:11] drasticdpk opened #4427 "Unable to delete selected Milestone"
- [ ] This is not a functional issue, it is a UX issue, if you are confusing about why delete not deleting multiple items, then the UI should update to disable these icons on multiple items selection so user is forced to use the items at top of the table.

Here user can delete only one milestone at a time, Either we have to change message content of confirmation window or remove the checkbox ( col

[2021-07-26 05:39] drasticdpk opened #4428 "Milestone with Draft status is showing for Customer view."
Reference
![image](https://user-images.githubusercontent.com/25297859/126936563-a6900b87-1d7d-4abe-8b55-560572322f45.png)

https://user-images.githubusercontent.com/25297859/126936897-0354ddb3-13fa-43c5-9e43-339922027613.mp4

Finding : Initially Milestone with draft status is not showing but once there is active status then other milestone ( draft ) status are also showing.

[2021-07-26 05:41] drasticdpk commented on #4428
please confirm above scenario cc @RishiRajSahu @lakshmiathreya @ajefts

[2021-07-26 08:49] RishiRajSahu commented on #4428
@elkhawajah @drasticdpk seems to be a bug. draft phases were not shown to customer earlier.

[2021-07-26 09:12] drasticdpk commented on #4422
Verified on Prod env.

**Reference** :

![image](https://user-images.githubusercontent.com/25297859/126964495-4e1001b8-fb14-495a-b4a7-0fca3b31b561.png)

[2021-07-26 09:14] drasticdpk commented on #4424
Verified on Prod

![image](https://user-images.githubusercontent.com/25297859/126964774-752d1608-54a0-4862-85a9-4aad153540a3.png)

[2021-07-26 10:33] coderhacker opened #4430 "Getting error on every project on load"
### Expected behavior
The error should not be in the console for any page.

### Actual behavior
When opening the old projects and new projects, I am getting a time console error.

### Steps to reproduce the problem
Please see attached screenshot and video for reproducing the issue
### Screenshot/screencast
Attach or link a resource.
![image](https://user-images.githubusercontent.com/62358241/12697

[2021-07-26 11:53] elkhawajah opened #4432 "Remove White Space In Milestone Table"
Because of copilots removal, we need to fix the content to occupy the full table width
![image](https://user-images.githubusercontent.com/1621715/126984459-86cd7867-5075-42af-93a6-61d8f04d6ce3.png)

[2021-07-26 12:00] drasticdpk commented on #4432
Customer view ( where we have hide the Action Column )

![image](https://user-images.githubusercontent.com/25297859/126985239-d326790b-9531-4ff0-acd8-ab8a3f360808.png)

[2021-07-26 12:07] elkhawajah opened #4433 "Milestone Management : Budget Tracking"
Make budget field progressive based on challenge spends

- [ ] Remove the budget field and adjust width

[2021-07-26 13:24] nqviet commented on #4430
@elkhawajah @coderhacker
1. the billing account not-found error are handled error:
![Untitled](https://user-images.githubusercontent.com/36178659/126995677-1e0de527-59f7-4cdf-9947-13d2d8bdb0ae.png)
![Untitled2](https://user-images.githubusercontent.com/36178659/126995690-dd5cebab-bab5-4676-a020-3ef3608bea7b.png)

2. the notification error seems to be the server side issue

I saw that the both erro

[2021-07-27 04:35] #4410 closed

[2021-07-27 04:35] #4411 closed

[2021-07-27 04:35] #4412 closed

[2021-07-27 04:36] #4424 closed

[2021-07-27 08:15] RishiRajSahu commented on #4433
@elkhawajah as per recent discussion we are going to remove budget field from milestones.

[2021-07-27 08:19] RishiRajSahu opened #4438 "Make Administrative section on left side panel more observable"
Currently the administration section to navigate to other apps is not quite observable and hence not get much used or identified by users to switch to corresponding apps for a project.

We might need some new design updates here.

fyi @ajefts

[2021-07-27 08:20] RishiRajSahu commented on #4438
![Screenshot 2021-07-27 at 1 48 10 PM](https://user-images.githubusercontent.com/11248478/127121213-b08e9628-e27a-4f62-88dc-e5c21c63ae78.png)

[2021-07-28 19:47] elkhawajah opened #4439 "Milestone Management : Copilots"
We allow linking a milestone to copilots, so that we can tell which copilot worked on what milestones. Also it will allow to give access/permission in future for specific milestones to copilots instead the full project.

Initially the version is to allow linking copilots to a milestone.

[2021-07-28 20:29] elkhawajah commented on #4439
Bugs :
- [ ] Exclude email from member copilots popup, The phases api, is returning members array that include the id, photoURL, and handle, use that to render the details of member, don't render the email address.
- [ ] When adding copilots, when clicking to save, it show copilot for a second then disappear, when refresh it will show it.

[2021-07-28 20:37] elkhawajah opened #4440 "Milestone Management: Customer Approval"
The feature is to allow customer to approve milestones added to the TC connect project.

The idea is to show customer the project plan, consisting of milestones and challenges running under these milestones, along with timeline and budget.

So customer will review the milestones, and approve or reject.

The user story :
- Copilot/PM adds or update milestones
- Copilot/PM move the Milestone to 'In

[2021-07-29 06:30] nqviet commented on #4439
@elkhawajah
for `it show copilot for a second then disappear`, it is an backend issue:
(while get/list phase(s) returns `members` field, `update phase` does not return this field. After updating successfully, the phase is reloaded with backend data and the members field is null)
![Untitled](https://user-images.githubusercontent.com/36178659/127442387-cd4c1921-9ecb-4654-8c5a-d2fa8fd13330.png)

[2021-07-29 14:19] elkhawajah opened #4443 "Update Phase Create and Patch/Update"
- [ ] Phase create and update/patch apis should allow passing optional members/copilots to create/update for Phase Members
- [ ] Create/Update/Patch phase should return the members created/updated with photoURL, id, and handle

[2021-07-29 14:19] elkhawajah commented on #4443
wrong repo

[2021-07-29 14:19] #4443 closed

[2021-08-03 05:03] drasticdpk commented on #4432
Verified on dev env,
![image](https://user-images.githubusercontent.com/25297859/127960335-5c477c3a-b7b6-4ae5-93c5-4ef3e884f564.png)

![image](https://user-images.githubusercontent.com/25297859/127960596-8e1ddc9a-5995-47e1-a924-3c77f76d0d4c.png)

[2021-08-03 05:46] drasticdpk commented on #4428
Verified on Dev env.
![image](https://user-images.githubusercontent.com/25297859/127964267-476cf778-3810-42a7-86a0-682a2cb00b7d.png)

[2021-08-06 05:54] elkhawajah opened #4447 "Milestone Management - Bulk update feature"
- [x] in connect admin/pm/copilot can do bulk update the copilots in selected milestones
- [x] the user can bulk push the milestones dates
- [x] the user can bulk delete milestones

prototype
https://marvelapp.com/prototype/660ha87/screen/81132237

[2021-08-06 12:53] drasticdpk commented on #4439
Verification :
![image](https://user-images.githubusercontent.com/25297859/128513094-b58a9fb9-4228-46f6-adf7-8f4f0f3ed963.png)

![image](https://user-images.githubusercontent.com/25297859/128513308-367a2da9-1343-4008-ba12-8ad6d4da4115.png)

[2021-08-06 13:00] drasticdpk commented on #4415
@elkhawajah ,
Can you link me specific project where I can meet above scenario ?

[2021-08-06 13:02] drasticdpk commented on #4433
Verified.
**Reference**
![image](https://user-images.githubusercontent.com/25297859/128514345-7880ce4d-d8a7-4522-aade-d86a278112b3.png)

[2021-08-07 16:58] elkhawajah commented on #4415
https://connect.topcoder-dev.com/projects/18166/

[2021-08-09 02:28] drasticdpk commented on #4414
Verified on Dev env

**Reference**:

Challenge : https://connect.topcoder-dev.com/projects/18173

![image](https://user-images.githubusercontent.com/25297859/128654535-b2e511d2-e6fa-4fa6-9b1d-c589ee838752.png)

Edit Milestone Window :
![image](https://user-images.githubusercontent.com/25297859/128654774-f8813655-4fd4-484c-a787-9a77c6fdbafe.png)

[2021-08-09 02:47] drasticdpk commented on #4415
Verified.
![image](https://user-images.githubusercontent.com/25297859/128655209-4acc40ba-fccf-4b21-a6c3-b7b0d1dffe73.png)

Let's open the Challenge in new window instead of same window. please confirm @RishiRajSahu @ajefts

[2021-08-09 03:24] drasticdpk opened #4449 "[Milestone Management] Challenge End Date does not sync between Connect/WM/Community APP"
Reference

https://connect.topcoder-dev.com/projects/18173

![image](https://user-images.githubusercontent.com/25297859/128657274-2287618d-68d5-4b72-8ccb-a4d23c98bf8e.png)

[2021-08-09 06:23] drasticdpk opened #4450 "Unable to find Save button - Milestone Add/Edit."
**Browser** : Safari

Reference :

![image](https://user-images.githubusercontent.com/25297859/128666811-107dd57e-930c-45d6-a6c4-bff8d7091da9.png)

**Other Details**
![image](https://user-images.githubusercontent.com/25297859/128666956-672f4f95-f2a8-4fcb-a110-cd2aab0b2f42.png)

[2021-08-09 06:48] drasticdpk opened #4451 "Feedback : Milestone Management View"
**Reference**

![image](https://user-images.githubusercontent.com/25297859/128668959-c8e03cbe-f4e0-45b7-b525-0bd7bc0bf79c.png)

[2021-08-09 06:53] drasticdpk opened #4452 "UI is breaking at Move selected milestone dates screen"
Browser : Safari

**Reference**

![image](https://user-images.githubusercontent.com/25297859/128669271-f1486c2f-3f2f-4075-b3fc-b8ee889abf1c.png)

[2021-08-13 09:23] elkhawajah commented on #4449
We are using `challenge.startDate` and `challenge.endDate` fields to render the dates

We can use `phases` array first item `startDate` and last phase item `scheduledEndDate` to render the timeline, and then on actual challenge end date we will use the `actualEndDate` of the last phase object

The challenge object

[code]

[2021-08-13 09:25] RishiRajSahu commented on #4449
I am good with using `challenge.startDate` and `challenge.endDate` , @ajefts do you have any preferences here ?

[2021-08-13 09:26] RishiRajSahu commented on #4451
1. let's use PROJECT(S)

[2021-08-13 09:26] elkhawajah commented on #4427
This is old UX. @drasticdpk clarify with latest screenshots.