[2019-12-12 23:30] nithyaasworld opened #3418 "'Leave Project' confirmation popup has repeated text"
1. Login as Account Manager user in Test Environment (https://connect-test01.topcoder-dev.com/
topcoderconnect+AccountManager@gmail.com )
2. Join any project
3. Then click on Leave and check the popup displayed

Actual:
Popup has repeated text. Please see screenshot below

![image](https://user-images.githubusercontent.com/5114190/70757437-919b5500-1d65-11ea-9d74-84ee5f2b8b7b.png)

[2019-12-12 23:31] nithyaasworld commented on #3418
cc: @lakshmiathreya @maxceem

[2019-12-12 23:33] nithyaasworld commented on #3418
Also 'still' is incorrectly spelled in the popup as 'stil'

[2019-12-12 23:45] nithyaasworld opened #3419 "Admin/Copilot User not able to Edit a exist project phase"
1. Login as Admin user topcoderconnect+Admin@gmail.com in the test env ( https://connect-test01.topcoder-dev.com/ )
2. For a project where this user is not a member, add a phase
3. Then click on Edit pencil icon of the added phase
4. Check

Actual:
I am not able to edit the phase. Clicking on Edit just makes the pencil icon disappear.

![image](https://user-images.githubusercontent.com/5114190/707

[2019-12-12 23:45] nithyaasworld commented on #3419
cc: @lakshmiathreya @maxceem

[2019-12-13 00:20] nithyaasworld opened #3420 "Not able to invite Customer, being logged in as Connect Account Manager and Copilot Manager"
1. Go to Connect Test environment https://connect-test01.topcoder-dev.com/
2. Log in as one of the following users:
     - topcoderconnect+AccountManager@gmail.com
     - topcoderconnect+CopilotManager@gmail.com
3. Go to any project and look for option to invite customers

Actual:
No option to invite customers

![image](https://user-images.githubusercontent.com/5114190/70759383-4173c100-1d6c-11ea-

[2019-12-13 00:21] nithyaasworld commented on #3420
cc: @lakshmiathreya @maxceem

[2019-12-13 00:53] nithyaasworld opened #3421 "Delete phase is not working"
1. Login as Copilot in the Test Environment
2. Add a phase to your project and then delete it
3. Refresh the page and observe

Actual:
Phase is not getting deleted. It re-appears.

[Delete phase not working.zip](https://github.com/appirio-tech/connect-app/files/3958463/Delete.phase.not.working.zip)

[2019-12-13 00:53] nithyaasworld commented on #3421
cc: @lakshmiathreya @maxceem

[2019-12-13 01:01] nithyaasworld opened #3422 "Not able to Add/Remove Phase to a Project being an Account Manager of THAT project"
1. Login as Account Manager in Test Environment
2. Go to a project where this user is part of, as an Account manager
3. Look for Add/Remove Phase option

Actual:
Add/Remove Phase option is not available for Account Manager user though he is part of that project.

Expected:
As per the Role Matrix, "Being a member of a project, every user other than customer should be able to Add/Remove phases"

![i

[2019-12-13 01:01] nithyaasworld commented on #3422
cc: @lakshmiathreya @maxceem

[2019-12-13 01:12] nithyaasworld opened #3423 "[$50] Not able to join a project being an admin user"
1. Login as Admin user to Test Environment
2. Try to Join a project and check

Actual:
I tried to join a project with all the listed user roles. But it did not let me join stating some validation errors.

![image](https://user-images.githubusercontent.com/5114190/70761574-a848a880-1d73-11ea-8b6e-6a992500c407.png)

[2019-12-13 01:12] nithyaasworld commented on #3423
cc: @lakshmiathreya @maxceem

[2019-12-13 01:28] nithyaasworld opened #3424 "[$80] Topcoder member Invite dropdown is not showing suggestion list for the Account Manager"
1. Login as Account Manager to the Test Environment
2. Join any project
3. Click on 'Manage' to open the Topcoder Member invite popup
4. In the 'Enter one or more handles', start typing a handle name and observe

Actual:
Its not showing the suggestion list.

Note: This works if logged in as Admin user

![image](https://user-images.githubusercontent.com/5114190/70762216-d4652900-1d75-11ea-981f-0834

[2019-12-13 01:28] nithyaasworld commented on #3424
cc: @lakshmiathreya @maxceem

[2019-12-13 01:37] nithyaasworld opened #3425 "Not able to join a project as an Observer being a Connect Manager"
1. Login as Connect Manager topcoderconnect+CopilotManager@gmail.com in Test Environment
2. Try to join any project as an Observer and check

Actual:
It is throwing the below error when trying to join a project as an observer, being a Connect Manager.

![image](https://user-images.githubusercontent.com/5114190/70762607-265a7e80-1d77-11ea-95cd-d3c7bd086984.png)

[2019-12-13 01:41] nithyaasworld commented on #3424
This issue is also noted for Copilot Manager role. But NOT for Manager role.

[2019-12-13 07:19] vikasrohit commented on #3420
@nithyaasworld you have to join the project to perform the operation, if you are not an admin.

[2019-12-13 07:24] vikasrohit commented on #3423
@nithyaasworld @lakshmiathreya if the logged in user does not have the same user role i.e. to join as Account Manager, does not have Account Manager user role, he/she has to join the project as regular Manager role. Could you please try joining as `Manager` when logged in as admin or any `Connect Manager`?
As context, this as per our future plan of simplifying role access where we would allow user

[2019-12-13 07:28] vikasrohit commented on #3425
See the reference in https://github.com/appirio-tech/connect-app/issues/3423#issuecomment-565332566

[2019-12-13 07:32] vikasrohit commented on #3425
Because we don't have `Observer` user role, practically `Observer` role in project is not usable. So, we have two options:
1. Remove the `Observer` option from the dropdown (makes more sense to me)
2. Allow the users with roles `Connect Manager` or admins to be able to join this `Observer` role.

[2019-12-13 07:47] vikasrohit commented on #3419
@maxceem it seems a valid issue and needed to addressed before the release.

[2019-12-13 07:48] vikasrohit commented on #3422
Yes, that is as per requirements. Account Managers are prevented from the editing the project plan to prevent accidental updates.

[2019-12-13 07:51] vikasrohit commented on #3424
@maxceem is it because of security constraints imposed by member api on `_suggest` endpoint?

[2019-12-13 07:52] vikasrohit commented on #3421
@nithyaasworld is it happening every time with every user role? Just trying to make sure if it is happening in specific scenario or a generic bug.

[2019-12-13 07:55] vikasrohit commented on #3400
I mean, we don't have clear understanding of what copilots are allowed to in terms of status updates. Although we haven't restricted explicitly, copilots are not able to update the project status to certain specific ones.

[2019-12-13 09:14] maxceem opened #3426 "Reconsider if copilots should be able to change project status"
Follow up from #3400

Form Vikas:

So we should discuss with the product team of what are the rules for copilots users, when they should be able to change project status and when should not.

[2019-12-13 09:15] maxceem commented on #3400
Created a follow up issue https://github.com/appirio-tech/connect-app/issues/3426

[2019-12-13 20:48] nithyaasworld opened #3427 "[$50] [Project Service] For Account Manager, Not able to perform 'Remove' Topcoder member operation though its available"
1. Login as Account Manager in Test environment
user id: topcoderconnect+AccountManager@gmail.com
2. Go to https://connect-test01.topcoder-dev.com/projects/8572
3. Click on Manage
4.  Try to remove any of the members. Example, try to remove Copilot and check

Actual:
Account Manager is not able remove the Copilot though the user has the 'Manage' option with 'Remove' option too.

![image](https://u

[2019-12-13 20:50] nithyaasworld commented on #3427
cc: @lakshmiathreya

[2019-12-13 21:00] nithyaasworld opened #3428 "Project creation Notifications are not sent"
Requirement: All Project Creation Notifications should be sent to Account Manager and ~Admin users~ Business Development Representative

Actual: Project creation notifications are not sent to Account Manager. Verified by creating projects using Account Manager's user credentials as well as Copilot user credentials.

[2019-12-13 21:01] nithyaasworld commented on #3428
cc: @lakshmiathreya

[2019-12-13 21:08] nithyaasworld opened #3429 "Cannot see any project being an observer user"
1. Login as observer user on Test Environment. Verified with user topcoderconnect+Observer@gmail.com
2. Check the project list

Actual:
No projects are displayed.

As per the Role Matrix, Observer user should be able to see all the projects of connect

[2019-12-13 21:08] nithyaasworld commented on #3429
cc: @lakshmiathreya

[2019-12-14 05:12] maxceem opened #3431 "Invite disappear when if we invite on Dashboard and switch to other section"
### Expected behavior
Invite should be still shown.

### Actual behavior
Invite disappeared.

### Steps to reproduce the problem
- Open Dashboard page of any project, for example https://connect.topcoder-dev.com/projects/8574
- Invite any user using Team of Topcoder section.
- Switch to **Messages** page of the project.
- Obser that just invited user disappeared.

### Screenshot/screencast
Demo vi

[2019-12-14 06:01] maxceem commented on #3431
Fixed via https://github.com/appirio-tech/connect-app/commit/3acd97e14a58cbd6ae90cd306aeedfe0d4a1f5e9 and pushed to DEV.

[2019-12-14 11:01] maxceem opened #3432 "Member List UI Redesign"
Task from Rishi:

[2019-12-14 11:03] maxceem opened #3433 "Add Working Hours field on the Registration form and Profile form"
Task from Rishi:

![image](https://user-images.githubusercontent.com/146016/70847864-73883e80-1ea4-11ea-9255-7838ff84a8ff.png)

[2019-12-14 11:06] maxceem commented on #3433
Working hours for registration form is done in PRs to
- accounts-app https://github.com/appirio-tech/accounts-app/pull/328
- react-components https://github.com/appirio-tech/react-components/pull/345

Also editing working hours in Connect App is done in PR https://github.com/appirio-tech/connect-app/pull/3385

@RishiRajSahu I've just checked, but cannot see them on Account App DEV: https://account

[2019-12-14 11:12] maxceem commented on #3432
It has been implemented and pushed to DEV and TEST for testing.

**There is one known issue at the moment**:
When we click the buttons “Show All” the quantity of content in the sidebar grows and it got cut, see [demo video](https://monosnap.com/file/Ns4PVhnd3kNj9y5cvKxG5yIiTrilJt). We have to scroll up and scroll down again to see the whole content of the sidebar.

We have to fix this issue with m

[2019-12-14 12:08] nithyaasworld commented on #3396
@maxceem This is still happening in Test Environment. Can you check please?

![image](https://user-images.githubusercontent.com/5114190/70848500-839a2100-1e98-11ea-9a3b-b160520ab301.png)

[2019-12-16 02:21] RishiRajSahu commented on #3412
@maxceem I prefer doing it proper way.

totally separate thought, could we allow the users to see their invited user's email instead of masking them, could there be any risk with this approach? could other personB unmask Person A's invites email by just knowing the userId of personA in that approach.

[2019-12-16 03:53] maxceem opened #3435 "[$20] IE 11 minor visual issues"
I've noticed some minor visual issues in IE 11:

![image](https://user-images.githubusercontent.com/146016/70877763-bc9dd700-1ff9-11ea-8c43-ef9a7ed60f2b.png)

1. Should we fix them?

2. Do we have the list of browsers we intend to support?<br>
    I guess it would be best if we define the list of browsers to support based on the actual browser statistics of **Connect App** users. As far as I know,

[2019-12-16 07:30] maxceem commented on #3396
@nithyaasworld This is another issue, which has been listed here https://github.com/appirio-tech/connect-app/issues/3397. Even though they may look similar, the reasons for them are different.

In the current issue, the problem was, that the user cannot press button **Save Settings** at all because the button is disabled. This issue has been fixed and now the user can press that button so the requ

[2019-12-16 07:48] maxceem commented on #3424
Reference https://github.com/appirio-tech/connect-app/issues/3225

I will check what is the reason for Copilot Manager.

[2019-12-16 08:02] maxceem commented on #3428
Only Account Managers and Bussiness Development Representatives should get notifications about new projects. But user with Administrator or Connect Manager roles, shouldn't get such notifications:
![image](https://user-images.githubusercontent.com/146016/70889277-33000080-201d-11ea-8634-ea3095806d62.png)

This works as expected for me and `topcoderconnect+AccountManager@gmail.com` gets notificatio

[2019-12-16 08:08] maxceem commented on #3412
I think we can do that. So when Project Service would mask emails it could check if the user who created each invite, and for the invite created by the current user who makes the requests such emails could be returned unmasked. I don't see security loops here and from the top of my head, this is doable.

[2019-12-16 09:20] lakshmiathreya commented on #3433
cc @nithyaasworld

[2019-12-16 09:22] lakshmiathreya commented on #3405
cc @nithyaasworld lakshmiathreya

[2019-12-16 09:23] vikasrohit commented on #3425
@nithyaasworld I think you meant `Copilot Manager` instead of `Connect manager`. Please confirm if so.

[2019-12-16 09:23] vikasrohit commented on #3429
We can defer this one to next release as Observer role is going away soon. As discussed in https://github.com/appirio-tech/connect-app/issues/3425#issuecomment-565334438 we can get rid of `Observer` option.

[2019-12-16 09:23] lakshmiathreya commented on #3432
cc @nithyaasworld @lakshmiathreya

[2019-12-16 09:24] vikasrohit commented on #3427
@nithyaasworld can we verify that if the issue not there on production as of now?

[2019-12-16 09:26] vikasrohit commented on #3428
@nithyaasworld can you please share the Account manager user you used to test this?

[2019-12-16 09:32] vikasrohit commented on #3435
@maxceem I think we support IE11, but I would confirm again.

[2019-12-16 09:40] lakshmiathreya commented on #3383
cc @nithyaasworld @lakshmiathreya

[2019-12-16 09:41] lakshmiathreya commented on #3418
cc @lakshmiathreya

[2019-12-16 10:04] maxceem commented on #3421
I can reproduce this issue in V5. Fixed it and deployed to TEST.

[2019-12-16 10:28] maxceem commented on #3418
Fixed via https://github.com/appirio-tech/connect-app/commit/8be4d606c8fdf1d3089aff8a20f7735ba1f904d5.

Pushed and deployed to both TEST and DEV env.

![image](https://user-images.githubusercontent.com/146016/70898411-9561fc80-202f-11ea-821d-b215df4b4e0a.png)

[2019-12-16 10:37] maxceem commented on #3419
Fixed via https://github.com/appirio-tech/connect-app/commit/073b0a3fb4acb7e77f3656a33c80466313bedbbd.

Deployed to both TEST and DEV env.

Tested via topcoderconnect+Admin@gmail.com:

![image](https://user-images.githubusercontent.com/146016/70899783-52edef00-2032-11ea-93f7-14acf8d32a2a.png)

[2019-12-16 14:01] lakshmiathreya commented on #3418
The verbiage should be "One you leave, somebody on your team has to add you back to the team for you to be able to see the project. Do you still want to leave?"

The "for you" is missed out - one of them needed to be retained.

<img width="1471" alt="Screenshot 2019-12-16 at 7 26 37 PM" src="https://user-images.githubusercontent.com/51733042/70912492-10c8ab80-203a-11ea-83dc-68c48e3da473.png">

[2019-12-16 14:43] lakshmiathreya commented on #3419
Admin is able to Add and Delete Phases. However, Admin user is still not able to Update Phase.

[2019-12-16 15:09] nithyaasworld opened #3437 "In some cases Time zone added when registering is not displayed in the User's profile"
1. Go to connect-test01.topcoder-dev.com
2. Register a new user
3. Then check the newly created user's profile info

Actual:
The Time Zone added when registering, is not displayed in the user's profile

![image](https://user-images.githubusercontent.com/5114190/70917898-28a52d00-2044-11ea-8ee1-1308b26f1289.png)

[2019-12-16 15:10] nithyaasworld commented on #3437
cc: @lakshmiathreya

[2019-12-16 15:12] RishiRajSahu commented on #3437
@nithyaasworld was there any error during user creation ? could you provide the credentials of this user ?

[2019-12-16 15:17] nithyaasworld commented on #3359
I am not able to verify this because of https://github.com/appirio-tech/connect-app/issues/3437

[2019-12-16 15:50] lakshmiathreya commented on #3425
Issues related to Observer Role defered for now.

[2019-12-16 16:04] nithyaasworld commented on #3419
@maxceem Being an admin user topcoderconnect+Admin@gmail.com , I am not able to edit the phase of this project https://connect-test01.topcoder-dev.com/projects/8588

However, there is no issue if I edit the phase of a newly created project. Can you please check why? Thanks.

[2019-12-16 16:08] lakshmiathreya commented on #3419
I notice the same behavior even for Copilot user for existing projects.

[2019-12-16 16:38] nithyaasworld commented on #3378
@RishiRajSahu

It displays the username and not the name. Everything else is okay.

Is this okay?

![image](https://user-images.githubusercontent.com/5114190/70924993-83dd1c80-2050-11ea-94c7-dce952aec9b7.png)

[2019-12-16 16:56] nithyaasworld commented on #3379
Verified in Dev environment.

Verification screenshot:
![image](https://user-images.githubusercontent.com/5114190/70926413-167ebb00-2053-11ea-97f1-c4b00667bbf7.png)

[2019-12-16 17:16] nithyaasworld commented on #3391
After changing the user role, the user's name and user's Timezone info are gone.

Please find the video here:
[role changing issue.zip](https://github.com/appirio-tech/connect-app/files/3969307/role.changing.issue.zip)

[2019-12-16 18:46] nithyaasworld commented on #3396
@maxceem is it about the fields Business Phone and company name? If yes, we are still letting the user to edit the phone number. Please confirm if this is okay. (It seems okay to me to have the phone number editable)

![image](https://user-images.githubusercontent.com/5114190/70933649-5e590e80-2062-11ea-984f-83810c53cd0f.png)

[2019-12-16 19:08] nithyaasworld commented on #3406
@maxceem The initial issue is fixed. But after approving, the actual names are replaced with 'Connect User'.

This wasn't the case when I last tested this issue few days back.

![image](https://user-images.githubusercontent.com/5114190/70935061-58186180-2065-11ea-8420-d0c2d1ec14ec.png)
![image](https://user-images.githubusercontent.com/5114190/70935134-839b4c00-2065-11ea-94af-d8a7ad1e969f.png)

[2019-12-16 19:16] nithyaasworld commented on #3432
Local time is not displayed in the same format as in the design template.

![image](https://user-images.githubusercontent.com/5114190/70935644-aed26b00-2066-11ea-9af9-5a4d3817f893.png)

[2019-12-16 19:52] nithyaasworld commented on #3432
Issue2 (major): I am not sure if this issue is related to this fix or not. Please let me know if it's not related to this fix, I will raise a new issue.

I added the users: nithyaasworld, tonyj and mess to the project https://connect-test01.topcoder-dev.com/projects/8588 as topcoder members. Then I logged into nithyaasworld from another browser window and updated the timezone.
Then again when I ch

[2019-12-16 20:13] nithyaasworld commented on #3431
This issue is not reproducible in Dev environment. However its reproducible in Test environment.

@maxceem Can we still close this?

[2019-12-16 20:13] nithyaasworld commented on #3431
cc: @lakshmiathreya

[2019-12-16 20:42] nithyaasworld commented on #3364
@maxceem
Q1: Are we going to retain the data filled and use it to auto-fill the common fields across the project-types? (Currently, it is retaining the data and auto-filling the same fields if it is present in other project-types)

Below workflow doesn't seem good. Could you check please?

1. I started creating a project and filled up a few screens
2. Used the back button present in the wizard
3.

[2019-12-16 21:25] nithyaasworld commented on #3400
@maxceem Currently, I am not able to change the status of a project being a Copilot for that project. Please confirm if this is an intentional change.

[2019-12-16 21:38] nithyaasworld commented on #3405
@vikasrohit I am not seeing any new message or message count. Below are the steps followed:

1. created a new project in Test Environment
2. Received an email from Topcoder regarding the project creation
3. But no coder bot message or message count is displayed in the project.

User used: devcustomer02 / appirio123
Project created: https://connect-test01.topcoder-dev.com/projects/8595

Please let

[2019-12-17 03:18] maxceem commented on #3418
Added `for you`:

![image](https://user-images.githubusercontent.com/146016/70962113-ea991f00-20be-11ea-9e75-0f71ccdafd0e.png)

[2019-12-17 03:25] maxceem commented on #3437
@RishiRajSahu on DEV the registration form still doesn't have Working hours shown. I guess cache hasn't been reset for the `dev` branch during deploying.

From the screenshot in this issue looks like many required fields become empty, as "title", "phone", "company", "country" and "timezone" are required fields, but they are empty on the screenshot in this issue:

![image](https://user-images.githu

[2019-12-17 03:57] maxceem commented on #3419
@nithyaasworld @lakshmiathreya I'm not sure if I found the same issues as you, but there was another issue in Webkit based browsers which caused showing: `An invalid form control with is not focusable.` in the browser console. I could reproduce it for any user.

It's now fixed and deployed to both DEV and TEST. Let me know if you still have issues with updating the phases.

[2019-12-17 04:40] maxceem commented on #3400
@nithyaasworld copilots should be able to change the status of the projects. It works good for me. Please, check that your user is a member of **Topcoder Team** with the `copilot` role. If you can still reproduce the issue, please let me know the project id which you are testing with:

![image](https://user-images.githubusercontent.com/146016/70965365-6482d580-20ca-11ea-86bf-606242a67c48.png)

[2019-12-17 04:44] lakshmiathreya opened #3438 "Registered SSO User Project Invite email has Register button"
### Expected behavior
Since the SSO user is registered, the Invite email should have Join Project button.

### Actual behavior
Register button in email instead of Join Project.

### Steps to reproduce the problem
- Log in to https://connect-test01.topcoder-dev.com as Copilot.
- Invite SSO user lakshmi.athreya@wipro.com to a project that this user is not a member of. Note that this is a registered

[2019-12-17 04:44] lakshmiathreya commented on #3438
cc @nithyaasworld

[2019-12-17 05:08] vikasrohit commented on #3437
It seems member api issue, because we tested it today and it worked fine in the evening but we would definitely look into it before release. And as a backup up plan, we would fix it on production as patch release because leaving this feature out is more difficult then fixing it as patch.

[2019-12-17 05:12] RishiRajSahu commented on #3437
@maxceem Cache has been reset for Accounts App you can see new fields on registration page now.
CC @nithyaasworld @lakshmiathreya

[2019-12-17 05:16] vikasrohit commented on #3396
@RishiRajSahu @maxceem I think as per the requirements, phone should be disabled to be editable for a copilot, right?

[2019-12-17 05:17] maxceem commented on #3396
I think no, but I cannot find the issue where @RishiRajSahu pointed out the requirements for this feature.

[2019-12-17 05:31] lakshmiathreya commented on #3418
Verified the corrected text.

[2019-12-17 06:03] maxceem commented on #3432
Format is fixed:

![image](https://user-images.githubusercontent.com/146016/70968935-8a61a780-20d5-11ea-80a0-fbc608502461.png)

- NOTE: for working hours instead of `EST` we should format `UTC+03:00`. There are two reasons:
  1. It's not so clear technically how to show timezone in format `EST`
  2. I guess users don't know all the timezones in format like `EST` so IMHO, it's better to show timezo

[2019-12-17 06:05] lakshmiathreya commented on #3419
Verified Edits by Admin and Copilot.

[2019-12-17 06:06] maxceem commented on #3391
This is fixed in DEV and TEST env via https://github.com/appirio-tech/connect-app/commit/5710ff4515ee122cff2263b89d15db23f5eb7299.

[2019-12-17 06:12] lakshmiathreya opened #3440 "[$10] Minor UI Issues"
### Expected behavior
- Long user names to be wrapped around correctly.
- Extra apostrophe to be removed from Phase addition message.

### Actual behavior
- Long user names overflow beyond left pane.
- Phase addition message has unnecessary apostrophe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

<img width="1652" alt="Screenshot 2

[2019-12-17 06:14] lakshmiathreya commented on #3440
cc @maxceem @nithyaasworld

[2019-12-17 06:23] maxceem commented on #3391
This is fixed via https://github.com/appirio-tech/connect-app/commit/5710ff4515ee122cff2263b89d15db23f5eb7299 and ready for testing on TEST and DEV env.

[2019-12-17 06:38] maxceem commented on #3432
This can be tested now in DEV and TEST.

[2019-12-17 06:47] maxceem commented on #3431
@nithyaasworld I cannot reproduce it in TEST env. If you still could do this, could you please share a video, user, and project you've tested with.

If this can be reproduced on TEST, we have to fix it before closing.

[2019-12-17 07:20] maxceem commented on #3397
This issue is caused by the Member Service issue. But we will implement a workaround in Connect App, so we don't depend here on the Memeber Service.

[2019-12-17 07:31] maxceem commented on #3397
When we register a new user using https://accounts.topcoder-dev.com/connect/registration. We send a request to the **User Service** to create a new user.

During processing that request, **User Service** internally creates a `basic_info` trait, and set `homeCountryCode` as a 3-digits:

![image](https://user-images.githubusercontent.com/146016/70973816-64da9b00-20e1-11ea-92ac-6185909d6f40.png)

Aft

[2019-12-17 07:44] maxceem commented on #3406
This is now fixed and works like this: https://monosnap.com/file/7n3gwa3SEflhfanyoGZQ1trAVFrL7T.
There is now a small delay, and the first invitation is hidden and after member records is shown. This is what I can do as a quick fix for the release, removing this delay is a little bit ticky and may require quite wast refactoring and another approach.

FYI @vikasrohit

It can be tested in TEST and D

[2019-12-17 08:29] lakshmiathreya commented on #3397
This issue is occurring in Prod for some users in version 2.4.16.

[2019-12-17 08:44] RishiRajSahu commented on #3397
@lakshmiathreya its in progress we are working on it.

[2019-12-17 08:46] lakshmiathreya commented on #3396
Phone number and Company name not editable. This was as per requirement right - pls clarify @RishiRajSahu

[2019-12-17 14:21] lakshmiathreya commented on #3437
Verified in Prod - Timezone being set for new user and visible in Project Team view.

[2019-12-18 00:27] lakshmiathreya opened #3443 "Some Assets missing after 2.5 upgrade"
### Expected behavior
All assets to be available after v5 upgrade.

### Actual behavior
Some assets appear to be not available after the upgrade.

### Steps to reproduce the problem
- Missing assets here:
https://connect.topcoder.com/projects/7195/assets
- Copilot reports that there were more assets earlier and now only 2 are seen.

### Screenshot/screencast
Attach or link a resource.

--
<img wid

[2019-12-18 00:28] lakshmiathreya commented on #3443
cc @mtwomey @ashields @nithyaasworld @tjefts

[2019-12-18 00:34] lakshmiathreya commented on #3443
cc @ajefts

[2019-12-18 03:33] maxceem commented on #3443
Already found the root of this issue, working on the fix.

[2019-12-18 03:46] nithyaasworld commented on #3379
Verified in Production:

![image](https://user-images.githubusercontent.com/5114190/71054190-111a9100-2177-11ea-973f-4a3675e41e3e.png)

[2019-12-18 04:46] #3420 closed

[2019-12-18 05:03] nithyaasworld commented on #3431
@maxceem

Please let me know if the below info did not help. I am marking this as 'QA Fail' for the below reason. But if you think, the below issue has to be addressed in a new ticket, please let me know, I will raise a new tickets instead of marking this one with 'QA Fail'

I added the users: nithyaasworld, tonyj and mess to the project https://connect-test01.topcoder-dev.com/projects/8588 as top

[2019-12-18 05:04] RishiRajSahu opened #3446 "Manager part of customer team not able to access `Manage Invitations` button"
Manager who were invited to the customer team should be able to manage the invitations but currently that button is not visible.

steps to reproduce -
1. Invite manager user to customer team
2. Login with manager user in another browser and accept the invite
3. Check customer team view - manager not able to view manage-invitations button.

[2019-12-18 05:10] RishiRajSahu commented on #3446
Potential fix https://github.com/appirio-tech/connect-app/pull/3444/commits/af18b2cf71f7dbb5d44773ab5548531f3581055a

[2019-12-18 05:21] nithyaasworld commented on #3431
Another way to reproduce:

1. Being logged in as Admin user, Go to https://connect-test01.topcoder-dev.com/projects/8596
2. Try to invite Copilot user topcoderconnect+Copilot@gmail.com to the project
3. Observe that it says this user is already invited but this user's name is not displayed under the Team

![image](https://user-images.githubusercontent.com/5114190/71057999-64471080-2184-11ea-8ab0-e

[2019-12-18 05:22] nithyaasworld commented on #3432
Just a note: Issue 2 stated in my last comment will be taken care via https://github.com/appirio-tech/connect-app/issues/3431

[2019-12-18 05:33] maxceem commented on #3431
Regarding the issue pointed in this comment https://github.com/appirio-tech/connect-app/issues/3431#issuecomment-566868893. This was 99% the issue with ES/DB V4/V5 inconsistency.

Also, I can see invitations for Tony and Mess on the list:

![image](https://user-images.githubusercontent.com/146016/71058396-af6c1e00-219a-11ea-8cfc-7a2e81c05a58.png)

Regarding

The copilot is already invited, it can

[2019-12-18 05:34] nithyaasworld commented on #3432
Time is not displayed if the user is just invited and not actually into the team. Can we please fix this as well? Thanks.

![image](https://user-images.githubusercontent.com/5114190/71058521-1fbc7480-2186-11ea-97df-97ac318e26a5.png)

[2019-12-18 05:39] maxceem commented on #3397
This is fixed and can be tested on DEV https://connect.topcoder-dev.com/ and PROD.

[2019-12-18 05:49] lakshmiathreya commented on #3446
cc @nithyaasworld

[2019-12-18 05:57] maxceem commented on #3397
Oh, this is a new issue. So some users may not have traits. So to fix this I guess, we have to check if users already has trait, then `PUT` it, if doesn't have, then `POST` it.

[2019-12-18 06:09] maxceem commented on #3397
@nithyaasworld I used the account you shared in this issue for testing, and when I click save this time it worked for me. So this account is fixed now. I guess it got fixed by saving 2 times. But the issue is still valid, we just have to find out how to get more accounts like this for testing this issue.

[2019-12-18 06:46] nithyaasworld commented on #3400
Thanks @maxceem It seems I had checked for a project where this Copilot user was a Customer and not a copilot!

[2019-12-18 08:18] RishiRajSahu commented on #3397
@nithyaasworld @maxceem could we create new ticket for the new issue, otherwise it would be hard to track later which bug got fixed via which commit ?

[2019-12-18 08:23] RishiRajSahu commented on #3446
@lakshmiathreya @nithyaasworld its fixed in prod, ready for QA.

[2019-12-18 08:27] RishiRajSahu commented on #3432
@nithyaasworld thanks for raising, btw did you tried refreshing the page before the user has accepted the invite ?

[2019-12-18 08:33] nithyaasworld opened #3451 "Regarding users with no traits"
This is regarding users with no traits.

This issue is originally found when testing: https://github.com/appirio-tech/connect-app/issues/3397

Issue is described here: https://github.com/appirio-tech/connect-app/issues/3397#issuecomment-566879634

[2019-12-18 08:35] nithyaasworld commented on #3451
cc: @maxceem @lakshmiathreya @RishiRajSahu

[2019-12-18 08:39] nithyaasworld commented on #3397
This issue will be verified on Production once the related issue https://github.com/appirio-tech/connect-app/issues/3451 is fixed

[2019-12-18 08:47] maxceem commented on #3432
@RishiRajSahu yes, backend can give us that data. We just don't show it for invites.
Should we fix it via hotfix or in regular dev?

[2019-12-18 09:11] vikasrohit commented on #3427
@RishiRajSahu is account manager allowed to do team operations as per the matrix?

[2019-12-18 09:15] nithyaasworld commented on #3437
@RishiRajSahu @lakshmiathreya I am able to reproduce this issue still.

Please find the video here:
[entered info, not getting carried forward.zip](https://github.com/appirio-tech/connect-app/files/3977518/entered.info.not.getting.carried.forward.zip)

[2019-12-18 09:46] maxceem commented on #3437
Looks like a Member Service issue. I'll check it out with the user which you've created in the demo video.

[2019-12-18 10:08] nithyaasworld commented on #3443
It looks good to me. However, I would like @lakshmiathreya to confirm as I did not see the issue earlier.

cc: @maxceem @vikasrohit

[2019-12-18 10:17] nithyaasworld commented on #3446
Verified on Dev. Yet to verify on Production.

![image](https://user-images.githubusercontent.com/5114190/71077560-aafd3080-21ad-11ea-88ee-5ebb5fbf350a.png)

[2019-12-18 10:29] maxceem commented on #3443
The issues has been fixed: attachments wasn't added to the ES index inside the projects. So we reindexed projects with attachments.

I can see the attachments which I didn't see before in my production project.

[2019-12-18 10:30] vikasrohit commented on #3432
@maxceem We should be good with not showing timezone data for invited users for this release. We should take this as next release's regular issue as it was not clear in our original requirements in 2.5. Could you please create a new issue and tag it with 2.5.1?

[2019-12-18 10:39] lakshmiathreya commented on #3443
Verified assets in Prod - the missed assets now appear for the Project.

[2019-12-18 10:42] maxceem opened #3452 "[$30] Show Local Time and Working Hours for invited users"
Follow up from issue https://github.com/appirio-tech/connect-app/issues/3432#issuecomment-566875140

In that issue we added showing Local Time and Working Hours for **members**. As has been clarified, we should also show this data for invited users.

![image](https://user-images.githubusercontent.com/146016/71079343-0fc48500-21c6-11ea-93bc-fb2bcb6b3389.png)

[2019-12-18 10:42] maxceem commented on #3432
Created a follow up issues regarding showing this data for invites also https://github.com/appirio-tech/connect-app/issues/3452

[2019-12-18 10:59] nithyaasworld commented on #3431
Verified that issue is not reproducible in Dev. Verified by creating a new project.

[2019-12-18 11:13] nithyaasworld commented on #3406
It looks good to me.

Verification video:
[mulitple request approval by copilot manager - verification.zip](https://github.com/appirio-tech/connect-app/files/3978083/mulitple.request.approval.by.copilot.manager.-.verification.zip)

[2019-12-18 11:20] nithyaasworld commented on #3391
Verified in Dev. Verification video.

[loading indicator verification.zip](https://github.com/appirio-tech/connect-app/files/3978115/loading.indicator.verification.zip)

[2019-12-18 11:34] vikasrohit commented on #3396
Yes, Phone number and company are non editable for copilot if these fields has the data, otherwise it allows the copilot to update these fields for one time and then those fields would be read only.

[2019-12-18 11:44] vikasrohit commented on #3405
This is not moved to production in this release. We would take it in next release.

[2019-12-18 11:47] vikasrohit commented on #3440
@lakshmiathreya I think wrong screen shot is attached, there is no phase in the attached screenshot.
Further, as the issue is very minor, I would propose to move it to 2.5.1.

[2019-12-18 11:54] maxceem commented on #3396
@RishiRajSahu could you please share the link with the latest requirements you've shared with me recently. I cannot find it and it feels that this requirement has been changed there or to confirm.

[2019-12-18 12:04] vikasrohit commented on #3438
@RishiRajSahu is it still happening?

[2019-12-18 12:29] SathyaJayabal opened #3453 "Manage Invitations Button disappears after inviting a team member"
### Expected behavior
Manage Invitation buttons should not disappear

### Actual behavior
Manage Invitation buttons should not disappear

### Steps to reproduce the problem
Create a new project as an admin user
Go to the projects page
Click on "Manage Invitations" button on the left column under TEAM
Invite any user to the team
Observe the team section. Manage Invitation button disappears.

### Sc

[2019-12-18 12:34] SathyaJayabal commented on #3453
cc @nithyaasworld @lakshmiathreya @vikasrohit @RishiRajSahu
Note: tested in dev env

[2019-12-18 12:40] SathyaJayabal commented on #3453
closing this. This happened because the user role of the admin user was updated to observer and thats why the button disappeared.

[2019-12-18 12:40] #3453 closed

[2019-12-18 23:39] nithyaasworld commented on #3422
@vikasrohit But as per the Role matrix, Being a member of a project, every user other than customer should be able to Add/Remove/Edit phases

Please confirm. Thanks.

![image](https://user-images.githubusercontent.com/5114190/71132506-aec89b80-221d-11ea-9b79-7269bcfcf72d.png)

[2019-12-19 01:39] nithyaasworld commented on #3432
Verified in Production

![image](https://user-images.githubusercontent.com/5114190/71137520-7da49700-222e-11ea-9af7-7c2d088ba7a9.png)

[2019-12-19 01:40] nithyaasworld commented on #3432
Yet to verify in production by creating a new user.

CC: @lakshmiathreya

[2019-12-19 02:07] RishiRajSahu commented on #3438
@lakshmiathreya is this still happening in prod ?

[2019-12-19 02:45] lakshmiathreya commented on #3432
@nithyaasworld i have verified this for new user on Prod. The display is fine. Now the Q is about showing TZ and WH for invited users. Thats being tracked separately as part of 2.5.1 #3452.

[2019-12-19 03:56] #3379 closed

[2019-12-19 03:56] #3400 closed

[2019-12-19 03:56] #3401 closed

[2019-12-19 03:56] #3443 closed

[2019-12-19 05:22] nithyaasworld commented on #3437
@maxceem I just checked again and confirming that this issue is still reproducible

[2019-12-19 05:23] RishiRajSahu commented on #3451
@nithyaasworld this seems to be a transient error due to indexing issue of trait for user, as I checke the traits are present of the user in DB
<img width="1054" alt="Screen Shot 2019-12-19 at 10 52 04 AM" src="https://user-images.githubusercontent.com/11248478/71147108-b9028e00-224d-11ea-8dd8-cca47b33a999.png">

could you please try creating a new user and reproduce the issue ?

[2019-12-19 05:25] nithyaasworld commented on #3433
Working hours added during registration, is not shown in user's profile page. This is tracked here: https://github.com/appirio-tech/connect-app/issues/3437

So closing this issue.

[2019-12-19 05:25] #3433 closed

[2019-12-19 05:28] nithyaasworld commented on #3428
Thanks @maxceem @vikasrohit for checking this!

This issue is not reproducible in Dev environment. I would like to check this in Production env and then close this.

[2019-12-19 05:43] RishiRajSahu commented on #3437
@nithyaasworld I created a new user in PROD and all the fields getting persisted successfully. could you confirm again or send me the credentials of the user you tested in prod ?

[2019-12-19 05:53] nithyaasworld commented on #3437
yeah Sure!

This is the screenshot of another user which I just created.

![image](https://user-images.githubusercontent.com/5114190/71148548-f36e2a00-2251-11ea-8e4c-68cc06f27234.png)

![image](https://user-images.githubusercontent.com/5114190/71148574-02ed7300-2252-11ea-94a1-6705522e88d8.png)

[2019-12-19 08:31] RishiRajSahu commented on #3437
@nithyaasworld that's strange, could you please put the valid value for phone number and try. Another thing you can help debug, as I am not able to reproduce, could you grab the network logs when doing the registration ?

[2019-12-19 08:34] RishiRajSahu commented on #3437
@nithyaasworld I checked DB, there are no traits created for this user. Possibly because of invalid phone number value, let me know once you verify above steps I mentioned.

[2019-12-19 08:48] lakshmiathreya commented on #3438
Verified in Prod - working fine.

[2019-12-19 08:48] #3438 closed

[2019-12-19 09:01] vikasrohit commented on #3422
I am certain that we don't allow plan changes for Account Manager role, so we need to update the role matrix here. @RishiRajSahu can you please update the role matrix?

[2019-12-19 09:06] lakshmiathreya commented on #3446
Manager part of Customer team is able to view Manage Invitations in Prod.
<img width="1491" alt="Screenshot 2019-12-19 at 2 35 03 PM" src="https://user-images.githubusercontent.com/51733042/71160010-c67b4080-226c-11ea-8351-db2de8d837ec.png">

[2019-12-19 09:12] lakshmiathreya commented on #3437
Edited the Title - its happening in some cases - if it'd be happening in all cases, it would need immediate resolution! I verified with new user and it worked fine. @nithyaasworld pls retry with correct phone number and update the Issue.

[2019-12-19 09:16] #3421 closed

[2019-12-19 09:17] #3402 closed

[2019-12-19 09:55] lakshmiathreya commented on #3432
shall we close this @nithyaasworld ?

[2019-12-19 10:09] #3446 closed

[2019-12-19 10:16] lakshmiathreya commented on #3451
Profile details being saved and retrieved fine for this user in Prod. @nithyaasworld we could close this right?

[2019-12-19 10:19] lakshmiathreya commented on #3440
Pls see the second attachment - link to the jpg @vikasrohit

[2019-12-19 10:22] lakshmiathreya commented on #3440
attached screenshot for Phase added message ...
![Screenshot 2019-12-19 at 3 50 07 PM](https://user-images.githubusercontent.com/51733042/71165843-8c636c00-2277-11ea-8c02-d20a715c25a6.jpg)

[2019-12-19 10:25] #3418 closed

[2019-12-19 10:29] #3451 closed

[2019-12-19 10:31] #3419 closed

[2019-12-19 10:36] lakshmiathreya commented on #3397
This is verified on Prod @nithyaasworld - as well as #3451. Can we close this?

[2019-12-19 10:40] nithyaasworld commented on #3437
That's interesting!! Its always happening for me. I also tried by entering valid phone number. It never worked **even once for me.**

Network and Console Logs:
[logs.zip](https://github.com/appirio-tech/connect-app/files/3983057/logs.zip)

Here is the Video:
[profile info missing.zip](https://github.com/appirio-tech/connect-app/files/3983114/profile.info.missing.zip)

[2019-12-19 10:40] lakshmiathreya commented on #3404
@vikasrohit @maxceem Pls let us know if this Issue is Ready for QA...

[2019-12-19 10:45] #3397 closed

[2019-12-19 11:11] vikasrohit commented on #3440
Thanks @lakshmiathreya, I understood the part 2 of the issue i.e. extra apostrophe but not able to see the overflowing phase name issue.

[2019-12-19 11:11] #3432 closed

[2019-12-19 11:27] vikasrohit commented on #3404
@lakshmiathreya this issue is different from the linking of the direct project with project creation. We would debug it in later release, for now I am tagging it in 2.5.1 not 2.5.0.1

[2019-12-19 12:52] nithyaasworld commented on #3440
@vikasrohit Its the overflowing user name. Please find the below screenshot.

![image](https://user-images.githubusercontent.com/5114190/71174995-6f856380-228c-11ea-88f6-9be9df14b6c3.png)

[2019-12-19 13:03] nithyaasworld commented on #3396
It's working as per the requirement. That is, Phone number and Company are disabled, if its available.

Marked this ticket with 'need clarification' label to track @maxceem 's [above query](https://github.com/appirio-tech/connect-app/issues/3396#issuecomment-567001277)

[2019-12-19 13:05] RishiRajSahu commented on #3437
@nithyaasworld If you check the video at 0:42 you will see 503 error, service unavailable. which is not happening for other. Are you on VPN ? Is it possible that you could try on different network. Also you can see the detailed error by clicking on the failed request of trait and grab the error message from there for us.

[2019-12-19 14:01] nithyaasworld commented on #3437
@RishiRajSahu Ok, here are the steps to reproduce this issue:

1. Open an Incognito window and go to connect
2. Choose to register a new user
3. Fill up valid values for all the fields but for the phone number, enter the country code manually. Example, **enter 91 in the phone number and observe that it gets the 'IND' automatically**, then enter the phone number
4. Click continue and check the erro

[2019-12-19 14:10] RishiRajSahu commented on #3437
@nithyaasworld yes the phone number format is incorrect. User is not suppose to enter the country code `91` user just have to select the country from the dropdown. And even if you are adding manually user `+91` . This should resolve this issue. Please verify and close if working fine.

[2019-12-19 20:57] nithyaasworld commented on #3440
One more screenshot of the issue.

![image](https://user-images.githubusercontent.com/5114190/71208930-2ce57a80-22d0-11ea-88e6-f6211aff992a.png)

[2019-12-19 21:13] nithyaasworld commented on #3428
Thanks @maxceem and @vikasrohit for checking!

Yeah, this is working for me too in Dev Environment.

Checked for the below users:
topcoderconnect+accountmanager@gmail.com
topcoderconnect+BDR@gmail.com  (Business Dev Representative)

However, I see lot of notification of the same type. I will raise a new bug for it.

![image](https://user-images.githubusercontent.com/5114190/71209783-70d97f00-22d2-

[2019-12-19 21:14] nithyaasworld commented on #3428
@lakshmiathreya Can you please confirm if this works in Production for Account Manager and BDR user? We can close this after your confirmation. Thanks.

[2019-12-19 21:29] nithyaasworld opened #3454 "Project creation notifications seem to have been sent multiple times"
1. Login as Account Manager or BDR in Dev Environment
ex: topcoderconnect+accountmanager@gmail.com
topcoderconnect+bdr@gmail.com
pw for both the users: appirio123

2. Check the Notifications received

Actual:
Project creation notifications are received multiple times.

Note: This is not reproducible for newly created projects. Not sure why some of the notifications are repeated several times.

![i

[2019-12-19 21:29] nithyaasworld commented on #3454
cc: @lakshmiathreya @maxceem @vikasrohit

[2019-12-19 22:27] nithyaasworld opened #3455 "[$175] In app notifications are sent though they are turned off"
1. Login as Copilot (topcoderconnect+Copilot@gmail.com) and create a new project
2. In Notification settings, turn off in-app notifications of 'Project status'
3. Login as Connect Manager ( topcoderconnect+manager@gmail.com)
4. Join the project (which the Copilot created in Step 1) as manager
5. Change the project status
6. Then check the notification in Copilot's user's login

![image](https://us

[2019-12-19 22:28] nithyaasworld commented on #3455
cc: @lakshmiathreya

[2019-12-20 00:28] lakshmiathreya commented on #3440
thanks @nithyaasworld your screenshot is better than mine - name overflows right into All Projects ...

[2019-12-20 02:52] lakshmiathreya commented on #3428
Verified on Prod: On new Project creation by Copilot, only Account Manager and BDR are getting notifications.

[2019-12-20 03:30] #3428 closed

[2019-12-20 10:30] vikasrohit opened #3456 "Markdown block is being removed on Edit"
### Expected behavior
Should not remove the user content.

### Actual behavior
It is removing the user content written in the markdown block in a bulleted list.

### Steps to reproduce the problem
- Go to https://connect.topcoder-dev.com/projects/8353/messages/34540
-  Try to edit the post
- Observe that the content `Some text which goes away mysteriously` is gone in the edit window (Please don't

[2019-12-20 10:31] vikasrohit commented on #3456
fyi @lakshmiathreya

[2019-12-20 15:26] mahestro commented on #3407
Hi @RishiRajSahu. We can take care of this, it looks quite simple. I have a couple doubts before moving forward:

1. What should happen after the user clicks `accept`?
2. What should happen after the user clicks `decline`?

Before you reply, I wouldn't dare to come to you without a proposal. I might be

[2019-12-20 15:35] mahestro commented on #3407
Additionally, question #3: is there a dev environment available online I can access to quickly test the features?

[2019-12-20 16:42] RishiRajSahu commented on #3407
@mahestro those options simply disappears, but the space is still reserved in the UI where the buttons were, check the empty section I have highlighted in the screenshot above.

Yeah there is a dev env of Connect https://connect.topcoder-dev.com/ , that's a good idea why don't you see this actually in action . I have invited you to couple of projects in dev env, you can login and see how the butto

[2019-12-20 19:47] mahestro commented on #3407
Thanks for the feedback. If there's an empty space after the action happens, there is room for improvement. I think the user would benefit from having some feedback that indicates what happened after she clicked any of the buttons: did I get assigned? did the process work?

I tried logging into the dev environment but it's not working using my prod credentials. Is there anything I'm missing? 🤔

[2019-12-21 03:47] maxceem commented on #3456
@vikasrohit I've found one more case in which the first line disappears instead of the second line. And also how to easily reproduce this issue by creating new posts, see demo video https://monosnap.com/file/6OIfYorGVB1Ofm7tzmRWnH7cwTTB6X

[2019-12-21 04:23] maxceem commented on #3456
Looks like our Markdown renderer works slightly different from GitHub. On GitHub, to make the second line to be shown as a `code` we have to add an extra line after the first line, see examples bellow:

Test 1:

- First line starts with dash and after press Enter
       Second line starts with 6 spaces

Test 2:
- First line starts with dash and after press Enter
  Second line starts with 2 spaces

[2019-12-23 02:09] RishiRajSahu commented on #3407
@mahestro yep credentials will be different.

[2019-12-23 02:11] RishiRajSahu commented on #3437
@nithyaasworld @lakshmiathreya I think we can close this.

[2019-12-23 04:21] RishiRajSahu commented on #3422
@vikasrohit @nithyaasworld thanks for correction, its updated in document now.
@nithyaasworld if looks good to you then we can close this issue.

[2019-12-23 04:36] maxceem commented on #3404
Here is what information we get from the Direct project:

![image](https://user-images.githubusercontent.com/146016/71335745-2df00380-257f-11ea-9ac3-f0440b44b992.png)

It looks like we use this data in 2 methods:
- `formatOldProjectProgressProps` https://github.com/appirio-tech/connect-app/blob/master/src/helpers/projectHelper.js#L204 - no in use
- `setDuration` https://github.com/appirio-tech/con

[2019-12-23 05:47] maxceem commented on #3454
The project which has this issue has id `6` so it was created locally while using Bus API from DEV. Also, I can see that each notification has different timestamps:

![image](https://user-images.githubusercontent.com/146016/71338350-7e209300-258a-11ea-87bb-b5f4a4d64e42.png)

Locally we can create and remove the same project several times, and get a notification each time.

So this issue is safe to

[2019-12-23 06:01] maxceem commented on #3455
Can reproduce the issue and it looks valid as this notification type

![image](https://user-images.githubusercontent.com/146016/71338869-677b3b80-258c-11ea-8b35-e93622f0fade.png)

suppose to be turned off by that setting:

![image](https://user-images.githubusercontent.com/146016/71338888-76fa8480-258c-11ea-95d4-7cd6a92ad708.png)

Sum up:
- to fix this issue we would have to make the full setup of

[2019-12-23 10:45] vikasrohit commented on #3454
Agreed with @maxceem. The project id is very low in the value, which suggests that this notification refers to a project which was created somewhere on a developer machine. If it was created on dev env, it would have project id in the range of 10k+.

@nithyaasworld @lakshmiathreya it is safe to close. Let me know if you still have any query.

[2019-12-23 11:22] vikasrohit commented on #3428
@lakshmiathreya can we close this?

[2019-12-23 11:26] vikasrohit commented on #3406
@maxceem I didn't understand the tricky portion here. Do you mean, hiding an invite record and then showing a member record includes unmounting of the invite component and then mounting of the member component?

[2019-12-23 11:26] vikasrohit commented on #3406
@nithyaasworld @lakshmiathreya can we close this?

[2019-12-23 11:31] maxceem commented on #3406
Basically, the logic here is the next:
- approve the request (send one request to the server which we wait with loader)
- after that, we are sending a another request to load updated invite list (with deleted invite)
- and also send another request to load updated member list (with an added member)

Technically it was hard to fix fast in a more elegant way, but as now we have time, we can do that

[2019-12-23 11:35] vikasrohit commented on #3406
Okay. Do we really need the second step of reloading the invite list once we get 200 for the step 1?

Anyway, can you please create an issue if you think it has potential of cleaning up which can make code more maintainable or performant.

[2019-12-23 11:57] vikasrohit commented on #3396
@nithyaasworld you can close this. We would share the requirements with @maxceem.

[2019-12-23 14:22] RishiRajSahu commented on #3396
@maxceem @lakshmiathreya the requirements regarding rights to edit profile is here https://github.com/appirio-tech/connect-app/issues/3277

[2019-12-23 23:28] mahestro commented on #3407
Just tried the behavior, I get the idea. Thanks.

For the buttons design, should we stay within the current behavior? I know maybe for speed purposes it's acceptable, however, if I may suggest, I think at least we should display the popup notificatoin from bottom left when the user takes action (success or failure). Would that be ok?

[2019-12-24 02:23] RishiRajSahu opened #3457 "Incorrect time difference for New_York timezone."
### Expected behavior
Time difference should be UTC-5 for New_york

### Actual behavior
Time difference after setting timezone to New_York under profile giving difference of UTC-4 under team's section

### Steps to reproduce the problem
- Open Connect's User Profile page.
- set timezone to New_York.
- Check your user details under Team's section of any project you are part of.

### Screenshot/scre

[2019-12-24 02:24] RishiRajSahu commented on #3457
FYI - @maxceem

[2019-12-24 02:41] maxceem commented on #3457
The issue is caused by the fact, that New Your supports "Daylight Saving Time", so the timezone offset vary during the year from GMT-4 to GMT-5:
![image](https://user-images.githubusercontent.com/146016/71389937-4886b300-2639-11ea-9a65-8217c5275100.png)

While we are using static list of timezones with respective time shifts:
![image](https://user-images.githubusercontent.com/146016/71389967-681dd

[2019-12-24 02:43] RishiRajSahu commented on #3457
@maxceem can we add a new time_zone entry simply for quick solution - i.e. `New_york_DayLightSaving` ? then user can pick out of these two and will see correct time.

[2019-12-24 02:50] RishiRajSahu commented on #3407
@mahestro changing the buttons design is the main things, buttons are something that's taking space which we want to remove.
Current behaviour -
1. when user clicks either of button the loading spinner appears
2. Once the operation is done we are already showing notification on left bottom, so we are good there.

So, If I say what's more important is just to reduce the space occupied by the button

[2019-12-24 02:54] maxceem commented on #3457
@RishiRajSahu Yes, we can do that. I've checked it out, Member Service let us save such a value.

More than that, I guess what we can do for the quick fix is change the gmtOffset for the current `New_York` record. So it would just work automatically for all the users, and we don't have to ask them to change timezone back.

[2019-12-24 02:55] RishiRajSahu commented on #3457
@maxceem yep I thought of that as well, but we will have to revert it later after winters, or am I missing something ?

[2019-12-24 02:57] maxceem commented on #3457
I think before that we have to implement the correct solution which would take into account "Daylight Saving Time" and don't use that static config at all.

[2019-12-24 03:03] RishiRajSahu commented on #3457
@maxceem Okay, I'm good with either because we have to keep track of things we do now to be fixed, Let's create an issue with the requirements for that and run a F2F so that with next connect release that's pushed to PROD and meanwhile just update the value to make it 5 hours, I think that would be `18000`.

[2019-12-24 03:06] maxceem opened #3458 "Correctly calculate local time for members taking into account "Daylight Saving Time""
Follow up form the issue https://github.com/appirio-tech/connect-app/issues/3457:

![image](https://user-images.githubusercontent.com/146016/71391001-6229f980-263d-11ea-9636-2bcd87fbc585.png)

The issue is caused by the fact, that New Your supports "Daylight Saving Time", so the timezone offset vary during the year from GMT-4 to GMT-5:
![image](https://user-images.githubusercontent.com/146016/7138

[2019-12-24 03:07] maxceem commented on #3457
Created a follow-up issue https://github.com/appirio-tech/connect-app/issues/3458

[2019-12-24 03:22] maxceem opened #3459 "[$5] Consistent user menu items"
### Expected behavior
Show the list of menu items in the same order and probably with the same texts.

### Actual behavior
The order and texts are different for some menu items.

### Steps to reproduce the problem
- Go to the project list page and open user menu:

    ![image](https://user-images.githubusercontent.com/146016/71391462-1d06c700-263f-11ea-8c1f-2a1aa1aeea8d.png)

- Now click some "My

[2019-12-24 03:33] maxceem commented on #3457
Hotfix is done. Tested locally.
DEV https://github.com/appirio-tech/connect-app/pull/3460
PROD https://github.com/appirio-tech/connect-app/pull/3461

[2019-12-24 03:47] RishiRajSahu commented on #3452
@maxceem didn't we ran a challenge to update data for just invited users also, without refreshing page ?

[2019-12-24 04:08] maxceem commented on #3452
@RishiRajSahu Not yet, would like to handle it as F2F or include to CF?

[2019-12-24 04:13] maxceem commented on #3396
Thanks, @RishiRajSahu.

So as per recent requirements copilots should NOT be able to edit the phone while customers should be able to edit https://github.com/appirio-tech/connect-app/issues/3277

This works as required for me.

Customer:

![image](https://user-images.githubusercontent.com/146016/71393216-9229ca80-2646-11ea-8a7d-91e3bed9a6e2.png)

Copilot:

![image](https://user-images.githubuserco

[2019-12-24 05:23] vikasrohit commented on #3459
Yes, we can keep them consistent. Please follow the order of the left panel as that is the latest which we got from product managers.

[2019-12-24 05:24] RishiRajSahu commented on #3457
Patched to prod. Working Fine.

[2019-12-24 05:24] #3457 closed

[2019-12-24 05:42] ajefts opened #3462 "Enable Tagging of Files and Links"
**Objective:** When a user is sharing a file or link, provide them with the option to create a tab for the file or link. For projects with many files and links shared, this will aide in quick retrieval of the necessary document. Additionally, this could be a method for users to track versions of the same document.

<p></p>

**Requirement:**

- When a user is sharing a file or link, they should see

[2019-12-24 05:42] ajefts commented on #3462
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2753491

[2019-12-24 05:57] ajefts opened #3463 "Make links first class citizen of the data model"
As of now links which are attached to a project, are not first class citizen of the data model. In other words, they don't have a dedicated data table to store the data rather they are stored inside a field `bookmarks` of `projects` table as JSON which has limitations as follows:

1. Links are not searchable

2. Does not have easy way to query links

3. Till date we are not storing the audit field

[2019-12-24 05:57] ajefts commented on #3463
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3243055

[2019-12-24 06:00] ajefts opened #3464 "P2: Assets Library Column Filtering"
**Objective:** In an effort to make it easier for users to quickly locate a file or link that was shared in the Assets Library, the following columns should be filterable to quickly return results.

<p></p>

**Requirements:**

- Name column should be filterable by keyword entry

- 'Date' column should be filterable by date

- 'Shared By' column should be filterable by user handle (this is covered

[2019-12-24 06:00] ajefts commented on #3464
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2753835

[2019-12-24 06:02] ajefts opened #3465 "P2: Include 'Shared With' Column"
**Objective:** Enable users to quickly identify who the file/link has been shared with, which will aide in identifying the correct document/modifying viewing permissions if necessary.

<p></p>

**Requirements:**

- A 'Shared With' column should be displayed in the assets library.

- Logic Rules:

  - If the file was only shared with specific users, display each user's handle.

  - If the file was

[2019-12-24 06:02] ajefts commented on #3465
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3182105

[2019-12-24 06:03] ajefts opened #3466 "P2: Update 'Modified' Column"
**Objective:** Update the 'Modified' column in the Assets Library.

<p></p>

**Requirements:**

- Relabel the column 'Date'

- The date displayed should be based on two factors:

  - The original date that the file or link was shared

  - ~Once the file or link has been accessed by a user, the date should be replaced with date of most recent access~ Once the file or link has been modified by a use

[2019-12-24 06:03] ajefts commented on #3466
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2753903

[2019-12-24 07:32] maxceem commented on #3459
Should we also keep the menu items texts in sync?

- `Account & security` vs `Account and security`
- `Profile information` vs `My profile`

[2019-12-24 07:42] maxceem commented on #3464
As we always have all the files and links loaded at Assets Library, I guess it would be best to implement such filtering client-side. Also, client-side filtering would work very fast. What do you think?

[2019-12-24 07:44] maxceem commented on #3466
Does the word `accessed` mean that any user loaded this attachment just to view it? Or it means someone updated it?

[2019-12-24 07:55] maxceem commented on #3462
It feels for me that users would not always add tags. So if we add an additional window for enterim them, file uploading workflow would become longer, and all the users have to pass through the optional step of adding tags, whether they want to add them or no.

Maybe we can add a filed for adding tags to the same window where add permissions? Just slightly reformat this window and title it somethi

[2019-12-24 08:53] vikasrohit opened #3467 "Copilots with "requested" invite can see projects in the list"
Wrapper issue for https://github.com/topcoder-platform/tc-project-service/issues/419.

fyi @lakshmiathreya we are applying it as hotfix.

[2019-12-24 10:32] vikasrohit commented on #3383
Closing. fyi @lakshmiathreya

[2019-12-24 10:32] #3383 closed

[2019-12-24 10:33] vikasrohit commented on #3301
@lakshmiathreya @nithyaasworld can we close this?

[2019-12-24 10:33] vikasrohit commented on #3399
Closing.

[2019-12-24 10:33] #3399 closed

[2019-12-24 10:34] vikasrohit commented on #3377
Closing. fyi @lakshmiathreya

[2019-12-24 10:34] #3377 closed

[2019-12-24 10:35] vikasrohit commented on #3364
@maxceem are we able to reproduce it?

[2019-12-24 10:36] vikasrohit commented on #3431
@nithyaasworld can we close this?

[2019-12-24 11:28] vikasrohit commented on #3467
Deployed to the production.

[2019-12-24 12:13] lakshmiathreya commented on #3467
cc @nithyaasworld. Is this fixed in Dev as well?

[2019-12-24 12:17] lakshmiathreya commented on #3467
@vikasrohit is milestone 2.5.1 for this hotfix? I see other new P2s assigned to 2.5.1 milestone too?

[2019-12-24 12:19] vikasrohit commented on #3467
Following my comment https://github.com/topcoder-platform/tc-project-service/issues/419#issuecomment-568737371, updated the milestone of the issue to be 2.5.

[2019-12-25 02:09] maxceem commented on #3364
Yes, this is a valid issue.
@vikasrohit when we re-choose the same Project Template, do you prefer us to reset data and wizard, the same way we do when choosing another template, or persist data and wizard state?

[2019-12-25 04:45] maxceem commented on #3456
Another way to reproduce the issues is to create a `blockquote` and add a `code` block inside:
[code]

It would be "viewed" as:

![image](https://user-images.githubusercontent.com/146016/71432343-f1a1dc00-2713-11ea-8ecd-df9a4a0b122a.png)

but during editing the inner "code" block would disappear:

![image](https://user-images.githubusercontent.com/146016/71432357-054d4280-2714-11ea-97ae-4e2719336f

[2019-12-25 05:24] maxceem commented on #3456
@vikasrohit at the moment we've got a winning submission from the F2F challenge which achieved the next behavior: https://monosnap.com/file/itdkwJbdLHeOl2jPULqK1m5xdZrzP6.

The main disadvantage of this fix, is that existent and new posts are still being created as if "code" is placed inside the list item, while during editing it is shown "outside" on list item. Also, after editing it stays outsid

[2019-12-25 05:34] maxceem opened #3468 "[$80] Improve invite request accept/decline UI and code"
Follow up from https://github.com/appirio-tech/connect-app/issues/3406#issuecomment-566423188

This now works like this: https://monosnap.com/file/7n3gwa3SEflhfanyoGZQ1trAVFrL7T.
There is now a small delay, and the first invitation is hidden and after member records is shown.

Basically, the logic here is the next:
- approve the request (send one request to the server which we wait with loader)
-

[2019-12-25 05:35] maxceem commented on #3406
I've created a new follow up issue with the possible improvements we can make https://github.com/appirio-tech/connect-app/issues/3468.
So the current issue may closed.

[2019-12-25 07:48] maxceem commented on #3456
Here is PR with the winner submission https://github.com/appirio-tech/connect-app/pull/3469.
And a branch with the potential hotfix https://github.com/appirio-tech/connect-app/tree/hotfix/nested-blocks-in-draftjs

[2019-12-25 08:56] maxceem commented on #3458
F2F for this issue is on http://www.topcoder.com/challenges/30111812

[2019-12-25 13:59] vikasrohit commented on #3406
Closing.

[2019-12-25 13:59] #3406 closed

[2019-12-25 14:04] vikasrohit commented on #3364
I guess in this case, there should be ideally no effect on the data i.e. no reset and user should be seeing all the filled data as is. Can we create a new issue for this use case which would take care in next regular release.

[2019-12-25 14:30] vikasrohit commented on #3456
@maxceem in the last few seconds of the video, I can see it is still removing the the second line when you edited the newly created post.
I am okay with the other behavior where it is moving the nested block out of the parent block after editing. Interesting would be to see how it behaves after second edit.

I am not understanding it 100% but I think I am okay with it. I am good with always showin

[2019-12-25 17:25] mahestro commented on #3407
Understood! Thanks for the clarification. We're working on the update. We should be having something to see by the 27th or earlier.

[2019-12-26 01:02] maxceem opened #3472 "[$40] Form got reset when we come back to choosing template but didn't change template"
Follow up from https://github.com/appirio-tech/connect-app/issues/3364#issuecomment-566234263.

Previously, we've implemented, that data and wizard state of the form are reset if we come back and choose a different template. There appears to be an edge case, when we choose the same template, we should not reset them.

## Steps to reproduce

1. I started creating a project and filled up a few scree

[2019-12-26 01:03] maxceem commented on #3364
Created a follow-up issue https://github.com/appirio-tech/connect-app/issues/3472. So the current one may be closed.

[2019-12-26 01:13] maxceem commented on #3456
I've noticed that, though I couldn't reproduce that issue. I've tried to create several posts in different ways, but it works well.

Here is a more full demo video, including doing the second edit https://monosnap.com/file/nmPfWMDUNluY82pRPhE3o7hUMVxhfa

[2019-12-26 01:19] maxceem commented on #3456
If you would like to, I can ask the winner to create another solution as a private task. The benefit of such an approach that it would be always consistent and feels less prone to issues. Though visually, it might be confusing keeping some styles while fallback some other styles to Markdown during editing. In the current fix the benefit is, that for cases with list items, we keep styles very close

[2019-12-26 01:48] maxceem commented on #3458
It's done via F2F. Also, verified, that all timezones in our list are supported by the library we use to for calculating local time.

Also, now we can easily show timezone in the 3-letter format, as was initially shown in the [designs](https://marvelapp.com/4hf62ih/screen/62749170):

![image](https://user-images.githubusercontent.com/146016/71452756-97ac1f80-27c2-11ea-9dc2-6ebba9c3c765.png)

Thoug

[2019-12-26 02:30] maxceem commented on #3458
It's done in the branch https://github.com/appirio-tech/connect-app/tree/hotfix/local-timezone via PR https://github.com/appirio-tech/connect-app/pull/3473.

[2019-12-26 06:52] maxceem opened #3474 "Create a new microservice for attachments"
This is not actually a task for Connect App, but we don't have a separate repository for a new microservice yet.

We are thinking of having a separate service for managing attachments and then migrating the data from project service and message service to that attachment service and then use that service to provide common features like filtering and sorting on all attachments (files and links) of

[2019-12-27 03:03] maxceem commented on #3474
@vikasrohit I've noticed, that most new Topcoder microservices use DynamoDB as a Database. Should we do the same or should we use PosgreSQL as we do for Project Service?

- `resources-api` https://github.com/topcoder-platform/resources-api/blob/develop/src/models/index.js
- `challenge-api` https://github.com/topcoder-platform/challenge-api/blob/develop/src/models/index.js
- `submissions-api` https

[2019-12-27 16:02] mahestro commented on #3407
Hi @RishiRajSahu.

We have the first iteration of the design using the connect branding and optimizing the space. Let me know if that's something that would work or if you have any feedback.

https://marvelapp.com/a35h37b

[2019-12-28 01:28] nithyaasworld commented on #3423
@vikasrohit As an Admin user, I am not able to join the project as 'Manager'. Please advise what roles an admin user can take up when joining a project. Currently Admin users are not able to join any project with any of the user roles available.

![image](https://user-images.githubusercontent.com/5114190/71537258-686eed00-293f-11ea-9b7f-5fa4ed712842.png)

[2019-12-28 21:12] nithyaasworld opened #3475 "Admin user cannot see any project"
1. Go to Connect Dev environment ( https://connect.topcoder-dev.com )
2. Login as an Admin user ( tested with topcoderconnect+Admin@gmail.com)
2. Check the dashboard

Actual:
No projects are displayed

![image](https://user-images.githubusercontent.com/5114190/71549534-ff41b500-29e4-11ea-9631-52267b389ecf.png)

[2019-12-28 21:13] nithyaasworld commented on #3475
cc: @lakshmiathreya

[2019-12-30 04:50] vikasrohit commented on #3475
@nithyaasworld I can see all projects using the same login and on the same environment. It might be internet connectivity issue which failed the project load call. Can you please see if you are able to reproduce it and if yes, please share the console logs.

[2019-12-30 04:55] vikasrohit commented on #3423
Admin users (`Connect Admin` and `administrator`) should be able to join the project with `Manager` role. They won't be able to join the project with specific roles like `Project Manager`/`Solution Architect`/`Program Manager`. As `administrator` I am able to join the projects as Manager, so I think the issue is with `Connect Admin` users.
@maxceem It seems to be a valid bug for `Connect Admin` on

[2019-12-30 09:40] vikasrohit commented on #3364
Thanks @maxceem. @nithyaasworld closing this one now as the other uses cases are working. Please feel free to reopen it, in case you feel the newly created issue does not capture all the misses from this issue.

[2019-12-30 09:40] #3364 closed

[2019-12-30 10:23] vikasrohit commented on #3456
I am good with the current approach.  However, I think it does not harm to have the winner creating PR for the other way as well, even if we don't use that. It might help us in understanding the limitations and value the current situations more after we see the other fix.
I will merge the hotfix into dev to test out the current approach. If everything looks good, I would ask the product manager to

[2019-12-30 10:28] vikasrohit commented on #3456
@lakshmiathreya we are applying a fix in the dev env for this issue. We would like to test it before making a hotfix to the production because the changes involved may cause regression (although we didn't found any during the challenge review) in the way we are rendering the markdown in the messages. It would be great if you can also have a look at the issue and help us in validating its fix. I am

[2019-12-30 11:45] vikasrohit commented on #3474
@maxceem here are my answers:

1. postgres
2. yes
3. I am not sure in this case as I don't think we would like to keep the actual files for the soft deleted attachments and attachments does not make sense without their actual file. Lets discuss this further.
4. For now we can assume this as `/v5/attachments`.

I have to discuss this new microservice with broader team before we can actually launch

[2019-12-30 11:48] vikasrohit commented on #3466
@maxceem this requirement is confusing to me as well. I have made query to the product managers.

[2019-12-30 12:01] vikasrohit commented on #3464
I guess in future, we might have paging implemented in assets as well when the number of files and links increases to a project. So, it would be better to have it server side. But lets keep client side open as well until we finalize the new attachment service because without the new common attachment service, it is not possible to have server side filtering which in turn means we have to implement

[2019-12-30 12:05] vikasrohit commented on #3462
Good idea @maxceem. I will confirm it with product managers. However, just for reference, we have a upcoming feature where product manager want to merge the two dialogs for files and links into one dialog i.e. we would show a common dialog always, which would ask if user want to create a file or link. So, if that goes through, though I am still debating against it, we might have a new intermediate

[2019-12-31 03:29] RishiRajSahu commented on #3407
@mahestro added a comment there on marvelapp.

[2019-12-31 03:32] RishiRajSahu commented on #3458
@maxceem @vikasrohit I think this could with our next release and we can merge this to dev branch for now, do you guys agree ?

[2019-12-31 03:51] maxceem commented on #3458
Yes, I think that should be fine as I guess not so many people have entered their working hours yet, so not many users would come across with this issue.

[2019-12-31 04:02] maxceem commented on #3423
I guess you could have both roles `administrator` and `Manager` so able to join. I will include it to the bug bash.

Sum up:
- This issue has to be fixed in Project Service.
- Users with Topcoder roles `Connect Admin` or `administrator` should be able to join projects with Project Role `manager` no matter if they have `Connect Manager` Topcoder role or no.
- Though, such admin users shouldn't be a

[2020-01-02 11:23] vikasrohit commented on #3459
- I think we can sync to `Account & security`
- I guess, here we have to keep them separate as in the left panel the profile information is already inside `My Profile`.

[2020-01-02 12:04] vikasrohit commented on #3456
@maxceem @lakshmiathreya solutions seems to be working fine for me in dev environment, I am good with production move for this. We can plan moving this to production as hotfix.

[2020-01-02 17:09] mahestro commented on #3407
Thanks for the great feedback @RishiRajSahu

If design looks good, here are the source files in Abstract:
- List view: https://share.goabstract.com/7016973b-b02e-4c7c-a3b4-9874c093d817?mode=design&sha=785ab46f48a70793beec2e4ff6943dbf362192b7
- https://share.goabstract.com/f3fc2050-5e53-4832-88d0-04fbbcdc54d6?mode=design&sha=785ab46f48a70793beec2e4ff6943dbf362192b7

Btw, how do you prefer to receiv

[2020-01-03 11:12] vikasrohit commented on #3311
@RishiRajSahu can we close this?

[2020-01-03 11:14] vikasrohit commented on #3301
Closing as it seems to work fine to me. Need to reduce the number of open issues to manage the next release properly.

[2020-01-03 11:14] #3301 closed

[2020-01-06 02:43] RishiRajSahu commented on #3311
@vikasrohit yes, Closing.

[2020-01-06 02:43] #3311 closed

[2020-01-06 02:45] RishiRajSahu commented on #3378
@nithyaasworld yes that's Okay.

[2020-01-06 02:45] #3378 closed

[2020-01-06 02:46] RishiRajSahu commented on #3391
Working fine in prod.

[2020-01-06 02:46] #3391 closed

[2020-01-06 02:48] RishiRajSahu commented on #3437
Closing the issue.

[2020-01-06 02:48] #3437 closed

[2020-01-06 02:52] RishiRajSahu opened #3481 "Topcoder team member details disappear when changing status of project."
### Expected behavior
Topcoder team member details should remain intact irrespective of status change operation.

### Actual behavior
Topcoder team member details disappear when changing status of project.

### Steps to reproduce the problem
- Open any test project .
- Change status of project.
- Observe Topcoder team view.
- Refresh the page and again observe Topcoder team view.

### Screenshot/s

[2020-01-06 02:52] RishiRajSahu commented on #3481
FYI @maxceem @vikasrohit

[2020-01-06 04:32] maxceem commented on #3481
@RishiRajSahu fixed and tested locally.

Create hotfixes:
- DEV https://github.com/appirio-tech/connect-app/pull/3482
- PROD https://github.com/appirio-tech/connect-app/pull/3483

[2020-01-06 05:42] RishiRajSahu commented on #3481
Fixed and patched to prod.

[2020-01-06 05:42] #3481 closed

[2020-01-06 07:25] #2261 closed

[2020-01-06 07:26] vikasrohit commented on #2261
Leads are not created for topgear user now.

[2020-01-06 12:45] mahestro commented on #3458
Hi guys, sorry to interrupt the flow the discussion here with a somehwat related topic.

Is the sun/moon icon meant to represent the current natural light disposition? Meaning, if it's 8:32 am in the morning, should it display a sun icon? If that's so, I think we can take advantage of this Github issue to include that fix, check: https://take.ms/2GUdr

Maybe it's a duplicate issue and I didn't see

[2020-01-07 02:08] RishiRajSahu commented on #3458
@mahestro sun/moon icon are shown as per working hours of an individual.

[2020-01-07 05:21] vikasrohit opened #3485 "Character are HTML encoded in notification email subject"
In connect notification emails for messaging, the subject text is HTML encoded which caused e.g. `&` to be rendered as `&amp;`.
<img width="701" alt="Screen Shot 2020-01-07 at 10 49 20 AM" src="https://user-images.githubusercontent.com/2417632/71870336-93c1bb00-313b-11ea-9066-b00a0f3c125c.png">

fyi @maxceem

[2020-01-07 05:45] maxceem opened #3486 "[$10] Join Project Email Typo"
Recently, we've updated buttons texts to `Join Project` and `Decline` instead of one button `View Project On Connect`.

We also have to update the text above respectively.

![image](https://user-images.githubusercontent.com/146016/71871289-b19b1a00-3153-11ea-9554-819a563945e2.png)

Should we just update text to:
**Hi Maksym Mykhailenko, you are invited to join the project TaaS-New updated. Please

[2020-01-07 06:25] maxceem commented on #3458
This is done and pushed to DEV branch now.

[2020-01-07 06:29] maxceem commented on #3456
@vikasrohit let me know if you would like to me to create a hotfix PR for PROD.

We've got an alternative solution to keep the inner block formatting as markdown text, described in this comment https://github.com/appirio-tech/connect-app/issues/3456#issuecomment-568944094.

You may have a look on the demo video https://monosnap.com/file/LHOCqY0zzVNbGFXiKDd0kbXP4KJ6eN.

The PR for this solution is

[2020-01-07 06:51] vikasrohit commented on #3486
Good catch @maxceem. fyi @RishiRajSahu

[2020-01-07 07:11] vikasrohit commented on #3456
Thanks @maxceem Personally, I like this solution. What are your thoughts? And can you please update the PR to be against a hotfix branch?

[2020-01-07 07:27] maxceem commented on #3456
The benefit is that messages would stay consistent and nested blocks would NOT "go out" after updating them using WYSIWYG editor. Though removing styles on editing and falling back to Markdown may be confusing for regular users (customers), while advanced users (Topcoder members) could achieve more.

For me personally, the second solution is better, but I cannot evaluate what is better in general.

[2020-01-08 09:15] nithyaasworld commented on #3437
Thanks @RishiRajSahu

Verified that its working fine if entered with +91

[2020-01-08 09:17] nithyaasworld commented on #3475
Thanks @vikasrohit for checking.

Its not reproducible to me, too. I too think it could be my internet issue. Closing this.

[2020-01-08 09:17] #3475 closed

[2020-01-09 05:29] maxceem commented on #3299
@vikasrohit on the second thoughts l'm not sure there are some benefits in refactoring milestones to `points` instead of `spans` we have now. The main issue we have with cascading updates may be solved by removing `cascading` logic from Project Service and implement an endpoint to update all the milestones for a timeline with one request so we can control the whole timeline with milestones client-

[2020-01-09 11:30] vikasrohit commented on #3299
@maxceem I am not fully sure about why do we need to manage two points `start` and `end`. All, we need is to add/update a milestone as point.
I am not able to recall any use case which is not possible with *span/duration* based approach, however, as we discussed long time back and as it is written in the original description of the issue:

In nutshell:
- No cascading calculation anywhere in the sy

[2020-01-09 14:16] maxceem commented on #3299
@vikasrohit Yeah, that's very unlucky that we had to postpone this task for so long time. As previously this approach seams to simplify many things, though now, at a closer look I don't see such benefits anymore.

In general, if we want to support milestone spans which might go in parallel (like phases in the challenges) we would have to have two points to indicate `start` and `end` (this was disc

[2020-01-13 08:08] maxceem commented on #3463
We have a requirement to [filter files and links including folders](https://github.com/appirio-tech/connect-app/issues/3464).

So far folders of links are generated by extracting links from the topics on the fly. I guess, this feature also would require us to save links to the attachment service when we create a post (extract links and save to attachment service) and also we would have to `sync`

[2020-01-13 10:29] maxceem commented on #3474
@vikasrohit I've almost ready with the spec for the initial code for the attachment service. There is one thing I wanted to discuss.

In general, we want to implement permissions for attachments, the same as we do in Message Service.
- If we request the `attachments` for the `project`, we load that `project` with the same user token, and  if a `project` is accessible, it means that we also can acc

[2020-01-13 11:37] vikasrohit commented on #3474
I guess, we won't need the separate call for validating the private topics. We would be calling the `GET /v5/topics/1234` as reference look up call, we can parse the private flag at this moment itself via `accessCondition` to validate if the user has access to the attachments of the topic.

What I am worried now, is if we have to make separate (at least one for topics and one for project) calls to

[2020-01-13 11:57] vikasrohit commented on #3299
Thanks @maxceem for the examples. However, I am still positive for the points based approach, here are key points:
- I guess, we don't need any demarkation of start and end of the timeline. We can assume the last milestone point in the timeline, to be the end of the timeline. If the caller wants to show a `end` milestone, it has to be added as separate milestone point. So, as soon as we remove the

[2020-01-13 15:23] vikasrohit opened #3490 "Default topic for a new phase is not being created"
### Expected behavior
A discussion topic from CodeBot should be created

### Actual behavior
There is no discussion thread

### Steps to reproduce the problem
- Add phase to any project
- Go to Discussions tab
- Observe that there is no default coder bot message created

--

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (client, copilot or manager): Any
- Account used:  N/A

[2020-01-13 15:24] vikasrohit commented on #3490
fyi @lakshmiathreya  @maxceem

[2020-01-14 02:50] maxceem commented on #3490
I cannot reproduce this issue on DEV https://connect.topcoder-dev.com/projects/8687 or LOCALLY. Though I can reproduce it on PROD https://connect.topcoder.com/projects/11522.

Maybe somebody can check if there is an error in the log on PROD when we are adding a new phase to help to track down the issue.

[2020-01-14 04:24] RishiRajSahu commented on #3407
@maxceem adding this for CF

[2020-01-14 05:05] maxceem commented on #3474
I think there is quite a straightforward solution. The general idea instead of having **one** reference per attachment we should have **multiple** `references`, so after we can filter by them, for example:

### Model

#### Attachment object for a `post` has 3 references

[code]

#### Attachment object for a `project` has 1 reference

[code]

#### Attachment object for a `work` has 2 references

[c

[2020-01-14 05:15] maxceem commented on #3407
@RishiRajSahu I guess so, but I don't have access to the designs to check them out.

Is it possible to get them as `Marvel Handoff`? It would be the best way to share them with the members.

[2020-01-14 05:18] vikasrohit commented on #3490
Yep, I am checking.

[2020-01-14 05:21] lakshmiathreya commented on #3490
@SathyaJayabal @nithyaasworld

[2020-01-14 05:22] RishiRajSahu commented on #3407
@Luis Millán <mahestro@topcoder.com> Could we get the marvel handoff for
the designs ?

On Tue, Jan 14, 2020 at 10:45 AM maxceem <notifications@github.com> wrote:

[2020-01-14 05:22] RishiRajSahu commented on #3407
@mahestro Could we get the marvel handoff for the designs ?

[2020-01-14 05:42] vikasrohit commented on #3474
Thanks @maxceem for alternative approach and in fact we thought of the same yesterday, however, the blocker where we are stuck is that how would we validate the access to such attachments. I mean, when we are querying attachments for `GET /attachments?includeReferences=entity:project,entityId:1234` call, it would return the attachments for admin posts as well, unless we call and verify every refer

[2020-01-14 06:53] maxceem commented on #3474
Yeah, here is where we have to come with some solution. So if use the current approach with reference endpoint for `GET /attachments?includeReferences=entity:project,entityId:1234` we would call:
- 1 `GET /project` to verify access to the project and works
- 100 `GET /topic/{id}` to verify access to each topic (in case project has 100 topics)

This could lead to a lot of requests per **each refere

[2020-01-14 07:52] maxceem commented on #3299
- I'm not sure how then do detrmine the length of all the milestone spans. Imagine that initally we want to have only 2 milestones: `phase-specification` and `community-work`. Then timelines would look like this:

[code]

    - So `work` would have 0 `duration` in such a case. Or is there some other idea?

- If we keep having `milestones as spans` we also have to make 2 calls in parallel in such c

[2020-01-14 08:02] nithyaasworld opened #3491 "[$30] Default sort on 'Last Updated' column is incorrect"
1. Login to connect and check the default sort of 'Last Updated'

Actual:
Though 'Last Updated' is selected as default sort, it is not correctly sorted by 'Last Updated'

![image](https://user-images.githubusercontent.com/5114190/72325014-3812a700-36d2-11ea-8e7b-330605dc0c45.png)

[2020-01-14 08:03] nithyaasworld commented on #3491
This is first reported by macs054 when working for the [Connect Test Case creation challenge.](http://www.topcoder.com/challenge-details/30112499/?type=develop)

CC: @SathyaJayabal @lakshmiathreya

[2020-01-14 10:26] nithyaasworld commented on #3426
Currently app allows copilot users to change status of the project the user is part of (as Copilot). cc: @SathyaJayabal

[2020-01-14 10:41] nithyaasworld opened #3492 "It gives 500 error instead of 'no search results found' message"
1. Login to connect as Copilot user
2. Click on **one of the filters: Active or In Review or Reviewed, etc**
3. Search with a keyword that doesn't have any matching result
4. Check

Actual:
It shows 500 error instead of saying 'No matching results found'.
This doesn't happen if the user is in 'All Projects' tab

![image](https://user-images.githubusercontent.com/5114190/72337321-613e3200-36e8-11ea

[2020-01-14 11:57] vikasrohit commented on #3474
@maxceem are you suggesting that we should update the schema of ReferenceLookup table to have structure like
[code]
OR this is just a shortcut way you are using the show the 3 separate records?

[2020-01-14 12:10] vikasrohit commented on #3474
Also, even if we make only 3 calls to validate the access to the attachments, I guess, we still can not have a seamless paging because we would be filtering the attachments after fetching them from database, right?

[2020-01-14 13:59] mahestro commented on #3407
Hi guys, handoff is already enabled in the marvelapp project (same one).

https://marvelapp.com/a35h37b/screen/65065855/handoff

[2020-01-15 02:35] maxceem commented on #3474
[code]

[2020-01-15 02:42] maxceem commented on #3474
Good catch. You are right implementing seamless pagination is not straightforward:
- we either would have to request all the records from DB/ES and after paginate them using JS
- or we can request only one page of data from DB/ES, after filter it by permission, and if we end up having less records than for 1 page, we should request data from DB/ES again. And we should repeat it until we have enoug

[2020-01-15 02:52] maxceem commented on #3407
Great, thanks @mahestro.

[2020-01-15 02:59] maxceem commented on #3407
@RishiRajSahu yes, this is good for CF. I would like to confirm only one thing. So far for consistency in Connect App we use buttons in the current style with rectangular buttons.

So for the new design, I guess we have to make the next adjustments:

![image](https://user-images.githubusercontent.com/146016/72400672-ff7fd580-3784-11ea-9e70-34f5e265e051.png)

- instead of green round button use our

[2020-01-15 03:01] maxceem commented on #3492
This has been fixed at the Project Service via https://github.com/topcoder-platform/tc-project-service/commit/58781014400994032195ce58d8fbb3831c3fad6d.

It has been pushed to DEV and ready for testing on DEV.

[2020-01-15 08:33] maxceem commented on #3465
Everywhere in the Connect App we usually show the full name of users, and only show the use `handle` in the tooltip:

![image](https://user-images.githubusercontent.com/146016/72417815-9dd75f80-37b4-11ea-8dde-fe8f8a734f95.png)

- In the column `Shared With` should show user `handle`s or full names of users?

[2020-01-15 08:52] maxceem commented on #3464
1. We don't have a design for the filters, though I guess we can use the same UI as we have for project filtering:

    ![image](https://user-images.githubusercontent.com/146016/72418271-7b921180-37b5-11ea-9ea5-ae2f63c1677a.png)

2. For the date filter, we can use the same widget which is used in Community App:

    ![image](https://user-images.githubusercontent.com/146016/72418415-c1e77080-37b5-1

[2020-01-16 03:31] RishiRajSahu commented on #3407
@maxceem agree but we will miss the tick sign from the rounded button, is it going way out of them keeping the rounded button with our colours ?

[2020-01-16 04:05] maxceem commented on #3465
2. I have one concern regarding adding one more column. Currently, we already have not so much space:

    ![image](https://user-images.githubusercontent.com/146016/72492365-e85de800-3857-11ea-9a64-1bda6accd430.png)

   - I guess we cannot make this widget wider, as we use the same width for content on all the pages, it's same for phases, posts, spec and so on
   - if we add one more column with a

[2020-01-16 05:29] maxceem commented on #3407
I think we can still add a "tick" inside a blue rectangular button too. We can use this icon https://github.com/appirio-tech/connect-app/blob/dev/src/assets/icons/ui-check.svg and style it with CSS according to design if necessary.

![image](https://user-images.githubusercontent.com/146016/72495986-2ad8f200-3863-11ea-8e6f-3903a3d07b64.png)

The biggest downside, is that we would have to create one

[2020-01-16 05:52] RishiRajSahu commented on #3407
@maxceem let's keep it round, I think later if we would be switching to new theme it would anyway going to be big rework so we can bear that effort and we can even discard the old styles(both rectangular and rounded) and use a single new one(whatever it would be). Moreover this design is reviewed by product manager so don't want to alter it now, but still thanks for pointing out.

[2020-01-16 06:00] vikasrohit commented on #3492
Thanks @maxceem Do you think this error was a regression issue after we did the v5 release?
Nevertheless we need it as hotfix as it seems to be blocking users from searching the projects.

[2020-01-16 06:11] maxceem commented on #3492
No, this issue was here before, it is a regression after refactoring of the SQL query to prevent SQL injections https://github.com/topcoder-platform/tc-project-service/commit/07ef7d600e07fb67bcc761d7fdc64476f79603fc.

It would happen if we filter by `keyword` and `status` together at the same time. Also, if we have some search results.

Here is a HOTFIX for PROD https://github.com/topcoder-platfor

[2020-01-16 06:12] maxceem commented on #3407
Got it @RishiRajSahu. So we implement new round buttons and the only things, we replace a new `green` color with our main `blue` color `$tc-dark-blue-100`, right?

[2020-01-16 06:34] vikasrohit commented on #3465
Comms separated handles should be fine for now.

I liked the idea about showing the handle for the `Created By` column, though it is something to be decided by product managers. However, I would like to go with showing handle in `Created By` column for now as we don't have time to get designs for this now and any way we are showing more details on tooltip of the `Created By` column.
For tags, we c

[2020-01-16 06:49] vikasrohit commented on #3464
1. Agreed.
2. Can we use our date picker which we are already using in phase edit form?
    - I am okay with vertical alignment of the start and end date selectors
    - If it is easy to include a `clear` button specific date filter, go with that, otherwise I think we can live with the global clear filter as you suggested in next point.
3. I guess, we can just replace the `All Link` header with so

[2020-01-16 07:07] vikasrohit commented on #3466
@maxceem for now, go with the standard interpretation of modified date i.e. when he attachment is updated by the user. So, I think we are safe to show the Modified data in that column as we always set the modified date for a record even when it is created. I guess, this reduces the scope of the issue to rename the column label only.

[2020-01-16 07:19] vikasrohit commented on #3492
Thanks @maxceem.

I think it happens only when there is no result for the combination of filters. I can view projects filtered by keyword and status at the same time, however, if the search combination produces empty result set, then it shows 500 instead of empty result page.

[2020-01-16 07:27] vikasrohit commented on #3474
Agreed. That is why I am not yet fully convinced to create the new service. Lets think more about it and then decide. Lets focus on finishing the features around Assets library targeted in this release 2.5.1 and keep discussing this new API along with.

[2020-01-16 07:42] maxceem commented on #3492
You are right, I can see it by testing on the PROD. Before I based my reply looking at the code.

[2020-01-16 08:40] vikasrohit commented on #3492
I guess in that case, we can keep it in our regular release unless someone else thinks it as P0/P1 to be deployed as hotfix. I am closing the hotfix PR for now and also upgrading the priority of the issue to P2 from P4.

[2020-01-16 10:33] maxceem commented on #3464
Yes, we can. Though I've just noticed that we are using a native browser feidl `input[type="date"]` which is generally good. Though in IE 11 there is no UI for entering a date https://monosnap.com/file/n6D9TRO14Q9qMODc8tGsMPT58yTT5C which all modern browsers have. We can still continue using the native date field and think about solving the issue in IE 11 separately.

Great idea, what about showin

[2020-01-16 10:35] maxceem commented on #3464
4. In the spec there is the next requirement:

    When we filter, should we show all the files/links in a flat list without folders? Or should we keep folders which has files/links that match request and users should enter to the folders to see the files/links that match filter inside that folder?

[2020-01-16 11:35] maxceem commented on #3464
@vikasrohit I don't see a good existent style for "link" style for clear button. Should we use button like this?

<img width="811" alt="clear-file-filters" src="https://user-images.githubusercontent.com/146016/72521836-3514e380-3897-11ea-9bf3-fdfd64dfc0df.png">

- this button would be only shown when there are some filters

[2020-01-16 11:41] maxceem commented on #3465
Regarding such combining of different data in one column, I'm not sure where to put filters in such case, as we have one filter per one column, and if we show `date` and `created by` in one column, how to show the filter in the header then?

If we combine data in columns, then, I guess, we would have to create a separate panel with filters outside of the table like

![image](https://user-images.gi

[2020-01-16 11:56] vikasrohit commented on #3464
I am good with browser's native date field. We don't need to worry about IE11 for now. I just want to reuse whatever we are using in phase edit form.

which one is easier for us in terms of technical complexity? I guess having the folders would be less complex and straightforward, right?

I liked the button style. However, I would like to change the text of the header too from `All Files` to `File

[2020-01-16 12:10] vikasrohit commented on #3465
<img width="238" alt="Screen Shot 2020-01-16 at 5 38 30 PM" src="https://user-images.githubusercontent.com/2417632/72524043-0c84ed80-3887-11ea-8510-f9070d711b0e.png">
Something like this can be used to combine the filters as well, if needed. I guess, after showing handles instead of full names, we would save some space for shared with columm and we can combined filters like this for name + tags co

[2020-01-16 12:20] vikasrohit commented on #3464
yes, leave it to participants. We can get the feedback from users after release.

[2020-01-17 02:03] RishiRajSahu commented on #3466
@vikasrohit @maxceem Got confirmation on this, by default mofified date would be created and otherwise the date when the asset is updated. `accessed by a user` is in the scope of this issue.

[2020-01-17 10:14] m-yadav opened #3493 "Duplicate notifications from Connect"
### Expected behavior
When the comments are modified in connect messages section, the users should get email notification along with the updated comment

### Actual behavior
When the comments are modified in the connect messages section, the users get the notification with the old text forcing the user to think it as a duplicate email.

[2020-01-17 11:15] vikasrohit commented on #3493
fyi @lakshmiathreya

[2020-01-20 04:10] maxceem commented on #3486
Sum up:
- this issue has to be fixed in another repo https://github.com/topcoder-platform/tc-notifications
- see file https://github.com/topcoder-platform/tc-notifications/blob/dev/emails/src/partials/project-team.html notification type `connect.notification.project.member.invite.created`

[2020-01-20 04:53] maxceem commented on #3485
See a demo project: https://connect.topcoder-dev.com/projects/8720

We can have 2 different kind of situations.

### Encoding in project name

We store project name already encoded in the DB:

![image](https://user-images.githubusercontent.com/146016/72699020-b9aa7f00-3b81-11ea-88fb-6dcecf3667e6.png)

1. This leads to the fact, that `subject` is encoded twice: once already in DB, and second type b

[2020-01-20 05:02] maxceem commented on #3459
Sum up:
- Rename to `Account and security` to `Account & security` in user menu dropdown
- Move `Account & security`  in the user menu from 2nd position to the last position as we have in the left sidebar.

[2020-01-20 05:25] maxceem commented on #3375
Sum up:
- Check all the comments above to grasp the general idea
- Update API request for the notification list. Now we send a request like this: `https://api.topcoder-dev.com/v5/notifications/list?read=false&per_page=1000` we should add an additional query param: `platform=connect`. This would remove notifications that don't start with `connect.notification` from the server response.
- After that

[2020-01-20 06:06] maxceem commented on #3440
Sum up:
- Long user name should not go out in the profile info. It should be cut.
  - **NOTE** @vikasrohit  for the multiline text we cannot use CSS for adding ellipsis `...`. So I suggest that we just cut it. Otherwise, we would have to use some JS lib for adding ellipsis.
- Remove the "'" from the success message when we are adding a phase. You can use project http://local.topcoder-dev.com:3000/

[2020-01-20 06:12] maxceem commented on #3452
Sum up:
- We already showing local time and working hours for the project members in the list and in the tooltip:

   ![image](https://user-images.githubusercontent.com/146016/72702665-7c002300-3b8e-11ea-98ff-84e3c6c0c05e.png)

   - see a demo project with user `maxceem` as a member http://local.topcoder-dev.com:3000/projects/8720

- We should also show local time and working hours for users if th

[2020-01-20 06:33] vikasrohit commented on #3485
@maxceem do you think the double encoding for the topic title in email's subject is happening because of sendgrid doing the encoding second time? or is it us who are doing the second encoding as well?
I would go for storing the data in HTML without encoding. Does that ring any security issue in terms script injection? I am okay with having a script to update all such data (I guess, we only need to

[2020-01-20 06:34] lakshmiathreya commented on #3440
@SathyaJayabal @nithyaasworld

[2020-01-20 06:34] maxceem commented on #3407
Sum up:
- currently, if a user is invited to some project we are showing buttons to decline/accept an invitation on the project listing page like this:

    - card view:

        ![image](https://user-images.githubusercontent.com/146016/72703255-157c0480-3b90-11ea-9b90-ae03fc600eb1.png)

   - grid view:

        ![image](https://user-images.githubusercontent.com/146016/72703298-2e84b580-3b90-11ea-

[2020-01-20 06:39] vikasrohit commented on #3375
@maxceem just recalled one optimization we can do related to the notifications call. Recently notifications service was upgraded to support platform [filter](https://github.com/topcoder-platform/tc-notifications/blob/dev/src/services/NotificationService.js#L196) in the list notifications call. May be it is out of scope this issue, we can start passing the `platform=connect` to the list notificatio

[2020-01-20 06:42] vikasrohit commented on #3440
@maxceem we are [using](https://github.com/appirio-tech/connect-app/search?utf8=%E2%9C%93&q=react-text-truncate&type=) javascript library already for truncating text where css is not sufficient. In this particular case, I am okay with css fix only, though. But if it make sense to use the js, feel free to use the mentioned library.

[2020-01-20 06:43] maxceem commented on #3375
Yep, @vikasrohit thank you for mentioning this, already added requirement for filtering notification in the sum up above. There are still many types of Connect notification that we don't show at the moment and should ignore.

[2020-01-20 06:58] maxceem commented on #3440
@vikasrohit  I was considering that, but that library can only truncate text by lines:

![image](https://user-images.githubusercontent.com/146016/72704986-2da25280-3b95-11ea-8fe8-2dbc41e49809.png)

So we cannot use it here, and if we want to do so, we have to find another library and probably replace the existent one too, for consistency.

[2020-01-20 07:12] vikasrohit commented on #3490
This should be fixed now on production. https://github.com/topcoder-platform/tc-project-service/pull/446

[2020-01-20 08:45] maxceem opened #3494 "[$75] [Account App] sync businessPhone validation with member api"
The current issue is used to track a task in another repository during the Bug Bash challenge.

See task details https://github.com/appirio-tech/accounts-app/issues/333

All the comments to assign, unassign and ready for review should be done here in the current issue in Connect App.

[2020-01-20 09:05] vikasrohit commented on #3440
Makes sense. Lets use the css fix for this issue.

[2020-01-20 11:33] vikasrohit commented on #3404
I think, overall we are not using duration from direct project. But lets leave it for now, we can take it later.

[2020-01-21 03:01] maxceem commented on #3485
Looks like SendGrid shouldn't do so https://github.com/sendgrid/nodemailer-sendgrid-transport/issues/18, so I guess we are doing it somewhere ourself.
I guess finding this place where `subject` is encoded would be the main task in this issue.

I don't see any security issues, as we are using React which takes care of it.

I've checked it out, looks like we have all the Project fields encoded inclu

[2020-01-21 03:19] maxceem opened #3496 "[$45] [Project Service] Adding support to search project via customer/manager handles"
The current issue is used to track a task in another repository during the Bug Bash challenge.

See task details https://github.com/topcoder-platform/tc-project-service/issues/421

All the comments to assign, unassign and ready for review should be done here in the current issue in Connect App.

[2020-01-21 03:26] maxceem opened #3497 "[$35] [Project Service] Update Postman file"
The current issue is used to track a task in another repository during the Bug Bash challenge.

See task details https://github.com/topcoder-platform/tc-project-service/issues/429

All the comments to assign, unassign and ready for review should be done here in the current issue in Connect App.

[2020-01-21 06:37] vikasrohit commented on #3485
@maxceem this encoding sanitizing was done because of security testing done by penetration team, I guess. And main purpose is to remove possibility of HTML/Script injection in the system. I am not sure how we can handle it without need of updating all projects in the system. If we go for updating all the projects in the system via a JS code, we have to make sure that we don't update the `updatedAt

[2020-01-21 10:07] maxceem opened #3498 "Bug Bash Bot Test"
Bug Bash Bot Test

[2020-01-21 10:07] maxceem commented on #3498
@bug-bash-helper assign

[2020-01-21 10:08] maxceem commented on #3498
@bug-bash-helper assign

[2020-01-21 10:08] maxceem commented on #3498
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3495 is ready for review

[2020-01-21 10:09] maxceem commented on #3498
@bug-bash-helper unassign

[2020-01-21 10:09] #3498 closed

[2020-01-21 10:37] rashmi73 commented on #3486
@bug-bash-helper assign

[2020-01-21 10:37] Gauravseta commented on #3452
@bug-bash-helper assign

[2020-01-21 10:37] PrakashDurlabhji commented on #3491
@bug-bash-helper assign

[2020-01-21 10:40] mhikeo commented on #3494
@bug-bash-helper assign

[2020-01-21 10:43] yoution commented on #3455
@bug-bash-helper assign

[2020-01-21 10:44] rashmi73 commented on #3486
@bug-bash-helper https://github.com/topcoder-platform/tc-notifications/pull/169 is ready for review

[2020-01-21 10:45] mangus-dev commented on #3375
@bug-bash-helper assign

[2020-01-21 10:46] narekcat commented on #3497
@bug-bash-helper assign

[2020-01-21 10:47] rashmi73 commented on #3472
@bug-bash-helper assign

[2020-01-21 10:47] sumitdaga commented on #3472
@bug-bash-helper assign

[2020-01-21 10:48] sumitdaga commented on #3472
oh it seems the two comments were almost simultaneous ..@rashmi you can assign again as you were the first one to post the comment

[2020-01-21 10:49] maxceem commented on #3472
Yes, @sumitdaga two comments almost the same time broke the bot. I've fixed the assignment to @rashmi73.

[2020-01-21 11:39] amitpatra commented on #3496
@bug-bash-helper assign

[2020-01-21 11:55] iversonLv commented on #3440
@bug-bash-helper assign

[2020-01-21 12:18] ChanKamWo commented on #3407
@bug-bash-helper assign

[2020-01-21 12:51] sumitdaga commented on #3459
@bug-bash-helper assign

[2020-01-21 12:57] sumitdaga commented on #3459
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3499 is ready for review

[2020-01-21 13:10] iversonLv commented on #3440
Can I break the name into multiple lines??
![image](https://user-images.githubusercontent.com/4952611/72807435-5bb98c80-3c92-11ea-8b7e-3c99c78e93a2.png)

[2020-01-21 13:12] gets0ul commented on #3423
@bug-bash-helper assign

[2020-01-21 13:13] iversonLv commented on #3440
Or
![image](https://user-images.githubusercontent.com/4952611/72807632-cc60a900-3c92-11ea-8eee-fffa54c57e13.png)

[2020-01-21 13:58] mangus-dev commented on #3375
Hi!

[2020-01-21 13:58] mangus-dev commented on #3375
Hi!

[2020-01-21 13:58] mangus-dev commented on #3375
Hi!

[2020-01-21 14:14] maxceem commented on #3440
The second option would be better, don't break one "word" into several lines.

[2020-01-21 14:18] iversonLv commented on #3440
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3500 is ready for review

[2020-01-21 15:30] mangus-dev commented on #3375
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3501 is ready for review

[2020-01-21 16:29] gets0ul commented on #3423
@maxceem Any Admin user account I can use for this? Thanks.

[2020-01-21 16:35] maxceem commented on #3423
@gets0ul Unfortunately, there are not admin users that could be shared for DEV env. Though, if Project Service deployed locally, you may use Postman file to send requests with an admin token that works locally `jwt-token` (in Postman file). Or we also have the admin token for locally deployed Project Service here https://github.com/topcoder-platform/tc-project-service/blob/develop/src/tests/util.j

[2020-01-21 16:37] yoution commented on #3455
@maxceem

for `create` type
* this is ui
![image](https://user-images.githubusercontent.com/3863914/72823296-74d03680-3cae-11ea-8ee3-7fdc2556cf3c.png)
* this is request param
![image](https://user-images.githubusercontent.com/3863914/72823426-a812c580-3cae-11ea-9efd-fa1ede0d3c6d.png)
* this is the db data
![image](https://user-images.githubusercontent.com/3863914/72823631-fa53e680-3cae-11ea-8d2c-8

[2020-01-21 16:57] maxceem commented on #3455
@yoution I'm not sure what you mean in your question.

We have issues with notification type `connect.notification.project.approved` https://github.com/appirio-tech/connect-app/blob/cf20/src/config/constants.js#L920 not `create`, just in case.

When we disable this option
![image](https://user-images.githubusercontent.com/146016/72824497-51a68680-3cb0-11ea-927e-1f6c76c0c30f.png)

`connect.notifica

[2020-01-21 18:11] narekcat commented on #3497
@bug-bash-helper unassign

[2020-01-21 18:15] narekcat commented on #3497
Sorry couldn't find enough time to finish this issue. It is late and I'm very tired.

[2020-01-21 21:21] PrakashDurlabhji commented on #3491
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3502 is ready for review

[2020-01-21 22:12] Gauravseta commented on #3452
@bug-bash-helper unassign

[2020-01-21 22:13] PrakashDurlabhji commented on #3452
@bug-bash-helper assign

[2020-01-21 22:17] PrakashDurlabhji commented on #3452
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3503 is ready for review

[2020-01-21 23:12] rashmi73 commented on #3472
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3504 is ready for review

[2020-01-21 23:14] PrakashDurlabhji commented on #3497
@bug-bash-helper assign

[2020-01-22 00:04] yoution commented on #3455
@maxceem

this is for  `approved ` type, I just used `create` type for example
* this is ui
![image](https://user-images.githubusercontent.com/3863914/72823296-74d03680-3cae-11ea-8ee3-7fdc2556cf3c.png)
* this is request param
![image](https://user-images.githubusercontent.com/3863914/72823426-a812c580-3cae-11ea-9efd-fa1ede0d3c6d.png)
![image](https://user-images.githubusercontent.com/3863914/72853

[2020-01-22 02:58] amitpatra commented on #3496
@bug-bash-helper unassign

[2020-01-22 03:04] maxceem commented on #3455
Got it @yoution.

The data looks correct.
We have 3 kind of "services" which can deliver notification:
- `web` - show notification in Connect App is what we have the issue with at the moment
- `email` - send notification by email
- `emailBundling` - redundant service which has been replaced by setting `bundlePeriod`
- each of the 3 services have 2 settings:
   - `enabled` - if it's enabled or no,

[2020-01-22 03:14] maxceem opened #3505 "Remove redundant "emailBundling" from notification settings"
On the notification setting page, we edit notification settings. At the moment visually we support two notification services: `web` and `email`:

![image](https://user-images.githubusercontent.com/146016/72862315-b04b1f00-3d07-11ea-8314-7842eb8812e0.png)

But in the code, we still list `emailBundling` as a third service but we never update its value, but the code still set its default value which

[2020-01-22 03:21] maxceem commented on #3494
As no PR has been provided for 12 hours this issue has been unassigned and now is open for pickup.

[2020-01-22 03:24] maxceem commented on #3407
@ChanKamWo

As no PR has been provided for 12 hours this issue has been unassigned and now is open for pickup.

[2020-01-22 03:47] yoution commented on #3455
@bug-bash-helper https://github.com/topcoder-platform/tc-notifications/pull/170 is ready for review

[2020-01-22 03:51] yoution commented on #3494
@bug-bash-helper assign

[2020-01-22 04:27] rashmi73 commented on #3407
@bug-bash-helper assign

[2020-01-22 09:39] gets0ul commented on #3423
@bug-bash-helper https://github.com/topcoder-platform/tc-project-service/pull/447 is ready for review

[2020-01-22 09:53] gets0ul commented on #3496
@bug-bash-helper assign

[2020-01-22 11:40] rashmi73 commented on #3407
@maxceem working it may take more than 12 hours as bit lengthy

[2020-01-22 12:18] yoution commented on #3494
@bug-bash-helper
https://github.com/appirio-tech/react-components/pull/346
https://github.com/appirio-tech/connect-app/pull/3507
is ready for review

[2020-01-22 12:20] yoution commented on #3494
@bug-bash-helper https://github.com/appirio-tech/react-components/pull/346  ready for review

[2020-01-22 12:21] yoution commented on #3494
@maxceem   please review these two repos, https://github.com/appirio-tech/connect-app/pull/3507
https://github.com/appirio-tech/react-components/pull/346

[2020-01-22 20:29] gets0ul commented on #3496
@bug-bash-helper https://github.com/topcoder-platform/tc-project-service/pull/448 is ready for review

[2020-01-23 03:12] maxceem commented on #3497
@PrakashDurlabhji

As no pull request has been provided for 12 hours this issue has been unassigned and now is open for pickup.

[2020-01-23 03:15] maxceem commented on #3407
@rashmi73 just in case would like to let you know that this issue could be held no more than 36 hours in total. There are still 13 hours to complete the issue.

[2020-01-23 03:34] maxceem commented on #3440
CSS `ellipsis ` appears to work great for our case, as we have too long **word** not too long **text** where it doesn't work:

![image](https://user-images.githubusercontent.com/146016/72954692-35036f00-3dd4-11ea-9504-383654d5afd8.png)

[2020-01-23 03:35] maxceem commented on #3440
New stage alert also looks good now without extra apostrophes:

![image](https://user-images.githubusercontent.com/146016/72954749-63814a00-3dd4-11ea-9ed3-dd4a668bbd73.png)

[2020-01-23 03:54] maxceem commented on #3375
@vikasrohit looks like some warnings are showed for notifications that just have some mismatches in the event type naming and shouldn't be ignored, but should be fixed instead:

![image](https://user-images.githubusercontent.com/146016/72955432-e4d9dc00-3dd6-11ea-8041-b3d1b6b84d78.png)

[2020-01-23 03:56] maxceem opened #3508 "Notification event types mismatches"
Follow up from https://github.com/appirio-tech/connect-app/issues/3375#issuecomment-577492847

During creating a list of notifications which we are not showing in Connect App intentionally and we want to ignore it's appeared that some notifications have mismatches in the event type naming and shouldn't be ignored, but should be fixed instead in some services to match:

![image](https://user-images

[2020-01-23 03:59] yoution commented on #3497
@bug-bash-helper assign

[2020-01-23 04:21] maxceem commented on #3472
@rashmi73 provided fix doesn't work for me. Please, see pull request review for details https://github.com/appirio-tech/connect-app/pull/3504#pullrequestreview-347050918

[2020-01-23 05:55] yoution commented on #3497
@bug-bash-helper https://github.com/topcoder-platform/tc-project-service/pull/449 is ready for review

[2020-01-23 05:56] yoution commented on #3497
@bug-bash-helper https://github.com/topcoder-platform/tc-project-service/pull/449 is ready for review

[2020-01-23 06:11] maxceem commented on #3423
@gets0ul the fix itself works great. There is a couple of comments regarding unit tests, please have a look at the pull request review for details https://github.com/topcoder-platform/tc-project-service/pull/447#pullrequestreview-347075560.

[2020-01-23 07:17] vikasrohit commented on #3508
Just to clarify @maxceem, `added to be ignored` are notifications which should not be ignored, but are in ignore list right now, correct?

[2020-01-23 07:27] vikasrohit commented on #3322
@maxceem what is the pending question here?

[2020-01-23 07:35] maxceem commented on #3508
Not sure what you mean. Let me rephrase.

- Initially, we were showing warnings for all notifications that come to the Connect App but are not shown.
- As we intentionally didn't want to show them we decided to create a ignore list, so we don't show warnings for them. While if someday we have some new unsupported notification type, we still want to see a warning to make a decision: show it or add

[2020-01-23 07:37] vikasrohit commented on #3299
It is okay and expected to have that. I mean it is the API caller's responsibility to create correct milestones. In this particular case, API caller (connect front end) would either create a milestone called `end` OR let the user in Connect to define the correct end milestone. What I am trying to say is that, it is only matter of the view, it does not matter (theoretically) if the last milestone i

[2020-01-23 08:26] gets0ul commented on #3423
@maxceem PR is updated.

[2020-01-23 08:35] maxceem commented on #3494
@yoution works mostly good. Though implementation doesn't reuse `formsy` features, that should make the code simpler, as `PhoneInput` component is already implemented as formsy component.
Please, have a look at the reviews in Connect App https://github.com/appirio-tech/connect-app/pull/3507#pullrequestreview-347112336 and in React Components repo https://github.com/appirio-tech/react-components/pu

[2020-01-23 08:36] vikasrohit commented on #3508
Got it.

[2020-01-23 13:23] yoution commented on #3494
@maxceem   https://github.com/appirio-tech/react-components/pull/347
https://github.com/appirio-tech/react-components/pull/347

i pushed again for country code validate, but the issue in registerscreen page, the country code can not show, it maybe not my problem, the code I changed may not cause the problem, please check again

[2020-01-23 13:37] maxceem commented on #3494
Thanks @yoution I'll check again tomorrow. I've already marked it as `Ready or Review`.

I saw on your video it works good, so it's not in issue, the reason was just because example doesn't have country list.

[2020-01-23 17:39] maxceem commented on #3407
@rashmi73 As PR hasn't been raised for this issue more than 36 hours, it was unassigned and now is open for pick up.

Note, maximum time to solve this issue is 36 hours.

[2020-01-23 17:41] PrakashDurlabhji commented on #3407
@bug-bash-helper assign

[2020-01-23 23:46] PrakashDurlabhji commented on #3407
@maxceem update you shortly

[2020-01-23 23:54] rashmi73 commented on #3472
@maxceem

any dynamic way to convert plain javascript object to object having mongodb query params in it?
https://www.npmjs.com/package/react-addons-update#update

Also, different projectType will have different properties so cant hardcode to a specific project fields in my PR

I did not find any such way online to convert plain object to mongodb query param?
my logic shall work perfect, a bit gui

[2020-01-24 02:37] maxceem commented on #3472
@rashmi73 you may try to replace the line:
[code]

with:

[code]

or with:

[code]

Though, I'm not sure if it would work correctly or would be there any issues.

[2020-01-24 03:52] maxceem commented on #3494
@yoution I've checked it out, please, have a look at review https://github.com/appirio-tech/connect-app/pull/3507#issuecomment-577980713.

[2020-01-24 11:16] vikasrohit opened #3512 "Filtering on tags"
Carried from #3464
Tagging is not implemented yet, hence we can have filter on tags. We would support the filtering on tags after getting #3462 is done.

[2020-01-24 11:19] ajefts opened #3513 "P1: Update Internal Catalog Display"
**Objective:** Improve the presentation of the internal Connect catalog for work options.

<p></p>

**Requirements:**

Designs - https://marvelapp.com/cc9e4j1/screen/62801529

- All 3 screens of the Connect catalog will require updates to UI and content, including:

  - Screen 1: Solutions vs. On Demand options

  - Screen 2: Full List of Solution Options

  - Screen 3: Full List of On Demand opti

[2020-01-24 11:19] ajefts commented on #3513
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2851875

[2020-01-24 11:19] ajefts opened #3514 "P1: Update Internal Catalog Display"
**Objective:** Improve the presentation of the internal Connect catalog for work options.

<p></p>

**Requirements:**

Designs - Pending:

- All 3 screens of the Connect catalog will require updates to UI and content, including:

  - Screen 1: Solutions vs. On Demand options

  - Screen 2: Full List of Solution Options

  - Screen 3: Full List of On Demand options (TaaS/Capacity)

- Screens 2 & 3

[2020-01-24 11:19] ajefts commented on #3514
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2851875

[2020-01-24 11:20] ajefts opened #3515 "P1: Update Internal Catalog Display"
**Objective:** Improve the presentation of the internal Connect catalog for work options.

<p></p>

**Requirements:**

Designs - Pending:

- All 3 screens of the Connect catalog will require updates to UI and content, including:

  - Screen 1: Solutions vs. On Demand options

  - Screen 2: Full List of Solution Options

  - Screen 3: Full List of On Demand options (TaaS/Capacity)

- Screens 2 & 3

[2020-01-24 11:20] ajefts commented on #3515
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2851875

[2020-01-24 11:47] vikasrohit commented on #3505
I think it is safe now to remove `emailBundling` as we are using the `bundlePeriod` field on the email service settings to determine if user has set the bundling or immediate action. I guess, we are setting, depending on what user has selected in the dropdown, the `bundlePeriod` for `email` service settings, in front when passing the payload to the settings API.

[2020-01-24 11:47] vikasrohit commented on #3505
Lets do it in next release.

[2020-01-24 12:01] vikasrohit opened #3516 "Sync project status to the direct projects"
### Expected behavior
- All project status updates should be reflected in corresponding direct project, if available.
- Direct project should be created in Draft status if possible.

### Actual behavior
- None of the project status change is synced back to the direct project as of now
- Direct project is created in Active status by default

### Steps to reproduce the problem
- Create a project in

[2020-01-24 12:02] vikasrohit commented on #3516
@maxceem let me know your thoughts

[2020-01-24 13:20] maxceem commented on #3516
@vikasrohit In general, it looks like straightforward to implement using our new [legacy-project-processor](https://github.com/topcoder-platform/legacy-project-processor) which we use to update Direct projects. The only question is if we prefer to use Direct API for new functionality or directly call InformixDB as it's done now for existent functionality.

[2020-01-25 01:11] rashmi73 commented on #3472
@maxceem PR update https://github.com/appirio-tech/connect-app/pull/3504

[2020-01-25 01:13] rashmi73 commented on #3472
@maxceem dont know why label is not changin?

[2020-01-25 01:14] PrakashDurlabhji commented on #3407
@maxceem in some time

[2020-01-25 03:08] maxceem commented on #3472
@rashmi73 strange, could you please try to post a comment one more time.

[2020-01-25 03:13] maxceem commented on #3472
@rashmi73 I've just checked updated PR, it still doesn't work for me https://github.com/appirio-tech/connect-app/pull/3504#pullrequestreview-348307030. Please, provide a demo video how it works for you with the next pull request.

[2020-01-25 03:17] maxceem commented on #3514
Looks like duplicate of https://github.com/appirio-tech/connect-app/issues/3513

[2020-01-25 03:18] maxceem commented on #3515
Looks like duplicate of https://github.com/appirio-tech/connect-app/issues/3513

[2020-01-25 03:53] maxceem opened #3517 "Topcoder Connect - Bug Bash 20"
Hi, everyone who worked on the issues for the challenge [Topcoder Connect - Bug Bash 20](https://www.topcoder.com/challenges/30113181) @yoution, @gets0ul, @mangus-dev, @PrakashDurlabhji, @iversonLv, @rashmi73.

To process the payments, we have to know your Topcoder handles. If you solved at least one issue and raised PR, even if it's not accepted yet, please, submit a text file on the [challenge p

[2020-01-25 04:36] maxceem commented on #3472
@rashmi73 we can wait for the fix for this issue for another 12 hours, though if there is no solution until that time I would have to unassign you, as Bug Bash is almost finished, and we need this issue to be done on time.

[2020-01-25 05:41] maxceem commented on #3407
@PrakashDurlabhji as this issue has not been solved for 36 hours it is unassigned and now is open for pick up.

- The prize for the issue raised to $175
- Maximum time to solve this issue is <b>24</b> hours.

[2020-01-25 07:06] rashmi73 commented on #3407
@bug-bash-helper assign

[2020-01-25 07:55] maxceem commented on #3407
@rashmi73 as you've already worked on this issue before and didn't provide a solution for 36 hours, please, don't pick up this issue and let other people try.

[2020-01-25 08:01] rashmi73 commented on #3407
@maxceem as I already worked on it so I m midway and complete faster, can I take this issue if i give up my other issue?

[2020-01-25 08:06] maxceem commented on #3407
@rashmi73 could you please create a Pull Request with what you have done so far for this issue, I'll have a look if there is big enough work already done to continue.

[2020-01-25 08:12] yoution commented on #3407
@bug-bash-helper assign

[2020-01-25 08:19] rashmi73 commented on #3472
@bug-bash-helper assign

[2020-01-25 08:20] rashmi73 commented on #3472
@maxceem I would like to give a last try again, can you please mark it open so i can assign it back thank you

[2020-01-25 08:23] maxceem commented on #3472
Ok, I've assigned you back @rashmi73. We can wait 8 hours more for the solution. Though after I would have to assign you and open it for pickup.

[2020-01-25 11:31] yoution commented on #3407
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3518 is ready for review

[2020-01-25 16:23] maxceem commented on #3472
@rashmi73 as there is no update, this issue is unassigned and now is open for pickup.

[2020-01-25 16:24] gets0ul commented on #3472
@bug-bash-helper assign

[2020-01-25 17:32] gets0ul commented on #3472
@bug-bash-helper https://github.com/appirio-tech/connect-app/pull/3519 is ready for review

[2020-01-27 04:18] maxceem commented on #3407
@yoution generally works great, there are few issues to fix, please have a look at review https://github.com/appirio-tech/connect-app/pull/3518#pullrequestreview-348436165

[2020-01-27 05:03] nithyaasworld opened #3520 "Same project has 2 different status (In review and reviewed)"
1. In Dev Env, search with the keyword 'sathya'
2. Check that there is a project 'Sathya Jan 14 Copilot 1' in 'In review' status
3. Click on 'Reviewed' filter and check that the same project is now shown with 'Reviewed' status

![image](https://user-images.githubusercontent.com/5114190/73151272-7b1c4380-40f0-11ea-8536-fd94face2723.png)
![image](https://user-images.githubusercontent.com/5114190/731

[2020-01-27 05:04] nithyaasworld commented on #3520
Assigning this with 'p4' as the issue is seen only with the data present in Dev Environment.

If its a data issue, please clear the wrong-data, so we can close this issue.

[2020-01-27 05:07] nithyaasworld commented on #3520
Another thing to note:

In Dev, If I simply navigate to 'Reviewed' tab, this project is not seen. Only **when I search with 'sathya' being in the 'Reviewed' tab**, this issue is seen.

[2020-01-27 05:36] #3514 closed

[2020-01-27 05:36] #3515 closed

[2020-01-27 05:38] vikasrohit commented on #3516
I am not sure about continuing with the InformixDB calls. Personally, I would prefer the API calls, but I guess, there is some other thinking behind using the SQL instead in first place. I would try to confirm it with the team and come up with a decision.

[2020-01-27 05:39] vikasrohit commented on #3516
On the second thoughts, I think we can continue with SQL for implementing this and later on we can remove the usage of the SQL altogether when we do refactoring for this.

[2020-01-27 06:04] nithyaasworld opened #3521 "Added links are disappeared"
1. In Production, login as copilot (I tried with my id)
2. Go to any project and add some links
3. Navigate back to the dashboard
4. Again go to the same project as in step:2 and check the links

Actual:
Added links are gone.

Expected:
Links should not disappear.

Browser: FF on windows 10

Video of the issue:
[links are gone.zip](https://github.com/appirio-tech/connect-app/files/4115735/links.ar

[2020-01-27 06:11] SathyaJayabal commented on #3521
Could reproduce the issue in Chrome browser on Mac OS

[2020-01-27 06:13] nithyaasworld commented on #3521
Thanks @SathyaJayabal Marking it with p0 as the function is broken.

CC: @maxceem @vikasrohit @lakshmiathreya

[2020-01-27 06:25] nithyaasworld commented on #3464
@maxceem @vikasrohit Shared with column filters are not fetching the right results if the result entity has 'All Project members'. Should we have to handle this?

![image](https://user-images.githubusercontent.com/5114190/73154006-dc95df80-40fb-11ea-8c77-e634cd48b365.png)

[2020-01-27 06:33] vikasrohit commented on #3520
@maxceem do you have idea about this? I doubt on inconsistency between ES and DB but I guess, now we are returning all data from ES and the two places where the data is different, are using the same API endpoint, so it should not be the inconsistency between ES and DB.

[2020-01-27 06:35] maxceem commented on #3520
### Overview

This is caused by the data inconsistency between ES and DB.
Normally data comes from ES, where the project has 'In review'  status.

When searching by `Reviewed` and `sathya` there are no such results found in ES, so the backend tries to find it in DB, and in DB it finds one project where status is `Reviewed`. So the same project has different statuses in ES and DB.

### Root issue

[2020-01-27 06:38] maxceem commented on #3520
It is an inconsistency between DB and ES. The observed effect of different output is due to aflling back to DB when no results found in ES. There is an issue logged exactly for such cases https://github.com/topcoder-platform/tc-project-service/issues/450.

[2020-01-27 06:46] maxceem commented on #3464
@nithyaasworld good catch.

So far we only search be the members who are directly listed, like for the first row with "zip" archive. And for the "All Project Members" we are searching by the text "All Project Members" but not by actual members names who are represented by this "All Project Members" text. So entering into search field text "All" would show the records with "All Project Members" tex

[2020-01-27 08:55] vikasrohit opened #3522 "Some projects are not showing the updated changes"
### Expected behavior
Updated data should be visible even after page refresh

### Actual behavior
For some projects, changes made by the user are lost (or at least seems to be lost), when user refreshes the page after the update.

### Steps to reproduce the problem
- Update some data in a project
- Refresh the page
- Observe if the changes made, are reflected or not

--

#### Environment
- OS: Mac

[2020-01-27 08:55] vikasrohit commented on #3522
@lakshmiathreya fyi

[2020-01-27 08:59] lakshmiathreya commented on #3522
@SathyaJayabal @nithyaasworld

[2020-01-27 09:14] maxceem commented on #3522
@vikasrohit do you have any example apart from http://connect.topcoder-dev.com/projects/8709 (DEV)?

[2020-01-27 09:22] nithyaasworld commented on #3522
@vikasrohit is https://github.com/appirio-tech/connect-app/issues/3521 because of #3522 ?

[2020-01-27 09:37] vikasrohit commented on #3522
Yes, @nithyaasworld

[2020-01-27 09:52] vikasrohit commented on #3464
@maxceem yep, from my understanding it seems a valid behaviour. How difficult is to implement that? If it is not much tricky, we can go for this in this release, otherwise, I guess we can live with it till next release.

[2020-01-27 09:52] vikasrohit commented on #3464
And I can ask product managers as well about this.

[2020-01-27 09:56] vikasrohit commented on #3464
One more thing, came to my mind, if we go with implementing the expected behaviour, we need to make sure that we don't return all the attachments shared with all project members, even if user enters any arbitrary handle/text i.e. they should be returned only if the handle is member of the project.

[2020-01-27 09:59] maxceem commented on #3464
I guess it shouldn't be tricky. I may ask to make it as a private task. If it's ready fast, we can include it to the release, otherwise, keep for the next one.

Would you like to still keep ability of searching by text like `All Project Members` and `Only Topcoder Members`? Or only by actual user names and handles?

![image](https://user-images.githubusercontent.com/146016/73165345-99a12f80-412e-1

[2020-01-27 10:01] vikasrohit commented on #3464
Makes sense. Lets keep the searching behaviour for `All Project Members` and `Only Topcoder  Members` as is, if it is not difficult to keep it.

[2020-01-27 10:29] vikasrohit commented on #3496
@maxceem while reviewing this fix, I realized that we might need to fix the reading of `primary:true` field for determining the project's customer when rendering the customer field data on project listing page. May be we need to show all customers now in that column, just like we are showing the managers.

[2020-01-27 10:52] nithyaasworld commented on #3521
@vikasrohit marking this with milestone 2.5 as this has been already released to production as part of #3522 Please correct me if I am wrong. Thanks.

[2020-01-27 11:06] #3521 closed

[2020-01-27 11:10] nithyaasworld commented on #3522
@maxceem @vikasrohit Last-Updated info is also not getting updated after adding a file or link to the project. Should this be addressed as part of this issue or this is a new issue and needs a new ticket? Thanks.

![image](https://user-images.githubusercontent.com/5114190/73170127-a3716580-4123-11ea-958d-5975298840eb.png)

[2020-01-27 11:15] maxceem commented on #3496
Do you mean that in the `Customer` column of the project listing page instead of only one customer who has `isPrimary: true` we should show all the members who is in the customer team?

![image](https://user-images.githubusercontent.com/146016/73170292-f99cd380-4138-11ea-9366-827b88ca4f8c.png)

[2020-01-27 11:19] vikasrohit commented on #3496
Yes, because when you search for a customer in the filter for the Customer filter, it would show some projects where the searched user is actually a customer of the project but it is not the primary customer which makes the customer column of the project to be empty.

[2020-01-27 11:20] maxceem commented on #3522
If all the data including the project name can be updated but only `Last updated` stays the same, then it looks like another issue, with `Last updated` only.

[2020-01-27 11:23] maxceem opened #3524 "Show all customer in the "Customer" column of the project listing page"
Follow up from https://github.com/appirio-tech/connect-app/issues/3496#issuecomment-578684892

In the `Customer` column of [the project listing page](https://connect.topcoder-dev.com/projects?sort=lastActivityAt%20desc) instead of only one customer who has `isPrimary: true` we should show all the members who are in the customer team (i. e. all members with `role === "customer"`).?

![image](https:

[2020-01-27 11:24] maxceem commented on #3496
Created a follow-up issue https://github.com/appirio-tech/connect-app/issues/3524

[2020-01-27 11:26] maxceem commented on #3524
Basically, to implement this issue we can use the same component for showing several user avatars as we use for managers. We just should filter members using the criteria `role === "customer"`.

[2020-01-27 11:37] vikasrohit commented on #3521
Yes, that is what I usually do. We would keep following that pattern, until we have new way/process.

[2020-01-27 11:52] nithyaasworld commented on #3522
Thanks @maxceem You are right! Only the 'Last updated' stays the same. I will log a new bug.

Closing this.

[2020-01-27 11:52] #3522 closed

[2020-01-27 12:00] vikasrohit commented on #3452
@maxceem it does not seem to be working for me https://connect.topcoder-dev.com/projects/8515

[2020-01-27 12:03] maxceem commented on #3452
Ok, working for me also.

![image](https://user-images.githubusercontent.com/146016/73173323-14bf1180-4140-11ea-8255-834b60050f3b.png)

[2020-01-27 12:07] vikasrohit opened #3525 "Long customer names are overlapping in the Manager column"
### Expected behavior
Long customer names should not overlap in the next column

### Actual behavior
Overlapping with manager column

### Screenshot/screencast
<img width="310" alt="Screen Shot 2020-01-27 at 5 35 47 PM" src="https://user-images.githubusercontent.com/2417632/73173548-9d7f8280-412b-11ea-99bb-f4a91e68a424.png">

--

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (c

[2020-01-27 12:07] vikasrohit commented on #3525
@maxceem can we get it fixed before this release?

[2020-01-27 12:08] vikasrohit commented on #3407
After this change it seems like we are now overlapping the customer name with next column, created separate issue #3525  for it.

[2020-01-27 12:09] vikasrohit commented on #3525
It is not happening on production.

[2020-01-27 12:09] nithyaasworld opened #3526 "'Last Updated' info is not getting updated"
1. Go to connect Production env
2. Login as Copilot and click on any project
3. Update any information like project-title, scope, etc
4. Add files and links
5. Go back to project dashboard and check the 'Last updated' info

Actual:
Last-updated is not getting updated.

Expected:
It should get updated with the right info.

![image](https://user-images.githubusercontent.com/5114190/73173671-ef280d00

[2020-01-27 12:21] vikasrohit commented on #3347
Closing as it seems very old and should have been deployed.

[2020-01-27 12:21] #3347 closed

[2020-01-27 15:26] #3431 closed

[2020-01-27 15:28] #3359 closed

[2020-01-27 15:29] #3155 closed

[2020-01-27 15:30] #3382 closed

[2020-01-27 15:30] #3396 closed

[2020-01-27 15:31] #3305 closed

[2020-01-27 15:32] #3422 closed

[2020-01-27 15:33] #3490 closed

[2020-01-27 15:34] #3467 closed

[2020-01-28 02:34] RishiRajSahu commented on #3427
@vikasrohit yes, Account manager shares same permissions as manager except he gets additional notification/email of new project creation.

[2020-01-28 04:09] maxceem commented on #3520
The root reason for the issue mentioned in https://github.com/appirio-tech/connect-app/issues/3520#issuecomment-578610957 looks like got fixed by https://github.com/appirio-tech/connect-app/issues/3521 via https://github.com/topcoder-platform/project-processor-es/pull/21.

Also, data in ES has been fixed to match the DB.

So this issue should disappear now. This ticket may be tested and closed.

[2020-01-28 04:36] maxceem commented on #3525
Expected behavior: the customer name should not go out of the "Customer" column, it should get cut with an ellipsis at the end `...`. It should not go to the second line.

[2020-01-28 04:38] maxceem commented on #3525
@vikasrohit I've just realized, that if we start showing all customers as avatars, same as manages, we don't have to fix this issue. We can implement another issue instead https://github.com/appirio-tech/connect-app/issues/3524.

[2020-01-28 05:29] vikasrohit commented on #3525
Yes, agreed. Closing it.

[2020-01-28 05:38] vikasrohit commented on #3427
Okay, assuming the issue to be still there on production, moving this issue in next milestone.

[2020-01-28 06:42] ajefts opened #3527 "Reporting POC"
Objective: Validate Looker SSO embedding strategy is workable.

<p></p>

Aspects for validation:

- Technical configuration/routing of data

- Project-level report data is filtered by Project ID

- Program-level report data is filtered by Project ID and User ID

- All users in a project with approved permissions can see reports

- All users can see selected program reports

- Reports can be schedu

[2020-01-28 06:42] ajefts commented on #3527
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3531195

[2020-01-28 06:43] ajefts opened #3528 "Reporting POC"
Objective: Validate Looker SSO embedding strategy is workable.

<p></p>

Aspects for validation:

- Technical configuration/routing of data

- Project-level report data is filtered by Project ID

- Program-level report data is filtered by Project ID and User ID

- All users in a project with approved permissions can see reports

- All users can see selected program reports

- Reports can be schedu

[2020-01-28 06:43] ajefts commented on #3528
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3531195

[2020-01-28 07:12] vikasrohit commented on #3528
Duplicated #3527

[2020-01-28 07:12] #3528 closed

[2020-01-28 07:15] maxceem commented on #3322
We don't show red cue against newly added links and files at the moment. At the moment we cannot do it technically.

1. **Links for the project**. Notifications about added links to projects, don't have any information regarding which link has been added, and in fact, links now are not first-class citizens so we don't have any id for them to identify them:

    ![image](https://user-images.githubu

[2020-01-28 07:32] maxceem commented on #3322
This issue has been fixed via https://github.com/appirio-tech/connect-app/commit/6908dc7ef834a0b14067b5d8385acc32476e2429 and pushed to DEV.

It's ready for testing.

- When we open `Files` tab on the **Assets Library** page, **files** notifications are marked as `read`.
- When we open `Links` tab on the **Assets Library** page, **links** notifications are marked as `read`.
- When such notificatio

[2020-01-28 08:25] #3520 closed

[2020-01-28 10:28] maxceem-dev opened #3530 "Test issue"
Test issue

[2020-01-28 10:38] yoution commented on #3524
@maxceem  has pushed, please review https://github.com/appirio-tech/connect-app/pull/3531

[2020-01-28 12:15] nithyaasworld commented on #3486
@maxceem I am seeing a different text than we intended above. Can you confirm please if this is intended?

[2020-01-28 13:42] maxceem-dev commented on #3530
@bug-hunt-helper help

[2020-01-28 13:42] maxceem-dev commented on #3530
@bug-hunt-helper add label: test 123

[2020-01-28 13:43] maxceem-dev commented on #3530
@bug-hunt-helper add label: Won't Fix

[2020-01-28 13:43] maxceem-dev commented on #3530
@bug-hunt-helper remove label: Won't Fix

[2020-01-28 13:43] #3530 closed

[2020-01-28 13:50] lakshmiathreya commented on #3452
Not working for me - @maxceem pls clarify
<img width="1366" alt="Screenshot 2020-01-28 at 7 19 26 PM" src="https://user-images.githubusercontent.com/51733042/73269635-32a17a80-4203-11ea-9c65-f2cffceca80f.png">

[2020-01-28 14:06] lakshmiathreya commented on #3452
Seems like there is a latency - i can see TZ and Working hours for one of the invited users now:
<img width="1402" alt="Screenshot 2020-01-28 at 7 35 12 PM" src="https://user-images.githubusercontent.com/51733042/73270817-785f4280-4205-11ea-9c21-9669d4f485ea.png">

[2020-01-28 14:19] lakshmiathreya commented on #3423
@maxceem pls clarify - I continue to get the error msg "Only manager is able to join as manager" - when I try to join project as manager via Admin user.

[2020-01-28 14:30] nithyaasworld commented on #3440
Verified in Dev.
![image](https://user-images.githubusercontent.com/5114190/73272452-69c65a80-4208-11ea-949d-96c25eee874f.png)

![image](https://user-images.githubusercontent.com/5114190/73272678-c6297a00-4208-11ea-8ef2-1126088958c1.png)

[2020-01-28 14:30] lakshmiathreya commented on #3466
Column modified to 'Date' - Timestamp reflects latest edit time of the Asset.

[2020-01-28 14:31] lakshmiathreya commented on #3466
Pls note Requirement stated 'accessed by user' - assuming requirement is modified to 'modified by user'. Pls clarify @RishiRajSahu @maxceem @vikasrohit

[2020-01-28 14:34] nithyaasworld commented on #3459
Verified in Dev.
![image](https://user-images.githubusercontent.com/5114190/73273033-55369200-4209-11ea-93d7-bf7b6ba14245.png)

[2020-01-28 14:43] nithyaasworld commented on #3423
Me too.. Seeing the same error as @lakshmiathreya when trying to join a project as admin user.

![image](https://user-images.githubusercontent.com/5114190/73273785-86fc2880-420a-11ea-85f3-2bf50fab53d9.png)

[2020-01-28 14:52] nithyaasworld commented on #3452
Yeah, I am seeing the same behaviour as Lakshmi.

![image](https://user-images.githubusercontent.com/5114190/73274554-c0816380-420b-11ea-9bba-a767b5d47386.png)
![image](https://user-images.githubusercontent.com/5114190/73274662-ef97d500-420b-11ea-9e48-4eac560aabf7.png)

[2020-01-28 15:02] nithyaasworld commented on #3496
@maxceem On trying to filter with handle 'bruce13', it shows 'Rishi''s project along with projects of other managers too. Could you check please?

Same issue with Customer filter too.

Marking this with 'QA Fail in Dev' for the above reason.

![image](https://user-images.githubusercontent.com/5114190/73275505-376b2c00-420d-11ea-98dd-dca876d3e23b.png)

[2020-01-28 15:34] nithyaasworld commented on #3494
@maxceem I entered the below info when registering. But when I checked in My-Profile after completing the registration, the info I entered are not seen. Could you check please?

![image](https://user-images.githubusercontent.com/5114190/73278402-8c10a600-4211-11ea-94f3-088c440263a8.png)
![image](https://user-images.githubusercontent.com/5114190/73278574-c9753380-4211-11ea-85b4-6c173e4eb962.png)

[2020-01-28 15:54] nithyaasworld commented on #3472
@maxceem Now the previous implementation is broken. That is, if we choose a different template, it shows the form with data filled for the first template. Form data are not reset in this case.

Please find the video:
[template not reset.zip](https://github.com/appirio-tech/connect-app/files/4123250/template.not.reset.zip)

[2020-01-28 19:18] nithyaasworld commented on #3466
Also, there are 2 issues and both of these issues **are seen in production as well.**

1. Modified date of **Link** is not correct, whereas the date of **'Files'** are correct
![image](https://user-images.githubusercontent.com/5114190/73297077-e1a87b00-4230-11ea-85c8-e94b22d9d27e.png)
![image](https://user-images.githubusercontent.com/5114190/73297094-ebca7980-4230-11ea-8a4a-1e77e22d8de2.png)

2.

[2020-01-28 19:25] nithyaasworld opened #3532 "'Successfully' is misspelled in the info-message"
'Successfully' is misspelled as 'Su**ccc**essfully' in the below screen

![image](https://user-images.githubusercontent.com/5114190/73297657-fa656080-4231-11ea-83eb-21e6c76122ea.png)

[2020-01-28 19:57] nithyaasworld opened #3533 "Text of 'Ref' Code is overflowing if its content is big"
1. In the Dev environment, check the project details page of the below project: https://connect.topcoder-dev.com/projects/8720/assets

![image](https://user-images.githubusercontent.com/5114190/73300109-7366b700-4236-11ea-9e67-c0f26136bd80.png)

[2020-01-28 19:57] nithyaasworld commented on #3533
Marked this with P4, as its less likely for someone to enter such a big invalid Ref code.

[2020-01-28 20:10] nithyaasworld opened #3534 "Copy right year in the registration page needs to be updated"
Copy right year in the registration page shows old year. This needs to be updated to show the current year dynamically instead of hard-coding the year.

![image](https://user-images.githubusercontent.com/5114190/73301083-271c7680-4238-11ea-9127-bb5e4a94e350.png)

[2020-01-28 20:22] nithyaasworld commented on #3534
After reading the below discussion, Not really sure if we need to update the copyright every-year :)

https://stackoverflow.com/questions/2390230/do-copyright-dates-need-to-be-updated

[2020-01-28 20:29] nithyaasworld commented on #3322
Works perfect! Verified in dev.

[2020-01-28 21:15] nithyaasworld commented on #3464
@maxceem Removed the 'Ready for QA' label. Please add it back once the 'Shared with' filter is enhanced. Or if we are going to release this after 2.5.1, please let me know, I will create a new issue just to address the 'Shared with' filter enhancement.

[2020-01-28 21:51] nithyaasworld commented on #3455
Works Perfect!! Verified in dev.

[2020-01-28 23:56] nithyaasworld commented on #3407
@maxceem Verified in dev. There is no functional issues.

UX Feedback:
1. On clicking 'Decline' button, it declines the project immediately. If user presses the button accidentally, then he needs to be invited again. If possible, would like a 'Decline confirmation message' with 'yes or no' options like suggested here: https://github.com/appirio-tech/connect-app/issues/3407#issuecomment-567962801

[2020-01-29 01:37] maxceem commented on #3423
Currently, another branch `feature/looker_reporting` is deployed for Project Service instead of `develop` so there is no fix for this issue at this moment. I would update when it's there.

[2020-01-29 01:39] maxceem commented on #3496
Currently, another branch `feature/looker_reporting` is deployed for Project Service instead of `develop` so there is no fix for this issue at this moment. I would update when it's there.

[2020-01-29 01:45] maxceem commented on #3472
@nithyaasworld that is expected behavior. We reset all data except of project "name", "description" and "ref code" as these fields are usually common for all templates, see https://github.com/appirio-tech/connect-app/issues/3364#issuecomment-558118788.

[2020-01-29 02:07] maxceem commented on #3466
We modified 'accessed by user' with 'modified by user' because most likely it is what was meant there. We don't know any other meaning of 'accessed by user' in the current context.

2 issues listed in this comment https://github.com/appirio-tech/connect-app/issues/3466#issuecomment-579410086 are valid. Even though there were not a direct task of this issue I guess it's better to fix it now for con

[2020-01-29 02:10] maxceem commented on #3532
Fixed and pushed to DEV, ready for testing.

[2020-01-29 02:24] maxceem commented on #3513
Here we have to do the next final fixes:
1. Increase icons size to take the same space as on new design https://marvelapp.com/cc9e4j1/screen/65344038/handoff and https://marvelapp.com/cc9e4j1/screen/65344039. So icons should have size up to 79px x 79px. We want to achieve the same sizing of the cards as in design.
2. Add font mixins https://fonts.google.com/specimen/Roboto+Condensed to the https:/

[2020-01-29 02:27] maxceem commented on #3513
@vikasrohit after increasing icon size to 79px as per design it looks like this:

![image](https://user-images.githubusercontent.com/146016/73323236-bb5efb80-4281-11ea-8a74-06e26d69abd2.png)

![image](https://user-images.githubusercontent.com/146016/73323248-c74abd80-4281-11ea-8143-9f15901cd1e2.png)

I guess we should not increase the icon size and just make space around icons similar to the desig

[2020-01-29 02:52] maxceem commented on #3486
This wasn't in the original issue description, though I guess it should get fixed too.

In the original issue, there is a text for a user with no-SSO login - we fixed that.
In the screenshot you've shared above, it's message for SSO login, which is different. Though we should also adjust it to reflect the fact that we have button for direct actions now.

So this is fixed now for SSO login too via

[2020-01-29 03:09] maxceem commented on #3513
For now, all [final fixes](https://github.com/appirio-tech/connect-app/issues/3513#issuecomment-579563326) are done and pushed to DEV as per current requirements.

[2020-01-29 04:04] maxceem commented on #3464
@nithyaasworld let's keep this enhancement for the next release, as I see there some other issues which also require assistance and look more urgent for this release. Also, don't want to implement this enhancement in a hurry, as the release is already tomorrow.

[2020-01-29 05:27] SathyaJayabal commented on #3533
@bug-hunt-helper help

[2020-01-29 05:35] yoution commented on #3494
@maxceem  https://github.com/appirio-tech/react-components/pull/349 please review

[2020-01-29 05:43] codejamtc opened #3535 "Application & Website sub-title has dummy data"
![image](https://user-images.githubusercontent.com/42398485/73331181-9db17800-4228-11ea-97c7-5b3f0227e093.png)

1. Open the Application and Login as a valid user (Manager)
2. Go to Dashboard > All Projects
3. Click + New Project > View Solutions >
4. Check the Sub-Title of Application & Website

**Actual:** Application & Website sub-title has dummy data

**Expected:** Should not proper sub-title

[2020-01-29 05:45] vikasrohit commented on #3464
Agreed with @maxceem and I have also got confirmation from product managers as well. We are good with current behaviour i.e. no logical filtering of shared with column and it would be doing literal filtering.

@nithyaasworld it would be great if you can create a separate issue for that enhancement.

[2020-01-29 05:47] codejamtc opened #3536 "Solution and On Deman icons are different from the design"
![image](https://user-images.githubusercontent.com/42398485/73331152-85415d80-4228-11ea-9ca1-fb50c643407f.png)

1. Open the Application and Login as a valid user (Manager)
2. Go to Dashboard > All Projects
3. Click + New Project

**Actual:** Solution and On Deman icons are different from the design

**Expected:** Should match with the design
https://marvelapp.com/cc9e4j1/screen/65344038

**Environ

[2020-01-29 05:49] maxceem commented on #3486
@nithyaasworld this is now fixed for SSO login too. It can be tested now on DEV.

[2020-01-29 05:51] codejamtc commented on #3535
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 05:51] codejamtc commented on #3536
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 05:52] codejamtc opened #3537 "Analytics & Data Science sub-title has dummy data"
![image](https://user-images.githubusercontent.com/42398485/73331382-32b47100-4229-11ea-9079-2b5a0f8850d3.png)

1. Open the Application and Login as valid user (Manager)
2. Go to Dashboard > All Projects
3. Click + New Project > View Solutions >
4. Check the Sub-Title of Analytics & Data Science

**Actual:** Analytics & Data Science sub-title has dummy data

**Expected:** Should not proper sub-tit

[2020-01-29 05:52] codejamtc commented on #3537
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 05:54] codejamtc opened #3538 "No proper message if there are no matching results"
![image](https://user-images.githubusercontent.com/42398485/73331443-6bece100-4229-11ea-8120-6fe16df072a6.png)

1. Open the Application and Login as valid user (Manager)
2. Go to Dashboard > All Projects
3. Click + New Project > View Solutions
4. Enter 'sadkjasdlkjsadlksjadlkasjdsad' to search field > Search

**Actual:** No proper message if there are no matching results

**Expected:** Should disp

[2020-01-29 05:54] codejamtc commented on #3538
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 05:58] codejamtc opened #3539 "Deleting the Search keyword from the field won't reset the search result"
https://www.screencast.com/t/QonaFJZHFc

1. Open the Application and Login as a valid user (Manager)
2. Go to Dashboard > All Projects
3. Click + New Project > View Solutions >
4. Enter 'abcd' to search field > Search
5. Delete the 'abcd' (You can see Search button is disabled now)

**Actual:** Deleting the Search keyword from the field won't reset the search result

**Expected:** Should display t

[2020-01-29 05:58] codejamtc commented on #3539
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P2

[2020-01-29 05:58] FarazKhan opened #3540 "Quality assurance options in application are different than those preent in design"
### Expected behavior
Quality assurance project options should be similar to ones present in design
### Actual behavior
Quality assurance project options are different than ones specified in design
### Steps to reproduce the problem
1. Login to the app as co-pilot
2. Click on new project -> view solutions
3. Observe options available for quality assurance

### Screenshot/screencast
Attach or link

[2020-01-29 05:59] FarazKhan commented on #3540
@bug-hunt-helper add label: BugHunt, Functional, P1

[2020-01-29 06:01] FarazKhan commented on #3540
@bug-hunt-helper add label: BugHunt_JanRelease

[2020-01-29 06:01] varun22303270 opened #3541 "User is able to click on Show/Hide button even when it is disabled"
### Expected behavior
User should not be able to click on Show/Hide button when it is disabled

### Actual behavior
User is able to click on Show/Hide button even when it is disabled

### Steps to reproduce the problem
1. Go to https://connect.topcoder-dev.com/
2. Click on Login button
3. Click on Show button next to Password field and observe

### Screenshot/screencast
Attach or link a resource.

[2020-01-29 06:01] vikasrohit commented on #3452
Yes, page refresh is needed get that reflected. We would enhance this in next release to get it reflected immediately after inviting the person because it would take some extra API calls to fetch the required information which might slow down the process.
@nithyaasworld Can you please log a separate enhancement issue for that?

[2020-01-29 06:03] varun22303270 commented on #3541
@bug-hunt-helper add label: Functional

[2020-01-29 06:07] FarazKhan opened #3542 "SELECT BUDGET OR TALENT PROJECTS heading has dummy data"
### Expected behavior
Application should have proper data
### Actual behavior
Application has dummy data.

### Steps to reproduce the problem
- Login to the app as co-pilot
- Click on new project -> on demand
- Observe data below 'SELECT BUDGET OR TALENT PROJECTS'

### Screenshot/screencast
![image](https://user-images.githubusercontent.com/2743246/73332060-ac7d4680-428b-11ea-9fc2-f3cf22e16ecf.png

[2020-01-29 06:07] FarazKhan commented on #3542
@bug-hunt-helper add label: BugHunt_JanRelease, FUnctional, P1

[2020-01-29 06:07] FarazKhan commented on #3542
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 06:09] FarazKhan commented on #3540
@bug-hunt-helper remove label: Functional

[2020-01-29 06:09] FarazKhan commented on #3540
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P1

[2020-01-29 06:10] FarazKhan commented on #3540
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 06:10] FarazKhan commented on #3540
@bug-hunt-helper remove label: UI

[2020-01-29 06:10] FarazKhan commented on #3542
@bug-hunt-helper remove label: Functional

[2020-01-29 06:10] FarazKhan commented on #3542
@bug-hunt-helper add label: UI

[2020-01-29 06:17] codejamtc opened #3543 "[Commom for all projects] UI issue on all the option buttons after user selected it"
![image](https://user-images.githubusercontent.com/42398485/73332542-a906a280-422c-11ea-99fa-ac19c6bc9111.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click Real World Testing
4. Select an any option button from the 'Do you have test cases written?*'

**Actual:** UI issue on all the option buttons after user selected it

**Expected:** Should

[2020-01-29 06:19] codejamtc commented on #3543
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 06:27] codejamtc opened #3544 "Previous project name/Description are retained when user goes to another project"
https://www.screencast.com/t/UWZ1yic11

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click Real World Testing
4. Enter all the details
5. Click Back
6. Click Performance Testing

**Actual:** Previous project name/Description are retained when user goes to another project

**Expected:** Should reset the data

**Environment:** HP Pavilion x360 14 in

[2020-01-29 06:27] codejamtc commented on #3544
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P2

[2020-01-29 06:34] maxceem commented on #3452
@vikasrohit I'm sorry for the late reply. We have this covered already, it would work now. The fix has been deployed to DEV.

@nithyaasworld This is ready for testing fully including the case mentioned above https://github.com/appirio-tech/connect-app/issues/3452#issuecomment-579282810

[2020-01-29 06:36] CreeyaSean opened #3545 "Dummy Text found >> Solution Page"
### Expected behavior
The readable text should be present.

### Actual behavior
Dummy unreadable text is present.

### Steps to reproduce the problem
- Login as Connect Manager.
-GO to the URL https://connect.topcoder-dev.com/new-project/scoped-solutions
- Go to the  APPLICATIONS & WEBSITES section and observe the small text appear below the header.

### Screenshot/screencast
<img width="468" alt=

[2020-01-29 06:38] CreeyaSean commented on #3545
@bug-hunt-helper add label: Label UI, Label P3

[2020-01-29 06:41] maxceem commented on #3423
@nithyaasworld The Project Service on DEV has been updated. This issue can be tested now.

[2020-01-29 06:41] codejamtc opened #3546 "Header Background UI issue"
![image](https://user-images.githubusercontent.com/42398485/73333674-241d8800-4230-11ea-9d22-62f742dd66e5.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click '(User) Design, Development & Deployment' > Select
4. Enter all the details
5. Click Back
6. Click Performance Testing

**Actual:** Header Background UI issue

**Expected:** Should incre

[2020-01-29 06:42] codejamtc commented on #3546
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 06:42] maxceem commented on #3496
@nithyaasworld The Project Service on DEV has been updated. This issue can be tested now.

[2020-01-29 06:45] codejamtc opened #3547 "* symbol of the 'What do you need?' title UI issue"
![image](https://user-images.githubusercontent.com/42398485/73333809-91311d80-4230-11ea-9f4b-dc8ec72f5d1b.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click '(User) Design, Development & Deployment' > Select
4. Fill required data > Next (App Definition)

**Actual:** * symbol of the 'What do you need?' title UI issue

**Expected:** Should dis

[2020-01-29 06:45] codejamtc commented on #3547
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 06:46] Shabana3195 opened #3548 "Loader Issue - QA Service - Redirecting to incorrect page"
### Expected behavior
User should get redirected to the Learn more page of each Topcoder's.

### Actual behavior
It is getting redirected to Connect App - My Project page.

### Steps to reproduce the problem
- Login Connect App.
- Click on 'New Project'
- Click on Solution
- Scroll down the page till 'QA Service.
- Link : https://connect.topcoder-dev.com/new-project/scoped-solutions
### Screenshot

[2020-01-29 06:46] akultalwar89 opened #3549 "Button clickable - nothing happens"
Expected behavior
Button should be clickable or something should happen

Actual behavior
Nothing is happening

Steps to reproduce the problem
Login to the app as Manager
Click on new project ->
Observe the button with lines in the screen shot
Screenshot/screencast

i
![Screen Shot 2020-01-29 at 12 14 16 PM](https://user-images.githubusercontent.com/57220292/73333887-2b28b280-4291-11ea-9889-0c0bdeb

[2020-01-29 06:48] akultalwar89 commented on #3549
Label - cant edit

BugHung_Janrelease
P3
Functional

[2020-01-29 06:48] codejamtc opened #3550 "[Common] UI issue in the popup messages"
![image](https://user-images.githubusercontent.com/42398485/73333990-08ff4800-4231-11ea-8baa-198b2b917cba.png)

**This is a common issue for most of the popups on all projects**

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click '(User) Design, Development & Deployment' > Select
4. Fill the required data > Next (App Definition)
5. Click 'What wor

[2020-01-29 06:49] codejamtc commented on #3550
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 06:49] maxceem commented on #3545
Hi @CreeyaSean to make the bot assign correct labels, please, add a new comment with the correct list of labels instead of editing the previous comment. `bug-hunt-helper` only works when a comment is added.

Thank you.

[2020-01-29 06:49] CreeyaSean opened #3551 "Save Button is Inactive while the file is uploaded."
### Expected behavior
The save button should be active to proceed further.

### Actual behavior.
The Save button is still inactive.

### Steps to reproduce the problem
- login as manager
- click on project
- click on QA phase and Select specification
- drag and drop .txt file
- observe the save button.

### Screenshot/screencast
Attach or link a resource
![DIsable save button](https://user-images.

[2020-01-29 06:50] Shabana3195 commented on #3548
@bug-hunt-helper help:

Can you please upload this screenshot:

![image](https://user-images.githubusercontent.com/60418973/73333947-4a274480-4291-11ea-94ed-92bffe804b4b.png)

And

labels: Functional, P2.

[2020-01-29 06:50] vikasrohit commented on #3466
@lakshmiathreya It was discussed in our standup call and it turned out that PM meant the standard meaning of modified date. The word `accessed` caused the confusion. Reiterating, the scope of the issue reduced to the column rename and just make sure that we are showing the Modified Date in that column.

[2020-01-29 06:53] Shabana3195 commented on #3548
Hi :

Add label

@bug-hunt-helper add label: Functional, P2, BugHunt_JanRelease

Can you please upload this screenshot: As I'm unable to upload it

![image](https://user-images.githubusercontent.com/60418973/73333947-4a274480-4291-11ea-94ed-92bffe804b4b.png)

[2020-01-29 06:56] Shabana3195 opened #3552 "Loader Issue - Redirecting to incorretct page - Analytics & Data Science"
### Expected behavior
User should get redirected to the Learn more page of each Topcoder's.

### Actual behavior
It is getting redirected to Connect App - My Project page.

### Steps to reproduce the problem
- Login Connect App.
- Click on 'New Project'
- Click on Solution
- Scroll down the page till 'Analytics & Data Science'
- Link : https://connect.topcoder-dev.com/new-project/scoped-solutions

[2020-01-29 06:57] Shabana3195 commented on #3552
Hi :

Can you please add label

@bug-hunt-helper add label: Functional, P2, BugHunt_JanRelease

[2020-01-29 06:58] akultalwar89 opened #3553 "esc test observed"
Expected behavior
esc Test should not be avialble

Actual behavior
esc Test should not be avialble

Steps to reproduce the problem
Go to App,
Login using manager credential
Click on New project
Observe the X button

Screenshot/screencast
![Screen Shot 2020-01-29 at 12 26 50 PM](https://user-images.githubusercontent.com/57220292/73334465-c706ee00-4292-11ea-91a0-606198b33b33.png)

--

Environment
OS

[2020-01-29 06:59] akultalwar89 commented on #3553
Esc test is observed in the top right with X sign.
Not a good way to show text.

Label
Bughunt_JanRelease
P1
Functional

[2020-01-29 07:02] codejamtc opened #3554 "[Common][All Checkboxes] After deselecting a checkbox; light checkmark is still displayed"
![image](https://user-images.githubusercontent.com/42398485/73334609-cc345080-4232-11ea-8422-cd3ae85a31df.png)

https://www.screencast.com/t/4Gm6h4TWsT

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click '(User) Design, Development & Deployment' > Select
4. Fill the required data > Next (App Definition)
5. Click 'What work is right for me?'

**Act

[2020-01-29 07:02] codejamtc commented on #3554
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 07:04] CreeyaSean opened #3555 "Title Heading is missing >> On Demand"
### Expected behavior
The Header should be available for the user to read it.

### Actual behavior
The App name and description is available without the heading on it.

### Steps to reproduce the problem
- Login as Manager
- Go to the OnDemand detail page.
- Select the Buy Capacity Option.
- Input the values in Name your project and Detail description Text box.
Go to the next page.

### Screenshot

[2020-01-29 07:07] akultalwar89 opened #3556 "Escape button on keyboard is not closing the window - New project"
Expected behavior
esc button on keyboard should close down the window

Actual behavior
Escape button is not working to close down the window

Steps to reproduce the problem
Go to App,
Login using manager credential
Click on New project
trying closing the Window by clicking esc button on Keyboard

Screenshot/screencast
![Screen Shot 2020-01-29 at 12 35 23 PM](https://user-images.githubusercontent.c

[2020-01-29 07:07] akultalwar89 commented on #3553
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 07:08] akultalwar89 commented on #3556
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 07:08] akultalwar89 commented on #3556
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P3

[2020-01-29 07:08] FarazKhan opened #3557 "Able to input negative numeric values for number of resources required in project"
### Expected behavior
User should not be allowed to input negative values for number of resources required

### Actual behavior
User is allowed to input and save negative values for number of resources required

### Steps to reproduce the problem
- Login to the app and select new project button
- Select 'On demand' -> 'Engage Talent'
- Fill up form with dummy data till you reach question about how

[2020-01-29 07:08] FarazKhan commented on #3557
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 07:08] akultalwar89 commented on #3556
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P3

[2020-01-29 07:09] akultalwar89 commented on #3549
@bug-hunt-helper add label: BugHunt_JanRelease, Functional,  P3

[2020-01-29 07:09] Shabana3195 opened #3558 "Content Displayed are not aligned properly - UI"
### Expected behavior
The displayed UI should be aligned properly.

### Actual behavior
The displayed UI is not aligned properly.

### Steps to reproduce the problem

- Login Connect App.
- Click on 'New Project'
- Click on Solution
- Select Data Visualization
- Fill the below details as per the below screenshots provide.

### Screenshot:

![image](https://user-images.githubusercontent.com/6041897

[2020-01-29 07:10] Shabana3195 commented on #3558
Hi :

Add label

@bug-hunt-helper add label: UI, P3, BugHunt_JanRelease

[2020-01-29 07:10] CreeyaSean opened #3559 "Inconsistent Word in View Solution button compare to Marvel app design"
### Expected behavior
On Demand Detail button should be as "Create Project" as shown in Marvel app.

### Actual behavior
The Create Project is been seen as "View Solution".

### Steps to reproduce the problem
- Login as Manager.
- Click on Create New Project..
- Observe the button under On-demand section and compare with Marvel app design..

### Screenshot/screencast
Attach or link a resource.
<im

[2020-01-29 07:12] codejamtc opened #3560 "'Data Science Ideation' page will display a description, but it won't have a description field"
https://www.screencast.com/t/03BnxnHhcO

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click 'Data Science Ideation' > Select
4. Enter Name and Code > Next > Back
5. Click 'Data Visualization' > Select
6. Enter Name and Description > Next > Back
7. Click 'Data Science Ideation' > Select > Next

**Actual:** 'Data Science Ideation' page will display

[2020-01-29 07:14] vikasrohit commented on #3513
Thanks @maxceem. I liked the increased icons on the first step but yes, on the second step they are looking bit odd. I even tried to create that weird oval shape around the icons, using the css shared by the designers, but not able to create that exactly. What kind of space around icons, you are thinking we can create?

[2020-01-29 07:16] vikasrohit commented on #3452
Great!! Thanks @maxceem for the super fast turn around.

[2020-01-29 07:22] akultalwar89 opened #3561 "Text overlapping on All project page"
Expected behavior
Text shouldnot over lap, even image is overlapping

Actual behavior
text and image overlapping

Steps to reproduce the problem
Login to the app as Manager
Click on  All project ->
Observe the Text overlapping

screenshot
![Screen Shot 2020-01-29 at 12 50 17 PM](https://user-images.githubusercontent.com/57220292/73335714-23b7d800-4296-11ea-941d-289e8d2a7ae3.png)

Environment
OS: M

[2020-01-29 07:22] FarazKhan opened #3562 "No Validation on Project Name length"
### Expected behavior
Describe.

### Actual behavior
There is no validation on project name length. User gets a 'Something went wrong' error upon final submission but that is not intuitive

### Steps to reproduce the problem
- Login to the app and select new project button
- Select 'On demand' -> 'Engage Talent'
- Fill up form with dummy data and in 'Name your project field', insert very long dumm

[2020-01-29 07:22] akultalwar89 commented on #3561
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P3

[2020-01-29 07:22] FarazKhan commented on #3562
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 07:22] CreeyaSean opened #3563 "Copilot Notification didnot popup."
### Expected behavior
The copilot should get the notification once he gets invited to the project.

### Actual behavior
Copilot didn't get the notification after inviting to the project.

### Steps to reproduce the problem
- Login as manager
- select a project
- click on manage in the left nav bar
- add copilot and send an invite
- login as copilot and click on the notification bell icon
- observe

[2020-01-29 07:23] vikasrohit commented on #3534
That is interesting question @nithyaasworld

[2020-01-29 07:23] codejamtc opened #3564 "Server error 500 > While creating a project using long project name and description"
![image](https://user-images.githubusercontent.com/42398485/73335774-e28fdb80-4235-11ea-87d4-6f3ce61c627c.png)

https://www.screencast.com/t/GkuuGsJjYln

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click 'Data Visualization' > Select
4. Enter long text to the Name and Description
5. Fill all the other textboxes with long texts
6. Create the proje

[2020-01-29 07:25] Shabana3195 opened #3565 "Save My Project - Unable to click the button"
### Expected behavior
User should able to save the save the project after clicking on 'Save my project'.

### Actual behavior
Unable to save the project

### Steps to reproduce the problem

- Login Connect App.
- Click on 'New Project'
- Click on On Demand
- Enter the fields displayed
- Click on next
- Select Quality Assurance and click on next
- Select the budget capacity and click on next
- Clic

[2020-01-29 07:25] Shabana3195 commented on #3565
@bug-hunt-helper add label: Functional, P1, BugHunt_JanRelease

[2020-01-29 07:28] codejamtc opened #3566 "UI issue on the sliders"
![image](https://user-images.githubusercontent.com/42398485/73336133-a1e49200-4236-11ea-95d9-21ab8be7d010.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions
3. Click 'Performance Testing' > Select

**Actual:** UI issue on the sliders

**Expected:** Should display the controllers properly

**Environment:** Sony Xperia X Compact F5321 | Android_8.0
**B

[2020-01-29 07:29] CreeyaSean opened #3567 "Escape [esc] key stroke is not function in Mac OS."
### Expected behavior
The esc keyboard should close the window after hitting it.

### Actual behavior
After pressing the Esc button in the keyboard, the window is not getting close.

### Steps to reproduce the problem
- Login as Manager.
- Go to the On-Demand section.
- Fill the required fields to create a new project.
- Submit the Create Project button.
- The congratulation window pops-up.
- Pres

[2020-01-29 07:30] SathyaJayabal commented on #3551
@CreeyaSean Please use the comments section to add the labels and not the description.
Please update any of your other issues also with the correct label.

[2020-01-29 07:37] codejamtc opened #3568 "[$10] [Common to all projects] Title and Description UI issue"
![image](https://user-images.githubusercontent.com/42398485/73336595-d6a51900-4237-11ea-84ac-183144626362.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > On Demand > Buy Capacity
3. Click 'Performance Testing' > Select
4. Enter 'dasdasdsadasdasdafsdfdsdsgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg' for all 3 fields

[2020-01-29 07:37] codejamtc commented on #3568
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 07:38] akultalwar89 opened #3569 "headings should be aligned in one line"
Expected behavior
Alignment issue on Project Table

Actual behavior
Alignment Issue is seen

Steps to reproduce the problem
Login to the app as Manager
Click on All project ->
Observe the text alignment

### Screenshot/screencast
![Screen Shot 2020-01-29 at 1 06 06 PM](https://user-images.githubusercontent.com/57220292/73336621-4e0a9500-4298-11ea-9b6a-1991ff9a23d0.png)
![Screen Shot 2020-01-29 at

[2020-01-29 07:38] akultalwar89 commented on #3569
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 07:42] CreeyaSean commented on #3567
Label:
@bug-hunt-helper help
@bug-hunt-helper add label: Label Name Functional, Label Name P1

[2020-01-29 07:47] akultalwar89 opened #3570 "Error message displayed wrong with , in text"
Expected behavior
Please provide project name

Actual behavior
Please , provide proejct name

Steps to reproduce the problem
Login to the app as Manager
Click on New  project ->
Clicking on view solution
go to add project name

### Screenshot/screencast
![Screen Shot 2020-01-29 at 1 16 06 PM](https://user-images.githubusercontent.com/57220292/73337122-b60dab00-4299-11ea-9301-4f28e0289d66.png)

--

[2020-01-29 07:48] akultalwar89 commented on #3570
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 07:48] akultalwar89 commented on #3570
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P3

[2020-01-29 07:48] CreeyaSean commented on #3567
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 07:52] codejamtc opened #3571 "Skill dropdown is partially hidden"
![image](https://user-images.githubusercontent.com/42398485/73337468-01906c80-423a-11ea-84c0-60ddb9976025.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > On Demand > Engage Talent
3. Go to 'Your Talent Requirements'
4. Click on 'What skills are important for your team to have?*' field

**Actual:** Skill dropdown is partially hidden

**Expected:** Should ope

[2020-01-29 07:52] codejamtc commented on #3571
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 07:53] CreeyaSean opened #3572 "The Text is getting overlap in Oldest first filter option."
### Expected behavior
The am/pm should display properly.

### Actual behavior
The am/pm has been overlapped. .

### Steps to reproduce the problem
- login as Copilot Manager
- Create new Project. .
- GO to the Project List.
- Click the Oldest First Filter and observe

### Screenshot/screencast
Attach or link a resource.
![overlap2](https://user-images.githubusercontent.com/57211549/73337311-24536d

[2020-01-29 07:54] CreeyaSean commented on #3572
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P1

[2020-01-29 07:54] CreeyaSean commented on #3563
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 07:55] CreeyaSean commented on #3559
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P1

[2020-01-29 07:55] CreeyaSean commented on #3551
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 07:56] CreeyaSean commented on #3545
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P1

[2020-01-29 08:04] codejamtc opened #3573 "UI issue in the 'I'm not using anything, but would love a recommendation' answer"
![image](https://user-images.githubusercontent.com/42398485/73338180-a2cbf280-423b-11ea-807e-28d0d8deecd0.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > On Demand > Engage Talent
3. Go to 'Are you using a specific tool to manage work?*' > 'I'm not using anything, but would love a recommendation' answer

**Actual:** UI issue in the 'I'm not using anything,

[2020-01-29 08:04] codejamtc commented on #3573
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 08:09] akultalwar89 opened #3574 "Icons overlapping with Text, It should only show icons instead of text"
Expected behavior
View All projects - Last Updated should not overlap with comments, should be over it

Actual behavior
Overlapping with other tiles or headings

Steps to reproduce the problem
Login to the app as Manager
Click on All project ->
Click on Last Updated
It overlaps the tiles.

Screenshot -
![Screen Shot 2020-01-29 at 1 37 03 PM](https://user-images.githubusercontent.com/57220292/73338

[2020-01-29 08:09] akultalwar89 commented on #3574
@bug-hunt-helper add label: BugHunt_JanRelease, Functional,

[2020-01-29 08:09] maxceem opened #3575 "Inlined SVG files got broken (empty, blank)"
Follow up from https://github.com/appirio-tech/connect-app/issues/3407#issuecomment-579529858 issue number 2.

If SVG file uses ids for `mask` and/or for `defs` such ids may get collied because SVG files are inlined and ids inside SVGs are global for the whole HTML.

For example, we have an issue that the same icon first time is shown good:

![image](https://user-images.githubusercontent.com/14601

[2020-01-29 08:12] CreeyaSean opened #3576 "[$15] Esc button is hidden blocking it's functionality."
### Expected behavior
Ecs button should be seen and should function well.

### Actual behavior
The esc button is hidden and not letting to click on it..

### Steps to reproduce the problem
- Login and Manager.
- GO to the OnDemand detail page.
- Add the required field to create a project.
- GO to Project Dashboard.
-  Click on Add New Phase under Dev Iteration.
- Observe the esc button placement.

[2020-01-29 08:12] CreeyaSean commented on #3576
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 08:18] CreeyaSean opened #3577 "Connect Home button is not visible clearly and the logo is missing."
Expected behavior
connect logo Home button should be visible with it's logo.

Actual behavior
The connect home button is hidden and the logo is not seen.

Steps to reproduce the problem
- Login and Manager.
- GO to the OnDemand detail page.
- Add the required field to create a project.
- GO to Project Dashboard.
- Click on Add New Phase under Dev Iteration.
- Observe the connect home button placem

[2020-01-29 08:18] CreeyaSean commented on #3577
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P2

[2020-01-29 08:28] CreeyaSean commented on #3555
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 08:30] akultalwar89 opened #3578 "Project Details are copied over to Application/Website as well"
Expected behavior
project details entered should not get copied in Application website details

### Actual behavior
It is copying everything written in project name, description to Application websites as well..

Steps to reproduce the problem
Create a new project
select  View solution
Enter Project details in any option
click back, Scroll down to the applications/websites .
Observe the text writt

[2020-01-29 08:30] akultalwar89 commented on #3578
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P2

[2020-01-29 08:37] codejamtc opened #3579 "Copy links/Go to project dashboard buttons are too close to the bottom border"
![1](https://user-images.githubusercontent.com/42398485/73340405-4919f700-4240-11ea-9799-a7a8adda76e9.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > On Demand > Engage Talent
3. Fill all the mandatory data > Create a Project

**Actual:** Copy links/Go to project dashboard buttons are too close to the bottom border

**Expected:** Should have small padding f

[2020-01-29 08:37] codejamtc commented on #3579
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 08:42] CreeyaSean opened #3580 "Update Milestone button is Inactive after the valid data has been entered."
### Expected behavior
All the values entered should activate the Update Milestone Button.

### Actual behavior
When the value 7 been entered the Update Milestone button gets disabled. However, if we input any other value apart from 7 then the update milestone button gets enables.

### Steps to reproduce the problem
- Login and Manager.
- GO to the OnDemand detail page.
- Add the required field to

[2020-01-29 08:42] CreeyaSean commented on #3580
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 08:45] codejamtc opened #3581 "'How many test cases do you need?*' question is displayed even though user didn't select anything from the 'What do you need us to help you with?*'"
![image](https://user-images.githubusercontent.com/42398485/73340983-54b9ed80-4241-11ea-9948-7dce44181279.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions > QA Services
3. Click Next
4. Select 'Structured Testing (Test Case Creation and/or Execution)'
5. Check the last question

**Actual:** 'How many test cases do you need?*' question is displayed

[2020-01-29 08:45] codejamtc commented on #3581
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P2

[2020-01-29 09:00] vikasrohit commented on #3526
@maxceem this issue is happening because we are not updating the `lastActivityAt` field on file upload and link creations?

[2020-01-29 09:01] vikasrohit commented on #3322
Thanks @maxceem. I guess the remaining problem now is about showing/hiding the red cue against specific file/link right?

[2020-01-29 09:07] CreeyaSean opened #3582 "Button Save Changes disable after the file is uploaded in the Specification tab."
### Expected behavior
Describe.

### Actual behavior
"Save changes" button is still disable even after the file has been uploaded. .

### Steps to reproduce the problem
- Login and Manager.
- GO to the OnDemand detail page.
- Add the required field to create a project.
- GO to Project Dashboard.
- Click on Add New Phase under Dev Iteration.
- Go to the Specification Tab.
- Upload the file in the b

[2020-01-29 09:07] CreeyaSean commented on #3582
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 09:07] codejamtc opened #3583 "Structured Testing > Test Case creation project timeline dates are not visible"
![image](https://user-images.githubusercontent.com/42398485/73342559-6fda2c80-4244-11ea-95de-50e4820b6560.png)

https://www.screencast.com/t/rP7ArMAe

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions > QA Services
3. Click Next
4. Select Structured Testing > Test Case Execution > Up to 150 test cases
5. Click Next
6. Select mandatory data > Next > Next
7

[2020-01-29 09:07] codejamtc commented on #3583
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P2

[2020-01-29 09:08] maxceem commented on #3575
This is actually a part of https://github.com/appirio-tech/connect-app/issues/3407#issuecomment-579529858.
I've logged this issue separately, so it would be easier to find it if we have similar issues in the future.

[2020-01-29 09:09] maxceem commented on #3407
@nithyaasworld Visual Issues 2, 3, 4, 5 are fixed and ready for review on DEV.

@RishiRajSahu what do you think regarding 1?

[2020-01-29 09:14] maxceem commented on #3322
Right, the initial issue is solved.

[2020-01-29 09:14] codejamtc opened #3584 "User can go to the next page without selecting an answer to the 'How many test cases do you need?*'"
![image](https://user-images.githubusercontent.com/42398485/73343009-6604f900-4245-11ea-8439-04e3a92d8561.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions > QA Services
3. Click Next
4. Select Structured Testing > Test Case Execution > Up to 150 test cases
5. Click Next
6. Expand the 'Work Required' field > Deselect 'Test Case Execution' and select

[2020-01-29 09:14] codejamtc commented on #3584
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P2

[2020-01-29 09:15] CreeyaSean opened #3585 "Double Scroll Bar is present in Business phone text field under setting Page."
### Expected behavior
A single scroll bar should be present.

### Actual behavior
Double scroll bar section being appeared in the Business phone category text field..

### Steps to reproduce the problem
- login with manager credentials
- Click on My profile
- Click on the setting .
- Click on business phone country select drop drown
- Observe the scroll bar for business phone pop up window..

###

[2020-01-29 09:15] CreeyaSean commented on #3585
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 09:17] maxceem commented on #3513
I mean to keep the icon size as it was before. But just add white space around. Actually to make it the same as in design, but without a stylish background, so instead of the background, there would be just a white space.

[2020-01-29 09:19] Shabana3195 opened #3586 "Last Update Column -"
### Expected behavior
Time & Date and Last Update User name should be displayed without overlapped

### Actual behavior
Time & Date and Last Update User name displayed get overlapped

### Steps to reproduce the problem
- Login Connect App as Manager
- Navigate to My projects page
- Scroll down the page
- Observe Last Update Time and User name lapped

### Screenshot:

![image](https://user-images.g

[2020-01-29 09:20] Shabana3195 opened #3587 "Last Update Column - Time & Date and User name is overlapped"
### Expected behavior
Time & Date and Last Update User name should be displayed without overlapped

### Actual behavior
Time & Date and Last Update User name displayed get overlapped

### Steps to reproduce the problem
- Login Connect App as Manager
- Navigate to My projects page
- Scroll down the page
- Observe Last Update Time and User name lapped

### Screenshot:

![image](https://user-images.g

[2020-01-29 09:21] Shabana3195 commented on #3587
@bug-hunt-helper add label: UI, P3, BugHunt_JanRelease

[2020-01-29 09:22] Shabana3195 commented on #3586
By mistake two times it got updated. So I'm closing the issue with comments.

[2020-01-29 09:22] #3586 closed

[2020-01-29 09:25] codejamtc opened #3588 "Large gap displayed in between the fields"
![2](https://user-images.githubusercontent.com/42398485/73343874-f2fc8200-4246-11ea-823f-dfbbe6873eaa.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions > QA Services
3. Click Next
4. Select Automated Testing > Up to 50 test cases
5. Click Next
6. Fill all the mandatory fields > Next

**Actual:** Large gap displayed in between the fields

**Expected:

[2020-01-29 09:25] codejamtc commented on #3588
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 09:31] CreeyaSean opened #3589 "Draft Icon is showing a different behaviour of expanding and collapsing."
### Expected behavior.
The Draft button should not do the collapse/expand function.

### Actual behavior
While clicking on Draft Icon it is letting the text to expand and collapse.

### Steps to reproduce the problem
- Login and Manager.
- GO to the OnDemand detail page.
- Add the required field to create a project.
- GO to Project Dashboard.
- Click on Add New Phase under Dev Iteration.
- Click o

[2020-01-29 09:32] CreeyaSean commented on #3589
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1.

[2020-01-29 09:32] codejamtc opened #3590 "'What is right for me?' popup window has a scrollbar"
![image](https://user-images.githubusercontent.com/42398485/73344420-f6dcd400-4247-11ea-94d2-88b249cae0e5.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions > QA Services (23-08-2019)
3. Fill all the mandatory fields > Next
4. Click 'What is right for me?'

**Actual:** 'What is right for me?' popup window has a scrollbar

**Expected:** No need of a s

[2020-01-29 09:32] codejamtc commented on #3590
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 09:38] codejamtc opened #3591 "[Common - Whole app] Delete icon used to collapse the expanded field is not displayed"
![image](https://user-images.githubusercontent.com/42398485/73344900-b6ca2100-4248-11ea-8973-54f17efdb041.png)

1. Open the Application and Login as valid user (Manager)
2. Click + New Project > Solutions > QA Services (23-08-2019)
3. Fill all the mandatory fields > Next
4. Fill all the mandatory fields > Next
5. Expand a collapsed field

**Actual:** Delete icon used to collapse the expanded field

[2020-01-29 09:38] codejamtc commented on #3591
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P3

[2020-01-29 09:43] CreeyaSean opened #3592 "The Dollor field is accepting invalid values in Paid to Date field."
### Expected behavior
The Dollar field should accept only integer values..

### Actual behavior
Invalid, Junk values are being accepted in Paid to Date field(US$).

### Steps to reproduce the problem
- Login as manager
- Go to solutions and select Analytics and data science
- select data visualization
- select create a new design (from $25000 appears)
- create a project and save
- click on open pr

[2020-01-29 09:43] CreeyaSean commented on #3592
@bug-hunt-helper add label: BugHunt_JanRelease, Functional, P1

[2020-01-29 09:44] SathyaJayabal commented on #3541
@varun22303270 please apply all relevant labels

[2020-01-29 09:45] kalindipandey opened #3593 "Solution and On Demand have buttons with different text from the design"
### Expected behavior
The text on the button below the Solutions and On-Demand tabs should be same
[](https://marvelapp.com/cc9e4j1/screen/65344038)
### Actual behavior
The text on the button below the Solutions and On-Demand tabs is different
### Steps to reproduce the problem
1. Open the Application and Login as a valid user (Copilot)
2. Go to Dashboard > All Projects
3. Click on "+ New Project"

[2020-01-29 09:53] CreeyaSean opened #3594 "In proper alignment of Duration and Progress field."
### Expected behavior
Describe.

### Actual behavior
The alignment of input parameter of duration and Progress is not aligned. .

### Steps to reproduce the problem
- Login as manager
- Go to solutions and select Analytics and data science
- select data visualization
- select create a new design (from $25000 appears)
- create a project and save
- click on open project
- click on Dev iteration edit

[2020-01-29 09:53] CreeyaSean commented on #3594
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P1

[2020-01-29 09:54] vikasrohit commented on #3513
Ohk, that is what we had before increasing the size of the icons, right?

I found an svg, which has similar shape, from marketing website. I have modified the colors to match something from our current palette. Let me know if we can use this.
[code]

[2020-01-29 09:54] SathyaJayabal commented on #3565
@Shabana3195 please add a video of the behaviour.

[2020-01-29 09:58] vikasrohit commented on #3322
Can we get that logged @maxceem ?

[2020-01-29 10:05] kalindipandey commented on #3593
@bug-hunt-helper add label: BugHunt_JanRelease, UI, P1

[2020-01-29 10:05] lakshmiathreya commented on #3404
@vikasrohit is this in Backlog now? In that case would like to remove the 2.5.1 milestone set for this Issue ...