[2019-05-29 08:03] maxceem commented on #3048
@vikasrohit I'm creating a spec to implement it in `tc-email-service`. As we would need to add new model, I'm thinking about the way to handle DB migrations in `tc-email-service`. So far as I see there is no migration functionality and as per code, DB is re-creted on the service run, see https://github.com/topcoder-platform/tc-email-service/blob/dev/connect/connectEmailServer.js#L42-L45

Is it how

[2019-05-29 08:13] maxceem commented on #3048
@vikasrohit another question. How would you prefer to name the endpoint? I'm thinking to keep it as general and RESTful as possible. I propose this:
[code]
with response which would be limited to `status` field only:
[code]

So in the future, we can add more fields to the response if we need.

[2019-05-29 09:42] maxceem commented on #3048
@vikasrohit question number 3.

You would like to send email as an md5, I guess we can do that tough the way feels little bit hacky and probably has not best performance.

We have an email in two places in DB and of these places are stringified `TEXT`/`STRING`, not `JSON`:
[code]
And we keep scringified array and object inside:
- `recipients` has a stringified array of emails like `["maxceem@gmail

[2019-05-29 11:03] vikasrohit opened #3067 "Need to support quantity for addons"
As of now, user can not specify the quantity of add-ons when configuring the project. We need to add support to let user choose multiple quantity per add-on and calculate the total price as per the quantity selected by user per addon.

[2019-05-29 11:29] maxceem commented on #3067
As now you've implemented pretty much the same what I was thinking about in you commit https://github.com/appirio-tech/connect-app/commit/79fc9b9ef4b0ce67e9d17abe28424afff2917531#diff-bcfd7970e8edc78f9946daa468a139a5

To be able to define it per `add-on` we should add ths `allowMultiple` property to each productTemplate object which represents add-on.

There are several ways to do it, which come t

[2019-05-30 00:52] maxceem opened #3068 "Attach files during project creation"
We should be able to attach files during project creation. We already have ability to show file uploader dialog in project creation forms, but there are two things should be improved.

1. Section type `files` should be moved to question type `files` and support read optimized mode: collapsing to the accordion as other questions types. We should keep section type `files` for backward compatibility

[2019-05-30 01:49] maxceem commented on #3038
@vikasrohit after you merged your commit, I don't come across with this issue anymore. And I see that there is no `phases` request after project creation.

[2019-05-30 01:49] #3038 closed

[2019-05-30 03:30] maxceem commented on #3067
There is some issue in the current implementation, I'm getting error when I use the template https://connect.topcoder-dev.com/new-project/subtitle and trying to choose any add-on.

![image](https://user-images.githubusercontent.com/146016/58606351-a20a4780-82cd-11e9-885f-3ff82dfded80.png)

I've made a quick fix in the next commit https://github.com/appirio-tech/connect-app/commit/eef5e38823917195b

[2019-05-30 03:49] maxceem commented on #2967
@vikasrohit before I had a concern as what to show in a Drawer project specification or project summary.

You suggested:

I've just realized, that to open this drawer we should click `Estimation component`, but the estimation component is only shown for new projects which have a summary section. Do you think we can keep the logic simple and always show a summary section Or do you think there could

[2019-05-30 05:31] vikasrohit commented on #3067
Thanks @maxceem for the fix and its good to have that fix in place. However, ideally code should not land into that place because if an addon is selected then only our logic [here](https://github.com/appirio-tech/connect-app/blob/eef5e38823917195b8635706116b220d29f350be/src/config/projectWizard/index.js#L594) would filter that addon block and if a block is filtered out, we should be able to find i

[2019-05-30 05:34] vikasrohit commented on #3067
Just made one more safe check https://github.com/appirio-tech/connect-app/commit/644c40a9e8b47628bd66889706849a29b7068c5f

[2019-05-30 05:40] maxceem commented on #2177
Here is a detailed summary regarding the implemented fix for this issue https://github.com/appirio-tech/connect-app/pull/3035#issuecomment-496351914

[2019-05-30 05:50] vikasrohit commented on #3068
@maxceem Thanks for logging it. We can take a look at message service as well to compare the approach you suggested as we recently added support for adding attachments to the posts and they have similar behaviour where we have to attach a file before post creation. It would be great if you can evaluate both approaches and let us know your thoughts.
Overall, I am inclined towards the approach you s

[2019-05-30 06:03] vikasrohit commented on #3013
@maxceem https://marvelapp.com/3h6bdfd/screen/57484265 can be reference for project status and other missing items in the new side bar.

[2019-05-30 06:22] vikasrohit opened #3070 "Project Creation Summary Screen: Show N/A when a question does not have answer"
### Expected behavior
![Screen Shot 2019-05-30 at 11 51 30 AM](https://user-images.githubusercontent.com/2417632/58612762-50fc5280-82d1-11e9-9482-9d89add92d88.png)

### Actual behavior
![Screen Shot 2019-05-30 at 11 51 38 AM](https://user-images.githubusercontent.com/2417632/58612769-58bbf700-82d1-11e9-98c7-6954275ea39c.png)

fyi @maxceem

[2019-05-30 06:28] vikasrohit opened #3071 "[Metadata Management] New Metadata object route opens the login route for some time"
### Expected behavior
It should not render the login page/route when user is already logged in.

### Actual behavior
Login page is shown for some time while user is navigated to the new metadata screen (e.g. New project type).

I have faced the issue with New project type screen as of now, but the issue might be there for other new metadata objects as well e.g. New product categories, new project/

[2019-05-30 06:30] vikasrohit opened #3072 "[Metadata Management] Add pages for managing milestone templates"
We don't have pages to manage the milestone templates which are part of our metadata objects. Need to have similar pages for them as well to enable admins manage the milestone templates from the UI.

[2019-05-31 05:47] vikasrohit commented on #3009
@maxceem bumping up for your views.

[2019-05-31 05:50] vikasrohit opened #3076 "Don't show Addons on the Add Phase catalog"
We store Addons as products with special flag (`isAddon`) being `true`. Because of this, `Add Phase` catalog shows all of the products including the addons. We should exclude the products which are add ons.

[2019-05-31 05:50] #3076 closed

[2019-05-31 10:44] vikasrohit opened #3077 "Need new form component for Skill suggestions"
New component needed for letting user select skills for their needs from the available skills.

fyi @maxceem

Detailed issue https://github.com/appirio-tech/react-components/issues/319

[2019-05-31 11:15] vikasrohit commented on #3067
Done, closing the issue.

[2019-05-31 11:15] #3067 closed

[2019-05-31 11:19] vikasrohit commented on #3070
@maxceem I have just committed [fix](https://github.com/appirio-tech/connect-app/commit/f2647172aef383699c8f46f81d16f239c4fa1cf7) for this one, could you please have a quick look to verify if that should fix it in all situations?

[2019-05-31 11:22] vikasrohit commented on #3065
Working fine. Closing.

[2019-05-31 11:22] #3065 closed

[2019-05-31 11:24] vikasrohit commented on #3059
@maxceem Do we have separate ticket for handling the front end changes for this?

[2019-05-31 11:33] vikasrohit commented on #3056
Closing. Not able to test the issue fully because member api is not returning the results for member invites. However, it seems good because server side issue is already fixed and in case of user refusing the invite, we already reload the project listing page, which is the only pending items from the related issue #3059

[2019-05-31 11:33] #3056 closed

[2019-05-31 11:34] vikasrohit commented on #3057
Working as per current requirements.

[2019-05-31 11:34] #3057 closed

[2019-05-31 11:34] vikasrohit commented on #3040
Verified.

[2019-05-31 11:34] #3040 closed

[2019-05-31 11:37] vikasrohit commented on #3020
Verified.

[2019-05-31 11:37] #3020 closed

[2019-05-31 11:41] vikasrohit commented on #3031
Verified.

[2019-05-31 11:41] #3031 closed

[2019-05-31 11:42] vikasrohit commented on #3018
Working perfect as per agreed requirements https://github.com/appirio-tech/connect-app/issues/3018#issuecomment-493815637

[2019-05-31 11:42] #3018 closed

[2019-05-31 11:43] vikasrohit commented on #3017
Verified.

[2019-05-31 11:43] #3017 closed

[2019-05-31 11:44] vikasrohit commented on #3014
Much better than earlier stage, in case we need more improvements, we will create new ticket.

[2019-05-31 11:44] #3014 closed

[2019-05-31 11:54] maxceem commented on #3077
@vikasrohit

I understand that multiple checkboxes don't work for this as there would be too many skills. So this should be some kind of a multi-select list.
The simplest way I guess would be to reuse `react-select` https://react-select.com/home.

But I'm not sure it's comfortable enough.

[2019-05-31 11:56] maxceem commented on #3059
@vikasrohit no, this ticket for both types of changes.

[2019-05-31 12:05] vikasrohit commented on #3012
@maxceem Could you please create a phase for this work in our new Connect project?

[2019-05-31 12:06] #3010 closed

[2019-05-31 12:08] vikasrohit commented on #3011
Not able to verify as member service is having troubles returning the member data. Closing the issue though as per @maxceem's verification.

[2019-05-31 12:08] #3011 closed

[2019-05-31 12:10] vikasrohit commented on #2991
@maxceem I can see that the support email link is fixed and we have a button for copying the error details. However, I didn't find any use case where the we can find the actual error details in the copied error text. I know we have to set the full error object in all places wherever we are throwing errors, to get the actual error details, still do we have any case where already have such details?

[2019-05-31 12:11] vikasrohit commented on #2991
Closing the issue though as per the original requirements and we are already tracking next requirements via #3047

[2019-05-31 12:11] #2991 closed

[2019-05-31 12:11] vikasrohit commented on #2981
Verified.

[2019-05-31 12:11] #2981 closed

[2019-05-31 12:12] vikasrohit commented on #2985
Verified.

[2019-05-31 12:12] #2985 closed

[2019-05-31 12:14] #2984 closed

[2019-05-31 12:28] #2969 closed

[2019-05-31 12:34] maxceem commented on #2991
@vikasrohit so far the full error would come only on [Project List page](http://connect.topcoder-dev.com).

To enforce this error for testing we can add a line:
[code]
to https://github.com/appirio-tech/connect-app/blob/dev/src/api/projects.js#L6

It may come for other cases, but to make sure we should verify all the cases in a separate issue https://github.com/appirio-tech/connect-app/issues/3047

[2019-05-31 12:44] maxceem commented on #3012
@vikasrohit sure. Do we already have a new Connect project? Or should I use Connect V3?

[2019-06-03 04:36] vikasrohit commented on #2991
Okay, we need to try to reproduce like real world as many errors as we can with #3047 so that we can be sure that what are the details we are able to retrieve from the errors.

[2019-06-03 04:39] vikasrohit commented on #3077
Thanks @maxceem for the inputs. We need to show checkboxes only for few frequently used skills and for rest of the skills, just use the same auto suggest textbox, used to add skills to your profile, that we are using on the member profile page in community app.

[2019-06-03 04:52] vikasrohit opened #3078 "Don't allow deletion of a project template if it is being used in any project"
@maxceem fyi, we can have it in next CF.

[2019-06-03 05:07] vikasrohit commented on #2967
I didn't get it. I mean how can we show the summary for old project?

IMO, for old projects, we might need to keep the Scope tab for old projects and don't show the summary component on the dashboard for them. If you think, we have a way to simulate the summary section for old projects, then we can better keep it on dashboard for old projects and then open the standard scope form in the drawer whe

[2019-06-03 07:05] vikasrohit opened #3079 "Disabled project templates are still rendering the form"
### Expected behavior
Disabled project templates should not render the form. Ideally they should show 404.

### Actual behavior
They have not effect as of now

fyi @maxceem

[2019-06-03 07:28] maxceem opened #3080 "Support browser back/forward buttons in the project creation wizard."
We have a project creation wizard which has `back` and `next` button. We should sync them with the browser history back/forward buttons, while URL should stay the same.

- We should be able to use the browser's `Back` button to go back
- We should be able to use the browser's `Forward` button if previously we clicked `Back` in the browser or inside the page.

There are two types of `Back` buttons

[2019-06-03 07:31] maxceem commented on #3080
@vikasrohit we have the next functionality at the moment:
- when we fill the form we can leave the page, and after we come back the form creating page again, we would the previous state would be restored from the local storage.
The question is:
1. When we restore the previous state, should `Back` button in the browser lead us through the whole process which we did `before` we left the page? Other

[2019-06-03 08:36] vikasrohit commented on #3070
Closing for now as it seems to working as expected.

[2019-06-03 08:36] #3070 closed

[2019-06-03 10:12] vikasrohit commented on #2560
Verified, working fine.

[2019-06-03 10:12] #2560 closed

[2019-06-03 10:14] #2177 closed

[2019-06-03 10:24] vikasrohit opened #3081 "Private posts are rendered after all non private posts"
@maxceem @RishiRajSahu I am not sure if this is intended and as per requirements or not.

[2019-06-03 10:38] vikasrohit commented on #2973
Verified.

[2019-06-03 10:38] #2973 closed

[2019-06-03 10:44] vikasrohit commented on #2936
Verified.

[2019-06-03 10:44] #2936 closed

[2019-06-03 10:55] vikasrohit commented on #3002
@maxceem I think we need to update the behaviour here. When I tried to invite a user, who is already invited to the project, via email (with case being different), API returned  `201` but the UI didn't say anything. I mean, if user invites only one email (with different case of already invited user), we should either convey to the user upfront that the email is already invited just like we do when

[2019-06-03 11:05] vikasrohit commented on #3000
Verified.

[2019-06-03 11:05] #3000 closed

[2019-06-03 11:14] vikasrohit commented on #2999
@maxceem do you have template where you have used the markdown?

[2019-06-03 11:21] maxceem commented on #3081
We did this as it looks so in provided designs, though I'm also not sure if it's good that new private posts come after the old public posts at the moment.

[2019-06-03 11:32] vikasrohit commented on #3009
@maxceem I am closing this issue, however, would like to get couple of things improved:
1. Support for `condition` at section level
2. As I said, I had to add condition field to every sub section of add on section to completely get rid of the intermediate summary screen despite the fact that all sub sections of the intermediate summary screen had the condition which should hide the complete sectio

[2019-06-03 11:32] #3009 closed

[2019-06-03 11:34] maxceem commented on #2999
@vikasrohit oh, we've removed them recently, though I've created a demo for you https://connect.topcoder-dev.com/new-project/subtitle - check the `What do you need?` question:

![image](https://user-images.githubusercontent.com/146016/58798928-889f2d80-8636-11e9-862d-0d89a7193fd5.png)

[2019-06-03 11:54] vikasrohit commented on #2977
Moving to backlog for now as with upcoming releases, we are going to move away from Scope tab at all, so I guess we won't have a place to show sections with headers.

[2019-06-03 12:05] vikasrohit commented on #2895
Feature is implemented and few enhancements are also done after initial change.

[2019-06-03 12:05] #2895 closed

[2019-06-03 12:10] vikasrohit commented on #2999
Thanks. I was just verifying the issue before closing. Working fine.

[2019-06-03 12:10] #2999 closed

[2019-06-03 12:32] vikasrohit commented on #2972
@maxceem I think as a customer I am not receiving notifications for phases which are still in planned state. However, I am not sure  if before this fix, were customer's receiving notification emails for the same as well?
Another thing, I noticed, is that another manager in the same project also didn't receive any notification (web/email) when I, as manager, added a new phase and updated phase's ti

[2019-06-03 12:32] #2972 closed

[2019-06-03 15:32] acshields commented on #2789
Hi @vikasrohit - We do still need to figure this one out; I have seen users try to enter several emails at once to send invites and then get frustrated when it doesn't work. Re: Matt's comments in Slack, let me/him know if you need support in working w/ the Member API to get something updated.

[2019-06-03 15:34] acshields commented on #3081
@vic-topcoder - I will let you make the final call on this one. I could understand the user benefit in either of the following scenarios:
1) Keep all discussion threads displayed in chronological (most recent discussion) order, regardless of whether they are internal or public.
2) Separating out the display of messages into two categories, interval vs. public, and displaying the messages in chrono

[2019-06-03 15:36] acshields commented on #3051
@vikasrohit @maxceem - the suggestion by maxceem seems to make sense to me ("maybe we should remember the time of the latest seen notification in the session storage, to persist the status of the red cue in between page reloads")... @vikasrohit - are there any potential consequences to this that I am not thinking of?

[2019-06-03 17:24] vic-topcoder commented on #3081
Private and public posts should not be discriminated when the feed order is created. Correct behavior is to order the threads by most recent, and split them by unread and all the rest. I would think of separating them in the future as a secondary filter on the view, but not right now.

<img width="1274" alt="Screen Shot 2019-06-03 at 10 22 09 AM" src="https://user-images.githubusercontent.com/8484

[2019-06-03 17:58] vic-topcoder commented on #3051
Yes - red dot should be used as a visual cue for "new unread messages". The bell icon uses color to show notifications - it is gray when there are no notifications, and stays white when there are notifications that have not been visited. Hope that makes sense. This is because people don't follow all notifications all the time, and they need a way to discern between new notifications and unread not

[2019-06-04 07:04] vikasrohit commented on #3081
Thanks @acshields @vic-topcoder for the input. @maxceem I think we are good now with requirements, we need not to separate the private posts from public posts and they should be displayed in their usual chronological order. So, we can include this as quick fix for next CF.
Anyway, we are improving the UI of discussions in #3012 so at that time, we would have the filter for showing only admin posts

[2019-06-04 07:05] vikasrohit commented on #2789
Yep, replied on slack.

[2019-06-04 07:34] vikasrohit commented on #3051
Thanks @vic-topcoder @acshields for the inputs.

@vic-topcoder so if my understanding is correct:

1. Bell icon is gray when there is no new notification to read
2. Bell icon is white when there is at least one unread notification
3. Bell icon has red cue, when there is at least one unread notification which not seen (we assume all new unread notifications to be seen as soon as user clicks on the

[2019-06-04 08:29] vikasrohit commented on #2966
@maxceem I think we are good with our last fix for adding some delay in fading out the red cue for Timeline tab. Now for further improvements, I guess we need inputs from product and design team to improve this process across all items in the project.
For now, I have moved it to next release, however, I don't think we are going to handle it in near future.

[2019-06-04 08:34] vikasrohit commented on #2660
Lets close this issue as the way project plan works right now with phases is going to change significantly so we have to rethink over almost all events again.

[2019-06-04 08:34] #2660 closed

[2019-06-04 08:36] vikasrohit commented on #2966
Closing this one as well, as this is one is specific to the phases which are going to have major restructuring in very near future. So, we would create new ticket to improve the indication of changes caused by new notifications, in the UI.

[2019-06-04 08:36] #2966 closed

[2019-06-04 13:56] vikasrohit commented on #3002
Verified, working fine now.

[2019-06-04 13:56] #3002 closed

[2019-06-04 17:26] vic-topcoder commented on #3051
@vikasrohit:

No, the bell icon is gray when there are NO notifications (empty)

No, the bell icon is white where there are 1+ notifications (already seen, the menu/page has been open), but the notification was not clicked

Correct

[2019-06-05 01:53] maxceem commented on #3077
@vikasrohit you mean we should combine two ways of selecting skills in one component?

Or it would be two types of questions? In one question we would let the user to choose some frequently used skills using checkboxes (this we already can do). And we would like to add the second type of questions where we can choose more skills using a suggesting textbox.

[2019-06-05 05:16] vikasrohit commented on #3077
Correct. One component would have both, checkboxes(for selecting frequently used skills) and textbox (auto suggest skills as user types). Further, I can anticipate that frequently used skills can be dynamic as well, I mean they can be determined at run time by answers to the previous questions e.g. if we have question to select the track (design/dev/qa etc) before this new component, we can use th

[2019-06-05 05:17] vikasrohit commented on #3080
Yes, we should recreate the history for the user.

[2019-06-05 05:17] maxceem opened #3085 "DraftJs Link Plugin: make all the links inside pasted text as links"
If we paste text link `text http://some-link.com text http://some-other-link.com text` the links inside such text would stay as a text, see demo video https://monosnap.com/file/t4rxTe7goJX4NtzksncHYbv4oa0k6V.

### The expected behavior:
- all links inside text should become links (primary, most important task)
- show the small popup for adding a title to the latest link in the text (secondary task

[2019-06-05 05:20] maxceem commented on #3077
@vikasrohit thanks, kind of got it :-). Will, we hardcode the list of skills inside templates? Or should we use some backend for this?

[2019-06-05 05:27] vikasrohit commented on #3077
I think we can keep them in template for now and lets see how the requirements shape up later. We need to keep skills by categories in the template. Even if we are not required to show the frequent skills by category, we can still aggregate all the category specific frequent skills to render the final list. Most probably, we have to show skills only specific to a category/track.

For the auto sugg

[2019-06-05 06:22] maxceem commented on #3077
Thanks, @vikasrohit, here is a summary for this task. Let me know if there anything you would like to adjust:
1. We hardcode skills in the template for now
2. When we show suggested or frequent skills, we show only the skills which match the previously chosen delivery types.
3. Each skill can belong to only one delivery type. Or multiple?
4. We show all the skills in one list without grouping skil

[2019-06-05 06:43] vikasrohit commented on #3077
Perfect. On the note of multiple categories per skill, I think that is
quite possible. I am okay for now if such skills are listed only once or
multiple times per category. We can go for whichever is easy for now. In
case we render such skills multiple times we can append category to each
repeatation of skill.

On Wed, Jun 5, 2019, 11:52 maxceem <notifications@github.com> wrote:

[2019-06-06 05:58] vikasrohit opened #3088 "[$60] Need to update the project type icons after new smart of forms"
For most of the new type of projects, we are showing the generic work icons
<img width="419" alt="Screen Shot 2019-06-06 at 11 25 41 AM" src="https://user-images.githubusercontent.com/2417632/59010128-db066700-884d-11e9-854d-cb0d4a203b9e.png">
We need to fix the icons to reflect the correct project type. We might need to update the icon in the catalog as well to best match the description of the n

[2019-06-06 11:41] vikasrohit opened #3089 "Handling the situation where we have multiple questions which have same field name"
This might be needed for situation where we specify different texts and options for the same field based on some other conditions. In such cases, it is removing the value of the field if any one of such questions is hidden by conditions which is normal use case in case of multiple questions having same field name situations.

[2019-06-06 11:41] vikasrohit commented on #3089
fyi @maxceem @RishiRajSahu

[2019-06-06 12:01] ajefts opened #3090 "Direct Invited Just-Registered Users to All Projects Dashboard"
**Objective:** When an unregistered user is invited to a project, then registers, they should be brought to the "All Projects" dashboard where they should then see project card(s) that they have been invited too. From here, they can click "Join Project" and access the project. This will help with the UX when unregistered users are invited to multiple projects.

<p></p>

**Requirements:**

- Once a

[2019-06-06 12:01] ajefts commented on #3090
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2221079

[2019-06-06 12:02] vikasrohit commented on #3090
Now, as per discussion in team call, now we would redirect all users to `All Projects` by default.

[2019-06-06 12:06] vikasrohit commented on #3089
Fixed via https://github.com/appirio-tech/connect-app/commit/24397b2451a63f7cf265cd4de9e52073feab0b1b

[2019-06-06 12:27] #3090 closed

[2019-06-06 12:27] vikasrohit commented on #3090
Verified on production.

[2019-06-06 12:28] vikasrohit commented on #3085
Verified on production after patch.

[2019-06-06 12:28] #3085 closed

[2019-06-07 06:41] vikasrohit commented on #3051
I am bit confused now @vic-topcoder

What I meant by `no new notification to read` is that user has marked all notifications as read explicitly or navigated to the target page/object for that notification either by clicking the notification or directly going to the page/object. We don't show read notifications anywhere, but they exists in database. So, If I understand correctly, your `NO notificat

[2019-06-07 07:33] vikasrohit opened #3097 "Project does not load when project plan (phases) is empty"
### Expected behavior
It should load project successfully even if there is project plan associated even with a `v3` project.

### Actual behavior
It infinitely shows loading icon without any error when the project template use to create project, does not have `phases` i.e. project plan specified.

[2019-06-07 11:40] vikasrohit opened #3100 "[$50] Radio group option style breaks when there is very long text for the radio group option"
![Screen Shot 2019-06-07 at 5 10 11 PM](https://user-images.githubusercontent.com/2417632/59101615-23558000-8947-11e9-9cde-c1a2c5aeb08e.png)

fyi @maxceem we can take this in our next CF

[2019-06-07 12:42] vikasrohit commented on #3097
Patched to the production and new smart scope forms updated to not have any project plan by default.

[2019-06-07 12:42] #3097 closed

[2019-06-07 17:56] vic-topcoder commented on #3051
Yes - in that case, when there ARE notification in the system, but they are SEEN, the bell icon is white

[2019-06-10 06:04] vikasrohit opened #3103 "[Metadata Management] New project template action is not working"
Unable to create new project template by clicking the `Create` button flow, however, able to duplicate an existing template and then save it. I think similar thing is happening with other metadata as well. We need to verify that all metadata can be created by `Create` button flow or duplicating existing ones.

fyi @maxceem

[2019-06-10 06:14] vikasrohit commented on #2789
Related issue in the backend https://github.com/topcoder-platform/tc-project-service/issues/246

[2019-06-10 07:40] maxceem commented on #3071
@vikasrohit it's fixed and pushed to DEV. The issue was only with the create new Project Type page.

[2019-06-10 10:41] vikasrohit commented on #3048
@maxceem for searching the information from the plain text fields `data` and `recipients`, I have some queries (I would ping you in Slack) which can help retrieving the required data relatively efficiently. I tried to find records for a specific project (from the `data` field, right now I have used first project form the `projects` array of the `data` json) and for specific email (from `recipients

[2019-06-10 11:16] vikasrohit opened #3104 "[$20] Show different appropriate text for Managers/CPs with empty project plan"
As of now we show the same message to Manager/CPs which we show to customers when their project plan is not ready (i.e. there is no phase in the plan with `planned` and above status). Till now, it worked because we never had empty project plan for Managers/CPs, however, now we do have empty project plans after fixing https://github.com/appirio-tech/connect-app/issues/3097, so we need a better mess

[2019-06-10 11:19] vikasrohit opened #3105 "Can not update the project name after creation"
In new smart scope forms, I am unable to update the project name and ref code.

fyi @maxceem @RishiRajSahu

[2019-06-10 11:20] vikasrohit commented on #3105
False alarm. 😬

[2019-06-10 11:20] #3105 closed

[2019-06-10 12:16] vikasrohit commented on #3077
@maxceem are we making API call to fetch the suggestions for the new component when user starts typing in the search box? I am unable to search skills in dev env.

[2019-06-10 12:18] vikasrohit commented on #3077
And how difficult is to move this new component to the `react-components` repo?

[2019-06-11 01:45] maxceem commented on #3077
Skills are hardcoded inside the template. So there are no API requests. It works for me on DEV https://monosnap.com/file/umQFNq92dJiHC7AL2AAr0RHdUUe9lT

Do you use my template `subtitle`? Have you chosen any deliverables?

[2019-06-11 01:50] maxceem commented on #3077
Not that difficult.
Though it depends on the [Select](https://github.com/appirio-tech/connect-app/blob/dev/src/components/Select/Select.jsx#L25) component inside Connect which, actually is a good candidate to be moved to `react-components` repo.
It also has some other connections to the Connect to detect which deliverables are selected, but I guess it could be refactored the way we provide only th

[2019-06-11 05:49] vikasrohit commented on #3077
I think we should be calling API which I mentioned in https://github.com/appirio-tech/react-components/issues/319 to search for the skills via the search box. May be we can cache  the skills in redux and pass them to the the component, if we don't want to make a search API call on every type of character as the number of skills is always going to be finite (e.g. few hundreds 100-500)

[2019-06-11 07:08] maxceem opened #3107 "[Metadata Management] Updating ProductTemplates is not correct"
ProductTemplates have a root field called `questions` instead of `sections`. But when we display them in the Metadata Editor we show their JSON with `questions` replaced with `sections`:

![image](https://user-images.githubusercontent.com/146016/59250471-f3192480-8c59-11e9-90ea-213bd74ceff9.png)

This most likely happens because of these lines https://github.com/appirio-tech/connect-app/blob/dev/s

[2019-06-11 07:29] maxceem commented on #3107
Fixed in https://github.com/appirio-tech/connect-app/commit/6f7591eabdb78c829b586e5596e0388761eac58e

fyi @vikasrohit

[2019-06-11 09:15] maxceem opened #3108 "[Metadata Management] Support form, priceConfig and planConfig versioning"
### Overview

[Recently](https://www.topcoder.com/challenges/30086308/?type=develop&noncache=true&tab=details) we've extracted `form`, `priceConfig` and `planConfig` from `ProjectTamplates` and `ProductTemplates` into separate models and implementing versioning support for them server-side.

We have to support new functionality in the **Metadata Management** tools.

Each of the new objects `Form`,

[2019-06-11 10:08] vikasrohit commented on #3107
Thanks @maxceem for catching the issue and fixing it super fast. However, for better understanding, I would like to reconfirm the issue. If I understood correctly, saving any existing template causes the actual template details (i.e. sections and subsections) saved as new `sections` field while `questions` still contains old values and our front end reads from `questions` field. Also, when we edit

[2019-06-11 10:42] maxceem commented on #3108
@vikasrohit This question regarding `revision` is also important during the rednering of templates. As I understand we should always render using only `key` and `version`, and retrieve the latest `revision`.

[2019-06-11 10:51] maxceem commented on #3107
Right.

Right, as per logic that I see, a user would always make changes to the initial version of productTemplate which was put into `questions`, but the update would be always saved to `sections` which would be always ignored and never used.

[2019-06-11 11:14] vikasrohit commented on #3108
I have couple of suggestions for the overall UI as well before coming to the point of `revision`:

1. I guess, we don't need to show the editable JSON editor on the `ProjectTemplate` and `ProductTemplate` create/edit screens. They would always use an existing version of the `planConfig`/`priceConfig'/'formConfig'. We even don't need to show the revision number of the target config object because w

[2019-06-11 11:20] maxceem commented on #3108
Thanks @vikasrohit I think our understanding of `revision` is in sync.

1. This means that we should add 3 more tabs to edit `Forms`, `PlanConfigs` and `PriceConfigs` right?

2. Should we be able to edit not the latest `version` somehow?

[2019-06-11 12:19] vikasrohit commented on #3108
1. Yes
2. Yes, and the way is that don't have `PATCH` endpoint for these new entities. Always call `POST` with version details and the backend would automatically increase the revision from the latest revision in the database while saving the new object.

[2019-06-11 12:21] vikasrohit commented on #3108
Only confusion to me in not having `PATCH` endpoint is that even when the user wants to change the non JSON fields e.g. name, key etc, we have to create new entities every time. But I think that should be okay because we would allow a very limited number of revisions e.g. 20 is my best guess for having maximum number of revisions per object in our database.

[2019-06-11 12:28] vikasrohit commented on #3107
Understood. However, as per your fix, we are not always reading `questions` from the request and rekeying it as `sections` just for editor screen i.e. there would be no `sections` key in actual JSON stored in the database, which is kind of good if we don't to break things. However, my intention is to migrate all product templates to use `sections` instead of `questions` as key in the `template` fi

[2019-06-12 02:53] maxceem commented on #3108
As per discussion should the UI be like?

![image](https://user-images.githubusercontent.com/146016/59320119-bef83f00-8cff-11e9-873e-48f69c2c7fde.png)

Maybe we should keep `version` next to the `key`. As it's like an identifier of an object same like the `key`.

- When we select any `version` we would be redirected to the page like
[code]
   Which has `key=scoped-solutions` and `version=3` inside

[2019-06-12 03:04] maxceem commented on #3107
The code which rekeys `questions` to `sections` is only for the wizard logic which is not visible to users:

![image](https://user-images.githubusercontent.com/146016/59320360-a9cfe000-8d00-11e9-9515-490766e7c5cc.png)

So this is just a technical fix which users are not aware of.

In the JSON editor, we show the actual JSON data with `questions`:

![image](https://user-images.githubusercontent.com

[2019-06-12 06:52] vikasrohit commented on #3107
Thanks @maxceem for the update. Which way do you prefer? I am inclined towards 2 as it is not very straightforward to update all product template's JSON without writing a small script for doing that. If we can do that using migration sqls, I think we can go for 1 as well.

[2019-06-12 07:31] vikasrohit commented on #3108
If UI is for the new metadata entities like `formConfig`, `phaseConfig` and `planConfig`, I think that is good to move forward. I liked the suggestion to move the version to the top and next to the key/id field.

When user select any `version`, do you think simply reloading the content would also work as we are planning for doing when user changes `revision`? If you think, redirection to specific

[2019-06-12 08:00] maxceem commented on #3108
It feels that we should have a separate URL for each `key`/`version` pair like `https://connect.topcoder-dev.com/metadata/formConfigs/app/version/3` as each of such template is kind of independent entity. Also, later, in Project and Product templates, we can add direct links to the particular template with `key`/`version`. As we wouldn't have ability to edit form, planConfig, priceConig inside pro

[2019-06-12 08:45] vikasrohit commented on #3108
Makes sense for the separate URL for key/version combo.

For revision ui, may be we can show revision always as read only text instead of a dropdown and give a small link next to it saying `See history` (just like google docs) and show a modal popup where we would show all the available revisions and against each revision give an option in form of another link, saying `load this revision` clicking

[2019-06-12 10:09] maxceem commented on #3107
@vikasrohit I prefer the 1st way. As we already have quite many logic branches depend on project/templates versions and will have more when we introduce forms, priceConfigs and planConfigs client-side. So testing all the possible cases getting harder.

I'm not sure if we can do that using only SQL, though maybe we can. Even if need to write a small Node script I would still prefer to migrate to it

[2019-06-12 10:57] vikasrohit commented on #3107
Okay, lets go with 1st and have the script ready for updating all templates. If we can think of having it documented in some way for the records, e.g. having a folder for such one way migrations, would be good for future references, however, that is not critical for now.

[2019-06-13 06:28] vikasrohit opened #3112 "[$70] [Metadata Management] New project/product type does not work when we use a deleted key"
When we try to create a new project type or product category, and enter a key which used to exists in past but not is deleted, it throws validation error. We should be able to add a new project type or product category with a key of a deleted entity.

What do you think @maxceem about this behaviour?

[2019-06-13 06:39] vikasrohit opened #3113 "[Metadata Management] No success/error message when creating product categories"
We are missing success/error toasters for product category related operations.

[2019-06-13 06:41] vikasrohit commented on #3103
Working fine in dev. Closing.

[2019-06-13 06:41] #3103 closed

[2019-06-13 10:42] RishiRajSahu commented on #2841
@maxceem approach of making the method generic is good idea. Below is my input on that -
1.yeah we can remove that
2.I am good with it but how would we know which property to read from entities ?
3.yeah we can first check for entities for project or phases, but still it has to be determined during runtime which is to be fetched, as per me its related to the answer of point `2` above
4.yep we will

[2019-06-13 12:14] maxceem commented on #3112
So this happens because we use soft-deleting (instead of deleting records we mark them as `deletedBy <= userId`). While at the same time `key` column is a primary key and should be unique.

1. The first approach is to remove primary key constrain from the `key` and add an auto-incremental `id` column as a primary key instead. The downside is that we would have to control uniqueness of the `key` us

[2019-06-14 05:12] vikasrohit commented on #3112
I think 1 is not the option to go as it requires more maintenance. For 2, I think we can make `key` + `deletedAt` + `deletedBy` as unique constraint instead of adding a new field.

On second thoughts, I realized that we should be good even with current state of application i.e. having `key` as unique constraint and don't let creation of a new record with `key` being duplicate of deleted or non del

[2019-06-14 05:36] RishiRajSahu opened #3114 "Unable to edit phase posts"
### Expected behavior
User should be able to edit/delete post made under phase discussion.

### Actual behavior
Unable to edit post made under phase discussion.

### Steps to reproduce the problem
- Add any post under any phase discussion on dev env
- try to edit the post - UI distorts and browser console shows undefined error

--

#### Environment
- OS:Any
- Browser (w/version):Any
- User role (c

[2019-06-14 05:58] RishiRajSahu commented on #3114
fixed and pushed to prod/dev via https://github.com/appirio-tech/connect-app/commit/619f21f3bdf38e49bc79980733e77d9d556f8597

[2019-06-14 05:58] #3114 closed

[2019-06-14 10:09] maxceem commented on #2841
`handler` is an optional function which can be provided inside a permissions config, but looks like we don't use it in any config https://github.com/appirio-tech/connect-app/blob/cf17/src/config/permissions.js

[2019-06-14 10:26] RishiRajSahu commented on #3050
Done and pushed to dev via https://github.com/topcoder-platform/tc-project-service/pull/311 and https://github.com/topcoder-platform/tc-notifications/pull/139 . Need to update env variables when deploying to prod.

[2019-06-16 06:30] vikasrohit commented on #3068
we need to start on this as well @maxceem

[2019-06-17 12:20] maxceem opened #3119 ""Save Changes" button is not enabled when we change project Scop"
When we change values in Scope of this project https://connect.topcoder-dev.com/projects/8103 **Save Changes** button is not got enabled.

Expected behavior: **Save Changes** button should get enabled if we make any changes to the form, and should get disabled if there are no changes in the form.

[2019-06-17 12:28] vikasrohit commented on #3068
Initial commit in 84fc58943d10a21966b329808a23f88d916bf2f0

[2019-06-18 11:13] vikasrohit commented on #3068
@maxceem @RishiRajSahu added more commits to clean up few console errors that were coming. Also, updated the template 104, to have the file section at the final summary screen so that we have to less worry about keeping files state between the wizard steps.
Only thing, that is pending theoretically is to have the ability of retaining the uploaded files for the incomplete projects i.e. if user clos

[2019-06-18 11:17] maxceem commented on #3068
@vikasrohit  I've tested it today and it works good.

The couple of things I've noticed, which I would check more precisely:
- we can drag&drop files directly to the question in which case the window to file uploading doesn't popup. I'm not sure if there are any drawbacks, but looks like there are two logics
- when uploaded two files I did something and of the files disappeared. Probably because I

[2019-06-20 04:25] maxceem commented on #3108
@vikasrohit what about the next view for the form:

![image](https://user-images.githubusercontent.com/146016/59818374-38bea700-9356-11e9-8262-f4ec6c4b2aca.png)

I'm thinking about keeping **Duplicate** button and adding **Create New Version** button.
- **Duplicate** button should turn the page to create a new entity page with the prefilled **config** and empty **key**. **Version** and **revision*

[2019-06-20 04:52] vikasrohit commented on #3108
Looks good to me. Go ahead.

[2019-06-21 10:27] maxceem commented on #3107
@vikasrohit implemented migrating product templates to use `sections` instead of `questions`.

First, migration script has to be run to Project Service https://github.com/topcoder-platform/tc-project-service/pull/317
After, PR to Connect App can be merged https://github.com/appirio-tech/connect-app/pull/3122

[2019-06-24 05:21] maxceem commented on #3013
@vikasrohit a few questions regarding the sidebar:

1. In the new design we don't show a short project description on the sidebar anymore, right?

2. In the new design, we show links to Direct ID and Lead ID. Just would like to point out that they would look like:
   `Direct ID: 18123`
   `Lead ID: 7803`
    Where **Lead ID** would be same to the project ID in Connect.

3. Is there design for the

[2019-06-24 06:37] maxceem commented on #2967
@vikasrohit we've implemented showing spec/specification or summary page in the Drawer:

![image](https://user-images.githubusercontent.com/146016/59996370-b4895e00-968c-11e9-948b-2617a09a53a2.png)

- if the project has a summary section - show summary, otherwise, show like scope/specification tab

The only thing we are suppose to show this Drawer when we click on the project estimation component.

[2019-06-24 10:15] vikasrohit commented on #2967
Thanks @maxceem Looking good from the image. I think we can show the normal Scope/Spec tab in cases where it is not possible to show the estimation component. Do you think there would be any issues with that approach?
Btw, we would confirm it with the product team as well.

[2019-06-24 10:25] vikasrohit commented on #3107
looking good. closing the issue for now.

[2019-06-24 10:25] #3107 closed

[2019-06-24 10:30] maxceem commented on #2967
@vikasrohit I'm thinking about new design where there is no `scope`/`specification` tab anymore. Should we add a new option `Scope` to the new sidebar menu to handle for such projects?

![image](https://user-images.githubusercontent.com/146016/60012283-2625d400-96ae-11e9-9f33-025830d94ac7.png)

[2019-06-24 10:38] maxceem commented on #3012
@vikasrohit

1. I guess for the content of the Drawer with posts we can use the existent view of list of posts, right?

    ![image](https://user-images.githubusercontent.com/146016/60012704-38544200-96af-11e9-975c-520647780e1d.png)

2. Not sure how to implement the editing Topic title in the new design. In old design it looks like this:

    ![image](https://user-images.githubusercontent.com/1460

[2019-06-24 10:52] maxceem opened #3123 "[Redesign] Files and Links"
While working on this issue https://github.com/appirio-tech/connect-app/issues/3013 we have to implement a new way to view/manage project files and links.

The current design we have looks like this:

![image](https://user-images.githubusercontent.com/146016/60012969-dd6f1a80-96af-11e9-9153-90ad6db8ef4a.png)

As `Files & Links` should be opened from the sidebar it is supposed to be open on the new

[2019-06-24 11:28] vikasrohit commented on #3013
1. I think we should keep the description field for now as we don't have any other place where we are showing description in new designs. It is not difficult to get rid of it if it is actually required.

2. Lead id is not the connect project id. Its the salesforce lead id and we are showing a link for that right now just below the Direct project link. However, the problem is that we don't have lea

[2019-06-24 11:31] vikasrohit commented on #2967
Yep, we have to have that backward compatibility.

[2019-06-24 11:31] maxceem commented on #3013
Should we keep then the existent UI for the status select also to keep it consistent with the non-editable state?

![image](https://user-images.githubusercontent.com/146016/60015689-a51f0a80-96b6-11e9-9e4b-ba10531cc6fb.png)

[2019-06-24 11:34] vikasrohit commented on #3012
1. Yes, existing view of the posts (along with the option to post the new post) should be reused as is.

2. I think we have to convert the buttons to icons and render them inline after the edit text box.

[2019-06-24 11:39] maxceem opened #3124 "[Metadata Management] Editing JSON in "maximized" mode doesn't update JSON in small editor"
### Expected behavior
JSON in the editor should be updated.

### Actual behavior
JSON in the editor is not updated.

### Steps to reproduce the problem
- Open any project template edit form.
- Click `Maximize` button to edit the JSON.
- Edit JSON in the `maximized` mode.
- Click `Restore` button to hide `maximized` mode.
- Observe that JSON in the small editor doesn't show changes we did in the `M

[2019-06-24 12:33] vikasrohit commented on #3123
1. I think for now we can treat links exactly same as of Files.

2. > Or should it be collapsed/expanded like now?

I didn't understand this one. Do you mean the way we are showing the links, shared in posts, in the left panel?

Yes

3. I think the element is for changing the view from list to some other view. Just like regular file manager. I don't think we need to support that for our first rele

[2019-06-24 12:59] maxceem commented on #3123
Thanks for answers.

1. yeah, but we have only one link to open tab: `Files & Links`. So how to show both files and link on one page? Mix them all together? Or show this UI two times on a page: one time for files and one time for links?

2. Your answer is what I wanted to know.

[2019-06-25 07:36] vikasrohit commented on #3013
Yes, we should keep it as is as well. However, just to double check the difference in the current and new designs of editable project status are only:
1. Color scheme
2. Grouping of project status options
3. Position of the dropdown rendered on click of dropdown header.

Right @maxceem ?

[2019-06-25 07:38] vikasrohit commented on #3123
1. for now just show two separate lists (using the same component), one for Files and another for attachments. Most probably they are going to be rendered in the tabs in the new designs.

[2019-06-25 07:41] maxceem commented on #3013
@vikasrohit right, in general CSS styles are different, in particular, they also different for the select list base:

![image](https://user-images.githubusercontent.com/146016/60078892-6e50ff00-975f-11e9-9a45-4df881db171d.png)

So, for now, we keep the existent UI:

![image](https://user-images.githubusercontent.com/146016/60078950-8cb6fa80-975f-11e9-810f-2f0e2c563410.png)

[2019-06-25 09:04] vikasrohit commented on #3077
Closing the issue as component is working fine as per current requirements.

[2019-06-25 09:04] #3077 closed

[2019-06-25 09:40] vikasrohit commented on #3068
Done and deployed to dev env.

[2019-06-25 09:40] #3068 closed

[2019-06-25 09:45] vikasrohit commented on #2970
Anything that can change the scope (price or time) of the project, should be atomic and I think we need to prevent any new change set while one is pending for approval.

Yes, scope can be reduced as well.

[2019-06-25 10:39] vikasrohit commented on #2970
@maxceem just updated the requirements with more details and rephrased for better understanding. For now, we don't have to worry about the sales process i.e. submitting scope change to the SFDC and then waiting for the approval are the things, we don't have in the scope for this task. We just need to support creating scope change request in `pending` status and then must have the ability (via API)

[2019-06-25 12:30] vikasrohit commented on #2970
My proposed solution:

1. New model/table `ScopeChangeRequest`(`scope_change_requests(id, title, description, projectId, oldScope, newScope, status, approvedBy, approvedAt, createdBy, createdAt, updatedBy, updatedAt, deletedBy, deletedAt)`). Need standard CRUD operations around this model as `/projects/{id}/scopeChanges`
2. Disable directly editing the scope questions via scope tab (we might not n

[2019-06-25 12:32] vikasrohit opened #3125 "Show the addons questions in the Scope details drawer"
When editing an existing project, we are showing(in new proposed UI) the scope details in a drawer that appears after user clicks on the estimation component on the dashboard. However, that drawer does not have option to add add-ons to the project's scope which we have while project creation.

fyi @maxceem @RishiRajSahu

[2019-06-26 05:21] vikasrohit opened #3126 "[$60] Invited users disappears when the project is updated"
### Expected behavior
Invited user list should remain as is

### Actual behavior
All invited members disappears immediately after we do any kind of project update (e.g. change in scope or status of the project)

### Steps to reproduce the problem
- Open a project which has at least one member invite
- Now, either update some question in the scope tab or just change the project's status
- Observe t

[2019-06-26 05:39] maxceem opened #3127 "Allow/disallow file uploading consistently"
Some time ago we hide showing files on the sidebar if there is no Files section at the scope page for `v3` projects. But we can also add files to the posts, which I guess should be listed on the sidebar anyway. So I’ve committed a small fix https://github.com/appirio-tech/connect-app/commit/3e761b8a68c65128122bccf632fff31e379c58bc

Let me know if such change is not desired and I’ll revert it.

Fro

[2019-06-26 05:54] maxceem commented on #3123
@vikasrohit could you please share a link to the marvel for this new design.

1. I don't see a menu for editing/deleting files/links in this design. Would there a way to edit/delete them?

2. Should we be able to sort files/links by `Type` and `Modified` column?

3. There is an `Add new...` button which seems to be common for files and links. Is there any design on how it should work?

[2019-06-26 06:03] vikasrohit commented on #3123
Unfortunately, I don't yet have the marvel link with me. Trying to get that asap, but could we just do rough estimate of the designs with the png only?

1. Lets use the ellipsis icon in a third column (from the Files drawer design https://github.com/appirio-tech/connect-app/issues/3123#issue-459823560) and show the option to delete/edit.

2. That would be good to have for the next release.

3. Let

[2019-06-26 06:41] maxceem commented on #3012
`@vikasrohit

1. We have an old  `Discussions` tab with route `/projects/:projectId/discussions`. I guess we don't need that tab anymore as we are showing old messages with tag `MESSAGES` as private messages at the moment. So we can remove all code related to the old `Discussions` tab. And use route `/projects/:projectId/discussions` for new `Discussions` page.

2. The only thing, the old tab also

[2019-06-26 06:55] vikasrohit opened #3128 "[$150] Make text fields expandable in Scope form"
After recent changes for new smart scope forms, we lost the ability to expand a text fields for better readability. We need to bring that back i.e. allow users to expand the text areas and by default render them with height of 3 rows.

fyi @acshields @maxceem

[2019-06-26 07:10] maxceem commented on #3128
@vikasrohit hmm, the fields with type `textbox` are still expanding for me, and while `textinput` fields cannot be expanded, which I guess is expected:

![image](https://user-images.githubusercontent.com/146016/60158723-4b3c5300-9824-11e9-8a52-a86fb6fe09dd.png)

- the only thing it doesn't have 3 rows height by default, I'm not sure if they have such height by default before

[2019-06-26 09:50] maxceem commented on #3012
4. As I understand when we navigate to `/projects/{{projectId}}/discussions#topic-{{topicId}}` from the email or notification the drawer with topic should be opened.

5. When we navigate to `/projects/{{projectId}}/discussions#topic-{{topicId}}-post-{{postId}}` from email of notification, the drawer with topic should be opened and scrolled to the particular post.

[2019-06-26 10:54] maxceem commented on #3123
@vikasrohit any luck with obtaining a marvel file with a new design.

[2019-06-26 11:02] vikasrohit commented on #3012
1. Lets leave it as is for now i.e. don't remove the old Discussions tab for old projects. However, if we are determining the flag for showing the old Discussions tab based only on the presence of 'MESSAGES' tag , I guess we are forced to get rid of this tab.

2. Can we keep this `/projects/:projectId/discussions/:discussionId` URL instead of `/projects/:projectId/discussions#feed-${discussionId}`

[2019-06-26 11:04] vikasrohit commented on #3012
1. Lets leave it as is for now i.e. don't remove the old Discussions tab for old projects. However, if we are determining the flag for showing the old Discussions tab based only on the presence of 'MESSAGES' tag , I guess we are forced to get rid of this tab.

2. Can we keep this `/projects/:projectId/discussions/:discussionId` URL instead of `/projects/:projectId/discussions#feed-${discussionId}`

[2019-06-26 11:05] vikasrohit commented on #3123
@maxceem I don't think I would be able to provide the marvel in next few hours. May be I can provide you that within next 12 hours.

[2019-06-26 11:08] maxceem commented on #3012
Thank for replies @vikasrohit

Old `Discussions` tab is only shown for old project which were created without flag which we set to all the new projects, see [code](https://github.com/appirio-tech/connect-app/blob/feature/redesign/src/api/projects.js#L148) so it doesn't depend on the `MESSAGES` tag and we can keep it. Though this page uses URL `/projects/:projectId/discussions/:discussionId`, which

[2019-06-26 11:13] vikasrohit commented on #3012
Got it. I guess we can use `messages` instead of `discussions` for the new page URL as the latest design https://marvelapp.com/4acgiai/screen/58136216 is using that naming convention and you can this latest design for final design guidance as well.

[2019-06-26 11:13] maxceem commented on #3012
Regarding URL my thought was like this:
theoretically, we can open any drawer from any page: `Dashboard`, `Files & Links`, `Discussions` and so on. As drawer by its nature can be opened at any page, theoretically, we could end up having links like:
- `/projects/{{projectId}}#topic-{{topicId}}`
- `/projects/{{projectId}}/library#topic-{{topicId}}`
- `/projects/{{projectId}}/report#topic-{{topicId}}

[2019-06-26 11:29] vikasrohit commented on #3012
I think if we have to show a drawer for a topic on some other page, that would have different URL and might have different way to represent the topic e.g. we have to show topic and posts for a phase so may be we can use `/projects/{{projectId}}/plan/(phase|work)/{{phaseId}}#topic-{{topicId}}` and `/projects/{{projectId}}/plan/(phase|work)/{{phaseId}}` (we have to have something similar URL anyway

[2019-06-26 11:46] vikasrohit commented on #3128
I meant expanding by dragging the mouse pointer from the bottom right corner of the text box. I am not able to see that cursor any more neither when directly editing the text box during project creation nor when editing an existing project. Also, I think we did some improvement very long back where we used to show the text boxes with multiple lines to occupy the full height which fits the content

[2019-06-26 12:08] maxceem commented on #3012
@vikasrohit regarding `New discussion` button. There are two ways I see:
1. Open drawer with empty title and post fields like this: https://monosnap.com/file/0VtJGawUKwKYNff3FoziUpfiJVKl0k

2. Open a new topic editor like it was before on the page, on in the drawer
    ![image](https://user-images.githubusercontent.com/146016/60178412-18a75000-984e-11e9-9191-2b8d3623a02e.png)

I guess the second a

[2019-06-26 12:23] vikasrohit commented on #3012
I am kind of liking the first way as it is more in sync with our rest of the UI, however, as implementing second one is easier and faster, I would like to go with second one to reduce the time to implement the changes.
Also, we might need to think about a better placement of `New Discussion` button as right now it is shown at the bottom of all threads which would make it very difficult for user to

[2019-06-26 12:28] maxceem commented on #3012
That would make this task easier. So no `New Discussion` button and keep the UI for a new message on top of all messages as we have right now:

![image](https://user-images.githubusercontent.com/146016/60179722-dd5a5080-9850-11e9-8b98-765e85bfee0a.png)

[2019-06-27 11:58] vikasrohit commented on #3048
@maxceem lets hold for this for some time until we wrap the major work around redesigning the navigation components in project and work management features and revisit it later. I would discuss it with product team meanwhile.

[2019-06-28 04:29] maxceem commented on #3013
@vikasrohit here is how I see the sidebar as a mix of current elements and new design as per the discussion above:

![image](https://user-images.githubusercontent.com/146016/60316816-bf9b0180-999e-11e9-8f68-bdf1922dc9eb.png)

1. keep description with the link `read more`.

2. separate description with menu with a line unlike in marvel file where we don't have a desciption

3. keep the old design f

[2019-06-28 05:53] maxceem commented on #3128
currently, we are using textbox component which extends the height dynamically when we are typing. Should we disable this feature and let users extend the textboxes manually instead?

I guess there could be some issues, when we expand accordion and textbox doesn't update its height dynamically. Should we fix this issues instead of changing the behavior to manual?

By any chance do you have an exam

[2019-06-28 05:57] maxceem commented on #3126
Here is a project to demonstrate the issue as it has one member invited. The issue is most likely in the reducer.

I guess we keep invited members inside the object inside redux state which is got overwritten when we update the project scope. So we should make sure we persist invited users list. We had simmilar issues for other things which we store in the project object inside redux so there shou

[2019-06-28 06:03] vikasrohit commented on #3128
No, we should keep that behaviour too

Yes, we need to fix this issue as well i.e. the text box should occupy the full height to accommodate the text in it when user expands the accordion.

Here is the example project https://connect.topcoder-dev.com/projects/8139/scope. Please note that the description textbox does assume sufficient height to show most of the content, however, still there are cou

[2019-06-28 06:16] maxceem commented on #3128
Ok, so as per discussion we should do two things here:
1. Fix the issues with authorizing textarea. They should automatically resize to show the whole text.

2. Enable manual resizing. So just in case in some situation manual resizing failed, we can still resize the textarea manually.

3. Note, that at the moment if I enable manual resizing and resize textarea so it shows the whole text. As soon a

[2019-06-28 06:24] vikasrohit commented on #3013
Correct for all points @maxceem

7. https://marvelapp.com/3h6bdfd/screen/56595828/handoff has some assets, however, I am not able to find the Path details for the left panel icons here.

8. Yep, we can skip that for the release. However, we need to be prepared for re-enabling it quickly (may be as a new tab named `Private Discussions` along with the `Messages` tab) because I can see few active pro

[2019-06-28 06:29] maxceem commented on #3013
I'd like to note, that https://marvelapp.com/3h6bdfd/screen/56595828/handoff has a different design for the sidebar in comparison with the new marvel file provided later https://marvelapp.com/4acgiai/screen/58136217. And the new file uses new icons.

8. Got it. We can keep `Private Discussions` tab from now on the side menu.

[2019-06-28 06:32] vikasrohit commented on #3013
7. Yep, however, as the designs are not yet finalized, we can used any of those icons for now. We would use the final icons when we do the color palette updates.

8. Yep, having that tab would have a separate view for only admin discussions.

[2019-06-28 06:35] maxceem commented on #3119
I've made further testing. Looks like this issue can be only reproduced on PROD https://connect.topcoder.com/projects/11089/scope. But if I create a new project with the same template on DEV https://connect.topcoder-dev.com/projects/8178/scope the issue is not reproducible anymore. Probably it has been fixed on the DEV already with some other changes.

The only one small issue I see on DEV - if we

[2019-06-28 06:38] maxceem commented on #3013
As we are updating the UI of messages. Should we also update this page as per new design but show it without filters `All`/`Admin only`? Or keep the current design? - I'm not sure how it looks right now as I don't have an example of any project with such tab. It would be great if you could share any project with old `Discussions` tab on DEV.

[2019-06-28 06:44] vikasrohit commented on #3128
Two options:

1. If automatic resizing can take place only if the content is more than the current size of the text box and not when the text box size is greater than the content. OR
2. after fixing auto resizing I guess we should be okay even if automatically resizes after manual resizing.

[2019-06-28 06:48] vikasrohit commented on #3119
May be its the difference in the template? I mean production might have some difference than the dev one. Could you please compare and ascertain that it is not because of template itself.

Yes, we should fix the issue you are seeing now because essentially it would cause Unsaved changes alert as well even if we don't have any.

[2019-06-28 06:51] vikasrohit commented on #3013
We don't need to update the UI of this page. Just fyi, this page has completely different UI for messaging, it has left panel where it lists all topics and clicking on one of them opens the topic with posts in the right panel, just like we have in Outlook email client. e.g. project https://connect.topcoder-dev.com/projects/292/discussions

[2019-06-28 09:30] maxceem commented on #3119
Good idea @vikasrohit.

There is some difference:

![image](https://user-images.githubusercontent.com/146016/60332752-0e11c580-99ca-11e9-9a0b-4960c8a5490d.png)

Though I've created a projectTemplate using the data from PROD, and it still cannot reproduce the issue on DEV. Here is a project I've created with a projectTemplate which is a copy from PROD https://connect.topcoder-dev.com/projects/8179/

[2019-06-28 10:09] maxceem commented on #3119
If I revert changes the alert is not shown even button looks enabled.

Regarding the main issue, there is an issue which so far can be reproduced only for one project.
These two projects on PROD were created with the same template, but button work for one of them, but doesn't work for another one:
- https://connect.topcoder.com/projects/9439/scope (button got enabled on changes)
- https://connect.

[2019-06-29 04:31] maxceem commented on #3113
@vikasrohit toaster message is shown for me for product categories too see demo video https://monosnap.com/file/rzj3glaMH4odQdwqiGHB9TZbAJMpOc

The only thing I can see that this message is the same for all the types of metadata.

[2019-06-29 04:41] maxceem commented on #3100
To reproduce this issue can use the next link for creating project https://connect.topcoder-dev.com/new-project/subtitle-skills-api

Choose only `Design` option, so question with issue is visible:

![image](https://user-images.githubusercontent.com/146016/60379748-f3dbf400-9a6a-11e9-9843-d96ce1b69455.png)

Expected: the radio should be displayed correctly in front of the first line of the text.

T

[2019-06-29 04:44] maxceem commented on #3104
@vikasrohit what should be the message for managers and copilots?

[2019-06-29 05:05] maxceem commented on #3088
@vikasrohit here is a list of supported icon types https://github.com/appirio-tech/connect-app/blob/master/src/components/ProjectTypeIcon.jsx#L51-L115

If the icon is not found, the fallback is to the standard icon.

[2019-06-29 05:07] maxceem commented on #3016
@vikasrohit this is issue is marked for `Connect 2.4.13` release. Is there any update from the product team on this, or should we move it to the next release?

[2019-06-29 05:11] maxceem commented on #3081
@vikasrohit As we are implementing this in a new design via https://github.com/appirio-tech/connect-app/issues/3012 I guess we can close this issue.

[2019-06-29 05:13] maxceem commented on #2968
@vikasrohit the server-side part is ready for this task and has been done via PR to project service https://github.com/topcoder-platform/tc-project-service/pull/322.

Should we implement some UI for it in the Connect App?

[2019-06-29 05:18] maxceem commented on #2841
which property to read would be determined based on which role we are checking. For checking `projectRoles` from the premission config, we would use `entities.project` and check member roles.

If some config option from permission would require us checking us something for phases, it would use `entities.phases`. So there is no issue here, we only change the format of passing data from multiple arg

[2019-06-29 05:20] maxceem commented on #2789
@vikasrohit It feels like there is no good solution for the backend blocker at the moment until we `identity` service supports several emails. Here is a comment with details https://github.com/topcoder-platform/tc-project-service/issues/246#issuecomment-506691842 and possible solution in the next comment. Though I'm not sure if it would work properly due to timeout restrictions.

[2019-06-29 05:22] maxceem commented on #2975
Looks like there is no decision made for including it to the next release.

[2019-06-29 05:35] maxceem commented on #3079
For example. This link let us create a project with project template `computer_vision_old` which is disabled https://connect.topcoder-dev.com/new-project/computer_vision_old, see
https://monosnap.com/file/NSquUHoMZBdeqFrIZTDdqCIew4bC6F

If we try to access link to create a project with a project template which is `disabled` we should see page `404`.

[2019-06-29 05:52] maxceem commented on #3059
The server-side part of this issue has been fixed. Now we have to fix two client-side issues when we `leave project` and when we `reject invitation`.
One issue which we described above, and one issue was logged here https://github.com/appirio-tech/connect-app/issues/3056

### Steps to reproduce the problem 1 (leave project)
- Use non-manager user for testing like `pshah_customer`
- Invite `pshah_c

[2019-06-30 04:04] maxceem commented on #3125
@vikasrohit as per my testing we can add addons in the scope details drawer, see demo https://monosnap.com/file/SdRt2kcJHidS6ziUCQXZX4F7spnDet.

Do you have some example when we cannot do this?

[2019-06-30 04:16] maxceem commented on #3112
@vikasrohit there is already an error message which is almost like you proposed:

![image](https://user-images.githubusercontent.com/146016/60392170-403d3780-9b30-11e9-8c7f-18936d16e0c2.png)

I would propose to show different error messages for the case of deleted and non-deleted to be more precise and avoid any confusion:
- `Deleted project type already exists for key "key_value"`.
- `Project typ

[2019-06-30 04:27] maxceem commented on #3051
As I understand per the discussion in the next comment is the summary of the desired behavior: https://github.com/appirio-tech/connect-app/issues/3051#issuecomment-498557397

What I'm thinking we can to this summary:
4. In case use opens two tabs and he opened the notification dropdown in one tab which markes all the notifications as seen. If the user now switches to another tab, notifications are

[2019-06-30 06:39] maxceem opened #3129 "[Metadata Management] Which value show for "created at" for revisions"
New models like Forms, PriectConfigs and PlanConfigs have versions and revisions.

When we list them in the metadata editor we show the latest revision per each entity:

![image](https://user-images.githubusercontent.com/146016/60393219-49d09a80-9b44-11e9-85b6-95fc271e929a.png)

Though, as we show the revision object `created at` and `updated at` values would be always the same. This would be alwa

[2019-06-30 07:45] maxceem opened #3130 "[$40] [Metadata Management] clear error in delete confirmation dialog after cancel"
### Actual behavior
When I try to delete any entity in the metadata editor I click **Delete** and enter the wrong key in the popup, I see an error as expected ("The key do not match"). But if I cancel the popup and click Delete again, when the popup reopens, the error ("The key do not match") is still showing.

### Expected behavior
No error should be shown because the input field is now blank.

[2019-07-01 08:48] vikasrohit commented on #3119
@maxceem I think I go the reason of `Save` button not being enabled. It is essentially one or more required fields does not have answer in such projects. e.g. https://connect.topcoder.com/projects/11089/scope does not have answer for `goal` question which is required for that project. If you enter a value in that field, it starts working after that as expected.

Now the question is `how the projec

[2019-07-01 08:57] RishiRajSahu commented on #2859
was fixed via https://github.com/appirio-tech/ap-member-microservice/commit/4867c801aa64f35dbf91ebe1d71d9c5b665834f6. Closing.

[2019-07-01 08:57] #2859 closed

[2019-07-01 08:59] vikasrohit commented on #3113
Hmm, I am not able to reproduce it as well. Lets close this for now.

[2019-07-01 08:59] #3113 closed

[2019-07-01 09:03] vikasrohit commented on #3104
Will come back to you soon with official text from product team, meanwhile we can use `Project plan is empty. Please start add phases to the plan to start tracking the delivery.`

[2019-07-01 09:18] vikasrohit commented on #3088
@maxceem I think I have set correct values for the `icon` field of the project template as per mapping you shared, but still it is showing the generic icon. Could you please check in dev if you can see icons as we set in project templates?

[2019-07-01 09:58] vikasrohit commented on #2975
Moving to backlog as there is no issue reported from users in terms of usability till date.

[2019-07-01 10:08] vikasrohit commented on #3112
I would like only single message @maxceem `Project type already exists(may be deleted) for key "key_value"`.

[2019-07-01 10:10] vikasrohit commented on #2789
As I mentioned in the related issue, we agree on implementing parallel requests for multiple email invites in single user action.

[2019-07-01 10:13] vikasrohit commented on #3016
I have asked the question to the PM, would come back to it soon. From my personal understanding, I think we should be good without the confirmation alert because we don't actually deleted the attachment until user clicks the `Save/Update` button after marking the file for deletion.

[2019-07-01 10:14] #3081 closed

[2019-07-01 10:15] vikasrohit commented on #2841
fyi @RishiRajSahu

[2019-07-01 10:20] vikasrohit commented on #3125
@maxceem Did you try the behaviour in a project where you haven't selected any addon while creating the project?

[2019-07-01 10:38] vikasrohit commented on #2968
@maxceem we have to implement this with new work management features.

[2019-07-01 10:40] maxceem commented on #2968
@vikasrohit ok, do we have some designs for new work management features?

[2019-07-01 10:57] vikasrohit commented on #3129
@maxceem I think we are good with both `createdAt` and `updatedAt` showing the same values. We may show the `createdAt`/`updatedAt` value of revisions, in the revision history button (which we have while editing an entity with versioning) though.

[2019-07-01 11:19] vikasrohit commented on #3051
Isn't it doing already? I mean we are fetching the latest notifications from database and if the first tab has made request of marking the notifications as seen, the next call from second tab should bring the notifications with `seen` as `true` and I think if we are showing the red cue by counting the unseen notifications, it should work as is, right?

Yes, that is what we assume right now. I am n

[2019-07-01 12:07] vikasrohit commented on #2968
Yep, they are being worked on and should be ready very soon. We would need them implemented in 2.5 release.

[2019-07-01 12:11] RishiRajSahu commented on #3079
@maxceem have put a fix via this https://github.com/topcoder-platform/tc-project-service/commit/2d12e1cf670c0db8f484196f4abbb568a7ec7b3c

[2019-07-01 12:16] RishiRajSahu commented on #3079
it seems the fix didn't worked. strange, will check it again.

[2019-07-01 12:21] RishiRajSahu commented on #2841
@maxceem Our permission model contains both the roles with each section/page on our Connect App, for example phases/project-plan section has both accessibility constraints with project roles. Also as per your example -
For `projectRoles` we will be looking for `project` key in `entities` but what about `phases` we don't have any phase roles ? If I am missing something here ?

[2019-07-02 03:14] maxceem opened #3132 "[$70] [Metadata Management] keep entered data if error occurs during entity creating"
This issue is valid for all sections in the metadata: Project Templates, Products Templates, Project Types and so on...

### Expected behavior
Entered data should persist in the form when a server-side error happens during some entity creating.

### Actual behavior
Entered data is cleared in the form when a server-side error happens during some entity creating.

### Steps to reproduce the problem

[2019-07-02 05:00] vikasrohit commented on #3104
@maxceem Got the updated text:

Header:  Build Your Project Plan

Text: Build your project plan in Connect to reflect delivery progress to the customer. Begin by clicking the "Add Phase" button, select the template that best matches your need, and modify the phase title and milestone dates prior to publishing to the customer. Important Note: To move the project into 'Active' status, you must set a

[2019-07-02 05:01] vikasrohit commented on #3132
Potential candidate for CF

[2019-07-02 05:31] maxceem commented on #3013
@vikasrohit have a couple of questions:

1. Currently, Scope/Specification page has another sidebar: https://monosnap.com/file/etGFDhG8AC12YkmaNkNhag2KhPMR2x. As for some time we are going to show this page with a new sidebar I guess we should replace this sidebar with a new sidebar, as otherwise there is no way to navigate to other pages, as we are removing the second toolbar at the top which we

[2019-07-02 05:38] RishiRajSahu commented on #2652
@vikasrohit closing this as we have whole new UX for Connect now.

[2019-07-02 05:38] #2652 closed

[2019-07-02 08:41] vikasrohit opened #3134 "Project member invites via email fails when there is a case difference"
### Expected behavior
Project member invite should work in case insensitive way

### Actual behavior
It errors out when user tries to join a project where the invited email and the user's registered email in the system has different cases.

### Steps to reproduce the problem
- Invite a user with at least one different case character in their registered email
- Try to join the project with the invi

[2019-07-02 10:13] RishiRajSahu commented on #3079
Its fixed and pushed to dev.

[2019-07-02 10:13] #3079 closed

[2019-07-02 12:33] vikasrohit commented on #3013
1. For new projects (created with new smart scope forms), I think we can safely remove this sidebar of the scope tab completely as it does not make sense to have questions breadcrumb for them. I am not sure how we can handle it for old projects. Would it be okay to get rid of this side bar for old projects as well? May be we can add a new component in the new side bar for showing the questions bre

[2019-07-02 12:34] maxceem commented on #3134
I guess it's fixed by https://github.com/topcoder-platform/tc-project-service/pull/325 right?

[2019-07-03 05:14] maxceem commented on #3104
Project for testing which doesn't have phases: https://connect.topcoder-dev.com/projects/8188/plan

Users for testing:
- `pshah_manager` and `pshah_copilot` should have a new message
- `pshah_customer` should have an old message

[2019-07-03 05:24] maxceem commented on #2841
You are right @RishiRajSahu we don't have any premission which need `phases` at the moment.

So at the moment, I guess we will only have `project` inside `entities` argument.

The reason why I propose to use `entities` instead of `project` because there is one place where `phases` is passed as third argument https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/Projec

[2019-07-03 05:31] RishiRajSahu commented on #2841
@maxceem yep I agree with just two arguments and having generic `entities` which contains required field with it for example `project`, `project-plan` etc. so the first argument would be `(permissionsObject, entities)` .
My worry was around, how in the code we will know which object(`project`, `project-plan` etc.) to read from `entities` because the first argument doesn't give any info about that

[2019-07-03 05:38] maxceem commented on #2841
Got your question @RishiRajSahu

In general, the code inside `checkPermission` should know it. As `entities` is an object, all params inside it would have names.
1. In `permissionsObject` we can only define some limited set properties, for now only `projectRoles` and `topcoderRoles`. To check permissions defined by these properties, we may need some objects. For example to check `projectRoles` we

[2019-07-03 05:40] vikasrohit commented on #3134
Yep. It should be fixed now.

[2019-07-03 05:40] #3134 closed

[2019-07-03 05:42] RishiRajSahu commented on #2841
Got it via 1. , thanks ! @maxceem

[2019-07-03 05:49] maxceem commented on #3129
`createdAt`/`updatedAt` values in the revision history are also always the same as for revisions `createdAt`/`updatedAt` are always the same, so we currently show only one value in the history.

[2019-07-03 05:50] maxceem commented on #3129
I'm closing this issues, as per we are good with the current approach for now as per https://github.com/appirio-tech/connect-app/issues/3129#issuecomment-507216970

[2019-07-03 05:50] #3129 closed

[2019-07-03 06:06] maxceem commented on #3051
You are right, we already doing it.

[2019-07-03 06:29] maxceem commented on #3125
Here I've created a new project http://local.topcoder-dev.com:3000/projects/8189 using link https://connect.topcoder-dev.com/new-project/subtitle-skills-api. I choose Design and Development deliverables but didn't choose any add-ons for them. After that I open the project scop in the drawer and added add-ons, see demo video https://monosnap.com/file/u8WpxgtmExKiLfwpEBKp4S3s1kyceO

[2019-07-03 06:57] maxceem commented on #3088
Can reproduce the issue.

Use for example project https://connect.topcoder-dev.com/projects/8179
It uses a template with id `212 `. Which uses icon `product-design-app-visual`:

![image](https://user-images.githubusercontent.com/146016/60569426-f491c480-9da1-11e9-9588-1be80fc16e61.png)

This icon is defined in the https://github.com/appirio-tech/connect-app/blob/master/src/components/ProjectTypeIc

[2019-07-03 07:11] vikasrohit commented on #3125
Okay. Then it might me something wrong with my template. Lets close this issue for now and revisit it later if issue appears again. BTW, I am somewhat confused about our status on drawer UI for next release. Could you please share the current understanding of drawer for next release?

[2019-07-03 07:22] maxceem commented on #3125
The drawer is ready. The only thing left is to show it on click on the project estimation instead of a demo button. It's done in the `feature/redesign` branch for now.

[2019-07-03 07:39] vikasrohit commented on #3125
Okay. However, I think we discussed to hide it for our next release as we are not going to implement it fully. I just realized that for new Messages tab which we are going to implement in 2.4.13 release, we need to show the details of the threads somewhere and we don't have any other place to show them other than the drawer or we have to leave the threads expanded by default as we have right now.

[2019-07-03 08:02] maxceem commented on #3125
Right, I'm a bit confused about what was the last decision.

Good catch. We are implementing showing posts in the drawer, so I guess can show in a drawer. Showing them in another way with a new design would be difficult if implement them inside the drawer.

Actually, the drawer is quite ready so I guess we can release with it. Waiting for the results of Topics redesign challenge to see it in actio

[2019-07-04 03:09] maxceem commented on #3132
For testing can use user `pshah_manager` which doesn't have permission to create any metadata templates. If we try to create a template with such user we would get an error `YOU DO NOT HAVE PERMISSIONS TO PERFORM THIS ACTION` and form would be cleared. But data in the form should stay when we get an error during template creating.

This issue has to be fixed for all sections:
![image](https://user

[2019-07-04 03:18] maxceem commented on #3112
This issue has to be fixed in the Project Service repository https://github.com/topcoder-platform/tc-project-service

To verify this issue:
- deploy connect app and project service locally as per this guide https://github.com/topcoder-platform/tc-project-service#run-connect-app-with-project-service-locally
- import demo data https://github.com/topcoder-platform/tc-project-service#import-sample-met

[2019-07-04 03:30] maxceem commented on #3051
To sum up:
We should replace the current logic of showing red cue for the notification dropdown bell.
The new logic is described in this comment https://github.com/appirio-tech/connect-app/issues/3051#issuecomment-498557397, in particular:

Instead of the current logic, we should show a red cue if there is at least one notification which is not `seen`.
- As soon as we open the notification dropdow

[2019-07-04 04:08] iversonLv commented on #3100
@maxceem could I take this?
Thanks.

[2019-07-04 04:11] nahidshahin commented on #3130
@maxceem can I pick it?

[2019-07-04 04:12] mfikria commented on #3128
Please assign this to me @maxceem

[2019-07-04 04:14] maxceem commented on #3130
It's on you @nahidshahin.

[2019-07-04 04:14] maxceem commented on #3128
Done.

[2019-07-04 04:15] maxceem commented on #3100
It's on you @iversonLv

[2019-07-04 04:15] rahulranjanmca commented on #3132
I am not able to assign this to myself?

[2019-07-04 04:16] PrakashDurlabhji commented on #3126
@maxceem please assign this to me thank you

[2019-07-04 04:17] maxceem commented on #3132
Yes members cannot assign themselves in this Bug Bash, please check the rules of this Bug Bash https://www.topcoder.com/challenges/30095031

[2019-07-04 04:17] afrisalyp commented on #3124
Can you please assign me on this ticket.
Thanks.

[2019-07-04 04:18] maxceem commented on #3132
@rahulranjanmca I've assigned you as I understand you would like to work on this issue. Let me know if don't want. Anyway, please, check the rules for this Bug Bash, as they are slightly different than usual.

[2019-07-04 04:19] maxceem commented on #3124
@afrisalyp assigned.

[2019-07-04 04:19] maxceem commented on #3126
@PrakashDurlabhji assigned.

[2019-07-04 04:20] rashmi73 commented on #3104
@maxceem i would Like to work on this thanks

[2019-07-04 04:20] maxceem commented on #3104
Sure @rashmi73

[2019-07-04 04:24] Gauravseta commented on #3051
@maxceem please give this me. thank you

[2019-07-04 04:29] prasadadarkar30 commented on #3088
@maxceem wishing to try this and complete, so request you to assign

[2019-07-04 04:32] rahulranjanmca commented on #3132
@maxceem Yes, I have started setting up the project. Probably first one might take a bit longer. But have started looking into this.

[2019-07-04 04:35] rahulranjanmca commented on #3132
@maxceem One Question? Can I setup on windows? Or Only Linux/MacOs needed?

[2019-07-04 04:37] nahidshahin commented on #3130
@maxceem can you please give the reproduce step and a screenshot. I can't follow the description.

[2019-07-04 04:40] maxceem commented on #3051
Sure @Gauravseta

[2019-07-04 04:42] maxceem commented on #3088
Assigned @prasadadarkar30

[2019-07-04 04:45] maxceem commented on #3132
@rahulranjanmca in general can, but there could be some issues with NPM dependencies. Some of them have to be compiled and might require to install some compilers or libraries in Windows. We don't have any particular instructions one that and they have to be resolved individually.

[2019-07-04 04:54] sumitdaga commented on #3059
@maxceem

Please assign this to me !

[2019-07-04 05:14] maxceem commented on #3059
Assigned @sumitdaga

[2019-07-04 05:46] maxceem commented on #3130
Sure @nahidshahin

Got to metadata section:
- https://connect.topcoder-dev.com/metadata/projectTemplates
- open any item, for example https://connect.topcoder-dev.com/metadata/projectTemplates/212
- click **Delete** button and enter wrong data:

   ![image](https://user-images.githubusercontent.com/146016/60642252-cecbf480-9e61-11e9-8544-b543fed3b2e3.png)
- click **Cancel** button to close delete

[2019-07-04 05:49] maxceem commented on #3112
The prize has been raised to `$70` for this one. The fix is trivial for this issue. The main part of the prize stands for efforts for local setup, validation and demo videos.

[2019-07-04 05:53] rahulranjanmca commented on #3132
@maxceem I am not able to setup the build. Please unassign it from me.

[2019-07-04 05:56] gets0ul commented on #3112
Can I work on this?

[2019-07-04 05:57] maxceem commented on #3132
Thanks for letting me know @rahulranjanmca.

This issue is now open for pick up.

[2019-07-04 05:59] maxceem commented on #3112
Right @gets0ul, in our Bug Bash we have slightly different rules, please check them at the challenge spec https://www.topcoder.com/challenges/30095031

Meanwhile, I've assigned you and you can work on this issue.

[2019-07-04 06:20] rashmi73 commented on #3104
@maxceem it is ready https://github.com/appirio-tech/connect-app/pull/3137

[2019-07-04 06:21] rashmi73 commented on #3132
@maxceem please assign this to me thanks

[2019-07-04 06:28] gets0ul commented on #3112
@maxceem
Which branch should we use on tc-project-service?

[2019-07-04 06:34] maxceem commented on #3112
@gets0ul please use `cf18` branch also.

[2019-07-04 06:34] maxceem commented on #3132
@rashmi73 assigned.

[2019-07-04 06:56] iversonLv commented on #3100
@maxceem I have created a PR at react-components
https://github.com/appirio-tech/react-components/pull/320

Thanks.

[2019-07-04 07:20] afrisalyp commented on #3124
@maxceem, still can't reproduce the problem.
I've tested on Ubuntu, Windows, and Android with the same browser version.
Does the bug appear only on Mac OS?

[2019-07-04 07:31] maxceem commented on #3124
Hmm, @afrisalyp I cannot reproduce this issue anymore too. Maybe it has been fixed with some other changes.
I'll remove this issue from the Bug Bash for now, until we can reproduce it.

[2019-07-04 08:04] nahidshahin commented on #3130
@maxceem PR https://github.com/appirio-tech/connect-app/pull/3138

[2019-07-04 09:46] sumitdaga commented on #3059
@maxceem
i think the screencast https://monosnap.com/file/kqkUaWEtAxwJ1GDRanqT6Gv0dW8Hni  is showing video before server side issue was fixed right?
i mean when we reload the browser , the project left is now showing up
so what we need to do for this issue is when user leaves project and goes back to project list we need to reload project list right ?

[2019-07-04 09:49] maxceem commented on #3059
@sumitdaga yep, you are right.

The same thing when a user rejects invitation - fixed server-side and now we should reload client side.

[2019-07-04 09:55] sumitdaga commented on #3059
@maxceem thanks for confirmation!
is there any other such situation when we are reloading project list when navigating to it ?
we are doing `this.props.history.push('/projects/')` after leaving project is confirmed by user !

[2019-07-04 10:03] maxceem commented on #3059
I don't know any such place where we do such a thing.

[2019-07-04 11:23] mfikria commented on #3128
@maxceem i've made two PR:

[2019-07-04 11:51] gets0ul commented on #3112
Ready for review:
PR on connect-app: https://github.com/appirio-tech/connect-app/pull/3140
PR on tc-project-service: https://github.com/topcoder-platform/tc-project-service/pull/329

Videos:
project type:
[project-type_deleted.zip](https://github.com/appirio-tech/connect-app/files/3359121/project-type_deleted.zip)

product category:
[product-category_deleted.zip](https://github.com/appirio-tech/co

[2019-07-04 12:00] sumitdaga commented on #3059
@maxceem
PR at #3141
although i am curious why we do not load projects each time we go to `/projects`, since there could be situations when we are seeing old data and such there seems no harm in reloading projects ?

[2019-07-04 13:20] maxceem commented on #3059
Thank you @sumitdaga

IMHO the main reasons not to reload the project listing are:
- to make navigating between project listing and projects fast
- project listing is updated rarely, users join and leave projects not often
- before we had a feature when we navigate from the project listing to the project and after navigating back, we see the same place in the project listing (not sure if still wor

[2019-07-04 13:58] PrakashDurlabhji commented on #3126
@maxceem can you please provide me the project where this can be observed?

Comment above says "Here is the link" but i dont find any such link to project. kindly confirm

[2019-07-04 14:22] maxceem commented on #3126
Here is an example project https://connect.topcoder-dev.com/projects/8036 @PrakashDurlabhji

[2019-07-04 14:25] PrakashDurlabhji commented on #3126
@maxceem it says project not found, can you please confirm if project working, I  logged in pshah_copilot

[2019-07-04 14:28] maxceem commented on #3126
Please, use pshah_manager to access this project.

[2019-07-04 14:55] PrakashDurlabhji commented on #3126
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3143

[2019-07-04 15:04] prasadadarkar30 commented on #3088
@maxceem failed to solve it,releasing it so others can work on it.

[2019-07-04 15:04] PrakashDurlabhji commented on #3088
@maxceem kindly give to me thank you

[2019-07-04 15:46] PrakashDurlabhji commented on #3088
@maxceem PR https://github.com/appirio-tech/connect-app/pull/3144

[2019-07-04 17:19] Gauravseta commented on #3051
@maxceem working more time required

[2019-07-04 19:40] r0hit-gupta commented on #3132
@maxceem May I take this up?

[2019-07-04 19:57] rashmi73 commented on #3132
@maxceem i am active on this PR in sometime

@r0hit-gupta

[2019-07-04 22:27] rashmi73 commented on #3132
@maxceem  PR ready https://github.com/appirio-tech/connect-app/pull/3145

[2019-07-05 03:26] maxceem commented on #3051
Ok @Gauravseta, but if it's not completed during 24 hours, I'll have to unassign you, as we have wery tight timeline this time.

[2019-07-05 03:38] romitgit commented on #3051
@maxceem Please assign this to me if available for pick up. Thanks

[2019-07-05 04:17] Gauravseta commented on #3051
@maxceem i will release it myself if i fail to complete it, but just sometime. please.

@romitgit it is not open yet. i will notify if i fail then whoever comments usually takes it

[2019-07-05 04:18] romitgit commented on #3051
@Gauravseta No worries. Take your time. Thanks

[2019-07-05 05:34] maxceem opened #3146 "Add SCSS files linter"
As we don't have a linter for SCSS files, the code style may differ from the people to people and not consistent.

I propose to add SCSS linter, same like we have in the community app https://github.com/topcoder-platform/community-app/blob/develop/package.json#L14 for compatibility between repositories.

When adding the linter we also should fix all the scss lint errors.

#### Additional rules
1.

[2019-07-05 06:17] maxceem opened #3147 "[$35] Show tooltip for accordion title"
When we show accordions some titles have a too-long name and truncated with `...` at the end:

![image](https://user-images.githubusercontent.com/146016/60701349-1029d600-9f2e-11e9-9311-d50744cd41b1.png)

We should add a tooltip with a full name for all accordion names.

To see accordions in action, the next project may be used https://connect.topcoder-dev.com/projects/8196/scope, see a [screensho

[2019-07-05 06:18] maxceem commented on #3147
This issue is now open for pick up.

[2019-07-05 06:21] sumitdaga commented on #3147
Can intake this ?

[2019-07-05 06:26] maxceem commented on #3147
Sure @sumitdaga, assigned.

[2019-07-05 08:09] Gauravseta commented on #3051
@maxceem releasing it for others as failed. it is open.

[2019-07-05 08:09] PrakashDurlabhji commented on #3051
@maxceem give to  me thanks

[2019-07-05 08:20] maxceem commented on #3051
Thanks for not keeping it beyond the need @Gauravseta.

@PrakashDurlabhji assigned it to you.

[2019-07-05 08:38] maxceem commented on #3013
@vikasrohit I guess there is no way at the moment to get this statistic for a user from the Project Service:

![image](https://user-images.githubusercontent.com/146016/60709568-5a698200-9f43-11e9-9319-94a51a724350.png)

Should we hide it for now?

[2019-07-05 09:11] maxceem commented on #3119
@vikasrohit I've tested out the create form for this type of project, and I don't see any way of creating it without defining the `goal` field https://connect.topcoder-dev.com/new-project/visual_design_prod_from_prod_max.

Also, I've tried to edit project scope and save without `goal` but also don't see a way to do so.

So I think we should watch it if we ever come across similar issues

[2019-07-05 09:33] sumitdaga commented on #3147
@maxceem PR at #3148

[2019-07-05 09:52] maxceem opened #3149 ""Save Changes" stays enabled if we don't have any change in scope form"
### Expected behavior
"Save Changes" should get disabled again if we don't have any changes in the scope form. And we shouldn't get an alert popup when we try to leave the scope tab.

### Actual behavior
"Save Changes" stays enabled if we don't have any change in scope form. And we get an alert popup when we try to leave the scope tab.

### Steps to reproduce the problem
- Open scope tab https://c

[2019-07-05 09:54] rashmi73 commented on #3149
give me thanks

[2019-07-05 09:54] maxceem commented on #3149
This issue is now open for pick up.

[2019-07-05 09:55] maxceem commented on #3149
Ok @rashmi73 assigned to you.

[2019-07-05 09:57] maxceem commented on #3119
I've created a separate issue for the case when the button stays enabled https://github.com/appirio-tech/connect-app/issues/3149.

While this issue can be closed I guess.

[2019-07-05 10:07] vikasrohit commented on #3119
I think the link in #3149 is pointing to production which members won't be able to access.

[2019-07-05 10:07] #3119 closed

[2019-07-05 10:16] vikasrohit commented on #3013
Actually, we can get these statistics from the `GET /v4/projects` endpoint with `memberOnly=true` as filter and then manually calculating the count for different status (active, draft/in-review/reviewed, completed) projects.
If you think we can calculate them without much performance load on initial page load of connect and if we can implement this without much extra time, we can target it for the

[2019-07-05 10:29] maxceem commented on #3149
Updated link to the demo project with the issue https://connect.topcoder-dev.com/projects/8197/scope

[2019-07-05 10:30] maxceem commented on #3119
Thank you @vikasrohit for catching it, updated the link.

[2019-07-05 10:36] maxceem commented on #3013
This endpoint gets paginated results. I'm not sure how many projects may have users in real life, but our test `pshah_manager` user has `3901` projects.
So, I guess we would have to paginate the results or set the limit to the maximum `10000`, though if there are many projects I guess the response size could be quite heavy.

So it feels it would be better to introduce a separate statistics endpoin

[2019-07-05 13:08] vikasrohit commented on #3013
Yep, Agreed. I missed that. Lets skip these stats for now. Lets log a separate issue. We would visit that issue after this release.

[2019-07-05 14:36] rashmi73 commented on #3149
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3150

[2019-07-05 14:38] PrakashDurlabhji commented on #3088
@maxceem can you please unassign prasad and assign me because it was completed by me thank you

[2019-07-05 17:15] vikasrohit commented on #3125
I was confused as well. I just want to avoid inconsistent behavior which user may experience if we have some components shown in Drawer and others as their own page. IMO, if we show drawer for showing details page for a object, we should be using the same pattern for all other objects as well.

Having said that, lets include the Drawer wherever possible for this release. We can make quick release

[2019-07-05 22:14] PrakashDurlabhji commented on #3051
@maxceem working as bit lengthy

[2019-07-06 03:28] maxceem opened #3151 "[Redesign] Show project statistics"
As per new sidebar design, we should show the project statistics of a user:

![image](https://user-images.githubusercontent.com/146016/60750848-f3020f80-9fe0-11e9-86a5-40917e002e6a.png)

So far, we don't have a good way to obtain this statistic from the Project Service, see this [comment](https://github.com/appirio-tech/connect-app/issues/3013#issuecomment-508715631) with details.

For now, we are

[2019-07-06 03:28] maxceem commented on #3013
Create a separate issue for showing statistic https://github.com/appirio-tech/connect-app/issues/3151

[2019-07-06 03:30] maxceem commented on #3088
Assigned you @PrakashDurlabhji

[2019-07-06 03:36] maxceem commented on #3051
Ok, @PrakashDurlabhji.

[2019-07-06 07:50] maxceem commented on #3013
@vikasrohit we have one more page with the full list of notifications https://connect.topcoder-dev.com/notifications

Should we show a new standard sidebar there?

![image](https://user-images.githubusercontent.com/146016/60753485-bb598e80-a005-11e9-8afc-75ba04ef29d9.png)

[2019-07-06 09:23] PrakashDurlabhji commented on #3051
@maxceem PR https://github.com/appirio-tech/connect-app/pull/3153

[2019-07-06 12:12] maxceem commented on #3149
@rashmi73 please, have a look on the review here https://github.com/appirio-tech/connect-app/pull/3150#pullrequestreview-258586832

[2019-07-06 12:13] maxceem commented on #3147
@sumitdaga please, have a look on the review here https://github.com/appirio-tech/connect-app/pull/3148#pullrequestreview-258586585

[2019-07-06 12:13] maxceem commented on #3132
@rashmi73 please, have look on the review here https://github.com/appirio-tech/connect-app/pull/3145#pullrequestreview-258586228

[2019-07-06 12:14] maxceem commented on #3128
@mfikria please, have a look on the review here https://github.com/appirio-tech/connect-app/pull/3139#pullrequestreview-258582453

[2019-07-06 12:14] maxceem commented on #3100
@iversonLv please, have a look on the review here https://github.com/appirio-tech/react-components/pull/320#pullrequestreview-258587311

[2019-07-06 12:15] maxceem commented on #3051
@PrakashDurlabhji please, have look on the review here https://github.com/appirio-tech/connect-app/pull/3153#pullrequestreview-258587066

[2019-07-06 12:56] iversonLv commented on #3100
@maxceem done
updated at that PR
[![Screenshot from Gyazo](https://gyazo.com/f22b19287e90001cc8adf1e5198b83a0/raw)](https://gyazo.com/f22b19287e90001cc8adf1e5198b83a0)
Thanks.

[2019-07-07 15:41] r0hit-gupta commented on #3051
@maxceem please let me know if I can pick this up. It's been more than 24 hours since last feedback.

[2019-07-07 15:46] PrakashDurlabhji commented on #3051
@maxceem sory for delay, I thought it is accepted, few time required.

@r0hit-gupta will open for pickup in few hours if i fail

[2019-07-07 23:31] mfikria commented on #3128
@maxceem need more time to resolve the review's issue

[2019-07-08 00:39] mfikria commented on #3128
@maxceem i've resolved the issues. Please, check the update. Thanks

[2019-07-08 06:00] vikasrohit commented on #3100
Sorry to jump in @maxceem however, can we update the position of the circle of the radio to be vertical middle of the label? As of now it is top aligned.

[2019-07-08 06:04] iversonLv commented on #3100
@vikasrohit @maxceem
Then I think we just need to merge my first commit
  https://github.com/appirio-tech/react-components/pull/320/commits/d9a1b37d93f3c67492a6bf76f47f1f75b8fe086b

[2019-07-08 06:05] maxceem commented on #3100
Ah, ok @vikasrohit I've asked to move it to the top from the middle 😬

Thanks, @iversonLv, yeah, will use your first commit.

[2019-07-08 06:08] vikasrohit commented on #3013
Yes, without any change to the page layout.

[2019-07-08 06:11] vikasrohit commented on #3100
Oh, I didn't notice that. 😬 Its my personal preference to have that in middle. Its not coming from a designer, so lets keep whatever we have in the final PR. No need to pick old/first commit from the PR.

[2019-07-08 06:21] maxceem commented on #3128
@vikasrohit the issues is fixed per our requirements set above, see demo video https://monosnap.com/file/YRaxIumwP5SMVnuu5YYKsmWEqfI7Ga

As per implementation, as soon as we set focus to the field or edit it the field is updated to show the whole text.
Though when we just opened the accordion it may truncate some part of text. Let me know if you think such a fix is enough for us.

[2019-07-08 06:29] vikasrohit commented on #3128
Looks good, couple of questions:

1. How does it work when user has expanded the text box to a height more than sufficient and then clicked inside the text box?

2. > Though when we just opened the accordion it may truncate some part of text
Is it tricky or error prone to get the fixed?

[2019-07-08 06:33] maxceem commented on #3128
The height would re-adjust for the current height of the text.

@mfikria what do you think about fixing such a case?

[2019-07-08 06:40] mfikria commented on #3128
@maxceem the `Textarea` component is wrapped by `HoC` component called `Formsy` so I cannot access directly the `Textarea` instance, instead I get formsy instance. Maybe it can be resolved by add id in textarea and called focus on that DOM. Not tested yet.

[2019-07-08 06:53] vikasrohit commented on #3128
I was hoping if we could have prevented auto height adjustment in such cases . However, if it is not straightforward, lets keep things as is.

Explicitly focusing a textbox might not work for the cases where we have multiple text boxes in the same page.

[2019-07-08 13:33] r0hit-gupta commented on #3147
@maxceem may I pick this up? It's been 2 days since last update.

[2019-07-08 14:07] maxceem commented on #3147
Hey, @sumitdaga do you think you can finish it during next 24 hours?

[2019-07-08 14:08] maxceem commented on #3149
Hey, @rashmi73 do you think you can finish it during next 24 hours?

[2019-07-08 14:09] maxceem commented on #3132
@rashmi73 you have two issues which are waiting for a fix and there are already two days without an update. Do you think you can fix them both during 24 hours, or maybe release one of them?

[2019-07-08 14:14] rashmi73 commented on #3132
@maxceem both of them will be fixed in some time

[2019-07-08 14:17] rashmi73 commented on #3149
@maxceem actually backend response is not having consistent model properties.

I mean even if is blank or null, still object/key-value pair shall be received,
I analyzed that response was not proper in one case whereas it was proper for other hence i added fields, but if response becomes consistent then it would be more helpful?

[2019-07-08 14:20] maxceem commented on #3132
@rashmi73 we are quite short in time for these issues. When do you think you can finish them? Is 24 hours enough?

[2019-07-08 14:24] rashmi73 commented on #3132
@maxceem  4 hours max? are you online for that much time from now?

[2019-07-08 14:26] maxceem commented on #3132
@rashmi73 4 hours sounds good. I'm online just 20 minutes more. Will be back tomorrow morning in around 10 hours.

[2019-07-08 14:33] maxceem commented on #3149
I analyzed that response was not proper in one case whereas it was proper for other hence i added fields, but if response becomes consistent then it would be more helpful?

@rashmi73 That's a good catch. I guess it would a little bit hard to make response consistent for already created data at the backend. Also, I'm not sure if it's possible to make consistent for the new data also, but we will ha

[2019-07-09 00:27] rashmi73 commented on #3149
@maxceem PR updated

[2019-07-09 02:09] rashmi73 commented on #3132
@maxceem I am online and just 15 min more minutes, it is working perfectly for project template, replicating for other fields

[2019-07-09 02:21] maxceem commented on #3132
@rashmi73 fix doesn't work for me for project template also, see demo video https://monosnap.com/file/1z70F0UqR4QjJay73a2XDrRxTTsOQH

Could you share a screen video how it works for you?

[2019-07-09 02:31] rashmi73 commented on #3132
@maxceem
1. For http://local.topcoder-dev.com:3000/metadata/new-product-category
when it throws error, no response object recevied from backend hence it breaks.

to make my solution work, in PR I am making a null check.

[2019-07-09 02:41] maxceem commented on #3147
@sumitdaga as the issue is mostly done, except a small fix requested in the https://github.com/appirio-tech/connect-app/pull/3148#pullrequestreview-258586585 the fix accepted with a small prize reducing.

[2019-07-09 02:53] maxceem commented on #3132
@rashmi73 tested for http://local.topcoder-dev.com:3000/metadata/new-product-category - the fix works for me.

But for all other sections, the fix doesn't work for me.

[2019-07-09 02:54] maxceem commented on #3132
@rashmi73 tested for http://local.topcoder-dev.com:3000/metadata/new-product-category - the fix works for me.

But for all other sections, the fix doesn't work for me.

[2019-07-09 02:59] rashmi73 commented on #3132
@maxceem **for plan config, price config and form**

backend response on error, is not providing data which was passed in request, whereas for other templates it is perfectly received and i am able to persist data.

in below screenshot, kindly observe "action.payload.config.data", it is a json string, which only has config property and no "key" property is present.ideally it should be recevied as

[2019-07-09 03:08] maxceem commented on #3132
@rashmi73 got it, the error response for "plan config, price config and form" is empty:

![image](https://user-images.githubusercontent.com/146016/60856255-2212be00-a239-11e9-8e62-a532cdce117f.png)

While for others it has an error message:

![image](https://user-images.githubusercontent.com/146016/60856309-4cfd1200-a239-11e9-93d4-00ead8df0c2a.png)

Please, fix it for
- Project Templates - ❌ doesn

[2019-07-09 03:10] rashmi73 commented on #3132
@maxceem PR updated it will work now, as my previous PR did not contain fix for any hence it was not working . it will work now please check now

[2019-07-09 03:22] rashmi73 commented on #3132
@maxceem did i take unnecessary steps for solving this?
as category product was already working then i should have copied that?

[2019-07-09 03:24] maxceem commented on #3132
it would be great if this issue could be solved the same way is it was for Product Category. As now per testing, the new fix for other sections has some issues, will finish testing in 10 minutes.

[2019-07-09 03:31] maxceem commented on #3132
@rashmi73 here is testing after last update https://github.com/appirio-tech/connect-app/pull/3145#pullrequestreview-259253707

[2019-07-09 03:36] maxceem commented on #3132
@rashmi73 btw, if you worked on the other issue during night and didn't have a rest, you may take a rest and finish this issue after having a rest, we can wait another day for this issue.

[2019-07-09 03:36] rashmi73 commented on #3132
@maxceem to make it work same as product categories we need to then skip showing alert popup.

because product categories has no alert popup of error occured, whereas others have hence values get reseted.

so shall i follow same?

[2019-07-09 03:38] rashmi73 commented on #3132
@maxceem thanks, but I did have a rest, will continue working on it. and make a new PR as per your latest comment

[2019-07-09 03:41] maxceem commented on #3132
@rashmi73 hmm, I get an alert popup for product categories also, see video https://monosnap.com/file/7DzguqXb5UmbS4xqiW408fg9fVKmhh

Actually, it works perfectly for product categories without explicitly restoring values for this section as you did in your last update for other sections. It would be great if we can implement it the same way for other sections.

[2019-07-09 04:18] rashmi73 commented on #3132
@maxceem new PR https://github.com/appirio-tech/connect-app/pull/3154

[2019-07-09 07:05] maxceem commented on #3132
Thank you @rashmi73 works great for all cases excpet of Product Templates, please, have a look at the review https://github.com/appirio-tech/connect-app/pull/3154#pullrequestreview-259303294

[2019-07-09 11:03] vikasrohit commented on #2970
@vigneshTheDev assigned the issue to you and I have committed POC changes in https://github.com/appirio-tech/connect-app/tree/feature/scope_change_workflow and https://github.com/topcoder-platform/tc-project-service/tree/feature/scope_change_workflow branches. I have added many TODOs in the new code that I have written for this feature, so those are the definitely first thing to start with for us.

[2019-07-09 12:02] vikasrohit opened #3155 "[$50] Handles are not cleared after successful invites"
### Expected behavior
All emails and handles should be cleared from the text box of the invite dialog box.

### Actual behavior
Handles stays in the text box even after the successful invite operation

### Steps to reproduce the problem
- Open any project where you have access to manage customer team
- Try to invite multiple users with mix of handles and emails
- After successful invite operation,

[2019-07-09 12:02] vikasrohit commented on #3155
@maxceem fyi

[2019-07-09 12:04] vikasrohit commented on #2789
@maxceem I just tested the PR for parallel requests and it seems to work surprisingly good at least in dev env. I think we can go ahead with this fix in production. Let me know if you have any concerns with the changes.
Also, I would like to raise the default value of the maximum number of parallel requests to be `10` instead of `5` before moving ahead.

[2019-07-09 18:31] vigneshTheDev commented on #2970
@vikasrohit, Thanks for assigning the task. I'll look into it and get back to you.

[2019-07-10 02:54] maxceem commented on #2789
@vikasrohit as long requests don't fail randomly in real life we should be good, I don't have any other concerns.

I've creased the number of parallel requests to 10 and pushed to DEV on Project Service.

[2019-07-10 05:00] vikasrohit commented on #2789
Do you think that increasing the number of parallel requests would increase the possibility of timeout of requests?

[2019-07-10 05:05] maxceem commented on #2789
@vikasrohit it's hard to say. I'm not sure what were the reasons for the delays and if increasing to 10 can affect them or no.

[2019-07-10 05:43] vikasrohit commented on #2789
I just tested the inviting 11 emails at the same time and it returned in 12.5 seconds overall. So, it seems we are good for now.

[2019-07-10 05:43] #2789 closed

[2019-07-10 07:01] sumitdaga commented on #3147
@maxceem thank you!
i was on the road the last 2 3 days with very little connectivity!

[2019-07-10 07:02] vikasrohit commented on #2970
@vigneshTheDev Let me know your understanding about the requirements and any questions you have before starting with actual work. Also, let me know if you understand the POC code, I have pushed to the mentioned branches. It would be great if you can provide me estimate of efforts and prize you see for both frontend and backend to achieve the requirements.

[2019-07-10 08:51] vikasrohit commented on #2970
Update: Added more tasks to the list https://github.com/appirio-tech/connect-app/issues/2970#issuecomment-509597279

[2019-07-10 09:09] vigneshTheDev commented on #2970
@vikasrohit, while trying to setup project service in local, I'm getting this error:

This error occurs when I try to create the seed projects using `npm run demo-data`.

I've set AUTH0_CLIENT_ID, AUTH0_CLIENT_SECRET, AUTH0_URL, and AUTH0_AUDIENCE.
Should I set AUTH0_PROXY_SERVER_URL as well? I don't have the value for this. Could you please share it in mail?

[2019-07-10 09:13] RishiRajSahu opened #3156 "Team Dialog UI distorts if user name and handles are long"
Team dialog UI to view member/invites gets distorts for long names/handles, refer the image
<img width="667" alt="Screen Shot 2019-07-09 at 4 36 14 PM" src="https://user-images.githubusercontent.com/11248478/60956540-a724d280-a320-11e9-9180-3a353c29ac3f.png">

we need to keep fixed div width for roles switcher in right and crop the name followed by ellipses `...` to keep the details inline.

fyi @

[2019-07-10 09:32] vikasrohit commented on #3156
CF candidate

[2019-07-10 09:39] maxceem commented on #3013
@vikasrohit for customers we may show the delete button which currently looks like this:

![image](https://user-images.githubusercontent.com/146016/60957884-fd514000-a337-11e9-9455-93434cbebadb.png)

In the new design, we don't have such a good place to show this button, so I have a couple of suggestions:
1. Show delete button next to "All Projects" link

    ![image](https://user-images.githubuse

[2019-07-10 10:04] vikasrohit commented on #3013
Let me get that confirmed by product managers today. For now, keep it any of these places which requires less efforts from us.

Btw, I have one more idea, we can show the delete button (red one) just next to the `Submit for Review` button as these two buttons are shown only for customers only. However, the `Submit for Review` button is most likely to go away very soon.

[2019-07-11 06:58] RishiRajSahu opened #3158 "Unable to scroll the dropdown on project form"
User should be able to scroll and select the desired value from the dropdown -

<img width="1429" alt="Screen Shot 2019-07-11 at 12 24 32 PM" src="https://user-images.githubusercontent.com/11248478/61028768-2379ed00-a3d7-11e9-86a8-b9c8d676b2e1.png">

[2019-07-11 07:02] RishiRajSahu opened #3159 "Need slider component for project form questions"
Currently we don't have slider component for our project form, we need to build a slider component with text labels at the extremes - for eg - labels should be visible like this
<img width="438" alt="Screen Shot 2019-07-11 at 12 31 31 PM" src="https://user-images.githubusercontent.com/11248478/61029112-e2cea380-a3d7-11e9-90db-ed4f5e5cb665.png">

[2019-07-11 07:07] maxceem commented on #3159
Should be able to choose any numeric value between them? like from 1 till 100?

Or only separate value on the circls? I think we have such component.

[2019-07-11 08:11] suppermancool commented on #3159
@RishiRajSahu can i know what is input/output for this?

[2019-07-11 08:53] vikasrohit commented on #2970
@vigneshTheDev were you able to setup the service on you local?

[2019-07-11 08:59] RishiRajSahu commented on #3159
@maxceem yep if for separate values on circles we already have component. we will go with standard slider values 1 to 100 or may be 1 to 10 could also as its more about showing the visual location of slider than the value at which it is located. this component right now will be need to get the user has inclination towards which one of the value out of two. So actual numeric value doesn't matter ri

[2019-07-11 09:24] maxceem opened #3161 "[Redesign] Final Fixes"
In this issue, I would like to track the final fixes which have to be done to complete redesign in the https://github.com/appirio-tech/connect-app/tree/feature/redesign branch.

- [ ] Replace icons in the menu
- [ ] Replace "Folder" icon in the files & links manager

[2019-07-11 09:28] maxceem commented on #3161
### Replace icons in the menu

Currently, we don't have SVG files for new icons, so we use a placeholder.

Icons form the latest design cannot be extracted https://marvelapp.com/4acgiai/screen/58136217
Icons from the previous design also can be extracted not all, not enough to cover all the menu items https://marvelapp.com/3h6bdfd/screen/56595828 (only 2 icons for the menu can get from here and us

[2019-07-11 09:31] maxceem commented on #3161
### Replace "Folder" icon in the files & links manager

We don't have an icon for the "Folder" so, for now, we show the default icon which is not intuitive. Cannot extract it from the https://marvelapp.com/4acgiai/screen/58136218.

![image](https://user-images.githubusercontent.com/146016/61039583-9c8e3a00-a401-11e9-953f-31dfb1e45b83.png)

[2019-07-11 09:33] vigneshTheDev commented on #2970
@vikasrohit, Yes. I was able to setup the service. Thanks to @maxceem. I'm drafting out my queries. I'll post them here in a couple of hours.

[2019-07-11 10:33] vikasrohit commented on #2970
Awesome. Good to hear that. Waiting for your queries.

[2019-07-11 12:42] vigneshTheDev commented on #2970
1. If there is a scope change request pending, do we allow changing the project status?
2. Are we trying to implement scope changes only in project level and not in phase (workstream) level right now?
3. Right now, we have to trigger the scope change only from scope tab right? Or should we trigger it from phase specification (https://i.imgur.com/R5qesCH.png) as well?

4. I tried creating a new pro

[2019-07-11 12:47] vigneshTheDev commented on #2970
Currently, my understanding of the workflow stands like this. I'll update this once I get more clarity.
# Change Scope workflow
## Step 1a: Create Scope Change Request
### Prerequisites:
•	No pending change requests for that project with any of these statuses: pending, approved.
•	The project is in one of these statuses: draft, in_review.
### Action: Created by customer:
•	Create the change reques

[2019-07-12 02:55] suppermancool commented on #3158
@RishiRajSahu done in https://github.com/appirio-tech/connect-app/pull/3163

[2019-07-12 02:56] suppermancool commented on #3156
@RishiRajSahu done in https://github.com/appirio-tech/connect-app/pull/3163

[2019-07-12 04:33] suppermancool commented on #3159
@RishiRajSahu done in
https://github.com/appirio-tech/react-components/pull/322

Demo: https://gyazo.com/4ffc2bcc1a78ab908cd204a250bb80b0

[2019-07-12 05:41] RishiRajSahu commented on #3159
@suppermancool as I mentioned we don't need to show values, values will be the deciding factor for position of slider on the sliding bar and we will save value only. please follow this https://connect.topcoder-dev.com/new-project/ds_sprint for understanding the requirement for this slider, we need to understand inclination of user towards kind of solution.

User inclined towards best -
![inclined

[2019-07-12 09:00] maxceem opened #3167 "Hide sections and subSections if they are empty"
Hide sections and subSections during project creation and on the scope page if they are empty.

In particular hide section with add-ons if there are no addons selected.
Example project http://local.topcoder-dev.com:3000/projects/8193/scope

![image](https://user-images.githubusercontent.com/146016/61116184-86967d00-a4c6-11e9-9998-6ced7a92fa8c.png)

[2019-07-12 09:10] PrakashDurlabhji commented on #3167
@maxceem will it be open ?

[2019-07-12 09:12] maxceem commented on #3167
@PrakashDurlabhji I think no.

[2019-07-12 09:13] PrakashDurlabhji commented on #3167
@maxceem no problem

[2019-07-12 09:28] RishiRajSahu opened #3169 "Make Connect forms to support new slider component"
Enable support for new slider component https://github.com/appirio-tech/connect-app/issues/3159 by the project forms on Connect.

[2019-07-12 09:41] vikasrohit commented on #2970
Thanks @vigneshTheDev for the good questions. Here are my answers:

Good catch. Lets keep project status change available for now i.e. don't restrict it based on pending scope change request. I would confirm it with product managers.

Yes. Scope changes in project would drive the budget of existing phase(workstream) or create new workstream with new budget.

Scope change can be triggered from proj

[2019-07-12 09:51] maxceem opened #3170 "[Connect 2.5] Workstreams"
Here I'd like to discuss the new Workstreams functionality in Connect app.

[2019-07-12 09:57] vikasrohit commented on #2970
Your understanding and detailed use cases are also correct except

We don't allow amendment in an existing scope change request except updating its status (as per other cases you listed) or might be title/description in some cases (we don't have such cases identified). All we want is to prevent any user from updating the `change.details` JSON, any time in the life cycle of a ScopeChangeRequest. If

[2019-07-12 10:05] vigneshTheDev commented on #2970
Thank you @vikasrohit. I got some clarity now. I'll revisit the requirements keeping the new info in mind. I'll come back with the estimated effort required in sometime.

[2019-07-12 10:11] maxceem commented on #3170
1. From the new design, I'm a little bit confused about what is the match between `work` and `challenge`.
   As per my understanding one `work` (old phase) may have several challenges inside. Though as per new design when on the [workstream](https://marvelapp.com/54cf844/screen/58835339) we click some work, we see the [next details about work](https://marvelapp.com/54cf844/screen/58834398) which l

[2019-07-12 10:13] maxceem commented on #3149
@vikasrohit this issue is not implemented during cf18, will handle it separately.

[2019-07-12 10:14] maxceem commented on #3132
Sorry @vikasrohit maybe I've confused you with my comment in the PR https://github.com/appirio-tech/connect-app/pull/3168 but this issue is not yet closed :-)

[2019-07-12 10:18] maxceem commented on #3170
3. In the new design, we can edit **Requirements**. Is it same to the challenge specification? I mean would we be able to edit here challenge specification?

    ![image](https://user-images.githubusercontent.com/146016/61121159-248f4500-a4d1-11e9-83dd-46eaa73aaa29.png)

[2019-07-12 10:20] maxceem commented on #3170
4. I'm not 100% sure as probably there are not all designs yet ready. Would we be able to create challenges from Connect using new design instead of Direct?

[2019-07-12 10:28] maxceem commented on #3170
5. **RichTextEditor**. Currently, we are using DraftJs editor to implement an editor for posts. I see there is also a new place for editor coming on the new **Requirements** tab. I'd like raise one issue we have with DraftJs editor - [it's not supported by mobile devices](https://github.com/facebook/draft-js/blob/master/docs/Advanced-Topics-Issues-and-Pitfalls.md#mobile-not-yet-supported).

    As

[2019-07-12 10:28] gets0ul commented on #3132
The bug bash challenge is already finished. Is this still open? Can I work on this?

[2019-07-12 10:32] vikasrohit commented on #3132
I didn't close it myself, it might be github PR merge that caused this. :)

[2019-07-12 10:33] maxceem commented on #3132
@gets0ul it's delayed, but as it is close to being completed, I'm waiting from the current participant to complete it a little bit more.

[2019-07-12 10:53] rashmi73 commented on #3132
@maxceem updating in some time

[2019-07-12 10:58] maxceem commented on #3132
Ok @rashmi73 I'll wait another 24 hours for the solution. If there is no final solution, I would have to un-assign you.

[2019-07-12 11:18] vikasrohit commented on #3170
1. Work looks like a challenge because of the `Requirements` tab, I guess. However, for an atomic requirement set, we might need to launch more than one challenges/tasks. Hence, we have one to many relationship between a work(phase) and work items (challenge/task)

2. Workstream -> No real topcoder entity but it closes matches to deliverable i.e. design,dev,qa,data-science,deploy etc
Work -> Again

[2019-07-12 22:57] rashmi73 commented on #3132
@maxceem it will work perfectly now. updated.

[2019-07-14 14:30] vigneshTheDev commented on #2970
Update: Modified the detailed use cases based on my understanding.

[2019-07-14 14:48] vigneshTheDev commented on #2970
Hi @vikasrohit, I'm summarizing the tasks here. Also, I have some additional queries.

### Additional queries:

// TODO handle new refactored scope form
- Is this requirement in scope right now? Or should we handle this after the new scope form is implemented in issue #2967?

- I assume we don't need delete endpoint neither as we don't have the usecase for that. So, we need only create and update

[2019-07-15 05:43] vikasrohit commented on #2970
Thanks @vigneshTheDev for the details.

However, I think I was not clear about `Step 3: Activate Scope Change Request by Topcoder Finance` in my response. We need to handle that use case, however, what we don't need to do right now is to manage the work streams and budgeting on activation of a scope change request. We do need to merge the `newScope` with the `project.details` when scope change req

[2019-07-15 07:12] maxceem commented on #3128
This issue is fixed in two RPs:
https://github.com/appirio-tech/connect-app/pull/3139
https://github.com/appirio-tech/react-components/pull/321

There is still some edge-case issue:
it can be easily reproduced in FireFox, see demo video https://monosnap.com/file/iOeebmreBl870v73wVPYAKPZVPMKQq
The text is truncated when I quickly add lines using Enter or remove lines using Backspace.

Though it loo

[2019-07-15 07:39] vigneshTheDev commented on #2970
Thank you @vikasrohit. I'm clear with the requirements now. I'll start working on this.

[2019-07-15 08:16] maxceem opened #3176 "Textarea autoresize fails when type Enter or Backspace fast"
This is a follow-up issue for https://github.com/appirio-tech/connect-app/issues/3128.

That issue has been except one edge-case:
- The text is truncated when I quickly add lines using `Enter` or remove lines using `Backspace`.

It can be easily reproduced in FireFox, see demo video https://monosnap.com/file/iOeebmreBl870v73wVPYAKPZVPMKQq

I guess the root reason for this issue is that when we typ

[2019-07-15 08:16] maxceem commented on #3128
Created a follow-up issue for the left edge-case issue: https://github.com/appirio-tech/connect-app/issues/3176

[2019-07-15 08:33] vikasrohit commented on #3128
Thanks @maxceem working better than what we have before this fix. So closing for now.

[2019-07-15 08:33] #3128 closed

[2019-07-15 17:53] vigneshTheDev commented on #2970
Hi @vikasrohit, I found that formsy is not only sending the changes. But all the values of the form -https://youtu.be/Gc1H3eFTYyQ.

Shall I propose to save the details json as it is in the db and deduce the changes while rendering in the ScopeChangeRequest component using this library: https://www.npmjs.com/package/deep-diff

[2019-07-16 06:03] vikasrohit commented on #2970
Gotcha. My understanding was wrong, I guess.  Lets keep the `newScope` as is i.e. don't change it to `scopeChange`. And yes, we might have to use a third party library to deduce the JSON difference. I am good with `deep-diff` as well. Just like you to evaluate two more options quickly before proceeding further:
1. https://github.com/benjamine/jsondiffpatch
2. Without any library, using lodash (ass

[2019-07-16 06:33] vigneshTheDev commented on #2970
Thank you @vikasrohit for the suggestions. I think I can use lodash as we already have the libraries to flatten the objects.

[2019-07-16 07:10] vikasrohit commented on #2970
Lets go with that then, and if you find any blocker with that, go for any of the libraries we discussed above.

[2019-07-16 10:27] vikasrohit commented on #3104
@maxceem it is not working for me on dev. Did we miss any change to be merged?

[2019-07-16 10:29] vikasrohit commented on #3104
I found the reason and committed a fix https://github.com/appirio-tech/connect-app/commit/e90c55e353c9d7a584fc90999c5cd1d46c371a34

[2019-07-16 10:31] maxceem commented on #3104
Yep @vikasrohit, just was about to commit. I guess missed it during moving Project Plan to the Dashboard page.

[2019-07-16 11:59] vikasrohit commented on #3155
Moved to next release

[2019-07-16 12:03] vikasrohit commented on #3051
@maxceem could you please summarize the behaviour which we should expect after this fix?

[2019-07-16 12:12] vikasrohit commented on #3132
@maxceem It is working for create screen only, for updates it is still clearing up the changes made by the user.

Also, there is one more issue which we need to take care in next CF:
- If there is an error in any of screen, going back to the listing page by navigating the navigation menu, it still shows the error page i.e. it does not clears up the error from Redux state.

Could you please separat

[2019-07-16 12:12] #3132 closed

[2019-07-16 12:16] maxceem commented on #3051
@vikasrohit sure:
- we should see a red cue if there is at least one notification `not seen`
- as soon as we open the drop-down, all the notifications are marked as `seen` in Redux store and thus `red` cue disappears immediately.
- In the background, we send a request to the server to mark all notifications as `seen`. If request is successful - all good. If requests to the server fail - we revert

[2019-07-16 12:19] vikasrohit commented on #3051
Thanks for the details. In nutshell, once the red cue is gone (assuming successful server call) and user refreshes the page, user won't see the red cue again until next new notification which was not the case before this fix. Correct me if I am wrong.

[2019-07-16 12:19] maxceem opened #3179 "[$75] [Metadata Management] keep entered data if error occurs during entity updating"
This is follow up from this comment https://github.com/appirio-tech/connect-app/issues/3132#issuecomment-511789890 from the similar issue which we fixed during object creation https://github.com/appirio-tech/connect-app/issues/3132

This issue is valid for all sections in the metadata: Project Templates, Products Templates, Project Types and so on...

### Expected behaviour
When we edit any object

[2019-07-16 12:20] vikasrohit commented on #3161
@maxceem I think it is done now, we can close now.

[2019-07-16 12:21] maxceem opened #3180 "[$45] [Metadata Management] after any error happens, navigating to any other page shows error"
This is follow up from this comment https://github.com/appirio-tech/connect-app/issues/3132#issuecomment-511789890

If there is an error in any of screen, going back to the listing page by navigating the navigation menu, it still shows the error page i.e. it does not clears up the error from Redux state.

Have to create steps to reproduce it.

[2019-07-16 12:21] maxceem commented on #3132
@vikasrohit created separate issues:
https://github.com/appirio-tech/connect-app/issues/3179
https://github.com/appirio-tech/connect-app/issues/3180

[2019-07-16 12:22] maxceem commented on #3161
Yep, closing.

[2019-07-16 12:22] #3161 closed

[2019-07-16 12:24] maxceem commented on #3051
You are correct. Also, red cue may appear again if we get new `not seen` notifications in the background without page reloading.

[2019-07-16 12:28] vikasrohit commented on #3051
Yep. I meant that by `until next new notification` 😬

[2019-07-16 12:31] maxceem commented on #3051
Right, `until next new notification` arrive.

[2019-07-16 23:32] lakshmiathreya opened #3182 "Intermittent - Project listings not displayed"
### Expected behavior
Project listings should be displayed upon login for each user.

### Actual behavior
Intermittently, regardless of user or browser, project listing is not displayed.

### Steps to reproduce the problem
-- Login to http://connect-qa.topcoder-dev.com
-- View Project Listing

### Screenshot/screencast
Attach or link a resource.
<img width="1346" alt="Screen Shot 2019-07-17 at 4 5

[2019-07-16 23:35] lakshmiathreya commented on #3182
@vikasrohit - I am unable to assign, update tag or set milestone etc this issue. Possibly a privilege issue for my  account?

[2019-07-17 04:59] vikasrohit commented on #3182
@lakshmiathreya I just added you with write permissions to the repo, now you should be able to do write operations as well.

[2019-07-17 09:12] vikasrohit commented on #3182
The issue happens intermittently because of network issue at client machine. Browser times out the requests if there is no response in 20000 milliseconds. Trying with different internet connect works in most of the cases.

[2019-07-17 13:20] maxceem opened #3188 "Update links to post in email notfications"
In the last release `2.4.13` we updated URLs for posts inside Connect App.

We should now update links inside post email notifications:

![image](https://user-images.githubusercontent.com/146016/61378716-98b65800-a8d8-11e9-8d27-bc8d6c25f677.png)

So far we are redirecting old links to the new links client-side so no functionality is broken.

fyi @vikasrohit

[2019-07-18 05:01] vikasrohit commented on #3188
Could you please create a corresponding ticket in `tc-notifications` as well?

[2019-07-18 05:06] maxceem commented on #3188
The corresponding issue at `tc-notifications` https://github.com/topcoder-platform/tc-notifications/issues/142

[2019-07-18 07:28] vikasrohit opened #3189 "Unable to activate a phase without explicitly setting start date to today's date"
### Expected behavior
It should activate the phase without error

### Actual behavior
It shows the error that 'START DATE MUST NOT BE AFTER END DATE'

### Steps to reproduce the problem
- Open a project where you have privilege to manage phases
- Create a new phase with any template
- Set the start of the phase to a date in past (e.g. a month ago). This date should be at least n days before today

[2019-07-18 08:33] vigneshTheDev commented on #2970
Hi @vikasrohit, I'm almost done. I'm fixing some minor issues like resetting the project edit form after submitting the change request. I'll raise the pull request in a couple of hours.

[2019-07-18 09:43] RishiRajSahu commented on #3159
Done via https://github.com/appirio-tech/react-components/pull/322

[2019-07-18 09:43] #3159 closed

[2019-07-18 09:44] RishiRajSahu commented on #3158
Fixed and pushed to Prod.

[2019-07-18 09:44] #3158 closed

[2019-07-18 09:45] RishiRajSahu commented on #3169
Done via https://github.com/appirio-tech/connect-app/pull/3171

[2019-07-18 09:45] #3169 closed

[2019-07-18 09:45] RishiRajSahu commented on #3156
Done via https://github.com/appirio-tech/connect-app/pull/3166

[2019-07-18 09:45] #3156 closed

[2019-07-18 12:22] vikasrohit commented on #2970
Thanks for the update @vigneshTheDev

[2019-07-18 15:07] vigneshTheDev commented on #2970
Hi @vikasrohit, I've raised the pull requests. Please review and let me know if any changes are required.

Here are the links to the PRs:
Project service: https://github.com/topcoder-platform/tc-project-service/pull/348
Connect app: https://github.com/appirio-tech/connect-app/pull/3193

[2019-07-18 16:31] lakshmiathreya opened #3194 "On Safari, SSO Login takes user to topcoder.com"
### Expected behavior
Clicking on SSO Login in the invite to the user should take the user to the Connect Join Project page.

### Actual behavior
On Safari, the member is taken to topcoder.com

### Steps to reproduce the problem
-- Create an SSO Project
-- Invite an SSO User for that group
-- Open the invite email in Safari browser
-- Click on the link SSO Login in the email

### Screenshot/screen

[2019-07-18 17:06] lakshmiathreya commented on #3182
Ok closing the issue.

[2019-07-18 17:06] #3182 closed

[2019-07-19 04:01] maxceem commented on #3170
1. > Work looks like a challenge because of the Requirements tab, I guess. However, for an atomic requirement set, we might need to launch more than one challenges/tasks. Hence, we have one to many relationship between a work(phase) and work items (challenge/task)
     There are several things which make one work looks like represent only one challenge:

     ![image](https://user-images.githubuse

[2019-07-19 04:09] maxceem commented on #3170
6. Work will have a tab **Delivery Management** with the ability to manage **Work Timeline**

    ![image](https://user-images.githubusercontent.com/146016/61508674-85f96b80-aa1d-11e9-8a12-2bd19f6adf24.png)

    So far only WorkItems had timelines with milestones. So it looks like now, instead of WorkItems the whole Work would have a timeline with milestones, which we can edit. Is that right?

7.

[2019-07-19 04:11] maxceem commented on #3170
8. On the **Details** and **Requirements** tab we are showing comments. This is the same list of comments for the whole Work it doesn't depend on tab, correct?

    ![image](https://user-images.githubusercontent.com/146016/61508809-28195380-aa1e-11e9-9ad0-fbf43f24feb5.png)

[2019-07-19 04:12] maxceem commented on #3170
9. On the **Design Review** page https://marvelapp.com/54cf844/screen/59214040 we also have a block with comments. Is the same block with comments for the whole Work? Or we have a separate block of comments for the review?

[2019-07-19 04:23] maxceem commented on #3170
5. >Good callout. Can we use https://ckeditor.com/ckeditor-4/demo/ instead of DraftJs for this new UI and it works well for us, we might want to use it for message drafting as well.

    Yeah, I think such an editor would be good choice as it has a long history. Also, there a new 5th version, which let us to customize it like a Google Docs to aim document editing for our challenge specs see [demo]

[2019-07-19 04:37] maxceem commented on #3170
10. As I understand the Work Management functionality will replace old Phase management functionality for new projects. So far I don't see a way on how to distinguish if the project should have phases or works. Do you have any idea here? Should we introduce a new `project.verion = "v3.1"`?

[2019-07-19 05:56] vikasrohit commented on #3189
Verified working fine on prod.

[2019-07-19 05:56] #3189 closed

[2019-07-19 09:40] maxceem opened #3195 "Cannot upload files on the phases specifications tabs"
### Expected behavior
When click **Add File** the dialog for choosing a file shows up.

### Actual behavior
When click **Add File** nothing happens, even no error.

### Steps to reproduce the problem
- Open any project Dahsobard https://connect.topcoder-dev.com/projects/7442
- Open any phase **Specification** tab
- Click **Add File** button.
- Nothing would happen.
- This can be reproduced on DEV

[2019-07-19 09:43] RishiRajSahu opened #3196 "Count for additional managers is overlapped/hidden by the status icon."
for additional managers we show `+ count` which getting overlapped by status icon of the project.

refer the image -
<img width="194" alt="Screen Shot 2019-07-19 at 3 10 50 PM" src="https://user-images.githubusercontent.com/11248478/61526198-9585ae00-aa37-11e9-9c87-ab945406abef.png">

fyi @vikasrohit @maxceem

[2019-07-19 09:58] maxceem commented on #3195
Strange, that for a project with one phase it works in DEV https://connect.topcoder-dev.com/projects/8214 and on PROD https://connect.topcoder.com/projects/11522

[2019-07-19 10:05] maxceem commented on #3195
If we have a project with 2 or more phases, file uploading works only for the first phase, but doesn't work for other phases http://local.topcoder-dev.com:3000/projects/8214.

But for a project with many phases like this one https://connect.topcoder-dev.com/projects/7442, file uploading doesn't work for any phase.

[2019-07-20 06:22] vikasrohit commented on #3196
Yep, it should be fixed as soon as we get rid of the white space created by `Join Project` button's column.

[2019-07-22 03:26] maxceem commented on #3149
This issue has been fixed by PR https://github.com/appirio-tech/connect-app/pull/3175 which is merged to DEV now.

[2019-07-22 05:03] vikasrohit commented on #3195
Good catch @maxceem Do you think we should get it fixed via f2f or we can wait to work on it in CF? IMO, we should get this wrapped before CF because we might not get enough time in this release to run a CF in parallel to other work we are doing.

[2019-07-22 06:31] vikasrohit opened #3202 "Progress bar is showing wrong progress for Final fix milestone"
### Expected behavior
It should show progress from the `actualStartDate` when available.

### Actual behavior
It is counting progress from `startDate` always

### Steps to reproduce the problem
- Open any project where you have permissions to manage phases (Project Plan)
- Create a phase with `Development Iteration - S` template
- Activate the phase
- Mark first milestone completed
- Mark next mil

[2019-07-22 07:21] vikasrohit commented on #3012
Verified and working as per requirements on production.

[2019-07-22 07:21] #3012 closed

[2019-07-22 07:22] vikasrohit commented on #2967
Verified, working as per requirements on production.

[2019-07-22 07:22] #2967 closed

[2019-07-22 07:23] vikasrohit commented on #3126
Verified.

[2019-07-22 07:23] #3126 closed

[2019-07-22 07:24] vikasrohit commented on #3125
Working fine.

[2019-07-22 07:24] #3125 closed

[2019-07-22 07:24] vikasrohit commented on #3050
Released to production.

[2019-07-22 07:24] #3050 closed

[2019-07-22 07:27] vikasrohit commented on #3112
Verified.

[2019-07-22 07:27] #3112 closed

[2019-07-22 07:28] vikasrohit commented on #3104
Working fine.

[2019-07-22 07:28] #3104 closed

[2019-07-22 07:29] vikasrohit commented on #3071
Verified.

[2019-07-22 07:29] #3071 closed

[2019-07-22 07:32] vikasrohit commented on #3100
Verified, working fine on production.

[2019-07-22 07:32] #3100 closed

[2019-07-22 07:34] #3089 closed

[2019-07-22 07:35] #3088 closed

[2019-07-22 07:37] vikasrohit commented on #3047
@maxceem if possible, we need to add more details for more error situations as with our current implementation, the error details that we are showing to user, via the Copy Error details button, are no more than what they see on screen.

[2019-07-22 07:38] vikasrohit commented on #2841
Moving to next release as it is a long term effort.

[2019-07-22 07:38] vikasrohit commented on #3059
Verified.

[2019-07-22 07:38] #3059 closed

[2019-07-22 07:39] #3072 closed

[2019-07-22 07:39] vikasrohit commented on #2710
Moving to next release again as we still don't have green signal to release this feature.

[2019-07-22 07:40] vikasrohit commented on #3016
Forgot to update it earlier. Discussed with product manager, we don't need confirmation alert as we don't remove the attachment until user hits Update button.

[2019-07-22 07:40] #3016 closed

[2019-07-22 08:42] maxceem commented on #3195
Run F2F https://www.topcoder.com/challenges/30096468/

[2019-07-22 12:29] vikasrohit opened #3206 "[$30] Confirmation dialog for cancelling a project is positioned incorrectly at the the top of the side bar"
<img width="305" alt="Screen Shot 2019-07-22 at 5 58 36 PM" src="https://user-images.githubusercontent.com/2417632/61632384-59a64f00-acaa-11e9-929c-7af801273216.png">

fyi @maxceem

[2019-07-23 02:51] maxceem commented on #3188
This issue in `tc-notifications` is fixed via the hotfix https://github.com/topcoder-platform/tc-notifications/pull/143

[2019-07-23 03:09] maxceem opened #3207 "[$50] File permission dialog is not automatically closes on the phases specifications tabs"
### Expected behavior
The dialog for choosing file permissions should be automatically closed and success popup shown in the left bottom corner. Like one this video https://monosnap.com/file/yh68wTTOauS9aTbjkeiyFRCetmnKj0

### Actual behavior
The dialog for choosing file permissions stays opened after choosing permissions and there is no success popup shown in the left bottom corner.

### Steps to

[2019-07-23 03:13] maxceem commented on #3207
You may check project https://connect.topcoder-dev.com/projects/8216/scope as an example when permission dialog is closed automatically if you upload a file on the **Scope** page.

[2019-07-23 03:19] maxceem opened #3208 "[$40] Can click "trough" the file permissions dialog when uploading files"
### Expected behavior
Should click inside the permissions dialog.

### Actual behavior
Click goes under the permission dialog and causes another file uploading dialog.

### Steps to reproduce the problem
- Open any project where you can upload file, for example **Scope** page of the next project https://connect.topcoder-dev.com/projects/8216/scope
- Scroll the page so the file uploading component

[2019-07-23 03:21] maxceem commented on #3208
It would best if we fix this issue generally for the file uploading component in the `react-components` repo. So file uploading component doesn't overlap anything on top of it, not only this particular permissions dialog.

[2019-07-23 03:34] maxceem opened #3209 "Updates with files on the scope tab are not reflected immediately"
### Expected behavior
When add, edit or delete files we should see the results immediately.

### Actual behavior
When add, edit or delete files we don't see the result of our actions immediately and should leave the Scope page and come back to see the changes.

### Steps to reproduce the problem
- Open project **Scope** page, which has file uploading component, for example, this one https://connec

[2019-07-23 05:25] vikasrohit commented on #3208
Nice catch.

[2019-07-23 05:26] #3188 closed

[2019-07-23 06:06] maxceem commented on #3195
This issue is fixed via PR to the React Components repo https://github.com/appirio-tech/react-components/pull/325

Comment about the fix from the winner:

[2019-07-23 06:10] vikasrohit commented on #3051
Working fine on production.

[2019-07-23 06:10] #3051 closed

[2019-07-23 06:18] vikasrohit opened #3210 "[$50] Admins should be able to modify the actual start and completion dates of a milestone"
As of now, we don't allow any one to update the `actualStartDate` and `completionDate` of a milestone. We assume that CA/Copilots would always start the milestones one time and they don't need back entries. However, in practical, many time we need to update the milestones dates to a date in past when copilots/CAs forget to updates the dates of the milestones on time. To facilitate that use case fo

[2019-07-23 06:36] vikasrohit commented on #3195
Working fine on production.

[2019-07-23 06:36] #3195 closed

[2019-07-23 06:39] maxceem opened #3211 "[$50] Avoid reloading file icons in the Assets Library"
### Expected behavior
Icons for files should be loaded only once.

### Actual behavior
Every time when we hide/show some folder on the **Assets Library** page, the icons for files are reloading and blinking.

### Steps to reproduce the problem
- Open any project's **Assets Library** page with some files uploaded, for example, https://connect.topcoder-dev.com/projects/7977/assets
- Observe that ico

[2019-07-23 06:47] #3123 closed

[2019-07-23 07:06] vikasrohit commented on #3170
1. > work can still have only one WorkItem (same like our phases so far have only one PhaseProduct)

    True

    This might not be true because there might be multiple challenges/tasks (which we represent via WorkItem) for a work and there is very high probability of having multiple of them running in parallel.

    As you guessed in your later comment, the timeline on the `Details` tab is the t

[2019-07-23 07:17] vikasrohit commented on #3170
6./7. Yes, it is the timeline of the `Work` not `WorkItem`. However, adding/linking a work item (challenge/task) to the work, may or may not create a milestone in this timeline. It would depend on the type of challenge/task that if we need to add a milestone to the timeline of the work or not. And even if we automatically add a milestone after addition of a new challenge/task to the work, CA/Copil

[2019-07-23 07:32] #3013 closed

[2019-07-23 08:24] maxceem commented on #3170
I think creating one more component for another case for showing discussion would be a dead end. So instead, we may consider creating a reusable component which should be easy to use for any **entity** something like
[code]

And it should also replace existent components for showing posts in the Messages Drawer, kind of like this:
[code]

So `<Discussion>` component should show one topic anywhere:

[2019-07-23 09:29] vikasrohit commented on #2970
@vigneshTheDev do you have updates for the PRs ready?

[2019-07-23 09:35] vikasrohit commented on #3211
Good catch @maxceem

[2019-07-23 10:05] maxceem opened #3212 "[$30] Fix UI for REF on the project details page"
Very long REF goes beyond the screen.

See several examples below.

### 1. Short REF

- Looks good. On the same line as the date. Example: https://connect.topcoder-dev.com/projects/8193

   ![image](https://user-images.githubusercontent.com/146016/61703359-faad0c80-ad73-11e9-9af1-5be8a5ea2891.png)

### 2. Middle REF

- Goes to the next line and creates spaces, which looks not that good. Example: h

[2019-07-23 10:09] vigneshTheDev commented on #2970
@vikasrohit, I've fixed some of the issues you've mentioned and pushed the latest. Some are little difficult. I'm adding the comments in the PRs. I'll try to wrap up by EOD today

[2019-07-23 10:24] vikasrohit commented on #3170
Good observations and suggestions @maxceem. As the development of that generic component would take much time than what we have, we have to go with our another approach for now. It should be similar to how we render the topics for phases right now. Do we have replica of every component related to messages for rendering the phase topics? I think we just have couple of extra components to render a t

[2019-07-23 20:11] gondzo opened #3213 "[$70] Messaging on mobile"
Composing a message in mobile is broken (at least on android). Can't use the editor at all - ex type "thank you." and the text displayed is "t ." and there is no way to delete that text either. I'd suggest just using the raw textarea in mobile

[2019-07-24 05:25] vikasrohit commented on #3213
Thanks @gondzo it seems with new UI changes, it started to render the draft js editor for mobiles as well which was not intended despite the fact that we didn't work on mobile designs for the new UI.

fyi @maxceem

[2019-07-24 05:27] vikasrohit commented on #3212
@maxceem earlier we used to have a max length validation of 7 for ref code, however, that was lifted because of business requirements. I think the best solution is to show ellipsis for any text that exceeds width of 10 characters approximately. We should also show a tooltip with full ref code.

[2019-07-24 05:33] maxceem commented on #3212
I guess we also have to apply a similar fix for the project listing page:

![image](https://user-images.githubusercontent.com/146016/61767635-7dd36e80-ae17-11e9-9c1f-c276cfcd1517.png)

REF code in the table should be one-line only and if it's longer than one line, then it should be truncated with `...` at the end.

[2019-07-24 05:38] vikasrohit commented on #3212
Yes

[2019-07-24 08:03] maxceem opened #3214 "[Connect 2.5] Workstreams - Basic Features"
For the first step of implementing [Workstreams](https://github.com/appirio-tech/connect-app/issues/3170) we can start with the basic features and common structure:
- list workstreams
- display work info which we currently have for phases
- edit work info

[2019-07-24 08:47] maxceem commented on #3214
## Questions regarding workstreams list:

![image](https://user-images.githubusercontent.com/146016/61776040-bf224900-ae2c-11e9-9ac1-50398e845788.png)

1. Currently, workstreams can be only created by admins manually. So all the new project wouldn't have workstreams. Should we implement some logic server-side, so for some new projects Workstreams would be created automatically? And what kind of lo

[2019-07-24 09:07] maxceem opened #3215 "[$100] Tooltip is cut inside dropdown select"
### Expected behavior
Tooltip should be fully visible and go beyond the dropdown select.

### Actual behavior
Tooltip cannot go beyond the dropdown select and is cut.

### Steps to reproduce the problem
- Open any project with a phase which is not started yet, for example https://connect.topcoder-dev.com/projects/8219
- Click `edit` icon for the phase.
- Open the select for the **Status** and hove

[2019-07-24 09:19] maxceem commented on #3214
8. On the work **Requirements** tab we are showing the requirement text editor. You've suggested to add a new field to the **ProjectPhase** model.
    I'd like to confirm that we should add a new field to the model, rather then reusing `details` field of **ProjectPhase**. Though it may have drawbacks, as `details` field is currently controlled by the **Specification form editor** for phases.

[2019-07-24 10:24] vikasrohit opened #3216 "Notification emails showing same user name multiple times"
### Expected behavior
It should group the user name if the same user has done the multiple operations multiple times for the same project.

### Actual behavior
It is rendering user's name for every notification that is grouped for a project

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
<img width="913" alt="Screen Shot 2019-07-24 at 3 52 00 PM" src="https://us

[2019-07-24 10:24] vikasrohit commented on #3216
fyi @maxceem

[2019-07-24 10:59] vikasrohit commented on #3214
1. We need to create work streams at the time of project creation just like we are creating phases as of now. However, going forward with v5 standards, I guess we should create phases/workstreams (or any other related entities) via bus event consumption. In any case, the creation of phase or workstream would depend on the way we decide for determining the way as we are discussing in 10 point of ht

[2019-07-24 11:12] vikasrohit commented on #3214
8. I think adding a new field to the model for `requirements` is better for now. It should not be difficult to move this field to `details` JSON if required. I am trying to avoid using `details` until we have complete picture of new work and old phases.

I don't think we are storing any thing in the phase's `details` JSON, or are we? I am under impression that we are storing the answers of `Specif

[2019-07-25 04:23] maxceem opened #3219 "Error during rendering DraftJS messages when block doesn't have inline content"
If we create a message with only one simbol `>` and after reload the page to make this message rendered, there would be an error:

[code]

[2019-07-25 04:23] maxceem commented on #3219
The root of the issue is that in code we create a block first, and after when we find inline content inside that block we set some properties of the block like text. But if there is no inline content, then such properties of the block stay unutilized which causes an error later as a block is not fully defined.

So the solution is set the default values of properties for the block as it has empty i

[2019-07-25 04:23] maxceem commented on #3219
The issue has been fixed as hotifx https://github.com/appirio-tech/connect-app/pull/3217

[2019-07-25 04:33] #3219 closed

[2019-07-25 05:34] maxceem commented on #3214
Thanks, @vikasrohit.

1. Regarding creating worksreams during project creation and versioning.
   1. I like the idea of having some flag in `details` property to define whether we should use `phases` or `workstreams`. Maybe for such project "features" we may have some reserved place inside `details`, like `details.featuresSupported = { workstreams: true }` or `details.settings = { workstreams: tru

[2019-07-26 06:22] vikasrohit commented on #3214
1. i) Keeping it in project settings might be better because if we keep these settings in `details` we have to make sure that no one, except admins, is able to update those fields by making simple `PATCH` requests which I think might be coupling the JSON structure tightly with project's behavior which is not that problematic, though. And if we keep it in project settings, we would keep such settin

[2019-07-26 06:41] maxceem commented on #3214
@vikasrohit as we don't yet have **ProjectSetting** model implemented, to not depend on the backend I propose to use `details.settings = { workstreams: true }` for now. At the server-side and client-side. And meanwhile, we could think more which way is preferred. And change it after if needed.

[2019-07-26 06:47] maxceem commented on #3214
@vikasrohit that's a good catch regarding `planConfig`. Our current planConfig in the template is referring **PlanConfig** with `config`.

And `config` for now contains the list of phases like this:
[code]

[2019-07-26 07:09] vikasrohit opened #3220 "Error in console `this.isChanged is not a function`"
### Expected behavior
No error should be there

### Actual behavior
Console logs error `this.isChanged is not a function`

### Steps to reproduce the problem
- Load Messages tab for any project
- Hit refresh on the page and notice that there is error in the console

### Screenshot/screencast
<img width="1412" alt="Screen Shot 2019-07-26 at 12 38 59 PM" src="https://user-images.githubusercontent.co

[2019-07-26 07:10] vikasrohit commented on #3220
fyi @maxceem

[2019-07-26 07:13] vikasrohit commented on #3214
Agreed.

for `planConfig`, I think we are no longer need to specify the phases in the `config` for new project templates, we just need that to support old projects templates. So, we might use that `config` variable as per our needs for new templates.

[2019-07-26 07:25] vikasrohit opened #3221 "[Sentry] this.props.onToggle is not a function"
Code snippet from Sentry:

[code]

Breadcrumbs

[code]

[2019-07-26 07:29] vikasrohit commented on #3221
Should be fixed via https://github.com/appirio-tech/connect-app/commit/491f050e8f2c8586e1d466075138e7cc26bd9896

[2019-07-26 07:29] #3221 closed

[2019-07-26 07:34] vikasrohit commented on #3220
Should be fixed with https://github.com/appirio-tech/connect-app/commit/52c769fa08155095bc271269d8ec6dfe57fb0380

[2019-07-26 07:37] maxceem commented on #3214
@vikasrohit that's a good idea regarding `planConfig`.

I would propose to add a property `workstream` inside `planConfig.config`:
[code]

What do you think?

[2019-07-26 09:46] vikasrohit opened #3222 "[Sentry] Cannot read property 'getEntity' of undefined"
Code snippet from sentry:

[code]
[code]

[2019-07-26 09:51] vikasrohit commented on #3222
Seems like this error is quite frequent with another similar error `Cannot read property 'getCharacterList' of undefined` and root cause seems to be that somehow we are passing null or undefined `contentState` whenever calling `Modifier.applyEntity` method e.g. https://github.com/appirio-tech/connect-app/blob/dev/src/components/RichTextArea/LinkPlugin/utils/handlePastedText.js#L83 https://github.c

[2019-07-26 09:53] vikasrohit opened #3223 "[Sentry] Cannot read property 'getCharacterList' of undefined"
Code snippet from sentry

[code]

Breadcrumb
[code]

[2019-07-26 09:56] vikasrohit commented on #3222
@maxceem let me know if you have any idea about this adn #3223

[2019-07-26 09:56] vikasrohit commented on #3214
Looks good to me.

[2019-07-26 10:02] vikasrohit commented on #3220
This issue was causing the unsaved content alert not to be shown even if there is some content unsaved on the page which got fixed after fixing this error.

[2019-07-26 10:02] #3220 closed

[2019-07-26 10:09] vikasrohit opened #3224 "[Sentry] Object doesn't support this action"
Code snippet from Sentry

[code]

This seems to be caused by `dispatchEvent` method of `window` object which is [not supported in IE](https://stackoverflow.com/questions/27176983/dispatchevent-not-working-in-ie11). So, fixing the https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/EditProjectForm/EditProjectForm.jsx#L195 to be browser independent should fix this err

[2019-07-26 10:14] vikasrohit commented on #3224
One more instance where we are using `dispatchEvent` method. https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Dropdown/enhanceDropdown.js#L30

[2019-07-26 10:14] vikasrohit commented on #3224
fyi @maxceem

[2019-07-26 11:10] vikasrohit opened #3225 "[$45] 403 in suggesting users to the Customers while adding members to the team"
Member API allows only specific roles to access the `_search` endpoint which essentially means a regular customer (whose roles is not in the list of allowed roles) can never access the `_search` endpoint. So, every time a customer tries to add a member to their project's team, we get `403` error in console.
We should avoid calling this API when customer is trying to add members to the team.

[2019-07-26 11:10] vikasrohit commented on #3225
Sentry error https://sentry.io/organizations/topcoder/issues/1000936941/events/65073870372/

[2019-07-26 11:11] vikasrohit commented on #3225
fyi @maxceem

[2019-07-29 09:05] vikasrohit opened #3227 "We should allow changing the non scope affecting fields even in restricted statuses"
### Expected behavior
There should be some way, to update the fields which does not affect project's scope (price and time efforts) e.g. project's name, ref code etc.

### Actual behavior
As of now, with our first implementation, we always show `Submit Change Request` button instead of Save button for a project which moves into `reviewed` or above statuses.

--

#### Environment
- OS: Any
- Browse

[2019-07-29 09:12] vikasrohit commented on #3227
@vigneshTheDev as discussed we might need you to work on this as well. We are discussing best way to achieve this, will update once we have the conclusion.

[2019-07-29 11:37] vigneshTheDev commented on #3227
@vikasrohit sure. Please let me know once it's finalized.

[2019-07-30 06:32] vikasrohit opened #3228 "Need to show option value's label/title instead of their values"
### Expected behavior
It should show the text of the question's option (e.g. title or label) when rendering the change log in `ScopeChangeRequest` component.

### Actual behavior
It is showing the `value` of the options

### Steps to reproduce the problem
- Open any project in `reviewed` or above status
- Go to the scope tab
- Change couple of fields like (Screens and/or Devices)
- Submit the chan

[2019-07-30 06:52] vikasrohit opened #3229 "After request creation, scope form resets but the summary labels of the fields does not"
### Expected behavior
Summary labels of the fields in the scope form should also reset themselves, after successful creation of a scope change request.

### Actual behavior
While the fields are reseting themselves to previous state (i.e. without the changes of the scope change request), the summary labels of the fields are still showing the updated values.

### Steps to reproduce the problem
- Go

[2019-07-30 07:00] vikasrohit opened #3230 "Array fields are not being merged correctly after Approving the scope change request"
### Expected behavior
When removing some options of a multi select question while creating scope change request, it should remove those options when `Approving` and `Activating` a scope change request.

### Actual behavior
When removing some options of a multi select question while creating scope change request, it not actually removing those options when `Approving` and `Activating` a scope chang

[2019-07-30 09:41] Gauravseta opened #3231 "Enhancement for Support new Project Templates format"
@Gauravseta You recently participated in this challenge https://www.topcoder.com/challenges/30097730/?type=develop&noncache=true
The winner did a good job and created good reusable methods. He used another approach then you in your submission and he fixed data in the Redux store on data load see https://github.com/appirio-tech/connect-app/blob/feature/metadata-version/src/reducers/templates.js#L92

[2019-07-30 09:47] Gauravseta commented on #3231
@maxceem Kindly assign it to me thank you

[2019-07-30 10:17] Gauravseta commented on #3231
@maxceem PR https://github.com/appirio-tech/connect-app/pull/3232

[2019-07-31 05:36] maxceem opened #3234 "[Connect 2.5] Workstreams - Requirements tab"
On the work requirements tab we are showing the editor https://marvelapp.com/54cf844/screen/59213991

How should we **save** changes to the server? As there is no **save**/**cancel** buttons.

[2019-07-31 05:42] maxceem opened #3235 "[Connect 2.5] Workstreams - Assets tab"
On the work **Assets** tab we are showing files and links https://marvelapp.com/54cf844/screen/59214021

1. Where should they come from?
    At the moment I see two places where they can come from:
     - Comments on **Details** tab
     - Comments on **Requirements** tab
     - any other palce?

2. At the moment we are showing folders in "Assets Library" for topic/phase. But as this **Assets** ta

[2019-07-31 05:57] maxceem opened #3236 "[Metadata Management] Support creating/editing Project/Product templates with external models"
In another https://github.com/appirio-tech/connect-app/issues/3108 we implemented the ability to edit Forms, PriceConfigs and PlanConfig separately. Now we have to add the ability to create and edit Project/Product templates which would use such external models instead properties.

The main question here is: Should we still be able to create Project and Product template with internal fields: `scop

[2019-07-31 05:59] maxceem commented on #3108
@vikasrohit this issue is done. We can manage Forms, PriceConfigs and PlanConfig separately. Now we only have to support creating/editng Project and Product templates using these external models.

This would be tracked in a separate issue https://github.com/appirio-tech/connect-app/issues/3236 while this one I think can be closed.

[2019-07-31 05:59] maxceem commented on #3124
This issue has been fixed as part of the changes done in some challenge, so I'm closing it.

[2019-07-31 05:59] #3124 closed

[2019-07-31 06:30] maxceem opened #3237 "[Connect 2.5] Workstreams - Timeline"
Currently, when we are creating a project, we create timelines and milestones for each phase's product.

In the new work management functionality, we are showing a timeline for the whole work instead of workItems https://marvelapp.com/54cf844/screen/59214005. So we should update [project creating functionality](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/project.js#L2

[2019-07-31 07:13] maxceem commented on #3231
Closing it at it's a part of a bigger task which is tracked in Connect Phase.

[2019-07-31 07:13] #3231 closed

[2019-07-31 09:52] vikasrohit commented on #3234
I think right now it is auto save. We can add our standard buttons (Save and Cancel) below the rich text editor.

[2019-07-31 10:05] vikasrohit commented on #3235
1. Yes, I think those are the only two places (via files/links attache to the posts) from my understanding as well.

2. I think if we release with separate posts for Details and Requirements tab, we can have the name of the tabs (which are essentially going to be the name of the topics for those tabs as well) as folder names.

3. I think we can have the same Add New button in Assets tab as we have

[2019-07-31 10:29] vikasrohit commented on #3237
As I said in https://github.com/topcoder-platform/tc-project-service/issues/358, we don't need to support the phase creation for old projects, we can remove the code for creating timelines and milestones automatically as well for phases.
For work cards, I think we still need to create a timeline on work card creation and I guess we need to think over what default milestones we need to create to su

[2019-08-01 05:58] maxceem commented on #3237
As per the design, by default, we have an empty timeline: https://marvelapp.com/54cf844/screen/59213996. And I think we can start from such approach.

Later, I guess, for the first work of the Design workstream we can create a default timeline for a design challenge as shown on this design https://marvelapp.com/54cf844/screen/59213988. This would require us to think about keeping timeline date in

[2019-08-01 06:36] maxceem commented on #3237
3. When we edit milestone we have 3 buttons to go "back":
    - back
    - cancel
    - close

     When we click "back" or "cancel" we should go back to previous screen where we show timeline. But what happens when we click "close" button? Usually, this button supposes to close the work and bring us back to the Dashboard page. Should we also close work and got to Dashboard from here?

    ![image

[2019-08-01 06:53] maxceem commented on #3237
4. What should be the possible values for milestone type. I see the next list:
     - phase-specification: Phase Specification
     - community-work: Community Work
     - checkpoint-review: Checkpoint Review
     - final-designs: Final Designs
     - final-fix: Final Fixes

[2019-08-01 06:56] maxceem commented on #3237
5. @vikasrohit so far I see this new timeline with milestones as only decorative way to show the timeline. I don't see how it would be connected and reflect the actual work done except copilot regularly updates it to reflect the current situation. Would be there any kind automatization of timeline/milestone which automatically reflect some actual work progress?

[2019-08-01 07:11] maxceem opened #3238 "[Connect 2.5] Workstreams - Challenges and Task management"
We are implementing the ability to manage challenges and tasks associated with work:

![image](https://user-images.githubusercontent.com/146016/62272852-a9d19e00-b46e-11e9-86da-8b146a742ae3.png)

[2019-08-01 07:21] maxceem commented on #3238
1. Where should the budget available come from?
    ![image](https://user-images.githubusercontent.com/146016/62272898-c8379980-b46e-11e9-9b4e-a9b43291c99e.png)

2. As I understand here we show the list of `workItems` (phaseProducts) for the work.

    ![image](https://user-images.githubusercontent.com/146016/62273233-9a9f2000-b46f-11e9-967b-c125d6b83779.png)

2. If the above is true, where do we

[2019-08-01 07:36] maxceem opened #3239 "[Connect 2.5] Workstreams - Design Review"
We have to implement UI to review design inside works. And here we can discuss the requirements.

[2019-08-01 07:38] maxceem commented on #3239
1. In the new design, I see the UI for reviewing design submissions. But I don't see the UI for copilots to add such design submissions. How we would add them before letting a customer to review them?

[2019-08-01 07:45] maxceem commented on #3239
2. When we provide feedback we use a rich text editor as per design https://marvelapp.com/54cf844/screen/59214106
     That's good for copilots, so they can see the formatted text in Connect. Though as I understand copilots after share the feedback with the members. And I'm not sure how they do this. If they post the feedback on the forum then, formating would be lost. Thus it's better to not let

[2019-08-01 07:47] maxceem commented on #3239
3. Customers can choose up to 5 works on this page https://marvelapp.com/54cf844/screen/59214106 or edit placement on this page https://marvelapp.com/54cf844/screen/59214115.
    How customers can mark the review as complete? I guess it shouldn't be automatically as we never know if a customer already did the final decision, or still thinking and wants to change anything.

[2019-08-01 09:49] maxceem opened #3240 "[Connect 2.5] Workstreams - Config"
When we are creating a new project with a Project Template which supports workstreams we have the next config at the moment:
[code]

[2019-08-01 09:55] maxceem commented on #3240
Such a config let us create only workstreams so far, without works inside. Should we also support creating works inside like this?
[code]

[2019-08-01 10:47] vikasrohit commented on #3237
Sorry @maxceem it took time to reply to the queries.

1. It is tricky and I think it is most confusing part for timelines as well because there are multiple ways people read a timeline and milestones. Most of the time milestone in a timeline is just a point, while we treat them as timespan on the timeline. So, it makes things more difficult to understand.
For now, I think we can create a timeline

[2019-08-01 10:51] vikasrohit commented on #3237
3. Lets close the work card on close icon click.

4. Although the only milestone type I can see practically being used in new UI is design-review (checkpoint-review or final-designs), lets keep the support for all existing ones as is.

5. Agreed. I think we need to have the buttons for manual control of milestones even after automation.

[2019-08-01 11:04] vikasrohit commented on #3238
1. We need to total the amount of `project_estimations_items ` records where `type` is `community` (or whatever we have it finally for community price item) and `building-block`'s `metadata.deliverable` is the type of the workstream.

2. Yes

3. This list would be populated from the challenge API based on keyword entered by the user. Tricky situation is when we don't have any text entered by the u

[2019-08-01 11:51] vikasrohit commented on #3239
1. Good catch. For now, can we use our existing way to add design submission?

2. I think most of the copilots does not do simply copy paste of the feedback to the members. They parse the feedback and explain that to the members in probably a different way. So, I guess, we can keep the customer feedback formatted for the copilots/CAs.

3. Just fyi, https://marvelapp.com/54cf844/screen/59214106 is

[2019-08-01 12:22] vikasrohit commented on #3240
Not now. We would keep it simple for now.

[2019-08-02 06:04] #3230 closed

[2019-08-02 08:22] maxceem commented on #3240
Ok. I'm closing this issues as we are not going to implement it for now.

[2019-08-02 08:22] #3240 closed

[2019-08-02 09:18] maxceem commented on #3239
I think that wouldn't work. In the old UI, we add one link per design. But in the new UI we should add
- submission preview
- submission title
- several links

![image](https://user-images.githubusercontent.com/146016/62359352-35b7f880-b549-11e9-9456-17396578afc7.png)

Maybe I can run parallel challenges to upload the list of submission and to review submissions. If one challenge to do both things

[2019-08-02 09:29] maxceem commented on #3238
3. Here I'm not yet understood.

a) By default show the challenges which are listed by `My Challenges` filter in Connect App. - This is clear. I guess we can do.

b) I didn't get this case. If we already added the project to the work card, there is no need to show it again in the list `for adding` new challenges.

Let's say that we show a list of `My Challenges`. When we enter a word here should w

[2019-08-02 09:49] #3228 closed

[2019-08-02 09:49] #3229 closed

[2019-08-02 10:11] vikasrohit commented on #3238
We are not adding a project to the work card, we are adding a challenge to a work card. And what I meant is that after first challenge is added to the work card, if user tries to add second challenge/task to the same card, we can assume that most probably that challenge/task would also belong to the same direct project and we can list challenges from that direct project only by default as suggesti

[2019-08-02 10:14] vikasrohit commented on #3239
Yep, that is my intent. I meant that we have to use something similar from our existing designs. I have asked the product managers and they are getting the designs worked by design team. So, we have to just assume a very simple design to achieve this for now, which we can improve later on, once we have the designs.

[2019-08-02 10:24] vikasrohit commented on #3236
If it is very easy to keep old functionality of creating project/product templates with internal fields, we can keep it to have options as backup plan in case some thing wrong happens with our refactoring. Otherwise, we can skip this support for new project/product templates.

[2019-08-02 10:25] #3108 closed

[2019-08-05 05:06] maxceem commented on #3238
5. Is there any way to remove WorkItems? So far I don't see such a feature in UI.

[2019-08-05 05:28] maxceem commented on #3238
6. > When user types some keyword, we would filter from all challenges. I think we need to have some kind of indication that by default we are showing only My Challenges

      Do you think there would be the case where we would like to associate not `my challenge` with some work? I think all the challenges which are run as a part of Projects where I'm a participant are treated as `my challenge`.

[2019-08-05 06:08] maxceem commented on #3238
7. For the "Manage details" link we should open page for editing the challenge in the new challenge editor. So far I see such a link doesn't use a standard challenge id `https://challenges.topcoder-dev.com/projects/127/challenges/0ef8064f-41da-4cfb-ae98-07919a26b01e/edit`. How do we get this another challenge id to format such a URL?

[2019-08-05 06:31] maxceem commented on #3238
8. When we add some challenges we also show their total community fee. But the API for searching challenges returns only prizes for submitters without review and copilot fees https://api.topcoder.com/v4/challenges/?filter=status%3DACTIVE&limit=50&offset=0

    Is there any API where we can get challenges together with total community fee?

    ![image](https://user-images.githubusercontent.com/146

[2019-08-05 06:49] maxceem commented on #3238
9. I guess we should not show challenge on the list, for which we already added WorkItems, right?

[2019-08-05 07:44] maxceem commented on #3238
10. For the functionality of creating new challenges, we are showing some list of Product Templates.
      ![image](https://user-images.githubusercontent.com/146016/62445311-88d0bc00-b792-11e9-953c-93f6d14d638b.png)

     We should be able to somehow filter some Product Template, as we don't show all of them here. Should we create for this purpose a new category "Challenges"? While we could still

[2019-08-05 08:23] maxceem commented on #3238
14. Could you please give me a hint about where to find the information on which API to use for new challenge creation?

[2019-08-05 11:48] vikasrohit commented on #3238
5. Lets keep the deletion of workstream as admin feature and we can collect all such admin features for immediate next release to the bing bang release.

6. > Do you think there would be the case where we would like to associate not my challenge with some work?

Ideally, it should not. But lets keep it open for all challenges for now.

7. Lets open the direct challenge for now. We would do the int

[2019-08-05 11:57] vikasrohit commented on #3238
14. Shared the swagger of the v4 docs with you on Slack.

[2019-08-06 02:29] maxceem opened #3244 "[Connect 2.5.1] Workstreams - After release"
Here I would keep features, we decided not to include in the first release 2.5 but release after in 2.5.1.

[2019-08-06 02:52] maxceem commented on #3238
5. > Lets keep the deletion of workstream as admin feature and we can collect all such admin features for immediate next release to the bing bang release.

     Did you mean `WorkItems`, not `WorkStreams` right? As my questions was about deleting `WorkItems`, other words about deleting challenges from the work.

13. > Your workaround seems workable to me. However, do you think if simply use the su

[2019-08-06 03:29] maxceem commented on #3238
6. > Do you think there would be the case where we would like to associate not my challenge with some work?

    My main intention is to keep the logic here straightforward and kind of intuitive for users. Showing `my challenges` by default and switch to all challenges when filtering feels like could bring some confusion for users.

    Also, showing top 10 challenges by default also feels like no

[2019-08-06 03:32] maxceem commented on #3238
6. After writing the above I think the next approach would work:
    - add switcher `my challenges` under the search field
    - by default `my challnges` switch is enabled
    - when we filter the challenges, the switch for `my challenges` statys enabled
    - if user want to search all the challenges he should toggle `my challenges` switch manually
    - the disadvantage: if user don't have any

[2019-08-06 04:18] maxceem commented on #3238
8. Looks like Direct the pricing details by calling `POST https://www.topcoder.com/direct/contest/detailJson` with body value `projectId: 30098353`. It returns quite a big JSON, and it has the total value called `paidFee` which includes prizes, copilot fee and planned review fee.

   The disadvantage is, that we have to call such endpoint per each challenge individually, to get the price and we us

[2019-08-06 04:59] maxceem commented on #3238
15. For creating a new challenge we can use the next endpoint ` POST-https://api.topcoder-dev.com/v4/challenges`.
      The minimal set of properties whcih it requires is the next one:
[code]

       Please, let me know what you think about the values for new challenges above, I've added a comment for each of them.

[2019-08-06 05:48] vikasrohit opened #3245 "Pick countries list from the common module instead of recreating one"
@maxceem we need to use https://github.com/appirio-tech/ng-iso-constants/blob/dev/src/ng-iso-constants/services/iso-3166.js just like we are doing in registration pages instead of having a separate list of countries https://github.com/appirio-tech/connect-app/blob/dev/src/routes/settings/constants/settings.js.

[2019-08-06 06:19] maxceem opened #3246 "[Metadata Management] show empty value by default in selects"
### Expected behavior
Show empty value in select by default when creating new objects.

### Actual behavior
Show the first value in select by default.

### Steps to reproduce the problem
- Go to metadata editing UI http://local.topcoder-dev.com:3000/metadata/projectTemplates
- Start creating any kind of template which has select dropdown with options to choose
- By default, it would show that the

[2019-08-06 06:53] maxceem commented on #3238
16. One more thing regarding question 6 about showing the list of challenges. The API returns not more than 50 challenges per call. So in case if we show all the challenges we would have to do at least 2 requests in production.
      1. Should we wait until we load all the challenges before showing them? This could lead to longer delay.
      2. Or should we show the next portion as soon as it's l

[2019-08-06 07:15] vikasrohit commented on #3238
Oh, I read it as `WorkStreams` and meant that only. I think we do need a way to remove an associated challenge from a Work object. So, I think we can add a simple `X` icon somewhere on the list of the `WorkItem` or have some kind of action menu for each item where we can have delete/remove as operation

Do you mean that `productKey` of the product templates would follow this pattern `challenge-{su

[2019-08-06 07:24] vikasrohit commented on #3238
8. I think the endpoints you listed are not full fledged APIs but rather some workarounds in the direct app itself. They won't be scalable at all. So, I think there are only two possible solutions for now:
a) Look for v4 challenge api, if that provides the total price of a challenge, if price is available only my challenges, it is good as well. We can show `N/A` for non my challenges.
b) Skip show

[2019-08-06 07:37] vikasrohit commented on #3238
15. Mapping looks good to me. We can set `registrationStartsAt` today plus 1-2 days. For `milestoneId` let me check with the concerned team, meanwhile by pass it with the fake value, may be we can create a milestone in one of our direct projects and refer it in all challenges so that we can at least control the name of the milestone.

16. I think infinite scroll like notifications would resolve al

[2019-08-06 08:19] maxceem commented on #3238
18. Previously we've discussed, that we should filter challenges server-side when user types something into the search field. Though, I've found out that challenge API doesnt' have such kind of general search. Here is the filter description from swagger:

[2019-08-06 08:28] vikasrohit commented on #3238
18. Search by `name` should be okay for now.

[2019-08-07 03:58] maxceem commented on #3238
19. After I've added some demo Product Templates for challenges which we can create for works. They are also displayed on the add phase page:

       ![image](https://user-images.githubusercontent.com/146016/62593623-0b2fbc00-b90a-11e9-94fd-a9fdde2acb8e.png)

      Previously, you've mentioned that we have to remove all existent Product Templates, and use new Product Templates for creating challen

[2019-08-07 04:44] maxceem commented on #3238
20. I think there should be some way of creating the timeline automatically, for example for a design challenge. Probably with the ability to edit after, though, there are actually some format of the timeline we should follow for the design challenge timeline. If you can recall, before `review` milestone we should have `add-links` milestone. So first we add the links for review, and after we mark

[2019-08-07 04:46] maxceem commented on #3238
20. I think there should be some way of creating the timeline automatically, for example for a design challenge. Probably with the ability to edit after, though, there are actually some format of the timeline we should follow for the design challenge timeline. If you can recall, before `review` milestone we should have `add-links` milestone. So first we add the links for review, and after we mark

[2019-08-07 05:30] vikasrohit commented on #3238
19. > Don't show on the add phase page product template with challenges subCategory?

This is the way to go.

[2019-08-07 06:42] maxceem commented on #3239
@vikasrohit I'm proposing the next design for adding design links:

![image](https://user-images.githubusercontent.com/146016/62600404-5bfedf00-b921-11e9-88dc-d00e583f4690.png)

[2019-08-07 09:50] vikasrohit commented on #3238
20. I think we should keep our `add-links` type milestone for backward compatibility, however, just like we have two modes for `checkpoint-review` and `design-review` milestones, we can either have two modes for `community-work` or better have a new type `design-work` and have the ability to add links in that same milestone for copilots and CAs at any point in time when the milestone is active. Th

[2019-08-07 10:02] maxceem commented on #3238
20. I think it's better to have only one way of handling review in the new functionality as we can choose the best way now. Also, I think we are not obligated to keep compatibility with old milestone types in the new functionality. As we would always have projects either with phases or with workstreams. So we can use the same or different milestone types. Though it's still better to keep the same

[2019-08-07 10:42] vikasrohit commented on #3238
I think we can still skip the logic of making sure that one or more milestones are always added or removed together. I mean, if we just add the new milestone type `design-work` or add the capability of asking for adding links in `community-work` milestone, we can add this milestone and `checkpoin-review` or `final-designs` milestone together whenever a design challenge is added to the work. Now, l

[2019-08-07 11:16] vikasrohit commented on #3238
@maxceem After discussing with @RishiRajSahu we found following as approach to proceed further:
1. Add new milestone type `design-work` to support addition of submission links always available for CA/Copilots, when the milestone is active. This is to avoid at least 1 day being wasted in the timeline by adding `add-links` milestone before every `review` type milestone.
2. Now, on the front end crea

[2019-08-07 11:24] vikasrohit commented on #3239
I am good with the designs. Thanks for the extra efforts @maxceem

[2019-08-08 04:04] maxceem opened #3249 "Post editor: don't allow to render arbitrary HTML"
If we insert some HTML code to any post, the HTML is rendered but I think it shouldn't be and it should be displayed as a text with encoded HTML symbols.

I guess we have it rendered because we support richtext editing.

For example, create a post with the next content:
[code]

It would be rendered like this:

![image](https://user-images.githubusercontent.com/146016/62674268-4bf40780-b9d4-11e9-9a

[2019-08-08 04:54] maxceem commented on #3238
1. > Add new milestone type design-work to support addition of submission links always available for CA/Copilots, when the milestone is active. This is to avoid at least 1 day being wasted in the timeline by adding add-links milestone before every review type milestone.

    Hmm. I'm not sure what would be the difference between the `design-work` and `add-links`. As I see they both should be alway

[2019-08-08 05:06] vikasrohit commented on #3249
IMO, we should be good to render the HTML because we are already sanitizing the content for dangerous content. If user wants to past the HTML as code, they can do that by including code block.

Further, the error you saw is appearing in many other cases as well @maxceem which I think is appearing because of some other reason just like we had the weird issue because of NPE in `draftjs-helper` modul

[2019-08-08 05:12] maxceem commented on #3238
18. > Search by name should be okay for now. Can we have regular expression or wild card based searching with name?

     As per my testing - we cannot. I don't have access to the source code to check it more.

[2019-08-08 05:19] maxceem commented on #3249
Oh yeah, your are right.

We can insert the HTML code as code in text editor by using the code style button:

![image](https://user-images.githubusercontent.com/146016/62676937-0db01580-b9df-11e9-8f0a-b75d03b66eb0.png)

it would be rendered as expected:

![image](https://user-images.githubusercontent.com/146016/62676953-16085080-b9df-11e9-8712-990ddf121fb5.png)

I'm closing this issue for now. As

[2019-08-08 05:19] #3249 closed

[2019-08-08 05:27] vikasrohit commented on #3238
1. Yes, I guess practically `add-links` and `design-work` would end up in showing same behaviour (does `add-links` shows progress bar to the customer?), however, theoretically `add-links` is not supposed to have any work being in done in that milestone while the `design-work` would have an ongoing work and will give the copilot/CA capability of adding designs at any given time while milestone is a

[2019-08-08 05:31] maxceem commented on #3238
Go it regarding `design-work` and  `add-links` - yeah, completely agree.

[2019-08-08 05:44] vikasrohit commented on #3238
2. Yes, essentially it is just composing the same two milestones which would have been rendered without this composite component, however, it provides the opportunity of handling the `onDelete` event of these two milestones. Can HOC help us here without having this composite component?

3. Okay. I think creating the composite component as discussed above, is essentially doing that, right?

4. I th

[2019-08-08 05:45] maxceem commented on #3239
5. Regarding the RichTextEditor which we should use during the review https://marvelapp.com/54cf844/screen/59214106. As I see, the component which we have in Connect App for editing RichText is quite hard to reuse and it's tailored for comments. So as it's not easy to reuse it, I would prefer not to include it to the challenge for implementing main review functionality as it's already quite comple

[2019-08-08 05:53] maxceem commented on #3238
Thanks for detailed example @vikasrohit. As I see from above comment https://github.com/appirio-tech/connect-app/issues/3238#issuecomment-519373755. The only purpose of the composite component is to prevent deleting only one of milestones `design-work` and `review` when they are together.

I really like the idea of a HOC instead of a composite component. We can wrap all the milestones, and such HO

[2019-08-08 05:58] vikasrohit commented on #3238
5. > i) Should we populate the timeline automatically when we are creating a new workItem for Design challenge?

Yes, but we need to populate the timeline of the work not of the work item. And if it is the first work item being added and there is no milestone existing already (please note user might have created a milestone manually before adding a work item), we need to create the timeline for th

[2019-08-08 05:58] maxceem commented on #3238
6. One more thought comes to my mind. So far it's not easy to control the order of milestones with our UI. Let's say if copilot created `design-review` milestone which starts today and we are showing the warning, that such milestone wouldn't work without `design-work` in front of it. Now the copilot clicks the button to add a new milestone, and he should put it in front. For this purpose, he shoul

[2019-08-08 06:06] vikasrohit commented on #3238
6. Yep, that is something tricky and I have that on my list of question to be asked to the product managers today. IMO, we can use `order` field of the `milestone` model to ease this operation by simply adding an order selector in Edit Milestone screen and auto adjusting the dates of all of the milestones accordingly. If that is something product managers do not agree, I think we still need to aut

[2019-08-08 06:07] maxceem commented on #3238
5. > Yes, but we need to populate the timeline of the work not of the work item.

     Yes, I meant that we should populate the timeline of the `work` when we add design `workItem`.

     That's what I meant. We should be able define milestone templates for specific Product Templates. So when we are adding a `workItem` with `ProductTemaplte` which has assosiated milestone templates - we should pop

[2019-08-08 06:10] vikasrohit commented on #3238
we should just add milestones from workItems Product Template no matter if there are any milestones in `work`s timeline. It is upto the user to delete any of the newly added milestones.
In nutshell, our existing logic of having milestone templates linked with product templates is good enough to have this use case fulfilled, only thing is that we won't have `Start` and `End` milestones for new prod

[2019-08-08 06:12] maxceem commented on #3238
Got it. Should we add milestones to the `work` timeline, only when we are creating the first `workItem`? Or any `wokrItme` which has milestone templates associated?

[2019-08-08 06:22] vikasrohit commented on #3238
For any workItem which has milestone template associated.

[2019-08-08 06:28] vikasrohit commented on #3239
I think we would need the feature to manage the requirements in `2.5`. How difficult it is to simply use a new rich text editor which we evaluated earlier and just use that for Requirements tab of work card and general feedback of review milestone?

btw, I was looking at the `RichTextEditor` component and I found it not much coupled with comments except https://github.com/appirio-tech/connect-app/

[2019-08-08 06:53] maxceem commented on #3234
@vikasrohit as we never use autosave I think it could be not intuitive that it's autosaved. So it feels that it's better to keep the same behavior at all the places. Having said that I'm thinking maybe we should show the requirements as rendered text like during review with the `edit` button? Like this:

![image](https://user-images.githubusercontent.com/146016/62681354-18bd7280-b9ec-11e9-899a-a7f

[2019-08-08 07:02] vikasrohit commented on #3234
Agreed.

[2019-08-08 07:13] maxceem commented on #3239
I'm not sure yet. So I would prefer to start with a single place on the requirements tab. And if works good, we may use it for other places.
Also, there is one tricky moment. Currently, our editor saves data in markdown format. The `ckeditor5` supports it as an experimental feature and still suggests to stick to the HTML format for storing richtext data https://ckeditor.com/docs/ckeditor5/latest/f

[2019-08-08 07:24] vikasrohit commented on #3239
Good catch before implementing the CKEditor. I would prefer using our own RichTextEditor for Requirements tab as well once we are able to decouple it from comments completely.