[2019-03-18 09:00] vikasrohit commented on #2926
Done. Deployed to dev. Can be tested by following code block in `project.js` reducer:

[code]

[2019-03-18 09:00] #2926 closed

[2019-03-18 09:05] vikasrohit opened #2928 "Message API should not break when userId of project members is null"
### Expected behavior
Even if `userId` is null in project.members records, API should return the response of topics of the projects for other users. It might throw 403 for the user whose record is having null `userId`, however, other users in the project should be able to load the topics correctly.

### Actual behavior
It is failing the complete request with `500` error when at least one of the `p

[2019-03-18 09:15] vikasrohit commented on #2928
Done. Should not fail the message api call when the userId is null for one of the project members.

[2019-03-18 09:15] #2928 closed

[2019-03-18 09:16] vikasrohit commented on #2922
Patched and verified on production.

[2019-03-18 09:16] #2922 closed

[2019-03-19 05:51] maxceem commented on #2894
@vikasrohit

As per requirements copilots should see all the projects listed on dashboard that they are invited too no matter what status is (same like for other users).

Another requirement as I understand related to project datils page. Copilots should be able to access them if they are invited and project in `Reviewed` status.

1. Currently, when a user is invited and clicks on the project to s

[2019-03-19 06:09] vikasrohit commented on #2894
@maxceem I think the language might be slightly confusing here. All we want now is to have the same capability for copilots as we have for customers i.e. copilots can see any project they are part of or are invited to. For invited projects, copilot need to accept the invite as with other users.
If there are cases where you think it is beneficial for a copilot to have a look on the project before a

[2019-03-19 06:18] maxceem commented on #2894
Thank you! It's clear now.

After a copilot leaves the project he still [stays at as a copilot in the Direct](https://github.com/appirio-tech/connect-app/issues/2807) and should contact support to get unassigned. Otherwise, he would get notifications from Direct.

Sure, I'll add this question for the next Copilot meeting.

Thanks

[2019-03-19 07:51] maxceem commented on #2894
Done via https://github.com/topcoder-platform/tc-project-service/pull/279

[2019-03-19 09:54] vikasrohit commented on #2920
Closing the issue for now as we are not seeing any more instances of this issue now.

[2019-03-19 10:27] vikasrohit commented on #2842
Yep, Agreed. Do you think you can take this after the refactoring and versioning of our metadata entities?

[2019-03-19 10:30] maxceem commented on #2842
Yes, I think I can address it together with the spec for UI editor for templates. As both of these tasks require a detailed overview of the features we have in our templates.

[2019-03-19 11:09] vikasrohit commented on #2175
@maxceem can we work on this now?

[2019-03-19 11:16] maxceem commented on #2175
@vikasrohit yeah, will take care about it.

[2019-03-20 02:36] maxceem commented on #2815
@vikasrohit  At the moment posts are not shown at the Phases discussion tabs on DEV, see https://connect.topcoder-dev.com/projects/7489/plan:

![image](https://user-images.githubusercontent.com/146016/54655205-0190ed80-4afc-11e9-9de6-d14e1422e113.png)

Could it be connected with this PR? https://github.com/appirio-tech/connect-app/pull/2840

[2019-03-20 05:16] vikasrohit commented on #2815
Fully probable. Good catch. Do you think you would be able to look at it?

[2019-03-20 05:19] maxceem commented on #2175
@vikasrohit I've created a PR for tc message service: https://github.com/appirio-tech/tc-message-service/pull/87

Currently, `tc-notifications` service already includes the whole message payload into notification content https://github.com/topcoder-platform/tc-notifications/blob/dev/src/app.js#L53

So the notification content will look like this:
[code]

So I propose to not extract `phaseId` insid

[2019-03-20 05:21] vikasrohit commented on #2175
Yep, Agreed. We are already in efforts to decouple the `tc-notifications` from connect specific logic. So, this would help in those efforts.

[2019-03-20 05:24] vikasrohit commented on #2815
I think it fetching the posts for the phase discussions correctly, only thing is that the phase card is not picking up those discussions.

[2019-03-20 05:35] vikasrohit opened #2930 "Allow adding/removing of team members even after project completion"
This is for the tracking purposes @RishiRajSahu. I am not sure if we already allow this, however, this is after getting confirmation from product team in our last call. So, if we already have this in place, nothing to do else we have to allow this case.

[2019-03-20 05:51] maxceem commented on #2815
I can run a small F2F for this if you want. Too much things to do.

[2019-03-20 05:53] vikasrohit commented on #2815
No worries. I can debug it today.

[2019-03-20 14:33] vikasrohit commented on #2920
It seems we are still seeing the issue. Noticed the same issue on production with timestamp `2019-03-20 01:26:09+00`

[2019-03-22 08:31] vikasrohit commented on #2815
@maxceem I have patched the code for the issue. Let me know if you are still seeing any issue.

[2019-03-22 10:09] maxceem commented on #2815
Works good to me!

[2019-03-25 09:42] vikasrohit commented on #2920
Applied next patch to fix the issue and we haven't received any reporting (by users or sentry) of the same issue after that. So, closing for now.

[2019-03-25 09:42] #2920 closed

[2019-03-25 10:11] RishiRajSahu commented on #2180
Designs for showing admins privileged topics -

![image (1)](https://user-images.githubusercontent.com/11248478/54911347-4bbb0a00-4f14-11e9-8207-ed89dcf827e6.png)

[2019-03-26 04:59] maxceem commented on #2881
@vikasrohit this is already in DEV, probably may be closed.

[2019-03-26 05:31] maxceem opened #2932 "Extract expression evaluate method to a separate module"
Currently, we are having `evaluate` method implemented inside Connect App https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/dependentQuestionsHelper.js

1. As we are going to use it in other repositories we should extract it to a separate repository. This method should be moved together with other helper methods inside https://github.com/appirio-tech/connect-app/blob/dev/src/helpers

[2019-03-26 07:23] vikasrohit commented on #2932
Agreed. However, I would like to take care of 2 after we move the evaluator to stand alone library and we update our connect app to use that library and we implement the authorization using the expressions/conditions, in tc-message-service.

Also, just fyi, we do have support for finding an object in an array of JSON objects with JSON query. Please see [this](https://github.com/appirio-tech/connec

[2019-03-26 10:16] vikasrohit commented on #2881
Yes, working  fine. Verified.

[2019-03-26 10:16] #2881 closed

[2019-03-26 11:07] vikasrohit commented on #2876
Verified. Closing.

[2019-03-26 11:07] #2876 closed

[2019-03-26 11:08] vikasrohit commented on #2800
Working as per requirements. Closing.

[2019-03-26 11:08] #2800 closed

[2019-03-26 11:09] #2528 closed

[2019-03-26 11:09] #2529 closed

[2019-03-26 11:09] #2530 closed

[2019-03-26 11:09] #2532 closed

[2019-03-26 11:13] vikasrohit commented on #1370
Closing this as with new team management interface, now managers can invite other managers as well.

[2019-03-26 11:13] #1370 closed

[2019-03-26 11:15] vikasrohit commented on #2455
@maxceem Do you think we can take this one in next CF?

[2019-03-26 11:24] maxceem commented on #2455
@vikasrohit yes, as we already fixed message service to send required data.

[2019-03-26 12:20] vikasrohit commented on #2455
Great!! Please feel free to include it in CF.

[2019-03-27 03:21] maxceem commented on #2932
@vikasrohit yeah, makes sense.
Do you think we should create a new repository and extract evaluate methods first for Connect App?

[2019-03-27 06:09] vikasrohit commented on #2932
Yes, and I would like to get that library accessible via `npm install` command i.e. publish that to the npm repo. I would look for the topcoder npm access and publish that to the npm registry, once we have the scripts for doing that in the new repo.

[2019-03-27 06:15] vikasrohit commented on #2932
@maxceem created the new repo https://github.com/topcoder-platform/expression-evaluator

Also, just as reference, for the using third party library for expression parsing, I found https://github.com/soney/jsep which might be good alternative as well.

[2019-03-27 10:53] vikasrohit opened #2933 "[$90] [Team Management] - Use semicolon and space to select the email/handle"
### Expected behavior
As soon as user enters `;` or hits SPACE key after entering email, while inviting a member, it should select the entered email as email to be invited.
We should apply the same behaviour when user is inviting via handle as well.

### Actual behavior
As of now, it only selects the entered email when user clicks on the `Create` link/button in the auto suggest dropdown.

### Step

[2019-03-27 10:57] vikasrohit commented on #2930
Just checked, we are already having this behaviour implemented. So, no changes required.

fyi @RishiRajSahu

[2019-03-27 10:57] #2930 closed

[2019-03-27 11:14] vikasrohit commented on #2894
@maxceem I think this requirement is still missing:

[2019-03-27 11:18] maxceem commented on #2894
Oh, yeah, forgot to comment about it. Do we really need this update as copilots still can see projects in `Reviewed` state if they are members of such projects or invited to. Looks like now this state is not differ from any other state filter.

[2019-03-28 07:13] vikasrohit commented on #2894
Agreed. However, I was under impression that we don't have the search facility for copilots yet. 😬 But I think we enabled that some time back and it skipped from my mind. I think now the requirements seems complete to me. Closing the issue.

[2019-03-28 07:13] #2894 closed

[2019-03-29 03:14] maxceem commented on #2175
@vikasrohit I think we can treat this issue as fixed:
- we send `tags` from message service now and get in Connect App
- in this commit https://github.com/appirio-tech/connect-app/commit/8dcd19220114016b3376f9e6d7d59f609ce4ceac I've implemented conditional routing depend on if notification for `dashboard post` or `phase post`

For now, notification about `phase post` scrolls to the phase, but not

[2019-03-29 03:18] maxceem commented on #2932
@vikasrohit if https://github.com/soney/jsep library is sufficient for our needs probably we don't have to create our own repository for our implementation. Would you like explore if that library is sufficient for us and move to it instead in such case?

[2019-03-29 06:08] vikasrohit commented on #2175
👍

[2019-03-29 06:08] #2175 closed

[2019-03-29 06:09] vikasrohit commented on #2575
@maxceem where are we blocked for this one now? Can we unblock it and include it in our CF challenge?

[2019-03-29 06:10] maxceem commented on #2575
Unblocked and added to cf-pipeline.

[2019-03-29 06:12] vikasrohit commented on #2932
I think [jsep](https://github.com/soney/jsep) is only creating expression tree for the expression. I am not sure about this. So, I think we should move with our own repo and then reference that library every where within our applications. We might need to support some addition features for the third library in future, so it is better to keep it abstract via our own library.

[2019-03-29 06:20] maxceem commented on #2932
Ok, so first we extract and reuse our lib in Connect app and Message Service for permission control. And will come back to evaluate function itself later.

[2019-03-29 06:38] maxceem commented on #2903
@RishiRajSahu what do you think should happened if parser finds out that parenthesis are not balanced?
- just log error and return `undefined` as a result of operation so other functionality is not broken? (easier)
- or throw error and code which uses it should take care about catching exception? (more correct way)

[2019-03-29 06:43] maxceem commented on #2834
@vikasrohit there is not link to design provided in this issue. Should we remove it from CF pipeline for now?

[2019-03-29 06:51] RishiRajSahu commented on #2834
@maxceem yep, we haven't yet got the final designs. removing cf tag.

[2019-03-29 06:53] RishiRajSahu commented on #2903
@maxceem I also more inclined toward throwing error and blocking because hiding it via undefined might sometime result in false positive scenarios and make the dependent question feature for project form buggy. So, If we have error thrown we might discover it during testing in dev.

[2019-03-29 11:14] maxceem commented on #2878
@RishiRajSahu I've tried to reproduce it, but couldn't, see video https://monosnap.com/file/hqaercYdPNs6HV6hv7fFZcOmMBMaNm.
Could you share any details, maybe video?

[2019-03-29 11:17] maxceem commented on #2856
@vikasrohit looks like this is an invalid issues and can be closed.

[2019-03-29 11:22] maxceem commented on #2791
@vikasrohit This issue might have been fixed by this PR https://github.com/appirio-tech/connect-app/pull/2871. Are there any new instances of this error after the previous release `2.4.10`?

[2019-03-29 11:27] maxceem commented on #2180
@RishiRajSahu Looks like there are no yet backend changes to support this feature. Let me know if you want to proceed with backend changes first. But I guess we would handle them outside of this CF.

[2019-04-01 07:34] vikasrohit commented on #2856
@maxceem I think there are two things that needed to handled inn this case:

1. We have to keep the complete file section hidden if there is no files section in project's scope. https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/ProjectInfoContainer.js#L232 is the code which does this, however, I think right now it just removes the `+` button not the complete files

[2019-04-01 07:38] vikasrohit commented on #2791
@maxceem Yes, we have seen the issue in sentry after `2.4.10` release. However, it has been 14 days now since last occurrence of this issue. If it does not seems to workable for now, please exclude it from the CF, we can take it back in later.

[2019-04-01 07:55] maxceem commented on #2791
Ok, I'm excluding this for now. As by logic this error should never happen. And if it still happens it would be good to understand the root of the issue and fix it rather than gracefully handle the error.

[2019-04-01 10:41] maxceem commented on #2933
Sum up:
- To reproduce the issue can use a user `pshah_manager` and for example this project https://connect.topcoder-dev.com/projects/7959
- To open two possible dialog to invite user click link `Manage` on the left sidebar:

    ![image](https://user-images.githubusercontent.com/146016/55321984-978a2800-54ad-11e9-9907-eab220a0a00b.png)

[2019-04-01 11:04] maxceem commented on #2927
It looks like this issues can generalised to the next one:
1. When we invite a member and after we are trying to invite it again in the same dialog, we get an error as expected:

     ![image](https://user-images.githubusercontent.com/146016/55322613-6874b600-54af-11e9-8c3e-68bc04506af9.png)

2. But if we invited one member in one dialog and after we invite a member again in another dialog, we don

[2019-04-01 11:12] maxceem commented on #2916
Sum up:
- Looks like of the error is here https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/project.js#L253
For this issue it would the best to do two things:
- find out the possible root of this issue
- instead of hiding the error at the line where this error has been logged, fix the issue as close to the root as possible

[2019-04-01 11:16] maxceem commented on #2903
Sum up:
- function [evaluate()](https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/dependentQuestionsHelper.js#L153) should check that parenthesis are balanced
- we should create unit tests with examples of expression with unbalanced parenthesis and check that function throws an error. (Try to provide helpful information about error position in the expression if possible).

[2019-04-01 11:18] maxceem commented on #2900
Sum up:
- Looks like line of the error is here https://github.com/appirio-tech/connect-app/blob/dev/src/projects/create/components/ProjectWizard.jsx#L249
For this issue it would the best to do two things:
- find out the possible root of this issue
- instead of hiding the error at the line where this error has been logged, fix the issue as close to the root as possible

[2019-04-01 11:22] maxceem commented on #2899
Sum up:
- Looks like line of the error is here https://github.com/appirio-tech/connect-app/blob/dev/src/projects/reducers/project.js#L517 or here https://github.com/appirio-tech/connect-app/blob/dev/src/projects/reducers/project.js#L531
For this issue it would the best to do two things:
- find out the possible root of this issue and add it as a comment to the issue for future references
- instead

[2019-04-01 11:23] Gauravseta commented on #2900
@maxceem are these going to be open for pickup soon?

[2019-04-01 11:30] maxceem commented on #2900
@Gauravseta they are still under the consideration, but most likely yes.

[2019-04-01 11:45] maxceem commented on #2896
Sum up:
- We have button to delete files on the scope tab, see https://connect.topcoder-dev.com/projects/7959/scope

    ![image](https://user-images.githubusercontent.com/146016/55324980-387ce100-54b6-11e9-91b7-2e53f535445d.png)

- We already show a delete button for links in the sidebar:

    ![image](https://user-images.githubusercontent.com/146016/55325011-59ddcd00-54b6-11e9-88d4-1f10543664d4.

[2019-04-01 11:54] maxceem commented on #2710
Sum up:
- Currently, we enabled the ability to change email for all users, see https://connect.topcoder-dev.com/settings/account

   ![image](https://user-images.githubusercontent.com/146016/55325186-d96b9c00-54b6-11e9-83f6-3887cd44a8a2.png)

- Instead, only customer users should be able to change their email here. For the rest of users email field should be disabled.

@RishiRajSahu do I understan

[2019-04-02 00:45] maxceem commented on #2897
@vikasrohit do you prefer only hide the UI elements in the sidebar or also remove it? It looks like we are not going to use it, and just in case could restore it from the repo history.

[2019-04-02 01:04] maxceem commented on #2927
@RishiRajSahu I think we can check all these cases client-side and show validation error just inside the popup rather than alert, what do you think?

[2019-04-02 03:56] maxceem commented on #2575
At the moment when we click notification about post for the phase we:
- navigated to the phase tab
- scroll to the phase
- open Discussion tab

The only thing we don't do at the moment is:
- scroll to a particular comment on the phase as it's done for comments on the dashboard

To accomplish it we should do several things:
- change `PHASE_POST` (https://github.com/appirio-tech/connect-app/blob/dev

[2019-04-02 04:04] maxceem commented on #2177
Sum up:
This issue can be handled after changes in https://github.com/appirio-tech/connect-app/issues/2575#issuecomment-478834793

#### Main goal
When another user creates a new post on the Dashboard tab or at the Phase we can get a notification about this. But when we will click such notification, we couldn't see the post, because the post is not yet loaded by itself. So when we navigate to some

[2019-04-02 06:17] RishiRajSahu commented on #2927
@maxceem yep we need to handle the cases mentioned, I too meant the error alert inside the popup(which we are seeing in  **1.**). Feel free to modify the language.

[2019-04-02 06:21] RishiRajSahu commented on #2878
@maxceem try uploading and then editing the visibilty for members for this project https://connect.topcoder.com/projects/7306/plan of ours. I just reproduced it.

[2019-04-02 06:21] RishiRajSahu commented on #2878
@maxceem updated the title and description to be more precise.

[2019-04-02 06:26] RishiRajSahu commented on #2897
@maxceem As per me we can remove them.

[2019-04-02 06:27] maxceem commented on #2878
@RishiRajSahu hmm, I cannot edit file I've uploaded there https://monosnap.com/file/8xlakE6v1SIQibYS1dIiQdPYZr0mm6

Looks like there is couple of issues, and this one is server-side.

[2019-04-02 06:29] vikasrohit commented on #2791
@maxceem It just appeared again.

[code]

[2019-04-02 06:30] maxceem commented on #2791
@vikasrohit ok, thanks! Will add it to the CF.

[2019-04-02 06:31] RishiRajSahu commented on #2878
@maxceem oh ! that seems a different thing, we can create a separate issue for that, you seeing this on dev as well or only on prod ?

[2019-04-02 06:38] maxceem commented on #2791
Sum up:
- Looks like line of the error is here https://github.com/appirio-tech/connect-app/blob/cf16/src/projects/detail/ProjectDetail.jsx#L57
For this issue it would the best to do two things:
- find out the possible root of this issue and add it as a comment to the issue for future references
- instead of hiding the error at the line where this error has been logged, fix the issue as close to th

[2019-04-02 06:46] maxceem commented on #2878
@RishiRajSahu same on DEV for `pshah_copilot`, tested with this project https://connect.topcoder-dev.com/projects/7959.

Created a new issue on project service https://github.com/topcoder-platform/tc-project-service/issues/286.

I've just tried and now get the same error for `pshah_manager`, but cannot reproduce your issue. Can reproduce your issue on DEV somehow?

[2019-04-02 09:39] ajefts opened #2934 "[$70] Newest message displays at the top of thread"
Objective: Inverse the order that messages are displayed in a thread, so that the newest message is displayed at the top of the thread and then subsequent messages are displayed in descending order from newest to oldest. The "load earlier messages" button should be moved to the bottom of the thread and will be displayed after the five most-recent messages.

[2019-04-02 09:39] ajefts commented on #2934
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1744834

[2019-04-02 09:42] vikasrohit commented on #2934
@maxceem let me know if you have any query. I would like to include it in bug bash.

[2019-04-02 10:16] ajefts opened #2935 "[$35] Segment customer/copilot dashboard by project status"
Enable customer/copilots to review all of their assigned projects by same segmentation as Topcoder experience, where projects are grouped under the following subsections:

- All Projects

- Draft

- In Review

- Active

- Paused

- Cancelled

[2019-04-02 10:16] ajefts commented on #2935
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1671992

[2019-04-02 10:21] RishiRajSahu commented on #2878
@maxceem yes this project https://connect.topcoder-dev.com/projects/7442

[2019-04-04 10:22] vikasrohit commented on #2935
@maxceem I think we already have this feature enabled for copilots now, only thing to take care is the customer view.

[2019-04-04 10:23] ajefts opened #2936 "[$60] Notification badges on project cards"
In the all project dashboard, the project card should have notification badges for the following events:

1) The count of new @ mention messages or a new post in a discussion that they have been previously mentioned in.

<p></p>

[2019-04-04 10:23] ajefts commented on #2936
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1695157

[2019-04-04 10:49] vikasrohit commented on #2936
@maxceem fyi, this is about showing, on the project listing page, a separate visual cue for projects having any discussions related pending notifications.

[2019-04-04 10:58] vikasrohit commented on #2180
@maxceem we don't need any new backend support for this feature as we already have feature of non customer messages. It was an old feature where we used to show such discussions in a separate tab called `Discussions`. It is still visible for few of the old projects. What we need to do is to render those messages in the project dashboard with the new UI and only for non customers. We also need to p

[2019-04-04 11:01] vikasrohit commented on #2180
Link to feature: https://tcprod.productboard.com/roadmap/251630-roadmap/features/1671343

[2019-04-04 11:32] maxceem opened #2937 "Show links from the posts in the sidebar"
From @vikasrohit

We want to identify that if user has pasted a link to a file or a general hyperlink in a post/thread. And if we identify while user is writing the message, we would create a proper object of link or file in our system so that we can render that link or file in the left bar of the project. We can treat the title of the thread as title of the link/file and the actual URL typed/past

[2019-04-04 11:34] maxceem commented on #2937
As I understand we have to choose a way how we would determine if the link we have pasted should be treated as a link or as a file.

Most likely we would have to download the linked resource and check its mime type or something like that.

[2019-04-05 07:13] vikasrohit commented on #2180
To unblock the issue @maxceem, we are going to have a simple checkbox (with label `Private`) just before the `Post` button. This would be visible for only topcoder team (copilots and managers) and selecting this checkbox would just change the `tag` of the topic to be posted as `SECONDARY` which are the posts we treat as non customer talks.
Also, we need to put the backend validation as well to pre

[2019-04-05 10:26] RishiRajSahu commented on #2710
@maxceem yep customers are defined as ones who only have single role - `Topcoder User`

[2019-04-08 04:57] maxceem commented on #2180
Got it, thank you @vikasrohit

1. For the old Discussion tab we currently use tag `MESSAGES`, should we keep using it, or use `SECONDARY` for private topics?

2. Should we somehow be able to switch `private`/`non-private` topic after creating it?

3. Is it possible to get the source for locker icon for private posts?
    ![image](https://user-images.githubusercontent.com/146016/55699482-a3ba3c00-5

[2019-04-08 05:16] maxceem commented on #2934
@vikasrohit

1. where should we keep the field to enter a new post?

    ![image](https://user-images.githubusercontent.com/146016/55699787-0fe96f80-59ff-11e9-8122-3034b017b473.png)
    If we keep it at the bottom like it's done now it could be a little bit not comfortable as it would be far from the last message we are responding to.
   Not sure if it would also feel good if we move it up and wou

[2019-04-08 05:22] maxceem commented on #2935
Sum up:

Customer users now don't have filters by project statues:

![image](https://user-images.githubusercontent.com/146016/55700200-ecbfbf80-5a00-11e9-9d7b-c99122c1c0a4.png)

They should have filters for project statuses like other users (see green rectangle):

![image](https://user-images.githubusercontent.com/146016/55700250-1bd63100-5a01-11e9-9d46-623a0466be4d.png)

Demo customer user: `psha

[2019-04-08 05:49] maxceem commented on #2936
@vikasrohit

We can take into account inside badges next things:
- `notifications.connect.project.topic.created` - new topics
- `notifications.connect.project.post.created` - new posts
- `notifications.connect.project.post.edited` - post edited
- `notifications.connect.project.post.mention` - posts the current user

So we can form badges based on these notification types.

But so far we cannot do

[2019-04-08 05:51] RishiRajSahu commented on #2180
@maxceem
1.Okay, Let's use `MESSAGES` only.
2.No, as per me that won't be a case, even if it is in future we would be able to switch as its just the value of tag we have to change via PATCH
3.Sure, I will get it from vic.
4.Yes, for now it is out.

[2019-04-08 06:02] maxceem commented on #2878
Got it. This issues can only be reproduced using admin user. For all non-admin users I get an error `Only admins and the user that uploaded the docs can modify` https://github.com/topcoder-platform/tc-project-service/issues/286

[2019-04-08 07:13] maxceem opened #2938 "[$40] Editing existing file title changes another file title"
### Expected behavior
When we edit the title of the second file we should change the title of that file.

### Actual behavior
When we edit the title of the second file we change the title of the first file instead.

### Steps to reproduce the problem
- Use `pshah_manger` user create a new `App` project https://connect.topcoder-dev.com/new-project/app
- Upload file 1
- Upload file 2
- Change the ti

[2019-04-08 07:15] maxceem commented on #2878
@RishiRajSahu I've found out another way of reproducing the same issue as you have, but it's not blocked by project service so we can fix during CF https://github.com/appirio-tech/connect-app/issues/2938

If fixing that issues wouldn't fix this one, we will come back to it, but I think this issue would be fixed as I think they have the same root.

[2019-04-08 07:34] maxceem commented on #2937
@vikasrohit

1. If we detect that link leads to a file it looks like we would need to download it and upload to S3 bucket which may take some time. As an alternative we can change our attachment implementation in project service to support third-party links to files. It would make this feature almost instant, but such links to files could get broken if files are removed in these third party locati

[2019-04-08 08:47] RishiRajSahu commented on #2878
@maxceem okay we will go with your plan.

[2019-04-08 09:26] RishiRajSahu commented on #2937
@maxceem my thoughts on above, so there are two parts of problem, **what we need** & **how to achieve**

**what we need**

1.If its a web URL and target for the url is file, it doesn't needs to be downloaded implicitly via code & then upload to s3 as file, **it will be treated as link only not file**.
2.If user is pasting link, whose target is file/webpage/googledoc we just have to identify that l

[2019-04-08 09:42] maxceem commented on #2937
As per your input I understand there would be 3 cases:
- we paste a link (URL) - no matter where URL leads to we will add it as a link. We can additionally try detect its type (general/googledoc/github/image/pdf) to show an icon
- we can implement drag & drop functionality for files
- I guess we can also implement copy/paste functionality for files, so user can copy some file on local machine and

[2019-04-08 10:22] RishiRajSahu commented on #2937
@maxceem yeah the cases mentioned are appropriate. I will get back to after having a word with product team on this, which is about, whether we should upload a file to S3(it will require to have access mechanism with all team members) or simply always treat a URL as link(avoiding upload) ?

[2019-04-09 02:10] maxceem commented on #2604
@RishiRajSahu it looks like these URLs are generated not in notification service but in some service which sends emails, but I cannot find out which service does it. Looks like it's `tc-email-service` but I don't see templates there which actually build these emails. Could you, please, help me with this?

[2019-04-09 02:50] maxceem commented on #2180
Thank you @RishiRajSahu

Do you have any preferences where to put a `Private` checkbox in the mobile view?

![image](https://user-images.githubusercontent.com/146016/55769985-4255a400-5ab5-11e9-890f-064bd7b84d08.png)

[2019-04-09 05:15] RishiRajSahu commented on #2180
@maxceem thanks for bringing it up, shall we ask in a small popup after hitting post button saying '**Is it a private thread ?**' for copilots and managers, what say ?

[2019-04-09 05:16] RishiRajSahu commented on #2604
@maxceem I think you are looking for this https://github.com/topcoder-platform/tc-notifications/tree/dev/emails/src/partials

[2019-04-09 05:51] maxceem commented on #2455
@vikasrohit I've done in this PR https://github.com/appirio-tech/connect-app/pull/2939 for all three tabs `Timeline` (done and tested), `Discussion` (was done before - tested), `Specification` (done, but this case never happens as we don't have anything to edit on this tab to trigger this kind of notifications)

There is one tricky moment regarding the `Timeline` tab. When we expand phase, the `Ti

[2019-04-09 05:56] maxceem commented on #2180
@RishiRajSahu yes should work. As an alternative I can think is to add one more toolbar line on top of `Post` with a switcher `Private.

![image](https://user-images.githubusercontent.com/146016/55776402-32e35480-5acf-11e9-8190-c1b63e91c41c.png)

It would a little bit reduce the space for message text though.

[2019-04-09 10:18] RishiRajSahu commented on #2841
@maxceem can we include this as a part of CF ? we can define difference sections of connect in different git issues or git checklist so that there are no bugs as its a impacting change

[2019-04-09 10:44] maxceem commented on #2841
@RishiRajSahu
Do you think we should let the community to define names for the permissions by themselves from the code context, or should we create a list of all possible permissions first?

Also, I've noticed that here, we use `checkPermission` method which is combined with the old way of checking permission in the same line https://github.com/appirio-tech/connect-app/blob/feature/phase-tabs-noti

[2019-04-09 11:10] RishiRajSahu commented on #2841
@maxceem good point, I think the list of possible permissions should not be high only the places where they need to be put are lot, so I would like to rephrase my previous comment here, `so not only different sections we need to define but also the different possible permissions`

we are trying to completely remove using variables, it might be intentional as might requires defining new rules.

I t

[2019-04-11 05:16] maxceem commented on #2856
See the last comment above for the final task.

[2019-04-11 05:28] sumitdaga commented on #2856
Please assign it to.me thanks

[2019-04-11 05:29] maxceem commented on #2856
done

[2019-04-11 05:29] mfikria commented on #2938
@maxceem is this ticket open for public?

[2019-04-11 05:30] applehit16 commented on #2575
I'll take this one

[2019-04-11 05:30] maxceem commented on #2938
Yes, it's open for everyone to pick up as a part of this Bug Bash challenge https://www.topcoder.com/challenges/30088391

Please, check the rules if you'd like to part.

[2019-04-11 05:32] mfikria commented on #2938
@maxceem okay i take this one

[2019-04-11 05:33] gurmeetb commented on #2933
@maxceem plz assign me not able to self assign

[2019-04-11 05:34] maxceem commented on #2575
@applehit16 it's on you since you commented as per our Bug Bash rules. To keep it clear I can assign you to this issue in the UI. For this, please accept the invitation to this repository which you should get to your email.

[2019-04-11 05:34] maxceem commented on #2938
@mfikria it's on you since you commented as per our Bug Bash rules. To keep it clear I can assign you to this issue in the UI. For this, please accept the invitation to this repository which you should get to your email.

[2019-04-11 05:35] maxceem commented on #2933
done

[2019-04-11 05:39] omegatao commented on #2927
I will take this one

[2019-04-11 05:45] PrakashDurlabhji commented on #2900
@maxceem i will work on this

[2019-04-11 05:46] rashmi73 commented on #2935
@maxceem please give this to me thank you

[2019-04-11 05:48] maxceem commented on #2927
@omegatao it's on you since you commented as per our Bug Bash rules. To keep it clear I can assign you to this issue in the UI. For this, please accept the invitation to this repository which you should get to your email.

[2019-04-11 05:48] Gauravseta commented on #2710
@maxceem please assign this to me thanks

[2019-04-11 05:48] maxceem commented on #2900
sure

[2019-04-11 05:49] maxceem commented on #2935
on you since your comment

[2019-04-11 05:49] maxceem commented on #2710
done

[2019-04-11 05:50] khushimehta03 commented on #2899
@maxceem i want to work on this

[2019-04-11 05:51] prasadadarkar30 commented on #2896
kindly give it to me @maxceem

[2019-04-11 06:09] sumitdaga commented on #2856
@maxceem
Ready for review , PR at #2940

[2019-04-11 06:09] sumitdaga commented on #2903
@maxceem
please asign it to me!

[2019-04-11 06:16] maxceem commented on #2899
sure, it's on you since your comment

[2019-04-11 06:19] maxceem commented on #2896
done

[2019-04-11 06:20] maxceem commented on #2903
done

[2019-04-11 07:43] sumitdaga commented on #2903
@maxceem
https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/dependentQuestionsHelper.js#L26
the stack class's pop function has an issue ...it does not update the `items` property of the class ...i am using the stack class to print the indexes of unbalanced parens and thus noticed the issue ..
i will fix it as part of this issue ?

[2019-04-11 08:00] kevinkid commented on #2897
Can i self assign @maxceem ?

[2019-04-11 08:08] maxceem commented on #2903
@sumitdaga it's not required to fix an issue with `items`, it looks like the Stack still works correctly, it just keeps unnecessary items.

I think this Stack class appeared during the proof of concept implementation and left as it is. It's not required to replace it with JS array, but if you think it helps to implement this feature, you may replace it with JS array.

[2019-04-11 08:11] maxceem commented on #2897
As per our current Bug Bash rules for Connect repo https://www.topcoder.com/challenges/30088391 we cannot let members self-assign to the issues.
Instead, as soon as you comment on the issue which is open for pick up it is treated as assigned to you.

To keep it clear, please accept the invitation to this repo which you must get to your email and I'll assign you to this issue to keep it clear.

Tha

[2019-04-11 08:23] sumitdaga commented on #2903
@maxceem

as for this, since we are loopping tokens , it is easier to provide tokenIndex at which there is an unbalanced parenthesis and providing index at expression is a bit more tricky ...
i have pushed a PR at #2941  just so you could check it
i will update it as needed!

thanks

[2019-04-11 08:24] sumitdaga commented on #2916
@maxceem
can you assign it to me please?

[2019-04-11 08:26] kevinkid commented on #2897
okey am working on it

[2019-04-11 08:30] maxceem commented on #2916
done

[2019-04-11 08:43] mfikria commented on #2938
@maxceem resolved in https://github.com/appirio-tech/connect-app/pull/2942. The problem is when editing the attachment it refers to the index instead to the attachment id

[2019-04-11 08:43] simranb86 commented on #2791
hey @maxceem can you assign this to me?

[2019-04-11 08:48] maxceem commented on #2791
done

[2019-04-11 08:54] mfikria commented on #2938
Note that i try this with local api-backend because i've got error when use https://api.topcoder-dev.com/v4/projects/ https://monosnap.com/file/vmcmjMnSXeDG7FRJ8UtnbQrchap0CO seems something's wrong with dev elasticsearch

[2019-04-11 08:57] maxceem commented on #2938
@mfikria great! thank you for using local deployment. We are aware of the issue with Project Service and trying to get it back as soon as possible.

[2019-04-11 10:09] gurmeetb commented on #2933
@maxceem I don't see any projects - am I missing something? I followed `Run locally for development` in README.

[2019-04-11 10:26] maxceem commented on #2933
There is some issue with Project Service on DEV. Working to fix it.

Will updated as soon as it’s back, see https://apps.topcoder.com/forums/?module=Thread&threadID=934455&mc=2#2330163

[2019-04-11 10:40] gurmeetb commented on #2933
@maxceem Do we also need similar behaviour for `Topcoder Team Management`?

[2019-04-11 11:07] sumitdaga commented on #2916
@maxceem
i think the issue is caused in this function https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/projectHelper.js#L223
are milestones certain to have non-null `startDate` and `endDate`?
most likely the issue i think comes from here  https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/projectHelper.js#L232
what do you think ?

[2019-04-11 13:25] sumitdaga commented on #2916
btw any idea why this just keeps loading https://connect.topcoder-dev.com/projects/7855/add-phase
why is `/phases` endpoint throwing 404 for this project ?

[2019-04-11 13:35] gurmeetb commented on #2933
@maxceem It’s done and ready for review.

[2019-04-11 13:48] maxceem commented on #2916
Could be some issue during project creating. Do you have to know the reason for that issue? Or you need a project where it works? For example, it works for this project https://connect.topcoder-dev.com/projects/7968/plan

[2019-04-11 13:55] sumitdaga commented on #2916
i thought i needed a project with no phases and then add a phase to it ...but its not needed
can you answer the above https://github.com/appirio-tech/connect-app/issues/2916#issuecomment-482070554 ?

[2019-04-11 14:52] maxceem commented on #2916
I think we don't have such projects where we don't have phases but can add some in production. Such a project can be in DEV if something went wrong during testing.

I guess in that line it checks endData of the phase not a milestone.
Technically endDate can be null https://github.com/topcoder-platform/tc-project-service/blob/dev/src/models/projectPhase.js#L11. But during project creation here http

[2019-04-11 18:22] rashmi73 commented on #2935
@maxceem few more minutes

[2019-04-11 21:57] rashmi73 commented on #2935
@maxceem ready for review https://github.com/appirio-tech/connect-app/pull/2944

[2019-04-11 22:12] PrakashDurlabhji commented on #2900
@maxceem ready https://github.com/appirio-tech/connect-app/pull/2945

[2019-04-11 22:20] khushimehta03 commented on #2899
@maxceem not able to find root cause, releasing it. this is open if anyone wishes to take it

[2019-04-11 22:21] rashmi73 commented on #2899
@maxceem kindly give this to me thank you started working on it

[2019-04-11 22:50] Gauravseta commented on #2710
@maxceem it is ready https://github.com/appirio-tech/connect-app/pull/2946.

but i guess pshah_customer is no more a customer. because it gives other roles too in its user object. so i guess a new customer account is required

[2019-04-11 22:54] rashmi73 commented on #2899
@maxceem ready for review https://github.com/appirio-tech/connect-app/pull/2947

[2019-04-11 22:58] prasadadarkar30 commented on #2896
@maxceem opening it because not able to find exact file

[2019-04-11 22:59] PrakashDurlabhji commented on #2896
@maxceem I am taking this thanks

[2019-04-12 02:05] gurmeetb commented on #2927
@maxceem can i pick this up if @omegatao is not able to push PR?

[2019-04-12 04:54] applehit16 commented on #2575
Since the dev api was down yesterday, and I didn't find myself have time to look into this. Feel free to unassign from me.

[2019-04-12 04:56] sumitdaga commented on #2575
Can you please assign this to.me @maxceem ?

[2019-04-12 04:57] sumitdaga commented on #2916
And unassigned me from this one. Can't figure out the exact reason

[2019-04-12 05:08] rashmi73 commented on #2916
@maxceem please assign this to me thanks

[2019-04-12 05:23] omegatao commented on #2927
this is harder than I think, according to the rule feel free to take it.

[2019-04-12 05:29] gurmeetb commented on #2927
@omegato if you are already on it, take some more time to complete it. If not, i will take it. Thanks

[2019-04-12 05:38] omegatao commented on #2927
@gurmeetb I encountered some trouble setting up the environment, so you can take it now.

[2019-04-12 05:59] gurmeetb commented on #2927
Thanks @omegatao

@maxceem can you kindly re-assign this to me?

[2019-04-12 07:17] maxceem commented on #2575
Thank you for update @applehit16.

@sumitdaga it's on you.

[2019-04-12 07:18] maxceem commented on #2916
Thanks for update @sumitdaga.

@rashmi73 it's on you.

[2019-04-12 07:19] maxceem commented on #2927
Thanks for update @omegatao.

It's on you @gurmeetb.

[2019-04-12 07:23] maxceem commented on #2897
As no PR has been risen for 12 hours and no update provided, this issue is now open for pick up.

[2019-04-12 07:24] mfikria commented on #2897
@maxceem i want to work on this

[2019-04-12 07:24] maxceem commented on #2791
As no PR has been risen for 12 hours and no update provided, this issue is now open for pick up.

[2019-04-12 07:25] maxceem commented on #2897
Sure, it's on you.

[2019-04-12 07:27] maxceem commented on #2180
@RishiRajSahu when you have time, have look on this question. Which way do you prefer?

[2019-04-12 07:32] trushita23 commented on #2791
Hi, can I work on this

[2019-04-12 07:34] maxceem commented on #2791
@trushita23 it's on you since you commented as per our Bug Bash rules. To keep it clear I can assign you to this issue in the UI. For this, please accept the invitation to this repository which you should get to your email.

[2019-04-12 09:39] sumitdaga commented on #2575
@maxceem
by post we mean scroll to a specific comment right ?
but a specific comment in the discussions tab has id like `commnet-{id}`  ...isn't it ?

[2019-04-12 10:07] maxceem commented on #2575
right. In this task we are talking about posts/comments on the `Project Plan` tab, which are placed on the `Discussion` tabs of the Phases.

![image](https://user-images.githubusercontent.com/146016/56029768-b90cce80-5d4d-11e9-8e64-fe856bb4e7a7.png)

on the discussion tab - correct. But on the Project Plan tab comments should have ID like `phase-{{phaseId}}-posts-{{postId}}`

[2019-04-12 10:38] sumitdaga commented on #2575
you mean dashboard tab

see this though
![Workspace 1_073](https://user-images.githubusercontent.com/7769148/56031471-34b24f80-5d3d-11e9-958b-48496679c84f.png)

[2019-04-12 10:44] gurmeetb commented on #2927
Thanks @maxceem, working on it now.

[2019-04-12 10:51] maxceem commented on #2575
Right, we use the same component to render comments, so currently, it uses the same ID in both places. So there are two ways to go:
- in the way described above we should changes IDs of comments on the Project Plan tab to be like `phase-{{phaseId}}-posts-{{postId}}` while keeping them as they are on the Dashboard tab. And after use these links to navigate to them.
- alternatively, we can keep IDs

[2019-04-12 11:11] gurmeetb commented on #2927
@maxceem just to be sure, I think case 1 & 3 are same - isn't it ?

[2019-04-12 11:38] maxceem commented on #2927
@gurmeetb

They are kind of the same. The idea is if somebody is a member of any kind of team, we shouldn't be able to invite him again in the same team (case 1) or in another team (case 3).

[2019-04-12 12:54] sumitdaga commented on #2575
I agree chaning comment IDs seems more fit ...
i have tried it and seems to work
so i am passing a prop `commentAnchorPrefix` from the project plans tab ...and if it is defined in the [Comment Component](https://github.com/appirio-tech/connect-app/blob/dev/src/components/ActionCard/Comment.jsx#L62) it will use it or else fall back to `comment-{id}`
sounds ok? i will push in some time so you can al

[2019-04-12 13:03] sumitdaga commented on #2575
btw i missed this

this permalink does not seem to be used anywhere ?
should this be used instead of a new prop like i suggested above ?

[2019-04-12 13:10] PrakashDurlabhji commented on #2896
@maxceem in a while PR will be raised

[2019-04-12 13:11] maxceem commented on #2575
yeah, sound good.

could be. just make sure that when we click links of the phases in the left sidebar they still work good and navigate to discussions tabs of phases, https://monosnap.com/file/T0GtZgnAO9q1vUHiAa4D55J1roD2em

[2019-04-12 13:25] sumitdaga commented on #2575
@maxceem  PR at #2948
let me know if its ok?

[2019-04-12 13:34] sumitdaga commented on #2575
and btw i think the url should be
`/projects/{{projectId}}/plan#phase-{{phaseId}}-posts-{{postId}}` and not
`/projects/{{projectId}}/plan/#phase-{{phaseId}}-posts-{{postId}}`
i have updated the PR

[2019-04-12 17:50] mfikria commented on #2897
@maxceem resolved in #2949. Note that i've got problem when configure filestack with topcoder cname. seems FILE_PICKER_CNAME url is not reachable (https://monosnap.com/file/V34RQZaxHMPFcL39yCFcpfS84uOOeJ). So you can try to remove it for testing

[2019-04-12 18:57] gurmeetb commented on #2927
@maxceem It’s done and ready for review. It was a lesser code changes but very complex logic internally, see if we can bump prize to at least $100. Thanks

[2019-04-12 19:01] gurmeetb commented on #2896
@maxceem can I take this ?

[2019-04-12 19:04] gurmeetb commented on #2896
@PrakashDurlabhji are you still on it ?

@maxceem I can take this next 🤔 ?

[2019-04-12 19:08] PrakashDurlabhji commented on #2896
@gurmeetb sorry i am active on it, few minutes

[2019-04-12 21:03] trushita23 commented on #2791
Could you please unassign me. Couldn’t find the root cause.

[2019-04-12 21:47] Gauravseta commented on #2791
@maxceem please assign this to me

[2019-04-12 23:57] PrakashDurlabhji commented on #2896
@maxceem it is done https://github.com/appirio-tech/connect-app/pull/2952

[2019-04-13 00:11] rashmi73 commented on #2899
@maceem can please change asignee label on top right inside project container.so that it is with me

[2019-04-13 00:17] rashmi73 commented on #2916
@maxceem need some more time because it is tricky and lengthy a bit thanks

[2019-04-13 01:28] maxceem commented on #2791
done

[2019-04-13 01:30] maxceem commented on #2899
@rashmi73 thank you for pointing it out - changed.

[2019-04-13 01:30] maxceem commented on #2916
Sure, take your time.

[2019-04-13 01:35] maxceem commented on #2927
Thank you @gurmeetb. I'll check out if it's possible for this issue during the review.

[2019-04-13 02:51] maxceem commented on #2604
@RishiRajSahu I've noticed that there could be one more case which we could want to fix.

We get email notifications about posts in 3 cases:
1. notification about TOPIC on the dashboard
2. notification about POST (comment) on the dashboard
3. notification about POST (comment) on the phase

So far we always send a link to the TOPIC on the dashboard (case 1).
In this issue, we have to fix it and sen

[2019-04-13 04:59] maxceem commented on #2937
Update from @RishiRajSahu:

1. Should be adding titles to the links optional or mandatory?
    It feels that we cannot enforce users to add titles to the links. There could be situations where it's not comfortable:
    - user pastes a text with multiple links (asking him to define the titles for all the links could be uncomfortable)
    - a user enters/pastes one link, but he could be in the flow

[2019-04-13 23:33] rashmi73 commented on #2916
@maxceem MR https://github.com/appirio-tech/connect-app/pull/2953

[2019-04-14 00:00] Gauravseta commented on #2791
@maxceem MR raised https://github.com/appirio-tech/connect-app/pull/2954

[2019-04-15 04:11] maxceem commented on #2177
This issue is not open for pick up.

Please, pull new commits from the

[2019-04-15 05:18] RishiRajSahu commented on #2180
@maxceem okay switch also works, are we using this same switch somewhere else in mobile view ?

[2019-04-15 05:25] RishiRajSahu commented on #2180
@maxceem its on listing page for admins, okay fine, let's use minimal best possible height for the switch and text div.

[2019-04-15 06:00] maxceem commented on #2180
@RishiRajSahu could you please confirm, if such design is good for us:

1. Wide screens:

    ![image](https://user-images.githubusercontent.com/146016/56110167-15f2c980-5f86-11e9-9fbc-b020f9867dbf.png)

2. Narrow screens:

     ![image](https://user-images.githubusercontent.com/146016/56110174-1db26e00-5f86-11e9-92fb-e5f942271101.png)

3. Mobile screens:

    ![image](https://user-images.githubus

[2019-04-15 06:20] maxceem commented on #2180
Sum up:

1. Add a new permission to https://github.com/appirio-tech/connect-app/blob/dev/src/config/permissions.js#L11:
[code]

2. Show a `Private` switcher to the users which have `ACCESS_PRIVATE_POST` permission. You can use a method `checkPermission` to check permission. See usage example https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/ProjectPlanContainer.js

[2019-04-15 06:34] maxceem commented on #2180
The UI is described in the comment above https://github.com/appirio-tech/connect-app/issues/2180#issuecomment-483117786:

![image](https://user-images.githubusercontent.com/146016/56111626-383b1600-5f8b-11e9-900b-7608c2970f33.png)

![narr](https://user-images.githubusercontent.com/146016/56111740-92d47200-5f8b-11e9-932d-f20f9bfe9f13.png)

[2019-04-15 06:35] maxceem commented on #2180
This issues is now open for pick up.

[2019-04-15 06:43] RishiRajSahu commented on #2934
@maxceem
1. Let's keep the text area as it is for now. Still if you could quickly show a mock using browser tool it would be helpful
2. Yes for phases also
3. Why is it required to move at bottom ? I think we can show the date of latest post there, please help me understand if I am missing something here
4. Yes
5. Yes

[2019-04-15 06:45] nahidshahin commented on #2177
@maxceem can I try it, please ?

[2019-04-15 06:46] sumitdaga commented on #2180
@maxceem
can you please assign it to me?

[2019-04-15 06:47] RishiRajSahu commented on #2604
@maxceem yes if we could easily achieve a redirect to post instead of topic that would be great, if not let's leave a redirect to topic/discussions tab only. I remember we faced issues during redirect earlier as we are showing the link to topics in the left bar also.

[2019-04-15 06:48] RishiRajSahu commented on #2534
@maxceem do we have any open question on this one, I guess we are already covering sentry issues in this CF.

[2019-04-15 06:49] RishiRajSahu commented on #2452
@maxceem FYI - we would need to rewrite this soon again once we have design for new timeline view for project plan.

[2019-04-15 06:56] maxceem commented on #2934
3.

![image](https://user-images.githubusercontent.com/146016/56112775-9fa69500-5f8e-11e9-8334-508736560fea.png)

[2019-04-15 06:58] maxceem commented on #2180
done

[2019-04-15 06:58] RishiRajSahu opened #2955 "Segmented load of dashboard"
Right now we get all the messages for the dashboard in a single call and then put them on the page all together, instead we can opt for segmented load of messages like github does.

fyi @maxceem @vikasrohit

[2019-04-15 06:58] maxceem commented on #2177
done

[2019-04-15 07:00] maxceem commented on #2934
Note, in reversed order we show the date label under the post. Or you mean that we should show the date above the post even in the reserver order?

[2019-04-15 07:05] maxceem commented on #2934
@RishiRajSahu I think I've overthought, so we can show in such a way with posts in reserved order while keeping dates above the posts:

![image](https://user-images.githubusercontent.com/146016/56113199-be595b80-5f8f-11e9-8ad2-8166397bcce5.png)

[2019-04-15 07:07] maxceem commented on #2534
The main question is if we should enable source maps on production or no.

In most cases, we can find the place of error. Though it feels that it would be more comfortable if we have it enabled.

[2019-04-15 07:09] maxceem commented on #2955
@RishiRajSahu could you please mention an example of the place where GitHub uses segmented load.

[2019-04-15 07:55] sumitdaga commented on #2180
@maxceem
just a suggestion ...  why not move the switch in header
or just below header instead of above the `Post` button , there is always a risk of posting by mistake when user is actually trying to toggle the switch   ..let me know ?

![Selection_140](https://user-images.githubusercontent.com/7769148/56115742-b85c7e00-5f81-11e9-86a2-567c09f20ca3.png)

[2019-04-15 07:56] maxceem commented on #2878
@RishiRajSahu related issue https://github.com/appirio-tech/connect-app/issues/2938 is fixed in https://github.com/appirio-tech/connect-app/commit/4691058baf5de92cfafd5df638344ca1e51620b3 and I believe it fixes this issue too.

The issue was that instead of changing the selected file it sent a request for the first file. So it renamed the first file to the same name as the one which we were trying

[2019-04-15 08:08] maxceem commented on #2180
@sumitdaga great idea.

@RishiRajSahu what do you think?

Here is how it would look like on the minimal screen width `320px`:

Version 1:

![image](https://user-images.githubusercontent.com/146016/56116490-7be84c80-5f98-11e9-9f77-7e8b446a60ec.png)

Version 2:

![image](https://user-images.githubusercontent.com/146016/56116503-873b7800-5f98-11e9-860c-1578de62bc3c.png)

[2019-04-15 08:29] RishiRajSahu commented on #2955
@maxceem try loading any git issue which has lots of conversations, you will see not all of them renders immediately

[2019-04-15 08:31] RishiRajSahu commented on #2180
@maxceem @sumitdaga version 2 looks good !

[2019-04-15 08:39] RishiRajSahu commented on #2878
@maxceem actually the issue is duplicated, but anyway we got it fixed !

[2019-04-15 10:53] sumitdaga commented on #2180
@maxceem
so we need to add a switcher only when creating a new post right? ...not to any other post (replies to post, phase discussion, etc) right ? only here
![Selection_141](https://user-images.githubusercontent.com/7769148/56127421-bfdc5100-5f9a-11e9-8375-0adc0f8a0866.png)

[2019-04-15 10:54] maxceem commented on #2180
@sumitdaga right, only when we are creating a new topic as you showed with a red box above.

[2019-04-15 11:06] maxceem commented on #2934
Sum up:

We should show posts in reverse order.
Order now: oldest - on the top, newest - on the bottom:

![image](https://user-images.githubusercontent.com/146016/56127729-6717b300-5fb0-11e9-9a46-03eccc22d40f.png)

The order we want to achieve: oldest - on the bottom, newest - on the top:

![](https://user-images.githubusercontent.com/146016/56113199-be595b80-5f8f-11e9-8ad2-8166397bcce5.png)

We s

[2019-04-15 11:06] maxceem commented on #2934
This issue is now open for pick up.

[2019-04-15 11:17] gurmeetb commented on #2934
plz assign me

[2019-04-15 11:17] maxceem commented on #2934
done

[2019-04-15 15:31] sumitdaga commented on #2180
@maxceem
the `Discussions` section in the left sidebar i assume will not show these private message links

btw this task is not as straightforward ...i would request you to review the prize once you check the PR!
and i may need some more time as well
thanks

[2019-04-15 15:54] gurmeetb commented on #2934
@maxceem this is good chunk of code to understand and re-write in reverse order. Can i get back this MR in by tomm EOD my time, as already heading into day end here?

[2019-04-15 18:18] gurmeetb commented on #2934
@maxceem it's done and ready for review.

[2019-04-15 22:57] rashmi73 commented on #2935
@maxceem updated MR

[2019-04-15 23:07] rashmi73 commented on #2899
@maxceem updated MR

[2019-04-15 23:35] Gauravseta commented on #2710
@maxceem MR is update now. It was my fault of not passing props to respective component.

[2019-04-16 01:38] maxceem commented on #2177
As no PR has been raised during 12 hours and no comment provided this issue is now open for pick up.

[2019-04-16 03:16] sagarbaver commented on #2177
@maxceem I'd like to take a shot at this one ✋

[2019-04-16 04:35] gurmeetb commented on #2177
@maxceem I can take it up

[2019-04-16 04:39] maxceem commented on #2177
@sagarbaver as you the first one who commented on this issue it's on you as per our Bug Bash rules.

To keep it clear I can assign you the issue in the UI. To make it, please, accept the invitation to the repository which you should get on your email.

Thanks.

[2019-04-16 04:39] maxceem commented on #2927
Hi @gurmeetb

I've reviewed the PR it works good. Regarding the raising the prize I understand that code related to these dialogs in some places could a little bit tricky to understand so I can raise the prize to $75 for this issue. I guess it's maximum what I can do here as the logic is still quite straightforward - check invitations from both teams instead of one.

Thanks.

[2019-04-16 05:10] sagarbaver commented on #2177
@maxceem Thanks, I've accepted the invite.

[2019-04-16 07:38] maxceem commented on #2180
I think we can show links to private discussions to the users which may see them.

Sure, I can check it out during the review. Any particular difficulties you experience?

[2019-04-16 08:27] sumitdaga commented on #2180
@maxceem
PR at #2957
I could give you a detailed comment, but in short there were many places to check and verify (which is also clear from the number of files changed in PR) ..some things you should check:
- clearing `Private Switch` state when post is cancelled (by clicking outside or by cancel button)
- from the left sidebar if it scrolls to correct topic from both dashboard and project plan ta

[2019-04-16 09:05] maxceem commented on #2575
Everyone who worked on the issues during Bug Bash 16.

Please, don't forget to submit a file with a list of issues you were working on to the challenge page https://www.topcoder.com/challenges/30088391

This would speed the payments.

Thank you.

cc @mfikria @rashmi73 @sumitdaga @PrakashDurlabhji @Gauravseta

[2019-04-16 09:37] sumitdaga commented on #2916
@maxceem
i put a considerable amount of time on this. I didn't know just a simple patch would do!

[2019-04-16 14:40] sagarbaver commented on #2177
Hey @maxceem! Just wanted to let you know that I couldn't squeeze out enough time from work to do this under 12 hrs. However, I'm back home and am actively working on this. I could use a couple of hours.
Thanks.

[2019-04-16 15:44] vikasrohit opened #2958 "Project timeline summary is not in sync with user selection"
Project timeline component (`ProjectEstimation`) is showing all phases enabled even if the user has not selected few of the deliverables.
fyi @RishiRajSahu @acshields

[2019-04-16 20:11] sagarbaver commented on #2177
Hi @maxceem!

I believe this is not as straightforward as it appears. The reason being those notification items are react-router `<Link>` elements. A click on them neither triggers the `window.onhashchange` event nor does it trigger an update of the `ProjectInfoContainer.js` component.

I'm thinking of alternative ways to load posts on-demand.

[2019-04-16 20:11] rashmi73 commented on #2916
@maxceem MR updated

[2019-04-16 21:48] PrakashDurlabhji commented on #2896
@maxceem PR at https://github.com/appirio-tech/connect-app/pull/2959

[2019-04-17 01:39] maxceem commented on #2177
As we use react-router v4, here is how you can listen for URL change https://stackoverflow.com/questions/45373742/detect-route-change-with-react-router/45373907#45373907. Let me know if it covers the case when we change only the hash.

[2019-04-17 04:31] maxceem commented on #2180
@sumitdaga

I've reviewed the PR, great work has been done.
I'm going to raise the prize to $225 for this issue. Let me know what you think.

Thank you.

[2019-04-17 04:38] maxceem commented on #2916
@sumitdaga sorry if I mislead you by the task specification. The task was to find the cause of the issue as close to the root as possible and I also didn't know how far we can go there to find it out.

[2019-04-17 05:08] sumitdaga commented on #2916
@maxceem  no worries :)

[2019-04-17 05:10] sumitdaga commented on #2180
@maxceem
thanks much :)

[2019-04-17 07:03] maxceem commented on #2842
Done in the PR https://github.com/appirio-tech/connect-app/pull/2960

[2019-04-17 10:29] rashmi73 commented on #2916
@maxceem can you please review it. PR updated

[2019-04-17 10:55] sumitdaga commented on #2177
@maxceem  @sagarbaver
can i try this if it's ok?

[2019-04-17 11:10] sagarbaver commented on #2177
@sumitdaga I'm working on incorporating @maxceem suggestion on leveraging react-router props.

[2019-04-17 15:01] sagarbaver commented on #2177
@maxceem I wanted to share my progress and gather some thoughts on possible solutions to this issue. Please take a look at https://github.com/appirio-tech/connect-app/pull/2961.

[2019-04-18 05:08] RishiRajSahu commented on #2937
@maxceem
1.yep, we can make it optional but how to decide when to ask a user for adding title or not ? And wrt to optional approach I am fine with adding default link title with topic name along with timestamp OR user's topicname-firstname-timestamp.
2.
-yeah, let's leave existing draftjs feature as it is
-yep, we can go via google's way of doing this
3.All links added to the post will be shown in

[2019-04-18 05:11] PrakashDurlabhji commented on #2896
@maxceem kindly review it, dont wish to lose my efforts

[2019-04-18 05:13] maxceem commented on #2896
@PrakashDurlabhji the review is done, please have a look https://github.com/appirio-tech/connect-app/pull/2959

[2019-04-18 05:28] RishiRajSahu opened #2962 "Detecting the email receipt by the user(s) for all connect email notifications"
Currently, we send the emails for all connect events via Sendgrid hooks but we done have a way right now to be sure that the email has been received by the targeted user(s). We might have to add additional hooks for same to determine this and then showing some notification icon associated with event on the connect to make sure that email has been received by user(s) as expected.

fyi @vikasrohit @

[2019-04-18 05:29] maxceem commented on #2937
@RishiRajSahu

2. > -yeah, let's leave existing draftjs feature as it is

    I think if we implement adding links using Google Docs way, we should remove the existent feature, as a new feature will replace all of its functionality.

1. Here is one thing I'd like to discuss. If we go with the same way it's done in Google Docs, then the `text` of link will be same as link `title`. See example:

[2019-04-18 06:35] RishiRajSahu commented on #2937
@maxceem
2.So you are suggesting to remove the existing option of draftjs, yeah I agree like there will be multiple UX for links. Okay we can remove/hide the draftjs option.
3.

I think if we are using approach suggested by you and showing the popup when link is detected and putting default title as link URL we can ignore the custom title of topic-name-timestamp

What about making link title updat

[2019-04-18 06:45] vikasrohit commented on #2958
@maxceem could you please help here? I think somehow the condition evaluation is failing here. My doubt is that it started failing after our changes for using variables for conditions in questions as well.

[2019-04-18 07:46] maxceem commented on #2958
@vikasrohit fixed and pushed to `dev` branch https://github.com/appirio-tech/connect-app/commit/c271ba6cd15e3f08f388bcdbd9bb86ac4b049ea8. Variables work good, they were not supported in the `ProjectEstimation` component.

[2019-04-18 08:59] vikasrohit commented on #2958
Got it. Thanks 👍

[2019-04-18 11:55] ajefts opened #2963 "Private messages for only Topcoder users"
Internal users (all TC roles) should have the capability to have a private discussion feature where a discussion post is only viewable to TC users. The post should have a distinct UI to make it apparent to TC users that the message is not customer-viewable.

[2019-04-18 11:55] ajefts commented on #2963
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1671343

[2019-04-18 11:56] RishiRajSahu commented on #2963
duplicate of https://github.com/appirio-tech/connect-app/issues/2180

[2019-04-18 11:56] #2963 closed

[2019-04-18 12:00] #2958 closed

[2019-04-18 21:58] PrakashDurlabhji commented on #2896
@maxceem MR updated with all points

[2019-04-19 05:53] maxceem commented on #2937
There are two general things:
- Link text should be the same a link title if link text is defined.
- We will create links in the project when we will send/update a post (not during the editing)

1. So user can just enter link like this without link text, only URL:

    ![image](https://user-images.githubusercontent.com/146016/56408901-20280700-62a9-11e9-995b-90ebbdfda5f6.png)
    In this case, we

[2019-04-19 05:55] maxceem commented on #2937
From my comments above looks like making link `text` same to link `title` maybe is not a good idea and we should make them different. Though it would make the UI more complicated as we will need to introduce one more field to edit `title`. So when creating a link user would define link `URL`, link `text` and link `title`.

[2019-04-19 06:43] RishiRajSahu commented on #2937
@maxceem overall looks good, find my response inline below -

Yep leave it as URL, as updating it inside the post will affect the readability of the post, we will improvise on this feature depending upon the feedback we get after release

I think that's fine, as it will be upto the user how they want to name their link, maybe later in future we will at a check to compare the new title with existin

[2019-04-19 06:51] vikasrohit commented on #2455
Thanks @maxceem I have gone through the issue with timeline tab. I think we have couple of options for that:

1. Hide the red dot after some delay (5 seconds)
2. Show a red dot on the specific milestone and fade that away with some delay (5 seconds) OR flash the background of the appropriate milestone so that user can notice something changed with that milestone
3. We can show a simple notificatio

[2019-04-19 07:00] vikasrohit commented on #2936
Could we just show the count of unread notifications for `notifications.connect.project.post.mention` event for the user? Ideally that should represent the desired count.

[2019-04-19 07:08] vikasrohit commented on #2895
https://www.topcoder.com/challenges/30088008/?type=develop&noncache=true

[2019-04-19 07:24] maxceem commented on #2937
When the user puts the cursor on the top of the link there the popup should appear same like in google docs with two buttons, `edit` and `remove`:

![image](https://user-images.githubusercontent.com/146016/56412517-0c839d00-62b7-11e9-8d64-bb7fd53dedcd.png)

- clicking `remove` just removes the link

  ![image](https://user-images.githubusercontent.com/146016/56412546-27561180-62b7-11e9-9c79-824cb8

[2019-04-19 07:27] maxceem commented on #2936
yes, we can do like this

agree, but if I'm not mistaken, at the moment we only generate such notification if the user was mentioned in the current (new) post, not in the previous posts in the topic.

[2019-04-19 07:29] vikasrohit commented on #2936
you mean when a user edits an old post and then mentions the user there?

[2019-04-19 07:29] vikasrohit commented on #2936
I think the logic is generic and it should work on both create and edit of a post. Even if it is not working for edit of a post for the time being, I am good with for now. We can log a separate issue for that and take care of it in next release.

[2019-04-19 07:32] maxceem commented on #2936
I mean regarding this one:

If a user has been mentioned in some post and after some other user creates another post `without` mentioning, as I understand we should still count such new post even though he wasn't mentioned in this new post.

[2019-04-19 07:45] maxceem opened #2966 "Improve red cue notifications for phases"
Follow up for the issue https://github.com/appirio-tech/connect-app/issues/2455

Form @vikasrohit
I think we have couple of options for that:

1. Hide the red dot after some delay (5 seconds)
2. Show a red dot on the specific milestone and fade that away with some delay (5 seconds) OR flash the background of the appropriate milestone so that user can notice something changed with that milestone
3.

[2019-04-19 07:46] maxceem commented on #2455
@vikasrohit created a follow-up issue https://github.com/appirio-tech/connect-app/issues/2966

[2019-04-19 09:23] vikasrohit opened #2967 "Show project scope form as card on the top of the project plan tab"
Currently we are showing the scope details of the project in a separate tab. This feature is to move scope details of the project to the `Project Plan` tab as a collapse card. The card should be expandable and in the expanded state it should look like the final summary screen which we are showing now when user is creating a new project.

fyi @maxceem @RishiRajSahu

[2019-04-19 09:32] vikasrohit opened #2968 "Enable pause status for the milestones"
As of now we don't support pause status for a milestone which means that once a milestone is activated, it has to be completed whether on time or before/later of the scheduled time. There are use cases where we need to have a new status `paused` of the milestone which would be used when the milestone activity is blocked due to some reason which should not consider the time elapsed after pause acti

[2019-04-19 09:36] maxceem commented on #2968
1. Would it be a button for phases or milestones? As we cannot have two milestones active at the same time looks like pausing a milestone means pausing a phase, so probably we can keep status options `Paused` active for phase after activating.

2. IMHO I would make it available for copilots to pause. As from the experience, it looks like the copilots are the most in the context of what is going te

[2019-04-19 09:55] vikasrohit opened #2969 "[$100] Enable editing the name of the milestone even if it is completed"
### Expected behavior
We should allow editing of text for a milestone even if it is completed.

### Actual behavior
As of now we don't allow updating anything for a completed milestones.

fyi @maxceem @RishiRajSahu

[2019-04-19 10:14] vikasrohit commented on #2968
1. I think for now lets add new button called `Pause Milestone` which would pause the milestone and at the same time it should also cause the phase to be paused as well. I guess we need to do the second part in backend service itself as cascade effect of the first action.

2. Agreed with all of your concerns, however, we can not let users to mis use this feature as well. So, do you think you have

[2019-04-19 10:19] vikasrohit opened #2970 "Scope Change Workflow"
Updated requirements:

## Objective
Once a project is started, scope change can occur at several points of delivery, including:
- Customer/team wants to repurchase a solution (Ex. 1 RUX was performed, another RUX on the same app is desired)
- Customer wants to add a new phase (i.e. a new workstream) of work (Ex. We sold them design, but now they also want us to do the development)
- Customer wants

[2019-04-19 10:20] vikasrohit commented on #2970
fyi @maxceem @RishiRajSahu we need to think about how to handle the approval of the customer for the scope change, apart from that I think it is only about sending proper notification to the stakeholders about the scope change. Let me know if I missed something here.

[2019-04-19 10:26] vikasrohit commented on #2936
That is tricky and I think it might not be always true that if a user is mentioned in one post then he would always be interested in every following up posts as well. If some another use wants the attention, he/she can mention the user again in the new post. That is the way Slack works as well, right?

[2019-04-19 10:28] maxceem commented on #2936
Right.

Then if we don't need to support such case I think we should be fine with counting `notifications.connect.project.post.mention` notifications.

[2019-04-19 10:36] maxceem commented on #2937
Sum up:
- Default link text will be URL only.
- User can change text optionally for the link later before saving
- User can select text and click `add link button` which will add URL to that text and make it a link (same like in Google Docs)
- we can make it with autoshowing popup, `add title` when there is no title yet to encourage users, and if the link already has a `text`/`title` we name this

[2019-04-19 11:01] maxceem commented on #2968
2. I think every time `copilot`/`CA` pause the milestone, we ask him to enter the reason and after display the reason so everybody admins and customers can see it. This way we will give the `copilot`/`CA` the flexibility to pause/resume milestones when they think it's necessary and the same time as everybody would see the reason it should prevent of abusing this feature. As we cannot put something

[2019-04-19 11:02] maxceem commented on #2968
Note, currently, we can change the duration of each milestone without any confirmation.

[2019-04-19 12:00] RishiRajSahu commented on #2937
@maxceem So all good, we can develop this now !

[2019-04-22 03:46] maxceem commented on #2934
@vikasrohit I've noticed that when we show `New posts` divider now it could mislead:

![image](https://user-images.githubusercontent.com/146016/56481928-15ad7d80-64f4-11e9-9c29-a08d2ff0140b.png)

As new posts are shown above the line now. Should we rephrase the text on the red line to `Old posts`?

[2019-04-22 03:52] maxceem opened #2972 "Don't send notifications about phases which users don't have access to"
Customer users don't have access to the phases which are in draft state.

But if we create posts inside such phases or edit phase timelines and so on, customer users still get notification about new posts with links which lead to the phase which they cannot see.

Also, the customer can see notifications regarding the phase timeline and so on.

![image](https://user-images.githubusercontent.com/146

[2019-04-22 03:55] maxceem opened #2973 "Don't send notifications about private topics which users don't have access to"
We introduced Private Topics which are only visible for non-customer users.

But if we create such private topics, customer user will still get notifications about them, even though they don't have access to them and cannot see them:

![image](https://user-images.githubusercontent.com/146016/56482229-8608ce80-64f5-11e9-909e-5804a90f9ac0.png)

I guess we shouldn't create notifications about private

[2019-04-22 05:10] vikasrohit commented on #2934
Good catch @maxceem. I can not come up with any workaround for this as of now. Lets file a issue for this so that we can take a look at it in next release. We will get it clarified with designer and product team.

[2019-04-22 05:15] vikasrohit commented on #2972
I think we did something to prevent notifications for non visible phases to the customers. https://github.com/topcoder-platform/tc-notifications/issues/85. May be we just need to update the config now to exclude the messaging notifications of such phases.

If @maxceem you think you can get it done today by config changes, lets do that otherwise let us take it in next release.

[2019-04-22 05:17] vikasrohit commented on #2973
This one seems similar to https://github.com/appirio-tech/connect-app/issues/2972, however, I think we need to do some code changes to fix this i.e. I don't think we can get it fixed via config changes only.

Good catch again @maxceem

[2019-04-22 05:43] vikasrohit commented on #2715
@maxceem could we take this in our next bug bash?

[2019-04-22 05:47] maxceem opened #2975 "New post divider"
Recently, we changed the order in which we show posts from new (on the top) to the old (on the bottom) https://github.com/appirio-tech/connect-app/issues/2934

We also can show the red divider with the text `New posts` which shows which posts are new.

![image](https://user-images.githubusercontent.com/146016/56484986-b73ccb00-6504-11e9-9b19-3a055112ef05.png)

Byt the UI the new posts should be un

[2019-04-22 05:47] vikasrohit commented on #2660
Lets not show visual cue for phase payments events as it is not being used actively and seems like we are going to get rid of it next set of changes for project plan.

@maxceem we might get red cue on the timeline tab for `notifications.connect.project.phase.transition.active` and `notifications.connect.project.phase.transition.completed` events after changes for #2455. If yes, then we are good an

[2019-04-22 05:47] maxceem commented on #2934
Created a follow-up issue https://github.com/appirio-tech/connect-app/issues/2975

[2019-04-22 05:48] vikasrohit commented on #2560
@maxceem Would you like to include this one in next bug bash?

[2019-04-22 05:49] vikasrohit commented on #2477
Closing the issue as with upcoming changes for the project plan, we are going to restructure the the way we are showing the phases, milestones and their discussions.

[2019-04-22 05:49] #2477 closed

[2019-04-22 05:57] maxceem commented on #2560
Sure.

[2019-04-22 05:58] maxceem commented on #2715
@vikasrohit I haven't yet managed to reproduce it, but will include it to the CF pipeline and will try one more time.

[2019-04-22 06:19] gurmeetb commented on #2975
We could have 2 lines, one red which reads `New posts` but just after today and second as blue line which reads `Old posts` at the current location.

[2019-04-22 06:44] vikasrohit commented on #2841
@maxceem @RishiRajSahu I would like to do this step by step. I mean, we should pick only one area of the application at time to replace the permission logic with the centralized system so that we can be sure of what are the potential area of failure after the release. So, could we identify different impact areas (e.g. team management is one area) first and add them as sub tasks of this issue?

[2019-04-22 06:54] maxceem commented on #2841
@vikasrohit yes, totally agree on this.

By the way, recently I got some idea. We have the same permission are being defined in several applications. And we always have to keep them in sync. For example.

Customer users cannot see private posts. So we have to handle this logic in three applications:
- message service
- connect app
- notification service

I don't suggest any particular solution at

[2019-04-22 07:04] maxceem commented on #2660
@vikasrohit at the moment we don't show red cue for these `notifications.connect.project.phase.transition.*` events.

We can show a red cue for the phase for them - it would be a quick solution.

In general, I think we may consider improving the way we show the places which have been updated as has been proposed here https://github.com/appirio-tech/connect-app/issues/2966. We can think about some

[2019-04-22 07:06] vikasrohit commented on #2975
Thanks for the suggestion @gurmeetb . We will get it discussed with product team and update the issue later.

[2019-04-22 07:15] RishiRajSahu commented on #2938
Working fine in dev. Closing.

[2019-04-22 07:15] #2938 closed

[2019-04-22 07:17] RishiRajSahu commented on #2934
except the follow up issue, rest is working fine in dev.

[2019-04-22 07:17] #2934 closed

[2019-04-22 07:24] RishiRajSahu commented on #2933
Working fine in dev. Closing.

[2019-04-22 07:24] #2933 closed

[2019-04-22 07:29] RishiRajSahu commented on #2927
Working good in dev.

[2019-04-22 07:29] #2927 closed

[2019-04-22 07:35] RishiRajSahu commented on #2897
Working fine.

[2019-04-22 07:35] #2897 closed

[2019-04-22 07:36] RishiRajSahu commented on #2180
Working fine.

[2019-04-22 07:36] #2180 closed

[2019-04-22 07:38] vikasrohit commented on #2660
Yes, makes sense. Lets do this and #2966 together in next release.

[2019-04-22 08:39] RishiRajSahu commented on #2935
@maxceem we needed the same view as copilots for customer also, could you update as per needed ?

[2019-04-22 08:40] maxceem commented on #2935
@RishiRajSahu sure, will update

[2019-04-22 09:03] maxceem commented on #2935
@RishiRajSahu

Should we let customers to switch `My projects`?

[2019-04-22 09:22] #2903 closed

[2019-04-22 09:24] RishiRajSahu commented on #2177
@maxceem removing it from CF

[2019-04-22 09:25] RishiRajSahu commented on #2896
working fine.

[2019-04-22 09:25] #2896 closed

[2019-04-22 09:42] maxceem commented on #2935
@RishiRajSahu done in this commit https://github.com/appirio-tech/connect-app/commit/44479972e0a36cb7494629b9f6d707922f8a60e8

Already in `dev` branch, and deployed to DEV.

[2019-04-22 09:43] RishiRajSahu commented on #2710
@maxceem disabling it for time being https://github.com/appirio-tech/connect-app/commit/d6fea9c3bdfd4d41f4cc4ec4e1e4029ba7aa4985, will take this in next release.

[2019-04-22 10:21] #2899 closed

[2019-04-22 10:22] #2791 closed

[2019-04-22 10:31] #2900 closed

[2019-04-22 10:32] #2916 closed

[2019-04-22 10:38] RishiRajSahu commented on #2856
@maxceem working fine on dev, but on mobile it does nothing when clicking on `Upload File`

[2019-04-22 10:41] RishiRajSahu commented on #2878
Closing as fixed via https://github.com/appirio-tech/connect-app/issues/2938

[2019-04-22 10:41] #2878 closed

[2019-04-22 10:43] RishiRajSahu commented on #2935
Thanks @maxceem  ! Verified this on dev working as expected. Closing.

[2019-04-22 10:43] #2935 closed

[2019-04-22 10:56] vikasrohit opened #2977 "Section header is missing in Scope tab"
### Expected behavior
Section header should be visible with section title and section number in project's scope tab

### Actual behavior
Complete section header is missing after our last release which contained changes for the new designs of the scope forms.

### Screenshot/screencast
![Screen Shot 2019-04-22 at 4 25 55 PM](https://user-images.githubusercontent.com/2417632/56497494-58368080-651b-1

[2019-04-22 10:57] vikasrohit commented on #2977
@maxceem I might have missed discussion around it. However, I think we should have the section header visible in Scope tab.

[2019-04-22 11:08] vikasrohit commented on #2455
@maxceem is it possible to quickly add delay for hiding timeline tab's red dot?

[2019-04-22 11:39] maxceem commented on #2856
@RishiRajSahu fixed in the commit https://github.com/appirio-tech/connect-app/commit/3a3e6b01de733cd83cf06735b31f9fd54425a7e8 in `dev` branch

[2019-04-22 12:29] maxceem commented on #2815
@vikasrohit there is some issue connected with changes done in this commit https://github.com/appirio-tech/connect-app/commit/4f5b5800872f1a910090b86d73b6614a224156cb

When we load project http://local.topcoder-dev.com:3000/projects/7442/plan there is an error in console:
![image](https://user-images.githubusercontent.com/146016/56500136-3dc0cf00-653c-11e9-9e07-fb50bf357ee3.png)

The reason for th

[2019-04-22 14:30] vikasrohit commented on #2895
Moving to next release as the front end changes are yet to begin.

[2019-04-22 14:43] vikasrohit commented on #2815
Thanks for catching that @maxceem.

Could we do `_.get(resp, 'value', [])` instead of `_.get(resp, 'value') ? [_.get(resp, 'value')] : []`?

[2019-04-22 15:17] maxceem commented on #2815
We have to return an array here while `value` is one element of the array. So if `value` is defined `_.get(resp, 'value', [])` would be one element instead of array.

[2019-04-23 01:47] maxceem commented on #2455
@vikasrohit done in commit https://github.com/appirio-tech/connect-app/commit/8ce335ea4343ec49930fc5666017b14fa9b92ccf in `dev` branch.
Demo video https://monosnap.com/file/9Ij7HHyt9PWBDmyM9cBbxix08po6b6

[2019-04-23 03:51] RishiRajSahu commented on #2856
working fine !

[2019-04-23 03:51] #2856 closed

[2019-04-23 04:22] RishiRajSahu commented on #2575
validated working fine in dev !

[2019-04-23 04:22] #2575 closed

[2019-04-23 05:25] vikasrohit commented on #2455
Awesome, Thanks!!!

[2019-04-23 05:27] vikasrohit commented on #2455
Looking good to me in dev. Closing the issue.

[2019-04-23 05:27] #2455 closed

[2019-04-23 06:30] vikasrohit commented on #2972
@maxceem @RishiRajSahu  Moving to next release as mostly no one post a message in a Draft phase.

[2019-04-23 11:00] vikasrohit commented on #2604
Tested after release deployment on production, working fine.

[2019-04-23 11:00] #2604 closed

[2019-04-23 11:28] maxceem opened #2981 "[$15] Add hash link to the dashboard topic dates"
Currently, all the dates of the comments are hash links to these comments so we can share a link to any comment:

![image](https://user-images.githubusercontent.com/146016/56577476-b176e080-65fd-11e9-9315-70c846e44245.png)

We can add the same for the topics on the dashboard, so we could share links to the topics too:

![image](https://user-images.githubusercontent.com/146016/56577548-d8351700-65f

[2019-04-23 12:15] vikasrohit commented on #2981
Good catch @maxceem

[2019-04-23 14:23] gondzo opened #2983 "Posts order"
With the new posts ordering in topics (newest on top) it's hard to figure out the correct way to read the topic when there is grouping of posts by the same author. See the bellow example

![image](https://user-images.githubusercontent.com/3051646/56588637-0c034300-65e4-11e9-9cbf-e65cd91b9adc.png)

The second message should be on top, or at least these should be a visual separator of the two messag

[2019-04-24 04:56] vikasrohit commented on #2983
I think @gondzo when we have grouped message of a single user, it introduce more confusion than reducing it if we reverse the order within that group. Until the user is changed our natural flow would be to read top to bottom for a particular user's messages.

[2019-04-24 08:16] maxceem opened #2984 "[$10] Post menu is covered by "New posts" text"
When we open a post menu it's shown under the "New posts" text:

![image](https://user-images.githubusercontent.com/146016/56643440-391b2880-66ac-11e9-89bc-b5cc8929deb9.png)

[2019-04-24 08:19] maxceem opened #2985 "[$10] Edit post UI has some extra left padding"
When we start editing some post on the Dashboard or on the Phase Discussion tab it has some extra padding on the left:

Dashboard:

![image](https://user-images.githubusercontent.com/146016/56643640-94e5b180-66ac-11e9-80db-071afcb90197.png)

Phases:

![image](https://user-images.githubusercontent.com/146016/56643671-a16a0a00-66ac-11e9-855f-9a391ec46596.png)

[2019-04-24 08:34] maxceem opened #2986 "Improve delete topic UX"
We can delete a topic on the dashboard when it has only one post.

It looks like the UI should be updated here.

1. Menu item text is `Delete Thread` but we don't use the word `Thread` in other places, should we say `Delete Post` or `Delete Topic` instead?

    ![image](https://user-images.githubusercontent.com/146016/56643881-25bc8d00-66ad-11e9-9c4f-b46bc92b2d5a.png)

2. The confirmation window u

[2019-04-24 09:05] RishiRajSahu opened #2989 "Distinguish between project created via UI v/s created via direct api call"
Need to add some validation/mechanism to identify the project creation method.

@maxceem @vikasrohit

[2019-04-24 09:25] vikasrohit opened #2991 "[$60] Add more details in error page"
Currently we show the error page whenever the application hit an error situation and user is expected to send an email to support team for the same. However, there is no other information that the user could share with the support team in such cases, which makes debugging the issue difficult.
Purpose of this tasks is to add the actual error details in the page in a way it does not fill the page wi

[2019-04-24 09:26] vikasrohit commented on #2991
@maxceem let me know if you need more details for this.

[2019-04-24 09:50] vikasrohit commented on #2968
Good suggestion. Agreed, please keep a field for `reason` in the new table that we would need for keeping track of status changes of the phase statuses.

[2019-04-24 10:11] maxceem commented on #2991
For option 1:
- should we show any error details? or just a button to copy error details?
- when we copy error details using the button, should we copy only error details, or error details together with error trace?

[2019-04-24 12:08] vikasrohit commented on #2991
We should show minimum error information directly to the user, so I would like to keep the page as is except a button or link `Copy error details` somewhere on the page which does not disturb the UX. Or may be we can make the support email address a `mailto` link and if we can specify the error details as body of the mail, it can ease(only if the user has a mail client installed) the process of se

[2019-04-24 12:09] vikasrohit commented on #2991
btw, I just noticed that, currently the link of support email is wrong. I think it should be a `mailto` link

[2019-04-26 04:56] vikasrohit opened #2999 "Support markdown for various texts in Form components"
Currently our most of the form component renders the texts (e.g. label of checkbox/radio options etc) as plain text. There are requirements when we need to format some of these texts especially when the texts are very long. We can not support HTML every because it requires dangerously setting inner html of the component. We are doing this for some places, however, we don't want to do this every wh

[2019-04-26 04:57] vikasrohit commented on #2999
@maxceem Let me know you thoughts.

[2019-04-26 05:05] vikasrohit opened #3000 "Need ability to show sub text of form question just below the title"
As of now we have option to show a sub text (via `description` property) for a question and it is rendered at the last of the question i.e. for checkbox and radio group type questions it is rendered after the options. In cases where the list of options is too long, we might need to render the sub text just below the question title to provide more details about what is expected from the user for th

[2019-04-26 05:37] RishiRajSahu opened #3001 "Project status-filter nav-bar not present if customer doesn't have any active projects"
### Expected behavior
When customer have even a single project in any status other than `active` status, we should not show walkthrough page `Welcome to Topcoder....`

### Actual behavior
Customer having draft status project is redirected to walkthrough page `Welcome to Topcoder....` without filter status nav bar

### Steps to reproduce the problem
- Login as customer.
- Create a project and keep

[2019-04-26 05:40] maxceem commented on #2999
Sure. Are there any example of use cases? Best if designs. So we can define the requirements more precisely?

The reason why I'm asking about particular usage cases is because the ability of markdown are very limited in terms of styling. We can change font style to bold, but we cannot change font size any arbitraty size or change font color. So I'm not sure if markdown would fit all our needs.

[2019-04-26 06:53] m-yadav opened #3002 "Duplicate Invitations on connect (case sensitivity on emails)"
### Expected behavior
The invitation module should check for the email address irrespective of the case sensitivity and prevent duplicated invites being sent to the user.

### Actual behavior
The invite module consider email with different cases as two separate entity and send over invitation to same email twice. The email with case matching the database asks the user to accept the invite where as

[2019-04-26 07:47] RishiRajSahu commented on #3001
Fixed via https://github.com/appirio-tech/connect-app/pull/2998

[2019-04-26 07:47] #3001 closed

[2019-04-26 10:04] vikasrohit commented on #2999
Yep, makes sense. I am worried about that too, however, I don't want take risk of introducing full fledged HTML inside every text field.
One of use cases which triggered this feature request right now is to show a bulleted list of simple texts to describe the question. As of now, it is not demanding any thing more than that.

[2019-04-29 11:10] maxceem commented on #2185
@vikasrohit found a quick fix with `shouldComponentUpdate`. But still the solution is quite clear and feels fast enough.

See the overall result demo https://monosnap.com/file/eAOgk4HfRjPqmFW9VI3PJWAwieave6

See comparison before and after of two fixes applied.

1. Before [1st fix](https://github.com/appirio-tech/connect-app/commit/4731ce2308f599aa148e82f8d7081dc39307974d), every topic is fully re

[2019-04-30 07:13] vikasrohit commented on #2185
@maxceem I can see significant difference in dev after this patch. You can also test it here https://connect.topcoder-dev.com/projects/4828. I check this project before the patch and it was having the lag between keystroke and the actual character appearing in the text box. Let me discuss with team if we are ready for the hotfix for the production as well.

[2019-04-30 11:58] vikasrohit commented on #2185
@maxceem Lets create PR for the hotfix on master. We will merge it if we need to, otherwise we will close it when we release it with our standard release.

[2019-05-01 01:36] maxceem commented on #2185
Created PR for PROD https://github.com/appirio-tech/connect-app/pull/3006

[2019-05-01 08:50] vikasrohit commented on #2185
Thanks @maxceem

[2019-05-02 06:29] vikasrohit opened #3008 "Intermittent error while creating projects"
As debugged by @mtwomey
1. This seems to happen for any project type right now
2. The project actually gets created, it just give the user that error
3. When I submit the project, in the debugger, I’m getting a 404 on a GET request to `https://api.topcoder.com/v4/projects/10644/phases`
4. I’ve captured that request, and I can see it fail with 404, _however_ I can “repeat” the *exact same* GET requ

[2019-05-02 07:30] vikasrohit commented on #3008
Patched production with the fix.

[2019-05-02 07:30] #3008 closed

[2019-05-02 10:02] vikasrohit commented on #2841
Good idea @maxceem. However, I think we are not yet ready for moving this permission to a separate common place. Another reason is that we might get some changes in the way we authorize users after some upcoming changes e.g. organizations feature in Connect.

@RishiRajSahu @maxceem upto you guys, how you want to handle this for now. I think we can replace permissions check per bundle of features s

[2019-05-02 10:29] maxceem commented on #2970
@vikasrohit here are some thoughts which come to my mind:

1. If non-customer made some change and now such a change is waiting for account manager approval:
   1. what information should be shown:
        1. old information
        2. or changed but not approved yet?
   2. Or should we show the old and new information together but new information should be highlighted somehow that it's waiting fo

[2019-05-02 11:21] vikasrohit commented on #2970
Thanks for the valuable thoughts @maxceem. These are valid queries, however, we might be able to simplify things by assuming certain things.

1. I think we need to keep the old state and proposed changes separately in our data model and let the product/design team to have best possible visual representation of the data.

2. For rejection use case, I guess we should be able to allow the requestor t

[2019-05-02 12:14] maxceem commented on #2970
Great that it helped.

Regarding 3. blocking others from editing scope while there is a pending change may be not comfortable and slow down the work in general - IMHO. So maybe we could think about some other ways around. Maybe most things we can let users edit anytime. For example for adding phases and add-ons, this should be ok.

4. By the way, can we only add scope, or also reduce? Like remove

[2019-05-03 07:23] RishiRajSahu commented on #2841
@vikasrohit yeah we can do it for connect only at first, in steps, with particular page/section of Connect chosen at a time to exploit permission model. Anyway once we have replaced all places with permissions model we can move it (in future when we are clear with all kind of authorisations required with respect to organisations feature) easily to central place/repo, also by then the changes we ar

[2019-05-05 01:24] maxceem commented on #2932
@vikasrohit we extracted evaluate function and use in connect app from npm in PR https://github.com/appirio-tech/connect-app/pull/2995 and already merged to DEV.

[2019-05-05 01:33] maxceem commented on #2841
@RishiRajSahu agree. I've created a project on Git for this: https://github.com/appirio-tech/connect-app/projects/13

I think we can start moving a section at a time as you suggested, so we could properly test small pieces rather than moving altogether. Will create the spec for some section.

If we don't refactor all together, I think there is no need in a separate CF. We can include them in regul

[2019-05-06 06:54] vikasrohit commented on #2932
Thanks for the update.

[2019-05-06 06:54] #2932 closed

[2019-05-07 08:47] vikasrohit opened #3009 "Don't show project timeline and estimate component when project can not be estimated"
### Expected behavior
We should not show any question and project estimate section etc after we have identified that the project with given input can not be scoped automatically i.e. when we show the message `Wow! We love your idea....`, we should not show questions/sections and project estimate section after that.

### Actual behavior
As of now, it is showing both the message `Wow! We love your i

[2019-05-07 08:48] vikasrohit commented on #3009
fyi @maxceem @RishiRajSahu

[2019-05-07 09:07] vikasrohit commented on #3002
@maxceem Do you think, considering that it would require changes in `tc-notifications`, we can handle it as bug bash?

[2019-05-07 09:08] vikasrohit commented on #2989
@maxceem do you have any thought about it?

[2019-05-07 09:10] vikasrohit commented on #2972
@maxceem this one demands dedicated handling instead of bug bash. If you think the same, you can get started with task for it.

[2019-05-07 09:11] vikasrohit commented on #2185
@maxceem do you think we still have opportunity to improve it? I am asking from perspective of closing this github issue.

[2019-05-07 09:14] vikasrohit commented on #2936
@maxceem we can start on this one in our next bug bash. For designs, we can keep the same red dot, but with this time with a count of mentioned messages in it and place it to the right side of the project card just like we do for phase card.

[2019-05-07 09:20] maxceem commented on #2989
@vikasrohit Could you, please, share more context on this.
1. When do we create projects via API in real life?
2. What is the purpose to distinguish these two methods?

[2019-05-07 09:23] maxceem commented on #2185
@vikasrohit theoretically there is a way to improve it and avoid using `shouldComponentUpdate` with comparing properties. But most likely such improvement will require a wast refactoring.
As per me it feels that the current speed is quite comfortable and I don't feel an issue with typing speed.

So I think we can close it for now and create a new issue later if there is any feedback that typing ex

[2019-05-07 09:26] maxceem commented on #3002
@vikasrohit I would prefer to run a F2F for this. As during CF it feels most people are more comfortable with client-side. And this task may also require some local setup.

[2019-05-07 09:26] maxceem commented on #2972
@vikasrohit yep, will start one.

[2019-05-07 09:28] vikasrohit commented on #2185
Closing as solution is merged into dev already and would move to the production with our regular release cycle.

[2019-05-07 09:28] #2185 closed

[2019-05-07 09:31] vikasrohit commented on #2989
1. We have some internal applications which are using connect API for creating projects
2. Purpose is to have better details when debugging some issue e.g. we saw a project with empty title and description on production which is ideally not possible from front end and neither it came from our internal apps. So, we are not sure, if that is actually a  bug or someone directly accessed the api.

[2019-05-07 09:32] vikasrohit commented on #2972
Great!! Please try to combine couple of more similar issues which we have for `tc-notifications`

[2019-05-07 09:59] maxceem commented on #2989
@vikasrohit I don't see how can we detect it using data which is already saved in the DB.

Though we can check several things when we get a request.
1. **Detect browser**.
    In general, we can detect browser using the requests headers like `User-Agent`. If we call endpoints from the browser, there should be some information. If we call it server side, most likely there would be no `User-Agent` o

[2019-05-07 10:04] maxceem commented on #2989
@vikasrohit updated comment above.

[2019-05-07 10:56] vikasrohit commented on #2989
Thanks for the input @maxceem. Lets hold for this now.

[2019-05-08 02:27] maxceem commented on #2955
To implement this we would need to implement support of `pagination` in the `tc-message-service` as so far it always returns all the data.

### Endpoints and pagination
1. `GET /topics` (data from `ES`)
    1. we should be able to paginate topics, to retrieve only a part of topics.
        - This can be easily achieved by using `size`/`from` params for ES search topics request.
    2. we also shou

[2019-05-08 03:09] maxceem opened #3010 "[$5] Link in posts don't have blue link color"
Links in the posts don't have a blue color as links.

![image](https://user-images.githubusercontent.com/146016/57346570-3115bb00-7179-11e9-97f1-a3c2bf54a611.png)

[2019-05-08 03:49] maxceem opened #3011 "[$40] Should not be able mention customers in private posts"
We have private topics/posts which customers cannot see.

We have the ability to mention users in posts and currently, we still can mention customers in private posts:

![image](https://user-images.githubusercontent.com/146016/57348063-e434e300-717e-11e9-8d37-651c81191203.png)

So customers shouldn't be listed in suggestions for mentioning in private posts.

[2019-05-08 03:54] maxceem commented on #3002
@vikasrohit got a good idea from a member of the challenge:

What do you think?

[2019-05-08 04:51] vikasrohit commented on #3002
We can include this if we can make it in a way that is easy to disable this feature in case there are troubles because of this check in future. I know right now it is not going cause issues but I am just trying to do things specific to the mail providers. However, as gmail is one of the largest mail provider, we can have this check in place in a plug and play way.

[2019-05-08 05:06] vikasrohit commented on #3011
Thanks @maxceem for catching this. Seems valid bug. And I think you need to update the title of the issue to say `Should not` instead of `Should`.

[2019-05-08 05:24] ajefts opened #3012 "[Redesign] Display notification for new messages on threads"
When there is a new message in a thread that a customer is on, or if they have been tagged, a summary of notifications should be shown on each thread.

<p></p>

Let's start with the desktop version of the system and we'll add the mobile view once the design pool completes the interface conversion.

<p></p>

**Acceptance Testing Plan:**

1. Log into the Connect platform

2. Access a project

3. See

[2019-05-08 05:24] ajefts commented on #3012
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1720736

[2019-05-08 05:25] vikasrohit commented on #3012
@maxceem fyi

[2019-05-08 05:53] ajefts opened #3013 "[Redesign] Sidebar alignment w/ Community"
**Overview**

Streamline experience for TC users we will adopt a standard sidebar navigation experience that is consistent between Connect and the Community.

<p></p>

**Requirements**

- We will remove the top-level tabs of Dashboard, Scope, and Project Plans

- We will still display the project status in the left sidebar, but controls over modifying project status will be updated (re: Feature in

[2019-05-08 05:53] ajefts commented on #3013
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1671859

[2019-05-08 06:23] maxceem commented on #2972
Just an update with details.

There are two cases which have to be handled:
1. Don't show notifications regarding posts inside phases in `draft` status to customers. This should be handled in `tc-notifcations` service.
2. Don't show other notifications related to `draft` phases to customers. These type of cases should be handled in `tc-project-service`.

[2019-05-08 07:59] maxceem commented on #3002
The current issue is fixed in branch https://github.com/topcoder-platform/tc-project-service/tree/feature/fix-email-duplicated-invites

I've noticed one more potential issue:
- we can invite `existent` user by email with another lattercase, which may also trigger an email to invite the user to the Topcoder, instead of inviting user by `userId`, see code https://github.com/topcoder-platform/tc-proj

[2019-05-08 09:03] vikasrohit commented on #1702
Closing as it has been fixed in https://github.com/appirio-tech/ap-member-microservice/issues/150 by fetching data for both endpoints via ES.

[2019-05-08 09:03] #1702 closed

[2019-05-08 09:21] vikasrohit commented on #2955
Thanks @maxceem for the input. First thing is that as of now, we don't have complete data indexed in the ES for messages and we are not using, in connect front end, the endpoints which return data from ES. ES should have only those topics/posts indexed which were created/updated after the deployment we did with ES indexing functionality in the code.
So, I guess we are okay for full reindexing if i

[2019-05-08 10:19] vikasrohit opened #3014 "[$100] Lag in showing the Notifications popup"
### Expected behavior
Notifications popup should be almost instantly visible after user clicks on the bell icon.

### Actual behavior
It takes few seconds to render the popup after one clicks on the bell icon. It might be happening for only admins because of the very long list of notifications.

### Steps to reproduce the problem
- Just click on the bell icon after logging in

### Screenshot/scree

[2019-05-08 10:19] vikasrohit commented on #3014
fyi @maxceem

[2019-05-08 10:36] maxceem commented on #3014
Yeah, I've also noticed that it was working quite slow. And as was mentioned by **sumitdaga** it looks like when we open/close this popover, the whole page is being re-rendered.

[2019-05-10 04:34] maxceem commented on #3014
See demo video how to see parts of the app which are re-rendered during Notification dropdown is opened https://monosnap.com/file/8kX2eQLVwxjKOCVVHHyWKcThyEAg3N. Most likely, but not for sure, these re-drawings are making this dropdown slow.

[2019-05-10 04:42] maxceem commented on #3011
To see private topics, we can open this project https://connect.topcoder-dev.com/projects/7977 using manager user `pshah_manager`.

Users who shouldn't be listed there are the users who have `customer` role in the redux store:
`projectState.project.memebers[]`:

![image](https://user-images.githubusercontent.com/146016/57502975-73293300-7318-11e9-94ec-8beb57355c1b.png)

[2019-05-10 04:52] maxceem commented on #2981
We already have links for topics in the sidebar. So the same links we should add for topics dates:

![image](https://user-images.githubusercontent.com/146016/57503345-ee3f1900-7319-11e9-8627-560677b5fdaa.png)

Here is how we format links for topics: https://github.com/appirio-tech/connect-app/blob/dev/src/routes/notifications/constants/notifications.js#L18

[2019-05-10 04:57] maxceem commented on #2969
@vikasrohit here are all the fields which we can edit for milestones which are not yet complete:

![image](https://user-images.githubusercontent.com/146016/57503487-83daa880-731a-11e9-9496-b4b09a790e29.png)

Just want to confirm. Which fields should we be able to edit when a milestone is complete?
1. Only `Name`
2. Only `Name` and `Completed text`
3. All fields but `Duration`
4. All fields

[2019-05-10 05:23] vikasrohit opened #3016 "Confirmation alert is needed before deleting attachment for a post"
This is an enhancement for currently in progress feature.

fyi @gondzo @maxceem

[2019-05-10 05:25] vikasrohit opened #3017 "[$35] User should be able to delete a post attachment without making any change to the text of the post"
It seems it requires user to do some changes in post's text after user has deleted one or more files. Similarly, I think when user just wants to add more files without updating the text of the post, he/she should be able to do that as well.

fyi @gondzo @maxceem

[2019-05-10 06:11] maxceem commented on #3002
@vikasrohit PR is created in project service for this issue https://github.com/topcoder-platform/tc-project-service/pull/303

After it's merged and deployed to dev, I can make e2e smoke testing to verify the original issue.

[2019-05-10 06:18] maxceem commented on #2715
To properly fix this issue we should do two things:
1. `[REQUIRED]` Find a way to reproduce it. (we may need to simulate network error or something like that).
2. `[REQUIRED]` Fix it.

[2019-05-10 06:22] maxceem commented on #2936
@vikasrohit just would like to confirm from this:

Should we count only `notifications.connect.project.post.mention` events? Or all events related to posts and topics, like:
- `notifications.connect.project.topic.created`
- `notifications.connect.project.topic.edited`
- `notifications.connect.project.post.created`
- `notifications.connect.project.post.edited`
- `notifications.connect.project.post.

[2019-05-10 06:46] maxceem commented on #2936
Design:

- Circle radius: 32px
- Circle background color: `$tc-red-70` from https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss
- Font: white color, 10px bold Roboto.

Wide (grid):

![image](https://user-images.githubusercontent.com/146016/57507629-885a8d80-7329-11e9-9ac5-30c810335b8e.png)

Narrow (grid):

![image](https://user-images.githubusercontent.com/14601

[2019-05-10 07:16] vikasrohit opened #3018 "Do we need to show the post attachments in the left panel?"
@acshields @vic-topcoder question for you guys.

[2019-05-10 07:18] maxceem commented on #2991
Sum up:
- To see an error page we can add a line:
[code]
   to https://github.com/appirio-tech/connect-app/blob/dev/src/api/projects.js#L6

   And load projects list http://local.topcoder-dev.com:3000

   ![image](https://user-images.githubusercontent.com/146016/57509118-a5915b00-732d-11e9-9f1e-8590de9fc09e.png)

- We should fix the link for `support@topcoder.com`, it should be `mailto:` as now it

[2019-05-10 07:33] maxceem commented on #2967
@vikasrohit How should the collapsed card look like? Like this?

![image](https://user-images.githubusercontent.com/146016/57510265-87792a00-7330-11e9-8699-9e315ce1fe18.png)

If so, how should we show it in case we cannot estimate as described in the issue https://github.com/appirio-tech/connect-app/issues/3009 ?

[2019-05-10 08:53] vikasrohit commented on #2967
Yes, this is the collapsed view of the scope component and when clicked, it would render in the top right corner in its full form (which is mostly what we have in our final summary screen on project creation).
And for the cases identified by #3009, we don't need to show this component at all any where.

[2019-05-10 08:55] vikasrohit commented on #2967
One more thing @maxceem, I would like to keep the changes for this issue in a separate branch then a common CF branch so that we can include this feature in our release as per our will depending on the dates for new smart scope forms going live.

[2019-05-10 09:02] vikasrohit commented on #2991
Good sum up @maxceem Only, query is that why we need to do this only for `500` error? we should be doing this for any error code which renders this page. Isn't it?

[2019-05-10 09:09] vikasrohit commented on #2936
For now we need only `notifications.connect.project.post.mention events` as per requirements, but I think there is sufficient probability of including all the events you mentioned. However, we would do that when required, for now we should be good with only mention event. Just make sure it is easily doable to add more events in future.

Also, Please add a tooltip saying `5 unread messages waiting

[2019-05-10 09:11] vikasrohit commented on #2715
Just to confirm @maxceem, this is still happening on production and latest error occurred couple of days back on May 8, 2019.

[2019-05-10 09:13] vikasrohit commented on #2969
@maxceem from the screenshot, all fields but `Duration`. Can we put validation on the backend as well for the same?

[2019-05-10 09:34] vikasrohit opened #3019 "Redirect to login page when deep link is hit by a logged out user"
### Expected behavior
User should be redirect to the login page

### Actual behavior
User is kept on the Connect's home page which again has `Start Project` button pointing to the new project screen which again requires login page but it still keeps on Connect's home page.

### Steps to reproduce the problem
- Logout from Connect
- Enter one of the deep link or new project URL `https://connect.top

[2019-05-10 11:06] vikasrohit opened #3020 "[$80] Need to show textbox and textinput components in summary screens"
Just like other form components, We need to render the `textbox` and `textinput` components in summary screen under accordion so that it does not look bad on the summary screen.

[2019-05-10 11:06] vikasrohit commented on #3020
@maxceem

[2019-05-10 12:28] vikasrohit commented on #3019
Done and deployed to dev.

[2019-05-10 12:28] #3019 closed

[2019-05-10 16:08] acshields commented on #3018
Yes @vikasrohit

[2019-05-10 17:23] vic-topcoder commented on #3018
Until we build a new page where people can access all the files and links, yes, we show it.

[2019-05-11 01:54] maxceem commented on #2967
So when we open it should look like this inside this card:

![image](https://user-images.githubusercontent.com/146016/57563587-cad3a700-73c9-11e9-927f-622fd27b2e9b.png)

@vikasrohit

1. Can we edit project scope here? As currently, we can do it on the summary page.

2. > it would render in the top right corner in its full form

    As I understand we should render this card collapsed and expanded

[2019-05-11 01:56] maxceem commented on #3009
To create a new project with such feature we can use this link https://connect.topcoder-dev.com/new-project/app-new-updated-designs-4

[2019-05-11 02:01] maxceem commented on #2991
@vikasrohit yeah agree, first I thought we don't need such functionality for errors like `404` or `403`, but on the second thoughts if such error is not expected by the user, it would be also good to get details in such case. Updated comment.

[2019-05-11 02:11] maxceem commented on #2936
We already have a reusable tooltip component which we should reuse here. To see an example open this project https://connect.topcoder-dev.com/projects/8032/plan. And on the **Project Plan** tab, click edit next to the phase and hover mouse on the "In Progress" status value

![image](https://user-images.githubusercontent.com/146016/57563781-420a3a80-73cc-11e9-9a1e-c79aee827540.png)

Here is this pl

[2019-05-11 02:24] maxceem commented on #2969
@vikasrohit sure.

This task has two parts which have to be done: client-side and server-side.

1. [Client-side] We should show edit button for milestones for users who have rights to edit them event after milestone is complete. For example, `pshah_manager` can edit milestones, but `pshah_customer` cannot.
    When a milestone is completed, we can edit all the fields except of`Duration`, in other

[2019-05-11 02:30] maxceem commented on #2967
@vikasrohit

4. To confirm: should we show it on the **Dashboard** or **Project Plan** tab?

[2019-05-11 02:38] maxceem commented on #2177
Sum up:
1. Asynchronously reload posts/topics using actions `loadDashboardFeeds`, `laodProjectMessages` and `loadPhaseFeed`.
   When we reload feed on the dashboard, we should call both `loadDashboardFeeds` (load public topics) and `loadProjectMessages` (load private topics) as we don't know if the new topic if private or public.

   For posts on the dashboard, we can detect if the post is inside

[2019-05-11 03:08] sumitdaga commented on #2984
@maxceem please assign it t ome

[2019-05-11 03:09] maxceem commented on #2984
done

[2019-05-11 03:10] applehit16 commented on #3011
I'll work on this one

[2019-05-11 03:34] rashmi73 commented on #2985
@maxceem pls give to me thanks

[2019-05-11 03:37] PrakashDurlabhji commented on #2969
@maxceem I wish to work on this

[2019-05-11 03:40] Gauravseta commented on #2991
@maxceem please assign this to me

[2019-05-11 03:42] maxceem commented on #2969
sure

[2019-05-11 03:43] mhikeo commented on #2177
@maxceem Please assign this to me. Thanks.

[2019-05-11 03:46] sumitdaga commented on #2984
@maxceem  PR at #3021

[2019-05-11 03:46] sumitdaga commented on #2981
@maxceem  please assign it to me?

[2019-05-11 03:47] khushimehta03 commented on #2936
@maxceem pleaze assign it to me

[2019-05-11 03:57] prasadadarkar30 commented on #3010
@maxceem Please give it to me thank you

[2019-05-11 04:02] maxceem commented on #2177
done

[2019-05-11 04:02] sumitdaga commented on #2981
@maxceem  PR at #3022

[2019-05-11 04:02] sumitdaga commented on #2715
@maxceem  can you please assign it ti me ?

[2019-05-11 04:03] maxceem commented on #2936
done

[2019-05-11 04:03] maxceem commented on #3010
done

[2019-05-11 04:04] maxceem commented on #2715
sure

[2019-05-11 04:28] maxceem commented on #2560
Work here should be done in two repositories:

1. Inside repository https://github.com/topcoder-platform/tc-notifications we should check all the email templates inside folder https://github.com/topcoder-platform/tc-notifications/tree/dev/emails/src/partials and find all the images which are hosted on the third-party places. I found only one image myself `comment.jpg` which is used in multiple tem

[2019-05-11 04:29] maxceem commented on #2560
This issue is now open for pickup.

[2019-05-11 04:37] gurmeetb commented on #3014
@maxceem plz assign me this

[2019-05-11 04:53] rashmi73 commented on #2985
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3023

[2019-05-11 04:53] maxceem commented on #3014
sure

[2019-05-11 05:26] maxceem commented on #2999
@vikasrohit could you please, point out which text exactly do you mean here? As we have many types of texts.

[2019-05-11 05:29] maxceem commented on #3000
@vikasrohit I'm thinking about adding the second option and calling it `introduction`. So we can add both at the end and at the end if want.

Does it look good? I propose to make it bigger than the description at the end.

![image](https://user-images.githubusercontent.com/146016/57565449-4e9c8c00-73e8-11e9-91ad-888ec82b43d6.png)

[2019-05-11 05:42] vikasrohit commented on #3000
Looks good. I didn't get what do you mean by size of the field? It is in
JSON, do we need any size parameter?

On Sat, May 11, 2019, 10:59 maxceem <notifications@github.com> wrote:

[2019-05-11 05:44] maxceem commented on #3000
@vikasrohit I mean the size of the font - how we display it. The description at the bottom we display very small. I think the introduction at the top we should display bigger IMO.

[2019-05-11 07:06] sumitdaga commented on #2715
@maxceem
is it possible that due to the network delay other api calls are also timing out and hence it seems that page is not loading ...i had set the network throttling to (a custom) very slow and saw this
![Selection_154](https://user-images.githubusercontent.com/7769148/57566372-50b31a80-73e9-11e9-8ed1-bfd3e5da297a.png)

[2019-05-11 08:33] maxceem commented on #2715
@sumitdaga as per report, the issue is that when loading notifications is failed, nothing is shown. So as I understand from report other requests works good, and the issue is that one failed request for notifications breaks the app.

In the way you suggest not only notifications request is failed, but others also. Here we try to understand how if only loading notifications is failed the whole app

[2019-05-11 09:45] prasadadarkar30 commented on #3010
@maxceem wont be able to complete it hence making it open.

[2019-05-11 09:46] rashmi73 commented on #3010
@maxceem please assign this to me

[2019-05-11 09:58] rashmi73 commented on #3010
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3024

[2019-05-11 11:16] sumitdaga commented on #2715
@maxceem  @vikasrohit
ok so to just mock timeout the notifications (or any call) i added another axiosInterceptor code block in this file https://github.com/appirio-tech/connect-app/blob/dev/src/api/requestInterceptor.js

![Selection_155](https://user-images.githubusercontent.com/7769148/57568948-d647c200-740b-11e9-9f34-7be6b501a7a5.png)

and then i imported this in https://github.com/appirio-tech

[2019-05-11 11:20] akumar1503 commented on #2560
@maxceem can you assign this to me.
Thanks.

[2019-05-11 12:46] vikasrohit commented on #3000
Makes complete sense.

On Sat, May 11, 2019, 11:14 maxceem <notifications@github.com> wrote:

[2019-05-11 15:26] gautam1168 commented on #2969
@maxceem is this becoming open again?

[2019-05-11 15:29] PrakashDurlabhji commented on #2969
@maxceem PR in 10 minutes. near to complete it. thank you

[2019-05-11 15:31] PrakashDurlabhji commented on #2969
@maxceem PR raised at https://github.com/topcoder-platform/tc-project-service/pull/304

not even 10 mins required

[2019-05-11 15:38] PrakashDurlabhji commented on #2969
@maxceem frontend PR at https://github.com/appirio-tech/connect-app/pull/3025
backend PR at topcoder-platform/tc-project-service#304

Kindly provide feedback if any, everythign is ready

[2019-05-11 15:41] Gauravseta commented on #2991
@maxceem some more time as it is bit complicated in handling all case. PR in hour thank you

[2019-05-11 15:49] khushimehta03 commented on #2936
@maxceem releasing it for others as unable to solve it, it is open again.

[2019-05-11 15:49] rashmi73 commented on #2936
@maxceem i would work on this thank you

[2019-05-11 17:11] gurmeetb commented on #3014
@maxceem Sorry got delayed on this, kindly give me few more hrs.

[2019-05-11 18:15] Gauravseta commented on #2991
@maxceem open now, do not wish to hold it more so that someone can work on it

[2019-05-11 18:16] PrakashDurlabhji commented on #2991
@maxceem please assign this to me, beginning work

[2019-05-11 22:43] PrakashDurlabhji commented on #2991
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3027

[2019-05-11 22:48] applehit16 commented on #3011
It’s done and ready for review https://github.com/appirio-tech/connect-app/pull/3028

[2019-05-11 22:50] rashmi73 commented on #2936
@maxceem work in progress, may need more than 12 hours as facing difficulty in running npm run build locally.

[2019-05-12 01:32] gautam1168 commented on #2177
@maxceem is this becoming open again?

[2019-05-12 01:33] gautam1168 commented on #2715
@maxceem is this becoming open again?

[2019-05-12 01:46] maxceem commented on #2560
sure, it's on you since you've commented

[2019-05-12 01:51] maxceem commented on #2936
@rashmi73 it's on you. What type of difficulty you have? We also don't have to run `npm run build` to work locally only `npm start`.

[2019-05-12 01:52] maxceem commented on #2177
As there were no PR raised and no comment provided, this issues is now open for pickup. The one who first comments here after it's open can start working on it.

[2019-05-12 01:54] maxceem commented on #3014
@gurmeetb do you have any progress with this issue?

[2019-05-12 01:57] sumitdaga commented on #2177
Can you assign it to me please ? @maxceem

[2019-05-12 02:01] maxceem commented on #2715
@sumitdaga yeah, this reproduces the delay and makes notifications requests failed, but doesn't reproduce the issue as projects are still shown.

Here I also tried another way to fail notifications request https://github.com/appirio-tech/connect-app/issues/2715#issuecomment-448142481, but it didn't break loading projects.
But as per the report, there is only notifications timeout error in the cons

[2019-05-12 02:02] maxceem commented on #2177
Another issue is on you @sumitdaga, do you want to give it up?

[2019-05-12 02:10] sumitdaga commented on #2715
@maxceem  can you.please release me from this one and assign the other issue to me ..I don't know what else to do here

[2019-05-12 02:10] maxceem commented on #2715
Ok, @sumitdaga, thanks for giving a try.

This issues now open for pick up. The one who first comment can start working on it.

[2019-05-12 02:11] maxceem commented on #2177
@sumitdaga since you've released another issue, this issue is on you.

[2019-05-12 02:37] gautam1168 commented on #2715
ill give it a shot

[2019-05-12 02:38] maxceem commented on #2715
sure, it's on you

[2019-05-12 02:43] gautam1168 commented on #2715
A couple of queries:
1. Do you have any info about the exact steps taken in the prod that caused the issue?
2. Could this be browser specific? Which browser are they using when the issue occurred?
3. Is the prod deployment public? So I can access that?

[2019-05-12 02:55] maxceem commented on #2937
New DraftJs Link Editor functionality (like in Google Docs) is done https://github.com/appirio-tech/connect-app/pull/3029

In particular, it automatically shows a small popup as soon as link is created, to encourage user to add a title to the link.

[2019-05-12 03:14] gautam1168 commented on #2715
Maybe it only happens in the when env is production. I tried to set the --env=production in the start script in package.json but the website didn't load even though it compiled with no errors. Do you know how to build and deploy in prod mode locally?

[2019-05-12 03:24] maxceem commented on #2715
1. It looks like we just load connect app and see nothing. But maybe @vikasrohit has more info for this.
2. @vikasrohit is there any info in which browser it has been caught?
3. There is prod website where you can log in with your PROD Topcoder account http://connect.topcoder.com

When we build website locally it builds and gzips files. So files in the dist folder are zipped. You can use this smal

[2019-05-12 03:55] akumar1503 commented on #2560
@maxceem i have tested that the files are being generated in dist/static, in connect-app.

For test in tc-notifications, can you please provide some workflow how that can be tested?

[2019-05-12 04:02] maxceem commented on #2560
@akumar1503 thanks for testing on the connect.
I think we don't have a way to test it on `tc-notifications` service other than deploying these templates to `sendgrid `. The changes you've done to the templates look good to me. Important thing is to make sure that only one image there has to be served and there are no other images.
In case the URL has some typos we can fix it after we deploy them a

[2019-05-12 04:32] gautam1168 commented on #2715
By throwing an error in getNotifications in the prod build I can get the load of project list to delay a bit but I can't get it to crash. Even on production I was not able to reproduce the error. I have only tried on chrome.

I don't want to work on this anymore. Consider this issue released from me.

[2019-05-12 04:40] maxceem commented on #2715
Thanks for giving a try for it @gautam1168.

This issue is now open for pickup.

[2019-05-12 05:06] akumar1503 commented on #2560
@maxceem thanks.

Just to be sure, there is an img in [template.html](https://github.com/topcoder-platform/tc-notifications/blob/dev/emails/src/template.html) using third party url, do i need to update this, it's not in partials folders as you mentioned.

[2019-05-12 05:19] maxceem commented on #2560
Great catch @akumar1503, this file also shouldn't use third-party images. As this is a common template where we insert partials from `src/partials` folder.

[2019-05-12 05:33] gurmeetb commented on #3014
hey @maxceem Sorry can you open it?

[2019-05-12 05:34] maxceem commented on #3014
@gurmeetb yep, thanks for the update. This issue is now open for pickup.

[2019-05-12 05:38] gets0ul commented on #3014
Can I work on this?

[2019-05-12 05:40] maxceem commented on #3014
Sure @gets0ul, it's on you.

[2019-05-12 05:54] akumar1503 commented on #2560
I have updated both the PR's, please review.

[2019-05-12 06:51] amitpatra commented on #2715
I would like to give it a try.

[2019-05-12 06:55] maxceem commented on #2715
sure @amitpatra

[2019-05-12 07:06] vikasrohit commented on #2715
@maxceem @gautam1168 @amitpatra just to reiterate, on production there is no specific way to reproduce it and this error occurs randomly and once it appeared it stays that way for some time. I mean after first occurance, even after multiple page refresh, it just dont load.
Also, I didnt notice any other error in console apart from timeout for notifications call.

[2019-05-12 09:55] sumitdaga commented on #2177
@maxceem
i may be wrong, but it seems when new notifications are loaded and if it has a new post, posts are re-loaded as of now ...can you please check it once?

[2019-05-12 10:03] rashmi73 commented on #3010
@maxceem can you please assign this to me, as I have completed this, as prasad made it open.

[2019-05-12 13:58] rashmi73 commented on #2936
@maxceem it is completed raising MR, do i need to show component on phasecard or task was just to add component inside components folder?

[2019-05-12 14:56] gets0ul commented on #3014
Got distracted, seems that I can't finish it on time so I'm releasing this.
Please unassign me. Thanks.

[2019-05-12 15:15] gurmeetb commented on #3014
@maxceem can I pick this ?

[2019-05-12 15:18] maxceem commented on #2936
Yes, this badge has to be shown in project listing in the places shown in this comment https://github.com/appirio-tech/connect-app/issues/2936#issuecomment-491176512

[2019-05-12 15:39] rashmi73 commented on #2936
@maxceem as of now all projects phase card will have badge as conditions are not applied as ticket does not describe it and also i guess requires additional configurations.

[2019-05-12 16:49] amitpatra commented on #2715
Hi, even I wasn't able to reproduce the issue, hence leaving it for pickup.

[2019-05-12 17:32] rashmi73 commented on #2936
@maxceem PR ready https://github.com/appirio-tech/connect-app/pull/3030

[2019-05-12 17:33] rashmi73 commented on #3010
@maxceem any updates here?

[2019-05-13 00:33] maxceem commented on #2715
Thanks for checking it @amitpatra.

This issue is now open for pickup.

[2019-05-13 00:34] maxceem commented on #3010
@rashmi73 fixed assignment.

[2019-05-13 00:46] maxceem commented on #2936
It's described in several comments. Let me sum up:
- for each project, we should show a count, how many times the user has been mentioned in posts (if user hasn't been mention - we don't show count badge).
- to know how many times user has been mentioned we can count how many notifications with type `notifications.connect.project.post.mention` user have for each project
- all the notifications are

[2019-05-13 00:52] maxceem commented on #2177
@sumitdaga you are right, in case if are on the Dashboard tab, didn't scroll yet and didn't start editing any post, all the posts would be reloaded once we get notifications about new post.

But it many other situations it wouldn't happen. Also, unlike here, we don't want to reload posts every time a new notification comes. We want to reload posts only after we clicked some notification in case th

[2019-05-13 00:53] maxceem commented on #3014
Thank you for update @gets0ul.

This issue is now open for pickup.

[2019-05-13 02:20] maxceem commented on #2973
@vikasrohit this is fixed in https://github.com/topcoder-platform/tc-notifications/pull/117

[2019-05-13 02:22] maxceem commented on #2972
@vikasrohit The first part (1.) is fixed in https://github.com/topcoder-platform/tc-notifications/pull/117

Regarding the second part, I should first verify which notifications are still come to customers for draft phases and which don't. As there are already some filters implemented in project service as mentioned above.

[2019-05-13 05:52] vikasrohit commented on #2999
Majorly it would `description` and new field `introduction` which we are getting added as another task #3000

[2019-05-13 06:06] vikasrohit commented on #2967
1. Let it be editable for now until we implement #2970
2. Nopes, I would like to render it as per new styles which I shared with you on Slack. It would not simply expand in place. Rather we need to show an overlay pivoted at top right corner of the viewport. Something like this

<img width="1439" alt="Screen Shot 2019-05-13 at 11 34 44 AM" src="https://user-images.githubusercontent.com/2417632/575

[2019-05-13 07:42] r0hit-gupta commented on #3014
Please assign it to me.

[2019-05-13 07:49] maxceem commented on #3014
done

[2019-05-13 14:29] sumitdaga commented on #2177
@maxceem
sorry i couldn't put much time today , but would like to continue to work on it tomorrow..
let me know if its ok ?

[2019-05-13 21:46] rashmi73 commented on #2936
@maxceem yes working on it completing it

[2019-05-14 00:30] maxceem commented on #3014
As PR hasn't been created during 12 hours and no comment provided, this issue is now open for pick up.

[2019-05-14 00:31] maxceem commented on #2177
You can continue working on today.

[2019-05-14 00:33] maxceem commented on #3000
This is done and pushed to `cf17` branch.

[2019-05-14 01:26] maxceem commented on #2999
@vikasrohit Done in the `cf17` branch. It supports the whole markdown syntax, though at the moment have styles only for:
- ordered list
- unordered list
- bold text
- code text

![image](https://user-images.githubusercontent.com/146016/57664283-20a68a00-762a-11e9-9f16-5ffe03c50be9.png)

Please, let me know if any other styles may be needed.

[2019-05-14 01:32] maxceem commented on #3020
@vikasrohit is there by chance an example of a project template which has `textbox` and `textinput` components in summary screen? So far I can only find with checkboxes or without a summary screen.

[2019-05-14 01:34] maxceem commented on #3018
@vikasrohit should we be able to edit/delete post attachments on the left sidebar? Or should we show them here in read-only mode, same how we do for links from the posts?

[2019-05-14 02:32] maxceem commented on #3009
@vikasrohit what if achieve this using conditions?

So far we use condition to show this message:
![image](https://user-images.githubusercontent.com/146016/57666546-e8f01000-7632-11e9-8fdd-b22d90046b1b.png)

I guess we can move this condition to `preparedConditions` as `IS_CUSTOM_SOLUTION`, and after hide `intermediate-summary`, `add-ons` sections and `estimation` question on the final summary sec

[2019-05-14 02:38] maxceem opened #3031 "[$100] Attached file is not shown immediately when creating a post"
When I create a post and attach a file the file is not shown after I click `Post` and post is created. I have to reload the page and after I can see the file I've attached to the post. See demo video: https://monosnap.com/file/9B2cbyBzlLc7oQYE0rmDHZcofUdIaU

@vikasrohit should we include it to the CF?

[2019-05-14 02:43] maxceem commented on #3017
@vikasrohit It works as expected when we attach a new file as per testing. So we only have to fix this for the case when we delete a file.

When we delete a file attached to the post, the `Update post` button should become active even without making any changes to the post. And clicking the `Update post` button would only apply attachment removing.

See demo video how it works now https://monosnap

[2019-05-14 02:44] maxceem commented on #3017
This issue is now open fo pickup.

[2019-05-14 02:50] maxceem commented on #3016
We already have a confirmation popup which is shown when we click a button to delete a post:

![image](https://user-images.githubusercontent.com/146016/57667242-6c126580-7635-11e9-8064-7c671d0a7fdf.png)

See demo video https://monosnap.com/file/EuonvMhFY4F34wsudqOG5w6yZa5qPi

We should show a similar confirmation popup when we click a button to delete the attachment from a post. We should adjust t

[2019-05-14 02:51] maxceem commented on #3016
This issue is now open for pickup.

[2019-05-14 02:52] maxceem commented on #2715
The prize for this issue is increased to `$150`. As we still cannot find a way to reproduce it, everybody may give it a try.

[2019-05-14 02:54] gondzo commented on #3016
@maxceem one note on this one - the attachment is currently not deleted until you actually save the post, so maybe that should be reflected in the dialog text above? or delete the attachment immediately?

[2019-05-14 02:58] maxceem commented on #3016
Thanks, @gondzo. Not sure what is the best way here.

@vikasrohit do you have any preferences?

[2019-05-14 03:41] akumar1503 commented on #3017
@maxceem i would like to work on this.
Thanks.

[2019-05-14 03:48] maxceem commented on #3017
sure

[2019-05-14 04:04] PrakashDurlabhji commented on #3016
@maxceem can i get to work on this as it was open? thank you

[2019-05-14 04:07] maxceem commented on #3016
@PrakashDurlabhji it's closed for now as it needs some clarification. It would be opened again as soon as we got details for this issue.

[2019-05-14 04:14] maxceem commented on #3012
@vikasrohit

As I understand we should show the next block on the `Dashboard` tab for each topic user has unread notifications:

![image](https://user-images.githubusercontent.com/146016/57670361-7f2b3280-7641-11e9-9f7e-240c66b58f49.png)

There is one note at the moment: as soon as user open `Dashboard` tab all the notifications related to the posts and topics on this tab would be marked as `read`

[2019-05-14 04:30] maxceem commented on #3013
@vikasrohit

As per the new design, the sidebar should look like this:

![image](https://user-images.githubusercontent.com/146016/57670796-70de1600-7643-11e9-98b0-97582134a1e8.png)

Do I understand it correctly, that this task about implementing the sidebar includes:
1. Changing the Dashboard tab so only shows the project plan and scope card.
2. Creating a Discussion tab which would show only topi

[2019-05-14 04:33] maxceem commented on #2967
@vikasrohit  I’ve noticed that the new designs tend to be like material design. Do you think it could make sense to use an existent library for material design and only style the components our way?

For example, material designs have:
- buttons https://material-ui.com/demos/buttons/
- bars https://material-ui.com/demos/app-bar/
- drawers https://material-ui.com/demos/drawers/
- lists https://mate

[2019-05-14 04:56] vikasrohit commented on #3020
@maxceem I have a new one(with id 118) for [example](https://connect.topcoder-dev.com/new-project/api_development_new) and this one is actually the real world use case which we have to push to production in near future.

[2019-05-14 04:59] vikasrohit commented on #3018
Let them editable as ideally we want the links to be editable from the left panel as well but we are limited with challenge of updating the link changes to the messages' content. In this case we don't have to change/update the post/message content if some one changes the post attachment from the left panel. So, lets keep them similar to other attachments.

[2019-05-14 05:03] vikasrohit commented on #2967
Agreed with your views on material designs and I would like to keep the components in `react-components` from starting even though it slows us down by couple of days.

However, currently we don't have to focus on the actual designs/styles in this issue or any issue that is currently in flight for us. Very soon we have to start efforts for applying these new designs to our product though.

[2019-05-14 05:05] vikasrohit commented on #2967
I just realized that your intent is to start using these libraries for new components like drawers. In that case, yes start using that library for drawers as we don't have that component yet in our `react-components` lib and please store the proxy component in `react-components` itself.

[2019-05-14 05:15] RishiRajSahu commented on #2841
@RishiRajSahu so are we going to include some of the sections/items in the next CF ?

[2019-05-14 05:21] vikasrohit commented on #3009
Makes sense. Let me try achieving this with `condition`.

[2019-05-14 05:28] maxceem commented on #2967
Another proposition to consider: what if start implementing the new styles form now?

I mean if we follow exactly the new design including colors?
The reasons for this, if we don't follow designs exactly, then the resulting design we would get would be just `approximate` and we would end up having styles mismatches anyway. And after it could be hard to fix it, as it may be hard to notice small dif

[2019-05-14 05:30] maxceem commented on #2841
@RishiRajSahu I'll try to include some portion.

[2019-05-14 05:33] RishiRajSahu commented on #2937
@maxceem thanks, just tested the changes on dev, the link detection flow looks good, there are few things I noted -
1. When link detected it show AddText | Remove and then If I click either of the action it show link again with both options, I think we can directly show the next action.
- when user clicks `Add Text` directly the title adding option should appear
- when user clicks `Remove` option

[2019-05-14 05:34] RishiRajSahu commented on #2937
3. The links added appearing as regular text, without blue color, link changes color on hover only.
4. I am not able to see the accordion as per the design you made.

[2019-05-14 05:37] vikasrohit commented on #3009
@maxceem I am able to achieve it through `condition`, however, it requires me to add condition field to every sub section. Can we add the same field to the section as well?
Also, if all of the sub sections of a section are hidden by condition, shouldn't the section be hidden as well? I noticed that even if all subsections of the `intermediate-summary` screen were hidden, it was rendering the secti

[2019-05-14 05:43] vikasrohit commented on #3012
@maxceem we have to stop marking all notifications as read for topics on dashboard load from now on. We can still render the topics on the dashboard until we do changes for #3013 to move them to their dedicated route. However, the purpose here is to pick the view from the new designs and implement it in existing place because new designs have all topics collapses by default and clicking on the col

[2019-05-14 05:47] maxceem commented on #2937
@RishiRajSahu

1 - I cannot reproduce the issue you've mentioned. As soon as I click `Add Title` I can directly input the title, see demo video https://monosnap.com/file/Rn8Q0nSizTqvHUtJxu6BQwRBlKD9sX. Could you please provide more detailed steps on how to reproduce the issue.

3 - It's a known issue which is handled via CF https://github.com/appirio-tech/connect-app/issues/3010

2 and 4 have been

[2019-05-14 05:50] vikasrohit commented on #3013
1.  Yes
2. Yes
3. You are right. Need to discuss with product team for that. For now can we put the drawer's content in the whole page instead? I guess we would two list views on the page one for links and another for files.
Also, please note that we are calling this as `Library` as per description of the ticket.
4. I guess we even don't much design changes here
5. Leave this part out of scope for

[2019-05-14 05:51] vikasrohit commented on #3013
We also need to keep our Project status dropdown as is for now, although it is not shown in the new designs.

[2019-05-14 05:52] maxceem commented on #3012
This task title looks like about the Unread topics section. While as I understand what you would like to implement is a new way of displaying topics: collapsed cards + drawer with messages.

![image](https://user-images.githubusercontent.com/146016/57673672-66297e00-764f-11e9-8243-9d209d17298c.png)

and

![image](https://user-images.githubusercontent.com/146016/57673679-6f1a4f80-764f-11e9-932e-ddd

[2019-05-14 06:03] vikasrohit commented on #3000
Thanks @maxceem

[2019-05-14 06:04] vikasrohit commented on #2999
Perfect. Thanks @maxceem

Just for reference, where do you add styles for the supported markdown element? I mean when we have support more markdown elements, what steps we need to take?

[2019-05-14 06:06] vikasrohit commented on #3031
Yes, please and thanks for catching this.

[2019-05-14 06:10] maxceem commented on #2999
Just add more child styles to this class https://github.com/appirio-tech/connect-app/blob/0711473bc1ea70cf03034d8fdc47dedbf11b814b/src/projects/detail/components/SpecQuestionList/SpecQuestionList.scss#L135-L158

[2019-05-14 06:11] RishiRajSahu commented on #2937
@maxceem
1. Don't put a space just after link detection and then follow.
2. Perfect then.

[2019-05-14 06:17] maxceem commented on #2937
@RishiRajSahu got it.

How to reproduce:
- enter link and press `Space` but don't enter any other characters, see demo https://monosnap.com/file/fsk90mXC4fYurNtIxTDxZepV0mzCD2
- here are several issues:
   - the small popup cannot be closed on click outside
   - we see the small popup without title

[2019-05-14 06:45] maxceem commented on #2177
@sumitdaga could you please, let me know if you are working on the issue.

[2019-05-14 06:52] sumitdaga commented on #2177
@maxceem  yes i am working, if i am not able to finish by today ..i will open it for pickup!

[2019-05-14 06:53] abdullatku commented on #3014
please assign it to me

[2019-05-14 07:03] vikasrohit commented on #3016
Lets leave it out of CF for now. Thanks @gondzo for catching this. I would discuss with team and update the thread.

[2019-05-14 07:13] vikasrohit commented on #3012
The primary purpose of this issue is to have some kind of notification for unread messages on our current dashboard threads. Because we can not achieve this without updating the design (by design I just mean the layout or behavior only), we have to use the collapsed topic/thread card designs from the proposed designs and because we chose that, we have to also choose drawers for showing the details

[2019-05-14 07:17] vikasrohit commented on #2999
Thanks. And just to confirm, even if we don't add styles for such new elements, it would still be rendered in the intended way of the element but the it would might not be as per TC styles and might not fit well in our designs e.g. lets say if we don't have style for `ol` in it, and someone adds an `ol` element, it would still show the ordered list but the list might look a not fit to our designs.

[2019-05-14 07:18] maxceem commented on #3014
@abdullatku You may start working on the issues since you've commented as per our Bug Bash rules. To keep it clear I would like to mark you assigned to the issue. To do so, please, accept the invitation you should get now to this repository.
Thanks.

[2019-05-14 07:21] maxceem commented on #2999
It would still render it, but most likely it would look like a regular text without any styles. Though it would depend on the global styles we have and the default styles of the elements in the browser.
Note, we have implemented styles for tag `ol`.

[2019-05-14 07:22] RishiRajSahu commented on #2937
@maxceem can we avoid showing small popup without title in first place ?

[2019-05-14 07:23] maxceem commented on #3031
This issue is now open for pickup.

[2019-05-14 07:24] PrakashDurlabhji commented on #3031
@maxceem pls give to me thanks

[2019-05-14 07:27] maxceem commented on #3018
@vikasrohit is it ok if I merge branch https://github.com/appirio-tech/connect-app/tree/feature/list-links-from-posts where we implemented listing links form the posts on the sidebar to the `cf17` branch. So we would have to include that to our release.

The reason for this that most likely we could reuse an accordion component which we use to show links from posts for files from posts.

And just

[2019-05-14 07:28] maxceem commented on #2937
@RishiRajSahu yes, I've already reached the winner of the challenge to take care of this issue. I think he is the most aware of how things work there and the best way to handle this issue.

[2019-05-14 07:29] maxceem commented on #3031
sure

[2019-05-14 07:31] vikasrohit commented on #2967
Understand that concern @maxceem, however, I think problem with adopting new colors would be that some components would look in old colors and other in new colors. What I want is that we adopt for new designs except colors mostly and use appropriate color from current color palette e.g. instead of new green based primary color, we can still reuse our current primary blue based colors.

[2019-05-14 07:33] vikasrohit commented on #2999
Yep, I saw that, just taking a reverse example for better understanding.

[2019-05-14 07:34] vikasrohit commented on #3018
Agreed on all points @maxceem

[2019-05-14 07:36] akumar1503 commented on #3017
created a PR [here](https://github.com/appirio-tech/connect-app/pull/3032), please review.

[2019-05-14 07:37] RishiRajSahu commented on #2937
@RishiRajSahu cool !

[2019-05-14 07:49] maxceem commented on #3020
Sum up:
- We have various form for creating projects
- When we fill some field and click `Next`, fields are displayed in `read-optimized` mode which look like this
   - during editing:

      ![image](https://user-images.githubusercontent.com/146016/57679407-ce7f5c00-765d-11e9-9378-71d91bef5597.png)
  - after we clicked `Next`:

     ![image](https://user-images.githubusercontent.com/146016/576794

[2019-05-14 07:50] maxceem commented on #3020
This issue is now open for pickup.

[2019-05-14 07:50] sumitdaga commented on #3020
@maxceem  is it ok if i take this one and leave the other one i am assigned to now ?

[2019-05-14 07:52] maxceem commented on #3020
@sumitdaga sure, but note, you have to unassign the previous issue before picking up a new one.

[2019-05-14 07:53] sumitdaga commented on #3020
@maxceem  yes sure, thats what i asked ...leave that and take this one!

[2019-05-14 07:54] sumitdaga commented on #2177
@maxceem  please unassign me from this!

[2019-05-14 07:55] maxceem commented on #2177
This issue is now open for pickup.

[2019-05-14 07:55] maxceem commented on #3020
done

[2019-05-14 07:57] maxceem commented on #2937
@RishiRajSahu would you like me to merge the branch with implemented links on the sidebar https://github.com/appirio-tech/connect-app/tree/feature/list-links-from-posts to the PR of this issue?

[2019-05-14 08:00] gurmeetb commented on #2177
@maxceem I can try this.

[2019-05-14 08:01] maxceem commented on #2177
sure

[2019-05-14 08:14] maxceem commented on #3018
Sum up:
- Can use this project for testing http://local.topcoder-dev.com:3000/projects/8031
- We already have implemented functionality to extract links from all the posts and show them on the sidebar like this:
    ![image](https://user-images.githubusercontent.com/146016/57681485-5ebfa000-7662-11e9-8e78-d907de05830a.png)
- We should do the same for files inside posts. We should show them on the

[2019-05-14 08:15] maxceem commented on #3018
This issue is now open for pickup.

[2019-05-14 08:36] amitkumar98 commented on #3018
@maxceem Please assign this to me.

[2019-05-14 08:43] maxceem commented on #3018
@amitkumar98 You may start working on the issues since you've commented as per our Bug Bash rules. To keep it clear I would like to mark you assigned to the issue. To do so, please, accept the invitation you should get now to this repository.
Thanks.

[2019-05-14 09:24] vikasrohit opened #3033 "User is unable to deselect specific options in tiled radio group type question"
### Expected behavior
User should be able to select only one value from the options which means once user choose a value, previous value should be deselected.

### Actual behavior
It is selecting new value but not letting the previous one unselected for certain options.

### Steps to reproduce the problem
- Open https://connect.topcoder-dev.com/new-project/real-world-testing
- Try to select `Unstr

[2019-05-14 09:28] maxceem commented on #2841
@RishiRajSahu I propose to slightly update [checkPermission](https://github.com/appirio-tech/connect-app/blob/cf17/src/helpers/permissions.js#L4) method before start migrating the rest of our code to this method.

1. Remove the third `entity` argument.
2. Rename the second argument from `project` to `entities`. The `project` should be a property of the `entities` argument. So the second `entities`

[2019-05-14 09:56] sumitdaga commented on #3020
@maxceem  PR at #3034

[2019-05-14 10:20] gurmeetb commented on #2177
@maxceem sorry got pulled into something, can we open this for others? Thanks

[2019-05-14 10:22] sumitdaga commented on #2177
@maxceem  i would like to work on it again since i have already raised a PR for the other issue i was working on!

[2019-05-14 11:41] akumar1503 commented on #3017
@maxceem i have a doubt, please clarify. I have cloned the repo and got dev branch and started working by creating new branch.

Since i need to create PR against cf17 branch, do i had to clone from cf17 branch?

[2019-05-14 12:04] vikasrohit commented on #3033
Patched production with the fix. Should be working now.

[2019-05-14 12:04] #3033 closed

[2019-05-14 14:14] abdullatku commented on #3014
Sorry I may not be able to complete this in time. pls unassign me. Thanks

[2019-05-14 14:39] maxceem commented on #3017
Yes. You can still try to create a PR from dev branch which you use to cf17 branch. But if there are any merge conflicts you would need to resolve them.

[2019-05-14 14:41] maxceem commented on #3014
Thank you for letting me know @abdullatku.

This is issue is now open for pick up. The one who first comments on it may start working on it without waiting to be assigned.

[2019-05-14 15:31] sumitdaga commented on #2177
@maxceem  i am working on it ..meanwhile please give feedback, if any on the approach  at #3035

[2019-05-14 16:48] RishiRajSahu commented on #2937
@maxceem yeah we can merge those changes to dev, please merge them via a separate PR to dev.

[2019-05-14 20:33] preyankjain8 commented on #3014
Please assign it to me!

[2019-05-14 22:43] PrakashDurlabhji commented on #3031
@maxceem I investigated a lot  with efforts and actually it is not a frontend issue but a backend issue as attachements array is coming blank in reducer

CREATE_PROJECT_FEED_COMMENT_SUCCESS

hence it is not displayed first time.

and when we reload the page, then in LOAD_PROJECT_FEEDS_SUCCESS has that same object of post filled with attachements property.hence we are able to see attachements.

2.

[2019-05-14 22:48] rashmi73 commented on #2936
@maxceem Few more hours and actively working

[2019-05-15 00:40] maxceem commented on #2937
@RishiRajSahu here is a PR https://github.com/appirio-tech/connect-app/pull/3037.

It's strange, but I cannot choose you as a reviewer for a PR anymore

![image](https://user-images.githubusercontent.com/146016/57740981-0da8be00-76ed-11e9-910b-0abddbfa393d.png)

[2019-05-15 00:42] maxceem commented on #3014
@preyankjain8 It's on you since you've commented as per our Bug Bash rules. To keep it clear I would like to mark you assigned to the issue. To do so, please, accept the invitation you should get now to this repository.
Thanks.

[2019-05-15 00:54] maxceem commented on #3031
Thank you @PrakashDurlabhji for putting efforts into it, great finding.

@vikasrohit There is an issue with the message service:
- when we create a post with attachments:

   ![image](https://user-images.githubusercontent.com/146016/57741249-8ceac180-76ee-11e9-9dd9-7b9a26432351.png)

   It returns a response of a newly created post without attachments:

   ![image](https://user-images.githubuserco

[2019-05-15 00:57] maxceem commented on #3018
As no PR has been raised for 12 hours and no comment provided, this issue is now open for pickup.

[2019-05-15 01:07] maxceem commented on #2177
@sumitdaga I've checked the WIP PR the global idea feels right - tracking changing of the hash. Though we don't have to create a custom way for tracking it we can use `react-router` package and `withRouter` HOC.

Could you please check this [comment](https://github.com/appirio-tech/connect-app/issues/2177#issuecomment-478836122) which describes the general approach here.
Also, check this closed [P

[2019-05-15 01:08] maxceem commented on #2841
@RishiRajSahu what to do you think about the sugestion [above](https://github.com/appirio-tech/connect-app/issues/2841#issuecomment-492161516)?

[2019-05-15 01:40] maxceem commented on #2937
@RishiRajSahu this issue is fixed and already deployed to dev https://github.com/appirio-tech/connect-app/issues/2937#issuecomment-492084995

[2019-05-15 03:49] preyankjain8 commented on #3014
I tried but won't be able to do it in time. Please unassign me.

[2019-05-15 03:52] maxceem commented on #3014
Thank you for update @preyankjain8.

The prize for this issue is raised to $100 and this issue is now open for pickup.

[2019-05-15 04:08] Gauravseta commented on #3018
@maxceem please give this to me thank you

[2019-05-15 04:10] maxceem commented on #3018
sure

[2019-05-15 06:46] vikasrohit commented on #3031
Yes, go with the server side fix.

[2019-05-15 08:57] maxceem commented on #3031
@PrakashDurlabhji as we need to get it fixed on the backend I'm going to increase the prize for this issue to $100 to cover the increased efforts. Let me know you are intereseted to fix this issue server-side.

[2019-05-15 09:17] maxceem commented on #3031
@PrakashDurlabhji you should get an invitation to the repo https://github.com/appirio-tech/tc-message-service where the issue could be fixed server-side.

[2019-05-15 09:34] PrakashDurlabhji commented on #3031
@maxceem yes I am interested in doing it and complete it. thank you

[2019-05-15 14:01] sumitdaga commented on #2177
@maxceem
there are some tricky spots with this issue ...  updating projectInfoContainer has as such no issues ..after implementing that part comes scrolling to the relevant feed or post ...
one way is to move the `scrollTo` functionality to `componentDidUpdate()` lifecycle hook in the https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/FeedContainer.js#L223 componen

[2019-05-15 14:16] sumitdaga commented on #2177
is this behaviour ok ?

[2019-05-15 15:35] sumitdaga commented on #2177
@maxceem   i have updated the PR #3035
let me know if its ok?

[2019-05-15 15:40] sumitdaga commented on #3014
@maxceem  i would like to give it a try

[2019-05-15 16:44] PrakashDurlabhji commented on #3031
@maxceem need aws account for local deployment of tc-message-service? I went through the https://github.com/appirio-tech/tc-message-service/blob/dev/local/README.md still somewhat confused.

[2019-05-15 16:55] Gauravseta commented on #3018
@maxceem providing update in few hours.

**The only difference for files is that we should be able to delete them the same way as it's done for normal files**

can you please guide to a project which has such normal files and can be deleted.as confused on delete attachement api calls.

[2019-05-15 21:01] rashmi73 commented on #2936
@maxceem verification screenshot for notification filtering

![8031_1](https://user-images.githubusercontent.com/41687423/57809265-bc4b0e00-7782-11e9-96a0-fcf434a8d1d6.png)

[2019-05-15 21:20] rashmi73 commented on #2936
@maxceem PR updated

[2019-05-16 00:52] maxceem commented on #3018
@Gauravseta In this project, there is a file for deleting https://connect.topcoder-dev.com/projects/8031 on the sidebar

![image](https://user-images.githubusercontent.com/146016/57818705-b7ed1800-77b7-11e9-828f-039f036ae540.png)

Note, that would need to implement the same delete button. But API call would be different. API would be same like when you delete an attachment from the post

![image](

[2019-05-16 00:55] maxceem commented on #2177
I think scrolling should work automatically, doesn't it?

This behavior I think would disturb users.

[2019-05-16 00:59] maxceem commented on #3031
@PrakashDurlabhji could you please, register to this challenge https://www.topcoder.com/challenges/30090720 I've provided the config for the message service on the forum which you can use. I think no AWS account is needed at the moment.

After using that config, follow the guide starting from [Install Dependent Packages](https://github.com/appirio-tech/tc-message-service/blob/dev/local/README.md#i

[2019-05-16 01:01] maxceem commented on #3014
Sure, it looks like you've completed another issue.

[2019-05-16 02:29] maxceem opened #3038 "Cannot create a project"
Cannot create a project, because of 404 during creation with the next request:

https://api.topcoder-dev.com/v4/projects/8038/phases?fields=products%252Cbudget%252CcreatedAt%252CcreatedBy%252Cdetails%252Cduration%252CendDate%252Cid%252Cname%252Cprogress%252CprojectId%252CspentBudget%252CstartDate%252Cstatus%252CupdatedAt%252CupdatedBy

![image](https://user-images.githubusercontent.com/146016/5782

[2019-05-16 02:38] maxceem opened #3039 "Cannot create a project"
Cannot create a project, because of 404 during creation with the next request:

https://api.topcoder-dev.com/v4/projects/8038/phases?fields=products%252Cbudget%252CcreatedAt%252CcreatedBy%252Cdetails%252Cduration%252CendDate%252Cid%252Cname%252Cprogress%252CprojectId%252CspentBudget%252CstartDate%252Cstatus%252CupdatedAt%252CupdatedBy

![image](https://user-images.githubusercontent.com/146016/5782

[2019-05-16 02:44] maxceem commented on #2967
@vikasrohit I'm trying to sum up this issue, and here are a few questions.

1. on the `Dashboard` and `Project Plan` tab we should show the existent [ProjectEstimation](https://github.com/appirio-tech/connect-app/blob/issue_3010/src/projects/create/components/ProjectEstimation.js#L14) component

     ![image](https://user-images.githubusercontent.com/146016/57821728-289a3180-77c4-11e9-81bc-5a666b1

[2019-05-16 04:50] maxceem commented on #2969
@PrakashDurlabhji I've reviewed both PR. Please have a look.
https://github.com/appirio-tech/connect-app/pull/3025#pullrequestreview-238175828
https://github.com/topcoder-platform/tc-project-service/pull/304#pullrequestreview-238176929

[2019-05-16 05:34] vikasrohit commented on #3039
Closing. Duplicate of #3038

[2019-05-16 05:34] #3039 closed

[2019-05-16 07:10] sumitdaga commented on #2177
when we call the `scrollToHash` method in `componentWillRecieveProps` https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/containers/FeedContainer.js#L229  the new feed/post is in the redux store but not yet rendered and it won't scroll ...setTimeout pushes the call a bit futher down the stack during which the feed/post is now rendered and then it scrolls

also in the project

[2019-05-16 07:32] maxceem commented on #2177
I can create a new phase with user `pshah_manger` here https://connect.topcoder-dev.com/projects/8031/plan. Let me know if it works for you.

[2019-05-16 07:46] mfikria commented on #2715
@maxceem i would like to try, please assign me. Thanks!

[2019-05-16 07:49] maxceem commented on #2715
Sure, thanks.

[2019-05-16 08:51] vikasrohit opened #3040 "[$60] Hide 403 error page when a user accepts the invite"
### Expected behavior
User should not see the 403 error page when user accepts the invite to join the project

### Actual behavior
403 error page is flashing for couple of seconds even if the user accepts the invite to join the project.

### Steps to reproduce the problem
- Send invite a user
- Login with invited user
- Try to join the project using the link shared in the notification email or jus

[2019-05-16 08:57] maxceem commented on #3040
The most easier way is to use user `pshah_manager` to invite user `pshah_customer` in one browser. And then use user `pshah_customer` to open the same project in another browser and accept the invitation.

See demo video https://monosnap.com/file/PSdj5Z6mPOdEo9O7hwqKdaXou391wd

Note: don't have to create a new project every time. Can just remove user and invite him again.
Can use this project for

[2019-05-16 08:58] maxceem commented on #3040
### IMPORTANT

please use branch `master` to work on this issue and create a PR against `master` branch.

[2019-05-16 08:59] maxceem commented on #3040
This issue is now open for pickup.

[2019-05-16 09:00] akumar1503 commented on #3040
@maxceem please assign this to me.
Thanks

[2019-05-16 09:02] maxceem commented on #3040
sure

[2019-05-16 10:00] sumitdaga commented on #3014
@maxceem  i have figured out the reason and a potential fix too ...
so basically the two actions `VISIT_NOTIFICATIONS` and `TOGGLE_NOTIFICATIONS_DROPDOWN_WEB` (and i suppose `TOGGLE_NOTIFICATIONS_DROPDOWN_MOBILE`) change the state of  `lastVisited` and `isDropdownWebOpen`  ...because of these redux store changes ...the components are being re-rendered ....
but we only need these two properties in

[2019-05-16 10:16] sumitdaga commented on #3014
@maxceem
i will proceed with the implementation once you confirm (at least more or less see it working) ...since it will involve many changes  (i should clean up the code right? ...remove unused actions, reducer states, etc)

[2019-05-16 11:20] maxceem commented on #3014
Thanks for update. Generally saying using redux should be a problem. As we use redux for many other actions but they don't cause rerendering of the whole screen. Also, it would be great if we could avid wast refactoring for fixing this issue. This is just the first thoughts from the top of my head. I'll check it more detailed tomorrow and will let you know.

[2019-05-16 11:22] sumitdaga commented on #3014
@maxceem
i implemented it anyway ...and it works pretty nicely
the only problem is we do sort of need `lastVisited` in the store to remember between route changes that we have read notifications ... what i have done for this issue is call VISIT_NOTIFICATIONS when the component is unmounted and then store it in the local state when the component is mounted
here is the PR for you to check #3041

[2019-05-16 11:29] sumitdaga commented on #3014
did you mean to say `shoudln't` ?

yes but in this case visitNotifications, toggleDropdown actions are changing the store object each time we open/close notificationsPopup which is causing re-render if the `store.notifications` is passed to the page which it is in both dashboard and project-detail page ... let me know if there is a flaw in my understanding ...

[2019-05-16 12:27] vikasrohit commented on #2967
1. Keep the design as is for the summary, just encapsulate in a card and exclude the the text `Our estimate is from $16000`.
2. Please show summary wherever possible, otherwise the the inner content of the scope form.
<img width="909" alt="Screen Shot 2019-05-16 at 5 50 59 PM" src="https://user-images.githubusercontent.com/2417632/57853602-cd882f00-7803-11e9-90f5-873a47b91cad.png">
3. Yes, you can

[2019-05-16 12:30] vikasrohit commented on #3038
Yes, I fixed that by not making a call to the `GET phases` endpoint and instead using the `phases` from the payload of `POST project` endpoint. If this is still happening, it might be some other issue. I was not able to debug it today, will check it tomorrow.

[2019-05-16 19:00] akumar1503 commented on #3040
@maxceem need more time, still working on it.

[2019-05-16 20:34] PrakashDurlabhji commented on #3031
@maxceem thanks updating in few hours, working

[2019-05-16 20:39] Gauravseta commented on #3018
@maxceem releasing it as wont be able to finish it making open.

[2019-05-16 20:39] rashmi73 commented on #3018
@maxceem kindly give it to me thanks

[2019-05-17 00:44] maxceem commented on #3018
Thank you for update @Gauravseta.

It's' on you @rashmi73.

[2019-05-17 05:49] maxceem commented on #2715
Hi everybody.

Please, don't forget to submit the list of issues you've been working on during this challenge with your Github and Topcoder handle.
No matter if your PR is already approved or not yet.

This would speed up the payment process.

Thank you.

cc @akumar1503 @PrakashDurlabhji @sumitdaga @rashmi73 @applehit16

[2019-05-17 06:14] m-yadav opened #3042 "Email Notifications not working on connect for messages."
**Issue**
Email notifications not working for connect messages on the portal. Inter project communication is being hampered due to the issue.

**Expected Behaviour**
Email notifications  should be rolled out to the concerned members as and when a message from a client arrives on the portal.

[2019-05-17 06:25] jagadeeswara commented on #3042
It would be good if you show some error message, when ever the email notification has failed, so the user knows, to send the communication atleast using other channels.

[2019-05-17 22:36] PrakashDurlabhji commented on #3031
@maxceem able to run locally, with a doubt. PR in few hours.

[2019-05-17 22:44] rashmi73 commented on #3018
@tanks maxceem, work going on

[2019-05-18 00:18] akumar1503 commented on #3040
@maxceem managed to create a PR [here](https://github.com/appirio-tech/connect-app/pull/3043).

The issue was that `showUserInvited` was set to false before sending results to the server finishes successfully, in response to ACCEPT_OR_REFUSE_INVITE_PENDING action.

[2019-05-19 09:34] maxceem commented on #3018
@rashmi73 are you going to complete this issue? Let me know asap, please, or I would have to unassign you.

[2019-05-19 09:35] maxceem commented on #3031
@PrakashDurlabhji are you going to complete this issue? Let me know asap, please, or I would have to unassign you.

[2019-05-19 09:41] maxceem commented on #3040
@akumar1503 thanks, works great!

[2019-05-19 09:43] PrakashDurlabhji commented on #3031
@maxceem yes I will complete this some time

[2019-05-19 09:48] maxceem commented on #3031
@PrakashDurlabhji Ok, how much do you think you need for this?

[2019-05-19 18:07] PrakashDurlabhji commented on #3031
@maxceem dont know what is issue suddenly.
it is getting 403 forbidden access even while hitting through postman.

Surely I feel docs provided on challenge forum and on repo are not completed sequentially, nothing is working locally.

[2019-05-19 18:08] PrakashDurlabhji commented on #3031
@maxceem this read me file does not specify  in detail how to use jwt for different users and other cases.

dont know where am I going wrong.

https://github.com/appirio-tech/tc-message-service/blob/dev/local/README.md#install-dependent-packages

[2019-05-19 18:12] PrakashDurlabhji commented on #3031
@maxceem i guess locally postgresql db is empty hence getting an error while creating posts with attachmenets via postman.

error getting is
start request { method: 'POST', url: '/v5/topics/1/posts/create'
relation "topics" does not exist
SequelizeDatabaseError: relation "topics" does not exist

[2019-05-19 22:25] rashmi73 commented on #3018
@maxceem is this what expected? PR https://github.com/appirio-tech/connect-app/pull/3046

[2019-05-20 01:16] maxceem opened #3047 "Add more details in error page - part 2"
Recently we improved error page https://github.com/appirio-tech/connect-app/issues/2991

It works good when an error happens during loading of the project list. But to be able to show additional error data on the error page for all the cases we should do 2 things:
1. For each place where error happens, we should set in the redux store the whole error object instead of `true`/`false`. And we should

[2019-05-20 02:00] maxceem commented on #3018
@rashmi73 Provided PR doesn't implement the desired functionality. As Bag Bash time is over and you've only started working on this issue we don't have time to complete it. So I'm unassiging you from the issue for now.

Thanks.

#### Issue details
We have the ability to attach files to the posts. And in this issue, we should show all the files which we attached to the posts on the left sidebar. We

[2019-05-20 02:13] maxceem commented on #3031
start request { method: 'POST', url: '/v5/topics/1/posts/create'
relation "topics" does not exist
SequelizeDatabaseError: relation "topics" does not exist

@PrakashDurlabhji  You should run these commands from README to create all the tables in DB:
[code]

You can use JWT token from Connect app. But first, you should do this thing:
1. In file `/node_modules/tc-core-library-js/lib/auth/verifier.js`

[2019-05-20 02:34] mfikria commented on #3018
@maxceem please assign it to me

[2019-05-20 04:42] maxceem opened #3048 "Display invite user status"
From @vikasrohit:

I have another requirement (kind of urgent POC). We want some kind of confirmation or status for the users when they invite others. Right now they are not sure if the target user has received the email or not. Our systems works in following way: tc-project-service sends bus event for the particular user action (e.g. xxx.member.invited) and tc-notifications consumes that and gene

[2019-05-20 04:43] maxceem commented on #3048
Questions from @maxceem :
1. Do you think we should add ednpoints to both these services and call them directly from Connect App to show the status?

2. Just an idea, what if we add some empty pixel to the emails to track when users open the emails? We would have to create a new table in `tc-email-service`, gother with endpoint which would serve an 1 pixel image, and track when such image is loade

[2019-05-20 05:14] RishiRajSahu opened #3049 "Moving Draftjs plugin related code from Connect Repo"
After succesful completion of this https://github.com/appirio-tech/connect-app/issues/2937 we can now work on moving the draftjs smart plugin, to detect the links, code to react-components library.

fyi @maxceem @vikasrohit

[2019-05-20 05:14] RishiRajSahu commented on #2937
Closing. Merged to dev.

[2019-05-20 05:14] #2937 closed

[2019-05-20 05:17] maxceem commented on #3049
Here is a sum up comment from a discussion regarding moving DraftJs editor to `react-components`:

I think we only have to move DraftJs editor [RichTextArea](https://github.com/appirio-tech/connect-app/blob/feature/draftjs-link-editor/src/components/RichTextArea/RichTextArea.jsx#L514) component as a component which would let us edit Rich Text. At the moment this component in Connect App is tightly

[2019-05-20 05:24] vikasrohit commented on #3049
Hold on for this for time being.

[2019-05-20 05:29] vikasrohit commented on #3040
@maxceem could you please upload a video demonstrating the fix? I am afraid that setting the `showUserInvited` flag to true might show the project content while the request is pending for acceptance or rejection.

[2019-05-20 05:39] vikasrohit commented on #3014
@maxceem a demo video after the fix would be good here for backtracking in future.

[2019-05-20 05:58] maxceem commented on #3048
@vikasrohit here are few finding:

1. Looks like `tc-notfications` service always sends invitation emails immediately and never schedule them no matter what user settings have for notifications.

    1. In this line, we set flag to send invitation emails immediately https://github.com/topcoder-platform/tc-notifications/blob/dev/connect/notificationServices/email.js#L316-L318
    2. And in this lin

[2019-05-20 06:11] maxceem commented on #3014
@vikasrohit here is a demo video after fix: https://monosnap.com/file/IQkvor5U4cJNdmIy3X0Gax09BWB1RO
- only the dropdown popover is redrawn when we show/hide it
- we can show/hide it very fast

[2019-05-20 06:14] sumitdaga commented on #3014
@maxceem  i have a suggestion about this
we could store `LAST_VISITED` in local storage too ..so that the unread red dot can be implemented across sessions too ..now after visiting if user refreshes the red dot is visible again(depending on other factors also of course)!

[2019-05-20 06:17] maxceem commented on #3014
Thanks for suggestion @sumitdaga.

@vikasrohit let me know if you think it would be good to keep the status of `LAST_VISITED` during the session, or showing a red dot on every load (depending on conditions) is the intentional behavior.

[2019-05-20 06:24] maxceem commented on #3040
@vikasrohit here is a demo video where I'm testing using hotfix branch https://github.com/appirio-tech/connect-app/tree/hotfix/invite-403

https://monosnap.com/file/q8b1RG31m5T01JOjCPdC4Rt0jEqr7K

[2019-05-20 06:54] ajefts opened #3050 "SSO vs. Non-SSO email templates"
**Objective:** Create two separate email templates (SSO template vs. Non-SSO email template) for when unregistered users are invited to a project.

<p></p>

**Requirements:**

- When an unregistered user is invited to a project with a client who has supported SSO, they should receive an email invitation with SSO registration workflow enabled

- When an unregistered user is invited to a project wit

[2019-05-20 06:54] ajefts commented on #3050
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2221144

[2019-05-20 06:54] RishiRajSahu commented on #3050
fyi @vikasrohit @maxceem

[2019-05-20 12:11] vikasrohit commented on #3014
Thanks @maxceem for the video.

I am not sure about the using the local storage for improving the red dot behaviour. I don't think the red dot appears again, if all notifications are marked as seen once and then there is no notification till user refreshes the page. Is behaviour different than what I described?
Anyway, I think this topic requires more details discussion, so could you please create

[2019-05-20 12:13] vikasrohit commented on #3040
Thanks for the video @maxceem. Sorry to trouble you more, but could you please create video of the use case where user rejects to join the project after getting invited?

[2019-05-20 12:32] vikasrohit commented on #3047
@maxceem how much efforts do you think these 2 tasks would take? Also, I didn't understand the `2` point because if we have the error object, does it matter from where this error is raised? All we need is that stack trace.

[2019-05-20 13:11] maxceem commented on #3047
@vikasrohit to evaluate I have to do a little bit more research on this.

Maybe this is a false alarm but during some quick testing I didn't get an error object I've expected to get. But again, maybe I've just put `throw error` in a wrong place or something. Need to double check it, so mentioned it to not forget.

[2019-05-20 13:15] maxceem commented on #3040
@vikasrohit here is a demo video when a user cancels the invitation https://monosnap.com/file/EiSAoGcSAstbsMAygaEMczk5aslPLe

[2019-05-20 13:23] maxceem opened #3051 "[$150] Notifications dropdown red cue"
Currently, when we have some notifications we show red cue next to the notification bell in the top-right corner:

![image](https://user-images.githubusercontent.com/146016/58024390-a3f13f80-7b44-11e9-9911-334e341c8d82.png)

When we open notification dropdown, we remember the time of the last notification and hide red cue:

![image](https://user-images.githubusercontent.com/146016/58024651-4611278

[2019-05-20 13:24] maxceem commented on #3014
@vikasrohit the logic and behavior look different from what you described. I've created a new issue with a description of the current logic https://github.com/appirio-tech/connect-app/issues/3051

[2019-05-20 15:52] maxceem commented on #3031
Hi @PrakashDurlabhji do you have any progress with this issue? I can wait 12 hours more, but if it's not completed I would have to unassign you and handle this issue some other way. As we would have to release it soon.

Thanks.

[2019-05-20 15:54] PrakashDurlabhji commented on #3031
@maxceem i will complete this

[2019-05-20 15:58] maxceem commented on #3031
Ok, you can have 12 hours more. Issues is still on you.

[2019-05-20 16:01] PrakashDurlabhji commented on #3031
@maxceem will upate in few minutes if doubt and i did do npm run migrate but issue same

[2019-05-20 20:09] PrakashDurlabhji commented on #3031
@maxceem I do not find access to https://github.com/appirio-tech/tc-message-service.

Am I removed from the group? though I have repo locally but how will I push the change? just 8 hours are left.

[2019-05-20 21:13] PrakashDurlabhji commented on #3031
@maxceem mostly found solution but how to push now?

[2019-05-21 01:29] maxceem commented on #3031
@PrakashDurlabhji Topcoder enabled a restriction for all repositories. So everyone who didn't have 2-factor authorization enabled in their GitHub accounts got removed.

I'll invite you again but it can take some time as I have to contact a Topcoder team to do so.

To speed up the things, please send zip-archive with your submission to my email maxceem@gmail.com.

[2019-05-21 04:01] maxceem commented on #2967
Thanks, @vikasrohit for clarifications.

A couple of more questions:

1. As per the design, when we open Drawer on the right there is light overlay color which covers the content https://marvelapp.com/3h6bdfd/screen/56039326/handoff
   1. it doesn't cover the top toolbar, which is understandable.
   2. as per design it also doesn't cover the left sidebar, just want to confirm that this is an inten

[2019-05-21 05:02] maxceem commented on #2967
@vikasrohit [previously](https://github.com/appirio-tech/connect-app/issues/2967#issuecomment-492074942) we've agreed, that it would be good to use an existent library for material components, rather than reimplementing them, as the new design uses a lot of them.

I've tried to make some POC using the library https://material-ui.com/demos/drawers/ and it appears that it requires React version 16.3

[2019-05-21 05:13] vikasrohit commented on #3051
@acshields we need to discuss this behaviour.

[2019-05-21 05:15] vikasrohit commented on #3051
@maxceem are we marking any notification as seen as well while hiding the red cue?

[2019-05-21 05:17] vikasrohit commented on #3031
@maxceem any help needed here for setting github permissions?

[2019-05-21 05:20] vikasrohit commented on #3040
Thanks @maxceem for capturing the video. It looks good in video, I was just worried about showing any of the project details (even if it is momentarily) when user refuses to join the project because it seems as per change done, to fix the issue, set the flag for showing the project to `true` while the request is still pending. So, I was thinking if somehow the invite refuse request takes bit longe

[2019-05-21 05:21] maxceem commented on #3031
@vikasrohit yes, could you, please, add `PrakashDurlabhji` again to the `tc-message-service` repository. As has been automatically removed after enabling 2FA for Topcoder repos.

[2019-05-21 05:22] vikasrohit commented on #3031
Done.

[2019-05-21 05:23] maxceem commented on #3051
@vikasrohit no. By the current logic, we mark notifications as seen when we open the page which mentioned in the notifications link https://github.com/appirio-tech/connect-app/blob/dev/src/components/NotificationsDropdown/NotificationsDropdownContainer.jsx#L46-L52

[2019-05-21 05:26] maxceem commented on #3031
Thank you @vikasrohit

@PrakashDurlabhji you should get a new invitation for `tc-message-service` repository. To accept it you would have to enable 2-factor authorization for your GitHub account. If you have any problems with this, you can send the zip archive to my email listed above instead.

[2019-05-21 05:28] maxceem commented on #3040
@vikasrohit hmm, it feels that it's impossible for a user to see any project data before the invitation is accepted as a user doesn't have permissions for access and backend suppose to return `403`.

[2019-05-21 05:46] vikasrohit commented on #2967
Go ahead after this CF to get React upgraded to 16.x to be in sync with other topcoder apps. How long do you think it could take? I am asking from the point of view of having it released in upcoming release (not sure about the dates yet) and delaying the the task for this issue.

[2019-05-21 05:48] vikasrohit commented on #2967
for your previous questions @maxceem, all your understandings are correct about the drawer behaviour and leave the side bar out of overlay as per design.

[2019-05-21 05:49] vikasrohit commented on #3047
Makes sense. So, I guess we should start on getting error details in other places as well as soon as possible may be via a separate f2f.

[2019-05-21 06:30] maxceem commented on #2967
I think we can start migrating `react-components` rigth now first and after we would migrate Connect App. I would expect that it may take a week, but will try to complete it till the end of this week if it goes well.

[2019-05-21 06:34] maxceem commented on #2967
@vikasrohit just remembered, what can bring us problem during migration is the third-party libraries we are using. So the actual time would depend on them, and this quite hard to predict.

[2019-05-21 06:56] vikasrohit commented on #2967
Yes, good point. I think we should start the efforts for upgrade in parallel, however, I think it would take some time. So, we should prepare alternative approach for getting the changes for the current task done. So, I would suggest either implement our custom logic in the proxy component that we talked about and later on use material ui library when we are ready. Or can we try some old version o

[2019-05-21 07:23] maxceem commented on #2967
Great idea. I've checked it out, it works with the old 0.22 version https://monosnap.com/file/lBmIHCKMGNO7RcfG353WBU6MLJU7pi. So we can use the old version of the material-ui and after migrate to the new on together with version of React.

And it would be still easier than reimplementing components ourself.

[2019-05-21 08:05] mfikria commented on #3018
I create a PR https://github.com/appirio-tech/connect-app/pull/3053. Todo: add delete action

[2019-05-21 08:08] maxceem commented on #3018
Thanks for update @mfikria. Do you need any feedback now? Or I can review the PR after you implement the delete action functionality?

[2019-05-21 08:13] maxceem commented on #3048
@vikasrohit just a humble reminder about this. Would be great to get some feedback from you, if it's ok to access status data from `tc-email-service` without project restriction or no.

[2019-05-21 08:40] mfikria commented on #3018
@maxceem you can review it now without delete functionality

[2019-05-21 09:17] vikasrohit commented on #3048
Thanks @maxceem for bumping it up.

1. Agreed, we immediately send the member invite emails, however, in future, we may need to show the sent notification status for any generic event not only for member invite. Hence, I would like it to be generic and get the functionality, of having status of ScheduledEmails, in built in first iteration itself.

2. I understand that it would be tricky to control

[2019-05-21 13:45] maxceem commented on #3031
Hi @PrakashDurlabhji

You can send the submission to my email `maxceem@gmail.com` or try to create a PR to `tc-message-service` as we send you an invitation. I hope you can send your work during the next 12 hours with a complete solution. Unfortunately, we cannot wait longer for this issue.

[2019-05-21 16:24] PrakashDurlabhji commented on #3031
@maxceem please check PR at https://github.com/appirio-tech/tc-message-service/pull/101

[2019-05-22 03:13] maxceem commented on #3031
Thank you @PrakashDurlabhji the fix looks great! We will try to deploy it today to the DEV to make e2e testing and make sure there are no drawbacks.

[2019-05-22 07:14] maxceem opened #3054 "Fullscreen mode button is broken for posts on dashboard"
The fullscreen mode button is broken for posts on the dashboard, see demo https://monosnap.com/file/y3tlYeFVQSLIDnmy9f0oq11AOxVN9R

[2019-05-22 07:18] vikasrohit commented on #3054
I think we can ignore if it is not a quick fix because we are moving away from full screen thing with #3012

[2019-05-22 07:19] maxceem commented on #3054
ok, will hold on with.

[2019-05-22 07:54] maxceem commented on #3031
@PrakashDurlabhji I've verified it on DEV and your fix for server-side works great!

There is still some issue left on the Connect now, see video https://monosnap.com/file/gEntEZedkKPGW7ZqobJzdXss9M8efJ

After we create a post with attachments, they are immediately shown in a new post. But now, when I open the dialog they stay there. Could you please have a look?

[2019-05-22 08:30] vikasrohit commented on #3012
@maxceem do you still have any query on this or are we clear to get it in motion?

[2019-05-22 08:34] maxceem commented on #3012
It looks clear. As this would require to reimplement posts in the Drawer on the right, I'm waiting for the common components to be implemented in `react-components` based on material ui. I think we will get submission soon for the challenge https://www.topcoder.com/challenges/30091275

[2019-05-22 09:37] ajefts opened #3055 "Download Scope Card as PDF"
**Overview**

The customer should be able to download a rendered PDF document outlining the project's scope from the scope card.

<p></p>

**Design UI Requirements**

- The closed and open scope card should display an option for users to download the project scope as a rendered PDF document

<p></p>

**Functionality Requirements**

- Users should be able to download a rendered PDF version of their

[2019-05-22 09:37] ajefts commented on #3055
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2005161

[2019-05-22 09:41] vikasrohit commented on #3055
@maxceem @RishiRajSahu fyi

[2019-05-22 21:25] PrakashDurlabhji commented on #3031
@maxceem updating it

[2019-05-23 13:27] maxceem commented on #3031
Thanks, @PrakashDurlabhji. Hopefully, you can submit an update during next 12 hours. If you don't have time it's ok. We can count the work you've already done for this issue and this part we can handle some other way if you don't have time for this now.

[2019-05-23 15:42] PrakashDurlabhji commented on #3031
@maxceem I will do it as I am keen to complete it. update in few time

[2019-05-24 00:14] maxceem commented on #3031
Thanks, @PrakashDurlabhji. I also would like you to finish it. But the only restriction we have is time, as so far this issue is moving too slow.

[2019-05-24 09:42] vikasrohit opened #3056 "A project is visible in project list page even after user rejected to join the project"
### Expected behavior
The project should not be visible on the project listing page once the user has denied to join the project on the Join Project modal.

### Actual behavior
A customer user (it might be true for another users as well) can see the project on the project listing page even if he/she denied to join the project on the Join Project modal.

### Steps to reproduce the problem
- Invite

[2019-05-24 09:42] vikasrohit commented on #3056
@maxceem @RishiRajSahu fyi

[2019-05-25 07:51] vikasrohit opened #3057 "Need support for mathematical expression for building block prices/time estimates"
As of now we store the building blocks in following structure:

[code]

Now when we calculate the overall estimate for the project, we just add the `price` field of all the building blocks which are allowed to stack together and whose conditions are satisfied.

The new requirement is to have notion of `quantity` per building block i.e. there are possibilities of having more than one building block

[2019-05-25 07:51] vikasrohit commented on #3057
@maxceem @RishiRajSahu  fyi

[2019-05-26 08:06] maxceem commented on #3056
Here is a demo video of the issue https://monosnap.com/file/sRqvpx0Tsy9vAqaBx9E5EXRtdB3Bm1

@vikasrohit do you think if we reload the project list when we click Cancel on the invitation, would it be a good solution? As an alternative, we can just update data in Redux store without project list reloading. But it feels that in this case reloading project list would be much robust and solid solution.

[2019-05-26 08:24] maxceem opened #3059 "[$70] Project which we left or was removed from is still visible in the list"
### Expected behavior
When we leave a project or we are removed from a project by another member we shouldn't see such a project in the project list as we don't have access anymore.

### Actual behavior
When we leave a project or we are removed from a project by another member. We can still see the project in the list even after reloading of the project list. But we cannot access the project detai

[2019-05-26 09:26] maxceem commented on #3057
@vikasrohit done in the next PR https://github.com/appirio-tech/connect-app/pull/3060

I used a copy of the project template `95` "New app - updated design 2". Here is my copy with changed condition for testing: http://local.topcoder-dev.com:3000/new-project/subtitle
As I don't see any numeric questions so far I've used `templateId` to format the price expression 😁

![image](https://user-images.gi

[2019-05-27 02:07] maxceem commented on #3038
@vikasrohit hmm, this error happens quite often to me. I can still see `GET phases` request immediately after project creation (before we got to the details page)

I'm checking on DEV https://connect.topcoder-dev.com:

![image](https://user-images.githubusercontent.com/146016/58390938-3e321580-8066-11e9-8d5a-fd16ddbaf8af.png)

Also, in the local setup of Connect App + local Project Service, this i

[2019-05-27 04:01] maxceem opened #3062 "Multiple "Your project seems to be running over its timeline"."
When I open a project with a delay I see popup:

![image](https://user-images.githubusercontent.com/146016/58394670-067f9980-8077-11e9-9510-1ae51ac7d224.png)

I close it. But every time I switch tabs to `Dashboard` or `Project Plan` I see it again, see demo video:

![image](https://user-images.githubusercontent.com/146016/58394693-1eefb400-8077-11e9-9a3d-c7ab7fa060f0.png)

Is it intentional? Maybe

[2019-05-27 05:46] vikasrohit commented on #3056
I would be okay with page reload if that solves the problem, but for me it didn't flush the project from the listing page even after page reload. :(

[2019-05-27 05:52] vikasrohit commented on #3059
@maxceem Can we close #3056 now as this issue takes care of that as well?

Now coming to you queries:

I think 1 and 2 both has to be fixed. I vaguely remember that when I saw such project in my project listing page, and when I clicked on that project, it showed me the Join project modal. I am sure about it, but worth testing it before fixing it.

for 3, I don't think we need to do anything furthe

[2019-05-27 05:53] vikasrohit commented on #3038
Oh, it should not happen. I did fix this. Let me check my commit and how is it missing from the dev.

[2019-05-27 05:57] vikasrohit commented on #3038
Seems like I missed to merge the hotfix to the dev. Thanks for noticing it @maxceem

[2019-05-27 06:07] maxceem commented on #3059
I would say in that issues listed another case: when user is invited. While here we are checking cases wher user has been already a member. Also, I could see in that issue project stays after reloading, will check more

[2019-05-27 06:08] maxceem commented on #3059
Hmm, I guess that's some other issue. Also, as I understand you use an `admin` user, where behaviout could be different, as the issues above are only for `non-poverful` users.

[2019-05-27 06:41] maxceem commented on #3056
@vikasrohit I cannot reproduce the issues after reloading. As soon I reload the page, the project disappears from the list. See demo video https://monosnap.com/file/PckHp5fgriLx82J7rZ6cRtRvMTly2Y

Could you share any details like users you used for testing? Maybe video?

[2019-05-27 07:01] vikasrohit commented on #3059
Nopes, I didn't use my admin powers. I was testing with a customer account `vikasrohit5` in dev.

[2019-05-27 07:25] maxceem opened #3064 "Write injection unit tests for markdownToHTML"
We use `markdownToHTML` to convert markdown to HTML. And after we use `dangerouslySetInnerHTML` to insert the output to the page.

For example here https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/SpecQuestionList/SpecQuestionList.jsx#L67

Even though we insert data from a safe source, we should make sure that HTML/JS injection is possible with  `markdownToHTML`.

[2019-05-28 04:52] maxceem commented on #3031
Hi @PrakashDurlabhji

As the second part of the front-end part hasn't been completed, we will handle the front-end part separately.
As you fixed the server-side part, we would still pay here the full amount of the issue stated in the issue $100.

The payment for the issues which you've fixed during the Bug Bash would be processed today.

Thank you.

[2019-05-28 04:58] maxceem opened #3065 "Attached files stay in the create post UI"
After we create a post with attachments and open a dialog to create another new post, the previously attached files are still listed there.

![image](https://user-images.githubusercontent.com/146016/58451960-2a5ee000-8148-11e9-8215-e1cd66bd77e1.png)

See video https://monosnap.com/file/gEntEZedkKPGW7ZqobJzdXss9M8efJ

Follow up from https://github.com/appirio-tech/connect-app/issues/3031

[2019-05-28 04:59] maxceem commented on #3031
Note, this issues doesn't have related changes in the Connect app. The fix has been done server-side https://github.com/appirio-tech/tc-message-service/pull/101

[2019-05-28 05:21] maxceem opened #3066 "Fix unnecessary scrolling to Discussion tab"
During work on this issue https://github.com/appirio-tech/connect-app/issues/2177 which has been done in this PR https://github.com/appirio-tech/connect-app/pull/3035

We almost fixed one issue: if we have some URL hash on Project Plan, every time we open/close any Phase tab like `Timeline`, `Discussions`, `Specification` it scrolls to the element pointed in the URL hash.

After the fix, the bug d

[2019-05-28 05:52] vikasrohit commented on #3056
Okay, it might be intermittent issue with ES indexing I guess. I have to debug more into logs to get more details. Will try today to get details today.

[2019-05-28 06:54] maxceem commented on #3059
Server-side part, option 2, has been selected in Project Service and PR created https://github.com/topcoder-platform/tc-project-service/pull/307