[2016-07-21 08:45] parthshah opened #1 "Middleware for protecting views"
https://github.com/mjrussell/react-redux-jwt-auth-example/tree/react-router-redux

[2016-07-21 09:06] parthshah opened #2 "Handle isLoading state"

[2016-07-22 17:20] #2 closed

[2016-08-01 17:29] #1 closed

[2016-08-01 17:29] parthshah opened #9 "Add favicon.ico"

[2016-08-01 17:31] parthshah opened #10 "create project - dispatch action"
This is to wrap up create project functionality

[2016-08-02 06:15] #10 closed

[2016-08-02 17:22] parthshah opened #11 "Create feature definition Component"
Create a presentational / dumb component that displays an icon (optional), title & description.
Eg. Search, GeoLocation feature & Slack bot integration 3 examples of such a component.
![image](https://cloud.githubusercontent.com/assets/1987710/17338030/631c5456-589a-11e6-8479-f4e4f1ef4eab.png)

In addition, this component can have more children, form elements (separate components).
Eg. with child

[2016-08-02 17:54] parthshah opened #12 "Create AttachedFile component"
Create a component to show attached file information.
Additional Actions -
* Remove file
* Edit

On Edit, title & description can be edited.
Eg.
![image](https://cloud.githubusercontent.com/assets/1987710/17339151/703e62fa-589f-11e6-89e8-326b2eb25735.png)

[2016-08-08 17:59] parthshah opened #15 "Create a Member component"
Another 'dumb' presentational component.
Should show the following properties :
- photoURL if empty should be default to an img/svg,
- firstName, last Name
- handle

Eg.
Here's an example of the component being used in Team management. In this example this component would be composed within other components.
![image](https://cloud.githubusercontent.com/assets/1987710/17485081/66667e60-5d41-11e6-9d

[2016-08-08 18:00] parthshah commented on #15
.. I believe we already have html + scss for this component in grid list component html + scss. @vic-appirio could you attach that html + scss here please

[2016-08-08 18:11] parthshah opened #16 "Team management: Add member component"
Here are the rules for this container component
- Customer Role:
Customers can only add additional customer role members.
- Copilot role:
Copilots can add other copilots or customers role members
- Topcoder Manager or Manager:
Managers can add customer, copilot or other managers

Please see columns 1-3 for this interaction in attached png
![team management-1](https://cloud.githubusercontent.com/as

[2016-08-08 18:20] parthshah opened #17 "Team management: Join project team component"
This component should only be visible in the following cases, for a user logged in with specific role:
- Customer: never
- Copilot:
  - if logged in user has copilot role (user.roles in redux state)
  - if there are no copilots already assigned to this project (project.member where role is 'copilot')
  - Clicking on JOIN button should add current user as a primary copilot for this project. NOTE: t

[2016-08-08 18:33] parthshah opened #18 "Team Management: Remove team member"
Only team owner (role:customer + isPrimary:true) & managers can remove members.

- Owners : can only remove members with customer role
- Managers: can remove members with customer, copilot or manager roles.

![image](https://cloud.githubusercontent.com/assets/1987710/17491296/da769ece-5d5b-11e6-89ae-d72c4e3747db.png)

![image](https://cloud.githubusercontent.com/assets/1987710/17491289/cd036c18-5d

[2016-08-08 18:36] parthshah opened #19 "Team management: leave a project team"
Only customers (not owner - isPrimary: false) & managers can remove themselves from a project team.

![image](https://cloud.githubusercontent.com/assets/1987710/17491404/579a6b38-5d5c-11e6-8881-62ad8175efd8.png)

[2016-08-09 05:40] parthshah commented on #15
Closing this issue since a similar component already exists.

[2016-08-09 05:40] #15 closed

[2016-08-22 07:50] #11 closed

[2016-08-22 07:50] #12 closed

[2016-09-06 21:31] vic-appirio opened #35 "Project creation: Visual Fixes v1"
Project creation is a view that the user sees after pressing "+ New Project" button from the main Connect page (project list view). Depending on the user role, we have a simple view for a template project, and custom project. Power users see the two options, while regular users see only the template project creation form.

![03caf8d8-c708-4ae5-aefe-4c810586cc27](https://cloud.githubusercontent.com

[2016-09-06 21:38] vic-appirio commented on #35
The page is off from the visual styles:

- Form elements
- Hover states
- Typography

[2016-09-06 21:39] vic-appirio opened #36 "Project creation: Stepper slider using .png backgrounds"
- Refactor the feature slider to not use .png images as backgrounds;
- Not precise positioning of the selected item pointer.

[2016-09-06 21:48] fnisen opened #37 "Project creation: full device deselection should not be allowed"
After a user selects a device (one or more), they should not be allowed to get into a state when no devices are selected, which currently will generate an error message. If only one device is selected, it can be deselected only by selecting an alternate device.

[2016-09-06 21:50] fnisen opened #38 "Project creation: enforce character limit for Project Name"
Is there a limit to the number of characters the API can support? If so, let's enforce it by not allowing the user to enter more... the cursor should just stop.

[2016-09-06 21:53] fnisen opened #39 "Project creation: disable top navigation when in Project creation"
As shown in the design

[2016-09-06 21:56] fnisen opened #40 "Project creation: "Invite" code should be called "Reference" code"

[2016-09-06 22:20] fnisen opened #41 "Frame: combine nav and subnav into one"

[2016-09-06 22:27] fnisen opened #42 "Project listing/Search: recent searches should be a simple list of five terms"
Not sure if we can support recent searches for the beta release, but if we can, remove "Edit" and "Learn more." Simply show the last five terms searched by the user.

[2016-09-06 22:27] fnisen opened #43 "Project listing/Search: typeahead not working"
I think this was planned, but is not working. If we can't have it for this release, that's OK.

[2016-09-07 06:34] vikasrohit commented on #39
@parthshah we two options for this, one is to have redux state for layout and another is to just create the new topbar  (with only connect logo and wizard title) and position it absolutely on topbar. Which one you think is better?

[2016-09-07 21:26] fnisen opened #44 "Project creation: rename section tabs"
- "App Project" should be "App Design & Development" or "App Design & Dev" if space doesn't allow
- "Work Project" should be "Other Work"

[2016-09-07 21:29] fnisen opened #45 "Project creation: remove placeholder text from "Project name", "Description", "Reference code""
Not needed when the fields are labeled

[2016-09-07 21:32] fnisen opened #46 "Project creation: validation color on Work Project name not consistently red"
See screenshot. To reproduce, enter name, then backspace to delete it.
![screen shot 2016-09-07 at 2 30 24 pm](https://cloud.githubusercontent.com/assets/12552247/18329319/b88edf42-7507-11e6-953e-f0734ac538de.png)

[2016-09-07 22:18] fnisen opened #47 "Frame: replace Connect logo in nav with attached"
[logo-connect-web.svg.zip](https://github.com/appirio-tech/connect-app/files/460452/logo-connect-web.svg.zip)

[2016-09-07 22:20] fnisen opened #48 "Frame: limit user menu dropdown options to "Help" and "Logout""
"My Profile" and "Settings" should be removed; these do not exist for a Connect user.

[2016-09-07 22:31] fnisen opened #49 "Dashboard/Project info: hover state for Status dropdown should be disabled for customer role"
Only manager and copilot roles can change the Status; for them the hover state over the dropdown should be supported. For the customer role, it should be disabled.

[2016-09-07 22:34] fnisen opened #50 "Dashboard/Project info: Budget and Duration may be confusing for PB customers"
Is it useful to pull Status and Duration info from Direct or will it confuse new customers such as GE and EY? If so, maybe we should remove it for this release.

[2016-09-07 22:37] fnisen opened #51 "Dashboard/Project info: add link to Direct project, visible for Manager and Copilot roles"
@vic-appirio could you please create a quick design for this and attach here? We can't put this link in the "Links" section b/c it will only be visible to "internal" roles. Thank you.

cc @ajefts

[2016-09-07 22:44] fnisen opened #52 "Alerts and Notifications: Style toaster messages"
The action confirmation messages that appear (e.g., after adding a link from the Dashboard) don't have the correct font and appear on the far right of the screen. Is there a way to tweak them to look better, before we implement new confirmations/notifications later?

[2016-09-07 22:46] fnisen opened #53 "Dashboard/Project info: open "Links" in new tab"
When a user clicks on a link in the "Links" section, let's open it in a new tab, so that they're not taken away from the application.

[2016-09-07 23:57] fnisen opened #54 "Dashboard/Links: need to confirm link deletion"
Currently deleting links (by clicking the trash icon) is instant. We should confirm deletion, as shown in the design:
![273e50e4-0a5a-411d-9df9-011e075005c3](https://cloud.githubusercontent.com/assets/12552247/18332608/e343a4d8-751c-11e6-94da-a1293164447e.png)

[2016-09-08 00:02] fnisen opened #55 "Dashboard/Project info/Team management: Adding member expands component"
When a user clicks on the "+" to add a team member, the component greatly expands in size. All team management actions should not effect the size of the component, as shown in the design.
![d81f44f7-2147-4cae-83f9-625bc48b9683](https://cloud.githubusercontent.com/assets/12552247/18332586/c335aeb6-751c-11e6-9978-7ecebd7f195e.png)

[2016-09-08 00:09] fnisen opened #56 "Dashboard/Project info/Team management: Member search seems inaccurate"
Not able to find/add Petr to the project, even though his account exists in Dev: https://www.topcoder-dev.com/members/petr/

[2016-09-08 00:11] fnisen opened #57 "Dashboard/Project info/Team management: Copilot role not shown on team panel"
Have added a copilot to my project (https://www.topcoder-dev.com/members/jasoncopilot/), but he is not being identified as a copilot, as show in the design. Not sure if this is an issue with how the new Connect copilot role is being assigned or a bug.

![screen shot 2016-09-07 at 5 11 08 pm](https://cloud.githubusercontent.com/assets/12552247/18332753/18acee6c-751e-11e6-8e3f-b7b18bbdae7f.png)
![sc

[2016-09-08 00:17] fnisen opened #58 "Dashboard/Project Info/Team management: need a state for user who leaves the project"
After a user leaves the project, from the team management panel, they remain on the project dashboard, rather than getting a confirmation message and being taken to another page (e.g., the Home/Projects Overview page).

@vic-appirio: can we handle this by showing a toaster message confirmation and taking the user to the Listing page?

[2016-09-08 00:29] fnisen opened #59 "General: need super basic Connect home page"
Currently going to connectv2.topcoder-dev.com when logged out takes you to a page like this:
![screen shot 2016-09-07 at 5 19 12 pm](https://cloud.githubusercontent.com/assets/12552247/18332932/605f97e0-751f-11e6-80c6-0404f4e214cf.png)
... not a good experience. The marketing site currently just links to connect.topcoder.com, which takes the user to a log in. Can we put together a super simple hom

[2016-09-08 00:53] fnisen opened #60 "Project listings: listings view not being restricted by role"
Currently anyone can view all projects. All projects should only be viewable by those with the "Manager" role. Copilots should be able to see all projects in "Reviewed" phase. Otherwise, users should only see projects that they're a part of.

[2016-09-08 01:01] fnisen opened #61 "General: default avatar appears differently in nav and team management panel"
For users without an avatar, the default should be the first two letters of the username, not capitalized, on a randomly generated primary color background, as shown below. Currently, the team management panel shows the default as the combination of the first letter of the first name and the first letter of the last name; the nav shows the first letter of the username. Both of these are incorrect

[2016-09-08 07:27] vikasrohit commented on #47
Tracking with asana here https://app.asana.com/0/95614844085038/177715475605004

[2016-09-08 07:30] vikasrohit commented on #48
Tracking with asana task https://app.asana.com/0/95614844085038/177715475605011

[2016-09-08 07:36] vikasrohit commented on #44
Tracking with asana task https://app.asana.com/0/95614844085038/177715475605021

[2016-09-08 07:37] vikasrohit commented on #45
Tracking with asana task https://app.asana.com/0/95614844085038/177715475605024

[2016-09-08 07:39] vikasrohit commented on #45
Btw, if we are doing this for App project form, we have to do it for 'Other work' form as well, right?

[2016-09-08 07:41] vikasrohit commented on #53
Tracking it with asana task https://app.asana.com/0/95614844085038/177715475605027

[2016-09-08 07:50] vikasrohit commented on #55
Tracking with asana task https://app.asana.com/0/95614844085038/177715475605030

[2016-09-08 09:45] vikasrohit commented on #61
@fnisen we were aware of the incorrect avatar in topbar, I can fix that to make it look like avatar in team management panel. So after this change it would have avatar with first letter of first name and first letter of the last name. Further, the difference in background color is due to the difference in name used for generating the avatar so it should also be fixed with the change.
Please let me

[2016-09-08 11:20] vikasrohit commented on #54
@fnisen @vic-appirio  Mocks shows the delete confirmation modal to be there before the first link link in the list just like the modal for adding a new link. However, for team management we are showing the delete confirmation modal just below the member we deleting. So, to be consistent, I am rendering the modal just below the link user is deleting. If you guys see it differently, please let me kn

[2016-09-08 11:57] vikasrohit commented on #54
Tracking with asana task https://app.asana.com/0/95614844085038/178277611234933

[2016-09-08 16:29] vic-appirio commented on #58
Would be nice to white out the whole screen and then reload the home page. This would communicate that the space is being "deactivated" for the user, instead of a simple toaster message. Our new notifications are displayed on top of the navigation bar, and that I think is not enough.

[2016-09-08 16:34] vic-appirio commented on #61
Avatar on top navigation doesn't need to reflect the full avatar - it is a simplified version of the full avatar. The structure was like this:
(full avatar)
[  img   ]  <full name>
[  img   ]  <username>

short avatar should be just <full name> on top. This is in the context of Connect being a business-focused product; whereas Topcoder is community-focused app, thus <username> has a historical sig

[2016-09-08 16:57] vic-appirio opened #62 "Project Listing: Style fixes"
Project Listing is the advanced view for power users in Connect where they can access all projects, and quickly get updates on a project status. This is the main page of Connect v2.

![72290a35-36a6-4133-abf5-d1617b29bab3](https://cloud.githubusercontent.com/assets/8484061/18399492/2214eff4-7686-11e6-9a39-49616e4e927f.png)

The main navigation — including the advanced filters — is not part of this

[2016-09-08 20:43] vic-appirio commented on #52
Specification is here: https://drive.google.com/folderview?id=0B1LbmKnex41fUmo0aGJkQkt2NGc&usp=sharing

[2016-09-08 20:43] vic-appirio commented on #52
![19060bae-a43c-4891-8136-9bfc98ea7c93](https://cloud.githubusercontent.com/assets/8484061/18366128/456e25b8-75ca-11e6-87b9-0683bd2c5458.png)

[2016-09-09 05:56] vikasrohit commented on #61
@vic-appirio Didn't get what do you mean by full avatar and where we are showing that.

Anyway, I have fixed the topbar to have the avatar in the same format as we are showing in the team management component.

[2016-09-09 05:58] vikasrohit commented on #44
Done. Waiting for green signal to get it merged into dev.

[2016-09-09 05:59] vikasrohit commented on #55
Done. Waiting for green signal to get it merged into dev.

[2016-09-09 05:59] vikasrohit commented on #54
Done. Waiting for green signal to get it merged into dev.

[2016-09-09 05:59] vikasrohit commented on #53
Done. Waiting for green signal to get it merged into dev.

[2016-09-09 05:59] vikasrohit commented on #48
Done. Waiting for green signal to get it merged into dev.

[2016-09-09 06:00] vikasrohit commented on #45
Done. Waiting for green signal to get it merged into dev.

[2016-09-09 06:04] vikasrohit commented on #47
Done. Waiting for green signal to get it merged into dev.

[2016-09-09 06:36] vikasrohit commented on #57
I think it was intentional. When a user is power user i.e. he/she can add/delete members from the project, we are not showing the member's role because we have to render the buttons to allow user to perform those power operations. If one login with non power role, he/she can see the member's roles. It is how it is coded right now, please let me know if we need to handle it some other way.

cc: @pa

[2016-09-09 18:50] fnisen commented on #57
@vikasrohit it's true that only managers and copilots can add copilots (as shown in permissions chart below), but everyone should be able to see the role. So, everyone on the project should be seeing the three possible roles: owner, manager, copilot.

<img width="537" alt="screen shot 2016-09-09 at 11 48 20 am" src="https://cloud.githubusercontent.com/assets/12552247/18398920/a20a15d4-7683-11e6-8a

[2016-09-09 18:59] fnisen commented on #61
Thanks @vikasrohit!

@vic-appirio I'm also confused by what you meant. Will follow up with you offline.

[2016-09-09 19:05] fnisen commented on #55
Thanks @vikasrohit. It's no longer expanding, but now is being cut off at the bottom.

<img width="603" alt="screen shot 2016-09-09 at 12 03 58 pm" src="https://cloud.githubusercontent.com/assets/12552247/18399411/ab06af88-7685-11e6-9f47-360e1d191b0a.png">

[2016-09-09 19:06] vic-appirio opened #64 "Dashboard: Style fixes"
The project dashboard needs to be verified for style inconsistencies. It is a composite layout, using several components, and multiple states.

![b3f2a941-1ff4-494e-a218-e91a5959ca28](https://cloud.githubusercontent.com/assets/8484061/18399368/6219308e-7685-11e6-9395-ff08fb3aaeac.png)

There are two main areas:
-  Left pane (project info (title, type, status, progress, budget), links, team, footer

[2016-09-09 19:11] fnisen commented on #54
@vikasrohit yes, good catch, let's go with your approach! Please merge when ready.

[2016-09-09 19:14] fnisen commented on #52
@vic-appirio yes, great idea!

@sirakovaDimitrina welcome to our project, by the way! Really glad to have your help. Have heard amazing things about you from Vic.

[2016-09-09 19:15] vic-appirio opened #65 "Messaging: Style fixes"
Messaging relies heavily on the Dashboard design, as it is a continuation of the user experience.

![6d94246c-3b15-4e97-838e-60c6d58e7405](https://cloud.githubusercontent.com/assets/8484061/18399677/010378ca-7687-11e6-9d2f-e73b670a5981.png)

The messaging is delivered as part of the Dashboard styling. Speck is here: https://drive.google.com/drive/folders/0B1LbmKnex41fU18zSE9WMEVJNFU?usp=sharing

[2016-09-09 19:20] vic-appirio opened #66 "Project Details: Style fixes"
The Project Details page is where the user(s) create the final specification of the project - type of work needed, design and development specifications.

![d0cabc28-0bb9-479f-8965-cd6022383028](https://cloud.githubusercontent.com/assets/8484061/18399781/99bfe238-7687-11e6-9083-af0cf5bffff1.png)

The Feature Selector is not part of this page; although it is displayed as a modal overlay, it is a se

[2016-09-09 19:21] fnisen commented on #45
@vikasrohit yes please, remove it from both forms and merge when ready. Thank you.

[2016-09-09 19:23] fnisen commented on #41
@mahestro this is the Issue for this challenge https://www.topcoder.com/challenge-details/30055178/?type=develop and follow up work.

[2016-09-09 19:24] fnisen commented on #38
@mdesiderio can you please comment here if there is a limit?

[2016-09-09 19:31] vic-appirio opened #67 "Feature Selector: Style fixes"
The Feature Selector is a modal view that is shown to the user from the Project Specification page when they click on "Add / Edit Features". It allows the users to select one or more predefined features, and also specify their own project features. After clicking on the close icon, the system displays all the selected features as a table inside the Project Specification.

![479e8b36-06d0-420e-948d

[2016-09-09 19:35] #36 closed

[2016-09-09 19:35] vic-appirio commented on #36
Won't fix here - moving as part of parent issue

[2016-09-09 19:38] vic-appirio commented on #35
##Important issues:
- [ ] Refactor stepper to not use .png background images

- [ ] Update the stepper selector design (Vic will provide spec shortly)

[2016-09-09 19:44] vic-appirio opened #68 "Pages with message: Style fixes"
Empty pages and error pages should provide ways for users to decide where to go next, or recover from an error.

![ce4c4e8f-c954-485c-9760-ca3d60eca5f9](https://cloud.githubusercontent.com/assets/8484061/18400446/ca59f2f0-768a-11e6-907d-71dc77aab594.png)

![f18d7946-8ca9-4132-8755-b92b357a5ebb](https://cloud.githubusercontent.com/assets/8484061/18400447/ca5abbfe-768a-11e6-9080-d9fc5fe8b2f9.png)

S

[2016-09-09 19:47] vic-appirio commented on #40
Moved as sub-task in #35; closing

[2016-09-09 19:47] #40 closed

[2016-09-09 19:49] vic-appirio commented on #46
Moved to #35

[2016-09-09 19:49] #46 closed

[2016-09-09 19:56] vic-appirio opened #69 "Team Management: Style fixes"
Team management is part of the core experience for Connect v2. Team management is accessible on the Dashboard left pane.

![d81f44f7-2147-4cae-83f9-625bc48b9683](https://cloud.githubusercontent.com/assets/8484061/18400916/c05019ae-768c-11e6-8f5e-53b452ff7b35.png)

Spec is here: https://drive.google.com/drive/folders/0B1LbmKnex41fcDROZnFWTWxDVk0?usp=sharing

[2016-09-09 23:29] vic-appirio commented on #59
I'll design some login screen with general explanation of what Connect is; we agreed to replicate the experience of FB landing page when logged out.

[2016-09-10 01:03] fnisen commented on #61
@vikasrohit discussed with Vic; here's how it should work:

1. Top nav: Use image + first and last name (instead of username, as currently); shown in the design above
2. Team management panel: Use image + first and last name + username (this is what is being done currently, so no change)
3. If there's no space in some area, we can just use image (cut first and last name and username)

When there i

[2016-09-10 01:07] fnisen commented on #58
@vic-appirio so summarizing: user leaves --> screen goes white if we need loading time --> user directed to Home/Projects Overview (cards or listing)

[2016-09-10 01:10] fnisen commented on #50
@ajefts I'm thinking we should:
1. Remove budget
2. Keep duration (if that's usually accurate in Direct)
3. Use the space created to add the Direct project link, visible for manager and copilots

What do you think?

[2016-09-10 10:25] vikasrohit commented on #55
@fnisen my changes are not yet merged. So, it must be existing issue. The modal is not expanding for you because you have scrolled down a bit. It is expanding only when browser is not scrolled down.
I think  for cutoff issue we need to make the dropdown intelligent enough to render itself above the dropdown header if space below is not enough to get it fit. I guess, we need to track that in separa

[2016-09-10 10:53] #44 closed

[2016-09-10 10:53] #45 closed

[2016-09-10 10:53] #47 closed

[2016-09-10 10:53] #48 closed

[2016-09-10 10:53] #53 closed

[2016-09-10 10:53] #55 closed

[2016-09-10 10:54] vikasrohit commented on #61
Done. Please let me know if you still feel it is not correct.

[2016-09-10 10:54] #61 closed

[2016-09-10 12:46] appirio-jenkins commented on #50
I think budget probably still makes sense for PB since that's something they all track against and it's something they can manually enter and keep updated. Actual spend is what would get confusing based on all the different pricing and forms of spend we have. Putting the link to direct in that area seems like a reasonable spot...

[2016-09-10 22:26] #18 closed

[2016-09-10 22:26] #17 closed

[2016-09-10 22:26] #16 closed

[2016-09-10 22:27] #19 closed

[2016-09-11 19:25] mahestro commented on #69
@vic-appirio amigo, the design we coded a few weeks ago had the plus button for adding in the top right of the panel (http://take.ms/ZsZHV). This version here doesn't have it. Should it be changed?

[2016-09-11 19:30] mahestro commented on #68
These pages are done.

- Error: https://connectv2.topcoder-dev.com/error
- Walkthrough: https://connectv2.topcoder-dev.com/projects/walkthrough

A small note though. The + button from walkthrough doesn't take the app anywhere. Maybe we should take it to Create Project.

[2016-09-11 19:37] mahestro commented on #67
Looking good!

I saw this is implemented in the current version of the app. The styles are not matching though. Is it something of class linkings? Does the HTML exists for this?

If there's no a clean CSS/HTML I could launch a quick task to create it. @vikasrohit, is there a way to extract a clean HTML from the react structure that we can use to skin so we can keep the same markup it's laid out th

[2016-09-11 19:39] mahestro commented on #66
This is ready and looks BEAUTIFUL.

https://connectv2.topcoder-dev.com/projects/261/specification/

[2016-09-11 19:41] mahestro commented on #62
These styles were cleaned and updated.

[2016-09-11 19:49] mahestro opened #71 "Project Feature Selector Bug"
1. The current implementation of the features selector shows a 'X' icon to close it that collides with the user dropdown.
2. There is a very long scroll bar that has a strange behavior. It goes down (to the end of the parent window that calls the feature selector) but it actually does not perform a change in the current view. Just give it a try and you'll see.

![pm-33-17](https://cloud.githubuser

[2016-09-11 20:00] mahestro opened #72 "General: Double footer issue"
Hey amigo @vic-appirio. With the side panel footer update, I realize we have two footers on this scenario. It's ok in any other page except in the ones that use this side panel.

What are your thoughts? Do you want to remove the one from the side panel? That seems to be a good option since there is already a footer at the very bottom. Let me know.

![pm-57-21](https://cloud.githubusercontent.com/a

[2016-09-11 20:12] mahestro commented on #51
Quick crazy idea: we could have pinned links, colored or icon distinguished. To keep the same semantics.

[2016-09-11 20:22] mahestro commented on #43
Yep, not working.

I'll add make "My projects only" clickable to active the respective checkbox.

[2016-09-11 20:50] mahestro commented on #58
I have another proposal. How about:
- user leaves
- user directed to projects page
- a notification is displayed in projects page with "you've successfully left the project" sort of message.

??

[2016-09-11 21:00] mahestro commented on #57
Will you take care of this @vikasrohit?

[2016-09-11 21:04] mahestro opened #73 "Dashboard/Project info: Cancel "X" for Links component"
I accidentally hit create a link and I wanted to cancel it but I couldn't. I think it would be useful to add a cancel button here. Wdyt?

![cancel](https://cloud.githubusercontent.com/assets/729632/18420491/0f824ed2-7874-11e6-9319-4d4d34f05a9f.png)

[2016-09-11 21:05] fnisen commented on #43
@mahestro don't understand your comment. What do you mean?

[2016-09-11 21:08] fnisen commented on #50
@ajefts who would enter budget in this scenario? Would it be the AD or Joey? Is this something they normally do? Also, is the budget set up per project or per account? Right now we could only show it at the project level.

[2016-09-11 21:11] fnisen commented on #57
@mahestro: not sure of the context of your question, so let's take this approach please:
- if you can fix the bug via community (challenge, task, private task, etc.), please do that
- if not, please direct it back to us, either to someone specifically who you know can fix it, such as Vikas, or back to me for triage.
Thank you.

[2016-09-11 21:13] fnisen commented on #58
@mahestro that sounds like a good approach, as well.

@vic-appirio can you please weigh in? You and Luis can make the final call.

[2016-09-11 21:13] mahestro opened #74 "Dashboard/Team management: component not fully displayed at the bottom of the page"
When you try to search members to add them to the team management, you can't see the whole list of users from the autocomplete box. I think there might be a conflict with the sticky behavior.

Plus, as suggestion, I think a loading indicator would be nice to have, in the search component. My first impression when I type and it took more than 5sec to show me some results was that it wasn't working.

[2016-09-11 21:16] fnisen commented on #51
@mahestro it's a good idea... but in the "nice to have" territory, so we won't implement this month

[2016-09-11 21:18] mahestro opened #75 "Dashboard/Team management: search validation message incorrect when user already on team"
When adding a username that is already added in the team it says "This username doesn't exist". Which is semantically wrong. The username exists, the event is that his user is already added.

I think we should either change the message and format, or to allow displaying added members in the search result with a tag or some distinction.

![mahestro](https://cloud.githubusercontent.com/assets/729632

[2016-09-11 21:18] fnisen commented on #59
@vic-appirio sounds good. One note: don't embed Reg or Login into the page, as Facebook does. We have to direct the user to the accounts app for Reg and Login. Just use Reg and Login links on the landing page.

[2016-09-11 21:20] mahestro commented on #56
Not sure if we should handle this through community. Seems like an API issue to me.

[2016-09-11 21:30] mahestro commented on #43
Clicking this text http://take.ms/ZnWi9

[2016-09-11 21:30] fnisen commented on #71
@mahestro this feature isn't done yet. @vikasrohit is still working on it.

[2016-09-11 23:11] mahestro commented on #60
Challenge live https://www.topcoder.com/direct/contest/detail.action?projectId=30055192

[2016-09-11 23:12] mahestro commented on #49
Challenge live https://www.topcoder.com/direct/contest/detail.action?projectId=30055193

[2016-09-11 23:12] mahestro commented on #43
Challenge live, merged with #42 https://www.topcoder.com/direct/contest/detail.action?projectId=30055194

[2016-09-11 23:13] mahestro commented on #37
Challenge live https://www.topcoder.com/direct/contest/detail.action?projectId=30055195

[2016-09-11 23:16] mahestro commented on #57
I wasn't sure if it was addressed to me or vikas :)

I will send it through the comm.

[2016-09-11 23:25] mahestro commented on #57
Live https://www.topcoder.com/direct/contest/detail?projectId=30055196

[2016-09-11 23:32] mahestro commented on #52
Welcome @sirakovaDimitrina. Thanks for joining.

[2016-09-12 00:26] fnisen commented on #71
Going to close for now; can reopen when Vikas is done.

[2016-09-12 00:26] #71 closed

[2016-09-12 00:29] fnisen commented on #72
By the way, per my doc, the footer links should be (in order): About, Contact, Help, Privacy, Terms

[2016-09-12 00:31] fnisen commented on #73
Good point. @vic-appirio your call.

[2016-09-12 00:35] fnisen commented on #56
@mdesiderio assigning to you please. Let me know if you're not the correct person to handle it.

[2016-09-12 00:37] fnisen commented on #74
@mahestro good point. I saw this too, but not can't find where I filed it. Anyway, @vic-appirio assigning to you for triage. Seems like a styling issue.

[2016-09-12 01:01] fnisen opened #76 "Project listing: some sub-set of projects is being exposed to all users"
Logged in to Connect for the first time with an account that should not have been associated with any projects, but saw some projects in my listing:

<img width="1276" alt="screen shot 2016-09-11 at 5 55 25 pm" src="https://cloud.githubusercontent.com/assets/12552247/18421958/9ec3a562-7849-11e6-9f0d-e88ec6a98c9a.png">

[2016-09-12 01:04] fnisen opened #77 "[$30] Project creation: both project-type tabs should be visible to all user roles"
All users should see "App Design & Dev" & "Other Work" at the top of the Project Creation page

[2016-09-12 04:37] parthshah commented on #76
This must be a bug in api layer. Please move this bug to https://github.com/appirio-tech/tc-project-service/issues.

[2016-09-12 04:51] parthshah commented on #50
I agree with the solution @fnisen listed with the caveat that we should remove duration as well. I'd like to spend some more time analyzing these and other project health metrics. Ideally we would launch with such metrics managed through status updates / reports via external links.

[2016-09-12 04:58] parthshah commented on #52
@sirakovaDimitrina welcome 👍

@fnisen - I chose snackbar (Google Inbox) style notifications over the ones we used in Topcoder App 'cos these allow dynamic messages - Saving... --> Saved etc. Have we considered dynamic alerts?

[2016-09-12 05:00] parthshah commented on #43
Thanks.. also can you make that checkbox active by default.

[2016-09-12 05:06] parthshah commented on #39
@fnisen I understand the need to remove any distractions but removing a primary nav interaction seems a bit much.

@vikasrohit if we absolutely have to do this, I would alter the properties on the nav component to show hide nav links. I believe this would impact topcoder-app as well?

[2016-09-12 05:10] parthshah commented on #38
Max project name can be 255 characters long.

[2016-09-12 05:14] vikasrohit commented on #39
Agree @parthshah about removing primary nav.

For hiding nav links in nav component, I am bit reluctant to do that as it would require some if-elses in the component and further, we have to pass the data (title as of now) from a child component(projects/create/CreateView) to its parent component(Topbar).

[2016-09-12 05:16] vikasrohit commented on #71
Thanks @mahestro for catching the issues. I can fix the overlapping thing. However, I am not sure if I would be able to fix the scrollbar thing. I guess, scrollbar is there because the page behind the modal is too long and the scroll bar is for that. If it can be avoided, that would be great.

[2016-09-12 05:28] fnisen commented on #39
@parthshah, @vikasrohit it's designed to look like a page takeover modal... that's why there's an "x" in the corner. I would not hide links... we either need to hide the entire nav or not do this.

Let me talk to Vic to get a more explicit mockup for the design or see if there's another option.

[2016-09-12 05:30] fnisen commented on #71
@vikasrohit, @mahestro similar to how the project creation page was designed, the feature selector should take over the page. The page behind the modal should not be visible.

[2016-09-12 05:32] fnisen commented on #38
Thanks @parthshah. What about Project Description?

[2016-09-12 05:36] fnisen commented on #43
@mahestro got it, yes good call.

@parthshah I wouldn't make it active by default. User may not realize that it's on and miss information. I would show more and let them filter.

[2016-09-12 05:49] fnisen commented on #52
@parthshah yes, good idea. These are dynamic... or at least there is a loading state, as shown at the top of Vic's design: "Loading progress bar."

[2016-09-12 05:52] fnisen commented on #50
@parthshah what's worrying you about duration? That's tied to the original game plan, so as long as it's entered in Direct, the info would be accurate.

[2016-09-12 06:46] vikasrohit commented on #71
In that case, we have to rather move the Feature Picker to its own page instead of being a modal.

[2016-09-12 06:57] vikasrohit commented on #51
We can add these links the QuickLinks section (icon next to the the nav links) in topbar.

[2016-09-12 07:46] parthshah commented on #50
The fact that it doesn't include JIRA tasks (this is my assumption), not sure if there are other tasks that are not included. Eventually we also need to make sure we include Personal challenges which direct does not have any knowledge of today.

[2016-09-12 07:49] parthshah commented on #43
I mostly care about projects that I am a part of and every once in awhile go exploring for all projects. Pretty soon we should be broadcasting / notifying interested parties copilots & managers of new projects (recently activated , or created).

[2016-09-12 07:56] mahestro commented on #43
I think I understand the why of removing the nav temporary. As a new client, I think it's less distracting, allowing him/her to focus on the conversion (since he probably doesn't have anything else to do in the page at that point).

As a PM / dailyuser it might be useful to have the nav.

Either case, the header has changed. Now it's one-level navigation. I think just moving the x/close to the top

[2016-09-12 07:57] mahestro commented on #39
I think I understand the why of removing the nav temporary. As a new client, I think it's less distracting, allowing him/her to focus on the conversion (since he probably doesn't have anything else to do in the page at that point).

As a PM / dailyuser it might be useful to have the nav.

Either case, the header has changed. Now it's one-level navigation. I think just moving the x/close to the top

[2016-09-12 08:52] mahestro commented on #77
Challenge created successfully
Challenge Url: https://www.topcoder.com/challenge-details/30055198/?type=develop&noncache=true

[2016-09-12 11:19] mahestro commented on #37
Done - https://www.topcoder.com/direct/contest/downloadSoftwareSubmission.action?projectId=30055195&submissionId=515254

Needs to be merged.

[2016-09-12 11:21] mahestro commented on #49
Done - https://www.topcoder.com/direct/contest/downloadSoftwareSubmission.action?projectId=30055193&submissionId=231024

Needs to be merged.

[2016-09-12 14:45] mahestro commented on #57
Done - https://www.topcoder.com/direct/contest/downloadSoftwareSubmission.action?projectId=30055196&submissionId=515256

Merge needed.

[2016-09-12 14:50] mahestro opened #78 "Dashboard: Project Status / States"
Hey @vic-appirio, you might want to take a look at this. All of the possible status of a project. We have design only for draft, working, cancelled and completed according to the spec/design. You want to create other ones for: in review, reviewed and paused?

![status](https://cloud.githubusercontent.com/assets/729632/18440220/8cd89cf8-7908-11e6-8aac-724fe437e783.jpg)

[2016-09-12 15:27] parthshah commented on #38
No limit as such.

On Mon, Sep 12, 2016 at 11:02 AM fnisen <notifications@github.com> wrote:

[2016-09-12 16:14] mahestro commented on #38
Limit to project name only so.

How you guys want to handle the limitation? By using the maxlength attribute in the input or by post-writing validation (with a reddish message)?

[2016-09-12 17:18] fnisen commented on #43
Not necessarily--if you're a manager or copilot, you care about all projects, so that you can screen new ones. Anyway, the option should be persistent--so we start out without not selected by default, so that the user knows what information is available. After that, they can switch it on and it stays. To me it's more important that they know the data is there and try to figure out how to filter, r

[2016-09-12 17:21] fnisen commented on #37
@mahestro can you merge yourself (open a pull request)? Or do you need someone from our team to do it? If so, please assign to @vikasrohit

[2016-09-12 17:22] mahestro commented on #37
Was about to mention that. I can starting merging... if you're not afraid of me breaking things.. @ajefts will have material to keep writing the book of "mahestro breaks things"

[2016-09-12 17:23] fnisen commented on #38
@mahestro maxlength attribute please.

cc @vic-appirio

[2016-09-12 17:25] fnisen commented on #37
I'm not worried, go ahead. : ) And anyway, you haven't broken anything in Connect itself yet.

[2016-09-12 17:26] mahestro commented on #37
Perfect, it will be my pleasure. To merge, not to break things btw.

[2016-09-12 17:32] fnisen commented on #39
All right, chatted with Vic. @mahestro your intuition is correct. This is supposed to be a page-takeover modal. User opens it, focuses on the action, closes it. It's analogous to registration in InVision: https://projects.invisionapp.com/d/signup?redir=. The way to access the nav is to close the modal. So, we're not trying to change options on the nav, but hide it entirely.

The way you have the d

[2016-09-12 17:33] fnisen commented on #49
@mahestro as on the other issue, please merge when ready.

[2016-09-12 17:35] fnisen commented on #50
OK, got it. Let me talk to a few more folks on the operational side to understand exactly how this works and its utility.

[2016-09-12 17:37] fnisen commented on #51
@vikasrohit we need a project-level link, which will be unique per project, so we'll quickly have a lot of links... to many to include in the nav.

[2016-09-12 17:40] fnisen commented on #60
In general, noticing some funky stuff with role assignment and access. I have some old test accounts in Dev (e.g., fnisen) through which I'm able to see all projects, but with some accounts I've tried for the first time (e.g., DaraK), I can only see some projects. Can you please check that when a user with an existing TC account logs into Connect for the first time, they're assigned the correct ro

[2016-09-12 17:41] fnisen commented on #76
Likely related to the issues I was seeing here: https://github.com/appirio-tech/connect-app/issues/60

[2016-09-12 17:46] fnisen commented on #78
@mahestro, @vic-appirio here is the full list of states, which is what should be in the API: (also mentioned in my testing doc, what a great resource : ) )

Status types in filter (in order):
- Draft (customer has created project, but not submitted for review)
- In Review (customer has submitted for review [by TC manager])
- Reviewed (project has been qualified [by TC manager] and is ready for cop

[2016-09-12 17:51] mahestro commented on #78
Juicy...

1. What is this "working" state we have right now? Should be removed? It's in the app fooling around with us.
2. Same with Paused. Should be removed as well most likely. Wdyt?
3. I've seen a status called "Stalled" in direct. Not sure if we're importing that one here in connect.

[2016-09-12 17:55] fnisen commented on #78
Vic loves using copy placeholders that seem real, but are not. : ) You can get rid of "Working." I'm pretty sure we're using Canceled for Paused/Stalled/Canceled. Can you please just double-check that it's not in the API? The names of the statuses in the FE should match exactly what's in the API.

[2016-09-12 17:57] mahestro commented on #39
Yes, no problem. Glad you liked the suggestion.

Didn't follow the final part though. Do you want to keep the x/close icon in the original position, which was inside the the white background of the wizard content?

[2016-09-12 17:58] vic-appirio commented on #78
@mahestro: We should reuse the generic status indicator for all possible statuses - there are 4 groups:

1. Not working (gray): the project is created, but hasn't been launched yet (draft, in review, reviewed)
2. Active (green): the project is being worked on
3. Issue exists (red): there's something wrong, we have to fix it (paused, delayed, etc.).
4. Completed (black): canceled or completed proje

[2016-09-12 17:59] mahestro commented on #78
We're pulling from the API for sure, because right now it's working. You can set states and the changes stay in there after refreshing the browser.

We need to make sure to match the API field names.

[2016-09-12 18:12] mahestro commented on #78
Understood @vic-appirio. I think I can get this enhanced with those comments. I'll assign the issue to me.

@fnisen, one last thing.
1. We have the "All the statuses" in the filter currently. I think that would replace your "All". We could just rename it to "All".
2. Is there a particular order you want to see? In the dropdown and in the filter (they should match either way,to keep consistency ~ c

[2016-09-12 18:25] fnisen commented on #78
@mahestro
1. Yes, agree.
2. Status types in filter (in order): (let me know if you disagree)
- Open (default)
- All
- Draft
- In Review
- Reviewed
- Active
- Completed
- Canceled
Let's persist the filter, too?
3. Hmm... can you point these out if you come across them and we'll decide which one to use? Ideally they'd be uniform, for when we allow API-based project creation and access.

[2016-09-12 18:38] mahestro commented on #41
Update: HTML/SCSS is ready. I'm launching the React F2F.

[2016-09-12 18:44] mahestro commented on #78
All right. Sounds good, agree with #2.

I'll put this in the queue for fixes!

[2016-09-12 18:47] mahestro commented on #38
Ok. Seems an easy fix.

Any particular considerations for implementation? Should we define this limitation as a constant or just put the holy number in the component definition?

I usually like encapsulating values in constants as much as possible if I know it will be reused in other components. For what I've seen in the project development, some of these attributes definition are being put direct

[2016-09-12 21:59] ajefts commented on #50
Sorry, lost track of this thread.

As far as who fills in the budget...yes, it's usually Joey or an AD. Seems like people are actually starting to do this more now that we're monitoring SOW/Budget/Burndown/etc. more closely. However, I would still get more insight on that since it's inconsistent across the board.  For management views, I think we'll definitely want some notion of seeing budget vs.

[2016-09-12 22:11] mahestro commented on #77
Done - http://www.topcoder.com/direct/contest/downloadSoftwareSubmission.action?projectId=30055200&submissionId=515257

Will merge tomorrow with all the others pending for a merge.

[2016-09-13 14:07] mahestro commented on #43
Done! Will merge.

http://www.topcoder.com/direct/contest/downloadSoftwareSubmission.action?projectId=30055194&submissionId=231066

[2016-09-13 14:40] mahestro commented on #77
BTW, the main reason why it's not behaving properly is because the data is hardcoded, not pulled from API yet.

For this task I focused in cleaning the search component, fixing a couple of bugs it had and preparing it for the transformation for the new nav. If we want to address the data binding we'd need to create another issue.

[2016-09-13 14:40] mahestro commented on #43
BTW, the main reason why it's not behaving properly is because the data is hardcoded, not pulled from API yet.

For this task I focused in cleaning the search component, fixing a couple of bugs it had and preparing it for the transformation for the new nav. If we want to address the data binding we'd need to create another issue.

[2016-09-13 18:25] vic-appirio commented on #72
Let's get rid of the big footer when we're on a 2 column page, please!

[2016-09-13 19:07] vic-appirio commented on #39
I'm good with either removing the top navigation altogether on the modal page, or keeping it as per design with the close "x" mark on the top right. It is up to you @vikasrohit which one would be easier. Assigning to @vikasrohit to continue working on this issue.

[2016-09-13 19:08] vic-appirio opened #81 "design connect favicon.ico"

[2016-09-13 19:09] vic-appirio commented on #75
@fnisen please advise on the content copy. From a design standpoint, we shouldn't display such errors when people are on the same team - the check is against @username.

[2016-09-13 19:12] vic-appirio commented on #74
This is more than styling - it requires the drop-down component to actually be aware of viewport border proximity so it can switch direction. This is functional issue, reassigning to @vikasrohit, or we can run a code fix F2F. @mahestro: do you think Sky_ can fix this - it is a feature enhancement, for popup to detect viewport and orient itself accordingly.  This behavior applies for all popups/dro

[2016-09-13 19:15] vic-appirio commented on #73
We should have a cancel button next to the add link. Per design the Add Link modal covers the top of the component header, and the plus button transforms into a "x" mark. Implementation is not as per design.

[2016-09-13 19:15] vic-appirio commented on #73
/Users/victorgeorge/Desktop/Screen Shot 2016-09-13 at 12.14.40 PM.png

[2016-09-13 19:19] vic-appirio commented on #58
This is a good idea, @mahestro. Let's just do that - display a notification after the user is on the projects page.

[2016-09-13 19:23] vic-appirio opened #82 "Project Creation: Update project select slider design"
We have to update the type of project slider - hide the cost and move the description above the slider.

[2016-09-13 19:49] vic-appirio commented on #72
Updated footer and project links speck: https://drive.google.com/drive/folders/0B1LbmKnex41fZnJ4Rkozcl94VUk?usp=sharing

[2016-09-13 19:54] vic-appirio commented on #51
![ef8a12df-23d0-49b6-90c8-f7893c869576](https://cloud.githubusercontent.com/assets/8484061/18489112/11225334-79b1-11e6-81c3-57c8a486c014.png)

Speck and Sketch files here: https://drive.google.com/drive/folders/0B1LbmKnex41fZnJ4Rkozcl94VUk?usp=sharing

[2016-09-13 23:17] vic-appirio commented on #82
Done. Speck is here: https://drive.google.com/drive/folders/0B1LbmKnex41feXI1cHZyb3JyRUU?usp=sharing

Assigning to @sirakovaDimitrina

[2016-09-13 23:17] #82 closed

[2016-09-13 23:19] vic-appirio opened #83 "Project Creation: Update slider style"
Latest design variant is simplified - remove the extra elements and expand the size to fit the overall content (80px l/r padding of the wrapper)
https://drive.google.com/drive/folders/0B1LbmKnex41feXI1cHZyb3JyRUU?usp=sharing

Continuation from #82

![d1cd6da0-13b0-46ef-8c73-00298d09efea](https://cloud.githubusercontent.com/assets/8484061/18494901/2c77e82a-79ce-11e6-9cbb-af6ba94fdc1d.png)

[2016-09-13 23:26] vic-topcoder opened #84 "Project Creation: Replace .svg icons with the correct .jsx icon components"
The device icons currently used in the project creation view are the old .svg icons. We have .jsx icon components from react-components/icons. Please update when you have time - they'll improve rendering "IconTechOutline*.jsx"

[2016-09-13 23:52] #81 closed

[2016-09-13 23:53] vic-appirio commented on #9
![favicon-connect-01](https://cloud.githubusercontent.com/assets/8484061/18495415/9596d45c-79d2-11e6-8cfe-d6ed27a9c6f7.png)

[favicon-connect-01.zip](https://github.com/appirio-tech/connect-app/files/471010/favicon-connect-01.zip)
Favicon in various sizes for full device support.

[2016-09-14 03:01] fnisen commented on #75
@vic-appirio can we show this validation with the message "This person is already part of your team."?

[2016-09-14 03:02] fnisen commented on #74
@mahestro assigning to you. Please let us know if you need Vikas to help.

[2016-09-14 03:05] fnisen commented on #73
@vic-appirio oh snap!

@mahestro can you please implement the "x" to cancel?

[2016-09-14 03:13] fnisen commented on #43
@mahestro seems like it was updated, but is not behaving properly. This is all I'm seeing:

<img width="642" alt="screen shot 2016-09-13 at 8 12 41 pm" src="https://cloud.githubusercontent.com/assets/12552247/18498825/9078b58c-79ee-11e6-97f8-13f489b82d40.png">

[2016-09-14 03:18] fnisen commented on #38
@mahestro sounds like it should be constant, but I don't know whether the implementation with components declaration was intentional or just something we didn't think about. @parthshah usually decides stuff like this, but let's go with your recommendation if he doesn't weigh in.

[2016-09-14 06:11] vikasrohit commented on #74
Yes, this one is a good candidate for the community.

[2016-09-14 06:13] vikasrohit commented on #43
@fnisen typeahead is using hardcoded check as of now. It returns all challenges that have 'LUX' in their name. We don't have API ready for this. So, I guess for now we should disabled the typeahead.

[2016-09-14 06:15] vikasrohit commented on #67
@mahestro It is bit time consuming to extract the HTML and css of all components in the feature picker and put them in single file. Can you get it styled in its react components form? I am mostly done with feature picker changes and changes are already merged into dev branch. You can take it over for getting it styled as per specs.

[2016-09-14 06:43] mahestro commented on #43
It shouldn't have that "popular" on top. Can you try reinstalling the modules in your local environment? Or if this in prod, needs nodules reinstallation, since the react-components#feature/connectv2 was updated.

[2016-09-14 06:56] mahestro commented on #67
I understand, it must be tricky to put all that out into a separate html.

I'm going to do a little research to see what I can find about this. I wouldn't like to run a html/scss+react task all together for a good number of reasons.

From the existing members from the community that compete in react components, they're not very strong in generating clean HTML/CSS. Also, unfortunately we count on a

[2016-09-14 07:01] vikasrohit commented on #67
Agree!! However, now we just need css tweaks to get it look like Vic's specs. I don't think they would need any react knowledge to style it. I have tried to use Vic's style in most of the places, however, I may have missed it at few places. So, I just want to be double sure if we are following the right specs for the feature picker.

[2016-09-14 07:39] mahestro commented on #43
Just checked online and it's looking as expected :) @vikasrohit did the magic with the modules, I guess. Thanks.

https://gyazo.com/210a519d5939a35e850b9539815830b7

[2016-09-14 09:07] vikasrohit commented on #43
@mahestro I would not mind the credit, however, I haven't done any magic there. Might be the latest build deployed on dev did the trick. 😬

[2016-09-14 09:50] vikasrohit commented on #39
@fnisen @vic-appirio  I have converted the create project page to a modal over the project listing page. This has allowed us to hide the top bar. This is the same approach we are following with feature picker. Right now wee don't have the header bar with connect logo and wizard title. However, if required, I can add that as well by creating a completely new component for rendering that header bar.

[2016-09-14 12:08] vikasrohit commented on #75
Tracking with asana task https://app.asana.com/0/95614844085038/181122346682547

[2016-09-14 12:18] vikasrohit commented on #75
@fnisen @vic-appirio I am done with the changes, please let me know if you guys like to have that in dev. I am not merging the changes in dev yet because of the demo today and we are not sure with the solution as well.

[2016-09-14 21:57] mahestro commented on #42
Solved in #43

[2016-09-14 21:57] #42 closed

[2016-09-14 22:27] mahestro commented on #73
You're right @vic-appirio. I didn't catch it at first. In progress.

[2016-09-14 22:37] mahestro commented on #74
In progress.

[2016-09-14 22:40] mahestro commented on #58
All right. I think we depend on the notifications implementation #52. You want me to tackle that down as well?

[2016-09-14 22:41] mahestro commented on #72
Understood!

[2016-09-14 22:53] mahestro commented on #51
Easy cake.

[2016-09-14 22:56] mahestro commented on #38
Ok. I can create the constant implementation for now. We can change it after Parth's final revision.

[2016-09-15 03:03] fnisen commented on #39
Thanks @vikasrohit. This implementation looks good.

[2016-09-15 03:03] #39 closed

[2016-09-15 03:05] fnisen commented on #58
@vic-appirio is Didi going to handle #52 on her own or do you need @mahestro to help?

[2016-09-15 03:06] fnisen commented on #75
Thanks @vikasrohit. Please merge.

[2016-09-15 03:47] fnisen opened #89 "Project Details: Specification panel not showing any logic"
As the user goes into project details and answers questions, the specifications panel on the left should update showing what has been completed and allowing a user to "Submit for Review" (the button is active) when they've filled out the required info. In my tests, the panel was showing almost no logic, as if it hadn't been wired. See attached design for reference (and compare vs. implementation):

[2016-09-15 03:51] fnisen opened #90 "Project Details: "Save" button should appear at the end of each section"
Right now the user has to scroll all the way to the end of the page to save. As per the design, there should be a Save button at the end of each section.

![d0cabc28-0bb9-479f-8965-cd6022383028](https://cloud.githubusercontent.com/assets/12552247/18537825/e84d2f08-7abc-11e6-9bc7-ab0ef3ea4d8c.png)

[2016-09-15 03:57] fnisen opened #91 "Project Details: Color picker should not have colors set by default and have limit on colors"
<img width="611" alt="screen shot 2016-09-14 at 8 52 30 pm" src="https://cloud.githubusercontent.com/assets/12552247/18537886/721c108c-7abd-11e6-8044-c55a36e357e1.png">

Currently the color picker has 5 colors preselected by default. Let's eliminate those and simply have the "+" to start, so that the default colors are not included in every project. Also, currently the user can add unlimited color

[2016-09-15 03:59] fnisen opened #92 "Project Details: "Thin Line" and "Solid Line" options are mislabeled"
<img width="654" alt="screen shot 2016-09-14 at 8 52 53 pm" src="https://cloud.githubusercontent.com/assets/12552247/18537964/f5cfcd38-7abd-11e6-8459-bc58ff040525.png">

[2016-09-15 04:08] fnisen commented on #43
@mahestro can you please take out the hardcoded results? It makes it seem broken. If we can't have the typeahead by launch, that's OK.

[2016-09-15 04:10] fnisen commented on #78
@mahestro just want to clarify: when this goes live, it should effect both the status on the Dashboard and in the Search filter, correct?

[2016-09-15 04:15] fnisen commented on #54
@vikasrohit tried this just now and link deletion is not working at all in Chrome (I don't see the trash icon). It is working in Firefox. Perhaps the user role is making a difference (I'm signed in as different users on different browsers), but anyone from the project should be able to add and remove links, regardless of role.

[2016-09-15 04:16] #54 closed

[2016-09-15 07:36] mahestro commented on #91
I like the idea of limiting the colors. As a copilot I'd like to catch the 2~3 main colors. I'd set it to 5 colors total, in case the project is carnival-like and has many colors, which I doubt. There are notes just in case.

[2016-09-15 07:39] mahestro commented on #92
Right! The one on the right is thin line. The one in the middle I know it as "filled". Need advice from the design god @vic-appirio :) Wdyt?

[2016-09-15 07:40] mahestro commented on #43
Yes, for demo purposes it's not good. I'll take it out.

[2016-09-15 07:41] mahestro commented on #78
Yes, that's what I have in mind. Same values and same order.

[2016-09-15 09:19] parthshah commented on #38
@mahestro constants are great. There are only a couple of places where we collect Project name though and both those forms are in the same src directory. We just need to add the maxlength attribute in a couple of places.
https://github.com/appirio-tech/connect-app/blob/dev/src/projects/create/components/AppProjectForm.jsx#L91
This won't impact all text field input components just the ones with the

[2016-09-15 09:22] parthshah commented on #89
I believe the left panel is wired to the saved project data, and doesn't take unsaved changes in to account. That said there could be a bug with that logic as well. Do we want it to reflect un-saved changes as well? Won't that be confusing especially since we don't have auto-save currently?

[2016-09-15 09:29] parthshah commented on #78
Paused is a valid status that is different from Cancelled. We don't have any use cases for it at the moment. Other an just an indicator to co-pilots to put this project on hold for the time being i.e. don't launch any challenges etc. Quite okay if we want to remove the option from FE.

[2016-09-15 09:30] parthshah commented on #77
@fnisen, curious, what's the rationale behind this change? Do we want anyone to be able to create a generic project?

[2016-09-15 09:35] parthshah commented on #60
@mahestro @fnisen - We should *not* be filtering results on FE. If there needs to be a fix at all, this should be fixed in the API. Can we cancel this challenge, unless I mis-understood the bug.

[2016-09-15 09:44] parthshah commented on #57
So we always want to show member's role on the project in team management? Even for current logged in member? I believe the current implementation is as per design - https://drive.google.com/drive/folders/0B1LbmKnex41fc2MxS0lnakIxZlU.

[2016-09-15 11:00] mahestro commented on #60
Luckily this is the only challenge without any submissions. I excused and canceled.

[2016-09-15 13:43] #57 closed

[2016-09-15 13:43] #49 closed

[2016-09-15 13:43] #37 closed

[2016-09-15 16:34] mahestro commented on #78
@fnisen @parthshah I was checking to launch a task and realized that statuses are hardcoded right now, not coming from the API. I thought it was wired to the API because I could still see changes after reloading the pages, but I let myself be fooled like a child :)

I could prepare the component for the icons but I'd actually prefer to do it after wiring this to avoid reworking. Who could do that

[2016-09-15 16:53] appirio-jenkins commented on #78
Hmm.. Status is wired correctly with the API. The API does not provide a
comprehensive list of status fields. The contract b/w the client and the
API is the API Documentation (Swagger file). What's 'hard-coded' on the
front end is the list of all different status options (values as the API
understands it) along with the label / title which is a UI concern anyway.

On Thu, Sep 15, 2016 at 10:04 PM

[2016-09-15 16:57] mahestro commented on #78
Thanks for jumping in @appirio-jenkins.

Correct me if I'm wrong, but I think it would be better to define those values just once in the app, then re-use it whenever it's needed instead of repeating them at every page/component we want to use them.

[2016-09-15 17:04] parthshah commented on #78
Not sure why posting to an issue through email marks the user as 'appirio-jenkins'.
Yep, good point, we can move this to config/constants.js file.

[2016-09-15 17:32] vic-appirio commented on #67
I'm going to take over and work on the style of the feature picker. There are some breaking things when I do restyle, the Webpack breaks, probably the dependencies are too strange or something. @vikasrohit are we done with all the functional changes for the feature picker in "dev"?

[2016-09-15 17:49] fnisen opened #96 "Project creation: delay between project being created and Manager seeing it"
In our demo today, it took at least a few minutes for a newly created project to show up on the Manager view. When a regular user was added to a project, it showed up right away, though. Is this just typical dev API instability or could it be a sign of something more serious?

[2016-09-15 18:39] mahestro commented on #43
Done. Deleted the demo projects and added a TODO.

[2016-09-15 18:55] #90 closed

[2016-09-15 18:55] #43 closed

[2016-09-15 19:19] mahestro opened #98 "Project Creation: Visual issue when creating "Other work" project"
Using chrome/mac, when you switch the tab to "other work" it shows a blue line below the form and it exits if you click there in that area.

![createproject](https://cloud.githubusercontent.com/assets/729632/18564007/fed31db4-7b89-11e6-95a8-dc6e866d0c8b.png)

[2016-09-15 20:06] #56 closed

[2016-09-15 22:20] fnisen opened #99 "Project Details/Feature Picker: selected features are not being saved"
- Open feature picker modal (e.g., on this project: https://connectv2.topcoder-dev.com/projects/286/)
- Select several features
- Close modal
- Features are not shown on the project details/feature requirements section, as shown in design below. Also, if I open the feature picker again, it shows that no features were selected.

![d0cabc28-0bb9-479f-8965-cd6022383028](https://cloud.githubuserconten

[2016-09-15 22:23] fnisen opened #100 "Project Details/Feature Picker: feature count is innacurate"
By selecting and deselecting features a few times, was able to get an inaccurate feature count. See screenshots. Only 2 features are selected, yet the top bar shows "3 selected."

Also, in some cases, selecting a new feature caused the previously selected feature to become deselected. Can't reproduce this behavior consistently, though.

![screen shot 2016-09-15 at 3 13 50 pm](https://cloud.githubu

[2016-09-15 23:00] fnisen opened #101 "General: "Walkthrough" page not working"
I logged in as a completely new user and saw the "No results" state below. But, I'm supposed to be seeing the "Walkthrough" page that was implemented as part of this challenge (design below): https://www.topcoder.com/challenge-details/30055089/?type=develop

![screen shot 2016-09-15 at 3 54 35 pm](https://cloud.githubusercontent.com/assets/12552247/18570245/29c637c2-7b5d-11e6-9f3b-3d20268f8802.png

[2016-09-15 23:13] mahestro commented on #101
Yeah! Right now it's not hooked in the projects page, just as demo if you go directly to projects/walkthrough. I don't think it was implemented. Doesn't seem difficult though, using the project lenght/count to determine wether to show the walkthrough or not.

I can take it if the code gods won't oppose or have a different approach :) @vikasrohit @parthshah

[2016-09-15 23:14] mahestro commented on #99
@vikasrohit, make sure to pull/update from dev. I uploaded changes to this page, both jsx and scss.

[2016-09-15 23:29] vic-appirio opened #102 "Project Listing: redesign"
Add project ID as primary column, move type as tag under the title, move cost.

[2016-09-16 04:38] parthshah commented on #101
All yours... :) !
Is this for all user role types or just customers?

[2016-09-16 04:43] parthshah commented on #96
Nope there shouldn't be any delay. The only thing I can think of is maybe the browser was caching the API call. Are you able to reproduce this behavior?

[2016-09-16 04:45] parthshah commented on #89
@fnisen need your input here. Thanks

[2016-09-16 05:53] mahestro commented on #101
True! This beautiful walkthrough seems tailored for customers, a friendly experience. I'm not sure if copilots are going to be creating projects in a daily basis actually. Please chime in @fnisen :)

[2016-09-16 06:01] vikasrohit commented on #67
Yes, @vic-appirio but @fnisen found a few issues with feature picker today, so I might be working on them.

[2016-09-16 06:02] vikasrohit commented on #99
@fnisen I think this issue happens only when the user has not filled any other form field before updating the features. I would fix that.

[2016-09-16 16:07] fnisen commented on #101
Good points guys....

1. This screen is intended for "first time" customer users (copilots or managers would get training). We don't want them to get into the app and wonder what to do... this is our "light touch" onboarding for now. So, let's display it only for the customer role and before the customer has any projects. If they've already created a project or been added to a project, we should j

[2016-09-16 17:05] fnisen commented on #99
@vikasrohit yes, you're right

[2016-09-16 17:07] fnisen commented on #98
@mahestro can this be done as a community fix?

[2016-09-16 17:11] fnisen commented on #96
Nope, not able to reproduce. Will close, thanks.

[2016-09-16 17:11] #96 closed

[2016-09-16 17:23] mahestro commented on #98
@fnisen Totally, F2F research and fix.

[2016-09-16 17:24] fnisen commented on #89
@parthshah sorry for the delay. I agree with you--it should reflect only saved changes. I've tested with Saving Changes and the logic is still not working.

@mahestro can you please use my checklist above (under More Details) to test the fix?

[2016-09-16 17:53] #35 closed

[2016-09-16 17:53] #67 closed

[2016-09-16 17:53] #83 closed

[2016-09-16 18:04] fnisen opened #103 "Dashboard/Project Info: add delete option"
Please rename "Project Info" panel to "Project" and add trash icon to allow the user to delete the project. See design below.

More details:
1. Show confirmation message before deleting, similar to what we do with link deletion. The copy should be:
Title: "You're about to delete this project"
Message: "Are you sure you want to delete this project? You will lose any information you have entered and

[2016-09-16 18:10] fnisen commented on #78
@parthshah good point about Paused. Let's keep it out for now, as you suggested, and then put it in if it comes up as a needed scenario.

[2016-09-16 18:11] mahestro commented on #78
Oh no. It's already implemented :p

[2016-09-16 19:21] mahestro commented on #89
Great! I'll give it a careful look tomorrow morning!

[2016-09-16 19:46] fnisen commented on #78
Implemented, in the front end? OK, that's fine. Don't tear it out if it's already there.

[2016-09-16 19:48] mahestro commented on #78
Yeah, but it's ok. I'll take it out after finishing this pack of fixes.

[2016-09-16 19:49] vic-appirio commented on #92
Thin line is the one at the right side - just line work. Solid Line is to be called only Solid. So yes, swap the two as per the original design speck.
![screen shot 2016-09-16 at 12 49 08 pm](https://cloud.githubusercontent.com/assets/8484061/18599202/fdaf6c94-7c0b-11e6-95fd-6793345a2307.png)

[2016-09-16 19:51] fnisen commented on #78
Please just deploy first and let me check it out....

[2016-09-16 19:53] mahestro commented on #92
Thanks for the confirmation! Ready to be fixed.

[2016-09-16 20:03] fnisen commented on #60
@parthshah over to you

[2016-09-16 20:04] fnisen commented on #58
bump for @vic-appirio

[2016-09-16 20:16] fnisen commented on #50
Being addressed as part of https://github.com/appirio-tech/connect-app/issues/51

Guys, OK final decision on this:
1. We'll take out budget mainly because we don't have customer and PB user separation right now. Everyone sees budget and it won't reflect PB mark-up (or our discounts for them) for their end users. So, we may get into some embarrassing situations. We need either more robust reporting

[2016-09-16 20:17] fnisen commented on #50
@mahestro no extra work required on this one. Being addressed as part of https://github.com/appirio-tech/connect-app/issues/51

[2016-09-16 20:24] vic-appirio commented on #58
We might need some implementation on the component. We have final speck, but I'm not sure how the component code looks like. Go ahead an dispatch a notification for the moment, the alert styling shouldn't inhibit the fix.

[2016-09-17 00:26] fnisen commented on #77
@parthshah
1. Regarding making the “Other work” tab visible to everyone… during demos, we’d get the question of “where do I go if I want to create an API, etc.” So we need a place for “other” stuff and it’s more natural to have it in a different tab, rather part of the slider (b/c the slider only address App Design & Dev)
2. Ideally we would expose "Other work" to everyone and allow them to still

[2016-09-17 00:28] fnisen commented on #58
@mahestro OK, over to you.

[2016-09-19 06:21] vikasrohit commented on #99
@fnisen It appears if user does not save the project with at least one question answered. Anyway, I have fixed the issue and tracking it in asana https://app.asana.com/0/95614844085038/181122346682552

[2016-09-19 06:51] vikasrohit commented on #100
@fnisen I have tried to reproduce the issue with multiple and quick enable/disable and select/unselect actions. Not able to reproduce the original issue, however, fixed issue with switch button which was causing the button to keep the state of the last action i.e. if user has enabled a feature and then selects another feature which is not enabled yet, it was still showing the switch button in enab

[2016-09-19 06:52] vikasrohit commented on #100
Tracking with Asana task https://app.asana.com/0/95614844085038/182825171197138

[2016-09-19 07:33] vikasrohit commented on #75
@fnisen changes are in dev.

[2016-09-19 16:15] parthshah commented on #76
@fnisen Is there a user in dev I can use to reproduce this issue?

[2016-09-19 16:30] parthshah opened #105 "Dashboard/Status updates: Restrict project updates to registered project members"
Only co-pilots / managers on the project team should be allowed to create posts / messages or other project updates. Right now, a manager (user role) that has not joined a project team is able to create posts.

[2016-09-19 17:41] parthshah opened #106 "Project listing: Long project names should be truncated in project lists"
![image](https://cloud.githubusercontent.com/assets/1987710/18641136/dca9c72e-7eb8-11e6-9143-aab60f8e16ea.png)
@mahestro assigning this one to you. Hopefully we can use the same logic that was used for the nav bar.

[2016-09-19 20:48] #92 closed

[2016-09-19 20:48] #51 closed

[2016-09-19 20:49] #91 closed

[2016-09-19 20:49] #78 closed

[2016-09-19 20:49] #38 closed

[2016-09-19 20:49] #74 closed

[2016-09-19 20:49] #73 closed

[2016-09-19 21:03] #41 closed

[2016-09-19 22:52] mahestro commented on #77
I just went through it with PM, copilot and customer roles. I could create projects from "Other Work" tab. Can you please double check or provide more details?

[2016-09-20 00:21] fnisen commented on #101
@mahestro on a related note, can you please set the default URL for users with projects to be /projects? Otherwise they're currently seeing a blank screen.

[2016-09-20 00:24] mahestro commented on #101
Ok.

[2016-09-20 00:25] fnisen commented on #77
@mahestro still not working for me. Login as christina_uw/topcoder123! in Chrome. Click "+New Project." Don't see tabs--only see the main project creation screen in the screenshot above.

[2016-09-20 00:26] fnisen commented on #77
@parthshah need your input please on my comment from 3 days ago above. Thanks in advance.

[2016-09-20 00:34] mahestro commented on #77
Thanks for the extra info on the user. I caught it now. Fixed (to merge).

[2016-09-20 00:39] mahestro commented on #89
I went through it today with /projects/292/specification. Found the following:

- Amount of progress is not updated. At first arrival it says 0 of 3 for App Definition > Questions and Specifications. Once I enter text in "What is the goal of your application? How will people use it?" and hit the save button, it replaces the "0 of 3" by a checkmark. If three are required it should be progressively

[2016-09-20 00:40] fnisen commented on #72
<img width="383" alt="screen shot 2016-09-19 at 5 38 55 pm" src="https://cloud.githubusercontent.com/assets/12552247/18653627/fa7b377a-7e8f-11e6-97d0-46e82b29822d.png">

@mahestro the footer links somehow morphed into the above. It should be About, Contact, Help, Privacy, Terms, with copyright below, if you need more space, as Vic has it in the design.

[2016-09-20 00:43] mahestro commented on #72
I see it was never changed actually to what was designed. Good catch. I'll fix it.

[2016-09-20 00:47] fnisen opened #109 "Dashboard/Team management: UX for Member/Copilot role selection is confusing"
<img width="429" alt="screen shot 2016-09-19 at 5 43 45 pm" src="https://cloud.githubusercontent.com/assets/12552247/18653768/ed2a7e36-7e90-11e6-8319-5b7b3bd927bc.png">

Right now when I mouseover "Member" and "Copilot," both of them are shown as selectable, but only clicking on one of them (the grey one) actually changes the selection. @vic-appirio what is the UX here that you wanted?

[2016-09-20 01:02] #72 closed

[2016-09-20 01:02] #77 closed

[2016-09-20 01:09] fnisen opened #111 "Dashboard/Team Management: unable to join project created by another manager"
http://screencast.com/t/zwpRmqINovg

Issue seems to be that there's no project owner, just another manager on the project.

[2016-09-20 01:27] fnisen opened #112 "Dashboard: status panel incorrect for user role"
<img width="412" alt="screen shot 2016-09-19 at 6 20 10 pm" src="https://cloud.githubusercontent.com/assets/12552247/18654407/c52e531c-7e95-11e6-914f-d7a91ae0b031.png">

Three issues in the above screenshot:
1. User should not see a "dropdown" version of the status b/c it's not editable for them. Only the manager and copilot should be able to edit status.
2. Topcoder Direct link should not be visi

[2016-09-20 01:37] fnisen commented on #89
@mahestro yes, your testing matches what I was seeing. Nothing is required for Dev Spec. It's an optional section, per the design linked in the first comment above.

[2016-09-20 01:38] #50 closed

[2016-09-20 01:45] fnisen opened #113 "Dashboard: remove Challenges in Nav and Budget in Project panel"
<img width="1270" alt="screen shot 2016-09-19 at 6 43 15 pm" src="https://cloud.githubusercontent.com/assets/12552247/18654835/03526ce8-7e99-11e6-9477-167a9418bda2.png">

Two updates please:
1. Remove "Challenges" from the Nav. We don't need it for any roles. It won't be active at launch.
2. Remove Budget from the Project panel. Decided not to support that for now.

[2016-09-20 02:07] fnisen commented on #100
Thanks @vikasrohit. Maybe that was the root cause. Can you please merge? I'll try to reproduce after that.

[2016-09-20 02:09] vic-appirio commented on #100
The styles are fixed in the PR #114

[2016-09-20 02:11] fnisen commented on #75
@vikasrohit just slight tweak: can you please add a period at the end of the error message? That's consistent with our current style for other messages.

[2016-09-20 02:12] fnisen commented on #9
@parthshah do we need this done? Not sure of the background for this issue.

[2016-09-20 04:33] parthshah opened #115 "Project Details/ Feature Picker: Adding / Clicking on a custom feature leaves the feature picker modal unresponsive"

[2016-09-20 04:46] parthshah commented on #106
@vic-appirio @fnisen please correct me if I am wrong but the design calls for truncating the name? and not wrapping it correct?
@mahestro - re-opening this bug. Quite okay if we need to use the community to fix this.

[2016-09-20 04:55] parthshah commented on #58
I can take this one.

[2016-09-20 05:11] parthshah commented on #112
@ajefts / @fnisen how do we link to Salesforce opportunity? What reference id / url do we use?

[2016-09-20 07:08] parthshah commented on #60
@fnisen similar to #76, do you have an account I can use to reproduce this issue?

[2016-09-20 07:15] parthshah commented on #111
@fnisen - Yep thats correct. Issue is with the copy .. "Once you join the project you’ll be responsible for carrying over all orders from .. {owner.name}" . In this case there is no owner? How do you want to change this copy?

[2016-09-20 07:25] parthshah commented on #58
@fnisen - do we need a message / notification when an owner/manager removes another user from a project?

[2016-09-20 08:19] mahestro commented on #58
Thanks @parthshah. This one is already in progress (pvt task). You want me to cancel it? I can check the amount of progress.

[2016-09-20 09:46] parthshah commented on #58
@mahestro your call.. just trying to help close some of these issues :)

[2016-09-20 10:42] mahestro commented on #113
Done. I commented them out with TODOs hints to be enabled again once needed in the future.

[2016-09-20 11:02] mahestro commented on #98
Fixed. I noticed something though, not sure if it's intentional or not. When you switch between tabs, the state is not stored or reflected at least. If I set some fields in one tab, once I move to the another one I lose what I did.

This could be a topic for discussion or a new issue. As you wish, guys @fnisen @parthshah

[2016-09-20 12:28] mahestro commented on #106
Good catch @parthshah, it was a quick fix to make it look good. The design has one line, I fixed it.

https://gyazo.com/1fcc6dfeb7d2afa529d1ec63e62383a8

[2016-09-20 13:10] mahestro commented on #112
@fnisen, about #2 & #3. Should these links be visible (to copilots and managers) project role or general role wise?

Project role: this is my project (owner, member) as copilot or manager.
General role: this could or could not be my project but I still can see the links, as copilot or manager.

[2016-09-20 13:54] mahestro commented on #89
@fnisen @parthshah I can launch this as a F2F challenge if you agree. To test out and make sure it works as expected.

[2016-09-20 16:21] parthshah commented on #106
💰

[2016-09-20 17:09] vic-appirio commented on #106
Fixed in the PR #114

[2016-09-20 17:10] fnisen commented on #89
@mahestro yup, works for me. Please go ahead.

[2016-09-20 17:17] fnisen commented on #112
@parthshah don't know. Maybe @mdesiderio can help.

@mahestro good point. Now that I think about it, copilots don't need the Salesforce link b/c they won't have access to Salesforce anyway. So, let's do this:

1. Direct link:
    - I assume managers are Direct admins and so will always have access to any Direct link, so we can use "General role." Is that correct @ajefts?
    - Copilots would not b

[2016-09-20 17:26] mdesiderio commented on #112
@fnisen @ajefts @parthshah

I need more background on this, maybe we should discuss, here are some questions:

- The Salesforce -> Connect integration that we've created, creates a link between LEADS

[2016-09-20 21:33] fnisen commented on #58
Weird... Parth's last comment came through by email, but not on the actual issue. Anyway, @mahestro no need to cancel, unless you want Parth's help.

Also, @parthshah, yeah, we're missing a lot of "non-critical" notifications. Started keeping a list here for post-beta: https://app.asana.com/0/100118202245271/184154465299368

[2016-09-20 21:44] fnisen commented on #111
@parthshah can we change this to the more generic:
"Once you join, your name will appear here and all project team members will be notified. Are you sure you want to join?"

[2016-09-20 22:31] vic-appirio commented on #109
Gray one is selected (active); You should be able to click on the white one to select it. In the attached image, it is visible that Theo is a Copilot (being added as Copilot).

I wanted to allow managers only to select/modify the option of adding people while in team management. We decided that only Managesr and Copilots can use the switch. Once a member is added, in order to switch the user role

[2016-09-20 22:53] fnisen commented on #60
@parthshah retested just now and am not seeing the same issue I saw before (maybe it got fixed as a side-effect of some other fix). Here is a breakdown:

1. Petr or Egor / appirio123: not seeing any projects, as expected
2. DaraK / appirio123: seeing 4 projects, which look like they were created in the Dev version of v1 or v2, so seems to be working as expected
3. fnisen / 123456a(  : seeing all p

[2016-09-20 22:55] fnisen commented on #76
Going to close this as a duplicate of #60.

[2016-09-20 22:55] #76 closed

[2016-09-20 23:05] fnisen commented on #109
Thanks @vic-appirio.

@mahestro assigning to you to fix the UX to work as Vic is describing. Thanks.

[2016-09-20 23:12] fnisen commented on #105
Just to clarify this one: only copilots / managers on the project team are allowed to create initial posts / project updates. Anyone on the team can respond to the update, though.

[2016-09-20 23:17] #113 closed

[2016-09-20 23:32] fnisen opened #118 "Project creation: New project modal is not closed after project is created"
This was working before, but is now broken: http://screencast.com/t/1R0dctrU

Modal should close and the user should be taken to the Project dashboard.

[2016-09-20 23:36] fnisen opened #119 "Project listing: project status descriptions in listing are incorrect"
Still seeing "old" statuses such as "Will Launch."

<img width="1233" alt="screen shot 2016-09-20 at 4 33 22 pm" src="https://cloud.githubusercontent.com/assets/12552247/18692582/21506e5e-7f50-11e6-8ecd-37acb2a9c3ac.png">

[2016-09-20 23:52] fnisen opened #120 "Dashboard/Status updates: Coder Bot comments being autogenerated"
<img width="753" alt="screen shot 2016-09-20 at 4 14 12 pm" src="https://cloud.githubusercontent.com/assets/12552247/18692895/63267f74-7f52-11e6-978f-120f7b2bd679.png">

Coder Bot is automatically appearing in status update comments for some reason.

[2016-09-20 23:56] fnisen opened #121 "Dashboard/Status updates: new status composer should not be shown expanded"
The new status composer should just show the subject field at first and then expand once a user clicks into it. See second column in design below.

![222a7753-cdb9-4f05-9f2a-c94893276fc6](https://cloud.githubusercontent.com/assets/12552247/18692961/ddfe8174-7f52-11e6-8407-486b97e9afb8.png)

[2016-09-21 00:00] fnisen opened #122 "Dashboard/Status updates: posts in one thread should be "compressed""
Posts are currently shown fully expanded, as below, but should be shown compressed, with an option to see "more replies," as in the third column of the attached design.

<img width="736" alt="screen shot 2016-09-20 at 4 57 25 pm" src="https://cloud.githubusercontent.com/assets/12552247/18693020/62838c28-7f53-11e6-9aa7-1b4b9ec5088b.png">

![222a7753-cdb9-4f05-9f2a-c94893276fc6](https://cloud.github

[2016-09-21 00:04] fnisen commented on #112
@mdesiderio

1. Yes, sorry, we meant Lead and incorrectly put Opportunity in the copy
2. Yes, purely internal for our CAs
3. I see. OK, let me check about the need and urgency of this before you do a lot of work.

[2016-09-21 04:01] vic-appirio commented on #102
![264df700-ce0c-4696-aec8-bcb39162688e](https://cloud.githubusercontent.com/assets/8484061/18697347/2ae1a2ec-7f75-11e6-93db-3cb747ebce51.png)

We discussed the updates to the list view. It makes sense to expose the project ID at the first column, then move the project type as a tag underneath the title, and remove the REF code from the end of the table. The project ID would be more than enough to

[2016-09-21 04:08] #69 closed

[2016-09-21 04:08] #68 closed

[2016-09-21 04:08] #65 closed

[2016-09-21 04:08] #64 closed

[2016-09-21 04:08] #62 closed

[2016-09-21 04:08] #66 closed

[2016-09-21 04:08] #59 closed

[2016-09-21 04:10] vic-appirio opened #124 "Landing page"
We need a super basic landing page. Speck is here https://drive.google.com/drive/folders/0B1LbmKnex41fR3BmLUR6Mzd3Tms?usp=sharing

[2016-09-21 06:21] vikasrohit commented on #115
@vic-appirio While working on this issue, I found that we don't have any way to edit a custom feature once it is added/saved. I mean once the user hits the Save Feature button, design shows the feature in non editable form. Only thing user can do is to disable/enable the feature. So, it seems like right now only way to edit a custom feature is to delete/disable it and then re-add it by copy pastin

[2016-09-21 07:25] vikasrohit commented on #115
I found a workaround. User can use the switch button to disable the feature, which would bring the custom feature in editable form and user can update the title/description and then save the feature again. However, with this workaround, there is one limitation. If user closes the feature picker dialog or refreshes the page after disabling the feature, he/she will loose the content of that custom f

[2016-09-21 07:26] vikasrohit commented on #115
Tracking with asana task https://app.asana.com/0/95614844085038/184327383400572

[2016-09-21 07:31] vikasrohit commented on #99
Changes are in dev and working fine. @fnisen please verify.

[2016-09-21 07:35] vikasrohit opened #125 "Feature picker || Custom feature is shown as form even after adding the feature"
As per design the custom feature should be shown in the same way we are showing standard features i.e. without any form. However, right now we are showing the custom feature in a form. Once added, user does not have any option to save that feature so does not makes sense to show the feature in the form.

<img width="634" alt="screen shot 2016-09-21 at 1 04 35 pm" src="https://cloud.githubuserconte

[2016-09-21 07:35] vikasrohit commented on #125
cc: @fnisen @vic-appirio @parthshah

[2016-09-21 07:35] vikasrohit commented on #125
Tracking with asana task https://app.asana.com/0/95614844085038/184327383400574

[2016-09-21 08:29] parthshah commented on #125
My 2 cents.. custom features should be shown as a form always. The form should be disabled (for updates) if the user does not have edit access to the project.

[2016-09-21 08:32] parthshah commented on #115
I agree this interaction is definitely confusing. Toggle button in case of custom features should imply that the feature is no longer required and can be deleted. There wouldn't be a way to enable this feature in the future .. one would have to create a new feature.
Reg. editing an existing feature - custom features should always be rendered as a form in feature picker. A user with edit permission

[2016-09-21 09:09] vikasrohit commented on #115
@parthshah I have created #125 for this and already committed my changes for that. Please let me know if I should revert the changes or wait for @vic-appirio for respond?

[2016-09-21 09:13] parthshah commented on #52
Comments from GDoc - https://docs.google.com/document/d/1gPMqEmTLgA6Tf5DT3KiHl9hqFszH2oj-r58o9OeWfJU/edit#
I prefer re-using an existing component (open source library) for this instead of building our own. +tjefts@topcoder.com +fnisenzoun@topcoder.com thoughts? +vic@topcoder.com have you found a react component library that fits the requirements?
Tony Jefts
Tony Jefts
7:34 PM Yesterday
agreed. wo

[2016-09-21 09:16] parthshah commented on #52
@fnisen @vic-appirio That link you posted is to a JS library. We would need to convert that to a re-usable React Component. Do you know if one already exists?
@vic-appirio / @vikasrohit -  The current library supports style overriding. Can you check if we can style it according to our requirements?

[2016-09-21 09:20] vikasrohit commented on #105
Taking it one step further, does the same rule applies for the messaging tab as well? or anyone can start a thread in messaging?

[2016-09-21 09:26] vikasrohit commented on #122
@fnisen we don't have support for paging (both for topics and posts) yet in messaging api, hence can't really do paging kind of thing here. Do you want me fake the paging? I mean render a few (lets say 5) messages/comments and render all comments/messages once user clicks on the load more button.

[2016-09-21 09:41] vikasrohit commented on #120
It seems like there are some posts, with userId being 'system', for the topic. @mdesiderio do you know any reason for these dummy posts? or is it an error on front end which is posting empty posts, with userId being 'system'?

[2016-09-21 09:53] vikasrohit commented on #125
Makes sense, but once the feature is added, there is no save/update button (only delete button is there) for the user when user has the edit access. So, to enable the user update the custom feature we need to show save/update button along with the delete button.

[2016-09-21 10:30] parthshah commented on #112
I am going to split this issue into multiple issues so we can close the ones that are done.
I've fixed point # 2 listed in the original post.

[2016-09-21 10:33] parthshah opened #127 "Project Details: Provide a link to project lead in Salesforce"
This task is for tracking Salesforce work required to create a link in Project dashboard. Please refer #112 for more details.
I recommend we don't tag this enhancement for #70 (private beta release).
fyi @fnisen

[2016-09-21 10:38] parthshah opened #128 "Project Status: Only show Status change dropdown icon (caret) to managers & copilots"
![image](https://cloud.githubusercontent.com/assets/1987710/18707788/45e2a67c-8015-11e6-83ec-e92a7ba68d96.png)

@vikasrohit hoping you can use your css wizardry to fix this.
Dropdown should be active & control should be visible to managers & copilots added to the project.

[2016-09-21 10:49] #58 closed

[2016-09-21 10:49] #101 closed

[2016-09-21 10:49] #111 closed

[2016-09-21 10:49] #112 closed

[2016-09-21 11:54] parthshah commented on #102
@mahestro can we run an F2F for this?

[2016-09-21 12:01] parthshah commented on #125
Just like regular features we should have auto-save / update for custom features. NOTE: for now auto-save will save it back to specification page user would still have to click save to persist it to DB.

[2016-09-21 12:04] parthshah commented on #105
All registered project team members should be allowed to create topics / respond to comments. Just project status is special.

[2016-09-21 13:52] vikasrohit commented on #121
@fnisen Fixed with catch that right now it would collapse the composer even if any of the input or textarea contains some text. Though it should not take much time to fix that as well, however, it would be better to track it separately.

[2016-09-21 13:59] vikasrohit commented on #125
Okay, should we then remove the save button altogether. I mean to be consistent, should we remove the save button which we show initially?

[2016-09-21 16:21] vic-appirio commented on #52
I'll do research on this one today

[2016-09-21 17:12] vic-appirio opened #129 "Navigation / Search: Persist filter state"
Project filters do persist state, but when I do a search and go to a project, coming back through clicking the "Projects" link the search bar is not displaying the search term, but the list view is filtered.

https://monosnap.com/file/Jen8EL5uCm2mCksN9128ohlP18puf3

[2016-09-21 17:13] vic-appirio opened #130 "Project Specification: File picker style"
Needs to add the appropriate CSS Class for the component;

[2016-09-21 17:15] fnisen commented on #129
@vic-appirio I'm actually seeing them persist in my own testing. Would you have a video example of them not working?

[2016-09-21 17:23] vic-appirio opened #131 "Navigation: top fixing position"
The sticky panels are affixed under the top navigation. They should stay 20px below the top-most element (if there's no nav, viewport, otherwise - top nav)

[2016-09-21 17:27] #106 closed

[2016-09-21 17:27] #98 closed

[2016-09-21 17:29] fnisen commented on #125
I don't completely understand the question, so my two cents may not be helpful, but there is actually a two part experience:
- Creating the feature, which has the save button (and no pill selector) and adds the feature to your list and turns it "on":

![0476f095-cd4d-4145-b301-743df2fee6e6](https://cloud.githubusercontent.com/assets/12552247/18721588/003bfb7a-7fe6-11e6-8302-4bc569c467d9.png)

- Tu

[2016-09-21 17:37] fnisen commented on #98
@mahestro the only info to be persisted between states is the name/description/code, correct? I think it's fine not to persist those because we ask for that info at the end. So, you're not likely to select the initial few options, then enter the description, and decide that you don't want a prototype after all. I think a user would click around first to understand the options. Let me know if you d

[2016-09-21 17:38] fnisen opened #132 "Project creation: add a URL for the project creation modal page"
cc @mahestro

[2016-09-21 17:39] fnisen commented on #132
Think it's worth adding a URL b/c this just a page intended to look like a modal. Would help with tracking.

[2016-09-21 17:44] vic-appirio opened #133 "Webpack config - adding React-CSS-Modules"
Moving in with adding react-css-components we'll need (I assume) to cleanup the webpack config file. Currently we do import and rely on the config from https://github.com/appirio-tech/webpack-config. What are the other Pros and Cons of creating a stand-alone webpack config instead of using this one? If we want to clean up and fine-tune the environment, we won't break the existing apps. We can remo

[2016-09-21 17:48] vic-appirio commented on #52
We use '[react-s-alert](https://github.com/schiehll/react-alert)' which does indeed support:

- States
- Transitions
- Custom content template overrides (albeit "tricky" as the author said)

[2016-09-21 17:48] fnisen commented on #121
@vikasrohit OK, let me check it out once it's deployed and see if we need another issue.

[2016-09-21 17:52] mahestro commented on #130
You're doing it amigo @vic-appirio ? Needs styling? I'm not following the goal of the task :/

[2016-09-21 17:53] mahestro commented on #131
Not sure if I followed. The two columns layout pages (dashboard, messages) are the ones with two sticky components (nav and left column). Do you mean there should be a 20px gap between the nav and the left panel displayed content? Something like this.

http://take.ms/s8RKy

Let me know @vic-appirio

[2016-09-21 18:01] mahestro commented on #89
@parthshah took it.

[2016-09-21 18:18] vic-appirio opened #134 "Navigation: Not updating on back button"
The top navigation doesn't detect the use of back button to display the appropriate state.

https://monosnap.com/file/FO7dt1lOrZwsUJ19XDcLqjruTGJKAd

[2016-09-21 18:24] vic-appirio opened #135 "Navigation: Responsive breaks too early"
The navigation breaks into responsive too early and doesn't uses the full width of the space available effectively.

https://monosnap.com/file/Di2cwCULizqTKo6ncc1BOgAeJakgbP

[2016-09-21 18:29] vic-appirio opened #136 "Home page: Should display Projects"
Since all that we have as a home page is projects view, let's make it our home page by default. Currently we have a blank page and there's no way to get to "Projects" section. The top nav logo should also lead to the Projects (home).

[2016-09-21 18:34] vic-topcoder opened #137 "Project Filters: Use react-select for multiple select"
We need to be able to stack several project type and states on the filters. We should "react-select" for multiple

[2016-09-21 20:47] fnisen commented on #136
Stating it more plainly:
- User logs in: taken to /projects by default
- User clicks top nav logo: taken to /projects, as well

[2016-09-21 20:49] fnisen commented on #89
OK, I'm expecting to see some magic. 😄

[2016-09-21 21:08] fnisen commented on #103
Not fixed. Seeing several problems:

Functionality:
- Was initially able to see the delete button (trash bin) and click it; however, confirmation message was that the action had failed. After that, the project status did not show up consistently on the listings. First the listings would show it as Draft, then after clicking on the project and clicking back, it would show as Canceled (with no other

[2016-09-21 21:16] fnisen commented on #118
Still broken: http://screencast.com/t/9H4NYM2k

[2016-09-21 21:29] fnisen commented on #120
Investigated some more. Posts are appearing after page reload, both for the poster and those reading the post. Here is an example: http://screencast.com/t/LZaUFQtHHjw. They don't appear when the post is first made.

[2016-09-21 21:58] fnisen commented on #122
@vikasrohit not urgent to hack it right now

@mdesiderio would we be able to add paging to messaging API?

[2016-09-21 23:08] fnisen opened #138 "General: Fix issues with "Walkthrough page""
<img width="1278" alt="screen shot 2016-09-21 at 1 38 18 pm" src="https://cloud.githubusercontent.com/assets/12552247/18732106/86a6b6ee-8015-11e6-8900-f629deee46b1.png">

1. Better align the arrow to point to the new project button
2. Remove the background "+" cards

[2016-09-21 23:15] fnisen opened #139 "Navigation: change "+ New Project" button to blue (to contrast with gray nav)"
<img width="1277" alt="screen shot 2016-09-21 at 4 13 54 pm" src="https://cloud.githubusercontent.com/assets/12552247/18732225/74911aac-8016-11e6-9e9e-e6c694a959f7.png">

[2016-09-21 23:18] fnisen commented on #127
@parthshah yes, confirming that we don't need this for the beta release.

[2016-09-21 23:24] fnisen opened #140 "Project listing: reference code does not show up in listings"
Reference code from Project creation should be carried over to listings, but this is not happening now: http://screencast.com/t/hCiz59J2vFMM

[2016-09-21 23:29] fnisen commented on #99
Thanks @vikasrohit. Working fine for me!

[2016-09-21 23:29] #99 closed

[2016-09-21 23:31] fnisen opened #141 "Project details/Feature picker: remove notes heading"
<img width="639" alt="screen shot 2016-09-21 at 4 27 17 pm" src="https://cloud.githubusercontent.com/assets/12552247/18732507/a4d652f2-8018-11e6-8a49-46a7328176b6.png">

Each of the feature notes section has a heading: "Describe your objections for creating this application." Can you please remove it? We don't need it and the copy is confusing.

[2016-09-21 23:43] fnisen commented on #102
@parthshah one question: with this redesign, can we make the reference code searchable? It doesn't make sense the way it is currently (sortable in its own column) because we don't have any restrictions for the code's syntax.

[2016-09-21 23:43] fnisen commented on #102
We don't need this until after the beta, I think. Let me know if you disagree.

[2016-09-21 23:48] fnisen commented on #100
Not seeing any issues after the recent update, so will close this.

[2016-09-21 23:48] #100 closed

[2016-09-22 01:44] vic-appirio commented on #125
It seems like the problem is the description field not being able to be edited once the feature is created. What we can do is to follow the regular pattern and always show the text area - being editable. This is to say that a custom feature would behave like a regular feature with the addition of a "Delete" button underneath. @fnisen would that be a solution? Good point, @vikasrohit @parthshah

[2016-09-22 01:47] vic-appirio commented on #115
Commented at #125 → Let's try to mimic the regular feature experience so that the user can always edit the form. The difference is the "delete" button at the end of the feature.

[2016-09-22 01:55] vic-appirio commented on #131
When the side panel is shorter than the viewport, it should stick at the top, with a visible gap of 20px between the side panel and the top navigation.

![screen shot 2016-09-21 at 6 53 09 pm](https://cloud.githubusercontent.com/assets/8484061/18734814/d020abf6-802c-11e6-9f18-e082e0dabe10.png)

When the navigation is taller than the viewport, it should scroll with the content and affix at the bott

[2016-09-22 03:26] parthshah commented on #125
@vic-appirio / @fnisen regular features are defined by the application and users can enable / disable them for their project. Custom features behavior is a little different in that the user is defining the feature. Since the feature is specific to the project if a user decides to disable the feature, the feature is deleted. Delete custom feature & disabling would have the same effect.

[2016-09-22 03:28] parthshah commented on #132
we started off with a separate page with a URL for create project, then it was moved to a modal and now we want to move it back to a page?

[2016-09-22 03:34] parthshah commented on #133
webpack config was introduced by Nick & Andrew I believe, @vic-appirio maybe you were part of those discussions? I dont have a strong opinion on this right now but I believe the idea is to have a consistent approach to build all our webapps. webpack config is versioned so making a breaking change shouldn't break all other apps unless those apps are upgraded to the latest version at which point we

[2016-09-22 03:35] parthshah commented on #136
How does one get to the new home page on connect?

[2016-09-22 03:40] parthshah commented on #102
Let's tackle project search functionality after beta. We can make name, description, ref code and any other field searchable through Elasticsearch

[2016-09-22 03:53] fnisen commented on #132
Well when you put it that way.... Tt's not a modal in the traditional sense. It's a full page modal, so it's still essentially a page. We're just hiding the nav and introducing the "x" for navigating back.

[2016-09-22 03:56] fnisen commented on #136
Just to clarify, this is not a new home page. Project Listings is the home page.
There are three ways to get there:
1. Upon first logging in, automatically taken there
2. Whenever the user navigates to a project from listings, the nav shows Projects/"Project name." Clicking on Projects gets them back to the listings
3. Clicking on the Connect logo

[2016-09-22 04:01] fnisen commented on #125
@vic-appirio can we treat the custom feature as "disposable"? Do you need to be able to edit it or can you just recreate a new one? If we don't want to make it disposable, I would add an edit option, next to delete.

Either way, I would get rid of the pill b/c turning off the feature has the same effect as deleting it, following @parthshah's explanation.

[2016-09-22 04:31] vikasrohit commented on #132
If we create it as a page, we have couple of concerns:

1. We have to propagate the page specific details to the topbar which we are anyway doing now after the new combined topbar
2. Another concern is that with a complete page, closing the modal would cause the complete state change while being a modal, it just hides itself without any state reload.

[2016-09-22 05:13] parthshah commented on #132
@fnisen as we discussed offline, we'll wait to hear back from you before making any changes.

[2016-09-22 05:45] vikasrohit commented on #141
Tracking with asana task https://app.asana.com/0/95614844085038/185074826551492

[2016-09-22 05:48] vikasrohit commented on #128
Done. Changes are in dev. Tracking with asana task https://app.asana.com/0/95614844085038/184520055700212

[2016-09-22 05:52] vikasrohit commented on #115
Done. Changes are in dev.

[2016-09-22 05:52] #115 closed

[2016-09-22 05:53] #128 closed

[2016-09-22 06:01] vikasrohit opened #142 "Project status composer should not be collapsed when it contains content"
With reference to #121 should we restrict the composer not to collapse when it has some content (either in title or the post) and user clicks outside of the composer? Just for information, user would get it expanded anyway when clicks back on the title.

[2016-09-22 06:01] vikasrohit commented on #142
cc: @vic-appirio @fnisen @parthshah

[2016-09-22 06:08] vikasrohit commented on #121
Done. Changes are in dev.

[2016-09-22 06:08] #121 closed

[2016-09-22 06:28] vikasrohit opened #143 "Need design for the case when there is no project status on the dashboard"
Right now we are showing only the composer which itself would not be visible(for non copilot and non manager users) after changes for #105. So, it would look odd with empty space. I guess we should have some kind of placeholder for that. And same thing goes for the messaging tab.
@vic-appirio Please let me know I missed these empty state placeholders from the design.

[2016-09-22 06:29] vikasrohit commented on #143
cc: @parthshah @fnisen

[2016-09-22 07:07] vikasrohit commented on #120
Change are in dev.

[2016-09-22 07:07] #120 closed

[2016-09-22 07:07] vikasrohit commented on #105
Changes are in dev.

[2016-09-22 07:14] vikasrohit commented on #141
Changes are in dev.

[2016-09-22 07:14] #141 closed

[2016-09-22 07:21] vikasrohit commented on #125
@vic-appirio @fnisen please check the behaviour of the feature picker for custom feature now in dev. And let me know where we want to go from there. Please try to add a custom feature, then edit it (via workaround of disabling the feature, edit the text and reenable the feature) and removing the feature completely by clicking on 'Delete feature' button.

[2016-09-22 07:21] vikasrohit commented on #75
Done. Changes are in dev.

[2016-09-22 07:21] #75 closed

[2016-09-22 07:23] vikasrohit commented on #118
@fnisen its working fine for in dev.

[2016-09-22 17:31] mdesiderio commented on #122
@vikasrohit @fnisen

I have implemented pagination for the message service, but unfortunately Discourse doesn't provide traditional limit / offset or page / page size type of pagination, it is a little more complicated than that.

1- Whenever a topic is retrieved from the API you will have 3 new fields

totalPosts: Convenience field that represents the total number of posts the topic has;
retrieve

[2016-09-22 20:13] fnisen commented on #122
Thanks @mdesiderio. I would prioritize performance.

@vikasrohit, @parthshah let us know what you think

[2016-09-22 20:24] fnisen commented on #118
@vikasrohit still seeing problems. Now there is a blue line at the top and bottom of the modal, the slider does not look right, and page loading is not uniform (elements seem to randomly turn on): http://screencast.com/t/gPMknDDyQSl

[2016-09-22 20:31] fnisen opened #147 "Dashboard/Team management: validation message is unnecessarily sticky"
If I add a user that's already on the team, I get a validation message saying so, which is correct. However, if I close the modal and reopen it, the message is still there: http://screencast.com/t/uBwtGZqy1

[2016-09-22 20:32] fnisen commented on #75
Thanks @vikasrohit. That works, but I found a new issue: https://github.com/appirio-tech/connect-app/issues/147. Not urgent.

[2016-09-22 22:00] fnisen commented on #105
@vikasrohit original posting is restricted correctly, but I'm seeing an issue with commenting. Managers that are not part of the project are still able to comment.

This happens in two scenarios: when someone has been a manager on the project and leaves the project; when someone was never a manager on the project: http://screencast.com/t/InHJkyA6Xx.

[2016-09-22 22:03] fnisen commented on #103
Still not fixed. I'm still seeing all the same issues I saw yesterday.

[2016-09-22 22:06] fnisen commented on #136
Logged out home page will be connectv2.topcoder.com (and then connect.topcoder.com). We're running a challenge to create a simple page to put there.

By the way, the logout button in the user menu doesn't seem to be clearing cookies consistently. I'll occasionally be redirected to the member dashboard and still be logged in.

[2016-09-22 22:11] fnisen commented on #143
![b3f2a941-1ff4-494e-a218-e91a5959ca28](https://cloud.githubusercontent.com/assets/12552247/18767852/74319d00-80d6-11e6-8af5-75cf83aa63bc.png)

Hey @vikasrohit, you're right. I noticed this too as soon as we cleaned out the mock data. Please see design above. We have auto-generated "Coder cards" (at the bottom of the updates) that can appear. A few of them are special cards with buttons. I'm think

[2016-09-22 22:13] mahestro commented on #131
Got it! Thanks.

[2016-09-22 22:18] mahestro opened #148 "Project Details page loading scrolled down if the project listing page was scrolled down"
Title is hard to get, just see this: http://take.ms/MmQuA

[2016-09-22 22:20] fnisen commented on #132
Guys, discussed this with Vic and Tony, and thought about it some more. tldr: this is not important right now and we'll likely need to change this experience soon anyway. I'll close the issue. Sorry for the back and forth.

More detail: Right now everyone will be accessing "new project" via the button/modal, so we don't need a separate page. Even if we were to send people to a page from the market

[2016-09-22 22:20] #132 closed

[2016-09-22 22:24] mahestro commented on #134
It happened to me a few times. I think it was with the customer role. Which roles does your test user have on this test? @vic-appirio

[2016-09-22 22:27] fnisen opened #149 "Messaging: empty state for messaging tab"

[2016-09-22 22:31] mahestro commented on #135
I saw this coming @vic-appirio :) Time to fix it. I have a doubt though.

That breakpoint had to be set that short because it was the only css possible solution for the particular case of the nav. Since they both, project and home, share the same markup/css, they're affecting each other. The home view has room to break later but the power owner project view needs to break that early (http://take.m

[2016-09-22 22:31] fnisen commented on #149
@vikasrohit FYI

[2016-09-22 22:43] mahestro commented on #109
Hey @vic-appirio @fnisen about "We decided that only Managesr and Copilots can use the switch". Does it mean clients cannot add team members?

Also, off topic, comes to my mind, if a client wants to invite someone, this someone must have a tc account, if not he won't show up in the options. Is it planned to add member invitations by email? where they first register then they're automatically assig

[2016-09-22 22:50] mahestro commented on #137
Cool! What other features should we consider for this? I was playing with the component and it has several options:

- Searching (autocomplete).
- Multiple stacking (adding tags with x icons to delete).
- Clear all (x at the end of the dropdown component).

http://jedwatson.github.io/react-select/

What do you have in mind for a design of the tags? @vic-appirio

[2016-09-23 00:10] #119 closed

[2016-09-23 00:10] #139 closed

[2016-09-23 06:00] fnisen commented on #109
@mahestro clients can add, but they can't designate someone as a copilot. Anyone they add will be a regular project member.

Yes, we're planning to add invitations by email--good note.

[2016-09-23 06:02] fnisen commented on #134
@mahestro from the video capture, I can see Vic is using the manager role.

[2016-09-23 06:04] fnisen commented on #137
This one is not needed for the beta release, by the way, so please don't work on this ahead of other things @mahestro

[2016-09-23 06:06] fnisen commented on #142
@vikasrohit yes, that's right. Once there's content, no need to collapse it anymore. It should just be collapsed initially. By the way, I noticed the "x" to close is not working right now.

[2016-09-23 06:13] vic-appirio commented on #135
Also - resize the search bar to accommodate for space. I trust your decision. The break should occur around 1024 - on tablet size. I believe there is enough space around for full labels and title at 1024+ size; the same for search.

[2016-09-23 06:15] vikasrohit commented on #118
@fnisen I guess, Luis has already pointed about the blue line around the modal. And IMO, slider is not looking right because it has some static images to load, which some time takes time.

[2016-09-23 06:28] vikasrohit commented on #105
Yes, @fnisen I caught that issue yesterday. I have fixed that with messaging changes. So, it would be fixed when we merge the messaging into dev.

[2016-09-23 06:49] #118 closed

[2016-09-23 07:22] vikasrohit commented on #142
There is not way, on dashboard, to get the composer back once closed. So should we keep the close button here? We do have a way(plus icon in left panel) in messaging tab for showing the composer.

[2016-09-23 07:23] vikasrohit commented on #105
They are now in dev. Please let me know if it still does not work for you.

[2016-09-23 08:37] mahestro commented on #124
Hey @vic-appirio, landing is almost ready but I want to bring the same topic as the nav, breakpoints.

http://take.ms/9QEOV

Do we want to support full responsiveness now? As you can see in the video, we'd need to use different breakpoints if the content needs to be displayed properly.

A quick solution that follows the current guidelines (not responsive) is to show the 768 version (which has the

[2016-09-23 11:52] #129 closed

[2016-09-23 11:56] parthshah commented on #103
re-opening. @vikasrohit  - i've fixed the functionality, but could you please fix the styling? I played around with css props but I was only making it worse :(. Thanks!

[2016-09-23 12:03] parthshah commented on #140
fixed

[2016-09-23 12:03] #140 closed

[2016-09-23 12:31] parthshah commented on #143
@vikasrohit - the first 2 cards (from the bottom) can be static.
@mdesiderio we should generate these Coder Bot messages asynchronously when the project is created, specs completed, etc. What user should we use to POST these messages?

[2016-09-23 18:06] #130 closed

[2016-09-23 18:46] #138 closed

[2016-09-23 23:38] vic-appirio commented on #149
Let's have a default message that welcomes the user and allows for more help (do we have help for messaging in Connect? Do we need one?). This would resolve the issue of an empty page.
![messages empty](https://cloud.githubusercontent.com/assets/8484061/18804151/2e088150-81ac-11e6-8e27-71d82382258f.png)

When the user deletes the welcome message we can should them the compose form. Or the message

[2016-09-23 23:42] vic-appirio commented on #124
I was thinking more of a scaling the image as the page gets smaller until it breaks into 1 column. We can break at 1024 for 2 columns and scale up.  See how the images scale here before the column count changes? I would assume we use the same mechanics: http://vic-tor.com

[2016-09-23 23:46] vic-appirio commented on #134
I was with manager role. Didn't test exclusively with all possible roles. The same applies for regular user as well.

[2016-09-23 23:49] vic-appirio opened #153 "Dashboard: Compose update collapsed is not to speck"
The implemented small view of the update composer is not up to speck.

Implemented:
![screen shot 2016-09-23 at 4 50 28 pm](https://cloud.githubusercontent.com/assets/8484061/18804351/7b6e4536-81ae-11e6-888c-2f05d48ab5e6.png)

- background color
- close icon
- extra space at bottom

Expected:
![screen shot 2016-09-23 at 4 50 51 pm](https://cloud.githubusercontent.com/assets/8484061/18804354/7feed6

[2016-09-23 23:51] fnisen commented on #153
@vic-appirio screenshots did not come through

[2016-09-23 23:53] vic-appirio commented on #153
still writing it! You're too fast! :)

[2016-09-23 23:57] vic-appirio commented on #148
There's something with react-sticky probably. The position of the left panel depends on it - discussed at #131

[2016-09-23 23:59] fnisen commented on #109
@mahestro this is still not working correctly. Both grey and white parts are selectable.

[2016-09-24 00:00] vic-appirio commented on #142
By design the composer can collapse, preserving the content, but only the title will be visible. On click the full form appears. On blur the composer collapses. When navigating away, the content is lost; we should display an alert that there's unposed update and they'll lose the content if navigate away.

This is the default UX at Facebook. Look at the specification for example of those 4 states.

[2016-09-24 00:02] vic-appirio commented on #142
Also: InVision prototype: https://topcoder.invisionapp.com/share/868IT4EJW#/181948484_Feed_-_New_Post

[2016-09-24 00:15] vic-appirio commented on #133
There is a need to introduce new plugins and processors with react-css-modules, add webpack-stylelint so we can automate the code; it is really hard to understand how to do that. Moving the webpack.config.js to a modular per-project structure would be better, we can use https://github.com/survivejs/webpack-merge to create modular architecture/templates into the `./config` folder. Moving away from

[2016-09-24 00:15] fnisen commented on #89
@parthshah maybe your changes aren't in dev yet, but this isn't working right now.

For example, I skipped all three questions, yet Files does not become required (see below). Also, if I fill out design questions and save, they are not reflected in the panel. Can you please work through my specs above and check all the scenarios?

<img width="1154" alt="screen shot 2016-09-23 at 5 09 46 pm" src="h

[2016-09-24 00:17] fnisen opened #154 "Project Details: File upload is not working"
Able to upload seemingly successfully with Filestack, but then get an error message. Project Files count shows 0, but I can see the file listed: http://screencast.com/t/kyHfLdoj

[2016-09-24 00:19] vic-appirio commented on #84
We can do that as part of the code refactoring after beta launch. De-escalating.

[2016-09-24 00:21] vic-appirio commented on #52
This one should be right fit for Didi - there's a ton of documentation at the plugin GitHub repo

[2016-09-24 00:27] fnisen opened #155 "Navigation/Search: Search term gets "stuck" in search field"
Not able to clear a past search: http://screencast.com/t/xnExVj8GV.

This is happening in Safari with the manager role.

[2016-09-24 01:25] mahestro commented on #109
Hmm, strange. I see it working. I didn't fix it but I realized it was working when I was checking. I still see it working.

[2016-09-24 03:55] parthshah commented on #134
Yep I am able to reproduce this will all users. The component isn't updating on the back button trigger. Will have to re-wire Topbar somewhat to listen to events from route changes.

[2016-09-24 03:57] parthshah commented on #149
@vikasrohit - check if the messages array is empty and show this default message other wise show the topics / posts ?

[2016-09-24 10:22] parthshah commented on #154
@fnisen - i wasn't able to reproduce this locally. Can you please re-test? Also, if you can capture any logs from the console that would be helpful.

[2016-09-24 11:48] mahestro commented on #124
Hey @vic-appirio, take a look a this solution.

[landingpage_v7.zip](https://github.com/appirio-tech/connect-app/files/491082/landingpage_v7.zip)

[2016-09-24 12:24] #89 closed

[2016-09-24 12:24] #134 closed

[2016-09-24 12:24] #136 closed

[2016-09-24 12:39] mahestro commented on #134
@parthshah Thanks for the heads-up. No wonder why this task has zero activity, no one has been able to fix it :P

[2016-09-24 21:39] fnisen commented on #149
Guys, can you please not implement this just yet... want to review/revise with Vic on Monday.

[2016-09-24 22:20] #131 closed

[2016-09-26 06:55] vikasrohit commented on #147
Changes are in dev.

[2016-09-26 06:55] #147 closed

[2016-09-26 06:58] vikasrohit commented on #142
Changes are in dev. @fnisen @vic-appirio  Can you please let me know if we need close button for composer?

@vic-appirio for showing the alert when navigating away from the page, I guess it would be better to track that separately.

[2016-09-26 07:08] vikasrohit commented on #153
Do we really need the close button? We don't have a way to open it back in dashboard. We do have it Messages tab. However, IMO, we don't need the close button.

[2016-09-26 07:57] vikasrohit commented on #149
Sure @fnisen Not started working on this yet.

[2016-09-26 13:13] vikasrohit commented on #102
@vic-appirio @fnisen I have noticed that the background color (blue) is same for all project types right now. I guess, we need different colors for different types, right?

[2016-09-26 13:21] vikasrohit commented on #153
I have pushed my changes (only for styling) to dev. Please let me know your feedback. I may need to cross check margin-padding with specs, however, other than that it should include all changes.

[2016-09-26 13:21] vikasrohit commented on #102
I have pushed my changes (only for styling) to dev. Please let me know your feedback. I may need to cross check margin-padding with specs, however, other than that it should include all changes.

[2016-09-26 20:09] vic-appirio commented on #149
Let's add a message by coder on the landing page; and have the discussion composer available.

After the user opens the page, she should be able to compose a message right away, and can dismiss the greeting by Coder.

Once the new discussion topic is composed, the Coder message is automatically hidden.

Speck is here: https://drive.google.com/drive/folders/0B1LbmKnex41femttcVlPbVZobjA?usp=sharing

[2016-09-26 20:11] vic-appirio commented on #149
@fnisen reassign for implementation.

[2016-09-26 23:23] fnisen commented on #149
Thanks @vic-appirio. Ready for you, @vikasrohit.

[2016-09-26 23:29] fnisen commented on #102
Thanks @vikasrohit. A few comments:
1. Yes, please add the colors for different project types
2. Also, can we highlight new projects with the blue side bar? (Vic has it for the first few projects in his design)
3. Rename "Project ID" to "ID"
4. For the sort ("Latest first"), take out "Name Z-A"

[2016-09-26 23:37] fnisen commented on #109
Here is a video showing it not working: http://screencast.com/t/cywHpfWun. Please provide counterevidence if you have it. :)

[2016-09-26 23:43] fnisen commented on #154
<img width="1278" alt="screen shot 2016-09-26 at 4 41 47 pm" src="https://cloud.githubusercontent.com/assets/12552247/18855499/3286ef92-8408-11e6-9e76-d3e3640febde.png">

@parthshah - yes, it's still failing for me in Dev with any project for "christina_uw." The POST call is returning a 500 (please see above).

[2016-09-27 00:43] vic-appirio commented on #124
Cap the maxi-width of the page to 1200px and we're good to go!
![screen shot 2016-09-26 at 5 42 10 pm](https://cloud.githubusercontent.com/assets/8484061/18856574/9f905d00-8410-11e6-8431-c2d4eb7c66cc.png)

Good job. Also - let's get this implemented.

[2016-09-27 04:43] vikasrohit commented on #102
2. How to determine which projects are new?
4. Okay, but didn't understand the reason of removing the Z-A sorting while we have A-Z sorting.

[2016-09-27 06:12] vikasrohit commented on #102
Done. Changes are in dev with assumption that any project which was created in last hour(configurable), is considered as new project for showing the blue bar in the left.

[2016-09-27 07:37] mahestro commented on #109
I see pat_monahan has a manager role. I was testing with all roles. Customers are the only ones who cannot set the new member as copilot/member, according to this from Vic "We decided that only Managesr and Copilots can use the switch" - unless this rule changed.

[2016-09-27 07:38] mahestro commented on #124
Perfect! Moved to implementation.

[2016-09-27 10:50] vikasrohit commented on #153
@vic-appirio what is the purpose of the close button in expanded form?

[2016-09-27 11:09] vikasrohit commented on #153
I am committing changes, with assumption to collapse the form on click of close button. Please let me know if its purpose is different.

[2016-09-27 11:45] vikasrohit commented on #149
Changes are in dev. However, it shows the empty state even when the feeds are loading. It seems to be a bug with HOC used for showing loading spinner. I need @parthshah's help for that.

[2016-09-27 12:03] vikasrohit commented on #153
Changes are in dev.

[2016-09-27 12:31] vikasrohit commented on #153
@vic-appirio Do we need the same behaviour for the composer in Messages tab?

[2016-09-27 15:04] mahestro commented on #124
In prod now. There are a couple of todos I need help with, maybe from @parthshah or @vikasrohit:
- Bind link action to "Register for free" and "Learn more" buttons - where to? @fnisen
- Header should have only one button as shown here - http://take.ms/Pr1y2. The way the layout is composed right now made it tricky for me to complete this part since the overall structure adds both buttons separate f

[2016-09-27 16:59] #124 closed

[2016-09-27 17:28] fnisen opened #164 "Landing page: wire buttons"
"Register for free": https://accounts.topcoder-dev.com/connect/registration
"Learn more about crowdsourcing": https://www.topcoder.com/what-can-you-do/

[2016-09-27 17:32] fnisen opened #165 "Navigation: modify logged out nav to remove "Register" button"
When a user logs out from Connect, they should be taken to the logged out home page/landing page (connectv2.topcoder-dev.com). The nav on this page should only have the Login button, as shown here: http://take.ms/Pr1y2. (The Register button is available on the page itself, so it's not needed in the Nav).

cc @mahestro

[2016-09-27 23:44] fnisen opened #166 "Messaging: unposted content alert"
We should notify the user when they're navigating away without posting content in the Dashboard or Discussions. This can happen in several cases:
1. Completed status update, but not posted
2. Composed message, but not posted
3. Composed reply to status update or message, but not posted

@vikasrohit can you apply the same approach you used for detecting when users have unsaved content in their Spec

[2016-09-28 00:11] fnisen opened #168 "Project Details: checkmark on specification panel should be center-aligned"
<img width="386" alt="screen shot 2016-09-27 at 5 08 31 pm" src="https://cloud.githubusercontent.com/assets/12552247/18896263/250cf1c2-84d5-11e6-9874-2603f05a4060.png">

See screenshot above. Checkmark is top-aligned, but should be center-aligned.

[2016-09-28 00:20] fnisen opened #169 "Project Details: need confirmation flow to support "Submit for Review""
1. User sees alert that project has been submitted
2. User taken to Dashboard and sees Coder card explaining what will happen next

Current experience:
1. User sees "Project updated" alert
2. User stays on Project Details page

[2016-09-28 00:34] fnisen opened #170 "Messaging: "No comments yet" shown even when comments have been added"
![screen shot 2016-09-27 at 5 31 52 pm](https://cloud.githubusercontent.com/assets/12552247/18896678/6942e718-84d8-11e6-8109-66d4a2de07ee.png)

To reproduce: log in as patrick_monahan. Go to project "Wed 2:11pm project" and view Dashboard.

[2016-09-28 00:39] fnisen opened #171 "Project creation: issues with new project modal"
There is a blue line again at the top and bottom of the modal and the slider does not look right: http://screencast.com/t/gPMknDDyQSl

[2016-09-28 01:21] vic-appirio opened #172 "Navigation flickers on scroll within project pages"
### Expected behavior
The top navigation should never flicker or change position while the user scrolls

### Actual behavior
Currently the navigation flickers when the user starts scrolling on the pages with 2 columns and sticky panel - dashboard, settings, messages. Recording is here

### Steps to reproduce the problem
- Open a project
- Start scrolling slowly with the mouse wheel

### Screenshot

[2016-09-28 14:35] vikasrohit opened #173 "Error state for new feed/comment"

[2016-09-28 18:42] nithyaasworld opened #174 "lose should be loose"
### Expected behavior
lose should be loose

### Actual behavior
Incorrect spelling

### Steps to reproduce the problem
Create a new project
Delete it
Observe the delete confirmation message.

### Screenshot/screencast
Attach or link a resource.

--
![image](https://cloud.githubusercontent.com/assets/5114190/18927372/3c72cb48-85d9-11e6-8ff3-42f13615ae0e.png)

#### Environment
- OS: Mac OS 10.11.5
-

[2016-09-28 18:45] swetaipec opened #175 "swetaipec: on picking device as Tablet showing the validation msg "Please select at least 1 device""
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to pick device
5. Select Tablet

Expected Result: should not displayed validation msg
Actual Result: showing Validation msg

Enviroment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18927481/ce5caf88-85d9-11e6-8935-793b411ffc01.png)

[2016-09-28 18:45] onetliviunicolae opened #176 "The focus can be set"
### Expected behavior
The focus can not be set.

### Actual behavior
The focus can be set.

### Steps to reproduce the problem
- Access application link https://connectv2.topcoder-dev.com/projects.

- Login as pat_monahan / topcoder123!.

- Press click on the top right of page near My projects text.

### Screenshot/screencast
![focus](https://cloud.githubusercontent.com/assets/5114907/18927490/ea0

[2016-09-28 18:46] nithyaasworld opened #177 "Deleted project still appears on dashboard until user refreshes the page manually"
### Expected behavior
Deleted project should not appear on dashboard

### Actual behavior
Deleted project still appears on dashboard until user refreshes the page manually

### Steps to reproduce the problem
Create a project
Click Delete icon
In the delete confirmation message, Click cancel
Now again click Delete icon
This item confirm the deletion
Observe that it shows the message "Project delete

[2016-09-28 18:48] sdgun opened #178 "'What would you like to do?' Layout issue"
Description
-----------------------------------------------------------------
'What would you like to do?' Layout issue

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user
- In the Dashboard
- Click New Project
- Check the slider

Expected Result(s)
-----------------------------------------------------------------
- Must di

[2016-09-28 18:50] sdgun opened #179 "Filters option is not displayed in IE11"
Description
-----------------------------------------------------------------
Filters option is not displayed in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user (christina_uw or pat_monahan)
- In the Dashboard
- Check the filter option

Expected Result(s)
------------------------------------------------------------

[2016-09-28 18:51] nithyaasworld opened #180 "project name can be duplicate"
### Expected behavior
Accept only unique project names

### Actual behavior
It accepts same project name multiple times

### Steps to reproduce the problem
Login as client
Create a project
Create another project with the same name as the previous project
Observe

### Screenshot/screencast
Attach or link a resource.

--
![image](https://cloud.githubusercontent.com/assets/5114190/18927716/afee0924-8

[2016-09-28 18:52] sdgun opened #181 "Long Usernames are not displayed in one line"
Description
-----------------------------------------------------------------
Long Usernames are not displayed in one line

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user (christina_uw or pat_monahan)
- In the Dashboard
- Check the Customer column

Expected Result(s)
-----------------------------------------------------

[2016-09-28 18:52] swetaipec opened #182 "swetaipec: Application keep loading on applying sorting on id column"
swetaipec: Application keep loading on applying sorting on id column

Steps:
1.) Open the application
2.) Login with username sweta.singh
3. ) go to project list
4. Apply sorting on ID

Expected Result: Data should be sorted
Actual Result: Application keeps loading

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18927732/bd4ac8a0-85da-11e6-9db3-

[2016-09-28 18:54] onetliviunicolae opened #183 "The page is not reloaded when press on the logo image"
Expected behavior

 - The page must be reloaded when the user press on the logo image.

Actual behavior

- The page is not reloaded.

Steps to reproduce the problem

- Login into application as manager.

- From Home page press on the logo image from the top left.

Environment

Operating System(s): Windows 7
Device(s): Laptop HT 635
Browser(s): Chrome 49.0.2623.112 m
            Mozilla Firefox 48.

[2016-09-28 18:54] nithyaasworld opened #184 "project name accepts spaces though it is mandantory field"
### Expected behavior
app should not accept spaces.

### Actual behavior
project name accepts spaces though it is mandantory field. After submitting with spaces in both project name and in project description, the app is stuck

### Steps to reproduce the problem
Create a project
enter spaces for project name and description
fill up invite code
submit and observe that web page is stuck
### Screensh

[2016-09-28 18:55] sdgun opened #185 "Dashboard button is not working"
Description
-----------------------------------------------------------------
Dashboard button is not working

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user (christina_uw or pat_monahan)
- In the Dashboard
- Click on a Project
- Click Dashboard from menu

Expected Result(s)
---------------------------------------------

[2016-09-28 18:56] sdgun opened #186 "Two clear buttons appears in the search in IE11; and it overlaps with the search button"
Description
-----------------------------------------------------------------
Two clear buttons appears in the search in IE11; and it overlaps with the search button

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (christina_uw or pat_monahan)
- In the Projects
- Click on 'Search' field
- Enter any text

Expected Resul

[2016-09-28 18:57] onetliviunicolae opened #187 "The same name must not be permisive for the same project"
Expected behavior

- The projects with the same name must not be able to be created.

Actual behavior

- Two projects with the same name can be created.

Steps to reproduce the problem

- Login into application as manager.

- Create New Project.

- Follow all steps to save this project.

- Set the name "Test".

- Create again a new project.

- Follow all steps to create.

- Save the project with a

[2016-09-28 18:58] sdgun opened #188 "Search button is not working"
Description
-----------------------------------------------------------------
Search button is not working

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (christina_uw or pat_monahan)
- In the Projects
- Click on 'Search' field
- Enter 'sdgun'
- Click Search button

Expected Result(s)
---------------------------------

[2016-09-28 18:59] swetaipec opened #189 "swetaipec: after deleting project , should lands user to project listing page"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3.) create project
4.) delete project

expected Result: should lands user to listing page
Actual Result: still showing project delete page even after delete confirmation msg

![image](https://cloud.githubusercontent.com/assets/16131461/18927955/b1f3d95a-85db-11e6-8b6b-3506c29a4200.png)

[2016-09-28 18:59] sdgun opened #190 "Sort from Price takes long time"
Description
-----------------------------------------------------------------
Sort from Price takes long time

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (christina_uw or pat_monahan)
- In the Projects
- Click on 'Search' field
- Enter 'sdgun'
- Click Search button

Expected Result(s)
------------------------------

[2016-09-28 19:03] madhusaha26 opened #191 "New Project creation is not working"
![1](https://cloud.githubusercontent.com/assets/7139655/18928012/edf7939c-85db-11e6-9e9f-c7f091899de0.jpg)
### Expected behavior
New Project creation should work

### Actual behavior
New Project creation is not working

### Steps to reproduce the problem
-Open the url https://connectv2.topcoder-dev.com/projects
- login as manager
create new project
enter all details
Submit

### Screenshot/screenca

[2016-09-28 19:03] onetliviunicolae opened #192 "Pojects are created every time when the button is pressed but the invalid message is displayed"
Expected behavior

- Save the project.

Actual behavior

- Even the validation message "Something went wrong creating your project. Please contact support@topcoder.com." is displayed the project is created.

Steps to reproduce the problem

- Login into application as manager.

- Create New Project.

- Set a name and check all required fields.

- Create Project.

- Logout and Login.

- Observe two

[2016-09-28 19:03] sdgun opened #193 "Profile drop down won't work in IE11"
Description
-----------------------------------------------------------------
Profile drop down won't work in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (christina_uw or pat_monahan)
- In the Projects
- Click on 'Profile' picture

Expected Result(s)
------------------------------------------------------------

[2016-09-28 19:05] sdgun opened #194 "Sorting from ID takes long time"
Description
-----------------------------------------------------------------
Sorting from ID takes long time

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (christina_uw or pat_monahan)
- In the Projects
- Sort the list from ID

Expected Result(s)
-----------------------------------------------------------------
- Mu

[2016-09-28 19:06] swetaipec opened #195 "specification updated without added required field info"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create project
4. go to specification
5. add details
6. remove details
7. click on save change button

Expected Result: should ask to add required info
Actual Result:  specification updated

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18928181/b0e61072-85dc-11e6-94d1-ccfdb

[2016-09-28 19:10] swetaipec opened #196 "specification: last uploaded file name displayed on the upload section"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. go to specification
4. go to project fiels
5. upload files

Expected Result: name should not be displayed
Actual Result: name displayed on the section

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18928340/38371684-85dd-11e6-9e4a-d7c135415c09.png)

[2016-09-28 19:14] madhusaha26 opened #197 "Add Features to a Project -Save button is hidden by Support"
![2](https://cloud.githubusercontent.com/assets/7139655/18928293/0cc5cf54-85dd-11e6-8319-3aaf1b2e2130.jpg)
### Expected behavior
Save button should not be hidden

### Actual behavior
Add Features to a Project -Save button is hidden by Support

### Steps to reproduce the problem
- Open the url https://connectv2.topcoder-dev.com/projects
Login as manager
Add features to an existing project
Observe t

[2016-09-28 19:15] swetaipec opened #198 "specification: not able to delete custom feature"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create project
4. go to Specification
5. Feature requirements
6. add/edit feature
7. create custom feature
8. delete custom feature

Expected Result: must be delte feature
Actual Result: Not able to delete

Enviroment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18928419/a3672a48-85dd-

[2016-09-28 19:16] onetliviunicolae opened #199 "[Search] - x clear option hide field when is pressed"
Expected behavior

- Do not hide the search field when press "x clear" field.

Actual behavior

- The search field is hide.

Steps to reproduce the problem

- Login into application as connect user role.

- Set focus on Search for projects field.

- Set any text in field and press "x clear" field option.

Environment

Operating System(s): Windows 7
Device(s): Laptop HT 635
Browser(s): Chrome 49.0.

[2016-09-28 19:18] sdgun opened #200 "[Specification] Description text is partially hidden"
Description
-----------------------------------------------------------------
[Specification] Description text is partially hidden

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Specification
- Scroll down an

[2016-09-28 19:18] sdgun opened #201 "[Specification][E-Mail Login] Email Login Description text is partially hidden"
Description
-----------------------------------------------------------------
[Specification][E-Mail Login] Email Login Description text is partially hidden

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Spec

[2016-09-28 19:18] Colinh84 opened #202 "Confirmation dialog remains open after custom feature deletion"
In project specification,  if you add a new custom feature, and try to delete it, the confirm delete dialog box stays on the screen after it is deleted.

### Expected behavior
The dialog box should close after you click delete feature button on the dialog box.

### Actual behavior
The "Are you sure you want to delete new feature?" window stays open.

### Steps to reproduce the problem
- Create a n

[2016-09-28 19:21] sdgun opened #203 "[Common] [Specification] Can't enter anything after we activate Social Login"
Description
-----------------------------------------------------------------
[Specification] Can't enter anything after we activate Social Login

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Specification
-

[2016-09-28 19:21] swetaipec opened #204 ""swetaipec" message: not able to add second new post as save button is disabled"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create project
'4. go to specification
5. update specification
6. go to message
7. Add first message
8. add second message

Expected Result: should be able to add message
Actual Result: save button is disable

Enviroment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18928676/bf828fbe-85

[2016-09-28 19:23] sdgun opened #205 "[Specification] Previous data displayed in 'Add Custom Features' fields"
Description
-----------------------------------------------------------------
[Specification] Previous data displayed in 'Add Custom Features' fields

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Specificati

[2016-09-28 19:24] onetliviunicolae opened #206 "[Pagination] - the page is displayed very slow"
Expected behavior

- The page is loaded very slow when pagination option is used.

Actual behavior

- The page must be loaded.

Steps to reproduce the problem

- Login into application as manager.

- From the bottom try to select page 18 as example.

Environment

Operating System(s): Windows 7
Device(s): Laptop HT 635
Browser(s): Chrome 49.0.2623.112 m
            Mozilla Firefox 48.0.2

[2016-09-28 19:24] sdgun opened #207 "[Specification] All the Description text is partially hidden in IE11"
Description
-----------------------------------------------------------------
[Specification] All the Description text is partially hidden in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Specification

[2016-09-28 19:24] swetaipec opened #208 ""swetaipec" message: cross button not working on second new status post"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create project
4. go to message
5. post a message
6. click on post new message icon
7. click on cross icon

Expected Result: should be able to close window
Actual Result: cross button not working

Enviroment: windows 7, chrome latest
![image](https://cloud.githubusercontent.com/assets/16131461/18928784/3be4d210-85df-11e6-99e2-5

[2016-09-28 19:25] Colinh84 opened #209 "Adding 2nd or more custom features to project duplicates details of last custom feature"
In project specification,  if you add more than one custom feature, the name and description fields are pre-filled with the details of the last custom feature.

### Expected behavior
Feature name and description fields should be empty when creating a new custom feature.

### Actual behavior
Feature name and description input fields contain details of previously created custom feature.

### Steps t

[2016-09-28 19:27] sdgun opened #210 "[Specification] Delete popup of 'Delete Custom Features' won't hide after deletion"
Description
-----------------------------------------------------------------
[Specification] Delete popup of 'Delete Custom Features' won't hide after deletion

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click

[2016-09-28 19:29] sdgun opened #211 "[Specification] After Deleting the deleted custom feature is displayed in EDIT Mode"
Description
-----------------------------------------------------------------
[Specification] After Deleting the deleted custom feature is displayed in EDIT Mode

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click

[2016-09-28 19:31] sdgun opened #212 "[Specification] Custom Feature mobile image is partially hidden"
Description
-----------------------------------------------------------------
[Specification] Custom Feature mobile image is partially hidden

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Specification
- Scr

[2016-09-28 19:32] swetaipec opened #213 ""swetaipec" after submitting for review , should not be able to update specification"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create project
4. go to specification
5. update spcficiation
6. submit for review
7. update optional specification

Expected Result: should not be update spcification after submiting for review

Actual Result: able to update

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/189

[2016-09-28 19:34] Colinh84 opened #214 "Custom Feature is not editable after creation"
In project specification,  if you add a new custom feature and click save, you cannot edit the feature title or description, which is possible for all non-custom features.

### Expected behavior
The feature name and description should still be editable after a custom feature is created.

### Actual behavior
The custom feature cannot be edited, only deleted.

### Steps to reproduce the problem
- Cr

[2016-09-28 19:35] sdgun opened #215 "[Specification] Can't close the 'Project Features' popup"
Description
-----------------------------------------------------------------
[Specification] Can't close the 'Project Features' popup

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Specification
- Scroll dow

[2016-09-28 19:36] swetaipec opened #216 "help redirecting to broken page"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. click on help button

Expected Result: help page should displayed correctly
Actual Result: showing broken page

Enviroment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18929115/b6cc18f2-85e0-11e6-8f5b-eb7d5d6e43ab.png)

[2016-09-28 19:37] swetaipec opened #217 "Sorting not working on status date"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. go to project listing page
4. click on status date column

Expected Result: sorting must be working on column
Actual Result: sorting not working

![image](https://cloud.githubusercontent.com/assets/16131461/18929242/54019f5c-85e1-11e6-9308-bb4fe5736d9c.png)

[2016-09-28 19:39] sdgun opened #218 "[Specification] Project file upload Issue"
Description
-----------------------------------------------------------------
[Specification] Project file upload Issue

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Specification
- Scroll down and in the 'F

[2016-09-28 19:40] onetliviunicolae opened #219 "[Add a Link] - no validation displayed for an invalid link set"
Expected behavior

- Display validation message for invalid link set.

Actual behavior

- No validation message displayed for invalid links added when Add Link is pressed.

Steps to reproduce the problem

- Login into application as manager.

- Considering an existing created project (eg. Project Nicolae) press on the title to edit.

- Press "+" button for Links.

- Complete Address with an invali

[2016-09-28 19:42] swetaipec opened #220 "message: alignment issue on new reply button"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to message
5. add message
6 go to reply button

Expected Result: should be aligned properly
Actual Result: not aligned nicely

![image](https://cloud.githubusercontent.com/assets/16131461/18929287/85e69950-85e1-11e6-87b8-07adfeed60f4.png)
e

[2016-09-28 19:44] onetliviunicolae opened #221 "[Add a Team Member] - the image is not displayed"
Expected behavior

- The team member image is not displayed.

Actual behavior

- Display the image in section.

Steps to reproduce the problem

- Login into application as manager.

- Edit any existing project(own project).

- Set focus on Add a Team Member and select a member(eg. test0828).

Environment

Operating System(s): Windows 7
Device(s): Laptop HT 635
Browser(s): Chrome 49.0.2623.112 m

[2016-09-28 19:46] sdgun opened #222 ""Latest First/Oldest First/Name A-Z" is not displaying in IE11"
Description
-----------------------------------------------------------------
"Latest First/Oldest First/Name A-Z" is not displaying in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the site
- Login as a valid user (christina_uw or pat_monahan)
- In the Dashboard
- Click on the 3rd Table column name

Expected Result(s)
--------------------------

[2016-09-28 19:46] swetaipec opened #223 "message: showing the wrong timing on message post"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to message
5. Post a status message

Expected Result: should displayed the correct time
Actual Result: showing timing in negative

Enviroment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18929472/34fd0ec4-85e2-11e6-91b5-6c7188106dc8.png)

[2016-09-28 19:49] Colinh84 opened #224 "Enabling Project Feature fails and crashes app, requiring browser refresh"
In Project specification under the add/edit features section, if you select any menu option from the left menu, click the enable toggle, and fill in the Notes.. input too quickly, then click another option from the left menu, it gives a JS error in console and all links/buttons in the app become inoperable, requiring a browser refresh to resume.

### Expected behavior
Enabling a feature and adding

[2016-09-28 19:50] onetliviunicolae opened #225 "[Edit porject] - keep the footer options on the same part of page"
Expected behavior

- Keep the footer options on the same part of page.

Actual behavior

- Footer link options About | Contact | Help | Privacy | Terms are displayed on the right and left.

Steps to reproduce the problem

- Login into application as manager.

- In Dashboard section observe the footer options are set on the right,

- Edit any project.

- Observe the link options.

Environment

Oper

[2016-09-28 19:50] sdgun opened #226 "[MESSAGES] No validation when we enter message without a title"
Description
-----------------------------------------------------------------
[MESSAGES] No validation when we enter message without a title

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336)
- Click Messages
- Enter spa

[2016-09-28 19:51] swetaipec opened #227 "message: sometimes not able to post reply as button is showing as posting"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to message
5. Post a status message
6. post reply

Expected Result: should be able to post reply
Actual Result: not able to post

Enviroment: windows 7, chrome latest
![image](https://cloud.githubusercontent.com/assets/16131461/18929586/bb5cedfe-85e2-11e6-932e-196146a882aa.png)

[2016-09-28 19:53] onetliviunicolae opened #228 "[Edit project] - the text from the footer is missing"
Expected behavior

 - The text from the left is not available.

Actual behavior

 - The text must be displayed on the left of footer page,

Steps to reproduce the problem

- Login into application as manager.

- Edit any existing project.

- Observe as the text "Created by © Topcoder, All Rights Reserved 2016" is not available.

Environment

Operating System(s): Windows 7
Device(s): Laptop HT 635

[2016-09-28 19:56] madhusaha26 opened #229 "No file type restrictions for uploading requirements"
### Expected behavior
Should have restrictions for file type

### Actual behavior
No file type restrictions for uploading requirements

### Steps to reproduce the problem
-Open the url https://connectv2.topcoder-dev.com/projects
Login in as User
Create New Project
Upload requirements

### Screenshot/screencast
![3](https://cloud.githubusercontent.com/assets/7139655/18929854/ae89ff1c-85e3-11e6-95d4

[2016-09-28 19:59] sdgun opened #230 "[PROJECT] No First name and Last name displayed"
Description
-----------------------------------------------------------------
[PROJECT] No First name and Last name displayed

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on a Project (https://connectv2.topcoder-dev.com/projects/336) - Created By You (pat_monahan)
- Click Dash

[2016-09-28 19:59] madhusaha26 opened #231 "No confirmation message shown on uploading new requirements"
### Expected behavior
Should show confirmation message

### Actual behavior
No confirmation message shown on uploading new requirements

### Steps to reproduce the problem
-Open the URL https://connectv2.topcoder-dev.com/projects
Login as user
Create new project
Add requirements
Upload files
click done

### Screenshot/screencast
![3](https://cloud.githubusercontent.com/assets/7139655/18930049/2520

[2016-09-28 20:00] swetaipec opened #232 "project team member first name & last name not displayed"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. add owner

Expected Result: name should be displayed
Actual Result: displaying as f_name & l_Name
Enviroment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18930064/35836ae4-85e4-11e6-94f8-8dc8516fecef.png)

[2016-09-28 20:03] sdgun opened #233 "'All Types' drop down won't work in IE11"
Description
-----------------------------------------------------------------
'All Types' drop down won't work in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click FILTERS
- Click on 'All Types' drop down

Expected Result(s)
----------------------------------------------------

[2016-09-28 20:03] sdgun opened #234 "'All Statuses' drop down won't work in IE11"
Description
-----------------------------------------------------------------
'All Statuses' drop down won't work in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click FILTERS
- Click on 'All Statuses' drop down

Expected Result(s)
----------------------------------------------

[2016-09-28 20:05] swetaipec opened #235 "after adding comment showing " no comment yet""
Steps:
1.) Open the application
2.) Login with username sweta.singh
3.  create project
4. Add team Member
5. MAke owner
6. Add comment

Expected Result: should not displayed as  no comment yet"
Actual Result: showing no comment yet

Enviroment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18930159/acb33de2-85e4-11e6-8919-94fd63bff93f.png)

[2016-09-28 20:07] Colinh84 opened #236 "[Search] Long search terms cover search button and clear icon"
### Expected behavior
Long search terms should not cover the search button or clear icon, and should instead be scrollable with text cursor

### Actual behavior
Long search terms cover the search button and clear icon.

### Steps to reproduce the problem
- Enter a long search term in the top search box at https://connectv2.topcoder-dev.com/projects/
- Search box allows ttped text to cover clear ic

[2016-09-28 20:08] swetaipec opened #237 "First name & last name not displayed in the customer column on project listing page"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3.  go to project listing page
4. go to customer column

Expected Result: name must be displayed

Actual Result: showing as F_NAme & l_name

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18930297/226b2cf2-85e5-11e6-99b7-21bcddd3d632.png)
n t

[2016-09-28 20:08] sdgun opened #238 "Clearing 'Project Name' from (x) clear button; still display the "Create Project" button activated"
## Description

Clearing 'Project Name' from (x) clear button; still display the "Create Project" button activated
## Steps to Reproduce
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click '+ New Projects"
- Enter all the required data
- Clear the 'Project Name' from (x) clear button
- Check the "Create Project" button
## Expected Result(s)
- Must disable the "Create P

[2016-09-28 20:11] onetliviunicolae opened #239 "[Edit Project] - the Join Project button is not available in page when edit"
Expected behavior

The Join in Project button must be available in page.

Actual behavior

The Join in Project button is not available in page.

Vertical scroll bar position is set too down.

Steps to reproduce the problem

- Login into application as manager role role.

- Go to Dashboard.

- Use filter as set Project Type=Visual Design.

- Press to edit on test project,

- Press "+" button to add

[2016-09-28 20:11] sdgun opened #240 "'New Project button text issue in IE11"
Description
-----------------------------------------------------------------
'New Project button text issue in IE11

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click on '+ New Project'
- Click (x) button to close the pop up
- Check the '+ New Project' button

Expected Result(s)
--

[2016-09-28 20:12] onetliviunicolae commented on #239
- Observation: if you move the scroll bar the button is avaialbel!

[2016-09-28 20:13] sdgun opened #241 "Clearing 'Description'; still display the "Project Name" cleared previously"
## Description

Clearing 'Description'; still display the "Project Name" cleared previously
## Steps to Reproduce
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Click '+ New Projects"
- Enter all the required data
- Clear the 'Project Name' from (x) clear button
- Now delete the 'Description' from keyboard
- Check the 'Project Name'
## Expected Result(s)
- Must not disp

[2016-09-28 20:17] sdgun opened #242 "Project details page won't open focusing the top"
Description
-----------------------------------------------------------------
Project details page won't open focusing the top

Steps to Reproduce
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Scroll down and click on a Project name
- Check the next page content

Expected Result(s)
---------------------

[2016-09-28 20:18] swetaipec opened #243 "After left the project , project list is not updated without refresh the page"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to Specification
5. update specification
6. Submit for review
7, back to project listing
8. Left the project
9. open left project from the list

Expected Result: left project should not be displayed in the list
Actual Result: showing in the list & on opening throwing 404 error

Environment: windows 7, c

[2016-09-28 20:24] arifnyet opened #244 "[Project Dashbord] No confirmation on project status change"
### Expected behavior
Upon changing project status to complete and cancelled.. a confirmation is needed in to prevent human error

### Actual behavior
No confirmation on project status change(For completed and cancelled). Once it is clicked

### Steps to reproduce the problem
1.Open project dashboard
2.change the status to complete/cancelled

### Screenshot/screencast
Attach or link a resource.
![

[2016-09-28 20:25] sdgun opened #245 "Can't scroll down the page when user click 'Add' from Project Team"
## Description

Can't scroll down the page when user click 'Add' from Project Team
## Expected Result(s)
- Must able to scroll the page down
## Actual Result
- Can't scroll down the page when user click 'Add' from Project Team
- If the user scroll up then he/she able to scroll down
## Steps to Reproduce
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Scroll down and clic

[2016-09-28 20:25] swetaipec opened #246 "even after completing the specification estimation not present"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to specification
5. update all specification
6. come back to dashboard

Expected Result: estimation should be present
Actual Result: still showing complete specification to get estimation

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18930938/baa659

[2016-09-28 20:26] onetliviunicolae opened #247 "[Project Featuers] - inform the user as must to press the x to back"
Environment

Operating System(s): Windows 7
Device(s): Laptop HT 635
Browser(s): Chrome 49.0.2623.112 m
            Mozilla Firefox 48.0.2
            IE 11.0
User role: manager
Account used: pat_monahan

--------------------------------------------------------------------

Steps to reproduce the problem

- Login into application as manager.

- Go to Specification

- For Feature requirements press

[2016-09-28 20:30] arifnyet opened #248 "[Project Dashboard] Status Dropdown UI/UX issue"
### Expected behavior
Drop down should appear fully

### Actual behavior
Drop down not appear appear fully when link tabs are open

### Steps to reproduce the problem
1 Go to project dashboard
2 Create new link
3 Try change status

### Screenshot/screencast
Attach or link a resource.
![screenshot 13](https://cloud.githubusercontent.com/assets/8684209/18931088/4b7839ce-85fd-11e6-8f68-464925d033e4.p

[2016-09-28 20:33] onetliviunicolae opened #249 "[Specifications] - when press on specification the title is hidden"
Expected behavior
- Display the title of specification on the top of section.

Actual behavior
- The title is not displayed on the top of section.

Steps to reproduce the problem
- Login into application as manager.
- Edit an existing project eg. test.
- Select Specifications tab.
- From the left Specifications section press on "2.Design Specification / Questions".

Environment

Operating System(s

[2016-09-28 20:36] swetaipec opened #250 "feedback section not aligned nicly"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. click on feedback

Expected Result: should be aligned nicely
Actual Result: not aligned properly

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18931311/42f9d1ae-85e9-11e6-9803-d432a9462e01.png)

[2016-09-28 20:38] onetliviunicolae opened #251 "[Specification] - the name of uploaded file is kept"
Expected behavior

 - Do not display the name of image after is removed.

Actual behavior

- The name of image is kept.

Steps to reproduce the problem

- Login into application as manager.

- Edit any existing project eg. Test.

- Select Specification tab section.

- Go to Project Files (0) and press Add File button option.

- Select an image from local computer.

- Upload.

- Delete the image us

[2016-09-28 20:40] sdgun opened #252 "Clicking on 'Save Changes' button 2-3 times will display 'Project updated.' message 2-3 times"
## Description

Clicking on 'Save Changes' button 2-3 times will display 'Project updated.' message 2-3 times
## Expected Result(s)
- Must display only one time
## Actual Result
- Clicking on 'Save Changes' button 2-3 times will display 'Project updated.' message 2-3 times
## Steps to Reproduce
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Scroll down and click on a Pr

[2016-09-28 20:42] onetliviunicolae opened #253 "[Specification] - when an icon style is selected no info about this"
Expected behavior

- Display the selected icon style as checked / selected.

Actual behavior

 - No visual info when user select an icon style.

Steps to reproduce the problem

- Login into application as manager.

- Edit any existing project eg, test.

- Go to Specification tab section.

- Go to "What icon style do you prefer? (Pick one)" and pick any existing icons,

Environment

Operating Syste

[2016-09-28 20:44] fnisen commented on #52
@parthshah will be ready by the end of this week, according to @vic-appirio

[2016-09-28 20:44] sdgun opened #254 "Layout issue when user enters long text to the File name and Description"
## Description

Layout issue when user enters long text to the File name and Description
## Expected Result(s)
- Must crop the title with (...)
- Display the EDIT and DELETE buttons in-line
## Actual Result
- Layout issue when user enters long text to the File name and Description
## Steps to Reproduce
- Open the sites
- Login as a valid user (pat_monahan)
- In the Projects
- Scroll down and click

[2016-09-28 20:47] sdgun opened #255 "No confirmation when deleting the files"
Description
-----------------------------------------------------------------
No confirmation when deleting the files

Expected Result(s)
-----------------------------------------------------------------
- Must have a confirmation message before deleting

Actual Result
-----------------------------------------------------------------
- No confirmation when deleting the files

Steps to Reproduce
--

[2016-09-28 20:48] swetaipec opened #256 "specification>>Shopping Cart: not able to enable button after enabling project listing"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to Specification
5. Go to FeATURES
6. Add/Edit feature
7. Allow project lsting
8. Remove post text
9.  Ecommerce>Shopping CArt

Expected Result: should be able to enable button
Actual Result: not able to enable button

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/a

[2016-09-28 20:49] onetliviunicolae opened #257 "[Specification] - the same image for different types of files uploaded"
Expected behavior

 - The image must be different.

Actual behavior

- The same image icon displayed (GZIP) for any types of file.

Steps to reproduce the problem

- Login into application as manager.

- Go to Dashboard.

- Edit any existing project.

- Go to Specification tab section.

- Go to Project Files (2) and upload a files: png, pdf, xls, ...

Environment

Operating System(s): Windows 7
De

[2016-09-28 20:53] onetliviunicolae opened #258 "[Specification] - the text area can be horizontally resized"
Expected behavior
- The textarea must not be able to be resized horizontally.

Actual behavior
- The textarea can be resized horizontally.

Steps to reproduce the problem
- Login into application as manager.
- Edit any existing project eg. test.
- Go to Specification tab section.
- Try to resize the "Who are the users of your application?" textarea moving to the RIGHT.

Environment

Operating Syst

[2016-09-28 20:55] Colinh84 opened #259 "Project links vulnerable to phishing attack due to use of target=_blank without rel=noopener"
Client-provided links entered under links section at https://connectv2.topcoder-dev.com/projects/330
are wrapped in anchor tags with the target="_blank" attribute specified, allowing opened links to hijack the tc-connect tab and initiate a phishing attack on any client, co-pilot or manager that clicks the link.

### Expected behavior
Client provided links should add the attribute rel="noopener nor

[2016-09-28 20:57] onetliviunicolae opened #260 "[Project Files (0)] - no confirmation when delete a file"
Expected behavior

 - Display a confirmation popup window with text "Are you sure do you want to delete Yes / No".

Actual behavior

- The file is just removed without confirmation.

Steps to reproduce the problem

- Login into application as manager.

- Edit any existing project eg. test.

- Select Specification.

- Go to Project Files (0) section and add a file there.

- Upload.

- Delete the bu

[2016-09-28 20:58] swetaipec opened #261 "Same Custom features should not be added"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to Specifications
5. go to Features
6 Add/Edit Features
7. Custom Feature
8. Add Feature as Test
9 Add another feature as Test

Expected Result:  same custom feature should not be add
Actual Result:  added with same name

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.co

[2016-09-28 20:59] sdgun opened #262 "- Color Picker popup must display properly in IE11"
### Expected behavior
-----------------------------------------------------------------
- Color Picker popup must display properly in IE11

### Actual behavior
-----------------------------------------------------------------
- Color Picker popup is not display properly in IE11

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
-

[2016-09-28 20:59] arifnyet opened #263 "Add link not working"
### Expected behavior
Add link should do something.....

### Actual behavior
Add link does nothing...

### Steps to reproduce the problem
Open project dashboard
open link tab/modal

### Screenshot/screencast
Attach or link a resource.
![screenshot 15](https://cloud.githubusercontent.com/assets/8684209/18932089/7bdb0534-8601-11e6-91e1-1f8505264d93.png)

--

#### Environment
- OS: Windows 10
- Brows

[2016-09-28 21:02] onetliviunicolae opened #264 "[Specification] - do not allow to be uploaded the same files twice"
Expected behavior

- Do not allow as the same files to be uploaded.

Actual behavior

- The same files can be uploaded.

Steps to reproduce the problem

- Login into application as manager.

- Select Dashboard,

- Edit any existing project.

- Go to Specification.

- Go to Project Files (2) section.

- Add File and select from local computer a file(Wildlife.wmv).

- Upload the file.

- Press again

[2016-09-28 21:03] swetaipec opened #265 "Custom Feature deleted from the feature list on disabling the feature"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to Specification
5. Go to Features
6. Add/Edit features
7. Add Custom Features
8. Add Custom Features
9. Disable custom Features
Expected Result: on disabling the Feature should not be deleted from the feature list
Actual Result:  delete from list on disabling the feature
Environment: windows 7, chrome

[2016-09-28 21:05] sdgun opened #266 "Must not able to update the Project without required data"
### Expected behavior
-----------------------------------------------------------------
- Must not able to update the Project without required data

### Actual behavior
-----------------------------------------------------------------
- Can Update the data without required data

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
-

[2016-09-28 21:06] swetaipec opened #267 "throwing error on saving blank name of uploaded file"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to SPecification
5. go to Upload file
6. Upload a file
7. edit file name
8. same as blank

Expected Result: should ask to input the valid name
Actual Result: throwing error

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18932285/5860bebe-85ed-11e6-96

[2016-09-28 21:08] onetliviunicolae opened #268 "[Specification] - save changes can be pressed without any new data set"
Expected behavior

The Save Changes button must be disable when no new data set.

Actual behavior

The Save Changes button can be pressed even no new data set.

Steps to reproduce the problem

- Login into application as manager.

- Edit any existing project.

- Go to Specifications tab section.

- Scroll down to Project Files (0) section.

- Without add new data press "Save Changes" button.

Envi

[2016-09-28 21:08] swetaipec commented on #267
throwing error on updating name

[2016-09-28 21:18] swetaipec opened #269 ".exe file should not be uploaded"
Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to specification
5. go to project files
6. upload a .exe file

Expected Result:  should throw a validation message
Actual Result: able to upload a.exe file

Environment: windows 7, chrome latest

![image](https://cloud.githubusercontent.com/assets/16131461/18932663/1f580f26-85ef-11e6-8c94-9855e80130ab.p

[2016-09-28 21:21] onetliviunicolae opened #270 "[Specification] - 404 Not Found error displayed"
Expected behavior
------------------------------------------------------------

- The GET  404 Error message is displayed when edit a project.

Actual behavior
------------------------------------------------------------

 -The error message must not be displayed.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user

[2016-09-28 21:22] onetliviunicolae commented on #270
Obvservation

To test this issue is necessary to have Firebug tool installed if you using Mozilla Firefox, Developer Tool can be used if you use Chrome!

[2016-09-28 21:27] onetliviunicolae opened #271 "[Specification] - 404 Not Found error displayed when select tab"
Expected behavior
------------------------------------------------------------

- The 404 Error message is displayed when select the Specification tab section.

Actual behavior
------------------------------------------------------------

- Do not display this error message.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as co

[2016-09-28 21:28] sdgun opened #272 "Dashboard Icon must properly displayed in IE11"
### Expected behavior
-----------------------------------------------------------------
Dashboard Icon must properly displayed in IE11

### Actual behavior
-----------------------------------------------------------------
Dashboard Icon layout issue in IE11; Circle is cropped from the right side

### Steps to reproduce the problem
-----------------------------------------------------------------

[2016-09-28 21:32] onetliviunicolae opened #273 "[Projects] - when a single record available the sort option is not necessary"
Expected behavior
------------------------------------------------------------

- Do not display the sort by name option when only one record available.

Actual behavior
------------------------------------------------------------

 - Sort by name even one single record available.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application

[2016-09-28 21:33] sdgun opened #274 "Must able to post new messages"
### Expected behavior
-----------------------------------------------------------------
Must able to post new messages

### Actual behavior
-----------------------------------------------------------------
Not able to post new messages via "Messages"

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_

[2016-09-28 21:34] swetaipec opened #275 "After adding more than 10 project in list , pagination should be visible"
### Expected behavior
If there are more than 10 project, they should be displayed in pagination

### Actual behavior
Showing on single page
### Steps to reproduce the problem
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to project listing

### Screenshot/screencast
![image](https://cloud.githubusercontent.com/assets/16131461/18933225/69305bf6-85f1-11e6-8

[2016-09-28 21:37] swetaipec opened #276 "alignment issue in project listing pag"
### Expected behavior
vertical line should be displayed along with all project

### Actual behavior
not showing with all project

### Steps to reproduce the problem
1.) Open the application
2.) Login with username sweta.singh
3. go to project listing page
4. Look last 2 project

### Screenshot/screencast

![image](https://cloud.githubusercontent.com/assets/16131461/18933279/a1b99f8c-85f1-11e6-9823

[2016-09-28 21:39] onetliviunicolae opened #277 "Firebug: Warning: It looks like you're using a minified copy of the development build of React."
Expected behavior
------------------------------------------------------------

- Do not display this error message.

Actual behavior
------------------------------------------------------------

- Do not display this error message.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as connect user role.

- Go to Dashboard.

- Com

[2016-09-28 21:40] sdgun opened #278 "When a user commented on the status post; Must remove the 'No comments yet' text"
### Expected behavior
-----------------------------------------------------------------
When a user commented on the status post; Must remove the 'No comments yet' text

### Actual behavior
-----------------------------------------------------------------
'No comments yet' text still displayed even though user commented on the status post

### Steps to reproduce the problem
-----------------------

[2016-09-28 21:42] swetaipec opened #279 "footers links home/contact/help/privact not working"
### Expected behavior

links must be working
### Actual behavior

not working
### Steps to reproduce the problem

1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to footer links
### Screenshot/screencast

Attach or link a resource.
![image](https://cloud.githubusercontent.com/assets/16131461/18933454/844125d2-85f2-11e6-8fc8-16e57b982e37.png)
##
#### Environ

[2016-09-28 21:45] onetliviunicolae opened #280 "[Project] - the focus can be set near on / of button"
Expected behavior
------------------------------------------------------------

- The focus must not be set there.

Actual behavior
------------------------------------------------------------

- The focus can be set near On / Off button option,

Steps to reproduce the problem

------------------------------------------------------------

- Login into application as copilot role.

- Select Dashboa

[2016-09-28 21:48] swetaipec opened #281 "should displayed the project name instead of 'Project'"
### Expected behavior
should display the name of project or text 'project shouldnot be displayed
### Actual behavior
not showing project name
### Steps to reproduce the problem
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to project dashboard

### Screenshot/screencast
Attach or link a resource.
![image](https://cloud.githubusercontent.com/assets/1613146

[2016-09-28 21:48] sdgun opened #282 "Must display the icons of the Completed, Paused and Cancelled"
### Expected behavior
-----------------------------------------------------------------
Must display the icons of the Completed, Paused and Cancelled

### Actual behavior
-----------------------------------------------------------------
Project Status icons layout issue

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login a

[2016-09-28 21:52] sdgun opened #283 "After clicking Add Link; User must able to scroll the page down in IE11"
### Expected behavior
-----------------------------------------------------------------
After clicking Add Link; User must able to scroll the page down in IE11

### Actual behavior
-----------------------------------------------------------------
User can't scroll down the page after clicking Add Link

### Steps to reproduce the problem
-------------------------------------------------------------

[2016-09-28 21:53] onetliviunicolae opened #284 "[Focus] - do not display the focus on selected options"
Expected behavior
------------------------------------------------------------

- The focus must not be displayed there.

Actual behavior
------------------------------------------------------------

- The focus is displayed on the text options.

Steps to reproduce the problem

------------------------------------------------------------

- Login into application as connect user role.

- Edit any

[2016-09-28 21:57] swetaipec opened #285 "after removing the search string all projects must be displayed"
### Expected behavior

after removing the search string all projects must be displayed
### Actual behavior

only showing the result after applying search even on removing string
### Steps to reproduce the problem

Steps:
1.) Open the application
2.) Login with username sweta.singh
3. go to project list
4. Search with  3434
5. remove string & press enter
### Screenshot/screencast

![image](https://

[2016-09-28 21:59] sdgun opened #286 "Must able to the scroll the page without any issue/glitches"
### Expected behavior
-----------------------------------------------------------------
Must able to the scroll the page without any issue/glitches

### Actual behavior
-----------------------------------------------------------------
Page flickers when user scroll down the page in certain scenario

### Steps to reproduce the problem
----------------------------------------------------------------

[2016-09-28 22:01] swetaipec opened #287 "after applying search if click on Connect logo, should lands user to project listing page"
### Expected behavior

should lands user to project listing page
### Actual behavior

remain same on search result page
### Steps to reproduce the problem
##

Steps:
1.) Open the application
2.) Login with username sweta.singh
3. go to project listing page
4. Apply search
5. remove search string from textbox
6. click on Connect icon
### Screenshot/screencast

Attach or link a resource.
##

![image

[2016-09-28 22:02] sdgun opened #288 "Must display the 'ADD" button properly"
### Expected behavior
-----------------------------------------------------------------
Must display the 'ADD" button properly

### Actual behavior
-----------------------------------------------------------------
'ADD" button is half displayed

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as a valid user (pat_monaha

[2016-09-28 22:03] onetliviunicolae opened #289 "TypeError: e.target is undefined - error message is displayed"
Expected behavior
------------------------------------------------------------

 The error message must not be displayed in page.

Actual behavior
------------------------------------------------------------

The Firebug error message is displayed in page.

Steps to reproduce the problem
------------------------------------------------------------

- Login into application as manager.

- Go to Das

[2016-09-28 22:04] sdgun opened #290 "Must display the 'Project Updated" message"
### Expected behavior
-----------------------------------------------------------------
Must display the 'Project Updated" message

### Actual behavior
-----------------------------------------------------------------
Won't display the 'Project Updated" message when user add a team member

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open

[2016-09-28 22:17] onetliviunicolae opened #291 "The Create button is enable even blank spaces are in field"
Expected behavior
------------------------------------------------------------

- The Create button must not be enable when blank spaces are set in field.

Actual behavior
------------------------------------------------------------

- The Create button is enable when blank spaces are added in field.

Steps to reproduce the problem
------------------------------------------------------------

- Lo

[2016-09-28 22:20] onetliviunicolae opened #292 "The Project Name must be required and not access blank spaces"
Expected behavior
------------------------------------------------------------

- The Project Name field must be required and not accept blank spaces in field.

Actual behavior
------------------------------------------------------------

- The blank spaces added in fields are allowed.

Steps to reproduce the problem

------------------------------------------------------------

- Login into appli

[2016-09-28 22:23] swetaipec opened #293 "Added input data should be removed on creating custom features"
### Expected behavior
previous data should not be present on adding new custom features
### Actual behavior
showing the previous added data
### Steps to reproduce the problem

Steps:
1.) Open the application
2.) Login with username sweta.singh
3. create project
4. go to Specification
5. go to Feature section
8. click on Add/Edit features
9. custom features
10. Add new custom features
11. add new f

[2016-09-28 22:24] onetliviunicolae opened #294 "[Project info] - invitation code text is not readable"
## Expected behavior
- The text set in Invitation Code field must be visible.
## Actual behavior
- The text set in Invitation Code field is not visible.

Steps to reproduce the problem

---
- Login into application as connect user role.
- New Project.
- App Design & Dev.
- Complete Invite Code field.
## Environment

Operating System(s): Windows 7
Device(s): Laptop HT 635
Browser(s): Chrome 49.0.26

[2016-09-28 22:27] sdgun opened #295 "Must validate the white spaces (Blank spaces)"
### Expected behavior
-----------------------------------------------------------------
Must validate the white spaces (Blank spaces)

### Actual behavior
-----------------------------------------------------------------
Can enter spaces as Feature name and description

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the sites
- Login as

[2016-09-28 22:27] swetaipec opened #296 "max length validation must be present on Custom Feature title otherwise its showing aligement issue"
### Expected behavior
should have fixed max length char validation
### Actual behavior
showing Ui issue
### Steps to reproduce the problem
1.) Open the application
2.) Login with username sweta.singh
3. create new project
4. go to specifications
5. go to features sevtion
6. add/edit features
7. custom entity
8. add char more than 300

### Screenshot/screencast

![image](https://cloud.githubusercon

[2016-09-28 22:37] onetliviunicolae opened #297 "[Messages / IE] - the section is displayed over when move scroll bar to the top"
Expected behavior
------------------------------------------------------------

- keep sections fixed.

Actual behavior
------------------------------------------------------------

- The section is displayed over when move the scroll bar to the top.

Steps to reproduce the problem

------------------------------------------------------------

- Login into application as copilot role.

- Edit any

[2016-09-28 22:45] sdgun opened #298 "Must display the Messages directly; Must not display the 'NEW STATUS POST' section when we already have posts"
### Expected behavior
-----------------------------------------------------------------
Must display the Messages directly; Must not display the 'NEW STATUS POST' section  when we already have posts

### Actual behavior
-----------------------------------------------------------------
'NEW STATUS POST' section displayed for few seconds; even though we have posts

### Steps to reproduce the problem

[2016-09-28 22:51] sdgun opened #299 "Must trigger the search when user click on the search button"
### Expected behavior
-----------------------------------------------------------------
Must trigger the search when user click on the search button

### Actual behavior
-----------------------------------------------------------------
Nothing happens when user click on the search icon

### Steps to reproduce the problem
-----------------------------------------------------------------

- Open the

[2016-09-28 23:12] sdgun commented on #178
![2016-09-29_4-42-28](https://cloud.githubusercontent.com/assets/4592712/18935666/2ee16932-85ff-11e6-9a70-36be9a9d6e5a.png)

[2016-09-28 23:13] sdgun commented on #181
![2016-09-29_4-43-35](https://cloud.githubusercontent.com/assets/4592712/18935688/53592ef8-85ff-11e6-9163-8ec948cd87a0.png)

[2016-09-28 23:14] #185 closed

[2016-09-28 23:15] sdgun commented on #186
![2016-09-29_4-45-12](https://cloud.githubusercontent.com/assets/4592712/18935726/88d267de-85ff-11e6-87e5-75e49b9c3171.png)

[2016-09-28 23:16] sdgun commented on #188
![2016-09-29_4-46-08](https://cloud.githubusercontent.com/assets/4592712/18935736/a95e0436-85ff-11e6-8397-a21a9fdd11e3.png)

[2016-09-28 23:18] sdgun commented on #193
![2016-09-29_4-47-21](https://cloud.githubusercontent.com/assets/4592712/18935774/e64f598a-85ff-11e6-9ada-feeaa8995d32.png)

[2016-09-28 23:18] sdgun commented on #194
![2016-09-29_4-46-42](https://cloud.githubusercontent.com/assets/4592712/18935776/e9bc217a-85ff-11e6-9d35-8e1fc092e26b.png)

[2016-09-28 23:18] sdgun commented on #190
![2016-09-29_4-46-31](https://cloud.githubusercontent.com/assets/4592712/18935749/bf6021a6-85ff-11e6-9693-b1c5cccbdea2.png)

[2016-09-28 23:25] sdgun commented on #203
http://screencast.com/t/YDnHk2o4r

[2016-09-28 23:26] sdgun commented on #201
![2016-09-29_4-55-57](https://cloud.githubusercontent.com/assets/4592712/18935940/1543129e-8601-11e6-8bbc-571734fddb1c.png)

[2016-09-28 23:31] sdgun commented on #200
http://screencast.com/t/fbd2eKLfXNd

[2016-09-28 23:36] sdgun commented on #205
http://www.screencast.com/t/zf1q4xtnFmXz

[2016-09-28 23:37] vic-appirio commented on #125
@vikasrohit @parthshah we did play with the interaction and discussed with @fnisen. We decided to simplify the feature creation;

**Create flow:**

1. The User clicks on "Create a custom feature" button
2. The User enters feature title
3. The User clicks on "Save Feature
4. System creates the new feature and displays the screen (similar to the regular feature).

**Selection a feature:**
1. The Use

[2016-09-28 23:37] sdgun commented on #207
http://www.screencast.com/t/fbd2eKLfXNd

[2016-09-28 23:38] sdgun commented on #210
![2016-09-29_0-59-48](https://cloud.githubusercontent.com/assets/4592712/18936145/a475ee7c-8602-11e6-99a8-9af30b61ab96.png)

[2016-09-28 23:38] sdgun commented on #211
![2016-09-29_0-59-32](https://cloud.githubusercontent.com/assets/4592712/18936159/b2729002-8602-11e6-8140-9a02f32465fb.png)

[2016-09-28 23:39] sdgun commented on #215
![2016-09-29_1-05-21](https://cloud.githubusercontent.com/assets/4592712/18936176/d5670692-8602-11e6-8af2-c4f5dc6ec2b4.png)

This is a common issue; when user enter a NOTE; user can't close the popup

[2016-09-28 23:39] sdgun commented on #212
![2016-09-29_1-01-48](https://cloud.githubusercontent.com/assets/4592712/18936167/c2d4e6a2-8602-11e6-95fc-5e87d678b181.png)

[2016-09-28 23:40] sdgun commented on #218
[New Microsoft Word Document.docx](https://github.com/appirio-tech/connect-app/files/499495/New.Microsoft.Word.Document.docx)
[New Text Document.txt](https://github.com/appirio-tech/connect-app/files/499496/New.Text.Document.txt)

Check with the above provided sample files

![2016-09-29_1-10-00](https://cloud.githubusercontent.com/assets/4592712/18936197/00ccf274-8603-11e6-92a1-853bfe0cad9a.png)

[2016-09-28 23:41] sdgun commented on #222
![2016-09-29_5-10-54](https://cloud.githubusercontent.com/assets/4592712/18936213/22f4adba-8603-11e6-985d-c759de251904.png)

[2016-09-28 23:45] sdgun commented on #226
![2016-09-29_5-15-09](https://cloud.githubusercontent.com/assets/4592712/18936288/ba539748-8603-11e6-9c0b-87c929f55d5f.png)

[2016-09-28 23:46] sdgun commented on #230
![2016-09-29_5-16-10](https://cloud.githubusercontent.com/assets/4592712/18936302/dbc69c72-8603-11e6-86a1-54923aa7759c.png)

[2016-09-28 23:46] sdgun commented on #233
![2016-09-29_1-33-59](https://cloud.githubusercontent.com/assets/4592712/18936308/e6be3176-8603-11e6-985e-88f8ce5a3ad9.png)

[2016-09-28 23:46] sdgun commented on #234
![2016-09-29_1-34-08](https://cloud.githubusercontent.com/assets/4592712/18936311/e9458b7e-8603-11e6-8635-d48f43912040.png)

[2016-09-28 23:47] sdgun commented on #234
![2016-09-29_5-17-26](https://cloud.githubusercontent.com/assets/4592712/18936325/0db62ef0-8604-11e6-8187-c0c353eb51a7.png)

[2016-09-28 23:47] sdgun commented on #233
![2016-09-29_5-17-14](https://cloud.githubusercontent.com/assets/4592712/18936323/0bf010e0-8604-11e6-9471-1ec542f2798b.png)

[2016-09-28 23:50] sdgun commented on #240
![2016-09-29_4-47-212](https://cloud.githubusercontent.com/assets/4592712/18936374/68a96c32-8604-11e6-917a-6b9050d2e248.png)

[2016-09-28 23:50] sdgun commented on #238
http://screencast.com/t/UNapXbJU

[2016-09-28 23:51] sdgun commented on #245
![2016-09-29_1-55-54](https://cloud.githubusercontent.com/assets/4592712/18936405/9f678e16-8604-11e6-892a-fbca80ea9803.png)

[2016-09-28 23:52] sdgun commented on #241
http://screencast.com/t/G3WWcbMtou3

[2016-09-28 23:57] sdgun commented on #242
http://www.screencast.com/t/yZmXHTKu

[2016-09-29 00:00] sdgun commented on #245
http://screencast.com/t/Qbvro9ZrF1ao

[2016-09-29 00:34] sdgun commented on #254
![2016-09-29_6-03-40](https://cloud.githubusercontent.com/assets/4592712/18937077/87feb6e0-860a-11e6-8d7f-77658a4eb7f0.png)

[2016-09-29 00:34] sdgun commented on #255
![2016-09-29_5-53-25](https://cloud.githubusercontent.com/assets/4592712/18937081/91d05d5e-860a-11e6-863a-b1bfc901c356.png)

[2016-09-29 00:54] vic-appirio opened #300 "Project Creation: Update Project Selector Slider"
We have to update the project selector slider to provide better visual clues that there are 3 options to select from.

[2016-09-29 00:55] vic-appirio opened #301 "Dashboard: Messaging: Post composer title field focused mode wrong font-size"
Bump the font-size of the title field of the post composer to match the specification (20px). Currently it is smaller than expected (15px)

[2016-09-29 01:09] sdgun opened #302 "Must not display the Customer Name and other details overlap with each other"
### Expected behavior
-----------------------------------------------------------------
Must not display the Customer Name and other details overlap with each other

### Actual behavior
-----------------------------------------------------------------
Customer Name and other details overlap with each other

### Steps to reproduce the problem
--------------------------------------------------------

[2016-09-29 01:10] sdgun opened #303 "Must display the arrow of the drop down with the container"
### Expected behavior
-----------------------------------------------------------------
Must display the arrow of the drop down with the container

### Actual behavior
-----------------------------------------------------------------
Layout issue in the arrow of the drop down

### Steps to reproduce the problem
-----------------------------------------------------------------

- In Landscape/Portr