[2018-01-04 18:34] #1422 closed

[2018-01-04 18:36] gondzo commented on #1425
setting up automatic page load measurement  will be a separate task, so lets keep it out of the bug bash for now.

[2018-01-04 18:38] gondzo commented on #1423
one common issue is usage of wrong z index - we need some guide on acceptable values for components/page elements

[2018-01-04 18:40] gondzo commented on #1544
do we need this for notifications in the app or just leave this for email notifications @vic-topcoder

[2018-01-04 18:44] gondzo commented on #1538
Is this covered by the changes in #1566 @vic-topcoder

[2018-01-04 18:46] gondzo commented on #1537
duplicate of #1437

[2018-01-04 18:46] #1537 closed

[2018-01-04 18:47] gondzo commented on #1536
we need to develop email delivery for notifications before moving onto this one

[2018-01-04 18:50] gondzo commented on #1469
If we use @handle for user mentions and display full name in the notifications, I'm not sure it will be obvious for the users that we have this feature. maybe we need to add mentions support to the post editor, similar to how it's implemented in github ?

[2018-01-04 18:51] gondzo commented on #1470
I don't think we're ready for this one yet

[2018-01-04 18:52] gondzo commented on #1471
maybe we could add this feature to the admin app?

[2018-01-04 18:54] gondzo commented on #1281
ok, closing this one as we're tracking it through other issues

[2018-01-04 18:54] #1281 closed

[2018-01-04 18:57] gondzo commented on #1432
Do we have any data on weather there are any active projects that use discussions? @vic-topcoder @mtwomey
if not, can we remove them completely now?

[2018-01-04 18:57] gondzo commented on #1418
fixed already

[2018-01-04 18:57] #1418 closed

[2018-01-04 18:58] gondzo commented on #1414
can we close this now?

[2018-01-04 22:14] vic-topcoder commented on #1567
Yes, if we do whatever we need to support dynamic project title. Thanks guys

[2018-01-04 22:14] #1567 closed

[2018-01-05 01:50] vic-topcoder commented on #1536
Let's move it into a new milestone and break it down piece by piece. Discussed with @mtwomey and it will take some time to figure out what we have currently; before we proceed with actual development.

[2018-01-05 01:55] vic-topcoder commented on #1544
We need this for in-app notifications as well. The bundling logic should be the same for all instances. While in the app, we can bundle the notifications before they're seen; while the user is not logged in we can bundle the notifications so when they are online, the user can see the total number of replies on a project (34 new replies on thread A, 23 new replies on thread B, etc.).

We currently

[2018-01-05 01:57] vic-topcoder commented on #1538
This is covered partially. I want to redesign the remaining notification posts to be dismissible from the dashboard when the user reads them. We did remove the user activity and admin activity posts already, so I'm going to add the design for this one by EOD tomorrow.

[2018-01-05 02:01] vic-topcoder commented on #1469
I was aiming for the way it is implemented in Facebook and Dribbble - upon using the `@username` the system replaces/renders the mention as `First name Last name`. Check this demo from draftjs - https://www.draft-js-plugins.com/plugin/mention - I'm fine if we use this plugin as is. Remember - in Connect the names are more important for our customers than @username, and they don't use the latter th

[2018-01-05 02:01] vic-topcoder commented on #1470
Moving it. We need the profile page first. :)

[2018-01-05 02:40] vic-topcoder commented on #1442
@vikasrohit @birdofpreyru @gondzo @ThomasKranitsas - let's make sure that we're using a standard way of inserting .SVG into the code. This is a good candidate to refactor the entirety of .SVG used in Connect and create a documented way for further reference.

We discussed component vs. directly passing .SVG to webpack - do we have a consensus on how we should proceed with this one going forward?

[2018-01-05 02:45] vic-topcoder commented on #1539
As of right now, the solution I suggested here is to direct people to the Topcoder community app / Settings page `https://www.topcoder.com/settings/profile/`. There is no easy way for people that are part of Connect to find and modify their profiles. I wanted to allow them to use the same interface inside Connect as well (which would point to the same API), so we can have only the elements that ar

[2018-01-05 02:45] vic-topcoder commented on #1535
Agreed. Move to a CF 7 or as you see fit.

[2018-01-05 04:04] vic-topcoder commented on #1437
Here is the prototype for the interaction: https://invis.io/B9997WQJW#/202782585_Refresh_Feed_-_Step_01

Should function the same way as in Facebook/Google.

- When on top of a page and new update is present, reload page
- When scrolled in a page, display reload suggestion button
- When posting or using dropdown menus, do not change UI until action is completed, after that follow the above rules.

[2018-01-05 04:05] vic-topcoder commented on #1496
Yes. Closing

[2018-01-05 04:05] #1496 closed

[2018-01-05 04:08] vic-topcoder commented on #1423
How many different elements we have? I'd say let's set
- z-index: 80-100 for tooltips,
- z-index: 100+ for dropdown menus,
- z-index: 1000+ for modals,

[2018-01-05 04:08] vic-topcoder commented on #1432
there are still projects that use the panes. Do not remove them yet.

[2018-01-05 04:09] vic-topcoder commented on #1414
@vikasrohit

[2018-01-05 04:10] vic-topcoder commented on #963
can we close this one?

[2018-01-05 04:56] vikasrohit commented on #963
I guess so @vic-topcoder because now we are eliminating most of the coder bot messages and the issue is intermittent.

[2018-01-05 06:45] vikasrohit commented on #1539
@vic-topcoder Agree with need of separate profile page for Connect users as they are customers not members. However, my only concern is to avoid the state in future where we think to consolidate the two profile pages into one just like we are facing for two separate logins for members and connect users. We started with two separate logins for these two types of users with exactly same intention as

[2018-01-05 06:59] birdofpreyru commented on #1442
We use [babel-plugin-inline-react-svg](https://github.com/kesne/babel-plugin-inline-react-svg) inside Community App. It works good and with no visible issues; I believe the last time we talked about it related to Connect App, the main point about keeping using a dedicated component for SVGs in Connect App was that it will demand less re-factoring.

[2018-01-05 10:39] vikasrohit commented on #1565
Github issue#1565, Post order on dashboard is not right
- [x] Fetched all posts of a topic to determine the lastActivityAt field for a topic, earlier it was using only first 20 posts for the calculation which was causing wrong lastActivityAt for topics having more than 20 posts.
- [x] Handled `removed_user` post by discourse admin which was posted when a user is removed from the allowed users list

[2018-01-05 13:52] gondzo commented on #1575
just to summarize, the tasks here are:
- remove the loading icon completely and use placeholder views - same as when loading more projects
- keep the header displayed at all times
- changing sort order should not reload the page (no api calls) if all the records are loaded
- the above should work with both grid and card view

[2018-01-05 13:54] gondzo commented on #1572
@vikasrohit can you take this one as it requires access to prod

[2018-01-05 13:57] gondzo commented on #1568
this will be fixed in #1351

[2018-01-05 13:58] #1568 closed

[2018-01-05 13:58] gondzo commented on #1351
@vikasrohit I'm opening this one for the community

[2018-01-05 14:06] gondzo commented on #1554
The task here includes updating connect app (notification templates) and updating tc-notifications to include full name in message contents https://github.com/topcoder-platform/tc-notifications/blob/735efe2a028c686c6c28f468b17b3d4c5d8a2972/connect/connectNotificationServer.js#L220

[2018-01-05 14:16] gondzo commented on #1534
the scope here are avatars in project listing (grid and card view), project members list in project details and avatars in topic posts on project dashboard

[2018-01-05 14:22] gondzo commented on #1442
ok, let's adopt community app approach with babel plugin.
refactoring will affect a lot of files so please rebase your PR against dev branch before submitting

[2018-01-05 14:23] gondzo commented on #1453
this one requires changes to the api at https://github.com/topcoder-platform/tc-project-service and changes to connect as well

[2018-01-05 14:28] gondzo commented on #1426
add sanitation to project links so text like `Javascript:alert(document.domain)` does not cause issues. the change should be added to https://github.com/topcoder-platform/tc-project-service

[2018-01-05 14:31] gondzo commented on #1423
we have a bunch of other z indexes used for disabling content, for example disabling post editor during the api call to post a reply. is 50-70 ok for these?

[2018-01-05 14:34] gondzo commented on #1546
the change should be made at https://github.com/topcoder-platform/tc-notifications/tree/dev/connect

[2018-01-05 14:39] gondzo commented on #1544
this will be purely view side bundling - we won't have them bundled in the database. when displaying notifications, group them by project and then group by the action (post created, project updated, etc) and create a bundle notification for each group. clicking the bundle notification should open the target page (it's the same for all bundled notifications). marking bundle as read will make api ca

[2018-01-05 14:44] gondzo commented on #1529
@vic-topcoder do we need to remember which notifications are seen (save to database), or just consider new notifications since page load as non-seen?

[2018-01-05 14:47] gondzo commented on #1469
This requires several steps:
- add mentions plugin to post editor (allow mentions for project members only)
- add mentions parsing to notifications server
- add mentions notifications to connect app

[2018-01-05 14:58] vikasrohit commented on #1351
👍

[2018-01-05 15:07] vikasrohit commented on #1579
@vic-topcoder @mtwomey Fixed and patched the production.

[2018-01-05 19:09] tpwwu commented on #1580
Sorry I have not got permission on this repo so I could not change tags.
But I have created a fix https://github.com/appirio-tech/connect-app/pull/1581

[2018-01-05 19:14] tpwwu commented on #1580
@gondzo do you mind helping me update tag, many thanks

[2018-01-05 19:55] vic-topcoder commented on #1423
Sure. As long as we list all the index ranges and put it front and center as documentation, we're good. Please make a note on the wiki (https://github.com/appirio-tech/connect-app/wiki) for the Z-index ranges.

[2018-01-05 20:00] vic-topcoder commented on #1539
The separation between profile and accounts is a deeper topic and not part of the issue, and we'll have to talk it through :) Thanks for your notes @vikasrohit, it is useful!

[2018-01-05 20:05] tpwwu commented on #1539
@vic-topcoder just to make sure, the link is https://www.topcoder.com/settings/profile/, and text should be` Profile Setting`

[2018-01-05 20:08] vic-topcoder commented on #1565
Oh my, this one seems quite epic! Great job, @vikasrohit! We also stopped posting messages for users joining or leaving a project, correct? This should also reduce the number of posts and not conflict the sort order.

[2018-01-05 20:12] vic-topcoder commented on #1575
Is there a reason to transmit only 20 project records at a time? What is the max data we can keep loading once a user is on a page? I would love if we optimize the data transferred between server and user especially when working with the grid all the time. Albeit this is done only from project managers/copilots, but it is a high frequency task and having most/all the data available would really he

[2018-01-05 20:12] tpwwu commented on #1539
PR: https://github.com/appirio-tech/connect-app/pull/1582

[2018-01-05 20:27] #1579 closed

[2018-01-05 20:29] vic-topcoder commented on #1544
👍

[2018-01-05 20:39] vic-topcoder commented on #1529
Ideally we want to have a flag so if I have multiple instances or something else happens it won't be artificial. I can open and close the notifications menu, but that shouldn't change the status of the notification being seen.

[2018-01-05 20:40] vic-topcoder commented on #963
ok, closing

[2018-01-05 20:40] #963 closed

[2018-01-05 22:40] gondzo opened #1583 "Permanent file links"
### Expected behavior
I should be able to copy the file link and share it in discussions, or add a project link in the sidebar
### Actual behavior
file url expires 10 minutes after the page is loaded - I always just write a post that there is a new file in the files section in the specification tab, but it's way better if I can link to it directly

[2018-01-06 02:44] maxceem commented on #1424
Connect-app depends on [appirio-tech-react-components](https://github.com/appirio-tech/react-components/tree/feature/connectv2) which uses coffee scripts.

`appirio-tech-react-components` is being utilized in 58 places in the connect-app so we cannot stop using it.

It looks like the best way to go here is to implement building CoffeeScript to JavaScript inside `appirio-tech-react-components` and

[2018-01-06 05:07] anuradevtc commented on #1573
!

[2018-01-06 05:07] anuradevtc commented on #1564
!

[2018-01-06 05:08] anuradevtc commented on #1564
!

[2018-01-06 05:59] maxceem commented on #1533
@vic-topcoder Could you please clarify

Not sure how to see the issue.

[2018-01-06 06:40] shubhendusaurabh commented on #1545
@gondzo which notification are we talking about here?
Is it the message from Coder Bot in dashboard page?

[2018-01-06 06:58] anonymousjaggu commented on #1573
@gondzo can you please provide the credentials for it?
for a new user I can't see this detail

[2018-01-06 07:02] anuradevtc commented on #1562
I didn't receive write access, can I push an pull request without even assigning here?

[2018-01-06 07:03] maxceem commented on #1554
To implement this task user full name has to be added to the DB when an event arrives.
So after this change frontend will expect DB to return user full name. But all the existent records in DB don't have a value for user full name.

Should I add a fallback to the frontend to show user handle instead of the full name for all old records that are stored in DB? Or DB will be reset and we start from t

[2018-01-06 07:20] gondzo commented on #1573
you can log in with pat_monahan/topcoder123!

[2018-01-06 07:21] gondzo commented on #1545
notifications in the top right corner
the change needs to be made to this repo > https://github.com/topcoder-platform/tc-notifications/blob/dev/connect/connectNotificationServer.js

[2018-01-06 07:23] gondzo commented on #1424
if we're still using coffescript then let's not remove the dependency at all for now.
@vikasrohit any drawbacks to publishing as npm module? can we make such a change to the repo, as there are other apps using it?

[2018-01-06 07:52] maxceem commented on #1554
@gondzo the idea with the version suffix is the best I can think about.
The only drawback I see that our event config files will grow repeating configs for the same events with minor changes.

But still I think it's a good idea and if you confirm I'll implement it.

[2018-01-06 09:51] maxceem commented on #1554
@gondzo After give it a try I see that better slightly modify the approach.

It looks like it's better to add a `version` column to the `Notifications` table in DB rather than adding a suffix to the event types. The reason is that we also have notification settings which utilize event types. And we have notifications API to retrieve data, which also uses notifications settings to filter notificati

[2018-01-06 10:04] gondzo commented on #1554
Agreed. Go ahead with that approach

[2018-01-06 11:38] maxceem commented on #1554
Just want to note, that it looks like dev notifications API https://api.topcoder-dev.com doesn't work currently.
There are no notifications on the dev site https://connect.topcoder-dev.com even if I make some actions which have to create notifications.

Also if I use `connect-app` on `bugBash06` branch with https://api.topcoder-dev.com URL for notifications API instead of the local instance, no no

[2018-01-06 12:06] passimm commented on #1546
hi gondzo and vip-topcoder,
    i have made a [https://github.com/topcoder-platform/tc-notifications/pull/11](PR) to fix this. However I'm not authorized to remove "Open for Pickup" tag. Could you help:
1) grant access to me
2) remove the tag

Many thanks!

[2018-01-06 14:54] anonymousjaggu commented on #1562
@gondzo how to check that ? can you please share the details where can I check this or any screenshots

[2018-01-06 15:32] vikasrohit commented on #1424
First things first. I am not sure why we are considering coffeescript and jade as old and legacy. They in fact relatively new. And I found `jade` in particularly concise and helpful in development. `coffeescript` is good way to work on Javascript for `python` guys.

Now if we think it is still necessary, publishing it as npm module has one problem. We started this repo to have common components ac

[2018-01-06 17:38] aretheregods commented on #1564
I'm getting a PropTypes error coming from 58 files using "appirio-tech-react-components" which is, in turn, using React 15.3.1 and referencing PropTypes from said version of React. Once I update connect-app to the most recent version of React, this error prevents the app from rendering on my machine, of course. You can see the error here, [here](https://drive.google.com/file/d/1ozA4pyMSSmWqb4H_1-G

[2018-01-06 18:41] chq-matteo commented on #1544
I'm opening this issue for pick up

Useful pointers for who wants to continue

1. https://github.com/topcoder-platform/tc-connect-notifications
2. https://github.com/topcoder-platform/tc-notifications

Also the development api for the connect-app seem broken (newly created users are not recognized, can't post updates on projects, no notifications...)

So you can either deploy everything locally or

[2018-01-06 19:29] aretheregods commented on #1564
@gondzo The solving of this issue seems directly tied to the solving of issue #1424 due to the fact that both of these issues tie to the incompatibility of appirio-tech/react-components in its current form with React v16 and the continuing and deepening tech-debt present in that repo. The errors I'm getting on compiling connect-app are coming from usage of that module. It seems that in order to up

[2018-01-06 20:35] chq-matteo commented on #1426
I guess you are referring to the links you can add to a project card.
Project names have been sanitized since [topcoder-platform/tc-project-service@da7a313](https://github.com/topcoder-platform/tc-project-service/commit/da7a3132e0a3c833916160153272e5e137b7ad3a).
When we choose a name like `sanitize me <script>...</script>` it gets stripped to `sanitize me`
![virtualbox_topcoder_06_01_2018_21_14_52

[2018-01-06 20:51] chq-matteo commented on #1426
I'll just add the client side regex to server side?
[code]
If @mtwomey has found an actionable xss vulnerability we should fix that.
@mtwomey @gondzo

[2018-01-06 20:57] gondzo commented on #1426
in chrome it's opened in current tab and is a valid xss issue.
regex solution on server side is ok.

[2018-01-06 21:12] chq-matteo commented on #1426
The pull request is at https://github.com/topcoder-platform/tc-project-service/pull/61

[2018-01-07 00:28] maxceem commented on #1519
I'll use this npm package  https://www.npmjs.com/package/react-scroll-lock-component.
It has quite a lot of downloads. And it takes care of wheel events, touchmove events, and key press events that affect page location (e.g. directional arrows, pageup/pagedown/spacebar).

[2018-01-07 04:05] maxceem commented on #1545
Done by PR to tc-notifications https://github.com/topcoder-platform/tc-notifications/pull/12

[2018-01-07 05:15] maxceem commented on #1544
If it's ok. I'll use a branch from the [PR](https://github.com/appirio-tech/connect-app/pull/1588) for the issue #1554. As I had to refactor a little bit notifications configs there and it would probably be difficult to merge with changes in this task.

[2018-01-07 08:25] gondzo opened #1592 "[$40] Project status dropdown in Cards view is not working"
Project status dropdown in the cards view is not wired to the correct actions and clicking any option throws an error. It should behave the same as the dropdown in the grid view - change status without changing route to project details

[2018-01-07 08:26] gondzo commented on #1351
created a followup item #1592

[2018-01-07 08:59] gondzo opened #1593 "[$40] User avatar with rating"
With changes to #1533 we use a single avatar component everywhere except for the user tooltip in files list.  we have another avatar component that (UserAvatar) that is identical, except that it takes user rating into consideration (and it's used in files list only). IMO we don't care about user ratings and it would be ok to just remove this redundant component and use a single avatar component ev

[2018-01-07 08:59] gondzo commented on #1533
created a followup issue #1593

[2018-01-07 09:30] gondzo commented on #1562
when you have a notification for a project that you have currently open, then clicking the notification should reload the project page (right now it does nothing as the route stays the same)

[2018-01-07 09:45] anonymousjaggu commented on #1562
can I get any UI navigation for this or the steps how to get new notifications for the logged in credentials

[2018-01-07 10:07] chq-matteo commented on #1546
@passimm have you requested access to the repo in the challenge forum?
you can mention people with @gondzo

[2018-01-07 10:13] gondzo commented on #1546
@passimm you should have access now

[2018-01-07 10:55] passimm commented on #1534
hi, here is my understanding of the request, not sure i understand correct. could you correct me or shed more light?

1. we're already using a component "<UserTooltip>" in projectGridView. the component itself needs no change.
2. we should leverage this component in other places whenever a user avatar/name/handle is displayed.

[2018-01-07 11:30] passimm commented on #1546
@gondzo thanks. have access now.
i'm fixing PR

[2018-01-07 13:06] passimm commented on #1546
@gondzo. fixed comment. thanks.
https://github.com/topcoder-platform/tc-notifications/pull/13

[2018-01-07 18:57] kevinkid commented on #1442
There are a lot of unused css, what should i do with them? I was thinking of commenting them to ease someone else's time the next time there changes to be made, instead of them trying to figure out the path relative to the svg icon.

[2018-01-08 08:36] vikasrohit commented on #1575
@vic-topcoder We always try to load sufficient number of records from the database to reduce the load on database. Fetching all records is always going to be a costlier option and most of the time user does not access all of that data. Right now we have hard coded limit of 20 in API for the page size i.e. no one can request more than 20 projects per request. One more rationale behind putting a har

[2018-01-08 08:44] vikasrohit commented on #1593
I am okay (in fact would encourage to do that) with getting rid of UserAvatar component. If needed we can support the user ratings in the consolidated Avatar component to be ensured. I can not remember the uses of the avatar component with ratings in connect, may be @vic-topcoder remembers this one.

[2018-01-08 08:45] vikasrohit commented on #1565
@vic-topcoder yes that is one but not deployed to production yet because I didn't fix that as hotfix. So, it should be there in dev but not on production. It should go to production with upcoming `community fixes 06` milestone release.

[2018-01-08 08:45] #1565 closed

[2018-01-08 12:32] vikasrohit commented on #1572
@vic-topcoder Patched it on production.

[2018-01-08 19:53] vic-topcoder commented on #1572
I still see it for couple of active projects: 4749 and 4705. Did we refresh the cache?

<img width="1166" alt="screen shot 2018-01-08 at 11 47 56 am" src="https://user-images.githubusercontent.com/8484061/34689463-7b388196-f46a-11e7-8d0b-9fb1eaa91972.png">
<img width="1162" alt="screen shot 2018-01-08 at 11 47 13 am" src="https://user-images.githubusercontent.com/8484061/34689471-809d9f86-f46a-11e

[2018-01-08 19:55] vic-topcoder commented on #1593
I think it might have to do with search, but I'm not sure. I'd rather have only 1 avatar component that can be reused for multitude of cases, including the search. Topcoder is using different version of our components anyway. @vikasrohit - please chime in on this one.

[2018-01-08 19:59] vic-topcoder commented on #1575
What I mean is - do we optimize the size of the call/packets for transferring the right amount of data? 20 projects isn't always enough, I would be happier if we increase the limit to 50. Do we know what is the burden on loading more data (less calls) vs. more requests (calls)?

[2018-01-08 20:05] vic-topcoder commented on #1562
You'll need to log as 2 users so you can trigger a notification on a project page.

- With both accounts log in and open a project. Both accounts should be part of the project. We use 'christina_uw' and 'pat_monahan'
- Clear all notofications for user 1, stay on the project page
- With user 2, create a new post and/or reply. This will trigger a notification to user 1
- User 1 would see the notific

[2018-01-08 20:27] vic-topcoder commented on #1534
1. The tooltip component should be smart enough to detect viewport edges. This will allow the tooltip to be always visible in all cases. Right now the tooltip isn't smart enough and always shows in the same position (above the item). Check http://wwayne.com/react-tooltip/ for viewport detection. Adding the tooltip in the grid component generates a tooltip with data for each avatar, on every row, a

[2018-01-08 20:28] vic-topcoder commented on #1519
👍

[2018-01-08 20:47] vic-topcoder commented on #1442
@kevinkid - yes, comment out the unused code and leave a `// TODO: unused css` on the top

[2018-01-08 20:53] vic-topcoder commented on #1424
@vikasrohit @gondzo @birdofpreyru @mtwomey Can we migrate towards the components used in Community-app, as it is actively under development, and unify with them? This would require us to evaluate both apps and synchronize the code between the two. I guess that would be a bigger project than just refreshing the component repo that we have right now. I would love if we end up with a npm module or co

[2018-01-08 23:42] passimm commented on #1546
@gondzo could you help take a look at the PR. thanks
https://github.com/topcoder-platform/tc-notifications/pull/13

[2018-01-09 05:28] vikasrohit commented on #1572
@vic-topcoder both projects seems okay to me. They are showing correct managers. However, it seems like Grid is either using different Avatar component or using different set of props to the same Avatar component than what is used in project details' team management section.

[2018-01-09 06:15] anonymousjaggu commented on #1562
I am getting this while trying to login
{valid: false, reasonCode: "ALREADY_TAKEN", reason: "Handle 'pat_monahan' has already been taken"}
and not able to proceed

[2018-01-09 06:41] vikasrohit commented on #1364
Thanks @sachin-maheshwari for looking into it. @vic-topcoder  May be we can close this one for now and revisit it later if we get new such instances.

[2018-01-09 06:52] vikasrohit commented on #1567
Sorry to comment on a close issue, however, I think one way to increase the reach of dynamic title (considering the frequent demands of editing project titles) is to persist title in the message as variable i.e. something like `${project_title}`, and replace it actual project title when returned via the API endpoint. However, this still won't fix the emails that were sent with old project title.

[2018-01-09 08:34] vikasrohit commented on #1469
@gondzo I would suggest if we can keep `@username` in the actual message being posted to the message api. And replace it with user's full name when fetching the messages from the API. This is to allow showing latest value of the user's full name. I know user's full name is not something which can change frequently, however, I am thinking from the perspective of having a generic approach to replace

[2018-01-09 08:48] gondzo commented on #1469
that would be fine in the app, but the the emails would be sent with @username instead of full name

[2018-01-09 09:03] vikasrohit commented on #1469
We have to apply the same process of replacing the placeholders, which we would do in API while fetching messages via API, before sending the emails as well. I know right now it is not possible because discourse is doing that, but we can do this once we get rid of discourse and take control of sending emails.
I guess, for now you can proceed with your current approach, we can revisit it later afte

[2018-01-09 09:18] maxceem commented on #1545
I've forgotten to commit updated event config file with my PR. It didn't break anything btw, just didn't make an effect. So I've added a missed file in this PR https://github.com/topcoder-platform/tc-notifications/pull/14 to `tc-notifications`. Also fixed few lint errors.

[2018-01-09 13:18] maxceem commented on #1544
Should we bundle only the notifications which are marked in [this table](https://docs.google.com/spreadsheets/d/1tPwJObRdRHnOAs4uDGLZKieYV9fb1GF_moZxMJNnxQE/edit#gid=1990684812) in `Should bundle` column?

[2018-01-09 13:21] gondzo commented on #1544
yes

On Tue, Jan 9, 2018 at 2:18 PM, maxceem <notifications@github.com> wrote:

[2018-01-09 13:26] maxceem commented on #1544
Notifications like:
- `New project created`
- `Project was approved`
- `A project was completed`
most likely will happen only once per project lifetime. And we have to group notifications per project. So probably these notifications will be never bounded in real life. Could it be that I'm missing something?

Also, these notifications could happen only once, FYI:
- `A copilot joined your project te

[2018-01-09 13:30] gondzo commented on #1544
you're right for the project status changes, doesn't make too much sense to bundle those (even though project can change status multiple times, but I guess that won't happen too often)

there can be multiple copilots managers in a team as far as I know??

[2018-01-09 13:33] maxceem commented on #1544
technically yes, not sure about real life though, can bundle them for now

Anyway, it will be configurable.

[2018-01-09 13:37] gondzo commented on #1544
thanks

[2018-01-09 13:39] maxceem commented on #1544
I've added to that [table](https://docs.google.com/spreadsheets/d/1tPwJObRdRHnOAs4uDGLZKieYV9fb1GF_moZxMJNnxQE/edit#gid=1990684812) column `Bundle message text` with the messages which should be displayed for bundled notifications. Could you please have a look?

[2018-01-09 13:42] gondzo commented on #1544
looks good, we can go with these for now.
@vic-topcoder do we need any changes there?

[2018-01-09 14:37] passimm commented on #1469
I have made a PR: https://github.com/appirio-tech/connect-app/pull/1594
1) use draft-js-mention-plugin in post editor
2) use "@F_NAME L_NAME" in textbox
3) replace with @handle before sending to backend

[2018-01-09 14:38] passimm commented on #1469
notifications server code change will be sent out later..

[2018-01-09 16:50] birdofpreyru commented on #1424
Yes, I remember we talked about it a while ago with you; and then later I chatted about similar stuff with Trevor. On my side I have a clear view on how it should be done, but I still have not started to do it. I believe, it is a good moment to really start moving it :)

I'll try to do the following within this/next week, as the first step:

- I'll create "topcoder-react-utils" repo and npm packag

[2018-01-09 18:31] vic-topcoder commented on #1424
Yes, ideally we can also try to create a list of components that are shared between the two apps. I think these are:

- Avatar
- Avatar group
- Tooltip
- Modal window (would love to use something like this: https://tympanus.net/Development/DialogEffects/annie.html)
- Alerts (would love to update that to look and behave like this html demo: https://tympanus.net/Development/NotificationStyles/growl-

[2018-01-09 18:35] vic-topcoder commented on #1572
So - upgrading the grid to use the proper avatar component should fix it? I think this ticket is in regards with project list first and foremost, so I won't close it until we have the same avatars/numbers on the Grid as in the project dashboard.

[2018-01-09 18:55] vic-topcoder commented on #1469
Ideally the behavior is to use `@handle` to lookup user and replace it with "First name Last name" so if I type

"Hey @gondzo how are you doing?" → the system would render "Hey **Samir Godzetovic** how are you doing?

[2018-01-09 19:01] vic-topcoder commented on #1364
Ok, closing. Thanks guys!

[2018-01-09 19:01] #1364 closed

[2018-01-09 20:21] birdofpreyru commented on #1424
Yeah, that's right. Once we get it done for buttons, we just engage community to do the same with all other components, taking the button case as the example.

Btw, can you drop me the entire TC UI Kit? I still have only one page of it, that describes button styling.

[2018-01-09 20:28] vic-topcoder opened #1595 "IBM Chatbot project creation form updates"
@vikasrohit - Pat requires minor changes to the IBM chatbot form. He wants to add 2 fields:

After "Do you have an existing IBM Cloud (formerly IBM Bluemix) account?

1. Does your organization currently have a chatbot? [ Yes, No ] (required)

2. If yes, can you provide some brief specifics about your current chatbot? [text input] (optional)

![screen shot 2018-01-09 at 12 26 15 pm](https://user-im

[2018-01-09 21:15] vic-topcoder commented on #1424
All latest styles are at https://github.com/appirio-tech/tc-ui/tree/feature/connectv2/src/styles

[2018-01-09 21:20] vic-topcoder commented on #1424
The component library should be self-sufficient; we can create starter packs for styles of apps, but I don't want to mix the components with the UI. Ideally we can drop the dependency on an external style repo, and just keep the components as NPM module. There's a really interesting article on React blog https://reactjs.org/blog/2017/12/15/improving-the-repository-infrastructure.html and how we ca

[2018-01-09 21:37] birdofpreyru commented on #1424
What about design specs, like this one: https://app.zeplin.io/project/5a0f186a6ea10efe5ba461e6/screen/5a1226996a64a912de6ac5ca
The way component theming is done in Community App, it is often easier to write a theme from scratch, looking into the original specs, that converting an existing stylesheet.

That's why I mention two repos in my previous comment. One will contains self-sufficient componen

[2018-01-09 21:41] birdofpreyru commented on #1424
Beside the components, there is another thing we should span out of Community App and reuse: JS services for communication with TC APIs, and Redux actions / reducers that work with these services. At Community App side it will allow me to break it into several pieces, all using the same lib for communication with TC backend; on Connect App side it will allow to re-use the same code; and anybody el

[2018-01-10 01:30] vic-topcoder commented on #1424
Also - adding the document Sergey created a while ago: https://docs.google.com/document/d/1wOXH_FgO5Nz_Y2WGd4cZGI8PCj3zkNQeQ36iVyMKPG8/edit?usp=sharing

[2018-01-10 02:43] passimm commented on #1469
@vic-topcoder updated.
now select in handle and render in fullname.

[2018-01-10 02:47] passimm commented on #1546
@vic-topcoder @gondzo
kindly ping for
topcoder-platform/tc-notifications#13

[2018-01-10 05:15] kevinkid commented on #1442
Can we make an exception for the  ` ProjectListProjectColHeader `  component ?

[2018-01-10 07:10] kevinkid commented on #1368
@vic-topcoder the plugin modifies the height after rendering. Am not sure but also changing the height after the plugin modifies the height would end up in an a loop.

[2018-01-10 08:37] gondzo commented on #1469
looks good.
@vic-topcoder why would we use handles at all when typing mentions? we can go straight to full name as the mention plugin will offer suggestions anyway.

[2018-01-10 08:44] gondzo commented on #1562
you should log in, not try to register a new user > https://accounts.topcoder-dev.com/#!/connect?retUrl=https://connect.topcoder-dev.com/

[2018-01-10 09:13] maxceem commented on #1424
Unifying components between these two projects is a great idea as for me.

Just want to add five cents from the point of view of challenge participant.
Usually, the hardest thing in reusing existent components are:
- to find out which components already exist (looking to provided design)
- how they can be configured to fit a particular use case (if can)

I think it would help a lot if we have some

[2018-01-10 10:16] maxceem commented on #1544
#### Bundling and notifications versions.

Before we introduced notification versions as we replaced in notifications `userHandle` with `userFullName`.

So for example for **New response to a post** notification we have two version:
- old: `[userHandle] responded to your post`
- new `[userFullName] responded to your post`

The question is should we bundle them ignoring version or no.

##### Ignore

[2018-01-10 10:28] gondzo commented on #1544
the third option looks best and we can go with the special case for now.
if it turns out we'll have more similar cases in the future, we'll have to mark placeholders in the templates as [userHandle|who], [fullName|who] and then get all the placeholders with 'who' to render the complete message (this is just one idea, no need to do anything about it for now)

[2018-01-10 13:35] maxceem commented on #1544
From the initial task description, we are supposed to bundle notifications per project and per notification type.

From the provided bundled message text `[ userFullName + userFullName + userFullName + ... ] created # new posts to [topic ID]` it looks like we also have to bundle by `topicId`.
So responses to different topics have to be bundled separately. Correct?

Also, should I populate notifica

[2018-01-10 14:02] gondzo commented on #1544
I think bundling all posts into a single notification is better - we don't want users to follow the project through notifications, they should be just a reminder that there is new activity in the project.

[2018-01-10 17:27] passimm commented on #1469
i cannot fix a lint error in PR: https://github.com/appirio-tech/connect-app/pull/1597
even with 'eslint-disable-line'... could you help me with that? many thanks.

  /* eslint-disable */
  onSearchChange = ({value}) => {
    this.setState({
      suggestions: defaultSuggestionsFilter(value, this.mentions)
    })
  }
  /* eslint-enable */

[2018-01-10 23:06] vic-topcoder commented on #1544
Agree - single bundle is preferred. I expect edge cases of `@handle` + `full name` to disappear quickly as the system would be cleaned up quickly.

[2018-01-10 23:19] vic-topcoder commented on #1424
I agree - once we start the component unification, providing live documentation with parameters and examples is a must for keeping people in sync with the component best cases/use. https://storybook.js.org and an example https://github.com/storybooks/storybook is quite popular to allow developers to interact with the components.

I like Bluekit a lot, but also we have to figure out what is the eff

[2018-01-10 23:22] vic-topcoder commented on #1368
@gondzo what is the status of this issue?

@kevinkid - the optimization that I'm talking about is to run the plugin before the page is rendered/populated with content. Right now the page is rendered, content is populated, and then the plugin resizes the text area. This results in a jump after the page is rendered and this is a problem as it creates jarring experience. There is no need to run the p

[2018-01-11 00:46] birdofpreyru commented on #1424
@maxceem yes, I totally agree with you: good documentation and live demos of the available components are crucial for success of the entire idea.

@vic-topcoder component and style demo pages in Community App are created manually as regular pages of the app. Although demands a bit more care, as it is manual, I like it because it allows to showcase each component it the best way, test how the curre

[2018-01-11 02:18] maxceem commented on #1544
Done.

#### Notes
- Replaced custom templates with Handlebars. After some time of trying to make some clear code moving to handlebars appears to be the best solution.
- Handlebars can solve the issue with [`userHandle`/`userFullName`](https://github.com/appirio-tech/connect-app/issues/1554) by itself in an easier way than versions. So basically we don't need versions for now. Though I didn't repla

[2018-01-11 05:19] Mukhammadali commented on #1368
Guys, Could you assign me

[2018-01-11 10:27] maxceem commented on #1534
@vic-topcoder
1. Could please share with me any existent case when tooltip should behave smartly to respect viewport edges but it doesn't.

2. I'm checking existent implementations if any fit our requirements. Is that ok, or you prefer improving our own implementation?

[2018-01-11 10:39] gondzo commented on #1534
1. I think this is one of the cases
![image](https://user-images.githubusercontent.com/3051646/34821382-ccde1500-f6c3-11e7-8d11-afe0981b537e.png)

2. either is fine IMO

[2018-01-11 13:16] passimm commented on #1469
@gondzo updated two PRs:
connect: https://github.com/appirio-tech/connect-app/pull/1597
notification server: https://github.com/topcoder-platform/tc-notifications/pull/17

please help review. thanks.
the Bug Bash almost comes to end. i still get last chance to update PRs tomorrow...it would be very helpful if you could review this  ASAP ^_^

[2018-01-11 15:46] gondzo commented on #1368
the plugin uses a hidden textarea (added to document.body) to calculate height for the text area. it sets width property correctly, but it looks like the hidden text area does not respect it. see this screencast (hidden textarea changes the width briefly) https://www.screencast.com/t/vlk9EgkiLU
I'm not that great with css, so I'm not sure what would cause the browser to ignore width value and expa

[2018-01-11 18:35] gondzo commented on #1519
merged to dev

[2018-01-11 23:57] vic-topcoder commented on #1534
I was thinking that the tooltip positioning would be a generic utility that can be shared with the dropdown menus. Ideally we can use this to provide edge detection for all such components in the future.

We have user avatars and the tooltips should be attached to all instances of avatar without username. This includes the cards view. That's where we can have all corners cases top/bottom right/lef

[2018-01-12 01:16] gondzo commented on #1469
@passimm I've added a few fixes to both PRs and merged everything. looks good, but there are still a few issues. the most obvious one is that mentions component will add the mention to last editor on the page, and not the one that is currently active. can you take a look and submit another PR?

[2018-01-12 01:22] gondzo commented on #1469
@vic-topcoder right now we are using handles when looking up mentions, and then replacing them with full user names for display and sending @userId to server. discourse replaces @userId with @handle (and adds a link to user profile), so the final message is displayed with handles again. this will need more work to get it working properly

[2018-01-12 02:04] vic-topcoder commented on #1368
Maybe we can use another plugin or just port the method for resizing of the text area? I found https://github.com/buildo/react-autosize-textarea as a component, which is based on the jQuery plugin.

Not sure how using a hidden textaarea would help us resolve the page flicker, ideally the text areas are all calculated before rendering, not having to do a second render after load.

[2018-01-12 02:05] vic-topcoder commented on #1469
I see. Let's work on this one until it is done properly. Keep in mind that we plan to replace Discourse as back-end at some point, so we should be able to change the back-end at some point without having to modify the front-end too much.

[2018-01-12 07:07] passimm commented on #1469
@gondzo looking at the issue.

[2018-01-12 13:44] passimm commented on #1469
@gondzo, fixed this issue.
mention plugin should be initialized per component.
https://github.com/appirio-tech/connect-app/pull/1599

please help review. thanks.

[2018-01-12 14:01] passimm commented on #1469
@gondzo, i saw one of your commit to notificationserver:
https://github.com/topcoder-platform/tc-notifications/commit/83d0ea8aad36a9c21bd401da84a65e22ec275a93

you modify original PR: extract 'const regexUserId = /@([a-zA-Z0-9-_.{}\[\]]+)/g;' and then use it as handle.
however in our connect-app, we pass mentions as **@userId, not @handle:**

    _const userIdMap = _.reduce(this.state.suggestions,

[2018-01-12 14:38] gondzo commented on #1469
the messaging backend we use (discourse) will (transparently) replace @userid with @handle so the notifications server will not get the userId. If you refresh the page after you add a comment on a topic, you'll notice that it doesn't say @fullName or @userId, but it's @handle. IMO it will be best to use @full name for the mentions all the time, but we'll need a way to parse that later on. I'm wond

[2018-01-13 07:14] maxceem commented on #1534
I've checked several existent general utilities which looks like provide this behavior and tried to fix the one which looks the best for this. But with no luck so far. All of them have issues for our case. I have to get a couple of days rest so I will unassign this task from me for now. If nobody picks up, I will come back to it after rest.

[2018-01-13 21:07] vic-topcoder commented on #1469
Looks good and almost there. One small remarks:

1. When I want to later edit my post I lose the @mention plugin in the system, see attached
![screen shot 2018-01-12 at 3 59 20 pm](https://user-images.githubusercontent.com/8484061/34910057-8adaa07e-f862-11e7-8b64-0d4a6ee3ac83.png)

Let's keep the @mention as rendered on the post while editing, and make sure the @mention plugin also work for the po

[2018-01-14 13:35] gondzo commented on #1469
@vic-topcoder I've pushed a few changes and we should be good to go on this one.
- suggestions are rendered as full name-handle so it's easier to search
- editing works properly
- allowed mentions are only project members - maybe we should change this in the future to add admins/managers, etc
- adding @memberThatIsNotPartOfTheTeam to post body won't be considered a mention

[2018-01-14 13:52] passimm commented on #1469
@gondzo, did you solve "mention plugin lost when editing previous feed"? i'm still looking into it...

[2018-01-14 13:59] passimm commented on #1469
please ignore last... I saw your fix. seems like I forgot to pass AllMembers for some other components.

[2018-01-14 14:42] anonymousjaggu commented on #1534
@vic-topcoder can I am not able to understand this issue, can you please make clear this issue to me

[2018-01-15 06:24] RishiRajSahu commented on #1595
@vikasrohit - Made the changes please review https://github.com/appirio-tech/connect-app/pull/1601

[2018-01-15 09:11] gondzo commented on #1546
this is now working properly for all events (project status, project members, posts, mentions) - no notifications for your own actions

[2018-01-15 09:30] RishiRajSahu commented on #1595
Done and tested. Deployed on prod.

[2018-01-15 10:25] gondzo commented on #1453
@ThomasKranitsas can you add a PR for the frontend changes, I've updated the backend to search by ref code

[2018-01-15 10:32] vikasrohit commented on #1572
Yes, it should. @vic-topcoder  I found that managers count is always correct for me between list and dashboard pages. However, there is a different in the way Avatar component is used in both places. List page supplies a placeholder image to Avatar component while dashboard does not. When we don't provide any image URL to Avatar component, it creates a avatar from user's initials.
So, let me which

[2018-01-15 10:37] ThomasKranitsas commented on #1453
sure, will do

[2018-01-15 16:55] gondzo opened #1603 "[$60] Search box performance issue"
Typing in the project search box causes too many renders and the performance is bad. There are a lot of PROJECT_SUGGESTIONS_SEARCH_SUCCESS actions, but those are useless as there is no autocomplete support in the projects search box.

http://take.ms/iN4sf
reported by @ThomasKranitsas

[2018-01-15 18:32] vic-topcoder commented on #1595
Great!

[2018-01-15 18:32] #1595 closed

[2018-01-15 18:34] vic-topcoder commented on #1572
We're replacing the avatar on the grid to be the same component, so this should fix the problem. I'll close this issue and open a new one during testing if need be.

[2018-01-15 18:34] #1572 closed

[2018-01-15 18:39] vic-topcoder commented on #1469
@gondzo we should count project members as anybody that has joined a project, correct?

[2018-01-15 18:43] gondzo commented on #1469
yes

[2018-01-15 22:34] vic-topcoder opened #1604 "Allow managers/admins to assign Manager role to people added to a project"
This is a shortcut to get the desired effect of adding a manager to a project. Right now we can't list all the managers in the system (#1370), so let's just try to work backwards - assign a user to a manager role per project. This is internal need and should not be visible to anybody that is not a manager.

Once the system verifies that the user can be a Manager, we'll show success message. Otherw

[2018-01-15 23:01] vic-topcoder commented on #1412
@gondzo @birdofpreyru @vikasrohit @sachin-maheshwari @mtwomey @RishiRajSahu - we discussed the goal to build a shared repo of self-dependent React components, and document the design and code. In #1424 we mentioned several solutions. Let's figure out what's the best place to host such a documentation and keep it current.

[2018-01-15 23:01] vic-topcoder commented on #1424
Moving to CF 7

[2018-01-15 23:21] #1506 closed

[2018-01-15 23:21] vic-topcoder commented on #1434
@gondzo @vikasrohit - is this issue current?

[2018-01-15 23:26] vic-topcoder commented on #1442
Please fix the PR - it's breaking right now.

[2018-01-15 23:28] gondzo commented on #1434
no, this was happening due to our discourse provider changes, we can close it now

[2018-01-15 23:37] birdofpreyru commented on #1412
Yeap, I've just started to move it on my side, as I promised in the other ticket.
Here I have the first package, where I am going to spawn out the very generic stuff from Community App:
https://www.npmjs.com/package/topcoder-react-utils
at the moment it does not have much, just the Babel and ESLint confings, and customized `<Link>` and `<NavLink>` components; but it gonna be more interesting soon.

[2018-01-16 00:39] gondzo commented on #1538
@vic-topcoder ☝️
move this to CF7?

[2018-01-16 02:05] #1434 closed

[2018-01-16 02:08] vic-topcoder commented on #1412
Great work, let's keep things in sync!

I'm working with the designers to build a centralized library of symbol components for all apps. If we are starting with the buttons, then let's think of how to add the design spec to the live component. I honestly don't have a great solution, my idea was to export the components with Sketch Measure as stand-alone html pages and put them on a server for peop

[2018-01-16 06:05] vikasrohit commented on #1604
@RishiRajSahu Can you please take care of the front end stuff? I would take care of back end.

[2018-01-16 07:00] RishiRajSahu commented on #1604
Sure. I'll do it.

[2018-01-16 08:29] anonymousjaggu commented on #1592
@gondzo can you please share the navigation screen with url, it would help me to check the exact place.

[2018-01-16 08:34] gondzo commented on #1592
go to project listing https://connect.topcoder.com/projects?sort=updatedAt%20desc&status=active as a manager or admin, switch to card view and try to change project status - the dropdown is unresponsive. orbaby just need to set onclick handler or something like that. it's working properly in the grid view
![image](https://user-images.githubusercontent.com/3051646/34979026-6abbec90-faa0-11e7-8ec7-7

[2018-01-16 10:18] anonymousjaggu commented on #1534
@gondzo can you tell me the exact requirement for this

[2018-01-16 10:25] gondzo commented on #1534
Just read the above comments - the tooltip is displayed when hovering user avatars in project listing and project details pages. We should update the code to use one component for all instances and improve it per the above requirements (viewport edges, single html for all avatars, etc)

[2018-01-16 15:16] gondzo opened #1605 "[$400] Missing notifications for email responses"
If a user responds to a post via email, no notification is triggered. Emails are handled by discourse, so I'm not sure how we can process this kind of events.

[2018-01-16 19:08] gondzo commented on #1592
fixed in dev.

[2018-01-16 20:29] vic-topcoder commented on #1605
We can't right now, we have to use our own email system. This is a known issue for quite some time. That's the reason next on the list is to replace the email system to be handled not by Discourse.

[2018-01-16 20:33] gondzo commented on #1605
I found a possible workaround - discourse has web hooks that can notify a listener for any events. Probably not worth the effort at this point?

[2018-01-16 20:39] #1351 closed

[2018-01-16 20:39] #1426 closed

[2018-01-16 20:39] #1519 closed

[2018-01-16 20:39] #1533 closed

[2018-01-16 20:39] #1539 closed

[2018-01-16 20:39] #1554 closed

[2018-01-16 20:39] #1557 closed

[2018-01-16 20:39] #1562 closed

[2018-01-16 20:39] #1563 closed

[2018-01-16 20:39] #1573 closed

[2018-01-16 20:39] #1580 closed

[2018-01-16 21:19] vic-topcoder commented on #1442
Ok, I'm reviewing the PR now, and it is not using the https://github.com/kesne/babel-plugin-inline-react-svg method as far as I can tell. The whole point of this code refactor is to come to a standard implementation of how we include SVG files into components.

Right now I see a lot of new container components that wrap a single .SVG into JSX component.

[code]

I thought the whole idea is to add

[2018-01-16 21:24] vic-topcoder commented on #1605
It might be 2 months before we can get this working. How much of an effort would be to have the web hooks from discourse? If it is relatively easy, probably worth doing it (get it in CF7)

[2018-01-16 21:42] gondzo opened #1606 "File sharing overview"
File sharing in connect is a pain right now. We either upload the files to specification section, or add a link to shared google drive folder.
Links to files in specification section are valid for 10 minutes so we can't really link to them in posts. Sharing via Drive is problematic as some clients can't access it due to company policy restrictions.
We need a general solution for file sharing on th

[2018-01-16 21:48] gondzo opened #1607 "Add endpoint for downloading project files"
Update project service get and list endpoints to return raw file links, and add an endpoint for downloading files (sign the link that is passed in and redirect to target url). Connect app should be updated to link to `<project_api>/download?path-attachment.file_path` instead of `attachment.download_url`

[2018-01-16 21:59] gondzo commented on #1605
It won't be too hard, we just need to add a simple endpoint to the messaging service.  We can handle it in CF7.

[2018-01-16 22:08] vic-topcoder commented on #1605
Let's do it!

[2018-01-16 23:41] birdofpreyru commented on #1442
@vic-topcoder it would be ideal to already try to setup [topcoder-react-utils](https://www.npmjs.com/package/topcoder-react-utils) as a dependency of Connect App, and adopt Babel configs from there in Connect App (it might demand some work, cause those configs use Babel plugins to support CSS modules, thus any CSS code written before without CSS modules in mind should be wrapped into `:global` blo

[2018-01-17 04:07] kevinkid commented on #1442
I was trying to avoid duplicate code for icons reused across different components, let me get rid of the global icon component.

[2018-01-17 05:13] birdofpreyru commented on #1442
@kevinkid no need to wrap. That Babel plugin will embed SVGs directly into the page markup, so they'll be automatically cached as a part of JS bundle; and with proper server-side rendering they'll be pre-rendered into the page from the very beginning.

[2018-01-17 10:54] vikasrohit commented on #1604
@RishiRajSahu Backend changes are done. Now if you try to add a user, who does not have any of the privileged roles (manager or admins), as manager, API will throw 400 error with appropriate error message. Let me know if you face any issue with it. Changes are deployed into dev.

[2018-01-17 12:03] maxceem commented on #1534
**Update**
Looks like I've found a good package [react-popper](https://github.com/souporserious/react-popper) which wraps [popper.js](https://popper.js.org/) and now reimplementing Tooltip.

There were few others which didn't work in some reasons FYI:

Git | Add/remove node | Auto-align | Demo | Comments
-|-|-|-|-
[react-popover](https://github.com/RobertMenke/react-popover) | - | Yes | - | -
[rea

[2018-01-17 18:31] vic-topcoder commented on #1534
Sounds cool, let's do it! Can we also use this utility for modals and dropdowns?

[2018-01-17 18:34] vic-topcoder commented on #1442
thanks @birdofpreyru! I'll open a new issue where you can sync with @gondzo, @vikasrohit and @RishiRajSahu on how to do the migration towards `topcoder-react-utils`.

[2018-01-17 18:40] vic-topcoder opened #1608 "setup topcoder-react-utils as a dependency of Connect App, and adopt Babel configs from there"
Let's figure out how to add `topcoder-react-utils` into Connect and start the unification process for our apps.

From @birdofpreyru #1442 :

@vikasrohit @gondzo @RishiRajSahu @maxceem @ThomasKranitsas @mtwomey FYI

How different is the environment and what would it take to do the step?

As a refactoring effort - can we also substitute our button implementations with the button component used in co

[2018-01-17 19:04] birdofpreyru commented on #1608
For the button, I am still working on spawning this out of Community App. The JSX `<Button>` component itself is already moved to `topcoder-react-utils`, but moving related TC UI Kit to a separate repo, and also properly packing it for re-use in other apps, it will take me some more time.

[2018-01-17 19:10] vic-topcoder commented on #1608
Sounds like a great progress!

[2018-01-17 19:17] vic-topcoder commented on #1608
I also was playing with some react ui component libraries to see if we can grab and reuse any components from there for our needs.

Have you had any experience with Element http://element.eleme.io/#/en-US/component/button (they have a react port https://github.com/eleme/element-react/tree/master/src) or Ant Design https://ant.design/components/timeline/

[2018-01-17 19:33] birdofpreyru commented on #1608
C'mon @vic-topcoder , we are Topcoder community, we can create any components from scratch ourselves :)

We do use some 3-rd party components though to save time :)

I see you link specifically to the `<Button>` in Element? I believe, it is somewhat technically different from the `<Button>` we use in Community App. Our `<Button>`, under-the-hood, is a hybrid of `<Link>` (which in turns can be a si

[2018-01-17 20:01] vic-topcoder commented on #1608
I am sure we can build everything :) Just want to look at what other people are doing and get the knowledge from libraries transferred to our library. The goal is not to reinvent the wheel and if there's a good component candidate we'd get the code. I hate code bloat and building a library of all different generic components is not great.

The button in Element has interesting properties we haven'

[2018-01-17 20:14] birdofpreyru commented on #1608
Without looking into the code, I recall that we also use `react-stickynode`, something for tooltips, `react-waypoint`, something for date/time selection; I guess something else.

[2018-01-17 20:32] vic-topcoder commented on #1608
@maxceem is going to add a utility - [react-popper](https://github.com/souporserious/react-popper) which wraps [popper.js](https://popper.js.org/) and now reimplementing Tooltip - for positioning of elements - tooltips, dropdowns - and this could potentially replace `react-stickynode` as the

[2018-01-17 21:34] kevinkid commented on #1442
I have updated the PR for review @vic-topcoder

[2018-01-18 03:28] maxceem commented on #1608
Regarding `topcoder-react-util` environments are almost same.
- The biggest difference is `CSS Modules` which `connect-app` doesn't use, but `community-app` does. So as birdofpreyru  said we will have to add `:global` to all existent CSS files in `connect-app` in order to works with `CSS Modules`
- Second thing is that `connect-app` requires `coffeescript` (which is required by its dependencies).

[2018-01-18 13:10] birdofpreyru commented on #1608
Sure, it does. For the Babel configs we are discussing now, they are done there as presets, and a Babel preset is just a JS object, holding lists of presets and plugins to use, their options and order. So, you can just import a preset provided by `topcoder-react-utils`, mutate it the way you need, and inject as your customized preset into Connect App's Babel config. However, this opportunity shoul

[2018-01-18 13:13] birdofpreyru commented on #1608
For the Webpack config, I am in progress of moving the standard part of it from Community App to `topcoder-react-utils`. It will sure demand some customization for each project using it, and it will be easy to do, thanks to `webpackMerge(..)`

[2018-01-18 15:50] vic-topcoder commented on #1608
Sounds great you guys! Let's keep pushing and plan the modifications done in Connect. @gondzo - do we need a new issue for all that's needed to include `topcoder-react-utils`?

[2018-01-18 15:52] vic-topcoder commented on #1442
Thanks! I'll review shortly.

[2018-01-18 16:41] vic-topcoder commented on #1442
Looks great so far! Good job! Couple of small .SVG missed, and top navigation is broken. Once we fix those we're ready to roll.

I might do additional refactoring myself to remove the duplicate icons and put all the file type icons in a subfolder to make it easy to maintain the SVG resources going forward. That'll be out of the scope of the current refactor though.

- [ ] PNG wrapped in SVG - shou

[2018-01-18 16:45] vic-topcoder opened #1609 "Project navigation showing Discussion tab at all times, shouldn't"
### Expected behavior
I should see Discussion tab only when there was a discussion created before. All new projects shouldn't have this tab. The goal is to eliminate that section permanently

### Actual behavior
I can see discussions tab at all times, in all projects.

[2018-01-18 17:05] vic-topcoder opened #1610 "Notifications are not loading"
### Expected behavior
Notifications should be working

### Actual behavior
Not loading. There's an error message

![screen shot 2018-01-18 at 8 08 03 am](https://user-images.githubusercontent.com/8484061/35110876-bac1ac72-fc2e-11e7-9bbf-a5044b5c3920.png)

[2018-01-18 18:44] gondzo commented on #1609
this is not broken, you're just loading old projects (project listing returns only old projects, I might have broken that today)

[2018-01-18 18:45] gondzo commented on #1610
fixed in dev.

[2018-01-19 01:42] vic-topcoder opened #1611 "When there are old notifications, show them in the notifications dropdown menu"
### Expected behavior
I should see notifications in the dropdown menu.

### Actual behavior
I don't see anything, but a link at the bottom says "You have 10 older notifications". Instead of hiding them, please show the notifications.

![screen shot 2018-01-18 at 5 40 31 pm](https://user-images.githubusercontent.com/8484061/35130674-f9b88eee-fc76-11e7-895a-677e44d2fda1.png)

[2018-01-19 01:49] vic-topcoder opened #1612 "Canceling a project is impossible when the project is at the bottom of the viewport"
### Expected behavior
When canceling a project, I should see the full menu wherever the project is in the grid/viewport edges.

### Actual behavior
When trying to cancel a project at the bottom of the grid, the interface is partially obscured and can't be used.

### Steps to reproduce the problem
-  Try to cancel a project at the bottom of the viewport

![screen shot 2018-01-18 at 5 46 47 pm](http

[2018-01-19 01:50] vic-topcoder opened #1613 "Changing project status is broken in Dev"
Can't change project status - throws an error
![screen shot 2018-01-18 at 5 49 56 pm](https://user-images.githubusercontent.com/8484061/35130892-16b1ca6e-fc78-11e7-92d6-076609c8f738.png)

[2018-01-19 01:54] vic-topcoder opened #1614 "After creating a new project within Connect, I should be redirected to the project dashboard page"
### Expected behavior
When the user completes creating their project, after clicking the "Continue" button, the modal should disappear and the new project dashboard should be loaded.

### Actual behavior
Messages for successful project creation appears on top of the project creation form. The form content is also reseted.

[2018-01-19 01:59] vic-topcoder opened #1615 "Adding member without image (avatar component) isn't rendered correctly in auto-suggest box"
### Expected behavior
The avatars should always be rendered correctly.

### Actual behavior
Auto-suggest doesn't list the avatars (doesn't use the avatar component) and thus when a user with no image is selected, the avatar is broken

### Steps to reproduce the problem
- Search for user to add
- Select one without a picture
- The avatar is broken

Also observe - the auto-suggest doesn't use the co

[2018-01-19 02:13] vic-topcoder opened #1616 "Add team member component resizes the sidebar, doesn't use the correct UI styles"
### Expected behavior
Should stay the same size as the parent container. Buttons and inputs should use the UI Kit styles.

![screen shot 2018-01-18 at 6 01 30 pm](https://user-images.githubusercontent.com/8484061/35131220-a330fa18-fc79-11e7-8c1c-a1e4a2e8d1de.png)

[2018-01-19 04:18] vic-topcoder commented on #1442
Great! Good to merge. I'm adding the latest dev and fixing some small things.

[2018-01-19 07:14] RishiRajSahu commented on #1604
@vikasrohit Have made changes for UI side. Tested on local machine and below are the test observations -
1.member - Could only add a member
2.copilot - Add Copilot & Member tab
3.Manager - Add Copilot, Member, Manager tab
4.Manager trying to add non-manager role member - Valid error message is shown

Please review at https://github.com/appirio-tech/connect-app/pull/1617

[2018-01-19 07:58] maxceem commented on #1534
Not sure what should be in a tooltip in such case. As all the information which we usually show in the tooltip is already displayed.

[2018-01-19 08:11] maxceem commented on #1534
@gondzo Looks like previously I've posted [PR](https://github.com/appirio-tech/connect-app/pull/1587) requests against `dev` branch instead of `bugBash06`. And now there are no changes for issue #1533 - **Unify the use of the Avatar component on project grid and cards**. But changes in the current issue would rely on them.

Do you thing is it possible to get that PR applied to `bagBush06` branch i

[2018-01-19 08:12] gondzo commented on #1534
You can create a pr to dev, bugBash06 is merged there

[2018-01-19 11:19] maxceem commented on #1534
@vic-topcoder just in case want to tag you regarding this question:

Not sure what should be in a tooltip in such case. As all the information which we usually show in the tooltip is already displayed.

For example, here http://take.ms/r9wbV all the information is already displayed, which we usually show in tooltip http://take.ms/mJv3J.

[2018-01-20 04:52] vic-topcoder commented on #1534
I meant for when we're going to add more information, pulled from SalesForce. That's for the future.

[2018-01-21 12:02] gondzo commented on #1609
works properly

[2018-01-21 12:02] #1609 closed

[2018-01-21 12:06] gondzo commented on #1614
works properly

[2018-01-21 12:06] #1614 closed

[2018-01-21 14:40] gondzo commented on #1613
fixed

[2018-01-21 14:40] #1613 closed

[2018-01-22 00:00] gondzo commented on #1612
fixed

[2018-01-22 00:01] #1469 closed

[2018-01-22 00:01] #1544 closed

[2018-01-22 00:01] #1545 closed

[2018-01-22 00:01] #1546 closed

[2018-01-22 00:01] #1610 closed

[2018-01-22 00:02] #1611 closed

[2018-01-22 11:04] vikasrohit commented on #1606
+1

[2018-01-22 18:45] vic-topcoder commented on #1606
The design of the tabs/navigation/side will probably change. Focus on the white card view only at this point.

[2018-01-22 20:39] vic-topcoder commented on #1604
@gondzo - can merge in DEV please?

[2018-01-22 20:49] vic-topcoder commented on #1612
I still see this in my local environment btw.

[2018-01-22 21:25] vic-topcoder opened #1621 "Eliminate use of Icons from "appirio-tech-react-components""
With the unified .SVG use we still have several uses of the outdated `appirio-tech-react-components`.

Search the source for
[code]
and you'll identify all the places we need to be modified.

Please copy all missing .svg files into the Connect app and remove the use of the component. This would complete the use of  non-standard .SVG imports.

[2018-01-22 22:46] gondzo commented on #1621
we're still using a lot of components from that repository. do you mean to just stop using icons from there?

[2018-01-22 22:54] gondzo commented on #1612
fixed

[2018-01-22 22:56] vic-topcoder commented on #1621
Yes, just the icons, as we replaced them with the .SVG import plugin

[2018-01-23 06:41] vikasrohit commented on #1461
@gondzo @vic-topcoder have we launched the challenge for it?

[2018-01-23 06:55] vikasrohit commented on #1459
The reason of duplicating few sections in each template is that we need separate UI structures for project creation and specifications form e.g. for creation form, we group selected questions from different form sections of specification form. Also, all fields in creation form are required to enable the submit button while there are questions which are not required (of course they are required to

[2018-01-23 10:30] gondzo opened #1623 "Console errors"
- [ ] When clicking some project on the project list page and we go to the project dashboard:
`warning.js:33 Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the ProjectListTimeSortColHeader component.`
- [ ] On the project dashboard page:
`Helpers.js:301 Uncaught

[2018-01-23 22:26] #1612 closed

[2018-01-24 09:52] vikasrohit commented on #1396
@mtwomey @vic-topcoder I think we can eliminate most of the dependency on tc-project-service and tc-message-service for new product addition, if we start persisting products in database. I would suggest having a new service for controlling the products catalogue. This service can be enhanced in future to support organization in which case it would return only those products which are available for

[2018-01-24 09:54] vikasrohit commented on #1459
@vic-topcoder I think best way to eliminate the duplicate code blocks is to get rid of templates as JSON. We should start persisting them in database and create a basic UI for controlling the templates. For now we can allow only admins to do that but with introduction of organizations, we can allow organization admins to control the templates for their organizaiton.

[2018-01-24 12:18] RishiRajSahu commented on #1462
Moved common functions inside index.js

[2018-01-24 12:31] vikasrohit commented on #1458
@vic-topcoder Implemented the changes and it should be there in dev until the feature branch is deployed. Right now it uses the mechanism only for design products for which we are supporting right now. We can now apply the logic to other products as well. New config parameters are:

`basePriceEstimate`, `baseTimeEstimateMin` and `baseTimeEstimateMax` in src/config/projectWizard/index.js for the pr

[2018-01-24 19:38] vic-topcoder opened #1625 "File sharing token expires after 10-15 min. if the page is not reloaded"
### Expected behavior
The files sharing links should always be accessible within the project

### Actual behavior
Customers/people have to reload the page to be able to download attached files within the project specification page

Can we find a way to fix the links not working after a set time?

@mtwomey @gondzo @vikasrohit FYI

[2018-01-24 19:41] vic-topcoder opened #1626 "Notifications bell stays active (white) even when there are no new notifications"
### Expected behavior
When there are no notifications, the bell icon should be in normal (gray) state.

### Actual behavior
The bell icons is always white

![screen shot 2018-01-24 at 11 39 57 am](https://user-images.githubusercontent.com/8484061/35353263-830de38c-00fb-11e8-967e-1c7c93fe123e.png)

[2018-01-24 19:49] vic-topcoder opened #1627 "[50$] Project status icons are misaligned after the SVG refactor"
### Expected behavior
The SVG icons should be center-aligned to the text.

### Actual behavior
Icons are not aligned

### Expected:
![screen shot 2018-01-24 at 11 45 21 am](https://user-images.githubusercontent.com/8484061/35353470-2479f878-00fc-11e8-83ee-9d19475cb071.png)

### Current:

Text center is in Red, icon center is in purple. They should align.
![screen shot 2018-01-24 at 11 48 19 am](ht

[2018-01-24 19:50] vic-topcoder commented on #1627
We should also look into updating the menu to match the design. The "Cancel project..." and "Pause project..." invoke modal so that's why they're separated from the rest of field. I'll have Yoki work on a better modal design for the interaction as canceling a project is very slow at the moment.

[2018-01-24 20:28] vic-topcoder commented on #1459
That's what I want to achieve at the end, but we don't have the bandwidth at the moment to build the UI, so starting with a cleaner JSON would help immensely, and transition into an administrative interface.

[2018-01-24 20:33] vic-topcoder commented on #1458
Cool

[2018-01-24 20:38] vic-topcoder commented on #1114
@vikasrohit what's the status of this one?

[2018-01-24 20:38] vic-topcoder commented on #1090
Closing the issue - it's too generic right now

[2018-01-24 20:38] #1090 closed

[2018-01-24 20:42] vic-topcoder opened #1628 "Top bar navigation icons not showing on narrow screen size"
### Expected behavior
Top bar icons should be visible at all times.

### Actual behavior
After the SVG refactor we lost the icons on narrow screens.

Expected:
![screen shot 2018-01-24 at 12 41 52 pm](https://user-images.githubusercontent.com/8484061/35355991-fe3f15be-0103-11e8-8d6e-f78af2212fa9.png)

Current:
![screen shot 2018-01-24 at 12 40 13 pm](https://user-images.githubusercontent.com/84840

[2018-01-24 21:42] gondzo commented on #1625
Duplicate. It is tracked under #1607 which should be closed by the end of week

[2018-01-24 22:37] vic-topcoder commented on #1625
Cool!

[2018-01-24 22:37] #1625 closed

[2018-01-24 22:52] vic-topcoder opened #1629 "Verify Topcoder-app dependencies and update repository"
We have quite a lot of dependencies https://github.com/appirio-tech/connect-app/network/dependencies and I'm not sure if we don't have duplicates or unnecessary small ones that we can remove and optimize.

The goal is to improve the infrastructure for connect-app so we have less dependencies and compile the app to a smaller bundle size.

1. Let's use tools like https://github.com/webpack-contrib/w

[2018-01-25 05:41] vikasrohit commented on #1114
It is very specific use case and mostly does not do any serious harm except adding few spurious fields to project's details json. And as we haven't received any issue due to this, I think we can safely close it now.

[2018-01-25 05:41] #1114 closed

[2018-01-25 06:19] vikasrohit commented on #1459
As I said earlier, it would make structure complicated for non technical person to create/edit templates because it would involve more flags and more flags mean more combinations of flags. Right now it is very simple for users to specify fields for project creation template, they just have to add the required fields in basicSections array and they can choose different set of properties in project

[2018-01-25 09:44] RishiRajSahu commented on #1462
@vic-topcoder  changes are deployed to milestone's feature branch - 'feature/project_configuration_documentation' and deployed to dev.

[2018-01-25 19:15] vic-topcoder commented on #1459
OK, go for it :) I trust in your expertise, the only requirement is to not have duplicate data, as editing the same data on 2 different spaces would make it extremely error-prone. I am talking from personal experience - editing content on one section and having a typo on the other is no go for me. I don't think a non-technical person is ever going to be creating the JSON, but they MIGHT have to ed

[2018-01-25 19:27] vic-topcoder opened #1632 "Move My Projects switch inline with the view switch tab"
### Expected behavior
The switch for My Projects works best if it is next to the view switch tabs.

![screen shot 2018-01-25 at 11 22 50 am](https://user-images.githubusercontent.com/8484061/35408009-84ca8758-01c2-11e8-9cab-82e0a39964a3.png)

### Actual behavior
The switch is in the top bar
![screen shot 2018-01-25 at 11 26 50 am](https://user-images.githubusercontent.com/8484061/35408063-a55d2976

[2018-01-25 21:10] vic-topcoder opened #1633 "Tooltip component isn't respecting viewport bounds"
After the latest component updates #1534 the tooltip is now not respecting the viewport bounds, and looks broken (we need to fix the pointer shadow styles).
![screen shot 2018-01-25 at 11 32 36 am](https://user-images.githubusercontent.com/8484061/35412346-c1c6b27c-01d0-11e8-951d-02491d08a862.png)

###Expected:

The tooltip should stay visible at all times, with enough space between the edges of t

[2018-01-25 21:51] vic-topcoder opened #1634 "[50$] Project search should not count against total filter applied"
### Expected behavior
When I search in the top bar, the filter button should not display a blue badge, or increment the number of applied filters.

### Actual behavior
Using the search bar increments the number of filters and displays a blue badge

![screen shot 2018-01-25 at 1 50 38 pm](https://user-images.githubusercontent.com/8484061/35414245-c46eccf2-01d6-11e8-9ea1-0cb43810df5f.png)

[2018-01-25 21:52] vic-topcoder opened #1635 "[50$] User avatars overlap with project progress view in minimum size of the grid"
### Expected behavior
There should always be enough space (20px) between the items in Managers column and project status icon (dropdown)

### Actual behavior
They overlap when there are 4+ managers on a project.
![screen shot 2018-01-25 at 1 51 10 pm](https://user-images.githubusercontent.com/8484061/35414337-02d2e6fe-01d7-11e8-952c-b56a82b177cc.png)

[2018-01-25 21:56] vic-topcoder opened #1636 "Limit the number of manager profiles on card view to fit"
### Expected behavior
In card view, when a project has a lot of managers, the display would always fit as many as possible, and hide the overflow avatars with a number "+N", where N= remaining manager avatars, similar to grid view where we hide the 4+ avatars as a number.

NOTE: The cards are dynamic, so resizing the view should adapt the interface!

### Actual behavior
This mechanism isn't implem

[2018-01-26 17:51] gondzo commented on #1621
fixed in dev

[2018-01-26 17:52] #1592 closed

[2018-01-26 17:55] gondzo commented on #1479
@vic-topcoder ref codes are now included in the search (keyword search). do we still need to support ref:keyword?

[2018-01-26 17:56] gondzo commented on #1583
duplicate - will be handled by 1607

[2018-01-26 17:56] #1583 closed

[2018-01-26 17:57] gondzo commented on #1538
@vic-topcoder do we have the designs for this one?

[2018-01-26 17:58] #1442 closed

[2018-01-26 18:01] #1621 closed

[2018-01-26 18:01] #1628 closed

[2018-01-26 18:03] #1534 closed

[2018-01-26 18:14] gondzo commented on #1368
Prize increased

[2018-01-26 18:15] gondzo commented on #1437
Prize increased

[2018-01-26 22:18] vic-topcoder commented on #1538
We actually do! All project activity cards that are posted by Coder must be dismissible, so the users can focus on the communication stream. This should take effect on all new projects, and if possible we can clean the old projects.

The goal is to hide posts from Coder the Bot on the dashboard feed (system posts).

Final design: https://drive.google.com/drive/folders/1KMol1fOfOjhBMV6GFY1uh6_2N0Ae

[2018-01-26 23:15] vic-topcoder commented on #1479
support for `ref:` would be nice, but it is not a priority. I would not consider it a primary feature.

If I search for "HPE" on Dev, I see a lot of projects that I can't figure out why they are in my list. Look at the screenshot:
![screen shot 2018-01-26 at 3 11 29 pm](https://user-images.githubusercontent.com/8484061/35464560-64098ad4-02ab-11e8-9ca2-173b0940ee3e.png)

I am more concerned on what

[2018-01-27 00:29] tpwwu commented on #1569
@gondzo May I fix this? looks like @ThomasKranitsas assigned himself 1 month ago

[2018-01-27 00:36] gondzo commented on #1569
Yes

[2018-01-27 02:05] passimm commented on #1605
hi gondzo, could you share git repo path of Discourse service, as well as the branch where we should submit PR?

[2018-01-27 02:33] maxceem commented on #1633
This issue is fixed in the new version of Tooltip component in `appirio-tech-react-components` in the next [PR](https://github.com/appirio-tech/react-components/pull/281).

[2018-01-27 15:49] passimm commented on #1437
hi gondzo, just sent a PR for this: https://github.com/appirio-tech/connect-app/pull/1647/commits
your comments are welcome. thanks

[2018-01-27 15:51] passimm commented on #1437
just realized i forget to take care of
"When posting or using dropdown menus, do not change UI until action is completed, after that follow the above rules."

i will update the PR later...

[2018-01-27 16:45] chongluo commented on #1603
I would like to assign this issue to myself, however the forum is not working so that I could not find the place to post my handle. Can you you please grant me access to the repo?

[2018-01-27 16:50] gondzo commented on #1603
added. you can assign it to yourself now

[2018-01-27 16:51] chongluo commented on #1603
Thanks!

[2018-01-27 17:39] chongluo commented on #1603
I could not see the search bar on UI. How can I access to the page shown in the video?

[2018-01-27 18:49] sadathanwar17 commented on #1453
I would like to look into this. Can someone explain the exact issue?

[2018-01-27 18:59] gondzo commented on #1453
It's really simple. If you go to the project listing page, you'll notice that some of the projects have "ref tags" like in this image bellow
![image](https://user-images.githubusercontent.com/3051646/35475314-5a0a266e-039c-11e8-9485-04f644d9773e.png)
clicking that tag should populate the "search for projects" text box on the top of the page and search (same as if you typed the ref tag to the text

[2018-01-27 19:07] sadathanwar17 commented on #1453
I am facing a problem, when i add any project. It shows successfull but its not displayed in the /projects endpoint. It says nothing here and suggests to add

[2018-01-27 19:12] gondzo commented on #1453
I suppose you have deployed the app locally? can you try with user
pshah_manager/topcoder123

On Sat, Jan 27, 2018 at 8:07 PM, sadathanwar17 <notifications@github.com>
wrote:

[2018-01-27 19:14] sadathanwar17 commented on #1453
Okay it works. Thanks

[2018-01-27 19:17] sadathanwar17 commented on #1453
How can i assign this to me?

[2018-01-27 23:45] vic-topcoder commented on #1633
Just tested it with the new tooltip... sweet!!!!

[2018-01-28 03:21] chongluo commented on #1479
Can you please clarify the goal of this fixing? Do you want to add ref search function?
After some investigation, I found the result returned from backend and there is no control on FE (for the returning result). Do you want to filter the result on front-end? If so, what is the criterial. Also a document about the backend api will greatly help. Where can I find it?

[2018-01-28 04:01] anonymousjaggu commented on #1632
@gondzo  I am getting this error while trying to login

reason:"Handle 'pat_monahan' has already been taken"
and not able to do login, earlier it was working fine

[2018-01-28 10:28] sadathanwar17 commented on #1453
Can i get access to https://github.com/appirio-tech/react-components because i have changed something in searchBar component?

[2018-01-28 12:37] gondzo commented on #1607
This is now implemented and merged to dev. Links do not expire and we can use direct links to files. Here is an example https://connect.topcoder-dev.com/projects/2346/attachments/764

[2018-01-28 12:38] gondzo commented on #1607
relevant PR #1650

[2018-01-28 12:48] gondzo commented on #1453
you should be able to create a PR

[2018-01-28 12:52] gondzo commented on #1479
@chongluo this one involves updating search logic at https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projects/list.js
keyword search is returning results that aren't exactly relevant to the keywork entered. I don't have a strategy/requirements for fixing this now so I'm removing it from the bugBash for now.

[2018-01-28 13:48] gondzo commented on #1605
@passimm it's this one https://github.com/topcoder-platform/tc-message-service
when you deploy it locally, you can access the discourse admin portal so you can configure the necessary webhooks

[2018-01-28 14:05] sadathanwar17 commented on #1453
I have given PR to both the branches, please check

[2018-01-28 16:38] passimm commented on #1437
PR updated.
have one pending issue. it's difficult to track whether Notification/user profile dropdown is expanded. they are using appirio-tech-react-components:Dropdown, which neither allows add click listener, nor registered to react-redux... could you shed light on how to track whether Dropdown is opened?

[2018-01-28 16:57] chongluo commented on #1535
I have looked into this issue and found that backend does not return email for project members (using members/_search api). We can instead call user profile api with user handle to get project members' email, but it will need much more api call. Do you want that or wait for BE to support email retrieving?  If there is any better API I can use, please let me know.

[2018-01-28 20:12] jyoti0208 commented on #1538
Want to work on this but not able assign this to me.

[2018-01-29 04:19] chongluo commented on #1535
After trying user handle, I found that a user can not read other users' email from API. Is there any plan to update the backend to support this feature?

[2018-01-29 04:40] vikasrohit commented on #1535
@gondzo @vic-topcoder I can already see emails in user tooltip on project listing page, when I am logged in with an administrator account. We have to think  how we can support the same feature to managers without exposing security risks and not making admin validation tightly coupled with particular app (connect in this case). fyi @mtwomey

[2018-01-29 04:45] chongluo commented on #1535
@vikasrohit Can you please tell me how I can have an  administrator account? I can only test with a manager account now. Thanks.

[2018-01-29 06:03] maxceem commented on #1608
@gondzo currently to fix installed dependencies tree we use `npm-shrinkwrap.json` file. Can we remove it and use `package-lock.json` which is handled my npm@5 automatically? So we don't need to take care about it manually like it's described [in readme](https://github.com/appirio-tech/connect-app#updating-npm-shrinkwrapjson).

[2018-01-29 09:12] gondzo commented on #1608
yes, I think that's a good idea. we introduced shrinkwrap so we could have reproducible builds. package-lock serves the same purpose so we should be fine.

[2018-01-29 09:29] gondzo opened #1652 "[$50] Project list sort order error"
Changing sort order on projects list is not working. The api request fails with code 500. Filter criteria is not set correctly - an object is passed instead of the sort value

[2018-01-29 09:35] lifeNrun commented on #1605
Can you provide user information for login verification in  https://accounts.topcoder-dev.com/connect?

[2018-01-29 09:35] gondzo commented on #1535
@vikasrohit is that in dev? I'm not seeing any emails when logged in as pat_monahan

[2018-01-29 09:36] gondzo commented on #1605
sure.
pshah_manager/topcoder123
pshah_copilot/topcoder123

[2018-01-29 09:41] vikasrohit commented on #1535
Yes, in fact it is in production as well. I guess this was done as part of one of the bug bash. pat_monahan is not an administrator. So, it won't be visible to him.

[2018-01-29 14:30] RishiRajSahu commented on #1459
@vic-topcoder @vikasrohit as per my understanding the more the inconsistency between creation(basicSections) and specification(Sections) template more are the number of boolean flags we need to add to have single point of config.

I think the questions which are 'required' on creation should always be required, this will make things clean (Please, correct me here if I am missing anything)

Conside

[2018-01-29 21:40] vic-topcoder commented on #1608
@mtwomey FYI

[2018-01-29 21:42] vic-topcoder commented on #1535
@vikasrohit - can we extend the email visibility to Managers as well? The people that work in Connect need the user email most of the time, and they are not all Administrators. Ideally we should have the same results in Dev as well.

[2018-01-29 21:49] vic-topcoder commented on #1459
Yes. Let's plan this work with light of what is coming for Connect and the Project Plan section - split the product specification questions from the project scope. I left more comments on Slack and we can talk offline if that'll help move forward.

The way I imagine it is similar to your approach, @RishiRajSahu:

- Scope section, required questions. Same on creation form and Project Scope (current

[2018-01-30 00:36] afrisalyp commented on #1368
Can I work on this?
I have registered on bug bash 07.

[2018-01-30 04:28] anonymousjaggu commented on #1575
@gondzo can I get the repository Url for the backend repository to increase the API limit to 50 projects at a time

[2018-01-30 07:20] vikasrohit commented on #1535
@vic-topcoder It is again a security risk to open up emails of users others than administrators. At least we should not do it in our core services otherwise we would definitely leak it some day.

If this requirements is very critical, we can augment projects members data with emails of members in project service and use admin user (we should create a dedicated user for this, ideally it should be a

[2018-01-30 08:01] maxceem commented on #1608
Update.
`appirio-tech-react-components` package doesn't pre-build its modules and thus is being built with the same webpack config as `connect-app`.
So I'll have to also make `appirio-tech-react-components` package compatible with `topcoder-react-utils` webpack config.

[2018-01-30 11:59] birdofpreyru commented on #1608
I guess, it is easier to tune the config so that exclusively for `appirio-tech-react-components` it follows the old build rules? And then we just target to get rid of the `appirio-tech-react-components` as the dependency?

[2018-01-30 12:26] maxceem commented on #1608
So far I'm trying to fix it rather than adjusting config.

As I see in some situations adjusting small thing in config requires to repeat a big part of config and ruin the idea of reusing configs.

Example:
- Some common styles in `appirio-tech-react-components` are imported by a "shortcut" : https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Dropdown/Dropdown.scss#

[2018-01-30 12:32] birdofpreyru commented on #1608
Yes, in this very case, this entire SCSS rule seems to be the only option. But, if you dublicate it as the rule to apply for `appirio-tech-react-components` only, this makes a perfect sense for me. Sure, we are targeting the reuse of conifgs, but it does not mean that we should not do something like this during transition. As we go forward, we'll just move all components we need into `topcoder-rea

[2018-01-30 12:43] maxceem commented on #1608
Yes, makes sense. I've already made some adjustments, if I meet some more difficult situations I'll try to go with dedicated configs approach for `appirio-tech-react-components`.

[2018-01-30 16:19] birdofpreyru commented on #1424
@maxceem as promised, the standard buttons from Community App, along with some typography mixins, definitions of standard (Roboto) fonts, and constants (colors, screen sizes), are moved into https://www.npmjs.com/package/topcoder-react-ui-kit

I've already updated the dev deployment of Community App, and so far I see no problems with it :)

[2018-01-30 18:27] vic-topcoder commented on #1535
Ok, so the requirement is to allow Managers to view emails of registered users. We have a complete control of who the Managers are. They are only internal people and thus think of them as Admins in Connect. The Connect Admin has a super privileges and can control absolutely everything.

I don't know what the security risk is for our people to see the customers' emails, but it is not good for them

[2018-01-30 19:17] vic-topcoder opened #1655 "Back to project navigation doesn't reload the project with grid [bug]"
### Expected behavior
When clicking the "View all projects" link on top left within a project, the page should load the project list/grid view.

### Actual behavior
The page fails to load although the navigation changes.

### Steps to reproduce the problem
- Open a project
- Click on comment filed
- Click on "View all porjects" link

### Screenshot/screencast
![image](https://user-images.githubuse

[2018-01-31 00:30] gondzo commented on #1655
fixed in dev @vic-topcoder

[2018-01-31 03:13] passimm commented on #1437
hi @gondzo any idea about that?

[2018-01-31 04:50] maxceem commented on #1608
I have the same issue with `"tc-ui": "git+https://github.com/appirio-tech/tc-ui.git#feature/connectv2"`.
It also doesn't prebuild code, so I have to update it too, to follow `topcoder-react-utils` webpack config.

@vic-topcoder @gondzo What is the plan form `tc-ui`? Is it going to be replaced with `topcoder-react-ui-kit`?

@birdofpreyru looks I cannot make `CSS Modules` ignore third-party packages

[2018-01-31 07:50] maxceem commented on #1608
Done.

PR #1656 to `connect-app` has to be applied together with [PR 283](https://github.com/appirio-tech/react-components/pull/283) to `react-components` and [PR 22](https://github.com/appirio-tech/tc-ui/pull/22) to `tc-ui`.

I've updated `react-components` and `tc-ui` with the next two things:
- fixed imports to be compatible with `topcoder-react-utils`
- added :global to all scss files to be co

[2018-01-31 07:54] maxceem commented on #1608
## Note
I haven't updated `eslint` configuration to the one provided by `topcoder-react-utils` because they are based on different presets:
- `topcoder-react-utils` uses `airbnb`
- `connect-app` uses `eslint:recommended`

[2018-01-31 12:32] vikasrohit commented on #1535
@vic-topcoder I can understand all this, but thing is that we are not allowing non administrators to see the email data from our core API which is identity API because it is used by almost every other application in topcoder platform.

Users can use the the Direct Lead link which we show in the side panel on the dashboard.

I would check if we can achieve the use case with approach I suggested abo

[2018-02-01 05:33] RishiRajSahu commented on #1459
@vic-topcoder

by header section did you meant the section containing required questions only, right ?

[2018-02-01 06:05] #1655 closed

[2018-02-01 06:36] arun1595 opened #1660 "Setup issue - data['justExtract'] should NOT have additional properties"
I cloned the repo, ran `npm install` and `npm start` to find the above error.

I am running node v5.12.0 and npm 3.8.6

The error is thrown at the following config present in `config/webpack/default.js`

[code]
I tried googling the error and looks like an issue with `ExtractTextPlugin` but couldn't figure out the solution.

Any help would be appreciated.

Thanks!

[2018-02-01 06:58] vikasrohit commented on #1660
Can you please try upgrading your node and npm versions?

[2018-02-01 15:23] vic-topcoder commented on #1608
Does this mean we can start refactoring the button components everywhere in Connect? The other component that would be great to move is Tooltip - after the work we did on Connect, maybe fix the styling and make it available for all apps. This thread is very exciting for me, as we're moving forward unified modern front-end environment... WOOOT! Great job, guys! Mолодцы какие

[2018-02-01 15:45] maxceem commented on #1608
I believe we can. Though I think #1629 has to be finished first. It feels more comfortable to make these tasks one by one as they all introduce a lot of changes across the files.

Btw @vic-topcoder what is the plan for `tc-ui` package? Is it going to be replaced with `topcoder-react-ui-kit`?

[2018-02-01 21:31] arun1595 commented on #1660
@vikasrohit Thanks for the response. Doesn't the app use Node v5?

I tried to run the app on node v 8.9.1 and npm 5.6.0 but I am still getting the same error.

What could I be possibly missing?

[2018-02-02 03:54] vic-topcoder commented on #1608
Ideally we will break it into 2 - app copy of the styles, and components will be stand-alone (non-dependent on tc-ui)

[2018-02-02 12:22] maxceem commented on #1629
Done with the first part - reducing size. Gzipped size reduced from `724,96`kb to `596,29`kb, so file became 18% smaller.

Also, there are two more things which can be done to reduce size until
~`546,14`kb so it will 25% smaller in total.

1. Implement custom templates for notification messages instead of using `handlebars`
    So far for rendering notification we use `handlebars` templates which

[2018-02-02 15:03] afrisalyp commented on #1368
is this issue still open?
I think I can fix it but no one adds me to this git repo.

[2018-02-02 17:20] gondzo commented on #1368
@afrisalyp - I've added you to the repo, you can assign it to yourself

[2018-02-02 19:02] gondzo commented on #1566
@vikasrohit Looks like this didn't go to prod. What are the relevant commits here ?

[2018-02-02 19:23] vic-topcoder commented on #1629
For 1 - I have no opinion.
For 2 - let's get the component refactored in such a way that it would be a candidate for the new react-utils repo

@maxceem did you check on importing only the core of Lodash? All the locales can be removed safely. This was a big potential file size saving. Another one was the missing vendor and common chunks plugin, as we had a lot of the same dependencies in the modul

[2018-02-02 19:26] vic-topcoder opened #1662 "Status update cards should have owners"
Replace the anonymous "Coder the Bot" with the actual user that changed the status.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-132

[2018-02-02 19:38] vic-topcoder opened #1663 "[$150] Reduce the avatar file size"
Our avatars are not optimized on the back-end. For the use of the front-end, we need to maintain the smallest files for avatars, and to support retina devices (@2x). Right now we have huge avatars that get downloaded on the user's machine, which can be a lot of bandwidth overload. Further the giant images are scaled down to tiny sizes, and this doesn't help.

The task is to optimize the avatar ima

[2018-02-02 23:30] vic-topcoder opened #1665 "Test issue"
Zapier test issue

[2018-02-02 23:53] #1665 closed

[2018-02-03 01:45] vic-topcoder opened #1666 "Backlog issue to delete"
This issue should end in the backlog

[2018-02-03 01:46] #1666 closed

[2018-02-03 01:46] vic-topcoder opened #1667 "Backlog test for Zappier 2"
Should end in backlog

[2018-02-03 01:49] #1667 closed

[2018-02-03 01:50] vic-topcoder opened #1668 "Backlog for Zapier 3"
This is a test for backlog

[2018-02-03 01:52] vic-topcoder opened #1669 "Backlog test 3"
test

[2018-02-03 01:54] vic-topcoder opened #1670 "backlog test 4"
### Expected behavior
Describe.

### Actual behavior
Describe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account used:

[2018-02-03 01:54] #1668 closed

[2018-02-03 01:54] #1669 closed

[2018-02-03 01:54] #1670 closed

[2018-02-03 02:19] maxceem commented on #1629
@vic-topcoder yes, I've excluded moment locale files from the build. And I use `babel-plugin-lodash` plugin which makes webpack include only that `lodash` functions which are being used in the code.

So currently bundle looks like this. There are no code duplicates now so we can skip using`CommonsChunkPlugin`.

![webpack bundle analyzer 2018-02-03 09-51-35](https://user-images.githubusercontent.co

[2018-02-03 04:17] vikasrohit commented on #1566
Yes, it seems the changes were not deployed when release went to production. Create [PR](https://github.com/topcoder-platform/tc-connect-notifications/pull/79) for it, however, I would like to do this deployment on Monday to avoid any issues on production during weekend. If it is urgent, you can merge the PR and it should be good to go.

[2018-02-03 06:58] afrisalyp commented on #1368
PR submitted to this repo and appirio-tech/react-components
#1671
https://github.com/appirio-tech/react-components/pull/284

But it seems still not working on Firefox, please review.

[2018-02-03 14:35] passimm commented on #1575
@gondzo created PR. please help review. thanks
https://github.com/appirio-tech/connect-app/pull/1672

[2018-02-03 22:31] birdofpreyru commented on #1663
This is a good one, I also noted it a while ago, but no progress so far: https://github.com/topcoder-platform/community-app/issues/432

[2018-02-03 22:35] birdofpreyru commented on #1660
@arun1595 that `justExtract: true` option just should not be there anymore, it comes from an outdated code. Where have you encounter it?

[2018-02-03 22:53] birdofpreyru commented on #1608
@maxceem @vic-topcoder

It looks to me that I got to some milestone :)

From `topcoder-react-utils@0.1.4` you can already adopt all configs (Babel, ESLint, Jest, Stylelint, Webpack), `<Link>`, `<NavLink>` and `<ScalableRect>` helper elements.

From `topcoder-react-ui-kit@0.1.2` you can adopt global styles (actually, just the standard CSS reset + Roboto font declarations) and mixins (typography, me

[2018-02-03 22:55] arun1595 commented on #1660
@birdofpreyru My bad :see_no_evil:

You're right, I had forgotten to pull the latest version of the codebase.

Closing this issue as it was a fault on my side.

Thanks @birdofpreyru

[2018-02-03 22:55] #1660 closed

[2018-02-04 14:20] gondzo commented on #1627
@kevinkid this is not fixed. also, there is no PR for this change?

[2018-02-04 14:29] gondzo commented on #1368
thanks @afrisalyp
We still have that short transition while calculating the size, but IMO that's the best we can do without changing the autosize library.
@vic-topcoder

[2018-02-04 16:52] arun1595 opened #1673 "Notification bell icon is not vertically centered"
![image](https://user-images.githubusercontent.com/7039523/35779850-c4131a88-09a1-11e8-8690-cb99ea014e13.png)

[2018-02-05 06:55] vikasrohit commented on #1566
Deployed on production now. Verified as well. I am not seeing the team activity anymore. Please let me know if you still the team activity cards for any activity from now on.

[2018-02-05 06:56] #1566 closed

[2018-02-05 06:56] vikasrohit commented on #1660
Thanks @birdofpreyru for jumping in and the help.

[2018-02-05 09:49] gondzo commented on #1437
I think we can ignore the dropdowns for now and fix that later

[2018-02-05 16:02] passimm commented on #1437
@gondzo PR updated. please help review. thanks!

[2018-02-05 17:28] gondzo opened #1677 "CircleCI upgrade"
We're now using circleci v1 and th should upgrade to v2
- docker container based builds
- use node >8.2
- faster builds with cache reuse

[2018-02-05 18:56] vic-topcoder opened #1678 "CircleCI upgrade"
We're now using circleci v1 and th should upgrade to v2
 - docker container based builds
 - use node >8.2
 - faster builds with cache reuse

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-151

[2018-02-05 18:57] #1678 closed

[2018-02-05 20:38] vic-topcoder opened #1679 "Reduce the avatar file size"
Our avatars are not optimized on the back-end. For the use of the front-end, we need to maintain the smallest files for avatars, and to support retina devices (@2x). Right now we have huge avatars that get downloaded on the user's machine, which can be a lot of bandwidth overload. Further the giant images are scaled down to tiny sizes, and this doesn't help.

 The task is to optimize the avatar im

[2018-02-05 21:04] #1604 closed

[2018-02-05 21:34] #1607 closed

[2018-02-05 21:41] vic-topcoder commented on #1629
What I would like to do is to think about the notification templates as DB records. I imagine we can keep a version of the notification template in a DB and have placeholders for the unique data. This would allow us to further think about internalization (i18) when we want to allow an interface to be in other language than English.

This means that the front-end won't be generating the notificatio

[2018-02-05 22:15] vic-topcoder commented on #1633
@gondzo - we lost the component. Can we figure out what happened?

[2018-02-05 23:08] vic-topcoder commented on #1627
I actually fixed this in release - updated the SVG icons and the appropriate CSS for the components
![screen shot 2018-02-05 at 3 07 22 pm](https://user-images.githubusercontent.com/8484061/35833500-6809db10-0a86-11e8-8ef6-c1f3a6047404.png)

[2018-02-05 23:08] #1627 closed

[2018-02-05 23:11] vic-topcoder commented on #1535
Yes, let's please work on separating Connect users from the rest of the ecosystem of apps. If you want to open a new stream of effort for this, let's focus all connected issues. The #1604 we resolved in a different way is part of this bigger issue.

@mtwomey - Please advise

[2018-02-05 23:18] vic-topcoder opened #1680 "collapse the non-essential cards like 'A new team member has joined'"
screen real estate is important and a user has to scroll through these cards that take 50% of the verticle screen

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-78

[2018-02-05 23:23] vic-topcoder commented on #1679
duplicate of #1663

[2018-02-05 23:23] #1679 closed

[2018-02-06 02:47] vic-topcoder opened #1681 "Loading many topics blocks connect from displaying data"
When there are a lot of discussion threads on a project we render the view after we retrieve all the data. This effectively breaks the user experience. We need to come up with an optimization to improve the user experience.

Couple of ideas:
- Pull the first 5 topics to render, then lazy-load the rest.
- Check if there are ways to optimize the API response - polling the DB and constructing the res

[2018-02-06 05:47] vikasrohit commented on #1681
I don't think we can do much here without replacing the discourse. I am working on replacing the discourse, however, that is not a trivial job. It needs very careful replacement. I have almost finished the new schema to store required information from existing discourse database. My next step would be to design a ETL job, to get the data from discourse to our new schema.

On the other hand, @vic-t

[2018-02-06 18:17] kevinkid commented on #1605
If someone likes a topic post should we consider that a response?

[2018-02-06 18:23] vic-topcoder commented on #1368
It's good enough for the time being. Definitely don't like this interaction, so when we start fixing the page rendering/new form styles, we need to change this behavior.

[2018-02-06 18:43] vic-topcoder opened #1682 "Show a progress indicator while loading topics on the project dashboard page"
### Expected behavior
While I'm waiting for the system to display the topics, the progress indicator (spinning wheel) should show up in the center of the page.

### Actual behavior
The dashboard shows blank

[2018-02-06 22:56] #1249 closed

[2018-02-06 22:56] #1250 closed

[2018-02-06 22:56] #1251 closed

[2018-02-06 22:56] #1252 closed

[2018-02-06 22:59] vic-topcoder opened #1683 "[$60] Don't hide "Old" notifications when there are no notifications displayed in the notifications drop-down"
### Expected behavior
I want to see all notifications I haven't dismissed in the notifications drop-down.

If there are older notifications that are not displayed, when I dismiss my notifications I want to see them into the drop down instead.

The dropdown menu should never be empty when there are notifications that are not dismissed.

### Actual behavior
The dropdown menu shows nothing, but there

[2018-02-06 23:01] vic-topcoder commented on #1683
The goal is to keep showing the latest unread notifications until all are dismissed; i.e. keep populating the list with notifications. At some point the "older" notifications would disappear, and I'll still see notification messages.

[2018-02-06 23:23] gondzo commented on #1682
It's still there, but the gif image gets corrupted during build, not sure why
https://connect.topcoder.com/37d723924c4eb62e5b141fec944d9302.gif

[2018-02-07 00:28] vic-topcoder commented on #1682
Try with this one
![37d723924c4eb62e5b141fec944d9302](https://user-images.githubusercontent.com/8484061/35891753-b22e570a-0b5a-11e8-8dbc-48b326682232.gif)

[2018-02-07 00:28] vic-topcoder commented on #1682
I'm not sure why it might get corrupted as well.

[2018-02-07 00:28] vic-topcoder commented on #1538
@gondzo - any progress on this one?

[2018-02-07 00:43] gondzo commented on #1538
@vic-topcoder not yet, I've missed this one.
What do we do when the user clicks the close icon? Just hide it for that session, or hide if permanently? If it's the latter one, we should wait until we move off discourse - we don't have any per user/post storage where we could store this flag and I don't have any good ideas on how best to implement it.

[2018-02-07 01:00] vic-topcoder commented on #1538
Hide it permanently. By default we should show only the latest status update card if it wasn’t seen/dismissed yet.

[2018-02-07 01:02] gondzo commented on #1538
@vikasrohit does this feature fit in with the model you're building for moving from discourse ?

[2018-02-07 01:17] gondzo commented on #1682
fixed in bugBash07 and deployed to dev

[2018-02-07 01:19] gondzo commented on #1677
done in bugBash07
build/deploy time is now down to 5 minutes, compared to 8-10 minutes before the change

[2018-02-07 13:22] gondzo commented on #1538
on second thought, we already have these same events in notifications, so we don't need coder-bot posts at all. when viewing project dashboard, we can use unread project activity notifications for that project and show the latest one as the card in the top. when clicking the close icon, we'd mark the notification as read. makes sense ? @vic-topcoder

[2018-02-07 19:37] vic-topcoder commented on #1538
That’ll b the best! Let’s reuse the notifications!

[2018-02-08 03:38] vic-topcoder commented on #1682
Can we get this as a hotfix into production?

[2018-02-08 03:38] vic-topcoder commented on #1677
woot!

[2018-02-08 09:39] maxceem commented on #1629
Currently, we have versions implemented for notifications.
Templates are being kept in `connect-app` and they also have versions.
Basically, we may add i18 for templates inside `connect-app` if these templates are only needed for   `connect-app`. Or we can download from the DB. Anyway we already have notification templates with versions which we can store in any place.

So far we use Handlebars to

[2018-02-08 09:42] gondzo commented on #1629
agreed. works ok for now and 20kb isn't such a big deal for the convenience we get with these templates

[2018-02-08 21:45] vic-topcoder commented on #1629
I don't mind keeping handlebars. It is small price to pay. We can optimize much more from the list of components we use, and data we transmit. Let's call this one done if we have the optimizations in DEV

[2018-02-08 22:03] #1462 closed

[2018-02-08 22:03] #1458 closed

[2018-02-09 03:10] maxceem commented on #1629
I still haven't made this

Though maybe it makes sense to treat it as another task and do it together with https://github.com/appirio-tech/connect-app/issues/1564.
There is a big chance that updating some of packages will require React 16.

And this

Should it be another task or do it here?

[2018-02-10 23:46] vic-topcoder opened #1684 "IBM Chatbot content updates [HOTFIX]"
@vikasrohit please update the disclaimer text at the bottom of the Watson Chatbot to say "IBM is receiving compensation from Topcoder for referring customers to Topcoder." and deploy to production? It is important to have it Monday Morning please.
![screenshot](https://user-images.githubusercontent.com/8484061/36067786-9e5a3326-0e79-11e8-9d75-55b3de28dd02.png)

[2018-02-12 06:20] RishiRajSahu commented on #1684
@vic-topcoder I have fixed this in a hotfix branch created from master and created a pull request here - https://github.com/appirio-tech/connect-app/pull/1686 . Please review and merge to master as I am not able to merge it.

[2018-02-12 14:03] RishiRajSahu commented on #1684
verified on prod.

[2018-02-12 17:51] vic-topcoder commented on #1684
Looks good. Thanks @RishiRajSahu

[2018-02-12 17:51] #1684 closed

[2018-02-12 18:00] #1421 closed

[2018-02-12 18:08] vic-topcoder commented on #1605
no. We're planning to disconnect from Discourse at some point, so that's not feature we'll cary over.

[2018-02-12 19:44] gondzo commented on #1564
we have solved a lot of those errors, but couldn't do this one in parallel with other major upgrades like #1629

[2018-02-12 21:13] #1673 closed

[2018-02-13 03:41] #1400 closed

[2018-02-13 03:41] #1401 closed

[2018-02-13 03:42] #1253 closed

[2018-02-13 03:42] #1254 closed

[2018-02-13 03:42] #1257 closed

[2018-02-13 03:42] #1378 closed

[2018-02-13 03:42] #1381 closed

[2018-02-13 03:42] #1384 closed

[2018-02-13 03:44] #1425 closed

[2018-02-13 03:46] #1415 closed

[2018-02-13 03:46] #1377 closed

[2018-02-13 03:46] #1379 closed

[2018-02-13 03:46] #1380 closed

[2018-02-13 03:46] #1382 closed

[2018-02-13 03:46] #1383 closed

[2018-02-13 03:46] #1398 closed

[2018-02-13 03:47] vic-topcoder commented on #1388
@vikasrohit @gondzo what is the status of this one? Can we close it?

[2018-02-13 03:47] vic-topcoder commented on #1350
@vikasrohit what is the status on this one?

[2018-02-13 03:48] vic-topcoder commented on #1349
@gondzo @vikasrohit what is the status on this one? We did replace the dropdown component already?

[2018-02-13 03:48] vic-topcoder commented on #1348
@vikasrohit @gondzo what is the status of this one/?

[2018-02-13 03:49] #1470 closed

[2018-02-13 03:49] #1471 closed

[2018-02-13 03:49] vic-topcoder commented on #1248
Not going to work on this for a while. Closing issue

[2018-02-13 03:49] #1248 closed

[2018-02-13 03:50] #1246 closed

[2018-02-13 03:50] #1288 closed

[2018-02-13 03:52] vic-topcoder commented on #1346
@gondzo is this relevant? We're getting rid of Discourse so please close if you see fit

[2018-02-13 03:52] vic-topcoder commented on #1403
@vikasrohit what is the status of this one? Please close if resolved.

[2018-02-13 03:53] vic-topcoder commented on #1414
@vikasrohit can you please confirm this is completed? Close if so.

[2018-02-13 03:54] #1258 closed

[2018-02-13 03:54] #1259 closed

[2018-02-13 05:26] vikasrohit commented on #1403
@vic-topcoder As I said on slack, we have to push the changes for https://github.com/appirio-tech/tc-connect2sf/issues/22 to get it resolved because I don't want to deploy tc-connect2sf every time we have something to map to or from salesforce. And https://github.com/appirio-tech/tc-connect2sf/issues/22 is waiting for https://github.com/appirio-tech/connect-app/issues/1248 which now seems to be cl

[2018-02-13 05:30] vikasrohit commented on #1248
Okay, I have to revert the changes. :(

[2018-02-13 05:48] vikasrohit commented on #1348
Its Done.

[2018-02-13 05:48] #1348 closed

[2018-02-13 06:08] vikasrohit commented on #1349
I did all of the changes, however, they got reverted by community to ease their task. I have to look into it again to check what is overall status with this.

[2018-02-13 06:17] vikasrohit commented on #1350
It is a tech-debt and we haven't started on this.

[2018-02-13 07:02] vikasrohit commented on #1349
It seems the changes are there. May be they were reverted again. So, I think it good to close now. @gondzo Do you remember anything about this issue?

[2018-02-13 08:56] vikasrohit commented on #1403
@vic-topcoder Just found another way of fixing this issue. I have made changes in front to fix this. May be we can add the fix at backend as well to be fool proof in future. Changes should be in dev by EOD.

[2018-02-13 09:15] gondzo commented on #1629
We can leave those for a different task and do it after upgrading to React 16.

[2018-02-13 10:54] vikasrohit commented on #1414
@vic-topcoder I know this issue was there when reported. I think it is not reproducible right now, @RishiRajSahu tried to reproduce it today. May be it was a temporary error in message queue.

[2018-02-13 18:30] vic-topcoder commented on #1414
ok, closing. Thanks!

[2018-02-13 18:30] #1414 closed

[2018-02-13 18:30] vic-topcoder commented on #1403
Great. Please close this issue when we're done with it

[2018-02-13 19:55] #1603 closed

[2018-02-13 19:55] #1593 closed

[2018-02-13 19:55] #1569 closed

[2018-02-13 19:56] #1368 closed

[2018-02-13 19:58] #1634 closed

[2018-02-13 19:58] #1635 closed

[2018-02-13 19:58] #1652 closed

[2018-02-13 20:06] gondzo commented on #1479
@vic-topcoder the change in the backend that added searching by ref codes was causing issues in prod so I have reverted it temporarily until it's fixed properly

[2018-02-13 20:08] gondzo commented on #1681
this is now fixed. we're still loading all data, but it's just one single api call to discourse - super fast.

[2018-02-13 20:15] vic-topcoder commented on #1479
Ok, sounds good to me. We can fix this in CF8

[2018-02-13 20:16] gondzo commented on #1346
this one is still doable and worth it in the short term IMO. it will affect adding/removing users from a project. right now if a project has 20 topics we have to make 20 calls to discourse so we could add the user to all topics and that takes a while, so it can fail in case we have too many topics on a project.
@vikasrohit do you think we should do this?

[2018-02-13 20:16] gondzo commented on #1349
we had double components in react components and connect repos, but the changes are merged now. closing.

[2018-02-13 20:16] #1349 closed

[2018-02-13 21:13] vic-topcoder commented on #1346
What is the technical cost of doing this issue? Time/effort wise.

[2018-02-13 22:02] gondzo commented on #1437
merged to bugBash07. closing

[2018-02-13 22:02] #1437 closed

[2018-02-13 23:16] gondzo opened #1690 "react-ui-kit and react-utils refactoring"
Continuing the discussion from #1608 here.

[2018-02-13 23:17] gondzo commented on #1608
continuing the discussion at #1690

[2018-02-13 23:17] #1608 closed

[2018-02-13 23:17] #1629 closed

[2018-02-13 23:18] gondzo commented on #1424
closing this one and moving conversation to #1690

[2018-02-13 23:18] #1424 closed

[2018-02-14 05:17] vikasrohit commented on #1346
Yes, @gondzo I am still in. I think we should do this and I think it won't take much time, something around 3-4 days should be good enough and I guess $400-$500 would be good enough for the prize money. One thing though, how would it affect the existing messages? I mean do we need to run a batch job to create groups for existing messages? If yes, I guess that would be the costlier part.

[2018-02-14 17:59] kevinkid commented on #1605
Is there need to add an endpoint to the tc-messaging service @gondzo? Am initializing the webhook on server startup and shifting that responsibility to the topcoder-platform/tc-bus-api.

[2018-02-14 23:27] #1681 closed

[2018-02-14 23:36] vic-topcoder opened #1691 "Messaging on project doesn't work correctly"
## Testing messaging and feed on the dev server, there are several issues:

1. Messages are not sorted in reverse chronological order based on user activity. The message that has a response to latest, should be on top. We count not the date of the topic created (unless there are no other events), but the last activity on a topic: created, responded, edited.

2. New posts do not trigger notificatio

[2018-02-15 00:16] gondzo commented on #1691
1. Only posting a topic/comment will affect sorting. editing a post will not. do you want both to count as topic updates and affect sorting?
2. I am getting notifications correctly in that same project. can you test again?
3. good catch, will fix
4. I can reproduce it, will look to fix it
5. That's part of #1538

[2018-02-15 00:39] vic-topcoder commented on #1691
Yes, editing should affect timestamp. The logic is that any data added might be of value for the users. The timestamp should change to `edited X time ago`

I'm retesting, but still not getting page reload notification. Notifications seem to have lost the author (user)

[2018-02-15 00:41] gondzo commented on #1691
About the author, that was just for project changes (link, member changes, specification updates). fixed now

[2018-02-15 00:43] vic-topcoder commented on #1691
Two users looking at the same project (one is normal Safari, other in private browsing Firefox) see different feed.
![screen shot 2018-02-14 at 4 40 30 pm](https://user-images.githubusercontent.com/8484061/36235551-2c8e5d46-11a6-11e8-9214-e5b58e9d1de5.png)

[2018-02-15 18:28] vic-topcoder opened #1693 "User is not listed in notification"
### Expected behavior
I should know who did what on notifications I receive
![screen shot 2018-02-15 at 10 27 02 am](https://user-images.githubusercontent.com/8484061/36273886-d145879e-123a-11e8-915f-3ef9eb4262c6.png)

### Actual behavior
In most notifications the user doing the action is missing.
![screen shot 2018-02-14 at 4 08 51 pm](https://user-images.githubusercontent.com/8484061/36273909-e3

[2018-02-15 18:30] vic-topcoder opened #1694 "[$30] Icons on links section (project dashboard) are not displayed correctly"
The icons on the links menu are not displaying correctly after the SVG refactoring. This is the delete icon misaligned and on a darker gray background.
![screen shot 2018-02-14 at 4 06 09 pm](https://user-images.githubusercontent.com/8484061/36273970-221d47ce-123b-11e8-89a2-eaea8402bde6.png)

[2018-02-15 18:31] gondzo commented on #1693
this is fixed already, try generating some new ones

[2018-02-15 18:33] vic-topcoder opened #1695 "[$60] Navigation is jumping when loading Connect"
When I first load Connect, the navigation is resizing and loading notifications later than the rest of the items. This causes jumping around and is not pleasant for the user.

Expected: The navigation would be rendered correctly with all elements at the same time, no jumping.

Also, the icons on the project navigation are not following the state changes (hover, active) along with the text. Let's f

[2018-02-15 18:57] vic-topcoder commented on #1693
Yes, works fine, verified. Closing this one

[2018-02-15 18:57] #1693 closed

[2018-02-15 19:35] vic-topcoder opened #1696 "IE11 issues"
There are a lot of problems with IE11. It is one of our target browsers so we must fix it.

- [x] Dev server isn't showing under IE11

- [x] Navigation is off in all states,

- [x] bell icon,

- [x] project navigation
- [ ] notifications, notification settings

- [ ] Order of project filter tabs is wrong

- [ ] Tooltip position is wrong

- [ ] Project creation side panel - text is covering the tit

[2018-02-15 22:48] #1682 closed

[2018-02-16 10:03] RishiRajSahu opened #1697 "Browser's logging not showing file name."
After adding topcoder-react-utils as dependency for webpack config its seems the browser logging for dev env is not showing file name instead it is showing minified js file name.

### Expected behavior
Enabling proper logging(with file name) in browser's console for smoother development process

#### Environment
dev

[2018-02-16 10:08] gondzo commented on #1697
I've noticed this as well and looking into the possible fixes

[2018-02-16 10:09] RishiRajSahu commented on #1697
cool !

[2018-02-16 14:51] gondzo commented on #1663
there is also a frontend only solution, using a 3rd party CDN (for example http://www.cloudimage.io )
The image is still stored on AWS and we use the same url we get from the backend, but the final image url is like `cdnhost.com/size/original_image_url` .
@vic-topcoder @birdofpreyru

[2018-02-16 14:56] gondzo commented on #1346
yes, we would need to do a batch job to add current topics to categories - either via api calls or directly to the discourse db.
I'll add this one to CF8

[2018-02-16 15:03] birdofpreyru commented on #1663
I guess, https://aws.amazon.com/cloudfront/ can be a better choice, as we already use AWS; I guess, it should provide the same functionality to resize the images.

[2018-02-16 15:17] gondzo commented on #1663
not out of the box with cloudfront as far as I know, we would need to build some service that actually does resize the image and uploads it back to s3?

[2018-02-16 18:50] vic-topcoder commented on #1663
@mtwomey @cwdcwd you guys want to keep an eye on this?

[2018-02-16 18:57] cwdcwd commented on #1663
What we should do is put an event on the S3 bucket that fires on changes when we put member profile pics in.
That event should be picked up by a lambda func that then does the appropriate resizing and puts the resized pictures into the S3 bucket in common sizes.
File names should be prefix+memberid.format. These sized images should be prefixed like other services with `o_` for original, `m_` for m

[2018-02-16 19:00] cwdcwd commented on #1663
in addition we can then cloudfront CDN the S3 bucket for speedier delivery of resources, if it's not already

[2018-02-16 19:22] kapilgorve commented on #1696
@vic-topcoder can you assemble screenshots with issues ? I will be able to quickly identify issues.

[2018-02-16 19:27] vic-topcoder commented on #1663
I've designed most of our avatars to be 30 or 40px, so for small size and accounting for retina, that'll be 60 or 80px. I'm not sure what is the matrix of avatars we have elsewhere, but we have a profile page where the avatar is probably the bigger - 140px (280px for retina).

Also an interesting read: https://www.smashingmagazine.com/2018/02/progressive-image-loading-user-perceived-performance/

[2018-02-16 19:33] vic-topcoder commented on #1696
done

[2018-02-17 05:43] veshu commented on #1696
@vic-topcoder What are the issue marked with ticked checkbox meaning?

[2018-02-17 05:44] kapilgorve commented on #1696
I have been able to resolve the issues which have been ticked.

[2018-02-17 05:46] veshu commented on #1696
means these ticked issues need not to be fixed?

[2018-02-17 07:18] gondzo commented on #1696
@veshu - it's a F2F, all issues are in scope

[2018-02-17 08:50] maxceem commented on #1697
Fixed by #1699

[2018-02-17 13:08] gondzo commented on #1697
closing

[2018-02-17 13:08] #1697 closed

[2018-02-17 16:41] kevinkid commented on #1605
Noted vic-topcoder, its ready for review.

[2018-02-17 20:31] gondzo commented on #1696
fixes are merged to dev. closing

[2018-02-17 20:31] #1696 closed

[2018-02-22 02:30] vic-topcoder opened #1702 "[$40] avatar component doesn't display correct user"
The avatar on the top bar should show my picture and be consistent throughout the system.

At the moment the top bar and the post composer card show different image/avatar than the one on the side bar

![screen shot 2018-02-21 at 6 28 16 pm](https://user-images.githubusercontent.com/8484061/36516967-35132ee4-1735-11e8-84ee-da5dd54421e1.png)

[2018-02-22 02:35] vic-topcoder opened #1703 "[$50] jumping sidebar when scrolling when description text has very long words"
### Update:

The issues is caused by long string in project description https://connect.topcoder-dev.com/projects/2788. This is not a real world text sample so it is an edge case. We need to extend the CSS coverage of the sidebar to deal with very long words as this is what causes sidebar to come out of alignment and jump around when scrolling.
_____

After the IE11 fixes the sidebar is jumping du

[2018-02-23 15:32] gondzo commented on #1702
@vic-topcoder this is an issue with the members API and I think it's happening in dev only. it's returning null for photo url
![image](https://user-images.githubusercontent.com/3051646/36601993-0f87f1ea-18b7-11e8-8707-27d33f768fdc.png)

[2018-02-23 15:42] gondzo commented on #1703
@vic-topcoder I don't think this is introduced by ie11 changes. sidebar styling is really bad on small resolutions, even in prod. for example
![image](https://user-images.githubusercontent.com/3051646/36602491-751303d2-18b8-11e8-9aee-21f8c98d7c9f.png)
It's not an easy fix, but IMO we should introduce min width for the body and that would solve a lot of issues with the site on mobile (can't read/wr

[2018-02-23 19:10] vic-topcoder commented on #1702
It is odd as sometimes the picture is loaded, and sometimes it isn't. Look at the left hand side where the avatar is loaded (red box and arrow). @mtwomey FYI

[2018-02-23 19:21] vic-topcoder commented on #1703
I figure out that the cause is the super long string in the particular project that is causing the jump in smaller sizes. Compare this
![screen shot 2018-02-23 at 11 13 40 am](https://user-images.githubusercontent.com/8484061/36612422-6df2579c-188b-11e8-9b48-9ddb432637be.png)

to the project in question (https://connect.topcoder-dev.com/projects/2788)
![screen shot 2018-02-23 at 11 20 04 am](https

[2018-02-23 21:23] gondzo commented on #1702
It's an api issue for sure. These two requests return different results
http://api.topcoder-dev.com/v3/members/_search?query=handle:pat_monahan&fields=userId,handle,photoURL,firstName,lastName,details,email
and
http://api.topcoder-dev.com/v3/members/pat_monahan

[2018-02-23 21:29] gondzo commented on #1702
first request fetches data from elasticsearch, and the second one from dynamoDB. any ideas how are those two synced @mtwomey @vikasrohit

[2018-02-26 07:08] vikasrohit commented on #1702
IMO, we should fetch [member profile](http://api.topcoder-dev.com/v3/members/pat_monahan) from elastic search as well, that way both would be in sync. And if we get any issue with data between elastic search and dynamo db, we would have clear path(sync data from dynamo to elastic search) of fixing the issue.

[2018-02-27 02:21] vic-topcoder opened #1707 "[$40] Local dev environment: CSS styles are not automatically updated in the browser"
### Expected behavior
Any change in the code should be shown automatically inside the local server while developing.

### Actual behavior
Right now only React code/HTML code changes are hot reloaded, while style is not updated in local environment.

Mac latest, Brew latest, Webpack/Node latest

[2018-02-27 02:27] vic-topcoder opened #1708 "[$30] Tooltip inside project dashboard is cropped by the sidebar"
### Expected behavior
The tooltip should be above all elements and not be clipped by the parent container (position: absolute; z-index: 100)

@gondzo - what was the z-index order table? Let's put that as a reference on the Wiki please.

### Actual behavior
Hover over the avatar on dashboard to observe.
![screen shot 2018-02-26 at 6 25 04 pm](https://user-images.githubusercontent.com/8484061/367073

[2018-02-27 02:31] vic-topcoder commented on #1346
Let's review what is the effort/cost before we go further. @mtwomey FYI.

[2018-02-27 02:32] #1432 closed

[2018-02-27 02:36] #1423 closed

[2018-02-28 04:19] vikasrohit commented on #1403
Yes, it is fixed and deployed with release [1.4.5](https://github.com/appirio-tech/connect-app/releases/tag/1.4.5)

[2018-02-28 04:19] #1403 closed

[2018-02-28 05:05] vikasrohit commented on #1370
Only bold portion is what we need to implement. I guess we already have the basic feature of getting managers added to the product.

[2018-02-28 19:26] vic-topcoder commented on #1370
Yes, we have the basic flow working. The feature update should actually limit the user suggestion list to the people that can be added within the role for a project.

For example - only Copilots can be shown when the manager is adding a copilot. Only Managers when a Manger/Admin is adding another Manager. Managers and Copilots can't be project members by default.

I've heard a feedback for limitin

[2018-03-01 21:43] vic-topcoder opened #1713 "[$50] Card View-> Cancel button navigates user to project page"
_From @gargsaurabh86 on February 19, 2018 1:19_

### Reported URL ###
*URL where the issue occurred, if applicable*
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc&status=active

### Reproduction Steps ###

1. Login to https://connect.topcoder-dev.com/ using pshah_manager / topcoder123
2. Select Card view
3. On any card
4. Select Project status as Cancelled from drop-down list
5. C

[2018-03-01 21:45] vic-topcoder opened #1714 "[$50] Error is shown on My Projects toggle"
_From @gargsaurabh86 on February 18, 2018 22:9_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects?memberOnly=true&sort=updatedAt%20desc&status=cancelled

### Reproduction Steps ###
1. Login to application using pshah_manager / topcoder123
2. Select "Cancelled" filter to filter the projects
3. Now enable My Projects toggle to show only my p

[2018-03-01 21:46] vic-topcoder opened #1715 "[$50] Window-Manager –upload file notes are not viewable, If we Edit the Note section after the “Save Changes”"
_From @youdare on February 18, 2018 18:0_

Summary:
Window-Manager –upload file notes are not viewable, If we Edit the Note section after the “Save Changes”

### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_manager/topcoder123
3.Create the project.
4.Go To Project specification
5.Upload a file
6.Clic

[2018-03-01 21:46] vic-topcoder commented on #1715
_From @youdare on February 18, 2018 18:3_

https://youtu.be/Rih00izV3TU

[2018-03-01 21:46] vic-topcoder opened #1716 "[$50] Window-Manager – After uploading, Not able to click and Download files after editing the file name"
_From @youdare on February 18, 2018 16:44_

Summary:
Window-Manager – After uploading, Not able to click and Download files after editing the file name

### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_manager/topcoder123
3.Create the project.
4.Go To Project specification
5.Click File and upload MP4

[2018-03-01 21:46] vic-topcoder commented on #1716
_From @youdare on February 18, 2018 16:44_

https://youtu.be/18sFEQcpAzg

[2018-03-01 21:46] vic-topcoder opened #1717 "[$60] Project integration links are not shown without joining the project for Admin"
_From @bikakk on February 18, 2018 16:22_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2608

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com
2. Login as Admin : pat_monahan/topcoder123!
3. Open a project where Admin is not yet joined
4. observe the integration link are not displyed
5. Join the project and observe that links are displayed

### Expected Result

[2018-03-01 21:46] vic-topcoder commented on #1717
_From @sdgun on February 23, 2018 2:0_

@vic-topcoder

[2018-03-01 21:46] vic-topcoder commented on #1717
valid

[2018-03-01 21:47] vic-topcoder opened #1718 "[$40] Window-Manager – Need to click “Cancel” button Two times to close the “You are currently uploading. If you choose "OK"” prompt"
_From @youdare on February 18, 2018 16:19_

Summary:
Window-Manager – Need to click “Cancel” button Two times to close the “You are currently uploading. If you choose "OK"” prompt

### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_manager/topcoder123
3.Create the project.
4.Go To Project specification

[2018-03-01 21:48] vic-topcoder opened #1719 "[$40] Window-Manager – Filter is shown when we log in and log out"
_From @youdare on February 18, 2018 16:6_

Summary:
Window-Manager – Filter is shown when we log in and log out

### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_manager/topcoder123
3.Click Filter button
4.Click Click Logout
5.Again log in to app

### Expected Result ###
Window-Manager – Filter shoul

[2018-03-01 21:48] vic-topcoder commented on #1719
_From @youdare on February 18, 2018 16:8_

https://youtu.be/CX6QEas2-HA

[2018-03-01 21:48] vic-topcoder commented on #1719
_From @youdare on February 21, 2018 6:31_

@sdgun Attached video in comment section it is reproducible, Just now tried

[2018-03-01 21:49] vic-topcoder opened #1720 "[$40] Notification count >= 11 also showed in Notification center"
_From @bikakk on February 18, 2018 15:41_

### Reported URL ###
https://connect.topcoder-dev.com/notifications

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com
2. Login as pshah_customer
3. Now generate notification for one project in such a way that it should trigger more than 11 notifications
4. Now goto notification center b clicking on view all notifications
5. observe all

[2018-03-01 21:49] vic-topcoder opened #1721 "[$40] Red dot on the bell icon should be removed when there is no new notifications"
_From @bikakk on February 18, 2018 15:9_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2608

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com
2. Login as pshah_customer
3. Trigger a notification for any of the project and observe the red dot on the bell icon for the indication of new notification triggered
4. Click on View all notification and make note of the

[2018-03-01 21:50] vic-topcoder opened #1722 "[$100] Owner still able to see deleted project"
_From @gargsaurabh86 on February 18, 2018 14:51_

### Reported URL ###
*URL where the issue occured, if applicable*

### Reproduction Steps ###
1. Log in as a customer to https://connect.topcoder-dev.com using pshah_customer/topcoder123
2. Select project which is in draft state
3. Click Delete the project
4. Wait for 30 sec

### Expected Result ###

The project should be deleted immediately and cu

[2018-03-01 21:50] vic-topcoder opened #1723 "[$200] Manager able to add file without joining project"
_From @gargsaurabh86 on February 18, 2018 14:30_

### Reported URL ###
*URL where the issue occured, if applicable*

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com using  pshah_manager/topcoder123
2. Navigate to Website project which manager has not joined like https://connect.topcoder-dev.com/projects/2630/
3. Do not join and navigate to specifications like https://connec

[2018-03-01 21:50] vic-topcoder commented on #1723
_From @sdgun on February 23, 2018 2:0_

@vic-topcoder

[2018-03-01 21:50] vic-topcoder commented on #1723
valid

[2018-03-01 21:50] vic-topcoder opened #1724 "[$100] Manager is able create a link without joining the project"
_From @bikakk on February 18, 2018 14:1_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2632

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com/
2. Login as pshah_manager
3. open a project in which manager is not yet joined to be project
4. Click on Add icon in Links section
5. create a link and observe

### Expected Result ###

As per the docs provided, only Adm

[2018-03-01 21:50] vic-topcoder commented on #1724
_From @sdgun on February 23, 2018 2:0_

@vic-topcoder

[2018-03-01 21:50] vic-topcoder commented on #1724
valid

[2018-03-01 21:51] vic-topcoder opened #1725 "[$50] Not able to edit Project name and reference code once it is submitted for review"
_From @bikakk on February 18, 2018 13:39_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2632/specification

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com
2. Login as pshah_customer
3. Create a new project and submit it for Review
4. Not goto specifications and try to edit the project name and reference code

### Expected Result ###

As per doc: https://docs.

[2018-03-01 21:52] vic-topcoder opened #1726 "[$50] Error 500 when searching for '&'"
_From @macs054 on February 18, 2018 12:34_

### Reported URL ###
https://connect.topcoder-dev.com/projects?keyword=%26&sort=best%20match&status=active

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pshah_manager/topcoder123
Search for '&' (Error 500 will show for a second)
Click 'All projects'
Click 'Active', or any of the status tabs except 'All projects'

### Expect

[2018-03-01 21:54] vic-topcoder opened #1727 "[$50] Customer first see error immediately post login before coming to projects page"
_From @gargsaurabh86 on February 18, 2018 12:33_

### Reported URL ###
*URL where the issue occured, if applicable*

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. And keep observing

### Expected Result ###

Customer is navigated to projects page without seeing Error message

### Actual  Result ###

The customer is navigated to project

[2018-03-01 21:54] vic-topcoder commented on #1727
_From @sdgun on February 22, 2018 14:52_

For pshah_customer only

[2018-03-01 21:54] vic-topcoder opened #1728 "[$50] REF code field adds 'amp;' into '&'"
_From @macs054 on February 18, 2018 12:28_

### Reported URL ###
https://connect.topcoder-dev.com/projects

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pshah_manager/topcoder123
Open new project window (Create new project app)
Select App
Under 'REF code' type: '&'
Complete the remaining required fields
Click Continue
From the dashboard click 'View All Projects'
Sele

[2018-03-01 21:54] vic-topcoder opened #1729 "[$60] New page reload suggestion is not triggered for Response Edit"
_From @bikakk on February 18, 2018 12:23_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2608

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com
2. Login as pshah_customer
3. Open the project where post has been already created and response was posted
4. Now click on Edit comment against any post
5. Edit the comment and Save change
6. Make sure other team member

[2018-03-01 21:54] vic-topcoder commented on #1729
_From @sdgun on February 23, 2018 2:1_

@vic-topcoder

[2018-03-01 21:54] vic-topcoder commented on #1729
Valid

[2018-03-01 21:55] vic-topcoder opened #1730 "[$50] Notification is not triggered for Response Edit"
_From @bikakk on February 18, 2018 12:18_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2608

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com
2. Login as pshah_customer
3. Open the project where post has been already created and response was posted
4. Now click on Edit comment against any post
5. Edit the comment and Save change
6. Make sure other team member

[2018-03-01 21:55] vic-topcoder commented on #1730
_From @sdgun on February 23, 2018 2:48_

@vic-topcoder

[2018-03-01 21:55] vic-topcoder commented on #1730
Valid

[2018-03-01 21:55] vic-topcoder opened #1731 "[$60] Creating a new project from continuation does not redirect to Dashboard."
_From @macs054 on February 18, 2018 12:17_

### Reported URL ###
https://connect.topcoder-dev.com/new-project/app

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pshah_manager/topcoder123
Open new project window (Create new project app)
Select App
Type anything on the Project Name
Close the new project window
Open new project window
Click 'Continue where I left off'
Co

[2018-03-01 21:57] vic-topcoder opened #1732 "[$100] Specicifation shows blue ticks even if they are not filled on specification page"
_From @gargsaurabh86 on February 18, 2018 9:52_

### Reported URL ###
*URL where the issue occured, if applicable*

### Reproduction Steps ###
Login to https://connect.topcoder-dev.com/ with pshah_copilot/topcoder123
Create new project
Select QA project
Mobile testing project
Now you are on Let's setup your Mobility Testing project page.
Enter only MANDATOY Details like just Project Name, What kin

[2018-03-01 21:57] vic-topcoder opened #1733 "[$80] Question field is checked under design specifications/devlopment specification even if no question is answered"
_From @gargsaurabh86 on February 18, 2018 8:50_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2603/specification/

### Reproduction Steps ###
1. Login to application pshah_customer/ topcoder123
2. Create a new project by clicking on + button OR directly go to project specification using above URL
3. Provide all valid details to create

[2018-03-01 21:57] vic-topcoder opened #1734 "[$60] View all projects shows only 1 project after opening new project window from dashboard"
_From @macs054 on February 18, 2018 8:44_

https://connect.topcoder-dev.com/projects

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pshah_customer/topcoder123
Click on any of the listed projects
From the Dashboard open the new project window
Close the new project window
From the Dashboard click View All Projects

### Expected Result ###

Should show all projects

###

[2018-03-01 21:58] vic-topcoder opened #1735 "[$50] Error 500 shows first before loading projects list"
_From @macs054 on February 18, 2018 7:49_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pshah_customer/topcoder123
Notice the error 500
Click the logo

### Expected Result ###

Should load the page smoothly.

### Actual  Result ###

Error 500 gets shown first before loading the home

[2018-03-01 21:58] vic-topcoder opened #1736 "[$60] Window-Copilot – Not able to view notification from the Notification page"
_From @youdare on February 18, 2018 7:26_

Summary:
Window-Copilot – Not able to view notification from the Notification page

### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_copilot/topcoder123
3.Go to notification page
4.Access the notification

### Expected Result ###
Window-Copilot – Should able

[2018-03-01 21:58] vic-topcoder commented on #1736
_From @youdare on February 18, 2018 7:28_

https://youtu.be/mdLrPvwBO0I

[2018-03-01 21:58] vic-topcoder commented on #1736
_From @sdgun on February 21, 2018 6:23_

There is no specific test data or a direct URL provided to reproduce this issue. Incomplete bug report. When I click on a notification it will open the project related to that.

This Notification may be related to a deleted project.

[2018-03-01 21:58] vic-topcoder commented on #1736
_From @youdare on February 21, 2018 14:56_

@sdgun  Just now tried same step mentioned in the defect able to reproduce the issue.
Please check video in comment

[2018-03-01 21:59] vic-topcoder opened #1737 "[$60] App is logging out then logging in again after closing new project window"
_From @macs054 on February 18, 2018 6:59_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc&status=active

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pat_monahan/topcoder123!
Click All Projects tab
Scroll down and click 'Load more projects'
Switch to Tile View
Scroll down and click the New Project tile
Close the new project windo

[2018-03-01 21:59] vic-topcoder opened #1738 "[$50] Window-Manger – When we select the same project status application should not show message to user as “Project updated”"
_From @youdare on February 18, 2018 6:19_

Summary:
Window-Manger – When we select the same project status application should not show message to user as “Project updated”
### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_manager/topcoder123 and Verify the filter order
3.Go to any project and select t

[2018-03-01 21:59] vic-topcoder commented on #1738
_From @youdare on February 18, 2018 6:21_

https://youtu.be/6FRDMb8GzAc

[2018-03-01 22:01] vic-topcoder opened #1739 "[$50] Window-Member – Project is submitted for review if user click cancel on message prompt “"
_From @youdare on February 18, 2018 2:43_

Summary:
Window-Member – Project is submitted for review if user click cancel on message prompt “

### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_customer/topcoder123
3.Create a Web project with larger description and Project name
4.Go to specification and

[2018-03-01 22:01] vic-topcoder commented on #1739
_From @youdare on February 18, 2018 2:44_

https://youtu.be/PC5qQAm91eA

[2018-03-01 22:02] vic-topcoder opened #1740 "[$50] No notification triggered for active status"
_From @bikakk on February 17, 2018 23:33_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com/
2. Login as pshah_customer
3. submit a project for review
4. Login as manager and change the status of the project to Active
5. goto customer page and observe the notification

### Expected Result ###
N

[2018-03-01 22:03] vic-topcoder opened #1741 "_ is not defined when trying to view specification of a design project (other design type)"
_From @arun1595 on February 17, 2018 23:9_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2524/specification

### Reproduction Steps ###
1. Go to https://connect.topcoder-dev.com/
2. Click 'Login' button in the top right.
3. Login with the following credentials.
username - pshah_manager
password - topcoder123
4. Click the 'plus' icon in the navigation bar
5. Choose 'Design'
5. For

[2018-03-01 22:03] vic-topcoder commented on #1741
I think this was fixed.

[2018-03-01 22:04] vic-topcoder opened #1742 "[$70] Customer: Project estimate is not updated accordingly"
_From @bikakk on February 17, 2018 21:9_

### Reported URL ###
https://connect.topcoder-dev.com/new-project/wireframes?returnUrl=https://connect.topcoder-dev.com/projects/2509/

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com/
2. Login as pshah_customer
3. Click on New project icon
4. Click on view all under Design
5. Click on Wireframes
6. Provide the project name
7. select sc

[2018-03-01 22:05] vic-topcoder opened #1743 "[common] rich text plugin not working properly"
_From @winterflame on February 17, 2018 20:24_

### Reported URL ###
*https://connect.topcoder-dev.com/projects/800/discussions/2125*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. go to https://connect.topcoder-dev.com/projects/800/discussions
3. create a new discussion named "I am a topic"
4. then reply it with "ok" (with bold text an

[2018-03-01 22:05] vic-topcoder commented on #1743
_From @winterflame on February 17, 2018 20:24_

<img width="545" alt="ok" src="https://user-images.githubusercontent.com/4590317/36345353-a445b6ee-1463-11e8-8f4f-ec1228003a33.png">

[2018-03-01 22:05] vic-topcoder commented on #1743
Not a bug. The selection of code should strip away visual enhancements as it is displaying the text asp reformatted. The bug actually is in the text preview, not the post.

[2018-03-01 22:06] vic-topcoder opened #1744 "[$30] Negative numbers for budget is getting saved"
_From @kaygee1 on February 17, 2018 19:47_

Open https://connect.topcoder-dev.com/
Login as pshah_manager/topcoder123

create a project App project
https://connect.topcoder-dev.com/projects/2492/specification
Go to specification
scroll down and go to What is your project budget?

CLick on down arrow and observe

actual - the number is going to negative
and i can still save changes

expected - nega

[2018-03-01 22:06] vic-topcoder opened #1745 "[$40] trash icon should be fully clickable"
_From @winterflame on February 17, 2018 19:36_

### Reported URL ###
*https://connect.topcoder-dev.com/projects/2502*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pat_monahan/topcoder123!
2. create a new project (id is 2502)
3. then go to https://connect.topcoder-dev.com/projects/2502
4. on leftside, create some valid links
5. hover on any link name, move cursor

[2018-03-01 22:06] vic-topcoder commented on #1745
_From @winterflame on February 17, 2018 19:37_

<img width="389" alt="trash" src="https://user-images.githubusercontent.com/4590317/36344940-f8d67970-145c-11e8-99a4-a3b835fba1ab.png">

[2018-03-01 22:06] vic-topcoder commented on #1745
_From @sdgun on February 20, 2018 12:22_

Also, need to fix the background gray color issue. Only in Firefox

[2018-03-01 22:07] vic-topcoder opened #1746 "validation needed for comments"
_From @winterflame on February 17, 2018 19:23_

### Reported URL ###
*https://connect.topcoder-dev.com/projects/2502*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pat_monahan/topcoder123!
2. create a new project (id is 2502)
3. then go to https://connect.topcoder-dev.com/projects/2502
4. enter "<script>alert(100);</script>" as comment title and body , post it, ob

[2018-03-01 22:07] vic-topcoder commented on #1746
_From @winterflame on February 17, 2018 19:24_

<img width="713" alt="me" src="https://user-images.githubusercontent.com/4590317/36344845-3b125ca2-145b-11e8-82cb-42609638f0ac.png">

[2018-03-01 22:08] vic-topcoder opened #1747 "should validate project name"
_From @winterflame on February 17, 2018 19:5_

### Reported URL ###
*https://connect.topcoder-dev.com/projects/2502*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. select App as the project type
3. create a new project with title "<script>hello</script>"
4. fill other fields properly, proceed, observe

### Expected Result ###

*should

[2018-03-01 22:08] vic-topcoder commented on #1747
_From @winterflame on February 17, 2018 19:9_

<img width="1241" alt="ee1" src="https://user-images.githubusercontent.com/4590317/36344693-2a55493a-1459-11e8-8cf6-d40d16810071.png">

<img width="1107" alt="ee2" src="https://user-images.githubusercontent.com/4590317/36344694-2a8f5c24-1459-11e8-845b-287a28ab0d6b.png">

[2018-03-01 22:08] vic-topcoder opened #1748 "[$50] User section gets disabled when we leave it idle for a couple of minutes while trying to add/ delete ourself or any other user"
_From @kaygee1 on February 17, 2018 18:58_

Open https://connect.topcoder-dev.com/
Login as pshah_manager/topcoder123

Make sure there is a project created with members and manager added to it.

Now
GO to the project dashboard
Click on yourself and click on leave project

Dont do anything now and be idle for some time,switch windows and then after 2 minutes see the screen

actual - the leave group

[2018-03-01 22:09] vic-topcoder opened #1749 "[$80] Search result sorting is incorrect"
_From @macs054 on February 17, 2018 18:24_

### Reported URL ###
https://connect.topcoder-dev.com/projects?keyword=app%2520project&sort=best%20match

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pat_monahan/topcoder123!
Search for 'app project'
Notice the result

### Expected Result ###

Since the default sorting is Last Updated, must show items that are updated late

[2018-03-01 22:10] vic-topcoder opened #1750 "[$30] error occurred while cancel project"
_From @winterflame on February 17, 2018 18:24_

### Reported URL ###
*https://connect.topcoder-dev.com/projects/2179/*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_copilot/topcoder123
2. go to https://connect.topcoder-dev.com/projects/2179/, first change it to completed status
3. then select "CANCELLED", click Cancel Project button, select an option, click

[2018-03-01 22:10] vic-topcoder commented on #1750
_From @winterflame on February 17, 2018 18:24_

<img width="1192" alt="e2" src="https://user-images.githubusercontent.com/4590317/36344286-d25895bc-1452-11e8-86b1-d2e05262cc83.png">

[2018-03-01 22:10] vic-topcoder opened #1751 "[$50] Search converts space into encoded character"
_From @macs054 on February 17, 2018 18:20_

### Reported URL ###
https://connect.topcoder-dev.com/projects?keyword=app%2520project&sort=best%20match

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pat_monahan/topcoder123!
Search for 'app project'
Notice the text in the search bar

### Expected Result ###

Space should stay as space

### Actual  Result ###

Space conver

[2018-03-01 22:10] vic-topcoder commented on #1751
_From @macs054 on February 17, 2018 18:25_

The encode character disappears when you sort the list like what was shown in #22

[2018-03-01 22:11] vic-topcoder opened #1752 "[$50] Project status tab disappears when opening create project window"
_From @macs054 on February 17, 2018 18:14_

### Reported URL ###
https://connect.topcoder-dev.com/projects

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pat_monahan/topcoder123!
Open Filters
Click the '+' button to open create project window
Close the create project window
Notice the project status tabs

### Expected Result ###

Project status tabs should be visible

[2018-03-01 22:12] vic-topcoder opened #1753 "get error after adding member to project"
_From @winterflame on February 17, 2018 18:0_

### Reported URL ###
*https://connect.topcoder-dev.com/projects/2357*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_copilot/topcoder123
2. go to https://connect.topcoder-dev.com/projects/2357
3. on left side, click to add member
4. enter "test" then select test_1024 to add, observe

### Expected Result ###

*sho

[2018-03-01 22:12] vic-topcoder commented on #1753
_From @winterflame on February 17, 2018 18:1_

<img width="1400" alt="e" src="https://user-images.githubusercontent.com/4590317/36344055-973a282c-144f-11e8-9f33-d627a3b10ef2.png">

[2018-03-01 22:13] vic-topcoder opened #1754 "[$50] Cannot come out of sharing message without clearing the message"
_From @kaygee1 on February 17, 2018 17:57_

Open https://connect.topcoder-dev.com/
Login as pshah_manager/topcoder123
Click on any existing project

Tap on Share the latest project updates with the team
Enter data in both subject and body of the message
Now before sending the message click on DAsh board on the top
Click OK / Click CAncel \

actual - nothing happens
Click on View all projects in th

[2018-03-01 22:13] vic-topcoder commented on #1754
_From @kaygee1 on February 17, 2018 17:57_

![1](https://user-images.githubusercontent.com/5115050/36344025-25b65140-143a-11e8-8d87-ca1749ac92f2.png)

[2018-03-01 22:14] vic-topcoder opened #1755 "search logic is incorrect"
_From @winterflame on February 17, 2018 17:45_

### Reported URL ###
*https://connect.topcoder-dev.com/projects?keyword=s2334332&sort=best%20match&status=active*

### Reproduction Steps ###
1. login to application

2. enter "s2334332" to search, observe

### Expected Result ###

*should only show results containing the keyword.*

### Actual Result ###

*See screenshot.*

### Screenshots ###

### I

[2018-03-01 22:14] vic-topcoder commented on #1755
_From @winterflame on February 17, 2018 17:46_

<img width="1428" alt="1" src="https://user-images.githubusercontent.com/4590317/36343914-8a473512-144d-11e8-8115-30be1944895c.png">

[2018-03-01 22:14] vic-topcoder commented on #1755
_From @sdgun on February 19, 2018 18:42_

Search is not working for specific keywords. Like if we enter 'Adam EY Test' it won't show the relevant results, Also searching for 'Adam EY Test' shows 'Adam%20EY%20Test' on the search bar

[2018-03-01 22:15] vic-topcoder opened #1756 "[$50] Copyright year should be updated"
_From @kaygee1 on February 17, 2018 18:0_

Open Open https://connect.topcoder-dev.com/
Click on Login and see the copyright info

actual - it is © Topcoder 2017

expected - it should be © Topcoder 2018

![2](https://user-images.githubusercontent.com/5115050/36344050-788c5838-143a-11e8-8068-89477d06bb99.png)

_Copied from original issue: topcoderinc/connect-test-cycle-1#7_

[2018-03-01 22:15] vic-topcoder commented on #1756
_From @sdgun on February 19, 2018 20:20_

Only functional and UI accepted

[2018-03-01 22:15] vic-topcoder commented on #1756
_From @kaygee1 on February 20, 2018 3:3_

@sdgun
Yes, but see the Spec - The last bullet point on the spec - it very clearly asks the tester to test if
Miscellaneous:
Footer links work
Copyright year is current

[2018-03-01 22:15] vic-topcoder commented on #1756
_From @sdgun on February 20, 2018 3:16_

Accepted

[2018-03-01 22:16] vic-topcoder opened #1757 "[$30] Footer link terms should also open in a new tab/window like rest of the footer links"
_From @kaygee1 on February 17, 2018 17:46_

Open  https://connect.topcoder-dev.com/
Login as  pshah_manager/topcoder123

Scroll down to the footer
Click on all footer links and observe

actual - all links except Terms open in a new Tab

expected - Like all links even Terms should open in a new tab.

Win 10
Google Chrome is up to date
Version 64.0.3282.167 (Official Build) (64-bit)

_Copied from or

[2018-03-01 22:16] vic-topcoder commented on #1757
_From @kaygee1 on February 20, 2018 3:11_

Pls see the spec document - it says
Footer links work

I only tested to see if it works correctly. while others open in a new tab/ Terms should also be opening like that. This is defn a UI issue as it has to be consistent with the other footer links.

thanks

[2018-03-01 22:16] vic-topcoder commented on #1757
_From @kaygee1 on February 21, 2018 5:49_

Missed to reference you @sdgun
Pls look at my comment!

[2018-03-01 22:16] vic-topcoder commented on #1757
_From @kaygee1 on February 22, 2018 15:48_

@sdgun
Just checking again... wouldn't this be a UI issue? as the other links in footer are opening differently. ( in a new tab/window)

[2018-03-01 22:16] vic-topcoder opened #1758 "[$30] Add button text not in center"
_From @gargsaurabh86 on February 17, 2018 18:11_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2473/#comment-7616

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/
2. Use pshah_customer/topcoder123
3. Now enter https://connect.topcoder-dev.com/projects/2473
4. Under Project team hit +
5. The Add button Appears

[2018-03-01 22:16] vic-topcoder opened #1759 "[$15] Typo in the text while leaving the group"
_From @kaygee1 on February 17, 2018 18:54_

Open https://connect.topcoder-dev.com/
Login as pshah_manager/topcoder123

Make sure there is a project created with members and manager added to it.

Now
GO to the project dashboard
Click on yourself and click on  leave project
See the text

actual - Once you leave, somebody on the team has to add you fo you to be able to see the project. Do you still w

[2018-03-01 22:17] vic-topcoder opened #1760 "[$30] Project Name out of frame Project dashboard"
_From @gargsaurabh86 on February 17, 2018 20:5_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2505

### Reproduction Steps ###
1. Create a new project
2. Enter name as Namesdfsdfdfgxdfsdfsdfdfgxdfsdfsdfdfgxdfsdfsdfdfgxdfsdfsdfdfgxdf
3. Select all other values as valid
4 Which is your primary device target? - Phone
5. Description as Any

[2018-03-01 22:17] vic-topcoder commented on #1760
_From @sdgun on February 20, 2018 12:42_

Long name without spaces is not a valid input

[2018-03-01 22:17] vic-topcoder commented on #1760
_From @gargsaurabh86 on February 20, 2018 13:7_

@sdgun  this is not just when name is without spaces it can be with spaces as well. Please check below 3 screenshots.

![image](https://user-images.githubusercontent.com/29735376/36425453-c2e836bc-163e-11e8-8b07-10abd39e9d7f.png)
![image](https://user-images.githubusercontent.com/29735376/36425476-e38aecac-163e-11e8-9104-3b80e8510dfe.png)
![image](h

[2018-03-01 22:17] vic-topcoder commented on #1760
_From @sdgun on February 20, 2018 18:51_

Can you please comment the project name you have used to reproduce this issue (with spaces)

[2018-03-01 22:17] vic-topcoder commented on #1760
_From @gargsaurabh86 on February 20, 2018 19:25_

Please use below project name to test and reproduce the issue when there are spaces in the project name.
Browser : IE11
Window 7
Project name:
Just testing the long project name app project

[2018-03-01 22:17] vic-topcoder commented on #1760
_From @gargsaurabh86 on February 22, 2018 8:16_

@sdgun can you look into my above test data please.
Thanks you.

[2018-03-01 22:17] vic-topcoder opened #1761 "[$30] Dashboard icon is active on the discussions page"
_From @arun1595 on February 17, 2018 20:33_

### Reported URL ###
https://connect.topcoder-dev.com/projects/800/discussions

### Reproduction Steps ###
1. Go to https://connect.topcoder-dev.com/
2. Click 'Login' button in the top right.
3. Login with the following credentials.
username - pshah_manager
password - topcoder123
4. Go to https://connect.topcoder-dev.com/projects/800/discussions

### Ex

[2018-03-01 22:17] vic-topcoder opened #1762 "[$50] UI issue on Project page"
_From @gargsaurabh86 on February 17, 2018 20:37_

### Reported URL ###
https://connect.topcoder-dev.com/projects

### Reproduction Steps ###
1. Login to site using pshah_copilot/topcoder123
2. Click Project status icon for any project on extreme right
3. select cancelled option

### Expected Result ###
Project status icon should remain at same place

### Actual  Result ###

Project status icon is

[2018-03-01 22:18] vic-topcoder opened #1763 "[$40] Project status filter disapper when navigating back to it from project details page"
_From @gargsaurabh86 on February 17, 2018 23:50_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_copilot/topcoder123
2. Click Filter (next to search bar)
3. In Project Type Enter Website and Chatbot
4. Click on All Project filter
5. Select and navigate

[2018-03-01 22:18] vic-topcoder commented on #1763
_From @sdgun on February 21, 2018 7:59_

It's hidden under the filter drop down.

[2018-03-01 22:18] vic-topcoder opened #1764 "[$40] Year not shown if not current year"
_From @gargsaurabh86 on February 18, 2018 0:29_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=createdAt

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_copilot/topcoder123
2.  Select All Projects
3. Sort with oldest first

 ## Expected Result ###
As per speces: Show year if it is not current year.

### Actual  Result ###

Year is not dis

[2018-03-01 22:18] vic-topcoder opened #1765 "[$20] customer: Delete button tooltip is wrong"
_From @bikakk on February 18, 2018 0:32_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2510

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com/
2. Login as pshah_customer
3. Click any project which is draft status
5. open the project and observe the tooltip for delete button

### Expected Result ###
Delete button should have meaningfull tool tip.

### Actual  Re

[2018-03-01 22:18] vic-topcoder opened #1766 "[$60] Post feed->Create new post->User do not have option to cancel the post"
_From @gargsaurabh86 on February 18, 2018 0:55_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/1299

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_copilot/topcoder123
2. Select any project and navigate to its details page like https://connect.topcoder-dev.com/projects/1299
3. Start entering "Share

[2018-03-01 22:18] vic-topcoder commented on #1766
_From @sdgun on February 21, 2018 10:22_

Clicking on a empty space will hide the form

[2018-03-01 22:18] vic-topcoder commented on #1766
_From @gargsaurabh86 on February 22, 2018 11:58_

@sdgun if you follow steps 3 i.e. enter something in form then you won't be able to hide form when clicking on empty space.

Thanks.

[2018-03-01 22:18] vic-topcoder commented on #1766
_From @gargsaurabh86 on February 22, 2018 15:4_

@sdgun waiting for reply. Thank you.

[2018-03-01 22:19] vic-topcoder opened #1767 "[$30] Window-Member – Project Name and Which is your primary device target? Is getting overlapped after submitting fore review."
_From @youdare on February 18, 2018 2:36_

Summary:
Window-Member – Project Name and Which is your primary device target? Is getting overlapped after submitting fore review.

### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_customer/topcoder123
3.Create a Web project with larger description and Proje

[2018-03-01 22:19] vic-topcoder opened #1768 "[$15] tooltip for adding discussion should be changed"
_From @winterflame on February 18, 2018 4:36_

### Reported URL ###

*https://connect.topcoder-dev.com/projects/800/discussions*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. go to https://connect.topcoder-dev.com/projects/800/discussions
3. create some new discussions one after another, it will display error message
4. then hover on t

[2018-03-01 22:19] vic-topcoder commented on #1768
_From @winterflame on February 18, 2018 4:36_

<img width="1210" alt="add" src="https://user-images.githubusercontent.com/4590317/36348343-5d2059dc-14a8-11e8-807c-37b2e77915ee.png">

[2018-03-01 22:19] vic-topcoder opened #1769 "[$20] Tile view 'No more Active projects' label have different font"
_From @macs054 on February 18, 2018 7:9_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc&status=active

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pat_monahan/topcoder123!
Switch to Tile view
Scroll down until you see the label 'No more Active projects'

### Expected Result ###

Font should be the same as the one in list view

[2018-03-01 22:19] vic-topcoder opened #1770 "[$20] Filter UI issue in Chrome"
_From @macs054 on February 18, 2018 12:48_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc&status=active

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/ using Chrome
Login as pshah_manager/topcoder123
Click Filter

### Expected Result ###

Filter should be properly positioned

### Actual  Result ###

Filter position is broken

### Screensho

[2018-03-01 22:20] vic-topcoder opened #1771 "[$30] Admin is seeing remove icon twice if he is owner of project as well"
_From @gargsaurabh86 on February 18, 2018 18:0_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2617

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. Navigate to Any project and add pat_monahan as member
3. Now make pat_monahan as owner
4. Logout
5. Login to https://connect.top

[2018-03-01 22:20] vic-topcoder commented on #1771
_From @sdgun on February 22, 2018 16:4_

Can't reproduce in Edge
![2018-02-22_10-04-10](https://user-images.githubusercontent.com/4592712/36549193-c231fe72-17b7-11e8-9a32-cf64e3c6d75f.jpg)

[2018-03-01 22:20] vic-topcoder commented on #1771
_From @gargsaurabh86 on February 22, 2018 16:17_

It's because you are logged in as customer who is owner and trying to delete admin.
But
I'm logged in as admin who is owner as well and deleting customer.

[2018-03-01 22:20] vic-topcoder opened #1772 "[$40] No edit option for 1st post in discussion"
_From @gargsaurabh86 on February 18, 2018 18:55_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/665/discussions/2432

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. Navigate to Discussion like https://connect.topcoder-dev.com/projects/665/discussions/
3. Create a new discussio

[2018-03-01 22:20] vic-topcoder commented on #1772
_From @sdgun on February 22, 2018 16:9_

Can be seen in few more instances

https://connect.topcoder-dev.com/projects/800/discussions/2267
https://connect.topcoder-dev.com/projects/800/discussions/2265

But for some of the items, edit button is there

https://connect.topcoder-dev.com/projects/800/discussions/2106
https://connect.topcoder-dev.com/projects/800/discussions/2076

[2018-03-01 22:20] vic-topcoder opened #1773 "[$30] 2 Tooltips displayed for the same icon."
_From @bikakk on February 18, 2018 19:12_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2632/

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com
2. Login as pshah_customer
3. Open the a new project and submit for review
4. Now add a new member to the project
5. Observe the tooltip for promoting the new member as owner icon

### Expected Result ###

Tooltip show

[2018-03-01 22:20] vic-topcoder opened #1774 "[$20] Search bar showing 2 cross buttons on edge browser"
_From @gargsaurabh86 on February 18, 2018 22:39_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects?sort=best%20match&status=active

### Reproduction Steps ###
1. Login to application using pshah_manager / topcoder123
2. start typing something in search bar for ex: sample

### Expected Result ###

Only one cross button should be shown in se

[2018-03-01 22:21] vic-topcoder opened #1775 "[$40] Card view issue when Project status is selected as completed"
_From @gargsaurabh86 on February 19, 2018 1:25_

### Reported URL ###
*URL where the issue occurred, if applicable*
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc&status=active

### Reproduction Steps ###

1. Login to https://connect.topcoder-dev.com/ using pshah_manager / topcoder123
2. Select Card view
3. On any card
4. Select Project status as Completed from drop-down list
5. A

[2018-03-01 22:21] vic-topcoder opened #1776 "[$15] canceled should be cancelled for consistency"
_From @winterflame on February 19, 2018 6:0_

### Reported URL ###

*https://connect.topcoder-dev.com/projects/2669*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. create a project, then cancel it
3. go to project dashboard: https://connect.topcoder-dev.com/projects/2669, observe

### Expected Result ###

*canceled should be cancelled f

[2018-03-01 22:21] vic-topcoder commented on #1776
_From @sdgun on February 23, 2018 2:54_

@vic-topcoder

[2018-03-01 22:21] vic-topcoder commented on #1776
Yes, valid, should be "Canceled" - US English

[2018-03-01 22:21] vic-topcoder opened #1777 "[$15] typo on the notification page"
_From @winterflame on February 19, 2018 6:25_

### Reported URL ###

*https://connect.topcoder-dev.com/settings/notifications*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. go to https://connect.topcoder-dev.com/settings/notifications, observe

### Expected Result ###

*boottom should be bottom.*

### Actual Result ###

*See screenshot

[2018-03-01 22:21] vic-topcoder opened #1778 "[$15] Wrong Tool tip for Delete icon"
_From @8unn on February 19, 2018 7:3_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2677/specification

### Reproduction Steps ###
1.Login as: pshah_copilot/topcoder123
2. Go to the above URL, Scroll down to Project Files"
3. Upload any random file.
4. Hover over the Delete icon.

### Expected Result ###

Wrong tool-tip shown - "Combined Shape"

### Actual  Result ###

Right "Del

[2018-03-01 22:21] vic-topcoder opened #1779 "[$15] Inappropriate "Fill 146" tool-tip description when hovered over"
_From @8unn on February 19, 2018 7:8_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2677/specification

### Reproduction Steps ###
1.Login as: pshah_copilot/topcoder123
2. Go to the above URL, Scroll down to Project Files"
3. Upload any random file.
4. Hover over the Edit name option of the uploaded file.

### Expected Result ###

The right tool-tip of "Edit" should be shown.

##

[2018-03-01 22:22] vic-topcoder opened #1780 "[$15] tooltip should be corrected"
_From @winterflame on February 19, 2018 10:2_

### Reported URL ###

*https://connect.topcoder-dev.com/projects/2679/specification*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. create a new project (select App as project type), then upload a text file, click the Edit icon
3. check the tooltip for the 2 icons

### Expected Result ###

[2018-03-01 22:22] vic-topcoder opened #1781 "[$15] Not specific Tool-tip for edit button in Share latest projects updates"
_From @8unn on February 19, 2018 10:24_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2681

### Reproduction Steps ###
1. Login as: pshah_customer/topcoder123
2. Go to the above link, and share something in "Share the latest project updates with the team".
3. Hover over the edit button besides.

### Expected Result ###

Correct tool-tip present.

### Actual  Result ###

The tool

[2018-03-01 22:22] vic-topcoder opened #1782 "[$40] Wireframe project with 15 screens but only 10 impotance"
_From @gargsaurabh86 on February 19, 2018 18:3_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2695/specification/

### Reproduction Steps ###
Log in to https://connect.topcoder-dev.com/ with pshah_manager/topcoder123
1. Create a new Wireframe project with 15 screens
2. Navigate to Specifications
3. Go to App Screens section
5 Start add

[2018-03-01 22:22] vic-topcoder commented on #1782
valid

[2018-03-01 22:22] vic-topcoder opened #1783 "[$30] Window-Manager – Title of the notification page is named as “Profile and setting” instead of “Notification Setting”"
_From @youdare on February 19, 2018 20:50_

1. Summary:
Window-Manager – Title of the notification page is named as “Profile and setting” instead of “Notification Setting”
### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_manager/topcoder123
3.Click Notification bell
4.Click View all notification
5.Cl

[2018-03-01 22:22] vic-topcoder commented on #1783
_From @youdare on February 19, 2018 20:52_

https://youtu.be/ytJaRgY_qlk

[2018-03-01 22:22] vic-topcoder commented on #1783
_From @sdgun on February 23, 2018 2:55_

@vic-topcoder

[2018-03-01 22:22] vic-topcoder commented on #1783
valid

[2018-03-01 22:23] vic-topcoder opened #1784 "[$15] Window-Common –Firefox – Tool Tip for “Connect” Logo is wrong. its displaying as “Connect logo positive mono”"
_From @youdare on February 20, 2018 8:44_

1. Summary:
Window-Common –Firefox – Tool Tip for “Connect” Logo is wrong. its displaying as “Connect logo positive mono”
### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_customer/topcoder123
3.Move the mouse over the Logo

## Expected Result ###
Window-Comm

[2018-03-01 22:23] vic-topcoder opened #1785 "[$15] Tooltip id displayed incorrectly when hovered on Add Team member option"
_From @pratn75 on February 20, 2018 9:45_

### Reported URL ###
*URL where the issue occured, if applicable*

### Reproduction Steps ###
1. Open a project
2. Hover the mouse on Add Team Member option

### Expected Result ###

Tooltip should display 'Add Team Member' consistently

### Actual  Result ###

Sometimes the tooltip displays 'IconUIBoldAdd'

### Screenshots ###

*Paste screenshots here.*

[2018-03-01 22:23] vic-topcoder opened #1786 "[$20] Window-Firefox –After adding the Feature requirement we have UI issue."
_From @youdare on February 20, 2018 11:24_

1. Summary:
Window-Firefox –After adding the Feature requirement we have UI issue.
### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_customer/topcoder123
3. Create App project
4.Go to specification tab
5. go to Feature requirement section and Add some featur

[2018-03-01 22:23] vic-topcoder commented on #1786
SVG icons are not rendered properly in this case.

[2018-03-01 22:24] vic-topcoder opened #1787 "[$40] should not be able to upload file when the delete confirmation modal is still shown"
_From @winterflame on February 19, 2018 10:23_

### Reported URL ###

*https://connect.topcoder-dev.com/projects/2679/specification*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. create a new project (select App as project type), then upload some text files
3. click the Trash icon of the file (Now the delete confirmation modal is shown

[2018-03-01 22:24] vic-topcoder opened #1788 "[$30] Window-Member – Load more button should be disabled if we don’t have more project to display"
_From @youdare on February 17, 2018 23:32_

Summary:
Window-Member – Load more button should be disabled if we don’t have more project to display
### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2.Log in with pshah_customer/topcoder123
3.Create 19 project
4.Click Load more button
### Expected Result ###
Window-Member – L

[2018-03-01 22:24] vic-topcoder commented on #1788
_From @sdgun on February 20, 2018 19:58_

After clicking on the button error is handled properly, so not a bug.

[2018-03-01 22:27] vic-topcoder opened #1789 "[$40] should be able to remove single filter option"
_From @winterflame on February 17, 2018 19:49_

### Reported URL ###
*https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pat_monahan/topcoder123!
2. open filter section, filter with some options

### Expected Result ###

*Should be able to remove any single option value by clicking on it.*

### Actual Res

[2018-03-01 22:27] vic-topcoder commented on #1789
_From @winterflame on February 18, 2018 1:9_

<img width="1407" alt="single" src="https://user-images.githubusercontent.com/4590317/36347174-70bcb692-148b-11e8-9164-ec743e8a3721.png">

[2018-03-01 22:27] vic-topcoder commented on #1789
Correct! React-select supports removable values. Let's bring the function back.

[2018-03-01 22:50] vic-topcoder opened #1790 "[$60] click on the notification message should dismiss the modal"
_From @winterflame on February 19, 2018 9:39_

### Reported URL ###

*https://connect.topcoder-dev.com/projects/2652/specification*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. create a new project, then update the project (e.g. edit project details) so that some notifications are received
3. go to specification page: https://connect.

[2018-03-01 22:50] vic-topcoder commented on #1790
by design the notifications are not dismissed when clicking on them.

[2018-03-01 23:02] vic-topcoder opened #1791 "[$100] Window-Mozilla –All the entered specification details are lost, in customer page, if project manager move the project from In-Review to Draft"
_From @youdare on February 20, 2018 13:56_

1. Summary:
Window-Mozilla –All the entered specification details are lost, in customer page, if project manager move the project from In-Review to Draft
### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_customer/topcoder123
3. Create App project
4.Go to spe

[2018-03-01 23:02] vic-topcoder commented on #1791
_From @youdare on February 20, 2018 13:58_

![image](https://user-images.githubusercontent.com/31862600/36427495-5f0bfe32-1673-11e8-8565-08188dc70697.png)
![image](https://user-images.githubusercontent.com/31862600/36427504-67d14478-1673-11e8-9128-e50b17f6b76c.png)

![image](https://user-images.githubusercontent.com/31862600/36427370-0efc5090-1673-11e8-90f2-7e2b501dc689.png)

![image](https://user

[2018-03-01 23:02] vic-topcoder commented on #1791
_From @sdgun on February 23, 2018 1:48_

@vic-topcoder

[2018-03-01 23:02] vic-topcoder commented on #1791
Yeah, that shouldn't happen. Thanks for reporting!

[2018-03-01 23:03] vic-topcoder opened #1792 "[$120] Not working feed : Member of a project - 2+ views - show what’s new since last time I viewed the feed"
_From @gargsaurabh86 on February 20, 2018 1:1_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2724

### Reproduction Steps ###
Login as customer on Chrome
Add Copilot pshah_copilot as member to project like https://connect.topcoder-dev.com/projects/2724/ and stay on dashboard of project i.e. https://connect.topcoder-dev.com/projects/272

[2018-03-01 23:03] vic-topcoder commented on #1792
_From @sdgun on February 23, 2018 2:0_

@vic-topcoder

[2018-03-01 23:03] vic-topcoder commented on #1792
Valid

[2018-03-01 23:03] vic-topcoder opened #1793 "[$100] Admin user not able to change most of fields on Specification page"
_From @gargsaurabh86 on February 19, 2018 23:24_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2670/specification

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pat_monahan/topcoder123!
2. Navigate to any project where Admin not joined
3. Now navigate to its Specification page like https://connect.topco

[2018-03-01 23:03] vic-topcoder opened #1794 "[$60] Chat bot Project Specification - question count is not changing for "What capabilities does the chatbot need to support?" question"
_From @gargsaurabh86 on February 19, 2018 23:17_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2723/specification/

### Reproduction Steps ###
1. Login as pshah_manager/topcoder123
2. Navigate to any chatbot project for example https://connect.topcoder-dev.com/projects/2723/specification/
3. observe that question section is having tota

[2018-03-01 23:03] vic-topcoder commented on #1794
_From @gargsaurabh86 on February 19, 2018 23:37_

Question "What capabilities does the chatbot need to support?" is always counted as 1 even if not answered.
https://youtu.be/kVL9nQIZftE

[2018-03-01 23:04] vic-topcoder opened #1795 "[$60] Window-Customer –Project is submitted for review while clicking “cancel” button on the message prompt “You have unsaved changes. Are you sure you want to leave?"
_From @youdare on February 19, 2018 21:51_

1. Summary:
Window-Customer –Project is submitted for review while clicking “cancel” button on the message prompt “You have unsaved changes. Are you sure you want to leave?”

### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Log in with pshah_customer/topcoder123
3.Create App

[2018-03-01 23:04] vic-topcoder commented on #1795
_From @youdare on February 19, 2018 21:53_

https://youtu.be/YcTpi6qCb28

[2018-03-01 23:04] vic-topcoder opened #1796 "[$60] Issue with Wireframe project adding number of screens"
_From @gargsaurabh86 on February 19, 2018 17:58_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2695/specification/

### Reproduction Steps ###

1. Log in to https://connect.topcoder-dev.com/ with pshah_manager/topcoder123
2. Create a new Wireframe project
3. Navigate to Specifications
4.  How many screens do you need designed? As **15*

[2018-03-01 23:04] vic-topcoder commented on #1796
_From @gargsaurabh86 on February 19, 2018 17:59_

![image](https://user-images.githubusercontent.com/29735376/36391495-a77f94ce-159e-11e8-9f3a-28dada0bebb0.png)

[2018-03-01 23:04] vic-topcoder commented on #1796
_From @sdgun on February 22, 2018 11:7_

This happens when user selects 10 screen project and switch to the 15 screens and try to add 15 screens. So when user switch to the 15 screens section 'Save button' must enable and user should able to save before adding screens

[2018-03-01 23:05] vic-topcoder opened #1797 "No Reload suggestion for project members"
_From @gargsaurabh86 on February 19, 2018 15:37_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2666

### Reproduction Steps ###
1. Login as manager pshah_manager / topcoder123 in one browser and pshah_customer / topcoder123 in another browser
2. navigate to a project which is currently in draft state for both manager and customer (in t

[2018-03-01 23:05] vic-topcoder commented on #1797
_From @sdgun on February 23, 2018 2:0_

@vic-topcoder

[2018-03-01 23:05] vic-topcoder commented on #1797
valid

[2018-03-01 23:05] vic-topcoder opened #1798 "[$60] Clicking user profile from tooltip also opens the project that user belongs to"
_From @macs054 on February 19, 2018 13:13_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc&status=active

### Reproduction Steps ###
Go to https://connect.topcoder-dev.com/
Login as pshah_manager/topcoder123
Switch to tile view
Hover to one of the managers on any project to show user tooltip
Click the manager's picture from the tooltip to show his/her's profil

[2018-03-01 23:06] vic-topcoder opened #1799 "[$15] Wrong grammar on Submit for review page"
_From @8unn on February 19, 2018 8:29_

### Reported URL ###
https://connect.topcoder-dev.com/projects/2677/specification

### Reproduction Steps ###
1.Login as: pshah_copilot/topcoder123
2.Go to the above URL.
3.Scroll down to the bottom, to Project files,Submit a review.
### Expected Result ###

The sentence should be grammatically correct.It should be-"In order to submit your project, please fi

[2018-03-01 23:07] vic-topcoder opened #1800 "[$50] User is not taken to the next page , when the user taps on OK button in page leave alert pop in the discussion pages"
_From @JAMa1994 on February 18, 2018 10:21_

### Reported URL ###
https://connect.topcoder-dev.com/projects/263/discussions

### Reproduction Steps ###
1. Invoke url
2.sign in with valid credentials [ [pshah_copilot/topcoder123]]
3.Tap on All projects option
4.Tap on any project or bug fix project option
5.Tap on discussion option
6.Enter the coments and tap on post
7.Tap  on specification option

[2018-03-01 23:08] vic-topcoder opened #1801 "[$50] Edit link option not coming for member"
_From @gargsaurabh86 on February 18, 2018 3:25_

### Reported URL ###
*URL where the issue occured, if applicable*

### Reproduction Steps ###
1. Login as https://connect.topcoder-dev.com as pat_monahan/topcoder123!
2. open any project or https://connect.topcoder-dev.com/projects/2560
3. join the project if not already joined
4 . Create new links if old links not present
5. Now hover mouse over ad

[2018-03-01 23:11] vic-topcoder opened #1802 "[$70] user should not be able to click "Add File" button if the user does not have edit permission to the project"
_From @winterflame on February 18, 2018 1:18_

### Reported URL ###

*https://connect.topcoder-dev.com/projects/2498/specification*

### Reproduction Steps ###
1. login to https://connect.topcoder-dev.com/ using pshah_manager/topcoder123
2. create a new project
3. then login using another user who has no manage permission to this project, go to https://connect.topcoder-dev.com/projects/2498/specif

[2018-03-01 23:11] vic-topcoder commented on #1802
_From @winterflame on February 18, 2018 1:19_

<img width="1367" alt="dis" src="https://user-images.githubusercontent.com/4590317/36347224-db636350-148c-11e8-9e99-bd6ba0f3adfb.png">

[2018-03-01 23:11] vic-topcoder commented on #1802
_From @winterflame on February 18, 2018 2:18_

Currently user is able to add file to the project which he/she only has view permission.

[2018-03-01 23:11] vic-topcoder opened #1803 "Manager: Search is not giving the proper result after applying the filter"
_From @bikakk on February 18, 2018 1:12_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com/
2. Login as pshah_manager
3. Provide a project name in the search bare ex: BIK and search it
4. Observe the project type of displayed result and now apply the filter for any project type
5. ex: Chatbot
6

[2018-03-01 23:12] vic-topcoder opened #1804 "[$100] Manager: Able to select a status change without closing the previous warning message popup window"
_From @bikakk on February 18, 2018 0:23_

### Reported URL ###
https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc

### Reproduction Steps ###
1. Open https://connect.topcoder-dev.com/
2. Login as pshah_manager
3. Click on any project which is not complete/paused/cancelled
5. Select the status completed from the status icon and observe the warning message then don't close it
6. Now sel

[2018-03-01 23:13] vic-topcoder opened #1805 "[$100] Window-Member – Project is not created successfully, If user tries to create project without log in."
_From @youdare on February 18, 2018 0:0_

Summary:
Window-Member – Project is not created successfully, If user tries to create project without log in.
### Reported URL ###
 https://connect.topcoder-dev.com/
### Reproduction Steps ###
1. Go to  https://connect.topcoder-dev.com/
2. Click “Start A Project”
3.Create a project
4. Application will ask for the Registration
5.Fill the registration form a

[2018-03-01 23:13] vic-topcoder commented on #1805
Let's investigate this one

[2018-03-01 23:15] vic-topcoder opened #1806 "Leave project issue"
_From @gargsaurabh86 on February 17, 2018 18:14_

### Reported URL ###
*URL where the issue occured, if applicable*
https://connect.topcoder-dev.com/projects/2473/

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. navigate to https://connect.topcoder-dev.com/projects/2473/ project
3. On left side under Project team
4. Hove over Parth Cust

[2018-03-01 23:15] vic-topcoder commented on #1806
let's investigate this one

[2018-03-04 23:17] gondzo commented on #1662
@vic-topcoder is this about the notification text or the topic on the dashboard feed?

[2018-03-04 23:27] gondzo commented on #1708
Thanks for adding the info to the wiki @vic-topcoder
https://github.com/appirio-tech/connect-app/wiki/Community-Work-Read-Me-First!

[2018-03-04 23:31] gondzo commented on #1702
Removing this item from CF08 - we'll need to run a separate challenge for this one

[2018-03-04 23:33] gondzo commented on #1680
we're removing the coderbot posts from the dashboard in a separate issue. closing.

[2018-03-04 23:33] #1680 closed

[2018-03-04 23:48] #1741 closed

[2018-03-04 23:49] #1743 closed

[2018-03-04 23:50] gondzo commented on #1746
this is not a bug, backend will remove dangerous info from the comments

[2018-03-04 23:50] #1746 closed

[2018-03-04 23:51] gondzo commented on #1747
not a bug IMO, there is no security issue here

[2018-03-04 23:51] #1747 closed

[2018-03-04 23:53] gondzo commented on #1750
user should not be able to change status to canceled from completed? @vic-topcoder

[2018-03-04 23:55] gondzo commented on #1753
not a bug, the error was displayed correctly

[2018-03-04 23:55] #1753 closed

[2018-03-04 23:56] #1755 closed

[2018-03-05 00:12] gondzo commented on #1797
page reload suggestions are created for feed updates only. closing

[2018-03-05 00:12] #1797 closed

[2018-03-05 00:14] gondzo commented on #1803
this is duplicate of other search results quality issues

[2018-03-05 00:14] #1803 closed

[2018-03-05 06:56] anonymousjaggu commented on #1799
@gondzo @vic-topcoder can I pick this issue

[2018-03-05 11:38] gondzo commented on #1346
@vikasrohit the existing messages can't simply be added to categories because we are using private topics, so we need to recreate all posts/topics via the discourse api. There would be no downtime while creating the new topics and we would be able to easily revert to the current behavior without changing any data, just by reverting tc-message-service. Once we have tested the new behavior, we can d

[2018-03-05 19:38] vic-topcoder commented on #1662
That's the name of the system bot - system profile - should be "Coder the Bot" instead "coder bot" - everywhere where the system is represented by the robot, This includes alerts, notifications, posts, emails, etc.

[2018-03-05 19:42] vic-topcoder commented on #1750
No completed project can be cancelled. Completed is the ultimate end state and can't be reopened. Cancelled might actually be bought back to live. I would like us to rethink the project flow in the future to clean up the system a bit. Cancelling a project currently asks way to many reasons and the UX isn't effective enough.

[2018-03-05 23:20] vic-topcoder opened #1807 "Link cannot be created on Connect"
### Expected behavior
To be able to add a link with any kind of URL

### Actual behavior
Errors is thrown in console and message is displayed “Please add a name for your project and then try saving again.”

### Steps to reproduce the problem
1. Open project (https://connect.topcoder.com/projects/4827/)
2. Click on the plus icon next to Links header
3. Fill in Name and URL
4. Click on “Add Link” bu

[2018-03-06 02:16] birdofpreyru commented on #1663
FYI: I took care of it in https://github.com/topcoder-platform/community-app/commit/21e7d81672d1be0c9f8456205a8285fb2b681bb3
It lacks some more testing and deployment to prod, but otherwise we can consider the issue resolved.

In few words:
- Community App now has an endpoint that pulls user avatars from the backend, and scales them to fit the size specified by the request;
- This endpoint can be

[2018-03-06 17:32] vic-topcoder opened #1809 "[$100] Reply not working sometimes"
Joey is reporting he is unable to get the reply field active/working sporadically.

<img width="560" alt="screenshot" src="https://user-images.githubusercontent.com/8484061/37047897-359df0f6-2121-11e8-9867-fac22f4c19ac.png">

[2018-03-06 17:32] vic-topcoder commented on #1809
@gondzo @mtwomey @cwdcwd can we look into this one?

[2018-03-07 05:20] vikasrohit commented on #1346
@gondzo I am not much comfortable in this approach because it would recreated new ids for every topic/post. I guess, it would also change the timestamps for all of them. Let me know if I misunderstood the approach.

[2018-03-07 07:12] maxceem commented on #1346
@vikasrohit yes, you are right ids will be changed. Regarding timestamps, API lets us update them so we can copy one of the timestamps `created_at` or `updated_at` of existent posts and put to both `created_at`/`updated_at` of the new one.