[2017-11-07 23:06] mtwomey commented on #1217
@vikasrohit Can we please refresh the status on this one? I feel like I've already seen something for this, or am I confused?

[2017-11-08 10:35] vikasrohit commented on #1267
@mtwomey yes it is mostly done. I am open for any issues or mismatch from specs.

[2017-11-08 10:37] vikasrohit commented on #1217
@mtwomey You might have seen it in dev because my branch was there in dev for some time. 😬

It is mostly done, I am open for any suggestion or issues if changes do not met the specs.

[2017-11-08 17:25] birdofpreyru commented on #881
@gondzo try now: related meta-tags have been added to challenge listing and details pages.

[2017-11-09 01:44] vic-topcoder opened #1294 "Watson chatbot updates [priority]"
We need to add a disclaimer footer at the Chatbot powered by Watson project. Under the form body we need a line of text
"IBM is receiving compensation from Topcoder for referring customers to IBM Watson Conversation Service."

This disclaimer should be only for the Chatbot. Please use a regular left-aligned label small (12px), $tc-gray-50.

![image](https://user-images.githubusercontent.com/848406

[2017-11-09 01:47] vic-topcoder commented on #1294
@vikasrohit please add it and push to production ASAP - we're waiting on this to get the service going.

[2017-11-09 01:48] vic-topcoder commented on #1217
@vikasrohit can we get the feature in Dev so I can review? Thanks

[2017-11-09 03:10] gondzo commented on #881
thanks @birdofpreyru . Looks good
![image](https://user-images.githubusercontent.com/3051646/32586595-3f729390-c4b8-11e7-98cc-95b26fe5916e.png)

The preview image might be smaller, but I guess that is something we can handle in the app if needed. @rsial2 OK to close this one ?

[2017-11-09 05:02] gondzo commented on #1289
this is now implemented and merged to dev.
![image](https://user-images.githubusercontent.com/3051646/32589193-fe9fc8a0-c4c7-11e7-88af-90fe09513a48.png)
![image](https://user-images.githubusercontent.com/3051646/32589227-2ee2cb98-c4c8-11e7-9cc1-371d58c1dc7e.png)

@vic-topcoder @kbowerma Let me know if this looks good and if we can close this.

[2017-11-09 11:19] vikasrohit opened #1296 "Two toaster are being shown when user updates a project's specs"
When user goes to edit the project immediately after creating it, it shows two toaster messages when user hits `Save Changes` button on the Specification tab. It does not show the toaster for project creation after user is redirected to the project details page after project creation.

<img width="1280" alt="screen shot 2017-11-09 at 4 13 45 pm" src="https://user-images.githubusercontent.com/24176

[2017-11-09 11:21] vikasrohit commented on #1296
@sachin-maheshwari can you please check if we are getting this issue only after our recent changes for the milestone https://github.com/appirio-tech/connect-app/milestone/14 or is it there before these changes. I doubt this is happening because of react router upgrade.

[2017-11-09 11:21] vikasrohit commented on #1217
@vic-topcoder Changes are in dev now. I had to upgrade react-components repo as well to react-router v4 to get it working in dev.

[2017-11-09 11:27] vikasrohit commented on #1294
Done. Added support for showing disclaimer at form bottom. @vic-topcoder I have shown the disclaimer at new project form and project edit form both.

[2017-11-09 11:51] vikasrohit commented on #1173
@vic-topcoder @jpoarch I am able to add these new fields to SFDC as well in following format.

<img width="266" alt="screen shot 2017-11-09 at 5 16 48 pm" src="https://user-images.githubusercontent.com/2417632/32603991-d840281c-c571-11e7-9636-77a06a8b0624.png">
Please note it save the id of the options we show on UI for budget type, when to start and deadline questions.

[2017-11-09 15:14] vic-topcoder commented on #1294
The change is not in Dev, just production. Can we add the code to DEV as well please? Thanks for the quick job well done :)

[2017-11-09 15:26] vic-topcoder commented on #1289
@gondzo the text size seems a bit small - let's make sure it's 13px. That's the only thing, looks great!

[2017-11-09 15:33] gondzo commented on #1289
Done.
![image](https://user-images.githubusercontent.com/3051646/32613617-46f4bd06-c520-11e7-880e-aa8639e05c9d.png)

Closing.

[2017-11-09 15:33] #1289 closed

[2017-11-09 15:37] vic-topcoder commented on #1289
great! Can we get this in DEV? Thanks.

[2017-11-09 15:55] gondzo commented on #1289
It should be in dev already

[2017-11-09 16:05] vic-topcoder commented on #1289
🥇

[2017-11-09 16:17] vic-topcoder opened #1297 "Watson chatbot content updates [priority]"
Need to update "IBM Bluemix" to "IBM Cloud"

Source: {Do you have an existing IBM Bluemix account?}

Should become: “Do you have an existing IBM Cloud (formerly IBM Bluemix) account?”

Can we update and release please? Thanks!

[2017-11-09 21:34] vic-topcoder commented on #1267
Great progress so far. Small changes are still needed:
Project listing/main page - **Customer**
- [ ] Remove the underline on active tab
- [ ] Tabs should be flushed left to the logo (40px between logo and navigation)
- [ ] Let's bring back the create new project (circle with plus) button, copy from the project details page

Project details page:
- [ ] Title text is not up to spec - font size shou

[2017-11-09 21:46] vic-topcoder commented on #1268
Project delete icon is "canceled.svg".

Small updates on the side bar:
- [ ] When adding a link, the react control should update itself without reloading the whole page, or without the need to reload. Right now the link doesn't appear in the control until the page is reloaded.
- [ ] Project description text should be auto height controller. Minimum 1 line of text, maximum 4 lines, limit text exces

[2017-11-09 22:06] vic-topcoder opened #1298 "Move "my projects" switch outside filters as consistent element on top navigation"
Admin interface (project grid) should have the "My projects" switch visible at all times as it is a feature used quite often. This would help people to quickly switch between all projects and only the ones they're part of.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-81

[2017-11-10 05:47] vikasrohit commented on #1173
Okay, I would take care of these issues today.

@vic-topcoder This is happening because of one of the workaround I have made for configuring rc-slider component to behave like a radio button. Technically Sliders are not radio button or groups. The problem is that all slider libraries don't support null default value i.e. they always put slider to minimum position when we don't supply any value to

[2017-11-10 06:20] vikasrohit commented on #1173
@vic-topcoder I have updated notes section description as per suggestion. It is done for all project templates except mobility and real world testing because those two have different copy (`Please enter any additional information like requirements and/or test cases.  After creating                   your project you will be able to upload files.`) for notes. If you like to update them as well, ple

[2017-11-10 06:36] sachin-maheshwari commented on #1268
@vic-topcoder, OK I'll incorporate the suggested changes ASAP.

[2017-11-10 06:41] sachin-maheshwari commented on #1296
@vikasrohit, i'll verify this today.

[2017-11-10 09:25] vikasrohit commented on #1217
Done all points except followings:

It is already 32x32 icon, let me know if missed something here.

It was already 20px as per design. I have updated to be 10px. Let me know if I misunderstood things here.

I am not able to see much different there. Only difference I could found was the font face, changed it to roboto-regular from roboto-medium. Event latest from google drive specs shows this sty

[2017-11-10 19:41] vic-topcoder commented on #1217
Bottom-up:

- Canceled projects are quite few in the system, they don't hold value as there's no conversation or reason put in the project itself. Most of the time those are test/temporary projects. The value is to not pollute the space with old unused projects. The card view of projects provides value as it is a project dashboard - as a customer you see all the active projects and what has happen

[2017-11-10 20:58] vic-topcoder commented on #1217
Icon and project header title/time - I did dig deeper into design/implementation and figure it out:

The icon is 32x32 px block in a 40px tall block, and the thing that bother me is the vertical-align of a 32px into 40px - it is top, but should be vertical center. Let's get the spacing between icon and title/time block back to 20px as it was wired in the iteration (sorry for changing it - this is

[2017-11-10 21:03] vic-topcoder commented on #1217
- [ ] Project navigation should always be next to the logo (40px between logo and navigation). This can be done if we move the navigation within the logo container and space the 3 big containers evenly through flex layout. Small changes in the CSS would be needed - display: inline-block; vertical-align: top; to make sure all elements are correctly aligning as the screenshots below:

![screen shot

[2017-11-10 21:06] vic-topcoder commented on #1217
Great progress, thank you very much for the good work! 👍

[2017-11-10 21:07] vic-topcoder commented on #1267
- [ ] Project navigation should always be next to the logo (40px between logo and navigation). This can be done if we move the navigation within the logo container and space the 3 big containers evenly through flex layout. Small changes in the CSS would be needed - display: inline-block; vertical-align: top; to make sure all elements are correctly aligning as the screenshots below:

![screen shot

[2017-11-10 21:21] vic-topcoder commented on #1173
Yes, that works for me. Closing the issue :) Thanks!

[2017-11-10 21:21] #1173 closed

[2017-11-10 21:27] vic-topcoder commented on #1297
@vikasrohit Let's get this out as a Hot Fix to Production ASAP; legal issues with IBM.

[2017-11-10 21:37] vic-topcoder commented on #1294
@mtwomey @gondzo - can someone make sure we don't lose this from production? We need to have it in Dev as well.

[2017-11-10 21:38] vic-topcoder commented on #1290
@vikasrohit - is this fixed? @mtwomey please review and close if deployed.

[2017-11-10 21:42] vic-topcoder opened #1299 "[$50] Add style and support for <sup> or <sub> text on Connect"
We need to format special characters as superscript/subscript in Connect and have no CSS styles for them. The case in question is the Watson Chatbot project.

- [ ] add support for `<sup>` and `<sub>` in Connect
- [ ] make sure the style works for any instance and makes the wrapped content 50% smaller:
`text-size: 0.5em;` and vertical position reflects the intended purpose`vertical-align: text-top

[2017-11-10 21:44] vic-topcoder commented on #1299
@gondzo For adding <sup> on the ® mark in Watson Chatbot we need to pass that in the string in Connect - can you make sure once we have the CSS support in place we can get this added to the title of the watson chatbot project? Thanks!

[2017-11-10 23:15] mtwomey commented on #1297
Fixed.

[2017-11-10 23:15] #1297 closed

[2017-11-11 03:10] vikasrohit commented on #1294
@vic-topcoder It was also in DEV. But we have another build, for next milestone, deployed on DEV which does not have these changes until we merge that branch into dev or vice versa. I have merged the dev into feature branch, so we should now have it dev as well.

However, I think due to some other css changes, it is coming right float while I cleared the float specifically. If you want it to be up

[2017-11-11 03:13] vikasrohit commented on #1297
My sincere apologies @vic-topcoder as I missed to update you about this. Actually, I think I lost this in mails and actually the title of this issue is same as of other one where we added the disclaimer to the watson, so my mind made me believe that I have already taken care of this.

Thanks @mtwomey for helping out.

[2017-11-13 05:58] vikasrohit commented on #1217
Okay,

[2017-11-13 07:04] vikasrohit commented on #1290
@vic-topcoder It should be fixed in dev not in production.

[2017-11-13 07:31] vikasrohit opened #1300 "Incomplete project screen is not appearing even though we have incomplete project in local storage"
After recent changes, it happens to fail to load the incomplete project screen.

[2017-11-13 07:32] vikasrohit commented on #1300
Investigation revealed that because we are clearing the redux state when user opens the new project wizard, it is discarding the incomplete project stored in the local storage.

fyi @vic-topcoder @mtwomey @sachin-maheshwari

[2017-11-13 08:13] sachin-maheshwari commented on #1268
Incorporated all suggested changes in PR - https://github.com/appirio-tech/connect-app/pull/1301

[2017-11-13 08:27] sachin-maheshwari commented on #1268
@vic-topcode, there is one pending task, white left right padding in Project delete confirmation box, at which I am still working...
![projectdeleteicon](https://user-images.githubusercontent.com/6467888/32716020-697eca9e-c87a-11e7-860f-44be3baf6b06.png)
![prjectdeleteconfirmation](https://user-images.githubusercontent.com/6467888/32716021-69e0e95e-c87a-11e7-9af8-fba848c92de8.png)

[2017-11-13 10:04] vikasrohit opened #1302 "Hide Cancelled projects from Customers view"
As per requirement originally mentioned [here](https://github.com/appirio-tech/connect-app/issues/1217#issuecomment-343281040) and with detailed description [here](https://github.com/appirio-tech/connect-app/issues/1217#issuecomment-343567281), creating separate ticket because this change is sufficiently complex to get it tracked separately.

[2017-11-13 10:04] vikasrohit commented on #1302
fyi @vic-topcoder @mtwomey @sachin-maheshwari

[2017-11-13 10:13] vikasrohit commented on #1217
Done with all points. I think only pending query is following:

I would be easier from implementation view, if we can change default sorting for both customers and managers. I don't see any -ve of sorting by updated date even for managers. Please let me know if think otherwise.

For hiding cancelled project for customers, I have created separate [ticket](https://github.com/appirio-tech/connect-app

[2017-11-13 10:24] vikasrohit commented on #1302
Done. Should be up in dev.

[2017-11-13 13:42] vikasrohit commented on #1267
Done, however, the css rules you mentioned didn't work somehow, may be you had made more changes to make it look like what you want. I guess my changes also achieves the same result. Please let me know if this is not the case.

[2017-11-13 13:43] vikasrohit commented on #1267
This is the only item pending, others are fixed. Let me know what exactly is wrong here.

[2017-11-13 20:00] vic-topcoder commented on #1267
- [ ] The project navigation is not changing when the customer enters a project
![screen shot 2](https://user-images.githubusercontent.com/8484061/32746301-0851a47c-c86a-11e7-97e1-11899c0d475a.png)

When you open the "New project" menu from within a project, escape should lead back to the point of origin/page where you clicked the button. Right now when you use cancel you go to home page instead o

[2017-11-13 20:02] vic-topcoder commented on #1302
ok. Closing

[2017-11-13 20:02] #1302 closed

[2017-11-13 20:08] vic-topcoder opened #1303 "Bring back project status drop-down"
With the new design of the project status we lost the ability to change project status for managers.

Let's bring it back as without this we cannot release the milestone. This is crucial.
- [x] Bring back project status management drop-down for managers
- [x] Allow all managers to change status even without joining a project
![screen shot 7](https://user-images.githubusercontent.com/8484061/327465

[2017-11-13 20:10] vic-topcoder commented on #1290
@mtwomey - can we verify and deploy to production?

[2017-11-13 21:59] vic-topcoder commented on #1300
Can we fix it?

[2017-11-13 22:04] vic-topcoder commented on #1294
Ok. Style can be fixed once we figure out what is causing it. Should be left aligned.

[2017-11-13 22:04] #1294 closed

[2017-11-13 22:09] vic-topcoder commented on #1297
Thanks guys! It is in production and we should not lose it once we get DEV into Prod.

[2017-11-13 22:13] vic-topcoder commented on #1268
Thanks @sachin-maheshwari, how are the other tasks standing? Please aslo take a look at #1303 - Administrators lost the ability to change the project status through a drop-down. We should bring that functionality back.

[2017-11-13 22:25] vic-topcoder commented on #1217
Thanks @vikasrohit - good progress on this one. Let's try to get the project sorting working as well. Our next iteration on the cards would be to add some of the owner capabilities (delete project) so customers can clean up their project card view.

[2017-11-14 04:51] vikasrohit commented on #1303
Yep @vic-topcoder We noticed that yesterday, and @sachin-maheshwari is working on that.

[2017-11-14 05:23] vikasrohit commented on #1290
@vic-topcoder is it required to get it before Project listing update milestone? If no, it would go along with it automatically.

[2017-11-14 05:24] vikasrohit commented on #1294
Probably I know that the cause. Let me create separate issue for that and fix it for next production deployment.

[2017-11-14 05:26] vikasrohit opened #1304 "[$30] Fix alignment of disclaimer on project creation form"
Disclaimer should be left aligned. It is right now coming as right aligned. #1294

[2017-11-14 05:37] vikasrohit commented on #1267
@vic-topcoder The problem is that we have separate components for Projects tool bar and project tool bar and there is a separate container component which host one of these two components based on the route. Now, there are some common components which both tool bars show e.g. Logo and user dropdown menu. So, naturally, they reside in the container component. Now the trouble is that because we want

[2017-11-14 09:32] vikasrohit commented on #1217
@vic-topcoder Sorting is working. It is same for managers and customers though. My question is should be keep same sorting for all users or should we keep sorting at creation date for manager which is the default behaviour right now.

[2017-11-14 10:03] vikasrohit opened #1306 "refCode is not being carried forward to the project"
With upgrade to `react-router` v4, we have [lost the ability to get parsed query param from `location` object](https://github.com/ReactTraining/react-router/issues/4410) which is causing the missing refCode when creating a project from deep link with ref code.
Also, due to one of the changes in previous releases, it was overriding the utm code from the project state.

fyi @vic-topcoder @mtwomey @s

[2017-11-14 10:52] vikasrohit commented on #1267
Done.

Fixed this one too.

[2017-11-14 11:16] vikasrohit opened #1307 "Allow all managers to change status even without joining a project"
Carried forward from #1303 to get better tracking for major features/changes.

fyi @vic-topcoder @sachin-maheshwari

[2017-11-14 17:54] vic-topcoder commented on #1307
Just tested it - we're halfway there. Right now I can change project status only once, and after that it is impossible to modify it.

[ ] - Enable project status drop-down for Managers at all times

There are styling issues with the drop-down:
[ ] - Menu font size is too small, should be 13px
[ ] - Active icon is missing, use the attached one

[active.svg.zip](https://github.com/appirio-tech/conne

[2017-11-14 18:22] vic-topcoder commented on #1267
Ok, tested on Dev, seems good, closing

[2017-11-14 18:22] #1267 closed

[2017-11-14 18:23] vic-topcoder commented on #1217
Let's keep the default manager sorting by creation date, and the client view as "latest updated first"

[2017-11-14 18:26] vic-topcoder commented on #1217
Otherwise I love it, closing - the customer card view works as intended.

[2017-11-14 18:26] #1217 closed

[2017-11-14 18:58] vic-topcoder commented on #1290
ok, gotcha. We can release this within the full release.

[2017-11-14 19:01] vic-topcoder opened #1309 "Remove budget fields and add description to QAaS project intake forms"
Right now QAaS projects also have the budget fields, but we don't need them. The project is based on a product and we would need to provide a quick quote.

- [x] Keep budget estimate section only for the following projects:
- App
- Software/ Front-end
- Software/ Back-end & API
- Software/ Development Integration

- [x] All projects should have a Description field - currently missing in QAaS proje

[2017-11-15 00:47] vic-topcoder commented on #1268
Closing this issue and will create new for visual fixes

[2017-11-15 00:47] #1268 closed

[2017-11-15 01:00] vic-topcoder opened #1310 "Navigation is not scaling well for responsive design"
Top bar navigation with search bar is not scaling well for smaller screen sizes. The search bar obscures the navigation and is not scaling well. By design, the search bar should be centered.

This behavior is caused by non-equal `flex-grow: 1/0` and setting width at the parent container of the logo. Cleaning those two will help with the responsiveness of the layout.

Current:
![screen shot 30](htt

[2017-11-15 01:02] vic-topcoder opened #1311 "[$50] Product cards are not responsive"
The product cards are fixed width and do not use the available space well. We might want to convert them to a responsive cards (min-width: 280px, max-width: 460px) to better utilize the space available.

[2017-11-15 01:04] vic-topcoder opened #1312 "Center the project cards for customer view"
Right now when the viewport is smaller the cards are left-aligned. They should be centered. `justify-content: centered`
Expected:
![screen shot 31](https://user-images.githubusercontent.com/8484061/32813187-be9c3f3c-c95d-11e7-8683-d5fb582f5c0e.png)

[2017-11-15 01:07] vic-topcoder opened #1313 "[$30] Sidebar links menu"
When there is a link with text spanning more than 2 lines, the line-height is not optimal for reading. Fix the styling so the line-height is 20 pixels. Introduce additional space between the elements.

Current:
![screen shot 20](https://user-images.githubusercontent.com/8484061/32813280-2c4f43da-c95e-11e7-9cbe-5be81ab449e9.png)
Expected:
![screen shot 19](https://user-images.githubusercontent.com/

[2017-11-15 01:12] vic-topcoder opened #1314 "[$60] Replace SVG used as css-backgrounds with active SVG in HTML"
We have used .png and .svg as CSS background elements. This technique is not optimal (additional round-trip to the server, multiple images, lack of control of the SVG properties, etc.) and we should replace all the SVG and PNG background images with active SVG inserted in the code. This allows us to control the properties with CSS.

Example:
![screen shot 16](https://user-images.githubusercontent.

[2017-11-15 01:18] vic-topcoder opened #1315 "[$30] Project type icon should display appropriate tooltip on hover"
Hovering over the project type icon right now displays the icon name. It should be replaced by the appropriate project type - same as the project title from the project creation catalogue.

Current:
![screen shot 24](https://user-images.githubusercontent.com/8484061/32813450-1a667354-c95f-11e7-8f0a-af54e5ebe63e.png)

Expected:
![screen shot](https://user-images.githubusercontent.com/8484061/328135

[2017-11-15 01:24] vic-topcoder commented on #1296
What is the status? Please review & close

[2017-11-15 01:28] vic-topcoder commented on #1303
There is a regression in the visual style as well.

[ ] - Project status has double padding, making it too tall. It should be 40px tall, including the borders.

Current:
![screen shot](https://user-images.githubusercontent.com/8484061/32813857-24f59816-c961-11e7-8105-d827aaf34ed9.png)
Expected:
![screen shot 1](https://user-images.githubusercontent.com/8484061/32813872-3f15d5ee-c961-11e7-8c06-2d9a

[2017-11-15 01:36] vic-topcoder opened #1316 "Project status menu drop-down is not fixed"
The drop-down is not to specification.

- [x] Text size should be 13 pixels
- [x] Title should be black
- [x] Missing "Active" icon
[active.svg.zip](https://github.com/appirio-tech/connect-app/files/1473094/active.svg.zip)

Expected (except the missing icon!):
![screen shot 17](https://user-images.githubusercontent.com/8484061/32814078-43b3d3ac-c962-11e7-809a-e0c22748f43b.png)

[2017-11-15 01:44] vic-topcoder opened #1317 "[$30] Post composer/reply formatting options background issue"
The post composer formatting buttons have a white background on a slight gray background, but they should be transparent and blend with the background.
![screen shot 22](https://user-images.githubusercontent.com/8484061/32814274-24b6b23e-c963-11e7-8d32-e75f466b3148.png)

- [x] Remove background of formatting buttons

[2017-11-15 01:48] vic-topcoder opened #1318 "Page content should be space from window border"
On small screen size project content touches the window frame. The parent container should always have 20px padding on left and right.

Expected:
![screen shot](https://user-images.githubusercontent.com/8484061/32814426-fbc86aa6-c963-11e7-8a30-a3629c35fb3f.png)

Current:
![screen shot 1](https://user-images.githubusercontent.com/8484061/32814431-00e11fd8-c964-11e7-8b62-cc1e2a8b8eab.png)

[2017-11-15 01:49] vic-topcoder commented on #1255
This is repeated, right. Closing it. We're working on it at #1303

[2017-11-15 01:49] #1255 closed

[2017-11-15 01:59] vic-topcoder opened #1319 "Move "My projects" switch on top navigation for Managers & Copilots"
Currently the switch to filter only the users' project is hidden under the Filters menu. We want to move it permanently on the main navigation next to the new project button.

Current:
![screen shot 2](https://user-images.githubusercontent.com/8484061/32814614-eac623c8-c964-11e7-92bb-a0227b161382.png)

Expected:
![screen shot 4](https://user-images.githubusercontent.com/8484061/32814773-4c4ce3ac-c

[2017-11-15 02:09] vic-topcoder opened #1320 "Customer navigation link "Getting started" is wrong"
The "Getting started" link on the customer navigation is wrong. Should open "https://www.topcoder.com/about-topcoder/connect/" in all cases, right now it leads to the dev server. Not sure if that's a bug, but would be nice to view the correct page at all times.

[2017-11-15 02:12] vic-topcoder opened #1321 "Hide search for customers"
Search bar for customers shows a lot more projects than the initial view. Let's hide it before we can fix the proper behavior.

[2017-11-15 02:23] vic-topcoder opened #1322 "[$30] Footer updates"
- [ ] Remove "Help" from connect footer.
- [ ] Rename "Contact" to "Contact us"

[2017-11-15 03:12] vikasrohit commented on #1309
They are supposed to be different in terms of questions rendered. I mean new project form has fewer fields of what we have in specification form. And all fields shown in new project form are always required while user can save the form without all required information filled in the specification form, however, in specification form user can't submit for review until all required sections are compl

[2017-11-15 03:14] vikasrohit opened #1323 "Updated description question validation for all projects"
Carried from #1309 for better tracking

- [x] Project description should be a mandatory field

- [x] Project description should be at least 120 characters to pass validation.

[2017-11-15 05:13] vikasrohit commented on #1314
we can always isolate it with parent class selector e.g.`new-project-icon svg`

[2017-11-15 05:16] vikasrohit commented on #1290
@vic-topcoder I would like to close issues only after release and verifying on production. If we close them before production release, we can miss these items in sanity testing on production.

[2017-11-15 05:31] vikasrohit commented on #1309
We are already not showing the budget estimate section for non visual design projects.

[2017-11-15 05:44] vikasrohit commented on #1309
Added description fields to QAAS products

Adding character limit on description in separate issue #1323

[2017-11-15 06:53] vikasrohit commented on #1307
@vic-topcoder the original purpose of restricting changes to certain states from other states was to prevent project being in inconsistent state e.g. if a project is cancelled, why would a manager change it to any status? We don't allow that in Direct, so we should be consistent. Further, we are syncing Direct project status with Connect project status. Right now the sync between Direct and Connec

[2017-11-15 08:14] sachin-maheshwari commented on #1316
done. PR - https://github.com/appirio-tech/connect-app/pull/1324

[2017-11-15 09:46] birdofpreyru commented on #1314
@vic-topcoder @vikasrohit
[`babel-plugin-inline-react-svg`](https://www.npmjs.com/package/babel-plugin-inline-react-svg)

Just drop this plugin into Babel setup, and then you can do:
[code]

and it also allows to pass in props, as for a regular React component.

[2017-11-15 09:52] vikasrohit commented on #1314
@vic-topcoder @birdofpreyru we are using [svg-react-loader](https://github.com/jhamlet/svg-react-loader) for loading SVG as inline object.

[2017-11-15 09:54] birdofpreyru commented on #1314
@vikasrohit doing it via Babel plugin is better, cause unlike Webpack loader, it will work exactly the same both server- and client-side.

[2017-11-15 10:00] vikasrohit commented on #1314
Though we are not using server side rendering right now in connect, it makes sense.

@vic-topcoder However, we should update our existing component `SVGIconImage` to use this babel plugin, if we really want this right now. This would prevent refactoring at multiple places and would abstract exact path details of the file from the caller.

[2017-11-15 10:04] birdofpreyru commented on #1314
@vikasrohit I briefly looked at the code, it looks to me, that you should just get rid of `SVGIconImage` - no need for that once you switch to babel-plugin-inline-react-svg

[2017-11-15 10:08] vikasrohit commented on #1314
@birdofpreyru I am just trying to avoid exposing the exact path of the image every where. With abstraction of `SVGIconImage` we can just pass the svg file name directly to the caller component instead of importing the svg in the caller. Further, I would require lot of refactoring if just remove SVGIconImage from the picture and directly import images in calling components.

[2017-11-15 10:16] sachin-maheshwari commented on #1307
Meanwhile I have allowed all the managers to  changes the status on any state. It is working for all status except status change to "Active" state from any state, getting following error from backend API - "Only assigned topcoder-managers or topcoder admins should be allowed to launch a project"

[2017-11-15 10:29] vikasrohit commented on #1307
@sachin-maheshwari to fix this, we have to update the project service, which is preventing any non team member to change project status to active. This is specific check for active status only.

[2017-11-15 11:18] vikasrohit commented on #1320
@vic-topcoder I am not sure how this can treated as wrong? We always try, whenever possible, to prepare dynamic URLs based on environments, so that we accidentally don't do any damage to production. I can hard code this.

[2017-11-15 11:21] vikasrohit commented on #1320
Hard code the domain.

[2017-11-15 12:02] vikasrohit commented on #1310
@vic-topcoder Fixed. I didn't need to specify min-width of the logo-wrapper to get it fixed tough.

[2017-11-15 12:04] sachin-maheshwari commented on #1296
didn't get sufficient time to look into this due to others major issues, trying to close this ASAP.

[2017-11-15 12:33] vikasrohit commented on #1321
@vic-topcoder which user you were using when you saw the issue with SearchBar?

I have also found that we are loading only 20 results in single call and that is hard coded to prevent heavy calls and processing. For Managers view we have paginator that allows user to navigate through pages, we don't have such control in customer view. Do you want me to load all projects for customers in one go?

[2017-11-15 17:52] #1303 closed

[2017-11-15 21:12] vic-topcoder commented on #1296
The problem seems to be the second "project was updated" fired after "project was created". Might be some sort of logic, not sure. It is not high priority as the toaster messages just disappear.

[2017-11-15 23:24] vic-topcoder commented on #1307
Only Admins can change project status to Active without joining project

[2017-11-15 23:29] vic-topcoder commented on #1309
Confirmed with Joey - budget is required only when projects are submitted for review. This means budget fields appear ONLY on specification, NOT on project creation forms.

We don't want budget on App projects; just on the initially listed ones (App ,Software/ Front-end, Software/ Back-end & API, Software/ Development Integration).

This is the project quick quote - displaying price estimate for t

[2017-11-15 23:34] vic-topcoder commented on #1309
- [ ] Remove budget estimate section from Website specification page

[2017-11-15 23:44] #1310 closed

[2017-11-15 23:45] #1312 closed

[2017-11-16 00:00] vic-topcoder commented on #1316
Great job, @sachin-maheshwari!

[2017-11-16 00:00] #1316 closed

[2017-11-16 00:04] #1318 closed

[2017-11-16 00:05] #1320 closed

[2017-11-16 00:09] vic-topcoder opened #1326 "Load all active projects for customer card view"
Continuation from #1321 - we don't load all projects for users on first pass. Let's load all the projects for the customer card view (remove the hard limit of 20, let's monitor the data and see if there is performance penalty, if yes - lest's implement lazy load (similar to challenge listings on community-app).

[2017-11-16 00:10] vic-topcoder commented on #1321
@vikasrohit - I used `christina_uw`. Yes, let's load all the projects for a customer, as we don't want to hide any projects for a customer. This would cause a problem in edge cases where there are more than 20 projects per person. Open a new issue #1326 for better tracking.

[2017-11-16 00:10] #1321 closed

[2017-11-16 00:11] vic-topcoder commented on #1323
We miss the indicators for "Required" field, but I think the functionality is there. Will close the issue and open a secondary one for formatting and help text feature updates.

[2017-11-16 00:11] #1323 closed

[2017-11-16 00:14] vic-topcoder opened #1327 "Remove customer-specific navigation from logged out state"
Currently in logged out state visitors see "My projects/Getting started/Help" links. those should be hidden.
Current:
![screen shot 3](https://user-images.githubusercontent.com/8484061/32867084-f0404b9c-ca1f-11e7-817b-8a4d0ea86e80.png)

Expected:
![screen shot 6](https://user-images.githubusercontent.com/8484061/32867096-fe135980-ca1f-11e7-9f66-d737a033eda0.png)

[2017-11-16 00:17] vic-topcoder opened #1328 "Only Admins can change project status to Active without joining project"
Continued from #1307 -

- [ ] Enable project status updates only for Admins, when the user hasn't joined the project.

[2017-11-16 00:18] #1307 closed

[2017-11-16 00:22] vic-topcoder commented on #1314
I trust you guys can handle the technical details. Replacing the SVG is important, but not a high priority. That's why the issue is available for the community - I would suggest we do a code refactor branch at some point where all the images are going to be replaced, so we don't end up with a code that uses 3/4/5 different implementations of image inclusion.

@gondzo, @mtwomey - please feel free t

[2017-11-16 00:23] vic-topcoder commented on #1290
OK.

[2017-11-16 05:31] vikasrohit commented on #1321
Okay, Thanks.

[2017-11-16 05:47] vikasrohit commented on #1327
Nice catch @vic-topcoder Thanks

[2017-11-16 06:01] vikasrohit commented on #1314
Exactly, that is why I am trying to use an abstraction layer of SVGIconImage component. We can change this component's implementation as we want, provided we maintain the contract of the props.

[2017-11-16 06:08] vikasrohit commented on #1309
Just a heads up, I have to create new project template for website projects. It is not an issue at all, only thing is that you have to maintain a separate project template for website projects.

[2017-11-16 06:13] vikasrohit commented on #1326
You mean infinite loading?

[2017-11-16 12:11] vikasrohit commented on #1326
@vic-topcoder  Added infinite scroll to the customer’s view. It was necessary to load projects in paged manner because API does not support loading all project at once. API has hard limit of 20 for loading projects. As of Infinite scroll is causing two load calls when user scrolls to bottom, hence we might need to go with a simple load more button.

[2017-11-16 17:06] rsial2 opened #1330 "Make All Topcoder Employees Admins in Connect"
Please make all users with a topcoder email address be admins automatically in Connect.

[2017-11-16 20:22] #1296 closed

[2017-11-16 21:59] #1309 closed

[2017-11-16 22:03] vic-topcoder commented on #1326
Is it possible to hide the button at the end of the list and put a label "end of list" so people don't keep hitting the button? I mean - do we keep a counter of projects per person or not? If it is not possible, the feature is good to go.

[2017-11-16 22:03] #1327 closed

[2017-11-16 22:12] #1328 closed

[2017-11-16 22:27] mtwomey commented on #1306
@vikasrohit This still doesn't appear to work, can you please confirm again on your end?

[2017-11-16 22:28] vic-topcoder commented on #1290
It is still valid, tested today and the ref code from the URL parameter is not saved.

[2017-11-17 08:44] vikasrohit commented on #1290
Should be fixed now. However, there is one use case where I need opinion.

1. user has an incomplete project (with a ref code) e.g. a `real_world_testing` project with ref code `qa`
2. user lands on incomplete project screen when trying to load a deep link for another project type e.g. https://connect.topcoder-dev.com/new-project/wireframes?refCode=ibm
3. Now user chose to `Continue where I left O

[2017-11-17 12:27] vikasrohit commented on #1326
Yes, its possible. Done.

[2017-11-17 16:38] #1326 closed

[2017-11-20 05:14] vikasrohit commented on #1306
@mtwomey Should be fixe now with https://github.com/appirio-tech/connect-app/issues/1290

[2017-11-20 05:14] #1306 closed

[2017-11-20 05:14] vikasrohit commented on #1290
Deployed to production.

fyi @mtwomey @vic-topcoder

[2017-11-20 05:14] #1290 closed

[2017-11-20 07:24] vikasrohit opened #1333 "Project list view is appending search results"
Because of adding support to load records without pagination for customer view(or cards view), it affected the list view as well. Appeared after release https://github.com/appirio-tech/connect-app/releases/tag/1.4.2

fyi @vic-topcoder @mtwomey @sachin-maheshwari

[2017-11-20 09:08] vikasrohit commented on #1319
I have analyzed all tasks under this issue and seems like I can do that, please let me know if no one has picked this yet.

[2017-11-20 09:14] gondzo commented on #1319
Please go ahead, this was not assigned yet.

[2017-11-20 09:20] vikasrohit commented on #1319
Cool, Thanks.

@vic-topcoder Please let me know which milestone you want to move it to.

[2017-11-20 09:23] ThomasKranitsas opened #1334 "The same project is shown multiple times"
### Expected behavior
`/projects` should show only the newly fetched projects.

### Actual behavior
The newly fetched projects are actually added to the view, as a result, the same projects are shown multiple times.

### Steps to reproduce the problem
- Go to https://connect.topcoder.com
- Open a project or click `NEW PROJECT`
- Go back to `/projects`

### Screenshot/screencast

http://take.ms/36Z

[2017-11-20 09:25] vikasrohit commented on #1334
Thanks @ThomasKranitsas for noticing it quickly. Just got it patched with ref to #1333

[2017-11-20 12:00] vikasrohit commented on #1319
Should be deployed on dev for testing.

[2017-11-20 12:02] #1333 closed

[2017-11-20 12:06] vikasrohit opened #1335 "Filters are not being maintained on page refresh"
### Expected behavior
Filters should be retained on page refresh

### Actual behavior
All applied filters are reset on page refresh

### Steps to reproduce the problem
- Login as Manager/Copilot.
- Add any filter(e.g. list all draft projects) using Filters toolbar.
- Refresh the page.
- Observe that filters applied in previous steps, are removed

--

#### Environment
- OS: Any
- Browser (w/version

[2017-11-20 12:06] vikasrohit commented on #1335
fyi @vic-topcoder @mtwomey

[2017-11-20 15:20] mtwomey commented on #1306
@vikasrohit Thank you - I see it working now!

[2017-11-20 23:39] vic-topcoder commented on #1330
These are management rights, won't implement into Connect. Closing

[2017-11-20 23:39] #1330 closed

[2017-11-20 23:41] vic-topcoder commented on #1299
@gondzo - what is the status of this one? Should we move it to the next milestone or it will be done within this one?

[2017-11-20 23:42] vic-topcoder commented on #1299
Moved to track into a new release

[2017-11-20 23:43] vic-topcoder opened #1336 "Provide card view switch for Managers"
As a Manager I want to be able to switch between grid and card view for projects so I can see what my customers see.

[2017-11-20 23:45] vic-topcoder commented on #1298
duplicate of #1319

[2017-11-20 23:45] #1298 closed

[2017-11-20 23:50] vic-topcoder opened #1337 "Fix the user menu drop-down width."
### Expected behavior
Menu should be wide enough to fit all text

![screen shot 3](https://user-images.githubusercontent.com/8484061/33047420-7737419e-ce0a-11e7-8e7b-ae5cf418f66e.png)

### Actual behavior
Menu is too short and elements break

![screen shot 2](https://user-images.githubusercontent.com/8484061/33047422-7a61d604-ce0a-11e7-9e11-596b28bb36e6.png)

### Steps to reproduce the problem
Log

[2017-11-21 00:01] vic-topcoder opened #1338 "[$60] Project creation outline panel should use the project dashboard styles"
Project creation outline panel isn't following the appropriate styles. We should reuse the project dashboard header styles.

Current:
![screen shot 8](https://user-images.githubusercontent.com/8484061/33047700-fd4fe2b2-ce0b-11e7-9b56-f34b19ef2b59.png)

Expected:
![screen shot 9](https://user-images.githubusercontent.com/8484061/33047703-0077fe02-ce0c-11e7-99f3-677f47a0f787.png)

[2017-11-21 05:34] vikasrohit commented on #1336
Do we have interface designed for showing the switch for the two views?

Ideally, it would have been great if we could have analyzed this requirement when we added support for Card Views. That helps better code organization in first place and avoids tech debts.

[2017-11-21 08:28] vikasrohit commented on #1335
@vic-topcoder @mtwomey Managed to fix it. Please let me know, if you want to get it deployed it has hotfix.

[2017-11-21 10:13] #1334 closed

[2017-11-21 10:22] vikasrohit commented on #1300
Yes, it was fixed in previous release.

[2017-11-21 10:22] #1300 closed

[2017-11-21 10:29] vikasrohit commented on #1337
Fixed. @vic-topcoder This issue is not in dev or production. This was issue with my feature branch which has changes for #1319. I have fixed it there, so it should not be there when it goes to dev/production.

[2017-11-21 23:59] vic-topcoder commented on #1335
Yes - let's deploy

[2017-11-22 00:03] vic-topcoder commented on #1336
I'm building the design requirements on the side. It is part of the admin grid view interface. Here's the preview. We have to finalize the design and requirements for the next release; talked with @mtwomey to improve our process with QAaS.
![screen shot 2](https://user-images.githubusercontent.com/8484061/33103149-7f4c7a5e-ced5-11e7-922e-9b7ff37ab1bd.png)

[2017-11-22 05:48] vikasrohit commented on #1336
Okay, Thanks. So should I wait for final designs before getting started? Would you add the label `Aha! Ready to develop` when it has all requirements?

[2017-11-22 06:30] vikasrohit commented on #1335
Deployed and tested on production.

[2017-11-22 06:30] #1335 closed

[2017-11-22 14:24] vikasrohit commented on #1245
@vic-topcoder Feature is almost there with #1307 being deployed to production. Now I think only thing remaining in this issue is to keep Admin's activity silent, right?

[2017-11-23 04:50] callmekatootie commented on #1281
Just a co-pilot dropping in.

This is one of those issues that could be minor but are extremely annoying. It's very difficult to continue with existing discussions as the chronological sorting gets affected and locating discussions becomes a pain.

If there's anything that I could do to help resolve this, let me know but I would certainly like to see this resolved soon.

[2017-11-23 09:30] gondzo commented on #963
If/When we implement notifications via web sockets, this would be a non issue as we can update the message feed as soon as new message is posted.

[2017-11-23 09:31] #881 closed

[2017-11-23 09:54] gondzo commented on #1281
The error seems to be related to adding new users - when a new user is added, he is invited to all topics and Discourse will mark the thread as updated at that time. I don't think we can do anything about this, but we can use topic created date for sorting instead of updated date. Sounds good @vic-topcoder @vikasrohit @mtwomey

[2017-11-23 09:57] gondzo commented on #1299
@vic-topcoder Just to confirm, we need support for static and config strings only, not user input like project name, desctiption, etc ?

[2017-11-23 10:10] gondzo commented on #1314
We should update SVGIconImage to render the svg instead of an image with svg background.

[2017-11-23 11:55] vikasrohit commented on #1281
@gondzo if we sort them by creation date, it would still be annoying for the users because users might be updating a thread which resides 4-5 thread below, if sorted on created date. This would be usual because we post CoderBot messages on different project events and they would lying on top  even if users are discussing on a thread which is placed below them.

[2017-11-23 11:58] gondzo commented on #1281
Right, that is the downside. We can then sort by the last comment - we are fetching latest comments for all the topics anyway ?

[2017-11-23 12:17] sumitdaga commented on #1313
can you provide test logins where projects are already created, etc?

[2017-11-23 12:19] gondzo commented on #1313
You can log in with pshah_manager/topcoder123 or create your own account

[2017-11-23 12:27] vikasrohit commented on #1281
Nopes, I think we are fetching only first 20 comments of the topic for first load.

That would be client side and that would never sort all topics in correct order.

I have another idea though if we can't configure discourse in correct way.

We can remove and add users for each topic in their updation date order. I mean right now we first [removing users](https://github.com/topcoder-platform/tc-me

[2017-11-23 12:31] vikasrohit commented on #1281
Or we can use http://docs.discourse.org/#tag/Topics%2Fpaths%2F~1t~1%7Bid%7D~1change-timestamp%2Fput endpoint to update a topics timestamp (which we can store in array before doing add/remove of users) immediately after adding/removing the users.

[2017-11-23 12:33] gondzo commented on #1281
Aren't we loading latest comments first and displaying "view older comments" if there are more than a few ?

[2017-11-23 12:37] sumitdaga commented on #1313
https://goo.gl/3ZWtVB

[2017-11-23 12:38] sumitdaga commented on #1313
possible to see these "sidebar links menu" without creating a project/loggin in?

[2017-11-23 12:41] Sande3p opened #1341 "test"
### Expected behavior
Describe.

### Actual behavior
Describe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account used:

[2017-11-23 12:43] vikasrohit commented on #1281
What I can remember @gondzo, we are fetching latest few comments (i think it is 6) from the server if total number of comments for a message(topic) are greater than 20 because discourse is returning us first 20 posts of a topic.

[2017-11-23 12:46] #1341 closed

[2017-11-23 12:47] sumitdaga commented on #1311
do you mean these cards? https://goo.gl/RucM4i

[2017-11-23 13:28] gondzo commented on #1281
you're right @vikasrohit - we need to grant access to topics sequentially by last_posted_date ascending
For anyone picking up this ticket, the changes need to be made at https://github.com/topcoder-platform/tc-message-service/blob/dev/app/routes/topics/syncUsers.js - get all the topics list first, sort by last_posted_date and sync the users sequentially.

[2017-11-23 14:04] Sande3p commented on #1311
verification: https://i.gyazo.com/26c89000658bb3fbb6936c884492dca8.png

[2017-11-23 14:18] gondzo opened #1346 "Discourse topics user management"
Discourse supports groups for managing user permissions, but we are now manually managing user permissions for each topic which is causing a lot of edge cases.

We can simply create a user group for each topic and manage the group instead of updating the topic itself. We can make these changes in a shorter challenge or a private task. What do you think @mtwomey @vic-topcoder @vikasrohit

[2017-11-23 14:20] gondzo commented on #1346
I've just noticed there are even categories in discourse (user groups and topics can be added to a category). We can use that to simply have one user group in a discourse topic for one connect project, so that would greatly simplify things.

[2017-11-23 14:30] sumitdaga commented on #1299
can you please explain what needs to be done ..i didn't get it exactly?

[2017-11-23 14:37] Sande3p commented on #1315
verification: https://i.gyazo.com/2f5ddde72559c0291a92ef59d60db01b.png

[2017-11-23 15:05] Sande3p commented on #1299
verification: https://i.gyazo.com/58c9618b7d6c69070212e92337be42f5.png

[2017-11-23 16:05] Sande3p commented on #1314
verification: https://i.gyazo.com/e48ed4976dd56cfe354a53f66ebcd6fb.png

[2017-11-23 16:49] shubhendusaurabh commented on #1304
@gondzo I don't see the disclaimer on chatbot page. Is the text to be added or have I missed something?
![chatbot](https://user-images.githubusercontent.com/1818387/33182909-cb0b057e-d09b-11e7-9379-7f21a70d918e.png)

[2017-11-23 17:05] mtwomey commented on #1281
@gondzo @vikasrohit

Oh yeah! I didn't realize this problem when we did that.

I agree with the Vikas's idea of creating the array beforehand and adding in that order - great idea.

[2017-11-24 05:23] vikasrohit commented on #1346
I liked the idea about group @gondzo in fact it is really good solution for the problem. However, I didn't understand how categories are going to help us.

[2017-11-24 05:24] vikasrohit commented on #1346
For categories based solution, we have to add a new category to each new topic?

[2017-11-24 06:20] vikasrohit opened #1348 "Move SliderInput to react-components/formsy"
Right now this component resides in connect-app.

- [x] Rename SliderInput to more relevant e.g. SliderRadioGroup
- [x] Move it to react-components repo

[2017-11-24 06:34] vikasrohit opened #1349 "Move enhanceDropdown HOC to Dropdown component in react-components"
- [x] Extract enhanceDropdown HOC in separate file in react-components repo
- [x] Use enhanceDropdown HOC to get dropdown behaviour in react-components/Dropdown
- [x] Use `Dropdown` component from react-components library instead of using custom one hosted in connect-app and remove the one exists in connect-app

[2017-11-24 06:39] vikasrohit opened #1350 "[$60] Move ProjectCard and its related components to better location"
May be src/projects/components (a new folder for having all project related common components) instead of src/projects/list/components/Projects

[2017-11-24 06:41] vikasrohit opened #1351 "[$60] Don't wrap ProjectCard in Link, instead handle click event"
Right now to make complete card clickable, we are wrapping complete card in `Link` element which creates non w3 compliant markup because it finally causes nested hyperlinks.
We need to instead make card clickable by handling onClick event.

[2017-11-24 09:30] gondzo commented on #1346
For categories we add one category per connect project and add one user group. Then we just assign all topics in a project to that category.

[2017-11-24 09:43] vikasrohit opened #1352 "Extract constant for page size of load projects calls"
Right now its hardcoded anywhere we are passing page size. We need to extract it as constant, it would be easy to manager later when we would make page size dynamic as well.

[2017-11-24 09:45] vikasrohit opened #1353 "Flicker in load more button for the card view"
There is a noticeable flicker on projects listing page, when we do 'Load More' action, for a customer. This is happening because we are scrolling to top of the page on every route change and on project listing page we are scrolling it back to the user's last scroll position.

[2017-11-24 16:49] gondzo commented on #1313
thanks @sumitdaga
In the future, please create pull requests from your forked repository, no need to create branches in this one.

[2017-11-24 16:51] #1276 closed

[2017-11-24 16:51] gondzo commented on #1276
Thanks @zjuasmn

[2017-11-24 16:52] sumitdaga commented on #1313
thank you @gondzo
cool! ...will keep that in mind

[2017-11-24 17:32] gondzo commented on #1317
Thanks @Sande3p

[2017-11-24 17:33] gondzo commented on #1311
Thanks @Sande3p

[2017-11-24 17:35] gondzo commented on #1315
Thanks @Sande3p

[2017-11-24 17:54] gondzo commented on #1299
@Sande3p We need to add sub/sup styles for the entire project (top level styles) and update the title at
https://connect.topcoder.com/new-project/watson_chatbot to make the 'R' symbol a <sup>R</sup>. That config is in https://github.com/appirio-tech/connect-app/blob/602be8692eec5a36c493f3f239b3e439b11da553/src/config/projectWizard/index.js

[2017-11-24 19:41] Sande3p commented on #1299
done.
verification: https://i.gyazo.com/4014614341b7af915a9e3047756b5934.png

[2017-11-24 19:42] Sande3p commented on #1299
@gondzo please check the updated commit.

[2017-11-24 19:44] Sande3p commented on #1304
I think I know how to get this issue fixed. @shubhendusaurabh are still working on this?

[2017-11-25 14:31] #1322 closed

[2017-11-25 14:42] #1277 closed

[2017-11-25 15:04] #1299 closed

[2017-11-25 15:04] #1304 closed

[2017-11-25 15:04] #1311 closed

[2017-11-25 15:04] #1313 closed

[2017-11-25 15:04] #1314 closed

[2017-11-25 15:04] #1315 closed

[2017-11-25 15:04] #1317 closed

[2017-11-26 11:47] gondzo commented on #1281
@kevinkid any progress ?
This one will be available for pickup if there are no updates in 2 hours.

[2017-11-26 16:09] kevinkid commented on #1281
Still working on it, give more 2 more.

[2017-11-26 16:10] kevinkid commented on #1281
I might be debugging a different problem. Any steps to reproduce the error?

[2017-11-27 03:18] vikasrohit commented on #1281
@kevinkid are you able to reproduce it?

[2017-11-27 03:25] kevinkid commented on #1281
@gondzo No, please give some steps .

[2017-11-27 03:32] vikasrohit opened #1359 "Spurious Avatars being rendered in ProjectCard"
Found this in dev:

<img width="366" alt="screen shot 2017-11-27 at 9 01 01 am" src="https://user-images.githubusercontent.com/2417632/33249617-abb76c40-d351-11e7-84bb-bdfe0c5a3a59.png">

[2017-11-27 03:33] vikasrohit commented on #1359
@sachin-maheshwari this project has only 4 unique members but it showing too many Avatars in card footer. You can login with pshah_customer to check this project.

[2017-11-27 03:53] vikasrohit commented on #1281
@kevinkid Updates the steps in the original issue description and added an example project as well. added you to that project as well.

[2017-11-27 07:17] kevinkid commented on #1281
Thanks @gondzo , it's the same issue i was debugging.

[2017-11-27 10:55] sachin-maheshwari commented on #1359
@vikasrohit, as investigated its a back-end API issue...checking further in corresponding back-end api to find out the root cause.
https://api.topcoder-dev.com/v4/projects/?limit=1&offset=0&fields=id,name,description,members,status,type,actualPrice,estimatedPrice,createdAt,updatedAt,details&filter=status%3Din(draft,in_review,reviewed,active,completed,paused)&sort=updatedAt+desc

{
  "id": "34f1f8a

[2017-11-27 18:07] vic-topcoder commented on #1281
Ok, if the issue is based on the new member joining all topics, can we join the member to all topics in the order they are in the project, so we can keep the latest updated relevant to all? If you have topics 1, 2, 3, and than update them to be 3,1,2, can we join members to 2, 1, 3, so after sorting for updated it'll preserve the order 3,1,2?

[2017-11-27 18:09] vic-topcoder commented on #1336
Correct, the label will change. I'll add the final requirement later

[2017-11-27 19:36] vic-topcoder commented on #1338
@gondzo I can't see this in Dev right now

[2017-11-27 19:37] vic-topcoder commented on #1338
![screen shot 4](https://user-images.githubusercontent.com/8484061/33285520-665a4f76-d367-11e7-9a76-8282b9a9eaa7.png)

[2017-11-28 01:39] vic-topcoder commented on #1245
Correct! I'm writing up new features for the next iteration, keeping admin actions silent would be one of them.

[2017-11-28 06:39] kevinkid commented on #1281
Thats right @vic-topcoder, its the best way to go about it. Almost done

[2017-11-28 06:47] vikasrohit commented on #1281
As I suggested [here](https://github.com/appirio-tech/connect-app/issues/1281#issuecomment-346605621) I think we should add/remove members in their already sorted order so that even after adding/removing users it maintains the old sort order.

[2017-11-28 06:52] vikasrohit commented on #1245
Okay. Let me when you have something to put on my plate.

[2017-11-28 21:58] vic-topcoder opened #1362 "Project name gets cut off when a link is opened from post on the project dashboard."
Currently the project name is shown in only 1 line on the project dashboard, and gets cut off if you open a new link within the dashboard, or resize the window. Upon returning to the project dashboard, the project name gets cut to the first word.

![screen shot 12](https://user-images.githubusercontent.com/8484061/33346219-cbc69964-d443-11e7-91cc-aea4e14d1b44.png)
![screen shot 13](https://user-im

[2017-11-28 23:05] vic-topcoder opened #1364 "Project status mismatch on listing and dashboard"
Project shows canceled in list view (admin/manager), but active when you open the project. Active status is correct.
<img width="512" alt="screenshot_1024" src="https://user-images.githubusercontent.com/8484061/33349073-80c97d8c-d44d-11e7-9442-ffaf96729593.png">
<img width="430" alt="screenshot" src="https://user-images.githubusercontent.com/8484061/33349078-83bd8fce-d44d-11e7-93ba-65287174d351.pn

[2017-11-29 00:48] gondzo commented on #1338
The change is in dev branch, but not in dev environment, I'm not sure why.
@mtwomey @vikasrohit Is there any issue with deployment from circleci to aws ?

[2017-11-29 02:18] vic-topcoder opened #1365 "[$20] Cancel on post composer is obscuring the title field"
Let's fix the post composer Cancel icon. Currently it is obscuring the title field. Should not be. Add more space on the top of the composer to fix it.

Screen Shot 2.png (https://topcoder.aha.io/attachments/6493655101986680136/token/c941cec61e603104ad4158105f472f3d14cf3cb23244ae960332b7553ab228c9.download?size=original)

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-107

[2017-11-29 02:18] vic-topcoder opened #1366 "[$30] Post formatting is off"
- Project post body `line height` is wrong (1). Let's make it 1.5em.
- Code field is not wrapping the text - let's use text wrapping.

Screen Shot 11.png (https://topcoder.aha.io/attachments/6493654691152006689/token/22161c30c2daabdc08b1a63ab27f878995bb7a6477a4e60a3d0decc0ff474b32.download?size=original)
Screen Shot 10.png (https://topcoder.aha.io/attachments/6493654691418594330/token/a284066c94d9

[2017-11-29 02:18] vic-topcoder opened #1367 "[$20] Spacing of label for "My Projects" switch is off"
Label should be right-aligned and 5px from the switch

Screen Shot 1.png (https://topcoder.aha.io/attachments/6493654103444777670/token/7bf82582feece5cf8f1f8028ebfb47e3488bae5b4317922fff35a34ab694f5f1.download?size=original)

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-105

[2017-11-29 03:56] vic-topcoder opened #1368 "[$150] Fix text area auto-sizing"
We use a react plugin to auto-size text areas on project specification page. Right now the plugin doesn't work all the time.

**Goal** : All text areas should be sized to fit all the text without scrolling in all states (normal, active, disabled).

Current state:

Screen Shot.png (https://topcoder.aha.io/attachments/6493680258833768883/token/2f573aa94784c7f9e3b0e71e0e7ee39c402994845aec7a8cbc0331ce

[2017-11-29 03:56] vic-topcoder opened #1369 "[$50] Improve the design of the link modal interface"
Let's design the link formatting interface to be with a better UX/UI. Ideally I would see the input field and buttons to format/cancel/delete/close the input. The functionality is ok, but the UI is a bit confusing to use at first glance.

Screen Shot 9.png (https://topcoder.aha.io/attachments/6493656257511491266/token/9b77a3a583d8c39256da3672e23c6cbda7e84a75ce349e7ce3daee65b402440b.download?size=o

[2017-11-29 03:56] vic-topcoder opened #1370 "Allow Admins and Managers to add other Managers to a project"
Admins and Managers should be able to add other Managers to projects. Currently we support only Copilots and Members. This would require that we verify managers/admins to have a right to view who are Managers.

Suggested update:

- Move the user group selector on top of the user lookup input, and allow for lookup within the user group only.
- When I want to add a Manager, I would select the "Manag

[2017-11-29 03:56] vic-topcoder opened #1371 "Admins should be able to add people to a project without joining"
Admins should have the "Add member" feature working on a project without joining.

Screen Shot 7.png (https://topcoder.aha.io/attachments/6493677285403981893/token/e09aec5eb695e347150715b885475b5a79d1a13183696a51a73d3d876a57f39d.download?size=original)

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-110

[2017-11-29 03:56] vic-topcoder opened #1372 "Provide card view switch for Managers"
As a Manager I want to be able to switch between grid and card view for projects so I can see what my customers see.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-83

[2017-11-29 05:24] vic-topcoder opened #1373 "[$120] Replace project paging with lazy loading"
Replace the project paging control with a lazy load that would allow to show more projects when the end of the current list is reached. The goal is to reduce the reloading and multiple clicking.

1. Show 20 projects to start with (faster page load) and a button "show more projects". Once the button is clicked, keep auto-loading projects when the user approaches the end of the page.
2. When the use

[2017-11-29 05:24] vic-topcoder opened #1374 "[150$] Update project filters"
1. Update the design of the project filters to match the new UI (darker background.
2. Replace the current drop-down with react-select which allows for multiple selection (see design).
3. Remove the project status (display it as tab); replace it with project segment (we don't have the data yet, but we are going to have a new tag per project - segment - that would be used to filter projects by.

Fi

[2017-11-29 05:24] vic-topcoder opened #1375 "[$120] Add project status filters as tabs for project grid"
Display the project status filters as tabs on top of the project grid. The goal is to allow managers/admins to quickly switch between the different statuses.

Final design from here:  [https://drive.google.com/drive/folders/1AbIzCycuhTBh7WNCiaD0mYVMXjeGSdd3?usp=sharing](https://drive.google.com/drive/folders/1AbIzCycuhTBh7WNCiaD0mYVMXjeGSdd3?usp=sharing) This is a sketch live design, make sure to

[2017-11-29 05:24] vic-topcoder opened #1376 "[$400] Update Manager/Administrator project grid view"
Update the project grid view to match the final design from here:  [https://drive.google.com/drive/folders/1AbIzCycuhTBh7WNCiaD0mYVMXjeGSdd3?usp=sharing](https://drive.google.com/drive/folders/1AbIzCycuhTBh7WNCiaD0mYVMXjeGSdd3?usp=sharing) This is a sketch live design, make sure to download the folder and open the index.html to explore all the artboards.

Changes:

1. Replace the project type with

[2017-11-29 05:24] vikasrohit commented on #1362
@sachin-maheshwari Can you please look into it? We are using `react-text-truncate` library to truncate the text. I think there should be some configuration param to handle this scenario.

[2017-11-29 05:25] vic-topcoder opened #1377 "Display all the customer segments as a single field in Connect;"
The customer segment should be a single tag for each project. The tags can come from many different places and sources, but the system should check against them all and set only one at a time.

Example: Topcoder and Wipro use different fields in SFDC, and there are no fields for Demo, Parthner, or Internal projects.

Connect should have a single source of all customer segment types that might be d

[2017-11-29 05:25] vic-topcoder opened #1378 "Support customer segment independently from SFDC; SFDC self-service flow doesn't support segment before the project is qualified."
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-97

[2017-11-29 05:25] vic-topcoder opened #1379 "Setting segment fields in SFDC should be applied to Connect project"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-93

[2017-11-29 05:25] vic-topcoder opened #1380 "Customers should not see segment data at all in the interface"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-92

[2017-11-29 05:25] vic-topcoder opened #1381 "Hide segments from users with 1 segment view rights"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-91

[2017-11-29 05:25] vic-topcoder opened #1382 "Customer segments are represented in SFDC and should be synced between Connect and SFDC"
- Self-service and Enterprise are not the only segments available for Connect; there are more segments that Wipro defines as different fields in SFDC

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-89

[2017-11-29 05:25] vic-topcoder opened #1383 "Admins can view all customer segments by default"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-87

[2017-11-29 05:25] vic-topcoder opened #1384 "Managers can have more than one customer segment view rights"
Created from Aha! https://topcoder.aha.io/features/TCCONNECT-86

[2017-11-29 05:32] vikasrohit commented on #1364
@vic-topcoder  This happens when there was some error during project status update. It causes ElasticSearch not be updated with correct data but Postgres database gets updated. However, in this case, project was cancelled 3 months ago and was submitted for review again about a month ago. I was under impression that we were not allowing cancelled or completed project to be updated, may be I have fa

[2017-11-29 05:43] vikasrohit commented on #1338
I think changes are now in dev after your revert of revert PR. 😬 Cache needed to be cleaned in cloudfront to get it reflected. I cleared it now and I can see the changes now.

Reopening the issue so that @vic-topcoder can verify before closing it.

[2017-11-29 09:03] gondzo commented on #1281
@kevinkid any updates ?

[2017-11-29 09:30] sachin-maheshwari commented on #1362
@vikasrohit,  as explored the component react-text-truncate, there is issue with logic if your are using this component for < 2 lines.

[2017-11-29 09:56] sachin-maheshwari commented on #1362
@vic-topcoder , as mentioned above if we use react-text-truncate component with > 1 lines it'll resolve atleast 'the project name gets cut to the first word" issue. PR - https://github.com/appirio-tech/connect-app/pull/1385
I also tried below with expected behavior (without truncating). Please suggest.
![withouttruncating](https://user-images.githubusercontent.com/6467888/33369062-75ea1f94-d519-11

[2017-11-29 14:36] vikasrohit commented on #1364
@vic-topcoder I know the issue is there, however, I am not able to reproduce it on local or dev as of now. I think better is to do the quick fix on production as I suggested above and observe if this issue happens to repeat itself often.

[2017-11-29 14:40] vikasrohit commented on #1362
@vic-topcoder I think we would need to truncate the project name for project card's header at least, if we don't want it to be truncated on the dashboard side panel.

@sachin-maheshwari I guess, we can use the library to truncate text when we have to do it for multi line text and when we have to truncate it for single line(e.g. for project name on project listing page in list view), we can use sim

[2017-11-29 17:57] vic-topcoder commented on #1362
I want to show the full project name whenever possible, so please make sure we're not truncating on cards at all times. We must limit the project name field to a certain length vs. truncating text from the interface. Can we get the fix into Dev so I can see how it looks? Thanks

[2017-11-30 03:59] kevinkid commented on #1281
Not yet @gondzo

[2017-11-30 05:07] sachin-maheshwari commented on #1359
@vikasrohit , as checked in DB there are corresponding 11 rows in 'project_members' table. So data coming from listing API is correct. As discussed earlier we'll handle this type of data issues at front-end.

[2017-11-30 05:44] vikasrohit commented on #1359
Then there must be some issue with code.

[2017-11-30 08:50] vikasrohit opened #1387 "Performance testing as new offering under QA projects"
fyi @vic-topcoder @dmessing @mtwomey

[2017-11-30 09:02] vikasrohit opened #1388 "Tech Debt || Get rid of nested form element for projects with App Screens section"
<img width="1280" alt="screen shot 2017-11-30 at 2 30 11 pm" src="https://user-images.githubusercontent.com/2417632/33422272-293041ac-d5db-11e7-89b5-6211093fb50c.png">

carried from #832

[2017-11-30 09:04] vikasrohit opened #1389 "Remove old forms implementation from react-components repo."
Validate if components under `react-components/components/Forms` are not being used any where and if they are not just get rid of these components to clean up things.

Carried from #832

[2017-11-30 09:06] vikasrohit commented on #832
@vic-topcoder closing the issue as I have created separate issues for the pending items.

[2017-11-30 09:06] #832 closed

[2017-11-30 09:08] vikasrohit commented on #1090
Just fyi, I have optimized code for Dropdown component to not handle outside click event when the dropdown is not open. This change is done for #1349 and yet not merged with dev so may not be visible on dev.

[2017-11-30 09:20] sachin-maheshwari commented on #1362
@vic-topcoder deployed my changes on Dev, please verify. Will we fix the "limit the project name field " issue separately or should fix in this issue ? How much limit we are planning for project name field ? I think 128 characters length would be sufficient or we can take decision by analyzing longest "completed" project name data from database.

[2017-11-30 12:13] sachin-maheshwari commented on #1359
@vikasrohit which code ? in 'detail' backend API code or front-end code?

[2017-11-30 12:25] vikasrohit commented on #1387
Changes are still in the feature branch. Not deployed to the dev. So, can be tested only if installed on local.

[2017-11-30 17:08] gondzo commented on #1346
@mtwomey What do you think about this one. Should we go for it ?

[2017-11-30 17:52] #1337 closed

[2017-11-30 19:05] vic-topcoder commented on #1359
When there are too many people on a project, we should hide the overflow to keep avatars in 1 row, and add the number of hidden avatars in the format "+3". Ideally we can reuse the avatar rendering and display the number of additional avatars.

[2017-11-30 19:07] vic-topcoder opened #1391 "Hide project from catalogue."
Project creation form should be hidden from the catalogue like IBM Chatbot. It would be used by Wirpo internally through the deep link.

[2017-11-30 19:09] vic-topcoder opened #1392 "Icon on project overview is not correct"
Fix the icon with the correct one from project card:

![screen shot 1](https://user-images.githubusercontent.com/8484061/33449851-e2ab805a-d5be-11e7-8ace-f020cdf261cb.png)

![screen shot 2](https://user-images.githubusercontent.com/8484061/33450312-3f7f560c-d5c0-11e7-9eb6-9b0b2d595d8a.png)

Should be `product-qa-website-performance.svg`
![screen shot 3](https://user-images.githubusercontent.com/84

[2017-12-01 05:45] vikasrohit commented on #1359
Yes, @vic-topcoder I was planning to do that change when work on list view updates where are restricting the number of avatars to be visible per row. However, this issue is different. It is a bug with API I guess which is not removing old team members from the list and to get it quickly fixed, we are thinking of handling it in AvatarGroup component.

[2017-12-01 07:13] vikasrohit opened #1393 "[$30] Get rid console logs when loading dashboard for a particular project"
![screen shot 2017-12-01 at 12 14 19 pm](https://user-images.githubusercontent.com/2417632/33471837-1c95fc60-d695-11e7-8c84-edb09e7ad5ee.png)

[2017-12-01 07:35] vikasrohit opened #1394 "[$70] Unnecessary calls to get latest comments for messages"
Ideally we should not make call to `v4/topics/{id}/posts` when the number of comments for a message is less than 20 because by default the API returns first 20 comments of each message in `/v4/topics` call.

<img width="1201" alt="screen shot 2017-12-01 at 1 02 45 pm" src="https://user-images.githubusercontent.com/2417632/33472417-30a91acc-d698-11e7-98e5-961684f71b33.png">

fyi @mtwomey @vic-topco

[2017-12-01 07:41] vikasrohit commented on #1391
Done. Change should be in dev by EOD.

[2017-12-01 07:41] vikasrohit commented on #1392
Fixed. Changes should be in dev by EOD.

[2017-12-01 13:25] sachin-maheshwari commented on #1359
PR - https://github.com/appirio-tech/connect-app/pull/1395

[2017-12-01 19:32] mtwomey opened #1396 "Want to be able to add / update products by only updating / adding to the connect templates"
Right now when we add products, we also need to update tc-project-service and tc-message-service?

@vikasrohit Would like to get your thoughts on this in general. Good idea? Bad idea?

Thanks

[2017-12-01 20:16] #1392 closed

[2017-12-01 20:25] #1391 closed

[2017-12-01 20:29] vic-topcoder opened #1397 "[$40] Reference field "&" character is represented as HTML entry"
![screen shot](https://user-images.githubusercontent.com/8484061/33501913-18910648-d693-11e7-90fa-507115838fca.png)

Entered `Vic R&D` as Ref code, on project details page it reads `Vic R&amp;D`. We need to make sure such html character conversions don't show up in our fields.

Expected: `Vic R&D`

[2017-12-01 20:31] vic-topcoder opened #1398 "Project specification content fixes"
Make sure the language/forms for project creation and project specification are the same. Right now we define the same fields twice (we must address this!) and thus they are not the same anymore.

[2017-12-01 20:32] vic-topcoder opened #1399 "Add-ons section is not mandatory"
Make the add-on section not mandatory in the project specification page.

[2017-12-01 23:04] vic-topcoder commented on #1362
This is not fixed in Dev right now. The project name gets cut on both dashboard and project cards. Please fix for Monday morning release

[2017-12-01 23:05] vic-topcoder commented on #1338
Verified

[2017-12-01 23:05] #1338 closed

[2017-12-01 23:09] vic-topcoder commented on #1364
@mtwomey can you please chime in and help investigate: We have reports that projects get different status reported on project list and project dashboard. What would cause such a mismatch? How can we prevent such things happening? Is there a way to find how many projects we have with such a mismatch and fix them? We'll have to loop in Joey's team to validate which status is the correct one.

[2017-12-02 06:16] sachin-maheshwari commented on #1362
@vic-topcoder , my changes are not currently on dev. As checked further, in CircleCI my changes were in build#598, which is overwritten by build#599 (feature/performance-testing).

[2017-12-04 07:42] vikasrohit opened #1400 "Support sample file for file upload section"
This is to enable user to download a template file for more detailed questionnaire for new or complex project templates. Use case came up when creating specification template for `performance-testing` offering, it contained many sections which either could not be supported because of the type of questions not supported in connect or they are dynamic.

[2017-12-04 07:43] vikasrohit commented on #1400
@vic-topcoder Capture few requirements when discussing with Dhanesh for performance testing template. Please feel free to move it appropriate milestone as per your planning or close it if you think we don't need it.

[2017-12-04 07:47] vikasrohit opened #1401 "Support for grouped questions for standard question types"
This is to enable the project templates which contains questions which are grouped together under single heading. Right now we support grouping at section and subsection level only. It would be good if we can support grouping e.g. multiple text boxes in single major question and each text box has its own label.

<img width="561" alt="screen shot 2017-12-04 at 1 16 42 pm" src="https://user-images.g

[2017-12-04 07:47] vikasrohit commented on #1401
@vic-topcoder Capture few requirements when discussing with Dhanesh for performance testing template. Please feel free to move it appropriate milestone as per your planning or close it if you think we don't need it.

[2017-12-04 08:53] #1359 closed

[2017-12-04 08:57] sachin-maheshwari opened #1402 "Duplicate projects in "customer" project listing immediately after creating a project."
Once you navigate the "view all projects" immediately after creating a project, there would be duplicate projects in project cart view. Once you reload the page, projects listing will be OK.

Before adding new project :-
![projectslistbefore](https://user-images.githubusercontent.com/6467888/33543920-de1ac62a-d8fe-11e7-8fdf-e438d57db3a5.png)

After adding new project :-
![projectslistingafter](htt

[2017-12-04 09:12] harshitmehta123 opened #1403 "Handle null values for gclid - Google Click Id from Connect to Salesforce"
### Expected behavior
It seems like for implementation of #1227 we are getting "null" inserted into salesforce as a string for GCLID (Click ID)  We would like it to be empty.

<img width="1117" alt="screen shot 2017-12-04 at 14 34 45" src="https://user-images.githubusercontent.com/6296738/33544407-a7ae1f86-d900-11e7-8eba-b9c39971c6b4.png">

Thanks @vic-topcoder for helping out :)

[2017-12-04 11:20] vikasrohit commented on #1402
Thanks @sachin-maheshwari for finding it. It seems to be there because of keepPrevious flag. I guess we need to update the [reducer](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/reducers/projectSearch.js#L48) to handle this.

[2017-12-04 11:20] vikasrohit commented on #1362
@sachin-maheshwari I have taken latest from dev into performance-testing branch, so now even if dev's build get overridden by performance-testing build, your changes would still be there.

[2017-12-04 13:31] gondzo commented on #1281
This is now fixed in the dev branch at https://github.com/topcoder-platform/tc-message-service/

[2017-12-04 13:52] gondzo commented on #1369
Also, clicking the link button without selecting any text does nothing. Should we show some toast message to guide the user to first select the text that should be the link text?

[2017-12-04 14:27] iversonLv commented on #1367
Can I take this? Is it for Bug Bash5?

[2017-12-04 14:35] gondzo commented on #1367
Sure

[2017-12-04 16:40] vic-topcoder commented on #1398
Ok, moving to tech debt to resolve this later.

[2017-12-04 16:44] vic-topcoder commented on #1400
thanks @vikasrohit - I don't want users to download and fill a form from a project file - this would reduce the transparency of data. Ideally all data would be added to Connect and we should build the fields required to capture it. Moved to a new milestone for tracking.

[2017-12-04 16:45] vic-topcoder commented on #1401
Thanks @vikasrohit

[2017-12-04 17:06] vic-topcoder commented on #1362
I'm going to close this issue and create another to solve the problem with the project name

[2017-12-04 17:06] #1362 closed

[2017-12-04 17:17] #1399 closed

[2017-12-04 17:17] vic-topcoder commented on #1387
Seems a consensus was reached and I'm closing the issue. Any further request should be captured in a fixing release

[2017-12-04 17:17] #1387 closed

[2017-12-04 17:20] vic-topcoder commented on #1319
Will close when the #1367 gets fixed as well. Functionality is completed though.

[2017-12-04 17:20] #1319 closed

[2017-12-04 17:26] Colinh84 commented on #1376
@gondzo Working on this one, but do not have permissions to self-assign yet..

[2017-12-04 19:11] Colinh84 commented on #1376
@gondzo I am currently unable to proceed with this issue as I do not have read access to the google drive link posted above with the final designs file, also none of the testing accounts I have access to (Sky_, christina_uw, cp-superstar, pat_monahan) are admin accounts, so I am unable to test the necessary admin project views..

[2017-12-04 19:45] Sande3p commented on #1376
@gondzo please clarify the status of this issue. Is this open-for-pickup or on-hold?

[2017-12-04 20:03] gondzo commented on #1376
@Colinh84 you should be able to access the directory now and you can use pat_monahan/topcoder123! to log in as admin. Also please assign the issue to yourself if you want to work on it

[2017-12-04 20:03] gondzo commented on #1376
@Sande3p it's taken by @Colinh84

[2017-12-04 20:06] Colinh84 commented on #1376
@gondzo ok thanks, I have access now. Also, I do not have permissions to self-assign the issue.

[2017-12-04 20:06] gondzo commented on #1376
you need to accept the invitation in the email first

[2017-12-04 20:08] Colinh84 commented on #1376
@gondzo got it, thanks.

[2017-12-04 20:24] Colinh84 commented on #1376
@gondzo For clarification, are the changes shown on the artboards for the top bar and filters bar also in scope on this issue?

[2017-12-04 20:41] gondzo commented on #1376
No those are handled in separate tickets

[2017-12-04 20:44] aretheregods commented on #1367
No one had accepted this, so I accepted it and finished it.

[2017-12-04 20:56] iversonLv commented on #1367
@aretheregods I have submit a PR, you can assign yourself if my solution is rejected.
Thanks.

[2017-12-04 20:57] iversonLv commented on #1367
As I have no permission to assign myself, so I leave comment here, copilot @gondzo accept me to take this ticket.

[2017-12-04 21:03] aretheregods commented on #1367
Okay, I'll unassign it.

[2017-12-04 21:05] gondzo commented on #1367
@iversonLv you have to accept the onvitation in the email

[2017-12-04 21:07] iversonLv commented on #1367
Ops, the email is treated spam..
Thanks for your tips.

[2017-12-04 22:17] vic-topcoder opened #1412 "Build connect design specification delivery portal/website on dev server"
We want to use final deliverables from Sketch, which are simple .html pages. Sharing with community is always hard and requires a lot of hand-holding, so we should be able to have a simple web server under `connect.topcoder-dev/designs/` where each design deliverable would be accessible in its own folder. Ideally it would be super easy to just add a folder to the space and have a dynamic page list

[2017-12-04 22:47] vic-topcoder commented on #1370
From Vikas: Technical problem with automatically detecting role of the user being added, is that we don't have any API to get roles of a user who is not logged in and this is done for security. So, we can't determine the role of a non logged in user, hence can't automatically add a manager as manager. The other way is as Filipp described, to add a role selector for Manager role, however, user can

[2017-12-05 00:16] aretheregods commented on #1374
@gondzo I can finish this, but it's nighttime in New York. Although I could do all of this tonight, it would be best if I finish it tomorrow morning (scheduled events tonight and a need for sleep), which would be outside of the 12 hour window. I neglected accepting the ticket, just to make sure I could actually do it expediently, but I'm not going to have time to deliver quality code unless I do t

[2017-12-05 00:24] Lativado commented on #1394
Having technical difficulties, removing my assignment and re-adding pickup label.

[2017-12-05 02:02] zjuasmn commented on #1368
PR submitted. https://github.com/appirio-tech/connect-app/pull/1413

[2017-12-05 03:59] Colinh84 commented on #1376
@gondzo There is one requirement that cannot be met here without adding lots of overhead: "Add the user that performed the timestamp action (last update by, created by)".

The /v4/projects/? search API does not provide "createdBy" or "updatedBy" fields for the returned projects. These data fields are only available by requesting the individual project API /v4/projects/{:id}; I do not think it is g

[2017-12-05 05:24] vikasrohit commented on #1396
@mtwomey I don't think we need to do any change in project service or any other service unless we introduce new project type/category. We already have some code for supporting future feature of having multiple products per project that is why we have notion of project type (or category) and product type. Project type is the major category like dev, design, qa, chatbot, website etc while products a

[2017-12-05 05:35] Colinh84 commented on #1376
@gondzo for part 10: "Customer column - remove avatar, allow for bigger space, remove user @handle, replace by project segment (when supported)",
 I am not sure where to find this "project segment", is it implemented in the API yet? I can put the dropdown in, but it won't do anything at the moment.. Unless I overlooked something, and you can tell me where I can find the "project segment" details.

[2017-12-05 06:06] vikasrohit commented on #1364
@vic-topcoder @mtwomey  first cause of this mismatch is mis match between ES(ElasticSearch) and DB data. And most probably the reason behind that is a failure(most probably it should be a temporary error) in call to ES when trying to update it. However, we should still look into it to find the root cause of the error. I doubt there can be some issue with update schema of the ES which might be thro

[2017-12-05 06:31] vikasrohit commented on #1372
Duplicate of #1336

[2017-12-05 06:31] #1372 closed

[2017-12-05 06:39] vikasrohit commented on #1336
I think this change is being handled via #1376

Personally it seem quite difficult to determine which issue I should work on when we are launching community challenge for the sub set (as separate issue) of already existing issue (without referring it new issue). I am trying to link all existing issues with the new issue which community is already working on.

[2017-12-05 07:09] vikasrohit commented on #1244
I think this is overall change for admin view of project listing and is being handled via #1376

[2017-12-05 07:12] vikasrohit commented on #1248
@vic-topcoder we need to do changes in salesforce for having qualified flag set on projects from salesforce. We can only do it the other way around from connect.

[2017-12-05 07:37] vikasrohit commented on #1245
I think this change is being handled via #1376 (sub issue number 12)

[2017-12-05 07:43] vikasrohit commented on #1243
@vic-topcoder Once we do it, we might have to run a batch job which updates existing user's (who already have Connect Manager and Administrator roles) role to give them admin role.

[2017-12-05 11:37] gondzo commented on #1374
ok, just keep me updated

[2017-12-05 11:42] gondzo commented on #1376
I'm not sure either. @vikasrohit is project segment something related to salesforce ?

[2017-12-05 12:39] aretheregods commented on #1374
@gondzo I'll get back to working on at 8 a.m. EST, and should be finished not too long after that. As you asked, I'll keep you updated. If I encounter anything prohibitive, I'll just self-unassign.

[2017-12-05 13:58] zjuasmn commented on #1394
Cannot reproduce the issue, there is no request for `posts/postId=:id` in app when viewing project.

[2017-12-05 14:04] kbowerma opened #1414 "Last Updated column in grid view is not accurate"
### Expected behavior
When displaying the grid view of the project the actual Last Update Value may not be accurate.
![image](https://user-images.githubusercontent.com/1180747/33610941-6a209c6a-d992-11e7-82c6-3c474e944d96.png)
Note project 4625 Bancolombia ... Says November 16 however if you open that project you can see it is actually today December 5

### Actual behavior
Describe.
![image](https

[2017-12-05 14:23] aretheregods commented on #1374
@gondzo There are two things of which I'm not sure. First, what options if any should I add to the project segment dropdown? Basically, what are the project segments that should be included in this list? Second, since there's a separate issue for displaying project-statuses as tabs, am I correct in assuming adding that functionality isn't in scope for this issue? Am I just supposed to remove the s

[2017-12-05 15:33] vikasrohit commented on #1394
Try adding a message which does not have more than 20 comments. If still issue is not reproducible, try creating more random data set for messages i.e. few messages with 5 comments, few with 10 comments etc. But ideally it should not do extra `/posts` request for total comments being less than 20.

[2017-12-05 15:34] mahestro opened #1415 "Last Updated column should sort by a different criteria other than status update"
### Expected behavior
I think it would be more benefitial to make the `Last Updated` criteria to follow this suggestion:
- Last time someone made a comment in the project.
- Last time someone modified the specifications page content.
- Last time someone attached a file in the specifications page.

### Actual behavior
It's `Last Updated` but right now it actually sorts by `last time the project sta

[2017-12-05 15:40] aretheregods commented on #1374
It's taking me much longer to style the new select menus than I anticipated, so I've reopened this for pickup.

[2017-12-05 16:57] Colinh84 commented on #1376
@gondzo Another thing, for 14 "Projects with unread posts/activity/notifications should have a blue 2px left border.", I do not see how this would be possible. I have combed through the APIs, and the only place where posts/activity/notifications are flagged as unread is in the "read" field of posts returned from the /v4/topics/?filter API. It looks like I would have to make an API call for each pr

[2017-12-05 17:47] gondzo commented on #1394
@vikasrohit Looks like this is already implemented here https://github.com/appirio-tech/connect-app/blob/9e67bc62570db375340399e4fc8bb01491be353d/src/projects/actions/projectTopics.js#L60

@zjuasmn please hold off on making any changes.

[2017-12-05 17:52] gondzo commented on #1376
@Colinh84 you can just set some dummy data for project segment for now, we don't have it yet.
You can skip the #14, we'll handle it separately.

[2017-12-05 19:42] vic-topcoder commented on #1414
@kbowerma the update timestamp is changed when a new user joins a project. @vikasrohit please review and reassign if needs fixing. @mtwomey FYI

[2017-12-05 19:44] vic-topcoder commented on #1415
This depends on what data we have in Connect and would require some big rework. I'm pulling it into Feature Updates as we're planning to modify the sorting criteria in general. Further research is needed. Thanks for reporting @mahestro :)

[2017-12-05 19:46] vic-topcoder commented on #1412
@mtwomey - please reassign to whomever can help. Let me know if you want to cover this deeper on our next meeting. More tasks might be needed and setup of environment. Let's discuss this before commencing any work.

[2017-12-05 19:49] vic-topcoder commented on #1396
The project catalogue is growing fast, and we need to make sure R&D is not manually releasing or editing project types and product definitions. The need is to allow multiple sources to submit their own specification and they may introduce changes. Right now the deployment of a new project or product is dependent on the services Matt mentioned.

[2017-12-05 19:52] vic-topcoder commented on #1364
@vikasrohit Please review #1414 as well

[2017-12-05 22:05] mahestro commented on #1415
No probs, amigo. Glad to add my 4 cents to improve the platform :)

[2017-12-05 23:14] kondakovdmitry commented on #1397
The conversion from `&` to `&amp;` occurs in the v4 `projects` API. In request the connect-app sends `&`, but receives `&amp;` in response. E.g. (note the values in **bold**):

Request:
PATCH https://api.topcoder-dev.com/v4/projects/2115/
{"param":{"name":"Test project 112","details":{"utm":{"code":**"R&D pr"**},"appDefinition":{"primaryTarget":"phone","goal":{"value":"It will be cool.","seeAttach

[2017-12-06 02:54] maxceem commented on #1373
Browser URL is getting updated with the current page number. So let's say we scroll 10 pages with lazy load so in the browser URL it will be `page=10&sort=updatedAt%20desc&status=in%28draft%2Cin_review%2Creviewed%2Cactive%2Ccompleted%2Cpaused%29`.

If we **reload** the page with such URL or share the URL with somebody who opens it. We are supposed to show page number 10 to a user in such case.
- S

[2017-12-06 05:28] vikasrohit commented on #1396
That is what I am try to convey that **_there is no service change required when you add new product in existing project category_.** Definitely we should make changes to make it independent for introduction of new project category as well but that would require lot of changes and rethinking how we assume project category and products. Organizations support and more fine grained roles management a

[2017-12-06 05:31] vikasrohit commented on #1394
Agree @gondzo but even after that code in place, it seems we are making some unnecessary calls as you can see from screenshot in issue description. So, it seems like a bug to me.

[2017-12-06 05:34] vikasrohit commented on #1376
@vic-topcoder might know better.

[2017-12-06 07:23] mahestro opened #1418 "[Suggestion] Make project description textareas larger"
### Expected behavior
User should be able to comfortably read the content of the specs section. The descriptions text areas should allow more space or maybe make it long by default and add an edit feature to each field 🤔

### Actual behavior
Two lines seem too small to read all the content. I remember there used to be an expandable feature right down the corner of the text area but it's gone now.

[2017-12-06 07:28] mahestro opened #1419 "[Suggestion] Add a download all files link to the specifications section"
### Expected behavior
User should be able to easily download all the files in one single click.

### Actual behavior
I've had projects with 10+ attached files. I have to download one by one, clicking each link.

### Steps to reproduce the problem
- Go to specifications page of any project.
- See files section.
- Sample project with lots of links: https://connect.topcoder.com/projects/3857/specific

[2017-12-06 09:47] maxceem commented on #1373
## Implementation notes:
- Infinite scrolling implemented for both `grid` and `card` view
- `page` param was removed from the URL
- **NOTE** As I don't have a user with proper credentials to test `grid` view I tested solution by temporary patching some `isPowerUser` flags in the code. If you could share credentials for a powerful user I can test in real conditions.

## Fixes
- When go to the next

[2017-12-06 11:26] vikasrohit commented on #1243
Feature is in dev. @vic-topcoder Let me know if you face any issue with it. Right there is only one user(vikasrohit14) with 'Connect Admin' role. I have added a new user `tc_connectAdmin` for this purpose but I am not able to assign the role to this user as it seems admin app in dev is broken and it is not allowing me to do any operation. Meanwhile, you can try with `vikasrohit14`.

[2017-12-06 12:16] vikasrohit opened #1421 "Silent the notifications for admin activity"
TBD

[2017-12-06 12:18] vikasrohit commented on #1421
@vic-topcoder Can you please add more details here? I have extracted this feature as separate issue because part(admin can change status by going into project details page) of #1245 is already developed  and part (admin can change status by list page itself without going into details page) is being developed via community.

[2017-12-06 12:33] vikasrohit commented on #1371
Changes are in dev.

[2017-12-06 15:07] zjuasmn commented on #1394
@vikasrohit could you show more detail of the network panel? Is the first request a OPTIONS request?

[2017-12-06 15:17] vikasrohit commented on #1394
@zjuasmn Yes, the first call is OPTIONS and the second one is GET. Ideally it should not have been called because total comments for the message are 6 only (refer to screenshot in issue description).

[2017-12-06 18:36] vic-topcoder opened #1422 "Unify .svg resource loading and use"
We should refactor the use of SVG images in all components to be consistent. SVG images are text-based vector data that shouldn't be included as CSS backgrounds or <IMG> elements. This will allow us dynamic modifications with CSS and JS - drawing/animation/color change, transformations, etc..

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-39

[2017-12-06 18:36] vic-topcoder opened #1423 "Consistent code style & code reviews"
We should have a consistent code formatting and code style guide across all components. Currently there are quite a few variations and we must fix that.

JS - bring all components to React 16

SCSS - small modular pieces of code; too many heavily nested and complex files; break down to components; use variables

HTML - clean and improve the semantic use of HTML tags and set standards for custom HT

[2017-12-06 18:36] vic-topcoder opened #1424 "[$100] Remove dependency of old/obsolete technology"
We still have dependencies for Coffescript, Jade, etc. We should update the repo to not use any obsolete technologies

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-42

[2017-12-06 18:36] vic-topcoder opened #1425 "Performance baseline"
We should be testing our components and interface for performance baseline and prevent degradation. All new features/fixes that are introduce shouldn't create regress in performance - there should be an automatic solution to help us with that.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-41

[2017-12-06 18:39] mtwomey opened #1426 "[$100] Add sanitization to Connect "links""

[2017-12-07 00:24] zjuasmn commented on #1394
@gondzo @vikasrohit I think I might have found the way to reproduce this bug and it seems to be an api bug.

Visit <https://connect.topcoder-dev.com/projects/2071> as `amy_admin`, the feed has 20 comments, but the api returns `postIds` array with 21 postIds and `posts` array with 20 posts. And the `retrievedPosts` field and `totalPosts ` field is also not correct. So the frontend would need to fet

[2017-12-07 00:33] maxceem commented on #1374
For this task, it would be nice to have a user, which has sufficient credentials. Currently, Parth Manager doesn't have them, so I only can see projects as a regular user http://take.ms/zovGv.
Let me know if can add to the user `Connect Manager` role in admin backend.

[2017-12-07 00:43] gondzo commented on #1394
Good find @zjuasmn
I believe this is related to adding users to project - it creates an invite user post that we're filtering out in the api but the total count can't be correct unless we fetch all posts each time. I don't see a way around this. Any ideas @vikasrohit ?

[2017-12-07 05:27] vikasrohit commented on #1374
Earlier `pshah_manager` used to have Manager role. I am not sure what happened but seems like someone has removed his roles. I would try fixing it.

[2017-12-07 05:37] maxceem commented on #1374
@vikasrohit yes, thank you. I haven't added this role back myself as I was afraid of stepping into somebody working process.

[2017-12-07 06:09] vikasrohit commented on #1374
@maxceem are you able to add/remove roles for a user?

[2017-12-07 06:34] vikasrohit commented on #1374
@maxceem I have added back manager role to pshah_manager user.

[2017-12-07 06:36] maxceem commented on #1374
@vikasrohit yes, I have admin credentials for **development** admin backend, from other challenges. For example [this challenge](https://www.topcoder.com/challenge-details/30060941/?type=develop) provides them.

[2017-12-07 06:38] vikasrohit commented on #1374
Ohk, got it. It seems like some else having the same credentials changed the roles.

[2017-12-07 07:05] maxceem commented on #1374
Submitted PR https://github.com/appirio-tech/connect-app/pull/1428

## Implementation notes

- I keep segments list empty so far. I cannot populate it with fake values because API requests will fail as `segment` is not available option for filtering.

- `react-select@0.9.1` is being used in the module `appirio-tech-react-components` though the latest version available is `1.1.0`.
  I have to keep

[2017-12-07 10:14] vikasrohit commented on #1394
@gondzo @zjuasmn spent more time this. `retrievedPosts` count is always <=20 because it shows the number of posts returned in the `/topics` call and it counts only the real posts (posts which are posted by team members or coder bot), it minuses 1 from 20 for each post that is system generated. Example of system generated posts are the ones @gondzo you were concerned above i.e. `user invitation` me

[2017-12-07 11:06] sachin-maheshwari commented on #1389
@vikasrohit i didn't find any component named with "Forms" is being used under neither in "appirio-tech/react-components" nor in "appirio-tech/connect-app" repo.  Also folder "react-components/components/Forms" is not available in repo "appirio-tech/react-components" .

[2017-12-07 11:07] vikasrohit commented on #1415
@vic-topcoder @mahestro Today I spent significant time in debugging issues sorting of messages in a project and along with it also researched for sorting of projects. Project's `updatedAt` is updated only when there is some change in project spec. It is not updated when there is message or comment for the project OR when there is a user is added/removed from the project. So, I guess, specs for the

[2017-12-07 11:13] vikasrohit commented on #1389
Here is the [link](https://github.com/appirio-tech/react-components/tree/feature/connectv2/components/Forms) to the component, it exists in `feature/connectv2` branch only. We are using `feature/connectv2` branch in connect and master in community facing apps e.g. topcoder-app

[2017-12-07 11:16] mahestro commented on #1415
Hi @vikasrohit, thanks for going through this.

I think there might be a misunderstanding in my statement. My suggestion is to make the projects that have recent comments or spec changes come on top, not the projects who had a status change.

[2017-12-07 11:21] vikasrohit commented on #1415
Oh you mean we don't update the `updatedAt` at all for project status changes. That might be good question for @vic-topcoder.

[2017-12-07 11:22] mahestro commented on #1415
Yes, that's it!

[2017-12-07 11:26] vikasrohit commented on #1248
@vic-topcoder There is already a flag called `MQL` in saleforce which is in fact what call Marketing Qualified Lead. So, I guess we can use that flag for this purpose. Can you please confirm with the feature requester about the same?

[2017-12-07 12:25] sachin-maheshwari commented on #1352
PR - https://github.com/appirio-tech/connect-app/pull/1429

[2017-12-07 12:29] sachin-maheshwari commented on #1352
not sure if it is known behavior -  corresponding back-end API is giving maximum 20 results even offset value is > 20.
https://api.topcoder-dev.com/v4/projects/?limit=50&offset=0&fields=id,name,description,members,status,type,actualPrice,estimatedPrice,createdAt,updatedAt,details&sort=updatedAt+desc

[2017-12-07 14:36] kbowerma opened #1430 "connect email notification should have the project name."
### Expected behavior
I have several projects running in connect and some have the same co-pilot.   If I read the email alone I don't know what project is for.   Please add the project name in the title or the body of the email

### Actual behavior
the email does not contain the project name

### Steps to reproduce the problem
add a comment in connect
see the emails

### Screenshot/screencast
Atta

[2017-12-07 20:18] vic-topcoder commented on #1430
Once we can start work on the email notification system, the email template would be redesigned to provide maximum clarity on event and details. Thanks for reporting, @kbowerma

[2017-12-07 20:21] vic-topcoder commented on #1421
If an administrator is performing actions on a project where they're not joined, the system should not trigger notifications. This would reduce noise. The idea is that we want to allow admins to act on projects without disturbing or triggering unnecessary noise. The missing one is managing team members right now, or editing the project specification, or any of the posts.

If an Admin spots a typo

[2017-12-07 20:25] vic-topcoder commented on #1418
I guess there's a regression bug occurring. We use a react component that should auto-size all text areas that have content to display the maximum content at a time.

@gondzo - probably a good candidate for community to figure out why the text area auto-resize plugin stopped functioning?

[2017-12-07 21:07] vic-topcoder commented on #1415
Definition of "Last updated" should include all events that have user significance/are actionable.

**Events that should force "updatedAt" timestamp change:**
- New post on the feed
- Post/comment is edited
- Response to a post in the feed
- Specification was updated
- Links are posted
- Files are attached
- Project is submitted for review (should show on top of the grid for managers to review) -

[2017-12-07 21:37] vic-topcoder commented on #1373
That's a great question. There are 2 possible cases:
1 A. User is in the system, scrolls to a page, goes into project, hits the browser back button. In that case the user should preserve their spot on the page. Ideally the list would be persisted.
1 B. User is in the system, scrolls to a page, goes into project, hits the "View all projects" - same behavior (preserve active page).

2 A. The user is

[2017-12-07 23:47] gondzo commented on #1415
one way to solve this one would be to reuse our new event bus (Kafka) - we have all the events there (project updates, messages, etc) and we'd just need a service that subscribes to these events and updates project timestamps accordingly.
@mtwomey @vic-topcoder

[2017-12-08 00:30] maxceem commented on #1373
Great, this exactly how I did it.

[2017-12-08 01:12] vic-topcoder commented on #1415
We discussed something like this for page updates/reload page and other interface changes with @mtwomey couple of hours ago. Using a unified approach in the system would be easier to manage in the long run, event-based updates is a good way to move forward, right @mtwomey?

[2017-12-08 06:13] vikasrohit commented on #1415
Just 2 cents, we are already having it event based, only difference is that it would be now using Kafka instead of current hosted RabbitMQ.

[2017-12-08 10:55] gondzo commented on #1373
looks good. merged to bugBash05.

[2017-12-08 11:15] sachin-maheshwari commented on #1389
@vikasrohit , PR - https://github.com/appirio-tech/react-components/pull/276. As you mentioned above, "feature/connectv2" is being used in connect-app, so just verified changes here only.

[2017-12-08 18:21] vic-topcoder commented on #1248
Ok, spoke with Joey today. The `MQL` field in SFDC should be synced with the Connect project. We want to show this flag only to managers. Let's pause this feature for the moment, I need some design on the dashboard to show to managers/admins.

[2017-12-08 18:29] vic-topcoder commented on #1415
Ok, so what is the resolution for this ticket? Should we move it to tech debt and fix the sorting mechanism at once? @mtwomey @vikasrohit

[2017-12-08 18:36] mtwomey commented on #1415
@vic-topcoder @vic-topcoder @mahestro @gondzo

At the risk of being unsophisticated, can't we just directly add a call to update the _latUpdated_ field in the project, to the services that are performing the actions Victor listed above?

I realize this isn't super scalable - but I don't think it needs to be and might be the simplest solution.

Thoughts?

[2017-12-08 19:32] vic-topcoder commented on #1415
Whatever gets this resolved fast without too much effort is great. I want us to think about cleaning dependency on too many different technologies at the back as well, though. It's your call @mtwomey

[2017-12-08 19:33] vic-topcoder commented on #1402
@sachin-maheshwari what is the update on this issue?

[2017-12-10 23:42] gondzo commented on #1375
@shubhendusaurabh These should not be added to ProjectsCardView, but to ProjectsGridView as shown in the designs. Can you please update the PR ?

[2017-12-11 00:41] gondzo commented on #1376
1-3 done
4 - some descriptions are over two lines > http://pokit.org/get/img/3403f4e10d01985ccc1727f961d27346.jpg
5-11 done
12 - tooltip is missing
13- ok
can you please update the PR and create a PR against bugBash05 branch, not dev

[2017-12-11 01:10] gondzo commented on #1369
@vic-topcoder What is that middle icon in https://topcoder.aha.io/attachments/6493656257511491266/token/9b77a3a583d8c39256da3672e23c6cbda7e84a75ce349e7ce3daee65b402440b.download?size=original

[2017-12-11 04:59] #1352 closed

[2017-12-11 05:08] vikasrohit commented on #1248
@vic-topcoder I am working on this issue from salesforce side. I mean I am working on updating connect data from salesforce whenever some one updates the MQL flag in salesforce lead. For propagating this flag from Connect to Salesforce, I would suggest not to add that functionality at all because we should make applications owners of their data i.e. data generated by Connect should be updated only

[2017-12-11 05:21] vikasrohit commented on #1248
Also, fyi, I am working on https://github.com/appirio-tech/tc-connect2sf/issues/22 simultaneously because it is becoming error prone to add new fields, which are to be synced to salesforce from connect,  into that integration application(`tc-connect2sf`).

[2017-12-11 07:31] shubhendusaurabh commented on #1375
@gondzo Updated.

[2017-12-11 09:42] gondzo commented on #1375
thanks

[2017-12-11 11:42] Colinh84 commented on #1376
@gondzo merge conflicts and fixes have been completed, new PR against bugBash05 branch created.

[2017-12-11 12:20] gondzo commented on #1376
@Colinh84 project status filter styling is off after the merge
before merge >
![image](https://user-images.githubusercontent.com/3051646/33830736-a18cbe94-de75-11e7-96fc-aa28d330408c.png)
after merge >
![image](https://user-images.githubusercontent.com/3051646/33830751-b3537c3a-de75-11e7-9718-4a0dd56910cf.png)

Also, can you update ProjectListNavHeader to not require a full reload and not to add c

[2017-12-11 14:21] Colinh84 commented on #1376
@gondzo The status filter bar before merge was a duplication of the status filter bar that I had already implemented in my solution, so it was removed.  Should all of the statuses shown in the before merge be present? In the final design files I worked from, only the ones shown in the after merge picture were present.

[2017-12-11 14:26] gondzo commented on #1376
I see. You can show all the statuses, like before the merge.

On Mon, Dec 11, 2017 at 3:21 PM, Colin Hunt <notifications@github.com>
wrote:

[2017-12-11 15:35] Colinh84 commented on #1376
@gondzo Alright, all of the requested changes have been implemented into the PR branch.

[2017-12-11 18:14] gondzo commented on #1376
Thanks. Looks good with just one minor issue: Clear all button in the filters does not work after the merge. Can you please take a look ?

[2017-12-11 18:36] vic-topcoder commented on #1369
This removes the link, but until you click it, you can't figure it out.

[2017-12-11 19:32] rsial2 opened #1432 "Discussions Pane Sorting"
Please sort the discussions list by most recent discussions first:
![image](https://user-images.githubusercontent.com/5807576/33849936-c791f468-de77-11e7-812f-a121e1c94ffe.png)

[2017-12-11 20:57] Colinh84 commented on #1376
@gondzo The clear all button has now been fixed in the PR.

[2017-12-12 00:56] vic-topcoder commented on #1432
It might be related to #441. Thanks for reporting @rsial2 - due to the deprecation of this particular feature it would be with a lower priority from product stand point.

[2017-12-12 00:59] vic-topcoder commented on #1376
I checked the development so far, and there are a bit of visual inconsistencies from the specification. Please compare the specification and the visual styling and make sure they match - bakcground colors, text size/weight/color.

Another point on scaling - certain columns should always be fixed-width - project icon, managers, and status. ID should always fit exactly the content, and description s

[2017-12-12 01:06] rsial2 commented on #1432
That issue pertains to projects in the project listings page, not discussions in one project. Also I thought you brought the discussions pane back for new projects?

[2017-12-12 06:27] vikasrohit commented on #1248
@vic-topcoder I am almost done with changes in Salesforce side for propagating the MQL flag from salesforce to Connect. Right now there is not visible changes in Connect which shows you the MQL flag being set, however, if we have UI for showing qualified flag and filtering projects on qualified flag, the changes would be visible.

[2017-12-12 09:28] vikasrohit commented on #1370
@mtwomey Do you have any workaround for handling security issue in exposing the user roles?

[2017-12-12 11:53] vikasrohit commented on #1243
Found following issue after introducing Connect Admin role:

- [ ] Duplicate buttons for removing a team member
<img width="352" alt="screen shot 2017-12-12 at 5 13 06 pm" src="https://user-images.githubusercontent.com/2417632/33883015-229a64ba-df60-11e7-8ce4-66918700ff19.png">

[2017-12-12 12:14] vikasrohit commented on #1371
@vic-topcoder Should we allow admins to remove customers as well? Right now even managers don't have that privilege.

[2017-12-12 12:25] sachin-maheshwari commented on #1402
@vic-topcoder, doing unit testing..

[2017-12-12 12:37] vikasrohit commented on #1243
Fixed duplicate Remove button issue in dev.

[2017-12-12 22:47] gondzo opened #1434 "Topics not shown"
Some projects (in prod) don't display all topics on dashboard. I've observed three cases: no topics at all, two topics, all topics. Refreshing the page shows one of those three states randomly. There are no network or console errors. The bug seems to be in the tc-message-service -> it returns incomplete data.
Any ideas about the cause @vikasrohit @mtwomey
The project in question is 4214 (prod).

[2017-12-13 01:50] vic-topcoder commented on #1432
No - we're not bringing the discussions pane back. The need for listing all discussions at the same page requires a slightly different approach - a way to sort through the project dashboard posts. That is a feature that is under consideration at the moment.

[2017-12-13 01:55] vic-topcoder commented on #1370
It is required at some point for managers and connect admins to view all members and manage user roles in the app. We should approach the data the same way our current admin tool does, I assume it is quite secure. This should be platform-wide and standardized.

@mtwomey any ideas on how we can get around the block quickly?

[2017-12-13 01:57] vic-topcoder commented on #1248
Awesome. At the moment Joey & team couldn't justify the feature and the flow, so I will keep it on hold. According to Joey they need this flag in their SFDC workflow, not necessary on Connect. Ideally we would have project tags in the future that would help with search/filter.

[2017-12-13 02:01] vic-topcoder commented on #1243
@mtwomey - can you review that the Connect Admin role is different than the "administrator" role. I would like to have a consensus from the team and review before we release.

[2017-12-13 02:12] #137 closed

[2017-12-13 02:24] vic-topcoder commented on #963
That'll be amazing! :) 🥇  @gondzo - do we plan to do web socket notifications?

[2017-12-13 02:27] vic-topcoder opened #1436 "Notification center"
New space where all notifications from all projects can be reviewed

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-5

[2017-12-13 02:27] vic-topcoder opened #1437 "[$200] Page update reload suggestion"
Detect when a page has been updated while the user is browsing, and display a prompt to reload the page to update with the latest content. Specifically useful for discussions on the home feed.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-9

[2017-12-13 02:27] vic-topcoder opened #1438 "Notifications settings page"
Allow the users to control what notifications they receive and how. This is a must

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-10

[2017-12-13 02:27] vic-topcoder opened #1439 "Notifications quick meu"
Allow the user to see when a new notification is posted on the system - through the notifications menu they can navigate to the point of interest, dismiss the notification, or view all notifications on the notifications page.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-6

[2017-12-13 02:46] rsial2 commented on #1432
But you said you were going to bring it back? What's the point in using Connect if we can't have conversations that are clear and easy for clients to understand and track. Removing the discussions pane was a huge step back in usability.

[2017-12-13 05:32] vikasrohit commented on #963
@vic-topcoder @gondzo Web Sockets are heavy on server. So we have to plan it accordingly.

[2017-12-13 07:31] vikasrohit commented on #1434
@gondzo it seems we are rate limited there because of too many calls as we were discussing in https://github.com/topcoder-platform/tc-message-service/issues/26. We are thinking for quick fix that can reduce the number of calls to discourse and reduce the load time of messages. If you have any idea or suggestion, please let us know.

fyi @mtwomey

[2017-12-13 07:33] vikasrohit commented on #1243
@vic-topcoder @mtwomey In Connect, right now `Connect Admin` role has same privileges as of and `administrator`. The difference in these two roles is the ability to access other topcoder applications. `Connect Admin`s can not access other topcoder applications as administrator unless they have `administrator` role as well.

[2017-12-13 10:29] gondzo commented on #1434
Is this rate limit being me -> tc api, or tc api->discourse?
Any chance we can increase this limit temporarily until we figure out how to decrease number of calls ? @mtwomey @vikasrohit

[2017-12-13 10:33] vikasrohit commented on #1434
I think both are in having combined effect here. We can avoid rate limit for ourselves by avoiding quick page refreshes.

[2017-12-14 00:33] vic-topcoder opened #1441 "Loading more results in the grid triggers an error (500)"
Right now when you try to load more projects, there's a 500 error.
![screen shot 3](https://user-images.githubusercontent.com/8484061/33969646-4a507396-e023-11e7-81e9-d77ae9275b37.png)
![screen shot 4](https://user-images.githubusercontent.com/8484061/33969651-4c53137e-e023-11e7-83ef-a0001b94a4d3.png)

[2017-12-14 01:39] vic-topcoder opened #1442 "[$400] You can't use .svg as background images. All icons in the interface should be inserted as inline HTML/SVG tags."
Multiple instances of using .svg images as background images in CSS. WE DO NOT ALLOW THAT.

We should always use the SVG react include way so we can modify the SVG properties. Please fix all of the instances where we have inserted .SVG as css `background: url(..)`

Example
![screen shot 5](https://user-images.githubusercontent.com/8484061/33971283-86253d58-e02c-11e7-9e33-7fa787b21aec.png)

@vikasr

[2017-12-14 01:48] vic-topcoder opened #1443 "Don't use random color numbers"
In your SCSS you should only use `$tc-[color-variable]` for specifying colors. Failure to do so breaks the consistency of code and makes it super hard to modify later. Only place you're allowed to use numerical values for colors are `box-shadow` - we don't have a mixin yet, but we should include one.

Please follow the https://github.com/appirio-tech/connect-app#code-style for all bugs. We might n

[2017-12-14 01:50] vic-topcoder opened #1444 "Add tooltip hint for manager user avatar as well"
We don't have a hover hint tooltip for the project managers. Please reuse the tooltip hint for customer.

Depends on fixing #1445 first

[2017-12-14 01:57] vic-topcoder opened #1445 "Update the customer tooltip component"
Right now we show some additional data that doesn't exist. Until that point let's remove the extra data from SFDC (it is hardcoded in the component).

Remove:
[code]

Also, ProjectGridView should not hardcode the tooltip, but reuse a stand-alone component. At the moment it is like this:
![screen shot 10](https://user-images.githubusercontent.com/8484061/33971733-ecaedc44-e02e-11e7-8ba4-5c1a6d09bd2

[2017-12-14 01:58] vic-topcoder opened #1446 "Grid error message is not centered"
Should be centered at all times (resize your window)

![screen shot 3](https://user-images.githubusercontent.com/8484061/33971814-3d8e6e5e-e02f-11e7-9ff5-f2acf6fe1420.png)

[2017-12-14 01:59] vic-topcoder opened #1447 "Changing status on the grid for cancelled project isn't visible"
When the admin uses the status dropdown on the project grid to cancel a project, the menu is hidden.

![screen shot 6](https://user-images.githubusercontent.com/8484061/33971840-5fe37fee-e02f-11e7-86c5-5ee7a0eb88a6.png)

Please make sure the menu is visible:
![screen shot 7](https://user-images.githubusercontent.com/8484061/33971846-673d3cbc-e02f-11e7-9b1b-3b866016b1de.png)

[2017-12-14 02:08] vic-topcoder commented on #1376
I've fixed some style issues, but there are new bugs opened for this component - code style, use of rgba or hex colors in SCSS, project status menu in cancel mode is not visible, tooltip should not be hard coded in the grid component, the grid component in general is too hard to read, ideally should be broken down into smaller components/reuse our existing components. @gondzo please work with on t

[2017-12-14 02:17] vic-topcoder opened #1448 "List filters (tabs) should not show on the filters button."
Right now when you use the tabs above the grid to filter it, the filters button shows (1). We should not do that, as that button only shows filters within the menu that is shown/hidden from the button.

![screen shot 1](https://user-images.githubusercontent.com/8484061/33972251-d604b768-e031-11e7-9357-02d49b23f159.png)

[2017-12-14 02:31] vic-topcoder opened #1449 "Change status tabs order & labels"
Current
![screen shot 3](https://user-images.githubusercontent.com/8484061/33972288-0113d4f2-e032-11e7-99ae-13c5463b361a.png)

Let's make the default filter order to be
![screen shot 6](https://user-images.githubusercontent.com/8484061/33972559-38b79b18-e033-11e7-8e26-4e673cfbcf74.png)

From left to right:
All statuses -> "All projects"
Active
Draft
In review
Reviewed
Completed
Canceled
Paused

Re

[2017-12-14 02:33] vic-topcoder opened #1450 "Increase the number of notifications in the drop-down menu to 10"
Show the latest 10 notifications in the drop-down menu. Currently they're only 2.

[2017-12-14 02:34] #1436 closed

[2017-12-14 02:34] #1438 closed

[2017-12-14 02:34] #1439 closed

[2017-12-14 02:41] vic-topcoder opened #1451 "Changing project status on the grid should not load the project page."
Any project status changes within the grid should not load a new window for the user. If I want to set a new project status, I would click on the drop-down, select the status, and upon competition the new status icon should be displayed. The "Project status updated" alert should still show to confirm all would be changed.

Right now if I cancel or close a project, the system takes me to the projec

[2017-12-14 02:42] vic-topcoder commented on #1447
Also applies for Completed status: Expected
![screen shot 1](https://user-images.githubusercontent.com/8484061/33972999-533405ec-e035-11e7-9c54-32cb376568bf.png)

Use absolute positioning in a relative element, offset from the right.

[2017-12-14 02:51] vic-topcoder opened #1452 "Project grid click zone must increase"
Right now only the title of the project is clickable. We want to make it easy for managers to click on ID, icon, title, description in order to get to the project details section.

[2017-12-14 02:53] vic-topcoder opened #1453 "Project tags must be clickable and used as search term."
### Expected behavior
When I click on a project tag, the system would populate the tag in the search field and I'll see all projects by the same tag. Similar to the technology tag behavior on Topcoder project listing (http://community-app.topcoder.com/challenges?filter[tags][0]=ReactJS). The difference is that the tags are not applied as filters, but search.

### Actual behavior
The tag is not cli

[2017-12-14 03:01] vic-topcoder opened #1454 "Clear all project button doesn't use the UI Kit styles"
### Expected behavior
The button should follow the UI Kit classes

### Actual behavior
Missing designator. Add `tc-btn-secondary`
Change the label to `Clear filters`
![screen shot 5](https://user-images.githubusercontent.com/8484061/33973501-114340dc-e038-11e7-82f3-4c039e0f59db.png)

[2017-12-14 03:03] vic-topcoder opened #1455 "Filter menu doesn't persist when creating new project menu is opened"
The filters menu doesn't persist state when the project creation window is opened, or the user navigates to a project details page.

Expected: For the duration of the user sessions, persist the state of the filters menu (open or close).

[2017-12-14 03:07] vic-topcoder commented on #1371
Yes, please! There are several recent cases where the owner was a manager and we had to remove him from the owner role.

[2017-12-14 03:08] vic-topcoder commented on #1336
yes, duplicate. It is already in dev.

[2017-12-14 03:08] #1336 closed

[2017-12-14 03:09] vic-topcoder commented on #1245
Yes, duplicate

[2017-12-14 03:09] #1245 closed

[2017-12-14 03:09] vic-topcoder commented on #1244
Duplicate, closing

[2017-12-14 03:09] #1244 closed

[2017-12-14 05:47] vikasrohit commented on #1455
I think we should keep it for Community fixes 06 as 05 is already in progress and expected to be released by coming Monday/Tuesday.

[2017-12-14 08:53] vikasrohit commented on #963
I don't have that data @gondzo, however, I don't think it is more than few tens of concurrent users.

[2017-12-14 08:59] vikasrohit commented on #1421
@vic-topcoder If we don't trigger any notifications for cases like admin added/removed a member or edited a post etc, it would cause confusion. No one would know how a team member got added/removed or who edited some post (may be it was not a typo but admin thought otherwise).

We definitely need to have an audit trail for all actions and this should be visible to at least all admins. Instead of c

[2017-12-14 12:26] sachin-maheshwari commented on #1402
There were couple of more scenarios which i covered in PR - https://github.com/appirio-tech/connect-app/pull/1456

[2017-12-14 12:53] vikasrohit commented on #1402
@sachin-maheshwari Can you please add those additional scenarios, which you got fix with your PR, in original issue description?

[2017-12-14 20:30] vic-topcoder opened #1458 "Fix price quote mechanism"
All projects should display price quote depending on selection of questions. We need to extend the configuration JSON to be able to define price variables per multiple questions. Ideally through selection of different questions the price of a project would be changed.

What I imagine is:

- Project base price - the minimum price for each project,
- Price modifiers - property of different question

[2017-12-14 20:30] vic-topcoder opened #1459 "Eliminate duplicate definitions in a JSON file"
Let's eliminate the duplicate structures in JSON - project creation and specification forms - this is extremely error prone.

Refactor the code as needed

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-129

[2017-12-14 20:30] vic-topcoder opened #1460 "Create JSON validator for the form so we're preventing errors"
We need to have a JSON file validator for the forms on Connect. Ideally it would make sure that no definitions are wrong or parts missing. It is easy to make errors right now.

Created from Aha! https://topcoder.aha.io/features/TCCONNECT-128

[2017-12-14 20:30] vic-topcoder opened #1461 "Document the project configuration JSON structure"
We need to launch it as a challenge. The goal is to create a well documented public page where we can have all the controls and the json source code on the same page so people can reference and correct code.

Document and enhance the specification configuration json files so we can empower the rest of the team to build/maintain projects and products on Connect.

Example:  [https://semantic-ui.com/

[2017-12-14 20:37] vic-topcoder opened #1462 "Code refactor to load cleaner JSON files instead of repeated JS functions"
Right now each specification .js file reuses the same functions (more or less) - ideally we can have only 1 smart specification parser where we pass the JSON specification object. This is important to allow us to store the specification in the DB going forward.

DRY! (Don't Repeat Yourself)

![](https://topcoder.aha.io/attachments/6499504410623292806/token/5ee53fd63d25b5632ee77584e08964ef2915c4bc8

[2017-12-14 22:43] #1460 closed

[2017-12-14 23:16] mtwomey commented on #1370
@vikasrohit @vic-topcoder

```https://api.topcoder.com/v3/roles``` get you the group names and IDs
```https://api.topcoder.com/v3/roles/4?fields=subjects``` gets you users that have a given role

(you need to send an auth header with these calls)

Do we still have a security issue if we only allow admins to use the box to add copilots or managers?

[2017-12-15 05:49] vikasrohit commented on #1443
@gondzo can we run a task for this?

[2017-12-15 05:59] vikasrohit commented on #1370
Yes, @mtwomey These endpoints are there but they require token of an user with `administrator` role, I guess.

I guess no, if only allow users with `administrator` role to add managers. That means people with `Connect Admin` role won't be able to add team members as managers. We have to add `administrator` role to all such `Connect Admin`(s) who we need to allow adding Managers. However, IMO, it w

[2017-12-15 07:28] vikasrohit commented on #1371
Done. Changes should be in dev.

[2017-12-15 08:53] Colinh84 commented on #1376
@vic-topcoder Regarding "use of rgba or hex colors in SCSS" - There are only 3 color hex codes in my scss files, which are all unique and do not match to any variable in tc-includes. There is also only 1 rgba value which does not match any variable. If you are concerned about hex and rgb values in scss files, check out the rest of the codebase where there are 94 instances of hex over 23 component

[2017-12-15 11:53] sachin-maheshwari commented on #1373
@gondzo I found one issue in corresponding changes (in card view)- new project is not coming in project listing if you hit/browse "VIEW ALL PROJECTS" link (from project detail/dashboard page) immediately after creating new project.

Also in grid view, I am getting following error  -

ProjectsGridView.jsx:181 Uncaught (in promise) TypeError: Cannot read property 'firstName' of null
    at Object.re

[2017-12-16 00:39] vic-topcoder commented on #1376
for #1447 use UID: `pat_monahan`. As for the rest of the issues - they are pretty valid and we cannot release until those are fixed. The `rgba` colors should be matched to the existing color variables. I captured this issue at #1443 and it is in the entire app source code. If you have a color mismatch please point out which are the colors in question that need to be matched to the set color palett

[2017-12-16 01:16] vic-topcoder commented on #1370
@vikasrohit @mtwomey - we need to allow
- `Connect Manager` role can view and add  `Connect Manager` and `Connect copilot` when in project;
- `Connect Administrator` role can view and add other `Connect Manager` and `Connect Copilot` at all times;
- `Administrator` would be a special role that can access TC Admin to grant rights to users.

I want to have `Connect administrator` and `administrator`

[2017-12-17 18:58] gondzo opened #1464 "Add routes for notification actions"
We need to add these routes for handling notification onClick events
- go to specific post by id
- go to project file list

[2017-12-17 19:00] gondzo opened #1465 "Notification settings"
In the notification settings page we showing options for web and email. Should we hide email for now?

[2017-12-17 19:04] gondzo opened #1466 "Respect notification settings when displaying notifications"
Endpoint that fetches unread notifications should be updated to respect user settings for Web. Currently all notifications are displayed

[2017-12-17 19:12] gondzo opened #1467 "Notification icons"
Currently, we have the next notification icons http://take.ms/rdNhx
They don't directly match to events we have and there is no information in notification matrix about them.
Right now we're using the available icons but should ideally specify exact icons for each event.

[2017-12-17 19:14] gondzo opened #1468 "Response to your post"
We have two notifications for posts
- [Who] responded to your post
- [Who] responded to your post

What should we consider a reply to a post?
- Any comment added to a topic is response to first post in the topic or
- Any comment added to a topic is response to previous comment in the topic

[2017-12-17 19:15] gondzo opened #1469 "[$400] User mentions in the posts"
Should we use user handles for generating mentions or full names ?

[2017-12-17 19:17] gondzo opened #1470 "Profile is not completed"
When should we generate this notification? We don't have the option to remove it after user does fill out the profile.
Can we leave this notification for later ?

[2017-12-17 19:17] gondzo opened #1471 "Terms and conditions changed"
When should we generate this notification? Do we have a terms&conditions api that we're using?

[2017-12-18 09:22] sachin-maheshwari commented on #1402
Additional scenarios - In description I mentioned create "new" project case but if you navigate from project listing to project detail page and come back on listing again, you will get duplicate projects.
We have another open enhancement ticket https://github.com/appirio-tech/connect-app/issues/1373 in which most of issues mentioned here are covered - which are not covered I have added note for sa

[2017-12-18 09:22] #1402 closed

[2017-12-18 09:56] sachin-maheshwari commented on #1353
We have enhancement ticket https://github.com/appirio-tech/connect-app/issues/1373 on project listing, I believe this issue will be covered in that.

[2017-12-18 09:56] #1353 closed

[2017-12-18 12:54] gondzo commented on #1394
@vikasrohit user removal is handled in syncUsers in tc-message service which retains topic timestamps properly.  I think we can close this one ?

[2017-12-18 19:33] vic-topcoder commented on #1471
We don't have an app per se, but I was imagining we should have a way to trigger system announcements manually from the server. This issue is capturing the case to think about the need to send such updates.

[2017-12-18 19:34] vic-topcoder commented on #1470
This should be generated when the user profile is not completed once per login, until they complete their profile (all required fields). This is a feature that captures the need, but can be fulfilled only after we have a profile in place - save it for later.

[2017-12-18 19:35] vic-topcoder commented on #1469
It should be `@username` format that ideally would be replaced with the `Full Name` to be readable - Facebook like. The `@username` mentions are not yet available in the system - save for later, but let's think about how we can solve this.

[2017-12-18 19:39] vic-topcoder commented on #1468
A response to Your posts means - any comment made on a topic you created - post number 0 - you're the author of that topic. It should trigger a single notification for each response, and bundle post activity at certain period - if you have a high activity happening on the site, the system should delay and bundle the notifications as to not overwhelm the user. Clicking on a single or bundled notifi

[2017-12-18 19:41] vic-topcoder commented on #1467
Icons seem fine. Yes - I'm not concerned if we have different icons. Please make sure we can specify the icons and include them as .SVG on the front-end as to be able to modify the .SVG properties via SCSS.

[2017-12-18 19:47] vic-topcoder commented on #1466
Awesome. We might want to make certain notifications persistent (always on) on the web - I didn't see that option in the front-end of the system.

I will update the structure of the notification settings for language on the switches in another task. Right now I have yet not figured out which notifications do we support in the app on launch.

![screen shot 1](https://user-images.githubusercontent.c

[2017-12-18 19:49] vic-topcoder commented on #1465
We should hide email and replace it with a link to where we currently manage email notifications; I'll update this issue with the final list of notifications/design once we have the list of what notifications we will support during the initial launch of the feature.

- [ ] Vic to update the list/design of the settings panel for initial launch of the feature

[2017-12-18 20:10] vic-topcoder commented on #1464
@gondzo - our posts do support projectID/#postID format for links in emails so users can click and scroll back to the post target for the notification.

[2017-12-18 20:13] vic-topcoder commented on #1443
@ThomasKranitsas Ping me if you find colors that are not matching and need help to match to existing palette.

[2017-12-18 20:20] ThomasKranitsas commented on #1443
@vic-topcoder can you give me a link to the palette that the app uses?
I'm using this https://github.com/appirio-tech/styles/blob/master/styles/topcoder/_tc-styles.scss but some variables are missing (eg `$tc-accent-blue-70`)

[2017-12-19 01:32] vic-topcoder opened #1472 "Lazy-loading on project grid is very slow and blocks scrolling of the page"
On reaching the end of the page on project grid view (after clicking "load more projects" button), the page pauses and I can't scroll, and when the loading is done, the page jumps very quickly. This behavior is supper erratic and doesn't allow for smooth UX while scrolling.

The goal is to remove the rendering pause while data is being fetched, so the page never freezes/jumps up and down. If possi

[2017-12-19 05:39] vikasrohit commented on #1443
@ThomasKranitsas https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_variables.scss is that latest set of colors we are using in Connect.

[2017-12-19 12:31] vikasrohit commented on #1243
@vic-topcoder Can you please review it?

[2017-12-19 12:34] vikasrohit commented on #1394
@gondzo By `user removal` I meant, the system messages added by discourse when a user is removed from a topic. We are not taking those into account when reducing the `retrievedPosts` count [here](https://github.com/topcoder-platform/tc-message-service/blob/dev/app/services/adapter.js#L112).

[2017-12-19 12:51] gondzo commented on #1394
ah, ok that clears it up. We need to fix it in the message service.

[2017-12-19 14:45] gondzo commented on #1443
Looks good. Thanks

[2017-12-19 15:28] ThomasKranitsas commented on #1453
@gondzo @vic-topcoder does the API actually search the ref code field?

I've made the ref codes clickable and they apply the keyword to the search query but the results do not contain any project with that ref code.

[2017-12-19 15:41] ThomasKranitsas commented on #1452
![projects - topcoder 2017-12-19 17-36-46](https://user-images.githubusercontent.com/4612921/34165000-c0ee7704-e4e3-11e7-9a89-d9b80fa3d073.png)

The area in the red rectangle is now clickable.

[2017-12-19 15:44] ThomasKranitsas commented on #1472
@vic-topcoder maybe we can render some placeholders while new data is loading?

[2017-12-19 18:44] ThomasKranitsas commented on #1441
I can't reproduce this but it seems like it's happening because `lastEditor` is not defined.
I've added a check that will render `Unknown` instead of crashing the app if it's not defined.

[2017-12-19 19:03] vic-topcoder commented on #1472
Placeholders would be nice, but the pause and jump in rendering is what worries me. The goal is to reduce the jitters while scrolling. Haven't done deeper investigation on what causes that behavior. I would assume there are some calculations performed by the browser as the grid is getting bigger, and the browser redraws the interface very slow on horizontal resize as well.

[2017-12-19 19:03] vic-topcoder commented on #1452
awesome

[2017-12-19 19:05] ThomasKranitsas commented on #1446
![projects - topcoder 2017-12-19 21-01-41](https://user-images.githubusercontent.com/4612921/34174054-4435e572-e500-11e7-9bc3-864ae87bef8e.png)

Fixed 🙂

[2017-12-19 19:44] vic-topcoder opened #1479 "Make reference codes searchable in Connect"
### Expected behavior
When a user searches for a reference code, the system should list all the results with the matching code. This is very important for administrators - reference codes are special tags to find projects within the system.

Maybe we can also employ the keyword for filtering `ref:`, so if I want to search for a specific reference code (R&D 17) I could type `ref:R&D 17` in the sear

[2017-12-19 19:48] ThomasKranitsas commented on #1455
@vic-topcoder do you want me to fix this for 05 or leave it for 06?

[2017-12-19 19:50] vic-topcoder commented on #1455
If it is a quick fix, please go ahead.

[2017-12-19 21:38] ThomasKranitsas commented on #1444
@vic-topcoder how do you want to show multiple managers?

[2017-12-19 22:11] mtwomey commented on #1243
@vikasrohit Thank you - I think we're all set on this one!

[2017-12-19 22:11] #1243 closed

[2017-12-19 22:37] gondzo commented on #1453
We support filtering only by ['id', 'status', 'type', 'memberOnly', 'keyword'], and keyword will filter by ['name', 'description', 'type']

[2017-12-19 22:47] mtwomey commented on #1370
I would propose that we update the existing v3 api (or even create a new one) that specifically allows users that have the _Connect Admin_ role to query for users that have specific Connect related roles (such as roles starting with "Connect" or similar). I would not allow quering of other role types.

@vikasrohit What do you think of that?

[2017-12-19 23:41] ThomasKranitsas commented on #1472
@vic-topcoder @gondzo fyi the app was making multiple calls to the API... That was causing a lot of jittering... After my fix, the app was working smoothly... Let me know if you still see any performance issue...

I improvised for the placeholder design... Should look like this:
![projects - topcoder 2017-12-20 01-40-26](https://user-images.githubusercontent.com/4612921/34184125-c99a63ac-e526-11e7

[2017-12-20 00:30] vic-topcoder commented on #1472
Awesome!

[2017-12-20 03:31] vic-topcoder commented on #1370
Going to move this issue into a new milestone. Ideally we can split this into 2-part solution:

1. Provide functionality for all current `Administrator` holders to add managers and copilots to a project.
2. Rebuild the service API system to allow for the granular settings of user rights mentioned above.

[2017-12-20 03:43] vic-topcoder commented on #1443
👍

[2017-12-20 03:52] vic-topcoder commented on #1368
- [ ] - The text area is still smaller than the text and there's a tiny scroller. The more text lines there are, the bigger the difference - something is not quite right in pixel count.
![screen shot 4](https://user-images.githubusercontent.com/8484061/34190531-2d80c7fc-e4f6-11e7-83bc-d49cb2d9c758.png)

- [ ] - The size is lost after reloading the page - the text area should always keep the size c

[2017-12-20 05:40] vikasrohit commented on #1370
@mtwomey I think that is the only least exposing way of achieving the same. And I think we should create a new endpoint in existing api. I am not sure about the specifics though.

@vic-topcoder I didn't get what `Administrator` means in

Is it user with `Administrator` role or `Connect Admin` role. We have to avoid using `Administrator` keyword for `Connect Admin`.

And we should move this discuss

[2017-12-20 06:00] vic-topcoder commented on #1472
There are still some issues with loading, but the current optimization is much better. I'll mark this as accepted.

[2017-12-20 06:00] #1371 closed

[2017-12-20 06:03] vic-topcoder commented on #1453
Moving to next round to fix.

[2017-12-20 10:00] gondzo opened #1487 "Project owner"
Let’s say we have a project created by manager and a copilot is added to it. Who is actually project OWNER in that case?
We require a user with customer role and isPrimary flag to be set to consider the user an owner.
@vic-topcoder @vikasrohit

[2017-12-20 10:32] vikasrohit commented on #1487
What is the current behaviour you are seeing @gondzo ?

[2017-12-20 10:52] gondzo commented on #1487
It's not an issue in connect-app, but I'm asking as it's needed in notifications where we should create a notification for project owner that hist project is created. That is a bit confusing when a manager or a copilot create a project - there is no owner and hence no notification.

[2017-12-20 11:04] vikasrohit commented on #1487
I guess that is okay because we even don't create lead in salesforce when a manager creates a project. But it is @vic-topcoder's call.

[2017-12-20 13:37] maxceem commented on #1464
1. **go to specific post by id** - may I get an example link from email?
    For example for this project https://connect.topcoder-dev.com/projects/2193
    Link to the topic **test**
    Should it be https://connect.topcoder-dev.com/projects/2193#1535 or https://connect.topcoder-dev.com/projects/2193#feed-1535
   The second link I've got from the topic date, see http://take.ms/I41P6
    Actually

[2017-12-20 13:41] gondzo commented on #1464
1. Neither of those work. I just checked some emails in prod, and none of the links scroll to the topic so we need to implement this as well. I think we had this feature sometime back, not sure when it was removed.
2. Right we don't have this route, this needs to be implemented from scratch

[2017-12-20 13:46] maxceem commented on #1464
1. Could please share any link example from the production, just for reference. In case I find some pieces in the existent code.

[2017-12-20 13:50] gondzo commented on #1464
I just added you to a test project on prod. the link is like https://connect.topcoder.com/discussions/{topicId} and it just redirects to the project page

[2017-12-20 14:08] ThomasKranitsas commented on #1444
@vic-topcoder @gondzo

1. Should I show one tooltip for all managers or one for each manager?

2. What details should I show? (avatar, first/last name, handle)?

[2017-12-20 16:39] gondzo commented on #1444
1. I think one for each manager is better
2. Avatar, full name, handle should be enough

[2017-12-20 16:55] #1365 closed

[2017-12-20 16:55] #1366 closed

[2017-12-20 16:55] #1367 closed

[2017-12-20 16:55] #1369 closed

[2017-12-20 16:55] #1373 closed

[2017-12-20 16:55] #1374 closed

[2017-12-20 16:55] #1375 closed

[2017-12-20 16:55] #1376 closed

[2017-12-20 16:55] #1393 closed

[2017-12-20 16:55] #1397 closed

[2017-12-20 16:55] #1441 closed

[2017-12-20 16:55] #1443 closed

[2017-12-20 16:55] #1446 closed

[2017-12-20 16:55] #1447 closed

[2017-12-20 16:55] #1448 closed

[2017-12-20 16:55] #1449 closed

[2017-12-20 16:55] #1452 closed

[2017-12-20 16:55] #1454 closed

[2017-12-20 16:55] #1455 closed

[2017-12-20 16:55] #1472 closed

[2017-12-20 16:55] #1394 closed

[2017-12-20 19:08] ThomasKranitsas commented on #1442
@vic-topcoder @gondzo  there are 106 occurrences of SVGs in SCSS. This will take some time to be fixed.

Is that urgent for 05 or can be moved to 06?

[2017-12-20 19:59] vic-topcoder commented on #1444
We have double avatars after the tooltip, plus we want to have the email address on each user, especially customers. The email is the most needed piece of data for the connect managers.
![screen shot 5](https://user-images.githubusercontent.com/8484061/34226020-3a743ac0-e57d-11e7-8ccd-ec5e3379ce79.png)

@ThomasKranitsas - please add the email address back

[2017-12-20 20:03] gondzo commented on #1487
So when a manager or admin creates a project there should be no
notifications at all?

On Dec 20, 2017 8:52 PM, "Vic G." <notifications@github.com> wrote:

[2017-12-20 20:05] vic-topcoder commented on #1442
Moving to 06

[2017-12-20 20:07] vic-topcoder commented on #1451
Cool! So much faster! Great job, @ThomasKranitsas

[2017-12-20 20:07] #1451 closed

[2017-12-20 20:17] ThomasKranitsas commented on #1444
Oh, sorry! I've added double avatars to check how it looks with 3 managers... I forgot to remove it.

The email should be there if it's available.

[2017-12-20 20:23] ThomasKranitsas commented on #1444
@vic-topcoder should be fixed now. Sorry about that! 🙂

The code for the email is here: https://github.com/appirio-tech/connect-app/blob/bugBash05/src/components/User/UserTooltip.jsx#L38
If the user details object contains the email, the tooltip will show it.

[2017-12-20 20:58] vic-topcoder commented on #1487
Once we can bundle the notification we might want to create a system notification for Connect Admins - X-number of new projects created on the system. For the moment - no notification if admin/manager creates a project.

[2017-12-20 21:03] vic-topcoder commented on #1444
But aren't all users registered with an email? I don't see it still. @gondzo - why the user details object may not contain email?

[2017-12-20 21:07] gondzo commented on #1444
we have to add email to the fields we want from the api >
https://github.com/appirio-tech/connect-app/blob/dev/src/api/projectMembers.js#L8
- I think it's just add 'email' to the list but I'm trying to find the api
docs to confirm

On Wed, Dec 20, 2017 at 10:03 PM, Vic G. <notifications@github.com> wrote:

[2017-12-20 21:08] vic-topcoder commented on #1444
This is the tooltip:
![screen shot 6](https://user-images.githubusercontent.com/8484061/34228764-bcefe518-e586-11e7-90b7-2d435221a91e.png)
This is the data object:
![screen shot 1](https://user-images.githubusercontent.com/8484061/34228791-d4203c24-e586-11e7-9bcd-6b57c69ef290.png)

I would expect to see "connect_dev_manager@mailinator.com"

[2017-12-20 21:09] vic-topcoder commented on #1444
I think we were getting the email before this changes - check the old tooltip code

[2017-12-20 21:17] ThomasKranitsas commented on #1444
![download](https://user-images.githubusercontent.com/4612921/34229136-ddaf845c-e5db-11e7-9528-11d120501566.png)

That's the data the reaches the `ProjectsGridView` component...

[2017-12-20 21:27] ThomasKranitsas commented on #1444
If I hardcode the email in the user object, it renders correctly.

![projects - topcoder 2017-12-20 23-27-07](https://user-images.githubusercontent.com/4612921/34229539-59df11c2-e5dd-11e7-9da4-97cf20c50aaf.png)

[2017-12-20 21:29] vic-topcoder commented on #1444
I see. Cool. Hope we can get the API to return the user email.

[2017-12-20 21:30] ThomasKranitsas commented on #1444
I don't know where the API repo is. If you give me the repo, I may be able to fix it 🙂

[2017-12-20 21:42] gondzo commented on #1444
@vic-topcoder The api won't return email fields. If it does than we expose all users emails which is not good. This would require backend changes as well, so can we leave it for 06 ?

[2017-12-20 21:44] vic-topcoder commented on #1444
I guess so. I'll open a new ticket for retrieving user emails from managers and admins.

[2017-12-20 21:44] #1444 closed

[2017-12-20 21:47] vic-topcoder opened #1496 "Connect Admin and Managers can see the user email address"
We should modify the API to present email address of all members (customers, managers, copilots, etc.). The case we need this is for the user tooltip on project details and subsequently for project details.

The problem right now is that the API doesn't support such data.
What we want to see:
![screen shot 3](https://user-images.githubusercontent.com/8484061/34230232-442f9aaa-e58c-11e7-8a21-2a2989

[2017-12-21 00:09] vic-topcoder opened #1497 "Dropdown menu doesn't take viewport bounds into consideration."
The drop-down should take into account the viewport bounds. Right now it is positioned via static CSS and gets cut at the end of the project grid.

Current:
![screen shot 4](https://user-images.githubusercontent.com/8484061/34233684-bd636f28-e59b-11e7-8c9e-0028dcd373bd.png)

Expected:
The menu would show on top of the click target when the viewport bounds would clip it with standard position.
![sc

[2017-12-21 03:04] vic-topcoder opened #1498 "Hide organization-related elements for the initial release"
We build some organization-related interface in CF5 - project filter by org, and customer org - which are not yet supported. For this release hide them both.

![screen shot 1](https://user-images.githubusercontent.com/8484061/34238814-9abe629e-e5b8-11e7-86ba-2b28287543a4.png)
![screen shot 2](https://user-images.githubusercontent.com/8484061/34238815-9bf92b30-e5b8-11e7-8dfe-72c3ac8b0dbe.png)

[2017-12-21 07:00] vikasrohit opened #1502 "Project list sort dropdown is not mis-aligned"
After latest release, it seems the sort dropdown got mis aligned.

<img width="203" alt="screen shot 2017-12-21 at 12 28 49 pm" src="https://user-images.githubusercontent.com/2417632/34244300-ad81ccf8-e64a-11e7-87b1-8602d4ca8984.png">

@gondzo can you please move it appropriate community milestone?

fyi, @vic-topcoder

[2017-12-21 13:17] gondzo opened #1504 "Projects cards view changes"
Project status dropdown should behave the same as in grid view - no redirect on click and should be editable for all projects for admin users

@vic-topcoder do we need user tooltips here as well ?

[2017-12-21 13:38] gondzo commented on #1502
@vikasrohit is this still an issue with latest grid changes ?

[2017-12-21 15:12] vikasrohit commented on #1502
Nopes, I guess that filter has moved to different column. :) closing. Thanks

[2017-12-21 15:12] #1502 closed

[2017-12-21 18:09] vic-topcoder opened #1505 "Still seeing double managers on grid in Dev"
![screen shot 3](https://user-images.githubusercontent.com/8484061/34268780-e14a1c3e-e636-11e7-9774-a8e3dd897a3b.png)
![screen shot 4](https://user-images.githubusercontent.com/8484061/34268810-f76a4598-e636-11e7-9824-8e1b037c8d93.png)

Can we verify those projects (screenshots) if there's something wrong with double managers?

[2017-12-21 18:15] ThomasKranitsas commented on #1505
@vic-topcoder where do you get that? I can't reproduce that.

[2017-12-21 18:15] vic-topcoder commented on #1505
My local environment

[2017-12-21 18:25] ThomasKranitsas commented on #1505
Can you please make sure you have the latest code?

I just checked with the `dev` branch and worked correctly.

You can verify that by checking `/src/projects/list/components/Projects/ProjectManagerAvatars.jsx` line 10 or 11.. If you see something like `managers.push(managers[0])` then you don't have the latest code.

[2017-12-22 03:33] vikasrohit opened #1506 "Should we have some help text for email settings"
I am assuming that we are pointing to https://www.topcoder.com/settings/email/ from notification settings page right now because we don't have the email notifications settings right now in connect, only web notifications setting is available. So, I guess it would be better to have a help icon with tooltip saying something like _"Right now we are working on supporting email notification settings fo

[2017-12-22 03:52] vic-topcoder opened #1507 "Clicking on project post notification doesn't enable the Dashboard section"
Open the notifications and click on a post notification. The feed will be loaded on the page, but the dashboard tab won't be active on the top menu.

![screen shot 5](https://user-images.githubusercontent.com/8484061/34284647-6ab16b66-e688-11e7-964e-c8bf650ce8cf.png)

Expected: The dashboard tab should be active (selected).

[2017-12-22 03:54] vic-topcoder opened #1508 "Dismissing a notification from the dropdown closes the menu"
### Expected behavior
Dismissing a notification within the dropdown menu should reorder the items without closing the menu. The items underneath the notification should move up to take the available space.

### Actual behavior
Dismissing a notification closes the notifications dropdown menu

### Steps to reproduce the problem
- Open the notifications menu
- Dismiss a notification

[2017-12-22 03:56] vic-topcoder opened #1509 "Rename "tcwebservice" to Coder Bot"
### Expected behavior
When the system posts (Coder Bot) I would like to see the name

### Actual behavior
Currently the post author is listed as "tcwebservice"
![screen shot 7](https://user-images.githubusercontent.com/8484061/34284726-07644ee2-e689-11e7-9511-0b29f2cf65da.png)

[2017-12-22 03:58] vic-topcoder opened #1510 "When Global section in Notification center is 0, remove it"
### Expected behavior
Don't want to see Global section with 0 events. Please hide any section that has 0 elements in it.

### Actual behavior
![screen shot 1](https://user-images.githubusercontent.com/8484061/34284750-316443fa-e689-11e7-82cf-e9203df647ce.png)

[2017-12-22 04:00] vic-topcoder opened #1511 "Hide "Profile" and "System" from Settings section"
### Expected behavior
Should only show the Notification settings (tab). Please remove/hide "Profile" and "System" tabs.

### Actual behavior
![screen shot 2](https://user-images.githubusercontent.com/8484061/34284797-85342bd0-e689-11e7-8372-3637387f2d5b.png)

[2017-12-22 04:04] vic-topcoder opened #1512 "Replace app colorful logo with b/w logo from notification center"
All instances of the logo should be the black & white logo. Please update the colorful version
![screen shot 3](https://user-images.githubusercontent.com/8484061/34284886-0c7aac40-e68a-11e7-8bae-aa9be58183ba.png)
with the black & white from notification center
![screen shot 4](https://user-images.githubusercontent.com/8484061/34284888-1454f0ce-e68a-11e7-8cc3-170432787b53.png)

[2017-12-22 04:09] vic-topcoder opened #1513 "Replace Notifications center help text"
Please replace the notifications center text
"Answer just a few questions about your application. You can also provide the needed information in a supporting document—upload it below or add a link in the notes section."

with

"Notifications are a great way to get back to what matters. Somethimes things can be a bit overwhelming, we get it, so here you can turn off the things that bugg you. You ca

[2017-12-22 04:21] vic-topcoder opened #1514 "Project status notifications"
Please control all project status notifications as a single switch on the notification settings. Right now we have individual switches for all statuses.

The same applies for member joining and leaving project
Current screen is too granular and really hard to use.
![screen shot 2](https://user-images.githubusercontent.com/8484061/34285167-62710f70-e68c-11e7-840c-cda8f23f1183.png)

**Expected categ

[2017-12-22 04:25] vic-topcoder opened #1515 "Empty notifications bell is not gray"
The bell icon should be gray when there are no notifications. It is currently white.
![screen shot 7](https://user-images.githubusercontent.com/8484061/34285232-f00405cc-e68c-11e7-8741-8b51a9fde378.png)

Expected - `$tc-gray-50`

![screen shot 13](https://user-images.githubusercontent.com/8484061/34285248-23462abe-e68d-11e7-9540-a692583b8030.png)

[2017-12-22 04:28] vic-topcoder commented on #1506
Created a ticket to move change help text and link #1513

[2017-12-22 04:28] vic-topcoder commented on #1504
Would be nice if we reuse them. Project status should behave the same as on the grid view

[2017-12-22 10:11] gondzo opened #1519 "[$100] Screen flicker in dropdown"
Found a weird issue with notifications dropdown.
When hover with mouse to the dropdown list global browser scrollbar disappears which causes flickering http://take.ms/g53EJ
@vikasrohit Is there anything in changes to the Dropdown component that could cause this (the one that was moved to react-components repository)?

Reported by @maxceem

[2017-12-22 10:45] vikasrohit commented on #1519
It can be @gondzo However, I would like to know if this does not happen without those changes.

[2017-12-22 10:50] gondzo commented on #1519
It doesn't > http://connect-test02.topcoder-dev.com
@maxceem is looking into possible (quick) fixes to get this before the release

[2017-12-22 10:52] maxceem commented on #1519
I've checked it in the notification branch where the dropdown component was in the `connect-app`. Before moving to `react-components`.
This issue with the flickering was not there.
Also, this issue was fixed https://github.com/appirio-tech/connect-app/issues/1508 in that version.

This issue https://github.com/appirio-tech/connect-app/issues/1497 presents in the version before moving.

[2017-12-22 11:14] vikasrohit commented on #1519
I have observed that when you move out from the header of the notifications dropdown, it does not flicker. So, IMO, it is something related with internal scroll bar and its corresponding div.

[2017-12-22 11:18] vikasrohit commented on #1519
Its a class `noScroll` that is being added as soon as mouse enters the `notifications-dropdown-body` section.

[2017-12-22 11:48] maxceem commented on #1519
Oh yes, so this issue is not related to the replaced dropdown component.
The new code was added to `NotificationsDropdownContainer` to prevent scrolling browser window when scrolling inside the notifications drop-down reaches the end http://take.ms/QBp1Z

Though now this flickering is introduced.

I propose to remove the code which adds `noScroll` class for the current release.

After release, thi

[2017-12-22 11:52] vikasrohit commented on #1519
Agree with @maxceem for getting rid of `noScroll`.

However, @maxceem I think we can always do `stopPropagation` in notification container to prevent scroll event from moving up.

[2017-12-22 12:09] maxceem commented on #1519
@vikasrohit amazing idea with `stopPropagation`, though I've checked it and it doesn't work :-(.
In a good case, it's just because how react handles `onWhell` event. So we still have a chance to add a native listener with `addEventListener` and control `useCapture`.
In the worst case it's the a feature of browser how they propagate this particular event. Then we would have to check if we reach the

[2017-12-22 12:13] gondzo commented on #1519
We can go with removing no-scroll for now and revisit this after the
release, in CF6

On Dec 22, 2017 1:09 PM, "maxceem" <notifications@github.com> wrote:

[2017-12-22 12:17] maxceem commented on #1508
Quick fix. Just bring back the old custom implementation of Dropdown which has performance issues.

[2017-12-22 12:24] gondzo opened #1522 "Submit for Review not active"
Submit project for review is not active even when all fields are filled out
Sample project > http://connect.topcoder-dev.com/projects/2246/specification

[2017-12-22 12:37] vikasrohit commented on #1522
@vic-topcoder @mtwomey @gondzo I think this one is critical as it prevents customers to submit projects for review. Hence, I am considering it as hotfix and will apply it to production as soon as fix works.

[2017-12-22 12:47] sachin-maheshwari commented on #1364
@vikasrohit as tried on local system, **unable to reproduce it with normal/general scenarios** even concurrent requests with different status. I am only possible to reproduce by manually stopping publishing message through code. So looks like, in this case either message was not published or lost in MQ.
Currently I am not sure about the possibility of lost in MQ on current deployment, need to furt

[2017-12-22 12:53] vikasrohit commented on #1519
👍

[2017-12-22 13:20] vikasrohit commented on #1522
Deployed as hotfix on production and dev both.

[2017-12-22 13:21] #1522 closed

[2017-12-22 13:35] maxceem commented on #1497
As a quick solution, I propose to make the next. When we click in the top half of the screen - open dropdown **down**. If we click in the bottom half of the screen - open dropdown **up**, check video http://take.ms/QJfs5

To make it work more elegant way when it's open up only if it cannot fit down it's better to use some existent implementation of dropdown as there are a lot of edge cases usually

[2017-12-22 20:00] vic-topcoder commented on #1519
Ok, so - to have such a behavior, it means that something is making the whole body of the page scrollable, and adding/removing the "noScroll class is causing the window to fall back between bounds. I would actually think a slight modification of the CSS to disable only vertical scroll would remedy the issue. What environment are you guys testing this on? Can't reproduce it on my local machine (Mac

[2017-12-22 20:05] vic-topcoder opened #1524 "Reply notifications are not triggered/displayed"
### Expected behavior
When there's a reply to a thread on a project I'm member of, I should get a notification

### Actual behavior
Nothing happens

[2017-12-22 20:12] vic-topcoder opened #1525 "Auto-update notification list"
### Expected behavior
I would expect to receive new notifications without having to reload my page. Should happen when my notifications dropdown is hidden (bell icon shows a badge), notifications dropdown is opened (a new item is added at the top of the notifications list), notifications home page (new item is added at the top of the list).

### Actual behavior
I have to manually reload the page t

[2017-12-22 20:15] gondzo commented on #1525
It shouldn't be too hard to add regular interval polling as we have a nicely structured global store for the notifications. I'll try to get this in before the release

[2017-12-22 20:19] vic-topcoder commented on #1525
Please make sure there are no flickers reloading the interface :)

[2017-12-22 20:41] vic-topcoder commented on #1508
@maxceem - what are the performance issues of the old Dropdown? Is is safe to bring it back? How can we fix the dismissal of the menu with the component currently used?

[2017-12-22 20:49] vic-topcoder commented on #1524
in #1468 we talked about response to Your post. When there is a response to a post in the project we still want to trigger a notification. The difference is in the language

1. Response to MY post:
- "Somebody responded to your post"

2. Response in my PROJECT:
- "Somebody responded to a post"

These can be simplified as only 1 notification "Somebody responded to a post" under the project. The nua

[2017-12-22 21:22] ThomasKranitsas commented on #1525
@vic-topcoder @gondzo I've set the interval to 1 min.
You can update it by changing the `REFRESH_NOTIFICATIONS_INTERVAL` in `/src/config/constants.js` line 355

[2017-12-22 22:16] vic-topcoder commented on #1519
Ok, after some thinking and research, probably JS scroll event trapping would be best, instead of modifying the CSS.

Example reactJS code here: https://codepen.io/somethingkindawierd/post/react-mixin-scroll-lock

Can you please evaluate and if acceptable - replace the "noScroll" CSS with the reactjs event handler mixin?

[2017-12-22 22:17] vic-topcoder commented on #1525
Oh, so cool. Let me see how it works.

[2017-12-22 23:03] vic-topcoder opened #1527 "Show all notifications per project on the dropdown menu"
### Expected behavior
Would expect to see the same behavior for notifications on dropdown menu and notifications center. When there are up to 10 notifications, we see them all, and when the notifications are >10 we show an element that allows to see them all (and a count of how many more notifications in that project).

### Actual behavior
The dropdown shows only the 2 latest notifications in the

[2017-12-22 23:04] vic-topcoder commented on #1368
Do we have ETA on this one?

[2017-12-22 23:04] vic-topcoder commented on #1498
The remaining element is the segment filter. I already removed the segment dropdown from the grid

[2017-12-22 23:21] vic-topcoder opened #1528 "Being added to a project doesn't trigger a notification"
### Expected behavior
When somebody adds me to a new project, I should get a notification so I can start participating in the project

### Actual behavior
Notification is not triggered

### Steps to reproduce the problem
- Log in as "Pat Monahan", add "Christina" to a new project
- Log in as "Christina" and check for notification - missing.

### Screenshot/screencast
![screen shot 24](https://user

[2017-12-22 23:28] #1465 closed

[2017-12-22 23:28] gondzo commented on #1528
Looks like it is specific to christina_uw account. I can't reproduce it with other accounts (pshah_*)

[2017-12-22 23:29] vic-topcoder commented on #1450
Duplicate of #1527

[2017-12-22 23:29] #1450 closed

[2017-12-22 23:30] vic-topcoder commented on #1528
Why is that occurring for this account?

[2017-12-22 23:38] gondzo commented on #1528
no idea, looking into it..

[2017-12-22 23:39] #1467 closed

[2017-12-22 23:41] gondzo commented on #1437
we don't have any strategy for this yet, but with changes for #1525 we could refresh the project page if there is a new notification for the project being displayed

[2017-12-22 23:42] #1466 closed

[2017-12-22 23:42] gondzo commented on #1464
This one is implemented and merged to dev, we have direct links from notifications to project dashboard, specification, files, topics and posts

[2017-12-22 23:43] gondzo commented on #1468
we have implemented the logic for post replies, but we don't yet have support for bundling notifications. can we create a new issue to add this later on ?

[2017-12-22 23:45] gondzo commented on #1487
status: we do generate the notification for manager user that his project is created - IMO it's a minor issue and we can remove the feature after the initial release ?

[2017-12-22 23:50] gondzo commented on #1368
@ThomasKranitsas any ideas on the cause here ?

[2017-12-22 23:51] vic-topcoder opened #1529 "[$600] Detect if a notification has been seen vs. new notifications"
### Expected behavior
When the system sends out new notifications that I haven't see, I want the bell icon to have a red badge and the new notifications the have blue left border to indicate I haven't seen them.

The red badge would disappear once I open the drop-down menu.

The blue border would disappear once I click on the notification or visit the target location.

### Actual behavior
This doe

[2017-12-22 23:52] vic-topcoder commented on #1515
When there are notification to be displayed, keep the bell white!

[2017-12-22 23:52] #1497 closed

[2017-12-22 23:52] #1504 closed

[2017-12-22 23:52] #1505 closed

[2017-12-22 23:52] #1507 closed

[2017-12-22 23:52] #1508 closed

[2017-12-22 23:52] #1511 closed

[2017-12-22 23:52] #1514 closed

[2017-12-22 23:52] #1525 closed

[2017-12-22 23:54] vic-topcoder commented on #1468
Yes - add it to https://github.com/appirio-tech/connect-app/milestone/36

[2017-12-22 23:54] ThomasKranitsas commented on #1368
Sorry, I'm still investigating... I tried few hacks to fix it but none of those worked.

[2017-12-22 23:55] vic-topcoder commented on #1487
ok, create a reminder issue in https://github.com/appirio-tech/connect-app/milestone/36 please. Thanks!

[2017-12-22 23:55] #1464 closed

[2017-12-22 23:58] vic-topcoder commented on #1368
Ok, let's move it for CF6

[2017-12-22 23:59] ThomasKranitsas commented on #1368
Ok, I'll focus on the other tickets

[2017-12-23 00:00] vic-topcoder commented on #1527
Failure to show that there are more notifications would confuse the users, as we do not support "new" notifications #1529

[2017-12-23 02:35] vic-topcoder opened #1530 "Top bar doesn't fit all icons with the addition of the notification section"
### Expected behavior
All elements on the top bar should be visible at all times

### Actual behavior
When a project with particularly long name is opened, and/or the project supports the disabled section Discussions, the notifications icon/dropdown are pushed to the right on smaller window width.

![screen shot 15](https://user-images.githubusercontent.com/8484061/34316277-85cb638e-e746-11e7-8b95

[2017-12-23 02:36] vic-topcoder commented on #1530
Ideally the icons labels would disappear and provide more space for the project name. Make sure there is 40px spacing between the major groups on the top bar.

[2017-12-23 02:56] vic-topcoder opened #1531 "Mismatch between project type icon on details and projects grid"
### Expected behavior
Each project would have the correct icon --  actual project template (product) -- in all interface instances.

### Actual behavior
On the project grid the icon displayed is the section icon vs. the actual project template (product) icon displayed on the project details page.

![screen shot 3](https://user-images.githubusercontent.com/8484061/34316406-b392435c-e749-11e7-8ea7-1

[2017-12-23 02:59] vic-topcoder opened #1532 "Console errors"
### Expected behavior
No console errors

### Actual behavior
I see 2 errors and 1 notification

![screen shot 18](https://user-images.githubusercontent.com/8484061/34316419-1b144980-e74a-11e7-8f70-cda3c82b5ca0.png)
![screen shot 19](https://user-images.githubusercontent.com/8484061/34316420-1b25d628-e74a-11e7-9dea-bbc70b1e8c83.png)
![screen shot 17](https://user-images.githubusercontent.com/848406

[2017-12-23 03:07] vic-topcoder opened #1533 "[$40] Unify the use of the Avatar component on project grid and cards"
### Expected behavior
I would expect to see the same avatars on all instances of the interface.

### Actual behavior
On the project grid we render empty avatar, but we have a specific component that renders different color and user initials on the project cards view. Please replace the avatar on project grid to match.

The avatar should fit 30 x 30 px on the Grid.

- [ ] Reduce the overlap of avat

[2017-12-23 03:13] vic-topcoder opened #1534 "[$200] Update the user tooltip with a unified component in all instances"
Let's use the same component consistently in the system.

Hovering over the user avatar in short form (picture only) I want to see the full details of the user.

Hovering over the extended user avatar (picture and name/handle) should be the same.

Right now the projects grid auto-generates the HTML for each user and displays it on hover. We should be smarter and not generate too much HTML for the

[2017-12-23 03:17] vic-tian opened #1535 "[200$] Display the user email address to managers and administrators on the system"
### Expected behavior
The user tooltip should be able to display additional user information. Right now we want to display the email address of the user to Connect Managers and Connect Administrators.

Other data that will be needed in the future (think about it, if possible to fetch, let's discuss):
- [ ] Link to SFDC lead for the registered user
- [ ] Number of projects on Connect
- [ ] Customer

[2017-12-23 03:20] vic-topcoder opened #1536 "Replace email sender [Epic]"
_**For discussion puproses - we might need to move this to a new dedicated milestone**_

Replace the emails for notifications to be send through the notification center vs. the current Discourse email events.

- [x] Email templates

- [x] Email infrastructure

~~- [ ] Email settings~~ (Now being handled via https://github.com/appirio-tech/connect-app/milestone/50)

~~- [ ] Email bundling~~(Now bei

[2017-12-23 03:25] vic-topcoder opened #1537 "Prompt if page has updated/changed"
### Expected behavior
While on the Dashboard, if there is a new post, I would love the page to notify me that new posts are available and I can force reload at my convenience. This is tied to the automatic polling of new notifications.

The blue button that prompts refresh appears when the user has scrolled down the page
![screen shot 4](https://user-images.githubusercontent.com/8484061/34316557-c

[2017-12-23 03:29] vic-topcoder opened #1538 "[$250] Redesign and remove unnecessary project activity cards from Dashboard"
All project activity cards that are posted by Coder must be dismissible, so the users can focus on the communication stream. This should take effect on all new projects, and if possible we can clean the old projects.

The goal is to hide posts from Coder the Bot on the dashboard feed (system posts).
![notification card](https://user-images.githubusercontent.com/8484061/35463158-2afb0576-02a4-11e8-

[2017-12-23 03:35] vic-topcoder opened #1539 "[$40] Provide link to manage profile from user dropdown"
### Expected behavior
The Connect customers should be able to modify their profile and account settings. Let's provide them with a link to the Connect app to manage their settings through the user dropdown.

![screen shot 5](https://user-images.githubusercontent.com/8484061/34316613-08cdd3f4-e74f-11e7-9520-0d389c491620.png)

Expected:
![screen shot 6](https://user-images.githubusercontent.com/8484

[2017-12-23 05:08] vikasrohit commented on #1508
I would have suggested to fix the optimized implementation as it was implemented to reduce tech debt and now we have again introduced tech debt.

[2017-12-23 09:11] ThomasKranitsas opened #1540 "Toolbar filters stay visible after logout"
### Expected behavior
Filters should not be visible after logout.

### Actual behavior
Filters stay visible.

### Steps to reproduce the problem
- Login with manager's credentials.
- Click the filters button to open the toolbar filters.
- Logout.

### Screenshot
![connect - topcoder 2017-12-23 11-05-20](https://user-images.githubusercontent.com/4612921/34318489-8b67322e-e7d1-11e7-9369-10f6b287e8d6

[2017-12-23 16:57] ThomasKranitsas commented on #1445
Is there anything else pending on this from my side?

[2017-12-24 08:18] vikasrohit commented on #1539
Apologies @vic-topcoder for chiming in, however, my two cents about this topics is that the more interfaces we create around common features such as profile management, we might end up situation where when we update something in backend for such interfaces, we might not know all places where there are being used. We faced this with login pages with multiple applications across the topcoder.

[2017-12-24 08:36] vikasrohit commented on #1537
Until we use web sockets (which has extra load on server when compared to pull way instead of push), we can add single timer in the application which can pull multiple updates for the application. May be we can create an api end point which can supply individual users their interested notifications using the new notifications system. I guess we already have timer which pulls notifications from con

[2017-12-25 11:48] gondzo opened #1544 "[$400] Notifications bundle"
Add support for bundling notifications.

[2017-12-25 11:49] #1468 closed

[2017-12-25 11:50] gondzo opened #1545 "[$60] Skip notifications for managers"
Skip creating notifications for managers/admins when they are creating a project

[2017-12-25 11:50] #1487 closed

[2017-12-25 11:54] gondzo commented on #1513
looks good.

[2017-12-25 11:54] #1513 closed

[2017-12-25 11:58] gondzo commented on #1531
looks good.

[2017-12-25 11:58] #1531 closed

[2017-12-25 11:59] #1498 closed

[2017-12-26 16:34] vic-topcoder commented on #1445
We have to update the tooltips to use the stand-alone component instead of generating the content on the grid itself, I guess. But that'll be another task.

[2017-12-26 16:34] #1445 closed

[2017-12-26 16:42] vic-topcoder opened #1546 "[$100] Do not show notifications for actions that I do on the system"
### Expected behavior
When I create a new post, I don't want to get a notification that I created a new post.

### Actual behavior
Currently I get a notification that I created a new post.

Login with Christina Underwood account and create  a new post. You'll get a notification.
![screen shot 1](https://user-images.githubusercontent.com/8484061/34360763-a2513680-ea18-11e7-9508-ccefb0a1ef4c.png)

[2017-12-26 17:32] ThomasKranitsas commented on #1527
@vic-topcoder currently, the app shows 2 notifications per source and 10 in total. Do you want me to show 10 notifications per source and remove the total limit?

[2017-12-26 18:36] gondzo commented on #1527
let's use 10 per source limit and remove global limit. also, add the "View (total-numDisplayed) older notifications" link at the bottom should be updated
@ThomasKranitsas

[2017-12-26 19:58] gondzo commented on #1519
moving this one to cf6

[2017-12-26 20:10] #1515 closed

[2017-12-26 20:37] gondzo commented on #1524
this happened due to a config issue (wrong admin token). Works properly now.

[2017-12-26 20:42] gondzo commented on #1528
this one was also happening due to a configuration issue. works properly now.

[2017-12-26 20:46] gondzo commented on #1509
There are no more messages by Coder Bot in the notifications. We're already creating notification for project updates (status changes) so coderbot messages would be just duplicates

[2017-12-26 21:27] ThomasKranitsas commented on #1532
I replaced the `PropTypes` with from the core `react` module with the `prop-type` module in 137 files but still getting those warnings... Those are from some outdated components from the `appirio-tech-react-components` module.

I'm fixing the errors right now and I'll create a PR

[2017-12-27 06:09] #1524 closed

[2017-12-27 06:12] #1512 closed

[2017-12-27 06:14] #1528 closed

[2017-12-27 06:18] vic-topcoder commented on #1532
Cool, thanks!

[2017-12-27 06:18] #1532 closed

[2017-12-27 06:21] vic-topcoder commented on #1527
@gondzo - that's correct. Thanks!

[2017-12-27 06:21] #1527 closed

[2017-12-27 06:21] #1530 closed

[2017-12-27 06:41] #1540 closed

[2017-12-27 06:41] #1509 closed

[2017-12-27 06:48] vic-topcoder opened #1553 "Project title is incorrect on notification section."
### Expected behavior
Created a project with a title "Chatbot project for notification testing" (https://connect.topcoder-dev.com/projects/2357/#comment-6758) but on the notification center the title of the project is only "project". I'd expect the title to be the same "Chatbot project for notification testing" in all instances.
![screen shot 3](https://user-images.githubusercontent.com/8484061/34

[2017-12-27 06:52] vic-topcoder opened #1554 "[$150] User in notifications are listed with @handle instead of their name"
### Expected behavior
We should be consistent with how we list users in the interface. I'd like to see First and Last name for the user "Christina Underwood" as this is what is displayed on the chat interface.

Expected:
![screen shot 4](https://user-images.githubusercontent.com/8484061/34373362-75d9d78e-ea8f-11e7-83f3-16bb4f019a1c.png)

### Actual behavior
Notifications list users differently fro

[2017-12-27 07:12] vic-topcoder opened #1555 "Project status dropdown order is wrong"
The Active status should be after Reviewed and before Completed. Right now it is on top of the dropdown.

![screen shot 6](https://user-images.githubusercontent.com/8484061/34373777-29c73b68-ea92-11e7-8a86-8092b20e909f.png)

[2017-12-27 07:16] vic-topcoder opened #1556 "Double managers on project list cache."
On the project list certain projects have the same manager repeated. Once I open the project and then reload the list, the managers are back to normal.

![screen shot 7](https://user-images.githubusercontent.com/8484061/34373881-b1e39262-ea92-11e7-811a-1a908b0e5a79.png)
![screen shot 8](https://user-images.githubusercontent.com/8484061/34373882-b1f4e508-ea92-11e7-96e9-956a6e0b315f.png)

After open

[2017-12-27 07:17] vic-topcoder commented on #1556
The issue is persistent - the double managers still keep appearing after reloading.
![screen shot 10](https://user-images.githubusercontent.com/8484061/34373915-f6a13166-ea92-11e7-94dd-ac322db784cd.png)

[2017-12-27 07:18] vic-topcoder commented on #1556
@vikasrohit - reassign to CF 5.5 if this is a grid issue and not ES

[2017-12-27 07:27] vic-topcoder opened #1557 "[$40] Make "Active" project tab default for project listing"
Instead of showing "All projects", it is better to focus on the currently active projects.

[2017-12-27 08:33] vikasrohit commented on #1556
@vic-topcoder, @sachin-maheshwari did some investigation on this. And he [found](https://github.com/appirio-tech/connect-app/issues/1359#issuecomment-348083936) that we do have multiple records in database not only in ES. So, for now quick fix can be the same we applied to `AvatarGroup` component [here](https://github.com/appirio-tech/connect-app/pull/1395/files). Ideally, we should have reused th

[2017-12-27 11:11] vikasrohit commented on #1248
@vic-topcoder Do we have updates from Joey and team about this?

[2017-12-27 12:30] vikasrohit commented on #1556
Fixed in dev.

[2017-12-27 17:33] gondzo commented on #1553
This is now fixed (need to clear all earlier notifications for this to take effect)

[2017-12-27 18:37] #1555 closed

[2017-12-27 18:40] vic-topcoder commented on #1553
👍

[2017-12-27 18:40] #1553 closed

[2017-12-27 18:42] vic-topcoder commented on #1556
yes, reusing existing components is a must - I've opened an issue #1533 for that one. Thanks for the quick fix. What else causes the double records? Is that good? Do we need any further actions? @mtwomey @vikasrohit @gondzo

[2017-12-27 18:42] #1556 closed

[2017-12-27 18:46] vic-topcoder opened #1562 "[$50] If there's a new notification for the same page, clicking on the notification should reload the page to show the updated information"
### Expected behavior
When a user is on the dashboard and they receive a notification for a new post on the same page, clicking on the notification should reload the page and scroll to the new content.

### Actual behavior
Clicking on a notification while in the same page doesn't reload the page and thus one can't see the new posts. The notification just scrolls to the latest loaded comment on the

[2017-12-27 19:06] vic-topcoder opened #1563 "[$60] Non persistent manager interface for card/list switch"
### Expected behavior
When I switch from list to cards, I want the interface to remember my choice when I visit a project and go back to all projects page.

### Actual behavior
Returning from a project resets the project view to list.

### Steps to reproduce the problem
- Switch to card view.
- Load any project.
- Use the "View all projects" link.
- Interface is back to list view.

[2017-12-27 19:25] vic-topcoder opened #1564 "Upgrade to latest react (16.2) and fix console errors and update deprecated methods to match to best practices"
We should update to latest react (16.2 as of Dec 27). There are still issues with our components throwing either warnings or errors. Use [React Dev tools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en) to view all warnings and better debug the code.

![screen shot 12](https://user-images.githubusercontent.com/8484061/34391065-899d0b56-eaf8-1

[2017-12-28 19:01] vic-topcoder opened #1565 "Post order on dashboard is not right"
Latest posts are not on top of the post feed. Reported for https://connect.topcoder.com/projects/4840 and several other projects.

We must display the latest posts on top of the feed and make sure that they are ordered by activity. Is this still a bug?

Can we investigate and find out what is the root cause of this?

@vikasrohit @gondzo @mtwomey FYI

[2017-12-28 19:08] vic-topcoder opened #1566 "Remove system activity posts on dashboard for notifications launch"
Let's start with the removal of

Ownership related posts
Team member, copilot, and manager  joined/left project posts

These are now all covered by notifications anyway, and they create too much noise on the dashboard.

![screen shot 1](https://user-images.githubusercontent.com/8484061/34420527-ed4a37ca-ebbe-11e7-875a-f88bf3e5d9da.png)
![screen shot 2](https://user-images.githubusercontent.com/848

[2017-12-28 19:14] vic-topcoder opened #1567 "Post title should be editable after project is created"
Seems like editing the project title is not reflected everywhere when it is done after project is created. Adam wanted to change a project title after it was created. The title of his project is changed in the interface, but the system still displays the original title in all project reference links.

Look at https://connect.topcoder.com/projects/4840
![screen shot 4](https://user-images.githubuse

[2017-12-28 19:18] gondzo commented on #1567
This one won't be so easy - Coderbot messages are generated on specific events (project owner changed, in review, etc). To have them updated on the fly would require a LOT more API calls.
We'll have the same issue with notifications - data is fetched at the time notification is generated, not at the time of display

[2017-12-28 19:23] vic-topcoder commented on #1567
Yeah, we should research further what are the complications with title. Ideally the interface is rendering the data based on some ID that is unique, while things like title, description, names can change, and the interface would re-render them based on the changes. There can be a case where team member changes names, so all posts done by the user should be rendered at the time a change is detected

[2017-12-28 19:28] vic-topcoder opened #1568 "Project card's status dropdown is not usable as the whole card is clickable"
### Expected behavior
The dropdown should disable the project navigation click to be usable. Let's prevent the click behavior in that case, so Admins/Managers can change project status from the card as well.

When I click on the project dropdown, the system should not load the project details page

[2017-12-28 19:28] gondzo commented on #1567
Solving those cases would require a good deal of reworking the api details - if we have 100 notifications for 50 different projects that's a lot of calls to the projects service just to fetch project names. Same thing with all user details, messages, etc

[2017-12-28 21:27] ThomasKranitsas opened #1569 "[$50] Fix jumping footer when toggle filters"
### Steps to reproduce the problem
- Login as copilot/manager
- Toggle the filters
- Notice the footer

### Screenshot/screencast
http://take.ms/NnxbZ

[2017-12-29 05:54] vic-topcoder commented on #1565
Post order should be "most recent first" where any comments on a post would push the post at the top of the feed. If you open https://connect.topcoder.com/projects/4279 you'll see how the posts are not ordered by post date/activity date.
![screen shot 5](https://user-images.githubusercontent.com/8484061/34430408-b2263b2a-ec19-11e7-9ed9-1f26d5b860ed.png)

[2017-12-29 05:59] vic-topcoder opened #1572 "Project grid and project details don't list the correct managers"
### Expected behavior
Managers listed on the project list don't match with the actual project managers list.

Look at https://connect.topcoder.com/projects/4656

![screen shot 6](https://user-images.githubusercontent.com/8484061/34430473-59f91764-ec1a-11e7-93a8-21e20edb6864.png)

![screen shot 7](https://user-images.githubusercontent.com/8484061/34430475-6175a5e8-ec1a-11e7-880b-7a81bbd4253d.png)

[2017-12-29 06:02] vic-topcoder opened #1573 "[$30] Customer name overflows into managers"
### Expected behavior
When a customer name(s) are too long, hide them with an ellipsis. (…)

![screen shot 1](https://user-images.githubusercontent.com/8484061/34430513-bd535b26-ec1a-11e7-93f4-7ce9151717b6.png)

[2017-12-29 13:26] vikasrohit commented on #1567
I know the trouble with updating project title. However, I don't think makes sense to allow editing a system message manually to reverse a mistake in setting up the project. And the other way is to do automatically update all the system message automatically, when updating the project title, and as @gondzo said it is really overkill to achieve that.
And anyhow we should do this behind the scene th

[2017-12-29 19:43] kevinkid commented on #1368
I may have a solution for this @ThomasKranitsas @vic-topcoder on [this](https://github.com/appirio-tech/connect-app/pull/1574/commits/7892190cdc83d882abc8459989e50e462abbb09b) commit. Turns out the default React textarea already does the auto-resize.

[2017-12-29 20:02] ThomasKranitsas commented on #1368
This breaks the `Notes` fields in the `New project` page.

[2017-12-29 20:03] ThomasKranitsas commented on #1368
Actually, it breaks the `Notes` field everywhere 🙂 I'll see if I can do any hack to fix it

[2017-12-29 21:21] vic-topcoder opened #1575 "Sorting the project list view should not reload the page if we have all the data"
### Expected behavior
Upon reaching the bottom of the grid, I want to reorder it by oldest first. I would expect the conversion to happen without reloading the page -- we have all the data already loaded. Also - changing the sort order should only pass new properties onto the components of the list instead of reloading the whole page -- data should be managed by the grid component and keep the sta

[2017-12-30 05:23] vikasrohit commented on #1575
@vic-topcoder I think this would work only when we have less than page size records i.e. we have less than 20 projects to display for the user. Otherwise, we have any way call server to refresh the grid.

[2017-12-30 10:48] kevinkid commented on #1368
Okay let me also look into it. Please assign me

[2017-12-31 07:44] vic-topcoder commented on #1575
Calling the server is ok. Reloading the page to render the grid is not.

[2017-12-31 07:59] vikasrohit commented on #1575
If we make a call to server, we have to set a flag in redux state for showing the loading icon because the server call can take time to respond. And when we show the loading icon it unmounts the Grid and when we have the response back from api, we unmount the loading icon and mount the Grid back. So, you will always see the whole grid refresh. If we don't want to show loading icon, we may achieve

[2018-01-01 11:20] kevinkid commented on #1368
The plugin miscalculates the height , a better solution would be to debug it as @zjuasmn said but i  hope [this](https://github.com/appirio-tech/connect-app/pull/1574/commits/78442e9d52c5ee875a588269c93eafa7d0352d2f) commit fixes it.

[2018-01-01 19:44] ThomasKranitsas commented on #1368
@kevinkid this seems to do the trick. I've closed your PR and I will create a new one as your has ~145 commits.

[2018-01-02 09:11] vikasrohit commented on #1566
Done. Changes should be there on dev.

[2018-01-02 16:43] vikasrohit commented on #1565
@vic-topcoder @mtwomey I  am still debugging it, trying to reproduce the problem on local. Will  be working on it tomorrow as well.

[2018-01-02 18:12] vic-topcoder commented on #1565
Thanks!

[2018-01-03 01:03] vic-topcoder opened #1577 "Notifications for post replies are not shown in production"
We had notifications for project replies working in Dev, but in production they're not triggering again. Can we get them working again, please? Highest priority.

[2018-01-03 01:06] vic-topcoder commented on #1575
I'd imagine you don't need to refresh the whole grid, just the rows. The header isn't changing, so ideally it won't reload. Also - we should preserve the space to avoid min height or size issues. We have an empty/loading state for rows currently, so I agree that we should show states representing state of the system.

[2018-01-03 01:07] vic-topcoder commented on #1566
Awesome.

[2018-01-03 12:15] sachin-maheshwari commented on #1389
@vikasrohit now can we close this ?

[2018-01-03 13:56] mahestro opened #1578 "Should notifications display my own actions?"
Just saw the new notifications, awesome! Curious thing, it's showing me notifications of my own actions e.g. I create a post, it says: mahestro just created a new post. Maybe we should not display this type of actions to its owner. What do you think?

### Screenshot/screencast
http://take.ms/dJ3HS

[2018-01-03 20:09] vic-topcoder commented on #1578
We have a ticket for this already #1546  :)

[2018-01-03 20:09] #1578 closed

[2018-01-03 20:12] vic-topcoder commented on #1368
Seems to be working. The only problem is how the plugin renders after we get the "value" of the text area. It would be neat to actually calculate the height of the area before we render the page, but I guess that's an optimization.

[2018-01-03 20:13] vic-topcoder commented on #1281
@gondzo - what is the status of this one? Can we close it?

[2018-01-03 20:29] vic-topcoder opened #1579 "Comment count is wrong on production"
### Expected behavior
Comment count should be correct.

### Actual behavior
Login to Connect, go to https://connect.topcoder.com/projects/4762 and see the wrong number of counts. Once clicking on "load older comments" the counter is reset to 0

### Screenshot/screencast
<img width="738" alt="screen shot 2018-01-03 at 12 26 59 pm" src="https://user-images.githubusercontent.com/8484061/34538583-c7ac

[2018-01-03 20:33] vic-topcoder opened #1580 "[$40] Managers counter not correct on project list / Production"
### Expected behavior
When there are 3 managers the list should show 3 avatars. If there are 4+ managers, we should see the additional number after the (3) avatars of the first managers.

### Actual behavior
The third avatar is displayed as "+1"
<img width="1174" alt="screen shot 2018-01-03 at 12 33 39 pm" src="https://user-images.githubusercontent.com/8484061/34538722-5c46ef70-f082-11e7-9dc3-0e9a

[2018-01-03 23:46] gondzo commented on #1577
this one is fixed now. the cause was in a change in message service.

[2018-01-04 06:25] #1389 closed

[2018-01-04 06:27] vikasrohit commented on #1281
I think yes, however, the relevant issue is #1565 which seems to be happening because of existing incorrectly ordered topics. Fix from the current issue is intended to prevent it happening in future, however, it does fix the problem with existing ones. So, we have to add some adhoc process/method to fix existing incorrect ones.

[2018-01-04 17:54] vic-topcoder commented on #1577
Thanks! I verified it yesterday evening, closing this one

[2018-01-04 17:54] #1577 closed

[2018-01-04 18:12] gondzo commented on #1579
@vikasrohit can you take this one as it will probably require some investigation with prod environment?

[2018-01-04 18:19] gondzo commented on #1567
I agree @vikasrohit
we are already rendering up to date project name in the grid/cards view and project details, ie dynamic content, but for static content like messages and notifications it would be really tricky to support this.
@vic-topcoder can we close this one as not feasible?

[2018-01-04 18:24] gondzo commented on #1539
@vic-topcoder should we show the profile settings screen in the connect app (it's hidden now, but it's not wired to the api), or just link to https://www.topcoder.com/settings/profile/

[2018-01-04 18:28] gondzo commented on #1535
I think this will require backend changes and it's better to handle it after we unify the user hover component in #1534

[2018-01-04 18:32] gondzo commented on #1437
@vic-topcoder does the above approach look fine? any suggestions on what to do if user has unsaved changes in a form (posting comment, editing spec, etc)?

[2018-01-04 18:33] gondzo commented on #1496
Duplicate of #1535 ?

[2018-01-04 18:34] gondzo commented on #1422
duplicate of #1442