[2018-10-25 20:08] vic-topcoder commented on #2656
Correct - the rule in my head always has been to have a single interaction target for bundled notifications - you can click on them and the system will lead to a specific page/portion of the page

[2018-10-26 02:43] maxceem commented on #2654
@RishiRajSahu I've fixed updating email on `connect-app` side. There is one note. When we get a verification email and click the link to verify email it works good, but it leads us to the Topcoder community app and looks like this:

![image](https://user-images.githubusercontent.com/146016/47541423-bdfad480-d90b-11e8-9596-03c97bd29265.png)

Instead I would expect to be lad to the `connect-app` ins

[2018-10-26 03:45] maxceem commented on #2632
@vic-topcoder

Removed all variables which are defined inside `connect-app` expect several places where we define very connect specific variables for local usage. Here are variables left in connect-app:

![image](https://user-images.githubusercontent.com/146016/47543314-2948a480-d914-11e8-9efe-06ac3b10344c.png)

I'm only thinking about `$screen-rg: 992px;` it's additional media query breaking poin

[2018-10-26 04:00] maxceem commented on #2632
Also, I've replaced all the hardcoded colors with variables (closest one if don't have exact one).
There is only one situation where I have concerns. Some shadows are defined using absoulute black color `#000000`. I'm not sure whether I should replace them with `$tc-balck`: `#151516`. Or leave at is it is.

![image](https://user-images.githubusercontent.com/146016/47543836-b0971780-d916-11e8-8134-

[2018-10-26 04:05] maxceem commented on #2632
Create a PR https://github.com/appirio-tech/connect-app/pull/2657

[2018-10-26 05:31] vic-topcoder commented on #2632
Looks good to me! Thanks for cleaning it up. For the Connect-only break point - it's fine where it is.

[2018-10-26 09:11] RishiRajSahu commented on #1985
@maxceem I traversed through the list, looks good to me, have a questions though -
`notifications.connect.project.submittedForReview` & `notifications.connect.project.approved` was there any reason for keeping their path `undefined` , I think we can keep `/projects/{{projectId}}`. Correct me If I am missing anything here.

[2018-10-26 09:59] maxceem commented on #1985
Don't see any reason for that, will update path to dashboard

[2018-10-26 10:05] maxceem commented on #1985
@RishiRajSahu I guess for `notifications.connect.project.member.left` and `notifications.connect.project.member.removed` we can also put link to the project `/projects/{{projectId}}`. As both of these events see a member who is still IN project.

[2018-10-27 10:42] maxceem commented on #2632
@vic-topcoder I've created a PR to `react-components` as it cannot be built after some recent color variables updates in `tc-ui`, see https://github.com/appirio-tech/react-components/pull/303

[2018-10-27 12:04] maxceem commented on #2654
@RishiRajSahu [PR - Feature/avatar and user profile settings](https://github.com/appirio-tech/connect-app/pull/2655) updated with all final fixes required which we've discussed in Slack:
1. revert changes which has been done during changes regarding showing avatar from `connect_info`. Avatar should come form `basic_info` as before.
2. update profile settings, so it takes/saves `avatar`, `last name

[2018-10-29 07:11] RishiRajSahu commented on #1985
@maxceem okay let's add the link for them as well.

[2018-10-29 09:15] RishiRajSahu commented on #2654
Not opting for `connect_info` (due to privacy policy regulations) for showing user name and photo, reverting the changes back to use `basic_info`, below are the changes made to  achieve that -
1.Title, business phone, company name, company size , Business address - for them still the data will come from connect-info
2.The photoURL and name will be from basic info

[2018-10-29 12:29] RishiRajSahu commented on #2649
@maxceem yeah as per me we can go with approach II, as approach I don't see any major difference between I and II, also I requires more refactoring and redundant kind of code.
Also, below should be the behaviour -
1.Marking notification read should have same impact on all the components
2.Failure from server should have same impact on all the components

I don't what was the thought process behind

[2018-10-31 08:54] maxceem commented on #2614
Same for all notifications which have `goTo` === `PROJECT_SPECIFICATION`:
- EVENT_TYPE.PROJECT.SUBMITTED_FOR_REVIEW
- EVENT_TYPE.PROJECT.SPECIFICATION_MODIFIED

[2018-10-31 09:17] RishiRajSahu opened #2660 "Should we include phase payment udpates to show visual cue on phase card"
So far we have discussed about considering phase tabs - `timeline, specifications, discussions` to show visual cues for a phase card, as per me `phase payments`  is also a potential candidate for showing visual cues.

fyi @vikasrohit @vic-topcoder

[2018-10-31 09:20] maxceem commented on #2660
Also, we can consider to trigger a red cue by these events which are related to phases:
- `notifications.connect.project.phase.transition.active`
- `notifications.connect.project.phase.transition.completed`

[2018-10-31 11:06] maxceem commented on #2545
@RishiRajSahu to sum up. I propose to show this blue line, as long particular project has any `unread` notifications. As for now logic to [mark notifications as read](https://github.com/appirio-tech/connect-app/issues/1985) is already implemented and merged to `dev` this should give pretty smooth experience to users.

What you think?

[2018-10-31 11:40] RishiRajSahu commented on #2545
@maxceem as per the latest changes in dev, we have correct logic to mark notifications as read on respective action done user, so yes I think a single check of having unread notification for a project should suffice the requirement of showing the blue bar.

[2018-11-01 05:48] RishiRajSahu commented on #1985
Closing pushed to dev.

[2018-11-01 05:48] #1985 closed

[2018-11-01 18:34] deepakanbarasan1 opened #2661 "Discussions: New Post field appears out of the window."
**Expected behavior :**
Describe : New Post field should not appears out of the post title window.

**Actual behavior
Describe.**
New Post field is appearing out of the post window. When user enter empty value in the Post title input box.

**Project Name:**
Phase and Dashboard Validation

**Screen Shot:**

![new post form moving out of the box](https://user-images.githubusercontent.com/30447858/47

[2018-11-01 18:35] deepakanbarasan1 commented on #2661
@RishiRajSahu  Please fix this.

[2018-11-01 18:37] deepakanbarasan1 opened #2662 "Add Design Link: URL input text field automatically fetching old URL link"
**Expected behavior :**
Describe : Add design Link: URL input text box should be empty, when user click on Add link

**Actual behavior
Describe.**
Add design Link: URL input text box automatically fetching old URL link, when user click on Add link.

**Project Name:**
Phase and Dashboard Validation

**Screen Shot:**

![url of the add design link having same link](https://user-images.githubuserconte

[2018-11-01 18:38] deepakanbarasan1 commented on #2662
@RishiRajSahu  Please fix it.

[2018-11-01 18:41] deepakanbarasan1 commented on #2662
Please find the reference screen shot.
![add design link_url input text field automatically fetching old url link](https://user-images.githubusercontent.com/30447858/47872129-d7cc7800-de33-11e8-82a1-f4bb33db2a12.PNG)

[2018-11-01 18:57] gondzo opened #2663 "Post content lost if posting failed"
Whey I post a message in connect and network request fails, there is no alert and the message I entered is lost - post content is hidden as soon as the user clicks the post button.
If network request fails, there should be an alert and post editor should still be shown.

[2018-11-02 01:18] maxceem commented on #2662
@RishiRajSahu Fixed in PR https://github.com/appirio-tech/connect-app/pull/2664

[2018-11-02 01:18] maxceem commented on #2430
@RishiRajSahu Fixed in PR #2664

[2018-11-02 01:54] maxceem commented on #2661
@RishiRajSahu Fixed in commit https://github.com/appirio-tech/connect-app/commit/60bfa1743dc8530972df06e9d307bb5dbfa3e17b, already in DEV branch.

![image](https://user-images.githubusercontent.com/146016/47889488-3a019900-de85-11e8-802a-e9ad8d933200.png)

[2018-11-02 02:47] maxceem commented on #2663
@gondzo thanks for reporting this!

I can reproduce it when I'm writing a comment https://monosnap.com/file/hs9KXYG9Zz8Mm8IBoPQ6CHtbNK8xPr but it always shows an error alert for me.

[2018-11-02 02:49] gondzo commented on #2663
hmm, same here. probably I just didn't notice the alert last time.

[2018-11-02 05:06] RishiRajSahu commented on #2662
Duplicate of https://github.com/appirio-tech/connect-app/issues/2430 . Closing.

[2018-11-02 05:06] #2662 closed

[2018-11-02 05:15] RishiRajSahu commented on #2661
Verified in dev. Working fine. Closing.

[2018-11-02 05:15] #2661 closed

[2018-11-02 05:55] RishiRajSahu commented on #2430
Verified on dev. Working fine. Closing.

[2018-11-02 05:55] #2430 closed

[2018-11-02 05:59] #2518 closed

[2018-11-02 07:29] RishiRajSahu commented on #2654
All the changes are pushed to dev, hence closing.

[2018-11-02 07:29] #2654 closed

[2018-11-02 15:20] ajefts opened #2669 "Reset password not working"
I'm getting an error when I try to reset my password.

Steps:
1. visit https://connect.topcoder.com/settings/account
2. Click Forgot Password
3. Click Reset Password

![image](https://user-images.githubusercontent.com/3812270/47924010-3b38c300-de91-11e8-9a35-2db12d2752d3.png)

[2018-11-03 12:58] vikasrohit commented on #2636
I am not sure, but fonts does not look good (text is being cut due to overflow) to me on my chrome browser with latest code in dev.

<img width="1280" alt="screen shot 2018-11-03 at 6 26 24 pm" src="https://user-images.githubusercontent.com/2417632/47952488-15e1ad00-df96-11e8-92ae-fcf7af1e52fd.png">

However, if it fonts are looking good to @vic-topcoder, we can fix certain elements in app where i

[2018-11-05 14:39] vikasrohit commented on #2636
Thanks @maxceem

[2018-11-06 06:24] vikasrohit opened #2680 "Dashboard is auto refreshing in every minute"
### Expected behavior
Should not refresh automatically, unless there is a new content is available

### Actual behavior
It is reloading with every get notifications call in every minute

### Steps to reproduce the problem
- Just stay on dashboard and observe

--

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (client, copilot or manager): Any
- Account used: N/A

[2018-11-06 06:34] vikasrohit commented on #2680
fyi @maxceem @RishiRajSahu

[2018-11-06 06:47] vikasrohit commented on #2680
@maxceem @RishiRajSahu Patched temporarily by disabling the auto refresh of the dashboard feeds. Needs a proper fix instead.

[2018-11-06 18:24] gondzo opened #2683 "Console error on api 403"
Accessing a project that I don't have permissions to see used to show the coder bot error screen with details. Now it throws a console error and loading spinner is always shown. Here is an example in prod

![image](https://user-images.githubusercontent.com/3051646/48085075-981ddb80-e1f9-11e8-9dc7-ee72474d2501.png)

[2018-11-07 02:31] maxceem commented on #2683
Thanks @gondzo ! I'm looking into it, so far very strange...

[2018-11-07 03:38] maxceem commented on #2683
@RishiRajSahu @vikasrohit

It's fixed and hotfix PRs provided
- PROD https://github.com/appirio-tech/connect-app/pull/2684
- DEV https://github.com/appirio-tech/connect-app/pull/2685

### The reason

The error happens here due to unreliable order of rendering `ProjectDetail` and `DashboardContainer` components in the the next code:
[code]

`ProjectDetail` should prevent `DashboardContainer` to be

[2018-11-07 22:40] #2632 closed

[2018-11-08 17:30] acshields opened #2688 "Creation of Scope Forms"
@vikasrohit @RishiRajSahu - Project intake forms need to be created for a new Topcoder partner. These forms should utilize our existing intake functionality in Connect, as this request is###  time-sensitive (we will then update the intake forms later to utilize our new form tool/scope process that we are currently planning). We need these forms added into Connect by **_Wednesday, 11/14._**  There

[2018-11-12 13:00] RishiRajSahu commented on #2688
@acshields I see 5 unique links in the above description which means 5 forms needs to created, furthermore below are the points to confirm for being on same page -
1. We will be creating 5 Project intake forms with deep links only(these forms will not be shown on our project catalogue)
2. I will create these forms first on dev and after final verification will proceed to PROD(which will be quicker

[2018-11-14 05:37] RishiRajSahu commented on #2622
@maxceem this task related to issue seems to be done and working fine on both prod and dev. Closing the issue.

[2018-11-14 05:37] #2622 closed

[2018-11-14 05:37] RishiRajSahu commented on #2636
Working fine, closing the issue.

[2018-11-14 05:37] #2636 closed

[2018-11-14 05:53] RishiRajSahu commented on #2680
Pushed the changes made by maxceem to handle the issue https://github.com/appirio-tech/connect-app/pull/2686

[2018-11-14 05:53] #2680 closed

[2018-11-14 06:12] RishiRajSahu commented on #2683
Closing merged to dev and prod

[2018-11-14 06:12] #2683 closed

[2018-11-14 06:13] RishiRajSahu commented on #2663
Pushed to dev. Closing.

[2018-11-14 06:13] #2663 closed

[2018-11-14 10:21] RishiRajSahu commented on #2688
More updates as per the discussion on mail -
1. PFA for BU and CostCentre fields, have kept word limit of 255 characters for each of the field
![screen shot 2018-11-14 at 2 50 45 pm](https://user-images.githubusercontent.com/11248478/48476442-0f202900-e825-11e8-86a7-3c1d21e9e2c2.png)

2. I am afraid we could directly add different logo, we might need some designer help first for that. By the way I

[2018-11-15 18:38] acshields opened #2691 "404 Issue When Registering"
Logged in user received 404 when clicking "Get Started" within connect.  This issue occurred repeatedly.

<img width="1341" alt="screen shot 2018-11-15 at 12 37 34 pm" src="https://user-images.githubusercontent.com/41118149/48573899-4e0cb800-e8d3-11e8-9087-c770770338e4.png">

![image 3](https://user-images.githubusercontent.com/41118149/48573620-68926180-e8d2-11e8-98ca-3713a21b659b.png)

[2018-11-16 10:22] RishiRajSahu commented on #2688
@acshields I have created the zurich forms for PROD as well, please find below the links for prod
https://connect.topcoder.com/new-project/kubik_mobile
https://connect.topcoder.com/new-project/kubik-api-development
https://connect.topcoder.com/new-project/kubik_sfdc_dev
https://connect.topcoder.com/new-project/kubik_website
https://connect.topcoder.com/new-project/kubik-testing

[2018-11-26 09:45] vikasrohit commented on #2560
@gondzo could you please take care of it? We can include this change in upcoming release.

[2018-11-26 11:11] vikasrohit commented on #2479
Closing the issue as its requirements are done under #2559.

[2018-11-26 11:11] #2479 closed

[2018-11-27 05:20] vikasrohit opened #2701 "Unable to load project specification tab"
### Expected behavior
Should load the page

### Actual behavior
Loading spinner is never going away

### Steps to reproduce the problem
- Project 6587 is not loading correctly, it is showing error in console

### Screenshot/screencast
<img width="945" alt="screen shot 2018-11-27 at 10 49 58 am" src="https://user-images.githubusercontent.com/2417632/49060143-39fd7a80-f232-11e8-8878-79d131fe9186.png

[2018-11-27 05:38] vikasrohit commented on #2701
@jpoarch @acshields patched it on production, and should be working fine. Let us know if it is still not working for you.

[2018-11-27 05:38] #2701 closed

[2018-11-27 08:20] kkartunov opened #2704 "Add @team mentions"
It would be great if we can have the opportunity to address all team members in connect project. Something similar like in Slack:
`@team`
`@here`
will do.

Thanks

[2018-11-28 20:30] acshields opened #2705 "Blue Action Button in Connect-generated emails not working for Outlook users"
Users who use Outlook for email management are reporting that when they receive emails triggered by events in Connect, the blue button in the email (to return the customer into Connect) is always disabled, which leads to some issues. Can you take a look into this?

[2018-11-29 12:05] vikasrohit commented on #2705
@acshields I have tried to reproduce it and able to reproduce it. I have applied a fix to a specific email template which is sent when someone posts a message in a connect project. I have tested it and it seems to be working for me. Is it possible for you or the person who reported the issue to validate this (by checking any new email which is sent for a new message in connect project)? If it is w

[2018-11-30 06:05] vikasrohit commented on #2705
@acshields applied the fix at all other places in our notification emails where we are rendering a button for navigating back to the connect. Let me know if you still see the reports of incorrect button rendering.

fyi @gondzo @RishiRajSahu @ajefts

[2018-11-30 10:51] vikasrohit opened #2707 "Slider dots are off the slide rail in project edit scope form"
### Expected behavior
Should be aligned at center of the rail

### Actual behavior
Off of the rail. Seems like it was missed while fixing https://github.com/appirio-tech/connect-app/issues/2305 or appeared as regression after fix of the issue because it is working fine on project creation screen but not on the edit screen.

### Steps to reproduce the problem
- View a project's scope form which hav

[2018-12-03 07:07] vikasrohit commented on #2707
Fixed and patched to the production.

[2018-12-03 07:07] #2707 closed

[2018-12-03 11:08] RishiRajSahu opened #2710 "[$30] Enabling changing of user mail via Connect-app only by customers"
Right now the email can't be changed from the `Account` page of connect as earlier we didn't had support of redirect URL to Connect(or any other custom URL). but with this change (https://github.com/appirio-tech/ap-member-microservice/pull/198 )in place in member service we are good to go for enabling users to change the email from connect as well.

fyi @acshields @vikasrohit

[2018-12-03 11:12] RishiRajSahu opened #2711 "Handling Deep URLs after removing hidden templates from the metadata response"
Currently, all the project templates gets fetched during metadata call. After this https://github.com/topcoder-platform/tc-project-service/issues/197 is fixed, changes needs to be made on frontend as well to handle the deep url project form loading.

@vikasrohit @acshields

[2018-12-03 11:17] RishiRajSahu opened #2712 "[$25] Reset password sending DEV Url in the mail received"
On Connect's Account page if user is hitting the request for resetting the password the mail corresponding mail received in mail-box contains the DEV URL instead of PROD.

<img width="828" alt="screen shot 2018-12-03 at 4 45 36 pm" src="https://user-images.githubusercontent.com/11248478/49370712-0bdcd680-f71b-11e8-9126-8aecf240ede8.png">

@vikasrohit

[2018-12-03 11:18] RishiRajSahu commented on #2688
@acshields Added new intake form for Design here - https://connect.topcoder.com/new-project/kubik_design

[2018-12-03 18:43] acshields commented on #2705
Hi @vikasrohit @gondzo @RishiRajSahu - Just reconfirmed w/ customer who is using Outlook that the fix is working.  The button now is functioning as expected.

[2018-12-04 05:19] vikasrohit commented on #2705
Thanks for the update @acshields

[2018-12-04 05:19] #2705 closed

[2018-12-10 22:56] ajefts opened #2713 "Pages not loading in Connect"
We experienced this issue during a demo.  The demo was being run from London.  It seemed that the site would partially load but then hang. Here is the error we were able to see in the console.

Mo should be able to help us reproduce it.

![image](https://user-images.githubusercontent.com/3812270/49766934-ad78a080-fca4-11e8-8d61-8b59842ea4e7.png)

[2018-12-10 22:56] ajefts commented on #2713
@vikasrohit @RishiRajSahu Could take a look at this and see if it indicates a broader issue?

cc @acshields

[2018-12-11 05:04] RishiRajSahu commented on #2713
@ajefts Seems to transient issue due to network latency. I just tried loading the same URL and loaded well in the first attempt

[2018-12-11 05:05] RishiRajSahu commented on #2713
<img width="1439" alt="screen shot 2018-12-11 at 10 32 31 am" src="https://user-images.githubusercontent.com/11248478/49779507-528c8b00-fd30-11e8-99db-9e9a7f2820f6.png">

[2018-12-11 05:08] RishiRajSahu commented on #2713
@vikasrohit could this be because of multiple hops we have, for eg - ALBs and tyk ?

[2018-12-11 05:31] vikasrohit commented on #2713
@ajefts @RishiRajSahu Yes, it seems to be issue with our network because from our API logs, it says request is fulfilled in less than 100ms. And when I try to connect with the API endpoint using `traceroute` it shows too many hops and sometimes it sticks in AWS infrastructure.

[2018-12-11 12:06] ajefts commented on #2713
Any ideas on how to tackle this issue?  Maybe @mtwomey has some thoughts on it?

[2018-12-11 12:09] vikasrohit commented on #2713
@ajefts Yes, we need expert advice from @mtwomey  for this. Meanwhile, we have applied a hotfix on production which now uses gzip compression for a long HTTP request which seems to make visible improvement. I hope, that should reduce the chances of the issue you faced.

[2018-12-11 14:42] acshields opened #2714 "Form Rendering Issue"
<img width="589" alt="screen shot 2018-12-11 at 2 41 40 pm" src="https://user-images.githubusercontent.com/41118149/49807788-e2433100-fd52-11e8-8245-2f47b9650271.png">

The scope form was having issues rendering the budget line question.  This arose in the Zurich website scope form.

[2018-12-11 15:38] vikasrohit commented on #2714
@acshields it is happening because of the text `More than $100K` which can be fixed if we change the text to `$100K+`, if that is okay otherwise we need to find a programatic way to fix this.

[2018-12-11 17:04] acshields commented on #2714
That is fine with me. Proceed with the change to $100K+

[2018-12-13 06:59] vikasrohit commented on #2714
Fixed and patched to the production.

[2018-12-13 06:59] #2714 closed

[2018-12-13 11:49] vikasrohit opened #2715 "Connect project listing or project details page does not load when /notifications/list call timesout"
### Expected behavior
Should load the app as normal, only thing that should not be working is the notifications panel

### Actual behavior
It does not render any thing if there is a timeout in /notifications call

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account

[2018-12-13 18:55] vic-topcoder opened #2717 "Long customer username covers over manager avatar in project grid view"
### Expected behavior
When the username is too long it should be hidden/truncated via ellipsis `…`

### Actual behavior
The customer name flows over the manager column.

Spotted at the dev server.
![screen shot 2018-12-13 at 10 51 10 am](https://user-images.githubusercontent.com/8484061/49960665-8816ad00-fec5-11e8-93f8-922e3a2a1032.png)

[2018-12-14 02:51] vic-topcoder commented on #2688
@acshields let's discuss what can be updated on the forms - there are several things I want to go over.

[2018-12-14 08:55] vikasrohit opened #2718 "Unable to load messages for customers"
### Expected behavior
Should load the messages and expanded phase cards normally

### Actual behavior
It is not rendering any dashboard message. However, it is not happening for all the projects and customers.

### Steps to reproduce the problem
- Login as a customer
- Open a project which has some dashboard messages (it might not be the exhaustive criteria to reproduce the issue. We are still try

[2018-12-14 09:00] vikasrohit commented on #2718
Yesterday night, we applied a hotfix patch for by passing the error so that customers can see the messages. However, root cause was not known till that time.
After further investigation today, we found that the issue is reproducible when there is at least one active phase in the project and there is a notification for timeline adjustment for one of the phases. Error appears when app tries to auto

[2018-12-14 14:22] acshields commented on #2688
Hi @vic-topcoder - Per our Slack chat, these forms are customer-specific and will be upgraded at some point in the future to the new scope forms that @vikasrohit @RishiRajSahu are working on separately. These forms above do not represent that separate effort for the new scope form design.

[2018-12-14 18:34] vic-topcoder commented on #2688
gotcha, thanks!

[2018-12-18 05:30] maxceem commented on #2715
@vikasrohit sure, would you like it to be fixed before form wizard/dependant question is done or after?

[2018-12-18 06:40] vikasrohit commented on #2715
If it does not take more than 30 minutes, I would like to get it first as we are seeing issues on production.

[2018-12-18 08:47] maxceem commented on #2715
@vikasrohit I cannot reproduce the issue.

I simulate the timeout error by throwing error inside `getNotifications` in `30` seconds:
[code]

But both project listing and project details pages are loaded without any issues:

![image](https://user-images.githubusercontent.com/146016/50142009-dff94d80-02e3-11e9-8bfb-1f4d4079c1d0.png)

I guess both these pages could fail to be loaded if `metadata` req

[2018-12-21 23:51] gondzo opened #2730 "Can't add newly registered members to project"
There is some issue which prevents adding newly registered members to a project - members suggest api returns no results so we get a message `This username doesn’t exist on Topcoder.`

Can we try to call `http://api.topcoder.com/v3/members/<handle>` - this seems to return the correct info so would be helpful when I know the full handle of a user I'm trying to add.

[2018-12-23 21:00] gondzo commented on #2730
how about we enable the add member button all the time and on click we can check the handle?
at least that would create less support tickets to add members

[2018-12-24 17:59] acshields commented on #2730
Hi @vikasrohit - Let's talk this through on Thursday with @vic-topcoder

[2018-12-26 07:04] vikasrohit commented on #1725
Just for reference, it was not an issue and rather a feature implemented via https://github.com/appirio-tech/connect-app/issues/671 and https://github.com/appirio-tech/connect-app/issues/654.

[2018-12-26 19:57] vic-topcoder commented on #2730
I would suggest we change the default behavior of adding users through their email instead of handle, as most of the customers would be used to that pattern - user email == user ID (handle). As the email has the same validity, I would expect the business users to operate predominantly with emails - inviting user to a project via email would work fine with both cases:
- send an invite to registered

[2018-12-27 07:38] vic-topcoder commented on #2730
thanks @vikasrohit

[2019-01-03 05:34] maxceem commented on #2669
I **cannot** reproduce this issue on PROD and on DEV.

Could somebody try to reproduce it?
cc @RishiRajSahu

[2019-01-03 06:59] maxceem commented on #2710
@RishiRajSahu

I see that relative change is implemented in Member Service https://github.com/appirio-tech/ap-member-microservice/pull/198/files and merged to DEV.

I've checked worklow which is implemented and it's like this:
- When we update member profile's email we have to define `successUrl` and `failUrl`, which is good, so we call update endpoint like this:
[code]
    And in the body we are

[2019-01-03 07:12] maxceem commented on #2710
@RishiRajSahu if you wanna try it yourself here is the branch where I've enabled email changing and added support for `successUrl` and `failUrl` https://github.com/appirio-tech/connect-app/tree/feature/account-settings-improvements

[2019-01-03 09:47] RishiRajSahu commented on #2710
@maxceem yeah its visible that the baseURL should be replaced with the domain of MemberService only, Let me check the respective changes in community app for this update in member service.

[2019-01-03 10:32] RishiRajSahu commented on #2710
fyi @maxceem  https://github.com/topcoder-platform/community-app/commit/1bfb71e21a8bfc912f7e4a916955923238726e65

[2019-01-04 01:58] maxceem commented on #2710
@RishiRajSahu Thanks for the link to update in community App. I've checked the implementation inside Community App.

#### Commynity App

The implementation doesn't work as it includes `successUrl` and `failUrl` inside profile data instead of adding these params to the URL:

![image](https://user-images.githubusercontent.com/146016/50670095-2351fc80-1004-11e9-9213-f170a849229b.png)

So this request

[2019-01-07 12:23] vikasrohit opened #2735 "[Team Management 2.0] Do we need auto complete for adding existing topcoder users"
Currently after new team management section, we are missing the auto complete feature for searching existing topcoder user while adding a user to the team. It might be an intentional feature, however, creating the issue to track the discussion.

fyi @acshields @vic-topcoder @RishiRajSahu

[2019-01-07 12:30] vikasrohit opened #2736 "[Team Management 2.0] Admin/Managers are not able to add existing users to the customer team"
### Expected behavior
Admin/Manager is not able to add a customer by handle.

### Actual behavior
Admin/Manager should be able to add existing topcoder users by handle to the Project Team section.

### Steps to reproduce the problem
- Try to add a customer by handle using new team management

--

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (client, copilot or manager): Copilo

[2019-01-07 12:30] vikasrohit commented on #2736
fyi @acshields @gondzo  @RishiRajSahu

[2019-01-08 07:17] RishiRajSahu opened #2738 "[Team Management 2.0] Invited Customer's not able to load listing page"
### Expected behavior
Customers should be able to see project listing page with card-view along with join button for project's invited for

### Actual behavior
It seems the invites data for project which is responsible for showing join button with card view for existing customers is not populated correctly

[2019-01-08 07:18] RishiRajSahu commented on #2738
fyi @vikasrohit @acshields @maxceem

[2019-01-08 10:48] RishiRajSahu opened #2739 "[Team Management 2.0] New Login view for unregistered customers"
### Expected behaviour

1. When a non-registered user is invited from the connect.
2. User receives the mail with register link
3. Pre-filled(non-editable email only) login form should open without the select solution in left bar
4. User fills the remaining details
5. User verifies the pin and lands on listing page being added as member to invited project

### Actual behavior
1. When a non-registe

[2019-01-08 11:53] #2738 closed

[2019-01-08 11:53] gondzo commented on #2738
this is now fixed @RishiRajSahu - user email wasn't being loaded in frontend.

[2019-01-09 10:03] maxceem commented on #2739
After additional discussion with @vikasrohit the details are next.

If a user comes to the registration page with `retUrl` like `https://accounts.topcoder-dev.com/connect/registration?retUrl=https://connect.topcoder-dev.com/projects/1234` then:
- Email should be prefiled with user email and non-editable.
- User email should come from coockie `registerEmail` which we will add using browser dev tool

[2019-01-09 11:52] vikasrohit commented on #2739
Looks good to me @maxceem

[2019-01-10 00:41] maxceem commented on #2739
It's done with PR for two repositories:
https://github.com/appirio-tech/react-components/pull/307
https://github.com/appirio-tech/accounts-app/pull/207

I've tested while mocking PIN verification and login responses, works well.
Though before merging them to dev I would prefer to test them with real responses when indentation service sends the email with PIN.

[2019-01-10 11:50] vikasrohit opened #2741 "[Team Management 2.0] Handle the case when email entered to be invited is already topcoder user"
### Expected behavior
It should treat the invited user as registered user and send notification email which is intended for registered user.

### Actual behavior
It is treating the invited user as new unregistered user and sends email which is intended for unregistered user which is causing confusion to the invited user as they are now seeing a button to Register on topcoder.

### Steps to reprodu

[2019-01-10 11:51] vikasrohit commented on #2741
fyi @gondzo @RishiRajSahu @acshields

[2019-01-10 12:34] vikasrohit opened #2742 "[Team Management 2.0] Inviting already invited user fails without clear error message"
### Expected behavior
It should show the error with message that user is already invited

### Actual behavior
It seems the API request is timing out in this case

### Steps to reproduce the problem
- Try to invite already invited user and observe the Network calls and console for error logs

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS: Any
- Browser (w/version):

[2019-01-10 12:34] vikasrohit commented on #2742
fyi @gondzo @RishiRajSahu @acshields

[2019-01-10 13:33] #2718 closed

[2019-01-10 15:25] vic-topcoder opened #2743 "[Team Management 2.0] After inviting team members they should show on the sidebar as well"
### Expected behavior
When I invite new members to a project, they should be added to the sidebar as well.

### Actual behavior
Invited members show only on the team management popup.

### Design the cases
- Member is invited, how the avatar is displayed on the sidebar (we have only email and invitation info {date, status})
  - What is the avatar style (transparent, icon overlay?)
  - What is the

[2019-01-10 19:58] ajefts opened #2744 "Ratings and Profile Stats for Topgear Members"

[2019-01-10 19:58] ajefts commented on #2744
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1636142

[2019-01-11 05:31] RishiRajSahu commented on #2688
Closing as its completed.

[2019-01-11 05:31] #2688 closed

[2019-01-11 06:36] vikasrohit commented on #2177
@maxceem I am not able to follow now, what exactly was the issue and what we are trying to implement as fix. Could you please summarize the issues and solution in one comment. We would decide from there.
fyi @RishiRajSahu

[2019-01-11 07:56] RishiRajSahu commented on #2739
verified on dev by inviting un-registered member working fine. Closing.

[2019-01-11 07:56] #2739 closed

[2019-01-11 07:58] RishiRajSahu commented on #2741
@vikasrohit handling it on UI side requires the handle to be fetched for the user with particular email id which I think is not the correct way, should we handle it at project service side just before send the email invites ?

[2019-01-11 10:22] vikasrohit commented on #2741
Yep, at API we need to tackle this.

[2019-01-13 08:48] RishiRajSahu commented on #2742
Added alert for -

| Team              | mode     | Already member  | Action        |
| ------------- |:--------:| -----------------:| ----------:|
| Topcoder       | handle      |   Yes                     | _**show alert**_ |
| ProjectTeam  | email      |    Yes                     | _**show alert**_ |

Changes pushed to dev with - https://github.com/appirio-tech/connect-app/commit/52a089f1b01d4

[2019-01-14 03:20] maxceem commented on #2177
@vikasrohit

#### The issue can be reproduced in the next way:
- we open somw project details page (any tab)
- some other user creates a new post either on **Dashboard** or under some **Phase** on the **Project Plan** tab
- we see a notification about the new post in the top right corner notification center

   ![image](https://user-images.githubusercontent.com/146016/51094846-5e65e400-17eb-11e9-9

[2019-01-14 11:01] maxceem commented on #2741
Created PR https://github.com/topcoder-platform/tc-project-service/pull/218 in project service repository. But I tested locally only using unit tests, as deploying and testing by real locally is quite complicated.

We will test on the DEV.
fyi @RishiRajSahu

[2019-01-16 05:00] RishiRajSahu commented on #2741
Closing as working fine and pushed to prod.

[2019-01-16 05:00] #2741 closed

[2019-01-16 17:56] gondzo opened #2750 "[$40] Notifications popup is not displayed"
If I have notifications in the popup and I click the mark icon to mark the notifications as read. Popup is closed and can't be opened again without refreshing the page

screenshot > https://www.screencast.com/t/d6NIV3RvW

[2019-01-17 02:10] maxceem commented on #2750
Thank you @gondzo.
Can reproduce it in 100% attempts.

[2019-01-17 03:02] maxceem commented on #2715
@vikasrohit have seen this issue lately or maybe we can close it for now?

[2019-01-17 03:15] maxceem commented on #2710
This feature is enabled in https://github.com/appirio-tech/connect-app/tree/feature/account-settings-improvements branch now.

Though looks like there is an issue with member service.
- when I ask to change email
- I get a email with a link to confirm, which looks good:

  ![image](https://user-images.githubusercontent.com/146016/51293196-b4839300-1a48-11e9-8515-7d26df128461.png)

- when I open it

[2019-01-17 03:21] maxceem commented on #2645
Closing at the duplicate of another one https://github.com/appirio-tech/connect-app/issues/2649

[2019-01-17 03:21] #2645 closed

[2019-01-17 03:32] maxceem commented on #2712
To reproduce:
- login to https://connect.topcoder.com (production) with a real Topcoder user
- in the top right corner click to avatar to open dropdown and choose **Account and security**
- click **Forgot password?** and after click **Reset password**
- the email like in the first comment should come to your email address. And the link contains DEV URL https://accounts.topcoder-dev.com/ but should

[2019-01-17 03:51] maxceem commented on #2649
I wanted to have more control in case for some functionality it's important to know if notifications are marked as `read` for real or just temporary during the server request. But I think there is no code which needs to know it so far.

So we can go with the way `II`.

We have several actions which mark notifications as `read` and all of them should support applying making notifications read witho

[2019-01-17 03:56] maxceem commented on #2623
@RishiRajSahu as the user never calls the method to mark notifications as `seen` by himself, it's always done in the background automatically.

I think we can just remove showing this message in Connect App for this error. The only thing we would still have an error message in the browser console.

What do you think?

[2019-01-17 04:03] maxceem commented on #2545
To sum up.

We have to show the blue bar aside project in the project list (grid view):

![](https://user-images.githubusercontent.com/8484061/44731583-5b669300-aa98-11e8-923b-be9ed6e87183.png)

In case the user have any unread notifications for that project.

We have all notification loaded in the Redux store and we can filter them by `projectId`

![image](https://user-images.githubusercontent.co

[2019-01-17 04:41] maxceem commented on #2614
Notifications come now, so we can proceed with this one.

@RishiRajSahu here is some tricky moment. The link to Scope/Specfication tab depends on the project version.
We list notifcations for many projects, but we don't have data for all these projects so we don't know their version old or new (`v3`). So looks like we cannot render correct link in the notifications list.

What we can do is update

[2019-01-17 04:52] maxceem commented on #2544
This was fixed a few months ago and there were no regressions since than, so I think it's safe to close it now.

[2019-01-17 04:52] #2544 closed

[2019-01-17 04:53] maxceem commented on #2540
@RishiRajSahu should we include it in the next CF?

[2019-01-17 05:08] maxceem commented on #2534
@vikasrohit there is one moment about the source maps. Is it ok for them to be exposed to everyone? I mean if we add source maps on production everybody could read the source code of our app which potentially could lead to security issues. On the other hand the repository for Connect App is open for everyone so maybe it's not an issue for us.

What do you think?

[2019-01-17 05:10] vikasrohit commented on #2715
Yes, I have seen it yesterday. Console just says timeout because list notifications call took more than 20 seconds.

I think to simulate you need to pass lesser timeout not greater. Try setting it to 100ms to simulate the timeout.

[2019-01-17 05:30] maxceem commented on #2575
This issue is basically a duplicate of https://github.com/appirio-tech/connect-app/issues/2175.
So we depend on the backend changes here.

[2019-01-17 05:41] RishiRajSahu commented on #2545
@maxceem yep we are very much clear with when to show blue bar, only thing to mention is when to mark notifications as read, so as I mentioned here https://github.com/appirio-tech/connect-app/issues/2545#issuecomment-424616608 we should mark them as read as per the target page/phase.
fyi - @vikasrohit

[2019-01-17 05:52] maxceem commented on #2545
@RishiRajSahu yeah, I think marking notifications as `read` is already handled by https://github.com/appirio-tech/connect-app/issues/1985. The logic is: we mark notifications as `read` when we the subject of notification is visible to a user.

[2019-01-17 05:54] maxceem commented on #2154
it's already in the dev for a while, so I'm closing it.
FYI @RishiRajSahu

[2019-01-17 05:54] #2154 closed

[2019-01-17 07:00] maxceem commented on #2089
I see the issue. It's because we filter notifications by some particular project and after we mark all the notifications of that project a `read`. As filter stays, we don't have anything to show for the particular project, see the demo video, it's slightly changed since this issue was initially created: https://monosnap.com/file/nFBoMgEp3Pxjr7BSYN5x8ygMtfzlvj

So in case we first filtered by some

[2019-01-17 07:05] maxceem commented on #2451
This issue is duplicate of https://github.com/appirio-tech/connect-app/issues/2156.

[2019-01-17 08:39] RishiRajSahu commented on #2451
yep, closing it.

[2019-01-17 08:39] #2451 closed

[2019-01-17 09:31] RishiRajSahu opened #2753 "[$30] [Team Management 2.0] Retain the value in text area if there is error in invite process"
### Expected behavior
Values (handle or emails) should be retained in case of any server error

### Actual behavior
Not retaining the previous values in case of error

### Steps to reproduce the problem
- Try adding non manager user via handle  to a manager role
- **_The error popup will appear and the values in the text area are cleared._**

fyi @maxceem @vikasrohit

[2019-01-17 10:48] maxceem commented on #2455
There are two events currently doesn't come to the Connect App:
- `connect.action.timeline.adjusted` issue https://github.com/topcoder-platform/tc-notifications/issues/72
- `connect.action.timeline.milestone.waiting.customer` issue https://github.com/topcoder-platform/tc-project-service/issues/231

Also, it looks like so far there is no way to trigger `connect.action.project.product.update.spec` f

[2019-01-17 11:06] maxceem commented on #2121
@RishiRajSahu looks like this is already on DEV.

[2019-01-17 11:32] vikasrohit opened #2756 "Auto select for options for checkbox group type questions"
@maxceem we need to support auto selection of one or more other options in a `checkbox-group` or `tiled-checkbox-group` type question. Essentially it is similar to disabling options when specified condition is met, similarly we can auto add the value of a an option based on another condition say `autoSelectCondition`.

[2019-01-17 11:41] vikasrohit commented on #2121
Closing

[2019-01-17 11:41] #2121 closed

[2019-01-17 11:42] vikasrohit commented on #2179
With new team management, we eliminated showing `Owner` in team component.

[2019-01-17 11:42] #2179 closed

[2019-01-18 07:08] RishiRajSahu opened #2757 "[$30] [Team Management 2.0] Show alert when inviting already a member via project-team dialog using handle"
### Expected behavior

| Team              | mode     | Already member  | Action        |
| ------------- |:--------:| -----------------:| ----------:|
| ProjectTeam  | handle      |   Yes                     | _**show alert**_ |

### Actual behavior
| Team              | mode     | Already member  | Action        |
| ------------- |:--------:| -----------------:| ----------:|
| ProjectTeam  | han

[2019-01-18 07:08] RishiRajSahu commented on #2742
created issue for remaining case to handle https://github.com/appirio-tech/connect-app/issues/2757

[2019-01-18 07:08] #2742 closed

[2019-01-18 07:08] RishiRajSahu commented on #2757
fyi @maxceem

[2019-01-18 07:31] RishiRajSahu commented on #2540
@maxceem sure.

[2019-01-18 11:02] vikasrohit commented on #2730
Closing as it was fixed as patch and new team management allows addition of users by handle and emails both without need of auto suggest.

[2019-01-18 11:03] #2730 closed

[2019-01-18 11:04] vikasrohit commented on #2756
@maxceem you can pick this in CF as well if you think so.

[2019-01-18 11:21] RishiRajSahu commented on #2614
@maxceem yeah the approach suggested looks good i.e. identifying the version on load of project and redirecting to respective page.

[2019-01-19 02:12] maxceem commented on #2756
@vikasrohit yep, added it on the list to decide.

[2019-01-21 02:45] maxceem commented on #2540
We have two places where we select country:
- Account registration page https://accounts.topcoder-dev.com/connect/registration (source: https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/RegistrationScreen/index.jsx#L137)
- Profile settings page http://local.topcoder-dev.com:3000/settings/profile (source: https://github.com/appirio-tech/connect-app/blob/dev/src/rout

[2019-01-21 02:52] maxceem commented on #2757
@RishiRajSahu when we invite to the Project Team, the placeholder says `Enter one or more emails separated by ';' or comma ','`. So it asks us to enter emails rather than handles.

Should we also change placeholder to `Enter one or more emails or user handles separated by ';' or comma ','`?

[2019-01-21 02:56] maxceem commented on #2757
Now this functionality already works when we try to inviter already added member to the Topocoder team https://monosnap.com/file/PN8D3YW37yvUqTwsPTybIphZva2WUT

So we should enable the same functionality for Project Team.

[2019-01-21 03:07] maxceem commented on #2756
@vikasrohit is there some real-world example of a template where we are going to use it?
It would help to understand what approach to use for the implemenetation. As supporting in general case for such thing could be very tricky.

[2019-01-21 04:52] maxceem opened #2758 "[Team Management 2.0] - Show exact reason for error during invitation"
When we invite **Topcoder** or **Project Team** members, there are various reasons why members couldn't be invited.

### Actual Bahiour
Now we always show very general error alert `YOU ARE UNABLE TO INVITE MEMBERS SUCCESSFULLY`.

### Expected Bahiour
It could be helpfull to see the exact reason why we cannot invite a member. Server usually retuns the exact error reason why we cannot invite a parti

[2019-01-21 05:04] RishiRajSahu commented on #2758
@maxceem yeah I am too aware of this, we should show correct error as per returned by server. So there are multiple things to be taken care -
1.In the error on UI instead of userId we have to show handle or email as the per invite
2.We have a support of adding multiple users at same role as per new feature, so suppose if someone is trying to adding 4-5 members with handle at manager role and one o

[2019-01-21 05:07] RishiRajSahu commented on #2758
For eg. some of the possible invite scenarios -

1.Adding manager user as copilot - success
2.Adding manager user as manager - success
3.Adding manager user as observer - success

1.Adding topcoder user as copilot - success
2.Adding topcoder user as manager - Show correct error
3.Adding topcoder user as observer - Show correct error

1.Adding connect-admin user as copilot - success
2.Adding connec

[2019-01-21 05:16] RishiRajSahu commented on #2757
@maxceem yeah we need the same for project team, and yes the placeholder needs to be updated.

[2019-01-21 05:48] maxceem commented on #2758
I guess this should be fixed server side, right? As the client doesn't have information to match userIds and emails/handles.

I'm not sure I got the idea. As the server returns an error message containing userIds, but the client doesn't have information on how to match userids and emails/handles. See the error message from the server for a several users `40152922,40035291 cannot be added with a Ma

[2019-01-21 05:58] RishiRajSahu commented on #2758
That's a different case to be taken care , as right now project service don't create partial invites, it either creates all or none.

On UI side we already fetch members details [here](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/actions/projectMember.js#L76) I am planning to use this details for matching instead of making the same call on backend again to fetch the data.

[2019-01-21 06:09] maxceem commented on #2758
Thank you for pointing it.

As the server doesn't return failed invites only text error message, do you think we should parse error message to get userIds? Or better to update project service to return a list of failed/successful userIds?

[2019-01-21 07:39] vikasrohit commented on #2756
Our use case right now is for a particular questions which says "What type of deliverables you need?" and the options are: Design, Dev, QA and Deploy. We want the QA to be auto selected when user selects `Dev` to let them know that QA has to be bundled with Dev.

[2019-01-22 02:32] Gauravseta commented on #2753
@maxceem can you please assign this to me?

[2019-01-22 02:33] maxceem commented on #2753
Done

[2019-01-22 02:35] PrakashDurlabhji commented on #2712
@maxceem i wish to work on it

[2019-01-22 02:36] suppermancool commented on #2540
@maxceem pls assign this to me

[2019-01-22 02:36] maxceem commented on #2712
Sure, it's on you.

[2019-01-22 02:36] maxceem commented on #2540
Done.

[2019-01-22 02:36] rashmi73 commented on #2757
@maxceem pls give this to me. thank you

[2019-01-22 02:37] maxceem commented on #2757
Done

[2019-01-22 02:37] afrisalyp commented on #2555
Hi @maxceem, Can you please assign this ticket to me?
Thanks.

[2019-01-22 02:38] maxceem commented on #2555
Done

[2019-01-22 02:39] khushimehta03 commented on #2649
@maxceem i would like to work on this.

[2019-01-22 02:40] maxceem commented on #2649
Sure, it's on you.

[2019-01-22 02:41] prasadadarkar30 commented on #2750
@maxceem can i take this? thank you

[2019-01-22 02:42] maxceem commented on #2750
Sure, it's on you.

[2019-01-22 02:54] gets0ul commented on #2545
Can I work on this issue?
Thanks

[2019-01-22 02:55] maxceem commented on #2545
Sure, it's on you.

[2019-01-22 03:15] jankyzhang commented on #2614
@maxceem i would like to work on this.

[2019-01-22 03:37] vigneshTheDev commented on #2089
I would like to work on this issue

[2019-01-22 03:38] maxceem commented on #2089
Sure, it's on you.

[2019-01-22 03:41] Gauravseta commented on #2753
@maxceem

steps to reproduce:
1. open any project details
2. on left side bar, there is invite people button , click on it popup appears.
3. enter email, click send invite
4. if error recived, email entered should be retained?

[2019-01-22 03:53] maxceem commented on #2753
You are right @Gauravseta

There is also `Manage` button for each of the sections
![image](https://user-images.githubusercontent.com/146016/51511398-1cb4e900-1e3c-11e9-985c-a7dcee5ce0a8.png)
Clicking both of these buttons will open a dialog where we can invite other members.
For both of dialogs, this should work.

Your steps to reproduce are correct.

[2019-01-22 04:36] Gauravseta commented on #2753
@maxceem i am not able to assign myself any issu.
can you please send invite to me?
gauravseta@gmail.com
thank you

[2019-01-22 04:45] maxceem commented on #2753
@Gauravseta we run the Bag Bush with slightly different rules than usually on the Topcoder you can check them in the challenge specification https://www.topcoder.com/challenges/30079880/?type=develop&nocache=true

Btw, I've already assigned you to this issue.

[2019-01-22 05:03] suppermancool commented on #2540
@maxceem done in
https://github.com/appirio-tech/react-components/pull/309 .
https://github.com/appirio-tech/connect-app/pull/2759 .
pls check, thanks

[2019-01-22 05:07] maxceem commented on #2753
@Gauravseta ok, got where the confusion comes from. That was a new participant and to be abel to assign him by myself, he has to be in the team of this repo. If a member is not in the team of the repo, I cannot assign him.

You are already in the team so I can assign you to the issues, even you cannot do it by yourself.

[2019-01-22 05:11] Gauravseta commented on #2753
@maxceem PR #2760

[2019-01-22 05:12] Gauravseta commented on #2753
@maxceem its ready for review ,i am not able to add labels

[2019-01-22 05:14] gets0ul commented on #2545
PR is up and ready for review.

[2019-01-22 06:02] maxceem commented on #2753
@Gauravseta checked it, see comment https://github.com/appirio-tech/connect-app/pull/2760#pullrequestreview-194846550

[2019-01-22 06:35] maxceem commented on #2545
Thanks, please have at look at review https://github.com/appirio-tech/connect-app/pull/2761#pullrequestreview-194852524

[2019-01-22 07:32] afrisalyp commented on #2555
Hi maxceem,
It’s done and ready for review
Here is the PR https://github.com/appirio-tech/connect-app/pull/2762

Please review. Thanks.

[2019-01-22 07:42] Gauravseta commented on #2753
@maxceem logic seems to be quite difficult, need refactoring at many places.

[2019-01-22 07:58] Gauravseta commented on #2753
@maxceem updated PR

[2019-01-22 07:59] Gauravseta commented on #2753
https://github.com/appirio-tech/connect-app/pull/2760

[2019-01-22 08:00] gets0ul commented on #2545
New commit is added to the PR.
Please check.

[2019-01-22 08:16] jankyzhang commented on #2614
Hi @maxceem ,

It’s done and ready for review
Here is the PR #2763
Thanks.

[2019-01-22 08:48] maxceem commented on #2753
Checked, here is a review https://github.com/appirio-tech/connect-app/pull/2760#pullrequestreview-194888133

[2019-01-22 09:52] Gauravseta commented on #2753
@maxceem updated Pr

[2019-01-22 12:37] Gauravseta commented on #2753
@maxceem its ready for review

[2019-01-22 13:13] rashmi73 commented on #2757
@maxceem just some more time. will complete it on time . or just may be extended it by 15 mins

[2019-01-22 13:43] rashmi73 commented on #2757
@maxceem its ready for review #2765

[2019-01-22 14:40] PrakashDurlabhji commented on #2712
@maxceem i search a lot, can you please tell me where is backend repo? name of repo?

[2019-01-22 14:47] prasadadarkar30 commented on #2750
@maxceem I wont be able to complete this, so releasing it for others. it is open for pickup again.

[2019-01-22 14:48] rashmi73 commented on #2750
@maxceem i have no more issues with me, as i have already completed one. so taking this one and working on it. kindly assign it to me later. thank you.

[2019-01-22 15:33] maxceem commented on #2750
Thank you for letting us know @prasadadarkar30.

@rashmi73 assign it to you to keep it clear.

[2019-01-22 15:45] maxceem commented on #2717
As no PR was provided for 12 hours, this issue is now open for pick up.
The one who first comments can start working immediately without waiting to be assigned.

[2019-01-22 15:46] Gauravseta commented on #2717
@maxceem pls give it to me thanks

[2019-01-22 15:48] maxceem commented on #2717
@Gauravseta done.

[2019-01-22 15:59] maxceem commented on #2712
Hmm, Connect App depends on several projects. Are you sure you need some other repo?

When I follow the steps to reproduce the issue I can see request which goes from Connect App. And it contains wrong URL `accounts.topcoder-dev.com` instead of `accounts.topcoder.com`. So it's I think it's Connect App which creates this wrong URL.
[code]
![image](https://user-images.githubusercontent.com/146016/51

[2019-01-22 16:00] maxceem commented on #2649
As no PR was provided for 12 hours, this issue is now open for pick up.
The one who first comments can start working immediately without waiting to be assigned.

[2019-01-22 16:01] maxceem commented on #2623
As no PR was provided for 12 hours, this issue is now open for pick up.
The one who first comments can start working immediately without waiting to be assigned.

[2019-01-22 16:14] maxceem commented on #2623
Sure, assigned to keep it clear.

[2019-01-22 17:08] gets0ul commented on #2623
@maxceem
Is there any specific step to do to trigger the popup?

[2019-01-22 18:21] kiranmaroju commented on #2649
Please assign to me. I starting it now.

[2019-01-22 21:03] PrakashDurlabhji commented on #2712
@maxceem ready for review #2767

[2019-01-23 01:52] maxceem opened #2768 "[Metadata management] Cursor jumps to the beginning of the JSON when we make Syntax error"
### Expected behavior
The cursor should stay where we type.

### Actual behavior
The cursor jumps to the beginning of the document.

### Steps to reproduce the problem
- Go to project templates list https://connect.topcoder-dev.com/metadata/projectTemplates
- Select any template and click **Maximize** to edit the template JSON
- Make a syntax mistake, for example, add a comma after some value
- Wa

[2019-01-23 02:08] maxceem opened #2769 "[$50] [Metadata management] JSON is cleared when there is a syntax error"
### Expected behavior
Current JSON should stay.

### Actual behavior
Current JSON is replaced with `{}` empty object.

### Steps to reproduce the problem (scenario 1)
- Go to project templates list https://connect.topcoder-dev.com/metadata/projectTemplates
- Select any template and click Maximize to edit the template JSON
- Make a syntax mistake, for example, add a comma after some value
- Select

[2019-01-23 02:17] maxceem opened #2770 "[$20] [Metadata management] When creating a new projectTemplate it requires to enter `id`"
### Expected behavior
When we create a new projectTemplate we shouldn't be required to enter `id`.
`id` field should be hidden.

### Actual behavior
When we create a new projectTemplate we are required to enter `id`.

### Steps to reproduce the problem
- Go to projectTemplate list https://connect.topcoder-dev.com/metadata/projectTemplates
- Click button **Create**
- There is `id` field is displaye

[2019-01-23 02:25] maxceem opened #2771 "[$40] [Metadata management] For projectTemplates `hidden` and `disabled` properties cannot be unset"
### Expected behavior
We should be able to unset `hidden` and `disabled` checkboxes for projectTemplates.

### Actual behavior
When we unselect checkboxes for `hidden` and `disabled` and save the template, the checkboxes become selected again.

### Steps to reproduce the problem
- Go to project templates list https://connect.topcoder-dev.com/metadata/projectTemplates
- Select any template
- In the

[2019-01-23 04:01] maxceem commented on #2623
Yes, you will need two users, you can find credentials on the challenge forum.

- Use any user (but not `pshah_manager`) to create a new project, copy project URL and close the tab (important)
- Now use user `pshah_manger` from the forum and login in **another** browser
- Using user `pshah_manger` open the project you've just created using link you copied before, go to the `Project Plan` tab, open

[2019-01-23 04:01] maxceem commented on #2750
As no PR was provided for 12 hours, this issue is now open for pick up.
The one who first comments can start working immediately without waiting to be assigned.

[2019-01-23 04:03] Manoj85 commented on #2750
@maxceem can i work on it?

[2019-01-23 04:03] maxceem commented on #2750
@Manoj85 sure, it's on you.

[2019-01-23 04:17] maxceem opened #2772 "[$35] Error during posting a first comment under a phase by user not in the team"
### Steps to reproduce the problem
- Using user `pshah_customer` create a new project
- Use user `pshah_manager` to open this new project
- Open **Project Plan** tab, open any phase, click **Discussions** tab and try to post a new comment
- After pressing **Post** comment will be disabled as its being sending but this will never finish.
   There is an error in console `TypeError: Cannot read prope

[2019-01-23 05:00] vikasrohit commented on #2772
@maxceem I think we saw similar issue long time back as well where an admin/manager was not able to post when he/she is not part of the team and trying to make first post in that project. It might be related to the user missing in the redux state.
I guess, we  can pick this one in CF, if you think it is error on front end.

[2019-01-23 05:02] vikasrohit commented on #2771
Good candidate for CF, if it is not the backend issue.

[2019-01-23 05:03] vikasrohit commented on #2769
Yep, @maxceem I have faced the same and its kind of known issue. Its good to get it fixed.

[2019-01-23 05:08] vikasrohit commented on #2768
This one is also annoying one and we didn't investigate it much as we were okay to copy the json from our UI to a better JSON editor and paste back after editing. However, it would be good to fix it to avoid annoying.
One more thing @maxceem, this happens even when there is no error in the JSON. I think it the editor tries to format the JSON after some timeout and it looses the focus.

[2019-01-23 05:08] vikasrohit commented on #2768
Good candidate for CF.

[2019-01-23 05:13] vikasrohit commented on #2770
Good candidate for CF @maxceem

[2019-01-23 07:15] maxceem commented on #2772
@vikasrohit this issue looks like frontend.

I want to note, that when we create the same way the first post on the **Dashboard** page, there is no error, but comment is rendered without user avatar and name. Instead it shows `Connect User`:

![image](https://user-images.githubusercontent.com/146016/51588937-71ca2b00-1f20-11e9-8378-719fda2bd76c.png)

After I reload the page, the same comment is re

[2019-01-23 07:54] maxceem commented on #2770
To sum up:
- We can test it using user `pshahcadmin` (see password on the challenge forum) which has access to metadata management tools
- I think it doesn't work not only for projectTemplates, but for all four tabs:
   - https://connect.topcoder-dev.com/metadata/projectTemplates
   - https://connect.topcoder-dev.com/metadata/productTemplates
   - https://connect.topcoder-dev.com/metadata/projectT

[2019-01-23 07:56] maxceem commented on #2768
I think this could have the same root as https://github.com/appirio-tech/connect-app/issues/2769. So we can get fixed the other one first and after that will fix this one if it still stays.

[2019-01-23 08:00] maxceem commented on #2623
@gets0ul please, let me know if you still willing to work on this issue after the clarifications.

[2019-01-23 08:01] maxceem commented on #2649
Thank you for update @amitpatra. So this issue is open for pick up.

[2019-01-23 08:02] maxceem commented on #2771
This issue is now open for pick up.

[2019-01-23 08:03] maxceem commented on #2770
This issue is now open for pick up.

[2019-01-23 08:03] maxceem commented on #2769
This issue is now open for pick up.

[2019-01-23 08:14] vigneshTheDev commented on #2769
I would like to work on this issue

[2019-01-23 08:17] maxceem commented on #2769
Sure @vigneshTheDev

[2019-01-23 08:42] gets0ul commented on #2623
@maxceem Yes, I'm working on it.

[2019-01-23 08:59] maxceem commented on #2753
Thanks @Gauravseta, here is the review https://github.com/appirio-tech/connect-app/pull/2760#pullrequestreview-195404294

[2019-01-23 09:11] vikasrohit commented on #2772
Yes, 2.iii is the way to go. In fact I was under impression that we are already keeping the logged in user's info in the members redux state. So, I guess we just need to copy the member info to the `members` redux state on successful user login and things should work perfectly after that.

[2019-01-23 09:21] maxceem opened #2773 "[Dependant questions] support different combinations of previousStepVisibilty for different levels"
Input from @vikasrohit

[2019-01-23 09:24] gets0ul commented on #2623
PR is done.

[2019-01-23 09:31] gets0ul commented on #2771
Can I work on this?

[2019-01-23 09:32] maxceem commented on #2771
Sure, assigned to be clear.

[2019-01-23 09:37] RishiRajSahu opened #2775 "Only allow users with role `Connect Copilot Manager` to assign copilot to Connect project"
We have created a new role for connect user named as `Connect Copilot Manager` , only users assigned with this role are allowed to assign copilot to the project going forward.

changes needs to be done to have the above said functionality.

fyi @vikasrohit @acshields

[2019-01-23 09:43] KevinLeigh commented on #2649
Hey @maxceem, please could you assign this ticket to me?

[2019-01-23 09:51] RishiRajSahu commented on #2775
To handle this, for non `Connect Copilot Manager` users -
1.We won't be showing the copilot option in dropdown
2.We won't be allowing changing role of added member to copilot.

fyi - @maxceem

[2019-01-23 09:59] maxceem commented on #2649
@KevinLeigh sure, done.

[2019-01-23 10:01] vikasrohit commented on #2768
Makes sense.

[2019-01-23 10:02] maxceem commented on #2775
@RishiRajSahu do I understand it right, that if current user doesn't have role `Connect Copilot Manager`
we should remove these two options from the **Topcoder Team** dialog:

![image](https://user-images.githubusercontent.com/146016/51598669-fde84c80-1f38-11e9-9b10-d38012ff1257.png)

[2019-01-23 10:04] KevinLeigh commented on #2649
@maxceem Thank you, much appreciated

[2019-01-23 10:18] cagdas001 commented on #2770
May I take this? Thanks

[2019-01-23 10:30] maxceem commented on #2770
Sure @cagdas001. You can start working on it as you've already commented.

[2019-01-23 10:39] vigneshTheDev commented on #2769
Raised a PR here https://github.com/appirio-tech/connect-app/pull/2776

[2019-01-23 10:53] vigneshTheDev commented on #2769
Sure. I haven't modified any of the templates.

[2019-01-23 12:50] maxceem commented on #2772
To sum up:
- as we make a post from logged-in user, it means that we already have information about the current user
- when we load information about the logged-in user (we do it to show logged user avatar in the top right corner), we also have to copy the data from `loadUser.user` to `members` list so later comment component can take it
   - we should copy required set of fields, not all user dat

[2019-01-23 12:52] maxceem commented on #2772
This issue is now open for pick up.

[2019-01-23 12:58] afrisalyp commented on #2772
@maxceem,

Can I work on this ticket?

[2019-01-23 13:01] maxceem commented on #2772
Sure @afrisalyp

[2019-01-23 13:06] maxceem commented on #2750
FYI @Manoj85 The issue could be reproducible if we click the checkmark for one particular notification to mark only one notification as read. After that, we cannot open dropdown again. See demo screencast https://monosnap.com/file/5NKlYaxYsv3CguDFBBCI2EWnQM9CHk

[2019-01-23 15:34] Manoj85 commented on #2750
@maxceem
I would not be able to complete this task. releasing it to others.

[2019-01-23 15:38] maxceem commented on #2750
Thanks for update @Manoj85.

This issue is now open for pick up. The first one who comments can start working on it without waiting for confirmation or assignment.

[2019-01-23 15:57] saikat041 commented on #2750
@maxceem I want to work on it.

[2019-01-23 16:16] acshields commented on #2775
Hi @maxceem @RishiRajSahu -

In my ideal workflow, I would still like for a Copilot to see the option to invite another to a project - However, if they did so, then a message could appear saying "Your request has been sent to the Connect Copilot Manager for review. If the Connect Copilot Manager approves the assignment Copilot X will be invited to the project." and then had an email/notification t

[2019-01-23 16:42] KevinLeigh commented on #2649
Hey @maxceem,

I am currently catching up with what has been mentioned in comments and PR description now and as far as I can gather, the goal of this ticket is one to one with what the title says.

Basically we should hide notification _immediately_ when User clicks notification read button and if the server request for some reason, then we should show the notification again in the notifications

[2019-01-23 17:12] KevinLeigh commented on #2649
@maxceem

Any idea what the cause of issue is below:
[code]

[2019-01-23 18:08] KevinLeigh commented on #2649
@maxceem Please see below GIF below on UX behaviour currently without code changes.

When I click some notifications the notifications dropdown closes and if I click to see notifications it does not work and shows a small white diamond shape instead. I am busy making changes however this issue is effecting my workflow to test if changes I make work properly. Please advise

![weird_notifications_ux

[2019-01-23 19:15] KevinLeigh commented on #2649
Hey @maxceem, I have made the neccessary changes apart from bug I found in above comment, it looks like screen recording attached on comment https://github.com/appirio-tech/connect-app/issues/2607#issuecomment-429810521, is out-dated, and changes between now and Oct 2018 last year has effected how Dashboard notification drawer opens/closes when User clicks notification read/tick button.

[2019-01-23 21:30] cagdas001 commented on #2770
Which branch should I target for [react-components](https://github.com/appirio-tech/react-components) ?

[2019-01-23 21:34] cagdas001 commented on #2770
Ah, ok. I had missed it, `feature/connectv2` branch should be targeted.

[2019-01-23 23:05] cagdas001 commented on #2770
@maxceem ready for review

https://github.com/appirio-tech/connect-app/pull/2780

[2019-01-24 00:48] afrisalyp commented on #2772
Hi, this is ready for review.
Here is the PR https://github.com/appirio-tech/connect-app/pull/2781

The idea is that the members reducer listens "LOAD_USER_SUCCESS" action and copy the user to the members data.
Please review.

Thanks.

[2019-01-24 04:15] Anthonymcqueen21 commented on #2750
What is the main issue currently

[2019-01-24 04:56] saikat041 commented on #2750
@maxceem I have accepted the invitation. Thanks.

[2019-01-24 05:32] Anthonymcqueen21 commented on #2750
Thank you @maxceem for the clarity

[2019-01-24 05:43] RishiRajSahu commented on #2775
@acshields

Only this is achievable as of now,

Regarding the other flow you mentioned is  tricky and a new feature which needs quite some time we can discuss more about this in our next call.

Also, `Connect Copilot Manager` - Yes this role won't displayed as an option as this is admin kind of role with special capabilities.

[2019-01-24 05:47] maxceem commented on #2540
@suppermancool I've checked it out, please have a look https://github.com/appirio-tech/connect-app/pull/2759#event-2093501556

[2019-01-24 06:23] maxceem commented on #2555
Hi @afrisalyp I've checked you PR, please have a look https://github.com/appirio-tech/connect-app/pull/2762#pullrequestreview-195870471

[2019-01-24 06:36] maxceem opened #2782 "Cannot load specification page for old projects (non v3)"
### Steps to reproduce the problem
- Navigate to the old project Specification page (`version` !== `v3) for example http://connect.topcoder-dev.com/projects/5000/specification
- The page will show loader forever, and there will an error in browser console
[code]

[2019-01-24 06:48] maxceem commented on #2089
Hi @vigneshTheDev I've review the PR, please have a look https://github.com/appirio-tech/connect-app/pull/2764#pullrequestreview-195876429

[2019-01-24 06:50] afrisalyp commented on #2555
@maxceem Thanks for the review, I'll check the comments.

[2019-01-24 08:40] maxceem commented on #2757
Hi @rashmi73

I've checked your PR, but it doesn't work for me. If you need more clarification about the task let me know.

Just to sum up:
This feature already works for **Topcoder team** dialog, see screencast https://monosnap.com/file/bDRJcdCYCRx2iTzM9Wb0TJnxS3YHo3

And we have to implement the same for **Project team** dialog, because so far instead of showing an error that member is already i

[2019-01-24 08:56] maxceem commented on #2712
For history:
The PR works good. For prod env connect app calls this enpoind to reset password:
[code]

For dev env this one:
[code]

[2019-01-24 08:59] maxceem commented on #2712
@PrakashDurlabhji I've checked your PR, please, have a look https://github.com/appirio-tech/connect-app/pull/2767#pullrequestreview-195912687

[2019-01-24 10:16] maxceem commented on #2769
Thanks, @vigneshTheDev I've checked your PR, could you please have a look https://github.com/appirio-tech/connect-app/pull/2776#pullrequestreview-195947989

[2019-01-24 11:02] vigneshTheDev commented on #2089
Hi @maxceem, created a new PR with a different approach here: https://github.com/appirio-tech/connect-app/pull/2784.

[2019-01-24 12:11] maxceem commented on #2649
@KevinLeigh I've reviewed your PR, please have a look https://github.com/appirio-tech/connect-app/pull/2779#pullrequestreview-195995394. Let me know if you have any questions.

[2019-01-24 12:33] Gauravseta commented on #2753
@maxceem yes it was working. let me check again

[2019-01-24 12:39] PrakashDurlabhji commented on #2712
@maxceem sure will do it immediately.

[2019-01-24 12:59] PrakashDurlabhji commented on #2712
@maxceem it is ready

[2019-01-24 13:15] rashmi73 commented on #2757
@maxceem needed some clarification:
As project team dialog placeholder says: "Enter one or mail email"

so user can enter handles too?

[2019-01-24 15:14] rashmi73 commented on #2757
@maxceem i analyzed scenario and made appropriate changes. it is ready for review. Pr updated
#2765

[2019-01-24 15:42] KevinLeigh commented on #2649
Hey @maxceem, will have a look at the review now, and update accordingly, thank you for the input. Will let you know if I have any questions.

[2019-01-24 16:38] acshields opened #2785 "UI Update: Team Management Feature"
@RishiRajSahu @vikasrohit
**Issue:** When a Copilot invites a person to the project and the invited person has not yet accepted the invitation, our current display does not indicate the status of the invited person to the person who invited them.

![image 7](https://user-images.githubusercontent.com/41118149/51692820-f36e9700-1fba-11e9-9ef4-5927f3704a6b.png)

**Recommended Changes:**
1) When a Cop

[2019-01-24 16:43] KevinLeigh commented on #2649
Hey @maxceem, I have updated PR, please let me know if all is in order or if I am missing anything and will be happy to update accordingly.

[2019-01-24 16:46] acshields opened #2786 "Link Update: "About""
@vikasrohit @RishiRajSahu @dmessing

**Issue:** The "About" link at the bottom of the Connect "All Projects" dashboard is broken.
**Solution:** Please update the link to redirect the user to this page - https://www.topcoder.com/about/

<img width="1431" alt="screen shot 2019-01-24 at 9 45 45 am" src="https://user-images.githubusercontent.com/41118149/51693815-e18df380-1fbc-11e9-93ed-8154b320adaa.p

[2019-01-24 16:48] acshields opened #2787 "Link Update: "Contact Us""
@vikasrohit @RishiRajSahu @dmessing

Issue: The link "Contact Us" on the Connect 'All Projects' dashboard is broken.
Solution: Please update the link to redirect to this page - https://www.topcoder.com/contact/

<img width="1431" alt="screen shot 2019-01-24 at 9 45 45 am" src="https://user-images.githubusercontent.com/41118149/51693987-2b76d980-1fbd-11e9-9668-eee87a3d464e.png">
<img width="1217" a

[2019-01-25 21:13] Gauravseta commented on #2753
@maxceem PR updated and ready for review

[2019-01-26 05:41] maxceem commented on #2089
To all the participants of the **Topcoder Connect - Bug Bash 14** https://www.topcoder.com/challenges/30079880

Please, don't forget to submit a file with a list of issues you were working on during this challenge (even if not yet accepted) on the challenge page https://www.topcoder.com/challenges/30079880
This would speed up the payment process.

cc @vigneshTheDev @afrisalyp @gets0ul @cagdas001 @

[2019-01-26 21:59] Gauravseta commented on #2753
@maxceem kindly check it is updated and working now

[2019-01-28 07:31] vikasrohit commented on #2786
Thanks @dmessing for the hotfix.

[2019-01-28 07:31] #2786 closed

[2019-01-28 09:12] vikasrohit opened #2789 "Invite by multiple emails is failing"
### Expected behaviour
Should be able to invite more than one members by emails

### Actual behaviour
It fails with server error when one tries to invite multiple members via email. It do work when there is only email and/or multiple handles.

### Steps to reproduce the problem
- Invite multiple members via email

--

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (client, copil

[2019-01-28 09:13] vikasrohit commented on #2789
fyi @maxceem @RishiRajSahu It seems identity does not support filtering multiple users via email i.e. it does not support `ORing` the email in the filter. I guess, we need to use the member API to serve the purpose.

[2019-01-28 12:24] vikasrohit opened #2790 "Allow editing milestone names and text fields (only) for completed milestones"
### Expected behavior
User should be able to update the name and other text fields even for completed milestones because sometimes it makes sense to update these text fields, for better documentation and conveying details to the customer, after the milestone is completed.

### Actual behavior
As of now we don't allow user to update the name or various description texts once the milestone is comple

[2019-01-28 12:36] vikasrohit opened #2791 "[$50] Type Error 'Cannot read property 'version' of null'"
Observing following error in console for few projects:

`TypeError: Cannot read property 'version' of null
  at ? (/main.cff9bc43004fa36c3860.js:134:91314)
  at s(/main.cff9bc43004fa36c3860.js:21:54731)
  at r.render(/main.cff9bc43004fa36c3860.js:67:36796)
  at d._renderValidatedComponentWithoutOwnerOrContext(/main.cff9bc43004fa36c3860.js:67:43229)
  at d._renderValidatedComponent(/main.cff9bc4300

[2019-01-28 14:18] acshields commented on #2790
Hi @vikasrohit - I think that it would be okay to allow the modification of milestone names after completion. Let's talk through this tomorrow - I would be interested to hear your example of when you wanted to update completed milestone text. Initial reaction though is that this should be fine.

[2019-01-28 18:40] rashmi73 commented on #2757
@maxceem PR updated and ready for review

[2019-01-29 11:12] vikasrohit opened #2793 "Expression evaluator fails when multiple conditions are specified without paranthesis"
This `( details.appDefinition.deliverables contains \'design\' || details.appDefinition.deliverables contains \'dev-qa\' )` does not work while this
`( (details.appDefinition.deliverables contains \'design\') || (details.appDefinition.deliverables contains \'dev-qa\') )` works

fyi @maxceem @RishiRajSahu

[2019-01-29 12:09] vikasrohit opened #2794 "Need to support showing pricing/time efforts based on conditions"
This is a new feature requirement based on new pricing calculator logic. As of now, we have notion of setting a base price for a project template and then keep on adding/removing the quote by amount specified per question coming next. However, the way offering team is deciding the pricing, is not following that logic and they seem to have adhoc pricing per specific combination of the options chose

[2019-01-30 02:32] maxceem commented on #2649
Hi @KevinLeigh, I still need your Topcoder handle to proceed the payment ;-)

[2019-01-31 09:39] #2769 closed

[2019-01-31 09:39] #2770 closed

[2019-01-31 09:39] #2089 closed

[2019-01-31 09:43] #2091 closed

[2019-02-02 13:41] ThomasKranitsas opened #2799 "Validate both first and last name in the name field for registration form"
### Expected behavior
The user should enter both first and last name to be able to register.

### Actual behavior
The Connect app allows a user to register without last name.

### Steps to reproduce the problem
- Go to https://accounts.topcoder-dev.com/connect/registration
- Enter `Thomas` in the `First and last name` field

### Screenshot/screencast
https://monosnap.com/file/KzNjhhNfjrrWaPFykPtt8

[2019-02-05 06:40] RishiRajSahu commented on #2717
fixed and merged to dev.

[2019-02-05 06:41] RishiRajSahu commented on #2753
fixed and merged to dev.

[2019-02-05 06:41] #2753 closed

[2019-02-05 06:43] RishiRajSahu commented on #2757
Fixed.

[2019-02-05 06:43] #2757 closed

[2019-02-05 06:44] RishiRajSahu commented on #2750
Fixed.

[2019-02-05 06:44] #2750 closed

[2019-02-05 06:48] RishiRajSahu commented on #2712
@maxceem how did we verified it on prod ?

[2019-02-05 06:53] RishiRajSahu commented on #2772
Fixed, working fine in dev.

[2019-02-05 06:53] #2772 closed

[2019-02-05 06:56] maxceem commented on #2712
@RishiRajSahu I've made a prod build and run it locally. I've checked what URL is sent to the backend, it's correct now.

[2019-02-05 06:56] RishiRajSahu commented on #2555
Working fine on dev.

[2019-02-05 06:56] #2555 closed

[2019-02-05 07:30] RishiRajSahu commented on #2771
Working fine.

[2019-02-05 07:30] #2771 closed

[2019-02-06 04:04] maxceem opened #2800 "Update behaviour of add-ons question type"
### Expected behavior
We need to alter its implementation to render all subcategories and their addons for the given `category`.
![image](https://user-images.githubusercontent.com/146016/52319710-2d518b80-2a06-11e9-86c1-44f43de9d08f.png)

### Actual behavior
Now `add-ons` type question renders one plain list of checkboxes. It gets them by filtering `productTemplates` using a combination of `catego

[2019-02-06 06:30] vikasrohit commented on #2800
one more thing @maxceem using the keyword `question` in the screenshot seems bit confusing to me. You might be thinking in context of complete template where we are rendering this add on section.

[2019-02-06 06:35] maxceem commented on #2800
Technically we have a question with `type="add-ons"`. So when we are rendering this screen we add a `section`, inside `section` we add a `subSection` and inside that `subSection` we add a `question` with `type="add-ons"`.
In case of a new design, it may seem like too much as we can show add-ons as a section. But in general, we can add such block anywhere. But if we implement `add-ons` as a `sectio

[2019-02-06 08:49] vikasrohit commented on #2800
Agreed. However, I was thinking of keep the component independent of section/subsection/question and have the ability to render it independent of the actual form, if required just like project estimate component. We can pass the required properties from question/subsection when it is to to shown as question/subsection.

[2019-02-06 09:28] maxceem commented on #2800
Sure. We can extract it a separate component.
While keeping the ability to render it as `question` with type `add-ons`.

[2019-02-06 10:26] vikasrohit commented on #2799
It is as per design. We allow users to only enter single name, in which case we assume that to be the last name of the user because our system mandates the last name internally.

[2019-02-06 10:31] vikasrohit opened #2802 "Last name is empty when user enters white space at last of the name field"
### Expected behavior
Should not consider the last space(s) for calculation of first and last names

### Actual behavior
It is splitting the full name on last space which makes the last name being empty and first name being all text before the last space.

### Steps to reproduce the problem
- Register on connect using `Some User ` as value in the name field
- Fetch the user data from database dire

[2019-02-06 10:31] vikasrohit commented on #2802
fyi @acshields @mtwomey @RishiRajSahu

[2019-02-06 10:50] ThomasKranitsas commented on #2799
But in many places (processors or other apps like the settings page on the main site) the first name is required and there are validation errors if it's missing.

I understand that the registration page in Connect is meant to be used from customers but that doesn't mean they won't ever land to another app where the first name will be required.

Keeping data consistent across different apps will en

[2019-02-06 10:52] vikasrohit commented on #2799
Yes, I know that. But it is as per product team. @vic-topcoder @acshields fyi

[2019-02-06 10:57] vikasrohit commented on #2802
Patched on production. Should not have blank last name now even if the users has empty spaces in the last.

[2019-02-06 10:57] #2802 closed

[2019-02-06 16:52] acshields commented on #2799
@ThomasKranitsas @vikasrohit - In thinking this through, I think that the customer's name should be changed so that First Name and Last Name are two separate, required fields.

[2019-02-06 19:00] cwdcwd commented on #2799
As per @vic-topcoder

I'm fine with either solution but what @ThomasKranitsas highlights here is that there’s no check and enforcement on there being a first and last name so we end up putting garbage data into the system. This ends up causing errors upstream with the processors that update Dynamo for the member profile and update elastic search.

@vikasrohit can we get this addressed before it st

[2019-02-07 02:11] maxceem commented on #2773
This should be handled during the challenge https://www.topcoder.com/challenge-details/30083017/?type=develop&nocache=true. So I'm closing this issue.

[2019-02-07 02:11] #2773 closed

[2019-02-07 02:24] maxceem opened #2803 "Add reference code as a column to the project list in a grid view"
From `Connect - UI/UX Enhancements` ducument.

Currently, we are showing reference code next to the project name in the style like a tag.
Instead, we should add a new column `REF` which would show reference code and remove the current tag next to the project title.

![image](https://user-images.githubusercontent.com/146016/52386695-13757e80-2ac2-11e9-970e-66768bf83dde.png)

fyi @vikasrohit

[2019-02-07 03:14] vikasrohit commented on #2799
Okay, I am still not convinced that these were the original requirements to ensure that both first name and last name are to be validated. If that was the case, we shouldn't have the issue https://github.com/appirio-tech/tc-connect2sf/issues/31 raised and patched. Having that issue raised and patched means that all stakeholder knew the possibility of having only single name in the field.

Anyway,

[2019-02-07 04:11] maxceem opened #2804 "Add ability to filter project list by columns in a grid view"
From `Connect - UI/UX Enhancements` ducument.

1. Remove “Filters” bar at the top (it is not helpful).

     ![image](https://user-images.githubusercontent.com/146016/52389600-2c386100-2acf-11e9-8155-3a8a91ee5fd5.png)

2. Instead, each column should be filterable/sortable, per the callouts below. Idea is similar to how filtering in Excel works in each column.
   - `ID Column`: Should be filterable

[2019-02-07 05:11] maxceem commented on #2756
@vikasrohit I didn't see such feature in the new form design. Do we need this feature anyway or we can leave it for now?

[2019-02-07 05:34] maxceem opened #2805 "Don't allow to activate project if there is no 'planned` phase"
From `Connect - UI/UX Enhancements` ducument.

#### Overview
Project plan must have at least one phase in planned status prior to project becoming active
In order to increase adoption of project plans, a project should not be able to be moved into active status until there is at least one phase in planned status.

#### Implementation
- When have any project which is no in `Active` state now.
- Whe

[2019-02-07 05:42] vikasrohit commented on #2804
@maxceem we can keep it out of cf-pipeline and get it fixed as task (which includes both backend end and front end changes)

[2019-02-07 06:14] vikasrohit commented on #2735
@acshields as per our last discussion, we need this feature again so we are including this our bug bash.

[2019-02-07 06:22] vikasrohit commented on #2735
@maxceem one important thing to keep in mind for this feature is that we should be able to invite the member by handle even if there is no result returned for that by the api.

@acshields @vic-topcoder could you please confirm that this is an expected behaviour?

[2019-02-07 07:23] vikasrohit commented on #2756
It might not be depicted in the design, but we got this requirement in our meeting with product team and primary use case was to auto select the `QA` option when user selects `Development` because by default do QA for a development work. However, I am not sure if that is still a requirement because after having this implemented for the mentioned question, it might create issue with dependent quest

[2019-02-08 02:00] maxceem commented on #2735
To sum up:
- this featuer should work in both dialogs **Project Team** and **Topcoder Team**. We can see them by using user `pshah_manager` and opeining this project https://connect.topcoder-dev.com/projects/7839 by clicking the **Manage** link on the bottom of the left sidebar.
- we previously had autocomplete working in the previous implementation of team management feature. To check it out can

[2019-02-08 02:27] maxceem commented on #2743
So far as per my understanding we can complete only the second part from that issue
- > 2\. next to the invited person's name in the pop-up it should say "Invited."

   Looks like this is done:

   ![image](https://user-images.githubusercontent.com/146016/52455542-7ed75300-2b8b-11e9-8090-f8d116e8c2ef.png)

- > 2\. when a user hovers over the image it should say "Invited."

    So far we show user

[2019-02-08 02:38] maxceem commented on #2782
Some verview for easier debugging:
- we have new projects which have `version === "v3"` and also they have a project plan with phases. Such projects have s Scope tab which works fine https://connect.topcoder-dev.com/projects/7844/scope.
- we have old project which `version !== "v3"`. Such projects have a Specification tab which now has this error http://connect.topcoder-dev.com/projects/5000/speci

[2019-02-08 03:06] vigneshTheDev commented on #2803
So, in the new column, it will be a normal text right? (Not like a tag)

[2019-02-08 03:13] maxceem commented on #2803
Right, just normal text.

[2019-02-08 03:40] maxceem commented on #2793
@vikasrohit I think the reason why this `( details.appDefinition.deliverables contains \'design\' || details.appDefinition.deliverables contains \'dev-qa\' )` doesn't work, is because our implementation supports very basic operator precedence which doesn't covers combination of `contains` and `||`.

While we probably can patch it now. We don't have some general approach here so during the time log

[2019-02-08 03:42] maxceem commented on #2775
@vikasrohit I guess this is already in DEV branch.

[2019-02-08 04:06] vigneshTheDev commented on #2804
What would be the workflow after filtering?
* How do we clear it? - Shall we have a clear button along with the input box?
* Is filtering by multiple fields at the same time required? - If yes, should we provide a clear all button for clearing the filter?

[2019-02-08 04:07] vigneshTheDev commented on #2804
And how does it work in card view?

[2019-02-08 04:16] maxceem commented on #2804
For now, lets just clear the text in the input - empty text - no filtering.

Yes, we should be able to filter by multiple fields. For now no need to add a button to clear all. So we will need to clear filters individually as described above.

For the card view, this filtering should be applied. But the current filtering by statys should stay:

![image](https://user-images.githubusercontent.com/146

[2019-02-08 05:28] vikasrohit commented on #2782
https://github.com/appirio-tech/connect-app/commit/862ec955b4440d92c2978ec24abaefc0735fb92a#diff-ca9fe2786836bbcd815d3686f52e6bfdR82 might be the place where it is needed to be fixed. And I think few lines from https://github.com/appirio-tech/connect-app/blob/2d748522b19db06e958df47abffeb85d7b052adc/src/projects/list/components/Projects/ProjectsGridView.jsx#L57 are the fix to do that.

[2019-02-08 05:31] vikasrohit commented on #2775
Yes, it is.

[2019-02-08 05:31] #2775 closed

[2019-02-08 05:40] RishiRajSahu commented on #2743
@maxceem yeah agree and I am not able to find any new design here https://marvelapp.com/48cdhjg/screen/51457020 as mentioned by @vic-topcoder regarding transparent avatar style and tool tip.

[2019-02-08 05:45] vikasrohit commented on #2743
I guess https://marvelapp.com/48cdhjg/screen/52723943 is what @vic-topcoder was trying to share.

[2019-02-08 05:46] maxceem commented on #2743
@RishiRajSahu I guess another screen was meant https://marvelapp.com/48cdhjg/screen/52723943/handoff

This one has a small icon as described by @vic-topcoder:

So it looks like instead of making avatars transparent we are adding this small icon.

[2019-02-08 05:49] RishiRajSahu commented on #2743
thanks @vikasrohit and @maxceem, yeah but still not sure about tooltip design as mentioned by him in the description of the issue. Maybe, @vic-topcoder can confirm on your approach of re-using existing tooltip or some other design if he has got ?

[2019-02-08 05:55] vikasrohit commented on #2743
for tooltip, for user invited via handle, we can render it as usual as we can fetch the data of the user. For users invited via email, we can either fetch their user account if exists and show details accordingly or fetching user for the email seems heavy operation or tricky for now, we can pass the email as `firstName` and empty string as `handle` to the UserTooltip component which would result

[2019-02-08 05:59] vikasrohit commented on #2735
@maxceem we have a new requirement from the team that `@` is causing confusion to the product users, so we need to get rid of it. So, could we also get rid of `@` now along with this task? I know the side effect would be that it would make server calls even when user is typing emails, but I guess that does not harm, user might find existing user for that email in this case.

[2019-02-08 06:01] maxceem commented on #2743
@vikasrohit

So far we also don't show name and a real avatar of the invited user in the dialog even if we invited by the handle

![image](https://user-images.githubusercontent.com/146016/52461352-a50beb80-2ba9-11e9-832c-2215e6610aa7.png)

Just want to confirm this moment if it's intentional. I mean in one place we show only handle while in tooltip we are going to show the whole info. Is there any

[2019-02-08 06:03] vikasrohit commented on #2793
What exact operators we are missing, we are using right now, in this out of box features?

[2019-02-08 06:04] maxceem commented on #2735
@vikasrohit got it. Should we let users enter handles both ways with or without `@`? `@handle` and `handle`?

[2019-02-08 06:05] vikasrohit commented on #2743
Nopes, it is not intentional I guess. Yes, we need to keep both places in sync. @RishiRajSahu thoughts?

[2019-02-08 06:07] maxceem commented on #2743
So far it's shown in the designs this way https://marvelapp.com/48cdhjg/screen/51457024

[2019-02-08 06:22] maxceem commented on #2793
So far out of the box it supports only math operators:`+`, `-`, `*`, `/` and `^`. Also, it supports parenthesis `(` and `)` out of the box.

While we actively use `||`, `&&`, `==`, `!=`, `contains`, `hasLength`. And we also support but I didn't see us using `>`, `<`, `!`.

Just have noticed about this lib: `Beware that your tokens don't contain whitespaces at the beginning or the end, so "+" is no

[2019-02-08 06:31] vikasrohit commented on #2735
I think drop the support for `@`, using both might be more confusing. We need to update the help text of the input as well after this.

[2019-02-08 06:45] vikasrohit commented on #2743
I think in that screen the we can utilize the same layout for tooltip for users invited via email. For users invited via handle, we can just use our standard way to show the tooltip for a normal user.

[2019-02-08 06:59] vikasrohit commented on #2793
Do we have any other library as option?

If we don't, we can clone this library in our org and start customizing it. We also need to publish this to our npm repo as well so that we can use it across applications e.g. we might need this evaluator in near future for project service as well.

[2019-02-08 07:10] RishiRajSahu commented on #2743
There is no reason except to keep it in sync with the design of project-team here https://projects.invisionapp.com/share/M7P2N375BUN#/screens/330878326 in which we are not showing all details until the invite has been accepted , we don't have any specific design for Topcoder-team with invites.

[2019-02-08 07:14] RishiRajSahu commented on #2743
I think we are good with what we have right now for Topcoder-team view which @maxceem has shared.

[2019-02-08 10:35] RishiRajSahu commented on #2793
@maxceem I think we just have to update the logic of `hasPrecedence` method to keep our existing parser work.
and to highlight -

 I think once we correctly update the `hasPrecedence` method by defining the precedence of operators with numeric values we are good, whenever we need to add a new custom operator we just have to correctly define the precedence of that new operator and this effort will

[2019-02-08 11:04] maxceem commented on #2793
I think I found another one, but it was huge - too much for our needs.

Yeah, can do like that.

[2019-02-08 11:25] RishiRajSahu commented on #2793
@maxceem Pushed change for precedence logic https://github.com/appirio-tech/connect-app/commit/6419ae9fd698f779344db5a6e6106ac4128ce159, should we create another issue for our CF to add test case by community which could break our parser (assuming every condition should have balanced parentheses) ?

[2019-02-08 11:45] maxceem commented on #2793
@RishiRajSahu you mean to ask the community to find the ways to break our parser?

[2019-02-08 12:16] maxceem commented on #2743
Let's conclude the requirements.

If we invite by email:
- in the dialog, we show the only email as it's done now
- in the tooltip, we show the only email instead of the user name and show "invited" text on the top right corner of the tooltip

if we invited by email:
- in the dialog,
  - a) do we show like now?
  - b) or we show the user name and handle same like for already members?
- in the tool

[2019-02-08 15:47] RishiRajSahu commented on #2793
@maxceem yeah, I am looking for some way to find the breaking test cases and then make our parser capable for that.

[2019-02-08 16:32] vikasrohit commented on #2799
Patched the fix to the production, now it should not allow user to enter single name i.e. it would validate for a full name (containing at least one space between characters).

fyi @gondzo @mtwomey @cwdcwd @ThomasKranitsas

[2019-02-08 16:32] #2799 closed

[2019-02-08 18:23] vic-topcoder commented on #2743
Correct. The icon overlay will indicate that an invite to the user has been sent.

[2019-02-09 03:39] vikasrohit commented on #2743
Email invite understanding looking fine to me.

For invite by handle,
use full avatar and tooltip at both places i.e.

* in the dialog,

  * a) do we show like now?
  * b) or we show the user name and handle same like for already members? **Use this**
* in the tooltip,

  * a) do we show only handle instead of the user name and the text "invited" on the top right?
  * b) or we show the full toolti

[2019-02-09 03:40] vikasrohit commented on #2743
@maxceem I guess we need to validate how our logic behaves when the invited handle actually does not exist in topcoder.

[2019-02-09 03:42] maxceem commented on #2743
@vikasrohit as per my previous testing error happens during the invitation request and the alert with error is shown.

[2019-02-09 03:45] vikasrohit commented on #2743
We are good then.

[2019-02-09 03:48] vikasrohit commented on #2793
@RishiRajSahu that is an interesting idea, we can do that. As we are able to get it fixed for now, lets keep our custom parser and get it tested via community. Let them write unit tests that break it.
And in long term, lets plan for a better library upgrade. May be the one @maxceem suggested. I would try to fork it in our repo and publish to npm. Once that is done, we can configure that as library

[2019-02-09 03:55] maxceem commented on #2793
Btw, I think the upgrade done by Rishi solves the issues at least for our needs for some time. The other library now has only one advantage: it's has kind of framework structure. But feature wise I think now we are more or less equal.
Now we can also easily add new operators in our implementation.

[2019-02-09 06:26] maxceem commented on #2743
To sum up:
- This should be implemented for both types of members: **Project team** and **Topcoder team**
- When we invite new members to a project, they should be also shown on the sidebar together with existent members:

   ![image](https://user-images.githubusercontent.com/146016/52517177-262eb580-2c72-11e9-9795-094a3e70ad07.png)

- invited members on the sidebar should be shown with a small ic

[2019-02-09 07:06] maxceem opened #2807 "Remove copilot from Direct project when leave Connect project"
### Expected behavior
When copilot is removed from a team of some project in the Connect, it should be removed from the project in Direct.

### Actual behavior
When copilot joining the project team to review project specifications and after the copilot is being removed from the team, he still stays in the Direct project and participates in all related challenges as the observer.

### Steps to repr

[2019-02-09 23:40] cagdas001 commented on #2735
@maxceem I'm using the `feature/team-management-autocomplete` branch, as indicated. But I can't open any project (including the [mentioned one](https://connect.topcoder-dev.com/projects/7839)) I'm getting an 404 page. Attached is the what I see

![chrome_2019-02-10_01-49-22](https://user-images.githubusercontent.com/28513447/52527568-b48b5180-2cdb-11e9-8b76-9cef63024621.png)

This is happening in

[2019-02-10 01:36] maxceem commented on #2735
Yeah, @cagdas001 looks like something got broken with project service. I'll try to get it fixed and updated to you asap.

[2019-02-10 02:31] maxceem commented on #2735
@cagdas001 it works now. Let me know if it's got broken again.

[2019-02-11 04:57] vikasrohit commented on #2793
Agreed. Lets keep an eye on library for this work as that might save some future work.

[2019-02-11 05:15] RishiRajSahu commented on #2712
@maxceem thanks for the effort, let's keep it open, will close after testing on actual prod after the release.

[2019-02-11 07:30] RishiRajSahu commented on #2758
Other than scenarios mentioned here https://github.com/appirio-tech/connect-app/issues/2758#issuecomment-455949830 , there are few other cases to be thought on  -
1.Partial invites are not getting created right now. for eg -  if inviting multiple member on particular role and few doesn't fit for that role then the invite is not getting created for any of them.
2.Server returns just the id's of non

[2019-02-11 09:42] RishiRajSahu commented on #2758
My Thoughts on above four points :)

[2019-02-11 10:06] maxceem commented on #2782
@vikasrohit it's fixed and the commit is already in dev, so we can test it more on dev.

[2019-02-11 11:55] vikasrohit opened #2812 "Enable file attachment edit from the left side bar"
### Expected behavior
User should be able to edit file attachment name and permissions from the left side bar

### Actual behavior
As of now only option is to update the attachment by going to Scope or Phase Specification tabs.

--

#### Environment
- OS: Any
- Browser (w/version): Any
- User role (client, copilot or manager): Any
- Account used: N/A

[2019-02-11 12:00] vikasrohit opened #2813 "Spurious project members are available in the allowed users dropdown"
### Expected behavior
Only users who are part of the team of the project, should be available in the dropdown for allowed users setting of a file attachment

### Actual behavior
It shows way more than team members when users comes to the project from the project listing page but when user directly loads the project, it shows only the team members.

### Steps to reproduce the problem
- Open project

[2019-02-11 17:41] maxceem opened #2814 "[Team Management] - Cannot invite non-managers to Topcoder team"
Now, when I try invite somebody as a Observer or as Copilot the member still got invited as a Manager and thus rejected by server.

### Steps to reproduce:

- Open Project team dialog
- Enter `@pshah_customer`
- Choose `Observeer`
- Click Invite
- Will get an error. In the console can see that server response:
   `40152922 cannot be added with a Manager role to the project`

    While the payload

[2019-02-12 05:01] maxceem commented on #2814
Got update from @vikasrohit:

So I'm closing this issue.

[2019-02-12 05:01] #2814 closed

[2019-02-12 05:37] vikasrohit opened #2815 "Optimize the number of calls being made for loading a Connect project dashboard"
As of now, we are making too many calls to fetch the data of the project on the dashboard and the reason is that we need to show some portion of every possible data attached with a project, on the dashboard. Along the feature development across releases, we introduced new API calls to fulfil certain requirements. However, it seems that we are now making some extra calls to the APIs which we might

[2019-02-12 07:13] vikasrohit commented on #2782
Thanks @maxceem

[2019-02-12 07:14] #2782 closed

[2019-02-12 07:29] maxceem opened #2818 "Support latest rc-slider library"
If we now use the latest rc-slider library our sliders got broken:

![image](https://user-images.githubusercontent.com/146016/52618792-bec76e80-2eda-11e9-8160-0b1cbe3e5e92.png)

See https://connect.topcoder-dev.com/projects/5000/specification

It looks like it's connected with the new changes inside the lib https://github.com/react-component/slider/commit/060d8c6d3785fa19053b9b3c2f8aa716bf335e4e.

[2019-02-12 09:37] vikasrohit commented on #2818
Thanks @maxceem

[2019-02-12 11:44] vikasrohit opened #2826 "react-json-editor-ajrm is not letting code to work on IE"
We are facing issue with ES5/ES6 syntaxes for the `react-json-editor-ajrm` library specially on IE browser. For now we have remove the reference to the library for the 2.4.9 release, however, we need to fix it for IE as well.

[2019-02-12 11:45] vikasrohit commented on #2826
fyi @maxceem @RishiRajSahu

[2019-02-12 12:34] vikasrohit commented on #2815
@maxceem One improvement we can do here is to don't make separate calls to loadMembers action for every phase topic load, instead of that we can make a combined call to `loadMembers` after all phase topics are loaded successfully. Do you think that would create any issue in terms of rendering of the phase topics?

[2019-02-12 12:45] maxceem commented on #2815
@vikasrohit
I guess it should be ok. We will need to make sure that until members are loaded we can still display topics/posts in the phases with some placeholder info for users.

[2019-02-12 15:16] vikasrohit commented on #2815
@maxceem I tried something here https://github.com/appirio-tech/connect-app/commit/a0d137b9dd2eaf7d7d94d383843f91de273b50e9, in case you want to take a look tomorrow morning.

[2019-02-13 06:43] RishiRajSahu commented on #2805
Done.

[2019-02-13 06:43] #2805 closed

[2019-02-13 06:46] RishiRajSahu commented on #2812
Working fine on prod. Closing.

[2019-02-13 06:46] #2812 closed

[2019-02-13 06:48] RishiRajSahu commented on #2813
Done via https://github.com/appirio-tech/connect-app/commit/7080f2cbe9a687dcdd79be4b2d038b149989ed01 and Working fine on prod. Closing.

[2019-02-13 06:48] #2813 closed

[2019-02-13 06:49] #2649 closed

[2019-02-13 06:51] RishiRajSahu commented on #2712
Working fine on prod and closing.

[2019-02-13 06:51] #2712 closed

[2019-02-13 06:56] RishiRajSahu commented on #2464
@vikasrohit @gondzo @maxceem can we close it ?

[2019-02-13 07:07] RishiRajSahu commented on #2540
Done working fine on prod.

[2019-02-13 07:07] #2540 closed

[2019-02-13 07:08] RishiRajSahu commented on #2614
Working fine on Prod.

[2019-02-13 07:08] #2614 closed

[2019-02-13 07:16] RishiRajSahu opened #2827 "'Save Changes' button stays enable on scope/specification"
### Expected behavior
Once the changes are saved on scope/specification page the save button should be gray-out disabled but its still stays active/blue when there are multiple sections present.

### Actual behavior
The save button stays active even after saving the changes

### Steps to reproduce the problem
1.Edit specification/scope page form with multiple sections
2.'Save Changes' becomes acti

[2019-02-13 07:16] RishiRajSahu commented on #2827
fyi @maxceem

[2019-02-13 07:34] RishiRajSahu opened #2828 "[$50] Unable to move to scope page by clicking on notification if currently on specification page of old project"
### Expected behavior
Clicking on notification should redirect to correct page, irrespective of current location

### Actual behavior
Unable to redirect to scope page when clicking on notification

### Steps to reproduce the problem
- Should have two notification as unread, one for specification page of old project and one for scope page of new projects.
- Click on notification of specification pa

[2019-02-13 07:36] RishiRajSahu commented on #2768
@maxceem https://github.com/appirio-tech/connect-app/issues/2769 is fixed so removing onhold label.

[2019-02-13 07:36] RishiRajSahu commented on #2818
@vikasrohit its fixed, right ?

[2019-02-13 07:45] vikasrohit commented on #2818
Nopes. We reverted the library to older version for the time being.

On Wed, Feb 13, 2019, 13:06 RishiRajSahu <notifications@github.com wrote:

[2019-02-13 09:25] maxceem commented on #2735
This issue is has been handled by F2F challenge and the winning submission is provided by this https://github.com/appirio-tech/connect-app/pull/2829

Note, in the implementation I've asked to reuse the library we already use `react-select`, which is also used for autocomplete in attachment permissions dialog.

We still need to test it, and probably think about some UX improvements.
Also, for now,

[2019-02-13 09:33] gondzo commented on #2464
yes, I think we have everything working correctly here

[2019-02-13 09:58] RishiRajSahu commented on #2464
@gondzo okay, closing this as we also have one more similar issue #2177.Another thing to mention phase post notifications right now are not taking to specific post under a phase on project-plan page.

[2019-02-13 09:58] #2464 closed

[2019-02-13 10:21] RishiRajSahu commented on #2710
@maxceem created issue https://github.com/appirio-tech/ap-member-microservice/issues/213 to get this working.

[2019-02-13 10:55] RishiRajSahu opened #2831 "Invited members also getting notifications email"
### Expected behavior
Invited members should not receive any notifications mail associated to the project for which they are invited but not yet accepted the invitation

### Actual behavior
Invited members receiving emails about the project they have been invited but not yet joined.

[2019-02-13 10:55] RishiRajSahu commented on #2831
fyi @vikasrohit @maxceem

[2019-02-14 05:21] ajefts opened #2832 "Create Zurich 'Approval Phase' Template"
When a new project is created by Zurich (identified via reference code) a default 'Approval' phase template should be displayed for users. This default phase should be displayed on all Zurich projects. This phase should be viewable should immediately be in In Progress status and should be viewable to customer users.

<p></p>

**Phase Requirements:** *Note that in the attachment it shows the defaul

[2019-02-14 05:21] ajefts commented on #2832
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1681585

[2019-02-14 05:31] ajefts opened #2833 "[$15] Update Cancellation reason codes"
Update the project cancellation reason codes to include:

<p></p>

0. Spam

1. Demo/Test

2. Duplicate project

3. Want to join Topcoder as member - We can change the lead to SFDC but this wouldn't trigger the email to be sent. The person doing the lead review in SFDC would need to click a button in SFDC to send the invitation. SFDC team would need update SFDC integration to 'listen' to this event

[2019-02-14 05:31] ajefts commented on #2833
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1761882

[2019-02-14 05:31] ajefts opened #2834 "Update milestone display from vertical to horizontal"
Currently, milestone within a phase are displayed vertically within a phase care. In preferred design the milestones will be displayed in a horizontal progress bar within the phase card so progress can be viewed while the phase card is closed.

<p></p>

Design:

[2019-02-14 05:31] ajefts commented on #2834
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1681606

[2019-02-14 05:33] ajefts opened #2835 "Change project plan discussions functionality"
Currently, discussions within a phase are grouped under a tab.

<p></p>

New behavior: Change the discussions behavior within the phase cards. The discussion within a phase should be isolated to the currently active milestone. For example, if the current milestone is “Requirements” then any conversations occurring during that milestone will be related to requirements. When the next milestone, for

[2019-02-14 05:33] ajefts commented on #2835
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1681630

[2019-02-14 05:35] vikasrohit commented on #2815
@maxceem Another possible optimization would be to get phase topics in single call by filtering at `referenceId`. I think we did have a rationale for fetching them individually but I am not able to recall. So, it might be a good time to refresh that.

[2019-02-14 05:36] maxceem commented on #2815
@vikasrohit I guess we can do this optimization together with implementing a new related feature: https://github.com/appirio-tech/connect-app/issues/2835

[2019-02-14 05:43] vikasrohit opened #2836 "[$50] Remove non team members from auto suggest of user tagging in topics/post"
### Expected behavior
It should not show any non team member in the dropdown list of auto suggest when posting user tries to tag some one else.

### Actual behavior
As of now, if user navigates from project listing page or any other project, it shows list of all users which were the part of the previous project or all projects listed on the listing page.

### Steps to reproduce the problem
- Open

[2019-02-14 05:43] vikasrohit commented on #2836
Fix is something similar to #2813

[2019-02-14 05:48] vikasrohit commented on #2815
Yes, absolutely.

[2019-02-14 05:48] vikasrohit commented on #2835
We have `reference` as `project` and `referenceId` as project id and we maintain link to the phase by tag having `phase#<phaseId>`. Now the trouble is how to link it with milestone, may be just enhance the tag to be `phase#<phaseId>#<milestoneId>` or add a new tag `milestone#<milestoneId>`. What do you think @RishiRajSahu @maxceem

[2019-02-14 06:43] vikasrohit opened #2837 "Approval workflow for when CPs/Managers invite a CP"
Copilots and Managers should be able to invite a Copilot to a project, but this invitation's process should operate as follows:
* A CP/Manager invites a Copilot to a project
* The inviter CP/Manager receives a notification that the invitation has been sent to the CP Assignment Manager for review
* The CP Assignment Manager receives notification of the request and reviews the request
  * If the CP

[2019-02-14 07:10] ajefts opened #2838 "Account Manager role"
A new Topcoder role needs to be created for Account Managers. This will be a role used by Marketing and Sales team members. This role will:

- Help customers identify who they are talking to during project review and scope change processes

- Send targeted notifications to Account Managers when a project is ready for review/a scope change is requested

<p></p>

Other Requirements:

- This feature

[2019-02-14 07:10] ajefts commented on #2838
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1671664

[2019-02-14 07:18] vikasrohit commented on #2826
@maxceem do you think we can get it fixed without patching the target repo?

[2019-02-14 07:30] maxceem commented on #2826
@vikasrohit  I think we should be able to fix it our side.

We can add some special configuration to the babel same like we did for CoffeeScript files https://github.com/appirio-tech/connect-app/blob/feature/form-redesign/config/babel/webpack-coffee.js#L1 and target this configuration only to the `react-json-editor-ajrm` lib, simillar way like we do it for CoffeeScript files https://github.com/app

[2019-02-14 07:32] RishiRajSahu commented on #2743
Done and pushed to prod. Working fine.

[2019-02-14 07:32] #2743 closed

[2019-02-14 07:34] RishiRajSahu commented on #2785
Parital requirements are implemented via #2743 and the rest are tracked here - https://github.com/appirio-tech/connect-app/issues/2837

[2019-02-14 07:34] #2785 closed

[2019-02-14 07:34] vikasrohit commented on #2826
Yep, I noticed that as well when first time used this library and I was under impression that it works as it says, however, to me it seems like it is not working as said. `react-json-editor-ajrm/index.js` is using ES 6 version, otherwise we wouldn't have seen this issue. I created an [issue](https://github.com/AndrewRedican/react-json-editor-ajrm/issues/97) in the repo, however, as there is no mai

[2019-02-14 07:35] vikasrohit commented on #2826
Lets try to get it fixed via community fix challenge and if we don't find any solution, I would start looking at some other library.

[2019-02-14 07:35] RishiRajSahu commented on #2837
New Status `requested` will be incorporated to achieve the above workflow.

[2019-02-14 07:42] vikasrohit commented on #2826
@maxceem I found another [library](https://github.com/vankop/jsoneditor-react) which seems promising to me as this was something I was looking when I started but was not able to find it at that time. :)

[2019-02-14 07:43] RishiRajSahu commented on #2835
`phase#<phaseId>#<milestoneId>`
- With ES endpoint we can use wildcard to get all the topics of milestones in a single call.

[2019-02-14 07:48] maxceem commented on #2826
@vikasrohit I think it's a good idea to change it. As the current library has some issues, and from the preliminary research it could be quite hard to fix them, and most likely we will need to fix the source code of the lib.

The lib you point looks interesting as it's based on existent non-React lib, which seems popular.

I guess we even don't have to choose between React only libs. Most likely w

[2019-02-14 07:53] maxceem commented on #2826
Also, I think as such a lib could be quite heavy, probably we should build it to a separate file and load it only on the `/metadata` pages.

[2019-02-14 07:57] maxceem commented on #2826
Btw, React 16.6.0 has a new feature for code splitting `React.lazy` and `Suspense` https://reactjs.org/docs/code-splitting.html#reactlazy. But to use it we would have to update.
So we can do it the old way for now using `babel` and `import`.

[2019-02-14 08:44] vikasrohit commented on #2826
React.lazy sounds promising. We can try upgrading our react as separate parallel efforts and lets see how it goes.

[2019-02-14 08:44] vikasrohit commented on #2826
Can we do it without React upgrade?

[2019-02-14 08:45] maxceem commented on #2826
Yes, we can use import dynamically with some babel plugin/config.

[2019-02-14 08:56] RishiRajSahu commented on #2835
Jotting down my understanding on that -

`phase#<phaseId>#<milestoneId>`
- With ES endpoint we can using **single** wildcard `phase*` to get all the topics of phases/milestones in a single call.
- **No need** to take care of whether the feeds to be fetched for old projects(where milestone's feeds are not present) or new projects
- For direct db calls, we have to call with individual milestones id

[2019-02-14 13:16] maxceem opened #2839 "[$25] Main user avatar is loaded directly from S3 rather than from CloudFront"
### Expected behavior
Main user avatar is loaded from CloudFront in a small size https://d2nl5eqipnb33q.cloudfront.net/avatar/https%3A%2F%2Ftopcoder-dev-media.s3.amazonaws.com%2Fmember%2Fprofile%2Fpshah_manager-1539702004111.png?size=40 - `40px × 40px - 4kb`

### Actual behavior
Main user avatar is loaded directly from S3 in an original size which can be huge https://topcoder-dev-media.s3.amazonaw

[2019-02-15 05:36] vikasrohit commented on #2839
Good catch @maxceem I was not aware that we can access S3 bucket items dynamically with cloud front because I don't think we have a cloudfront distribution for the `topcoder-dev.media` bucket.

[2019-02-15 05:51] vikasrohit commented on #2826
@maxceem Just for information, found an [update](https://github.com/AndrewRedican/react-json-editor-ajrm/issues/97#issuecomment-463760633) from the `react-json-editor-ajrm` library for importing the library in ES5 mode.

Closing the issue as we are moving on with new library https://github.com/vankop/jsoneditor-react

[2019-02-15 05:51] #2826 closed

[2019-02-15 09:22] RishiRajSahu commented on #2831
Actually getting email updates only when invited(not yet joined) users tagged on messaging.

[2019-02-15 10:13] gondzo opened #2841 "Permissions handling"
With the new user roles we have a lot of places to update regarding permission checks so the code for permission checks will be more and more complex inside containers/components, ex
[code]

How about centralizing permission checks to a common module (or configuration file)?
For example we could have a single method for permission checks like
`util.checkPermission(PERMISSIONS.EDIT_PROJECT_PLAN, us

[2019-02-15 10:28] maxceem commented on #2841
@gondzo I absolutely agree that we have to centralize it. Also, several times came across this, when we redefine the same variables for roles in sevaral places:

![image](https://user-images.githubusercontent.com/146016/52850618-df97fa00-314e-11e9-8213-c3e8bb8491e8.png)

The suggested approach looks good to me, if can describe all the relateion between user `roles` and user `permissions`.

[2019-02-15 11:52] RishiRajSahu commented on #2841
@gondzo yeah agree we could centralize it and let's use this centalize code for the Account manager role task only for now, as changing all the existing places for permissions check is risky. But going forward for newer checks we will be using this centralize method, even we could specify explicitly about using this in our future challenges specs.

[2019-02-18 06:34] maxceem opened #2842 "Create JSON Schema for project templates validation"
Currently, we have project templates JSON which have been evaluating for some time.
- We have some old properties which we don't use anymore.
- We have some new properties which partially duplicate old properties but have some additional features.
- It's not easy to remember which properties we have.

There are several ways to handle this situation:
1. Create some documentation.
    - but document

[2019-02-18 12:17] vikasrohit commented on #2842
Yep, Agreed. We do have a documentation for all the fields which were in use at the time of writing of the doc, however, it suffers from the issue of getting outdated very fast as we are changing the template schema with almost every release to accommodate new changes/features.
I liked the idea of having JSON schema and in fact the new library we are using for creating/editing JSON templates, alre

[2019-02-19 02:28] maxceem opened #2845 "[$75] File uploading doesn't work"
### Expected behavior
After drag&drop file it should be uploaded and permission modal shown.

### Actual behavior
After drag&drop file the dialog for file uploading is closed and nothing happenes.

### Steps to reproduce the problem
- Open any project on DEV, for example https://connect.topcoder-dev.com/projects/7885
- Click **Add file** on the left sidebar. The dialog will be opened.
- Drag&drop

[2019-02-19 02:50] maxceem opened #2846 "[$130] Update react-select version"
We started using `react-select` library a pretty long time ago. And current version `0.9.1` has several issues while the latest version is `2.4.0`.

Issues:
- Warning in browser console: `Warning: Unknown prop 'minWidth' on <input> tag.`
- Warning in browser console: `Warning: AutosizeInput: isMounted is deprecated.`
- So far we have to call API method directly from the component because the curre

[2019-02-19 04:50] vikasrohit commented on #2807
Thanks @maxceem We are discussing this with product team and will come back to you soon.

[2019-02-19 04:58] vikasrohit commented on #2845
Good catch @maxceem. It might be a good candidate for our next bug bash.

[2019-02-19 09:33] maxceem commented on #2842
I think we have several ways:
1. Define scheme which covers all the possible properties for all templates if possible.
    - [+] the most easier approach
    - [-] we cannot say which properties we don't wanna use anymore
2. As you suggested having versions for schemes.
    - [+] for sure can support old and new versions
    - [+] we can control which properties we wanna use and which we don't wan

[2019-02-19 10:08] RishiRajSahu commented on #2710
fyi @maxceem updated the title as we need this option to be enabled for customers only.

[2019-02-19 10:40] maxceem opened #2847 "Preview form in Metadata editor"
We have metadata editor which let us edit project templates like https://connect.topcoder-dev.com/metadata/projectTemplates/93.

We already show **form preview** there on the left while showing **template editor** on the right.

![image](https://user-images.githubusercontent.com/146016/53060090-28a3d180-34f4-11e9-9103-1b9c2ce0ff3d.png)

Currently form preview is showing form in some arbitrary way.

[2019-02-21 07:17] RishiRajSahu opened #2848 "[$10] Plus icon '+' visible even after logout from connect"
### Expected behavior
Plus icon to create project should not be visible after logging out of connect

### Actual behavior
Plus icon '+' visible even after logout from connect

### Steps to reproduce the problem
-  logout from Connect app
- '+' icon visible in top right corner new login button

#### Environment
- OS:any
- Browser (w/version):any
- User role (client, copilot or manager):any
- Accoun

[2019-02-22 03:02] maxceem commented on #2756
@vikasrohit I realized that we don't have question type `tiled-checkbox-group`.

1. Do I understand this correctly, that we only need to support this feature for `checkbox-group`? I don't see other question types where we can select multiple options.

2. Do you think we should `disable` autoselected options? As per requirements, we cannot unselect them if they were selected automatically.

[2019-02-22 05:42] vikasrohit commented on #2756
@maxceem we have the tiled version of checkbox component, https://github.com/appirio-tech/react-components/blob/feature/connectv2/components/Formsy/TiledCheckboxInput.jsx.

And for disabling the auto selected options, I think we need to do that, however, we don't need to force it code when auto selecting the option. Rather, we already have support for `disableCondition` so we can use both `autoSel

[2019-02-22 05:50] maxceem commented on #2756
@vikasrohit as I see from https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/components/SpecQuestions.jsx#L171 we don't have support for `tiled-checkbox-group` type of question yet, so I guess we have to add it, right?

Got it regarding disabling!

[2019-02-22 06:06] vikasrohit commented on #2756
Oh yes, that might be true as we never ended up in rendering this component
I any of the forms.

On Fri, Feb 22, 2019, 11:20 maxceem <notifications@github.com> wrote:

[2019-02-22 07:13] ajefts opened #2849 "Change button language in sidebar when editing the file or viewers"
Currently, when a user wants to edit an uploaded file the button displayed a the bottom says "Edit Attachment." This is misleading for customers, as they can both edit the attachment and change the approved file viewers. I would like to update the title and the button label.

<p></p>

Title change: File Viewers (add title over the viewer box)

Please update the button to read: "Save Changes"

[2019-02-22 07:13] ajefts commented on #2849
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1772884

[2019-02-22 07:14] ajefts opened #2850 "[$15] Indicate 'All Project Members' when specified file viewers are removed"
Once a user has uploaded a file and have specified only specific users as the approved viewers, the user needs a way to modify this selection to change the approved file viewers to 'All Project Members.'

<p></p>

Change: In the left sidebar, if a user decides to change the viewers from specified users to 'All Project Members' they can achieve this by deleting the selected specified users under th

[2019-02-22 07:14] ajefts commented on #2850
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1772896

[2019-02-22 07:15] ajefts opened #2851 "Update "Project Team" to "Customer Team" in left sidebar"
In the left sidebar, update language of "Project Team" to "Customer Team." This will help to more clearly indicate to Topcoder users where they should be adding themselves and inviting other Topcoder users.

[2019-02-22 07:15] ajefts commented on #2851
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1797297

[2019-02-22 07:18] ajefts opened #2852 "[$35] Update "CoderBot" Message"
The Coderbot message and page that is displayed when the user has registered in Connect but has not created a project is confusing.

<p></p>

Update requests:

1. Remove CoderBot image and designed orange line/message box.

2. Update the message content to read: "Welcome to Topcoder. To get started, click the 'Start a Project' button below."

3. Display a blank project card with a + button that sa

[2019-02-22 07:18] ajefts commented on #2852
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1792909

[2019-02-22 07:19] ajefts opened #2853 "Remove + requirement for phone numbers"
Remove the + prefix requirement from the beginning of the phone number on the customer registration form.

[2019-02-22 07:19] ajefts commented on #2853
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1775949

[2019-02-22 08:42] RishiRajSahu commented on #2851
Done with https://github.com/appirio-tech/connect-app/commit/2212cd27c1f69d8fdd82c5e07c95826fd590f92b

[2019-02-22 08:42] #2851 closed

[2019-02-23 03:28] maxceem commented on #2847
@vikasrohit  This is done via F2F https://www.topcoder.com/challenges/30084273/?type=develop&noncache=true and already pushed to `feature/form-redesign` branch in https://github.com/appirio-tech/connect-app/commit/382c2b288acbb5738f3f5a803925000ad1f4a656

[2019-02-25 01:36] maxceem commented on #2853
Sum up:
- Registration page is here https://accounts.topcoder-dev.com/connect/registration
- This change has to be done in the repo https://github.com/appirio-tech/react-components/tree/feature/connectv2 branch `feature/connectv2`

[2019-02-25 02:04] maxceem commented on #2852
@ajefts Could you please have a look, if I got the requirements right?

<img width="1385" alt="new-customer-welcome-message" src="https://user-images.githubusercontent.com/146016/53309714-5918b080-38e4-11e9-94cf-6411a54300dc.png">

Note, the whole blank project card is a link as per our current usage, so I put a subtext below the project card. But can change that if necessary.

[2019-02-25 02:32] maxceem commented on #2833
@vikasrohit
So far we have the next list of labels and values of cancelation reasons. Values - are the texts we send to the server during cancelation, probably it's important to keep some particular values for them.
[code]

Here are the new values and the values I propose to use. Do you think they are ok?
- Duplicate project: `duplicate`
- Want to join Topcoder as member: `join-as-member`
- Projec

[2019-02-25 03:02] maxceem commented on #2768
@vikasrohit this is no more an issue as we replaced the library. So we close it.

[2019-02-25 03:13] maxceem opened #2854 "Registration form Continue button is disabled"
When I enter details on the registration form **Continue** button is not got enabled until I select **I agree to receive other communications from Topcoder.** But it looks like not required. And after I unselect it the **Continue** button stays enabled.

![image](https://user-images.githubusercontent.com/146016/53311881-aea58b00-38ed-11e9-9b71-39837eda1e90.png)

See screencast: https://monosnap.co

[2019-02-25 03:16] maxceem commented on #2572
@RishiRajSahu as per new form design https://marvelapp.com/6a8ch8h/screen/52602222 we don't have the right side panel during project creation anymore. So there is no place for link.

[2019-02-25 03:21] maxceem commented on #2800
@vikasrohit it's done via F2F http://www.topcoder.com/challenge-details/30083578/?type=develop&noncache=true in `feature/form-redesign` branch commit 47d8819c1548c911d7e2689a87ed3e0fe478f94f.

[2019-02-25 03:48] maxceem opened #2855 "[$90] Create test cases which would break our expression evaluation function"
We have a function which can parse and evaluate simple expression: https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/dependentQuestionsHelper.js#L147

And we covered with test some operations and expression formats https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/dependentQuestionsHelper.spec.js

We need want to make sure our evaluate function is robust and not getti

[2019-02-25 03:51] maxceem commented on #2793
@RishiRajSahu I've create a new issues for creating tests cases https://github.com/appirio-tech/connect-app/issues/2855

While this issues is fixed and already in DEV.

[2019-02-25 04:34] maxceem commented on #2828
Sum up:
- Login with user `pshah_customer` in the first browser.
- Open old project **Specification** tab http://local.topcoder-dev.com:3000/projects/5000/specification and change the project name and save to trigger notification.
- Open new project **Scope** tab http://local.topcoder-dev.com:3000/projects/7861/scope and also change the project name and save to trigger another notification for thi

[2019-02-25 04:38] maxceem commented on #2791
@vikasrohit This issue looks like have the same root as https://github.com/appirio-tech/connect-app/issues/2828 because I think the error happens at the same place.

As we don't have certain steps to reproduce the error in this issue, I guess we can fix another one and check if this issue still happens in some other conditions.

[2019-02-25 04:54] maxceem opened #2856 "[$30] Add file button is not shown on the sidebar"
1. When there are no files uploaded yet, button **+** to upload a file is not shown. But it should be shown if user have rights to upload files.

   - With user `pshah_manager` open project https://connect.topcoder-dev.com/projects/7855, button **+** is shown as expected.

      ![image](https://user-images.githubusercontent.com/146016/53314985-1e227700-38fc-11e9-8783-d3fb96783758.png)

    - With

[2019-02-25 04:55] maxceem commented on #2856
@RishiRajSahu adding this to CF.

[2019-02-25 05:09] maxceem commented on #2850
@ajefts as per issue desription we only should add a text if there are no members are selected. But issue title says we should add an additional option to the dropdown. Could you please clarify if adding option to dropdown is still requiered.

Regarding the text, if understand this correctly, the best place to show this text is under:

![image](https://user-images.githubusercontent.com/146016/5331

[2019-02-25 05:16] maxceem commented on #2839
@RishiRajSahu I'm including this issue to CF.

Sum up:
- We should build an avatar URL for this place, same way like we do for other places. Most likely using this function should be enough https://github.com/appirio-tech/connect-app/blob/feature/form-redesign/src/helpers/tcHelpers.js#L28

[2019-02-25 05:24] maxceem commented on #2846
To see places, where these components are in use `pshah_manager` user, can be used. This project has both places: http://local.topcoder-dev.com:3000/projects/7855
- `UserAutoComplete`

    ![image](https://user-images.githubusercontent.com/146016/53315864-5deb5d80-3900-11e9-9143-f3fcacadc6d1.png)

- `AutocompleteInput`

   ![image](https://user-images.githubusercontent.com/146016/53315898-85422a80

[2019-02-25 05:32] vikasrohit commented on #2850
@maxceem yes, it seems we need to rephrase the text to accommodate  the space.

[2019-02-25 05:35] maxceem commented on #2850
@vikasrohit I propose to keep under instead of replacing placeholder. As the placeholder helps users to understand what to enter inside the field. But let me know if you prefer to replace placeholder.

[2019-02-25 05:48] maxceem commented on #2827
@RishiRajSahu I saw this issue before, but I cannot reproduce it in branch `feature/form-redesign` anymore. Looks like it has been fixed on the way.

There were some changes done `react-components` which may also affect it. So if you test it, please, remove `node_modules` and run `npm i`.

[2019-02-25 05:50] maxceem commented on #2818
@vikasrohit maybe we can keep it like this? We use only a small part of that library. It has a lot of features, but we use like a styled radio button instead of a slider. So there are no need to have the latest features/updates of it.

This library also is a candidate for being removed and reimplemented using standard radio buttons and CSS styles. It will save around 24kb of gzipped size of the ap

[2019-02-25 05:51] maxceem commented on #2803
@RishiRajSahu  Done via F2F 30083089 and already in dev.

[2019-02-25 05:54] maxceem commented on #2735
@RishiRajSahu This issue is has been handled by F2F challenge and already in dev.

[2019-02-25 05:56] maxceem commented on #2623
@RishiRajSahu I guess this is already on PROD.

[2019-02-25 07:00] vikasrohit commented on #2856
I think the reason for that is some project are created using a template which does not have a files subsection in their scope template which is what we look for to enable the file upload for a project. So, IMO, the thing to fix would be to remove the `Files` section completely from the left bar if there is not `files` type sub section in the scope template.
I would try to get more details, from p

[2019-02-25 07:04] vikasrohit commented on #2850
Yep, Agreed. I liked the way you suggested here:
![image](https://user-images.githubusercontent.com/146016/53315381-cedd4600-38fd-11e9-9961-cc1f7e6e5dcf.png)

May be we can use some thing like `Visible to All. Enter handles to restrict` as intermediate solution for placeholder text as well. But let us ask the product.

[2019-02-25 07:10] vikasrohit commented on #2794
Feature is there, but we are still working to improve the way we specify the conditions for pricing estimation.

[2019-02-25 07:10] #2794 closed

[2019-02-25 07:12] vikasrohit commented on #2768
Yep, agreed. Closing.

[2019-02-25 07:13] vikasrohit commented on #2852
Looks nice to me @maxceem. Let me get it confirmed by product as well.

[2019-02-25 07:19] vikasrohit commented on #2847
Looks good to me. Thanks @maxceem Great work!!!

[2019-02-25 07:19] #2847 closed

[2019-02-25 08:12] maxceem commented on #2856
Yeah, look like you are right. [This project](http://local.topcoder-dev.com:3000/projects/5000) doesn't have files uploaded, but it has a **+** button. Note, that we also can upload files from phases so I'm not sure if we should hide it.

[2019-02-25 08:53] vikasrohit commented on #2572
@maxceem we need to show this for non registered users, I guess. We are still showing the right section for them.

[2019-02-25 08:54] vikasrohit commented on #2856
Yep, I know we can upload the files from the phases but that section is right now available only for managers and copilots, and not for the customers. So, I just don't want to confuse the customers to see + option to upload the file but not find that in Scope section.

[2019-02-25 08:59] maxceem commented on #2572
@vikasrohit looks like we are already showing the correct link there:

![image](https://user-images.githubusercontent.com/146016/53325501-6f436280-391e-11e9-921f-e361851c244b.png)

The only issue - we cannot click it as it's overlayed by another block.

[2019-02-25 09:09] RishiRajSahu commented on #2623
@maxceem yep its in prod. Closing.

[2019-02-25 09:09] #2623 closed

[2019-02-25 09:16] RishiRajSahu commented on #2803
Yep, tested it. Closing.

[2019-02-25 09:16] #2803 closed

[2019-02-25 09:17] RishiRajSahu commented on #2827
@maxceem sure I do the needful and test it.

[2019-02-25 09:18] RishiRajSahu commented on #2793
@maxceem Thanks for tracking the remains in another issue.

[2019-02-25 09:18] #2793 closed

[2019-02-25 09:24] RishiRajSahu commented on #2854
@maxceem yep agree it doesn't seem to be mandatory and as per me it should not affect the continue button, continue button should be dependent on the rest of form fields validations only.

[2019-02-25 09:40] RishiRajSahu commented on #2849
Done with https://github.com/appirio-tech/connect-app/commit/fc09282a87ceda16e1631c4e7ac1cad6f066e12c.

[2019-02-25 09:40] #2849 closed

[2019-02-25 12:28] RishiRajSahu commented on #2572
@maxceem the link you mentioned is customer stories on registration form, we definitely needs to fix that to be clickable. Coming to the product brochures links, I think we don't need that support as per new designs as brochure links are suppose to be present aside the project form, right @vikasrohit ?

[2019-02-25 14:34] vikasrohit commented on #2852
Got confirmation from product team. You can go ahead with the suggested design for now @maxceem

[2019-02-26 01:47] maxceem commented on #2833
@RishiRajSahu in case, you can advise here, we can also run this in CF.

[2019-02-26 01:50] maxceem commented on #2854
Sum up.
- **Continue** button should become enabled when we fill all required filled, and the last checkbox is not required.
- Most likely there is some issue with form validation process and selecting unselecting the last checkbox just triggers validation update.
- The just has to be done in https://github.com/appirio-tech/react-components/tree/feature/connectv2 repo, branch `feature/connectv2`

[2019-02-26 02:00] maxceem opened #2857 "[$45] Fix issues on Connect Registration page"
This issue combines inside several small issues on Connect Registration page, which are easier to fix together.

It includes the next issues:
- [x] Make the link on the right sidebar clickable https://github.com/appirio-tech/connect-app/issues/2572#issuecomment-466993511
- [x] Fix **Continue** button enabling https://github.com/appirio-tech/connect-app/issues/2854
- [x] Remove + requirement for ph

[2019-02-26 02:35] maxceem commented on #2852
Sum up:
- For testing can use user `maxceem2` - which doesn't have projects.
- Go to page https://connect.topcoder-dev.com/projects?sort=updatedAt%20desc to see the message  which has to be updated:

    ![image](https://user-images.githubusercontent.com/146016/53309341-48673b00-38e2-11e9-87aa-e6e2f0bb6930.png)
- To see a blank project card, user user `pshah_manager`, navigate to the same page htt

[2019-02-26 03:55] akumar1503 commented on #2857
Please assign this to me.
Thanks.

[2019-02-26 04:13] sumitdaga commented on #2852
@maxceem
Please assign this to me

[2019-02-26 04:33] iversonLv commented on #2848
@maxceem could I get this ticket?
Thanks.

[2019-02-26 04:44] maxceem commented on #2857
@akumar1503 you can start working on it since your comment. To make it clear I've sent you an invitation to the repo, as soon as you accept it I could mark you as assigned.

[2019-02-26 04:44] maxceem commented on #2852
@sumitdaga done

[2019-02-26 04:45] maxceem commented on #2848
@iversonLv done

[2019-02-26 04:57] Gauravseta commented on #2836
@maxceem can you please assign this to me

[2019-02-26 05:02] maxceem commented on #2836
@Gauravseta done

[2019-02-26 05:04] PrakashDurlabhji commented on #2839
@maxceem i want to work on this

[2019-02-26 05:05] maxceem commented on #2839
@PrakashDurlabhji sure

[2019-02-26 05:07] rashmi73 commented on #2828
@maxceem please give this to me

[2019-02-26 05:11] khushimehta03 commented on #2846
@maxceem can i try this? thank you

[2019-02-26 05:11] maxceem commented on #2828
@rashmi73 done

[2019-02-26 05:12] maxceem commented on #2846
@khushimehta03 sure

[2019-02-26 05:12] gurmeetb commented on #2845
@maxceem can you assign me this ?

[2019-02-26 05:12] prasadadarkar30 commented on #2845
@maxceem assign it to me

[2019-02-26 05:13] maxceem commented on #2845
@gurmeetb sure, it's on you.

@prasadadarkar30 as this issue was claimed by another member first, it was assigned to him.

[2019-02-26 05:37] gautam1168 commented on #2855
please assign this to me

[2019-02-26 05:39] maxceem commented on #2855
@gautam1168 as you've already commented you can start working on it. To make it clear I've sent you an invitation to the repo, as soon as you accept it I could mark you as assigned.

[2019-02-26 05:47] sumitdaga commented on #2852
@maxceem
https://github.com/appirio-tech/connect-app/tree/dev/src/projects/list/components/Walkthrough
this is the component that is displayed when there are no projects, should i update this component or create a new component ?

[2019-02-26 05:52] maxceem commented on #2852
@sumitdaga if this component is not being used in other places then, please, update it. Otherwise, create a new one.

[2019-02-26 05:59] iversonLv commented on #2848
@maxceem Could you please provide a credential to log in?
I remember there is in readme.md but now there is not.

Thanks.

[2019-02-26 06:02] maxceem commented on #2848
@iversonLv sure, provided them on the forum https://apps.topcoder.com/forums/?module=Thread&threadID=932185&mc=1#2321547

[2019-02-26 06:06] maxceem commented on #2845
Hey @gurmeetb just want to confirm that you are able to reproduce the issue as shown in the video.

[2019-02-26 06:07] gurmeetb commented on #2845
hey @maxceem still setting up, getting some npm issues, sorting them out...give me few mins, will post update.

[2019-02-26 06:27] RishiRajSahu opened #2859 "Users with only Copilot Manager role not able to see suggest results"
for users which just have only Copilot Manager role are not able to see the member suggest results as we need to whitelist this role from member service api and its currently returning 403.

fyi @maxceem @vikasrohit

[2019-02-26 06:27] RishiRajSahu commented on #2859
here are the allowed roles for getting suggest results https://github.com/appirio-tech/ap-member-microservice/blob/dev/service/src/main/java/com/appirio/service/member/resources/MemberSuggestResource.java#L56

[2019-02-26 06:28] RishiRajSahu commented on #2735
yep, Closing it.

[2019-02-26 06:28] #2735 closed

[2019-02-26 06:35] RishiRajSahu commented on #2838
The changes have been merged and working fine in dev.

[2019-02-26 06:35] #2838 closed

[2019-02-26 06:37] RishiRajSahu commented on #2831
as per discussion with product team -
`Do we need to allow tagging the invited(not yet joined) member also in project posts ?
Yes. We can use web notifications to alert the invited user to tagged posts, etc.`

So closing the issue.

[2019-02-26 06:37] #2831 closed

[2019-02-26 06:45] sumitdaga commented on #2852
@maxceem   PR at #2860
can you make its prize $35 ?

[2019-02-26 06:56] sumitdaga commented on #2852
@maxceem
i found what seems like an issue (although unlikely to happen)
when you are logged in as one user and start creating a project and then log in as another user it prompts you to `continue where i left off`
i guess this information is not stored in storage `per user`
like i said its unlikely that two users will login from the same system ...but still i thought i should point this out to you

[2019-02-26 06:58] akumar1503 commented on #2857
@maxceem
i have an issue with testing the [react-components](https://github.com/appirio-tech/react-components/tree/feature/connectv2) app locally.

I have to test these two components:

- [RegistrationScreen](https://github.com/appirio-tech/react-components/tree/feature/connectv2/components/RegistrationScreen)
- [WizardRight](https://github.com/appirio-tech/react-components/tree/feature/connectv2/

[2019-02-26 07:01] maxceem commented on #2852
I'll check it out during the review.

@sumitdaga thank you for reporting it. I guess this shouldn't happen in real life. But just in case @RishiRajSahu you may check the report about possible issue in the comment above.

[2019-02-26 07:16] gurmeetb commented on #2845
hey @maxceem finally setup the project and it seems to be working fine.

[2019-02-26 07:21] RishiRajSahu commented on #2833
@maxceem yep looks good, regarding `price` or `budget` let me confirm with other team like if they are using the existing data and has some filter to analyse data based on value `price`, if yes we will keep it same otherwise we will rename it to `budget`, will get back to you soon.

[2019-02-26 07:21] maxceem commented on #2857
@akumar1503 I think you don't really need to run `react-components` locally.

The next appraoch should work:
- clone `accounts-app` branch `dev` locally
- Ensure that you have an alias for `local.topcoder-dev.com` to `127.0.0.1` in your hosts file
- `npm install`
- `npm run dev` - should run accounts-app locally in dev mode
- open http://local.topcoder-dev.com:3100/connect/registration in your bro

[2019-02-26 07:29] maxceem commented on #2845
Hmm, then I think we should put this issue on hold. As it looks like not everybody can reproduce this issue and we don't another way for reproducing it.

Btw @gurmeetb I wonder which issues did have during project setup? As it suppose to work without any issues:
- clone `connect-app` repo
- run `npm install`
- run `npm start`

[2019-02-26 07:30] RishiRajSahu commented on #2833
@maxceem okay I confirmed, we are not going to change the values which are send to server we will just update the title if needed, so we are good to get it included in CF.

[2019-02-26 07:35] RishiRajSahu commented on #2852
@maxceem yeah I think we are good with that for now as customers won't be logging with different accounts consecutively on the same machine.

[2019-02-26 07:39] maxceem commented on #2833
@RishiRajSahu do I understand it correctly, that
- 4\. Project budget doesn't fit: should we keep `price`? Other words it's the same option.

And these values are new - as I don't see any match in the current list for them.
- 2\. Duplicate project: `duplicate`
- 3\. Want to join Topcoder as member: `join-as-member`
- 5\. Insufficient input from Customer: `insufficient-input `
- 8\. Unrealistic tim

[2019-02-26 07:40] gurmeetb commented on #2845
hey @maxceem it was due to wrong npm version, I was using npm 8.9.4 but since I already had the repo which had already run `npm i` with npm 10, it was giving me dependency issues during `npm start`. Once I cleaned `node_modules` and ran with `npm 10x` it just worked fine.

Note:☝️ this is not project issue but my local setup issue.

[2019-02-26 08:35] gautam1168 commented on #2855
Hey should I just push my code to c15 branch?

[2019-02-26 08:48] gautam1168 commented on #2855
Please check PR: https://github.com/appirio-tech/connect-app/pull/2861

[2019-02-26 09:42] RishiRajSahu commented on #2833
@maxceem
4. `{ value: 'price', title: 'Price too high'}` will become `{ value: 'price', title: 'Project budget doesn't fit'}`

yeah I am good with new ones.

[2019-02-26 09:48] vikasrohit opened #2862 "Hide accordion summary as well when a question becomes hidden"
When parent question's answer changes which makes a question hidden, it does not hide the accordion summary though.

fyi @maxceem, I have put very minimum details right now. Let me know if you understand this otherwise I can add more details here.

[2019-02-26 10:00] maxceem commented on #2862
@vikasrohit could you please share a template which you use when experiencing this.

[2019-02-26 10:10] maxceem commented on #2833
Sum up:
- When on any project dashboard, for example http://local.topcoder-dev.com:3000/projects/7885 we change project state to the `Cancelled`

     ![image](https://user-images.githubusercontent.com/146016/53404888-8e5ef480-39f1-11e9-9f1b-13e00c42fd64.png)

     we have to choose the reason to cancel:

     ![image](https://user-images.githubusercontent.com/146016/53404902-97e85c80-39f1-11e9-98

[2019-02-26 10:12] maxceem commented on #2833
This issue is now open for pick up.

[2019-02-26 10:18] r0hit-gupta commented on #2833
I would like to work on this.

[2019-02-26 10:21] maxceem commented on #2833
@r0hit-gupta you can start working on it since your comment. To make it clear I've sent you an invitation to the repo, as soon as you accept it I could mark you as assigned.

[2019-02-26 10:24] r0hit-gupta commented on #2833
I have accepted it.

[2019-02-26 12:11] maxceem opened #2863 "[$35] Show loading indicator during sharing file with all members"
When we upload a file and click **All project members** or **Share with selected members**, it hangs for a second because it's doing some backend job. See video demo https://monosnap.com/file/YHfEZxCvg23R3JCExvUXiNKyIXFcYo

![image](https://user-images.githubusercontent.com/146016/53411936-e3573680-3a02-11e9-8a42-1b027471a249.png)

We should show some the loading process is going on after we click

[2019-02-26 12:17] maxceem commented on #2845
We've finally found out the reason for this issue. It's because I always use an empty file for testing 🤦‍♂️

So I'm closing this issue.

[2019-02-26 12:17] #2845 closed

[2019-02-26 12:18] RishiRajSahu commented on #2850
@maxceem To sumup -
1. We need 'All Project Members' as an option in dropdown
2. As vikas in the just preceding comment we are good the way you are suggesting, its only the matter of language we are showing is left so let's keep it as `There are no specified file viewers. File will be visible to all project members`, we will update the language once we get new update.

[2019-02-26 12:20] maxceem commented on #2850
This `All Project Members` option should be only added to suggestions at the sidebar, but not in the dialog after uploading, as we have a separate button

[2019-02-26 12:22] RishiRajSahu commented on #2850
yeah good point, could we have it consistent at both places ? could you quickly edit it via the dev tools how it will look then ?

[2019-02-26 12:29] RishiRajSahu commented on #2850
![screen shot 2019-02-26 at 5 58 58 pm](https://user-images.githubusercontent.com/11248478/53412761-4be8e800-39f0-11e9-8230-9fd8ca164323.png)

[2019-02-26 12:30] maxceem commented on #2850
Something like this:

Dialog:

![image](https://user-images.githubusercontent.com/146016/53412664-ec490780-3a04-11e9-93ab-eb3fcab48751.png)

Sidebar:

![image](https://user-images.githubusercontent.com/146016/53412777-3c27ce80-3a05-11e9-95f0-6762e6cb71ce.png)

The color is dark, because I had to stop JS so the suggestion is not closed on click outiside.

[2019-02-26 13:06] r0hit-gupta commented on #2833
[code]

@maxceem Can you please review if these options and values are fine ?

[2019-02-26 13:09] r0hit-gupta commented on #2863
I would like to work on this.

[2019-02-26 13:12] maxceem commented on #2833
@r0hit-gupta, yes looks good to me.

[2019-02-26 13:19] maxceem commented on #2863
@r0hit-gupta this is not yet open for pick up, as I'm waiting for some confirmation.
Also, as per Bag Bush rules published in the [challenge specification](https://www.topcoder.com/challenges/30084798). One member can start working on another issue, only after raising a PR for the previous issue. As you working on this one https://github.com/appirio-tech/connect-app/issues/2833, please raise a PR

[2019-02-26 13:28] r0hit-gupta commented on #2833
I have created a PR. Please review.

[2019-02-26 14:04] akumar1503 commented on #2857
It helped Thanks.
I have created a PR on [react-component](https://github.com/appirio-tech/react-components/pull/313) app. Please review.

[2019-02-26 15:07] Gauravseta commented on #2836
@maxceem just some more time

[2019-02-26 15:33] NehaSharma02 opened #2865 "Error 404: Page not found"
Getting 404 error on hyperlink given on text  'Learn more about Connect' on the link: https://connect.topcoder-dev.com/

Steps to reproduce the problem
- Click on the link https://connect.topcoder-dev.com/
- Click on Learn more about Connect
- 404 Error page

@RishiRajSahu
@RiteshTC

[2019-02-26 17:17] vikasrohit commented on #2865
@NehaSharma02 It is our dev environment and this might not have every thing working always.

[2019-02-26 20:01] Gauravseta commented on #2836
@maxceem #2866 PR

[2019-02-26 21:17] rashmi73 commented on #2828
@maxceem unable to complete it and hence releasing it for others. it is open now

[2019-02-26 21:17] Gauravseta commented on #2828
@maxceem please give to me. i am working on it . thank you

[2019-02-26 21:44] PrakashDurlabhji commented on #2839
@maxceem actively on it. kindly give some more time. thanks

[2019-02-27 01:01] gautam1168 commented on #2846
@maxceem Is this becoming open for pickup again?

[2019-02-27 01:27] maxceem commented on #2846
As there was no PR for 12 hours, this issue is now open for pick up.

@gautam1168 please, comment again if you want to take the issue **after** it's open for pick up. This is to keep it fair to everybody as per our [Bug Bash rules](https://www.topcoder.com/challenges/30084798)

Thank you.

[2019-02-27 01:28] mhikeo commented on #2846
@maxceem Can I take this up? Thanks.

[2019-02-27 01:29] maxceem commented on #2846
@mhikeo sure, it's on you.

[2019-02-27 01:31] maxceem commented on #2828
@rashmi73 thank you for not keeping the issue and letting us know.

@Gauravseta, it's on you as the previous participant asked to get unassigned.

[2019-02-27 02:00] maxceem commented on #2852
@sumitdaga I've checked the PR works great. As you had to clean quite many of existent code and had to take care of a proper link for creating a new project we would adjust the prize to $35.

Thank you.

[2019-02-27 02:47] maxceem commented on #2855
@RishiRajSahu we have an extensive set of tests with there are 24 failing test cases and 89 passing ones.

So far this is pushed to a separate branch https://github.com/appirio-tech/connect-app/tree/cf15-evaluate to not break the tests in the main branch.

Most of the test fail, because we don't support literals:
- `Infinity`
- `null`
- `undefined`
- `NaN`
- `true`
- `false`

I guess it's not hard

[2019-02-27 05:04] maxceem commented on #2853
@RishiRajSahu When fixing this requirement participant also removed `+` when we select a country code. Which on the one hand good for consistency, but on the other hand could be confusing, see demo video https://monosnap.com/file/0mCuiGhTXs4SRrCsyeMTfPsBSfPkGJ.

How it works now, you can check here https://accounts.topcoder-dev.com/connect/registration

What do you? Should we also not add `+` when

[2019-02-27 05:08] vikasrohit commented on #2818
Makes Sense. Lets close this.

[2019-02-27 05:11] #2818 closed

[2019-02-27 05:35] RiteshTC commented on #2865
Dev Environment, not supported.

[2019-02-27 05:35] #2865 closed

[2019-02-27 06:11] maxceem commented on #2175
@vikasrohit having this issue implemented will let us work on other issues related to phase post notifications:
- https://github.com/appirio-tech/connect-app/issues/2604
- https://github.com/appirio-tech/connect-app/issues/2177
- https://github.com/appirio-tech/connect-app/issues/2575

Do you think it would be better to handle it ourself or via F2F?

[2019-02-27 06:26] vikasrohit commented on #2862
You can try with http://local.topcoder-dev.com:3000/new-project/app-new-updated-designs-2. Try to choose Web Browser as one of the target device and then set the answer for progressive/responsive question and follow through all questions further to reach the summary page. Now, go back and remove the Web Browser as device and notice the accordion for progressive/responsive questions and if you try

[2019-02-27 06:49] maxceem commented on #2862
Hmm, I couldn't reproduce it, see demo https://monosnap.com/file/zxhR3I91kfTydu3pKDAIEzNSY0jmPY

[2019-02-27 06:53] maxceem commented on #2863
This issue is now open for pick up.

[2019-02-27 06:55] sumitdaga commented on #2863
please assign it to me! @maxceem

[2019-02-27 06:55] rashmi73 commented on #2863
@maxceem please give it to me thank you

[2019-02-27 07:04] maxceem commented on #2863
@rashmi73 done

[2019-02-27 07:05] sumitdaga commented on #2863
@maxceem  i think i asked first! although the difference was only a few seconds :)

[2019-02-27 07:06] maxceem commented on #2863
@sumitdaga oh, sorry, I've missed your comment.

Yes, as you have asked first I'm assigning it to you.

Sorry @rashmi73, didn't see that @sumitdaga commented first. So I've reassigned to him.

[2019-02-27 07:09] sumitdaga commented on #2863
@maxceem  no worries :)

irrespective of which button was clicked show the loading indicator below the header right ?

[2019-02-27 07:16] maxceem commented on #2863
rigth

yes, I think it's ok for now

[2019-02-27 07:59] sumitdaga commented on #2863
@maxceem  PR at #2867

[2019-02-27 09:24] gautam1168 commented on #2839
@maxceem its been 12 hours on this one. Are you making this open for pickup?

[2019-02-27 09:25] maxceem commented on #2850
After the discussion with @RishiRajSahu on Slack we come to the next change which has to be done here:
- When some file in the sidebar doesn't have any members selected in **File Viewers** we have to show the text under the field: `There are no specified file viewers. File will be visible to all project members.` as per design:

    ![image](https://user-images.githubusercontent.com/146016/5347969

[2019-02-27 09:26] RishiRajSahu commented on #2853
@maxceem as per me we are good the existing way.

[2019-02-27 09:28] maxceem commented on #2839
As no PR was raised during 12 hours, this issues is now open for pick up.

Note @gautam1168, please comment after this issue is open for pick up to start working on it, to follow our [Bug Bash rules](https://www.topcoder.com/challenges/30084798)

[2019-02-27 09:33] gautam1168 commented on #2839
Please assign to me

[2019-02-27 09:34] maxceem commented on #2839
@gautam1168 done

[2019-02-27 09:35] maxceem commented on #2850
This issue is now open for pickup.

[2019-02-27 09:37] maxceem commented on #2833
@r0hit-gupta reviewed, please have look https://github.com/appirio-tech/connect-app/pull/2864

[2019-02-27 09:42] rashmi73 commented on #2850
@maxceem give to me thanks

[2019-02-27 09:43] maxceem commented on #2850
@rashmi73 done

[2019-02-27 10:25] gautam1168 commented on #2839
whats the password for the `pshah_manager` account that is mentioned in this issue description?

[2019-02-27 10:40] RishiRajSahu commented on #2855
@maxceem that's great, but I would like to not alter the data, instead we can add support of them inside the parser, I will check the commit and test-cases and will get back to you.

[2019-02-27 11:39] r0hit-gupta commented on #2833
@maxceem changes done as requested. Please review.

[2019-02-27 12:24] gautam1168 commented on #2839
@maxceem please check PR: https://github.com/appirio-tech/connect-app/pull/2868

[2019-02-27 12:59] gautam1168 commented on #2846
https://github.com/appirio-tech/connect-app/issues/2846

[2019-02-27 13:02] Gauravseta commented on #2836
@maxceem PR updated. it will work at all places mentioned above

[2019-02-27 13:05] Gauravseta commented on #2828
@maxceem working on it, need extend time

[2019-02-27 14:37] maxceem commented on #2846
As no PR was raised during 12 hours and there is no comment for the extension, this issues is now open for pick up.

Note, the one who comments first after this issue is open for pick up can start working on it without waiting to be assigned, as per our [Bug Bash rules](https://www.topcoder.com/challenges/30084798)

[2019-02-27 14:38] rashmi73 commented on #2850
@maxceem PR ready #2869

[2019-02-27 14:42] PrakashDurlabhji commented on #2846
@maxceem assign it to me

[2019-02-27 14:44] gautam1168 commented on #2846
dang! missed it again!

[2019-02-27 15:03] maxceem commented on #2846
@PrakashDurlabhji done

[2019-02-28 00:34] gautam1168 commented on #2846
This time 🤞

[2019-02-28 00:36] gautam1168 commented on #2828
@maxceem is this becoming open for pickup again?

[2019-02-28 02:19] gautam1168 commented on #2846
@maxceem is this open again?

[2019-02-28 02:50] maxceem commented on #2846
As no PR was raised during 12 hours and there is no comment for the extension, this issues is now open for pick up.

Note, the one who comments first after this issue is open for pick up can start working on it without waiting to be assigned, as per our [Bug Bash rules](https://www.topcoder.com/challenges/30084798)

[2019-02-28 02:50] gautam1168 commented on #2846
assign to me

[2019-02-28 02:52] maxceem commented on #2846
@gautam1168 done!

[2019-02-28 02:53] maxceem commented on #2846
@gautam1168 please, use branch `cf15` for your work. As in last PR you used `dev`.

[2019-02-28 03:11] maxceem commented on #2828
@Gauravseta do you have any progress on this?

[2019-02-28 03:13] gautam1168 commented on #2846
@maxceem ok Ill use that branch

[2019-02-28 05:01] Gauravseta commented on #2828
@maxceem it is open for pickup as i could not complete it.

[2019-02-28 05:07] sumitdaga commented on #2828
please assign it to me @maxceem

[2019-02-28 05:16] maxceem commented on #2828
Thank you for update @Gauravseta.

@sumitdaga it's on you.

[2019-02-28 05:22] gautam1168 commented on #2846
@maxceem The issue asks to update the `LOAD_MEMBER_SUGGESTIONS` reducer. But I don't see any such reducer action being handled in the indicated members.js file or any other file in the project. So, this reducer action handling is to be added? As in
[code]

[2019-02-28 05:28] maxceem commented on #2846
@gautam1168 The action is called `LOAD_MEMBER_SUGGESTIONS`, but in reducer it's used with suffixes like `LOAD_MEMBER_SUGGESTIONS_SUCCESS`, `LOAD_MEMBER_SUGGESTIONS_PENDING`, `LOAD_MEMBER_SUGGESTIONS_FAILURE`.

Here it is in the file `src/reducers/members.js`: https://github.com/appirio-tech/connect-app/blob/cf15/src/reducers/members.js#L18

Currently, `LOAD_MEMBER_SUGGESTIONS_SUCCESS` has the same

[2019-02-28 08:57] gautam1168 commented on #2846
@maxceem is something wrong with the servers? I cannot load the projects anymore

[2019-02-28 09:16] maxceem commented on #2846
@gautam1168 I've just checked and it works good for me. Do you still have this issue? Do you have any errors in browser console?

[2019-02-28 09:44] RishiRajSahu commented on #2855
@maxceem the tests looks good, I think we can change `it` to `xit` for the test cases which are failing and will later run a task to get all the `xit` fixed that way we are good to merge to dev. Also, you can create an additional issue to track `xit`

[2019-02-28 09:54] gautam1168 commented on #2846
@maxceem I have been working with the other account since my comment. It must have been a problem with my wifi.

I have another question. I have updated the version and split the reducer as asked and everything seems to be working fine but only for the `Manage Team` popup. It seems that the other select box is unaffected by my changes. Im making a PR in a few minutes. Please check and tell me if t

[2019-02-28 10:00] maxceem commented on #2846
@gautam1168 sure, thank you!

[2019-02-28 10:19] gautam1168 commented on #2846
@maxceem please check PR: https://github.com/appirio-tech/connect-app/pull/2870

[2019-02-28 10:43] sumitdaga commented on #2828
@maxceem
#1) can you give me one more new project for which these users will see notifications ?
#2) if one user changes name of a new project , say
* http://local.topcoder-dev.com:3000/projects/7861/scope and the other user sees it in notification and clicks it, page is not reloaded with changed data ...just thought i should point it out!

[2019-02-28 10:47] gautam1168 commented on #2846
@maxceem That was a false alarm. Running npm start again fixed the problem. Please check PR: https://github.com/appirio-tech/connect-app/pull/2870

[2019-02-28 11:41] maxceem commented on #2846
No worries, 12 hours limitation is for the PR only. I guess I'll review PR tomorrow. It's ok to provide an update for PR during 24 hours after review.

[2019-02-28 11:44] maxceem commented on #2828
@sumitdaga Thank you for catching it!

@RishiRajSahu do you we should track this issue? I'm not sure if it happens often or brings any confusion. But probably we have to think this through.

[2019-02-28 12:41] RishiRajSahu commented on #2828
@maxceem if the page is not reloading even when the user is on different page and clicks notification, ideally it shouldn't ? Otherwise, actually the page doesn't reloads if the user is on same page as notification target page.

Going with the later case, yeah we need to allow page reload if the target page is same as current page and current page has some changes.

[2019-02-28 14:51] sumitdaga commented on #2828
@maxceem
i have managed to solve the main issue of this ticket,  PR at #2871
but i think there is still some issue with how `componentWillReceiveProps` is being called on many components ...
for ex on this pages component `ProjectDetail.jsx`,  `componentWillReceiveProps` should not be called when notificationPanel is merely opened ...i think its worth exploring and at the very least it can save ma

[2019-03-01 04:21] maxceem opened #2872 "Update/reload page when we click notification to the same page and there are some changes"
### Expected behavior
When we click notification which targets the current page and there some updates on the page we should update/reload the current page.

### Actual behavior
When we click notification which targets the current page and even if there some updates on the page nothing happens when we click the notifcation as we are already on the current page so routing doesn't do anything.

###

[2019-03-01 04:22] maxceem commented on #2828
@RishiRajSahu created a separate issue for that https://github.com/appirio-tech/connect-app/issues/2872

[2019-03-01 04:25] maxceem commented on #2828
@sumitdaga I've checked the PR, looks good to me, I' have one question there https://github.com/appirio-tech/connect-app/pull/2871

Thank you poiniting this out, I agree with you that we should investigate why it happens and what are conciquences.

[2019-03-01 07:25] gautam1168 commented on #2846
@maxceem I just updated the PR. Please see if you need any more changes.

[2019-03-01 08:14] maxceem opened #2873 "Fix unit tests for evalute function"
We've created unit tests for [evaluate function](https://github.com/appirio-tech/connect-app/blob/dev/src/helpers/dependentQuestionsHelper.js#L147) in this issue https://github.com/appirio-tech/connect-app/issues/2855.

So far there 24 tests which fail. We've disabled them for now.

At some moment we should enable these tests again and fix evaluate function to pass them.

### Failed tests summary

[2019-03-01 08:15] maxceem commented on #2855
@RishiRajSahu disabled tests and merged to `cf15`. Also, created a follow up issue to pass tests https://github.com/appirio-tech/connect-app/issues/2873

[2019-03-01 08:22] maxceem commented on #2828
Everybody who has submitted any PR during this bug bash. Please, don't forget to upload a list of issues you have been working on to the [challenge](https://www.topcoder.com/challenges/30084798?tab=details) no matter if it's already accepted or not yet.

This would help to speed up the payment process.

cc @sumitdaga @akumar1503 @rashmi73 @Gauravseta

[2019-03-01 08:47] rashmi73 commented on #2850
@maxceem updated

[2019-03-04 07:01] vikasrohit opened #2874 "Error when loading the product template in Metadata Management UI"
Uncaught (in promise) Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).
    at invariant (webpack-internal:///./node_modules/fbjs/lib/invariant.js:42:15)
    at Object.addCo

[2019-03-04 07:03] vikasrohit commented on #2874
More info:

This happens only when the template has file upload component in its template e.g. http://connect.topcoder-dev.com/metadata/productTemplates/20

[2019-03-04 10:17] vikasrohit commented on #2175
@maxceem I am okay with any of the approaches as it should be trivial to add the support for sending the tags of the topic with every bus event payload.

[2019-03-04 10:22] vikasrohit commented on #2862
I think this happens because of wrong react-components being referenced in my node_modules. I will verify this once we integrate our changes from your fork in react components to our repo.

[2019-03-05 07:17] maxceem opened #2876 "[Dependant questions] - skip subSections when child questions are hidden by condition"
By current logic when we click `Next` in the creating project wizard we skip sections/subSections/questions which are hidden by condition, but we don’t check if they have visible children inside.

We have to improve this behavior when we click `Next` and next `subSeciton` has all `questions` hidden by condition we should skip such `subSections`.

The case when the next `section` has all `subSectio

[2019-03-05 08:20] maxceem commented on #2758
@RishiRajSahu this issue is handled by two PRs:
https://github.com/topcoder-platform/tc-project-service/pull/258
https://github.com/appirio-tech/connect-app/pull/2877

[2019-03-05 09:34] RishiRajSahu commented on #2855
Closing. Merged to dev.

[2019-03-05 09:34] #2855 closed

[2019-03-05 09:38] RishiRajSahu commented on #2852
@maxceem the changes looks good but I am still seeing the login button in top right corner, also not able to select project type getting redirected to landing page.

[2019-03-05 09:43] RishiRajSahu commented on #2833
Closing. Working fine.

[2019-03-05 09:43] #2833 closed

[2019-03-05 09:47] RishiRajSahu commented on #2863
Working fine. Closing.

[2019-03-05 09:47] #2863 closed

[2019-03-05 09:49] RishiRajSahu opened #2878 "Editing existing file visibility(changes members to whom file is visible) creates additional link for the file"
When trying to edit the file in the left bar for a Connect project by adding/removing the members to whom the file is visible, once we are done saving the changes a new link to same file with same title gets added one of them which is not working.

fyi @vikasrohit @maxceem

[2019-03-05 09:50] RishiRajSahu commented on #2850
Done. working fine on dev.

[2019-03-05 09:50] #2850 closed

[2019-03-05 09:53] RishiRajSahu commented on #2836
Working fine on dev. Closing.

[2019-03-05 09:53] #2836 closed

[2019-03-05 09:59] maxceem commented on #2852
@RishiRajSahu everything works good for me.

We didn't change the login button in this issue, and I also can successfully click create a new project link and proceed to the form. Could you please, remove `node_modules` and reinstall dependencies,  just in case. To make sure all the dependencies are correct.

[2019-03-05 10:03] #2857 closed

[2019-03-05 10:03] RishiRajSahu commented on #2853
Working fine. Closing.

[2019-03-05 10:03] #2853 closed

[2019-03-05 10:04] RishiRajSahu commented on #2848
Working fine. Closing.

[2019-03-05 10:04] #2848 closed

[2019-03-05 10:05] RishiRajSahu commented on #2852
<img width="1405" alt="screen shot 2019-03-05 at 3 07 07 pm" src="https://user-images.githubusercontent.com/11248478/53797466-3ded1700-3f5c-11e9-9a76-effc6505d2ed.png">

@maxceem I am seeing this on dev.

[2019-03-05 10:10] maxceem commented on #2852
@RishiRajSahu do you see it here? http://connect.topcoder-dev.com

Which user do you use?

[2019-03-05 10:11] vikasrohit commented on #2876
@maxceem this could be a good starting point for educating the community about our template engine for rendering the forms. We would need lot of help in future in this area.

[2019-03-05 10:12] vikasrohit commented on #2878
@RishiRajSahu I think we need to get it fixed in upcoming release itself.

[2019-03-05 10:45] RishiRajSahu commented on #2828
Done and merged to dev.

[2019-03-05 10:45] #2828 closed

[2019-03-06 01:00] maxceem commented on #2876
Sure, @vikasrohit would you like to get it via F2F of wait until next Bug Bash?

[2019-03-06 03:20] maxceem commented on #2758
@RishiRajSahu

I've merged the dev branch into the PR https://github.com/appirio-tech/connect-app/pull/2877 so you can check it out now and possible merge to dev.

This PR should be merged together with PR to the project-service as API response format has been changed https://github.com/topcoder-platform/tc-project-service/pull/258

[2019-03-06 05:01] RishiRajSahu commented on #2758
Thanks @maxceem !

[2019-03-06 05:47] vikasrohit commented on #2876
I guess F2F would be better to start with as it would require some learning before actually working on the issue which might go beyond the scope of a bug bash.

[2019-03-06 06:53] RishiRajSahu commented on #2854
Rephrased agree terms sentence to `I agree to receive marketing communications from Topcoder.` https://github.com/appirio-tech/react-components/commit/21cb49d04dc08a4b6902172a8d904393b90dd44c

[2019-03-06 06:53] #2854 closed

[2019-03-06 07:01] RishiRajSahu commented on #2852
It seemed to some issue with user for whom there is no role assigned(maybe due to some error during account creation), worked fine after assigning role to the user.  Thanks @maxceem !

[2019-03-06 07:01] #2852 closed

[2019-03-06 07:36] RishiRajSahu commented on #2827
@maxceem its working fine. Closing.

[2019-03-06 07:36] #2827 closed

[2019-03-06 07:43] maxceem commented on #2876
F2F is on https://www.topcoder.com/challenges/30085491/?type=develop

[2019-03-06 08:54] #2756 closed

[2019-03-06 09:05] vikasrohit commented on #2862
Closing for now as I am not able to reproduce it. It might be because of wrong react-components in the node_modules.

[2019-03-06 09:05] #2862 closed

[2019-03-06 10:01] RishiRajSahu opened #2879 "Enable Account Manager to be able to invite topcoder members"
Account Manager user must be able to invite topcoder members via their handles.

Who can join as Account manager -
1.User with Topcoder roles - Connect Admin, Connect Manager, Connect Account Manager

[2019-03-06 10:04] RishiRajSahu commented on #2879
Added permission rule - https://github.com/appirio-tech/connect-app/commit/3c1bc86b67c83503e1772cb7aef90ba7223b7249
Added check for enabling invite - https://github.com/appirio-tech/connect-app/commit/fe5485dce35d2b621b568e660c34b543a17f000e

Done and pushed to dev.

[2019-03-06 10:04] #2879 closed

[2019-03-06 10:49] ajefts opened #2880 "Update Design Review/Final Design Selection language"
# Overview

<p></p>

# What business need are we solving and why?

**Change Description**

- Update "Selected Designs" to read "Checkpoint Winners"

- Update "Rejected Designs" to read "Other Designs"

<p></p>

**References**

- See attached screenshot

<p></p>

[2019-03-06 10:49] ajefts commented on #2880
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1811933

[2019-03-06 12:23] RishiRajSahu commented on #2880
Done with https://github.com/appirio-tech/connect-app/commit/d9af2d6fcf2eb00326a0c72b8886dabbfdb5d0cb

[2019-03-07 00:28] maxceem commented on #2876
@vikasrohit it's done via F2F and pushed to the `feature/form-redesign` branch.

See template http://local.topcoder-dev.com:3000/new-project/skip-empty-steps for demo. It's the template you created without additional subSections conditions (before fix).

[2019-03-07 00:52] maxceem opened #2881 "[Dependant questions] - support preparedConditions"
From @vikasrohit:

If you notice the code for project estimation, https://github.com/appirio-tech/connect-app/blob/dev/src/config/projectWizard/index.js#L519, you would see that we are using a new config called `preparedConditions` which are kind of variables for various conditions and we are using these variables in actual complex conditions. So, I would like to use the same variables when we are

[2019-03-07 02:14] maxceem commented on #2881
@vikasrohit here is how the current algorithm works:

![conditions dependency](https://user-images.githubusercontent.com/146016/53925930-a226ec80-40bc-11e9-80a2-1403aea1c765.png)

### Current alrogithm:
When any field in the form is changed (means form `data` is changed).

- 1\. Calculate condition `1`. If the value is changed then we update `data`.
- 2\. Calcualte condition `2` using updated `dat

[2019-03-07 07:14] vikasrohit commented on #2881
Thanks @maxceem for the detailed notes. However, I have one confusion here.

I don't think we are updating the data conditionally in our forms. We are just controlling the rendering of the components based on current state of the project data. In other words, we always update the project data as soon as it is changed (assuming that we are always showing only required questions in the form) and the

[2019-03-07 07:34] maxceem commented on #2881
The reason for such an approach is to support deep dependencies between fields.

Let's say we have a template JSON where we have 3 questions. The `question2` is shown if the value of `question1` is `true`, and the `question3` is shown when the value of the `question2` is `true`:
[code]

- Imagine at the beginning we have `question1` value is `true` and `question2` value is `true`, then:
[code]

[2019-03-07 08:24] #2880 closed

[2019-03-07 09:07] vikasrohit commented on #2881
Got it. Then I would suggest only to use `preparedConditions` as macros to simply the template management. We can visit it later to improve the performance.

[2019-03-07 11:02] maxceem opened #2883 "Cannot choose particular members when uploading an attachement"
When we upload a file we can share with everybody but cannot choose particular members to share with.

When we choose members they are not show up in the input.

![image](https://user-images.githubusercontent.com/146016/53952367-80088b00-410b-11e9-801c-fff590c41ce5.png)

[2019-03-07 11:18] vikasrohit commented on #2839
Verified on production. All avatar images are under 400B now.

[2019-03-07 11:18] #2839 closed

[2019-03-07 11:19] vikasrohit commented on #2846
Closing as dropdown is working fine after production release. So, seems like upgrade is successful without any regression.

[2019-03-07 11:19] #2846 closed

[2019-03-07 11:19] vikasrohit commented on #2758
@RishiRajSahu we can close it now, right?

[2019-03-07 11:24] vikasrohit commented on #2790
I think we are already working on new designs for phases which might not require this at all.

[2019-03-07 11:24] #2790 closed

[2019-03-07 11:25] vikasrohit commented on #2807
Moving to backlog for now

[2019-03-07 12:20] #2883 closed

[2019-03-08 07:05] RishiRajSahu commented on #2837
Done and pushed to prod.

[2019-03-08 07:05] #2837 closed

[2019-03-08 07:09] RishiRajSahu commented on #2710
fyi @maxceem the member service changes is in dev for this https://github.com/appirio-tech/ap-member-microservice/pull/215

[2019-03-08 07:10] RishiRajSahu commented on #2804
Done and pushed to prod.

[2019-03-08 07:10] #2804 closed

[2019-03-08 07:10] RishiRajSahu commented on #2758
Yep, its done. Closing.

[2019-03-08 07:10] #2758 closed

[2019-03-08 07:12] RishiRajSahu commented on #2572
@vikasrohit closing it as actual title of issue is not in scope anymore, however the issue mentioned about the link being made clickable is fixed.

[2019-03-08 07:12] #2572 closed

[2019-03-08 21:59] ajefts opened #2890 "Unable to add Connect user"
We're unable to add a user to a customer project.  Let's get the user added ASAP so we unblock them and then figure out the root cause.

Project: https://connect.topcoder.com/projects/9526/
User:  vjain1026

To reproduce, simply try adding the user to the customer team.  It finds the user when searching, but then the handle (or email) disappears as soon as you select it so you can't finish the inv

[2019-03-08 22:01] ajefts commented on #2890
@vikasrohit @RishiRajSahu Can you help add this user ASAP please for Zurich?  Please let me know if you need any more details.

fyi @acshields

[2019-03-09 02:54] maxceem commented on #2890
@ajefts I've tried to reproduce this issue on production but couldn't. I've tried to invite user `vjain1026 ` to the test project https://connect.topcoder.com/projects/720 and I can select it and it appears in the field, so I only have to press button `Send invite`, though I didn't press it to avoid confusion the member.

![image](https://user-images.githubusercontent.com/146016/54065249-fcf54b00-

[2019-03-09 03:02] maxceem commented on #2881
@vikasrohit this is done via https://github.com/appirio-tech/connect-app/pull/2891

[2019-03-09 04:17] vikasrohit commented on #2890
@maxceem it seems there is a different issue. I am also facing the same issue and error in the console is:
`Uncaught TypeError: Cannot read property 'handle' of undefined
    at t.value (main.df62dd887521eb28e165.js:formatted:160589)
    at main.df62dd887521eb28e165.js:formatted:160580`

which in turn turns out to be at this following code:

[code]
I am applying a quick fix for that, hopefully tha

[2019-03-09 04:20] maxceem commented on #2890
@vikasrohit the fix looks legit for me if it fixes the issue. I'm not sure how it could happen that `allMembers` doesn't have the user on production 🤔.

[2019-03-09 04:32] vikasrohit commented on #2890
@maxceem while I am not sure how the user is part of `allMembers` in the test project you tried. 😬 Because `allMembers` should have only team members and invites but the user is completely new when inviting, so it should not be in the state, right?

[2019-03-09 04:33] vikasrohit commented on #2890
Also, it might be the condition https://github.com/appirio-tech/connect-app/pull/2893/files#diff-ef542918bc9a45150e32cf69926cb8fdR56 which might be preventing `resolveUserHandle` to be called for the test project?

[2019-03-09 04:37] maxceem commented on #2890
Yeah, `allMembers` contains team members and invited members. But this line https://github.com/appirio-tech/connect-app/pull/2893/files#diff-ef542918bc9a45150e32cf69926cb8fdR70 is called only for invited users, see https://github.com/appirio-tech/connect-app/pull/2893/files#diff-ef542918bc9a45150e32cf69926cb8fdR57. It's not called for the user we are currently adding.

[2019-03-09 05:14] vikasrohit commented on #2890
@ajefts patched production to fix the bug and I have invited the said user to the customer team as well. Let me know if any thing is still there.

[2019-03-11 08:49] vikasrohit commented on #2890
@maxceem I think I got the root cause, it seems 2 users data is not being returned by member api which was causing the null pointer. I think we are safe now, only implication would be that some users (whose data is not returned by member api) could be invited more than once.

[2019-03-11 08:57] ajefts opened #2894 "Restrict Copilot view of "Reviewed" projects"
Current State:

In the 'All Projects' dashboard Copilots have visibility to all projects on which they are participating as well as all projects in 'Reviewed' status, whether they have been invited to those projects or not.

<p></p>

Desired State:

In the 'All Projects' dashboard Copilots have visibility to all projects on which they have been invited and participated. If they have not been invit

[2019-03-11 08:57] ajefts commented on #2894
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1821958

[2019-03-11 08:58] ajefts opened #2895 "Upload and display attachments/pictures in post"

[2019-03-11 08:58] ajefts commented on #2895
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1335967

[2019-03-11 09:02] ajefts opened #2896 "[$40] Enable 'Delete' option available for uploaded files"
Current State:

Users do not have the option to delete a file once it has been uploaded.

<p></p>

Desired State:

User who has uploaded the file (+ Admins) have the ability to delete the files they have uploaded

<p></p>

Reason for Change:

Users can accidentally upload the incorrect file. They need a way to remove the file from the project.

<p></p>

Change Summary:

- Enable the deletion of fi

[2019-03-11 09:02] ajefts commented on #2896
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1822058

[2019-03-11 09:03] ajefts opened #2897 "[$50] Update 'File Upload' UI"
Current State:

When a user clicks the + button for file uploads in the left sidebar, a space appears where they can either drag/drop the file there or they can click a button 'Add File,' at which time a pop-up (powered by Filestack) appears where they can also drag/drop or they can leverage alternative ways of sharing the file.

<p></p>

Desired State:

I would like the user to have one method of

[2019-03-11 09:03] ajefts commented on #2897
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1822129

[2019-03-11 09:41] maxceem commented on #2894
@vikasrohit do you prefer to accomplish it client-side only? Means technically copilots still could see these projects by sending a proper request to the project service. Or apply this change at project service too?

[2019-03-11 09:44] maxceem commented on #2895
@vikasrohit is there any additional info by provided link https://tcprod.productboard.com/feature-board/planning/features/1335967?

In particular:
1. As I understand we should be able to insert pictures in our posts as usually it works in WYSIWYG editors.
2. Regarding `display attachments` does it mean that we should be able to attach arbitrary files to the posts?

[2019-03-11 10:12] vikasrohit commented on #2894
I would like to get it done via backend changes. It would simplify the access logic in project service which would essentially make project search simple for copilots as well, we can introduce project search for copilots as well after this change.

[2019-03-11 10:15] vikasrohit commented on #2895
Nopes, unfortunately there is no more details from the product board.

However, product team wants the full support of attachments/pictures in posts i.e. just like you said WYSIWYG. However, IMO, that could be tricky in first release of this feature, so I would rather like to start with minimal feature for this which is to just support attaching any document to any post and just show the attachmen

[2019-03-11 11:25] vikasrohit commented on #2455
@maxceem I have fixed the issue with event `connect.action.timeline.milestone.waiting.customer`, it was a bug within the [code](https://github.com/topcoder-platform/tc-project-service/commit/22415e4cc8f28c6d4b4c16f850674b1d463b891d).
Further, I am able to see `connect.action.timeline.adjusted` event in tc-notifications database, so I think it should be visible in connect-app as well. Can you pleas

[2019-03-11 12:14] vikasrohit commented on #2890
@ajefts closing the issue, let me know if we need to do anything else to conclude the fix.

[2019-03-11 12:14] #2890 closed

[2019-03-11 13:02] ajefts commented on #2890
Thanks.  I can see the user was invited now.

[2019-03-12 08:51] vikasrohit opened #2899 "[$40] Cannot read property 'push' of undefined"
Random error being logged in Sentry, last recorded on March 6, 2019.

Cannot read property 'push' of undefined

[code]
More details from Sentry:

[code]

**OS**: Windows 10
**Browser**: Chrome 68.0.3440

[2019-03-12 08:51] vikasrohit commented on #2899
@maxceem can we do anything to fix this issue?

[2019-03-12 08:55] vikasrohit opened #2900 "[$50] Cannot set property 'utm' of undefined"
### Expected behavior
Missing data/field should be handled gracefully.

### Actual behavior
Random error is being logged in Sentry:

[code]

Exact code snippet from Sentry log details:

[code]

User action breadcrumb from Sentry:

[code]

--

#### Environment
- OS: Windows 7
- Browser (w/version): Chrome  72.0.3626
- User role (client, copilot or manager): Customer
- Account used: N/A

[2019-03-12 09:43] vikasrohit commented on #2791
@maxceem it seems the error is at this [line](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/ProjectDetail.jsx#L57)  and it is raised when `project` is null in props which can be there when there was an error in loading the project via api.

[2019-03-13 11:17] RishiRajSahu opened #2903 "[$60] Checking balancing of parenthesis for conditions in parser"
### Expected behavior
Parenthesis should always be balanced for conditions passed to the parser otherwise it will give wrong records. Parser itself should check for this before starting evaluating the condition.

### Actual behavior
Currently it assumes that the condition always has balanced parenthesis.

fyi @maxceem @vikasrohit

[2019-03-14 08:58] vikasrohit opened #2904 "Unable to set status to Active for Old projects (v2)"
### Expected behavior
It should allow setting status to Active for old projects which does not have project plan i.e. v2 projects.

### Actual behavior
It shows the Active status button disabled for old v2 projects

### Steps to reproduce the problem
- Open any non active old v2 project
- Click the status dropdown to change the status
- Observe that the `Active` option is disabled with the reason

[2019-03-14 09:25] vikasrohit opened #2905 "Unable to active v3 projects from GridView of projects listing page"
### Expected behavior
User should be able to activate a project which follows the validation (i.e. having at least one planned/active phase) from the status dropdown in the last column of the GridView of the project listing page

### Actual behavior
`Active` option is disabled even if the project follows the validation

### Steps to reproduce the problem
- Locate any project which is not active ye

[2019-03-14 13:45] vikasrohit commented on #2904
Patched prouction

[2019-03-14 13:45] #2904 closed

[2019-03-15 01:54] maxceem commented on #2534
@vikasrohit maybe we can give another try to make this enhancement. I think it would be nice to have it to make it easier to debug issues happened on prod https://github.com/appirio-tech/connect-app/issues/2791, https://github.com/appirio-tech/connect-app/issues/2900, https://github.com/appirio-tech/connect-app/issues/2899. Though still not critical as we can also get the error places using the ob

[2019-03-15 01:56] maxceem commented on #2899
@vikasrohit yeah, we can try to fix this, though without having a reproducible example we can do it only guessing the root of error, fixing it and waiting if the issue happens again.

[2019-03-15 01:56] maxceem commented on #2900
@vikasrohit yeah, we can try to fix this, though without having a reproducible example we can do it only guessing the root of error, fixing it and waiting if the issue happens again.

[2019-03-15 01:59] maxceem commented on #2791
@vikasrohit we can try to play with it and simulate an error in project loading trying to reproduce it. By [code](https://github.com/appirio-tech/connect-app/blob/dev/src/projects/detail/ProjectDetail.jsx#L55), if an error happens during project loading, that line should not be called.

[2019-03-15 05:44] vikasrohit commented on #2905
patched to the production and verified.

[2019-03-15 05:44] #2905 closed

[2019-03-15 05:52] vikasrohit commented on #2546
Removing it from P0 item as it does not seem to have clear requirements yet.

[2019-03-15 06:00] vikasrohit opened #2916 "[$50] Cannot read property 'add' of null"
### Expected behavior
Should not throw error in console

### Actual behavior
For certain use case, it is throwing the mentioned error and it is reported by Sentry

### Screenshot/screencast

[code]

More specific code block identified by Sentry:

[code]

--

#### Environment
- OS: Windows 10
- Browser (w/version): Chrome 68.0.3440
- User role (client, copilot or manager): Manager
- Account used: N

[2019-03-15 06:04] vikasrohit commented on #2900
Yes, essentially all issues reported by Sentry are kind of this nature where  we have to do our best guess using the details shared by Sentry and try to reproduce it on local. Most of the time, we are getting sufficient details from Sentry to reproduce the issue e.g. in this case:

gives us sufficient hint to reproduce it.

[2019-03-15 07:03] vikasrohit commented on #2534
Agreed. However, in most of the issues reported by Sentry, we are getting exact place where the issue was raised and even with the partially obfuscated code, I was able to locate the exact code in our repo as well.

[2019-03-15 07:25] RishiRajSahu opened #2917 "Enabling copilot access to timeline milestone updates"
Copilot not able to access milestones due to bug with the recent changes committed.
Correct all copilot access checks to make them work properly.

[2019-03-15 09:56] RishiRajSahu commented on #2917
Fixed and pushed to dev.

[2019-03-15 09:56] #2917 closed

[2019-03-16 04:35] vikasrohit opened #2920 "Some project team member are being joined with null userId"
### Expected behavior
`userId` should never be null in project members table

### Actual behavior
`userId` is null in project members table for some users. In every case that we found till date, are the member who were invited via email.

### Steps to reproduce the problem
- Invite a customer user via email (this user should not exist in topcoder database)
- Now try login as that customer user and

[2019-03-16 07:13] vikasrohit commented on #2920
Patched on production. Waiting for some time to validate that issue does not occurs anymore.

[2019-03-16 07:32] vikasrohit opened #2921 "Cannot read property 'title' of undefined"
### Expected behavior
Should not throw error in console

### Actual behavior
For certain use case, it is throwing the mentioned error and it is reported by Sentry

### Screenshot/screencast

[code]

More specific code block identified by Sentry:

[code]

--

#### Environment
- OS: Mac OS X 10.13.6
- Browser (w/version): Chrome 72.0.3626
- User role (client, copilot or manager): Manager
- Account u

[2019-03-18 04:58] vikasrohit opened #2922 "Error message for inviting users by email, in topcoder team, is not visible"
### Expected behavior
It should show the reason why the invite process is failing when a user is trying to invite another user in topcoder team.

### Actual behavior
It just fails with a generic toaster error message which does not give required information to the use to correct the input.

### Steps to reproduce the problem
- Invite a user, in topcoder team, for any project. Use email of the user

[2019-03-18 07:27] vikasrohit commented on #2921
Patched and verified on production.

[2019-03-18 07:27] #2921 closed

[2019-03-18 08:36] vikasrohit opened #2926 "Null userId for a customer member should not be displayed under topcoder team"
### Expected behavior
Currently, if somehow the `userId` field in the project member record is null, it renders that particular user in Topcoder team even if the role of that user is `customer`.

### Actual behavior
Although, we should not have null `userId` in project member record, it would be good to handle such situation gracefully. Project member with null `userId` should belong to the correc

[2019-03-18 08:36] vikasrohit commented on #2926
fyi @maxceem @RishiRajSahu @gondzo

[2019-03-18 08:58] RishiRajSahu opened #2927 "[$75] Inviting Topcoder member who is part of customer team is not showing error alert"
### Expected behavior
When inviting existing project member to team it should show error alert.

### Actual behavior
When inviting existing project member to team is not showing error alert.

### Steps to reproduce the problem
- Invite customer via the email ID
- customer gets the notifications and join the topcoder and the project team
 - Later you decide to add that customer to project team as m